{:type :invoke, :f :write, :value 2, :process 9, :time 4939420336, :index 1562}
{:type :ok, :f :write, :value 2, :process 9, :time 4945399010, :index 1563}
{:type :invoke, :f :cas, :value [1 1], :process 1, :time 4959671041, :index 1568}
{:type :invoke, :f :write, :value 4, :process 9, :time 4960662295, :index 1569}
{:type :fail, :f :cas, :value [1 1], :process 1, :time 4965537517, :index 1570}
{:type :ok, :f :write, :value 4, :process 9, :time 4965836729, :index 1571}
{:type :invoke, :f :write, :value 0, :process 6, :time 5048184778, :index 1581}
{:type :ok, :f :write, :value 0, :process 6, :time 5054302971, :index 1583}
{:type :invoke, :f :read, :value nil, :process 8, :time 5068820901, :index 1588}
{:type :ok, :f :read, :value 0, :process 8, :time 5073490718, :index 1589}
{:type :invoke, :f :cas, :value [2 4], :process 1, :time 5088812947, :index 1593}
{:type :fail, :f :cas, :value [2 4], :process 1, :time 5094558984, :index 1595}
{:type :invoke, :f :cas, :value [0 0], :process 1, :time 5095812786, :index 1596}
{:type :ok, :f :cas, :value [0 0], :process 1, :time 5101023574, :index 1597}
{:type :invoke, :f :write, :value 4, :process 3, :time 5112891291, :index 1598}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 5116762257, :index 1601}
{:type :ok, :f :write, :value 4, :process 3, :time 5118867479, :index 1602}
{:type :invoke, :f :read, :value nil, :process 0, :time 5119764722, :index 1603}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 5122297096, :index 1605}
{:type :ok, :f :read, :value 4, :process 0, :time 5124350530, :index 1607}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 5124556358, :index 1608}
{:type :ok, :f :cas, :value [4 4], :process 6, :time 5129683014, :index 1609}
{:type :invoke, :f :read, :value nil, :process 5, :time 5129784282, :index 1610}
{:type :invoke, :f :write, :value 1, :process 9, :time 5130098353, :index 1611}
{:type :invoke, :f :read, :value nil, :process 8, :time 5130577653, :index 1612}
{:type :ok, :f :read, :value 4, :process 5, :time 5135163927, :index 1614}
{:type :ok, :f :write, :value 1, :process 9, :time 5136317575, :index 1615}
{:type :ok, :f :read, :value 1, :process 8, :time 5136741544, :index 1616}
{:type :invoke, :f :write, :value 0, :process 3, :time 5137151335, :index 1617}
{:type :ok, :f :write, :value 0, :process 3, :time 5142154863, :index 1619}
{:type :invoke, :f :write, :value 2, :process 6, :time 5151691033, :index 1622}
{:type :ok, :f :write, :value 2, :process 6, :time 5157009305, :index 1623}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 5161769295, :index 1624}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 5167301879, :index 1626}
{:type :invoke, :f :read, :value nil, :process 0, :time 5186604698, :index 1632}
{:type :ok, :f :read, :value 2, :process 0, :time 5190929783, :index 1633}
{:type :invoke, :f :read, :value nil, :process 1, :time 5197283391, :index 1634}
{:type :ok, :f :read, :value 2, :process 1, :time 5204220323, :index 1637}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 5222185011, :index 1641}
{:type :invoke, :f :write, :value 3, :process 5, :time 5227421543, :index 1642}
{:type :invoke, :f :write, :value 0, :process 9, :time 5241577549, :index 1643}
{:type :invoke, :f :read, :value nil, :process 4, :time 5268589635, :index 1647}
{:type :invoke, :f :write, :value 1, :process 3, :time 5291407545, :index 1650}
{:type :invoke, :f :read, :value nil, :process 8, :time 5295986657, :index 1652}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 5339272982, :index 1655}
{:type :invoke, :f :read, :value nil, :process 1, :time 5389476055, :index 1657}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 5939087977, :index 1659}
{:type :ok, :f :write, :value 3, :process 5, :time 5939885857, :index 1664}
{:type :ok, :f :write, :value 0, :process 9, :time 5940534176, :index 1668}
{:type :ok, :f :read, :value 0, :process 4, :time 5940761412, :index 1669}
{:type :invoke, :f :write, :value 4, :process 0, :time 5995469074, :index 1672}
{:type :ok, :f :write, :value 4, :process 0, :time 6000825588, :index 1673}
{:type :invoke, :f :write, :value 3, :process 4, :time 6001258635, :index 1674}
{:type :ok, :f :write, :value 3, :process 4, :time 6006324146, :index 1675}
{:type :invoke, :f :cas, :value [4 1], :process 5, :time 6049031941, :index 1679}
{:type :fail, :f :cas, :value [4 1], :process 5, :time 6054242020, :index 1682}
{:type :invoke, :f :read, :value nil, :process 0, :time 6072081133, :index 1684}
{:type :ok, :f :read, :value 3, :process 0, :time 6076331658, :index 1685}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 6080581411, :index 1686}
{:type :invoke, :f :write, :value 1, :process 9, :time 6082212473, :index 1687}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 6085823855, :index 1688}
{:type :ok, :f :write, :value 1, :process 9, :time 6087684692, :index 1689}
{:type :invoke, :f :read, :value nil, :process 7, :time 6091773918, :index 1690}
{:type :ok, :f :read, :value 1, :process 7, :time 6096732939, :index 1691}
{:type :invoke, :f :write, :value 2, :process 2, :time 6124705474, :index 1698}
{:type :invoke, :f :write, :value 3, :process 5, :time 6169510188, :index 1702}
{:type :ok, :f :write, :value 2, :process 2, :time 6189382775, :index 1704}
{:type :ok, :f :write, :value 3, :process 5, :time 6190796709, :index 1706}
{:type :invoke, :f :write, :value 3, :process 0, :time 6191605115, :index 1710}
{:type :invoke, :f :write, :value 1, :process 4, :time 6197094681, :index 1711}
{:type :ok, :f :write, :value 3, :process 0, :time 6198356251, :index 1712}
{:type :invoke, :f :write, :value 1, :process 0, :time 6199683051, :index 1713}
{:type :invoke, :f :write, :value 2, :process 7, :time 6200990089, :index 1714}
{:type :ok, :f :write, :value 1, :process 4, :time 6203515292, :index 1715}
{:type :ok, :f :write, :value 1, :process 0, :time 6205611227, :index 1716}
{:type :ok, :f :write, :value 2, :process 7, :time 6206513417, :index 1717}
{:type :invoke, :f :cas, :value [4 3], :process 9, :time 6250940417, :index 1728}
{:type :fail, :f :cas, :value [4 3], :process 9, :time 6257503856, :index 1729}
{:type :invoke, :f :read, :value nil, :process 5, :time 6265028841, :index 1730}
{:type :ok, :f :read, :value 2, :process 5, :time 6270215791, :index 1731}
{:type :invoke, :f :read, :value nil, :process 2, :time 6277670717, :index 1732}
{:type :ok, :f :read, :value 2, :process 2, :time 6283131965, :index 1733}
{:type :invoke, :f :read, :value nil, :process 2, :time 6284385656, :index 1734}
{:type :ok, :f :read, :value 2, :process 2, :time 6290068217, :index 1735}
{:type :invoke, :f :read, :value nil, :process 7, :time 6299758929, :index 1736}
{:type :ok, :f :read, :value 2, :process 7, :time 6304918150, :index 1737}
{:type :invoke, :f :read, :value nil, :process 9, :time 6323765802, :index 1739}
{:type :ok, :f :read, :value 2, :process 9, :time 6330089984, :index 1742}
{:type :invoke, :f :cas, :value [4 1], :process 9, :time 6331341139, :index 1744}
{:type :fail, :f :cas, :value [4 1], :process 9, :time 6336880616, :index 1745}
{:type :invoke, :f :read, :value nil, :process 5, :time 6359482972, :index 1748}
{:type :invoke, :f :read, :value nil, :process 0, :time 6359882003, :index 1749}
{:type :ok, :f :read, :value 2, :process 5, :time 6364347522, :index 1751}
{:type :ok, :f :read, :value 2, :process 0, :time 6365078029, :index 1752}
{:type :invoke, :f :read, :value nil, :process 4, :time 6388770005, :index 1754}
{:type :invoke, :f :cas, :value [2 3], :process 5, :time 6389611494, :index 1755}
{:type :invoke, :f :write, :value 2, :process 0, :time 6441331566, :index 1757}
{:type :invoke, :f :read, :value nil, :process 9, :time 6458141932, :index 1758}
{:type :invoke, :f :read, :value nil, :process 7, :time 6460185672, :index 1759}
{:type :invoke, :f :read, :value nil, :process 2, :time 6473334571, :index 1760}
{:type :ok, :f :write, :value 2, :process 0, :time 6597198131, :index 1765}
{:type :ok, :f :cas, :value [2 3], :process 5, :time 6597506311, :index 1766}
{:type :ok, :f :read, :value 2, :process 7, :time 6598498969, :index 1769}
{:type :ok, :f :read, :value 2, :process 2, :time 6598802547, :index 1770}
{:type :ok, :f :read, :value 2, :process 4, :time 6598802600, :index 1771}
{:type :ok, :f :read, :value 2, :process 9, :time 6599369498, :index 1773}
{:type :invoke, :f :write, :value 0, :process 7, :time 6613715239, :index 1776}
{:type :ok, :f :write, :value 0, :process 7, :time 6619482248, :index 1780}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 6648899713, :index 1784}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 6655311421, :index 1787}
{:type :invoke, :f :write, :value 0, :process 9, :time 6678733271, :index 1790}
{:type :ok, :f :write, :value 0, :process 9, :time 6683220754, :index 1791}
{:type :invoke, :f :cas, :value [0 1], :process 7, :time 6683772970, :index 1792}
{:type :ok, :f :cas, :value [0 1], :process 7, :time 6689181480, :index 1793}
{:type :invoke, :f :write, :value 4, :process 2, :time 6694188907, :index 1794}
{:type :ok, :f :write, :value 4, :process 2, :time 6699106352, :index 1795}
{:type :invoke, :f :read, :value nil, :process 4, :time 6729046616, :index 1800}
{:type :ok, :f :read, :value 4, :process 4, :time 6734274946, :index 1803}
{:type :invoke, :f :write, :value 2, :process 5, :time 6745870343, :index 1806}
{:type :invoke, :f :read, :value nil, :process 0, :time 6747549520, :index 1807}
{:type :ok, :f :write, :value 2, :process 5, :time 6751411054, :index 1808}
{:type :ok, :f :read, :value 2, :process 0, :time 6751954033, :index 1809}
{:type :invoke, :f :read, :value nil, :process 2, :time 6769390802, :index 1815}
{:type :ok, :f :read, :value 2, :process 2, :time 6774989011, :index 1817}
{:type :invoke, :f :read, :value nil, :process 7, :time 6785445145, :index 1818}
{:type :ok, :f :read, :value 2, :process 7, :time 6790235188, :index 1819}
{:type :invoke, :f :read, :value nil, :process 9, :time 6810481981, :index 1822}
{:type :ok, :f :read, :value 2, :process 9, :time 6815625621, :index 1823}
{:type :invoke, :f :write, :value 4, :process 0, :time 6825207529, :index 1824}
{:type :invoke, :f :read, :value nil, :process 4, :time 6838556294, :index 1825}
{:type :invoke, :f :write, :value 1, :process 7, :time 6865495404, :index 1827}
{:type :invoke, :f :write, :value 4, :process 2, :time 6918247130, :index 1831}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 6950670968, :index 1834}
{:type :invoke, :f :write, :value 2, :process 9, :time 6978888863, :index 1835}
{:type :ok, :f :write, :value 4, :process 0, :time 7218379511, :index 1836}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 7220592122, :index 1837}
{:type :ok, :f :write, :value 4, :process 2, :time 7221553211, :index 1839}
{:type :ok, :f :read, :value 4, :process 4, :time 7221639025, :index 1840}
{:type :ok, :f :write, :value 2, :process 9, :time 7222525295, :index 1846}
{:type :ok, :f :write, :value 1, :process 7, :time 7222629309, :index 1847}
{:type :invoke, :f :read, :value nil, :process 4, :time 7222917924, :index 1848}
{:type :ok, :f :read, :value 2, :process 4, :time 7227685677, :index 1849}
{:type :invoke, :f :write, :value 3, :process 7, :time 7234954570, :index 1850}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 7238885759, :index 1851}
{:type :invoke, :f :cas, :value [0 3], :process 2, :time 7239844566, :index 1852}
{:type :ok, :f :write, :value 3, :process 7, :time 7240421173, :index 1853}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 7243624985, :index 1854}
{:type :fail, :f :cas, :value [0 3], :process 2, :time 7245564072, :index 1855}
{:type :invoke, :f :write, :value 2, :process 5, :time 7294885942, :index 1858}
{:type :ok, :f :write, :value 2, :process 5, :time 7301358673, :index 1859}
{:type :invoke, :f :read, :value nil, :process 5, :time 7309610904, :index 1860}
{:type :ok, :f :read, :value 2, :process 5, :time 7315562235, :index 1862}
{:type :invoke, :f :write, :value 4, :process 9, :time 7337978179, :index 1866}
{:type :invoke, :f :read, :value nil, :process 2, :time 7341817238, :index 1867}
{:type :ok, :f :write, :value 4, :process 9, :time 7343298041, :index 1868}
{:type :ok, :f :read, :value 4, :process 2, :time 7347232998, :index 1869}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 7387732333, :index 1877}
{:type :invoke, :f :read, :value nil, :process 4, :time 7389946684, :index 1878}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 7392984164, :index 1880}
{:type :ok, :f :read, :value 4, :process 4, :time 7394288812, :index 1881}
{:type :invoke, :f :cas, :value [2 2], :process 2, :time 7401483578, :index 1882}
{:type :fail, :f :cas, :value [2 2], :process 2, :time 7407153754, :index 1884}
{:type :invoke, :f :cas, :value [0 3], :process 9, :time 7431570330, :index 1888}
{:type :fail, :f :cas, :value [0 3], :process 9, :time 7437567460, :index 1889}
{:type :invoke, :f :cas, :value [0 1], :process 7, :time 7438692821, :index 1890}
{:type :fail, :f :cas, :value [0 1], :process 7, :time 7443908420, :index 1891}
{:type :invoke, :f :read, :value nil, :process 5, :time 7495880200, :index 1899}
{:type :ok, :f :read, :value 4, :process 5, :time 7500465652, :index 1901}
{:type :invoke, :f :read, :value nil, :process 2, :time 7501499878, :index 1903}
{:type :ok, :f :read, :value 4, :process 2, :time 7507441844, :index 1905}
{:type :invoke, :f :read, :value nil, :process 4, :time 7507593379, :index 1906}
{:type :ok, :f :read, :value 4, :process 4, :time 7512678068, :index 1907}
{:type :invoke, :f :read, :value nil, :process 7, :time 7520172621, :index 1908}
{:type :ok, :f :read, :value 4, :process 7, :time 7525175104, :index 1909}
{:type :invoke, :f :write, :value 4, :process 7, :time 7540438731, :index 1911}
{:type :ok, :f :write, :value 4, :process 7, :time 7545647834, :index 1913}
{:type :invoke, :f :write, :value 4, :process 4, :time 7547940386, :index 1914}
{:type :ok, :f :write, :value 4, :process 4, :time 7554656076, :index 1916}
{:type :invoke, :f :write, :value 4, :process 0, :time 7564225463, :index 1920}
{:type :ok, :f :write, :value 4, :process 0, :time 7569618893, :index 1921}
{:type :invoke, :f :cas, :value [3 0], :process 9, :time 7569860107, :index 1922}
{:type :fail, :f :cas, :value [3 0], :process 9, :time 7575691622, :index 1923}
{:type :invoke, :f :cas, :value [1 0], :process 2, :time 7609715945, :index 1926}
{:type :fail, :f :cas, :value [1 0], :process 2, :time 7616811192, :index 1928}
{:type :invoke, :f :write, :value 0, :process 4, :time 7631923309, :index 1932}
{:type :ok, :f :write, :value 0, :process 4, :time 7637127417, :index 1933}
{:type :invoke, :f :write, :value 1, :process 5, :time 7674727114, :index 1938}
{:type :ok, :f :write, :value 1, :process 5, :time 7678952308, :index 1939}
{:type :invoke, :f :read, :value nil, :process 9, :time 7683952081, :index 1940}
{:type :ok, :f :read, :value 1, :process 9, :time 7689081785, :index 1941}
{:type :invoke, :f :read, :value nil, :process 0, :time 7694878255, :index 1942}
{:type :ok, :f :read, :value 1, :process 0, :time 7700049038, :index 1943}
{:type :invoke, :f :write, :value 1, :process 7, :time 7740903825, :index 1951}
{:type :ok, :f :write, :value 1, :process 7, :time 7748161907, :index 1953}
{:type :invoke, :f :read, :value nil, :process 2, :time 7757071179, :index 1956}
{:type :ok, :f :read, :value 1, :process 2, :time 8000450076, :index 1968}
{:type :info, :f :write, :value 1, :process 3, :time 10298785019, :error :timeout, :index 2146}
{:type :fail, :f :read, :value nil, :process 8, :time 10299425659, :error :timeout, :index 2147}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :cas, :value [3 4], :process 6, :time 10344942211, :error :timeout, :index 2151}
{:type :fail, :f :read, :value nil, :process 1, :time 10396358271, :error :timeout, :index 2157}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
