{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :invoke, :f :read, :value nil, :process 50, :time 34774091058, :index 5530}
{:type :ok, :f :read, :value nil, :process 50, :time 34779234155, :index 5533}
{:type :invoke, :f :write, :value 0, :process 52, :time 34797379350, :index 5542}
{:type :ok, :f :write, :value 0, :process 52, :time 34802438498, :index 5544}
{:type :invoke, :f :read, :value nil, :process 35, :time 34824649187, :index 5550}
{:type :invoke, :f :write, :value 0, :process 53, :time 34827086270, :index 5552}
{:type :invoke, :f :cas, :value [4 1], :process 52, :time 34827710718, :index 5553}
{:type :ok, :f :read, :value 0, :process 35, :time 34830404006, :index 5554}
{:type :ok, :f :write, :value 0, :process 53, :time 34832013005, :index 5556}
{:type :fail, :f :cas, :value [4 1], :process 52, :time 34832579482, :index 5557}
{:type :invoke, :f :write, :value 3, :process 35, :time 34858716379, :index 5558}
{:type :invoke, :f :write, :value 0, :process 36, :time 34858915647, :index 5559}
{:type :invoke, :f :read, :value nil, :process 51, :time 34859709118, :index 5560}
{:type :ok, :f :read, :value 3, :process 51, :time 34865798451, :index 5562}
{:type :ok, :f :write, :value 3, :process 35, :time 34866092294, :index 5563}
{:type :ok, :f :write, :value 0, :process 36, :time 34866444550, :index 5564}
{:type :invoke, :f :read, :value nil, :process 17, :time 34898062697, :index 5580}
{:type :invoke, :f :write, :value 2, :process 52, :time 34899831380, :index 5581}
{:type :ok, :f :read, :value 0, :process 17, :time 34903103997, :index 5582}
{:type :invoke, :f :cas, :value [4 1], :process 34, :time 34903364614, :index 5583}
{:type :ok, :f :write, :value 2, :process 52, :time 34904834730, :index 5585}
{:type :fail, :f :cas, :value [4 1], :process 34, :time 34908611350, :index 5588}
{:type :invoke, :f :cas, :value [3 4], :process 52, :time 34934268186, :index 5594}
{:type :fail, :f :cas, :value [3 4], :process 52, :time 34939686950, :index 5595}
{:type :invoke, :f :write, :value 0, :process 78, :time 34954645503, :index 5597}
{:type :invoke, :f :cas, :value [2 2], :process 53, :time 34971279461, :index 5599}
{:type :invoke, :f :write, :value 2, :process 50, :time 34971499798, :index 5600}
{:type :invoke, :f :read, :value nil, :process 35, :time 34979323841, :index 5603}
{:type :invoke, :f :cas, :value [3 2], :process 59, :time 34988367694, :index 5606}
{:type :invoke, :f :write, :value 0, :process 51, :time 35017073867, :index 5608}
{:type :invoke, :f :read, :value nil, :process 36, :time 35043692072, :index 5611}
{:type :invoke, :f :read, :value nil, :process 17, :time 35083372333, :index 5615}
{:type :invoke, :f :read, :value nil, :process 34, :time 35102888501, :index 5616}
{:type :invoke, :f :write, :value 3, :process 52, :time 35134947961, :index 5617}
{:type :ok, :f :write, :value 0, :process 78, :time 35314753129, :index 5618}
{:type :invoke, :f :read, :value nil, :process 78, :time 35365125163, :index 5619}
{:type :ok, :f :write, :value 3, :process 52, :time 35377136566, :index 5620}
{:type :ok, :f :read, :value 0, :process 17, :time 35377397832, :index 5621}
{:type :ok, :f :cas, :value [2 2], :process 53, :time 35378173618, :index 5624}
{:type :ok, :f :write, :value 0, :process 51, :time 35378454052, :index 5625}
{:type :ok, :f :read, :value 0, :process 36, :time 35378753112, :index 5626}
{:type :ok, :f :read, :value 0, :process 34, :time 35379238967, :index 5629}
{:type :ok, :f :read, :value 3, :process 78, :time 35379560032, :index 5631}
{:type :fail, :f :cas, :value [3 2], :process 59, :time 35380323301, :index 5634}
{:type :ok, :f :read, :value 2, :process 35, :time 35380737715, :index 5637}
{:type :ok, :f :write, :value 2, :process 50, :time 35381072110, :index 5639}
{:type :invoke, :f :read, :value nil, :process 51, :time 35415702070, :index 5642}
{:type :ok, :f :read, :value 3, :process 51, :time 35421672647, :index 5643}
{:type :invoke, :f :cas, :value [3 1], :process 52, :time 35432442788, :index 5644}
{:type :invoke, :f :write, :value 3, :process 50, :time 35435305675, :index 5645}
{:type :ok, :f :cas, :value [3 1], :process 52, :time 35437215586, :index 5646}
{:type :invoke, :f :read, :value nil, :process 34, :time 35438517074, :index 5647}
{:type :ok, :f :write, :value 3, :process 50, :time 35440451329, :index 5648}
{:type :ok, :f :read, :value 3, :process 34, :time 35442853813, :index 5649}
{:type :invoke, :f :read, :value nil, :process 51, :time 35463938843, :index 5650}
{:type :ok, :f :read, :value 3, :process 51, :time 35470210559, :index 5652}
{:type :invoke, :f :read, :value nil, :process 35, :time 35498999230, :index 5656}
{:type :ok, :f :read, :value 3, :process 35, :time 35505073885, :index 5657}
{:type :invoke, :f :read, :value nil, :process 78, :time 35527811349, :index 5670}
{:type :ok, :f :read, :value 3, :process 78, :time 35533366097, :index 5673}
{:type :invoke, :f :cas, :value [0 1], :process 34, :time 35536109226, :index 5675}
{:type :invoke, :f :write, :value 0, :process 17, :time 35541650948, :index 5677}
{:type :fail, :f :cas, :value [0 1], :process 34, :time 35542051240, :index 5678}
{:type :ok, :f :write, :value 0, :process 17, :time 35546247012, :index 5679}
{:type :invoke, :f :cas, :value [3 0], :process 35, :time 35548342701, :index 5680}
{:type :fail, :f :cas, :value [3 0], :process 35, :time 35553408026, :index 5681}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 35563986922, :index 5682}
{:type :invoke, :f :write, :value 4, :process 59, :time 35567854575, :index 5683}
{:type :ok, :f :cas, :value [0 0], :process 36, :time 35568693516, :index 5684}
{:type :invoke, :f :cas, :value [0 1], :process 34, :time 35572307059, :index 5685}
{:type :invoke, :f :read, :value nil, :process 53, :time 35572488540, :index 5686}
{:type :ok, :f :write, :value 4, :process 59, :time 35573227211, :index 5687}
{:type :fail, :f :cas, :value [0 1], :process 34, :time 35578069851, :index 5689}
{:type :ok, :f :read, :value 4, :process 53, :time 35578346303, :index 5690}
{:type :invoke, :f :cas, :value [1 3], :process 78, :time 35591616986, :index 5693}
{:type :fail, :f :cas, :value [1 3], :process 78, :time 35596421299, :index 5695}
{:type :invoke, :f :read, :value nil, :process 51, :time 35597483593, :index 5696}
{:type :invoke, :f :write, :value 0, :process 59, :time 35597486219, :index 5697}
{:type :ok, :f :read, :value 0, :process 51, :time 35602962673, :index 5698}
{:type :ok, :f :write, :value 0, :process 59, :time 35603094341, :index 5699}
{:type :invoke, :f :read, :value nil, :process 52, :time 35607480430, :index 5700}
{:type :ok, :f :read, :value 0, :process 52, :time 35611934703, :index 5701}
{:type :invoke, :f :write, :value 0, :process 17, :time 35614505168, :index 5702}
{:type :ok, :f :write, :value 0, :process 17, :time 35618977071, :index 5703}
{:type :invoke, :f :read, :value nil, :process 50, :time 35637641413, :index 5709}
{:type :invoke, :f :write, :value 2, :process 17, :time 35641238513, :index 5711}
{:type :ok, :f :read, :value 0, :process 50, :time 35642563322, :index 5712}
{:type :ok, :f :write, :value 2, :process 17, :time 35646132757, :index 5714}
{:type :invoke, :f :write, :value 0, :process 52, :time 35647190957, :index 5715}
{:type :invoke, :f :write, :value 4, :process 34, :time 35648384354, :index 5716}
{:type :ok, :f :write, :value 0, :process 52, :time 35651827332, :index 5718}
{:type :ok, :f :write, :value 4, :process 34, :time 35654151956, :index 5720}
{:type :invoke, :f :read, :value nil, :process 35, :time 35656664273, :index 5721}
{:type :ok, :f :read, :value 4, :process 35, :time 35662203801, :index 5724}
{:type :invoke, :f :cas, :value [4 1], :process 50, :time 35662872035, :index 5725}
{:type :ok, :f :cas, :value [4 1], :process 50, :time 35667749343, :index 5727}
{:type :invoke, :f :write, :value 2, :process 59, :time 35717349456, :index 5735}
{:type :ok, :f :write, :value 2, :process 59, :time 35723303949, :index 5737}
{:type :invoke, :f :write, :value 1, :process 34, :time 35728442173, :index 5740}
{:type :ok, :f :write, :value 1, :process 34, :time 35734261630, :index 5742}
{:type :invoke, :f :cas, :value [4 1], :process 36, :time 35743971287, :index 5744}
{:type :invoke, :f :read, :value nil, :process 50, :time 35745013137, :index 5745}
{:type :fail, :f :cas, :value [4 1], :process 36, :time 35749464764, :index 5746}
{:type :invoke, :f :cas, :value [0 2], :process 53, :time 35749627873, :index 5747}
{:type :ok, :f :read, :value 1, :process 50, :time 35750451577, :index 5748}
{:type :invoke, :f :write, :value 3, :process 78, :time 35751683745, :index 5749}
{:type :fail, :f :cas, :value [0 2], :process 53, :time 35754963064, :index 5750}
{:type :ok, :f :write, :value 3, :process 78, :time 35756828544, :index 5751}
{:type :invoke, :f :read, :value nil, :process 51, :time 35771232990, :index 5756}
{:type :invoke, :f :read, :value nil, :process 35, :time 35774473638, :index 5757}
{:type :ok, :f :read, :value 3, :process 51, :time 35776344789, :index 5758}
{:type :ok, :f :read, :value 3, :process 35, :time 35779689535, :index 5759}
{:type :invoke, :f :cas, :value [0 0], :process 51, :time 35781606621, :index 5760}
{:type :invoke, :f :read, :value nil, :process 36, :time 35783747729, :index 5761}
{:type :fail, :f :cas, :value [0 0], :process 51, :time 35787127767, :index 5763}
{:type :ok, :f :read, :value 3, :process 36, :time 35788884170, :index 5764}
{:type :invoke, :f :read, :value nil, :process 78, :time 35823095895, :index 5768}
{:type :invoke, :f :write, :value 4, :process 36, :time 35824145503, :index 5769}
{:type :invoke, :f :cas, :value [2 3], :process 17, :time 35825401430, :index 5771}
{:type :ok, :f :read, :value 3, :process 78, :time 35828638018, :index 5773}
{:type :ok, :f :write, :value 4, :process 36, :time 35830260639, :index 5775}
{:type :fail, :f :cas, :value [2 3], :process 17, :time 35830952372, :index 5776}
{:type :invoke, :f :write, :value 0, :process 52, :time 35839116130, :index 5781}
{:type :ok, :f :write, :value 0, :process 52, :time 35843319653, :index 5784}
{:type :invoke, :f :cas, :value [2 2], :process 36, :time 35847490017, :index 5786}
{:type :invoke, :f :write, :value 0, :process 35, :time 35851956421, :index 5787}
{:type :fail, :f :cas, :value [2 2], :process 36, :time 35853170235, :index 5788}
{:type :ok, :f :write, :value 0, :process 35, :time 35856742247, :index 5789}
{:type :invoke, :f :cas, :value [4 3], :process 51, :time 35874410137, :index 5792}
{:type :fail, :f :cas, :value [4 3], :process 51, :time 35879393096, :index 5794}
{:type :invoke, :f :write, :value 0, :process 59, :time 35890582768, :index 5796}
{:type :ok, :f :write, :value 0, :process 59, :time 35895811963, :index 5798}
{:type :invoke, :f :write, :value 0, :process 34, :time 35897522265, :index 5800}
{:type :invoke, :f :read, :value nil, :process 17, :time 35899150272, :index 5801}
{:type :ok, :f :read, :value 0, :process 17, :time 35903338183, :index 5803}
{:type :ok, :f :write, :value 0, :process 34, :time 35903535309, :index 5804}
{:type :invoke, :f :read, :value nil, :process 50, :time 35926718774, :index 5815}
{:type :ok, :f :read, :value 0, :process 50, :time 35932160993, :index 5818}
{:type :invoke, :f :cas, :value [3 3], :process 35, :time 35940001346, :index 5820}
{:type :invoke, :f :cas, :value [0 0], :process 53, :time 35944227437, :index 5821}
{:type :fail, :f :cas, :value [3 3], :process 35, :time 35945763616, :index 5822}
{:type :ok, :f :cas, :value [0 0], :process 53, :time 35949435306, :index 5823}
{:type :invoke, :f :write, :value 1, :process 59, :time 35955077247, :index 5824}
{:type :invoke, :f :write, :value 2, :process 34, :time 35962810534, :index 5828}
{:type :invoke, :f :cas, :value [3 3], :process 78, :time 35975907178, :index 5830}
{:type :invoke, :f :write, :value 1, :process 36, :time 35980428984, :index 5831}
{:type :fail, :f :cas, :value [3 3], :process 78, :time 35981632971, :index 5832}
{:type :ok, :f :write, :value 1, :process 36, :time 35985750620, :index 5833}
{:type :ok, :f :write, :value 1, :process 59, :time 35999983653, :index 5834}
{:type :invoke, :f :read, :value nil, :process 78, :time 36001893217, :index 5835}
{:type :ok, :f :read, :value 1, :process 78, :time 36007673797, :index 5836}
{:type :invoke, :f :cas, :value [2 0], :process 52, :time 36022580681, :index 5837}
{:type :fail, :f :cas, :value [2 0], :process 52, :time 36028566668, :index 5840}
{:type :invoke, :f :read, :value nil, :process 51, :time 36044656323, :index 5846}
{:type :invoke, :f :read, :value nil, :process 53, :time 36055696893, :index 5847}
{:type :ok, :f :read, :value 1, :process 53, :time 36061673341, :index 5848}
{:type :invoke, :f :cas, :value [3 4], :process 35, :time 36080029855, :index 5853}
{:type :invoke, :f :write, :value 1, :process 17, :time 36084632618, :index 5854}
{:type :fail, :f :cas, :value [3 4], :process 35, :time 36088146475, :index 5857}
{:type :ok, :f :write, :value 1, :process 17, :time 36090052337, :index 5858}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 36091007273, :index 5859}
{:type :invoke, :f :cas, :value [1 2], :process 35, :time 36096415325, :index 5862}
{:type :ok, :f :cas, :value [1 2], :process 35, :time 36103641971, :index 5863}
{:type :invoke, :f :write, :value 4, :process 78, :time 36103938192, :index 5864}
{:type :ok, :f :write, :value 4, :process 78, :time 36108898951, :index 5865}
{:type :invoke, :f :read, :value nil, :process 50, :time 36129425654, :index 5869}
{:type :ok, :f :read, :value 4, :process 50, :time 36134517656, :index 5870}
{:type :invoke, :f :write, :value 2, :process 17, :time 36138319239, :index 5872}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :ok, :f :write, :value 2, :process 17, :time 36143758359, :index 5875}
{:type :invoke, :f :write, :value 4, :process 59, :time 36195248443, :index 5878}
{:type :invoke, :f :cas, :value [3 2], :process 17, :time 36201017134, :index 5880}
{:type :invoke, :f :read, :value nil, :process 52, :time 36202834031, :index 5881}
{:type :invoke, :f :read, :value nil, :process 53, :time 36228945409, :index 5884}
{:type :invoke, :f :write, :value 1, :process 78, :time 36241169185, :index 5885}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :invoke, :f :cas, :value [1 3], :process 35, :time 36268932342, :index 5888}
{:type :invoke, :f :read, :value nil, :process 50, :time 36318807996, :index 5889}
{:type :ok, :f :read, :value 2, :process 52, :time 36782051901, :index 5892}
{:type :fail, :f :cas, :value [3 2], :process 17, :time 36782565795, :index 5894}
{:type :ok, :f :read, :value 2, :process 51, :time 36783371053, :index 5898}
{:type :ok, :f :read, :value 2, :process 50, :time 36783658459, :index 5899}
{:type :ok, :f :cas, :value [2 1], :process 36, :time 36783679055, :index 5900}
{:type :fail, :f :cas, :value [1 3], :process 35, :time 36784259982, :index 5901}
{:type :invoke, :f :cas, :value [4 3], :process 36, :time 36788548010, :index 5902}
{:type :fail, :f :cas, :value [4 3], :process 36, :time 36794492590, :index 5903}
{:type :invoke, :f :read, :value nil, :process 17, :time 36826821703, :index 5904}
{:type :ok, :f :read, :value 1, :process 17, :time 36831620913, :index 5905}
{:type :invoke, :f :write, :value 0, :process 36, :time 36833762257, :index 5906}
{:type :invoke, :f :cas, :value [0 0], :process 51, :time 36854670086, :index 5908}
{:type :invoke, :f :write, :value 3, :process 50, :time 36901031289, :index 5915}
{:type :invoke, :f :write, :value 1, :process 52, :time 36901451421, :index 5916}
{:type :invoke, :f :write, :value 0, :process 35, :time 36946585634, :index 5917}
{:type :ok, :f :write, :value 0, :process 36, :time 37186031852, :index 5918}
{:type :ok, :f :write, :value 1, :process 52, :time 37187432394, :index 5919}
{:type :ok, :f :cas, :value [0 0], :process 51, :time 37188184193, :index 5920}
{:type :ok, :f :write, :value 3, :process 50, :time 37188658327, :index 5923}
{:type :ok, :f :write, :value 0, :process 35, :time 37188893711, :index 5924}
{:type :info, :f :write, :value 2, :process 34, :time 40967535309, :error :timeout, :index 6425}
{:type :info, :f :write, :value 4, :process 59, :time 41202229684, :error :timeout, :index 6480}
{:type :fail, :f :read, :value nil, :process 53, :time 41234997847, :error :timeout, :index 6491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :write, :value 1, :process 78, :time 41246968932, :error :timeout, :index 6495}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
