{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 23795525352, :index 7146}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 23797504065, :error :connect, :index 7148}
{:type :invoke, :f :write, :value 2, :process 4, :time 23820533660, :index 7158}
{:type :fail, :f :write, :value 2, :process 4, :time 23822154397, :error :connect, :index 7159}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 23829092992, :index 7161}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 23831156017, :error :connect, :index 7164}
{:type :invoke, :f :read, :value nil, :process 3, :time 23843003047, :index 7166}
{:type :fail, :f :read, :value nil, :process 3, :time 23844644134, :error :connect, :index 7167}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 23850060972, :index 7168}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 23852128149, :error :connect, :index 7169}
{:type :invoke, :f :write, :value 2, :process 22, :time 23866457053, :index 7172}
{:type :fail, :f :write, :value 2, :process 22, :time 23868379263, :error :connect, :index 7175}
{:type :invoke, :f :read, :value nil, :process 5, :time 23894931598, :index 7185}
{:type :invoke, :f :cas, :value [4 0], :process 21, :time 23896417529, :index 7186}
{:type :fail, :f :read, :value nil, :process 5, :time 23897063707, :error :connect, :index 7188}
{:type :invoke, :f :read, :value nil, :process 3, :time 23897191414, :index 7189}
{:type :fail, :f :cas, :value [4 0], :process 21, :time 23898259796, :error :connect, :index 7190}
{:type :fail, :f :read, :value nil, :process 3, :time 23899027563, :error :connect, :index 7191}
{:type :invoke, :f :read, :value nil, :process 0, :time 23901236609, :index 7192}
{:type :fail, :f :read, :value nil, :process 0, :time 23903275283, :error :connect, :index 7193}
{:type :invoke, :f :read, :value nil, :process 6, :time 23906408668, :index 7194}
{:type :fail, :f :read, :value nil, :process 6, :time 23908526803, :error :connect, :index 7195}
{:type :invoke, :f :read, :value nil, :process 29, :time 23912652960, :index 7196}
{:type :fail, :f :read, :value nil, :process 29, :time 23914667335, :error :connect, :index 7197}
{:type :invoke, :f :read, :value nil, :process 7, :time 23938732213, :index 7206}
{:type :fail, :f :read, :value nil, :process 7, :time 23940715238, :error :connect, :index 7209}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 23941792547, :index 7210}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 23943473890, :error :connect, :index 7211}
{:type :invoke, :f :write, :value 3, :process 0, :time 23943547276, :index 7212}
{:type :fail, :f :write, :value 3, :process 0, :time 23945206351, :error :connect, :index 7213}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 23945821097, :index 7214}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 23948037806, :error :connect, :index 7215}
{:type :invoke, :f :read, :value nil, :process 3, :time 23959289723, :index 7220}
{:type :fail, :f :read, :value nil, :process 3, :time 23961081082, :error :connect, :index 7221}
{:type :invoke, :f :cas, :value [1 1], :process 22, :time 23962630320, :index 7222}
{:type :fail, :f :cas, :value [1 1], :process 22, :time 23964424809, :error :connect, :index 7224}
{:type :invoke, :f :write, :value 3, :process 4, :time 23984415349, :index 7228}
{:type :invoke, :f :cas, :value [2 2], :process 22, :time 23984689679, :index 7229}
{:type :fail, :f :write, :value 3, :process 4, :time 23986162511, :error :connect, :index 7230}
{:type :fail, :f :cas, :value [2 2], :process 22, :time 23986679004, :error :connect, :index 7231}
{:type :invoke, :f :cas, :value [0 3], :process 29, :time 23988961263, :index 7232}
{:type :invoke, :f :write, :value 3, :process 21, :time 23990538580, :index 7233}
{:type :fail, :f :cas, :value [0 3], :process 29, :time 23990834787, :error :connect, :index 7234}
{:type :fail, :f :write, :value 3, :process 21, :time 23992469669, :error :connect, :index 7236}
{:type :invoke, :f :read, :value nil, :process 6, :time 23995782061, :index 7241}
{:type :fail, :f :read, :value nil, :process 6, :time 23997954746, :error :connect, :index 7243}
{:type :invoke, :f :write, :value 2, :process 0, :time 24053468319, :index 7256}
{:type :fail, :f :write, :value 2, :process 0, :time 24055317456, :error :connect, :index 7257}
{:type :invoke, :f :write, :value 4, :process 4, :time 24064342472, :index 7264}
{:type :fail, :f :write, :value 4, :process 4, :time 24066124044, :error :connect, :index 7265}
{:type :invoke, :f :cas, :value [1 4], :process 29, :time 24078087864, :index 7266}
{:type :fail, :f :cas, :value [1 4], :process 29, :time 24079869755, :error :connect, :index 7267}
{:type :invoke, :f :write, :value 1, :process 22, :time 24079989246, :index 7268}
{:type :fail, :f :write, :value 1, :process 22, :time 24082068158, :error :connect, :index 7269}
{:type :invoke, :f :write, :value 3, :process 3, :time 24083341166, :index 7270}
{:type :fail, :f :write, :value 3, :process 3, :time 24085225711, :error :connect, :index 7271}
{:type :invoke, :f :read, :value nil, :process 5, :time 24094314560, :index 7274}
{:type :fail, :f :read, :value nil, :process 5, :time 24096364379, :error :connect, :index 7275}
{:type :invoke, :f :write, :value 2, :process 5, :time 24100631513, :index 7278}
{:type :fail, :f :write, :value 2, :process 5, :time 24102467548, :error :connect, :index 7280}
{:type :invoke, :f :write, :value 4, :process 8, :time 24107313499, :index 7283}
{:type :fail, :f :write, :value 4, :process 8, :time 24108918472, :error :connect, :index 7285}
{:type :invoke, :f :cas, :value [2 4], :process 7, :time 24114009338, :index 7286}
{:type :fail, :f :cas, :value [2 4], :process 7, :time 24116084259, :error :connect, :index 7287}
{:type :invoke, :f :write, :value 1, :process 0, :time 24126579910, :index 7288}
{:type :fail, :f :write, :value 1, :process 0, :time 24128576397, :error :connect, :index 7289}
{:type :invoke, :f :cas, :value [4 3], :process 21, :time 24143735274, :index 7294}
{:type :fail, :f :cas, :value [4 3], :process 21, :time 24145828556, :error :connect, :index 7295}
{:type :invoke, :f :read, :value nil, :process 8, :time 24154172634, :index 7296}
{:type :fail, :f :read, :value nil, :process 8, :time 24156106019, :error :connect, :index 7297}
{:type :invoke, :f :write, :value 4, :process 3, :time 24163485175, :index 7302}
{:type :fail, :f :write, :value 4, :process 3, :time 24165093705, :error :connect, :index 7303}
{:type :invoke, :f :write, :value 3, :process 4, :time 24168381793, :index 7304}
{:type :fail, :f :write, :value 3, :process 4, :time 24170363213, :error :connect, :index 7305}
{:type :invoke, :f :write, :value 4, :process 3, :time 24177349896, :index 7310}
{:type :fail, :f :write, :value 4, :process 3, :time 24179261370, :error :connect, :index 7311}
{:type :invoke, :f :write, :value 4, :process 7, :time 24182357819, :index 7312}
{:type :invoke, :f :write, :value 2, :process 6, :time 24183212528, :index 7313}
{:type :fail, :f :write, :value 4, :process 7, :time 24184341007, :error :connect, :index 7314}
{:type :fail, :f :write, :value 2, :process 6, :time 24185158038, :error :connect, :index 7315}
{:type :invoke, :f :write, :value 0, :process 0, :time 24203837055, :index 7320}
{:type :fail, :f :write, :value 0, :process 0, :time 24205882838, :error :connect, :index 7321}
{:type :invoke, :f :write, :value 2, :process 4, :time 24208631724, :index 7322}
{:type :fail, :f :write, :value 2, :process 4, :time 24210519205, :error :connect, :index 7323}
{:type :invoke, :f :read, :value nil, :process 4, :time 24213779323, :index 7324}
{:type :fail, :f :read, :value nil, :process 4, :time 24215776460, :error :connect, :index 7325}
{:type :invoke, :f :write, :value 4, :process 5, :time 24216727909, :index 7326}
{:type :fail, :f :write, :value 4, :process 5, :time 24218862387, :error :connect, :index 7327}
{:type :invoke, :f :read, :value nil, :process 22, :time 24222332086, :index 7330}
{:type :fail, :f :read, :value nil, :process 22, :time 24224270604, :error :connect, :index 7331}
{:type :invoke, :f :write, :value 0, :process 29, :time 24227149968, :index 7332}
{:type :fail, :f :write, :value 0, :process 29, :time 24228711802, :error :connect, :index 7333}
{:type :invoke, :f :write, :value 2, :process 29, :time 24241986543, :index 7337}
{:type :fail, :f :write, :value 2, :process 29, :time 24243951132, :error :connect, :index 7339}
{:type :invoke, :f :read, :value nil, :process 3, :time 24260521718, :index 7344}
{:type :invoke, :f :write, :value 3, :process 8, :time 24261378922, :index 7345}
{:type :fail, :f :read, :value nil, :process 3, :time 24262582138, :error :connect, :index 7346}
{:type :fail, :f :write, :value 3, :process 8, :time 24263190686, :error :connect, :index 7347}
{:type :invoke, :f :read, :value nil, :process 7, :time 24283629648, :index 7354}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 24284977929, :index 7355}
{:type :fail, :f :read, :value nil, :process 7, :time 24285383472, :error :connect, :index 7356}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 24287009447, :error :connect, :index 7357}
{:type :invoke, :f :read, :value nil, :process 5, :time 24307130616, :index 7360}
{:type :fail, :f :read, :value nil, :process 5, :time 24309383863, :error :connect, :index 7363}
{:type :invoke, :f :read, :value nil, :process 6, :time 24311421423, :index 7366}
{:type :fail, :f :read, :value nil, :process 6, :time 24313592037, :error :connect, :index 7368}
{:type :invoke, :f :read, :value nil, :process 21, :time 24326096736, :index 7376}
{:type :fail, :f :read, :value nil, :process 21, :time 24327962855, :error :connect, :index 7377}
{:type :invoke, :f :write, :value 0, :process 8, :time 24340427157, :index 7380}
{:type :fail, :f :write, :value 0, :process 8, :time 24342468254, :error :connect, :index 7381}
{:type :invoke, :f :cas, :value [3 4], :process 22, :time 24360624287, :index 7386}
{:type :fail, :f :cas, :value [3 4], :process 22, :time 24362492169, :error :connect, :index 7387}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 24372038699, :index 7388}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 24373907469, :error :connect, :index 7389}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 24375682562, :index 7390}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 24377550307, :error :connect, :index 7391}
{:type :invoke, :f :read, :value nil, :process 0, :time 24395146017, :index 7396}
{:type :fail, :f :read, :value nil, :process 0, :time 24397210634, :error :connect, :index 7397}
{:type :invoke, :f :read, :value nil, :process 7, :time 24399630917, :index 7400}
{:type :fail, :f :read, :value nil, :process 7, :time 24401225350, :error :connect, :index 7401}
{:type :invoke, :f :read, :value nil, :process 4, :time 24404185472, :index 7402}
{:type :invoke, :f :cas, :value [0 2], :process 29, :time 24404188918, :index 7403}
{:type :fail, :f :cas, :value [0 2], :process 29, :time 24406399127, :error :connect, :index 7404}
{:type :fail, :f :read, :value nil, :process 4, :time 24406632375, :error :connect, :index 7405}
{:type :invoke, :f :read, :value nil, :process 8, :time 24418729966, :index 7408}
{:type :fail, :f :read, :value nil, :process 8, :time 24420712791, :error :connect, :index 7409}
{:type :invoke, :f :read, :value nil, :process 5, :time 24426823952, :index 7412}
{:type :fail, :f :read, :value nil, :process 5, :time 24428671380, :error :connect, :index 7413}
{:type :invoke, :f :read, :value nil, :process 6, :time 24431873596, :index 7417}
{:type :fail, :f :read, :value nil, :process 6, :time 24434191035, :error :connect, :index 7421}
{:type :invoke, :f :read, :value nil, :process 21, :time 24444230624, :index 7422}
{:type :fail, :f :read, :value nil, :process 21, :time 24446085203, :error :connect, :index 7423}
{:type :invoke, :f :write, :value 4, :process 6, :time 24451475199, :index 7426}
{:type :fail, :f :write, :value 4, :process 6, :time 24453278188, :error :connect, :index 7427}
{:type :invoke, :f :cas, :value [0 1], :process 22, :time 24457758251, :index 7428}
{:type :fail, :f :cas, :value [0 1], :process 22, :time 24459652931, :error :connect, :index 7429}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 24461297700, :index 7430}
{:type :fail, :f :cas, :value [1 2], :process 3, :time 24463180123, :error :connect, :index 7431}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 24473447638, :index 7433}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 24475174811, :error :connect, :index 7436}
{:type :invoke, :f :cas, :value [2 4], :process 21, :time 24495359948, :index 7449}
{:type :fail, :f :cas, :value [2 4], :process 21, :time 24497027385, :error :connect, :index 7450}
{:type :invoke, :f :cas, :value [2 2], :process 22, :time 24497957745, :index 7452}
{:type :fail, :f :cas, :value [2 2], :process 22, :time 24499798342, :error :connect, :index 7453}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 24507910754, :index 7455}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 24509581743, :error :connect, :index 7457}
{:type :invoke, :f :read, :value nil, :process 7, :time 24516482378, :index 7458}
{:type :fail, :f :read, :value nil, :process 7, :time 24518520525, :error :connect, :index 7459}
{:type :invoke, :f :cas, :value [2 1], :process 29, :time 24538711993, :index 7464}
{:type :fail, :f :cas, :value [2 1], :process 29, :time 24540814557, :error :connect, :index 7465}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 24564016232, :index 7470}
{:type :invoke, :f :write, :value 4, :process 0, :time 24565491712, :index 7471}
{:type :fail, :f :cas, :value [3 3], :process 8, :time 24566188738, :error :connect, :index 7472}
{:type :fail, :f :write, :value 4, :process 0, :time 24567625083, :error :connect, :index 7473}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 24568851520, :index 7474}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 24570661926, :error :connect, :index 7475}
{:type :invoke, :f :cas, :value [1 4], :process 5, :time 24579940640, :index 7476}
{:type :fail, :f :cas, :value [1 4], :process 5, :time 24581837676, :error :connect, :index 7477}
{:type :invoke, :f :write, :value 1, :process 22, :time 24583098120, :index 7478}
{:type :fail, :f :write, :value 1, :process 22, :time 24584935076, :error :connect, :index 7479}
{:type :invoke, :f :write, :value 2, :process 4, :time 24588950819, :index 7480}
{:type :invoke, :f :write, :value 2, :process 29, :time 24590110899, :index 7481}
{:type :fail, :f :write, :value 2, :process 4, :time 24590628969, :error :connect, :index 7482}
{:type :fail, :f :write, :value 2, :process 29, :time 24592114814, :error :connect, :index 7484}
{:type :invoke, :f :write, :value 4, :process 22, :time 24606196005, :index 7492}
{:type :fail, :f :write, :value 4, :process 22, :time 24608195125, :error :connect, :index 7493}
{:type :invoke, :f :write, :value 4, :process 21, :time 24609324166, :index 7494}
{:type :fail, :f :write, :value 4, :process 21, :time 24611450505, :error :connect, :index 7495}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 24613416492, :index 7496}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 24615560103, :error :connect, :index 7497}
{:type :invoke, :f :cas, :value [4 2], :process 22, :time 24627455437, :index 7502}
{:type :fail, :f :cas, :value [4 2], :process 22, :time 24629382224, :error :connect, :index 7503}
{:type :invoke, :f :write, :value 1, :process 6, :time 24637551464, :index 7504}
{:type :fail, :f :write, :value 1, :process 6, :time 24639689036, :error :connect, :index 7505}
{:type :invoke, :f :read, :value nil, :process 7, :time 24642784301, :index 7508}
{:type :fail, :f :read, :value nil, :process 7, :time 24644597191, :error :connect, :index 7509}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 24647869152, :index 7512}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 24649666763, :error :connect, :index 7513}
{:type :invoke, :f :read, :value nil, :process 22, :time 24656645671, :index 7518}
{:type :fail, :f :read, :value nil, :process 22, :time 24658411144, :error :connect, :index 7519}
{:type :invoke, :f :read, :value nil, :process 0, :time 24669891629, :index 7522}
{:type :fail, :f :read, :value nil, :process 0, :time 24671941227, :error :connect, :index 7523}
{:type :invoke, :f :read, :value nil, :process 5, :time 24688132528, :index 7526}
{:type :fail, :f :read, :value nil, :process 5, :time 24690185889, :error :connect, :index 7527}
{:type :invoke, :f :write, :value 0, :process 29, :time 24704375919, :index 7530}
{:type :fail, :f :write, :value 0, :process 29, :time 24706028494, :error :connect, :index 7531}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 24726831947, :index 7532}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 24728503325, :error :connect, :index 7533}
{:type :invoke, :f :read, :value nil, :process 8, :time 24734437605, :index 7538}
{:type :fail, :f :read, :value nil, :process 8, :time 24736144357, :error :connect, :index 7540}
{:type :invoke, :f :write, :value 0, :process 4, :time 24753962957, :index 7550}
{:type :fail, :f :write, :value 0, :process 4, :time 24755802850, :error :connect, :index 7551}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 24771962625, :index 7552}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 24774011344, :error :connect, :index 7553}
{:type :invoke, :f :cas, :value [2 3], :process 21, :time 24790728875, :index 7556}
{:type :fail, :f :cas, :value [2 3], :process 21, :time 24792624408, :error :connect, :index 7557}
{:type :invoke, :f :cas, :value [3 2], :process 7, :time 24812937377, :index 7569}
{:type :fail, :f :cas, :value [3 2], :process 7, :time 24815190688, :error :connect, :index 7571}
{:type :invoke, :f :write, :value 0, :process 22, :time 24841673353, :index 7578}
{:type :fail, :f :write, :value 0, :process 22, :time 24843504487, :error :connect, :index 7579}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
