{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :invoke, :f :cas, :value [4 1], :process 26, :time 28314571306, :index 5975}
{:type :fail, :f :cas, :value [4 1], :process 26, :time 28320139643, :error :not-found, :index 5978}
{:type :invoke, :f :write, :value 2, :process 5, :time 28326598343, :index 5981}
{:type :ok, :f :write, :value 2, :process 5, :time 28331819885, :index 5984}
{:type :invoke, :f :write, :value 3, :process 5, :time 28339074968, :index 5987}
{:type :ok, :f :write, :value 3, :process 5, :time 28343639656, :index 5989}
{:type :invoke, :f :cas, :value [2 4], :process 26, :time 28365457420, :index 5994}
{:type :fail, :f :cas, :value [2 4], :process 26, :time 28370847663, :index 5995}
{:type :invoke, :f :write, :value 1, :process 5, :time 28415875770, :index 5999}
{:type :invoke, :f :cas, :value [1 3], :process 28, :time 28417868435, :index 6001}
{:type :ok, :f :write, :value 1, :process 5, :time 28420803037, :index 6002}
{:type :ok, :f :cas, :value [1 3], :process 28, :time 28422400502, :index 6003}
{:type :invoke, :f :cas, :value [3 3], :process 43, :time 28440705271, :index 6006}
{:type :ok, :f :cas, :value [3 3], :process 43, :time 28446211057, :index 6007}
{:type :invoke, :f :cas, :value [4 0], :process 28, :time 28453657415, :index 6010}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 28454935320, :index 6011}
{:type :invoke, :f :write, :value 3, :process 1, :time 28458507818, :index 6013}
{:type :fail, :f :cas, :value [4 0], :process 28, :time 28459992025, :index 6014}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 28460128106, :index 6015}
{:type :ok, :f :write, :value 3, :process 1, :time 28464226816, :index 6017}
{:type :invoke, :f :cas, :value [4 2], :process 5, :time 28487094976, :index 6018}
{:type :fail, :f :cas, :value [4 2], :process 5, :time 28491900518, :index 6019}
{:type :invoke, :f :read, :value nil, :process 0, :time 28498386622, :index 6020}
{:type :ok, :f :read, :value 3, :process 0, :time 28504231749, :index 6021}
{:type :invoke, :f :read, :value nil, :process 26, :time 28510108290, :index 6023}
{:type :ok, :f :read, :value 3, :process 26, :time 28514893914, :index 6025}
{:type :invoke, :f :read, :value nil, :process 28, :time 28530262744, :index 6026}
{:type :ok, :f :read, :value 3, :process 28, :time 28535539769, :index 6027}
{:type :invoke, :f :cas, :value [1 0], :process 1, :time 28554493992, :index 6032}
{:type :invoke, :f :read, :value nil, :process 43, :time 28555494474, :index 6033}
{:type :fail, :f :cas, :value [1 0], :process 1, :time 28560684705, :index 6036}
{:type :ok, :f :read, :value 3, :process 43, :time 28560800366, :index 6037}
{:type :invoke, :f :write, :value 4, :process 0, :time 28602534340, :index 6043}
{:type :ok, :f :write, :value 4, :process 0, :time 28606757063, :index 6045}
{:type :invoke, :f :write, :value 0, :process 5, :time 28620168175, :index 6048}
{:type :ok, :f :write, :value 0, :process 5, :time 28625212445, :index 6049}
{:type :invoke, :f :read, :value nil, :process 43, :time 28670055518, :index 6056}
{:type :ok, :f :read, :value 0, :process 43, :time 28675369536, :index 6057}
{:type :invoke, :f :cas, :value [1 3], :process 26, :time 28685161514, :index 6060}
{:type :invoke, :f :write, :value 4, :process 1, :time 28689995750, :index 6061}
{:type :fail, :f :cas, :value [1 3], :process 26, :time 28690877411, :index 6062}
{:type :invoke, :f :cas, :value [0 4], :process 43, :time 28692627180, :index 6063}
{:type :invoke, :f :cas, :value [4 1], :process 28, :time 28693804740, :index 6064}
{:type :ok, :f :write, :value 4, :process 1, :time 28695197952, :index 6065}
{:type :fail, :f :cas, :value [0 4], :process 43, :time 28697997143, :index 6066}
{:type :ok, :f :cas, :value [4 1], :process 28, :time 28699487050, :index 6069}
{:type :invoke, :f :read, :value nil, :process 0, :time 28721009227, :index 6072}
{:type :ok, :f :read, :value 1, :process 0, :time 28727556787, :index 6073}
{:type :invoke, :f :read, :value nil, :process 1, :time 28777453802, :index 6078}
{:type :invoke, :f :read, :value nil, :process 0, :time 28779835820, :index 6079}
{:type :ok, :f :read, :value 1, :process 1, :time 28782987113, :index 6080}
{:type :invoke, :f :cas, :value [2 3], :process 26, :time 28784126884, :index 6081}
{:type :ok, :f :read, :value 1, :process 0, :time 28784687463, :index 6082}
{:type :fail, :f :cas, :value [2 3], :process 26, :time 28789714542, :index 6083}
{:type :invoke, :f :write, :value 0, :process 5, :time 28791473579, :index 6084}
{:type :invoke, :f :cas, :value [1 0], :process 26, :time 28794010323, :index 6086}
{:type :ok, :f :write, :value 0, :process 5, :time 28796292429, :index 6087}
{:type :fail, :f :cas, :value [1 0], :process 26, :time 28800513213, :index 6089}
{:type :invoke, :f :read, :value nil, :process 1, :time 28808217730, :index 6092}
{:type :ok, :f :read, :value 0, :process 1, :time 28813169403, :index 6094}
{:type :invoke, :f :write, :value 4, :process 28, :time 28814768961, :index 6095}
{:type :ok, :f :write, :value 4, :process 28, :time 28819836492, :index 6097}
{:type :invoke, :f :write, :value 0, :process 0, :time 28820931734, :index 6098}
{:type :ok, :f :write, :value 0, :process 0, :time 28825578424, :index 6099}
{:type :invoke, :f :read, :value nil, :process 43, :time 28836251825, :index 6100}
{:type :ok, :f :read, :value 0, :process 43, :time 28841880619, :index 6101}
{:type :invoke, :f :cas, :value [2 0], :process 26, :time 28899772129, :index 6108}
{:type :fail, :f :cas, :value [2 0], :process 26, :time 28905354868, :index 6109}
{:type :invoke, :f :read, :value nil, :process 1, :time 28910424503, :index 6110}
{:type :ok, :f :read, :value 0, :process 1, :time 28915568118, :index 6112}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 28949547862, :index 6116}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 28954228070, :index 6117}
{:type :invoke, :f :read, :value nil, :process 28, :time 28960088163, :index 6118}
{:type :ok, :f :read, :value 0, :process 28, :time 28966907467, :index 6119}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 28998834260, :index 6125}
{:type :ok, :f :cas, :value [0 2], :process 0, :time 29003754993, :index 6128}
{:type :invoke, :f :cas, :value [0 0], :process 26, :time 29032611458, :index 6134}
{:type :invoke, :f :write, :value 0, :process 43, :time 29036139973, :index 6135}
{:type :fail, :f :cas, :value [0 0], :process 26, :time 29038315264, :index 6136}
{:type :ok, :f :write, :value 0, :process 43, :time 29041685725, :index 6137}
{:type :invoke, :f :write, :value 1, :process 26, :time 29047576223, :index 6139}
{:type :ok, :f :write, :value 1, :process 26, :time 29053962286, :index 6141}
{:type :invoke, :f :write, :value 0, :process 1, :time 29083837392, :index 6147}
{:type :invoke, :f :write, :value 1, :process 5, :time 29087486910, :index 6148}
{:type :ok, :f :write, :value 0, :process 1, :time 29089128286, :index 6150}
{:type :ok, :f :write, :value 1, :process 5, :time 29091850532, :index 6151}
{:type :invoke, :f :write, :value 1, :process 0, :time 29100010731, :index 6152}
{:type :ok, :f :write, :value 1, :process 0, :time 29105268518, :index 6153}
{:type :invoke, :f :cas, :value [2 1], :process 0, :time 29145521757, :index 6158}
{:type :invoke, :f :cas, :value [4 1], :process 5, :time 29149104466, :index 6161}
{:type :fail, :f :cas, :value [2 1], :process 0, :time 29150866983, :index 6162}
{:type :invoke, :f :read, :value nil, :process 28, :time 29154180383, :index 6166}
{:type :fail, :f :cas, :value [4 1], :process 5, :time 29154332935, :index 6167}
{:type :ok, :f :read, :value 1, :process 28, :time 29159872308, :index 6169}
{:type :invoke, :f :read, :value nil, :process 0, :time 29173146437, :index 6170}
{:type :invoke, :f :write, :value 2, :process 26, :time 29177224400, :index 6172}
{:type :ok, :f :read, :value 1, :process 0, :time 29177645136, :index 6173}
{:type :ok, :f :write, :value 2, :process 26, :time 29182711754, :index 6175}
{:type :invoke, :f :write, :value 1, :process 1, :time 29214392282, :index 6178}
{:type :invoke, :f :cas, :value [2 2], :process 43, :time 29217944935, :index 6179}
{:type :invoke, :f :write, :value 4, :process 28, :time 29218123047, :index 6180}
{:type :ok, :f :write, :value 1, :process 1, :time 29219189196, :index 6181}
{:type :fail, :f :cas, :value [2 2], :process 43, :time 29223379154, :index 6182}
{:type :ok, :f :write, :value 4, :process 28, :time 29223678226, :index 6183}
{:type :invoke, :f :cas, :value [0 2], :process 43, :time 29240690595, :index 6186}
{:type :fail, :f :cas, :value [0 2], :process 43, :time 29246030736, :index 6187}
{:type :invoke, :f :read, :value nil, :process 26, :time 29272979416, :index 6193}
{:type :ok, :f :read, :value 4, :process 26, :time 29278139794, :index 6195}
{:type :invoke, :f :cas, :value [2 0], :process 1, :time 29308449489, :index 6198}
{:type :invoke, :f :read, :value nil, :process 28, :time 29309921727, :index 6199}
{:type :fail, :f :cas, :value [2 0], :process 1, :time 29314098519, :index 6201}
{:type :ok, :f :read, :value 4, :process 28, :time 29314726219, :index 6202}
{:type :invoke, :f :cas, :value [4 4], :process 5, :time 29332578961, :index 6204}
{:type :ok, :f :cas, :value [4 4], :process 5, :time 29337613847, :index 6205}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 29374885528, :index 6214}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 29379375860, :index 6215}
{:type :invoke, :f :read, :value nil, :process 26, :time 29380388686, :index 6216}
{:type :ok, :f :read, :value 4, :process 26, :time 29385704568, :index 6217}
{:type :invoke, :f :cas, :value [0 1], :process 1, :time 29413356468, :index 6226}
{:type :fail, :f :cas, :value [0 1], :process 1, :time 29419278776, :index 6227}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 29433871600, :index 6228}
{:type :fail, :f :cas, :value [3 0], :process 5, :time 29439224153, :index 6230}
{:type :invoke, :f :read, :value nil, :process 43, :time 29443293567, :index 6233}
{:type :invoke, :f :cas, :value [0 3], :process 1, :time 29445580433, :index 6234}
{:type :invoke, :f :write, :value 4, :process 0, :time 29446634220, :index 6236}
{:type :ok, :f :read, :value 4, :process 43, :time 29447952160, :index 6237}
{:type :ok, :f :write, :value 4, :process 0, :time 29451248315, :index 6238}
{:type :fail, :f :cas, :value [0 3], :process 1, :time 29451380680, :index 6239}
{:type :invoke, :f :cas, :value [1 0], :process 1, :time 29477618189, :index 6244}
{:type :invoke, :f :read, :value nil, :process 43, :time 29478210663, :index 6245}
{:type :fail, :f :cas, :value [1 0], :process 1, :time 29483927901, :index 6246}
{:type :ok, :f :read, :value 4, :process 43, :time 29484264911, :index 6247}
{:type :invoke, :f :write, :value 2, :process 28, :time 29487959491, :index 6248}
{:type :invoke, :f :cas, :value [2 0], :process 43, :time 29489513626, :index 6249}
{:type :invoke, :f :cas, :value [3 2], :process 26, :time 29492958713, :index 6250}
{:type :ok, :f :write, :value 2, :process 28, :time 29494336128, :index 6251}
{:type :ok, :f :cas, :value [2 0], :process 43, :time 29494765277, :index 6252}
{:type :fail, :f :cas, :value [3 2], :process 26, :time 29498262881, :index 6253}
{:type :invoke, :f :read, :value nil, :process 0, :time 29519435952, :index 6254}
{:type :ok, :f :read, :value 0, :process 0, :time 29524702557, :index 6255}
{:type :invoke, :f :cas, :value [1 4], :process 26, :time 29541523415, :index 6257}
{:type :fail, :f :cas, :value [1 4], :process 26, :time 29546679527, :index 6260}
{:type :invoke, :f :read, :value nil, :process 28, :time 29570594555, :index 6268}
{:type :ok, :f :read, :value 0, :process 28, :time 29576298715, :index 6270}
{:type :invoke, :f :write, :value 2, :process 43, :time 29610005097, :index 6274}
{:type :ok, :f :write, :value 2, :process 43, :time 29616151790, :index 6275}
{:type :invoke, :f :read, :value nil, :process 26, :time 29626938477, :index 6276}
{:type :invoke, :f :cas, :value [4 3], :process 1, :time 29627248026, :index 6277}
{:type :ok, :f :read, :value 2, :process 26, :time 29633657971, :index 6278}
{:type :fail, :f :cas, :value [4 3], :process 1, :time 29634734555, :index 6279}
{:type :invoke, :f :read, :value nil, :process 5, :time 29635491257, :index 6280}
{:type :ok, :f :read, :value 2, :process 5, :time 29640349559, :index 6281}
{:type :invoke, :f :write, :value 3, :process 0, :time 29671959365, :index 6282}
{:type :ok, :f :write, :value 3, :process 0, :time 29677279618, :index 6283}
{:type :invoke, :f :read, :value nil, :process 26, :time 29680921005, :index 6284}
{:type :ok, :f :read, :value 3, :process 26, :time 29685758201, :index 6285}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 29711642948, :index 6291}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 29716774101, :index 6293}
{:type :invoke, :f :write, :value 0, :process 28, :time 29758573642, :index 6298}
{:type :ok, :f :write, :value 0, :process 28, :time 29764498506, :index 6299}
{:type :invoke, :f :cas, :value [2 2], :process 1, :time 29767989562, :index 6301}
{:type :invoke, :f :read, :value nil, :process 0, :time 29768541698, :index 6302}
{:type :ok, :f :read, :value 0, :process 0, :time 29775651179, :index 6305}
{:type :fail, :f :cas, :value [2 2], :process 1, :time 29776520900, :index 6307}
{:type :invoke, :f :cas, :value [2 3], :process 26, :time 29780037866, :index 6311}
{:type :invoke, :f :read, :value nil, :process 43, :time 29783447730, :index 6313}
{:type :fail, :f :cas, :value [2 3], :process 26, :time 29786773291, :index 6316}
{:type :ok, :f :read, :value 0, :process 43, :time 29788253086, :index 6317}
{:type :invoke, :f :write, :value 2, :process 5, :time 29790028036, :index 6318}
{:type :ok, :f :write, :value 2, :process 5, :time 29794773791, :index 6319}
{:type :invoke, :f :read, :value nil, :process 26, :time 29817009699, :index 6322}
{:type :ok, :f :read, :value 2, :process 26, :time 29822808967, :index 6324}
{:type :invoke, :f :cas, :value [1 1], :process 1, :time 29878771208, :index 6334}
{:type :fail, :f :cas, :value [1 1], :process 1, :time 29884718801, :index 6335}
{:type :invoke, :f :cas, :value [0 4], :process 26, :time 29916365478, :index 6340}
{:type :fail, :f :cas, :value [0 4], :process 26, :time 29921438663, :index 6341}
{:type :invoke, :f :write, :value 0, :process 28, :time 29925759352, :index 6342}
{:type :ok, :f :write, :value 0, :process 28, :time 29931018118, :index 6343}
{:type :invoke, :f :read, :value nil, :process 0, :time 29962899860, :index 6346}
{:type :ok, :f :read, :value 0, :process 0, :time 29969742159, :index 6347}
{:type :invoke, :f :write, :value 3, :process 43, :time 29975538918, :index 6348}
{:type :invoke, :f :cas, :value [3 4], :process 5, :time 29980035946, :index 6350}
{:type :ok, :f :write, :value 3, :process 43, :time 29981224409, :index 6351}
{:type :ok, :f :cas, :value [3 4], :process 5, :time 29984473540, :index 6353}
{:type :invoke, :f :read, :value nil, :process 1, :time 29988969180, :index 6354}
{:type :ok, :f :read, :value 4, :process 1, :time 29994585276, :index 6355}
{:type :invoke, :f :read, :value nil, :process 43, :time 30011479400, :index 6358}
{:type :ok, :f :read, :value 4, :process 43, :time 30017107682, :index 6360}
{:type :invoke, :f :read, :value nil, :process 5, :time 30018735251, :index 6361}
{:type :ok, :f :read, :value 4, :process 5, :time 30024022315, :index 6363}
{:type :invoke, :f :write, :value 3, :process 26, :time 30082708170, :index 6376}
{:type :invoke, :f :write, :value 2, :process 0, :time 30087007929, :index 6378}
{:type :ok, :f :write, :value 3, :process 26, :time 30089130407, :index 6379}
{:type :ok, :f :write, :value 2, :process 0, :time 30092081072, :index 6381}
{:type :invoke, :f :read, :value nil, :process 28, :time 30098273146, :index 6382}
{:type :ok, :f :read, :value 2, :process 28, :time 30103177357, :index 6384}
{:type :invoke, :f :read, :value nil, :process 1, :time 30131838963, :index 6390}
{:type :ok, :f :read, :value 2, :process 1, :time 30137356415, :index 6392}
{:type :invoke, :f :cas, :value [0 4], :process 43, :time 30182376385, :index 6405}
{:type :fail, :f :cas, :value [0 4], :process 43, :time 30188091425, :index 6407}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
