{:type :invoke, :f :write, :value 3, :process 12, :time 4666744731, :index 1598}
{:type :ok, :f :write, :value 3, :process 12, :time 4671384694, :index 1600}
{:type :invoke, :f :cas, :value [4 2], :process 14, :time 4688426353, :index 1602}
{:type :fail, :f :cas, :value [4 2], :process 14, :time 4693786360, :index 1603}
{:type :invoke, :f :write, :value 4, :process 17, :time 4714074156, :index 1615}
{:type :ok, :f :write, :value 4, :process 17, :time 4719603389, :index 1619}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 4730148741, :index 1623}
{:type :ok, :f :cas, :value [4 0], :process 18, :time 4735590603, :index 1625}
{:type :invoke, :f :read, :value nil, :process 10, :time 4739380956, :index 1626}
{:type :ok, :f :read, :value 0, :process 10, :time 4745217644, :index 1627}
{:type :invoke, :f :write, :value 2, :process 11, :time 4747434064, :index 1629}
{:type :ok, :f :write, :value 2, :process 11, :time 4752963946, :index 1631}
{:type :invoke, :f :write, :value 1, :process 16, :time 4753812767, :index 1632}
{:type :ok, :f :write, :value 1, :process 16, :time 4758992575, :index 1634}
{:type :invoke, :f :cas, :value [2 4], :process 18, :time 4776849859, :index 1638}
{:type :invoke, :f :read, :value nil, :process 14, :time 4781059144, :index 1640}
{:type :fail, :f :cas, :value [2 4], :process 18, :time 4782234050, :index 1641}
{:type :ok, :f :read, :value 1, :process 14, :time 4787319808, :index 1644}
{:type :invoke, :f :read, :value nil, :process 13, :time 4795234734, :index 1647}
{:type :ok, :f :read, :value 1, :process 13, :time 4800523814, :index 1649}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 4821252870, :index 1655}
{:type :invoke, :f :read, :value nil, :process 19, :time 4821599079, :index 1656}
{:type :invoke, :f :read, :value nil, :process 15, :time 4824451241, :index 1658}
{:type :ok, :f :cas, :value [1 1], :process 16, :time 4826070434, :index 1659}
{:type :ok, :f :read, :value 1, :process 19, :time 4826703662, :index 1660}
{:type :ok, :f :read, :value 1, :process 15, :time 4829356747, :index 1661}
{:type :invoke, :f :write, :value 4, :process 13, :time 4838794069, :index 1663}
{:type :ok, :f :write, :value 4, :process 13, :time 4846584401, :index 1665}
{:type :invoke, :f :write, :value 3, :process 10, :time 4853480128, :index 1667}
{:type :ok, :f :write, :value 3, :process 10, :time 4858987067, :index 1669}
{:type :invoke, :f :cas, :value [3 3], :process 12, :time 4863647703, :index 1672}
{:type :invoke, :f :read, :value nil, :process 18, :time 4866495726, :index 1674}
{:type :ok, :f :cas, :value [3 3], :process 12, :time 4869692501, :index 1678}
{:type :ok, :f :read, :value 3, :process 18, :time 4870857673, :index 1679}
{:type :invoke, :f :read, :value nil, :process 11, :time 4873211248, :index 1680}
{:type :ok, :f :read, :value 3, :process 11, :time 4878292937, :index 1681}
{:type :invoke, :f :write, :value 2, :process 18, :time 4880066165, :index 1682}
{:type :ok, :f :write, :value 2, :process 18, :time 4884838084, :index 1684}
{:type :invoke, :f :write, :value 4, :process 16, :time 4887368553, :index 1685}
{:type :ok, :f :write, :value 4, :process 16, :time 4892926612, :index 1687}
{:type :invoke, :f :write, :value 1, :process 19, :time 4903964865, :index 1689}
{:type :ok, :f :write, :value 1, :process 19, :time 4909544998, :index 1691}
{:type :invoke, :f :cas, :value [2 1], :process 14, :time 4914572032, :index 1692}
{:type :invoke, :f :cas, :value [0 4], :process 17, :time 4916865799, :index 1693}
{:type :fail, :f :cas, :value [0 4], :process 17, :time 4922963763, :index 1694}
{:type :fail, :f :cas, :value [2 1], :process 14, :time 4922963763, :index 1695}
{:type :invoke, :f :write, :value 1, :process 18, :time 4941103510, :index 1700}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 4967553657, :index 1705}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 4971564895, :index 1706}
{:type :invoke, :f :read, :value nil, :process 12, :time 4990933174, :index 1707}
{:type :invoke, :f :write, :value 2, :process 13, :time 4994840222, :index 1708}
{:type :invoke, :f :read, :value nil, :process 16, :time 5022197208, :index 1711}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 5031261763, :index 1712}
{:type :invoke, :f :cas, :value [3 1], :process 17, :time 5049284129, :index 1716}
{:type :invoke, :f :read, :value nil, :process 19, :time 5098808950, :index 1718}
{:type :invoke, :f :cas, :value [3 0], :process 14, :time 5110254532, :index 1719}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :ok, :f :write, :value 1, :process 18, :time 5236756298, :index 1721}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 5256047294, :index 1722}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :ok, :f :write, :value 2, :process 13, :time 5631152084, :index 1725}
{:type :ok, :f :read, :value 2, :process 19, :time 5631927642, :index 1727}
{:type :ok, :f :read, :value 2, :process 16, :time 5631964140, :index 1728}
{:type :fail, :f :cas, :value [3 0], :process 14, :time 5632787508, :index 1730}
{:type :fail, :f :cas, :value [3 2], :process 18, :time 5634018146, :index 1734}
{:type :fail, :f :cas, :value [2 1], :process 11, :time 5634400327, :index 1735}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 5666402618, :index 1737}
{:type :invoke, :f :read, :value nil, :process 18, :time 5671821952, :index 1739}
{:type :fail, :f :cas, :value [1 0], :process 16, :time 5672561699, :index 1740}
{:type :ok, :f :read, :value 2, :process 18, :time 5677129456, :index 1741}
{:type :invoke, :f :read, :value nil, :process 11, :time 5685877954, :index 1742}
{:type :invoke, :f :write, :value 1, :process 16, :time 5686807880, :index 1743}
{:type :ok, :f :read, :value 2, :process 11, :time 5691099712, :index 1744}
{:type :ok, :f :write, :value 1, :process 16, :time 5691693798, :index 1745}
{:type :invoke, :f :write, :value 1, :process 16, :time 5706919433, :index 1746}
{:type :invoke, :f :write, :value 4, :process 19, :time 5707223616, :index 1747}
{:type :ok, :f :write, :value 1, :process 16, :time 5712245803, :index 1748}
{:type :ok, :f :write, :value 4, :process 19, :time 5713151967, :index 1749}
{:type :invoke, :f :write, :value 2, :process 19, :time 5745421605, :index 1753}
{:type :invoke, :f :cas, :value [0 4], :process 11, :time 5748367835, :index 1755}
{:type :invoke, :f :cas, :value [1 4], :process 13, :time 5780541214, :index 1756}
{:type :ok, :f :write, :value 2, :process 19, :time 5800671261, :index 1760}
{:type :fail, :f :cas, :value [1 4], :process 13, :time 5800945243, :index 1761}
{:type :fail, :f :cas, :value [0 4], :process 11, :time 5802601530, :index 1762}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 5805390565, :index 1764}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 5809947420, :index 1766}
{:type :invoke, :f :read, :value nil, :process 14, :time 5818457899, :index 1769}
{:type :ok, :f :read, :value 2, :process 14, :time 5824299637, :index 1771}
{:type :invoke, :f :write, :value 1, :process 16, :time 5835554788, :index 1772}
{:type :invoke, :f :write, :value 2, :process 13, :time 5837198051, :index 1773}
{:type :ok, :f :write, :value 1, :process 16, :time 5840471145, :index 1776}
{:type :ok, :f :write, :value 2, :process 13, :time 5843943616, :index 1779}
{:type :invoke, :f :write, :value 0, :process 19, :time 5879917110, :index 1782}
{:type :ok, :f :write, :value 0, :process 19, :time 5885396522, :index 1785}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 5966284722, :index 1796}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 5971567405, :index 1797}
{:type :invoke, :f :read, :value nil, :process 14, :time 5976558116, :index 1799}
{:type :ok, :f :read, :value 0, :process 14, :time 5982089110, :index 1802}
{:type :invoke, :f :cas, :value [0 2], :process 13, :time 5984204795, :index 1804}
{:type :invoke, :f :cas, :value [2 2], :process 11, :time 5985893705, :index 1805}
{:type :ok, :f :cas, :value [0 2], :process 13, :time 5988986138, :index 1806}
{:type :ok, :f :cas, :value [2 2], :process 11, :time 5991484171, :index 1807}
{:type :invoke, :f :write, :value 1, :process 13, :time 6004188215, :index 1808}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 6006897058, :index 1809}
{:type :ok, :f :write, :value 1, :process 13, :time 6008590608, :index 1810}
{:type :ok, :f :cas, :value [1 3], :process 18, :time 6011145492, :index 1811}
{:type :invoke, :f :cas, :value [4 2], :process 14, :time 6012371558, :index 1812}
{:type :fail, :f :cas, :value [4 2], :process 14, :time 6018311986, :index 1813}
{:type :invoke, :f :cas, :value [4 1], :process 16, :time 6029772391, :index 1816}
{:type :fail, :f :cas, :value [4 1], :process 16, :time 6036330301, :index 1820}
{:type :invoke, :f :read, :value nil, :process 19, :time 6043655514, :index 1822}
{:type :ok, :f :read, :value 3, :process 19, :time 6048948287, :index 1823}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 6064408212, :index 1824}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 6070228372, :index 1825}
{:type :invoke, :f :write, :value 4, :process 19, :time 6100206642, :index 1832}
{:type :invoke, :f :write, :value 2, :process 18, :time 6100785379, :index 1833}
{:type :ok, :f :write, :value 4, :process 19, :time 6106074683, :index 1835}
{:type :ok, :f :write, :value 2, :process 18, :time 6106745088, :index 1836}
{:type :invoke, :f :write, :value 2, :process 16, :time 6120575797, :index 1838}
{:type :ok, :f :write, :value 2, :process 16, :time 6125960753, :index 1840}
{:type :invoke, :f :cas, :value [1 0], :process 14, :time 6129580301, :index 1844}
{:type :fail, :f :cas, :value [1 0], :process 14, :time 6136672650, :index 1847}
{:type :invoke, :f :write, :value 0, :process 11, :time 6168753205, :index 1852}
{:type :ok, :f :write, :value 0, :process 11, :time 6174246808, :index 1853}
{:type :invoke, :f :cas, :value [3 1], :process 13, :time 6182897405, :index 1855}
{:type :fail, :f :cas, :value [3 1], :process 13, :time 6188045054, :index 1857}
{:type :invoke, :f :read, :value nil, :process 19, :time 6191328361, :index 1858}
{:type :ok, :f :read, :value 0, :process 19, :time 6197601565, :index 1861}
{:type :invoke, :f :read, :value nil, :process 16, :time 6220321682, :index 1862}
{:type :ok, :f :read, :value 0, :process 16, :time 6225551881, :index 1864}
{:type :invoke, :f :cas, :value [2 4], :process 14, :time 6247932594, :index 1866}
{:type :fail, :f :cas, :value [2 4], :process 14, :time 6253439279, :index 1867}
{:type :invoke, :f :write, :value 3, :process 16, :time 6268821829, :index 1868}
{:type :ok, :f :write, :value 3, :process 16, :time 6274389885, :index 1870}
{:type :invoke, :f :read, :value nil, :process 18, :time 6279979810, :index 1872}
{:type :ok, :f :read, :value 3, :process 18, :time 6285242503, :index 1873}
{:type :invoke, :f :write, :value 3, :process 19, :time 6294840304, :index 1875}
{:type :ok, :f :write, :value 3, :process 19, :time 6300450005, :index 1877}
{:type :invoke, :f :read, :value nil, :process 11, :time 6300523977, :index 1878}
{:type :ok, :f :read, :value 3, :process 11, :time 6305840168, :index 1880}
{:type :invoke, :f :read, :value nil, :process 14, :time 6310707303, :index 1882}
{:type :ok, :f :read, :value 3, :process 14, :time 6315691805, :index 1883}
{:type :invoke, :f :write, :value 1, :process 18, :time 6352511109, :index 1886}
{:type :invoke, :f :cas, :value [1 4], :process 13, :time 6353310344, :index 1887}
{:type :ok, :f :write, :value 1, :process 18, :time 6357455800, :index 1888}
{:type :ok, :f :cas, :value [1 4], :process 13, :time 6358218288, :index 1889}
{:type :invoke, :f :cas, :value [4 2], :process 13, :time 6389484175, :index 1896}
{:type :invoke, :f :read, :value nil, :process 11, :time 6391113963, :index 1897}
{:type :ok, :f :cas, :value [4 2], :process 13, :time 6394608821, :index 1899}
{:type :ok, :f :read, :value 2, :process 11, :time 6397179124, :index 1900}
{:type :invoke, :f :read, :value nil, :process 14, :time 6425955556, :index 1903}
{:type :ok, :f :read, :value 2, :process 14, :time 6430316205, :index 1905}
{:type :invoke, :f :read, :value nil, :process 18, :time 6432729531, :index 1906}
{:type :invoke, :f :cas, :value [0 0], :process 16, :time 6434677309, :index 1907}
{:type :invoke, :f :write, :value 0, :process 19, :time 6435756642, :index 1909}
{:type :invoke, :f :read, :value nil, :process 14, :time 6437568304, :index 1910}
{:type :ok, :f :read, :value 2, :process 18, :time 6438270530, :index 1911}
{:type :fail, :f :cas, :value [0 0], :process 16, :time 6439965702, :index 1912}
{:type :invoke, :f :write, :value 3, :process 13, :time 6439878661, :index 1913}
{:type :ok, :f :write, :value 0, :process 19, :time 6444303846, :index 1916}
{:type :ok, :f :read, :value 0, :process 14, :time 6445001147, :index 1917}
{:type :ok, :f :write, :value 3, :process 13, :time 6445271331, :index 1918}
{:type :invoke, :f :write, :value 1, :process 11, :time 6484429706, :index 1920}
{:type :invoke, :f :cas, :value [2 1], :process 14, :time 6484674479, :index 1921}
{:type :ok, :f :write, :value 1, :process 11, :time 6490485864, :index 1922}
{:type :fail, :f :cas, :value [2 1], :process 14, :time 6490604676, :index 1923}
{:type :invoke, :f :cas, :value [1 4], :process 18, :time 6516530390, :index 1926}
{:type :ok, :f :cas, :value [1 4], :process 18, :time 6521131275, :index 1928}
{:type :invoke, :f :cas, :value [3 2], :process 13, :time 6530586577, :index 1930}
{:type :fail, :f :cas, :value [3 2], :process 13, :time 6535564150, :index 1931}
{:type :invoke, :f :write, :value 2, :process 14, :time 6588887400, :index 1940}
{:type :ok, :f :write, :value 2, :process 14, :time 6594183381, :index 1942}
{:type :invoke, :f :read, :value nil, :process 16, :time 6612208532, :index 1945}
{:type :ok, :f :read, :value 2, :process 16, :time 6617184810, :index 1947}
{:type :invoke, :f :cas, :value [2 3], :process 19, :time 6640580413, :index 1951}
{:type :invoke, :f :read, :value nil, :process 11, :time 6640766403, :index 1952}
{:type :ok, :f :cas, :value [2 3], :process 19, :time 6646250217, :index 1954}
{:type :ok, :f :read, :value 3, :process 11, :time 6646716687, :index 1955}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 6657423952, :index 1956}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 6661894068, :index 1958}
{:type :invoke, :f :write, :value 1, :process 16, :time 6663431462, :index 1960}
{:type :ok, :f :write, :value 1, :process 16, :time 6668309867, :index 1961}
{:type :invoke, :f :write, :value 0, :process 14, :time 6685513126, :index 1962}
{:type :ok, :f :write, :value 0, :process 14, :time 6691060044, :index 1964}
{:type :invoke, :f :write, :value 0, :process 13, :time 6696828613, :index 1967}
{:type :ok, :f :write, :value 0, :process 13, :time 6701124779, :index 1969}
{:type :invoke, :f :read, :value nil, :process 16, :time 6722568149, :index 1974}
{:type :ok, :f :read, :value 0, :process 16, :time 6727668940, :index 1976}
{:type :invoke, :f :read, :value nil, :process 19, :time 6769508801, :index 1980}
{:type :ok, :f :read, :value 0, :process 19, :time 6774547126, :index 1981}
{:type :invoke, :f :write, :value 4, :process 11, :time 6799954938, :index 1986}
{:type :ok, :f :write, :value 4, :process 11, :time 6805103591, :index 1988}
{:type :invoke, :f :read, :value nil, :process 14, :time 6827326312, :index 1993}
{:type :ok, :f :read, :value 4, :process 14, :time 6831858713, :index 1996}
{:type :invoke, :f :cas, :value [1 2], :process 13, :time 6832373276, :index 1997}
{:type :fail, :f :cas, :value [1 2], :process 13, :time 6837848533, :index 1999}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 6838195310, :index 2000}
{:type :fail, :f :cas, :value [1 3], :process 18, :time 6843349594, :index 2003}
{:type :info, :f :cas, :value [4 0], :process 15, :time 9978334971, :error :timeout, :index 2570}
{:type :fail, :f :read, :value nil, :process 12, :time 9997557666, :error :timeout, :index 2583}
{:type :info, :f :cas, :value [3 2], :process 10, :time 10038425061, :error :timeout, :index 2593}
{:type :info, :f :cas, :value [3 1], :process 17, :time 10056588139, :error :timeout, :index 2597}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
