{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :invoke, :f :read, :value nil, :process 63, :time 55227275936, :index 8144}
{:type :ok, :f :read, :value nil, :process 63, :time 55232326651, :index 8148}
{:type :invoke, :f :write, :value 3, :process 40, :time 55310617295, :index 8171}
{:type :ok, :f :write, :value 3, :process 40, :time 55315007490, :index 8173}
{:type :invoke, :f :write, :value 0, :process 64, :time 55332139180, :index 8177}
{:type :ok, :f :write, :value 0, :process 64, :time 55337560763, :index 8180}
{:type :invoke, :f :read, :value nil, :process 41, :time 55346150354, :index 8182}
{:type :ok, :f :read, :value 0, :process 41, :time 55351798174, :index 8183}
{:type :invoke, :f :write, :value 1, :process 49, :time 55359538634, :index 8187}
{:type :ok, :f :write, :value 1, :process 49, :time 55363894747, :index 8190}
{:type :invoke, :f :cas, :value [4 3], :process 40, :time 55367267882, :index 8192}
{:type :invoke, :f :cas, :value [4 4], :process 46, :time 55369791700, :index 8193}
{:type :fail, :f :cas, :value [4 3], :process 40, :time 55371949321, :index 8194}
{:type :fail, :f :cas, :value [4 4], :process 46, :time 55375206868, :index 8196}
{:type :invoke, :f :write, :value 4, :process 68, :time 55377322979, :index 8197}
{:type :ok, :f :write, :value 4, :process 68, :time 55382504263, :index 8200}
{:type :invoke, :f :write, :value 2, :process 63, :time 55383569189, :index 8201}
{:type :invoke, :f :read, :value nil, :process 40, :time 55384248428, :index 8202}
{:type :invoke, :f :read, :value nil, :process 22, :time 55388663953, :index 8204}
{:type :ok, :f :write, :value 2, :process 63, :time 55388996203, :index 8205}
{:type :ok, :f :read, :value 2, :process 40, :time 55389260018, :index 8206}
{:type :invoke, :f :cas, :value [4 4], :process 64, :time 55389461313, :index 8207}
{:type :ok, :f :read, :value 2, :process 22, :time 55394842991, :index 8208}
{:type :fail, :f :cas, :value [4 4], :process 64, :time 55395252804, :index 8209}
{:type :invoke, :f :read, :value nil, :process 7, :time 55424234910, :index 8218}
{:type :ok, :f :read, :value 2, :process 7, :time 55429588369, :index 8219}
{:type :invoke, :f :read, :value nil, :process 49, :time 55438155912, :index 8224}
{:type :invoke, :f :read, :value nil, :process 64, :time 55438530390, :index 8225}
{:type :ok, :f :read, :value 2, :process 49, :time 55443208554, :index 8227}
{:type :ok, :f :read, :value 2, :process 64, :time 55444278084, :index 8228}
{:type :invoke, :f :read, :value nil, :process 25, :time 55446734609, :index 8230}
{:type :ok, :f :read, :value 2, :process 25, :time 55451052705, :index 8233}
{:type :invoke, :f :write, :value 0, :process 63, :time 55452238975, :index 8234}
{:type :invoke, :f :cas, :value [0 2], :process 41, :time 55456057217, :index 8236}
{:type :ok, :f :write, :value 0, :process 63, :time 55457049214, :index 8237}
{:type :ok, :f :cas, :value [0 2], :process 41, :time 55463092163, :index 8240}
{:type :invoke, :f :write, :value 4, :process 22, :time 55463121258, :index 8241}
{:type :ok, :f :write, :value 4, :process 22, :time 55471377054, :index 8243}
{:type :invoke, :f :write, :value 3, :process 46, :time 55490493372, :index 8248}
{:type :invoke, :f :write, :value 2, :process 63, :time 55493329635, :index 8250}
{:type :invoke, :f :write, :value 2, :process 22, :time 55495636164, :index 8252}
{:type :ok, :f :write, :value 3, :process 46, :time 55495791689, :index 8253}
{:type :ok, :f :write, :value 2, :process 63, :time 55501270485, :index 8255}
{:type :ok, :f :write, :value 2, :process 22, :time 55502178495, :index 8257}
{:type :invoke, :f :read, :value nil, :process 40, :time 55503501982, :index 8259}
{:type :ok, :f :read, :value 2, :process 40, :time 55508212733, :index 8262}
{:type :invoke, :f :cas, :value [0 3], :process 64, :time 55514554578, :index 8266}
{:type :fail, :f :cas, :value [0 3], :process 64, :time 55521324483, :index 8267}
{:type :invoke, :f :cas, :value [3 4], :process 49, :time 55533475943, :index 8270}
{:type :invoke, :f :write, :value 0, :process 25, :time 55534302150, :index 8272}
{:type :fail, :f :cas, :value [3 4], :process 49, :time 55539789208, :index 8274}
{:type :ok, :f :write, :value 0, :process 25, :time 55540119704, :index 8275}
{:type :invoke, :f :cas, :value [2 4], :process 68, :time 55552781602, :index 8277}
{:type :fail, :f :cas, :value [2 4], :process 68, :time 55558246330, :index 8279}
{:type :invoke, :f :write, :value 0, :process 7, :time 55562857435, :index 8280}
{:type :ok, :f :write, :value 0, :process 7, :time 55567542135, :index 8281}
{:type :invoke, :f :cas, :value [1 2], :process 41, :time 55581418078, :index 8286}
{:type :fail, :f :cas, :value [1 2], :process 41, :time 55586827717, :index 8287}
{:type :invoke, :f :cas, :value [3 2], :process 41, :time 55611080919, :index 8290}
{:type :invoke, :f :read, :value nil, :process 40, :time 55612450078, :index 8291}
{:type :ok, :f :read, :value 0, :process 40, :time 55617398173, :index 8294}
{:type :fail, :f :cas, :value [3 2], :process 41, :time 55617783141, :index 8295}
{:type :invoke, :f :write, :value 1, :process 41, :time 55624047327, :index 8303}
{:type :ok, :f :write, :value 1, :process 41, :time 55629956173, :index 8309}
{:type :invoke, :f :write, :value 1, :process 68, :time 55630509523, :index 8310}
{:type :ok, :f :write, :value 1, :process 68, :time 55637513585, :index 8316}
{:type :invoke, :f :cas, :value [0 1], :process 63, :time 55653535931, :index 8321}
{:type :fail, :f :cas, :value [0 1], :process 63, :time 55659441940, :index 8324}
{:type :invoke, :f :cas, :value [0 1], :process 63, :time 55668735946, :index 8328}
{:type :invoke, :f :read, :value nil, :process 25, :time 55671385074, :index 8329}
{:type :fail, :f :cas, :value [0 1], :process 63, :time 55674174397, :index 8330}
{:type :invoke, :f :write, :value 3, :process 63, :time 55675428107, :index 8331}
{:type :ok, :f :read, :value 1, :process 25, :time 55675675212, :index 8332}
{:type :ok, :f :write, :value 3, :process 63, :time 55680436273, :index 8335}
{:type :invoke, :f :cas, :value [0 0], :process 46, :time 55688036803, :index 8338}
{:type :fail, :f :cas, :value [0 0], :process 46, :time 55693611534, :index 8339}
{:type :invoke, :f :read, :value nil, :process 22, :time 55694417490, :index 8340}
{:type :ok, :f :read, :value 3, :process 22, :time 55699246403, :index 8342}
{:type :invoke, :f :cas, :value [4 1], :process 64, :time 55703589725, :index 8344}
{:type :invoke, :f :read, :value nil, :process 49, :time 55706973443, :index 8345}
{:type :fail, :f :cas, :value [4 1], :process 64, :time 55709009381, :index 8346}
{:type :ok, :f :read, :value 3, :process 49, :time 55712468650, :index 8347}
{:type :invoke, :f :write, :value 2, :process 7, :time 55727804497, :index 8348}
{:type :invoke, :f :read, :value nil, :process 68, :time 55732806856, :index 8349}
{:type :ok, :f :write, :value 2, :process 7, :time 55732994248, :index 8350}
{:type :ok, :f :read, :value 2, :process 68, :time 55738647495, :index 8352}
{:type :invoke, :f :cas, :value [4 4], :process 25, :time 55751942046, :index 8357}
{:type :fail, :f :cas, :value [4 4], :process 25, :time 55757541390, :index 8360}
{:type :invoke, :f :cas, :value [2 2], :process 7, :time 55760235119, :index 8362}
{:type :invoke, :f :read, :value nil, :process 46, :time 55760873251, :index 8363}
{:type :ok, :f :cas, :value [2 2], :process 7, :time 55766068392, :index 8364}
{:type :ok, :f :read, :value 2, :process 46, :time 55766490218, :index 8365}
{:type :invoke, :f :read, :value nil, :process 41, :time 55786261726, :index 8371}
{:type :ok, :f :read, :value 2, :process 41, :time 55792720176, :index 8373}
{:type :invoke, :f :cas, :value [1 0], :process 40, :time 55792655412, :index 8374}
{:type :fail, :f :cas, :value [1 0], :process 40, :time 55797481046, :index 8375}
{:type :invoke, :f :write, :value 4, :process 22, :time 55799504835, :index 8376}
{:type :ok, :f :write, :value 4, :process 22, :time 55804695877, :index 8377}
{:type :invoke, :f :write, :value 3, :process 46, :time 55807735652, :index 8378}
{:type :ok, :f :write, :value 3, :process 46, :time 55812613994, :index 8380}
{:type :invoke, :f :cas, :value [2 3], :process 68, :time 55812920015, :index 8381}
{:type :fail, :f :cas, :value [2 3], :process 68, :time 55819517002, :index 8387}
{:type :invoke, :f :write, :value 2, :process 63, :time 55822733954, :index 8391}
{:type :ok, :f :write, :value 2, :process 63, :time 55829036213, :index 8392}
{:type :invoke, :f :cas, :value [2 3], :process 7, :time 55847331853, :index 8398}
{:type :invoke, :f :write, :value 4, :process 25, :time 55848739885, :index 8399}
{:type :invoke, :f :cas, :value [4 2], :process 64, :time 55850287956, :index 8400}
{:type :invoke, :f :read, :value nil, :process 40, :time 55851743767, :index 8401}
{:type :ok, :f :cas, :value [2 3], :process 7, :time 55852512732, :index 8402}
{:type :ok, :f :write, :value 4, :process 25, :time 55853792978, :index 8403}
{:type :ok, :f :cas, :value [4 2], :process 64, :time 55856604467, :index 8405}
{:type :ok, :f :read, :value 2, :process 40, :time 55856843793, :index 8406}
{:type :invoke, :f :read, :value nil, :process 7, :time 55863785161, :index 8408}
{:type :ok, :f :read, :value 2, :process 7, :time 55868312840, :index 8409}
{:type :invoke, :f :read, :value nil, :process 49, :time 55869723026, :index 8410}
{:type :invoke, :f :cas, :value [3 0], :process 40, :time 55873080246, :index 8411}
{:type :ok, :f :read, :value 2, :process 49, :time 55874514042, :index 8412}
{:type :fail, :f :cas, :value [3 0], :process 40, :time 55877454384, :index 8413}
{:type :invoke, :f :cas, :value [1 0], :process 64, :time 55888896176, :index 8416}
{:type :fail, :f :cas, :value [1 0], :process 64, :time 55893865945, :index 8417}
{:type :invoke, :f :cas, :value [2 2], :process 7, :time 55901574384, :index 8420}
{:type :ok, :f :cas, :value [2 2], :process 7, :time 55906730716, :index 8421}
{:type :invoke, :f :write, :value 2, :process 41, :time 55923956770, :index 8427}
{:type :ok, :f :write, :value 2, :process 41, :time 55928859151, :index 8429}
{:type :invoke, :f :write, :value 4, :process 68, :time 55930721975, :index 8431}
{:type :ok, :f :write, :value 4, :process 68, :time 55935032805, :index 8433}
{:type :invoke, :f :read, :value nil, :process 63, :time 55935295920, :index 8434}
{:type :ok, :f :read, :value 4, :process 63, :time 55939829973, :index 8435}
{:type :invoke, :f :read, :value nil, :process 46, :time 55949872531, :index 8437}
{:type :invoke, :f :cas, :value [4 1], :process 22, :time 55951961270, :index 8439}
{:type :invoke, :f :read, :value nil, :process 64, :time 55953123015, :index 8440}
{:type :ok, :f :read, :value 4, :process 46, :time 55954541968, :index 8441}
{:type :ok, :f :cas, :value [4 1], :process 22, :time 55957933417, :index 8443}
{:type :ok, :f :read, :value 1, :process 64, :time 55958430262, :index 8444}
{:type :invoke, :f :cas, :value [2 1], :process 64, :time 55972666763, :index 8452}
{:type :fail, :f :cas, :value [2 1], :process 64, :time 55978523838, :index 8455}
{:type :invoke, :f :write, :value 4, :process 22, :time 55986242050, :index 8456}
{:type :ok, :f :write, :value 4, :process 22, :time 55991604628, :index 8458}
{:type :invoke, :f :cas, :value [1 0], :process 25, :time 56023065502, :index 8462}
{:type :invoke, :f :write, :value 3, :process 64, :time 56027842998, :index 8463}
{:type :invoke, :f :read, :value nil, :process 63, :time 56028133138, :index 8464}
{:type :fail, :f :cas, :value [1 0], :process 25, :time 56029086079, :index 8465}
{:type :ok, :f :read, :value 4, :process 63, :time 56033670224, :index 8467}
{:type :ok, :f :write, :value 3, :process 64, :time 56034033241, :index 8468}
{:type :invoke, :f :cas, :value [4 0], :process 64, :time 56043264729, :index 8470}
{:type :invoke, :f :read, :value nil, :process 49, :time 56046797661, :index 8471}
{:type :invoke, :f :cas, :value [0 2], :process 46, :time 56047806108, :index 8472}
{:type :fail, :f :cas, :value [4 0], :process 64, :time 56048815915, :index 8473}
{:type :invoke, :f :read, :value nil, :process 40, :time 56051716792, :index 8474}
{:type :ok, :f :read, :value 3, :process 49, :time 56052951555, :index 8475}
{:type :fail, :f :cas, :value [0 2], :process 46, :time 56053541134, :index 8476}
{:type :ok, :f :read, :value 3, :process 40, :time 56055787493, :index 8477}
{:type :invoke, :f :cas, :value [1 1], :process 46, :time 56059798643, :index 8479}
{:type :fail, :f :cas, :value [1 1], :process 46, :time 56066140617, :index 8482}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 56094001404, :index 8489}
{:type :invoke, :f :write, :value 3, :process 49, :time 56097217492, :index 8490}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 56100520350, :index 8492}
{:type :ok, :f :write, :value 3, :process 49, :time 56102112239, :index 8493}
{:type :invoke, :f :write, :value 1, :process 41, :time 56122129389, :index 8504}
{:type :invoke, :f :cas, :value [4 0], :process 68, :time 56124288563, :index 8505}
{:type :ok, :f :write, :value 1, :process 41, :time 56127122686, :index 8506}
{:type :fail, :f :cas, :value [4 0], :process 68, :time 56129662057, :index 8507}
{:type :invoke, :f :read, :value nil, :process 64, :time 56135094064, :index 8509}
{:type :invoke, :f :write, :value 2, :process 46, :time 56138406242, :index 8511}
{:type :invoke, :f :write, :value 1, :process 49, :time 56139367447, :index 8512}
{:type :ok, :f :read, :value 1, :process 64, :time 56140103920, :index 8513}
{:type :ok, :f :write, :value 2, :process 46, :time 56143109377, :index 8515}
{:type :ok, :f :write, :value 1, :process 49, :time 56144480011, :index 8516}
{:type :invoke, :f :read, :value nil, :process 63, :time 56146924453, :index 8517}
{:type :ok, :f :read, :value 1, :process 63, :time 56152368110, :index 8521}
{:type :invoke, :f :write, :value 3, :process 7, :time 56159780095, :index 8524}
{:type :invoke, :f :write, :value 1, :process 22, :time 56160865332, :index 8525}
{:type :ok, :f :write, :value 3, :process 7, :time 56165652385, :index 8527}
{:type :invoke, :f :read, :value nil, :process 49, :time 56165754793, :index 8528}
{:type :ok, :f :write, :value 1, :process 22, :time 56166430323, :index 8529}
{:type :ok, :f :read, :value 1, :process 49, :time 56171833584, :index 8531}
{:type :invoke, :f :write, :value 4, :process 40, :time 56175036407, :index 8532}
{:type :invoke, :f :write, :value 2, :process 25, :time 56175356984, :index 8533}
{:type :invoke, :f :cas, :value [2 3], :process 64, :time 56179369480, :index 8534}
{:type :ok, :f :write, :value 4, :process 40, :time 56180243841, :index 8535}
{:type :ok, :f :write, :value 2, :process 25, :time 56180827222, :index 8536}
{:type :invoke, :f :cas, :value [3 1], :process 68, :time 56182915728, :index 8538}
{:type :ok, :f :cas, :value [2 3], :process 64, :time 56184143827, :index 8539}
{:type :ok, :f :cas, :value [3 1], :process 68, :time 56188154119, :index 8541}
{:type :invoke, :f :read, :value nil, :process 25, :time 56242078011, :index 8556}
{:type :ok, :f :read, :value 1, :process 25, :time 56246847233, :index 8557}
{:type :invoke, :f :read, :value nil, :process 7, :time 56247922282, :index 8558}
{:type :ok, :f :read, :value 1, :process 7, :time 56253529165, :index 8560}
{:type :invoke, :f :write, :value 1, :process 46, :time 56259385607, :index 8565}
{:type :invoke, :f :read, :value nil, :process 63, :time 56283623407, :index 8570}
{:type :invoke, :f :read, :value nil, :process 49, :time 56287089170, :index 8571}
{:type :ok, :f :read, :value 1, :process 63, :time 56289011761, :index 8572}
{:type :ok, :f :read, :value 1, :process 49, :time 56292362971, :index 8574}
{:type :invoke, :f :read, :value nil, :process 41, :time 56307385212, :index 8576}
{:type :invoke, :f :cas, :value [2 0], :process 22, :time 56342684084, :index 8585}
{:type :fail, :f :cas, :value [2 0], :process 22, :time 56348710758, :index 8588}
{:type :invoke, :f :write, :value 2, :process 40, :time 56365504625, :index 8595}
{:type :ok, :f :write, :value 2, :process 40, :time 56370644158, :index 8599}
{:type :ok, :f :write, :value 1, :process 46, :time 56529673629, :index 8646}
{:type :ok, :f :read, :value 1, :process 41, :time 56529883019, :index 8647}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
