{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :invoke, :f :write, :value 1, :process 41, :time 49472679341, :index 7716}
{:type :ok, :f :write, :value 1, :process 41, :time 49477669523, :index 7717}
{:type :invoke, :f :read, :value nil, :process 46, :time 49493409510, :index 7720}
{:type :invoke, :f :write, :value 3, :process 22, :time 49495550183, :index 7721}
{:type :ok, :f :read, :value 1, :process 46, :time 49498581506, :index 7722}
{:type :ok, :f :write, :value 3, :process 22, :time 49501275792, :index 7723}
{:type :invoke, :f :write, :value 4, :process 7, :time 49571958784, :index 7741}
{:type :invoke, :f :write, :value 1, :process 40, :time 49576568074, :index 7743}
{:type :invoke, :f :read, :value nil, :process 46, :time 49599851424, :index 7745}
{:type :invoke, :f :write, :value 3, :process 41, :time 49617965881, :index 7746}
{:type :invoke, :f :read, :value nil, :process 25, :time 49622752676, :index 7747}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 49687523321, :index 7750}
{:type :ok, :f :write, :value 3, :process 41, :time 50030242441, :index 7753}
{:type :ok, :f :read, :value 3, :process 25, :time 50030940251, :index 7755}
{:type :ok, :f :write, :value 1, :process 40, :time 50031013775, :index 7756}
{:type :ok, :f :read, :value 1, :process 46, :time 50031315227, :index 7757}
{:type :ok, :f :write, :value 4, :process 7, :time 50032504195, :index 7761}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 50032652977, :index 7762}
{:type :invoke, :f :cas, :value [3 0], :process 7, :time 50061795174, :index 7766}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 50142943148, :index 7771}
{:type :invoke, :f :cas, :value [1 3], :process 46, :time 50150697846, :index 7772}
{:type :invoke, :f :cas, :value [3 2], :process 25, :time 50177186548, :index 7773}
{:type :invoke, :f :cas, :value [4 4], :process 41, :time 50180522049, :index 7774}
{:type :invoke, :f :read, :value nil, :process 40, :time 50223240617, :index 7776}
{:type :fail, :f :cas, :value [3 0], :process 7, :time 50387460128, :index 7778}
{:type :ok, :f :cas, :value [4 4], :process 41, :time 50388117795, :index 7779}
{:type :ok, :f :read, :value 4, :process 40, :time 50388747279, :index 7780}
{:type :invoke, :f :write, :value 3, :process 40, :time 50389002562, :index 7781}
{:type :fail, :f :cas, :value [3 2], :process 25, :time 50389218639, :index 7782}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 50390341178, :index 7784}
{:type :fail, :f :cas, :value [1 3], :process 46, :time 50390895212, :index 7787}
{:type :ok, :f :write, :value 3, :process 40, :time 50394904912, :index 7791}
{:type :invoke, :f :write, :value 3, :process 41, :time 50426412121, :index 7795}
{:type :ok, :f :write, :value 3, :process 41, :time 50430673985, :index 7797}
{:type :invoke, :f :read, :value nil, :process 46, :time 50471221109, :index 7801}
{:type :ok, :f :read, :value 3, :process 46, :time 50476629784, :index 7803}
{:type :invoke, :f :write, :value 2, :process 25, :time 50487460279, :index 7804}
{:type :invoke, :f :cas, :value [3 1], :process 41, :time 50492926886, :index 7805}
{:type :ok, :f :write, :value 2, :process 25, :time 50493064257, :index 7806}
{:type :fail, :f :cas, :value [3 1], :process 41, :time 50498278419, :index 7808}
{:type :invoke, :f :read, :value nil, :process 40, :time 50518160032, :index 7814}
{:type :ok, :f :read, :value 2, :process 40, :time 50524629697, :index 7815}
{:type :invoke, :f :read, :value nil, :process 7, :time 50524831089, :index 7817}
{:type :ok, :f :read, :value 2, :process 7, :time 50530255471, :index 7818}
{:type :invoke, :f :read, :value nil, :process 22, :time 50533593017, :index 7820}
{:type :ok, :f :read, :value 2, :process 22, :time 50538654800, :index 7821}
{:type :invoke, :f :read, :value nil, :process 41, :time 50569559553, :index 7825}
{:type :ok, :f :read, :value 2, :process 41, :time 50573983105, :index 7827}
{:type :invoke, :f :write, :value 3, :process 40, :time 50623900543, :index 7834}
{:type :ok, :f :write, :value 3, :process 40, :time 50631610074, :index 7835}
{:type :invoke, :f :read, :value nil, :process 25, :time 50651321050, :index 7839}
{:type :invoke, :f :read, :value nil, :process 46, :time 50655890958, :index 7841}
{:type :ok, :f :read, :value 3, :process 25, :time 50656740356, :index 7842}
{:type :ok, :f :read, :value 3, :process 46, :time 50661530805, :index 7843}
{:type :invoke, :f :write, :value 2, :process 7, :time 50686513769, :index 7850}
{:type :ok, :f :write, :value 2, :process 7, :time 50693880702, :index 7851}
{:type :invoke, :f :read, :value nil, :process 41, :time 50699231607, :index 7852}
{:type :ok, :f :read, :value 2, :process 41, :time 50705854653, :index 7853}
{:type :invoke, :f :cas, :value [3 3], :process 25, :time 50716998044, :index 7854}
{:type :invoke, :f :cas, :value [2 2], :process 22, :time 50726943026, :index 7856}
{:type :invoke, :f :read, :value nil, :process 40, :time 50727883373, :index 7857}
{:type :invoke, :f :write, :value 3, :process 46, :time 50813815195, :index 7860}
{:type :invoke, :f :write, :value 3, :process 41, :time 50866118226, :index 7863}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 50867151570, :index 7864}
{:type :ok, :f :write, :value 3, :process 41, :time 51185612466, :index 7866}
{:type :fail, :f :cas, :value [3 3], :process 25, :time 51186109875, :index 7867}
{:type :ok, :f :write, :value 3, :process 46, :time 51186428680, :index 7868}
{:type :ok, :f :read, :value 2, :process 40, :time 51186832816, :index 7871}
{:type :ok, :f :cas, :value [3 1], :process 7, :time 51188970876, :index 7875}
{:type :fail, :f :cas, :value [2 2], :process 22, :time 51190045076, :index 7877}
{:type :invoke, :f :cas, :value [2 1], :process 46, :time 51226683419, :index 7880}
{:type :invoke, :f :cas, :value [4 1], :process 40, :time 51231042377, :index 7881}
{:type :fail, :f :cas, :value [2 1], :process 46, :time 51231817397, :index 7882}
{:type :invoke, :f :read, :value nil, :process 22, :time 51235301537, :index 7883}
{:type :invoke, :f :read, :value nil, :process 7, :time 51241177139, :index 7884}
{:type :invoke, :f :write, :value 4, :process 41, :time 51305963143, :index 7885}
{:type :invoke, :f :read, :value nil, :process 46, :time 51325096136, :index 7887}
{:type :invoke, :f :cas, :value [2 2], :process 25, :time 51367360588, :index 7890}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :invoke, :f :cas, :value [2 0], :process 63, :time 51560757940, :index 7900}
{:type :invoke, :f :cas, :value [1 2], :process 68, :time 51589628726, :index 7903}
{:type :invoke, :f :cas, :value [4 3], :process 64, :time 51657389568, :index 7908}
{:type :invoke, :f :read, :value nil, :process 49, :time 51658350008, :index 7909}
{:type :fail, :f :cas, :value [4 1], :process 40, :time 51749526526, :index 7911}
{:type :ok, :f :read, :value 1, :process 22, :time 51751524555, :index 7912}
{:type :ok, :f :write, :value 4, :process 41, :time 51752915652, :index 7914}
{:type :ok, :f :read, :value 4, :process 46, :time 51753246752, :index 7915}
{:type :ok, :f :read, :value 1, :process 7, :time 51754303597, :index 7919}
{:type :fail, :f :cas, :value [2 2], :process 25, :time 51755235438, :index 7922}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :invoke, :f :cas, :value [4 0], :process 41, :time 51772187249, :index 7926}
{:type :ok, :f :cas, :value [4 0], :process 41, :time 51777222373, :index 7927}
{:type :invoke, :f :cas, :value [2 0], :process 41, :time 51814503257, :index 7928}
{:type :fail, :f :cas, :value [2 0], :process 41, :time 51820236800, :index 7929}
{:type :invoke, :f :read, :value nil, :process 22, :time 51856782591, :index 7932}
{:type :ok, :f :read, :value 0, :process 22, :time 51862152843, :index 7933}
{:type :invoke, :f :cas, :value [4 3], :process 46, :time 51868482742, :index 7934}
{:type :invoke, :f :write, :value 4, :process 41, :time 51871510695, :index 7935}
{:type :fail, :f :cas, :value [4 3], :process 46, :time 51874466048, :index 7936}
{:type :ok, :f :write, :value 4, :process 41, :time 51876285084, :index 7937}
{:type :invoke, :f :read, :value nil, :process 40, :time 51889808005, :index 7939}
{:type :ok, :f :read, :value 4, :process 40, :time 51896716865, :index 7942}
{:type :invoke, :f :read, :value nil, :process 7, :time 51897539727, :index 7944}
{:type :ok, :f :read, :value 4, :process 7, :time 51903436732, :index 7945}
{:type :invoke, :f :read, :value nil, :process 22, :time 51905419815, :index 7946}
{:type :invoke, :f :write, :value 3, :process 41, :time 51907538965, :index 7947}
{:type :ok, :f :read, :value 4, :process 22, :time 51910662731, :index 7950}
{:type :ok, :f :write, :value 3, :process 41, :time 51912107044, :index 7952}
{:type :invoke, :f :cas, :value [4 3], :process 46, :time 51914732284, :index 7954}
{:type :fail, :f :cas, :value [4 3], :process 46, :time 51919864306, :index 7957}
{:type :invoke, :f :read, :value nil, :process 22, :time 51920005197, :index 7958}
{:type :ok, :f :read, :value 3, :process 22, :time 51924696578, :index 7959}
{:type :invoke, :f :read, :value nil, :process 25, :time 51934510049, :index 7960}
{:type :ok, :f :read, :value 3, :process 25, :time 51940222529, :index 7961}
{:type :invoke, :f :cas, :value [1 1], :process 40, :time 51969010432, :index 7966}
{:type :fail, :f :cas, :value [1 1], :process 40, :time 51975036466, :index 7968}
{:type :invoke, :f :read, :value nil, :process 40, :time 52000292203, :index 7970}
{:type :invoke, :f :cas, :value [0 1], :process 25, :time 52004490147, :index 7971}
{:type :ok, :f :read, :value 3, :process 40, :time 52007602942, :index 7972}
{:type :fail, :f :cas, :value [0 1], :process 25, :time 52010120457, :index 7973}
{:type :invoke, :f :write, :value 0, :process 7, :time 52019707016, :index 7974}
{:type :ok, :f :write, :value 0, :process 7, :time 52025171695, :index 7976}
{:type :invoke, :f :write, :value 3, :process 46, :time 52042120017, :index 7979}
{:type :ok, :f :write, :value 3, :process 46, :time 52047608631, :index 7981}
{:type :invoke, :f :cas, :value [4 3], :process 41, :time 52052361210, :index 7982}
{:type :fail, :f :cas, :value [4 3], :process 41, :time 52057305237, :index 7983}
{:type :invoke, :f :cas, :value [4 2], :process 22, :time 52069962605, :index 7988}
{:type :fail, :f :cas, :value [4 2], :process 22, :time 52075790953, :index 7989}
{:type :invoke, :f :read, :value nil, :process 25, :time 52116381600, :index 7995}
{:type :ok, :f :read, :value 3, :process 25, :time 52125677557, :index 7999}
{:type :invoke, :f :write, :value 4, :process 40, :time 52134872028, :index 8002}
{:type :ok, :f :write, :value 4, :process 40, :time 52140314624, :index 8003}
{:type :invoke, :f :write, :value 4, :process 41, :time 52159656264, :index 8006}
{:type :ok, :f :write, :value 4, :process 41, :time 52165351250, :index 8007}
{:type :invoke, :f :write, :value 2, :process 40, :time 52181585199, :index 8015}
{:type :ok, :f :write, :value 2, :process 40, :time 52188377906, :index 8019}
{:type :invoke, :f :read, :value nil, :process 7, :time 52215436897, :index 8029}
{:type :invoke, :f :write, :value 3, :process 46, :time 52216867671, :index 8030}
{:type :ok, :f :read, :value 2, :process 7, :time 52221825457, :index 8031}
{:type :ok, :f :write, :value 3, :process 46, :time 52222193964, :index 8033}
{:type :invoke, :f :read, :value nil, :process 40, :time 52230716376, :index 8034}
{:type :ok, :f :read, :value 3, :process 40, :time 52236521805, :index 8035}
{:type :invoke, :f :read, :value nil, :process 46, :time 52251446998, :index 8041}
{:type :ok, :f :read, :value 3, :process 46, :time 52256461336, :index 8043}
{:type :invoke, :f :cas, :value [0 3], :process 41, :time 52273556777, :index 8046}
{:type :invoke, :f :read, :value nil, :process 22, :time 52274072343, :index 8047}
{:type :fail, :f :cas, :value [0 3], :process 41, :time 52278791296, :index 8048}
{:type :ok, :f :read, :value 3, :process 22, :time 52280974535, :index 8049}
{:type :invoke, :f :write, :value 2, :process 25, :time 52323929190, :index 8059}
{:type :ok, :f :write, :value 2, :process 25, :time 52329283917, :index 8061}
{:type :invoke, :f :read, :value nil, :process 41, :time 52347054055, :index 8062}
{:type :ok, :f :read, :value 2, :process 41, :time 52353028566, :index 8065}
{:type :invoke, :f :write, :value 0, :process 40, :time 52353784042, :index 8066}
{:type :ok, :f :write, :value 0, :process 40, :time 52358862252, :index 8067}
{:type :invoke, :f :write, :value 0, :process 25, :time 52365555570, :index 8068}
{:type :ok, :f :write, :value 0, :process 25, :time 52370863544, :index 8069}
{:type :invoke, :f :read, :value nil, :process 46, :time 52380710417, :index 8070}
{:type :ok, :f :read, :value 0, :process 46, :time 52385461564, :index 8072}
{:type :invoke, :f :read, :value nil, :process 7, :time 52390099687, :index 8074}
{:type :ok, :f :read, :value 0, :process 7, :time 52395451823, :index 8075}
{:type :invoke, :f :read, :value nil, :process 40, :time 52400118701, :index 8076}
{:type :invoke, :f :write, :value 4, :process 41, :time 52400418395, :index 8077}
{:type :invoke, :f :cas, :value [1 4], :process 25, :time 52406124013, :index 8078}
{:type :ok, :f :write, :value 4, :process 41, :time 52406618579, :index 8079}
{:type :ok, :f :read, :value 4, :process 40, :time 52407341191, :index 8080}
{:type :fail, :f :cas, :value [1 4], :process 25, :time 52412069646, :index 8081}
{:type :invoke, :f :read, :value nil, :process 40, :time 52466575747, :index 8092}
{:type :ok, :f :read, :value 4, :process 40, :time 52472186512, :index 8094}
{:type :invoke, :f :read, :value nil, :process 22, :time 52478243084, :index 8096}
{:type :invoke, :f :cas, :value [1 1], :process 41, :time 52505096983, :index 8099}
{:type :invoke, :f :write, :value 4, :process 25, :time 52537298512, :index 8102}
{:type :invoke, :f :write, :value 3, :process 40, :time 52542446337, :index 8103}
{:type :invoke, :f :read, :value nil, :process 46, :time 52581720971, :index 8104}
{:type :invoke, :f :cas, :value [3 2], :process 7, :time 52592724928, :index 8105}
{:type :ok, :f :write, :value 4, :process 25, :time 55143206607, :index 8108}
{:type :ok, :f :cas, :value [3 2], :process 7, :time 55143525329, :index 8110}
{:type :ok, :f :read, :value 3, :process 46, :time 55143621950, :index 8111}
{:type :ok, :f :read, :value 4, :process 22, :time 55143801600, :index 8112}
{:type :ok, :f :write, :value 3, :process 40, :time 55144265309, :index 8114}
{:type :fail, :f :cas, :value [4 3], :process 64, :time 55145455912, :index 8116}
{:type :ok, :f :read, :value 2, :process 49, :time 55145715605, :index 8118}
{:type :ok, :f :cas, :value [2 0], :process 63, :time 55146290260, :index 8120}
{:type :fail, :f :cas, :value [1 2], :process 68, :time 55147057183, :index 8122}
{:type :fail, :f :cas, :value [1 1], :process 41, :time 55148796448, :index 8127}
{:type :invoke, :f :cas, :value [1 0], :process 64, :time 55189014552, :index 8130}
{:type :invoke, :f :read, :value nil, :process 40, :time 55190530439, :index 8131}
{:type :fail, :f :cas, :value [1 0], :process 64, :time 55193873127, :index 8133}
{:type :ok, :f :read, :value 0, :process 40, :time 55195367185, :index 8134}
{:type :invoke, :f :read, :value nil, :process 68, :time 55198302534, :index 8136}
{:type :ok, :f :read, :value 0, :process 68, :time 55203060343, :index 8138}
{:type :invoke, :f :read, :value nil, :process 63, :time 55215539563, :index 8140}
{:type :ok, :f :read, :value 0, :process 63, :time 55221007843, :index 8142}
{:type :invoke, :f :read, :value nil, :process 46, :time 55228086409, :index 8145}
{:type :ok, :f :read, :value 0, :process 46, :time 55233526232, :index 8149}
{:type :invoke, :f :read, :value nil, :process 7, :time 55255078937, :index 8154}
{:type :ok, :f :read, :value 0, :process 7, :time 55259973441, :index 8155}
{:type :invoke, :f :read, :value nil, :process 49, :time 55266121317, :index 8156}
{:type :ok, :f :read, :value 0, :process 49, :time 55272281935, :index 8159}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 55297129234, :index 8164}
{:type :ok, :f :cas, :value [0 4], :process 22, :time 55303328415, :index 8168}
{:type :invoke, :f :write, :value 4, :process 25, :time 55308652041, :index 8170}
{:type :ok, :f :write, :value 4, :process 25, :time 55313532074, :index 8172}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
