{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 13855364657, :index 2744}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 13861106200, :error :not-found, :index 2745}
{:type :invoke, :f :read, :value nil, :process 0, :time 13875995587, :index 2755}
{:type :ok, :f :read, :value nil, :process 0, :time 13881265150, :index 2757}
{:type :invoke, :f :write, :value 3, :process 7, :time 13900007751, :index 2764}
{:type :ok, :f :write, :value 3, :process 7, :time 13905382063, :index 2766}
{:type :invoke, :f :cas, :value [1 0], :process 1, :time 13923752003, :index 2772}
{:type :invoke, :f :read, :value nil, :process 5, :time 13925007453, :index 2773}
{:type :invoke, :f :write, :value 1, :process 23, :time 13926758491, :index 2774}
{:type :ok, :f :read, :value 3, :process 5, :time 13929613951, :index 2775}
{:type :fail, :f :cas, :value [1 0], :process 1, :time 13929791259, :index 2776}
{:type :ok, :f :write, :value 1, :process 23, :time 13932600544, :index 2777}
{:type :invoke, :f :read, :value nil, :process 2, :time 13941136159, :index 2783}
{:type :ok, :f :read, :value 1, :process 2, :time 13946095375, :index 2785}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 13946017197, :index 2786}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 13951265775, :index 2787}
{:type :invoke, :f :read, :value nil, :process 9, :time 13988804030, :index 2795}
{:type :ok, :f :read, :value 1, :process 9, :time 13993206410, :index 2797}
{:type :invoke, :f :read, :value nil, :process 0, :time 14015528446, :index 2801}
{:type :ok, :f :read, :value 1, :process 0, :time 14020264459, :index 2804}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 14034648493, :index 2809}
{:type :invoke, :f :cas, :value [0 0], :process 26, :time 14035953584, :index 2811}
{:type :invoke, :f :cas, :value [3 1], :process 23, :time 14036859368, :index 2812}
{:type :invoke, :f :read, :value nil, :process 2, :time 14039328760, :index 2813}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 14040326115, :index 2814}
{:type :invoke, :f :read, :value nil, :process 4, :time 14041529440, :index 2815}
{:type :fail, :f :cas, :value [3 1], :process 23, :time 14042403106, :index 2816}
{:type :invoke, :f :read, :value nil, :process 9, :time 14042473461, :index 2817}
{:type :fail, :f :cas, :value [0 0], :process 26, :time 14043450407, :index 2818}
{:type :ok, :f :read, :value 1, :process 2, :time 14044460341, :index 2819}
{:type :ok, :f :read, :value 1, :process 4, :time 14046258743, :index 2821}
{:type :ok, :f :read, :value 1, :process 9, :time 14047868870, :index 2823}
{:type :invoke, :f :read, :value nil, :process 8, :time 14059374687, :index 2828}
{:type :ok, :f :read, :value 1, :process 8, :time 14065096710, :index 2829}
{:type :invoke, :f :cas, :value [2 1], :process 1, :time 14066035044, :index 2830}
{:type :invoke, :f :read, :value nil, :process 7, :time 14066602622, :index 2831}
{:type :ok, :f :read, :value 1, :process 7, :time 14071662253, :index 2833}
{:type :fail, :f :cas, :value [2 1], :process 1, :time 14071967603, :index 2834}
{:type :invoke, :f :read, :value nil, :process 23, :time 14086678665, :index 2839}
{:type :ok, :f :read, :value 1, :process 23, :time 14092419785, :index 2841}
{:type :invoke, :f :write, :value 2, :process 5, :time 14092894144, :index 2843}
{:type :ok, :f :write, :value 2, :process 5, :time 14098076237, :index 2846}
{:type :invoke, :f :cas, :value [4 4], :process 9, :time 14099128888, :index 2848}
{:type :fail, :f :cas, :value [4 4], :process 9, :time 14104878502, :index 2851}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 14115520795, :index 2852}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 14121288008, :index 2853}
{:type :invoke, :f :cas, :value [0 3], :process 1, :time 14128278190, :index 2854}
{:type :invoke, :f :read, :value nil, :process 26, :time 14132713978, :index 2856}
{:type :fail, :f :cas, :value [0 3], :process 1, :time 14134402176, :index 2857}
{:type :invoke, :f :write, :value 0, :process 7, :time 14136925160, :index 2858}
{:type :ok, :f :read, :value 2, :process 26, :time 14137702363, :index 2860}
{:type :invoke, :f :write, :value 1, :process 2, :time 14141739758, :index 2861}
{:type :ok, :f :write, :value 0, :process 7, :time 14141838787, :index 2862}
{:type :ok, :f :write, :value 1, :process 2, :time 14146850366, :index 2863}
{:type :invoke, :f :write, :value 4, :process 1, :time 14156652570, :index 2864}
{:type :ok, :f :write, :value 4, :process 1, :time 14162741664, :index 2866}
{:type :invoke, :f :write, :value 0, :process 8, :time 14176358578, :index 2869}
{:type :ok, :f :write, :value 0, :process 8, :time 14181046211, :index 2871}
{:type :invoke, :f :read, :value nil, :process 23, :time 14182671887, :index 2872}
{:type :ok, :f :read, :value 0, :process 23, :time 14187580747, :index 2875}
{:type :invoke, :f :cas, :value [0 3], :process 26, :time 14195952098, :index 2883}
{:type :ok, :f :cas, :value [0 3], :process 26, :time 14201455025, :index 2885}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 14205554494, :index 2886}
{:type :invoke, :f :write, :value 2, :process 0, :time 14209544257, :index 2887}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 14210927594, :index 2888}
{:type :invoke, :f :cas, :value [3 4], :process 8, :time 14211318424, :index 2889}
{:type :ok, :f :write, :value 2, :process 0, :time 14214546520, :index 2890}
{:type :fail, :f :cas, :value [3 4], :process 8, :time 14216782500, :index 2891}
{:type :invoke, :f :read, :value nil, :process 7, :time 14220075704, :index 2892}
{:type :ok, :f :read, :value 2, :process 7, :time 14224790118, :index 2893}
{:type :invoke, :f :read, :value nil, :process 7, :time 14226065931, :index 2895}
{:type :ok, :f :read, :value 2, :process 7, :time 14231907565, :index 2898}
{:type :invoke, :f :write, :value 2, :process 5, :time 14249327337, :index 2902}
{:type :ok, :f :write, :value 2, :process 5, :time 14254461778, :index 2903}
{:type :invoke, :f :write, :value 3, :process 8, :time 14274048442, :index 2907}
{:type :ok, :f :write, :value 3, :process 8, :time 14278885388, :index 2909}
{:type :invoke, :f :read, :value nil, :process 2, :time 14279109716, :index 2910}
{:type :invoke, :f :write, :value 3, :process 9, :time 14283122790, :index 2913}
{:type :ok, :f :read, :value 3, :process 2, :time 14285252671, :index 2915}
{:type :invoke, :f :read, :value nil, :process 1, :time 14290034658, :index 2917}
{:type :ok, :f :write, :value 3, :process 9, :time 14290729182, :index 2918}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 14293721830, :index 2919}
{:type :ok, :f :read, :value 3, :process 1, :time 14294988254, :index 2920}
{:type :ok, :f :cas, :value [3 2], :process 5, :time 14298184155, :index 2921}
{:type :invoke, :f :write, :value 2, :process 5, :time 14321444892, :index 2927}
{:type :invoke, :f :cas, :value [2 2], :process 23, :time 14321851658, :index 2929}
{:type :ok, :f :write, :value 2, :process 5, :time 14326206973, :index 2931}
{:type :ok, :f :cas, :value [2 2], :process 23, :time 14327792381, :index 2932}
{:type :invoke, :f :read, :value nil, :process 4, :time 14343224607, :index 2939}
{:type :invoke, :f :write, :value 0, :process 26, :time 14343734236, :index 2941}
{:type :invoke, :f :write, :value 0, :process 9, :time 14344985016, :index 2942}
{:type :ok, :f :read, :value 2, :process 4, :time 14349061799, :index 2944}
{:type :ok, :f :write, :value 0, :process 26, :time 14349685501, :index 2945}
{:type :ok, :f :write, :value 0, :process 9, :time 14352207724, :index 2946}
{:type :invoke, :f :write, :value 3, :process 8, :time 14354122729, :index 2948}
{:type :invoke, :f :write, :value 1, :process 23, :time 14356056544, :index 2949}
{:type :invoke, :f :cas, :value [2 2], :process 7, :time 14361062667, :index 2952}
{:type :fail, :f :cas, :value [2 2], :process 7, :time 14367513364, :index 2954}
{:type :invoke, :f :write, :value 1, :process 2, :time 14370547940, :index 2955}
{:type :invoke, :f :read, :value nil, :process 0, :time 14370820140, :index 2956}
{:type :ok, :f :read, :value 0, :process 0, :time 14375667215, :index 2958}
{:type :ok, :f :write, :value 1, :process 2, :time 14376522988, :index 2959}
{:type :invoke, :f :read, :value nil, :process 9, :time 14395548179, :index 2965}
{:type :ok, :f :read, :value 1, :process 9, :time 14400160628, :index 2967}
{:type :invoke, :f :read, :value nil, :process 2, :time 14411778578, :index 2971}
{:type :ok, :f :read, :value 1, :process 2, :time 14416944868, :index 2973}
{:type :invoke, :f :write, :value 1, :process 0, :time 14420918291, :index 2974}
{:type :ok, :f :write, :value 1, :process 0, :time 14425730708, :index 2975}
{:type :invoke, :f :read, :value nil, :process 2, :time 14460198687, :index 2979}
{:type :invoke, :f :write, :value 3, :process 1, :time 14461250017, :index 2980}
{:type :ok, :f :read, :value 1, :process 2, :time 14465642164, :index 2982}
{:type :ok, :f :write, :value 3, :process 1, :time 14466502642, :index 2983}
{:type :invoke, :f :read, :value nil, :process 9, :time 14498436792, :index 2992}
{:type :ok, :f :read, :value 3, :process 9, :time 14503783322, :index 2993}
{:type :invoke, :f :cas, :value [2 3], :process 5, :time 14510503966, :index 2994}
{:type :fail, :f :cas, :value [2 3], :process 5, :time 14514975333, :index 2995}
{:type :invoke, :f :write, :value 4, :process 0, :time 14530008881, :index 3000}
{:type :invoke, :f :write, :value 4, :process 26, :time 14531938037, :index 3001}
{:type :ok, :f :write, :value 4, :process 0, :time 14534798081, :index 3002}
{:type :ok, :f :write, :value 4, :process 26, :time 14537053760, :index 3004}
{:type :invoke, :f :write, :value 2, :process 7, :time 14540771539, :index 3006}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 14546329670, :index 3007}
{:type :ok, :f :write, :value 2, :process 7, :time 14546457934, :index 3008}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 14552079568, :index 3010}
{:type :invoke, :f :write, :value 4, :process 0, :time 14564052968, :index 3015}
{:type :ok, :f :write, :value 4, :process 0, :time 14568586326, :index 3017}
{:type :invoke, :f :read, :value nil, :process 1, :time 14568754491, :index 3018}
{:type :ok, :f :read, :value 4, :process 1, :time 14574715838, :index 3019}
{:type :invoke, :f :cas, :value [4 3], :process 5, :time 14592212383, :index 3020}
{:type :invoke, :f :read, :value nil, :process 26, :time 14592331492, :index 3021}
{:type :ok, :f :cas, :value [4 3], :process 5, :time 14596901345, :index 3022}
{:type :ok, :f :read, :value 3, :process 26, :time 14597854411, :index 3023}
{:type :invoke, :f :write, :value 1, :process 2, :time 14607900855, :index 3026}
{:type :ok, :f :write, :value 1, :process 2, :time 14613577480, :index 3028}
{:type :invoke, :f :cas, :value [1 3], :process 26, :time 14635106525, :index 3035}
{:type :invoke, :f :read, :value nil, :process 7, :time 14636710290, :index 3036}
{:type :ok, :f :cas, :value [1 3], :process 26, :time 14641789601, :index 3038}
{:type :ok, :f :read, :value 3, :process 7, :time 14642108049, :index 3039}
{:type :invoke, :f :write, :value 0, :process 2, :time 14649833304, :index 3040}
{:type :ok, :f :write, :value 0, :process 2, :time 14655772449, :index 3041}
{:type :ok, :f :write, :value 3, :process 8, :time 14656169595, :index 3042}
{:type :ok, :f :write, :value 1, :process 23, :time 14656229240, :index 3043}
{:type :invoke, :f :write, :value 3, :process 4, :time 14667369266, :index 3050}
{:type :ok, :f :write, :value 3, :process 4, :time 14672561476, :index 3052}
{:type :invoke, :f :read, :value nil, :process 9, :time 14684042629, :index 3055}
{:type :invoke, :f :cas, :value [2 4], :process 5, :time 14685165345, :index 3057}
{:type :ok, :f :read, :value 3, :process 9, :time 14689305737, :index 3058}
{:type :fail, :f :cas, :value [2 4], :process 5, :time 14690035314, :index 3059}
{:type :invoke, :f :cas, :value [2 1], :process 23, :time 14720454636, :index 3064}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 14721362188, :index 3065}
{:type :invoke, :f :cas, :value [4 4], :process 9, :time 14734203912, :index 3066}
{:type :fail, :f :cas, :value [2 1], :process 23, :time 14734730561, :index 3067}
{:type :invoke, :f :read, :value nil, :process 8, :time 14737227974, :index 3069}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 14738297944, :index 3070}
{:type :fail, :f :cas, :value [4 4], :process 9, :time 14740861143, :index 3072}
{:type :ok, :f :read, :value 3, :process 8, :time 14742466161, :index 3074}
{:type :invoke, :f :read, :value nil, :process 0, :time 14746839546, :index 3077}
{:type :invoke, :f :cas, :value [2 1], :process 1, :time 14747977105, :index 3078}
{:type :invoke, :f :read, :value nil, :process 5, :time 14748323231, :index 3079}
{:type :ok, :f :read, :value 3, :process 0, :time 14752525326, :index 3081}
{:type :ok, :f :read, :value 3, :process 5, :time 14753728994, :index 3082}
{:type :fail, :f :cas, :value [2 1], :process 1, :time 14753822090, :index 3083}
{:type :invoke, :f :cas, :value [0 0], :process 2, :time 14777029765, :index 3086}
{:type :fail, :f :cas, :value [0 0], :process 2, :time 14783083734, :index 3087}
{:type :invoke, :f :read, :value nil, :process 7, :time 14797595650, :index 3093}
{:type :ok, :f :read, :value 3, :process 7, :time 14802558372, :index 3095}
{:type :invoke, :f :cas, :value [0 2], :process 1, :time 14808068444, :index 3099}
{:type :invoke, :f :cas, :value [2 2], :process 26, :time 14814115849, :index 3100}
{:type :fail, :f :cas, :value [0 2], :process 1, :time 14815604632, :index 3103}
{:type :invoke, :f :write, :value 4, :process 4, :time 14815843513, :index 3104}
{:type :fail, :f :cas, :value [2 2], :process 26, :time 14820031167, :index 3105}
{:type :ok, :f :write, :value 4, :process 4, :time 14821516414, :index 3108}
{:type :invoke, :f :write, :value 2, :process 4, :time 14857771893, :index 3119}
{:type :invoke, :f :write, :value 3, :process 0, :time 14860780489, :index 3121}
{:type :ok, :f :write, :value 2, :process 4, :time 14862757497, :index 3122}
{:type :ok, :f :write, :value 3, :process 0, :time 14865762223, :index 3125}
{:type :invoke, :f :write, :value 0, :process 1, :time 14866864280, :index 3126}
{:type :ok, :f :write, :value 0, :process 1, :time 14871741664, :index 3127}
{:type :invoke, :f :cas, :value [1 2], :process 23, :time 14880983121, :index 3129}
{:type :fail, :f :cas, :value [1 2], :process 23, :time 14886354513, :index 3131}
{:type :invoke, :f :write, :value 3, :process 9, :time 14888129772, :index 3132}
{:type :ok, :f :write, :value 3, :process 9, :time 14893306560, :index 3133}
{:type :invoke, :f :read, :value nil, :process 5, :time 14896990399, :index 3134}
{:type :ok, :f :read, :value 3, :process 5, :time 14901769103, :index 3135}
{:type :invoke, :f :write, :value 1, :process 7, :time 14901838947, :index 3136}
{:type :ok, :f :write, :value 1, :process 7, :time 14907746060, :index 3137}
{:type :invoke, :f :read, :value nil, :process 4, :time 14918037399, :index 3141}
{:type :invoke, :f :read, :value nil, :process 8, :time 14918699804, :index 3142}
{:type :ok, :f :read, :value 1, :process 4, :time 14923296461, :index 3146}
{:type :ok, :f :read, :value 1, :process 8, :time 14925768866, :index 3148}
{:type :invoke, :f :read, :value nil, :process 1, :time 14952000864, :index 3158}
{:type :ok, :f :read, :value 1, :process 1, :time 14956670729, :index 3160}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 14961027001, :index 3162}
{:type :ok, :f :cas, :value [1 4], :process 0, :time 14965673865, :index 3163}
{:type :invoke, :f :read, :value nil, :process 2, :time 14968348260, :index 3164}
{:type :ok, :f :read, :value 4, :process 2, :time 14972837969, :index 3165}
{:type :invoke, :f :read, :value nil, :process 23, :time 14987619657, :index 3170}
{:type :invoke, :f :cas, :value [4 3], :process 26, :time 14988227327, :index 3171}
{:type :ok, :f :read, :value 4, :process 23, :time 14992288019, :index 3174}
{:type :ok, :f :cas, :value [4 3], :process 26, :time 14993489987, :index 3175}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
