{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :invoke, :f :cas, :value [2 2], :process 8, :time 8475115711, :index 1989}
{:type :invoke, :f :write, :value 2, :process 6, :time 8478058628, :index 1991}
{:type :invoke, :f :write, :value 2, :process 0, :time 8478736398, :index 1992}
{:type :fail, :f :cas, :value [2 2], :process 8, :time 8480545042, :error :not-found, :index 1993}
{:type :ok, :f :write, :value 2, :process 6, :time 8484396064, :index 1994}
{:type :ok, :f :write, :value 2, :process 0, :time 8485173125, :index 1995}
{:type :invoke, :f :cas, :value [2 3], :process 1, :time 8525812289, :index 2000}
{:type :ok, :f :cas, :value [2 3], :process 1, :time 8532883291, :index 2002}
{:type :invoke, :f :write, :value 3, :process 5, :time 8546002350, :index 2006}
{:type :invoke, :f :write, :value 2, :process 3, :time 8550081639, :index 2009}
{:type :ok, :f :write, :value 3, :process 5, :time 8553217070, :index 2010}
{:type :ok, :f :write, :value 2, :process 3, :time 8555143075, :index 2011}
{:type :invoke, :f :write, :value 4, :process 1, :time 8568152281, :index 2014}
{:type :ok, :f :write, :value 4, :process 1, :time 8573202437, :index 2015}
{:type :invoke, :f :write, :value 2, :process 8, :time 8589818269, :index 2016}
{:type :invoke, :f :read, :value nil, :process 3, :time 8590441852, :index 2017}
{:type :ok, :f :write, :value 2, :process 8, :time 8594414825, :index 2018}
{:type :ok, :f :read, :value 2, :process 3, :time 8595382527, :index 2020}
{:type :invoke, :f :write, :value 1, :process 3, :time 8599640706, :index 2021}
{:type :ok, :f :write, :value 1, :process 3, :time 8604187932, :index 2023}
{:type :invoke, :f :cas, :value [1 0], :process 1, :time 8612464458, :index 2024}
{:type :invoke, :f :write, :value 3, :process 6, :time 8613657673, :index 2025}
{:type :ok, :f :cas, :value [1 0], :process 1, :time 8618043534, :index 2026}
{:type :ok, :f :write, :value 3, :process 6, :time 8618659020, :index 2027}
{:type :invoke, :f :read, :value nil, :process 6, :time 8618786410, :index 2028}
{:type :ok, :f :read, :value 3, :process 6, :time 8623694167, :index 2029}
{:type :invoke, :f :read, :value nil, :process 0, :time 8660410117, :index 2034}
{:type :ok, :f :read, :value 3, :process 0, :time 8666115296, :index 2036}
{:type :invoke, :f :read, :value nil, :process 6, :time 8723951314, :index 2046}
{:type :ok, :f :read, :value 3, :process 6, :time 8729837553, :index 2048}
{:type :invoke, :f :write, :value 2, :process 5, :time 8730496596, :index 2049}
{:type :ok, :f :write, :value 2, :process 5, :time 8736512169, :index 2051}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 8755723641, :index 2054}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 8760246932, :index 2055}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 8776440350, :index 2056}
{:type :invoke, :f :cas, :value [4 4], :process 1, :time 8779309361, :index 2057}
{:type :ok, :f :cas, :value [2 4], :process 3, :time 8781042753, :index 2058}
{:type :ok, :f :cas, :value [4 4], :process 1, :time 8785352030, :index 2059}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 8812370806, :index 2060}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 8818826775, :index 2062}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 8870093865, :index 2068}
{:type :invoke, :f :cas, :value [3 0], :process 6, :time 8870255074, :index 2069}
{:type :fail, :f :cas, :value [3 0], :process 6, :time 8875888583, :index 2072}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 8876741623, :index 2073}
{:type :invoke, :f :write, :value 3, :process 0, :time 8890987502, :index 2078}
{:type :invoke, :f :write, :value 1, :process 3, :time 8891325886, :index 2079}
{:type :ok, :f :write, :value 3, :process 0, :time 8897791230, :index 2081}
{:type :ok, :f :write, :value 1, :process 3, :time 8898284007, :index 2082}
{:type :invoke, :f :write, :value 4, :process 1, :time 8899607980, :index 2083}
{:type :ok, :f :write, :value 4, :process 1, :time 8904271987, :index 2085}
{:type :invoke, :f :cas, :value [2 4], :process 5, :time 8906768353, :index 2087}
{:type :fail, :f :cas, :value [2 4], :process 5, :time 8914410201, :index 2090}
{:type :invoke, :f :read, :value nil, :process 8, :time 8920502499, :index 2092}
{:type :ok, :f :read, :value 4, :process 8, :time 8925501553, :index 2093}
{:type :invoke, :f :read, :value nil, :process 5, :time 8931659995, :index 2094}
{:type :ok, :f :read, :value 4, :process 5, :time 8937446342, :index 2095}
{:type :invoke, :f :read, :value nil, :process 8, :time 8980757252, :index 2098}
{:type :ok, :f :read, :value 4, :process 8, :time 8986178310, :index 2099}
{:type :invoke, :f :write, :value 2, :process 3, :time 9017516372, :index 2102}
{:type :ok, :f :write, :value 2, :process 3, :time 9023206673, :index 2104}
{:type :invoke, :f :write, :value 3, :process 1, :time 9031525387, :index 2107}
{:type :ok, :f :write, :value 3, :process 1, :time 9036649686, :index 2109}
{:type :invoke, :f :read, :value nil, :process 6, :time 9038157971, :index 2110}
{:type :ok, :f :read, :value 3, :process 6, :time 9043546809, :index 2111}
{:type :invoke, :f :read, :value nil, :process 5, :time 9052706999, :index 2113}
{:type :invoke, :f :read, :value nil, :process 3, :time 9057464919, :index 2115}
{:type :ok, :f :read, :value 3, :process 5, :time 9058296350, :index 2116}
{:type :invoke, :f :write, :value 3, :process 5, :time 9059588044, :index 2117}
{:type :invoke, :f :read, :value nil, :process 0, :time 9062067442, :index 2119}
{:type :ok, :f :read, :value 3, :process 3, :time 9062215890, :index 2120}
{:type :ok, :f :write, :value 3, :process 5, :time 9065985497, :index 2121}
{:type :ok, :f :read, :value 3, :process 0, :time 9067960923, :index 2123}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 9078436831, :index 2125}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 9084480959, :index 2127}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 9126451817, :index 2134}
{:type :fail, :f :cas, :value [4 4], :process 3, :time 9131867061, :index 2135}
{:type :invoke, :f :read, :value nil, :process 0, :time 9160214501, :index 2142}
{:type :invoke, :f :read, :value nil, :process 8, :time 9163772651, :index 2144}
{:type :ok, :f :read, :value 3, :process 0, :time 9166572451, :index 2145}
{:type :ok, :f :read, :value 3, :process 8, :time 9168448298, :index 2147}
{:type :invoke, :f :read, :value nil, :process 1, :time 9179899959, :index 2148}
{:type :ok, :f :read, :value 3, :process 1, :time 9185554109, :index 2149}
{:type :invoke, :f :write, :value 4, :process 3, :time 9205121548, :index 2154}
{:type :ok, :f :write, :value 4, :process 3, :time 9210249173, :index 2156}
{:type :invoke, :f :write, :value 3, :process 6, :time 9225820459, :index 2159}
{:type :ok, :f :write, :value 3, :process 6, :time 9231701277, :index 2162}
{:type :invoke, :f :read, :value nil, :process 5, :time 9240254178, :index 2164}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 9244825525, :index 2165}
{:type :ok, :f :read, :value 3, :process 5, :time 9245118751, :index 2166}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 9250546200, :index 2168}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 9250712205, :index 2169}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 9255131319, :index 2170}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 9270972857, :index 2172}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 9276918291, :index 2173}
{:type :invoke, :f :read, :value nil, :process 8, :time 9283691344, :index 2174}
{:type :ok, :f :read, :value 3, :process 8, :time 9288645796, :index 2175}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 9322387262, :index 2185}
{:type :fail, :f :cas, :value [4 4], :process 3, :time 9328082879, :index 2186}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 9331354501, :index 2188}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 9336976645, :index 2189}
{:type :invoke, :f :cas, :value [0 2], :process 1, :time 9339810221, :index 2190}
{:type :fail, :f :cas, :value [0 2], :process 1, :time 9345461635, :index 2191}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 9350907465, :index 2192}
{:type :invoke, :f :write, :value 1, :process 0, :time 9354966623, :index 2193}
{:type :ok, :f :cas, :value [3 3], :process 8, :time 9356271919, :index 2194}
{:type :invoke, :f :read, :value nil, :process 1, :time 9356716703, :index 2195}
{:type :ok, :f :write, :value 1, :process 0, :time 9361299045, :index 2196}
{:type :ok, :f :read, :value 1, :process 1, :time 9361575541, :index 2197}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 9394338818, :index 2200}
{:type :invoke, :f :read, :value nil, :process 1, :time 9397819361, :index 2201}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 9400301098, :index 2202}
{:type :ok, :f :read, :value 1, :process 1, :time 9403505772, :index 2203}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 9416533634, :index 2204}
{:type :ok, :f :cas, :value [1 2], :process 8, :time 9421392103, :index 2206}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 9432675538, :index 2212}
{:type :invoke, :f :write, :value 4, :process 0, :time 9434830151, :index 2215}
{:type :ok, :f :cas, :value [2 1], :process 8, :time 9438169838, :index 2217}
{:type :ok, :f :write, :value 4, :process 0, :time 9440207815, :index 2218}
{:type :invoke, :f :write, :value 0, :process 6, :time 9457183346, :index 2221}
{:type :ok, :f :write, :value 0, :process 6, :time 9462951278, :index 2223}
{:type :invoke, :f :write, :value 2, :process 5, :time 9494257721, :index 2229}
{:type :ok, :f :write, :value 2, :process 5, :time 9500031551, :index 2231}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 9518203812, :index 2232}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 9524123468, :index 2233}
{:type :invoke, :f :read, :value nil, :process 1, :time 9531761805, :index 2234}
{:type :ok, :f :read, :value 2, :process 1, :time 9536683145, :index 2236}
{:type :invoke, :f :read, :value nil, :process 6, :time 9547374584, :index 2238}
{:type :ok, :f :read, :value 2, :process 6, :time 9552663131, :index 2240}
{:type :invoke, :f :cas, :value [2 2], :process 0, :time 9560474164, :index 2242}
{:type :ok, :f :cas, :value [2 2], :process 0, :time 9566360298, :index 2243}
{:type :invoke, :f :read, :value nil, :process 3, :time 9572561846, :index 2244}
{:type :ok, :f :read, :value 2, :process 3, :time 9577657789, :index 2245}
{:type :invoke, :f :write, :value 2, :process 1, :time 9589946187, :index 2246}
{:type :invoke, :f :write, :value 0, :process 5, :time 9594281011, :index 2247}
{:type :ok, :f :write, :value 2, :process 1, :time 9596379463, :index 2248}
{:type :ok, :f :write, :value 0, :process 5, :time 9600108180, :index 2249}
{:type :invoke, :f :write, :value 4, :process 8, :time 9615433244, :index 2251}
{:type :ok, :f :write, :value 4, :process 8, :time 9619651905, :index 2253}
{:type :invoke, :f :write, :value 0, :process 8, :time 9619776485, :index 2254}
{:type :ok, :f :write, :value 0, :process 8, :time 9625139152, :index 2256}
{:type :invoke, :f :write, :value 0, :process 5, :time 9659359578, :index 2264}
{:type :ok, :f :write, :value 0, :process 5, :time 9664867668, :index 2266}
{:type :invoke, :f :read, :value nil, :process 1, :time 9674641348, :index 2268}
{:type :ok, :f :read, :value 0, :process 1, :time 9680462935, :index 2270}
{:type :invoke, :f :write, :value 4, :process 6, :time 9681930935, :index 2271}
{:type :ok, :f :write, :value 4, :process 6, :time 9686694531, :index 2273}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 9698585557, :index 2274}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 9705690623, :index 2275}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 9708913257, :index 2276}
{:type :ok, :f :cas, :value [4 1], :process 3, :time 9714136842, :index 2277}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 9735409119, :index 2280}
{:type :ok, :f :cas, :value [1 0], :process 8, :time 9741124737, :index 2282}
{:type :invoke, :f :read, :value nil, :process 3, :time 9777403982, :index 2288}
{:type :ok, :f :read, :value 0, :process 3, :time 9781989075, :index 2289}
{:type :invoke, :f :write, :value 2, :process 0, :time 9791955155, :index 2292}
{:type :ok, :f :write, :value 2, :process 0, :time 9796968132, :index 2293}
{:type :invoke, :f :cas, :value [2 3], :process 5, :time 9810129595, :index 2296}
{:type :ok, :f :cas, :value [2 3], :process 5, :time 9815687883, :index 2299}
{:type :invoke, :f :read, :value nil, :process 6, :time 9852961928, :index 2306}
{:type :ok, :f :read, :value 3, :process 6, :time 9864569917, :index 2308}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 9876721373, :index 2310}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 9881254074, :index 2312}
{:type :fail, :f :cas, :value [4 0], :process 1, :time 9882602862, :index 2313}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 9887108704, :index 2315}
{:type :invoke, :f :cas, :value [1 4], :process 1, :time 9902872480, :index 2316}
{:type :invoke, :f :write, :value 0, :process 5, :time 9908940822, :index 2318}
{:type :fail, :f :cas, :value [1 4], :process 1, :time 9909908014, :index 2320}
{:type :ok, :f :write, :value 0, :process 5, :time 9914719548, :index 2321}
{:type :invoke, :f :write, :value 1, :process 8, :time 9932389615, :index 2322}
{:type :ok, :f :write, :value 1, :process 8, :time 9937801617, :index 2323}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 9946225174, :index 2326}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 9952038593, :index 2327}
{:type :invoke, :f :read, :value nil, :process 8, :time 10004058849, :index 2335}
{:type :invoke, :f :write, :value 2, :process 6, :time 10006791968, :index 2336}
{:type :ok, :f :read, :value 1, :process 8, :time 10011526948, :index 2339}
{:type :ok, :f :write, :value 2, :process 6, :time 10013684961, :index 2341}
{:type :invoke, :f :read, :value nil, :process 3, :time 10014347064, :index 2342}
{:type :ok, :f :read, :value 2, :process 3, :time 10020260041, :index 2346}
{:type :invoke, :f :write, :value 3, :process 1, :time 10025190362, :index 2349}
{:type :ok, :f :write, :value 3, :process 1, :time 10032133897, :index 2352}
{:type :invoke, :f :write, :value 3, :process 5, :time 10046976060, :index 2356}
{:type :ok, :f :write, :value 3, :process 5, :time 10052444698, :index 2359}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 10081310185, :index 2362}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 10088938403, :index 2364}
{:type :invoke, :f :write, :value 1, :process 8, :time 10101198325, :index 2366}
{:type :ok, :f :write, :value 1, :process 8, :time 10106840247, :index 2367}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 10113693314, :index 2368}
{:type :invoke, :f :write, :value 1, :process 0, :time 10118295827, :index 2369}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 10120722791, :index 2371}
{:type :ok, :f :write, :value 1, :process 0, :time 10126404664, :index 2373}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 10173904917, :index 2382}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 10179455950, :index 2384}
{:type :invoke, :f :write, :value 3, :process 1, :time 10187416394, :index 2386}
{:type :ok, :f :write, :value 3, :process 1, :time 10192803049, :index 2387}
{:type :invoke, :f :write, :value 2, :process 3, :time 10196509166, :index 2388}
{:type :ok, :f :write, :value 2, :process 3, :time 10201552537, :index 2390}
{:type :invoke, :f :read, :value nil, :process 8, :time 10215153170, :index 2392}
{:type :ok, :f :read, :value 2, :process 8, :time 10220499197, :index 2394}
{:type :invoke, :f :read, :value nil, :process 5, :time 10294004579, :index 2416}
{:type :ok, :f :read, :value 2, :process 5, :time 10300328453, :index 2421}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
