{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :invoke, :f :write, :value 0, :process 59, :time 31564664689, :index 5555}
{:type :invoke, :f :cas, :value [1 3], :process 55, :time 31565787868, :index 5557}
{:type :ok, :f :write, :value 0, :process 59, :time 31569968996, :index 5558}
{:type :fail, :f :cas, :value [1 3], :process 55, :time 31570995619, :index 5560}
{:type :invoke, :f :write, :value 4, :process 32, :time 31589460420, :index 5566}
{:type :ok, :f :write, :value 4, :process 32, :time 31595575691, :index 5570}
{:type :invoke, :f :read, :value nil, :process 32, :time 31616847306, :index 5575}
{:type :invoke, :f :read, :value nil, :process 55, :time 31622261467, :index 5578}
{:type :invoke, :f :read, :value nil, :process 30, :time 31671749536, :index 5581}
{:type :invoke, :f :cas, :value [3 2], :process 37, :time 31733344940, :index 5584}
{:type :invoke, :f :read, :value nil, :process 59, :time 31768257730, :index 5587}
{:type :ok, :f :read, :value 4, :process 55, :time 32256648401, :index 5588}
{:type :ok, :f :read, :value 4, :process 32, :time 32257830918, :index 5591}
{:type :invoke, :f :cas, :value [0 3], :process 55, :time 32310021618, :index 5593}
{:type :invoke, :f :read, :value nil, :process 34, :time 32335795265, :index 5594}
{:type :invoke, :f :write, :value 3, :process 32, :time 32336093420, :index 5595}
{:type :ok, :f :read, :value 4, :process 30, :time 33436052001, :index 5597}
{:type :ok, :f :read, :value 4, :process 59, :time 33436318044, :index 5598}
{:type :fail, :f :cas, :value [3 2], :process 37, :time 33437245517, :index 5601}
{:type :fail, :f :cas, :value [0 3], :process 55, :time 33439455014, :index 5604}
{:type :ok, :f :read, :value 4, :process 34, :time 33439784808, :index 5605}
{:type :ok, :f :write, :value 3, :process 32, :time 33439882257, :index 5606}
{:type :invoke, :f :write, :value 4, :process 55, :time 33468727765, :index 5617}
{:type :ok, :f :write, :value 4, :process 55, :time 33473221880, :index 5619}
{:type :invoke, :f :write, :value 2, :process 59, :time 33473951129, :index 5620}
{:type :ok, :f :write, :value 2, :process 59, :time 33478384238, :index 5621}
{:type :invoke, :f :read, :value nil, :process 30, :time 33502438116, :index 5623}
{:type :ok, :f :read, :value 2, :process 30, :time 33507060287, :index 5625}
{:type :invoke, :f :write, :value 4, :process 16, :time 33526705449, :index 5630}
{:type :invoke, :f :cas, :value [2 4], :process 55, :time 33528480485, :index 5631}
{:type :invoke, :f :write, :value 1, :process 34, :time 33529056349, :index 5632}
{:type :ok, :f :write, :value 4, :process 16, :time 33532053969, :index 5633}
{:type :fail, :f :cas, :value [2 4], :process 55, :time 33533927305, :index 5634}
{:type :invoke, :f :cas, :value [2 4], :process 55, :time 33534085654, :index 5635}
{:type :ok, :f :write, :value 1, :process 34, :time 33534535351, :index 5636}
{:type :fail, :f :cas, :value [2 4], :process 55, :time 33539409616, :index 5637}
{:type :invoke, :f :write, :value 1, :process 31, :time 33561055665, :index 5639}
{:type :ok, :f :write, :value 1, :process 31, :time 33566511372, :index 5641}
{:type :invoke, :f :cas, :value [0 0], :process 13, :time 33567132352, :index 5642}
{:type :fail, :f :cas, :value [0 0], :process 13, :time 33572016163, :index 5643}
{:type :invoke, :f :write, :value 3, :process 31, :time 33580765786, :index 5646}
{:type :invoke, :f :cas, :value [2 1], :process 38, :time 33584685378, :index 5647}
{:type :ok, :f :write, :value 3, :process 31, :time 33587317399, :index 5648}
{:type :fail, :f :cas, :value [2 1], :process 38, :time 33589535658, :index 5649}
{:type :invoke, :f :write, :value 2, :process 37, :time 33591140233, :index 5650}
{:type :invoke, :f :write, :value 1, :process 38, :time 33608799751, :index 5651}
{:type :ok, :f :write, :value 1, :process 38, :time 33614648141, :index 5654}
{:type :invoke, :f :cas, :value [0 0], :process 32, :time 33620138557, :index 5657}
{:type :invoke, :f :read, :value nil, :process 34, :time 33635797698, :index 5660}
{:type :ok, :f :read, :value 1, :process 34, :time 33640983107, :index 5664}
{:type :invoke, :f :read, :value nil, :process 30, :time 33647319047, :index 5666}
{:type :invoke, :f :cas, :value [0 4], :process 59, :time 33649648316, :index 5667}
{:type :ok, :f :read, :value 1, :process 30, :time 33651986486, :index 5668}
{:type :fail, :f :cas, :value [0 4], :process 59, :time 33654799347, :index 5669}
{:type :invoke, :f :write, :value 3, :process 34, :time 33659303632, :index 5671}
{:type :invoke, :f :write, :value 3, :process 16, :time 33666317320, :index 5673}
{:type :ok, :f :write, :value 3, :process 34, :time 33667322039, :index 5675}
{:type :ok, :f :write, :value 3, :process 16, :time 33670951306, :index 5677}
{:type :invoke, :f :write, :value 2, :process 38, :time 33692931145, :index 5682}
{:type :ok, :f :write, :value 2, :process 38, :time 33698533848, :index 5683}
{:type :invoke, :f :cas, :value [2 1], :process 31, :time 33712576979, :index 5684}
{:type :invoke, :f :write, :value 2, :process 55, :time 33714677482, :index 5685}
{:type :ok, :f :cas, :value [2 1], :process 31, :time 33717787432, :index 5686}
{:type :ok, :f :write, :value 2, :process 55, :time 33719199434, :index 5687}
{:type :invoke, :f :read, :value nil, :process 34, :time 33736634736, :index 5690}
{:type :ok, :f :read, :value 2, :process 34, :time 33742056225, :index 5693}
{:type :invoke, :f :write, :value 1, :process 30, :time 33745249832, :index 5694}
{:type :invoke, :f :cas, :value [0 2], :process 13, :time 33748286435, :index 5696}
{:type :ok, :f :write, :value 1, :process 30, :time 33750117862, :index 5697}
{:type :fail, :f :cas, :value [0 2], :process 13, :time 33754170887, :index 5699}
{:type :invoke, :f :read, :value nil, :process 59, :time 33772054771, :index 5704}
{:type :ok, :f :read, :value 1, :process 59, :time 33777536478, :index 5706}
{:type :invoke, :f :cas, :value [0 1], :process 13, :time 33790422059, :index 5711}
{:type :fail, :f :cas, :value [0 1], :process 13, :time 33796294470, :index 5713}
{:type :invoke, :f :read, :value nil, :process 13, :time 33805546222, :index 5714}
{:type :invoke, :f :cas, :value [4 0], :process 16, :time 33810205649, :index 5715}
{:type :ok, :f :read, :value 1, :process 13, :time 33811435302, :index 5716}
{:type :fail, :f :cas, :value [4 0], :process 16, :time 33815514660, :index 5717}
{:type :invoke, :f :read, :value nil, :process 34, :time 33825292786, :index 5718}
{:type :ok, :f :read, :value 1, :process 34, :time 33831663680, :index 5719}
{:type :invoke, :f :cas, :value [2 0], :process 59, :time 33843816846, :index 5722}
{:type :fail, :f :cas, :value [2 0], :process 59, :time 33849191805, :index 5723}
{:type :invoke, :f :cas, :value [4 1], :process 38, :time 33865811541, :index 5727}
{:type :invoke, :f :cas, :value [3 1], :process 34, :time 33865961288, :index 5728}
{:type :fail, :f :cas, :value [4 1], :process 38, :time 33871113317, :index 5730}
{:type :invoke, :f :read, :value nil, :process 30, :time 33871392483, :index 5731}
{:type :invoke, :f :write, :value 0, :process 55, :time 33871452398, :index 5732}
{:type :fail, :f :cas, :value [3 1], :process 34, :time 33872423405, :index 5733}
{:type :ok, :f :read, :value 1, :process 30, :time 33876463068, :index 5735}
{:type :ok, :f :write, :value 0, :process 55, :time 33876813686, :index 5736}
{:type :invoke, :f :cas, :value [4 2], :process 31, :time 33884046849, :index 5739}
{:type :ok, :f :write, :value 2, :process 37, :time 33886669217, :index 5742}
{:type :fail, :f :cas, :value [0 0], :process 32, :time 33887972456, :index 5743}
{:type :fail, :f :cas, :value [4 2], :process 31, :time 33889504892, :index 5744}
{:type :invoke, :f :cas, :value [3 1], :process 13, :time 33896694116, :index 5748}
{:type :invoke, :f :cas, :value [1 4], :process 55, :time 33903058828, :index 5752}
{:type :fail, :f :cas, :value [1 4], :process 55, :time 33908890030, :index 5753}
{:type :invoke, :f :write, :value 4, :process 16, :time 33930772064, :index 5755}
{:type :ok, :f :write, :value 4, :process 16, :time 33935954979, :index 5758}
{:type :invoke, :f :write, :value 0, :process 55, :time 33937149526, :index 5759}
{:type :ok, :f :write, :value 0, :process 55, :time 33942122703, :index 5761}
{:type :invoke, :f :read, :value nil, :process 38, :time 33961371186, :index 5764}
{:type :invoke, :f :read, :value nil, :process 30, :time 33970747543, :index 5765}
{:type :ok, :f :read, :value 0, :process 30, :time 33976147125, :index 5766}
{:type :invoke, :f :read, :value nil, :process 55, :time 33976378513, :index 5767}
{:type :ok, :f :read, :value 0, :process 55, :time 33981164481, :index 5768}
{:type :invoke, :f :write, :value 2, :process 34, :time 33995679379, :index 5772}
{:type :invoke, :f :cas, :value [3 2], :process 31, :time 33996763594, :index 5774}
{:type :ok, :f :write, :value 2, :process 34, :time 34002183656, :index 5776}
{:type :fail, :f :cas, :value [3 2], :process 31, :time 34003235681, :index 5777}
{:type :invoke, :f :cas, :value [0 3], :process 59, :time 34025456089, :index 5782}
{:type :ok, :f :read, :value 2, :process 38, :time 34027883251, :index 5784}
{:type :fail, :f :cas, :value [3 1], :process 13, :time 34027992320, :index 5785}
{:type :fail, :f :cas, :value [0 3], :process 59, :time 34032981243, :index 5789}
{:type :invoke, :f :write, :value 4, :process 13, :time 34033233563, :index 5790}
{:type :ok, :f :write, :value 4, :process 13, :time 34039114097, :index 5792}
{:type :invoke, :f :write, :value 0, :process 34, :time 34044415215, :index 5793}
{:type :invoke, :f :cas, :value [2 3], :process 32, :time 34047235580, :index 5794}
{:type :ok, :f :write, :value 0, :process 34, :time 34049897120, :index 5795}
{:type :invoke, :f :read, :value nil, :process 37, :time 34065933478, :index 5798}
{:type :fail, :f :cas, :value [2 3], :process 32, :time 34070513263, :index 5805}
{:type :ok, :f :read, :value 0, :process 37, :time 34071297941, :index 5806}
{:type :invoke, :f :cas, :value [2 2], :process 55, :time 34079438196, :index 5810}
{:type :fail, :f :cas, :value [2 2], :process 55, :time 34084918844, :index 5812}
{:type :invoke, :f :read, :value nil, :process 55, :time 34095172378, :index 5814}
{:type :ok, :f :read, :value 0, :process 55, :time 34100005983, :index 5815}
{:type :invoke, :f :read, :value nil, :process 55, :time 34101271917, :index 5816}
{:type :invoke, :f :write, :value 1, :process 13, :time 34102313619, :index 5817}
{:type :ok, :f :read, :value 0, :process 55, :time 34105668234, :index 5818}
{:type :ok, :f :write, :value 1, :process 13, :time 34107749680, :index 5820}
{:type :invoke, :f :write, :value 2, :process 37, :time 34115549414, :index 5823}
{:type :invoke, :f :cas, :value [0 1], :process 30, :time 34116409511, :index 5824}
{:type :invoke, :f :read, :value nil, :process 31, :time 34119531230, :index 5826}
{:type :ok, :f :write, :value 2, :process 37, :time 34121583196, :index 5827}
{:type :fail, :f :cas, :value [0 1], :process 30, :time 34122082182, :index 5828}
{:type :ok, :f :read, :value 2, :process 31, :time 34124412778, :index 5829}
{:type :invoke, :f :cas, :value [1 0], :process 37, :time 34128850183, :index 5830}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 34130214418, :index 5831}
{:type :fail, :f :cas, :value [1 0], :process 37, :time 34134740620, :index 5832}
{:type :ok, :f :cas, :value [2 4], :process 16, :time 34135461408, :index 5833}
{:type :invoke, :f :write, :value 3, :process 59, :time 34140254997, :index 5835}
{:type :ok, :f :write, :value 3, :process 59, :time 34146468581, :index 5837}
{:type :invoke, :f :write, :value 1, :process 38, :time 34147143155, :index 5838}
{:type :invoke, :f :write, :value 3, :process 37, :time 34169999161, :index 5841}
{:type :ok, :f :write, :value 3, :process 37, :time 34175204012, :index 5844}
{:type :invoke, :f :cas, :value [0 1], :process 13, :time 34182060754, :index 5848}
{:type :fail, :f :cas, :value [0 1], :process 13, :time 34187112151, :index 5852}
{:type :invoke, :f :cas, :value [2 4], :process 32, :time 34191768226, :index 5855}
{:type :invoke, :f :write, :value 4, :process 55, :time 34194940852, :index 5859}
{:type :fail, :f :cas, :value [2 4], :process 32, :time 34197157165, :index 5861}
{:type :ok, :f :write, :value 4, :process 55, :time 34200972003, :index 5863}
{:type :invoke, :f :write, :value 4, :process 30, :time 34227342000, :index 5870}
{:type :invoke, :f :write, :value 2, :process 13, :time 34230406886, :index 5871}
{:type :ok, :f :write, :value 4, :process 30, :time 34233130384, :index 5873}
{:type :invoke, :f :write, :value 0, :process 16, :time 34233717958, :index 5874}
{:type :ok, :f :write, :value 2, :process 13, :time 34235448182, :index 5875}
{:type :ok, :f :write, :value 0, :process 16, :time 34239574541, :index 5877}
{:type :invoke, :f :write, :value 2, :process 34, :time 34246185860, :index 5879}
{:type :invoke, :f :write, :value 0, :process 31, :time 34246698362, :index 5880}
{:type :ok, :f :write, :value 0, :process 31, :time 34251570594, :index 5882}
{:type :ok, :f :write, :value 2, :process 34, :time 34254121361, :index 5884}
{:type :invoke, :f :cas, :value [4 4], :process 30, :time 34261393255, :index 5885}
{:type :fail, :f :cas, :value [4 4], :process 30, :time 34266706679, :index 5886}
{:type :invoke, :f :read, :value nil, :process 34, :time 34268381193, :index 5888}
{:type :invoke, :f :read, :value nil, :process 37, :time 34271464418, :index 5889}
{:type :ok, :f :read, :value 2, :process 34, :time 34274133636, :index 5891}
{:type :ok, :f :read, :value 2, :process 37, :time 34276436131, :index 5893}
{:type :invoke, :f :read, :value nil, :process 34, :time 34282383171, :index 5896}
{:type :ok, :f :read, :value 2, :process 34, :time 34287952102, :index 5898}
{:type :invoke, :f :cas, :value [4 0], :process 55, :time 34289224264, :index 5899}
{:type :fail, :f :cas, :value [4 0], :process 55, :time 34294328136, :index 5900}
{:type :invoke, :f :cas, :value [4 1], :process 32, :time 34296420426, :index 5901}
{:type :invoke, :f :read, :value nil, :process 59, :time 34298724118, :index 5902}
{:type :fail, :f :cas, :value [4 1], :process 32, :time 34301321116, :index 5903}
{:type :ok, :f :read, :value 2, :process 59, :time 34303770816, :index 5904}
{:type :invoke, :f :write, :value 2, :process 30, :time 34310956734, :index 5905}
{:type :invoke, :f :write, :value 0, :process 31, :time 34312837524, :index 5906}
{:type :ok, :f :write, :value 2, :process 30, :time 34315890093, :index 5908}
{:type :ok, :f :write, :value 0, :process 31, :time 34317639967, :index 5909}
{:type :invoke, :f :read, :value nil, :process 13, :time 34330879429, :index 5911}
{:type :invoke, :f :write, :value 1, :process 32, :time 34333582431, :index 5913}
{:type :invoke, :f :write, :value 1, :process 16, :time 34333851022, :index 5914}
{:type :invoke, :f :read, :value nil, :process 59, :time 34335023662, :index 5915}
{:type :ok, :f :read, :value 0, :process 13, :time 34336096769, :index 5916}
{:type :invoke, :f :write, :value 3, :process 37, :time 34337744126, :index 5919}
{:type :ok, :f :write, :value 1, :process 16, :time 34339316142, :index 5920}
{:type :ok, :f :write, :value 1, :process 32, :time 34339841893, :index 5921}
{:type :ok, :f :read, :value 1, :process 59, :time 34341820021, :index 5922}
{:type :ok, :f :write, :value 3, :process 37, :time 34345253335, :index 5925}
{:type :invoke, :f :cas, :value [1 2], :process 13, :time 34358354236, :index 5930}
{:type :invoke, :f :write, :value 1, :process 30, :time 34363160492, :index 5933}
{:type :fail, :f :cas, :value [1 2], :process 13, :time 34363498353, :index 5934}
{:type :ok, :f :write, :value 1, :process 30, :time 34367357247, :index 5937}
{:type :invoke, :f :read, :value nil, :process 55, :time 34396590320, :index 5944}
{:type :ok, :f :read, :value 1, :process 55, :time 34401146458, :index 5946}
{:type :invoke, :f :write, :value 3, :process 34, :time 34454207368, :index 5967}
{:type :invoke, :f :cas, :value [1 0], :process 31, :time 34495895518, :index 5976}
{:type :ok, :f :write, :value 3, :process 34, :time 34613437622, :index 6001}
{:type :fail, :f :cas, :value [1 0], :process 31, :time 34920361128, :index 6096}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :write, :value 1, :process 38, :time 39166332831, :error "indeterminate: Connect to ec2-107-23-238-236.compute-1.amazonaws.com:2379 timed out", :index 7034}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
