{:type :invoke, :f :cas, :value [3 1], :process 14, :time 4060215232, :index 1147}
{:type :fail, :f :cas, :value [3 1], :process 14, :time 4066411027, :error :not-found, :index 1149}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 4083166355, :index 1156}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 4089379285, :error :not-found, :index 1159}
{:type :invoke, :f :write, :value 1, :process 16, :time 4128212509, :index 1175}
{:type :invoke, :f :write, :value 3, :process 19, :time 4129111971, :index 1176}
{:type :ok, :f :write, :value 1, :process 16, :time 4134142445, :index 1178}
{:type :ok, :f :write, :value 3, :process 19, :time 4134695717, :index 1179}
{:type :invoke, :f :write, :value 2, :process 19, :time 4143962186, :index 1183}
{:type :ok, :f :write, :value 2, :process 19, :time 4148966089, :index 1187}
{:type :invoke, :f :read, :value nil, :process 13, :time 4167890503, :index 1191}
{:type :ok, :f :read, :value 2, :process 13, :time 4172191336, :index 1193}
{:type :invoke, :f :write, :value 1, :process 17, :time 4173614644, :index 1194}
{:type :ok, :f :write, :value 1, :process 17, :time 4179263689, :index 1195}
{:type :invoke, :f :cas, :value [3 2], :process 13, :time 4185434905, :index 1196}
{:type :fail, :f :cas, :value [3 2], :process 13, :time 4191553051, :index 1199}
{:type :invoke, :f :write, :value 2, :process 19, :time 4212218602, :index 1208}
{:type :ok, :f :write, :value 2, :process 19, :time 4218825901, :index 1211}
{:type :invoke, :f :cas, :value [2 3], :process 14, :time 4242592954, :index 1218}
{:type :invoke, :f :write, :value 2, :process 15, :time 4246291373, :index 1219}
{:type :invoke, :f :write, :value 1, :process 18, :time 4248693258, :index 1221}
{:type :ok, :f :cas, :value [2 3], :process 14, :time 4249928658, :index 1223}
{:type :ok, :f :write, :value 2, :process 15, :time 4253633240, :index 1225}
{:type :ok, :f :write, :value 1, :process 18, :time 4253847272, :index 1226}
{:type :invoke, :f :write, :value 0, :process 10, :time 4257288813, :index 1228}
{:type :invoke, :f :read, :value nil, :process 19, :time 4260089637, :index 1229}
{:type :ok, :f :write, :value 0, :process 10, :time 4262983066, :index 1230}
{:type :ok, :f :read, :value 0, :process 19, :time 4265495755, :index 1231}
{:type :invoke, :f :write, :value 2, :process 15, :time 4279901569, :index 1232}
{:type :ok, :f :write, :value 2, :process 15, :time 4285284521, :index 1233}
{:type :invoke, :f :cas, :value [1 2], :process 14, :time 4288192000, :index 1235}
{:type :fail, :f :cas, :value [1 2], :process 14, :time 4293898956, :index 1238}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 4302097621, :index 1243}
{:type :invoke, :f :write, :value 0, :process 16, :time 4303382599, :index 1244}
{:type :invoke, :f :read, :value nil, :process 17, :time 4306532646, :index 1245}
{:type :invoke, :f :write, :value 1, :process 11, :time 4307472054, :index 1246}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 4308021918, :index 1247}
{:type :ok, :f :write, :value 0, :process 16, :time 4309302841, :index 1249}
{:type :ok, :f :read, :value 0, :process 17, :time 4312246647, :index 1250}
{:type :ok, :f :write, :value 1, :process 11, :time 4312667982, :index 1251}
{:type :invoke, :f :read, :value nil, :process 12, :time 4362253025, :index 1262}
{:type :invoke, :f :write, :value 3, :process 19, :time 4362768660, :index 1263}
{:type :ok, :f :read, :value 1, :process 12, :time 4367672338, :index 1266}
{:type :ok, :f :write, :value 3, :process 19, :time 4369645607, :index 1269}
{:type :invoke, :f :read, :value nil, :process 13, :time 4383824946, :index 1274}
{:type :invoke, :f :cas, :value [3 3], :process 11, :time 4386924097, :index 1275}
{:type :ok, :f :read, :value 3, :process 13, :time 4388500292, :index 1276}
{:type :ok, :f :cas, :value [3 3], :process 11, :time 4392595609, :index 1278}
{:type :invoke, :f :cas, :value [2 1], :process 13, :time 4412764774, :index 1281}
{:type :fail, :f :cas, :value [2 1], :process 13, :time 4418278960, :index 1283}
{:type :invoke, :f :read, :value nil, :process 10, :time 4423286299, :index 1287}
{:type :invoke, :f :read, :value nil, :process 16, :time 4424561532, :index 1289}
{:type :ok, :f :read, :value 3, :process 10, :time 4430716031, :index 1291}
{:type :ok, :f :read, :value 3, :process 16, :time 4431164138, :index 1292}
{:type :invoke, :f :cas, :value [0 1], :process 17, :time 4432508815, :index 1293}
{:type :invoke, :f :read, :value nil, :process 19, :time 4435929951, :index 1297}
{:type :fail, :f :cas, :value [0 1], :process 17, :time 4439443862, :index 1299}
{:type :ok, :f :read, :value 3, :process 19, :time 4440909542, :index 1300}
{:type :invoke, :f :cas, :value [4 4], :process 13, :time 4441580663, :index 1302}
{:type :fail, :f :cas, :value [4 4], :process 13, :time 4446730324, :index 1304}
{:type :invoke, :f :cas, :value [0 1], :process 15, :time 4473550342, :index 1310}
{:type :fail, :f :cas, :value [0 1], :process 15, :time 4479800814, :index 1311}
{:type :invoke, :f :cas, :value [1 2], :process 14, :time 4489152065, :index 1314}
{:type :invoke, :f :cas, :value [3 4], :process 18, :time 4492302552, :index 1316}
{:type :fail, :f :cas, :value [1 2], :process 14, :time 4494580715, :index 1317}
{:type :ok, :f :cas, :value [3 4], :process 18, :time 4497179747, :index 1318}
{:type :invoke, :f :write, :value 4, :process 10, :time 4522004360, :index 1323}
{:type :ok, :f :write, :value 4, :process 10, :time 4527614313, :index 1326}
{:type :invoke, :f :write, :value 0, :process 12, :time 4534935820, :index 1329}
{:type :ok, :f :write, :value 0, :process 12, :time 4540450968, :index 1331}
{:type :invoke, :f :read, :value nil, :process 12, :time 4545705447, :index 1332}
{:type :invoke, :f :cas, :value [3 2], :process 17, :time 4548734215, :index 1333}
{:type :ok, :f :read, :value 0, :process 12, :time 4550932386, :index 1334}
{:type :fail, :f :cas, :value [3 2], :process 17, :time 4554275599, :index 1336}
{:type :invoke, :f :cas, :value [0 3], :process 19, :time 4565180450, :index 1338}
{:type :invoke, :f :write, :value 4, :process 13, :time 4566012075, :index 1339}
{:type :ok, :f :cas, :value [0 3], :process 19, :time 4571003577, :index 1341}
{:type :ok, :f :write, :value 4, :process 13, :time 4571364576, :index 1342}
{:type :invoke, :f :read, :value nil, :process 11, :time 4573893470, :index 1344}
{:type :ok, :f :read, :value 4, :process 11, :time 4578718897, :index 1345}
{:type :invoke, :f :read, :value nil, :process 17, :time 4580527512, :index 1346}
{:type :invoke, :f :read, :value nil, :process 12, :time 4583215030, :index 1347}
{:type :ok, :f :read, :value 4, :process 17, :time 4585788658, :index 1349}
{:type :ok, :f :read, :value 4, :process 12, :time 4587700507, :index 1350}
{:type :invoke, :f :cas, :value [4 0], :process 16, :time 4594411517, :index 1352}
{:type :ok, :f :cas, :value [4 0], :process 16, :time 4599675324, :index 1353}
{:type :invoke, :f :write, :value 2, :process 18, :time 4601483891, :index 1355}
{:type :ok, :f :write, :value 2, :process 18, :time 4605649359, :index 1357}
{:type :invoke, :f :read, :value nil, :process 13, :time 4623617773, :index 1360}
{:type :ok, :f :read, :value 2, :process 13, :time 4628737580, :index 1362}
{:type :invoke, :f :read, :value nil, :process 14, :time 4628849266, :index 1363}
{:type :ok, :f :read, :value 2, :process 14, :time 4633236382, :index 1365}
{:type :invoke, :f :write, :value 4, :process 14, :time 4640495433, :index 1368}
{:type :invoke, :f :read, :value nil, :process 15, :time 4645059243, :index 1369}
{:type :ok, :f :write, :value 4, :process 14, :time 4645671356, :index 1370}
{:type :ok, :f :read, :value 4, :process 15, :time 4650642872, :index 1371}
{:type :invoke, :f :write, :value 4, :process 12, :time 4658961172, :index 1372}
{:type :invoke, :f :cas, :value [2 3], :process 16, :time 4659934060, :index 1373}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 4664979483, :index 1374}
{:type :ok, :f :write, :value 4, :process 12, :time 4666383573, :index 1375}
{:type :invoke, :f :read, :value nil, :process 18, :time 4666937086, :index 1376}
{:type :fail, :f :cas, :value [2 3], :process 16, :time 4667085416, :index 1377}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 4671034018, :index 1378}
{:type :ok, :f :read, :value 4, :process 18, :time 4671656389, :index 1379}
{:type :invoke, :f :cas, :value [2 2], :process 19, :time 4672283579, :index 1381}
{:type :fail, :f :cas, :value [2 2], :process 19, :time 4677700387, :index 1384}
{:type :invoke, :f :read, :value nil, :process 10, :time 4683892783, :index 1387}
{:type :ok, :f :read, :value 4, :process 10, :time 4689330721, :index 1389}
{:type :invoke, :f :cas, :value [2 3], :process 12, :time 4693668936, :index 1390}
{:type :fail, :f :cas, :value [2 3], :process 12, :time 4699244328, :index 1391}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 4706999377, :index 1393}
{:type :fail, :f :cas, :value [0 4], :process 13, :time 4712859826, :index 1396}
{:type :invoke, :f :read, :value nil, :process 19, :time 4716959123, :index 1399}
{:type :ok, :f :read, :value 4, :process 19, :time 4721932934, :index 1402}
{:type :invoke, :f :write, :value 1, :process 15, :time 4732903539, :index 1404}
{:type :ok, :f :write, :value 1, :process 15, :time 4738095888, :index 1406}
{:type :invoke, :f :read, :value nil, :process 11, :time 4746288368, :index 1408}
{:type :ok, :f :read, :value 1, :process 11, :time 4750920338, :index 1409}
{:type :invoke, :f :read, :value nil, :process 13, :time 4759115457, :index 1410}
{:type :ok, :f :read, :value 1, :process 13, :time 4763848859, :index 1411}
{:type :invoke, :f :read, :value nil, :process 16, :time 4766332641, :index 1412}
{:type :invoke, :f :cas, :value [3 4], :process 17, :time 4768071198, :index 1413}
{:type :ok, :f :read, :value 1, :process 16, :time 4772396531, :index 1415}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 4772609858, :index 1416}
{:type :fail, :f :cas, :value [3 4], :process 17, :time 4773526506, :index 1417}
{:type :ok, :f :cas, :value [1 1], :process 10, :time 4777478640, :index 1419}
{:type :invoke, :f :write, :value 1, :process 11, :time 4798178478, :index 1426}
{:type :invoke, :f :write, :value 4, :process 18, :time 4801915278, :index 1427}
{:type :ok, :f :write, :value 1, :process 11, :time 4803221329, :index 1428}
{:type :invoke, :f :read, :value nil, :process 19, :time 4805189721, :index 1429}
{:type :ok, :f :write, :value 4, :process 18, :time 4807037940, :index 1430}
{:type :ok, :f :read, :value 4, :process 19, :time 4811672076, :index 1431}
{:type :invoke, :f :read, :value nil, :process 14, :time 4824946995, :index 1437}
{:type :ok, :f :read, :value 4, :process 14, :time 4830594058, :index 1439}
{:type :invoke, :f :read, :value nil, :process 18, :time 4843321295, :index 1442}
{:type :ok, :f :read, :value 4, :process 18, :time 4848182180, :index 1443}
{:type :invoke, :f :read, :value nil, :process 19, :time 4848931653, :index 1444}
{:type :invoke, :f :write, :value 0, :process 17, :time 4857821111, :index 1446}
{:type :ok, :f :write, :value 0, :process 17, :time 4864547916, :index 1448}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 4874359072, :index 1449}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 4880810051, :index 1451}
{:type :invoke, :f :cas, :value [1 2], :process 12, :time 4896506781, :index 1456}
{:type :fail, :f :cas, :value [1 2], :process 12, :time 4902533187, :index 1459}
{:type :invoke, :f :read, :value nil, :process 15, :time 4921080860, :index 1461}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 4924657658, :index 1462}
{:type :ok, :f :read, :value 0, :process 15, :time 4926462058, :index 1463}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 4930138702, :index 1466}
{:type :invoke, :f :cas, :value [3 3], :process 13, :time 4944126734, :index 1474}
{:type :fail, :f :cas, :value [3 3], :process 13, :time 4949366991, :index 1476}
{:type :invoke, :f :read, :value nil, :process 15, :time 4954767351, :index 1477}
{:type :ok, :f :read, :value 0, :process 15, :time 4960533484, :index 1479}
{:type :invoke, :f :write, :value 1, :process 10, :time 4962737964, :index 1480}
{:type :ok, :f :write, :value 1, :process 10, :time 4968185063, :index 1482}
{:type :invoke, :f :read, :value nil, :process 11, :time 4978486215, :index 1483}
{:type :invoke, :f :write, :value 4, :process 14, :time 4982866890, :index 1484}
{:type :ok, :f :read, :value 1, :process 11, :time 4984257022, :index 1485}
{:type :invoke, :f :read, :value nil, :process 11, :time 4992511446, :index 1486}
{:type :ok, :f :read, :value 1, :process 11, :time 4998197544, :index 1487}
{:type :invoke, :f :write, :value 2, :process 18, :time 5007448489, :index 1489}
{:type :ok, :f :write, :value 2, :process 18, :time 5012056477, :index 1490}
{:type :invoke, :f :read, :value nil, :process 13, :time 5015639988, :index 1492}
{:type :ok, :f :read, :value 2, :process 13, :time 5020066169, :index 1495}
{:type :invoke, :f :write, :value 2, :process 17, :time 5033828945, :index 1500}
{:type :ok, :f :write, :value 2, :process 17, :time 5039854120, :index 1505}
{:type :invoke, :f :write, :value 3, :process 12, :time 5042845226, :index 1509}
{:type :invoke, :f :read, :value nil, :process 10, :time 5046440473, :index 1510}
{:type :ok, :f :write, :value 3, :process 12, :time 5048287846, :index 1512}
{:type :ok, :f :read, :value 3, :process 10, :time 5051995492, :index 1514}
{:type :invoke, :f :read, :value nil, :process 11, :time 5062457866, :index 1518}
{:type :ok, :f :read, :value 3, :process 11, :time 5067440069, :index 1519}
{:type :invoke, :f :read, :value nil, :process 11, :time 5074722542, :index 1520}
{:type :ok, :f :read, :value 3, :process 11, :time 5080106389, :index 1521}
{:type :invoke, :f :read, :value nil, :process 10, :time 5080245914, :index 1522}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 5082357490, :index 1523}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 5083411556, :index 1524}
{:type :ok, :f :read, :value 3, :process 10, :time 5086401950, :index 1525}
{:type :fail, :f :cas, :value [4 0], :process 18, :time 5087443771, :index 1526}
{:type :ok, :f :cas, :value [3 0], :process 16, :time 5088608508, :index 1527}
{:type :invoke, :f :read, :value nil, :process 15, :time 5091807725, :index 1528}
{:type :ok, :f :write, :value 4, :process 14, :time 5097603880, :index 1529}
{:type :ok, :f :read, :value 0, :process 19, :time 5098313937, :index 1532}
{:type :ok, :f :read, :value 4, :process 15, :time 5098835839, :index 1534}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 5129728607, :index 1539}
{:type :invoke, :f :write, :value 1, :process 17, :time 5137138666, :index 1540}
{:type :invoke, :f :cas, :value [2 4], :process 13, :time 5146359433, :index 1542}
{:type :invoke, :f :write, :value 4, :process 12, :time 5148575092, :index 1543}
{:type :invoke, :f :read, :value nil, :process 19, :time 5202573410, :index 1548}
{:type :invoke, :f :write, :value 3, :process 16, :time 5213865680, :index 1549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :invoke, :f :cas, :value [1 4], :process 10, :time 5234633892, :index 1552}
{:type :invoke, :f :read, :value nil, :process 14, :time 5271878106, :index 1556}
{:type :invoke, :f :read, :value nil, :process 11, :time 5274378862, :index 1557}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :ok, :f :cas, :value [4 0], :process 18, :time 5841579082, :index 1560}
{:type :ok, :f :write, :value 3, :process 16, :time 5843236977, :index 1563}
{:type :ok, :f :read, :value 3, :process 11, :time 5844083574, :index 1565}
{:type :fail, :f :cas, :value [1 4], :process 10, :time 5844719855, :index 1566}
{:type :fail, :f :cas, :value [2 4], :process 13, :time 5845870400, :index 1570}
{:type :info, :f :write, :value 1, :process 17, :time 10143992027, :error :timeout, :index 2374}
{:type :info, :f :write, :value 4, :process 12, :time 10154824239, :error :timeout, :index 2376}
{:type :fail, :f :read, :value nil, :process 19, :time 10208494627, :error :timeout, :index 2391}
{:type :fail, :f :read, :value nil, :process 14, :time 10275420828, :error :timeout, :index 2408}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
