{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :invoke, :f :cas, :value [2 0], :process 25, :time 21813596952, :index 4809}
{:type :fail, :f :cas, :value [2 0], :process 25, :time 24241875228, :error :not-found, :index 4821}
{:type :invoke, :f :write, :value 3, :process 25, :time 24261289096, :index 4832}
{:type :ok, :f :write, :value 3, :process 25, :time 24266536074, :index 4833}
{:type :invoke, :f :cas, :value [0 2], :process 27, :time 24273152355, :index 4835}
{:type :fail, :f :cas, :value [0 2], :process 27, :time 24279171840, :index 4840}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 24286516362, :index 4845}
{:type :ok, :f :cas, :value [3 3], :process 29, :time 24292839838, :index 4847}
{:type :invoke, :f :cas, :value [4 3], :process 27, :time 24298455175, :index 4848}
{:type :fail, :f :cas, :value [4 3], :process 27, :time 24304598627, :index 4849}
{:type :invoke, :f :read, :value nil, :process 6, :time 24312580022, :index 4850}
{:type :ok, :f :read, :value 3, :process 6, :time 24317141568, :index 4851}
{:type :invoke, :f :read, :value nil, :process 1, :time 24343995408, :index 4858}
{:type :ok, :f :read, :value 3, :process 1, :time 24348689176, :index 4859}
{:type :invoke, :f :read, :value nil, :process 4, :time 24355260329, :index 4860}
{:type :invoke, :f :cas, :value [4 0], :process 20, :time 24357320930, :index 4861}
{:type :ok, :f :read, :value 3, :process 4, :time 24360507035, :index 4862}
{:type :fail, :f :cas, :value [4 0], :process 20, :time 24363158261, :index 4863}
{:type :invoke, :f :read, :value nil, :process 42, :time 24390294814, :index 4869}
{:type :invoke, :f :write, :value 2, :process 8, :time 24391354056, :index 4871}
{:type :invoke, :f :cas, :value [2 4], :process 25, :time 24392802401, :index 4872}
{:type :ok, :f :read, :value 3, :process 42, :time 24395842411, :index 4873}
{:type :ok, :f :write, :value 2, :process 8, :time 24396152617, :index 4874}
{:type :ok, :f :cas, :value [2 4], :process 25, :time 24398098809, :index 4875}
{:type :invoke, :f :write, :value 4, :process 3, :time 24416915170, :index 4879}
{:type :ok, :f :write, :value 4, :process 3, :time 24421411044, :index 4881}
{:type :invoke, :f :cas, :value [1 0], :process 29, :time 24425105038, :index 4883}
{:type :fail, :f :cas, :value [1 0], :process 29, :time 24431349568, :index 4885}
{:type :invoke, :f :write, :value 4, :process 27, :time 24436861033, :index 4887}
{:type :ok, :f :write, :value 4, :process 27, :time 24442164014, :index 4890}
{:type :invoke, :f :read, :value nil, :process 20, :time 24447433322, :index 4893}
{:type :ok, :f :read, :value 4, :process 20, :time 24452313392, :index 4895}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 24454669314, :index 4897}
{:type :ok, :f :cas, :value [4 4], :process 3, :time 24459674485, :index 4899}
{:type :invoke, :f :cas, :value [3 0], :process 42, :time 24470156409, :index 4903}
{:type :invoke, :f :read, :value nil, :process 6, :time 24473412188, :index 4904}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 24473396755, :index 4905}
{:type :fail, :f :cas, :value [3 0], :process 42, :time 24476055064, :index 4907}
{:type :fail, :f :cas, :value [3 3], :process 8, :time 24478161156, :index 4908}
{:type :ok, :f :read, :value 4, :process 6, :time 24478643549, :index 4909}
{:type :invoke, :f :write, :value 2, :process 1, :time 24489949518, :index 4914}
{:type :ok, :f :write, :value 2, :process 1, :time 24494667114, :index 4915}
{:type :invoke, :f :write, :value 2, :process 6, :time 24510895837, :index 4918}
{:type :ok, :f :write, :value 2, :process 6, :time 24515896345, :index 4919}
{:type :invoke, :f :write, :value 4, :process 27, :time 24520411359, :index 4922}
{:type :ok, :f :write, :value 4, :process 27, :time 24526378270, :index 4926}
{:type :invoke, :f :cas, :value [0 2], :process 42, :time 24535336495, :index 4931}
{:type :fail, :f :cas, :value [0 2], :process 42, :time 24540633521, :index 4934}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 24543773968, :index 4936}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 24549350621, :index 4937}
{:type :invoke, :f :write, :value 2, :process 25, :time 24554364161, :index 4939}
{:type :ok, :f :write, :value 2, :process 25, :time 24559001216, :index 4941}
{:type :invoke, :f :cas, :value [0 1], :process 42, :time 24570876569, :index 4944}
{:type :fail, :f :cas, :value [0 1], :process 42, :time 24575738720, :index 4945}
{:type :invoke, :f :write, :value 3, :process 8, :time 24601418262, :index 4950}
{:type :invoke, :f :read, :value nil, :process 3, :time 24601950777, :index 4951}
{:type :ok, :f :read, :value 2, :process 3, :time 24606269815, :index 4952}
{:type :ok, :f :write, :value 3, :process 8, :time 24607077055, :index 4953}
{:type :invoke, :f :read, :value nil, :process 29, :time 24620609825, :index 4955}
{:type :ok, :f :read, :value 3, :process 29, :time 24625275779, :index 4957}
{:type :invoke, :f :write, :value 2, :process 20, :time 24626606355, :index 4958}
{:type :ok, :f :write, :value 2, :process 20, :time 24631617248, :index 4959}
{:type :invoke, :f :read, :value nil, :process 4, :time 24644611461, :index 4962}
{:type :ok, :f :read, :value 2, :process 4, :time 24650301234, :index 4965}
{:type :invoke, :f :cas, :value [4 1], :process 25, :time 24657258087, :index 4968}
{:type :invoke, :f :write, :value 4, :process 1, :time 24660932171, :index 4969}
{:type :fail, :f :cas, :value [4 1], :process 25, :time 24662735099, :index 4970}
{:type :ok, :f :write, :value 4, :process 1, :time 24666153628, :index 4972}
{:type :invoke, :f :write, :value 4, :process 42, :time 24681033817, :index 4975}
{:type :ok, :f :write, :value 4, :process 42, :time 24686316056, :index 4979}
{:type :invoke, :f :read, :value nil, :process 6, :time 24690159752, :index 4982}
{:type :ok, :f :read, :value 4, :process 6, :time 24694313394, :index 4986}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 24694535180, :index 4987}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 24699240967, :index 4990}
{:type :invoke, :f :write, :value 3, :process 27, :time 24703633069, :index 4991}
{:type :ok, :f :write, :value 3, :process 27, :time 24708833313, :index 4994}
{:type :invoke, :f :write, :value 0, :process 29, :time 24720534939, :index 4998}
{:type :ok, :f :write, :value 0, :process 29, :time 24725444840, :index 4999}
{:type :invoke, :f :cas, :value [0 0], :process 20, :time 24726875286, :index 5000}
{:type :ok, :f :cas, :value [0 0], :process 20, :time 24732383177, :index 5001}
{:type :invoke, :f :write, :value 1, :process 4, :time 24745559927, :index 5005}
{:type :invoke, :f :read, :value nil, :process 1, :time 24746476997, :index 5007}
{:type :ok, :f :write, :value 1, :process 4, :time 24751502877, :index 5009}
{:type :ok, :f :read, :value 1, :process 1, :time 24752033700, :index 5010}
{:type :invoke, :f :read, :value nil, :process 8, :time 24768342722, :index 5016}
{:type :ok, :f :read, :value 1, :process 8, :time 24772900682, :index 5020}
{:type :invoke, :f :read, :value nil, :process 8, :time 24785152574, :index 5022}
{:type :ok, :f :read, :value 1, :process 8, :time 24790348128, :index 5024}
{:type :invoke, :f :cas, :value [1 3], :process 25, :time 24799030502, :index 5028}
{:type :ok, :f :cas, :value [1 3], :process 25, :time 24804841849, :index 5030}
{:type :invoke, :f :cas, :value [2 2], :process 42, :time 24807559803, :index 5033}
{:type :fail, :f :cas, :value [2 2], :process 42, :time 24812442084, :index 5035}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 24822551886, :index 5037}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 24828204404, :index 5040}
{:type :invoke, :f :read, :value nil, :process 4, :time 24839759534, :index 5042}
{:type :ok, :f :read, :value 3, :process 4, :time 24845292700, :index 5043}
{:type :invoke, :f :read, :value nil, :process 42, :time 24852713959, :index 5044}
{:type :ok, :f :read, :value 3, :process 42, :time 24858442027, :index 5045}
{:type :invoke, :f :cas, :value [0 3], :process 29, :time 24879714690, :index 5053}
{:type :invoke, :f :cas, :value [0 4], :process 27, :time 24886110663, :index 5059}
{:type :fail, :f :cas, :value [0 3], :process 29, :time 24886899013, :index 5060}
{:type :invoke, :f :write, :value 4, :process 6, :time 24889582421, :index 5063}
{:type :fail, :f :cas, :value [0 4], :process 27, :time 24891783152, :index 5064}
{:type :ok, :f :write, :value 4, :process 6, :time 24894335953, :index 5066}
{:type :invoke, :f :write, :value 1, :process 42, :time 24897700927, :index 5067}
{:type :invoke, :f :write, :value 0, :process 20, :time 24899676505, :index 5069}
{:type :ok, :f :write, :value 1, :process 42, :time 24902204727, :index 5070}
{:type :ok, :f :write, :value 0, :process 20, :time 24904144006, :index 5071}
{:type :invoke, :f :cas, :value [0 2], :process 1, :time 24904287341, :index 5072}
{:type :ok, :f :cas, :value [0 2], :process 1, :time 24909504468, :index 5075}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 24913986559, :index 5077}
{:type :invoke, :f :read, :value nil, :process 6, :time 24914612917, :index 5078}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 24920375089, :index 5081}
{:type :ok, :f :read, :value 2, :process 6, :time 24922567723, :index 5083}
{:type :invoke, :f :write, :value 1, :process 8, :time 24924608368, :index 5084}
{:type :ok, :f :write, :value 1, :process 8, :time 24928732468, :index 5085}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 24942631991, :index 5088}
{:type :ok, :f :cas, :value [1 1], :process 4, :time 24947315807, :index 5089}
{:type :invoke, :f :read, :value nil, :process 6, :time 24947828469, :index 5090}
{:type :ok, :f :read, :value 1, :process 6, :time 24952889549, :index 5091}
{:type :invoke, :f :write, :value 2, :process 42, :time 24973463990, :index 5094}
{:type :invoke, :f :write, :value 3, :process 1, :time 24973742408, :index 5095}
{:type :invoke, :f :read, :value nil, :process 25, :time 24974240359, :index 5096}
{:type :ok, :f :write, :value 2, :process 42, :time 24978692741, :index 5098}
{:type :ok, :f :write, :value 3, :process 1, :time 24979725467, :index 5099}
{:type :invoke, :f :read, :value nil, :process 42, :time 24981952084, :index 5101}
{:type :ok, :f :read, :value 3, :process 25, :time 24982990821, :index 5102}
{:type :invoke, :f :read, :value nil, :process 1, :time 24982986100, :index 5103}
{:type :ok, :f :read, :value 3, :process 42, :time 24987614847, :index 5104}
{:type :ok, :f :read, :value 3, :process 1, :time 24988373594, :index 5105}
{:type :invoke, :f :read, :value nil, :process 20, :time 24994405462, :index 5108}
{:type :ok, :f :read, :value 3, :process 20, :time 24999947228, :index 5109}
{:type :invoke, :f :cas, :value [0 2], :process 29, :time 25020147625, :index 5113}
{:type :invoke, :f :read, :value nil, :process 3, :time 25020479785, :index 5114}
{:type :fail, :f :cas, :value [0 2], :process 29, :time 25025425676, :index 5117}
{:type :ok, :f :read, :value 3, :process 3, :time 25026042546, :index 5118}
{:type :invoke, :f :cas, :value [1 1], :process 8, :time 25050999136, :index 5122}
{:type :fail, :f :cas, :value [1 1], :process 8, :time 25055871003, :index 5125}
{:type :invoke, :f :cas, :value [2 2], :process 20, :time 25060217279, :index 5126}
{:type :fail, :f :cas, :value [2 2], :process 20, :time 25065128308, :index 5127}
{:type :invoke, :f :read, :value nil, :process 27, :time 25066049537, :index 5129}
{:type :ok, :f :read, :value 3, :process 27, :time 25071786093, :index 5132}
{:type :invoke, :f :cas, :value [3 0], :process 1, :time 25080653941, :index 5136}
{:type :ok, :f :cas, :value [3 0], :process 1, :time 25085818341, :index 5137}
{:type :invoke, :f :write, :value 3, :process 6, :time 25090205355, :index 5140}
{:type :ok, :f :write, :value 3, :process 6, :time 25095581503, :index 5143}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 25096600005, :index 5144}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 25101486379, :index 5146}
{:type :invoke, :f :cas, :value [1 0], :process 27, :time 25108072900, :index 5149}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 25109822840, :index 5150}
{:type :fail, :f :cas, :value [1 0], :process 27, :time 25113139410, :index 5152}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 25115687239, :index 5153}
{:type :invoke, :f :read, :value nil, :process 42, :time 25116881475, :index 5154}
{:type :invoke, :f :cas, :value [0 3], :process 8, :time 25121131488, :index 5155}
{:type :ok, :f :read, :value 3, :process 42, :time 25122472477, :index 5156}
{:type :fail, :f :cas, :value [0 3], :process 8, :time 25125888285, :index 5157}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 25127170871, :index 5158}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 25131430464, :index 5159}
{:type :invoke, :f :write, :value 1, :process 3, :time 25133294801, :index 5160}
{:type :ok, :f :write, :value 1, :process 3, :time 25137609274, :index 5161}
{:type :invoke, :f :read, :value nil, :process 25, :time 25151465774, :index 5165}
{:type :ok, :f :read, :value 1, :process 25, :time 25156735602, :index 5169}
{:type :invoke, :f :read, :value nil, :process 4, :time 25173756022, :index 5176}
{:type :ok, :f :read, :value 1, :process 4, :time 25179300724, :index 5177}
{:type :invoke, :f :cas, :value [3 0], :process 29, :time 25183687465, :index 5178}
{:type :invoke, :f :read, :value nil, :process 20, :time 25187383721, :index 5179}
{:type :invoke, :f :read, :value nil, :process 27, :time 25188408643, :index 5180}
{:type :fail, :f :cas, :value [3 0], :process 29, :time 25189306351, :index 5181}
{:type :ok, :f :read, :value 1, :process 20, :time 25192318650, :index 5183}
{:type :ok, :f :read, :value 1, :process 27, :time 25194699435, :index 5184}
{:type :invoke, :f :cas, :value [2 3], :process 20, :time 25216591567, :index 5189}
{:type :fail, :f :cas, :value [2 3], :process 20, :time 25222599043, :index 5192}
{:type :invoke, :f :read, :value nil, :process 1, :time 25232087916, :index 5196}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 25234569876, :index 5197}
{:type :ok, :f :read, :value 1, :process 1, :time 25236621460, :index 5198}
{:type :ok, :f :cas, :value [1 1], :process 4, :time 25240396647, :index 5199}
{:type :invoke, :f :read, :value nil, :process 1, :time 25287899580, :index 5206}
{:type :invoke, :f :read, :value nil, :process 6, :time 25291945294, :index 5208}
{:type :ok, :f :read, :value 1, :process 1, :time 25293367657, :index 5209}
{:type :invoke, :f :cas, :value [1 3], :process 42, :time 25294733444, :index 5211}
{:type :ok, :f :read, :value 1, :process 6, :time 25297166365, :index 5213}
{:type :ok, :f :cas, :value [1 3], :process 42, :time 25300244692, :index 5214}
{:type :invoke, :f :cas, :value [2 3], :process 1, :time 25301665327, :index 5216}
{:type :fail, :f :cas, :value [2 3], :process 1, :time 25307349090, :index 5219}
{:type :invoke, :f :read, :value nil, :process 8, :time 25308688779, :index 5220}
{:type :ok, :f :read, :value 3, :process 8, :time 25313052491, :index 5224}
{:type :invoke, :f :write, :value 3, :process 25, :time 25314984457, :index 5225}
{:type :invoke, :f :cas, :value [2 3], :process 29, :time 25319570820, :index 5227}
{:type :ok, :f :write, :value 3, :process 25, :time 25320283911, :index 5228}
{:type :fail, :f :cas, :value [2 3], :process 29, :time 25325252138, :index 5230}
{:type :invoke, :f :write, :value 3, :process 6, :time 25330435841, :index 5232}
{:type :ok, :f :write, :value 3, :process 6, :time 25335433924, :index 5234}
{:type :invoke, :f :read, :value nil, :process 3, :time 25335876442, :index 5235}
{:type :ok, :f :read, :value 3, :process 3, :time 25340938807, :index 5239}
{:type :invoke, :f :write, :value 3, :process 27, :time 25346998569, :index 5242}
{:type :invoke, :f :read, :value nil, :process 20, :time 25349867245, :index 5243}
{:type :ok, :f :write, :value 3, :process 27, :time 25352006516, :index 5245}
{:type :ok, :f :read, :value 3, :process 20, :time 25355770934, :index 5247}
{:type :invoke, :f :read, :value nil, :process 4, :time 25415657923, :index 5265}
{:type :ok, :f :read, :value 3, :process 4, :time 25420612179, :index 5267}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
