{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :invoke, :f :read, :value nil, :process 79, :time 46186198391, :index 7085}
{:type :ok, :f :read, :value nil, :process 79, :time 46191978985, :index 7087}
{:type :invoke, :f :read, :value nil, :process 17, :time 46291729064, :index 7125}
{:type :invoke, :f :read, :value nil, :process 98, :time 46292784329, :index 7126}
{:type :ok, :f :read, :value nil, :process 17, :time 46297424592, :index 7128}
{:type :ok, :f :read, :value nil, :process 98, :time 46298007998, :index 7129}
{:type :invoke, :f :read, :value nil, :process 36, :time 46298666858, :index 7130}
{:type :ok, :f :read, :value nil, :process 36, :time 46303530430, :index 7131}
{:type :invoke, :f :write, :value 3, :process 79, :time 46305232536, :index 7133}
{:type :ok, :f :write, :value 3, :process 79, :time 46311287386, :index 7138}
{:type :invoke, :f :write, :value 0, :process 79, :time 46313522668, :index 7140}
{:type :ok, :f :write, :value 0, :process 79, :time 46321388092, :index 7145}
{:type :invoke, :f :cas, :value [2 2], :process 17, :time 46369698220, :index 7155}
{:type :invoke, :f :read, :value nil, :process 51, :time 46374248828, :index 7158}
{:type :fail, :f :cas, :value [2 2], :process 17, :time 46374886481, :index 7159}
{:type :ok, :f :read, :value 0, :process 51, :time 46378764250, :index 7162}
{:type :invoke, :f :write, :value 1, :process 17, :time 46384170258, :index 7164}
{:type :invoke, :f :write, :value 1, :process 98, :time 46386353180, :index 7165}
{:type :ok, :f :write, :value 1, :process 17, :time 46389447996, :index 7166}
{:type :ok, :f :write, :value 1, :process 98, :time 46391716684, :index 7167}
{:type :invoke, :f :cas, :value [4 4], :process 53, :time 46393023050, :index 7168}
{:type :fail, :f :cas, :value [4 4], :process 53, :time 46398900524, :index 7169}
{:type :invoke, :f :write, :value 3, :process 52, :time 46407672641, :index 7172}
{:type :invoke, :f :write, :value 3, :process 79, :time 46409637515, :index 7173}
{:type :ok, :f :write, :value 3, :process 52, :time 46413121623, :index 7175}
{:type :ok, :f :write, :value 3, :process 79, :time 46414633781, :index 7176}
{:type :invoke, :f :read, :value nil, :process 35, :time 46419923807, :index 7178}
{:type :ok, :f :read, :value 3, :process 35, :time 46425007104, :index 7179}
{:type :invoke, :f :cas, :value [3 2], :process 54, :time 46436044907, :index 7180}
{:type :ok, :f :cas, :value [3 2], :process 54, :time 46443016818, :index 7182}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :invoke, :f :cas, :value [3 1], :process 36, :time 46468787347, :index 7189}
{:type :invoke, :f :write, :value 3, :process 17, :time 46473709182, :index 7190}
{:type :fail, :f :cas, :value [3 1], :process 36, :time 46474506544, :index 7191}
{:type :ok, :f :write, :value 3, :process 17, :time 46478866847, :index 7193}
{:type :invoke, :f :cas, :value [3 4], :process 50, :time 46487097401, :index 7197}
{:type :invoke, :f :read, :value nil, :process 17, :time 46488084506, :index 7198}
{:type :invoke, :f :cas, :value [1 0], :process 51, :time 46493021926, :index 7200}
{:type :ok, :f :cas, :value [3 4], :process 50, :time 46493885990, :index 7201}
{:type :ok, :f :read, :value 4, :process 17, :time 46494244187, :index 7202}
{:type :fail, :f :cas, :value [1 0], :process 51, :time 46497584795, :index 7203}
{:type :invoke, :f :write, :value 0, :process 52, :time 46522383689, :index 7207}
{:type :invoke, :f :read, :value nil, :process 17, :time 46525482880, :index 7208}
{:type :ok, :f :write, :value 0, :process 52, :time 46528334585, :index 7209}
{:type :ok, :f :read, :value 0, :process 17, :time 46530401754, :index 7212}
{:type :invoke, :f :write, :value 1, :process 79, :time 46551918271, :index 7215}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :invoke, :f :cas, :value [1 3], :process 98, :time 46554985358, :index 7217}
{:type :invoke, :f :cas, :value [2 3], :process 53, :time 46577162823, :index 7218}
{:type :invoke, :f :cas, :value [4 2], :process 52, :time 46582595879, :index 7219}
{:type :fail, :f :cas, :value [4 2], :process 52, :time 46589111824, :index 7221}
{:type :invoke, :f :read, :value nil, :process 50, :time 46621147176, :index 7227}
{:type :invoke, :f :write, :value 4, :process 35, :time 46624267691, :index 7228}
{:type :ok, :f :read, :value 0, :process 50, :time 46627223201, :index 7230}
{:type :ok, :f :write, :value 4, :process 35, :time 46629933379, :index 7231}
{:type :invoke, :f :write, :value 4, :process 54, :time 46635290965, :index 7233}
{:type :invoke, :f :read, :value nil, :process 36, :time 46665778137, :index 7235}
{:type :invoke, :f :write, :value 1, :process 50, :time 46666486978, :index 7236}
{:type :ok, :f :read, :value 4, :process 36, :time 46671406673, :index 7239}
{:type :invoke, :f :read, :value nil, :process 52, :time 46675368621, :index 7240}
{:type :ok, :f :write, :value 1, :process 50, :time 46675786789, :index 7241}
{:type :invoke, :f :write, :value 0, :process 35, :time 46678189433, :index 7243}
{:type :ok, :f :read, :value 1, :process 52, :time 46681148174, :index 7244}
{:type :ok, :f :write, :value 0, :process 35, :time 46685180879, :index 7246}
{:type :invoke, :f :read, :value nil, :process 17, :time 46689644274, :index 7248}
{:type :invoke, :f :read, :value nil, :process 51, :time 46689847808, :index 7249}
{:type :ok, :f :read, :value 0, :process 17, :time 46694869929, :index 7251}
{:type :ok, :f :read, :value 0, :process 51, :time 46695411426, :index 7252}
{:type :invoke, :f :read, :value nil, :process 17, :time 46708126976, :index 7254}
{:type :ok, :f :read, :value 0, :process 17, :time 46714034161, :index 7255}
{:type :invoke, :f :write, :value 2, :process 36, :time 46714682767, :index 7256}
{:type :invoke, :f :read, :value nil, :process 50, :time 46715061722, :index 7257}
{:type :invoke, :f :cas, :value [4 2], :process 52, :time 46720405538, :index 7258}
{:type :ok, :f :write, :value 2, :process 36, :time 46720897803, :index 7259}
{:type :ok, :f :read, :value 2, :process 50, :time 46722825344, :index 7260}
{:type :fail, :f :cas, :value [4 2], :process 52, :time 46726011503, :index 7261}
{:type :invoke, :f :read, :value nil, :process 17, :time 46730408970, :index 7263}
{:type :ok, :f :read, :value 2, :process 17, :time 46736525109, :index 7266}
{:type :invoke, :f :read, :value nil, :process 35, :time 46762436746, :index 7270}
{:type :ok, :f :read, :value 2, :process 35, :time 46768319368, :index 7272}
{:type :invoke, :f :cas, :value [4 3], :process 51, :time 46779643495, :index 7274}
{:type :invoke, :f :cas, :value [1 1], :process 36, :time 46783173837, :index 7275}
{:type :invoke, :f :cas, :value [4 4], :process 35, :time 46784558030, :index 7276}
{:type :fail, :f :cas, :value [4 3], :process 51, :time 46786082075, :index 7277}
{:type :fail, :f :cas, :value [1 1], :process 36, :time 46788643935, :index 7278}
{:type :fail, :f :cas, :value [4 4], :process 35, :time 46790469440, :index 7279}
{:type :invoke, :f :read, :value nil, :process 35, :time 46796724844, :index 7280}
{:type :ok, :f :read, :value 2, :process 35, :time 46801823269, :index 7283}
{:type :invoke, :f :cas, :value [2 0], :process 50, :time 46804084591, :index 7286}
{:type :ok, :f :cas, :value [2 0], :process 50, :time 46809874409, :index 7287}
{:type :invoke, :f :read, :value nil, :process 52, :time 46814274457, :index 7288}
{:type :ok, :f :read, :value 0, :process 52, :time 46820305365, :index 7289}
{:type :invoke, :f :cas, :value [0 2], :process 50, :time 46826141651, :index 7290}
{:type :invoke, :f :read, :value nil, :process 35, :time 46829085383, :index 7291}
{:type :ok, :f :cas, :value [0 2], :process 50, :time 46831613330, :index 7292}
{:type :ok, :f :read, :value 2, :process 35, :time 46834248645, :index 7295}
{:type :invoke, :f :write, :value 1, :process 51, :time 46866269578, :index 7302}
{:type :ok, :f :write, :value 1, :process 51, :time 46870897702, :index 7303}
{:type :invoke, :f :cas, :value [1 0], :process 52, :time 46884567548, :index 7306}
{:type :ok, :f :cas, :value [1 0], :process 52, :time 46891036253, :index 7307}
{:type :invoke, :f :write, :value 4, :process 17, :time 46904836143, :index 7309}
{:type :invoke, :f :read, :value nil, :process 50, :time 46904884180, :index 7310}
{:type :invoke, :f :read, :value nil, :process 36, :time 46907903776, :index 7311}
{:type :ok, :f :write, :value 4, :process 17, :time 46911000862, :index 7313}
{:type :ok, :f :read, :value 4, :process 50, :time 46913614151, :index 7314}
{:type :ok, :f :read, :value 4, :process 36, :time 46913929414, :index 7315}
{:type :invoke, :f :read, :value nil, :process 36, :time 46941196072, :index 7318}
{:type :ok, :f :read, :value 4, :process 36, :time 46949220915, :index 7319}
{:type :invoke, :f :cas, :value [4 2], :process 35, :time 46957486506, :index 7320}
{:type :ok, :f :cas, :value [4 2], :process 35, :time 46964725542, :index 7322}
{:type :invoke, :f :write, :value 4, :process 51, :time 47000158320, :index 7330}
{:type :ok, :f :write, :value 4, :process 51, :time 47006395440, :index 7331}
{:type :invoke, :f :write, :value 4, :process 35, :time 47009073037, :index 7332}
{:type :invoke, :f :cas, :value [4 1], :process 51, :time 47010660179, :index 7333}
{:type :invoke, :f :read, :value nil, :process 52, :time 47013304419, :index 7334}
{:type :ok, :f :write, :value 4, :process 35, :time 47015278557, :index 7336}
{:type :ok, :f :cas, :value [4 1], :process 51, :time 47015520198, :index 7337}
{:type :ok, :f :read, :value 1, :process 52, :time 47018422100, :index 7338}
{:type :invoke, :f :cas, :value [4 3], :process 50, :time 47042863168, :index 7347}
{:type :fail, :f :cas, :value [4 3], :process 50, :time 47048617112, :index 7350}
{:type :invoke, :f :read, :value nil, :process 17, :time 47052257099, :index 7352}
{:type :ok, :f :read, :value 1, :process 17, :time 47057110682, :index 7353}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 47081480026, :index 7354}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 47086828441, :index 7355}
{:type :invoke, :f :cas, :value [1 3], :process 51, :time 47098773393, :index 7356}
{:type :ok, :f :cas, :value [1 3], :process 51, :time 47104203362, :index 7357}
{:type :invoke, :f :cas, :value [2 3], :process 52, :time 47112672504, :index 7358}
{:type :invoke, :f :write, :value 4, :process 35, :time 47117543989, :index 7359}
{:type :invoke, :f :cas, :value [2 0], :process 36, :time 47120089860, :index 7360}
{:type :invoke, :f :read, :value nil, :process 17, :time 47127368152, :index 7361}
{:type :invoke, :f :write, :value 1, :process 50, :time 47164943807, :index 7364}
{:type :invoke, :f :write, :value 1, :process 51, :time 47223467232, :index 7368}
{:type :fail, :f :cas, :value [2 3], :process 52, :time 47490222894, :index 7370}
{:type :ok, :f :write, :value 1, :process 51, :time 47491006995, :index 7372}
{:type :fail, :f :cas, :value [2 0], :process 36, :time 47491149555, :index 7373}
{:type :ok, :f :read, :value 1, :process 17, :time 47491855356, :index 7375}
{:type :ok, :f :write, :value 4, :process 35, :time 47492678087, :index 7378}
{:type :ok, :f :write, :value 1, :process 50, :time 47493785550, :index 7381}
{:type :invoke, :f :read, :value nil, :process 51, :time 47497251885, :index 7382}
{:type :ok, :f :read, :value 1, :process 51, :time 47502747456, :index 7383}
{:type :invoke, :f :write, :value 0, :process 51, :time 47541007452, :index 7388}
{:type :ok, :f :write, :value 0, :process 51, :time 47545799118, :index 7389}
{:type :invoke, :f :write, :value 2, :process 52, :time 47559551577, :index 7392}
{:type :ok, :f :write, :value 2, :process 52, :time 47565317102, :index 7393}
{:type :invoke, :f :cas, :value [0 0], :process 52, :time 47568571459, :index 7394}
{:type :invoke, :f :write, :value 1, :process 51, :time 47573079212, :index 7396}
{:type :fail, :f :cas, :value [0 0], :process 52, :time 47575251582, :index 7397}
{:type :ok, :f :write, :value 1, :process 51, :time 47577741523, :index 7399}
{:type :invoke, :f :cas, :value [3 1], :process 36, :time 47604370085, :index 7402}
{:type :fail, :f :cas, :value [3 1], :process 36, :time 47609723175, :index 7403}
{:type :invoke, :f :read, :value nil, :process 50, :time 47637049576, :index 7407}
{:type :ok, :f :read, :value 1, :process 50, :time 47642750168, :index 7409}
{:type :invoke, :f :write, :value 2, :process 35, :time 47663930177, :index 7412}
{:type :ok, :f :write, :value 2, :process 35, :time 47669995015, :index 7414}
{:type :invoke, :f :cas, :value [2 2], :process 17, :time 47681095491, :index 7418}
{:type :ok, :f :cas, :value [2 2], :process 17, :time 47685814707, :index 7419}
{:type :invoke, :f :cas, :value [3 0], :process 51, :time 47695989360, :index 7420}
{:type :fail, :f :cas, :value [3 0], :process 51, :time 47701579368, :index 7422}
{:type :invoke, :f :cas, :value [2 3], :process 52, :time 47722519144, :index 7426}
{:type :ok, :f :cas, :value [2 3], :process 52, :time 47728864413, :index 7427}
{:type :invoke, :f :cas, :value [4 4], :process 35, :time 47729257906, :index 7428}
{:type :fail, :f :cas, :value [4 4], :process 35, :time 47734425653, :index 7430}
{:type :invoke, :f :read, :value nil, :process 51, :time 47734877511, :index 7431}
{:type :ok, :f :read, :value 3, :process 51, :time 47739652205, :index 7433}
{:type :invoke, :f :write, :value 1, :process 52, :time 47762130664, :index 7438}
{:type :ok, :f :write, :value 1, :process 52, :time 47767515480, :index 7439}
{:type :invoke, :f :write, :value 3, :process 52, :time 47771781174, :index 7440}
{:type :invoke, :f :cas, :value [3 1], :process 17, :time 47772095880, :index 7441}
{:type :invoke, :f :write, :value 2, :process 50, :time 47774007108, :index 7442}
{:type :ok, :f :write, :value 3, :process 52, :time 47776880043, :index 7443}
{:type :ok, :f :cas, :value [3 1], :process 17, :time 47778653145, :index 7444}
{:type :invoke, :f :write, :value 2, :process 36, :time 47778989746, :index 7445}
{:type :ok, :f :write, :value 2, :process 50, :time 47779260221, :index 7446}
{:type :ok, :f :write, :value 2, :process 36, :time 47784339620, :index 7447}
{:type :invoke, :f :write, :value 3, :process 51, :time 47797905846, :index 7448}
{:type :ok, :f :write, :value 3, :process 51, :time 47804122511, :index 7451}
{:type :invoke, :f :write, :value 4, :process 50, :time 47811510043, :index 7452}
{:type :invoke, :f :read, :value nil, :process 52, :time 47817140445, :index 7453}
{:type :invoke, :f :cas, :value [2 0], :process 36, :time 47831600313, :index 7456}
{:type :invoke, :f :read, :value nil, :process 17, :time 47870944842, :index 7459}
{:type :invoke, :f :write, :value 0, :process 35, :time 47893687579, :index 7460}
{:type :invoke, :f :read, :value nil, :process 51, :time 47963443847, :index 7461}
{:type :ok, :f :read, :value 0, :process 51, :time 48382055210, :index 7464}
{:type :ok, :f :write, :value 4, :process 50, :time 48382571804, :index 7466}
{:type :ok, :f :write, :value 0, :process 35, :time 48382897761, :index 7468}
{:type :ok, :f :read, :value 4, :process 17, :time 48383167429, :index 7469}
{:type :ok, :f :read, :value 4, :process 52, :time 48383560054, :index 7471}
{:type :fail, :f :cas, :value [2 0], :process 36, :time 48384017359, :index 7472}
{:type :invoke, :f :write, :value 3, :process 52, :time 48394801550, :index 7475}
{:type :ok, :f :write, :value 3, :process 52, :time 48402654046, :index 7476}
{:type :invoke, :f :read, :value nil, :process 17, :time 48463400358, :index 7489}
{:type :ok, :f :read, :value 3, :process 17, :time 48469540163, :index 7491}
{:type :invoke, :f :cas, :value [4 0], :process 35, :time 48542131814, :index 7500}
{:type :invoke, :f :cas, :value [0 2], :process 50, :time 48542942749, :index 7502}
{:type :fail, :f :cas, :value [4 0], :process 35, :time 48549368576, :index 7504}
{:type :fail, :f :cas, :value [0 2], :process 50, :time 48550411084, :index 7505}
{:type :invoke, :f :cas, :value [2 3], :process 51, :time 48566363099, :index 7506}
{:type :fail, :f :cas, :value [2 3], :process 51, :time 48571754460, :index 7507}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :write, :value 1, :process 79, :time 51559240798, :error :timeout, :index 7899}
{:type :info, :f :cas, :value [1 3], :process 98, :time 51561218055, :error :timeout, :index 7901}
{:type :info, :f :cas, :value [2 3], :process 53, :time 51582912014, :error :timeout, :index 7902}
{:type :info, :f :write, :value 4, :process 54, :time 51639098328, :error :timeout, :index 7906}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
