{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :invoke, :f :write, :value 3, :process 57, :time 48205209401, :index 7764}
{:type :invoke, :f :read, :value nil, :process 52, :time 48206803699, :index 7765}
{:type :ok, :f :write, :value 3, :process 57, :time 48211014134, :index 7766}
{:type :ok, :f :read, :value 3, :process 52, :time 48211653919, :index 7767}
{:type :invoke, :f :write, :value 1, :process 79, :time 48238750444, :index 7768}
{:type :ok, :f :write, :value 1, :process 79, :time 48243540843, :index 7769}
{:type :invoke, :f :write, :value 4, :process 79, :time 48306812705, :index 7774}
{:type :ok, :f :write, :value 4, :process 79, :time 48313860979, :index 7775}
{:type :invoke, :f :read, :value nil, :process 16, :time 48319732744, :index 7776}
{:type :ok, :f :read, :value 4, :process 16, :time 48325000603, :index 7778}
{:type :invoke, :f :cas, :value [3 0], :process 54, :time 48327076364, :index 7779}
{:type :fail, :f :cas, :value [3 0], :process 54, :time 48332696345, :index 7781}
{:type :invoke, :f :read, :value nil, :process 52, :time 48349886261, :index 7784}
{:type :ok, :f :read, :value 4, :process 52, :time 48356348130, :index 7786}
{:type :invoke, :f :read, :value nil, :process 31, :time 48368171850, :index 7788}
{:type :invoke, :f :read, :value nil, :process 54, :time 48368925920, :index 7789}
{:type :ok, :f :read, :value 4, :process 31, :time 48373161611, :index 7790}
{:type :invoke, :f :write, :value 1, :process 57, :time 48386343405, :index 7793}
{:type :invoke, :f :read, :value nil, :process 31, :time 48413425733, :index 7796}
{:type :invoke, :f :read, :value nil, :process 16, :time 48427262832, :index 7797}
{:type :invoke, :f :cas, :value [3 4], :process 79, :time 48461129675, :index 7799}
{:type :invoke, :f :write, :value 1, :process 52, :time 48478609002, :index 7800}
{:type :ok, :f :read, :value 4, :process 31, :time 48523877672, :index 7802}
{:type :invoke, :f :read, :value nil, :process 31, :time 48568238062, :index 7805}
{:type :ok, :f :read, :value 4, :process 54, :time 49181552806, :index 7808}
{:type :ok, :f :read, :value 4, :process 16, :time 49182117530, :index 7811}
{:type :ok, :f :read, :value 1, :process 31, :time 49182986171, :index 7812}
{:type :ok, :f :write, :value 1, :process 57, :time 49183648903, :index 7816}
{:type :ok, :f :write, :value 1, :process 52, :time 49184087704, :index 7818}
{:type :fail, :f :cas, :value [3 4], :process 79, :time 49186449479, :index 7819}
{:type :invoke, :f :read, :value nil, :process 54, :time 49199966404, :index 7821}
{:type :invoke, :f :write, :value 2, :process 52, :time 49204313414, :index 7822}
{:type :ok, :f :read, :value 1, :process 54, :time 49205896736, :index 7824}
{:type :ok, :f :write, :value 2, :process 52, :time 49260398782, :index 7827}
{:type :invoke, :f :cas, :value [3 3], :process 79, :time 49283713113, :index 7828}
{:type :invoke, :f :write, :value 1, :process 52, :time 49331619632, :index 7831}
{:type :invoke, :f :read, :value nil, :process 31, :time 49339289021, :index 7832}
{:type :invoke, :f :cas, :value [2 3], :process 57, :time 49349884956, :index 7834}
{:type :invoke, :f :cas, :value [2 2], :process 54, :time 49356196241, :index 7835}
{:type :invoke, :f :read, :value nil, :process 16, :time 49362354857, :index 7836}
{:type :ok, :f :read, :value 1, :process 16, :time 49410221350, :index 7840}
{:type :ok, :f :read, :value 1, :process 31, :time 49410695039, :index 7842}
{:type :fail, :f :cas, :value [2 2], :process 54, :time 49411530486, :index 7844}
{:type :fail, :f :cas, :value [2 3], :process 57, :time 49412315713, :index 7845}
{:type :fail, :f :cas, :value [3 3], :process 79, :time 49413180815, :index 7846}
{:type :ok, :f :write, :value 1, :process 52, :time 49413553001, :index 7848}
{:type :invoke, :f :cas, :value [4 4], :process 16, :time 49483535249, :index 7858}
{:type :invoke, :f :write, :value 0, :process 57, :time 49487598079, :index 7859}
{:type :fail, :f :cas, :value [4 4], :process 16, :time 49488715985, :index 7860}
{:type :ok, :f :write, :value 0, :process 57, :time 49492711860, :index 7861}
{:type :invoke, :f :read, :value nil, :process 52, :time 49492796130, :index 7862}
{:type :invoke, :f :write, :value 3, :process 79, :time 49496460259, :index 7863}
{:type :ok, :f :read, :value 0, :process 52, :time 49497764900, :index 7864}
{:type :ok, :f :write, :value 3, :process 79, :time 49502417497, :index 7865}
{:type :invoke, :f :write, :value 3, :process 52, :time 49525030535, :index 7870}
{:type :invoke, :f :cas, :value [4 0], :process 79, :time 49533680564, :index 7873}
{:type :invoke, :f :write, :value 2, :process 54, :time 49535787785, :index 7874}
{:type :invoke, :f :cas, :value [2 2], :process 31, :time 49571948291, :index 7876}
{:type :invoke, :f :read, :value nil, :process 16, :time 49591978006, :index 7877}
{:type :invoke, :f :write, :value 4, :process 57, :time 49595979832, :index 7878}
{:type :ok, :f :write, :value 3, :process 52, :time 49614013558, :index 7881}
{:type :ok, :f :write, :value 4, :process 57, :time 49615898613, :index 7884}
{:type :fail, :f :cas, :value [2 2], :process 31, :time 49615938361, :index 7885}
{:type :ok, :f :read, :value 3, :process 16, :time 49616268719, :index 7886}
{:type :ok, :f :write, :value 2, :process 54, :time 49617008515, :index 7889}
{:type :ok, :f :cas, :value [4 0], :process 79, :time 49617527570, :index 7891}
{:type :invoke, :f :write, :value 0, :process 79, :time 49664795701, :index 7896}
{:type :ok, :f :write, :value 0, :process 79, :time 49669772239, :index 7897}
{:type :invoke, :f :cas, :value [4 1], :process 54, :time 49679295683, :index 7898}
{:type :fail, :f :cas, :value [4 1], :process 54, :time 49685039187, :index 7899}
{:type :invoke, :f :read, :value nil, :process 31, :time 49704211032, :index 7900}
{:type :invoke, :f :read, :value nil, :process 79, :time 49708036256, :index 7901}
{:type :ok, :f :read, :value 0, :process 31, :time 49709346497, :index 7902}
{:type :ok, :f :read, :value 0, :process 79, :time 49713612763, :index 7903}
{:type :invoke, :f :read, :value nil, :process 16, :time 49751507596, :index 7907}
{:type :ok, :f :read, :value 0, :process 16, :time 49755640923, :index 7909}
{:type :invoke, :f :write, :value 2, :process 52, :time 49790299677, :index 7916}
{:type :invoke, :f :cas, :value [3 3], :process 57, :time 49795212967, :index 7920}
{:type :ok, :f :write, :value 2, :process 52, :time 49795576693, :index 7921}
{:type :fail, :f :cas, :value [3 3], :process 57, :time 49800779632, :index 7923}
{:type :invoke, :f :write, :value 3, :process 79, :time 49837908635, :index 7928}
{:type :invoke, :f :cas, :value [1 3], :process 57, :time 49843077861, :index 7929}
{:type :ok, :f :write, :value 3, :process 79, :time 49844418290, :index 7930}
{:type :fail, :f :cas, :value [1 3], :process 57, :time 49848454503, :index 7931}
{:type :invoke, :f :cas, :value [4 0], :process 31, :time 49868621859, :index 7934}
{:type :fail, :f :cas, :value [4 0], :process 31, :time 49873582702, :index 7935}
{:type :invoke, :f :cas, :value [3 2], :process 54, :time 49878300903, :index 7936}
{:type :ok, :f :cas, :value [3 2], :process 54, :time 49882978150, :index 7938}
{:type :invoke, :f :cas, :value [1 3], :process 31, :time 49927840202, :index 7947}
{:type :invoke, :f :cas, :value [3 0], :process 52, :time 49927823909, :index 7948}
{:type :fail, :f :cas, :value [1 3], :process 31, :time 49932767409, :index 7950}
{:type :fail, :f :cas, :value [3 0], :process 52, :time 49933880582, :index 7951}
{:type :invoke, :f :cas, :value [4 4], :process 16, :time 49934935815, :index 7952}
{:type :fail, :f :cas, :value [4 4], :process 16, :time 49939982308, :index 7953}
{:type :invoke, :f :cas, :value [4 1], :process 54, :time 49958250849, :index 7958}
{:type :fail, :f :cas, :value [4 1], :process 54, :time 49964393807, :index 7960}
{:type :invoke, :f :cas, :value [4 0], :process 16, :time 49975252641, :index 7964}
{:type :fail, :f :cas, :value [4 0], :process 16, :time 49980324617, :index 7967}
{:type :invoke, :f :write, :value 0, :process 79, :time 49996677325, :index 7968}
{:type :invoke, :f :read, :value nil, :process 57, :time 49999713704, :index 7970}
{:type :ok, :f :write, :value 0, :process 79, :time 50002998744, :index 7971}
{:type :ok, :f :read, :value 0, :process 57, :time 50004823209, :index 7973}
{:type :invoke, :f :read, :value nil, :process 16, :time 50010488207, :index 7974}
{:type :ok, :f :read, :value 0, :process 16, :time 50014851755, :index 7975}
{:type :invoke, :f :read, :value nil, :process 57, :time 50028068120, :index 7982}
{:type :ok, :f :read, :value 0, :process 57, :time 50032808922, :index 7983}
{:type :invoke, :f :cas, :value [1 2], :process 54, :time 50078645824, :index 7986}
{:type :fail, :f :cas, :value [1 2], :process 54, :time 50083970812, :index 7987}
{:type :invoke, :f :write, :value 3, :process 52, :time 50086196192, :index 7988}
{:type :ok, :f :write, :value 3, :process 52, :time 50091339504, :index 7989}
{:type :invoke, :f :cas, :value [1 1], :process 57, :time 50097071669, :index 7990}
{:type :fail, :f :cas, :value [1 1], :process 57, :time 50102742614, :index 7992}
{:type :invoke, :f :cas, :value [1 3], :process 31, :time 50117020575, :index 7998}
{:type :fail, :f :cas, :value [1 3], :process 31, :time 50122664843, :index 7999}
{:type :invoke, :f :write, :value 2, :process 57, :time 50131002487, :index 8002}
{:type :ok, :f :write, :value 2, :process 57, :time 50136470097, :index 8003}
{:type :invoke, :f :write, :value 1, :process 79, :time 50155270207, :index 8008}
{:type :invoke, :f :cas, :value [0 3], :process 31, :time 50157945010, :index 8009}
{:type :ok, :f :write, :value 1, :process 79, :time 50161232345, :index 8010}
{:type :fail, :f :cas, :value [0 3], :process 31, :time 50163755952, :index 8011}
{:type :invoke, :f :cas, :value [3 4], :process 54, :time 50166227951, :index 8013}
{:type :fail, :f :cas, :value [3 4], :process 54, :time 50171755205, :index 8015}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 50183112980, :index 8017}
{:type :fail, :f :cas, :value [2 0], :process 16, :time 50188163590, :index 8019}
{:type :invoke, :f :write, :value 1, :process 52, :time 50196602176, :index 8022}
{:type :ok, :f :write, :value 1, :process 52, :time 50202108481, :index 8024}
{:type :invoke, :f :write, :value 0, :process 57, :time 50241733593, :index 8028}
{:type :ok, :f :write, :value 0, :process 57, :time 50247239450, :index 8030}
{:type :invoke, :f :cas, :value [4 3], :process 16, :time 50267402022, :index 8032}
{:type :fail, :f :cas, :value [4 3], :process 16, :time 50273915175, :index 8033}
{:type :invoke, :f :write, :value 1, :process 52, :time 50292371948, :index 8037}
{:type :ok, :f :write, :value 1, :process 52, :time 50297548999, :index 8039}
{:type :invoke, :f :read, :value nil, :process 31, :time 50306017984, :index 8040}
{:type :ok, :f :read, :value 1, :process 31, :time 50310554807, :index 8041}
{:type :invoke, :f :cas, :value [0 1], :process 79, :time 50310521138, :index 8042}
{:type :fail, :f :cas, :value [0 1], :process 79, :time 50315819659, :index 8043}
{:type :invoke, :f :cas, :value [0 1], :process 54, :time 50343018449, :index 8048}
{:type :fail, :f :cas, :value [0 1], :process 54, :time 50348223228, :index 8049}
{:type :invoke, :f :read, :value nil, :process 57, :time 50370454667, :index 8054}
{:type :ok, :f :read, :value 1, :process 57, :time 50376550234, :index 8057}
{:type :invoke, :f :cas, :value [4 0], :process 16, :time 50410205532, :index 8062}
{:type :fail, :f :cas, :value [4 0], :process 16, :time 50414938763, :index 8063}
{:type :invoke, :f :write, :value 4, :process 54, :time 50462497546, :index 8068}
{:type :ok, :f :write, :value 4, :process 54, :time 50468497869, :index 8069}
{:type :invoke, :f :cas, :value [0 0], :process 79, :time 50472079196, :index 8071}
{:type :invoke, :f :cas, :value [2 4], :process 31, :time 50477279895, :index 8073}
{:type :fail, :f :cas, :value [0 0], :process 79, :time 50478575101, :index 8075}
{:type :fail, :f :cas, :value [2 4], :process 31, :time 50485114684, :index 8076}
{:type :invoke, :f :cas, :value [3 0], :process 31, :time 50491409301, :index 8080}
{:type :invoke, :f :read, :value nil, :process 52, :time 50494804321, :index 8082}
{:type :fail, :f :cas, :value [3 0], :process 31, :time 50496266134, :index 8084}
{:type :ok, :f :read, :value 4, :process 52, :time 50500556455, :index 8085}
{:type :invoke, :f :cas, :value [2 0], :process 57, :time 50523817548, :index 8089}
{:type :invoke, :f :cas, :value [4 3], :process 54, :time 50528767753, :index 8091}
{:type :fail, :f :cas, :value [2 0], :process 57, :time 50529679904, :index 8092}
{:type :ok, :f :cas, :value [4 3], :process 54, :time 50534109989, :index 8093}
{:type :invoke, :f :read, :value nil, :process 52, :time 50569813707, :index 8100}
{:type :ok, :f :read, :value 3, :process 52, :time 50577019329, :index 8102}
{:type :invoke, :f :read, :value nil, :process 31, :time 50586528274, :index 8105}
{:type :invoke, :f :read, :value nil, :process 16, :time 50591213460, :index 8107}
{:type :ok, :f :read, :value 3, :process 31, :time 50591955485, :index 8108}
{:type :ok, :f :read, :value 3, :process 16, :time 50595949159, :index 8109}
{:type :invoke, :f :write, :value 0, :process 54, :time 50609376343, :index 8110}
{:type :ok, :f :write, :value 0, :process 54, :time 50615700013, :index 8111}
{:type :invoke, :f :read, :value nil, :process 16, :time 50631202771, :index 8114}
{:type :ok, :f :read, :value 0, :process 16, :time 50636093397, :index 8116}
{:type :invoke, :f :cas, :value [4 4], :process 79, :time 50669823569, :index 8120}
{:type :fail, :f :cas, :value [4 4], :process 79, :time 50676039068, :index 8122}
{:type :invoke, :f :read, :value nil, :process 16, :time 50680357592, :index 8124}
{:type :invoke, :f :write, :value 2, :process 57, :time 50681970664, :index 8125}
{:type :ok, :f :read, :value 0, :process 16, :time 50685624829, :index 8127}
{:type :ok, :f :write, :value 2, :process 57, :time 50686725902, :index 8128}
{:type :invoke, :f :cas, :value [0 0], :process 54, :time 50697972897, :index 8131}
{:type :fail, :f :cas, :value [0 0], :process 54, :time 50703709342, :index 8135}
{:type :invoke, :f :read, :value nil, :process 31, :time 50704220319, :index 8136}
{:type :ok, :f :read, :value 2, :process 31, :time 50711215364, :index 8139}
{:type :invoke, :f :read, :value nil, :process 52, :time 50744281804, :index 8145}
{:type :invoke, :f :write, :value 0, :process 16, :time 50765881281, :index 8146}
{:type :invoke, :f :read, :value nil, :process 79, :time 50806339163, :index 8148}
{:type :invoke, :f :cas, :value [2 4], :process 54, :time 50809985024, :index 8149}
{:type :invoke, :f :write, :value 0, :process 57, :time 50826026160, :index 8151}
{:type :invoke, :f :write, :value 1, :process 31, :time 50910484131, :index 8155}
{:type :ok, :f :write, :value 0, :process 16, :time 51326690286, :index 8157}
{:type :ok, :f :read, :value 0, :process 79, :time 51327159059, :index 8158}
{:type :fail, :f :cas, :value [2 4], :process 54, :time 51328452857, :index 8162}
{:type :ok, :f :write, :value 1, :process 31, :time 51328595310, :index 8163}
{:type :invoke, :f :read, :value nil, :process 79, :time 51328377133, :index 8165}
{:type :ok, :f :read, :value 1, :process 52, :time 51329225104, :index 8166}
{:type :ok, :f :write, :value 0, :process 57, :time 51330077128, :index 8168}
{:type :ok, :f :read, :value 0, :process 79, :time 51334701950, :index 8169}
{:type :invoke, :f :write, :value 2, :process 57, :time 51371621528, :index 8175}
{:type :invoke, :f :cas, :value [1 3], :process 54, :time 51380264201, :index 8178}
{:type :invoke, :f :write, :value 4, :process 16, :time 51473074039, :index 8185}
{:type :invoke, :f :cas, :value [3 0], :process 31, :time 51515305770, :index 8190}
{:type :invoke, :f :cas, :value [3 0], :process 52, :time 51515890567, :index 8191}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :ok, :f :write, :value 2, :process 57, :time 52072847620, :index 8206}
{:type :fail, :f :cas, :value [1 3], :process 54, :time 52073801156, :index 8208}
{:type :fail, :f :cas, :value [3 0], :process 31, :time 52074651173, :index 8210}
{:type :ok, :f :write, :value 4, :process 16, :time 52074933915, :index 8211}
{:type :fail, :f :cas, :value [3 0], :process 52, :time 52076344718, :index 8215}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
