{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :invoke, :f :write, :value 1, :process 7, :time 15220335355, :index 3224}
{:type :ok, :f :write, :value 1, :process 7, :time 15225353927, :index 3227}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 15244482837, :index 3235}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 15249753885, :index 3237}
{:type :invoke, :f :cas, :value [2 1], :process 5, :time 15264502934, :index 3245}
{:type :invoke, :f :read, :value nil, :process 9, :time 15264795424, :index 3246}
{:type :invoke, :f :write, :value 4, :process 7, :time 15265633283, :index 3247}
{:type :ok, :f :write, :value 4, :process 7, :time 15270282699, :index 3249}
{:type :ok, :f :read, :value 1, :process 9, :time 15270592316, :index 3250}
{:type :fail, :f :cas, :value [2 1], :process 5, :time 15272492559, :index 3251}
{:type :invoke, :f :read, :value nil, :process 0, :time 15299391133, :index 3260}
{:type :ok, :f :read, :value 4, :process 0, :time 15305012930, :index 3263}
{:type :invoke, :f :cas, :value [2 3], :process 26, :time 15331550214, :index 3276}
{:type :fail, :f :cas, :value [2 3], :process 26, :time 15336445462, :index 3277}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 15345265581, :index 3278}
{:type :fail, :f :cas, :value [1 4], :process 0, :time 15351451199, :index 3281}
{:type :invoke, :f :write, :value 4, :process 8, :time 15357977043, :index 3283}
{:type :ok, :f :write, :value 4, :process 8, :time 15362488758, :index 3286}
{:type :invoke, :f :write, :value 2, :process 5, :time 15386745741, :index 3292}
{:type :ok, :f :write, :value 2, :process 5, :time 15392486927, :index 3293}
{:type :invoke, :f :cas, :value [4 4], :process 9, :time 15394866135, :index 3294}
{:type :invoke, :f :write, :value 3, :process 2, :time 15398106241, :index 3295}
{:type :fail, :f :cas, :value [4 4], :process 9, :time 15400079471, :index 3296}
{:type :ok, :f :write, :value 3, :process 2, :time 15402696551, :index 3297}
{:type :invoke, :f :write, :value 2, :process 23, :time 15405823299, :index 3299}
{:type :ok, :f :write, :value 2, :process 23, :time 15411134320, :index 3302}
{:type :invoke, :f :cas, :value [2 2], :process 0, :time 15416731361, :index 3306}
{:type :invoke, :f :read, :value nil, :process 21, :time 15418994226, :index 3307}
{:type :ok, :f :cas, :value [2 2], :process 0, :time 15422163522, :index 3308}
{:type :invoke, :f :write, :value 2, :process 4, :time 15422669868, :index 3309}
{:type :ok, :f :read, :value 2, :process 21, :time 15423825189, :index 3310}
{:type :ok, :f :write, :value 2, :process 4, :time 15427206721, :index 3311}
{:type :invoke, :f :read, :value nil, :process 9, :time 15433338803, :index 3312}
{:type :invoke, :f :cas, :value [2 1], :process 5, :time 15436747926, :index 3313}
{:type :ok, :f :read, :value 2, :process 9, :time 15441412235, :index 3314}
{:type :ok, :f :cas, :value [2 1], :process 5, :time 15444268751, :index 3315}
{:type :invoke, :f :cas, :value [4 0], :process 9, :time 15451684643, :index 3318}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 15455536878, :index 3320}
{:type :fail, :f :cas, :value [4 0], :process 9, :time 15456870438, :index 3321}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 15461004198, :index 3324}
{:type :invoke, :f :read, :value nil, :process 9, :time 15463126044, :index 3325}
{:type :invoke, :f :read, :value nil, :process 8, :time 15467762019, :index 3327}
{:type :ok, :f :read, :value 1, :process 9, :time 15467949480, :index 3328}
{:type :invoke, :f :write, :value 0, :process 26, :time 15471707336, :index 3329}
{:type :ok, :f :read, :value 1, :process 8, :time 15472700984, :index 3330}
{:type :ok, :f :write, :value 0, :process 26, :time 15476707228, :index 3332}
{:type :invoke, :f :write, :value 4, :process 4, :time 15487462168, :index 3334}
{:type :ok, :f :write, :value 4, :process 4, :time 15492983996, :index 3335}
{:type :invoke, :f :read, :value nil, :process 9, :time 15499186665, :index 3336}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 15500555303, :index 3337}
{:type :ok, :f :read, :value 4, :process 9, :time 15504253051, :index 3339}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 15506881031, :index 3340}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :invoke, :f :write, :value 2, :process 2, :time 15542954527, :index 3351}
{:type :invoke, :f :read, :value nil, :process 8, :time 15548958270, :index 3353}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 15549255699, :index 3354}
{:type :invoke, :f :read, :value nil, :process 23, :time 15602400278, :index 3358}
{:type :invoke, :f :write, :value 0, :process 21, :time 15610090288, :index 3360}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 15612432094, :index 3361}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :invoke, :f :read, :value nil, :process 26, :time 15632992106, :index 3366}
{:type :invoke, :f :cas, :value [3 4], :process 5, :time 15636138960, :index 3367}
{:type :invoke, :f :read, :value nil, :process 7, :time 15639279211, :index 3369}
{:type :invoke, :f :write, :value 2, :process 9, :time 15640518579, :index 3370}
{:type :info, :f :write, :value 2, :process 2, :time 20548147283, :error :timeout, :index 3372}
{:type :info, :f :cas, :value [0 0], :process 4, :time 20554948154, :error :timeout, :index 3374}
{:type :fail, :f :read, :value nil, :process 8, :time 20556022410, :error :timeout, :index 3375}
{:type :invoke, :f :read, :value nil, :process 22, :time 20583010388, :index 3377}
{:type :fail, :f :read, :value nil, :process 23, :time 20608257026, :error :timeout, :index 3381}
{:type :info, :f :write, :value 0, :process 21, :time 20614984888, :error :timeout, :index 3383}
{:type :info, :f :cas, :value [1 0], :process 0, :time 20618954722, :error :timeout, :index 3384}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :invoke, :f :read, :value nil, :process 8, :time 20635218245, :index 3390}
{:type :fail, :f :read, :value nil, :process 26, :time 20639776128, :error :timeout, :index 3391}
{:type :ok, :f :read, :value 4, :process 8, :time 20642101496, :index 3392}
{:type :info, :f :cas, :value [3 4], :process 5, :time 20643120440, :error :timeout, :index 3393}
{:type :fail, :f :read, :value nil, :process 7, :time 20646215847, :error :timeout, :index 3395}
{:type :info, :f :write, :value 2, :process 9, :time 20646937455, :error :timeout, :index 3396}
{:type :invoke, :f :read, :value nil, :process 24, :time 20649949681, :index 3397}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 20680359689, :index 3404}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 20685187025, :index 3406}
{:type :invoke, :f :read, :value nil, :process 23, :time 20688507373, :index 3407}
{:type :ok, :f :read, :value 4, :process 23, :time 20693011765, :index 3408}
{:type :invoke, :f :cas, :value [0 2], :process 23, :time 20707276089, :index 3409}
{:type :fail, :f :cas, :value [0 2], :process 23, :time 20712202312, :index 3411}
{:type :invoke, :f :read, :value nil, :process 7, :time 20724479882, :index 3413}
{:type :invoke, :f :cas, :value [4 3], :process 23, :time 20725468480, :index 3415}
{:type :ok, :f :cas, :value [4 3], :process 23, :time 20730392368, :index 3416}
{:type :invoke, :f :read, :value nil, :process 29, :time 20755624359, :index 3421}
{:type :invoke, :f :cas, :value [1 0], :process 20, :time 20786587850, :index 3431}
{:type :fail, :f :cas, :value [1 0], :process 20, :time 20794082872, :index 3432}
{:type :invoke, :f :read, :value nil, :process 23, :time 20797727250, :index 3433}
{:type :invoke, :f :cas, :value [4 4], :process 41, :time 20801647379, :index 3434}
{:type :ok, :f :read, :value 3, :process 23, :time 20802367154, :index 3435}
{:type :fail, :f :cas, :value [4 4], :process 41, :time 20806649862, :index 3436}
{:type :invoke, :f :read, :value nil, :process 26, :time 20807050412, :index 3437}
{:type :ok, :f :read, :value 3, :process 26, :time 20812038636, :index 3438}
{:type :invoke, :f :cas, :value [0 2], :process 25, :time 20820717987, :index 3439}
{:type :fail, :f :cas, :value [0 2], :process 25, :time 20827380328, :index 3440}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :invoke, :f :cas, :value [3 4], :process 8, :time 20849468599, :index 3442}
{:type :ok, :f :cas, :value [3 4], :process 8, :time 20855281935, :index 3443}
{:type :invoke, :f :write, :value 1, :process 25, :time 20865640778, :index 3445}
{:type :ok, :f :write, :value 1, :process 25, :time 20870924906, :index 3447}
{:type :invoke, :f :read, :value nil, :process 41, :time 20881936338, :index 3451}
{:type :ok, :f :read, :value 1, :process 41, :time 20887108290, :index 3453}
{:type :invoke, :f :read, :value nil, :process 20, :time 20899355011, :index 3455}
{:type :ok, :f :read, :value 1, :process 20, :time 20904333069, :index 3458}
{:type :invoke, :f :write, :value 1, :process 25, :time 20907194363, :index 3460}
{:type :ok, :f :write, :value 1, :process 25, :time 20912794661, :index 3463}
{:type :invoke, :f :read, :value nil, :process 26, :time 20939305417, :index 3465}
{:type :ok, :f :read, :value 1, :process 26, :time 20944264855, :index 3467}
{:type :invoke, :f :cas, :value [1 3], :process 23, :time 20950606213, :index 3468}
{:type :ok, :f :cas, :value [1 3], :process 23, :time 20955350342, :index 3469}
{:type :invoke, :f :write, :value 4, :process 8, :time 20965549484, :index 3474}
{:type :ok, :f :write, :value 4, :process 8, :time 20970469433, :index 3475}
{:type :invoke, :f :write, :value 3, :process 41, :time 20987368506, :index 3478}
{:type :ok, :f :write, :value 3, :process 41, :time 20993129577, :index 3479}
{:type :invoke, :f :cas, :value [1 1], :process 20, :time 21015574064, :index 3482}
{:type :fail, :f :cas, :value [1 1], :process 20, :time 21021664764, :index 3483}
{:type :invoke, :f :write, :value 2, :process 25, :time 21066050050, :index 3490}
{:type :ok, :f :write, :value 2, :process 25, :time 21071260039, :index 3491}
{:type :invoke, :f :cas, :value [3 0], :process 23, :time 21090618815, :index 3495}
{:type :fail, :f :cas, :value [3 0], :process 23, :time 21095627589, :index 3497}
{:type :invoke, :f :read, :value nil, :process 26, :time 21117524516, :index 3501}
{:type :invoke, :f :read, :value nil, :process 25, :time 21119515711, :index 3502}
{:type :ok, :f :read, :value 2, :process 26, :time 21122316624, :index 3505}
{:type :ok, :f :read, :value 2, :process 25, :time 21125222620, :index 3506}
{:type :invoke, :f :write, :value 2, :process 41, :time 21134403380, :index 3511}
{:type :ok, :f :write, :value 2, :process 41, :time 21139681038, :index 3513}
{:type :invoke, :f :cas, :value [0 4], :process 26, :time 21141562396, :index 3514}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 21142737673, :index 3515}
{:type :fail, :f :cas, :value [0 4], :process 26, :time 21147019756, :index 3516}
{:type :ok, :f :cas, :value [2 4], :process 8, :time 21147091237, :index 3517}
{:type :invoke, :f :write, :value 1, :process 23, :time 21158887849, :index 3518}
{:type :ok, :f :write, :value 1, :process 23, :time 21163471927, :index 3519}
{:type :invoke, :f :cas, :value [2 1], :process 25, :time 21175500676, :index 3520}
{:type :fail, :f :cas, :value [2 1], :process 25, :time 21180922206, :index 3521}
{:type :invoke, :f :cas, :value [2 3], :process 20, :time 21207921878, :index 3524}
{:type :fail, :f :cas, :value [2 3], :process 20, :time 21213603177, :index 3526}
{:type :invoke, :f :write, :value 3, :process 20, :time 21218876693, :index 3528}
{:type :ok, :f :write, :value 3, :process 20, :time 21224299802, :index 3529}
{:type :invoke, :f :cas, :value [1 1], :process 23, :time 21251740530, :index 3539}
{:type :fail, :f :cas, :value [1 1], :process 23, :time 21256125199, :index 3541}
{:type :invoke, :f :cas, :value [1 3], :process 25, :time 21268179178, :index 3542}
{:type :fail, :f :cas, :value [1 3], :process 25, :time 21274409692, :index 3543}
{:type :invoke, :f :read, :value nil, :process 41, :time 21281941744, :index 3546}
{:type :ok, :f :read, :value 3, :process 41, :time 21287169428, :index 3548}
{:type :invoke, :f :cas, :value [1 4], :process 26, :time 21320314748, :index 3556}
{:type :fail, :f :cas, :value [1 4], :process 26, :time 21326060674, :index 3557}
{:type :invoke, :f :write, :value 2, :process 23, :time 21328381269, :index 3558}
{:type :ok, :f :write, :value 2, :process 23, :time 21332674143, :index 3559}
{:type :invoke, :f :write, :value 0, :process 8, :time 21335329957, :index 3560}
{:type :ok, :f :write, :value 0, :process 8, :time 21340200613, :index 3561}
{:type :invoke, :f :cas, :value [1 0], :process 20, :time 21352558390, :index 3562}
{:type :invoke, :f :write, :value 3, :process 8, :time 21356459660, :index 3563}
{:type :fail, :f :cas, :value [1 0], :process 20, :time 21358656445, :index 3564}
{:type :ok, :f :write, :value 3, :process 8, :time 21361766694, :index 3565}
{:type :invoke, :f :cas, :value [4 3], :process 25, :time 21382655861, :index 3568}
{:type :fail, :f :cas, :value [4 3], :process 25, :time 21388260095, :index 3571}
{:type :invoke, :f :cas, :value [1 4], :process 41, :time 21394427130, :index 3574}
{:type :fail, :f :cas, :value [1 4], :process 41, :time 21400109941, :index 3575}
{:type :invoke, :f :read, :value nil, :process 26, :time 21400325015, :index 3576}
{:type :ok, :f :read, :value 3, :process 26, :time 21406874856, :index 3578}
{:type :invoke, :f :read, :value nil, :process 23, :time 21412931480, :index 3580}
{:type :ok, :f :read, :value 3, :process 23, :time 21417633369, :index 3581}
{:type :invoke, :f :read, :value nil, :process 41, :time 21431368028, :index 3584}
{:type :invoke, :f :read, :value nil, :process 8, :time 21474019522, :index 3589}
{:type :invoke, :f :read, :value nil, :process 20, :time 21552942240, :index 3591}
{:type :invoke, :f :cas, :value [4 3], :process 25, :time 21560520239, :index 3592}
{:type :invoke, :f :write, :value 2, :process 23, :time 21579907509, :index 3594}
{:type :invoke, :f :write, :value 1, :process 26, :time 21597161433, :index 3595}
{:type :ok, :f :read, :value 3, :process 8, :time 22837658294, :index 3596}
{:type :ok, :f :read, :value 3, :process 20, :time 22838226496, :index 3599}
{:type :ok, :f :read, :value 3, :process 41, :time 22838381790, :index 3600}
{:type :fail, :f :cas, :value [4 3], :process 25, :time 22839138714, :index 3602}
{:type :ok, :f :write, :value 2, :process 23, :time 22839338334, :index 3603}
{:type :ok, :f :write, :value 1, :process 26, :time 22839432687, :index 3604}
{:type :ok, :f :read, :value 3, :process 22, :time 22842670811, :index 3609}
{:type :ok, :f :read, :value 3, :process 7, :time 22842991436, :index 3610}
{:type :ok, :f :read, :value 3, :process 24, :time 22846037033, :index 3614}
{:type :ok, :f :read, :value 3, :process 29, :time 22846069748, :index 3615}
{:type :invoke, :f :write, :value 0, :process 25, :time 22857420346, :index 3618}
{:type :ok, :f :write, :value 0, :process 25, :time 22862843459, :index 3619}
{:type :invoke, :f :write, :value 3, :process 8, :time 22917047075, :index 3626}
{:type :ok, :f :write, :value 3, :process 8, :time 22922016987, :index 3627}
{:type :invoke, :f :read, :value nil, :process 24, :time 22934272822, :index 3632}
{:type :invoke, :f :read, :value nil, :process 23, :time 22934934994, :index 3634}
{:type :ok, :f :read, :value 3, :process 23, :time 22939413059, :index 3638}
{:type :ok, :f :read, :value 3, :process 24, :time 22940125710, :index 3639}
{:type :invoke, :f :read, :value nil, :process 29, :time 22943293389, :index 3640}
{:type :ok, :f :read, :value 3, :process 29, :time 22948302602, :index 3641}
{:type :invoke, :f :read, :value nil, :process 22, :time 22977960999, :index 3646}
{:type :ok, :f :read, :value 3, :process 22, :time 22983100262, :index 3648}
{:type :invoke, :f :cas, :value [3 1], :process 41, :time 22994618105, :index 3653}
{:type :ok, :f :cas, :value [3 1], :process 41, :time 22999398330, :index 3656}
{:type :invoke, :f :read, :value nil, :process 26, :time 23007029302, :index 3662}
{:type :ok, :f :read, :value 1, :process 26, :time 23011924536, :index 3663}
{:type :invoke, :f :cas, :value [1 4], :process 7, :time 23031243396, :index 3671}
{:type :ok, :f :cas, :value [1 4], :process 7, :time 23036448804, :index 3676}
{:type :invoke, :f :cas, :value [4 4], :process 20, :time 23037465447, :index 3677}
{:type :ok, :f :cas, :value [4 4], :process 20, :time 23042785768, :index 3680}
{:type :invoke, :f :cas, :value [4 2], :process 25, :time 23054142662, :index 3685}
{:type :ok, :f :cas, :value [4 2], :process 25, :time 23059251822, :index 3691}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
