{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :invoke, :f :write, :value 3, :process 58, :time 45951337286, :index 9974}
{:type :ok, :f :write, :value 3, :process 58, :time 45956596160, :index 9976}
{:type :invoke, :f :read, :value nil, :process 15, :time 45967526221, :index 9981}
{:type :ok, :f :read, :value 3, :process 15, :time 45971763038, :index 9982}
{:type :invoke, :f :cas, :value [2 0], :process 53, :time 45997891395, :index 9990}
{:type :fail, :f :cas, :value [2 0], :process 53, :time 46002865465, :index 9991}
{:type :invoke, :f :cas, :value [2 4], :process 53, :time 46035124154, :index 10003}
{:type :fail, :f :cas, :value [2 4], :process 53, :time 46041355249, :index 10007}
{:type :invoke, :f :read, :value nil, :process 15, :time 46061048370, :index 10019}
{:type :ok, :f :read, :value 3, :process 15, :time 46065737417, :index 10021}
{:type :invoke, :f :cas, :value [1 4], :process 10, :time 46098011042, :index 10029}
{:type :invoke, :f :cas, :value [1 3], :process 31, :time 46099940343, :index 10030}
{:type :fail, :f :cas, :value [1 4], :process 10, :time 46102313109, :index 10031}
{:type :fail, :f :cas, :value [1 3], :process 31, :time 46105818602, :index 10033}
{:type :invoke, :f :cas, :value [3 2], :process 53, :time 46134589004, :index 10038}
{:type :invoke, :f :read, :value nil, :process 15, :time 46136989200, :index 10039}
{:type :invoke, :f :write, :value 3, :process 10, :time 46137566889, :index 10040}
{:type :ok, :f :cas, :value [3 2], :process 53, :time 46139650590, :index 10041}
{:type :ok, :f :read, :value 2, :process 15, :time 46142187605, :index 10042}
{:type :ok, :f :write, :value 3, :process 10, :time 46142774303, :index 10044}
{:type :invoke, :f :write, :value 1, :process 16, :time 46145468928, :index 10045}
{:type :invoke, :f :write, :value 1, :process 58, :time 46145884128, :index 10046}
{:type :ok, :f :write, :value 1, :process 16, :time 46150841057, :index 10048}
{:type :ok, :f :write, :value 1, :process 58, :time 46151084991, :index 10049}
{:type :invoke, :f :read, :value nil, :process 58, :time 46154329459, :index 10050}
{:type :ok, :f :read, :value 1, :process 58, :time 46159188836, :index 10051}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 46173014258, :index 10053}
{:type :invoke, :f :write, :value 0, :process 39, :time 46175923870, :index 10055}
{:type :fail, :f :cas, :value [0 1], :process 10, :time 46178961480, :index 10056}
{:type :ok, :f :write, :value 0, :process 39, :time 46182836674, :index 10057}
{:type :invoke, :f :write, :value 1, :process 16, :time 46183104517, :index 10058}
{:type :invoke, :f :read, :value nil, :process 37, :time 46183525777, :index 10059}
{:type :ok, :f :write, :value 1, :process 16, :time 46187849129, :index 10060}
{:type :ok, :f :read, :value 1, :process 37, :time 46189894521, :index 10061}
{:type :invoke, :f :read, :value nil, :process 37, :time 46196142347, :index 10062}
{:type :invoke, :f :cas, :value [2 3], :process 58, :time 46198446738, :index 10064}
{:type :ok, :f :read, :value 1, :process 37, :time 46201146916, :index 10065}
{:type :fail, :f :cas, :value [2 3], :process 58, :time 46204380017, :index 10067}
{:type :invoke, :f :read, :value nil, :process 10, :time 46208290790, :index 10069}
{:type :invoke, :f :cas, :value [1 0], :process 12, :time 46210325825, :index 10071}
{:type :ok, :f :read, :value 1, :process 10, :time 46213163728, :index 10073}
{:type :ok, :f :cas, :value [1 0], :process 12, :time 46215568010, :index 10075}
{:type :invoke, :f :write, :value 2, :process 39, :time 46220089306, :index 10076}
{:type :ok, :f :write, :value 2, :process 39, :time 46224469545, :index 10077}
{:type :invoke, :f :write, :value 1, :process 39, :time 46233733871, :index 10079}
{:type :invoke, :f :cas, :value [2 0], :process 54, :time 46236232171, :index 10082}
{:type :ok, :f :write, :value 1, :process 39, :time 46239552858, :index 10084}
{:type :fail, :f :cas, :value [2 0], :process 54, :time 46241719674, :index 10086}
{:type :invoke, :f :write, :value 4, :process 39, :time 46246814963, :index 10088}
{:type :ok, :f :write, :value 4, :process 39, :time 46251784789, :index 10091}
{:type :invoke, :f :read, :value nil, :process 54, :time 46267973878, :index 10096}
{:type :ok, :f :read, :value 4, :process 54, :time 46272993840, :index 10097}
{:type :invoke, :f :read, :value nil, :process 58, :time 46277635175, :index 10098}
{:type :ok, :f :read, :value 4, :process 58, :time 46282587399, :index 10099}
{:type :invoke, :f :read, :value nil, :process 53, :time 46285913796, :index 10101}
{:type :ok, :f :read, :value 4, :process 53, :time 46290933833, :index 10103}
{:type :invoke, :f :cas, :value [3 1], :process 16, :time 46300097833, :index 10105}
{:type :invoke, :f :write, :value 2, :process 31, :time 46305082939, :index 10107}
{:type :fail, :f :cas, :value [3 1], :process 16, :time 46305496041, :index 10108}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 46306443482, :index 10109}
{:type :ok, :f :write, :value 2, :process 31, :time 46310582537, :index 10110}
{:type :fail, :f :cas, :value [4 4], :process 10, :time 46311168230, :index 10111}
{:type :invoke, :f :write, :value 0, :process 37, :time 46311412817, :index 10112}
{:type :ok, :f :write, :value 0, :process 37, :time 46316653788, :index 10113}
{:type :invoke, :f :read, :value nil, :process 15, :time 46339447690, :index 10117}
{:type :invoke, :f :write, :value 1, :process 12, :time 46350772528, :index 10120}
{:type :ok, :f :read, :value 0, :process 15, :time 46355658985, :index 10122}
{:type :ok, :f :write, :value 1, :process 12, :time 46356413067, :index 10123}
{:type :invoke, :f :write, :value 0, :process 58, :time 46368869917, :index 10130}
{:type :invoke, :f :read, :value nil, :process 39, :time 46371050778, :index 10131}
{:type :ok, :f :write, :value 0, :process 58, :time 46374799470, :index 10133}
{:type :invoke, :f :cas, :value [0 1], :process 53, :time 46376198607, :index 10134}
{:type :ok, :f :read, :value 0, :process 39, :time 46376616601, :index 10135}
{:type :ok, :f :cas, :value [0 1], :process 53, :time 46381632666, :index 10137}
{:type :invoke, :f :write, :value 0, :process 58, :time 46396060872, :index 10143}
{:type :ok, :f :write, :value 0, :process 58, :time 46405370874, :index 10145}
{:type :invoke, :f :cas, :value [2 2], :process 12, :time 46431669139, :index 10149}
{:type :fail, :f :cas, :value [2 2], :process 12, :time 46438210563, :index 10152}
{:type :invoke, :f :write, :value 0, :process 37, :time 46445911938, :index 10154}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :ok, :f :write, :value 0, :process 37, :time 46451636274, :index 10156}
{:type :invoke, :f :cas, :value [3 4], :process 16, :time 46454742676, :index 10157}
{:type :invoke, :f :write, :value 0, :process 31, :time 46458911506, :index 10158}
{:type :invoke, :f :read, :value nil, :process 54, :time 46463250897, :index 10159}
{:type :invoke, :f :read, :value nil, :process 37, :time 46463960658, :index 10161}
{:type :invoke, :f :write, :value 3, :process 15, :time 46480913366, :index 10163}
{:type :invoke, :f :read, :value nil, :process 10, :time 46503345811, :index 10164}
{:type :invoke, :f :cas, :value [0 2], :process 58, :time 46505657487, :index 10166}
{:type :ok, :f :read, :value 3, :process 10, :time 46513802976, :index 10169}
{:type :ok, :f :write, :value 3, :process 15, :time 46514013046, :index 10170}
{:type :ok, :f :read, :value 0, :process 37, :time 46514588172, :index 10171}
{:type :ok, :f :read, :value 3, :process 54, :time 46515541390, :index 10174}
{:type :invoke, :f :read, :value nil, :process 39, :time 46515881594, :index 10175}
{:type :ok, :f :read, :value 3, :process 39, :time 46520878178, :index 10177}
{:type :invoke, :f :cas, :value [0 1], :process 37, :time 46526826288, :index 10178}
{:type :fail, :f :cas, :value [0 1], :process 37, :time 46533608842, :index 10180}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :invoke, :f :read, :value nil, :process 53, :time 46563932198, :index 10186}
{:type :invoke, :f :read, :value nil, :process 10, :time 46567085579, :index 10187}
{:type :ok, :f :read, :value 3, :process 10, :time 46572026904, :index 10188}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 46590286186, :index 10190}
{:type :fail, :f :cas, :value [2 1], :process 10, :time 46595231915, :index 10193}
{:type :invoke, :f :write, :value 1, :process 37, :time 46596947196, :index 10195}
{:type :invoke, :f :read, :value nil, :process 15, :time 46598377582, :index 10197}
{:type :invoke, :f :read, :value nil, :process 12, :time 46600509839, :index 10198}
{:type :ok, :f :write, :value 1, :process 37, :time 46603093933, :index 10199}
{:type :ok, :f :read, :value 1, :process 15, :time 46603402209, :index 10200}
{:type :ok, :f :read, :value 1, :process 12, :time 46607572766, :index 10202}
{:type :invoke, :f :cas, :value [4 2], :process 39, :time 46611141564, :index 10203}
{:type :invoke, :f :read, :value nil, :process 54, :time 46611785625, :index 10204}
{:type :fail, :f :cas, :value [4 2], :process 39, :time 46619044412, :index 10205}
{:type :ok, :f :read, :value 1, :process 54, :time 46619335898, :index 10206}
{:type :invoke, :f :write, :value 1, :process 10, :time 46646508453, :index 10211}
{:type :ok, :f :write, :value 1, :process 10, :time 46651101019, :index 10213}
{:type :invoke, :f :read, :value nil, :process 54, :time 46693573716, :index 10220}
{:type :ok, :f :read, :value 1, :process 54, :time 46698301409, :index 10223}
{:type :invoke, :f :read, :value nil, :process 39, :time 46770350776, :index 10232}
{:type :invoke, :f :write, :value 2, :process 10, :time 46771363683, :index 10233}
{:type :invoke, :f :read, :value nil, :process 54, :time 46775523846, :index 10234}
{:type :ok, :f :read, :value 1, :process 39, :time 46776393379, :index 10236}
{:type :ok, :f :write, :value 2, :process 10, :time 46776800721, :index 10237}
{:type :invoke, :f :write, :value 0, :process 37, :time 46781480065, :index 10239}
{:type :ok, :f :read, :value 2, :process 54, :time 46781808090, :index 10240}
{:type :invoke, :f :read, :value nil, :process 15, :time 46785636333, :index 10242}
{:type :ok, :f :write, :value 0, :process 37, :time 46787678819, :index 10243}
{:type :ok, :f :read, :value 0, :process 15, :time 46789975725, :index 10245}
{:type :invoke, :f :write, :value 1, :process 10, :time 46790109069, :index 10246}
{:type :ok, :f :write, :value 1, :process 10, :time 46794503488, :index 10247}
{:type :invoke, :f :read, :value nil, :process 10, :time 46796780432, :index 10248}
{:type :ok, :f :read, :value 1, :process 10, :time 46801467918, :index 10249}
{:type :invoke, :f :read, :value nil, :process 12, :time 46801825431, :index 10250}
{:type :ok, :f :read, :value 1, :process 12, :time 46806945405, :index 10252}
{:type :invoke, :f :read, :value nil, :process 10, :time 46813763279, :index 10256}
{:type :ok, :f :read, :value 1, :process 10, :time 46818401999, :index 10258}
{:type :invoke, :f :read, :value nil, :process 54, :time 46823050085, :index 10260}
{:type :ok, :f :read, :value 1, :process 54, :time 46827930048, :index 10261}
{:type :invoke, :f :write, :value 3, :process 37, :time 46848978940, :index 10262}
{:type :ok, :f :write, :value 3, :process 37, :time 46854080450, :index 10263}
{:type :invoke, :f :read, :value nil, :process 10, :time 46881693842, :index 10266}
{:type :ok, :f :read, :value 3, :process 10, :time 46886445071, :index 10267}
{:type :invoke, :f :cas, :value [4 1], :process 39, :time 46887668525, :index 10268}
{:type :fail, :f :cas, :value [4 1], :process 39, :time 46893988272, :index 10270}
{:type :invoke, :f :write, :value 3, :process 15, :time 46901190669, :index 10272}
{:type :invoke, :f :read, :value nil, :process 54, :time 46901189007, :index 10273}
{:type :invoke, :f :read, :value nil, :process 12, :time 46902206733, :index 10274}
{:type :ok, :f :read, :value 3, :process 54, :time 46908298752, :index 10275}
{:type :ok, :f :write, :value 3, :process 15, :time 46908802477, :index 10276}
{:type :ok, :f :read, :value 3, :process 12, :time 46909521885, :index 10277}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 46948035229, :index 10282}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 46952899683, :index 10283}
{:type :invoke, :f :read, :value nil, :process 54, :time 46962556977, :index 10284}
{:type :ok, :f :read, :value 3, :process 54, :time 46967709237, :index 10285}
{:type :invoke, :f :write, :value 3, :process 37, :time 47005342609, :index 10302}
{:type :ok, :f :write, :value 3, :process 37, :time 47010902902, :index 10303}
{:type :invoke, :f :cas, :value [3 3], :process 37, :time 47026155903, :index 10304}
{:type :ok, :f :cas, :value [3 3], :process 37, :time 47031638937, :index 10305}
{:type :invoke, :f :write, :value 0, :process 37, :time 47031778349, :index 10306}
{:type :ok, :f :write, :value 0, :process 37, :time 47036886959, :index 10309}
{:type :invoke, :f :read, :value nil, :process 10, :time 47054700901, :index 10312}
{:type :invoke, :f :read, :value nil, :process 12, :time 47058773852, :index 10313}
{:type :ok, :f :read, :value 0, :process 10, :time 47059766752, :index 10314}
{:type :ok, :f :read, :value 0, :process 12, :time 47063291633, :index 10315}
{:type :invoke, :f :cas, :value [3 2], :process 39, :time 47072219881, :index 10316}
{:type :fail, :f :cas, :value [3 2], :process 39, :time 47078150873, :index 10317}
{:type :invoke, :f :read, :value nil, :process 54, :time 47090932832, :index 10318}
{:type :invoke, :f :read, :value nil, :process 15, :time 47091170646, :index 10319}
{:type :ok, :f :read, :value 0, :process 15, :time 47096108547, :index 10320}
{:type :ok, :f :read, :value 0, :process 54, :time 47096972359, :index 10321}
{:type :invoke, :f :read, :value nil, :process 37, :time 47134155414, :index 10330}
{:type :ok, :f :read, :value 0, :process 37, :time 47140101478, :index 10333}
{:type :invoke, :f :read, :value nil, :process 10, :time 47215023402, :index 10343}
{:type :ok, :f :read, :value 0, :process 10, :time 47221031144, :index 10345}
{:type :invoke, :f :read, :value nil, :process 12, :time 47252556132, :index 10346}
{:type :invoke, :f :read, :value nil, :process 39, :time 47255415336, :index 10347}
{:type :ok, :f :read, :value 0, :process 12, :time 47258640965, :index 10348}
{:type :ok, :f :read, :value 0, :process 39, :time 47260152297, :index 10349}
{:type :invoke, :f :write, :value 2, :process 15, :time 47271387173, :index 10350}
{:type :ok, :f :write, :value 2, :process 15, :time 47276288415, :index 10351}
{:type :invoke, :f :write, :value 0, :process 54, :time 47278276436, :index 10352}
{:type :ok, :f :write, :value 0, :process 54, :time 47283056957, :index 10354}
{:type :invoke, :f :read, :value nil, :process 37, :time 47307412093, :index 10361}
{:type :ok, :f :read, :value 0, :process 37, :time 47313355611, :index 10365}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 47317290209, :index 10366}
{:type :fail, :f :cas, :value [2 1], :process 10, :time 47322580802, :index 10367}
{:type :invoke, :f :cas, :value [3 2], :process 54, :time 47333357734, :index 10370}
{:type :invoke, :f :write, :value 1, :process 12, :time 47334905743, :index 10371}
{:type :ok, :f :write, :value 1, :process 12, :time 47340854329, :index 10372}
{:type :fail, :f :cas, :value [3 2], :process 54, :time 47341220379, :index 10373}
{:type :invoke, :f :read, :value nil, :process 15, :time 47378548552, :index 10376}
{:type :ok, :f :read, :value 1, :process 15, :time 47383106798, :index 10377}
{:type :invoke, :f :cas, :value [3 3], :process 39, :time 47391437428, :index 10379}
{:type :fail, :f :cas, :value [3 3], :process 39, :time 47396979035, :index 10381}
{:type :invoke, :f :write, :value 3, :process 12, :time 47399129740, :index 10383}
{:type :ok, :f :write, :value 3, :process 12, :time 47405893241, :index 10385}
{:type :invoke, :f :read, :value nil, :process 37, :time 47426594711, :index 10387}
{:type :ok, :f :read, :value 3, :process 37, :time 47431766613, :index 10389}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 47455838097, :index 10392}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 47461021475, :index 10393}
{:type :info, :f :cas, :value [3 4], :process 16, :time 51460483567, :error :timeout, :index 11014}
{:type :info, :f :write, :value 0, :process 31, :time 51465606887, :error :timeout, :index 11015}
{:type :info, :f :cas, :value [0 2], :process 58, :time 51508940468, :error :timeout, :index 11033}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :fail, :f :read, :value nil, :process 53, :time 51568387678, :error :timeout, :index 11056}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
