{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :invoke, :f :cas, :value [4 3], :process 21, :time 56293584877, :index 19922}
{:type :fail, :f :cas, :value [4 3], :process 21, :time 56295472462, :error :connect, :index 19923}
{:type :invoke, :f :write, :value 3, :process 8, :time 56301992200, :index 19925}
{:type :fail, :f :write, :value 3, :process 8, :time 56303864315, :error :connect, :index 19927}
{:type :invoke, :f :cas, :value [2 4], :process 5, :time 56305939487, :index 19928}
{:type :fail, :f :cas, :value [2 4], :process 5, :time 56307981712, :error :connect, :index 19929}
{:type :invoke, :f :cas, :value [3 2], :process 21, :time 56351737878, :index 19945}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 56353253933, :index 19947}
{:type :fail, :f :cas, :value [3 2], :process 21, :time 56353859148, :error :connect, :index 19948}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 56355040598, :error :connect, :index 19949}
{:type :invoke, :f :read, :value nil, :process 8, :time 56372123677, :index 19954}
{:type :fail, :f :read, :value nil, :process 8, :time 56374216031, :error :connect, :index 19956}
{:type :invoke, :f :read, :value nil, :process 4, :time 56375310492, :index 19959}
{:type :fail, :f :read, :value nil, :process 4, :time 56377027460, :error :connect, :index 19961}
{:type :invoke, :f :write, :value 3, :process 22, :time 56391485054, :index 19962}
{:type :fail, :f :write, :value 3, :process 22, :time 56393645556, :error :connect, :index 19964}
{:type :invoke, :f :read, :value nil, :process 3, :time 56413804988, :index 19970}
{:type :fail, :f :read, :value nil, :process 3, :time 56415740412, :error :connect, :index 19971}
{:type :invoke, :f :read, :value nil, :process 22, :time 56416906728, :index 19972}
{:type :fail, :f :read, :value nil, :process 22, :time 56418774800, :error :connect, :index 19973}
{:type :invoke, :f :write, :value 1, :process 0, :time 56429094638, :index 19974}
{:type :fail, :f :write, :value 1, :process 0, :time 56430794262, :error :connect, :index 19976}
{:type :invoke, :f :write, :value 4, :process 5, :time 56439226068, :index 19978}
{:type :fail, :f :write, :value 4, :process 5, :time 56441010078, :error :connect, :index 19979}
{:type :invoke, :f :read, :value nil, :process 7, :time 56450859725, :index 19985}
{:type :fail, :f :read, :value nil, :process 7, :time 56452488837, :error :connect, :index 19987}
{:type :invoke, :f :write, :value 4, :process 29, :time 56459704697, :index 19989}
{:type :fail, :f :write, :value 4, :process 29, :time 56461498099, :error :connect, :index 19991}
{:type :invoke, :f :write, :value 2, :process 22, :time 56464031194, :index 19992}
{:type :fail, :f :write, :value 2, :process 22, :time 56465902570, :error :connect, :index 19993}
{:type :invoke, :f :cas, :value [1 0], :process 21, :time 56467155078, :index 19995}
{:type :fail, :f :cas, :value [1 0], :process 21, :time 56469360214, :error :connect, :index 19998}
{:type :invoke, :f :read, :value nil, :process 6, :time 56498462918, :index 20002}
{:type :invoke, :f :read, :value nil, :process 8, :time 56498474961, :index 20003}
{:type :fail, :f :read, :value nil, :process 8, :time 56500364101, :error :connect, :index 20004}
{:type :fail, :f :read, :value nil, :process 6, :time 56500568836, :error :connect, :index 20005}
{:type :invoke, :f :write, :value 3, :process 6, :time 56501838826, :index 20006}
{:type :fail, :f :write, :value 3, :process 6, :time 56503667214, :error :connect, :index 20008}
{:type :invoke, :f :write, :value 1, :process 7, :time 56503764505, :index 20009}
{:type :fail, :f :write, :value 1, :process 7, :time 56505521791, :error :connect, :index 20011}
{:type :invoke, :f :read, :value nil, :process 7, :time 56514775003, :index 20012}
{:type :fail, :f :read, :value nil, :process 7, :time 56516599969, :error :connect, :index 20014}
{:type :invoke, :f :read, :value nil, :process 8, :time 56520631027, :index 20016}
{:type :invoke, :f :read, :value nil, :process 4, :time 56521269417, :index 20017}
{:type :fail, :f :read, :value nil, :process 8, :time 56522282759, :error :connect, :index 20018}
{:type :fail, :f :read, :value nil, :process 4, :time 56523127909, :error :connect, :index 20020}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 56523586753, :index 20022}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 56525363745, :error :connect, :index 20024}
{:type :invoke, :f :read, :value nil, :process 6, :time 56545942662, :index 20030}
{:type :invoke, :f :read, :value nil, :process 4, :time 56546379903, :index 20031}
{:type :fail, :f :read, :value nil, :process 6, :time 56547740575, :error :connect, :index 20032}
{:type :fail, :f :read, :value nil, :process 4, :time 56548196142, :error :connect, :index 20033}
{:type :invoke, :f :read, :value nil, :process 29, :time 56569770601, :index 20041}
{:type :fail, :f :read, :value nil, :process 29, :time 56571754413, :error :connect, :index 20043}
{:type :invoke, :f :read, :value nil, :process 0, :time 56581087313, :index 20044}
{:type :fail, :f :read, :value nil, :process 0, :time 56583156978, :error :connect, :index 20045}
{:type :invoke, :f :read, :value nil, :process 22, :time 56593139843, :index 20046}
{:type :fail, :f :read, :value nil, :process 22, :time 56595062574, :error :connect, :index 20048}
{:type :invoke, :f :write, :value 1, :process 3, :time 56600010125, :index 20050}
{:type :fail, :f :write, :value 1, :process 3, :time 56601808178, :error :connect, :index 20051}
{:type :invoke, :f :read, :value nil, :process 5, :time 56604281371, :index 20053}
{:type :invoke, :f :read, :value nil, :process 29, :time 56606034670, :index 20054}
{:type :fail, :f :read, :value nil, :process 5, :time 56606645351, :error :connect, :index 20056}
{:type :fail, :f :read, :value nil, :process 29, :time 56608019360, :error :connect, :index 20057}
{:type :invoke, :f :cas, :value [1 2], :process 22, :time 56625320767, :index 20060}
{:type :fail, :f :cas, :value [1 2], :process 22, :time 56627168917, :error :connect, :index 20061}
{:type :invoke, :f :write, :value 0, :process 21, :time 56634622024, :index 20062}
{:type :fail, :f :write, :value 0, :process 21, :time 56636475026, :error :connect, :index 20063}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 56663073336, :index 20073}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 56664751020, :error :connect, :index 20075}
{:type :invoke, :f :read, :value nil, :process 21, :time 56668736126, :index 20076}
{:type :fail, :f :read, :value nil, :process 21, :time 56670915413, :error :connect, :index 20077}
{:type :invoke, :f :read, :value nil, :process 7, :time 56682864827, :index 20081}
{:type :fail, :f :read, :value nil, :process 7, :time 56685047667, :error :connect, :index 20083}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 56698006732, :index 20084}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 56699845824, :error :connect, :index 20085}
{:type :invoke, :f :write, :value 2, :process 8, :time 56714616548, :index 20089}
{:type :invoke, :f :write, :value 0, :process 5, :time 56714922051, :index 20090}
{:type :fail, :f :write, :value 2, :process 8, :time 56716565802, :error :connect, :index 20092}
{:type :fail, :f :write, :value 0, :process 5, :time 56717062319, :error :connect, :index 20093}
{:type :invoke, :f :cas, :value [4 1], :process 5, :time 56717171939, :index 20094}
{:type :fail, :f :cas, :value [4 1], :process 5, :time 56718991469, :error :connect, :index 20095}
{:type :invoke, :f :read, :value nil, :process 4, :time 56719434094, :index 20096}
{:type :fail, :f :read, :value nil, :process 4, :time 56721418523, :error :connect, :index 20097}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 56745267352, :index 20104}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 56747082892, :error :connect, :index 20105}
{:type :invoke, :f :read, :value nil, :process 29, :time 56747278750, :index 20106}
{:type :fail, :f :read, :value nil, :process 29, :time 56749071861, :error :connect, :index 20107}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 56775461269, :index 20113}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 56777526466, :error :connect, :index 20114}
{:type :invoke, :f :cas, :value [1 2], :process 21, :time 56779139574, :index 20115}
{:type :fail, :f :cas, :value [1 2], :process 21, :time 56781398493, :error :connect, :index 20116}
{:type :invoke, :f :read, :value nil, :process 4, :time 56783678429, :index 20118}
{:type :fail, :f :read, :value nil, :process 4, :time 56785617737, :error :connect, :index 20120}
{:type :invoke, :f :write, :value 4, :process 7, :time 56794311362, :index 20124}
{:type :fail, :f :write, :value 4, :process 7, :time 56796263104, :error :connect, :index 20126}
{:type :invoke, :f :cas, :value [2 4], :process 22, :time 56811450201, :index 20128}
{:type :fail, :f :cas, :value [2 4], :process 22, :time 56813711522, :error :connect, :index 20130}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 56823030593, :index 20135}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 56825118961, :error :connect, :index 20137}
{:type :invoke, :f :write, :value 3, :process 21, :time 56829679165, :index 20139}
{:type :fail, :f :write, :value 3, :process 21, :time 56831696319, :error :connect, :index 20140}
{:type :invoke, :f :read, :value nil, :process 6, :time 56859110836, :index 20153}
{:type :fail, :f :read, :value nil, :process 6, :time 56860754053, :error :connect, :index 20154}
{:type :invoke, :f :write, :value 3, :process 7, :time 56880547301, :index 20155}
{:type :fail, :f :write, :value 3, :process 7, :time 56882858987, :error :connect, :index 20156}
{:type :invoke, :f :write, :value 2, :process 8, :time 56882877881, :index 20157}
{:type :fail, :f :write, :value 2, :process 8, :time 56884600221, :error :connect, :index 20158}
{:type :invoke, :f :read, :value nil, :process 5, :time 56887352116, :index 20159}
{:type :fail, :f :read, :value nil, :process 5, :time 56889383455, :error :connect, :index 20160}
{:type :invoke, :f :cas, :value [4 2], :process 29, :time 56911339215, :index 20165}
{:type :fail, :f :cas, :value [4 2], :process 29, :time 56913412716, :error :connect, :index 20167}
{:type :invoke, :f :cas, :value [4 2], :process 22, :time 56930983449, :index 20173}
{:type :fail, :f :cas, :value [4 2], :process 22, :time 56933838681, :error :connect, :index 20176}
{:type :invoke, :f :read, :value nil, :process 8, :time 56936876048, :index 20181}
{:type :fail, :f :read, :value nil, :process 8, :time 56938929323, :error :connect, :index 20183}
{:type :invoke, :f :write, :value 4, :process 0, :time 56940086530, :index 20185}
{:type :fail, :f :write, :value 4, :process 0, :time 56942204617, :error :connect, :index 20186}
{:type :invoke, :f :write, :value 4, :process 4, :time 56945523127, :index 20188}
{:type :fail, :f :write, :value 4, :process 4, :time 56947480642, :error :connect, :index 20191}
{:type :invoke, :f :write, :value 1, :process 7, :time 56957155879, :index 20195}
{:type :fail, :f :write, :value 1, :process 7, :time 56959323325, :error :connect, :index 20196}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 57015401429, :index 20205}
{:type :invoke, :f :read, :value nil, :process 4, :time 57016143219, :index 20206}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 57017291478, :error :connect, :index 20207}
{:type :fail, :f :read, :value nil, :process 4, :time 57018283195, :error :connect, :index 20208}
{:type :invoke, :f :write, :value 0, :process 6, :time 57020022743, :index 20209}
{:type :invoke, :f :cas, :value [3 2], :process 22, :time 57021126996, :index 20211}
{:type :fail, :f :write, :value 0, :process 6, :time 57021875182, :error :connect, :index 20212}
{:type :invoke, :f :cas, :value [0 2], :process 21, :time 57022973602, :index 20214}
{:type :fail, :f :cas, :value [3 2], :process 22, :time 57023162033, :error :connect, :index 20215}
{:type :fail, :f :cas, :value [0 2], :process 21, :time 57025075950, :error :connect, :index 20216}
{:type :invoke, :f :read, :value nil, :process 5, :time 57037656243, :index 20221}
{:type :fail, :f :read, :value nil, :process 5, :time 57039820205, :error :connect, :index 20222}
{:type :invoke, :f :cas, :value [2 4], :process 29, :time 57041748601, :index 20223}
{:type :fail, :f :cas, :value [2 4], :process 29, :time 57043904026, :error :connect, :index 20224}
{:type :invoke, :f :cas, :value [4 0], :process 22, :time 57056411405, :index 20227}
{:type :fail, :f :cas, :value [4 0], :process 22, :time 57058430114, :error :connect, :index 20228}
{:type :invoke, :f :cas, :value [1 0], :process 5, :time 57067088963, :index 20229}
{:type :invoke, :f :write, :value 4, :process 0, :time 57068478719, :index 20230}
{:type :fail, :f :cas, :value [1 0], :process 5, :time 57069497976, :error :connect, :index 20232}
{:type :fail, :f :write, :value 4, :process 0, :time 57070499887, :error :connect, :index 20233}
{:type :invoke, :f :write, :value 1, :process 3, :time 57093586338, :index 20237}
{:type :invoke, :f :cas, :value [1 1], :process 6, :time 57095144463, :index 20238}
{:type :fail, :f :write, :value 1, :process 3, :time 57095544942, :error :connect, :index 20239}
{:type :invoke, :f :read, :value nil, :process 3, :time 57095796901, :index 20240}
{:type :fail, :f :cas, :value [1 1], :process 6, :time 57097496770, :error :connect, :index 20242}
{:type :fail, :f :read, :value nil, :process 3, :time 57097905047, :error :connect, :index 20243}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 57103610370, :index 20247}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 57105444816, :error :connect, :index 20248}
{:type :invoke, :f :read, :value nil, :process 8, :time 57125195139, :index 20255}
{:type :fail, :f :read, :value nil, :process 8, :time 57126838394, :error :connect, :index 20256}
{:type :invoke, :f :write, :value 0, :process 4, :time 57134557777, :index 20257}
{:type :fail, :f :write, :value 0, :process 4, :time 57136515840, :error :connect, :index 20258}
{:type :invoke, :f :read, :value nil, :process 0, :time 57158880888, :index 20265}
{:type :fail, :f :read, :value nil, :process 0, :time 57160456377, :error :connect, :index 20266}
{:type :invoke, :f :read, :value nil, :process 29, :time 57181194803, :index 20269}
{:type :fail, :f :read, :value nil, :process 29, :time 57183175269, :error :connect, :index 20270}
{:type :invoke, :f :write, :value 0, :process 29, :time 57188442895, :index 20271}
{:type :fail, :f :write, :value 0, :process 29, :time 57190210978, :error :connect, :index 20273}
{:type :invoke, :f :cas, :value [4 3], :process 21, :time 57198348990, :index 20277}
{:type :fail, :f :cas, :value [4 3], :process 21, :time 57199945841, :error :connect, :index 20278}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 57202721418, :index 20279}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 57204540282, :error :connect, :index 20280}
{:type :invoke, :f :cas, :value [0 1], :process 3, :time 57210164497, :index 20281}
{:type :fail, :f :cas, :value [0 1], :process 3, :time 57212244079, :error :connect, :index 20282}
{:type :invoke, :f :cas, :value [1 4], :process 5, :time 57223798650, :index 20287}
{:type :fail, :f :cas, :value [1 4], :process 5, :time 57225351221, :error :connect, :index 20288}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 57234734331, :index 20291}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 57236640962, :error :connect, :index 20293}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 57236781813, :index 20294}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 57238518834, :error :connect, :index 20297}
{:type :invoke, :f :cas, :value [2 0], :process 7, :time 57248715069, :index 20303}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 57248784020, :index 20304}
{:type :invoke, :f :cas, :value [2 3], :process 21, :time 57249406847, :index 20305}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 57250781488, :error :connect, :index 20306}
{:type :fail, :f :cas, :value [2 0], :process 7, :time 57250800013, :error :connect, :index 20307}
{:type :fail, :f :cas, :value [2 3], :process 21, :time 57251096807, :error :connect, :index 20308}
{:type :invoke, :f :write, :value 1, :process 22, :time 57254744505, :index 20312}
{:type :fail, :f :write, :value 1, :process 22, :time 57256512266, :error :connect, :index 20314}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 57288065592, :index 20321}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 57290096528, :error :connect, :index 20322}
{:type :invoke, :f :read, :value nil, :process 8, :time 57307110177, :index 20325}
{:type :fail, :f :read, :value nil, :process 8, :time 57308773165, :error :connect, :index 20327}
{:type :invoke, :f :read, :value nil, :process 5, :time 57311616953, :index 20329}
{:type :fail, :f :read, :value nil, :process 5, :time 57313183295, :error :connect, :index 20330}
{:type :invoke, :f :read, :value nil, :process 3, :time 57313532263, :index 20331}
{:type :fail, :f :read, :value nil, :process 3, :time 57315164856, :error :connect, :index 20332}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 57327910210, :index 20335}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 57329984801, :error :connect, :index 20337}
{:type :invoke, :f :cas, :value [1 3], :process 29, :time 57341487705, :index 20339}
{:type :fail, :f :cas, :value [1 3], :process 29, :time 57343327231, :error :connect, :index 20340}
{:type :invoke, :f :read, :value nil, :process 21, :time 57359436650, :index 20344}
{:type :fail, :f :read, :value nil, :process 21, :time 57361203127, :error :connect, :index 20347}
{:type :invoke, :f :read, :value nil, :process 7, :time 57375394199, :index 20356}
{:type :fail, :f :read, :value nil, :process 7, :time 57376978759, :error :connect, :index 20358}
{:type :invoke, :f :read, :value nil, :process 22, :time 57404763176, :index 20373}
{:type :fail, :f :read, :value nil, :process 22, :time 57406901651, :error :connect, :index 20375}
{:type :invoke, :f :read, :value nil, :process 4, :time 57420789951, :index 20381}
{:type :fail, :f :read, :value nil, :process 4, :time 57422578455, :error :connect, :index 20383}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
