{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :invoke, :f :write, :value 0, :process 26, :time 41401429994, :index 8791}
{:type :ok, :f :write, :value 0, :process 26, :time 41408082976, :index 8794}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :invoke, :f :cas, :value [1 0], :process 26, :time 41449361530, :index 8806}
{:type :fail, :f :cas, :value [1 0], :process 26, :time 41455921510, :index 8809}
{:type :invoke, :f :cas, :value [0 0], :process 47, :time 41456074983, :index 8810}
{:type :ok, :f :cas, :value [0 0], :process 47, :time 41462803057, :index 8811}
{:type :invoke, :f :cas, :value [2 1], :process 22, :time 41488422193, :index 8815}
{:type :fail, :f :cas, :value [2 1], :process 22, :time 41494639393, :index 8819}
{:type :invoke, :f :read, :value nil, :process 47, :time 41552109976, :index 8831}
{:type :ok, :f :read, :value 0, :process 47, :time 41557499847, :index 8833}
{:type :invoke, :f :cas, :value [0 2], :process 1, :time 41566982182, :index 8834}
{:type :ok, :f :cas, :value [0 2], :process 1, :time 41572387393, :index 8835}
{:type :invoke, :f :read, :value nil, :process 0, :time 41589138503, :index 8839}
{:type :ok, :f :read, :value 2, :process 0, :time 41593690679, :index 8841}
{:type :invoke, :f :read, :value nil, :process 26, :time 41603204419, :index 8842}
{:type :ok, :f :read, :value 2, :process 26, :time 41609794632, :index 8844}
{:type :invoke, :f :read, :value nil, :process 26, :time 41625078315, :index 8846}
{:type :ok, :f :read, :value 2, :process 26, :time 41630091329, :index 8848}
{:type :invoke, :f :cas, :value [3 4], :process 26, :time 41631377511, :index 8849}
{:type :fail, :f :cas, :value [3 4], :process 26, :time 41637260384, :index 8851}
{:type :invoke, :f :read, :value nil, :process 22, :time 41644906830, :index 8853}
{:type :ok, :f :read, :value 2, :process 22, :time 41650493004, :index 8855}
{:type :invoke, :f :write, :value 4, :process 26, :time 41656545976, :index 8857}
{:type :ok, :f :write, :value 4, :process 26, :time 41661556113, :index 8859}
{:type :invoke, :f :write, :value 2, :process 5, :time 41667026554, :index 8861}
{:type :ok, :f :write, :value 2, :process 5, :time 41673307940, :index 8863}
{:type :invoke, :f :cas, :value [0 0], :process 26, :time 41679862443, :index 8864}
{:type :fail, :f :cas, :value [0 0], :process 26, :time 41685232668, :index 8865}
{:type :invoke, :f :cas, :value [1 2], :process 47, :time 41692872362, :index 8868}
{:type :invoke, :f :write, :value 2, :process 22, :time 41696737636, :index 8869}
{:type :fail, :f :cas, :value [1 2], :process 47, :time 41698991113, :index 8870}
{:type :ok, :f :write, :value 2, :process 22, :time 41701757717, :index 8871}
{:type :invoke, :f :read, :value nil, :process 22, :time 41714055006, :index 8872}
{:type :invoke, :f :cas, :value [1 1], :process 47, :time 41716218573, :index 8873}
{:type :ok, :f :read, :value 2, :process 22, :time 41719940367, :index 8875}
{:type :fail, :f :cas, :value [1 1], :process 47, :time 41726495948, :index 8876}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 41728972385, :index 8878}
{:type :invoke, :f :write, :value 4, :process 5, :time 41730593526, :index 8879}
{:type :ok, :f :write, :value 4, :process 5, :time 41736896620, :index 8881}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 41737697469, :index 8882}
{:type :invoke, :f :read, :value nil, :process 1, :time 41753682047, :index 8888}
{:type :ok, :f :read, :value 4, :process 1, :time 41759107071, :index 8889}
{:type :invoke, :f :read, :value nil, :process 22, :time 41767235217, :index 8890}
{:type :ok, :f :read, :value 4, :process 22, :time 41773275026, :index 8892}
{:type :invoke, :f :read, :value nil, :process 47, :time 41816805366, :index 8904}
{:type :ok, :f :read, :value 4, :process 47, :time 41822022880, :index 8905}
{:type :invoke, :f :write, :value 2, :process 0, :time 41828985817, :index 8906}
{:type :ok, :f :write, :value 2, :process 0, :time 41835571950, :index 8907}
{:type :invoke, :f :write, :value 2, :process 0, :time 41850870127, :index 8908}
{:type :ok, :f :write, :value 2, :process 0, :time 41856078564, :index 8909}
{:type :invoke, :f :write, :value 0, :process 1, :time 41856389272, :index 8910}
{:type :ok, :f :write, :value 0, :process 1, :time 41861472482, :index 8911}
{:type :invoke, :f :write, :value 0, :process 26, :time 41865535080, :index 8912}
{:type :ok, :f :write, :value 0, :process 26, :time 41870366760, :index 8913}
{:type :invoke, :f :write, :value 0, :process 47, :time 41885316099, :index 8916}
{:type :ok, :f :write, :value 0, :process 47, :time 41891822341, :index 8917}
{:type :invoke, :f :read, :value nil, :process 47, :time 41892045744, :index 8918}
{:type :invoke, :f :cas, :value [0 1], :process 22, :time 41894570271, :index 8919}
{:type :ok, :f :read, :value 0, :process 47, :time 41897718212, :index 8920}
{:type :ok, :f :cas, :value [0 1], :process 22, :time 41900342106, :index 8921}
{:type :invoke, :f :read, :value nil, :process 1, :time 41902756670, :index 8922}
{:type :invoke, :f :write, :value 0, :process 5, :time 41904214484, :index 8923}
{:type :ok, :f :read, :value 1, :process 1, :time 41908985469, :index 8924}
{:type :ok, :f :write, :value 0, :process 5, :time 41909433670, :index 8925}
{:type :invoke, :f :write, :value 0, :process 0, :time 41917486538, :index 8928}
{:type :ok, :f :write, :value 0, :process 0, :time 41922123252, :index 8929}
{:type :invoke, :f :write, :value 1, :process 0, :time 41951421201, :index 8933}
{:type :invoke, :f :write, :value 2, :process 26, :time 41963667144, :index 8935}
{:type :invoke, :f :read, :value nil, :process 47, :time 41997098857, :index 8937}
{:type :invoke, :f :write, :value 2, :process 22, :time 41997856867, :index 8938}
{:type :invoke, :f :write, :value 4, :process 5, :time 42060694152, :index 8940}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 42068338865, :index 8941}
{:type :ok, :f :write, :value 4, :process 5, :time 42120042865, :index 8943}
{:type :ok, :f :write, :value 1, :process 0, :time 42120405915, :index 8944}
{:type :ok, :f :cas, :value [4 0], :process 1, :time 42121835084, :index 8948}
{:type :ok, :f :read, :value 0, :process 47, :time 42122481249, :index 8950}
{:type :ok, :f :write, :value 2, :process 26, :time 42122800609, :index 8951}
{:type :ok, :f :write, :value 2, :process 22, :time 42123535683, :index 8953}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 42124789513, :index 8954}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 42140428521, :index 8956}
{:type :invoke, :f :write, :value 1, :process 47, :time 42236780031, :index 8962}
{:type :invoke, :f :write, :value 4, :process 0, :time 42257672420, :index 8963}
{:type :invoke, :f :cas, :value [1 3], :process 5, :time 42268368156, :index 8965}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 42281738022, :index 8966}
{:type :invoke, :f :cas, :value [2 3], :process 26, :time 42294069043, :index 8967}
{:type :invoke, :f :read, :value nil, :process 1, :time 42318107989, :index 8968}
{:type :fail, :f :cas, :value [1 3], :process 5, :time 43338865160, :index 8972}
{:type :ok, :f :write, :value 4, :process 0, :time 43339875546, :index 8975}
{:type :fail, :f :cas, :value [0 4], :process 22, :time 43340736285, :index 8976}
{:type :ok, :f :write, :value 1, :process 47, :time 43341430671, :index 8978}
{:type :fail, :f :cas, :value [2 3], :process 26, :time 43342258279, :index 8979}
{:type :ok, :f :read, :value 4, :process 1, :time 43342589907, :index 8980}
{:type :invoke, :f :read, :value nil, :process 1, :time 43357847405, :index 8992}
{:type :ok, :f :read, :value 1, :process 1, :time 43365194909, :index 8995}
{:type :invoke, :f :read, :value nil, :process 0, :time 43383330850, :index 9000}
{:type :ok, :f :read, :value 1, :process 0, :time 43388457726, :index 9001}
{:type :invoke, :f :cas, :value [3 2], :process 48, :time 43418298089, :index 9009}
{:type :fail, :f :cas, :value [3 2], :process 48, :time 43423878163, :index 9011}
{:type :invoke, :f :cas, :value [1 0], :process 24, :time 43433984491, :index 9013}
{:type :invoke, :f :read, :value nil, :process 43, :time 43435868345, :index 9015}
{:type :ok, :f :cas, :value [1 0], :process 24, :time 43441167989, :index 9017}
{:type :ok, :f :read, :value 0, :process 43, :time 43445441728, :index 9019}
{:type :invoke, :f :read, :value nil, :process 24, :time 43471444777, :index 9025}
{:type :invoke, :f :read, :value nil, :process 0, :time 43473740891, :index 9026}
{:type :invoke, :f :write, :value 2, :process 5, :time 43477193464, :index 9027}
{:type :ok, :f :read, :value 0, :process 24, :time 43478831723, :index 9029}
{:type :ok, :f :read, :value 0, :process 0, :time 43479166966, :index 9030}
{:type :invoke, :f :cas, :value [2 1], :process 29, :time 43481652709, :index 9031}
{:type :ok, :f :write, :value 2, :process 5, :time 43482526694, :index 9032}
{:type :invoke, :f :cas, :value [3 0], :process 26, :time 43485537180, :index 9033}
{:type :ok, :f :cas, :value [2 1], :process 29, :time 43487182600, :index 9034}
{:type :invoke, :f :read, :value nil, :process 22, :time 43487339205, :index 9035}
{:type :fail, :f :cas, :value [3 0], :process 26, :time 43493197969, :index 9036}
{:type :ok, :f :read, :value 1, :process 22, :time 43493485057, :index 9037}
{:type :invoke, :f :cas, :value [4 1], :process 26, :time 43502463134, :index 9041}
{:type :fail, :f :cas, :value [4 1], :process 26, :time 43508093562, :index 9043}
{:type :invoke, :f :write, :value 0, :process 47, :time 43528697128, :index 9050}
{:type :ok, :f :write, :value 0, :process 47, :time 43534655736, :index 9053}
{:type :invoke, :f :write, :value 4, :process 1, :time 43535495749, :index 9054}
{:type :ok, :f :write, :value 4, :process 1, :time 43540515769, :index 9055}
{:type :invoke, :f :read, :value nil, :process 5, :time 43561788797, :index 9063}
{:type :ok, :f :read, :value 4, :process 5, :time 43566481622, :index 9065}
{:type :invoke, :f :cas, :value [4 2], :process 48, :time 43568132166, :index 9066}
{:type :ok, :f :cas, :value [4 2], :process 48, :time 43573759192, :index 9068}
{:type :invoke, :f :write, :value 4, :process 22, :time 43595711234, :index 9075}
{:type :ok, :f :write, :value 4, :process 22, :time 43601233030, :index 9077}
{:type :invoke, :f :cas, :value [3 4], :process 22, :time 43606493741, :index 9078}
{:type :fail, :f :cas, :value [3 4], :process 22, :time 43612027629, :index 9079}
{:type :invoke, :f :cas, :value [2 0], :process 29, :time 43615463518, :index 9081}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 43621420558, :index 9083}
{:type :invoke, :f :read, :value nil, :process 43, :time 43622145926, :index 9084}
{:type :fail, :f :cas, :value [2 0], :process 29, :time 43623436917, :index 9086}
{:type :ok, :f :read, :value 4, :process 43, :time 43628273662, :index 9090}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 43629055826, :index 9091}
{:type :invoke, :f :write, :value 0, :process 24, :time 43643116302, :index 9096}
{:type :ok, :f :write, :value 0, :process 24, :time 43647687576, :index 9097}
{:type :invoke, :f :write, :value 4, :process 1, :time 43674786526, :index 9104}
{:type :invoke, :f :write, :value 1, :process 24, :time 43675953919, :index 9105}
{:type :ok, :f :write, :value 4, :process 1, :time 43680519385, :index 9106}
{:type :ok, :f :write, :value 1, :process 24, :time 43681749350, :index 9107}
{:type :invoke, :f :read, :value nil, :process 47, :time 43686940950, :index 9108}
{:type :ok, :f :read, :value 1, :process 47, :time 43692643856, :index 9109}
{:type :invoke, :f :cas, :value [0 4], :process 29, :time 43696717980, :index 9112}
{:type :fail, :f :cas, :value [0 4], :process 29, :time 43703616068, :index 9116}
{:type :invoke, :f :cas, :value [4 4], :process 26, :time 43703785024, :index 9117}
{:type :fail, :f :cas, :value [4 4], :process 26, :time 43709402034, :index 9119}
{:type :invoke, :f :write, :value 1, :process 43, :time 43722547055, :index 9124}
{:type :invoke, :f :cas, :value [3 4], :process 1, :time 43724822204, :index 9125}
{:type :invoke, :f :write, :value 4, :process 48, :time 43725044006, :index 9126}
{:type :invoke, :f :cas, :value [4 2], :process 22, :time 43725744540, :index 9128}
{:type :ok, :f :write, :value 1, :process 43, :time 43727936647, :index 9129}
{:type :fail, :f :cas, :value [3 4], :process 1, :time 43730562522, :index 9130}
{:type :ok, :f :write, :value 4, :process 48, :time 43731450509, :index 9131}
{:type :invoke, :f :cas, :value [2 0], :process 47, :time 43731925674, :index 9133}
{:type :ok, :f :cas, :value [4 2], :process 22, :time 43732297086, :index 9134}
{:type :ok, :f :cas, :value [2 0], :process 47, :time 43736878188, :index 9135}
{:type :invoke, :f :write, :value 1, :process 1, :time 43752864305, :index 9140}
{:type :ok, :f :write, :value 1, :process 1, :time 43758204414, :index 9142}
{:type :invoke, :f :read, :value nil, :process 5, :time 43764729255, :index 9144}
{:type :ok, :f :read, :value 1, :process 5, :time 43769983051, :index 9146}
{:type :invoke, :f :write, :value 4, :process 1, :time 43785553909, :index 9150}
{:type :ok, :f :write, :value 4, :process 1, :time 43790603621, :index 9152}
{:type :invoke, :f :write, :value 0, :process 29, :time 43802900175, :index 9157}
{:type :ok, :f :write, :value 0, :process 29, :time 43808292433, :index 9161}
{:type :invoke, :f :read, :value nil, :process 43, :time 43814253542, :index 9165}
{:type :invoke, :f :cas, :value [4 3], :process 26, :time 43818676175, :index 9167}
{:type :ok, :f :read, :value 0, :process 43, :time 43819817745, :index 9168}
{:type :invoke, :f :read, :value nil, :process 0, :time 43822384641, :index 9169}
{:type :fail, :f :cas, :value [4 3], :process 26, :time 43823933964, :index 9170}
{:type :invoke, :f :cas, :value [2 1], :process 29, :time 43824560733, :index 9171}
{:type :invoke, :f :write, :value 3, :process 22, :time 43825549302, :index 9172}
{:type :ok, :f :read, :value 0, :process 0, :time 43826583364, :index 9173}
{:type :fail, :f :cas, :value [2 1], :process 29, :time 43829666891, :index 9174}
{:type :invoke, :f :write, :value 4, :process 5, :time 43830262383, :index 9175}
{:type :ok, :f :write, :value 3, :process 22, :time 43830586974, :index 9176}
{:type :invoke, :f :cas, :value [3 1], :process 24, :time 43831034615, :index 9177}
{:type :ok, :f :write, :value 4, :process 5, :time 43835408504, :index 9178}
{:type :fail, :f :cas, :value [3 1], :process 24, :time 43836527878, :index 9179}
{:type :invoke, :f :write, :value 3, :process 48, :time 43854749560, :index 9183}
{:type :ok, :f :write, :value 3, :process 48, :time 43859607560, :index 9185}
{:type :invoke, :f :cas, :value [0 2], :process 48, :time 43887859839, :index 9190}
{:type :invoke, :f :write, :value 1, :process 43, :time 43890076703, :index 9191}
{:type :fail, :f :cas, :value [0 2], :process 48, :time 43893316638, :index 9193}
{:type :ok, :f :write, :value 1, :process 43, :time 43894546154, :index 9194}
{:type :invoke, :f :write, :value 3, :process 24, :time 43899803273, :index 9198}
{:type :ok, :f :write, :value 3, :process 24, :time 43905039200, :index 9201}
{:type :invoke, :f :write, :value 0, :process 47, :time 43928198507, :index 9212}
{:type :ok, :f :write, :value 0, :process 47, :time 43933728964, :index 9213}
{:type :invoke, :f :cas, :value [4 1], :process 5, :time 43943670138, :index 9217}
{:type :fail, :f :cas, :value [4 1], :process 5, :time 43948507267, :index 9220}
{:type :invoke, :f :read, :value nil, :process 0, :time 43965838638, :index 9222}
{:type :invoke, :f :cas, :value [1 3], :process 1, :time 43965873932, :index 9223}
{:type :ok, :f :read, :value 0, :process 0, :time 43970705364, :index 9224}
{:type :fail, :f :cas, :value [1 3], :process 1, :time 43971855298, :index 9225}
{:type :invoke, :f :cas, :value [3 1], :process 26, :time 44013236300, :index 9235}
{:type :fail, :f :cas, :value [3 1], :process 26, :time 44018359849, :index 9238}
{:type :invoke, :f :cas, :value [4 3], :process 29, :time 44019949732, :index 9239}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 44020825992, :index 9240}
{:type :fail, :f :cas, :value [4 3], :process 29, :time 44025605755, :index 9242}
{:type :ok, :f :cas, :value [0 2], :process 22, :time 44025741997, :index 9243}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
