{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
{:type :invoke, :f :write, :value 3, :process 21, :time 59302050838, :index 21131}
{:type :fail, :f :write, :value 3, :process 21, :time 59303887354, :error :connect, :index 21135}
{:type :invoke, :f :cas, :value [0 0], :process 5, :time 59327812227, :index 21148}
{:type :fail, :f :cas, :value [0 0], :process 5, :time 59329709963, :error :connect, :index 21149}
{:type :invoke, :f :read, :value nil, :process 5, :time 59333976151, :index 21151}
{:type :fail, :f :read, :value nil, :process 5, :time 59335770317, :error :connect, :index 21153}
{:type :invoke, :f :read, :value nil, :process 3, :time 59346679179, :index 21154}
{:type :fail, :f :read, :value nil, :process 3, :time 59348316532, :error :connect, :index 21155}
{:type :invoke, :f :read, :value nil, :process 4, :time 59365648359, :index 21158}
{:type :fail, :f :read, :value nil, :process 4, :time 59367284965, :error :connect, :index 21159}
{:type :invoke, :f :read, :value nil, :process 21, :time 59389186745, :index 21167}
{:type :fail, :f :read, :value nil, :process 21, :time 59391244600, :error :connect, :index 21170}
{:type :invoke, :f :write, :value 1, :process 22, :time 59391742265, :index 21172}
{:type :fail, :f :write, :value 1, :process 22, :time 59393634337, :error :connect, :index 21174}
{:type :invoke, :f :cas, :value [2 1], :process 21, :time 59433479269, :index 21186}
{:type :fail, :f :cas, :value [2 1], :process 21, :time 59435325189, :error :connect, :index 21187}
{:type :invoke, :f :cas, :value [3 1], :process 21, :time 59436596108, :index 21188}
{:type :invoke, :f :write, :value 1, :process 6, :time 59438169963, :index 21189}
{:type :fail, :f :cas, :value [3 1], :process 21, :time 59438496437, :error :connect, :index 21190}
{:type :invoke, :f :cas, :value [0 1], :process 8, :time 59439929562, :index 21191}
{:type :fail, :f :write, :value 1, :process 6, :time 59440159622, :error :connect, :index 21192}
{:type :fail, :f :cas, :value [0 1], :process 8, :time 59442165531, :error :connect, :index 21193}
{:type :invoke, :f :write, :value 3, :process 5, :time 59451017115, :index 21194}
{:type :fail, :f :write, :value 3, :process 5, :time 59453142372, :error :connect, :index 21196}
{:type :invoke, :f :read, :value nil, :process 7, :time 59464527649, :index 21200}
{:type :fail, :f :read, :value nil, :process 7, :time 59466331552, :error :connect, :index 21201}
{:type :invoke, :f :write, :value 1, :process 29, :time 59466950717, :index 21202}
{:type :fail, :f :write, :value 1, :process 29, :time 59468746120, :error :connect, :index 21203}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 59471900018, :index 21204}
{:type :fail, :f :cas, :value [0 4], :process 22, :time 59473924296, :error :connect, :index 21206}
{:type :invoke, :f :cas, :value [1 2], :process 21, :time 59476763876, :index 21208}
{:type :invoke, :f :write, :value 0, :process 0, :time 59477214688, :index 21209}
{:type :fail, :f :cas, :value [1 2], :process 21, :time 59478530019, :error :connect, :index 21210}
{:type :fail, :f :write, :value 0, :process 0, :time 59479215378, :error :connect, :index 21211}
{:type :invoke, :f :write, :value 3, :process 5, :time 59488384477, :index 21214}
{:type :fail, :f :write, :value 3, :process 5, :time 59490003924, :error :connect, :index 21215}
{:type :invoke, :f :read, :value nil, :process 4, :time 59516475989, :index 21224}
{:type :fail, :f :read, :value nil, :process 4, :time 59518008857, :error :connect, :index 21225}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 59528573181, :index 21226}
{:type :invoke, :f :read, :value nil, :process 8, :time 59529436366, :index 21227}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 59530531344, :error :connect, :index 21229}
{:type :fail, :f :read, :value nil, :process 8, :time 59531440557, :error :connect, :index 21230}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 59534281312, :index 21233}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 59536456925, :error :connect, :index 21235}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 59539201974, :index 21236}
{:type :fail, :f :cas, :value [0 2], :process 22, :time 59541057455, :error :connect, :index 21237}
{:type :invoke, :f :read, :value nil, :process 6, :time 59544409935, :index 21238}
{:type :fail, :f :read, :value nil, :process 6, :time 59546090127, :error :connect, :index 21239}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 59547346981, :index 21240}
{:type :fail, :f :cas, :value [4 4], :process 6, :time 59549460888, :error :connect, :index 21242}
{:type :invoke, :f :read, :value nil, :process 29, :time 59579003160, :index 21248}
{:type :fail, :f :read, :value nil, :process 29, :time 59581062064, :error :connect, :index 21249}
{:type :invoke, :f :read, :value nil, :process 22, :time 59582332220, :index 21250}
{:type :fail, :f :read, :value nil, :process 22, :time 59584040637, :error :connect, :index 21251}
{:type :invoke, :f :read, :value nil, :process 21, :time 59617795490, :index 21258}
{:type :invoke, :f :read, :value nil, :process 22, :time 59618317501, :index 21259}
{:type :fail, :f :read, :value nil, :process 21, :time 59619658073, :error :connect, :index 21260}
{:type :fail, :f :read, :value nil, :process 22, :time 59620252430, :error :connect, :index 21261}
{:type :invoke, :f :read, :value nil, :process 22, :time 59627485011, :index 21266}
{:type :fail, :f :read, :value nil, :process 22, :time 59629270802, :error :connect, :index 21267}
{:type :invoke, :f :write, :value 2, :process 7, :time 59629602238, :index 21268}
{:type :fail, :f :write, :value 2, :process 7, :time 59631595086, :error :connect, :index 21269}
{:type :invoke, :f :read, :value nil, :process 5, :time 59632269174, :index 21270}
{:type :fail, :f :read, :value nil, :process 5, :time 59634322313, :error :connect, :index 21271}
{:type :invoke, :f :read, :value nil, :process 0, :time 59635463466, :index 21272}
{:type :invoke, :f :write, :value 3, :process 4, :time 59636694948, :index 21273}
{:type :fail, :f :read, :value nil, :process 0, :time 59637511102, :error :connect, :index 21274}
{:type :fail, :f :write, :value 3, :process 4, :time 59638463793, :error :connect, :index 21275}
{:type :invoke, :f :cas, :value [1 4], :process 29, :time 59644329557, :index 21278}
{:type :fail, :f :cas, :value [1 4], :process 29, :time 59646099095, :error :connect, :index 21279}
{:type :invoke, :f :write, :value 1, :process 3, :time 59668842401, :index 21285}
{:type :fail, :f :write, :value 1, :process 3, :time 59670496010, :error :connect, :index 21287}
{:type :invoke, :f :cas, :value [3 4], :process 22, :time 59675527690, :index 21288}
{:type :fail, :f :cas, :value [3 4], :process 22, :time 59677199644, :error :connect, :index 21289}
{:type :invoke, :f :write, :value 3, :process 6, :time 59696732027, :index 21290}
{:type :fail, :f :write, :value 3, :process 6, :time 59698634530, :error :connect, :index 21291}
{:type :invoke, :f :cas, :value [4 1], :process 7, :time 59704858687, :index 21292}
{:type :fail, :f :cas, :value [4 1], :process 7, :time 59706570533, :error :connect, :index 21293}
{:type :invoke, :f :write, :value 4, :process 8, :time 59713693764, :index 21294}
{:type :fail, :f :write, :value 4, :process 8, :time 59715847532, :error :connect, :index 21295}
{:type :invoke, :f :read, :value nil, :process 5, :time 59718581926, :index 21296}
{:type :fail, :f :read, :value nil, :process 5, :time 59720637080, :error :connect, :index 21297}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 59723718610, :index 21298}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 59726028540, :error :connect, :index 21300}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 59751896033, :index 21308}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 59753761489, :error :connect, :index 21309}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 59774730232, :index 21312}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 59776732816, :error :connect, :index 21314}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 59776859267, :index 21315}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 59778882916, :error :connect, :index 21318}
{:type :invoke, :f :write, :value 1, :process 3, :time 59782756772, :index 21320}
{:type :fail, :f :write, :value 1, :process 3, :time 59784852614, :error :connect, :index 21321}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 59791925992, :index 21322}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 59794164575, :error :connect, :index 21324}
{:type :invoke, :f :cas, :value [2 3], :process 21, :time 59799945289, :index 21330}
{:type :fail, :f :cas, :value [2 3], :process 21, :time 59802019969, :error :connect, :index 21332}
{:type :invoke, :f :write, :value 3, :process 22, :time 59803464172, :index 21334}
{:type :fail, :f :write, :value 3, :process 22, :time 59805315945, :error :connect, :index 21335}
{:type :invoke, :f :write, :value 3, :process 8, :time 59813111060, :index 21336}
{:type :fail, :f :write, :value 3, :process 8, :time 59814985757, :error :connect, :index 21337}
{:type :invoke, :f :cas, :value [0 1], :process 21, :time 59816311920, :index 21338}
{:type :fail, :f :cas, :value [0 1], :process 21, :time 59818188091, :error :connect, :index 21339}
{:type :invoke, :f :write, :value 3, :process 4, :time 59820336119, :index 21340}
{:type :fail, :f :write, :value 3, :process 4, :time 59822137782, :error :connect, :index 21341}
{:type :invoke, :f :read, :value nil, :process 0, :time 59830743288, :index 21342}
{:type :invoke, :f :read, :value nil, :process 8, :time 59831262584, :index 21343}
{:type :fail, :f :read, :value nil, :process 0, :time 59832561582, :error :connect, :index 21344}
{:type :fail, :f :read, :value nil, :process 8, :time 59834100561, :error :connect, :index 21345}
{:type :invoke, :f :read, :value nil, :process 29, :time 59841372314, :index 21348}
{:type :fail, :f :read, :value nil, :process 29, :time 59843309979, :error :connect, :index 21349}
{:type :invoke, :f :write, :value 0, :process 8, :time 59872355384, :index 21356}
{:type :fail, :f :write, :value 0, :process 8, :time 59874505312, :error :connect, :index 21357}
{:type :invoke, :f :write, :value 0, :process 29, :time 59886503391, :index 21358}
{:type :fail, :f :write, :value 0, :process 29, :time 59888588727, :error :connect, :index 21360}
{:type :invoke, :f :write, :value 3, :process 22, :time 59890604375, :index 21362}
{:type :fail, :f :write, :value 3, :process 22, :time 59892695824, :error :connect, :index 21363}
{:type :invoke, :f :read, :value nil, :process 4, :time 59901399475, :index 21367}
{:type :invoke, :f :cas, :value [4 1], :process 21, :time 59902461728, :index 21369}
{:type :fail, :f :read, :value nil, :process 4, :time 59903267936, :error :connect, :index 21370}
{:type :fail, :f :cas, :value [4 1], :process 21, :time 59904140794, :error :connect, :index 21371}
{:type :invoke, :f :read, :value nil, :process 21, :time 59919410591, :index 21376}
{:type :fail, :f :read, :value nil, :process 21, :time 59921495117, :error :connect, :index 21377}
{:type :invoke, :f :read, :value nil, :process 8, :time 59925766558, :index 21378}
{:type :fail, :f :read, :value nil, :process 8, :time 59927856392, :error :connect, :index 21379}
{:type :invoke, :f :write, :value 4, :process 21, :time 59933762587, :index 21381}
{:type :fail, :f :write, :value 4, :process 21, :time 59935284143, :error :connect, :index 21383}
{:type :invoke, :f :write, :value 0, :process 3, :time 59938125636, :index 21384}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 59939026222, :index 21385}
{:type :fail, :f :write, :value 0, :process 3, :time 59939789899, :error :connect, :index 21386}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 59941044297, :error :connect, :index 21387}
{:type :invoke, :f :read, :value nil, :process 4, :time 59963513374, :index 21392}
{:type :fail, :f :read, :value nil, :process 4, :time 59965536644, :error :connect, :index 21394}
{:type :invoke, :f :read, :value nil, :process 8, :time 59966133074, :index 21395}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 59966137368, :index 21396}
{:type :fail, :f :read, :value nil, :process 8, :time 59968259086, :error :connect, :index 21398}
{:type :fail, :f :cas, :value [1 3], :process 7, :time 59968525945, :error :connect, :index 21399}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 59982463470, :index 21404}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 59984398209, :error :connect, :index 21405}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 59984974941, :index 21407}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 59986922161, :error :connect, :index 21409}
{:type :invoke, :f :read, :value nil, :process 5, :time 59987306127, :index 21410}
{:type :fail, :f :read, :value nil, :process 5, :time 59989134189, :error :connect, :index 21411}
{:type :invoke, :f :write, :value 4, :process 29, :time 59992853029, :index 21412}
{:type :invoke, :f :write, :value 0, :process 5, :time 59993432238, :index 21414}
{:type :fail, :f :write, :value 0, :process 5, :time 59995302755, :error :connect, :index 21415}
{:type :fail, :f :write, :value 4, :process 29, :time 59995570877, :error :connect, :index 21417}
{:type :invoke, :f :write, :value 4, :process 0, :time 59995828475, :index 21418}
{:type :fail, :f :write, :value 4, :process 0, :time 59997592779, :error :connect, :index 21420}
{:type :invoke, :f :read, :value nil, :process 8, :time 60004532421, :index 21424}
{:type :fail, :f :read, :value nil, :process 8, :time 60034329330, :error :connect, :index 21425}
