{:type :invoke, :f :write, :value 3, :process 13, :time 2486733048, :index 810}
{:type :ok, :f :write, :value 3, :process 13, :time 2492758509, :index 812}
{:type :invoke, :f :cas, :value [1 2], :process 16, :time 2521298487, :index 819}
{:type :fail, :f :cas, :value [1 2], :process 16, :time 2526374057, :index 821}
{:type :invoke, :f :read, :value nil, :process 10, :time 2535242175, :index 825}
{:type :ok, :f :read, :value 3, :process 10, :time 2540305301, :index 828}
{:type :invoke, :f :read, :value nil, :process 15, :time 2566875350, :index 832}
{:type :ok, :f :read, :value 3, :process 15, :time 2571431453, :index 834}
{:type :invoke, :f :write, :value 2, :process 16, :time 2612629270, :index 840}
{:type :ok, :f :write, :value 2, :process 16, :time 2617472276, :index 841}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 2619737796, :index 842}
{:type :invoke, :f :read, :value nil, :process 18, :time 2620682427, :index 843}
{:type :ok, :f :cas, :value [2 4], :process 16, :time 2625443756, :index 845}
{:type :ok, :f :read, :value 4, :process 18, :time 2626730618, :index 846}
{:type :invoke, :f :cas, :value [2 0], :process 13, :time 2640050137, :index 849}
{:type :fail, :f :cas, :value [2 0], :process 13, :time 2651775746, :index 852}
{:type :invoke, :f :cas, :value [3 1], :process 11, :time 2670981129, :index 855}
{:type :fail, :f :cas, :value [3 1], :process 11, :time 2677301542, :index 857}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 2679668930, :index 858}
{:type :invoke, :f :read, :value nil, :process 10, :time 2681557301, :index 859}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 2684418656, :index 860}
{:type :ok, :f :read, :value 4, :process 10, :time 2685917351, :index 861}
{:type :invoke, :f :cas, :value [1 4], :process 16, :time 2686727561, :index 862}
{:type :fail, :f :cas, :value [1 4], :process 16, :time 2691807718, :index 864}
{:type :invoke, :f :cas, :value [3 2], :process 11, :time 2737537716, :index 870}
{:type :fail, :f :cas, :value [3 2], :process 11, :time 2744626752, :index 873}
{:type :invoke, :f :cas, :value [3 3], :process 18, :time 2744999470, :index 874}
{:type :fail, :f :cas, :value [3 3], :process 18, :time 2750077851, :index 875}
{:type :invoke, :f :cas, :value [4 3], :process 13, :time 2774030787, :index 876}
{:type :invoke, :f :write, :value 0, :process 18, :time 2775341680, :index 877}
{:type :invoke, :f :write, :value 0, :process 15, :time 2775694309, :index 878}
{:type :ok, :f :write, :value 0, :process 15, :time 2780479177, :index 879}
{:type :ok, :f :cas, :value [4 3], :process 13, :time 2780802916, :index 880}
{:type :ok, :f :write, :value 0, :process 18, :time 2781635974, :index 881}
{:type :invoke, :f :write, :value 0, :process 16, :time 2784063670, :index 882}
{:type :ok, :f :write, :value 0, :process 16, :time 2789126141, :index 883}
{:type :invoke, :f :read, :value nil, :process 10, :time 2806162075, :index 886}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 2807896413, :index 887}
{:type :invoke, :f :read, :value nil, :process 13, :time 2809039196, :index 888}
{:type :ok, :f :read, :value 0, :process 10, :time 2810942993, :index 889}
{:type :ok, :f :read, :value 0, :process 13, :time 2814219236, :index 890}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 2814219236, :index 891}
{:type :invoke, :f :write, :value 3, :process 10, :time 2825203521, :index 893}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 2826738634, :index 894}
{:type :ok, :f :write, :value 3, :process 10, :time 2829516049, :index 896}
{:type :ok, :f :cas, :value [3 1], :process 15, :time 2831084340, :index 897}
{:type :invoke, :f :write, :value 2, :process 16, :time 2881387173, :index 911}
{:type :ok, :f :write, :value 2, :process 16, :time 2886543485, :index 913}
{:type :invoke, :f :write, :value 2, :process 10, :time 2892763348, :index 914}
{:type :ok, :f :write, :value 2, :process 10, :time 2897820762, :index 918}
{:type :invoke, :f :read, :value nil, :process 11, :time 2938503411, :index 928}
{:type :invoke, :f :write, :value 1, :process 12, :time 2938930686, :index 929}
{:type :ok, :f :write, :value 1, :process 12, :time 2944657236, :index 930}
{:type :invoke, :f :write, :value 4, :process 12, :time 2945923768, :index 931}
{:type :ok, :f :read, :value 2, :process 11, :time 2946312148, :index 932}
{:type :ok, :f :write, :value 4, :process 12, :time 2950822598, :index 933}
{:type :invoke, :f :cas, :value [2 2], :process 18, :time 2976909420, :index 936}
{:type :fail, :f :cas, :value [2 2], :process 18, :time 2983329969, :index 938}
{:type :invoke, :f :read, :value nil, :process 17, :time 2983990967, :index 940}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 2985494135, :index 941}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 2987345638, :index 942}
{:type :ok, :f :read, :value 4, :process 17, :time 2989451346, :index 944}
{:type :fail, :f :cas, :value [0 4], :process 13, :time 2991142569, :index 945}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 2992015960, :index 946}
{:type :invoke, :f :write, :value 2, :process 16, :time 2993801548, :index 948}
{:type :invoke, :f :write, :value 1, :process 12, :time 2998077325, :index 949}
{:type :invoke, :f :write, :value 1, :process 10, :time 2999113439, :index 950}
{:type :ok, :f :write, :value 2, :process 16, :time 2999357994, :index 951}
{:type :ok, :f :write, :value 1, :process 10, :time 3003686243, :index 952}
{:type :ok, :f :write, :value 1, :process 12, :time 3004265860, :index 953}
{:type :invoke, :f :write, :value 2, :process 15, :time 3016290084, :index 956}
{:type :ok, :f :write, :value 2, :process 15, :time 3021385671, :index 957}
{:type :invoke, :f :cas, :value [0 2], :process 17, :time 3049726031, :index 964}
{:type :invoke, :f :write, :value 0, :process 10, :time 3055936581, :index 966}
{:type :ok, :f :write, :value 0, :process 10, :time 3061130403, :index 969}
{:type :invoke, :f :write, :value 0, :process 13, :time 3085398741, :index 979}
{:type :ok, :f :write, :value 0, :process 13, :time 3091540549, :index 980}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 3125380007, :index 987}
{:type :invoke, :f :write, :value 1, :process 11, :time 3129555879, :index 988}
{:type :ok, :f :cas, :value [0 1], :process 10, :time 3130439500, :index 989}
{:type :ok, :f :write, :value 1, :process 11, :time 3134786444, :index 990}
{:type :invoke, :f :cas, :value [3 1], :process 18, :time 3141591342, :index 991}
{:type :invoke, :f :read, :value nil, :process 14, :time 3145336537, :index 992}
{:type :fail, :f :cas, :value [3 1], :process 18, :time 3147434720, :index 993}
{:type :ok, :f :read, :value 1, :process 14, :time 3150293623, :index 994}
{:type :invoke, :f :write, :value 4, :process 15, :time 3158645542, :index 995}
{:type :ok, :f :write, :value 4, :process 15, :time 3164138841, :index 997}
{:type :invoke, :f :cas, :value [2 0], :process 12, :time 3169506424, :index 1002}
{:type :invoke, :f :read, :value nil, :process 16, :time 3174603671, :index 1005}
{:type :ok, :f :read, :value 4, :process 16, :time 3179662380, :index 1007}
{:type :invoke, :f :cas, :value [3 4], :process 18, :time 3189695022, :index 1008}
{:type :fail, :f :cas, :value [3 4], :process 18, :time 3195661426, :index 1009}
{:type :invoke, :f :read, :value nil, :process 18, :time 3196924647, :index 1010}
{:type :ok, :f :read, :value 4, :process 18, :time 3201781782, :index 1012}
{:type :invoke, :f :read, :value nil, :process 10, :time 3218684253, :index 1014}
{:type :ok, :f :read, :value 4, :process 10, :time 3223741980, :index 1015}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 3224401296, :index 1016}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 3229115542, :index 1017}
{:type :invoke, :f :cas, :value [2 3], :process 14, :time 3230542986, :index 1018}
{:type :fail, :f :cas, :value [2 3], :process 14, :time 3236150481, :index 1021}
{:type :invoke, :f :cas, :value [1 4], :process 13, :time 3241806818, :index 1025}
{:type :invoke, :f :read, :value nil, :process 19, :time 3242297114, :index 1026}
{:type :fail, :f :cas, :value [1 4], :process 13, :time 3247611565, :index 1028}
{:type :ok, :f :read, :value 4, :process 19, :time 3248067361, :index 1029}
{:type :invoke, :f :write, :value 3, :process 13, :time 3251862840, :index 1030}
{:type :ok, :f :write, :value 3, :process 13, :time 3257598258, :index 1034}
{:type :invoke, :f :read, :value nil, :process 11, :time 3266044866, :index 1035}
{:type :ok, :f :read, :value 3, :process 11, :time 3272424330, :index 1037}
{:type :invoke, :f :write, :value 0, :process 16, :time 3279927382, :index 1039}
{:type :ok, :f :write, :value 0, :process 16, :time 3288992362, :index 1043}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 3289692167, :index 1044}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 3295405076, :index 1046}
{:type :invoke, :f :write, :value 1, :process 19, :time 3319340509, :index 1047}
{:type :invoke, :f :cas, :value [2 2], :process 11, :time 3328671962, :index 1048}
{:type :invoke, :f :read, :value nil, :process 14, :time 3333442538, :index 1049}
{:type :fail, :f :cas, :value [2 2], :process 11, :time 3336177232, :index 1050}
{:type :ok, :f :cas, :value [2 0], :process 12, :time 3347520858, :index 1053}
{:type :ok, :f :cas, :value [0 2], :process 17, :time 3347859968, :index 1054}
{:type :invoke, :f :read, :value nil, :process 12, :time 3378826409, :index 1069}
{:type :ok, :f :read, :value 0, :process 12, :time 3384475096, :index 1070}
{:type :invoke, :f :write, :value 4, :process 15, :time 3385377600, :index 1071}
{:type :ok, :f :write, :value 4, :process 15, :time 3389894923, :index 1072}
{:type :invoke, :f :read, :value nil, :process 18, :time 3397061705, :index 1074}
{:type :invoke, :f :write, :value 4, :process 11, :time 3401439214, :index 1076}
{:type :ok, :f :read, :value 4, :process 18, :time 3402203937, :index 1077}
{:type :invoke, :f :read, :value nil, :process 12, :time 3402737804, :index 1078}
{:type :ok, :f :read, :value 4, :process 12, :time 3407771478, :index 1079}
{:type :ok, :f :write, :value 4, :process 11, :time 3410412345, :index 1080}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 3415002294, :index 1082}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 3419248405, :index 1083}
{:type :fail, :f :cas, :value [1 2], :process 10, :time 3420556111, :index 1084}
{:type :fail, :f :cas, :value [3 0], :process 16, :time 3424702738, :index 1086}
{:type :invoke, :f :write, :value 1, :process 13, :time 3439872603, :index 1091}
{:type :ok, :f :write, :value 1, :process 13, :time 3444865856, :index 1096}
{:type :invoke, :f :read, :value nil, :process 18, :time 3472461717, :index 1101}
{:type :ok, :f :read, :value 1, :process 18, :time 3477724120, :index 1103}
{:type :invoke, :f :write, :value 2, :process 13, :time 3479118562, :index 1104}
{:type :ok, :f :write, :value 2, :process 13, :time 3484520736, :index 1105}
{:type :invoke, :f :read, :value nil, :process 13, :time 3498813341, :index 1107}
{:type :ok, :f :read, :value 2, :process 13, :time 3503519175, :index 1109}
{:type :invoke, :f :write, :value 3, :process 15, :time 3511169461, :index 1112}
{:type :invoke, :f :read, :value nil, :process 18, :time 3515991836, :index 1113}
{:type :ok, :f :write, :value 3, :process 15, :time 3516750197, :index 1114}
{:type :ok, :f :read, :value 3, :process 18, :time 3521431914, :index 1115}
{:type :invoke, :f :write, :value 2, :process 17, :time 3535165262, :index 1116}
{:type :ok, :f :write, :value 2, :process 17, :time 3541350299, :index 1118}
{:type :invoke, :f :write, :value 4, :process 10, :time 3549868819, :index 1120}
{:type :invoke, :f :cas, :value [2 2], :process 17, :time 3551610809, :index 1121}
{:type :ok, :f :write, :value 4, :process 10, :time 3554435272, :index 1122}
{:type :fail, :f :cas, :value [2 2], :process 17, :time 3558213924, :index 1124}
{:type :invoke, :f :write, :value 2, :process 12, :time 3568032666, :index 1129}
{:type :ok, :f :write, :value 2, :process 12, :time 3572859629, :index 1131}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 3602956245, :index 1136}
{:type :fail, :f :cas, :value [3 2], :process 16, :time 3608189894, :index 1137}
{:type :invoke, :f :write, :value 2, :process 11, :time 3609667792, :index 1138}
{:type :invoke, :f :read, :value nil, :process 15, :time 3610027839, :index 1139}
{:type :invoke, :f :write, :value 3, :process 13, :time 3610812026, :index 1140}
{:type :ok, :f :read, :value 2, :process 15, :time 3614783485, :index 1142}
{:type :ok, :f :write, :value 2, :process 11, :time 3616206664, :index 1143}
{:type :ok, :f :write, :value 3, :process 13, :time 3616599794, :index 1144}
{:type :invoke, :f :read, :value nil, :process 13, :time 3621845559, :index 1146}
{:type :ok, :f :read, :value 3, :process 13, :time 3626354684, :index 1147}
{:type :invoke, :f :read, :value nil, :process 10, :time 3675636821, :index 1158}
{:type :ok, :f :read, :value 3, :process 10, :time 3679876133, :index 1160}
{:type :invoke, :f :write, :value 3, :process 10, :time 3689135498, :index 1162}
{:type :ok, :f :write, :value 3, :process 10, :time 3693729483, :index 1163}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 3695726270, :index 1164}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 3700952897, :index 1165}
{:type :invoke, :f :cas, :value [0 0], :process 11, :time 3708466960, :index 1166}
{:type :fail, :f :cas, :value [0 0], :process 11, :time 3715366713, :index 1168}
{:type :invoke, :f :read, :value nil, :process 17, :time 3735472275, :index 1170}
{:type :invoke, :f :cas, :value [1 1], :process 13, :time 3736617166, :index 1171}
{:type :ok, :f :read, :value 3, :process 17, :time 3742577973, :index 1172}
{:type :ok, :f :write, :value 1, :process 19, :time 3743064296, :index 1173}
{:type :ok, :f :read, :value 1, :process 14, :time 3743608513, :index 1174}
{:type :ok, :f :cas, :value [1 1], :process 13, :time 3744175437, :index 1177}
{:type :invoke, :f :write, :value 0, :process 15, :time 3744273414, :index 1178}
{:type :ok, :f :write, :value 0, :process 15, :time 3749509894, :index 1180}
{:type :invoke, :f :read, :value nil, :process 15, :time 3760776352, :index 1184}
{:type :invoke, :f :write, :value 0, :process 12, :time 3762101591, :index 1185}
{:type :ok, :f :read, :value 0, :process 15, :time 3765396435, :index 1187}
{:type :ok, :f :write, :value 0, :process 12, :time 3769784335, :index 1188}
{:type :invoke, :f :cas, :value [1 3], :process 16, :time 3780452681, :index 1192}
{:type :fail, :f :cas, :value [1 3], :process 16, :time 3788342981, :index 1197}
{:type :invoke, :f :cas, :value [3 1], :process 18, :time 3791215835, :index 1199}
{:type :invoke, :f :write, :value 0, :process 11, :time 3791618139, :index 1200}
{:type :fail, :f :cas, :value [3 1], :process 18, :time 3797083595, :index 1202}
{:type :ok, :f :write, :value 0, :process 11, :time 3799947352, :index 1203}
{:type :invoke, :f :cas, :value [4 4], :process 13, :time 3809405678, :index 1204}
{:type :invoke, :f :write, :value 2, :process 10, :time 3810985627, :index 1205}
{:type :ok, :f :write, :value 2, :process 10, :time 3816056440, :index 1207}
{:type :fail, :f :cas, :value [4 4], :process 13, :time 3816155321, :index 1208}
{:type :invoke, :f :read, :value nil, :process 19, :time 3817297558, :index 1209}
{:type :invoke, :f :write, :value 4, :process 14, :time 3830901053, :index 1212}
{:type :invoke, :f :cas, :value [3 0], :process 17, :time 3870891518, :index 1223}
{:type :fail, :f :cas, :value [3 0], :process 17, :time 3877052047, :index 1225}
{:type :invoke, :f :read, :value nil, :process 15, :time 3963650150, :index 1249}
{:type :ok, :f :read, :value 2, :process 15, :time 3969658794, :index 1252}
{:type :ok, :f :write, :value 4, :process 14, :time 4218670242, :index 1330}
{:type :ok, :f :read, :value 2, :process 19, :time 4218670242, :index 1331}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
