{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :invoke, :f :write, :value 2, :process 15, :time 13978585986, :index 3214}
{:type :fail, :f :write, :value 2, :process 15, :time 13980607924, :error :connect, :index 3215}
{:type :invoke, :f :cas, :value [1 4], :process 11, :time 14005353330, :index 3223}
{:type :fail, :f :cas, :value [1 4], :process 11, :time 14007417760, :error :connect, :index 3225}
{:type :invoke, :f :read, :value nil, :process 34, :time 14021830514, :index 3231}
{:type :fail, :f :read, :value nil, :process 34, :time 14023778459, :error :connect, :index 3233}
{:type :invoke, :f :write, :value 0, :process 11, :time 14061679702, :index 3240}
{:type :fail, :f :write, :value 0, :process 11, :time 14063539856, :error :connect, :index 3241}
{:type :invoke, :f :read, :value nil, :process 15, :time 14063870183, :index 3242}
{:type :fail, :f :read, :value nil, :process 15, :time 14065960376, :error :connect, :index 3243}
{:type :invoke, :f :write, :value 3, :process 36, :time 14080065244, :index 3244}
{:type :fail, :f :write, :value 3, :process 36, :time 14082195573, :error :connect, :index 3245}
{:type :invoke, :f :read, :value nil, :process 18, :time 14091122430, :index 3248}
{:type :fail, :f :read, :value nil, :process 18, :time 14092937364, :error :connect, :index 3249}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 14112802876, :index 3258}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 14114627304, :error :connect, :index 3259}
{:type :invoke, :f :write, :value 3, :process 39, :time 14135356766, :index 3268}
{:type :fail, :f :write, :value 3, :process 39, :time 14137355698, :error :connect, :index 3269}
{:type :invoke, :f :read, :value nil, :process 15, :time 14147221637, :index 3275}
{:type :fail, :f :read, :value nil, :process 15, :time 14149013658, :error :connect, :index 3278}
{:type :invoke, :f :read, :value nil, :process 34, :time 14150034165, :index 3280}
{:type :fail, :f :read, :value nil, :process 34, :time 14152039245, :error :connect, :index 3281}
{:type :invoke, :f :cas, :value [3 1], :process 33, :time 14155922425, :index 3284}
{:type :fail, :f :cas, :value [3 1], :process 33, :time 14157979644, :error :connect, :index 3285}
{:type :invoke, :f :cas, :value [1 4], :process 37, :time 14176031701, :index 3288}
{:type :fail, :f :cas, :value [1 4], :process 37, :time 14177845739, :error :connect, :index 3289}
{:type :invoke, :f :write, :value 2, :process 33, :time 14180248106, :index 3290}
{:type :fail, :f :write, :value 2, :process 33, :time 14182190377, :error :connect, :index 3292}
{:type :invoke, :f :read, :value nil, :process 36, :time 14197454810, :index 3294}
{:type :fail, :f :read, :value nil, :process 36, :time 14199132594, :error :connect, :index 3295}
{:type :invoke, :f :write, :value 1, :process 15, :time 14201293951, :index 3297}
{:type :fail, :f :write, :value 1, :process 15, :time 14203152101, :error :connect, :index 3299}
{:type :invoke, :f :write, :value 1, :process 15, :time 14203265300, :index 3300}
{:type :fail, :f :write, :value 1, :process 15, :time 14204995304, :error :connect, :index 3301}
{:type :invoke, :f :read, :value nil, :process 11, :time 14218926251, :index 3304}
{:type :fail, :f :read, :value nil, :process 11, :time 14220535956, :error :connect, :index 3305}
{:type :invoke, :f :write, :value 0, :process 18, :time 14227204829, :index 3306}
{:type :invoke, :f :cas, :value [4 3], :process 36, :time 14227396981, :index 3307}
{:type :fail, :f :cas, :value [4 3], :process 36, :time 14229121792, :error :connect, :index 3308}
{:type :fail, :f :write, :value 0, :process 18, :time 14229335479, :error :connect, :index 3309}
{:type :invoke, :f :read, :value nil, :process 37, :time 14230113999, :index 3310}
{:type :fail, :f :read, :value nil, :process 37, :time 14232174946, :error :connect, :index 3311}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 14237392052, :index 3312}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 14239326440, :error :connect, :index 3314}
{:type :invoke, :f :write, :value 3, :process 32, :time 14266021632, :index 3318}
{:type :fail, :f :write, :value 3, :process 32, :time 14268061827, :error :connect, :index 3320}
{:type :invoke, :f :read, :value nil, :process 37, :time 14280453227, :index 3322}
{:type :invoke, :f :cas, :value [2 1], :process 33, :time 14282428165, :index 3325}
{:type :fail, :f :read, :value nil, :process 37, :time 14282580933, :error :connect, :index 3326}
{:type :fail, :f :cas, :value [2 1], :process 33, :time 14284153810, :error :connect, :index 3327}
{:type :invoke, :f :cas, :value [0 2], :process 11, :time 14293787076, :index 3334}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 14294875619, :index 3336}
{:type :fail, :f :cas, :value [0 2], :process 11, :time 14295815371, :error :connect, :index 3338}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 14296904087, :error :connect, :index 3339}
{:type :invoke, :f :write, :value 3, :process 36, :time 14305449794, :index 3340}
{:type :fail, :f :write, :value 3, :process 36, :time 14307088792, :error :connect, :index 3342}
{:type :invoke, :f :cas, :value [2 2], :process 33, :time 14307414737, :index 3343}
{:type :fail, :f :cas, :value [2 2], :process 33, :time 14309319462, :error :connect, :index 3345}
{:type :invoke, :f :write, :value 2, :process 39, :time 14326621600, :index 3348}
{:type :fail, :f :write, :value 2, :process 39, :time 14328675922, :error :connect, :index 3350}
{:type :invoke, :f :write, :value 1, :process 39, :time 14341948349, :index 3358}
{:type :fail, :f :write, :value 1, :process 39, :time 14343700632, :error :connect, :index 3359}
{:type :invoke, :f :cas, :value [1 0], :process 34, :time 14349298349, :index 3362}
{:type :fail, :f :cas, :value [1 0], :process 34, :time 14351297055, :error :connect, :index 3363}
{:type :invoke, :f :read, :value nil, :process 36, :time 14370379354, :index 3370}
{:type :invoke, :f :read, :value nil, :process 18, :time 14371574023, :index 3371}
{:type :fail, :f :read, :value nil, :process 36, :time 14372281943, :error :connect, :index 3372}
{:type :fail, :f :read, :value nil, :process 18, :time 14373473037, :error :connect, :index 3373}
{:type :invoke, :f :write, :value 4, :process 32, :time 14390328658, :index 3380}
{:type :fail, :f :write, :value 4, :process 32, :time 14391969221, :error :connect, :index 3381}
{:type :invoke, :f :write, :value 3, :process 15, :time 14392259069, :index 3382}
{:type :fail, :f :write, :value 3, :process 15, :time 14394315162, :error :connect, :index 3383}
{:type :invoke, :f :read, :value nil, :process 10, :time 14399584722, :index 3384}
{:type :fail, :f :read, :value nil, :process 10, :time 14401653737, :error :connect, :index 3385}
{:type :invoke, :f :write, :value 2, :process 15, :time 14419580537, :index 3388}
{:type :fail, :f :write, :value 2, :process 15, :time 14421447595, :error :connect, :index 3390}
{:type :invoke, :f :write, :value 3, :process 18, :time 14431728473, :index 3392}
{:type :invoke, :f :read, :value nil, :process 15, :time 14433726917, :index 3393}
{:type :fail, :f :write, :value 3, :process 18, :time 14433947119, :error :connect, :index 3394}
{:type :invoke, :f :read, :value nil, :process 11, :time 14434089889, :index 3395}
{:type :fail, :f :read, :value nil, :process 15, :time 14435963002, :error :connect, :index 3396}
{:type :fail, :f :read, :value nil, :process 11, :time 14436644398, :error :connect, :index 3398}
{:type :invoke, :f :write, :value 4, :process 33, :time 14439578123, :index 3400}
{:type :fail, :f :write, :value 4, :process 33, :time 14441483001, :error :connect, :index 3401}
{:type :invoke, :f :read, :value nil, :process 33, :time 14468785888, :index 3410}
{:type :invoke, :f :read, :value nil, :process 36, :time 14469441125, :index 3411}
{:type :fail, :f :read, :value nil, :process 33, :time 14470453184, :error :connect, :index 3412}
{:type :invoke, :f :read, :value nil, :process 34, :time 14470563886, :index 3413}
{:type :fail, :f :read, :value nil, :process 36, :time 14471299862, :error :connect, :index 3414}
{:type :fail, :f :read, :value nil, :process 34, :time 14472379618, :error :connect, :index 3415}
{:type :invoke, :f :write, :value 2, :process 37, :time 14480181818, :index 3416}
{:type :fail, :f :write, :value 2, :process 37, :time 14482015254, :error :connect, :index 3417}
{:type :invoke, :f :read, :value nil, :process 39, :time 14513969451, :index 3428}
{:type :fail, :f :read, :value nil, :process 39, :time 14516029322, :error :connect, :index 3429}
{:type :invoke, :f :write, :value 3, :process 34, :time 14534638541, :index 3434}
{:type :invoke, :f :write, :value 2, :process 10, :time 14534976054, :index 3435}
{:type :fail, :f :write, :value 3, :process 34, :time 14536550189, :error :connect, :index 3436}
{:type :fail, :f :write, :value 2, :process 10, :time 14536866044, :error :connect, :index 3437}
{:type :invoke, :f :cas, :value [2 3], :process 36, :time 14536555054, :index 3438}
{:type :fail, :f :cas, :value [2 3], :process 36, :time 14538611924, :error :connect, :index 3440}
{:type :invoke, :f :write, :value 2, :process 32, :time 14556240285, :index 3445}
{:type :fail, :f :write, :value 2, :process 32, :time 14558046110, :error :connect, :index 3447}
{:type :invoke, :f :read, :value nil, :process 18, :time 14570207950, :index 3452}
{:type :invoke, :f :write, :value 3, :process 39, :time 14571289488, :index 3453}
{:type :fail, :f :read, :value nil, :process 18, :time 14572222240, :error :connect, :index 3454}
{:type :fail, :f :write, :value 3, :process 39, :time 14573281007, :error :connect, :index 3455}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 14585210177, :index 3457}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 14587087057, :error :connect, :index 3459}
{:type :invoke, :f :write, :value 0, :process 11, :time 14604906104, :index 3466}
{:type :invoke, :f :cas, :value [4 0], :process 36, :time 14605901972, :index 3467}
{:type :fail, :f :write, :value 0, :process 11, :time 14606770778, :error :connect, :index 3468}
{:type :fail, :f :cas, :value [4 0], :process 36, :time 14607741371, :error :connect, :index 3469}
{:type :invoke, :f :cas, :value [4 2], :process 32, :time 14609304399, :index 3470}
{:type :fail, :f :cas, :value [4 2], :process 32, :time 14610919071, :error :connect, :index 3472}
{:type :invoke, :f :cas, :value [2 3], :process 10, :time 14617114993, :index 3474}
{:type :fail, :f :cas, :value [2 3], :process 10, :time 14619210344, :error :connect, :index 3475}
{:type :invoke, :f :write, :value 1, :process 37, :time 14619284807, :index 3476}
{:type :fail, :f :write, :value 1, :process 37, :time 14621171595, :error :connect, :index 3478}
{:type :invoke, :f :cas, :value [2 2], :process 32, :time 14629183856, :index 3482}
{:type :fail, :f :cas, :value [2 2], :process 32, :time 14631033692, :error :connect, :index 3483}
{:type :invoke, :f :read, :value nil, :process 33, :time 14644713136, :index 3484}
{:type :fail, :f :read, :value nil, :process 33, :time 14646827639, :error :connect, :index 3485}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 14653347183, :index 3486}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 14655237366, :error :connect, :index 3487}
{:type :invoke, :f :write, :value 3, :process 34, :time 14678734585, :index 3497}
{:type :fail, :f :write, :value 3, :process 34, :time 14680495688, :error :connect, :index 3499}
{:type :invoke, :f :read, :value nil, :process 11, :time 14691045390, :index 3500}
{:type :fail, :f :read, :value nil, :process 11, :time 14692812533, :error :connect, :index 3501}
{:type :invoke, :f :read, :value nil, :process 32, :time 14723305050, :index 3512}
{:type :fail, :f :read, :value nil, :process 32, :time 14725085342, :error :connect, :index 3513}
{:type :invoke, :f :write, :value 1, :process 36, :time 14727011520, :index 3514}
{:type :invoke, :f :write, :value 1, :process 39, :time 14728539081, :index 3515}
{:type :fail, :f :write, :value 1, :process 39, :time 14730296529, :error :connect, :index 3516}
{:type :fail, :f :write, :value 1, :process 36, :time 14731251629, :error :connect, :index 3517}
{:type :invoke, :f :write, :value 2, :process 10, :time 14734511335, :index 3519}
{:type :fail, :f :write, :value 2, :process 10, :time 14736494637, :error :connect, :index 3521}
{:type :invoke, :f :write, :value 4, :process 18, :time 14745482795, :index 3522}
{:type :fail, :f :write, :value 4, :process 18, :time 14747587626, :error :connect, :index 3523}
{:type :invoke, :f :read, :value nil, :process 39, :time 14755558008, :index 3524}
{:type :fail, :f :read, :value nil, :process 39, :time 14757561175, :error :connect, :index 3525}
{:type :invoke, :f :read, :value nil, :process 37, :time 14761414040, :index 3526}
{:type :fail, :f :read, :value nil, :process 37, :time 14763064028, :error :connect, :index 3527}
{:type :invoke, :f :write, :value 2, :process 33, :time 14774088653, :index 3532}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 14775506261, :index 3533}
{:type :fail, :f :write, :value 2, :process 33, :time 14776267413, :error :connect, :index 3534}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 14777276867, :error :connect, :index 3535}
{:type :invoke, :f :write, :value 4, :process 18, :time 14830857610, :index 3550}
{:type :fail, :f :write, :value 4, :process 18, :time 14832709596, :error :connect, :index 3551}
{:type :invoke, :f :cas, :value [3 3], :process 37, :time 14837329265, :index 3552}
{:type :invoke, :f :cas, :value [2 0], :process 34, :time 14837771475, :index 3553}
{:type :fail, :f :cas, :value [3 3], :process 37, :time 14839050873, :error :connect, :index 3554}
{:type :fail, :f :cas, :value [2 0], :process 34, :time 14839821981, :error :connect, :index 3555}
{:type :invoke, :f :read, :value nil, :process 10, :time 14843752189, :index 3556}
{:type :fail, :f :read, :value nil, :process 10, :time 14845640402, :error :connect, :index 3557}
{:type :invoke, :f :read, :value nil, :process 34, :time 14846083564, :index 3558}
{:type :fail, :f :read, :value nil, :process 34, :time 14847620504, :error :connect, :index 3559}
{:type :invoke, :f :write, :value 4, :process 11, :time 14885072585, :index 3567}
{:type :fail, :f :write, :value 4, :process 11, :time 14887140619, :error :connect, :index 3569}
{:type :invoke, :f :write, :value 3, :process 32, :time 14894349996, :index 3572}
{:type :fail, :f :write, :value 3, :process 32, :time 14896224156, :error :connect, :index 3574}
{:type :invoke, :f :read, :value nil, :process 36, :time 14901516764, :index 3577}
{:type :fail, :f :read, :value nil, :process 36, :time 14903394444, :error :connect, :index 3579}
{:type :invoke, :f :cas, :value [1 2], :process 39, :time 14904824203, :index 3580}
{:type :fail, :f :cas, :value [1 2], :process 39, :time 14906627794, :error :connect, :index 3581}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 14919535575, :index 3582}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 14921171380, :error :connect, :index 3583}
{:type :invoke, :f :cas, :value [0 4], :process 32, :time 14949498390, :index 3590}
{:type :fail, :f :cas, :value [0 4], :process 32, :time 14951225103, :error :connect, :index 3591}
{:type :invoke, :f :read, :value nil, :process 33, :time 14951517633, :index 3592}
{:type :fail, :f :read, :value nil, :process 33, :time 14953389169, :error :connect, :index 3593}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 14954405280, :index 3594}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 14956359560, :error :connect, :index 3595}
{:type :invoke, :f :cas, :value [0 3], :process 39, :time 14990925364, :index 3606}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 14991975465, :index 3607}
{:type :fail, :f :cas, :value [0 3], :process 39, :time 14992747236, :error :connect, :index 3608}
{:type :fail, :f :cas, :value [4 0], :process 18, :time 14993840030, :error :connect, :index 3609}
{:type :invoke, :f :write, :value 4, :process 34, :time 15001881897, :index 3610}
{:type :fail, :f :write, :value 4, :process 34, :time 15003448288, :error :connect, :index 3611}
{:type :invoke, :f :cas, :value [3 4], :process 32, :time 15014496256, :index 3614}
{:type :fail, :f :cas, :value [3 4], :process 32, :time 15016174537, :error :connect, :index 3615}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 15017906210, :index 3616}
{:type :invoke, :f :write, :value 0, :process 37, :time 15019329987, :index 3618}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 15020224625, :error :connect, :index 3619}
{:type :fail, :f :write, :value 0, :process 37, :time 15021362603, :error :connect, :index 3621}
{:type :invoke, :f :write, :value 2, :process 36, :time 15035661126, :index 3625}
{:type :fail, :f :write, :value 2, :process 36, :time 15037393955, :error :connect, :index 3627}
{:type :invoke, :f :cas, :value [1 2], :process 32, :time 15079444678, :index 3638}
{:type :fail, :f :cas, :value [1 2], :process 32, :time 15081311207, :error :connect, :index 3639}
{:type :invoke, :f :write, :value 1, :process 18, :time 15085111831, :index 3641}
{:type :fail, :f :write, :value 1, :process 18, :time 15087228926, :error :connect, :index 3643}
{:type :invoke, :f :write, :value 0, :process 11, :time 15109631228, :index 3650}
{:type :fail, :f :write, :value 0, :process 11, :time 15111487665, :error :connect, :index 3651}
{:type :invoke, :f :read, :value nil, :process 33, :time 15114653890, :index 3654}
{:type :fail, :f :read, :value nil, :process 33, :time 15116468130, :error :connect, :index 3656}
{:type :invoke, :f :cas, :value [2 3], :process 15, :time 15119446748, :index 3661}
{:type :fail, :f :cas, :value [2 3], :process 15, :time 15121429011, :error :connect, :index 3663}
{:type :invoke, :f :write, :value 2, :process 39, :time 15164015627, :index 3676}
{:type :fail, :f :write, :value 2, :process 39, :time 15166000859, :error :connect, :index 3677}
{:type :invoke, :f :read, :value nil, :process 34, :time 15181715014, :index 3681}
{:type :fail, :f :read, :value nil, :process 34, :time 15183724850, :error :connect, :index 3684}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
