{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :invoke, :f :write, :value 1, :process 26, :time 35191489304, :index 7576}
{:type :ok, :f :write, :value 1, :process 26, :time 35197800227, :index 7578}
{:type :invoke, :f :cas, :value [1 3], :process 43, :time 35222038112, :index 7584}
{:type :ok, :f :cas, :value [1 3], :process 43, :time 35227573821, :index 7585}
{:type :invoke, :f :read, :value nil, :process 28, :time 35238268440, :index 7588}
{:type :ok, :f :read, :value 3, :process 28, :time 35243305968, :index 7590}
{:type :invoke, :f :cas, :value [0 2], :process 43, :time 35271854645, :index 7595}
{:type :fail, :f :cas, :value [0 2], :process 43, :time 35277960260, :index 7596}
{:type :invoke, :f :read, :value nil, :process 0, :time 35324600368, :index 7602}
{:type :invoke, :f :read, :value nil, :process 26, :time 35333045929, :index 7603}
{:type :ok, :f :read, :value 3, :process 0, :time 35333963902, :index 7604}
{:type :ok, :f :read, :value 3, :process 26, :time 35338090860, :index 7605}
{:type :invoke, :f :write, :value 0, :process 5, :time 35349605194, :index 7608}
{:type :ok, :f :write, :value 0, :process 5, :time 35354497497, :index 7609}
{:type :invoke, :f :read, :value nil, :process 1, :time 35367231700, :index 7615}
{:type :ok, :f :read, :value 0, :process 1, :time 35372729720, :index 7617}
{:type :invoke, :f :read, :value nil, :process 28, :time 35378573648, :index 7622}
{:type :ok, :f :read, :value 0, :process 28, :time 35383704284, :index 7623}
{:type :invoke, :f :read, :value nil, :process 43, :time 35388237926, :index 7624}
{:type :ok, :f :read, :value 0, :process 43, :time 35394141160, :index 7627}
{:type :invoke, :f :read, :value nil, :process 28, :time 35422918656, :index 7632}
{:type :ok, :f :read, :value 0, :process 28, :time 35428351483, :index 7633}
{:type :invoke, :f :cas, :value [4 3], :process 24, :time 35441891330, :index 7634}
{:type :fail, :f :cas, :value [4 3], :process 24, :time 35447645464, :index 7635}
{:type :invoke, :f :write, :value 4, :process 5, :time 35449769514, :index 7636}
{:type :ok, :f :write, :value 4, :process 5, :time 35454393241, :index 7637}
{:type :invoke, :f :cas, :value [2 4], :process 26, :time 35489348621, :index 7638}
{:type :invoke, :f :cas, :value [3 1], :process 24, :time 35489914729, :index 7639}
{:type :fail, :f :cas, :value [2 4], :process 26, :time 35495991840, :index 7641}
{:type :fail, :f :cas, :value [3 1], :process 24, :time 35496415535, :index 7642}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 35515219981, :index 7648}
{:type :invoke, :f :cas, :value [4 0], :process 43, :time 35517418492, :index 7649}
{:type :invoke, :f :read, :value nil, :process 1, :time 35518004192, :index 7650}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 35520281104, :index 7651}
{:type :ok, :f :cas, :value [4 0], :process 43, :time 35522858612, :index 7652}
{:type :ok, :f :read, :value 0, :process 1, :time 35523200088, :index 7653}
{:type :invoke, :f :write, :value 0, :process 43, :time 35530119249, :index 7655}
{:type :ok, :f :write, :value 0, :process 43, :time 35535272329, :index 7657}
{:type :invoke, :f :cas, :value [2 2], :process 9, :time 35546248144, :index 7660}
{:type :fail, :f :cas, :value [2 2], :process 9, :time 35551824549, :index 7665}
{:type :invoke, :f :read, :value nil, :process 28, :time 35566628856, :index 7671}
{:type :ok, :f :read, :value 0, :process 28, :time 35571548604, :index 7677}
{:type :invoke, :f :read, :value nil, :process 26, :time 35603296580, :index 7683}
{:type :invoke, :f :read, :value nil, :process 24, :time 35605689120, :index 7686}
{:type :ok, :f :read, :value 0, :process 26, :time 35609063482, :index 7688}
{:type :ok, :f :read, :value 0, :process 24, :time 35610195089, :index 7689}
{:type :invoke, :f :write, :value 0, :process 43, :time 35643531098, :index 7693}
{:type :invoke, :f :write, :value 3, :process 5, :time 35648665763, :index 7697}
{:type :ok, :f :write, :value 0, :process 43, :time 35648924329, :index 7698}
{:type :ok, :f :write, :value 3, :process 5, :time 35653188185, :index 7699}
{:type :invoke, :f :write, :value 0, :process 22, :time 35656362920, :index 7701}
{:type :ok, :f :write, :value 0, :process 22, :time 35661458413, :index 7704}
{:type :invoke, :f :cas, :value [0 1], :process 1, :time 35663448426, :index 7705}
{:type :ok, :f :cas, :value [0 1], :process 1, :time 35668001395, :index 7707}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 35706542498, :index 7715}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 35711748719, :index 7718}
{:type :invoke, :f :cas, :value [2 2], :process 24, :time 35718466421, :index 7720}
{:type :fail, :f :cas, :value [2 2], :process 24, :time 35723751272, :index 7721}
{:type :invoke, :f :write, :value 0, :process 47, :time 35736029588, :index 7724}
{:type :invoke, :f :cas, :value [0 2], :process 28, :time 35739802940, :index 7725}
{:type :ok, :f :write, :value 0, :process 47, :time 35741535155, :index 7726}
{:type :invoke, :f :read, :value nil, :process 43, :time 35744168017, :index 7727}
{:type :ok, :f :cas, :value [0 2], :process 28, :time 35744876468, :index 7728}
{:type :invoke, :f :cas, :value [0 2], :process 9, :time 35747107933, :index 7729}
{:type :ok, :f :read, :value 2, :process 43, :time 35749641813, :index 7730}
{:type :fail, :f :cas, :value [0 2], :process 9, :time 35752698632, :index 7731}
{:type :invoke, :f :read, :value nil, :process 22, :time 35757720766, :index 7733}
{:type :invoke, :f :read, :value nil, :process 1, :time 35760263503, :index 7736}
{:type :invoke, :f :read, :value nil, :process 28, :time 35761123849, :index 7737}
{:type :ok, :f :read, :value 2, :process 22, :time 35763096065, :index 7738}
{:type :ok, :f :read, :value 2, :process 1, :time 35766288363, :index 7740}
{:type :ok, :f :read, :value 2, :process 28, :time 35766291335, :index 7741}
{:type :invoke, :f :cas, :value [1 2], :process 26, :time 35768222276, :index 7742}
{:type :fail, :f :cas, :value [1 2], :process 26, :time 35773615396, :index 7743}
{:type :invoke, :f :cas, :value [2 0], :process 26, :time 35804873932, :index 7751}
{:type :ok, :f :cas, :value [2 0], :process 26, :time 35809973693, :index 7752}
{:type :invoke, :f :write, :value 3, :process 28, :time 35829586753, :index 7760}
{:type :invoke, :f :read, :value nil, :process 24, :time 35832028746, :index 7762}
{:type :ok, :f :write, :value 3, :process 28, :time 35834771097, :index 7765}
{:type :ok, :f :read, :value 3, :process 24, :time 35836430242, :index 7766}
{:type :invoke, :f :write, :value 1, :process 5, :time 35839451234, :index 7768}
{:type :invoke, :f :read, :value nil, :process 26, :time 35840265078, :index 7769}
{:type :ok, :f :write, :value 1, :process 5, :time 35843337374, :index 7770}
{:type :ok, :f :read, :value 1, :process 26, :time 35845296028, :index 7771}
{:type :invoke, :f :cas, :value [1 4], :process 22, :time 35848354544, :index 7773}
{:type :ok, :f :cas, :value [1 4], :process 22, :time 35853388272, :index 7775}
{:type :invoke, :f :cas, :value [1 1], :process 9, :time 35873974337, :index 7781}
{:type :invoke, :f :write, :value 2, :process 47, :time 35875832901, :index 7782}
{:type :fail, :f :cas, :value [1 1], :process 9, :time 35879313038, :index 7785}
{:type :ok, :f :write, :value 2, :process 47, :time 35881560820, :index 7787}
{:type :invoke, :f :cas, :value [2 2], :process 9, :time 35882604159, :index 7788}
{:type :ok, :f :cas, :value [2 2], :process 9, :time 35887902567, :index 7789}
{:type :invoke, :f :write, :value 2, :process 0, :time 35892043739, :index 7791}
{:type :ok, :f :write, :value 2, :process 0, :time 35896919079, :index 7792}
{:type :invoke, :f :write, :value 2, :process 9, :time 35917171362, :index 7799}
{:type :invoke, :f :write, :value 2, :process 24, :time 35921688650, :index 7801}
{:type :invoke, :f :cas, :value [1 3], :process 43, :time 35922910432, :index 7803}
{:type :ok, :f :write, :value 2, :process 9, :time 35924115130, :index 7804}
{:type :ok, :f :write, :value 2, :process 24, :time 35927431613, :index 7807}
{:type :invoke, :f :cas, :value [2 0], :process 26, :time 35927955874, :index 7808}
{:type :fail, :f :cas, :value [1 3], :process 43, :time 35928147813, :index 7809}
{:type :ok, :f :cas, :value [2 0], :process 26, :time 35933621459, :index 7811}
{:type :invoke, :f :cas, :value [1 3], :process 22, :time 35937642945, :index 7812}
{:type :fail, :f :cas, :value [1 3], :process 22, :time 35943114552, :index 7813}
{:type :invoke, :f :cas, :value [1 4], :process 1, :time 35945565797, :index 7814}
{:type :fail, :f :cas, :value [1 4], :process 1, :time 35951212561, :index 7816}
{:type :invoke, :f :write, :value 2, :process 43, :time 35965417771, :index 7822}
{:type :ok, :f :write, :value 2, :process 43, :time 35970664589, :index 7823}
{:type :invoke, :f :cas, :value [4 3], :process 9, :time 35975412226, :index 7824}
{:type :invoke, :f :write, :value 0, :process 5, :time 35977601633, :index 7825}
{:type :ok, :f :write, :value 0, :process 5, :time 35981996556, :index 7827}
{:type :fail, :f :cas, :value [4 3], :process 9, :time 35982185648, :index 7828}
{:type :invoke, :f :write, :value 0, :process 26, :time 35990838161, :index 7832}
{:type :ok, :f :write, :value 0, :process 26, :time 35995724900, :index 7833}
{:type :invoke, :f :write, :value 2, :process 26, :time 35998979737, :index 7834}
{:type :invoke, :f :write, :value 2, :process 5, :time 35999273129, :index 7835}
{:type :ok, :f :write, :value 2, :process 26, :time 36003964721, :index 7836}
{:type :ok, :f :write, :value 2, :process 5, :time 36004403178, :index 7837}
{:type :invoke, :f :write, :value 1, :process 1, :time 36010474105, :index 7838}
{:type :ok, :f :write, :value 1, :process 1, :time 36015140512, :index 7839}
{:type :invoke, :f :write, :value 1, :process 47, :time 36015814203, :index 7840}
{:type :ok, :f :write, :value 1, :process 47, :time 36020672781, :index 7841}
{:type :invoke, :f :read, :value nil, :process 28, :time 36026022329, :index 7843}
{:type :ok, :f :read, :value 1, :process 28, :time 36030979093, :index 7845}
{:type :invoke, :f :cas, :value [0 0], :process 5, :time 36041636388, :index 7848}
{:type :fail, :f :cas, :value [0 0], :process 5, :time 36046936921, :index 7849}
{:type :invoke, :f :cas, :value [3 4], :process 9, :time 36049431564, :index 7850}
{:type :fail, :f :cas, :value [3 4], :process 9, :time 36054783993, :index 7853}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 36068379506, :index 7859}
{:type :invoke, :f :write, :value 2, :process 24, :time 36070444833, :index 7861}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 36073293029, :index 7862}
{:type :ok, :f :write, :value 2, :process 24, :time 36074791439, :index 7863}
{:type :invoke, :f :write, :value 4, :process 9, :time 36093030358, :index 7870}
{:type :invoke, :f :write, :value 0, :process 0, :time 36095206122, :index 7871}
{:type :ok, :f :write, :value 4, :process 9, :time 36099798613, :index 7873}
{:type :invoke, :f :read, :value nil, :process 43, :time 36100923434, :index 7874}
{:type :ok, :f :write, :value 0, :process 0, :time 36101574489, :index 7875}
{:type :ok, :f :read, :value 0, :process 43, :time 36108115563, :index 7880}
{:type :invoke, :f :read, :value nil, :process 26, :time 36124235834, :index 7885}
{:type :ok, :f :read, :value 0, :process 26, :time 36128851267, :index 7887}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :invoke, :f :read, :value nil, :process 5, :time 36136208443, :index 7889}
{:type :ok, :f :read, :value 0, :process 5, :time 36141056549, :index 7890}
{:type :invoke, :f :write, :value 0, :process 1, :time 36157409818, :index 7893}
{:type :invoke, :f :cas, :value [1 0], :process 28, :time 36160236822, :index 7894}
{:type :invoke, :f :read, :value nil, :process 26, :time 36186106468, :index 7896}
{:type :invoke, :f :read, :value nil, :process 47, :time 36197933757, :index 7899}
{:type :invoke, :f :read, :value nil, :process 5, :time 36198335461, :index 7900}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :invoke, :f :write, :value 2, :process 9, :time 36239066730, :index 7904}
{:type :invoke, :f :read, :value nil, :process 24, :time 36254049392, :index 7905}
{:type :invoke, :f :write, :value 2, :process 22, :time 36265572707, :index 7907}
{:type :invoke, :f :read, :value nil, :process 43, :time 36269432313, :index 7908}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 36284824067, :index 7911}
{:type :ok, :f :read, :value 0, :process 5, :time 36676489115, :index 7912}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 36677054116, :index 7914}
{:type :ok, :f :read, :value 0, :process 26, :time 36677676792, :index 7916}
{:type :ok, :f :write, :value 0, :process 1, :time 36678029817, :index 7917}
{:type :ok, :f :read, :value 0, :process 47, :time 36678960102, :index 7922}
{:type :ok, :f :write, :value 2, :process 22, :time 36679063245, :index 7923}
{:type :invoke, :f :write, :value 4, :process 22, :time 36717352877, :index 7924}
{:type :ok, :f :write, :value 4, :process 22, :time 36723403461, :index 7926}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 36730874295, :index 7928}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 36736352863, :index 7929}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 36746394028, :index 7931}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 36752800537, :index 7934}
{:type :invoke, :f :read, :value nil, :process 5, :time 36786656708, :index 7936}
{:type :invoke, :f :read, :value nil, :process 26, :time 36788965226, :index 7937}
{:type :ok, :f :read, :value 4, :process 5, :time 36791830616, :index 7938}
{:type :ok, :f :read, :value 4, :process 26, :time 36794366780, :index 7939}
{:type :invoke, :f :write, :value 1, :process 0, :time 36797130881, :index 7940}
{:type :ok, :f :write, :value 1, :process 0, :time 36803169901, :index 7941}
{:type :invoke, :f :write, :value 4, :process 1, :time 36820374630, :index 7946}
{:type :ok, :f :write, :value 4, :process 1, :time 36826714046, :index 7948}
{:type :invoke, :f :read, :value nil, :process 47, :time 36848220862, :index 7950}
{:type :ok, :f :read, :value 4, :process 47, :time 36854391315, :index 7951}
{:type :invoke, :f :write, :value 1, :process 1, :time 36858015822, :index 7952}
{:type :ok, :f :write, :value 1, :process 1, :time 36863604309, :index 7953}
{:type :invoke, :f :write, :value 3, :process 26, :time 36863646288, :index 7954}
{:type :ok, :f :write, :value 3, :process 26, :time 36870134228, :index 7956}
{:type :invoke, :f :read, :value nil, :process 47, :time 36881682682, :index 7960}
{:type :ok, :f :read, :value 3, :process 47, :time 36887120221, :index 7961}
{:type :invoke, :f :cas, :value [0 3], :process 22, :time 36887705051, :index 7962}
{:type :fail, :f :cas, :value [0 3], :process 22, :time 36893228352, :index 7963}
{:type :invoke, :f :cas, :value [1 3], :process 1, :time 36893447368, :index 7964}
{:type :fail, :f :cas, :value [1 3], :process 1, :time 36899375907, :index 7965}
{:type :invoke, :f :write, :value 2, :process 0, :time 36924457443, :index 7968}
{:type :ok, :f :write, :value 2, :process 0, :time 36929891711, :index 7970}
{:type :invoke, :f :cas, :value [2 1], :process 5, :time 36946165975, :index 7974}
{:type :ok, :f :cas, :value [2 1], :process 5, :time 36950479169, :index 7975}
{:type :invoke, :f :write, :value 3, :process 26, :time 36975436067, :index 7978}
{:type :ok, :f :write, :value 3, :process 26, :time 36982111345, :index 7980}
{:type :invoke, :f :write, :value 2, :process 22, :time 37026539072, :index 7988}
{:type :ok, :f :write, :value 2, :process 22, :time 37031794347, :index 7989}
{:type :invoke, :f :read, :value nil, :process 47, :time 37047426168, :index 7992}
{:type :ok, :f :read, :value 2, :process 47, :time 37054267042, :index 7995}
{:type :invoke, :f :read, :value nil, :process 1, :time 37064674009, :index 8001}
{:type :ok, :f :read, :value 2, :process 1, :time 37070304735, :index 8004}
{:type :info, :f :cas, :value [1 0], :process 28, :time 41164654837, :error :timeout, :index 8726}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :write, :value 2, :process 9, :time 41244487516, :error :timeout, :index 8750}
{:type :fail, :f :read, :value nil, :process 24, :time 41260492017, :error :timeout, :index 8756}
{:type :fail, :f :read, :value nil, :process 43, :time 41272518116, :error :timeout, :index 8763}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
