{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :invoke, :f :read, :value nil, :process 7, :time 55209624133, :index 19514}
{:type :fail, :f :read, :value nil, :process 7, :time 55211421377, :error :connect, :index 19515}
{:type :invoke, :f :cas, :value [4 3], :process 29, :time 55256105179, :index 19532}
{:type :fail, :f :cas, :value [4 3], :process 29, :time 55257661319, :error :connect, :index 19533}
{:type :invoke, :f :read, :value nil, :process 29, :time 55263939140, :index 19538}
{:type :fail, :f :read, :value nil, :process 29, :time 55266129878, :error :connect, :index 19540}
{:type :invoke, :f :write, :value 4, :process 6, :time 55282005064, :index 19544}
{:type :fail, :f :write, :value 4, :process 6, :time 55283756761, :error :connect, :index 19545}
{:type :invoke, :f :write, :value 2, :process 8, :time 55284207729, :index 19546}
{:type :fail, :f :write, :value 2, :process 8, :time 55286262558, :error :connect, :index 19547}
{:type :invoke, :f :read, :value nil, :process 4, :time 55288917930, :index 19548}
{:type :fail, :f :read, :value nil, :process 4, :time 55290661213, :error :connect, :index 19549}
{:type :invoke, :f :cas, :value [3 4], :process 21, :time 55321358531, :index 19551}
{:type :fail, :f :cas, :value [3 4], :process 21, :time 55323457255, :error :connect, :index 19553}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 55353596972, :index 19564}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 55355358769, :error :connect, :index 19566}
{:type :invoke, :f :write, :value 1, :process 0, :time 55356276430, :index 19568}
{:type :fail, :f :write, :value 1, :process 0, :time 55358119198, :error :connect, :index 19569}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 55359096379, :index 19570}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 55360905280, :error :connect, :index 19571}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 55367522369, :index 19572}
{:type :fail, :f :cas, :value [3 3], :process 8, :time 55369621594, :error :connect, :index 19573}
{:type :invoke, :f :write, :value 2, :process 3, :time 55374176973, :index 19575}
{:type :fail, :f :write, :value 2, :process 3, :time 55376068936, :error :connect, :index 19577}
{:type :invoke, :f :write, :value 2, :process 6, :time 55377029241, :index 19579}
{:type :fail, :f :write, :value 2, :process 6, :time 55379040224, :error :connect, :index 19581}
{:type :invoke, :f :read, :value nil, :process 7, :time 55385709695, :index 19584}
{:type :fail, :f :read, :value nil, :process 7, :time 55387342017, :error :connect, :index 19585}
{:type :invoke, :f :write, :value 4, :process 5, :time 55389979192, :index 19586}
{:type :fail, :f :write, :value 4, :process 5, :time 55391965802, :error :connect, :index 19587}
{:type :invoke, :f :read, :value nil, :process 3, :time 55405319569, :index 19592}
{:type :fail, :f :read, :value nil, :process 3, :time 55407232312, :error :connect, :index 19593}
{:type :invoke, :f :read, :value nil, :process 8, :time 55415883364, :index 19597}
{:type :fail, :f :read, :value nil, :process 8, :time 55417869032, :error :connect, :index 19599}
{:type :invoke, :f :write, :value 4, :process 0, :time 55451374432, :index 19604}
{:type :fail, :f :write, :value 4, :process 0, :time 55453175647, :error :connect, :index 19605}
{:type :invoke, :f :write, :value 0, :process 29, :time 55455460372, :index 19606}
{:type :fail, :f :write, :value 0, :process 29, :time 55457319963, :error :connect, :index 19607}
{:type :invoke, :f :read, :value nil, :process 0, :time 55468436004, :index 19611}
{:type :fail, :f :read, :value nil, :process 0, :time 55470290390, :error :connect, :index 19613}
{:type :invoke, :f :write, :value 4, :process 3, :time 55477490897, :index 19614}
{:type :fail, :f :write, :value 4, :process 3, :time 55479120211, :error :connect, :index 19615}
{:type :invoke, :f :write, :value 3, :process 4, :time 55482964004, :index 19616}
{:type :fail, :f :write, :value 3, :process 4, :time 55484983564, :error :connect, :index 19617}
{:type :invoke, :f :write, :value 1, :process 21, :time 55488728521, :index 19618}
{:type :fail, :f :write, :value 1, :process 21, :time 55490618739, :error :connect, :index 19619}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 55503610294, :index 19622}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 55505274847, :error :connect, :index 19623}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 55517283248, :index 19629}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 55519050636, :error :connect, :index 19630}
{:type :invoke, :f :read, :value nil, :process 5, :time 55522231730, :index 19633}
{:type :invoke, :f :cas, :value [3 4], :process 21, :time 55522902860, :index 19634}
{:type :fail, :f :read, :value nil, :process 5, :time 55524321582, :error :connect, :index 19636}
{:type :fail, :f :cas, :value [3 4], :process 21, :time 55524773795, :error :connect, :index 19637}
{:type :invoke, :f :read, :value nil, :process 4, :time 55525244955, :index 19638}
{:type :fail, :f :read, :value nil, :process 4, :time 55526977731, :error :connect, :index 19639}
{:type :invoke, :f :read, :value nil, :process 21, :time 55540025349, :index 19642}
{:type :fail, :f :read, :value nil, :process 21, :time 55541670953, :error :connect, :index 19643}
{:type :invoke, :f :cas, :value [0 1], :process 21, :time 55553934091, :index 19646}
{:type :fail, :f :cas, :value [0 1], :process 21, :time 55555812111, :error :connect, :index 19648}
{:type :invoke, :f :read, :value nil, :process 7, :time 55562603969, :index 19651}
{:type :fail, :f :read, :value nil, :process 7, :time 55564449550, :error :connect, :index 19653}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 55566580655, :index 19654}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 55568428165, :error :connect, :index 19655}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 55591540454, :index 19659}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 55593659166, :error :connect, :index 19661}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 55594243439, :index 19662}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 55596027044, :error :connect, :index 19664}
{:type :invoke, :f :read, :value nil, :process 29, :time 55598580836, :index 19666}
{:type :fail, :f :read, :value nil, :process 29, :time 55600349403, :error :connect, :index 19667}
{:type :invoke, :f :write, :value 3, :process 8, :time 55601129358, :index 19668}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 55601390021, :index 19669}
{:type :fail, :f :write, :value 3, :process 8, :time 55603135228, :error :connect, :index 19670}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 55603388968, :error :connect, :index 19671}
{:type :invoke, :f :read, :value nil, :process 6, :time 55634330285, :index 19674}
{:type :fail, :f :read, :value nil, :process 6, :time 55636262363, :error :connect, :index 19675}
{:type :invoke, :f :read, :value nil, :process 7, :time 55643712088, :index 19676}
{:type :fail, :f :read, :value nil, :process 7, :time 55645560609, :error :connect, :index 19677}
{:type :invoke, :f :read, :value nil, :process 21, :time 55691066253, :index 19698}
{:type :invoke, :f :write, :value 2, :process 22, :time 55691825743, :index 19700}
{:type :fail, :f :read, :value nil, :process 21, :time 55692924235, :error :connect, :index 19701}
{:type :fail, :f :write, :value 2, :process 22, :time 55693630232, :error :connect, :index 19703}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 55706419681, :index 19706}
{:type :invoke, :f :cas, :value [3 4], :process 5, :time 55706708411, :index 19707}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 55708631625, :error :connect, :index 19708}
{:type :fail, :f :cas, :value [3 4], :process 5, :time 55708925775, :error :connect, :index 19709}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 55720922689, :index 19712}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 55722941448, :error :connect, :index 19713}
{:type :invoke, :f :read, :value nil, :process 8, :time 55726929397, :index 19714}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 55728296377, :index 19715}
{:type :fail, :f :read, :value nil, :process 8, :time 55729223343, :error :connect, :index 19717}
{:type :fail, :f :cas, :value [1 4], :process 4, :time 55730431809, :error :connect, :index 19719}
{:type :invoke, :f :write, :value 0, :process 29, :time 55751630199, :index 19726}
{:type :fail, :f :write, :value 0, :process 29, :time 55753257467, :error :connect, :index 19727}
{:type :invoke, :f :cas, :value [0 3], :process 7, :time 55755839107, :index 19729}
{:type :invoke, :f :write, :value 1, :process 3, :time 55756637711, :index 19730}
{:type :invoke, :f :write, :value 3, :process 22, :time 55756884923, :index 19731}
{:type :invoke, :f :read, :value nil, :process 29, :time 55757567360, :index 19732}
{:type :fail, :f :cas, :value [0 3], :process 7, :time 55758105228, :error :connect, :index 19734}
{:type :fail, :f :write, :value 1, :process 3, :time 55758432937, :error :connect, :index 19735}
{:type :fail, :f :write, :value 3, :process 22, :time 55758973728, :error :connect, :index 19736}
{:type :fail, :f :read, :value nil, :process 29, :time 55759521371, :error :connect, :index 19737}
{:type :invoke, :f :cas, :value [2 3], :process 7, :time 55770727569, :index 19738}
{:type :fail, :f :cas, :value [2 3], :process 7, :time 55772501670, :error :connect, :index 19739}
{:type :invoke, :f :write, :value 3, :process 4, :time 55774644416, :index 19740}
{:type :fail, :f :write, :value 3, :process 4, :time 55776428202, :error :connect, :index 19742}
{:type :invoke, :f :cas, :value [0 2], :process 6, :time 55807527785, :index 19746}
{:type :fail, :f :cas, :value [0 2], :process 6, :time 55809416848, :error :connect, :index 19747}
{:type :invoke, :f :write, :value 4, :process 5, :time 55817176559, :index 19749}
{:type :fail, :f :write, :value 4, :process 5, :time 55818979222, :error :connect, :index 19751}
{:type :invoke, :f :read, :value nil, :process 0, :time 55858206403, :index 19758}
{:type :fail, :f :read, :value nil, :process 0, :time 55860289043, :error :connect, :index 19759}
{:type :invoke, :f :read, :value nil, :process 29, :time 55862781655, :index 19760}
{:type :fail, :f :read, :value nil, :process 29, :time 55864822597, :error :connect, :index 19761}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 55874778917, :index 19767}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 55876681699, :error :connect, :index 19769}
{:type :invoke, :f :cas, :value [0 3], :process 21, :time 55884209902, :index 19772}
{:type :fail, :f :cas, :value [0 3], :process 21, :time 55886127519, :error :connect, :index 19775}
{:type :invoke, :f :read, :value nil, :process 5, :time 55905237671, :index 19780}
{:type :fail, :f :read, :value nil, :process 5, :time 55907096586, :error :connect, :index 19781}
{:type :invoke, :f :read, :value nil, :process 8, :time 55919485264, :index 19785}
{:type :fail, :f :read, :value nil, :process 8, :time 55921527181, :error :connect, :index 19787}
{:type :invoke, :f :cas, :value [3 4], :process 22, :time 55944233425, :index 19794}
{:type :fail, :f :cas, :value [3 4], :process 22, :time 55945838146, :error :connect, :index 19795}
{:type :invoke, :f :write, :value 1, :process 29, :time 55950058868, :index 19796}
{:type :fail, :f :write, :value 1, :process 29, :time 55951867485, :error :connect, :index 19798}
{:type :invoke, :f :write, :value 1, :process 4, :time 55952692793, :index 19799}
{:type :fail, :f :write, :value 1, :process 4, :time 55954505339, :error :connect, :index 19802}
{:type :invoke, :f :read, :value nil, :process 3, :time 55954720673, :index 19803}
{:type :fail, :f :read, :value nil, :process 3, :time 55956830772, :error :connect, :index 19805}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 55989553824, :index 19816}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 55991697274, :error :connect, :index 19818}
{:type :invoke, :f :cas, :value [2 3], :process 29, :time 55994161784, :index 19820}
{:type :fail, :f :cas, :value [2 3], :process 29, :time 55996220346, :error :connect, :index 19821}
{:type :invoke, :f :read, :value nil, :process 6, :time 55997690084, :index 19822}
{:type :fail, :f :read, :value nil, :process 6, :time 55999477073, :error :connect, :index 19823}
{:type :invoke, :f :write, :value 2, :process 21, :time 56028415088, :index 19827}
{:type :fail, :f :write, :value 2, :process 21, :time 56030654814, :error :connect, :index 19829}
{:type :invoke, :f :write, :value 3, :process 22, :time 56034128269, :index 19830}
{:type :invoke, :f :write, :value 3, :process 0, :time 56034976999, :index 19831}
{:type :fail, :f :write, :value 3, :process 22, :time 56035963411, :error :connect, :index 19832}
{:type :fail, :f :write, :value 3, :process 0, :time 56036983976, :error :connect, :index 19833}
{:type :invoke, :f :write, :value 4, :process 4, :time 56043770562, :index 19834}
{:type :fail, :f :write, :value 4, :process 4, :time 56045835703, :error :connect, :index 19835}
{:type :invoke, :f :cas, :value [2 0], :process 21, :time 56058939055, :index 19838}
{:type :fail, :f :cas, :value [2 0], :process 21, :time 56061009651, :error :connect, :index 19839}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 56061380950, :index 19840}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 56063448370, :error :connect, :index 19841}
{:type :invoke, :f :write, :value 1, :process 7, :time 56067943246, :index 19842}
{:type :fail, :f :write, :value 1, :process 7, :time 56069782977, :error :connect, :index 19843}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 56070794394, :index 19844}
{:type :invoke, :f :read, :value nil, :process 6, :time 56071742912, :index 19845}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 56072745809, :error :connect, :index 19846}
{:type :fail, :f :read, :value nil, :process 6, :time 56073557749, :error :connect, :index 19847}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 56074062405, :index 19849}
{:type :invoke, :f :write, :value 3, :process 3, :time 56075096875, :index 19851}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 56076128812, :error :connect, :index 19853}
{:type :fail, :f :write, :value 3, :process 3, :time 56077064198, :error :connect, :index 19855}
{:type :invoke, :f :read, :value nil, :process 0, :time 56094246848, :index 19858}
{:type :fail, :f :read, :value nil, :process 0, :time 56096169763, :error :connect, :index 19861}
{:type :invoke, :f :read, :value nil, :process 6, :time 56102730468, :index 19864}
{:type :fail, :f :read, :value nil, :process 6, :time 56104633699, :error :connect, :index 19865}
{:type :invoke, :f :read, :value nil, :process 4, :time 56128094263, :index 19868}
{:type :invoke, :f :read, :value nil, :process 3, :time 56128307698, :index 19869}
{:type :fail, :f :read, :value nil, :process 3, :time 56130010890, :error :connect, :index 19870}
{:type :fail, :f :read, :value nil, :process 4, :time 56130308520, :error :connect, :index 19871}
{:type :invoke, :f :read, :value nil, :process 6, :time 56153893806, :index 19876}
{:type :fail, :f :read, :value nil, :process 6, :time 56155667042, :error :connect, :index 19877}
{:type :invoke, :f :write, :value 2, :process 29, :time 56165491066, :index 19880}
{:type :fail, :f :write, :value 2, :process 29, :time 56167311282, :error :connect, :index 19881}
{:type :invoke, :f :read, :value nil, :process 22, :time 56182230395, :index 19886}
{:type :fail, :f :read, :value nil, :process 22, :time 56183854869, :error :connect, :index 19887}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 56184442649, :index 19888}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 56186478645, :error :connect, :index 19889}
{:type :invoke, :f :write, :value 4, :process 7, :time 56190370238, :index 19890}
{:type :fail, :f :write, :value 4, :process 7, :time 56192223245, :error :connect, :index 19891}
{:type :invoke, :f :read, :value nil, :process 21, :time 56205272591, :index 19892}
{:type :fail, :f :read, :value nil, :process 21, :time 56207163505, :error :connect, :index 19893}
{:type :invoke, :f :cas, :value [0 3], :process 7, :time 56212481662, :index 19896}
{:type :fail, :f :cas, :value [0 3], :process 7, :time 56214317817, :error :connect, :index 19897}
{:type :invoke, :f :cas, :value [1 3], :process 5, :time 56219714737, :index 19898}
{:type :fail, :f :cas, :value [1 3], :process 5, :time 56221601831, :error :connect, :index 19899}
{:type :invoke, :f :write, :value 2, :process 8, :time 56238016037, :index 19902}
{:type :fail, :f :write, :value 2, :process 8, :time 56239678801, :error :connect, :index 19903}
{:type :invoke, :f :write, :value 2, :process 3, :time 56259315526, :index 19910}
{:type :fail, :f :write, :value 2, :process 3, :time 56261478101, :error :connect, :index 19912}
{:type :invoke, :f :cas, :value [3 3], :process 21, :time 56277425650, :index 19918}
{:type :fail, :f :cas, :value [3 3], :process 21, :time 56279324227, :error :connect, :index 19919}
{:type :invoke, :f :write, :value 4, :process 0, :time 56300738589, :index 19924}
{:type :fail, :f :write, :value 4, :process 0, :time 56302824411, :error :connect, :index 19926}
{:type :invoke, :f :write, :value 1, :process 4, :time 56324556235, :index 19932}
{:type :fail, :f :write, :value 1, :process 4, :time 56326438411, :error :connect, :index 19934}
{:type :invoke, :f :read, :value nil, :process 22, :time 56329117200, :index 19936}
{:type :invoke, :f :read, :value nil, :process 29, :time 56330586184, :index 19938}
{:type :fail, :f :read, :value nil, :process 22, :time 56331248604, :error :connect, :index 19939}
{:type :fail, :f :read, :value nil, :process 29, :time 56332453999, :error :connect, :index 19941}
{:type :invoke, :f :cas, :value [3 0], :process 6, :time 56349929578, :index 19944}
{:type :fail, :f :cas, :value [3 0], :process 6, :time 56352200498, :error :connect, :index 19946}
{:type :invoke, :f :read, :value nil, :process 7, :time 56374586344, :index 19957}
{:type :fail, :f :read, :value nil, :process 7, :time 56376598405, :error :connect, :index 19960}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
