{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :invoke, :f :cas, :value [0 2], :process 33, :time 17038300781, :index 4426}
{:type :fail, :f :cas, :value [0 2], :process 33, :time 17040160445, :error :connect, :index 4427}
{:type :invoke, :f :cas, :value [0 4], :process 33, :time 17159439223, :index 4477}
{:type :fail, :f :cas, :value [0 4], :process 33, :time 17161216869, :error :connect, :index 4479}
{:type :invoke, :f :read, :value nil, :process 18, :time 17171053689, :index 4485}
{:type :fail, :f :read, :value nil, :process 18, :time 17172984490, :error :connect, :index 4487}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 17176072702, :index 4489}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 17177767316, :error :connect, :index 4490}
{:type :invoke, :f :cas, :value [4 1], :process 32, :time 17186451496, :index 4496}
{:type :fail, :f :cas, :value [4 1], :process 32, :time 17188487786, :error :connect, :index 4498}
{:type :invoke, :f :cas, :value [3 3], :process 34, :time 17204862804, :index 4502}
{:type :fail, :f :cas, :value [3 3], :process 34, :time 17206424356, :error :connect, :index 4503}
{:type :invoke, :f :read, :value nil, :process 15, :time 17215523411, :index 4506}
{:type :fail, :f :read, :value nil, :process 15, :time 17217404149, :error :connect, :index 4507}
{:type :invoke, :f :write, :value 0, :process 18, :time 17218241075, :index 4508}
{:type :fail, :f :write, :value 0, :process 18, :time 17219880880, :error :connect, :index 4510}
{:type :invoke, :f :cas, :value [0 3], :process 34, :time 17249689827, :index 4514}
{:type :invoke, :f :write, :value 4, :process 33, :time 17251480550, :index 4515}
{:type :fail, :f :cas, :value [0 3], :process 34, :time 17251782268, :error :connect, :index 4516}
{:type :fail, :f :write, :value 4, :process 33, :time 17253651590, :error :connect, :index 4517}
{:type :invoke, :f :read, :value nil, :process 10, :time 17264885357, :index 4518}
{:type :fail, :f :read, :value nil, :process 10, :time 17266836904, :error :connect, :index 4519}
{:type :invoke, :f :cas, :value [0 0], :process 39, :time 17272344375, :index 4520}
{:type :invoke, :f :cas, :value [4 0], :process 37, :time 17273513218, :index 4521}
{:type :fail, :f :cas, :value [0 0], :process 39, :time 17273991726, :error :connect, :index 4522}
{:type :fail, :f :cas, :value [4 0], :process 37, :time 17275572363, :error :connect, :index 4523}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 17280840890, :index 4528}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 17282442830, :error :connect, :index 4529}
{:type :invoke, :f :write, :value 0, :process 32, :time 17297773854, :index 4532}
{:type :fail, :f :write, :value 0, :process 32, :time 17299556534, :error :connect, :index 4533}
{:type :invoke, :f :cas, :value [1 2], :process 36, :time 17301296816, :index 4534}
{:type :fail, :f :cas, :value [1 2], :process 36, :time 17303160870, :error :connect, :index 4535}
{:type :invoke, :f :cas, :value [0 1], :process 15, :time 17318661676, :index 4540}
{:type :fail, :f :cas, :value [0 1], :process 15, :time 17320296563, :error :connect, :index 4541}
{:type :invoke, :f :write, :value 3, :process 15, :time 17327605703, :index 4542}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 17328924493, :index 4544}
{:type :fail, :f :write, :value 3, :process 15, :time 17329448910, :error :connect, :index 4545}
{:type :fail, :f :cas, :value [0 3], :process 33, :time 17331278547, :error :connect, :index 4547}
{:type :invoke, :f :read, :value nil, :process 10, :time 17331355801, :index 4548}
{:type :fail, :f :read, :value nil, :process 10, :time 17333458960, :error :connect, :index 4549}
{:type :invoke, :f :read, :value nil, :process 37, :time 17356707549, :index 4552}
{:type :fail, :f :read, :value nil, :process 37, :time 17358304473, :error :connect, :index 4553}
{:type :invoke, :f :write, :value 0, :process 11, :time 17369048073, :index 4556}
{:type :fail, :f :write, :value 0, :process 11, :time 17370875872, :error :connect, :index 4557}
{:type :invoke, :f :read, :value nil, :process 15, :time 17379717350, :index 4566}
{:type :fail, :f :read, :value nil, :process 15, :time 17381561826, :error :connect, :index 4567}
{:type :invoke, :f :read, :value nil, :process 18, :time 17389137000, :index 4568}
{:type :fail, :f :read, :value nil, :process 18, :time 17390918650, :error :connect, :index 4569}
{:type :invoke, :f :read, :value nil, :process 34, :time 17403024978, :index 4572}
{:type :fail, :f :read, :value nil, :process 34, :time 17405071021, :error :connect, :index 4573}
{:type :invoke, :f :write, :value 0, :process 15, :time 17420822526, :index 4580}
{:type :invoke, :f :read, :value nil, :process 39, :time 17421258881, :index 4581}
{:type :fail, :f :write, :value 0, :process 15, :time 17422733537, :error :connect, :index 4582}
{:type :fail, :f :read, :value nil, :process 39, :time 17423012151, :error :connect, :index 4583}
{:type :invoke, :f :write, :value 3, :process 15, :time 17441953005, :index 4584}
{:type :fail, :f :write, :value 3, :process 15, :time 17443999382, :error :connect, :index 4585}
{:type :invoke, :f :read, :value nil, :process 37, :time 17470569179, :index 4594}
{:type :invoke, :f :cas, :value [2 0], :process 36, :time 17471434707, :index 4595}
{:type :fail, :f :read, :value nil, :process 37, :time 17472206965, :error :connect, :index 4596}
{:type :fail, :f :cas, :value [2 0], :process 36, :time 17473480822, :error :connect, :index 4597}
{:type :invoke, :f :write, :value 4, :process 32, :time 17477832390, :index 4601}
{:type :fail, :f :write, :value 4, :process 32, :time 17479887832, :error :connect, :index 4602}
{:type :invoke, :f :write, :value 3, :process 11, :time 17482148709, :index 4604}
{:type :invoke, :f :read, :value nil, :process 36, :time 17483738148, :index 4605}
{:type :fail, :f :write, :value 3, :process 11, :time 17484160172, :error :connect, :index 4606}
{:type :fail, :f :read, :value nil, :process 36, :time 17485703509, :error :connect, :index 4607}
{:type :invoke, :f :cas, :value [4 2], :process 32, :time 17501175177, :index 4608}
{:type :fail, :f :cas, :value [4 2], :process 32, :time 17503036272, :error :connect, :index 4609}
{:type :invoke, :f :read, :value nil, :process 33, :time 17514637549, :index 4612}
{:type :fail, :f :read, :value nil, :process 33, :time 17516444565, :error :connect, :index 4613}
{:type :invoke, :f :write, :value 2, :process 10, :time 17527722771, :index 4615}
{:type :fail, :f :write, :value 2, :process 10, :time 17529980423, :error :connect, :index 4618}
{:type :invoke, :f :read, :value nil, :process 36, :time 17529977470, :index 4619}
{:type :fail, :f :read, :value nil, :process 36, :time 17531886431, :error :connect, :index 4621}
{:type :invoke, :f :read, :value nil, :process 37, :time 17536473309, :index 4622}
{:type :fail, :f :read, :value nil, :process 37, :time 17538255179, :error :connect, :index 4623}
{:type :invoke, :f :write, :value 3, :process 10, :time 17547317507, :index 4626}
{:type :fail, :f :write, :value 3, :process 10, :time 17549385755, :error :connect, :index 4627}
{:type :invoke, :f :cas, :value [0 4], :process 34, :time 17556366310, :index 4630}
{:type :fail, :f :cas, :value [0 4], :process 34, :time 17558196196, :error :connect, :index 4633}
{:type :invoke, :f :write, :value 2, :process 34, :time 17567445213, :index 4636}
{:type :fail, :f :write, :value 2, :process 34, :time 17569229784, :error :connect, :index 4637}
{:type :invoke, :f :write, :value 3, :process 18, :time 17583200133, :index 4646}
{:type :fail, :f :write, :value 3, :process 18, :time 17585095284, :error :connect, :index 4649}
{:type :invoke, :f :read, :value nil, :process 15, :time 17587267353, :index 4651}
{:type :fail, :f :read, :value nil, :process 15, :time 17589008029, :error :connect, :index 4653}
{:type :invoke, :f :cas, :value [3 1], :process 11, :time 17597409735, :index 4654}
{:type :fail, :f :cas, :value [3 1], :process 11, :time 17599063295, :error :connect, :index 4655}
{:type :invoke, :f :write, :value 0, :process 39, :time 17608230717, :index 4658}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 17609711589, :index 4659}
{:type :fail, :f :write, :value 0, :process 39, :time 17610076550, :error :connect, :index 4660}
{:type :fail, :f :cas, :value [0 3], :process 33, :time 17611889718, :error :connect, :index 4661}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 17624595527, :index 4666}
{:type :fail, :f :cas, :value [3 0], :process 10, :time 17626216615, :error :connect, :index 4667}
{:type :invoke, :f :cas, :value [4 4], :process 18, :time 17627363899, :index 4668}
{:type :fail, :f :cas, :value [4 4], :process 18, :time 17629193971, :error :connect, :index 4669}
{:type :invoke, :f :cas, :value [3 4], :process 33, :time 17638155361, :index 4672}
{:type :fail, :f :cas, :value [3 4], :process 33, :time 17639810051, :error :connect, :index 4673}
{:type :invoke, :f :write, :value 3, :process 37, :time 17672521586, :index 4680}
{:type :fail, :f :write, :value 3, :process 37, :time 17674139905, :error :connect, :index 4681}
{:type :invoke, :f :cas, :value [4 2], :process 32, :time 17683301680, :index 4684}
{:type :fail, :f :cas, :value [4 2], :process 32, :time 17685377346, :error :connect, :index 4685}
{:type :invoke, :f :read, :value nil, :process 36, :time 17690136692, :index 4686}
{:type :fail, :f :read, :value nil, :process 36, :time 17691966265, :error :connect, :index 4687}
{:type :invoke, :f :write, :value 4, :process 10, :time 17695498992, :index 4688}
{:type :fail, :f :write, :value 4, :process 10, :time 17697637578, :error :connect, :index 4690}
{:type :invoke, :f :cas, :value [0 3], :process 15, :time 17714268862, :index 4695}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 17715923542, :index 4697}
{:type :fail, :f :cas, :value [0 3], :process 15, :time 17716141885, :error :connect, :index 4698}
{:type :fail, :f :cas, :value [1 2], :process 10, :time 17717990551, :error :connect, :index 4699}
{:type :invoke, :f :write, :value 1, :process 11, :time 17721328350, :index 4700}
{:type :fail, :f :write, :value 1, :process 11, :time 17722994103, :error :connect, :index 4701}
{:type :invoke, :f :write, :value 0, :process 32, :time 17727635912, :index 4702}
{:type :fail, :f :write, :value 0, :process 32, :time 17729421974, :error :connect, :index 4703}
{:type :invoke, :f :write, :value 3, :process 34, :time 17736486588, :index 4706}
{:type :fail, :f :write, :value 3, :process 34, :time 17738119690, :error :connect, :index 4707}
{:type :invoke, :f :read, :value nil, :process 18, :time 17749465367, :index 4713}
{:type :invoke, :f :write, :value 1, :process 10, :time 17751281218, :index 4716}
{:type :fail, :f :read, :value nil, :process 18, :time 17751539901, :error :connect, :index 4717}
{:type :fail, :f :write, :value 1, :process 10, :time 17753395138, :error :connect, :index 4719}
{:type :invoke, :f :read, :value nil, :process 18, :time 17755796044, :index 4720}
{:type :fail, :f :read, :value nil, :process 18, :time 17757435709, :error :connect, :index 4721}
{:type :invoke, :f :write, :value 3, :process 39, :time 17762332401, :index 4722}
{:type :invoke, :f :write, :value 0, :process 10, :time 17763654017, :index 4723}
{:type :fail, :f :write, :value 3, :process 39, :time 17764231327, :error :connect, :index 4724}
{:type :invoke, :f :cas, :value [1 0], :process 18, :time 17764700301, :index 4725}
{:type :fail, :f :write, :value 0, :process 10, :time 17765737466, :error :connect, :index 4726}
{:type :fail, :f :cas, :value [1 0], :process 18, :time 17766520240, :error :connect, :index 4727}
{:type :invoke, :f :read, :value nil, :process 11, :time 17772269647, :index 4730}
{:type :invoke, :f :cas, :value [1 2], :process 33, :time 17773084342, :index 4732}
{:type :fail, :f :read, :value nil, :process 11, :time 17774266316, :error :connect, :index 4734}
{:type :fail, :f :cas, :value [1 2], :process 33, :time 17774741480, :error :connect, :index 4735}
{:type :invoke, :f :read, :value nil, :process 39, :time 17788481072, :index 4742}
{:type :fail, :f :read, :value nil, :process 39, :time 17790304430, :error :connect, :index 4743}
{:type :invoke, :f :read, :value nil, :process 15, :time 17791400259, :index 4744}
{:type :fail, :f :read, :value nil, :process 15, :time 17793830039, :error :connect, :index 4748}
{:type :invoke, :f :cas, :value [1 1], :process 39, :time 17794568876, :index 4749}
{:type :fail, :f :cas, :value [1 1], :process 39, :time 17796495214, :error :connect, :index 4751}
{:type :invoke, :f :read, :value nil, :process 36, :time 17800230809, :index 4756}
{:type :fail, :f :read, :value nil, :process 36, :time 17802281680, :error :connect, :index 4757}
{:type :invoke, :f :cas, :value [4 3], :process 37, :time 17848401070, :index 4768}
{:type :fail, :f :cas, :value [4 3], :process 37, :time 17850256031, :error :connect, :index 4769}
{:type :invoke, :f :read, :value nil, :process 18, :time 17853801183, :index 4770}
{:type :fail, :f :read, :value nil, :process 18, :time 17855911089, :error :connect, :index 4772}
{:type :invoke, :f :read, :value nil, :process 33, :time 17858006846, :index 4775}
{:type :invoke, :f :read, :value nil, :process 32, :time 17858696941, :index 4776}
{:type :fail, :f :read, :value nil, :process 33, :time 17859779673, :error :connect, :index 4778}
{:type :fail, :f :read, :value nil, :process 32, :time 17860347262, :error :connect, :index 4779}
{:type :invoke, :f :read, :value nil, :process 32, :time 17882578735, :index 4784}
{:type :fail, :f :read, :value nil, :process 32, :time 17884401994, :error :connect, :index 4785}
{:type :invoke, :f :cas, :value [1 2], :process 39, :time 17906778912, :index 4794}
{:type :fail, :f :cas, :value [1 2], :process 39, :time 17908614327, :error :connect, :index 4795}
{:type :invoke, :f :read, :value nil, :process 34, :time 17925392355, :index 4801}
{:type :fail, :f :read, :value nil, :process 34, :time 17927436794, :error :connect, :index 4805}
{:type :invoke, :f :write, :value 4, :process 36, :time 17930547902, :index 4808}
{:type :fail, :f :write, :value 4, :process 36, :time 17932425392, :error :connect, :index 4809}
{:type :invoke, :f :write, :value 4, :process 33, :time 17936050710, :index 4810}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 17936517602, :index 4811}
{:type :fail, :f :write, :value 4, :process 33, :time 17937745426, :error :connect, :index 4812}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 17938339588, :error :connect, :index 4813}
{:type :invoke, :f :write, :value 2, :process 32, :time 17939713034, :index 4814}
{:type :fail, :f :write, :value 2, :process 32, :time 17941504399, :error :connect, :index 4815}
{:type :invoke, :f :write, :value 3, :process 10, :time 17945983809, :index 4817}
{:type :fail, :f :write, :value 3, :process 10, :time 17948033889, :error :connect, :index 4820}
{:type :invoke, :f :read, :value nil, :process 18, :time 17969176408, :index 4824}
{:type :fail, :f :read, :value nil, :process 18, :time 17971004928, :error :connect, :index 4825}
{:type :invoke, :f :read, :value nil, :process 15, :time 17980083388, :index 4828}
{:type :fail, :f :read, :value nil, :process 15, :time 17982159627, :error :connect, :index 4829}
{:type :invoke, :f :read, :value nil, :process 37, :time 17985520828, :index 4830}
{:type :fail, :f :read, :value nil, :process 37, :time 17987168901, :error :connect, :index 4831}
{:type :invoke, :f :write, :value 0, :process 34, :time 17989125676, :index 4832}
{:type :fail, :f :write, :value 0, :process 34, :time 17991122860, :error :connect, :index 4833}
{:type :invoke, :f :read, :value nil, :process 39, :time 18021894080, :index 4841}
{:type :fail, :f :read, :value nil, :process 39, :time 18023863961, :error :connect, :index 4843}
{:type :invoke, :f :write, :value 4, :process 15, :time 18035427222, :index 4846}
{:type :fail, :f :write, :value 4, :process 15, :time 18037232205, :error :connect, :index 4847}
{:type :invoke, :f :cas, :value [1 2], :process 33, :time 18054014348, :index 4852}
{:type :fail, :f :cas, :value [1 2], :process 33, :time 18055712912, :error :connect, :index 4854}
{:type :invoke, :f :read, :value nil, :process 11, :time 18066600361, :index 4856}
{:type :fail, :f :read, :value nil, :process 11, :time 18068482793, :error :connect, :index 4857}
{:type :invoke, :f :read, :value nil, :process 39, :time 18069125702, :index 4858}
{:type :fail, :f :read, :value nil, :process 39, :time 18071161611, :error :connect, :index 4859}
{:type :invoke, :f :read, :value nil, :process 32, :time 18075762660, :index 4860}
{:type :invoke, :f :read, :value nil, :process 33, :time 18076982405, :index 4861}
{:type :fail, :f :read, :value nil, :process 32, :time 18077684492, :error :connect, :index 4862}
{:type :fail, :f :read, :value nil, :process 33, :time 18078905700, :error :connect, :index 4863}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 18086280619, :index 4864}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 18088006733, :error :connect, :index 4865}
{:type :invoke, :f :read, :value nil, :process 15, :time 18093507430, :index 4867}
{:type :fail, :f :read, :value nil, :process 15, :time 18095584673, :error :connect, :index 4871}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 18110342004, :index 4876}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 18112477524, :error :connect, :index 4878}
{:type :invoke, :f :read, :value nil, :process 36, :time 18121691378, :index 4880}
{:type :fail, :f :read, :value nil, :process 36, :time 18124149806, :error :connect, :index 4884}
{:type :invoke, :f :read, :value nil, :process 34, :time 18148387880, :index 4890}
{:type :fail, :f :read, :value nil, :process 34, :time 18150283016, :error :connect, :index 4891}
{:type :invoke, :f :cas, :value [0 1], :process 37, :time 18163434740, :index 4894}
{:type :fail, :f :cas, :value [0 1], :process 37, :time 18165093151, :error :connect, :index 4895}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 18230753338, :index 4926}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 18232849896, :error :connect, :index 4927}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
