{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :invoke, :f :read, :value nil, :process 29, :time 29962578168, :index 9576}
{:type :fail, :f :read, :value nil, :process 29, :time 29964562703, :error :connect, :index 9577}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 29988619470, :index 9580}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 29990561680, :error :connect, :index 9581}
{:type :invoke, :f :write, :value 2, :process 29, :time 29991824140, :index 9582}
{:type :fail, :f :write, :value 2, :process 29, :time 29993909042, :error :connect, :index 9583}
{:type :invoke, :f :write, :value 2, :process 29, :time 29994045382, :index 9584}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 29995248593, :index 9585}
{:type :fail, :f :write, :value 2, :process 29, :time 29996232469, :error :connect, :index 9587}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 29996964315, :error :connect, :index 9589}
{:type :invoke, :f :cas, :value [1 4], :process 5, :time 29997195486, :index 9590}
{:type :fail, :f :cas, :value [1 4], :process 5, :time 29999092889, :error :connect, :index 9593}
{:type :invoke, :f :read, :value nil, :process 3, :time 30009031849, :index 9598}
{:type :fail, :f :read, :value nil, :process 3, :time 30010962547, :error :connect, :index 9599}
{:type :invoke, :f :write, :value 3, :process 22, :time 30014751478, :index 9602}
{:type :fail, :f :write, :value 3, :process 22, :time 30016349943, :error :connect, :index 9603}
{:type :invoke, :f :read, :value nil, :process 0, :time 30046766590, :index 9606}
{:type :fail, :f :read, :value nil, :process 0, :time 30048600917, :error :connect, :index 9607}
{:type :invoke, :f :cas, :value [1 3], :process 5, :time 30056330625, :index 9610}
{:type :fail, :f :cas, :value [1 3], :process 5, :time 30057910523, :error :connect, :index 9611}
{:type :invoke, :f :read, :value nil, :process 8, :time 30076657968, :index 9617}
{:type :fail, :f :read, :value nil, :process 8, :time 30078264049, :error :connect, :index 9619}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 30078447982, :index 9620}
{:type :fail, :f :cas, :value [1 3], :process 6, :time 30080405151, :error :connect, :index 9621}
{:type :invoke, :f :read, :value nil, :process 6, :time 30089667989, :index 9622}
{:type :fail, :f :read, :value nil, :process 6, :time 30091678482, :error :connect, :index 9625}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 30095501777, :index 9626}
{:type :fail, :f :cas, :value [3 3], :process 8, :time 30097610712, :error :connect, :index 9627}
{:type :invoke, :f :read, :value nil, :process 4, :time 30099221231, :index 9629}
{:type :fail, :f :read, :value nil, :process 4, :time 30101219855, :error :connect, :index 9632}
{:type :invoke, :f :read, :value nil, :process 6, :time 30107968346, :index 9636}
{:type :fail, :f :read, :value nil, :process 6, :time 30109826294, :error :connect, :index 9637}
{:type :invoke, :f :read, :value nil, :process 7, :time 30111848075, :index 9638}
{:type :invoke, :f :write, :value 3, :process 22, :time 30112613469, :index 9639}
{:type :fail, :f :read, :value nil, :process 7, :time 30113887446, :error :connect, :index 9640}
{:type :fail, :f :write, :value 3, :process 22, :time 30114218136, :error :connect, :index 9641}
{:type :invoke, :f :write, :value 4, :process 4, :time 30115474632, :index 9642}
{:type :fail, :f :write, :value 4, :process 4, :time 30117215365, :error :connect, :index 9643}
{:type :invoke, :f :cas, :value [3 1], :process 21, :time 30118263672, :index 9644}
{:type :fail, :f :cas, :value [3 1], :process 21, :time 30119949600, :error :connect, :index 9645}
{:type :invoke, :f :read, :value nil, :process 22, :time 30120456306, :index 9646}
{:type :fail, :f :read, :value nil, :process 22, :time 30122279419, :error :connect, :index 9647}
{:type :invoke, :f :read, :value nil, :process 29, :time 30128511807, :index 9649}
{:type :fail, :f :read, :value nil, :process 29, :time 30130508858, :error :connect, :index 9651}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 30143221358, :index 9656}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 30145103858, :error :connect, :index 9657}
{:type :invoke, :f :cas, :value [0 4], :process 7, :time 30161186038, :index 9663}
{:type :fail, :f :cas, :value [0 4], :process 7, :time 30163130132, :error :connect, :index 9666}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 30163856398, :index 9667}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 30165918517, :error :connect, :index 9670}
{:type :invoke, :f :cas, :value [2 2], :process 21, :time 30171211066, :index 9672}
{:type :fail, :f :cas, :value [2 2], :process 21, :time 30173082648, :error :connect, :index 9673}
{:type :invoke, :f :write, :value 0, :process 4, :time 30189476123, :index 9674}
{:type :fail, :f :write, :value 0, :process 4, :time 30191305231, :error :connect, :index 9675}
{:type :invoke, :f :write, :value 4, :process 5, :time 30204188814, :index 9678}
{:type :fail, :f :write, :value 4, :process 5, :time 30205976936, :error :connect, :index 9679}
{:type :invoke, :f :read, :value nil, :process 6, :time 30213097642, :index 9680}
{:type :fail, :f :read, :value nil, :process 6, :time 30214823531, :error :connect, :index 9681}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 30217347128, :index 9682}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 30219330446, :error :connect, :index 9684}
{:type :invoke, :f :write, :value 3, :process 4, :time 30226563319, :index 9686}
{:type :fail, :f :write, :value 3, :process 4, :time 30228396136, :error :connect, :index 9688}
{:type :invoke, :f :write, :value 3, :process 0, :time 30233172356, :index 9690}
{:type :invoke, :f :cas, :value [1 1], :process 21, :time 30233361126, :index 9691}
{:type :fail, :f :write, :value 3, :process 0, :time 30235244848, :error :connect, :index 9692}
{:type :fail, :f :cas, :value [1 1], :process 21, :time 30235348350, :error :connect, :index 9693}
{:type :invoke, :f :read, :value nil, :process 8, :time 30260882010, :index 9702}
{:type :fail, :f :read, :value nil, :process 8, :time 30262554836, :error :connect, :index 9703}
{:type :invoke, :f :read, :value nil, :process 3, :time 30273373119, :index 9705}
{:type :invoke, :f :read, :value nil, :process 22, :time 30274545203, :index 9707}
{:type :fail, :f :read, :value nil, :process 3, :time 30275415557, :error :connect, :index 9708}
{:type :fail, :f :read, :value nil, :process 22, :time 30276441881, :error :connect, :index 9709}
{:type :invoke, :f :write, :value 4, :process 29, :time 30276768694, :index 9710}
{:type :fail, :f :write, :value 4, :process 29, :time 30278780678, :error :connect, :index 9711}
{:type :invoke, :f :write, :value 1, :process 7, :time 30283578100, :index 9714}
{:type :fail, :f :write, :value 1, :process 7, :time 30285187090, :error :connect, :index 9715}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 30297663713, :index 9718}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 30299283390, :error :connect, :index 9719}
{:type :invoke, :f :write, :value 0, :process 21, :time 30365597470, :index 9726}
{:type :fail, :f :write, :value 0, :process 21, :time 30367526933, :error :connect, :index 9727}
{:type :invoke, :f :read, :value nil, :process 21, :time 30368788780, :index 9728}
{:type :invoke, :f :read, :value nil, :process 0, :time 30370517978, :index 9730}
{:type :fail, :f :read, :value nil, :process 21, :time 30371009834, :error :connect, :index 9731}
{:type :fail, :f :read, :value nil, :process 0, :time 30372616213, :error :connect, :index 9733}
{:type :invoke, :f :read, :value nil, :process 6, :time 30373091726, :index 9734}
{:type :fail, :f :read, :value nil, :process 6, :time 30374940909, :error :connect, :index 9735}
{:type :invoke, :f :cas, :value [1 2], :process 21, :time 30388254135, :index 9736}
{:type :fail, :f :cas, :value [1 2], :process 21, :time 30390135572, :error :connect, :index 9737}
{:type :invoke, :f :write, :value 1, :process 5, :time 30390244014, :index 9738}
{:type :invoke, :f :read, :value nil, :process 4, :time 30391662418, :index 9739}
{:type :fail, :f :write, :value 1, :process 5, :time 30392168723, :error :connect, :index 9740}
{:type :invoke, :f :write, :value 3, :process 29, :time 30393049113, :index 9741}
{:type :fail, :f :read, :value nil, :process 4, :time 30393744817, :error :connect, :index 9742}
{:type :fail, :f :write, :value 3, :process 29, :time 30395137297, :error :connect, :index 9745}
{:type :invoke, :f :write, :value 2, :process 8, :time 30423817236, :index 9754}
{:type :fail, :f :write, :value 2, :process 8, :time 30425467566, :error :connect, :index 9755}
{:type :invoke, :f :read, :value nil, :process 5, :time 30426422951, :index 9756}
{:type :fail, :f :read, :value nil, :process 5, :time 30428492283, :error :connect, :index 9757}
{:type :invoke, :f :write, :value 1, :process 3, :time 30432551478, :index 9758}
{:type :invoke, :f :cas, :value [0 4], :process 5, :time 30433763255, :index 9759}
{:type :fail, :f :write, :value 1, :process 3, :time 30434234144, :error :connect, :index 9760}
{:type :fail, :f :cas, :value [0 4], :process 5, :time 30435929193, :error :connect, :index 9761}
{:type :invoke, :f :write, :value 2, :process 0, :time 30446879038, :index 9764}
{:type :fail, :f :write, :value 2, :process 0, :time 30448773320, :error :connect, :index 9765}
{:type :invoke, :f :write, :value 3, :process 22, :time 30448709626, :index 9766}
{:type :fail, :f :write, :value 3, :process 22, :time 30450831840, :error :connect, :index 9768}
{:type :invoke, :f :write, :value 0, :process 4, :time 30451109583, :index 9769}
{:type :fail, :f :write, :value 0, :process 4, :time 30452988895, :error :connect, :index 9771}
{:type :invoke, :f :write, :value 4, :process 7, :time 30484454236, :index 9782}
{:type :fail, :f :write, :value 4, :process 7, :time 30486347206, :error :connect, :index 9783}
{:type :invoke, :f :cas, :value [0 3], :process 21, :time 30488998245, :index 9784}
{:type :fail, :f :cas, :value [0 3], :process 21, :time 30491131818, :error :connect, :index 9785}
{:type :invoke, :f :cas, :value [3 3], :process 7, :time 30511609394, :index 9790}
{:type :fail, :f :cas, :value [3 3], :process 7, :time 30513444197, :error :connect, :index 9791}
{:type :invoke, :f :read, :value nil, :process 3, :time 30516508461, :index 9794}
{:type :fail, :f :read, :value nil, :process 3, :time 30518555784, :error :connect, :index 9795}
{:type :invoke, :f :read, :value nil, :process 4, :time 30522240102, :index 9796}
{:type :fail, :f :read, :value nil, :process 4, :time 30524151781, :error :connect, :index 9797}
{:type :invoke, :f :cas, :value [2 2], :process 22, :time 30538094796, :index 9804}
{:type :fail, :f :cas, :value [2 2], :process 22, :time 30540220796, :error :connect, :index 9805}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 30543203714, :index 9806}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 30545023157, :error :connect, :index 9807}
{:type :invoke, :f :read, :value nil, :process 29, :time 30559408203, :index 9808}
{:type :fail, :f :read, :value nil, :process 29, :time 30561194928, :error :connect, :index 9809}
{:type :invoke, :f :read, :value nil, :process 8, :time 30569728633, :index 9810}
{:type :fail, :f :read, :value nil, :process 8, :time 30571434071, :error :connect, :index 9811}
{:type :invoke, :f :read, :value nil, :process 4, :time 30573429989, :index 9813}
{:type :fail, :f :read, :value nil, :process 4, :time 30575276353, :error :connect, :index 9816}
{:type :invoke, :f :cas, :value [4 1], :process 22, :time 30581485344, :index 9818}
{:type :invoke, :f :cas, :value [3 1], :process 29, :time 30582479121, :index 9819}
{:type :fail, :f :cas, :value [4 1], :process 22, :time 30583596164, :error :connect, :index 9820}
{:type :fail, :f :cas, :value [3 1], :process 29, :time 30584133031, :error :connect, :index 9821}
{:type :invoke, :f :write, :value 4, :process 5, :time 30586201142, :index 9822}
{:type :fail, :f :write, :value 4, :process 5, :time 30588250278, :error :connect, :index 9823}
{:type :invoke, :f :read, :value nil, :process 4, :time 30592520263, :index 9824}
{:type :fail, :f :read, :value nil, :process 4, :time 30594307546, :error :connect, :index 9825}
{:type :invoke, :f :cas, :value [1 4], :process 22, :time 30597965700, :index 9828}
{:type :fail, :f :cas, :value [1 4], :process 22, :time 30599914359, :error :connect, :index 9829}
{:type :invoke, :f :read, :value nil, :process 8, :time 30601692126, :index 9830}
{:type :fail, :f :read, :value nil, :process 8, :time 30603386385, :error :connect, :index 9831}
{:type :invoke, :f :read, :value nil, :process 0, :time 30622011460, :index 9834}
{:type :fail, :f :read, :value nil, :process 0, :time 30624039901, :error :connect, :index 9835}
{:type :invoke, :f :read, :value nil, :process 7, :time 30626730231, :index 9837}
{:type :fail, :f :read, :value nil, :process 7, :time 30628333423, :error :connect, :index 9839}
{:type :invoke, :f :write, :value 0, :process 29, :time 30633375495, :index 9840}
{:type :fail, :f :write, :value 0, :process 29, :time 30635038160, :error :connect, :index 9841}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 30650729716, :index 9848}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 30652632951, :error :connect, :index 9850}
{:type :invoke, :f :write, :value 4, :process 6, :time 30654295541, :index 9852}
{:type :fail, :f :write, :value 4, :process 6, :time 30656147255, :error :connect, :index 9853}
{:type :invoke, :f :write, :value 0, :process 21, :time 30657404694, :index 9854}
{:type :fail, :f :write, :value 0, :process 21, :time 30659197071, :error :connect, :index 9855}
{:type :invoke, :f :read, :value nil, :process 6, :time 30664406393, :index 9858}
{:type :fail, :f :read, :value nil, :process 6, :time 30666438812, :error :connect, :index 9859}
{:type :invoke, :f :write, :value 4, :process 22, :time 30699186206, :index 9874}
{:type :fail, :f :write, :value 4, :process 22, :time 30700956785, :error :connect, :index 9875}
{:type :invoke, :f :write, :value 1, :process 5, :time 30731520802, :index 9880}
{:type :fail, :f :write, :value 1, :process 5, :time 30733141553, :error :connect, :index 9881}
{:type :invoke, :f :write, :value 3, :process 21, :time 30740456171, :index 9884}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 30740569451, :index 9885}
{:type :fail, :f :cas, :value [1 3], :process 7, :time 30742637685, :error :connect, :index 9887}
{:type :fail, :f :write, :value 3, :process 21, :time 30742730864, :error :connect, :index 9888}
{:type :invoke, :f :read, :value nil, :process 21, :time 30750994872, :index 9890}
{:type :fail, :f :read, :value nil, :process 21, :time 30753030347, :error :connect, :index 9891}
{:type :invoke, :f :read, :value nil, :process 8, :time 30765653451, :index 9892}
{:type :fail, :f :read, :value nil, :process 8, :time 30767530392, :error :connect, :index 9893}
{:type :invoke, :f :read, :value nil, :process 22, :time 30783224879, :index 9896}
{:type :fail, :f :read, :value nil, :process 22, :time 30784839964, :error :connect, :index 9897}
{:type :invoke, :f :read, :value nil, :process 3, :time 30787896020, :index 9898}
{:type :invoke, :f :write, :value 2, :process 4, :time 30789571879, :index 9899}
{:type :fail, :f :read, :value nil, :process 3, :time 30790035439, :error :connect, :index 9900}
{:type :fail, :f :write, :value 2, :process 4, :time 30791752312, :error :connect, :index 9901}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 30795298700, :index 9902}
{:type :invoke, :f :cas, :value [0 0], :process 29, :time 30796305977, :index 9903}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 30796996955, :error :connect, :index 9904}
{:type :fail, :f :cas, :value [0 0], :process 29, :time 30798359647, :error :connect, :index 9906}
{:type :invoke, :f :read, :value nil, :process 21, :time 30814286572, :index 9914}
{:type :fail, :f :read, :value nil, :process 21, :time 30815980805, :error :connect, :index 9915}
{:type :invoke, :f :write, :value 1, :process 7, :time 30830955416, :index 9921}
{:type :fail, :f :write, :value 1, :process 7, :time 30832794787, :error :connect, :index 9923}
{:type :invoke, :f :read, :value nil, :process 6, :time 30845698695, :index 9928}
{:type :fail, :f :read, :value nil, :process 6, :time 30847818850, :error :connect, :index 9929}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 30877056544, :index 9936}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 30878757110, :error :connect, :index 9937}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 30879797917, :index 9938}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 30881471656, :error :connect, :index 9939}
{:type :invoke, :f :read, :value nil, :process 0, :time 30893277881, :index 9945}
{:type :fail, :f :read, :value nil, :process 0, :time 30895523582, :error :connect, :index 9947}
{:type :invoke, :f :write, :value 0, :process 5, :time 30902404910, :index 9948}
{:type :fail, :f :write, :value 0, :process 5, :time 30904455343, :error :connect, :index 9949}
{:type :invoke, :f :write, :value 3, :process 3, :time 30919296253, :index 9952}
{:type :fail, :f :write, :value 3, :process 3, :time 30921175370, :error :connect, :index 9953}
{:type :invoke, :f :read, :value nil, :process 21, :time 30924244393, :index 9956}
{:type :fail, :f :read, :value nil, :process 21, :time 30925851812, :error :connect, :index 9957}
{:type :invoke, :f :read, :value nil, :process 22, :time 30926108724, :index 9959}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :fail, :f :read, :value nil, :process 22, :time 30929013136, :error :connect, :index 9962}
{:type :invoke, :f :write, :value 3, :process 29, :time 30937658273, :index 9965}
{:type :fail, :f :write, :value 3, :process 29, :time 30939671793, :error :connect, :index 9966}
{:type :invoke, :f :write, :value 2, :process 4, :time 30953130735, :index 9975}
{:type :fail, :f :write, :value 2, :process 4, :time 30954861593, :error :connect, :index 9978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
