{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
{:type :invoke, :f :cas, :value [0 2], :process 36, :time 57260248068, :index 12360}
{:type :fail, :f :cas, :value [0 2], :process 36, :time 57265961849, :error :not-found, :index 12363}
{:type :invoke, :f :read, :value nil, :process 10, :time 57307841522, :index 12370}
{:type :ok, :f :read, :value nil, :process 10, :time 57313478005, :index 12371}
{:type :invoke, :f :cas, :value [2 1], :process 15, :time 57317634554, :index 12372}
{:type :fail, :f :cas, :value [2 1], :process 15, :time 57323676598, :error :not-found, :index 12373}
{:type :invoke, :f :read, :value nil, :process 10, :time 57364742007, :index 12379}
{:type :ok, :f :read, :value nil, :process 10, :time 57369684460, :index 12381}
{:type :invoke, :f :cas, :value [0 1], :process 51, :time 57378569677, :index 12383}
{:type :invoke, :f :read, :value nil, :process 10, :time 57379920955, :index 12384}
{:type :fail, :f :cas, :value [0 1], :process 51, :time 57385087711, :error :not-found, :index 12386}
{:type :ok, :f :read, :value nil, :process 10, :time 57385375197, :index 12387}
{:type :invoke, :f :read, :value nil, :process 36, :time 57415223829, :index 12394}
{:type :ok, :f :read, :value nil, :process 36, :time 57420769606, :index 12395}
{:type :invoke, :f :read, :value nil, :process 10, :time 57426604217, :index 12397}
{:type :ok, :f :read, :value nil, :process 10, :time 57432815799, :index 12400}
{:type :invoke, :f :write, :value 0, :process 39, :time 57434018612, :index 12402}
{:type :ok, :f :write, :value 0, :process 39, :time 57439375221, :index 12403}
{:type :invoke, :f :write, :value 1, :process 54, :time 57445634813, :index 12405}
{:type :ok, :f :write, :value 1, :process 54, :time 57451000489, :index 12407}
{:type :invoke, :f :write, :value 3, :process 15, :time 57463949172, :index 12408}
{:type :ok, :f :write, :value 3, :process 15, :time 57483164786, :index 12410}
{:type :invoke, :f :write, :value 4, :process 39, :time 57498631643, :index 12413}
{:type :ok, :f :write, :value 4, :process 39, :time 57503082804, :index 12416}
{:type :invoke, :f :read, :value nil, :process 39, :time 57525358514, :index 12423}
{:type :ok, :f :read, :value 4, :process 39, :time 57531059913, :index 12425}
{:type :invoke, :f :read, :value nil, :process 36, :time 57533023764, :index 12426}
{:type :ok, :f :read, :value 4, :process 36, :time 57538788063, :index 12427}
{:type :invoke, :f :write, :value 2, :process 36, :time 57542046135, :index 12428}
{:type :invoke, :f :read, :value nil, :process 15, :time 57545428404, :index 12429}
{:type :ok, :f :write, :value 2, :process 36, :time 57547854278, :index 12430}
{:type :ok, :f :read, :value 2, :process 15, :time 57550001463, :index 12431}
{:type :invoke, :f :write, :value 2, :process 51, :time 57552371550, :index 12432}
{:type :ok, :f :write, :value 2, :process 51, :time 57557526366, :index 12433}
{:type :invoke, :f :read, :value nil, :process 39, :time 57571309868, :index 12434}
{:type :ok, :f :read, :value 2, :process 39, :time 57575985120, :index 12436}
{:type :invoke, :f :read, :value nil, :process 10, :time 57601078773, :index 12444}
{:type :ok, :f :read, :value 2, :process 10, :time 57606276447, :index 12445}
{:type :invoke, :f :read, :value nil, :process 54, :time 57634258613, :index 12446}
{:type :ok, :f :read, :value 2, :process 54, :time 57639658337, :index 12447}
{:type :invoke, :f :write, :value 1, :process 54, :time 57655916704, :index 12448}
{:type :invoke, :f :read, :value nil, :process 36, :time 57658113240, :index 12449}
{:type :ok, :f :write, :value 1, :process 54, :time 57661214463, :index 12450}
{:type :ok, :f :read, :value 1, :process 36, :time 57663229311, :index 12451}
{:type :invoke, :f :read, :value nil, :process 39, :time 57703302627, :index 12460}
{:type :invoke, :f :read, :value nil, :process 15, :time 57707254649, :index 12461}
{:type :ok, :f :read, :value 1, :process 39, :time 57712072686, :index 12462}
{:type :ok, :f :read, :value 1, :process 15, :time 57712675009, :index 12464}
{:type :invoke, :f :cas, :value [1 4], :process 51, :time 57729784092, :index 12466}
{:type :invoke, :f :cas, :value [3 3], :process 36, :time 57732549236, :index 12467}
{:type :ok, :f :cas, :value [1 4], :process 51, :time 57737205898, :index 12468}
{:type :fail, :f :cas, :value [3 3], :process 36, :time 57738777900, :index 12470}
{:type :invoke, :f :write, :value 2, :process 10, :time 57741539403, :index 12471}
{:type :ok, :f :write, :value 2, :process 10, :time 57746270084, :index 12473}
{:type :invoke, :f :cas, :value [2 2], :process 36, :time 57785023794, :index 12480}
{:type :invoke, :f :write, :value 0, :process 51, :time 57786471707, :index 12481}
{:type :ok, :f :cas, :value [2 2], :process 36, :time 57791044233, :index 12482}
{:type :ok, :f :write, :value 0, :process 51, :time 57791419984, :index 12483}
{:type :invoke, :f :read, :value nil, :process 54, :time 57797475745, :index 12484}
{:type :ok, :f :read, :value 0, :process 54, :time 57803056293, :index 12485}
{:type :invoke, :f :read, :value nil, :process 39, :time 57822376214, :index 12486}
{:type :ok, :f :read, :value 0, :process 39, :time 57827789274, :index 12487}
{:type :invoke, :f :read, :value nil, :process 15, :time 57830917109, :index 12490}
{:type :ok, :f :read, :value 0, :process 15, :time 57839434420, :index 12494}
{:type :invoke, :f :cas, :value [1 0], :process 10, :time 57854521107, :index 12499}
{:type :fail, :f :cas, :value [1 0], :process 10, :time 57859239660, :index 12502}
{:type :invoke, :f :read, :value nil, :process 54, :time 57890315445, :index 12506}
{:type :ok, :f :read, :value 0, :process 54, :time 57895617925, :index 12507}
{:type :invoke, :f :write, :value 4, :process 51, :time 57923653504, :index 12511}
{:type :ok, :f :write, :value 4, :process 51, :time 57928850249, :index 12513}
{:type :invoke, :f :read, :value nil, :process 39, :time 57946092858, :index 12514}
{:type :ok, :f :read, :value 4, :process 39, :time 57951091667, :index 12515}
{:type :invoke, :f :read, :value nil, :process 10, :time 57952499108, :index 12516}
{:type :invoke, :f :write, :value 4, :process 15, :time 57982668575, :index 12517}
{:type :invoke, :f :cas, :value [2 0], :process 36, :time 57988354097, :index 12519}
{:type :invoke, :f :read, :value nil, :process 39, :time 58053349589, :index 12525}
{:type :invoke, :f :write, :value 3, :process 51, :time 58059104671, :index 12526}
{:type :invoke, :f :read, :value nil, :process 54, :time 58066876801, :index 12527}
{:type :ok, :f :read, :value 4, :process 10, :time 58432676892, :index 12528}
{:type :ok, :f :write, :value 4, :process 15, :time 58435681708, :index 12529}
{:type :ok, :f :read, :value 4, :process 39, :time 58436631303, :index 12531}
{:type :fail, :f :cas, :value [2 0], :process 36, :time 58437301418, :index 12534}
{:type :ok, :f :read, :value 3, :process 54, :time 58437551951, :index 12535}
{:type :ok, :f :write, :value 3, :process 51, :time 58437790778, :index 12537}
{:type :invoke, :f :cas, :value [3 1], :process 10, :time 58440027669, :index 12540}
{:type :invoke, :f :read, :value nil, :process 15, :time 58440956880, :index 12541}
{:type :ok, :f :read, :value 1, :process 15, :time 58446878872, :index 12543}
{:type :ok, :f :cas, :value [3 1], :process 10, :time 58447209992, :index 12544}
{:type :invoke, :f :read, :value nil, :process 15, :time 58477130419, :index 12546}
{:type :ok, :f :read, :value 1, :process 15, :time 58481911491, :index 12547}
{:type :invoke, :f :read, :value nil, :process 15, :time 58487164558, :index 12548}
{:type :ok, :f :read, :value 1, :process 15, :time 58491616768, :index 12550}
{:type :invoke, :f :cas, :value [3 4], :process 54, :time 58497251373, :index 12552}
{:type :fail, :f :cas, :value [3 4], :process 54, :time 58502922916, :index 12553}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 58523875003, :index 12554}
{:type :invoke, :f :write, :value 0, :process 51, :time 58528529919, :index 12555}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 58530140977, :index 12556}
{:type :invoke, :f :write, :value 2, :process 15, :time 58532879935, :index 12557}
{:type :ok, :f :write, :value 0, :process 51, :time 58533606495, :index 12558}
{:type :invoke, :f :cas, :value [0 4], :process 54, :time 58536192058, :index 12559}
{:type :ok, :f :write, :value 2, :process 15, :time 58538036598, :index 12560}
{:type :fail, :f :cas, :value [0 4], :process 54, :time 58541693264, :index 12561}
{:type :invoke, :f :read, :value nil, :process 36, :time 58557297740, :index 12564}
{:type :ok, :f :read, :value 2, :process 36, :time 58562200608, :index 12565}
{:type :invoke, :f :write, :value 1, :process 39, :time 58570402495, :index 12568}
{:type :ok, :f :write, :value 1, :process 39, :time 58575640924, :index 12569}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 58597464527, :index 12574}
{:type :fail, :f :cas, :value [2 1], :process 36, :time 58602434423, :index 12576}
{:type :invoke, :f :read, :value nil, :process 10, :time 58620425843, :index 12580}
{:type :invoke, :f :read, :value nil, :process 54, :time 58622951876, :index 12581}
{:type :ok, :f :read, :value 1, :process 10, :time 58624661903, :index 12582}
{:type :ok, :f :read, :value 1, :process 54, :time 58627896030, :index 12584}
{:type :invoke, :f :read, :value nil, :process 39, :time 58637899883, :index 12586}
{:type :ok, :f :read, :value 1, :process 39, :time 58644627202, :index 12587}
{:type :invoke, :f :cas, :value [0 3], :process 15, :time 58648304266, :index 12588}
{:type :fail, :f :cas, :value [0 3], :process 15, :time 58653638621, :index 12589}
{:type :invoke, :f :cas, :value [4 3], :process 54, :time 58657158983, :index 12590}
{:type :fail, :f :cas, :value [4 3], :process 54, :time 58661854099, :index 12591}
{:type :invoke, :f :write, :value 2, :process 54, :time 58692110104, :index 12594}
{:type :ok, :f :write, :value 2, :process 54, :time 58703407432, :index 12597}
{:type :invoke, :f :cas, :value [0 0], :process 51, :time 58732864199, :index 12602}
{:type :fail, :f :cas, :value [0 0], :process 51, :time 58738767478, :index 12604}
{:type :invoke, :f :write, :value 0, :process 39, :time 58738900618, :index 12605}
{:type :ok, :f :write, :value 0, :process 39, :time 58744036015, :index 12607}
{:type :invoke, :f :write, :value 2, :process 15, :time 58782896558, :index 12614}
{:type :invoke, :f :write, :value 0, :process 10, :time 58785922720, :index 12615}
{:type :ok, :f :write, :value 2, :process 15, :time 58788193038, :index 12616}
{:type :ok, :f :write, :value 0, :process 10, :time 58790876369, :index 12617}
{:type :invoke, :f :write, :value 4, :process 36, :time 58793690370, :index 12618}
{:type :invoke, :f :write, :value 3, :process 10, :time 58798133867, :index 12619}
{:type :ok, :f :write, :value 4, :process 36, :time 58798966485, :index 12620}
{:type :ok, :f :write, :value 3, :process 10, :time 58802699166, :index 12621}
{:type :invoke, :f :read, :value nil, :process 15, :time 58820472206, :index 12624}
{:type :ok, :f :read, :value 3, :process 15, :time 58825347610, :index 12625}
{:type :invoke, :f :read, :value nil, :process 10, :time 58831958295, :index 12626}
{:type :ok, :f :read, :value 3, :process 10, :time 58836740545, :index 12627}
{:type :invoke, :f :read, :value nil, :process 10, :time 58842989475, :index 12628}
{:type :ok, :f :read, :value 3, :process 10, :time 58847901361, :index 12629}
{:type :invoke, :f :cas, :value [0 4], :process 51, :time 58893020171, :index 12634}
{:type :fail, :f :cas, :value [0 4], :process 51, :time 58899090788, :index 12638}
{:type :invoke, :f :write, :value 4, :process 39, :time 58902314027, :index 12640}
{:type :invoke, :f :cas, :value [4 3], :process 54, :time 58902730395, :index 12641}
{:type :ok, :f :write, :value 4, :process 39, :time 58907512141, :index 12642}
{:type :ok, :f :cas, :value [4 3], :process 54, :time 58908272263, :index 12643}
{:type :invoke, :f :read, :value nil, :process 54, :time 58934454786, :index 12644}
{:type :ok, :f :read, :value 3, :process 54, :time 58939889322, :index 12646}
{:type :invoke, :f :write, :value 2, :process 15, :time 58984623810, :index 12650}
{:type :ok, :f :write, :value 2, :process 15, :time 58990263792, :index 12651}
{:type :invoke, :f :read, :value nil, :process 36, :time 58992283104, :index 12653}
{:type :ok, :f :read, :value 2, :process 36, :time 58997574514, :index 12655}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 59030167522, :index 12662}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 59035343148, :index 12663}
{:type :invoke, :f :read, :value nil, :process 39, :time 59054781351, :index 12664}
{:type :ok, :f :read, :value 2, :process 39, :time 59060392422, :index 12665}
{:type :invoke, :f :cas, :value [1 1], :process 54, :time 59080152030, :index 12670}
{:type :fail, :f :cas, :value [1 1], :process 54, :time 59086603333, :index 12671}
{:type :invoke, :f :read, :value nil, :process 15, :time 59096508725, :index 12674}
{:type :invoke, :f :read, :value nil, :process 51, :time 59098352200, :index 12675}
{:type :ok, :f :read, :value 2, :process 15, :time 59101090863, :index 12676}
{:type :ok, :f :read, :value 2, :process 51, :time 59103408704, :index 12677}
{:type :invoke, :f :read, :value nil, :process 36, :time 59124823316, :index 12678}
{:type :ok, :f :read, :value 2, :process 36, :time 59130080538, :index 12679}
{:type :invoke, :f :read, :value nil, :process 51, :time 59149656680, :index 12680}
{:type :invoke, :f :read, :value nil, :process 54, :time 59153878547, :index 12681}
{:type :ok, :f :read, :value 2, :process 51, :time 59156627533, :index 12683}
{:type :ok, :f :read, :value 2, :process 54, :time 59159487350, :index 12684}
{:type :invoke, :f :write, :value 4, :process 15, :time 59163361861, :index 12687}
{:type :ok, :f :write, :value 4, :process 15, :time 59168378030, :index 12689}
{:type :invoke, :f :read, :value nil, :process 51, :time 59172901240, :index 12691}
{:type :ok, :f :read, :value 4, :process 51, :time 59177616114, :index 12693}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 59202350610, :index 12700}
{:type :invoke, :f :write, :value 2, :process 10, :time 59205611955, :index 12703}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 59207654179, :index 12704}
{:type :invoke, :f :read, :value nil, :process 36, :time 59207784461, :index 12705}
{:type :ok, :f :write, :value 2, :process 10, :time 59210399713, :index 12707}
{:type :ok, :f :read, :value 2, :process 36, :time 59213133428, :index 12708}
{:type :invoke, :f :read, :value nil, :process 54, :time 59238739993, :index 12712}
{:type :invoke, :f :read, :value nil, :process 39, :time 59241656355, :index 12713}
{:type :ok, :f :read, :value 2, :process 54, :time 59244652585, :index 12714}
{:type :ok, :f :read, :value 2, :process 39, :time 59246572721, :index 12715}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 59262651763, :index 12716}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 59267953350, :index 12717}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 59299232652, :index 12726}
{:type :invoke, :f :write, :value 0, :process 15, :time 59303655267, :index 12727}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 59304240944, :index 12728}
{:type :ok, :f :write, :value 0, :process 15, :time 59308846377, :index 12729}
{:type :invoke, :f :read, :value nil, :process 54, :time 59308919292, :index 12730}
{:type :ok, :f :read, :value 0, :process 54, :time 59314452227, :index 12731}
{:type :invoke, :f :write, :value 1, :process 51, :time 59346871828, :index 12736}
{:type :ok, :f :write, :value 1, :process 51, :time 59351972913, :index 12737}
{:type :invoke, :f :write, :value 0, :process 39, :time 59356821740, :index 12738}
{:type :ok, :f :write, :value 0, :process 39, :time 59363865448, :index 12741}
{:type :invoke, :f :write, :value 3, :process 10, :time 59379502273, :index 12746}
{:type :ok, :f :write, :value 3, :process 10, :time 59383890487, :index 12747}
{:type :invoke, :f :cas, :value [0 3], :process 36, :time 59399864856, :index 12748}
{:type :fail, :f :cas, :value [0 3], :process 36, :time 59406917605, :index 12750}
{:type :invoke, :f :write, :value 4, :process 54, :time 59467714826, :index 12760}
{:type :ok, :f :write, :value 4, :process 54, :time 59472645395, :index 12761}
{:type :invoke, :f :cas, :value [1 4], :process 15, :time 59507108260, :index 12767}
{:type :fail, :f :cas, :value [1 4], :process 15, :time 59511949646, :index 12769}
