{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :invoke, :f :cas, :value [1 4], :process 31, :time 39503639095, :index 8380}
{:type :fail, :f :cas, :value [1 4], :process 31, :time 39509929388, :error :not-found, :index 8382}
{:type :invoke, :f :write, :value 0, :process 12, :time 39624905245, :index 8408}
{:type :ok, :f :write, :value 0, :process 12, :time 39632660139, :index 8412}
{:type :invoke, :f :write, :value 4, :process 10, :time 39635122864, :index 8415}
{:type :ok, :f :write, :value 4, :process 10, :time 39639775186, :index 8417}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 39642272427, :index 8418}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 39648311086, :index 8419}
{:type :invoke, :f :cas, :value [0 2], :process 31, :time 39654446986, :index 8420}
{:type :fail, :f :cas, :value [0 2], :process 31, :time 39660376958, :index 8421}
{:type :invoke, :f :cas, :value [0 4], :process 15, :time 39734624789, :index 8428}
{:type :fail, :f :cas, :value [0 4], :process 15, :time 39739863137, :index 8430}
{:type :invoke, :f :cas, :value [3 2], :process 12, :time 39765957700, :index 8437}
{:type :fail, :f :cas, :value [3 2], :process 12, :time 39772054482, :index 8439}
{:type :invoke, :f :cas, :value [1 0], :process 37, :time 39773604279, :index 8440}
{:type :invoke, :f :read, :value nil, :process 16, :time 39777816998, :index 8441}
{:type :fail, :f :cas, :value [1 0], :process 37, :time 39780260192, :index 8443}
{:type :ok, :f :read, :value 4, :process 16, :time 39784192734, :index 8445}
{:type :invoke, :f :write, :value 3, :process 15, :time 39802151886, :index 8450}
{:type :ok, :f :write, :value 3, :process 15, :time 39807978094, :index 8452}
{:type :invoke, :f :read, :value nil, :process 10, :time 39837076727, :index 8454}
{:type :ok, :f :read, :value 3, :process 10, :time 39842041278, :index 8455}
{:type :invoke, :f :cas, :value [1 0], :process 15, :time 39847263497, :index 8456}
{:type :fail, :f :cas, :value [1 0], :process 15, :time 39852365313, :index 8457}
{:type :invoke, :f :cas, :value [0 4], :process 15, :time 39854667770, :index 8458}
{:type :invoke, :f :read, :value nil, :process 31, :time 39855679240, :index 8459}
{:type :fail, :f :cas, :value [0 4], :process 15, :time 39859964911, :index 8460}
{:type :invoke, :f :cas, :value [3 4], :process 37, :time 39860126849, :index 8461}
{:type :ok, :f :read, :value 3, :process 31, :time 39861089305, :index 8462}
{:type :ok, :f :cas, :value [3 4], :process 37, :time 39865718954, :index 8463}
{:type :invoke, :f :read, :value nil, :process 10, :time 39892230095, :index 8466}
{:type :ok, :f :read, :value 4, :process 10, :time 39897488653, :index 8467}
{:type :invoke, :f :read, :value nil, :process 10, :time 39915776127, :index 8468}
{:type :ok, :f :read, :value 4, :process 10, :time 39920704250, :index 8469}
{:type :invoke, :f :read, :value nil, :process 15, :time 39928261778, :index 8470}
{:type :ok, :f :read, :value 4, :process 15, :time 39933061274, :index 8471}
{:type :invoke, :f :write, :value 2, :process 16, :time 39943501239, :index 8474}
{:type :ok, :f :write, :value 2, :process 16, :time 39950324250, :index 8477}
{:type :invoke, :f :read, :value nil, :process 12, :time 39966165541, :index 8479}
{:type :invoke, :f :read, :value nil, :process 15, :time 39968599948, :index 8482}
{:type :ok, :f :read, :value 2, :process 15, :time 39974317020, :index 8484}
{:type :ok, :f :read, :value 2, :process 12, :time 39974740058, :index 8485}
{:type :invoke, :f :write, :value 1, :process 10, :time 39992229013, :index 8487}
{:type :ok, :f :write, :value 1, :process 10, :time 39997582245, :index 8489}
{:type :invoke, :f :read, :value nil, :process 37, :time 40019043615, :index 8491}
{:type :ok, :f :read, :value 1, :process 37, :time 40023934805, :index 8494}
{:type :invoke, :f :write, :value 0, :process 31, :time 40029384401, :index 8496}
{:type :ok, :f :write, :value 0, :process 31, :time 40035395465, :index 8498}
{:type :invoke, :f :read, :value nil, :process 16, :time 40044577357, :index 8500}
{:type :ok, :f :read, :value 0, :process 16, :time 40050207521, :index 8502}
{:type :invoke, :f :cas, :value [2 1], :process 16, :time 40059486721, :index 8503}
{:type :fail, :f :cas, :value [2 1], :process 16, :time 40065285831, :index 8505}
{:type :invoke, :f :write, :value 0, :process 37, :time 40069223856, :index 8506}
{:type :ok, :f :write, :value 0, :process 37, :time 40075451681, :index 8507}
{:type :invoke, :f :read, :value nil, :process 12, :time 40089005309, :index 8510}
{:type :ok, :f :read, :value 0, :process 12, :time 40094636615, :index 8511}
{:type :invoke, :f :write, :value 1, :process 16, :time 40144591007, :index 8516}
{:type :ok, :f :write, :value 1, :process 16, :time 40149999416, :index 8517}
{:type :invoke, :f :write, :value 3, :process 15, :time 40160641650, :index 8519}
{:type :ok, :f :write, :value 3, :process 15, :time 40166877103, :index 8523}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 40184839990, :index 8526}
{:type :fail, :f :cas, :value [4 4], :process 10, :time 40190065352, :index 8527}
{:type :invoke, :f :read, :value nil, :process 31, :time 40205680449, :index 8530}
{:type :ok, :f :read, :value 3, :process 31, :time 40212825860, :index 8532}
{:type :invoke, :f :write, :value 4, :process 37, :time 40229753992, :index 8536}
{:type :ok, :f :write, :value 4, :process 37, :time 40235766618, :index 8537}
{:type :invoke, :f :write, :value 3, :process 12, :time 40266944825, :index 8542}
{:type :ok, :f :write, :value 3, :process 12, :time 40272962699, :index 8543}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 40319356881, :index 8548}
{:type :fail, :f :cas, :value [1 2], :process 10, :time 40324275080, :index 8549}
{:type :invoke, :f :write, :value 4, :process 31, :time 40335164683, :index 8552}
{:type :invoke, :f :write, :value 2, :process 15, :time 40337249089, :index 8555}
{:type :ok, :f :write, :value 4, :process 31, :time 40341784832, :index 8556}
{:type :ok, :f :write, :value 2, :process 15, :time 40342162307, :index 8557}
{:type :invoke, :f :write, :value 1, :process 16, :time 40343303344, :index 8558}
{:type :invoke, :f :read, :value nil, :process 10, :time 40346588430, :index 8559}
{:type :ok, :f :write, :value 1, :process 16, :time 40349520440, :index 8561}
{:type :ok, :f :read, :value 1, :process 10, :time 40353174668, :index 8562}
{:type :invoke, :f :read, :value nil, :process 37, :time 40361063389, :index 8564}
{:type :invoke, :f :cas, :value [1 2], :process 31, :time 40364128378, :index 8565}
{:type :ok, :f :read, :value 1, :process 37, :time 40366200670, :index 8566}
{:type :ok, :f :cas, :value [1 2], :process 31, :time 40370202592, :index 8567}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 40436466770, :index 8571}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 40441966619, :index 8573}
{:type :invoke, :f :cas, :value [4 0], :process 12, :time 40448239820, :index 8574}
{:type :fail, :f :cas, :value [4 0], :process 12, :time 40454493805, :index 8576}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 40469467208, :index 8579}
{:type :invoke, :f :write, :value 1, :process 31, :time 40470324579, :index 8580}
{:type :fail, :f :cas, :value [0 0], :process 10, :time 40475461342, :index 8582}
{:type :ok, :f :write, :value 1, :process 31, :time 40475800421, :index 8583}
{:type :invoke, :f :cas, :value [3 4], :process 16, :time 40482807422, :index 8585}
{:type :fail, :f :cas, :value [3 4], :process 16, :time 40489057227, :index 8587}
{:type :invoke, :f :cas, :value [1 4], :process 15, :time 40514243080, :index 8592}
{:type :ok, :f :cas, :value [1 4], :process 15, :time 40519551690, :index 8595}
{:type :invoke, :f :read, :value nil, :process 37, :time 40520502594, :index 8596}
{:type :ok, :f :read, :value 4, :process 37, :time 40525557565, :index 8597}
{:type :invoke, :f :write, :value 4, :process 31, :time 40535103320, :index 8601}
{:type :ok, :f :write, :value 4, :process 31, :time 40540553005, :index 8603}
{:type :invoke, :f :write, :value 1, :process 12, :time 40542803749, :index 8604}
{:type :ok, :f :write, :value 1, :process 12, :time 40548268557, :index 8606}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 40587856597, :index 8610}
{:type :ok, :f :cas, :value [1 3], :process 15, :time 40592773435, :index 8611}
{:type :invoke, :f :write, :value 1, :process 16, :time 40624381792, :index 8614}
{:type :ok, :f :write, :value 1, :process 16, :time 40630248691, :index 8615}
{:type :invoke, :f :cas, :value [3 0], :process 31, :time 40652847674, :index 8621}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 40654764604, :index 8623}
{:type :fail, :f :cas, :value [3 0], :process 31, :time 40660043145, :index 8624}
{:type :ok, :f :cas, :value [1 3], :process 10, :time 40660401615, :index 8625}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 40712769280, :index 8629}
{:type :ok, :f :cas, :value [3 0], :process 10, :time 40717347711, :index 8631}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 40721189857, :index 8635}
{:type :invoke, :f :cas, :value [1 2], :process 37, :time 40722135694, :index 8636}
{:type :fail, :f :cas, :value [1 1], :process 12, :time 40729504904, :index 8640}
{:type :fail, :f :cas, :value [1 2], :process 37, :time 40730322642, :index 8641}
{:type :invoke, :f :read, :value nil, :process 15, :time 40753081088, :index 8642}
{:type :ok, :f :read, :value 0, :process 15, :time 40758101365, :index 8643}
{:type :invoke, :f :read, :value nil, :process 31, :time 40765346018, :index 8644}
{:type :ok, :f :read, :value 0, :process 31, :time 40770635513, :index 8645}
{:type :invoke, :f :write, :value 1, :process 37, :time 40771609235, :index 8646}
{:type :ok, :f :write, :value 1, :process 37, :time 40776679205, :index 8647}
{:type :invoke, :f :read, :value nil, :process 10, :time 40782655102, :index 8648}
{:type :invoke, :f :write, :value 0, :process 15, :time 40783489357, :index 8649}
{:type :ok, :f :read, :value 1, :process 10, :time 40787992103, :index 8650}
{:type :ok, :f :write, :value 0, :process 15, :time 40788566239, :index 8651}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 40791811543, :index 8652}
{:type :invoke, :f :cas, :value [0 2], :process 37, :time 40794679619, :index 8654}
{:type :fail, :f :cas, :value [1 1], :process 12, :time 40797197655, :index 8655}
{:type :ok, :f :cas, :value [0 2], :process 37, :time 40802340076, :index 8657}
{:type :invoke, :f :read, :value nil, :process 16, :time 40823126342, :index 8660}
{:type :ok, :f :read, :value 2, :process 16, :time 40829118351, :index 8661}
{:type :invoke, :f :write, :value 2, :process 37, :time 40901622969, :index 8668}
{:type :ok, :f :write, :value 2, :process 37, :time 40907147799, :index 8669}
{:type :invoke, :f :cas, :value [1 0], :process 31, :time 40915943033, :index 8670}
{:type :invoke, :f :cas, :value [4 0], :process 16, :time 40920449291, :index 8672}
{:type :fail, :f :cas, :value [1 0], :process 31, :time 40922142258, :index 8673}
{:type :invoke, :f :cas, :value [1 1], :process 37, :time 40923450570, :index 8674}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 40926454948, :index 8677}
{:type :fail, :f :cas, :value [4 0], :process 16, :time 40927614077, :index 8678}
{:type :ok, :f :cas, :value [2 2], :process 15, :time 40931638490, :index 8680}
{:type :fail, :f :cas, :value [1 1], :process 37, :time 40932927472, :index 8681}
{:type :invoke, :f :read, :value nil, :process 10, :time 40951284502, :index 8682}
{:type :invoke, :f :write, :value 1, :process 12, :time 40957541177, :index 8684}
{:type :ok, :f :read, :value 2, :process 10, :time 40958403339, :index 8685}
{:type :ok, :f :write, :value 1, :process 12, :time 40962935335, :index 8686}
{:type :invoke, :f :read, :value nil, :process 16, :time 41044884040, :index 8698}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 41045632006, :index 8699}
{:type :ok, :f :read, :value 1, :process 16, :time 41050344978, :index 8700}
{:type :fail, :f :cas, :value [4 3], :process 15, :time 41051930432, :index 8702}
{:type :invoke, :f :read, :value nil, :process 12, :time 41085230722, :index 8706}
{:type :ok, :f :read, :value 1, :process 12, :time 41090522878, :index 8707}
{:type :invoke, :f :cas, :value [2 3], :process 12, :time 41109816374, :index 8708}
{:type :invoke, :f :read, :value nil, :process 31, :time 41111471882, :index 8709}
{:type :fail, :f :cas, :value [2 3], :process 12, :time 41117262899, :index 8710}
{:type :ok, :f :read, :value 1, :process 31, :time 41117635516, :index 8711}
{:type :invoke, :f :cas, :value [1 0], :process 37, :time 41126212380, :index 8714}
{:type :ok, :f :cas, :value [1 0], :process 37, :time 41132668665, :index 8717}
{:type :invoke, :f :write, :value 4, :process 10, :time 41133696155, :index 8718}
{:type :ok, :f :write, :value 4, :process 10, :time 41138533133, :index 8719}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 41154215570, :index 8720}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 41163734989, :index 8724}
{:type :invoke, :f :cas, :value [2 3], :process 16, :time 41180644228, :index 8728}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 41184843887, :index 8729}
{:type :fail, :f :cas, :value [2 3], :process 16, :time 41187277374, :index 8730}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 41191279142, :index 8731}
{:type :invoke, :f :cas, :value [0 4], :process 16, :time 41192585323, :index 8732}
{:type :invoke, :f :write, :value 0, :process 15, :time 41196031871, :index 8733}
{:type :fail, :f :cas, :value [0 4], :process 16, :time 41198511965, :index 8735}
{:type :ok, :f :write, :value 0, :process 15, :time 41201948926, :index 8737}
{:type :invoke, :f :write, :value 3, :process 10, :time 41212565829, :index 8741}
{:type :ok, :f :write, :value 3, :process 10, :time 41217228177, :index 8743}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :invoke, :f :read, :value nil, :process 39, :time 41250295647, :index 8753}
{:type :invoke, :f :write, :value 0, :process 31, :time 41260891679, :index 8757}
{:type :ok, :f :write, :value 0, :process 31, :time 41269070511, :index 8761}
{:type :invoke, :f :read, :value nil, :process 54, :time 41292379590, :index 8765}
{:type :invoke, :f :cas, :value [4 1], :process 12, :time 41296598984, :index 8767}
{:type :fail, :f :cas, :value [4 1], :process 12, :time 41302860741, :index 8768}
{:type :invoke, :f :read, :value nil, :process 37, :time 41307022330, :index 8771}
{:type :invoke, :f :read, :value nil, :process 31, :time 41312375918, :index 8773}
{:type :ok, :f :read, :value 0, :process 37, :time 41314197015, :index 8774}
{:type :ok, :f :read, :value 0, :process 31, :time 41322459209, :index 8776}
{:type :invoke, :f :read, :value nil, :process 15, :time 41335239873, :index 8778}
{:type :invoke, :f :cas, :value [3 0], :process 53, :time 41339912229, :index 8780}
{:type :ok, :f :read, :value 0, :process 15, :time 41341030249, :index 8781}
{:type :invoke, :f :write, :value 2, :process 58, :time 41367448366, :index 8782}
{:type :invoke, :f :read, :value nil, :process 16, :time 41374811746, :index 8783}
{:type :ok, :f :read, :value 0, :process 16, :time 41379980914, :index 8784}
{:type :invoke, :f :read, :value nil, :process 10, :time 41388003192, :index 8785}
{:type :ok, :f :read, :value 0, :process 10, :time 41393483079, :index 8786}
{:type :invoke, :f :cas, :value [2 4], :process 12, :time 41396183140, :index 8788}
{:type :fail, :f :cas, :value [2 4], :process 12, :time 41402884895, :index 8792}
{:type :invoke, :f :read, :value nil, :process 37, :time 41414471749, :index 8796}
{:type :ok, :f :read, :value 0, :process 37, :time 41420503689, :index 8798}
{:type :invoke, :f :write, :value 1, :process 31, :time 41433742185, :index 8800}
{:type :ok, :f :write, :value 1, :process 31, :time 41439894217, :index 8802}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :invoke, :f :read, :value nil, :process 15, :time 41524233321, :index 8826}
{:type :ok, :f :read, :value 1, :process 15, :time 41529334477, :index 8828}
{:type :ok, :f :read, :value 2, :process 39, :time 43343170753, :index 8982}
{:type :ok, :f :read, :value 2, :process 54, :time 43343495930, :index 8983}
{:type :fail, :f :cas, :value [3 0], :process 53, :time 43350843798, :index 8987}
{:type :ok, :f :write, :value 2, :process 58, :time 43351188193, :index 8988}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
