{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :invoke, :f :cas, :value [3 3], :process 18, :time 19055604319, :index 4403}
{:type :fail, :f :cas, :value [3 3], :process 18, :time 19062292517, :error :not-found, :index 4405}
{:type :invoke, :f :write, :value 0, :process 30, :time 19132906950, :index 4418}
{:type :ok, :f :write, :value 0, :process 30, :time 19138363185, :index 4419}
{:type :invoke, :f :read, :value nil, :process 13, :time 19146694918, :index 4420}
{:type :ok, :f :read, :value 0, :process 13, :time 19156627251, :index 4422}
{:type :invoke, :f :read, :value nil, :process 18, :time 19187567469, :index 4424}
{:type :ok, :f :read, :value 0, :process 18, :time 19193202748, :index 4425}
{:type :invoke, :f :write, :value 0, :process 11, :time 19208170805, :index 4426}
{:type :invoke, :f :cas, :value [3 4], :process 16, :time 19212124495, :index 4427}
{:type :ok, :f :write, :value 0, :process 11, :time 19213767458, :index 4428}
{:type :fail, :f :cas, :value [3 4], :process 16, :time 19217172283, :index 4429}
{:type :invoke, :f :cas, :value [2 1], :process 35, :time 19220070843, :index 4430}
{:type :fail, :f :cas, :value [2 1], :process 35, :time 19225985156, :index 4431}
{:type :invoke, :f :write, :value 1, :process 11, :time 19252035605, :index 4432}
{:type :ok, :f :write, :value 1, :process 11, :time 19257935732, :index 4433}
{:type :invoke, :f :read, :value nil, :process 13, :time 19262899854, :index 4434}
{:type :ok, :f :read, :value 1, :process 13, :time 19268103027, :index 4435}
{:type :invoke, :f :write, :value 1, :process 18, :time 19319472707, :index 4448}
{:type :ok, :f :write, :value 1, :process 18, :time 19323605657, :index 4449}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 19329442217, :index 4450}
{:type :invoke, :f :write, :value 3, :process 30, :time 19330624471, :index 4451}
{:type :fail, :f :cas, :value [3 0], :process 16, :time 19334326416, :index 4454}
{:type :ok, :f :write, :value 3, :process 30, :time 19338280949, :index 4456}
{:type :invoke, :f :write, :value 2, :process 11, :time 19346221870, :index 4458}
{:type :ok, :f :write, :value 2, :process 11, :time 19351194537, :index 4459}
{:type :invoke, :f :write, :value 3, :process 18, :time 19352873469, :index 4460}
{:type :ok, :f :write, :value 3, :process 18, :time 19357264802, :index 4461}
{:type :invoke, :f :read, :value nil, :process 35, :time 19385282010, :index 4462}
{:type :ok, :f :read, :value 3, :process 35, :time 19391325350, :index 4463}
{:type :invoke, :f :read, :value nil, :process 16, :time 19400589864, :index 4464}
{:type :invoke, :f :read, :value nil, :process 13, :time 19405365246, :index 4465}
{:type :ok, :f :read, :value 3, :process 16, :time 19405789101, :index 4466}
{:type :ok, :f :read, :value 3, :process 13, :time 19410196293, :index 4468}
{:type :invoke, :f :write, :value 3, :process 30, :time 19419514039, :index 4470}
{:type :ok, :f :write, :value 3, :process 30, :time 19425006368, :index 4472}
{:type :invoke, :f :read, :value nil, :process 11, :time 19425463044, :index 4473}
{:type :ok, :f :read, :value 3, :process 11, :time 19430574619, :index 4475}
{:type :invoke, :f :cas, :value [2 3], :process 30, :time 19433264279, :index 4476}
{:type :fail, :f :cas, :value [2 3], :process 30, :time 19439220664, :index 4477}
{:type :invoke, :f :read, :value nil, :process 18, :time 19459530359, :index 4482}
{:type :ok, :f :read, :value 3, :process 18, :time 19463626973, :index 4483}
{:type :invoke, :f :read, :value nil, :process 16, :time 19474047907, :index 4485}
{:type :ok, :f :read, :value 3, :process 16, :time 19478669007, :index 4487}
{:type :invoke, :f :cas, :value [4 2], :process 30, :time 19516485126, :index 4490}
{:type :fail, :f :cas, :value [4 2], :process 30, :time 19522408969, :index 4491}
{:type :invoke, :f :read, :value nil, :process 16, :time 19535919860, :index 4492}
{:type :invoke, :f :write, :value 1, :process 13, :time 19538503869, :index 4494}
{:type :ok, :f :read, :value 3, :process 16, :time 19541672201, :index 4495}
{:type :ok, :f :write, :value 1, :process 13, :time 19542820330, :index 4496}
{:type :invoke, :f :write, :value 0, :process 18, :time 19551887406, :index 4498}
{:type :ok, :f :write, :value 0, :process 18, :time 19556502410, :index 4499}
{:type :invoke, :f :cas, :value [0 0], :process 35, :time 19556613095, :index 4500}
{:type :ok, :f :cas, :value [0 0], :process 35, :time 19562448078, :index 4501}
{:type :invoke, :f :cas, :value [3 1], :process 11, :time 19570805657, :index 4506}
{:type :invoke, :f :read, :value nil, :process 16, :time 19573943279, :index 4508}
{:type :fail, :f :cas, :value [3 1], :process 11, :time 19576287787, :index 4510}
{:type :ok, :f :read, :value 0, :process 16, :time 19581194508, :index 4513}
{:type :invoke, :f :write, :value 1, :process 35, :time 19592711115, :index 4515}
{:type :invoke, :f :cas, :value [3 3], :process 11, :time 19598544613, :index 4517}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 19607771490, :index 4520}
{:type :invoke, :f :write, :value 1, :process 13, :time 19699093041, :index 4522}
{:type :invoke, :f :write, :value 3, :process 30, :time 19716667341, :index 4524}
{:type :invoke, :f :write, :value 1, :process 16, :time 19738424291, :index 4525}
{:type :ok, :f :write, :value 1, :process 35, :time 19917523333, :index 4528}
{:type :invoke, :f :write, :value 3, :process 35, :time 19965861870, :index 4529}
{:type :ok, :f :cas, :value [1 3], :process 18, :time 20058901925, :index 4530}
{:type :ok, :f :write, :value 1, :process 13, :time 20059328247, :index 4531}
{:type :ok, :f :write, :value 3, :process 30, :time 20059732746, :index 4533}
{:type :ok, :f :cas, :value [3 3], :process 11, :time 20060139839, :index 4534}
{:type :ok, :f :write, :value 3, :process 35, :time 20060601682, :index 4536}
{:type :ok, :f :write, :value 1, :process 16, :time 20061254971, :index 4540}
{:type :invoke, :f :write, :value 2, :process 11, :time 20082399296, :index 4544}
{:type :invoke, :f :cas, :value [2 2], :process 16, :time 20085486988, :index 4545}
{:type :ok, :f :write, :value 2, :process 11, :time 20087693778, :index 4546}
{:type :ok, :f :cas, :value [2 2], :process 16, :time 20090311538, :index 4547}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 20098300185, :index 4548}
{:type :fail, :f :cas, :value [1 3], :process 18, :time 20103570227, :index 4549}
{:type :invoke, :f :read, :value nil, :process 30, :time 20166965205, :index 4555}
{:type :ok, :f :read, :value 2, :process 30, :time 20172559292, :index 4556}
{:type :invoke, :f :read, :value nil, :process 16, :time 20175576012, :index 4557}
{:type :invoke, :f :write, :value 3, :process 30, :time 20175823654, :index 4558}
{:type :ok, :f :read, :value 2, :process 16, :time 20180555102, :index 4559}
{:type :ok, :f :write, :value 3, :process 30, :time 20181373196, :index 4560}
{:type :invoke, :f :cas, :value [1 1], :process 11, :time 20189957933, :index 4561}
{:type :fail, :f :cas, :value [1 1], :process 11, :time 20195559231, :index 4562}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 20199846339, :index 4564}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 20206023714, :index 4566}
{:type :invoke, :f :read, :value nil, :process 13, :time 20225627019, :index 4572}
{:type :invoke, :f :read, :value nil, :process 16, :time 20252816879, :index 4577}
{:type :invoke, :f :write, :value 3, :process 35, :time 20256883820, :index 4578}
{:type :invoke, :f :write, :value 3, :process 11, :time 20281820891, :index 4579}
{:type :invoke, :f :read, :value nil, :process 30, :time 20298628662, :index 4580}
{:type :invoke, :f :write, :value 3, :process 18, :time 20403300976, :index 4583}
{:type :invoke, :f :write, :value 2, :process 14, :time 20560529481, :index 4593}
{:type :invoke, :f :cas, :value [2 0], :process 37, :time 20571403285, :index 4594}
{:type :invoke, :f :cas, :value [3 2], :process 39, :time 20579111644, :index 4596}
{:type :invoke, :f :read, :value nil, :process 12, :time 20598566592, :index 4597}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :ok, :f :read, :value 3, :process 13, :time 20797493527, :index 4600}
{:type :ok, :f :write, :value 3, :process 18, :time 20798071849, :index 4602}
{:type :ok, :f :write, :value 3, :process 35, :time 20798718617, :index 4604}
{:type :ok, :f :read, :value 3, :process 30, :time 20798939603, :index 4605}
{:type :ok, :f :read, :value 3, :process 16, :time 20799632845, :index 4609}
{:type :ok, :f :write, :value 3, :process 11, :time 20799888909, :index 4610}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :invoke, :f :write, :value 3, :process 16, :time 20827277666, :index 4614}
{:type :ok, :f :write, :value 3, :process 16, :time 20832465577, :index 4616}
{:type :invoke, :f :read, :value nil, :process 35, :time 20838834147, :index 4618}
{:type :ok, :f :read, :value 3, :process 35, :time 20844543324, :index 4619}
{:type :invoke, :f :read, :value nil, :process 18, :time 20869574319, :index 4620}
{:type :ok, :f :read, :value 3, :process 18, :time 20875936444, :index 4621}
{:type :invoke, :f :read, :value nil, :process 13, :time 20886864853, :index 4622}
{:type :ok, :f :read, :value 3, :process 13, :time 20891240701, :index 4623}
{:type :invoke, :f :cas, :value [4 3], :process 30, :time 20895999879, :index 4625}
{:type :fail, :f :cas, :value [4 3], :process 30, :time 20901007175, :index 4627}
{:type :invoke, :f :cas, :value [4 1], :process 30, :time 20916253666, :index 4628}
{:type :fail, :f :cas, :value [4 1], :process 30, :time 20921939863, :index 4630}
{:type :invoke, :f :write, :value 0, :process 35, :time 20933804966, :index 4632}
{:type :invoke, :f :cas, :value [4 1], :process 16, :time 20935737346, :index 4633}
{:type :ok, :f :write, :value 0, :process 35, :time 20940511706, :index 4634}
{:type :fail, :f :cas, :value [4 1], :process 16, :time 20941244059, :index 4635}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 20949366703, :index 4637}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 20954649862, :index 4640}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 20962204697, :index 4643}
{:type :ok, :f :cas, :value [0 4], :process 18, :time 20967570727, :index 4646}
{:type :invoke, :f :write, :value 0, :process 30, :time 20975213561, :index 4648}
{:type :ok, :f :write, :value 0, :process 30, :time 20980266424, :index 4649}
{:type :invoke, :f :write, :value 3, :process 18, :time 20987831979, :index 4650}
{:type :ok, :f :write, :value 3, :process 18, :time 20992721542, :index 4651}
{:type :invoke, :f :cas, :value [2 4], :process 35, :time 21025781527, :index 4660}
{:type :fail, :f :cas, :value [2 4], :process 35, :time 21031337533, :index 4663}
{:type :invoke, :f :read, :value nil, :process 13, :time 21085499674, :index 4668}
{:type :ok, :f :read, :value 3, :process 13, :time 21090362517, :index 4669}
{:type :invoke, :f :write, :value 1, :process 30, :time 21094527255, :index 4670}
{:type :ok, :f :write, :value 1, :process 30, :time 21099860626, :index 4671}
{:type :invoke, :f :write, :value 4, :process 11, :time 21110889733, :index 4674}
{:type :ok, :f :write, :value 4, :process 11, :time 21116078953, :index 4675}
{:type :invoke, :f :read, :value nil, :process 35, :time 21123572917, :index 4676}
{:type :ok, :f :read, :value 4, :process 35, :time 21128726445, :index 4678}
{:type :invoke, :f :write, :value 0, :process 16, :time 21140519293, :index 4681}
{:type :ok, :f :write, :value 0, :process 16, :time 21146215279, :index 4684}
{:type :invoke, :f :cas, :value [1 0], :process 18, :time 21191000486, :index 4688}
{:type :fail, :f :cas, :value [1 0], :process 18, :time 21198456387, :index 4691}
{:type :invoke, :f :read, :value nil, :process 16, :time 21211475903, :index 4694}
{:type :ok, :f :read, :value 0, :process 16, :time 21219326919, :index 4695}
{:type :invoke, :f :read, :value nil, :process 16, :time 21230590415, :index 4698}
{:type :ok, :f :read, :value 0, :process 16, :time 21236278007, :index 4699}
{:type :invoke, :f :cas, :value [1 2], :process 11, :time 21241352815, :index 4700}
{:type :invoke, :f :read, :value nil, :process 13, :time 21241633916, :index 4701}
{:type :ok, :f :read, :value 0, :process 13, :time 21246279658, :index 4702}
{:type :fail, :f :cas, :value [1 2], :process 11, :time 21247582913, :index 4703}
{:type :invoke, :f :read, :value nil, :process 18, :time 21249755571, :index 4704}
{:type :invoke, :f :cas, :value [0 2], :process 35, :time 21250992665, :index 4705}
{:type :ok, :f :read, :value 0, :process 18, :time 21254307965, :index 4706}
{:type :ok, :f :cas, :value [0 2], :process 35, :time 21256493281, :index 4707}
{:type :invoke, :f :cas, :value [2 2], :process 16, :time 21281541741, :index 4710}
{:type :invoke, :f :read, :value nil, :process 30, :time 21284134013, :index 4712}
{:type :ok, :f :cas, :value [2 2], :process 16, :time 21287008180, :index 4714}
{:type :ok, :f :read, :value 2, :process 30, :time 21289851242, :index 4716}
{:type :invoke, :f :read, :value nil, :process 11, :time 21289991014, :index 4717}
{:type :ok, :f :read, :value 2, :process 11, :time 21295332358, :index 4719}
{:type :invoke, :f :write, :value 0, :process 16, :time 21298264117, :index 4720}
{:type :ok, :f :write, :value 0, :process 16, :time 21303947287, :index 4721}
{:type :invoke, :f :read, :value nil, :process 13, :time 21315537163, :index 4722}
{:type :ok, :f :read, :value 0, :process 13, :time 21320437406, :index 4723}
{:type :invoke, :f :read, :value nil, :process 11, :time 21398584957, :index 4736}
{:type :ok, :f :read, :value 0, :process 11, :time 21404467194, :index 4739}
{:type :invoke, :f :write, :value 0, :process 18, :time 21424574027, :index 4742}
{:type :ok, :f :write, :value 0, :process 18, :time 21429073527, :index 4743}
{:type :invoke, :f :write, :value 2, :process 13, :time 21439702067, :index 4745}
{:type :ok, :f :write, :value 2, :process 13, :time 21444440426, :index 4747}
{:type :invoke, :f :write, :value 0, :process 11, :time 21448716220, :index 4748}
{:type :invoke, :f :write, :value 3, :process 35, :time 21450756533, :index 4749}
{:type :ok, :f :write, :value 0, :process 11, :time 21453938437, :index 4750}
{:type :ok, :f :write, :value 3, :process 35, :time 21456160045, :index 4751}
{:type :invoke, :f :write, :value 0, :process 30, :time 21458122312, :index 4752}
{:type :ok, :f :write, :value 0, :process 30, :time 21463420842, :index 4753}
{:type :invoke, :f :write, :value 4, :process 11, :time 21466222598, :index 4754}
{:type :ok, :f :write, :value 4, :process 11, :time 21471464192, :index 4755}
{:type :invoke, :f :cas, :value [4 4], :process 35, :time 21476431889, :index 4756}
{:type :ok, :f :cas, :value [4 4], :process 35, :time 21484799374, :index 4759}
{:type :invoke, :f :cas, :value [2 0], :process 11, :time 21485723864, :index 4761}
{:type :fail, :f :cas, :value [2 0], :process 11, :time 21492318284, :index 4763}
{:type :invoke, :f :read, :value nil, :process 16, :time 21495207593, :index 4764}
{:type :invoke, :f :read, :value nil, :process 11, :time 21498615907, :index 4765}
{:type :ok, :f :read, :value 4, :process 16, :time 21499903656, :index 4766}
{:type :ok, :f :read, :value 4, :process 11, :time 21504097361, :index 4767}
{:type :invoke, :f :write, :value 1, :process 13, :time 21517697756, :index 4769}
{:type :ok, :f :write, :value 1, :process 13, :time 21521934005, :index 4771}
{:type :invoke, :f :cas, :value [2 3], :process 30, :time 21571683723, :index 4777}
{:type :fail, :f :cas, :value [2 3], :process 30, :time 21576897437, :index 4779}
{:type :invoke, :f :cas, :value [0 3], :process 16, :time 21591166293, :index 4783}
{:type :fail, :f :cas, :value [0 3], :process 16, :time 21596334422, :index 4785}
{:type :invoke, :f :read, :value nil, :process 18, :time 21597335183, :index 4786}
{:type :invoke, :f :read, :value nil, :process 35, :time 21600069232, :index 4789}
{:type :ok, :f :read, :value 1, :process 18, :time 21602925033, :index 4790}
{:type :ok, :f :read, :value 1, :process 35, :time 21605583842, :index 4793}
{:type :ok, :f :read, :value 1, :process 12, :time 24238473250, :index 4810}
{:type :fail, :f :cas, :value [2 0], :process 37, :time 24239727471, :index 4813}
{:type :ok, :f :write, :value 2, :process 14, :time 24240297163, :index 4816}
{:type :fail, :f :cas, :value [3 2], :process 39, :time 24240495250, :index 4817}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
