{:type :invoke, :f :write, :value 2, :process 2, :time 3571582665, :index 1175}
{:type :ok, :f :write, :value 2, :process 2, :time 3578067940, :index 1177}
{:type :invoke, :f :write, :value 2, :process 1, :time 3620572666, :index 1193}
{:type :ok, :f :write, :value 2, :process 1, :time 3625779188, :index 1194}
{:type :invoke, :f :write, :value 2, :process 6, :time 3630755675, :index 1195}
{:type :ok, :f :write, :value 2, :process 6, :time 3636379102, :index 1196}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 3659813923, :index 1201}
{:type :ok, :f :cas, :value [2 3], :process 8, :time 3664913665, :index 1202}
{:type :invoke, :f :write, :value 0, :process 2, :time 3677325469, :index 1203}
{:type :invoke, :f :write, :value 1, :process 3, :time 3679524110, :index 1204}
{:type :ok, :f :write, :value 1, :process 3, :time 3684815613, :index 1205}
{:type :invoke, :f :cas, :value [0 3], :process 9, :time 3706594004, :index 1213}
{:type :invoke, :f :read, :value nil, :process 6, :time 3712645845, :index 1215}
{:type :fail, :f :cas, :value [0 3], :process 9, :time 3713201965, :index 1216}
{:type :ok, :f :read, :value 1, :process 6, :time 3718038771, :index 1218}
{:type :invoke, :f :read, :value nil, :process 6, :time 3746293384, :index 1223}
{:type :invoke, :f :write, :value 4, :process 5, :time 3750619556, :index 1224}
{:type :invoke, :f :read, :value nil, :process 8, :time 3751196139, :index 1225}
{:type :ok, :f :read, :value 1, :process 6, :time 3751619376, :index 1226}
{:type :ok, :f :write, :value 4, :process 5, :time 3755923718, :index 1227}
{:type :ok, :f :read, :value 4, :process 8, :time 3756601812, :index 1228}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 3760890630, :index 1229}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 3766378890, :index 1230}
{:type :invoke, :f :write, :value 0, :process 5, :time 3769184703, :index 1232}
{:type :ok, :f :write, :value 0, :process 5, :time 3773985246, :index 1234}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 3775874948, :index 1236}
{:type :invoke, :f :write, :value 3, :process 1, :time 3779034838, :index 1239}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 3781609632, :index 1241}
{:type :ok, :f :write, :value 3, :process 1, :time 3784066956, :index 1242}
{:type :invoke, :f :write, :value 0, :process 7, :time 3796092306, :index 1243}
{:type :invoke, :f :write, :value 0, :process 0, :time 3812011725, :index 1246}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 3814109402, :index 1248}
{:type :invoke, :f :write, :value 2, :process 5, :time 3815245310, :index 1249}
{:type :ok, :f :write, :value 0, :process 0, :time 3816581879, :index 1250}
{:type :ok, :f :write, :value 2, :process 5, :time 3821027543, :index 1252}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 3821485758, :index 1253}
{:type :invoke, :f :read, :value nil, :process 5, :time 3823305188, :index 1254}
{:type :ok, :f :read, :value 2, :process 5, :time 3828062691, :index 1255}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 3855487986, :index 1263}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 3861338213, :index 1264}
{:type :invoke, :f :read, :value nil, :process 6, :time 3884643376, :index 1266}
{:type :invoke, :f :cas, :value [1 4], :process 5, :time 3900345178, :index 1269}
{:type :invoke, :f :read, :value nil, :process 9, :time 3904491818, :index 1270}
{:type :fail, :f :cas, :value [1 4], :process 5, :time 3905513285, :index 1271}
{:type :ok, :f :read, :value 2, :process 9, :time 3909344504, :index 1273}
{:type :invoke, :f :read, :value nil, :process 3, :time 3909758039, :index 1274}
{:type :ok, :f :read, :value 2, :process 3, :time 3915303658, :index 1277}
{:type :invoke, :f :read, :value nil, :process 9, :time 3932597857, :index 1280}
{:type :ok, :f :read, :value 2, :process 9, :time 3937919679, :index 1282}
{:type :ok, :f :read, :value 2, :process 6, :time 3945406680, :index 1285}
{:type :invoke, :f :read, :value nil, :process 8, :time 3958862972, :index 1288}
{:type :ok, :f :read, :value 2, :process 8, :time 3964115471, :index 1289}
{:type :invoke, :f :cas, :value [0 0], :process 5, :time 3969771009, :index 1290}
{:type :invoke, :f :write, :value 4, :process 0, :time 3973838733, :index 1291}
{:type :fail, :f :cas, :value [0 0], :process 5, :time 3974804524, :index 1292}
{:type :invoke, :f :read, :value nil, :process 6, :time 3975686233, :index 1293}
{:type :ok, :f :write, :value 4, :process 0, :time 3978488042, :index 1296}
{:type :ok, :f :read, :value 4, :process 6, :time 3981014916, :index 1297}
{:type :invoke, :f :read, :value nil, :process 1, :time 3982331733, :index 1300}
{:type :invoke, :f :read, :value nil, :process 4, :time 3985610811, :index 1302}
{:type :ok, :f :read, :value 4, :process 1, :time 3986900865, :index 1303}
{:type :ok, :f :read, :value 4, :process 4, :time 3991149923, :index 1305}
{:type :invoke, :f :write, :value 2, :process 4, :time 4017402069, :index 1308}
{:type :ok, :f :write, :value 2, :process 4, :time 4022315230, :index 1310}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 4033743421, :index 1315}
{:type :invoke, :f :write, :value 4, :process 5, :time 4037062494, :index 1317}
{:type :invoke, :f :read, :value nil, :process 9, :time 4038180402, :index 1318}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 4039118316, :index 1319}
{:type :ok, :f :write, :value 4, :process 5, :time 4041932038, :index 1321}
{:type :ok, :f :read, :value 4, :process 9, :time 4043655855, :index 1322}
{:type :invoke, :f :read, :value nil, :process 5, :time 4050193242, :index 1324}
{:type :invoke, :f :read, :value nil, :process 8, :time 4054392342, :index 1326}
{:type :ok, :f :read, :value 4, :process 5, :time 4054906799, :index 1327}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 4059559510, :index 1330}
{:type :ok, :f :read, :value 4, :process 8, :time 4060234223, :index 1331}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 4065013452, :index 1333}
{:type :invoke, :f :cas, :value [2 4], :process 9, :time 4131913530, :index 1344}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 4132507508, :index 1345}
{:type :fail, :f :cas, :value [2 4], :process 9, :time 4137229100, :index 1346}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 4138088823, :index 1347}
{:type :invoke, :f :read, :value nil, :process 0, :time 4146370743, :index 1350}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 4148197777, :index 1351}
{:type :ok, :f :read, :value 4, :process 0, :time 4152262022, :index 1352}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 4153850193, :index 1353}
{:type :invoke, :f :read, :value nil, :process 6, :time 4154268742, :index 1354}
{:type :ok, :f :read, :value 4, :process 6, :time 4160977677, :index 1357}
{:type :invoke, :f :cas, :value [0 4], :process 1, :time 4168161606, :index 1361}
{:type :fail, :f :cas, :value [0 4], :process 1, :time 4173994844, :index 1363}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 4189270074, :index 1364}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 4195260726, :index 1365}
{:type :invoke, :f :read, :value nil, :process 4, :time 4196592241, :index 1366}
{:type :ok, :f :read, :value 4, :process 4, :time 4202465610, :index 1368}
{:type :invoke, :f :read, :value nil, :process 9, :time 4203509610, :index 1370}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 4206349740, :index 1371}
{:type :ok, :f :read, :value 4, :process 9, :time 4208829280, :index 1373}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 4212083598, :index 1375}
{:type :invoke, :f :write, :value 0, :process 9, :time 4220095697, :index 1376}
{:type :invoke, :f :read, :value nil, :process 8, :time 4237389143, :index 1377}
{:type :ok, :f :read, :value 0, :process 8, :time 4242849503, :index 1378}
{:type :invoke, :f :write, :value 2, :process 0, :time 4255523832, :index 1380}
{:type :ok, :f :write, :value 2, :process 0, :time 4264198641, :index 1382}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 4270109144, :index 1388}
{:type :invoke, :f :write, :value 0, :process 5, :time 4272109863, :index 1389}
{:type :invoke, :f :write, :value 1, :process 3, :time 4274568785, :index 1391}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 4275314209, :index 1392}
{:type :ok, :f :write, :value 0, :process 5, :time 4276669907, :index 1393}
{:type :invoke, :f :write, :value 2, :process 4, :time 4280722790, :index 1394}
{:type :ok, :f :write, :value 1, :process 3, :time 4280917439, :index 1395}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 4304262122, :index 1398}
{:type :fail, :f :cas, :value [4 0], :process 1, :time 4309988179, :index 1400}
{:type :invoke, :f :read, :value nil, :process 6, :time 4316239177, :index 1402}
{:type :ok, :f :read, :value 1, :process 6, :time 4321697785, :index 1403}
{:type :invoke, :f :write, :value 0, :process 5, :time 4346935732, :index 1405}
{:type :ok, :f :write, :value 0, :process 5, :time 4351461877, :index 1407}
{:type :invoke, :f :write, :value 4, :process 3, :time 4444180914, :index 1418}
{:type :invoke, :f :read, :value nil, :process 8, :time 4451610877, :index 1421}
{:type :ok, :f :write, :value 4, :process 3, :time 4453020024, :index 1423}
{:type :invoke, :f :read, :value nil, :process 1, :time 4453267072, :index 1425}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 4456506924, :index 1426}
{:type :ok, :f :read, :value 4, :process 8, :time 4456670967, :index 1427}
{:type :ok, :f :read, :value 4, :process 1, :time 4458515188, :index 1428}
{:type :ok, :f :cas, :value [4 3], :process 0, :time 4460717478, :index 1430}
{:type :invoke, :f :write, :value 1, :process 6, :time 4465956474, :index 1432}
{:type :ok, :f :write, :value 1, :process 6, :time 4470916526, :index 1433}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 4484022266, :index 1434}
{:type :invoke, :f :read, :value nil, :process 6, :time 4487176479, :index 1435}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 4489238326, :index 1436}
{:type :ok, :f :read, :value 1, :process 6, :time 4492198066, :index 1437}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 4497452509, :index 1438}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 4502980735, :index 1440}
{:type :invoke, :f :read, :value nil, :process 5, :time 4507720097, :index 1442}
{:type :ok, :f :read, :value 1, :process 5, :time 4512567144, :index 1443}
{:type :invoke, :f :read, :value nil, :process 8, :time 4529909923, :index 1444}
{:type :ok, :f :read, :value 1, :process 8, :time 4534994803, :index 1446}
{:type :ok, :f :write, :value 0, :process 2, :time 4539323394, :index 1449}
{:type :ok, :f :write, :value 0, :process 7, :time 4541306443, :index 1452}
{:type :invoke, :f :write, :value 2, :process 7, :time 4549567810, :index 1455}
{:type :ok, :f :write, :value 2, :process 7, :time 4555204975, :index 1459}
{:type :invoke, :f :write, :value 2, :process 1, :time 4557771294, :index 1461}
{:type :ok, :f :write, :value 2, :process 1, :time 4563298034, :index 1463}
{:type :invoke, :f :write, :value 1, :process 0, :time 4564499975, :index 1464}
{:type :ok, :f :write, :value 1, :process 0, :time 4569381416, :index 1465}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 4571628007, :index 1466}
{:type :invoke, :f :write, :value 0, :process 3, :time 4575284733, :index 1468}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 4577126631, :index 1469}
{:type :ok, :f :write, :value 0, :process 3, :time 4580531097, :index 1471}
{:type :ok, :f :write, :value 0, :process 9, :time 4605063268, :index 1472}
{:type :invoke, :f :read, :value nil, :process 1, :time 4612501273, :index 1474}
{:type :invoke, :f :cas, :value [0 1], :process 7, :time 4616433628, :index 1475}
{:type :ok, :f :read, :value 0, :process 1, :time 4618190589, :index 1478}
{:type :invoke, :f :read, :value nil, :process 2, :time 4625551534, :index 1480}
{:type :invoke, :f :write, :value 1, :process 6, :time 4680241306, :index 1486}
{:type :ok, :f :write, :value 1, :process 6, :time 4686197975, :index 1487}
{:type :invoke, :f :read, :value nil, :process 8, :time 4692269774, :index 1488}
{:type :ok, :f :read, :value 1, :process 8, :time 4697773621, :index 1489}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 4698835147, :index 1490}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 4703621108, :index 1492}
{:type :invoke, :f :read, :value nil, :process 0, :time 4716411739, :index 1495}
{:type :ok, :f :write, :value 2, :process 4, :time 4717675703, :index 1498}
{:type :invoke, :f :cas, :value [4 4], :process 1, :time 4719455840, :index 1500}
{:type :ok, :f :read, :value 2, :process 0, :time 4720950808, :index 1501}
{:type :fail, :f :cas, :value [4 4], :process 1, :time 4724766542, :index 1502}
{:type :invoke, :f :write, :value 0, :process 9, :time 4739327880, :index 1504}
{:type :ok, :f :write, :value 0, :process 9, :time 4744311810, :index 1506}
{:type :invoke, :f :write, :value 3, :process 3, :time 4746766419, :index 1507}
{:type :ok, :f :write, :value 3, :process 3, :time 4752540662, :index 1508}
{:type :invoke, :f :cas, :value [3 0], :process 3, :time 4765816980, :index 1510}
{:type :invoke, :f :read, :value nil, :process 0, :time 4768243825, :index 1512}
{:type :ok, :f :cas, :value [3 0], :process 3, :time 4771230880, :index 1513}
{:type :ok, :f :read, :value 0, :process 0, :time 4773345221, :index 1515}
{:type :invoke, :f :write, :value 3, :process 8, :time 4793032866, :index 1516}
{:type :invoke, :f :write, :value 1, :process 3, :time 4794503716, :index 1517}
{:type :ok, :f :write, :value 3, :process 8, :time 4798859356, :index 1518}
{:type :ok, :f :write, :value 1, :process 3, :time 4799342479, :index 1519}
{:type :invoke, :f :write, :value 0, :process 6, :time 4804461664, :index 1521}
{:type :ok, :f :write, :value 0, :process 6, :time 4809637742, :index 1523}
{:type :invoke, :f :read, :value nil, :process 4, :time 4812906633, :index 1524}
{:type :ok, :f :read, :value 0, :process 4, :time 4817750039, :index 1525}
{:type :invoke, :f :write, :value 3, :process 5, :time 4866876543, :index 1534}
{:type :invoke, :f :cas, :value [2 1], :process 9, :time 4870580405, :index 1535}
{:type :ok, :f :write, :value 3, :process 5, :time 4870878086, :index 1536}
{:type :fail, :f :cas, :value [2 1], :process 9, :time 4876445607, :index 1537}
{:type :invoke, :f :read, :value nil, :process 1, :time 4884024302, :index 1538}
{:type :ok, :f :read, :value 3, :process 1, :time 4889335414, :index 1540}
{:type :invoke, :f :read, :value nil, :process 3, :time 4911596047, :index 1546}
{:type :ok, :f :read, :value 3, :process 3, :time 4917623334, :index 1548}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 4920896420, :index 1550}
{:type :invoke, :f :write, :value 3, :process 8, :time 4922126818, :index 1552}
{:type :invoke, :f :write, :value 2, :process 9, :time 4923707971, :index 1553}
{:type :fail, :f :cas, :value [2 2], :process 6, :time 4926892971, :index 1554}
{:type :ok, :f :write, :value 3, :process 8, :time 4927581373, :index 1556}
{:type :ok, :f :write, :value 2, :process 9, :time 4929165119, :index 1558}
{:type :invoke, :f :write, :value 3, :process 0, :time 4947572394, :index 1564}
{:type :ok, :f :write, :value 3, :process 0, :time 4952498788, :index 1566}
{:type :invoke, :f :cas, :value [1 4], :process 5, :time 4981117497, :index 1572}
{:type :invoke, :f :write, :value 0, :process 4, :time 4983020117, :index 1573}
{:type :fail, :f :cas, :value [1 4], :process 5, :time 4986528757, :index 1574}
{:type :ok, :f :write, :value 0, :process 4, :time 4988515416, :index 1575}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :ok, :f :read, :value 1, :process 2, :time 5939420022, :index 1660}
{:type :ok, :f :cas, :value [0 1], :process 7, :time 5939513457, :index 1661}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
