{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :invoke, :f :write, :value 2, :process 8, :time 28867139935, :index 9148}
{:type :fail, :f :write, :value 2, :process 8, :time 28869308361, :error :connect, :index 9152}
{:type :invoke, :f :write, :value 1, :process 6, :time 28885637373, :index 9158}
{:type :fail, :f :write, :value 1, :process 6, :time 28887542205, :error :connect, :index 9159}
{:type :invoke, :f :read, :value nil, :process 4, :time 28896373085, :index 9164}
{:type :fail, :f :read, :value nil, :process 4, :time 28898120628, :error :connect, :index 9165}
{:type :invoke, :f :read, :value nil, :process 5, :time 28903840484, :index 9170}
{:type :fail, :f :read, :value nil, :process 5, :time 28905830641, :error :connect, :index 9171}
{:type :invoke, :f :read, :value nil, :process 22, :time 28915295774, :index 9172}
{:type :fail, :f :read, :value nil, :process 22, :time 28916949152, :error :connect, :index 9173}
{:type :invoke, :f :write, :value 0, :process 22, :time 28917081674, :index 9174}
{:type :fail, :f :write, :value 0, :process 22, :time 28918750124, :error :connect, :index 9175}
{:type :invoke, :f :read, :value nil, :process 21, :time 28949532408, :index 9184}
{:type :fail, :f :read, :value nil, :process 21, :time 28951456348, :error :connect, :index 9185}
{:type :invoke, :f :write, :value 1, :process 8, :time 28958588731, :index 9192}
{:type :invoke, :f :read, :value nil, :process 0, :time 28959629704, :index 9193}
{:type :fail, :f :write, :value 1, :process 8, :time 28960450843, :error :connect, :index 9194}
{:type :fail, :f :read, :value nil, :process 0, :time 28961643325, :error :connect, :index 9195}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 29000013706, :index 9208}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 29002088618, :error :connect, :index 9209}
{:type :invoke, :f :cas, :value [2 0], :process 7, :time 29012272665, :index 9210}
{:type :fail, :f :cas, :value [2 0], :process 7, :time 29014157139, :error :connect, :index 9212}
{:type :invoke, :f :write, :value 4, :process 4, :time 29020428716, :index 9215}
{:type :fail, :f :write, :value 4, :process 4, :time 29022197602, :error :connect, :index 9217}
{:type :invoke, :f :cas, :value [2 2], :process 7, :time 29037406516, :index 9218}
{:type :fail, :f :cas, :value [2 2], :process 7, :time 29039504614, :error :connect, :index 9219}
{:type :invoke, :f :read, :value nil, :process 22, :time 29043016748, :index 9220}
{:type :fail, :f :read, :value nil, :process 22, :time 29044829609, :error :connect, :index 9221}
{:type :invoke, :f :write, :value 4, :process 5, :time 29047358208, :index 9223}
{:type :fail, :f :write, :value 4, :process 5, :time 29048914323, :error :connect, :index 9225}
{:type :invoke, :f :cas, :value [1 3], :process 29, :time 29052589953, :index 9227}
{:type :invoke, :f :write, :value 0, :process 6, :time 29052820740, :index 9228}
{:type :fail, :f :cas, :value [1 3], :process 29, :time 29054648114, :error :connect, :index 9230}
{:type :fail, :f :write, :value 0, :process 6, :time 29054790653, :error :connect, :index 9231}
{:type :invoke, :f :read, :value nil, :process 21, :time 29096717809, :index 9240}
{:type :fail, :f :read, :value nil, :process 21, :time 29098725649, :error :connect, :index 9241}
{:type :invoke, :f :cas, :value [1 4], :process 8, :time 29106723220, :index 9244}
{:type :fail, :f :cas, :value [1 4], :process 8, :time 29108379033, :error :connect, :index 9245}
{:type :invoke, :f :read, :value nil, :process 22, :time 29111101620, :index 9246}
{:type :fail, :f :read, :value nil, :process 22, :time 29113071237, :error :connect, :index 9247}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 29113983516, :index 9248}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 29115650399, :error :connect, :index 9249}
{:type :invoke, :f :write, :value 0, :process 29, :time 29119941690, :index 9250}
{:type :fail, :f :write, :value 0, :process 29, :time 29121497303, :error :connect, :index 9251}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 29136892620, :index 9258}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 29138712472, :error :connect, :index 9259}
{:type :invoke, :f :write, :value 3, :process 6, :time 29156028803, :index 9260}
{:type :fail, :f :write, :value 3, :process 6, :time 29157722477, :error :connect, :index 9261}
{:type :invoke, :f :read, :value nil, :process 6, :time 29164984565, :index 9263}
{:type :fail, :f :read, :value nil, :process 6, :time 29167021073, :error :connect, :index 9265}
{:type :invoke, :f :read, :value nil, :process 4, :time 29187449406, :index 9268}
{:type :invoke, :f :write, :value 2, :process 7, :time 29187785750, :index 9269}
{:type :fail, :f :read, :value nil, :process 4, :time 29189225080, :error :connect, :index 9270}
{:type :fail, :f :write, :value 2, :process 7, :time 29189820893, :error :connect, :index 9272}
{:type :invoke, :f :write, :value 3, :process 29, :time 29189947074, :index 9273}
{:type :fail, :f :write, :value 3, :process 29, :time 29192068079, :error :connect, :index 9276}
{:type :invoke, :f :cas, :value [4 3], :process 22, :time 29231394996, :index 9284}
{:type :fail, :f :cas, :value [4 3], :process 22, :time 29233313634, :error :connect, :index 9285}
{:type :invoke, :f :read, :value nil, :process 5, :time 29240154665, :index 9288}
{:type :fail, :f :read, :value nil, :process 5, :time 29241752803, :error :connect, :index 9289}
{:type :invoke, :f :read, :value nil, :process 21, :time 29244983980, :index 9290}
{:type :fail, :f :read, :value nil, :process 21, :time 29247115736, :error :connect, :index 9291}
{:type :invoke, :f :cas, :value [2 2], :process 22, :time 29257607031, :index 9292}
{:type :fail, :f :cas, :value [2 2], :process 22, :time 29259669918, :error :connect, :index 9293}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 29274410810, :index 9302}
{:type :invoke, :f :write, :value 2, :process 3, :time 29275924233, :index 9303}
{:type :fail, :f :cas, :value [3 3], :process 29, :time 29276484094, :error :connect, :index 9305}
{:type :fail, :f :write, :value 2, :process 3, :time 29277705174, :error :connect, :index 9307}
{:type :invoke, :f :write, :value 0, :process 8, :time 29281643307, :index 9308}
{:type :invoke, :f :read, :value nil, :process 29, :time 29282734286, :index 9309}
{:type :fail, :f :write, :value 0, :process 8, :time 29283546112, :error :connect, :index 9311}
{:type :fail, :f :read, :value nil, :process 29, :time 29284600451, :error :connect, :index 9312}
{:type :invoke, :f :read, :value nil, :process 3, :time 29288952587, :index 9314}
{:type :invoke, :f :cas, :value [2 2], :process 22, :time 29289942866, :index 9315}
{:type :fail, :f :read, :value nil, :process 3, :time 29290816097, :error :connect, :index 9316}
{:type :fail, :f :cas, :value [2 2], :process 22, :time 29291771856, :error :connect, :index 9317}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 29298056180, :index 9318}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 29300119513, :error :connect, :index 9319}
{:type :invoke, :f :read, :value nil, :process 4, :time 29301501247, :index 9320}
{:type :fail, :f :read, :value nil, :process 4, :time 29303529945, :error :connect, :index 9321}
{:type :invoke, :f :write, :value 3, :process 0, :time 29304986870, :index 9322}
{:type :invoke, :f :write, :value 4, :process 22, :time 29306030916, :index 9323}
{:type :fail, :f :write, :value 3, :process 0, :time 29306997795, :error :connect, :index 9324}
{:type :fail, :f :write, :value 4, :process 22, :time 29307885483, :error :connect, :index 9325}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 29310734528, :index 9326}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 29312638480, :error :connect, :index 9327}
{:type :invoke, :f :write, :value 3, :process 22, :time 29331171568, :index 9335}
{:type :fail, :f :write, :value 3, :process 22, :time 29333394103, :error :connect, :index 9337}
{:type :invoke, :f :cas, :value [3 0], :process 29, :time 29346879757, :index 9338}
{:type :fail, :f :cas, :value [3 0], :process 29, :time 29348929187, :error :connect, :index 9339}
{:type :invoke, :f :cas, :value [1 1], :process 22, :time 29349632362, :index 9340}
{:type :fail, :f :cas, :value [1 1], :process 22, :time 29351685747, :error :connect, :index 9341}
{:type :invoke, :f :read, :value nil, :process 6, :time 29365274384, :index 9346}
{:type :fail, :f :read, :value nil, :process 6, :time 29368113417, :error :connect, :index 9350}
{:type :invoke, :f :write, :value 3, :process 8, :time 29390901906, :index 9355}
{:type :fail, :f :write, :value 3, :process 8, :time 29392687085, :error :connect, :index 9357}
{:type :invoke, :f :read, :value nil, :process 3, :time 29402078672, :index 9360}
{:type :fail, :f :read, :value nil, :process 3, :time 29403919937, :error :connect, :index 9361}
{:type :invoke, :f :write, :value 3, :process 6, :time 29410359282, :index 9364}
{:type :fail, :f :write, :value 3, :process 6, :time 29412177221, :error :connect, :index 9365}
{:type :invoke, :f :write, :value 3, :process 21, :time 29417374421, :index 9366}
{:type :fail, :f :write, :value 3, :process 21, :time 29427995568, :error :connect, :index 9371}
{:type :invoke, :f :read, :value nil, :process 5, :time 29434016564, :index 9374}
{:type :fail, :f :read, :value nil, :process 5, :time 29435804209, :error :connect, :index 9375}
{:type :invoke, :f :cas, :value [0 4], :process 5, :time 29442073906, :index 9376}
{:type :fail, :f :cas, :value [0 4], :process 5, :time 29444077453, :error :connect, :index 9377}
{:type :invoke, :f :read, :value nil, :process 0, :time 29449275639, :index 9380}
{:type :fail, :f :read, :value nil, :process 0, :time 29451042699, :error :connect, :index 9381}
{:type :invoke, :f :read, :value nil, :process 8, :time 29455944526, :index 9384}
{:type :fail, :f :read, :value nil, :process 8, :time 29457600340, :error :connect, :index 9385}
{:type :invoke, :f :write, :value 1, :process 22, :time 29465951628, :index 9390}
{:type :fail, :f :write, :value 1, :process 22, :time 29467754174, :error :connect, :index 9391}
{:type :invoke, :f :read, :value nil, :process 6, :time 29484439409, :index 9398}
{:type :fail, :f :read, :value nil, :process 6, :time 29486267567, :error :connect, :index 9399}
{:type :invoke, :f :write, :value 3, :process 8, :time 29486883797, :index 9401}
{:type :invoke, :f :write, :value 1, :process 7, :time 29487398062, :index 9402}
{:type :fail, :f :write, :value 3, :process 8, :time 29488723992, :error :connect, :index 9404}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 29488820618, :index 9405}
{:type :fail, :f :write, :value 1, :process 7, :time 29489480420, :error :connect, :index 9406}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 29490337510, :error :connect, :index 9407}
{:type :invoke, :f :cas, :value [2 0], :process 29, :time 29527206718, :index 9410}
{:type :fail, :f :cas, :value [2 0], :process 29, :time 29529093552, :error :connect, :index 9411}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 29551191971, :index 9418}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 29553048481, :error :connect, :index 9419}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 29584517586, :index 9422}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 29586414776, :error :connect, :index 9425}
{:type :invoke, :f :read, :value nil, :process 21, :time 29595275434, :index 9428}
{:type :fail, :f :read, :value nil, :process 21, :time 29597145818, :error :connect, :index 9429}
{:type :invoke, :f :write, :value 1, :process 7, :time 29614751731, :index 9434}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 29615365049, :index 9435}
{:type :fail, :f :write, :value 1, :process 7, :time 29616764818, :error :connect, :index 9436}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 29617365086, :error :connect, :index 9437}
{:type :invoke, :f :write, :value 4, :process 22, :time 29620015545, :index 9439}
{:type :fail, :f :write, :value 4, :process 22, :time 29622038726, :error :connect, :index 9441}
{:type :invoke, :f :write, :value 0, :process 3, :time 29630310703, :index 9442}
{:type :invoke, :f :read, :value nil, :process 22, :time 29631289022, :index 9443}
{:type :fail, :f :write, :value 0, :process 3, :time 29632234945, :error :connect, :index 9444}
{:type :fail, :f :read, :value nil, :process 22, :time 29633075821, :error :connect, :index 9445}
{:type :invoke, :f :read, :value nil, :process 8, :time 29645001227, :index 9450}
{:type :invoke, :f :cas, :value [2 1], :process 6, :time 29646735046, :index 9451}
{:type :fail, :f :read, :value nil, :process 8, :time 29647638253, :error :connect, :index 9453}
{:type :fail, :f :cas, :value [2 1], :process 6, :time 29648848739, :error :connect, :index 9454}
{:type :invoke, :f :read, :value nil, :process 0, :time 29650307739, :index 9456}
{:type :fail, :f :read, :value nil, :process 0, :time 29652141320, :error :connect, :index 9457}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 29668577113, :index 9460}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 29670482130, :error :connect, :index 9461}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 29685932249, :index 9465}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 29687763436, :error :connect, :index 9467}
{:type :invoke, :f :write, :value 2, :process 5, :time 29713608036, :index 9478}
{:type :fail, :f :write, :value 2, :process 5, :time 29715424840, :error :connect, :index 9479}
{:type :invoke, :f :cas, :value [3 3], :process 21, :time 29718416023, :index 9481}
{:type :fail, :f :cas, :value [3 3], :process 21, :time 29720345861, :error :connect, :index 9483}
{:type :invoke, :f :read, :value nil, :process 29, :time 29721359172, :index 9484}
{:type :fail, :f :read, :value nil, :process 29, :time 29723163064, :error :connect, :index 9485}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 29724405538, :index 9486}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 29726462747, :error :connect, :index 9487}
{:type :invoke, :f :write, :value 2, :process 29, :time 29734421894, :index 9490}
{:type :fail, :f :write, :value 2, :process 29, :time 29736186743, :error :connect, :index 9491}
{:type :invoke, :f :write, :value 4, :process 6, :time 29751116718, :index 9492}
{:type :fail, :f :write, :value 4, :process 6, :time 29753090648, :error :connect, :index 9493}
{:type :invoke, :f :write, :value 0, :process 22, :time 29775349887, :index 9507}
{:type :invoke, :f :read, :value nil, :process 7, :time 29776037357, :index 9508}
{:type :fail, :f :write, :value 0, :process 22, :time 29777151008, :error :connect, :index 9510}
{:type :fail, :f :read, :value nil, :process 7, :time 29777862668, :error :connect, :index 9511}
{:type :invoke, :f :write, :value 4, :process 3, :time 29783528336, :index 9512}
{:type :fail, :f :write, :value 4, :process 3, :time 29785539087, :error :connect, :index 9513}
{:type :invoke, :f :write, :value 2, :process 4, :time 29806778939, :index 9516}
{:type :fail, :f :write, :value 2, :process 4, :time 29808867597, :error :connect, :index 9518}
{:type :invoke, :f :write, :value 1, :process 21, :time 29813581979, :index 9522}
{:type :fail, :f :write, :value 1, :process 21, :time 29816109550, :error :connect, :index 9524}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 29819981741, :index 9526}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 29822077670, :error :connect, :index 9527}
{:type :invoke, :f :write, :value 3, :process 7, :time 29823110932, :index 9528}
{:type :fail, :f :write, :value 3, :process 7, :time 29824888431, :error :connect, :index 9529}
{:type :invoke, :f :write, :value 0, :process 7, :time 29828153446, :index 9530}
{:type :fail, :f :write, :value 0, :process 7, :time 29829988630, :error :connect, :index 9531}
{:type :invoke, :f :read, :value nil, :process 6, :time 29846356667, :index 9536}
{:type :fail, :f :read, :value nil, :process 6, :time 29847984471, :error :connect, :index 9537}
{:type :invoke, :f :write, :value 2, :process 6, :time 29863243789, :index 9540}
{:type :fail, :f :write, :value 2, :process 6, :time 29865088287, :error :connect, :index 9541}
{:type :invoke, :f :read, :value nil, :process 3, :time 29879810953, :index 9544}
{:type :fail, :f :read, :value nil, :process 3, :time 29881695830, :error :connect, :index 9545}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 29892723803, :index 9546}
{:type :invoke, :f :write, :value 0, :process 8, :time 29893369425, :index 9547}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 29894479898, :error :connect, :index 9548}
{:type :invoke, :f :cas, :value [1 2], :process 29, :time 29894465260, :index 9549}
{:type :fail, :f :write, :value 0, :process 8, :time 29895406630, :error :connect, :index 9550}
{:type :fail, :f :cas, :value [1 2], :process 29, :time 29896310735, :error :connect, :index 9551}
{:type :invoke, :f :read, :value nil, :process 4, :time 29900132432, :index 9553}
{:type :fail, :f :read, :value nil, :process 4, :time 29901996978, :error :connect, :index 9555}
{:type :invoke, :f :read, :value nil, :process 5, :time 29904684414, :index 9556}
{:type :fail, :f :read, :value nil, :process 5, :time 29906782291, :error :connect, :index 9558}
{:type :invoke, :f :write, :value 3, :process 7, :time 29937252132, :index 9566}
{:type :fail, :f :write, :value 3, :process 7, :time 29939357333, :error :connect, :index 9567}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 29959363685, :index 9573}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 29961207531, :error :connect, :index 9575}
{:type :invoke, :f :write, :value 4, :process 22, :time 29967391415, :index 9578}
{:type :fail, :f :write, :value 4, :process 22, :time 29969487433, :error :connect, :index 9579}
{:type :invoke, :f :write, :value 1, :process 21, :time 29999377624, :index 9594}
{:type :fail, :f :write, :value 1, :process 21, :time 30001000864, :error :connect, :index 9595}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
