{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :invoke, :f :read, :value nil, :process 15, :time 25152945199, :index 5210}
{:type :ok, :f :read, :value nil, :process 15, :time 25157732584, :index 5214}
{:type :invoke, :f :read, :value nil, :process 33, :time 25177293507, :index 5223}
{:type :ok, :f :read, :value nil, :process 33, :time 25182766711, :index 5226}
{:type :invoke, :f :read, :value nil, :process 15, :time 25187971207, :index 5229}
{:type :ok, :f :read, :value nil, :process 15, :time 25193011851, :index 5231}
{:type :invoke, :f :read, :value nil, :process 19, :time 25248733417, :index 5249}
{:type :ok, :f :read, :value nil, :process 19, :time 25254231464, :index 5250}
{:type :invoke, :f :read, :value nil, :process 17, :time 25262965214, :index 5252}
{:type :ok, :f :read, :value nil, :process 17, :time 25268423120, :index 5255}
{:type :invoke, :f :read, :value nil, :process 15, :time 25273261225, :index 5258}
{:type :invoke, :f :cas, :value [4 2], :process 31, :time 25274493952, :index 5261}
{:type :ok, :f :read, :value nil, :process 15, :time 25278240994, :index 5263}
{:type :fail, :f :cas, :value [4 2], :process 31, :time 25282538898, :error :not-found, :index 5265}
{:type :invoke, :f :write, :value 2, :process 14, :time 25297169606, :index 5268}
{:type :ok, :f :write, :value 2, :process 14, :time 25302446795, :index 5269}
{:type :invoke, :f :write, :value 4, :process 10, :time 25310104444, :index 5270}
{:type :ok, :f :write, :value 4, :process 10, :time 25315045993, :index 5271}
{:type :invoke, :f :cas, :value [1 2], :process 38, :time 25338650642, :index 5276}
{:type :invoke, :f :write, :value 4, :process 14, :time 25343707979, :index 5277}
{:type :invoke, :f :write, :value 4, :process 12, :time 25344368398, :index 5278}
{:type :fail, :f :cas, :value [1 2], :process 38, :time 25344980457, :index 5279}
{:type :invoke, :f :write, :value 2, :process 16, :time 25346861196, :index 5280}
{:type :ok, :f :write, :value 4, :process 14, :time 25349776396, :index 5283}
{:type :ok, :f :write, :value 4, :process 12, :time 25350305382, :index 5284}
{:type :ok, :f :write, :value 2, :process 16, :time 25352860726, :index 5285}
{:type :invoke, :f :read, :value nil, :process 33, :time 25360041442, :index 5288}
{:type :ok, :f :read, :value 2, :process 33, :time 25365776615, :index 5290}
{:type :invoke, :f :write, :value 0, :process 33, :time 25374035097, :index 5295}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 25374457126, :index 5296}
{:type :ok, :f :write, :value 0, :process 33, :time 25379709032, :index 5299}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 25380311086, :index 5300}
{:type :invoke, :f :cas, :value [2 3], :process 17, :time 25384679842, :index 5302}
{:type :invoke, :f :read, :value nil, :process 15, :time 25389573070, :index 5305}
{:type :fail, :f :cas, :value [2 3], :process 17, :time 25391033956, :index 5306}
{:type :ok, :f :read, :value 0, :process 15, :time 25395014457, :index 5309}
{:type :invoke, :f :cas, :value [2 3], :process 19, :time 25396499678, :index 5310}
{:type :invoke, :f :read, :value nil, :process 14, :time 25398071570, :index 5311}
{:type :fail, :f :cas, :value [2 3], :process 19, :time 25401911318, :index 5312}
{:type :ok, :f :read, :value 0, :process 14, :time 25403953189, :index 5313}
{:type :invoke, :f :cas, :value [2 1], :process 38, :time 25420224347, :index 5317}
{:type :fail, :f :cas, :value [2 1], :process 38, :time 25426082649, :index 5319}
{:type :invoke, :f :write, :value 0, :process 31, :time 25430806788, :index 5320}
{:type :ok, :f :write, :value 0, :process 31, :time 25435768344, :index 5321}
{:type :invoke, :f :write, :value 4, :process 31, :time 25437025559, :index 5322}
{:type :invoke, :f :write, :value 0, :process 33, :time 25437973340, :index 5323}
{:type :ok, :f :write, :value 4, :process 31, :time 25442645414, :index 5324}
{:type :ok, :f :write, :value 0, :process 33, :time 25442930361, :index 5325}
{:type :invoke, :f :write, :value 0, :process 17, :time 25445199123, :index 5326}
{:type :invoke, :f :read, :value nil, :process 12, :time 25448558336, :index 5328}
{:type :ok, :f :write, :value 0, :process 17, :time 25450096724, :index 5329}
{:type :ok, :f :read, :value 0, :process 12, :time 25454057142, :index 5331}
{:type :invoke, :f :cas, :value [1 4], :process 19, :time 25457169276, :index 5332}
{:type :invoke, :f :write, :value 2, :process 10, :time 25462302518, :index 5334}
{:type :fail, :f :cas, :value [1 4], :process 19, :time 25463529704, :index 5335}
{:type :invoke, :f :cas, :value [0 2], :process 31, :time 25465165936, :index 5337}
{:type :ok, :f :write, :value 2, :process 10, :time 25466924825, :index 5338}
{:type :fail, :f :cas, :value [0 2], :process 31, :time 25470889676, :index 5340}
{:type :invoke, :f :cas, :value [2 1], :process 33, :time 25493160966, :index 5352}
{:type :ok, :f :cas, :value [2 1], :process 33, :time 25497933879, :index 5353}
{:type :invoke, :f :read, :value nil, :process 14, :time 25499206751, :index 5354}
{:type :ok, :f :read, :value 1, :process 14, :time 25505176863, :index 5356}
{:type :invoke, :f :read, :value nil, :process 38, :time 25520368087, :index 5358}
{:type :ok, :f :read, :value 1, :process 38, :time 25526125139, :index 5360}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 25530194793, :index 5362}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 25536199198, :index 5363}
{:type :invoke, :f :write, :value 4, :process 19, :time 25538741522, :index 5364}
{:type :invoke, :f :cas, :value [0 2], :process 14, :time 25541434983, :index 5365}
{:type :ok, :f :write, :value 4, :process 19, :time 25544192298, :index 5366}
{:type :fail, :f :cas, :value [0 2], :process 14, :time 25547138591, :index 5367}
{:type :invoke, :f :write, :value 1, :process 16, :time 25549135942, :index 5368}
{:type :ok, :f :write, :value 1, :process 16, :time 25554845118, :index 5370}
{:type :invoke, :f :read, :value nil, :process 31, :time 25559144365, :index 5372}
{:type :ok, :f :read, :value 1, :process 31, :time 25564563516, :index 5373}
{:type :invoke, :f :write, :value 4, :process 17, :time 25579354183, :index 5376}
{:type :ok, :f :write, :value 4, :process 17, :time 25584711147, :index 5378}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 25593181538, :index 5381}
{:type :invoke, :f :write, :value 3, :process 15, :time 25594277915, :index 5383}
{:type :fail, :f :cas, :value [3 0], :process 10, :time 25598350463, :index 5385}
{:type :ok, :f :write, :value 3, :process 15, :time 25598830408, :index 5386}
{:type :invoke, :f :read, :value nil, :process 33, :time 25611461243, :index 5390}
{:type :invoke, :f :read, :value nil, :process 38, :time 25613429744, :index 5391}
{:type :ok, :f :read, :value 3, :process 33, :time 25617158412, :index 5392}
{:type :ok, :f :read, :value 3, :process 38, :time 25618576813, :index 5394}
{:type :invoke, :f :read, :value nil, :process 31, :time 25638838393, :index 5400}
{:type :ok, :f :read, :value 3, :process 31, :time 25645515962, :index 5404}
{:type :invoke, :f :cas, :value [1 0], :process 31, :time 25646756599, :index 5406}
{:type :invoke, :f :write, :value 4, :process 19, :time 25647458985, :index 5407}
{:type :invoke, :f :read, :value nil, :process 12, :time 25648244766, :index 5408}
{:type :fail, :f :cas, :value [1 0], :process 31, :time 25651837955, :index 5410}
{:type :ok, :f :write, :value 4, :process 19, :time 25653280263, :index 5411}
{:type :invoke, :f :cas, :value [0 4], :process 17, :time 25654974399, :index 5412}
{:type :ok, :f :read, :value 4, :process 12, :time 25655411385, :index 5413}
{:type :fail, :f :cas, :value [0 4], :process 17, :time 25660104912, :index 5416}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 25671640451, :index 5419}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 25676794901, :index 5421}
{:type :invoke, :f :read, :value nil, :process 33, :time 25679415594, :index 5422}
{:type :ok, :f :read, :value 4, :process 33, :time 25684363488, :index 5425}
{:type :invoke, :f :read, :value nil, :process 12, :time 25684657095, :index 5426}
{:type :invoke, :f :write, :value 4, :process 38, :time 25689834083, :index 5429}
{:type :ok, :f :read, :value 4, :process 12, :time 25690072493, :index 5430}
{:type :invoke, :f :read, :value nil, :process 16, :time 25690220263, :index 5431}
{:type :invoke, :f :write, :value 4, :process 12, :time 25692341240, :index 5432}
{:type :ok, :f :write, :value 4, :process 38, :time 25695043018, :index 5433}
{:type :ok, :f :read, :value 4, :process 16, :time 25695297407, :index 5434}
{:type :invoke, :f :cas, :value [0 4], :process 33, :time 25696654147, :index 5435}
{:type :ok, :f :write, :value 4, :process 12, :time 25697752849, :index 5436}
{:type :fail, :f :cas, :value [0 4], :process 33, :time 25701964764, :index 5437}
{:type :invoke, :f :cas, :value [1 2], :process 19, :time 25709531004, :index 5438}
{:type :fail, :f :cas, :value [1 2], :process 19, :time 25714934121, :index 5439}
{:type :invoke, :f :cas, :value [2 1], :process 16, :time 25722598493, :index 5442}
{:type :invoke, :f :write, :value 4, :process 15, :time 25724081767, :index 5443}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 25727017934, :index 5444}
{:type :ok, :f :write, :value 4, :process 15, :time 25729175252, :index 5445}
{:type :fail, :f :cas, :value [2 1], :process 16, :time 25729327842, :index 5446}
{:type :invoke, :f :cas, :value [3 2], :process 31, :time 25730103571, :index 5447}
{:type :invoke, :f :read, :value nil, :process 14, :time 25731399518, :index 5448}
{:type :fail, :f :cas, :value [1 1], :process 12, :time 25732323401, :index 5449}
{:type :fail, :f :cas, :value [3 2], :process 31, :time 25735863405, :index 5451}
{:type :ok, :f :read, :value 4, :process 14, :time 25738257020, :index 5452}
{:type :invoke, :f :cas, :value [0 2], :process 33, :time 25743218368, :index 5454}
{:type :fail, :f :cas, :value [0 2], :process 33, :time 25749774599, :index 5458}
{:type :invoke, :f :cas, :value [2 2], :process 17, :time 25778376976, :index 5462}
{:type :fail, :f :cas, :value [2 2], :process 17, :time 25784331567, :index 5464}
{:type :invoke, :f :read, :value nil, :process 10, :time 25813046381, :index 5468}
{:type :ok, :f :read, :value 4, :process 10, :time 25820688147, :index 5471}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 25825632158, :index 5475}
{:type :fail, :f :cas, :value [1 0], :process 16, :time 25831294903, :index 5478}
{:type :invoke, :f :write, :value 1, :process 19, :time 25834196777, :index 5480}
{:type :invoke, :f :write, :value 0, :process 33, :time 25848015015, :index 5487}
{:type :invoke, :f :write, :value 2, :process 14, :time 25850513644, :index 5488}
{:type :ok, :f :write, :value 0, :process 33, :time 25853656864, :index 5489}
{:type :invoke, :f :write, :value 0, :process 15, :time 25871437926, :index 5490}
{:type :ok, :f :write, :value 0, :process 15, :time 25875639334, :index 5491}
{:type :invoke, :f :write, :value 1, :process 38, :time 25879553687, :index 5492}
{:type :ok, :f :write, :value 1, :process 38, :time 25884388702, :index 5493}
{:type :invoke, :f :write, :value 3, :process 10, :time 25902926765, :index 5496}
{:type :ok, :f :write, :value 3, :process 10, :time 25907626780, :index 5497}
{:type :invoke, :f :write, :value 3, :process 17, :time 25916607269, :index 5498}
{:type :invoke, :f :read, :value nil, :process 12, :time 25917583668, :index 5499}
{:type :invoke, :f :write, :value 2, :process 15, :time 25919902782, :index 5500}
{:type :ok, :f :write, :value 2, :process 15, :time 25927188814, :index 5503}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :invoke, :f :write, :value 1, :process 16, :time 25927562738, :index 5505}
{:type :invoke, :f :cas, :value [1 4], :process 31, :time 25928281716, :index 5507}
{:type :ok, :f :write, :value 1, :process 16, :time 25933179633, :index 5508}
{:type :ok, :f :cas, :value [1 4], :process 31, :time 25933953761, :index 5509}
{:type :invoke, :f :write, :value 4, :process 38, :time 25961643908, :index 5516}
{:type :ok, :f :write, :value 4, :process 38, :time 25967130072, :index 5518}
{:type :invoke, :f :read, :value nil, :process 33, :time 25972924302, :index 5520}
{:type :ok, :f :read, :value 4, :process 33, :time 25979312014, :index 5521}
{:type :invoke, :f :write, :value 0, :process 16, :time 26015438970, :index 5522}
{:type :ok, :f :write, :value 0, :process 16, :time 26020769397, :index 5524}
{:type :invoke, :f :read, :value nil, :process 15, :time 26039474362, :index 5527}
{:type :ok, :f :read, :value 0, :process 15, :time 26044228119, :index 5529}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 26055887530, :index 5532}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 26060372676, :index 5535}
{:type :invoke, :f :read, :value nil, :process 15, :time 26085480101, :index 5539}
{:type :ok, :f :read, :value 0, :process 15, :time 26090322108, :index 5541}
{:type :invoke, :f :read, :value nil, :process 33, :time 26094569668, :index 5542}
{:type :ok, :f :read, :value 0, :process 33, :time 26100293732, :index 5543}
{:type :invoke, :f :write, :value 3, :process 31, :time 26110230763, :index 5545}
{:type :ok, :f :write, :value 3, :process 31, :time 26116021276, :index 5547}
{:type :invoke, :f :write, :value 1, :process 16, :time 26122025653, :index 5548}
{:type :ok, :f :write, :value 1, :process 16, :time 26127144410, :index 5549}
{:type :invoke, :f :write, :value 3, :process 38, :time 26144390464, :index 5551}
{:type :ok, :f :write, :value 3, :process 38, :time 26149501008, :index 5554}
{:type :invoke, :f :read, :value nil, :process 10, :time 26197624203, :index 5562}
{:type :invoke, :f :read, :value nil, :process 38, :time 26199786950, :index 5563}
{:type :ok, :f :read, :value 3, :process 10, :time 26202866237, :index 5564}
{:type :ok, :f :read, :value 3, :process 38, :time 26204679612, :index 5565}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 26225403847, :index 5566}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 26231228909, :index 5568}
{:type :invoke, :f :write, :value 1, :process 16, :time 26232491017, :index 5569}
{:type :ok, :f :write, :value 1, :process 16, :time 26237629542, :index 5571}
{:type :invoke, :f :cas, :value [3 3], :process 31, :time 26261296911, :index 5577}
{:type :fail, :f :cas, :value [3 3], :process 31, :time 26266605136, :index 5580}
{:type :invoke, :f :write, :value 1, :process 33, :time 26275568232, :index 5583}
{:type :ok, :f :write, :value 1, :process 33, :time 26280689684, :index 5584}
{:type :invoke, :f :read, :value nil, :process 15, :time 26285577311, :index 5586}
{:type :ok, :f :read, :value 1, :process 15, :time 26290274755, :index 5587}
{:type :invoke, :f :write, :value 0, :process 38, :time 26349962144, :index 5595}
{:type :ok, :f :write, :value 0, :process 38, :time 26355480712, :index 5597}
{:type :invoke, :f :write, :value 1, :process 10, :time 26357123879, :index 5598}
{:type :ok, :f :write, :value 1, :process 10, :time 26361894214, :index 5599}
{:type :invoke, :f :read, :value nil, :process 33, :time 26376948340, :index 5600}
{:type :ok, :f :read, :value 1, :process 33, :time 26382405941, :index 5601}
{:type :invoke, :f :write, :value 2, :process 15, :time 26384529652, :index 5602}
{:type :invoke, :f :read, :value nil, :process 31, :time 26385901298, :index 5603}
{:type :ok, :f :write, :value 2, :process 15, :time 26390448282, :index 5605}
{:type :ok, :f :read, :value 2, :process 31, :time 26391379168, :index 5606}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 26415148034, :index 5614}
{:type :invoke, :f :cas, :value [4 3], :process 16, :time 26419923157, :index 5615}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 26420531611, :index 5616}
{:type :fail, :f :cas, :value [4 3], :process 16, :time 26425891217, :index 5617}
{:type :invoke, :f :write, :value 2, :process 38, :time 26467737606, :index 5632}
{:type :ok, :f :write, :value 2, :process 38, :time 26473822224, :index 5633}
{:type :info, :f :write, :value 1, :process 19, :time 30840441617, :error :timeout, :index 6571}
{:type :info, :f :write, :value 2, :process 14, :time 30857663906, :error :timeout, :index 6573}
{:type :info, :f :write, :value 3, :process 17, :time 30920418060, :error :timeout, :index 6596}
{:type :fail, :f :read, :value nil, :process 12, :time 30924420968, :error :timeout, :index 6597}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
