{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :invoke, :f :read, :value nil, :process 46, :time 35468457354, :index 5651}
{:type :ok, :f :read, :value nil, :process 46, :time 35474022008, :index 5654}
{:type :invoke, :f :cas, :value [1 1], :process 25, :time 35505981478, :index 5658}
{:type :fail, :f :cas, :value [1 1], :process 25, :time 35510843618, :error :not-found, :index 5660}
{:type :invoke, :f :cas, :value [2 2], :process 49, :time 35516200540, :index 5663}
{:type :fail, :f :cas, :value [2 2], :process 49, :time 35523031642, :error :not-found, :index 5668}
{:type :invoke, :f :cas, :value [3 2], :process 43, :time 35589054910, :index 5692}
{:type :fail, :f :cas, :value [3 2], :process 43, :time 35594490442, :error :not-found, :index 5694}
{:type :invoke, :f :read, :value nil, :process 41, :time 35625630072, :index 5704}
{:type :invoke, :f :read, :value nil, :process 7, :time 35628934740, :index 5705}
{:type :ok, :f :read, :value nil, :process 41, :time 35631112688, :index 5706}
{:type :invoke, :f :read, :value nil, :process 28, :time 35633285480, :index 5707}
{:type :ok, :f :read, :value nil, :process 7, :time 35634068077, :index 5708}
{:type :ok, :f :read, :value nil, :process 28, :time 35638842961, :index 5710}
{:type :invoke, :f :cas, :value [0 1], :process 7, :time 35644327582, :index 5713}
{:type :fail, :f :cas, :value [0 1], :process 7, :time 35648942783, :error :not-found, :index 5717}
{:type :invoke, :f :read, :value nil, :process 46, :time 35652283395, :index 5719}
{:type :ok, :f :read, :value nil, :process 46, :time 35658229140, :index 5722}
{:type :invoke, :f :read, :value nil, :process 25, :time 35661104653, :index 5723}
{:type :ok, :f :read, :value nil, :process 25, :time 35666058865, :index 5726}
{:type :invoke, :f :write, :value 1, :process 49, :time 35672342135, :index 5728}
{:type :ok, :f :write, :value 1, :process 49, :time 35677644050, :index 5729}
{:type :invoke, :f :write, :value 1, :process 44, :time 35695336946, :index 5730}
{:type :invoke, :f :read, :value nil, :process 22, :time 35696900037, :index 5731}
{:type :ok, :f :write, :value 1, :process 44, :time 35700691358, :index 5732}
{:type :ok, :f :read, :value 1, :process 22, :time 35701211200, :index 5733}
{:type :invoke, :f :write, :value 3, :process 40, :time 35717157120, :index 5734}
{:type :invoke, :f :read, :value nil, :process 22, :time 35721447483, :index 5736}
{:type :ok, :f :write, :value 3, :process 40, :time 35723486414, :index 5738}
{:type :ok, :f :read, :value 3, :process 22, :time 35725811806, :index 5739}
{:type :invoke, :f :write, :value 1, :process 25, :time 35732325149, :index 5741}
{:type :ok, :f :write, :value 1, :process 25, :time 35737977071, :index 5743}
{:type :invoke, :f :read, :value nil, :process 43, :time 35762768332, :index 5752}
{:type :invoke, :f :read, :value nil, :process 28, :time 35763111167, :index 5753}
{:type :ok, :f :read, :value 1, :process 43, :time 35768069289, :index 5754}
{:type :ok, :f :read, :value 1, :process 28, :time 35768871345, :index 5755}
{:type :invoke, :f :write, :value 3, :process 7, :time 35786220183, :index 5762}
{:type :ok, :f :write, :value 3, :process 7, :time 35791290121, :index 5765}
{:type :invoke, :f :write, :value 4, :process 25, :time 35800234961, :index 5766}
{:type :ok, :f :write, :value 4, :process 25, :time 35806498690, :index 5767}
{:type :invoke, :f :write, :value 1, :process 46, :time 35824498387, :index 5770}
{:type :invoke, :f :cas, :value [1 0], :process 41, :time 35828432269, :index 5772}
{:type :ok, :f :write, :value 1, :process 46, :time 35830211175, :index 5774}
{:type :invoke, :f :cas, :value [3 1], :process 44, :time 35831959828, :index 5777}
{:type :ok, :f :cas, :value [1 0], :process 41, :time 35834347335, :index 5778}
{:type :invoke, :f :cas, :value [1 3], :process 43, :time 35836384585, :index 5779}
{:type :fail, :f :cas, :value [3 1], :process 44, :time 35836936731, :index 5780}
{:type :fail, :f :cas, :value [1 3], :process 43, :time 35841991872, :index 5782}
{:type :invoke, :f :write, :value 4, :process 43, :time 35842126564, :index 5783}
{:type :ok, :f :write, :value 4, :process 43, :time 35847425295, :index 5785}
{:type :invoke, :f :write, :value 4, :process 40, :time 35870752573, :index 5790}
{:type :invoke, :f :read, :value nil, :process 49, :time 35873910156, :index 5791}
{:type :ok, :f :write, :value 4, :process 40, :time 35876567966, :index 5793}
{:type :ok, :f :read, :value 4, :process 49, :time 35879827098, :index 5795}
{:type :invoke, :f :write, :value 1, :process 25, :time 35890795181, :index 5797}
{:type :ok, :f :write, :value 1, :process 25, :time 35896367649, :index 5799}
{:type :invoke, :f :read, :value nil, :process 7, :time 35899557480, :index 5802}
{:type :ok, :f :read, :value 1, :process 7, :time 35903941717, :index 5805}
{:type :invoke, :f :read, :value nil, :process 41, :time 35908607421, :index 5806}
{:type :invoke, :f :write, :value 3, :process 49, :time 35910114915, :index 5807}
{:type :invoke, :f :read, :value nil, :process 28, :time 35913127287, :index 5808}
{:type :ok, :f :read, :value 1, :process 41, :time 35913496162, :index 5809}
{:type :ok, :f :write, :value 3, :process 49, :time 35916619274, :index 5810}
{:type :invoke, :f :read, :value nil, :process 22, :time 35918064118, :index 5811}
{:type :ok, :f :read, :value 3, :process 28, :time 35918339615, :index 5812}
{:type :ok, :f :read, :value 3, :process 22, :time 35922820500, :index 5813}
{:type :invoke, :f :write, :value 3, :process 44, :time 35924213472, :index 5814}
{:type :ok, :f :write, :value 3, :process 44, :time 35928945754, :index 5816}
{:type :invoke, :f :read, :value nil, :process 46, :time 35930481896, :index 5817}
{:type :ok, :f :read, :value 3, :process 46, :time 35934985615, :index 5819}
{:type :invoke, :f :write, :value 0, :process 46, :time 35955640020, :index 5825}
{:type :invoke, :f :write, :value 2, :process 40, :time 35960828403, :index 5826}
{:type :ok, :f :write, :value 0, :process 46, :time 35961247072, :index 5827}
{:type :ok, :f :write, :value 2, :process 40, :time 35966451722, :index 5829}
{:type :invoke, :f :read, :value nil, :process 49, :time 36022928283, :index 5838}
{:type :invoke, :f :write, :value 0, :process 40, :time 36027714939, :index 5839}
{:type :invoke, :f :write, :value 0, :process 22, :time 36032079088, :index 5841}
{:type :ok, :f :write, :value 0, :process 40, :time 36033658203, :index 5842}
{:type :invoke, :f :write, :value 2, :process 43, :time 36036740788, :index 5843}
{:type :ok, :f :write, :value 0, :process 22, :time 36036886366, :index 5844}
{:type :ok, :f :write, :value 2, :process 43, :time 36042233208, :index 5845}
{:type :invoke, :f :write, :value 4, :process 22, :time 36069135793, :index 5849}
{:type :ok, :f :write, :value 4, :process 22, :time 36074611401, :index 5850}
{:type :invoke, :f :cas, :value [4 3], :process 46, :time 36075496604, :index 5851}
{:type :invoke, :f :read, :value nil, :process 7, :time 36079177659, :index 5852}
{:type :invoke, :f :cas, :value [4 4], :process 25, :time 36084614213, :index 5855}
{:type :ok, :f :read, :value 4, :process 7, :time 36086417244, :index 5856}
{:type :ok, :f :cas, :value [4 4], :process 25, :time 36091356826, :index 5860}
{:type :invoke, :f :read, :value nil, :process 41, :time 36092758358, :index 5861}
{:type :invoke, :f :read, :value nil, :process 28, :time 36114585122, :index 5866}
{:type :ok, :f :read, :value 4, :process 28, :time 36119936090, :index 5867}
{:type :invoke, :f :read, :value nil, :process 44, :time 36128214930, :index 5868}
{:type :invoke, :f :cas, :value [3 0], :process 7, :time 36137691986, :index 5871}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :fail, :f :cas, :value [3 0], :process 7, :time 36143394193, :index 5874}
{:type :invoke, :f :write, :value 0, :process 7, :time 36169711372, :index 5876}
{:type :invoke, :f :read, :value nil, :process 43, :time 36179493444, :index 5877}
{:type :invoke, :f :write, :value 4, :process 28, :time 36199201824, :index 5879}
{:type :invoke, :f :read, :value nil, :process 40, :time 36202969018, :index 5882}
{:type :invoke, :f :read, :value nil, :process 22, :time 36209896465, :index 5883}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :invoke, :f :cas, :value [0 4], :process 25, :time 36244626510, :index 5887}
{:type :ok, :f :read, :value 0, :process 22, :time 36781548503, :index 5890}
{:type :ok, :f :write, :value 0, :process 7, :time 36781626009, :index 5891}
{:type :ok, :f :cas, :value [0 4], :process 25, :time 36782475427, :index 5893}
{:type :ok, :f :cas, :value [4 3], :process 46, :time 36782925361, :index 5895}
{:type :ok, :f :read, :value 0, :process 40, :time 36783025244, :index 5896}
{:type :ok, :f :read, :value 3, :process 41, :time 36783365753, :index 5897}
{:type :invoke, :f :cas, :value [4 1], :process 46, :time 36855224322, :index 5909}
{:type :invoke, :f :cas, :value [4 3], :process 25, :time 36860777575, :index 5910}
{:type :invoke, :f :cas, :value [3 1], :process 40, :time 36865288560, :index 5911}
{:type :invoke, :f :read, :value nil, :process 22, :time 36879950859, :index 5912}
{:type :invoke, :f :cas, :value [2 3], :process 7, :time 36885308322, :index 5913}
{:type :invoke, :f :write, :value 1, :process 41, :time 36898917051, :index 5914}
{:type :fail, :f :cas, :value [2 3], :process 7, :time 37188281970, :index 5921}
{:type :ok, :f :write, :value 1, :process 41, :time 37188576313, :index 5922}
{:type :fail, :f :cas, :value [4 1], :process 46, :time 37189348165, :index 5925}
{:type :invoke, :f :read, :value nil, :process 41, :time 37189515046, :index 5926}
{:type :fail, :f :cas, :value [4 3], :process 25, :time 37189810890, :index 5927}
{:type :ok, :f :cas, :value [3 1], :process 40, :time 37190172977, :index 5928}
{:type :ok, :f :read, :value 1, :process 22, :time 37190451715, :index 5929}
{:type :ok, :f :read, :value 1, :process 41, :time 37195757336, :index 5931}
{:type :invoke, :f :write, :value 3, :process 41, :time 37280010279, :index 5942}
{:type :invoke, :f :write, :value 2, :process 22, :time 37284709580, :index 5943}
{:type :ok, :f :write, :value 3, :process 41, :time 37285080263, :index 5944}
{:type :ok, :f :write, :value 2, :process 22, :time 37289972877, :index 5946}
{:type :invoke, :f :cas, :value [2 4], :process 25, :time 37295059712, :index 5948}
{:type :ok, :f :cas, :value [2 4], :process 25, :time 37301182056, :index 5949}
{:type :invoke, :f :read, :value nil, :process 40, :time 37306417885, :index 5950}
{:type :ok, :f :read, :value 4, :process 40, :time 37312794278, :index 5951}
{:type :invoke, :f :write, :value 4, :process 7, :time 37362523152, :index 5960}
{:type :ok, :f :write, :value 4, :process 7, :time 37368642263, :index 5962}
{:type :invoke, :f :write, :value 2, :process 46, :time 37368612658, :index 5963}
{:type :ok, :f :write, :value 2, :process 46, :time 37373755525, :index 5965}
{:type :invoke, :f :write, :value 4, :process 46, :time 37381012609, :index 5966}
{:type :invoke, :f :cas, :value [0 1], :process 41, :time 37386393677, :index 5967}
{:type :ok, :f :write, :value 4, :process 46, :time 37386561520, :index 5968}
{:type :fail, :f :cas, :value [0 1], :process 41, :time 37392357606, :index 5969}
{:type :invoke, :f :read, :value nil, :process 22, :time 37432232083, :index 5972}
{:type :ok, :f :read, :value 4, :process 22, :time 37437132062, :index 5974}
{:type :invoke, :f :read, :value nil, :process 25, :time 37450452073, :index 5978}
{:type :ok, :f :read, :value 4, :process 25, :time 37456769937, :index 5979}
{:type :invoke, :f :read, :value nil, :process 40, :time 37459066498, :index 5980}
{:type :ok, :f :read, :value 4, :process 40, :time 37464526494, :index 5982}
{:type :invoke, :f :read, :value nil, :process 7, :time 37472351510, :index 5985}
{:type :ok, :f :read, :value 4, :process 7, :time 37477429574, :index 5987}
{:type :invoke, :f :cas, :value [2 0], :process 46, :time 37482842572, :index 5988}
{:type :fail, :f :cas, :value [2 0], :process 46, :time 37488029750, :index 5989}
{:type :invoke, :f :write, :value 4, :process 40, :time 37523783989, :index 5995}
{:type :ok, :f :write, :value 4, :process 40, :time 37529160340, :index 5997}
{:type :invoke, :f :cas, :value [0 1], :process 22, :time 37545399519, :index 5998}
{:type :fail, :f :cas, :value [0 1], :process 22, :time 37550248302, :index 5999}
{:type :invoke, :f :read, :value nil, :process 41, :time 37550622716, :index 6000}
{:type :ok, :f :read, :value 4, :process 41, :time 37555786124, :index 6002}
{:type :invoke, :f :write, :value 0, :process 46, :time 37558299493, :index 6004}
{:type :ok, :f :write, :value 0, :process 46, :time 37563443570, :index 6006}
{:type :invoke, :f :write, :value 0, :process 7, :time 37615687062, :index 6013}
{:type :invoke, :f :write, :value 0, :process 25, :time 37617035276, :index 6014}
{:type :ok, :f :write, :value 0, :process 7, :time 37622063015, :index 6015}
{:type :ok, :f :write, :value 0, :process 25, :time 37622993190, :index 6017}
{:type :invoke, :f :write, :value 4, :process 25, :time 37633230162, :index 6018}
{:type :invoke, :f :read, :value nil, :process 41, :time 37634071132, :index 6019}
{:type :ok, :f :write, :value 4, :process 25, :time 37639292909, :index 6021}
{:type :ok, :f :read, :value 4, :process 41, :time 37639795998, :index 6022}
{:type :invoke, :f :write, :value 1, :process 25, :time 37692552804, :index 6028}
{:type :invoke, :f :write, :value 0, :process 22, :time 37693509713, :index 6029}
{:type :ok, :f :write, :value 1, :process 25, :time 37698042623, :index 6030}
{:type :ok, :f :write, :value 0, :process 22, :time 37698339463, :index 6031}
{:type :invoke, :f :write, :value 3, :process 40, :time 37703430718, :index 6032}
{:type :ok, :f :write, :value 3, :process 40, :time 37709238517, :index 6033}
{:type :invoke, :f :read, :value nil, :process 46, :time 37732762236, :index 6038}
{:type :ok, :f :read, :value 3, :process 46, :time 37738836318, :index 6039}
{:type :invoke, :f :write, :value 1, :process 46, :time 37762095293, :index 6040}
{:type :invoke, :f :write, :value 1, :process 41, :time 37764069501, :index 6041}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 37767575131, :index 6042}
{:type :ok, :f :write, :value 1, :process 46, :time 37768813516, :index 6044}
{:type :ok, :f :write, :value 1, :process 41, :time 37769264286, :index 6045}
{:type :fail, :f :cas, :value [0 2], :process 22, :time 37773152371, :index 6046}
{:type :invoke, :f :read, :value nil, :process 7, :time 37805331598, :index 6054}
{:type :invoke, :f :write, :value 4, :process 46, :time 37806076978, :index 6055}
{:type :invoke, :f :write, :value 4, :process 25, :time 37808362201, :index 6056}
{:type :ok, :f :read, :value 1, :process 7, :time 37810731483, :index 6057}
{:type :ok, :f :write, :value 4, :process 46, :time 37813046304, :index 6058}
{:type :ok, :f :write, :value 4, :process 25, :time 37813360172, :index 6059}
{:type :invoke, :f :write, :value 2, :process 40, :time 37833497328, :index 6064}
{:type :ok, :f :write, :value 2, :process 40, :time 37839338490, :index 6065}
{:type :invoke, :f :read, :value nil, :process 22, :time 37882408366, :index 6070}
{:type :ok, :f :read, :value 2, :process 22, :time 37887136281, :index 6071}
{:type :invoke, :f :cas, :value [0 2], :process 41, :time 37913510933, :index 6077}
{:type :fail, :f :cas, :value [0 2], :process 41, :time 37918371666, :index 6079}
{:type :invoke, :f :cas, :value [1 0], :process 40, :time 37924599954, :index 6080}
{:type :fail, :f :cas, :value [1 0], :process 40, :time 37930396477, :index 6082}
{:type :invoke, :f :read, :value nil, :process 7, :time 37968002709, :index 6088}
{:type :ok, :f :read, :value 2, :process 7, :time 37973124431, :index 6089}
{:type :invoke, :f :write, :value 0, :process 46, :time 37976295598, :index 6090}
{:type :ok, :f :write, :value 0, :process 46, :time 37981207104, :index 6092}
{:type :invoke, :f :read, :value nil, :process 25, :time 38007597622, :index 6098}
{:type :ok, :f :read, :value 0, :process 25, :time 38013496881, :index 6099}
{:type :fail, :f :read, :value nil, :process 49, :time 41030380651, :error :timeout, :index 6439}
{:type :fail, :f :read, :value nil, :process 44, :time 41135130401, :error :timeout, :index 6469}
{:type :fail, :f :read, :value nil, :process 43, :time 41186434179, :error :timeout, :index 6476}
{:type :info, :f :write, :value 4, :process 28, :time 41205259952, :error :timeout, :index 6481}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
