{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
{:type :invoke, :f :cas, :value [2 3], :process 29, :time 57681198760, :index 12454}
{:type :invoke, :f :write, :value 2, :process 0, :time 57682264754, :index 12456}
{:type :ok, :f :write, :value 2, :process 0, :time 57687487609, :index 12457}
{:type :fail, :f :cas, :value [2 3], :process 29, :time 57687866951, :error :not-found, :index 12458}
{:type :invoke, :f :read, :value nil, :process 46, :time 57712272516, :index 12463}
{:type :ok, :f :read, :value 2, :process 46, :time 57717663626, :index 12465}
{:type :invoke, :f :write, :value 4, :process 24, :time 57750884020, :index 12474}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 57755514493, :index 12475}
{:type :ok, :f :write, :value 4, :process 24, :time 57756643464, :index 12476}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 57766255268, :index 12477}
{:type :invoke, :f :cas, :value [1 2], :process 24, :time 57776939984, :index 12478}
{:type :fail, :f :cas, :value [1 2], :process 24, :time 57782581074, :index 12479}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 57827760397, :index 12488}
{:type :invoke, :f :write, :value 0, :process 21, :time 57828842711, :index 12489}
{:type :invoke, :f :write, :value 2, :process 29, :time 57833109249, :index 12491}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 57838911971, :index 12492}
{:type :ok, :f :write, :value 0, :process 21, :time 57838972081, :index 12493}
{:type :ok, :f :write, :value 2, :process 29, :time 57841856739, :index 12495}
{:type :invoke, :f :write, :value 0, :process 0, :time 57848215244, :index 12496}
{:type :invoke, :f :read, :value nil, :process 24, :time 57851839553, :index 12497}
{:type :ok, :f :write, :value 0, :process 0, :time 57852318346, :index 12498}
{:type :invoke, :f :cas, :value [1 4], :process 46, :time 57856962855, :index 12500}
{:type :ok, :f :read, :value 0, :process 24, :time 57858015970, :index 12501}
{:type :fail, :f :cas, :value [1 4], :process 46, :time 57862720150, :index 12503}
{:type :invoke, :f :write, :value 4, :process 5, :time 57868508303, :index 12504}
{:type :ok, :f :write, :value 4, :process 5, :time 57873182243, :index 12505}
{:type :invoke, :f :cas, :value [1 0], :process 46, :time 57908016495, :index 12508}
{:type :fail, :f :cas, :value [1 0], :process 46, :time 57914273319, :index 12509}
{:type :invoke, :f :read, :value nil, :process 0, :time 57920592011, :index 12510}
{:type :ok, :f :read, :value 4, :process 0, :time 57926797989, :index 12512}
{:type :invoke, :f :read, :value nil, :process 0, :time 57983072522, :index 12518}
{:type :invoke, :f :write, :value 1, :process 46, :time 57993529061, :index 12520}
{:type :invoke, :f :cas, :value [4 3], :process 21, :time 57995231152, :index 12521}
{:type :invoke, :f :cas, :value [2 1], :process 5, :time 57997444905, :index 12522}
{:type :invoke, :f :cas, :value [1 0], :process 24, :time 58011320192, :index 12523}
{:type :invoke, :f :write, :value 1, :process 29, :time 58027109485, :index 12524}
{:type :ok, :f :write, :value 1, :process 29, :time 58436289951, :index 12530}
{:type :fail, :f :cas, :value [2 1], :process 5, :time 58436637390, :index 12532}
{:type :fail, :f :cas, :value [4 3], :process 21, :time 58437301420, :index 12533}
{:type :ok, :f :cas, :value [1 0], :process 24, :time 58437587548, :index 12536}
{:type :ok, :f :read, :value 4, :process 0, :time 58438030006, :index 12538}
{:type :ok, :f :write, :value 1, :process 46, :time 58438256238, :index 12539}
{:type :invoke, :f :read, :value nil, :process 46, :time 58445614472, :index 12542}
{:type :ok, :f :read, :value 1, :process 46, :time 58451069919, :index 12545}
{:type :invoke, :f :cas, :value [4 2], :process 46, :time 58490321247, :index 12549}
{:type :fail, :f :cas, :value [4 2], :process 46, :time 58495478218, :index 12551}
{:type :invoke, :f :cas, :value [2 3], :process 21, :time 58542120745, :index 12562}
{:type :fail, :f :cas, :value [2 3], :process 21, :time 58548052736, :index 12563}
{:type :invoke, :f :cas, :value [3 4], :process 5, :time 58562950825, :index 12566}
{:type :fail, :f :cas, :value [3 4], :process 5, :time 58567992752, :index 12567}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 58582564083, :index 12570}
{:type :invoke, :f :cas, :value [3 0], :process 46, :time 58586734281, :index 12571}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 58591618648, :index 12572}
{:type :fail, :f :cas, :value [3 0], :process 46, :time 58592297168, :index 12573}
{:type :invoke, :f :write, :value 3, :process 24, :time 58599558798, :index 12575}
{:type :ok, :f :write, :value 3, :process 24, :time 58604864940, :index 12577}
{:type :invoke, :f :write, :value 2, :process 29, :time 58607565268, :index 12578}
{:type :ok, :f :write, :value 2, :process 29, :time 58612657253, :index 12579}
{:type :invoke, :f :read, :value nil, :process 24, :time 58626118342, :index 12583}
{:type :ok, :f :read, :value 2, :process 24, :time 58631187033, :index 12585}
{:type :invoke, :f :write, :value 4, :process 24, :time 58668435414, :index 12592}
{:type :ok, :f :write, :value 4, :process 24, :time 58673622008, :index 12593}
{:type :invoke, :f :read, :value nil, :process 0, :time 58693894040, :index 12595}
{:type :invoke, :f :read, :value nil, :process 21, :time 58700308096, :index 12596}
{:type :ok, :f :read, :value 4, :process 0, :time 58703637597, :index 12598}
{:type :ok, :f :read, :value 4, :process 21, :time 58705517569, :index 12599}
{:type :invoke, :f :write, :value 2, :process 46, :time 58711554062, :index 12600}
{:type :ok, :f :write, :value 2, :process 46, :time 58718575351, :index 12601}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 58738261565, :index 12603}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 58743361308, :index 12606}
{:type :invoke, :f :write, :value 0, :process 24, :time 58762877225, :index 12608}
{:type :invoke, :f :cas, :value [2 1], :process 29, :time 58763936063, :index 12609}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 58764888169, :index 12610}
{:type :ok, :f :write, :value 0, :process 24, :time 58769555134, :index 12611}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 58771681506, :index 12612}
{:type :fail, :f :cas, :value [2 1], :process 29, :time 58772048933, :index 12613}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 58805623896, :index 12622}
{:type :ok, :f :cas, :value [0 1], :process 5, :time 58809902298, :index 12623}
{:type :invoke, :f :cas, :value [1 2], :process 29, :time 58884314842, :index 12630}
{:type :invoke, :f :read, :value nil, :process 46, :time 58889835633, :index 12631}
{:type :invoke, :f :write, :value 1, :process 5, :time 58890194508, :index 12632}
{:type :ok, :f :cas, :value [1 2], :process 29, :time 58890435554, :index 12633}
{:type :ok, :f :write, :value 1, :process 5, :time 58895253299, :index 12635}
{:type :ok, :f :read, :value 1, :process 46, :time 58896096238, :index 12636}
{:type :invoke, :f :read, :value nil, :process 21, :time 58896773130, :index 12637}
{:type :ok, :f :read, :value 1, :process 21, :time 58902017299, :index 12639}
{:type :invoke, :f :cas, :value [0 1], :process 0, :time 58937954088, :index 12645}
{:type :fail, :f :cas, :value [0 1], :process 0, :time 58942998727, :index 12647}
{:type :invoke, :f :read, :value nil, :process 24, :time 58963816919, :index 12648}
{:type :ok, :f :read, :value 1, :process 24, :time 58969529004, :index 12649}
{:type :invoke, :f :write, :value 1, :process 5, :time 58991521849, :index 12652}
{:type :ok, :f :write, :value 1, :process 5, :time 58996623163, :index 12654}
{:type :invoke, :f :cas, :value [0 0], :process 29, :time 59005683504, :index 12656}
{:type :invoke, :f :read, :value nil, :process 5, :time 59006880320, :index 12657}
{:type :ok, :f :read, :value 1, :process 5, :time 59012643390, :index 12658}
{:type :fail, :f :cas, :value [0 0], :process 29, :time 59012722923, :index 12659}
{:type :invoke, :f :read, :value nil, :process 5, :time 59021895183, :index 12660}
{:type :ok, :f :read, :value 1, :process 5, :time 59025845997, :index 12661}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 59072252445, :index 12666}
{:type :invoke, :f :read, :value nil, :process 46, :time 59073371678, :index 12667}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 59077343203, :index 12668}
{:type :ok, :f :read, :value 1, :process 46, :time 59079074356, :index 12669}
{:type :invoke, :f :read, :value nil, :process 21, :time 59089272313, :index 12672}
{:type :ok, :f :read, :value 1, :process 21, :time 59094688065, :index 12673}
{:type :invoke, :f :write, :value 2, :process 21, :time 59154952972, :index 12682}
{:type :invoke, :f :read, :value nil, :process 24, :time 59159799596, :index 12685}
{:type :ok, :f :write, :value 2, :process 21, :time 59159919067, :index 12686}
{:type :ok, :f :read, :value 2, :process 24, :time 59164594449, :index 12688}
{:type :invoke, :f :write, :value 1, :process 24, :time 59170854326, :index 12690}
{:type :ok, :f :write, :value 1, :process 24, :time 59175791902, :index 12692}
{:type :invoke, :f :write, :value 0, :process 24, :time 59178058825, :index 12694}
{:type :invoke, :f :read, :value nil, :process 29, :time 59182966790, :index 12695}
{:type :ok, :f :write, :value 0, :process 24, :time 59183351890, :index 12696}
{:type :ok, :f :read, :value 0, :process 29, :time 59187825285, :index 12697}
{:type :invoke, :f :write, :value 4, :process 5, :time 59199105735, :index 12698}
{:type :invoke, :f :write, :value 1, :process 46, :time 59200331713, :index 12699}
{:type :ok, :f :write, :value 4, :process 5, :time 59204922793, :index 12701}
{:type :ok, :f :write, :value 1, :process 46, :time 59205628126, :index 12702}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 59208560182, :index 12706}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 59213589006, :index 12709}
{:type :invoke, :f :write, :value 2, :process 46, :time 59212996757, :index 12710}
{:type :ok, :f :write, :value 2, :process 46, :time 59219251431, :index 12711}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 59275181493, :index 12718}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 59280403844, :index 12719}
{:type :invoke, :f :write, :value 1, :process 5, :time 59289658024, :index 12720}
{:type :invoke, :f :write, :value 3, :process 29, :time 59290100287, :index 12721}
{:type :invoke, :f :cas, :value [0 2], :process 21, :time 59292160345, :index 12722}
{:type :ok, :f :write, :value 1, :process 5, :time 59295309547, :index 12723}
{:type :ok, :f :write, :value 3, :process 29, :time 59297041613, :index 12724}
{:type :fail, :f :cas, :value [0 2], :process 21, :time 59299140295, :index 12725}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 59316818065, :index 12732}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 59321653680, :index 12733}
{:type :invoke, :f :cas, :value [2 0], :process 29, :time 59338290720, :index 12734}
{:type :fail, :f :cas, :value [2 0], :process 29, :time 59343841500, :index 12735}
{:type :invoke, :f :write, :value 2, :process 46, :time 59360507757, :index 12739}
{:type :invoke, :f :read, :value nil, :process 24, :time 59363608844, :index 12740}
{:type :ok, :f :write, :value 2, :process 46, :time 59365473541, :index 12742}
{:type :invoke, :f :read, :value nil, :process 0, :time 59366923324, :index 12743}
{:type :ok, :f :read, :value 2, :process 24, :time 59369099144, :index 12744}
{:type :ok, :f :read, :value 2, :process 0, :time 59371917098, :index 12745}
{:type :invoke, :f :read, :value nil, :process 21, :time 59400396864, :index 12749}
{:type :ok, :f :read, :value 2, :process 21, :time 59407316005, :index 12751}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 59444163034, :index 12754}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 59449098904, :index 12755}
{:type :invoke, :f :cas, :value [0 3], :process 24, :time 59460387319, :index 12757}
{:type :fail, :f :cas, :value [0 3], :process 24, :time 59466841058, :index 12759}
{:type :invoke, :f :read, :value nil, :process 5, :time 59473571638, :index 12762}
{:type :ok, :f :read, :value 2, :process 5, :time 59478090954, :index 12763}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 59502571351, :index 12765}
{:type :fail, :f :cas, :value [4 2], :process 21, :time 59508371146, :index 12768}
{:type :invoke, :f :cas, :value [4 3], :process 46, :time 59513863511, :index 12770}
{:type :fail, :f :cas, :value [4 3], :process 46, :time 59519948003, :index 12772}
{:type :invoke, :f :cas, :value [1 2], :process 29, :time 59542114084, :index 12778}
{:type :fail, :f :cas, :value [1 2], :process 29, :time 59547047095, :index 12779}
{:type :invoke, :f :read, :value nil, :process 0, :time 59573351755, :index 12780}
{:type :ok, :f :read, :value 2, :process 0, :time 59577584906, :index 12781}
{:type :invoke, :f :write, :value 4, :process 24, :time 59587123385, :index 12784}
{:type :ok, :f :write, :value 4, :process 24, :time 59592710594, :index 12787}
{:type :invoke, :f :write, :value 1, :process 5, :time 59612370552, :index 12789}
{:type :ok, :f :write, :value 1, :process 5, :time 59618676165, :index 12791}
{:type :invoke, :f :read, :value nil, :process 46, :time 59655212750, :index 12798}
{:type :ok, :f :read, :value 1, :process 46, :time 59660424600, :index 12799}
{:type :invoke, :f :cas, :value [1 2], :process 46, :time 59663682050, :index 12800}
{:type :ok, :f :cas, :value [1 2], :process 46, :time 59668988756, :index 12801}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 59672627420, :index 12802}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 59678350376, :index 12806}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 59707848447, :index 12808}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 59713099081, :index 12810}
{:type :invoke, :f :read, :value nil, :process 21, :time 59726583928, :index 12812}
{:type :ok, :f :read, :value 2, :process 21, :time 59731923580, :index 12814}
{:type :invoke, :f :cas, :value [2 3], :process 29, :time 59738310635, :index 12816}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 59738940081, :index 12817}
{:type :ok, :f :cas, :value [3 3], :process 5, :time 59744827269, :index 12819}
{:type :ok, :f :cas, :value [2 3], :process 29, :time 59744954917, :index 12820}
{:type :invoke, :f :write, :value 2, :process 24, :time 59754990019, :index 12824}
{:type :ok, :f :write, :value 2, :process 24, :time 59759425480, :index 12825}
{:type :invoke, :f :read, :value nil, :process 29, :time 59762214976, :index 12826}
{:type :ok, :f :read, :value 2, :process 29, :time 59767260746, :index 12828}
{:type :invoke, :f :read, :value nil, :process 46, :time 59778251445, :index 12830}
{:type :ok, :f :read, :value 2, :process 46, :time 59783032923, :index 12831}
{:type :invoke, :f :read, :value nil, :process 0, :time 59795345985, :index 12834}
{:type :ok, :f :read, :value 2, :process 0, :time 59799784881, :index 12835}
{:type :invoke, :f :cas, :value [1 3], :process 24, :time 59800691985, :index 12836}
{:type :fail, :f :cas, :value [1 3], :process 24, :time 59806402909, :index 12838}
{:type :invoke, :f :write, :value 1, :process 29, :time 59837522307, :index 12844}
{:type :ok, :f :write, :value 1, :process 29, :time 59842028461, :index 12845}
{:type :invoke, :f :read, :value nil, :process 21, :time 59855181504, :index 12846}
{:type :ok, :f :read, :value 1, :process 21, :time 59861179302, :index 12848}
{:type :invoke, :f :write, :value 3, :process 46, :time 59861332783, :index 12849}
{:type :ok, :f :write, :value 3, :process 46, :time 59866310289, :index 12851}
{:type :invoke, :f :write, :value 0, :process 29, :time 59872288419, :index 12852}
{:type :invoke, :f :write, :value 4, :process 5, :time 59877129071, :index 12853}
{:type :ok, :f :write, :value 0, :process 29, :time 59877829289, :index 12854}
{:type :ok, :f :write, :value 4, :process 5, :time 59881681313, :index 12855}
{:type :invoke, :f :cas, :value [0 2], :process 21, :time 59886496933, :index 12857}
{:type :fail, :f :cas, :value [0 2], :process 21, :time 59892025016, :index 12859}
{:type :invoke, :f :read, :value nil, :process 0, :time 59942043654, :index 12870}
{:type :ok, :f :read, :value 4, :process 0, :time 59947160737, :index 12873}
{:type :invoke, :f :read, :value nil, :process 24, :time 59979657945, :index 12876}
{:type :ok, :f :read, :value 4, :process 24, :time 59985953025, :index 12877}
