{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :invoke, :f :cas, :value [0 1], :process 15, :time 47424373379, :index 10386}
{:type :fail, :f :cas, :value [0 1], :process 15, :time 47429453410, :error :not-found, :index 10388}
{:type :invoke, :f :write, :value 3, :process 10, :time 47486296844, :index 10398}
{:type :invoke, :f :cas, :value [3 4], :process 54, :time 47486560695, :index 10400}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 47487752113, :index 10401}
{:type :invoke, :f :read, :value nil, :process 12, :time 47535142725, :index 10404}
{:type :invoke, :f :read, :value nil, :process 37, :time 47561020798, :index 10407}
{:type :invoke, :f :cas, :value [1 1], :process 39, :time 47594250909, :index 10409}
{:type :ok, :f :write, :value 3, :process 10, :time 47898124274, :index 10412}
{:type :ok, :f :cas, :value [4 3], :process 15, :time 47918419291, :index 10415}
{:type :fail, :f :cas, :value [1 1], :process 39, :time 47919470595, :index 10417}
{:type :ok, :f :read, :value 3, :process 12, :time 47920085081, :index 10420}
{:type :ok, :f :cas, :value [3 4], :process 54, :time 47920116187, :index 10421}
{:type :ok, :f :read, :value 3, :process 37, :time 47920522677, :index 10422}
{:type :invoke, :f :read, :value nil, :process 15, :time 47999018070, :index 10427}
{:type :invoke, :f :cas, :value [4 4], :process 39, :time 47988716809, :index 10428}
{:type :ok, :f :read, :value 3, :process 15, :time 48003646036, :index 10430}
{:type :fail, :f :cas, :value [4 4], :process 39, :time 48005537890, :index 10431}
{:type :invoke, :f :write, :value 3, :process 10, :time 48014454231, :index 10433}
{:type :ok, :f :write, :value 3, :process 10, :time 48018843278, :index 10435}
{:type :invoke, :f :write, :value 0, :process 37, :time 48026847372, :index 10436}
{:type :ok, :f :write, :value 0, :process 37, :time 48031893665, :index 10437}
{:type :invoke, :f :cas, :value [3 2], :process 54, :time 48037363640, :index 10438}
{:type :fail, :f :cas, :value [3 2], :process 54, :time 48043118620, :index 10439}
{:type :invoke, :f :cas, :value [0 1], :process 39, :time 48060790522, :index 10442}
{:type :ok, :f :cas, :value [0 1], :process 39, :time 48065986972, :index 10444}
{:type :invoke, :f :cas, :value [3 4], :process 12, :time 48089361793, :index 10446}
{:type :fail, :f :cas, :value [3 4], :process 12, :time 48094614855, :index 10447}
{:type :invoke, :f :read, :value nil, :process 39, :time 48155253151, :index 10459}
{:type :invoke, :f :read, :value nil, :process 10, :time 48174096322, :index 10461}
{:type :invoke, :f :cas, :value [3 2], :process 15, :time 48187882205, :index 10463}
{:type :invoke, :f :read, :value nil, :process 37, :time 48191150187, :index 10464}
{:type :invoke, :f :cas, :value [2 3], :process 54, :time 48219378512, :index 10465}
{:type :invoke, :f :read, :value nil, :process 12, :time 48238873227, :index 10466}
{:type :ok, :f :read, :value 1, :process 10, :time 48696898401, :index 10469}
{:type :fail, :f :cas, :value [3 2], :process 15, :time 48697318098, :index 10471}
{:type :ok, :f :read, :value 1, :process 37, :time 48697941506, :index 10474}
{:type :ok, :f :read, :value 1, :process 12, :time 48698031901, :index 10475}
{:type :ok, :f :read, :value 1, :process 39, :time 48698180770, :index 10476}
{:type :fail, :f :cas, :value [2 3], :process 54, :time 48699227579, :index 10479}
{:type :invoke, :f :write, :value 3, :process 37, :time 48722054400, :index 10482}
{:type :invoke, :f :cas, :value [2 1], :process 54, :time 48725488997, :index 10483}
{:type :ok, :f :write, :value 3, :process 37, :time 48727197949, :index 10484}
{:type :fail, :f :cas, :value [2 1], :process 54, :time 48733567952, :index 10485}
{:type :invoke, :f :read, :value nil, :process 54, :time 48736820204, :index 10486}
{:type :ok, :f :read, :value 3, :process 54, :time 48742152802, :index 10487}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 48748884468, :index 10488}
{:type :invoke, :f :write, :value 1, :process 54, :time 48750419760, :index 10489}
{:type :fail, :f :cas, :value [4 3], :process 15, :time 48754505539, :index 10490}
{:type :ok, :f :write, :value 1, :process 54, :time 48756012894, :index 10491}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 48782574298, :index 10494}
{:type :fail, :f :cas, :value [0 3], :process 10, :time 48787961701, :index 10497}
{:type :invoke, :f :read, :value nil, :process 39, :time 48802266339, :index 10500}
{:type :ok, :f :read, :value 1, :process 39, :time 48807627026, :index 10502}
{:type :invoke, :f :read, :value nil, :process 15, :time 48829772776, :index 10506}
{:type :ok, :f :read, :value 1, :process 15, :time 48834318818, :index 10508}
{:type :invoke, :f :read, :value nil, :process 12, :time 48835124071, :index 10509}
{:type :ok, :f :read, :value 1, :process 12, :time 48840197828, :index 10511}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 48870214234, :index 10513}
{:type :fail, :f :cas, :value [0 0], :process 10, :time 48875049695, :index 10515}
{:type :invoke, :f :write, :value 0, :process 37, :time 48890458798, :index 10518}
{:type :ok, :f :write, :value 0, :process 37, :time 48895607940, :index 10519}
{:type :invoke, :f :write, :value 1, :process 10, :time 48897300943, :index 10520}
{:type :ok, :f :write, :value 1, :process 10, :time 48901708682, :index 10521}
{:type :invoke, :f :read, :value nil, :process 12, :time 48904470381, :index 10522}
{:type :ok, :f :read, :value 1, :process 12, :time 48909735891, :index 10523}
{:type :invoke, :f :write, :value 4, :process 54, :time 48937267868, :index 10526}
{:type :ok, :f :write, :value 4, :process 54, :time 48942260374, :index 10528}
{:type :invoke, :f :read, :value nil, :process 10, :time 48942965174, :index 10530}
{:type :ok, :f :read, :value 4, :process 10, :time 48948408751, :index 10531}
{:type :invoke, :f :write, :value 1, :process 12, :time 48954989038, :index 10532}
{:type :ok, :f :write, :value 1, :process 12, :time 48960088044, :index 10533}
{:type :invoke, :f :write, :value 0, :process 39, :time 48994899540, :index 10538}
{:type :invoke, :f :write, :value 3, :process 15, :time 48997604735, :index 10539}
{:type :ok, :f :write, :value 0, :process 39, :time 49000352406, :index 10540}
{:type :ok, :f :write, :value 3, :process 15, :time 49002370110, :index 10541}
{:type :invoke, :f :read, :value nil, :process 15, :time 49026641175, :index 10544}
{:type :invoke, :f :read, :value nil, :process 12, :time 49028368417, :index 10545}
{:type :ok, :f :read, :value 3, :process 15, :time 49031629798, :index 10546}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 49032724735, :index 10547}
{:type :ok, :f :read, :value 3, :process 12, :time 49034214852, :index 10548}
{:type :ok, :f :cas, :value [3 3], :process 10, :time 49037617542, :index 10550}
{:type :invoke, :f :read, :value nil, :process 39, :time 49052607383, :index 10554}
{:type :invoke, :f :read, :value nil, :process 54, :time 49053533662, :index 10556}
{:type :invoke, :f :cas, :value [0 4], :process 37, :time 49055869734, :index 10557}
{:type :ok, :f :read, :value 3, :process 39, :time 49060274916, :index 10559}
{:type :ok, :f :read, :value 3, :process 54, :time 49060478644, :index 10560}
{:type :fail, :f :cas, :value [0 4], :process 37, :time 49061314030, :index 10561}
{:type :invoke, :f :cas, :value [1 3], :process 39, :time 49061726185, :index 10562}
{:type :fail, :f :cas, :value [1 3], :process 39, :time 49067873499, :index 10563}
{:type :invoke, :f :read, :value nil, :process 39, :time 49116131006, :index 10571}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 49122901354, :index 10572}
{:type :invoke, :f :cas, :value [2 3], :process 37, :time 49151591805, :index 10576}
{:type :invoke, :f :write, :value 0, :process 54, :time 49210786868, :index 10579}
{:type :invoke, :f :read, :value nil, :process 12, :time 49225396211, :index 10580}
{:type :invoke, :f :read, :value nil, :process 10, :time 49231867811, :index 10581}
{:type :ok, :f :read, :value 3, :process 12, :time 49559214161, :index 10586}
{:type :fail, :f :cas, :value [2 3], :process 37, :time 49560153918, :index 10588}
{:type :ok, :f :read, :value 3, :process 39, :time 49560546910, :index 10590}
{:type :ok, :f :write, :value 0, :process 54, :time 49560670910, :index 10591}
{:type :fail, :f :cas, :value [4 3], :process 15, :time 49561235712, :index 10593}
{:type :ok, :f :read, :value 3, :process 10, :time 49561900787, :index 10595}
{:type :invoke, :f :read, :value nil, :process 12, :time 49566576021, :index 10596}
{:type :ok, :f :read, :value 0, :process 12, :time 49572009432, :index 10598}
{:type :invoke, :f :write, :value 0, :process 39, :time 49627566592, :index 10602}
{:type :ok, :f :write, :value 0, :process 39, :time 49633665813, :index 10605}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 49653130206, :index 10610}
{:type :fail, :f :cas, :value [4 4], :process 10, :time 49657985437, :index 10611}
{:type :invoke, :f :write, :value 2, :process 12, :time 49661243251, :index 10612}
{:type :ok, :f :write, :value 2, :process 12, :time 49666033722, :index 10613}
{:type :invoke, :f :write, :value 1, :process 54, :time 49677908478, :index 10617}
{:type :ok, :f :write, :value 1, :process 54, :time 49683677075, :index 10618}
{:type :invoke, :f :read, :value nil, :process 10, :time 49691235032, :index 10620}
{:type :invoke, :f :read, :value nil, :process 12, :time 49692297371, :index 10621}
{:type :invoke, :f :cas, :value [0 0], :process 39, :time 49695894568, :index 10622}
{:type :ok, :f :read, :value 1, :process 10, :time 49697042959, :index 10624}
{:type :ok, :f :read, :value 1, :process 12, :time 49697632127, :index 10625}
{:type :fail, :f :cas, :value [0 0], :process 39, :time 49701560788, :index 10626}
{:type :invoke, :f :read, :value nil, :process 54, :time 49723936167, :index 10630}
{:type :ok, :f :read, :value 1, :process 54, :time 49729138150, :index 10631}
{:type :invoke, :f :write, :value 3, :process 15, :time 49738478646, :index 10632}
{:type :ok, :f :write, :value 3, :process 15, :time 49744145228, :index 10633}
{:type :invoke, :f :write, :value 1, :process 37, :time 49755467915, :index 10636}
{:type :ok, :f :write, :value 1, :process 37, :time 49761633063, :index 10637}
{:type :invoke, :f :read, :value nil, :process 39, :time 49767812733, :index 10638}
{:type :ok, :f :read, :value 1, :process 39, :time 49773268473, :index 10640}
{:type :invoke, :f :read, :value nil, :process 15, :time 49808431538, :index 10643}
{:type :ok, :f :read, :value 1, :process 15, :time 49813293471, :index 10645}
{:type :invoke, :f :cas, :value [3 3], :process 54, :time 49838403185, :index 10650}
{:type :fail, :f :cas, :value [3 3], :process 54, :time 49843855804, :index 10651}
{:type :invoke, :f :read, :value nil, :process 39, :time 49849528090, :index 10653}
{:type :invoke, :f :write, :value 1, :process 10, :time 49852356006, :index 10655}
{:type :ok, :f :read, :value 1, :process 39, :time 49854458637, :index 10657}
{:type :ok, :f :write, :value 1, :process 10, :time 49857483953, :index 10659}
{:type :invoke, :f :cas, :value [0 3], :process 54, :time 49868112600, :index 10660}
{:type :invoke, :f :read, :value nil, :process 10, :time 49872719429, :index 10662}
{:type :fail, :f :cas, :value [0 3], :process 54, :time 49873723273, :index 10663}
{:type :invoke, :f :read, :value nil, :process 12, :time 49873865414, :index 10664}
{:type :ok, :f :read, :value 1, :process 10, :time 49877191541, :index 10665}
{:type :ok, :f :read, :value 1, :process 12, :time 49878733252, :index 10667}
{:type :invoke, :f :read, :value nil, :process 15, :time 49903537620, :index 10670}
{:type :invoke, :f :read, :value nil, :process 10, :time 49907490348, :index 10671}
{:type :ok, :f :read, :value 1, :process 15, :time 49908031253, :index 10672}
{:type :ok, :f :read, :value 1, :process 10, :time 49912509347, :index 10674}
{:type :invoke, :f :read, :value nil, :process 37, :time 49934825473, :index 10679}
{:type :ok, :f :read, :value 1, :process 37, :time 49939806478, :index 10681}
{:type :invoke, :f :read, :value nil, :process 39, :time 49970726687, :index 10684}
{:type :ok, :f :read, :value 1, :process 39, :time 49975646736, :index 10685}
{:type :invoke, :f :read, :value nil, :process 12, :time 49985967944, :index 10688}
{:type :ok, :f :read, :value 1, :process 12, :time 49991024919, :index 10689}
{:type :invoke, :f :write, :value 0, :process 37, :time 49997056726, :index 10690}
{:type :ok, :f :write, :value 0, :process 37, :time 50002251665, :index 10691}
{:type :invoke, :f :write, :value 3, :process 12, :time 50011291813, :index 10694}
{:type :ok, :f :write, :value 3, :process 12, :time 50017270341, :index 10698}
{:type :invoke, :f :write, :value 3, :process 54, :time 50036002453, :index 10702}
{:type :ok, :f :write, :value 3, :process 54, :time 50041728809, :index 10703}
{:type :invoke, :f :write, :value 3, :process 12, :time 50067689656, :index 10705}
{:type :invoke, :f :read, :value nil, :process 15, :time 50069338476, :index 10706}
{:type :ok, :f :read, :value 3, :process 15, :time 50074426683, :index 10708}
{:type :ok, :f :write, :value 3, :process 12, :time 50074678446, :index 10709}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 50078783155, :index 10710}
{:type :fail, :f :cas, :value [0 2], :process 10, :time 50083508761, :index 10711}
{:type :invoke, :f :read, :value nil, :process 12, :time 50087917902, :index 10712}
{:type :ok, :f :read, :value 3, :process 12, :time 50092963507, :index 10713}
{:type :invoke, :f :write, :value 1, :process 54, :time 50092991286, :index 10714}
{:type :ok, :f :write, :value 1, :process 54, :time 50098420195, :index 10715}
{:type :invoke, :f :read, :value nil, :process 39, :time 50107909626, :index 10717}
{:type :ok, :f :read, :value 1, :process 39, :time 50113266276, :index 10719}
{:type :invoke, :f :read, :value nil, :process 39, :time 50120514790, :index 10720}
{:type :ok, :f :read, :value 1, :process 39, :time 50125443127, :index 10721}
{:type :invoke, :f :read, :value nil, :process 54, :time 50148675113, :index 10722}
{:type :ok, :f :read, :value 1, :process 54, :time 50153943122, :index 10723}
{:type :invoke, :f :read, :value nil, :process 10, :time 50182762878, :index 10728}
{:type :ok, :f :read, :value 1, :process 10, :time 50187040936, :index 10731}
{:type :invoke, :f :cas, :value [1 0], :process 37, :time 50197514500, :index 10736}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 50202293665, :index 10737}
{:type :ok, :f :cas, :value [1 0], :process 37, :time 50202532449, :index 10738}
{:type :fail, :f :cas, :value [1 2], :process 10, :time 50207256799, :index 10739}
{:type :invoke, :f :read, :value nil, :process 12, :time 50224245368, :index 10740}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 50228697371, :index 10741}
{:type :ok, :f :read, :value 0, :process 12, :time 50229564452, :index 10742}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 50233786228, :index 10743}
{:type :invoke, :f :read, :value nil, :process 39, :time 50235707134, :index 10744}
{:type :ok, :f :read, :value 0, :process 39, :time 50240863841, :index 10745}
{:type :invoke, :f :write, :value 2, :process 10, :time 50248520738, :index 10746}
{:type :ok, :f :write, :value 2, :process 10, :time 50253440983, :index 10748}
{:type :invoke, :f :write, :value 3, :process 37, :time 50257785236, :index 10749}
{:type :ok, :f :write, :value 3, :process 37, :time 50263205187, :index 10751}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 50276684483, :index 10755}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 50281800984, :index 10757}
{:type :invoke, :f :write, :value 1, :process 54, :time 50313223256, :index 10760}
{:type :ok, :f :write, :value 1, :process 54, :time 50319087993, :index 10763}
{:type :invoke, :f :write, :value 4, :process 12, :time 50336823325, :index 10766}
{:type :ok, :f :write, :value 4, :process 12, :time 50342490790, :index 10767}
{:type :invoke, :f :cas, :value [1 3], :process 39, :time 50357132191, :index 10770}
{:type :fail, :f :cas, :value [1 3], :process 39, :time 50363494200, :index 10772}
{:type :invoke, :f :read, :value nil, :process 15, :time 50369045917, :index 10774}
{:type :ok, :f :read, :value 4, :process 15, :time 50375036050, :index 10775}
{:type :invoke, :f :cas, :value [1 0], :process 37, :time 50448461017, :index 10790}
{:type :fail, :f :cas, :value [1 0], :process 37, :time 50455027140, :index 10791}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
