{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :invoke, :f :read, :value nil, :process 10, :time 16667657807, :index 3628}
{:type :ok, :f :read, :value nil, :process 10, :time 16673344517, :index 3631}
{:type :invoke, :f :read, :value nil, :process 10, :time 16782590512, :index 3642}
{:type :ok, :f :read, :value nil, :process 10, :time 16787544184, :index 3643}
{:type :invoke, :f :cas, :value [3 4], :process 16, :time 16796716375, :index 3644}
{:type :invoke, :f :write, :value 3, :process 19, :time 16800809008, :index 3645}
{:type :fail, :f :cas, :value [3 4], :process 16, :time 16801800716, :error :not-found, :index 3646}
{:type :invoke, :f :write, :value 2, :process 31, :time 16805892999, :index 3648}
{:type :ok, :f :write, :value 3, :process 19, :time 16807723719, :index 3649}
{:type :invoke, :f :read, :value nil, :process 19, :time 16812015320, :index 3651}
{:type :ok, :f :write, :value 2, :process 31, :time 16812151471, :index 3652}
{:type :ok, :f :read, :value 2, :process 19, :time 16817656680, :index 3653}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 16821621838, :index 3655}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 16826437098, :index 3657}
{:type :invoke, :f :cas, :value [0 4], :process 14, :time 16835013558, :index 3660}
{:type :fail, :f :cas, :value [0 4], :process 14, :time 16840518225, :index 3662}
{:type :invoke, :f :write, :value 4, :process 15, :time 16859690960, :index 3666}
{:type :ok, :f :write, :value 4, :process 15, :time 16864452485, :index 3667}
{:type :invoke, :f :write, :value 3, :process 31, :time 16880409335, :index 3670}
{:type :invoke, :f :write, :value 1, :process 15, :time 16885722064, :index 3674}
{:type :ok, :f :write, :value 3, :process 31, :time 16886337857, :index 3675}
{:type :ok, :f :write, :value 1, :process 15, :time 16890539521, :index 3679}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 16898793564, :index 3680}
{:type :invoke, :f :read, :value nil, :process 15, :time 16900794830, :index 3681}
{:type :fail, :f :cas, :value [0 1], :process 10, :time 16903594779, :index 3683}
{:type :invoke, :f :cas, :value [0 0], :process 14, :time 16904774072, :index 3684}
{:type :ok, :f :read, :value 1, :process 15, :time 16905530060, :index 3685}
{:type :fail, :f :cas, :value [0 0], :process 14, :time 16910661448, :index 3688}
{:type :invoke, :f :cas, :value [1 2], :process 19, :time 16939939871, :index 3694}
{:type :ok, :f :cas, :value [1 2], :process 19, :time 16945352118, :index 3695}
{:type :invoke, :f :cas, :value [2 2], :process 19, :time 16951624742, :index 3696}
{:type :invoke, :f :cas, :value [0 0], :process 14, :time 16953917735, :index 3697}
{:type :ok, :f :cas, :value [2 2], :process 19, :time 16957253905, :index 3698}
{:type :fail, :f :cas, :value [0 0], :process 14, :time 16959481008, :index 3699}
{:type :invoke, :f :write, :value 1, :process 31, :time 16969663388, :index 3701}
{:type :ok, :f :write, :value 1, :process 31, :time 16975145991, :index 3703}
{:type :invoke, :f :write, :value 2, :process 16, :time 16981071907, :index 3706}
{:type :ok, :f :write, :value 2, :process 16, :time 16987090633, :index 3709}
{:type :invoke, :f :read, :value nil, :process 19, :time 16998521531, :index 3711}
{:type :ok, :f :read, :value 2, :process 19, :time 17004448884, :index 3713}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 17030856958, :index 3717}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 17037645060, :index 3719}
{:type :invoke, :f :write, :value 4, :process 14, :time 17055735187, :index 3722}
{:type :ok, :f :write, :value 4, :process 14, :time 17061547206, :index 3723}
{:type :invoke, :f :write, :value 4, :process 14, :time 17074803304, :index 3726}
{:type :invoke, :f :cas, :value [2 2], :process 10, :time 17074933508, :index 3727}
{:type :invoke, :f :read, :value nil, :process 15, :time 17075791429, :index 3728}
{:type :ok, :f :write, :value 4, :process 14, :time 17079975672, :index 3729}
{:type :fail, :f :cas, :value [2 2], :process 10, :time 17080587511, :index 3730}
{:type :ok, :f :read, :value 4, :process 15, :time 17080748687, :index 3731}
{:type :invoke, :f :read, :value nil, :process 31, :time 17108413579, :index 3733}
{:type :invoke, :f :write, :value 4, :process 16, :time 17109346197, :index 3734}
{:type :ok, :f :read, :value 4, :process 31, :time 17114871400, :index 3736}
{:type :ok, :f :write, :value 4, :process 16, :time 17118097182, :index 3739}
{:type :invoke, :f :read, :value nil, :process 19, :time 17118708772, :index 3740}
{:type :ok, :f :read, :value 4, :process 19, :time 17123809387, :index 3741}
{:type :invoke, :f :cas, :value [4 0], :process 19, :time 17126063903, :index 3742}
{:type :ok, :f :cas, :value [4 0], :process 19, :time 17133197242, :index 3744}
{:type :invoke, :f :cas, :value [4 3], :process 16, :time 17156364225, :index 3746}
{:type :fail, :f :cas, :value [4 3], :process 16, :time 17163298962, :index 3747}
{:type :invoke, :f :read, :value nil, :process 31, :time 17174135900, :index 3749}
{:type :ok, :f :read, :value 0, :process 31, :time 17178838335, :index 3752}
{:type :invoke, :f :write, :value 4, :process 14, :time 17216250824, :index 3756}
{:type :ok, :f :write, :value 4, :process 14, :time 17221835842, :index 3759}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 17262000384, :index 3764}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 17267209221, :index 3765}
{:type :invoke, :f :write, :value 4, :process 31, :time 17271089959, :index 3766}
{:type :invoke, :f :read, :value nil, :process 10, :time 17271842474, :index 3767}
{:type :ok, :f :write, :value 4, :process 31, :time 17276740437, :index 3768}
{:type :ok, :f :read, :value 4, :process 10, :time 17276876923, :index 3769}
{:type :invoke, :f :write, :value 0, :process 19, :time 17278465495, :index 3770}
{:type :ok, :f :write, :value 0, :process 19, :time 17283935613, :index 3772}
{:type :invoke, :f :read, :value nil, :process 16, :time 17297559237, :index 3776}
{:type :ok, :f :read, :value 0, :process 16, :time 17302379172, :index 3777}
{:type :invoke, :f :read, :value nil, :process 14, :time 17307089714, :index 3778}
{:type :ok, :f :read, :value 0, :process 14, :time 17314163532, :index 3781}
{:type :invoke, :f :read, :value nil, :process 19, :time 17336194812, :index 3784}
{:type :ok, :f :read, :value 0, :process 19, :time 17341309242, :index 3785}
{:type :invoke, :f :read, :value nil, :process 10, :time 17389108208, :index 3792}
{:type :ok, :f :read, :value 0, :process 10, :time 17393987517, :index 3793}
{:type :invoke, :f :read, :value nil, :process 31, :time 17401030250, :index 3795}
{:type :ok, :f :read, :value 0, :process 31, :time 17406817873, :index 3797}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 17407638395, :index 3798}
{:type :ok, :f :cas, :value [0 2], :process 16, :time 17414254425, :index 3799}
{:type :invoke, :f :cas, :value [1 1], :process 14, :time 17424720142, :index 3801}
{:type :fail, :f :cas, :value [1 1], :process 14, :time 17430968107, :index 3804}
{:type :invoke, :f :write, :value 3, :process 15, :time 17435473989, :index 3806}
{:type :ok, :f :write, :value 3, :process 15, :time 17439615925, :index 3807}
{:type :invoke, :f :write, :value 0, :process 10, :time 17453246261, :index 3812}
{:type :ok, :f :write, :value 0, :process 10, :time 17458008413, :index 3815}
{:type :invoke, :f :write, :value 4, :process 15, :time 17485869182, :index 3822}
{:type :ok, :f :write, :value 4, :process 15, :time 17489816644, :index 3824}
{:type :invoke, :f :cas, :value [3 0], :process 15, :time 17500073806, :index 3829}
{:type :invoke, :f :write, :value 0, :process 10, :time 17501265755, :index 3830}
{:type :ok, :f :write, :value 0, :process 10, :time 17505653726, :index 3832}
{:type :fail, :f :cas, :value [3 0], :process 15, :time 17505868748, :index 3833}
{:type :invoke, :f :read, :value nil, :process 19, :time 17506574573, :index 3834}
{:type :ok, :f :read, :value 0, :process 19, :time 17511287300, :index 3835}
{:type :invoke, :f :read, :value nil, :process 15, :time 17578117069, :index 3841}
{:type :ok, :f :read, :value 0, :process 15, :time 17582530636, :index 3843}
{:type :invoke, :f :cas, :value [3 2], :process 31, :time 17589067915, :index 3844}
{:type :fail, :f :cas, :value [3 2], :process 31, :time 17595578393, :index 3845}
{:type :invoke, :f :write, :value 1, :process 16, :time 17595532495, :index 3846}
{:type :ok, :f :write, :value 1, :process 16, :time 17600519623, :index 3847}
{:type :invoke, :f :cas, :value [2 4], :process 14, :time 17601279075, :index 3848}
{:type :invoke, :f :cas, :value [0 3], :process 31, :time 17631822741, :index 3852}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 17654780529, :index 3854}
{:type :invoke, :f :write, :value 3, :process 10, :time 17656916489, :index 3855}
{:type :invoke, :f :write, :value 1, :process 19, :time 17706547729, :index 3857}
{:type :invoke, :f :cas, :value [1 2], :process 15, :time 17780790648, :index 3859}
{:type :fail, :f :cas, :value [2 4], :process 14, :time 17898946420, :index 3860}
{:type :fail, :f :cas, :value [1 2], :process 15, :time 17900101237, :index 3862}
{:type :fail, :f :cas, :value [0 3], :process 31, :time 17901135384, :index 3864}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 17901703917, :index 3865}
{:type :ok, :f :write, :value 1, :process 19, :time 17901932246, :index 3867}
{:type :ok, :f :write, :value 3, :process 10, :time 17902216462, :index 3869}
{:type :invoke, :f :read, :value nil, :process 15, :time 17936346913, :index 3872}
{:type :invoke, :f :read, :value nil, :process 19, :time 17958230356, :index 3873}
{:type :invoke, :f :write, :value 0, :process 14, :time 17988252230, :index 3874}
{:type :invoke, :f :read, :value nil, :process 10, :time 18031545387, :index 3877}
{:type :invoke, :f :write, :value 3, :process 31, :time 18084398110, :index 3881}
{:type :invoke, :f :cas, :value [0 3], :process 16, :time 18094290816, :index 3883}
{:type :ok, :f :read, :value 1, :process 15, :time 18174741478, :index 3884}
{:type :ok, :f :read, :value 0, :process 10, :time 18176402799, :index 3887}
{:type :ok, :f :read, :value 1, :process 19, :time 18177654497, :index 3889}
{:type :ok, :f :write, :value 3, :process 31, :time 18178362512, :index 3891}
{:type :ok, :f :write, :value 0, :process 14, :time 18178927680, :index 3894}
{:type :fail, :f :cas, :value [0 3], :process 16, :time 18179405587, :index 3895}
{:type :invoke, :f :write, :value 2, :process 31, :time 18267624320, :index 3898}
{:type :ok, :f :write, :value 2, :process 31, :time 18272627732, :index 3899}
{:type :invoke, :f :write, :value 1, :process 14, :time 18286194035, :index 3900}
{:type :ok, :f :write, :value 1, :process 14, :time 18292046906, :index 3901}
{:type :invoke, :f :write, :value 4, :process 14, :time 18293327349, :index 3902}
{:type :ok, :f :write, :value 4, :process 14, :time 18298405528, :index 3903}
{:type :invoke, :f :write, :value 2, :process 15, :time 18310027300, :index 3905}
{:type :invoke, :f :write, :value 3, :process 14, :time 18313663538, :index 3906}
{:type :ok, :f :write, :value 2, :process 15, :time 18315298373, :index 3907}
{:type :ok, :f :write, :value 3, :process 14, :time 18318242626, :index 3909}
{:type :invoke, :f :write, :value 4, :process 16, :time 18330689469, :index 3912}
{:type :ok, :f :write, :value 4, :process 16, :time 18335723897, :index 3914}
{:type :invoke, :f :read, :value nil, :process 31, :time 18337886241, :index 3915}
{:type :ok, :f :read, :value 4, :process 31, :time 18343108280, :index 3918}
{:type :invoke, :f :read, :value nil, :process 10, :time 18366703974, :index 3919}
{:type :invoke, :f :cas, :value [3 1], :process 19, :time 18373888962, :index 3922}
{:type :invoke, :f :write, :value 0, :process 31, :time 18385367339, :index 3923}
{:type :invoke, :f :write, :value 4, :process 16, :time 18411967152, :index 3926}
{:type :invoke, :f :write, :value 0, :process 15, :time 18426559100, :index 3927}
{:type :ok, :f :read, :value 4, :process 10, :time 18427679307, :index 3929}
{:type :ok, :f :write, :value 4, :process 16, :time 18428529814, :index 3932}
{:type :ok, :f :write, :value 0, :process 31, :time 18428767869, :index 3933}
{:type :fail, :f :cas, :value [3 1], :process 19, :time 18431028230, :index 3936}
{:type :ok, :f :write, :value 0, :process 15, :time 18431924196, :index 3937}
{:type :invoke, :f :cas, :value [1 4], :process 31, :time 18438996320, :index 3939}
{:type :fail, :f :cas, :value [1 4], :process 31, :time 18444017335, :index 3941}
{:type :invoke, :f :cas, :value [1 3], :process 19, :time 18444223951, :index 3942}
{:type :fail, :f :cas, :value [1 3], :process 19, :time 18449584220, :index 3943}
{:type :invoke, :f :write, :value 1, :process 10, :time 18473914627, :index 3947}
{:type :invoke, :f :read, :value nil, :process 31, :time 18474285906, :index 3948}
{:type :ok, :f :write, :value 1, :process 10, :time 18479285334, :index 3950}
{:type :ok, :f :read, :value 1, :process 31, :time 18481089447, :index 3951}
{:type :invoke, :f :write, :value 3, :process 16, :time 18483763109, :index 3952}
{:type :ok, :f :write, :value 3, :process 16, :time 18489336556, :index 3953}
{:type :invoke, :f :write, :value 1, :process 14, :time 18490497245, :index 3954}
{:type :ok, :f :write, :value 1, :process 14, :time 18495896315, :index 3955}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 18502523316, :index 3956}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 18507908463, :index 3959}
{:type :invoke, :f :read, :value nil, :process 15, :time 18531147508, :index 3964}
{:type :invoke, :f :read, :value nil, :process 19, :time 18534840963, :index 3965}
{:type :ok, :f :read, :value 1, :process 15, :time 18535556496, :index 3966}
{:type :invoke, :f :read, :value nil, :process 31, :time 18538332078, :index 3967}
{:type :ok, :f :read, :value 1, :process 19, :time 18539861860, :index 3968}
{:type :ok, :f :read, :value 1, :process 31, :time 18543142047, :index 3969}
{:type :invoke, :f :read, :value nil, :process 31, :time 18544388037, :index 3970}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 18546815384, :index 3971}
{:type :ok, :f :read, :value 1, :process 31, :time 18550244042, :index 3972}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 18551130461, :index 3973}
{:type :invoke, :f :write, :value 1, :process 16, :time 18572588267, :index 3976}
{:type :ok, :f :write, :value 1, :process 16, :time 18578722793, :index 3979}
{:type :invoke, :f :write, :value 2, :process 14, :time 18585160075, :index 3982}
{:type :ok, :f :write, :value 2, :process 14, :time 18590786599, :index 3983}
{:type :invoke, :f :cas, :value [1 3], :process 19, :time 18636118283, :index 3990}
{:type :fail, :f :cas, :value [1 3], :process 19, :time 18642001527, :index 3991}
{:type :invoke, :f :write, :value 1, :process 10, :time 18644188864, :index 3992}
{:type :ok, :f :write, :value 1, :process 10, :time 18649368827, :index 3993}
{:type :invoke, :f :read, :value nil, :process 15, :time 18691383838, :index 3996}
{:type :invoke, :f :write, :value 2, :process 14, :time 18694050918, :index 3997}
{:type :ok, :f :read, :value 1, :process 15, :time 18696349843, :index 3998}
{:type :ok, :f :write, :value 2, :process 14, :time 18699042985, :index 3999}
{:type :invoke, :f :read, :value nil, :process 31, :time 18707499619, :index 4000}
{:type :ok, :f :read, :value 2, :process 31, :time 18713466853, :index 4001}
{:type :invoke, :f :cas, :value [4 2], :process 10, :time 18718638084, :index 4003}
{:type :fail, :f :cas, :value [4 2], :process 10, :time 18724832904, :index 4005}
{:type :invoke, :f :cas, :value [0 3], :process 16, :time 18731034535, :index 4006}
{:type :invoke, :f :cas, :value [2 2], :process 19, :time 18733267783, :index 4007}
{:type :fail, :f :cas, :value [0 3], :process 16, :time 18738644557, :index 4009}
{:type :ok, :f :cas, :value [2 2], :process 19, :time 18739412568, :index 4010}
{:type :invoke, :f :write, :value 3, :process 14, :time 18785301528, :index 4020}
{:type :ok, :f :write, :value 3, :process 14, :time 18790604955, :index 4023}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 18872608402, :index 4043}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 18878837766, :index 4047}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
