{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :invoke, :f :write, :value 2, :process 5, :time 6360506507, :index 1606}
{:type :ok, :f :write, :value 2, :process 5, :time 6366058286, :index 1607}
{:type :invoke, :f :read, :value nil, :process 0, :time 6433932058, :index 1612}
{:type :ok, :f :read, :value 2, :process 0, :time 6439761740, :index 1613}
{:type :invoke, :f :read, :value nil, :process 3, :time 6442074977, :index 1614}
{:type :ok, :f :read, :value 2, :process 3, :time 6446908095, :index 1615}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 6484022669, :index 1619}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 6489604312, :index 1621}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 6503876134, :index 1625}
{:type :invoke, :f :read, :value nil, :process 1, :time 6505621642, :index 1627}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 6509058872, :index 1629}
{:type :ok, :f :read, :value 2, :process 1, :time 6511298116, :index 1631}
{:type :invoke, :f :read, :value nil, :process 5, :time 6527318575, :index 1634}
{:type :ok, :f :read, :value 2, :process 5, :time 6533145437, :index 1635}
{:type :invoke, :f :write, :value 4, :process 3, :time 6546233696, :index 1638}
{:type :ok, :f :write, :value 4, :process 3, :time 6551086774, :index 1641}
{:type :invoke, :f :read, :value nil, :process 5, :time 6551412520, :index 1642}
{:type :invoke, :f :read, :value nil, :process 6, :time 6553908424, :index 1643}
{:type :ok, :f :read, :value 4, :process 5, :time 6557394159, :index 1644}
{:type :ok, :f :read, :value 4, :process 6, :time 6559126724, :index 1645}
{:type :invoke, :f :write, :value 1, :process 6, :time 6559259501, :index 1646}
{:type :ok, :f :write, :value 1, :process 6, :time 6564416077, :index 1647}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 6576795631, :index 1649}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 6581556439, :index 1651}
{:type :invoke, :f :write, :value 3, :process 1, :time 6597704181, :index 1652}
{:type :ok, :f :write, :value 3, :process 1, :time 6603182673, :index 1653}
{:type :invoke, :f :write, :value 2, :process 5, :time 6629647134, :index 1662}
{:type :ok, :f :write, :value 2, :process 5, :time 6635652179, :index 1663}
{:type :invoke, :f :read, :value nil, :process 0, :time 6675339106, :index 1666}
{:type :invoke, :f :read, :value nil, :process 5, :time 6683916998, :index 1667}
{:type :invoke, :f :write, :value 3, :process 3, :time 6747345045, :index 1670}
{:type :invoke, :f :write, :value 4, :process 8, :time 6752832492, :index 1671}
{:type :invoke, :f :write, :value 3, :process 6, :time 6760685454, :index 1673}
{:type :invoke, :f :read, :value nil, :process 1, :time 6797485357, :index 1675}
{:type :ok, :f :read, :value 2, :process 0, :time 6935980253, :index 1678}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 7027328377, :index 1679}
{:type :ok, :f :write, :value 4, :process 8, :time 7063137028, :index 1680}
{:type :ok, :f :write, :value 3, :process 3, :time 7063862231, :index 1683}
{:type :ok, :f :read, :value 2, :process 5, :time 7064745387, :index 1685}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 7065080177, :index 1686}
{:type :ok, :f :write, :value 3, :process 6, :time 7065449848, :index 1687}
{:type :ok, :f :read, :value 3, :process 1, :time 7065840087, :index 1689}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 7113745047, :index 1692}
{:type :fail, :f :cas, :value [0 1], :process 6, :time 7120228807, :index 1694}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 7143076801, :index 1696}
{:type :fail, :f :cas, :value [4 0], :process 1, :time 7148639978, :index 1698}
{:type :invoke, :f :read, :value nil, :process 5, :time 7172970126, :index 1702}
{:type :invoke, :f :read, :value nil, :process 0, :time 7177050302, :index 1703}
{:type :ok, :f :read, :value 3, :process 5, :time 7178957323, :index 1704}
{:type :ok, :f :read, :value 3, :process 0, :time 7182465561, :index 1705}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 7186230362, :index 1706}
{:type :ok, :f :cas, :value [3 0], :process 5, :time 7191921145, :index 1708}
{:type :invoke, :f :read, :value nil, :process 3, :time 7203106275, :index 1710}
{:type :ok, :f :read, :value 0, :process 3, :time 7208403952, :index 1711}
{:type :invoke, :f :write, :value 3, :process 8, :time 7211443093, :index 1712}
{:type :ok, :f :write, :value 3, :process 8, :time 7216181585, :index 1713}
{:type :invoke, :f :write, :value 4, :process 3, :time 7237699939, :index 1720}
{:type :ok, :f :write, :value 4, :process 3, :time 7243120199, :index 1722}
{:type :invoke, :f :write, :value 3, :process 1, :time 7260902848, :index 1724}
{:type :ok, :f :write, :value 3, :process 1, :time 7266034260, :index 1725}
{:type :invoke, :f :write, :value 0, :process 6, :time 7318507487, :index 1732}
{:type :ok, :f :write, :value 0, :process 6, :time 7323797565, :index 1733}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 7324189283, :index 1734}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 7329490180, :index 1735}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 7345745404, :index 1738}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 7351946800, :index 1739}
{:type :invoke, :f :write, :value 4, :process 1, :time 7352297425, :index 1740}
{:type :ok, :f :write, :value 4, :process 1, :time 7357107624, :index 1741}
{:type :invoke, :f :read, :value nil, :process 5, :time 7368746992, :index 1744}
{:type :ok, :f :read, :value 4, :process 5, :time 7375631492, :index 1745}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 7386510633, :index 1748}
{:type :fail, :f :cas, :value [3 1], :process 3, :time 7392512619, :index 1751}
{:type :invoke, :f :read, :value nil, :process 8, :time 7407446841, :index 1754}
{:type :ok, :f :read, :value 4, :process 8, :time 7412892263, :index 1755}
{:type :invoke, :f :write, :value 0, :process 5, :time 7421891792, :index 1756}
{:type :invoke, :f :read, :value nil, :process 3, :time 7422808124, :index 1757}
{:type :ok, :f :write, :value 0, :process 5, :time 7426897188, :index 1760}
{:type :ok, :f :read, :value 0, :process 3, :time 7428376594, :index 1761}
{:type :invoke, :f :write, :value 3, :process 6, :time 7435070971, :index 1764}
{:type :ok, :f :write, :value 3, :process 6, :time 7440831016, :index 1765}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 7448201574, :index 1766}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 7453802179, :index 1767}
{:type :invoke, :f :read, :value nil, :process 0, :time 7466066249, :index 1769}
{:type :ok, :f :read, :value 3, :process 0, :time 7471870562, :index 1771}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 7494097170, :index 1772}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 7500042315, :index 1773}
{:type :invoke, :f :read, :value nil, :process 5, :time 7527169778, :index 1775}
{:type :invoke, :f :cas, :value [1 0], :process 1, :time 7527475619, :index 1776}
{:type :fail, :f :cas, :value [1 0], :process 1, :time 7533216493, :index 1778}
{:type :ok, :f :read, :value 3, :process 5, :time 7533817134, :index 1779}
{:type :invoke, :f :read, :value nil, :process 5, :time 7554077978, :index 1785}
{:type :ok, :f :read, :value 3, :process 5, :time 7560191487, :index 1787}
{:type :invoke, :f :read, :value nil, :process 3, :time 7562702787, :index 1788}
{:type :ok, :f :read, :value 3, :process 3, :time 7567664252, :index 1789}
{:type :invoke, :f :read, :value nil, :process 8, :time 7586160504, :index 1790}
{:type :ok, :f :read, :value 3, :process 8, :time 7592469628, :index 1792}
{:type :invoke, :f :write, :value 0, :process 1, :time 7597492357, :index 1795}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 7601354196, :index 1797}
{:type :ok, :f :write, :value 0, :process 1, :time 7603000129, :index 1798}
{:type :fail, :f :cas, :value [1 3], :process 6, :time 7607400870, :index 1799}
{:type :invoke, :f :write, :value 2, :process 6, :time 7633692236, :index 1804}
{:type :ok, :f :write, :value 2, :process 6, :time 7639458720, :index 1805}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 7640471681, :index 1806}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 7647001204, :index 1809}
{:type :invoke, :f :read, :value nil, :process 0, :time 7650128588, :index 1810}
{:type :ok, :f :read, :value 2, :process 0, :time 7656017458, :index 1811}
{:type :invoke, :f :write, :value 0, :process 1, :time 7693291301, :index 1815}
{:type :ok, :f :write, :value 0, :process 1, :time 7698564627, :index 1817}
{:type :invoke, :f :write, :value 1, :process 8, :time 7722752117, :index 1822}
{:type :ok, :f :write, :value 1, :process 8, :time 7727345761, :index 1823}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 7741942089, :index 1824}
{:type :ok, :f :cas, :value [1 3], :process 3, :time 7748419108, :index 1826}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 7752687768, :index 1828}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 7758052941, :index 1829}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 7775887142, :index 1830}
{:type :fail, :f :cas, :value [1 2], :process 1, :time 7781649764, :index 1831}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 7795609270, :index 1836}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 7801597313, :index 1840}
{:type :invoke, :f :write, :value 4, :process 8, :time 7803900922, :index 1841}
{:type :invoke, :f :write, :value 2, :process 0, :time 7806286070, :index 1843}
{:type :ok, :f :write, :value 4, :process 8, :time 7808395942, :index 1844}
{:type :invoke, :f :cas, :value [2 1], :process 1, :time 7808911486, :index 1845}
{:type :ok, :f :write, :value 2, :process 0, :time 7811726872, :index 1846}
{:type :invoke, :f :write, :value 3, :process 3, :time 7812313759, :index 1847}
{:type :invoke, :f :read, :value nil, :process 5, :time 7813257730, :index 1848}
{:type :ok, :f :cas, :value [2 1], :process 1, :time 7814238244, :index 1849}
{:type :ok, :f :write, :value 3, :process 3, :time 7817224298, :index 1850}
{:type :ok, :f :read, :value 3, :process 5, :time 7818934455, :index 1851}
{:type :invoke, :f :write, :value 2, :process 6, :time 7838770131, :index 1852}
{:type :ok, :f :write, :value 2, :process 6, :time 7844027201, :index 1853}
{:type :invoke, :f :cas, :value [2 4], :process 5, :time 7890375446, :index 1862}
{:type :ok, :f :cas, :value [2 4], :process 5, :time 7899989213, :index 1866}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 7917998264, :index 1868}
{:type :ok, :f :cas, :value [4 0], :process 0, :time 7924727161, :index 1869}
{:type :invoke, :f :read, :value nil, :process 3, :time 7926481570, :index 1870}
{:type :ok, :f :read, :value 0, :process 3, :time 7931575585, :index 1871}
{:type :invoke, :f :cas, :value [3 4], :process 5, :time 7946234438, :index 1874}
{:type :fail, :f :cas, :value [3 4], :process 5, :time 7952838424, :index 1876}
{:type :invoke, :f :read, :value nil, :process 8, :time 7960656148, :index 1878}
{:type :ok, :f :read, :value 0, :process 8, :time 7965434907, :index 1879}
{:type :invoke, :f :write, :value 2, :process 1, :time 7974498680, :index 1880}
{:type :ok, :f :write, :value 2, :process 1, :time 7979511456, :index 1881}
{:type :invoke, :f :read, :value nil, :process 6, :time 8003317420, :index 1882}
{:type :invoke, :f :read, :value nil, :process 3, :time 8003860318, :index 1883}
{:type :invoke, :f :write, :value 3, :process 5, :time 8008136401, :index 1884}
{:type :ok, :f :read, :value 2, :process 3, :time 8010428744, :index 1885}
{:type :ok, :f :read, :value 2, :process 6, :time 8011284222, :index 1886}
{:type :ok, :f :write, :value 3, :process 5, :time 8013383890, :index 1888}
{:type :invoke, :f :write, :value 0, :process 0, :time 8018989375, :index 1890}
{:type :ok, :f :write, :value 0, :process 0, :time 8029359408, :index 1893}
{:type :invoke, :f :read, :value nil, :process 8, :time 8080713984, :index 1902}
{:type :ok, :f :read, :value 0, :process 8, :time 8085842830, :index 1903}
{:type :invoke, :f :read, :value nil, :process 3, :time 8106704406, :index 1906}
{:type :invoke, :f :read, :value nil, :process 1, :time 8110775534, :index 1907}
{:type :ok, :f :read, :value 0, :process 3, :time 8111669367, :index 1908}
{:type :invoke, :f :write, :value 0, :process 0, :time 8114626972, :index 1909}
{:type :ok, :f :read, :value 0, :process 1, :time 8115999365, :index 1910}
{:type :ok, :f :write, :value 0, :process 0, :time 8119379524, :index 1911}
{:type :invoke, :f :read, :value nil, :process 6, :time 8123522078, :index 1912}
{:type :ok, :f :read, :value 0, :process 6, :time 8129294011, :index 1913}
{:type :invoke, :f :read, :value nil, :process 5, :time 8130588070, :index 1914}
{:type :ok, :f :read, :value 0, :process 5, :time 8136493231, :index 1917}
{:type :invoke, :f :read, :value nil, :process 3, :time 8142920801, :index 1920}
{:type :ok, :f :read, :value 0, :process 3, :time 8147714638, :index 1922}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 8153552719, :index 1924}
{:type :invoke, :f :cas, :value [0 3], :process 1, :time 8155277838, :index 1925}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 8159118509, :index 1926}
{:type :ok, :f :cas, :value [0 3], :process 1, :time 8160262632, :index 1927}
{:type :invoke, :f :write, :value 2, :process 8, :time 8169127045, :index 1929}
{:type :ok, :f :write, :value 2, :process 8, :time 8174617321, :index 1932}
{:type :invoke, :f :write, :value 0, :process 5, :time 8177782797, :index 1933}
{:type :ok, :f :write, :value 0, :process 5, :time 8182932664, :index 1935}
{:type :invoke, :f :read, :value nil, :process 3, :time 8252969079, :index 1942}
{:type :ok, :f :read, :value 0, :process 3, :time 8258387247, :index 1943}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 8260378547, :index 1944}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 8266402205, :index 1946}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 8274584697, :index 1948}
{:type :fail, :f :cas, :value [1 4], :process 0, :time 8280259965, :index 1949}
{:type :invoke, :f :write, :value 0, :process 3, :time 8288640057, :index 1950}
{:type :ok, :f :write, :value 0, :process 3, :time 8295962144, :index 1952}
{:type :invoke, :f :write, :value 1, :process 3, :time 8296097241, :index 1953}
{:type :ok, :f :write, :value 1, :process 3, :time 8302516482, :index 1955}
{:type :invoke, :f :write, :value 4, :process 5, :time 8345190081, :index 1962}
{:type :invoke, :f :write, :value 2, :process 0, :time 8347516596, :index 1963}
{:type :invoke, :f :write, :value 2, :process 8, :time 8354851241, :index 1964}
{:type :invoke, :f :cas, :value [3 2], :process 1, :time 8356538052, :index 1965}
{:type :ok, :f :write, :value 4, :process 5, :time 8362159307, :index 1966}
{:type :invoke, :f :write, :value 2, :process 5, :time 8362306178, :index 1967}
{:type :ok, :f :write, :value 2, :process 8, :time 8362444805, :index 1968}
{:type :invoke, :f :write, :value 2, :process 3, :time 8362985285, :index 1969}
{:type :ok, :f :write, :value 2, :process 0, :time 8363512050, :index 1970}
{:type :fail, :f :cas, :value [3 2], :process 1, :time 8364480287, :index 1971}
{:type :ok, :f :write, :value 2, :process 5, :time 8367722404, :index 1972}
{:type :ok, :f :write, :value 2, :process 3, :time 8367844256, :index 1973}
{:type :invoke, :f :write, :value 2, :process 0, :time 8396792896, :index 1978}
{:type :ok, :f :write, :value 2, :process 0, :time 8402426055, :index 1980}
{:type :invoke, :f :read, :value nil, :process 6, :time 8429674928, :index 1983}
{:type :ok, :f :read, :value 2, :process 6, :time 8434790841, :index 1985}
{:type :invoke, :f :read, :value nil, :process 8, :time 8436711235, :index 1986}
{:type :ok, :f :read, :value 2, :process 8, :time 8441853081, :index 1987}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
