{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :invoke, :f :write, :value 1, :process 21, :time 42284196088, :index 14382}
{:type :fail, :f :write, :value 1, :process 21, :time 42286365432, :error :connect, :index 14384}
{:type :invoke, :f :write, :value 4, :process 7, :time 42300492658, :index 14388}
{:type :fail, :f :write, :value 4, :process 7, :time 42302087989, :error :connect, :index 14389}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 42338552102, :index 14400}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 42340386821, :error :connect, :index 14402}
{:type :invoke, :f :read, :value nil, :process 8, :time 42345674423, :index 14404}
{:type :fail, :f :read, :value nil, :process 8, :time 42347533037, :error :connect, :index 14406}
{:type :invoke, :f :write, :value 0, :process 0, :time 42350710072, :index 14408}
{:type :fail, :f :write, :value 0, :process 0, :time 42352721426, :error :connect, :index 14409}
{:type :invoke, :f :write, :value 4, :process 21, :time 42359625756, :index 14412}
{:type :fail, :f :write, :value 4, :process 21, :time 42361437290, :error :connect, :index 14414}
{:type :invoke, :f :read, :value nil, :process 21, :time 42366684041, :index 14418}
{:type :invoke, :f :write, :value 2, :process 4, :time 42367336743, :index 14419}
{:type :fail, :f :read, :value nil, :process 21, :time 42368515889, :error :connect, :index 14420}
{:type :fail, :f :write, :value 2, :process 4, :time 42369106304, :error :connect, :index 14421}
{:type :invoke, :f :read, :value nil, :process 8, :time 42395795742, :index 14427}
{:type :fail, :f :read, :value nil, :process 8, :time 42397861734, :error :connect, :index 14429}
{:type :invoke, :f :read, :value nil, :process 29, :time 42412815954, :index 14439}
{:type :fail, :f :read, :value nil, :process 29, :time 42414543852, :error :connect, :index 14441}
{:type :invoke, :f :cas, :value [3 0], :process 3, :time 42417461282, :index 14442}
{:type :fail, :f :cas, :value [3 0], :process 3, :time 42419559189, :error :connect, :index 14444}
{:type :invoke, :f :read, :value nil, :process 22, :time 42420823206, :index 14446}
{:type :fail, :f :read, :value nil, :process 22, :time 42422680974, :error :connect, :index 14447}
{:type :invoke, :f :cas, :value [0 2], :process 7, :time 42435359309, :index 14450}
{:type :fail, :f :cas, :value [0 2], :process 7, :time 42437426755, :error :connect, :index 14451}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 42442359410, :index 14452}
{:type :invoke, :f :write, :value 4, :process 6, :time 42442653498, :index 14453}
{:type :fail, :f :write, :value 4, :process 6, :time 42444445909, :error :connect, :index 14454}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 42444579571, :error :connect, :index 14455}
{:type :invoke, :f :read, :value nil, :process 4, :time 42463839474, :index 14460}
{:type :fail, :f :read, :value nil, :process 4, :time 42465426423, :error :connect, :index 14461}
{:type :invoke, :f :write, :value 2, :process 5, :time 42486852014, :index 14466}
{:type :invoke, :f :write, :value 1, :process 0, :time 42487984839, :index 14467}
{:type :fail, :f :write, :value 2, :process 5, :time 42488742757, :error :connect, :index 14468}
{:type :fail, :f :write, :value 1, :process 0, :time 42490027580, :error :connect, :index 14469}
{:type :invoke, :f :write, :value 3, :process 29, :time 42496812694, :index 14470}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 42497692630, :index 14471}
{:type :fail, :f :write, :value 3, :process 29, :time 42498867168, :error :connect, :index 14472}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 42499675564, :error :connect, :index 14473}
{:type :invoke, :f :read, :value nil, :process 0, :time 42504287878, :index 14476}
{:type :fail, :f :read, :value nil, :process 0, :time 42506454791, :error :connect, :index 14479}
{:type :invoke, :f :read, :value nil, :process 21, :time 42530800539, :index 14489}
{:type :fail, :f :read, :value nil, :process 21, :time 42532795541, :error :connect, :index 14492}
{:type :invoke, :f :read, :value nil, :process 29, :time 42537148115, :index 14499}
{:type :fail, :f :read, :value nil, :process 29, :time 42539063276, :error :connect, :index 14501}
{:type :invoke, :f :read, :value nil, :process 0, :time 42539715393, :index 14502}
{:type :fail, :f :read, :value nil, :process 0, :time 42541693298, :error :connect, :index 14503}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 42568834559, :index 14504}
{:type :invoke, :f :read, :value nil, :process 0, :time 42569960781, :index 14505}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 42570649679, :error :connect, :index 14506}
{:type :fail, :f :read, :value nil, :process 0, :time 42571868035, :error :connect, :index 14507}
{:type :invoke, :f :read, :value nil, :process 3, :time 42577956370, :index 14508}
{:type :invoke, :f :write, :value 4, :process 8, :time 42579124050, :index 14509}
{:type :fail, :f :read, :value nil, :process 3, :time 42580085252, :error :connect, :index 14510}
{:type :fail, :f :write, :value 4, :process 8, :time 42580949081, :error :connect, :index 14511}
{:type :invoke, :f :read, :value nil, :process 4, :time 42580948992, :index 14512}
{:type :fail, :f :read, :value nil, :process 4, :time 42582565594, :error :connect, :index 14513}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 42588885556, :index 14514}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 42590474448, :error :connect, :index 14515}
{:type :invoke, :f :write, :value 1, :process 7, :time 42595705939, :index 14516}
{:type :fail, :f :write, :value 1, :process 7, :time 42597327741, :error :connect, :index 14517}
{:type :invoke, :f :read, :value nil, :process 22, :time 42599006435, :index 14518}
{:type :fail, :f :read, :value nil, :process 22, :time 42600593265, :error :connect, :index 14519}
{:type :invoke, :f :cas, :value [3 2], :process 7, :time 42623590925, :index 14520}
{:type :fail, :f :cas, :value [3 2], :process 7, :time 42625494009, :error :connect, :index 14521}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 42630727949, :index 14524}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 42632760316, :error :connect, :index 14525}
{:type :invoke, :f :write, :value 1, :process 8, :time 42648238164, :index 14530}
{:type :fail, :f :write, :value 1, :process 8, :time 42650103729, :error :connect, :index 14531}
{:type :invoke, :f :write, :value 4, :process 5, :time 42664002907, :index 14536}
{:type :fail, :f :write, :value 4, :process 5, :time 42666091595, :error :connect, :index 14538}
{:type :invoke, :f :write, :value 4, :process 29, :time 42671301849, :index 14542}
{:type :fail, :f :write, :value 4, :process 29, :time 42673097134, :error :connect, :index 14543}
{:type :invoke, :f :write, :value 3, :process 21, :time 42679064944, :index 14544}
{:type :invoke, :f :read, :value nil, :process 3, :time 42679359526, :index 14545}
{:type :fail, :f :write, :value 3, :process 21, :time 42680913914, :error :connect, :index 14546}
{:type :fail, :f :read, :value nil, :process 3, :time 42681535240, :error :connect, :index 14547}
{:type :invoke, :f :write, :value 4, :process 4, :time 42688762066, :index 14548}
{:type :invoke, :f :read, :value nil, :process 0, :time 42690134656, :index 14549}
{:type :fail, :f :write, :value 4, :process 4, :time 42691078645, :error :connect, :index 14551}
{:type :fail, :f :read, :value nil, :process 0, :time 42692482825, :error :connect, :index 14552}
{:type :invoke, :f :read, :value nil, :process 6, :time 42693029004, :index 14554}
{:type :fail, :f :read, :value nil, :process 6, :time 42695082900, :error :connect, :index 14555}
{:type :invoke, :f :write, :value 3, :process 8, :time 42699365634, :index 14556}
{:type :fail, :f :write, :value 3, :process 8, :time 42701036378, :error :connect, :index 14557}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 42705852626, :index 14558}
{:type :fail, :f :cas, :value [0 4], :process 22, :time 42707495202, :error :connect, :index 14559}
{:type :invoke, :f :read, :value nil, :process 6, :time 42710366034, :index 14560}
{:type :fail, :f :read, :value nil, :process 6, :time 42712289518, :error :connect, :index 14561}
{:type :invoke, :f :write, :value 2, :process 29, :time 42718365763, :index 14566}
{:type :fail, :f :write, :value 2, :process 29, :time 42720388021, :error :connect, :index 14567}
{:type :invoke, :f :read, :value nil, :process 7, :time 42752774717, :index 14574}
{:type :fail, :f :read, :value nil, :process 7, :time 42754917024, :error :connect, :index 14575}
{:type :invoke, :f :write, :value 4, :process 22, :time 42757769589, :index 14576}
{:type :fail, :f :write, :value 4, :process 22, :time 42759578025, :error :connect, :index 14578}
{:type :invoke, :f :read, :value nil, :process 0, :time 42778764787, :index 14582}
{:type :fail, :f :read, :value nil, :process 0, :time 42780787198, :error :connect, :index 14583}
{:type :invoke, :f :read, :value nil, :process 29, :time 42785679216, :index 14585}
{:type :fail, :f :read, :value nil, :process 29, :time 42787801336, :error :connect, :index 14587}
{:type :invoke, :f :write, :value 3, :process 4, :time 42790349870, :index 14590}
{:type :fail, :f :write, :value 3, :process 4, :time 42791973406, :error :connect, :index 14591}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 42797559208, :index 14592}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 42799306986, :error :connect, :index 14593}
{:type :invoke, :f :read, :value nil, :process 3, :time 42809796047, :index 14594}
{:type :fail, :f :read, :value nil, :process 3, :time 42812378271, :error :connect, :index 14595}
{:type :invoke, :f :write, :value 1, :process 21, :time 42815180332, :index 14596}
{:type :fail, :f :write, :value 1, :process 21, :time 42816792766, :error :connect, :index 14597}
{:type :invoke, :f :write, :value 0, :process 8, :time 42823309984, :index 14603}
{:type :fail, :f :write, :value 0, :process 8, :time 42825015803, :error :connect, :index 14605}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 42842255203, :index 14608}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 42844089612, :error :connect, :index 14609}
{:type :invoke, :f :write, :value 1, :process 22, :time 42849842138, :index 14612}
{:type :fail, :f :write, :value 1, :process 22, :time 42851669285, :error :connect, :index 14613}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 42851367667, :index 14614}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 42852209416, :index 14615}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 42853834128, :error :connect, :index 14616}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 42854218472, :error :connect, :index 14617}
{:type :invoke, :f :cas, :value [0 3], :process 5, :time 42854359007, :index 14618}
{:type :fail, :f :cas, :value [0 3], :process 5, :time 42856404482, :error :connect, :index 14619}
{:type :invoke, :f :read, :value nil, :process 21, :time 42865071677, :index 14622}
{:type :fail, :f :read, :value nil, :process 21, :time 42866967335, :error :connect, :index 14623}
{:type :invoke, :f :read, :value nil, :process 8, :time 42869268206, :index 14624}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 42870051858, :index 14625}
{:type :fail, :f :read, :value nil, :process 8, :time 42871112692, :error :connect, :index 14626}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 42872054412, :error :connect, :index 14627}
{:type :invoke, :f :write, :value 0, :process 5, :time 42876668633, :index 14628}
{:type :fail, :f :write, :value 0, :process 5, :time 42878201896, :error :connect, :index 14629}
{:type :invoke, :f :cas, :value [1 1], :process 29, :time 42886110597, :index 14633}
{:type :fail, :f :cas, :value [1 1], :process 29, :time 42887867241, :error :connect, :index 14635}
{:type :invoke, :f :read, :value nil, :process 3, :time 42911638709, :index 14638}
{:type :fail, :f :read, :value nil, :process 3, :time 42913336286, :error :connect, :index 14639}
{:type :invoke, :f :write, :value 4, :process 22, :time 42925925227, :index 14640}
{:type :fail, :f :write, :value 4, :process 22, :time 42927874886, :error :connect, :index 14641}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 42932528398, :index 14643}
{:type :fail, :f :cas, :value [1 0], :process 6, :time 42934667485, :error :connect, :index 14645}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 42949965337, :index 14650}
{:type :fail, :f :cas, :value [2 2], :process 6, :time 42952023503, :error :connect, :index 14652}
{:type :invoke, :f :read, :value nil, :process 22, :time 42957139602, :index 14654}
{:type :fail, :f :read, :value nil, :process 22, :time 42959268528, :error :connect, :index 14655}
{:type :invoke, :f :write, :value 4, :process 7, :time 42971483827, :index 14664}
{:type :fail, :f :write, :value 4, :process 7, :time 42973275596, :error :connect, :index 14666}
{:type :invoke, :f :write, :value 2, :process 8, :time 42976394013, :index 14669}
{:type :fail, :f :write, :value 2, :process 8, :time 42978371876, :error :connect, :index 14671}
{:type :invoke, :f :write, :value 4, :process 3, :time 42982596526, :index 14672}
{:type :fail, :f :write, :value 4, :process 3, :time 42984698481, :error :connect, :index 14673}
{:type :invoke, :f :write, :value 4, :process 21, :time 42993226695, :index 14674}
{:type :fail, :f :write, :value 4, :process 21, :time 42995155984, :error :connect, :index 14675}
{:type :invoke, :f :read, :value nil, :process 4, :time 43003100391, :index 14676}
{:type :fail, :f :read, :value nil, :process 4, :time 43004957850, :error :connect, :index 14677}
{:type :invoke, :f :cas, :value [0 0], :process 29, :time 43005137990, :index 14678}
{:type :fail, :f :cas, :value [0 0], :process 29, :time 43007051777, :error :connect, :index 14679}
{:type :invoke, :f :write, :value 2, :process 8, :time 43009613542, :index 14681}
{:type :fail, :f :write, :value 2, :process 8, :time 43011748657, :error :connect, :index 14683}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 43019476381, :index 14684}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 43021664138, :error :connect, :index 14687}
{:type :invoke, :f :read, :value nil, :process 0, :time 43038319434, :index 14692}
{:type :fail, :f :read, :value nil, :process 0, :time 43040053827, :error :connect, :index 14693}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 43041964644, :index 14695}
{:type :fail, :f :cas, :value [1 2], :process 3, :time 43043723423, :error :connect, :index 14697}
{:type :invoke, :f :cas, :value [4 4], :process 5, :time 43044861871, :index 14698}
{:type :fail, :f :cas, :value [4 4], :process 5, :time 43046925760, :error :connect, :index 14699}
{:type :invoke, :f :read, :value nil, :process 6, :time 43048293687, :index 14700}
{:type :fail, :f :read, :value nil, :process 6, :time 43050138766, :error :connect, :index 14701}
{:type :invoke, :f :read, :value nil, :process 6, :time 43058398994, :index 14702}
{:type :invoke, :f :cas, :value [3 2], :process 29, :time 43059326783, :index 14703}
{:type :fail, :f :read, :value nil, :process 6, :time 43060208019, :error :connect, :index 14704}
{:type :fail, :f :cas, :value [3 2], :process 29, :time 43061188611, :error :connect, :index 14705}
{:type :invoke, :f :write, :value 1, :process 7, :time 43061526659, :index 14706}
{:type :fail, :f :write, :value 1, :process 7, :time 43063436381, :error :connect, :index 14707}
{:type :invoke, :f :cas, :value [1 2], :process 22, :time 43094545134, :index 14712}
{:type :fail, :f :cas, :value [1 2], :process 22, :time 43096233552, :error :connect, :index 14713}
{:type :invoke, :f :cas, :value [4 4], :process 21, :time 43115418446, :index 14722}
{:type :fail, :f :cas, :value [4 4], :process 21, :time 43117321473, :error :connect, :index 14723}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 43135991057, :index 14726}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 43137948093, :error :connect, :index 14728}
{:type :invoke, :f :read, :value nil, :process 3, :time 43145210131, :index 14730}
{:type :fail, :f :read, :value nil, :process 3, :time 43147065734, :error :connect, :index 14731}
{:type :invoke, :f :read, :value nil, :process 7, :time 43151709964, :index 14732}
{:type :invoke, :f :read, :value nil, :process 4, :time 43152238419, :index 14733}
{:type :fail, :f :read, :value nil, :process 7, :time 43153387044, :error :connect, :index 14734}
{:type :fail, :f :read, :value nil, :process 4, :time 43154047398, :error :connect, :index 14735}
{:type :invoke, :f :write, :value 4, :process 0, :time 43163326021, :index 14736}
{:type :fail, :f :write, :value 4, :process 0, :time 43165371323, :error :connect, :index 14739}
{:type :invoke, :f :read, :value nil, :process 8, :time 43180012882, :index 14744}
{:type :fail, :f :read, :value nil, :process 8, :time 43181690311, :error :connect, :index 14745}
{:type :invoke, :f :write, :value 3, :process 6, :time 43191471265, :index 14746}
{:type :fail, :f :write, :value 3, :process 6, :time 43193426050, :error :connect, :index 14747}
{:type :invoke, :f :write, :value 3, :process 29, :time 43194451544, :index 14748}
{:type :fail, :f :write, :value 3, :process 29, :time 43196682002, :error :connect, :index 14750}
{:type :invoke, :f :write, :value 0, :process 3, :time 43199330632, :index 14752}
{:type :fail, :f :write, :value 0, :process 3, :time 43201257830, :error :connect, :index 14753}
{:type :invoke, :f :write, :value 0, :process 5, :time 43201204829, :index 14754}
{:type :fail, :f :write, :value 0, :process 5, :time 43203222521, :error :connect, :index 14755}
{:type :invoke, :f :read, :value nil, :process 22, :time 43206507408, :index 14756}
{:type :fail, :f :read, :value nil, :process 22, :time 43208225867, :error :connect, :index 14757}
{:type :invoke, :f :read, :value nil, :process 7, :time 43254652051, :index 14774}
{:type :fail, :f :read, :value nil, :process 7, :time 43256685101, :error :connect, :index 14775}
{:type :invoke, :f :write, :value 4, :process 21, :time 43287584256, :index 14786}
{:type :fail, :f :write, :value 4, :process 21, :time 43289422931, :error :connect, :index 14787}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
