{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :invoke, :f :cas, :value [3 2], :process 29, :time 20751495373, :index 5922}
{:type :fail, :f :cas, :value [3 2], :process 29, :time 20753634875, :error :connect, :index 5925}
{:type :invoke, :f :read, :value nil, :process 0, :time 20755293582, :index 5927}
{:type :fail, :f :read, :value nil, :process 0, :time 20757105972, :error :connect, :index 5928}
{:type :invoke, :f :read, :value nil, :process 7, :time 20781371336, :index 5940}
{:type :fail, :f :read, :value nil, :process 7, :time 20783066282, :error :connect, :index 5941}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :invoke, :f :read, :value nil, :process 5, :time 20856134214, :index 5960}
{:type :fail, :f :read, :value nil, :process 5, :time 20858199490, :error :connect, :index 5961}
{:type :invoke, :f :read, :value nil, :process 22, :time 20874863251, :index 5967}
{:type :fail, :f :read, :value nil, :process 22, :time 20876535699, :error :connect, :index 5969}
{:type :invoke, :f :cas, :value [1 0], :process 7, :time 20878270529, :index 5970}
{:type :fail, :f :cas, :value [1 0], :process 7, :time 20880193518, :error :connect, :index 5971}
{:type :invoke, :f :cas, :value [4 1], :process 29, :time 20883916089, :index 5972}
{:type :fail, :f :cas, :value [4 1], :process 29, :time 20885604400, :error :connect, :index 5973}
{:type :invoke, :f :read, :value nil, :process 6, :time 20897063004, :index 5978}
{:type :fail, :f :read, :value nil, :process 6, :time 20898964198, :error :connect, :index 5979}
{:type :invoke, :f :read, :value nil, :process 29, :time 20911880908, :index 5984}
{:type :invoke, :f :write, :value 3, :process 4, :time 20913878420, :index 5985}
{:type :fail, :f :read, :value nil, :process 29, :time 20914031525, :error :connect, :index 5986}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 20915399556, :index 5987}
{:type :fail, :f :write, :value 3, :process 4, :time 20915821357, :error :connect, :index 5988}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 20917687894, :error :connect, :index 5989}
{:type :invoke, :f :read, :value nil, :process 21, :time 20923969897, :index 5992}
{:type :fail, :f :read, :value nil, :process 21, :time 20925835470, :error :connect, :index 5993}
{:type :invoke, :f :cas, :value [2 2], :process 8, :time 20941932967, :index 5994}
{:type :fail, :f :cas, :value [2 2], :process 8, :time 20943723263, :error :connect, :index 5995}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 20990093358, :index 6002}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 20992312177, :error :connect, :index 6003}
{:type :invoke, :f :read, :value nil, :process 29, :time 20998282201, :index 6004}
{:type :fail, :f :read, :value nil, :process 29, :time 21000352151, :error :connect, :index 6006}
{:type :invoke, :f :read, :value nil, :process 7, :time 21002466677, :index 6008}
{:type :fail, :f :read, :value nil, :process 7, :time 21004215225, :error :connect, :index 6009}
{:type :invoke, :f :write, :value 1, :process 7, :time 21017482565, :index 6014}
{:type :fail, :f :write, :value 1, :process 7, :time 21019298528, :error :connect, :index 6015}
{:type :invoke, :f :cas, :value [0 2], :process 29, :time 21020618073, :index 6016}
{:type :fail, :f :cas, :value [0 2], :process 29, :time 21022636304, :error :connect, :index 6017}
{:type :invoke, :f :cas, :value [1 4], :process 5, :time 21025460335, :index 6018}
{:type :fail, :f :cas, :value [1 4], :process 5, :time 21027385671, :error :connect, :index 6019}
{:type :invoke, :f :read, :value nil, :process 22, :time 21031791242, :index 6022}
{:type :fail, :f :read, :value nil, :process 22, :time 21033628445, :error :connect, :index 6023}
{:type :invoke, :f :read, :value nil, :process 6, :time 21036232363, :index 6024}
{:type :fail, :f :read, :value nil, :process 6, :time 21038029920, :error :connect, :index 6026}
{:type :invoke, :f :write, :value 2, :process 4, :time 21041090015, :index 6028}
{:type :fail, :f :write, :value 2, :process 4, :time 21042902394, :error :connect, :index 6029}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 21057101014, :index 6036}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 21059204696, :error :connect, :index 6037}
{:type :invoke, :f :read, :value nil, :process 29, :time 21060924402, :index 6038}
{:type :fail, :f :read, :value nil, :process 29, :time 21062977157, :error :connect, :index 6039}
{:type :invoke, :f :write, :value 0, :process 5, :time 21070663983, :index 6040}
{:type :fail, :f :write, :value 0, :process 5, :time 21072764822, :error :connect, :index 6041}
{:type :invoke, :f :read, :value nil, :process 3, :time 21078605944, :index 6042}
{:type :fail, :f :read, :value nil, :process 3, :time 21080542299, :error :connect, :index 6043}
{:type :invoke, :f :write, :value 3, :process 29, :time 21085247831, :index 6045}
{:type :fail, :f :write, :value 3, :process 29, :time 21086852162, :error :connect, :index 6047}
{:type :invoke, :f :read, :value nil, :process 0, :time 21096963015, :index 6048}
{:type :fail, :f :read, :value nil, :process 0, :time 21098886437, :error :connect, :index 6049}
{:type :invoke, :f :read, :value nil, :process 8, :time 21109994441, :index 6052}
{:type :fail, :f :read, :value nil, :process 8, :time 21112090686, :error :connect, :index 6053}
{:type :invoke, :f :read, :value nil, :process 0, :time 21113151312, :index 6054}
{:type :fail, :f :read, :value nil, :process 0, :time 21114796374, :error :connect, :index 6055}
{:type :invoke, :f :read, :value nil, :process 8, :time 21117360175, :index 6057}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 21119027577, :index 6059}
{:type :fail, :f :read, :value nil, :process 8, :time 21119616929, :error :connect, :index 6060}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 21121256531, :error :connect, :index 6061}
{:type :invoke, :f :read, :value nil, :process 6, :time 21149293360, :index 6072}
{:type :fail, :f :read, :value nil, :process 6, :time 21151106214, :error :connect, :index 6073}
{:type :invoke, :f :read, :value nil, :process 21, :time 21158475652, :index 6074}
{:type :invoke, :f :cas, :value [3 2], :process 7, :time 21159568262, :index 6075}
{:type :fail, :f :read, :value nil, :process 21, :time 21160343343, :error :connect, :index 6076}
{:type :fail, :f :cas, :value [3 2], :process 7, :time 21161446646, :error :connect, :index 6077}
{:type :invoke, :f :write, :value 3, :process 3, :time 21168817990, :index 6078}
{:type :fail, :f :write, :value 3, :process 3, :time 21171035966, :error :connect, :index 6079}
{:type :invoke, :f :read, :value nil, :process 6, :time 21171370027, :index 6080}
{:type :fail, :f :read, :value nil, :process 6, :time 21173284866, :error :connect, :index 6081}
{:type :invoke, :f :cas, :value [3 1], :process 5, :time 21179687404, :index 6085}
{:type :fail, :f :cas, :value [3 1], :process 5, :time 21181640816, :error :connect, :index 6087}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 21186300682, :index 6089}
{:type :fail, :f :cas, :value [3 1], :process 3, :time 21188055226, :error :connect, :index 6092}
{:type :invoke, :f :read, :value nil, :process 21, :time 21208601426, :index 6098}
{:type :fail, :f :read, :value nil, :process 21, :time 21210505170, :error :connect, :index 6099}
{:type :invoke, :f :cas, :value [4 4], :process 22, :time 21214890817, :index 6100}
{:type :fail, :f :cas, :value [4 4], :process 22, :time 21216792589, :error :connect, :index 6101}
{:type :invoke, :f :write, :value 0, :process 3, :time 21226659879, :index 6103}
{:type :fail, :f :write, :value 0, :process 3, :time 21231105659, :error :connect, :index 6110}
{:type :invoke, :f :write, :value 3, :process 4, :time 21240169519, :index 6112}
{:type :fail, :f :write, :value 3, :process 4, :time 21242110042, :error :connect, :index 6114}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 21275549482, :index 6126}
{:type :fail, :f :cas, :value [1 0], :process 6, :time 21277384526, :error :connect, :index 6127}
{:type :invoke, :f :read, :value nil, :process 29, :time 21281106433, :index 6128}
{:type :fail, :f :read, :value nil, :process 29, :time 21282650884, :error :connect, :index 6129}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 21283893136, :index 6130}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 21285763090, :error :connect, :index 6131}
{:type :invoke, :f :write, :value 2, :process 0, :time 21298057684, :index 6134}
{:type :fail, :f :write, :value 2, :process 0, :time 21299841623, :error :connect, :index 6135}
{:type :invoke, :f :write, :value 2, :process 7, :time 21320717298, :index 6140}
{:type :fail, :f :write, :value 2, :process 7, :time 21322487539, :error :connect, :index 6141}
{:type :invoke, :f :read, :value nil, :process 21, :time 21323765558, :index 6142}
{:type :invoke, :f :read, :value nil, :process 22, :time 21325061194, :index 6143}
{:type :fail, :f :read, :value nil, :process 21, :time 21325692067, :error :connect, :index 6144}
{:type :fail, :f :read, :value nil, :process 22, :time 21326903893, :error :connect, :index 6146}
{:type :invoke, :f :read, :value nil, :process 5, :time 21331969353, :index 6150}
{:type :fail, :f :read, :value nil, :process 5, :time 21333944042, :error :connect, :index 6151}
{:type :invoke, :f :read, :value nil, :process 22, :time 21347159264, :index 6154}
{:type :fail, :f :read, :value nil, :process 22, :time 21348978723, :error :connect, :index 6155}
{:type :invoke, :f :write, :value 2, :process 21, :time 21361949489, :index 6158}
{:type :fail, :f :write, :value 2, :process 21, :time 21363650334, :error :connect, :index 6159}
{:type :invoke, :f :cas, :value [0 2], :process 7, :time 21366732209, :index 6160}
{:type :fail, :f :cas, :value [0 2], :process 7, :time 21368388021, :error :connect, :index 6161}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 21385652272, :index 6162}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 21387517934, :error :connect, :index 6164}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 21388395713, :index 6165}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 21390069165, :error :connect, :index 6167}
{:type :invoke, :f :write, :value 0, :process 0, :time 21392103356, :index 6168}
{:type :fail, :f :write, :value 0, :process 0, :time 21394070935, :error :connect, :index 6169}
{:type :invoke, :f :write, :value 3, :process 4, :time 21400375645, :index 6171}
{:type :fail, :f :write, :value 3, :process 4, :time 21401971976, :error :connect, :index 6173}
{:type :invoke, :f :write, :value 2, :process 7, :time 21415685695, :index 6176}
{:type :fail, :f :write, :value 2, :process 7, :time 21417321174, :error :connect, :index 6177}
{:type :invoke, :f :cas, :value [4 2], :process 22, :time 21446250605, :index 6184}
{:type :fail, :f :cas, :value [4 2], :process 22, :time 21448316534, :error :connect, :index 6185}
{:type :invoke, :f :write, :value 3, :process 29, :time 21455941258, :index 6188}
{:type :fail, :f :write, :value 3, :process 29, :time 21457526208, :error :connect, :index 6189}
{:type :invoke, :f :write, :value 1, :process 5, :time 21480203232, :index 6198}
{:type :invoke, :f :write, :value 3, :process 7, :time 21480595278, :index 6199}
{:type :invoke, :f :read, :value nil, :process 29, :time 21480858209, :index 6200}
{:type :fail, :f :write, :value 1, :process 5, :time 21482391511, :error :connect, :index 6201}
{:type :fail, :f :write, :value 3, :process 7, :time 21482635074, :error :connect, :index 6203}
{:type :invoke, :f :cas, :value [1 0], :process 7, :time 21482768859, :index 6204}
{:type :fail, :f :read, :value nil, :process 29, :time 21483500542, :error :connect, :index 6205}
{:type :invoke, :f :read, :value nil, :process 8, :time 21484043646, :index 6207}
{:type :fail, :f :cas, :value [1 0], :process 7, :time 21484908433, :error :connect, :index 6209}
{:type :fail, :f :read, :value nil, :process 8, :time 21486051267, :error :connect, :index 6211}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 21507321869, :index 6214}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 21508937361, :error :connect, :index 6215}
{:type :invoke, :f :read, :value nil, :process 6, :time 21519813351, :index 6218}
{:type :fail, :f :read, :value nil, :process 6, :time 21521689536, :error :connect, :index 6219}
{:type :invoke, :f :read, :value nil, :process 21, :time 21521962667, :index 6220}
{:type :fail, :f :read, :value nil, :process 21, :time 21523727835, :error :connect, :index 6221}
{:type :invoke, :f :write, :value 2, :process 5, :time 21535664860, :index 6224}
{:type :fail, :f :write, :value 2, :process 5, :time 21537280885, :error :connect, :index 6225}
{:type :invoke, :f :read, :value nil, :process 4, :time 21565212176, :index 6233}
{:type :fail, :f :read, :value nil, :process 4, :time 21567169514, :error :connect, :index 6235}
{:type :invoke, :f :write, :value 1, :process 8, :time 21574300364, :index 6236}
{:type :invoke, :f :read, :value nil, :process 4, :time 21574473311, :index 6237}
{:type :fail, :f :write, :value 1, :process 8, :time 21576278174, :error :connect, :index 6238}
{:type :fail, :f :read, :value nil, :process 4, :time 21576577391, :error :connect, :index 6239}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 21577545164, :index 6241}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 21579608401, :error :connect, :index 6244}
{:type :invoke, :f :read, :value nil, :process 0, :time 21585346185, :index 6247}
{:type :fail, :f :read, :value nil, :process 0, :time 21588600155, :error :connect, :index 6250}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 21593865001, :index 6254}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 21595606138, :error :connect, :index 6255}
{:type :invoke, :f :cas, :value [3 2], :process 29, :time 21611691626, :index 6258}
{:type :fail, :f :cas, :value [3 2], :process 29, :time 21613720762, :error :connect, :index 6260}
{:type :invoke, :f :read, :value nil, :process 3, :time 21614208071, :index 6262}
{:type :fail, :f :read, :value nil, :process 3, :time 21615817610, :error :connect, :index 6263}
{:type :invoke, :f :read, :value nil, :process 7, :time 21629166113, :index 6270}
{:type :fail, :f :read, :value nil, :process 7, :time 21630954132, :error :connect, :index 6271}
{:type :invoke, :f :read, :value nil, :process 22, :time 21639591781, :index 6274}
{:type :fail, :f :read, :value nil, :process 22, :time 21641681671, :error :connect, :index 6275}
{:type :invoke, :f :write, :value 2, :process 22, :time 21648933208, :index 6276}
{:type :fail, :f :write, :value 2, :process 22, :time 21650737332, :error :connect, :index 6277}
{:type :invoke, :f :read, :value nil, :process 21, :time 21651992590, :index 6278}
{:type :fail, :f :read, :value nil, :process 21, :time 21653909303, :error :connect, :index 6279}
{:type :invoke, :f :read, :value nil, :process 0, :time 21656869565, :index 6280}
{:type :fail, :f :read, :value nil, :process 0, :time 21658536393, :error :connect, :index 6281}
{:type :invoke, :f :write, :value 0, :process 4, :time 21669828301, :index 6282}
{:type :fail, :f :write, :value 0, :process 4, :time 21671592875, :error :connect, :index 6283}
{:type :invoke, :f :read, :value nil, :process 21, :time 21688185897, :index 6284}
{:type :fail, :f :read, :value nil, :process 21, :time 21690130976, :error :connect, :index 6286}
{:type :invoke, :f :write, :value 2, :process 6, :time 21708001918, :index 6293}
{:type :fail, :f :write, :value 2, :process 6, :time 21710106811, :error :connect, :index 6297}
{:type :invoke, :f :read, :value nil, :process 6, :time 21711352810, :index 6299}
{:type :fail, :f :read, :value nil, :process 6, :time 21713311976, :error :connect, :index 6302}
{:type :invoke, :f :read, :value nil, :process 5, :time 21713869002, :index 6303}
{:type :fail, :f :read, :value nil, :process 5, :time 21715830612, :error :connect, :index 6305}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 21729074974, :index 6308}
{:type :invoke, :f :cas, :value [0 1], :process 4, :time 21729861145, :index 6309}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 21731078670, :error :connect, :index 6310}
{:type :fail, :f :cas, :value [0 1], :process 4, :time 21731822350, :error :connect, :index 6311}
{:type :invoke, :f :write, :value 4, :process 5, :time 21749092826, :index 6314}
{:type :fail, :f :write, :value 4, :process 5, :time 21751091635, :error :connect, :index 6315}
{:type :invoke, :f :read, :value nil, :process 29, :time 21763011390, :index 6320}
{:type :fail, :f :read, :value nil, :process 29, :time 21764825339, :error :connect, :index 6322}
{:type :invoke, :f :write, :value 4, :process 8, :time 21765547482, :index 6323}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 21765809491, :index 6324}
{:type :fail, :f :write, :value 4, :process 8, :time 21767740688, :error :connect, :index 6327}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 21767960160, :error :connect, :index 6328}
{:type :invoke, :f :write, :value 4, :process 7, :time 21795215305, :index 6334}
{:type :invoke, :f :cas, :value [4 1], :process 22, :time 21797007820, :index 6335}
{:type :fail, :f :write, :value 4, :process 7, :time 21797122644, :error :connect, :index 6336}
{:type :fail, :f :cas, :value [4 1], :process 22, :time 21799062945, :error :connect, :index 6337}
{:type :invoke, :f :read, :value nil, :process 3, :time 21829350929, :index 6342}
{:type :fail, :f :read, :value nil, :process 3, :time 21830940264, :error :connect, :index 6344}
{:type :invoke, :f :read, :value nil, :process 21, :time 21858391315, :index 6360}
{:type :fail, :f :read, :value nil, :process 21, :time 21860292347, :error :connect, :index 6362}
{:type :invoke, :f :write, :value 0, :process 4, :time 21883085299, :index 6374}
{:type :fail, :f :write, :value 0, :process 4, :time 21885061305, :error :connect, :index 6375}
{:type :invoke, :f :read, :value nil, :process 6, :time 21912575805, :index 6387}
{:type :fail, :f :read, :value nil, :process 6, :time 21914403358, :error :connect, :index 6389}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
