{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :invoke, :f :read, :value nil, :process 7, :time 13793514094, :index 3142}
{:type :invoke, :f :write, :value 2, :process 5, :time 13794534990, :index 3143}
{:type :fail, :f :read, :value nil, :process 7, :time 13795195900, :error :connect, :index 3144}
{:type :fail, :f :write, :value 2, :process 5, :time 13796747943, :error :connect, :index 3145}
{:type :invoke, :f :write, :value 3, :process 0, :time 13806886480, :index 3157}
{:type :invoke, :f :read, :value nil, :process 5, :time 13808025578, :index 3158}
{:type :fail, :f :write, :value 3, :process 0, :time 13809061109, :error :connect, :index 3160}
{:type :fail, :f :read, :value nil, :process 5, :time 13809884819, :error :connect, :index 3161}
{:type :invoke, :f :write, :value 0, :process 6, :time 13835820161, :index 3164}
{:type :fail, :f :write, :value 0, :process 6, :time 13837486477, :error :connect, :index 3165}
{:type :invoke, :f :read, :value nil, :process 7, :time 13847462884, :index 3166}
{:type :fail, :f :read, :value nil, :process 7, :time 13849496285, :error :connect, :index 3168}
{:type :invoke, :f :cas, :value [0 0], :process 5, :time 13887132152, :index 3179}
{:type :fail, :f :cas, :value [0 0], :process 5, :time 13889577101, :error :connect, :index 3181}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 13915810435, :index 3186}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 13917502454, :error :connect, :index 3188}
{:type :invoke, :f :read, :value nil, :process 3, :time 13940685985, :index 3196}
{:type :fail, :f :read, :value nil, :process 3, :time 13942308790, :error :connect, :index 3197}
{:type :invoke, :f :read, :value nil, :process 29, :time 13944945793, :index 3198}
{:type :fail, :f :read, :value nil, :process 29, :time 13946921850, :error :connect, :index 3199}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 13951838680, :index 3200}
{:type :fail, :f :cas, :value [3 0], :process 5, :time 13953739832, :error :connect, :index 3201}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 13962733146, :index 3204}
{:type :invoke, :f :read, :value nil, :process 4, :time 13963299171, :index 3205}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 13964473131, :error :connect, :index 3206}
{:type :fail, :f :read, :value nil, :process 4, :time 13965157597, :error :connect, :index 3208}
{:type :invoke, :f :cas, :value [0 1], :process 0, :time 14000278674, :index 3219}
{:type :fail, :f :cas, :value [0 1], :process 0, :time 14002415995, :error :connect, :index 3221}
{:type :invoke, :f :read, :value nil, :process 8, :time 14008094214, :index 3226}
{:type :fail, :f :read, :value nil, :process 8, :time 14010095313, :error :connect, :index 3227}
{:type :invoke, :f :read, :value nil, :process 21, :time 14045570391, :index 3235}
{:type :fail, :f :read, :value nil, :process 21, :time 14047896331, :error :connect, :index 3237}
{:type :invoke, :f :read, :value nil, :process 22, :time 14049125672, :index 3238}
{:type :fail, :f :read, :value nil, :process 22, :time 14051225741, :error :connect, :index 3239}
{:type :invoke, :f :read, :value nil, :process 3, :time 14087569803, :index 3246}
{:type :fail, :f :read, :value nil, :process 3, :time 14089455002, :error :connect, :index 3247}
{:type :invoke, :f :write, :value 3, :process 5, :time 14094021131, :index 3251}
{:type :fail, :f :write, :value 3, :process 5, :time 14096272654, :error :connect, :index 3253}
{:type :invoke, :f :read, :value nil, :process 7, :time 14099775243, :index 3254}
{:type :fail, :f :read, :value nil, :process 7, :time 14101586331, :error :connect, :index 3255}
{:type :invoke, :f :write, :value 1, :process 21, :time 14110151824, :index 3256}
{:type :fail, :f :write, :value 1, :process 21, :time 14111759114, :error :connect, :index 3257}
{:type :invoke, :f :write, :value 3, :process 7, :time 14119846388, :index 3260}
{:type :invoke, :f :write, :value 1, :process 0, :time 14120657404, :index 3261}
{:type :fail, :f :write, :value 3, :process 7, :time 14121645891, :error :connect, :index 3262}
{:type :fail, :f :write, :value 1, :process 0, :time 14122445276, :error :connect, :index 3263}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 14122581045, :index 3264}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 14124649508, :error :connect, :index 3265}
{:type :invoke, :f :write, :value 4, :process 6, :time 14128738979, :index 3266}
{:type :fail, :f :write, :value 4, :process 6, :time 14130594402, :error :connect, :index 3267}
{:type :invoke, :f :write, :value 1, :process 4, :time 14142409652, :index 3270}
{:type :invoke, :f :cas, :value [2 2], :process 29, :time 14143197817, :index 3271}
{:type :fail, :f :write, :value 1, :process 4, :time 14144196893, :error :connect, :index 3272}
{:type :fail, :f :cas, :value [2 2], :process 29, :time 14144781445, :error :connect, :index 3273}
{:type :invoke, :f :read, :value nil, :process 8, :time 14147354732, :index 3276}
{:type :fail, :f :read, :value nil, :process 8, :time 14149234185, :error :connect, :index 3279}
{:type :invoke, :f :read, :value nil, :process 3, :time 14153712564, :index 3282}
{:type :fail, :f :read, :value nil, :process 3, :time 14155508633, :error :connect, :index 3283}
{:type :invoke, :f :read, :value nil, :process 22, :time 14159495740, :index 3286}
{:type :fail, :f :read, :value nil, :process 22, :time 14161372608, :error :connect, :index 3287}
{:type :invoke, :f :read, :value nil, :process 6, :time 14181873061, :index 3291}
{:type :fail, :f :read, :value nil, :process 6, :time 14184068444, :error :connect, :index 3293}
{:type :invoke, :f :read, :value nil, :process 7, :time 14200910450, :index 3296}
{:type :fail, :f :read, :value nil, :process 7, :time 14202634123, :error :connect, :index 3298}
{:type :invoke, :f :write, :value 4, :process 0, :time 14206908612, :index 3302}
{:type :fail, :f :write, :value 4, :process 0, :time 14208497278, :error :connect, :index 3303}
{:type :invoke, :f :write, :value 1, :process 3, :time 14238735334, :index 3313}
{:type :fail, :f :write, :value 1, :process 3, :time 14240686865, :error :connect, :index 3315}
{:type :invoke, :f :read, :value nil, :process 5, :time 14247506741, :index 3316}
{:type :fail, :f :read, :value nil, :process 5, :time 14249493811, :error :connect, :index 3317}
{:type :invoke, :f :write, :value 4, :process 6, :time 14267326815, :index 3319}
{:type :fail, :f :write, :value 4, :process 6, :time 14269277251, :error :connect, :index 3321}
{:type :invoke, :f :write, :value 0, :process 8, :time 14280445291, :index 3323}
{:type :fail, :f :write, :value 0, :process 8, :time 14282338431, :error :connect, :index 3324}
{:type :invoke, :f :read, :value nil, :process 4, :time 14290464598, :index 3328}
{:type :invoke, :f :write, :value 1, :process 22, :time 14291633612, :index 3329}
{:type :fail, :f :read, :value nil, :process 4, :time 14292400067, :error :connect, :index 3330}
{:type :invoke, :f :read, :value nil, :process 21, :time 14293019920, :index 3331}
{:type :fail, :f :write, :value 1, :process 22, :time 14293611000, :error :connect, :index 3332}
{:type :invoke, :f :write, :value 2, :process 22, :time 14293775395, :index 3333}
{:type :fail, :f :read, :value nil, :process 21, :time 14294940000, :error :connect, :index 3335}
{:type :fail, :f :write, :value 2, :process 22, :time 14295606522, :error :connect, :index 3337}
{:type :invoke, :f :write, :value 3, :process 29, :time 14306045749, :index 3341}
{:type :fail, :f :write, :value 3, :process 29, :time 14308122135, :error :connect, :index 3344}
{:type :invoke, :f :write, :value 0, :process 3, :time 14318946345, :index 3346}
{:type :fail, :f :write, :value 0, :process 3, :time 14320564972, :error :connect, :index 3347}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 14327754356, :index 3349}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 14330852608, :error :connect, :index 3351}
{:type :invoke, :f :cas, :value [2 3], :process 29, :time 14332385979, :index 3352}
{:type :fail, :f :cas, :value [2 3], :process 29, :time 14333981325, :error :connect, :index 3353}
{:type :invoke, :f :read, :value nil, :process 5, :time 14337714805, :index 3354}
{:type :invoke, :f :write, :value 3, :process 7, :time 14339921429, :index 3355}
{:type :fail, :f :read, :value nil, :process 5, :time 14340114662, :error :connect, :index 3356}
{:type :fail, :f :write, :value 3, :process 7, :time 14341765718, :error :connect, :index 3357}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 14344362390, :index 3360}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 14346165390, :error :connect, :index 3361}
{:type :invoke, :f :read, :value nil, :process 22, :time 14354878163, :index 3364}
{:type :fail, :f :read, :value nil, :process 22, :time 14356665014, :error :connect, :index 3365}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 14366429500, :index 3366}
{:type :invoke, :f :write, :value 0, :process 4, :time 14366654155, :index 3367}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 14368441596, :error :connect, :index 3368}
{:type :fail, :f :write, :value 0, :process 4, :time 14368812074, :error :connect, :index 3369}
{:type :invoke, :f :read, :value nil, :process 6, :time 14374533574, :index 3374}
{:type :fail, :f :read, :value nil, :process 6, :time 14376667654, :error :connect, :index 3375}
{:type :invoke, :f :cas, :value [0 2], :process 6, :time 14384938810, :index 3376}
{:type :fail, :f :cas, :value [0 2], :process 6, :time 14386719565, :error :connect, :index 3377}
{:type :invoke, :f :read, :value nil, :process 8, :time 14388327057, :index 3378}
{:type :fail, :f :read, :value nil, :process 8, :time 14390188596, :error :connect, :index 3379}
{:type :invoke, :f :write, :value 2, :process 5, :time 14411706943, :index 3386}
{:type :fail, :f :write, :value 2, :process 5, :time 14413723194, :error :connect, :index 3387}
{:type :invoke, :f :cas, :value [4 3], :process 7, :time 14421032873, :index 3389}
{:type :fail, :f :cas, :value [4 3], :process 7, :time 14423091263, :error :connect, :index 3391}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 14435839651, :index 3397}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 14437552326, :error :connect, :index 3399}
{:type :invoke, :f :read, :value nil, :process 4, :time 14447055632, :index 3402}
{:type :fail, :f :read, :value nil, :process 4, :time 14448964463, :error :connect, :index 3403}
{:type :invoke, :f :read, :value nil, :process 5, :time 14448940912, :index 3404}
{:type :fail, :f :read, :value nil, :process 5, :time 14451068104, :error :connect, :index 3405}
{:type :invoke, :f :cas, :value [0 2], :process 21, :time 14457183615, :index 3406}
{:type :fail, :f :cas, :value [0 2], :process 21, :time 14459137106, :error :connect, :index 3407}
{:type :invoke, :f :write, :value 3, :process 22, :time 14465922133, :index 3408}
{:type :fail, :f :write, :value 3, :process 22, :time 14467769785, :error :connect, :index 3409}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 14482174329, :index 3418}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 14484317127, :error :connect, :index 3419}
{:type :invoke, :f :read, :value nil, :process 29, :time 14487247592, :index 3420}
{:type :fail, :f :read, :value nil, :process 29, :time 14489301460, :error :connect, :index 3421}
{:type :invoke, :f :write, :value 0, :process 6, :time 14490999243, :index 3422}
{:type :fail, :f :write, :value 0, :process 6, :time 14493020040, :error :connect, :index 3423}
{:type :invoke, :f :read, :value nil, :process 29, :time 14504558667, :index 3424}
{:type :fail, :f :read, :value nil, :process 29, :time 14506344677, :error :connect, :index 3425}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 14511308505, :index 3426}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 14513194582, :error :connect, :index 3427}
{:type :invoke, :f :read, :value nil, :process 0, :time 14521580530, :index 3430}
{:type :fail, :f :read, :value nil, :process 0, :time 14523462291, :error :connect, :index 3431}
{:type :invoke, :f :write, :value 1, :process 4, :time 14532273001, :index 3432}
{:type :fail, :f :write, :value 1, :process 4, :time 14534093102, :error :connect, :index 3433}
{:type :invoke, :f :write, :value 0, :process 8, :time 14537467004, :index 3439}
{:type :fail, :f :write, :value 0, :process 8, :time 14539340671, :error :connect, :index 3441}
{:type :invoke, :f :read, :value nil, :process 8, :time 14549576687, :index 3442}
{:type :fail, :f :read, :value nil, :process 8, :time 14551469586, :error :connect, :index 3443}
{:type :invoke, :f :write, :value 0, :process 3, :time 14554733712, :index 3444}
{:type :fail, :f :write, :value 0, :process 3, :time 14556670268, :error :connect, :index 3446}
{:type :invoke, :f :write, :value 0, :process 6, :time 14563458829, :index 3448}
{:type :invoke, :f :cas, :value [0 3], :process 7, :time 14565365011, :index 3449}
{:type :fail, :f :write, :value 0, :process 6, :time 14565615851, :error :connect, :index 3450}
{:type :fail, :f :cas, :value [0 3], :process 7, :time 14567519648, :error :connect, :index 3451}
{:type :invoke, :f :write, :value 4, :process 21, :time 14584421718, :index 3456}
{:type :fail, :f :write, :value 4, :process 21, :time 14586257478, :error :connect, :index 3458}
{:type :invoke, :f :write, :value 2, :process 6, :time 14590882062, :index 3460}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 14592333159, :index 3461}
{:type :fail, :f :write, :value 2, :process 6, :time 14593095896, :error :connect, :index 3462}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 14593984531, :error :connect, :index 3463}
{:type :invoke, :f :read, :value nil, :process 6, :time 14601351260, :index 3464}
{:type :fail, :f :read, :value nil, :process 6, :time 14603295954, :error :connect, :index 3465}
{:type :invoke, :f :read, :value nil, :process 22, :time 14610037824, :index 3471}
{:type :fail, :f :read, :value nil, :process 22, :time 14611887196, :error :connect, :index 3473}
{:type :invoke, :f :write, :value 1, :process 6, :time 14620462026, :index 3477}
{:type :fail, :f :write, :value 1, :process 6, :time 14622133208, :error :connect, :index 3479}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 14623888613, :index 3480}
{:type :fail, :f :cas, :value [3 1], :process 3, :time 14625772164, :error :connect, :index 3481}
{:type :invoke, :f :read, :value nil, :process 4, :time 14656361191, :index 3488}
{:type :fail, :f :read, :value nil, :process 4, :time 14658169005, :error :connect, :index 3489}
{:type :invoke, :f :cas, :value [1 2], :process 29, :time 14661614188, :index 3490}
{:type :fail, :f :cas, :value [1 2], :process 29, :time 14663623473, :error :connect, :index 3491}
{:type :invoke, :f :write, :value 0, :process 5, :time 14665243781, :index 3492}
{:type :fail, :f :write, :value 0, :process 5, :time 14666880257, :error :connect, :index 3493}
{:type :invoke, :f :write, :value 2, :process 22, :time 14669139967, :index 3494}
{:type :fail, :f :write, :value 2, :process 22, :time 14671212287, :error :connect, :index 3495}
{:type :invoke, :f :write, :value 4, :process 5, :time 14677163627, :index 3496}
{:type :fail, :f :write, :value 4, :process 5, :time 14679111905, :error :connect, :index 3498}
{:type :invoke, :f :write, :value 2, :process 29, :time 14700889275, :index 3502}
{:type :invoke, :f :read, :value nil, :process 7, :time 14701787433, :index 3503}
{:type :fail, :f :write, :value 2, :process 29, :time 14702673940, :error :connect, :index 3504}
{:type :fail, :f :read, :value nil, :process 7, :time 14703624079, :error :connect, :index 3505}
{:type :invoke, :f :read, :value nil, :process 8, :time 14704735058, :index 3506}
{:type :fail, :f :read, :value nil, :process 8, :time 14706826318, :error :connect, :index 3507}
{:type :invoke, :f :read, :value nil, :process 29, :time 14711959749, :index 3508}
{:type :fail, :f :read, :value nil, :process 29, :time 14713620213, :error :connect, :index 3509}
{:type :invoke, :f :read, :value nil, :process 0, :time 14716734914, :index 3510}
{:type :fail, :f :read, :value nil, :process 0, :time 14718829715, :error :connect, :index 3511}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 14732920137, :index 3518}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 14735002472, :error :connect, :index 3520}
{:type :invoke, :f :read, :value nil, :process 21, :time 14763519962, :index 3528}
{:type :fail, :f :read, :value nil, :process 21, :time 14765359240, :error :connect, :index 3529}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 14766436405, :index 3530}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 14768241044, :error :connect, :index 3531}
{:type :invoke, :f :write, :value 0, :process 29, :time 14779893566, :index 3536}
{:type :fail, :f :write, :value 0, :process 29, :time 14781846193, :error :connect, :index 3537}
{:type :invoke, :f :read, :value nil, :process 6, :time 14790386427, :index 3538}
{:type :fail, :f :read, :value nil, :process 6, :time 14792315848, :error :connect, :index 3539}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 14806039568, :index 3540}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 14808103337, :index 3541}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 14808230097, :error :connect, :index 3542}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 14810134124, :error :connect, :index 3543}
{:type :invoke, :f :read, :value nil, :process 22, :time 14812475277, :index 3544}
{:type :fail, :f :read, :value nil, :process 22, :time 14814398359, :error :connect, :index 3545}
{:type :invoke, :f :read, :value nil, :process 8, :time 14828084484, :index 3548}
{:type :fail, :f :read, :value nil, :process 8, :time 14829693504, :error :connect, :index 3549}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 14858403684, :index 3562}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 14860496564, :error :connect, :index 3563}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
