{:type :invoke, :f :read, :value nil, :process 1, :time 1162021708, :index 397}
{:type :ok, :f :read, :value nil, :process 1, :time 1168100441, :index 400}
{:type :invoke, :f :cas, :value [0 4], :process 9, :time 1172618745, :index 402}
{:type :fail, :f :cas, :value [0 4], :process 9, :time 1178420577, :error :not-found, :index 404}
{:type :invoke, :f :write, :value 3, :process 1, :time 1179351787, :index 405}
{:type :ok, :f :write, :value 3, :process 1, :time 1184602554, :index 409}
{:type :invoke, :f :write, :value 1, :process 2, :time 1192674200, :index 412}
{:type :ok, :f :write, :value 1, :process 2, :time 1198869045, :index 414}
{:type :invoke, :f :read, :value nil, :process 5, :time 1213607471, :index 421}
{:type :ok, :f :read, :value 1, :process 5, :time 1218959364, :index 423}
{:type :invoke, :f :cas, :value [4 3], :process 5, :time 1233230709, :index 428}
{:type :fail, :f :cas, :value [4 3], :process 5, :time 1239263036, :index 430}
{:type :invoke, :f :write, :value 3, :process 9, :time 1259709967, :index 439}
{:type :ok, :f :write, :value 3, :process 9, :time 1265013024, :index 440}
{:type :invoke, :f :write, :value 2, :process 4, :time 1272863807, :index 442}
{:type :invoke, :f :cas, :value [0 1], :process 3, :time 1274962630, :index 443}
{:type :ok, :f :write, :value 2, :process 4, :time 1278128609, :index 445}
{:type :invoke, :f :cas, :value [3 0], :process 9, :time 1278285284, :index 446}
{:type :invoke, :f :cas, :value [2 4], :process 6, :time 1279109230, :index 447}
{:type :fail, :f :cas, :value [0 1], :process 3, :time 1280144889, :index 448}
{:type :fail, :f :cas, :value [3 0], :process 9, :time 1284329577, :index 450}
{:type :ok, :f :cas, :value [2 4], :process 6, :time 1284542280, :index 451}
{:type :invoke, :f :read, :value nil, :process 5, :time 1285548449, :index 452}
{:type :invoke, :f :read, :value nil, :process 1, :time 1286868986, :index 453}
{:type :ok, :f :read, :value 4, :process 5, :time 1292671124, :index 454}
{:type :ok, :f :read, :value 4, :process 1, :time 1293326223, :index 455}
{:type :invoke, :f :write, :value 3, :process 1, :time 1311585531, :index 458}
{:type :ok, :f :write, :value 3, :process 1, :time 1316861505, :index 459}
{:type :invoke, :f :write, :value 3, :process 3, :time 1326414654, :index 460}
{:type :invoke, :f :cas, :value [3 2], :process 7, :time 1330228028, :index 461}
{:type :ok, :f :write, :value 3, :process 3, :time 1331658112, :index 462}
{:type :ok, :f :cas, :value [3 2], :process 7, :time 1335461478, :index 463}
{:type :invoke, :f :write, :value 2, :process 9, :time 1335608768, :index 464}
{:type :ok, :f :write, :value 2, :process 9, :time 1340608483, :index 465}
{:type :invoke, :f :cas, :value [1 1], :process 7, :time 1341737275, :index 466}
{:type :fail, :f :cas, :value [1 1], :process 7, :time 1347615142, :index 467}
{:type :invoke, :f :read, :value nil, :process 6, :time 1353789032, :index 471}
{:type :ok, :f :read, :value 2, :process 6, :time 1359966148, :index 474}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 1365116017, :index 476}
{:type :invoke, :f :write, :value 2, :process 4, :time 1369401355, :index 477}
{:type :fail, :f :cas, :value [3 3], :process 8, :time 1370560159, :index 478}
{:type :invoke, :f :write, :value 2, :process 1, :time 1373131799, :index 479}
{:type :invoke, :f :write, :value 2, :process 6, :time 1373134292, :index 480}
{:type :invoke, :f :write, :value 2, :process 7, :time 1373891963, :index 481}
{:type :ok, :f :write, :value 2, :process 4, :time 1374626235, :index 482}
{:type :invoke, :f :read, :value nil, :process 0, :time 1376666248, :index 484}
{:type :ok, :f :write, :value 2, :process 1, :time 1378670920, :index 485}
{:type :ok, :f :write, :value 2, :process 6, :time 1380060239, :index 487}
{:type :ok, :f :write, :value 2, :process 7, :time 1380467915, :index 488}
{:type :ok, :f :read, :value 2, :process 0, :time 1382859842, :index 490}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 1393608310, :index 493}
{:type :invoke, :f :cas, :value [1 4], :process 2, :time 1398051422, :index 496}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 1399186069, :index 497}
{:type :fail, :f :cas, :value [1 4], :process 2, :time 1403983247, :index 499}
{:type :invoke, :f :write, :value 4, :process 4, :time 1435465253, :index 513}
{:type :ok, :f :write, :value 4, :process 4, :time 1440571727, :index 515}
{:type :invoke, :f :read, :value nil, :process 5, :time 1440943806, :index 516}
{:type :ok, :f :read, :value 4, :process 5, :time 1446592067, :index 517}
{:type :invoke, :f :write, :value 0, :process 8, :time 1468845969, :index 518}
{:type :ok, :f :write, :value 0, :process 8, :time 1474118048, :index 521}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 1477377201, :index 523}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 1482080733, :index 526}
{:type :invoke, :f :cas, :value [2 3], :process 1, :time 1485934069, :index 528}
{:type :fail, :f :cas, :value [2 3], :process 1, :time 1491616134, :index 529}
{:type :invoke, :f :read, :value nil, :process 3, :time 1502929139, :index 532}
{:type :invoke, :f :cas, :value [1 2], :process 9, :time 1507921827, :index 534}
{:type :ok, :f :read, :value 0, :process 3, :time 1508220144, :index 535}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 1511124187, :index 537}
{:type :fail, :f :cas, :value [1 2], :process 9, :time 1514065976, :index 538}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 1517601749, :index 539}
{:type :invoke, :f :write, :value 1, :process 6, :time 1522303884, :index 540}
{:type :ok, :f :write, :value 1, :process 6, :time 1527573126, :index 541}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 1530725488, :index 542}
{:type :ok, :f :cas, :value [1 3], :process 7, :time 1536117015, :index 546}
{:type :invoke, :f :write, :value 3, :process 4, :time 1544776873, :index 551}
{:type :ok, :f :write, :value 3, :process 4, :time 1551178101, :index 553}
{:type :invoke, :f :cas, :value [0 3], :process 2, :time 1551265351, :index 554}
{:type :invoke, :f :read, :value nil, :process 3, :time 1555455623, :index 555}
{:type :fail, :f :cas, :value [0 3], :process 2, :time 1557366578, :index 556}
{:type :ok, :f :read, :value 3, :process 3, :time 1561457176, :index 557}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 1569404218, :index 560}
{:type :invoke, :f :read, :value nil, :process 8, :time 1571381797, :index 562}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 1574768493, :index 563}
{:type :ok, :f :read, :value 3, :process 8, :time 1576529146, :index 565}
{:type :invoke, :f :cas, :value [1 1], :process 9, :time 1578344212, :index 566}
{:type :fail, :f :cas, :value [1 1], :process 9, :time 1583770034, :index 568}
{:type :invoke, :f :read, :value nil, :process 2, :time 1586665850, :index 571}
{:type :ok, :f :read, :value 3, :process 2, :time 1592742314, :index 573}
{:type :invoke, :f :write, :value 3, :process 8, :time 1600812888, :index 575}
{:type :ok, :f :write, :value 3, :process 8, :time 1606899905, :index 577}
{:type :invoke, :f :write, :value 3, :process 0, :time 1606860371, :index 578}
{:type :ok, :f :write, :value 3, :process 0, :time 1611859545, :index 581}
{:type :invoke, :f :cas, :value [2 3], :process 9, :time 1615005237, :index 583}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 1617858980, :index 585}
{:type :fail, :f :cas, :value [2 3], :process 9, :time 1621897096, :index 587}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 1623689204, :index 589}
{:type :invoke, :f :write, :value 0, :process 3, :time 1640720632, :index 592}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 1642455362, :index 593}
{:type :ok, :f :write, :value 0, :process 3, :time 1647678737, :index 594}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 1649243291, :index 596}
{:type :invoke, :f :cas, :value [0 1], :process 2, :time 1665008194, :index 598}
{:type :invoke, :f :read, :value nil, :process 3, :time 1669956157, :index 599}
{:type :ok, :f :cas, :value [0 1], :process 2, :time 1671141911, :index 600}
{:type :ok, :f :read, :value 1, :process 3, :time 1675190554, :index 602}
{:type :invoke, :f :read, :value nil, :process 9, :time 1676226866, :index 603}
{:type :ok, :f :read, :value 1, :process 9, :time 1681541164, :index 605}
{:type :invoke, :f :write, :value 1, :process 5, :time 1682956324, :index 606}
{:type :invoke, :f :write, :value 1, :process 7, :time 1683038776, :index 607}
{:type :invoke, :f :cas, :value [1 4], :process 1, :time 1686882049, :index 608}
{:type :ok, :f :write, :value 1, :process 7, :time 1688255265, :index 609}
{:type :invoke, :f :read, :value nil, :process 3, :time 1688454673, :index 610}
{:type :invoke, :f :write, :value 3, :process 6, :time 1688852433, :index 611}
{:type :ok, :f :write, :value 1, :process 5, :time 1689291850, :index 612}
{:type :ok, :f :cas, :value [1 4], :process 1, :time 1691766217, :index 613}
{:type :ok, :f :read, :value 4, :process 3, :time 1694034634, :index 614}
{:type :ok, :f :write, :value 3, :process 6, :time 1695017269, :index 615}
{:type :invoke, :f :read, :value nil, :process 6, :time 1699271305, :index 617}
{:type :ok, :f :read, :value 3, :process 6, :time 1704520582, :index 619}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 1716192719, :index 621}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 1721811826, :index 623}
{:type :invoke, :f :write, :value 4, :process 8, :time 1728073225, :index 625}
{:type :ok, :f :write, :value 4, :process 8, :time 1732752569, :index 628}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 1755113227, :index 636}
{:type :ok, :f :cas, :value [4 4], :process 0, :time 1760902853, :index 638}
{:type :invoke, :f :write, :value 1, :process 9, :time 1769799400, :index 648}
{:type :ok, :f :write, :value 1, :process 9, :time 1776108037, :index 653}
{:type :invoke, :f :write, :value 4, :process 9, :time 1780361809, :index 654}
{:type :ok, :f :write, :value 4, :process 9, :time 1786330646, :index 655}
{:type :invoke, :f :read, :value nil, :process 9, :time 1798100049, :index 658}
{:type :invoke, :f :write, :value 4, :process 7, :time 1799590299, :index 660}
{:type :ok, :f :read, :value 4, :process 9, :time 1804720445, :index 661}
{:type :ok, :f :write, :value 4, :process 7, :time 1806384681, :index 665}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 1828305130, :index 666}
{:type :invoke, :f :cas, :value [0 4], :process 5, :time 1828478277, :index 667}
{:type :invoke, :f :write, :value 1, :process 4, :time 1832493099, :index 669}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 1835935144, :index 670}
{:type :fail, :f :cas, :value [0 4], :process 5, :time 1836286602, :index 671}
{:type :invoke, :f :write, :value 4, :process 9, :time 1842582786, :index 672}
{:type :ok, :f :write, :value 1, :process 4, :time 1845956853, :index 673}
{:type :ok, :f :write, :value 4, :process 9, :time 1848010480, :index 676}
{:type :invoke, :f :write, :value 3, :process 2, :time 1849456308, :index 677}
{:type :invoke, :f :write, :value 3, :process 1, :time 1850043952, :index 678}
{:type :ok, :f :write, :value 3, :process 2, :time 1854365403, :index 680}
{:type :ok, :f :write, :value 3, :process 1, :time 1855624677, :index 681}
{:type :invoke, :f :read, :value nil, :process 5, :time 1873555957, :index 683}
{:type :ok, :f :read, :value 3, :process 5, :time 1878989732, :index 685}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 1879703998, :index 686}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 1885279403, :index 687}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 1909267444, :index 689}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 1920015214, :index 692}
{:type :invoke, :f :write, :value 4, :process 0, :time 1925173126, :index 694}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 1926168821, :index 695}
{:type :ok, :f :write, :value 4, :process 0, :time 1930962983, :index 698}
{:type :invoke, :f :cas, :value [4 3], :process 7, :time 1931645743, :index 699}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 1933216322, :index 700}
{:type :ok, :f :cas, :value [4 3], :process 7, :time 1936638040, :index 702}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 1938932741, :index 703}
{:type :invoke, :f :write, :value 0, :process 0, :time 1960190991, :index 709}
{:type :ok, :f :write, :value 0, :process 0, :time 1966051380, :index 711}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 1969223292, :index 713}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 1974802742, :index 716}
{:type :invoke, :f :cas, :value [2 3], :process 2, :time 1988620037, :index 719}
{:type :invoke, :f :cas, :value [2 2], :process 7, :time 1991114851, :index 721}
{:type :fail, :f :cas, :value [2 3], :process 2, :time 1993698595, :index 722}
{:type :invoke, :f :read, :value nil, :process 6, :time 1996557529, :index 723}
{:type :fail, :f :cas, :value [2 2], :process 7, :time 1996652258, :index 724}
{:type :invoke, :f :read, :value nil, :process 1, :time 1999876209, :index 726}
{:type :ok, :f :read, :value 0, :process 6, :time 2001177516, :index 728}
{:type :invoke, :f :write, :value 1, :process 2, :time 2003954799, :index 729}
{:type :ok, :f :read, :value 0, :process 1, :time 2005779917, :index 731}
{:type :ok, :f :write, :value 1, :process 2, :time 2008838776, :index 732}
{:type :invoke, :f :read, :value nil, :process 9, :time 2018291571, :index 735}
{:type :invoke, :f :write, :value 0, :process 7, :time 2018952675, :index 736}
{:type :invoke, :f :cas, :value [3 4], :process 1, :time 2021077020, :index 738}
{:type :ok, :f :write, :value 0, :process 7, :time 2023728857, :index 739}
{:type :fail, :f :cas, :value [3 4], :process 1, :time 2026319917, :index 740}
{:type :invoke, :f :write, :value 4, :process 1, :time 2056595358, :index 745}
{:type :ok, :f :write, :value 4, :process 1, :time 2061829950, :index 748}
{:type :invoke, :f :write, :value 3, :process 3, :time 2064064271, :index 750}
{:type :ok, :f :write, :value 3, :process 3, :time 2069283823, :index 751}
{:type :invoke, :f :cas, :value [4 4], :process 5, :time 2069329312, :index 752}
{:type :fail, :f :cas, :value [4 4], :process 5, :time 2074800458, :index 753}
{:type :invoke, :f :write, :value 3, :process 8, :time 2075467476, :index 754}
{:type :ok, :f :write, :value 3, :process 8, :time 2080683419, :index 755}
{:type :invoke, :f :write, :value 2, :process 0, :time 2090317759, :index 757}
{:type :invoke, :f :read, :value nil, :process 2, :time 2091113122, :index 758}
{:type :ok, :f :write, :value 2, :process 0, :time 2096221102, :index 761}
{:type :invoke, :f :read, :value nil, :process 5, :time 2156067077, :index 771}
{:type :invoke, :f :read, :value nil, :process 3, :time 2160567208, :index 772}
{:type :ok, :f :read, :value 2, :process 5, :time 2161216673, :index 773}
{:type :ok, :f :read, :value 2, :process 3, :time 2165432183, :index 774}
{:type :invoke, :f :write, :value 3, :process 6, :time 2198442380, :index 785}
{:type :ok, :f :write, :value 3, :process 6, :time 2204157216, :index 787}
{:type :invoke, :f :read, :value nil, :process 7, :time 2208997436, :index 789}
{:type :invoke, :f :write, :value 4, :process 1, :time 2233086496, :index 792}
{:type :ok, :f :write, :value 4, :process 1, :time 2238071845, :index 793}
{:type :ok, :f :read, :value 4, :process 2, :time 2566901360, :index 878}
{:type :ok, :f :read, :value 4, :process 7, :time 2567599575, :index 880}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 2641152825, :index 899}
{:type :ok, :f :read, :value 4, :process 9, :time 2643463771, :index 901}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
