{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :invoke, :f :read, :value nil, :process 22, :time 50269211386, :index 17538}
{:type :fail, :f :read, :value nil, :process 22, :time 50270846033, :error :connect, :index 17540}
{:type :invoke, :f :write, :value 1, :process 6, :time 50274495396, :index 17543}
{:type :invoke, :f :write, :value 1, :process 8, :time 50275317417, :index 17545}
{:type :fail, :f :write, :value 1, :process 6, :time 50276457389, :error :connect, :index 17547}
{:type :fail, :f :write, :value 1, :process 8, :time 50277292928, :error :connect, :index 17548}
{:type :invoke, :f :write, :value 1, :process 7, :time 50296896809, :index 17554}
{:type :fail, :f :write, :value 1, :process 7, :time 50298961889, :error :connect, :index 17555}
{:type :invoke, :f :cas, :value [2 3], :process 21, :time 50309051724, :index 17556}
{:type :fail, :f :cas, :value [2 3], :process 21, :time 50310948854, :error :connect, :index 17557}
{:type :invoke, :f :read, :value nil, :process 7, :time 50325224396, :index 17562}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 50326729709, :index 17563}
{:type :fail, :f :read, :value nil, :process 7, :time 50327345729, :error :connect, :index 17564}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 50328797108, :error :connect, :index 17565}
{:type :invoke, :f :read, :value nil, :process 6, :time 50368719014, :index 17572}
{:type :fail, :f :read, :value nil, :process 6, :time 50370650142, :error :connect, :index 17573}
{:type :invoke, :f :read, :value nil, :process 4, :time 50406394915, :index 17584}
{:type :fail, :f :read, :value nil, :process 4, :time 50408505594, :error :connect, :index 17586}
{:type :invoke, :f :cas, :value [1 1], :process 21, :time 50418213582, :index 17590}
{:type :fail, :f :cas, :value [1 1], :process 21, :time 50419887476, :error :connect, :index 17591}
{:type :invoke, :f :read, :value nil, :process 7, :time 50427607015, :index 17592}
{:type :fail, :f :read, :value nil, :process 7, :time 50429255198, :error :connect, :index 17594}
{:type :invoke, :f :read, :value nil, :process 3, :time 50430737338, :index 17596}
{:type :fail, :f :read, :value nil, :process 3, :time 50432799961, :error :connect, :index 17597}
{:type :invoke, :f :cas, :value [3 4], :process 29, :time 50433048404, :index 17598}
{:type :fail, :f :cas, :value [3 4], :process 29, :time 50435045217, :error :connect, :index 17599}
{:type :invoke, :f :read, :value nil, :process 22, :time 50448108601, :index 17602}
{:type :fail, :f :read, :value nil, :process 22, :time 50450004577, :error :connect, :index 17603}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 50462063556, :index 17612}
{:type :invoke, :f :read, :value nil, :process 8, :time 50462552210, :index 17613}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 50464187453, :error :connect, :index 17614}
{:type :fail, :f :read, :value nil, :process 8, :time 50464488778, :error :connect, :index 17615}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 50471449432, :index 17616}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 50473509055, :error :connect, :index 17617}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 50493771170, :index 17620}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 50495785753, :error :connect, :index 17621}
{:type :invoke, :f :write, :value 1, :process 6, :time 50498939013, :index 17622}
{:type :fail, :f :write, :value 1, :process 6, :time 50500892707, :error :connect, :index 17623}
{:type :invoke, :f :read, :value nil, :process 7, :time 50503515775, :index 17625}
{:type :fail, :f :read, :value nil, :process 7, :time 50505137674, :error :connect, :index 17627}
{:type :invoke, :f :read, :value nil, :process 5, :time 50506252880, :index 17629}
{:type :fail, :f :read, :value nil, :process 5, :time 50508059880, :error :connect, :index 17631}
{:type :invoke, :f :cas, :value [4 1], :process 4, :time 50514773628, :index 17632}
{:type :fail, :f :cas, :value [4 1], :process 4, :time 50516569147, :error :connect, :index 17634}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 50518054127, :index 17636}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 50519907068, :error :connect, :index 17637}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 50522049799, :index 17638}
{:type :invoke, :f :cas, :value [1 1], :process 21, :time 50523152579, :index 17639}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 50523867526, :error :connect, :index 17640}
{:type :fail, :f :cas, :value [1 1], :process 21, :time 50525094696, :error :connect, :index 17641}
{:type :invoke, :f :read, :value nil, :process 6, :time 50533154179, :index 17646}
{:type :invoke, :f :read, :value nil, :process 29, :time 50534325208, :index 17647}
{:type :fail, :f :read, :value nil, :process 6, :time 50534818969, :error :connect, :index 17648}
{:type :fail, :f :read, :value nil, :process 29, :time 50536289756, :error :connect, :index 17649}
{:type :invoke, :f :cas, :value [0 3], :process 7, :time 50558401810, :index 17650}
{:type :fail, :f :cas, :value [0 3], :process 7, :time 50560282820, :error :connect, :index 17651}
{:type :invoke, :f :read, :value nil, :process 8, :time 50601741883, :index 17658}
{:type :fail, :f :read, :value nil, :process 8, :time 50603886657, :error :connect, :index 17659}
{:type :invoke, :f :read, :value nil, :process 3, :time 50606176008, :index 17660}
{:type :fail, :f :read, :value nil, :process 3, :time 50608024559, :error :connect, :index 17661}
{:type :invoke, :f :read, :value nil, :process 21, :time 50623353092, :index 17666}
{:type :fail, :f :read, :value nil, :process 21, :time 50625223808, :error :connect, :index 17667}
{:type :invoke, :f :cas, :value [4 3], :process 22, :time 50646275925, :index 17675}
{:type :fail, :f :cas, :value [4 3], :process 22, :time 50648426727, :error :connect, :index 17677}
{:type :invoke, :f :write, :value 3, :process 0, :time 50649134860, :index 17678}
{:type :invoke, :f :read, :value nil, :process 4, :time 50649841774, :index 17679}
{:type :fail, :f :write, :value 3, :process 0, :time 50651143420, :error :connect, :index 17680}
{:type :fail, :f :read, :value nil, :process 4, :time 50651618248, :error :connect, :index 17681}
{:type :invoke, :f :read, :value nil, :process 0, :time 50653433616, :index 17682}
{:type :fail, :f :read, :value nil, :process 0, :time 50655172122, :error :connect, :index 17683}
{:type :invoke, :f :read, :value nil, :process 22, :time 50659705839, :index 17686}
{:type :invoke, :f :read, :value nil, :process 4, :time 50660203771, :index 17688}
{:type :fail, :f :read, :value nil, :process 22, :time 50662422304, :error :connect, :index 17691}
{:type :fail, :f :read, :value nil, :process 4, :time 50662595026, :error :connect, :index 17692}
{:type :invoke, :f :write, :value 1, :process 21, :time 50687498305, :index 17702}
{:type :fail, :f :write, :value 1, :process 21, :time 50689218346, :error :connect, :index 17703}
{:type :invoke, :f :write, :value 4, :process 29, :time 50689555294, :index 17704}
{:type :fail, :f :write, :value 4, :process 29, :time 50691530926, :error :connect, :index 17705}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 50691999348, :index 17706}
{:type :invoke, :f :read, :value nil, :process 7, :time 50693567721, :index 17707}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 50693728848, :error :connect, :index 17708}
{:type :fail, :f :read, :value nil, :process 7, :time 50695458015, :error :connect, :index 17709}
{:type :invoke, :f :read, :value nil, :process 5, :time 50699300144, :index 17710}
{:type :fail, :f :read, :value nil, :process 5, :time 50701402192, :error :connect, :index 17711}
{:type :invoke, :f :cas, :value [2 2], :process 29, :time 50713793663, :index 17716}
{:type :fail, :f :cas, :value [2 2], :process 29, :time 50715384604, :error :connect, :index 17717}
{:type :invoke, :f :cas, :value [0 4], :process 29, :time 50736659330, :index 17726}
{:type :fail, :f :cas, :value [0 4], :process 29, :time 50738666190, :error :connect, :index 17727}
{:type :invoke, :f :cas, :value [3 4], :process 7, :time 50741716650, :index 17728}
{:type :fail, :f :cas, :value [3 4], :process 7, :time 50743868720, :error :connect, :index 17729}
{:type :invoke, :f :read, :value nil, :process 4, :time 50766851652, :index 17738}
{:type :fail, :f :read, :value nil, :process 4, :time 50768593400, :error :connect, :index 17739}
{:type :invoke, :f :write, :value 2, :process 8, :time 50769151101, :index 17740}
{:type :fail, :f :write, :value 2, :process 8, :time 50771256868, :error :connect, :index 17741}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 50781314417, :index 17742}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 50783291442, :error :connect, :index 17743}
{:type :invoke, :f :read, :value nil, :process 22, :time 50820667738, :index 17748}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 50820669847, :index 17749}
{:type :fail, :f :read, :value nil, :process 22, :time 50822797149, :error :connect, :index 17750}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 50822797149, :error :connect, :index 17751}
{:type :invoke, :f :read, :value nil, :process 6, :time 50832980507, :index 17754}
{:type :invoke, :f :cas, :value [2 2], :process 21, :time 50833491793, :index 17755}
{:type :fail, :f :read, :value nil, :process 6, :time 50834915865, :error :connect, :index 17757}
{:type :fail, :f :cas, :value [2 2], :process 21, :time 50835500675, :error :connect, :index 17758}
{:type :invoke, :f :write, :value 2, :process 0, :time 50841433296, :index 17760}
{:type :fail, :f :write, :value 2, :process 0, :time 50843509201, :error :connect, :index 17761}
{:type :invoke, :f :write, :value 2, :process 4, :time 50848858211, :index 17764}
{:type :fail, :f :write, :value 2, :process 4, :time 50850633331, :error :connect, :index 17765}
{:type :invoke, :f :read, :value nil, :process 22, :time 50859094512, :index 17768}
{:type :fail, :f :read, :value nil, :process 22, :time 50860768855, :error :connect, :index 17769}
{:type :invoke, :f :read, :value nil, :process 7, :time 50864131443, :index 17770}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 50865763928, :index 17771}
{:type :fail, :f :read, :value nil, :process 7, :time 50866064521, :error :connect, :index 17772}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 50867972667, :error :connect, :index 17774}
{:type :invoke, :f :write, :value 2, :process 29, :time 50889967614, :index 17780}
{:type :fail, :f :write, :value 2, :process 29, :time 50891756921, :error :connect, :index 17781}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 50909106357, :index 17787}
{:type :invoke, :f :cas, :value [2 4], :process 21, :time 50909850193, :index 17789}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 50911062870, :error :connect, :index 17792}
{:type :fail, :f :cas, :value [2 4], :process 21, :time 50911624954, :error :connect, :index 17793}
{:type :invoke, :f :write, :value 1, :process 6, :time 50913183150, :index 17794}
{:type :fail, :f :write, :value 1, :process 6, :time 50915007629, :error :connect, :index 17795}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 50915587321, :index 17796}
{:type :invoke, :f :write, :value 4, :process 22, :time 50917079442, :index 17798}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 50917475230, :error :connect, :index 17799}
{:type :fail, :f :write, :value 4, :process 22, :time 50919293440, :error :connect, :index 17801}
{:type :invoke, :f :cas, :value [2 1], :process 29, :time 50961025394, :index 17810}
{:type :invoke, :f :read, :value nil, :process 8, :time 50961542784, :index 17811}
{:type :fail, :f :cas, :value [2 1], :process 29, :time 50962864276, :error :connect, :index 17812}
{:type :fail, :f :read, :value nil, :process 8, :time 50963497362, :error :connect, :index 17813}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 51014306536, :index 17828}
{:type :fail, :f :cas, :value [1 3], :process 7, :time 51016316564, :error :connect, :index 17829}
{:type :invoke, :f :read, :value nil, :process 5, :time 51016316172, :index 17830}
{:type :fail, :f :read, :value nil, :process 5, :time 51018408378, :error :connect, :index 17831}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 51022270591, :index 17832}
{:type :fail, :f :cas, :value [1 3], :process 6, :time 51024052668, :error :connect, :index 17833}
{:type :invoke, :f :read, :value nil, :process 5, :time 51032667281, :index 17838}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 51033935304, :index 17840}
{:type :fail, :f :read, :value nil, :process 5, :time 51034575808, :error :connect, :index 17841}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 51035615275, :error :connect, :index 17843}
{:type :invoke, :f :write, :value 0, :process 29, :time 51040134909, :index 17844}
{:type :fail, :f :write, :value 0, :process 29, :time 51041829646, :error :connect, :index 17846}
{:type :invoke, :f :write, :value 4, :process 4, :time 51048888443, :index 17849}
{:type :fail, :f :write, :value 4, :process 4, :time 51050701009, :error :connect, :index 17851}
{:type :invoke, :f :write, :value 1, :process 4, :time 51055950314, :index 17852}
{:type :fail, :f :write, :value 1, :process 4, :time 51057958125, :error :connect, :index 17853}
{:type :invoke, :f :write, :value 1, :process 6, :time 51058322160, :index 17854}
{:type :fail, :f :write, :value 1, :process 6, :time 51060414108, :error :connect, :index 17856}
{:type :invoke, :f :write, :value 3, :process 21, :time 51061914775, :index 17858}
{:type :fail, :f :write, :value 3, :process 21, :time 51064237495, :error :connect, :index 17861}
{:type :invoke, :f :read, :value nil, :process 0, :time 51064270483, :index 17862}
{:type :fail, :f :read, :value nil, :process 0, :time 51066344596, :error :connect, :index 17863}
{:type :invoke, :f :write, :value 3, :process 3, :time 51067748001, :index 17864}
{:type :fail, :f :write, :value 3, :process 3, :time 51069673615, :error :connect, :index 17865}
{:type :invoke, :f :write, :value 3, :process 22, :time 51073550737, :index 17866}
{:type :fail, :f :write, :value 3, :process 22, :time 51075503387, :error :connect, :index 17867}
{:type :invoke, :f :write, :value 1, :process 8, :time 51077769717, :index 17869}
{:type :fail, :f :write, :value 1, :process 8, :time 51079596189, :error :connect, :index 17872}
{:type :invoke, :f :read, :value nil, :process 6, :time 51101696782, :index 17881}
{:type :fail, :f :read, :value nil, :process 6, :time 51103675173, :error :connect, :index 17883}
{:type :invoke, :f :read, :value nil, :process 8, :time 51107859082, :index 17884}
{:type :invoke, :f :write, :value 4, :process 5, :time 51109881121, :index 17885}
{:type :fail, :f :read, :value nil, :process 8, :time 51110064095, :error :connect, :index 17886}
{:type :fail, :f :write, :value 4, :process 5, :time 51111952970, :error :connect, :index 17887}
{:type :invoke, :f :cas, :value [4 1], :process 29, :time 51135105867, :index 17893}
{:type :fail, :f :cas, :value [4 1], :process 29, :time 51136948740, :error :connect, :index 17895}
{:type :invoke, :f :write, :value 4, :process 21, :time 51148389861, :index 17896}
{:type :fail, :f :write, :value 4, :process 21, :time 51150353473, :error :connect, :index 17897}
{:type :invoke, :f :read, :value nil, :process 29, :time 51176170007, :index 17902}
{:type :fail, :f :read, :value nil, :process 29, :time 51177668601, :error :connect, :index 17903}
{:type :invoke, :f :write, :value 2, :process 7, :time 51194626995, :index 17908}
{:type :fail, :f :write, :value 2, :process 7, :time 51196414677, :error :connect, :index 17909}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 51199859959, :index 17910}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 51201820625, :error :connect, :index 17912}
{:type :invoke, :f :read, :value nil, :process 0, :time 51207656761, :index 17914}
{:type :fail, :f :read, :value nil, :process 0, :time 51209741606, :error :connect, :index 17915}
{:type :invoke, :f :read, :value nil, :process 22, :time 51217799268, :index 17916}
{:type :fail, :f :read, :value nil, :process 22, :time 51219418330, :error :connect, :index 17917}
{:type :invoke, :f :write, :value 3, :process 7, :time 51227786230, :index 17921}
{:type :invoke, :f :read, :value nil, :process 4, :time 51228234665, :index 17922}
{:type :fail, :f :write, :value 3, :process 7, :time 51229731649, :error :connect, :index 17924}
{:type :fail, :f :read, :value nil, :process 4, :time 51230058747, :error :connect, :index 17925}
{:type :invoke, :f :write, :value 3, :process 5, :time 51237217523, :index 17930}
{:type :fail, :f :write, :value 3, :process 5, :time 51239222518, :error :connect, :index 17931}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 51253101027, :index 17936}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 51255215317, :error :connect, :index 17937}
{:type :invoke, :f :write, :value 0, :process 3, :time 51256939695, :index 17938}
{:type :fail, :f :write, :value 0, :process 3, :time 51258732749, :error :connect, :index 17940}
{:type :invoke, :f :read, :value nil, :process 8, :time 51289290657, :index 17956}
{:type :fail, :f :read, :value nil, :process 8, :time 51291142204, :error :connect, :index 17957}
{:type :invoke, :f :write, :value 3, :process 0, :time 51298001785, :index 17959}
{:type :fail, :f :write, :value 3, :process 0, :time 51300203340, :error :connect, :index 17961}
{:type :invoke, :f :cas, :value [0 3], :process 21, :time 51327614121, :index 17968}
{:type :fail, :f :cas, :value [0 3], :process 21, :time 51329593485, :error :connect, :index 17969}
{:type :invoke, :f :write, :value 0, :process 29, :time 51354942155, :index 17982}
{:type :fail, :f :write, :value 0, :process 29, :time 51357008396, :error :connect, :index 17984}
{:type :invoke, :f :cas, :value [0 3], :process 22, :time 51373687385, :index 17986}
{:type :fail, :f :cas, :value [0 3], :process 22, :time 51375757980, :error :connect, :index 17987}
{:type :invoke, :f :write, :value 0, :process 7, :time 51394982731, :index 17998}
{:type :fail, :f :write, :value 0, :process 7, :time 51396652084, :error :connect, :index 17999}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
