{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :invoke, :f :read, :value nil, :process 10, :time 52533392090, :index 18452}
{:type :fail, :f :read, :value nil, :process 10, :time 52535227938, :error :connect, :index 18455}
{:type :invoke, :f :write, :value 3, :process 37, :time 52554876354, :index 18466}
{:type :fail, :f :write, :value 3, :process 37, :time 52556878991, :error :connect, :index 18467}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 52567436961, :index 18470}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 52569520922, :error :connect, :index 18471}
{:type :invoke, :f :read, :value nil, :process 15, :time 52593781567, :index 18482}
{:type :fail, :f :read, :value nil, :process 15, :time 52595778051, :error :connect, :index 18483}
{:type :invoke, :f :read, :value nil, :process 10, :time 52600479559, :index 18484}
{:type :fail, :f :read, :value nil, :process 10, :time 52602446300, :error :connect, :index 18485}
{:type :invoke, :f :cas, :value [2 2], :process 34, :time 52613032296, :index 18490}
{:type :fail, :f :cas, :value [2 2], :process 34, :time 52614584452, :error :connect, :index 18491}
{:type :invoke, :f :read, :value nil, :process 10, :time 52617704699, :index 18492}
{:type :fail, :f :read, :value nil, :process 10, :time 52619528043, :error :connect, :index 18493}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 52659855035, :index 18504}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 52661952876, :error :connect, :index 18505}
{:type :invoke, :f :read, :value nil, :process 10, :time 52667781633, :index 18506}
{:type :fail, :f :read, :value nil, :process 10, :time 52669617447, :error :connect, :index 18507}
{:type :invoke, :f :write, :value 0, :process 36, :time 52675499774, :index 18510}
{:type :invoke, :f :read, :value nil, :process 11, :time 52675729813, :index 18511}
{:type :fail, :f :write, :value 0, :process 36, :time 52677572662, :error :connect, :index 18512}
{:type :fail, :f :read, :value nil, :process 11, :time 52677690444, :error :connect, :index 18513}
{:type :invoke, :f :read, :value nil, :process 37, :time 52722148405, :index 18524}
{:type :invoke, :f :write, :value 0, :process 32, :time 52723368472, :index 18525}
{:type :fail, :f :read, :value nil, :process 37, :time 52724058455, :error :connect, :index 18526}
{:type :fail, :f :write, :value 0, :process 32, :time 52725225469, :error :connect, :index 18527}
{:type :invoke, :f :cas, :value [2 3], :process 18, :time 52740433745, :index 18534}
{:type :fail, :f :cas, :value [2 3], :process 18, :time 52742068605, :error :connect, :index 18535}
{:type :invoke, :f :write, :value 4, :process 39, :time 52753335736, :index 18538}
{:type :fail, :f :write, :value 4, :process 39, :time 52755048465, :error :connect, :index 18541}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 52765038233, :index 18547}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 52767182103, :error :connect, :index 18549}
{:type :invoke, :f :read, :value nil, :process 34, :time 52774874703, :index 18552}
{:type :fail, :f :read, :value nil, :process 34, :time 52776735381, :error :connect, :index 18554}
{:type :invoke, :f :cas, :value [3 2], :process 36, :time 52792849397, :index 18556}
{:type :fail, :f :cas, :value [3 2], :process 36, :time 52794510196, :error :connect, :index 18557}
{:type :invoke, :f :write, :value 4, :process 10, :time 52799876629, :index 18558}
{:type :fail, :f :write, :value 4, :process 10, :time 52801746973, :error :connect, :index 18559}
{:type :invoke, :f :write, :value 1, :process 36, :time 52822782468, :index 18566}
{:type :fail, :f :write, :value 1, :process 36, :time 52824620794, :error :connect, :index 18568}
{:type :invoke, :f :write, :value 2, :process 33, :time 52834214049, :index 18570}
{:type :fail, :f :write, :value 2, :process 33, :time 52836135177, :error :connect, :index 18571}
{:type :invoke, :f :write, :value 4, :process 37, :time 52838318228, :index 18572}
{:type :fail, :f :write, :value 4, :process 37, :time 52840182249, :error :connect, :index 18573}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 52854439922, :index 18576}
{:type :fail, :f :cas, :value [0 0], :process 15, :time 52856571649, :error :connect, :index 18577}
{:type :invoke, :f :write, :value 1, :process 11, :time 52873939615, :index 18578}
{:type :invoke, :f :cas, :value [0 4], :process 32, :time 52875486734, :index 18579}
{:type :fail, :f :write, :value 1, :process 11, :time 52875900595, :error :connect, :index 18580}
{:type :fail, :f :cas, :value [0 4], :process 32, :time 52877789274, :error :connect, :index 18582}
{:type :invoke, :f :write, :value 0, :process 18, :time 52891351852, :index 18585}
{:type :fail, :f :write, :value 0, :process 18, :time 52893374076, :error :connect, :index 18587}
{:type :invoke, :f :write, :value 1, :process 36, :time 52921890374, :index 18594}
{:type :fail, :f :write, :value 1, :process 36, :time 52923689252, :error :connect, :index 18595}
{:type :invoke, :f :read, :value nil, :process 32, :time 52925055694, :index 18596}
{:type :fail, :f :read, :value nil, :process 32, :time 52926941792, :error :connect, :index 18597}
{:type :invoke, :f :cas, :value [2 3], :process 39, :time 52928313109, :index 18598}
{:type :invoke, :f :write, :value 0, :process 36, :time 52928955367, :index 18599}
{:type :fail, :f :cas, :value [2 3], :process 39, :time 52930313711, :error :connect, :index 18601}
{:type :fail, :f :write, :value 0, :process 36, :time 52930792430, :error :connect, :index 18602}
{:type :invoke, :f :read, :value nil, :process 32, :time 52937214386, :index 18604}
{:type :fail, :f :read, :value nil, :process 32, :time 52939033987, :error :connect, :index 18606}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 52939030263, :index 18607}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 52940855907, :error :connect, :index 18609}
{:type :invoke, :f :cas, :value [0 0], :process 34, :time 52947997227, :index 18612}
{:type :fail, :f :cas, :value [0 0], :process 34, :time 52949970062, :error :connect, :index 18613}
{:type :invoke, :f :cas, :value [2 2], :process 11, :time 52967154856, :index 18618}
{:type :fail, :f :cas, :value [2 2], :process 11, :time 52969114169, :error :connect, :index 18619}
{:type :invoke, :f :write, :value 0, :process 18, :time 52983569877, :index 18624}
{:type :fail, :f :write, :value 0, :process 18, :time 52985444606, :error :connect, :index 18626}
{:type :invoke, :f :cas, :value [1 4], :process 18, :time 52998718581, :index 18630}
{:type :fail, :f :cas, :value [1 4], :process 18, :time 53000802776, :error :connect, :index 18631}
{:type :invoke, :f :write, :value 3, :process 15, :time 53009834312, :index 18632}
{:type :fail, :f :write, :value 3, :process 15, :time 53011632583, :error :connect, :index 18633}
{:type :invoke, :f :cas, :value [3 4], :process 33, :time 53024331939, :index 18638}
{:type :fail, :f :cas, :value [3 4], :process 33, :time 53026180274, :error :connect, :index 18639}
{:type :invoke, :f :cas, :value [4 3], :process 37, :time 53030448884, :index 18642}
{:type :fail, :f :cas, :value [4 3], :process 37, :time 53032352654, :error :connect, :index 18643}
{:type :invoke, :f :write, :value 0, :process 11, :time 53036384712, :index 18644}
{:type :fail, :f :write, :value 0, :process 11, :time 53038179276, :error :connect, :index 18645}
{:type :invoke, :f :cas, :value [1 0], :process 15, :time 53060898411, :index 18648}
{:type :fail, :f :cas, :value [1 0], :process 15, :time 53062949690, :error :connect, :index 18649}
{:type :invoke, :f :read, :value nil, :process 32, :time 53074368119, :index 18654}
{:type :fail, :f :read, :value nil, :process 32, :time 53076278881, :error :connect, :index 18655}
{:type :invoke, :f :read, :value nil, :process 15, :time 53081218070, :index 18656}
{:type :fail, :f :read, :value nil, :process 15, :time 53082851154, :error :connect, :index 18657}
{:type :invoke, :f :cas, :value [2 1], :process 18, :time 53095068076, :index 18658}
{:type :fail, :f :cas, :value [2 1], :process 18, :time 53096999580, :error :connect, :index 18659}
{:type :invoke, :f :read, :value nil, :process 36, :time 53105058011, :index 18662}
{:type :fail, :f :read, :value nil, :process 36, :time 53107165548, :error :connect, :index 18663}
{:type :invoke, :f :read, :value nil, :process 39, :time 53110590692, :index 18667}
{:type :fail, :f :read, :value nil, :process 39, :time 53112529365, :error :connect, :index 18669}
{:type :invoke, :f :write, :value 0, :process 10, :time 53126119457, :index 18670}
{:type :invoke, :f :write, :value 4, :process 15, :time 53127109442, :index 18671}
{:type :fail, :f :write, :value 0, :process 10, :time 53127782381, :error :connect, :index 18672}
{:type :fail, :f :write, :value 4, :process 15, :time 53128923228, :error :connect, :index 18673}
{:type :invoke, :f :read, :value nil, :process 34, :time 53138241218, :index 18677}
{:type :fail, :f :read, :value nil, :process 34, :time 53140093987, :error :connect, :index 18679}
{:type :invoke, :f :write, :value 4, :process 39, :time 53145813277, :index 18682}
{:type :fail, :f :write, :value 4, :process 39, :time 53147663554, :error :connect, :index 18683}
{:type :invoke, :f :write, :value 3, :process 39, :time 53165930393, :index 18685}
{:type :fail, :f :write, :value 3, :process 39, :time 53168127564, :error :connect, :index 18687}
{:type :invoke, :f :read, :value nil, :process 33, :time 53179446068, :index 18688}
{:type :fail, :f :read, :value nil, :process 33, :time 53181347115, :error :connect, :index 18689}
{:type :invoke, :f :cas, :value [4 0], :process 11, :time 53183454769, :index 18690}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 53184050895, :index 18691}
{:type :fail, :f :cas, :value [4 0], :process 11, :time 53185164017, :error :connect, :index 18692}
{:type :fail, :f :cas, :value [2 1], :process 10, :time 53185848206, :error :connect, :index 18693}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 53199113074, :index 18700}
{:type :fail, :f :cas, :value [0 3], :process 10, :time 53201022421, :error :connect, :index 18701}
{:type :invoke, :f :write, :value 2, :process 37, :time 53203625853, :index 18702}
{:type :fail, :f :write, :value 2, :process 37, :time 53205706152, :error :connect, :index 18703}
{:type :invoke, :f :read, :value nil, :process 39, :time 53213392198, :index 18704}
{:type :fail, :f :read, :value nil, :process 39, :time 53214987145, :error :connect, :index 18705}
{:type :invoke, :f :read, :value nil, :process 32, :time 53226548720, :index 18710}
{:type :fail, :f :read, :value nil, :process 32, :time 53228628176, :error :connect, :index 18713}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 53234961274, :index 18714}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 53236966396, :error :connect, :index 18715}
{:type :invoke, :f :write, :value 4, :process 37, :time 53241206578, :index 18716}
{:type :fail, :f :write, :value 4, :process 37, :time 53243009355, :error :connect, :index 18717}
{:type :invoke, :f :cas, :value [2 0], :process 15, :time 53266184062, :index 18726}
{:type :fail, :f :cas, :value [2 0], :process 15, :time 53267839235, :error :connect, :index 18727}
{:type :invoke, :f :read, :value nil, :process 37, :time 53284272715, :index 18730}
{:type :invoke, :f :cas, :value [4 4], :process 18, :time 53284275842, :index 18731}
{:type :fail, :f :read, :value nil, :process 37, :time 53286318553, :error :connect, :index 18732}
{:type :fail, :f :cas, :value [4 4], :process 18, :time 53286406625, :error :connect, :index 18733}
{:type :invoke, :f :cas, :value [1 4], :process 36, :time 53291427291, :index 18736}
{:type :invoke, :f :cas, :value [4 2], :process 34, :time 53292352995, :index 18738}
{:type :fail, :f :cas, :value [1 4], :process 36, :time 53293515319, :error :connect, :index 18739}
{:type :fail, :f :cas, :value [4 2], :process 34, :time 53294496680, :error :connect, :index 18741}
{:type :invoke, :f :write, :value 2, :process 15, :time 53339104360, :index 18756}
{:type :fail, :f :write, :value 2, :process 15, :time 53340936693, :error :connect, :index 18758}
{:type :invoke, :f :read, :value nil, :process 34, :time 53349750567, :index 18760}
{:type :fail, :f :read, :value nil, :process 34, :time 53351763201, :error :connect, :index 18761}
{:type :invoke, :f :read, :value nil, :process 33, :time 53355617938, :index 18762}
{:type :fail, :f :read, :value nil, :process 33, :time 53357800569, :error :connect, :index 18764}
{:type :invoke, :f :read, :value nil, :process 39, :time 53375290611, :index 18772}
{:type :fail, :f :read, :value nil, :process 39, :time 53377070382, :error :connect, :index 18773}
{:type :invoke, :f :read, :value nil, :process 10, :time 53377286604, :index 18774}
{:type :fail, :f :read, :value nil, :process 10, :time 53379279010, :error :connect, :index 18775}
{:type :invoke, :f :read, :value nil, :process 11, :time 53381444735, :index 18777}
{:type :fail, :f :read, :value nil, :process 11, :time 53383228488, :error :connect, :index 18779}
{:type :invoke, :f :read, :value nil, :process 32, :time 53394880979, :index 18780}
{:type :invoke, :f :write, :value 3, :process 18, :time 53395662492, :index 18781}
{:type :fail, :f :read, :value nil, :process 32, :time 53396728044, :error :connect, :index 18782}
{:type :fail, :f :write, :value 3, :process 18, :time 53397522796, :error :connect, :index 18783}
{:type :invoke, :f :write, :value 0, :process 36, :time 53402789330, :index 18784}
{:type :fail, :f :write, :value 0, :process 36, :time 53404549767, :error :connect, :index 18785}
{:type :invoke, :f :write, :value 3, :process 39, :time 53440340340, :index 18787}
{:type :fail, :f :write, :value 3, :process 39, :time 53442194795, :error :connect, :index 18789}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 53457214905, :index 18795}
{:type :fail, :f :cas, :value [0 0], :process 15, :time 53459288765, :error :connect, :index 18797}
{:type :invoke, :f :cas, :value [4 3], :process 37, :time 53464602517, :index 18798}
{:type :fail, :f :cas, :value [4 3], :process 37, :time 53466239030, :error :connect, :index 18799}
{:type :invoke, :f :write, :value 3, :process 33, :time 53482034155, :index 18802}
{:type :invoke, :f :write, :value 4, :process 34, :time 53482031355, :index 18803}
{:type :fail, :f :write, :value 3, :process 33, :time 53483878237, :error :connect, :index 18804}
{:type :fail, :f :write, :value 4, :process 34, :time 53484208868, :error :connect, :index 18805}
{:type :invoke, :f :write, :value 4, :process 36, :time 53500813422, :index 18812}
{:type :fail, :f :write, :value 4, :process 36, :time 53502824014, :error :connect, :index 18814}
{:type :invoke, :f :read, :value nil, :process 11, :time 53521504258, :index 18824}
{:type :fail, :f :read, :value nil, :process 11, :time 53523125529, :error :connect, :index 18825}
{:type :invoke, :f :read, :value nil, :process 39, :time 53541445220, :index 18828}
{:type :fail, :f :read, :value nil, :process 39, :time 53543239644, :error :connect, :index 18830}
{:type :invoke, :f :write, :value 2, :process 33, :time 53546139232, :index 18832}
{:type :fail, :f :write, :value 2, :process 33, :time 53547968070, :error :connect, :index 18833}
{:type :invoke, :f :cas, :value [0 1], :process 18, :time 53564779022, :index 18836}
{:type :fail, :f :cas, :value [0 1], :process 18, :time 53566648604, :error :connect, :index 18837}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 53567507783, :index 18838}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 53568554655, :index 18839}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 53569376077, :error :connect, :index 18840}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 53570385219, :error :connect, :index 18841}
{:type :invoke, :f :read, :value nil, :process 18, :time 53575939524, :index 18842}
{:type :fail, :f :read, :value nil, :process 18, :time 53577681083, :error :connect, :index 18844}
{:type :invoke, :f :write, :value 2, :process 32, :time 53582992097, :index 18850}
{:type :fail, :f :write, :value 2, :process 32, :time 53584764284, :error :connect, :index 18851}
{:type :invoke, :f :read, :value nil, :process 15, :time 53613534664, :index 18860}
{:type :fail, :f :read, :value nil, :process 15, :time 53615395386, :error :connect, :index 18862}
{:type :invoke, :f :write, :value 0, :process 39, :time 53636499744, :index 18868}
{:type :fail, :f :write, :value 0, :process 39, :time 53638511514, :error :connect, :index 18869}
{:type :invoke, :f :read, :value nil, :process 34, :time 53644443941, :index 18870}
{:type :fail, :f :read, :value nil, :process 34, :time 53646238584, :error :connect, :index 18871}
{:type :invoke, :f :read, :value nil, :process 36, :time 53669090654, :index 18876}
{:type :fail, :f :read, :value nil, :process 36, :time 53670897809, :error :connect, :index 18877}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 53672778334, :index 18880}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 53674435743, :error :connect, :index 18881}
{:type :invoke, :f :write, :value 2, :process 18, :time 53695964352, :index 18886}
{:type :fail, :f :write, :value 2, :process 18, :time 53698092240, :error :connect, :index 18887}
{:type :invoke, :f :write, :value 1, :process 33, :time 53699250828, :index 18888}
{:type :fail, :f :write, :value 1, :process 33, :time 53701357795, :error :connect, :index 18890}
{:type :invoke, :f :read, :value nil, :process 37, :time 53701647530, :index 18891}
{:type :invoke, :f :write, :value 0, :process 11, :time 53703389551, :index 18893}
{:type :fail, :f :read, :value nil, :process 37, :time 53703728478, :error :connect, :index 18894}
{:type :invoke, :f :write, :value 2, :process 10, :time 53704649268, :index 18895}
{:type :fail, :f :write, :value 0, :process 11, :time 53705502104, :error :connect, :index 18896}
{:type :fail, :f :write, :value 2, :process 10, :time 53706629445, :error :connect, :index 18897}
{:type :invoke, :f :cas, :value [0 0], :process 32, :time 53722040117, :index 18898}
{:type :fail, :f :cas, :value [0 0], :process 32, :time 53723925125, :error :connect, :index 18899}
{:type :invoke, :f :read, :value nil, :process 15, :time 53776660023, :index 18927}
{:type :fail, :f :read, :value nil, :process 15, :time 53778933304, :error :connect, :index 18930}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
