{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :invoke, :f :read, :value nil, :process 16, :time 6774976874, :index 1982}
{:type :ok, :f :read, :value nil, :process 16, :time 6781801199, :index 1983}
{:type :invoke, :f :read, :value nil, :process 16, :time 6781978585, :index 1984}
{:type :ok, :f :read, :value nil, :process 16, :time 6787280560, :index 1985}
{:type :invoke, :f :cas, :value [1 1], :process 11, :time 6840366379, :index 2002}
{:type :fail, :f :cas, :value [1 1], :process 11, :time 6845602900, :error :not-found, :index 2005}
{:type :invoke, :f :write, :value 2, :process 11, :time 6846853067, :index 2006}
{:type :ok, :f :write, :value 2, :process 11, :time 6852363388, :index 2007}
{:type :invoke, :f :write, :value 3, :process 13, :time 6907106133, :index 2016}
{:type :ok, :f :write, :value 3, :process 13, :time 6911360757, :index 2017}
{:type :invoke, :f :write, :value 0, :process 19, :time 6929819104, :index 2019}
{:type :ok, :f :write, :value 0, :process 19, :time 6934751103, :index 2021}
{:type :invoke, :f :read, :value nil, :process 14, :time 6935123640, :index 2022}
{:type :ok, :f :read, :value 0, :process 14, :time 6940549591, :index 2023}
{:type :invoke, :f :write, :value 0, :process 16, :time 6977087012, :index 2031}
{:type :ok, :f :write, :value 0, :process 16, :time 6982227385, :index 2033}
{:type :invoke, :f :read, :value nil, :process 11, :time 6984668284, :index 2034}
{:type :ok, :f :read, :value 0, :process 11, :time 6990117890, :index 2036}
{:type :invoke, :f :cas, :value [3 0], :process 11, :time 7001381029, :index 2038}
{:type :fail, :f :cas, :value [3 0], :process 11, :time 7006412657, :index 2039}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 7007621310, :index 2040}
{:type :ok, :f :cas, :value [0 4], :process 13, :time 7011732902, :index 2041}
{:type :invoke, :f :read, :value nil, :process 18, :time 7032652634, :index 2044}
{:type :ok, :f :read, :value 4, :process 18, :time 7037617221, :index 2045}
{:type :invoke, :f :write, :value 4, :process 11, :time 7059674959, :index 2046}
{:type :ok, :f :write, :value 4, :process 11, :time 7064528608, :index 2047}
{:type :invoke, :f :write, :value 3, :process 13, :time 7070996820, :index 2048}
{:type :ok, :f :write, :value 3, :process 13, :time 7075785785, :index 2050}
{:type :invoke, :f :write, :value 3, :process 19, :time 7095011035, :index 2053}
{:type :ok, :f :write, :value 3, :process 19, :time 7100032345, :index 2055}
{:type :invoke, :f :read, :value nil, :process 14, :time 7116812458, :index 2058}
{:type :ok, :f :read, :value 3, :process 14, :time 7121886130, :index 2059}
{:type :invoke, :f :write, :value 4, :process 13, :time 7136043515, :index 2062}
{:type :invoke, :f :write, :value 3, :process 16, :time 7136561495, :index 2063}
{:type :ok, :f :write, :value 4, :process 13, :time 7140714318, :index 2065}
{:type :ok, :f :write, :value 3, :process 16, :time 7142180521, :index 2066}
{:type :invoke, :f :read, :value nil, :process 11, :time 7155787448, :index 2068}
{:type :invoke, :f :write, :value 1, :process 18, :time 7158877611, :index 2070}
{:type :ok, :f :read, :value 3, :process 11, :time 7160917460, :index 2071}
{:type :ok, :f :write, :value 1, :process 18, :time 7163470584, :index 2073}
{:type :invoke, :f :read, :value nil, :process 19, :time 7288301167, :index 2089}
{:type :invoke, :f :write, :value 2, :process 16, :time 7297470376, :index 2090}
{:type :invoke, :f :read, :value nil, :process 14, :time 7305165664, :index 2092}
{:type :invoke, :f :cas, :value [0 1], :process 18, :time 7311760541, :index 2093}
{:type :invoke, :f :cas, :value [4 1], :process 13, :time 7320974901, :index 2095}
{:type :invoke, :f :cas, :value [3 1], :process 11, :time 7353232019, :index 2098}
{:type :fail, :f :cas, :value [4 1], :process 13, :time 7394220245, :index 2100}
{:type :ok, :f :read, :value 2, :process 14, :time 7394463905, :index 2102}
{:type :ok, :f :read, :value 1, :process 19, :time 7394689839, :index 2103}
{:type :fail, :f :cas, :value [0 1], :process 18, :time 7395027980, :index 2104}
{:type :ok, :f :write, :value 2, :process 16, :time 7395592459, :index 2107}
{:type :fail, :f :cas, :value [3 1], :process 11, :time 7396268902, :index 2109}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 7399968054, :index 2111}
{:type :fail, :f :cas, :value [0 4], :process 13, :time 7404582937, :index 2113}
{:type :invoke, :f :write, :value 1, :process 16, :time 7416832178, :index 2114}
{:type :ok, :f :write, :value 1, :process 16, :time 7422094797, :index 2115}
{:type :invoke, :f :cas, :value [3 4], :process 14, :time 7426043414, :index 2116}
{:type :fail, :f :cas, :value [3 4], :process 14, :time 7432392210, :index 2118}
{:type :invoke, :f :read, :value nil, :process 14, :time 7467649459, :index 2124}
{:type :invoke, :f :read, :value nil, :process 11, :time 7471518636, :index 2125}
{:type :ok, :f :read, :value 1, :process 14, :time 7474032697, :index 2126}
{:type :ok, :f :read, :value 1, :process 11, :time 7476572039, :index 2127}
{:type :invoke, :f :cas, :value [3 3], :process 19, :time 7502092041, :index 2134}
{:type :fail, :f :cas, :value [3 3], :process 19, :time 7507327735, :index 2135}
{:type :invoke, :f :read, :value nil, :process 16, :time 7517354221, :index 2136}
{:type :ok, :f :read, :value 1, :process 16, :time 7523038635, :index 2138}
{:type :invoke, :f :write, :value 4, :process 19, :time 7524586505, :index 2139}
{:type :ok, :f :write, :value 4, :process 19, :time 7529238681, :index 2141}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 7539348814, :index 2142}
{:type :fail, :f :cas, :value [0 4], :process 18, :time 7544623665, :index 2143}
{:type :invoke, :f :read, :value nil, :process 14, :time 7552325675, :index 2144}
{:type :ok, :f :read, :value 4, :process 14, :time 7556828704, :index 2145}
{:type :invoke, :f :read, :value nil, :process 11, :time 7565840961, :index 2146}
{:type :ok, :f :read, :value 4, :process 11, :time 7571039025, :index 2147}
{:type :invoke, :f :read, :value nil, :process 13, :time 7576840702, :index 2150}
{:type :ok, :f :read, :value 4, :process 13, :time 7581875313, :index 2151}
{:type :invoke, :f :cas, :value [4 2], :process 19, :time 7594501073, :index 2153}
{:type :ok, :f :cas, :value [4 2], :process 19, :time 7601215986, :index 2155}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 7631309630, :index 2158}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 7637072797, :index 2160}
{:type :invoke, :f :write, :value 1, :process 18, :time 7675913492, :index 2165}
{:type :ok, :f :write, :value 1, :process 18, :time 7680691539, :index 2168}
{:type :invoke, :f :cas, :value [2 4], :process 19, :time 7687485221, :index 2171}
{:type :fail, :f :cas, :value [2 4], :process 19, :time 7693598668, :index 2174}
{:type :invoke, :f :write, :value 4, :process 19, :time 7711875826, :index 2180}
{:type :ok, :f :write, :value 4, :process 19, :time 7716617455, :index 2181}
{:type :invoke, :f :cas, :value [4 0], :process 13, :time 7729155560, :index 2184}
{:type :ok, :f :cas, :value [4 0], :process 13, :time 7733316917, :index 2185}
{:type :invoke, :f :cas, :value [3 2], :process 14, :time 7750043841, :index 2190}
{:type :fail, :f :cas, :value [3 2], :process 14, :time 7755416395, :index 2191}
{:type :invoke, :f :cas, :value [4 1], :process 13, :time 7760574300, :index 2192}
{:type :fail, :f :cas, :value [4 1], :process 13, :time 7765176471, :index 2194}
{:type :invoke, :f :write, :value 2, :process 11, :time 7770302184, :index 2197}
{:type :ok, :f :write, :value 2, :process 11, :time 7775251033, :index 2199}
{:type :invoke, :f :read, :value nil, :process 13, :time 7776431309, :index 2200}
{:type :ok, :f :read, :value 2, :process 13, :time 7780970839, :index 2201}
{:type :invoke, :f :read, :value nil, :process 16, :time 7803382241, :index 2202}
{:type :ok, :f :read, :value 2, :process 16, :time 7808828140, :index 2203}
{:type :invoke, :f :read, :value nil, :process 18, :time 7820925129, :index 2205}
{:type :ok, :f :read, :value 2, :process 18, :time 7826261268, :index 2208}
{:type :invoke, :f :cas, :value [1 3], :process 14, :time 7846687846, :index 2212}
{:type :fail, :f :cas, :value [1 3], :process 14, :time 7853018803, :index 2214}
{:type :invoke, :f :write, :value 3, :process 14, :time 7869295422, :index 2220}
{:type :invoke, :f :read, :value nil, :process 11, :time 7873500316, :index 2221}
{:type :ok, :f :write, :value 3, :process 14, :time 7874296245, :index 2222}
{:type :ok, :f :read, :value 3, :process 11, :time 7878579868, :index 2224}
{:type :invoke, :f :cas, :value [1 1], :process 19, :time 7884879886, :index 2226}
{:type :fail, :f :cas, :value [1 1], :process 19, :time 7889830956, :index 2227}
{:type :invoke, :f :cas, :value [2 2], :process 13, :time 7902228281, :index 2228}
{:type :invoke, :f :read, :value nil, :process 11, :time 7904843031, :index 2229}
{:type :fail, :f :cas, :value [2 2], :process 13, :time 7907471925, :index 2230}
{:type :ok, :f :read, :value 3, :process 11, :time 7909695149, :index 2231}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 7917088875, :index 2232}
{:type :invoke, :f :write, :value 3, :process 11, :time 7917952000, :index 2233}
{:type :ok, :f :cas, :value [3 0], :process 16, :time 7923331560, :index 2234}
{:type :ok, :f :write, :value 3, :process 11, :time 7924028946, :index 2235}
{:type :invoke, :f :write, :value 0, :process 11, :time 7938287775, :index 2237}
{:type :invoke, :f :read, :value nil, :process 19, :time 7940113382, :index 2239}
{:type :ok, :f :write, :value 0, :process 11, :time 7943403021, :index 2242}
{:type :ok, :f :read, :value 0, :process 19, :time 7945133520, :index 2243}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 7966711257, :index 2247}
{:type :fail, :f :cas, :value [2 3], :process 11, :time 7972311044, :index 2249}
{:type :invoke, :f :cas, :value [4 1], :process 11, :time 8010563761, :index 2254}
{:type :fail, :f :cas, :value [4 1], :process 11, :time 8016039678, :index 2255}
{:type :invoke, :f :cas, :value [4 1], :process 19, :time 8019387757, :index 2256}
{:type :fail, :f :cas, :value [4 1], :process 19, :time 8025576694, :index 2258}
{:type :invoke, :f :read, :value nil, :process 18, :time 8025540007, :index 2259}
{:type :ok, :f :read, :value 0, :process 18, :time 8031002251, :index 2262}
{:type :invoke, :f :write, :value 2, :process 13, :time 8034764299, :index 2264}
{:type :ok, :f :write, :value 2, :process 13, :time 8039090884, :index 2266}
{:type :invoke, :f :cas, :value [3 2], :process 14, :time 8039595887, :index 2267}
{:type :invoke, :f :cas, :value [3 1], :process 16, :time 8042596619, :index 2269}
{:type :fail, :f :cas, :value [3 2], :process 14, :time 8044358786, :index 2270}
{:type :fail, :f :cas, :value [3 1], :process 16, :time 8048032718, :index 2271}
{:type :invoke, :f :write, :value 2, :process 13, :time 8058343765, :index 2272}
{:type :invoke, :f :read, :value nil, :process 11, :time 8059298574, :index 2273}
{:type :ok, :f :write, :value 2, :process 13, :time 8063031655, :index 2274}
{:type :ok, :f :read, :value 2, :process 11, :time 8064181168, :index 2275}
{:type :invoke, :f :write, :value 4, :process 18, :time 8077266962, :index 2276}
{:type :ok, :f :write, :value 4, :process 18, :time 8081865462, :index 2278}
{:type :invoke, :f :cas, :value [1 3], :process 14, :time 8122621783, :index 2283}
{:type :fail, :f :cas, :value [1 3], :process 14, :time 8127655361, :index 2285}
{:type :invoke, :f :cas, :value [4 0], :process 19, :time 8144856840, :index 2290}
{:type :invoke, :f :read, :value nil, :process 16, :time 8148291746, :index 2292}
{:type :ok, :f :cas, :value [4 0], :process 19, :time 8151329830, :index 2294}
{:type :ok, :f :read, :value 0, :process 16, :time 8152774580, :index 2295}
{:type :invoke, :f :read, :value nil, :process 19, :time 8167585940, :index 2296}
{:type :invoke, :f :read, :value nil, :process 18, :time 8171129718, :index 2297}
{:type :ok, :f :read, :value 0, :process 19, :time 8172813940, :index 2298}
{:type :ok, :f :read, :value 0, :process 18, :time 8175668433, :index 2299}
{:type :invoke, :f :cas, :value [4 0], :process 13, :time 8189305699, :index 2304}
{:type :fail, :f :cas, :value [4 0], :process 13, :time 8194228663, :index 2305}
{:type :invoke, :f :write, :value 2, :process 18, :time 8195919138, :index 2306}
{:type :ok, :f :write, :value 2, :process 18, :time 8200413505, :index 2307}
{:type :invoke, :f :cas, :value [1 1], :process 11, :time 8221431586, :index 2312}
{:type :fail, :f :cas, :value [1 1], :process 11, :time 8227291994, :index 2314}
{:type :invoke, :f :cas, :value [4 3], :process 16, :time 8256036059, :index 2316}
{:type :fail, :f :cas, :value [4 3], :process 16, :time 8261691872, :index 2318}
{:type :invoke, :f :read, :value nil, :process 16, :time 8275952282, :index 2320}
{:type :ok, :f :read, :value 2, :process 16, :time 8281125769, :index 2322}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 8304595205, :index 2328}
{:type :invoke, :f :read, :value nil, :process 18, :time 8306689259, :index 2330}
{:type :invoke, :f :write, :value 2, :process 19, :time 8307144140, :index 2331}
{:type :ok, :f :cas, :value [2 3], :process 11, :time 8310933519, :index 2332}
{:type :ok, :f :read, :value 3, :process 18, :time 8313036339, :index 2334}
{:type :ok, :f :write, :value 2, :process 19, :time 8314616424, :index 2335}
{:type :invoke, :f :cas, :value [1 2], :process 14, :time 8319923938, :index 2336}
{:type :fail, :f :cas, :value [1 2], :process 14, :time 8325678548, :index 2337}
{:type :invoke, :f :cas, :value [0 1], :process 11, :time 8345133382, :index 2341}
{:type :fail, :f :cas, :value [0 1], :process 11, :time 8351048413, :index 2345}
{:type :invoke, :f :cas, :value [1 2], :process 13, :time 8393492077, :index 2350}
{:type :fail, :f :cas, :value [1 2], :process 13, :time 8399014734, :index 2351}
{:type :invoke, :f :read, :value nil, :process 13, :time 8403284610, :index 2352}
{:type :ok, :f :read, :value 2, :process 13, :time 8407301326, :index 2353}
{:type :invoke, :f :read, :value nil, :process 18, :time 8437297259, :index 2354}
{:type :invoke, :f :cas, :value [0 3], :process 19, :time 8437916796, :index 2355}
{:type :invoke, :f :read, :value nil, :process 11, :time 8439307253, :index 2356}
{:type :ok, :f :read, :value 2, :process 18, :time 8442802031, :index 2358}
{:type :fail, :f :cas, :value [0 3], :process 19, :time 8444772928, :index 2359}
{:type :invoke, :f :cas, :value [1 2], :process 14, :time 8445940995, :index 2360}
{:type :ok, :f :read, :value 2, :process 11, :time 8446370311, :index 2361}
{:type :fail, :f :cas, :value [1 2], :process 14, :time 8451411000, :index 2364}
{:type :invoke, :f :write, :value 1, :process 16, :time 8463389812, :index 2366}
{:type :ok, :f :write, :value 1, :process 16, :time 8468786613, :index 2367}
{:type :invoke, :f :read, :value nil, :process 13, :time 8489562195, :index 2368}
{:type :ok, :f :read, :value 1, :process 13, :time 8494311550, :index 2369}
{:type :invoke, :f :write, :value 3, :process 19, :time 8496032735, :index 2370}
{:type :invoke, :f :write, :value 3, :process 18, :time 8500084501, :index 2371}
{:type :ok, :f :write, :value 3, :process 19, :time 8501609639, :index 2372}
{:type :invoke, :f :cas, :value [0 0], :process 14, :time 8504675070, :index 2373}
{:type :ok, :f :write, :value 3, :process 18, :time 8505298868, :index 2374}
{:type :fail, :f :cas, :value [0 0], :process 14, :time 8511150942, :index 2376}
{:type :invoke, :f :write, :value 3, :process 11, :time 8533653010, :index 2379}
{:type :ok, :f :write, :value 3, :process 11, :time 8539078862, :index 2381}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 8562575707, :index 2387}
{:type :invoke, :f :write, :value 4, :process 16, :time 8568065223, :index 2388}
{:type :fail, :f :cas, :value [0 4], :process 13, :time 8568307375, :index 2389}
{:type :ok, :f :write, :value 4, :process 16, :time 8573597770, :index 2390}
{:type :invoke, :f :read, :value nil, :process 19, :time 8590876038, :index 2394}
{:type :ok, :f :read, :value 4, :process 19, :time 8595341333, :index 2396}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
