{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :invoke, :f :read, :value nil, :process 21, :time 19756283522, :index 5536}
{:type :fail, :f :read, :value nil, :process 21, :time 19758161131, :error :connect, :index 5537}
{:type :invoke, :f :cas, :value [0 2], :process 7, :time 19775169455, :index 5542}
{:type :invoke, :f :write, :value 1, :process 6, :time 19775938436, :index 5543}
{:type :fail, :f :cas, :value [0 2], :process 7, :time 19777489275, :error :connect, :index 5546}
{:type :fail, :f :write, :value 1, :process 6, :time 19777855752, :error :connect, :index 5547}
{:type :invoke, :f :write, :value 0, :process 6, :time 19779097703, :index 5548}
{:type :fail, :f :write, :value 0, :process 6, :time 19781956285, :error :connect, :index 5552}
{:type :invoke, :f :write, :value 3, :process 29, :time 19789089602, :index 5558}
{:type :fail, :f :write, :value 3, :process 29, :time 19790883774, :error :connect, :index 5559}
{:type :invoke, :f :read, :value nil, :process 4, :time 19796233566, :index 5561}
{:type :fail, :f :read, :value nil, :process 4, :time 19797997591, :error :connect, :index 5563}
{:type :invoke, :f :write, :value 0, :process 29, :time 19832142581, :index 5576}
{:type :fail, :f :write, :value 0, :process 29, :time 19833772183, :error :connect, :index 5577}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 19858422549, :index 5584}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 19860468228, :error :connect, :index 5586}
{:type :invoke, :f :write, :value 0, :process 21, :time 19862765184, :index 5588}
{:type :fail, :f :write, :value 0, :process 21, :time 19864585777, :error :connect, :index 5589}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 19870625056, :index 5590}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 19872461930, :error :connect, :index 5591}
{:type :invoke, :f :write, :value 3, :process 4, :time 19877237245, :index 5594}
{:type :fail, :f :write, :value 3, :process 4, :time 19879071603, :error :connect, :index 5595}
{:type :invoke, :f :write, :value 4, :process 0, :time 19896731179, :index 5598}
{:type :fail, :f :write, :value 4, :process 0, :time 19898811982, :error :connect, :index 5599}
{:type :invoke, :f :read, :value nil, :process 5, :time 19908921290, :index 5600}
{:type :fail, :f :read, :value nil, :process 5, :time 19911019743, :error :connect, :index 5601}
{:type :invoke, :f :write, :value 2, :process 3, :time 19912856638, :index 5602}
{:type :fail, :f :write, :value 2, :process 3, :time 19914787444, :error :connect, :index 5603}
{:type :invoke, :f :cas, :value [3 0], :process 8, :time 19920952566, :index 5604}
{:type :fail, :f :cas, :value [3 0], :process 8, :time 19922841629, :error :connect, :index 5605}
{:type :invoke, :f :cas, :value [0 0], :process 8, :time 19922983842, :index 5606}
{:type :fail, :f :cas, :value [0 0], :process 8, :time 19924649904, :error :connect, :index 5608}
{:type :invoke, :f :cas, :value [2 2], :process 8, :time 19924774756, :index 5609}
{:type :fail, :f :cas, :value [2 2], :process 8, :time 19926816360, :error :connect, :index 5611}
{:type :invoke, :f :write, :value 1, :process 7, :time 19929748163, :index 5613}
{:type :fail, :f :write, :value 1, :process 7, :time 19932029468, :error :connect, :index 5615}
{:type :invoke, :f :read, :value nil, :process 6, :time 19932226656, :index 5616}
{:type :fail, :f :read, :value nil, :process 6, :time 19934102937, :error :connect, :index 5617}
{:type :invoke, :f :read, :value nil, :process 4, :time 19942332782, :index 5618}
{:type :fail, :f :read, :value nil, :process 4, :time 19944374004, :error :connect, :index 5619}
{:type :invoke, :f :write, :value 4, :process 0, :time 19950077236, :index 5620}
{:type :fail, :f :write, :value 4, :process 0, :time 19952032514, :error :connect, :index 5621}
{:type :invoke, :f :read, :value nil, :process 5, :time 19953287799, :index 5623}
{:type :fail, :f :read, :value nil, :process 5, :time 19955356619, :error :connect, :index 5625}
{:type :invoke, :f :write, :value 3, :process 0, :time 19955304036, :index 5626}
{:type :fail, :f :write, :value 3, :process 0, :time 19957123429, :error :connect, :index 5627}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 19958273267, :index 5628}
{:type :fail, :f :cas, :value [1 3], :process 7, :time 19960373605, :error :connect, :index 5630}
{:type :invoke, :f :read, :value nil, :process 21, :time 19964851604, :index 5636}
{:type :invoke, :f :write, :value 0, :process 29, :time 19965048476, :index 5637}
{:type :fail, :f :write, :value 0, :process 29, :time 19966844876, :error :connect, :index 5638}
{:type :fail, :f :read, :value nil, :process 21, :time 19966886247, :error :connect, :index 5639}
{:type :invoke, :f :write, :value 4, :process 22, :time 20006099361, :index 5646}
{:type :fail, :f :write, :value 4, :process 22, :time 20007744166, :error :connect, :index 5647}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 20012070519, :index 5650}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 20013741097, :error :connect, :index 5651}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 20027125121, :index 5656}
{:type :invoke, :f :read, :value nil, :process 3, :time 20028056178, :index 5657}
{:type :fail, :f :cas, :value [3 3], :process 29, :time 20028783425, :error :connect, :index 5658}
{:type :fail, :f :read, :value nil, :process 3, :time 20030029693, :error :connect, :index 5660}
{:type :invoke, :f :read, :value nil, :process 7, :time 20048657070, :index 5662}
{:type :fail, :f :read, :value nil, :process 7, :time 20050401033, :error :connect, :index 5663}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 20085008933, :index 5674}
{:type :invoke, :f :cas, :value [1 3], :process 21, :time 20085121978, :index 5675}
{:type :fail, :f :cas, :value [1 3], :process 21, :time 20087107063, :error :connect, :index 5676}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 20087205939, :error :connect, :index 5677}
{:type :invoke, :f :read, :value nil, :process 3, :time 20098297451, :index 5683}
{:type :fail, :f :read, :value nil, :process 3, :time 20100355845, :error :connect, :index 5685}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 20115365760, :index 5686}
{:type :fail, :f :cas, :value [4 4], :process 6, :time 20118047588, :error :connect, :index 5687}
{:type :invoke, :f :write, :value 3, :process 4, :time 20124050870, :index 5689}
{:type :fail, :f :write, :value 3, :process 4, :time 20125791619, :error :connect, :index 5691}
{:type :invoke, :f :read, :value nil, :process 29, :time 20144058704, :index 5694}
{:type :fail, :f :read, :value nil, :process 29, :time 20145832891, :error :connect, :index 5695}
{:type :invoke, :f :read, :value nil, :process 0, :time 20150381114, :index 5696}
{:type :invoke, :f :write, :value 2, :process 21, :time 20151388935, :index 5697}
{:type :fail, :f :read, :value nil, :process 0, :time 20152059717, :error :connect, :index 5698}
{:type :fail, :f :write, :value 2, :process 21, :time 20153544634, :error :connect, :index 5699}
{:type :invoke, :f :write, :value 4, :process 5, :time 20154597850, :index 5700}
{:type :fail, :f :write, :value 4, :process 5, :time 20156625125, :error :connect, :index 5701}
{:type :invoke, :f :cas, :value [0 3], :process 21, :time 20177798487, :index 5704}
{:type :fail, :f :cas, :value [0 3], :process 21, :time 20179457132, :error :connect, :index 5705}
{:type :invoke, :f :cas, :value [0 3], :process 22, :time 20196012077, :index 5710}
{:type :fail, :f :cas, :value [0 3], :process 22, :time 20197685727, :error :connect, :index 5712}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 20203468886, :index 5716}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 20205413093, :error :connect, :index 5717}
{:type :invoke, :f :write, :value 2, :process 4, :time 20228058539, :index 5720}
{:type :fail, :f :write, :value 2, :process 4, :time 20230048024, :error :connect, :index 5723}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 20232896969, :index 5724}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 20235013572, :error :connect, :index 5725}
{:type :invoke, :f :cas, :value [3 3], :process 7, :time 20239675329, :index 5728}
{:type :fail, :f :cas, :value [3 3], :process 7, :time 20241535319, :error :connect, :index 5729}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 20249598429, :index 5732}
{:type :invoke, :f :write, :value 4, :process 6, :time 20250314781, :index 5733}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 20251528395, :error :connect, :index 5734}
{:type :fail, :f :write, :value 4, :process 6, :time 20252190224, :error :connect, :index 5735}
{:type :invoke, :f :read, :value nil, :process 5, :time 20258275580, :index 5736}
{:type :fail, :f :read, :value nil, :process 5, :time 20260190145, :error :connect, :index 5737}
{:type :invoke, :f :cas, :value [1 4], :process 29, :time 20285094953, :index 5748}
{:type :fail, :f :cas, :value [1 4], :process 29, :time 20287116220, :error :connect, :index 5749}
{:type :invoke, :f :read, :value nil, :process 8, :time 20295677017, :index 5750}
{:type :fail, :f :read, :value nil, :process 8, :time 20297418563, :error :connect, :index 5752}
{:type :invoke, :f :read, :value nil, :process 21, :time 20326722816, :index 5756}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 20328324725, :index 5757}
{:type :fail, :f :read, :value nil, :process 21, :time 20328707218, :error :connect, :index 5758}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 20330453650, :error :connect, :index 5760}
{:type :invoke, :f :write, :value 4, :process 8, :time 20336675590, :index 5762}
{:type :fail, :f :write, :value 4, :process 8, :time 20338478519, :error :connect, :index 5763}
{:type :invoke, :f :read, :value nil, :process 7, :time 20339794994, :index 5764}
{:type :invoke, :f :write, :value 4, :process 3, :time 20340765265, :index 5765}
{:type :fail, :f :read, :value nil, :process 7, :time 20341705659, :error :connect, :index 5766}
{:type :fail, :f :write, :value 4, :process 3, :time 20342371094, :error :connect, :index 5767}
{:type :invoke, :f :cas, :value [4 4], :process 22, :time 20352948801, :index 5772}
{:type :fail, :f :cas, :value [4 4], :process 22, :time 20354589701, :error :connect, :index 5773}
{:type :invoke, :f :read, :value nil, :process 21, :time 20359968170, :index 5775}
{:type :fail, :f :read, :value nil, :process 21, :time 20361971603, :error :connect, :index 5777}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 20365739462, :index 5778}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 20367390236, :error :connect, :index 5779}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 20375424269, :index 5780}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 20377540951, :error :connect, :index 5781}
{:type :invoke, :f :cas, :value [4 2], :process 8, :time 20385673709, :index 5783}
{:type :fail, :f :cas, :value [4 2], :process 8, :time 20387387781, :error :connect, :index 5785}
{:type :invoke, :f :read, :value nil, :process 7, :time 20416965242, :index 5794}
{:type :fail, :f :read, :value nil, :process 7, :time 20418653227, :error :connect, :index 5796}
{:type :invoke, :f :read, :value nil, :process 29, :time 20421388065, :index 5799}
{:type :fail, :f :read, :value nil, :process 29, :time 20423439379, :error :connect, :index 5801}
{:type :invoke, :f :read, :value nil, :process 4, :time 20425301769, :index 5802}
{:type :fail, :f :read, :value nil, :process 4, :time 20427295301, :error :connect, :index 5803}
{:type :invoke, :f :read, :value nil, :process 3, :time 20428608030, :index 5804}
{:type :fail, :f :read, :value nil, :process 3, :time 20430470042, :error :connect, :index 5805}
{:type :invoke, :f :read, :value nil, :process 22, :time 20441890255, :index 5811}
{:type :fail, :f :read, :value nil, :process 22, :time 20443691977, :error :connect, :index 5812}
{:type :invoke, :f :write, :value 1, :process 5, :time 20447472908, :index 5814}
{:type :fail, :f :write, :value 1, :process 5, :time 20449506571, :error :connect, :index 5815}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 20463808684, :index 5816}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 20465726174, :error :connect, :index 5817}
{:type :invoke, :f :cas, :value [0 1], :process 0, :time 20476725348, :index 5818}
{:type :fail, :f :cas, :value [0 1], :process 0, :time 20478796321, :error :connect, :index 5820}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 20484062237, :index 5822}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 20485675133, :error :connect, :index 5823}
{:type :invoke, :f :cas, :value [3 1], :process 29, :time 20487706063, :index 5824}
{:type :fail, :f :cas, :value [3 1], :process 29, :time 20489506140, :error :connect, :index 5825}
{:type :invoke, :f :write, :value 4, :process 8, :time 20501631202, :index 5828}
{:type :fail, :f :write, :value 4, :process 8, :time 20503709575, :error :connect, :index 5829}
{:type :invoke, :f :write, :value 4, :process 22, :time 20507959947, :index 5830}
{:type :invoke, :f :write, :value 1, :process 21, :time 20509236504, :index 5831}
{:type :fail, :f :write, :value 4, :process 22, :time 20509996847, :error :connect, :index 5832}
{:type :fail, :f :write, :value 1, :process 21, :time 20511083390, :error :connect, :index 5833}
{:type :invoke, :f :write, :value 1, :process 0, :time 20538936065, :index 5834}
{:type :fail, :f :write, :value 1, :process 0, :time 20541100206, :error :connect, :index 5835}
{:type :invoke, :f :read, :value nil, :process 29, :time 20548775578, :index 5842}
{:type :fail, :f :read, :value nil, :process 29, :time 20550396634, :error :connect, :index 5845}
{:type :invoke, :f :read, :value nil, :process 7, :time 20569947190, :index 5848}
{:type :fail, :f :read, :value nil, :process 7, :time 20571861912, :error :connect, :index 5849}
{:type :invoke, :f :read, :value nil, :process 4, :time 20583570682, :index 5850}
{:type :fail, :f :read, :value nil, :process 4, :time 20585440389, :error :connect, :index 5852}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 20593677209, :index 5855}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 20595614845, :error :connect, :index 5857}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 20625012638, :index 5863}
{:type :invoke, :f :write, :value 3, :process 7, :time 20626126668, :index 5864}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 20626906413, :error :connect, :index 5865}
{:type :invoke, :f :write, :value 2, :process 8, :time 20626986502, :index 5866}
{:type :fail, :f :write, :value 3, :process 7, :time 20627929996, :error :connect, :index 5867}
{:type :fail, :f :write, :value 2, :process 8, :time 20628755561, :error :connect, :index 5868}
{:type :invoke, :f :write, :value 4, :process 5, :time 20631764486, :index 5869}
{:type :invoke, :f :write, :value 3, :process 22, :time 20632273276, :index 5870}
{:type :fail, :f :write, :value 4, :process 5, :time 20633571524, :error :connect, :index 5871}
{:type :fail, :f :write, :value 3, :process 22, :time 20634292215, :error :connect, :index 5872}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 20634425963, :index 5873}
{:type :invoke, :f :read, :value nil, :process 0, :time 20635343588, :index 5874}
{:type :fail, :f :cas, :value [0 4], :process 22, :time 20636483072, :error :connect, :index 5875}
{:type :fail, :f :read, :value nil, :process 0, :time 20637139709, :error :connect, :index 5876}
{:type :invoke, :f :write, :value 3, :process 3, :time 20638876973, :index 5877}
{:type :fail, :f :write, :value 3, :process 3, :time 20640711078, :error :connect, :index 5878}
{:type :invoke, :f :read, :value nil, :process 8, :time 20642011699, :index 5879}
{:type :fail, :f :read, :value nil, :process 8, :time 20643587465, :error :connect, :index 5880}
{:type :invoke, :f :cas, :value [0 4], :process 21, :time 20653347925, :index 5883}
{:type :invoke, :f :read, :value nil, :process 7, :time 20654196480, :index 5884}
{:type :fail, :f :cas, :value [0 4], :process 21, :time 20655276760, :error :connect, :index 5885}
{:type :fail, :f :read, :value nil, :process 7, :time 20656063264, :error :connect, :index 5886}
{:type :invoke, :f :read, :value nil, :process 0, :time 20661377641, :index 5887}
{:type :fail, :f :read, :value nil, :process 0, :time 20662961297, :error :connect, :index 5888}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 20734840946, :index 5911}
{:type :invoke, :f :write, :value 1, :process 22, :time 20735746927, :index 5912}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 20736868150, :error :connect, :index 5913}
{:type :fail, :f :write, :value 1, :process 22, :time 20737597785, :error :connect, :index 5914}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 20741846594, :index 5915}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 20743663541, :error :connect, :index 5916}
{:type :invoke, :f :cas, :value [1 4], :process 29, :time 20744638856, :index 5917}
{:type :fail, :f :cas, :value [1 4], :process 29, :time 20746219527, :error :connect, :index 5918}
{:type :invoke, :f :write, :value 4, :process 6, :time 20771179849, :index 5933}
{:type :fail, :f :write, :value 4, :process 6, :time 20772796172, :error :connect, :index 5934}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 20775702873, :index 5935}
{:type :invoke, :f :write, :value 2, :process 7, :time 20777319838, :index 5936}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 20777592821, :error :connect, :index 5937}
{:type :fail, :f :write, :value 2, :process 7, :time 20779069736, :error :connect, :index 5938}
{:type :invoke, :f :write, :value 1, :process 3, :time 20810980887, :index 5949}
{:type :fail, :f :write, :value 1, :process 3, :time 20812821742, :error :connect, :index 5950}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :invoke, :f :cas, :value [3 2], :process 21, :time 20840547575, :index 5956}
{:type :fail, :f :cas, :value [3 2], :process 21, :time 20842666706, :error :connect, :index 5957}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
