{:type :invoke, :f :write, :value 3, :process 10, :time 2403251297, :index 762}
{:type :ok, :f :write, :value 3, :process 10, :time 2408491754, :index 765}
{:type :invoke, :f :cas, :value [2 4], :process 13, :time 2426515483, :index 772}
{:type :invoke, :f :read, :value nil, :process 18, :time 2440420488, :index 774}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 2446829942, :index 776}
{:type :ok, :f :cas, :value [3 0], :process 16, :time 2452019818, :index 778}
{:type :invoke, :f :read, :value nil, :process 12, :time 2465658139, :index 784}
{:type :ok, :f :read, :value 0, :process 12, :time 2469854883, :index 785}
{:type :invoke, :f :write, :value 0, :process 19, :time 2526460446, :index 794}
{:type :invoke, :f :write, :value 4, :process 10, :time 2528760349, :index 796}
{:type :invoke, :f :read, :value nil, :process 11, :time 2530463190, :index 797}
{:type :invoke, :f :cas, :value [1 0], :process 15, :time 2557395974, :index 800}
{:type :invoke, :f :cas, :value [1 0], :process 14, :time 2584418239, :index 804}
{:type :invoke, :f :cas, :value [4 0], :process 12, :time 2595134725, :index 807}
{:type :invoke, :f :read, :value nil, :process 16, :time 2612290668, :index 808}
{:type :invoke, :f :cas, :value [0 2], :process 17, :time 2615526235, :index 809}
{:type :fail, :f :cas, :value [2 4], :process 13, :time 2867184416, :index 810}
{:type :invoke, :f :cas, :value [4 2], :process 13, :time 2880521350, :index 811}
{:type :ok, :f :cas, :value [4 0], :process 12, :time 3144235381, :index 813}
{:type :ok, :f :cas, :value [0 2], :process 17, :time 3144711718, :index 814}
{:type :ok, :f :read, :value 2, :process 18, :time 3145127993, :index 815}
{:type :fail, :f :cas, :value [1 0], :process 14, :time 3145261418, :index 816}
{:type :ok, :f :read, :value 4, :process 11, :time 3145432967, :index 817}
{:type :ok, :f :write, :value 4, :process 10, :time 3145742549, :index 819}
{:type :ok, :f :write, :value 0, :process 19, :time 3145891910, :index 820}
{:type :fail, :f :cas, :value [1 0], :process 15, :time 3147094585, :index 826}
{:type :ok, :f :read, :value 0, :process 16, :time 3147398197, :index 827}
{:type :fail, :f :cas, :value [4 2], :process 13, :time 3149066407, :index 830}
{:type :invoke, :f :write, :value 2, :process 14, :time 3149535120, :index 832}
{:type :ok, :f :write, :value 2, :process 14, :time 3154957651, :index 834}
{:type :invoke, :f :write, :value 2, :process 10, :time 3163989391, :index 837}
{:type :ok, :f :write, :value 2, :process 10, :time 3169521233, :index 839}
{:type :invoke, :f :write, :value 2, :process 12, :time 3199540950, :index 846}
{:type :invoke, :f :read, :value nil, :process 16, :time 3199690824, :index 847}
{:type :ok, :f :write, :value 2, :process 12, :time 3204780718, :index 850}
{:type :ok, :f :read, :value 2, :process 16, :time 3205294936, :index 852}
{:type :invoke, :f :read, :value nil, :process 19, :time 3236123521, :index 857}
{:type :invoke, :f :read, :value nil, :process 11, :time 3266696714, :index 872}
{:type :ok, :f :read, :value 2, :process 11, :time 3272043299, :index 873}
{:type :invoke, :f :read, :value nil, :process 14, :time 3280213390, :index 874}
{:type :invoke, :f :cas, :value [2 3], :process 17, :time 3288982293, :index 875}
{:type :ok, :f :cas, :value [2 3], :process 17, :time 3293993994, :index 876}
{:type :invoke, :f :read, :value nil, :process 17, :time 3296256808, :index 877}
{:type :ok, :f :read, :value 3, :process 17, :time 3301141964, :index 878}
{:type :invoke, :f :read, :value nil, :process 18, :time 3305392616, :index 879}
{:type :invoke, :f :write, :value 2, :process 16, :time 3309527725, :index 880}
{:type :ok, :f :read, :value 3, :process 18, :time 3311020635, :index 882}
{:type :ok, :f :write, :value 2, :process 16, :time 3314570374, :index 883}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 3322315287, :index 884}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 3328759109, :index 886}
{:type :invoke, :f :read, :value nil, :process 11, :time 3332028195, :index 888}
{:type :invoke, :f :write, :value 3, :process 15, :time 3335348579, :index 889}
{:type :invoke, :f :read, :value nil, :process 13, :time 3336306687, :index 890}
{:type :ok, :f :read, :value 2, :process 11, :time 3336930315, :index 891}
{:type :invoke, :f :read, :value nil, :process 16, :time 3337090790, :index 892}
{:type :ok, :f :write, :value 3, :process 15, :time 3341398720, :index 893}
{:type :ok, :f :read, :value 3, :process 13, :time 3341398720, :index 894}
{:type :ok, :f :read, :value 3, :process 16, :time 3341884365, :index 895}
{:type :invoke, :f :cas, :value [4 2], :process 12, :time 3362050530, :index 900}
{:type :invoke, :f :read, :value nil, :process 10, :time 3365778999, :index 901}
{:type :fail, :f :cas, :value [4 2], :process 12, :time 3366647269, :index 902}
{:type :invoke, :f :read, :value nil, :process 15, :time 3367677252, :index 903}
{:type :ok, :f :read, :value 3, :process 10, :time 3370524242, :index 904}
{:type :ok, :f :read, :value 3, :process 15, :time 3372674128, :index 905}
{:type :invoke, :f :read, :value nil, :process 11, :time 3377216052, :index 906}
{:type :ok, :f :read, :value 3, :process 11, :time 3381590709, :index 907}
{:type :invoke, :f :write, :value 2, :process 17, :time 3400398067, :index 912}
{:type :invoke, :f :write, :value 2, :process 18, :time 3403301491, :index 913}
{:type :ok, :f :write, :value 2, :process 17, :time 3405207276, :index 914}
{:type :invoke, :f :write, :value 2, :process 12, :time 3407932572, :index 916}
{:type :ok, :f :write, :value 2, :process 18, :time 3408438501, :index 917}
{:type :invoke, :f :write, :value 3, :process 18, :time 3409735426, :index 918}
{:type :ok, :f :write, :value 2, :process 12, :time 3412796393, :index 920}
{:type :ok, :f :write, :value 3, :process 18, :time 3415010977, :index 921}
{:type :invoke, :f :read, :value nil, :process 12, :time 3460034129, :index 926}
{:type :invoke, :f :write, :value 1, :process 17, :time 3462475360, :index 927}
{:type :ok, :f :read, :value 3, :process 12, :time 3464009806, :index 928}
{:type :ok, :f :write, :value 1, :process 17, :time 3466999645, :index 929}
{:type :invoke, :f :write, :value 1, :process 10, :time 3484779157, :index 938}
{:type :ok, :f :write, :value 1, :process 10, :time 3490316467, :index 941}
{:type :invoke, :f :write, :value 2, :process 15, :time 3490929473, :index 942}
{:type :ok, :f :write, :value 2, :process 15, :time 3496223800, :index 943}
{:type :invoke, :f :cas, :value [2 0], :process 11, :time 3502856258, :index 945}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 3503406279, :index 946}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 3504136474, :index 947}
{:type :ok, :f :cas, :value [2 0], :process 11, :time 3509320944, :index 949}
{:type :fail, :f :cas, :value [1 1], :process 12, :time 3509493721, :index 950}
{:type :fail, :f :cas, :value [3 0], :process 16, :time 3510100904, :index 951}
{:type :invoke, :f :cas, :value [4 3], :process 13, :time 3519718349, :index 953}
{:type :fail, :f :cas, :value [4 3], :process 13, :time 3526447655, :index 955}
{:type :invoke, :f :write, :value 2, :process 11, :time 3529593073, :index 956}
{:type :ok, :f :write, :value 2, :process 11, :time 3534303304, :index 957}
{:type :invoke, :f :read, :value nil, :process 10, :time 3551563318, :index 961}
{:type :invoke, :f :write, :value 3, :process 11, :time 3555563007, :index 963}
{:type :ok, :f :read, :value 2, :process 10, :time 3557034953, :index 964}
{:type :ok, :f :write, :value 3, :process 11, :time 3559951623, :index 965}
{:type :invoke, :f :read, :value nil, :process 16, :time 3574351943, :index 967}
{:type :ok, :f :read, :value 3, :process 16, :time 3579334853, :index 969}
{:type :invoke, :f :write, :value 2, :process 17, :time 3581261247, :index 970}
{:type :invoke, :f :write, :value 0, :process 16, :time 3582572384, :index 971}
{:type :ok, :f :write, :value 2, :process 17, :time 3585582011, :index 972}
{:type :ok, :f :write, :value 0, :process 16, :time 3587529599, :index 973}
{:type :invoke, :f :read, :value nil, :process 18, :time 3602284921, :index 977}
{:type :ok, :f :read, :value 0, :process 18, :time 3607286502, :index 978}
{:type :invoke, :f :read, :value nil, :process 11, :time 3617204799, :index 980}
{:type :ok, :f :read, :value 0, :process 11, :time 3622363749, :index 982}
{:type :invoke, :f :write, :value 1, :process 10, :time 3627315865, :index 984}
{:type :ok, :f :write, :value 1, :process 10, :time 3632058679, :index 985}
{:type :invoke, :f :cas, :value [2 1], :process 16, :time 3635793777, :index 986}
{:type :fail, :f :cas, :value [2 1], :process 16, :time 3640362769, :index 987}
{:type :invoke, :f :read, :value nil, :process 15, :time 3641487420, :index 988}
{:type :invoke, :f :read, :value nil, :process 10, :time 3643332121, :index 990}
{:type :ok, :f :read, :value 1, :process 15, :time 3647065064, :index 991}
{:type :ok, :f :read, :value 1, :process 10, :time 3648933708, :index 992}
{:type :invoke, :f :read, :value nil, :process 16, :time 3649619865, :index 994}
{:type :ok, :f :read, :value 1, :process 16, :time 3655440881, :index 995}
{:type :invoke, :f :cas, :value [1 3], :process 12, :time 3660781293, :index 997}
{:type :invoke, :f :cas, :value [2 4], :process 18, :time 3664578548, :index 999}
{:type :ok, :f :cas, :value [1 3], :process 12, :time 3664996108, :index 1000}
{:type :fail, :f :cas, :value [2 4], :process 18, :time 3671476959, :index 1003}
{:type :invoke, :f :cas, :value [0 3], :process 15, :time 3680324964, :index 1006}
{:type :fail, :f :cas, :value [0 3], :process 15, :time 3686080361, :index 1008}
{:type :invoke, :f :read, :value nil, :process 17, :time 3700840555, :index 1014}
{:type :ok, :f :read, :value 3, :process 17, :time 3706276891, :index 1015}
{:type :invoke, :f :read, :value nil, :process 13, :time 3725705636, :index 1016}
{:type :ok, :f :read, :value 3, :process 13, :time 3730832293, :index 1018}
{:type :invoke, :f :read, :value nil, :process 17, :time 3733544950, :index 1020}
{:type :ok, :f :read, :value 3, :process 17, :time 3738054199, :index 1022}
{:type :invoke, :f :read, :value nil, :process 15, :time 3744342117, :index 1024}
{:type :ok, :f :read, :value 3, :process 14, :time 3750521482, :index 1027}
{:type :ok, :f :read, :value 3, :process 19, :time 3750523762, :index 1028}
{:type :ok, :f :read, :value 3, :process 15, :time 3750980920, :index 1029}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 3754216604, :index 1031}
{:type :invoke, :f :cas, :value [4 3], :process 16, :time 3757711415, :index 1033}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 3761209992, :index 1035}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 3761626869, :index 1036}
{:type :invoke, :f :write, :value 4, :process 17, :time 3763313518, :index 1037}
{:type :invoke, :f :read, :value nil, :process 12, :time 3767247806, :index 1039}
{:type :ok, :f :write, :value 4, :process 17, :time 3767882012, :index 1040}
{:type :invoke, :f :write, :value 3, :process 14, :time 3770727275, :index 1041}
{:type :ok, :f :read, :value 4, :process 12, :time 3771783134, :index 1042}
{:type :ok, :f :write, :value 3, :process 14, :time 3775827203, :index 1043}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 3825046732, :index 1051}
{:type :fail, :f :cas, :value [1 1], :process 12, :time 3830874215, :index 1053}
{:type :invoke, :f :cas, :value [1 2], :process 18, :time 3849752356, :index 1055}
{:type :fail, :f :cas, :value [1 2], :process 18, :time 3855559241, :index 1056}
{:type :invoke, :f :write, :value 1, :process 19, :time 3872807150, :index 1059}
{:type :ok, :f :write, :value 1, :process 19, :time 3878310128, :index 1061}
{:type :invoke, :f :write, :value 3, :process 15, :time 3894221760, :index 1062}
{:type :invoke, :f :cas, :value [1 4], :process 13, :time 3898099622, :index 1063}
{:type :ok, :f :write, :value 3, :process 15, :time 3899961671, :index 1064}
{:type :fail, :f :cas, :value [1 4], :process 13, :time 3903072206, :index 1065}
{:type :invoke, :f :cas, :value [1 0], :process 17, :time 3945143766, :index 1075}
{:type :invoke, :f :write, :value 2, :process 12, :time 3947137451, :index 1077}
{:type :fail, :f :cas, :value [1 0], :process 17, :time 3950228706, :index 1079}
{:type :ok, :f :write, :value 2, :process 12, :time 3952000236, :index 1080}
{:type :invoke, :f :read, :value nil, :process 10, :time 3954473986, :index 1081}
{:type :invoke, :f :write, :value 3, :process 19, :time 3959551178, :index 1083}
{:type :ok, :f :read, :value 2, :process 10, :time 3961223793, :index 1084}
{:type :invoke, :f :read, :value nil, :process 18, :time 3963821340, :index 1086}
{:type :ok, :f :write, :value 3, :process 19, :time 3964844204, :index 1087}
{:type :invoke, :f :read, :value nil, :process 14, :time 3973088812, :index 1088}
{:type :ok, :f :read, :value 3, :process 14, :time 3978992734, :index 1090}
{:type :invoke, :f :cas, :value [3 4], :process 10, :time 4025489020, :index 1094}
{:type :ok, :f :cas, :value [3 4], :process 10, :time 4033425813, :index 1097}
{:type :invoke, :f :cas, :value [2 4], :process 13, :time 4035338672, :index 1099}
{:type :invoke, :f :read, :value nil, :process 14, :time 4049254299, :index 1100}
{:type :invoke, :f :read, :value nil, :process 17, :time 4049503466, :index 1101}
{:type :ok, :f :read, :value 4, :process 14, :time 4054281179, :index 1102}
{:type :ok, :f :read, :value 4, :process 17, :time 4054831891, :index 1103}
{:type :invoke, :f :write, :value 3, :process 15, :time 4068224212, :index 1106}
{:type :ok, :f :write, :value 3, :process 15, :time 4073829132, :index 1107}
{:type :ok, :f :read, :value 3, :process 18, :time 4100285712, :index 1109}
{:type :fail, :f :cas, :value [2 4], :process 13, :time 4101413107, :index 1111}
{:type :invoke, :f :cas, :value [3 4], :process 12, :time 4102258777, :index 1112}
{:type :ok, :f :cas, :value [3 4], :process 12, :time 4107264035, :index 1114}
{:type :invoke, :f :write, :value 4, :process 18, :time 4112521074, :index 1116}
{:type :ok, :f :write, :value 4, :process 18, :time 4117533642, :index 1118}
{:type :invoke, :f :cas, :value [0 3], :process 19, :time 4155100294, :index 1128}
{:type :fail, :f :cas, :value [0 3], :process 19, :time 4160799068, :index 1129}
{:type :invoke, :f :write, :value 2, :process 14, :time 4195539036, :index 1136}
{:type :invoke, :f :read, :value nil, :process 17, :time 4199088985, :index 1137}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 4199706403, :index 1138}
{:type :ok, :f :write, :value 2, :process 14, :time 4201179736, :index 1140}
{:type :ok, :f :read, :value 2, :process 17, :time 4203790493, :index 1142}
{:type :fail, :f :cas, :value [0 2], :process 10, :time 4206123489, :index 1143}
{:type :invoke, :f :write, :value 2, :process 15, :time 4237091004, :index 1150}
{:type :ok, :f :write, :value 2, :process 15, :time 4242346825, :index 1151}
{:type :invoke, :f :cas, :value [1 1], :process 14, :time 4259429829, :index 1154}
{:type :fail, :f :cas, :value [1 1], :process 14, :time 4265410514, :index 1155}
{:type :invoke, :f :read, :value nil, :process 12, :time 4292526532, :index 1165}
{:type :ok, :f :read, :value 2, :process 12, :time 4297202902, :index 1167}
{:type :invoke, :f :write, :value 1, :process 13, :time 4297672700, :index 1168}
{:type :ok, :f :write, :value 1, :process 13, :time 4302615359, :index 1170}
{:type :invoke, :f :write, :value 1, :process 18, :time 4313798472, :index 1173}
{:type :ok, :f :write, :value 1, :process 18, :time 4319092222, :index 1175}
{:type :invoke, :f :read, :value nil, :process 19, :time 4346062978, :index 1178}
{:type :ok, :f :read, :value 1, :process 19, :time 4350807413, :index 1180}
{:type :fail, :f :cas, :value [2 1], :process 11, :time 4398600261, :index 1197}
{:type :fail, :f :cas, :value [4 3], :process 16, :time 4398920096, :index 1198}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
