{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 46040477433, :index 7452}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 46045216971, :error :not-found, :index 7455}
{:type :invoke, :f :read, :value nil, :process 67, :time 46045786794, :index 7456}
{:type :ok, :f :read, :value nil, :process 67, :time 46050973258, :index 7459}
{:type :invoke, :f :write, :value 3, :process 40, :time 46078503686, :index 7462}
{:type :ok, :f :write, :value 3, :process 40, :time 46086695886, :index 7463}
{:type :invoke, :f :write, :value 1, :process 40, :time 46086831589, :index 7464}
{:type :ok, :f :write, :value 1, :process 40, :time 46091678263, :index 7466}
{:type :invoke, :f :write, :value 2, :process 23, :time 46134985298, :index 7478}
{:type :invoke, :f :cas, :value [4 1], :process 67, :time 46138237561, :index 7481}
{:type :ok, :f :write, :value 2, :process 23, :time 46139542715, :index 7482}
{:type :fail, :f :cas, :value [4 1], :process 67, :time 46143816269, :index 7483}
{:type :invoke, :f :cas, :value [3 0], :process 21, :time 46144719011, :index 7484}
{:type :fail, :f :cas, :value [3 0], :process 21, :time 46149620939, :index 7486}
{:type :invoke, :f :write, :value 3, :process 82, :time 46153077031, :index 7488}
{:type :ok, :f :write, :value 3, :process 82, :time 46158060651, :index 7489}
{:type :invoke, :f :read, :value nil, :process 82, :time 46189318716, :index 7494}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 46190521132, :index 7496}
{:type :ok, :f :read, :value 3, :process 82, :time 46194481449, :index 7499}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 46196589343, :index 7500}
{:type :invoke, :f :read, :value nil, :process 45, :time 46197767690, :index 7502}
{:type :invoke, :f :write, :value 2, :process 6, :time 46202474724, :index 7504}
{:type :ok, :f :read, :value 3, :process 45, :time 46203049328, :index 7505}
{:type :ok, :f :write, :value 2, :process 6, :time 46206938636, :index 7507}
{:type :invoke, :f :read, :value nil, :process 69, :time 46221398409, :index 7512}
{:type :ok, :f :read, :value 2, :process 69, :time 46227910365, :index 7515}
{:type :invoke, :f :read, :value nil, :process 82, :time 46233723248, :index 7516}
{:type :ok, :f :read, :value 2, :process 82, :time 46238862846, :index 7517}
{:type :invoke, :f :cas, :value [3 3], :process 40, :time 46248937904, :index 7518}
{:type :fail, :f :cas, :value [3 3], :process 40, :time 46254390971, :index 7519}
{:type :invoke, :f :read, :value nil, :process 28, :time 46260691219, :index 7520}
{:type :invoke, :f :write, :value 1, :process 21, :time 46264880703, :index 7521}
{:type :ok, :f :read, :value 2, :process 28, :time 46265882742, :index 7522}
{:type :ok, :f :write, :value 1, :process 21, :time 46271675297, :index 7523}
{:type :invoke, :f :write, :value 2, :process 67, :time 46274085014, :index 7525}
{:type :invoke, :f :read, :value nil, :process 40, :time 46276646307, :index 7526}
{:type :ok, :f :write, :value 2, :process 67, :time 46279194484, :index 7528}
{:type :invoke, :f :write, :value 1, :process 28, :time 46279256994, :index 7529}
{:type :ok, :f :read, :value 2, :process 40, :time 46281143617, :index 7530}
{:type :invoke, :f :write, :value 2, :process 69, :time 46281189586, :index 7531}
{:type :invoke, :f :read, :value nil, :process 40, :time 46282400335, :index 7532}
{:type :ok, :f :write, :value 1, :process 28, :time 46284841206, :index 7534}
{:type :invoke, :f :cas, :value [4 0], :process 23, :time 46284850900, :index 7535}
{:type :ok, :f :read, :value 1, :process 40, :time 46288315454, :index 7537}
{:type :ok, :f :write, :value 2, :process 69, :time 46288804092, :index 7538}
{:type :fail, :f :cas, :value [4 0], :process 23, :time 46290310205, :index 7540}
{:type :invoke, :f :write, :value 4, :process 67, :time 46295499235, :index 7543}
{:type :ok, :f :write, :value 4, :process 67, :time 46300301604, :index 7546}
{:type :invoke, :f :read, :value nil, :process 40, :time 46352590951, :index 7552}
{:type :ok, :f :read, :value 4, :process 40, :time 46358922282, :index 7556}
{:type :invoke, :f :write, :value 2, :process 4, :time 46360848465, :index 7559}
{:type :invoke, :f :write, :value 3, :process 69, :time 46369091299, :index 7561}
{:type :ok, :f :write, :value 2, :process 4, :time 46376276374, :index 7565}
{:type :invoke, :f :write, :value 1, :process 45, :time 46376438549, :index 7567}
{:type :ok, :f :write, :value 3, :process 69, :time 46378202843, :index 7568}
{:type :invoke, :f :read, :value nil, :process 21, :time 46381972862, :index 7569}
{:type :ok, :f :write, :value 1, :process 45, :time 46382146506, :index 7570}
{:type :invoke, :f :cas, :value [2 2], :process 69, :time 46384457818, :index 7571}
{:type :ok, :f :read, :value 1, :process 21, :time 46386474185, :index 7572}
{:type :fail, :f :cas, :value [2 2], :process 69, :time 46389265123, :index 7573}
{:type :invoke, :f :read, :value nil, :process 82, :time 46391129635, :index 7574}
{:type :ok, :f :read, :value 1, :process 82, :time 46396208244, :index 7575}
{:type :invoke, :f :write, :value 3, :process 6, :time 46405204045, :index 7576}
{:type :ok, :f :write, :value 3, :process 6, :time 46409596125, :index 7577}
{:type :invoke, :f :write, :value 4, :process 45, :time 46432388141, :index 7581}
{:type :invoke, :f :cas, :value [0 2], :process 67, :time 46436549389, :index 7583}
{:type :ok, :f :write, :value 4, :process 45, :time 46438082515, :index 7584}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :fail, :f :cas, :value [0 2], :process 67, :time 46442015121, :index 7588}
{:type :invoke, :f :read, :value nil, :process 23, :time 46448624196, :index 7590}
{:type :invoke, :f :write, :value 4, :process 4, :time 46451561130, :index 7591}
{:type :invoke, :f :read, :value nil, :process 69, :time 46454531152, :index 7592}
{:type :invoke, :f :write, :value 3, :process 28, :time 46457115317, :index 7593}
{:type :invoke, :f :read, :value nil, :process 40, :time 46517206633, :index 7600}
{:type :invoke, :f :cas, :value [4 4], :process 21, :time 46531735568, :index 7603}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 46540858972, :index 7604}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :invoke, :f :cas, :value [2 3], :process 82, :time 46561467442, :index 7606}
{:type :invoke, :f :cas, :value [1 1], :process 45, :time 46580379423, :index 7607}
{:type :invoke, :f :write, :value 4, :process 67, :time 46615347872, :index 7608}
{:type :ok, :f :cas, :value [4 4], :process 21, :time 47120642721, :index 7614}
{:type :ok, :f :cas, :value [4 0], :process 6, :time 47120642726, :index 7615}
{:type :ok, :f :write, :value 4, :process 4, :time 47121480044, :index 7617}
{:type :fail, :f :cas, :value [2 3], :process 82, :time 47122236582, :index 7619}
{:type :ok, :f :read, :value 4, :process 69, :time 47123695829, :index 7623}
{:type :ok, :f :write, :value 4, :process 67, :time 47124077048, :index 7624}
{:type :invoke, :f :cas, :value [0 1], :process 82, :time 47161773720, :index 7627}
{:type :fail, :f :cas, :value [0 1], :process 82, :time 47167937687, :index 7630}
{:type :invoke, :f :read, :value nil, :process 67, :time 47185344382, :index 7635}
{:type :ok, :f :read, :value 4, :process 67, :time 47191320212, :index 7637}
{:type :invoke, :f :cas, :value [2 2], :process 69, :time 47236984957, :index 7644}
{:type :fail, :f :cas, :value [2 2], :process 69, :time 47243202714, :index 7645}
{:type :invoke, :f :cas, :value [1 3], :process 21, :time 47254958943, :index 7646}
{:type :invoke, :f :read, :value nil, :process 69, :time 47257470250, :index 7647}
{:type :fail, :f :cas, :value [1 3], :process 21, :time 47259735517, :index 7648}
{:type :ok, :f :read, :value 4, :process 69, :time 47263044985, :index 7649}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 47290166827, :index 7650}
{:type :invoke, :f :read, :value nil, :process 4, :time 47290733181, :index 7651}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 47296273187, :index 7652}
{:type :ok, :f :read, :value 4, :process 4, :time 47298603433, :index 7654}
{:type :invoke, :f :write, :value 3, :process 6, :time 47298753750, :index 7655}
{:type :ok, :f :write, :value 3, :process 6, :time 47302847800, :index 7658}
{:type :invoke, :f :cas, :value [4 1], :process 21, :time 47304995315, :index 7660}
{:type :fail, :f :cas, :value [4 1], :process 21, :time 47309674125, :index 7664}
{:type :invoke, :f :write, :value 1, :process 82, :time 47313190945, :index 7665}
{:type :ok, :f :write, :value 1, :process 82, :time 47320438600, :index 7667}
{:type :invoke, :f :read, :value nil, :process 4, :time 47329847954, :index 7669}
{:type :ok, :f :read, :value 1, :process 4, :time 47335149854, :index 7672}
{:type :invoke, :f :write, :value 0, :process 4, :time 47336406034, :index 7673}
{:type :ok, :f :write, :value 0, :process 4, :time 47342344344, :index 7675}
{:type :invoke, :f :read, :value nil, :process 67, :time 47348571784, :index 7676}
{:type :ok, :f :read, :value 0, :process 67, :time 47354514933, :index 7677}
{:type :invoke, :f :cas, :value [1 0], :process 67, :time 47376681704, :index 7680}
{:type :fail, :f :cas, :value [1 0], :process 67, :time 47383129129, :index 7681}
{:type :invoke, :f :write, :value 4, :process 69, :time 47407318055, :index 7687}
{:type :ok, :f :write, :value 4, :process 69, :time 47413753201, :index 7689}
{:type :invoke, :f :write, :value 0, :process 21, :time 47451936212, :index 7696}
{:type :ok, :f :write, :value 0, :process 21, :time 47456988433, :index 7698}
{:type :invoke, :f :write, :value 2, :process 82, :time 47466700707, :index 7701}
{:type :invoke, :f :write, :value 1, :process 4, :time 47469603204, :index 7702}
{:type :ok, :f :write, :value 2, :process 82, :time 47471723397, :index 7704}
{:type :ok, :f :write, :value 1, :process 4, :time 47475212185, :index 7705}
{:type :invoke, :f :cas, :value [4 0], :process 82, :time 47476980460, :index 7706}
{:type :fail, :f :cas, :value [4 0], :process 82, :time 47482348421, :index 7708}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 47491120101, :index 7711}
{:type :fail, :f :cas, :value [0 1], :process 6, :time 47496403646, :index 7713}
{:type :invoke, :f :read, :value nil, :process 82, :time 47511613186, :index 7714}
{:type :ok, :f :read, :value 1, :process 82, :time 47517123127, :index 7715}
{:type :invoke, :f :write, :value 1, :process 67, :time 47549404030, :index 7716}
{:type :ok, :f :write, :value 1, :process 67, :time 47554816504, :index 7717}
{:type :invoke, :f :write, :value 2, :process 69, :time 47565015842, :index 7719}
{:type :ok, :f :write, :value 2, :process 69, :time 47573706804, :index 7722}
{:type :invoke, :f :write, :value 0, :process 21, :time 47581254526, :index 7724}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 47585472543, :index 7725}
{:type :ok, :f :write, :value 0, :process 21, :time 47586033817, :index 7726}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 47591824131, :index 7729}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 47602672450, :index 7730}
{:type :ok, :f :cas, :value [0 0], :process 6, :time 47607666188, :index 7731}
{:type :invoke, :f :read, :value nil, :process 69, :time 47656966714, :index 7735}
{:type :invoke, :f :write, :value 0, :process 21, :time 47658407389, :index 7736}
{:type :invoke, :f :write, :value 2, :process 6, :time 47666944299, :index 7738}
{:type :invoke, :f :read, :value nil, :process 4, :time 47679144814, :index 7741}
{:type :invoke, :f :cas, :value [4 4], :process 82, :time 47690409703, :index 7743}
{:type :invoke, :f :cas, :value [1 3], :process 67, :time 47747090827, :index 7747}
{:type :ok, :f :read, :value 0, :process 69, :time 47843347369, :index 7748}
{:type :invoke, :f :write, :value 2, :process 69, :time 47852586199, :index 7749}
{:type :fail, :f :cas, :value [1 3], :process 67, :time 48187293166, :index 7752}
{:type :ok, :f :read, :value 2, :process 4, :time 48188121886, :index 7754}
{:type :fail, :f :cas, :value [4 4], :process 82, :time 48189292217, :index 7758}
{:type :ok, :f :write, :value 2, :process 69, :time 48189579350, :index 7759}
{:type :ok, :f :write, :value 2, :process 6, :time 48189806283, :index 7760}
{:type :ok, :f :write, :value 0, :process 21, :time 48189974257, :index 7761}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 48245065815, :index 7770}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 48250345685, :index 7771}
{:type :invoke, :f :write, :value 4, :process 67, :time 48289581953, :index 7772}
{:type :ok, :f :write, :value 4, :process 67, :time 48294775536, :index 7773}
{:type :invoke, :f :cas, :value [3 1], :process 82, :time 48324595217, :index 7777}
{:type :fail, :f :cas, :value [3 1], :process 82, :time 48331597775, :index 7780}
{:type :invoke, :f :cas, :value [0 4], :process 4, :time 48337375342, :index 7782}
{:type :fail, :f :cas, :value [0 4], :process 4, :time 48342316631, :index 7783}
{:type :invoke, :f :write, :value 2, :process 69, :time 48351814589, :index 7785}
{:type :ok, :f :write, :value 2, :process 69, :time 48356813956, :index 7787}
{:type :invoke, :f :read, :value nil, :process 21, :time 48376229010, :index 7791}
{:type :invoke, :f :read, :value nil, :process 6, :time 48383616099, :index 7792}
{:type :invoke, :f :write, :value 4, :process 4, :time 48412598802, :index 7794}
{:type :invoke, :f :read, :value nil, :process 69, :time 48413097507, :index 7795}
{:type :invoke, :f :read, :value nil, :process 67, :time 48451048371, :index 7798}
{:type :invoke, :f :cas, :value [4 0], :process 82, :time 48490907725, :index 7801}
{:type :ok, :f :read, :value 2, :process 21, :time 48523877646, :index 7803}
{:type :ok, :f :read, :value 2, :process 6, :time 48524268176, :index 7804}
{:type :invoke, :f :write, :value 2, :process 21, :time 48649253526, :index 7806}
{:type :invoke, :f :read, :value nil, :process 6, :time 48723529417, :index 7807}
{:type :ok, :f :read, :value 2, :process 69, :time 49181552825, :index 7809}
{:type :ok, :f :write, :value 4, :process 4, :time 49181812254, :index 7810}
{:type :ok, :f :read, :value 2, :process 6, :time 49183092072, :index 7813}
{:type :ok, :f :write, :value 2, :process 21, :time 49183353997, :index 7814}
{:type :ok, :f :cas, :value [4 0], :process 82, :time 49183500783, :index 7815}
{:type :ok, :f :read, :value 4, :process 67, :time 49183795332, :index 7817}
{:type :invoke, :f :write, :value 0, :process 69, :time 49199965375, :index 7820}
{:type :ok, :f :write, :value 0, :process 69, :time 49205211077, :index 7823}
{:type :invoke, :f :read, :value nil, :process 69, :time 49235475325, :index 7825}
{:type :invoke, :f :write, :value 4, :process 21, :time 49240622304, :index 7826}
{:type :invoke, :f :cas, :value [2 2], :process 67, :time 49300064239, :index 7829}
{:type :invoke, :f :read, :value nil, :process 6, :time 49311355653, :index 7830}
{:type :invoke, :f :read, :value nil, :process 4, :time 49342088350, :index 7833}
{:type :invoke, :f :write, :value 0, :process 82, :time 49376763169, :index 7837}
{:type :ok, :f :write, :value 4, :process 21, :time 49408527929, :index 7838}
{:type :ok, :f :read, :value 0, :process 69, :time 49409045201, :index 7839}
{:type :ok, :f :read, :value 4, :process 6, :time 49410409481, :index 7841}
{:type :ok, :f :read, :value 4, :process 4, :time 49411048206, :index 7843}
{:type :fail, :f :cas, :value [2 2], :process 67, :time 49413478177, :index 7847}
{:type :ok, :f :write, :value 0, :process 82, :time 49413877127, :index 7850}
{:type :invoke, :f :cas, :value [0 4], :process 21, :time 49447854558, :index 7854}
{:type :ok, :f :cas, :value [0 4], :process 21, :time 49453125843, :index 7855}
{:type :invoke, :f :cas, :value [4 0], :process 69, :time 49547301829, :index 7875}
{:type :invoke, :f :write, :value 2, :process 6, :time 49597770442, :index 7879}
{:type :ok, :f :write, :value 2, :process 6, :time 49615547558, :index 7883}
{:type :fail, :f :cas, :value [4 0], :process 69, :time 49617343659, :index 7890}
{:type :fail, :f :read, :value nil, :process 23, :time 51454639263, :error :timeout, :index 8181}
{:type :info, :f :write, :value 3, :process 28, :time 51462260961, :error :timeout, :index 8184}
{:type :fail, :f :read, :value nil, :process 40, :time 51523242000, :error :timeout, :index 8193}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :cas, :value [1 1], :process 45, :time 51586374723, :error :timeout, :index 8202}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
