{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :invoke, :f :read, :value nil, :process 18, :time 41313399021, :index 14021}
{:type :fail, :f :read, :value nil, :process 18, :time 41315257157, :error :connect, :index 14022}
{:type :invoke, :f :read, :value nil, :process 33, :time 41415611364, :index 14045}
{:type :fail, :f :read, :value nil, :process 33, :time 41417505410, :error :connect, :index 14047}
{:type :invoke, :f :write, :value 4, :process 36, :time 41425043787, :index 14051}
{:type :fail, :f :write, :value 4, :process 36, :time 41426956468, :error :connect, :index 14052}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :invoke, :f :cas, :value [0 1], :process 32, :time 41450403776, :index 14058}
{:type :fail, :f :cas, :value [0 1], :process 32, :time 41452338903, :error :connect, :index 14059}
{:type :invoke, :f :write, :value 4, :process 15, :time 41457768000, :index 14062}
{:type :fail, :f :write, :value 4, :process 15, :time 41459531602, :error :connect, :index 14063}
{:type :invoke, :f :read, :value nil, :process 34, :time 41473194264, :index 14072}
{:type :fail, :f :read, :value nil, :process 34, :time 41475085616, :error :connect, :index 14074}
{:type :invoke, :f :read, :value nil, :process 33, :time 41479773270, :index 14077}
{:type :fail, :f :read, :value nil, :process 33, :time 41481418947, :error :connect, :index 14079}
{:type :invoke, :f :read, :value nil, :process 37, :time 41483857846, :index 14080}
{:type :fail, :f :read, :value nil, :process 37, :time 41485435949, :error :connect, :index 14081}
{:type :invoke, :f :cas, :value [1 0], :process 10, :time 41486360914, :index 14082}
{:type :fail, :f :cas, :value [1 0], :process 10, :time 41488160011, :error :connect, :index 14083}
{:type :invoke, :f :cas, :value [2 3], :process 18, :time 41497531406, :index 14084}
{:type :fail, :f :cas, :value [2 3], :process 18, :time 41499202253, :error :connect, :index 14085}
{:type :invoke, :f :write, :value 1, :process 34, :time 41499361197, :index 14086}
{:type :fail, :f :write, :value 1, :process 34, :time 41501051941, :error :connect, :index 14087}
{:type :invoke, :f :write, :value 2, :process 11, :time 41503495601, :index 14088}
{:type :fail, :f :write, :value 2, :process 11, :time 41505406738, :error :connect, :index 14090}
{:type :invoke, :f :write, :value 0, :process 34, :time 41512310275, :index 14092}
{:type :fail, :f :write, :value 0, :process 34, :time 41514097909, :error :connect, :index 14093}
{:type :invoke, :f :write, :value 2, :process 18, :time 41543482153, :index 14100}
{:type :fail, :f :write, :value 2, :process 18, :time 41545165163, :error :connect, :index 14101}
{:type :invoke, :f :cas, :value [0 2], :process 37, :time 41567706413, :index 14102}
{:type :fail, :f :cas, :value [0 2], :process 37, :time 41569749741, :error :connect, :index 14103}
{:type :invoke, :f :write, :value 1, :process 37, :time 41584021102, :index 14112}
{:type :fail, :f :write, :value 1, :process 37, :time 41585855759, :error :connect, :index 14113}
{:type :invoke, :f :cas, :value [3 2], :process 39, :time 41588424261, :index 14114}
{:type :fail, :f :cas, :value [3 2], :process 39, :time 41590228016, :error :connect, :index 14115}
{:type :invoke, :f :cas, :value [3 0], :process 32, :time 41599609466, :index 14116}
{:type :fail, :f :cas, :value [3 0], :process 32, :time 41601483832, :error :connect, :index 14117}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 41605655225, :index 14118}
{:type :invoke, :f :read, :value nil, :process 10, :time 41606429050, :index 14119}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 41607624967, :error :connect, :index 14120}
{:type :fail, :f :read, :value nil, :process 10, :time 41608427841, :error :connect, :index 14121}
{:type :invoke, :f :read, :value nil, :process 34, :time 41609363342, :index 14122}
{:type :fail, :f :read, :value nil, :process 34, :time 41611447468, :error :connect, :index 14124}
{:type :invoke, :f :write, :value 2, :process 37, :time 41613119877, :index 14126}
{:type :fail, :f :write, :value 2, :process 37, :time 41614891804, :error :connect, :index 14127}
{:type :invoke, :f :cas, :value [0 4], :process 36, :time 41621217462, :index 14130}
{:type :fail, :f :cas, :value [0 4], :process 36, :time 41623201627, :error :connect, :index 14131}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 41623797982, :index 14132}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 41625584082, :error :connect, :index 14133}
{:type :invoke, :f :read, :value nil, :process 33, :time 41648657728, :index 14140}
{:type :fail, :f :read, :value nil, :process 33, :time 41650836037, :error :connect, :index 14141}
{:type :invoke, :f :write, :value 4, :process 37, :time 41677155222, :index 14146}
{:type :fail, :f :write, :value 4, :process 37, :time 41679141358, :error :connect, :index 14149}
{:type :invoke, :f :read, :value nil, :process 33, :time 41683108183, :index 14152}
{:type :fail, :f :read, :value nil, :process 33, :time 41684934401, :error :connect, :index 14154}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 41689428559, :index 14156}
{:type :fail, :f :cas, :value [4 0], :process 18, :time 41691257367, :error :connect, :index 14157}
{:type :invoke, :f :read, :value nil, :process 32, :time 41708751571, :index 14158}
{:type :fail, :f :read, :value nil, :process 32, :time 41710643593, :error :connect, :index 14159}
{:type :invoke, :f :read, :value nil, :process 10, :time 41717687806, :index 14163}
{:type :fail, :f :read, :value nil, :process 10, :time 41719265071, :error :connect, :index 14166}
{:type :invoke, :f :read, :value nil, :process 15, :time 41725849172, :index 14168}
{:type :fail, :f :read, :value nil, :process 15, :time 41727866155, :error :connect, :index 14169}
{:type :invoke, :f :read, :value nil, :process 39, :time 41745502490, :index 14172}
{:type :fail, :f :read, :value nil, :process 39, :time 41747272354, :error :connect, :index 14174}
{:type :invoke, :f :write, :value 2, :process 11, :time 41762903122, :index 14180}
{:type :fail, :f :write, :value 2, :process 11, :time 41764678824, :error :connect, :index 14181}
{:type :invoke, :f :cas, :value [1 0], :process 34, :time 41767713766, :index 14182}
{:type :fail, :f :cas, :value [1 0], :process 34, :time 41769758684, :error :connect, :index 14183}
{:type :invoke, :f :read, :value nil, :process 32, :time 41769933467, :index 14184}
{:type :fail, :f :read, :value nil, :process 32, :time 41771901551, :error :connect, :index 14185}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 41773477655, :index 14186}
{:type :fail, :f :cas, :value [0 0], :process 36, :time 41775304367, :error :connect, :index 14187}
{:type :invoke, :f :write, :value 1, :process 37, :time 41781421922, :index 14193}
{:type :fail, :f :write, :value 1, :process 37, :time 41783259520, :error :connect, :index 14195}
{:type :invoke, :f :write, :value 3, :process 32, :time 41791167060, :index 14202}
{:type :fail, :f :write, :value 3, :process 32, :time 41792929085, :error :connect, :index 14203}
{:type :invoke, :f :write, :value 2, :process 11, :time 41797934244, :index 14204}
{:type :fail, :f :write, :value 2, :process 11, :time 41799775100, :error :connect, :index 14205}
{:type :invoke, :f :cas, :value [3 1], :process 32, :time 41804184324, :index 14208}
{:type :fail, :f :cas, :value [3 1], :process 32, :time 41805759655, :error :connect, :index 14209}
{:type :invoke, :f :read, :value nil, :process 34, :time 41819023835, :index 14210}
{:type :invoke, :f :write, :value 1, :process 39, :time 41820544601, :index 14211}
{:type :fail, :f :read, :value nil, :process 34, :time 41821232740, :error :connect, :index 14212}
{:type :fail, :f :write, :value 1, :process 39, :time 41822085726, :error :connect, :index 14213}
{:type :invoke, :f :read, :value nil, :process 33, :time 41846195903, :index 14214}
{:type :fail, :f :read, :value nil, :process 33, :time 41848073248, :error :connect, :index 14215}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 41877126217, :index 14218}
{:type :invoke, :f :cas, :value [3 1], :process 18, :time 41877544731, :index 14219}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 41879062828, :error :connect, :index 14221}
{:type :fail, :f :cas, :value [3 1], :process 18, :time 41879338345, :error :connect, :index 14222}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 41881513051, :index 14224}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 41883568113, :error :connect, :index 14226}
{:type :invoke, :f :write, :value 1, :process 34, :time 41884019665, :index 14227}
{:type :fail, :f :write, :value 1, :process 34, :time 41886034612, :error :connect, :index 14229}
{:type :invoke, :f :read, :value nil, :process 15, :time 41894378195, :index 14231}
{:type :fail, :f :read, :value nil, :process 15, :time 41897057999, :error :connect, :index 14236}
{:type :invoke, :f :read, :value nil, :process 39, :time 41903341019, :index 14238}
{:type :fail, :f :read, :value nil, :process 39, :time 41905244366, :error :connect, :index 14239}
{:type :invoke, :f :read, :value nil, :process 33, :time 41909347747, :index 14240}
{:type :invoke, :f :read, :value nil, :process 11, :time 41910040341, :index 14241}
{:type :fail, :f :read, :value nil, :process 33, :time 41911269394, :error :connect, :index 14242}
{:type :fail, :f :read, :value nil, :process 11, :time 41911726025, :error :connect, :index 14243}
{:type :invoke, :f :read, :value nil, :process 32, :time 41918022821, :index 14244}
{:type :fail, :f :read, :value nil, :process 32, :time 41919862997, :error :connect, :index 14245}
{:type :invoke, :f :read, :value nil, :process 36, :time 41930612234, :index 14248}
{:type :invoke, :f :read, :value nil, :process 34, :time 41932294325, :index 14250}
{:type :fail, :f :read, :value nil, :process 36, :time 41932771796, :error :connect, :index 14251}
{:type :fail, :f :read, :value nil, :process 34, :time 41934167926, :error :connect, :index 14253}
{:type :invoke, :f :write, :value 2, :process 37, :time 41935495828, :index 14254}
{:type :fail, :f :write, :value 2, :process 37, :time 41937349949, :error :connect, :index 14255}
{:type :invoke, :f :read, :value nil, :process 18, :time 41947589144, :index 14260}
{:type :fail, :f :read, :value nil, :process 18, :time 41949565665, :error :connect, :index 14262}
{:type :invoke, :f :write, :value 4, :process 10, :time 41951813428, :index 14264}
{:type :fail, :f :write, :value 4, :process 10, :time 41953606052, :error :connect, :index 14265}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 41962294571, :index 14266}
{:type :fail, :f :cas, :value [4 3], :process 15, :time 41963887656, :error :connect, :index 14267}
{:type :invoke, :f :write, :value 0, :process 10, :time 41976873923, :index 14273}
{:type :fail, :f :write, :value 0, :process 10, :time 41978901532, :error :connect, :index 14275}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 42003166203, :index 14280}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 42005204927, :error :connect, :index 14281}
{:type :invoke, :f :cas, :value [1 3], :process 34, :time 42018446733, :index 14282}
{:type :fail, :f :cas, :value [1 3], :process 34, :time 42020155133, :error :connect, :index 14283}
{:type :invoke, :f :read, :value nil, :process 18, :time 42030826562, :index 14284}
{:type :fail, :f :read, :value nil, :process 18, :time 42032824320, :error :connect, :index 14285}
{:type :invoke, :f :write, :value 0, :process 32, :time 42060194169, :index 14288}
{:type :fail, :f :write, :value 0, :process 32, :time 42062137823, :error :connect, :index 14289}
{:type :invoke, :f :write, :value 1, :process 11, :time 42063029407, :index 14290}
{:type :fail, :f :write, :value 1, :process 11, :time 42064855658, :error :connect, :index 14291}
{:type :invoke, :f :cas, :value [0 3], :process 39, :time 42071521262, :index 14292}
{:type :fail, :f :cas, :value [0 3], :process 39, :time 42073505151, :error :connect, :index 14293}
{:type :invoke, :f :write, :value 2, :process 36, :time 42093052758, :index 14300}
{:type :fail, :f :write, :value 2, :process 36, :time 42094796439, :error :connect, :index 14303}
{:type :invoke, :f :read, :value nil, :process 11, :time 42099112008, :index 14306}
{:type :fail, :f :read, :value nil, :process 11, :time 42101144174, :error :connect, :index 14307}
{:type :invoke, :f :cas, :value [0 2], :process 33, :time 42104532906, :index 14308}
{:type :fail, :f :cas, :value [0 2], :process 33, :time 42106181093, :error :connect, :index 14309}
{:type :invoke, :f :read, :value nil, :process 37, :time 42114608938, :index 14314}
{:type :invoke, :f :read, :value nil, :process 33, :time 42116445750, :index 14315}
{:type :fail, :f :read, :value nil, :process 37, :time 42116747436, :error :connect, :index 14316}
{:type :fail, :f :read, :value nil, :process 33, :time 42118411454, :error :connect, :index 14317}
{:type :invoke, :f :write, :value 4, :process 36, :time 42138036108, :index 14320}
{:type :fail, :f :write, :value 4, :process 36, :time 42139880618, :error :connect, :index 14321}
{:type :invoke, :f :read, :value nil, :process 37, :time 42139988771, :index 14322}
{:type :fail, :f :read, :value nil, :process 37, :time 42142052668, :error :connect, :index 14323}
{:type :invoke, :f :write, :value 0, :process 11, :time 42161400709, :index 14328}
{:type :fail, :f :write, :value 0, :process 11, :time 42163263168, :error :connect, :index 14329}
{:type :invoke, :f :cas, :value [0 1], :process 18, :time 42165103755, :index 14331}
{:type :fail, :f :cas, :value [0 1], :process 18, :time 42166869447, :error :connect, :index 14333}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 42169122450, :index 14334}
{:type :fail, :f :cas, :value [0 0], :process 10, :time 42170752595, :error :connect, :index 14335}
{:type :invoke, :f :read, :value nil, :process 15, :time 42194470078, :index 14338}
{:type :invoke, :f :cas, :value [2 4], :process 39, :time 42195788148, :index 14339}
{:type :fail, :f :read, :value nil, :process 15, :time 42196379932, :error :connect, :index 14340}
{:type :fail, :f :cas, :value [2 4], :process 39, :time 42197494943, :error :connect, :index 14341}
{:type :invoke, :f :read, :value nil, :process 15, :time 42206619950, :index 14346}
{:type :fail, :f :read, :value nil, :process 15, :time 42208522975, :error :connect, :index 14350}
{:type :invoke, :f :write, :value 0, :process 34, :time 42210509303, :index 14355}
{:type :fail, :f :write, :value 0, :process 34, :time 42212601458, :error :connect, :index 14357}
{:type :invoke, :f :read, :value nil, :process 32, :time 42214439326, :index 14359}
{:type :fail, :f :read, :value nil, :process 32, :time 42216385961, :error :connect, :index 14361}
{:type :invoke, :f :write, :value 0, :process 32, :time 42218627900, :index 14362}
{:type :fail, :f :write, :value 0, :process 32, :time 42220423618, :error :connect, :index 14363}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 42226017306, :index 14364}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 42227733323, :error :connect, :index 14365}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 42235114457, :index 14368}
{:type :fail, :f :cas, :value [3 2], :process 18, :time 42237178309, :error :connect, :index 14369}
{:type :invoke, :f :cas, :value [1 3], :process 32, :time 42259684128, :index 14370}
{:type :invoke, :f :read, :value nil, :process 33, :time 42260692769, :index 14372}
{:type :fail, :f :cas, :value [1 3], :process 32, :time 42262042789, :error :connect, :index 14374}
{:type :fail, :f :read, :value nil, :process 33, :time 42262366242, :error :connect, :index 14375}
{:type :invoke, :f :write, :value 4, :process 32, :time 42270637918, :index 14378}
{:type :fail, :f :write, :value 4, :process 32, :time 42272475154, :error :connect, :index 14379}
{:type :invoke, :f :cas, :value [2 2], :process 11, :time 42279531860, :index 14380}
{:type :fail, :f :cas, :value [2 2], :process 11, :time 42281173668, :error :connect, :index 14381}
{:type :invoke, :f :read, :value nil, :process 18, :time 42284475822, :index 14383}
{:type :fail, :f :read, :value nil, :process 18, :time 42286771341, :error :connect, :index 14385}
{:type :invoke, :f :cas, :value [0 2], :process 11, :time 42291433081, :index 14386}
{:type :fail, :f :cas, :value [0 2], :process 11, :time 42293259245, :error :connect, :index 14387}
{:type :invoke, :f :cas, :value [0 1], :process 32, :time 42310734771, :index 14390}
{:type :fail, :f :cas, :value [0 1], :process 32, :time 42312330232, :error :connect, :index 14391}
{:type :invoke, :f :cas, :value [2 3], :process 36, :time 42327144925, :index 14396}
{:type :fail, :f :cas, :value [2 3], :process 36, :time 42329229211, :error :connect, :index 14397}
{:type :invoke, :f :cas, :value [0 3], :process 37, :time 42331348622, :index 14398}
{:type :fail, :f :cas, :value [0 3], :process 37, :time 42333246913, :error :connect, :index 14399}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 42339651038, :index 14401}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 42341593992, :error :connect, :index 14403}
{:type :invoke, :f :read, :value nil, :process 39, :time 42346761962, :index 14405}
{:type :fail, :f :read, :value nil, :process 39, :time 42348937061, :error :connect, :index 14407}
{:type :invoke, :f :write, :value 1, :process 34, :time 42379864573, :index 14422}
{:type :fail, :f :write, :value 1, :process 34, :time 42381663740, :error :connect, :index 14423}
{:type :invoke, :f :cas, :value [3 2], :process 15, :time 42386731615, :index 14424}
{:type :fail, :f :cas, :value [3 2], :process 15, :time 42388779486, :error :connect, :index 14425}
{:type :invoke, :f :read, :value nil, :process 32, :time 42403596999, :index 14432}
{:type :fail, :f :read, :value nil, :process 32, :time 42405269254, :error :connect, :index 14434}
{:type :invoke, :f :write, :value 0, :process 10, :time 42409987216, :index 14436}
{:type :fail, :f :write, :value 0, :process 10, :time 42411685553, :error :connect, :index 14438}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 42430030168, :index 14448}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 42431878947, :error :connect, :index 14449}
{:type :invoke, :f :read, :value nil, :process 11, :time 42472539144, :index 14464}
{:type :fail, :f :read, :value nil, :process 11, :time 42474189960, :error :connect, :index 14465}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
