{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :invoke, :f :cas, :value [3 4], :process 11, :time 14682502979, :index 3589}
{:type :fail, :f :cas, :value [3 4], :process 11, :time 14687642453, :error :not-found, :index 3593}
{:type :invoke, :f :write, :value 4, :process 14, :time 14760406045, :index 3617}
{:type :invoke, :f :write, :value 3, :process 37, :time 14760885230, :index 3618}
{:type :invoke, :f :cas, :value [4 1], :process 16, :time 14764940139, :index 3621}
{:type :ok, :f :write, :value 4, :process 14, :time 14766106345, :index 3622}
{:type :ok, :f :write, :value 3, :process 37, :time 14766361877, :index 3623}
{:type :fail, :f :cas, :value [4 1], :process 16, :time 14770418349, :index 3625}
{:type :invoke, :f :write, :value 1, :process 12, :time 14835035196, :index 3630}
{:type :invoke, :f :read, :value nil, :process 18, :time 14838597621, :index 3631}
{:type :ok, :f :write, :value 1, :process 12, :time 14840170616, :index 3632}
{:type :ok, :f :read, :value 1, :process 18, :time 14843138890, :index 3633}
{:type :invoke, :f :write, :value 1, :process 19, :time 14843098718, :index 3634}
{:type :invoke, :f :write, :value 3, :process 13, :time 14847885773, :index 3637}
{:type :ok, :f :write, :value 1, :process 19, :time 14848626861, :index 3638}
{:type :ok, :f :write, :value 3, :process 13, :time 14852895138, :index 3641}
{:type :invoke, :f :write, :value 2, :process 35, :time 14855987247, :index 3643}
{:type :ok, :f :write, :value 2, :process 35, :time 14861122886, :index 3645}
{:type :invoke, :f :write, :value 3, :process 19, :time 14870889532, :index 3647}
{:type :invoke, :f :cas, :value [2 2], :process 11, :time 14871825750, :index 3649}
{:type :invoke, :f :read, :value nil, :process 12, :time 14888478605, :index 3652}
{:type :invoke, :f :write, :value 2, :process 37, :time 14920597156, :index 3654}
{:type :invoke, :f :read, :value nil, :process 14, :time 14921377650, :index 3655}
{:type :invoke, :f :read, :value nil, :process 16, :time 14935677313, :index 3657}
{:type :invoke, :f :cas, :value [4 0], :process 30, :time 14944135380, :index 3659}
{:type :invoke, :f :cas, :value [3 0], :process 35, :time 14956421148, :index 3661}
{:type :invoke, :f :write, :value 4, :process 13, :time 15009150205, :index 3664}
{:type :invoke, :f :write, :value 2, :process 18, :time 15011412595, :index 3665}
{:type :ok, :f :write, :value 2, :process 37, :time 15401738711, :index 3670}
{:type :ok, :f :read, :value 2, :process 16, :time 15401766088, :index 3671}
{:type :fail, :f :cas, :value [4 0], :process 30, :time 15402700504, :index 3674}
{:type :fail, :f :cas, :value [3 0], :process 35, :time 15403191580, :index 3675}
{:type :ok, :f :read, :value 3, :process 12, :time 15403522825, :index 3677}
{:type :ok, :f :read, :value 2, :process 14, :time 15403809353, :index 3679}
{:type :fail, :f :cas, :value [2 2], :process 11, :time 15404461193, :index 3680}
{:type :ok, :f :write, :value 3, :process 19, :time 15404755750, :index 3681}
{:type :invoke, :f :write, :value 0, :process 16, :time 15406097821, :index 3684}
{:type :invoke, :f :read, :value nil, :process 14, :time 15408102099, :index 3685}
{:type :invoke, :f :cas, :value [3 4], :process 19, :time 15420006284, :index 3686}
{:type :invoke, :f :read, :value nil, :process 37, :time 15442981796, :index 3689}
{:type :invoke, :f :read, :value nil, :process 30, :time 15492967722, :index 3692}
{:type :invoke, :f :write, :value 4, :process 11, :time 15495703904, :index 3693}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :invoke, :f :read, :value nil, :process 35, :time 15521458450, :index 3696}
{:type :ok, :f :write, :value 4, :process 13, :time 15561854429, :index 3698}
{:type :ok, :f :write, :value 2, :process 18, :time 15561854422, :index 3699}
{:type :invoke, :f :read, :value nil, :process 12, :time 15565756423, :index 3701}
{:type :ok, :f :read, :value 0, :process 30, :time 15566767224, :index 3703}
{:type :ok, :f :write, :value 4, :process 11, :time 15567093137, :index 3705}
{:type :ok, :f :read, :value 4, :process 35, :time 15567337069, :index 3706}
{:type :ok, :f :write, :value 0, :process 16, :time 15567363704, :index 3707}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :invoke, :f :write, :value 4, :process 30, :time 15624020473, :index 3722}
{:type :ok, :f :write, :value 4, :process 30, :time 15629297116, :index 3723}
{:type :invoke, :f :read, :value nil, :process 18, :time 15649183909, :index 3725}
{:type :ok, :f :read, :value 4, :process 18, :time 15653584068, :index 3726}
{:type :invoke, :f :read, :value nil, :process 16, :time 15654584649, :index 3728}
{:type :ok, :f :read, :value 4, :process 16, :time 15659450823, :index 3729}
{:type :invoke, :f :read, :value nil, :process 11, :time 15661334763, :index 3731}
{:type :invoke, :f :cas, :value [1 2], :process 13, :time 15665241927, :index 3732}
{:type :ok, :f :read, :value 4, :process 11, :time 15666347721, :index 3734}
{:type :fail, :f :cas, :value [1 2], :process 13, :time 15669696576, :index 3735}
{:type :invoke, :f :read, :value nil, :process 11, :time 15711584192, :index 3737}
{:type :ok, :f :read, :value 4, :process 11, :time 15716697535, :index 3739}
{:type :invoke, :f :write, :value 3, :process 35, :time 15753570770, :index 3743}
{:type :ok, :f :write, :value 3, :process 35, :time 15759038865, :index 3746}
{:type :invoke, :f :write, :value 2, :process 16, :time 15774711836, :index 3748}
{:type :ok, :f :write, :value 2, :process 16, :time 15780189285, :index 3749}
{:type :invoke, :f :read, :value nil, :process 18, :time 15785855457, :index 3750}
{:type :ok, :f :read, :value 2, :process 18, :time 15791892439, :index 3751}
{:type :invoke, :f :cas, :value [0 2], :process 11, :time 15806957832, :index 3755}
{:type :fail, :f :cas, :value [0 2], :process 11, :time 15812074594, :index 3758}
{:type :invoke, :f :write, :value 1, :process 16, :time 15817451979, :index 3760}
{:type :ok, :f :write, :value 1, :process 16, :time 15822116062, :index 3761}
{:type :invoke, :f :write, :value 3, :process 30, :time 15824556533, :index 3762}
{:type :ok, :f :write, :value 3, :process 30, :time 15830043792, :index 3763}
{:type :invoke, :f :write, :value 1, :process 13, :time 15849954117, :index 3766}
{:type :ok, :f :write, :value 1, :process 13, :time 15856571323, :index 3767}
{:type :invoke, :f :cas, :value [0 2], :process 35, :time 15859302359, :index 3769}
{:type :fail, :f :cas, :value [0 2], :process 35, :time 15865366050, :index 3774}
{:type :invoke, :f :read, :value nil, :process 35, :time 15887600751, :index 3778}
{:type :ok, :f :read, :value 1, :process 35, :time 15892316871, :index 3779}
{:type :invoke, :f :read, :value nil, :process 11, :time 15899325298, :index 3780}
{:type :ok, :f :read, :value 1, :process 11, :time 15904354994, :index 3781}
{:type :invoke, :f :read, :value nil, :process 30, :time 15919334646, :index 3784}
{:type :ok, :f :read, :value 1, :process 30, :time 15924909024, :index 3785}
{:type :invoke, :f :cas, :value [0 0], :process 30, :time 15929175632, :index 3786}
{:type :invoke, :f :cas, :value [3 0], :process 35, :time 15932577774, :index 3787}
{:type :fail, :f :cas, :value [0 0], :process 30, :time 15934354424, :index 3788}
{:type :fail, :f :cas, :value [3 0], :process 35, :time 15939786275, :index 3789}
{:type :invoke, :f :read, :value nil, :process 30, :time 15977611673, :index 3797}
{:type :invoke, :f :read, :value nil, :process 18, :time 15978170502, :index 3798}
{:type :invoke, :f :cas, :value [3 0], :process 35, :time 15979058189, :index 3800}
{:type :invoke, :f :write, :value 4, :process 13, :time 15980836705, :index 3801}
{:type :ok, :f :read, :value 1, :process 18, :time 15985574874, :index 3803}
{:type :ok, :f :write, :value 4, :process 13, :time 15985774461, :index 3804}
{:type :ok, :f :read, :value 1, :process 30, :time 15986039968, :index 3805}
{:type :fail, :f :cas, :value [3 0], :process 35, :time 15987984973, :index 3806}
{:type :invoke, :f :write, :value 3, :process 35, :time 15991252221, :index 3808}
{:type :invoke, :f :write, :value 0, :process 13, :time 15994049037, :index 3809}
{:type :ok, :f :write, :value 3, :process 35, :time 15996185468, :index 3810}
{:type :ok, :f :write, :value 0, :process 13, :time 15997974848, :index 3812}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 15998398069, :index 3813}
{:type :fail, :f :cas, :value [2 0], :process 16, :time 16004409335, :index 3815}
{:type :invoke, :f :read, :value nil, :process 13, :time 16015285522, :index 3819}
{:type :invoke, :f :write, :value 1, :process 35, :time 16015493354, :index 3820}
{:type :ok, :f :read, :value 0, :process 13, :time 16019963570, :index 3822}
{:type :ok, :f :write, :value 1, :process 35, :time 16021346629, :index 3823}
{:type :invoke, :f :cas, :value [4 0], :process 16, :time 16052666042, :index 3829}
{:type :fail, :f :cas, :value [4 0], :process 16, :time 16057519400, :index 3832}
{:type :invoke, :f :read, :value nil, :process 11, :time 16082634819, :index 3838}
{:type :ok, :f :read, :value 1, :process 11, :time 16087789531, :index 3839}
{:type :invoke, :f :read, :value nil, :process 16, :time 16089783003, :index 3840}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 16089875719, :index 3841}
{:type :ok, :f :read, :value 1, :process 16, :time 16095014246, :index 3842}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 16095741921, :index 3843}
{:type :invoke, :f :write, :value 0, :process 30, :time 16113268829, :index 3847}
{:type :invoke, :f :cas, :value [1 2], :process 13, :time 16114228322, :index 3849}
{:type :ok, :f :write, :value 0, :process 30, :time 16118634343, :index 3850}
{:type :fail, :f :cas, :value [1 2], :process 13, :time 16119227414, :index 3851}
{:type :invoke, :f :cas, :value [1 0], :process 30, :time 16152906234, :index 3852}
{:type :invoke, :f :cas, :value [2 0], :process 18, :time 16156982990, :index 3853}
{:type :fail, :f :cas, :value [1 0], :process 30, :time 16158953023, :index 3854}
{:type :fail, :f :cas, :value [2 0], :process 18, :time 16161534869, :index 3856}
{:type :invoke, :f :read, :value nil, :process 35, :time 16173603313, :index 3860}
{:type :ok, :f :read, :value 0, :process 35, :time 16178646760, :index 3861}
{:type :invoke, :f :read, :value nil, :process 30, :time 16191205995, :index 3862}
{:type :ok, :f :read, :value 0, :process 30, :time 16196860850, :index 3863}
{:type :invoke, :f :write, :value 2, :process 16, :time 16207280390, :index 3864}
{:type :ok, :f :write, :value 2, :process 16, :time 16214922527, :index 3868}
{:type :invoke, :f :read, :value nil, :process 13, :time 16216485036, :index 3869}
{:type :ok, :f :read, :value 2, :process 13, :time 16221439144, :index 3871}
{:type :invoke, :f :read, :value nil, :process 11, :time 16246040530, :index 3874}
{:type :ok, :f :read, :value 2, :process 11, :time 16250952051, :index 3875}
{:type :invoke, :f :write, :value 1, :process 18, :time 16256813063, :index 3877}
{:type :ok, :f :write, :value 1, :process 18, :time 16260841489, :index 3879}
{:type :invoke, :f :cas, :value [4 0], :process 35, :time 16300908284, :index 3885}
{:type :fail, :f :cas, :value [4 0], :process 35, :time 16306784890, :index 3887}
{:type :invoke, :f :write, :value 0, :process 13, :time 16306705167, :index 3888}
{:type :ok, :f :write, :value 0, :process 13, :time 16311078639, :index 3889}
{:type :invoke, :f :read, :value nil, :process 35, :time 16338044833, :index 3894}
{:type :ok, :f :read, :value 0, :process 35, :time 16343297648, :index 3895}
{:type :invoke, :f :read, :value nil, :process 35, :time 16348562891, :index 3897}
{:type :invoke, :f :write, :value 1, :process 11, :time 16351212648, :index 3898}
{:type :ok, :f :read, :value 0, :process 35, :time 16353810662, :index 3900}
{:type :ok, :f :write, :value 1, :process 11, :time 16356554216, :index 3901}
{:type :invoke, :f :write, :value 4, :process 11, :time 16361799744, :index 3902}
{:type :invoke, :f :read, :value nil, :process 16, :time 16368194371, :index 3903}
{:type :ok, :f :write, :value 4, :process 11, :time 16368896147, :index 3904}
{:type :invoke, :f :write, :value 1, :process 30, :time 16372121135, :index 3905}
{:type :ok, :f :read, :value 4, :process 16, :time 16373324916, :index 3906}
{:type :ok, :f :write, :value 1, :process 30, :time 16376626787, :index 3907}
{:type :invoke, :f :read, :value nil, :process 35, :time 16409072333, :index 3911}
{:type :ok, :f :read, :value 1, :process 35, :time 16414489110, :index 3913}
{:type :invoke, :f :write, :value 4, :process 18, :time 16446099490, :index 3918}
{:type :ok, :f :write, :value 4, :process 18, :time 16451338739, :index 3919}
{:type :invoke, :f :read, :value nil, :process 11, :time 16482156273, :index 3923}
{:type :ok, :f :read, :value 4, :process 11, :time 16487634489, :index 3926}
{:type :invoke, :f :write, :value 0, :process 13, :time 16500334023, :index 3928}
{:type :invoke, :f :write, :value 4, :process 30, :time 16501884456, :index 3929}
{:type :ok, :f :write, :value 0, :process 13, :time 16505697378, :index 3930}
{:type :ok, :f :write, :value 4, :process 30, :time 16507822936, :index 3931}
{:type :invoke, :f :cas, :value [3 4], :process 11, :time 16511899896, :index 3932}
{:type :fail, :f :cas, :value [3 4], :process 11, :time 16517534445, :index 3933}
{:type :invoke, :f :write, :value 3, :process 16, :time 16526579623, :index 3934}
{:type :invoke, :f :write, :value 0, :process 13, :time 16526968183, :index 3935}
{:type :ok, :f :write, :value 0, :process 13, :time 16531328323, :index 3936}
{:type :ok, :f :write, :value 3, :process 16, :time 16532240091, :index 3937}
{:type :invoke, :f :read, :value nil, :process 18, :time 16584606481, :index 3953}
{:type :ok, :f :read, :value 3, :process 18, :time 16590279148, :index 3955}
{:type :invoke, :f :cas, :value [2 0], :process 11, :time 16594808382, :index 3957}
{:type :fail, :f :cas, :value [2 0], :process 11, :time 16599581673, :index 3959}
{:type :invoke, :f :read, :value nil, :process 35, :time 16603702609, :index 3960}
{:type :ok, :f :read, :value 3, :process 35, :time 16609896287, :index 3961}
{:type :invoke, :f :read, :value nil, :process 11, :time 16635836519, :index 3968}
{:type :ok, :f :read, :value 3, :process 11, :time 16641011286, :index 3970}
{:type :invoke, :f :read, :value nil, :process 16, :time 16658489232, :index 3972}
{:type :ok, :f :read, :value 3, :process 16, :time 16664324187, :index 3973}
{:type :invoke, :f :write, :value 4, :process 35, :time 16686190787, :index 3976}
{:type :ok, :f :write, :value 4, :process 35, :time 16691456876, :index 3977}
{:type :invoke, :f :read, :value nil, :process 30, :time 16695073631, :index 3979}
{:type :ok, :f :read, :value 4, :process 30, :time 16700382642, :index 3981}
{:type :invoke, :f :cas, :value [3 0], :process 13, :time 16721595113, :index 3983}
{:type :invoke, :f :cas, :value [0 3], :process 11, :time 16724284040, :index 3985}
{:type :fail, :f :cas, :value [3 0], :process 13, :time 16726916961, :index 3986}
{:type :fail, :f :cas, :value [0 3], :process 11, :time 16729407363, :index 3987}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 16739169947, :index 3988}
{:type :fail, :f :cas, :value [0 4], :process 13, :time 16743848383, :index 3989}
{:type :invoke, :f :write, :value 4, :process 30, :time 16770630928, :index 3990}
{:type :invoke, :f :read, :value nil, :process 18, :time 16771497788, :index 3991}
{:type :ok, :f :write, :value 4, :process 30, :time 16776856879, :index 3993}
{:type :ok, :f :read, :value 4, :process 18, :time 16777174334, :index 3994}
{:type :invoke, :f :cas, :value [4 4], :process 35, :time 16783727511, :index 3997}
{:type :ok, :f :cas, :value [4 4], :process 35, :time 16789489697, :index 4002}
{:type :invoke, :f :cas, :value [3 1], :process 16, :time 16802602076, :index 4009}
{:type :fail, :f :cas, :value [3 1], :process 16, :time 16807282713, :index 4012}
{:type :invoke, :f :cas, :value [3 2], :process 11, :time 16839663897, :index 4020}
{:type :fail, :f :cas, :value [3 2], :process 11, :time 16845101649, :index 4021}
{:type :fail, :f :read, :value nil, :process 14, :time 20413191312, :error :timeout, :index 4584}
{:type :info, :f :cas, :value [3 4], :process 19, :time 20426273830, :error :timeout, :index 4585}
{:type :fail, :f :read, :value nil, :process 37, :time 20450078151, :error :timeout, :index 4588}
{:type :fail, :f :read, :value nil, :process 12, :time 20573245133, :error :timeout, :index 4595}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
