{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :invoke, :f :write, :value 3, :process 37, :time 52065147684, :index 11174}
{:type :invoke, :f :read, :value nil, :process 10, :time 52068366828, :index 11175}
{:type :ok, :f :write, :value 3, :process 37, :time 52070274267, :index 11176}
{:type :ok, :f :read, :value 3, :process 10, :time 52072367171, :index 11177}
{:type :invoke, :f :cas, :value [2 3], :process 54, :time 52073826708, :index 11178}
{:type :fail, :f :cas, :value [2 3], :process 54, :time 52078981258, :index 11180}
{:type :invoke, :f :cas, :value [2 2], :process 10, :time 52094610642, :index 11188}
{:type :fail, :f :cas, :value [2 2], :process 10, :time 52099753317, :index 11189}
{:type :invoke, :f :cas, :value [2 0], :process 54, :time 52107254652, :index 11190}
{:type :fail, :f :cas, :value [2 0], :process 54, :time 52113276635, :index 11191}
{:type :invoke, :f :cas, :value [3 0], :process 12, :time 52151031710, :index 11196}
{:type :ok, :f :cas, :value [3 0], :process 12, :time 52156337367, :index 11197}
{:type :invoke, :f :cas, :value [0 2], :process 37, :time 52160543079, :index 11199}
{:type :ok, :f :cas, :value [0 2], :process 37, :time 52166990006, :index 11201}
{:type :invoke, :f :read, :value nil, :process 10, :time 52184008684, :index 11207}
{:type :ok, :f :read, :value 2, :process 10, :time 52188891479, :index 11209}
{:type :invoke, :f :write, :value 3, :process 39, :time 52195111382, :index 11210}
{:type :ok, :f :write, :value 3, :process 39, :time 52200606186, :index 11212}
{:type :invoke, :f :cas, :value [0 2], :process 39, :time 52212865889, :index 11217}
{:type :fail, :f :cas, :value [0 2], :process 39, :time 52217953293, :index 11220}
{:type :invoke, :f :cas, :value [3 4], :process 54, :time 52230532424, :index 11224}
{:type :ok, :f :cas, :value [3 4], :process 54, :time 52236134789, :index 11226}
{:type :invoke, :f :write, :value 0, :process 54, :time 52244463279, :index 11228}
{:type :invoke, :f :read, :value nil, :process 15, :time 52246994285, :index 11229}
{:type :ok, :f :read, :value 4, :process 15, :time 52252377558, :index 11230}
{:type :ok, :f :write, :value 0, :process 54, :time 52253039277, :index 11231}
{:type :invoke, :f :read, :value nil, :process 39, :time 52264210483, :index 11232}
{:type :ok, :f :read, :value 0, :process 39, :time 52275369282, :index 11235}
{:type :invoke, :f :read, :value nil, :process 12, :time 52289601320, :index 11239}
{:type :invoke, :f :write, :value 1, :process 54, :time 52290303870, :index 11240}
{:type :ok, :f :read, :value 0, :process 12, :time 52295154740, :index 11242}
{:type :ok, :f :write, :value 1, :process 54, :time 52295482795, :index 11243}
{:type :invoke, :f :write, :value 2, :process 10, :time 52313146159, :index 11246}
{:type :ok, :f :write, :value 2, :process 10, :time 52318291198, :index 11249}
{:type :invoke, :f :cas, :value [2 4], :process 37, :time 52323272248, :index 11252}
{:type :ok, :f :cas, :value [2 4], :process 37, :time 52328269966, :index 11254}
{:type :invoke, :f :cas, :value [2 3], :process 12, :time 52367422662, :index 11257}
{:type :invoke, :f :read, :value nil, :process 37, :time 52369519383, :index 11258}
{:type :fail, :f :cas, :value [2 3], :process 12, :time 52373370942, :index 11259}
{:type :ok, :f :read, :value 4, :process 37, :time 52374770191, :index 11261}
{:type :invoke, :f :read, :value nil, :process 54, :time 52404707215, :index 11266}
{:type :ok, :f :read, :value 4, :process 54, :time 52409591354, :index 11267}
{:type :invoke, :f :read, :value nil, :process 15, :time 52420647829, :index 11268}
{:type :ok, :f :read, :value 4, :process 15, :time 52425428157, :index 11269}
{:type :invoke, :f :write, :value 0, :process 15, :time 52430690094, :index 11270}
{:type :ok, :f :write, :value 0, :process 15, :time 52436124320, :index 11271}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 52436532558, :index 11272}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 52442374127, :index 11273}
{:type :invoke, :f :write, :value 0, :process 10, :time 52451630966, :index 11278}
{:type :ok, :f :write, :value 0, :process 10, :time 52456738306, :index 11282}
{:type :invoke, :f :write, :value 3, :process 10, :time 52460976570, :index 11283}
{:type :ok, :f :write, :value 3, :process 10, :time 52465899422, :index 11285}
{:type :invoke, :f :read, :value nil, :process 39, :time 52468599700, :index 11287}
{:type :ok, :f :read, :value 3, :process 39, :time 52474010726, :index 11288}
{:type :invoke, :f :write, :value 0, :process 12, :time 52485633303, :index 11292}
{:type :ok, :f :write, :value 0, :process 12, :time 52490308657, :index 11293}
{:type :invoke, :f :write, :value 2, :process 15, :time 52510394993, :index 11294}
{:type :ok, :f :write, :value 2, :process 15, :time 52515418345, :index 11295}
{:type :invoke, :f :cas, :value [4 0], :process 54, :time 52531847954, :index 11300}
{:type :fail, :f :cas, :value [4 0], :process 54, :time 52537699492, :index 11302}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 52540001699, :index 11304}
{:type :invoke, :f :write, :value 4, :process 15, :time 52544674932, :index 11306}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 52546065440, :index 11307}
{:type :ok, :f :write, :value 4, :process 15, :time 52549263405, :index 11309}
{:type :invoke, :f :write, :value 3, :process 15, :time 52551516614, :index 11311}
{:type :ok, :f :write, :value 3, :process 15, :time 52555774050, :index 11313}
{:type :invoke, :f :read, :value nil, :process 12, :time 52566577741, :index 11318}
{:type :invoke, :f :read, :value nil, :process 37, :time 52569264447, :index 11319}
{:type :ok, :f :read, :value 3, :process 12, :time 52571114230, :index 11320}
{:type :ok, :f :read, :value 3, :process 37, :time 52574381597, :index 11321}
{:type :invoke, :f :write, :value 0, :process 39, :time 52579272840, :index 11322}
{:type :ok, :f :write, :value 0, :process 39, :time 52584691805, :index 11323}
{:type :invoke, :f :cas, :value [0 1], :process 54, :time 52607955982, :index 11324}
{:type :ok, :f :cas, :value [0 1], :process 54, :time 52612967054, :index 11325}
{:type :invoke, :f :write, :value 2, :process 54, :time 52625224905, :index 11326}
{:type :ok, :f :write, :value 2, :process 54, :time 52630706939, :index 11328}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 52637007301, :index 11330}
{:type :invoke, :f :read, :value nil, :process 10, :time 52644150530, :index 11331}
{:type :invoke, :f :cas, :value [3 2], :process 39, :time 52662947518, :index 11332}
{:type :invoke, :f :write, :value 1, :process 12, :time 52700374569, :index 11337}
{:type :invoke, :f :read, :value nil, :process 37, :time 52708632289, :index 11338}
{:type :invoke, :f :read, :value nil, :process 54, :time 52763021942, :index 11339}
{:type :ok, :f :read, :value 1, :process 37, :time 54140159794, :index 11343}
{:type :ok, :f :read, :value 2, :process 10, :time 54141485435, :index 11350}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 54141857523, :index 11352}
{:type :ok, :f :write, :value 1, :process 12, :time 54142435983, :index 11355}
{:type :fail, :f :cas, :value [3 2], :process 39, :time 54143693727, :index 11356}
{:type :ok, :f :read, :value 1, :process 54, :time 54144167955, :index 11358}
{:type :invoke, :f :cas, :value [0 4], :process 37, :time 54163834068, :index 11363}
{:type :invoke, :f :cas, :value [4 4], :process 39, :time 54167962081, :index 11364}
{:type :fail, :f :cas, :value [0 4], :process 37, :time 54169835207, :index 11366}
{:type :fail, :f :cas, :value [4 4], :process 39, :time 54173275772, :index 11368}
{:type :invoke, :f :cas, :value [2 2], :process 10, :time 54178960664, :index 11370}
{:type :fail, :f :cas, :value [2 2], :process 10, :time 54184257434, :index 11371}
{:type :invoke, :f :cas, :value [0 0], :process 78, :time 54184938749, :index 11372}
{:type :fail, :f :cas, :value [0 0], :process 78, :time 54190409452, :index 11374}
{:type :invoke, :f :write, :value 3, :process 36, :time 54210021115, :index 11377}
{:type :invoke, :f :write, :value 1, :process 51, :time 54226060227, :index 11381}
{:type :invoke, :f :read, :value nil, :process 12, :time 54242283254, :index 11383}
{:type :invoke, :f :cas, :value [0 3], :process 15, :time 54245179990, :index 11385}
{:type :invoke, :f :write, :value 2, :process 78, :time 54266680890, :index 11387}
{:type :invoke, :f :read, :value nil, :process 54, :time 54292442977, :index 11389}
{:type :invoke, :f :read, :value nil, :process 10, :time 54301512189, :index 11390}
{:type :invoke, :f :write, :value 3, :process 53, :time 54315899403, :index 11391}
{:type :invoke, :f :write, :value 4, :process 39, :time 54334539344, :index 11394}
{:type :invoke, :f :cas, :value [4 0], :process 37, :time 54366106538, :index 11395}
{:type :ok, :f :read, :value 2, :process 10, :time 54393675584, :index 11397}
{:type :ok, :f :write, :value 3, :process 53, :time 54394307822, :index 11400}
{:type :ok, :f :read, :value 1, :process 12, :time 54394375510, :index 11401}
{:type :ok, :f :write, :value 1, :process 51, :time 54394756003, :index 11403}
{:type :ok, :f :cas, :value [4 0], :process 37, :time 54394961164, :index 11404}
{:type :ok, :f :write, :value 3, :process 36, :time 54395095993, :index 11405}
{:type :ok, :f :read, :value 2, :process 54, :time 54395344601, :index 11406}
{:type :ok, :f :write, :value 2, :process 78, :time 54395670184, :index 11408}
{:type :ok, :f :write, :value 4, :process 39, :time 54396654566, :index 11413}
{:type :fail, :f :cas, :value [0 3], :process 15, :time 54397082302, :index 11414}
{:type :invoke, :f :read, :value nil, :process 53, :time 54401724553, :index 11416}
{:type :invoke, :f :cas, :value [0 4], :process 78, :time 54402928692, :index 11417}
{:type :ok, :f :read, :value 0, :process 53, :time 54408144707, :index 11418}
{:type :ok, :f :cas, :value [0 4], :process 78, :time 54408723833, :index 11419}
{:type :invoke, :f :write, :value 2, :process 10, :time 54409576265, :index 11420}
{:type :ok, :f :write, :value 2, :process 10, :time 54415339316, :index 11421}
{:type :invoke, :f :cas, :value [4 2], :process 12, :time 54421730250, :index 11422}
{:type :fail, :f :cas, :value [4 2], :process 12, :time 54428169350, :index 11424}
{:type :invoke, :f :read, :value nil, :process 12, :time 54443448688, :index 11428}
{:type :invoke, :f :read, :value nil, :process 10, :time 54443617936, :index 11429}
{:type :ok, :f :read, :value 2, :process 12, :time 54448734163, :index 11430}
{:type :ok, :f :read, :value 2, :process 10, :time 54449051291, :index 11431}
{:type :invoke, :f :cas, :value [1 4], :process 53, :time 54475436002, :index 11434}
{:type :fail, :f :cas, :value [1 4], :process 53, :time 54481437052, :index 11435}
{:type :invoke, :f :write, :value 4, :process 54, :time 54486614204, :index 11436}
{:type :ok, :f :write, :value 4, :process 54, :time 54491947643, :index 11439}
{:type :invoke, :f :read, :value nil, :process 15, :time 54503345510, :index 11440}
{:type :invoke, :f :cas, :value [1 0], :process 78, :time 54506976652, :index 11442}
{:type :ok, :f :read, :value 4, :process 15, :time 54507933879, :index 11443}
{:type :fail, :f :cas, :value [1 0], :process 78, :time 54512610684, :index 11446}
{:type :invoke, :f :read, :value nil, :process 12, :time 54528001922, :index 11453}
{:type :invoke, :f :cas, :value [2 3], :process 54, :time 54528221101, :index 11454}
{:type :fail, :f :cas, :value [2 3], :process 54, :time 54533992076, :index 11456}
{:type :invoke, :f :cas, :value [2 3], :process 10, :time 54536224860, :index 11457}
{:type :fail, :f :cas, :value [2 3], :process 10, :time 54541061709, :index 11459}
{:type :invoke, :f :cas, :value [4 1], :process 39, :time 54556884532, :index 11460}
{:type :ok, :f :cas, :value [4 1], :process 39, :time 54562255885, :index 11462}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 54579367944, :index 11468}
{:type :invoke, :f :read, :value nil, :process 51, :time 54581009325, :index 11469}
{:type :invoke, :f :read, :value nil, :process 10, :time 54581331415, :index 11470}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 54584640996, :index 11471}
{:type :invoke, :f :cas, :value [1 2], :process 37, :time 54585297164, :index 11472}
{:type :ok, :f :read, :value 1, :process 51, :time 54586979586, :index 11473}
{:type :ok, :f :read, :value 1, :process 10, :time 54587108728, :index 11474}
{:type :invoke, :f :read, :value nil, :process 10, :time 54602338818, :index 11477}
{:type :ok, :f :read, :value 1, :process 10, :time 54606822988, :index 11478}
{:type :invoke, :f :read, :value nil, :process 53, :time 54634700593, :index 11481}
{:type :ok, :f :read, :value 1, :process 53, :time 54639864791, :index 11484}
{:type :invoke, :f :cas, :value [2 1], :process 78, :time 54640900597, :index 11485}
{:type :invoke, :f :write, :value 0, :process 15, :time 54643175497, :index 11486}
{:type :fail, :f :cas, :value [2 1], :process 78, :time 54646446098, :index 11488}
{:type :ok, :f :write, :value 0, :process 15, :time 54647957862, :index 11491}
{:type :invoke, :f :write, :value 2, :process 39, :time 54667617566, :index 11496}
{:type :ok, :f :write, :value 2, :process 39, :time 54673534060, :index 11499}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 54708902063, :index 11506}
{:type :invoke, :f :read, :value nil, :process 51, :time 54709295416, :index 11507}
{:type :ok, :f :read, :value 2, :process 51, :time 54714316421, :index 11508}
{:type :ok, :f :cas, :value [2 4], :process 36, :time 54714502853, :index 11509}
{:type :invoke, :f :cas, :value [4 3], :process 54, :time 54731260692, :index 11513}
{:type :ok, :f :cas, :value [4 3], :process 54, :time 54736580596, :index 11514}
{:type :invoke, :f :write, :value 3, :process 15, :time 54748219933, :index 11518}
{:type :ok, :f :write, :value 3, :process 15, :time 54753034960, :index 11520}
{:type :invoke, :f :write, :value 4, :process 78, :time 54758724094, :index 11522}
{:type :ok, :f :write, :value 4, :process 78, :time 54763469628, :index 11523}
{:type :invoke, :f :cas, :value [3 4], :process 53, :time 54768121710, :index 11524}
{:type :fail, :f :cas, :value [3 4], :process 53, :time 54773345397, :index 11525}
{:type :invoke, :f :write, :value 4, :process 15, :time 54773304181, :index 11526}
{:type :ok, :f :write, :value 4, :process 15, :time 54777846507, :index 11527}
{:type :invoke, :f :read, :value nil, :process 39, :time 54779857989, :index 11528}
{:type :ok, :f :read, :value 4, :process 39, :time 54784548764, :index 11530}
{:type :invoke, :f :cas, :value [2 2], :process 10, :time 54800108412, :index 11537}
{:type :fail, :f :cas, :value [2 2], :process 10, :time 54804711673, :index 11538}
{:type :invoke, :f :cas, :value [0 4], :process 78, :time 54806730518, :index 11540}
{:type :fail, :f :cas, :value [0 4], :process 78, :time 54812571056, :index 11541}
{:type :invoke, :f :write, :value 1, :process 10, :time 54816971392, :index 11542}
{:type :ok, :f :write, :value 1, :process 10, :time 54821758536, :index 11543}
{:type :invoke, :f :write, :value 1, :process 39, :time 54831816990, :index 11545}
{:type :ok, :f :write, :value 1, :process 39, :time 54836191883, :index 11548}
{:type :invoke, :f :cas, :value [0 2], :process 51, :time 54849592820, :index 11551}
{:type :fail, :f :cas, :value [0 2], :process 51, :time 54854605482, :index 11553}
{:type :invoke, :f :write, :value 1, :process 36, :time 54871763094, :index 11556}
{:type :ok, :f :write, :value 1, :process 36, :time 54876767094, :index 11557}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 54884099501, :index 11561}
{:type :invoke, :f :write, :value 1, :process 54, :time 54885816723, :index 11563}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 54889219196, :index 11567}
{:type :ok, :f :write, :value 1, :process 54, :time 54892193891, :index 11570}
{:type :invoke, :f :read, :value nil, :process 53, :time 54912582180, :index 11572}
{:type :ok, :f :read, :value 1, :process 53, :time 54918311280, :index 11574}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 54932018039, :index 11580}
{:type :invoke, :f :cas, :value [2 2], :process 78, :time 54932839493, :index 11581}
{:type :ok, :f :cas, :value [1 2], :process 10, :time 54937085010, :index 11583}
{:type :ok, :f :cas, :value [2 2], :process 78, :time 54937780803, :index 11584}
{:type :ok, :f :read, :value 2, :process 12, :time 55126548316, :index 11634}
{:type :fail, :f :cas, :value [1 2], :process 37, :time 55127697273, :index 11636}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
