{:type :invoke, :f :cas, :value [1 0], :process 2, :time 765068469, :index 0}
{:type :fail, :f :cas, :value [1 0], :process 2, :time 867214296, :error :not-found, :index 1}
{:type :invoke, :f :write, :value 3, :process 0, :time 915672236, :index 2}
{:type :ok, :f :write, :value 3, :process 0, :time 924389725, :index 3}
{:type :invoke, :f :read, :value nil, :process 2, :time 1363153535, :index 4}
{:type :ok, :f :read, :value 3, :process 2, :time 1369853868, :index 5}
{:type :invoke, :f :write, :value 0, :process 4, :time 1555442565, :index 6}
{:type :ok, :f :write, :value 0, :process 4, :time 1562946606, :index 7}
{:type :invoke, :f :cas, :value [1 0], :process 1, :time 1797350556, :index 8}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 1800401817, :index 9}
{:type :fail, :f :cas, :value [1 0], :process 1, :time 1806509651, :index 10}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 1808251531, :index 11}
{:type :invoke, :f :read, :value nil, :process 3, :time 1839676262, :index 12}
{:type :ok, :f :read, :value 0, :process 3, :time 1844432822, :index 13}
{:type :invoke, :f :write, :value 0, :process 0, :time 2261905262, :index 14}
{:type :ok, :f :write, :value 0, :process 0, :time 2269148869, :index 15}
{:type :invoke, :f :write, :value 3, :process 1, :time 2489101614, :index 16}
{:type :ok, :f :write, :value 3, :process 1, :time 2496938108, :index 17}
{:type :invoke, :f :write, :value 1, :process 3, :time 2776861349, :index 18}
{:type :ok, :f :write, :value 1, :process 3, :time 2785130737, :index 19}
{:type :invoke, :f :read, :value nil, :process 2, :time 2964461227, :index 20}
{:type :ok, :f :read, :value 1, :process 2, :time 2968949399, :index 21}
{:type :invoke, :f :cas, :value [4 4], :process 4, :time 3366495509, :index 22}
{:type :fail, :f :cas, :value [4 4], :process 4, :time 3375232793, :index 23}
{:type :invoke, :f :write, :value 0, :process 3, :time 3537626571, :index 24}
{:type :ok, :f :write, :value 0, :process 3, :time 3545870859, :index 25}
{:type :invoke, :f :read, :value nil, :process 1, :time 3696362182, :index 26}
{:type :ok, :f :read, :value 0, :process 1, :time 3702099597, :index 27}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 3964716712, :index 28}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 3972857871, :index 29}
{:type :invoke, :f :write, :value 0, :process 0, :time 4009581269, :index 30}
{:type :ok, :f :write, :value 0, :process 0, :time 4018265478, :index 31}
{:type :invoke, :f :cas, :value [0 2], :process 2, :time 4173534887, :index 32}
{:type :ok, :f :cas, :value [0 2], :process 2, :time 4182038564, :index 33}
{:type :invoke, :f :write, :value 4, :process 0, :time 4510760787, :index 34}
{:type :ok, :f :write, :value 4, :process 0, :time 4518632853, :index 35}
{:type :invoke, :f :cas, :value [0 0], :process 2, :time 4888499660, :index 36}
{:type :fail, :f :cas, :value [0 0], :process 2, :time 4896977125, :index 37}
{:type :invoke, :f :read, :value nil, :process 1, :time 4944626387, :index 38}
{:type :ok, :f :read, :value 4, :process 1, :time 4948919730, :index 39}
{:type :invoke, :f :cas, :value [0 4], :process 1, :time 5138343086, :index 40}
{:type :fail, :f :cas, :value [0 4], :process 1, :time 5146687548, :index 41}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 5271447912, :index 42}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 5279244483, :index 43}
{:type :invoke, :f :read, :value nil, :process 4, :time 5312696334, :index 44}
{:type :ok, :f :read, :value 4, :process 4, :time 5317629106, :index 45}
{:type :invoke, :f :write, :value 3, :process 4, :time 5376113032, :index 46}
{:type :ok, :f :write, :value 3, :process 4, :time 5383138007, :index 47}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 5433429858, :index 48}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 5440873551, :index 49}
{:type :invoke, :f :read, :value nil, :process 0, :time 5461126861, :index 50}
{:type :ok, :f :read, :value 3, :process 0, :time 5465903526, :index 51}
{:type :invoke, :f :read, :value nil, :process 4, :time 5555582460, :index 52}
{:type :ok, :f :read, :value 3, :process 4, :time 5559425546, :index 53}
{:type :invoke, :f :read, :value nil, :process 3, :time 5641463001, :index 54}
{:type :ok, :f :read, :value 3, :process 3, :time 5647224352, :index 55}
{:type :invoke, :f :read, :value nil, :process 4, :time 5945838167, :index 56}
{:type :ok, :f :read, :value 3, :process 4, :time 5950903152, :index 57}
{:type :invoke, :f :cas, :value [1 0], :process 1, :time 6591237885, :index 58}
{:type :fail, :f :cas, :value [1 0], :process 1, :time 6599067474, :index 59}
{:type :invoke, :f :write, :value 4, :process 3, :time 6753789009, :index 60}
{:type :invoke, :f :write, :value 1, :process 2, :time 6759420550, :index 61}
{:type :ok, :f :write, :value 4, :process 3, :time 6760720470, :index 62}
{:type :ok, :f :write, :value 1, :process 2, :time 6765857071, :index 63}
{:type :invoke, :f :read, :value nil, :process 2, :time 7058309356, :index 64}
{:type :ok, :f :read, :value 1, :process 2, :time 7062938893, :index 65}
{:type :invoke, :f :write, :value 0, :process 0, :time 7223343069, :index 66}
{:type :ok, :f :write, :value 0, :process 0, :time 7231051648, :index 67}
{:type :invoke, :f :read, :value nil, :process 1, :time 7253459976, :index 68}
{:type :ok, :f :read, :value 0, :process 1, :time 7257846249, :index 69}
{:type :invoke, :f :read, :value nil, :process 4, :time 7786384565, :index 70}
{:type :ok, :f :read, :value 0, :process 4, :time 7791152208, :index 71}
{:type :invoke, :f :read, :value nil, :process 1, :time 7811258301, :index 72}
{:type :ok, :f :read, :value 0, :process 1, :time 7815861493, :index 73}
{:type :invoke, :f :cas, :value [0 2], :process 2, :time 7899363430, :index 74}
{:type :ok, :f :cas, :value [0 2], :process 2, :time 7905817713, :index 75}
{:type :invoke, :f :write, :value 1, :process 3, :time 8214266980, :index 76}
{:type :ok, :f :write, :value 1, :process 3, :time 8221112785, :index 77}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 8305494370, :index 78}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 8313020173, :index 79}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 8719639392, :index 80}
{:type :ok, :f :cas, :value [1 3], :process 4, :time 8726151341, :index 81}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 8905483608, :index 82}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 8914440066, :index 83}
{:type :invoke, :f :write, :value 2, :process 0, :time 9082059941, :index 84}
{:type :ok, :f :write, :value 2, :process 0, :time 9090341020, :index 85}
{:type :invoke, :f :write, :value 1, :process 1, :time 9208262542, :index 86}
{:type :ok, :f :write, :value 1, :process 1, :time 9215338561, :index 87}
{:type :invoke, :f :cas, :value [1 0], :process 2, :time 9496252149, :index 88}
{:type :ok, :f :cas, :value [1 0], :process 2, :time 9504215117, :index 89}
{:type :invoke, :f :write, :value 3, :process 4, :time 9683559964, :index 90}
{:type :ok, :f :write, :value 3, :process 4, :time 9689954336, :index 91}
{:type :invoke, :f :write, :value 4, :process 3, :time 10102430716, :index 92}
{:type :ok, :f :write, :value 4, :process 3, :time 10110009753, :index 93}
{:type :invoke, :f :cas, :value [3 1], :process 2, :time 10139794454, :index 94}
{:type :fail, :f :cas, :value [3 1], :process 2, :time 10146957008, :index 95}
{:type :invoke, :f :cas, :value [4 2], :process 2, :time 10392361455, :index 96}
{:type :ok, :f :cas, :value [4 2], :process 2, :time 10399932133, :index 97}
{:type :invoke, :f :read, :value nil, :process 0, :time 10483153635, :index 98}
{:type :ok, :f :read, :value 2, :process 0, :time 10488439378, :index 99}
{:type :invoke, :f :write, :value 0, :process 1, :time 10565925374, :index 100}
{:type :ok, :f :write, :value 0, :process 1, :time 10573805112, :index 101}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 10891500593, :index 102}
{:type :fail, :f :cas, :value [4 4], :process 3, :time 10899787716, :index 103}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 11239444106, :index 104}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 11247032364, :index 105}
{:type :invoke, :f :read, :value nil, :process 4, :time 11371538301, :index 106}
{:type :ok, :f :read, :value 0, :process 4, :time 11377011042, :index 107}
{:type :invoke, :f :read, :value nil, :process 2, :time 11424337575, :index 108}
{:type :ok, :f :read, :value 0, :process 2, :time 11428257672, :index 109}
{:type :invoke, :f :write, :value 4, :process 0, :time 11684893883, :index 110}
{:type :ok, :f :write, :value 4, :process 0, :time 11692109298, :index 111}
{:type :invoke, :f :read, :value nil, :process 0, :time 12143488979, :index 112}
{:type :ok, :f :read, :value 4, :process 0, :time 12148172030, :index 113}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 12214283155, :index 114}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 12221368088, :index 115}
{:type :invoke, :f :write, :value 2, :process 3, :time 12296770772, :index 116}
{:type :ok, :f :write, :value 2, :process 3, :time 12303782502, :index 117}
{:type :invoke, :f :read, :value nil, :process 1, :time 12436352905, :index 118}
{:type :ok, :f :read, :value 2, :process 1, :time 12441217492, :index 119}
{:type :invoke, :f :write, :value 2, :process 2, :time 12686651016, :index 120}
{:type :ok, :f :write, :value 2, :process 2, :time 12693840138, :index 121}
{:type :invoke, :f :read, :value nil, :process 4, :time 12696419969, :index 122}
{:type :ok, :f :read, :value 2, :process 4, :time 12700651871, :index 123}
{:type :invoke, :f :write, :value 4, :process 1, :time 12850660761, :index 124}
{:type :ok, :f :write, :value 4, :process 1, :time 12857941562, :index 125}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 13167060584, :index 126}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 13174602782, :index 127}
{:type :invoke, :f :write, :value 4, :process 3, :time 13339189839, :index 128}
{:type :ok, :f :write, :value 4, :process 3, :time 13346675474, :index 129}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 13429574573, :index 130}
{:type :ok, :f :cas, :value [4 4], :process 0, :time 13436220762, :index 131}
{:type :invoke, :f :read, :value nil, :process 3, :time 13551066499, :index 132}
{:type :ok, :f :read, :value 4, :process 3, :time 13555625070, :index 133}
{:type :invoke, :f :read, :value nil, :process 1, :time 14050368434, :index 134}
{:type :ok, :f :read, :value 4, :process 1, :time 14054895641, :index 135}
{:type :invoke, :f :read, :value nil, :process 0, :time 14140661458, :index 136}
{:type :ok, :f :read, :value 4, :process 0, :time 14144585266, :index 137}
{:type :invoke, :f :read, :value nil, :process 2, :time 14184194684, :index 138}
{:type :ok, :f :read, :value 4, :process 2, :time 14188115304, :index 139}
{:type :invoke, :f :write, :value 3, :process 4, :time 14369015335, :index 140}
{:type :ok, :f :write, :value 3, :process 4, :time 14375980145, :index 141}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 14462472804, :index 142}
{:type :ok, :f :cas, :value [3 2], :process 4, :time 14469341721, :index 143}
{:type :invoke, :f :read, :value nil, :process 0, :time 14924954857, :index 144}
{:type :ok, :f :read, :value 2, :process 0, :time 14929476841, :index 145}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 14963997624, :index 146}
{:type :ok, :f :cas, :value [2 0], :process 3, :time 14970963847, :index 147}
