{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 17674475465, :index 3577}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 17680122384, :error :not-found, :index 3579}
{:type :invoke, :f :cas, :value [1 3], :process 1, :time 17767929021, :index 3593}
{:type :invoke, :f :read, :value nil, :process 4, :time 17770397492, :index 3594}
{:type :fail, :f :cas, :value [1 3], :process 1, :time 17775164069, :error :not-found, :index 3596}
{:type :invoke, :f :write, :value 4, :process 3, :time 17775369032, :index 3597}
{:type :ok, :f :read, :value nil, :process 4, :time 17775838695, :index 3598}
{:type :ok, :f :write, :value 4, :process 3, :time 17780153411, :index 3599}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 17783381310, :index 3600}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 17787823345, :index 3601}
{:type :invoke, :f :cas, :value [0 1], :process 9, :time 17826902412, :index 3606}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 17827757693, :index 3607}
{:type :fail, :f :cas, :value [0 1], :process 9, :time 17833177888, :index 3608}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 17833731133, :index 3609}
{:type :invoke, :f :write, :value 1, :process 3, :time 17863414510, :index 3615}
{:type :ok, :f :write, :value 1, :process 3, :time 17869230537, :index 3618}
{:type :invoke, :f :write, :value 0, :process 1, :time 17869242158, :index 3619}
{:type :ok, :f :write, :value 0, :process 1, :time 17874374972, :index 3621}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 17882009722, :index 3623}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 17887819662, :index 3625}
{:type :invoke, :f :cas, :value [1 1], :process 1, :time 17899627559, :index 3626}
{:type :fail, :f :cas, :value [1 1], :process 1, :time 17906463066, :index 3627}
{:type :invoke, :f :cas, :value [4 2], :process 3, :time 17949513787, :index 3631}
{:type :invoke, :f :read, :value nil, :process 4, :time 17951118907, :index 3632}
{:type :fail, :f :cas, :value [4 2], :process 3, :time 17954631050, :index 3635}
{:type :ok, :f :read, :value 0, :process 4, :time 17956817624, :index 3636}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 17964081078, :index 3638}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 17970491534, :index 3639}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 17977773275, :index 3640}
{:type :invoke, :f :write, :value 0, :process 4, :time 17980073072, :index 3641}
{:type :invoke, :f :write, :value 3, :process 9, :time 17981540293, :index 3642}
{:type :ok, :f :cas, :value [0 2], :process 8, :time 17982888068, :index 3643}
{:type :ok, :f :write, :value 0, :process 4, :time 17984847789, :index 3645}
{:type :ok, :f :write, :value 3, :process 9, :time 17987379655, :index 3646}
{:type :invoke, :f :read, :value nil, :process 9, :time 17999637571, :index 3649}
{:type :ok, :f :read, :value 3, :process 9, :time 18004995971, :index 3651}
{:type :invoke, :f :write, :value 2, :process 6, :time 18023078023, :index 3654}
{:type :ok, :f :write, :value 2, :process 6, :time 18028197282, :index 3656}
{:type :invoke, :f :write, :value 1, :process 1, :time 18037743277, :index 3659}
{:type :ok, :f :write, :value 1, :process 1, :time 18043159956, :index 3661}
{:type :invoke, :f :cas, :value [2 2], :process 4, :time 18058104319, :index 3664}
{:type :fail, :f :cas, :value [2 2], :process 4, :time 18063890863, :index 3665}
{:type :invoke, :f :read, :value nil, :process 6, :time 18068510669, :index 3667}
{:type :ok, :f :read, :value 1, :process 6, :time 18074427227, :index 3669}
{:type :invoke, :f :write, :value 0, :process 6, :time 18077671466, :index 3670}
{:type :ok, :f :write, :value 0, :process 6, :time 18082839944, :index 3671}
{:type :invoke, :f :read, :value nil, :process 3, :time 18101911384, :index 3672}
{:type :ok, :f :read, :value 0, :process 3, :time 18106671147, :index 3673}
{:type :invoke, :f :cas, :value [0 3], :process 8, :time 18132214615, :index 3674}
{:type :ok, :f :cas, :value [0 3], :process 8, :time 18136824718, :index 3675}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 18137927796, :index 3676}
{:type :ok, :f :cas, :value [3 2], :process 3, :time 18142059710, :index 3678}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 18162090152, :index 3682}
{:type :ok, :f :cas, :value [2 1], :process 8, :time 18166467422, :index 3683}
{:type :invoke, :f :cas, :value [1 4], :process 9, :time 18176222248, :index 3684}
{:type :ok, :f :cas, :value [1 4], :process 9, :time 18181328595, :index 3686}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 18197108273, :index 3689}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 18202593015, :index 3693}
{:type :invoke, :f :write, :value 1, :process 1, :time 18215420665, :index 3697}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 18220359844, :index 3701}
{:type :ok, :f :write, :value 1, :process 1, :time 18221632372, :index 3702}
{:type :fail, :f :cas, :value [3 1], :process 3, :time 18225386086, :index 3705}
{:type :invoke, :f :read, :value nil, :process 4, :time 18226160682, :index 3706}
{:type :ok, :f :read, :value 1, :process 4, :time 18232217655, :index 3707}
{:type :invoke, :f :read, :value nil, :process 1, :time 18261884163, :index 3708}
{:type :ok, :f :read, :value 1, :process 1, :time 18267505026, :index 3709}
{:type :invoke, :f :read, :value nil, :process 3, :time 18289629131, :index 3712}
{:type :invoke, :f :read, :value nil, :process 9, :time 18291695785, :index 3713}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 18292746497, :index 3714}
{:type :ok, :f :read, :value 1, :process 3, :time 18294361185, :index 3715}
{:type :ok, :f :read, :value 1, :process 9, :time 18297054496, :index 3716}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 18297506126, :index 3717}
{:type :invoke, :f :write, :value 2, :process 6, :time 18297929339, :index 3718}
{:type :ok, :f :write, :value 2, :process 6, :time 18302875386, :index 3719}
{:type :invoke, :f :write, :value 2, :process 1, :time 18346811613, :index 3727}
{:type :ok, :f :write, :value 2, :process 1, :time 18351446282, :index 3728}
{:type :invoke, :f :write, :value 2, :process 8, :time 18370745031, :index 3731}
{:type :ok, :f :write, :value 2, :process 8, :time 18375749986, :index 3734}
{:type :invoke, :f :write, :value 4, :process 4, :time 18397473920, :index 3739}
{:type :invoke, :f :cas, :value [0 1], :process 8, :time 18399002651, :index 3741}
{:type :ok, :f :write, :value 4, :process 4, :time 18402975883, :index 3742}
{:type :fail, :f :cas, :value [0 1], :process 8, :time 18403341062, :index 3743}
{:type :invoke, :f :write, :value 0, :process 8, :time 18430590687, :index 3746}
{:type :ok, :f :write, :value 0, :process 8, :time 18435819316, :index 3747}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 18438749020, :index 3748}
{:type :fail, :f :cas, :value [4 0], :process 1, :time 18447048241, :index 3751}
{:type :invoke, :f :write, :value 1, :process 6, :time 18447139929, :index 3752}
{:type :ok, :f :write, :value 1, :process 6, :time 18452390493, :index 3753}
{:type :invoke, :f :read, :value nil, :process 9, :time 18483333751, :index 3758}
{:type :ok, :f :read, :value 1, :process 9, :time 18488692782, :index 3761}
{:type :invoke, :f :read, :value nil, :process 3, :time 18492659196, :index 3764}
{:type :ok, :f :read, :value 1, :process 3, :time 18499164475, :index 3766}
{:type :invoke, :f :read, :value nil, :process 6, :time 18526649426, :index 3768}
{:type :ok, :f :read, :value 1, :process 6, :time 18532182379, :index 3769}
{:type :invoke, :f :write, :value 0, :process 4, :time 18533255380, :index 3770}
{:type :ok, :f :write, :value 0, :process 4, :time 18538079888, :index 3771}
{:type :invoke, :f :read, :value nil, :process 4, :time 18541333830, :index 3772}
{:type :ok, :f :read, :value 0, :process 4, :time 18546809080, :index 3773}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 18577074755, :index 3776}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 18582121781, :index 3778}
{:type :invoke, :f :cas, :value [4 1], :process 8, :time 18607376609, :index 3780}
{:type :fail, :f :cas, :value [4 1], :process 8, :time 18612157518, :index 3781}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 18623437612, :index 3782}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 18628575691, :index 3784}
{:type :invoke, :f :read, :value nil, :process 1, :time 18645352064, :index 3786}
{:type :ok, :f :read, :value 0, :process 1, :time 18650817978, :index 3787}
{:type :invoke, :f :write, :value 0, :process 4, :time 18652069683, :index 3788}
{:type :ok, :f :write, :value 0, :process 4, :time 18656817984, :index 3789}
{:type :invoke, :f :cas, :value [0 3], :process 9, :time 18659949774, :index 3790}
{:type :ok, :f :cas, :value [0 3], :process 9, :time 18665041593, :index 3791}
{:type :invoke, :f :read, :value nil, :process 1, :time 18676092019, :index 3794}
{:type :ok, :f :read, :value 3, :process 1, :time 18681349168, :index 3797}
{:type :invoke, :f :read, :value nil, :process 3, :time 18681431247, :index 3798}
{:type :ok, :f :read, :value 3, :process 3, :time 18686049056, :index 3799}
{:type :invoke, :f :write, :value 1, :process 1, :time 18697597901, :index 3804}
{:type :ok, :f :write, :value 1, :process 1, :time 18703959348, :index 3812}
{:type :invoke, :f :read, :value nil, :process 1, :time 18747174477, :index 3816}
{:type :ok, :f :read, :value 1, :process 1, :time 18752726537, :index 3819}
{:type :invoke, :f :read, :value nil, :process 4, :time 18754978547, :index 3820}
{:type :ok, :f :read, :value 1, :process 4, :time 18760114049, :index 3821}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 18767411526, :index 3822}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 18772433757, :index 3824}
{:type :invoke, :f :write, :value 3, :process 6, :time 18786828765, :index 3828}
{:type :ok, :f :write, :value 3, :process 6, :time 18791854694, :index 3829}
{:type :invoke, :f :read, :value nil, :process 6, :time 18813108947, :index 3830}
{:type :ok, :f :read, :value 3, :process 6, :time 18818157114, :index 3831}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 18834728968, :index 3836}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 18839558237, :index 3837}
{:type :invoke, :f :write, :value 2, :process 9, :time 18852311469, :index 3838}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 18854419349, :index 3839}
{:type :ok, :f :write, :value 2, :process 9, :time 18857971596, :index 3840}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 18859906230, :index 3842}
{:type :invoke, :f :write, :value 4, :process 6, :time 18863207563, :index 3843}
{:type :ok, :f :write, :value 4, :process 6, :time 18869668712, :index 3846}
{:type :invoke, :f :write, :value 2, :process 6, :time 18872947130, :index 3848}
{:type :ok, :f :write, :value 2, :process 6, :time 18878113672, :index 3849}
{:type :invoke, :f :read, :value nil, :process 6, :time 18882316877, :index 3850}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 18882319833, :index 3851}
{:type :ok, :f :read, :value 2, :process 6, :time 18887875721, :index 3852}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 18888586054, :index 3853}
{:type :invoke, :f :read, :value nil, :process 9, :time 18921276964, :index 3858}
{:type :ok, :f :read, :value 2, :process 9, :time 18926791555, :index 3859}
{:type :invoke, :f :write, :value 0, :process 1, :time 18930961854, :index 3860}
{:type :ok, :f :write, :value 0, :process 1, :time 18936014849, :index 3861}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 18955373622, :index 3862}
{:type :fail, :f :cas, :value [1 4], :process 4, :time 18960589139, :index 3863}
{:type :invoke, :f :write, :value 0, :process 3, :time 18987842139, :index 3868}
{:type :ok, :f :write, :value 0, :process 3, :time 18992980362, :index 3869}
{:type :invoke, :f :read, :value nil, :process 6, :time 18995174414, :index 3870}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 18998857455, :index 3871}
{:type :ok, :f :read, :value 0, :process 6, :time 18999869485, :index 3872}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 19004795831, :index 3873}
{:type :invoke, :f :write, :value 2, :process 9, :time 19010055480, :index 3875}
{:type :ok, :f :write, :value 2, :process 9, :time 19015065916, :index 3877}
{:type :invoke, :f :read, :value nil, :process 8, :time 19034827487, :index 3883}
{:type :invoke, :f :read, :value nil, :process 1, :time 19035288874, :index 3884}
{:type :ok, :f :read, :value 2, :process 8, :time 19039883200, :index 3886}
{:type :ok, :f :read, :value 2, :process 1, :time 19040685824, :index 3887}
{:type :invoke, :f :write, :value 3, :process 3, :time 19105238983, :index 3891}
{:type :invoke, :f :read, :value nil, :process 4, :time 19107057344, :index 3892}
{:type :ok, :f :write, :value 3, :process 3, :time 19111215149, :index 3894}
{:type :ok, :f :read, :value 3, :process 4, :time 19112905968, :index 3895}
{:type :invoke, :f :read, :value nil, :process 9, :time 19113321344, :index 3896}
{:type :invoke, :f :write, :value 3, :process 8, :time 19116133855, :index 3897}
{:type :ok, :f :read, :value 3, :process 9, :time 19118629605, :index 3898}
{:type :ok, :f :write, :value 3, :process 8, :time 19121100657, :index 3899}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 19149149002, :index 3902}
{:type :invoke, :f :write, :value 1, :process 6, :time 19155151260, :index 3904}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 19155506697, :index 3905}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 19156479221, :index 3906}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 19160593551, :index 3908}
{:type :ok, :f :write, :value 1, :process 6, :time 19161502632, :index 3909}
{:type :invoke, :f :cas, :value [2 0], :process 1, :time 19210918744, :index 3912}
{:type :invoke, :f :write, :value 3, :process 6, :time 19211725598, :index 3914}
{:type :ok, :f :write, :value 3, :process 6, :time 19219389352, :index 3916}
{:type :fail, :f :cas, :value [2 0], :process 1, :time 19220037350, :index 3917}
{:type :invoke, :f :read, :value nil, :process 4, :time 19232766130, :index 3921}
{:type :ok, :f :read, :value 3, :process 4, :time 19238688721, :index 3923}
{:type :invoke, :f :read, :value nil, :process 9, :time 19254887742, :index 3924}
{:type :ok, :f :read, :value 3, :process 9, :time 19260696055, :index 3926}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 19268637773, :index 3928}
{:type :ok, :f :cas, :value [3 2], :process 6, :time 19273331299, :index 3929}
{:type :invoke, :f :write, :value 0, :process 4, :time 19296943232, :index 3932}
{:type :ok, :f :write, :value 0, :process 4, :time 19302289003, :index 3935}
{:type :invoke, :f :write, :value 4, :process 9, :time 19307946100, :index 3936}
{:type :invoke, :f :read, :value nil, :process 8, :time 19309354925, :index 3937}
{:type :ok, :f :write, :value 4, :process 9, :time 19314157913, :index 3938}
{:type :ok, :f :read, :value 4, :process 8, :time 19314216114, :index 3939}
{:type :invoke, :f :read, :value nil, :process 3, :time 19326881868, :index 3940}
{:type :invoke, :f :write, :value 1, :process 1, :time 19327292604, :index 3941}
{:type :ok, :f :read, :value 4, :process 3, :time 19332062431, :index 3942}
{:type :ok, :f :write, :value 1, :process 1, :time 19333082952, :index 3943}
{:type :invoke, :f :read, :value nil, :process 6, :time 19363603405, :index 3948}
{:type :ok, :f :read, :value 1, :process 6, :time 19368918649, :index 3949}
{:type :invoke, :f :cas, :value [0 4], :process 4, :time 19369548270, :index 3950}
{:type :fail, :f :cas, :value [0 4], :process 4, :time 19375215856, :index 3952}
{:type :invoke, :f :read, :value nil, :process 9, :time 19400446414, :index 3956}
{:type :ok, :f :read, :value 1, :process 9, :time 19405974280, :index 3957}
{:type :invoke, :f :write, :value 0, :process 8, :time 19413441640, :index 3958}
{:type :ok, :f :write, :value 0, :process 8, :time 19418450279, :index 3960}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
