{:type :invoke, :f :write, :value 2, :process 16, :time 3700488145, :index 1208}
{:type :invoke, :f :read, :value nil, :process 11, :time 3700899831, :index 1209}
{:type :ok, :f :write, :value 2, :process 16, :time 3706049767, :index 1212}
{:type :ok, :f :read, :value 2, :process 11, :time 3707003232, :index 1214}
{:type :invoke, :f :read, :value nil, :process 18, :time 3716830620, :index 1217}
{:type :ok, :f :read, :value 2, :process 18, :time 3722086132, :index 1219}
{:type :invoke, :f :write, :value 1, :process 14, :time 3723235963, :index 1220}
{:type :ok, :f :write, :value 1, :process 14, :time 3727912928, :index 1221}
{:type :invoke, :f :read, :value nil, :process 12, :time 3730100067, :index 1222}
{:type :invoke, :f :cas, :value [4 4], :process 19, :time 3768600466, :index 1231}
{:type :invoke, :f :write, :value 0, :process 10, :time 3771596471, :index 1233}
{:type :invoke, :f :write, :value 4, :process 15, :time 3775383687, :index 1235}
{:type :ok, :f :write, :value 0, :process 10, :time 3776680248, :index 1237}
{:type :fail, :f :cas, :value [4 4], :process 19, :time 3776954349, :index 1238}
{:type :ok, :f :write, :value 4, :process 15, :time 3780438072, :index 1240}
{:type :invoke, :f :cas, :value [0 4], :process 14, :time 3798174537, :index 1244}
{:type :fail, :f :cas, :value [0 4], :process 14, :time 3803989405, :index 1245}
{:type :invoke, :f :write, :value 2, :process 10, :time 3813946344, :index 1247}
{:type :ok, :f :write, :value 2, :process 10, :time 3819142794, :index 1251}
{:type :invoke, :f :read, :value nil, :process 18, :time 3834341315, :index 1256}
{:type :invoke, :f :read, :value nil, :process 16, :time 3837306157, :index 1257}
{:type :ok, :f :read, :value 2, :process 18, :time 3840041918, :index 1258}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 3844388786, :index 1259}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 3848921193, :index 1260}
{:type :ok, :f :cas, :value [2 4], :process 10, :time 3849252067, :index 1261}
{:type :fail, :f :cas, :value [0 4], :process 13, :time 3854257233, :index 1262}
{:type :invoke, :f :write, :value 4, :process 11, :time 3883267550, :index 1265}
{:type :invoke, :f :write, :value 2, :process 19, :time 3891211011, :index 1267}
{:type :ok, :f :write, :value 2, :process 19, :time 3896143690, :index 1268}
{:type :invoke, :f :read, :value nil, :process 10, :time 3908516458, :index 1272}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 3912708371, :index 1275}
{:type :ok, :f :read, :value 2, :process 10, :time 3913160198, :index 1276}
{:type :ok, :f :cas, :value [2 2], :process 15, :time 3916761896, :index 1278}
{:type :invoke, :f :read, :value nil, :process 14, :time 3928218933, :index 1279}
{:type :ok, :f :read, :value 2, :process 14, :time 3933645378, :index 1281}
{:type :invoke, :f :write, :value 4, :process 13, :time 3941514073, :index 1283}
{:type :ok, :f :read, :value 2, :process 16, :time 3944348181, :index 1284}
{:type :ok, :f :write, :value 4, :process 11, :time 3945515972, :index 1286}
{:type :ok, :f :write, :value 4, :process 13, :time 3948450840, :index 1287}
{:type :invoke, :f :cas, :value [3 4], :process 14, :time 3975914213, :index 1294}
{:type :invoke, :f :write, :value 1, :process 11, :time 3976752654, :index 1295}
{:type :fail, :f :cas, :value [3 4], :process 14, :time 3982153247, :index 1298}
{:type :ok, :f :write, :value 1, :process 11, :time 3982186102, :index 1299}
{:type :invoke, :f :read, :value nil, :process 14, :time 3985450344, :index 1301}
{:type :ok, :f :read, :value 1, :process 14, :time 3990899962, :index 1304}
{:type :invoke, :f :write, :value 1, :process 16, :time 4006609660, :index 1306}
{:type :ok, :f :write, :value 1, :process 16, :time 4012329558, :index 1307}
{:type :invoke, :f :read, :value nil, :process 13, :time 4019701066, :index 1309}
{:type :invoke, :f :cas, :value [2 3], :process 18, :time 4024314885, :index 1311}
{:type :ok, :f :read, :value 1, :process 13, :time 4025180813, :index 1312}
{:type :fail, :f :cas, :value [2 3], :process 18, :time 4029699284, :index 1313}
{:type :invoke, :f :cas, :value [0 3], :process 15, :time 4031019902, :index 1314}
{:type :fail, :f :cas, :value [0 3], :process 15, :time 4036270902, :index 1316}
{:type :invoke, :f :cas, :value [1 3], :process 11, :time 4041471023, :index 1320}
{:type :ok, :f :cas, :value [1 3], :process 11, :time 4047278901, :index 1323}
{:type :invoke, :f :cas, :value [1 4], :process 19, :time 4052482214, :index 1325}
{:type :invoke, :f :cas, :value [4 1], :process 16, :time 4056591767, :index 1328}
{:type :fail, :f :cas, :value [1 4], :process 19, :time 4057807956, :index 1329}
{:type :fail, :f :cas, :value [4 1], :process 16, :time 4061988872, :index 1332}
{:type :invoke, :f :write, :value 1, :process 13, :time 4074433353, :index 1334}
{:type :ok, :f :write, :value 1, :process 13, :time 4079662603, :index 1335}
{:type :invoke, :f :cas, :value [4 0], :process 13, :time 4093924793, :index 1336}
{:type :invoke, :f :read, :value nil, :process 16, :time 4095283804, :index 1337}
{:type :invoke, :f :read, :value nil, :process 19, :time 4096069686, :index 1338}
{:type :fail, :f :cas, :value [4 0], :process 13, :time 4099479657, :index 1339}
{:type :ok, :f :read, :value 1, :process 16, :time 4100527060, :index 1340}
{:type :ok, :f :read, :value 1, :process 19, :time 4102082071, :index 1341}
{:type :invoke, :f :write, :value 3, :process 10, :time 4105421245, :index 1342}
{:type :ok, :f :write, :value 3, :process 10, :time 4110208913, :index 1343}
{:type :invoke, :f :write, :value 4, :process 11, :time 4138537557, :index 1348}
{:type :ok, :f :write, :value 4, :process 11, :time 4143082835, :index 1349}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 4155337201, :index 1355}
{:type :invoke, :f :cas, :value [4 4], :process 18, :time 4155981049, :index 1356}
{:type :ok, :f :cas, :value [4 4], :process 18, :time 4161555756, :index 1358}
{:type :ok, :f :cas, :value [4 3], :process 11, :time 4161555756, :index 1359}
{:type :invoke, :f :write, :value 4, :process 14, :time 4165420220, :index 1360}
{:type :ok, :f :write, :value 4, :process 14, :time 4170419383, :index 1362}
{:type :invoke, :f :read, :value nil, :process 10, :time 4198463817, :index 1367}
{:type :ok, :f :read, :value 4, :process 10, :time 4202840824, :index 1369}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 4206530775, :index 1372}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 4211573705, :index 1374}
{:type :invoke, :f :cas, :value [2 2], :process 18, :time 4254809569, :index 1379}
{:type :invoke, :f :write, :value 1, :process 16, :time 4262783048, :index 1381}
{:type :fail, :f :cas, :value [2 2], :process 18, :time 4264515438, :index 1383}
{:type :invoke, :f :write, :value 3, :process 13, :time 4264740739, :index 1384}
{:type :ok, :f :write, :value 1, :process 16, :time 4267879674, :index 1385}
{:type :invoke, :f :write, :value 0, :process 19, :time 4268342307, :index 1386}
{:type :ok, :f :write, :value 3, :process 13, :time 4269955785, :index 1387}
{:type :invoke, :f :cas, :value [0 4], :process 14, :time 4273681297, :index 1390}
{:type :invoke, :f :read, :value nil, :process 10, :time 4299072063, :index 1396}
{:type :ok, :f :read, :value 3, :process 10, :time 4303679936, :index 1397}
{:type :invoke, :f :cas, :value [2 2], :process 18, :time 4309770451, :index 1399}
{:type :fail, :f :cas, :value [2 2], :process 18, :time 4315695179, :index 1401}
{:type :invoke, :f :read, :value nil, :process 18, :time 4341952623, :index 1404}
{:type :ok, :f :read, :value 3, :process 18, :time 4347886652, :index 1406}
{:type :invoke, :f :read, :value nil, :process 13, :time 4354243008, :index 1408}
{:type :invoke, :f :read, :value nil, :process 11, :time 4359810976, :index 1409}
{:type :ok, :f :read, :value 3, :process 13, :time 4359972939, :index 1410}
{:type :ok, :f :read, :value 3, :process 11, :time 4364483148, :index 1411}
{:type :invoke, :f :read, :value nil, :process 15, :time 4369898191, :index 1412}
{:type :ok, :f :read, :value 3, :process 15, :time 4374970990, :index 1413}
{:type :invoke, :f :read, :value nil, :process 18, :time 4381125144, :index 1414}
{:type :ok, :f :read, :value 3, :process 18, :time 4386440990, :index 1415}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 4394147323, :index 1416}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 4399700766, :index 1417}
{:type :invoke, :f :cas, :value [4 2], :process 13, :time 4444180290, :index 1419}
{:type :invoke, :f :read, :value nil, :process 10, :time 4447941164, :index 1420}
{:type :fail, :f :cas, :value [4 2], :process 13, :time 4452685623, :index 1422}
{:type :ok, :f :read, :value 3, :process 10, :time 4453244854, :index 1424}
{:type :invoke, :f :read, :value nil, :process 15, :time 4459229265, :index 1429}
{:type :ok, :f :read, :value 3, :process 15, :time 4463630365, :index 1431}
{:type :invoke, :f :write, :value 4, :process 11, :time 4501740984, :index 1439}
{:type :ok, :f :write, :value 4, :process 11, :time 4507388961, :index 1441}
{:type :invoke, :f :read, :value nil, :process 10, :time 4534514738, :index 1445}
{:type :ok, :f :read, :value 1, :process 12, :time 4539233197, :index 1448}
{:type :invoke, :f :read, :value nil, :process 18, :time 4539703444, :index 1450}
{:type :ok, :f :read, :value 4, :process 10, :time 4540058688, :index 1451}
{:type :ok, :f :read, :value 4, :process 18, :time 4545602545, :index 1453}
{:type :invoke, :f :write, :value 0, :process 11, :time 4548653477, :index 1454}
{:type :invoke, :f :read, :value nil, :process 18, :time 4549862084, :index 1456}
{:type :invoke, :f :write, :value 4, :process 16, :time 4553955185, :index 1457}
{:type :ok, :f :write, :value 0, :process 11, :time 4554941946, :index 1458}
{:type :ok, :f :read, :value 0, :process 18, :time 4555626322, :index 1460}
{:type :ok, :f :write, :value 4, :process 16, :time 4558636703, :index 1462}
{:type :invoke, :f :write, :value 1, :process 12, :time 4573506632, :index 1467}
{:type :ok, :f :write, :value 1, :process 12, :time 4580071148, :index 1470}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 4611896520, :index 1473}
{:type :invoke, :f :cas, :value [1 4], :process 16, :time 4616913625, :index 1476}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 4617881395, :index 1477}
{:type :ok, :f :cas, :value [1 4], :process 16, :time 4621746827, :index 1479}
{:type :invoke, :f :read, :value nil, :process 13, :time 4643956445, :index 1481}
{:type :ok, :f :read, :value 4, :process 13, :time 4649837594, :index 1482}
{:type :invoke, :f :write, :value 1, :process 17, :time 4653278664, :index 1483}
{:type :invoke, :f :read, :value nil, :process 10, :time 4655334758, :index 1484}
{:type :ok, :f :read, :value 4, :process 10, :time 4659995879, :index 1485}
{:type :invoke, :f :read, :value nil, :process 11, :time 4700466595, :index 1491}
{:type :ok, :f :read, :value 4, :process 11, :time 4706675970, :index 1493}
{:type :invoke, :f :write, :value 0, :process 18, :time 4712858039, :index 1494}
{:type :ok, :f :write, :value 0, :process 19, :time 4716685938, :index 1496}
{:type :ok, :f :cas, :value [0 4], :process 14, :time 4717253695, :index 1497}
{:type :ok, :f :write, :value 0, :process 18, :time 4718130529, :index 1499}
{:type :invoke, :f :write, :value 3, :process 15, :time 4735136418, :index 1503}
{:type :ok, :f :write, :value 3, :process 15, :time 4740282981, :index 1505}
{:type :invoke, :f :write, :value 4, :process 12, :time 4764290638, :index 1509}
{:type :invoke, :f :write, :value 4, :process 16, :time 4767018644, :index 1511}
{:type :ok, :f :write, :value 4, :process 16, :time 4773085952, :index 1514}
{:type :invoke, :f :write, :value 1, :process 13, :time 4802103343, :index 1520}
{:type :ok, :f :write, :value 1, :process 13, :time 4807357151, :index 1522}
{:type :invoke, :f :write, :value 0, :process 11, :time 4824912321, :index 1526}
{:type :invoke, :f :write, :value 0, :process 18, :time 4825450719, :index 1527}
{:type :ok, :f :write, :value 0, :process 11, :time 4831089391, :index 1528}
{:type :ok, :f :write, :value 0, :process 18, :time 4831591607, :index 1529}
{:type :invoke, :f :read, :value nil, :process 10, :time 4855262923, :index 1530}
{:type :invoke, :f :read, :value nil, :process 18, :time 4857828269, :index 1531}
{:type :ok, :f :read, :value 0, :process 10, :time 4860086160, :index 1532}
{:type :ok, :f :read, :value 0, :process 18, :time 4863353432, :index 1533}
{:type :invoke, :f :write, :value 1, :process 15, :time 4886550988, :index 1539}
{:type :ok, :f :write, :value 1, :process 15, :time 4891507432, :index 1541}
{:type :invoke, :f :cas, :value [2 4], :process 19, :time 4896930219, :index 1542}
{:type :invoke, :f :cas, :value [1 1], :process 14, :time 4898529539, :index 1543}
{:type :fail, :f :cas, :value [2 4], :process 19, :time 4902393592, :index 1544}
{:type :ok, :f :cas, :value [1 1], :process 14, :time 4903910518, :index 1545}
{:type :invoke, :f :read, :value nil, :process 18, :time 4915602814, :index 1547}
{:type :ok, :f :read, :value 1, :process 18, :time 4920846551, :index 1549}
{:type :invoke, :f :read, :value nil, :process 11, :time 4921360984, :index 1551}
{:type :ok, :f :read, :value 1, :process 11, :time 4927006409, :index 1555}
{:type :invoke, :f :read, :value nil, :process 16, :time 4928373280, :index 1557}
{:type :invoke, :f :write, :value 1, :process 13, :time 4930617757, :index 1559}
{:type :ok, :f :read, :value 1, :process 16, :time 4933575740, :index 1560}
{:type :ok, :f :write, :value 1, :process 13, :time 4935815033, :index 1561}
{:type :invoke, :f :cas, :value [1 2], :process 11, :time 4951262540, :index 1565}
{:type :ok, :f :cas, :value [1 2], :process 11, :time 4956055924, :index 1567}
{:type :invoke, :f :read, :value nil, :process 10, :time 5034384720, :index 1576}
{:type :invoke, :f :write, :value 4, :process 15, :time 5038764020, :index 1577}
{:type :ok, :f :read, :value 2, :process 10, :time 5039202762, :index 1578}
{:type :ok, :f :write, :value 4, :process 15, :time 5043458519, :index 1579}
{:type :invoke, :f :read, :value nil, :process 14, :time 5048177591, :index 1580}
{:type :ok, :f :read, :value 4, :process 14, :time 5053668966, :index 1582}
{:type :invoke, :f :write, :value 4, :process 15, :time 5055710547, :index 1584}
{:type :ok, :f :write, :value 4, :process 15, :time 5060345315, :index 1585}
{:type :invoke, :f :write, :value 1, :process 18, :time 5063128715, :index 1586}
{:type :ok, :f :write, :value 1, :process 18, :time 5068473956, :index 1587}
{:type :invoke, :f :write, :value 4, :process 19, :time 5074660379, :index 1590}
{:type :ok, :f :write, :value 4, :process 19, :time 5080170068, :index 1591}
{:type :invoke, :f :write, :value 2, :process 16, :time 5086835193, :index 1592}
{:type :ok, :f :write, :value 2, :process 16, :time 5092092511, :index 1594}
{:type :invoke, :f :read, :value nil, :process 11, :time 5116367295, :index 1600}
{:type :ok, :f :read, :value 2, :process 11, :time 5122644895, :index 1606}
{:type :invoke, :f :write, :value 1, :process 13, :time 5134069727, :index 1613}
{:type :ok, :f :write, :value 1, :process 13, :time 5139152803, :index 1618}
{:type :invoke, :f :cas, :value [4 2], :process 10, :time 5144477568, :index 1620}
{:type :fail, :f :cas, :value [4 2], :process 10, :time 5149414549, :index 1621}
{:type :invoke, :f :read, :value nil, :process 14, :time 5172938987, :index 1628}
{:type :ok, :f :read, :value 1, :process 14, :time 5179171209, :index 1629}
{:type :invoke, :f :write, :value 4, :process 18, :time 5201751621, :index 1636}
{:type :ok, :f :write, :value 4, :process 18, :time 5207698574, :index 1639}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :invoke, :f :write, :value 0, :process 15, :time 5246607370, :index 1645}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :ok, :f :write, :value 0, :process 15, :time 5939740400, :index 1663}
{:type :ok, :f :write, :value 1, :process 17, :time 5940153780, :index 1666}
{:type :ok, :f :write, :value 4, :process 12, :time 5940419047, :index 1667}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
