{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :invoke, :f :read, :value nil, :process 22, :time 35063520737, :index 11546}
{:type :fail, :f :read, :value nil, :process 22, :time 35065151577, :error :connect, :index 11547}
{:type :invoke, :f :cas, :value [3 2], :process 29, :time 35071222792, :index 11550}
{:type :fail, :f :cas, :value [3 2], :process 29, :time 35073294923, :error :connect, :index 11551}
{:type :invoke, :f :write, :value 3, :process 8, :time 35079195241, :index 11555}
{:type :fail, :f :write, :value 3, :process 8, :time 35080948953, :error :connect, :index 11556}
{:type :invoke, :f :read, :value nil, :process 7, :time 35102301053, :index 11561}
{:type :fail, :f :read, :value nil, :process 7, :time 35104117532, :error :connect, :index 11563}
{:type :invoke, :f :read, :value nil, :process 8, :time 35109241792, :index 11565}
{:type :fail, :f :read, :value nil, :process 8, :time 35111027050, :error :connect, :index 11566}
{:type :invoke, :f :write, :value 4, :process 6, :time 35143745669, :index 11578}
{:type :fail, :f :write, :value 4, :process 6, :time 35145385938, :error :connect, :index 11579}
{:type :invoke, :f :write, :value 3, :process 4, :time 35148651401, :index 11582}
{:type :fail, :f :write, :value 3, :process 4, :time 35150615035, :error :connect, :index 11583}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 35159646214, :index 11585}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 35161351758, :error :connect, :index 11587}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 35163890078, :index 11588}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 35165716941, :error :connect, :index 11590}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 35179200749, :index 11595}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 35180843563, :error :connect, :index 11597}
{:type :invoke, :f :write, :value 3, :process 7, :time 35184350895, :index 11598}
{:type :fail, :f :write, :value 3, :process 7, :time 35186405193, :error :connect, :index 11599}
{:type :invoke, :f :write, :value 2, :process 5, :time 35188562703, :index 11600}
{:type :fail, :f :write, :value 2, :process 5, :time 35190597798, :error :connect, :index 11602}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 35195184982, :index 11605}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 35197492321, :error :connect, :index 11609}
{:type :invoke, :f :read, :value nil, :process 5, :time 35199885745, :index 11612}
{:type :fail, :f :read, :value nil, :process 5, :time 35201563280, :error :connect, :index 11613}
{:type :invoke, :f :write, :value 0, :process 22, :time 35205408459, :index 11614}
{:type :fail, :f :write, :value 0, :process 22, :time 35207235363, :error :connect, :index 11615}
{:type :invoke, :f :read, :value nil, :process 21, :time 35215468969, :index 11618}
{:type :fail, :f :read, :value nil, :process 21, :time 35217362348, :error :connect, :index 11619}
{:type :invoke, :f :write, :value 1, :process 4, :time 35220983092, :index 11620}
{:type :fail, :f :write, :value 1, :process 4, :time 35222826868, :error :connect, :index 11621}
{:type :invoke, :f :cas, :value [0 1], :process 21, :time 35230618261, :index 11624}
{:type :fail, :f :cas, :value [0 1], :process 21, :time 35232429441, :error :connect, :index 11625}
{:type :invoke, :f :cas, :value [3 2], :process 7, :time 35233668517, :index 11626}
{:type :fail, :f :cas, :value [3 2], :process 7, :time 35235493896, :error :connect, :index 11627}
{:type :invoke, :f :write, :value 3, :process 8, :time 35239301695, :index 11630}
{:type :fail, :f :write, :value 3, :process 8, :time 35241192702, :error :connect, :index 11631}
{:type :invoke, :f :read, :value nil, :process 29, :time 35265465170, :index 11640}
{:type :invoke, :f :cas, :value [3 0], :process 8, :time 35265461535, :index 11641}
{:type :invoke, :f :write, :value 4, :process 6, :time 35266621636, :index 11642}
{:type :fail, :f :read, :value nil, :process 29, :time 35267382969, :error :connect, :index 11643}
{:type :fail, :f :cas, :value [3 0], :process 8, :time 35267873552, :error :connect, :index 11644}
{:type :fail, :f :write, :value 4, :process 6, :time 35268408158, :error :connect, :index 11645}
{:type :invoke, :f :read, :value nil, :process 7, :time 35286759663, :index 11654}
{:type :fail, :f :read, :value nil, :process 7, :time 35288911483, :error :connect, :index 11655}
{:type :invoke, :f :write, :value 2, :process 29, :time 35306627731, :index 11658}
{:type :fail, :f :write, :value 2, :process 29, :time 35308408624, :error :connect, :index 11659}
{:type :invoke, :f :cas, :value [1 1], :process 29, :time 35324683819, :index 11664}
{:type :fail, :f :cas, :value [1 1], :process 29, :time 35326526888, :error :connect, :index 11665}
{:type :invoke, :f :read, :value nil, :process 0, :time 35347107788, :index 11668}
{:type :invoke, :f :write, :value 0, :process 7, :time 35348189700, :index 11669}
{:type :fail, :f :read, :value nil, :process 0, :time 35348866061, :error :connect, :index 11670}
{:type :fail, :f :write, :value 0, :process 7, :time 35349923878, :error :connect, :index 11671}
{:type :invoke, :f :read, :value nil, :process 21, :time 35350710721, :index 11672}
{:type :invoke, :f :write, :value 3, :process 5, :time 35351829367, :index 11673}
{:type :fail, :f :read, :value nil, :process 21, :time 35352608523, :error :connect, :index 11674}
{:type :fail, :f :write, :value 3, :process 5, :time 35353901960, :error :connect, :index 11675}
{:type :invoke, :f :cas, :value [4 0], :process 29, :time 35364795782, :index 11678}
{:type :invoke, :f :read, :value nil, :process 22, :time 35365502515, :index 11679}
{:type :fail, :f :cas, :value [4 0], :process 29, :time 35366851534, :error :connect, :index 11680}
{:type :fail, :f :read, :value nil, :process 22, :time 35367392303, :error :connect, :index 11681}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 35381088556, :index 11684}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 35382904360, :error :connect, :index 11685}
{:type :invoke, :f :read, :value nil, :process 3, :time 35383792595, :index 11686}
{:type :invoke, :f :cas, :value [0 1], :process 4, :time 35384182303, :index 11687}
{:type :fail, :f :read, :value nil, :process 3, :time 35385535062, :error :connect, :index 11689}
{:type :fail, :f :cas, :value [0 1], :process 4, :time 35385872972, :error :connect, :index 11690}
{:type :invoke, :f :read, :value nil, :process 29, :time 35391119248, :index 11692}
{:type :fail, :f :read, :value nil, :process 29, :time 35392885442, :error :connect, :index 11693}
{:type :invoke, :f :write, :value 0, :process 6, :time 35405652571, :index 11698}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 35406155620, :index 11699}
{:type :fail, :f :write, :value 0, :process 6, :time 35407752388, :error :connect, :index 11700}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 35408271297, :error :connect, :index 11701}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 35453156803, :index 11715}
{:type :invoke, :f :read, :value nil, :process 0, :time 35454127142, :index 11717}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 35455262580, :error :connect, :index 11718}
{:type :fail, :f :read, :value nil, :process 0, :time 35456085033, :error :connect, :index 11719}
{:type :invoke, :f :read, :value nil, :process 3, :time 35460796439, :index 11720}
{:type :fail, :f :read, :value nil, :process 3, :time 35462727411, :error :connect, :index 11721}
{:type :invoke, :f :write, :value 4, :process 4, :time 35468408216, :index 11722}
{:type :fail, :f :write, :value 4, :process 4, :time 35470154590, :error :connect, :index 11723}
{:type :invoke, :f :write, :value 1, :process 21, :time 35503869250, :index 11730}
{:type :invoke, :f :write, :value 4, :process 8, :time 35504516378, :index 11731}
{:type :fail, :f :write, :value 1, :process 21, :time 35505698688, :error :connect, :index 11732}
{:type :fail, :f :write, :value 4, :process 8, :time 35506351110, :error :connect, :index 11733}
{:type :invoke, :f :write, :value 1, :process 8, :time 35529583370, :index 11734}
{:type :invoke, :f :write, :value 1, :process 7, :time 35530184062, :index 11735}
{:type :fail, :f :write, :value 1, :process 8, :time 35531240618, :error :connect, :index 11736}
{:type :fail, :f :write, :value 1, :process 7, :time 35531951498, :error :connect, :index 11737}
{:type :invoke, :f :write, :value 2, :process 6, :time 35532029993, :index 11738}
{:type :fail, :f :write, :value 2, :process 6, :time 35534186851, :error :connect, :index 11740}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 35536035576, :index 11743}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 35537826856, :error :connect, :index 11745}
{:type :invoke, :f :read, :value nil, :process 8, :time 35539515374, :index 11746}
{:type :fail, :f :read, :value nil, :process 8, :time 35541567268, :error :connect, :index 11747}
{:type :invoke, :f :read, :value nil, :process 29, :time 35542150604, :index 11748}
{:type :fail, :f :read, :value nil, :process 29, :time 35543984438, :error :connect, :index 11749}
{:type :invoke, :f :read, :value nil, :process 21, :time 35546954156, :index 11750}
{:type :invoke, :f :write, :value 3, :process 4, :time 35548421323, :index 11751}
{:type :fail, :f :read, :value nil, :process 21, :time 35548885845, :error :connect, :index 11752}
{:type :fail, :f :write, :value 3, :process 4, :time 35550335095, :error :connect, :index 11753}
{:type :invoke, :f :read, :value nil, :process 22, :time 35558624751, :index 11754}
{:type :fail, :f :read, :value nil, :process 22, :time 35560825993, :error :connect, :index 11755}
{:type :invoke, :f :read, :value nil, :process 21, :time 35562153480, :index 11756}
{:type :fail, :f :read, :value nil, :process 21, :time 35564239335, :error :connect, :index 11758}
{:type :invoke, :f :cas, :value [2 0], :process 21, :time 35576509407, :index 11764}
{:type :fail, :f :cas, :value [2 0], :process 21, :time 35578421893, :error :connect, :index 11765}
{:type :invoke, :f :write, :value 2, :process 3, :time 35588094321, :index 11768}
{:type :fail, :f :write, :value 2, :process 3, :time 35589976189, :error :connect, :index 11769}
{:type :invoke, :f :read, :value nil, :process 0, :time 35590338930, :index 11770}
{:type :fail, :f :read, :value nil, :process 0, :time 35592237684, :error :connect, :index 11771}
{:type :invoke, :f :write, :value 3, :process 5, :time 35599529219, :index 11772}
{:type :fail, :f :write, :value 3, :process 5, :time 35601672284, :error :connect, :index 11773}
{:type :invoke, :f :cas, :value [0 2], :process 6, :time 35637451814, :index 11792}
{:type :fail, :f :cas, :value [0 2], :process 6, :time 35639288616, :error :connect, :index 11794}
{:type :invoke, :f :cas, :value [1 0], :process 22, :time 35647082224, :index 11799}
{:type :fail, :f :cas, :value [1 0], :process 22, :time 35648937873, :error :connect, :index 11801}
{:type :invoke, :f :cas, :value [3 2], :process 7, :time 35689221693, :index 11808}
{:type :fail, :f :cas, :value [3 2], :process 7, :time 35691020123, :error :connect, :index 11809}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 35715591178, :index 11814}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 35717244262, :error :connect, :index 11815}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 35717832555, :index 11816}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 35719728525, :error :connect, :index 11817}
{:type :invoke, :f :read, :value nil, :process 0, :time 35725523565, :index 11819}
{:type :invoke, :f :write, :value 0, :process 5, :time 35726992352, :index 11823}
{:type :fail, :f :read, :value nil, :process 0, :time 35727649674, :error :connect, :index 11824}
{:type :invoke, :f :read, :value nil, :process 29, :time 35727003119, :index 11825}
{:type :fail, :f :write, :value 0, :process 5, :time 35729184619, :error :connect, :index 11829}
{:type :fail, :f :read, :value nil, :process 29, :time 35729613718, :error :connect, :index 11830}
{:type :invoke, :f :write, :value 0, :process 21, :time 35739683359, :index 11832}
{:type :fail, :f :write, :value 0, :process 21, :time 35741317001, :error :connect, :index 11833}
{:type :invoke, :f :read, :value nil, :process 3, :time 35759244031, :index 11840}
{:type :fail, :f :read, :value nil, :process 3, :time 35761035873, :error :connect, :index 11841}
{:type :invoke, :f :write, :value 4, :process 6, :time 35786538069, :index 11846}
{:type :fail, :f :write, :value 4, :process 6, :time 35788354448, :error :connect, :index 11847}
{:type :invoke, :f :cas, :value [0 0], :process 8, :time 35817994365, :index 11850}
{:type :invoke, :f :cas, :value [4 0], :process 7, :time 35819291303, :index 11851}
{:type :fail, :f :cas, :value [0 0], :process 8, :time 35820005167, :error :connect, :index 11852}
{:type :fail, :f :cas, :value [4 0], :process 7, :time 35821226521, :error :connect, :index 11853}
{:type :invoke, :f :read, :value nil, :process 8, :time 35822277543, :index 11854}
{:type :fail, :f :read, :value nil, :process 8, :time 35824361836, :error :connect, :index 11855}
{:type :invoke, :f :cas, :value [0 1], :process 4, :time 35833517795, :index 11857}
{:type :invoke, :f :cas, :value [4 4], :process 5, :time 35835350815, :index 11859}
{:type :fail, :f :cas, :value [0 1], :process 4, :time 35836041797, :error :connect, :index 11860}
{:type :fail, :f :cas, :value [4 4], :process 5, :time 35837203384, :error :connect, :index 11861}
{:type :invoke, :f :read, :value nil, :process 29, :time 35837871439, :index 11862}
{:type :fail, :f :read, :value nil, :process 29, :time 35839617173, :error :connect, :index 11863}
{:type :invoke, :f :write, :value 4, :process 22, :time 35844226759, :index 11864}
{:type :fail, :f :write, :value 4, :process 22, :time 35846109280, :error :connect, :index 11866}
{:type :invoke, :f :cas, :value [1 0], :process 21, :time 35872579260, :index 11876}
{:type :fail, :f :cas, :value [1 0], :process 21, :time 35874498667, :error :connect, :index 11877}
{:type :invoke, :f :read, :value nil, :process 0, :time 35874924087, :index 11879}
{:type :fail, :f :read, :value nil, :process 0, :time 35876868708, :error :connect, :index 11881}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 35886622908, :index 11882}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 35888564952, :error :connect, :index 11884}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 35901306667, :index 11886}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 35903345452, :error :connect, :index 11887}
{:type :invoke, :f :write, :value 1, :process 29, :time 35909881160, :index 11892}
{:type :invoke, :f :read, :value nil, :process 3, :time 35910327751, :index 11893}
{:type :fail, :f :write, :value 1, :process 29, :time 35911906783, :error :connect, :index 11894}
{:type :fail, :f :read, :value nil, :process 3, :time 35912017009, :error :connect, :index 11895}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 35922380103, :index 11898}
{:type :fail, :f :cas, :value [0 4], :process 22, :time 35924271513, :error :connect, :index 11899}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 35934614920, :index 11902}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 35936187717, :error :connect, :index 11903}
{:type :invoke, :f :read, :value nil, :process 21, :time 35940735094, :index 11904}
{:type :fail, :f :read, :value nil, :process 21, :time 35942562555, :error :connect, :index 11905}
{:type :invoke, :f :read, :value nil, :process 22, :time 35951531733, :index 11906}
{:type :fail, :f :read, :value nil, :process 22, :time 35953593075, :error :connect, :index 11907}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 35973630280, :index 11916}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 35975489719, :error :connect, :index 11917}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 35998486656, :index 11924}
{:type :invoke, :f :cas, :value [4 0], :process 21, :time 35998885441, :index 11925}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 36000599731, :error :connect, :index 11926}
{:type :fail, :f :cas, :value [4 0], :process 21, :time 36000647829, :error :connect, :index 11927}
{:type :invoke, :f :write, :value 3, :process 5, :time 36023459316, :index 11936}
{:type :fail, :f :write, :value 3, :process 5, :time 36025461871, :error :connect, :index 11937}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 36028840196, :index 11938}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 36030543043, :error :connect, :index 11939}
{:type :invoke, :f :write, :value 3, :process 29, :time 36048185369, :index 11944}
{:type :fail, :f :write, :value 3, :process 29, :time 36049745781, :error :connect, :index 11945}
{:type :invoke, :f :write, :value 3, :process 0, :time 36050111075, :index 11946}
{:type :fail, :f :write, :value 3, :process 0, :time 36051929819, :error :connect, :index 11947}
{:type :invoke, :f :read, :value nil, :process 6, :time 36064760471, :index 11953}
{:type :fail, :f :read, :value nil, :process 6, :time 36066351289, :error :connect, :index 11955}
{:type :invoke, :f :write, :value 4, :process 21, :time 36068891753, :index 11959}
{:type :fail, :f :write, :value 4, :process 21, :time 36070535582, :error :connect, :index 11961}
{:type :invoke, :f :read, :value nil, :process 5, :time 36093720286, :index 11966}
{:type :invoke, :f :read, :value nil, :process 3, :time 36094272109, :index 11967}
{:type :fail, :f :read, :value nil, :process 5, :time 36095609015, :error :connect, :index 11968}
{:type :fail, :f :read, :value nil, :process 3, :time 36096204574, :error :connect, :index 11970}
{:type :invoke, :f :cas, :value [4 0], :process 4, :time 36123457602, :index 11982}
{:type :fail, :f :cas, :value [4 0], :process 4, :time 36125255849, :error :connect, :index 11984}
{:type :invoke, :f :cas, :value [1 3], :process 22, :time 36126857774, :index 11986}
{:type :fail, :f :cas, :value [1 3], :process 22, :time 36129042266, :error :connect, :index 11987}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :invoke, :f :read, :value nil, :process 7, :time 36174882363, :index 12013}
{:type :fail, :f :read, :value nil, :process 7, :time 36176978764, :error :connect, :index 12014}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
