{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :invoke, :f :write, :value 3, :process 14, :time 21966795597, :index 4447}
{:type :ok, :f :write, :value 3, :process 14, :time 21972459600, :index 4449}
{:type :invoke, :f :cas, :value [2 0], :process 14, :time 22031714086, :index 4458}
{:type :invoke, :f :read, :value nil, :process 18, :time 22035012503, :index 4459}
{:type :invoke, :f :write, :value 1, :process 13, :time 22040077572, :index 4460}
{:type :invoke, :f :write, :value 3, :process 19, :time 22110425898, :index 4466}
{:type :invoke, :f :read, :value nil, :process 11, :time 22181727969, :index 4469}
{:type :ok, :f :write, :value 1, :process 13, :time 23140628817, :index 4470}
{:type :ok, :f :read, :value 3, :process 18, :time 23141197090, :index 4471}
{:type :ok, :f :read, :value 3, :process 11, :time 23141516489, :index 4473}
{:type :ok, :f :write, :value 3, :process 19, :time 23141798395, :index 4474}
{:type :fail, :f :cas, :value [2 0], :process 14, :time 23144182220, :index 4485}
{:type :invoke, :f :read, :value nil, :process 14, :time 23160430594, :index 4492}
{:type :ok, :f :read, :value 3, :process 14, :time 23165295932, :index 4493}
{:type :invoke, :f :cas, :value [2 4], :process 19, :time 23170033870, :index 4494}
{:type :fail, :f :cas, :value [2 4], :process 19, :time 23175118182, :index 4496}
{:type :invoke, :f :read, :value nil, :process 57, :time 23202894285, :index 4504}
{:type :ok, :f :read, :value 3, :process 57, :time 23207738431, :index 4505}
{:type :invoke, :f :write, :value 2, :process 32, :time 23209239334, :index 4506}
{:type :ok, :f :write, :value 2, :process 32, :time 23214219975, :index 4507}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 23227140480, :index 4510}
{:type :invoke, :f :cas, :value [2 0], :process 18, :time 23242457516, :index 4514}
{:type :invoke, :f :read, :value nil, :process 16, :time 23264681515, :index 4518}
{:type :invoke, :f :read, :value nil, :process 32, :time 23278472833, :index 4519}
{:type :invoke, :f :read, :value nil, :process 15, :time 23319837180, :index 4521}
{:type :invoke, :f :write, :value 4, :process 13, :time 23329050538, :index 4523}
{:type :invoke, :f :cas, :value [4 4], :process 19, :time 23330383800, :index 4524}
{:type :invoke, :f :read, :value nil, :process 11, :time 23334738549, :index 4525}
{:type :invoke, :f :write, :value 0, :process 14, :time 23355548224, :index 4528}
{:type :invoke, :f :write, :value 2, :process 57, :time 23361002691, :index 4529}
{:type :ok, :f :cas, :value [2 4], :process 10, :time 23560299512, :index 4530}
{:type :ok, :f :write, :value 4, :process 13, :time 23561434262, :index 4531}
{:type :fail, :f :cas, :value [2 0], :process 18, :time 23562327837, :index 4534}
{:type :ok, :f :write, :value 2, :process 57, :time 23562480736, :index 4535}
{:type :ok, :f :read, :value 4, :process 15, :time 23562658047, :index 4536}
{:type :ok, :f :cas, :value [4 4], :process 19, :time 23562794197, :index 4537}
{:type :ok, :f :read, :value 4, :process 32, :time 23564193457, :index 4542}
{:type :ok, :f :read, :value 4, :process 16, :time 23564651511, :index 4544}
{:type :ok, :f :read, :value 4, :process 11, :time 23565134252, :index 4545}
{:type :ok, :f :write, :value 0, :process 14, :time 23565724586, :index 4547}
{:type :invoke, :f :write, :value 0, :process 10, :time 23570585079, :index 4550}
{:type :ok, :f :write, :value 0, :process 10, :time 23578063435, :index 4552}
{:type :invoke, :f :cas, :value [1 1], :process 13, :time 23583769119, :index 4554}
{:type :fail, :f :cas, :value [1 1], :process 13, :time 23588270764, :index 4555}
{:type :invoke, :f :write, :value 1, :process 15, :time 23592813545, :index 4557}
{:type :ok, :f :write, :value 1, :process 15, :time 23598139494, :index 4559}
{:type :invoke, :f :write, :value 1, :process 13, :time 23624524414, :index 4562}
{:type :ok, :f :write, :value 1, :process 13, :time 23629936406, :index 4565}
{:type :invoke, :f :read, :value nil, :process 19, :time 23644048938, :index 4568}
{:type :invoke, :f :write, :value 1, :process 16, :time 23663115846, :index 4571}
{:type :ok, :f :write, :value 1, :process 16, :time 23668691197, :index 4575}
{:type :invoke, :f :write, :value 3, :process 11, :time 23674376694, :index 4578}
{:type :ok, :f :write, :value 3, :process 11, :time 23678780937, :index 4579}
{:type :invoke, :f :read, :value nil, :process 32, :time 23689031331, :index 4580}
{:type :invoke, :f :read, :value nil, :process 57, :time 23708738252, :index 4581}
{:type :invoke, :f :read, :value nil, :process 18, :time 23736620327, :index 4588}
{:type :invoke, :f :cas, :value [0 1], :process 14, :time 23747951979, :index 4589}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 23750389833, :index 4590}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 23756038589, :index 4591}
{:type :invoke, :f :cas, :value [3 4], :process 16, :time 23759966312, :index 4592}
{:type :invoke, :f :write, :value 0, :process 13, :time 23777192803, :index 4593}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 23777320945, :index 4594}
{:type :ok, :f :read, :value 3, :process 32, :time 24060118140, :index 4598}
{:type :ok, :f :read, :value 3, :process 57, :time 24061365022, :index 4599}
{:type :ok, :f :read, :value 3, :process 18, :time 24061805493, :index 4601}
{:type :fail, :f :cas, :value [0 0], :process 15, :time 24062831810, :index 4604}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 24062928672, :index 4605}
{:type :ok, :f :cas, :value [3 4], :process 16, :time 24063155512, :index 4606}
{:type :fail, :f :cas, :value [3 0], :process 10, :time 24064589373, :index 4612}
{:type :ok, :f :write, :value 0, :process 13, :time 24064926331, :index 4613}
{:type :invoke, :f :write, :value 2, :process 11, :time 24075192517, :index 4614}
{:type :ok, :f :write, :value 2, :process 11, :time 24080608088, :index 4615}
{:type :ok, :f :read, :value 2, :process 19, :time 24098654234, :index 4616}
{:type :invoke, :f :write, :value 0, :process 15, :time 24099105885, :index 4617}
{:type :fail, :f :cas, :value [0 1], :process 14, :time 24100006181, :index 4619}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 24101164634, :index 4622}
{:type :invoke, :f :read, :value nil, :process 57, :time 24101695345, :index 4623}
{:type :ok, :f :write, :value 0, :process 15, :time 24106062019, :index 4624}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 24107181700, :index 4626}
{:type :ok, :f :read, :value 0, :process 57, :time 24107619148, :index 4627}
{:type :invoke, :f :read, :value nil, :process 32, :time 24117467993, :index 4628}
{:type :ok, :f :read, :value 0, :process 32, :time 24123564085, :index 4630}
{:type :invoke, :f :read, :value nil, :process 32, :time 24131797277, :index 4632}
{:type :ok, :f :read, :value 0, :process 32, :time 24136305614, :index 4634}
{:type :invoke, :f :write, :value 4, :process 10, :time 24155875524, :index 4637}
{:type :ok, :f :write, :value 4, :process 10, :time 24160915997, :index 4640}
{:type :invoke, :f :write, :value 1, :process 14, :time 24186349965, :index 4644}
{:type :ok, :f :write, :value 1, :process 14, :time 24191742067, :index 4645}
{:type :invoke, :f :cas, :value [3 3], :process 11, :time 24194867991, :index 4646}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 24195436052, :index 4647}
{:type :invoke, :f :read, :value nil, :process 10, :time 24198071364, :index 4649}
{:type :invoke, :f :read, :value nil, :process 32, :time 24213569735, :index 4652}
{:type :invoke, :f :read, :value nil, :process 13, :time 24217160916, :index 4653}
{:type :invoke, :f :write, :value 0, :process 14, :time 24259007293, :index 4660}
{:type :invoke, :f :read, :value nil, :process 18, :time 24270444488, :index 4661}
{:type :invoke, :f :write, :value 4, :process 57, :time 24280870885, :index 4662}
{:type :invoke, :f :cas, :value [1 1], :process 19, :time 24280923904, :index 4663}
{:type :fail, :f :cas, :value [3 3], :process 11, :time 24282204698, :index 4664}
{:type :invoke, :f :read, :value nil, :process 15, :time 24296330361, :index 4665}
{:type :ok, :f :read, :value 1, :process 13, :time 24335197836, :index 4667}
{:type :ok, :f :read, :value 1, :process 32, :time 24335925774, :index 4669}
{:type :ok, :f :write, :value 0, :process 14, :time 24336241479, :index 4671}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 24337011709, :index 4673}
{:type :ok, :f :write, :value 4, :process 57, :time 24337236648, :index 4674}
{:type :fail, :f :cas, :value [1 1], :process 19, :time 24338001136, :index 4678}
{:type :ok, :f :read, :value 4, :process 15, :time 24338332403, :index 4680}
{:type :ok, :f :read, :value 0, :process 18, :time 24338469930, :index 4681}
{:type :ok, :f :read, :value 1, :process 10, :time 24339311687, :index 4684}
{:type :invoke, :f :read, :value nil, :process 14, :time 24352760739, :index 4686}
{:type :ok, :f :read, :value 4, :process 14, :time 24358059933, :index 4687}
{:type :invoke, :f :write, :value 3, :process 18, :time 24363724764, :index 4688}
{:type :ok, :f :write, :value 3, :process 18, :time 24368425102, :index 4689}
{:type :invoke, :f :write, :value 0, :process 16, :time 24370257723, :index 4690}
{:type :ok, :f :write, :value 0, :process 16, :time 24375833163, :index 4691}
{:type :invoke, :f :read, :value nil, :process 13, :time 24376491662, :index 4692}
{:type :ok, :f :read, :value 0, :process 13, :time 24381153785, :index 4693}
{:type :invoke, :f :read, :value nil, :process 18, :time 24405733727, :index 4694}
{:type :ok, :f :read, :value 0, :process 18, :time 24411439575, :index 4698}
{:type :invoke, :f :write, :value 4, :process 32, :time 24420194743, :index 4702}
{:type :invoke, :f :write, :value 3, :process 11, :time 24424478236, :index 4703}
{:type :ok, :f :write, :value 4, :process 32, :time 24425083523, :index 4704}
{:type :ok, :f :write, :value 3, :process 11, :time 24429922763, :index 4705}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 24446716216, :index 4706}
{:type :ok, :f :cas, :value [3 2], :process 18, :time 24451573233, :index 4707}
{:type :invoke, :f :read, :value nil, :process 14, :time 24452322029, :index 4709}
{:type :ok, :f :read, :value 2, :process 14, :time 24457252300, :index 4711}
{:type :invoke, :f :write, :value 1, :process 57, :time 24478481317, :index 4723}
{:type :ok, :f :write, :value 1, :process 57, :time 24483848071, :index 4725}
{:type :invoke, :f :write, :value 0, :process 10, :time 24491612991, :index 4729}
{:type :ok, :f :write, :value 0, :process 10, :time 24496227588, :index 4732}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 24502092278, :index 4735}
{:type :invoke, :f :read, :value nil, :process 15, :time 24505588410, :index 4738}
{:type :invoke, :f :read, :value nil, :process 13, :time 24506430623, :index 4739}
{:type :fail, :f :cas, :value [3 2], :process 16, :time 24506997508, :index 4740}
{:type :ok, :f :read, :value 0, :process 13, :time 24511275888, :index 4742}
{:type :ok, :f :read, :value 0, :process 15, :time 24511487531, :index 4743}
{:type :invoke, :f :cas, :value [1 3], :process 19, :time 24520242401, :index 4744}
{:type :fail, :f :cas, :value [1 3], :process 19, :time 24525478349, :index 4745}
{:type :invoke, :f :read, :value nil, :process 11, :time 24547179881, :index 4748}
{:type :invoke, :f :read, :value nil, :process 18, :time 24550804080, :index 4749}
{:type :ok, :f :read, :value 0, :process 11, :time 24552264764, :index 4750}
{:type :ok, :f :read, :value 0, :process 18, :time 24554889948, :index 4751}
{:type :invoke, :f :read, :value nil, :process 14, :time 24555486307, :index 4752}
{:type :ok, :f :read, :value 0, :process 14, :time 24560430097, :index 4753}
{:type :invoke, :f :read, :value nil, :process 19, :time 24562734134, :index 4754}
{:type :ok, :f :read, :value 0, :process 19, :time 24567671136, :index 4756}
{:type :invoke, :f :write, :value 1, :process 14, :time 24577688452, :index 4759}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 24580245216, :index 4761}
{:type :invoke, :f :cas, :value [4 0], :process 32, :time 24580354617, :index 4762}
{:type :ok, :f :write, :value 1, :process 14, :time 24582934458, :index 4763}
{:type :fail, :f :cas, :value [4 0], :process 32, :time 24585967971, :index 4764}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 24585967949, :index 4765}
{:type :invoke, :f :cas, :value [1 1], :process 57, :time 24649092894, :index 4774}
{:type :invoke, :f :cas, :value [1 0], :process 32, :time 24653267770, :index 4777}
{:type :ok, :f :cas, :value [1 1], :process 57, :time 24655065653, :index 4778}
{:type :invoke, :f :read, :value nil, :process 10, :time 24658492827, :index 4779}
{:type :ok, :f :cas, :value [1 0], :process 32, :time 24658595108, :index 4780}
{:type :invoke, :f :cas, :value [2 3], :process 13, :time 24662553794, :index 4781}
{:type :ok, :f :read, :value 0, :process 10, :time 24663718954, :index 4782}
{:type :invoke, :f :write, :value 2, :process 10, :time 24665969978, :index 4783}
{:type :fail, :f :cas, :value [2 3], :process 13, :time 24668062916, :index 4784}
{:type :ok, :f :write, :value 2, :process 10, :time 24671081883, :index 4785}
{:type :invoke, :f :cas, :value [1 2], :process 11, :time 24679543525, :index 4788}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 24682740562, :index 4792}
{:type :fail, :f :cas, :value [1 2], :process 11, :time 24684734301, :index 4793}
{:type :ok, :f :cas, :value [2 2], :process 15, :time 24687492870, :index 4795}
{:type :invoke, :f :cas, :value [0 3], :process 14, :time 24698195595, :index 4801}
{:type :invoke, :f :read, :value nil, :process 19, :time 24703927851, :index 4804}
{:type :fail, :f :cas, :value [0 3], :process 14, :time 24704599461, :index 4805}
{:type :ok, :f :read, :value 2, :process 19, :time 24709249130, :index 4807}
{:type :invoke, :f :write, :value 0, :process 18, :time 24721150523, :index 4808}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 24725753609, :index 4810}
{:type :ok, :f :write, :value 0, :process 18, :time 24726422472, :index 4811}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 24731735849, :index 4813}
{:type :invoke, :f :read, :value nil, :process 19, :time 24740507266, :index 4814}
{:type :ok, :f :read, :value 0, :process 19, :time 24745865171, :index 4815}
{:type :invoke, :f :cas, :value [3 1], :process 10, :time 24748333833, :index 4816}
{:type :fail, :f :cas, :value [3 1], :process 10, :time 24754516170, :index 4818}
{:type :invoke, :f :read, :value nil, :process 16, :time 24760252860, :index 4820}
{:type :ok, :f :read, :value 0, :process 16, :time 24765339346, :index 4821}
{:type :invoke, :f :write, :value 1, :process 15, :time 24766987237, :index 4822}
{:type :ok, :f :write, :value 1, :process 15, :time 24772026647, :index 4823}
{:type :invoke, :f :cas, :value [4 1], :process 57, :time 24778354695, :index 4828}
{:type :fail, :f :cas, :value [4 1], :process 57, :time 24783920114, :index 4834}
{:type :invoke, :f :write, :value 0, :process 13, :time 24803330338, :index 4842}
{:type :ok, :f :write, :value 0, :process 13, :time 24807945252, :index 4845}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 24818991438, :index 4847}
{:type :invoke, :f :read, :value nil, :process 14, :time 24822868633, :index 4849}
{:type :fail, :f :cas, :value [2 1], :process 11, :time 24824413820, :index 4850}
{:type :ok, :f :read, :value 0, :process 14, :time 24827671488, :index 4851}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 24830736493, :index 4852}
{:type :invoke, :f :read, :value nil, :process 19, :time 24833121624, :index 4853}
{:type :ok, :f :cas, :value [0 2], :process 18, :time 24835407384, :index 4854}
{:type :ok, :f :read, :value 2, :process 19, :time 24838332289, :index 4856}
{:type :invoke, :f :write, :value 4, :process 32, :time 24854855941, :index 4862}
{:type :ok, :f :write, :value 4, :process 32, :time 24860167504, :index 4865}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 24910823510, :index 4877}
{:type :fail, :f :cas, :value [0 2], :process 10, :time 24916595636, :index 4879}
{:type :invoke, :f :write, :value 1, :process 16, :time 24930603762, :index 4884}
{:type :ok, :f :write, :value 1, :process 16, :time 24935211574, :index 4888}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
