{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :invoke, :f :cas, :value [1 2], :process 32, :time 46845460749, :index 7239}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :invoke, :f :cas, :value [3 4], :process 35, :time 51814942644, :index 7256}
{:type :fail, :f :cas, :value [3 4], :process 35, :time 51821865336, :error :not-found, :index 7258}
{:type :info, :f :cas, :value [1 2], :process 32, :time 51851237540, :error :timeout, :index 7263}
{:type :invoke, :f :cas, :value [0 0], :process 33, :time 51857641546, :index 7265}
{:type :invoke, :f :write, :value 1, :process 19, :time 51862936207, :index 7267}
{:type :fail, :f :cas, :value [0 0], :process 33, :time 51863735941, :error :not-found, :index 7268}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :invoke, :f :write, :value 2, :process 54, :time 51929431918, :index 7281}
{:type :invoke, :f :write, :value 0, :process 35, :time 51955134723, :index 7284}
{:type :invoke, :f :write, :value 3, :process 33, :time 51956004115, :index 7286}
{:type :invoke, :f :write, :value 2, :process 36, :time 51956926079, :index 7287}
{:type :ok, :f :write, :value 0, :process 35, :time 51962361589, :index 7288}
{:type :invoke, :f :cas, :value [1 1], :process 77, :time 51976650434, :index 7289}
{:type :invoke, :f :read, :value nil, :process 30, :time 52025471436, :index 7292}
{:type :invoke, :f :read, :value nil, :process 31, :time 52028670982, :index 7293}
{:type :invoke, :f :write, :value 2, :process 52, :time 52044854454, :index 7294}
{:type :invoke, :f :cas, :value [0 4], :process 38, :time 52068012190, :index 7297}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :invoke, :f :cas, :value [4 2], :process 35, :time 52142651348, :index 7301}
{:type :ok, :f :write, :value 3, :process 33, :time 52578893607, :index 7302}
{:type :ok, :f :write, :value 2, :process 36, :time 52579315329, :index 7303}
{:type :ok, :f :read, :value 2, :process 30, :time 52582381333, :index 7309}
{:type :ok, :f :read, :value 2, :process 31, :time 52582743721, :index 7311}
{:type :fail, :f :cas, :value [0 4], :process 38, :time 52583246870, :index 7313}
{:type :fail, :f :cas, :value [4 2], :process 35, :time 52584048194, :index 7314}
{:type :invoke, :f :write, :value 3, :process 30, :time 52603662689, :index 7318}
{:type :ok, :f :write, :value 3, :process 30, :time 52609307406, :index 7319}
{:type :invoke, :f :read, :value nil, :process 36, :time 52639574338, :index 7324}
{:type :ok, :f :read, :value 3, :process 36, :time 52644428468, :index 7325}
{:type :invoke, :f :cas, :value [3 3], :process 35, :time 52666310891, :index 7328}
{:type :ok, :f :cas, :value [3 3], :process 35, :time 52672060677, :index 7329}
{:type :invoke, :f :cas, :value [2 2], :process 38, :time 52695493483, :index 7330}
{:type :fail, :f :cas, :value [2 2], :process 38, :time 52701300676, :index 7331}
{:type :invoke, :f :write, :value 3, :process 36, :time 52709685969, :index 7332}
{:type :ok, :f :write, :value 3, :process 36, :time 52715042599, :index 7333}
{:type :invoke, :f :read, :value nil, :process 38, :time 52720557398, :index 7334}
{:type :ok, :f :read, :value 3, :process 38, :time 52725843618, :index 7336}
{:type :invoke, :f :write, :value 4, :process 33, :time 52735248161, :index 7340}
{:type :ok, :f :write, :value 4, :process 33, :time 52740140154, :index 7341}
{:type :invoke, :f :read, :value nil, :process 35, :time 52744324310, :index 7344}
{:type :invoke, :f :read, :value nil, :process 30, :time 52745569986, :index 7345}
{:type :ok, :f :read, :value 4, :process 35, :time 52750379468, :index 7348}
{:type :ok, :f :read, :value 4, :process 30, :time 52751113163, :index 7349}
{:type :invoke, :f :read, :value nil, :process 31, :time 52771973670, :index 7350}
{:type :ok, :f :read, :value 4, :process 31, :time 52777505906, :index 7351}
{:type :invoke, :f :read, :value nil, :process 31, :time 52792758975, :index 7354}
{:type :ok, :f :read, :value 4, :process 31, :time 52798394751, :index 7355}
{:type :invoke, :f :read, :value nil, :process 38, :time 52822101710, :index 7357}
{:type :ok, :f :read, :value 4, :process 38, :time 52827297972, :index 7359}
{:type :invoke, :f :write, :value 3, :process 36, :time 52837310870, :index 7360}
{:type :ok, :f :write, :value 3, :process 36, :time 52843199106, :index 7363}
{:type :invoke, :f :read, :value nil, :process 33, :time 52902424913, :index 7372}
{:type :invoke, :f :read, :value nil, :process 30, :time 52905362741, :index 7373}
{:type :ok, :f :read, :value 3, :process 33, :time 52907226751, :index 7374}
{:type :invoke, :f :write, :value 2, :process 31, :time 52908652344, :index 7375}
{:type :ok, :f :read, :value 3, :process 30, :time 52911456152, :index 7377}
{:type :ok, :f :write, :value 2, :process 31, :time 52913633742, :index 7380}
{:type :fail, :f :cas, :value [1 1], :process 77, :time 52938281643, :index 7384}
{:type :ok, :f :write, :value 2, :process 52, :time 52938614347, :index 7387}
{:type :invoke, :f :cas, :value [0 1], :process 35, :time 52941628796, :index 7388}
{:type :fail, :f :cas, :value [0 1], :process 35, :time 52946620800, :index 7390}
{:type :invoke, :f :write, :value 3, :process 31, :time 52956887661, :index 7392}
{:type :invoke, :f :write, :value 4, :process 38, :time 52960560053, :index 7393}
{:type :ok, :f :write, :value 3, :process 31, :time 52962108483, :index 7394}
{:type :ok, :f :write, :value 4, :process 38, :time 52964590603, :index 7395}
{:type :invoke, :f :cas, :value [4 0], :process 30, :time 52970733734, :index 7396}
{:type :ok, :f :cas, :value [4 0], :process 30, :time 52976327342, :index 7397}
{:type :invoke, :f :write, :value 2, :process 36, :time 52987458589, :index 7401}
{:type :ok, :f :write, :value 2, :process 36, :time 52992034224, :index 7403}
{:type :invoke, :f :read, :value nil, :process 52, :time 52999934545, :index 7405}
{:type :ok, :f :read, :value 2, :process 52, :time 53005759295, :index 7407}
{:type :invoke, :f :cas, :value [1 1], :process 77, :time 53014849146, :index 7408}
{:type :fail, :f :cas, :value [1 1], :process 77, :time 53021677935, :index 7411}
{:type :invoke, :f :write, :value 3, :process 35, :time 53035920566, :index 7412}
{:type :ok, :f :write, :value 3, :process 35, :time 53041343815, :index 7413}
{:type :invoke, :f :write, :value 1, :process 36, :time 53060294336, :index 7415}
{:type :ok, :f :write, :value 1, :process 36, :time 53066205993, :index 7417}
{:type :invoke, :f :cas, :value [4 1], :process 33, :time 53094483667, :index 7420}
{:type :fail, :f :cas, :value [4 1], :process 33, :time 53099059821, :index 7422}
{:type :invoke, :f :cas, :value [1 3], :process 36, :time 53132450228, :index 7430}
{:type :invoke, :f :read, :value nil, :process 31, :time 53132334366, :index 7431}
{:type :invoke, :f :read, :value nil, :process 38, :time 53133852324, :index 7432}
{:type :ok, :f :cas, :value [1 3], :process 36, :time 53138493820, :index 7434}
{:type :ok, :f :read, :value 3, :process 38, :time 53138864295, :index 7435}
{:type :ok, :f :read, :value 3, :process 31, :time 53138865999, :index 7436}
{:type :invoke, :f :read, :value nil, :process 52, :time 53161021386, :index 7444}
{:type :ok, :f :read, :value 3, :process 52, :time 53166975458, :index 7445}
{:type :invoke, :f :cas, :value [4 1], :process 30, :time 53168590267, :index 7446}
{:type :invoke, :f :write, :value 4, :process 38, :time 53173111871, :index 7447}
{:type :fail, :f :cas, :value [4 1], :process 30, :time 53174702314, :index 7448}
{:type :ok, :f :write, :value 4, :process 38, :time 53177275345, :index 7449}
{:type :invoke, :f :write, :value 4, :process 77, :time 53187929621, :index 7454}
{:type :ok, :f :write, :value 4, :process 77, :time 53194659232, :index 7458}
{:type :invoke, :f :write, :value 4, :process 35, :time 53209646520, :index 7462}
{:type :invoke, :f :cas, :value [3 3], :process 52, :time 53214238255, :index 7463}
{:type :ok, :f :write, :value 4, :process 35, :time 53215114671, :index 7464}
{:type :fail, :f :cas, :value [3 3], :process 52, :time 53219399553, :index 7465}
{:type :invoke, :f :read, :value nil, :process 38, :time 53226528069, :index 7467}
{:type :ok, :f :read, :value 4, :process 38, :time 53231435071, :index 7469}
{:type :invoke, :f :cas, :value [4 3], :process 33, :time 53240341772, :index 7472}
{:type :ok, :f :cas, :value [4 3], :process 33, :time 53244854703, :index 7474}
{:type :invoke, :f :cas, :value [1 0], :process 36, :time 53252795673, :index 7476}
{:type :fail, :f :cas, :value [1 0], :process 36, :time 53258476671, :index 7478}
{:type :invoke, :f :read, :value nil, :process 31, :time 53266129889, :index 7481}
{:type :ok, :f :read, :value 3, :process 31, :time 53271843718, :index 7483}
{:type :invoke, :f :write, :value 2, :process 77, :time 53315907418, :index 7490}
{:type :ok, :f :write, :value 2, :process 77, :time 53321150113, :index 7491}
{:type :invoke, :f :read, :value nil, :process 31, :time 53323101861, :index 7492}
{:type :ok, :f :read, :value 2, :process 31, :time 53327975791, :index 7493}
{:type :invoke, :f :read, :value nil, :process 52, :time 53329658694, :index 7494}
{:type :ok, :f :read, :value 2, :process 52, :time 53334456067, :index 7495}
{:type :invoke, :f :read, :value nil, :process 30, :time 53349962302, :index 7497}
{:type :ok, :f :read, :value 2, :process 30, :time 53356679520, :index 7499}
{:type :invoke, :f :cas, :value [4 4], :process 31, :time 53379301107, :index 7501}
{:type :fail, :f :cas, :value [4 4], :process 31, :time 53385197364, :index 7504}
{:type :invoke, :f :write, :value 0, :process 38, :time 53388692941, :index 7506}
{:type :ok, :f :write, :value 0, :process 38, :time 53392768178, :index 7509}
{:type :invoke, :f :read, :value nil, :process 36, :time 53400753736, :index 7511}
{:type :invoke, :f :write, :value 0, :process 31, :time 53403444607, :index 7514}
{:type :ok, :f :read, :value 0, :process 36, :time 53405428173, :index 7515}
{:type :ok, :f :write, :value 0, :process 31, :time 53408622631, :index 7517}
{:type :invoke, :f :read, :value nil, :process 77, :time 53409390649, :index 7518}
{:type :invoke, :f :cas, :value [0 2], :process 35, :time 53409388616, :index 7519}
{:type :ok, :f :cas, :value [0 2], :process 35, :time 53416657897, :index 7521}
{:type :ok, :f :read, :value 2, :process 77, :time 53417517052, :index 7522}
{:type :invoke, :f :read, :value nil, :process 33, :time 53430119380, :index 7526}
{:type :ok, :f :read, :value 2, :process 33, :time 53434730213, :index 7527}
{:type :invoke, :f :write, :value 1, :process 38, :time 53441009080, :index 7528}
{:type :ok, :f :write, :value 1, :process 38, :time 53445790498, :index 7530}
{:type :invoke, :f :write, :value 2, :process 77, :time 53447798732, :index 7531}
{:type :invoke, :f :write, :value 1, :process 36, :time 53449691928, :index 7532}
{:type :ok, :f :write, :value 2, :process 77, :time 53452662751, :index 7535}
{:type :ok, :f :write, :value 1, :process 36, :time 53454721665, :index 7536}
{:type :invoke, :f :read, :value nil, :process 77, :time 53472896862, :index 7538}
{:type :invoke, :f :cas, :value [2 1], :process 52, :time 53478785306, :index 7540}
{:type :invoke, :f :read, :value nil, :process 30, :time 53479933721, :index 7541}
{:type :invoke, :f :read, :value nil, :process 33, :time 53502983006, :index 7542}
{:type :invoke, :f :read, :value nil, :process 35, :time 53533927440, :index 7546}
{:type :invoke, :f :cas, :value [4 3], :process 36, :time 53548994057, :index 7548}
{:type :invoke, :f :write, :value 2, :process 31, :time 53565872283, :index 7550}
{:type :invoke, :f :write, :value 0, :process 38, :time 53581031560, :index 7553}
{:type :ok, :f :read, :value 1, :process 77, :time 54144183170, :index 7554}
{:type :ok, :f :read, :value 1, :process 33, :time 54144941659, :index 7555}
{:type :ok, :f :write, :value 0, :process 38, :time 54145347560, :index 7556}
{:type :fail, :f :cas, :value [4 3], :process 36, :time 54146173850, :index 7557}
{:type :ok, :f :read, :value 1, :process 30, :time 54146488810, :index 7560}
{:type :ok, :f :write, :value 2, :process 31, :time 54147104736, :index 7564}
{:type :ok, :f :read, :value 1, :process 35, :time 54147627133, :index 7566}
{:type :fail, :f :cas, :value [2 1], :process 52, :time 54148265204, :index 7568}
{:type :invoke, :f :read, :value nil, :process 33, :time 54189192605, :index 7573}
{:type :ok, :f :read, :value 0, :process 33, :time 54193684985, :index 7575}
{:type :invoke, :f :read, :value nil, :process 77, :time 54195549343, :index 7576}
{:type :invoke, :f :write, :value 4, :process 33, :time 54195946928, :index 7577}
{:type :invoke, :f :cas, :value [4 1], :process 30, :time 54246014185, :index 7581}
{:type :invoke, :f :cas, :value [2 2], :process 36, :time 54274424802, :index 7583}
{:type :invoke, :f :read, :value nil, :process 52, :time 54276053186, :index 7584}
{:type :invoke, :f :read, :value nil, :process 31, :time 54284003034, :index 7586}
{:type :invoke, :f :read, :value nil, :process 35, :time 54327594307, :index 7588}
{:type :invoke, :f :read, :value nil, :process 38, :time 54337616029, :index 7590}
{:type :ok, :f :write, :value 4, :process 33, :time 54530358039, :index 7592}
{:type :invoke, :f :read, :value nil, :process 33, :time 54608742655, :index 7593}
{:type :ok, :f :read, :value 1, :process 38, :time 54786722402, :index 7594}
{:type :ok, :f :cas, :value [4 1], :process 30, :time 54788109081, :index 7598}
{:type :fail, :f :cas, :value [2 2], :process 36, :time 54789708820, :index 7603}
{:type :ok, :f :read, :value 4, :process 77, :time 54789947090, :index 7605}
{:type :ok, :f :read, :value 1, :process 35, :time 54790168445, :index 7606}
{:type :ok, :f :read, :value 1, :process 52, :time 54790371976, :index 7607}
{:type :ok, :f :read, :value 1, :process 31, :time 54790846600, :index 7608}
{:type :invoke, :f :read, :value nil, :process 52, :time 54800813202, :index 7609}
{:type :invoke, :f :write, :value 2, :process 38, :time 54830133690, :index 7612}
{:type :invoke, :f :write, :value 0, :process 36, :time 54897614692, :index 7617}
{:type :invoke, :f :write, :value 2, :process 30, :time 54928169821, :index 7619}
{:type :invoke, :f :cas, :value [1 0], :process 77, :time 54934660127, :index 7620}
{:type :invoke, :f :write, :value 2, :process 35, :time 54969753133, :index 7621}
{:type :invoke, :f :write, :value 2, :process 31, :time 54989081507, :index 7623}
{:type :ok, :f :read, :value 1, :process 33, :time 55193894001, :index 7624}
{:type :ok, :f :write, :value 2, :process 38, :time 55196709475, :index 7627}
{:type :fail, :f :cas, :value [1 0], :process 77, :time 55197838332, :index 7631}
{:type :ok, :f :write, :value 2, :process 30, :time 55198086100, :index 7633}
{:type :ok, :f :write, :value 0, :process 36, :time 55198478837, :index 7634}
{:type :ok, :f :write, :value 2, :process 35, :time 55198816965, :index 7636}
{:type :ok, :f :write, :value 2, :process 31, :time 55199011030, :index 7637}
{:type :ok, :f :read, :value 1, :process 52, :time 55199103108, :index 7638}
{:type :invoke, :f :read, :value nil, :process 36, :time 55217757750, :index 7648}
{:type :ok, :f :read, :value 2, :process 36, :time 55222561525, :index 7649}
{:type :invoke, :f :write, :value 3, :process 30, :time 55223388949, :index 7650}
{:type :ok, :f :write, :value 3, :process 30, :time 55228971561, :index 7651}
{:type :invoke, :f :cas, :value [0 1], :process 52, :time 55243339132, :index 7652}
{:type :fail, :f :cas, :value [0 1], :process 52, :time 55248400213, :index 7653}
{:type :invoke, :f :cas, :value [4 3], :process 38, :time 55290115530, :index 7658}
{:type :fail, :f :cas, :value [4 3], :process 38, :time 55294537572, :index 7659}
{:type :invoke, :f :read, :value nil, :process 31, :time 55304240737, :index 7660}
{:type :ok, :f :read, :value 3, :process 31, :time 55309161081, :index 7661}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 55325242938, :index 7667}
{:type :fail, :f :cas, :value [0 3], :process 33, :time 55329995304, :index 7669}
{:type :invoke, :f :read, :value nil, :process 77, :time 55337150779, :index 7670}
{:type :ok, :f :read, :value 3, :process 77, :time 55341701659, :index 7671}
{:type :invoke, :f :cas, :value [2 3], :process 35, :time 55388050470, :index 7692}
{:type :fail, :f :cas, :value [2 3], :process 35, :time 55393782760, :index 7693}
{:type :info, :f :write, :value 1, :process 19, :time 56869418090, :error :timeout, :index 8006}
{:type :info, :f :write, :value 2, :process 54, :time 56936339308, :error :timeout, :index 8007}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
