{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :invoke, :f :write, :value 0, :process 15, :time 9703753710, :index 2038}
{:type :invoke, :f :write, :value 4, :process 10, :time 9707521155, :index 2040}
{:type :ok, :f :write, :value 0, :process 15, :time 9709474401, :index 2043}
{:type :ok, :f :write, :value 4, :process 10, :time 9713187334, :index 2044}
{:type :invoke, :f :read, :value nil, :process 19, :time 9751450221, :index 2051}
{:type :ok, :f :read, :value 4, :process 19, :time 9756892217, :index 2053}
{:type :invoke, :f :cas, :value [3 4], :process 17, :time 9764223732, :index 2054}
{:type :fail, :f :cas, :value [3 4], :process 17, :time 9769404158, :index 2055}
{:type :invoke, :f :read, :value nil, :process 12, :time 9795759764, :index 2060}
{:type :ok, :f :read, :value 4, :process 12, :time 9801124884, :index 2061}
{:type :invoke, :f :write, :value 4, :process 14, :time 9801572762, :index 2062}
{:type :ok, :f :write, :value 4, :process 14, :time 9806693928, :index 2063}
{:type :invoke, :f :read, :value nil, :process 15, :time 9861735976, :index 2069}
{:type :ok, :f :read, :value 4, :process 15, :time 9866338577, :index 2071}
{:type :invoke, :f :read, :value nil, :process 12, :time 9866389568, :index 2072}
{:type :invoke, :f :cas, :value [0 1], :process 17, :time 9869703827, :index 2073}
{:type :ok, :f :read, :value 4, :process 12, :time 9871917412, :index 2074}
{:type :fail, :f :cas, :value [0 1], :process 17, :time 9875148270, :index 2075}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 9875445499, :index 2076}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 9880689583, :index 2077}
{:type :invoke, :f :read, :value nil, :process 15, :time 9889609941, :index 2078}
{:type :ok, :f :read, :value 4, :process 15, :time 9894886425, :index 2079}
{:type :invoke, :f :cas, :value [4 2], :process 19, :time 9915154447, :index 2083}
{:type :ok, :f :cas, :value [4 2], :process 19, :time 9920535624, :index 2085}
{:type :invoke, :f :write, :value 3, :process 14, :time 9976956577, :index 2088}
{:type :invoke, :f :read, :value nil, :process 10, :time 9979941038, :index 2089}
{:type :ok, :f :write, :value 3, :process 14, :time 9982267921, :index 2091}
{:type :ok, :f :read, :value 3, :process 10, :time 9985040778, :index 2092}
{:type :invoke, :f :write, :value 3, :process 19, :time 10006791581, :index 2096}
{:type :ok, :f :write, :value 3, :process 19, :time 10012524993, :index 2098}
{:type :invoke, :f :cas, :value [4 1], :process 17, :time 10015425594, :index 2102}
{:type :fail, :f :cas, :value [4 1], :process 17, :time 10021310761, :index 2105}
{:type :invoke, :f :write, :value 2, :process 12, :time 10059202532, :index 2108}
{:type :ok, :f :write, :value 2, :process 12, :time 10066185088, :index 2112}
{:type :invoke, :f :write, :value 2, :process 15, :time 10079145781, :index 2118}
{:type :ok, :f :write, :value 2, :process 15, :time 10083883826, :index 2119}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 10096219713, :index 2120}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 10101465924, :index 2121}
{:type :invoke, :f :write, :value 2, :process 15, :time 10152144568, :index 2130}
{:type :invoke, :f :cas, :value [3 0], :process 14, :time 10154527811, :index 2131}
{:type :ok, :f :write, :value 2, :process 15, :time 10159140448, :index 2133}
{:type :invoke, :f :cas, :value [3 4], :process 17, :time 10165584769, :index 2134}
{:type :invoke, :f :read, :value nil, :process 19, :time 10174788676, :index 2135}
{:type :invoke, :f :write, :value 0, :process 12, :time 10214470242, :index 2138}
{:type :invoke, :f :read, :value nil, :process 10, :time 10224764146, :index 2139}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :invoke, :f :read, :value nil, :process 38, :time 10340053313, :index 2149}
{:type :invoke, :f :read, :value nil, :process 15, :time 10340415443, :index 2150}
{:type :invoke, :f :read, :value nil, :process 31, :time 10348014550, :index 2152}
{:type :invoke, :f :cas, :value [4 4], :process 16, :time 10385644017, :index 2156}
{:type :fail, :f :cas, :value [3 0], :process 14, :time 10416779913, :index 2159}
{:type :ok, :f :read, :value 2, :process 15, :time 10417578607, :index 2161}
{:type :ok, :f :read, :value 2, :process 10, :time 10417831324, :index 2162}
{:type :ok, :f :read, :value 2, :process 19, :time 10419222559, :index 2164}
{:type :fail, :f :cas, :value [3 4], :process 17, :time 10420744546, :index 2168}
{:type :ok, :f :write, :value 0, :process 12, :time 10420902408, :index 2169}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 10426907599, :index 2171}
{:type :invoke, :f :read, :value nil, :process 14, :time 10436042129, :index 2172}
{:type :ok, :f :read, :value 0, :process 14, :time 10443267728, :index 2174}
{:type :invoke, :f :read, :value nil, :process 17, :time 10455994456, :index 2177}
{:type :ok, :f :read, :value 0, :process 17, :time 10461185157, :index 2179}
{:type :invoke, :f :read, :value nil, :process 10, :time 10509092069, :index 2186}
{:type :ok, :f :read, :value 0, :process 10, :time 10513895670, :index 2187}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :invoke, :f :read, :value nil, :process 17, :time 10526441061, :index 2192}
{:type :ok, :f :read, :value 0, :process 17, :time 10531586085, :index 2193}
{:type :invoke, :f :write, :value 0, :process 10, :time 10579163260, :index 2203}
{:type :invoke, :f :cas, :value [3 3], :process 12, :time 10582169061, :index 2205}
{:type :invoke, :f :cas, :value [0 2], :process 19, :time 10583531775, :index 2207}
{:type :ok, :f :write, :value 0, :process 10, :time 10584141395, :index 2208}
{:type :invoke, :f :cas, :value [4 1], :process 14, :time 10590525319, :index 2209}
{:type :invoke, :f :read, :value nil, :process 15, :time 10598824345, :index 2211}
{:type :invoke, :f :cas, :value [4 2], :process 17, :time 10700848808, :index 2214}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 10747435493, :index 2217}
{:type :fail, :f :cas, :value [3 3], :process 12, :time 10853475633, :index 2218}
{:type :ok, :f :read, :value 0, :process 15, :time 10854511428, :index 2219}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 10854895005, :index 2220}
{:type :ok, :f :cas, :value [0 2], :process 19, :time 10855759457, :index 2224}
{:type :fail, :f :cas, :value [4 2], :process 17, :time 10856506548, :index 2225}
{:type :fail, :f :cas, :value [4 1], :process 14, :time 10856622000, :index 2226}
{:type :invoke, :f :write, :value 2, :process 19, :time 10905054936, :index 2230}
{:type :ok, :f :write, :value 2, :process 19, :time 10911415890, :index 2231}
{:type :invoke, :f :read, :value nil, :process 19, :time 10930677523, :index 2232}
{:type :ok, :f :read, :value 2, :process 19, :time 10936460343, :index 2233}
{:type :invoke, :f :cas, :value [0 0], :process 14, :time 10941564169, :index 2234}
{:type :fail, :f :cas, :value [0 0], :process 14, :time 10947296344, :index 2235}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 10953142594, :index 2237}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 10958533417, :index 2238}
{:type :invoke, :f :write, :value 2, :process 15, :time 10964797172, :index 2240}
{:type :ok, :f :write, :value 2, :process 15, :time 10969634199, :index 2241}
{:type :invoke, :f :read, :value nil, :process 12, :time 10973792721, :index 2242}
{:type :ok, :f :read, :value 2, :process 12, :time 10978823911, :index 2244}
{:type :invoke, :f :write, :value 3, :process 19, :time 10985786717, :index 2246}
{:type :ok, :f :write, :value 3, :process 19, :time 10991224104, :index 2247}
{:type :invoke, :f :read, :value nil, :process 17, :time 11001081261, :index 2249}
{:type :invoke, :f :read, :value nil, :process 15, :time 11005888788, :index 2251}
{:type :ok, :f :read, :value 3, :process 17, :time 11006262038, :index 2252}
{:type :invoke, :f :read, :value nil, :process 14, :time 11006644553, :index 2253}
{:type :ok, :f :read, :value 3, :process 15, :time 11011506153, :index 2255}
{:type :ok, :f :read, :value 3, :process 14, :time 11012118990, :index 2256}
{:type :invoke, :f :cas, :value [3 2], :process 14, :time 11024402343, :index 2260}
{:type :ok, :f :cas, :value [3 2], :process 14, :time 11030491174, :index 2263}
{:type :invoke, :f :cas, :value [1 2], :process 12, :time 11038094157, :index 2264}
{:type :fail, :f :cas, :value [1 2], :process 12, :time 11043552234, :index 2266}
{:type :invoke, :f :write, :value 4, :process 19, :time 11049521806, :index 2268}
{:type :ok, :f :write, :value 4, :process 19, :time 11054497791, :index 2269}
{:type :invoke, :f :write, :value 1, :process 15, :time 11076769243, :index 2271}
{:type :invoke, :f :cas, :value [1 0], :process 17, :time 11080526020, :index 2272}
{:type :ok, :f :write, :value 1, :process 15, :time 11081381123, :index 2273}
{:type :invoke, :f :cas, :value [2 1], :process 19, :time 11083827409, :index 2276}
{:type :ok, :f :cas, :value [1 0], :process 17, :time 11087249635, :index 2278}
{:type :fail, :f :cas, :value [2 1], :process 19, :time 11089899892, :index 2281}
{:type :invoke, :f :write, :value 2, :process 10, :time 11147792889, :index 2292}
{:type :ok, :f :write, :value 2, :process 10, :time 11152801557, :index 2294}
{:type :invoke, :f :read, :value nil, :process 14, :time 11157745030, :index 2295}
{:type :invoke, :f :read, :value nil, :process 10, :time 11158080315, :index 2296}
{:type :invoke, :f :cas, :value [1 2], :process 12, :time 11160847633, :index 2298}
{:type :ok, :f :read, :value 2, :process 14, :time 11163606575, :index 2299}
{:type :ok, :f :read, :value 2, :process 10, :time 11163606574, :index 2300}
{:type :fail, :f :cas, :value [1 2], :process 12, :time 11166234045, :index 2301}
{:type :invoke, :f :write, :value 0, :process 15, :time 11179645740, :index 2302}
{:type :ok, :f :write, :value 0, :process 15, :time 11183840180, :index 2303}
{:type :invoke, :f :write, :value 2, :process 14, :time 11190953646, :index 2304}
{:type :ok, :f :write, :value 2, :process 14, :time 11197236525, :index 2306}
{:type :invoke, :f :write, :value 1, :process 17, :time 11200572445, :index 2308}
{:type :ok, :f :write, :value 1, :process 17, :time 11205925095, :index 2309}
{:type :invoke, :f :read, :value nil, :process 19, :time 11216186117, :index 2312}
{:type :ok, :f :read, :value 1, :process 19, :time 11223060557, :index 2315}
{:type :invoke, :f :read, :value nil, :process 17, :time 11242199415, :index 2316}
{:type :invoke, :f :write, :value 0, :process 10, :time 11244886967, :index 2317}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 11246132763, :index 2318}
{:type :ok, :f :read, :value 1, :process 17, :time 11249402585, :index 2319}
{:type :ok, :f :write, :value 0, :process 10, :time 11250501981, :index 2320}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 11252757150, :index 2321}
{:type :invoke, :f :cas, :value [2 0], :process 17, :time 11252674019, :index 2322}
{:type :fail, :f :cas, :value [2 0], :process 17, :time 11258212534, :index 2324}
{:type :invoke, :f :read, :value nil, :process 14, :time 11267495839, :index 2326}
{:type :ok, :f :read, :value 0, :process 14, :time 11272706167, :index 2328}
{:type :invoke, :f :read, :value nil, :process 17, :time 11299464861, :index 2334}
{:type :ok, :f :read, :value 0, :process 17, :time 11305294529, :index 2336}
{:type :invoke, :f :read, :value nil, :process 12, :time 11311530629, :index 2338}
{:type :invoke, :f :cas, :value [0 0], :process 14, :time 11339973490, :index 2343}
{:type :invoke, :f :write, :value 0, :process 19, :time 11379320106, :index 2344}
{:type :invoke, :f :write, :value 4, :process 10, :time 11390753354, :index 2345}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 11443004704, :index 2347}
{:type :invoke, :f :write, :value 0, :process 17, :time 11473556452, :index 2348}
{:type :ok, :f :read, :value 0, :process 31, :time 12239553413, :index 2351}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 12239628650, :index 2352}
{:type :ok, :f :write, :value 0, :process 19, :time 12239879140, :index 2353}
{:type :ok, :f :read, :value 0, :process 38, :time 12240361033, :index 2356}
{:type :ok, :f :cas, :value [0 3], :process 33, :time 12240576407, :index 2357}
{:type :fail, :f :cas, :value [4 4], :process 16, :time 12241347708, :index 2360}
{:type :ok, :f :write, :value 4, :process 10, :time 12242070020, :index 2363}
{:type :fail, :f :cas, :value [0 0], :process 14, :time 12242501057, :index 2365}
{:type :invoke, :f :read, :value nil, :process 33, :time 12252815479, :index 2366}
{:type :ok, :f :read, :value 0, :process 33, :time 12259055230, :index 2367}
{:type :invoke, :f :read, :value nil, :process 16, :time 12268884680, :index 2368}
{:type :ok, :f :read, :value 0, :process 16, :time 12274079515, :index 2369}
{:type :invoke, :f :write, :value 3, :process 31, :time 12305802404, :index 2370}
{:type :ok, :f :write, :value 3, :process 31, :time 12311751189, :index 2371}
{:type :invoke, :f :read, :value nil, :process 10, :time 12313324304, :index 2372}
{:type :ok, :f :read, :value 3, :process 10, :time 12317917554, :index 2373}
{:type :invoke, :f :cas, :value [1 0], :process 14, :time 12355744388, :index 2376}
{:type :invoke, :f :write, :value 4, :process 31, :time 12368015827, :index 2379}
{:type :invoke, :f :read, :value nil, :process 16, :time 12373346861, :index 2380}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 12394173338, :index 2382}
{:type :invoke, :f :write, :value 0, :process 38, :time 12407592751, :index 2385}
{:type :invoke, :f :cas, :value [2 4], :process 33, :time 12411316206, :index 2386}
{:type :invoke, :f :write, :value 4, :process 15, :time 12413890976, :index 2387}
{:type :invoke, :f :write, :value 3, :process 19, :time 12437163861, :index 2389}
{:type :ok, :f :read, :value 0, :process 12, :time 12718996627, :index 2390}
{:type :ok, :f :write, :value 0, :process 17, :time 12720219267, :index 2393}
{:type :invoke, :f :cas, :value [2 1], :process 12, :time 12731390747, :index 2394}
{:type :ok, :f :write, :value 4, :process 15, :time 12836310949, :index 2398}
{:type :ok, :f :read, :value 4, :process 16, :time 12837111070, :index 2403}
{:type :ok, :f :write, :value 0, :process 38, :time 12837633915, :index 2405}
{:type :fail, :f :cas, :value [2 4], :process 33, :time 12838028291, :index 2406}
{:type :fail, :f :cas, :value [2 1], :process 10, :time 12838789936, :index 2409}
{:type :ok, :f :write, :value 4, :process 31, :time 12839087775, :index 2411}
{:type :fail, :f :cas, :value [2 1], :process 12, :time 12839780814, :index 2412}
{:type :fail, :f :cas, :value [1 0], :process 14, :time 12839780814, :index 2413}
{:type :ok, :f :write, :value 3, :process 19, :time 12841896014, :index 2414}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 12843704774, :index 2416}
{:type :invoke, :f :cas, :value [4 0], :process 14, :time 12848084771, :index 2418}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 12848463647, :index 2419}
{:type :invoke, :f :write, :value 0, :process 10, :time 12852018794, :index 2421}
{:type :ok, :f :write, :value 0, :process 10, :time 12856668636, :index 2423}
{:type :invoke, :f :read, :value nil, :process 17, :time 12882489103, :index 2428}
{:type :invoke, :f :write, :value 0, :process 19, :time 12921218659, :index 2433}
{:type :invoke, :f :read, :value nil, :process 12, :time 12934126617, :index 2441}
{:type :invoke, :f :read, :value nil, :process 33, :time 12960219427, :index 2446}
{:type :ok, :f :read, :value 0, :process 33, :time 12965283186, :index 2447}
{:type :ok, :f :read, :value 0, :process 17, :time 12968723726, :index 2448}
{:type :invoke, :f :cas, :value [4 3], :process 31, :time 12969316501, :index 2449}
{:type :ok, :f :read, :value 0, :process 12, :time 12972548982, :index 2450}
{:type :fail, :f :cas, :value [4 3], :process 31, :time 12974423752, :index 2451}
{:type :invoke, :f :write, :value 3, :process 16, :time 13007341933, :index 2461}
{:type :invoke, :f :read, :value nil, :process 38, :time 13009897659, :index 2462}
{:type :ok, :f :write, :value 3, :process 16, :time 13013053073, :index 2468}
{:type :ok, :f :read, :value 3, :process 38, :time 13015994092, :index 2470}
{:type :ok, :f :write, :value 0, :process 19, :time 13451510928, :index 2617}
{:type :fail, :f :cas, :value [4 0], :process 14, :time 13452008330, :index 2619}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
