{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :invoke, :f :read, :value nil, :process 33, :time 26445739838, :index 5621}
{:type :invoke, :f :read, :value nil, :process 16, :time 26447150956, :index 5623}
{:type :ok, :f :read, :value nil, :process 33, :time 26452559555, :index 5625}
{:type :ok, :f :read, :value nil, :process 16, :time 26453322295, :index 5627}
{:type :invoke, :f :cas, :value [1 0], :process 31, :time 26453776950, :index 5629}
{:type :fail, :f :cas, :value [1 0], :process 31, :time 26460146818, :error :not-found, :index 5631}
{:type :invoke, :f :write, :value 3, :process 31, :time 26511430229, :index 5636}
{:type :ok, :f :write, :value 3, :process 31, :time 26516713683, :index 5637}
{:type :invoke, :f :read, :value nil, :process 15, :time 26521710797, :index 5638}
{:type :ok, :f :read, :value 3, :process 15, :time 26526584690, :index 5641}
{:type :invoke, :f :write, :value 3, :process 16, :time 26563582686, :index 5646}
{:type :ok, :f :write, :value 3, :process 16, :time 26568656369, :index 5647}
{:type :invoke, :f :write, :value 1, :process 10, :time 26570778635, :index 5648}
{:type :ok, :f :write, :value 1, :process 10, :time 26575897373, :index 5649}
{:type :invoke, :f :read, :value nil, :process 31, :time 26593966346, :index 5656}
{:type :ok, :f :read, :value 1, :process 31, :time 26599236212, :index 5657}
{:type :invoke, :f :write, :value 2, :process 10, :time 26600153218, :index 5658}
{:type :ok, :f :write, :value 2, :process 10, :time 26605928732, :index 5659}
{:type :invoke, :f :cas, :value [4 3], :process 31, :time 26610491768, :index 5661}
{:type :fail, :f :cas, :value [4 3], :process 31, :time 26616243807, :index 5663}
{:type :invoke, :f :write, :value 2, :process 33, :time 26619862047, :index 5664}
{:type :ok, :f :write, :value 2, :process 33, :time 26624589869, :index 5665}
{:type :invoke, :f :write, :value 1, :process 31, :time 26634496160, :index 5666}
{:type :invoke, :f :cas, :value [1 1], :process 15, :time 26638889218, :index 5667}
{:type :ok, :f :write, :value 1, :process 31, :time 26639535264, :index 5668}
{:type :ok, :f :cas, :value [1 1], :process 15, :time 26643789674, :index 5669}
{:type :invoke, :f :cas, :value [4 4], :process 38, :time 26647083824, :index 5670}
{:type :fail, :f :cas, :value [4 4], :process 38, :time 26652763175, :index 5672}
{:type :invoke, :f :cas, :value [1 2], :process 16, :time 26654918151, :index 5673}
{:type :ok, :f :cas, :value [1 2], :process 16, :time 26659998375, :index 5675}
{:type :invoke, :f :cas, :value [2 3], :process 15, :time 26709048846, :index 5681}
{:type :ok, :f :cas, :value [2 3], :process 15, :time 26713903952, :index 5683}
{:type :invoke, :f :cas, :value [2 2], :process 38, :time 26719021362, :index 5684}
{:type :fail, :f :cas, :value [2 2], :process 38, :time 26724857860, :index 5686}
{:type :invoke, :f :cas, :value [3 3], :process 16, :time 26743257432, :index 5692}
{:type :ok, :f :cas, :value [3 3], :process 16, :time 26748259822, :index 5693}
{:type :invoke, :f :write, :value 3, :process 31, :time 26790795034, :index 5696}
{:type :invoke, :f :cas, :value [1 4], :process 10, :time 26793187895, :index 5697}
{:type :ok, :f :write, :value 3, :process 31, :time 26796484058, :index 5698}
{:type :fail, :f :cas, :value [1 4], :process 10, :time 26797854823, :index 5699}
{:type :invoke, :f :write, :value 4, :process 33, :time 26803860381, :index 5700}
{:type :ok, :f :write, :value 4, :process 33, :time 26809886225, :index 5702}
{:type :invoke, :f :write, :value 1, :process 38, :time 26811041893, :index 5704}
{:type :ok, :f :write, :value 1, :process 38, :time 26816920135, :index 5706}
{:type :invoke, :f :cas, :value [1 0], :process 15, :time 26819163580, :index 5708}
{:type :invoke, :f :cas, :value [3 3], :process 31, :time 26835743343, :index 5711}
{:type :invoke, :f :write, :value 2, :process 33, :time 26878155888, :index 5714}
{:type :invoke, :f :cas, :value [1 4], :process 16, :time 26932528410, :index 5717}
{:type :invoke, :f :cas, :value [2 0], :process 10, :time 26938112373, :index 5718}
{:type :invoke, :f :cas, :value [4 2], :process 38, :time 26978208071, :index 5719}
{:type :ok, :f :cas, :value [1 0], :process 15, :time 26982723898, :index 5720}
{:type :fail, :f :cas, :value [4 2], :process 38, :time 27083321600, :index 5723}
{:type :ok, :f :cas, :value [2 0], :process 10, :time 27084280571, :index 5726}
{:type :ok, :f :write, :value 2, :process 33, :time 27084696551, :index 5728}
{:type :fail, :f :cas, :value [1 4], :process 16, :time 27085031508, :index 5729}
{:type :fail, :f :cas, :value [3 3], :process 31, :time 27085669681, :index 5730}
{:type :invoke, :f :write, :value 2, :process 38, :time 27103612619, :index 5733}
{:type :invoke, :f :write, :value 4, :process 10, :time 27142525131, :index 5735}
{:type :invoke, :f :write, :value 3, :process 15, :time 27169006585, :index 5738}
{:type :invoke, :f :read, :value nil, :process 16, :time 27181310612, :index 5739}
{:type :invoke, :f :write, :value 1, :process 31, :time 27215909266, :index 5741}
{:type :invoke, :f :write, :value 1, :process 33, :time 27248928569, :index 5743}
{:type :ok, :f :write, :value 2, :process 38, :time 27301439426, :index 5745}
{:type :ok, :f :write, :value 3, :process 15, :time 27301880537, :index 5747}
{:type :ok, :f :write, :value 4, :process 10, :time 27302470765, :index 5750}
{:type :ok, :f :read, :value 3, :process 16, :time 27302472837, :index 5751}
{:type :ok, :f :write, :value 1, :process 33, :time 27302973627, :index 5754}
{:type :ok, :f :write, :value 1, :process 31, :time 27303037074, :index 5755}
{:type :invoke, :f :read, :value nil, :process 16, :time 27312700443, :index 5757}
{:type :invoke, :f :write, :value 3, :process 31, :time 27349294677, :index 5758}
{:type :invoke, :f :write, :value 3, :process 38, :time 27370744819, :index 5760}
{:type :invoke, :f :write, :value 0, :process 33, :time 27423277521, :index 5763}
{:type :invoke, :f :read, :value nil, :process 10, :time 27423916106, :index 5764}
{:type :invoke, :f :read, :value nil, :process 15, :time 27456367754, :index 5767}
{:type :ok, :f :read, :value 0, :process 15, :time 27472288917, :index 5769}
{:type :ok, :f :write, :value 0, :process 33, :time 27472730512, :index 5771}
{:type :ok, :f :write, :value 3, :process 38, :time 27473121922, :index 5772}
{:type :ok, :f :read, :value 0, :process 10, :time 27473500415, :index 5774}
{:type :ok, :f :read, :value 1, :process 16, :time 27474052667, :index 5777}
{:type :ok, :f :write, :value 3, :process 31, :time 27474162847, :index 5778}
{:type :invoke, :f :write, :value 4, :process 10, :time 27490727540, :index 5784}
{:type :ok, :f :write, :value 4, :process 10, :time 27495484895, :index 5785}
{:type :invoke, :f :write, :value 3, :process 38, :time 27496374222, :index 5786}
{:type :invoke, :f :read, :value nil, :process 33, :time 27496964901, :index 5787}
{:type :ok, :f :write, :value 3, :process 38, :time 27502380490, :index 5788}
{:type :ok, :f :read, :value 3, :process 33, :time 27502677430, :index 5789}
{:type :invoke, :f :cas, :value [1 4], :process 31, :time 27535387779, :index 5790}
{:type :fail, :f :cas, :value [1 4], :process 31, :time 27541646242, :index 5792}
{:type :invoke, :f :write, :value 0, :process 10, :time 27615742996, :index 5800}
{:type :ok, :f :write, :value 0, :process 10, :time 27621986855, :index 5802}
{:type :invoke, :f :read, :value nil, :process 38, :time 27634613142, :index 5805}
{:type :ok, :f :read, :value 0, :process 38, :time 27640065283, :index 5808}
{:type :invoke, :f :write, :value 2, :process 15, :time 27644548130, :index 5810}
{:type :ok, :f :write, :value 2, :process 15, :time 27650379792, :index 5812}
{:type :invoke, :f :read, :value nil, :process 33, :time 27656902773, :index 5814}
{:type :ok, :f :read, :value 2, :process 33, :time 27663456329, :index 5815}
{:type :invoke, :f :cas, :value [3 1], :process 16, :time 27664321909, :index 5816}
{:type :fail, :f :cas, :value [3 1], :process 16, :time 27669455469, :index 5818}
{:type :invoke, :f :write, :value 2, :process 10, :time 27672223149, :index 5820}
{:type :ok, :f :write, :value 2, :process 10, :time 27677140660, :index 5822}
{:type :invoke, :f :read, :value nil, :process 31, :time 27693903649, :index 5826}
{:type :ok, :f :read, :value 2, :process 31, :time 27699263112, :index 5827}
{:type :invoke, :f :cas, :value [0 0], :process 33, :time 27699712145, :index 5828}
{:type :fail, :f :cas, :value [0 0], :process 33, :time 27705166281, :index 5829}
{:type :invoke, :f :read, :value nil, :process 38, :time 27735333010, :index 5834}
{:type :ok, :f :read, :value 2, :process 38, :time 27741377993, :index 5835}
{:type :invoke, :f :cas, :value [0 0], :process 33, :time 27770443952, :index 5841}
{:type :invoke, :f :read, :value nil, :process 16, :time 27773716470, :index 5842}
{:type :fail, :f :cas, :value [0 0], :process 33, :time 27777439163, :index 5844}
{:type :ok, :f :read, :value 2, :process 16, :time 27778872033, :index 5845}
{:type :invoke, :f :write, :value 0, :process 15, :time 27801638731, :index 5848}
{:type :ok, :f :write, :value 0, :process 15, :time 27806129984, :index 5850}
{:type :invoke, :f :read, :value nil, :process 31, :time 27806524265, :index 5851}
{:type :ok, :f :read, :value 0, :process 31, :time 27811508938, :index 5853}
{:type :invoke, :f :cas, :value [1 3], :process 16, :time 27818120167, :index 5854}
{:type :invoke, :f :read, :value nil, :process 38, :time 27819637393, :index 5855}
{:type :fail, :f :cas, :value [1 3], :process 16, :time 27824506737, :index 5856}
{:type :ok, :f :read, :value 0, :process 38, :time 27824560201, :index 5857}
{:type :invoke, :f :cas, :value [3 3], :process 16, :time 27838809981, :index 5861}
{:type :fail, :f :cas, :value [3 3], :process 16, :time 27843946730, :index 5863}
{:type :invoke, :f :write, :value 4, :process 10, :time 27854394507, :index 5864}
{:type :ok, :f :write, :value 4, :process 10, :time 27860815667, :index 5865}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 27874387269, :index 5870}
{:type :ok, :f :cas, :value [4 3], :process 15, :time 27879373829, :index 5871}
{:type :invoke, :f :read, :value nil, :process 16, :time 27915247167, :index 5875}
{:type :ok, :f :read, :value 3, :process 16, :time 27920494114, :index 5877}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 27934635020, :index 5879}
{:type :invoke, :f :read, :value nil, :process 16, :time 27938774907, :index 5881}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 27939561438, :index 5882}
{:type :ok, :f :read, :value 3, :process 16, :time 27945596042, :index 5884}
{:type :invoke, :f :write, :value 1, :process 31, :time 27965762317, :index 5888}
{:type :invoke, :f :read, :value nil, :process 38, :time 27968844092, :index 5889}
{:type :ok, :f :write, :value 1, :process 31, :time 27971244777, :index 5890}
{:type :invoke, :f :cas, :value [3 2], :process 33, :time 27973768030, :index 5891}
{:type :invoke, :f :cas, :value [1 3], :process 16, :time 27973896246, :index 5892}
{:type :ok, :f :read, :value 1, :process 38, :time 27974518691, :index 5893}
{:type :ok, :f :cas, :value [1 3], :process 16, :time 27979607979, :index 5894}
{:type :ok, :f :cas, :value [3 2], :process 33, :time 27980142515, :index 5895}
{:type :invoke, :f :read, :value nil, :process 38, :time 27981776805, :index 5897}
{:type :invoke, :f :read, :value nil, :process 10, :time 27987069406, :index 5899}
{:type :invoke, :f :write, :value 1, :process 31, :time 27988507113, :index 5900}
{:type :ok, :f :read, :value 2, :process 38, :time 27991207200, :index 5901}
{:type :ok, :f :read, :value 2, :process 10, :time 27992676655, :index 5902}
{:type :ok, :f :write, :value 1, :process 31, :time 27993501366, :index 5903}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 27995413363, :index 5904}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 28001142086, :index 5905}
{:type :invoke, :f :write, :value 4, :process 38, :time 28039462754, :index 5909}
{:type :ok, :f :write, :value 4, :process 38, :time 28044994574, :index 5911}
{:type :invoke, :f :read, :value nil, :process 31, :time 28066742561, :index 5912}
{:type :ok, :f :read, :value 4, :process 31, :time 28073844317, :index 5913}
{:type :invoke, :f :write, :value 3, :process 16, :time 28083876155, :index 5916}
{:type :invoke, :f :read, :value nil, :process 15, :time 28084819283, :index 5917}
{:type :ok, :f :write, :value 3, :process 16, :time 28090115977, :index 5921}
{:type :ok, :f :read, :value 3, :process 15, :time 28090429818, :index 5922}
{:type :invoke, :f :write, :value 1, :process 33, :time 28148410759, :index 5932}
{:type :ok, :f :write, :value 1, :process 33, :time 28153280414, :index 5934}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 28176928939, :index 5938}
{:type :fail, :f :cas, :value [0 2], :process 10, :time 28182436236, :index 5939}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 28195392283, :index 5940}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 28201544009, :index 5941}
{:type :invoke, :f :write, :value 2, :process 16, :time 28208804172, :index 5943}
{:type :ok, :f :write, :value 2, :process 16, :time 28213569332, :index 5945}
{:type :invoke, :f :write, :value 2, :process 16, :time 28235865414, :index 5948}
{:type :invoke, :f :cas, :value [2 3], :process 15, :time 28241661882, :index 5951}
{:type :ok, :f :write, :value 2, :process 16, :time 28241920545, :index 5952}
{:type :invoke, :f :read, :value nil, :process 38, :time 28243260901, :index 5954}
{:type :ok, :f :cas, :value [2 3], :process 15, :time 28246180607, :index 5956}
{:type :ok, :f :read, :value 3, :process 38, :time 28248071956, :index 5957}
{:type :invoke, :f :write, :value 0, :process 31, :time 28261110286, :index 5959}
{:type :ok, :f :write, :value 0, :process 31, :time 28266957426, :index 5962}
{:type :invoke, :f :read, :value nil, :process 15, :time 28274434505, :index 5964}
{:type :ok, :f :read, :value 0, :process 15, :time 28279534230, :index 5966}
{:type :invoke, :f :write, :value 3, :process 31, :time 28305257757, :index 5970}
{:type :invoke, :f :read, :value nil, :process 33, :time 28306585561, :index 5971}
{:type :ok, :f :read, :value 3, :process 33, :time 28312746487, :index 5973}
{:type :ok, :f :write, :value 3, :process 31, :time 28313193537, :index 5974}
{:type :invoke, :f :read, :value nil, :process 38, :time 28324369432, :index 5980}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 28329822360, :index 5982}
{:type :ok, :f :read, :value 3, :process 38, :time 28330758475, :index 5983}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 28334345989, :index 5985}
{:type :invoke, :f :write, :value 0, :process 16, :time 28336176800, :index 5986}
{:type :ok, :f :write, :value 0, :process 16, :time 28343390567, :index 5988}
{:type :invoke, :f :cas, :value [3 0], :process 15, :time 28346599654, :index 5990}
{:type :fail, :f :cas, :value [3 0], :process 15, :time 28351290297, :index 5991}
{:type :invoke, :f :write, :value 4, :process 31, :time 28359479428, :index 5992}
{:type :ok, :f :write, :value 4, :process 31, :time 28364569014, :index 5993}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 28373695831, :index 5996}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 28377996360, :index 5997}
{:type :invoke, :f :cas, :value [1 2], :process 33, :time 28411983564, :index 5998}
{:type :fail, :f :cas, :value [1 2], :process 33, :time 28417682959, :index 6000}
{:type :invoke, :f :cas, :value [2 1], :process 31, :time 28446827663, :index 6008}
{:type :fail, :f :cas, :value [2 1], :process 31, :time 28452412399, :index 6009}
{:type :invoke, :f :write, :value 4, :process 38, :time 28457017161, :index 6012}
{:type :ok, :f :write, :value 4, :process 38, :time 28462497825, :index 6016}
{:type :invoke, :f :read, :value nil, :process 16, :time 28506682924, :index 6022}
{:type :ok, :f :read, :value 4, :process 16, :time 28512007646, :index 6024}
{:type :invoke, :f :write, :value 3, :process 15, :time 28536490621, :index 6028}
{:type :ok, :f :write, :value 3, :process 15, :time 28541037202, :index 6030}
{:type :invoke, :f :read, :value nil, :process 10, :time 28571256268, :index 6040}
{:type :ok, :f :read, :value 3, :process 10, :time 28576321738, :index 6041}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
