{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :invoke, :f :cas, :value [2 0], :process 22, :time 40226019858, :index 13582}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 40226022830, :index 13583}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 40228199134, :error :connect, :index 13584}
{:type :fail, :f :cas, :value [2 0], :process 22, :time 40228199131, :error :connect, :index 13585}
{:type :invoke, :f :read, :value nil, :process 21, :time 40256132687, :index 13594}
{:type :fail, :f :read, :value nil, :process 21, :time 40258165198, :error :connect, :index 13597}
{:type :invoke, :f :write, :value 2, :process 5, :time 40261933419, :index 13599}
{:type :fail, :f :write, :value 2, :process 5, :time 40264151849, :error :connect, :index 13601}
{:type :invoke, :f :read, :value nil, :process 5, :time 40296409403, :index 13610}
{:type :fail, :f :read, :value nil, :process 5, :time 40298357441, :error :connect, :index 13611}
{:type :invoke, :f :write, :value 0, :process 29, :time 40321170180, :index 13616}
{:type :fail, :f :write, :value 0, :process 29, :time 40323339782, :error :connect, :index 13617}
{:type :invoke, :f :read, :value nil, :process 4, :time 40326032285, :index 13618}
{:type :fail, :f :read, :value nil, :process 4, :time 40328136979, :error :connect, :index 13620}
{:type :invoke, :f :read, :value nil, :process 5, :time 40330625432, :index 13622}
{:type :fail, :f :read, :value nil, :process 5, :time 40332532389, :error :connect, :index 13623}
{:type :invoke, :f :read, :value nil, :process 5, :time 40341805522, :index 13624}
{:type :fail, :f :read, :value nil, :process 5, :time 40343866222, :error :connect, :index 13625}
{:type :invoke, :f :read, :value nil, :process 29, :time 40346614136, :index 13626}
{:type :fail, :f :read, :value nil, :process 29, :time 40348312864, :error :connect, :index 13627}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 40389053725, :index 13638}
{:type :fail, :f :cas, :value [0 1], :process 6, :time 40391353439, :error :connect, :index 13639}
{:type :invoke, :f :read, :value nil, :process 8, :time 40391476836, :index 13640}
{:type :fail, :f :read, :value nil, :process 8, :time 40393616013, :error :connect, :index 13642}
{:type :invoke, :f :read, :value nil, :process 21, :time 40400402257, :index 13646}
{:type :fail, :f :read, :value nil, :process 21, :time 40402521484, :error :connect, :index 13647}
{:type :invoke, :f :write, :value 4, :process 8, :time 40404786537, :index 13648}
{:type :fail, :f :write, :value 4, :process 8, :time 40406726734, :error :connect, :index 13649}
{:type :invoke, :f :read, :value nil, :process 22, :time 40414614680, :index 13651}
{:type :invoke, :f :write, :value 0, :process 7, :time 40415501839, :index 13652}
{:type :fail, :f :read, :value nil, :process 22, :time 40416808597, :error :connect, :index 13654}
{:type :fail, :f :write, :value 0, :process 7, :time 40417127565, :error :connect, :index 13655}
{:type :invoke, :f :read, :value nil, :process 21, :time 40424813894, :index 13659}
{:type :invoke, :f :write, :value 0, :process 5, :time 40425175166, :index 13660}
{:type :fail, :f :read, :value nil, :process 21, :time 40426912694, :error :connect, :index 13662}
{:type :fail, :f :write, :value 0, :process 5, :time 40427150663, :error :connect, :index 13663}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 40429370648, :index 13665}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 40431398189, :error :connect, :index 13667}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 40431392810, :index 13668}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 40433244290, :error :connect, :index 13669}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 40436381448, :index 13670}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 40438196921, :error :connect, :index 13671}
{:type :invoke, :f :read, :value nil, :process 3, :time 40443927021, :index 13672}
{:type :fail, :f :read, :value nil, :process 3, :time 40445978473, :error :connect, :index 13673}
{:type :invoke, :f :read, :value nil, :process 6, :time 40454642609, :index 13674}
{:type :fail, :f :read, :value nil, :process 6, :time 40456621123, :error :connect, :index 13675}
{:type :invoke, :f :write, :value 0, :process 6, :time 40459905681, :index 13676}
{:type :fail, :f :write, :value 0, :process 6, :time 40462053175, :error :connect, :index 13677}
{:type :invoke, :f :cas, :value [4 3], :process 29, :time 40464581688, :index 13678}
{:type :fail, :f :cas, :value [4 3], :process 29, :time 40466458944, :error :connect, :index 13679}
{:type :invoke, :f :write, :value 3, :process 5, :time 40489482463, :index 13684}
{:type :fail, :f :write, :value 3, :process 5, :time 40491754626, :error :connect, :index 13685}
{:type :invoke, :f :read, :value nil, :process 8, :time 40513994493, :index 13690}
{:type :fail, :f :read, :value nil, :process 8, :time 40516648760, :error :connect, :index 13694}
{:type :invoke, :f :read, :value nil, :process 0, :time 40529655231, :index 13698}
{:type :fail, :f :read, :value nil, :process 0, :time 40531609784, :error :connect, :index 13699}
{:type :invoke, :f :write, :value 0, :process 8, :time 40551915683, :index 13710}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 40553193205, :index 13711}
{:type :fail, :f :write, :value 0, :process 8, :time 40553652013, :error :connect, :index 13712}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 40555201339, :error :connect, :index 13713}
{:type :invoke, :f :write, :value 3, :process 6, :time 40569320978, :index 13715}
{:type :fail, :f :write, :value 3, :process 6, :time 40571065609, :error :connect, :index 13717}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 40572921596, :index 13718}
{:type :invoke, :f :read, :value nil, :process 7, :time 40574366480, :index 13719}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 40574936618, :error :connect, :index 13720}
{:type :fail, :f :read, :value nil, :process 7, :time 40576516529, :error :connect, :index 13721}
{:type :invoke, :f :write, :value 2, :process 3, :time 40582247798, :index 13724}
{:type :fail, :f :write, :value 2, :process 3, :time 40584360393, :error :connect, :index 13725}
{:type :invoke, :f :write, :value 4, :process 22, :time 40586061655, :index 13726}
{:type :fail, :f :write, :value 4, :process 22, :time 40587833057, :error :connect, :index 13727}
{:type :invoke, :f :cas, :value [4 4], :process 5, :time 40591026374, :index 13728}
{:type :fail, :f :cas, :value [4 4], :process 5, :time 40593082021, :error :connect, :index 13729}
{:type :invoke, :f :write, :value 2, :process 29, :time 40595726914, :index 13730}
{:type :fail, :f :write, :value 2, :process 29, :time 40597907061, :error :connect, :index 13733}
{:type :invoke, :f :read, :value nil, :process 22, :time 40608100654, :index 13734}
{:type :invoke, :f :write, :value 4, :process 29, :time 40608207244, :index 13735}
{:type :fail, :f :write, :value 4, :process 29, :time 40610057855, :error :connect, :index 13736}
{:type :fail, :f :read, :value nil, :process 22, :time 40610615313, :error :connect, :index 13737}
{:type :invoke, :f :read, :value nil, :process 4, :time 40615512131, :index 13740}
{:type :fail, :f :read, :value nil, :process 4, :time 40617263895, :error :connect, :index 13742}
{:type :invoke, :f :read, :value nil, :process 3, :time 40623619710, :index 13744}
{:type :fail, :f :read, :value nil, :process 3, :time 40625427177, :error :connect, :index 13746}
{:type :invoke, :f :write, :value 1, :process 29, :time 40693334361, :index 13756}
{:type :fail, :f :write, :value 1, :process 29, :time 40694985841, :error :connect, :index 13757}
{:type :invoke, :f :read, :value nil, :process 22, :time 40695892765, :index 13758}
{:type :invoke, :f :cas, :value [3 1], :process 8, :time 40696233856, :index 13759}
{:type :fail, :f :read, :value nil, :process 22, :time 40697738934, :error :connect, :index 13760}
{:type :fail, :f :cas, :value [3 1], :process 8, :time 40698240413, :error :connect, :index 13761}
{:type :invoke, :f :read, :value nil, :process 0, :time 40700876100, :index 13762}
{:type :fail, :f :read, :value nil, :process 0, :time 40702976042, :error :connect, :index 13763}
{:type :invoke, :f :cas, :value [1 2], :process 29, :time 40705255953, :index 13764}
{:type :fail, :f :cas, :value [1 2], :process 29, :time 40706994054, :error :connect, :index 13765}
{:type :invoke, :f :read, :value nil, :process 6, :time 40715319436, :index 13768}
{:type :fail, :f :read, :value nil, :process 6, :time 40717247907, :error :connect, :index 13769}
{:type :invoke, :f :write, :value 1, :process 0, :time 40743264133, :index 13776}
{:type :invoke, :f :write, :value 0, :process 21, :time 40744471622, :index 13777}
{:type :fail, :f :write, :value 1, :process 0, :time 40745206380, :error :connect, :index 13778}
{:type :fail, :f :write, :value 0, :process 21, :time 40746594455, :error :connect, :index 13779}
{:type :invoke, :f :read, :value nil, :process 7, :time 40756781552, :index 13780}
{:type :invoke, :f :cas, :value [0 3], :process 21, :time 40757873245, :index 13781}
{:type :fail, :f :read, :value nil, :process 7, :time 40758911696, :error :connect, :index 13782}
{:type :fail, :f :cas, :value [0 3], :process 21, :time 40759534198, :error :connect, :index 13783}
{:type :invoke, :f :write, :value 0, :process 29, :time 40763274083, :index 13786}
{:type :fail, :f :write, :value 0, :process 29, :time 40765103644, :error :connect, :index 13787}
{:type :invoke, :f :write, :value 1, :process 5, :time 40784353902, :index 13790}
{:type :fail, :f :write, :value 1, :process 5, :time 40786192418, :error :connect, :index 13793}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 40789666125, :index 13794}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 40791531442, :error :connect, :index 13796}
{:type :invoke, :f :write, :value 4, :process 29, :time 40798370261, :index 13800}
{:type :fail, :f :write, :value 4, :process 29, :time 40800218520, :error :connect, :index 13801}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 40802522208, :index 13803}
{:type :fail, :f :cas, :value [1 0], :process 6, :time 40804580336, :error :connect, :index 13805}
{:type :invoke, :f :read, :value nil, :process 4, :time 40813524098, :index 13811}
{:type :fail, :f :read, :value nil, :process 4, :time 40815792917, :error :connect, :index 13814}
{:type :invoke, :f :read, :value nil, :process 4, :time 40815962032, :index 13815}
{:type :fail, :f :read, :value nil, :process 4, :time 40817488102, :error :connect, :index 13817}
{:type :invoke, :f :cas, :value [3 1], :process 21, :time 40842733610, :index 13828}
{:type :invoke, :f :write, :value 3, :process 6, :time 40842908994, :index 13829}
{:type :fail, :f :cas, :value [3 1], :process 21, :time 40844834446, :error :connect, :index 13830}
{:type :fail, :f :write, :value 3, :process 6, :time 40844936461, :error :connect, :index 13831}
{:type :invoke, :f :cas, :value [3 0], :process 3, :time 40850734644, :index 13834}
{:type :fail, :f :cas, :value [3 0], :process 3, :time 40852688641, :error :connect, :index 13835}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 40852732045, :index 13836}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 40854562353, :error :connect, :index 13837}
{:type :invoke, :f :write, :value 3, :process 29, :time 40868496213, :index 13842}
{:type :fail, :f :write, :value 3, :process 29, :time 40870534825, :error :connect, :index 13843}
{:type :invoke, :f :cas, :value [2 0], :process 22, :time 40882008609, :index 13846}
{:type :fail, :f :cas, :value [2 0], :process 22, :time 40883957976, :error :connect, :index 13848}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 40893454677, :index 13850}
{:type :invoke, :f :cas, :value [1 1], :process 8, :time 40894488713, :index 13851}
{:type :fail, :f :cas, :value [1 4], :process 0, :time 40895425170, :error :connect, :index 13852}
{:type :fail, :f :cas, :value [1 1], :process 8, :time 40896594595, :error :connect, :index 13853}
{:type :invoke, :f :cas, :value [0 3], :process 22, :time 40920228504, :index 13857}
{:type :fail, :f :cas, :value [0 3], :process 22, :time 40922362543, :error :connect, :index 13859}
{:type :invoke, :f :cas, :value [1 0], :process 7, :time 40926180531, :index 13862}
{:type :fail, :f :cas, :value [1 0], :process 7, :time 40928121348, :error :connect, :index 13863}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 40933859416, :index 13864}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 40935741278, :error :connect, :index 13865}
{:type :invoke, :f :read, :value nil, :process 21, :time 40941120059, :index 13866}
{:type :fail, :f :read, :value nil, :process 21, :time 40943558143, :error :connect, :index 13867}
{:type :invoke, :f :cas, :value [0 2], :process 3, :time 40955983953, :index 13869}
{:type :invoke, :f :write, :value 0, :process 0, :time 40957684666, :index 13870}
{:type :fail, :f :cas, :value [0 2], :process 3, :time 40958559544, :error :connect, :index 13872}
{:type :fail, :f :write, :value 0, :process 0, :time 40959660146, :error :connect, :index 13873}
{:type :invoke, :f :write, :value 4, :process 5, :time 40979490406, :index 13879}
{:type :fail, :f :write, :value 4, :process 5, :time 40981255506, :error :connect, :index 13881}
{:type :invoke, :f :write, :value 3, :process 6, :time 40982182355, :index 13882}
{:type :fail, :f :write, :value 3, :process 6, :time 40984322556, :error :connect, :index 13883}
{:type :invoke, :f :write, :value 3, :process 4, :time 40985854009, :index 13884}
{:type :fail, :f :write, :value 3, :process 4, :time 40988009133, :error :connect, :index 13885}
{:type :invoke, :f :cas, :value [0 4], :process 21, :time 40997856920, :index 13888}
{:type :fail, :f :cas, :value [0 4], :process 21, :time 40999907285, :error :connect, :index 13889}
{:type :invoke, :f :write, :value 2, :process 29, :time 41012811637, :index 13894}
{:type :fail, :f :write, :value 2, :process 29, :time 41014985292, :error :connect, :index 13895}
{:type :invoke, :f :write, :value 3, :process 8, :time 41030041483, :index 13896}
{:type :fail, :f :write, :value 3, :process 8, :time 41032422965, :error :connect, :index 13897}
{:type :invoke, :f :read, :value nil, :process 29, :time 41044281882, :index 13898}
{:type :fail, :f :read, :value nil, :process 29, :time 41046572903, :error :connect, :index 13899}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 41060715053, :index 13907}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 41062831691, :error :connect, :index 13910}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 41077625680, :index 13914}
{:type :fail, :f :cas, :value [0 2], :process 22, :time 41079404858, :error :connect, :index 13916}
{:type :invoke, :f :read, :value nil, :process 7, :time 41079404765, :index 13917}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 41088976820, :index 13918}
{:type :invoke, :f :read, :value nil, :process 29, :time 41088846283, :index 13919}
{:type :fail, :f :read, :value nil, :process 7, :time 41090920672, :error :connect, :index 13922}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 41091227754, :error :connect, :index 13923}
{:type :fail, :f :read, :value nil, :process 29, :time 41091746084, :error :connect, :index 13924}
{:type :invoke, :f :write, :value 3, :process 5, :time 41097513948, :index 13926}
{:type :fail, :f :write, :value 3, :process 5, :time 41099325239, :error :connect, :index 13928}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 41100591772, :index 13930}
{:type :fail, :f :cas, :value [2 2], :process 6, :time 41102496211, :error :connect, :index 13932}
{:type :invoke, :f :read, :value nil, :process 29, :time 41124002936, :index 13937}
{:type :fail, :f :read, :value nil, :process 29, :time 41126168225, :error :connect, :index 13939}
{:type :invoke, :f :read, :value nil, :process 0, :time 41156918433, :index 13948}
{:type :fail, :f :read, :value nil, :process 0, :time 41158752892, :error :connect, :index 13949}
{:type :invoke, :f :write, :value 1, :process 8, :time 41159137912, :index 13950}
{:type :fail, :f :write, :value 1, :process 8, :time 41160946099, :error :connect, :index 13952}
{:type :invoke, :f :write, :value 0, :process 29, :time 41165443836, :index 13954}
{:type :fail, :f :write, :value 0, :process 29, :time 41167540343, :error :connect, :index 13955}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 41174472840, :index 13956}
{:type :invoke, :f :read, :value nil, :process 4, :time 41175282598, :index 13957}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 41176407788, :error :connect, :index 13958}
{:type :fail, :f :read, :value nil, :process 4, :time 41177283533, :error :connect, :index 13959}
{:type :invoke, :f :read, :value nil, :process 21, :time 41181192131, :index 13960}
{:type :fail, :f :read, :value nil, :process 21, :time 41183105016, :error :connect, :index 13961}
{:type :invoke, :f :read, :value nil, :process 8, :time 41189208354, :index 13964}
{:type :fail, :f :read, :value nil, :process 8, :time 41190820613, :error :connect, :index 13965}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 41223592992, :index 13972}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 41225582561, :error :connect, :index 13975}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :invoke, :f :cas, :value [3 4], :process 22, :time 41279267134, :index 13999}
{:type :invoke, :f :cas, :value [4 0], :process 7, :time 41280210123, :index 14000}
{:type :fail, :f :cas, :value [3 4], :process 22, :time 41281098198, :error :connect, :index 14001}
{:type :fail, :f :cas, :value [4 0], :process 7, :time 41281932272, :error :connect, :index 14002}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 41294767990, :index 14007}
{:type :invoke, :f :read, :value nil, :process 0, :time 41295024729, :index 14008}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 41296872648, :error :connect, :index 14009}
{:type :fail, :f :read, :value nil, :process 0, :time 41296872648, :error :connect, :index 14010}
{:type :invoke, :f :cas, :value [1 0], :process 29, :time 41360810360, :index 14027}
{:type :fail, :f :cas, :value [1 0], :process 29, :time 41362506761, :error :connect, :index 14028}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
