{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :invoke, :f :read, :value nil, :process 10, :time 26927951795, :index 8412}
{:type :fail, :f :read, :value nil, :process 10, :time 26929987062, :error :connect, :index 8413}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 26949252465, :index 8418}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 26951262500, :error :connect, :index 8419}
{:type :invoke, :f :write, :value 0, :process 10, :time 26978528939, :index 8426}
{:type :fail, :f :write, :value 0, :process 10, :time 26980127604, :error :connect, :index 8427}
{:type :invoke, :f :write, :value 2, :process 10, :time 26998386214, :index 8430}
{:type :fail, :f :write, :value 2, :process 10, :time 27000207617, :error :connect, :index 8431}
{:type :invoke, :f :write, :value 1, :process 33, :time 27074977754, :index 8460}
{:type :invoke, :f :read, :value nil, :process 11, :time 27075950929, :index 8461}
{:type :fail, :f :write, :value 1, :process 33, :time 27076955721, :error :connect, :index 8463}
{:type :fail, :f :read, :value nil, :process 11, :time 27077737962, :error :connect, :index 8464}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 27080386521, :index 8466}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 27082400442, :error :connect, :index 8467}
{:type :invoke, :f :read, :value nil, :process 37, :time 27085114202, :index 8468}
{:type :fail, :f :read, :value nil, :process 37, :time 27086994591, :error :connect, :index 8469}
{:type :invoke, :f :write, :value 1, :process 11, :time 27096994957, :index 8473}
{:type :fail, :f :write, :value 1, :process 11, :time 27099199644, :error :connect, :index 8476}
{:type :invoke, :f :read, :value nil, :process 11, :time 27099331981, :index 8477}
{:type :fail, :f :read, :value nil, :process 11, :time 27101158805, :error :connect, :index 8479}
{:type :invoke, :f :write, :value 2, :process 34, :time 27136907456, :index 8484}
{:type :invoke, :f :read, :value nil, :process 18, :time 27137870396, :index 8485}
{:type :fail, :f :write, :value 2, :process 34, :time 27139026251, :error :connect, :index 8487}
{:type :fail, :f :read, :value nil, :process 18, :time 27139923990, :error :connect, :index 8488}
{:type :invoke, :f :cas, :value [1 2], :process 36, :time 27140472150, :index 8489}
{:type :fail, :f :cas, :value [1 2], :process 36, :time 27142205987, :error :connect, :index 8491}
{:type :invoke, :f :cas, :value [2 4], :process 39, :time 27144439051, :index 8492}
{:type :fail, :f :cas, :value [2 4], :process 39, :time 27146064029, :error :connect, :index 8493}
{:type :invoke, :f :write, :value 1, :process 18, :time 27150175280, :index 8496}
{:type :fail, :f :write, :value 1, :process 18, :time 27151997386, :error :connect, :index 8497}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 27153469345, :index 8498}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 27155269001, :error :connect, :index 8499}
{:type :invoke, :f :cas, :value [2 2], :process 11, :time 27177412368, :index 8501}
{:type :fail, :f :cas, :value [2 2], :process 11, :time 27179265307, :error :connect, :index 8503}
{:type :invoke, :f :cas, :value [3 3], :process 39, :time 27184337441, :index 8504}
{:type :fail, :f :cas, :value [3 3], :process 39, :time 27186203875, :error :connect, :index 8505}
{:type :invoke, :f :write, :value 3, :process 32, :time 27186432365, :index 8506}
{:type :fail, :f :write, :value 3, :process 32, :time 27188293403, :error :connect, :index 8507}
{:type :invoke, :f :write, :value 4, :process 37, :time 27193257006, :index 8508}
{:type :fail, :f :write, :value 4, :process 37, :time 27195093623, :error :connect, :index 8509}
{:type :invoke, :f :read, :value nil, :process 15, :time 27216663090, :index 8516}
{:type :fail, :f :read, :value nil, :process 15, :time 27218825140, :error :connect, :index 8517}
{:type :invoke, :f :cas, :value [4 4], :process 18, :time 27223272426, :index 8519}
{:type :fail, :f :cas, :value [4 4], :process 18, :time 27224910782, :error :connect, :index 8521}
{:type :invoke, :f :write, :value 4, :process 33, :time 27234214430, :index 8525}
{:type :fail, :f :write, :value 4, :process 33, :time 27236188930, :error :connect, :index 8527}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 27284086293, :index 8540}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 27285838690, :error :connect, :index 8541}
{:type :invoke, :f :read, :value nil, :process 37, :time 27292351514, :index 8542}
{:type :fail, :f :read, :value nil, :process 37, :time 27294169934, :error :connect, :index 8543}
{:type :invoke, :f :read, :value nil, :process 36, :time 27297484889, :index 8544}
{:type :fail, :f :read, :value nil, :process 36, :time 27299272543, :error :connect, :index 8545}
{:type :invoke, :f :cas, :value [4 3], :process 18, :time 27321170173, :index 8551}
{:type :invoke, :f :write, :value 2, :process 10, :time 27322571637, :index 8553}
{:type :fail, :f :cas, :value [4 3], :process 18, :time 27323092179, :error :connect, :index 8554}
{:type :fail, :f :write, :value 2, :process 10, :time 27324643834, :error :connect, :index 8555}
{:type :invoke, :f :cas, :value [3 1], :process 34, :time 27332310103, :index 8561}
{:type :fail, :f :cas, :value [3 1], :process 34, :time 27334555342, :error :connect, :index 8563}
{:type :invoke, :f :read, :value nil, :process 36, :time 27335531571, :index 8564}
{:type :fail, :f :read, :value nil, :process 36, :time 27337201087, :error :connect, :index 8565}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 27356527655, :index 8568}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 27359758063, :error :connect, :index 8569}
{:type :invoke, :f :write, :value 3, :process 32, :time 27367552849, :index 8574}
{:type :invoke, :f :cas, :value [4 3], :process 39, :time 27368473839, :index 8575}
{:type :fail, :f :write, :value 3, :process 32, :time 27369592566, :error :connect, :index 8576}
{:type :fail, :f :cas, :value [4 3], :process 39, :time 27370309776, :error :connect, :index 8577}
{:type :invoke, :f :write, :value 4, :process 10, :time 27373916127, :index 8578}
{:type :fail, :f :write, :value 4, :process 10, :time 27375914730, :error :connect, :index 8581}
{:type :invoke, :f :write, :value 3, :process 33, :time 27377456188, :index 8583}
{:type :fail, :f :write, :value 3, :process 33, :time 27379373434, :error :connect, :index 8585}
{:type :invoke, :f :write, :value 1, :process 37, :time 27397428615, :index 8588}
{:type :fail, :f :write, :value 1, :process 37, :time 27399228519, :error :connect, :index 8589}
{:type :invoke, :f :read, :value nil, :process 33, :time 27431629751, :index 8594}
{:type :fail, :f :read, :value nil, :process 33, :time 27433634146, :error :connect, :index 8595}
{:type :invoke, :f :write, :value 0, :process 15, :time 27434112977, :index 8596}
{:type :invoke, :f :write, :value 4, :process 33, :time 27434892173, :index 8597}
{:type :fail, :f :write, :value 0, :process 15, :time 27435637788, :error :connect, :index 8598}
{:type :fail, :f :write, :value 4, :process 33, :time 27436711196, :error :connect, :index 8600}
{:type :invoke, :f :read, :value nil, :process 11, :time 27453023710, :index 8605}
{:type :invoke, :f :write, :value 4, :process 34, :time 27454880991, :index 8607}
{:type :fail, :f :read, :value nil, :process 11, :time 27455330825, :error :connect, :index 8608}
{:type :fail, :f :write, :value 4, :process 34, :time 27456680919, :error :connect, :index 8609}
{:type :invoke, :f :read, :value nil, :process 37, :time 27467514612, :index 8610}
{:type :invoke, :f :read, :value nil, :process 15, :time 27468898539, :index 8611}
{:type :fail, :f :read, :value nil, :process 37, :time 27469586208, :error :connect, :index 8612}
{:type :invoke, :f :write, :value 4, :process 18, :time 27469364430, :index 8613}
{:type :fail, :f :read, :value nil, :process 15, :time 27470855771, :error :connect, :index 8614}
{:type :fail, :f :write, :value 4, :process 18, :time 27471810519, :error :connect, :index 8615}
{:type :invoke, :f :write, :value 1, :process 10, :time 27475167813, :index 8616}
{:type :fail, :f :write, :value 1, :process 10, :time 27476935683, :error :connect, :index 8617}
{:type :invoke, :f :write, :value 4, :process 39, :time 27478562630, :index 8618}
{:type :fail, :f :write, :value 4, :process 39, :time 27480576615, :error :connect, :index 8620}
{:type :invoke, :f :cas, :value [3 2], :process 11, :time 27510580861, :index 8627}
{:type :fail, :f :cas, :value [3 2], :process 11, :time 27512853895, :error :connect, :index 8630}
{:type :invoke, :f :read, :value nil, :process 32, :time 27514864460, :index 8632}
{:type :fail, :f :read, :value nil, :process 32, :time 27516425034, :error :connect, :index 8633}
{:type :invoke, :f :read, :value nil, :process 36, :time 27523455668, :index 8634}
{:type :fail, :f :read, :value nil, :process 36, :time 27525146690, :error :connect, :index 8635}
{:type :invoke, :f :cas, :value [2 1], :process 33, :time 27543974832, :index 8641}
{:type :fail, :f :cas, :value [2 1], :process 33, :time 27546739219, :error :connect, :index 8645}
{:type :invoke, :f :write, :value 0, :process 36, :time 27560402161, :index 8648}
{:type :fail, :f :write, :value 0, :process 36, :time 27562584882, :error :connect, :index 8649}
{:type :invoke, :f :cas, :value [1 4], :process 34, :time 27562858162, :index 8650}
{:type :invoke, :f :cas, :value [4 2], :process 37, :time 27562869699, :index 8651}
{:type :fail, :f :cas, :value [4 2], :process 37, :time 27565120019, :error :connect, :index 8652}
{:type :fail, :f :cas, :value [1 4], :process 34, :time 27565136225, :error :connect, :index 8653}
{:type :invoke, :f :cas, :value [3 1], :process 33, :time 27571002405, :index 8655}
{:type :invoke, :f :write, :value 0, :process 10, :time 27572191316, :index 8657}
{:type :fail, :f :cas, :value [3 1], :process 33, :time 27573076377, :error :connect, :index 8658}
{:type :fail, :f :write, :value 0, :process 10, :time 27574196704, :error :connect, :index 8659}
{:type :invoke, :f :write, :value 4, :process 18, :time 27600064523, :index 8662}
{:type :fail, :f :write, :value 4, :process 18, :time 27601661844, :error :connect, :index 8663}
{:type :invoke, :f :read, :value nil, :process 37, :time 27606415604, :index 8664}
{:type :fail, :f :read, :value nil, :process 37, :time 27608300527, :error :connect, :index 8665}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 27612055327, :index 8666}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 27614088300, :error :connect, :index 8667}
{:type :invoke, :f :read, :value nil, :process 34, :time 27630411622, :index 8672}
{:type :fail, :f :read, :value nil, :process 34, :time 27632169413, :error :connect, :index 8673}
{:type :invoke, :f :cas, :value [2 2], :process 39, :time 27659842273, :index 8680}
{:type :fail, :f :cas, :value [2 2], :process 39, :time 27661844101, :error :connect, :index 8681}
{:type :invoke, :f :cas, :value [3 2], :process 33, :time 27669337432, :index 8682}
{:type :fail, :f :cas, :value [3 2], :process 33, :time 27671234184, :error :connect, :index 8683}
{:type :invoke, :f :write, :value 3, :process 10, :time 27676473626, :index 8686}
{:type :fail, :f :write, :value 3, :process 10, :time 27678341762, :error :connect, :index 8689}
{:type :invoke, :f :write, :value 4, :process 11, :time 27682117958, :index 8690}
{:type :fail, :f :write, :value 4, :process 11, :time 27683749054, :error :connect, :index 8691}
{:type :invoke, :f :read, :value nil, :process 32, :time 27689685004, :index 8696}
{:type :fail, :f :read, :value nil, :process 32, :time 27691468768, :error :connect, :index 8697}
{:type :invoke, :f :read, :value nil, :process 11, :time 27702016040, :index 8700}
{:type :fail, :f :read, :value nil, :process 11, :time 27703883299, :error :connect, :index 8701}
{:type :invoke, :f :cas, :value [2 4], :process 39, :time 27715114662, :index 8703}
{:type :fail, :f :cas, :value [2 4], :process 39, :time 27716966414, :error :connect, :index 8705}
{:type :invoke, :f :write, :value 1, :process 36, :time 27718868257, :index 8706}
{:type :fail, :f :write, :value 1, :process 36, :time 27720738599, :error :connect, :index 8707}
{:type :invoke, :f :cas, :value [4 0], :process 34, :time 27722470752, :index 8708}
{:type :fail, :f :cas, :value [4 0], :process 34, :time 27724281713, :error :connect, :index 8709}
{:type :invoke, :f :cas, :value [1 4], :process 11, :time 27729164462, :index 8714}
{:type :fail, :f :cas, :value [1 4], :process 11, :time 27730989269, :error :connect, :index 8715}
{:type :invoke, :f :write, :value 3, :process 37, :time 27734561292, :index 8716}
{:type :fail, :f :write, :value 3, :process 37, :time 27736398354, :error :connect, :index 8717}
{:type :invoke, :f :write, :value 1, :process 15, :time 27751351616, :index 8718}
{:type :fail, :f :write, :value 1, :process 15, :time 27753003691, :error :connect, :index 8719}
{:type :invoke, :f :write, :value 3, :process 15, :time 27780273009, :index 8728}
{:type :fail, :f :write, :value 3, :process 15, :time 27782270442, :error :connect, :index 8729}
{:type :invoke, :f :write, :value 1, :process 18, :time 27794921904, :index 8732}
{:type :fail, :f :write, :value 1, :process 18, :time 27796531759, :error :connect, :index 8733}
{:type :invoke, :f :read, :value nil, :process 32, :time 27818731742, :index 8740}
{:type :fail, :f :read, :value nil, :process 32, :time 27820836780, :error :connect, :index 8741}
{:type :invoke, :f :write, :value 0, :process 10, :time 27826619413, :index 8742}
{:type :fail, :f :write, :value 0, :process 10, :time 27828689321, :error :connect, :index 8744}
{:type :invoke, :f :cas, :value [0 0], :process 34, :time 27831549639, :index 8746}
{:type :fail, :f :cas, :value [0 0], :process 34, :time 27834319551, :error :connect, :index 8750}
{:type :invoke, :f :read, :value nil, :process 33, :time 27834508377, :index 8751}
{:type :fail, :f :read, :value nil, :process 33, :time 27836647437, :error :connect, :index 8753}
{:type :invoke, :f :write, :value 4, :process 39, :time 27868227020, :index 8758}
{:type :fail, :f :write, :value 4, :process 39, :time 27870023656, :error :connect, :index 8759}
{:type :invoke, :f :write, :value 2, :process 15, :time 27885535666, :index 8760}
{:type :fail, :f :write, :value 2, :process 15, :time 27887329230, :error :connect, :index 8761}
{:type :invoke, :f :cas, :value [4 2], :process 11, :time 27890258424, :index 8762}
{:type :fail, :f :cas, :value [4 2], :process 11, :time 27891987066, :error :connect, :index 8763}
{:type :invoke, :f :cas, :value [3 4], :process 10, :time 27892953261, :index 8764}
{:type :fail, :f :cas, :value [3 4], :process 10, :time 27894995868, :error :connect, :index 8765}
{:type :invoke, :f :write, :value 2, :process 37, :time 27907660088, :index 8766}
{:type :fail, :f :write, :value 2, :process 37, :time 27909665221, :error :connect, :index 8768}
{:type :invoke, :f :cas, :value [4 2], :process 39, :time 27910286645, :index 8769}
{:type :fail, :f :cas, :value [4 2], :process 39, :time 27912543363, :error :connect, :index 8771}
{:type :invoke, :f :read, :value nil, :process 36, :time 27919004238, :index 8774}
{:type :fail, :f :read, :value nil, :process 36, :time 27920886102, :error :connect, :index 8775}
{:type :invoke, :f :read, :value nil, :process 33, :time 27920916288, :index 8776}
{:type :fail, :f :read, :value nil, :process 33, :time 27922796628, :error :connect, :index 8777}
{:type :invoke, :f :write, :value 2, :process 15, :time 27946587422, :index 8780}
{:type :fail, :f :write, :value 2, :process 15, :time 27948422868, :error :connect, :index 8782}
{:type :invoke, :f :write, :value 4, :process 10, :time 27954261159, :index 8785}
{:type :fail, :f :write, :value 4, :process 10, :time 27956459139, :error :connect, :index 8787}
{:type :invoke, :f :read, :value nil, :process 18, :time 27961790602, :index 8788}
{:type :invoke, :f :read, :value nil, :process 39, :time 27962734702, :index 8789}
{:type :fail, :f :read, :value nil, :process 18, :time 27963940493, :error :connect, :index 8790}
{:type :fail, :f :read, :value nil, :process 39, :time 27964851370, :error :connect, :index 8792}
{:type :invoke, :f :write, :value 3, :process 11, :time 27965257221, :index 8793}
{:type :fail, :f :write, :value 3, :process 11, :time 27967066554, :error :connect, :index 8795}
{:type :invoke, :f :read, :value nil, :process 34, :time 27968579097, :index 8798}
{:type :fail, :f :read, :value nil, :process 34, :time 27970562442, :error :connect, :index 8802}
{:type :invoke, :f :read, :value nil, :process 32, :time 27975101920, :index 8804}
{:type :fail, :f :read, :value nil, :process 32, :time 27977165564, :error :connect, :index 8805}
{:type :invoke, :f :write, :value 1, :process 37, :time 27987924990, :index 8808}
{:type :fail, :f :write, :value 1, :process 37, :time 27989606517, :error :connect, :index 8809}
{:type :invoke, :f :read, :value nil, :process 36, :time 28062170966, :index 8833}
{:type :fail, :f :read, :value nil, :process 36, :time 28064378851, :error :connect, :index 8835}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 28071718365, :index 8836}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 28073758787, :error :connect, :index 8838}
{:type :invoke, :f :write, :value 4, :process 39, :time 28078093806, :index 8840}
{:type :fail, :f :write, :value 4, :process 39, :time 28080047611, :error :connect, :index 8841}
{:type :invoke, :f :read, :value nil, :process 15, :time 28092692507, :index 8848}
{:type :fail, :f :read, :value nil, :process 15, :time 28094413762, :error :connect, :index 8850}
{:type :invoke, :f :cas, :value [3 1], :process 18, :time 28102200045, :index 8856}
{:type :fail, :f :cas, :value [3 1], :process 18, :time 28104126175, :error :connect, :index 8857}
{:type :invoke, :f :write, :value 0, :process 33, :time 28110058252, :index 8858}
{:type :fail, :f :write, :value 0, :process 33, :time 28111688650, :error :connect, :index 8859}
{:type :invoke, :f :cas, :value [1 4], :process 11, :time 28118323857, :index 8862}
{:type :fail, :f :cas, :value [1 4], :process 11, :time 28120501402, :error :connect, :index 8863}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
