{:type :invoke, :f :write, :value 1, :process 7, :time 3402624545, :index 1172}
{:type :ok, :f :write, :value 1, :process 7, :time 3407948566, :index 1176}
{:type :invoke, :f :read, :value nil, :process 0, :time 3448073715, :index 1187}
{:type :ok, :f :read, :value 1, :process 0, :time 3453696442, :index 1189}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 3454960520, :index 1190}
{:type :ok, :f :cas, :value [1 3], :process 0, :time 3460478297, :index 1191}
{:type :invoke, :f :write, :value 4, :process 9, :time 3466047079, :index 1193}
{:type :invoke, :f :cas, :value [0 0], :process 2, :time 3467388292, :index 1194}
{:type :ok, :f :write, :value 4, :process 9, :time 3472065913, :index 1198}
{:type :fail, :f :cas, :value [0 0], :process 2, :time 3473573764, :index 1199}
{:type :invoke, :f :write, :value 4, :process 3, :time 3474843797, :index 1200}
{:type :ok, :f :write, :value 4, :process 3, :time 3479683868, :index 1203}
{:type :invoke, :f :write, :value 2, :process 0, :time 3501776212, :index 1212}
{:type :invoke, :f :read, :value nil, :process 5, :time 3507203390, :index 1213}
{:type :ok, :f :write, :value 2, :process 0, :time 3507403734, :index 1214}
{:type :ok, :f :read, :value 2, :process 5, :time 3512951174, :index 1215}
{:type :invoke, :f :read, :value nil, :process 5, :time 3563211516, :index 1231}
{:type :ok, :f :read, :value 2, :process 5, :time 3569971975, :index 1235}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 3573941551, :index 1236}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 3578767009, :index 1237}
{:type :invoke, :f :write, :value 3, :process 7, :time 3580219908, :index 1239}
{:type :ok, :f :write, :value 3, :process 7, :time 3586143762, :index 1241}
{:type :invoke, :f :read, :value nil, :process 9, :time 3603327667, :index 1244}
{:type :invoke, :f :read, :value nil, :process 3, :time 3608054455, :index 1246}
{:type :ok, :f :read, :value 3, :process 9, :time 3608289776, :index 1247}
{:type :invoke, :f :write, :value 3, :process 9, :time 3608405434, :index 1248}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 3610653647, :index 1249}
{:type :ok, :f :read, :value 3, :process 3, :time 3613458477, :index 1251}
{:type :ok, :f :write, :value 3, :process 9, :time 3615083606, :index 1252}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 3616147679, :index 1253}
{:type :invoke, :f :read, :value nil, :process 6, :time 3623595862, :index 1255}
{:type :ok, :f :read, :value 3, :process 6, :time 3629679925, :index 1257}
{:type :invoke, :f :read, :value nil, :process 4, :time 3630475041, :index 1258}
{:type :ok, :f :read, :value 3, :process 4, :time 3635928377, :index 1259}
{:type :invoke, :f :read, :value nil, :process 1, :time 3637270180, :index 1260}
{:type :invoke, :f :read, :value nil, :process 2, :time 3638836244, :index 1261}
{:type :ok, :f :read, :value 3, :process 1, :time 3641826568, :index 1262}
{:type :ok, :f :read, :value 3, :process 2, :time 3643874378, :index 1263}
{:type :invoke, :f :read, :value nil, :process 3, :time 3658690242, :index 1267}
{:type :ok, :f :read, :value 3, :process 3, :time 3663622050, :index 1269}
{:type :invoke, :f :read, :value nil, :process 5, :time 3664315921, :index 1270}
{:type :ok, :f :read, :value 3, :process 5, :time 3669296701, :index 1273}
{:type :invoke, :f :write, :value 1, :process 4, :time 3677201302, :index 1277}
{:type :ok, :f :write, :value 1, :process 4, :time 3683440714, :index 1282}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 3684427029, :index 1283}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 3689632605, :index 1286}
{:type :invoke, :f :write, :value 2, :process 7, :time 3698396356, :index 1288}
{:type :ok, :f :write, :value 2, :process 7, :time 3703182567, :index 1289}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 3703956194, :index 1291}
{:type :ok, :f :cas, :value [2 0], :process 6, :time 3708674999, :index 1294}
{:type :invoke, :f :read, :value nil, :process 4, :time 3721745799, :index 1298}
{:type :invoke, :f :read, :value nil, :process 8, :time 3725665772, :index 1301}
{:type :ok, :f :read, :value 0, :process 4, :time 3727010224, :index 1302}
{:type :invoke, :f :read, :value nil, :process 0, :time 3728889692, :index 1303}
{:type :ok, :f :read, :value 0, :process 8, :time 3730367207, :index 1304}
{:type :ok, :f :read, :value 0, :process 0, :time 3734015306, :index 1305}
{:type :invoke, :f :write, :value 0, :process 9, :time 3757339779, :index 1308}
{:type :ok, :f :write, :value 0, :process 9, :time 3762727791, :index 1309}
{:type :invoke, :f :cas, :value [0 3], :process 1, :time 3773100580, :index 1310}
{:type :ok, :f :cas, :value [0 3], :process 1, :time 3778424029, :index 1311}
{:type :invoke, :f :write, :value 3, :process 8, :time 3783631285, :index 1312}
{:type :ok, :f :write, :value 3, :process 8, :time 3790151892, :index 1314}
{:type :invoke, :f :cas, :value [2 0], :process 2, :time 3815136944, :index 1320}
{:type :invoke, :f :write, :value 2, :process 3, :time 3819891066, :index 1321}
{:type :fail, :f :cas, :value [2 0], :process 2, :time 3820097925, :index 1322}
{:type :ok, :f :write, :value 2, :process 3, :time 3824066725, :index 1323}
{:type :invoke, :f :read, :value nil, :process 5, :time 3825578842, :index 1324}
{:type :invoke, :f :write, :value 4, :process 0, :time 3833299151, :index 1327}
{:type :invoke, :f :write, :value 0, :process 7, :time 3836442020, :index 1329}
{:type :invoke, :f :write, :value 2, :process 1, :time 3836703376, :index 1330}
{:type :ok, :f :read, :value 2, :process 5, :time 3841735903, :index 1332}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 3841922760, :index 1333}
{:type :ok, :f :write, :value 0, :process 7, :time 3842326745, :index 1334}
{:type :ok, :f :write, :value 4, :process 0, :time 3842558610, :index 1335}
{:type :invoke, :f :write, :value 0, :process 7, :time 3846564304, :index 1336}
{:type :ok, :f :write, :value 0, :process 7, :time 3852117542, :index 1338}
{:type :invoke, :f :cas, :value [4 0], :process 2, :time 3853364011, :index 1339}
{:type :fail, :f :cas, :value [4 0], :process 2, :time 3859296355, :index 1341}
{:type :invoke, :f :cas, :value [0 1], :process 8, :time 3875415896, :index 1347}
{:type :ok, :f :cas, :value [0 1], :process 8, :time 3880273225, :index 1351}
{:type :invoke, :f :write, :value 1, :process 9, :time 3898003746, :index 1356}
{:type :ok, :f :write, :value 1, :process 9, :time 3903456004, :index 1357}
{:type :invoke, :f :read, :value nil, :process 7, :time 3918379205, :index 1361}
{:type :invoke, :f :write, :value 2, :process 4, :time 3922269935, :index 1362}
{:type :ok, :f :read, :value 1, :process 7, :time 3923608961, :index 1364}
{:type :ok, :f :write, :value 2, :process 4, :time 3927288995, :index 1365}
{:type :invoke, :f :read, :value nil, :process 3, :time 3962330839, :index 1369}
{:type :ok, :f :read, :value 2, :process 3, :time 3966486224, :index 1371}
{:type :invoke, :f :read, :value nil, :process 7, :time 3988985966, :index 1374}
{:type :ok, :f :read, :value 2, :process 7, :time 3995601631, :index 1376}
{:type :invoke, :f :write, :value 1, :process 5, :time 4005996732, :index 1383}
{:type :ok, :f :write, :value 1, :process 5, :time 4011202960, :index 1385}
{:type :invoke, :f :write, :value 1, :process 9, :time 4012720249, :index 1387}
{:type :invoke, :f :read, :value nil, :process 2, :time 4014557128, :index 1388}
{:type :ok, :f :write, :value 1, :process 9, :time 4018882929, :index 1390}
{:type :ok, :f :read, :value 1, :process 2, :time 4020111555, :index 1391}
{:type :invoke, :f :cas, :value [1 4], :process 7, :time 4029886124, :index 1392}
{:type :invoke, :f :write, :value 0, :process 0, :time 4030817808, :index 1393}
{:type :ok, :f :cas, :value [1 4], :process 7, :time 4034899687, :index 1394}
{:type :ok, :f :write, :value 0, :process 0, :time 4036642172, :index 1395}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 4049530816, :index 1397}
{:type :ok, :f :cas, :value [0 4], :process 8, :time 4054055331, :index 1399}
{:type :invoke, :f :write, :value 0, :process 9, :time 4087156572, :index 1404}
{:type :ok, :f :write, :value 0, :process 9, :time 4092425802, :index 1405}
{:type :invoke, :f :cas, :value [3 4], :process 5, :time 4105462382, :index 1409}
{:type :fail, :f :cas, :value [3 4], :process 5, :time 4111454812, :index 1413}
{:type :invoke, :f :read, :value nil, :process 4, :time 4118543408, :index 1414}
{:type :ok, :f :read, :value 0, :process 4, :time 4123405544, :index 1415}
{:type :invoke, :f :write, :value 3, :process 8, :time 4131325812, :index 1417}
{:type :invoke, :f :write, :value 3, :process 9, :time 4133687988, :index 1418}
{:type :ok, :f :write, :value 3, :process 8, :time 4136019163, :index 1420}
{:type :ok, :f :write, :value 3, :process 9, :time 4138493763, :index 1421}
{:type :invoke, :f :write, :value 2, :process 3, :time 4151743684, :index 1423}
{:type :ok, :f :write, :value 2, :process 3, :time 4155811407, :index 1426}
{:type :invoke, :f :read, :value nil, :process 2, :time 4156645375, :index 1427}
{:type :invoke, :f :read, :value nil, :process 0, :time 4161907971, :index 1429}
{:type :ok, :f :read, :value 2, :process 2, :time 4162506990, :index 1430}
{:type :ok, :f :read, :value 2, :process 0, :time 4167333139, :index 1432}
{:type :invoke, :f :cas, :value [4 2], :process 3, :time 4191077832, :index 1438}
{:type :fail, :f :cas, :value [4 2], :process 3, :time 4196361622, :index 1439}
{:type :invoke, :f :write, :value 4, :process 7, :time 4209184845, :index 1441}
{:type :ok, :f :write, :value 4, :process 7, :time 4215408422, :index 1442}
{:type :ok, :f :write, :value 2, :process 1, :time 4235473641, :index 1444}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 4239220193, :index 1445}
{:type :invoke, :f :cas, :value [4 3], :process 9, :time 4245772360, :index 1451}
{:type :ok, :f :cas, :value [4 3], :process 9, :time 4251324279, :index 1454}
{:type :invoke, :f :write, :value 1, :process 0, :time 4254602925, :index 1456}
{:type :ok, :f :write, :value 1, :process 0, :time 4259605183, :index 1457}
{:type :invoke, :f :read, :value nil, :process 6, :time 4266527980, :index 1458}
{:type :invoke, :f :cas, :value [0 0], :process 2, :time 4268763815, :index 1459}
{:type :ok, :f :read, :value 1, :process 6, :time 4271495767, :index 1460}
{:type :fail, :f :cas, :value [0 0], :process 2, :time 4274958745, :index 1461}
{:type :invoke, :f :write, :value 4, :process 5, :time 4281705475, :index 1463}
{:type :ok, :f :write, :value 4, :process 5, :time 4287262572, :index 1465}
{:type :invoke, :f :read, :value nil, :process 9, :time 4294583589, :index 1466}
{:type :ok, :f :read, :value 4, :process 9, :time 4301144671, :index 1469}
{:type :invoke, :f :cas, :value [2 3], :process 2, :time 4314225538, :index 1475}
{:type :invoke, :f :write, :value 0, :process 4, :time 4316670286, :index 1476}
{:type :invoke, :f :write, :value 4, :process 8, :time 4317274399, :index 1477}
{:type :fail, :f :cas, :value [2 3], :process 2, :time 4319398526, :index 1479}
{:type :ok, :f :write, :value 0, :process 4, :time 4322380977, :index 1480}
{:type :ok, :f :write, :value 4, :process 8, :time 4322546686, :index 1481}
{:type :invoke, :f :read, :value nil, :process 3, :time 4328629104, :index 1482}
{:type :ok, :f :read, :value 4, :process 3, :time 4333108635, :index 1484}
{:type :invoke, :f :cas, :value [3 4], :process 2, :time 4333708522, :index 1485}
{:type :fail, :f :cas, :value [3 4], :process 2, :time 4338856773, :index 1488}
{:type :invoke, :f :write, :value 0, :process 1, :time 4376733254, :index 1494}
{:type :invoke, :f :read, :value nil, :process 0, :time 4376898105, :index 1495}
{:type :invoke, :f :write, :value 3, :process 7, :time 4380708409, :index 1496}
{:type :ok, :f :read, :value 4, :process 0, :time 4382253242, :index 1497}
{:type :ok, :f :write, :value 0, :process 1, :time 4382591977, :index 1498}
{:type :ok, :f :write, :value 3, :process 7, :time 4386501432, :index 1500}
{:type :invoke, :f :cas, :value [4 0], :process 2, :time 4396122059, :index 1502}
{:type :fail, :f :cas, :value [4 0], :process 2, :time 4401548764, :index 1504}
{:type :invoke, :f :read, :value nil, :process 1, :time 4412834369, :index 1510}
{:type :invoke, :f :read, :value nil, :process 4, :time 4415662459, :index 1512}
{:type :ok, :f :read, :value 3, :process 1, :time 4418113695, :index 1513}
{:type :ok, :f :read, :value 3, :process 4, :time 4420991349, :index 1517}
{:type :invoke, :f :write, :value 0, :process 1, :time 4421374096, :index 1518}
{:type :ok, :f :write, :value 0, :process 1, :time 4425858450, :index 1521}
{:type :invoke, :f :cas, :value [2 3], :process 5, :time 4434521378, :index 1523}
{:type :invoke, :f :write, :value 2, :process 8, :time 4434812383, :index 1524}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 4439812783, :index 1527}
{:type :ok, :f :write, :value 2, :process 8, :time 4440924102, :index 1528}
{:type :fail, :f :cas, :value [2 3], :process 5, :time 4440980792, :index 1529}
{:type :invoke, :f :read, :value nil, :process 0, :time 4442549686, :index 1530}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 4444910698, :index 1532}
{:type :ok, :f :read, :value 2, :process 0, :time 4447955638, :index 1533}
{:type :invoke, :f :write, :value 0, :process 1, :time 4450039549, :index 1534}
{:type :invoke, :f :read, :value nil, :process 6, :time 4451779147, :index 1535}
{:type :ok, :f :write, :value 0, :process 1, :time 4455298854, :index 1536}
{:type :ok, :f :read, :value 0, :process 6, :time 4456582284, :index 1537}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 4460368443, :index 1538}
{:type :ok, :f :cas, :value [0 3], :process 3, :time 4464503930, :index 1539}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 4466765420, :index 1540}
{:type :fail, :f :cas, :value [1 2], :process 3, :time 4471638581, :index 1541}
{:type :invoke, :f :cas, :value [0 2], :process 2, :time 4479825785, :index 1542}
{:type :invoke, :f :cas, :value [4 2], :process 9, :time 4480446054, :index 1543}
{:type :fail, :f :cas, :value [0 2], :process 2, :time 4485660947, :index 1544}
{:type :fail, :f :cas, :value [4 2], :process 9, :time 4486251265, :index 1545}
{:type :invoke, :f :read, :value nil, :process 6, :time 4500833684, :index 1546}
{:type :ok, :f :read, :value 3, :process 6, :time 4507327843, :index 1547}
{:type :invoke, :f :write, :value 4, :process 7, :time 4516167289, :index 1548}
{:type :ok, :f :write, :value 4, :process 7, :time 4522203705, :index 1550}
{:type :invoke, :f :read, :value nil, :process 8, :time 4535188379, :index 1557}
{:type :ok, :f :read, :value 4, :process 8, :time 4540540474, :index 1561}
{:type :invoke, :f :cas, :value [2 0], :process 1, :time 4568560631, :index 1566}
{:type :fail, :f :cas, :value [2 0], :process 1, :time 4574777820, :index 1569}
{:type :invoke, :f :cas, :value [2 1], :process 0, :time 4582207207, :index 1570}
{:type :invoke, :f :write, :value 0, :process 4, :time 4586258295, :index 1571}
{:type :fail, :f :cas, :value [2 1], :process 0, :time 4588840952, :index 1574}
{:type :ok, :f :write, :value 0, :process 4, :time 4592482267, :index 1575}
{:type :invoke, :f :cas, :value [0 0], :process 5, :time 4614223942, :index 1581}
{:type :ok, :f :cas, :value [0 0], :process 5, :time 4620555088, :index 1584}
{:type :invoke, :f :read, :value nil, :process 9, :time 4637509892, :index 1586}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 4640905027, :index 1587}
{:type :ok, :f :read, :value 0, :process 9, :time 4642625422, :index 1589}
{:type :fail, :f :cas, :value [1 2], :process 3, :time 4645957053, :index 1590}
{:type :invoke, :f :read, :value nil, :process 2, :time 4654986567, :index 1595}
{:type :ok, :f :read, :value 0, :process 2, :time 4660501859, :index 1597}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
