{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :invoke, :f :read, :value nil, :process 23, :time 33508224826, :index 5626}
{:type :ok, :f :read, :value nil, :process 23, :time 33514593882, :index 5629}
{:type :invoke, :f :read, :value nil, :process 23, :time 33613846107, :index 5653}
{:type :ok, :f :read, :value nil, :process 23, :time 33619011497, :index 5656}
{:type :invoke, :f :cas, :value [4 1], :process 28, :time 33637005544, :index 5663}
{:type :fail, :f :cas, :value [4 1], :process 28, :time 33642589725, :error :not-found, :index 5665}
{:type :invoke, :f :write, :value 2, :process 4, :time 33659132696, :index 5670}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 33661673728, :index 5672}
{:type :ok, :f :write, :value 2, :process 4, :time 33667320358, :index 5674}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 33668901435, :index 5676}
{:type :invoke, :f :read, :value nil, :process 21, :time 33677663558, :index 5678}
{:type :invoke, :f :read, :value nil, :process 40, :time 33679789076, :index 5679}
{:type :ok, :f :read, :value 2, :process 21, :time 33682454425, :index 5680}
{:type :ok, :f :read, :value 2, :process 40, :time 33684784153, :index 5681}
{:type :invoke, :f :write, :value 1, :process 23, :time 33731263852, :index 5688}
{:type :invoke, :f :cas, :value [4 3], :process 21, :time 33735713772, :index 5689}
{:type :ok, :f :write, :value 1, :process 23, :time 33737009386, :index 5691}
{:type :fail, :f :cas, :value [4 3], :process 21, :time 33741893384, :index 5692}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 33747603726, :index 5695}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 33753615119, :index 5698}
{:type :invoke, :f :read, :value nil, :process 23, :time 33759272726, :index 5700}
{:type :invoke, :f :write, :value 2, :process 6, :time 33762188709, :index 5701}
{:type :ok, :f :read, :value 1, :process 23, :time 33765025456, :index 5702}
{:type :ok, :f :write, :value 2, :process 6, :time 33767116090, :index 5703}
{:type :invoke, :f :write, :value 0, :process 40, :time 33774051815, :index 5705}
{:type :ok, :f :write, :value 0, :process 40, :time 33779121964, :index 5707}
{:type :invoke, :f :read, :value nil, :process 45, :time 33779077965, :index 5708}
{:type :ok, :f :read, :value 0, :process 45, :time 33783202892, :index 5709}
{:type :invoke, :f :write, :value 1, :process 28, :time 33787848599, :index 5710}
{:type :ok, :f :write, :value 1, :process 28, :time 33793850086, :index 5712}
{:type :invoke, :f :cas, :value [4 4], :process 49, :time 33833067733, :index 5720}
{:type :fail, :f :cas, :value [4 4], :process 49, :time 33838824909, :index 5721}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 33851380610, :index 5724}
{:type :ok, :f :cas, :value [1 2], :process 6, :time 33856812620, :index 5725}
{:type :invoke, :f :cas, :value [0 1], :process 28, :time 33862040272, :index 5726}
{:type :fail, :f :cas, :value [0 1], :process 28, :time 33868027104, :index 5729}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 33872890199, :index 5734}
{:type :fail, :f :cas, :value [1 4], :process 4, :time 33879237367, :index 5737}
{:type :invoke, :f :write, :value 0, :process 62, :time 33885108951, :index 5740}
{:type :ok, :f :write, :value 0, :process 62, :time 33890262293, :index 5745}
{:type :invoke, :f :read, :value nil, :process 21, :time 33893190518, :index 5746}
{:type :invoke, :f :read, :value nil, :process 40, :time 33895358112, :index 5747}
{:type :ok, :f :read, :value 0, :process 21, :time 33897912262, :index 5749}
{:type :invoke, :f :read, :value nil, :process 23, :time 33899288705, :index 5750}
{:type :ok, :f :read, :value 0, :process 40, :time 33900431970, :index 5751}
{:type :invoke, :f :read, :value nil, :process 49, :time 33926082447, :index 5754}
{:type :ok, :f :read, :value 0, :process 49, :time 33931394577, :index 5756}
{:type :invoke, :f :read, :value nil, :process 40, :time 33935696651, :index 5757}
{:type :ok, :f :read, :value 0, :process 40, :time 33941582104, :index 5760}
{:type :invoke, :f :write, :value 3, :process 45, :time 33949473060, :index 5762}
{:type :ok, :f :write, :value 3, :process 45, :time 33953848304, :index 5763}
{:type :invoke, :f :write, :value 0, :process 6, :time 33982090689, :index 5769}
{:type :ok, :f :write, :value 0, :process 6, :time 33987067741, :index 5770}
{:type :invoke, :f :cas, :value [4 1], :process 28, :time 33990293354, :index 5771}
{:type :invoke, :f :cas, :value [0 1], :process 40, :time 33995918603, :index 5773}
{:type :ok, :f :cas, :value [0 1], :process 40, :time 34001760134, :index 5775}
{:type :invoke, :f :write, :value 3, :process 49, :time 34008637188, :index 5778}
{:type :invoke, :f :write, :value 3, :process 45, :time 34009120871, :index 5779}
{:type :ok, :f :write, :value 3, :process 49, :time 34014672983, :index 5780}
{:type :ok, :f :write, :value 3, :process 45, :time 34015027232, :index 5781}
{:type :ok, :f :read, :value 3, :process 23, :time 34027523168, :index 5783}
{:type :fail, :f :cas, :value [4 1], :process 28, :time 34028560603, :index 5786}
{:type :invoke, :f :write, :value 1, :process 6, :time 34029334270, :index 5787}
{:type :invoke, :f :read, :value nil, :process 47, :time 34029452919, :index 5788}
{:type :ok, :f :write, :value 1, :process 6, :time 34034676943, :index 5791}
{:type :invoke, :f :write, :value 3, :process 28, :time 34060795830, :index 5796}
{:type :invoke, :f :cas, :value [0 1], :process 45, :time 34062303898, :index 5797}
{:type :ok, :f :write, :value 3, :process 28, :time 34067204216, :index 5799}
{:type :invoke, :f :write, :value 4, :process 62, :time 34067526401, :index 5800}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 34067514894, :index 5801}
{:type :fail, :f :cas, :value [0 1], :process 45, :time 34068600714, :index 5802}
{:type :invoke, :f :cas, :value [2 4], :process 21, :time 34069192133, :index 5803}
{:type :ok, :f :read, :value 3, :process 47, :time 34069521875, :index 5804}
{:type :ok, :f :cas, :value [3 0], :process 4, :time 34073072297, :index 5807}
{:type :ok, :f :write, :value 4, :process 62, :time 34073658615, :index 5808}
{:type :fail, :f :cas, :value [2 4], :process 21, :time 34076395743, :index 5809}
{:type :invoke, :f :write, :value 2, :process 47, :time 34080765462, :index 5811}
{:type :ok, :f :write, :value 2, :process 47, :time 34086210726, :index 5813}
{:type :invoke, :f :read, :value nil, :process 23, :time 34105841496, :index 5819}
{:type :ok, :f :read, :value 2, :process 23, :time 34111420454, :index 5821}
{:type :invoke, :f :cas, :value [3 0], :process 6, :time 34111938359, :index 5822}
{:type :fail, :f :cas, :value [3 0], :process 6, :time 34118196830, :index 5825}
{:type :invoke, :f :read, :value nil, :process 40, :time 34140023322, :index 5834}
{:type :ok, :f :read, :value 2, :process 40, :time 34145351559, :index 5836}
{:type :invoke, :f :write, :value 0, :process 21, :time 34156645684, :index 5839}
{:type :ok, :f :write, :value 0, :process 21, :time 34162070161, :index 5840}
{:type :invoke, :f :write, :value 4, :process 4, :time 34170339446, :index 5842}
{:type :invoke, :f :write, :value 3, :process 62, :time 34171892406, :index 5843}
{:type :ok, :f :write, :value 4, :process 4, :time 34176163744, :index 5845}
{:type :ok, :f :write, :value 3, :process 62, :time 34176990095, :index 5846}
{:type :invoke, :f :read, :value nil, :process 6, :time 34179469390, :index 5847}
{:type :invoke, :f :cas, :value [1 3], :process 62, :time 34183192305, :index 5849}
{:type :ok, :f :read, :value 3, :process 6, :time 34184868612, :index 5850}
{:type :invoke, :f :write, :value 4, :process 28, :time 34186527363, :index 5851}
{:type :invoke, :f :read, :value nil, :process 49, :time 34187936151, :index 5853}
{:type :fail, :f :cas, :value [1 3], :process 62, :time 34189618961, :index 5854}
{:type :ok, :f :write, :value 4, :process 28, :time 34192961415, :index 5856}
{:type :ok, :f :read, :value 4, :process 49, :time 34193683296, :index 5857}
{:type :invoke, :f :read, :value nil, :process 23, :time 34194673195, :index 5858}
{:type :invoke, :f :read, :value nil, :process 28, :time 34196230956, :index 5860}
{:type :ok, :f :read, :value 4, :process 23, :time 34199622279, :index 5862}
{:type :ok, :f :read, :value 4, :process 28, :time 34201730129, :index 5864}
{:type :invoke, :f :cas, :value [4 3], :process 62, :time 34215872277, :index 5865}
{:type :ok, :f :cas, :value [4 3], :process 62, :time 34221406995, :index 5866}
{:type :invoke, :f :write, :value 4, :process 45, :time 34222873595, :index 5867}
{:type :invoke, :f :read, :value nil, :process 62, :time 34224673074, :index 5868}
{:type :ok, :f :write, :value 4, :process 45, :time 34227092591, :index 5869}
{:type :ok, :f :read, :value 4, :process 62, :time 34231874835, :index 5872}
{:type :invoke, :f :read, :value nil, :process 28, :time 34235961881, :index 5876}
{:type :ok, :f :read, :value 4, :process 28, :time 34241445672, :index 5878}
{:type :invoke, :f :read, :value nil, :process 28, :time 34247700264, :index 5881}
{:type :ok, :f :read, :value 4, :process 28, :time 34252785229, :index 5883}
{:type :invoke, :f :read, :value nil, :process 62, :time 34268151336, :index 5887}
{:type :ok, :f :read, :value 4, :process 62, :time 34273827106, :index 5890}
{:type :invoke, :f :write, :value 0, :process 49, :time 34274920759, :index 5892}
{:type :invoke, :f :read, :value nil, :process 47, :time 34278475589, :index 5894}
{:type :ok, :f :write, :value 0, :process 49, :time 34279875399, :index 5895}
{:type :ok, :f :read, :value 0, :process 47, :time 34282929078, :index 5897}
{:type :invoke, :f :read, :value nil, :process 4, :time 34313415300, :index 5907}
{:type :ok, :f :read, :value 0, :process 4, :time 34319177814, :index 5910}
{:type :invoke, :f :read, :value nil, :process 47, :time 34331213637, :index 5912}
{:type :invoke, :f :cas, :value [4 0], :process 40, :time 34336619036, :index 5917}
{:type :ok, :f :read, :value 0, :process 47, :time 34336971599, :index 5918}
{:type :invoke, :f :write, :value 2, :process 6, :time 34342206591, :index 5923}
{:type :fail, :f :cas, :value [4 0], :process 40, :time 34342592212, :index 5924}
{:type :ok, :f :write, :value 2, :process 6, :time 34346806340, :index 5926}
{:type :invoke, :f :cas, :value [1 2], :process 21, :time 34347328033, :index 5927}
{:type :fail, :f :cas, :value [1 2], :process 21, :time 34352726020, :index 5928}
{:type :invoke, :f :cas, :value [3 0], :process 21, :time 34353994276, :index 5929}
{:type :fail, :f :cas, :value [3 0], :process 21, :time 34359333513, :index 5931}
{:type :invoke, :f :read, :value nil, :process 49, :time 34360166147, :index 5932}
{:type :invoke, :f :read, :value nil, :process 23, :time 34365880808, :index 5935}
{:type :ok, :f :read, :value 2, :process 49, :time 34366117285, :index 5936}
{:type :ok, :f :read, :value 2, :process 23, :time 34371210151, :index 5938}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 34383427968, :index 5939}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 34388458056, :index 5940}
{:type :invoke, :f :cas, :value [2 3], :process 45, :time 34390358174, :index 5941}
{:type :invoke, :f :write, :value 0, :process 28, :time 34393042545, :index 5942}
{:type :ok, :f :cas, :value [2 3], :process 45, :time 34395495061, :index 5943}
{:type :ok, :f :write, :value 0, :process 28, :time 34398415074, :index 5945}
{:type :invoke, :f :write, :value 2, :process 40, :time 34407741959, :index 5948}
{:type :ok, :f :write, :value 2, :process 40, :time 34413702069, :index 5951}
{:type :invoke, :f :write, :value 0, :process 23, :time 34415467744, :index 5953}
{:type :invoke, :f :write, :value 2, :process 47, :time 34418227798, :index 5954}
{:type :ok, :f :write, :value 0, :process 23, :time 34420345005, :index 5955}
{:type :ok, :f :write, :value 2, :process 47, :time 34423267820, :index 5956}
{:type :invoke, :f :read, :value nil, :process 23, :time 34431598122, :index 5957}
{:type :ok, :f :read, :value 2, :process 23, :time 34436635787, :index 5958}
{:type :invoke, :f :cas, :value [0 2], :process 28, :time 34438674673, :index 5959}
{:type :fail, :f :cas, :value [0 2], :process 28, :time 34445521719, :index 5961}
{:type :invoke, :f :read, :value nil, :process 62, :time 34448129063, :index 5964}
{:type :invoke, :f :cas, :value [0 3], :process 47, :time 34452530540, :index 5965}
{:type :ok, :f :read, :value 2, :process 62, :time 34452968519, :index 5966}
{:type :invoke, :f :write, :value 2, :process 6, :time 34456086354, :index 5968}
{:type :fail, :f :cas, :value [0 3], :process 47, :time 34458614659, :index 5969}
{:type :invoke, :f :cas, :value [4 4], :process 45, :time 34471758420, :index 5970}
{:type :fail, :f :cas, :value [4 4], :process 45, :time 34476195329, :index 5971}
{:type :invoke, :f :cas, :value [2 0], :process 49, :time 34486361460, :index 5972}
{:type :invoke, :f :read, :value nil, :process 21, :time 34486606057, :index 5973}
{:type :invoke, :f :read, :value nil, :process 4, :time 34502727878, :index 5977}
{:type :invoke, :f :cas, :value [4 2], :process 28, :time 34519790091, :index 5979}
{:type :fail, :f :cas, :value [4 2], :process 28, :time 34525438489, :index 5981}
{:type :invoke, :f :cas, :value [2 1], :process 62, :time 34547239736, :index 5984}
{:type :ok, :f :cas, :value [2 1], :process 62, :time 34553023814, :index 5986}
{:type :invoke, :f :read, :value nil, :process 47, :time 34557893747, :index 5987}
{:type :ok, :f :read, :value 1, :process 47, :time 34563275526, :index 5988}
{:type :invoke, :f :read, :value nil, :process 40, :time 34578947454, :index 5989}
{:type :ok, :f :read, :value 1, :process 40, :time 34583685359, :index 5991}
{:type :invoke, :f :write, :value 0, :process 23, :time 34589899506, :index 5993}
{:type :ok, :f :write, :value 0, :process 23, :time 34594554185, :index 5994}
{:type :invoke, :f :write, :value 0, :process 45, :time 34610468228, :index 5998}
{:type :ok, :f :read, :value 0, :process 4, :time 34613101832, :index 5999}
{:type :fail, :f :cas, :value [2 0], :process 49, :time 34613823589, :index 6002}
{:type :ok, :f :write, :value 0, :process 45, :time 34614827220, :index 6004}
{:type :invoke, :f :write, :value 4, :process 23, :time 34652817217, :index 6008}
{:type :invoke, :f :write, :value 1, :process 28, :time 34657690858, :index 6010}
{:type :ok, :f :write, :value 4, :process 23, :time 34657966588, :index 6011}
{:type :ok, :f :write, :value 1, :process 28, :time 34663009524, :index 6012}
{:type :invoke, :f :write, :value 0, :process 45, :time 34671072802, :index 6013}
{:type :ok, :f :write, :value 0, :process 45, :time 34676115235, :index 6014}
{:type :invoke, :f :read, :value nil, :process 40, :time 34681922476, :index 6015}
{:type :ok, :f :read, :value 0, :process 40, :time 34687188280, :index 6018}
{:type :invoke, :f :cas, :value [4 0], :process 49, :time 34687171988, :index 6019}
{:type :fail, :f :cas, :value [4 0], :process 49, :time 34692883956, :index 6022}
{:type :invoke, :f :read, :value nil, :process 4, :time 34694102285, :index 6023}
{:type :ok, :f :read, :value 0, :process 4, :time 34699104837, :index 6024}
{:type :invoke, :f :write, :value 4, :process 45, :time 34699377440, :index 6025}
{:type :ok, :f :write, :value 4, :process 45, :time 34704541801, :index 6027}
{:type :invoke, :f :read, :value nil, :process 47, :time 34714539343, :index 6031}
{:type :ok, :f :read, :value 4, :process 47, :time 34719889473, :index 6034}
{:type :invoke, :f :cas, :value [1 4], :process 62, :time 34722281904, :index 6035}
{:type :invoke, :f :write, :value 4, :process 40, :time 34723469028, :index 6036}
{:type :fail, :f :cas, :value [1 4], :process 62, :time 34728745152, :index 6038}
{:type :ok, :f :write, :value 4, :process 40, :time 34729063413, :index 6039}
{:type :invoke, :f :write, :value 4, :process 28, :time 34738275909, :index 6041}
{:type :ok, :f :write, :value 4, :process 28, :time 34744876080, :index 6045}
{:type :invoke, :f :cas, :value [2 1], :process 23, :time 34790246259, :index 6048}
{:type :fail, :f :cas, :value [2 1], :process 23, :time 34795569872, :index 6050}
{:type :ok, :f :write, :value 2, :process 6, :time 34919599160, :index 6093}
{:type :ok, :f :read, :value 2, :process 21, :time 34919657852, :index 6094}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
