{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :invoke, :f :read, :value nil, :process 15, :time 58614475642, :index 20854}
{:type :fail, :f :read, :value nil, :process 15, :time 58616393384, :error :connect, :index 20856}
{:type :invoke, :f :write, :value 1, :process 34, :time 58626866597, :index 20859}
{:type :fail, :f :write, :value 1, :process 34, :time 58628821649, :error :connect, :index 20860}
{:type :invoke, :f :write, :value 0, :process 11, :time 58650327129, :index 20868}
{:type :fail, :f :write, :value 0, :process 11, :time 58652072230, :error :connect, :index 20870}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 58675467931, :index 20885}
{:type :fail, :f :cas, :value [0 0], :process 36, :time 58677234654, :error :connect, :index 20886}
{:type :invoke, :f :cas, :value [2 0], :process 34, :time 58683078726, :index 20889}
{:type :fail, :f :cas, :value [2 0], :process 34, :time 58684849675, :error :connect, :index 20890}
{:type :invoke, :f :cas, :value [2 2], :process 39, :time 58687654268, :index 20891}
{:type :invoke, :f :write, :value 1, :process 32, :time 58689234396, :index 20892}
{:type :fail, :f :cas, :value [2 2], :process 39, :time 58689567523, :error :connect, :index 20893}
{:type :fail, :f :write, :value 1, :process 32, :time 58691228570, :error :connect, :index 20894}
{:type :invoke, :f :write, :value 1, :process 33, :time 58703469879, :index 20897}
{:type :fail, :f :write, :value 1, :process 33, :time 58705323492, :error :connect, :index 20898}
{:type :invoke, :f :write, :value 2, :process 39, :time 58738837648, :index 20907}
{:type :invoke, :f :write, :value 3, :process 11, :time 58740337720, :index 20908}
{:type :fail, :f :write, :value 2, :process 39, :time 58741002175, :error :connect, :index 20909}
{:type :fail, :f :write, :value 3, :process 11, :time 58742122095, :error :connect, :index 20910}
{:type :invoke, :f :cas, :value [4 0], :process 33, :time 58748619902, :index 20913}
{:type :fail, :f :cas, :value [4 0], :process 33, :time 58750277121, :error :connect, :index 20914}
{:type :invoke, :f :write, :value 4, :process 15, :time 58790658683, :index 20926}
{:type :fail, :f :write, :value 4, :process 15, :time 58792480900, :error :connect, :index 20928}
{:type :invoke, :f :read, :value nil, :process 11, :time 58800380218, :index 20933}
{:type :fail, :f :read, :value nil, :process 11, :time 58802269756, :error :connect, :index 20934}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 58802328003, :index 20935}
{:type :invoke, :f :cas, :value [0 0], :process 37, :time 58803017128, :index 20936}
{:type :fail, :f :cas, :value [4 4], :process 10, :time 58804217122, :error :connect, :index 20937}
{:type :fail, :f :cas, :value [0 0], :process 37, :time 58804841515, :error :connect, :index 20938}
{:type :invoke, :f :read, :value nil, :process 39, :time 58808268777, :index 20941}
{:type :fail, :f :read, :value nil, :process 39, :time 58810135598, :error :connect, :index 20942}
{:type :invoke, :f :cas, :value [4 2], :process 34, :time 58829116096, :index 20949}
{:type :fail, :f :cas, :value [4 2], :process 34, :time 58830936104, :error :connect, :index 20950}
{:type :invoke, :f :read, :value nil, :process 36, :time 58857510152, :index 20955}
{:type :fail, :f :read, :value nil, :process 36, :time 58859355520, :error :connect, :index 20956}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 58876749908, :index 20959}
{:type :invoke, :f :cas, :value [4 2], :process 32, :time 58877494486, :index 20960}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 58878665682, :error :connect, :index 20962}
{:type :fail, :f :cas, :value [4 2], :process 32, :time 58879679689, :error :connect, :index 20963}
{:type :invoke, :f :write, :value 3, :process 33, :time 58882561449, :index 20966}
{:type :fail, :f :write, :value 3, :process 33, :time 58884591620, :error :connect, :index 20968}
{:type :invoke, :f :cas, :value [3 1], :process 11, :time 58915542873, :index 20977}
{:type :fail, :f :cas, :value [3 1], :process 11, :time 58917348184, :error :connect, :index 20978}
{:type :invoke, :f :write, :value 1, :process 36, :time 58944618886, :index 20983}
{:type :invoke, :f :cas, :value [3 3], :process 37, :time 58946132365, :index 20984}
{:type :fail, :f :write, :value 1, :process 36, :time 58946804043, :error :connect, :index 20985}
{:type :fail, :f :cas, :value [3 3], :process 37, :time 58948163609, :error :connect, :index 20986}
{:type :invoke, :f :read, :value nil, :process 39, :time 58953400120, :index 20989}
{:type :fail, :f :read, :value nil, :process 39, :time 58955546762, :error :connect, :index 20991}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
{:type :invoke, :f :read, :value nil, :process 18, :time 58971524014, :index 21000}
{:type :fail, :f :read, :value nil, :process 18, :time 58973413126, :error :connect, :index 21001}
{:type :invoke, :f :cas, :value [2 3], :process 33, :time 58983881469, :index 21005}
{:type :invoke, :f :read, :value nil, :process 32, :time 58983878062, :index 21007}
{:type :invoke, :f :cas, :value [4 2], :process 34, :time 58984754334, :index 21008}
{:type :fail, :f :cas, :value [2 3], :process 33, :time 58985905411, :error :connect, :index 21009}
{:type :fail, :f :read, :value nil, :process 32, :time 58986207261, :error :connect, :index 21010}
{:type :fail, :f :cas, :value [4 2], :process 34, :time 58986913785, :error :connect, :index 21011}
{:type :invoke, :f :read, :value nil, :process 10, :time 58994485080, :index 21012}
{:type :fail, :f :read, :value nil, :process 10, :time 58996385050, :error :connect, :index 21013}
{:type :invoke, :f :read, :value nil, :process 32, :time 59014443613, :index 21017}
{:type :fail, :f :read, :value nil, :process 32, :time 59016381862, :error :connect, :index 21019}
{:type :invoke, :f :read, :value nil, :process 36, :time 59032082061, :index 21023}
{:type :fail, :f :read, :value nil, :process 36, :time 59034013158, :error :connect, :index 21025}
{:type :invoke, :f :write, :value 1, :process 39, :time 59048894766, :index 21029}
{:type :fail, :f :write, :value 1, :process 39, :time 59050585998, :error :connect, :index 21031}
{:type :invoke, :f :read, :value nil, :process 37, :time 59053447716, :index 21036}
{:type :fail, :f :read, :value nil, :process 37, :time 59055305144, :error :connect, :index 21037}
{:type :invoke, :f :cas, :value [2 0], :process 11, :time 59067616702, :index 21042}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 59068680558, :index 21043}
{:type :fail, :f :cas, :value [2 0], :process 11, :time 59069324309, :error :connect, :index 21044}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 59070418356, :error :connect, :index 21045}
{:type :invoke, :f :read, :value nil, :process 15, :time 59075965403, :index 21046}
{:type :fail, :f :read, :value nil, :process 15, :time 59078064342, :error :connect, :index 21047}
{:type :invoke, :f :cas, :value [0 4], :process 11, :time 59091571184, :index 21050}
{:type :fail, :f :cas, :value [0 4], :process 11, :time 59093237749, :error :connect, :index 21051}
{:type :invoke, :f :read, :value nil, :process 34, :time 59094189609, :index 21052}
{:type :invoke, :f :read, :value nil, :process 10, :time 59094659568, :index 21053}
{:type :fail, :f :read, :value nil, :process 34, :time 59095813514, :error :connect, :index 21054}
{:type :fail, :f :read, :value nil, :process 10, :time 59096567954, :error :connect, :index 21055}
{:type :invoke, :f :read, :value nil, :process 33, :time 59103192618, :index 21058}
{:type :fail, :f :read, :value nil, :process 33, :time 59105254007, :error :connect, :index 21059}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 59107819498, :index 21061}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 59109884142, :error :connect, :index 21063}
{:type :invoke, :f :write, :value 1, :process 11, :time 59118500086, :index 21064}
{:type :fail, :f :write, :value 1, :process 11, :time 59120606004, :error :connect, :index 21065}
{:type :invoke, :f :write, :value 3, :process 15, :time 59133328724, :index 21068}
{:type :fail, :f :write, :value 3, :process 15, :time 59135621694, :error :connect, :index 21071}
{:type :invoke, :f :cas, :value [0 0], :process 37, :time 59143567162, :index 21072}
{:type :fail, :f :cas, :value [0 0], :process 37, :time 59145488939, :error :connect, :index 21073}
{:type :invoke, :f :write, :value 0, :process 32, :time 59151642029, :index 21076}
{:type :fail, :f :write, :value 0, :process 32, :time 59153452403, :error :connect, :index 21077}
{:type :invoke, :f :write, :value 4, :process 37, :time 59153755877, :index 21078}
{:type :fail, :f :write, :value 4, :process 37, :time 59155580915, :error :connect, :index 21079}
{:type :invoke, :f :write, :value 2, :process 10, :time 59178145992, :index 21082}
{:type :fail, :f :write, :value 2, :process 10, :time 59180298279, :error :connect, :index 21083}
{:type :invoke, :f :read, :value nil, :process 39, :time 59194110178, :index 21092}
{:type :fail, :f :read, :value nil, :process 39, :time 59196149317, :error :connect, :index 21093}
{:type :invoke, :f :read, :value nil, :process 36, :time 59204279384, :index 21094}
{:type :fail, :f :read, :value nil, :process 36, :time 59206331734, :error :connect, :index 21095}
{:type :invoke, :f :read, :value nil, :process 39, :time 59216409700, :index 21098}
{:type :fail, :f :read, :value nil, :process 39, :time 59218212225, :error :connect, :index 21099}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 59221887377, :index 21101}
{:type :fail, :f :cas, :value [2 3], :process 11, :time 59223764357, :error :connect, :index 21103}
{:type :invoke, :f :read, :value nil, :process 15, :time 59239907883, :index 21104}
{:type :fail, :f :read, :value nil, :process 15, :time 59241795148, :error :connect, :index 21105}
{:type :invoke, :f :read, :value nil, :process 10, :time 59246558762, :index 21106}
{:type :fail, :f :read, :value nil, :process 10, :time 59248695930, :error :connect, :index 21107}
{:type :invoke, :f :write, :value 3, :process 18, :time 59248694061, :index 21108}
{:type :fail, :f :write, :value 3, :process 18, :time 59250874486, :error :connect, :index 21109}
{:type :invoke, :f :read, :value nil, :process 15, :time 59254054230, :index 21110}
{:type :fail, :f :read, :value nil, :process 15, :time 59255907515, :error :connect, :index 21113}
{:type :invoke, :f :cas, :value [4 2], :process 33, :time 59278496685, :index 21118}
{:type :fail, :f :cas, :value [4 2], :process 33, :time 59280415061, :error :connect, :index 21119}
{:type :invoke, :f :cas, :value [2 4], :process 33, :time 59284685974, :index 21120}
{:type :fail, :f :cas, :value [2 4], :process 33, :time 59286770194, :error :connect, :index 21121}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 59287980850, :index 21122}
{:type :fail, :f :cas, :value [2 3], :process 11, :time 59289672525, :error :connect, :index 21123}
{:type :invoke, :f :read, :value nil, :process 34, :time 59292079628, :index 21125}
{:type :fail, :f :read, :value nil, :process 34, :time 59293697994, :error :connect, :index 21127}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 59302146013, :index 21132}
{:type :fail, :f :cas, :value [1 3], :process 18, :time 59304145909, :error :connect, :index 21136}
{:type :invoke, :f :read, :value nil, :process 39, :time 59304484203, :index 21137}
{:type :invoke, :f :read, :value nil, :process 32, :time 59305715216, :index 21139}
{:type :fail, :f :read, :value nil, :process 39, :time 59306502810, :error :connect, :index 21140}
{:type :fail, :f :read, :value nil, :process 32, :time 59307610548, :error :connect, :index 21141}
{:type :invoke, :f :read, :value nil, :process 37, :time 59310882473, :index 21142}
{:type :fail, :f :read, :value nil, :process 37, :time 59312903155, :error :connect, :index 21143}
{:type :invoke, :f :write, :value 3, :process 11, :time 59324935269, :index 21146}
{:type :fail, :f :write, :value 3, :process 11, :time 59326859428, :error :connect, :index 21147}
{:type :invoke, :f :read, :value nil, :process 15, :time 59333205759, :index 21150}
{:type :fail, :f :read, :value nil, :process 15, :time 59334871390, :error :connect, :index 21152}
{:type :invoke, :f :read, :value nil, :process 36, :time 59374597596, :index 21161}
{:type :fail, :f :read, :value nil, :process 36, :time 59376433823, :error :connect, :index 21163}
{:type :invoke, :f :read, :value nil, :process 18, :time 59378388478, :index 21164}
{:type :fail, :f :read, :value nil, :process 18, :time 59380488268, :error :connect, :index 21165}
{:type :invoke, :f :read, :value nil, :process 39, :time 59388758752, :index 21166}
{:type :fail, :f :read, :value nil, :process 39, :time 59390890962, :error :connect, :index 21169}
{:type :invoke, :f :write, :value 2, :process 10, :time 59392977025, :index 21173}
{:type :fail, :f :write, :value 2, :process 10, :time 59395123586, :error :connect, :index 21175}
{:type :invoke, :f :write, :value 2, :process 32, :time 59403873379, :index 21176}
{:type :fail, :f :write, :value 2, :process 32, :time 59405728614, :error :connect, :index 21177}
{:type :invoke, :f :read, :value nil, :process 11, :time 59410128957, :index 21178}
{:type :fail, :f :read, :value nil, :process 11, :time 59411836026, :error :connect, :index 21179}
{:type :invoke, :f :read, :value nil, :process 37, :time 59421197170, :index 21180}
{:type :invoke, :f :cas, :value [0 2], :process 39, :time 59422157201, :index 21181}
{:type :fail, :f :read, :value nil, :process 37, :time 59423238291, :error :connect, :index 21182}
{:type :fail, :f :cas, :value [0 2], :process 39, :time 59424503105, :error :connect, :index 21183}
{:type :invoke, :f :cas, :value [1 3], :process 36, :time 59429663905, :index 21184}
{:type :fail, :f :cas, :value [1 3], :process 36, :time 59431280000, :error :connect, :index 21185}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 59452754031, :index 21195}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 59454752382, :error :connect, :index 21197}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 59457761330, :index 21198}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 59459588496, :error :connect, :index 21199}
{:type :invoke, :f :write, :value 2, :process 33, :time 59472037080, :index 21205}
{:type :fail, :f :write, :value 2, :process 33, :time 59474039242, :error :connect, :index 21207}
{:type :invoke, :f :write, :value 1, :process 34, :time 59481949771, :index 21212}
{:type :fail, :f :write, :value 1, :process 34, :time 59483725159, :error :connect, :index 21213}
{:type :invoke, :f :write, :value 3, :process 15, :time 59496128236, :index 21216}
{:type :fail, :f :write, :value 3, :process 15, :time 59497958212, :error :connect, :index 21217}
{:type :invoke, :f :cas, :value [2 3], :process 34, :time 59502980816, :index 21218}
{:type :invoke, :f :read, :value nil, :process 36, :time 59504548742, :index 21219}
{:type :fail, :f :cas, :value [2 3], :process 34, :time 59504879825, :error :connect, :index 21220}
{:type :invoke, :f :read, :value nil, :process 34, :time 59505000730, :index 21221}
{:type :fail, :f :read, :value nil, :process 34, :time 59506880302, :error :connect, :index 21222}
{:type :fail, :f :read, :value nil, :process 36, :time 59506879475, :error :connect, :index 21223}
{:type :invoke, :f :read, :value nil, :process 11, :time 59530103237, :index 21228}
{:type :fail, :f :read, :value nil, :process 11, :time 59532173684, :error :connect, :index 21231}
{:type :invoke, :f :read, :value nil, :process 33, :time 59534293121, :index 21232}
{:type :fail, :f :read, :value nil, :process 33, :time 59536114202, :error :connect, :index 21234}
{:type :invoke, :f :write, :value 1, :process 36, :time 59549184201, :index 21241}
{:type :fail, :f :write, :value 1, :process 36, :time 59551309927, :error :connect, :index 21243}
{:type :invoke, :f :read, :value nil, :process 32, :time 59556989795, :index 21244}
{:type :fail, :f :read, :value nil, :process 32, :time 59558813113, :error :connect, :index 21245}
{:type :invoke, :f :read, :value nil, :process 10, :time 59560380147, :index 21246}
{:type :fail, :f :read, :value nil, :process 10, :time 59562436130, :error :connect, :index 21247}
{:type :invoke, :f :read, :value nil, :process 39, :time 59604854244, :index 21252}
{:type :fail, :f :read, :value nil, :process 39, :time 59606902960, :error :connect, :index 21253}
{:type :invoke, :f :write, :value 0, :process 39, :time 59607038886, :index 21254}
{:type :fail, :f :write, :value 0, :process 39, :time 59609014561, :error :connect, :index 21255}
{:type :invoke, :f :write, :value 0, :process 18, :time 59612027745, :index 21256}
{:type :fail, :f :write, :value 0, :process 18, :time 59613711819, :error :connect, :index 21257}
{:type :invoke, :f :write, :value 3, :process 37, :time 59620506570, :index 21262}
{:type :invoke, :f :read, :value nil, :process 33, :time 59621379282, :index 21263}
{:type :fail, :f :write, :value 3, :process 37, :time 59622513876, :error :connect, :index 21264}
{:type :fail, :f :read, :value nil, :process 33, :time 59623200744, :error :connect, :index 21265}
{:type :invoke, :f :read, :value nil, :process 15, :time 59642237989, :index 21276}
{:type :fail, :f :read, :value nil, :process 15, :time 59644060760, :error :connect, :index 21277}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 59659691241, :index 21280}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 59661562664, :error :connect, :index 21281}
{:type :invoke, :f :cas, :value [3 1], :process 39, :time 59662279716, :index 21282}
{:type :fail, :f :cas, :value [3 1], :process 39, :time 59664342136, :error :connect, :index 21283}
{:type :invoke, :f :write, :value 0, :process 34, :time 59668171124, :index 21284}
{:type :fail, :f :write, :value 0, :process 34, :time 59669938171, :error :connect, :index 21286}
{:type :invoke, :f :cas, :value [3 1], :process 32, :time 59724091568, :index 21299}
{:type :fail, :f :cas, :value [3 1], :process 32, :time 59726061153, :error :connect, :index 21301}
{:type :invoke, :f :read, :value nil, :process 36, :time 59726570070, :index 21302}
{:type :fail, :f :read, :value nil, :process 36, :time 59728436644, :error :connect, :index 21303}
{:type :invoke, :f :write, :value 1, :process 11, :time 59730431477, :index 21304}
{:type :fail, :f :write, :value 1, :process 11, :time 59732281689, :error :connect, :index 21305}
