{:type :invoke, :f :read, :value nil, :process 6, :time 4924634690, :index 1550}
{:type :ok, :f :read, :value 1, :process 6, :time 4929808034, :index 1551}
{:type :invoke, :f :write, :value 2, :process 3, :time 4937877331, :index 1553}
{:type :ok, :f :write, :value 2, :process 3, :time 4943317773, :index 1555}
{:type :invoke, :f :write, :value 2, :process 3, :time 4956565917, :index 1563}
{:type :ok, :f :write, :value 2, :process 3, :time 4961068225, :index 1565}
{:type :invoke, :f :read, :value nil, :process 5, :time 5016818295, :index 1579}
{:type :ok, :f :read, :value 2, :process 5, :time 5021551776, :index 1580}
{:type :invoke, :f :write, :value 0, :process 2, :time 5022168367, :index 1581}
{:type :ok, :f :write, :value 0, :process 2, :time 5027885515, :index 1583}
{:type :invoke, :f :write, :value 4, :process 8, :time 5037101671, :index 1584}
{:type :ok, :f :write, :value 4, :process 8, :time 5043331989, :index 1586}
{:type :invoke, :f :read, :value nil, :process 0, :time 5110562594, :index 1602}
{:type :invoke, :f :cas, :value [2 4], :process 6, :time 5111114415, :index 1603}
{:type :ok, :f :read, :value 4, :process 0, :time 5115920442, :index 1604}
{:type :invoke, :f :cas, :value [2 2], :process 8, :time 5116626780, :index 1605}
{:type :fail, :f :cas, :value [2 4], :process 6, :time 5117182666, :index 1606}
{:type :fail, :f :cas, :value [2 2], :process 8, :time 5122834759, :index 1607}
{:type :invoke, :f :write, :value 2, :process 8, :time 5131088786, :index 1608}
{:type :invoke, :f :write, :value 0, :process 3, :time 5133324808, :index 1609}
{:type :ok, :f :write, :value 2, :process 8, :time 5137011665, :index 1610}
{:type :ok, :f :write, :value 0, :process 3, :time 5139218213, :index 1611}
{:type :invoke, :f :read, :value nil, :process 1, :time 5155176500, :index 1614}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 5156813993, :index 1615}
{:type :invoke, :f :read, :value nil, :process 8, :time 5160281065, :index 1616}
{:type :ok, :f :read, :value 0, :process 1, :time 5160404707, :index 1617}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 5162187962, :index 1618}
{:type :ok, :f :read, :value 0, :process 8, :time 5165364509, :index 1619}
{:type :invoke, :f :cas, :value [1 4], :process 2, :time 5176153452, :index 1620}
{:type :fail, :f :cas, :value [1 4], :process 2, :time 5181420639, :index 1622}
{:type :invoke, :f :write, :value 4, :process 7, :time 5189186953, :index 1625}
{:type :ok, :f :write, :value 4, :process 7, :time 5195023411, :index 1628}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :invoke, :f :read, :value nil, :process 6, :time 5218429701, :index 1633}
{:type :invoke, :f :write, :value 2, :process 2, :time 5229685000, :index 1636}
{:type :invoke, :f :read, :value nil, :process 8, :time 5235632318, :index 1637}
{:type :invoke, :f :read, :value nil, :process 0, :time 5246177158, :index 1638}
{:type :invoke, :f :read, :value nil, :process 7, :time 5271279313, :index 1641}
{:type :invoke, :f :read, :value nil, :process 5, :time 5281450818, :index 1643}
{:type :invoke, :f :read, :value nil, :process 3, :time 5293469738, :index 1644}
{:type :invoke, :f :write, :value 0, :process 1, :time 5294574437, :index 1645}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :invoke, :f :write, :value 0, :process 29, :time 10010570328, :index 1664}
{:type :ok, :f :write, :value 0, :process 29, :time 10015478276, :index 1665}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 10021948202, :index 1666}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 10027270874, :index 1667}
{:type :fail, :f :read, :value nil, :process 5, :time 10036298992, :error :connect, :index 1668}
{:type :fail, :f :read, :value nil, :process 0, :time 10036524050, :error :connect, :index 1669}
{:type :fail, :f :read, :value nil, :process 6, :time 10037244253, :error :connect, :index 1671}
{:type :fail, :f :read, :value nil, :process 7, :time 10039053257, :error :connect, :index 1672}
{:type :fail, :f :read, :value nil, :process 8, :time 10042915635, :error :connect, :index 1676}
{:type :fail, :f :read, :value nil, :process 3, :time 10043114568, :error :connect, :index 1678}
{:type :info, :f :write, :value 2, :process 2, :time 10087437539, :error "indeterminate: ec2-18-232-141-137.compute-1.amazonaws.com:2379 failed to respond", :index 1684}
{:type :info, :f :write, :value 0, :process 1, :time 10088249208, :error "indeterminate: ec2-18-212-141-207.compute-1.amazonaws.com:2379 failed to respond", :index 1686}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 10102535484, :index 1690}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 10104409446, :error :connect, :index 1691}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 10113682729, :index 1693}
{:type :invoke, :f :write, :value 3, :process 0, :time 10114781665, :index 1694}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 10115702819, :error :connect, :index 1696}
{:type :fail, :f :write, :value 3, :process 0, :time 10116729228, :error :connect, :index 1697}
{:type :invoke, :f :write, :value 2, :process 6, :time 10125499878, :index 1699}
{:type :fail, :f :write, :value 2, :process 6, :time 10127262170, :error :connect, :index 1701}
{:type :invoke, :f :read, :value nil, :process 5, :time 10166606385, :index 1710}
{:type :fail, :f :read, :value nil, :process 5, :time 10168745282, :error :connect, :index 1711}
{:type :invoke, :f :cas, :value [0 0], :process 29, :time 10172753439, :index 1712}
{:type :fail, :f :cas, :value [0 0], :process 29, :time 10174587984, :error :connect, :index 1713}
{:type :invoke, :f :write, :value 4, :process 29, :time 10174746352, :index 1714}
{:type :fail, :f :write, :value 4, :process 29, :time 10176460150, :error :connect, :index 1715}
{:type :invoke, :f :read, :value nil, :process 0, :time 10178990896, :index 1717}
{:type :fail, :f :read, :value nil, :process 0, :time 10181029522, :error :connect, :index 1719}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 10194515674, :index 1720}
{:type :invoke, :f :read, :value nil, :process 21, :time 10195492577, :index 1721}
{:type :invoke, :f :write, :value 1, :process 22, :time 10195802556, :index 1722}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 10196663498, :error :connect, :index 1723}
{:type :fail, :f :read, :value nil, :process 21, :time 10197693488, :error :connect, :index 1724}
{:type :fail, :f :write, :value 1, :process 22, :time 10198059797, :error :connect, :index 1725}
{:type :invoke, :f :cas, :value [3 4], :process 8, :time 10206193887, :index 1726}
{:type :fail, :f :cas, :value [3 4], :process 8, :time 10207933541, :error :connect, :index 1727}
{:type :invoke, :f :cas, :value [4 2], :process 3, :time 10212398885, :index 1728}
{:type :fail, :f :cas, :value [4 2], :process 3, :time 10214289387, :error :connect, :index 1729}
{:type :invoke, :f :cas, :value [0 3], :process 7, :time 10230334653, :index 1740}
{:type :fail, :f :cas, :value [0 3], :process 7, :time 10232174879, :error :connect, :index 1741}
{:type :invoke, :f :cas, :value [0 2], :process 29, :time 10236744270, :index 1742}
{:type :fail, :f :cas, :value [0 2], :process 29, :time 10238578351, :error :connect, :index 1743}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 10239200077, :index 1744}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 10240991685, :error :connect, :index 1745}
{:type :invoke, :f :cas, :value [2 0], :process 22, :time 10254326886, :index 1748}
{:type :fail, :f :cas, :value [2 0], :process 22, :time 10256298153, :error :connect, :index 1749}
{:type :invoke, :f :read, :value nil, :process 21, :time 10256954084, :index 1750}
{:type :fail, :f :read, :value nil, :process 21, :time 10258999424, :error :connect, :index 1751}
{:type :invoke, :f :read, :value nil, :process 22, :time 10259564989, :index 1752}
{:type :fail, :f :read, :value nil, :process 22, :time 10261386689, :error :connect, :index 1753}
{:type :invoke, :f :read, :value nil, :process 6, :time 10263934948, :index 1754}
{:type :fail, :f :read, :value nil, :process 6, :time 10265773526, :error :connect, :index 1755}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 10275549600, :index 1756}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 10277405390, :error :connect, :index 1757}
{:type :invoke, :f :write, :value 0, :process 4, :time 10281002659, :index 1759}
{:type :fail, :f :write, :value 0, :process 4, :time 10282910681, :error :connect, :index 1761}
{:type :invoke, :f :write, :value 2, :process 5, :time 10283061876, :index 1762}
{:type :fail, :f :write, :value 2, :process 5, :time 10284625127, :error :connect, :index 1763}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 10288255117, :index 1765}
{:type :fail, :f :cas, :value [1 0], :process 8, :time 10289925229, :error :connect, :index 1767}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :invoke, :f :write, :value 4, :process 29, :time 10311882576, :index 1771}
{:type :fail, :f :write, :value 4, :process 29, :time 10314078863, :error :connect, :index 1772}
{:type :invoke, :f :read, :value nil, :process 6, :time 10360031618, :index 1785}
{:type :invoke, :f :write, :value 2, :process 0, :time 10360351800, :index 1786}
{:type :invoke, :f :read, :value nil, :process 22, :time 10361657770, :index 1787}
{:type :fail, :f :read, :value nil, :process 6, :time 10362080217, :error :connect, :index 1788}
{:type :fail, :f :write, :value 2, :process 0, :time 10362438264, :error :connect, :index 1789}
{:type :fail, :f :read, :value nil, :process 22, :time 10363658714, :error :connect, :index 1790}
{:type :invoke, :f :write, :value 3, :process 29, :time 10367359387, :index 1791}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 10367684209, :index 1792}
{:type :fail, :f :write, :value 3, :process 29, :time 10369009574, :error :connect, :index 1793}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 10369562775, :error :connect, :index 1794}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 10386882914, :index 1799}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 10388846295, :error :connect, :index 1800}
{:type :invoke, :f :cas, :value [2 2], :process 22, :time 10395959467, :index 1801}
{:type :invoke, :f :read, :value nil, :process 6, :time 10397327805, :index 1802}
{:type :fail, :f :cas, :value [2 2], :process 22, :time 10397689923, :error :connect, :index 1803}
{:type :fail, :f :read, :value nil, :process 6, :time 10399622542, :error :connect, :index 1804}
{:type :invoke, :f :read, :value nil, :process 6, :time 10414866762, :index 1808}
{:type :fail, :f :read, :value nil, :process 6, :time 10417274055, :error :connect, :index 1810}
{:type :invoke, :f :cas, :value [1 1], :process 7, :time 10424443121, :index 1811}
{:type :fail, :f :cas, :value [1 1], :process 7, :time 10426370040, :error :connect, :index 1812}
{:type :invoke, :f :write, :value 3, :process 8, :time 10427219370, :index 1813}
{:type :fail, :f :write, :value 3, :process 8, :time 10428982565, :error :connect, :index 1814}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 10429268866, :index 1815}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 10431011930, :error :connect, :index 1816}
{:type :invoke, :f :read, :value nil, :process 4, :time 10434182014, :index 1818}
{:type :fail, :f :read, :value nil, :process 4, :time 10436696945, :error :connect, :index 1821}
{:type :invoke, :f :read, :value nil, :process 5, :time 10446109808, :index 1823}
{:type :fail, :f :read, :value nil, :process 5, :time 10447684496, :error :connect, :index 1824}
{:type :invoke, :f :read, :value nil, :process 29, :time 10477287275, :index 1835}
{:type :fail, :f :read, :value nil, :process 29, :time 10479008554, :error :connect, :index 1836}
{:type :invoke, :f :cas, :value [2 4], :process 21, :time 10488278723, :index 1839}
{:type :fail, :f :cas, :value [2 4], :process 21, :time 10490094657, :error :connect, :index 1840}
{:type :invoke, :f :cas, :value [4 0], :process 22, :time 10507012459, :index 1843}
{:type :fail, :f :cas, :value [4 0], :process 22, :time 10508899833, :error :connect, :index 1845}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 10521271924, :index 1850}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 10523354397, :error :connect, :index 1852}
{:type :invoke, :f :cas, :value [3 2], :process 22, :time 10541176738, :index 1860}
{:type :invoke, :f :write, :value 3, :process 3, :time 10542731536, :index 1861}
{:type :fail, :f :cas, :value [3 2], :process 22, :time 10543118683, :error :connect, :index 1862}
{:type :fail, :f :write, :value 3, :process 3, :time 10544671112, :error :connect, :index 1863}
{:type :invoke, :f :write, :value 2, :process 8, :time 10545604069, :index 1864}
{:type :fail, :f :write, :value 2, :process 8, :time 10547606048, :error :connect, :index 1865}
{:type :invoke, :f :write, :value 2, :process 0, :time 10547684701, :index 1866}
{:type :fail, :f :write, :value 2, :process 0, :time 10549309008, :error :connect, :index 1867}
{:type :invoke, :f :read, :value nil, :process 4, :time 10556965894, :index 1868}
{:type :fail, :f :read, :value nil, :process 4, :time 10558517758, :error :connect, :index 1869}
{:type :invoke, :f :write, :value 1, :process 22, :time 10564437977, :index 1871}
{:type :fail, :f :write, :value 1, :process 22, :time 10566589959, :error :connect, :index 1873}
{:type :invoke, :f :write, :value 3, :process 29, :time 10567283900, :index 1874}
{:type :fail, :f :write, :value 3, :process 29, :time 10568995138, :error :connect, :index 1875}
{:type :invoke, :f :read, :value nil, :process 7, :time 10575638666, :index 1876}
{:type :fail, :f :read, :value nil, :process 7, :time 10577381057, :error :connect, :index 1877}
{:type :invoke, :f :write, :value 2, :process 4, :time 10577778642, :index 1878}
{:type :fail, :f :write, :value 2, :process 4, :time 10579676683, :error :connect, :index 1879}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 10589516247, :index 1880}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 10591548436, :error :connect, :index 1881}
{:type :invoke, :f :write, :value 3, :process 3, :time 10609924155, :index 1886}
{:type :fail, :f :write, :value 3, :process 3, :time 10611690037, :error :connect, :index 1887}
{:type :invoke, :f :write, :value 0, :process 21, :time 10625360970, :index 1892}
{:type :fail, :f :write, :value 0, :process 21, :time 10627029614, :error :connect, :index 1893}
{:type :invoke, :f :write, :value 4, :process 7, :time 10631635303, :index 1894}
{:type :invoke, :f :write, :value 2, :process 5, :time 10631957417, :index 1895}
{:type :fail, :f :write, :value 4, :process 7, :time 10633568474, :error :connect, :index 1896}
{:type :fail, :f :write, :value 2, :process 5, :time 10633876051, :error :connect, :index 1897}
{:type :invoke, :f :read, :value nil, :process 5, :time 10645111538, :index 1902}
{:type :fail, :f :read, :value nil, :process 5, :time 10646907241, :error :connect, :index 1903}
{:type :invoke, :f :read, :value nil, :process 21, :time 10654294193, :index 1906}
{:type :fail, :f :read, :value nil, :process 21, :time 10656352474, :error :connect, :index 1907}
{:type :invoke, :f :write, :value 3, :process 0, :time 10658567264, :index 1908}
{:type :fail, :f :write, :value 3, :process 0, :time 10660620163, :error :connect, :index 1909}
{:type :invoke, :f :read, :value nil, :process 6, :time 10668827761, :index 1911}
{:type :fail, :f :read, :value nil, :process 6, :time 10670807480, :error :connect, :index 1914}
{:type :invoke, :f :read, :value nil, :process 8, :time 10678878719, :index 1916}
{:type :fail, :f :read, :value nil, :process 8, :time 10680790498, :error :connect, :index 1917}
{:type :invoke, :f :read, :value nil, :process 7, :time 10686887217, :index 1918}
{:type :fail, :f :read, :value nil, :process 7, :time 10688710977, :error :connect, :index 1919}
{:type :invoke, :f :write, :value 0, :process 29, :time 10695255461, :index 1920}
{:type :fail, :f :write, :value 0, :process 29, :time 10696788619, :error :connect, :index 1921}
{:type :invoke, :f :read, :value nil, :process 8, :time 10699043657, :index 1922}
{:type :fail, :f :read, :value nil, :process 8, :time 10700881653, :error :connect, :index 1923}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 10713888019, :index 1926}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 10715793523, :error :connect, :index 1927}
{:type :invoke, :f :read, :value nil, :process 4, :time 10717942682, :index 1928}
{:type :invoke, :f :write, :value 2, :process 7, :time 10717972055, :index 1929}
{:type :fail, :f :write, :value 2, :process 7, :time 10720018851, :error :connect, :index 1930}
{:type :fail, :f :read, :value nil, :process 4, :time 10720181192, :error :connect, :index 1931}
{:type :invoke, :f :write, :value 3, :process 5, :time 10754191009, :index 1942}
{:type :fail, :f :write, :value 3, :process 5, :time 10756080433, :error :connect, :index 1943}
{:type :invoke, :f :write, :value 0, :process 29, :time 10766064536, :index 1947}
{:type :fail, :f :write, :value 0, :process 29, :time 10768126729, :error :connect, :index 1949}
{:type :invoke, :f :read, :value nil, :process 6, :time 10769052220, :index 1950}
{:type :fail, :f :read, :value nil, :process 6, :time 10771093400, :error :connect, :index 1951}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 10792886714, :index 1956}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 10794903066, :error :connect, :index 1958}
{:type :invoke, :f :read, :value nil, :process 3, :time 10795954334, :index 1960}
{:type :fail, :f :read, :value nil, :process 3, :time 10797827668, :error :connect, :index 1961}
{:type :invoke, :f :write, :value 4, :process 21, :time 10827612934, :index 1972}
{:type :fail, :f :write, :value 4, :process 21, :time 10829538386, :error :connect, :index 1973}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
