{:type :invoke, :f :read, :value nil, :process 7, :time 2567019519, :index 801}
{:type :invoke, :f :read, :value nil, :process 5, :time 2575283442, :index 802}
{:type :ok, :f :read, :value nil, :process 7, :time 3146339059, :index 822}
{:type :ok, :f :read, :value nil, :process 5, :time 3147953143, :index 828}
{:type :invoke, :f :write, :value 2, :process 7, :time 3154572493, :index 833}
{:type :invoke, :f :read, :value nil, :process 9, :time 3155926083, :index 835}
{:type :ok, :f :write, :value 2, :process 7, :time 3159374534, :index 836}
{:type :invoke, :f :read, :value nil, :process 0, :time 3167200742, :index 838}
{:type :ok, :f :read, :value 2, :process 0, :time 3172120678, :index 840}
{:type :invoke, :f :cas, :value [1 4], :process 2, :time 3194760059, :index 841}
{:type :invoke, :f :read, :value nil, :process 8, :time 3196573830, :index 842}
{:type :invoke, :f :write, :value 1, :process 6, :time 3198049716, :index 843}
{:type :invoke, :f :read, :value nil, :process 7, :time 3198649255, :index 844}
{:type :fail, :f :cas, :value [1 4], :process 2, :time 3199343559, :index 845}
{:type :ok, :f :read, :value 2, :process 8, :time 3201671594, :index 848}
{:type :ok, :f :read, :value 2, :process 7, :time 3203361276, :index 849}
{:type :ok, :f :write, :value 1, :process 6, :time 3204870562, :index 851}
{:type :invoke, :f :read, :value nil, :process 0, :time 3207367616, :index 853}
{:type :ok, :f :read, :value 1, :process 0, :time 3212754057, :index 854}
{:type :invoke, :f :read, :value nil, :process 0, :time 3217010791, :index 855}
{:type :ok, :f :read, :value 1, :process 0, :time 3222161724, :index 856}
{:type :invoke, :f :cas, :value [4 4], :process 5, :time 3242204374, :index 858}
{:type :invoke, :f :cas, :value [1 0], :process 2, :time 3242672442, :index 859}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 3246651867, :index 860}
{:type :invoke, :f :write, :value 3, :process 0, :time 3247426240, :index 861}
{:type :ok, :f :cas, :value [1 0], :process 2, :time 3248272172, :index 862}
{:type :fail, :f :cas, :value [4 4], :process 5, :time 3248406330, :index 863}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 3251921489, :index 864}
{:type :invoke, :f :write, :value 2, :process 8, :time 3251939805, :index 865}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 3252823632, :index 866}
{:type :ok, :f :write, :value 3, :process 0, :time 3253611063, :index 867}
{:type :ok, :f :write, :value 2, :process 8, :time 3256807425, :index 868}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 3257597412, :index 869}
{:type :invoke, :f :cas, :value [1 1], :process 8, :time 3260064074, :index 870}
{:type :fail, :f :cas, :value [1 1], :process 8, :time 3264969874, :index 871}
{:type :invoke, :f :read, :value nil, :process 4, :time 3310294453, :index 881}
{:type :invoke, :f :write, :value 3, :process 1, :time 3322620176, :index 885}
{:type :ok, :f :write, :value 3, :process 1, :time 3329437170, :index 887}
{:type :invoke, :f :write, :value 1, :process 5, :time 3343652237, :index 896}
{:type :invoke, :f :cas, :value [1 1], :process 6, :time 3346104485, :index 897}
{:type :ok, :f :write, :value 1, :process 5, :time 3349832845, :index 898}
{:type :ok, :f :cas, :value [1 1], :process 6, :time 3350739437, :index 899}
{:type :invoke, :f :cas, :value [3 3], :process 3, :time 3383893924, :index 908}
{:type :invoke, :f :write, :value 3, :process 2, :time 3384595415, :index 909}
{:type :fail, :f :cas, :value [3 3], :process 3, :time 3389430677, :index 910}
{:type :ok, :f :write, :value 3, :process 2, :time 3389732687, :index 911}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 3407235858, :index 915}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 3412543781, :index 919}
{:type :invoke, :f :write, :value 0, :process 0, :time 3420907648, :index 922}
{:type :ok, :f :write, :value 0, :process 0, :time 3425961443, :index 923}
{:type :invoke, :f :write, :value 4, :process 7, :time 3432204559, :index 924}
{:type :ok, :f :write, :value 4, :process 7, :time 3436534519, :index 925}
{:type :invoke, :f :write, :value 0, :process 7, :time 3467799010, :index 930}
{:type :ok, :f :write, :value 0, :process 7, :time 3472063790, :index 931}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 3475995947, :index 932}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 3477686264, :index 933}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 3480092275, :index 934}
{:type :invoke, :f :write, :value 3, :process 0, :time 3481223778, :index 935}
{:type :fail, :f :cas, :value [2 2], :process 6, :time 3481927811, :index 936}
{:type :fail, :f :cas, :value [3 1], :process 3, :time 3482775986, :index 937}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 3485580974, :index 939}
{:type :ok, :f :write, :value 3, :process 0, :time 3486823260, :index 940}
{:type :invoke, :f :write, :value 3, :process 1, :time 3502680445, :index 944}
{:type :ok, :f :write, :value 3, :process 1, :time 3508255899, :index 948}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 3518090037, :index 952}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 3524097879, :index 954}
{:type :invoke, :f :write, :value 2, :process 2, :time 3534981258, :index 958}
{:type :ok, :f :write, :value 2, :process 2, :time 3538901403, :index 959}
{:type :invoke, :f :write, :value 3, :process 6, :time 3549200979, :index 960}
{:type :ok, :f :write, :value 3, :process 6, :time 3554703980, :index 962}
{:type :invoke, :f :write, :value 1, :process 8, :time 3573870814, :index 966}
{:type :ok, :f :write, :value 1, :process 8, :time 3578969088, :index 968}
{:type :invoke, :f :write, :value 2, :process 7, :time 3592322734, :index 974}
{:type :ok, :f :write, :value 2, :process 7, :time 3596928876, :index 975}
{:type :invoke, :f :write, :value 0, :process 5, :time 3601850239, :index 976}
{:type :ok, :f :write, :value 0, :process 5, :time 3607573961, :index 979}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 3620361344, :index 981}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 3625836452, :index 983}
{:type :invoke, :f :read, :value nil, :process 5, :time 3642828959, :index 989}
{:type :ok, :f :read, :value 0, :process 5, :time 3649000232, :index 993}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 3656521737, :index 996}
{:type :fail, :f :cas, :value [1 2], :process 1, :time 3661765088, :index 998}
{:type :invoke, :f :write, :value 1, :process 8, :time 3669136008, :index 1001}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 3670992885, :index 1002}
{:type :ok, :f :write, :value 1, :process 8, :time 3673528357, :index 1004}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 3675904613, :index 1005}
{:type :invoke, :f :write, :value 4, :process 3, :time 3682040906, :index 1007}
{:type :ok, :f :write, :value 4, :process 3, :time 3687678790, :index 1009}
{:type :invoke, :f :read, :value nil, :process 6, :time 3693075455, :index 1010}
{:type :invoke, :f :cas, :value [1 1], :process 2, :time 3693078378, :index 1011}
{:type :fail, :f :cas, :value [1 1], :process 2, :time 3697561751, :index 1012}
{:type :ok, :f :read, :value 4, :process 6, :time 3698226469, :index 1013}
{:type :invoke, :f :read, :value nil, :process 6, :time 3726464786, :index 1017}
{:type :ok, :f :read, :value 4, :process 6, :time 3731544349, :index 1019}
{:type :invoke, :f :read, :value nil, :process 0, :time 3736098060, :index 1021}
{:type :ok, :f :read, :value 4, :process 0, :time 3740790244, :index 1023}
{:type :ok, :f :read, :value 4, :process 9, :time 3749839573, :index 1025}
{:type :ok, :f :read, :value 4, :process 4, :time 3750201593, :index 1026}
{:type :invoke, :f :write, :value 3, :process 4, :time 3751445306, :index 1030}
{:type :ok, :f :write, :value 3, :process 4, :time 3757635682, :index 1032}
{:type :invoke, :f :read, :value nil, :process 3, :time 3757945172, :index 1034}
{:type :ok, :f :read, :value 3, :process 3, :time 3763756522, :index 1038}
{:type :invoke, :f :read, :value nil, :process 7, :time 3788191681, :index 1044}
{:type :invoke, :f :read, :value nil, :process 1, :time 3793031819, :index 1045}
{:type :ok, :f :read, :value 3, :process 7, :time 3793182351, :index 1046}
{:type :invoke, :f :write, :value 2, :process 2, :time 3803797193, :index 1047}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 3803801320, :index 1048}
{:type :ok, :f :write, :value 2, :process 2, :time 3808894687, :index 1049}
{:type :ok, :f :cas, :value [2 3], :process 8, :time 3809925389, :index 1050}
{:type :invoke, :f :write, :value 1, :process 5, :time 3825244851, :index 1052}
{:type :ok, :f :write, :value 1, :process 5, :time 3831461182, :index 1054}
{:type :invoke, :f :read, :value nil, :process 6, :time 3859798648, :index 1057}
{:type :invoke, :f :write, :value 3, :process 0, :time 3872047345, :index 1058}
{:type :ok, :f :write, :value 3, :process 0, :time 3878066592, :index 1060}
{:type :invoke, :f :cas, :value [0 2], :process 3, :time 3905039167, :index 1066}
{:type :fail, :f :cas, :value [0 2], :process 3, :time 3910423471, :index 1067}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 3911728424, :index 1068}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 3917812172, :index 1069}
{:type :invoke, :f :cas, :value [4 4], :process 9, :time 3925100927, :index 1070}
{:type :invoke, :f :cas, :value [2 3], :process 2, :time 3927159658, :index 1071}
{:type :fail, :f :cas, :value [4 4], :process 9, :time 3931831058, :index 1072}
{:type :fail, :f :cas, :value [2 3], :process 2, :time 3931831065, :index 1073}
{:type :invoke, :f :cas, :value [4 4], :process 4, :time 3940905926, :index 1074}
{:type :fail, :f :cas, :value [4 4], :process 4, :time 3945988795, :index 1076}
{:type :invoke, :f :read, :value nil, :process 8, :time 3947199970, :index 1078}
{:type :invoke, :f :read, :value nil, :process 5, :time 3955071123, :index 1082}
{:type :ok, :f :read, :value 3, :process 5, :time 3961726353, :index 1085}
{:type :invoke, :f :read, :value nil, :process 7, :time 3977425786, :index 1089}
{:type :ok, :f :read, :value 3, :process 7, :time 3981537184, :index 1091}
{:type :invoke, :f :read, :value nil, :process 0, :time 3992344247, :index 1092}
{:type :ok, :f :read, :value 3, :process 0, :time 3998146643, :index 1093}
{:type :invoke, :f :cas, :value [0 2], :process 7, :time 4029788994, :index 1095}
{:type :invoke, :f :write, :value 1, :process 3, :time 4030692280, :index 1096}
{:type :fail, :f :cas, :value [0 2], :process 7, :time 4034439196, :index 1098}
{:type :invoke, :f :write, :value 3, :process 9, :time 4055137781, :index 1104}
{:type :ok, :f :write, :value 3, :process 9, :time 4061335502, :index 1105}
{:type :ok, :f :read, :value 3, :process 8, :time 4099873600, :index 1108}
{:type :ok, :f :write, :value 1, :process 3, :time 4100973564, :index 1110}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 4106702711, :index 1113}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 4112184650, :index 1115}
{:type :invoke, :f :read, :value nil, :process 0, :time 4116401428, :index 1117}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 4119124556, :index 1119}
{:type :ok, :f :read, :value 1, :process 0, :time 4122446647, :index 1120}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 4123899421, :index 1121}
{:type :invoke, :f :read, :value nil, :process 9, :time 4125510481, :index 1122}
{:type :invoke, :f :read, :value nil, :process 5, :time 4126001577, :index 1123}
{:type :ok, :f :read, :value 1, :process 9, :time 4131309298, :index 1124}
{:type :ok, :f :read, :value 1, :process 5, :time 4131895243, :index 1125}
{:type :invoke, :f :cas, :value [4 4], :process 4, :time 4135224854, :index 1126}
{:type :fail, :f :cas, :value [4 4], :process 4, :time 4140532440, :index 1127}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 4175232195, :index 1130}
{:type :fail, :f :cas, :value [4 4], :process 3, :time 4180424754, :index 1131}
{:type :invoke, :f :write, :value 3, :process 5, :time 4183152746, :index 1132}
{:type :invoke, :f :write, :value 4, :process 9, :time 4186567175, :index 1133}
{:type :ok, :f :write, :value 3, :process 5, :time 4188672939, :index 1134}
{:type :ok, :f :write, :value 4, :process 9, :time 4192004281, :index 1135}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 4200680045, :index 1139}
{:type :invoke, :f :read, :value nil, :process 8, :time 4203130868, :index 1141}
{:type :ok, :f :cas, :value [4 4], :process 3, :time 4206301523, :index 1144}
{:type :ok, :f :read, :value 4, :process 8, :time 4208042441, :index 1145}
{:type :invoke, :f :write, :value 4, :process 0, :time 4213705943, :index 1146}
{:type :ok, :f :write, :value 4, :process 0, :time 4218929072, :index 1147}
{:type :invoke, :f :write, :value 3, :process 4, :time 4226788976, :index 1148}
{:type :ok, :f :write, :value 3, :process 4, :time 4232405323, :index 1149}
{:type :invoke, :f :cas, :value [0 1], :process 0, :time 4253187163, :index 1152}
{:type :fail, :f :cas, :value [0 1], :process 0, :time 4258902739, :index 1153}
{:type :invoke, :f :write, :value 1, :process 2, :time 4276157058, :index 1156}
{:type :ok, :f :write, :value 1, :process 2, :time 4281360135, :index 1158}
{:type :invoke, :f :cas, :value [4 4], :process 2, :time 4284619074, :index 1160}
{:type :invoke, :f :write, :value 1, :process 8, :time 4285297026, :index 1161}
{:type :fail, :f :cas, :value [4 4], :process 2, :time 4289355884, :index 1162}
{:type :invoke, :f :write, :value 1, :process 7, :time 4289464977, :index 1163}
{:type :ok, :f :write, :value 1, :process 8, :time 4291052674, :index 1164}
{:type :ok, :f :write, :value 1, :process 7, :time 4293812077, :index 1166}
{:type :invoke, :f :read, :value nil, :process 0, :time 4302158151, :index 1169}
{:type :ok, :f :read, :value 1, :process 0, :time 4307393518, :index 1171}
{:type :invoke, :f :write, :value 4, :process 3, :time 4347584783, :index 1179}
{:type :ok, :f :write, :value 4, :process 3, :time 4352092449, :index 1181}
{:type :invoke, :f :write, :value 1, :process 7, :time 4363077593, :index 1183}
{:type :invoke, :f :write, :value 4, :process 9, :time 4363271878, :index 1184}
{:type :ok, :f :write, :value 1, :process 7, :time 4367943116, :index 1186}
{:type :ok, :f :write, :value 4, :process 9, :time 4369227325, :index 1187}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 4376325027, :index 1189}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 4381714955, :index 1191}
{:type :invoke, :f :write, :value 2, :process 5, :time 4382931432, :index 1192}
{:type :ok, :f :write, :value 2, :process 5, :time 4388697747, :index 1193}
{:type :invoke, :f :read, :value nil, :process 2, :time 4394632351, :index 1195}
{:type :ok, :f :read, :value 2, :process 2, :time 4398954686, :index 1199}
{:type :ok, :f :read, :value 2, :process 6, :time 4399237964, :index 1200}
{:type :ok, :f :read, :value 2, :process 1, :time 4399514210, :index 1201}
{:type :invoke, :f :cas, :value [4 1], :process 4, :time 4414666394, :index 1202}
{:type :fail, :f :cas, :value [4 1], :process 4, :time 4421578347, :index 1206}
{:type :invoke, :f :read, :value nil, :process 3, :time 4440349698, :index 1213}
{:type :ok, :f :read, :value 2, :process 3, :time 4445163852, :index 1215}
{:type :invoke, :f :write, :value 1, :process 7, :time 4453198822, :index 1216}
{:type :ok, :f :write, :value 1, :process 7, :time 4458563694, :index 1217}
{:type :invoke, :f :write, :value 4, :process 9, :time 4478487999, :index 1219}
{:type :ok, :f :write, :value 4, :process 9, :time 4483403488, :index 1221}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 4499646273, :index 1224}
{:type :ok, :f :cas, :value [4 0], :process 0, :time 4505341205, :index 1225}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
