{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :invoke, :f :write, :value 0, :process 8, :time 23017360099, :index 3665}
{:type :ok, :f :write, :value 0, :process 8, :time 23021855151, :index 3667}
{:type :invoke, :f :read, :value nil, :process 23, :time 23034674359, :index 3675}
{:type :ok, :f :read, :value 0, :process 23, :time 23038633698, :index 3678}
{:type :invoke, :f :read, :value nil, :process 25, :time 23075527105, :index 3695}
{:type :invoke, :f :write, :value 0, :process 29, :time 23079587091, :index 3697}
{:type :ok, :f :read, :value 0, :process 25, :time 23080548713, :index 3698}
{:type :ok, :f :write, :value 0, :process 29, :time 23085437706, :index 3701}
{:type :invoke, :f :cas, :value [2 0], :process 24, :time 23121375518, :index 3712}
{:type :invoke, :f :write, :value 3, :process 8, :time 23124118155, :index 3713}
{:type :invoke, :f :cas, :value [4 1], :process 20, :time 23125055532, :index 3714}
{:type :fail, :f :cas, :value [2 0], :process 24, :time 23126844913, :index 3715}
{:type :ok, :f :write, :value 3, :process 8, :time 23128393989, :index 3716}
{:type :fail, :f :cas, :value [4 1], :process 20, :time 23130998827, :index 3717}
{:type :invoke, :f :write, :value 2, :process 23, :time 23132905069, :index 3718}
{:type :invoke, :f :write, :value 4, :process 41, :time 23133696931, :index 3719}
{:type :ok, :f :write, :value 2, :process 23, :time 23137879188, :index 3720}
{:type :ok, :f :write, :value 4, :process 41, :time 23139013869, :index 3721}
{:type :invoke, :f :write, :value 0, :process 22, :time 23149377052, :index 3723}
{:type :ok, :f :write, :value 0, :process 22, :time 23154602867, :index 3725}
{:type :invoke, :f :cas, :value [4 1], :process 7, :time 23177715028, :index 3730}
{:type :fail, :f :cas, :value [4 1], :process 7, :time 23182752787, :index 3732}
{:type :invoke, :f :write, :value 0, :process 26, :time 23184185620, :index 3733}
{:type :invoke, :f :read, :value nil, :process 20, :time 23187255670, :index 3735}
{:type :ok, :f :write, :value 0, :process 26, :time 23189265912, :index 3736}
{:type :ok, :f :read, :value 0, :process 20, :time 23192075307, :index 3738}
{:type :invoke, :f :cas, :value [0 4], :process 7, :time 23200011162, :index 3742}
{:type :invoke, :f :read, :value nil, :process 23, :time 23209128193, :index 3744}
{:type :invoke, :f :read, :value nil, :process 29, :time 23212703914, :index 3746}
{:type :invoke, :f :write, :value 1, :process 41, :time 23214270895, :index 3747}
{:type :ok, :f :read, :value 0, :process 23, :time 23214894999, :index 3748}
{:type :invoke, :f :read, :value nil, :process 26, :time 23217527645, :index 3751}
{:type :ok, :f :write, :value 1, :process 41, :time 23219881895, :index 3752}
{:type :ok, :f :read, :value 0, :process 29, :time 23220887860, :index 3753}
{:type :ok, :f :read, :value 1, :process 26, :time 23223539167, :index 3755}
{:type :invoke, :f :read, :value nil, :process 25, :time 23234721814, :index 3758}
{:type :ok, :f :read, :value 1, :process 25, :time 23239988479, :index 3759}
{:type :invoke, :f :cas, :value [3 1], :process 23, :time 23273166412, :index 3761}
{:type :invoke, :f :cas, :value [3 0], :process 29, :time 23273162380, :index 3762}
{:type :fail, :f :cas, :value [3 0], :process 29, :time 23279176331, :index 3764}
{:type :fail, :f :cas, :value [3 1], :process 23, :time 23279687652, :index 3765}
{:type :invoke, :f :write, :value 2, :process 26, :time 23284793459, :index 3767}
{:type :ok, :f :write, :value 2, :process 26, :time 23289356449, :index 3769}
{:type :invoke, :f :cas, :value [1 1], :process 22, :time 23291900055, :index 3771}
{:type :invoke, :f :read, :value nil, :process 8, :time 23296669590, :index 3773}
{:type :ok, :f :read, :value 2, :process 8, :time 23301455534, :index 3776}
{:type :invoke, :f :cas, :value [1 0], :process 24, :time 23306132281, :index 3779}
{:type :fail, :f :cas, :value [1 0], :process 24, :time 23312115699, :index 3782}
{:type :invoke, :f :cas, :value [2 4], :process 26, :time 23321612323, :index 3784}
{:type :ok, :f :cas, :value [2 4], :process 26, :time 23327756032, :index 3786}
{:type :invoke, :f :read, :value nil, :process 8, :time 23330724089, :index 3787}
{:type :ok, :f :read, :value 4, :process 8, :time 23336369538, :index 3790}
{:type :invoke, :f :read, :value nil, :process 24, :time 23352372004, :index 3793}
{:type :ok, :f :read, :value 4, :process 24, :time 23359295091, :index 3795}
{:type :invoke, :f :read, :value nil, :process 20, :time 23374335510, :index 3796}
{:type :ok, :f :read, :value 4, :process 20, :time 23379885106, :index 3798}
{:type :invoke, :f :write, :value 1, :process 26, :time 23383028783, :index 3800}
{:type :ok, :f :write, :value 1, :process 26, :time 23388292401, :index 3802}
{:type :invoke, :f :cas, :value [0 4], :process 23, :time 23388944771, :index 3803}
{:type :invoke, :f :cas, :value [2 1], :process 25, :time 23392251956, :index 3805}
{:type :fail, :f :cas, :value [0 4], :process 23, :time 23394366449, :index 3806}
{:type :fail, :f :cas, :value [2 1], :process 25, :time 23398234103, :index 3808}
{:type :invoke, :f :write, :value 1, :process 29, :time 23403461451, :index 3810}
{:type :ok, :f :write, :value 1, :process 29, :time 23408963567, :index 3814}
{:type :invoke, :f :read, :value nil, :process 41, :time 23410147372, :index 3815}
{:type :ok, :f :read, :value 1, :process 41, :time 23414988997, :index 3817}
{:type :invoke, :f :read, :value nil, :process 8, :time 23449632835, :index 3820}
{:type :ok, :f :read, :value 1, :process 8, :time 23454334162, :index 3821}
{:type :invoke, :f :cas, :value [2 0], :process 24, :time 23461553328, :index 3824}
{:type :invoke, :f :read, :value nil, :process 25, :time 23502486677, :index 3827}
{:type :invoke, :f :cas, :value [2 4], :process 26, :time 23550556160, :index 3830}
{:type :invoke, :f :cas, :value [2 4], :process 20, :time 23551166307, :index 3831}
{:type :invoke, :f :cas, :value [0 4], :process 23, :time 23555625909, :index 3832}
{:type :invoke, :f :cas, :value [0 4], :process 41, :time 23574245166, :index 3833}
{:type :invoke, :f :cas, :value [0 2], :process 29, :time 23584244949, :index 3835}
{:type :invoke, :f :write, :value 1, :process 8, :time 23624600039, :index 3837}
{:type :fail, :f :cas, :value [2 0], :process 24, :time 23956055413, :index 3840}
{:type :ok, :f :write, :value 1, :process 8, :time 23956055413, :index 3841}
{:type :fail, :f :cas, :value [2 4], :process 26, :time 23956976618, :index 3843}
{:type :ok, :f :cas, :value [1 1], :process 22, :time 23957221180, :index 3844}
{:type :fail, :f :cas, :value [0 4], :process 7, :time 23957232803, :index 3845}
{:type :fail, :f :cas, :value [0 4], :process 23, :time 23958351933, :index 3850}
{:type :fail, :f :cas, :value [2 4], :process 20, :time 23958351933, :index 3851}
{:type :fail, :f :cas, :value [0 4], :process 41, :time 23959112867, :index 3852}
{:type :fail, :f :cas, :value [0 2], :process 29, :time 23959404234, :index 3853}
{:type :ok, :f :read, :value 1, :process 25, :time 23960419957, :index 3857}
{:type :invoke, :f :cas, :value [2 1], :process 41, :time 23966568501, :index 3859}
{:type :fail, :f :cas, :value [2 1], :process 41, :time 23971838200, :index 3861}
{:type :invoke, :f :write, :value 1, :process 7, :time 23973971786, :index 3862}
{:type :ok, :f :write, :value 1, :process 7, :time 23978608372, :index 3863}
{:type :invoke, :f :read, :value nil, :process 29, :time 23978663446, :index 3864}
{:type :invoke, :f :cas, :value [4 1], :process 24, :time 23981398330, :index 3865}
{:type :ok, :f :read, :value 1, :process 29, :time 23983958170, :index 3866}
{:type :fail, :f :cas, :value [4 1], :process 24, :time 23987076626, :index 3868}
{:type :invoke, :f :write, :value 2, :process 25, :time 23987868336, :index 3869}
{:type :ok, :f :write, :value 2, :process 25, :time 23993331339, :index 3871}
{:type :invoke, :f :write, :value 0, :process 20, :time 24015518921, :index 3874}
{:type :invoke, :f :read, :value nil, :process 23, :time 24015521941, :index 3875}
{:type :ok, :f :read, :value 0, :process 23, :time 24021507340, :index 3879}
{:type :ok, :f :write, :value 0, :process 20, :time 24022049358, :index 3880}
{:type :invoke, :f :write, :value 4, :process 7, :time 24052914473, :index 3887}
{:type :ok, :f :write, :value 4, :process 7, :time 24059965297, :index 3889}
{:type :invoke, :f :write, :value 3, :process 23, :time 24061770261, :index 3890}
{:type :ok, :f :write, :value 3, :process 23, :time 24065886790, :index 3891}
{:type :invoke, :f :read, :value nil, :process 26, :time 24070047731, :index 3892}
{:type :invoke, :f :cas, :value [1 3], :process 25, :time 24074587624, :index 3894}
{:type :ok, :f :read, :value 3, :process 26, :time 24075597732, :index 3895}
{:type :fail, :f :cas, :value [1 3], :process 25, :time 24079646210, :index 3897}
{:type :invoke, :f :read, :value nil, :process 20, :time 24121300193, :index 3900}
{:type :invoke, :f :read, :value nil, :process 22, :time 24122950906, :index 3901}
{:type :ok, :f :read, :value 3, :process 20, :time 24126741792, :index 3903}
{:type :ok, :f :read, :value 3, :process 22, :time 24127705560, :index 3904}
{:type :invoke, :f :write, :value 2, :process 41, :time 24141094766, :index 3906}
{:type :ok, :f :write, :value 2, :process 41, :time 24146300703, :index 3907}
{:type :invoke, :f :cas, :value [0 3], :process 24, :time 24146331298, :index 3908}
{:type :invoke, :f :read, :value nil, :process 8, :time 24146472233, :index 3909}
{:type :invoke, :f :write, :value 3, :process 29, :time 24148256271, :index 3911}
{:type :fail, :f :cas, :value [0 3], :process 24, :time 24152152271, :index 3914}
{:type :ok, :f :read, :value 2, :process 8, :time 24152180957, :index 3915}
{:type :ok, :f :write, :value 3, :process 29, :time 24154253018, :index 3919}
{:type :invoke, :f :read, :value nil, :process 8, :time 24157446437, :index 3922}
{:type :ok, :f :read, :value 3, :process 8, :time 24161379891, :index 3923}
{:type :invoke, :f :read, :value nil, :process 41, :time 24182587840, :index 3936}
{:type :ok, :f :read, :value 3, :process 41, :time 24188156579, :index 3938}
{:type :invoke, :f :read, :value nil, :process 20, :time 24199016520, :index 3940}
{:type :invoke, :f :write, :value 0, :process 7, :time 24201231026, :index 3941}
{:type :ok, :f :read, :value 3, :process 20, :time 24204225698, :index 3942}
{:type :ok, :f :write, :value 0, :process 7, :time 24206113228, :index 3943}
{:type :invoke, :f :write, :value 0, :process 26, :time 24207855693, :index 3944}
{:type :ok, :f :write, :value 0, :process 26, :time 24212979877, :index 3945}
{:type :invoke, :f :write, :value 4, :process 25, :time 24213910044, :index 3946}
{:type :ok, :f :write, :value 4, :process 25, :time 24219353930, :index 3947}
{:type :invoke, :f :cas, :value [3 3], :process 7, :time 24221361703, :index 3948}
{:type :fail, :f :cas, :value [3 3], :process 7, :time 24226251307, :index 3949}
{:type :invoke, :f :write, :value 2, :process 23, :time 24234150497, :index 3951}
{:type :invoke, :f :write, :value 2, :process 25, :time 24237608700, :index 3952}
{:type :ok, :f :write, :value 2, :process 23, :time 24238782656, :index 3954}
{:type :ok, :f :write, :value 2, :process 25, :time 24243442117, :index 3955}
{:type :invoke, :f :cas, :value [2 1], :process 24, :time 24243467030, :index 3956}
{:type :ok, :f :cas, :value [2 1], :process 24, :time 24247972809, :index 3957}
{:type :invoke, :f :write, :value 0, :process 41, :time 24248418256, :index 3958}
{:type :ok, :f :write, :value 0, :process 41, :time 24253495828, :index 3959}
{:type :invoke, :f :read, :value nil, :process 26, :time 24274250589, :index 3962}
{:type :ok, :f :read, :value 0, :process 26, :time 24280277804, :index 3964}
{:type :invoke, :f :read, :value nil, :process 22, :time 24291958055, :index 3969}
{:type :invoke, :f :read, :value nil, :process 29, :time 24294490015, :index 3971}
{:type :ok, :f :read, :value 0, :process 22, :time 24298847543, :index 3973}
{:type :ok, :f :read, :value 0, :process 29, :time 24300274216, :index 3975}
{:type :invoke, :f :write, :value 0, :process 8, :time 24313638899, :index 3977}
{:type :invoke, :f :write, :value 3, :process 26, :time 24316553175, :index 3979}
{:type :ok, :f :write, :value 0, :process 8, :time 24318020742, :index 3981}
{:type :ok, :f :write, :value 3, :process 26, :time 24321268382, :index 3982}
{:type :invoke, :f :read, :value nil, :process 23, :time 24322077647, :index 3984}
{:type :ok, :f :read, :value 3, :process 23, :time 24326792810, :index 3986}
{:type :invoke, :f :cas, :value [3 2], :process 25, :time 24328726560, :index 3987}
{:type :ok, :f :cas, :value [3 2], :process 25, :time 24333879081, :index 3991}
{:type :invoke, :f :write, :value 1, :process 25, :time 24336510898, :index 3994}
{:type :ok, :f :write, :value 1, :process 25, :time 24341929218, :index 3995}
{:type :invoke, :f :write, :value 3, :process 22, :time 24353109098, :index 3998}
{:type :invoke, :f :read, :value nil, :process 7, :time 24355510384, :index 3999}
{:type :ok, :f :write, :value 3, :process 22, :time 24358015018, :index 4000}
{:type :ok, :f :read, :value 3, :process 7, :time 24360704265, :index 4001}
{:type :invoke, :f :read, :value nil, :process 26, :time 24362525202, :index 4002}
{:type :invoke, :f :cas, :value [4 2], :process 20, :time 24363486992, :index 4003}
{:type :ok, :f :read, :value 3, :process 26, :time 24369385144, :index 4006}
{:type :fail, :f :cas, :value [4 2], :process 20, :time 24369766695, :index 4007}
{:type :invoke, :f :read, :value nil, :process 7, :time 24383964474, :index 4008}
{:type :ok, :f :read, :value 3, :process 7, :time 24388625115, :index 4009}
{:type :invoke, :f :write, :value 0, :process 23, :time 24399052089, :index 4012}
{:type :invoke, :f :cas, :value [3 0], :process 29, :time 24400529235, :index 4015}
{:type :invoke, :f :cas, :value [0 2], :process 24, :time 24403246951, :index 4016}
{:type :ok, :f :write, :value 0, :process 23, :time 24403683537, :index 4017}
{:type :invoke, :f :write, :value 1, :process 41, :time 24403986915, :index 4018}
{:type :fail, :f :cas, :value [3 0], :process 29, :time 24406226499, :index 4019}
{:type :ok, :f :cas, :value [0 2], :process 24, :time 24408188962, :index 4020}
{:type :ok, :f :write, :value 1, :process 41, :time 24408638304, :index 4021}
{:type :invoke, :f :write, :value 1, :process 25, :time 24421190212, :index 4025}
{:type :ok, :f :write, :value 1, :process 25, :time 24426064259, :index 4027}
{:type :invoke, :f :write, :value 1, :process 8, :time 24432314287, :index 4028}
{:type :ok, :f :write, :value 1, :process 8, :time 24437141518, :index 4031}
{:type :invoke, :f :cas, :value [4 4], :process 24, :time 24439444491, :index 4033}
{:type :invoke, :f :write, :value 2, :process 20, :time 24444037838, :index 4035}
{:type :fail, :f :cas, :value [4 4], :process 24, :time 24444644600, :index 4036}
{:type :ok, :f :write, :value 2, :process 20, :time 24449415317, :index 4037}
{:type :invoke, :f :write, :value 2, :process 23, :time 24449957023, :index 4039}
{:type :invoke, :f :write, :value 2, :process 29, :time 24454505638, :index 4040}
{:type :ok, :f :write, :value 2, :process 23, :time 24455324723, :index 4042}
{:type :ok, :f :write, :value 2, :process 29, :time 24459444417, :index 4043}
{:type :invoke, :f :cas, :value [2 3], :process 41, :time 24461883866, :index 4044}
{:type :ok, :f :cas, :value [2 3], :process 41, :time 24467021405, :index 4046}
{:type :invoke, :f :cas, :value [3 2], :process 22, :time 24476285057, :index 4048}
{:type :ok, :f :cas, :value [3 2], :process 22, :time 24481271175, :index 4049}
{:type :invoke, :f :read, :value nil, :process 8, :time 24514385625, :index 4055}
{:type :ok, :f :read, :value 2, :process 8, :time 24518414239, :index 4057}
{:type :invoke, :f :read, :value nil, :process 7, :time 24530879199, :index 4064}
{:type :ok, :f :read, :value 2, :process 7, :time 24535762243, :index 4066}
{:type :invoke, :f :read, :value nil, :process 25, :time 24538324758, :index 4069}
{:type :ok, :f :read, :value 2, :process 25, :time 24544570460, :index 4073}
{:type :invoke, :f :cas, :value [0 4], :process 26, :time 24548651402, :index 4075}
{:type :fail, :f :cas, :value [0 4], :process 26, :time 24557732925, :index 4080}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
