{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :invoke, :f :cas, :value [2 2], :process 51, :time 33496892772, :index 5099}
{:type :fail, :f :cas, :value [2 2], :process 51, :time 33502233063, :error :not-found, :index 5101}
{:type :invoke, :f :cas, :value [4 3], :process 50, :time 33552751967, :index 5125}
{:type :fail, :f :cas, :value [4 3], :process 50, :time 33558562871, :error :not-found, :index 5128}
{:type :invoke, :f :cas, :value [3 1], :process 52, :time 33594359173, :index 5138}
{:type :invoke, :f :read, :value nil, :process 36, :time 33598217378, :index 5140}
{:type :fail, :f :cas, :value [3 1], :process 52, :time 33599323813, :error :not-found, :index 5141}
{:type :ok, :f :read, :value nil, :process 36, :time 33603599360, :index 5143}
{:type :invoke, :f :cas, :value [1 3], :process 51, :time 33603527658, :index 5144}
{:type :fail, :f :cas, :value [1 3], :process 51, :time 33609358707, :error :not-found, :index 5145}
{:type :invoke, :f :cas, :value [2 1], :process 17, :time 33616129882, :index 5146}
{:type :fail, :f :cas, :value [2 1], :process 17, :time 33621103801, :error :not-found, :index 5147}
{:type :invoke, :f :read, :value nil, :process 17, :time 33635361816, :index 5150}
{:type :ok, :f :read, :value nil, :process 17, :time 33641579929, :index 5155}
{:type :invoke, :f :cas, :value [1 2], :process 52, :time 33679579059, :index 5162}
{:type :invoke, :f :write, :value 3, :process 35, :time 33683729452, :index 5163}
{:type :fail, :f :cas, :value [1 2], :process 52, :time 33685412275, :error :not-found, :index 5164}
{:type :ok, :f :write, :value 3, :process 35, :time 33688945381, :index 5165}
{:type :invoke, :f :write, :value 2, :process 51, :time 33698624603, :index 5166}
{:type :invoke, :f :write, :value 1, :process 50, :time 33701829910, :index 5168}
{:type :invoke, :f :cas, :value [3 1], :process 59, :time 33703931958, :index 5170}
{:type :ok, :f :write, :value 2, :process 51, :time 33704697995, :index 5172}
{:type :ok, :f :write, :value 1, :process 50, :time 33707338478, :index 5173}
{:type :invoke, :f :read, :value nil, :process 34, :time 33708836459, :index 5175}
{:type :fail, :f :cas, :value [3 1], :process 59, :time 33716219057, :index 5178}
{:type :ok, :f :read, :value 1, :process 34, :time 33717267761, :index 5179}
{:type :invoke, :f :read, :value nil, :process 52, :time 33736693021, :index 5184}
{:type :ok, :f :read, :value 1, :process 52, :time 33741531891, :index 5185}
{:type :invoke, :f :write, :value 2, :process 34, :time 33753512131, :index 5188}
{:type :ok, :f :write, :value 2, :process 34, :time 33758916744, :index 5190}
{:type :invoke, :f :cas, :value [4 0], :process 34, :time 33768188346, :index 5192}
{:type :fail, :f :cas, :value [4 0], :process 34, :time 33774021623, :index 5193}
{:type :invoke, :f :read, :value nil, :process 36, :time 33797836351, :index 5197}
{:type :invoke, :f :write, :value 3, :process 17, :time 33801837626, :index 5198}
{:type :ok, :f :read, :value 2, :process 36, :time 33803212723, :index 5200}
{:type :ok, :f :write, :value 3, :process 17, :time 33806259873, :index 5201}
{:type :invoke, :f :write, :value 3, :process 59, :time 33806479519, :index 5202}
{:type :ok, :f :write, :value 3, :process 59, :time 33812119441, :index 5203}
{:type :invoke, :f :read, :value nil, :process 35, :time 33823204461, :index 5204}
{:type :ok, :f :read, :value 3, :process 35, :time 33828438966, :index 5207}
{:type :invoke, :f :read, :value nil, :process 51, :time 33846966865, :index 5216}
{:type :invoke, :f :write, :value 0, :process 34, :time 33847292501, :index 5217}
{:type :ok, :f :read, :value 3, :process 51, :time 33852465911, :index 5218}
{:type :ok, :f :write, :value 0, :process 34, :time 33853673335, :index 5219}
{:type :invoke, :f :write, :value 0, :process 50, :time 33858597287, :index 5220}
{:type :ok, :f :write, :value 0, :process 50, :time 33864530491, :index 5221}
{:type :invoke, :f :cas, :value [0 0], :process 59, :time 33869378551, :index 5223}
{:type :ok, :f :cas, :value [0 0], :process 59, :time 33875645525, :index 5225}
{:type :invoke, :f :cas, :value [4 4], :process 52, :time 33879793739, :index 5227}
{:type :fail, :f :cas, :value [4 4], :process 52, :time 33884292355, :index 5231}
{:type :invoke, :f :read, :value nil, :process 51, :time 33910758594, :index 5237}
{:type :invoke, :f :write, :value 1, :process 34, :time 33910923713, :index 5238}
{:type :ok, :f :write, :value 1, :process 34, :time 33916546162, :index 5239}
{:type :ok, :f :read, :value 1, :process 51, :time 33916832048, :index 5241}
{:type :invoke, :f :read, :value nil, :process 34, :time 33935817154, :index 5244}
{:type :ok, :f :read, :value 1, :process 34, :time 33941117844, :index 5246}
{:type :invoke, :f :write, :value 0, :process 59, :time 33946918219, :index 5249}
{:type :ok, :f :write, :value 0, :process 59, :time 33952617893, :index 5251}
{:type :invoke, :f :read, :value nil, :process 17, :time 33961516196, :index 5254}
{:type :ok, :f :read, :value 0, :process 17, :time 33966151547, :index 5255}
{:type :invoke, :f :cas, :value [1 1], :process 52, :time 33971548949, :index 5257}
{:type :fail, :f :cas, :value [1 1], :process 52, :time 33975938526, :index 5259}
{:type :invoke, :f :write, :value 0, :process 59, :time 33975887887, :index 5260}
{:type :ok, :f :write, :value 0, :process 59, :time 33980890924, :index 5261}
{:type :invoke, :f :cas, :value [3 4], :process 51, :time 33981086051, :index 5262}
{:type :fail, :f :cas, :value [3 4], :process 51, :time 33986587643, :index 5263}
{:type :invoke, :f :read, :value nil, :process 36, :time 33988474341, :index 5264}
{:type :invoke, :f :read, :value nil, :process 51, :time 33990869499, :index 5265}
{:type :ok, :f :read, :value 0, :process 36, :time 33993008124, :index 5266}
{:type :ok, :f :read, :value 0, :process 51, :time 33995739754, :index 5268}
{:type :invoke, :f :write, :value 3, :process 35, :time 33997658945, :index 5269}
{:type :ok, :f :write, :value 3, :process 35, :time 34003053684, :index 5271}
{:type :invoke, :f :cas, :value [4 1], :process 17, :time 34022415540, :index 5276}
{:type :fail, :f :cas, :value [4 1], :process 17, :time 34027386424, :index 5281}
{:type :invoke, :f :cas, :value [0 4], :process 34, :time 34053397136, :index 5291}
{:type :fail, :f :cas, :value [0 4], :process 34, :time 34059134603, :index 5293}
{:type :invoke, :f :write, :value 0, :process 50, :time 34062795593, :index 5294}
{:type :ok, :f :write, :value 0, :process 50, :time 34068561870, :index 5295}
{:type :invoke, :f :write, :value 0, :process 51, :time 34073001792, :index 5297}
{:type :ok, :f :write, :value 0, :process 51, :time 34077980325, :index 5299}
{:type :invoke, :f :write, :value 1, :process 50, :time 34089813927, :index 5302}
{:type :ok, :f :write, :value 1, :process 50, :time 34095634173, :index 5303}
{:type :invoke, :f :write, :value 2, :process 51, :time 34107225166, :index 5308}
{:type :ok, :f :write, :value 2, :process 51, :time 34112764737, :index 5310}
{:type :invoke, :f :write, :value 2, :process 36, :time 34124265506, :index 5316}
{:type :invoke, :f :read, :value nil, :process 17, :time 34127645766, :index 5318}
{:type :ok, :f :write, :value 2, :process 36, :time 34129141172, :index 5319}
{:type :invoke, :f :read, :value nil, :process 59, :time 34131154027, :index 5320}
{:type :ok, :f :read, :value 2, :process 17, :time 34132210062, :index 5321}
{:type :ok, :f :read, :value 2, :process 59, :time 34136093352, :index 5323}
{:type :invoke, :f :write, :value 4, :process 35, :time 34149305051, :index 5326}
{:type :invoke, :f :read, :value nil, :process 78, :time 34154088923, :index 5328}
{:type :ok, :f :write, :value 4, :process 35, :time 34154474736, :index 5329}
{:type :ok, :f :read, :value 4, :process 78, :time 34158764079, :index 5332}
{:type :invoke, :f :write, :value 1, :process 52, :time 34162181430, :index 5334}
{:type :invoke, :f :cas, :value [1 4], :process 59, :time 34165379443, :index 5335}
{:type :ok, :f :write, :value 1, :process 52, :time 34166693519, :index 5336}
{:type :ok, :f :cas, :value [1 4], :process 59, :time 34170872640, :index 5338}
{:type :invoke, :f :write, :value 0, :process 50, :time 34185899974, :index 5341}
{:type :invoke, :f :cas, :value [4 4], :process 53, :time 34186356019, :index 5342}
{:type :ok, :f :write, :value 0, :process 50, :time 34191612676, :index 5345}
{:type :fail, :f :cas, :value [4 4], :process 53, :time 34192861055, :index 5346}
{:type :invoke, :f :read, :value nil, :process 34, :time 34214396838, :index 5354}
{:type :invoke, :f :cas, :value [1 3], :process 78, :time 34229015048, :index 5359}
{:type :invoke, :f :read, :value nil, :process 53, :time 34234095682, :index 5360}
{:type :fail, :f :cas, :value [1 3], :process 78, :time 34234724689, :index 5361}
{:type :ok, :f :read, :value 0, :process 53, :time 34238770372, :index 5362}
{:type :invoke, :f :read, :value nil, :process 53, :time 34247024254, :index 5365}
{:type :ok, :f :read, :value 0, :process 53, :time 34252401552, :index 5366}
{:type :invoke, :f :read, :value nil, :process 50, :time 34255879012, :index 5367}
{:type :ok, :f :read, :value 0, :process 50, :time 34261589953, :index 5368}
{:type :invoke, :f :read, :value nil, :process 53, :time 34264662012, :index 5370}
{:type :ok, :f :read, :value 0, :process 53, :time 34271408122, :index 5372}
{:type :invoke, :f :write, :value 0, :process 53, :time 34272810805, :index 5375}
{:type :invoke, :f :cas, :value [0 1], :process 52, :time 34274983353, :index 5376}
{:type :invoke, :f :cas, :value [1 0], :process 51, :time 34275109031, :index 5377}
{:type :ok, :f :write, :value 0, :process 53, :time 34278013087, :index 5379}
{:type :ok, :f :cas, :value [0 1], :process 52, :time 34279657191, :index 5381}
{:type :ok, :f :cas, :value [1 0], :process 51, :time 34280726470, :index 5382}
{:type :invoke, :f :cas, :value [2 1], :process 17, :time 34282479441, :index 5383}
{:type :fail, :f :cas, :value [2 1], :process 17, :time 34287303732, :index 5384}
{:type :invoke, :f :write, :value 3, :process 53, :time 34300299007, :index 5387}
{:type :invoke, :f :write, :value 3, :process 52, :time 34304915973, :index 5388}
{:type :ok, :f :write, :value 3, :process 53, :time 34305303635, :index 5389}
{:type :ok, :f :write, :value 3, :process 52, :time 34309395803, :index 5390}
{:type :invoke, :f :write, :value 4, :process 36, :time 34312438067, :index 5392}
{:type :invoke, :f :read, :value nil, :process 59, :time 34314166757, :index 5393}
{:type :ok, :f :write, :value 4, :process 36, :time 34317107966, :index 5395}
{:type :invoke, :f :cas, :value [2 2], :process 35, :time 34345738860, :index 5400}
{:type :invoke, :f :read, :value nil, :process 17, :time 34349583812, :index 5402}
{:type :fail, :f :cas, :value [2 2], :process 35, :time 34352515696, :index 5404}
{:type :ok, :f :read, :value 4, :process 17, :time 34353867539, :index 5405}
{:type :invoke, :f :read, :value nil, :process 51, :time 34359006585, :index 5407}
{:type :ok, :f :read, :value 4, :process 51, :time 34364513020, :index 5410}
{:type :invoke, :f :write, :value 1, :process 50, :time 34376848908, :index 5415}
{:type :ok, :f :write, :value 1, :process 50, :time 34382146848, :index 5419}
{:type :invoke, :f :read, :value nil, :process 52, :time 34387659170, :index 5422}
{:type :ok, :f :read, :value 1, :process 52, :time 34392325264, :index 5423}
{:type :invoke, :f :cas, :value [0 2], :process 78, :time 34403015769, :index 5424}
{:type :fail, :f :cas, :value [0 2], :process 78, :time 34408326129, :index 5425}
{:type :invoke, :f :write, :value 4, :process 78, :time 34427586224, :index 5431}
{:type :ok, :f :write, :value 4, :process 78, :time 34432665673, :index 5433}
{:type :invoke, :f :read, :value nil, :process 36, :time 34465363314, :index 5436}
{:type :ok, :f :read, :value 4, :process 36, :time 34471043758, :index 5437}
{:type :invoke, :f :read, :value nil, :process 51, :time 34472803926, :index 5438}
{:type :invoke, :f :cas, :value [0 1], :process 78, :time 34475928356, :index 5439}
{:type :ok, :f :read, :value 4, :process 51, :time 34478029099, :index 5440}
{:type :fail, :f :cas, :value [0 1], :process 78, :time 34481191090, :index 5441}
{:type :invoke, :f :write, :value 4, :process 53, :time 34491542467, :index 5446}
{:type :ok, :f :write, :value 4, :process 53, :time 34496473650, :index 5447}
{:type :invoke, :f :read, :value nil, :process 78, :time 34506491815, :index 5449}
{:type :invoke, :f :read, :value nil, :process 17, :time 34510118755, :index 5451}
{:type :ok, :f :read, :value 4, :process 78, :time 34511088119, :index 5452}
{:type :ok, :f :read, :value 4, :process 17, :time 34514872787, :index 5453}
{:type :invoke, :f :write, :value 4, :process 52, :time 34526587276, :index 5458}
{:type :ok, :f :write, :value 4, :process 52, :time 34530314339, :index 5459}
{:type :invoke, :f :write, :value 0, :process 35, :time 34544769546, :index 5460}
{:type :ok, :f :write, :value 0, :process 35, :time 34550643107, :index 5462}
{:type :invoke, :f :write, :value 2, :process 17, :time 34559126763, :index 5464}
{:type :ok, :f :write, :value 2, :process 17, :time 34564130007, :index 5465}
{:type :invoke, :f :cas, :value [3 3], :process 17, :time 34572388801, :index 5467}
{:type :invoke, :f :cas, :value [2 2], :process 36, :time 34573308152, :index 5468}
{:type :fail, :f :cas, :value [3 3], :process 17, :time 34577702105, :index 5470}
{:type :ok, :f :cas, :value [2 2], :process 36, :time 34578798888, :index 5471}
{:type :invoke, :f :write, :value 2, :process 50, :time 34581390675, :index 5472}
{:type :invoke, :f :write, :value 1, :process 17, :time 34585959003, :index 5474}
{:type :ok, :f :write, :value 2, :process 50, :time 34586308282, :index 5475}
{:type :ok, :f :write, :value 1, :process 17, :time 34590835237, :index 5477}
{:type :invoke, :f :read, :value nil, :process 36, :time 34599061681, :index 5480}
{:type :ok, :f :read, :value 1, :process 36, :time 34603712576, :index 5481}
{:type :invoke, :f :write, :value 4, :process 53, :time 34609736138, :index 5482}
{:type :ok, :f :write, :value 4, :process 53, :time 34614403401, :index 5484}
{:type :invoke, :f :read, :value nil, :process 53, :time 34634659490, :index 5486}
{:type :ok, :f :read, :value 4, :process 53, :time 34639544875, :index 5488}
{:type :invoke, :f :read, :value nil, :process 51, :time 34646290680, :index 5490}
{:type :invoke, :f :read, :value nil, :process 78, :time 34651379818, :index 5493}
{:type :ok, :f :read, :value 4, :process 51, :time 34651620951, :index 5494}
{:type :ok, :f :read, :value 4, :process 78, :time 34656592230, :index 5497}
{:type :invoke, :f :read, :value nil, :process 52, :time 34680579711, :index 5503}
{:type :ok, :f :read, :value 4, :process 52, :time 34686069725, :index 5505}
{:type :ok, :f :read, :value 4, :process 59, :time 34711745124, :index 5509}
{:type :ok, :f :read, :value 4, :process 34, :time 34711972339, :index 5511}
{:type :invoke, :f :write, :value 2, :process 50, :time 34714561410, :index 5515}
{:type :ok, :f :write, :value 2, :process 50, :time 34725827280, :index 5517}
{:type :invoke, :f :write, :value 3, :process 35, :time 34746930979, :index 5520}
{:type :ok, :f :write, :value 3, :process 35, :time 34752392222, :index 5521}
{:type :invoke, :f :read, :value nil, :process 17, :time 34756097488, :index 5523}
{:type :invoke, :f :write, :value 3, :process 78, :time 34758876888, :index 5525}
{:type :ok, :f :read, :value 3, :process 17, :time 34760765563, :index 5526}
{:type :ok, :f :write, :value 3, :process 78, :time 34764377746, :index 5529}
{:type :invoke, :f :cas, :value [2 0], :process 36, :time 34774970446, :index 5531}
{:type :fail, :f :cas, :value [2 0], :process 36, :time 34780652575, :index 5534}
{:type :invoke, :f :cas, :value [4 0], :process 51, :time 34780893409, :index 5535}
{:type :invoke, :f :cas, :value [1 2], :process 52, :time 34782333104, :index 5537}
{:type :fail, :f :cas, :value [4 0], :process 51, :time 34785450666, :index 5538}
{:type :fail, :f :cas, :value [1 2], :process 52, :time 34787117264, :index 5539}
{:type :invoke, :f :read, :value nil, :process 53, :time 34807798352, :index 5546}
{:type :ok, :f :read, :value 3, :process 53, :time 34812820019, :index 5547}
{:type :invoke, :f :read, :value nil, :process 59, :time 34881021016, :index 5572}
{:type :ok, :f :read, :value 3, :process 59, :time 34886074714, :index 5573}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
