{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :invoke, :f :cas, :value [4 3], :process 30, :time 16786452356, :index 3999}
{:type :invoke, :f :read, :value nil, :process 18, :time 16788461328, :index 4000}
{:type :ok, :f :read, :value nil, :process 18, :time 16793517086, :index 4005}
{:type :fail, :f :cas, :value [4 3], :process 30, :time 16793521149, :error :not-found, :index 4006}
{:type :invoke, :f :write, :value 2, :process 13, :time 16813191948, :index 4014}
{:type :ok, :f :write, :value 2, :process 13, :time 16817416201, :index 4015}
{:type :invoke, :f :read, :value nil, :process 30, :time 16833782960, :index 4018}
{:type :ok, :f :read, :value 2, :process 30, :time 16839308747, :index 4019}
{:type :invoke, :f :write, :value 1, :process 16, :time 16882571341, :index 4025}
{:type :ok, :f :write, :value 1, :process 16, :time 16888609467, :index 4027}
{:type :invoke, :f :cas, :value [3 3], :process 35, :time 16917810385, :index 4034}
{:type :fail, :f :cas, :value [3 3], :process 35, :time 16922696473, :index 4035}
{:type :invoke, :f :write, :value 4, :process 16, :time 16941866869, :index 4037}
{:type :ok, :f :write, :value 4, :process 16, :time 16948612969, :index 4039}
{:type :invoke, :f :read, :value nil, :process 30, :time 16970569740, :index 4040}
{:type :invoke, :f :cas, :value [0 3], :process 11, :time 16974369460, :index 4042}
{:type :invoke, :f :write, :value 4, :process 18, :time 16976791338, :index 4043}
{:type :ok, :f :read, :value 4, :process 30, :time 16977516433, :index 4044}
{:type :fail, :f :cas, :value [0 3], :process 11, :time 16979623853, :index 4046}
{:type :ok, :f :write, :value 4, :process 18, :time 16981940284, :index 4047}
{:type :invoke, :f :write, :value 4, :process 13, :time 17005679860, :index 4050}
{:type :ok, :f :write, :value 4, :process 13, :time 17010838466, :index 4051}
{:type :invoke, :f :write, :value 2, :process 18, :time 17026220006, :index 4054}
{:type :ok, :f :write, :value 2, :process 18, :time 17030981373, :index 4055}
{:type :invoke, :f :read, :value nil, :process 16, :time 17036875904, :index 4057}
{:type :ok, :f :read, :value 2, :process 16, :time 17042370814, :index 4059}
{:type :invoke, :f :cas, :value [1 2], :process 35, :time 17061957497, :index 4060}
{:type :fail, :f :cas, :value [1 2], :process 35, :time 17067526888, :index 4061}
{:type :invoke, :f :cas, :value [0 0], :process 13, :time 17074099188, :index 4062}
{:type :fail, :f :cas, :value [0 0], :process 13, :time 17078806420, :index 4064}
{:type :invoke, :f :cas, :value [2 1], :process 16, :time 17080628090, :index 4067}
{:type :ok, :f :cas, :value [2 1], :process 16, :time 17085225466, :index 4069}
{:type :invoke, :f :read, :value nil, :process 18, :time 17101237867, :index 4070}
{:type :invoke, :f :read, :value nil, :process 13, :time 17104066268, :index 4071}
{:type :ok, :f :read, :value 1, :process 18, :time 17106156066, :index 4072}
{:type :ok, :f :read, :value 1, :process 13, :time 17108667011, :index 4073}
{:type :invoke, :f :cas, :value [2 4], :process 35, :time 17133770645, :index 4076}
{:type :fail, :f :cas, :value [2 4], :process 35, :time 17139366147, :index 4077}
{:type :invoke, :f :write, :value 2, :process 35, :time 17150658673, :index 4080}
{:type :invoke, :f :read, :value nil, :process 11, :time 17150892222, :index 4081}
{:type :ok, :f :read, :value 1, :process 11, :time 17155659976, :index 4084}
{:type :ok, :f :write, :value 2, :process 35, :time 17156585873, :index 4085}
{:type :invoke, :f :cas, :value [2 3], :process 30, :time 17160793481, :index 4087}
{:type :ok, :f :cas, :value [2 3], :process 30, :time 17166939597, :index 4089}
{:type :invoke, :f :read, :value nil, :process 13, :time 17180908284, :index 4092}
{:type :ok, :f :read, :value 3, :process 13, :time 17185134613, :index 4095}
{:type :invoke, :f :cas, :value [0 1], :process 35, :time 17207833612, :index 4100}
{:type :fail, :f :cas, :value [0 1], :process 35, :time 17213475189, :index 4101}
{:type :invoke, :f :read, :value nil, :process 18, :time 17228418068, :index 4102}
{:type :ok, :f :read, :value 3, :process 18, :time 17232691987, :index 4103}
{:type :invoke, :f :write, :value 2, :process 16, :time 17255467539, :index 4105}
{:type :ok, :f :write, :value 2, :process 16, :time 17263360808, :index 4106}
{:type :invoke, :f :read, :value nil, :process 11, :time 17291906751, :index 4112}
{:type :ok, :f :read, :value 2, :process 11, :time 17297219703, :index 4113}
{:type :invoke, :f :write, :value 2, :process 11, :time 17317493843, :index 4115}
{:type :ok, :f :write, :value 2, :process 11, :time 17322272546, :index 4117}
{:type :invoke, :f :write, :value 0, :process 13, :time 17328375626, :index 4119}
{:type :invoke, :f :read, :value nil, :process 11, :time 17330529596, :index 4122}
{:type :ok, :f :write, :value 0, :process 13, :time 17333545058, :index 4123}
{:type :invoke, :f :read, :value nil, :process 30, :time 17334209482, :index 4124}
{:type :ok, :f :read, :value 0, :process 11, :time 17336077499, :index 4126}
{:type :ok, :f :read, :value 0, :process 30, :time 17339665841, :index 4127}
{:type :invoke, :f :read, :value nil, :process 16, :time 17370630312, :index 4132}
{:type :ok, :f :read, :value 0, :process 16, :time 17375636404, :index 4133}
{:type :invoke, :f :cas, :value [0 2], :process 35, :time 17382737277, :index 4135}
{:type :ok, :f :cas, :value [0 2], :process 35, :time 17387876161, :index 4137}
{:type :invoke, :f :cas, :value [4 2], :process 11, :time 17419365666, :index 4142}
{:type :fail, :f :cas, :value [4 2], :process 11, :time 17424649608, :index 4143}
{:type :invoke, :f :cas, :value [0 1], :process 18, :time 17427952269, :index 4144}
{:type :fail, :f :cas, :value [0 1], :process 18, :time 17433359507, :index 4147}
{:type :invoke, :f :read, :value nil, :process 16, :time 17442890558, :index 4150}
{:type :ok, :f :read, :value 2, :process 16, :time 17447977235, :index 4151}
{:type :invoke, :f :cas, :value [4 2], :process 13, :time 17473803417, :index 4152}
{:type :fail, :f :cas, :value [4 2], :process 13, :time 17479658539, :index 4153}
{:type :invoke, :f :write, :value 0, :process 30, :time 17504919150, :index 4156}
{:type :ok, :f :write, :value 0, :process 30, :time 17511083693, :index 4157}
{:type :invoke, :f :write, :value 2, :process 18, :time 17516621971, :index 4158}
{:type :invoke, :f :write, :value 3, :process 13, :time 17519925913, :index 4159}
{:type :ok, :f :write, :value 2, :process 18, :time 17521316150, :index 4161}
{:type :ok, :f :write, :value 3, :process 13, :time 17524892081, :index 4162}
{:type :invoke, :f :cas, :value [0 2], :process 35, :time 17546139683, :index 4167}
{:type :fail, :f :cas, :value [0 2], :process 35, :time 17552191623, :index 4169}
{:type :invoke, :f :write, :value 2, :process 11, :time 17571907828, :index 4174}
{:type :ok, :f :write, :value 2, :process 11, :time 17578473057, :index 4175}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 17580745063, :index 4176}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 17586947621, :index 4177}
{:type :invoke, :f :write, :value 4, :process 16, :time 17588242488, :index 4178}
{:type :ok, :f :write, :value 4, :process 16, :time 17593393168, :index 4179}
{:type :invoke, :f :cas, :value [0 3], :process 35, :time 17598446804, :index 4180}
{:type :fail, :f :cas, :value [0 3], :process 35, :time 17604516286, :index 4181}
{:type :invoke, :f :cas, :value [4 3], :process 13, :time 17644154734, :index 4183}
{:type :ok, :f :cas, :value [4 3], :process 13, :time 17648537219, :index 4184}
{:type :invoke, :f :write, :value 0, :process 30, :time 17651344463, :index 4187}
{:type :ok, :f :write, :value 0, :process 30, :time 17656292875, :index 4189}
{:type :invoke, :f :read, :value nil, :process 18, :time 17656579529, :index 4190}
{:type :ok, :f :read, :value 0, :process 18, :time 17660854553, :index 4191}
{:type :invoke, :f :cas, :value [2 2], :process 16, :time 17681651306, :index 4192}
{:type :fail, :f :cas, :value [2 2], :process 16, :time 17687413145, :index 4193}
{:type :invoke, :f :write, :value 1, :process 13, :time 17709833869, :index 4196}
{:type :ok, :f :write, :value 1, :process 13, :time 17715374123, :index 4198}
{:type :invoke, :f :cas, :value [1 2], :process 11, :time 17761204357, :index 4211}
{:type :ok, :f :cas, :value [1 2], :process 11, :time 17765817093, :index 4213}
{:type :invoke, :f :read, :value nil, :process 35, :time 17783772532, :index 4216}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 17787705459, :index 4217}
{:type :invoke, :f :read, :value nil, :process 18, :time 17788129004, :index 4218}
{:type :ok, :f :read, :value 2, :process 35, :time 17789517865, :index 4219}
{:type :ok, :f :read, :value 2, :process 18, :time 17792523336, :index 4220}
{:type :fail, :f :cas, :value [3 0], :process 16, :time 17793684445, :index 4221}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 17802042124, :index 4223}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 17808118426, :index 4225}
{:type :invoke, :f :read, :value nil, :process 13, :time 17811614309, :index 4226}
{:type :ok, :f :read, :value 2, :process 13, :time 17816659509, :index 4227}
{:type :invoke, :f :write, :value 3, :process 30, :time 17844542978, :index 4230}
{:type :invoke, :f :write, :value 2, :process 35, :time 17857819638, :index 4231}
{:type :ok, :f :write, :value 3, :process 30, :time 17860026392, :index 4232}
{:type :ok, :f :write, :value 2, :process 35, :time 17863230361, :index 4233}
{:type :invoke, :f :read, :value nil, :process 30, :time 17864294706, :index 4234}
{:type :ok, :f :read, :value 2, :process 30, :time 17869891165, :index 4235}
{:type :invoke, :f :write, :value 1, :process 16, :time 17877964066, :index 4236}
{:type :ok, :f :write, :value 1, :process 16, :time 17883714999, :index 4237}
{:type :invoke, :f :write, :value 3, :process 18, :time 17938787699, :index 4248}
{:type :ok, :f :write, :value 3, :process 18, :time 17943742178, :index 4249}
{:type :invoke, :f :write, :value 4, :process 11, :time 17974376796, :index 4254}
{:type :ok, :f :write, :value 4, :process 11, :time 17980213725, :index 4255}
{:type :invoke, :f :write, :value 0, :process 13, :time 18004920655, :index 4257}
{:type :ok, :f :write, :value 0, :process 13, :time 18009095693, :index 4259}
{:type :invoke, :f :read, :value nil, :process 30, :time 18018154167, :index 4260}
{:type :ok, :f :read, :value 0, :process 30, :time 18024141501, :index 4262}
{:type :invoke, :f :write, :value 2, :process 35, :time 18029482328, :index 4267}
{:type :invoke, :f :read, :value nil, :process 11, :time 18030052182, :index 4268}
{:type :ok, :f :read, :value 0, :process 11, :time 18034894672, :index 4270}
{:type :ok, :f :write, :value 2, :process 35, :time 18035838424, :index 4271}
{:type :invoke, :f :write, :value 0, :process 30, :time 18036402926, :index 4272}
{:type :ok, :f :write, :value 0, :process 30, :time 18041885848, :index 4273}
{:type :invoke, :f :read, :value nil, :process 16, :time 18041983886, :index 4274}
{:type :ok, :f :read, :value 0, :process 16, :time 18047101240, :index 4275}
{:type :invoke, :f :write, :value 2, :process 18, :time 18097003703, :index 4280}
{:type :ok, :f :write, :value 2, :process 18, :time 18102389432, :index 4281}
{:type :invoke, :f :write, :value 0, :process 11, :time 18128147036, :index 4282}
{:type :ok, :f :write, :value 0, :process 11, :time 18133307935, :index 4283}
{:type :invoke, :f :write, :value 2, :process 30, :time 18134152808, :index 4284}
{:type :ok, :f :write, :value 2, :process 30, :time 18139314340, :index 4286}
{:type :invoke, :f :read, :value nil, :process 30, :time 18145569691, :index 4290}
{:type :ok, :f :read, :value 2, :process 30, :time 18152952770, :index 4291}
{:type :invoke, :f :write, :value 1, :process 16, :time 18170361792, :index 4293}
{:type :ok, :f :write, :value 1, :process 16, :time 18175324487, :index 4296}
{:type :invoke, :f :write, :value 4, :process 13, :time 18188344540, :index 4298}
{:type :ok, :f :write, :value 4, :process 13, :time 18193242978, :index 4299}
{:type :invoke, :f :write, :value 1, :process 35, :time 18195094925, :index 4300}
{:type :ok, :f :write, :value 1, :process 35, :time 18200654450, :index 4301}
{:type :invoke, :f :write, :value 1, :process 13, :time 18231498435, :index 4302}
{:type :ok, :f :write, :value 1, :process 13, :time 18236862262, :index 4303}
{:type :invoke, :f :cas, :value [3 0], :process 13, :time 18240128929, :index 4304}
{:type :fail, :f :cas, :value [3 0], :process 13, :time 18245265590, :index 4306}
{:type :invoke, :f :cas, :value [2 4], :process 35, :time 18253924748, :index 4308}
{:type :fail, :f :cas, :value [2 4], :process 35, :time 18259753478, :index 4309}
{:type :invoke, :f :read, :value nil, :process 16, :time 18267583949, :index 4311}
{:type :ok, :f :read, :value 1, :process 16, :time 18272869321, :index 4313}
{:type :invoke, :f :read, :value nil, :process 11, :time 18293580504, :index 4316}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 18293658471, :index 4317}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 18298675501, :index 4318}
{:type :ok, :f :read, :value 1, :process 11, :time 18299609033, :index 4319}
{:type :invoke, :f :read, :value nil, :process 35, :time 18305932503, :index 4320}
{:type :invoke, :f :cas, :value [0 2], :process 30, :time 18311230273, :index 4322}
{:type :ok, :f :read, :value 1, :process 35, :time 18311614809, :index 4323}
{:type :fail, :f :cas, :value [0 2], :process 30, :time 18316762439, :index 4325}
{:type :invoke, :f :read, :value nil, :process 18, :time 18336932961, :index 4330}
{:type :ok, :f :read, :value 1, :process 18, :time 18341748518, :index 4332}
{:type :invoke, :f :cas, :value [1 0], :process 13, :time 18360528039, :index 4336}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 18367140462, :index 4339}
{:type :invoke, :f :read, :value nil, :process 30, :time 18372041328, :index 4340}
{:type :invoke, :f :read, :value nil, :process 11, :time 18420863314, :index 4342}
{:type :invoke, :f :write, :value 3, :process 35, :time 18441866424, :index 4344}
{:type :invoke, :f :read, :value nil, :process 18, :time 18529017109, :index 4349}
{:type :ok, :f :cas, :value [1 0], :process 13, :time 18851883167, :index 4350}
{:type :ok, :f :read, :value 3, :process 18, :time 18853116428, :index 4352}
{:type :ok, :f :cas, :value [3 2], :process 16, :time 18853808954, :index 4354}
{:type :ok, :f :read, :value 2, :process 11, :time 18853839286, :index 4355}
{:type :ok, :f :write, :value 3, :process 35, :time 18854161701, :index 4357}
{:type :ok, :f :read, :value 0, :process 30, :time 18854758016, :index 4359}
{:type :invoke, :f :write, :value 1, :process 30, :time 18890032452, :index 4362}
{:type :ok, :f :write, :value 1, :process 30, :time 18896329654, :index 4364}
{:type :invoke, :f :write, :value 4, :process 13, :time 18903269625, :index 4366}
{:type :invoke, :f :read, :value nil, :process 11, :time 18903357680, :index 4367}
{:type :ok, :f :write, :value 4, :process 13, :time 18908242229, :index 4368}
{:type :ok, :f :read, :value 4, :process 11, :time 18910169343, :index 4369}
{:type :invoke, :f :write, :value 0, :process 35, :time 18962437792, :index 4378}
{:type :ok, :f :write, :value 0, :process 35, :time 18967816183, :index 4379}
{:type :invoke, :f :cas, :value [3 2], :process 30, :time 18979591491, :index 4380}
{:type :fail, :f :cas, :value [3 2], :process 30, :time 18985570179, :index 4382}
{:type :invoke, :f :write, :value 0, :process 13, :time 18987507401, :index 4384}
{:type :ok, :f :write, :value 0, :process 13, :time 18994429667, :index 4386}
{:type :invoke, :f :read, :value nil, :process 35, :time 19022040178, :index 4394}
{:type :ok, :f :read, :value 0, :process 35, :time 19026811246, :index 4395}
{:type :invoke, :f :read, :value nil, :process 18, :time 19035396623, :index 4397}
{:type :invoke, :f :read, :value nil, :process 16, :time 19037112558, :index 4399}
{:type :ok, :f :read, :value 0, :process 18, :time 19039344319, :index 4400}
{:type :ok, :f :read, :value 0, :process 16, :time 19042862961, :index 4401}
{:type :invoke, :f :read, :value nil, :process 11, :time 19054417509, :index 4402}
{:type :ok, :f :read, :value 0, :process 11, :time 19060910185, :index 4404}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
