{:type :invoke, :f :read, :value nil, :process 1, :time 45718107, :index 0}
{:type :ok, :f :read, :value nil, :process 1, :time 144292898, :index 1}
{:type :invoke, :f :write, :value 4, :process 2, :time 205183781, :index 2}
{:type :ok, :f :write, :value 4, :process 2, :time 237301647, :index 3}
{:type :invoke, :f :write, :value 4, :process 4, :time 962270217, :index 4}
{:type :ok, :f :write, :value 4, :process 4, :time 970290568, :index 5}
{:type :invoke, :f :read, :value nil, :process 3, :time 1301328155, :index 6}
{:type :ok, :f :read, :value "4", :process 3, :time 1306603166, :index 7}
{:type :invoke, :f :read, :value nil, :process 2, :time 1631911147, :index 8}
{:type :ok, :f :read, :value "4", :process 2, :time 1637670978, :index 9}
{:type :invoke, :f :read, :value nil, :process 0, :time 1684168422, :index 10}
{:type :ok, :f :read, :value "4", :process 0, :time 1689147148, :index 11}
{:type :invoke, :f :read, :value nil, :process 3, :time 1842099787, :index 12}
{:type :ok, :f :read, :value "4", :process 3, :time 1847215727, :index 13}
{:type :invoke, :f :read, :value nil, :process 4, :time 1856788530, :index 14}
{:type :ok, :f :read, :value "4", :process 4, :time 1861190507, :index 15}
{:type :invoke, :f :write, :value 2, :process 4, :time 1970637049, :index 16}
{:type :ok, :f :write, :value 2, :process 4, :time 1977890543, :index 17}
{:type :invoke, :f :read, :value nil, :process 1, :time 1995845777, :index 18}
{:type :ok, :f :read, :value "2", :process 1, :time 1999781201, :index 19}
{:type :invoke, :f :read, :value nil, :process 2, :time 2543169155, :index 20}
{:type :ok, :f :read, :value "2", :process 2, :time 2549759233, :index 21}
{:type :invoke, :f :write, :value 4, :process 1, :time 2576252558, :index 22}
{:type :ok, :f :write, :value 4, :process 1, :time 2582498473, :index 23}
{:type :invoke, :f :write, :value 3, :process 0, :time 2792505542, :index 24}
{:type :ok, :f :write, :value 3, :process 0, :time 2800779519, :index 25}
{:type :invoke, :f :write, :value 3, :process 4, :time 2983330309, :index 26}
{:type :ok, :f :write, :value 3, :process 4, :time 2991211020, :index 27}
{:type :invoke, :f :read, :value nil, :process 4, :time 3202699906, :index 28}
{:type :ok, :f :read, :value "3", :process 4, :time 3208944641, :index 29}
{:type :invoke, :f :write, :value 3, :process 3, :time 3592704759, :index 30}
{:type :ok, :f :write, :value 3, :process 3, :time 3601115771, :index 31}
{:type :invoke, :f :write, :value 3, :process 2, :time 3678293060, :index 32}
{:type :ok, :f :write, :value 3, :process 2, :time 3684816339, :index 33}
{:type :invoke, :f :read, :value nil, :process 1, :time 3693926327, :index 34}
{:type :ok, :f :read, :value "3", :process 1, :time 3698536231, :index 35}
{:type :invoke, :f :write, :value 3, :process 0, :time 3702220989, :index 36}
{:type :ok, :f :write, :value 3, :process 0, :time 3709343198, :index 37}
{:type :invoke, :f :read, :value nil, :process 4, :time 4486480696, :index 38}
{:type :ok, :f :read, :value "3", :process 4, :time 4493579221, :index 39}
{:type :invoke, :f :write, :value 3, :process 2, :time 5143333526, :index 40}
{:type :ok, :f :write, :value 3, :process 2, :time 5151119178, :index 41}
{:type :invoke, :f :write, :value 4, :process 1, :time 5183991838, :index 42}
{:type :ok, :f :write, :value 4, :process 1, :time 5190606736, :index 43}
{:type :invoke, :f :read, :value nil, :process 4, :time 5243004756, :index 44}
{:type :ok, :f :read, :value "4", :process 4, :time 5247517622, :index 45}
{:type :invoke, :f :read, :value nil, :process 3, :time 5354649881, :index 46}
{:type :ok, :f :read, :value "4", :process 3, :time 5359503351, :index 47}
{:type :invoke, :f :read, :value nil, :process 4, :time 5553954931, :index 48}
{:type :ok, :f :read, :value "4", :process 4, :time 5558685299, :index 49}
{:type :invoke, :f :read, :value nil, :process 0, :time 5588769835, :index 50}
{:type :ok, :f :read, :value "4", :process 0, :time 5593634157, :index 51}
{:type :invoke, :f :read, :value nil, :process 2, :time 5650687633, :index 52}
{:type :ok, :f :read, :value "4", :process 2, :time 5655149177, :index 53}
{:type :invoke, :f :write, :value 3, :process 0, :time 5945095297, :index 54}
{:type :ok, :f :write, :value 3, :process 0, :time 5952147047, :index 55}
{:type :invoke, :f :read, :value nil, :process 3, :time 6630939835, :index 56}
{:type :ok, :f :read, :value "3", :process 3, :time 6636103575, :index 57}
{:type :invoke, :f :write, :value 1, :process 1, :time 6841111342, :index 58}
{:type :ok, :f :write, :value 1, :process 1, :time 6849326927, :index 59}
{:type :invoke, :f :read, :value nil, :process 2, :time 6937599612, :index 60}
{:type :ok, :f :read, :value "1", :process 2, :time 6941918507, :index 61}
{:type :invoke, :f :write, :value 0, :process 0, :time 6950673942, :index 62}
{:type :ok, :f :write, :value 0, :process 0, :time 6957896220, :index 63}
{:type :invoke, :f :read, :value nil, :process 4, :time 7512128582, :index 64}
{:type :ok, :f :read, :value "0", :process 4, :time 7517402891, :index 65}
{:type :invoke, :f :write, :value 3, :process 1, :time 7761848831, :index 66}
{:type :ok, :f :write, :value 3, :process 1, :time 7770247027, :index 67}
{:type :invoke, :f :write, :value 0, :process 3, :time 7835685178, :index 68}
{:type :ok, :f :write, :value 0, :process 3, :time 7842174201, :index 69}
{:type :invoke, :f :read, :value nil, :process 2, :time 7914317973, :index 70}
{:type :ok, :f :read, :value "0", :process 2, :time 7918107355, :index 71}
{:type :invoke, :f :write, :value 2, :process 1, :time 8301757668, :index 72}
{:type :ok, :f :write, :value 2, :process 1, :time 8309582603, :index 73}
{:type :invoke, :f :write, :value 1, :process 0, :time 8348400496, :index 74}
{:type :ok, :f :write, :value 1, :process 0, :time 8355696651, :index 75}
{:type :invoke, :f :write, :value 3, :process 0, :time 8773264038, :index 76}
{:type :ok, :f :write, :value 3, :process 0, :time 8780862592, :index 77}
{:type :invoke, :f :read, :value nil, :process 4, :time 9253926701, :index 78}
{:type :ok, :f :read, :value "3", :process 4, :time 9259037189, :index 79}
{:type :invoke, :f :write, :value 4, :process 3, :time 9306632035, :index 80}
{:type :ok, :f :write, :value 4, :process 3, :time 9313251158, :index 81}
{:type :invoke, :f :write, :value 3, :process 2, :time 9340482606, :index 82}
{:type :ok, :f :write, :value 3, :process 2, :time 9346917716, :index 83}
{:type :invoke, :f :read, :value nil, :process 4, :time 9448899409, :index 84}
{:type :ok, :f :read, :value "3", :process 4, :time 9453956020, :index 85}
{:type :invoke, :f :read, :value nil, :process 0, :time 9711288132, :index 86}
{:type :ok, :f :read, :value "3", :process 0, :time 9716280359, :index 87}
{:type :invoke, :f :read, :value nil, :process 1, :time 9746996604, :index 88}
{:type :ok, :f :read, :value "3", :process 1, :time 9750997975, :index 89}
{:type :invoke, :f :read, :value nil, :process 2, :time 9926340974, :index 90}
{:type :ok, :f :read, :value "3", :process 2, :time 9931082576, :index 91}
{:type :invoke, :f :write, :value 4, :process 0, :time 9972930445, :index 92}
{:type :ok, :f :write, :value 4, :process 0, :time 9980159378, :index 93}
{:type :invoke, :f :write, :value 4, :process 4, :time 10012565563, :index 94}
{:type :invoke, :f :read, :value nil, :process 2, :time 10013473097, :index 95}
{:type :ok, :f :read, :value "4", :process 2, :time 10017914037, :index 96}
{:type :ok, :f :write, :value 4, :process 4, :time 10020119337, :index 97}
{:type :invoke, :f :write, :value 3, :process 3, :time 10069671866, :index 98}
{:type :ok, :f :write, :value 3, :process 3, :time 10076536010, :index 99}
{:type :invoke, :f :read, :value nil, :process 0, :time 10140644029, :index 100}
{:type :ok, :f :read, :value "3", :process 0, :time 10145827583, :index 101}
{:type :invoke, :f :write, :value 1, :process 2, :time 10193431713, :index 102}
{:type :ok, :f :write, :value 1, :process 2, :time 10200953068, :index 103}
{:type :invoke, :f :write, :value 4, :process 3, :time 10594157199, :index 104}
{:type :ok, :f :write, :value 4, :process 3, :time 10601120856, :index 105}
{:type :invoke, :f :read, :value nil, :process 1, :time 10647471404, :index 106}
{:type :ok, :f :read, :value "4", :process 1, :time 10651738212, :index 107}
{:type :invoke, :f :write, :value 4, :process 3, :time 10760744171, :index 108}
{:type :ok, :f :write, :value 4, :process 3, :time 10767355300, :index 109}
{:type :invoke, :f :write, :value 3, :process 2, :time 10832374924, :index 110}
{:type :ok, :f :write, :value 3, :process 2, :time 10839171356, :index 111}
{:type :invoke, :f :read, :value nil, :process 2, :time 11158549333, :index 112}
{:type :ok, :f :read, :value "3", :process 2, :time 11163352927, :index 113}
{:type :invoke, :f :write, :value 1, :process 2, :time 11212714231, :index 114}
{:type :ok, :f :write, :value 1, :process 2, :time 11219107080, :index 115}
{:type :invoke, :f :read, :value nil, :process 2, :time 11381563013, :index 116}
{:type :ok, :f :read, :value "1", :process 2, :time 11386205261, :index 117}
{:type :invoke, :f :read, :value nil, :process 4, :time 11509554094, :index 118}
{:type :ok, :f :read, :value "1", :process 4, :time 11513772342, :index 119}
{:type :invoke, :f :read, :value nil, :process 0, :time 11592205574, :index 120}
{:type :ok, :f :read, :value "1", :process 0, :time 11596239717, :index 121}
{:type :invoke, :f :read, :value nil, :process 0, :time 11660576618, :index 122}
{:type :ok, :f :read, :value "1", :process 0, :time 11664647997, :index 123}
{:type :invoke, :f :read, :value nil, :process 4, :time 11728159860, :index 124}
{:type :ok, :f :read, :value "1", :process 4, :time 11732681224, :index 125}
{:type :invoke, :f :read, :value nil, :process 1, :time 12249128259, :index 126}
{:type :ok, :f :read, :value "1", :process 1, :time 12254680468, :index 127}
{:type :invoke, :f :read, :value nil, :process 2, :time 12382613348, :index 128}
{:type :ok, :f :read, :value "1", :process 2, :time 12386971455, :index 129}
{:type :invoke, :f :read, :value nil, :process 2, :time 12466322573, :index 130}
{:type :ok, :f :read, :value "1", :process 2, :time 12470081918, :index 131}
{:type :invoke, :f :read, :value nil, :process 3, :time 12564714799, :index 132}
{:type :ok, :f :read, :value "1", :process 3, :time 12568931074, :index 133}
{:type :invoke, :f :read, :value nil, :process 4, :time 12966087086, :index 134}
{:type :ok, :f :read, :value "1", :process 4, :time 12970991870, :index 135}
{:type :invoke, :f :read, :value nil, :process 2, :time 12999408693, :index 136}
{:type :ok, :f :read, :value "1", :process 2, :time 13003564458, :index 137}
{:type :invoke, :f :write, :value 0, :process 0, :time 13078217616, :index 138}
{:type :ok, :f :write, :value 0, :process 0, :time 13085197887, :index 139}
{:type :invoke, :f :write, :value 3, :process 1, :time 13654134269, :index 140}
{:type :ok, :f :write, :value 3, :process 1, :time 13661085060, :index 141}
{:type :invoke, :f :write, :value 1, :process 3, :time 13999314456, :index 142}
{:type :ok, :f :write, :value 1, :process 3, :time 14006491042, :index 143}
{:type :invoke, :f :write, :value 1, :process 4, :time 14205363223, :index 144}
{:type :ok, :f :write, :value 1, :process 4, :time 14214013607, :index 145}
{:type :invoke, :f :read, :value nil, :process 1, :time 14289429000, :index 146}
{:type :ok, :f :read, :value "1", :process 1, :time 14294424400, :index 147}
{:type :invoke, :f :read, :value nil, :process 4, :time 14390345253, :index 148}
{:type :ok, :f :read, :value "1", :process 4, :time 14394670983, :index 149}
{:type :invoke, :f :write, :value 2, :process 3, :time 14470818476, :index 150}
{:type :ok, :f :write, :value 2, :process 3, :time 14478402391, :index 151}
{:type :invoke, :f :read, :value nil, :process 2, :time 14760304992, :index 152}
{:type :ok, :f :read, :value "2", :process 2, :time 14766215688, :index 153}
{:type :invoke, :f :read, :value nil, :process 0, :time 14975573640, :index 154}
{:type :ok, :f :read, :value "2", :process 0, :time 14982329911, :index 155}
