{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :invoke, :f :write, :value 1, :process 30, :time 25224956165, :index 4321}
{:type :invoke, :f :cas, :value [0 1], :process 16, :time 25229764328, :index 4323}
{:type :ok, :f :write, :value 1, :process 30, :time 25230447046, :index 4324}
{:type :fail, :f :cas, :value [0 1], :process 16, :time 25234735053, :index 4325}
{:type :invoke, :f :write, :value 3, :process 16, :time 25298996869, :index 4335}
{:type :ok, :f :write, :value 3, :process 16, :time 25303564102, :index 4339}
{:type :invoke, :f :read, :value nil, :process 34, :time 25309345920, :index 4342}
{:type :ok, :f :read, :value 3, :process 34, :time 25314593000, :index 4343}
{:type :invoke, :f :read, :value nil, :process 39, :time 25341700649, :index 4352}
{:type :ok, :f :read, :value 3, :process 39, :time 25347393000, :index 4354}
{:type :invoke, :f :read, :value nil, :process 33, :time 25378160455, :index 4358}
{:type :ok, :f :read, :value 3, :process 33, :time 25383233732, :index 4359}
{:type :invoke, :f :read, :value nil, :process 51, :time 25385268713, :index 4360}
{:type :ok, :f :read, :value 3, :process 51, :time 25389840304, :index 4361}
{:type :invoke, :f :read, :value nil, :process 58, :time 25398727526, :index 4368}
{:type :ok, :f :read, :value 3, :process 58, :time 25403616330, :index 4371}
{:type :invoke, :f :write, :value 0, :process 15, :time 25405417234, :index 4372}
{:type :invoke, :f :cas, :value [2 3], :process 30, :time 25410715344, :index 4373}
{:type :ok, :f :write, :value 0, :process 15, :time 25411027389, :index 4374}
{:type :fail, :f :cas, :value [2 3], :process 30, :time 25423189227, :index 4375}
{:type :invoke, :f :write, :value 1, :process 30, :time 25424445750, :index 4376}
{:type :ok, :f :write, :value 1, :process 30, :time 25429660285, :index 4377}
{:type :invoke, :f :read, :value nil, :process 58, :time 25430873057, :index 4378}
{:type :ok, :f :read, :value 1, :process 58, :time 25435250029, :index 4379}
{:type :invoke, :f :read, :value nil, :process 34, :time 25435867923, :index 4380}
{:type :ok, :f :read, :value 1, :process 34, :time 25440738670, :index 4382}
{:type :invoke, :f :write, :value 3, :process 16, :time 25448827070, :index 4385}
{:type :ok, :f :write, :value 3, :process 16, :time 25453915965, :index 4388}
{:type :invoke, :f :read, :value nil, :process 33, :time 25456498079, :index 4390}
{:type :ok, :f :read, :value 3, :process 33, :time 25461321332, :index 4393}
{:type :invoke, :f :read, :value nil, :process 34, :time 25462972691, :index 4395}
{:type :ok, :f :read, :value 3, :process 34, :time 25467555719, :index 4397}
{:type :invoke, :f :write, :value 4, :process 16, :time 25529177386, :index 4405}
{:type :invoke, :f :read, :value nil, :process 39, :time 25529854207, :index 4406}
{:type :ok, :f :write, :value 4, :process 16, :time 25534569157, :index 4409}
{:type :ok, :f :read, :value 4, :process 39, :time 25535325412, :index 4410}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 25545848211, :index 4416}
{:type :ok, :f :cas, :value [4 2], :process 16, :time 25551199157, :index 4418}
{:type :invoke, :f :write, :value 3, :process 51, :time 25577107590, :index 4424}
{:type :invoke, :f :write, :value 4, :process 15, :time 25579288614, :index 4426}
{:type :ok, :f :write, :value 3, :process 51, :time 25582597646, :index 4427}
{:type :ok, :f :write, :value 4, :process 15, :time 25584837533, :index 4429}
{:type :invoke, :f :read, :value nil, :process 30, :time 25586917687, :index 4430}
{:type :invoke, :f :read, :value nil, :process 39, :time 25588572451, :index 4431}
{:type :ok, :f :read, :value 4, :process 30, :time 25592296450, :index 4432}
{:type :ok, :f :read, :value 4, :process 39, :time 25593970244, :index 4433}
{:type :invoke, :f :cas, :value [2 2], :process 58, :time 25603509070, :index 4434}
{:type :fail, :f :cas, :value [2 2], :process 58, :time 25608536292, :index 4436}
{:type :invoke, :f :cas, :value [4 0], :process 33, :time 25629593978, :index 4442}
{:type :ok, :f :cas, :value [4 0], :process 33, :time 25634232144, :index 4443}
{:type :invoke, :f :write, :value 2, :process 34, :time 25649815054, :index 4446}
{:type :ok, :f :write, :value 2, :process 34, :time 25655266005, :index 4447}
{:type :invoke, :f :read, :value nil, :process 15, :time 25714086577, :index 4457}
{:type :ok, :f :read, :value 2, :process 15, :time 25719180900, :index 4460}
{:type :invoke, :f :write, :value 4, :process 16, :time 25735525688, :index 4464}
{:type :invoke, :f :write, :value 1, :process 58, :time 25749799667, :index 4467}
{:type :invoke, :f :read, :value nil, :process 39, :time 25752227365, :index 4468}
{:type :ok, :f :write, :value 1, :process 58, :time 25755208700, :index 4469}
{:type :ok, :f :read, :value 1, :process 39, :time 25757473833, :index 4470}
{:type :invoke, :f :read, :value nil, :process 51, :time 25766866669, :index 4471}
{:type :invoke, :f :write, :value 2, :process 30, :time 25772558511, :index 4472}
{:type :invoke, :f :cas, :value [0 2], :process 33, :time 25774533531, :index 4473}
{:type :ok, :f :write, :value 2, :process 30, :time 25779416974, :index 4474}
{:type :fail, :f :cas, :value [0 2], :process 33, :time 25779849033, :index 4475}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :invoke, :f :write, :value 3, :process 58, :time 25838500994, :index 4479}
{:type :invoke, :f :read, :value nil, :process 34, :time 25849522089, :index 4481}
{:type :invoke, :f :write, :value 4, :process 30, :time 25849701340, :index 4482}
{:type :invoke, :f :cas, :value [4 1], :process 15, :time 25877453409, :index 4485}
{:type :invoke, :f :write, :value 1, :process 39, :time 25912725862, :index 4489}
{:type :invoke, :f :cas, :value [2 2], :process 33, :time 25913100108, :index 4490}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :invoke, :f :cas, :value [4 2], :process 52, :time 30351247958, :index 4497}
{:type :invoke, :f :write, :value 2, :process 17, :time 30394836865, :index 4498}
{:type :info, :f :write, :value 4, :process 16, :time 30740329445, :error :timeout, :index 4501}
{:type :fail, :f :read, :value nil, :process 51, :time 30770756993, :error :timeout, :index 4504}
{:type :invoke, :f :read, :value nil, :process 51, :time 30803021598, :index 4505}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 30813934564, :index 4506}
{:type :info, :f :write, :value 3, :process 58, :time 30842929959, :error :timeout, :index 4508}
{:type :fail, :f :read, :value nil, :process 34, :time 30854909203, :error :timeout, :index 4510}
{:type :info, :f :write, :value 4, :process 30, :time 30857023173, :error :timeout, :index 4511}
{:type :info, :f :cas, :value [4 1], :process 15, :time 30883244484, :error :timeout, :index 4515}
{:type :invoke, :f :write, :value 3, :process 78, :time 30914566038, :index 4520}
{:type :info, :f :cas, :value [2 2], :process 33, :time 30919777981, :error :timeout, :index 4522}
{:type :info, :f :write, :value 1, :process 39, :time 30921795524, :error :timeout, :index 4523}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :invoke, :f :cas, :value [2 1], :process 53, :time 30944663102, :index 4525}
{:type :invoke, :f :read, :value nil, :process 35, :time 30952876489, :index 4526}
{:type :invoke, :f :write, :value 2, :process 59, :time 30972487049, :index 4527}
{:type :invoke, :f :write, :value 3, :process 34, :time 30975170297, :index 4528}
{:type :invoke, :f :cas, :value [4 0], :process 50, :time 31056634814, :index 4531}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :ok, :f :write, :value 2, :process 17, :time 32034229081, :index 4536}
{:type :ok, :f :read, :value 2, :process 51, :time 32034546354, :index 4537}
{:type :ok, :f :cas, :value [2 4], :process 36, :time 32035071939, :index 4539}
{:type :fail, :f :cas, :value [4 2], :process 52, :time 32035249786, :index 4540}
{:type :ok, :f :write, :value 2, :process 59, :time 32035715575, :index 4544}
{:type :ok, :f :read, :value 4, :process 35, :time 32035916284, :index 4546}
{:type :ok, :f :write, :value 3, :process 34, :time 32036116947, :index 4547}
{:type :fail, :f :cas, :value [2 1], :process 53, :time 32037297947, :index 4550}
{:type :ok, :f :write, :value 3, :process 78, :time 32037363620, :index 4551}
{:type :ok, :f :cas, :value [4 0], :process 50, :time 32037661572, :index 4553}
{:type :invoke, :f :cas, :value [0 1], :process 53, :time 32039255219, :index 4554}
{:type :fail, :f :cas, :value [0 1], :process 53, :time 32044642538, :index 4556}
{:type :invoke, :f :read, :value nil, :process 17, :time 32056590841, :index 4558}
{:type :ok, :f :read, :value 3, :process 17, :time 32061570283, :index 4559}
{:type :invoke, :f :read, :value nil, :process 35, :time 32084116101, :index 4564}
{:type :ok, :f :read, :value 3, :process 35, :time 32089924536, :index 4566}
{:type :invoke, :f :read, :value nil, :process 50, :time 32090425678, :index 4567}
{:type :invoke, :f :cas, :value [1 0], :process 17, :time 32092825903, :index 4569}
{:type :ok, :f :read, :value 3, :process 50, :time 32095804803, :index 4570}
{:type :fail, :f :cas, :value [1 0], :process 17, :time 32097896643, :index 4571}
{:type :invoke, :f :read, :value nil, :process 53, :time 32098933710, :index 4572}
{:type :invoke, :f :write, :value 3, :process 36, :time 32099861076, :index 4573}
{:type :ok, :f :read, :value 3, :process 53, :time 32103756285, :index 4574}
{:type :ok, :f :write, :value 3, :process 36, :time 32104663915, :index 4575}
{:type :invoke, :f :write, :value 1, :process 51, :time 32137747407, :index 4584}
{:type :ok, :f :write, :value 1, :process 51, :time 32143019883, :index 4585}
{:type :invoke, :f :write, :value 1, :process 53, :time 32174025822, :index 4590}
{:type :invoke, :f :write, :value 4, :process 59, :time 32178067552, :index 4592}
{:type :ok, :f :write, :value 1, :process 53, :time 32178726685, :index 4593}
{:type :ok, :f :write, :value 4, :process 59, :time 32182966154, :index 4595}
{:type :invoke, :f :cas, :value [4 1], :process 50, :time 32185067458, :index 4596}
{:type :invoke, :f :read, :value nil, :process 34, :time 32188138557, :index 4597}
{:type :invoke, :f :read, :value nil, :process 52, :time 32188920195, :index 4598}
{:type :ok, :f :cas, :value [4 1], :process 50, :time 32189918528, :index 4599}
{:type :ok, :f :read, :value 1, :process 52, :time 32193833496, :index 4600}
{:type :ok, :f :read, :value 1, :process 34, :time 32193936821, :index 4601}
{:type :invoke, :f :read, :value nil, :process 17, :time 32199151429, :index 4603}
{:type :ok, :f :read, :value 1, :process 17, :time 32203937824, :index 4604}
{:type :invoke, :f :write, :value 4, :process 78, :time 32207274337, :index 4606}
{:type :invoke, :f :read, :value nil, :process 36, :time 32209936361, :index 4607}
{:type :ok, :f :write, :value 4, :process 78, :time 32212718934, :index 4609}
{:type :ok, :f :read, :value 4, :process 36, :time 32215154912, :index 4610}
{:type :invoke, :f :write, :value 1, :process 51, :time 32220278038, :index 4613}
{:type :ok, :f :write, :value 1, :process 51, :time 32225443309, :index 4616}
{:type :invoke, :f :write, :value 2, :process 53, :time 32225997685, :index 4617}
{:type :ok, :f :write, :value 2, :process 53, :time 32231314513, :index 4619}
{:type :invoke, :f :write, :value 2, :process 35, :time 32255189800, :index 4622}
{:type :ok, :f :write, :value 2, :process 35, :time 32260052716, :index 4623}
{:type :invoke, :f :cas, :value [0 4], :process 34, :time 32266181345, :index 4624}
{:type :fail, :f :cas, :value [0 4], :process 34, :time 32271341346, :index 4625}
{:type :invoke, :f :cas, :value [2 0], :process 17, :time 32278218250, :index 4630}
{:type :invoke, :f :cas, :value [4 3], :process 51, :time 32279704340, :index 4632}
{:type :ok, :f :cas, :value [2 0], :process 17, :time 32282633740, :index 4635}
{:type :fail, :f :cas, :value [4 3], :process 51, :time 32285518753, :index 4637}
{:type :invoke, :f :write, :value 2, :process 34, :time 32296605286, :index 4640}
{:type :invoke, :f :cas, :value [1 4], :process 17, :time 32297903281, :index 4641}
{:type :invoke, :f :read, :value nil, :process 78, :time 32300982603, :index 4642}
{:type :ok, :f :write, :value 2, :process 34, :time 32301357374, :index 4643}
{:type :fail, :f :cas, :value [1 4], :process 17, :time 32302812763, :index 4644}
{:type :ok, :f :read, :value 2, :process 78, :time 32306542763, :index 4645}
{:type :invoke, :f :cas, :value [2 0], :process 35, :time 32311312865, :index 4647}
{:type :invoke, :f :read, :value nil, :process 59, :time 32314220817, :index 4648}
{:type :ok, :f :cas, :value [2 0], :process 35, :time 32316402271, :index 4650}
{:type :ok, :f :read, :value 0, :process 59, :time 32318941087, :index 4652}
{:type :invoke, :f :read, :value nil, :process 78, :time 32322804273, :index 4654}
{:type :ok, :f :read, :value 0, :process 78, :time 32328038301, :index 4658}
{:type :invoke, :f :read, :value nil, :process 53, :time 32330524923, :index 4661}
{:type :ok, :f :read, :value 0, :process 53, :time 32336067957, :index 4665}
{:type :invoke, :f :read, :value nil, :process 50, :time 32345193586, :index 4666}
{:type :ok, :f :read, :value 0, :process 50, :time 32350260102, :index 4667}
{:type :invoke, :f :write, :value 3, :process 36, :time 32359415145, :index 4669}
{:type :ok, :f :write, :value 3, :process 36, :time 32363783412, :index 4671}
{:type :invoke, :f :cas, :value [2 4], :process 50, :time 32367533356, :index 4672}
{:type :fail, :f :cas, :value [2 4], :process 50, :time 32374222688, :index 4675}
{:type :invoke, :f :cas, :value [3 1], :process 52, :time 32382112616, :index 4676}
{:type :ok, :f :cas, :value [3 1], :process 52, :time 32386836120, :index 4678}
{:type :invoke, :f :cas, :value [3 3], :process 51, :time 32405777843, :index 4681}
{:type :fail, :f :cas, :value [3 3], :process 51, :time 32411748883, :index 4684}
{:type :invoke, :f :cas, :value [3 3], :process 35, :time 32416642507, :index 4686}
{:type :fail, :f :cas, :value [3 3], :process 35, :time 32422224742, :index 4687}
{:type :invoke, :f :cas, :value [1 3], :process 59, :time 32426235637, :index 4689}
{:type :ok, :f :cas, :value [1 3], :process 59, :time 32431101860, :index 4691}
{:type :invoke, :f :write, :value 2, :process 34, :time 32438598250, :index 4694}
{:type :ok, :f :write, :value 2, :process 34, :time 32443468666, :index 4695}
{:type :invoke, :f :read, :value nil, :process 17, :time 32458094166, :index 4697}
{:type :ok, :f :read, :value 2, :process 17, :time 32463042565, :index 4700}
{:type :invoke, :f :write, :value 3, :process 53, :time 32471286941, :index 4704}
{:type :ok, :f :write, :value 3, :process 53, :time 32476848297, :index 4707}
{:type :invoke, :f :cas, :value [1 4], :process 78, :time 32481270973, :index 4708}
{:type :fail, :f :cas, :value [1 4], :process 78, :time 32486956997, :index 4710}
{:type :invoke, :f :read, :value nil, :process 35, :time 32487403615, :index 4711}
{:type :ok, :f :read, :value 3, :process 35, :time 32492402982, :index 4713}
{:type :invoke, :f :write, :value 1, :process 51, :time 32506965009, :index 4716}
{:type :ok, :f :write, :value 1, :process 51, :time 32512665854, :index 4719}
{:type :invoke, :f :read, :value nil, :process 78, :time 32528219984, :index 4720}
{:type :invoke, :f :write, :value 4, :process 36, :time 32532044027, :index 4721}
{:type :ok, :f :read, :value 1, :process 78, :time 32532746455, :index 4722}
{:type :ok, :f :write, :value 4, :process 36, :time 32536904906, :index 4724}
{:type :invoke, :f :write, :value 0, :process 17, :time 32544291386, :index 4726}
{:type :invoke, :f :read, :value nil, :process 50, :time 32547468708, :index 4727}
{:type :ok, :f :write, :value 0, :process 17, :time 32548715711, :index 4728}
{:type :ok, :f :read, :value 0, :process 50, :time 32553061261, :index 4729}
{:type :invoke, :f :write, :value 0, :process 52, :time 32578109907, :index 4735}
{:type :ok, :f :write, :value 0, :process 52, :time 32582227757, :index 4737}
{:type :invoke, :f :cas, :value [4 3], :process 35, :time 32596678100, :index 4742}
{:type :invoke, :f :write, :value 0, :process 59, :time 32597348960, :index 4743}
{:type :ok, :f :write, :value 0, :process 59, :time 32602551697, :index 4744}
{:type :fail, :f :cas, :value [4 3], :process 35, :time 32602949020, :index 4745}
{:type :invoke, :f :write, :value 1, :process 53, :time 32606112042, :index 4746}
{:type :ok, :f :write, :value 1, :process 53, :time 32611385532, :index 4747}
{:type :invoke, :f :write, :value 2, :process 34, :time 32632779226, :index 4754}
{:type :ok, :f :write, :value 2, :process 34, :time 32638645385, :index 4757}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
