{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :invoke, :f :write, :value 4, :process 31, :time 41812807732, :index 7342}
{:type :ok, :f :write, :value 4, :process 31, :time 41818472033, :index 7344}
{:type :invoke, :f :write, :value 3, :process 31, :time 41820722607, :index 7345}
{:type :ok, :f :write, :value 3, :process 31, :time 41826100888, :index 7347}
{:type :invoke, :f :write, :value 3, :process 55, :time 41859068479, :index 7353}
{:type :ok, :f :write, :value 3, :process 55, :time 41864625660, :index 7358}
{:type :invoke, :f :read, :value nil, :process 31, :time 41868383848, :index 7360}
{:type :ok, :f :read, :value 3, :process 31, :time 41873495076, :index 7364}
{:type :invoke, :f :read, :value nil, :process 55, :time 41880865320, :index 7366}
{:type :ok, :f :read, :value 3, :process 55, :time 41885766104, :index 7368}
{:type :invoke, :f :read, :value nil, :process 16, :time 41917916768, :index 7377}
{:type :ok, :f :read, :value 3, :process 16, :time 41923369287, :index 7378}
{:type :invoke, :f :write, :value 4, :process 55, :time 41928025177, :index 7379}
{:type :ok, :f :write, :value 4, :process 55, :time 41932656133, :index 7380}
{:type :invoke, :f :read, :value nil, :process 31, :time 41974743332, :index 7385}
{:type :ok, :f :read, :value 4, :process 31, :time 41979746466, :index 7386}
{:type :invoke, :f :write, :value 2, :process 31, :time 41979880506, :index 7387}
{:type :invoke, :f :read, :value nil, :process 30, :time 41983297428, :index 7389}
{:type :ok, :f :write, :value 2, :process 31, :time 41984249255, :index 7390}
{:type :ok, :f :read, :value 2, :process 30, :time 41987183261, :index 7393}
{:type :invoke, :f :cas, :value [2 0], :process 33, :time 41993217742, :index 7395}
{:type :ok, :f :cas, :value [2 0], :process 33, :time 41998781086, :index 7396}
{:type :invoke, :f :write, :value 0, :process 33, :time 42009093956, :index 7397}
{:type :ok, :f :write, :value 0, :process 33, :time 42014363620, :index 7398}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 42024629076, :index 7403}
{:type :fail, :f :cas, :value [1 0], :process 16, :time 42030440861, :index 7405}
{:type :invoke, :f :write, :value 4, :process 55, :time 42038913996, :index 7407}
{:type :ok, :f :write, :value 4, :process 55, :time 42044110407, :index 7408}
{:type :invoke, :f :cas, :value [3 1], :process 16, :time 42078702745, :index 7414}
{:type :fail, :f :cas, :value [3 1], :process 16, :time 42084777540, :index 7417}
{:type :invoke, :f :write, :value 1, :process 31, :time 42102511372, :index 7419}
{:type :ok, :f :write, :value 1, :process 31, :time 42108198648, :index 7420}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 42122662724, :index 7421}
{:type :invoke, :f :read, :value nil, :process 30, :time 42154438994, :index 7423}
{:type :invoke, :f :cas, :value [1 3], :process 55, :time 42225375924, :index 7427}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 42228124754, :index 7429}
{:type :invoke, :f :cas, :value [1 1], :process 31, :time 42237459960, :index 7430}
{:type :ok, :f :cas, :value [1 3], :process 55, :time 46033881122, :index 7432}
{:type :ok, :f :read, :value 1, :process 30, :time 46033882795, :index 7433}
{:type :fail, :f :cas, :value [2 4], :process 16, :time 46035394162, :index 7436}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 46038484860, :index 7449}
{:type :fail, :f :cas, :value [1 1], :process 31, :time 46039254343, :index 7451}
{:type :invoke, :f :write, :value 3, :process 16, :time 46042675987, :index 7454}
{:type :ok, :f :write, :value 3, :process 16, :time 46047483906, :index 7457}
{:type :invoke, :f :cas, :value [0 3], :process 16, :time 46088763320, :index 7465}
{:type :fail, :f :cas, :value [0 3], :process 16, :time 46092995985, :index 7467}
{:type :invoke, :f :read, :value nil, :process 58, :time 46098162232, :index 7468}
{:type :ok, :f :read, :value 3, :process 58, :time 46103301928, :index 7469}
{:type :invoke, :f :write, :value 0, :process 57, :time 46104358419, :index 7470}
{:type :invoke, :f :read, :value nil, :process 55, :time 46106392285, :index 7472}
{:type :ok, :f :write, :value 0, :process 57, :time 46109388534, :index 7473}
{:type :ok, :f :read, :value 0, :process 55, :time 46111747118, :index 7474}
{:type :invoke, :f :read, :value nil, :process 79, :time 46130052512, :index 7476}
{:type :invoke, :f :write, :value 4, :process 52, :time 46131565298, :index 7477}
{:type :ok, :f :read, :value 0, :process 79, :time 46135658248, :index 7479}
{:type :ok, :f :write, :value 4, :process 52, :time 46137597607, :index 7480}
{:type :invoke, :f :write, :value 4, :process 31, :time 46147568169, :index 7485}
{:type :ok, :f :write, :value 4, :process 31, :time 46152104199, :index 7487}
{:type :invoke, :f :write, :value 2, :process 55, :time 46170011274, :index 7490}
{:type :ok, :f :write, :value 2, :process 55, :time 46175957502, :index 7491}
{:type :invoke, :f :cas, :value [1 1], :process 31, :time 46186353458, :index 7492}
{:type :invoke, :f :cas, :value [4 0], :process 52, :time 46187853613, :index 7493}
{:type :invoke, :f :read, :value nil, :process 30, :time 46190320626, :index 7495}
{:type :fail, :f :cas, :value [1 1], :process 31, :time 46191736993, :index 7497}
{:type :fail, :f :cas, :value [4 0], :process 52, :time 46194196938, :index 7498}
{:type :ok, :f :read, :value 2, :process 30, :time 46197551969, :index 7501}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 46201219410, :index 7503}
{:type :fail, :f :cas, :value [3 2], :process 16, :time 46206356924, :index 7506}
{:type :invoke, :f :read, :value nil, :process 33, :time 46213774852, :index 7508}
{:type :ok, :f :read, :value 2, :process 33, :time 46218443997, :index 7509}
{:type :invoke, :f :cas, :value [3 1], :process 54, :time 46219771616, :index 7510}
{:type :invoke, :f :read, :value nil, :process 33, :time 46220701363, :index 7511}
{:type :ok, :f :read, :value 2, :process 33, :time 46225154092, :index 7513}
{:type :fail, :f :cas, :value [3 1], :process 54, :time 46226662883, :index 7514}
{:type :invoke, :f :cas, :value [1 2], :process 58, :time 46272566029, :index 7524}
{:type :fail, :f :cas, :value [1 2], :process 58, :time 46279165077, :index 7527}
{:type :invoke, :f :write, :value 3, :process 54, :time 46282927277, :index 7533}
{:type :invoke, :f :read, :value nil, :process 57, :time 46285651161, :index 7536}
{:type :ok, :f :write, :value 3, :process 54, :time 46288938162, :index 7539}
{:type :ok, :f :read, :value 3, :process 57, :time 46290548870, :index 7541}
{:type :invoke, :f :write, :value 0, :process 16, :time 46293609832, :index 7542}
{:type :ok, :f :write, :value 0, :process 16, :time 46297342367, :index 7544}
{:type :invoke, :f :write, :value 3, :process 79, :time 46299907888, :index 7545}
{:type :ok, :f :write, :value 3, :process 79, :time 46305040467, :index 7547}
{:type :invoke, :f :write, :value 0, :process 30, :time 46313797866, :index 7548}
{:type :ok, :f :write, :value 0, :process 30, :time 46319600889, :index 7549}
{:type :invoke, :f :write, :value 0, :process 52, :time 46336502309, :index 7550}
{:type :ok, :f :write, :value 0, :process 52, :time 46341611305, :index 7551}
{:type :invoke, :f :cas, :value [2 3], :process 57, :time 46353789884, :index 7553}
{:type :invoke, :f :cas, :value [4 3], :process 33, :time 46354404280, :index 7554}
{:type :invoke, :f :cas, :value [1 3], :process 31, :time 46357996510, :index 7555}
{:type :fail, :f :cas, :value [2 3], :process 57, :time 46360019636, :index 7557}
{:type :fail, :f :cas, :value [4 3], :process 33, :time 46360441828, :index 7558}
{:type :fail, :f :cas, :value [1 3], :process 31, :time 46363309591, :index 7560}
{:type :invoke, :f :read, :value nil, :process 55, :time 46369410688, :index 7562}
{:type :invoke, :f :cas, :value [4 2], :process 31, :time 46369778953, :index 7563}
{:type :ok, :f :read, :value 0, :process 55, :time 46375591017, :index 7564}
{:type :fail, :f :cas, :value [4 2], :process 31, :time 46376363223, :index 7566}
{:type :invoke, :f :read, :value nil, :process 79, :time 46414295644, :index 7578}
{:type :invoke, :f :cas, :value [1 0], :process 57, :time 46422292141, :index 7579}
{:type :fail, :f :cas, :value [1 0], :process 57, :time 46427559049, :index 7580}
{:type :invoke, :f :write, :value 1, :process 58, :time 46435441388, :index 7582}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :invoke, :f :read, :value nil, :process 31, :time 46439831767, :index 7586}
{:type :ok, :f :write, :value 1, :process 58, :time 46441077830, :index 7587}
{:type :ok, :f :read, :value 1, :process 31, :time 46444532188, :index 7589}
{:type :invoke, :f :write, :value 4, :process 16, :time 46457618100, :index 7594}
{:type :invoke, :f :write, :value 1, :process 52, :time 46461870877, :index 7595}
{:type :invoke, :f :cas, :value [2 2], :process 54, :time 46475175523, :index 7596}
{:type :invoke, :f :write, :value 4, :process 58, :time 46497409025, :index 7597}
{:type :invoke, :f :cas, :value [3 0], :process 30, :time 46505863421, :index 7598}
{:type :invoke, :f :write, :value 1, :process 55, :time 46516853488, :index 7599}
{:type :invoke, :f :write, :value 4, :process 31, :time 46519788486, :index 7601}
{:type :invoke, :f :read, :value nil, :process 33, :time 46522682376, :index 7602}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :invoke, :f :cas, :value [2 0], :process 57, :time 46624825093, :index 7609}
{:type :ok, :f :read, :value 0, :process 79, :time 46844474200, :index 7610}
{:type :ok, :f :write, :value 4, :process 16, :time 46955325179, :index 7611}
{:type :invoke, :f :cas, :value [3 0], :process 79, :time 47018841063, :index 7612}
{:type :invoke, :f :write, :value 2, :process 16, :time 47082653772, :index 7613}
{:type :ok, :f :write, :value 4, :process 31, :time 47120896856, :index 7616}
{:type :fail, :f :cas, :value [2 2], :process 54, :time 47122221299, :index 7618}
{:type :ok, :f :write, :value 2, :process 16, :time 47122518744, :index 7620}
{:type :ok, :f :write, :value 1, :process 52, :time 47122518744, :index 7621}
{:type :fail, :f :cas, :value [3 0], :process 79, :time 47123356912, :index 7622}
{:type :fail, :f :cas, :value [2 0], :process 57, :time 47124336341, :index 7625}
{:type :invoke, :f :cas, :value [3 2], :process 54, :time 47158509034, :index 7626}
{:type :invoke, :f :write, :value 1, :process 79, :time 47162626863, :index 7628}
{:type :fail, :f :cas, :value [3 2], :process 54, :time 47164846879, :index 7629}
{:type :invoke, :f :read, :value nil, :process 52, :time 47167814402, :index 7631}
{:type :ok, :f :write, :value 1, :process 79, :time 47168218757, :index 7632}
{:type :ok, :f :read, :value 1, :process 52, :time 47174035743, :index 7633}
{:type :invoke, :f :read, :value nil, :process 57, :time 47184576571, :index 7634}
{:type :ok, :f :read, :value 1, :process 57, :time 47190187432, :index 7636}
{:type :invoke, :f :read, :value nil, :process 79, :time 47215454065, :index 7638}
{:type :invoke, :f :write, :value 2, :process 57, :time 47219445277, :index 7639}
{:type :ok, :f :read, :value 1, :process 79, :time 47220363973, :index 7640}
{:type :invoke, :f :cas, :value [2 3], :process 16, :time 47221801897, :index 7641}
{:type :ok, :f :write, :value 2, :process 57, :time 47225047134, :index 7642}
{:type :ok, :f :cas, :value [2 3], :process 16, :time 47228099803, :index 7643}
{:type :invoke, :f :cas, :value [1 2], :process 57, :time 47298312625, :index 7653}
{:type :invoke, :f :read, :value nil, :process 31, :time 47301313957, :index 7656}
{:type :invoke, :f :read, :value nil, :process 52, :time 47301316125, :index 7657}
{:type :fail, :f :cas, :value [1 2], :process 57, :time 47304132904, :index 7659}
{:type :ok, :f :read, :value 3, :process 52, :time 47306560356, :index 7661}
{:type :ok, :f :read, :value 3, :process 31, :time 47306950591, :index 7662}
{:type :invoke, :f :cas, :value [3 3], :process 57, :time 47308412916, :index 7663}
{:type :ok, :f :cas, :value [3 3], :process 57, :time 47313308365, :index 7666}
{:type :invoke, :f :read, :value nil, :process 54, :time 47329106978, :index 7668}
{:type :invoke, :f :write, :value 4, :process 31, :time 47333197748, :index 7670}
{:type :ok, :f :read, :value 3, :process 54, :time 47334600387, :index 7671}
{:type :ok, :f :write, :value 4, :process 31, :time 47337642033, :index 7674}
{:type :invoke, :f :read, :value nil, :process 16, :time 47360353336, :index 7678}
{:type :ok, :f :read, :value 4, :process 16, :time 47366638418, :index 7679}
{:type :invoke, :f :read, :value nil, :process 79, :time 47388621479, :index 7682}
{:type :invoke, :f :cas, :value [0 1], :process 57, :time 47393555207, :index 7683}
{:type :ok, :f :read, :value 4, :process 79, :time 47393942505, :index 7684}
{:type :fail, :f :cas, :value [0 1], :process 57, :time 47399116994, :index 7685}
{:type :invoke, :f :read, :value nil, :process 16, :time 47403922886, :index 7686}
{:type :ok, :f :read, :value 4, :process 16, :time 47410164955, :index 7688}
{:type :invoke, :f :write, :value 4, :process 54, :time 47425860642, :index 7690}
{:type :invoke, :f :read, :value nil, :process 79, :time 47430230440, :index 7691}
{:type :ok, :f :write, :value 4, :process 54, :time 47432123547, :index 7692}
{:type :invoke, :f :read, :value nil, :process 52, :time 47434819742, :index 7693}
{:type :ok, :f :read, :value 4, :process 79, :time 47435636307, :index 7694}
{:type :ok, :f :read, :value 4, :process 52, :time 47439695387, :index 7695}
{:type :invoke, :f :cas, :value [3 1], :process 16, :time 47455426493, :index 7697}
{:type :fail, :f :cas, :value [3 1], :process 16, :time 47460524696, :index 7699}
{:type :invoke, :f :cas, :value [4 3], :process 54, :time 47463400030, :index 7700}
{:type :ok, :f :cas, :value [4 3], :process 54, :time 47469980823, :index 7703}
{:type :invoke, :f :cas, :value [3 3], :process 31, :time 47478901761, :index 7707}
{:type :ok, :f :cas, :value [3 3], :process 31, :time 47483951219, :index 7709}
{:type :invoke, :f :read, :value nil, :process 79, :time 47485882894, :index 7710}
{:type :ok, :f :read, :value 3, :process 79, :time 47491283013, :index 7712}
{:type :invoke, :f :cas, :value [4 4], :process 57, :time 47564380098, :index 7718}
{:type :invoke, :f :read, :value nil, :process 52, :time 47568000342, :index 7720}
{:type :fail, :f :cas, :value [4 4], :process 57, :time 47570260888, :index 7721}
{:type :ok, :f :read, :value 3, :process 52, :time 47576069334, :index 7723}
{:type :invoke, :f :read, :value nil, :process 57, :time 47586589318, :index 7727}
{:type :ok, :f :read, :value 3, :process 57, :time 47591735460, :index 7728}
{:type :invoke, :f :write, :value 2, :process 54, :time 47615290018, :index 7732}
{:type :ok, :f :write, :value 2, :process 54, :time 47620515176, :index 7733}
{:type :invoke, :f :write, :value 0, :process 16, :time 47652798904, :index 7734}
{:type :ok, :f :write, :value 0, :process 16, :time 47660243255, :index 7737}
{:type :invoke, :f :read, :value nil, :process 57, :time 47670135114, :index 7739}
{:type :invoke, :f :write, :value 3, :process 31, :time 47677207587, :index 7740}
{:type :invoke, :f :cas, :value [2 4], :process 79, :time 47687533804, :index 7742}
{:type :invoke, :f :write, :value 3, :process 16, :time 47699520381, :index 7744}
{:type :invoke, :f :cas, :value [1 1], :process 52, :time 47716321363, :index 7745}
{:type :invoke, :f :read, :value nil, :process 54, :time 47737777012, :index 7746}
{:type :ok, :f :write, :value 3, :process 31, :time 48186318407, :index 7750}
{:type :fail, :f :cas, :value [2 4], :process 79, :time 48187293188, :index 7751}
{:type :ok, :f :read, :value 3, :process 54, :time 48187784464, :index 7753}
{:type :ok, :f :write, :value 3, :process 16, :time 48188493726, :index 7755}
{:type :fail, :f :cas, :value [1 1], :process 52, :time 48188565623, :index 7756}
{:type :ok, :f :read, :value 0, :process 57, :time 48188878192, :index 7757}
{:type :invoke, :f :cas, :value [4 4], :process 31, :time 48199815235, :index 7762}
{:type :fail, :f :cas, :value [4 4], :process 31, :time 48204912972, :index 7763}
{:type :info, :f :write, :value 4, :process 58, :time 51501212411, :error :timeout, :index 8187}
{:type :info, :f :cas, :value [3 0], :process 30, :time 51512920640, :error :timeout, :index 8189}
{:type :info, :f :write, :value 1, :process 55, :time 51523625517, :error :timeout, :index 8194}
{:type :fail, :f :read, :value nil, :process 33, :time 51529588483, :error :timeout, :index 8196}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
