{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :invoke, :f :read, :value nil, :process 27, :time 13662890448, :index 3200}
{:type :ok, :f :read, :value nil, :process 27, :time 13668209155, :index 3201}
{:type :invoke, :f :write, :value 0, :process 20, :time 13692038247, :index 3207}
{:type :ok, :f :write, :value 0, :process 20, :time 13698154640, :index 3209}
{:type :invoke, :f :write, :value 4, :process 1, :time 13724765331, :index 3221}
{:type :ok, :f :write, :value 4, :process 1, :time 13729814450, :index 3223}
{:type :invoke, :f :write, :value 0, :process 6, :time 13731041077, :index 3224}
{:type :ok, :f :write, :value 0, :process 6, :time 13736455548, :index 3230}
{:type :invoke, :f :write, :value 2, :process 9, :time 13753199670, :index 3237}
{:type :ok, :f :write, :value 2, :process 9, :time 13758322788, :index 3238}
{:type :invoke, :f :write, :value 4, :process 9, :time 13762627696, :index 3240}
{:type :ok, :f :write, :value 4, :process 9, :time 13767412161, :index 3241}
{:type :invoke, :f :write, :value 0, :process 25, :time 13769065128, :index 3242}
{:type :ok, :f :write, :value 0, :process 25, :time 13774280929, :index 3244}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 13782050097, :index 3246}
{:type :ok, :f :cas, :value [0 2], :process 22, :time 13787440641, :index 3247}
{:type :invoke, :f :read, :value nil, :process 20, :time 13788429791, :index 3248}
{:type :invoke, :f :read, :value nil, :process 4, :time 13792322195, :index 3250}
{:type :ok, :f :read, :value 2, :process 20, :time 13792914780, :index 3251}
{:type :ok, :f :read, :value 2, :process 4, :time 13797548181, :index 3253}
{:type :invoke, :f :read, :value nil, :process 6, :time 13802714711, :index 3254}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 13803268653, :index 3255}
{:type :invoke, :f :write, :value 4, :process 4, :time 13804821352, :index 3256}
{:type :invoke, :f :write, :value 1, :process 1, :time 13810065997, :index 3257}
{:type :ok, :f :read, :value 2, :process 6, :time 13810447351, :index 3258}
{:type :ok, :f :cas, :value [2 1], :process 3, :time 13810759649, :index 3259}
{:type :ok, :f :write, :value 4, :process 4, :time 13811368981, :index 3260}
{:type :ok, :f :write, :value 1, :process 1, :time 13815455226, :index 3261}
{:type :invoke, :f :cas, :value [4 3], :process 27, :time 13818462923, :index 3262}
{:type :fail, :f :cas, :value [4 3], :process 27, :time 13824307003, :index 3263}
{:type :invoke, :f :write, :value 4, :process 25, :time 13836541682, :index 3268}
{:type :ok, :f :write, :value 4, :process 25, :time 13841399652, :index 3269}
{:type :invoke, :f :read, :value nil, :process 27, :time 13846572668, :index 3270}
{:type :invoke, :f :write, :value 3, :process 6, :time 13853730233, :index 3271}
{:type :ok, :f :read, :value 4, :process 27, :time 13854059688, :index 3272}
{:type :invoke, :f :read, :value nil, :process 20, :time 13856205844, :index 3273}
{:type :ok, :f :write, :value 3, :process 6, :time 13858741875, :index 3274}
{:type :invoke, :f :read, :value nil, :process 8, :time 13860614238, :index 3276}
{:type :ok, :f :read, :value 3, :process 20, :time 13861186381, :index 3277}
{:type :ok, :f :read, :value 3, :process 8, :time 13865598848, :index 3279}
{:type :invoke, :f :read, :value nil, :process 25, :time 13868680273, :index 3281}
{:type :ok, :f :read, :value 3, :process 25, :time 13875377604, :index 3284}
{:type :invoke, :f :cas, :value [3 2], :process 1, :time 13916709281, :index 3295}
{:type :ok, :f :cas, :value [3 2], :process 1, :time 13921343961, :index 3297}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 13938049313, :index 3303}
{:type :invoke, :f :write, :value 4, :process 22, :time 13938710775, :index 3304}
{:type :invoke, :f :write, :value 1, :process 9, :time 13941673100, :index 3305}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 13943351767, :index 3307}
{:type :ok, :f :write, :value 4, :process 22, :time 13944274271, :index 3308}
{:type :invoke, :f :write, :value 4, :process 4, :time 13945620687, :index 3310}
{:type :ok, :f :write, :value 1, :process 9, :time 13946973542, :index 3311}
{:type :ok, :f :write, :value 4, :process 4, :time 13950634420, :index 3312}
{:type :invoke, :f :read, :value nil, :process 8, :time 13953832354, :index 3314}
{:type :ok, :f :read, :value 4, :process 8, :time 13958649107, :index 3316}
{:type :invoke, :f :write, :value 2, :process 27, :time 13971320591, :index 3318}
{:type :ok, :f :write, :value 2, :process 27, :time 13976507405, :index 3319}
{:type :invoke, :f :write, :value 2, :process 27, :time 13985765671, :index 3321}
{:type :ok, :f :write, :value 2, :process 27, :time 13990289378, :index 3323}
{:type :invoke, :f :cas, :value [1 2], :process 9, :time 14006310965, :index 3328}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 14007031471, :index 3329}
{:type :fail, :f :cas, :value [1 2], :process 9, :time 14012395214, :index 3330}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 14012943394, :index 3331}
{:type :invoke, :f :read, :value nil, :process 25, :time 14022654199, :index 3334}
{:type :ok, :f :read, :value 2, :process 25, :time 14027473844, :index 3337}
{:type :invoke, :f :cas, :value [2 3], :process 25, :time 14029724191, :index 3338}
{:type :ok, :f :cas, :value [2 3], :process 25, :time 14035501570, :index 3340}
{:type :invoke, :f :cas, :value [0 4], :process 20, :time 14046471832, :index 3345}
{:type :invoke, :f :cas, :value [4 4], :process 22, :time 14046489421, :index 3346}
{:type :fail, :f :cas, :value [4 4], :process 22, :time 14051898659, :index 3348}
{:type :fail, :f :cas, :value [0 4], :process 20, :time 14052524308, :index 3349}
{:type :invoke, :f :write, :value 2, :process 3, :time 14052656183, :index 3350}
{:type :ok, :f :write, :value 2, :process 3, :time 14057126114, :index 3352}
{:type :invoke, :f :read, :value nil, :process 8, :time 14068922279, :index 3356}
{:type :invoke, :f :cas, :value [1 4], :process 27, :time 14069552717, :index 3357}
{:type :ok, :f :read, :value 2, :process 8, :time 14073751769, :index 3359}
{:type :fail, :f :cas, :value [1 4], :process 27, :time 14075795385, :index 3362}
{:type :invoke, :f :cas, :value [3 0], :process 8, :time 14099999945, :index 3364}
{:type :invoke, :f :write, :value 3, :process 4, :time 14102891280, :index 3365}
{:type :fail, :f :cas, :value [3 0], :process 8, :time 14104915263, :index 3366}
{:type :ok, :f :write, :value 3, :process 4, :time 14110034778, :index 3368}
{:type :invoke, :f :write, :value 4, :process 20, :time 14115815116, :index 3373}
{:type :invoke, :f :read, :value nil, :process 1, :time 14117604001, :index 3376}
{:type :ok, :f :read, :value 4, :process 1, :time 14122135277, :index 3381}
{:type :ok, :f :write, :value 4, :process 20, :time 14122143626, :index 3382}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 14128382527, :index 3385}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 14135011918, :index 3387}
{:type :invoke, :f :cas, :value [3 2], :process 9, :time 14163725812, :index 3392}
{:type :invoke, :f :write, :value 3, :process 6, :time 14164259451, :index 3393}
{:type :ok, :f :write, :value 3, :process 6, :time 14169379241, :index 3396}
{:type :ok, :f :cas, :value [3 2], :process 9, :time 14169835017, :index 3397}
{:type :invoke, :f :read, :value nil, :process 20, :time 14171376905, :index 3399}
{:type :ok, :f :read, :value 2, :process 20, :time 14177944370, :index 3401}
{:type :invoke, :f :read, :value nil, :process 25, :time 14178029612, :index 3402}
{:type :ok, :f :read, :value 2, :process 25, :time 14182963577, :index 3405}
{:type :invoke, :f :write, :value 2, :process 1, :time 14184373457, :index 3408}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 14188299909, :index 3410}
{:type :ok, :f :write, :value 2, :process 1, :time 14189633043, :index 3412}
{:type :fail, :f :cas, :value [1 4], :process 4, :time 14193801628, :index 3414}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 14203157146, :index 3416}
{:type :fail, :f :cas, :value [0 4], :process 22, :time 14208377967, :index 3418}
{:type :invoke, :f :write, :value 1, :process 27, :time 14217089042, :index 3422}
{:type :invoke, :f :cas, :value [4 3], :process 1, :time 14221868989, :index 3424}
{:type :ok, :f :write, :value 1, :process 27, :time 14222217560, :index 3425}
{:type :fail, :f :cas, :value [4 3], :process 1, :time 14227438158, :index 3427}
{:type :invoke, :f :read, :value nil, :process 20, :time 14239214657, :index 3430}
{:type :ok, :f :read, :value 1, :process 20, :time 14244751009, :index 3431}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 14252180233, :index 3433}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 14256978159, :index 3435}
{:type :invoke, :f :read, :value nil, :process 9, :time 14257084295, :index 3436}
{:type :ok, :f :read, :value 1, :process 9, :time 14262487586, :index 3437}
{:type :invoke, :f :read, :value nil, :process 6, :time 14268635115, :index 3438}
{:type :ok, :f :read, :value 1, :process 6, :time 14273805648, :index 3439}
{:type :invoke, :f :cas, :value [1 1], :process 27, :time 14274458175, :index 3440}
{:type :ok, :f :cas, :value [1 1], :process 27, :time 14279391368, :index 3441}
{:type :invoke, :f :write, :value 3, :process 27, :time 14281654248, :index 3443}
{:type :ok, :f :write, :value 3, :process 27, :time 14287706801, :index 3448}
{:type :invoke, :f :read, :value nil, :process 6, :time 14305059502, :index 3452}
{:type :ok, :f :read, :value 3, :process 6, :time 14310032574, :index 3454}
{:type :invoke, :f :write, :value 2, :process 6, :time 14312353938, :index 3456}
{:type :ok, :f :write, :value 2, :process 6, :time 14317477742, :index 3458}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 14328265471, :index 3460}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 14333126318, :index 3461}
{:type :invoke, :f :read, :value nil, :process 4, :time 14362062458, :index 3466}
{:type :invoke, :f :cas, :value [2 4], :process 1, :time 14362703418, :index 3467}
{:type :ok, :f :read, :value 2, :process 4, :time 14367568206, :index 3469}
{:type :ok, :f :cas, :value [2 4], :process 1, :time 14367902339, :index 3470}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 14368831580, :index 3471}
{:type :invoke, :f :read, :value nil, :process 25, :time 14371227778, :index 3473}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 14373730386, :index 3476}
{:type :ok, :f :read, :value 4, :process 25, :time 14377493141, :index 3478}
{:type :invoke, :f :read, :value nil, :process 8, :time 14388799828, :index 3480}
{:type :ok, :f :read, :value 4, :process 8, :time 14393139066, :index 3482}
{:type :invoke, :f :write, :value 1, :process 22, :time 14400640796, :index 3484}
{:type :ok, :f :write, :value 1, :process 22, :time 14405874815, :index 3485}
{:type :invoke, :f :cas, :value [1 3], :process 20, :time 14413012330, :index 3489}
{:type :invoke, :f :write, :value 3, :process 9, :time 14413754976, :index 3490}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 14415341582, :index 3491}
{:type :ok, :f :cas, :value [1 3], :process 20, :time 14417894168, :index 3493}
{:type :invoke, :f :write, :value 3, :process 4, :time 14418993084, :index 3494}
{:type :invoke, :f :read, :value nil, :process 25, :time 14426683996, :index 3496}
{:type :ok, :f :write, :value 3, :process 9, :time 14427355281, :index 3497}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 14427791884, :index 3498}
{:type :ok, :f :write, :value 3, :process 4, :time 14428808999, :index 3499}
{:type :invoke, :f :write, :value 4, :process 27, :time 14430957230, :index 3501}
{:type :ok, :f :read, :value 3, :process 25, :time 14432222435, :index 3502}
{:type :ok, :f :write, :value 4, :process 27, :time 14435742186, :index 3503}
{:type :invoke, :f :read, :value nil, :process 6, :time 14438755561, :index 3504}
{:type :ok, :f :read, :value 4, :process 6, :time 14443297283, :index 3505}
{:type :invoke, :f :read, :value nil, :process 8, :time 14449404873, :index 3506}
{:type :invoke, :f :read, :value nil, :process 6, :time 14453555634, :index 3507}
{:type :ok, :f :read, :value 4, :process 8, :time 14454455956, :index 3508}
{:type :ok, :f :read, :value 4, :process 6, :time 14458512682, :index 3509}
{:type :invoke, :f :write, :value 4, :process 9, :time 14470646798, :index 3512}
{:type :invoke, :f :cas, :value [3 1], :process 27, :time 14475013990, :index 3515}
{:type :ok, :f :write, :value 4, :process 9, :time 14475964500, :index 3516}
{:type :fail, :f :cas, :value [3 1], :process 27, :time 14480888889, :index 3518}
{:type :invoke, :f :cas, :value [1 3], :process 20, :time 14486195232, :index 3520}
{:type :fail, :f :cas, :value [1 3], :process 20, :time 14492061073, :index 3521}
{:type :invoke, :f :read, :value nil, :process 1, :time 14499162817, :index 3523}
{:type :ok, :f :read, :value 4, :process 1, :time 14504035915, :index 3526}
{:type :invoke, :f :write, :value 1, :process 3, :time 14527058577, :index 3528}
{:type :ok, :f :write, :value 1, :process 3, :time 14532240985, :index 3529}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 14535062930, :index 3530}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 14540515395, :index 3532}
{:type :invoke, :f :cas, :value [3 2], :process 25, :time 14540501342, :index 3533}
{:type :fail, :f :cas, :value [3 2], :process 25, :time 14546138758, :index 3535}
{:type :invoke, :f :read, :value nil, :process 20, :time 14571322063, :index 3544}
{:type :ok, :f :read, :value 1, :process 20, :time 14575736726, :index 3545}
{:type :invoke, :f :write, :value 2, :process 27, :time 14586666356, :index 3551}
{:type :invoke, :f :write, :value 2, :process 22, :time 14590162330, :index 3554}
{:type :ok, :f :write, :value 2, :process 27, :time 14592065550, :index 3556}
{:type :ok, :f :write, :value 2, :process 22, :time 14595511338, :index 3557}
{:type :invoke, :f :write, :value 1, :process 9, :time 14612230589, :index 3558}
{:type :ok, :f :write, :value 1, :process 9, :time 14617464627, :index 3560}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 14618766176, :index 3562}
{:type :invoke, :f :write, :value 3, :process 22, :time 14620755243, :index 3564}
{:type :invoke, :f :write, :value 2, :process 9, :time 14621729991, :index 3565}
{:type :invoke, :f :read, :value nil, :process 6, :time 14622769923, :index 3566}
{:type :invoke, :f :write, :value 3, :process 1, :time 14624275855, :index 3567}
{:type :invoke, :f :write, :value 1, :process 20, :time 14625996095, :index 3568}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 14630824148, :index 3570}
{:type :ok, :f :write, :value 3, :process 1, :time 14631267042, :index 3571}
{:type :ok, :f :write, :value 2, :process 9, :time 14631540187, :index 3572}
{:type :ok, :f :read, :value 2, :process 6, :time 14631788910, :index 3573}
{:type :ok, :f :write, :value 3, :process 22, :time 14632334614, :index 3574}
{:type :ok, :f :write, :value 1, :process 20, :time 14633080187, :index 3575}
{:type :invoke, :f :read, :value nil, :process 8, :time 14643102901, :index 3576}
{:type :invoke, :f :read, :value nil, :process 25, :time 14646406031, :index 3577}
{:type :ok, :f :read, :value 1, :process 8, :time 14647531582, :index 3578}
{:type :ok, :f :read, :value 1, :process 25, :time 14651329071, :index 3579}
{:type :invoke, :f :read, :value nil, :process 9, :time 14664780844, :index 3583}
{:type :ok, :f :read, :value 1, :process 9, :time 14669940572, :index 3584}
{:type :invoke, :f :cas, :value [1 4], :process 27, :time 14683363862, :index 3590}
{:type :ok, :f :cas, :value [1 4], :process 27, :time 14690289844, :index 3594}
{:type :invoke, :f :read, :value nil, :process 4, :time 14694792421, :index 3596}
{:type :ok, :f :read, :value 4, :process 4, :time 14699751759, :index 3597}
{:type :invoke, :f :cas, :value [4 1], :process 1, :time 14712553870, :index 3602}
{:type :ok, :f :cas, :value [4 1], :process 1, :time 14717724749, :index 3604}
{:type :invoke, :f :write, :value 2, :process 3, :time 14721510732, :index 3606}
{:type :ok, :f :write, :value 2, :process 3, :time 14725710891, :index 3607}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
