{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :invoke, :f :read, :value nil, :process 18, :time 17841732363, :index 3610}
{:type :ok, :f :read, :value nil, :process 18, :time 17846769837, :index 3611}
{:type :invoke, :f :read, :value nil, :process 11, :time 17858545915, :index 3614}
{:type :ok, :f :read, :value nil, :process 11, :time 17864055194, :index 3616}
{:type :invoke, :f :cas, :value [1 1], :process 19, :time 17864737350, :index 3617}
{:type :fail, :f :cas, :value [1 1], :process 19, :time 17870532749, :error :not-found, :index 3620}
{:type :invoke, :f :read, :value nil, :process 14, :time 17880237801, :index 3622}
{:type :ok, :f :read, :value nil, :process 14, :time 17885420115, :index 3624}
{:type :invoke, :f :write, :value 0, :process 18, :time 17909030144, :index 3628}
{:type :ok, :f :write, :value 0, :process 18, :time 17914025468, :index 3629}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 17947395317, :index 3630}
{:type :invoke, :f :read, :value nil, :process 18, :time 17953298694, :index 3633}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 17954480216, :index 3634}
{:type :ok, :f :read, :value 0, :process 18, :time 17957772674, :index 3637}
{:type :invoke, :f :write, :value 3, :process 16, :time 17982872170, :index 3644}
{:type :ok, :f :write, :value 3, :process 16, :time 17987892135, :index 3647}
{:type :invoke, :f :read, :value nil, :process 19, :time 17998820584, :index 3648}
{:type :ok, :f :read, :value 3, :process 19, :time 18004501657, :index 3650}
{:type :invoke, :f :read, :value nil, :process 14, :time 18008682786, :index 3652}
{:type :ok, :f :read, :value 3, :process 14, :time 18013576208, :index 3653}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 18024030180, :index 3655}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 18028905964, :index 3657}
{:type :invoke, :f :write, :value 4, :process 16, :time 18034134710, :index 3658}
{:type :ok, :f :write, :value 4, :process 16, :time 18039366969, :index 3660}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 18050101964, :index 3662}
{:type :fail, :f :cas, :value [0 4], :process 13, :time 18054755968, :index 3663}
{:type :invoke, :f :cas, :value [4 1], :process 11, :time 18067897340, :index 3666}
{:type :ok, :f :cas, :value [4 1], :process 11, :time 18073760046, :index 3668}
{:type :invoke, :f :read, :value nil, :process 14, :time 18140834676, :index 3677}
{:type :ok, :f :read, :value 1, :process 14, :time 18145193182, :index 3679}
{:type :invoke, :f :read, :value nil, :process 13, :time 18149014453, :index 3680}
{:type :ok, :f :read, :value 1, :process 13, :time 18153760412, :index 3681}
{:type :invoke, :f :read, :value nil, :process 13, :time 18180016649, :index 3685}
{:type :ok, :f :read, :value 1, :process 13, :time 18184111019, :index 3687}
{:type :invoke, :f :cas, :value [0 0], :process 19, :time 18192756556, :index 3688}
{:type :fail, :f :cas, :value [0 0], :process 19, :time 18198180807, :index 3690}
{:type :invoke, :f :read, :value nil, :process 16, :time 18201667910, :index 3691}
{:type :invoke, :f :write, :value 0, :process 11, :time 18202024201, :index 3692}
{:type :ok, :f :read, :value 1, :process 16, :time 18206686632, :index 3694}
{:type :ok, :f :write, :value 0, :process 11, :time 18207278336, :index 3695}
{:type :invoke, :f :write, :value 2, :process 18, :time 18210163072, :index 3696}
{:type :ok, :f :write, :value 2, :process 18, :time 18216078983, :index 3698}
{:type :invoke, :f :read, :value nil, :process 11, :time 18217505641, :index 3699}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 18219942204, :index 3700}
{:type :ok, :f :read, :value 2, :process 11, :time 18222143085, :index 3703}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 18224794704, :index 3704}
{:type :invoke, :f :write, :value 1, :process 13, :time 18275358100, :index 3710}
{:type :ok, :f :write, :value 1, :process 13, :time 18279524272, :index 3711}
{:type :invoke, :f :read, :value nil, :process 14, :time 18325444631, :index 3720}
{:type :ok, :f :read, :value 1, :process 14, :time 18331535858, :index 3721}
{:type :invoke, :f :write, :value 2, :process 13, :time 18333782075, :index 3722}
{:type :invoke, :f :read, :value nil, :process 18, :time 18337321682, :index 3723}
{:type :ok, :f :write, :value 2, :process 13, :time 18338914087, :index 3724}
{:type :ok, :f :read, :value 2, :process 18, :time 18341982771, :index 3725}
{:type :invoke, :f :read, :value nil, :process 19, :time 18346440119, :index 3726}
{:type :ok, :f :read, :value 2, :process 19, :time 18352118888, :index 3729}
{:type :invoke, :f :write, :value 4, :process 13, :time 18370167419, :index 3730}
{:type :invoke, :f :write, :value 3, :process 14, :time 18371795842, :index 3732}
{:type :ok, :f :write, :value 4, :process 13, :time 18374744647, :index 3733}
{:type :ok, :f :write, :value 3, :process 14, :time 18376726435, :index 3735}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 18386054971, :index 3736}
{:type :fail, :f :cas, :value [2 0], :process 16, :time 18391073542, :index 3737}
{:type :invoke, :f :read, :value nil, :process 14, :time 18393972182, :index 3738}
{:type :ok, :f :read, :value 3, :process 14, :time 18398873536, :index 3740}
{:type :invoke, :f :read, :value nil, :process 11, :time 18404382762, :index 3744}
{:type :ok, :f :read, :value 3, :process 11, :time 18409351036, :index 3745}
{:type :invoke, :f :read, :value nil, :process 18, :time 18440234038, :index 3749}
{:type :ok, :f :read, :value 3, :process 18, :time 18446857870, :index 3750}
{:type :invoke, :f :read, :value nil, :process 14, :time 18468126157, :index 3754}
{:type :ok, :f :read, :value 3, :process 14, :time 18473391457, :index 3755}
{:type :invoke, :f :write, :value 0, :process 16, :time 18475338132, :index 3756}
{:type :ok, :f :write, :value 0, :process 16, :time 18480579227, :index 3757}
{:type :invoke, :f :write, :value 0, :process 16, :time 18486846888, :index 3759}
{:type :invoke, :f :cas, :value [0 2], :process 11, :time 18487610361, :index 3760}
{:type :ok, :f :write, :value 0, :process 16, :time 18491915013, :index 3762}
{:type :ok, :f :cas, :value [0 2], :process 11, :time 18492372667, :index 3763}
{:type :invoke, :f :write, :value 2, :process 19, :time 18494369899, :index 3765}
{:type :ok, :f :write, :value 2, :process 19, :time 18499516895, :index 3767}
{:type :invoke, :f :read, :value nil, :process 13, :time 18560001522, :index 3774}
{:type :ok, :f :read, :value 2, :process 13, :time 18566689550, :index 3775}
{:type :invoke, :f :read, :value nil, :process 18, :time 18580133257, :index 3777}
{:type :ok, :f :read, :value 2, :process 18, :time 18585072721, :index 3779}
{:type :invoke, :f :read, :value nil, :process 19, :time 18625769746, :index 3783}
{:type :ok, :f :read, :value 2, :process 19, :time 18630452662, :index 3785}
{:type :invoke, :f :cas, :value [3 3], :process 18, :time 18672322484, :index 3792}
{:type :invoke, :f :read, :value nil, :process 14, :time 18672659339, :index 3793}
{:type :fail, :f :cas, :value [3 3], :process 18, :time 18677313301, :index 3795}
{:type :ok, :f :read, :value 2, :process 14, :time 18678283206, :index 3796}
{:type :invoke, :f :read, :value nil, :process 11, :time 18690641344, :index 3800}
{:type :invoke, :f :read, :value nil, :process 16, :time 18691172512, :index 3801}
{:type :invoke, :f :cas, :value [1 1], :process 14, :time 18693515631, :index 3802}
{:type :invoke, :f :write, :value 0, :process 18, :time 18697574054, :index 3803}
{:type :ok, :f :read, :value 2, :process 11, :time 18698441135, :index 3805}
{:type :invoke, :f :write, :value 1, :process 19, :time 18698725233, :index 3806}
{:type :invoke, :f :read, :value nil, :process 13, :time 18698960574, :index 3807}
{:type :ok, :f :read, :value 2, :process 16, :time 18699787654, :index 3808}
{:type :fail, :f :cas, :value [1 1], :process 14, :time 18700579964, :index 3809}
{:type :ok, :f :write, :value 0, :process 18, :time 18702376988, :index 3810}
{:type :ok, :f :read, :value 0, :process 13, :time 18703911187, :index 3811}
{:type :ok, :f :write, :value 1, :process 19, :time 18705003336, :index 3813}
{:type :invoke, :f :cas, :value [3 3], :process 16, :time 18715102346, :index 3814}
{:type :fail, :f :cas, :value [3 3], :process 16, :time 18721019980, :index 3815}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 18747269761, :index 3817}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 18752435601, :index 3818}
{:type :invoke, :f :write, :value 2, :process 11, :time 18770732970, :index 3823}
{:type :ok, :f :write, :value 2, :process 11, :time 18776117840, :index 3825}
{:type :invoke, :f :cas, :value [4 1], :process 13, :time 18776179697, :index 3826}
{:type :fail, :f :cas, :value [4 1], :process 13, :time 18780983539, :index 3827}
{:type :invoke, :f :write, :value 2, :process 18, :time 18822638730, :index 3832}
{:type :invoke, :f :read, :value nil, :process 11, :time 18823388270, :index 3833}
{:type :ok, :f :write, :value 2, :process 18, :time 18829003016, :index 3834}
{:type :ok, :f :read, :value 2, :process 11, :time 18830068139, :index 3835}
{:type :invoke, :f :write, :value 1, :process 19, :time 18859255305, :index 3841}
{:type :ok, :f :write, :value 1, :process 19, :time 18864083202, :index 3844}
{:type :invoke, :f :cas, :value [3 3], :process 14, :time 18866894401, :index 3845}
{:type :fail, :f :cas, :value [3 3], :process 14, :time 18872456273, :index 3847}
{:type :invoke, :f :cas, :value [1 0], :process 14, :time 18891710521, :index 3854}
{:type :ok, :f :cas, :value [1 0], :process 14, :time 18897077911, :index 3855}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 18912736848, :index 3856}
{:type :fail, :f :cas, :value [3 0], :process 16, :time 18918057309, :index 3857}
{:type :invoke, :f :cas, :value [1 2], :process 18, :time 18976262163, :index 3864}
{:type :invoke, :f :cas, :value [3 1], :process 13, :time 18976257653, :index 3865}
{:type :fail, :f :cas, :value [1 2], :process 18, :time 18981854688, :index 3866}
{:type :fail, :f :cas, :value [3 1], :process 13, :time 18982388733, :index 3867}
{:type :invoke, :f :write, :value 3, :process 16, :time 19007338426, :index 3874}
{:type :ok, :f :write, :value 3, :process 16, :time 19012371615, :index 3876}
{:type :invoke, :f :read, :value nil, :process 11, :time 19022315913, :index 3878}
{:type :invoke, :f :read, :value nil, :process 19, :time 19023347672, :index 3879}
{:type :ok, :f :read, :value 3, :process 11, :time 19027922484, :index 3880}
{:type :ok, :f :read, :value 3, :process 19, :time 19028513124, :index 3881}
{:type :invoke, :f :write, :value 3, :process 14, :time 19033349958, :index 3882}
{:type :ok, :f :write, :value 3, :process 14, :time 19039235503, :index 3885}
{:type :invoke, :f :write, :value 4, :process 13, :time 19069626088, :index 3888}
{:type :ok, :f :write, :value 4, :process 13, :time 19075150879, :index 3889}
{:type :invoke, :f :cas, :value [2 0], :process 19, :time 19103782996, :index 3890}
{:type :fail, :f :cas, :value [2 0], :process 19, :time 19111001016, :index 3893}
{:type :invoke, :f :read, :value nil, :process 18, :time 19137136808, :index 3900}
{:type :ok, :f :read, :value 4, :process 18, :time 19142327440, :index 3901}
{:type :invoke, :f :write, :value 2, :process 18, :time 19153602682, :index 3903}
{:type :ok, :f :write, :value 2, :process 18, :time 19159713731, :index 3907}
{:type :invoke, :f :read, :value nil, :process 16, :time 19192631124, :index 3910}
{:type :ok, :f :read, :value 2, :process 16, :time 19198059510, :index 3911}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 19211198095, :index 3913}
{:type :ok, :f :cas, :value [2 1], :process 11, :time 19218640882, :index 3915}
{:type :invoke, :f :cas, :value [3 3], :process 18, :time 19219980729, :index 3918}
{:type :fail, :f :cas, :value [3 3], :process 18, :time 19224567967, :index 3919}
{:type :invoke, :f :cas, :value [2 2], :process 14, :time 19229501868, :index 3920}
{:type :fail, :f :cas, :value [2 2], :process 14, :time 19235119932, :index 3922}
{:type :invoke, :f :write, :value 4, :process 13, :time 19258414172, :index 3925}
{:type :ok, :f :write, :value 4, :process 13, :time 19263055753, :index 3927}
{:type :invoke, :f :write, :value 4, :process 19, :time 19293296753, :index 3930}
{:type :invoke, :f :write, :value 0, :process 16, :time 19293314759, :index 3931}
{:type :ok, :f :write, :value 4, :process 19, :time 19298373217, :index 3933}
{:type :ok, :f :write, :value 0, :process 16, :time 19298374921, :index 3934}
{:type :invoke, :f :read, :value nil, :process 11, :time 19347901665, :index 3944}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 19349827629, :index 3945}
{:type :ok, :f :read, :value 0, :process 11, :time 19353808537, :index 3946}
{:type :fail, :f :cas, :value [1 3], :process 18, :time 19354418853, :index 3947}
{:type :invoke, :f :cas, :value [2 2], :process 13, :time 19374312438, :index 3951}
{:type :fail, :f :cas, :value [2 2], :process 13, :time 19379483433, :index 3953}
{:type :invoke, :f :read, :value nil, :process 14, :time 19391373799, :index 3954}
{:type :ok, :f :read, :value 0, :process 14, :time 19396675417, :index 3955}
{:type :invoke, :f :cas, :value [3 3], :process 13, :time 19413754085, :index 3959}
{:type :fail, :f :cas, :value [3 3], :process 13, :time 19419475410, :index 3961}
{:type :invoke, :f :write, :value 3, :process 18, :time 19429705206, :index 3962}
{:type :invoke, :f :cas, :value [3 0], :process 11, :time 19433111182, :index 3963}
{:type :ok, :f :write, :value 3, :process 18, :time 19434229572, :index 3964}
{:type :ok, :f :cas, :value [3 0], :process 11, :time 19438413516, :index 3965}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 19443801489, :index 3966}
{:type :fail, :f :cas, :value [1 0], :process 16, :time 19449230081, :index 3967}
{:type :invoke, :f :read, :value nil, :process 11, :time 19472679889, :index 3970}
{:type :ok, :f :read, :value 0, :process 11, :time 19479916527, :index 3972}
{:type :invoke, :f :write, :value 0, :process 19, :time 19481771152, :index 3974}
{:type :ok, :f :write, :value 0, :process 19, :time 19487027058, :index 3975}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 19522491096, :index 3981}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 19528282306, :index 3983}
{:type :invoke, :f :write, :value 1, :process 14, :time 19555928455, :index 3986}
{:type :ok, :f :write, :value 1, :process 14, :time 19561521007, :index 3987}
{:type :invoke, :f :write, :value 4, :process 16, :time 19601490294, :index 3992}
{:type :ok, :f :write, :value 4, :process 16, :time 19606257691, :index 3993}
{:type :invoke, :f :write, :value 1, :process 11, :time 19607173547, :index 3994}
{:type :ok, :f :write, :value 1, :process 11, :time 19611799980, :index 3996}
{:type :invoke, :f :read, :value nil, :process 13, :time 19612755886, :index 3997}
{:type :ok, :f :read, :value 1, :process 13, :time 19617761444, :index 3999}
{:type :invoke, :f :cas, :value [0 1], :process 19, :time 19633295364, :index 4000}
{:type :fail, :f :cas, :value [0 1], :process 19, :time 19639240847, :index 4001}
{:type :invoke, :f :read, :value nil, :process 13, :time 19665017894, :index 4006}
{:type :ok, :f :read, :value 1, :process 13, :time 19670168524, :index 4007}
{:type :invoke, :f :read, :value nil, :process 18, :time 19680536380, :index 4008}
{:type :ok, :f :read, :value 1, :process 18, :time 19686131119, :index 4009}
{:type :invoke, :f :cas, :value [0 3], :process 19, :time 19709504282, :index 4011}
{:type :invoke, :f :read, :value nil, :process 14, :time 19710825613, :index 4013}
{:type :fail, :f :cas, :value [0 3], :process 19, :time 19714965090, :index 4014}
{:type :ok, :f :read, :value 1, :process 14, :time 19716272548, :index 4015}
{:type :invoke, :f :write, :value 1, :process 16, :time 19775560792, :index 4036}
{:type :ok, :f :write, :value 1, :process 16, :time 19780979260, :index 4037}
{:type :invoke, :f :read, :value nil, :process 11, :time 19791060137, :index 4038}
{:type :ok, :f :read, :value 1, :process 11, :time 19795979197, :index 4040}
{:type :invoke, :f :write, :value 0, :process 13, :time 19837434739, :index 4055}
{:type :ok, :f :write, :value 0, :process 13, :time 19841961996, :index 4057}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
