{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 14924571463, :index 3147}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 14929292199, :error :not-found, :index 3151}
{:type :invoke, :f :read, :value nil, :process 7, :time 14973006412, :index 3166}
{:type :ok, :f :read, :value nil, :process 7, :time 14978829946, :index 3167}
{:type :invoke, :f :read, :value nil, :process 8, :time 14984084272, :index 3169}
{:type :ok, :f :read, :value nil, :process 8, :time 14990055298, :index 3172}
{:type :invoke, :f :cas, :value [0 4], :process 2, :time 14997095626, :index 3177}
{:type :fail, :f :cas, :value [0 4], :process 2, :time 15002404608, :error :not-found, :index 3179}
{:type :invoke, :f :write, :value 3, :process 9, :time 15020671350, :index 3181}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 15021054837, :index 3182}
{:type :ok, :f :write, :value 3, :process 9, :time 15026089012, :index 3184}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 15026166345, :error :not-found, :index 3185}
{:type :invoke, :f :write, :value 4, :process 5, :time 15028378784, :index 3188}
{:type :ok, :f :write, :value 4, :process 5, :time 15033133957, :index 3190}
{:type :invoke, :f :write, :value 3, :process 4, :time 15065557154, :index 3195}
{:type :ok, :f :write, :value 3, :process 4, :time 15070721474, :index 3197}
{:type :invoke, :f :write, :value 4, :process 26, :time 15084747696, :index 3200}
{:type :invoke, :f :cas, :value [1 3], :process 1, :time 15086932695, :index 3201}
{:type :invoke, :f :write, :value 2, :process 23, :time 15087547624, :index 3202}
{:type :invoke, :f :read, :value nil, :process 8, :time 15088316048, :index 3203}
{:type :ok, :f :write, :value 4, :process 26, :time 15090369145, :index 3204}
{:type :fail, :f :cas, :value [1 3], :process 1, :time 15092281077, :index 3205}
{:type :ok, :f :write, :value 2, :process 23, :time 15093373384, :index 3206}
{:type :ok, :f :read, :value 2, :process 8, :time 15093528359, :index 3207}
{:type :invoke, :f :cas, :value [0 1], :process 9, :time 15095352999, :index 3208}
{:type :fail, :f :cas, :value [0 1], :process 9, :time 15100683864, :index 3209}
{:type :invoke, :f :write, :value 4, :process 7, :time 15125101623, :index 3216}
{:type :ok, :f :write, :value 4, :process 7, :time 15130117146, :index 3217}
{:type :invoke, :f :read, :value nil, :process 5, :time 15138407726, :index 3220}
{:type :ok, :f :read, :value 4, :process 5, :time 15144383676, :index 3223}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 15153931643, :index 3224}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 15158765131, :index 3226}
{:type :invoke, :f :read, :value nil, :process 2, :time 15160659486, :index 3227}
{:type :invoke, :f :read, :value nil, :process 7, :time 15164371983, :index 3229}
{:type :ok, :f :read, :value 4, :process 2, :time 15165542418, :index 3230}
{:type :ok, :f :read, :value 4, :process 7, :time 15169247751, :index 3231}
{:type :invoke, :f :read, :value nil, :process 9, :time 15172940510, :index 3232}
{:type :invoke, :f :cas, :value [0 4], :process 1, :time 15173540058, :index 3233}
{:type :ok, :f :read, :value 4, :process 9, :time 15178162094, :index 3235}
{:type :fail, :f :cas, :value [0 4], :process 1, :time 15178917707, :index 3236}
{:type :invoke, :f :read, :value nil, :process 23, :time 15224639073, :index 3246}
{:type :invoke, :f :cas, :value [4 4], :process 2, :time 15225813731, :index 3249}
{:type :ok, :f :read, :value 4, :process 23, :time 15229424026, :index 3250}
{:type :ok, :f :cas, :value [4 4], :process 2, :time 15230955470, :index 3251}
{:type :invoke, :f :read, :value nil, :process 4, :time 15231982597, :index 3253}
{:type :ok, :f :read, :value 4, :process 4, :time 15237576657, :index 3255}
{:type :invoke, :f :read, :value nil, :process 9, :time 15241417295, :index 3256}
{:type :ok, :f :read, :value 4, :process 9, :time 15246713226, :index 3258}
{:type :invoke, :f :write, :value 2, :process 26, :time 15254629292, :index 3260}
{:type :ok, :f :write, :value 2, :process 26, :time 15259847162, :index 3261}
{:type :invoke, :f :write, :value 1, :process 9, :time 15259969424, :index 3262}
{:type :invoke, :f :read, :value nil, :process 2, :time 15262223619, :index 3263}
{:type :ok, :f :write, :value 1, :process 9, :time 15264937767, :index 3264}
{:type :ok, :f :read, :value 1, :process 2, :time 15267156995, :index 3265}
{:type :invoke, :f :write, :value 4, :process 8, :time 15283775547, :index 3267}
{:type :ok, :f :write, :value 4, :process 8, :time 15288515941, :index 3271}
{:type :invoke, :f :read, :value nil, :process 23, :time 15288687416, :index 3272}
{:type :ok, :f :read, :value 4, :process 23, :time 15294333781, :index 3276}
{:type :invoke, :f :read, :value nil, :process 7, :time 15296522849, :index 3280}
{:type :ok, :f :read, :value 4, :process 7, :time 15302672321, :index 3285}
{:type :invoke, :f :read, :value nil, :process 2, :time 15307410409, :index 3287}
{:type :ok, :f :read, :value 4, :process 2, :time 15316538972, :index 3290}
{:type :invoke, :f :cas, :value [0 4], :process 5, :time 15326657792, :index 3295}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 15328028468, :index 3296}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 15330762465, :index 3297}
{:type :fail, :f :cas, :value [0 4], :process 5, :time 15333011753, :index 3299}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 15333581472, :index 3300}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 15335613518, :index 3301}
{:type :invoke, :f :cas, :value [4 1], :process 4, :time 15346812640, :index 3303}
{:type :invoke, :f :cas, :value [3 4], :process 23, :time 15347564825, :index 3305}
{:type :ok, :f :cas, :value [4 1], :process 4, :time 15352971928, :index 3306}
{:type :fail, :f :cas, :value [3 4], :process 23, :time 15353153076, :index 3307}
{:type :invoke, :f :cas, :value [3 1], :process 8, :time 15353867917, :index 3308}
{:type :invoke, :f :read, :value nil, :process 2, :time 15355826640, :index 3310}
{:type :fail, :f :cas, :value [3 1], :process 8, :time 15358579420, :index 3311}
{:type :ok, :f :read, :value 1, :process 2, :time 15361181352, :index 3312}
{:type :invoke, :f :cas, :value [0 0], :process 1, :time 15372159576, :index 3316}
{:type :fail, :f :cas, :value [0 0], :process 1, :time 15377847440, :index 3317}
{:type :invoke, :f :write, :value 0, :process 4, :time 15378249611, :index 3318}
{:type :ok, :f :write, :value 0, :process 4, :time 15383668651, :index 3320}
{:type :invoke, :f :cas, :value [2 1], :process 0, :time 15398792764, :index 3322}
{:type :fail, :f :cas, :value [2 1], :process 0, :time 15404470814, :index 3324}
{:type :invoke, :f :read, :value nil, :process 23, :time 15432404472, :index 3327}
{:type :ok, :f :read, :value 0, :process 23, :time 15437611729, :index 3329}
{:type :invoke, :f :read, :value nil, :process 0, :time 15441728633, :index 3331}
{:type :ok, :f :read, :value 0, :process 0, :time 15446088565, :index 3334}
{:type :invoke, :f :read, :value nil, :process 26, :time 15448108857, :index 3335}
{:type :ok, :f :read, :value 0, :process 26, :time 15452711741, :index 3338}
{:type :invoke, :f :read, :value nil, :process 9, :time 15454215505, :index 3339}
{:type :ok, :f :read, :value 0, :process 9, :time 15459646675, :index 3341}
{:type :invoke, :f :read, :value nil, :process 7, :time 15460919247, :index 3342}
{:type :ok, :f :read, :value 0, :process 7, :time 15467055133, :index 3343}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 15469853826, :index 3344}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 15472938108, :index 3346}
{:type :fail, :f :cas, :value [1 2], :process 8, :time 15475930652, :index 3347}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 15478663555, :index 3350}
{:type :invoke, :f :write, :value 2, :process 2, :time 15489471298, :index 3357}
{:type :ok, :f :write, :value 2, :process 2, :time 15496918338, :index 3362}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 15509362591, :index 3364}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 15514994142, :index 3366}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 15520221372, :index 3369}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 15523283345, :index 3370}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 15525577660, :index 3371}
{:type :ok, :f :cas, :value [2 0], :process 5, :time 15528289150, :index 3373}
{:type :invoke, :f :cas, :value [3 0], :process 7, :time 15539311640, :index 3375}
{:type :invoke, :f :write, :value 4, :process 5, :time 15557549291, :index 3376}
{:type :ok, :f :write, :value 4, :process 5, :time 15563104695, :index 3378}
{:type :invoke, :f :read, :value nil, :process 1, :time 15577103111, :index 3381}
{:type :ok, :f :read, :value 4, :process 1, :time 15583888252, :index 3382}
{:type :invoke, :f :cas, :value [3 3], :process 23, :time 15583885786, :index 3383}
{:type :invoke, :f :write, :value 2, :process 9, :time 15598911505, :index 3384}
{:type :invoke, :f :write, :value 0, :process 4, :time 15603927720, :index 3385}
{:type :ok, :f :write, :value 2, :process 9, :time 15604311746, :index 3386}
{:type :ok, :f :write, :value 0, :process 4, :time 15609109732, :index 3387}
{:type :invoke, :f :cas, :value [1 4], :process 8, :time 15610207696, :index 3388}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :invoke, :f :write, :value 1, :process 26, :time 15622993655, :index 3392}
{:type :ok, :f :write, :value 1, :process 26, :time 15628824623, :index 3394}
{:type :invoke, :f :read, :value nil, :process 0, :time 15652852079, :index 3399}
{:type :invoke, :f :read, :value nil, :process 26, :time 15653090557, :index 3400}
{:type :ok, :f :read, :value 1, :process 0, :time 15658245992, :index 3403}
{:type :ok, :f :read, :value 1, :process 26, :time 15659201509, :index 3404}
{:type :invoke, :f :read, :value nil, :process 2, :time 15660161153, :index 3405}
{:type :invoke, :f :write, :value 4, :process 4, :time 15687365241, :index 3412}
{:type :ok, :f :write, :value 4, :process 4, :time 15692715882, :index 3414}
{:type :invoke, :f :write, :value 0, :process 5, :time 15720366410, :index 3418}
{:type :ok, :f :write, :value 0, :process 5, :time 15725680212, :index 3419}
{:type :invoke, :f :write, :value 3, :process 9, :time 15729584934, :index 3422}
{:type :ok, :f :write, :value 3, :process 9, :time 15735442432, :index 3425}
{:type :invoke, :f :read, :value nil, :process 4, :time 15738943066, :index 3426}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 15743495598, :index 3427}
{:type :ok, :f :read, :value 3, :process 4, :time 15744213595, :index 3428}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 15748164778, :index 3429}
{:type :invoke, :f :read, :value nil, :process 1, :time 15782163090, :index 3431}
{:type :invoke, :f :write, :value 3, :process 26, :time 15784471040, :index 3432}
{:type :ok, :f :read, :value 3, :process 1, :time 15787585690, :index 3434}
{:type :ok, :f :write, :value 3, :process 26, :time 15789471235, :index 3435}
{:type :invoke, :f :write, :value 3, :process 9, :time 15804672472, :index 3436}
{:type :ok, :f :write, :value 3, :process 9, :time 15810396170, :index 3437}
{:type :invoke, :f :read, :value nil, :process 0, :time 15884445537, :index 3446}
{:type :ok, :f :read, :value 3, :process 0, :time 15890610800, :index 3449}
{:type :invoke, :f :read, :value nil, :process 26, :time 15902720031, :index 3450}
{:type :invoke, :f :read, :value nil, :process 5, :time 15904930899, :index 3452}
{:type :ok, :f :read, :value 3, :process 26, :time 15908075634, :index 3453}
{:type :invoke, :f :read, :value nil, :process 4, :time 15909500674, :index 3454}
{:type :ok, :f :read, :value 3, :process 5, :time 15909821731, :index 3455}
{:type :ok, :f :read, :value 3, :process 4, :time 15915946000, :index 3457}
{:type :invoke, :f :read, :value nil, :process 0, :time 15945840882, :index 3458}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 15948062792, :index 3460}
{:type :ok, :f :read, :value 3, :process 0, :time 15951720542, :index 3462}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 15952642951, :index 3463}
{:type :invoke, :f :read, :value nil, :process 9, :time 15953659543, :index 3464}
{:type :invoke, :f :cas, :value [0 0], :process 1, :time 15956838781, :index 3467}
{:type :ok, :f :read, :value 3, :process 9, :time 15958095560, :index 3468}
{:type :fail, :f :cas, :value [0 0], :process 1, :time 15962759929, :index 3470}
{:type :invoke, :f :write, :value 2, :process 5, :time 15977897234, :index 3472}
{:type :ok, :f :write, :value 2, :process 5, :time 15982669151, :index 3473}
{:type :invoke, :f :write, :value 3, :process 0, :time 16006976097, :index 3474}
{:type :ok, :f :write, :value 3, :process 0, :time 16011925071, :index 3475}
{:type :invoke, :f :write, :value 3, :process 0, :time 16017179605, :index 3477}
{:type :ok, :f :write, :value 3, :process 0, :time 16022131213, :index 3479}
{:type :invoke, :f :write, :value 4, :process 26, :time 16062354721, :index 3485}
{:type :ok, :f :write, :value 4, :process 26, :time 16067560952, :index 3488}
{:type :invoke, :f :read, :value nil, :process 9, :time 16071356671, :index 3489}
{:type :invoke, :f :write, :value 2, :process 26, :time 16072829404, :index 3491}
{:type :ok, :f :read, :value 4, :process 9, :time 16078186528, :index 3493}
{:type :ok, :f :write, :value 2, :process 26, :time 16078838486, :index 3494}
{:type :invoke, :f :write, :value 0, :process 4, :time 16106201272, :index 3500}
{:type :ok, :f :write, :value 0, :process 4, :time 16111503117, :index 3502}
{:type :invoke, :f :write, :value 4, :process 0, :time 16121380344, :index 3504}
{:type :invoke, :f :read, :value nil, :process 1, :time 16122018738, :index 3506}
{:type :ok, :f :write, :value 4, :process 0, :time 16126598845, :index 3507}
{:type :ok, :f :read, :value 4, :process 1, :time 16129678309, :index 3509}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 16131928504, :index 3510}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 16139363916, :index 3511}
{:type :invoke, :f :write, :value 2, :process 1, :time 16145951584, :index 3512}
{:type :ok, :f :write, :value 2, :process 1, :time 16151494589, :index 3513}
{:type :invoke, :f :read, :value nil, :process 9, :time 16216436258, :index 3520}
{:type :invoke, :f :read, :value nil, :process 4, :time 16221760737, :index 3523}
{:type :ok, :f :read, :value 2, :process 9, :time 16222843622, :index 3526}
{:type :ok, :f :read, :value 2, :process 4, :time 16227725802, :index 3527}
{:type :invoke, :f :read, :value nil, :process 0, :time 16251854524, :index 3530}
{:type :ok, :f :read, :value 2, :process 0, :time 16256233006, :index 3531}
{:type :invoke, :f :cas, :value [0 0], :process 26, :time 16277099889, :index 3536}
{:type :fail, :f :cas, :value [0 0], :process 26, :time 16282851721, :index 3537}
{:type :invoke, :f :read, :value nil, :process 1, :time 16287748917, :index 3539}
{:type :ok, :f :read, :value 2, :process 1, :time 16292788866, :index 3541}
{:type :invoke, :f :write, :value 2, :process 5, :time 16299621322, :index 3542}
{:type :invoke, :f :read, :value nil, :process 26, :time 16304110072, :index 3543}
{:type :ok, :f :write, :value 2, :process 5, :time 16304355487, :index 3544}
{:type :ok, :f :read, :value 2, :process 26, :time 16310027923, :index 3547}
{:type :invoke, :f :read, :value nil, :process 4, :time 16328975958, :index 3550}
{:type :ok, :f :read, :value 2, :process 4, :time 16335254682, :index 3553}
{:type :invoke, :f :write, :value 0, :process 9, :time 16382103185, :index 3564}
{:type :ok, :f :write, :value 0, :process 9, :time 16388366725, :index 3565}
{:type :invoke, :f :read, :value nil, :process 0, :time 16434524398, :index 3572}
{:type :ok, :f :read, :value 0, :process 0, :time 16439946548, :index 3575}
{:type :info, :f :cas, :value [3 0], :process 7, :time 20544449389, :error :timeout, :index 4432}
{:type :info, :f :cas, :value [3 3], :process 23, :time 20590652088, :error :timeout, :index 4443}
{:type :info, :f :cas, :value [1 4], :process 8, :time 20615127807, :error :timeout, :index 4451}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :fail, :f :read, :value nil, :process 2, :time 20662526174, :error :timeout, :index 4466}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
