{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :invoke, :f :cas, :value [0 3], :process 40, :time 41495476576, :index 6749}
{:type :fail, :f :cas, :value [0 3], :process 40, :time 41501389676, :error :not-found, :index 6751}
{:type :invoke, :f :read, :value nil, :process 40, :time 41539910830, :index 6757}
{:type :invoke, :f :read, :value nil, :process 42, :time 41546283065, :index 6760}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :invoke, :f :write, :value 2, :process 23, :time 41595986742, :index 6765}
{:type :invoke, :f :write, :value 1, :process 8, :time 41613466939, :index 6770}
{:type :invoke, :f :write, :value 2, :process 41, :time 41634305495, :index 6774}
{:type :invoke, :f :read, :value nil, :process 47, :time 41643650866, :index 6777}
{:type :invoke, :f :cas, :value [4 0], :process 46, :time 41647267641, :index 6778}
{:type :invoke, :f :read, :value nil, :process 45, :time 41665455134, :index 6780}
{:type :invoke, :f :write, :value 3, :process 29, :time 41738628203, :index 6784}
{:type :ok, :f :read, :value nil, :process 40, :time 41761611505, :index 6786}
{:type :ok, :f :read, :value 1, :process 47, :time 41761843854, :index 6787}
{:type :ok, :f :read, :value nil, :process 42, :time 41762401678, :index 6788}
{:type :ok, :f :write, :value 2, :process 23, :time 41762793123, :index 6791}
{:type :ok, :f :write, :value 1, :process 8, :time 41763345897, :index 6793}
{:type :ok, :f :read, :value 1, :process 45, :time 41763419345, :index 6794}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :invoke, :f :cas, :value [3 0], :process 23, :time 41785027985, :index 6798}
{:type :invoke, :f :read, :value nil, :process 45, :time 41787654096, :index 6799}
{:type :fail, :f :cas, :value [3 0], :process 23, :time 41790455519, :index 6800}
{:type :ok, :f :read, :value 1, :process 45, :time 41793469394, :index 6801}
{:type :invoke, :f :cas, :value [1 4], :process 47, :time 41797137582, :index 6802}
{:type :ok, :f :cas, :value [1 4], :process 47, :time 41801514284, :index 6803}
{:type :invoke, :f :cas, :value [1 2], :process 45, :time 41836720160, :index 6808}
{:type :fail, :f :cas, :value [1 2], :process 45, :time 41842753462, :index 6810}
{:type :invoke, :f :cas, :value [1 1], :process 8, :time 41871676200, :index 6813}
{:type :fail, :f :cas, :value [1 1], :process 8, :time 41877886073, :index 6815}
{:type :invoke, :f :write, :value 1, :process 40, :time 41884092481, :index 6816}
{:type :ok, :f :write, :value 1, :process 40, :time 41889406053, :index 6818}
{:type :invoke, :f :cas, :value [3 4], :process 23, :time 41900749456, :index 6820}
{:type :fail, :f :cas, :value [3 4], :process 23, :time 41906980296, :index 6823}
{:type :invoke, :f :read, :value nil, :process 42, :time 41915681174, :index 6826}
{:type :ok, :f :read, :value 1, :process 42, :time 41920417314, :index 6828}
{:type :invoke, :f :write, :value 3, :process 47, :time 41923781063, :index 6830}
{:type :ok, :f :write, :value 3, :process 47, :time 41929711779, :index 6832}
{:type :invoke, :f :cas, :value [4 2], :process 40, :time 41935665450, :index 6834}
{:type :fail, :f :cas, :value [4 2], :process 40, :time 41941647040, :index 6837}
{:type :invoke, :f :read, :value nil, :process 40, :time 42004914949, :index 6841}
{:type :invoke, :f :read, :value nil, :process 8, :time 42007159375, :index 6842}
{:type :invoke, :f :write, :value 2, :process 47, :time 42012982498, :index 6843}
{:type :invoke, :f :write, :value 2, :process 45, :time 42014019334, :index 6844}
{:type :invoke, :f :write, :value 0, :process 23, :time 42029244168, :index 6846}
{:type :invoke, :f :cas, :value [4 2], :process 42, :time 42068708368, :index 6847}
{:type :ok, :f :write, :value 2, :process 47, :time 42295267820, :index 6849}
{:type :ok, :f :read, :value 3, :process 8, :time 42295917643, :index 6852}
{:type :ok, :f :write, :value 0, :process 23, :time 42296414887, :index 6854}
{:type :fail, :f :cas, :value [4 2], :process 42, :time 42296576306, :index 6855}
{:type :ok, :f :read, :value 3, :process 40, :time 42296744613, :index 6856}
{:type :ok, :f :write, :value 2, :process 45, :time 42297495998, :index 6858}
{:type :invoke, :f :read, :value nil, :process 23, :time 42298678325, :index 6860}
{:type :ok, :f :read, :value 0, :process 23, :time 42303802567, :index 6862}
{:type :invoke, :f :read, :value nil, :process 45, :time 42324746182, :index 6864}
{:type :ok, :f :read, :value 0, :process 45, :time 42330107920, :index 6865}
{:type :invoke, :f :read, :value nil, :process 47, :time 42353542516, :index 6868}
{:type :ok, :f :read, :value 0, :process 47, :time 42359035875, :index 6870}
{:type :invoke, :f :write, :value 4, :process 8, :time 42396269069, :index 6874}
{:type :invoke, :f :write, :value 4, :process 40, :time 42399017028, :index 6875}
{:type :invoke, :f :cas, :value [0 3], :process 45, :time 42400365258, :index 6876}
{:type :ok, :f :write, :value 4, :process 8, :time 42402005376, :index 6877}
{:type :ok, :f :write, :value 4, :process 40, :time 42405296158, :index 6879}
{:type :fail, :f :cas, :value [0 3], :process 45, :time 42406247351, :index 6880}
{:type :invoke, :f :cas, :value [0 4], :process 23, :time 42413178103, :index 6883}
{:type :fail, :f :cas, :value [0 4], :process 23, :time 42420302518, :index 6885}
{:type :invoke, :f :cas, :value [1 1], :process 42, :time 42456868935, :index 6889}
{:type :invoke, :f :read, :value nil, :process 47, :time 42458301935, :index 6890}
{:type :invoke, :f :write, :value 0, :process 40, :time 42478559358, :index 6893}
{:type :invoke, :f :cas, :value [0 1], :process 45, :time 42484491831, :index 6894}
{:type :invoke, :f :read, :value nil, :process 8, :time 42523279156, :index 6896}
{:type :invoke, :f :write, :value 1, :process 23, :time 42523606207, :index 6897}
{:type :fail, :f :cas, :value [1 1], :process 42, :time 45544481548, :index 6902}
{:type :ok, :f :read, :value 1, :process 8, :time 45544937528, :index 6905}
{:type :ok, :f :read, :value 4, :process 47, :time 45545126300, :index 6906}
{:type :ok, :f :write, :value 0, :process 40, :time 45545215813, :index 6907}
{:type :ok, :f :cas, :value [0 1], :process 45, :time 45545748472, :index 6909}
{:type :ok, :f :write, :value 1, :process 23, :time 45546154681, :index 6912}
{:type :invoke, :f :read, :value nil, :process 47, :time 45594355401, :index 6914}
{:type :invoke, :f :write, :value 1, :process 40, :time 45599457927, :index 6915}
{:type :fail, :f :cas, :value [4 0], :process 46, :time 45603424052, :index 6918}
{:type :ok, :f :write, :value 2, :process 41, :time 45603745497, :index 6920}
{:type :ok, :f :write, :value 3, :process 29, :time 45604258772, :index 6923}
{:type :ok, :f :read, :value 3, :process 47, :time 45604947393, :index 6925}
{:type :ok, :f :write, :value 1, :process 40, :time 45605736046, :index 6929}
{:type :invoke, :f :cas, :value [0 1], :process 46, :time 45605286892, :index 6930}
{:type :fail, :f :cas, :value [0 1], :process 46, :time 45612494345, :index 6934}
{:type :invoke, :f :read, :value nil, :process 45, :time 45619989642, :index 6938}
{:type :ok, :f :read, :value 1, :process 45, :time 45624916335, :index 6939}
{:type :invoke, :f :cas, :value [0 0], :process 8, :time 45664172513, :index 6943}
{:type :fail, :f :cas, :value [0 0], :process 8, :time 45669502549, :index 6945}
{:type :invoke, :f :cas, :value [3 2], :process 42, :time 45671873453, :index 6946}
{:type :fail, :f :cas, :value [3 2], :process 42, :time 45677076011, :index 6947}
{:type :invoke, :f :read, :value nil, :process 23, :time 45677416635, :index 6948}
{:type :invoke, :f :read, :value nil, :process 45, :time 45682171644, :index 6949}
{:type :ok, :f :read, :value 1, :process 23, :time 45682836737, :index 6951}
{:type :ok, :f :read, :value 1, :process 45, :time 45688303579, :index 6953}
{:type :invoke, :f :cas, :value [3 3], :process 42, :time 45704330319, :index 6956}
{:type :invoke, :f :write, :value 4, :process 8, :time 45707760203, :index 6957}
{:type :fail, :f :cas, :value [3 3], :process 42, :time 45709872803, :index 6959}
{:type :invoke, :f :cas, :value [3 3], :process 41, :time 45711266086, :index 6960}
{:type :ok, :f :write, :value 4, :process 8, :time 45713160007, :index 6961}
{:type :invoke, :f :cas, :value [4 4], :process 47, :time 45715319351, :index 6963}
{:type :fail, :f :cas, :value [3 3], :process 41, :time 45716172371, :index 6964}
{:type :ok, :f :cas, :value [4 4], :process 47, :time 45720254224, :index 6965}
{:type :invoke, :f :write, :value 4, :process 45, :time 45739561115, :index 6968}
{:type :ok, :f :write, :value 4, :process 45, :time 45744628348, :index 6970}
{:type :invoke, :f :read, :value nil, :process 44, :time 45753552052, :index 6975}
{:type :ok, :f :read, :value 4, :process 44, :time 45759197509, :index 6979}
{:type :invoke, :f :read, :value nil, :process 40, :time 45772872272, :index 6985}
{:type :invoke, :f :read, :value nil, :process 45, :time 45773886814, :index 6986}
{:type :ok, :f :read, :value 4, :process 40, :time 45778287635, :index 6988}
{:type :ok, :f :read, :value 4, :process 45, :time 45779738547, :index 6989}
{:type :invoke, :f :read, :value nil, :process 42, :time 45784128600, :index 6990}
{:type :invoke, :f :cas, :value [4 2], :process 46, :time 45787781504, :index 6992}
{:type :ok, :f :read, :value 4, :process 42, :time 45788592350, :index 6993}
{:type :ok, :f :cas, :value [4 2], :process 46, :time 45792338568, :index 6995}
{:type :invoke, :f :cas, :value [4 2], :process 29, :time 45798412955, :index 6996}
{:type :fail, :f :cas, :value [4 2], :process 29, :time 45803675845, :index 6997}
{:type :invoke, :f :cas, :value [4 3], :process 41, :time 45810430972, :index 6999}
{:type :fail, :f :cas, :value [4 3], :process 41, :time 45816152250, :index 7001}
{:type :invoke, :f :write, :value 3, :process 8, :time 45816436313, :index 7002}
{:type :invoke, :f :cas, :value [1 2], :process 29, :time 45819931230, :index 7004}
{:type :ok, :f :write, :value 3, :process 8, :time 45822262161, :index 7005}
{:type :fail, :f :cas, :value [1 2], :process 29, :time 45825901810, :index 7007}
{:type :invoke, :f :read, :value nil, :process 45, :time 45844989595, :index 7016}
{:type :invoke, :f :read, :value nil, :process 40, :time 45848536795, :index 7017}
{:type :ok, :f :read, :value 3, :process 45, :time 45850184789, :index 7018}
{:type :ok, :f :read, :value 3, :process 40, :time 45853760563, :index 7020}
{:type :invoke, :f :cas, :value [0 4], :process 42, :time 45853887739, :index 7021}
{:type :invoke, :f :write, :value 0, :process 44, :time 45858449020, :index 7023}
{:type :fail, :f :cas, :value [0 4], :process 42, :time 45859023244, :index 7024}
{:type :ok, :f :write, :value 0, :process 44, :time 45863660110, :index 7025}
{:type :invoke, :f :read, :value nil, :process 23, :time 45873079873, :index 7026}
{:type :ok, :f :read, :value 0, :process 23, :time 45878252728, :index 7027}
{:type :invoke, :f :read, :value nil, :process 23, :time 45885500775, :index 7028}
{:type :invoke, :f :cas, :value [1 4], :process 40, :time 45887026646, :index 7030}
{:type :invoke, :f :cas, :value [3 2], :process 44, :time 45891919563, :index 7031}
{:type :ok, :f :read, :value 0, :process 23, :time 45892143724, :index 7032}
{:type :fail, :f :cas, :value [1 4], :process 40, :time 45893790921, :index 7035}
{:type :fail, :f :cas, :value [3 2], :process 44, :time 45898268788, :index 7037}
{:type :invoke, :f :cas, :value [2 2], :process 47, :time 45915523686, :index 7041}
{:type :fail, :f :cas, :value [2 2], :process 47, :time 45920391197, :index 7044}
{:type :invoke, :f :read, :value nil, :process 41, :time 45931390650, :index 7050}
{:type :ok, :f :read, :value 0, :process 41, :time 45936339280, :index 7051}
{:type :invoke, :f :write, :value 4, :process 29, :time 45937169921, :index 7053}
{:type :ok, :f :write, :value 4, :process 29, :time 45942561859, :index 7054}
{:type :invoke, :f :write, :value 4, :process 42, :time 45964291143, :index 7059}
{:type :invoke, :f :cas, :value [2 4], :process 46, :time 45967599148, :index 7060}
{:type :invoke, :f :write, :value 4, :process 8, :time 45972446226, :index 7062}
{:type :invoke, :f :cas, :value [0 1], :process 47, :time 45986695818, :index 7065}
{:type :invoke, :f :read, :value nil, :process 45, :time 45988522458, :index 7066}
{:type :invoke, :f :read, :value nil, :process 23, :time 46020398007, :index 7069}
{:type :invoke, :f :write, :value 4, :process 44, :time 46029506464, :index 7070}
{:type :invoke, :f :read, :value nil, :process 29, :time 46046830321, :index 7072}
{:type :invoke, :f :read, :value nil, :process 41, :time 46066597721, :index 7073}
{:type :invoke, :f :write, :value 2, :process 40, :time 46086060884, :index 7076}
{:type :fail, :f :cas, :value [0 1], :process 47, :time 46382038126, :index 7081}
{:type :ok, :f :write, :value 4, :process 8, :time 46382519447, :index 7083}
{:type :fail, :f :cas, :value [2 4], :process 46, :time 46382884560, :index 7085}
{:type :ok, :f :write, :value 4, :process 44, :time 46382970920, :index 7086}
{:type :ok, :f :read, :value 4, :process 29, :time 46383216595, :index 7087}
{:type :ok, :f :read, :value 4, :process 41, :time 46384236976, :index 7092}
{:type :ok, :f :write, :value 2, :process 40, :time 46384409787, :index 7093}
{:type :ok, :f :read, :value 4, :process 23, :time 46384605327, :index 7094}
{:type :ok, :f :read, :value 4, :process 45, :time 46384825105, :index 7095}
{:type :ok, :f :write, :value 4, :process 42, :time 46385046010, :index 7096}
{:type :invoke, :f :cas, :value [4 1], :process 41, :time 46402679857, :index 7098}
{:type :fail, :f :cas, :value [4 1], :process 41, :time 46408376383, :index 7099}
{:type :invoke, :f :cas, :value [0 4], :process 46, :time 46414119854, :index 7100}
{:type :fail, :f :cas, :value [0 4], :process 46, :time 46421211362, :index 7101}
{:type :invoke, :f :read, :value nil, :process 44, :time 46436087364, :index 7104}
{:type :ok, :f :read, :value 2, :process 44, :time 46441370013, :index 7105}
{:type :invoke, :f :read, :value nil, :process 47, :time 46441533434, :index 7106}
{:type :ok, :f :read, :value 2, :process 47, :time 46445853545, :index 7108}
{:type :invoke, :f :read, :value nil, :process 46, :time 46464489399, :index 7115}
{:type :ok, :f :read, :value 2, :process 46, :time 46469022555, :index 7117}
{:type :invoke, :f :cas, :value [3 0], :process 23, :time 46485476865, :index 7118}
{:type :invoke, :f :write, :value 0, :process 44, :time 46491654607, :index 7119}
{:type :fail, :f :cas, :value [3 0], :process 23, :time 46493180843, :index 7122}
{:type :ok, :f :write, :value 0, :process 44, :time 46497271068, :index 7124}
{:type :invoke, :f :read, :value nil, :process 41, :time 46497644506, :index 7125}
{:type :ok, :f :read, :value 0, :process 41, :time 46502451831, :index 7127}
{:type :invoke, :f :cas, :value [3 2], :process 47, :time 46519114343, :index 7129}
{:type :invoke, :f :write, :value 2, :process 41, :time 46523729846, :index 7131}
{:type :fail, :f :cas, :value [3 2], :process 47, :time 46524079502, :index 7132}
{:type :ok, :f :write, :value 2, :process 41, :time 46529065914, :index 7133}
{:type :invoke, :f :read, :value nil, :process 8, :time 46530589391, :index 7135}
{:type :ok, :f :read, :value 2, :process 8, :time 46535568189, :index 7137}
{:type :invoke, :f :read, :value nil, :process 42, :time 46546579673, :index 7141}
{:type :ok, :f :read, :value 2, :process 42, :time 46550962551, :index 7143}
{:type :invoke, :f :write, :value 1, :process 45, :time 46555499079, :index 7146}
{:type :ok, :f :write, :value 1, :process 45, :time 46561580662, :index 7150}
{:type :invoke, :f :read, :value nil, :process 29, :time 46572141003, :index 7154}
{:type :ok, :f :read, :value 1, :process 29, :time 46576911384, :index 7155}
{:type :invoke, :f :read, :value nil, :process 40, :time 46578474383, :index 7156}
{:type :ok, :f :read, :value 1, :process 40, :time 46583948685, :index 7157}
{:type :invoke, :f :write, :value 3, :process 23, :time 46591452082, :index 7160}
{:type :ok, :f :write, :value 3, :process 23, :time 46596465871, :index 7162}
{:type :invoke, :f :cas, :value [1 3], :process 46, :time 46599247492, :index 7164}
{:type :fail, :f :cas, :value [1 3], :process 46, :time 46604446981, :index 7166}
{:type :invoke, :f :read, :value nil, :process 44, :time 46651541833, :index 7180}
{:type :ok, :f :read, :value 3, :process 44, :time 46657709645, :index 7181}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
