{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :invoke, :f :cas, :value [0 3], :process 37, :time 20018112765, :index 5652}
{:type :fail, :f :cas, :value [0 3], :process 37, :time 20019981783, :error :connect, :index 5654}
{:type :invoke, :f :read, :value nil, :process 37, :time 20029249263, :index 5659}
{:type :fail, :f :read, :value nil, :process 37, :time 20031226640, :error :connect, :index 5661}
{:type :invoke, :f :cas, :value [3 1], :process 11, :time 20056989023, :index 5664}
{:type :fail, :f :cas, :value [3 1], :process 11, :time 20059059152, :error :connect, :index 5666}
{:type :invoke, :f :cas, :value [3 4], :process 36, :time 20066232443, :index 5668}
{:type :fail, :f :cas, :value [3 4], :process 36, :time 20068369805, :error :connect, :index 5669}
{:type :invoke, :f :cas, :value [1 1], :process 39, :time 20074133905, :index 5670}
{:type :fail, :f :cas, :value [1 1], :process 39, :time 20076202554, :error :connect, :index 5671}
{:type :invoke, :f :cas, :value [1 1], :process 36, :time 20078634308, :index 5672}
{:type :fail, :f :cas, :value [1 1], :process 36, :time 20080358986, :error :connect, :index 5673}
{:type :invoke, :f :read, :value nil, :process 34, :time 20092201569, :index 5679}
{:type :fail, :f :read, :value nil, :process 34, :time 20094212922, :error :connect, :index 5681}
{:type :invoke, :f :write, :value 1, :process 37, :time 20123493166, :index 5688}
{:type :fail, :f :write, :value 1, :process 37, :time 20125325042, :error :connect, :index 5690}
{:type :invoke, :f :read, :value nil, :process 34, :time 20175471278, :index 5702}
{:type :fail, :f :read, :value nil, :process 34, :time 20177476334, :error :connect, :index 5703}
{:type :invoke, :f :write, :value 1, :process 32, :time 20181815042, :index 5706}
{:type :fail, :f :write, :value 1, :process 32, :time 20183695185, :error :connect, :index 5707}
{:type :invoke, :f :write, :value 4, :process 11, :time 20188310550, :index 5708}
{:type :fail, :f :write, :value 4, :process 11, :time 20190229230, :error :connect, :index 5709}
{:type :invoke, :f :write, :value 0, :process 32, :time 20196967905, :index 5711}
{:type :invoke, :f :write, :value 4, :process 10, :time 20198069466, :index 5713}
{:type :fail, :f :write, :value 0, :process 32, :time 20198821415, :error :connect, :index 5714}
{:type :fail, :f :write, :value 4, :process 10, :time 20199903003, :error :connect, :index 5715}
{:type :invoke, :f :read, :value nil, :process 32, :time 20226076847, :index 5718}
{:type :invoke, :f :read, :value nil, :process 18, :time 20226257668, :index 5719}
{:type :fail, :f :read, :value nil, :process 18, :time 20228403329, :error :connect, :index 5721}
{:type :fail, :f :read, :value nil, :process 32, :time 20228904607, :error :connect, :index 5722}
{:type :invoke, :f :write, :value 3, :process 11, :time 20236488111, :index 5726}
{:type :fail, :f :write, :value 3, :process 11, :time 20238133750, :error :connect, :index 5727}
{:type :invoke, :f :write, :value 3, :process 36, :time 20245626633, :index 5730}
{:type :fail, :f :write, :value 3, :process 36, :time 20247295912, :error :connect, :index 5731}
{:type :invoke, :f :write, :value 1, :process 37, :time 20260587336, :index 5738}
{:type :invoke, :f :read, :value nil, :process 39, :time 20261472947, :index 5739}
{:type :fail, :f :write, :value 1, :process 37, :time 20262217694, :error :connect, :index 5740}
{:type :invoke, :f :write, :value 1, :process 37, :time 20262365807, :index 5741}
{:type :fail, :f :read, :value nil, :process 39, :time 20263297140, :error :connect, :index 5742}
{:type :fail, :f :write, :value 1, :process 37, :time 20264369727, :error :connect, :index 5743}
{:type :invoke, :f :read, :value nil, :process 33, :time 20276920759, :index 5744}
{:type :fail, :f :read, :value nil, :process 33, :time 20278802633, :error :connect, :index 5745}
{:type :invoke, :f :read, :value nil, :process 10, :time 20279159292, :index 5746}
{:type :fail, :f :read, :value nil, :process 10, :time 20280972348, :error :connect, :index 5747}
{:type :invoke, :f :write, :value 2, :process 15, :time 20296942566, :index 5751}
{:type :fail, :f :write, :value 2, :process 15, :time 20299139005, :error :connect, :index 5753}
{:type :invoke, :f :write, :value 3, :process 39, :time 20304556526, :index 5754}
{:type :fail, :f :write, :value 3, :process 39, :time 20306327288, :error :connect, :index 5755}
{:type :invoke, :f :cas, :value [2 3], :process 33, :time 20330059250, :index 5759}
{:type :fail, :f :cas, :value [2 3], :process 33, :time 20331955170, :error :connect, :index 5761}
{:type :invoke, :f :cas, :value [1 0], :process 37, :time 20347624143, :index 5768}
{:type :invoke, :f :read, :value nil, :process 34, :time 20348755470, :index 5769}
{:type :fail, :f :cas, :value [1 0], :process 37, :time 20349317211, :error :connect, :index 5770}
{:type :fail, :f :read, :value nil, :process 34, :time 20350712311, :error :connect, :index 5771}
{:type :invoke, :f :write, :value 1, :process 15, :time 20358395123, :index 5774}
{:type :fail, :f :write, :value 1, :process 15, :time 20360623098, :error :connect, :index 5776}
{:type :invoke, :f :write, :value 4, :process 32, :time 20385157548, :index 5782}
{:type :fail, :f :write, :value 4, :process 32, :time 20387073050, :error :connect, :index 5784}
{:type :invoke, :f :read, :value nil, :process 39, :time 20389591361, :index 5786}
{:type :fail, :f :read, :value nil, :process 39, :time 20391227494, :error :connect, :index 5787}
{:type :invoke, :f :read, :value nil, :process 18, :time 20407645920, :index 5788}
{:type :fail, :f :read, :value nil, :process 18, :time 20409481177, :error :connect, :index 5789}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 20409578708, :index 5790}
{:type :invoke, :f :cas, :value [0 0], :process 37, :time 20409630413, :index 5791}
{:type :fail, :f :cas, :value [0 0], :process 37, :time 20411583944, :error :connect, :index 5792}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 20411704190, :error :connect, :index 5793}
{:type :invoke, :f :read, :value nil, :process 10, :time 20418233885, :index 5795}
{:type :invoke, :f :write, :value 0, :process 34, :time 20419980169, :index 5797}
{:type :fail, :f :read, :value nil, :process 10, :time 20420201203, :error :connect, :index 5798}
{:type :fail, :f :write, :value 0, :process 34, :time 20422143062, :error :connect, :index 5800}
{:type :invoke, :f :write, :value 1, :process 33, :time 20434219916, :index 5806}
{:type :invoke, :f :cas, :value [2 0], :process 11, :time 20435398586, :index 5807}
{:type :fail, :f :write, :value 1, :process 33, :time 20436119129, :error :connect, :index 5808}
{:type :fail, :f :cas, :value [2 0], :process 11, :time 20437157095, :error :connect, :index 5809}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 20441498859, :index 5810}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 20443756180, :error :connect, :index 5813}
{:type :invoke, :f :write, :value 3, :process 18, :time 20477755980, :index 5819}
{:type :fail, :f :write, :value 3, :process 18, :time 20479626838, :error :connect, :index 5821}
{:type :invoke, :f :write, :value 1, :process 36, :time 20496943851, :index 5826}
{:type :fail, :f :write, :value 1, :process 36, :time 20499074296, :error :connect, :index 5827}
{:type :invoke, :f :cas, :value [4 3], :process 39, :time 20541015500, :index 5836}
{:type :invoke, :f :read, :value nil, :process 15, :time 20541891546, :index 5837}
{:type :fail, :f :cas, :value [4 3], :process 39, :time 20542892284, :error :connect, :index 5838}
{:type :fail, :f :read, :value nil, :process 15, :time 20543539151, :error :connect, :index 5839}
{:type :invoke, :f :read, :value nil, :process 32, :time 20547373922, :index 5840}
{:type :invoke, :f :cas, :value [0 4], :process 34, :time 20547382677, :index 5841}
{:type :fail, :f :read, :value nil, :process 32, :time 20549440640, :error :connect, :index 5843}
{:type :fail, :f :cas, :value [0 4], :process 34, :time 20549733956, :error :connect, :index 5844}
{:type :invoke, :f :cas, :value [3 2], :process 33, :time 20552389696, :index 5846}
{:type :fail, :f :cas, :value [3 2], :process 33, :time 20554589147, :error :connect, :index 5847}
{:type :invoke, :f :write, :value 0, :process 11, :time 20584419236, :index 5851}
{:type :fail, :f :write, :value 0, :process 11, :time 20586111874, :error :connect, :index 5853}
{:type :invoke, :f :write, :value 0, :process 37, :time 20592890678, :index 5854}
{:type :fail, :f :write, :value 0, :process 37, :time 20594972595, :error :connect, :index 5856}
{:type :invoke, :f :write, :value 1, :process 18, :time 20598894621, :index 5858}
{:type :fail, :f :write, :value 1, :process 18, :time 20600934298, :error :connect, :index 5859}
{:type :invoke, :f :read, :value nil, :process 10, :time 20609443077, :index 5860}
{:type :fail, :f :read, :value nil, :process 10, :time 20611291735, :error :connect, :index 5861}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :invoke, :f :read, :value nil, :process 36, :time 20645356947, :index 5881}
{:type :fail, :f :read, :value nil, :process 36, :time 20647410207, :error :connect, :index 5882}
{:type :invoke, :f :write, :value 2, :process 32, :time 20673685043, :index 5889}
{:type :fail, :f :write, :value 2, :process 32, :time 20675508836, :error :connect, :index 5890}
{:type :invoke, :f :write, :value 2, :process 10, :time 20683546762, :index 5891}
{:type :invoke, :f :read, :value nil, :process 32, :time 20684798474, :index 5892}
{:type :invoke, :f :cas, :value [3 2], :process 39, :time 20685210610, :index 5893}
{:type :fail, :f :write, :value 2, :process 10, :time 20685678789, :error :connect, :index 5894}
{:type :fail, :f :read, :value nil, :process 32, :time 20686727845, :error :connect, :index 5895}
{:type :fail, :f :cas, :value [3 2], :process 39, :time 20687064821, :error :connect, :index 5896}
{:type :invoke, :f :write, :value 1, :process 37, :time 20697233874, :index 5897}
{:type :fail, :f :write, :value 1, :process 37, :time 20698881277, :error :connect, :index 5898}
{:type :invoke, :f :read, :value nil, :process 37, :time 20700145405, :index 5899}
{:type :fail, :f :read, :value nil, :process 37, :time 20702014827, :error :connect, :index 5900}
{:type :invoke, :f :cas, :value [0 3], :process 36, :time 20713668266, :index 5901}
{:type :invoke, :f :write, :value 1, :process 39, :time 20714313413, :index 5902}
{:type :invoke, :f :read, :value nil, :process 34, :time 20714991805, :index 5903}
{:type :fail, :f :cas, :value [0 3], :process 36, :time 20715523772, :error :connect, :index 5904}
{:type :fail, :f :write, :value 1, :process 39, :time 20716323481, :error :connect, :index 5905}
{:type :fail, :f :read, :value nil, :process 34, :time 20717124054, :error :connect, :index 5906}
{:type :invoke, :f :write, :value 2, :process 15, :time 20717797441, :index 5907}
{:type :fail, :f :write, :value 2, :process 15, :time 20719813243, :error :connect, :index 5908}
{:type :invoke, :f :write, :value 2, :process 11, :time 20727368122, :index 5909}
{:type :fail, :f :write, :value 2, :process 11, :time 20729378399, :error :connect, :index 5910}
{:type :invoke, :f :read, :value nil, :process 33, :time 20747872632, :index 5919}
{:type :fail, :f :read, :value nil, :process 33, :time 20749841153, :error :connect, :index 5920}
{:type :invoke, :f :cas, :value [1 2], :process 15, :time 20750077005, :index 5921}
{:type :fail, :f :cas, :value [1 2], :process 15, :time 20751948353, :error :connect, :index 5923}
{:type :invoke, :f :write, :value 3, :process 37, :time 20752277096, :index 5924}
{:type :fail, :f :write, :value 3, :process 37, :time 20754040427, :error :connect, :index 5926}
{:type :invoke, :f :write, :value 1, :process 10, :time 20763961275, :index 5929}
{:type :invoke, :f :write, :value 2, :process 39, :time 20764557737, :index 5930}
{:type :fail, :f :write, :value 1, :process 10, :time 20765793680, :error :connect, :index 5931}
{:type :fail, :f :write, :value 2, :process 39, :time 20766116476, :error :connect, :index 5932}
{:type :invoke, :f :read, :value nil, :process 15, :time 20781206088, :index 5939}
{:type :fail, :f :read, :value nil, :process 15, :time 20783366655, :error :connect, :index 5942}
{:type :invoke, :f :write, :value 1, :process 37, :time 20790271858, :index 5943}
{:type :fail, :f :write, :value 1, :process 37, :time 20792159118, :error :connect, :index 5944}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 20797220166, :index 5945}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 20799129842, :error :connect, :index 5946}
{:type :invoke, :f :write, :value 2, :process 39, :time 20802353777, :index 5947}
{:type :fail, :f :write, :value 2, :process 39, :time 20804138610, :error :connect, :index 5948}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :invoke, :f :write, :value 3, :process 37, :time 20832424268, :index 5952}
{:type :fail, :f :write, :value 3, :process 37, :time 20834353259, :error :connect, :index 5953}
{:type :invoke, :f :cas, :value [3 3], :process 32, :time 20837014283, :index 5954}
{:type :fail, :f :cas, :value [3 3], :process 32, :time 20839082860, :error :connect, :index 5955}
{:type :invoke, :f :read, :value nil, :process 34, :time 20846380650, :index 5958}
{:type :fail, :f :read, :value nil, :process 34, :time 20848410468, :error :connect, :index 5959}
{:type :invoke, :f :write, :value 1, :process 36, :time 20864801560, :index 5962}
{:type :fail, :f :write, :value 1, :process 36, :time 20866765020, :error :connect, :index 5963}
{:type :invoke, :f :read, :value nil, :process 11, :time 20870643484, :index 5964}
{:type :fail, :f :read, :value nil, :process 11, :time 20872537842, :error :connect, :index 5965}
{:type :invoke, :f :write, :value 2, :process 15, :time 20873602540, :index 5966}
{:type :fail, :f :write, :value 2, :process 15, :time 20875691364, :error :connect, :index 5968}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 20890800700, :index 5974}
{:type :fail, :f :cas, :value [2 1], :process 11, :time 20892713149, :error :connect, :index 5975}
{:type :invoke, :f :read, :value nil, :process 37, :time 20892632775, :index 5976}
{:type :fail, :f :read, :value nil, :process 37, :time 20894797479, :error :connect, :index 5977}
{:type :invoke, :f :read, :value nil, :process 33, :time 20902107690, :index 5980}
{:type :fail, :f :read, :value nil, :process 33, :time 20904058648, :error :connect, :index 5981}
{:type :invoke, :f :read, :value nil, :process 18, :time 20904418834, :index 5982}
{:type :fail, :f :read, :value nil, :process 18, :time 20906239736, :error :connect, :index 5983}
{:type :invoke, :f :cas, :value [1 1], :process 32, :time 20921354911, :index 5990}
{:type :fail, :f :cas, :value [1 1], :process 32, :time 20923237205, :error :connect, :index 5991}
{:type :invoke, :f :read, :value nil, :process 15, :time 20947955223, :index 5996}
{:type :fail, :f :read, :value nil, :process 15, :time 20950018577, :error :connect, :index 5997}
{:type :invoke, :f :write, :value 1, :process 10, :time 20956064092, :index 5998}
{:type :fail, :f :write, :value 1, :process 10, :time 20957862216, :error :connect, :index 5999}
{:type :invoke, :f :read, :value nil, :process 36, :time 20958949479, :index 6000}
{:type :fail, :f :read, :value nil, :process 36, :time 20960722927, :error :connect, :index 6001}
{:type :invoke, :f :read, :value nil, :process 39, :time 20999407282, :index 6005}
{:type :fail, :f :read, :value nil, :process 39, :time 21001234104, :error :connect, :index 6007}
{:type :invoke, :f :write, :value 4, :process 37, :time 21009085048, :index 6010}
{:type :fail, :f :write, :value 4, :process 37, :time 21011173155, :error :connect, :index 6011}
{:type :invoke, :f :write, :value 4, :process 39, :time 21015491594, :index 6012}
{:type :fail, :f :write, :value 4, :process 39, :time 21017353655, :error :connect, :index 6013}
{:type :invoke, :f :read, :value nil, :process 32, :time 21028507380, :index 6020}
{:type :fail, :f :read, :value nil, :process 32, :time 21030574380, :error :connect, :index 6021}
{:type :invoke, :f :write, :value 4, :process 34, :time 21036691970, :index 6025}
{:type :fail, :f :write, :value 4, :process 34, :time 21038525880, :error :connect, :index 6027}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 21045283462, :index 6030}
{:type :invoke, :f :cas, :value [4 1], :process 11, :time 21045972031, :index 6031}
{:type :fail, :f :cas, :value [0 0], :process 15, :time 21047321876, :error :connect, :index 6032}
{:type :fail, :f :cas, :value [4 1], :process 11, :time 21047885828, :error :connect, :index 6033}
{:type :invoke, :f :read, :value nil, :process 37, :time 21054432728, :index 6034}
{:type :fail, :f :read, :value nil, :process 37, :time 21056365239, :error :connect, :index 6035}
{:type :invoke, :f :cas, :value [2 0], :process 33, :time 21084322807, :index 6044}
{:type :fail, :f :cas, :value [2 0], :process 33, :time 21086138815, :error :connect, :index 6046}
{:type :invoke, :f :write, :value 3, :process 18, :time 21103500563, :index 6050}
{:type :fail, :f :write, :value 3, :process 18, :time 21105566057, :error :connect, :index 6051}
{:type :invoke, :f :cas, :value [0 4], :process 39, :time 21115621205, :index 6056}
{:type :fail, :f :cas, :value [0 4], :process 39, :time 21117694486, :error :connect, :index 6058}
{:type :invoke, :f :write, :value 4, :process 10, :time 21123132986, :index 6063}
{:type :fail, :f :write, :value 4, :process 10, :time 21125095504, :error :connect, :index 6065}
{:type :invoke, :f :cas, :value [1 1], :process 36, :time 21143993237, :index 6070}
{:type :fail, :f :cas, :value [1 1], :process 36, :time 21145771331, :error :connect, :index 6071}
{:type :invoke, :f :read, :value nil, :process 15, :time 21177590032, :index 6082}
{:type :fail, :f :read, :value nil, :process 15, :time 21179541998, :error :connect, :index 6084}
{:type :invoke, :f :write, :value 0, :process 32, :time 21186893651, :index 6090}
{:type :fail, :f :write, :value 0, :process 32, :time 21188683509, :error :connect, :index 6093}
{:type :invoke, :f :read, :value nil, :process 34, :time 21200777940, :index 6094}
{:type :fail, :f :read, :value nil, :process 34, :time 21202572006, :error :connect, :index 6095}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
