{:type :invoke, :f :cas, :value [2 4], :process 1, :time 293828489, :index 0}
{:type :fail, :f :cas, :value [2 4], :process 1, :time 393459263, :error :not-found, :index 1}
{:type :invoke, :f :write, :value 3, :process 0, :time 680205245, :index 2}
{:type :ok, :f :write, :value 3, :process 0, :time 689319514, :index 3}
{:type :invoke, :f :write, :value 1, :process 3, :time 725217068, :index 4}
{:type :ok, :f :write, :value 1, :process 3, :time 733040051, :index 5}
{:type :invoke, :f :write, :value 2, :process 4, :time 769566990, :index 6}
{:type :ok, :f :write, :value 2, :process 4, :time 777411974, :index 7}
{:type :invoke, :f :cas, :value [1 2], :process 2, :time 882495565, :index 8}
{:type :fail, :f :cas, :value [1 2], :process 2, :time 891290100, :index 9}
{:type :invoke, :f :write, :value 1, :process 4, :time 1454988855, :index 10}
{:type :ok, :f :write, :value 1, :process 4, :time 1463152847, :index 11}
{:type :invoke, :f :cas, :value [0 4], :process 1, :time 1529133172, :index 12}
{:type :fail, :f :cas, :value [0 4], :process 1, :time 1537375067, :index 13}
{:type :invoke, :f :write, :value 0, :process 3, :time 1586720488, :index 14}
{:type :ok, :f :write, :value 0, :process 3, :time 1593391880, :index 15}
{:type :invoke, :f :write, :value 3, :process 2, :time 2311800518, :index 16}
{:type :ok, :f :write, :value 3, :process 2, :time 2319397655, :index 17}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 2597732784, :index 18}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 2606442183, :index 19}
{:type :invoke, :f :read, :value nil, :process 2, :time 2829222692, :index 20}
{:type :ok, :f :read, :value 3, :process 2, :time 2835291542, :index 21}
{:type :invoke, :f :write, :value 0, :process 3, :time 2861823163, :index 22}
{:type :ok, :f :write, :value 0, :process 3, :time 2868456164, :index 23}
{:type :invoke, :f :write, :value 1, :process 3, :time 2880952987, :index 24}
{:type :ok, :f :write, :value 1, :process 3, :time 2887338149, :index 25}
{:type :invoke, :f :read, :value nil, :process 2, :time 3049786580, :index 26}
{:type :ok, :f :read, :value 1, :process 2, :time 3055387825, :index 27}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 3244610746, :index 28}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 3253537714, :index 29}
{:type :invoke, :f :cas, :value [2 1], :process 1, :time 3390960125, :index 30}
{:type :invoke, :f :read, :value nil, :process 4, :time 3392972238, :index 31}
{:type :ok, :f :read, :value 1, :process 4, :time 3398462862, :index 32}
{:type :fail, :f :cas, :value [2 1], :process 1, :time 3400172868, :index 33}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 3415001947, :index 34}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 3423237389, :index 35}
{:type :invoke, :f :write, :value 2, :process 4, :time 3773729320, :index 36}
{:type :ok, :f :write, :value 2, :process 4, :time 3781394654, :index 37}
{:type :invoke, :f :write, :value 1, :process 2, :time 3826855136, :index 38}
{:type :ok, :f :write, :value 1, :process 2, :time 3834011906, :index 39}
{:type :invoke, :f :read, :value nil, :process 1, :time 3848608250, :index 40}
{:type :ok, :f :read, :value 1, :process 1, :time 3852595775, :index 41}
{:type :invoke, :f :cas, :value [1 1], :process 2, :time 4109483136, :index 42}
{:type :ok, :f :cas, :value [1 1], :process 2, :time 4116788968, :index 43}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 4454933961, :index 44}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 4463720537, :index 45}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 4694051434, :index 46}
{:type :ok, :f :cas, :value [1 2], :process 1, :time 4702785429, :index 47}
{:type :invoke, :f :write, :value 0, :process 3, :time 4760751605, :index 48}
{:type :ok, :f :write, :value 0, :process 3, :time 4767317076, :index 49}
{:type :invoke, :f :write, :value 4, :process 1, :time 4778339091, :index 50}
{:type :ok, :f :write, :value 4, :process 1, :time 4784777770, :index 51}
{:type :invoke, :f :read, :value nil, :process 4, :time 4796795731, :index 52}
{:type :ok, :f :read, :value 4, :process 4, :time 4801610752, :index 53}
{:type :invoke, :f :write, :value 2, :process 3, :time 5072753545, :index 54}
{:type :invoke, :f :cas, :value [4 3], :process 1, :time 5078235444, :index 55}
{:type :ok, :f :write, :value 2, :process 3, :time 5080481824, :index 56}
{:type :fail, :f :cas, :value [4 3], :process 1, :time 5085652354, :index 57}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5212596207, :index 58}
{:type :invoke, :f :read, :value nil, :process 0, :time 5278218517, :index 59}
{:type :ok, :f :read, :value 2, :process 0, :time 5283060819, :index 60}
{:type :invoke, :f :read, :value nil, :process 3, :time 5456127029, :index 61}
{:type :ok, :f :read, :value 2, :process 3, :time 5461723372, :index 62}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5624764262, :index 63}
{:type :invoke, :f :cas, :value [4 4], :process 4, :time 5803190005, :index 64}
{:type :fail, :f :cas, :value [4 4], :process 4, :time 5811665535, :index 65}
{:type :invoke, :f :write, :value 1, :process 4, :time 5974105706, :index 66}
{:type :ok, :f :write, :value 1, :process 4, :time 5982227767, :index 67}
{:type :invoke, :f :read, :value nil, :process 2, :time 6083323065, :index 68}
{:type :ok, :f :read, :value 2, :process 2, :time 6088236121, :index 69}
{:type :invoke, :f :read, :value nil, :process 1, :time 6151104767, :index 70}
{:type :ok, :f :read, :value 2, :process 1, :time 6156203200, :index 71}
{:type :invoke, :f :write, :value 1, :process 2, :time 6423763421, :index 72}
{:type :invoke, :f :read, :value nil, :process 0, :time 7187561493, :index 73}
{:type :ok, :f :read, :value 1, :process 0, :time 7192650604, :index 74}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 7294252679, :index 75}
{:type :ok, :f :cas, :value [1 1], :process 3, :time 7301055437, :index 76}
{:type :invoke, :f :read, :value nil, :process 1, :time 7527673694, :index 77}
{:type :ok, :f :read, :value 2, :process 1, :time 7532046395, :index 78}
{:type :invoke, :f :write, :value 2, :process 4, :time 7564656775, :index 79}
{:type :ok, :f :write, :value 2, :process 4, :time 7571511942, :index 80}
{:type :invoke, :f :cas, :value [3 0], :process 1, :time 8058484886, :index 81}
{:type :invoke, :f :read, :value nil, :process 3, :time 8145492957, :index 82}
{:type :ok, :f :read, :value 2, :process 3, :time 8150728421, :index 83}
{:type :invoke, :f :read, :value nil, :process 4, :time 8417030927, :index 84}
{:type :ok, :f :read, :value 2, :process 4, :time 8422408585, :index 85}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 8900233554, :index 86}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 8909209593, :index 87}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 9879227865, :index 88}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 9888170033, :index 89}
{:type :invoke, :f :read, :value nil, :process 4, :time 9903813550, :index 90}
{:type :ok, :f :read, :value 2, :process 4, :time 9908006490, :index 91}
{:type :invoke, :f :read, :value nil, :process 0, :time 10022090315, :index 92}
{:type :ok, :f :read, :value 2, :process 0, :time 10027504729, :index 93}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10625584705, :index 94}
{:type :invoke, :f :write, :value 1, :process 0, :time 10749865150, :index 95}
{:type :ok, :f :write, :value 1, :process 0, :time 10757752045, :index 96}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10835883852, :index 97}
{:type :invoke, :f :read, :value nil, :process 4, :time 11392403904, :index 98}
{:type :ok, :f :read, :value 1, :process 4, :time 11397353509, :index 99}
{:type :info, :f :write, :value 1, :process 2, :time 11444147774, :error "indeterminate: Read timed out", :index 100}
{:type :invoke, :f :write, :value 1, :process 3, :time 11452273656, :index 101}
{:type :ok, :f :write, :value 1, :process 3, :time 11459576460, :index 102}
{:type :invoke, :f :read, :value nil, :process 0, :time 12119298053, :index 103}
{:type :ok, :f :read, :value 1, :process 0, :time 12124299550, :index 104}
{:type :invoke, :f :write, :value 4, :process 7, :time 12268453711, :index 105}
{:type :invoke, :f :read, :value nil, :process 0, :time 12477728802, :index 106}
{:type :ok, :f :read, :value 1, :process 0, :time 12482929026, :index 107}
{:type :info, :f :cas, :value [3 0], :process 1, :time 13078334125, :error "indeterminate: Read timed out", :index 108}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 13228113233, :index 109}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 13228563327, :index 110}
{:type :invoke, :f :read, :value nil, :process 4, :time 13309910321, :index 111}
{:type :ok, :f :read, :value 1, :process 4, :time 13315140189, :index 112}
{:type :invoke, :f :read, :value nil, :process 0, :time 13668328309, :index 113}
{:type :ok, :f :read, :value 1, :process 0, :time 13673621261, :index 114}
{:type :ok, :f :write, :value 4, :process 7, :time 14833520458, :index 115}
{:type :ok, :f :cas, :value [4 0], :process 6, :time 14833520440, :index 116}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 14834869673, :index 117}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 14873263841, :index 118}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 14880862183, :index 119}
