{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :invoke, :f :read, :value nil, :process 15, :time 5503116842, :index 1555}
{:type :ok, :f :read, :value nil, :process 15, :time 5508614529, :index 1557}
{:type :invoke, :f :write, :value 2, :process 19, :time 5521210627, :index 1558}
{:type :ok, :f :write, :value 2, :process 19, :time 5527216223, :index 1560}
{:type :invoke, :f :write, :value 2, :process 12, :time 5530855982, :index 1563}
{:type :invoke, :f :read, :value nil, :process 14, :time 5531041889, :index 1564}
{:type :ok, :f :write, :value 2, :process 12, :time 5535741281, :index 1565}
{:type :ok, :f :read, :value 2, :process 14, :time 5537051574, :index 1568}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 5555867123, :index 1570}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 5561723342, :index 1571}
{:type :invoke, :f :read, :value nil, :process 15, :time 5608981025, :index 1578}
{:type :ok, :f :read, :value 2, :process 15, :time 5614362981, :index 1579}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 5639616828, :index 1584}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 5645735520, :index 1585}
{:type :invoke, :f :read, :value nil, :process 14, :time 5679330542, :index 1590}
{:type :invoke, :f :read, :value nil, :process 17, :time 5691923416, :index 1591}
{:type :invoke, :f :write, :value 3, :process 10, :time 5692983281, :index 1592}
{:type :invoke, :f :read, :value nil, :process 19, :time 5714481691, :index 1596}
{:type :ok, :f :read, :value 2, :process 14, :time 5716618090, :index 1597}
{:type :ok, :f :read, :value 2, :process 17, :time 5717529691, :index 1599}
{:type :ok, :f :write, :value 3, :process 10, :time 5717866956, :index 1600}
{:type :ok, :f :read, :value 3, :process 19, :time 5721521137, :index 1604}
{:type :invoke, :f :read, :value nil, :process 12, :time 5732037810, :index 1608}
{:type :ok, :f :read, :value 3, :process 12, :time 5738945801, :index 1609}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 5745045224, :index 1610}
{:type :ok, :f :cas, :value [3 1], :process 15, :time 5750222343, :index 1611}
{:type :invoke, :f :write, :value 4, :process 10, :time 5818175121, :index 1626}
{:type :ok, :f :write, :value 4, :process 10, :time 5824877379, :index 1627}
{:type :invoke, :f :write, :value 0, :process 12, :time 5831267585, :index 1629}
{:type :ok, :f :write, :value 0, :process 12, :time 5836458906, :index 1631}
{:type :invoke, :f :read, :value nil, :process 19, :time 5866792666, :index 1632}
{:type :invoke, :f :write, :value 1, :process 17, :time 5870843059, :index 1634}
{:type :ok, :f :read, :value 0, :process 19, :time 5872399217, :index 1635}
{:type :ok, :f :write, :value 1, :process 17, :time 5875563344, :index 1637}
{:type :invoke, :f :write, :value 0, :process 14, :time 5895959415, :index 1642}
{:type :ok, :f :write, :value 0, :process 14, :time 5901698789, :index 1643}
{:type :invoke, :f :read, :value nil, :process 19, :time 5906683492, :index 1644}
{:type :invoke, :f :read, :value nil, :process 12, :time 5907714233, :index 1645}
{:type :ok, :f :read, :value 0, :process 19, :time 5913227563, :index 1647}
{:type :ok, :f :read, :value 0, :process 12, :time 5913594494, :index 1648}
{:type :invoke, :f :read, :value nil, :process 10, :time 5940136159, :index 1652}
{:type :invoke, :f :write, :value 3, :process 15, :time 5942496137, :index 1653}
{:type :invoke, :f :write, :value 4, :process 19, :time 5944493952, :index 1654}
{:type :ok, :f :read, :value 0, :process 10, :time 5946281321, :index 1655}
{:type :ok, :f :write, :value 3, :process 15, :time 5947793156, :index 1656}
{:type :ok, :f :write, :value 4, :process 19, :time 5950016964, :index 1657}
{:type :invoke, :f :write, :value 4, :process 17, :time 5958733050, :index 1662}
{:type :ok, :f :write, :value 4, :process 17, :time 5963445297, :index 1663}
{:type :invoke, :f :read, :value nil, :process 10, :time 5991598712, :index 1664}
{:type :ok, :f :read, :value 4, :process 10, :time 5997879983, :index 1665}
{:type :invoke, :f :cas, :value [4 0], :process 19, :time 6002274406, :index 1666}
{:type :invoke, :f :cas, :value [4 2], :process 14, :time 6005964215, :index 1667}
{:type :ok, :f :cas, :value [4 0], :process 19, :time 6007797493, :index 1668}
{:type :fail, :f :cas, :value [4 2], :process 14, :time 6012772483, :index 1669}
{:type :invoke, :f :cas, :value [3 4], :process 17, :time 6019722941, :index 1671}
{:type :fail, :f :cas, :value [3 4], :process 17, :time 6026099856, :index 1673}
{:type :invoke, :f :cas, :value [4 1], :process 19, :time 6033066818, :index 1674}
{:type :invoke, :f :read, :value nil, :process 15, :time 6091049584, :index 1678}
{:type :invoke, :f :read, :value nil, :process 12, :time 6098884297, :index 1680}
{:type :invoke, :f :write, :value 2, :process 17, :time 6154363980, :index 1683}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 6158146054, :index 1684}
{:type :invoke, :f :read, :value nil, :process 14, :time 6161037180, :index 1685}
{:type :ok, :f :write, :value 2, :process 17, :time 6530147636, :index 1687}
{:type :ok, :f :read, :value 0, :process 12, :time 6530228845, :index 1688}
{:type :ok, :f :read, :value 2, :process 14, :time 6530783458, :index 1689}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 6531375231, :index 1692}
{:type :ok, :f :read, :value 0, :process 15, :time 6531969922, :index 1695}
{:type :fail, :f :cas, :value [4 1], :process 19, :time 6532415510, :index 1697}
{:type :invoke, :f :write, :value 0, :process 10, :time 6629631075, :index 1708}
{:type :invoke, :f :cas, :value [4 0], :process 17, :time 6629627498, :index 1709}
{:type :invoke, :f :write, :value 2, :process 19, :time 6632662098, :index 1710}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 6634216098, :index 1711}
{:type :fail, :f :cas, :value [4 0], :process 17, :time 6634834030, :index 1712}
{:type :ok, :f :write, :value 0, :process 10, :time 6636846720, :index 1713}
{:type :ok, :f :write, :value 2, :process 19, :time 6637644573, :index 1714}
{:type :fail, :f :cas, :value [4 3], :process 15, :time 6640260215, :index 1715}
{:type :invoke, :f :read, :value nil, :process 12, :time 6643730188, :index 1716}
{:type :invoke, :f :write, :value 1, :process 14, :time 6644053757, :index 1717}
{:type :ok, :f :read, :value 2, :process 12, :time 6648580260, :index 1718}
{:type :ok, :f :write, :value 1, :process 14, :time 6649364440, :index 1719}
{:type :invoke, :f :read, :value nil, :process 10, :time 6683103062, :index 1724}
{:type :ok, :f :read, :value 1, :process 10, :time 6688651811, :index 1725}
{:type :invoke, :f :read, :value nil, :process 17, :time 6700106779, :index 1726}
{:type :ok, :f :read, :value 1, :process 17, :time 6705605860, :index 1727}
{:type :invoke, :f :read, :value nil, :process 15, :time 6732519021, :index 1732}
{:type :invoke, :f :read, :value nil, :process 19, :time 6733903370, :index 1733}
{:type :ok, :f :read, :value 1, :process 15, :time 6739199758, :index 1734}
{:type :ok, :f :read, :value 1, :process 19, :time 6739587628, :index 1735}
{:type :invoke, :f :read, :value nil, :process 17, :time 6745861941, :index 1736}
{:type :ok, :f :read, :value 1, :process 17, :time 6750329194, :index 1738}
{:type :invoke, :f :read, :value nil, :process 12, :time 6760838758, :index 1740}
{:type :ok, :f :read, :value 1, :process 12, :time 6766101245, :index 1742}
{:type :invoke, :f :read, :value nil, :process 14, :time 6791599632, :index 1746}
{:type :ok, :f :read, :value 1, :process 14, :time 6798708204, :index 1748}
{:type :invoke, :f :read, :value nil, :process 17, :time 6802590461, :index 1750}
{:type :ok, :f :read, :value 1, :process 17, :time 6807301606, :index 1751}
{:type :invoke, :f :cas, :value [3 2], :process 17, :time 6809563298, :index 1752}
{:type :fail, :f :cas, :value [3 2], :process 17, :time 6815083286, :index 1754}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 6829466365, :index 1757}
{:type :invoke, :f :write, :value 1, :process 12, :time 6832366595, :index 1758}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 6835288978, :index 1760}
{:type :ok, :f :write, :value 1, :process 12, :time 6836526161, :index 1761}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 6838922709, :index 1763}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 6844241646, :index 1765}
{:type :invoke, :f :write, :value 4, :process 10, :time 6881524489, :index 1768}
{:type :ok, :f :write, :value 4, :process 10, :time 6887289589, :index 1769}
{:type :invoke, :f :write, :value 2, :process 15, :time 6918546774, :index 1774}
{:type :invoke, :f :write, :value 2, :process 12, :time 6920783247, :index 1775}
{:type :ok, :f :write, :value 2, :process 15, :time 6923956858, :index 1776}
{:type :ok, :f :write, :value 2, :process 12, :time 6925061926, :index 1777}
{:type :invoke, :f :read, :value nil, :process 19, :time 6928859540, :index 1780}
{:type :ok, :f :read, :value 2, :process 19, :time 6934349422, :index 1782}
{:type :invoke, :f :write, :value 1, :process 19, :time 6941622288, :index 1784}
{:type :ok, :f :write, :value 1, :process 19, :time 6947073937, :index 1786}
{:type :invoke, :f :write, :value 1, :process 10, :time 6947564036, :index 1787}
{:type :ok, :f :write, :value 1, :process 10, :time 6954198426, :index 1789}
{:type :invoke, :f :write, :value 1, :process 12, :time 6958325500, :index 1790}
{:type :ok, :f :write, :value 1, :process 12, :time 6963244142, :index 1791}
{:type :invoke, :f :write, :value 0, :process 14, :time 6967970446, :index 1792}
{:type :invoke, :f :write, :value 2, :process 19, :time 6969338753, :index 1793}
{:type :ok, :f :write, :value 0, :process 14, :time 6973118478, :index 1794}
{:type :ok, :f :write, :value 2, :process 19, :time 6974196963, :index 1795}
{:type :invoke, :f :write, :value 1, :process 17, :time 6984350701, :index 1797}
{:type :ok, :f :write, :value 1, :process 17, :time 6989271240, :index 1799}
{:type :invoke, :f :read, :value nil, :process 12, :time 7007502535, :index 1800}
{:type :ok, :f :read, :value 1, :process 12, :time 7019874351, :index 1802}
{:type :invoke, :f :cas, :value [4 2], :process 10, :time 7021456860, :index 1804}
{:type :fail, :f :cas, :value [4 2], :process 10, :time 7028032693, :index 1805}
{:type :invoke, :f :write, :value 1, :process 10, :time 7042300024, :index 1810}
{:type :invoke, :f :read, :value nil, :process 19, :time 7043467523, :index 1811}
{:type :ok, :f :write, :value 1, :process 10, :time 7048291496, :index 1812}
{:type :ok, :f :read, :value 1, :process 19, :time 7050625949, :index 1813}
{:type :invoke, :f :cas, :value [1 1], :process 15, :time 7053224127, :index 1814}
{:type :ok, :f :cas, :value [1 1], :process 15, :time 7058428217, :index 1815}
{:type :invoke, :f :write, :value 1, :process 14, :time 7092394241, :index 1818}
{:type :ok, :f :write, :value 1, :process 14, :time 7097904792, :index 1820}
{:type :invoke, :f :cas, :value [2 4], :process 19, :time 7100898986, :index 1822}
{:type :fail, :f :cas, :value [2 4], :process 19, :time 7106986461, :index 1823}
{:type :invoke, :f :cas, :value [4 3], :process 14, :time 7113160509, :index 1824}
{:type :fail, :f :cas, :value [4 3], :process 14, :time 7119202036, :index 1825}
{:type :invoke, :f :read, :value nil, :process 10, :time 7136548419, :index 1830}
{:type :invoke, :f :read, :value nil, :process 14, :time 7139451576, :index 1832}
{:type :ok, :f :read, :value 1, :process 10, :time 7142266215, :index 1833}
{:type :invoke, :f :write, :value 3, :process 10, :time 7144540159, :index 1836}
{:type :ok, :f :read, :value 1, :process 14, :time 7145150235, :index 1837}
{:type :ok, :f :write, :value 3, :process 10, :time 7150334447, :index 1839}
{:type :invoke, :f :read, :value nil, :process 12, :time 7154137431, :index 1840}
{:type :ok, :f :read, :value 3, :process 12, :time 7159602115, :index 1841}
{:type :invoke, :f :cas, :value [4 3], :process 17, :time 7159514981, :index 1842}
{:type :fail, :f :cas, :value [4 3], :process 17, :time 7164668866, :index 1843}
{:type :invoke, :f :read, :value nil, :process 15, :time 7168689857, :index 1844}
{:type :ok, :f :read, :value 3, :process 15, :time 7174388681, :index 1846}
{:type :invoke, :f :cas, :value [2 1], :process 17, :time 7184938754, :index 1850}
{:type :fail, :f :cas, :value [2 1], :process 17, :time 7190215400, :index 1851}
{:type :invoke, :f :write, :value 0, :process 17, :time 7192470285, :index 1852}
{:type :ok, :f :write, :value 0, :process 17, :time 7196723322, :index 1853}
{:type :invoke, :f :write, :value 3, :process 14, :time 7261404326, :index 1862}
{:type :ok, :f :write, :value 3, :process 14, :time 7267751978, :index 1863}
{:type :invoke, :f :write, :value 3, :process 12, :time 7271856138, :index 1864}
{:type :invoke, :f :write, :value 4, :process 19, :time 7274247220, :index 1865}
{:type :ok, :f :write, :value 3, :process 12, :time 7276224373, :index 1866}
{:type :invoke, :f :read, :value nil, :process 17, :time 7278981016, :index 1867}
{:type :ok, :f :write, :value 4, :process 19, :time 7279903439, :index 1868}
{:type :ok, :f :read, :value 4, :process 17, :time 7283938469, :index 1869}
{:type :invoke, :f :write, :value 2, :process 10, :time 7315586586, :index 1872}
{:type :invoke, :f :write, :value 3, :process 15, :time 7317674183, :index 1874}
{:type :ok, :f :write, :value 2, :process 10, :time 7322796076, :index 1876}
{:type :ok, :f :write, :value 3, :process 15, :time 7323561050, :index 1877}
{:type :invoke, :f :read, :value nil, :process 14, :time 7437015593, :index 1894}
{:type :ok, :f :read, :value 3, :process 14, :time 7442470819, :index 1895}
{:type :invoke, :f :read, :value nil, :process 10, :time 7448049712, :index 1896}
{:type :invoke, :f :write, :value 0, :process 19, :time 7451171930, :index 1897}
{:type :ok, :f :read, :value 3, :process 10, :time 7453724182, :index 1898}
{:type :ok, :f :write, :value 0, :process 19, :time 7455843643, :index 1899}
{:type :invoke, :f :read, :value nil, :process 12, :time 7465497376, :index 1903}
{:type :invoke, :f :read, :value nil, :process 17, :time 7469203868, :index 1904}
{:type :ok, :f :read, :value 0, :process 12, :time 7470570897, :index 1906}
{:type :ok, :f :read, :value 0, :process 17, :time 7474250720, :index 1907}
{:type :invoke, :f :read, :value nil, :process 12, :time 7477847561, :index 1908}
{:type :ok, :f :read, :value 0, :process 12, :time 7482892889, :index 1910}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 7511811052, :index 1916}
{:type :ok, :f :cas, :value [0 0], :process 15, :time 7517350652, :index 1919}
{:type :invoke, :f :write, :value 2, :process 15, :time 7537617148, :index 1922}
{:type :ok, :f :write, :value 2, :process 15, :time 7543450531, :index 1924}
{:type :invoke, :f :cas, :value [0 1], :process 17, :time 7563549998, :index 1926}
{:type :invoke, :f :cas, :value [2 3], :process 10, :time 7565980317, :index 1927}
{:type :fail, :f :cas, :value [0 1], :process 17, :time 7568547058, :index 1929}
{:type :ok, :f :cas, :value [2 3], :process 10, :time 7571889601, :index 1931}
{:type :invoke, :f :cas, :value [1 4], :process 14, :time 7582727701, :index 1935}
{:type :invoke, :f :write, :value 0, :process 10, :time 7584147509, :index 1937}
{:type :invoke, :f :cas, :value [4 2], :process 12, :time 7588172455, :index 1939}
{:type :fail, :f :cas, :value [1 4], :process 14, :time 7589233191, :index 1940}
{:type :ok, :f :write, :value 0, :process 10, :time 7589771862, :index 1941}
{:type :invoke, :f :write, :value 1, :process 19, :time 7594110338, :index 1942}
{:type :fail, :f :cas, :value [4 2], :process 12, :time 7594483530, :index 1943}
{:type :ok, :f :write, :value 1, :process 19, :time 7599080214, :index 1945}
{:type :invoke, :f :write, :value 2, :process 17, :time 7635804095, :index 1950}
{:type :ok, :f :write, :value 2, :process 17, :time 7642269186, :index 1951}
{:type :invoke, :f :read, :value nil, :process 15, :time 7729716410, :index 1971}
{:type :ok, :f :read, :value 2, :process 15, :time 7735138911, :index 1973}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
