{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :invoke, :f :write, :value 2, :process 39, :time 57651862166, :index 20473}
{:type :fail, :f :write, :value 2, :process 39, :time 57653838441, :error :connect, :index 20475}
{:type :invoke, :f :write, :value 2, :process 33, :time 57668188809, :index 20485}
{:type :fail, :f :write, :value 2, :process 33, :time 57669991637, :error :connect, :index 20486}
{:type :invoke, :f :read, :value nil, :process 34, :time 57674137636, :index 20489}
{:type :fail, :f :read, :value nil, :process 34, :time 57675627528, :error :connect, :index 20490}
{:type :invoke, :f :cas, :value [3 4], :process 36, :time 57690098652, :index 20493}
{:type :fail, :f :cas, :value [3 4], :process 36, :time 57692108841, :error :connect, :index 20494}
{:type :invoke, :f :read, :value nil, :process 33, :time 57695258823, :index 20500}
{:type :fail, :f :read, :value nil, :process 33, :time 57697579405, :error :connect, :index 20501}
{:type :invoke, :f :write, :value 4, :process 32, :time 57698509238, :index 20503}
{:type :fail, :f :write, :value 4, :process 32, :time 57700409816, :error :connect, :index 20505}
{:type :invoke, :f :read, :value nil, :process 39, :time 57726099867, :index 20511}
{:type :fail, :f :read, :value nil, :process 39, :time 57727904497, :error :connect, :index 20512}
{:type :invoke, :f :read, :value nil, :process 36, :time 57728375238, :index 20513}
{:type :fail, :f :read, :value nil, :process 36, :time 57730208321, :error :connect, :index 20514}
{:type :invoke, :f :cas, :value [4 2], :process 36, :time 57742470213, :index 20521}
{:type :fail, :f :cas, :value [4 2], :process 36, :time 57744264742, :error :connect, :index 20522}
{:type :invoke, :f :read, :value nil, :process 32, :time 57748679061, :index 20524}
{:type :fail, :f :read, :value nil, :process 32, :time 57750769572, :error :connect, :index 20526}
{:type :invoke, :f :read, :value nil, :process 37, :time 57751479217, :index 20527}
{:type :fail, :f :read, :value nil, :process 37, :time 57753326710, :error :connect, :index 20528}
{:type :invoke, :f :cas, :value [1 4], :process 36, :time 57762530537, :index 20529}
{:type :fail, :f :cas, :value [1 4], :process 36, :time 57764400663, :error :connect, :index 20530}
{:type :invoke, :f :cas, :value [0 3], :process 34, :time 57776891076, :index 20535}
{:type :fail, :f :cas, :value [0 3], :process 34, :time 57779803059, :error :connect, :index 20536}
{:type :invoke, :f :read, :value nil, :process 10, :time 57781338197, :index 20537}
{:type :invoke, :f :read, :value nil, :process 11, :time 57782938490, :index 20539}
{:type :fail, :f :read, :value nil, :process 10, :time 57783427565, :error :connect, :index 20540}
{:type :fail, :f :read, :value nil, :process 11, :time 57784678623, :error :connect, :index 20542}
{:type :invoke, :f :write, :value 3, :process 15, :time 57796076377, :index 20547}
{:type :fail, :f :write, :value 3, :process 15, :time 57797830233, :error :connect, :index 20548}
{:type :invoke, :f :read, :value nil, :process 33, :time 57803856912, :index 20549}
{:type :fail, :f :read, :value nil, :process 33, :time 57806002192, :error :connect, :index 20551}
{:type :invoke, :f :cas, :value [2 2], :process 32, :time 57806113840, :index 20552}
{:type :fail, :f :cas, :value [2 2], :process 32, :time 57808150905, :error :connect, :index 20554}
{:type :invoke, :f :cas, :value [0 2], :process 34, :time 57823071827, :index 20555}
{:type :fail, :f :cas, :value [0 2], :process 34, :time 57824931571, :error :connect, :index 20556}
{:type :invoke, :f :cas, :value [1 4], :process 36, :time 57833674337, :index 20557}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 57833844371, :index 20558}
{:type :invoke, :f :read, :value nil, :process 15, :time 57834103728, :index 20559}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 57835867281, :error :connect, :index 20560}
{:type :fail, :f :cas, :value [1 4], :process 36, :time 57836358240, :error :connect, :index 20561}
{:type :fail, :f :read, :value nil, :process 15, :time 57836357195, :error :connect, :index 20562}
{:type :invoke, :f :write, :value 3, :process 15, :time 57844616455, :index 20566}
{:type :fail, :f :write, :value 3, :process 15, :time 57846640700, :error :connect, :index 20568}
{:type :invoke, :f :cas, :value [1 0], :process 10, :time 57874708156, :index 20573}
{:type :invoke, :f :write, :value 2, :process 39, :time 57876172248, :index 20574}
{:type :fail, :f :cas, :value [1 0], :process 10, :time 57876631046, :error :connect, :index 20575}
{:type :fail, :f :write, :value 2, :process 39, :time 57878201091, :error :connect, :index 20576}
{:type :invoke, :f :cas, :value [2 0], :process 15, :time 57899921020, :index 20583}
{:type :fail, :f :cas, :value [2 0], :process 15, :time 57901957612, :error :connect, :index 20584}
{:type :invoke, :f :write, :value 0, :process 11, :time 57904940612, :index 20585}
{:type :fail, :f :write, :value 0, :process 11, :time 57906791237, :error :connect, :index 20586}
{:type :invoke, :f :read, :value nil, :process 34, :time 57915197429, :index 20589}
{:type :invoke, :f :read, :value nil, :process 32, :time 57915430234, :index 20590}
{:type :fail, :f :read, :value nil, :process 32, :time 57917424655, :error :connect, :index 20591}
{:type :fail, :f :read, :value nil, :process 34, :time 57917454489, :error :connect, :index 20592}
{:type :invoke, :f :cas, :value [2 0], :process 37, :time 57927593107, :index 20593}
{:type :fail, :f :cas, :value [2 0], :process 37, :time 57929679122, :error :connect, :index 20595}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 57941905299, :index 20599}
{:type :fail, :f :cas, :value [4 4], :process 10, :time 57943996490, :error :connect, :index 20600}
{:type :invoke, :f :read, :value nil, :process 36, :time 57951601565, :index 20603}
{:type :fail, :f :read, :value nil, :process 36, :time 57953231029, :error :connect, :index 20604}
{:type :invoke, :f :cas, :value [3 2], :process 36, :time 57963492212, :index 20609}
{:type :invoke, :f :write, :value 3, :process 33, :time 57964272567, :index 20610}
{:type :fail, :f :cas, :value [3 2], :process 36, :time 57965072095, :error :connect, :index 20611}
{:type :fail, :f :write, :value 3, :process 33, :time 57965863025, :error :connect, :index 20612}
{:type :invoke, :f :write, :value 2, :process 18, :time 57968139327, :index 20613}
{:type :invoke, :f :write, :value 3, :process 39, :time 57968473444, :index 20614}
{:type :fail, :f :write, :value 2, :process 18, :time 57970068595, :error :connect, :index 20615}
{:type :fail, :f :write, :value 3, :process 39, :time 57970349244, :error :connect, :index 20616}
{:type :invoke, :f :cas, :value [0 3], :process 32, :time 57986712604, :index 20620}
{:type :fail, :f :cas, :value [0 3], :process 32, :time 57988836752, :error :connect, :index 20623}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 58008052924, :index 20627}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 58009894685, :error :connect, :index 20628}
{:type :invoke, :f :write, :value 0, :process 33, :time 58032130630, :index 20635}
{:type :fail, :f :write, :value 0, :process 33, :time 58033759534, :error :connect, :index 20636}
{:type :invoke, :f :write, :value 1, :process 36, :time 58044935465, :index 20640}
{:type :fail, :f :write, :value 1, :process 36, :time 58046660398, :error :connect, :index 20642}
{:type :invoke, :f :write, :value 3, :process 34, :time 58056774647, :index 20643}
{:type :fail, :f :write, :value 3, :process 34, :time 58058423642, :error :connect, :index 20644}
{:type :invoke, :f :cas, :value [3 0], :process 37, :time 58075949007, :index 20649}
{:type :fail, :f :cas, :value [3 0], :process 37, :time 58077823666, :error :connect, :index 20650}
{:type :invoke, :f :read, :value nil, :process 15, :time 58095221909, :index 20655}
{:type :fail, :f :read, :value nil, :process 15, :time 58097283765, :error :connect, :index 20656}
{:type :invoke, :f :read, :value nil, :process 10, :time 58099271255, :index 20657}
{:type :fail, :f :read, :value nil, :process 10, :time 58101137823, :error :connect, :index 20658}
{:type :invoke, :f :write, :value 1, :process 11, :time 58141161173, :index 20663}
{:type :fail, :f :write, :value 1, :process 11, :time 58142850912, :error :connect, :index 20664}
{:type :invoke, :f :cas, :value [1 0], :process 18, :time 58144374728, :index 20666}
{:type :fail, :f :cas, :value [1 0], :process 18, :time 58146245616, :error :connect, :index 20668}
{:type :invoke, :f :cas, :value [1 0], :process 36, :time 58157953668, :index 20670}
{:type :fail, :f :cas, :value [1 0], :process 36, :time 58159947731, :error :connect, :index 20672}
{:type :invoke, :f :cas, :value [3 1], :process 39, :time 58163591461, :index 20677}
{:type :fail, :f :cas, :value [3 1], :process 39, :time 58165702582, :error :connect, :index 20680}
{:type :invoke, :f :write, :value 2, :process 32, :time 58173133792, :index 20681}
{:type :fail, :f :write, :value 2, :process 32, :time 58174952373, :error :connect, :index 20682}
{:type :invoke, :f :read, :value nil, :process 33, :time 58205955103, :index 20689}
{:type :fail, :f :read, :value nil, :process 33, :time 58208048953, :error :connect, :index 20690}
{:type :invoke, :f :write, :value 2, :process 32, :time 58245212531, :index 20693}
{:type :invoke, :f :read, :value nil, :process 34, :time 58245717741, :index 20694}
{:type :fail, :f :write, :value 2, :process 32, :time 58255830745, :error :connect, :index 20696}
{:type :invoke, :f :cas, :value [3 3], :process 18, :time 58257519499, :index 20698}
{:type :fail, :f :cas, :value [3 3], :process 18, :time 58259785255, :error :connect, :index 20701}
{:type :fail, :f :read, :value nil, :process 34, :time 58260315871, :error :connect, :index 20703}
{:type :invoke, :f :read, :value nil, :process 37, :time 58277088947, :index 20709}
{:type :invoke, :f :cas, :value [1 4], :process 15, :time 58277569921, :index 20710}
{:type :fail, :f :read, :value nil, :process 37, :time 58278740290, :error :connect, :index 20711}
{:type :fail, :f :cas, :value [1 4], :process 15, :time 58279554055, :error :connect, :index 20712}
{:type :invoke, :f :cas, :value [3 4], :process 33, :time 58289317291, :index 20719}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 58289321527, :index 20720}
{:type :fail, :f :cas, :value [3 4], :process 33, :time 58291192715, :error :connect, :index 20721}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 58291408255, :error :connect, :index 20722}
{:type :invoke, :f :write, :value 0, :process 18, :time 58298025822, :index 20723}
{:type :invoke, :f :cas, :value [1 2], :process 39, :time 58298960001, :index 20724}
{:type :fail, :f :write, :value 0, :process 18, :time 58299819868, :error :connect, :index 20725}
{:type :fail, :f :cas, :value [1 2], :process 39, :time 58302053581, :error :connect, :index 20726}
{:type :invoke, :f :cas, :value [3 3], :process 11, :time 58332148893, :index 20730}
{:type :fail, :f :cas, :value [3 3], :process 11, :time 58333813849, :error :connect, :index 20732}
{:type :invoke, :f :cas, :value [4 2], :process 36, :time 58334212139, :index 20733}
{:type :fail, :f :cas, :value [4 2], :process 36, :time 58336042250, :error :connect, :index 20734}
{:type :invoke, :f :write, :value 2, :process 32, :time 58353594913, :index 20737}
{:type :fail, :f :write, :value 2, :process 32, :time 58355237734, :error :connect, :index 20738}
{:type :invoke, :f :write, :value 1, :process 32, :time 58364507048, :index 20741}
{:type :fail, :f :write, :value 1, :process 32, :time 58366312988, :error :connect, :index 20743}
{:type :invoke, :f :read, :value nil, :process 18, :time 58383091357, :index 20749}
{:type :fail, :f :read, :value nil, :process 18, :time 58384830667, :error :connect, :index 20751}
{:type :invoke, :f :read, :value nil, :process 37, :time 58388997790, :index 20753}
{:type :invoke, :f :read, :value nil, :process 18, :time 58389094749, :index 20754}
{:type :invoke, :f :read, :value nil, :process 32, :time 58390583310, :index 20755}
{:type :fail, :f :read, :value nil, :process 37, :time 58391031840, :error :connect, :index 20756}
{:type :fail, :f :read, :value nil, :process 18, :time 58391375127, :error :connect, :index 20757}
{:type :invoke, :f :cas, :value [3 2], :process 34, :time 58391546104, :index 20758}
{:type :fail, :f :read, :value nil, :process 32, :time 58392390442, :error :connect, :index 20759}
{:type :fail, :f :cas, :value [3 2], :process 34, :time 58393391987, :error :connect, :index 20760}
{:type :invoke, :f :read, :value nil, :process 11, :time 58439068192, :index 20768}
{:type :fail, :f :read, :value nil, :process 11, :time 58440900352, :error :connect, :index 20770}
{:type :invoke, :f :cas, :value [2 0], :process 10, :time 58446674972, :index 20773}
{:type :fail, :f :cas, :value [2 0], :process 10, :time 58448479272, :error :connect, :index 20775}
{:type :invoke, :f :cas, :value [2 1], :process 34, :time 58450668268, :index 20777}
{:type :fail, :f :cas, :value [2 1], :process 34, :time 58452470822, :error :connect, :index 20778}
{:type :invoke, :f :write, :value 1, :process 10, :time 58458752905, :index 20780}
{:type :fail, :f :write, :value 1, :process 10, :time 58460344803, :error :connect, :index 20782}
{:type :invoke, :f :write, :value 0, :process 36, :time 58460319454, :index 20783}
{:type :fail, :f :write, :value 0, :process 36, :time 58462319612, :error :connect, :index 20784}
{:type :invoke, :f :write, :value 1, :process 33, :time 58469471477, :index 20787}
{:type :invoke, :f :cas, :value [2 4], :process 39, :time 58470319273, :index 20788}
{:type :fail, :f :write, :value 1, :process 33, :time 58471072948, :error :connect, :index 20789}
{:type :fail, :f :cas, :value [2 4], :process 39, :time 58472315600, :error :connect, :index 20790}
{:type :invoke, :f :write, :value 1, :process 18, :time 58474030483, :index 20792}
{:type :invoke, :f :write, :value 0, :process 15, :time 58475835986, :index 20795}
{:type :fail, :f :write, :value 1, :process 18, :time 58475923189, :error :connect, :index 20796}
{:type :fail, :f :write, :value 0, :process 15, :time 58477822266, :error :connect, :index 20798}
{:type :invoke, :f :cas, :value [4 1], :process 36, :time 58487550599, :index 20799}
{:type :fail, :f :cas, :value [4 1], :process 36, :time 58489286902, :error :connect, :index 20800}
{:type :invoke, :f :cas, :value [0 4], :process 37, :time 58502279680, :index 20803}
{:type :fail, :f :cas, :value [0 4], :process 37, :time 58504130588, :error :connect, :index 20804}
{:type :invoke, :f :cas, :value [4 1], :process 37, :time 58508392492, :index 20807}
{:type :fail, :f :cas, :value [4 1], :process 37, :time 58510497452, :error :connect, :index 20809}
{:type :invoke, :f :cas, :value [1 2], :process 32, :time 58517640340, :index 20812}
{:type :invoke, :f :cas, :value [2 3], :process 37, :time 58518735570, :index 20814}
{:type :fail, :f :cas, :value [1 2], :process 32, :time 58519644817, :error :connect, :index 20815}
{:type :fail, :f :cas, :value [2 3], :process 37, :time 58520368169, :error :connect, :index 20816}
{:type :invoke, :f :write, :value 0, :process 18, :time 58521164036, :index 20817}
{:type :fail, :f :write, :value 0, :process 18, :time 58522956202, :error :connect, :index 20818}
{:type :invoke, :f :cas, :value [3 4], :process 10, :time 58556584622, :index 20821}
{:type :fail, :f :cas, :value [3 4], :process 10, :time 58558679247, :error :connect, :index 20822}
{:type :invoke, :f :write, :value 2, :process 32, :time 58560906876, :index 20823}
{:type :fail, :f :write, :value 2, :process 32, :time 58562891404, :error :connect, :index 20825}
{:type :invoke, :f :read, :value nil, :process 10, :time 58574980184, :index 20831}
{:type :fail, :f :read, :value nil, :process 10, :time 58576760420, :error :connect, :index 20832}
{:type :invoke, :f :write, :value 4, :process 37, :time 58581611241, :index 20834}
{:type :fail, :f :write, :value 4, :process 37, :time 58583711515, :error :connect, :index 20836}
{:type :invoke, :f :read, :value nil, :process 36, :time 58587556141, :index 20839}
{:type :fail, :f :read, :value nil, :process 36, :time 58589255365, :error :connect, :index 20840}
{:type :invoke, :f :write, :value 2, :process 15, :time 58591089550, :index 20841}
{:type :fail, :f :write, :value 2, :process 15, :time 58593130564, :error :connect, :index 20842}
{:type :invoke, :f :read, :value nil, :process 18, :time 58603213451, :index 20843}
{:type :invoke, :f :read, :value nil, :process 11, :time 58604155177, :index 20844}
{:type :fail, :f :read, :value nil, :process 18, :time 58605097924, :error :connect, :index 20845}
{:type :fail, :f :read, :value nil, :process 11, :time 58606004468, :error :connect, :index 20846}
{:type :invoke, :f :read, :value nil, :process 15, :time 58606393060, :index 20847}
{:type :fail, :f :read, :value nil, :process 15, :time 58608213816, :error :connect, :index 20848}
{:type :invoke, :f :cas, :value [1 2], :process 34, :time 58622733696, :index 20857}
{:type :fail, :f :cas, :value [1 2], :process 34, :time 58624592928, :error :connect, :index 20858}
{:type :invoke, :f :cas, :value [4 3], :process 33, :time 58636349837, :index 20863}
{:type :fail, :f :cas, :value [4 3], :process 33, :time 58638203554, :error :connect, :index 20864}
{:type :invoke, :f :cas, :value [4 1], :process 36, :time 58656530678, :index 20875}
{:type :invoke, :f :read, :value nil, :process 37, :time 58657990983, :index 20876}
{:type :fail, :f :cas, :value [4 1], :process 36, :time 58658213060, :error :connect, :index 20877}
{:type :fail, :f :read, :value nil, :process 37, :time 58660750847, :error :connect, :index 20878}
{:type :invoke, :f :write, :value 0, :process 32, :time 58665162519, :index 20881}
{:type :fail, :f :write, :value 0, :process 32, :time 58666974668, :error :connect, :index 20882}
{:type :invoke, :f :write, :value 2, :process 39, :time 58671579586, :index 20883}
{:type :fail, :f :write, :value 2, :process 39, :time 58673357511, :error :connect, :index 20884}
{:type :invoke, :f :read, :value nil, :process 10, :time 58679030816, :index 20887}
{:type :fail, :f :read, :value nil, :process 10, :time 58681054896, :error :connect, :index 20888}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 58788359995, :index 20923}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 58790262899, :error :connect, :index 20925}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
