{:type :invoke, :f :write, :value 3, :process 0, :time 41248797, :index 2}
{:type :ok, :f :write, :value 3, :process 0, :time 46930108, :index 4}
{:type :invoke, :f :cas, :value [2 4], :process 7, :time 59594903, :index 7}
{:type :fail, :f :cas, :value [2 4], :process 7, :time 65094412, :index 11}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 73095090, :index 14}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 78169244, :index 15}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 86907823, :index 17}
{:type :invoke, :f :read, :value nil, :process 8, :time 110650931, :index 23}
{:type :invoke, :f :cas, :value [3 0], :process 9, :time 111752641, :index 24}
{:type :invoke, :f :read, :value nil, :process 1, :time 112045297, :index 25}
{:type :ok, :f :read, :value 3, :process 8, :time 117034329, :index 27}
{:type :ok, :f :cas, :value [3 0], :process 9, :time 117654627, :index 28}
{:type :invoke, :f :read, :value nil, :process 8, :time 126295298, :index 33}
{:type :ok, :f :read, :value 0, :process 8, :time 131369352, :index 35}
{:type :invoke, :f :write, :value 2, :process 5, :time 147501332, :index 37}
{:type :ok, :f :write, :value 2, :process 5, :time 151948211, :index 39}
{:type :invoke, :f :read, :value nil, :process 4, :time 172516640, :index 40}
{:type :ok, :f :read, :value 2, :process 4, :time 177539897, :index 41}
{:type :invoke, :f :cas, :value [1 4], :process 2, :time 181126037, :index 42}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 182736263, :index 43}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 183122175, :index 44}
{:type :invoke, :f :read, :value nil, :process 5, :time 183399862, :index 45}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 188640109, :index 46}
{:type :ok, :f :read, :value 2, :process 5, :time 188888874, :index 47}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 189772459, :index 48}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 190359076, :index 49}
{:type :fail, :f :cas, :value [1 0], :process 8, :time 194047145, :index 50}
{:type :invoke, :f :write, :value 4, :process 4, :time 215094962, :index 56}
{:type :ok, :f :write, :value 4, :process 4, :time 219592331, :index 59}
{:type :invoke, :f :write, :value 2, :process 7, :time 243374300, :index 62}
{:type :invoke, :f :write, :value 4, :process 9, :time 245920557, :index 64}
{:type :invoke, :f :write, :value 2, :process 0, :time 247429760, :index 65}
{:type :ok, :f :write, :value 4, :process 9, :time 250759086, :index 67}
{:type :ok, :f :write, :value 2, :process 0, :time 260029598, :index 68}
{:type :ok, :f :write, :value 2, :process 7, :time 281313088, :index 72}
{:type :fail, :f :cas, :value [1 4], :process 2, :time 281698851, :index 73}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 316141237, :index 78}
{:type :invoke, :f :cas, :value [4 0], :process 7, :time 318556713, :index 79}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 321426913, :index 80}
{:type :fail, :f :cas, :value [4 0], :process 7, :time 324142952, :index 81}
{:type :invoke, :f :read, :value nil, :process 3, :time 344612066, :index 86}
{:type :ok, :f :read, :value 2, :process 3, :time 349459618, :index 87}
{:type :invoke, :f :write, :value 3, :process 3, :time 349596329, :index 88}
{:type :ok, :f :write, :value 3, :process 3, :time 354429802, :index 89}
{:type :invoke, :f :read, :value nil, :process 5, :time 358703210, :index 91}
{:type :ok, :f :read, :value 3, :process 5, :time 363562630, :index 93}
{:type :invoke, :f :read, :value nil, :process 2, :time 366950647, :index 94}
{:type :ok, :f :read, :value 3, :process 2, :time 372189571, :index 95}
{:type :invoke, :f :write, :value 1, :process 8, :time 380341401, :index 97}
{:type :ok, :f :write, :value 1, :process 8, :time 385697683, :index 99}
{:type :invoke, :f :write, :value 0, :process 8, :time 385851274, :index 100}
{:type :ok, :f :write, :value 0, :process 8, :time 390594618, :index 101}
{:type :invoke, :f :cas, :value [2 4], :process 2, :time 393444469, :index 102}
{:type :fail, :f :cas, :value [2 4], :process 2, :time 399568051, :index 104}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 407841950, :index 106}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 414323762, :index 108}
{:type :invoke, :f :read, :value nil, :process 5, :time 417815723, :index 110}
{:type :invoke, :f :write, :value 2, :process 9, :time 421044477, :index 111}
{:type :ok, :f :read, :value 0, :process 5, :time 422091180, :index 112}
{:type :invoke, :f :read, :value nil, :process 5, :time 424339661, :index 113}
{:type :ok, :f :write, :value 2, :process 9, :time 425952537, :index 114}
{:type :ok, :f :read, :value 2, :process 5, :time 428237598, :index 116}
{:type :invoke, :f :write, :value 4, :process 0, :time 428308858, :index 117}
{:type :ok, :f :write, :value 4, :process 0, :time 432729577, :index 119}
{:type :invoke, :f :read, :value nil, :process 3, :time 432689469, :index 120}
{:type :ok, :f :read, :value 4, :process 3, :time 437783718, :index 121}
{:type :invoke, :f :write, :value 1, :process 9, :time 441208068, :index 122}
{:type :ok, :f :write, :value 1, :process 9, :time 446417017, :index 124}
{:type :invoke, :f :read, :value nil, :process 4, :time 455603144, :index 128}
{:type :ok, :f :read, :value 1, :process 4, :time 460826725, :index 131}
{:type :invoke, :f :write, :value 2, :process 2, :time 461861010, :index 132}
{:type :invoke, :f :write, :value 2, :process 9, :time 463677377, :index 133}
{:type :ok, :f :write, :value 2, :process 2, :time 467055864, :index 134}
{:type :ok, :f :write, :value 2, :process 9, :time 469989634, :index 135}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 482452191, :index 138}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 488159910, :index 140}
{:type :invoke, :f :cas, :value [4 2], :process 8, :time 495895042, :index 142}
{:type :fail, :f :cas, :value [4 2], :process 8, :time 501321224, :index 143}
{:type :invoke, :f :write, :value 1, :process 4, :time 512077987, :index 146}
{:type :ok, :f :write, :value 1, :process 4, :time 516949634, :index 147}
{:type :invoke, :f :read, :value nil, :process 9, :time 523253737, :index 149}
{:type :ok, :f :read, :value 1, :process 9, :time 529489852, :index 152}
{:type :invoke, :f :read, :value nil, :process 2, :time 533338051, :index 156}
{:type :invoke, :f :read, :value nil, :process 7, :time 537420981, :index 157}
{:type :ok, :f :read, :value 1, :process 2, :time 538391002, :index 158}
{:type :ok, :f :read, :value 1, :process 7, :time 542407856, :index 159}
{:type :invoke, :f :read, :value nil, :process 0, :time 555988445, :index 166}
{:type :ok, :f :read, :value 1, :process 0, :time 560281026, :index 167}
{:type :invoke, :f :cas, :value [2 4], :process 5, :time 581647797, :index 172}
{:type :fail, :f :cas, :value [2 4], :process 5, :time 585952407, :index 173}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 587039321, :index 174}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 589603956, :index 175}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 593379814, :index 177}
{:type :ok, :f :read, :value 1, :process 1, :time 593631697, :index 178}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 595063551, :index 180}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 595486870, :index 181}
{:type :invoke, :f :write, :value 4, :process 9, :time 596755029, :index 182}
{:type :ok, :f :write, :value 4, :process 9, :time 601182211, :index 184}
{:type :invoke, :f :cas, :value [2 2], :process 4, :time 607260513, :index 187}
{:type :invoke, :f :read, :value nil, :process 8, :time 611737373, :index 189}
{:type :fail, :f :cas, :value [2 2], :process 4, :time 613405165, :index 190}
{:type :ok, :f :read, :value 4, :process 8, :time 617231939, :index 191}
{:type :invoke, :f :write, :value 4, :process 3, :time 626338774, :index 193}
{:type :invoke, :f :write, :value 0, :process 2, :time 630648220, :index 196}
{:type :ok, :f :write, :value 4, :process 3, :time 631482147, :index 197}
{:type :invoke, :f :write, :value 0, :process 9, :time 632456004, :index 198}
{:type :ok, :f :write, :value 0, :process 2, :time 636566135, :index 200}
{:type :ok, :f :write, :value 0, :process 9, :time 638350259, :index 201}
{:type :invoke, :f :read, :value nil, :process 9, :time 638473003, :index 202}
{:type :ok, :f :read, :value 0, :process 9, :time 643143790, :index 203}
{:type :invoke, :f :read, :value nil, :process 4, :time 670656847, :index 208}
{:type :ok, :f :read, :value 0, :process 4, :time 675800411, :index 209}
{:type :invoke, :f :read, :value nil, :process 5, :time 678211354, :index 212}
{:type :ok, :f :read, :value 0, :process 5, :time 685451096, :index 215}
{:type :invoke, :f :write, :value 0, :process 9, :time 694415165, :index 218}
{:type :ok, :f :write, :value 0, :process 9, :time 699604454, :index 219}
{:type :invoke, :f :read, :value nil, :process 7, :time 726657230, :index 226}
{:type :ok, :f :read, :value 0, :process 7, :time 731908304, :index 227}
{:type :invoke, :f :read, :value nil, :process 2, :time 743811303, :index 231}
{:type :ok, :f :read, :value 0, :process 2, :time 749449077, :index 233}
{:type :invoke, :f :cas, :value [4 1], :process 4, :time 754058766, :index 234}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 755694621, :index 235}
{:type :invoke, :f :read, :value nil, :process 1, :time 756903349, :index 236}
{:type :invoke, :f :read, :value nil, :process 7, :time 758163811, :index 237}
{:type :fail, :f :cas, :value [4 1], :process 4, :time 759447626, :index 238}
{:type :invoke, :f :read, :value nil, :process 0, :time 759583188, :index 239}
{:type :ok, :f :cas, :value [0 4], :process 6, :time 761515364, :index 240}
{:type :ok, :f :read, :value 4, :process 7, :time 763840783, :index 242}
{:type :ok, :f :read, :value 4, :process 1, :time 764187427, :index 243}
{:type :ok, :f :read, :value 4, :process 0, :time 764436984, :index 244}
{:type :invoke, :f :cas, :value [4 2], :process 8, :time 772523177, :index 248}
{:type :ok, :f :cas, :value [4 2], :process 8, :time 777043942, :index 249}
{:type :invoke, :f :read, :value nil, :process 3, :time 785736850, :index 250}
{:type :ok, :f :read, :value 2, :process 3, :time 791004501, :index 253}
{:type :invoke, :f :cas, :value [4 1], :process 2, :time 805697720, :index 259}
{:type :invoke, :f :write, :value 0, :process 9, :time 810885821, :index 262}
{:type :fail, :f :cas, :value [4 1], :process 2, :time 811667629, :index 263}
{:type :invoke, :f :read, :value nil, :process 7, :time 830100153, :index 268}
{:type :invoke, :f :cas, :value [2 0], :process 1, :time 831428459, :index 269}
{:type :ok, :f :read, :value 2, :process 7, :time 835119420, :index 270}
{:type :ok, :f :cas, :value [2 0], :process 1, :time 836389365, :index 271}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 840704027, :index 272}
{:type :ok, :f :cas, :value [0 1], :process 5, :time 844900009, :index 273}
{:type :invoke, :f :read, :value nil, :process 7, :time 849377404, :index 275}
{:type :ok, :f :read, :value 1, :process 7, :time 853882800, :index 277}
{:type :invoke, :f :read, :value nil, :process 3, :time 861263606, :index 279}
{:type :invoke, :f :write, :value 2, :process 0, :time 861677322, :index 280}
{:type :ok, :f :write, :value 2, :process 0, :time 868131363, :index 282}
{:type :ok, :f :read, :value 1, :process 3, :time 868392427, :index 283}
{:type :invoke, :f :read, :value nil, :process 5, :time 883159814, :index 286}
{:type :ok, :f :read, :value 2, :process 5, :time 887611425, :index 287}
{:type :invoke, :f :write, :value 1, :process 6, :time 891782112, :index 288}
{:type :ok, :f :write, :value 1, :process 6, :time 897641559, :index 290}
{:type :invoke, :f :cas, :value [1 0], :process 2, :time 907931735, :index 291}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 910318478, :index 292}
{:type :ok, :f :cas, :value [1 0], :process 2, :time 913339775, :index 293}
{:type :fail, :f :cas, :value [3 3], :process 8, :time 916216794, :index 294}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 917384265, :index 295}
{:type :ok, :f :cas, :value [0 3], :process 0, :time 921809580, :index 296}
{:type :invoke, :f :write, :value 2, :process 4, :time 955717519, :index 300}
{:type :invoke, :f :write, :value 2, :process 3, :time 960620080, :index 302}
{:type :ok, :f :write, :value 2, :process 3, :time 966357663, :index 303}
{:type :invoke, :f :read, :value nil, :process 3, :time 992607920, :index 310}
{:type :ok, :f :read, :value 2, :process 3, :time 997915463, :index 311}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 999906348, :index 312}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 1005362938, :index 314}
{:type :invoke, :f :read, :value nil, :process 2, :time 1007613663, :index 315}
{:type :invoke, :f :write, :value 0, :process 6, :time 1008634339, :index 316}
{:type :ok, :f :read, :value 2, :process 2, :time 1012630493, :index 318}
{:type :ok, :f :write, :value 0, :process 6, :time 1014117050, :index 320}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 1020878255, :index 322}
{:type :invoke, :f :write, :value 0, :process 8, :time 1022518331, :index 323}
{:type :invoke, :f :write, :value 3, :process 7, :time 1025131954, :index 324}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 1026402198, :index 325}
{:type :ok, :f :write, :value 0, :process 8, :time 1028349295, :index 326}
{:type :ok, :f :write, :value 3, :process 7, :time 1030488955, :index 327}
{:type :invoke, :f :cas, :value [2 2], :process 1, :time 1034652379, :index 328}
{:type :invoke, :f :cas, :value [2 2], :process 0, :time 1039068345, :index 329}
{:type :fail, :f :cas, :value [2 2], :process 1, :time 1040717733, :index 330}
{:type :fail, :f :cas, :value [2 2], :process 0, :time 1044527596, :index 332}
{:type :invoke, :f :write, :value 1, :process 5, :time 1057900482, :index 336}
{:type :ok, :f :write, :value 1, :process 5, :time 1063058138, :index 337}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 1065386683, :index 338}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 1071502332, :index 339}
{:type :invoke, :f :write, :value 1, :process 5, :time 1075312635, :index 341}
{:type :ok, :f :write, :value 1, :process 5, :time 1079569883, :index 342}
{:type :invoke, :f :write, :value 1, :process 3, :time 1080168683, :index 344}
{:type :ok, :f :write, :value 1, :process 3, :time 1085094306, :index 345}
{:type :invoke, :f :write, :value 0, :process 0, :time 1118791887, :index 349}
{:type :ok, :f :write, :value 0, :process 0, :time 1123450498, :index 351}
{:type :invoke, :f :cas, :value [3 3], :process 7, :time 1126744392, :index 352}
{:type :fail, :f :cas, :value [3 3], :process 7, :time 1133464864, :index 353}
{:type :invoke, :f :cas, :value [3 0], :process 2, :time 1166665583, :index 368}
{:type :fail, :f :cas, :value [3 0], :process 2, :time 1171799060, :index 369}
{:type :invoke, :f :write, :value 1, :process 8, :time 1175601105, :index 370}
{:type :ok, :f :write, :value 1, :process 8, :time 1180999036, :index 371}
{:type :invoke, :f :write, :value 1, :process 1, :time 1193973667, :index 374}
{:type :ok, :f :write, :value 1, :process 1, :time 1199367613, :index 375}
{:type :ok, :f :write, :value 0, :process 9, :time 1535167507, :index 480}
{:type :ok, :f :write, :value 2, :process 4, :time 1535451403, :index 482}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
