{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 26795722101, :index 8360}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 26797567728, :error :connect, :index 8361}
{:type :invoke, :f :cas, :value [2 0], :process 21, :time 26823312598, :index 8372}
{:type :fail, :f :cas, :value [2 0], :process 21, :time 26825011305, :error :connect, :index 8373}
{:type :invoke, :f :write, :value 0, :process 3, :time 26842487983, :index 8374}
{:type :fail, :f :write, :value 0, :process 3, :time 26844676949, :error :connect, :index 8376}
{:type :invoke, :f :write, :value 1, :process 6, :time 26877463274, :index 8384}
{:type :fail, :f :write, :value 1, :process 6, :time 26879352780, :error :connect, :index 8385}
{:type :invoke, :f :read, :value nil, :process 22, :time 26880519284, :index 8386}
{:type :fail, :f :read, :value nil, :process 22, :time 26882610070, :error :connect, :index 8388}
{:type :invoke, :f :cas, :value [2 4], :process 7, :time 26908300003, :index 8396}
{:type :fail, :f :cas, :value [2 4], :process 7, :time 26910120522, :error :connect, :index 8397}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 26915088522, :index 8398}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 26917148282, :error :connect, :index 8399}
{:type :invoke, :f :read, :value nil, :process 8, :time 26920135005, :index 8401}
{:type :fail, :f :read, :value nil, :process 8, :time 26921857693, :error :connect, :index 8404}
{:type :invoke, :f :write, :value 4, :process 29, :time 26921991447, :index 8405}
{:type :fail, :f :write, :value 4, :process 29, :time 26923472106, :error :connect, :index 8407}
{:type :invoke, :f :read, :value nil, :process 22, :time 26925277545, :index 8409}
{:type :fail, :f :read, :value nil, :process 22, :time 26927177411, :error :connect, :index 8411}
{:type :invoke, :f :read, :value nil, :process 21, :time 26932287076, :index 8414}
{:type :fail, :f :read, :value nil, :process 21, :time 26934012918, :error :connect, :index 8415}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 26945845854, :index 8416}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 26947893674, :error :connect, :index 8417}
{:type :invoke, :f :read, :value nil, :process 4, :time 26974137525, :index 8423}
{:type :fail, :f :read, :value nil, :process 4, :time 26976199982, :error :connect, :index 8425}
{:type :invoke, :f :read, :value nil, :process 6, :time 27010620995, :index 8437}
{:type :fail, :f :read, :value nil, :process 6, :time 27012589136, :error :connect, :index 8439}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 27021921379, :index 8440}
{:type :invoke, :f :cas, :value [2 2], :process 8, :time 27022148608, :index 8441}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 27023809144, :error :connect, :index 8442}
{:type :fail, :f :cas, :value [2 2], :process 8, :time 27023922431, :error :connect, :index 8443}
{:type :invoke, :f :read, :value nil, :process 7, :time 27029385737, :index 8444}
{:type :fail, :f :read, :value nil, :process 7, :time 27031468827, :error :connect, :index 8445}
{:type :invoke, :f :read, :value nil, :process 0, :time 27034175352, :index 8446}
{:type :fail, :f :read, :value nil, :process 0, :time 27036055563, :error :connect, :index 8448}
{:type :invoke, :f :cas, :value [2 0], :process 22, :time 27043430503, :index 8450}
{:type :fail, :f :cas, :value [2 0], :process 22, :time 27045277772, :error :connect, :index 8451}
{:type :invoke, :f :write, :value 1, :process 6, :time 27053849738, :index 8454}
{:type :fail, :f :write, :value 1, :process 6, :time 27055752732, :error :connect, :index 8455}
{:type :invoke, :f :read, :value nil, :process 22, :time 27063541955, :index 8458}
{:type :fail, :f :read, :value nil, :process 22, :time 27065182954, :error :connect, :index 8459}
{:type :invoke, :f :write, :value 4, :process 5, :time 27076435480, :index 8462}
{:type :fail, :f :write, :value 4, :process 5, :time 27078147783, :error :connect, :index 8465}
{:type :invoke, :f :read, :value nil, :process 0, :time 27092313198, :index 8470}
{:type :fail, :f :read, :value nil, :process 0, :time 27094075037, :error :connect, :index 8471}
{:type :invoke, :f :read, :value nil, :process 29, :time 27095729121, :index 8472}
{:type :fail, :f :read, :value nil, :process 29, :time 27097611664, :error :connect, :index 8474}
{:type :invoke, :f :cas, :value [4 4], :process 21, :time 27098316045, :index 8475}
{:type :fail, :f :cas, :value [4 4], :process 21, :time 27100175597, :error :connect, :index 8478}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 27105015233, :index 8480}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 27106881099, :error :connect, :index 8481}
{:type :invoke, :f :write, :value 0, :process 6, :time 27129143740, :index 8482}
{:type :fail, :f :write, :value 0, :process 6, :time 27131031314, :error :connect, :index 8483}
{:type :invoke, :f :cas, :value [2 0], :process 21, :time 27138443413, :index 8486}
{:type :fail, :f :cas, :value [2 0], :process 21, :time 27140646809, :error :connect, :index 8490}
{:type :invoke, :f :read, :value nil, :process 4, :time 27146445528, :index 8494}
{:type :fail, :f :read, :value nil, :process 4, :time 27148045497, :error :connect, :index 8495}
{:type :invoke, :f :read, :value nil, :process 7, :time 27175732094, :index 8500}
{:type :fail, :f :read, :value nil, :process 7, :time 27177732434, :error :connect, :index 8502}
{:type :invoke, :f :cas, :value [3 3], :process 22, :time 27201442142, :index 8510}
{:type :fail, :f :cas, :value [3 3], :process 22, :time 27203315315, :error :connect, :index 8511}
{:type :invoke, :f :read, :value nil, :process 8, :time 27204213289, :index 8512}
{:type :invoke, :f :write, :value 3, :process 3, :time 27205091832, :index 8513}
{:type :fail, :f :read, :value nil, :process 8, :time 27206366864, :error :connect, :index 8514}
{:type :fail, :f :write, :value 3, :process 3, :time 27207148857, :error :connect, :index 8515}
{:type :invoke, :f :write, :value 2, :process 7, :time 27221995929, :index 8518}
{:type :fail, :f :write, :value 2, :process 7, :time 27224041006, :error :connect, :index 8520}
{:type :invoke, :f :write, :value 0, :process 22, :time 27231579866, :index 8522}
{:type :invoke, :f :read, :value nil, :process 5, :time 27232391465, :index 8523}
{:type :fail, :f :write, :value 0, :process 22, :time 27233226991, :error :connect, :index 8524}
{:type :fail, :f :read, :value nil, :process 5, :time 27234439913, :error :connect, :index 8526}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 27237695001, :index 8528}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 27239308157, :error :connect, :index 8529}
{:type :invoke, :f :read, :value nil, :process 29, :time 27247892582, :index 8530}
{:type :fail, :f :read, :value nil, :process 29, :time 27249889153, :error :connect, :index 8531}
{:type :invoke, :f :read, :value nil, :process 21, :time 27265895739, :index 8532}
{:type :fail, :f :read, :value nil, :process 21, :time 27267799203, :error :connect, :index 8533}
{:type :invoke, :f :read, :value nil, :process 6, :time 27272312419, :index 8534}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 27272315113, :index 8535}
{:type :fail, :f :read, :value nil, :process 6, :time 27274256557, :error :connect, :index 8536}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 27274552637, :error :connect, :index 8537}
{:type :invoke, :f :cas, :value [3 1], :process 5, :time 27281569985, :index 8538}
{:type :fail, :f :cas, :value [3 1], :process 5, :time 27283387493, :error :connect, :index 8539}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 27302630715, :index 8546}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 27304295468, :error :connect, :index 8547}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 27318425904, :index 8548}
{:type :fail, :f :cas, :value [3 1], :process 3, :time 27320354906, :error :connect, :index 8549}
{:type :invoke, :f :write, :value 0, :process 4, :time 27320349923, :index 8550}
{:type :fail, :f :write, :value 0, :process 4, :time 27322413123, :error :connect, :index 8552}
{:type :invoke, :f :read, :value nil, :process 29, :time 27326153909, :index 8556}
{:type :invoke, :f :write, :value 0, :process 8, :time 27327562545, :index 8557}
{:type :fail, :f :read, :value nil, :process 29, :time 27328012729, :error :connect, :index 8558}
{:type :fail, :f :write, :value 0, :process 8, :time 27329508953, :error :connect, :index 8559}
{:type :invoke, :f :write, :value 1, :process 7, :time 27332307716, :index 8560}
{:type :fail, :f :write, :value 1, :process 7, :time 27334427319, :error :connect, :index 8562}
{:type :invoke, :f :write, :value 2, :process 21, :time 27341052844, :index 8566}
{:type :fail, :f :write, :value 2, :process 21, :time 27343020112, :error :connect, :index 8567}
{:type :invoke, :f :cas, :value [3 0], :process 3, :time 27364096182, :index 8570}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 27364285055, :index 8571}
{:type :fail, :f :cas, :value [3 3], :process 29, :time 27366252623, :error :connect, :index 8572}
{:type :fail, :f :cas, :value [3 0], :process 3, :time 27366252696, :error :connect, :index 8573}
{:type :invoke, :f :cas, :value [3 1], :process 21, :time 27374295375, :index 8579}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 27375543785, :index 8580}
{:type :fail, :f :cas, :value [3 1], :process 21, :time 27376433527, :error :connect, :index 8582}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 27377589801, :error :connect, :index 8584}
{:type :invoke, :f :read, :value nil, :process 22, :time 27385492298, :index 8586}
{:type :fail, :f :read, :value nil, :process 22, :time 27387316484, :error :connect, :index 8587}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 27419550768, :index 8590}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 27421473409, :error :connect, :index 8591}
{:type :invoke, :f :read, :value nil, :process 0, :time 27426820866, :index 8592}
{:type :fail, :f :read, :value nil, :process 0, :time 27428910273, :error :connect, :index 8593}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 27435768502, :index 8599}
{:type :fail, :f :cas, :value [1 2], :process 8, :time 27437318801, :error :connect, :index 8601}
{:type :invoke, :f :cas, :value [4 0], :process 7, :time 27445696277, :index 8602}
{:type :fail, :f :cas, :value [4 0], :process 7, :time 27447564238, :error :connect, :index 8603}
{:type :invoke, :f :write, :value 1, :process 21, :time 27451672870, :index 8604}
{:type :fail, :f :write, :value 1, :process 21, :time 27453440130, :error :connect, :index 8606}
{:type :invoke, :f :read, :value nil, :process 5, :time 27479655303, :index 8619}
{:type :fail, :f :read, :value nil, :process 5, :time 27481445700, :error :connect, :index 8621}
{:type :invoke, :f :write, :value 4, :process 8, :time 27484569198, :index 8622}
{:type :fail, :f :write, :value 4, :process 8, :time 27486575472, :error :connect, :index 8623}
{:type :invoke, :f :cas, :value [2 3], :process 29, :time 27494559392, :index 8624}
{:type :fail, :f :cas, :value [2 3], :process 29, :time 27496214212, :error :connect, :index 8625}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 27509686196, :index 8626}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 27511306984, :error :connect, :index 8628}
{:type :invoke, :f :write, :value 1, :process 7, :time 27511838735, :index 8629}
{:type :fail, :f :write, :value 1, :process 7, :time 27513707648, :error :connect, :index 8631}
{:type :invoke, :f :read, :value nil, :process 0, :time 27537075799, :index 8636}
{:type :invoke, :f :read, :value nil, :process 8, :time 27538881414, :index 8637}
{:type :fail, :f :read, :value nil, :process 0, :time 27539231537, :error :connect, :index 8638}
{:type :fail, :f :read, :value nil, :process 8, :time 27541037291, :error :connect, :index 8639}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 27542846038, :index 8640}
{:type :invoke, :f :write, :value 2, :process 0, :time 27544467705, :index 8642}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 27544687775, :error :connect, :index 8643}
{:type :fail, :f :write, :value 2, :process 0, :time 27546358909, :error :connect, :index 8644}
{:type :invoke, :f :write, :value 2, :process 22, :time 27553575377, :index 8646}
{:type :fail, :f :write, :value 2, :process 22, :time 27555213912, :error :connect, :index 8647}
{:type :invoke, :f :write, :value 4, :process 3, :time 27569735505, :index 8654}
{:type :fail, :f :write, :value 4, :process 3, :time 27571446246, :error :connect, :index 8656}
{:type :invoke, :f :write, :value 1, :process 0, :time 27584611347, :index 8660}
{:type :fail, :f :write, :value 1, :process 0, :time 27586224037, :error :connect, :index 8661}
{:type :invoke, :f :write, :value 3, :process 8, :time 27624310056, :index 8668}
{:type :fail, :f :write, :value 3, :process 8, :time 27626134692, :error :connect, :index 8669}
{:type :invoke, :f :write, :value 1, :process 29, :time 27627484243, :index 8670}
{:type :fail, :f :write, :value 1, :process 29, :time 27629313420, :error :connect, :index 8671}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 27635553214, :index 8674}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 27637531976, :error :connect, :index 8675}
{:type :invoke, :f :read, :value nil, :process 21, :time 27644712927, :index 8676}
{:type :fail, :f :read, :value nil, :process 21, :time 27646836121, :error :connect, :index 8677}
{:type :invoke, :f :read, :value nil, :process 5, :time 27650693666, :index 8678}
{:type :fail, :f :read, :value nil, :process 5, :time 27652746139, :error :connect, :index 8679}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 27672870193, :index 8684}
{:type :fail, :f :cas, :value [1 3], :process 6, :time 27674855894, :error :connect, :index 8685}
{:type :invoke, :f :write, :value 2, :process 22, :time 27676463987, :index 8687}
{:type :fail, :f :write, :value 2, :process 22, :time 27678341732, :error :connect, :index 8688}
{:type :invoke, :f :read, :value nil, :process 3, :time 27686749465, :index 8692}
{:type :invoke, :f :cas, :value [4 3], :process 7, :time 27686974056, :index 8693}
{:type :fail, :f :read, :value nil, :process 3, :time 27688487120, :error :connect, :index 8694}
{:type :fail, :f :cas, :value [4 3], :process 7, :time 27689110183, :error :connect, :index 8695}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 27693572059, :index 8698}
{:type :fail, :f :cas, :value [3 3], :process 29, :time 27695562671, :error :connect, :index 8699}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 27714395626, :index 8702}
{:type :fail, :f :cas, :value [1 2], :process 8, :time 27716043890, :error :connect, :index 8704}
{:type :invoke, :f :read, :value nil, :process 29, :time 27725830022, :index 8710}
{:type :invoke, :f :cas, :value [4 4], :process 5, :time 27726016918, :index 8711}
{:type :fail, :f :read, :value nil, :process 29, :time 27728044256, :error :connect, :index 8712}
{:type :fail, :f :cas, :value [4 4], :process 5, :time 27728044270, :error :connect, :index 8713}
{:type :invoke, :f :write, :value 1, :process 0, :time 27755484037, :index 8720}
{:type :fail, :f :write, :value 1, :process 0, :time 27757291685, :error :connect, :index 8721}
{:type :invoke, :f :read, :value nil, :process 8, :time 27766313861, :index 8722}
{:type :fail, :f :read, :value nil, :process 8, :time 27768419737, :error :connect, :index 8723}
{:type :invoke, :f :cas, :value [0 0], :process 8, :time 27773688732, :index 8724}
{:type :invoke, :f :read, :value nil, :process 3, :time 27774752146, :index 8725}
{:type :fail, :f :cas, :value [0 0], :process 8, :time 27775752529, :error :connect, :index 8726}
{:type :fail, :f :read, :value nil, :process 3, :time 27776569101, :error :connect, :index 8727}
{:type :invoke, :f :read, :value nil, :process 6, :time 27784128755, :index 8730}
{:type :fail, :f :read, :value nil, :process 6, :time 27786287506, :error :connect, :index 8731}
{:type :invoke, :f :write, :value 4, :process 21, :time 27803093403, :index 8734}
{:type :fail, :f :write, :value 4, :process 21, :time 27804802220, :error :connect, :index 8735}
{:type :invoke, :f :read, :value nil, :process 3, :time 27813837963, :index 8736}
{:type :invoke, :f :cas, :value [3 1], :process 21, :time 27814070892, :index 8737}
{:type :fail, :f :read, :value nil, :process 3, :time 27815797316, :error :connect, :index 8738}
{:type :fail, :f :cas, :value [3 1], :process 21, :time 27816070593, :error :connect, :index 8739}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 27826797983, :index 8743}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 27828840889, :error :connect, :index 8745}
{:type :invoke, :f :read, :value nil, :process 22, :time 27831678410, :index 8747}
{:type :invoke, :f :write, :value 3, :process 6, :time 27833557886, :index 8748}
{:type :fail, :f :read, :value nil, :process 22, :time 27833695479, :error :connect, :index 8749}
{:type :fail, :f :write, :value 3, :process 6, :time 27835662052, :error :connect, :index 8752}
{:type :invoke, :f :cas, :value [3 2], :process 7, :time 27840356742, :index 8754}
{:type :fail, :f :cas, :value [3 2], :process 7, :time 27842191760, :error :connect, :index 8755}
{:type :invoke, :f :cas, :value [4 3], :process 29, :time 27865347760, :index 8756}
{:type :fail, :f :cas, :value [4 3], :process 29, :time 27866977655, :error :connect, :index 8757}
{:type :invoke, :f :write, :value 2, :process 8, :time 27909022431, :index 8767}
{:type :fail, :f :write, :value 2, :process 8, :time 27911162327, :error :connect, :index 8770}
{:type :invoke, :f :read, :value nil, :process 5, :time 27914388083, :index 8772}
{:type :fail, :f :read, :value nil, :process 5, :time 27916187394, :error :connect, :index 8773}
{:type :invoke, :f :write, :value 0, :process 0, :time 27952560221, :index 8784}
{:type :fail, :f :write, :value 0, :process 0, :time 27954629698, :error :connect, :index 8786}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
