{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :invoke, :f :cas, :value [0 3], :process 24, :time 25639972542, :index 4444}
{:type :fail, :f :cas, :value [0 3], :process 24, :time 25645285292, :error :not-found, :index 4445}
{:type :invoke, :f :read, :value nil, :process 29, :time 25672450095, :index 4448}
{:type :ok, :f :read, :value nil, :process 29, :time 25678399983, :index 4449}
{:type :invoke, :f :read, :value nil, :process 23, :time 25710955088, :index 4456}
{:type :ok, :f :read, :value nil, :process 23, :time 25715827325, :index 4458}
{:type :invoke, :f :cas, :value [2 3], :process 24, :time 25733556610, :index 4463}
{:type :fail, :f :cas, :value [2 3], :process 24, :time 25738902541, :error :not-found, :index 4465}
{:type :invoke, :f :read, :value nil, :process 41, :time 25743799145, :index 4466}
{:type :invoke, :f :cas, :value [0 1], :process 20, :time 25784771056, :index 4476}
{:type :fail, :f :cas, :value [0 1], :process 20, :time 25791736569, :error :not-found, :index 4477}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :invoke, :f :read, :value nil, :process 25, :time 25838486605, :index 4480}
{:type :invoke, :f :write, :value 4, :process 29, :time 25865679210, :index 4483}
{:type :invoke, :f :cas, :value [1 3], :process 24, :time 25873164348, :index 4484}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 25880344578, :index 4486}
{:type :invoke, :f :write, :value 4, :process 20, :time 25882997542, :index 4487}
{:type :invoke, :f :write, :value 1, :process 23, :time 25900083223, :index 4488}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :invoke, :f :write, :value 4, :process 22, :time 30348458969, :index 4496}
{:type :invoke, :f :read, :value nil, :process 7, :time 30406395659, :index 4499}
{:type :fail, :f :read, :value nil, :process 41, :time 30748464323, :error :timeout, :index 4502}
{:type :invoke, :f :write, :value 0, :process 46, :time 30756109783, :index 4503}
{:type :invoke, :f :write, :value 2, :process 41, :time 30825729602, :index 4507}
{:type :fail, :f :read, :value nil, :process 25, :time 30845496843, :error :timeout, :index 4509}
{:type :invoke, :f :write, :value 2, :process 25, :time 30863760949, :index 4512}
{:type :info, :f :write, :value 4, :process 29, :time 30872030309, :error :timeout, :index 4513}
{:type :info, :f :cas, :value [1 3], :process 24, :time 30878992041, :error :timeout, :index 4514}
{:type :info, :f :cas, :value [1 2], :process 8, :time 30884925449, :error :timeout, :index 4516}
{:type :invoke, :f :write, :value 4, :process 49, :time 30888652041, :index 4517}
{:type :info, :f :write, :value 4, :process 20, :time 30888924684, :error :timeout, :index 4518}
{:type :info, :f :write, :value 1, :process 23, :time 30907315982, :error :timeout, :index 4519}
{:type :invoke, :f :read, :value nil, :process 28, :time 30919509938, :index 4521}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :invoke, :f :read, :value nil, :process 40, :time 31024889408, :index 4529}
{:type :invoke, :f :write, :value 4, :process 44, :time 31047632744, :index 4530}
{:type :invoke, :f :cas, :value [0 2], :process 43, :time 31066998254, :index 4532}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :ok, :f :read, :value 4, :process 7, :time 32033950193, :index 4534}
{:type :ok, :f :write, :value 4, :process 22, :time 32033977015, :index 4535}
{:type :ok, :f :write, :value 0, :process 46, :time 32034825224, :index 4538}
{:type :ok, :f :write, :value 2, :process 25, :time 32035378250, :index 4541}
{:type :ok, :f :write, :value 2, :process 41, :time 32035498177, :index 4542}
{:type :ok, :f :write, :value 4, :process 49, :time 32035656122, :index 4543}
{:type :ok, :f :read, :value 2, :process 40, :time 32035906074, :index 4545}
{:type :ok, :f :write, :value 4, :process 44, :time 32036299846, :index 4548}
{:type :fail, :f :cas, :value [0 2], :process 43, :time 32037108810, :index 4549}
{:type :ok, :f :read, :value 4, :process 28, :time 32037536923, :index 4552}
{:type :invoke, :f :write, :value 1, :process 28, :time 32043308657, :index 4555}
{:type :ok, :f :write, :value 1, :process 28, :time 32047635955, :index 4557}
{:type :invoke, :f :write, :value 2, :process 7, :time 32066355194, :index 4560}
{:type :invoke, :f :write, :value 1, :process 40, :time 32069095350, :index 4561}
{:type :ok, :f :write, :value 2, :process 7, :time 32070525303, :index 4562}
{:type :ok, :f :write, :value 1, :process 40, :time 32074238463, :index 4563}
{:type :invoke, :f :write, :value 4, :process 44, :time 32087160560, :index 4565}
{:type :ok, :f :write, :value 4, :process 44, :time 32092021889, :index 4568}
{:type :invoke, :f :read, :value nil, :process 7, :time 32106724822, :index 4576}
{:type :ok, :f :read, :value 4, :process 7, :time 32111016856, :index 4577}
{:type :invoke, :f :read, :value nil, :process 22, :time 32115407276, :index 4578}
{:type :ok, :f :read, :value 4, :process 22, :time 32119593196, :index 4579}
{:type :invoke, :f :cas, :value [3 0], :process 41, :time 32126034440, :index 4580}
{:type :invoke, :f :cas, :value [4 3], :process 49, :time 32130053161, :index 4581}
{:type :fail, :f :cas, :value [3 0], :process 41, :time 32131203009, :index 4582}
{:type :ok, :f :cas, :value [4 3], :process 49, :time 32135243815, :index 4583}
{:type :invoke, :f :write, :value 3, :process 46, :time 32146804027, :index 4586}
{:type :ok, :f :write, :value 3, :process 46, :time 32151169437, :index 4587}
{:type :invoke, :f :write, :value 4, :process 44, :time 32151320331, :index 4588}
{:type :ok, :f :write, :value 4, :process 44, :time 32156502513, :index 4589}
{:type :invoke, :f :cas, :value [3 4], :process 43, :time 32176231821, :index 4591}
{:type :fail, :f :cas, :value [3 4], :process 43, :time 32181297076, :index 4594}
{:type :invoke, :f :read, :value nil, :process 40, :time 32197491041, :index 4602}
{:type :ok, :f :read, :value 4, :process 40, :time 32204168529, :index 4605}
{:type :invoke, :f :read, :value nil, :process 28, :time 32211906823, :index 4608}
{:type :invoke, :f :cas, :value [1 4], :process 43, :time 32215556800, :index 4611}
{:type :ok, :f :read, :value 4, :process 28, :time 32217364990, :index 4612}
{:type :fail, :f :cas, :value [1 4], :process 43, :time 32221222028, :index 4614}
{:type :invoke, :f :cas, :value [1 1], :process 25, :time 32224008111, :index 4615}
{:type :fail, :f :cas, :value [1 1], :process 25, :time 32229326102, :index 4618}
{:type :invoke, :f :write, :value 3, :process 44, :time 32247763652, :index 4620}
{:type :ok, :f :write, :value 3, :process 44, :time 32252832539, :index 4621}
{:type :invoke, :f :write, :value 0, :process 7, :time 32272277692, :index 4626}
{:type :invoke, :f :read, :value nil, :process 40, :time 32275401387, :index 4627}
{:type :ok, :f :write, :value 0, :process 7, :time 32276628933, :index 4628}
{:type :invoke, :f :write, :value 3, :process 28, :time 32276635057, :index 4629}
{:type :invoke, :f :write, :value 0, :process 22, :time 32278894799, :index 4631}
{:type :ok, :f :read, :value 0, :process 40, :time 32280298918, :index 4633}
{:type :ok, :f :write, :value 3, :process 28, :time 32282312640, :index 4634}
{:type :ok, :f :write, :value 0, :process 22, :time 32283458862, :index 4636}
{:type :invoke, :f :cas, :value [3 2], :process 25, :time 32290587590, :index 4638}
{:type :fail, :f :cas, :value [3 2], :process 25, :time 32296297617, :index 4639}
{:type :invoke, :f :write, :value 0, :process 40, :time 32310547200, :index 4646}
{:type :ok, :f :write, :value 0, :process 40, :time 32316080144, :index 4649}
{:type :invoke, :f :read, :value nil, :process 44, :time 32318109701, :index 4651}
{:type :invoke, :f :cas, :value [0 2], :process 46, :time 32321435494, :index 4653}
{:type :ok, :f :read, :value 0, :process 44, :time 32323346236, :index 4655}
{:type :invoke, :f :cas, :value [0 3], :process 41, :time 32325467182, :index 4656}
{:type :ok, :f :cas, :value [0 2], :process 46, :time 32327617272, :index 4657}
{:type :invoke, :f :cas, :value [3 1], :process 43, :time 32328483655, :index 4659}
{:type :fail, :f :cas, :value [0 3], :process 41, :time 32329978758, :index 4660}
{:type :invoke, :f :write, :value 0, :process 49, :time 32330522327, :index 4662}
{:type :fail, :f :cas, :value [3 1], :process 43, :time 32333117924, :index 4663}
{:type :ok, :f :write, :value 0, :process 49, :time 32335342585, :index 4664}
{:type :invoke, :f :write, :value 1, :process 7, :time 32355903560, :index 4668}
{:type :ok, :f :write, :value 1, :process 7, :time 32360029268, :index 4670}
{:type :invoke, :f :write, :value 2, :process 46, :time 32368883934, :index 4673}
{:type :ok, :f :write, :value 2, :process 46, :time 32373845114, :index 4674}
{:type :invoke, :f :write, :value 3, :process 25, :time 32382571545, :index 4677}
{:type :ok, :f :write, :value 3, :process 25, :time 32389126209, :index 4679}
{:type :invoke, :f :write, :value 2, :process 22, :time 32404708428, :index 4680}
{:type :invoke, :f :write, :value 3, :process 44, :time 32409598380, :index 4682}
{:type :ok, :f :write, :value 2, :process 22, :time 32410306819, :index 4683}
{:type :ok, :f :write, :value 3, :process 44, :time 32414488231, :index 4685}
{:type :invoke, :f :cas, :value [1 2], :process 28, :time 32425583207, :index 4688}
{:type :fail, :f :cas, :value [1 2], :process 28, :time 32431033129, :index 4690}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 32432305913, :index 4692}
{:type :fail, :f :cas, :value [1 3], :process 7, :time 32436612882, :index 4693}
{:type :invoke, :f :read, :value nil, :process 43, :time 32456378874, :index 4696}
{:type :invoke, :f :read, :value nil, :process 49, :time 32460602828, :index 4698}
{:type :ok, :f :read, :value 3, :process 43, :time 32462668902, :index 4699}
{:type :ok, :f :read, :value 3, :process 49, :time 32464914395, :index 4701}
{:type :invoke, :f :read, :value nil, :process 40, :time 32465382576, :index 4702}
{:type :ok, :f :read, :value 3, :process 40, :time 32470617224, :index 4703}
{:type :invoke, :f :cas, :value [1 4], :process 41, :time 32471283209, :index 4705}
{:type :fail, :f :cas, :value [1 4], :process 41, :time 32476809777, :index 4706}
{:type :invoke, :f :read, :value nil, :process 46, :time 32483120256, :index 4709}
{:type :ok, :f :read, :value 3, :process 46, :time 32487763632, :index 4712}
{:type :invoke, :f :write, :value 0, :process 25, :time 32496382927, :index 4714}
{:type :ok, :f :write, :value 0, :process 25, :time 32501782472, :index 4715}
{:type :invoke, :f :cas, :value [1 2], :process 43, :time 32506960784, :index 4717}
{:type :fail, :f :cas, :value [1 2], :process 43, :time 32512025336, :index 4718}
{:type :invoke, :f :read, :value nil, :process 22, :time 32534552212, :index 4723}
{:type :ok, :f :read, :value 0, :process 22, :time 32538461639, :index 4725}
{:type :invoke, :f :read, :value nil, :process 25, :time 32555036946, :index 4730}
{:type :ok, :f :read, :value 0, :process 25, :time 32560182317, :index 4731}
{:type :invoke, :f :cas, :value [4 1], :process 7, :time 32569870811, :index 4732}
{:type :fail, :f :cas, :value [4 1], :process 7, :time 32574968307, :index 4734}
{:type :invoke, :f :write, :value 1, :process 28, :time 32590314685, :index 4740}
{:type :ok, :f :write, :value 1, :process 28, :time 32595299832, :index 4741}
{:type :invoke, :f :cas, :value [4 0], :process 44, :time 32612743185, :index 4748}
{:type :fail, :f :cas, :value [4 0], :process 44, :time 32618977748, :index 4750}
{:type :invoke, :f :read, :value nil, :process 49, :time 32652164782, :index 4758}
{:type :invoke, :f :cas, :value [1 2], :process 43, :time 32652290545, :index 4759}
{:type :ok, :f :read, :value 1, :process 49, :time 32658321077, :index 4763}
{:type :ok, :f :cas, :value [1 2], :process 43, :time 32658802609, :index 4764}
{:type :invoke, :f :write, :value 2, :process 46, :time 32666029541, :index 4766}
{:type :invoke, :f :cas, :value [2 2], :process 40, :time 32666855845, :index 4767}
{:type :ok, :f :write, :value 2, :process 46, :time 32671907658, :index 4768}
{:type :ok, :f :cas, :value [2 2], :process 40, :time 32672445332, :index 4769}
{:type :invoke, :f :cas, :value [0 2], :process 41, :time 32673101833, :index 4771}
{:type :invoke, :f :write, :value 0, :process 22, :time 32676723141, :index 4772}
{:type :fail, :f :cas, :value [0 2], :process 41, :time 32678712772, :index 4774}
{:type :ok, :f :write, :value 0, :process 22, :time 32681921550, :index 4776}
{:type :invoke, :f :write, :value 1, :process 28, :time 32686561848, :index 4778}
{:type :ok, :f :write, :value 1, :process 28, :time 32691561540, :index 4781}
{:type :invoke, :f :read, :value nil, :process 44, :time 32694243274, :index 4783}
{:type :ok, :f :read, :value 1, :process 44, :time 32700141671, :index 4787}
{:type :invoke, :f :write, :value 1, :process 7, :time 32741242786, :index 4798}
{:type :invoke, :f :read, :value nil, :process 49, :time 32741595830, :index 4799}
{:type :invoke, :f :cas, :value [2 1], :process 25, :time 32741994864, :index 4800}
{:type :ok, :f :read, :value 1, :process 49, :time 32747058926, :index 4804}
{:type :ok, :f :write, :value 1, :process 7, :time 32747390561, :index 4805}
{:type :invoke, :f :write, :value 2, :process 49, :time 32749303285, :index 4806}
{:type :fail, :f :cas, :value [2 1], :process 25, :time 32750237737, :index 4807}
{:type :ok, :f :write, :value 2, :process 49, :time 32754201579, :index 4809}
{:type :invoke, :f :write, :value 0, :process 43, :time 32780105104, :index 4813}
{:type :ok, :f :write, :value 0, :process 43, :time 32784432953, :index 4816}
{:type :invoke, :f :write, :value 3, :process 40, :time 32791695652, :index 4818}
{:type :ok, :f :write, :value 3, :process 40, :time 32797525982, :index 4821}
{:type :invoke, :f :cas, :value [2 1], :process 22, :time 32803204873, :index 4823}
{:type :invoke, :f :read, :value nil, :process 41, :time 32803993205, :index 4824}
{:type :fail, :f :cas, :value [2 1], :process 22, :time 32808406097, :index 4827}
{:type :ok, :f :read, :value 3, :process 41, :time 32808876779, :index 4829}
{:type :invoke, :f :read, :value nil, :process 41, :time 32819109877, :index 4833}
{:type :invoke, :f :write, :value 3, :process 25, :time 32823515685, :index 4836}
{:type :ok, :f :read, :value 3, :process 41, :time 32824021483, :index 4837}
{:type :ok, :f :write, :value 3, :process 25, :time 32828472848, :index 4840}
{:type :invoke, :f :read, :value nil, :process 28, :time 32829824606, :index 4841}
{:type :ok, :f :read, :value 3, :process 28, :time 32834245498, :index 4843}
{:type :invoke, :f :read, :value nil, :process 7, :time 32844618774, :index 4844}
{:type :ok, :f :read, :value 3, :process 7, :time 32849306416, :index 4845}
{:type :invoke, :f :write, :value 2, :process 46, :time 32852169365, :index 4846}
{:type :ok, :f :write, :value 2, :process 46, :time 32857438514, :index 4849}
{:type :invoke, :f :write, :value 1, :process 25, :time 32869733725, :index 4856}
{:type :invoke, :f :read, :value nil, :process 44, :time 32870407613, :index 4857}
{:type :ok, :f :write, :value 1, :process 25, :time 32875483011, :index 4859}
{:type :ok, :f :read, :value 1, :process 44, :time 32875687113, :index 4860}
{:type :invoke, :f :write, :value 4, :process 22, :time 32894649983, :index 4862}
{:type :ok, :f :write, :value 4, :process 22, :time 32898820829, :index 4863}
{:type :invoke, :f :write, :value 4, :process 41, :time 32901263881, :index 4864}
{:type :ok, :f :write, :value 4, :process 41, :time 32906422070, :index 4866}
{:type :invoke, :f :read, :value nil, :process 28, :time 32922494126, :index 4868}
{:type :invoke, :f :read, :value nil, :process 7, :time 32924564442, :index 4869}
{:type :ok, :f :read, :value 4, :process 28, :time 32928536613, :index 4871}
{:type :ok, :f :read, :value 4, :process 7, :time 32929335199, :index 4873}
{:type :invoke, :f :write, :value 4, :process 25, :time 32937799323, :index 4876}
{:type :ok, :f :write, :value 4, :process 25, :time 32942823040, :index 4877}
{:type :invoke, :f :write, :value 3, :process 43, :time 32946694117, :index 4879}
{:type :ok, :f :write, :value 3, :process 43, :time 32952060948, :index 4881}
{:type :invoke, :f :write, :value 2, :process 49, :time 32953458728, :index 4882}
{:type :invoke, :f :read, :value nil, :process 40, :time 32956823888, :index 4884}
{:type :ok, :f :write, :value 2, :process 49, :time 32958445775, :index 4885}
{:type :ok, :f :read, :value 2, :process 40, :time 32962420746, :index 4888}
{:type :invoke, :f :write, :value 2, :process 46, :time 33004732052, :index 4905}
{:type :ok, :f :write, :value 2, :process 46, :time 33009357411, :index 4907}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
