{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :invoke, :f :cas, :value [4 3], :process 33, :time 35291620087, :index 11656}
{:type :fail, :f :cas, :value [4 3], :process 33, :time 35293563659, :error :connect, :index 11657}
{:type :invoke, :f :write, :value 0, :process 37, :time 35313052838, :index 11660}
{:type :fail, :f :write, :value 0, :process 37, :time 35314908887, :error :connect, :index 11661}
{:type :invoke, :f :read, :value nil, :process 18, :time 35317183121, :index 11662}
{:type :fail, :f :read, :value nil, :process 18, :time 35318915445, :error :connect, :index 11663}
{:type :invoke, :f :cas, :value [0 4], :process 37, :time 35341172331, :index 11666}
{:type :fail, :f :cas, :value [0 4], :process 37, :time 35343100858, :error :connect, :index 11667}
{:type :invoke, :f :write, :value 1, :process 39, :time 35384575110, :index 11688}
{:type :fail, :f :write, :value 1, :process 39, :time 35386147527, :error :connect, :index 11691}
{:type :invoke, :f :write, :value 3, :process 34, :time 35398479274, :index 11694}
{:type :fail, :f :write, :value 3, :process 34, :time 35400297312, :error :connect, :index 11695}
{:type :invoke, :f :cas, :value [3 1], :process 37, :time 35401373388, :index 11696}
{:type :fail, :f :cas, :value [3 1], :process 37, :time 35403283954, :error :connect, :index 11697}
{:type :invoke, :f :cas, :value [1 4], :process 34, :time 35408560506, :index 11702}
{:type :fail, :f :cas, :value [1 4], :process 34, :time 35410559577, :error :connect, :index 11703}
{:type :invoke, :f :write, :value 4, :process 15, :time 35423276575, :index 11704}
{:type :invoke, :f :write, :value 4, :process 32, :time 35425233268, :index 11705}
{:type :fail, :f :write, :value 4, :process 15, :time 35425449196, :error :connect, :index 11706}
{:type :fail, :f :write, :value 4, :process 32, :time 35427249862, :error :connect, :index 11707}
{:type :invoke, :f :read, :value nil, :process 10, :time 35435361073, :index 11708}
{:type :invoke, :f :read, :value nil, :process 32, :time 35436512546, :index 11709}
{:type :fail, :f :read, :value nil, :process 10, :time 35437241406, :error :connect, :index 11710}
{:type :fail, :f :read, :value nil, :process 32, :time 35438327965, :error :connect, :index 11711}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 35448661664, :index 11712}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 35450416731, :error :connect, :index 11713}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 35452377246, :index 11714}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 35453982346, :error :connect, :index 11716}
{:type :invoke, :f :write, :value 3, :process 18, :time 35484178409, :index 11724}
{:type :fail, :f :write, :value 3, :process 18, :time 35486327501, :error :connect, :index 11725}
{:type :invoke, :f :read, :value nil, :process 33, :time 35488837803, :index 11726}
{:type :fail, :f :read, :value nil, :process 33, :time 35490649087, :error :connect, :index 11727}
{:type :invoke, :f :write, :value 1, :process 18, :time 35500588689, :index 11728}
{:type :fail, :f :write, :value 1, :process 18, :time 35502705731, :error :connect, :index 11729}
{:type :invoke, :f :read, :value nil, :process 11, :time 35532702852, :index 11739}
{:type :fail, :f :read, :value nil, :process 11, :time 35534559663, :error :connect, :index 11741}
{:type :invoke, :f :cas, :value [4 2], :process 34, :time 35534901038, :index 11742}
{:type :fail, :f :cas, :value [4 2], :process 34, :time 35536958601, :error :connect, :index 11744}
{:type :invoke, :f :write, :value 1, :process 36, :time 35562742496, :index 11757}
{:type :fail, :f :write, :value 1, :process 36, :time 35564482526, :error :connect, :index 11759}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 35566730631, :index 11760}
{:type :invoke, :f :write, :value 0, :process 34, :time 35568231925, :index 11761}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 35568773686, :error :connect, :index 11762}
{:type :fail, :f :write, :value 0, :process 34, :time 35570325808, :error :connect, :index 11763}
{:type :invoke, :f :write, :value 2, :process 32, :time 35583584682, :index 11766}
{:type :fail, :f :write, :value 2, :process 32, :time 35585214849, :error :connect, :index 11767}
{:type :invoke, :f :write, :value 3, :process 37, :time 35602592609, :index 11774}
{:type :invoke, :f :read, :value nil, :process 15, :time 35603714289, :index 11775}
{:type :fail, :f :write, :value 3, :process 37, :time 35604476345, :error :connect, :index 11776}
{:type :fail, :f :read, :value nil, :process 15, :time 35605520777, :error :connect, :index 11777}
{:type :invoke, :f :cas, :value [3 0], :process 37, :time 35606733499, :index 11778}
{:type :fail, :f :cas, :value [3 0], :process 37, :time 35608377277, :error :connect, :index 11779}
{:type :invoke, :f :write, :value 1, :process 34, :time 35611477431, :index 11780}
{:type :invoke, :f :cas, :value [4 1], :process 36, :time 35612734691, :index 11781}
{:type :fail, :f :write, :value 1, :process 34, :time 35613386466, :error :connect, :index 11782}
{:type :fail, :f :cas, :value [4 1], :process 36, :time 35614839547, :error :connect, :index 11783}
{:type :invoke, :f :write, :value 4, :process 10, :time 35618489795, :index 11784}
{:type :fail, :f :write, :value 4, :process 10, :time 35620382902, :error :connect, :index 11785}
{:type :invoke, :f :read, :value nil, :process 33, :time 35630937899, :index 11786}
{:type :fail, :f :read, :value nil, :process 33, :time 35632599329, :error :connect, :index 11787}
{:type :invoke, :f :write, :value 3, :process 39, :time 35633250807, :index 11788}
{:type :invoke, :f :write, :value 2, :process 18, :time 35634978744, :index 11789}
{:type :fail, :f :write, :value 3, :process 39, :time 35635500935, :error :connect, :index 11790}
{:type :fail, :f :write, :value 2, :process 18, :time 35636984638, :error :connect, :index 11791}
{:type :invoke, :f :write, :value 3, :process 11, :time 35639087215, :index 11793}
{:type :fail, :f :write, :value 3, :process 11, :time 35641045148, :error :connect, :index 11795}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 35641785766, :index 11796}
{:type :fail, :f :cas, :value [0 0], :process 15, :time 35643527957, :error :connect, :index 11797}
{:type :invoke, :f :read, :value nil, :process 15, :time 35645791242, :index 11798}
{:type :fail, :f :read, :value nil, :process 15, :time 35647642563, :error :connect, :index 11800}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 35671639521, :index 11802}
{:type :fail, :f :cas, :value [2 1], :process 10, :time 35673820735, :error :connect, :index 11803}
{:type :invoke, :f :read, :value nil, :process 32, :time 35675474760, :index 11804}
{:type :fail, :f :read, :value nil, :process 32, :time 35677159134, :error :connect, :index 11805}
{:type :invoke, :f :write, :value 0, :process 37, :time 35679641242, :index 11806}
{:type :fail, :f :write, :value 0, :process 37, :time 35681533828, :error :connect, :index 11807}
{:type :invoke, :f :write, :value 0, :process 15, :time 35694906007, :index 11810}
{:type :fail, :f :write, :value 0, :process 15, :time 35696802326, :error :connect, :index 11811}
{:type :invoke, :f :cas, :value [2 0], :process 37, :time 35704791004, :index 11812}
{:type :fail, :f :cas, :value [2 0], :process 37, :time 35706590799, :error :connect, :index 11813}
{:type :invoke, :f :read, :value nil, :process 37, :time 35723874216, :index 11818}
{:type :fail, :f :read, :value nil, :process 37, :time 35725985084, :error :connect, :index 11820}
{:type :invoke, :f :write, :value 0, :process 36, :time 35726257419, :index 11821}
{:type :invoke, :f :cas, :value [1 0], :process 18, :time 35726254794, :index 11822}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 35728331489, :index 11826}
{:type :fail, :f :write, :value 0, :process 36, :time 35728435718, :error :connect, :index 11827}
{:type :fail, :f :cas, :value [1 0], :process 18, :time 35728828514, :error :connect, :index 11828}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 35730518960, :error :connect, :index 11831}
{:type :invoke, :f :write, :value 0, :process 10, :time 35746084987, :index 11834}
{:type :fail, :f :write, :value 0, :process 10, :time 35748161278, :error :connect, :index 11835}
{:type :invoke, :f :read, :value nil, :process 33, :time 35752854384, :index 11836}
{:type :fail, :f :read, :value nil, :process 33, :time 35754724115, :error :connect, :index 11837}
{:type :invoke, :f :read, :value nil, :process 39, :time 35755768103, :index 11838}
{:type :fail, :f :read, :value nil, :process 39, :time 35757539742, :error :connect, :index 11839}
{:type :invoke, :f :read, :value nil, :process 33, :time 35779981233, :index 11842}
{:type :fail, :f :read, :value nil, :process 33, :time 35782070746, :error :connect, :index 11843}
{:type :invoke, :f :read, :value nil, :process 39, :time 35784699328, :index 11844}
{:type :fail, :f :read, :value nil, :process 39, :time 35786335855, :error :connect, :index 11845}
{:type :invoke, :f :read, :value nil, :process 34, :time 35800627593, :index 11848}
{:type :fail, :f :read, :value nil, :process 34, :time 35802454763, :error :connect, :index 11849}
{:type :invoke, :f :read, :value nil, :process 32, :time 35833416335, :index 11856}
{:type :fail, :f :read, :value nil, :process 32, :time 35835187785, :error :connect, :index 11858}
{:type :invoke, :f :write, :value 3, :process 37, :time 35845235753, :index 11865}
{:type :fail, :f :write, :value 3, :process 37, :time 35846872441, :error :connect, :index 11867}
{:type :invoke, :f :read, :value nil, :process 10, :time 35849430008, :index 11868}
{:type :fail, :f :read, :value nil, :process 10, :time 35851444654, :error :connect, :index 11869}
{:type :invoke, :f :cas, :value [1 2], :process 36, :time 35851705852, :index 11870}
{:type :fail, :f :cas, :value [1 2], :process 36, :time 35853644501, :error :connect, :index 11871}
{:type :invoke, :f :read, :value nil, :process 32, :time 35864471454, :index 11872}
{:type :fail, :f :read, :value nil, :process 32, :time 35866487105, :error :connect, :index 11873}
{:type :invoke, :f :cas, :value [2 4], :process 33, :time 35868332873, :index 11874}
{:type :fail, :f :cas, :value [2 4], :process 33, :time 35870187983, :error :connect, :index 11875}
{:type :invoke, :f :read, :value nil, :process 33, :time 35874465506, :index 11878}
{:type :fail, :f :read, :value nil, :process 33, :time 35876450782, :error :connect, :index 11880}
{:type :invoke, :f :write, :value 2, :process 15, :time 35888069395, :index 11883}
{:type :fail, :f :write, :value 2, :process 15, :time 35890105710, :error :connect, :index 11885}
{:type :invoke, :f :read, :value nil, :process 39, :time 35904598063, :index 11888}
{:type :fail, :f :read, :value nil, :process 39, :time 35906391275, :error :connect, :index 11889}
{:type :invoke, :f :write, :value 4, :process 33, :time 35907710746, :index 11890}
{:type :fail, :f :write, :value 4, :process 33, :time 35909544005, :error :connect, :index 11891}
{:type :invoke, :f :read, :value nil, :process 18, :time 35917081562, :index 11896}
{:type :fail, :f :read, :value nil, :process 18, :time 35918891765, :error :connect, :index 11897}
{:type :invoke, :f :write, :value 4, :process 11, :time 35926732158, :index 11900}
{:type :fail, :f :write, :value 4, :process 11, :time 35928579941, :error :connect, :index 11901}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 35960704120, :index 11908}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 35962577909, :error :connect, :index 11909}
{:type :invoke, :f :cas, :value [3 2], :process 34, :time 35965714362, :index 11910}
{:type :fail, :f :cas, :value [3 2], :process 34, :time 35967538391, :error :connect, :index 11911}
{:type :invoke, :f :write, :value 3, :process 36, :time 35967908258, :index 11912}
{:type :invoke, :f :write, :value 4, :process 15, :time 35968379176, :index 11913}
{:type :fail, :f :write, :value 3, :process 36, :time 35970007619, :error :connect, :index 11914}
{:type :fail, :f :write, :value 4, :process 15, :time 35970147764, :error :connect, :index 11915}
{:type :invoke, :f :write, :value 4, :process 34, :time 35982727893, :index 11918}
{:type :fail, :f :write, :value 4, :process 34, :time 35984704887, :error :connect, :index 11919}
{:type :invoke, :f :cas, :value [1 3], :process 33, :time 35987800471, :index 11920}
{:type :fail, :f :cas, :value [1 3], :process 33, :time 35989691268, :error :connect, :index 11921}
{:type :invoke, :f :write, :value 4, :process 15, :time 35994385264, :index 11922}
{:type :fail, :f :write, :value 4, :process 15, :time 35996207432, :error :connect, :index 11923}
{:type :invoke, :f :write, :value 3, :process 11, :time 36001840019, :index 11928}
{:type :fail, :f :write, :value 3, :process 11, :time 36003669506, :error :connect, :index 11929}
{:type :invoke, :f :write, :value 0, :process 37, :time 36007134127, :index 11930}
{:type :fail, :f :write, :value 0, :process 37, :time 36008784602, :error :connect, :index 11931}
{:type :invoke, :f :read, :value nil, :process 32, :time 36016746154, :index 11932}
{:type :fail, :f :read, :value nil, :process 32, :time 36018653651, :error :connect, :index 11933}
{:type :invoke, :f :cas, :value [4 4], :process 34, :time 36019969731, :index 11934}
{:type :fail, :f :cas, :value [4 4], :process 34, :time 36022038987, :error :connect, :index 11935}
{:type :invoke, :f :read, :value nil, :process 33, :time 36038952104, :index 11940}
{:type :fail, :f :read, :value nil, :process 33, :time 36040574578, :error :connect, :index 11941}
{:type :invoke, :f :write, :value 3, :process 32, :time 36040946346, :index 11942}
{:type :fail, :f :write, :value 3, :process 32, :time 36042786659, :error :connect, :index 11943}
{:type :invoke, :f :read, :value nil, :process 36, :time 36055275842, :index 11948}
{:type :fail, :f :read, :value nil, :process 36, :time 36057243992, :error :connect, :index 11950}
{:type :invoke, :f :read, :value nil, :process 33, :time 36063830817, :index 11952}
{:type :fail, :f :read, :value nil, :process 33, :time 36065904650, :error :connect, :index 11954}
{:type :invoke, :f :read, :value nil, :process 11, :time 36066943679, :index 11957}
{:type :fail, :f :read, :value nil, :process 11, :time 36068978884, :error :connect, :index 11960}
{:type :invoke, :f :read, :value nil, :process 34, :time 36071303093, :index 11962}
{:type :fail, :f :read, :value nil, :process 34, :time 36072868725, :error :connect, :index 11963}
{:type :invoke, :f :read, :value nil, :process 18, :time 36073160374, :index 11964}
{:type :fail, :f :read, :value nil, :process 18, :time 36074952962, :error :connect, :index 11965}
{:type :invoke, :f :cas, :value [2 2], :process 39, :time 36095670844, :index 11969}
{:type :fail, :f :cas, :value [2 2], :process 39, :time 36097663396, :error :connect, :index 11971}
{:type :invoke, :f :write, :value 1, :process 34, :time 36098128082, :index 11972}
{:type :fail, :f :write, :value 1, :process 34, :time 36099650503, :error :connect, :index 11973}
{:type :invoke, :f :read, :value nil, :process 10, :time 36104859558, :index 11974}
{:type :invoke, :f :write, :value 1, :process 18, :time 36105266464, :index 11975}
{:type :fail, :f :read, :value nil, :process 10, :time 36106950388, :error :connect, :index 11976}
{:type :fail, :f :write, :value 1, :process 18, :time 36107282326, :error :connect, :index 11977}
{:type :invoke, :f :read, :value nil, :process 11, :time 36109217497, :index 11978}
{:type :fail, :f :read, :value nil, :process 11, :time 36110858957, :error :connect, :index 11979}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :invoke, :f :read, :value nil, :process 33, :time 36136185085, :index 11991}
{:type :fail, :f :read, :value nil, :process 33, :time 36138285065, :error :connect, :index 11992}
{:type :invoke, :f :cas, :value [4 4], :process 37, :time 36139044524, :index 11993}
{:type :invoke, :f :write, :value 2, :process 18, :time 36140525334, :index 11994}
{:type :fail, :f :cas, :value [4 4], :process 37, :time 36140981193, :error :connect, :index 11995}
{:type :invoke, :f :cas, :value [1 1], :process 37, :time 36142241721, :index 11997}
{:type :fail, :f :write, :value 2, :process 18, :time 36142705242, :error :connect, :index 11998}
{:type :fail, :f :cas, :value [1 1], :process 37, :time 36144340011, :error :connect, :index 12000}
{:type :invoke, :f :write, :value 4, :process 33, :time 36144551850, :index 12001}
{:type :fail, :f :write, :value 4, :process 33, :time 36146139632, :error :connect, :index 12002}
{:type :invoke, :f :read, :value nil, :process 37, :time 36153606980, :index 12003}
{:type :fail, :f :read, :value nil, :process 37, :time 36155451082, :error :connect, :index 12004}
{:type :invoke, :f :write, :value 4, :process 11, :time 36181116706, :index 12015}
{:type :invoke, :f :read, :value nil, :process 10, :time 36182215797, :index 12016}
{:type :fail, :f :write, :value 4, :process 11, :time 36182894731, :error :connect, :index 12017}
{:type :fail, :f :read, :value nil, :process 10, :time 36184300305, :error :connect, :index 12018}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 36184479823, :index 12019}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 36186286735, :error :connect, :index 12021}
{:type :invoke, :f :read, :value nil, :process 18, :time 36197997115, :index 12025}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 36198502433, :index 12026}
{:type :fail, :f :read, :value nil, :process 18, :time 36199942005, :error :connect, :index 12027}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 36200376677, :error :connect, :index 12028}
{:type :invoke, :f :read, :value nil, :process 39, :time 36233923677, :index 12037}
{:type :fail, :f :read, :value nil, :process 39, :time 36235756169, :error :connect, :index 12039}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :invoke, :f :write, :value 1, :process 32, :time 36242049127, :index 12044}
{:type :fail, :f :write, :value 1, :process 32, :time 36243790592, :error :connect, :index 12045}
{:type :invoke, :f :write, :value 0, :process 34, :time 36291913813, :index 12058}
{:type :fail, :f :write, :value 0, :process 34, :time 36293745117, :error :connect, :index 12059}
{:type :invoke, :f :cas, :value [4 2], :process 33, :time 36318761327, :index 12073}
{:type :fail, :f :cas, :value [4 2], :process 33, :time 36320652081, :error :connect, :index 12075}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
