{:type :invoke, :f :read, :value nil, :process 13, :time 26959267, :index 0}
{:type :ok, :f :read, :value 1, :process 13, :time 32382050, :index 1}
{:type :invoke, :f :write, :value 4, :process 12, :time 44850317, :index 3}
{:type :ok, :f :write, :value 4, :process 12, :time 50298269, :index 5}
{:type :invoke, :f :write, :value 0, :process 15, :time 57128521, :index 6}
{:type :ok, :f :write, :value 0, :process 15, :time 62230516, :index 8}
{:type :invoke, :f :write, :value 0, :process 15, :time 62363418, :index 9}
{:type :invoke, :f :read, :value nil, :process 11, :time 63807034, :index 10}
{:type :ok, :f :write, :value 0, :process 15, :time 66603462, :index 12}
{:type :invoke, :f :write, :value 1, :process 17, :time 73092061, :index 13}
{:type :invoke, :f :read, :value nil, :process 13, :time 86644664, :index 16}
{:type :ok, :f :read, :value 1, :process 13, :time 92190827, :index 18}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 92770217, :index 19}
{:type :ok, :f :write, :value 1, :process 17, :time 96150195, :index 20}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 97512845, :index 21}
{:type :invoke, :f :cas, :value [3 0], :process 19, :time 107240212, :index 22}
{:type :fail, :f :cas, :value [3 0], :process 19, :time 113172236, :index 26}
{:type :invoke, :f :write, :value 4, :process 15, :time 118885491, :index 29}
{:type :invoke, :f :cas, :value [1 4], :process 18, :time 120189831, :index 30}
{:type :ok, :f :write, :value 4, :process 15, :time 124496343, :index 31}
{:type :fail, :f :cas, :value [1 4], :process 18, :time 125859592, :index 32}
{:type :invoke, :f :cas, :value [0 3], :process 19, :time 130433499, :index 34}
{:type :fail, :f :cas, :value [0 3], :process 19, :time 135262443, :index 36}
{:type :invoke, :f :write, :value 2, :process 12, :time 149558936, :index 38}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 194054850, :index 51}
{:type :invoke, :f :write, :value 1, :process 19, :time 205541863, :index 52}
{:type :invoke, :f :read, :value nil, :process 13, :time 210455259, :index 53}
{:type :ok, :f :write, :value 1, :process 19, :time 210848606, :index 54}
{:type :invoke, :f :cas, :value [2 1], :process 14, :time 211022992, :index 55}
{:type :ok, :f :read, :value 1, :process 13, :time 215981517, :index 57}
{:type :fail, :f :cas, :value [2 1], :process 14, :time 216987542, :index 58}
{:type :invoke, :f :read, :value nil, :process 15, :time 231755841, :index 60}
{:type :ok, :f :read, :value 1, :process 15, :time 236868169, :index 61}
{:type :invoke, :f :write, :value 0, :process 18, :time 244125899, :index 63}
{:type :ok, :f :write, :value 0, :process 18, :time 249276914, :index 66}
{:type :invoke, :f :read, :value nil, :process 10, :time 276769352, :index 69}
{:type :invoke, :f :write, :value 0, :process 17, :time 277421910, :index 70}
{:type :ok, :f :write, :value 2, :process 12, :time 280842522, :index 71}
{:type :ok, :f :read, :value 2, :process 10, :time 282139345, :index 74}
{:type :ok, :f :write, :value 0, :process 17, :time 283314539, :index 75}
{:type :invoke, :f :read, :value nil, :process 14, :time 298257110, :index 76}
{:type :ok, :f :read, :value 0, :process 14, :time 305060134, :index 77}
{:type :invoke, :f :write, :value 2, :process 17, :time 327564654, :index 82}
{:type :invoke, :f :read, :value nil, :process 10, :time 329392975, :index 83}
{:type :ok, :f :write, :value 2, :process 17, :time 332113360, :index 84}
{:type :ok, :f :read, :value 2, :process 10, :time 334102096, :index 85}
{:type :invoke, :f :write, :value 2, :process 18, :time 356540647, :index 90}
{:type :ok, :f :write, :value 2, :process 18, :time 361529463, :index 92}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 380128022, :index 96}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 385381908, :index 98}
{:type :invoke, :f :read, :value nil, :process 13, :time 394243549, :index 103}
{:type :ok, :f :read, :value 2, :process 13, :time 399696185, :index 105}
{:type :invoke, :f :write, :value 1, :process 19, :time 408105524, :index 107}
{:type :ok, :f :write, :value 1, :process 19, :time 414591323, :index 109}
{:type :invoke, :f :read, :value nil, :process 14, :time 426331906, :index 115}
{:type :ok, :f :read, :value 1, :process 14, :time 431472471, :index 118}
{:type :invoke, :f :cas, :value [4 4], :process 12, :time 443108070, :index 123}
{:type :fail, :f :cas, :value [4 4], :process 12, :time 448176837, :index 125}
{:type :invoke, :f :read, :value nil, :process 17, :time 453370862, :index 126}
{:type :invoke, :f :write, :value 2, :process 14, :time 453747629, :index 127}
{:type :ok, :f :write, :value 2, :process 14, :time 459029943, :index 129}
{:type :ok, :f :read, :value 2, :process 17, :time 459324549, :index 130}
{:type :invoke, :f :write, :value 3, :process 19, :time 476861674, :index 136}
{:type :ok, :f :write, :value 3, :process 19, :time 482568981, :index 137}
{:type :invoke, :f :read, :value nil, :process 10, :time 485373671, :index 139}
{:type :ok, :f :read, :value 3, :process 10, :time 490409730, :index 141}
{:type :invoke, :f :write, :value 4, :process 14, :time 501365043, :index 144}
{:type :ok, :f :write, :value 4, :process 14, :time 507890517, :index 145}
{:type :invoke, :f :write, :value 2, :process 18, :time 522788428, :index 148}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 523670878, :index 150}
{:type :invoke, :f :read, :value nil, :process 12, :time 527432271, :index 151}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 529601612, :index 153}
{:type :ok, :f :write, :value 2, :process 18, :time 529941709, :index 154}
{:type :ok, :f :read, :value 2, :process 12, :time 532286285, :index 155}
{:type :invoke, :f :read, :value nil, :process 19, :time 546727132, :index 160}
{:type :invoke, :f :write, :value 4, :process 15, :time 548680489, :index 161}
{:type :invoke, :f :write, :value 4, :process 12, :time 549539713, :index 162}
{:type :ok, :f :read, :value 2, :process 19, :time 551306155, :index 163}
{:type :ok, :f :write, :value 4, :process 15, :time 553150810, :index 164}
{:type :ok, :f :write, :value 4, :process 12, :time 554943626, :index 165}
{:type :invoke, :f :write, :value 2, :process 15, :time 569407784, :index 168}
{:type :invoke, :f :read, :value nil, :process 13, :time 572929647, :index 169}
{:type :ok, :f :write, :value 2, :process 15, :time 573921378, :index 170}
{:type :ok, :f :read, :value 2, :process 13, :time 578420966, :index 171}
{:type :ok, :f :read, :value 2, :process 11, :time 592941263, :index 176}
{:type :ok, :f :cas, :value [2 4], :process 16, :time 593709906, :index 179}
{:type :invoke, :f :write, :value 2, :process 15, :time 598193892, :index 183}
{:type :ok, :f :write, :value 2, :process 15, :time 602994253, :index 185}
{:type :invoke, :f :cas, :value [2 2], :process 17, :time 606558251, :index 186}
{:type :ok, :f :cas, :value [2 2], :process 17, :time 611408158, :index 188}
{:type :invoke, :f :write, :value 0, :process 14, :time 624155622, :index 192}
{:type :ok, :f :write, :value 0, :process 14, :time 628853771, :index 194}
{:type :invoke, :f :cas, :value [4 3], :process 17, :time 629673348, :index 195}
{:type :fail, :f :cas, :value [4 3], :process 17, :time 635781490, :index 199}
{:type :invoke, :f :cas, :value [3 4], :process 13, :time 659682682, :index 204}
{:type :invoke, :f :read, :value nil, :process 17, :time 665034565, :index 205}
{:type :fail, :f :cas, :value [3 4], :process 13, :time 665516669, :index 206}
{:type :ok, :f :read, :value 0, :process 17, :time 670567646, :index 207}
{:type :invoke, :f :write, :value 1, :process 10, :time 676844744, :index 210}
{:type :invoke, :f :write, :value 4, :process 17, :time 677370752, :index 211}
{:type :invoke, :f :cas, :value [2 0], :process 19, :time 681581692, :index 213}
{:type :ok, :f :write, :value 1, :process 10, :time 683467948, :index 214}
{:type :ok, :f :write, :value 4, :process 17, :time 686187438, :index 216}
{:type :fail, :f :cas, :value [2 0], :process 19, :time 687209035, :index 217}
{:type :invoke, :f :read, :value nil, :process 12, :time 700189819, :index 220}
{:type :invoke, :f :read, :value nil, :process 19, :time 702470995, :index 221}
{:type :ok, :f :read, :value 4, :process 12, :time 705641708, :index 222}
{:type :ok, :f :read, :value 4, :process 19, :time 706645007, :index 223}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 715177439, :index 224}
{:type :ok, :f :cas, :value [4 0], :process 18, :time 721141038, :index 225}
{:type :invoke, :f :read, :value nil, :process 12, :time 737903214, :index 228}
{:type :invoke, :f :write, :value 3, :process 17, :time 740416518, :index 229}
{:type :ok, :f :read, :value 0, :process 12, :time 742941864, :index 230}
{:type :ok, :f :write, :value 3, :process 17, :time 745661609, :index 232}
{:type :invoke, :f :read, :value nil, :process 18, :time 763409763, :index 241}
{:type :invoke, :f :read, :value nil, :process 11, :time 766213813, :index 245}
{:type :ok, :f :read, :value 3, :process 18, :time 769245952, :index 246}
{:type :ok, :f :read, :value 3, :process 11, :time 771156298, :index 247}
{:type :invoke, :f :read, :value nil, :process 12, :time 789195014, :index 251}
{:type :invoke, :f :write, :value 3, :process 16, :time 789972916, :index 252}
{:type :ok, :f :read, :value 3, :process 12, :time 794490761, :index 254}
{:type :ok, :f :write, :value 3, :process 16, :time 795325528, :index 255}
{:type :invoke, :f :write, :value 4, :process 15, :time 797245778, :index 256}
{:type :ok, :f :write, :value 4, :process 15, :time 801768381, :index 257}
{:type :invoke, :f :read, :value nil, :process 18, :time 804502882, :index 258}
{:type :ok, :f :read, :value 4, :process 18, :time 809184999, :index 260}
{:type :invoke, :f :cas, :value [3 3], :process 14, :time 809123754, :index 261}
{:type :invoke, :f :write, :value 0, :process 15, :time 815020981, :index 264}
{:type :ok, :f :write, :value 0, :process 15, :time 819181660, :index 265}
{:type :invoke, :f :read, :value nil, :process 17, :time 820037570, :index 266}
{:type :ok, :f :read, :value 0, :process 17, :time 825328693, :index 267}
{:type :invoke, :f :cas, :value [3 1], :process 11, :time 846403534, :index 274}
{:type :fail, :f :cas, :value [3 1], :process 11, :time 852045879, :index 276}
{:type :invoke, :f :read, :value nil, :process 13, :time 858727800, :index 278}
{:type :ok, :f :read, :value 0, :process 13, :time 864486044, :index 281}
{:type :invoke, :f :read, :value nil, :process 10, :time 873728307, :index 284}
{:type :ok, :f :read, :value 0, :process 10, :time 878589129, :index 285}
{:type :invoke, :f :read, :value nil, :process 19, :time 891908793, :index 289}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 945560311, :index 297}
{:type :fail, :f :cas, :value [3 2], :process 16, :time 951103298, :index 298}
{:type :invoke, :f :read, :value nil, :process 10, :time 951863077, :index 299}
{:type :ok, :f :read, :value 0, :process 10, :time 956211144, :index 301}
{:type :invoke, :f :cas, :value [1 4], :process 15, :time 968443539, :index 304}
{:type :fail, :f :cas, :value [1 4], :process 15, :time 973258047, :index 305}
{:type :invoke, :f :write, :value 1, :process 11, :time 980302905, :index 306}
{:type :invoke, :f :read, :value nil, :process 12, :time 982749062, :index 307}
{:type :ok, :f :write, :value 1, :process 11, :time 985143676, :index 308}
{:type :ok, :f :read, :value 1, :process 12, :time 987932574, :index 309}
{:type :invoke, :f :read, :value nil, :process 18, :time 1004419333, :index 313}
{:type :ok, :f :read, :value 1, :process 18, :time 1010024720, :index 317}
{:type :invoke, :f :write, :value 0, :process 17, :time 1013588039, :index 319}
{:type :ok, :f :write, :value 0, :process 17, :time 1018721555, :index 321}
{:type :invoke, :f :write, :value 3, :process 13, :time 1043745705, :index 331}
{:type :invoke, :f :cas, :value [0 0], :process 16, :time 1047358940, :index 333}
{:type :ok, :f :write, :value 3, :process 13, :time 1048739937, :index 334}
{:type :fail, :f :cas, :value [0 0], :process 16, :time 1052875434, :index 335}
{:type :invoke, :f :cas, :value [4 1], :process 13, :time 1072995799, :index 340}
{:type :fail, :f :cas, :value [4 1], :process 13, :time 1080136615, :index 343}
{:type :invoke, :f :read, :value nil, :process 11, :time 1109395969, :index 346}
{:type :ok, :f :read, :value 3, :process 11, :time 1114669196, :index 347}
{:type :invoke, :f :cas, :value [3 3], :process 12, :time 1117182612, :index 348}
{:type :ok, :f :cas, :value [3 3], :process 12, :time 1123263088, :index 350}
{:type :invoke, :f :read, :value nil, :process 15, :time 1137512815, :index 354}
{:type :invoke, :f :write, :value 2, :process 16, :time 1141140337, :index 356}
{:type :ok, :f :read, :value 3, :process 15, :time 1143283584, :index 357}
{:type :ok, :f :write, :value 2, :process 16, :time 1145891814, :index 359}
{:type :invoke, :f :write, :value 4, :process 17, :time 1145989140, :index 360}
{:type :ok, :f :write, :value 4, :process 17, :time 1150602181, :index 361}
{:type :invoke, :f :read, :value nil, :process 10, :time 1151463076, :index 362}
{:type :invoke, :f :write, :value 0, :process 18, :time 1155280146, :index 363}
{:type :ok, :f :read, :value 4, :process 10, :time 1156189527, :index 364}
{:type :ok, :f :write, :value 0, :process 18, :time 1160396675, :index 365}
{:type :invoke, :f :cas, :value [2 1], :process 15, :time 1161544054, :index 366}
{:type :fail, :f :cas, :value [2 1], :process 15, :time 1166283518, :index 367}
{:type :invoke, :f :cas, :value [1 0], :process 15, :time 1182536459, :index 372}
{:type :fail, :f :cas, :value [1 0], :process 15, :time 1187441131, :index 373}
{:type :invoke, :f :read, :value nil, :process 16, :time 1202142757, :index 377}
{:type :ok, :f :read, :value 0, :process 16, :time 1208112929, :index 379}
{:type :invoke, :f :cas, :value [0 2], :process 12, :time 1218537895, :index 384}
{:type :ok, :f :cas, :value [0 2], :process 12, :time 1223527157, :index 385}
{:type :invoke, :f :read, :value nil, :process 17, :time 1232885134, :index 386}
{:type :ok, :f :read, :value 2, :process 17, :time 1238327683, :index 387}
{:type :invoke, :f :read, :value nil, :process 16, :time 1239367735, :index 388}
{:type :invoke, :f :cas, :value [1 2], :process 13, :time 1242386821, :index 390}
{:type :ok, :f :read, :value 2, :process 16, :time 1244888933, :index 393}
{:type :fail, :f :cas, :value [1 2], :process 13, :time 1247381328, :index 394}
{:type :invoke, :f :write, :value 1, :process 18, :time 1256645336, :index 396}
{:type :invoke, :f :read, :value nil, :process 10, :time 1258444796, :index 397}
{:type :invoke, :f :read, :value nil, :process 15, :time 1259736120, :index 398}
{:type :ok, :f :write, :value 1, :process 18, :time 1262392309, :index 400}
{:type :ok, :f :read, :value 1, :process 10, :time 1262737819, :index 401}
{:type :ok, :f :read, :value 1, :process 15, :time 1264703364, :index 402}
{:type :invoke, :f :cas, :value [4 0], :process 11, :time 1294954657, :index 408}
{:type :fail, :f :cas, :value [4 0], :process 11, :time 1301153812, :index 409}
{:type :invoke, :f :write, :value 0, :process 12, :time 1323783415, :index 410}
{:type :ok, :f :write, :value 0, :process 12, :time 1329704926, :index 412}
{:type :invoke, :f :cas, :value [2 0], :process 17, :time 1386590863, :index 433}
{:type :fail, :f :cas, :value [2 0], :process 17, :time 1392640539, :index 436}
{:type :ok, :f :read, :value 0, :process 19, :time 1534827736, :index 479}
{:type :fail, :f :cas, :value [3 3], :process 14, :time 1535188046, :index 481}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
