{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :invoke, :f :write, :value 3, :process 21, :time 47260739084, :index 16324}
{:type :fail, :f :write, :value 3, :process 21, :time 47262730316, :error :connect, :index 16325}
{:type :invoke, :f :write, :value 4, :process 21, :time 47329006650, :index 16356}
{:type :fail, :f :write, :value 4, :process 21, :time 47330650679, :error :connect, :index 16358}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 47331901517, :index 16360}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 47333712500, :error :connect, :index 16361}
{:type :invoke, :f :cas, :value [1 1], :process 6, :time 47398736216, :index 16376}
{:type :fail, :f :cas, :value [1 1], :process 6, :time 47400581410, :error :connect, :index 16377}
{:type :invoke, :f :cas, :value [2 1], :process 29, :time 47411376690, :index 16380}
{:type :fail, :f :cas, :value [2 1], :process 29, :time 47413390650, :error :connect, :index 16381}
{:type :invoke, :f :cas, :value [2 1], :process 22, :time 47415630365, :index 16383}
{:type :fail, :f :cas, :value [2 1], :process 22, :time 47417431811, :error :connect, :index 16385}
{:type :invoke, :f :read, :value nil, :process 6, :time 47420850991, :index 16388}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 47421351867, :index 16389}
{:type :fail, :f :read, :value nil, :process 6, :time 47422537695, :error :connect, :index 16390}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 47423162272, :error :connect, :index 16391}
{:type :invoke, :f :write, :value 2, :process 7, :time 47433414196, :index 16392}
{:type :fail, :f :write, :value 2, :process 7, :time 47435491515, :error :connect, :index 16393}
{:type :invoke, :f :read, :value nil, :process 4, :time 47443980905, :index 16396}
{:type :fail, :f :read, :value nil, :process 4, :time 47446038998, :error :connect, :index 16397}
{:type :invoke, :f :cas, :value [2 3], :process 5, :time 47446626737, :index 16398}
{:type :fail, :f :cas, :value [2 3], :process 5, :time 47448478659, :error :connect, :index 16399}
{:type :invoke, :f :write, :value 4, :process 21, :time 47476938250, :index 16408}
{:type :fail, :f :write, :value 4, :process 21, :time 47478906077, :error :connect, :index 16409}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 47517295391, :index 16420}
{:type :invoke, :f :read, :value nil, :process 29, :time 47517672028, :index 16421}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 47519226370, :error :connect, :index 16422}
{:type :fail, :f :read, :value nil, :process 29, :time 47519510111, :error :connect, :index 16423}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 47533877852, :index 16428}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 47535884472, :error :connect, :index 16429}
{:type :invoke, :f :read, :value nil, :process 3, :time 47542136878, :index 16432}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 47543752915, :index 16433}
{:type :fail, :f :read, :value nil, :process 3, :time 47543870782, :error :connect, :index 16434}
{:type :invoke, :f :cas, :value [0 1], :process 4, :time 47545537450, :index 16435}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 47545872008, :error :connect, :index 16436}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 47546164683, :index 16437}
{:type :fail, :f :cas, :value [0 1], :process 4, :time 47547366637, :error :connect, :index 16438}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 47548012002, :error :connect, :index 16439}
{:type :invoke, :f :write, :value 1, :process 0, :time 47552280468, :index 16440}
{:type :fail, :f :write, :value 1, :process 0, :time 47554054434, :error :connect, :index 16441}
{:type :invoke, :f :read, :value nil, :process 5, :time 47554130456, :index 16442}
{:type :fail, :f :read, :value nil, :process 5, :time 47555932083, :error :connect, :index 16443}
{:type :invoke, :f :read, :value nil, :process 4, :time 47565630186, :index 16446}
{:type :invoke, :f :read, :value nil, :process 5, :time 47566383644, :index 16448}
{:type :fail, :f :read, :value nil, :process 4, :time 47567807764, :error :connect, :index 16450}
{:type :fail, :f :read, :value nil, :process 5, :time 47568218145, :error :connect, :index 16451}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 47572365819, :index 16453}
{:type :fail, :f :cas, :value [1 2], :process 8, :time 47574276168, :error :connect, :index 16456}
{:type :invoke, :f :write, :value 0, :process 6, :time 47578810423, :index 16458}
{:type :fail, :f :write, :value 0, :process 6, :time 47580936522, :error :connect, :index 16459}
{:type :invoke, :f :read, :value nil, :process 5, :time 47587448994, :index 16461}
{:type :fail, :f :read, :value nil, :process 5, :time 47589481550, :error :connect, :index 16463}
{:type :invoke, :f :read, :value nil, :process 22, :time 47595721589, :index 16466}
{:type :fail, :f :read, :value nil, :process 22, :time 47597613064, :error :connect, :index 16467}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 47611346841, :index 16472}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 47613138624, :error :connect, :index 16473}
{:type :invoke, :f :read, :value nil, :process 6, :time 47617195936, :index 16474}
{:type :fail, :f :read, :value nil, :process 6, :time 47619041540, :error :connect, :index 16475}
{:type :invoke, :f :read, :value nil, :process 7, :time 47620757100, :index 16476}
{:type :fail, :f :read, :value nil, :process 7, :time 47622382958, :error :connect, :index 16477}
{:type :invoke, :f :read, :value nil, :process 21, :time 47631189437, :index 16480}
{:type :fail, :f :read, :value nil, :process 21, :time 47633052757, :error :connect, :index 16481}
{:type :invoke, :f :write, :value 3, :process 0, :time 47636398391, :index 16482}
{:type :fail, :f :write, :value 3, :process 0, :time 47638354220, :error :connect, :index 16483}
{:type :invoke, :f :cas, :value [3 1], :process 8, :time 47639526250, :index 16484}
{:type :fail, :f :cas, :value [3 1], :process 8, :time 47641279197, :error :connect, :index 16485}
{:type :invoke, :f :write, :value 3, :process 4, :time 47686028071, :index 16496}
{:type :fail, :f :write, :value 3, :process 4, :time 47687826773, :error :connect, :index 16497}
{:type :invoke, :f :read, :value nil, :process 21, :time 47704316068, :index 16500}
{:type :fail, :f :read, :value nil, :process 21, :time 47706245222, :error :connect, :index 16503}
{:type :invoke, :f :read, :value nil, :process 29, :time 47706778589, :index 16504}
{:type :fail, :f :read, :value nil, :process 29, :time 47708765331, :error :connect, :index 16505}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 47708753014, :index 16506}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 47710844471, :error :connect, :index 16508}
{:type :invoke, :f :write, :value 4, :process 0, :time 47714618751, :index 16510}
{:type :invoke, :f :write, :value 0, :process 4, :time 47716092629, :index 16511}
{:type :fail, :f :write, :value 4, :process 0, :time 47716701761, :error :connect, :index 16512}
{:type :fail, :f :write, :value 0, :process 4, :time 47718113466, :error :connect, :index 16513}
{:type :invoke, :f :read, :value nil, :process 8, :time 47729543145, :index 16514}
{:type :fail, :f :read, :value nil, :process 8, :time 47731206414, :error :connect, :index 16515}
{:type :invoke, :f :read, :value nil, :process 7, :time 47731649589, :index 16516}
{:type :invoke, :f :write, :value 1, :process 3, :time 47733119346, :index 16517}
{:type :fail, :f :read, :value nil, :process 7, :time 47733372180, :error :connect, :index 16518}
{:type :invoke, :f :read, :value nil, :process 6, :time 47734338298, :index 16520}
{:type :fail, :f :write, :value 1, :process 3, :time 47735122865, :error :connect, :index 16521}
{:type :fail, :f :read, :value nil, :process 6, :time 47735999667, :error :connect, :index 16524}
{:type :invoke, :f :read, :value nil, :process 6, :time 47762243790, :index 16533}
{:type :fail, :f :read, :value nil, :process 6, :time 47764118684, :error :connect, :index 16535}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 47788877377, :index 16538}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 47790907051, :error :connect, :index 16540}
{:type :invoke, :f :cas, :value [2 0], :process 29, :time 47813052922, :index 16547}
{:type :fail, :f :cas, :value [2 0], :process 29, :time 47814907955, :error :connect, :index 16549}
{:type :invoke, :f :write, :value 4, :process 22, :time 47832198113, :index 16556}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 47833382664, :index 16557}
{:type :fail, :f :write, :value 4, :process 22, :time 47834124138, :error :connect, :index 16558}
{:type :invoke, :f :write, :value 3, :process 0, :time 47834964080, :index 16559}
{:type :fail, :f :cas, :value [0 1], :process 6, :time 47835635594, :error :connect, :index 16560}
{:type :fail, :f :write, :value 3, :process 0, :time 47836943567, :error :connect, :index 16561}
{:type :invoke, :f :read, :value nil, :process 4, :time 47843373150, :index 16562}
{:type :fail, :f :read, :value nil, :process 4, :time 47845157475, :error :connect, :index 16563}
{:type :invoke, :f :write, :value 2, :process 5, :time 47848111302, :index 16564}
{:type :fail, :f :write, :value 2, :process 5, :time 47850586936, :error :connect, :index 16567}
{:type :invoke, :f :read, :value nil, :process 3, :time 47851389024, :index 16568}
{:type :fail, :f :read, :value nil, :process 3, :time 47853406552, :error :connect, :index 16569}
{:type :invoke, :f :read, :value nil, :process 4, :time 47858440810, :index 16570}
{:type :fail, :f :read, :value nil, :process 4, :time 47860258413, :error :connect, :index 16571}
{:type :invoke, :f :write, :value 3, :process 8, :time 47861480847, :index 16573}
{:type :fail, :f :write, :value 3, :process 8, :time 47863485586, :error :connect, :index 16575}
{:type :invoke, :f :read, :value nil, :process 7, :time 47868611766, :index 16576}
{:type :fail, :f :read, :value nil, :process 7, :time 47870445609, :error :connect, :index 16577}
{:type :invoke, :f :cas, :value [4 3], :process 21, :time 47875506474, :index 16579}
{:type :fail, :f :cas, :value [4 3], :process 21, :time 47877113592, :error :connect, :index 16581}
{:type :invoke, :f :write, :value 0, :process 22, :time 47883383613, :index 16582}
{:type :fail, :f :write, :value 0, :process 22, :time 47885220888, :error :connect, :index 16583}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 47913520803, :index 16588}
{:type :invoke, :f :write, :value 0, :process 8, :time 47914744711, :index 16589}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 47915556896, :error :connect, :index 16590}
{:type :fail, :f :write, :value 0, :process 8, :time 47916910682, :error :connect, :index 16592}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 47926166688, :index 16594}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 47928087415, :error :connect, :index 16595}
{:type :invoke, :f :cas, :value [3 0], :process 29, :time 47930182525, :index 16596}
{:type :invoke, :f :cas, :value [1 0], :process 7, :time 47931648234, :index 16597}
{:type :fail, :f :cas, :value [3 0], :process 29, :time 47932042805, :error :connect, :index 16598}
{:type :fail, :f :cas, :value [1 0], :process 7, :time 47933704670, :error :connect, :index 16599}
{:type :invoke, :f :cas, :value [2 4], :process 7, :time 47957966434, :index 16604}
{:type :fail, :f :cas, :value [2 4], :process 7, :time 47959725577, :error :connect, :index 16606}
{:type :invoke, :f :write, :value 0, :process 21, :time 47972355872, :index 16608}
{:type :fail, :f :write, :value 0, :process 21, :time 47974208533, :error :connect, :index 16609}
{:type :invoke, :f :cas, :value [2 1], :process 5, :time 47981883298, :index 16612}
{:type :fail, :f :cas, :value [2 1], :process 5, :time 47984009461, :error :connect, :index 16613}
{:type :invoke, :f :cas, :value [1 3], :process 22, :time 47986483249, :index 16614}
{:type :fail, :f :cas, :value [1 3], :process 22, :time 47988198204, :error :connect, :index 16615}
{:type :invoke, :f :write, :value 1, :process 6, :time 48008903500, :index 16624}
{:type :fail, :f :write, :value 1, :process 6, :time 48010870617, :error :connect, :index 16625}
{:type :invoke, :f :read, :value nil, :process 6, :time 48024135214, :index 16632}
{:type :fail, :f :read, :value nil, :process 6, :time 48026088087, :error :connect, :index 16633}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 48027204721, :index 16634}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 48029258317, :error :connect, :index 16635}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 48046697311, :index 16639}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 48048730341, :error :connect, :index 16641}
{:type :invoke, :f :read, :value nil, :process 8, :time 48055357225, :index 16642}
{:type :fail, :f :read, :value nil, :process 8, :time 48056997756, :error :connect, :index 16643}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 48058832933, :index 16644}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 48060627116, :error :connect, :index 16645}
{:type :invoke, :f :read, :value nil, :process 21, :time 48081469401, :index 16648}
{:type :fail, :f :read, :value nil, :process 21, :time 48083134175, :error :connect, :index 16649}
{:type :invoke, :f :read, :value nil, :process 29, :time 48087311478, :index 16652}
{:type :fail, :f :read, :value nil, :process 29, :time 48089315176, :error :connect, :index 16653}
{:type :invoke, :f :write, :value 1, :process 22, :time 48103461931, :index 16656}
{:type :fail, :f :write, :value 1, :process 22, :time 48105178079, :error :connect, :index 16658}
{:type :invoke, :f :write, :value 1, :process 7, :time 48114992020, :index 16662}
{:type :fail, :f :write, :value 1, :process 7, :time 48116811523, :error :connect, :index 16663}
{:type :invoke, :f :cas, :value [2 1], :process 7, :time 48127063866, :index 16666}
{:type :fail, :f :cas, :value [2 1], :process 7, :time 48128938999, :error :connect, :index 16668}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 48141896706, :index 16674}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 48143480597, :error :connect, :index 16675}
{:type :invoke, :f :read, :value nil, :process 3, :time 48150000967, :index 16679}
{:type :fail, :f :read, :value nil, :process 3, :time 48152134108, :error :connect, :index 16682}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 48163346389, :index 16684}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 48165419599, :error :connect, :index 16685}
{:type :invoke, :f :read, :value nil, :process 22, :time 48166437909, :index 16686}
{:type :fail, :f :read, :value nil, :process 22, :time 48168324489, :error :connect, :index 16687}
{:type :invoke, :f :write, :value 3, :process 5, :time 48171277217, :index 16688}
{:type :invoke, :f :read, :value nil, :process 7, :time 48173213679, :index 16689}
{:type :fail, :f :write, :value 3, :process 5, :time 48173407523, :error :connect, :index 16690}
{:type :fail, :f :read, :value nil, :process 7, :time 48175118288, :error :connect, :index 16691}
{:type :invoke, :f :write, :value 1, :process 4, :time 48185311942, :index 16694}
{:type :fail, :f :write, :value 1, :process 4, :time 48186903944, :error :connect, :index 16695}
{:type :invoke, :f :write, :value 0, :process 22, :time 48188586533, :index 16696}
{:type :fail, :f :write, :value 0, :process 22, :time 48190567293, :error :connect, :index 16697}
{:type :invoke, :f :write, :value 2, :process 0, :time 48220539287, :index 16708}
{:type :fail, :f :write, :value 2, :process 0, :time 48222553340, :error :connect, :index 16709}
{:type :invoke, :f :cas, :value [2 2], :process 22, :time 48233862193, :index 16710}
{:type :fail, :f :cas, :value [2 2], :process 22, :time 48235717170, :error :connect, :index 16711}
{:type :invoke, :f :cas, :value [0 4], :process 29, :time 48241578332, :index 16712}
{:type :fail, :f :cas, :value [0 4], :process 29, :time 48243573092, :error :connect, :index 16714}
{:type :invoke, :f :cas, :value [3 4], :process 8, :time 48244261917, :index 16716}
{:type :fail, :f :cas, :value [3 4], :process 8, :time 48246363483, :error :connect, :index 16719}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 48258806545, :index 16720}
{:type :invoke, :f :write, :value 0, :process 21, :time 48259389719, :index 16721}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 48260842525, :error :connect, :index 16722}
{:type :fail, :f :write, :value 0, :process 21, :time 48261154498, :error :connect, :index 16723}
{:type :invoke, :f :read, :value nil, :process 3, :time 48261386589, :index 16724}
{:type :fail, :f :read, :value nil, :process 3, :time 48263421929, :error :connect, :index 16725}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 48297841742, :index 16732}
{:type :fail, :f :cas, :value [3 3], :process 29, :time 48299650432, :error :connect, :index 16733}
{:type :invoke, :f :read, :value nil, :process 7, :time 48311380776, :index 16734}
{:type :invoke, :f :cas, :value [0 1], :process 0, :time 48313113067, :index 16735}
{:type :fail, :f :read, :value nil, :process 7, :time 48313578700, :error :connect, :index 16736}
{:type :fail, :f :cas, :value [0 1], :process 0, :time 48315300665, :error :connect, :index 16737}
{:type :invoke, :f :cas, :value [3 1], :process 5, :time 48334650863, :index 16744}
{:type :fail, :f :cas, :value [3 1], :process 5, :time 48336268297, :error :connect, :index 16746}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 48338624764, :index 16749}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 48340645999, :error :connect, :index 16750}
{:type :invoke, :f :read, :value nil, :process 22, :time 48343018151, :index 16752}
{:type :fail, :f :read, :value nil, :process 22, :time 48345071675, :error :connect, :index 16754}
{:type :invoke, :f :write, :value 0, :process 6, :time 48364701264, :index 16763}
{:type :fail, :f :write, :value 0, :process 6, :time 48366466562, :error :connect, :index 16765}
{:type :invoke, :f :read, :value nil, :process 4, :time 48386168480, :index 16774}
{:type :fail, :f :read, :value nil, :process 4, :time 48388210389, :error :connect, :index 16775}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
