{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :invoke, :f :write, :value 2, :process 3, :time 24750738781, :index 7546}
{:type :fail, :f :write, :value 2, :process 3, :time 24752286835, :error :connect, :index 7549}
{:type :invoke, :f :write, :value 2, :process 5, :time 24802450960, :index 7562}
{:type :fail, :f :write, :value 2, :process 5, :time 24804232031, :error :connect, :index 7563}
{:type :invoke, :f :write, :value 4, :process 5, :time 24806490358, :index 7564}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 24808288517, :index 7565}
{:type :fail, :f :write, :value 4, :process 5, :time 24808412709, :error :connect, :index 7566}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 24810351671, :error :connect, :index 7567}
{:type :invoke, :f :cas, :value [2 2], :process 29, :time 24812292946, :index 7568}
{:type :fail, :f :cas, :value [2 2], :process 29, :time 24814359897, :error :connect, :index 7570}
{:type :invoke, :f :write, :value 2, :process 8, :time 24878388426, :index 7592}
{:type :fail, :f :write, :value 2, :process 8, :time 24880448899, :error :connect, :index 7593}
{:type :invoke, :f :write, :value 2, :process 3, :time 24881519161, :index 7594}
{:type :fail, :f :write, :value 2, :process 3, :time 24883625904, :error :connect, :index 7595}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 24899063882, :index 7596}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 24901206782, :error :connect, :index 7597}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 24901316530, :index 7598}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 24903220109, :error :connect, :index 7599}
{:type :invoke, :f :cas, :value [3 0], :process 22, :time 24909785842, :index 7600}
{:type :fail, :f :cas, :value [3 0], :process 22, :time 24911715018, :error :connect, :index 7601}
{:type :invoke, :f :read, :value nil, :process 7, :time 24928459801, :index 7606}
{:type :fail, :f :read, :value nil, :process 7, :time 24930179590, :error :connect, :index 7607}
{:type :invoke, :f :cas, :value [2 2], :process 4, :time 24934483300, :index 7608}
{:type :fail, :f :cas, :value [2 2], :process 4, :time 24936168747, :error :connect, :index 7609}
{:type :invoke, :f :read, :value nil, :process 0, :time 24954620459, :index 7616}
{:type :invoke, :f :cas, :value [0 0], :process 5, :time 24954670805, :index 7617}
{:type :fail, :f :read, :value nil, :process 0, :time 24956491360, :error :connect, :index 7618}
{:type :fail, :f :cas, :value [0 0], :process 5, :time 24956695980, :error :connect, :index 7619}
{:type :invoke, :f :write, :value 4, :process 0, :time 24960778767, :index 7620}
{:type :fail, :f :write, :value 4, :process 0, :time 24962824198, :error :connect, :index 7621}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 24964437927, :index 7622}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 24966680238, :error :connect, :index 7626}
{:type :invoke, :f :write, :value 4, :process 8, :time 24968727572, :index 7628}
{:type :invoke, :f :read, :value nil, :process 29, :time 24970639521, :index 7629}
{:type :fail, :f :write, :value 4, :process 8, :time 24970829716, :error :connect, :index 7630}
{:type :fail, :f :read, :value nil, :process 29, :time 24972479612, :error :connect, :index 7631}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 24972900722, :index 7633}
{:type :fail, :f :cas, :value [4 4], :process 3, :time 24974719216, :error :connect, :index 7635}
{:type :invoke, :f :write, :value 2, :process 21, :time 24991889534, :index 7642}
{:type :fail, :f :write, :value 2, :process 21, :time 24993800868, :error :connect, :index 7643}
{:type :invoke, :f :write, :value 4, :process 4, :time 25001968343, :index 7650}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 25006092192, :index 7652}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 25007968336, :error :connect, :index 7654}
{:type :fail, :f :write, :value 4, :process 4, :time 25009149715, :error :connect, :index 7655}
{:type :invoke, :f :write, :value 4, :process 22, :time 25013980544, :index 7656}
{:type :fail, :f :write, :value 4, :process 22, :time 25015841050, :error :connect, :index 7657}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 25017489294, :index 7658}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 25019110834, :error :connect, :index 7659}
{:type :invoke, :f :write, :value 2, :process 0, :time 25044239593, :index 7668}
{:type :fail, :f :write, :value 2, :process 0, :time 25046067767, :error :connect, :index 7669}
{:type :invoke, :f :write, :value 0, :process 5, :time 25055958272, :index 7670}
{:type :fail, :f :write, :value 0, :process 5, :time 25057929410, :error :connect, :index 7671}
{:type :invoke, :f :read, :value nil, :process 5, :time 25066202487, :index 7672}
{:type :fail, :f :read, :value nil, :process 5, :time 25068288386, :error :connect, :index 7673}
{:type :invoke, :f :read, :value nil, :process 29, :time 25109741585, :index 7680}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 25111398168, :index 7681}
{:type :fail, :f :read, :value nil, :process 29, :time 25111871443, :error :connect, :index 7682}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 25113642048, :error :connect, :index 7683}
{:type :invoke, :f :read, :value nil, :process 22, :time 25116099684, :index 7684}
{:type :fail, :f :read, :value nil, :process 22, :time 25117970159, :error :connect, :index 7685}
{:type :invoke, :f :write, :value 1, :process 7, :time 25119439776, :index 7686}
{:type :fail, :f :write, :value 1, :process 7, :time 25121296203, :error :connect, :index 7687}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 25138089895, :index 7696}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 25139949717, :error :connect, :index 7697}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 25140077173, :index 7698}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 25141730923, :error :connect, :index 7700}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 25145978068, :index 7702}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 25147586213, :error :connect, :index 7703}
{:type :invoke, :f :read, :value nil, :process 4, :time 25158913018, :index 7704}
{:type :fail, :f :read, :value nil, :process 4, :time 25160818865, :error :connect, :index 7705}
{:type :invoke, :f :write, :value 4, :process 4, :time 25173077893, :index 7710}
{:type :fail, :f :write, :value 4, :process 4, :time 25174620280, :error :connect, :index 7711}
{:type :invoke, :f :write, :value 1, :process 0, :time 25175340122, :index 7712}
{:type :fail, :f :write, :value 1, :process 0, :time 25177172563, :error :connect, :index 7713}
{:type :invoke, :f :write, :value 3, :process 5, :time 25199600571, :index 7716}
{:type :fail, :f :write, :value 3, :process 5, :time 25201420104, :error :connect, :index 7717}
{:type :invoke, :f :read, :value nil, :process 6, :time 25213378041, :index 7719}
{:type :fail, :f :read, :value nil, :process 6, :time 25215667077, :error :connect, :index 7721}
{:type :invoke, :f :write, :value 2, :process 21, :time 25218219260, :index 7723}
{:type :fail, :f :write, :value 2, :process 21, :time 25220195045, :error :connect, :index 7725}
{:type :invoke, :f :read, :value nil, :process 4, :time 25228900219, :index 7728}
{:type :fail, :f :read, :value nil, :process 4, :time 25230727452, :error :connect, :index 7729}
{:type :invoke, :f :cas, :value [3 3], :process 21, :time 25250469503, :index 7732}
{:type :fail, :f :cas, :value [3 3], :process 21, :time 25252193724, :error :connect, :index 7733}
{:type :invoke, :f :cas, :value [4 1], :process 7, :time 25269567523, :index 7738}
{:type :fail, :f :cas, :value [4 1], :process 7, :time 25271414567, :error :connect, :index 7739}
{:type :invoke, :f :write, :value 2, :process 22, :time 25273236324, :index 7740}
{:type :fail, :f :write, :value 2, :process 22, :time 25275081358, :error :connect, :index 7741}
{:type :invoke, :f :cas, :value [0 4], :process 29, :time 25303140928, :index 7750}
{:type :fail, :f :cas, :value [0 4], :process 29, :time 25305138836, :error :connect, :index 7752}
{:type :invoke, :f :cas, :value [3 4], :process 8, :time 25316984418, :index 7754}
{:type :fail, :f :cas, :value [3 4], :process 8, :time 25318623145, :error :connect, :index 7755}
{:type :invoke, :f :read, :value nil, :process 21, :time 25327460483, :index 7758}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 25328447751, :index 7761}
{:type :fail, :f :read, :value nil, :process 21, :time 25329503434, :error :connect, :index 7762}
{:type :invoke, :f :write, :value 3, :process 3, :time 25329862064, :index 7763}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 25330346221, :error :connect, :index 7764}
{:type :fail, :f :write, :value 3, :process 3, :time 25331813069, :error :connect, :index 7765}
{:type :invoke, :f :read, :value nil, :process 29, :time 25339304069, :index 7766}
{:type :invoke, :f :write, :value 2, :process 6, :time 25340016791, :index 7767}
{:type :fail, :f :write, :value 2, :process 6, :time 25342053424, :error :connect, :index 7769}
{:type :fail, :f :read, :value nil, :process 29, :time 25342095390, :error :connect, :index 7770}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 25357682126, :index 7773}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 25359507268, :error :connect, :index 7775}
{:type :invoke, :f :read, :value nil, :process 21, :time 25376761790, :index 7782}
{:type :fail, :f :read, :value nil, :process 21, :time 25378653094, :error :connect, :index 7783}
{:type :invoke, :f :read, :value nil, :process 8, :time 25395905229, :index 7784}
{:type :fail, :f :read, :value nil, :process 8, :time 25397531013, :error :connect, :index 7785}
{:type :invoke, :f :write, :value 3, :process 4, :time 25405986514, :index 7786}
{:type :fail, :f :write, :value 3, :process 4, :time 25407869780, :error :connect, :index 7789}
{:type :invoke, :f :write, :value 0, :process 0, :time 25416654806, :index 7792}
{:type :fail, :f :write, :value 0, :process 0, :time 25418805433, :error :connect, :index 7794}
{:type :invoke, :f :cas, :value [3 0], :process 3, :time 25442481531, :index 7800}
{:type :fail, :f :cas, :value [3 0], :process 3, :time 25444171137, :error :connect, :index 7801}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 25447689537, :index 7803}
{:type :fail, :f :cas, :value [1 3], :process 7, :time 25449551561, :error :connect, :index 7805}
{:type :invoke, :f :write, :value 4, :process 22, :time 25457362830, :index 7806}
{:type :fail, :f :write, :value 4, :process 22, :time 25459231095, :error :connect, :index 7807}
{:type :invoke, :f :write, :value 4, :process 22, :time 25461503738, :index 7808}
{:type :fail, :f :write, :value 4, :process 22, :time 25463363732, :error :connect, :index 7809}
{:type :invoke, :f :read, :value nil, :process 29, :time 25482355667, :index 7813}
{:type :fail, :f :read, :value nil, :process 29, :time 25484414212, :error :connect, :index 7815}
{:type :invoke, :f :read, :value nil, :process 4, :time 25489131762, :index 7816}
{:type :fail, :f :read, :value nil, :process 4, :time 25490641200, :error :connect, :index 7817}
{:type :invoke, :f :cas, :value [2 1], :process 5, :time 25503768637, :index 7820}
{:type :fail, :f :cas, :value [2 1], :process 5, :time 25505834419, :error :connect, :index 7821}
{:type :invoke, :f :read, :value nil, :process 21, :time 25513954250, :index 7822}
{:type :fail, :f :read, :value nil, :process 21, :time 25515723738, :error :connect, :index 7823}
{:type :invoke, :f :write, :value 4, :process 6, :time 25527337725, :index 7824}
{:type :fail, :f :write, :value 4, :process 6, :time 25529192862, :error :connect, :index 7825}
{:type :invoke, :f :write, :value 0, :process 3, :time 25534383104, :index 7828}
{:type :fail, :f :write, :value 0, :process 3, :time 25536035324, :error :connect, :index 7829}
{:type :invoke, :f :read, :value nil, :process 5, :time 25538101913, :index 7830}
{:type :fail, :f :read, :value nil, :process 5, :time 25539856770, :error :connect, :index 7831}
{:type :invoke, :f :write, :value 2, :process 8, :time 25556792811, :index 7842}
{:type :fail, :f :write, :value 2, :process 8, :time 25558857020, :error :connect, :index 7843}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 25559120532, :index 7844}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 25560691383, :error :connect, :index 7846}
{:type :invoke, :f :write, :value 2, :process 29, :time 25564652434, :index 7848}
{:type :fail, :f :write, :value 2, :process 29, :time 25566794465, :error :connect, :index 7849}
{:type :invoke, :f :read, :value nil, :process 21, :time 25595980321, :index 7858}
{:type :invoke, :f :write, :value 3, :process 3, :time 25596305635, :index 7859}
{:type :fail, :f :read, :value nil, :process 21, :time 25597731235, :error :connect, :index 7860}
{:type :fail, :f :write, :value 3, :process 3, :time 25598349685, :error :connect, :index 7861}
{:type :invoke, :f :read, :value nil, :process 6, :time 25600460973, :index 7862}
{:type :fail, :f :read, :value nil, :process 6, :time 25602271762, :error :connect, :index 7863}
{:type :invoke, :f :read, :value nil, :process 0, :time 25605090283, :index 7864}
{:type :fail, :f :read, :value nil, :process 0, :time 25607173586, :error :connect, :index 7865}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 25607837267, :index 7867}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 25609811206, :error :connect, :index 7870}
{:type :invoke, :f :write, :value 2, :process 5, :time 25614952145, :index 7874}
{:type :fail, :f :write, :value 2, :process 5, :time 25616939305, :error :connect, :index 7875}
{:type :invoke, :f :cas, :value [4 1], :process 5, :time 25620195243, :index 7876}
{:type :fail, :f :cas, :value [4 1], :process 5, :time 25621991583, :error :connect, :index 7877}
{:type :invoke, :f :cas, :value [2 3], :process 22, :time 25632661401, :index 7878}
{:type :fail, :f :cas, :value [2 3], :process 22, :time 25634766373, :error :connect, :index 7879}
{:type :invoke, :f :read, :value nil, :process 29, :time 25644058918, :index 7885}
{:type :fail, :f :read, :value nil, :process 29, :time 25645778013, :error :connect, :index 7887}
{:type :invoke, :f :cas, :value [4 1], :process 4, :time 25687927625, :index 7896}
{:type :fail, :f :cas, :value [4 1], :process 4, :time 25689746898, :error :connect, :index 7897}
{:type :invoke, :f :read, :value nil, :process 29, :time 25696064324, :index 7900}
{:type :fail, :f :read, :value nil, :process 29, :time 25697863767, :error :connect, :index 7901}
{:type :invoke, :f :read, :value nil, :process 8, :time 25699116389, :index 7902}
{:type :invoke, :f :read, :value nil, :process 5, :time 25700256545, :index 7903}
{:type :fail, :f :read, :value nil, :process 8, :time 25700833557, :error :connect, :index 7904}
{:type :fail, :f :read, :value nil, :process 5, :time 25702368813, :error :connect, :index 7905}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 25726011279, :index 7918}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 25727909563, :error :connect, :index 7919}
{:type :invoke, :f :write, :value 0, :process 22, :time 25746048732, :index 7925}
{:type :fail, :f :write, :value 0, :process 22, :time 25747752161, :error :connect, :index 7927}
{:type :invoke, :f :write, :value 2, :process 6, :time 25759556392, :index 7928}
{:type :fail, :f :write, :value 2, :process 6, :time 25761626013, :error :connect, :index 7929}
{:type :invoke, :f :write, :value 4, :process 8, :time 25773108765, :index 7932}
{:type :fail, :f :write, :value 4, :process 8, :time 25774953643, :error :connect, :index 7933}
{:type :invoke, :f :read, :value nil, :process 21, :time 25777890429, :index 7934}
{:type :fail, :f :read, :value nil, :process 21, :time 25779744328, :error :connect, :index 7935}
{:type :invoke, :f :cas, :value [3 3], :process 3, :time 25782597221, :index 7938}
{:type :fail, :f :cas, :value [3 3], :process 3, :time 25784483156, :error :connect, :index 7939}
{:type :invoke, :f :read, :value nil, :process 21, :time 25786006336, :index 7940}
{:type :fail, :f :read, :value nil, :process 21, :time 25787847476, :error :connect, :index 7941}
{:type :invoke, :f :write, :value 2, :process 0, :time 25788435671, :index 7942}
{:type :fail, :f :write, :value 2, :process 0, :time 25790064417, :error :connect, :index 7943}
{:type :invoke, :f :write, :value 1, :process 7, :time 25790132456, :index 7944}
{:type :fail, :f :write, :value 1, :process 7, :time 25791776574, :error :connect, :index 7945}
{:type :invoke, :f :read, :value nil, :process 4, :time 25793205149, :index 7946}
{:type :fail, :f :read, :value nil, :process 4, :time 25794990435, :error :connect, :index 7947}
{:type :invoke, :f :write, :value 1, :process 22, :time 25814029184, :index 7954}
{:type :fail, :f :write, :value 1, :process 22, :time 25815958041, :error :connect, :index 7956}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :invoke, :f :read, :value nil, :process 29, :time 25837127515, :index 7960}
{:type :fail, :f :read, :value nil, :process 29, :time 25838715623, :error :connect, :index 7962}
{:type :invoke, :f :read, :value nil, :process 3, :time 25848752768, :index 7969}
{:type :fail, :f :read, :value nil, :process 3, :time 25850486064, :error :connect, :index 7971}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 25877631448, :index 7979}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 25879678724, :error :connect, :index 7980}
{:type :invoke, :f :write, :value 4, :process 8, :time 25889227163, :index 7981}
{:type :fail, :f :write, :value 4, :process 8, :time 25891171989, :error :connect, :index 7982}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 25920892006, :index 7991}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 25922761361, :error :connect, :index 7992}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :invoke, :f :write, :value 4, :process 21, :time 25933106688, :index 7996}
{:type :fail, :f :write, :value 4, :process 21, :time 25934995128, :error :connect, :index 7998}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
