{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :invoke, :f :read, :value nil, :process 6, :time 55048628653, :index 8614}
{:type :ok, :f :read, :value nil, :process 6, :time 55053660367, :index 8617}
{:type :invoke, :f :cas, :value [3 0], :process 6, :time 55080920543, :index 8625}
{:type :fail, :f :cas, :value [3 0], :process 6, :time 55086387432, :error :not-found, :index 8627}
{:type :invoke, :f :read, :value nil, :process 67, :time 55135604784, :index 8636}
{:type :invoke, :f :read, :value nil, :process 21, :time 55135925684, :index 8637}
{:type :ok, :f :read, :value nil, :process 21, :time 55140737644, :index 8638}
{:type :ok, :f :read, :value nil, :process 67, :time 55141571220, :index 8639}
{:type :invoke, :f :read, :value nil, :process 4, :time 55161701916, :index 8649}
{:type :ok, :f :read, :value nil, :process 4, :time 55166943645, :index 8652}
{:type :invoke, :f :write, :value 4, :process 40, :time 55178711023, :index 8655}
{:type :invoke, :f :cas, :value [3 2], :process 65, :time 55182561542, :index 8656}
{:type :ok, :f :write, :value 4, :process 40, :time 55183872936, :index 8657}
{:type :fail, :f :cas, :value [3 2], :process 65, :time 55188386794, :index 8660}
{:type :invoke, :f :read, :value nil, :process 21, :time 55204990912, :index 8665}
{:type :invoke, :f :cas, :value [3 2], :process 23, :time 55205556767, :index 8666}
{:type :ok, :f :read, :value 4, :process 21, :time 55209357821, :index 8668}
{:type :fail, :f :cas, :value [3 2], :process 23, :time 55210985084, :index 8669}
{:type :invoke, :f :write, :value 4, :process 67, :time 55214820789, :index 8670}
{:type :ok, :f :write, :value 4, :process 67, :time 55219192586, :index 8671}
{:type :invoke, :f :write, :value 2, :process 21, :time 55224606570, :index 8672}
{:type :invoke, :f :cas, :value [4 2], :process 48, :time 55226627348, :index 8673}
{:type :ok, :f :write, :value 2, :process 21, :time 55229524758, :index 8674}
{:type :fail, :f :cas, :value [4 2], :process 48, :time 55232587619, :index 8678}
{:type :invoke, :f :write, :value 3, :process 4, :time 55238201148, :index 8684}
{:type :invoke, :f :write, :value 4, :process 82, :time 55243043611, :index 8688}
{:type :ok, :f :write, :value 3, :process 4, :time 55243194999, :index 8689}
{:type :ok, :f :write, :value 4, :process 82, :time 55247485601, :index 8692}
{:type :invoke, :f :write, :value 4, :process 65, :time 55251644091, :index 8694}
{:type :ok, :f :write, :value 4, :process 65, :time 55257128168, :index 8696}
{:type :invoke, :f :read, :value nil, :process 6, :time 55284641396, :index 8702}
{:type :invoke, :f :write, :value 3, :process 82, :time 55286747445, :index 8703}
{:type :ok, :f :read, :value 4, :process 6, :time 55289164147, :index 8704}
{:type :ok, :f :write, :value 3, :process 82, :time 55291167516, :index 8705}
{:type :invoke, :f :read, :value nil, :process 4, :time 55291436056, :index 8706}
{:type :ok, :f :read, :value 3, :process 4, :time 55296342139, :index 8708}
{:type :invoke, :f :cas, :value [2 3], :process 40, :time 55297136427, :index 8709}
{:type :fail, :f :cas, :value [2 3], :process 40, :time 55302490336, :index 8712}
{:type :invoke, :f :cas, :value [4 2], :process 69, :time 55321712006, :index 8716}
{:type :invoke, :f :cas, :value [0 4], :process 82, :time 55322452339, :index 8717}
{:type :fail, :f :cas, :value [4 2], :process 69, :time 55327266384, :index 8718}
{:type :fail, :f :cas, :value [0 4], :process 82, :time 55327848653, :index 8719}
{:type :invoke, :f :cas, :value [0 1], :process 67, :time 55330453934, :index 8721}
{:type :fail, :f :cas, :value [0 1], :process 67, :time 55336309958, :index 8724}
{:type :invoke, :f :read, :value nil, :process 23, :time 55344238738, :index 8730}
{:type :invoke, :f :read, :value nil, :process 48, :time 55350911152, :index 8733}
{:type :ok, :f :read, :value 3, :process 23, :time 55351138069, :index 8734}
{:type :ok, :f :read, :value 3, :process 48, :time 55356115055, :index 8735}
{:type :invoke, :f :read, :value nil, :process 65, :time 55366451370, :index 8737}
{:type :ok, :f :read, :value 3, :process 65, :time 55371697761, :index 8740}
{:type :invoke, :f :write, :value 2, :process 21, :time 55373778625, :index 8741}
{:type :ok, :f :write, :value 2, :process 21, :time 55378417536, :index 8743}
{:type :invoke, :f :cas, :value [4 4], :process 65, :time 55378971723, :index 8744}
{:type :fail, :f :cas, :value [4 4], :process 65, :time 55384126766, :index 8745}
{:type :invoke, :f :write, :value 4, :process 23, :time 55421393910, :index 8750}
{:type :ok, :f :write, :value 4, :process 23, :time 55426142237, :index 8751}
{:type :invoke, :f :write, :value 4, :process 67, :time 55435572223, :index 8756}
{:type :ok, :f :write, :value 4, :process 67, :time 55440164567, :index 8758}
{:type :invoke, :f :write, :value 3, :process 40, :time 55454753304, :index 8762}
{:type :ok, :f :write, :value 3, :process 40, :time 55460267679, :index 8764}
{:type :invoke, :f :write, :value 2, :process 82, :time 55460390688, :index 8765}
{:type :ok, :f :write, :value 2, :process 82, :time 55465479650, :index 8766}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 55474596579, :index 8769}
{:type :invoke, :f :write, :value 4, :process 6, :time 55475728035, :index 8771}
{:type :ok, :f :cas, :value [2 1], :process 4, :time 55480018928, :index 8772}
{:type :ok, :f :write, :value 4, :process 6, :time 55480208459, :index 8773}
{:type :invoke, :f :cas, :value [3 0], :process 69, :time 55497532453, :index 8777}
{:type :fail, :f :cas, :value [3 0], :process 69, :time 55502754883, :index 8780}
{:type :invoke, :f :read, :value nil, :process 23, :time 55516403499, :index 8786}
{:type :ok, :f :read, :value 4, :process 23, :time 55521068624, :index 8787}
{:type :invoke, :f :cas, :value [1 3], :process 48, :time 55529376106, :index 8789}
{:type :invoke, :f :read, :value nil, :process 82, :time 55533786545, :index 8792}
{:type :fail, :f :cas, :value [1 3], :process 48, :time 55534768226, :index 8793}
{:type :ok, :f :read, :value 4, :process 82, :time 55538823902, :index 8795}
{:type :invoke, :f :write, :value 0, :process 21, :time 55550672204, :index 8796}
{:type :ok, :f :write, :value 0, :process 21, :time 55555291029, :index 8798}
{:type :invoke, :f :read, :value nil, :process 23, :time 55573333955, :index 8801}
{:type :invoke, :f :write, :value 4, :process 65, :time 55583405537, :index 8803}
{:type :ok, :f :read, :value 0, :process 23, :time 55584146218, :index 8804}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 55584461905, :index 8805}
{:type :invoke, :f :write, :value 0, :process 67, :time 55584490750, :index 8806}
{:type :invoke, :f :cas, :value [2 0], :process 40, :time 55586540161, :index 8807}
{:type :ok, :f :write, :value 4, :process 65, :time 55588499063, :index 8808}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 55591456708, :index 8810}
{:type :ok, :f :write, :value 0, :process 67, :time 55591737809, :index 8811}
{:type :fail, :f :cas, :value [2 0], :process 40, :time 55593892760, :index 8812}
{:type :invoke, :f :cas, :value [0 3], :process 48, :time 55621029426, :index 8816}
{:type :invoke, :f :write, :value 0, :process 4, :time 55623303882, :index 8817}
{:type :ok, :f :cas, :value [0 3], :process 48, :time 55626305965, :index 8818}
{:type :ok, :f :write, :value 0, :process 4, :time 55628545792, :index 8819}
{:type :invoke, :f :write, :value 1, :process 82, :time 55655078234, :index 8823}
{:type :ok, :f :write, :value 1, :process 82, :time 55663430485, :index 8826}
{:type :invoke, :f :read, :value nil, :process 6, :time 55664712122, :index 8828}
{:type :ok, :f :read, :value 1, :process 6, :time 55668687477, :index 8829}
{:type :invoke, :f :write, :value 0, :process 6, :time 55668796903, :index 8831}
{:type :invoke, :f :read, :value nil, :process 65, :time 55671760416, :index 8834}
{:type :ok, :f :write, :value 0, :process 6, :time 55673842800, :index 8835}
{:type :ok, :f :read, :value 0, :process 65, :time 55676553088, :index 8841}
{:type :invoke, :f :write, :value 0, :process 69, :time 55682024206, :index 8844}
{:type :ok, :f :write, :value 0, :process 69, :time 55686466251, :index 8845}
{:type :invoke, :f :cas, :value [3 3], :process 48, :time 55686569291, :index 8846}
{:type :fail, :f :cas, :value [3 3], :process 48, :time 55691848127, :index 8847}
{:type :invoke, :f :write, :value 3, :process 48, :time 55700107049, :index 8848}
{:type :ok, :f :write, :value 3, :process 48, :time 55705571376, :index 8849}
{:type :invoke, :f :write, :value 3, :process 21, :time 55728561428, :index 8858}
{:type :ok, :f :write, :value 3, :process 21, :time 55733553203, :index 8859}
{:type :invoke, :f :write, :value 2, :process 65, :time 55736785314, :index 8862}
{:type :invoke, :f :read, :value nil, :process 21, :time 55740808652, :index 8863}
{:type :ok, :f :write, :value 2, :process 65, :time 55742233541, :index 8864}
{:type :ok, :f :read, :value 2, :process 21, :time 55746856274, :index 8866}
{:type :invoke, :f :read, :value nil, :process 23, :time 55751433548, :index 8870}
{:type :ok, :f :read, :value 2, :process 23, :time 55756383341, :index 8873}
{:type :invoke, :f :write, :value 2, :process 69, :time 55766723043, :index 8876}
{:type :invoke, :f :read, :value nil, :process 40, :time 55768170648, :index 8877}
{:type :ok, :f :write, :value 2, :process 69, :time 55772893625, :index 8878}
{:type :invoke, :f :cas, :value [2 3], :process 67, :time 55773973255, :index 8879}
{:type :ok, :f :read, :value 2, :process 40, :time 55774787982, :index 8880}
{:type :ok, :f :cas, :value [2 3], :process 67, :time 55780838343, :index 8881}
{:type :invoke, :f :write, :value 3, :process 4, :time 55790801284, :index 8885}
{:type :ok, :f :write, :value 3, :process 4, :time 55796333525, :index 8887}
{:type :invoke, :f :read, :value nil, :process 82, :time 55813682567, :index 8888}
{:type :ok, :f :read, :value 3, :process 82, :time 55818235413, :index 8890}
{:type :invoke, :f :cas, :value [4 4], :process 48, :time 55818836936, :index 8891}
{:type :fail, :f :cas, :value [4 4], :process 48, :time 55824068823, :index 8893}
{:type :invoke, :f :read, :value nil, :process 21, :time 55843182232, :index 8904}
{:type :ok, :f :read, :value 3, :process 21, :time 55848869796, :index 8906}
{:type :invoke, :f :read, :value nil, :process 6, :time 55853107692, :index 8908}
{:type :ok, :f :read, :value 3, :process 6, :time 55857657214, :index 8909}
{:type :invoke, :f :write, :value 3, :process 82, :time 55865500550, :index 8910}
{:type :ok, :f :write, :value 3, :process 82, :time 55870079435, :index 8911}
{:type :invoke, :f :read, :value nil, :process 4, :time 55871588599, :index 8912}
{:type :invoke, :f :read, :value nil, :process 23, :time 55872637956, :index 8913}
{:type :ok, :f :read, :value 3, :process 4, :time 55877561898, :index 8914}
{:type :ok, :f :read, :value 3, :process 23, :time 55877797793, :index 8915}
{:type :invoke, :f :read, :value nil, :process 40, :time 55897046721, :index 8920}
{:type :ok, :f :read, :value 3, :process 40, :time 55902152968, :index 8921}
{:type :invoke, :f :read, :value nil, :process 4, :time 55911858096, :index 8922}
{:type :invoke, :f :write, :value 4, :process 48, :time 55912334443, :index 8923}
{:type :ok, :f :read, :value 3, :process 4, :time 55917420978, :index 8924}
{:type :ok, :f :write, :value 4, :process 48, :time 55917689415, :index 8925}
{:type :invoke, :f :cas, :value [3 2], :process 67, :time 55921101037, :index 8926}
{:type :fail, :f :cas, :value [3 2], :process 67, :time 55926412883, :index 8927}
{:type :invoke, :f :cas, :value [3 4], :process 65, :time 55936502508, :index 8935}
{:type :invoke, :f :cas, :value [4 0], :process 82, :time 55937347575, :index 8936}
{:type :fail, :f :cas, :value [3 4], :process 65, :time 55942594995, :index 8940}
{:type :ok, :f :cas, :value [4 0], :process 82, :time 55944315760, :index 8941}
{:type :invoke, :f :read, :value nil, :process 67, :time 55954665262, :index 8942}
{:type :invoke, :f :write, :value 2, :process 69, :time 55956159460, :index 8943}
{:type :ok, :f :read, :value 0, :process 67, :time 55959595681, :index 8945}
{:type :ok, :f :write, :value 2, :process 69, :time 55962428899, :index 8947}
{:type :invoke, :f :cas, :value [1 3], :process 65, :time 55980848661, :index 8950}
{:type :fail, :f :cas, :value [1 3], :process 65, :time 55986763590, :index 8951}
{:type :invoke, :f :read, :value nil, :process 69, :time 56007674597, :index 8957}
{:type :ok, :f :read, :value 2, :process 69, :time 56012893981, :index 8959}
{:type :invoke, :f :cas, :value [0 4], :process 65, :time 56014042145, :index 8961}
{:type :invoke, :f :write, :value 2, :process 23, :time 56019066636, :index 8962}
{:type :fail, :f :cas, :value [0 4], :process 65, :time 56020023554, :index 8963}
{:type :invoke, :f :read, :value nil, :process 65, :time 56020162271, :index 8964}
{:type :invoke, :f :read, :value nil, :process 40, :time 56020395311, :index 8965}
{:type :ok, :f :write, :value 2, :process 23, :time 56024429758, :index 8967}
{:type :ok, :f :read, :value 2, :process 65, :time 56026065269, :index 8970}
{:type :ok, :f :read, :value 2, :process 40, :time 56026735503, :index 8971}
{:type :invoke, :f :write, :value 2, :process 65, :time 56030319001, :index 8972}
{:type :invoke, :f :write, :value 1, :process 67, :time 56032858145, :index 8976}
{:type :ok, :f :write, :value 2, :process 65, :time 56035982173, :index 8977}
{:type :invoke, :f :write, :value 1, :process 21, :time 56038138434, :index 8978}
{:type :ok, :f :write, :value 1, :process 21, :time 56042871822, :index 8979}
{:type :invoke, :f :write, :value 1, :process 6, :time 56049916085, :index 8980}
{:type :ok, :f :write, :value 1, :process 6, :time 56054553005, :index 8981}
{:type :invoke, :f :write, :value 1, :process 4, :time 56054711395, :index 8982}
{:type :ok, :f :write, :value 1, :process 4, :time 56059791482, :index 8984}
{:type :invoke, :f :cas, :value [3 3], :process 82, :time 56071571760, :index 8990}
{:type :invoke, :f :read, :value nil, :process 48, :time 56089930715, :index 8993}
{:type :ok, :f :read, :value 1, :process 48, :time 56095612244, :index 8995}
{:type :invoke, :f :write, :value 1, :process 21, :time 56102041866, :index 8999}
{:type :ok, :f :write, :value 1, :process 21, :time 56106201463, :index 9002}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 56136050437, :index 9008}
{:type :invoke, :f :write, :value 2, :process 65, :time 56139269199, :index 9011}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 56143854427, :index 9013}
{:type :ok, :f :write, :value 2, :process 65, :time 56145723898, :index 9015}
{:type :invoke, :f :write, :value 4, :process 69, :time 56154199620, :index 9016}
{:type :invoke, :f :write, :value 4, :process 40, :time 56154978700, :index 9017}
{:type :ok, :f :write, :value 4, :process 69, :time 56159120474, :index 9018}
{:type :invoke, :f :read, :value nil, :process 6, :time 56160787945, :index 9019}
{:type :ok, :f :write, :value 4, :process 40, :time 56161502176, :index 9020}
{:type :ok, :f :read, :value 4, :process 6, :time 56165382406, :index 9021}
{:type :invoke, :f :cas, :value [0 2], :process 65, :time 56173972501, :index 9025}
{:type :fail, :f :cas, :value [0 2], :process 65, :time 56179130915, :index 9027}
{:type :invoke, :f :cas, :value [1 0], :process 23, :time 56180694904, :index 9028}
{:type :fail, :f :cas, :value [1 0], :process 23, :time 56185759187, :index 9029}
{:type :invoke, :f :write, :value 1, :process 21, :time 56188452887, :index 9030}
{:type :ok, :f :write, :value 1, :process 21, :time 56193007481, :index 9031}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 56197122174, :index 9032}
{:type :ok, :f :cas, :value [1 0], :process 4, :time 56202080405, :index 9033}
{:type :invoke, :f :cas, :value [2 2], :process 69, :time 56236389939, :index 9036}
{:type :fail, :f :cas, :value [2 2], :process 69, :time 56242363128, :index 9038}
{:type :invoke, :f :read, :value nil, :process 48, :time 56268852382, :index 9048}
{:type :ok, :f :read, :value 0, :process 48, :time 56455245652, :index 9068}
{:type :ok, :f :write, :value 1, :process 67, :time 56529205599, :index 9098}
{:type :fail, :f :cas, :value [3 3], :process 82, :time 56529993267, :index 9100}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
