{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :invoke, :f :read, :value nil, :process 14, :time 10923002097, :index 2765}
{:type :ok, :f :read, :value nil, :process 14, :time 10930678900, :index 2769}
{:type :invoke, :f :write, :value 0, :process 13, :time 10932790895, :index 2771}
{:type :ok, :f :write, :value 0, :process 13, :time 10937675147, :index 2773}
{:type :invoke, :f :write, :value 0, :process 18, :time 10961696954, :index 2779}
{:type :ok, :f :write, :value 0, :process 18, :time 10966648327, :index 2782}
{:type :invoke, :f :read, :value nil, :process 11, :time 10995045905, :index 2785}
{:type :invoke, :f :cas, :value [2 0], :process 14, :time 10995937973, :index 2786}
{:type :ok, :f :read, :value 0, :process 11, :time 11001304907, :index 2788}
{:type :fail, :f :cas, :value [2 0], :process 14, :time 11002416976, :index 2789}
{:type :invoke, :f :write, :value 4, :process 18, :time 11007908671, :index 2791}
{:type :ok, :f :write, :value 4, :process 18, :time 11012742791, :index 2793}
{:type :invoke, :f :cas, :value [2 1], :process 14, :time 11014736715, :index 2794}
{:type :invoke, :f :cas, :value [4 3], :process 13, :time 11014975776, :index 2795}
{:type :ok, :f :cas, :value [4 3], :process 13, :time 11019677328, :index 2796}
{:type :fail, :f :cas, :value [2 1], :process 14, :time 11021195844, :index 2797}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 11043596543, :index 2799}
{:type :fail, :f :cas, :value [2 0], :process 16, :time 11049528197, :index 2802}
{:type :invoke, :f :read, :value nil, :process 19, :time 11056852950, :index 2805}
{:type :ok, :f :read, :value 3, :process 19, :time 11061673168, :index 2807}
{:type :invoke, :f :cas, :value [1 4], :process 11, :time 11078565446, :index 2810}
{:type :fail, :f :cas, :value [1 4], :process 11, :time 11083838794, :index 2811}
{:type :invoke, :f :write, :value 0, :process 11, :time 11125099858, :index 2818}
{:type :ok, :f :write, :value 0, :process 11, :time 11131057672, :index 2819}
{:type :invoke, :f :read, :value nil, :process 14, :time 11155457392, :index 2823}
{:type :ok, :f :read, :value 0, :process 14, :time 11160589798, :index 2825}
{:type :invoke, :f :read, :value nil, :process 19, :time 11181921994, :index 2826}
{:type :ok, :f :read, :value 0, :process 19, :time 11186942988, :index 2827}
{:type :invoke, :f :cas, :value [0 1], :process 18, :time 11196996213, :index 2829}
{:type :ok, :f :cas, :value [0 1], :process 18, :time 11202866925, :index 2831}
{:type :invoke, :f :write, :value 4, :process 13, :time 11205960510, :index 2832}
{:type :invoke, :f :cas, :value [2 1], :process 14, :time 11208885685, :index 2833}
{:type :ok, :f :write, :value 4, :process 13, :time 11210199446, :index 2834}
{:type :fail, :f :cas, :value [2 1], :process 14, :time 11214790457, :index 2835}
{:type :invoke, :f :read, :value nil, :process 16, :time 11235784902, :index 2841}
{:type :invoke, :f :cas, :value [4 1], :process 14, :time 11278054056, :index 2844}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 11278334951, :index 2845}
{:type :invoke, :f :write, :value 3, :process 13, :time 11317465399, :index 2846}
{:type :invoke, :f :read, :value nil, :process 19, :time 11319214653, :index 2848}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 11351125101, :index 2850}
{:type :ok, :f :write, :value 3, :process 13, :time 12536831605, :index 2853}
{:type :ok, :f :read, :value 4, :process 16, :time 12537420371, :index 2854}
{:type :fail, :f :cas, :value [0 3], :process 18, :time 12537479055, :index 2855}
{:type :ok, :f :read, :value 3, :process 19, :time 12539593330, :index 2863}
{:type :invoke, :f :write, :value 3, :process 13, :time 12541097655, :index 2870}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 12541850977, :index 2871}
{:type :ok, :f :cas, :value [4 1], :process 14, :time 12542236543, :index 2873}
{:type :ok, :f :write, :value 3, :process 13, :time 12546089707, :index 2875}
{:type :invoke, :f :read, :value nil, :process 18, :time 12580803950, :index 2876}
{:type :ok, :f :read, :value 3, :process 18, :time 12586029904, :index 2877}
{:type :invoke, :f :write, :value 0, :process 37, :time 12607175260, :index 2884}
{:type :invoke, :f :cas, :value [4 0], :process 12, :time 12608282404, :index 2885}
{:type :invoke, :f :write, :value 1, :process 13, :time 12619341657, :index 2888}
{:type :ok, :f :write, :value 1, :process 13, :time 12624250132, :index 2890}
{:type :invoke, :f :read, :value nil, :process 13, :time 12639502069, :index 2897}
{:type :invoke, :f :read, :value nil, :process 30, :time 12642912438, :index 2899}
{:type :ok, :f :read, :value 1, :process 13, :time 12644336381, :index 2900}
{:type :ok, :f :read, :value 1, :process 30, :time 12648287670, :index 2902}
{:type :invoke, :f :cas, :value [3 2], :process 35, :time 12662463409, :index 2906}
{:type :fail, :f :cas, :value [3 2], :process 35, :time 12668361803, :index 2907}
{:type :invoke, :f :cas, :value [3 3], :process 18, :time 12693314792, :index 2908}
{:type :invoke, :f :cas, :value [4 1], :process 35, :time 12696622278, :index 2909}
{:type :fail, :f :cas, :value [3 3], :process 18, :time 12698688655, :index 2910}
{:type :invoke, :f :write, :value 2, :process 14, :time 12700907724, :index 2911}
{:type :fail, :f :cas, :value [4 1], :process 35, :time 12702488545, :index 2912}
{:type :invoke, :f :cas, :value [4 1], :process 35, :time 12702620909, :index 2913}
{:type :ok, :f :write, :value 2, :process 14, :time 12706596015, :index 2915}
{:type :fail, :f :cas, :value [4 1], :process 35, :time 12707994629, :index 2916}
{:type :invoke, :f :cas, :value [4 1], :process 11, :time 12712171283, :index 2918}
{:type :fail, :f :cas, :value [4 1], :process 11, :time 12717180360, :index 2920}
{:type :invoke, :f :write, :value 4, :process 19, :time 12718853158, :index 2922}
{:type :invoke, :f :read, :value nil, :process 16, :time 12722657894, :index 2923}
{:type :ok, :f :write, :value 4, :process 19, :time 12724263199, :index 2924}
{:type :ok, :f :read, :value 4, :process 16, :time 12727882852, :index 2926}
{:type :invoke, :f :read, :value nil, :process 11, :time 12740438489, :index 2929}
{:type :ok, :f :read, :value 4, :process 11, :time 12744931436, :index 2931}
{:type :invoke, :f :read, :value nil, :process 30, :time 12759536056, :index 2937}
{:type :ok, :f :read, :value 4, :process 30, :time 12764966619, :index 2939}
{:type :invoke, :f :read, :value nil, :process 30, :time 12776213452, :index 2940}
{:type :invoke, :f :read, :value nil, :process 13, :time 12779598103, :index 2942}
{:type :ok, :f :read, :value 4, :process 30, :time 12781978007, :index 2943}
{:type :ok, :f :read, :value 4, :process 13, :time 12784422397, :index 2945}
{:type :fail, :f :cas, :value [4 0], :process 12, :time 12837532962, :index 2949}
{:type :ok, :f :write, :value 0, :process 37, :time 12837871678, :index 2950}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 12850650591, :index 2954}
{:type :ok, :f :cas, :value [0 4], :process 13, :time 12855040114, :index 2955}
{:type :invoke, :f :read, :value nil, :process 14, :time 12874842708, :index 2959}
{:type :ok, :f :read, :value 4, :process 14, :time 12879810045, :index 2962}
{:type :invoke, :f :read, :value nil, :process 13, :time 12880302272, :index 2963}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 12881127709, :index 2964}
{:type :ok, :f :read, :value 4, :process 13, :time 12884737148, :index 2966}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 12887363487, :index 2968}
{:type :invoke, :f :write, :value 4, :process 18, :time 12892005698, :index 2969}
{:type :ok, :f :write, :value 4, :process 18, :time 12896062814, :index 2971}
{:type :invoke, :f :write, :value 3, :process 35, :time 12899286579, :index 2972}
{:type :invoke, :f :cas, :value [0 1], :process 16, :time 12902147268, :index 2975}
{:type :ok, :f :write, :value 3, :process 35, :time 12905555480, :index 2977}
{:type :fail, :f :cas, :value [0 1], :process 16, :time 12908112846, :index 2978}
{:type :invoke, :f :write, :value 0, :process 19, :time 12908539526, :index 2980}
{:type :invoke, :f :read, :value nil, :process 11, :time 12925180043, :index 2983}
{:type :ok, :f :read, :value 3, :process 11, :time 12929863931, :index 2985}
{:type :invoke, :f :cas, :value [2 3], :process 35, :time 12938826221, :index 2988}
{:type :fail, :f :cas, :value [2 3], :process 35, :time 12945606717, :index 2989}
{:type :invoke, :f :write, :value 1, :process 16, :time 12963369749, :index 2990}
{:type :ok, :f :write, :value 1, :process 16, :time 12968601871, :index 2991}
{:type :invoke, :f :read, :value nil, :process 30, :time 12972303935, :index 2992}
{:type :ok, :f :read, :value 1, :process 30, :time 12977688648, :index 2993}
{:type :invoke, :f :write, :value 3, :process 12, :time 12993768224, :index 2998}
{:type :ok, :f :write, :value 3, :process 12, :time 12999245956, :index 2999}
{:type :invoke, :f :read, :value nil, :process 18, :time 13004336982, :index 3001}
{:type :ok, :f :read, :value 3, :process 18, :time 13009358667, :index 3003}
{:type :invoke, :f :read, :value nil, :process 14, :time 13038072051, :index 3007}
{:type :invoke, :f :cas, :value [4 4], :process 35, :time 13053889933, :index 3015}
{:type :invoke, :f :write, :value 3, :process 16, :time 13055863518, :index 3016}
{:type :fail, :f :cas, :value [4 4], :process 35, :time 13059104438, :index 3018}
{:type :ok, :f :write, :value 3, :process 16, :time 13060333098, :index 3019}
{:type :invoke, :f :write, :value 4, :process 13, :time 13064001854, :index 3020}
{:type :invoke, :f :read, :value nil, :process 37, :time 13064600960, :index 3021}
{:type :ok, :f :write, :value 4, :process 13, :time 13068989052, :index 3022}
{:type :invoke, :f :cas, :value [4 2], :process 11, :time 13069149001, :index 3023}
{:type :ok, :f :read, :value 4, :process 37, :time 13070251389, :index 3024}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 13071583864, :index 3025}
{:type :ok, :f :cas, :value [4 2], :process 11, :time 13073947402, :index 3026}
{:type :ok, :f :cas, :value [2 4], :process 16, :time 13075867309, :index 3027}
{:type :invoke, :f :cas, :value [0 2], :process 12, :time 13091507349, :index 3030}
{:type :fail, :f :cas, :value [0 2], :process 12, :time 13097000476, :index 3031}
{:type :invoke, :f :read, :value nil, :process 16, :time 13134136662, :index 3034}
{:type :ok, :f :read, :value 4, :process 16, :time 13139940177, :index 3035}
{:type :invoke, :f :cas, :value [4 0], :process 30, :time 13139958073, :index 3036}
{:type :ok, :f :cas, :value [4 0], :process 30, :time 13144892633, :index 3037}
{:type :invoke, :f :write, :value 3, :process 35, :time 13145365300, :index 3038}
{:type :ok, :f :write, :value 3, :process 35, :time 13150664737, :index 3039}
{:type :invoke, :f :cas, :value [3 1], :process 37, :time 13154512696, :index 3040}
{:type :invoke, :f :read, :value nil, :process 35, :time 13155922806, :index 3041}
{:type :ok, :f :cas, :value [3 1], :process 37, :time 13161763521, :index 3044}
{:type :ok, :f :read, :value 1, :process 35, :time 13162344389, :index 3045}
{:type :invoke, :f :write, :value 3, :process 13, :time 13178273002, :index 3050}
{:type :ok, :f :write, :value 3, :process 13, :time 13182818710, :index 3054}
{:type :invoke, :f :read, :value nil, :process 11, :time 13186229821, :index 3055}
{:type :invoke, :f :cas, :value [2 4], :process 18, :time 13198625556, :index 3056}
{:type :fail, :f :cas, :value [2 4], :process 18, :time 13204036004, :index 3058}
{:type :invoke, :f :write, :value 3, :process 13, :time 13216082769, :index 3062}
{:type :ok, :f :write, :value 3, :process 13, :time 13221199978, :index 3064}
{:type :invoke, :f :cas, :value [4 1], :process 13, :time 13235456365, :index 3071}
{:type :fail, :f :cas, :value [4 1], :process 13, :time 13240306443, :index 3072}
{:type :invoke, :f :write, :value 3, :process 16, :time 13242257188, :index 3073}
{:type :invoke, :f :write, :value 4, :process 35, :time 13244584436, :index 3074}
{:type :ok, :f :write, :value 4, :process 35, :time 13249340051, :index 3076}
{:type :invoke, :f :cas, :value [0 2], :process 12, :time 13288260795, :index 3082}
{:type :fail, :f :cas, :value [0 2], :process 12, :time 13293906131, :index 3083}
{:type :invoke, :f :cas, :value [0 1], :process 37, :time 13304071481, :index 3084}
{:type :invoke, :f :write, :value 2, :process 30, :time 13306200143, :index 3085}
{:type :fail, :f :cas, :value [0 1], :process 37, :time 13309644294, :index 3086}
{:type :ok, :f :write, :value 2, :process 30, :time 13311643489, :index 3087}
{:type :ok, :f :write, :value 0, :process 19, :time 13332901901, :index 3088}
{:type :ok, :f :read, :value 0, :process 14, :time 13336306510, :index 3091}
{:type :invoke, :f :cas, :value [0 1], :process 35, :time 13356609768, :index 3094}
{:type :ok, :f :cas, :value [0 1], :process 35, :time 13361525550, :index 3095}
{:type :invoke, :f :cas, :value [3 4], :process 13, :time 13363569372, :index 3096}
{:type :fail, :f :cas, :value [3 4], :process 13, :time 13368141182, :index 3097}
{:type :invoke, :f :write, :value 0, :process 18, :time 13373325953, :index 3099}
{:type :ok, :f :write, :value 0, :process 18, :time 13377807587, :index 3101}
{:type :invoke, :f :write, :value 0, :process 30, :time 13389899168, :index 3103}
{:type :invoke, :f :cas, :value [3 4], :process 12, :time 13394193231, :index 3105}
{:type :ok, :f :write, :value 0, :process 30, :time 13394905879, :index 3106}
{:type :invoke, :f :cas, :value [1 3], :process 14, :time 13396600077, :index 3107}
{:type :fail, :f :cas, :value [3 4], :process 12, :time 13400130430, :index 3109}
{:type :fail, :f :cas, :value [1 3], :process 14, :time 13402407512, :index 3110}
{:type :invoke, :f :read, :value nil, :process 13, :time 13405400936, :index 3112}
{:type :ok, :f :read, :value 0, :process 13, :time 13409795276, :index 3113}
{:type :invoke, :f :read, :value nil, :process 18, :time 13452059105, :index 3126}
{:type :ok, :f :read, :value 0, :process 18, :time 13457034115, :index 3127}
{:type :invoke, :f :write, :value 1, :process 37, :time 13478907518, :index 3132}
{:type :ok, :f :write, :value 1, :process 37, :time 13484557542, :index 3133}
{:type :invoke, :f :cas, :value [0 1], :process 35, :time 13488797866, :index 3134}
{:type :ok, :f :write, :value 3, :process 16, :time 13490136895, :index 3137}
{:type :ok, :f :read, :value 1, :process 11, :time 13490270068, :index 3138}
{:type :fail, :f :cas, :value [0 1], :process 35, :time 13494402152, :index 3139}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 13509496297, :index 3142}
{:type :invoke, :f :cas, :value [2 3], :process 19, :time 13510198672, :index 3143}
{:type :fail, :f :cas, :value [2 3], :process 19, :time 13516078782, :index 3145}
{:type :invoke, :f :write, :value 4, :process 18, :time 13526311295, :index 3148}
{:type :ok, :f :write, :value 4, :process 18, :time 13531389438, :index 3151}
{:type :invoke, :f :write, :value 4, :process 19, :time 13544337539, :index 3156}
{:type :ok, :f :write, :value 4, :process 19, :time 13549860593, :index 3158}
{:type :invoke, :f :read, :value nil, :process 16, :time 13551378261, :index 3159}
{:type :invoke, :f :cas, :value [0 2], :process 12, :time 13553388986, :index 3160}
{:type :fail, :f :cas, :value [0 2], :process 12, :time 13558782963, :index 3162}
{:type :invoke, :f :read, :value nil, :process 35, :time 13559664500, :index 3163}
{:type :ok, :f :read, :value 4, :process 35, :time 13565015153, :index 3165}
{:type :invoke, :f :read, :value nil, :process 30, :time 13568165824, :index 3166}
{:type :ok, :f :read, :value 4, :process 30, :time 13573003320, :index 3167}
{:type :invoke, :f :cas, :value [4 0], :process 14, :time 13574727490, :index 3168}
{:type :ok, :f :cas, :value [4 0], :process 14, :time 13579642864, :index 3170}
{:type :invoke, :f :cas, :value [3 1], :process 37, :time 13595823346, :index 3177}
{:type :invoke, :f :cas, :value [4 4], :process 13, :time 13598066526, :index 3178}
{:type :fail, :f :cas, :value [3 1], :process 37, :time 13601288217, :index 3179}
{:type :fail, :f :cas, :value [4 4], :process 13, :time 13603154724, :index 3180}
{:type :ok, :f :read, :value 0, :process 16, :time 13698241596, :index 3210}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 13699160671, :index 3213}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
