{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :invoke, :f :cas, :value [3 0], :process 35, :time 56517165086, :index 8637}
{:type :fail, :f :cas, :value [3 0], :process 35, :time 56522503358, :error :not-found, :index 8639}
{:type :invoke, :f :cas, :value [4 2], :process 118, :time 56525983557, :index 8642}
{:type :fail, :f :cas, :value [4 2], :process 118, :time 56531402248, :error :not-found, :index 8650}
{:type :invoke, :f :read, :value nil, :process 118, :time 56533684789, :index 8653}
{:type :ok, :f :read, :value nil, :process 118, :time 56539010079, :index 8656}
{:type :invoke, :f :cas, :value [4 0], :process 118, :time 56542277589, :index 8657}
{:type :invoke, :f :cas, :value [1 1], :process 35, :time 56546773993, :index 8658}
{:type :fail, :f :cas, :value [4 0], :process 118, :time 56547684054, :error :not-found, :index 8659}
{:type :fail, :f :cas, :value [1 1], :process 35, :time 56552227405, :error :not-found, :index 8661}
{:type :invoke, :f :cas, :value [2 0], :process 118, :time 56590953403, :index 8672}
{:type :fail, :f :cas, :value [2 0], :process 118, :time 56596898446, :error :not-found, :index 8673}
{:type :invoke, :f :cas, :value [4 4], :process 36, :time 56606626770, :index 8674}
{:type :fail, :f :cas, :value [4 4], :process 36, :time 56613205363, :error :not-found, :index 8678}
{:type :invoke, :f :cas, :value [3 2], :process 118, :time 56656156889, :index 8694}
{:type :fail, :f :cas, :value [3 2], :process 118, :time 56662136251, :error :not-found, :index 8695}
{:type :invoke, :f :cas, :value [2 2], :process 73, :time 56664726488, :index 8698}
{:type :invoke, :f :read, :value nil, :process 74, :time 56669868219, :index 8699}
{:type :fail, :f :cas, :value [2 2], :process 73, :time 56671541151, :error :not-found, :index 8701}
{:type :invoke, :f :write, :value 4, :process 118, :time 56673398827, :index 8702}
{:type :ok, :f :read, :value nil, :process 74, :time 56675315611, :index 8704}
{:type :ok, :f :write, :value 4, :process 118, :time 56679095813, :index 8706}
{:type :invoke, :f :write, :value 2, :process 51, :time 56681500470, :index 8708}
{:type :ok, :f :write, :value 2, :process 51, :time 56686787628, :index 8711}
{:type :invoke, :f :cas, :value [4 4], :process 50, :time 56691316489, :index 8714}
{:type :fail, :f :cas, :value [4 4], :process 50, :time 56696227276, :index 8716}
{:type :invoke, :f :cas, :value [1 0], :process 35, :time 56705489348, :index 8720}
{:type :fail, :f :cas, :value [1 0], :process 35, :time 56709936803, :index 8722}
{:type :invoke, :f :cas, :value [4 3], :process 99, :time 56725138956, :index 8726}
{:type :fail, :f :cas, :value [4 3], :process 99, :time 56730950325, :index 8727}
{:type :invoke, :f :read, :value nil, :process 36, :time 56739506188, :index 8730}
{:type :ok, :f :read, :value 2, :process 36, :time 56745118132, :index 8731}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :invoke, :f :read, :value nil, :process 74, :time 56766579419, :index 8735}
{:type :invoke, :f :write, :value 2, :process 35, :time 56780208497, :index 8737}
{:type :invoke, :f :write, :value 3, :process 73, :time 56805841416, :index 8745}
{:type :invoke, :f :cas, :value [1 1], :process 118, :time 56813359001, :index 8746}
{:type :invoke, :f :cas, :value [0 4], :process 99, :time 56817213196, :index 8747}
{:type :invoke, :f :cas, :value [3 0], :process 50, :time 56845475691, :index 8750}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
{:type :invoke, :f :cas, :value [4 2], :process 36, :time 56865383011, :index 8752}
{:type :invoke, :f :read, :value nil, :process 51, :time 56871049161, :index 8753}
{:type :ok, :f :read, :value 2, :process 74, :time 61335216520, :index 8754}
{:type :info, :f :write, :value 2, :process 35, :time 61782741130, :error :timeout, :index 8758}
{:type :info, :f :write, :value 3, :process 73, :time 61812734606, :error :timeout, :index 8766}
{:type :info, :f :cas, :value [1 1], :process 118, :time 61818914373, :error :timeout, :index 8767}
{:type :info, :f :cas, :value [0 4], :process 99, :time 61823020730, :error :timeout, :index 8768}
{:type :info, :f :cas, :value [3 0], :process 50, :time 61852490007, :error :timeout, :index 8771}
{:type :info, :f :cas, :value [4 2], :process 36, :time 61867606994, :error :timeout, :index 8772}
{:type :fail, :f :read, :value nil, :process 51, :time 61875499140, :error :timeout, :index 8773}
