{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :invoke, :f :write, :value 0, :process 29, :time 21767072489, :index 6326}
{:type :fail, :f :write, :value 0, :process 29, :time 21768775670, :error :connect, :index 6329}
{:type :invoke, :f :write, :value 0, :process 29, :time 21817025424, :index 6338}
{:type :fail, :f :write, :value 0, :process 29, :time 21818811634, :error :connect, :index 6339}
{:type :invoke, :f :write, :value 1, :process 8, :time 21826012149, :index 6340}
{:type :fail, :f :write, :value 1, :process 8, :time 21828077875, :error :connect, :index 6341}
{:type :invoke, :f :read, :value nil, :process 29, :time 21830072199, :index 6343}
{:type :fail, :f :read, :value nil, :process 29, :time 21831907210, :error :connect, :index 6345}
{:type :invoke, :f :read, :value nil, :process 8, :time 21832340842, :index 6346}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 21833439586, :index 6347}
{:type :fail, :f :read, :value nil, :process 8, :time 21833926528, :error :connect, :index 6348}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 21835639899, :error :connect, :index 6349}
{:type :invoke, :f :cas, :value [1 4], :process 29, :time 21847158411, :index 6350}
{:type :fail, :f :cas, :value [1 4], :process 29, :time 21848996910, :error :connect, :index 6352}
{:type :invoke, :f :read, :value nil, :process 7, :time 21851410120, :index 6356}
{:type :fail, :f :read, :value nil, :process 7, :time 21853279935, :error :connect, :index 6359}
{:type :invoke, :f :write, :value 3, :process 3, :time 21859206244, :index 6361}
{:type :fail, :f :write, :value 3, :process 3, :time 21861058135, :error :connect, :index 6363}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 21873306408, :index 6368}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 21874887510, :error :connect, :index 6369}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 21887204643, :index 6377}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 21888853448, :error :connect, :index 6379}
{:type :invoke, :f :write, :value 4, :process 22, :time 21911341281, :index 6386}
{:type :fail, :f :write, :value 4, :process 22, :time 21913364051, :error :connect, :index 6388}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 21923918919, :index 6392}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 21926012564, :error :connect, :index 6393}
{:type :invoke, :f :read, :value nil, :process 29, :time 21927279979, :index 6394}
{:type :fail, :f :read, :value nil, :process 29, :time 21929055946, :error :connect, :index 6395}
{:type :invoke, :f :write, :value 3, :process 21, :time 21952556639, :index 6398}
{:type :fail, :f :write, :value 3, :process 21, :time 21954437910, :error :connect, :index 6399}
{:type :invoke, :f :cas, :value [2 4], :process 22, :time 21960621520, :index 6403}
{:type :fail, :f :cas, :value [2 4], :process 22, :time 21962739788, :error :connect, :index 6405}
{:type :invoke, :f :write, :value 1, :process 7, :time 21963518516, :index 6406}
{:type :fail, :f :write, :value 1, :process 7, :time 21965289329, :error :connect, :index 6407}
{:type :invoke, :f :read, :value nil, :process 8, :time 21968193183, :index 6408}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 21969129352, :index 6409}
{:type :fail, :f :read, :value nil, :process 8, :time 21969812870, :error :connect, :index 6410}
{:type :invoke, :f :write, :value 4, :process 5, :time 21970281170, :index 6411}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 21970960940, :error :connect, :index 6412}
{:type :fail, :f :write, :value 4, :process 5, :time 21972261253, :error :connect, :index 6413}
{:type :invoke, :f :write, :value 4, :process 0, :time 21995223207, :index 6414}
{:type :invoke, :f :write, :value 2, :process 3, :time 21996159855, :index 6415}
{:type :fail, :f :write, :value 4, :process 0, :time 21997292241, :error :connect, :index 6416}
{:type :fail, :f :write, :value 2, :process 3, :time 21998255569, :error :connect, :index 6417}
{:type :invoke, :f :cas, :value [1 4], :process 7, :time 22036553200, :index 6432}
{:type :fail, :f :cas, :value [1 4], :process 7, :time 22038669979, :error :connect, :index 6434}
{:type :invoke, :f :write, :value 2, :process 8, :time 22039079518, :index 6435}
{:type :fail, :f :write, :value 2, :process 8, :time 22041198930, :error :connect, :index 6437}
{:type :invoke, :f :cas, :value [2 4], :process 5, :time 22042522101, :index 6438}
{:type :fail, :f :cas, :value [2 4], :process 5, :time 22044117307, :error :connect, :index 6439}
{:type :invoke, :f :write, :value 4, :process 4, :time 22045331984, :index 6440}
{:type :fail, :f :write, :value 4, :process 4, :time 22047323950, :error :connect, :index 6441}
{:type :invoke, :f :write, :value 1, :process 6, :time 22052668055, :index 6444}
{:type :fail, :f :write, :value 1, :process 6, :time 22054408740, :error :connect, :index 6445}
{:type :invoke, :f :cas, :value [0 1], :process 7, :time 22074975799, :index 6452}
{:type :fail, :f :cas, :value [0 1], :process 7, :time 22076767415, :error :connect, :index 6453}
{:type :invoke, :f :cas, :value [4 4], :process 29, :time 22096317977, :index 6462}
{:type :fail, :f :cas, :value [4 4], :process 29, :time 22098081189, :error :connect, :index 6463}
{:type :invoke, :f :write, :value 0, :process 29, :time 22102388872, :index 6464}
{:type :fail, :f :write, :value 0, :process 29, :time 22104131946, :error :connect, :index 6465}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 22132618635, :index 6466}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 22133517486, :index 6467}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 22134513573, :error :connect, :index 6468}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 22135336122, :error :connect, :index 6469}
{:type :invoke, :f :write, :value 0, :process 6, :time 22135676141, :index 6470}
{:type :fail, :f :write, :value 0, :process 6, :time 22137518453, :error :connect, :index 6471}
{:type :invoke, :f :write, :value 2, :process 21, :time 22148707879, :index 6474}
{:type :fail, :f :write, :value 2, :process 21, :time 22150567599, :error :connect, :index 6476}
{:type :invoke, :f :cas, :value [3 3], :process 22, :time 22158014031, :index 6478}
{:type :fail, :f :cas, :value [3 3], :process 22, :time 22159666721, :error :connect, :index 6479}
{:type :invoke, :f :cas, :value [2 2], :process 0, :time 22174553027, :index 6480}
{:type :fail, :f :cas, :value [2 2], :process 0, :time 22176202354, :error :connect, :index 6481}
{:type :invoke, :f :read, :value nil, :process 8, :time 22176458822, :index 6482}
{:type :fail, :f :read, :value nil, :process 8, :time 22178292847, :error :connect, :index 6484}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 22186577078, :index 6486}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 22188429150, :error :connect, :index 6487}
{:type :invoke, :f :read, :value nil, :process 22, :time 22198931859, :index 6489}
{:type :fail, :f :read, :value nil, :process 22, :time 22200787973, :error :connect, :index 6491}
{:type :invoke, :f :cas, :value [0 4], :process 4, :time 22211785360, :index 6498}
{:type :fail, :f :cas, :value [0 4], :process 4, :time 22213518430, :error :connect, :index 6499}
{:type :invoke, :f :write, :value 4, :process 5, :time 22223384672, :index 6504}
{:type :fail, :f :write, :value 4, :process 5, :time 22225572035, :error :connect, :index 6507}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 22231464380, :index 6510}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 22233310626, :error :connect, :index 6511}
{:type :invoke, :f :read, :value nil, :process 7, :time 22239043985, :index 6515}
{:type :invoke, :f :read, :value nil, :process 29, :time 22240410300, :index 6517}
{:type :fail, :f :read, :value nil, :process 7, :time 22240970565, :error :connect, :index 6518}
{:type :fail, :f :read, :value nil, :process 29, :time 22242289382, :error :connect, :index 6519}
{:type :invoke, :f :read, :value nil, :process 22, :time 22279035947, :index 6522}
{:type :fail, :f :read, :value nil, :process 22, :time 22281081436, :error :connect, :index 6523}
{:type :invoke, :f :cas, :value [0 3], :process 8, :time 22281599092, :index 6524}
{:type :fail, :f :cas, :value [0 3], :process 8, :time 22283490713, :error :connect, :index 6525}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 22285700451, :index 6526}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 22287474637, :error :connect, :index 6528}
{:type :invoke, :f :read, :value nil, :process 8, :time 22289786960, :index 6532}
{:type :fail, :f :read, :value nil, :process 8, :time 22291597763, :error :connect, :index 6533}
{:type :invoke, :f :write, :value 0, :process 6, :time 22296776137, :index 6536}
{:type :fail, :f :write, :value 0, :process 6, :time 22298378188, :error :connect, :index 6537}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 22302844290, :index 6538}
{:type :fail, :f :cas, :value [4 2], :process 21, :time 22304719361, :error :connect, :index 6539}
{:type :invoke, :f :cas, :value [2 3], :process 7, :time 22309247230, :index 6540}
{:type :fail, :f :cas, :value [2 3], :process 7, :time 22311143843, :error :connect, :index 6541}
{:type :invoke, :f :cas, :value [0 0], :process 8, :time 22315852556, :index 6542}
{:type :fail, :f :cas, :value [0 0], :process 8, :time 22317852068, :error :connect, :index 6543}
{:type :invoke, :f :read, :value nil, :process 29, :time 22324545083, :index 6544}
{:type :fail, :f :read, :value nil, :process 29, :time 22326548956, :error :connect, :index 6545}
{:type :invoke, :f :write, :value 0, :process 8, :time 22328118502, :index 6546}
{:type :fail, :f :write, :value 0, :process 8, :time 22329952297, :error :connect, :index 6548}
{:type :invoke, :f :read, :value nil, :process 5, :time 22362738680, :index 6559}
{:type :fail, :f :read, :value nil, :process 5, :time 22364624432, :error :connect, :index 6561}
{:type :invoke, :f :read, :value nil, :process 4, :time 22374731417, :index 6564}
{:type :fail, :f :read, :value nil, :process 4, :time 22376833950, :error :connect, :index 6566}
{:type :invoke, :f :write, :value 1, :process 29, :time 22379812753, :index 6568}
{:type :fail, :f :write, :value 1, :process 29, :time 22381760806, :error :connect, :index 6569}
{:type :invoke, :f :write, :value 0, :process 4, :time 22391071561, :index 6573}
{:type :fail, :f :write, :value 0, :process 4, :time 22392585944, :error :connect, :index 6575}
{:type :invoke, :f :cas, :value [1 4], :process 22, :time 22393340175, :index 6576}
{:type :fail, :f :cas, :value [1 4], :process 22, :time 22394924336, :error :connect, :index 6577}
{:type :invoke, :f :write, :value 2, :process 0, :time 22404585233, :index 6580}
{:type :fail, :f :write, :value 2, :process 0, :time 22406552310, :error :connect, :index 6581}
{:type :invoke, :f :write, :value 3, :process 6, :time 22416634783, :index 6584}
{:type :fail, :f :write, :value 3, :process 6, :time 22418439829, :error :connect, :index 6585}
{:type :invoke, :f :write, :value 4, :process 7, :time 22419407302, :index 6586}
{:type :fail, :f :write, :value 4, :process 7, :time 22421322518, :error :connect, :index 6588}
{:type :invoke, :f :write, :value 0, :process 4, :time 22433834418, :index 6592}
{:type :fail, :f :write, :value 0, :process 4, :time 22435582149, :error :connect, :index 6593}
{:type :invoke, :f :write, :value 0, :process 3, :time 22455790454, :index 6603}
{:type :fail, :f :write, :value 0, :process 3, :time 22457419240, :error :connect, :index 6604}
{:type :invoke, :f :read, :value nil, :process 6, :time 22459711411, :index 6606}
{:type :fail, :f :read, :value nil, :process 6, :time 22461872309, :error :connect, :index 6607}
{:type :invoke, :f :write, :value 3, :process 8, :time 22477209523, :index 6610}
{:type :fail, :f :write, :value 3, :process 8, :time 22478789531, :error :connect, :index 6611}
{:type :invoke, :f :read, :value nil, :process 7, :time 22500599840, :index 6616}
{:type :fail, :f :read, :value nil, :process 7, :time 22502413416, :error :connect, :index 6617}
{:type :invoke, :f :write, :value 2, :process 21, :time 22502981659, :index 6618}
{:type :fail, :f :write, :value 2, :process 21, :time 22504886956, :error :connect, :index 6619}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 22506845991, :index 6620}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 22508624752, :error :connect, :index 6621}
{:type :invoke, :f :write, :value 2, :process 29, :time 22530050609, :index 6622}
{:type :fail, :f :write, :value 2, :process 29, :time 22532089676, :error :connect, :index 6623}
{:type :invoke, :f :read, :value nil, :process 8, :time 22553058209, :index 6628}
{:type :fail, :f :read, :value nil, :process 8, :time 22554853781, :error :connect, :index 6630}
{:type :invoke, :f :read, :value nil, :process 5, :time 22560881222, :index 6641}
{:type :fail, :f :read, :value nil, :process 5, :time 22562883814, :error :connect, :index 6643}
{:type :invoke, :f :read, :value nil, :process 22, :time 22563192418, :index 6644}
{:type :fail, :f :read, :value nil, :process 22, :time 22565024651, :error :connect, :index 6645}
{:type :invoke, :f :write, :value 0, :process 29, :time 22578354527, :index 6648}
{:type :invoke, :f :write, :value 4, :process 7, :time 22578688176, :index 6649}
{:type :fail, :f :write, :value 0, :process 29, :time 22580302192, :error :connect, :index 6650}
{:type :fail, :f :write, :value 4, :process 7, :time 22580759819, :error :connect, :index 6651}
{:type :invoke, :f :cas, :value [2 1], :process 21, :time 22588157316, :index 6653}
{:type :fail, :f :cas, :value [2 1], :process 21, :time 22590112045, :error :connect, :index 6656}
{:type :invoke, :f :write, :value 4, :process 0, :time 22600821007, :index 6659}
{:type :invoke, :f :write, :value 3, :process 29, :time 22601578102, :index 6661}
{:type :fail, :f :write, :value 4, :process 0, :time 22602675328, :error :connect, :index 6662}
{:type :fail, :f :write, :value 3, :process 29, :time 22603297694, :error :connect, :index 6663}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 22636288668, :index 6674}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 22637139022, :index 6675}
{:type :fail, :f :cas, :value [0 2], :process 22, :time 22637914242, :error :connect, :index 6676}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 22639043600, :error :connect, :index 6677}
{:type :invoke, :f :write, :value 4, :process 29, :time 22645532908, :index 6678}
{:type :fail, :f :write, :value 4, :process 29, :time 22647327806, :error :connect, :index 6679}
{:type :invoke, :f :cas, :value [0 2], :process 3, :time 22647682946, :index 6680}
{:type :fail, :f :cas, :value [0 2], :process 3, :time 22649295109, :error :connect, :index 6681}
{:type :invoke, :f :write, :value 0, :process 0, :time 22654972083, :index 6684}
{:type :fail, :f :write, :value 0, :process 0, :time 22656991120, :error :connect, :index 6687}
{:type :invoke, :f :read, :value nil, :process 4, :time 22656906529, :index 6688}
{:type :fail, :f :read, :value nil, :process 4, :time 22658636100, :error :connect, :index 6689}
{:type :invoke, :f :cas, :value [1 2], :process 29, :time 22674599622, :index 6690}
{:type :fail, :f :cas, :value [1 2], :process 29, :time 22676199704, :error :connect, :index 6691}
{:type :invoke, :f :read, :value nil, :process 8, :time 22688138187, :index 6698}
{:type :fail, :f :read, :value nil, :process 8, :time 22690188129, :error :connect, :index 6699}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 22694910199, :index 6700}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 22697025653, :error :connect, :index 6702}
{:type :invoke, :f :read, :value nil, :process 4, :time 22718287558, :index 6706}
{:type :fail, :f :read, :value nil, :process 4, :time 22719948865, :error :connect, :index 6707}
{:type :invoke, :f :read, :value nil, :process 21, :time 22721352744, :index 6708}
{:type :fail, :f :read, :value nil, :process 21, :time 22723062699, :error :connect, :index 6710}
{:type :invoke, :f :cas, :value [1 4], :process 7, :time 22724017503, :index 6712}
{:type :invoke, :f :write, :value 0, :process 5, :time 22725141851, :index 6713}
{:type :fail, :f :cas, :value [1 4], :process 7, :time 22725889638, :error :connect, :index 6714}
{:type :invoke, :f :read, :value nil, :process 29, :time 22726476071, :index 6715}
{:type :fail, :f :write, :value 0, :process 5, :time 22727296925, :error :connect, :index 6717}
{:type :fail, :f :read, :value nil, :process 29, :time 22728950624, :error :connect, :index 6720}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 22746224684, :index 6726}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 22747877025, :error :connect, :index 6727}
{:type :invoke, :f :read, :value nil, :process 6, :time 22759312958, :index 6728}
{:type :fail, :f :read, :value nil, :process 6, :time 22761490822, :error :connect, :index 6729}
{:type :invoke, :f :write, :value 4, :process 21, :time 22773322964, :index 6732}
{:type :fail, :f :write, :value 4, :process 21, :time 22775411160, :error :connect, :index 6733}
{:type :invoke, :f :write, :value 0, :process 3, :time 22813559673, :index 6740}
{:type :fail, :f :write, :value 0, :process 3, :time 22815634004, :error :connect, :index 6741}
{:type :invoke, :f :write, :value 1, :process 8, :time 22823453454, :index 6744}
{:type :fail, :f :write, :value 1, :process 8, :time 22825084321, :error :connect, :index 6745}
{:type :invoke, :f :write, :value 0, :process 22, :time 22830185117, :index 6748}
{:type :fail, :f :write, :value 0, :process 22, :time 22832077972, :error :connect, :index 6751}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 22891166832, :index 6774}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 22893227456, :error :connect, :index 6776}
{:type :invoke, :f :read, :value nil, :process 4, :time 22913207691, :index 6780}
{:type :fail, :f :read, :value nil, :process 4, :time 22915222757, :error :connect, :index 6781}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
