{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :invoke, :f :write, :value 0, :process 5, :time 14215029988, :index 2819}
{:type :ok, :f :write, :value 0, :process 5, :time 14223471867, :index 2822}
{:type :invoke, :f :write, :value 2, :process 5, :time 14225783636, :index 2825}
{:type :ok, :f :write, :value 2, :process 5, :time 14231201827, :index 2828}
{:type :invoke, :f :write, :value 4, :process 8, :time 14240785039, :index 2837}
{:type :ok, :f :write, :value 4, :process 8, :time 14245694881, :index 2842}
{:type :invoke, :f :cas, :value [2 1], :process 23, :time 14282577137, :index 2856}
{:type :invoke, :f :read, :value nil, :process 5, :time 14287467442, :index 2857}
{:type :fail, :f :cas, :value [2 1], :process 23, :time 14288409739, :index 2858}
{:type :ok, :f :read, :value 4, :process 5, :time 14292723650, :index 2859}
{:type :invoke, :f :read, :value nil, :process 8, :time 14301960862, :index 2861}
{:type :ok, :f :read, :value 4, :process 8, :time 14307802758, :index 2868}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 14333472940, :index 2872}
{:type :invoke, :f :write, :value 3, :process 9, :time 14335640758, :index 2873}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 14339610428, :index 2875}
{:type :ok, :f :write, :value 3, :process 9, :time 14341045690, :index 2877}
{:type :invoke, :f :write, :value 1, :process 0, :time 14341900691, :index 2878}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 14342668831, :index 2879}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 14345067396, :index 2881}
{:type :ok, :f :write, :value 1, :process 0, :time 14347656523, :index 2883}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 14348046927, :index 2884}
{:type :ok, :f :cas, :value [1 0], :process 8, :time 14350758541, :index 2886}
{:type :invoke, :f :write, :value 1, :process 0, :time 14351925423, :index 2888}
{:type :ok, :f :write, :value 1, :process 0, :time 14357149232, :index 2889}
{:type :invoke, :f :read, :value nil, :process 2, :time 14377407156, :index 2890}
{:type :ok, :f :read, :value 1, :process 2, :time 14382497176, :index 2891}
{:type :invoke, :f :write, :value 1, :process 9, :time 14417283771, :index 2899}
{:type :ok, :f :write, :value 1, :process 9, :time 14422492765, :index 2902}
{:type :invoke, :f :read, :value nil, :process 4, :time 14426138086, :index 2904}
{:type :ok, :f :read, :value 1, :process 4, :time 14431058327, :index 2905}
{:type :invoke, :f :cas, :value [3 4], :process 21, :time 14438044208, :index 2906}
{:type :fail, :f :cas, :value [3 4], :process 21, :time 14444326413, :index 2909}
{:type :invoke, :f :read, :value nil, :process 9, :time 14444491107, :index 2910}
{:type :ok, :f :read, :value 1, :process 9, :time 14450158153, :index 2914}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 14455431927, :index 2916}
{:type :invoke, :f :cas, :value [1 4], :process 7, :time 14456292593, :index 2917}
{:type :ok, :f :cas, :value [1 4], :process 7, :time 14460654576, :index 2919}
{:type :invoke, :f :cas, :value [0 0], :process 8, :time 14462020415, :index 2921}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 14462895002, :index 2922}
{:type :fail, :f :cas, :value [0 0], :process 8, :time 14467135353, :index 2924}
{:type :invoke, :f :cas, :value [4 0], :process 26, :time 14476589215, :index 2926}
{:type :ok, :f :cas, :value [4 0], :process 26, :time 14481262299, :index 2927}
{:type :invoke, :f :write, :value 3, :process 23, :time 14482668911, :index 2928}
{:type :invoke, :f :write, :value 3, :process 2, :time 14485765874, :index 2929}
{:type :ok, :f :write, :value 3, :process 23, :time 14488030378, :index 2930}
{:type :ok, :f :write, :value 3, :process 2, :time 14490755612, :index 2931}
{:type :invoke, :f :write, :value 2, :process 5, :time 14491935485, :index 2933}
{:type :invoke, :f :write, :value 2, :process 7, :time 14491930527, :index 2934}
{:type :ok, :f :write, :value 2, :process 7, :time 14497468116, :index 2936}
{:type :ok, :f :write, :value 2, :process 5, :time 14498122334, :index 2937}
{:type :invoke, :f :write, :value 3, :process 2, :time 14511956515, :index 2938}
{:type :invoke, :f :read, :value nil, :process 9, :time 14512450447, :index 2939}
{:type :ok, :f :write, :value 3, :process 2, :time 14516817364, :index 2941}
{:type :ok, :f :read, :value 3, :process 9, :time 14518928966, :index 2942}
{:type :invoke, :f :write, :value 3, :process 5, :time 14520351691, :index 2944}
{:type :ok, :f :write, :value 3, :process 5, :time 14525153961, :index 2945}
{:type :invoke, :f :write, :value 3, :process 5, :time 14533398247, :index 2951}
{:type :ok, :f :write, :value 3, :process 5, :time 14539927461, :index 2956}
{:type :invoke, :f :write, :value 0, :process 26, :time 14546529302, :index 2958}
{:type :invoke, :f :read, :value nil, :process 4, :time 14548341320, :index 2959}
{:type :ok, :f :write, :value 0, :process 26, :time 14551784418, :index 2960}
{:type :ok, :f :read, :value 0, :process 4, :time 14553211438, :index 2961}
{:type :invoke, :f :read, :value nil, :process 21, :time 14570570376, :index 2964}
{:type :ok, :f :read, :value 0, :process 21, :time 14575816541, :index 2966}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 14603394752, :index 2977}
{:type :invoke, :f :cas, :value [2 0], :process 2, :time 14605081662, :index 2978}
{:type :ok, :f :cas, :value [0 4], :process 8, :time 14608918880, :index 2979}
{:type :invoke, :f :write, :value 0, :process 23, :time 14609289523, :index 2981}
{:type :fail, :f :cas, :value [2 0], :process 2, :time 14610212355, :index 2982}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 14610194431, :index 2983}
{:type :ok, :f :write, :value 0, :process 23, :time 14614020960, :index 2985}
{:type :invoke, :f :cas, :value [1 4], :process 5, :time 14615155668, :index 2986}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 14615833971, :index 2987}
{:type :invoke, :f :write, :value 4, :process 9, :time 14617227826, :index 2989}
{:type :fail, :f :cas, :value [1 4], :process 5, :time 14620207023, :index 2990}
{:type :ok, :f :write, :value 4, :process 9, :time 14622428923, :index 2992}
{:type :invoke, :f :write, :value 1, :process 9, :time 14646713387, :index 3002}
{:type :ok, :f :write, :value 1, :process 9, :time 14652123612, :index 3004}
{:type :invoke, :f :cas, :value [2 0], :process 23, :time 14653281777, :index 3006}
{:type :fail, :f :cas, :value [2 0], :process 23, :time 14658794168, :index 3007}
{:type :invoke, :f :read, :value nil, :process 7, :time 14662731180, :index 3009}
{:type :ok, :f :read, :value 1, :process 7, :time 14667273840, :index 3011}
{:type :invoke, :f :write, :value 2, :process 23, :time 14695050532, :index 3014}
{:type :ok, :f :write, :value 2, :process 23, :time 14700397150, :index 3015}
{:type :invoke, :f :read, :value nil, :process 8, :time 14710216696, :index 3016}
{:type :ok, :f :read, :value 2, :process 8, :time 14715134846, :index 3017}
{:type :invoke, :f :write, :value 0, :process 4, :time 14715468214, :index 3018}
{:type :ok, :f :write, :value 0, :process 4, :time 14721650792, :index 3021}
{:type :invoke, :f :write, :value 2, :process 21, :time 14728079426, :index 3024}
{:type :ok, :f :write, :value 2, :process 21, :time 14732829480, :index 3025}
{:type :invoke, :f :write, :value 4, :process 26, :time 14749053332, :index 3026}
{:type :invoke, :f :write, :value 3, :process 5, :time 14752475074, :index 3028}
{:type :ok, :f :write, :value 4, :process 26, :time 14754908221, :index 3029}
{:type :invoke, :f :read, :value nil, :process 0, :time 14756134943, :index 3030}
{:type :ok, :f :write, :value 3, :process 5, :time 14757745675, :index 3032}
{:type :ok, :f :read, :value 3, :process 0, :time 14761161456, :index 3033}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 14779915210, :index 3041}
{:type :invoke, :f :cas, :value [3 4], :process 26, :time 14780202962, :index 3042}
{:type :invoke, :f :read, :value nil, :process 9, :time 14783392898, :index 3045}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 14785884564, :index 3046}
{:type :ok, :f :cas, :value [3 4], :process 26, :time 14787626736, :index 3048}
{:type :ok, :f :read, :value 4, :process 9, :time 14790118429, :index 3049}
{:type :invoke, :f :cas, :value [0 2], :process 26, :time 14795873629, :index 3050}
{:type :invoke, :f :read, :value nil, :process 2, :time 14798476877, :index 3051}
{:type :invoke, :f :cas, :value [2 1], :process 7, :time 14800537900, :index 3053}
{:type :fail, :f :cas, :value [0 2], :process 26, :time 14801463664, :index 3054}
{:type :ok, :f :read, :value 4, :process 2, :time 14803069390, :index 3055}
{:type :invoke, :f :cas, :value [3 2], :process 21, :time 14805096595, :index 3056}
{:type :fail, :f :cas, :value [2 1], :process 7, :time 14805899973, :index 3058}
{:type :fail, :f :cas, :value [3 2], :process 21, :time 14810307493, :index 3059}
{:type :invoke, :f :read, :value nil, :process 2, :time 14810357500, :index 3060}
{:type :ok, :f :read, :value 4, :process 2, :time 14815193864, :index 3062}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 14818421712, :index 3064}
{:type :invoke, :f :write, :value 4, :process 23, :time 14819659363, :index 3065}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 14824176145, :index 3067}
{:type :ok, :f :write, :value 4, :process 23, :time 14826340284, :index 3068}
{:type :invoke, :f :write, :value 2, :process 5, :time 14829056537, :index 3070}
{:type :ok, :f :write, :value 2, :process 5, :time 14834415858, :index 3072}
{:type :invoke, :f :cas, :value [0 0], :process 23, :time 14847608958, :index 3079}
{:type :fail, :f :cas, :value [0 0], :process 23, :time 14853296898, :index 3082}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 14897143321, :index 3086}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 14903270339, :index 3088}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 14905397319, :index 3090}
{:type :invoke, :f :write, :value 4, :process 0, :time 14906442960, :index 3091}
{:type :ok, :f :cas, :value [2 4], :process 8, :time 14910661235, :index 3092}
{:type :ok, :f :write, :value 4, :process 0, :time 14912280755, :index 3094}
{:type :invoke, :f :write, :value 3, :process 2, :time 14921455349, :index 3099}
{:type :invoke, :f :write, :value 1, :process 5, :time 14923665495, :index 3101}
{:type :ok, :f :write, :value 3, :process 2, :time 14925978302, :index 3102}
{:type :ok, :f :write, :value 1, :process 5, :time 14928927900, :index 3103}
{:type :invoke, :f :cas, :value [1 1], :process 8, :time 14951953408, :index 3113}
{:type :invoke, :f :write, :value 2, :process 21, :time 14956578672, :index 3116}
{:type :ok, :f :cas, :value [1 1], :process 8, :time 14958252804, :index 3118}
{:type :ok, :f :write, :value 2, :process 21, :time 14961014755, :index 3119}
{:type :invoke, :f :cas, :value [2 3], :process 2, :time 14968237774, :index 3120}
{:type :ok, :f :cas, :value [2 3], :process 2, :time 14973017222, :index 3121}
{:type :invoke, :f :read, :value nil, :process 26, :time 14975732125, :index 3122}
{:type :invoke, :f :write, :value 3, :process 9, :time 14978371341, :index 3123}
{:type :ok, :f :read, :value 3, :process 26, :time 14980363286, :index 3124}
{:type :ok, :f :write, :value 3, :process 9, :time 14983414081, :index 3125}
{:type :invoke, :f :write, :value 2, :process 7, :time 14998179199, :index 3128}
{:type :ok, :f :write, :value 2, :process 7, :time 15002920814, :index 3130}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 15015191259, :index 3134}
{:type :ok, :f :cas, :value [2 0], :process 5, :time 15021529138, :index 3137}
{:type :invoke, :f :read, :value nil, :process 21, :time 15024269021, :index 3139}
{:type :ok, :f :read, :value 0, :process 21, :time 15029114845, :index 3142}
{:type :invoke, :f :write, :value 0, :process 23, :time 15042558563, :index 3144}
{:type :ok, :f :write, :value 0, :process 23, :time 15047968327, :index 3146}
{:type :invoke, :f :read, :value nil, :process 8, :time 15052499417, :index 3149}
{:type :invoke, :f :read, :value nil, :process 0, :time 15055541123, :index 3155}
{:type :ok, :f :read, :value 0, :process 8, :time 15056990484, :index 3156}
{:type :ok, :f :read, :value 0, :process 0, :time 15060390531, :index 3158}
{:type :invoke, :f :write, :value 4, :process 0, :time 15061649823, :index 3160}
{:type :invoke, :f :write, :value 1, :process 8, :time 15064253778, :index 3161}
{:type :ok, :f :write, :value 4, :process 0, :time 15066488012, :index 3163}
{:type :ok, :f :write, :value 1, :process 8, :time 15069029239, :index 3164}
{:type :invoke, :f :read, :value nil, :process 9, :time 15073672307, :index 3166}
{:type :ok, :f :read, :value 1, :process 9, :time 15078733967, :index 3167}
{:type :invoke, :f :write, :value 1, :process 21, :time 15090363302, :index 3168}
{:type :ok, :f :write, :value 1, :process 21, :time 15095600853, :index 3170}
{:type :invoke, :f :write, :value 1, :process 9, :time 15097996510, :index 3171}
{:type :invoke, :f :write, :value 0, :process 2, :time 15099292790, :index 3172}
{:type :invoke, :f :write, :value 3, :process 4, :time 15099544568, :index 3173}
{:type :invoke, :f :write, :value 0, :process 8, :time 15103292030, :index 3175}
{:type :ok, :f :write, :value 0, :process 2, :time 15104157892, :index 3176}
{:type :ok, :f :write, :value 1, :process 9, :time 15104487041, :index 3177}
{:type :ok, :f :write, :value 3, :process 4, :time 15106933515, :index 3178}
{:type :ok, :f :write, :value 0, :process 8, :time 15107747242, :index 3179}
{:type :invoke, :f :cas, :value [2 3], :process 7, :time 15111200707, :index 3180}
{:type :invoke, :f :cas, :value [2 4], :process 23, :time 15113229070, :index 3181}
{:type :fail, :f :cas, :value [2 3], :process 7, :time 15116179746, :index 3182}
{:type :invoke, :f :read, :value nil, :process 8, :time 15117006982, :index 3184}
{:type :fail, :f :cas, :value [2 4], :process 23, :time 15118259966, :index 3185}
{:type :invoke, :f :write, :value 0, :process 23, :time 15118390438, :index 3186}
{:type :ok, :f :read, :value 0, :process 8, :time 15121622085, :index 3187}
{:type :ok, :f :write, :value 0, :process 23, :time 15123995029, :index 3189}
{:type :invoke, :f :cas, :value [1 2], :process 21, :time 15125881474, :index 3190}
{:type :fail, :f :cas, :value [1 2], :process 21, :time 15130870611, :index 3191}
{:type :invoke, :f :read, :value nil, :process 4, :time 15138197269, :index 3193}
{:type :invoke, :f :write, :value 1, :process 0, :time 15138732890, :index 3194}
{:type :ok, :f :read, :value 0, :process 4, :time 15143998917, :index 3196}
{:type :ok, :f :write, :value 1, :process 0, :time 15144044463, :index 3197}
{:type :invoke, :f :read, :value nil, :process 7, :time 15175443494, :index 3207}
{:type :invoke, :f :read, :value nil, :process 26, :time 15178634511, :index 3209}
{:type :ok, :f :read, :value 1, :process 7, :time 15180067601, :index 3210}
{:type :invoke, :f :write, :value 1, :process 21, :time 15181133256, :index 3211}
{:type :ok, :f :read, :value 1, :process 26, :time 15183291298, :index 3214}
{:type :ok, :f :write, :value 1, :process 21, :time 15187190122, :index 3215}
{:type :invoke, :f :write, :value 2, :process 5, :time 15188792087, :index 3218}
{:type :ok, :f :write, :value 2, :process 5, :time 15194192114, :index 3220}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 15222298309, :index 3226}
{:type :ok, :f :cas, :value [2 4], :process 4, :time 15228398072, :index 3229}
{:type :invoke, :f :cas, :value [2 4], :process 9, :time 15256754193, :index 3240}
{:type :fail, :f :cas, :value [2 4], :process 9, :time 15262525743, :index 3243}
{:type :invoke, :f :read, :value nil, :process 23, :time 15288252352, :index 3255}
{:type :ok, :f :read, :value 4, :process 23, :time 15293568252, :index 3258}
{:type :invoke, :f :write, :value 4, :process 2, :time 15301467203, :index 3261}
{:type :ok, :f :write, :value 4, :process 2, :time 15305913278, :index 3264}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 15308893088, :index 3266}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 15313716933, :index 3268}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
