{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :invoke, :f :read, :value nil, :process 1, :time 6737943744, :index 1978}
{:type :ok, :f :read, :value nil, :process 1, :time 6743990872, :index 1979}
{:type :invoke, :f :read, :value nil, :process 1, :time 6800262254, :index 1987}
{:type :ok, :f :read, :value nil, :process 1, :time 6806178586, :index 1989}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 6823464444, :index 1992}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 6828606204, :error :not-found, :index 1994}
{:type :invoke, :f :read, :value nil, :process 3, :time 6839056831, :index 2001}
{:type :ok, :f :read, :value nil, :process 3, :time 6844425463, :index 2004}
{:type :invoke, :f :cas, :value [3 3], :process 9, :time 6875769094, :index 2010}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 6875896595, :index 2011}
{:type :fail, :f :cas, :value [3 3], :process 9, :time 6881566342, :error :not-found, :index 2012}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 6882166578, :error :not-found, :index 2013}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 6899715348, :index 2014}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 6906471953, :error :not-found, :index 2015}
{:type :invoke, :f :write, :value 1, :process 4, :time 6924855869, :index 2018}
{:type :ok, :f :write, :value 1, :process 4, :time 6930423898, :index 2020}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 6951491529, :index 2024}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 6956556022, :index 2025}
{:type :invoke, :f :read, :value nil, :process 9, :time 6957844478, :index 2026}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 6959672383, :index 2027}
{:type :ok, :f :read, :value 1, :process 9, :time 6963135626, :index 2028}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 6965374282, :index 2029}
{:type :invoke, :f :cas, :value [0 3], :process 1, :time 6976428531, :index 2030}
{:type :fail, :f :cas, :value [0 3], :process 1, :time 6982209310, :index 2032}
{:type :invoke, :f :write, :value 3, :process 3, :time 6989731350, :index 2035}
{:type :ok, :f :write, :value 3, :process 3, :time 6994377776, :index 2037}
{:type :invoke, :f :write, :value 2, :process 6, :time 7027452724, :index 2042}
{:type :ok, :f :write, :value 2, :process 6, :time 7032493460, :index 2043}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 7072877197, :index 2049}
{:type :ok, :f :cas, :value [2 1], :process 8, :time 7077432916, :index 2051}
{:type :invoke, :f :cas, :value [3 3], :process 9, :time 7088401219, :index 2052}
{:type :fail, :f :cas, :value [3 3], :process 9, :time 7095922312, :index 2054}
{:type :invoke, :f :cas, :value [0 2], :process 1, :time 7107545753, :index 2056}
{:type :fail, :f :cas, :value [0 2], :process 1, :time 7113032302, :index 2057}
{:type :invoke, :f :cas, :value [2 2], :process 1, :time 7129205665, :index 2060}
{:type :fail, :f :cas, :value [2 2], :process 1, :time 7134347846, :index 2061}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 7138780593, :index 2064}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 7143911159, :index 2067}
{:type :invoke, :f :write, :value 1, :process 4, :time 7156699557, :index 2069}
{:type :ok, :f :write, :value 1, :process 4, :time 7161417475, :index 2072}
{:type :invoke, :f :read, :value nil, :process 9, :time 7179181658, :index 2074}
{:type :ok, :f :read, :value 1, :process 9, :time 7184334973, :index 2075}
{:type :invoke, :f :read, :value nil, :process 3, :time 7192633899, :index 2076}
{:type :ok, :f :read, :value 1, :process 3, :time 7197722677, :index 2077}
{:type :invoke, :f :read, :value nil, :process 3, :time 7199985589, :index 2078}
{:type :ok, :f :read, :value 1, :process 3, :time 7204904993, :index 2079}
{:type :invoke, :f :read, :value nil, :process 8, :time 7237691111, :index 2080}
{:type :ok, :f :read, :value 1, :process 8, :time 7242539997, :index 2081}
{:type :invoke, :f :read, :value nil, :process 9, :time 7254601178, :index 2082}
{:type :ok, :f :read, :value 1, :process 9, :time 7261189758, :index 2083}
{:type :invoke, :f :write, :value 4, :process 9, :time 7265454448, :index 2084}
{:type :ok, :f :write, :value 4, :process 9, :time 7270328046, :index 2085}
{:type :invoke, :f :read, :value nil, :process 6, :time 7272206218, :index 2086}
{:type :invoke, :f :write, :value 2, :process 8, :time 7276795972, :index 2087}
{:type :ok, :f :read, :value 4, :process 6, :time 7277281552, :index 2088}
{:type :invoke, :f :cas, :value [3 0], :process 3, :time 7300172234, :index 2091}
{:type :invoke, :f :cas, :value [2 3], :process 1, :time 7315612067, :index 2094}
{:type :invoke, :f :write, :value 4, :process 4, :time 7331654083, :index 2096}
{:type :ok, :f :write, :value 2, :process 8, :time 7339346515, :index 2097}
{:type :invoke, :f :read, :value nil, :process 6, :time 7387544561, :index 2099}
{:type :fail, :f :cas, :value [3 0], :process 3, :time 7394220245, :index 2101}
{:type :ok, :f :write, :value 4, :process 4, :time 7395147408, :index 2105}
{:type :ok, :f :cas, :value [2 3], :process 1, :time 7395414546, :index 2106}
{:type :ok, :f :read, :value 4, :process 6, :time 7396082263, :index 2108}
{:type :invoke, :f :read, :value nil, :process 3, :time 7398528467, :index 2110}
{:type :ok, :f :read, :value 4, :process 3, :time 7403411410, :index 2112}
{:type :invoke, :f :write, :value 0, :process 9, :time 7431590682, :index 2117}
{:type :ok, :f :write, :value 0, :process 9, :time 7436533703, :index 2119}
{:type :invoke, :f :read, :value nil, :process 6, :time 7438347476, :index 2120}
{:type :ok, :f :read, :value 0, :process 6, :time 7443271103, :index 2121}
{:type :invoke, :f :write, :value 2, :process 9, :time 7457788109, :index 2122}
{:type :ok, :f :write, :value 2, :process 9, :time 7462679329, :index 2123}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 7476565500, :index 2128}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 7481694026, :index 2129}
{:type :invoke, :f :read, :value nil, :process 1, :time 7482695430, :index 2130}
{:type :ok, :f :read, :value 2, :process 1, :time 7487496610, :index 2131}
{:type :invoke, :f :write, :value 3, :process 9, :time 7491938580, :index 2132}
{:type :ok, :f :write, :value 3, :process 9, :time 7497631074, :index 2133}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 7522630357, :index 2137}
{:type :fail, :f :cas, :value [1 0], :process 8, :time 7527248776, :index 2140}
{:type :invoke, :f :read, :value nil, :process 4, :time 7571387015, :index 2148}
{:type :ok, :f :read, :value 3, :process 4, :time 7576369778, :index 2149}
{:type :invoke, :f :write, :value 1, :process 3, :time 7591670676, :index 2152}
{:type :ok, :f :write, :value 1, :process 3, :time 7596251040, :index 2154}
{:type :invoke, :f :cas, :value [2 0], :process 1, :time 7607754006, :index 2156}
{:type :fail, :f :cas, :value [2 0], :process 1, :time 7613334342, :index 2157}
{:type :invoke, :f :write, :value 4, :process 9, :time 7631916723, :index 2159}
{:type :ok, :f :write, :value 4, :process 9, :time 7637254468, :index 2161}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 7649954517, :index 2162}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 7656354730, :index 2163}
{:type :invoke, :f :write, :value 0, :process 1, :time 7672597230, :index 2164}
{:type :ok, :f :write, :value 0, :process 1, :time 7680276886, :index 2166}
{:type :invoke, :f :cas, :value [0 1], :process 1, :time 7680432054, :index 2167}
{:type :ok, :f :cas, :value [0 1], :process 1, :time 7685132468, :index 2169}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 7686544542, :index 2170}
{:type :invoke, :f :write, :value 0, :process 9, :time 7688514313, :index 2172}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 7692066899, :index 2173}
{:type :ok, :f :write, :value 0, :process 9, :time 7693899048, :index 2175}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 7699510993, :index 2176}
{:type :fail, :f :cas, :value [3 3], :process 8, :time 7704471809, :index 2177}
{:type :invoke, :f :read, :value nil, :process 4, :time 7706641786, :index 2178}
{:type :ok, :f :read, :value 0, :process 4, :time 7711608851, :index 2179}
{:type :invoke, :f :read, :value nil, :process 9, :time 7722189796, :index 2182}
{:type :ok, :f :read, :value 0, :process 9, :time 7727149734, :index 2183}
{:type :invoke, :f :read, :value nil, :process 4, :time 7738860938, :index 2186}
{:type :ok, :f :read, :value 0, :process 4, :time 7744121645, :index 2187}
{:type :invoke, :f :write, :value 2, :process 9, :time 7744409851, :index 2188}
{:type :ok, :f :write, :value 2, :process 9, :time 7748736420, :index 2189}
{:type :invoke, :f :read, :value nil, :process 1, :time 7762395947, :index 2193}
{:type :invoke, :f :read, :value nil, :process 4, :time 7767384457, :index 2195}
{:type :ok, :f :read, :value 2, :process 1, :time 7768728583, :index 2196}
{:type :ok, :f :read, :value 2, :process 4, :time 7773396083, :index 2198}
{:type :invoke, :f :write, :value 2, :process 3, :time 7816327886, :index 2204}
{:type :ok, :f :write, :value 2, :process 3, :time 7821568918, :index 2206}
{:type :invoke, :f :read, :value nil, :process 6, :time 7821640973, :index 2207}
{:type :ok, :f :read, :value 2, :process 6, :time 7827345099, :index 2209}
{:type :invoke, :f :read, :value nil, :process 4, :time 7839663711, :index 2210}
{:type :ok, :f :read, :value 2, :process 4, :time 7845427670, :index 2211}
{:type :invoke, :f :read, :value nil, :process 9, :time 7847008874, :index 2213}
{:type :ok, :f :read, :value 2, :process 9, :time 7853166995, :index 2215}
{:type :invoke, :f :read, :value nil, :process 8, :time 7857732583, :index 2216}
{:type :ok, :f :read, :value 2, :process 8, :time 7861827010, :index 2217}
{:type :invoke, :f :read, :value nil, :process 3, :time 7862829031, :index 2218}
{:type :ok, :f :read, :value 2, :process 3, :time 7867135149, :index 2219}
{:type :invoke, :f :write, :value 1, :process 6, :time 7877600845, :index 2223}
{:type :ok, :f :write, :value 1, :process 6, :time 7883277254, :index 2225}
{:type :invoke, :f :write, :value 1, :process 1, :time 7932985459, :index 2236}
{:type :ok, :f :write, :value 1, :process 1, :time 7938632826, :index 2238}
{:type :invoke, :f :read, :value nil, :process 9, :time 7941408068, :index 2240}
{:type :invoke, :f :read, :value nil, :process 4, :time 7941735721, :index 2241}
{:type :ok, :f :read, :value 1, :process 9, :time 7947316170, :index 2244}
{:type :ok, :f :read, :value 1, :process 4, :time 7947867278, :index 2245}
{:type :invoke, :f :read, :value nil, :process 8, :time 7966085965, :index 2246}
{:type :ok, :f :read, :value 1, :process 8, :time 7970856187, :index 2248}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 7994538068, :index 2250}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 7999398048, :index 2251}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 8000383630, :index 2252}
{:type :fail, :f :cas, :value [3 1], :process 3, :time 8004278852, :index 2253}
{:type :invoke, :f :cas, :value [4 4], :process 9, :time 8024570157, :index 2257}
{:type :invoke, :f :write, :value 0, :process 3, :time 8027531134, :index 2260}
{:type :fail, :f :cas, :value [4 4], :process 9, :time 8030695978, :index 2261}
{:type :ok, :f :write, :value 0, :process 3, :time 8033313001, :index 2263}
{:type :invoke, :f :write, :value 4, :process 4, :time 8037127176, :index 2265}
{:type :ok, :f :write, :value 4, :process 4, :time 8041411455, :index 2268}
{:type :invoke, :f :write, :value 1, :process 1, :time 8080883486, :index 2277}
{:type :ok, :f :write, :value 1, :process 1, :time 8086324516, :index 2279}
{:type :invoke, :f :write, :value 2, :process 4, :time 8109677671, :index 2280}
{:type :ok, :f :write, :value 2, :process 4, :time 8115454871, :index 2281}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 8118717765, :index 2282}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 8124531372, :index 2284}
{:type :invoke, :f :write, :value 4, :process 3, :time 8132591866, :index 2286}
{:type :ok, :f :write, :value 4, :process 3, :time 8136859846, :index 2287}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 8139675539, :index 2288}
{:type :invoke, :f :cas, :value [0 0], :process 8, :time 8144122892, :index 2289}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 8145755408, :index 2291}
{:type :fail, :f :cas, :value [0 0], :process 8, :time 8149381471, :index 2293}
{:type :invoke, :f :read, :value nil, :process 8, :time 8176641895, :index 2300}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 8179801203, :index 2301}
{:type :ok, :f :read, :value 4, :process 8, :time 8181080359, :index 2302}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 8185018653, :index 2303}
{:type :invoke, :f :write, :value 1, :process 4, :time 8201279044, :index 2308}
{:type :invoke, :f :read, :value nil, :process 9, :time 8203329830, :index 2309}
{:type :ok, :f :write, :value 1, :process 4, :time 8206201500, :index 2310}
{:type :ok, :f :read, :value 1, :process 9, :time 8208857202, :index 2311}
{:type :invoke, :f :read, :value nil, :process 1, :time 8226584123, :index 2313}
{:type :ok, :f :read, :value 1, :process 1, :time 8231990840, :index 2315}
{:type :invoke, :f :write, :value 1, :process 6, :time 8258007186, :index 2317}
{:type :ok, :f :write, :value 1, :process 6, :time 8263368652, :index 2319}
{:type :invoke, :f :read, :value nil, :process 4, :time 8279460947, :index 2321}
{:type :ok, :f :read, :value 1, :process 4, :time 8285150801, :index 2323}
{:type :invoke, :f :write, :value 4, :process 8, :time 8290342936, :index 2324}
{:type :ok, :f :write, :value 4, :process 8, :time 8294613672, :index 2325}
{:type :invoke, :f :cas, :value [2 2], :process 8, :time 8295897549, :index 2326}
{:type :fail, :f :cas, :value [2 2], :process 8, :time 8300418993, :index 2327}
{:type :invoke, :f :cas, :value [4 2], :process 3, :time 8306125488, :index 2329}
{:type :ok, :f :cas, :value [4 2], :process 3, :time 8312308708, :index 2333}
{:type :invoke, :f :cas, :value [1 2], :process 9, :time 8339111260, :index 2338}
{:type :invoke, :f :read, :value nil, :process 1, :time 8343249330, :index 2339}
{:type :fail, :f :cas, :value [1 2], :process 9, :time 8344562932, :index 2340}
{:type :invoke, :f :write, :value 4, :process 8, :time 8346687913, :index 2342}
{:type :ok, :f :read, :value 2, :process 1, :time 8348140004, :index 2343}
{:type :ok, :f :write, :value 4, :process 8, :time 8350694762, :index 2344}
{:type :invoke, :f :write, :value 1, :process 3, :time 8351565791, :index 2346}
{:type :ok, :f :write, :value 1, :process 3, :time 8356079596, :index 2347}
{:type :invoke, :f :write, :value 4, :process 6, :time 8369622065, :index 2348}
{:type :ok, :f :write, :value 4, :process 6, :time 8374690257, :index 2349}
{:type :invoke, :f :write, :value 0, :process 1, :time 8439418401, :index 2357}
{:type :ok, :f :write, :value 0, :process 1, :time 8446833204, :index 2362}
{:type :invoke, :f :cas, :value [4 4], :process 4, :time 8450404876, :index 2363}
{:type :fail, :f :cas, :value [4 4], :process 4, :time 8455684972, :index 2365}
{:type :invoke, :f :cas, :value [4 0], :process 9, :time 8505831100, :index 2375}
{:type :fail, :f :cas, :value [4 0], :process 9, :time 8511444715, :index 2377}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 8517379546, :index 2378}
{:type :invoke, :f :read, :value nil, :process 6, :time 8537990041, :index 2380}
{:type :invoke, :f :write, :value 2, :process 8, :time 8539967937, :index 2382}
{:type :ok, :f :read, :value 0, :process 6, :time 8542781456, :index 2383}
{:type :ok, :f :write, :value 2, :process 8, :time 8545216106, :index 2384}
{:type :invoke, :f :read, :value nil, :process 1, :time 8550042332, :index 2385}
{:type :ok, :f :read, :value 2, :process 1, :time 8554987594, :index 2386}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :ok, :f :cas, :value [2 4], :process 3, :time 10921904350, :index 2763}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
