{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :invoke, :f :write, :value 3, :process 32, :time 42303380911, :index 6861}
{:type :ok, :f :write, :value 3, :process 32, :time 42308591382, :index 6863}
{:type :invoke, :f :cas, :value [0 2], :process 35, :time 42343699552, :index 6866}
{:type :fail, :f :cas, :value [0 2], :process 35, :time 42349369074, :index 6867}
{:type :invoke, :f :write, :value 1, :process 10, :time 42353878759, :index 6869}
{:type :ok, :f :write, :value 1, :process 10, :time 42360055718, :index 6871}
{:type :invoke, :f :cas, :value [4 0], :process 35, :time 42377677519, :index 6872}
{:type :fail, :f :cas, :value [4 0], :process 35, :time 42384151815, :index 6873}
{:type :invoke, :f :read, :value nil, :process 57, :time 42403023817, :index 6878}
{:type :ok, :f :read, :value 1, :process 57, :time 42407396254, :index 6881}
{:type :invoke, :f :read, :value nil, :process 13, :time 42411897994, :index 6882}
{:type :ok, :f :read, :value 1, :process 13, :time 42417390885, :index 6884}
{:type :invoke, :f :read, :value nil, :process 32, :time 42423842010, :index 6886}
{:type :ok, :f :read, :value 1, :process 32, :time 42428565183, :index 6887}
{:type :invoke, :f :read, :value nil, :process 10, :time 42444299102, :index 6888}
{:type :invoke, :f :write, :value 4, :process 35, :time 42460481238, :index 6891}
{:type :invoke, :f :cas, :value [4 4], :process 18, :time 42473164229, :index 6892}
{:type :invoke, :f :cas, :value [1 2], :process 57, :time 42520643444, :index 6895}
{:type :invoke, :f :read, :value nil, :process 13, :time 42556646190, :index 6898}
{:type :invoke, :f :write, :value 4, :process 32, :time 42605822100, :index 6899}
{:type :ok, :f :read, :value 1, :process 10, :time 42959876660, :index 6900}
{:type :invoke, :f :read, :value nil, :process 10, :time 43045240594, :index 6901}
{:type :ok, :f :cas, :value [4 4], :process 18, :time 45544485254, :index 6903}
{:type :ok, :f :read, :value 4, :process 13, :time 45544721739, :index 6904}
{:type :ok, :f :write, :value 4, :process 32, :time 45545422773, :index 6908}
{:type :fail, :f :cas, :value [1 2], :process 57, :time 45545773523, :index 6910}
{:type :ok, :f :write, :value 4, :process 35, :time 45546028196, :index 6911}
{:type :invoke, :f :cas, :value [4 3], :process 35, :time 45559264111, :index 6913}
{:type :invoke, :f :read, :value nil, :process 57, :time 45603748942, :index 6921}
{:type :ok, :f :cas, :value [4 3], :process 35, :time 45604725046, :index 6924}
{:type :ok, :f :read, :value 4, :process 10, :time 45605250850, :index 6927}
{:type :invoke, :f :write, :value 2, :process 31, :time 45605178591, :index 6928}
{:type :invoke, :f :cas, :value [4 1], :process 19, :time 45607747265, :index 6931}
{:type :ok, :f :read, :value 3, :process 57, :time 45608832285, :index 6932}
{:type :invoke, :f :cas, :value [3 3], :process 57, :time 45608960123, :index 6933}
{:type :fail, :f :cas, :value [3 3], :process 57, :time 45614658699, :index 6935}
{:type :ok, :f :write, :value 2, :process 31, :time 45614958808, :index 6936}
{:type :fail, :f :cas, :value [4 1], :process 19, :time 45616342001, :index 6937}
{:type :invoke, :f :cas, :value [1 0], :process 18, :time 45649009798, :index 6940}
{:type :fail, :f :cas, :value [1 0], :process 18, :time 45661835660, :index 6941}
{:type :invoke, :f :cas, :value [3 4], :process 13, :time 45662085842, :index 6942}
{:type :fail, :f :cas, :value [3 4], :process 13, :time 45667300264, :index 6944}
{:type :invoke, :f :write, :value 1, :process 34, :time 45682354758, :index 6950}
{:type :invoke, :f :cas, :value [3 0], :process 35, :time 45687348016, :index 6952}
{:type :ok, :f :write, :value 1, :process 34, :time 45688658921, :index 6954}
{:type :fail, :f :cas, :value [3 0], :process 35, :time 45693906936, :index 6955}
{:type :invoke, :f :cas, :value [4 2], :process 32, :time 45708677085, :index 6958}
{:type :fail, :f :cas, :value [4 2], :process 32, :time 45713772489, :index 6962}
{:type :invoke, :f :cas, :value [4 1], :process 36, :time 45732458255, :index 6966}
{:type :fail, :f :cas, :value [4 1], :process 36, :time 45737648424, :index 6967}
{:type :invoke, :f :cas, :value [4 0], :process 31, :time 45741191493, :index 6969}
{:type :fail, :f :cas, :value [4 0], :process 31, :time 45745741469, :index 6971}
{:type :invoke, :f :read, :value nil, :process 10, :time 45748802243, :index 6972}
{:type :invoke, :f :cas, :value [3 0], :process 13, :time 45752560690, :index 6973}
{:type :ok, :f :read, :value 1, :process 10, :time 45753335029, :index 6974}
{:type :invoke, :f :read, :value nil, :process 32, :time 45754052942, :index 6976}
{:type :ok, :f :read, :value 1, :process 32, :time 45758213944, :index 6977}
{:type :fail, :f :cas, :value [3 0], :process 13, :time 45758627180, :index 6978}
{:type :invoke, :f :write, :value 3, :process 31, :time 45759996079, :index 6980}
{:type :invoke, :f :read, :value nil, :process 10, :time 45764584630, :index 6981}
{:type :ok, :f :write, :value 3, :process 31, :time 45765559528, :index 6982}
{:type :ok, :f :read, :value 3, :process 10, :time 45769762574, :index 6983}
{:type :invoke, :f :cas, :value [2 3], :process 57, :time 45771914557, :index 6984}
{:type :fail, :f :cas, :value [2 3], :process 57, :time 45776696381, :index 6987}
{:type :invoke, :f :read, :value nil, :process 19, :time 45785614663, :index 6991}
{:type :ok, :f :read, :value 3, :process 19, :time 45790448643, :index 6994}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 45810011620, :index 6998}
{:type :ok, :f :cas, :value [3 2], :process 10, :time 45815538096, :index 7000}
{:type :invoke, :f :write, :value 3, :process 32, :time 45819497310, :index 7003}
{:type :ok, :f :write, :value 3, :process 32, :time 45823977918, :index 7006}
{:type :invoke, :f :cas, :value [0 1], :process 34, :time 45831890386, :index 7008}
{:type :invoke, :f :write, :value 1, :process 35, :time 45832175986, :index 7009}
{:type :invoke, :f :cas, :value [1 0], :process 36, :time 45834905433, :index 7010}
{:type :fail, :f :cas, :value [0 1], :process 34, :time 45836815517, :index 7011}
{:type :invoke, :f :read, :value nil, :process 18, :time 45838113210, :index 7012}
{:type :ok, :f :write, :value 1, :process 35, :time 45838254757, :index 7013}
{:type :ok, :f :cas, :value [1 0], :process 36, :time 45839207353, :index 7014}
{:type :ok, :f :read, :value 0, :process 18, :time 45842818493, :index 7015}
{:type :invoke, :f :write, :value 1, :process 10, :time 45851798941, :index 7019}
{:type :ok, :f :write, :value 1, :process 10, :time 45857707243, :index 7022}
{:type :invoke, :f :read, :value nil, :process 57, :time 45886955143, :index 7029}
{:type :ok, :f :read, :value 1, :process 57, :time 45892439558, :index 7033}
{:type :invoke, :f :write, :value 3, :process 32, :time 45893258132, :index 7034}
{:type :ok, :f :write, :value 3, :process 32, :time 45897705487, :index 7036}
{:type :invoke, :f :read, :value nil, :process 31, :time 45905811744, :index 7038}
{:type :ok, :f :read, :value 3, :process 31, :time 45910996263, :index 7039}
{:type :invoke, :f :write, :value 2, :process 13, :time 45914876561, :index 7040}
{:type :ok, :f :write, :value 2, :process 13, :time 45919507891, :index 7042}
{:type :invoke, :f :cas, :value [2 3], :process 36, :time 45919480442, :index 7043}
{:type :invoke, :f :read, :value nil, :process 13, :time 45922804806, :index 7045}
{:type :ok, :f :cas, :value [2 3], :process 36, :time 45925131118, :index 7046}
{:type :invoke, :f :read, :value nil, :process 57, :time 45925695244, :index 7047}
{:type :ok, :f :read, :value 3, :process 13, :time 45927036841, :index 7048}
{:type :ok, :f :read, :value 3, :process 57, :time 45930595958, :index 7049}
{:type :invoke, :f :write, :value 3, :process 10, :time 45936966385, :index 7052}
{:type :invoke, :f :read, :value nil, :process 19, :time 45942757568, :index 7055}
{:type :ok, :f :write, :value 3, :process 10, :time 45943173965, :index 7056}
{:type :ok, :f :read, :value 3, :process 19, :time 45947833693, :index 7057}
{:type :invoke, :f :read, :value nil, :process 36, :time 45952391480, :index 7058}
{:type :invoke, :f :read, :value nil, :process 18, :time 45971079518, :index 7061}
{:type :invoke, :f :write, :value 0, :process 19, :time 45976990957, :index 7063}
{:type :invoke, :f :cas, :value [3 1], :process 57, :time 45982850245, :index 7064}
{:type :invoke, :f :read, :value nil, :process 10, :time 45992418620, :index 7067}
{:type :invoke, :f :write, :value 2, :process 35, :time 45993501398, :index 7068}
{:type :invoke, :f :cas, :value [3 1], :process 34, :time 46034084922, :index 7071}
{:type :invoke, :f :read, :value nil, :process 31, :time 46074253917, :index 7074}
{:type :invoke, :f :cas, :value [2 0], :process 32, :time 46084030051, :index 7075}
{:type :invoke, :f :cas, :value [2 0], :process 13, :time 46098297504, :index 7077}
{:type :ok, :f :read, :value 3, :process 36, :time 46367092285, :index 7078}
{:type :ok, :f :cas, :value [2 0], :process 32, :time 46381008750, :index 7079}
{:type :fail, :f :cas, :value [2 0], :process 13, :time 46382038215, :index 7080}
{:type :ok, :f :read, :value 3, :process 18, :time 46382306860, :index 7082}
{:type :ok, :f :write, :value 0, :process 19, :time 46382764087, :index 7084}
{:type :fail, :f :cas, :value [3 1], :process 34, :time 46383597081, :index 7088}
{:type :ok, :f :write, :value 2, :process 35, :time 46383752957, :index 7089}
{:type :ok, :f :read, :value 2, :process 31, :time 46383830567, :index 7090}
{:type :ok, :f :read, :value 0, :process 10, :time 46384102293, :index 7091}
{:type :fail, :f :cas, :value [3 1], :process 57, :time 46385207276, :index 7097}
{:type :invoke, :f :read, :value nil, :process 32, :time 46421344591, :index 7102}
{:type :ok, :f :read, :value 0, :process 32, :time 46425853711, :index 7103}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 46442584396, :index 7107}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 46447703837, :index 7109}
{:type :invoke, :f :read, :value nil, :process 31, :time 46451489399, :index 7110}
{:type :invoke, :f :write, :value 1, :process 32, :time 46455106173, :index 7111}
{:type :ok, :f :read, :value 0, :process 31, :time 46456550291, :index 7112}
{:type :ok, :f :write, :value 1, :process 32, :time 46462233044, :index 7113}
{:type :invoke, :f :read, :value nil, :process 19, :time 46462706188, :index 7114}
{:type :ok, :f :read, :value 1, :process 19, :time 46467889356, :index 7116}
{:type :invoke, :f :write, :value 1, :process 19, :time 46492144338, :index 7120}
{:type :invoke, :f :cas, :value [4 3], :process 13, :time 46492348170, :index 7121}
{:type :ok, :f :write, :value 1, :process 19, :time 46497271068, :index 7123}
{:type :fail, :f :cas, :value [4 3], :process 13, :time 46498103812, :index 7126}
{:type :invoke, :f :cas, :value [2 3], :process 35, :time 46516366650, :index 7128}
{:type :fail, :f :cas, :value [2 3], :process 35, :time 46522813127, :index 7130}
{:type :invoke, :f :read, :value nil, :process 10, :time 46529659089, :index 7134}
{:type :ok, :f :read, :value 1, :process 10, :time 46535163821, :index 7136}
{:type :invoke, :f :cas, :value [3 2], :process 36, :time 46536439739, :index 7138}
{:type :fail, :f :cas, :value [3 2], :process 36, :time 46540965405, :index 7139}
{:type :invoke, :f :read, :value nil, :process 34, :time 46542180830, :index 7140}
{:type :ok, :f :read, :value 1, :process 34, :time 46547077416, :index 7142}
{:type :invoke, :f :read, :value nil, :process 57, :time 46552591587, :index 7144}
{:type :invoke, :f :write, :value 4, :process 32, :time 46555496375, :index 7145}
{:type :ok, :f :read, :value 1, :process 57, :time 46556497626, :index 7147}
{:type :ok, :f :write, :value 4, :process 32, :time 46560320115, :index 7148}
{:type :invoke, :f :cas, :value [3 2], :process 31, :time 46561807949, :index 7151}
{:type :fail, :f :cas, :value [3 2], :process 31, :time 46567598363, :index 7153}
{:type :invoke, :f :read, :value nil, :process 18, :time 46583965510, :index 7158}
{:type :ok, :f :read, :value 4, :process 18, :time 46589154788, :index 7159}
{:type :invoke, :f :write, :value 0, :process 32, :time 46592578488, :index 7161}
{:type :ok, :f :write, :value 0, :process 32, :time 46597757018, :index 7163}
{:type :invoke, :f :cas, :value [4 3], :process 35, :time 46600068506, :index 7165}
{:type :invoke, :f :write, :value 4, :process 57, :time 46605790141, :index 7167}
{:type :fail, :f :cas, :value [4 3], :process 35, :time 46606124834, :index 7168}
{:type :ok, :f :write, :value 4, :process 57, :time 46610213213, :index 7170}
{:type :invoke, :f :cas, :value [3 1], :process 19, :time 46628572909, :index 7174}
{:type :fail, :f :cas, :value [3 1], :process 19, :time 46634148487, :index 7175}
{:type :invoke, :f :read, :value nil, :process 34, :time 46635330305, :index 7176}
{:type :ok, :f :read, :value 4, :process 34, :time 46640681080, :index 7177}
{:type :invoke, :f :cas, :value [3 1], :process 13, :time 46646347326, :index 7178}
{:type :fail, :f :cas, :value [3 1], :process 13, :time 46651228052, :index 7179}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 46662431033, :index 7182}
{:type :ok, :f :cas, :value [4 4], :process 10, :time 46667955012, :index 7184}
{:type :invoke, :f :write, :value 2, :process 31, :time 46697854692, :index 7192}
{:type :invoke, :f :cas, :value [4 3], :process 32, :time 46699011666, :index 7194}
{:type :invoke, :f :cas, :value [1 1], :process 57, :time 46700528455, :index 7195}
{:type :invoke, :f :cas, :value [3 0], :process 36, :time 46703239584, :index 7197}
{:type :ok, :f :write, :value 2, :process 31, :time 46703473475, :index 7198}
{:type :fail, :f :cas, :value [4 3], :process 32, :time 46704233987, :index 7200}
{:type :invoke, :f :cas, :value [1 0], :process 19, :time 46704407605, :index 7201}
{:type :fail, :f :cas, :value [1 1], :process 57, :time 46705994696, :index 7202}
{:type :fail, :f :cas, :value [3 0], :process 36, :time 46709005038, :index 7205}
{:type :fail, :f :cas, :value [1 0], :process 19, :time 46710437381, :index 7206}
{:type :invoke, :f :cas, :value [0 4], :process 19, :time 46712716012, :index 7207}
{:type :fail, :f :cas, :value [0 4], :process 19, :time 46718277418, :index 7210}
{:type :invoke, :f :write, :value 4, :process 31, :time 46718738698, :index 7212}
{:type :ok, :f :write, :value 4, :process 31, :time 46724571069, :index 7215}
{:type :invoke, :f :read, :value nil, :process 35, :time 46733362717, :index 7216}
{:type :invoke, :f :write, :value 1, :process 18, :time 46737414499, :index 7217}
{:type :ok, :f :read, :value 4, :process 35, :time 46738937181, :index 7218}
{:type :ok, :f :write, :value 1, :process 18, :time 46742822774, :index 7219}
{:type :invoke, :f :cas, :value [0 2], :process 32, :time 46766492667, :index 7223}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :fail, :f :cas, :value [0 2], :process 32, :time 46772078195, :index 7227}
{:type :invoke, :f :read, :value nil, :process 19, :time 46776541934, :index 7229}
{:type :invoke, :f :read, :value nil, :process 36, :time 46796262607, :index 7232}
{:type :invoke, :f :cas, :value [1 0], :process 34, :time 46803937804, :index 7233}
{:type :invoke, :f :read, :value nil, :process 35, :time 46808242957, :index 7234}
{:type :invoke, :f :cas, :value [1 0], :process 13, :time 46825486432, :index 7236}
{:type :invoke, :f :write, :value 3, :process 57, :time 46827252727, :index 7237}
{:type :invoke, :f :cas, :value [1 4], :process 10, :time 46861245926, :index 7241}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :invoke, :f :read, :value nil, :process 31, :time 46874818350, :index 7243}
{:type :invoke, :f :write, :value 0, :process 18, :time 46940086413, :index 7249}
{:type :fail, :f :read, :value nil, :process 19, :time 51781560863, :error :timeout, :index 7250}
{:type :fail, :f :read, :value nil, :process 36, :time 51801633374, :error :timeout, :index 7252}
{:type :info, :f :cas, :value [1 0], :process 34, :time 51810782734, :error :timeout, :index 7254}
{:type :fail, :f :read, :value nil, :process 35, :time 51814780900, :error :timeout, :index 7255}
{:type :info, :f :cas, :value [1 0], :process 13, :time 51831055511, :error :timeout, :index 7259}
{:type :info, :f :write, :value 3, :process 57, :time 51831054724, :error :timeout, :index 7260}
{:type :info, :f :cas, :value [1 4], :process 10, :time 51866779574, :error :timeout, :index 7269}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :fail, :f :read, :value nil, :process 31, :time 51881396082, :error :timeout, :index 7272}
{:type :info, :f :write, :value 0, :process 18, :time 51942353903, :error :timeout, :index 7282}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
