{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :invoke, :f :cas, :value [1 4], :process 42, :time 25601601896, :index 5138}
{:type :invoke, :f :read, :value nil, :process 1, :time 25636519381, :index 5145}
{:type :fail, :f :cas, :value [1 4], :process 42, :time 25637485434, :error :not-found, :index 5147}
{:type :ok, :f :read, :value nil, :process 1, :time 25642818364, :index 5151}
{:type :invoke, :f :cas, :value [3 0], :process 25, :time 25651503341, :index 5154}
{:type :invoke, :f :read, :value nil, :process 20, :time 25651590559, :index 5155}
{:type :fail, :f :cas, :value [3 0], :process 25, :time 25656959746, :error :not-found, :index 5156}
{:type :ok, :f :read, :value nil, :process 20, :time 25657628643, :index 5157}
{:type :invoke, :f :read, :value nil, :process 8, :time 25660324745, :index 5159}
{:type :invoke, :f :write, :value 0, :process 6, :time 25664881758, :index 5160}
{:type :ok, :f :read, :value nil, :process 8, :time 25665779443, :index 5161}
{:type :invoke, :f :cas, :value [1 1], :process 42, :time 25665742816, :index 5162}
{:type :invoke, :f :read, :value nil, :process 3, :time 25666447841, :index 5164}
{:type :ok, :f :write, :value 0, :process 6, :time 25669913511, :index 5165}
{:type :ok, :f :read, :value 0, :process 3, :time 25671589124, :index 5166}
{:type :fail, :f :cas, :value [1 1], :process 42, :time 25671971372, :index 5167}
{:type :invoke, :f :read, :value nil, :process 9, :time 25693032182, :index 5171}
{:type :invoke, :f :write, :value 4, :process 8, :time 25698089285, :index 5173}
{:type :ok, :f :read, :value 0, :process 9, :time 25698245167, :index 5174}
{:type :invoke, :f :read, :value nil, :process 27, :time 25702348193, :index 5175}
{:type :invoke, :f :read, :value nil, :process 4, :time 25702977925, :index 5176}
{:type :ok, :f :write, :value 4, :process 8, :time 25703236555, :index 5177}
{:type :ok, :f :read, :value 4, :process 27, :time 25707149775, :index 5179}
{:type :ok, :f :read, :value 4, :process 4, :time 25708662121, :index 5180}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 25715170725, :index 5184}
{:type :invoke, :f :cas, :value [0 1], :process 1, :time 25720095704, :index 5187}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 25720608233, :index 5188}
{:type :fail, :f :cas, :value [0 1], :process 1, :time 25725733930, :index 5191}
{:type :invoke, :f :read, :value nil, :process 1, :time 25747026944, :index 5194}
{:type :ok, :f :read, :value 4, :process 1, :time 25752364264, :index 5196}
{:type :invoke, :f :cas, :value [4 2], :process 8, :time 25754481141, :index 5199}
{:type :ok, :f :cas, :value [4 2], :process 8, :time 25759771171, :index 5201}
{:type :invoke, :f :cas, :value [4 2], :process 27, :time 25765408955, :index 5203}
{:type :invoke, :f :read, :value nil, :process 25, :time 25767229447, :index 5205}
{:type :fail, :f :cas, :value [4 2], :process 27, :time 25770304711, :index 5206}
{:type :ok, :f :read, :value 2, :process 25, :time 25772330679, :index 5207}
{:type :invoke, :f :write, :value 0, :process 42, :time 25781206982, :index 5210}
{:type :invoke, :f :write, :value 4, :process 3, :time 25781853383, :index 5212}
{:type :ok, :f :write, :value 4, :process 3, :time 25786066364, :index 5214}
{:type :ok, :f :write, :value 0, :process 42, :time 25787320913, :index 5215}
{:type :invoke, :f :write, :value 1, :process 20, :time 25799869943, :index 5218}
{:type :ok, :f :write, :value 1, :process 20, :time 25805327631, :index 5220}
{:type :invoke, :f :read, :value nil, :process 4, :time 25817864317, :index 5226}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 25819039592, :index 5227}
{:type :ok, :f :read, :value 1, :process 4, :time 25823254209, :index 5228}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 25824049731, :index 5229}
{:type :invoke, :f :read, :value nil, :process 6, :time 25833894353, :index 5232}
{:type :ok, :f :read, :value 1, :process 6, :time 25838638181, :index 5233}
{:type :invoke, :f :cas, :value [3 2], :process 1, :time 25845619420, :index 5234}
{:type :fail, :f :cas, :value [3 2], :process 1, :time 25850757734, :index 5237}
{:type :invoke, :f :cas, :value [1 1], :process 42, :time 25858585394, :index 5243}
{:type :invoke, :f :write, :value 2, :process 4, :time 25860546582, :index 5245}
{:type :invoke, :f :read, :value nil, :process 27, :time 25860752700, :index 5246}
{:type :ok, :f :cas, :value [1 1], :process 42, :time 25863049329, :index 5247}
{:type :ok, :f :write, :value 2, :process 4, :time 25865188417, :index 5248}
{:type :ok, :f :read, :value 2, :process 27, :time 25865725779, :index 5249}
{:type :invoke, :f :cas, :value [4 1], :process 25, :time 25881585125, :index 5254}
{:type :invoke, :f :read, :value nil, :process 3, :time 25885320486, :index 5256}
{:type :invoke, :f :read, :value nil, :process 9, :time 25886506127, :index 5258}
{:type :fail, :f :cas, :value [4 1], :process 25, :time 25887176420, :index 5259}
{:type :ok, :f :read, :value 2, :process 3, :time 25889950474, :index 5262}
{:type :ok, :f :read, :value 2, :process 9, :time 25891901765, :index 5264}
{:type :invoke, :f :read, :value nil, :process 20, :time 25931589527, :index 5275}
{:type :invoke, :f :write, :value 1, :process 3, :time 25932222186, :index 5276}
{:type :ok, :f :write, :value 1, :process 3, :time 25937132459, :index 5278}
{:type :ok, :f :read, :value 2, :process 20, :time 25937349569, :index 5279}
{:type :invoke, :f :read, :value nil, :process 8, :time 25982311072, :index 5293}
{:type :ok, :f :read, :value 1, :process 8, :time 25987089686, :index 5295}
{:type :invoke, :f :read, :value nil, :process 27, :time 25988974275, :index 5296}
{:type :invoke, :f :cas, :value [0 0], :process 42, :time 25990242466, :index 5297}
{:type :ok, :f :read, :value 1, :process 27, :time 25994810614, :index 5298}
{:type :fail, :f :cas, :value [0 0], :process 42, :time 25995505829, :index 5299}
{:type :invoke, :f :read, :value nil, :process 8, :time 26006323632, :index 5301}
{:type :invoke, :f :write, :value 4, :process 3, :time 26011391714, :index 5303}
{:type :ok, :f :read, :value 1, :process 8, :time 26011663986, :index 5304}
{:type :ok, :f :write, :value 4, :process 3, :time 26016087573, :index 5305}
{:type :invoke, :f :read, :value nil, :process 1, :time 26018011176, :index 5306}
{:type :invoke, :f :write, :value 0, :process 6, :time 26021894272, :index 5307}
{:type :ok, :f :read, :value 4, :process 1, :time 26022716495, :index 5308}
{:type :ok, :f :write, :value 0, :process 6, :time 26027123486, :index 5310}
{:type :invoke, :f :read, :value nil, :process 25, :time 26036461183, :index 5311}
{:type :invoke, :f :cas, :value [4 1], :process 20, :time 26038569304, :index 5312}
{:type :ok, :f :read, :value 0, :process 25, :time 26042129011, :index 5314}
{:type :fail, :f :cas, :value [4 1], :process 20, :time 26044134969, :index 5316}
{:type :invoke, :f :cas, :value [1 2], :process 42, :time 26052763430, :index 5319}
{:type :invoke, :f :write, :value 3, :process 6, :time 26056382718, :index 5320}
{:type :invoke, :f :write, :value 2, :process 4, :time 26057443818, :index 5321}
{:type :ok, :f :write, :value 3, :process 6, :time 26061873300, :index 5322}
{:type :ok, :f :write, :value 2, :process 4, :time 26062423195, :index 5323}
{:type :invoke, :f :write, :value 0, :process 27, :time 26074072937, :index 5325}
{:type :invoke, :f :cas, :value [1 2], :process 9, :time 26079156750, :index 5327}
{:type :ok, :f :write, :value 0, :process 27, :time 26082798607, :index 5329}
{:type :fail, :f :cas, :value [1 2], :process 42, :time 26082917262, :index 5330}
{:type :fail, :f :cas, :value [1 2], :process 9, :time 26084224720, :index 5331}
{:type :invoke, :f :cas, :value [0 4], :process 20, :time 26122416803, :index 5342}
{:type :ok, :f :cas, :value [0 4], :process 20, :time 26128863444, :index 5345}
{:type :invoke, :f :write, :value 0, :process 8, :time 26135902356, :index 5347}
{:type :ok, :f :write, :value 0, :process 8, :time 26140678923, :index 5349}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :invoke, :f :read, :value nil, :process 42, :time 26169170314, :index 5352}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 26196351399, :index 5353}
{:type :invoke, :f :write, :value 0, :process 1, :time 26198012636, :index 5354}
{:type :invoke, :f :write, :value 2, :process 25, :time 26202387865, :index 5355}
{:type :invoke, :f :write, :value 2, :process 9, :time 26212487925, :index 5358}
{:type :invoke, :f :write, :value 2, :process 4, :time 26246681329, :index 5363}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :invoke, :f :write, :value 1, :process 27, :time 26268573590, :index 5366}
{:type :invoke, :f :write, :value 2, :process 6, :time 26271456468, :index 5367}
{:type :invoke, :f :cas, :value [0 2], :process 20, :time 26276345452, :index 5368}
{:type :invoke, :f :read, :value nil, :process 8, :time 26329935705, :index 5371}
{:type :fail, :f :read, :value nil, :process 42, :time 31174793542, :error :timeout, :index 5373}
{:type :info, :f :cas, :value [2 0], :process 3, :time 31201229497, :error :timeout, :index 5374}
{:type :info, :f :write, :value 0, :process 1, :time 31202891798, :error :timeout, :index 5375}
{:type :info, :f :write, :value 2, :process 25, :time 31206777971, :error :timeout, :index 5376}
{:type :info, :f :write, :value 2, :process 9, :time 31218780119, :error :timeout, :index 5380}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :write, :value 2, :process 4, :time 31251857772, :error :timeout, :index 5385}
{:type :invoke, :f :read, :value nil, :process 29, :time 31265418310, :index 5390}
{:type :info, :f :write, :value 1, :process 27, :time 31276799908, :error :timeout, :index 5393}
{:type :info, :f :write, :value 2, :process 6, :time 31276799908, :error :timeout, :index 5394}
{:type :info, :f :cas, :value [0 2], :process 20, :time 31284300305, :error :timeout, :index 5395}
{:type :invoke, :f :read, :value nil, :process 21, :time 31287500318, :index 5396}
{:type :ok, :f :read, :value 0, :process 21, :time 31293214758, :index 5398}
{:type :invoke, :f :read, :value nil, :process 42, :time 31319056034, :index 5403}
{:type :ok, :f :read, :value 0, :process 42, :time 31324545329, :index 5407}
{:type :invoke, :f :read, :value nil, :process 42, :time 31327829930, :index 5409}
{:type :invoke, :f :read, :value nil, :process 45, :time 31329731765, :index 5410}
{:type :ok, :f :read, :value 0, :process 42, :time 31333316531, :index 5411}
{:type :ok, :f :read, :value 0, :process 45, :time 31334389406, :index 5412}
{:type :fail, :f :read, :value nil, :process 8, :time 31336513079, :error :timeout, :index 5413}
{:type :invoke, :f :cas, :value [4 0], :process 23, :time 31344142198, :index 5414}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 31370465737, :index 5416}
{:type :fail, :f :cas, :value [4 2], :process 21, :time 31376781974, :index 5417}
{:type :invoke, :f :read, :value nil, :process 45, :time 31377643700, :index 5418}
{:type :ok, :f :read, :value 0, :process 45, :time 31382420141, :index 5419}
{:type :invoke, :f :cas, :value [4 4], :process 21, :time 31394051345, :index 5422}
{:type :fail, :f :cas, :value [4 4], :process 21, :time 31399410100, :index 5426}
{:type :invoke, :f :write, :value 3, :process 26, :time 31404856325, :index 5428}
{:type :ok, :f :write, :value 3, :process 26, :time 31409951143, :index 5430}
{:type :invoke, :f :cas, :value [1 0], :process 24, :time 31412641442, :index 5431}
{:type :invoke, :f :cas, :value [4 0], :process 21, :time 31426678718, :index 5436}
{:type :invoke, :f :read, :value nil, :process 40, :time 31428939729, :index 5437}
{:type :fail, :f :cas, :value [4 0], :process 21, :time 31431877613, :index 5438}
{:type :ok, :f :read, :value 3, :process 40, :time 31433915412, :index 5439}
{:type :invoke, :f :write, :value 4, :process 47, :time 31439425899, :index 5440}
{:type :invoke, :f :read, :value nil, :process 42, :time 31443573616, :index 5441}
{:type :ok, :f :write, :value 4, :process 47, :time 31444718374, :index 5442}
{:type :ok, :f :read, :value 4, :process 42, :time 31448724902, :index 5443}
{:type :invoke, :f :cas, :value [2 4], :process 42, :time 31451025669, :index 5444}
{:type :fail, :f :cas, :value [2 4], :process 42, :time 31457710228, :index 5446}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :invoke, :f :read, :value nil, :process 8, :time 31489779790, :index 5449}
{:type :invoke, :f :read, :value nil, :process 45, :time 31492701192, :index 5450}
{:type :invoke, :f :write, :value 1, :process 40, :time 31520167420, :index 5452}
{:type :invoke, :f :cas, :value [1 2], :process 26, :time 31526211058, :index 5453}
{:type :invoke, :f :cas, :value [2 2], :process 42, :time 31551969831, :index 5454}
{:type :invoke, :f :read, :value nil, :process 47, :time 31555976307, :index 5456}
{:type :invoke, :f :write, :value 4, :process 21, :time 31597134664, :index 5460}
{:type :ok, :f :read, :value 1, :process 47, :time 34134503450, :index 5464}
{:type :fail, :f :cas, :value [2 2], :process 42, :time 34134582633, :index 5465}
{:type :ok, :f :read, :value 4, :process 45, :time 34134835270, :index 5466}
{:type :ok, :f :write, :value 1, :process 40, :time 34134846044, :index 5467}
{:type :invoke, :f :write, :value 3, :process 45, :time 34134993593, :index 5468}
{:type :fail, :f :cas, :value [1 2], :process 26, :time 34135672444, :index 5469}
{:type :ok, :f :write, :value 4, :process 21, :time 34137045968, :index 5475}
{:type :ok, :f :read, :value 1, :process 8, :time 34137406624, :index 5476}
{:type :fail, :f :cas, :value [4 0], :process 23, :time 34137939561, :index 5477}
{:type :ok, :f :cas, :value [1 0], :process 24, :time 34138748237, :index 5480}
{:type :ok, :f :read, :value 1, :process 29, :time 34139101704, :index 5482}
{:type :ok, :f :write, :value 3, :process 45, :time 34142745101, :index 5484}
{:type :invoke, :f :cas, :value [3 2], :process 42, :time 34185819494, :index 5491}
{:type :ok, :f :cas, :value [3 2], :process 42, :time 34190634300, :index 5494}
{:type :invoke, :f :cas, :value [2 0], :process 47, :time 34200798132, :index 5496}
{:type :ok, :f :cas, :value [2 0], :process 47, :time 34204931074, :index 5497}
{:type :invoke, :f :cas, :value [0 3], :process 40, :time 34207119232, :index 5498}
{:type :invoke, :f :read, :value nil, :process 8, :time 34207700603, :index 5499}
{:type :invoke, :f :write, :value 0, :process 21, :time 34210293358, :index 5500}
{:type :ok, :f :read, :value 3, :process 8, :time 34212347544, :index 5501}
{:type :ok, :f :cas, :value [0 3], :process 40, :time 34212600577, :index 5502}
{:type :ok, :f :write, :value 0, :process 21, :time 34214689822, :index 5503}
{:type :invoke, :f :write, :value 1, :process 24, :time 34230055969, :index 5510}
{:type :ok, :f :write, :value 1, :process 24, :time 34235284979, :index 5511}
{:type :invoke, :f :read, :value nil, :process 42, :time 34279957915, :index 5516}
{:type :ok, :f :read, :value 1, :process 42, :time 34285152965, :index 5517}
{:type :invoke, :f :read, :value nil, :process 45, :time 34287995463, :index 5518}
{:type :ok, :f :read, :value 1, :process 45, :time 34293469081, :index 5519}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 34301616278, :index 5520}
{:type :ok, :f :cas, :value [1 2], :process 8, :time 34306941053, :index 5521}
{:type :invoke, :f :write, :value 1, :process 24, :time 34308541165, :index 5523}
{:type :invoke, :f :cas, :value [1 4], :process 40, :time 34312838717, :index 5525}
{:type :invoke, :f :read, :value nil, :process 29, :time 34313350412, :index 5526}
{:type :ok, :f :write, :value 1, :process 24, :time 34314022501, :index 5527}
{:type :ok, :f :cas, :value [1 4], :process 40, :time 34319357668, :index 5529}
{:type :ok, :f :read, :value 4, :process 29, :time 34319590823, :index 5530}
{:type :invoke, :f :write, :value 1, :process 26, :time 34326932486, :index 5534}
{:type :ok, :f :write, :value 1, :process 26, :time 34331857595, :index 5536}
{:type :invoke, :f :cas, :value [1 4], :process 23, :time 34334191508, :index 5538}
{:type :ok, :f :cas, :value [1 4], :process 23, :time 34339236846, :index 5540}
{:type :invoke, :f :write, :value 3, :process 47, :time 34378216420, :index 5562}
{:type :ok, :f :write, :value 3, :process 47, :time 34383221436, :index 5565}
{:type :invoke, :f :read, :value nil, :process 21, :time 34394023131, :index 5570}
{:type :ok, :f :read, :value 3, :process 21, :time 34399172604, :index 5572}
{:type :invoke, :f :write, :value 2, :process 42, :time 34422415724, :index 5580}
{:type :ok, :f :write, :value 2, :process 42, :time 34427428644, :index 5584}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
