{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :invoke, :f :read, :value nil, :process 3, :time 39242736843, :index 13178}
{:type :invoke, :f :write, :value 2, :process 8, :time 39243622560, :index 13179}
{:type :fail, :f :read, :value nil, :process 3, :time 39244564842, :error :connect, :index 13180}
{:type :fail, :f :write, :value 2, :process 8, :time 39245178056, :error :connect, :index 13181}
{:type :invoke, :f :cas, :value [3 1], :process 8, :time 39249409734, :index 13182}
{:type :fail, :f :cas, :value [3 1], :process 8, :time 39251249947, :error :connect, :index 13183}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 39259834260, :index 13186}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 39261581930, :error :connect, :index 13188}
{:type :invoke, :f :cas, :value [4 0], :process 4, :time 39275621520, :index 13192}
{:type :fail, :f :cas, :value [4 0], :process 4, :time 39277520641, :error :connect, :index 13193}
{:type :invoke, :f :read, :value nil, :process 5, :time 39296392965, :index 13200}
{:type :invoke, :f :read, :value nil, :process 29, :time 39298149365, :index 13201}
{:type :fail, :f :read, :value nil, :process 5, :time 39298276568, :error :connect, :index 13202}
{:type :invoke, :f :cas, :value [1 0], :process 21, :time 39298631620, :index 13203}
{:type :fail, :f :read, :value nil, :process 29, :time 39300413663, :error :connect, :index 13205}
{:type :fail, :f :cas, :value [1 0], :process 21, :time 39300893334, :error :connect, :index 13206}
{:type :invoke, :f :write, :value 0, :process 4, :time 39306730419, :index 13208}
{:type :fail, :f :write, :value 0, :process 4, :time 39308462670, :error :connect, :index 13209}
{:type :invoke, :f :cas, :value [2 4], :process 21, :time 39321150708, :index 13214}
{:type :invoke, :f :write, :value 2, :process 4, :time 39322728238, :index 13215}
{:type :fail, :f :cas, :value [2 4], :process 21, :time 39323068535, :error :connect, :index 13216}
{:type :fail, :f :write, :value 2, :process 4, :time 39324709105, :error :connect, :index 13218}
{:type :invoke, :f :cas, :value [4 3], :process 8, :time 39332514959, :index 13220}
{:type :fail, :f :cas, :value [4 3], :process 8, :time 39334235399, :error :connect, :index 13221}
{:type :invoke, :f :read, :value nil, :process 8, :time 39360502439, :index 13230}
{:type :fail, :f :read, :value nil, :process 8, :time 39362168672, :error :connect, :index 13231}
{:type :invoke, :f :write, :value 2, :process 6, :time 39378276823, :index 13235}
{:type :fail, :f :write, :value 2, :process 6, :time 39380442063, :error :connect, :index 13237}
{:type :invoke, :f :write, :value 2, :process 29, :time 39385667597, :index 13240}
{:type :fail, :f :write, :value 2, :process 29, :time 39387265583, :error :connect, :index 13241}
{:type :invoke, :f :read, :value nil, :process 8, :time 39387426002, :index 13242}
{:type :fail, :f :read, :value nil, :process 8, :time 39389312954, :error :connect, :index 13243}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 39390151541, :index 13244}
{:type :invoke, :f :cas, :value [0 4], :process 21, :time 39391322451, :index 13245}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 39392166350, :error :connect, :index 13246}
{:type :fail, :f :cas, :value [0 4], :process 21, :time 39392977696, :error :connect, :index 13247}
{:type :invoke, :f :read, :value nil, :process 22, :time 39410129310, :index 13256}
{:type :fail, :f :read, :value nil, :process 22, :time 39412007748, :error :connect, :index 13257}
{:type :invoke, :f :read, :value nil, :process 5, :time 39424518643, :index 13260}
{:type :invoke, :f :read, :value nil, :process 4, :time 39424986887, :index 13261}
{:type :fail, :f :read, :value nil, :process 5, :time 39426225289, :error :connect, :index 13262}
{:type :fail, :f :read, :value nil, :process 4, :time 39426825448, :error :connect, :index 13263}
{:type :invoke, :f :write, :value 0, :process 21, :time 39429233268, :index 13264}
{:type :fail, :f :write, :value 0, :process 21, :time 39431317882, :error :connect, :index 13265}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 39435845661, :index 13266}
{:type :invoke, :f :read, :value nil, :process 8, :time 39436599970, :index 13268}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 39437599257, :error :connect, :index 13269}
{:type :fail, :f :read, :value nil, :process 8, :time 39438335615, :error :connect, :index 13271}
{:type :invoke, :f :write, :value 3, :process 7, :time 39455472962, :index 13272}
{:type :fail, :f :write, :value 3, :process 7, :time 39457122083, :error :connect, :index 13273}
{:type :invoke, :f :write, :value 3, :process 5, :time 39457491033, :index 13274}
{:type :fail, :f :write, :value 3, :process 5, :time 39459514482, :error :connect, :index 13275}
{:type :invoke, :f :read, :value nil, :process 6, :time 39476695375, :index 13282}
{:type :fail, :f :read, :value nil, :process 6, :time 39478497739, :error :connect, :index 13283}
{:type :invoke, :f :write, :value 1, :process 8, :time 39486633829, :index 13284}
{:type :fail, :f :write, :value 1, :process 8, :time 39488637737, :error :connect, :index 13285}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 39499388118, :index 13286}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 39501234073, :error :connect, :index 13287}
{:type :invoke, :f :cas, :value [2 1], :process 6, :time 39509761391, :index 13290}
{:type :invoke, :f :write, :value 1, :process 21, :time 39510583765, :index 13291}
{:type :fail, :f :cas, :value [2 1], :process 6, :time 39511505017, :error :connect, :index 13292}
{:type :fail, :f :write, :value 1, :process 21, :time 39512655210, :error :connect, :index 13293}
{:type :invoke, :f :write, :value 3, :process 0, :time 39527440665, :index 13296}
{:type :fail, :f :write, :value 3, :process 0, :time 39529575737, :error :connect, :index 13297}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 39538274176, :index 13302}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 39540492679, :error :connect, :index 13307}
{:type :invoke, :f :cas, :value [0 4], :process 4, :time 39545086107, :index 13312}
{:type :fail, :f :cas, :value [0 4], :process 4, :time 39547048651, :error :connect, :index 13313}
{:type :invoke, :f :cas, :value [3 0], :process 29, :time 39578530925, :index 13320}
{:type :fail, :f :cas, :value [3 0], :process 29, :time 39580431072, :error :connect, :index 13321}
{:type :invoke, :f :read, :value nil, :process 22, :time 39583764611, :index 13322}
{:type :fail, :f :read, :value nil, :process 22, :time 39585680187, :error :connect, :index 13323}
{:type :invoke, :f :write, :value 1, :process 4, :time 39587327538, :index 13325}
{:type :invoke, :f :read, :value nil, :process 6, :time 39588018022, :index 13327}
{:type :fail, :f :write, :value 1, :process 4, :time 39589491638, :error :connect, :index 13328}
{:type :fail, :f :read, :value nil, :process 6, :time 39589908381, :error :connect, :index 13329}
{:type :invoke, :f :cas, :value [3 1], :process 21, :time 39590919665, :index 13330}
{:type :fail, :f :cas, :value [3 1], :process 21, :time 39592730568, :error :connect, :index 13331}
{:type :invoke, :f :cas, :value [1 3], :process 29, :time 39592714704, :index 13332}
{:type :fail, :f :cas, :value [1 3], :process 29, :time 39594774241, :error :connect, :index 13333}
{:type :invoke, :f :write, :value 4, :process 6, :time 39611143418, :index 13340}
{:type :invoke, :f :read, :value nil, :process 29, :time 39612040105, :index 13341}
{:type :fail, :f :write, :value 4, :process 6, :time 39612810953, :error :connect, :index 13342}
{:type :invoke, :f :write, :value 3, :process 3, :time 39612882925, :index 13343}
{:type :fail, :f :read, :value nil, :process 29, :time 39614023176, :error :connect, :index 13344}
{:type :fail, :f :write, :value 3, :process 3, :time 39614611525, :error :connect, :index 13345}
{:type :invoke, :f :read, :value nil, :process 5, :time 39652776579, :index 13356}
{:type :fail, :f :read, :value nil, :process 5, :time 39654976865, :error :connect, :index 13357}
{:type :invoke, :f :read, :value nil, :process 4, :time 39666728088, :index 13362}
{:type :fail, :f :read, :value nil, :process 4, :time 39668724122, :error :connect, :index 13363}
{:type :invoke, :f :write, :value 2, :process 0, :time 39668835052, :index 13364}
{:type :fail, :f :write, :value 2, :process 0, :time 39670412520, :error :connect, :index 13365}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 39672528054, :index 13366}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 39674633758, :error :connect, :index 13368}
{:type :invoke, :f :read, :value nil, :process 5, :time 39677263037, :index 13370}
{:type :fail, :f :read, :value nil, :process 5, :time 39679236856, :error :connect, :index 13371}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 39686925993, :index 13372}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 39688822495, :error :connect, :index 13373}
{:type :invoke, :f :read, :value nil, :process 22, :time 39694937523, :index 13374}
{:type :fail, :f :read, :value nil, :process 22, :time 39696624810, :error :connect, :index 13375}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 39725983293, :index 13378}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 39727876372, :error :connect, :index 13379}
{:type :invoke, :f :write, :value 2, :process 21, :time 39731038559, :index 13380}
{:type :fail, :f :write, :value 2, :process 21, :time 39732734056, :error :connect, :index 13381}
{:type :invoke, :f :cas, :value [3 2], :process 29, :time 39739287209, :index 13382}
{:type :fail, :f :cas, :value [3 2], :process 29, :time 39741204962, :error :connect, :index 13383}
{:type :invoke, :f :write, :value 2, :process 6, :time 39748083579, :index 13387}
{:type :fail, :f :write, :value 2, :process 6, :time 39749955472, :error :connect, :index 13389}
{:type :invoke, :f :read, :value nil, :process 8, :time 39755099457, :index 13392}
{:type :fail, :f :read, :value nil, :process 8, :time 39756955929, :error :connect, :index 13393}
{:type :invoke, :f :read, :value nil, :process 3, :time 39765882535, :index 13396}
{:type :fail, :f :read, :value nil, :process 3, :time 39768506627, :error :connect, :index 13397}
{:type :invoke, :f :read, :value nil, :process 22, :time 39771880167, :index 13398}
{:type :fail, :f :read, :value nil, :process 22, :time 39773519223, :error :connect, :index 13399}
{:type :invoke, :f :read, :value nil, :process 4, :time 39799159939, :index 13408}
{:type :invoke, :f :read, :value nil, :process 21, :time 39799992643, :index 13409}
{:type :invoke, :f :read, :value nil, :process 0, :time 39800674861, :index 13410}
{:type :fail, :f :read, :value nil, :process 4, :time 39801236460, :error :connect, :index 13411}
{:type :fail, :f :read, :value nil, :process 21, :time 39801888372, :error :connect, :index 13412}
{:type :fail, :f :read, :value nil, :process 0, :time 39802798380, :error :connect, :index 13413}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 39823956803, :index 13417}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 39825910367, :error :connect, :index 13419}
{:type :invoke, :f :write, :value 2, :process 4, :time 39861492784, :index 13426}
{:type :fail, :f :write, :value 2, :process 4, :time 39863576830, :error :connect, :index 13427}
{:type :invoke, :f :write, :value 4, :process 5, :time 39869504284, :index 13429}
{:type :fail, :f :write, :value 4, :process 5, :time 39871470586, :error :connect, :index 13432}
{:type :invoke, :f :write, :value 2, :process 5, :time 39872764574, :index 13433}
{:type :fail, :f :write, :value 2, :process 5, :time 39874908968, :error :connect, :index 13435}
{:type :invoke, :f :write, :value 0, :process 5, :time 39886167233, :index 13437}
{:type :fail, :f :write, :value 0, :process 5, :time 39889112058, :error :connect, :index 13439}
{:type :invoke, :f :cas, :value [0 3], :process 8, :time 39900233891, :index 13441}
{:type :invoke, :f :write, :value 0, :process 22, :time 39901786834, :index 13442}
{:type :fail, :f :cas, :value [0 3], :process 8, :time 39902666597, :error :connect, :index 13444}
{:type :fail, :f :write, :value 0, :process 22, :time 39904010619, :error :connect, :index 13445}
{:type :invoke, :f :write, :value 1, :process 29, :time 39915491291, :index 13450}
{:type :fail, :f :write, :value 1, :process 29, :time 39917313038, :error :connect, :index 13451}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 39926173963, :index 13454}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 39928081472, :error :connect, :index 13455}
{:type :invoke, :f :read, :value nil, :process 3, :time 39928770391, :index 13456}
{:type :fail, :f :read, :value nil, :process 3, :time 39930444470, :error :connect, :index 13457}
{:type :invoke, :f :read, :value nil, :process 8, :time 39938998833, :index 13458}
{:type :fail, :f :read, :value nil, :process 8, :time 39941182147, :error :connect, :index 13460}
{:type :invoke, :f :write, :value 0, :process 21, :time 39953141678, :index 13464}
{:type :fail, :f :write, :value 0, :process 21, :time 39954853128, :error :connect, :index 13465}
{:type :invoke, :f :read, :value nil, :process 0, :time 39976049737, :index 13472}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 39977264052, :index 13473}
{:type :fail, :f :read, :value nil, :process 0, :time 39977763069, :error :connect, :index 13474}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 39979313616, :error :connect, :index 13475}
{:type :invoke, :f :write, :value 4, :process 29, :time 39980593247, :index 13476}
{:type :fail, :f :write, :value 4, :process 29, :time 39982443317, :error :connect, :index 13477}
{:type :invoke, :f :write, :value 0, :process 4, :time 39982885944, :index 13478}
{:type :fail, :f :write, :value 0, :process 4, :time 39984893394, :error :connect, :index 13479}
{:type :invoke, :f :read, :value nil, :process 8, :time 39990463872, :index 13482}
{:type :fail, :f :read, :value nil, :process 8, :time 39992404905, :error :connect, :index 13484}
{:type :invoke, :f :read, :value nil, :process 7, :time 39996192743, :index 13486}
{:type :fail, :f :read, :value nil, :process 7, :time 39998348327, :error :connect, :index 13488}
{:type :invoke, :f :write, :value 3, :process 3, :time 40012705365, :index 13492}
{:type :fail, :f :write, :value 3, :process 3, :time 40014775765, :error :connect, :index 13493}
{:type :invoke, :f :write, :value 1, :process 29, :time 40018722909, :index 13495}
{:type :fail, :f :write, :value 1, :process 29, :time 40020731800, :error :connect, :index 13497}
{:type :invoke, :f :cas, :value [3 1], :process 5, :time 40059417149, :index 13509}
{:type :fail, :f :cas, :value [3 1], :process 5, :time 40061477774, :error :connect, :index 13511}
{:type :invoke, :f :read, :value nil, :process 4, :time 40063165414, :index 13512}
{:type :fail, :f :read, :value nil, :process 4, :time 40065055535, :error :connect, :index 13513}
{:type :invoke, :f :cas, :value [4 4], :process 21, :time 40068120233, :index 13515}
{:type :fail, :f :cas, :value [4 4], :process 21, :time 40069764642, :error :connect, :index 13517}
{:type :invoke, :f :write, :value 3, :process 29, :time 40079985971, :index 13518}
{:type :fail, :f :write, :value 3, :process 29, :time 40081774676, :error :connect, :index 13519}
{:type :invoke, :f :write, :value 4, :process 4, :time 40101326811, :index 13521}
{:type :invoke, :f :cas, :value [3 0], :process 6, :time 40101360736, :index 13522}
{:type :fail, :f :write, :value 4, :process 4, :time 40103374301, :error :connect, :index 13524}
{:type :fail, :f :cas, :value [3 0], :process 6, :time 40103701962, :error :connect, :index 13525}
{:type :invoke, :f :write, :value 0, :process 0, :time 40109042167, :index 13526}
{:type :fail, :f :write, :value 0, :process 0, :time 40111100143, :error :connect, :index 13527}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 40118638211, :index 13530}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 40120525681, :error :connect, :index 13531}
{:type :invoke, :f :cas, :value [0 3], :process 8, :time 40129688715, :index 13532}
{:type :fail, :f :cas, :value [0 3], :process 8, :time 40131687669, :error :connect, :index 13533}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 40142035963, :index 13538}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 40143665416, :error :connect, :index 13540}
{:type :invoke, :f :read, :value nil, :process 22, :time 40147577049, :index 13542}
{:type :fail, :f :read, :value nil, :process 22, :time 40149688427, :error :connect, :index 13543}
{:type :invoke, :f :write, :value 0, :process 29, :time 40150082443, :index 13544}
{:type :fail, :f :write, :value 0, :process 29, :time 40151886687, :error :connect, :index 13546}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 40174636119, :index 13556}
{:type :invoke, :f :cas, :value [2 3], :process 21, :time 40176023172, :index 13557}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 40176761008, :error :connect, :index 13558}
{:type :fail, :f :cas, :value [2 3], :process 21, :time 40177872803, :error :connect, :index 13559}
{:type :invoke, :f :write, :value 4, :process 7, :time 40184789466, :index 13560}
{:type :fail, :f :write, :value 4, :process 7, :time 40186767530, :error :connect, :index 13562}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 40196740594, :index 13568}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 40198639945, :error :connect, :index 13569}
{:type :invoke, :f :write, :value 4, :process 0, :time 40234380030, :index 13587}
{:type :fail, :f :write, :value 4, :process 0, :time 40236108080, :error :connect, :index 13589}
{:type :invoke, :f :write, :value 2, :process 6, :time 40255963758, :index 13593}
{:type :fail, :f :write, :value 2, :process 6, :time 40257773531, :error :connect, :index 13596}
{:type :invoke, :f :read, :value nil, :process 3, :time 40278932139, :index 13606}
{:type :fail, :f :read, :value nil, :process 3, :time 40280654160, :error :connect, :index 13607}
{:type :invoke, :f :write, :value 4, :process 8, :time 40327964630, :index 13619}
{:type :fail, :f :write, :value 4, :process 8, :time 40330216156, :error :connect, :index 13621}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
