{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :invoke, :f :write, :value 4, :process 6, :time 24488233133, :index 4727}
{:type :ok, :f :write, :value 4, :process 6, :time 24493031737, :index 4731}
{:type :invoke, :f :cas, :value [1 4], :process 20, :time 24541450178, :index 4746}
{:type :fail, :f :cas, :value [1 4], :process 20, :time 24546698301, :index 4747}
{:type :invoke, :f :write, :value 2, :process 1, :time 24564693939, :index 4755}
{:type :ok, :f :write, :value 2, :process 1, :time 24569349617, :index 4757}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 24586205105, :index 4766}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 24590506817, :index 4767}
{:type :invoke, :f :read, :value nil, :process 8, :time 24628090242, :index 4768}
{:type :ok, :f :read, :value 2, :process 8, :time 24632663909, :index 4769}
{:type :invoke, :f :cas, :value [3 1], :process 9, :time 24640214555, :index 4770}
{:type :fail, :f :cas, :value [3 1], :process 9, :time 24645422551, :index 4771}
{:type :invoke, :f :cas, :value [3 4], :process 20, :time 24646962122, :index 4772}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 24647026244, :index 4773}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 24652519436, :index 4775}
{:type :fail, :f :cas, :value [3 4], :process 20, :time 24653095491, :index 4776}
{:type :invoke, :f :write, :value 3, :process 25, :time 24674692162, :index 4786}
{:type :invoke, :f :read, :value nil, :process 42, :time 24675337734, :index 4787}
{:type :invoke, :f :read, :value nil, :process 6, :time 24680311724, :index 4789}
{:type :ok, :f :write, :value 3, :process 25, :time 24681390672, :index 4790}
{:type :ok, :f :read, :value 3, :process 42, :time 24682031955, :index 4791}
{:type :ok, :f :read, :value 3, :process 6, :time 24685755511, :index 4794}
{:type :invoke, :f :write, :value 0, :process 4, :time 24688790494, :index 4796}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 24691781546, :index 4797}
{:type :ok, :f :write, :value 0, :process 4, :time 24693772537, :index 4798}
{:type :invoke, :f :cas, :value [4 2], :process 27, :time 24695714314, :index 4799}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 24696655660, :index 4800}
{:type :fail, :f :cas, :value [4 2], :process 27, :time 24701112854, :index 4802}
{:type :invoke, :f :read, :value nil, :process 27, :time 24701245083, :index 4803}
{:type :ok, :f :read, :value 0, :process 27, :time 24706070162, :index 4806}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 24724921050, :index 4809}
{:type :ok, :f :cas, :value [0 0], :process 3, :time 24729326756, :index 4812}
{:type :invoke, :f :read, :value nil, :process 1, :time 24748614742, :index 4817}
{:type :ok, :f :read, :value 0, :process 1, :time 24754805571, :index 4819}
{:type :invoke, :f :read, :value nil, :process 42, :time 24773260585, :index 4824}
{:type :invoke, :f :cas, :value [1 2], :process 27, :time 24775325045, :index 4825}
{:type :invoke, :f :read, :value nil, :process 4, :time 24776035467, :index 4826}
{:type :invoke, :f :write, :value 3, :process 8, :time 24777924505, :index 4827}
{:type :ok, :f :read, :value 0, :process 42, :time 24779153742, :index 4829}
{:type :fail, :f :cas, :value [1 2], :process 27, :time 24779902984, :index 4830}
{:type :invoke, :f :write, :value 3, :process 3, :time 24780584363, :index 4831}
{:type :ok, :f :read, :value 0, :process 4, :time 24781314990, :index 4832}
{:type :ok, :f :write, :value 3, :process 8, :time 24782950672, :index 4833}
{:type :invoke, :f :cas, :value [0 1], :process 25, :time 24784647137, :index 4835}
{:type :invoke, :f :read, :value nil, :process 20, :time 24786332978, :index 4836}
{:type :ok, :f :write, :value 3, :process 3, :time 24786939036, :index 4837}
{:type :fail, :f :cas, :value [0 1], :process 25, :time 24789822115, :index 4838}
{:type :ok, :f :read, :value 3, :process 20, :time 24791891231, :index 4839}
{:type :invoke, :f :read, :value nil, :process 20, :time 24798137330, :index 4840}
{:type :invoke, :f :cas, :value [2 4], :process 1, :time 24800042777, :index 4841}
{:type :ok, :f :read, :value 3, :process 20, :time 24803798010, :index 4843}
{:type :fail, :f :cas, :value [2 4], :process 1, :time 24804954223, :index 4844}
{:type :invoke, :f :write, :value 2, :process 9, :time 24817689676, :index 4846}
{:type :ok, :f :write, :value 2, :process 9, :time 24822206793, :index 4848}
{:type :invoke, :f :cas, :value [0 3], :process 27, :time 24837287833, :index 4855}
{:type :fail, :f :cas, :value [0 3], :process 27, :time 24842605654, :index 4857}
{:type :invoke, :f :write, :value 0, :process 1, :time 24849260436, :index 4858}
{:type :invoke, :f :read, :value nil, :process 6, :time 24851012813, :index 4859}
{:type :ok, :f :write, :value 0, :process 1, :time 24854758272, :index 4861}
{:type :ok, :f :read, :value 0, :process 6, :time 24856925762, :index 4863}
{:type :invoke, :f :write, :value 3, :process 4, :time 24875567008, :index 4866}
{:type :ok, :f :write, :value 3, :process 4, :time 24880345099, :index 4867}
{:type :invoke, :f :write, :value 3, :process 25, :time 24886079257, :index 4868}
{:type :ok, :f :write, :value 3, :process 25, :time 24891881971, :index 4869}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 24899185706, :index 4871}
{:type :invoke, :f :read, :value nil, :process 20, :time 24900084072, :index 4873}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 24903773221, :index 4874}
{:type :ok, :f :read, :value 3, :process 20, :time 24905254381, :index 4875}
{:type :invoke, :f :read, :value nil, :process 8, :time 24925204751, :index 4880}
{:type :invoke, :f :read, :value nil, :process 42, :time 24925371057, :index 4881}
{:type :ok, :f :read, :value 3, :process 8, :time 24930065456, :index 4883}
{:type :ok, :f :read, :value 3, :process 42, :time 24930874194, :index 4885}
{:type :invoke, :f :read, :value nil, :process 1, :time 24935643009, :index 4889}
{:type :ok, :f :read, :value 3, :process 1, :time 24940046808, :index 4891}
{:type :invoke, :f :cas, :value [4 3], :process 27, :time 24967866872, :index 4899}
{:type :fail, :f :cas, :value [4 3], :process 27, :time 24976235072, :index 4901}
{:type :invoke, :f :read, :value nil, :process 8, :time 24980320059, :index 4902}
{:type :ok, :f :read, :value 3, :process 8, :time 24986021803, :index 4904}
{:type :invoke, :f :cas, :value [2 1], :process 1, :time 24997297705, :index 4908}
{:type :invoke, :f :read, :value nil, :process 9, :time 24997481352, :index 4909}
{:type :fail, :f :cas, :value [2 1], :process 1, :time 25002706951, :index 4910}
{:type :ok, :f :read, :value 3, :process 9, :time 25003114854, :index 4912}
{:type :invoke, :f :write, :value 2, :process 25, :time 25013157885, :index 4916}
{:type :invoke, :f :read, :value nil, :process 6, :time 25017195292, :index 4918}
{:type :ok, :f :write, :value 2, :process 25, :time 25019443857, :index 4919}
{:type :invoke, :f :write, :value 0, :process 3, :time 25020049952, :index 4921}
{:type :ok, :f :read, :value 2, :process 6, :time 25022923136, :index 4922}
{:type :ok, :f :write, :value 0, :process 3, :time 25025476607, :index 4923}
{:type :invoke, :f :write, :value 0, :process 1, :time 25034992262, :index 4925}
{:type :ok, :f :write, :value 0, :process 1, :time 25039999356, :index 4927}
{:type :invoke, :f :write, :value 1, :process 20, :time 25041522059, :index 4929}
{:type :ok, :f :write, :value 1, :process 20, :time 25046217685, :index 4931}
{:type :invoke, :f :read, :value nil, :process 4, :time 25064646326, :index 4932}
{:type :ok, :f :read, :value 1, :process 4, :time 25069793685, :index 4933}
{:type :invoke, :f :write, :value 3, :process 1, :time 25078265611, :index 4934}
{:type :invoke, :f :cas, :value [3 1], :process 42, :time 25081119963, :index 4935}
{:type :ok, :f :write, :value 3, :process 1, :time 25082913343, :index 4937}
{:type :invoke, :f :write, :value 3, :process 4, :time 25083053618, :index 4938}
{:type :invoke, :f :write, :value 4, :process 25, :time 25084737678, :index 4939}
{:type :ok, :f :cas, :value [3 1], :process 42, :time 25086766884, :index 4942}
{:type :invoke, :f :read, :value nil, :process 1, :time 25087216932, :index 4944}
{:type :ok, :f :write, :value 3, :process 4, :time 25089545877, :index 4946}
{:type :ok, :f :write, :value 4, :process 25, :time 25090132002, :index 4947}
{:type :ok, :f :read, :value 4, :process 1, :time 25093667309, :index 4951}
{:type :invoke, :f :read, :value nil, :process 1, :time 25098893347, :index 4952}
{:type :ok, :f :read, :value 4, :process 1, :time 25103717760, :index 4953}
{:type :invoke, :f :cas, :value [2 3], :process 42, :time 25133069671, :index 4961}
{:type :invoke, :f :read, :value nil, :process 27, :time 25137501296, :index 4964}
{:type :fail, :f :cas, :value [2 3], :process 42, :time 25138433181, :index 4965}
{:type :ok, :f :read, :value 4, :process 27, :time 25142386721, :index 4967}
{:type :invoke, :f :read, :value nil, :process 6, :time 25153184430, :index 4968}
{:type :invoke, :f :write, :value 3, :process 25, :time 25155370759, :index 4969}
{:type :ok, :f :read, :value 4, :process 6, :time 25158816369, :index 4970}
{:type :ok, :f :write, :value 3, :process 25, :time 25160494741, :index 4971}
{:type :invoke, :f :cas, :value [1 3], :process 1, :time 25160988170, :index 4972}
{:type :fail, :f :cas, :value [1 3], :process 1, :time 25165739464, :index 4973}
{:type :invoke, :f :write, :value 4, :process 8, :time 25172280018, :index 4974}
{:type :invoke, :f :write, :value 1, :process 20, :time 25172470866, :index 4975}
{:type :ok, :f :write, :value 4, :process 8, :time 25176822605, :index 4977}
{:type :ok, :f :write, :value 1, :process 20, :time 25177874828, :index 4978}
{:type :invoke, :f :cas, :value [3 1], :process 27, :time 25192647726, :index 4982}
{:type :fail, :f :cas, :value [3 1], :process 27, :time 25198048725, :index 4983}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 25198105961, :index 4984}
{:type :invoke, :f :read, :value nil, :process 9, :time 25201365156, :index 4985}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 25203477791, :index 4986}
{:type :ok, :f :read, :value 1, :process 9, :time 25206228223, :index 4988}
{:type :invoke, :f :read, :value nil, :process 6, :time 25210743027, :index 4990}
{:type :ok, :f :read, :value 1, :process 6, :time 25216520519, :index 4993}
{:type :invoke, :f :read, :value nil, :process 3, :time 25217728239, :index 4994}
{:type :ok, :f :read, :value 1, :process 3, :time 25222108820, :index 4997}
{:type :invoke, :f :write, :value 1, :process 42, :time 25230727107, :index 5000}
{:type :ok, :f :write, :value 1, :process 42, :time 25235776969, :index 5002}
{:type :invoke, :f :read, :value nil, :process 42, :time 25265040036, :index 5008}
{:type :ok, :f :read, :value 1, :process 42, :time 25270337314, :index 5009}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 25272803192, :index 5011}
{:type :ok, :f :cas, :value [1 2], :process 6, :time 25277695041, :index 5012}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 25278136291, :index 5014}
{:type :invoke, :f :read, :value nil, :process 4, :time 25278813074, :index 5015}
{:type :invoke, :f :write, :value 1, :process 3, :time 25281364457, :index 5016}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 25283455678, :index 5018}
{:type :ok, :f :read, :value 2, :process 4, :time 25283951756, :index 5019}
{:type :ok, :f :write, :value 1, :process 3, :time 25285280502, :index 5020}
{:type :invoke, :f :write, :value 2, :process 8, :time 25288094420, :index 5022}
{:type :ok, :f :write, :value 2, :process 8, :time 25292330002, :index 5024}
{:type :invoke, :f :read, :value nil, :process 20, :time 25304123067, :index 5028}
{:type :ok, :f :read, :value 2, :process 20, :time 25309040187, :index 5029}
{:type :invoke, :f :read, :value nil, :process 27, :time 25321287080, :index 5030}
{:type :invoke, :f :cas, :value [2 0], :process 9, :time 25326468758, :index 5031}
{:type :ok, :f :read, :value 2, :process 27, :time 25326964366, :index 5032}
{:type :invoke, :f :write, :value 4, :process 25, :time 25327749915, :index 5033}
{:type :ok, :f :cas, :value [2 0], :process 9, :time 25331439027, :index 5035}
{:type :ok, :f :write, :value 4, :process 25, :time 25333223212, :index 5036}
{:type :invoke, :f :read, :value nil, :process 20, :time 25340298624, :index 5039}
{:type :invoke, :f :write, :value 2, :process 1, :time 25341011899, :index 5040}
{:type :ok, :f :read, :value 4, :process 20, :time 25345809102, :index 5041}
{:type :ok, :f :write, :value 2, :process 1, :time 25346671467, :index 5043}
{:type :invoke, :f :write, :value 0, :process 20, :time 25353078823, :index 5045}
{:type :ok, :f :write, :value 0, :process 20, :time 25358061015, :index 5048}
{:type :invoke, :f :cas, :value [0 3], :process 20, :time 25358194070, :index 5049}
{:type :ok, :f :cas, :value [0 3], :process 20, :time 25364311553, :index 5051}
{:type :invoke, :f :cas, :value [4 2], :process 1, :time 25369923302, :index 5053}
{:type :invoke, :f :read, :value nil, :process 25, :time 25373391955, :index 5055}
{:type :fail, :f :cas, :value [4 2], :process 1, :time 25375038870, :index 5056}
{:type :invoke, :f :write, :value 4, :process 4, :time 25378192710, :index 5057}
{:type :ok, :f :read, :value 3, :process 25, :time 25378908755, :index 5058}
{:type :ok, :f :write, :value 4, :process 4, :time 25383072416, :index 5059}
{:type :invoke, :f :read, :value nil, :process 3, :time 25384540260, :index 5060}
{:type :ok, :f :read, :value 4, :process 3, :time 25389933845, :index 5061}
{:type :invoke, :f :read, :value nil, :process 6, :time 25397719718, :index 5062}
{:type :ok, :f :read, :value 4, :process 6, :time 25402759446, :index 5064}
{:type :invoke, :f :read, :value nil, :process 20, :time 25404582258, :index 5066}
{:type :ok, :f :read, :value 4, :process 20, :time 25409065498, :index 5067}
{:type :invoke, :f :write, :value 4, :process 8, :time 25424594429, :index 5071}
{:type :ok, :f :write, :value 4, :process 8, :time 25428837919, :index 5075}
{:type :invoke, :f :write, :value 1, :process 4, :time 25439324612, :index 5082}
{:type :ok, :f :write, :value 1, :process 4, :time 25444508341, :index 5084}
{:type :invoke, :f :write, :value 2, :process 25, :time 25459181856, :index 5089}
{:type :invoke, :f :cas, :value [0 3], :process 27, :time 25461211757, :index 5091}
{:type :invoke, :f :write, :value 0, :process 42, :time 25463600525, :index 5092}
{:type :ok, :f :write, :value 2, :process 25, :time 25464696219, :index 5093}
{:type :fail, :f :cas, :value [0 3], :process 27, :time 25466288564, :index 5094}
{:type :ok, :f :write, :value 0, :process 42, :time 25468251311, :index 5095}
{:type :invoke, :f :write, :value 3, :process 3, :time 25476192464, :index 5099}
{:type :invoke, :f :write, :value 1, :process 25, :time 25476957458, :index 5100}
{:type :ok, :f :write, :value 3, :process 3, :time 25480182901, :index 5103}
{:type :ok, :f :write, :value 1, :process 25, :time 25482239641, :index 5104}
{:type :invoke, :f :write, :value 1, :process 8, :time 25511096497, :index 5111}
{:type :invoke, :f :cas, :value [0 2], :process 20, :time 25511817576, :index 5113}
{:type :ok, :f :write, :value 1, :process 8, :time 25516067644, :index 5116}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 25517021346, :index 5117}
{:type :fail, :f :cas, :value [0 2], :process 20, :time 25518322158, :index 5118}
{:type :ok, :f :cas, :value [1 0], :process 6, :time 25521611455, :index 5119}
{:type :invoke, :f :write, :value 0, :process 9, :time 25528762441, :index 5121}
{:type :ok, :f :write, :value 0, :process 9, :time 25533769276, :index 5124}
{:type :invoke, :f :read, :value nil, :process 1, :time 25546294848, :index 5127}
{:type :ok, :f :read, :value 0, :process 1, :time 25552263630, :index 5129}
{:type :invoke, :f :read, :value nil, :process 4, :time 25556760668, :index 5130}
{:type :ok, :f :read, :value 0, :process 4, :time 25561718853, :index 5132}
{:type :invoke, :f :cas, :value [3 4], :process 27, :time 25659548303, :index 5158}
{:type :fail, :f :cas, :value [3 4], :process 27, :time 25666108439, :index 5163}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
