{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :invoke, :f :write, :value 3, :process 21, :time 31938939128, :index 10360}
{:type :fail, :f :write, :value 3, :process 21, :time 31940847238, :error :connect, :index 10363}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 31978130275, :index 10375}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 31979908951, :error :connect, :index 10377}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 31986110794, :index 10378}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 31987943160, :error :connect, :index 10379}
{:type :invoke, :f :read, :value nil, :process 7, :time 32007094778, :index 10388}
{:type :fail, :f :read, :value nil, :process 7, :time 32008950958, :error :connect, :index 10389}
{:type :invoke, :f :read, :value nil, :process 0, :time 32013107820, :index 10390}
{:type :fail, :f :read, :value nil, :process 0, :time 32015207917, :error :connect, :index 10392}
{:type :invoke, :f :write, :value 2, :process 22, :time 32027817084, :index 10396}
{:type :fail, :f :write, :value 2, :process 22, :time 32029708259, :error :connect, :index 10397}
{:type :invoke, :f :read, :value nil, :process 29, :time 32047649718, :index 10402}
{:type :fail, :f :read, :value nil, :process 29, :time 32049426465, :error :connect, :index 10403}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 32061906811, :index 10404}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 32064034213, :error :connect, :index 10405}
{:type :invoke, :f :read, :value nil, :process 3, :time 32092291761, :index 10408}
{:type :fail, :f :read, :value nil, :process 3, :time 32094547201, :error :connect, :index 10409}
{:type :invoke, :f :read, :value nil, :process 5, :time 32102652014, :index 10412}
{:type :fail, :f :read, :value nil, :process 5, :time 32104581719, :error :connect, :index 10413}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 32115173253, :index 10418}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 32117297186, :error :connect, :index 10420}
{:type :invoke, :f :read, :value nil, :process 22, :time 32118088468, :index 10423}
{:type :fail, :f :read, :value nil, :process 22, :time 32119930754, :error :connect, :index 10425}
{:type :invoke, :f :read, :value nil, :process 0, :time 32127460952, :index 10426}
{:type :fail, :f :read, :value nil, :process 0, :time 32129260886, :error :connect, :index 10427}
{:type :invoke, :f :cas, :value [4 0], :process 29, :time 32134696384, :index 10429}
{:type :fail, :f :cas, :value [4 0], :process 29, :time 32136462269, :error :connect, :index 10431}
{:type :invoke, :f :write, :value 4, :process 8, :time 32138567073, :index 10432}
{:type :invoke, :f :write, :value 1, :process 7, :time 32139216479, :index 10433}
{:type :fail, :f :write, :value 4, :process 8, :time 32140505619, :error :connect, :index 10434}
{:type :fail, :f :write, :value 1, :process 7, :time 32141010474, :error :connect, :index 10435}
{:type :invoke, :f :read, :value nil, :process 3, :time 32143804768, :index 10436}
{:type :fail, :f :read, :value nil, :process 3, :time 32145790207, :error :connect, :index 10437}
{:type :invoke, :f :write, :value 2, :process 6, :time 32160309551, :index 10441}
{:type :fail, :f :write, :value 2, :process 6, :time 32162342502, :error :connect, :index 10443}
{:type :invoke, :f :write, :value 4, :process 4, :time 32164183155, :index 10444}
{:type :fail, :f :write, :value 4, :process 4, :time 32165972557, :error :connect, :index 10445}
{:type :invoke, :f :cas, :value [0 4], :process 21, :time 32171212653, :index 10448}
{:type :fail, :f :cas, :value [0 4], :process 21, :time 32172931348, :error :connect, :index 10451}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 32180769201, :index 10452}
{:type :fail, :f :cas, :value [1 2], :process 8, :time 32182666760, :error :connect, :index 10453}
{:type :invoke, :f :read, :value nil, :process 22, :time 32187170016, :index 10456}
{:type :fail, :f :read, :value nil, :process 22, :time 32188796536, :error :connect, :index 10457}
{:type :invoke, :f :read, :value nil, :process 4, :time 32208234408, :index 10464}
{:type :fail, :f :read, :value nil, :process 4, :time 32209910786, :error :connect, :index 10465}
{:type :invoke, :f :read, :value nil, :process 5, :time 32212850589, :index 10467}
{:type :fail, :f :read, :value nil, :process 5, :time 32214788739, :error :connect, :index 10469}
{:type :invoke, :f :write, :value 0, :process 8, :time 32251958191, :index 10482}
{:type :fail, :f :write, :value 0, :process 8, :time 32253838340, :error :connect, :index 10483}
{:type :invoke, :f :read, :value nil, :process 29, :time 32262732604, :index 10484}
{:type :fail, :f :read, :value nil, :process 29, :time 32264342528, :error :connect, :index 10485}
{:type :invoke, :f :read, :value nil, :process 8, :time 32270092213, :index 10486}
{:type :fail, :f :read, :value nil, :process 8, :time 32271915228, :error :connect, :index 10487}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 32292068732, :index 10494}
{:type :fail, :f :cas, :value [0 4], :process 22, :time 32293849031, :error :connect, :index 10495}
{:type :invoke, :f :write, :value 0, :process 5, :time 32295045043, :index 10496}
{:type :invoke, :f :write, :value 1, :process 0, :time 32295536747, :index 10497}
{:type :fail, :f :write, :value 0, :process 5, :time 32296927925, :error :connect, :index 10498}
{:type :fail, :f :write, :value 1, :process 0, :time 32297625518, :error :connect, :index 10500}
{:type :invoke, :f :cas, :value [2 3], :process 7, :time 32301249751, :index 10502}
{:type :fail, :f :cas, :value [2 3], :process 7, :time 32303320858, :error :connect, :index 10503}
{:type :invoke, :f :cas, :value [1 2], :process 29, :time 32313609162, :index 10508}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 32314068513, :index 10509}
{:type :fail, :f :cas, :value [1 2], :process 29, :time 32315781386, :error :connect, :index 10511}
{:type :fail, :f :cas, :value [3 1], :process 3, :time 32315950698, :error :connect, :index 10512}
{:type :invoke, :f :cas, :value [1 4], :process 5, :time 32316218497, :index 10513}
{:type :fail, :f :cas, :value [1 4], :process 5, :time 32318034423, :error :connect, :index 10515}
{:type :invoke, :f :cas, :value [4 4], :process 22, :time 32325115299, :index 10516}
{:type :fail, :f :cas, :value [4 4], :process 22, :time 32326797694, :error :connect, :index 10517}
{:type :invoke, :f :write, :value 2, :process 6, :time 32338582650, :index 10520}
{:type :fail, :f :write, :value 2, :process 6, :time 32340394498, :error :connect, :index 10522}
{:type :invoke, :f :write, :value 1, :process 21, :time 32351178042, :index 10526}
{:type :fail, :f :write, :value 1, :process 21, :time 32353290244, :error :connect, :index 10527}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 32371173568, :index 10532}
{:type :invoke, :f :write, :value 2, :process 6, :time 32371655347, :index 10533}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 32372913130, :error :connect, :index 10534}
{:type :fail, :f :write, :value 2, :process 6, :time 32373498848, :error :connect, :index 10535}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 32379195265, :index 10536}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 32381035222, :error :connect, :index 10537}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 32400222255, :index 10542}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 32402348692, :error :connect, :index 10543}
{:type :invoke, :f :write, :value 0, :process 5, :time 32405295887, :index 10544}
{:type :fail, :f :write, :value 0, :process 5, :time 32406965051, :error :connect, :index 10545}
{:type :invoke, :f :cas, :value [4 1], :process 7, :time 32408589263, :index 10546}
{:type :fail, :f :cas, :value [4 1], :process 7, :time 32410459874, :error :connect, :index 10547}
{:type :invoke, :f :read, :value nil, :process 4, :time 32413607980, :index 10548}
{:type :fail, :f :read, :value nil, :process 4, :time 32415577851, :error :connect, :index 10549}
{:type :invoke, :f :write, :value 4, :process 8, :time 32421189563, :index 10553}
{:type :fail, :f :write, :value 4, :process 8, :time 32423086873, :error :connect, :index 10555}
{:type :invoke, :f :cas, :value [0 2], :process 29, :time 32433061995, :index 10556}
{:type :invoke, :f :write, :value 3, :process 4, :time 32434880513, :index 10558}
{:type :fail, :f :cas, :value [0 2], :process 29, :time 32435262813, :error :connect, :index 10559}
{:type :fail, :f :write, :value 3, :process 4, :time 32436593446, :error :connect, :index 10561}
{:type :invoke, :f :write, :value 4, :process 22, :time 32455059628, :index 10566}
{:type :invoke, :f :read, :value nil, :process 0, :time 32456846928, :index 10567}
{:type :fail, :f :write, :value 4, :process 22, :time 32456950864, :error :connect, :index 10568}
{:type :fail, :f :read, :value nil, :process 0, :time 32458830870, :error :connect, :index 10569}
{:type :invoke, :f :write, :value 1, :process 5, :time 32461236185, :index 10570}
{:type :fail, :f :write, :value 1, :process 5, :time 32462842344, :error :connect, :index 10571}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 32471751211, :index 10572}
{:type :fail, :f :cas, :value [2 2], :process 6, :time 32473887883, :error :connect, :index 10573}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 32499373751, :index 10577}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 32501108258, :error :connect, :index 10579}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 32511128525, :index 10583}
{:type :invoke, :f :read, :value nil, :process 6, :time 32511155456, :index 10584}
{:type :fail, :f :cas, :value [3 0], :process 5, :time 32513434444, :error :connect, :index 10586}
{:type :fail, :f :read, :value nil, :process 6, :time 32513432366, :error :connect, :index 10587}
{:type :invoke, :f :cas, :value [1 2], :process 21, :time 32540552070, :index 10596}
{:type :invoke, :f :write, :value 0, :process 6, :time 32541124198, :index 10597}
{:type :fail, :f :cas, :value [1 2], :process 21, :time 32542469065, :error :connect, :index 10598}
{:type :fail, :f :write, :value 0, :process 6, :time 32542910989, :error :connect, :index 10599}
{:type :invoke, :f :read, :value nil, :process 7, :time 32548757128, :index 10600}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 32549313734, :index 10601}
{:type :fail, :f :read, :value nil, :process 7, :time 32550614783, :error :connect, :index 10602}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 32551133695, :error :connect, :index 10603}
{:type :invoke, :f :write, :value 1, :process 3, :time 32557370536, :index 10604}
{:type :fail, :f :write, :value 1, :process 3, :time 32559017287, :error :connect, :index 10605}
{:type :invoke, :f :write, :value 0, :process 4, :time 32581863198, :index 10608}
{:type :fail, :f :write, :value 0, :process 4, :time 32583934119, :error :connect, :index 10611}
{:type :invoke, :f :write, :value 0, :process 3, :time 32584283809, :index 10612}
{:type :invoke, :f :cas, :value [1 0], :process 29, :time 32584528705, :index 10613}
{:type :fail, :f :write, :value 0, :process 3, :time 32586426082, :error :connect, :index 10615}
{:type :fail, :f :cas, :value [1 0], :process 29, :time 32586937252, :error :connect, :index 10617}
{:type :invoke, :f :write, :value 4, :process 22, :time 32592216430, :index 10620}
{:type :fail, :f :write, :value 4, :process 22, :time 32594234418, :error :connect, :index 10621}
{:type :invoke, :f :write, :value 4, :process 6, :time 32606151464, :index 10622}
{:type :invoke, :f :read, :value nil, :process 8, :time 32606386512, :index 10623}
{:type :fail, :f :write, :value 4, :process 6, :time 32608206327, :error :connect, :index 10624}
{:type :fail, :f :read, :value nil, :process 8, :time 32608456496, :error :connect, :index 10625}
{:type :invoke, :f :write, :value 3, :process 21, :time 32608739099, :index 10626}
{:type :fail, :f :write, :value 3, :process 21, :time 32610648678, :error :connect, :index 10628}
{:type :invoke, :f :read, :value nil, :process 7, :time 32616905287, :index 10630}
{:type :fail, :f :read, :value nil, :process 7, :time 32619038652, :error :connect, :index 10631}
{:type :invoke, :f :read, :value nil, :process 0, :time 32638096658, :index 10638}
{:type :invoke, :f :cas, :value [1 1], :process 8, :time 32638730591, :index 10639}
{:type :fail, :f :read, :value nil, :process 0, :time 32639955090, :error :connect, :index 10640}
{:type :fail, :f :cas, :value [1 1], :process 8, :time 32640551619, :error :connect, :index 10641}
{:type :invoke, :f :write, :value 4, :process 3, :time 32646669056, :index 10642}
{:type :invoke, :f :cas, :value [3 3], :process 21, :time 32647934270, :index 10643}
{:type :fail, :f :write, :value 4, :process 3, :time 32648369014, :error :connect, :index 10644}
{:type :fail, :f :cas, :value [3 3], :process 21, :time 32649809994, :error :connect, :index 10645}
{:type :invoke, :f :read, :value nil, :process 3, :time 32657622480, :index 10646}
{:type :fail, :f :read, :value nil, :process 3, :time 32659478520, :error :connect, :index 10647}
{:type :invoke, :f :read, :value nil, :process 4, :time 32663195995, :index 10648}
{:type :invoke, :f :write, :value 0, :process 5, :time 32663740160, :index 10649}
{:type :fail, :f :read, :value nil, :process 4, :time 32665125405, :error :connect, :index 10651}
{:type :fail, :f :write, :value 0, :process 5, :time 32665944231, :error :connect, :index 10653}
{:type :invoke, :f :read, :value nil, :process 29, :time 32702188994, :index 10664}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 32702503804, :index 10665}
{:type :fail, :f :read, :value nil, :process 29, :time 32703942645, :error :connect, :index 10666}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 32704639244, :error :connect, :index 10668}
{:type :invoke, :f :read, :value nil, :process 0, :time 32714220617, :index 10670}
{:type :fail, :f :read, :value nil, :process 0, :time 32716144511, :error :connect, :index 10671}
{:type :invoke, :f :write, :value 2, :process 7, :time 32716323958, :index 10672}
{:type :invoke, :f :cas, :value [4 4], :process 22, :time 32716505613, :index 10673}
{:type :fail, :f :write, :value 2, :process 7, :time 32718350544, :error :connect, :index 10674}
{:type :fail, :f :cas, :value [4 4], :process 22, :time 32718566127, :error :connect, :index 10675}
{:type :invoke, :f :read, :value nil, :process 5, :time 32759221233, :index 10684}
{:type :invoke, :f :write, :value 3, :process 3, :time 32759776096, :index 10685}
{:type :fail, :f :read, :value nil, :process 5, :time 32761150351, :error :connect, :index 10686}
{:type :invoke, :f :write, :value 1, :process 29, :time 32761322048, :index 10687}
{:type :fail, :f :write, :value 3, :process 3, :time 32761677383, :error :connect, :index 10688}
{:type :fail, :f :write, :value 1, :process 29, :time 32763241895, :error :connect, :index 10689}
{:type :invoke, :f :cas, :value [1 1], :process 6, :time 32775949868, :index 10693}
{:type :fail, :f :cas, :value [1 1], :process 6, :time 32777843383, :error :connect, :index 10696}
{:type :invoke, :f :write, :value 2, :process 8, :time 32786822568, :index 10700}
{:type :fail, :f :write, :value 2, :process 8, :time 32788876809, :error :connect, :index 10701}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 32813996904, :index 10707}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 32815902217, :error :connect, :index 10709}
{:type :invoke, :f :write, :value 2, :process 3, :time 32825154324, :index 10712}
{:type :fail, :f :write, :value 2, :process 3, :time 32826953848, :error :connect, :index 10713}
{:type :invoke, :f :write, :value 1, :process 8, :time 32832185530, :index 10716}
{:type :fail, :f :write, :value 1, :process 8, :time 32833855753, :error :connect, :index 10717}
{:type :invoke, :f :cas, :value [1 3], :process 21, :time 32838084046, :index 10719}
{:type :fail, :f :cas, :value [1 3], :process 21, :time 32839945822, :error :connect, :index 10721}
{:type :invoke, :f :read, :value nil, :process 6, :time 32843103711, :index 10722}
{:type :invoke, :f :cas, :value [4 3], :process 8, :time 32843106100, :index 10723}
{:type :fail, :f :read, :value nil, :process 6, :time 32845209191, :error :connect, :index 10724}
{:type :fail, :f :cas, :value [4 3], :process 8, :time 32845439699, :error :connect, :index 10725}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 32846371379, :index 10726}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 32848246354, :error :connect, :index 10727}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 32889624128, :index 10732}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 32891532685, :error :connect, :index 10733}
{:type :invoke, :f :write, :value 1, :process 0, :time 32911402871, :index 10738}
{:type :invoke, :f :cas, :value [0 1], :process 22, :time 32911862492, :index 10739}
{:type :fail, :f :write, :value 1, :process 0, :time 32913343528, :error :connect, :index 10740}
{:type :invoke, :f :cas, :value [2 1], :process 5, :time 32913435455, :index 10741}
{:type :invoke, :f :read, :value nil, :process 29, :time 32913511105, :index 10742}
{:type :fail, :f :cas, :value [0 1], :process 22, :time 32914419011, :error :connect, :index 10743}
{:type :fail, :f :cas, :value [2 1], :process 5, :time 32915323528, :error :connect, :index 10745}
{:type :fail, :f :read, :value nil, :process 29, :time 32915526466, :error :connect, :index 10746}
{:type :invoke, :f :read, :value nil, :process 3, :time 32920218539, :index 10748}
{:type :fail, :f :read, :value nil, :process 3, :time 32921917975, :error :connect, :index 10749}
{:type :invoke, :f :cas, :value [2 3], :process 21, :time 32982218972, :index 10766}
{:type :fail, :f :cas, :value [2 3], :process 21, :time 32984145812, :error :connect, :index 10768}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 32995709342, :index 10772}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 32997397296, :error :connect, :index 10773}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 33021484104, :index 10786}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 33023718707, :error :connect, :index 10788}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
