{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :invoke, :f :write, :value 3, :process 17, :time 40559531637, :index 6316}
{:type :ok, :f :write, :value 3, :process 17, :time 40564393089, :index 6317}
{:type :invoke, :f :read, :value nil, :process 50, :time 40600400889, :index 6328}
{:type :ok, :f :read, :value 3, :process 50, :time 40606047612, :index 6332}
{:type :invoke, :f :cas, :value [3 1], :process 17, :time 40620648681, :index 6334}
{:type :ok, :f :cas, :value [3 1], :process 17, :time 40625281680, :index 6335}
{:type :invoke, :f :read, :value nil, :process 17, :time 40641555308, :index 6341}
{:type :invoke, :f :cas, :value [3 3], :process 50, :time 40646292200, :index 6343}
{:type :ok, :f :read, :value 1, :process 17, :time 40647042355, :index 6344}
{:type :fail, :f :cas, :value [3 3], :process 50, :time 40652289483, :index 6347}
{:type :invoke, :f :write, :value 1, :process 51, :time 40683355126, :index 6351}
{:type :ok, :f :write, :value 1, :process 51, :time 40688427628, :index 6353}
{:type :invoke, :f :cas, :value [1 1], :process 52, :time 40697754757, :index 6354}
{:type :ok, :f :cas, :value [1 1], :process 52, :time 40702523008, :index 6355}
{:type :invoke, :f :cas, :value [0 3], :process 36, :time 40704326484, :index 6356}
{:type :fail, :f :cas, :value [0 3], :process 36, :time 40709822218, :index 6358}
{:type :invoke, :f :cas, :value [4 1], :process 52, :time 40754720804, :index 6364}
{:type :fail, :f :cas, :value [4 1], :process 52, :time 40759556263, :index 6365}
{:type :invoke, :f :write, :value 1, :process 35, :time 40779192999, :index 6366}
{:type :ok, :f :write, :value 1, :process 35, :time 40785012080, :index 6368}
{:type :invoke, :f :cas, :value [1 4], :process 17, :time 40812306801, :index 6377}
{:type :ok, :f :cas, :value [1 4], :process 17, :time 40817176085, :index 6379}
{:type :invoke, :f :write, :value 3, :process 51, :time 40823684383, :index 6381}
{:type :invoke, :f :read, :value nil, :process 36, :time 40828087225, :index 6382}
{:type :ok, :f :write, :value 3, :process 51, :time 40828933984, :index 6384}
{:type :ok, :f :read, :value 3, :process 36, :time 40832706194, :index 6385}
{:type :invoke, :f :write, :value 0, :process 50, :time 40845570088, :index 6390}
{:type :ok, :f :write, :value 0, :process 50, :time 40850937051, :index 6393}
{:type :invoke, :f :read, :value nil, :process 50, :time 40860184052, :index 6396}
{:type :invoke, :f :read, :value nil, :process 17, :time 40864413243, :index 6397}
{:type :ok, :f :read, :value 0, :process 50, :time 40865703234, :index 6398}
{:type :ok, :f :read, :value 0, :process 17, :time 40870243986, :index 6399}
{:type :invoke, :f :read, :value nil, :process 50, :time 40892967571, :index 6400}
{:type :ok, :f :read, :value 0, :process 50, :time 40898284203, :index 6401}
{:type :invoke, :f :cas, :value [4 4], :process 52, :time 40909816919, :index 6402}
{:type :fail, :f :cas, :value [4 4], :process 52, :time 40914998877, :index 6403}
{:type :invoke, :f :read, :value nil, :process 50, :time 40918535054, :index 6404}
{:type :ok, :f :read, :value 0, :process 50, :time 40923562235, :index 6406}
{:type :invoke, :f :cas, :value [3 4], :process 17, :time 40924498487, :index 6407}
{:type :invoke, :f :write, :value 2, :process 35, :time 40925289601, :index 6409}
{:type :fail, :f :cas, :value [3 4], :process 17, :time 40930027122, :index 6411}
{:type :ok, :f :write, :value 2, :process 35, :time 40930838365, :index 6412}
{:type :invoke, :f :write, :value 4, :process 35, :time 40930963845, :index 6413}
{:type :ok, :f :write, :value 4, :process 35, :time 40936383547, :index 6416}
{:type :invoke, :f :cas, :value [0 2], :process 36, :time 40938970840, :index 6417}
{:type :fail, :f :cas, :value [0 2], :process 36, :time 40944549404, :index 6420}
{:type :invoke, :f :read, :value nil, :process 50, :time 40966817886, :index 6424}
{:type :ok, :f :read, :value 4, :process 50, :time 40972364294, :index 6426}
{:type :invoke, :f :read, :value nil, :process 51, :time 40978204197, :index 6427}
{:type :invoke, :f :cas, :value [4 4], :process 52, :time 40980260760, :index 6428}
{:type :ok, :f :read, :value 4, :process 51, :time 40984594716, :index 6429}
{:type :ok, :f :cas, :value [4 4], :process 52, :time 40984840457, :index 6430}
{:type :invoke, :f :read, :value nil, :process 52, :time 41004077268, :index 6431}
{:type :ok, :f :read, :value 4, :process 52, :time 41008910393, :index 6432}
{:type :invoke, :f :cas, :value [3 1], :process 35, :time 41035624309, :index 6443}
{:type :fail, :f :cas, :value [3 1], :process 35, :time 41041059892, :index 6444}
{:type :invoke, :f :cas, :value [3 4], :process 54, :time 41049312483, :index 6446}
{:type :invoke, :f :write, :value 0, :process 36, :time 41051815188, :index 6447}
{:type :ok, :f :write, :value 0, :process 36, :time 41057427784, :index 6449}
{:type :invoke, :f :cas, :value [4 1], :process 51, :time 41089860023, :index 6452}
{:type :fail, :f :cas, :value [4 1], :process 51, :time 41095850537, :index 6453}
{:type :invoke, :f :write, :value 4, :process 51, :time 41103117897, :index 6458}
{:type :invoke, :f :cas, :value [2 1], :process 52, :time 41107175828, :index 6461}
{:type :ok, :f :write, :value 4, :process 51, :time 41107951993, :index 6462}
{:type :fail, :f :cas, :value [2 1], :process 52, :time 41112127637, :index 6465}
{:type :invoke, :f :cas, :value [0 1], :process 17, :time 41113290068, :index 6466}
{:type :fail, :f :cas, :value [0 1], :process 17, :time 41118557552, :index 6467}
{:type :invoke, :f :read, :value nil, :process 52, :time 41132367908, :index 6468}
{:type :ok, :f :read, :value 4, :process 52, :time 41136625411, :index 6470}
{:type :invoke, :f :read, :value nil, :process 50, :time 41171618646, :index 6471}
{:type :invoke, :f :cas, :value [3 3], :process 36, :time 41174689657, :index 6472}
{:type :ok, :f :read, :value 4, :process 50, :time 41177432431, :index 6473}
{:type :fail, :f :cas, :value [3 3], :process 36, :time 41179859814, :index 6474}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 41186147206, :index 6475}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 41191881830, :index 6477}
{:type :invoke, :f :read, :value nil, :process 50, :time 41201690973, :index 6479}
{:type :ok, :f :read, :value 4, :process 50, :time 41209737518, :index 6482}
{:type :invoke, :f :cas, :value [1 2], :process 17, :time 41223833447, :index 6484}
{:type :fail, :f :cas, :value [1 2], :process 17, :time 41228332304, :index 6486}
{:type :invoke, :f :read, :value nil, :process 35, :time 41234332416, :index 6490}
{:type :ok, :f :read, :value 4, :process 35, :time 41240070506, :index 6492}
{:type :invoke, :f :cas, :value [3 0], :process 51, :time 41242237098, :index 6493}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :fail, :f :cas, :value [3 0], :process 51, :time 41248208107, :index 6496}
{:type :invoke, :f :write, :value 0, :process 36, :time 41252063039, :index 6497}
{:type :invoke, :f :read, :value nil, :process 52, :time 41256878942, :index 6499}
{:type :ok, :f :write, :value 0, :process 36, :time 41258159338, :index 6500}
{:type :ok, :f :read, :value 0, :process 52, :time 41261559520, :index 6502}
{:type :invoke, :f :cas, :value [3 1], :process 79, :time 41267977445, :index 6503}
{:type :invoke, :f :cas, :value [3 4], :process 36, :time 41284421760, :index 6510}
{:type :invoke, :f :read, :value nil, :process 51, :time 41286520808, :index 6512}
{:type :invoke, :f :cas, :value [0 2], :process 17, :time 41288603330, :index 6515}
{:type :fail, :f :cas, :value [3 4], :process 36, :time 41289626073, :index 6516}
{:type :ok, :f :read, :value 0, :process 51, :time 41291603784, :index 6517}
{:type :ok, :f :cas, :value [0 2], :process 17, :time 41293644777, :index 6518}
{:type :invoke, :f :cas, :value [1 0], :process 98, :time 41303196553, :index 6522}
{:type :invoke, :f :write, :value 2, :process 53, :time 41307260282, :index 6524}
{:type :invoke, :f :cas, :value [1 3], :process 51, :time 41307860684, :index 6525}
{:type :fail, :f :cas, :value [1 3], :process 51, :time 41315438571, :index 6527}
{:type :invoke, :f :write, :value 2, :process 35, :time 41321331235, :index 6529}
{:type :ok, :f :write, :value 2, :process 35, :time 41326618557, :index 6530}
{:type :invoke, :f :write, :value 2, :process 51, :time 41328695012, :index 6531}
{:type :ok, :f :write, :value 2, :process 51, :time 41334625167, :index 6533}
{:type :invoke, :f :write, :value 3, :process 17, :time 41343905695, :index 6535}
{:type :invoke, :f :cas, :value [4 2], :process 51, :time 41347901116, :index 6536}
{:type :ok, :f :write, :value 3, :process 17, :time 41349365140, :index 6538}
{:type :fail, :f :cas, :value [4 2], :process 51, :time 41354582271, :index 6539}
{:type :invoke, :f :cas, :value [2 0], :process 52, :time 41372810305, :index 6543}
{:type :invoke, :f :write, :value 2, :process 51, :time 41379859222, :index 6545}
{:type :ok, :f :write, :value 2, :process 51, :time 41388326895, :index 6546}
{:type :ok, :f :cas, :value [2 0], :process 52, :time 41388904959, :index 6547}
{:type :invoke, :f :read, :value nil, :process 36, :time 41401890066, :index 6551}
{:type :invoke, :f :cas, :value [2 0], :process 50, :time 41407016473, :index 6552}
{:type :ok, :f :read, :value 0, :process 36, :time 41407730039, :index 6553}
{:type :fail, :f :cas, :value [2 0], :process 50, :time 41412680195, :index 6554}
{:type :invoke, :f :read, :value nil, :process 17, :time 41424661055, :index 6555}
{:type :ok, :f :read, :value 0, :process 17, :time 41429427155, :index 6557}
{:type :invoke, :f :write, :value 1, :process 35, :time 41449893493, :index 6561}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :ok, :f :write, :value 1, :process 35, :time 41455424837, :index 6563}
{:type :invoke, :f :read, :value nil, :process 51, :time 41515580298, :index 6569}
{:type :invoke, :f :cas, :value [3 2], :process 35, :time 41520687330, :index 6570}
{:type :invoke, :f :write, :value 3, :process 52, :time 41521274673, :index 6572}
{:type :ok, :f :read, :value 1, :process 51, :time 41521708947, :index 6573}
{:type :ok, :f :write, :value 3, :process 52, :time 41526897470, :index 6578}
{:type :ok, :f :cas, :value [3 2], :process 35, :time 41528689701, :index 6580}
{:type :invoke, :f :write, :value 4, :process 36, :time 41547006281, :index 6584}
{:type :ok, :f :write, :value 4, :process 36, :time 41552187166, :index 6587}
{:type :invoke, :f :write, :value 0, :process 35, :time 41556941353, :index 6588}
{:type :ok, :f :write, :value 0, :process 35, :time 41562611870, :index 6589}
{:type :invoke, :f :write, :value 2, :process 52, :time 41578150184, :index 6590}
{:type :ok, :f :write, :value 2, :process 52, :time 41582992743, :index 6591}
{:type :invoke, :f :read, :value nil, :process 50, :time 41593935452, :index 6592}
{:type :ok, :f :read, :value 2, :process 50, :time 41599488214, :index 6593}
{:type :invoke, :f :write, :value 2, :process 17, :time 41610709585, :index 6595}
{:type :ok, :f :write, :value 2, :process 17, :time 41615809460, :index 6597}
{:type :invoke, :f :write, :value 4, :process 51, :time 41619971991, :index 6598}
{:type :ok, :f :write, :value 4, :process 51, :time 41626971514, :index 6599}
{:type :invoke, :f :read, :value nil, :process 52, :time 41672254366, :index 6609}
{:type :ok, :f :read, :value 4, :process 52, :time 41677111572, :index 6611}
{:type :invoke, :f :write, :value 0, :process 35, :time 41693889446, :index 6614}
{:type :ok, :f :write, :value 0, :process 35, :time 41699846644, :index 6615}
{:type :invoke, :f :write, :value 0, :process 35, :time 41702106521, :index 6616}
{:type :invoke, :f :write, :value 4, :process 52, :time 41702380247, :index 6617}
{:type :ok, :f :write, :value 4, :process 52, :time 41707305342, :index 6618}
{:type :ok, :f :write, :value 0, :process 35, :time 41708552581, :index 6619}
{:type :invoke, :f :read, :value nil, :process 36, :time 41728438167, :index 6623}
{:type :ok, :f :read, :value 0, :process 36, :time 41734449859, :index 6625}
{:type :invoke, :f :read, :value nil, :process 51, :time 41753149746, :index 6626}
{:type :ok, :f :read, :value 0, :process 51, :time 41759642150, :index 6629}
{:type :invoke, :f :read, :value nil, :process 17, :time 41777064231, :index 6630}
{:type :invoke, :f :write, :value 4, :process 50, :time 41780753022, :index 6633}
{:type :ok, :f :read, :value 0, :process 17, :time 41782082758, :index 6634}
{:type :invoke, :f :cas, :value [2 3], :process 52, :time 41786571658, :index 6640}
{:type :invoke, :f :write, :value 3, :process 36, :time 41793714279, :index 6641}
{:type :invoke, :f :read, :value nil, :process 35, :time 41882844173, :index 6643}
{:type :ok, :f :write, :value 4, :process 50, :time 41906183669, :index 6645}
{:type :invoke, :f :write, :value 1, :process 51, :time 41940894026, :index 6647}
{:type :invoke, :f :read, :value nil, :process 17, :time 41947350500, :index 6648}
{:type :invoke, :f :write, :value 3, :process 50, :time 42003485204, :index 6649}
{:type :ok, :f :read, :value 4, :process 17, :time 42172883192, :index 6652}
{:type :ok, :f :read, :value 4, :process 35, :time 42173305021, :index 6654}
{:type :fail, :f :cas, :value [2 3], :process 52, :time 42173722833, :index 6655}
{:type :ok, :f :write, :value 3, :process 50, :time 42173825470, :index 6656}
{:type :ok, :f :write, :value 1, :process 51, :time 42175060904, :index 6659}
{:type :ok, :f :write, :value 3, :process 36, :time 42175060924, :index 6660}
{:type :invoke, :f :read, :value nil, :process 50, :time 42191163334, :index 6662}
{:type :ok, :f :read, :value 1, :process 50, :time 42196954271, :index 6663}
{:type :invoke, :f :read, :value nil, :process 51, :time 42213316475, :index 6664}
{:type :ok, :f :read, :value 1, :process 51, :time 42218964534, :index 6666}
{:type :invoke, :f :read, :value nil, :process 17, :time 42227253401, :index 6669}
{:type :ok, :f :read, :value 1, :process 17, :time 42231352623, :index 6671}
{:type :invoke, :f :cas, :value [0 2], :process 35, :time 42262537736, :index 6672}
{:type :invoke, :f :write, :value 2, :process 17, :time 42276606283, :index 6674}
{:type :invoke, :f :read, :value nil, :process 50, :time 42278224679, :index 6675}
{:type :invoke, :f :read, :value nil, :process 52, :time 42302146452, :index 6679}
{:type :invoke, :f :read, :value nil, :process 36, :time 42319329112, :index 6680}
{:type :invoke, :f :read, :value nil, :process 51, :time 42366225047, :index 6682}
{:type :fail, :f :cas, :value [0 2], :process 35, :time 45134153977, :index 6684}
{:type :ok, :f :read, :value 2, :process 36, :time 45135675200, :index 6685}
{:type :ok, :f :read, :value 2, :process 51, :time 45136135091, :index 6687}
{:type :ok, :f :read, :value 2, :process 52, :time 45136406124, :index 6688}
{:type :ok, :f :cas, :value [1 0], :process 98, :time 45136813555, :index 6690}
{:type :ok, :f :write, :value 2, :process 53, :time 45136991504, :index 6691}
{:type :ok, :f :write, :value 2, :process 17, :time 45137234452, :index 6692}
{:type :fail, :f :cas, :value [3 4], :process 54, :time 45138372901, :index 6699}
{:type :fail, :f :cas, :value [3 1], :process 79, :time 45139390160, :index 6701}
{:type :ok, :f :read, :value 2, :process 50, :time 45140240298, :index 6703}
{:type :invoke, :f :read, :value nil, :process 36, :time 45144952331, :index 6704}
{:type :invoke, :f :write, :value 0, :process 98, :time 45147672594, :index 6705}
{:type :ok, :f :read, :value 2, :process 36, :time 45150204806, :index 6707}
{:type :ok, :f :write, :value 0, :process 98, :time 45153073474, :index 6708}
{:type :invoke, :f :read, :value nil, :process 51, :time 45194418294, :index 6719}
{:type :ok, :f :read, :value 0, :process 51, :time 45198498697, :index 6723}
{:type :invoke, :f :write, :value 2, :process 53, :time 45198842065, :index 6724}
{:type :ok, :f :write, :value 2, :process 53, :time 45204486011, :index 6727}
{:type :invoke, :f :read, :value nil, :process 35, :time 45253483440, :index 6734}
{:type :ok, :f :read, :value 2, :process 35, :time 45258834402, :index 6735}
{:type :invoke, :f :cas, :value [4 3], :process 52, :time 45306010144, :index 6753}
{:type :fail, :f :cas, :value [4 3], :process 52, :time 45311518848, :index 6756}
{:type :invoke, :f :write, :value 4, :process 17, :time 45315856053, :index 6758}
{:type :ok, :f :write, :value 4, :process 17, :time 45321011900, :index 6759}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
