{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :invoke, :f :read, :value nil, :process 15, :time 5260171494, :index 1555}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :ok, :f :read, :value nil, :process 15, :time 5844987234, :index 1567}
{:type :invoke, :f :read, :value nil, :process 10, :time 5933984477, :index 1576}
{:type :invoke, :f :write, :value 3, :process 15, :time 5962249392, :index 1578}
{:type :invoke, :f :write, :value 3, :process 16, :time 5978495499, :index 1579}
{:type :invoke, :f :write, :value 2, :process 11, :time 5991320609, :index 1580}
{:type :invoke, :f :cas, :value [2 4], :process 18, :time 6038969204, :index 1584}
{:type :invoke, :f :read, :value nil, :process 13, :time 6041211782, :index 1585}
{:type :ok, :f :read, :value 3, :process 13, :time 6323602490, :index 1588}
{:type :ok, :f :write, :value 3, :process 16, :time 6324169889, :index 1589}
{:type :ok, :f :write, :value 3, :process 15, :time 6324541388, :index 1590}
{:type :fail, :f :cas, :value [2 4], :process 18, :time 6324582598, :index 1591}
{:type :ok, :f :write, :value 2, :process 11, :time 6324871701, :index 1592}
{:type :ok, :f :read, :value nil, :process 10, :time 6327319423, :index 1597}
{:type :invoke, :f :read, :value nil, :process 10, :time 6342569666, :index 1598}
{:type :ok, :f :read, :value 2, :process 10, :time 6349439485, :index 1600}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 6350465144, :index 1601}
{:type :fail, :f :cas, :value [1 0], :process 16, :time 6356750222, :index 1604}
{:type :invoke, :f :read, :value nil, :process 11, :time 6386104352, :index 1608}
{:type :ok, :f :read, :value 2, :process 11, :time 6391856754, :index 1609}
{:type :invoke, :f :cas, :value [2 2], :process 16, :time 6470018789, :index 1616}
{:type :ok, :f :cas, :value [2 2], :process 16, :time 6475909726, :index 1617}
{:type :invoke, :f :write, :value 0, :process 18, :time 6480820939, :index 1618}
{:type :ok, :f :write, :value 0, :process 18, :time 6485449166, :index 1620}
{:type :invoke, :f :write, :value 1, :process 15, :time 6489808203, :index 1622}
{:type :ok, :f :write, :value 1, :process 15, :time 6495186509, :index 1623}
{:type :invoke, :f :read, :value nil, :process 13, :time 6501838136, :index 1624}
{:type :ok, :f :read, :value 1, :process 13, :time 6507229907, :index 1628}
{:type :invoke, :f :cas, :value [1 3], :process 11, :time 6542119920, :index 1636}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 6542745891, :index 1637}
{:type :fail, :f :cas, :value [4 4], :process 10, :time 6549036136, :index 1639}
{:type :ok, :f :cas, :value [1 3], :process 11, :time 6549297061, :index 1640}
{:type :invoke, :f :write, :value 2, :process 13, :time 6572521765, :index 1648}
{:type :ok, :f :write, :value 2, :process 13, :time 6577670876, :index 1650}
{:type :invoke, :f :read, :value nil, :process 18, :time 6610725312, :index 1654}
{:type :ok, :f :read, :value 2, :process 18, :time 6615742828, :index 1655}
{:type :invoke, :f :cas, :value [0 4], :process 11, :time 6618568807, :index 1656}
{:type :invoke, :f :read, :value nil, :process 10, :time 6620375203, :index 1657}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 6623196164, :index 1658}
{:type :fail, :f :cas, :value [0 4], :process 11, :time 6625888129, :index 1659}
{:type :ok, :f :read, :value 2, :process 10, :time 6626732758, :index 1660}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 6628772621, :index 1661}
{:type :invoke, :f :write, :value 1, :process 15, :time 6656452907, :index 1664}
{:type :ok, :f :write, :value 1, :process 15, :time 6662658003, :index 1665}
{:type :invoke, :f :write, :value 2, :process 13, :time 6697935847, :index 1668}
{:type :invoke, :f :read, :value nil, :process 18, :time 6742012739, :index 1669}
{:type :invoke, :f :write, :value 2, :process 11, :time 6755155659, :index 1672}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 6770000601, :index 1674}
{:type :invoke, :f :read, :value nil, :process 16, :time 6800062673, :index 1676}
{:type :invoke, :f :cas, :value [1 4], :process 15, :time 6837929490, :index 1677}
{:type :ok, :f :write, :value 2, :process 13, :time 7063139914, :index 1681}
{:type :ok, :f :read, :value 2, :process 18, :time 7063423651, :index 1682}
{:type :ok, :f :write, :value 2, :process 11, :time 7064578868, :index 1684}
{:type :fail, :f :cas, :value [0 3], :process 10, :time 7065657832, :index 1688}
{:type :fail, :f :cas, :value [1 4], :process 15, :time 7066673335, :index 1690}
{:type :ok, :f :read, :value 2, :process 16, :time 7066721900, :index 1691}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 7114700180, :index 1693}
{:type :fail, :f :cas, :value [0 4], :process 13, :time 7120379881, :index 1695}
{:type :invoke, :f :write, :value 3, :process 10, :time 7145903510, :index 1697}
{:type :ok, :f :write, :value 3, :process 10, :time 7152189564, :index 1699}
{:type :invoke, :f :write, :value 1, :process 18, :time 7160783982, :index 1700}
{:type :ok, :f :write, :value 1, :process 18, :time 7165285826, :index 1701}
{:type :invoke, :f :cas, :value [3 1], :process 18, :time 7189553347, :index 1707}
{:type :fail, :f :cas, :value [3 1], :process 18, :time 7195062505, :index 1709}
{:type :invoke, :f :read, :value nil, :process 16, :time 7218957564, :index 1714}
{:type :invoke, :f :cas, :value [2 0], :process 15, :time 7223950147, :index 1715}
{:type :ok, :f :read, :value 1, :process 16, :time 7224467703, :index 1716}
{:type :invoke, :f :write, :value 1, :process 11, :time 7226867871, :index 1717}
{:type :fail, :f :cas, :value [2 0], :process 15, :time 7229619413, :index 1718}
{:type :ok, :f :write, :value 1, :process 11, :time 7231967112, :index 1719}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 7242443144, :index 1721}
{:type :fail, :f :cas, :value [4 4], :process 10, :time 7249189997, :index 1723}
{:type :invoke, :f :read, :value nil, :process 10, :time 7275490153, :index 1726}
{:type :ok, :f :read, :value 1, :process 10, :time 7280605946, :index 1727}
{:type :invoke, :f :write, :value 1, :process 13, :time 7289639913, :index 1728}
{:type :ok, :f :write, :value 1, :process 13, :time 7294378002, :index 1729}
{:type :invoke, :f :cas, :value [0 1], :process 18, :time 7308357039, :index 1730}
{:type :fail, :f :cas, :value [0 1], :process 18, :time 7314978484, :index 1731}
{:type :invoke, :f :read, :value nil, :process 18, :time 7333242116, :index 1736}
{:type :ok, :f :read, :value 1, :process 18, :time 7339102108, :index 1737}
{:type :invoke, :f :read, :value nil, :process 11, :time 7361222036, :index 1742}
{:type :ok, :f :read, :value 1, :process 11, :time 7367084144, :index 1743}
{:type :invoke, :f :read, :value nil, :process 16, :time 7385730385, :index 1746}
{:type :invoke, :f :read, :value nil, :process 15, :time 7385895501, :index 1747}
{:type :ok, :f :read, :value 1, :process 15, :time 7391646698, :index 1749}
{:type :ok, :f :read, :value 1, :process 16, :time 7392128678, :index 1750}
{:type :invoke, :f :read, :value nil, :process 18, :time 7392658730, :index 1752}
{:type :ok, :f :read, :value 1, :process 18, :time 7397441984, :index 1753}
{:type :invoke, :f :write, :value 4, :process 11, :time 7423340871, :index 1758}
{:type :invoke, :f :write, :value 1, :process 13, :time 7424646348, :index 1759}
{:type :ok, :f :write, :value 4, :process 11, :time 7429394642, :index 1762}
{:type :ok, :f :write, :value 1, :process 13, :time 7429725851, :index 1763}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 7463912062, :index 1768}
{:type :ok, :f :cas, :value [1 1], :process 10, :time 7469722453, :index 1770}
{:type :invoke, :f :read, :value nil, :process 15, :time 7524920103, :index 1774}
{:type :ok, :f :read, :value 1, :process 15, :time 7530883913, :index 1777}
{:type :invoke, :f :cas, :value [1 2], :process 16, :time 7536388790, :index 1780}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 7538986445, :index 1781}
{:type :ok, :f :cas, :value [1 2], :process 16, :time 7541615573, :index 1782}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 7544125965, :index 1783}
{:type :invoke, :f :read, :value nil, :process 11, :time 7552645770, :index 1784}
{:type :ok, :f :read, :value 2, :process 11, :time 7559193984, :index 1786}
{:type :invoke, :f :read, :value nil, :process 10, :time 7590439211, :index 1791}
{:type :invoke, :f :write, :value 3, :process 18, :time 7593785228, :index 1793}
{:type :ok, :f :read, :value 2, :process 10, :time 7597215053, :index 1794}
{:type :ok, :f :write, :value 3, :process 18, :time 7598614665, :index 1796}
{:type :invoke, :f :write, :value 2, :process 13, :time 7607984956, :index 1800}
{:type :invoke, :f :read, :value nil, :process 16, :time 7611897595, :index 1801}
{:type :ok, :f :write, :value 2, :process 13, :time 7613475667, :index 1802}
{:type :ok, :f :read, :value 2, :process 16, :time 7617238242, :index 1803}
{:type :invoke, :f :write, :value 1, :process 13, :time 7640764369, :index 1807}
{:type :ok, :f :write, :value 1, :process 13, :time 7646825060, :index 1808}
{:type :invoke, :f :read, :value nil, :process 18, :time 7671893378, :index 1812}
{:type :ok, :f :read, :value 1, :process 18, :time 7678673417, :index 1813}
{:type :invoke, :f :read, :value nil, :process 15, :time 7691147368, :index 1814}
{:type :ok, :f :read, :value 1, :process 15, :time 7697343419, :index 1816}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 7705986400, :index 1818}
{:type :invoke, :f :read, :value nil, :process 11, :time 7710484265, :index 1819}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 7711547806, :index 1820}
{:type :ok, :f :read, :value 1, :process 11, :time 7715662507, :index 1821}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 7743488217, :index 1825}
{:type :fail, :f :cas, :value [0 2], :process 10, :time 7749765656, :index 1827}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 7782513784, :index 1832}
{:type :fail, :f :cas, :value [3 2], :process 16, :time 7788281864, :index 1833}
{:type :invoke, :f :read, :value nil, :process 13, :time 7793107904, :index 1834}
{:type :invoke, :f :write, :value 3, :process 11, :time 7794918218, :index 1835}
{:type :ok, :f :read, :value 1, :process 13, :time 7798365158, :index 1837}
{:type :invoke, :f :cas, :value [3 1], :process 16, :time 7799552893, :index 1838}
{:type :ok, :f :write, :value 3, :process 11, :time 7800794335, :index 1839}
{:type :ok, :f :cas, :value [3 1], :process 16, :time 7804954936, :index 1842}
{:type :invoke, :f :write, :value 3, :process 18, :time 7866822557, :index 1854}
{:type :ok, :f :write, :value 3, :process 18, :time 7872025420, :index 1855}
{:type :invoke, :f :read, :value nil, :process 18, :time 7877288535, :index 1856}
{:type :invoke, :f :write, :value 3, :process 10, :time 7881042309, :index 1857}
{:type :ok, :f :read, :value 3, :process 18, :time 7882595768, :index 1858}
{:type :ok, :f :write, :value 3, :process 10, :time 7886725921, :index 1859}
{:type :invoke, :f :cas, :value [3 0], :process 15, :time 7887607039, :index 1860}
{:type :invoke, :f :read, :value nil, :process 11, :time 7890054306, :index 1861}
{:type :ok, :f :cas, :value [3 0], :process 15, :time 7893374503, :index 1863}
{:type :invoke, :f :read, :value nil, :process 13, :time 7896632754, :index 1864}
{:type :ok, :f :read, :value 0, :process 11, :time 7899455181, :index 1865}
{:type :ok, :f :read, :value 0, :process 13, :time 7901285431, :index 1867}
{:type :invoke, :f :read, :value nil, :process 16, :time 7938213532, :index 1872}
{:type :ok, :f :read, :value 0, :process 16, :time 7943788319, :index 1873}
{:type :invoke, :f :write, :value 2, :process 16, :time 7948057897, :index 1875}
{:type :ok, :f :write, :value 2, :process 16, :time 7953113792, :index 1877}
{:type :invoke, :f :cas, :value [1 0], :process 15, :time 8012645198, :index 1887}
{:type :fail, :f :cas, :value [1 0], :process 15, :time 8018276512, :index 1889}
{:type :invoke, :f :read, :value nil, :process 11, :time 8021734629, :index 1891}
{:type :invoke, :f :read, :value nil, :process 18, :time 8024902675, :index 1892}
{:type :ok, :f :read, :value 2, :process 18, :time 8029853602, :index 1894}
{:type :invoke, :f :write, :value 3, :process 18, :time 8029993309, :index 1895}
{:type :ok, :f :read, :value 2, :process 11, :time 8045258171, :index 1896}
{:type :invoke, :f :read, :value nil, :process 10, :time 8044984132, :index 1897}
{:type :ok, :f :read, :value 2, :process 10, :time 8051241419, :index 1898}
{:type :ok, :f :write, :value 3, :process 18, :time 8054155963, :index 1899}
{:type :invoke, :f :read, :value nil, :process 10, :time 8054498006, :index 1900}
{:type :ok, :f :read, :value 3, :process 10, :time 8060462367, :index 1901}
{:type :invoke, :f :read, :value nil, :process 13, :time 8093539276, :index 1904}
{:type :ok, :f :read, :value 3, :process 13, :time 8098100046, :index 1905}
{:type :invoke, :f :cas, :value [4 0], :process 13, :time 8134361177, :index 1915}
{:type :invoke, :f :write, :value 1, :process 10, :time 8134743740, :index 1916}
{:type :fail, :f :cas, :value [4 0], :process 13, :time 8139978041, :index 1918}
{:type :ok, :f :write, :value 1, :process 10, :time 8141375497, :index 1919}
{:type :invoke, :f :write, :value 4, :process 16, :time 8143371983, :index 1921}
{:type :ok, :f :write, :value 4, :process 16, :time 8149159063, :index 1923}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 8168536003, :index 1928}
{:type :invoke, :f :read, :value nil, :process 18, :time 8173421462, :index 1930}
{:type :ok, :f :cas, :value [4 2], :process 15, :time 8174474664, :index 1931}
{:type :ok, :f :read, :value 2, :process 18, :time 8178501935, :index 1934}
{:type :invoke, :f :write, :value 1, :process 18, :time 8205779708, :index 1936}
{:type :ok, :f :write, :value 1, :process 18, :time 8212645342, :index 1937}
{:type :invoke, :f :read, :value nil, :process 11, :time 8214530705, :index 1938}
{:type :ok, :f :read, :value 1, :process 11, :time 8219513247, :index 1939}
{:type :invoke, :f :read, :value nil, :process 10, :time 8238618284, :index 1940}
{:type :ok, :f :read, :value 1, :process 10, :time 8244402602, :index 1941}
{:type :invoke, :f :read, :value nil, :process 15, :time 8261787493, :index 1945}
{:type :ok, :f :read, :value 1, :process 15, :time 8267839902, :index 1947}
{:type :invoke, :f :write, :value 1, :process 16, :time 8292414302, :index 1951}
{:type :ok, :f :write, :value 1, :process 16, :time 8297148786, :index 1954}
{:type :invoke, :f :read, :value nil, :process 11, :time 8312773362, :index 1956}
{:type :ok, :f :read, :value 1, :process 11, :time 8317794421, :index 1957}
{:type :invoke, :f :cas, :value [4 4], :process 16, :time 8330401002, :index 1958}
{:type :fail, :f :cas, :value [4 4], :process 16, :time 8335974253, :index 1959}
{:type :invoke, :f :write, :value 0, :process 13, :time 8336237847, :index 1960}
{:type :ok, :f :write, :value 0, :process 13, :time 8341424358, :index 1961}
{:type :invoke, :f :read, :value nil, :process 15, :time 8381115904, :index 1974}
{:type :ok, :f :read, :value 0, :process 15, :time 8386264589, :index 1975}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 8389595417, :index 1976}
{:type :fail, :f :cas, :value [1 1], :process 10, :time 8395189827, :index 1977}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 8396905467, :index 1979}
{:type :ok, :f :cas, :value [0 2], :process 18, :time 8402727372, :index 1981}
{:type :invoke, :f :cas, :value [1 2], :process 13, :time 8427680953, :index 1982}
{:type :fail, :f :cas, :value [1 2], :process 13, :time 8433086986, :index 1984}
{:type :invoke, :f :write, :value 2, :process 15, :time 8488524244, :index 1996}
{:type :ok, :f :write, :value 2, :process 15, :time 8493708478, :index 1997}
{:type :invoke, :f :write, :value 3, :process 11, :time 8514049952, :index 1998}
{:type :ok, :f :write, :value 3, :process 11, :time 8520081431, :index 1999}
{:type :invoke, :f :write, :value 2, :process 16, :time 8529234906, :index 2001}
{:type :ok, :f :write, :value 2, :process 16, :time 8534235643, :index 2003}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
