{:type :invoke, :f :cas, :value [4 0], :process 19, :time 5114537050, :index 1599}
{:type :fail, :f :cas, :value [4 0], :process 19, :time 5120246743, :error :not-found, :index 1604}
{:type :invoke, :f :write, :value 0, :process 10, :time 5164672471, :index 1625}
{:type :ok, :f :write, :value 0, :process 10, :time 5169426666, :index 1627}
{:type :invoke, :f :read, :value nil, :process 19, :time 5180515904, :index 1630}
{:type :ok, :f :read, :value 0, :process 19, :time 5186353269, :index 1631}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 5201373322, :index 1635}
{:type :fail, :f :cas, :value [2 4], :process 16, :time 5207607829, :index 1638}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 5244886154, :index 1644}
{:type :invoke, :f :cas, :value [1 1], :process 13, :time 5263425651, :index 1646}
{:type :invoke, :f :read, :value nil, :process 14, :time 5269432165, :index 1648}
{:type :invoke, :f :write, :value 2, :process 19, :time 5287613890, :index 1649}
{:type :invoke, :f :cas, :value [4 3], :process 18, :time 5295940647, :index 1651}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 5333686776, :index 1654}
{:type :invoke, :f :read, :value nil, :process 16, :time 5378879002, :index 1656}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 5939067423, :index 1658}
{:type :ok, :f :write, :value 2, :process 19, :time 5939669536, :index 1662}
{:type :ok, :f :read, :value 0, :process 14, :time 5940140344, :index 1665}
{:type :invoke, :f :write, :value 3, :process 19, :time 5942855265, :index 1670}
{:type :ok, :f :write, :value 3, :process 19, :time 5949033428, :index 1671}
{:type :invoke, :f :write, :value 4, :process 10, :time 6014412114, :index 1676}
{:type :ok, :f :write, :value 4, :process 10, :time 6019620604, :index 1677}
{:type :invoke, :f :write, :value 2, :process 12, :time 6046145829, :index 1678}
{:type :ok, :f :write, :value 2, :process 12, :time 6051723116, :index 1680}
{:type :invoke, :f :cas, :value [4 0], :process 12, :time 6051871742, :index 1681}
{:type :fail, :f :cas, :value [4 0], :process 12, :time 6057744806, :index 1683}
{:type :invoke, :f :read, :value nil, :process 14, :time 6097098937, :index 1692}
{:type :ok, :f :read, :value 2, :process 14, :time 6101834853, :index 1693}
{:type :invoke, :f :read, :value nil, :process 17, :time 6110190079, :index 1694}
{:type :invoke, :f :read, :value nil, :process 19, :time 6112224697, :index 1695}
{:type :ok, :f :read, :value 2, :process 17, :time 6115182603, :index 1696}
{:type :ok, :f :read, :value 2, :process 19, :time 6117131131, :index 1697}
{:type :invoke, :f :read, :value nil, :process 15, :time 6130940857, :index 1699}
{:type :invoke, :f :write, :value 0, :process 17, :time 6138444536, :index 1700}
{:type :invoke, :f :write, :value 0, :process 14, :time 6165099709, :index 1701}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 6169895572, :index 1703}
{:type :ok, :f :read, :value 2, :process 15, :time 6190450712, :index 1705}
{:type :ok, :f :write, :value 0, :process 14, :time 6191139279, :index 1707}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 6191174419, :index 1708}
{:type :ok, :f :write, :value 0, :process 17, :time 6191522316, :index 1709}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 6227425631, :index 1718}
{:type :invoke, :f :cas, :value [2 1], :process 17, :time 6227780893, :index 1719}
{:type :fail, :f :cas, :value [2 1], :process 17, :time 6233412989, :index 1720}
{:type :ok, :f :cas, :value [0 3], :process 10, :time 6233483394, :index 1721}
{:type :invoke, :f :write, :value 0, :process 10, :time 6235772525, :index 1722}
{:type :invoke, :f :cas, :value [3 1], :process 19, :time 6237389939, :index 1723}
{:type :ok, :f :write, :value 0, :process 10, :time 6242010491, :index 1724}
{:type :invoke, :f :cas, :value [0 3], :process 12, :time 6243015348, :index 1725}
{:type :fail, :f :cas, :value [3 1], :process 19, :time 6243271705, :index 1726}
{:type :ok, :f :cas, :value [0 3], :process 12, :time 6248328591, :index 1727}
{:type :invoke, :f :cas, :value [2 3], :process 17, :time 6320724903, :index 1738}
{:type :invoke, :f :read, :value nil, :process 14, :time 6325426123, :index 1740}
{:type :fail, :f :cas, :value [2 3], :process 17, :time 6327401701, :index 1741}
{:type :ok, :f :read, :value 3, :process 14, :time 6330626429, :index 1743}
{:type :invoke, :f :read, :value nil, :process 19, :time 6353521206, :index 1746}
{:type :ok, :f :read, :value 3, :process 19, :time 6359299604, :index 1747}
{:type :invoke, :f :read, :value nil, :process 15, :time 6362727571, :index 1750}
{:type :invoke, :f :write, :value 4, :process 12, :time 6374589617, :index 1753}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 6426178996, :index 1756}
{:type :invoke, :f :read, :value nil, :process 17, :time 6508671382, :index 1761}
{:type :invoke, :f :cas, :value [3 0], :process 14, :time 6525857374, :index 1762}
{:type :invoke, :f :read, :value nil, :process 19, :time 6547561358, :index 1763}
{:type :ok, :f :read, :value 3, :process 15, :time 6595938852, :index 1764}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 6598115763, :index 1767}
{:type :ok, :f :read, :value 4, :process 17, :time 6598477596, :index 1768}
{:type :ok, :f :write, :value 4, :process 12, :time 6598871829, :index 1772}
{:type :ok, :f :read, :value 4, :process 19, :time 6599532625, :index 1774}
{:type :fail, :f :cas, :value [3 0], :process 14, :time 6600074654, :index 1775}
{:type :invoke, :f :read, :value nil, :process 19, :time 6613770549, :index 1777}
{:type :invoke, :f :cas, :value [2 1], :process 12, :time 6614494515, :index 1778}
{:type :ok, :f :read, :value 4, :process 19, :time 6618819162, :index 1779}
{:type :fail, :f :cas, :value [2 1], :process 12, :time 6620426688, :index 1781}
{:type :invoke, :f :read, :value nil, :process 15, :time 6646218692, :index 1782}
{:type :invoke, :f :write, :value 4, :process 12, :time 6647688081, :index 1783}
{:type :ok, :f :read, :value 4, :process 15, :time 6651181554, :index 1785}
{:type :ok, :f :write, :value 4, :process 12, :time 6655011965, :index 1786}
{:type :invoke, :f :write, :value 2, :process 19, :time 6664073491, :index 1788}
{:type :ok, :f :write, :value 2, :process 19, :time 6669830725, :index 1789}
{:type :invoke, :f :cas, :value [1 1], :process 14, :time 6714348717, :index 1796}
{:type :invoke, :f :cas, :value [2 0], :process 10, :time 6718442626, :index 1797}
{:type :fail, :f :cas, :value [1 1], :process 14, :time 6720072647, :index 1798}
{:type :ok, :f :cas, :value [2 0], :process 10, :time 6723364951, :index 1799}
{:type :invoke, :f :cas, :value [2 3], :process 12, :time 6732222464, :index 1801}
{:type :invoke, :f :read, :value nil, :process 10, :time 6733623535, :index 1802}
{:type :fail, :f :cas, :value [2 3], :process 12, :time 6737704124, :index 1804}
{:type :ok, :f :read, :value 0, :process 10, :time 6738765611, :index 1805}
{:type :invoke, :f :write, :value 0, :process 17, :time 6758718233, :index 1810}
{:type :invoke, :f :write, :value 1, :process 19, :time 6759116606, :index 1811}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 6764466952, :index 1812}
{:type :ok, :f :write, :value 0, :process 17, :time 6764611790, :index 1813}
{:type :ok, :f :write, :value 1, :process 19, :time 6765171562, :index 1814}
{:type :fail, :f :cas, :value [0 0], :process 15, :time 6771364648, :index 1816}
{:type :invoke, :f :cas, :value [2 1], :process 17, :time 6797851758, :index 1820}
{:type :fail, :f :cas, :value [2 1], :process 17, :time 6803182339, :index 1821}
{:type :invoke, :f :read, :value nil, :process 14, :time 6839357524, :index 1826}
{:type :invoke, :f :write, :value 0, :process 17, :time 6868449645, :index 1828}
{:type :invoke, :f :cas, :value [3 4], :process 10, :time 6871026681, :index 1829}
{:type :invoke, :f :cas, :value [2 0], :process 15, :time 6889628156, :index 1830}
{:type :invoke, :f :write, :value 4, :process 12, :time 6925963852, :index 1832}
{:type :invoke, :f :cas, :value [4 3], :process 19, :time 6935430870, :index 1833}
{:type :fail, :f :cas, :value [2 0], :process 15, :time 7220592124, :index 1838}
{:type :ok, :f :write, :value 4, :process 12, :time 7221932086, :index 1841}
{:type :ok, :f :read, :value 4, :process 14, :time 7221960146, :index 1842}
{:type :ok, :f :write, :value 0, :process 17, :time 7222164055, :index 1843}
{:type :ok, :f :cas, :value [4 3], :process 19, :time 7222243672, :index 1844}
{:type :fail, :f :cas, :value [3 4], :process 10, :time 7222380178, :index 1845}
{:type :invoke, :f :read, :value nil, :process 12, :time 7287220165, :index 1856}
{:type :ok, :f :read, :value 3, :process 12, :time 7293703635, :index 1857}
{:type :invoke, :f :read, :value nil, :process 17, :time 7309803279, :index 1861}
{:type :ok, :f :read, :value 3, :process 17, :time 7317688937, :index 1863}
{:type :invoke, :f :read, :value nil, :process 14, :time 7328421529, :index 1864}
{:type :ok, :f :read, :value 3, :process 14, :time 7333876072, :index 1865}
{:type :invoke, :f :read, :value nil, :process 10, :time 7362966682, :index 1870}
{:type :ok, :f :read, :value 3, :process 10, :time 7367789250, :index 1871}
{:type :invoke, :f :read, :value nil, :process 17, :time 7368937245, :index 1872}
{:type :invoke, :f :read, :value nil, :process 19, :time 7372889163, :index 1873}
{:type :ok, :f :read, :value 3, :process 17, :time 7374058635, :index 1874}
{:type :ok, :f :read, :value 3, :process 19, :time 7378499484, :index 1875}
{:type :invoke, :f :write, :value 1, :process 19, :time 7386767820, :index 1876}
{:type :ok, :f :write, :value 1, :process 19, :time 7392356452, :index 1879}
{:type :invoke, :f :read, :value nil, :process 15, :time 7401895649, :index 1883}
{:type :ok, :f :read, :value 1, :process 15, :time 7407353494, :index 1885}
{:type :invoke, :f :read, :value nil, :process 15, :time 7424585746, :index 1886}
{:type :ok, :f :read, :value 1, :process 15, :time 7431323295, :index 1887}
{:type :invoke, :f :read, :value nil, :process 12, :time 7455986338, :index 1892}
{:type :ok, :f :read, :value 1, :process 12, :time 7461826316, :index 1893}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 7480042491, :index 1894}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 7485669484, :index 1895}
{:type :invoke, :f :write, :value 1, :process 19, :time 7488635222, :index 1896}
{:type :invoke, :f :cas, :value [4 3], :process 14, :time 7491133885, :index 1897}
{:type :ok, :f :write, :value 1, :process 19, :time 7494088398, :index 1898}
{:type :fail, :f :cas, :value [4 3], :process 14, :time 7496157450, :index 1900}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 7500925330, :index 1902}
{:type :ok, :f :cas, :value [1 3], :process 10, :time 7506440670, :index 1904}
{:type :invoke, :f :write, :value 4, :process 10, :time 7538699699, :index 1910}
{:type :ok, :f :write, :value 4, :process 10, :time 7543624498, :index 1912}
{:type :invoke, :f :read, :value nil, :process 19, :time 7549354338, :index 1915}
{:type :ok, :f :read, :value 4, :process 19, :time 7555075769, :index 1917}
{:type :invoke, :f :write, :value 2, :process 17, :time 7556223816, :index 1918}
{:type :ok, :f :write, :value 2, :process 17, :time 7561284732, :index 1919}
{:type :invoke, :f :write, :value 1, :process 14, :time 7598451534, :index 1924}
{:type :ok, :f :write, :value 1, :process 14, :time 7603958239, :index 1925}
{:type :invoke, :f :read, :value nil, :process 12, :time 7613096138, :index 1927}
{:type :invoke, :f :read, :value nil, :process 15, :time 7618580890, :index 1929}
{:type :ok, :f :read, :value 1, :process 12, :time 7619324997, :index 1930}
{:type :ok, :f :read, :value 1, :process 15, :time 7624043696, :index 1931}
{:type :invoke, :f :cas, :value [0 0], :process 14, :time 7648222750, :index 1934}
{:type :invoke, :f :read, :value nil, :process 10, :time 7652882674, :index 1935}
{:type :fail, :f :cas, :value [0 0], :process 14, :time 7654080331, :index 1936}
{:type :ok, :f :read, :value 1, :process 10, :time 7657265192, :index 1937}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 7704508941, :index 1944}
{:type :fail, :f :cas, :value [0 0], :process 10, :time 7709353604, :index 1945}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 7723300169, :index 1946}
{:type :invoke, :f :cas, :value [1 4], :process 19, :time 7723337870, :index 1947}
{:type :ok, :f :cas, :value [1 4], :process 19, :time 7728884222, :index 1948}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 7729532310, :index 1949}
{:type :invoke, :f :read, :value nil, :process 17, :time 7736598461, :index 1950}
{:type :ok, :f :read, :value 4, :process 17, :time 7741939778, :index 1952}
{:type :invoke, :f :read, :value nil, :process 10, :time 7748613011, :index 1954}
{:type :ok, :f :read, :value 4, :process 10, :time 7753914031, :index 1955}
{:type :invoke, :f :read, :value nil, :process 12, :time 7767581548, :index 1958}
{:type :invoke, :f :read, :value nil, :process 14, :time 7806352397, :index 1963}
{:type :invoke, :f :cas, :value [1 0], :process 19, :time 7820153103, :index 1964}
{:type :invoke, :f :read, :value nil, :process 17, :time 7832196136, :index 1965}
{:type :invoke, :f :cas, :value [2 0], :process 15, :time 7860821054, :index 1966}
{:type :invoke, :f :read, :value nil, :process 10, :time 7937187711, :index 1967}
{:type :ok, :f :read, :value 4, :process 10, :time 8286533723, :index 1972}
{:type :fail, :f :cas, :value [1 0], :process 19, :time 8287584507, :index 1974}
{:type :ok, :f :read, :value 4, :process 14, :time 8287822507, :index 1975}
{:type :ok, :f :read, :value 4, :process 12, :time 8288218311, :index 1977}
{:type :fail, :f :cas, :value [2 0], :process 15, :time 8289578360, :index 1981}
{:type :ok, :f :read, :value 4, :process 17, :time 8289796225, :index 1982}
{:type :invoke, :f :cas, :value [3 0], :process 17, :time 8314130954, :index 1985}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 8333679753, :index 1987}
{:type :invoke, :f :write, :value 0, :process 12, :time 8373697360, :index 1989}
{:type :invoke, :f :read, :value nil, :process 14, :time 8399565460, :index 1990}
{:type :invoke, :f :read, :value nil, :process 15, :time 8443869245, :index 1992}
{:type :invoke, :f :cas, :value [1 4], :process 19, :time 8477556328, :index 1994}
{:type :fail, :f :cas, :value [3 0], :process 17, :time 8800615001, :index 1997}
{:type :ok, :f :cas, :value [4 4], :process 10, :time 8801881445, :index 1999}
{:type :ok, :f :write, :value 0, :process 12, :time 8802487051, :index 2001}
{:type :ok, :f :read, :value 4, :process 15, :time 8802788509, :index 2002}
{:type :ok, :f :read, :value 0, :process 14, :time 8803921210, :index 2006}
{:type :fail, :f :cas, :value [1 4], :process 19, :time 8804735433, :index 2007}
{:type :invoke, :f :write, :value 4, :process 14, :time 8844174904, :index 2010}
{:type :invoke, :f :write, :value 1, :process 15, :time 8883058693, :index 2013}
{:type :invoke, :f :cas, :value [0 0], :process 17, :time 8891881763, :index 2015}
{:type :invoke, :f :write, :value 3, :process 10, :time 8893190602, :index 2016}
{:type :invoke, :f :cas, :value [2 2], :process 19, :time 8958901608, :index 2020}
{:type :invoke, :f :write, :value 2, :process 12, :time 8974726927, :index 2021}
{:type :ok, :f :write, :value 4, :process 14, :time 9664101907, :index 2022}
{:type :ok, :f :write, :value 3, :process 10, :time 9666240744, :index 2025}
{:type :ok, :f :write, :value 1, :process 15, :time 9666330273, :index 2026}
{:type :ok, :f :write, :value 2, :process 12, :time 9666535062, :index 2027}
{:type :ok, :f :cas, :value [2 2], :process 19, :time 9667960464, :index 2031}
{:type :fail, :f :cas, :value [0 0], :process 17, :time 9668896617, :index 2034}
{:type :info, :f :cas, :value [4 3], :process 11, :time 10249349137, :error :timeout, :index 2142}
{:type :info, :f :cas, :value [1 1], :process 13, :time 10265945418, :error :timeout, :index 2143}
{:type :info, :f :cas, :value [4 3], :process 18, :time 10298785638, :error :timeout, :index 2145}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :fail, :f :read, :value nil, :process 16, :time 10385483681, :error :timeout, :index 2155}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
