{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :invoke, :f :read, :value nil, :process 46, :time 56251170217, :index 12074}
{:type :ok, :f :read, :value nil, :process 46, :time 56257019891, :index 12076}
{:type :invoke, :f :read, :value nil, :process 29, :time 56277271120, :index 12079}
{:type :invoke, :f :read, :value nil, :process 0, :time 56277569563, :index 12080}
{:type :ok, :f :read, :value nil, :process 29, :time 56282944047, :index 12082}
{:type :ok, :f :read, :value nil, :process 0, :time 56283046008, :index 12083}
{:type :invoke, :f :read, :value nil, :process 22, :time 56294505719, :index 12085}
{:type :ok, :f :read, :value nil, :process 22, :time 56299368621, :index 12087}
{:type :invoke, :f :write, :value 0, :process 24, :time 56304939516, :index 12088}
{:type :ok, :f :write, :value 0, :process 24, :time 56309629553, :index 12091}
{:type :invoke, :f :write, :value 0, :process 63, :time 56313309833, :index 12093}
{:type :invoke, :f :read, :value nil, :process 47, :time 56313313072, :index 12094}
{:type :ok, :f :write, :value 0, :process 63, :time 56318308295, :index 12096}
{:type :ok, :f :read, :value 0, :process 47, :time 56319024064, :index 12097}
{:type :invoke, :f :write, :value 2, :process 21, :time 56328951045, :index 12101}
{:type :invoke, :f :read, :value nil, :process 29, :time 56339815947, :index 12103}
{:type :invoke, :f :read, :value nil, :process 47, :time 56340663151, :index 12104}
{:type :ok, :f :read, :value 0, :process 29, :time 56345550114, :index 12106}
{:type :ok, :f :read, :value 0, :process 47, :time 56346315061, :index 12107}
{:type :invoke, :f :cas, :value [4 3], :process 63, :time 56367566248, :index 12111}
{:type :invoke, :f :read, :value nil, :process 22, :time 56367626836, :index 12112}
{:type :ok, :f :read, :value 0, :process 22, :time 56374297989, :index 12113}
{:type :fail, :f :cas, :value [4 3], :process 63, :time 56374734504, :index 12114}
{:type :invoke, :f :read, :value nil, :process 22, :time 56386574425, :index 12117}
{:type :ok, :f :read, :value 0, :process 22, :time 56391277715, :index 12118}
{:type :invoke, :f :write, :value 1, :process 68, :time 56399648903, :index 12119}
{:type :ok, :f :write, :value 1, :process 68, :time 56404892011, :index 12120}
{:type :invoke, :f :cas, :value [0 2], :process 24, :time 56414890911, :index 12123}
{:type :fail, :f :cas, :value [0 2], :process 24, :time 56421871177, :index 12127}
{:type :invoke, :f :read, :value nil, :process 5, :time 56438234370, :index 12132}
{:type :ok, :f :read, :value 1, :process 5, :time 56442887926, :index 12134}
{:type :invoke, :f :write, :value 4, :process 0, :time 56447272652, :index 12135}
{:type :ok, :f :write, :value 4, :process 0, :time 56451802409, :index 12137}
{:type :invoke, :f :write, :value 2, :process 46, :time 56456222358, :index 12139}
{:type :invoke, :f :read, :value nil, :process 0, :time 56459063258, :index 12140}
{:type :ok, :f :read, :value 4, :process 0, :time 56463513954, :index 12141}
{:type :invoke, :f :cas, :value [0 1], :process 29, :time 56471811383, :index 12143}
{:type :fail, :f :cas, :value [0 1], :process 29, :time 56476743998, :index 12145}
{:type :invoke, :f :read, :value nil, :process 22, :time 56498532437, :index 12148}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 56499770393, :index 12149}
{:type :ok, :f :read, :value 4, :process 22, :time 56504380051, :index 12150}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 56505150382, :index 12151}
{:type :invoke, :f :write, :value 4, :process 68, :time 56515092594, :index 12152}
{:type :ok, :f :write, :value 4, :process 68, :time 56521343924, :index 12156}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 56524139425, :index 12157}
{:type :invoke, :f :read, :value nil, :process 24, :time 56529120373, :index 12160}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 56529524330, :index 12161}
{:type :ok, :f :read, :value 4, :process 24, :time 56533823729, :index 12164}
{:type :invoke, :f :read, :value nil, :process 47, :time 56542580505, :index 12167}
{:type :invoke, :f :cas, :value [2 1], :process 24, :time 56544086882, :index 12169}
{:type :ok, :f :read, :value 4, :process 47, :time 56548419030, :index 12171}
{:type :fail, :f :cas, :value [2 1], :process 24, :time 56549484443, :index 12172}
{:type :invoke, :f :write, :value 2, :process 29, :time 56559008577, :index 12174}
{:type :invoke, :f :read, :value nil, :process 63, :time 56563973311, :index 12175}
{:type :ok, :f :write, :value 2, :process 29, :time 56565280557, :index 12176}
{:type :ok, :f :read, :value 2, :process 63, :time 56569465367, :index 12177}
{:type :ok, :f :write, :value 2, :process 46, :time 56585268308, :index 12179}
{:type :ok, :f :write, :value 2, :process 21, :time 56585558725, :index 12181}
{:type :invoke, :f :read, :value nil, :process 22, :time 56596663067, :index 12182}
{:type :invoke, :f :cas, :value [3 4], :process 47, :time 56596651212, :index 12183}
{:type :fail, :f :cas, :value [3 4], :process 47, :time 56603084065, :index 12185}
{:type :ok, :f :read, :value 2, :process 22, :time 56603583150, :index 12186}
{:type :invoke, :f :read, :value nil, :process 29, :time 56623540797, :index 12191}
{:type :ok, :f :read, :value 2, :process 29, :time 56628092529, :index 12193}
{:type :invoke, :f :write, :value 2, :process 0, :time 56642398959, :index 12196}
{:type :ok, :f :write, :value 2, :process 0, :time 56647441268, :index 12197}
{:type :invoke, :f :write, :value 1, :process 68, :time 56648623610, :index 12198}
{:type :invoke, :f :read, :value nil, :process 46, :time 56651735576, :index 12200}
{:type :ok, :f :write, :value 1, :process 68, :time 56654198137, :index 12201}
{:type :ok, :f :read, :value 1, :process 46, :time 56657112997, :index 12203}
{:type :invoke, :f :write, :value 1, :process 24, :time 56666733741, :index 12206}
{:type :ok, :f :write, :value 1, :process 24, :time 56671428191, :index 12208}
{:type :invoke, :f :cas, :value [4 4], :process 21, :time 56687803313, :index 12212}
{:type :fail, :f :cas, :value [4 4], :process 21, :time 56693600223, :index 12214}
{:type :invoke, :f :read, :value nil, :process 5, :time 56712773365, :index 12222}
{:type :ok, :f :read, :value 1, :process 5, :time 56717351398, :index 12224}
{:type :invoke, :f :write, :value 3, :process 63, :time 56724701467, :index 12228}
{:type :ok, :f :write, :value 3, :process 63, :time 56730640438, :index 12233}
{:type :invoke, :f :write, :value 3, :process 5, :time 56738603606, :index 12234}
{:type :invoke, :f :cas, :value [3 4], :process 46, :time 56742365845, :index 12235}
{:type :ok, :f :write, :value 3, :process 5, :time 56743403027, :index 12236}
{:type :ok, :f :cas, :value [3 4], :process 46, :time 56746931683, :index 12237}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :invoke, :f :write, :value 2, :process 24, :time 56763688894, :index 12239}
{:type :invoke, :f :cas, :value [3 0], :process 21, :time 56767858650, :index 12240}
{:type :ok, :f :write, :value 2, :process 24, :time 56769309183, :index 12241}
{:type :invoke, :f :write, :value 4, :process 22, :time 56769826171, :index 12242}
{:type :fail, :f :cas, :value [3 0], :process 21, :time 56774847687, :index 12243}
{:type :invoke, :f :cas, :value [0 1], :process 47, :time 56776335042, :index 12244}
{:type :invoke, :f :read, :value nil, :process 29, :time 56806365476, :index 12247}
{:type :ok, :f :read, :value 2, :process 29, :time 56811440386, :index 12249}
{:type :invoke, :f :read, :value nil, :process 68, :time 56825454010, :index 12256}
{:type :invoke, :f :write, :value 4, :process 0, :time 56842699244, :index 12257}
{:type :ok, :f :write, :value 4, :process 0, :time 56848895372, :index 12259}
{:type :invoke, :f :write, :value 1, :process 46, :time 56855200849, :index 12261}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
{:type :ok, :f :write, :value 1, :process 46, :time 56860401707, :index 12264}
{:type :invoke, :f :read, :value nil, :process 24, :time 56871562698, :index 12265}
{:type :invoke, :f :read, :value nil, :process 5, :time 56873661510, :index 12266}
{:type :invoke, :f :write, :value 3, :process 29, :time 56876686804, :index 12267}
{:type :ok, :f :read, :value 1, :process 24, :time 56877337622, :index 12268}
{:type :invoke, :f :cas, :value [4 3], :process 63, :time 56877875947, :index 12269}
{:type :ok, :f :read, :value 1, :process 5, :time 56878331764, :index 12270}
{:type :ok, :f :write, :value 3, :process 29, :time 56881168185, :index 12271}
{:type :invoke, :f :cas, :value [2 1], :process 21, :time 56911105448, :index 12278}
{:type :invoke, :f :cas, :value [4 4], :process 46, :time 56911676254, :index 12279}
{:type :fail, :f :cas, :value [2 1], :process 21, :time 56917543038, :index 12280}
{:type :fail, :f :cas, :value [4 4], :process 46, :time 56918400317, :index 12281}
{:type :invoke, :f :write, :value 2, :process 24, :time 56929590814, :index 12282}
{:type :ok, :f :write, :value 2, :process 24, :time 56935424739, :index 12283}
{:type :invoke, :f :write, :value 2, :process 5, :time 56976595888, :index 12286}
{:type :ok, :f :write, :value 2, :process 5, :time 56981934751, :index 12287}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 56993156629, :index 12290}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 56998616180, :index 12291}
{:type :invoke, :f :write, :value 1, :process 46, :time 57013648537, :index 12294}
{:type :ok, :f :write, :value 1, :process 46, :time 57018903989, :index 12295}
{:type :invoke, :f :read, :value nil, :process 29, :time 57022426798, :index 12297}
{:type :ok, :f :read, :value 1, :process 29, :time 57028042213, :index 12299}
{:type :invoke, :f :write, :value 3, :process 5, :time 57034193661, :index 12300}
{:type :ok, :f :write, :value 3, :process 5, :time 57038229820, :index 12301}
{:type :invoke, :f :read, :value nil, :process 21, :time 57038803317, :index 12302}
{:type :invoke, :f :write, :value 2, :process 24, :time 57040686773, :index 12303}
{:type :ok, :f :read, :value 3, :process 21, :time 57043678357, :index 12304}
{:type :ok, :f :write, :value 2, :process 24, :time 57046432484, :index 12305}
{:type :invoke, :f :write, :value 4, :process 24, :time 57068678928, :index 12311}
{:type :invoke, :f :write, :value 3, :process 29, :time 57072220424, :index 12314}
{:type :ok, :f :write, :value 4, :process 24, :time 57075474555, :index 12316}
{:type :ok, :f :write, :value 3, :process 29, :time 57077441242, :index 12318}
{:type :invoke, :f :cas, :value [2 0], :process 24, :time 57101758868, :index 12323}
{:type :fail, :f :cas, :value [2 0], :process 24, :time 57107079632, :index 12325}
{:type :invoke, :f :cas, :value [4 2], :process 46, :time 57111262244, :index 12326}
{:type :fail, :f :cas, :value [4 2], :process 46, :time 57117509260, :index 12327}
{:type :invoke, :f :write, :value 3, :process 21, :time 57136944759, :index 12330}
{:type :ok, :f :write, :value 3, :process 21, :time 57142169535, :index 12332}
{:type :invoke, :f :cas, :value [2 4], :process 24, :time 57158406566, :index 12334}
{:type :fail, :f :cas, :value [2 4], :process 24, :time 57163323851, :index 12335}
{:type :invoke, :f :write, :value 0, :process 5, :time 57173485983, :index 12336}
{:type :invoke, :f :read, :value nil, :process 0, :time 57177875366, :index 12337}
{:type :ok, :f :write, :value 0, :process 5, :time 57178538715, :index 12338}
{:type :ok, :f :read, :value 0, :process 0, :time 57183029436, :index 12341}
{:type :invoke, :f :read, :value nil, :process 29, :time 57185698295, :index 12342}
{:type :ok, :f :read, :value 0, :process 29, :time 57190558306, :index 12345}
{:type :invoke, :f :write, :value 4, :process 46, :time 57199764237, :index 12348}
{:type :ok, :f :write, :value 4, :process 46, :time 57205018487, :index 12350}
{:type :invoke, :f :read, :value nil, :process 21, :time 57233426380, :index 12352}
{:type :ok, :f :read, :value 4, :process 21, :time 57238685738, :index 12354}
{:type :invoke, :f :read, :value nil, :process 0, :time 57262290350, :index 12361}
{:type :invoke, :f :read, :value nil, :process 24, :time 57265594258, :index 12362}
{:type :ok, :f :read, :value 4, :process 0, :time 57267136044, :index 12364}
{:type :invoke, :f :write, :value 3, :process 29, :time 57269826134, :index 12365}
{:type :ok, :f :read, :value 4, :process 24, :time 57270398149, :index 12366}
{:type :ok, :f :write, :value 3, :process 29, :time 57275903004, :index 12368}
{:type :invoke, :f :read, :value nil, :process 5, :time 57344799573, :index 12374}
{:type :ok, :f :read, :value 3, :process 5, :time 57350322590, :index 12375}
{:type :invoke, :f :read, :value nil, :process 24, :time 57358670042, :index 12376}
{:type :invoke, :f :cas, :value [1 1], :process 46, :time 57363292282, :index 12377}
{:type :ok, :f :read, :value 3, :process 24, :time 57364714637, :index 12378}
{:type :fail, :f :cas, :value [1 1], :process 46, :time 57369511361, :index 12380}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 57377413590, :index 12382}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 57383201919, :index 12385}
{:type :invoke, :f :cas, :value [0 0], :process 29, :time 57387163492, :index 12388}
{:type :invoke, :f :read, :value nil, :process 46, :time 57392776104, :index 12389}
{:type :fail, :f :cas, :value [0 0], :process 29, :time 57394054245, :index 12390}
{:type :ok, :f :read, :value 3, :process 46, :time 57398093908, :index 12391}
{:type :invoke, :f :cas, :value [0 3], :process 29, :time 57405312000, :index 12392}
{:type :fail, :f :cas, :value [0 3], :process 29, :time 57410501610, :index 12393}
{:type :invoke, :f :cas, :value [4 4], :process 21, :time 57423925460, :index 12396}
{:type :fail, :f :cas, :value [4 4], :process 21, :time 57429127205, :index 12398}
{:type :invoke, :f :write, :value 4, :process 0, :time 57429474749, :index 12399}
{:type :ok, :f :write, :value 4, :process 0, :time 57434033709, :index 12401}
{:type :invoke, :f :cas, :value [0 1], :process 24, :time 57441005394, :index 12404}
{:type :fail, :f :cas, :value [0 1], :process 24, :time 57446729878, :index 12406}
{:type :invoke, :f :read, :value nil, :process 24, :time 57468031928, :index 12409}
{:type :ok, :f :read, :value 4, :process 24, :time 57485000272, :index 12411}
{:type :invoke, :f :read, :value nil, :process 46, :time 57494404731, :index 12412}
{:type :ok, :f :read, :value 4, :process 46, :time 57499615685, :index 12414}
{:type :invoke, :f :write, :value 0, :process 0, :time 57502304281, :index 12415}
{:type :ok, :f :write, :value 0, :process 0, :time 57506853044, :index 12417}
{:type :invoke, :f :read, :value nil, :process 46, :time 57511870924, :index 12418}
{:type :invoke, :f :read, :value nil, :process 5, :time 57513580727, :index 12419}
{:type :ok, :f :read, :value 0, :process 46, :time 57517797271, :index 12420}
{:type :ok, :f :read, :value 0, :process 5, :time 57518213244, :index 12421}
{:type :invoke, :f :write, :value 1, :process 24, :time 57524218004, :index 12422}
{:type :ok, :f :write, :value 1, :process 24, :time 57530587466, :index 12424}
{:type :invoke, :f :write, :value 0, :process 21, :time 57573397055, :index 12435}
{:type :invoke, :f :read, :value nil, :process 46, :time 57578094494, :index 12437}
{:type :ok, :f :write, :value 0, :process 21, :time 57578930320, :index 12438}
{:type :invoke, :f :read, :value nil, :process 29, :time 57580765274, :index 12439}
{:type :ok, :f :read, :value 0, :process 46, :time 57582881459, :index 12440}
{:type :ok, :f :read, :value 0, :process 29, :time 57586935953, :index 12441}
{:type :invoke, :f :read, :value nil, :process 0, :time 57593105152, :index 12442}
{:type :ok, :f :read, :value 0, :process 0, :time 57598001077, :index 12443}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 57671467381, :index 12452}
{:type :ok, :f :cas, :value [0 1], :process 5, :time 57676282287, :index 12453}
{:type :invoke, :f :write, :value 4, :process 24, :time 57681918787, :index 12455}
{:type :ok, :f :write, :value 4, :process 24, :time 57689597963, :index 12459}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 57738182374, :index 12469}
{:type :ok, :f :cas, :value [4 2], :process 21, :time 57743581590, :index 12472}
{:type :info, :f :write, :value 4, :process 22, :time 61774359532, :error :timeout, :index 12880}
{:type :info, :f :cas, :value [0 1], :process 47, :time 61780430243, :error :timeout, :index 12881}
{:type :fail, :f :read, :value nil, :process 68, :time 61828402635, :error :timeout, :index 12885}
{:type :info, :f :cas, :value [4 3], :process 63, :time 61884873569, :error :timeout, :index 12887}
