{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :invoke, :f :read, :value nil, :process 26, :time 26251911348, :index 5573}
{:type :ok, :f :read, :value nil, :process 26, :time 26258936993, :index 5575}
{:type :invoke, :f :read, :value nil, :process 28, :time 26265894181, :index 5579}
{:type :ok, :f :read, :value nil, :process 28, :time 26271607021, :index 5581}
{:type :invoke, :f :cas, :value [1 2], :process 26, :time 26275193948, :index 5582}
{:type :fail, :f :cas, :value [1 2], :process 26, :time 26281529079, :error :not-found, :index 5585}
{:type :invoke, :f :cas, :value [3 3], :process 28, :time 26329862972, :index 5590}
{:type :fail, :f :cas, :value [3 3], :process 28, :time 26335630947, :error :not-found, :index 5591}
{:type :invoke, :f :write, :value 4, :process 5, :time 26341850297, :index 5592}
{:type :ok, :f :write, :value 4, :process 5, :time 26346690746, :index 5594}
{:type :invoke, :f :cas, :value [3 3], :process 1, :time 26389577652, :index 5604}
{:type :fail, :f :cas, :value [3 3], :process 1, :time 26395208445, :index 5607}
{:type :invoke, :f :read, :value nil, :process 5, :time 26395975936, :index 5608}
{:type :ok, :f :read, :value 4, :process 5, :time 26401092510, :index 5609}
{:type :invoke, :f :read, :value nil, :process 43, :time 26405357104, :index 5610}
{:type :invoke, :f :read, :value nil, :process 1, :time 26409457858, :index 5611}
{:type :ok, :f :read, :value 4, :process 43, :time 26411152410, :index 5612}
{:type :ok, :f :read, :value 4, :process 1, :time 26414791414, :index 5613}
{:type :invoke, :f :read, :value nil, :process 0, :time 26431348434, :index 5618}
{:type :ok, :f :read, :value 4, :process 0, :time 26437113641, :index 5619}
{:type :invoke, :f :write, :value 0, :process 1, :time 26440039235, :index 5620}
{:type :ok, :f :write, :value 0, :process 1, :time 26446199871, :index 5622}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 26448372336, :index 5624}
{:type :invoke, :f :write, :value 0, :process 26, :time 26452821607, :index 5626}
{:type :ok, :f :cas, :value [0 0], :process 0, :time 26453649073, :index 5628}
{:type :ok, :f :write, :value 0, :process 26, :time 26459035882, :index 5630}
{:type :invoke, :f :read, :value nil, :process 28, :time 26479888451, :index 5634}
{:type :ok, :f :read, :value 0, :process 28, :time 26486133926, :index 5635}
{:type :invoke, :f :write, :value 2, :process 0, :time 26524893021, :index 5639}
{:type :invoke, :f :read, :value nil, :process 1, :time 26525505934, :index 5640}
{:type :ok, :f :write, :value 2, :process 0, :time 26530855368, :index 5642}
{:type :ok, :f :read, :value 2, :process 1, :time 26533167935, :index 5643}
{:type :invoke, :f :read, :value nil, :process 5, :time 26533746926, :index 5644}
{:type :ok, :f :read, :value 2, :process 5, :time 26538346116, :index 5645}
{:type :invoke, :f :write, :value 1, :process 43, :time 26579426147, :index 5650}
{:type :invoke, :f :cas, :value [2 1], :process 26, :time 26580327443, :index 5651}
{:type :invoke, :f :read, :value nil, :process 0, :time 26583106625, :index 5652}
{:type :ok, :f :write, :value 1, :process 43, :time 26585542373, :index 5653}
{:type :fail, :f :cas, :value [2 1], :process 26, :time 26588237830, :index 5654}
{:type :ok, :f :read, :value 1, :process 0, :time 26588338246, :index 5655}
{:type :invoke, :f :cas, :value [0 1], :process 28, :time 26607395523, :index 5660}
{:type :fail, :f :cas, :value [0 1], :process 28, :time 26613182431, :index 5662}
{:type :invoke, :f :read, :value nil, :process 0, :time 26650569805, :index 5671}
{:type :ok, :f :read, :value 1, :process 0, :time 26655582621, :index 5674}
{:type :invoke, :f :write, :value 0, :process 1, :time 26666934920, :index 5676}
{:type :ok, :f :write, :value 0, :process 1, :time 26672226710, :index 5677}
{:type :invoke, :f :write, :value 1, :process 43, :time 26697802587, :index 5678}
{:type :ok, :f :write, :value 1, :process 43, :time 26703439616, :index 5679}
{:type :invoke, :f :write, :value 0, :process 43, :time 26705708225, :index 5680}
{:type :ok, :f :write, :value 0, :process 43, :time 26711567795, :index 5682}
{:type :invoke, :f :write, :value 3, :process 5, :time 26721609073, :index 5685}
{:type :ok, :f :write, :value 3, :process 5, :time 26727122600, :index 5687}
{:type :invoke, :f :read, :value nil, :process 1, :time 26731455215, :index 5688}
{:type :invoke, :f :write, :value 0, :process 28, :time 26731453433, :index 5689}
{:type :ok, :f :write, :value 0, :process 28, :time 26737393739, :index 5690}
{:type :ok, :f :read, :value 0, :process 1, :time 26737998895, :index 5691}
{:type :invoke, :f :cas, :value [1 0], :process 26, :time 26757508919, :index 5694}
{:type :fail, :f :cas, :value [1 0], :process 26, :time 26763177757, :index 5695}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 26805845162, :index 5701}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 26810260947, :index 5703}
{:type :invoke, :f :write, :value 1, :process 1, :time 26812259226, :index 5705}
{:type :ok, :f :write, :value 1, :process 1, :time 26817071542, :index 5707}
{:type :invoke, :f :cas, :value [4 4], :process 1, :time 26820358573, :index 5709}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 26821376171, :index 5710}
{:type :invoke, :f :cas, :value [3 0], :process 43, :time 26853825059, :index 5712}
{:type :invoke, :f :write, :value 0, :process 26, :time 26865439449, :index 5713}
{:type :invoke, :f :cas, :value [4 2], :process 28, :time 26921658759, :index 5715}
{:type :invoke, :f :read, :value nil, :process 0, :time 26923515720, :index 5716}
{:type :ok, :f :read, :value 0, :process 0, :time 27082353868, :index 5721}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 27083177119, :index 5722}
{:type :fail, :f :cas, :value [3 0], :process 43, :time 27083959967, :index 5724}
{:type :fail, :f :cas, :value [4 2], :process 28, :time 27084040444, :index 5725}
{:type :ok, :f :write, :value 0, :process 26, :time 27084359881, :index 5727}
{:type :fail, :f :cas, :value [4 4], :process 1, :time 27086211935, :index 5731}
{:type :invoke, :f :write, :value 0, :process 5, :time 27103446017, :index 5732}
{:type :invoke, :f :write, :value 3, :process 0, :time 27137631987, :index 5734}
{:type :invoke, :f :read, :value nil, :process 28, :time 27148281506, :index 5736}
{:type :invoke, :f :read, :value nil, :process 43, :time 27158222767, :index 5737}
{:type :invoke, :f :read, :value nil, :process 26, :time 27183664889, :index 5740}
{:type :invoke, :f :write, :value 2, :process 1, :time 27223480736, :index 5742}
{:type :ok, :f :write, :value 0, :process 5, :time 27299354855, :index 5744}
{:type :ok, :f :write, :value 3, :process 0, :time 27301876106, :index 5746}
{:type :ok, :f :read, :value 3, :process 43, :time 27302103746, :index 5748}
{:type :ok, :f :read, :value 3, :process 28, :time 27302224904, :index 5749}
{:type :ok, :f :read, :value 3, :process 26, :time 27302672594, :index 5752}
{:type :ok, :f :write, :value 2, :process 1, :time 27302750511, :index 5753}
{:type :invoke, :f :cas, :value [1 3], :process 26, :time 27306972914, :index 5756}
{:type :invoke, :f :cas, :value [4 2], :process 1, :time 27365969033, :index 5759}
{:type :invoke, :f :write, :value 0, :process 5, :time 27397644522, :index 5761}
{:type :invoke, :f :write, :value 3, :process 0, :time 27400122036, :index 5762}
{:type :invoke, :f :cas, :value [1 2], :process 43, :time 27432437905, :index 5765}
{:type :invoke, :f :cas, :value [1 2], :process 28, :time 27448449383, :index 5766}
{:type :fail, :f :cas, :value [1 3], :process 26, :time 27470965176, :index 5768}
{:type :ok, :f :write, :value 0, :process 5, :time 27472332113, :index 5770}
{:type :fail, :f :cas, :value [1 2], :process 43, :time 27473186141, :index 5773}
{:type :ok, :f :write, :value 3, :process 0, :time 27473759970, :index 5775}
{:type :fail, :f :cas, :value [1 2], :process 28, :time 27473872455, :index 5776}
{:type :fail, :f :cas, :value [4 2], :process 1, :time 27474787845, :index 5779}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 27480726379, :index 5780}
{:type :invoke, :f :write, :value 4, :process 0, :time 27483989329, :index 5781}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 27486133591, :index 5782}
{:type :ok, :f :write, :value 4, :process 0, :time 27488961213, :index 5783}
{:type :invoke, :f :read, :value nil, :process 0, :time 27539212683, :index 5791}
{:type :ok, :f :read, :value 4, :process 0, :time 27543918591, :index 5793}
{:type :invoke, :f :write, :value 4, :process 1, :time 27545047819, :index 5794}
{:type :ok, :f :write, :value 4, :process 1, :time 27549619860, :index 5795}
{:type :invoke, :f :write, :value 2, :process 5, :time 27602415284, :index 5796}
{:type :ok, :f :write, :value 2, :process 5, :time 27610495682, :index 5797}
{:type :invoke, :f :write, :value 3, :process 43, :time 27611429027, :index 5798}
{:type :invoke, :f :read, :value nil, :process 28, :time 27615110961, :index 5799}
{:type :ok, :f :write, :value 3, :process 43, :time 27616713089, :index 5801}
{:type :ok, :f :read, :value 3, :process 28, :time 27622451130, :index 5803}
{:type :invoke, :f :cas, :value [3 3], :process 28, :time 27632679335, :index 5804}
{:type :invoke, :f :read, :value nil, :process 26, :time 27636263733, :index 5806}
{:type :ok, :f :cas, :value [3 3], :process 28, :time 27637625210, :index 5807}
{:type :ok, :f :read, :value 3, :process 26, :time 27641395616, :index 5809}
{:type :invoke, :f :write, :value 2, :process 1, :time 27645885366, :index 5811}
{:type :ok, :f :write, :value 2, :process 1, :time 27651271780, :index 5813}
{:type :invoke, :f :write, :value 0, :process 43, :time 27666976024, :index 5817}
{:type :ok, :f :write, :value 0, :process 43, :time 27671947223, :index 5819}
{:type :invoke, :f :write, :value 1, :process 1, :time 27676517596, :index 5821}
{:type :invoke, :f :write, :value 4, :process 5, :time 27678757228, :index 5823}
{:type :ok, :f :write, :value 1, :process 1, :time 27681867482, :index 5824}
{:type :ok, :f :write, :value 4, :process 5, :time 27683328847, :index 5825}
{:type :invoke, :f :write, :value 3, :process 28, :time 27705893368, :index 5830}
{:type :ok, :f :write, :value 3, :process 28, :time 27711550245, :index 5831}
{:type :invoke, :f :read, :value nil, :process 0, :time 27715183267, :index 5832}
{:type :ok, :f :read, :value 3, :process 0, :time 27719606206, :index 5833}
{:type :invoke, :f :cas, :value [4 4], :process 26, :time 27746644364, :index 5836}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 27746867978, :index 5837}
{:type :ok, :f :cas, :value [3 0], :process 0, :time 27751709313, :index 5838}
{:type :fail, :f :cas, :value [4 4], :process 26, :time 27752728255, :index 5839}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 27769972968, :index 5840}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 27775064041, :index 5843}
{:type :invoke, :f :read, :value nil, :process 5, :time 27787575563, :index 5846}
{:type :ok, :f :read, :value 0, :process 5, :time 27792167764, :index 5847}
{:type :invoke, :f :read, :value nil, :process 43, :time 27804203482, :index 5849}
{:type :ok, :f :read, :value 0, :process 43, :time 27808877550, :index 5852}
{:type :invoke, :f :read, :value nil, :process 1, :time 27830138368, :index 5858}
{:type :invoke, :f :cas, :value [0 4], :process 28, :time 27833815977, :index 5859}
{:type :ok, :f :read, :value 0, :process 1, :time 27835302068, :index 5860}
{:type :ok, :f :cas, :value [0 4], :process 28, :time 27839025157, :index 5862}
{:type :invoke, :f :write, :value 1, :process 0, :time 27862325182, :index 5866}
{:type :ok, :f :write, :value 1, :process 0, :time 27866351779, :index 5867}
{:type :invoke, :f :cas, :value [1 3], :process 26, :time 27866992377, :index 5868}
{:type :ok, :f :cas, :value [1 3], :process 26, :time 27872786324, :index 5869}
{:type :invoke, :f :write, :value 4, :process 1, :time 27882603771, :index 5872}
{:type :ok, :f :write, :value 4, :process 1, :time 27887345293, :index 5873}
{:type :invoke, :f :read, :value nil, :process 26, :time 27913072146, :index 5874}
{:type :ok, :f :read, :value 4, :process 26, :time 27918994555, :index 5876}
{:type :invoke, :f :read, :value nil, :process 43, :time 27930136045, :index 5878}
{:type :ok, :f :read, :value 4, :process 43, :time 27937135905, :index 5880}
{:type :invoke, :f :read, :value nil, :process 5, :time 27941452322, :index 5883}
{:type :ok, :f :read, :value 4, :process 5, :time 27945916156, :index 5885}
{:type :invoke, :f :read, :value nil, :process 26, :time 27958245926, :index 5886}
{:type :ok, :f :read, :value 4, :process 26, :time 27964326348, :index 5887}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 27980629386, :index 5896}
{:type :ok, :f :cas, :value [4 2], :process 0, :time 27985568046, :index 5898}
{:type :invoke, :f :write, :value 0, :process 28, :time 28011297968, :index 5906}
{:type :ok, :f :write, :value 0, :process 28, :time 28016740713, :index 5907}
{:type :invoke, :f :read, :value nil, :process 1, :time 28035601858, :index 5908}
{:type :ok, :f :read, :value 0, :process 1, :time 28040777281, :index 5910}
{:type :invoke, :f :read, :value nil, :process 1, :time 28074037115, :index 5914}
{:type :ok, :f :read, :value 0, :process 1, :time 28079251162, :index 5915}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 28086828493, :index 5918}
{:type :invoke, :f :cas, :value [2 2], :process 28, :time 28088010651, :index 5919}
{:type :invoke, :f :write, :value 1, :process 26, :time 28088598105, :index 5920}
{:type :ok, :f :cas, :value [0 2], :process 0, :time 28092674256, :index 5923}
{:type :ok, :f :cas, :value [2 2], :process 28, :time 28094279709, :index 5924}
{:type :ok, :f :write, :value 1, :process 26, :time 28094828231, :index 5925}
{:type :invoke, :f :write, :value 4, :process 28, :time 28099532595, :index 5926}
{:type :ok, :f :write, :value 4, :process 28, :time 28104386660, :index 5927}
{:type :invoke, :f :read, :value nil, :process 43, :time 28136407025, :index 5928}
{:type :invoke, :f :read, :value nil, :process 5, :time 28139152324, :index 5929}
{:type :ok, :f :read, :value 4, :process 43, :time 28142334898, :index 5930}
{:type :ok, :f :read, :value 4, :process 5, :time 28144074887, :index 5931}
{:type :invoke, :f :cas, :value [4 1], :process 5, :time 28151359311, :index 5933}
{:type :ok, :f :cas, :value [4 1], :process 5, :time 28157227610, :index 5935}
{:type :invoke, :f :read, :value nil, :process 28, :time 28166643497, :index 5936}
{:type :ok, :f :read, :value 1, :process 28, :time 28172024335, :index 5937}
{:type :invoke, :f :write, :value 3, :process 43, :time 28205617590, :index 5942}
{:type :ok, :f :write, :value 3, :process 43, :time 28211145866, :index 5944}
{:type :invoke, :f :write, :value 3, :process 43, :time 28227399913, :index 5946}
{:type :ok, :f :write, :value 3, :process 43, :time 28232279723, :index 5947}
{:type :invoke, :f :cas, :value [3 4], :process 1, :time 28236538734, :index 5949}
{:type :invoke, :f :write, :value 1, :process 5, :time 28237505091, :index 5950}
{:type :ok, :f :cas, :value [3 4], :process 1, :time 28243224944, :index 5953}
{:type :ok, :f :write, :value 1, :process 5, :time 28244056002, :index 5955}
{:type :invoke, :f :write, :value 0, :process 28, :time 28260218450, :index 5958}
{:type :invoke, :f :write, :value 1, :process 26, :time 28262078999, :index 5960}
{:type :ok, :f :write, :value 0, :process 28, :time 28266415582, :index 5961}
{:type :ok, :f :write, :value 1, :process 26, :time 28267296212, :index 5963}
{:type :invoke, :f :write, :value 4, :process 0, :time 28278932943, :index 5965}
{:type :ok, :f :write, :value 4, :process 0, :time 28283675588, :index 5967}
{:type :invoke, :f :read, :value nil, :process 1, :time 28298555124, :index 5968}
{:type :ok, :f :read, :value 4, :process 1, :time 28304222088, :index 5969}
{:type :invoke, :f :read, :value nil, :process 5, :time 28312288718, :index 5972}
{:type :ok, :f :read, :value 4, :process 5, :time 28317340286, :index 5976}
{:type :invoke, :f :read, :value nil, :process 43, :time 28317557724, :index 5977}
{:type :ok, :f :read, :value 4, :process 43, :time 28322458145, :index 5979}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
