{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :invoke, :f :read, :value nil, :process 37, :time 44485052860, :index 15248}
{:type :fail, :f :read, :value nil, :process 37, :time 44486727985, :error :connect, :index 15249}
{:type :invoke, :f :read, :value nil, :process 33, :time 44502293163, :index 15255}
{:type :fail, :f :read, :value nil, :process 33, :time 44504131666, :error :connect, :index 15258}
{:type :invoke, :f :write, :value 1, :process 33, :time 44550386311, :index 15272}
{:type :fail, :f :write, :value 1, :process 33, :time 44552447334, :error :connect, :index 15275}
{:type :invoke, :f :cas, :value [0 4], :process 11, :time 44555187351, :index 15278}
{:type :invoke, :f :cas, :value [2 1], :process 39, :time 44555397536, :index 15279}
{:type :fail, :f :cas, :value [2 1], :process 39, :time 44557379739, :error :connect, :index 15280}
{:type :fail, :f :cas, :value [0 4], :process 11, :time 44557513732, :error :connect, :index 15281}
{:type :invoke, :f :write, :value 1, :process 15, :time 44566309063, :index 15284}
{:type :invoke, :f :cas, :value [2 4], :process 39, :time 44566751299, :index 15285}
{:type :fail, :f :write, :value 1, :process 15, :time 44568227419, :error :connect, :index 15286}
{:type :fail, :f :cas, :value [2 4], :process 39, :time 44568449920, :error :connect, :index 15287}
{:type :invoke, :f :cas, :value [0 3], :process 11, :time 44571787511, :index 15288}
{:type :fail, :f :cas, :value [0 3], :process 11, :time 44573674989, :error :connect, :index 15290}
{:type :invoke, :f :read, :value nil, :process 18, :time 44574481984, :index 15292}
{:type :fail, :f :read, :value nil, :process 18, :time 44576604782, :error :connect, :index 15293}
{:type :invoke, :f :cas, :value [1 3], :process 36, :time 44590423668, :index 15298}
{:type :fail, :f :cas, :value [1 3], :process 36, :time 44592073351, :error :connect, :index 15299}
{:type :invoke, :f :read, :value nil, :process 15, :time 44602498460, :index 15300}
{:type :fail, :f :read, :value nil, :process 15, :time 44604538331, :error :connect, :index 15301}
{:type :invoke, :f :write, :value 2, :process 37, :time 44613999821, :index 15308}
{:type :fail, :f :write, :value 2, :process 37, :time 44615589342, :error :connect, :index 15309}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 44629946141, :index 15314}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 44631823060, :error :connect, :index 15315}
{:type :invoke, :f :write, :value 4, :process 39, :time 44633714535, :index 15316}
{:type :fail, :f :write, :value 4, :process 39, :time 44635486587, :error :connect, :index 15317}
{:type :invoke, :f :read, :value nil, :process 32, :time 44636327786, :index 15319}
{:type :fail, :f :read, :value nil, :process 32, :time 44638385937, :error :connect, :index 15321}
{:type :invoke, :f :write, :value 1, :process 34, :time 44649508188, :index 15323}
{:type :fail, :f :write, :value 1, :process 34, :time 44651369342, :error :connect, :index 15325}
{:type :invoke, :f :cas, :value [3 0], :process 32, :time 44659617448, :index 15326}
{:type :fail, :f :cas, :value [3 0], :process 32, :time 44661696478, :error :connect, :index 15327}
{:type :invoke, :f :cas, :value [1 3], :process 33, :time 44665721861, :index 15328}
{:type :fail, :f :cas, :value [1 3], :process 33, :time 44667697368, :error :connect, :index 15329}
{:type :invoke, :f :write, :value 3, :process 39, :time 44668754982, :index 15330}
{:type :fail, :f :write, :value 3, :process 39, :time 44670344512, :error :connect, :index 15331}
{:type :invoke, :f :read, :value nil, :process 37, :time 44681853355, :index 15334}
{:type :fail, :f :read, :value nil, :process 37, :time 44683536524, :error :connect, :index 15335}
{:type :invoke, :f :cas, :value [3 1], :process 10, :time 44683871090, :index 15336}
{:type :fail, :f :cas, :value [3 1], :process 10, :time 44685511471, :error :connect, :index 15337}
{:type :invoke, :f :read, :value nil, :process 18, :time 44686865007, :index 15338}
{:type :fail, :f :read, :value nil, :process 18, :time 44688528182, :error :connect, :index 15340}
{:type :invoke, :f :read, :value nil, :process 36, :time 44709709719, :index 15352}
{:type :fail, :f :read, :value nil, :process 36, :time 44711627737, :error :connect, :index 15356}
{:type :invoke, :f :cas, :value [4 3], :process 34, :time 44711617873, :index 15357}
{:type :fail, :f :cas, :value [4 3], :process 34, :time 44713734965, :error :connect, :index 15359}
{:type :invoke, :f :write, :value 2, :process 39, :time 44740607703, :index 15366}
{:type :fail, :f :write, :value 2, :process 39, :time 44742603253, :error :connect, :index 15367}
{:type :invoke, :f :cas, :value [2 3], :process 39, :time 44748876219, :index 15370}
{:type :invoke, :f :write, :value 2, :process 11, :time 44750098067, :index 15371}
{:type :fail, :f :cas, :value [2 3], :process 39, :time 44751035693, :error :connect, :index 15372}
{:type :fail, :f :write, :value 2, :process 11, :time 44751881541, :error :connect, :index 15373}
{:type :invoke, :f :write, :value 0, :process 37, :time 44752819274, :index 15374}
{:type :fail, :f :write, :value 0, :process 37, :time 44754418628, :error :connect, :index 15375}
{:type :invoke, :f :read, :value nil, :process 32, :time 44757970531, :index 15376}
{:type :invoke, :f :read, :value nil, :process 15, :time 44759824147, :index 15377}
{:type :fail, :f :read, :value nil, :process 32, :time 44760057081, :error :connect, :index 15378}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 44760801767, :index 15379}
{:type :fail, :f :read, :value nil, :process 15, :time 44761969888, :error :connect, :index 15380}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 44762633229, :error :connect, :index 15381}
{:type :invoke, :f :read, :value nil, :process 33, :time 44770963612, :index 15382}
{:type :fail, :f :read, :value nil, :process 33, :time 44772516011, :error :connect, :index 15383}
{:type :invoke, :f :write, :value 4, :process 11, :time 44790141259, :index 15388}
{:type :fail, :f :write, :value 4, :process 11, :time 44791907669, :error :connect, :index 15389}
{:type :invoke, :f :write, :value 3, :process 37, :time 44814726995, :index 15398}
{:type :fail, :f :write, :value 3, :process 37, :time 44816492394, :error :connect, :index 15399}
{:type :invoke, :f :write, :value 3, :process 36, :time 44854887922, :index 15408}
{:type :fail, :f :write, :value 3, :process 36, :time 44856446995, :error :connect, :index 15409}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 44871787359, :index 15410}
{:type :fail, :f :cas, :value [0 0], :process 10, :time 44873604283, :error :connect, :index 15413}
{:type :invoke, :f :write, :value 1, :process 34, :time 44881993197, :index 15418}
{:type :fail, :f :write, :value 1, :process 34, :time 44883867242, :error :connect, :index 15419}
{:type :invoke, :f :cas, :value [2 0], :process 18, :time 44890911794, :index 15424}
{:type :fail, :f :cas, :value [2 0], :process 18, :time 44893011433, :error :connect, :index 15425}
{:type :invoke, :f :write, :value 0, :process 11, :time 44900167967, :index 15428}
{:type :fail, :f :write, :value 0, :process 11, :time 44902006040, :error :connect, :index 15430}
{:type :invoke, :f :cas, :value [0 4], :process 32, :time 44906303358, :index 15432}
{:type :fail, :f :cas, :value [0 4], :process 32, :time 44907932839, :error :connect, :index 15433}
{:type :invoke, :f :write, :value 2, :process 33, :time 44920778366, :index 15439}
{:type :fail, :f :write, :value 2, :process 33, :time 44922599505, :error :connect, :index 15441}
{:type :invoke, :f :read, :value nil, :process 15, :time 44926232905, :index 15442}
{:type :fail, :f :read, :value nil, :process 15, :time 44928446671, :error :connect, :index 15444}
{:type :invoke, :f :cas, :value [3 4], :process 39, :time 44933304414, :index 15446}
{:type :fail, :f :cas, :value [3 4], :process 39, :time 44935250812, :error :connect, :index 15447}
{:type :invoke, :f :write, :value 2, :process 39, :time 44936520228, :index 15448}
{:type :fail, :f :write, :value 2, :process 39, :time 44938300243, :error :connect, :index 15449}
{:type :invoke, :f :cas, :value [4 0], :process 36, :time 44949707874, :index 15450}
{:type :fail, :f :cas, :value [4 0], :process 36, :time 44951812062, :error :connect, :index 15451}
{:type :invoke, :f :read, :value nil, :process 15, :time 44951732117, :index 15452}
{:type :invoke, :f :read, :value nil, :process 33, :time 44952871899, :index 15453}
{:type :fail, :f :read, :value nil, :process 15, :time 44953808441, :error :connect, :index 15454}
{:type :fail, :f :read, :value nil, :process 33, :time 44954507416, :error :connect, :index 15455}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 44968878652, :index 15460}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 44970901445, :error :connect, :index 15461}
{:type :invoke, :f :write, :value 0, :process 34, :time 44972129105, :index 15462}
{:type :fail, :f :write, :value 0, :process 34, :time 44973917744, :error :connect, :index 15463}
{:type :invoke, :f :read, :value nil, :process 15, :time 44974072546, :index 15464}
{:type :fail, :f :read, :value nil, :process 15, :time 44975617936, :error :connect, :index 15465}
{:type :invoke, :f :read, :value nil, :process 37, :time 44990730754, :index 15468}
{:type :fail, :f :read, :value nil, :process 37, :time 44992640488, :error :connect, :index 15469}
{:type :invoke, :f :write, :value 4, :process 10, :time 44996166427, :index 15472}
{:type :fail, :f :write, :value 4, :process 10, :time 44997942514, :error :connect, :index 15473}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 45021290887, :index 15482}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 45023350241, :error :connect, :index 15483}
{:type :invoke, :f :write, :value 0, :process 18, :time 45031614063, :index 15486}
{:type :invoke, :f :write, :value 1, :process 34, :time 45033110772, :index 15487}
{:type :fail, :f :write, :value 0, :process 18, :time 45033507359, :error :connect, :index 15488}
{:type :fail, :f :write, :value 1, :process 34, :time 45034821330, :error :connect, :index 15489}
{:type :invoke, :f :write, :value 0, :process 36, :time 45039075805, :index 15490}
{:type :fail, :f :write, :value 0, :process 36, :time 45040638988, :error :connect, :index 15491}
{:type :invoke, :f :cas, :value [0 1], :process 32, :time 45061208709, :index 15497}
{:type :fail, :f :cas, :value [0 1], :process 32, :time 45062983617, :error :connect, :index 15499}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 45077204835, :index 15502}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 45079078434, :error :connect, :index 15503}
{:type :invoke, :f :write, :value 0, :process 39, :time 45079564008, :index 15504}
{:type :invoke, :f :cas, :value [4 0], :process 11, :time 45081278481, :index 15505}
{:type :fail, :f :write, :value 0, :process 39, :time 45081405599, :error :connect, :index 15506}
{:type :fail, :f :cas, :value [4 0], :process 11, :time 45083387489, :error :connect, :index 15507}
{:type :invoke, :f :cas, :value [0 4], :process 37, :time 45086892520, :index 15508}
{:type :invoke, :f :cas, :value [3 2], :process 15, :time 45086897123, :index 15509}
{:type :fail, :f :cas, :value [3 2], :process 15, :time 45088937340, :error :connect, :index 15510}
{:type :fail, :f :cas, :value [0 4], :process 37, :time 45088951247, :error :connect, :index 15511}
{:type :invoke, :f :cas, :value [2 3], :process 18, :time 45093816578, :index 15520}
{:type :fail, :f :cas, :value [2 3], :process 18, :time 45095511867, :error :connect, :index 15521}
{:type :invoke, :f :read, :value nil, :process 11, :time 45105653967, :index 15524}
{:type :fail, :f :read, :value nil, :process 11, :time 45107632885, :error :connect, :index 15526}
{:type :invoke, :f :cas, :value [0 2], :process 34, :time 45121079398, :index 15530}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 45122736851, :index 15532}
{:type :fail, :f :cas, :value [0 2], :process 34, :time 45123221525, :error :connect, :index 15533}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 45124535822, :error :connect, :index 15535}
{:type :invoke, :f :write, :value 0, :process 15, :time 45124789958, :index 15536}
{:type :invoke, :f :write, :value 4, :process 33, :time 45125768982, :index 15537}
{:type :fail, :f :write, :value 0, :process 15, :time 45126578514, :error :connect, :index 15538}
{:type :fail, :f :write, :value 4, :process 33, :time 45127328463, :error :connect, :index 15539}
{:type :invoke, :f :write, :value 1, :process 33, :time 45144478336, :index 15542}
{:type :fail, :f :write, :value 1, :process 33, :time 45146271739, :error :connect, :index 15543}
{:type :invoke, :f :write, :value 1, :process 39, :time 45148652527, :index 15544}
{:type :fail, :f :write, :value 1, :process 39, :time 45150249095, :error :connect, :index 15545}
{:type :invoke, :f :read, :value nil, :process 33, :time 45155527978, :index 15546}
{:type :fail, :f :read, :value nil, :process 33, :time 45157123546, :error :connect, :index 15547}
{:type :invoke, :f :read, :value nil, :process 10, :time 45160347969, :index 15548}
{:type :fail, :f :read, :value nil, :process 10, :time 45162196342, :error :connect, :index 15549}
{:type :invoke, :f :read, :value nil, :process 36, :time 45171919314, :index 15553}
{:type :fail, :f :read, :value nil, :process 36, :time 45174013107, :error :connect, :index 15555}
{:type :invoke, :f :write, :value 3, :process 32, :time 45179227709, :index 15557}
{:type :fail, :f :write, :value 3, :process 32, :time 45181044050, :error :connect, :index 15559}
{:type :invoke, :f :cas, :value [0 0], :process 39, :time 45197528316, :index 15563}
{:type :fail, :f :cas, :value [0 0], :process 39, :time 45199588615, :error :connect, :index 15565}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 45205456947, :index 15566}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 45207512951, :error :connect, :index 15568}
{:type :invoke, :f :read, :value nil, :process 15, :time 45209886858, :index 15570}
{:type :fail, :f :read, :value nil, :process 15, :time 45211911233, :error :connect, :index 15571}
{:type :invoke, :f :cas, :value [1 1], :process 15, :time 45224182096, :index 15572}
{:type :fail, :f :cas, :value [1 1], :process 15, :time 45226388329, :error :connect, :index 15574}
{:type :invoke, :f :read, :value nil, :process 39, :time 45239850215, :index 15576}
{:type :fail, :f :read, :value nil, :process 39, :time 45241641052, :error :connect, :index 15577}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 45245291135, :index 15580}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 45247468444, :error :connect, :index 15581}
{:type :invoke, :f :cas, :value [3 1], :process 37, :time 45255238981, :index 15585}
{:type :fail, :f :cas, :value [3 1], :process 37, :time 45256870486, :error :connect, :index 15587}
{:type :invoke, :f :read, :value nil, :process 18, :time 45258800765, :index 15588}
{:type :fail, :f :read, :value nil, :process 18, :time 45260404678, :error :connect, :index 15589}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 45260541535, :index 15590}
{:type :invoke, :f :cas, :value [2 4], :process 32, :time 45261302830, :index 15591}
{:type :fail, :f :cas, :value [0 4], :process 18, :time 45262365467, :error :connect, :index 15592}
{:type :fail, :f :cas, :value [2 4], :process 32, :time 45262890352, :error :connect, :index 15593}
{:type :invoke, :f :cas, :value [1 2], :process 11, :time 45291908206, :index 15598}
{:type :fail, :f :cas, :value [1 2], :process 11, :time 45293796521, :error :connect, :index 15600}
{:type :invoke, :f :cas, :value [0 2], :process 36, :time 45312756601, :index 15604}
{:type :fail, :f :cas, :value [0 2], :process 36, :time 45314647739, :error :connect, :index 15605}
{:type :invoke, :f :write, :value 0, :process 34, :time 45319479837, :index 15606}
{:type :fail, :f :write, :value 0, :process 34, :time 45321285165, :error :connect, :index 15607}
{:type :invoke, :f :cas, :value [4 0], :process 11, :time 45322067453, :index 15608}
{:type :invoke, :f :read, :value nil, :process 10, :time 45323797327, :index 15609}
{:type :fail, :f :cas, :value [4 0], :process 11, :time 45324209782, :error :connect, :index 15610}
{:type :fail, :f :read, :value nil, :process 10, :time 45326010179, :error :connect, :index 15611}
{:type :invoke, :f :read, :value nil, :process 33, :time 45353399034, :index 15615}
{:type :fail, :f :read, :value nil, :process 33, :time 45355521732, :error :connect, :index 15616}
{:type :invoke, :f :read, :value nil, :process 39, :time 45369901721, :index 15624}
{:type :fail, :f :read, :value nil, :process 39, :time 45372135637, :error :connect, :index 15625}
{:type :invoke, :f :cas, :value [4 2], :process 32, :time 45381169897, :index 15629}
{:type :fail, :f :cas, :value [4 2], :process 32, :time 45383341032, :error :connect, :index 15633}
{:type :invoke, :f :write, :value 2, :process 18, :time 45387552196, :index 15636}
{:type :fail, :f :write, :value 2, :process 18, :time 45389445673, :error :connect, :index 15637}
{:type :invoke, :f :read, :value nil, :process 15, :time 45406635690, :index 15642}
{:type :invoke, :f :read, :value nil, :process 36, :time 45407958402, :index 15643}
{:type :fail, :f :read, :value nil, :process 15, :time 45408574007, :error :connect, :index 15644}
{:type :fail, :f :read, :value nil, :process 36, :time 45409891085, :error :connect, :index 15645}
{:type :invoke, :f :cas, :value [1 0], :process 33, :time 45410824317, :index 15646}
{:type :fail, :f :cas, :value [1 0], :process 33, :time 45412485140, :error :connect, :index 15647}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 45421276436, :index 15652}
{:type :fail, :f :cas, :value [2 1], :process 10, :time 45423339585, :error :connect, :index 15654}
{:type :invoke, :f :cas, :value [4 0], :process 37, :time 45431139885, :index 15658}
{:type :fail, :f :cas, :value [4 0], :process 37, :time 45432761881, :error :connect, :index 15659}
{:type :invoke, :f :write, :value 2, :process 34, :time 45445550914, :index 15661}
{:type :fail, :f :write, :value 2, :process 34, :time 45447564850, :error :connect, :index 15662}
{:type :invoke, :f :write, :value 1, :process 11, :time 45459464003, :index 15666}
{:type :fail, :f :write, :value 1, :process 11, :time 45461680551, :error :connect, :index 15668}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
