{:type :invoke, :f :read, :value nil, :process 15, :time 1324591574, :index 391}
{:type :ok, :f :read, :value nil, :process 15, :time 1331210126, :index 394}
{:type :invoke, :f :read, :value nil, :process 12, :time 1353316211, :index 398}
{:type :ok, :f :read, :value nil, :process 12, :time 1359353989, :index 401}
{:type :invoke, :f :read, :value nil, :process 13, :time 1362799446, :index 404}
{:type :ok, :f :read, :value nil, :process 13, :time 1367706379, :index 405}
{:type :invoke, :f :cas, :value [3 3], :process 16, :time 1384246798, :index 407}
{:type :fail, :f :cas, :value [3 3], :process 16, :time 1390726198, :error :not-found, :index 414}
{:type :invoke, :f :cas, :value [2 4], :process 12, :time 1394589644, :index 416}
{:type :fail, :f :cas, :value [2 4], :process 12, :time 1401150031, :error :not-found, :index 419}
{:type :invoke, :f :read, :value nil, :process 16, :time 1416129738, :index 423}
{:type :ok, :f :read, :value nil, :process 16, :time 1422137964, :index 427}
{:type :invoke, :f :cas, :value [3 3], :process 14, :time 1422645818, :index 428}
{:type :fail, :f :cas, :value [3 3], :process 14, :time 1429843002, :error :not-found, :index 429}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 1429829975, :index 430}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 1433267714, :index 431}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 1436660406, :error :not-found, :index 434}
{:type :fail, :f :cas, :value [1 3], :process 18, :time 1439174788, :error :not-found, :index 436}
{:type :invoke, :f :write, :value 2, :process 10, :time 1440947904, :index 439}
{:type :ok, :f :write, :value 2, :process 10, :time 1446512400, :index 442}
{:type :invoke, :f :write, :value 0, :process 17, :time 1474447656, :index 446}
{:type :invoke, :f :cas, :value [4 1], :process 11, :time 1476273662, :index 447}
{:type :ok, :f :write, :value 0, :process 17, :time 1480101545, :index 449}
{:type :fail, :f :cas, :value [4 1], :process 11, :time 1482166877, :index 450}
{:type :invoke, :f :read, :value nil, :process 16, :time 1484437694, :index 451}
{:type :ok, :f :read, :value 0, :process 16, :time 1490417166, :index 454}
{:type :invoke, :f :read, :value nil, :process 12, :time 1504472211, :index 458}
{:type :ok, :f :read, :value 0, :process 12, :time 1510981375, :index 461}
{:type :invoke, :f :read, :value nil, :process 11, :time 1520460548, :index 462}
{:type :invoke, :f :write, :value 0, :process 13, :time 1526005975, :index 463}
{:type :ok, :f :read, :value 0, :process 11, :time 1526431049, :index 464}
{:type :ok, :f :write, :value 0, :process 13, :time 1531614162, :index 466}
{:type :invoke, :f :cas, :value [3 2], :process 19, :time 1555689772, :index 472}
{:type :fail, :f :cas, :value [3 2], :process 19, :time 1562126519, :index 473}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 1567375095, :index 474}
{:type :invoke, :f :read, :value nil, :process 11, :time 1567769403, :index 475}
{:type :invoke, :f :write, :value 2, :process 14, :time 1570181841, :index 476}
{:type :ok, :f :read, :value 0, :process 11, :time 1574231347, :index 477}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 1574796111, :index 478}
{:type :ok, :f :write, :value 2, :process 14, :time 1576253740, :index 479}
{:type :invoke, :f :write, :value 4, :process 19, :time 1588726040, :index 482}
{:type :ok, :f :write, :value 4, :process 19, :time 1593761117, :index 483}
{:type :invoke, :f :cas, :value [3 3], :process 19, :time 1603053813, :index 486}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 1604500682, :index 487}
{:type :invoke, :f :cas, :value [2 4], :process 17, :time 1606408071, :index 488}
{:type :ok, :f :cas, :value [4 1], :process 18, :time 1609878083, :index 490}
{:type :fail, :f :cas, :value [3 3], :process 19, :time 1611029205, :index 491}
{:type :fail, :f :cas, :value [2 4], :process 17, :time 1612284624, :index 492}
{:type :invoke, :f :cas, :value [2 1], :process 12, :time 1622291165, :index 498}
{:type :invoke, :f :write, :value 0, :process 14, :time 1622555679, :index 499}
{:type :ok, :f :write, :value 0, :process 14, :time 1628919701, :index 501}
{:type :fail, :f :cas, :value [2 1], :process 12, :time 1629013110, :index 502}
{:type :invoke, :f :write, :value 3, :process 10, :time 1629840880, :index 504}
{:type :invoke, :f :cas, :value [2 2], :process 17, :time 1632568681, :index 505}
{:type :ok, :f :write, :value 3, :process 10, :time 1635456481, :index 508}
{:type :fail, :f :cas, :value [2 2], :process 17, :time 1639181287, :index 509}
{:type :invoke, :f :read, :value nil, :process 18, :time 1668183376, :index 520}
{:type :ok, :f :read, :value 3, :process 18, :time 1673024838, :index 522}
{:type :invoke, :f :cas, :value [3 3], :process 13, :time 1674974342, :index 525}
{:type :invoke, :f :write, :value 2, :process 14, :time 1676216990, :index 526}
{:type :invoke, :f :read, :value nil, :process 16, :time 1677784227, :index 528}
{:type :invoke, :f :read, :value nil, :process 15, :time 1680161829, :index 529}
{:type :ok, :f :cas, :value [3 3], :process 13, :time 1681635934, :index 531}
{:type :ok, :f :write, :value 2, :process 14, :time 1683436786, :index 533}
{:type :ok, :f :read, :value 2, :process 15, :time 1687343265, :index 535}
{:type :invoke, :f :read, :value nil, :process 10, :time 1690741530, :index 537}
{:type :ok, :f :read, :value 2, :process 10, :time 1696887384, :index 538}
{:type :invoke, :f :read, :value nil, :process 12, :time 1701273822, :index 539}
{:type :ok, :f :read, :value 2, :process 12, :time 1706520951, :index 540}
{:type :invoke, :f :write, :value 0, :process 15, :time 1717622702, :index 541}
{:type :ok, :f :write, :value 0, :process 15, :time 1723129595, :index 542}
{:type :invoke, :f :write, :value 0, :process 10, :time 1735178490, :index 543}
{:type :ok, :f :write, :value 0, :process 10, :time 1741028119, :index 544}
{:type :invoke, :f :read, :value nil, :process 19, :time 1747343768, :index 545}
{:type :ok, :f :read, :value 0, :process 19, :time 1752923895, :index 547}
{:type :invoke, :f :write, :value 0, :process 11, :time 1758591152, :index 549}
{:type :invoke, :f :read, :value nil, :process 13, :time 1771944484, :index 550}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 1774423169, :index 551}
{:type :ok, :f :read, :value 0, :process 13, :time 1777719127, :index 552}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 1780538767, :index 554}
{:type :invoke, :f :cas, :value [0 2], :process 19, :time 1795211211, :index 558}
{:type :invoke, :f :cas, :value [0 4], :process 17, :time 1799510805, :index 559}
{:type :ok, :f :cas, :value [0 2], :process 19, :time 1800834316, :index 560}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 1804340422, :index 563}
{:type :fail, :f :cas, :value [0 4], :process 17, :time 1805854813, :index 565}
{:type :fail, :f :cas, :value [0 2], :process 10, :time 1812041462, :index 568}
{:type :invoke, :f :read, :value nil, :process 18, :time 1827336248, :index 575}
{:type :ok, :f :read, :value 2, :process 18, :time 1832801761, :index 578}
{:type :invoke, :f :write, :value 2, :process 12, :time 1835832125, :index 579}
{:type :ok, :f :write, :value 2, :process 12, :time 1841424500, :index 581}
{:type :invoke, :f :write, :value 4, :process 14, :time 1869748667, :index 586}
{:type :ok, :f :write, :value 4, :process 14, :time 1875323411, :index 587}
{:type :invoke, :f :read, :value nil, :process 15, :time 1889835651, :index 589}
{:type :invoke, :f :cas, :value [1 2], :process 12, :time 1892710308, :index 591}
{:type :ok, :f :read, :value 4, :process 15, :time 1895681749, :index 592}
{:type :fail, :f :cas, :value [1 2], :process 12, :time 1898840865, :index 593}
{:type :invoke, :f :cas, :value [2 4], :process 13, :time 1912079739, :index 594}
{:type :invoke, :f :read, :value nil, :process 17, :time 1913125632, :index 595}
{:type :fail, :f :cas, :value [2 4], :process 13, :time 1917528803, :index 596}
{:type :ok, :f :read, :value 4, :process 17, :time 1918409414, :index 597}
{:type :invoke, :f :cas, :value [3 0], :process 17, :time 1946704300, :index 600}
{:type :fail, :f :cas, :value [3 0], :process 17, :time 1953030596, :index 601}
{:type :invoke, :f :read, :value nil, :process 12, :time 1960128996, :index 602}
{:type :invoke, :f :cas, :value [3 4], :process 18, :time 1966114266, :index 605}
{:type :ok, :f :read, :value 4, :process 12, :time 1967554188, :index 606}
{:type :fail, :f :cas, :value [3 4], :process 18, :time 1971975236, :index 610}
{:type :invoke, :f :cas, :value [1 1], :process 19, :time 1988178769, :index 615}
{:type :fail, :f :cas, :value [1 1], :process 19, :time 1994564098, :index 618}
{:type :invoke, :f :cas, :value [4 2], :process 10, :time 2001396202, :index 620}
{:type :ok, :f :cas, :value [4 2], :process 10, :time 2007584983, :index 622}
{:type :invoke, :f :read, :value nil, :process 15, :time 2035055642, :index 628}
{:type :ok, :f :read, :value 2, :process 15, :time 2040776285, :index 630}
{:type :invoke, :f :cas, :value [4 2], :process 19, :time 2064885563, :index 637}
{:type :fail, :f :cas, :value [4 2], :process 19, :time 2071653108, :index 640}
{:type :invoke, :f :read, :value nil, :process 14, :time 2072606953, :index 641}
{:type :invoke, :f :cas, :value [1 3], :process 13, :time 2102813075, :index 645}
{:type :fail, :f :cas, :value [1 3], :process 13, :time 2108044497, :index 647}
{:type :invoke, :f :write, :value 0, :process 18, :time 2108288373, :index 648}
{:type :invoke, :f :write, :value 1, :process 17, :time 2110347050, :index 649}
{:type :ok, :f :write, :value 0, :process 18, :time 2113520296, :index 650}
{:type :ok, :f :write, :value 1, :process 17, :time 2115914558, :index 652}
{:type :invoke, :f :write, :value 2, :process 12, :time 2117862142, :index 653}
{:type :invoke, :f :cas, :value [4 2], :process 19, :time 2120941123, :index 655}
{:type :ok, :f :write, :value 2, :process 12, :time 2123749582, :index 656}
{:type :invoke, :f :read, :value nil, :process 12, :time 2174038187, :index 662}
{:type :invoke, :f :read, :value nil, :process 13, :time 2178334341, :index 663}
{:type :ok, :f :read, :value 2, :process 12, :time 2180229203, :index 664}
{:type :ok, :f :read, :value 2, :process 13, :time 2183421749, :index 665}
{:type :invoke, :f :write, :value 4, :process 10, :time 2188880331, :index 666}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 2193813602, :index 668}
{:type :ok, :f :write, :value 4, :process 10, :time 2194959508, :index 669}
{:type :invoke, :f :write, :value 1, :process 13, :time 2198748692, :index 670}
{:type :fail, :f :cas, :value [0 4], :process 18, :time 2200281949, :index 672}
{:type :ok, :f :write, :value 1, :process 13, :time 2204317231, :index 673}
{:type :invoke, :f :read, :value nil, :process 15, :time 2221103801, :index 674}
{:type :invoke, :f :read, :value nil, :process 12, :time 2224594096, :index 675}
{:type :ok, :f :read, :value 1, :process 15, :time 2228108313, :index 676}
{:type :ok, :f :read, :value 1, :process 12, :time 2231639489, :index 677}
{:type :invoke, :f :cas, :value [3 3], :process 18, :time 2247583532, :index 680}
{:type :fail, :f :cas, :value [3 3], :process 18, :time 2253250840, :index 681}
{:type :invoke, :f :cas, :value [4 4], :process 12, :time 2271976086, :index 686}
{:type :invoke, :f :read, :value nil, :process 15, :time 2272405211, :index 687}
{:type :fail, :f :cas, :value [4 4], :process 12, :time 2278069896, :index 688}
{:type :ok, :f :read, :value 1, :process 15, :time 2278717511, :index 689}
{:type :invoke, :f :cas, :value [0 1], :process 17, :time 2285222119, :index 690}
{:type :fail, :f :cas, :value [0 1], :process 17, :time 2291321402, :index 692}
{:type :invoke, :f :write, :value 0, :process 13, :time 2296614628, :index 694}
{:type :ok, :f :write, :value 0, :process 13, :time 2302138483, :index 695}
{:type :invoke, :f :cas, :value [4 1], :process 12, :time 2304842824, :index 697}
{:type :fail, :f :cas, :value [4 1], :process 12, :time 2310639907, :index 699}
{:type :invoke, :f :read, :value nil, :process 15, :time 2318990811, :index 700}
{:type :ok, :f :read, :value 0, :process 15, :time 2325320983, :index 703}
{:type :invoke, :f :read, :value nil, :process 15, :time 2362670188, :index 712}
{:type :invoke, :f :write, :value 4, :process 10, :time 2368287569, :index 713}
{:type :ok, :f :read, :value 0, :process 15, :time 2368558642, :index 714}
{:type :ok, :f :write, :value 4, :process 10, :time 2374088098, :index 715}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 2379827893, :index 716}
{:type :invoke, :f :write, :value 2, :process 10, :time 2388365518, :index 718}
{:type :invoke, :f :read, :value nil, :process 12, :time 2418964348, :index 722}
{:type :invoke, :f :write, :value 3, :process 13, :time 2438425052, :index 723}
{:type :invoke, :f :cas, :value [2 4], :process 18, :time 2441568411, :index 724}
{:type :invoke, :f :read, :value nil, :process 17, :time 2466605547, :index 725}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 2525045962, :index 727}
{:type :invoke, :f :write, :value 3, :process 15, :time 2630428273, :index 729}
{:type :ok, :f :write, :value 3, :process 13, :time 2643316338, :index 730}
{:type :ok, :f :write, :value 2, :process 10, :time 2644043418, :index 733}
{:type :ok, :f :read, :value 2, :process 16, :time 2644352358, :index 734}
{:type :ok, :f :write, :value 0, :process 11, :time 2644511191, :index 735}
{:type :fail, :f :cas, :value [2 4], :process 18, :time 2645600912, :index 737}
{:type :ok, :f :read, :value 3, :process 17, :time 2646333335, :index 740}
{:type :ok, :f :read, :value 2, :process 12, :time 2646596229, :index 741}
{:type :ok, :f :write, :value 3, :process 15, :time 2649574477, :index 745}
{:type :invoke, :f :cas, :value [3 4], :process 11, :time 2665775424, :index 746}
{:type :ok, :f :cas, :value [3 4], :process 11, :time 2671658591, :index 747}
{:type :invoke, :f :write, :value 0, :process 15, :time 2679993840, :index 748}
{:type :ok, :f :write, :value 0, :process 15, :time 2687220184, :index 751}
{:type :invoke, :f :read, :value nil, :process 12, :time 2696877501, :index 752}
{:type :ok, :f :read, :value 0, :process 12, :time 2702231789, :index 754}
{:type :invoke, :f :read, :value nil, :process 13, :time 2733341801, :index 756}
{:type :ok, :f :read, :value 0, :process 13, :time 2738601839, :index 757}
{:type :invoke, :f :read, :value nil, :process 17, :time 2760633094, :index 760}
{:type :invoke, :f :cas, :value [1 4], :process 16, :time 2764641782, :index 762}
{:type :ok, :f :read, :value 0, :process 17, :time 2766917704, :index 763}
{:type :fail, :f :cas, :value [1 4], :process 16, :time 2770614016, :index 766}
{:type :invoke, :f :read, :value nil, :process 15, :time 2772491274, :index 767}
{:type :invoke, :f :read, :value nil, :process 17, :time 2774294298, :index 769}
{:type :invoke, :f :read, :value nil, :process 12, :time 2778543337, :index 772}
{:type :ok, :f :read, :value 0, :process 17, :time 2780359876, :index 774}
{:type :ok, :f :read, :value 0, :process 15, :time 2781109181, :index 775}
{:type :ok, :f :read, :value 0, :process 12, :time 2785461923, :index 777}
{:type :invoke, :f :read, :value nil, :process 13, :time 2797878106, :index 778}
{:type :invoke, :f :read, :value nil, :process 10, :time 2798346341, :index 779}
{:type :ok, :f :read, :value 0, :process 13, :time 2803564919, :index 782}
{:type :ok, :f :read, :value 0, :process 10, :time 2804796774, :index 783}
{:type :invoke, :f :write, :value 0, :process 18, :time 2821913645, :index 786}
{:type :ok, :f :write, :value 0, :process 18, :time 2826744923, :index 787}
{:type :invoke, :f :read, :value nil, :process 11, :time 2863011347, :index 800}
{:type :ok, :f :read, :value 0, :process 11, :time 2867774551, :index 801}
{:type :ok, :f :read, :value 3, :process 14, :time 3162090562, :index 883}
{:type :fail, :f :cas, :value [4 2], :process 19, :time 3163190361, :index 887}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
