{:type :invoke, :f :read, :value nil, :process 10, :time 2365144950, :index 767}
{:type :ok, :f :read, :value nil, :process 10, :time 2370691230, :index 769}
{:type :invoke, :f :write, :value 1, :process 11, :time 2389302660, :index 776}
{:type :ok, :f :write, :value 1, :process 11, :time 2394963902, :index 779}
{:type :invoke, :f :write, :value 3, :process 14, :time 2396661704, :index 781}
{:type :ok, :f :write, :value 3, :process 14, :time 2401817591, :index 783}
{:type :invoke, :f :cas, :value [3 4], :process 17, :time 2413511942, :index 788}
{:type :ok, :f :cas, :value [3 4], :process 17, :time 2419229749, :index 792}
{:type :invoke, :f :cas, :value [2 3], :process 12, :time 2421384523, :index 794}
{:type :invoke, :f :read, :value nil, :process 14, :time 2425075575, :index 795}
{:type :fail, :f :cas, :value [2 3], :process 12, :time 2427063193, :index 796}
{:type :ok, :f :read, :value 4, :process 14, :time 2429946153, :index 797}
{:type :invoke, :f :read, :value nil, :process 10, :time 2440962165, :index 799}
{:type :ok, :f :read, :value 4, :process 10, :time 2446270367, :index 800}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 2452881846, :index 802}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 2457780652, :index 803}
{:type :invoke, :f :read, :value nil, :process 19, :time 2457850959, :index 804}
{:type :ok, :f :read, :value 4, :process 19, :time 2463210903, :index 805}
{:type :invoke, :f :read, :value nil, :process 13, :time 2475781959, :index 810}
{:type :ok, :f :read, :value 4, :process 13, :time 2480636506, :index 812}
{:type :invoke, :f :read, :value nil, :process 17, :time 2486487046, :index 816}
{:type :ok, :f :read, :value 4, :process 17, :time 2491519873, :index 819}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 2526063850, :index 826}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 2530945476, :index 827}
{:type :invoke, :f :read, :value nil, :process 16, :time 2543645841, :index 831}
{:type :ok, :f :read, :value 4, :process 16, :time 2548556948, :index 833}
{:type :invoke, :f :read, :value nil, :process 17, :time 2559797055, :index 834}
{:type :invoke, :f :cas, :value [2 4], :process 14, :time 2563223201, :index 836}
{:type :ok, :f :read, :value 4, :process 17, :time 2564728555, :index 837}
{:type :fail, :f :cas, :value [2 4], :process 14, :time 2568040938, :index 839}
{:type :invoke, :f :read, :value nil, :process 19, :time 2578481314, :index 842}
{:type :ok, :f :read, :value 4, :process 19, :time 2584274700, :index 847}
{:type :invoke, :f :write, :value 0, :process 12, :time 2587345608, :index 851}
{:type :ok, :f :write, :value 0, :process 12, :time 2592759704, :index 854}
{:type :invoke, :f :cas, :value [1 1], :process 11, :time 2593247027, :index 855}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 2598335614, :index 859}
{:type :fail, :f :cas, :value [1 1], :process 11, :time 2599193678, :index 860}
{:type :invoke, :f :read, :value nil, :process 12, :time 2601198062, :index 863}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 2603795173, :index 865}
{:type :ok, :f :read, :value 0, :process 12, :time 2606422982, :index 866}
{:type :invoke, :f :read, :value nil, :process 10, :time 2617531095, :index 872}
{:type :ok, :f :read, :value 0, :process 10, :time 2621500868, :index 874}
{:type :invoke, :f :read, :value nil, :process 10, :time 2623756452, :index 875}
{:type :ok, :f :read, :value 0, :process 10, :time 2628690083, :index 878}
{:type :invoke, :f :read, :value nil, :process 13, :time 2630896077, :index 879}
{:type :ok, :f :read, :value 0, :process 13, :time 2635974807, :index 882}
{:type :invoke, :f :cas, :value [4 4], :process 17, :time 2641035294, :index 884}
{:type :fail, :f :cas, :value [4 4], :process 17, :time 2646747665, :index 885}
{:type :invoke, :f :cas, :value [1 4], :process 14, :time 2652221202, :index 886}
{:type :fail, :f :cas, :value [1 4], :process 14, :time 2657545450, :index 887}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 2661225736, :index 888}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 2666301992, :index 889}
{:type :invoke, :f :write, :value 4, :process 12, :time 2682683616, :index 893}
{:type :ok, :f :write, :value 4, :process 12, :time 2688251223, :index 895}
{:type :invoke, :f :cas, :value [4 1], :process 16, :time 2689816430, :index 896}
{:type :ok, :f :cas, :value [4 1], :process 16, :time 2695317818, :index 898}
{:type :invoke, :f :read, :value nil, :process 13, :time 2704242767, :index 903}
{:type :ok, :f :read, :value 1, :process 13, :time 2709807314, :index 905}
{:type :invoke, :f :cas, :value [2 3], :process 19, :time 2724594753, :index 906}
{:type :fail, :f :cas, :value [2 3], :process 19, :time 2733061545, :index 912}
{:type :invoke, :f :write, :value 4, :process 17, :time 2746011157, :index 914}
{:type :ok, :f :write, :value 4, :process 17, :time 2751251324, :index 916}
{:type :invoke, :f :cas, :value [0 0], :process 18, :time 2758070828, :index 918}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 2762956595, :index 920}
{:type :fail, :f :cas, :value [0 0], :process 18, :time 2764119681, :index 921}
{:type :ok, :f :cas, :value [4 0], :process 10, :time 2768269751, :index 922}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 2776460287, :index 925}
{:type :invoke, :f :read, :value nil, :process 14, :time 2777807499, :index 927}
{:type :fail, :f :cas, :value [2 3], :process 11, :time 2782267745, :index 931}
{:type :ok, :f :read, :value 0, :process 14, :time 2783114721, :index 932}
{:type :invoke, :f :read, :value nil, :process 12, :time 2792512497, :index 938}
{:type :ok, :f :read, :value 0, :process 12, :time 2797072217, :index 939}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 2810562973, :index 946}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 2815162191, :index 947}
{:type :invoke, :f :write, :value 3, :process 12, :time 2827324872, :index 948}
{:type :ok, :f :write, :value 3, :process 12, :time 2832956160, :index 949}
{:type :invoke, :f :write, :value 4, :process 13, :time 2835078091, :index 951}
{:type :ok, :f :write, :value 4, :process 13, :time 2840530996, :index 952}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 2856423009, :index 957}
{:type :invoke, :f :read, :value nil, :process 16, :time 2857588116, :index 958}
{:type :invoke, :f :read, :value nil, :process 14, :time 2860391604, :index 959}
{:type :invoke, :f :read, :value nil, :process 18, :time 2863399388, :index 961}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 2869991712, :index 962}
{:type :ok, :f :read, :value 4, :process 18, :time 2870428083, :index 963}
{:type :ok, :f :read, :value 4, :process 16, :time 2871201991, :index 964}
{:type :invoke, :f :write, :value 1, :process 16, :time 2873449666, :index 965}
{:type :ok, :f :write, :value 1, :process 16, :time 2878544726, :index 967}
{:type :invoke, :f :write, :value 4, :process 10, :time 2881531811, :index 969}
{:type :ok, :f :write, :value 4, :process 10, :time 2887591587, :index 971}
{:type :invoke, :f :cas, :value [3 3], :process 17, :time 2916523173, :index 975}
{:type :invoke, :f :write, :value 1, :process 11, :time 2922576832, :index 977}
{:type :invoke, :f :cas, :value [2 0], :process 19, :time 2924373255, :index 978}
{:type :ok, :f :write, :value 1, :process 11, :time 2929124537, :index 979}
{:type :invoke, :f :read, :value nil, :process 12, :time 2930225955, :index 980}
{:type :invoke, :f :write, :value 0, :process 15, :time 2935251067, :index 981}
{:type :ok, :f :write, :value 0, :process 15, :time 2939965534, :index 982}
{:type :invoke, :f :cas, :value [4 3], :process 18, :time 2953670126, :index 983}
{:type :fail, :f :cas, :value [4 3], :process 18, :time 2959109541, :index 984}
{:type :invoke, :f :cas, :value [4 3], :process 13, :time 2966821997, :index 986}
{:type :fail, :f :cas, :value [4 3], :process 13, :time 2972198529, :index 989}
{:type :invoke, :f :write, :value 4, :process 15, :time 3001221805, :index 995}
{:type :ok, :f :write, :value 4, :process 15, :time 3005923308, :index 996}
{:type :invoke, :f :read, :value nil, :process 11, :time 3027386844, :index 1002}
{:type :ok, :f :read, :value 4, :process 11, :time 3033050468, :index 1003}
{:type :invoke, :f :read, :value nil, :process 10, :time 3045840548, :index 1004}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 3048309881, :index 1005}
{:type :ok, :f :read, :value 4, :process 10, :time 3051100284, :index 1007}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 3053590064, :index 1009}
{:type :invoke, :f :cas, :value [1 4], :process 16, :time 3075804681, :index 1015}
{:type :fail, :f :cas, :value [1 4], :process 16, :time 3081851369, :index 1018}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 3088385887, :index 1023}
{:type :fail, :f :cas, :value [0 3], :process 18, :time 3094257540, :index 1025}
{:type :invoke, :f :write, :value 1, :process 15, :time 3117182217, :index 1026}
{:type :ok, :f :write, :value 1, :process 15, :time 3122017217, :index 1027}
{:type :invoke, :f :read, :value nil, :process 13, :time 3171474333, :index 1036}
{:type :ok, :f :read, :value 1, :process 13, :time 3176989258, :index 1038}
{:type :invoke, :f :read, :value nil, :process 10, :time 3198391929, :index 1044}
{:type :invoke, :f :read, :value nil, :process 13, :time 3199247244, :index 1045}
{:type :ok, :f :read, :value 1, :process 12, :time 3201391237, :index 1046}
{:type :fail, :f :cas, :value [3 3], :process 17, :time 3202289821, :index 1049}
{:type :ok, :f :read, :value 1, :process 10, :time 3203304725, :index 1050}
{:type :invoke, :f :read, :value nil, :process 18, :time 3204524936, :index 1051}
{:type :ok, :f :read, :value 1, :process 13, :time 3205132451, :index 1052}
{:type :ok, :f :read, :value 1, :process 18, :time 3209379838, :index 1053}
{:type :invoke, :f :read, :value nil, :process 15, :time 3218278164, :index 1054}
{:type :ok, :f :read, :value 1, :process 15, :time 3222811810, :index 1055}
{:type :invoke, :f :read, :value nil, :process 11, :time 3231882711, :index 1059}
{:type :ok, :f :read, :value 1, :process 11, :time 3236986299, :index 1061}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 3255075910, :index 1065}
{:type :invoke, :f :cas, :value [0 0], :process 16, :time 3255121532, :index 1066}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 3260280703, :index 1068}
{:type :fail, :f :cas, :value [0 0], :process 16, :time 3261105933, :index 1069}
{:type :invoke, :f :read, :value nil, :process 17, :time 3261571586, :index 1070}
{:type :ok, :f :read, :value 1, :process 17, :time 3266777839, :index 1071}
{:type :invoke, :f :write, :value 4, :process 15, :time 3270534665, :index 1072}
{:type :invoke, :f :read, :value nil, :process 13, :time 3272415885, :index 1073}
{:type :ok, :f :write, :value 4, :process 15, :time 3275598960, :index 1074}
{:type :ok, :f :read, :value 4, :process 13, :time 3278029226, :index 1075}
{:type :invoke, :f :write, :value 2, :process 17, :time 3285036248, :index 1077}
{:type :invoke, :f :read, :value nil, :process 18, :time 3286636973, :index 1078}
{:type :ok, :f :write, :value 2, :process 17, :time 3292110585, :index 1080}
{:type :ok, :f :read, :value 2, :process 18, :time 3292638121, :index 1081}
{:type :invoke, :f :read, :value nil, :process 10, :time 3320550716, :index 1086}
{:type :ok, :f :read, :value 2, :process 10, :time 3326012583, :index 1087}
{:type :ok, :f :read, :value 2, :process 14, :time 3358532426, :index 1092}
{:type :ok, :f :cas, :value [2 0], :process 19, :time 3359142251, :index 1095}
{:type :invoke, :f :read, :value nil, :process 17, :time 3362394204, :index 1096}
{:type :ok, :f :read, :value 0, :process 17, :time 3367178812, :index 1098}
{:type :invoke, :f :cas, :value [3 1], :process 12, :time 3368701566, :index 1100}
{:type :fail, :f :cas, :value [3 1], :process 12, :time 3374554331, :index 1103}
{:type :invoke, :f :write, :value 1, :process 16, :time 3379366917, :index 1105}
{:type :ok, :f :write, :value 1, :process 16, :time 3385325786, :index 1108}
{:type :invoke, :f :write, :value 4, :process 11, :time 3393235812, :index 1110}
{:type :ok, :f :write, :value 4, :process 11, :time 3399379368, :index 1112}
{:type :invoke, :f :cas, :value [2 4], :process 13, :time 3406282288, :index 1116}
{:type :invoke, :f :write, :value 0, :process 11, :time 3407634948, :index 1117}
{:type :fail, :f :cas, :value [2 4], :process 13, :time 3411766429, :index 1120}
{:type :ok, :f :write, :value 0, :process 11, :time 3413015566, :index 1121}
{:type :invoke, :f :write, :value 0, :process 15, :time 3414857859, :index 1123}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 3417279802, :index 1124}
{:type :ok, :f :write, :value 0, :process 15, :time 3419366846, :index 1126}
{:type :ok, :f :cas, :value [0 2], :process 10, :time 3422132273, :index 1127}
{:type :invoke, :f :read, :value nil, :process 18, :time 3423870713, :index 1128}
{:type :ok, :f :read, :value 2, :process 18, :time 3429007383, :index 1129}
{:type :invoke, :f :write, :value 4, :process 19, :time 3453393463, :index 1134}
{:type :ok, :f :write, :value 4, :process 19, :time 3458868153, :index 1135}
{:type :invoke, :f :cas, :value [3 4], :process 12, :time 3465729094, :index 1136}
{:type :fail, :f :cas, :value [3 4], :process 12, :time 3471875951, :index 1140}
{:type :invoke, :f :write, :value 1, :process 14, :time 3484787293, :index 1142}
{:type :invoke, :f :read, :value nil, :process 13, :time 3488018552, :index 1143}
{:type :ok, :f :write, :value 1, :process 14, :time 3489913000, :index 1144}
{:type :invoke, :f :write, :value 0, :process 17, :time 3490441643, :index 1145}
{:type :ok, :f :read, :value 1, :process 13, :time 3494548090, :index 1146}
{:type :ok, :f :write, :value 0, :process 17, :time 3495654126, :index 1148}
{:type :invoke, :f :cas, :value [4 0], :process 17, :time 3508906443, :index 1153}
{:type :fail, :f :cas, :value [4 0], :process 17, :time 3514247605, :index 1155}
{:type :invoke, :f :read, :value nil, :process 13, :time 3519799637, :index 1156}
{:type :ok, :f :read, :value 0, :process 13, :time 3525633398, :index 1158}
{:type :invoke, :f :write, :value 1, :process 14, :time 3543173400, :index 1162}
{:type :invoke, :f :write, :value 4, :process 11, :time 3543277229, :index 1163}
{:type :ok, :f :write, :value 1, :process 14, :time 3548268085, :index 1164}
{:type :ok, :f :write, :value 4, :process 11, :time 3548603380, :index 1165}
{:type :invoke, :f :cas, :value [2 3], :process 12, :time 3558070861, :index 1168}
{:type :fail, :f :cas, :value [2 3], :process 12, :time 3563851044, :index 1171}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 3566561266, :index 1173}
{:type :fail, :f :cas, :value [2 4], :process 16, :time 3572152137, :index 1176}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 3578352295, :index 1178}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 3583341375, :index 1179}
{:type :invoke, :f :read, :value nil, :process 15, :time 3592621166, :index 1181}
{:type :invoke, :f :read, :value nil, :process 19, :time 3593145406, :index 1182}
{:type :ok, :f :read, :value 4, :process 15, :time 3597126035, :index 1184}
{:type :ok, :f :read, :value 4, :process 19, :time 3599320709, :index 1186}
{:type :invoke, :f :read, :value nil, :process 18, :time 3614280042, :index 1189}
{:type :invoke, :f :read, :value nil, :process 17, :time 3617504021, :index 1191}
{:type :ok, :f :read, :value 4, :process 18, :time 3619565350, :index 1192}
{:type :invoke, :f :cas, :value [4 4], :process 14, :time 3640535494, :index 1197}
{:type :ok, :f :cas, :value [4 4], :process 14, :time 3645957036, :index 1198}
{:type :invoke, :f :read, :value nil, :process 13, :time 3653885559, :index 1199}
{:type :ok, :f :read, :value 4, :process 13, :time 3658664541, :index 1200}
{:type :ok, :f :read, :value 4, :process 17, :time 4538972410, :index 1447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
