{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :invoke, :f :read, :value nil, :process 75, :time 56013749767, :index 8960}
{:type :ok, :f :read, :value nil, :process 75, :time 56021195981, :index 8966}
{:type :invoke, :f :write, :value 4, :process 78, :time 56063588411, :index 8986}
{:type :ok, :f :write, :value 4, :process 78, :time 56069254425, :index 8989}
{:type :invoke, :f :write, :value 0, :process 78, :time 56095518431, :index 8994}
{:type :invoke, :f :read, :value nil, :process 33, :time 56097966327, :index 8996}
{:type :invoke, :f :cas, :value [1 2], :process 79, :time 56098589954, :index 8997}
{:type :ok, :f :write, :value 0, :process 78, :time 56100463941, :index 8998}
{:type :ok, :f :read, :value 0, :process 33, :time 56103999164, :index 9000}
{:type :fail, :f :cas, :value [1 2], :process 79, :time 56104436952, :index 9001}
{:type :invoke, :f :read, :value nil, :process 50, :time 56128899682, :index 9004}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 56130573050, :index 9005}
{:type :ok, :f :read, :value 0, :process 50, :time 56134100132, :index 9006}
{:type :fail, :f :cas, :value [2 4], :process 16, :time 56135493269, :index 9007}
{:type :invoke, :f :read, :value nil, :process 33, :time 56138260152, :index 9009}
{:type :invoke, :f :read, :value nil, :process 54, :time 56138685018, :index 9010}
{:type :ok, :f :read, :value 0, :process 33, :time 56143824230, :index 9012}
{:type :ok, :f :read, :value 0, :process 54, :time 56144181380, :index 9014}
{:type :invoke, :f :write, :value 3, :process 75, :time 56167453317, :index 9022}
{:type :ok, :f :write, :value 3, :process 75, :time 56172056627, :index 9024}
{:type :invoke, :f :write, :value 4, :process 78, :time 56248722928, :index 9040}
{:type :ok, :f :write, :value 4, :process 78, :time 56253572719, :index 9041}
{:type :invoke, :f :read, :value nil, :process 79, :time 56257672231, :index 9042}
{:type :invoke, :f :cas, :value [3 3], :process 50, :time 56260362231, :index 9043}
{:type :ok, :f :read, :value 4, :process 79, :time 56263264690, :index 9045}
{:type :invoke, :f :write, :value 2, :process 31, :time 56263338120, :index 9046}
{:type :fail, :f :cas, :value [3 3], :process 50, :time 56265695542, :index 9047}
{:type :invoke, :f :write, :value 3, :process 16, :time 56275758742, :index 9049}
{:type :invoke, :f :write, :value 1, :process 79, :time 56286543098, :index 9052}
{:type :invoke, :f :cas, :value [0 3], :process 75, :time 56304339935, :index 9054}
{:type :invoke, :f :read, :value nil, :process 54, :time 56304342616, :index 9055}
{:type :invoke, :f :read, :value nil, :process 33, :time 56318035133, :index 9056}
{:type :invoke, :f :write, :value 3, :process 78, :time 56357831929, :index 9059}
{:type :invoke, :f :write, :value 0, :process 50, :time 56359955519, :index 9060}
{:type :ok, :f :write, :value 2, :process 31, :time 56454597606, :index 9064}
{:type :ok, :f :write, :value 3, :process 16, :time 56454609502, :index 9065}
{:type :ok, :f :write, :value 1, :process 79, :time 56454962612, :index 9066}
{:type :fail, :f :cas, :value [0 3], :process 75, :time 56456676632, :index 9071}
{:type :ok, :f :read, :value 1, :process 54, :time 56457002616, :index 9073}
{:type :ok, :f :write, :value 0, :process 50, :time 56457284245, :index 9074}
{:type :ok, :f :write, :value 3, :process 78, :time 56457752640, :index 9076}
{:type :ok, :f :read, :value 1, :process 33, :time 56458208845, :index 9078}
{:type :invoke, :f :read, :value nil, :process 75, :time 56510194197, :index 9087}
{:type :invoke, :f :cas, :value [2 0], :process 54, :time 56512620553, :index 9089}
{:type :ok, :f :read, :value 0, :process 75, :time 56515184780, :index 9090}
{:type :invoke, :f :write, :value 1, :process 33, :time 56518472770, :index 9091}
{:type :fail, :f :cas, :value [2 0], :process 54, :time 56518570374, :index 9092}
{:type :invoke, :f :read, :value nil, :process 31, :time 56518968847, :index 9093}
{:type :ok, :f :write, :value 1, :process 33, :time 56523208708, :index 9094}
{:type :ok, :f :read, :value 1, :process 31, :time 56523532630, :index 9095}
{:type :invoke, :f :cas, :value [4 4], :process 79, :time 56527532995, :index 9096}
{:type :fail, :f :cas, :value [4 4], :process 79, :time 56532985563, :index 9101}
{:type :invoke, :f :write, :value 1, :process 57, :time 56542151297, :index 9102}
{:type :ok, :f :write, :value 1, :process 57, :time 56548217149, :index 9107}
{:type :invoke, :f :cas, :value [3 4], :process 52, :time 56555809074, :index 9114}
{:type :fail, :f :cas, :value [3 4], :process 52, :time 56561498573, :index 9117}
{:type :invoke, :f :write, :value 2, :process 52, :time 56574729957, :index 9118}
{:type :ok, :f :write, :value 2, :process 52, :time 56580458258, :index 9119}
{:type :invoke, :f :read, :value nil, :process 52, :time 56595713242, :index 9125}
{:type :invoke, :f :cas, :value [0 4], :process 31, :time 56597779830, :index 9127}
{:type :ok, :f :read, :value 2, :process 52, :time 56600385804, :index 9128}
{:type :fail, :f :cas, :value [0 4], :process 31, :time 56602549069, :index 9129}
{:type :invoke, :f :read, :value nil, :process 16, :time 56613909922, :index 9133}
{:type :ok, :f :read, :value 2, :process 16, :time 56618187464, :index 9135}
{:type :invoke, :f :write, :value 0, :process 50, :time 56625548952, :index 9136}
{:type :invoke, :f :cas, :value [3 4], :process 78, :time 56629013794, :index 9137}
{:type :ok, :f :write, :value 0, :process 50, :time 56630251339, :index 9138}
{:type :fail, :f :cas, :value [3 4], :process 78, :time 56634230027, :index 9139}
{:type :invoke, :f :write, :value 4, :process 31, :time 56653804162, :index 9142}
{:type :ok, :f :write, :value 4, :process 31, :time 56658136158, :index 9144}
{:type :invoke, :f :cas, :value [0 3], :process 78, :time 56658487041, :index 9145}
{:type :invoke, :f :cas, :value [4 1], :process 54, :time 56661826891, :index 9147}
{:type :fail, :f :cas, :value [0 3], :process 78, :time 56664268160, :index 9149}
{:type :ok, :f :cas, :value [4 1], :process 54, :time 56667146237, :index 9150}
{:type :invoke, :f :read, :value nil, :process 33, :time 56669471353, :index 9154}
{:type :ok, :f :read, :value 1, :process 33, :time 56674299030, :index 9157}
{:type :invoke, :f :cas, :value [4 1], :process 57, :time 56684474574, :index 9158}
{:type :fail, :f :cas, :value [4 1], :process 57, :time 56689696965, :index 9159}
{:type :invoke, :f :cas, :value [3 2], :process 33, :time 56690550371, :index 9160}
{:type :invoke, :f :cas, :value [3 4], :process 31, :time 56693402544, :index 9161}
{:type :fail, :f :cas, :value [3 2], :process 33, :time 56695850573, :index 9162}
{:type :fail, :f :cas, :value [3 4], :process 31, :time 56699247208, :index 9163}
{:type :invoke, :f :cas, :value [0 4], :process 75, :time 56706446308, :index 9165}
{:type :fail, :f :cas, :value [0 4], :process 75, :time 56712795564, :index 9167}
{:type :invoke, :f :read, :value nil, :process 79, :time 56724246551, :index 9170}
{:type :invoke, :f :write, :value 1, :process 50, :time 56727514038, :index 9171}
{:type :ok, :f :read, :value 1, :process 79, :time 56729529957, :index 9173}
{:type :ok, :f :write, :value 1, :process 50, :time 56733785133, :index 9175}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 56758453251, :index 9177}
{:type :ok, :f :cas, :value [1 0], :process 16, :time 56762882561, :index 9178}
{:type :invoke, :f :cas, :value [1 4], :process 52, :time 56778646698, :index 9183}
{:type :invoke, :f :read, :value nil, :process 57, :time 56791952435, :index 9185}
{:type :invoke, :f :write, :value 1, :process 31, :time 56804514995, :index 9187}
{:type :invoke, :f :read, :value nil, :process 78, :time 56807537014, :index 9188}
{:type :ok, :f :write, :value 1, :process 31, :time 56809620170, :index 9189}
{:type :invoke, :f :cas, :value [2 2], :process 75, :time 56813050718, :index 9190}
{:type :fail, :f :cas, :value [2 2], :process 75, :time 56818541087, :index 9191}
{:type :invoke, :f :write, :value 4, :process 79, :time 56819804438, :index 9192}
{:type :ok, :f :write, :value 4, :process 79, :time 56826282988, :index 9193}
{:type :invoke, :f :read, :value nil, :process 33, :time 56830110407, :index 9194}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
{:type :invoke, :f :cas, :value [2 3], :process 31, :time 56859876864, :index 9204}
{:type :invoke, :f :read, :value nil, :process 16, :time 56864145807, :index 9205}
{:type :invoke, :f :cas, :value [4 0], :process 54, :time 56864461569, :index 9206}
{:type :invoke, :f :cas, :value [4 4], :process 50, :time 56865218948, :index 9207}
{:type :fail, :f :cas, :value [2 3], :process 31, :time 56865489935, :index 9208}
{:type :ok, :f :read, :value 4, :process 16, :time 56869438813, :index 9209}
{:type :ok, :f :cas, :value [4 0], :process 54, :time 56870857104, :index 9210}
{:type :fail, :f :cas, :value [4 4], :process 50, :time 56871588307, :index 9211}
{:type :invoke, :f :write, :value 2, :process 31, :time 56877731794, :index 9212}
{:type :ok, :f :write, :value 2, :process 31, :time 56882859248, :index 9214}
{:type :invoke, :f :write, :value 1, :process 50, :time 56884821748, :index 9215}
{:type :ok, :f :write, :value 1, :process 50, :time 56890307548, :index 9217}
{:type :invoke, :f :write, :value 3, :process 79, :time 56931540083, :index 9222}
{:type :ok, :f :write, :value 3, :process 79, :time 56936851565, :index 9223}
{:type :invoke, :f :cas, :value [1 1], :process 50, :time 56969574151, :index 9229}
{:type :fail, :f :cas, :value [1 1], :process 50, :time 56975481147, :index 9230}
{:type :invoke, :f :read, :value nil, :process 75, :time 56986798225, :index 9232}
{:type :ok, :f :read, :value 3, :process 75, :time 56992555029, :index 9233}
{:type :invoke, :f :cas, :value [3 3], :process 31, :time 57037138248, :index 9236}
{:type :ok, :f :cas, :value [3 3], :process 31, :time 57042912776, :index 9238}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 57051709692, :index 9240}
{:type :invoke, :f :read, :value nil, :process 54, :time 57053117152, :index 9241}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 57058603043, :index 9243}
{:type :ok, :f :read, :value 3, :process 54, :time 57059475048, :index 9244}
{:type :invoke, :f :write, :value 3, :process 75, :time 57077818702, :index 9250}
{:type :ok, :f :write, :value 3, :process 75, :time 57082793965, :index 9252}
{:type :invoke, :f :cas, :value [0 0], :process 79, :time 57092119492, :index 9255}
{:type :fail, :f :cas, :value [0 0], :process 79, :time 57098301448, :index 9257}
{:type :invoke, :f :cas, :value [3 1], :process 16, :time 57132888399, :index 9260}
{:type :ok, :f :cas, :value [3 1], :process 16, :time 57137697969, :index 9261}
{:type :invoke, :f :read, :value nil, :process 50, :time 57154781304, :index 9262}
{:type :ok, :f :read, :value 1, :process 50, :time 57160211205, :index 9263}
{:type :invoke, :f :read, :value nil, :process 31, :time 57174245593, :index 9266}
{:type :ok, :f :read, :value 1, :process 31, :time 57181271138, :index 9269}
{:type :invoke, :f :cas, :value [4 2], :process 75, :time 57216058426, :index 9275}
{:type :invoke, :f :read, :value nil, :process 54, :time 57218727852, :index 9278}
{:type :fail, :f :cas, :value [4 2], :process 75, :time 57221111973, :index 9279}
{:type :invoke, :f :write, :value 3, :process 79, :time 57222572426, :index 9281}
{:type :ok, :f :read, :value 1, :process 54, :time 57224060014, :index 9283}
{:type :invoke, :f :write, :value 4, :process 31, :time 57227512246, :index 9285}
{:type :ok, :f :write, :value 3, :process 79, :time 57227666063, :index 9286}
{:type :ok, :f :write, :value 4, :process 31, :time 57232135292, :index 9287}
{:type :invoke, :f :cas, :value [1 4], :process 54, :time 57258322615, :index 9291}
{:type :fail, :f :cas, :value [1 4], :process 54, :time 57264344254, :index 9292}
{:type :invoke, :f :write, :value 4, :process 50, :time 57264482833, :index 9293}
{:type :ok, :f :write, :value 4, :process 50, :time 57269944467, :index 9296}
{:type :invoke, :f :read, :value nil, :process 31, :time 57281389623, :index 9300}
{:type :ok, :f :read, :value 4, :process 31, :time 57286498729, :index 9301}
{:type :invoke, :f :write, :value 3, :process 16, :time 57293967257, :index 9304}
{:type :ok, :f :write, :value 3, :process 16, :time 57298745228, :index 9305}
{:type :invoke, :f :cas, :value [4 2], :process 75, :time 57308370599, :index 9307}
{:type :fail, :f :cas, :value [4 2], :process 75, :time 57314474498, :index 9308}
{:type :invoke, :f :read, :value nil, :process 54, :time 57356640486, :index 9310}
{:type :ok, :f :read, :value 3, :process 54, :time 57364241666, :index 9311}
{:type :invoke, :f :read, :value nil, :process 50, :time 57371218949, :index 9313}
{:type :ok, :f :read, :value 3, :process 50, :time 57375742112, :index 9316}
{:type :invoke, :f :write, :value 4, :process 31, :time 57399764155, :index 9319}
{:type :invoke, :f :read, :value nil, :process 79, :time 57400910249, :index 9320}
{:type :ok, :f :write, :value 4, :process 31, :time 57405904459, :index 9322}
{:type :invoke, :f :write, :value 3, :process 50, :time 57414980883, :index 9323}
{:type :invoke, :f :read, :value nil, :process 16, :time 57421003330, :index 9325}
{:type :invoke, :f :read, :value nil, :process 54, :time 57422515107, :index 9326}
{:type :invoke, :f :write, :value 1, :process 75, :time 57490763704, :index 9330}
{:type :invoke, :f :read, :value nil, :process 31, :time 57516173520, :index 9332}
{:type :ok, :f :read, :value 4, :process 79, :time 57930204629, :index 9334}
{:type :ok, :f :read, :value 3, :process 16, :time 57931010320, :index 9337}
{:type :ok, :f :write, :value 3, :process 50, :time 57931245218, :index 9339}
{:type :ok, :f :write, :value 1, :process 75, :time 57931536109, :index 9340}
{:type :ok, :f :read, :value 1, :process 31, :time 57931806594, :index 9341}
{:type :ok, :f :read, :value 1, :process 54, :time 57932607854, :index 9343}
{:type :invoke, :f :write, :value 1, :process 54, :time 57972839826, :index 9352}
{:type :ok, :f :write, :value 1, :process 54, :time 57978468310, :index 9353}
{:type :invoke, :f :write, :value 2, :process 75, :time 57987761736, :index 9354}
{:type :ok, :f :write, :value 2, :process 75, :time 57993623808, :index 9355}
{:type :invoke, :f :write, :value 4, :process 79, :time 57995573448, :index 9356}
{:type :ok, :f :write, :value 4, :process 79, :time 58001174905, :index 9357}
{:type :invoke, :f :cas, :value [3 2], :process 79, :time 58006433275, :index 9358}
{:type :fail, :f :cas, :value [3 2], :process 79, :time 58011661328, :index 9359}
{:type :invoke, :f :read, :value nil, :process 31, :time 58045057877, :index 9366}
{:type :ok, :f :read, :value 4, :process 31, :time 58049528849, :index 9367}
{:type :invoke, :f :write, :value 4, :process 31, :time 58069783651, :index 9368}
{:type :ok, :f :write, :value 4, :process 31, :time 58074068700, :index 9369}
{:type :invoke, :f :write, :value 2, :process 79, :time 58076918242, :index 9370}
{:type :ok, :f :write, :value 2, :process 79, :time 58082389561, :index 9371}
{:type :invoke, :f :write, :value 4, :process 75, :time 58106881141, :index 9374}
{:type :invoke, :f :cas, :value [0 4], :process 50, :time 58107380585, :index 9375}
{:type :invoke, :f :read, :value nil, :process 16, :time 58108354167, :index 9376}
{:type :invoke, :f :read, :value nil, :process 54, :time 58108742100, :index 9377}
{:type :ok, :f :write, :value 4, :process 75, :time 58112909798, :index 9378}
{:type :ok, :f :read, :value 4, :process 16, :time 58113720318, :index 9379}
{:type :fail, :f :cas, :value [0 4], :process 50, :time 58114793153, :index 9380}
{:type :ok, :f :read, :value 4, :process 54, :time 58115046939, :index 9381}
{:type :invoke, :f :read, :value nil, :process 31, :time 58190321688, :index 9400}
{:type :ok, :f :read, :value 4, :process 31, :time 58195230262, :index 9402}
{:type :invoke, :f :read, :value nil, :process 79, :time 58220659779, :index 9406}
{:type :ok, :f :read, :value 4, :process 79, :time 58479604706, :index 9418}
{:type :info, :f :cas, :value [1 4], :process 52, :time 61785722264, :error :timeout, :index 9679}
{:type :fail, :f :read, :value nil, :process 57, :time 61798725420, :error :timeout, :index 9680}
{:type :fail, :f :read, :value nil, :process 78, :time 61814913083, :error :timeout, :index 9682}
{:type :fail, :f :read, :value nil, :process 33, :time 61837276190, :error :timeout, :index 9683}
