{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :invoke, :f :cas, :value [2 3], :process 31, :time 43864129376, :index 9187}
{:type :fail, :f :cas, :value [2 3], :process 31, :time 43869836897, :error :not-found, :index 9189}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 43896995959, :index 9195}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 43904762541, :error :not-found, :index 9200}
{:type :invoke, :f :write, :value 4, :process 54, :time 43920376238, :index 9205}
{:type :invoke, :f :cas, :value [0 2], :process 53, :time 43922180650, :index 9207}
{:type :ok, :f :write, :value 4, :process 54, :time 43926006343, :index 9209}
{:type :fail, :f :cas, :value [0 2], :process 53, :time 43928242700, :index 9211}
{:type :invoke, :f :write, :value 0, :process 39, :time 43936189885, :index 9214}
{:type :ok, :f :write, :value 0, :process 39, :time 43941033468, :index 9216}
{:type :invoke, :f :cas, :value [2 0], :process 12, :time 43948025940, :index 9219}
{:type :fail, :f :cas, :value [2 0], :process 12, :time 43953603351, :index 9221}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 43978544394, :index 9226}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 43983265056, :index 9227}
{:type :invoke, :f :read, :value nil, :process 54, :time 43990259567, :index 9228}
{:type :ok, :f :read, :value 0, :process 54, :time 43995500104, :index 9229}
{:type :invoke, :f :write, :value 3, :process 15, :time 44000753730, :index 9230}
{:type :ok, :f :write, :value 3, :process 15, :time 44006494680, :index 9232}
{:type :invoke, :f :read, :value nil, :process 15, :time 44009753086, :index 9234}
{:type :ok, :f :read, :value 3, :process 15, :time 44013886768, :index 9236}
{:type :invoke, :f :write, :value 2, :process 15, :time 44017147418, :index 9237}
{:type :ok, :f :write, :value 2, :process 15, :time 44021660450, :index 9241}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 44028518562, :index 9244}
{:type :fail, :f :cas, :value [3 0], :process 10, :time 44033249691, :index 9245}
{:type :invoke, :f :cas, :value [3 4], :process 10, :time 44060524148, :index 9248}
{:type :invoke, :f :write, :value 3, :process 31, :time 44063106016, :index 9249}
{:type :fail, :f :cas, :value [3 4], :process 10, :time 44067827624, :index 9250}
{:type :invoke, :f :read, :value nil, :process 39, :time 44068216580, :index 9251}
{:type :ok, :f :write, :value 3, :process 31, :time 44069187764, :index 9252}
{:type :invoke, :f :write, :value 0, :process 37, :time 44071075769, :index 9254}
{:type :ok, :f :read, :value 3, :process 39, :time 44073357211, :index 9255}
{:type :ok, :f :write, :value 0, :process 37, :time 44076563180, :index 9258}
{:type :invoke, :f :read, :value nil, :process 53, :time 44085490678, :index 9261}
{:type :invoke, :f :read, :value nil, :process 31, :time 44087498649, :index 9262}
{:type :invoke, :f :cas, :value [2 0], :process 58, :time 44089198412, :index 9264}
{:type :ok, :f :read, :value 0, :process 53, :time 44091943707, :index 9266}
{:type :ok, :f :read, :value 0, :process 31, :time 44094689569, :index 9268}
{:type :fail, :f :cas, :value [2 0], :process 58, :time 44095522340, :index 9269}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 44102074657, :index 9273}
{:type :fail, :f :cas, :value [3 0], :process 16, :time 44108202187, :index 9275}
{:type :invoke, :f :cas, :value [0 0], :process 54, :time 44125768959, :index 9278}
{:type :ok, :f :cas, :value [0 0], :process 54, :time 44130623307, :index 9279}
{:type :invoke, :f :write, :value 0, :process 12, :time 44151875599, :index 9281}
{:type :ok, :f :write, :value 0, :process 12, :time 44157888215, :index 9283}
{:type :invoke, :f :write, :value 2, :process 54, :time 44197916656, :index 9294}
{:type :ok, :f :write, :value 2, :process 54, :time 44203205405, :index 9298}
{:type :invoke, :f :cas, :value [0 3], :process 53, :time 44214242073, :index 9301}
{:type :invoke, :f :write, :value 4, :process 12, :time 44219177799, :index 9305}
{:type :fail, :f :cas, :value [0 3], :process 53, :time 44220296523, :index 9307}
{:type :invoke, :f :write, :value 1, :process 15, :time 44220920449, :index 9308}
{:type :ok, :f :write, :value 1, :process 15, :time 44226217390, :index 9310}
{:type :ok, :f :write, :value 4, :process 12, :time 44226217405, :index 9311}
{:type :invoke, :f :write, :value 2, :process 10, :time 44238187550, :index 9314}
{:type :ok, :f :write, :value 2, :process 10, :time 44242546379, :index 9315}
{:type :invoke, :f :read, :value nil, :process 12, :time 44243582999, :index 9316}
{:type :invoke, :f :read, :value nil, :process 58, :time 44243855715, :index 9317}
{:type :invoke, :f :cas, :value [3 4], :process 39, :time 44247642263, :index 9318}
{:type :ok, :f :read, :value 2, :process 58, :time 44249339325, :index 9319}
{:type :ok, :f :read, :value 2, :process 12, :time 44249677870, :index 9320}
{:type :invoke, :f :write, :value 1, :process 37, :time 44251852740, :index 9321}
{:type :fail, :f :cas, :value [3 4], :process 39, :time 44252849423, :index 9322}
{:type :invoke, :f :read, :value nil, :process 31, :time 44256026900, :index 9324}
{:type :ok, :f :write, :value 1, :process 37, :time 44256913259, :index 9325}
{:type :ok, :f :read, :value 1, :process 31, :time 44261411179, :index 9327}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 44261572116, :index 9328}
{:type :invoke, :f :write, :value 4, :process 58, :time 44261814072, :index 9330}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 44267132927, :index 9332}
{:type :ok, :f :write, :value 4, :process 58, :time 44267656479, :index 9333}
{:type :invoke, :f :read, :value nil, :process 31, :time 44272688211, :index 9334}
{:type :ok, :f :read, :value 4, :process 31, :time 44277793916, :index 9336}
{:type :invoke, :f :cas, :value [3 1], :process 31, :time 44292051017, :index 9338}
{:type :invoke, :f :write, :value 2, :process 16, :time 44292480207, :index 9340}
{:type :ok, :f :write, :value 2, :process 16, :time 44298904306, :index 9342}
{:type :fail, :f :cas, :value [3 1], :process 31, :time 44298993221, :index 9343}
{:type :invoke, :f :read, :value nil, :process 58, :time 44304890550, :index 9345}
{:type :ok, :f :read, :value 2, :process 58, :time 44309422582, :index 9348}
{:type :invoke, :f :write, :value 3, :process 53, :time 44348547797, :index 9354}
{:type :ok, :f :write, :value 3, :process 53, :time 44353228264, :index 9356}
{:type :invoke, :f :cas, :value [3 2], :process 54, :time 44362462385, :index 9360}
{:type :invoke, :f :cas, :value [4 1], :process 16, :time 44363147211, :index 9361}
{:type :ok, :f :cas, :value [3 2], :process 54, :time 44368198187, :index 9362}
{:type :fail, :f :cas, :value [4 1], :process 16, :time 44368855292, :index 9363}
{:type :invoke, :f :write, :value 2, :process 37, :time 44377164779, :index 9365}
{:type :invoke, :f :read, :value nil, :process 12, :time 44378917022, :index 9366}
{:type :invoke, :f :read, :value nil, :process 15, :time 44379406727, :index 9367}
{:type :ok, :f :write, :value 2, :process 37, :time 44382422274, :index 9369}
{:type :ok, :f :read, :value 2, :process 12, :time 44385765354, :index 9370}
{:type :ok, :f :read, :value 2, :process 15, :time 44386327444, :index 9371}
{:type :invoke, :f :read, :value nil, :process 54, :time 44394465567, :index 9375}
{:type :ok, :f :read, :value 2, :process 54, :time 44399991382, :index 9380}
{:type :invoke, :f :read, :value nil, :process 39, :time 44405119468, :index 9384}
{:type :ok, :f :read, :value 2, :process 39, :time 44410032514, :index 9387}
{:type :invoke, :f :write, :value 3, :process 31, :time 44417245643, :index 9388}
{:type :ok, :f :write, :value 3, :process 31, :time 44422891578, :index 9390}
{:type :invoke, :f :read, :value nil, :process 58, :time 44424682862, :index 9391}
{:type :ok, :f :read, :value 3, :process 58, :time 44429151084, :index 9393}
{:type :invoke, :f :write, :value 1, :process 58, :time 44430404807, :index 9394}
{:type :invoke, :f :write, :value 0, :process 10, :time 44432836805, :index 9396}
{:type :ok, :f :write, :value 1, :process 58, :time 44435307862, :index 9397}
{:type :ok, :f :write, :value 0, :process 10, :time 44437752549, :index 9399}
{:type :invoke, :f :write, :value 2, :process 54, :time 44445263974, :index 9400}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 44448576064, :index 9401}
{:type :ok, :f :write, :value 2, :process 54, :time 44450477199, :index 9402}
{:type :fail, :f :cas, :value [4 3], :process 15, :time 44453743453, :index 9403}
{:type :invoke, :f :cas, :value [0 2], :process 58, :time 44470577912, :index 9411}
{:type :fail, :f :cas, :value [0 2], :process 58, :time 44476332863, :index 9413}
{:type :invoke, :f :write, :value 4, :process 12, :time 44500016299, :index 9418}
{:type :invoke, :f :cas, :value [4 3], :process 16, :time 44506099013, :index 9421}
{:type :ok, :f :write, :value 4, :process 12, :time 44506521668, :index 9422}
{:type :invoke, :f :write, :value 0, :process 53, :time 44509484984, :index 9423}
{:type :ok, :f :cas, :value [4 3], :process 16, :time 44511313338, :index 9424}
{:type :ok, :f :write, :value 0, :process 53, :time 44514459011, :index 9425}
{:type :invoke, :f :cas, :value [0 0], :process 31, :time 44519137171, :index 9426}
{:type :ok, :f :cas, :value [0 0], :process 31, :time 44524241061, :index 9427}
{:type :invoke, :f :write, :value 2, :process 37, :time 44527667503, :index 9429}
{:type :ok, :f :write, :value 2, :process 37, :time 44532639664, :index 9430}
{:type :invoke, :f :cas, :value [1 4], :process 37, :time 44559914660, :index 9440}
{:type :fail, :f :cas, :value [1 4], :process 37, :time 44565361167, :index 9443}
{:type :invoke, :f :cas, :value [1 3], :process 12, :time 44569759020, :index 9444}
{:type :fail, :f :cas, :value [1 3], :process 12, :time 44575562913, :index 9446}
{:type :invoke, :f :read, :value nil, :process 10, :time 44584981079, :index 9448}
{:type :ok, :f :read, :value 2, :process 10, :time 44589253036, :index 9449}
{:type :invoke, :f :write, :value 1, :process 58, :time 44590595937, :index 9450}
{:type :invoke, :f :write, :value 4, :process 54, :time 44592751593, :index 9451}
{:type :ok, :f :write, :value 1, :process 58, :time 44595219231, :index 9452}
{:type :invoke, :f :read, :value nil, :process 16, :time 44596588284, :index 9454}
{:type :ok, :f :write, :value 4, :process 54, :time 44597847445, :index 9455}
{:type :invoke, :f :cas, :value [4 2], :process 39, :time 44598316400, :index 9456}
{:type :ok, :f :read, :value 4, :process 16, :time 44601957895, :index 9459}
{:type :ok, :f :cas, :value [4 2], :process 39, :time 44603511860, :index 9460}
{:type :invoke, :f :cas, :value [4 2], :process 10, :time 44612500474, :index 9462}
{:type :fail, :f :cas, :value [4 2], :process 10, :time 44617057528, :index 9463}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 44622001798, :index 9464}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 44627053448, :index 9465}
{:type :invoke, :f :cas, :value [2 2], :process 31, :time 44643506989, :index 9466}
{:type :ok, :f :cas, :value [2 2], :process 31, :time 44648696861, :index 9467}
{:type :invoke, :f :read, :value nil, :process 53, :time 44671714651, :index 9481}
{:type :ok, :f :read, :value 2, :process 53, :time 44676911351, :index 9483}
{:type :invoke, :f :read, :value nil, :process 16, :time 44688224757, :index 9485}
{:type :invoke, :f :write, :value 1, :process 58, :time 44690479860, :index 9486}
{:type :ok, :f :write, :value 1, :process 58, :time 44699789939, :index 9488}
{:type :ok, :f :read, :value 1, :process 16, :time 44700067921, :index 9489}
{:type :invoke, :f :cas, :value [4 0], :process 37, :time 44740603873, :index 9498}
{:type :fail, :f :cas, :value [4 0], :process 37, :time 44746423236, :index 9500}
{:type :invoke, :f :cas, :value [3 2], :process 58, :time 44759049710, :index 9504}
{:type :invoke, :f :write, :value 0, :process 12, :time 44763825722, :index 9505}
{:type :fail, :f :cas, :value [3 2], :process 58, :time 44765960473, :index 9506}
{:type :invoke, :f :write, :value 2, :process 54, :time 44768107238, :index 9508}
{:type :ok, :f :write, :value 0, :process 12, :time 44768899822, :index 9509}
{:type :ok, :f :write, :value 2, :process 54, :time 44772969765, :index 9511}
{:type :invoke, :f :read, :value nil, :process 31, :time 44773036942, :index 9513}
{:type :invoke, :f :write, :value 3, :process 10, :time 44773327355, :index 9514}
{:type :ok, :f :write, :value 3, :process 10, :time 44779156621, :index 9516}
{:type :ok, :f :read, :value 3, :process 31, :time 44779634766, :index 9517}
{:type :invoke, :f :read, :value nil, :process 39, :time 44783945224, :index 9520}
{:type :ok, :f :read, :value 3, :process 39, :time 44789625716, :index 9524}
{:type :invoke, :f :write, :value 0, :process 39, :time 44790872970, :index 9525}
{:type :ok, :f :write, :value 0, :process 39, :time 44795285815, :index 9527}
{:type :invoke, :f :write, :value 1, :process 10, :time 44812410452, :index 9528}
{:type :ok, :f :write, :value 1, :process 10, :time 44817427726, :index 9529}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 44820317069, :index 9530}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 44826027258, :index 9532}
{:type :invoke, :f :cas, :value [0 4], :process 58, :time 44838241768, :index 9534}
{:type :invoke, :f :read, :value nil, :process 53, :time 44840175718, :index 9535}
{:type :fail, :f :cas, :value [0 4], :process 58, :time 44843624803, :index 9536}
{:type :ok, :f :read, :value 1, :process 53, :time 44844983802, :index 9537}
{:type :invoke, :f :cas, :value [4 4], :process 16, :time 44847370955, :index 9538}
{:type :invoke, :f :cas, :value [3 3], :process 37, :time 44849718227, :index 9539}
{:type :invoke, :f :read, :value nil, :process 12, :time 44851139906, :index 9540}
{:type :invoke, :f :read, :value nil, :process 15, :time 44852331232, :index 9541}
{:type :fail, :f :cas, :value [4 4], :process 16, :time 44852796135, :index 9542}
{:type :fail, :f :cas, :value [3 3], :process 37, :time 44854958756, :index 9544}
{:type :ok, :f :read, :value 1, :process 12, :time 44856163213, :index 9545}
{:type :ok, :f :read, :value 1, :process 15, :time 44858005415, :index 9546}
{:type :invoke, :f :write, :value 2, :process 37, :time 44881250830, :index 9555}
{:type :invoke, :f :cas, :value [3 4], :process 58, :time 44881897308, :index 9556}
{:type :ok, :f :write, :value 2, :process 37, :time 44887144785, :index 9559}
{:type :fail, :f :cas, :value [3 4], :process 58, :time 44887783147, :index 9560}
{:type :invoke, :f :write, :value 4, :process 31, :time 44899872910, :index 9564}
{:type :ok, :f :write, :value 4, :process 31, :time 44905478901, :index 9566}
{:type :invoke, :f :cas, :value [0 2], :process 53, :time 44918254254, :index 9568}
{:type :fail, :f :cas, :value [0 2], :process 53, :time 44923730200, :index 9569}
{:type :invoke, :f :read, :value nil, :process 39, :time 44925547926, :index 9571}
{:type :invoke, :f :cas, :value [1 0], :process 54, :time 44929228066, :index 9572}
{:type :ok, :f :read, :value 4, :process 39, :time 44931048159, :index 9574}
{:type :fail, :f :cas, :value [1 0], :process 54, :time 44936038931, :index 9575}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 44955699273, :index 9579}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 44960378792, :index 9581}
{:type :invoke, :f :cas, :value [1 3], :process 58, :time 44965022360, :index 9582}
{:type :invoke, :f :read, :value nil, :process 37, :time 44969397771, :index 9583}
{:type :fail, :f :cas, :value [1 3], :process 58, :time 44970549368, :index 9584}
{:type :ok, :f :read, :value 4, :process 37, :time 44974294456, :index 9586}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 44994259598, :index 9588}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 44998605444, :index 9589}
{:type :invoke, :f :write, :value 3, :process 16, :time 45002223478, :index 9590}
{:type :ok, :f :write, :value 3, :process 16, :time 45007181061, :index 9592}
{:type :invoke, :f :write, :value 0, :process 12, :time 45012439454, :index 9595}
{:type :ok, :f :write, :value 0, :process 12, :time 45017207710, :index 9597}
{:type :invoke, :f :write, :value 0, :process 31, :time 45104741200, :index 9627}
{:type :ok, :f :write, :value 0, :process 31, :time 45109302301, :index 9631}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
