{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :invoke, :f :cas, :value [2 2], :process 7, :time 41201627336, :index 6478}
{:type :fail, :f :cas, :value [2 2], :process 7, :time 41210110395, :error :not-found, :index 6483}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :invoke, :f :cas, :value [0 0], :process 46, :time 41253514654, :index 6498}
{:type :fail, :f :cas, :value [0 0], :process 46, :time 41259300704, :error :not-found, :index 6501}
{:type :invoke, :f :read, :value nil, :process 25, :time 41279598470, :index 6506}
{:type :invoke, :f :read, :value nil, :process 44, :time 41280436760, :index 6507}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 41282377745, :index 6508}
{:type :invoke, :f :cas, :value [3 4], :process 22, :time 41283386663, :index 6509}
{:type :ok, :f :read, :value nil, :process 25, :time 41285634746, :index 6511}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 41287466362, :error :not-found, :index 6513}
{:type :fail, :f :cas, :value [3 4], :process 22, :time 41288610595, :error :not-found, :index 6514}
{:type :invoke, :f :read, :value nil, :process 41, :time 41294274124, :index 6519}
{:type :ok, :f :read, :value nil, :process 41, :time 41299566135, :index 6520}
{:type :invoke, :f :cas, :value [2 0], :process 41, :time 41299694075, :index 6521}
{:type :fail, :f :cas, :value [2 0], :process 41, :time 41305082305, :error :not-found, :index 6523}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 41313725528, :index 6526}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 41319315467, :error :not-found, :index 6528}
{:type :invoke, :f :write, :value 1, :process 46, :time 41333557393, :index 6532}
{:type :ok, :f :write, :value 1, :process 46, :time 41338534291, :index 6534}
{:type :invoke, :f :write, :value 3, :process 25, :time 41348892474, :index 6537}
{:type :ok, :f :write, :value 3, :process 25, :time 41355382938, :index 6540}
{:type :invoke, :f :write, :value 2, :process 22, :time 41357882969, :index 6541}
{:type :ok, :f :write, :value 2, :process 22, :time 41362022271, :index 6542}
{:type :invoke, :f :cas, :value [0 0], :process 43, :time 41378703083, :index 6544}
{:type :invoke, :f :write, :value 0, :process 7, :time 41391583601, :index 6548}
{:type :invoke, :f :read, :value nil, :process 48, :time 41395325028, :index 6549}
{:type :ok, :f :write, :value 0, :process 7, :time 41395774907, :index 6550}
{:type :invoke, :f :read, :value nil, :process 40, :time 41426729723, :index 6556}
{:type :invoke, :f :read, :value nil, :process 7, :time 41431044398, :index 6558}
{:type :ok, :f :read, :value 0, :process 40, :time 41431956902, :index 6559}
{:type :ok, :f :read, :value 0, :process 7, :time 41436471528, :index 6560}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :invoke, :f :write, :value 2, :process 46, :time 41477803379, :index 6564}
{:type :ok, :f :write, :value 2, :process 46, :time 41483311196, :index 6565}
{:type :invoke, :f :write, :value 1, :process 41, :time 41503434838, :index 6566}
{:type :ok, :f :write, :value 1, :process 41, :time 41508806921, :index 6567}
{:type :invoke, :f :write, :value 3, :process 46, :time 41515576913, :index 6568}
{:type :invoke, :f :write, :value 3, :process 7, :time 41520738482, :index 6571}
{:type :ok, :f :write, :value 3, :process 46, :time 41522029125, :index 6574}
{:type :invoke, :f :write, :value 0, :process 22, :time 41522310093, :index 6575}
{:type :invoke, :f :read, :value nil, :process 25, :time 41525622163, :index 6576}
{:type :ok, :f :write, :value 3, :process 7, :time 41526153901, :index 6577}
{:type :ok, :f :write, :value 0, :process 22, :time 41527610659, :index 6579}
{:type :ok, :f :read, :value 0, :process 25, :time 41530807943, :index 6581}
{:type :invoke, :f :cas, :value [1 0], :process 40, :time 41541212022, :index 6582}
{:type :invoke, :f :cas, :value [4 3], :process 25, :time 41545055878, :index 6583}
{:type :fail, :f :cas, :value [1 0], :process 40, :time 41547816775, :index 6585}
{:type :fail, :f :cas, :value [4 3], :process 25, :time 41551070159, :index 6586}
{:type :invoke, :f :read, :value nil, :process 22, :time 41606873476, :index 6594}
{:type :ok, :f :read, :value 0, :process 22, :time 41611415107, :index 6596}
{:type :invoke, :f :read, :value nil, :process 7, :time 41647402015, :index 6600}
{:type :invoke, :f :cas, :value [3 1], :process 40, :time 41649083861, :index 6601}
{:type :ok, :f :read, :value 0, :process 7, :time 41651820714, :index 6602}
{:type :fail, :f :cas, :value [3 1], :process 40, :time 41656062348, :index 6603}
{:type :invoke, :f :write, :value 2, :process 41, :time 41661066783, :index 6604}
{:type :invoke, :f :read, :value nil, :process 22, :time 41662669377, :index 6605}
{:type :ok, :f :write, :value 2, :process 41, :time 41666743496, :index 6606}
{:type :ok, :f :read, :value 2, :process 22, :time 41666904304, :index 6607}
{:type :invoke, :f :read, :value nil, :process 25, :time 41667330796, :index 6608}
{:type :ok, :f :read, :value 2, :process 25, :time 41673087266, :index 6610}
{:type :invoke, :f :cas, :value [1 2], :process 46, :time 41679275362, :index 6612}
{:type :fail, :f :cas, :value [1 2], :process 46, :time 41684694553, :index 6613}
{:type :invoke, :f :write, :value 0, :process 41, :time 41719058700, :index 6620}
{:type :invoke, :f :read, :value nil, :process 7, :time 41724086426, :index 6621}
{:type :ok, :f :write, :value 0, :process 41, :time 41726709319, :index 6622}
{:type :ok, :f :read, :value 0, :process 7, :time 41734246937, :index 6624}
{:type :invoke, :f :write, :value 1, :process 22, :time 41753153281, :index 6627}
{:type :ok, :f :write, :value 1, :process 22, :time 41758729184, :index 6628}
{:type :invoke, :f :cas, :value [1 1], :process 7, :time 41777576249, :index 6631}
{:type :invoke, :f :read, :value nil, :process 25, :time 41779354111, :index 6632}
{:type :ok, :f :cas, :value [1 1], :process 7, :time 41782568243, :index 6635}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 41784846305, :index 6636}
{:type :invoke, :f :read, :value nil, :process 41, :time 41784995919, :index 6637}
{:type :ok, :f :read, :value 1, :process 25, :time 41785772340, :index 6638}
{:type :invoke, :f :write, :value 2, :process 40, :time 41785716844, :index 6639}
{:type :invoke, :f :cas, :value [3 1], :process 46, :time 41816957295, :index 6642}
{:type :invoke, :f :read, :value nil, :process 22, :time 41884993900, :index 6644}
{:type :invoke, :f :write, :value 1, :process 25, :time 41930006257, :index 6646}
{:type :ok, :f :cas, :value [1 3], :process 7, :time 42172407953, :index 6650}
{:type :ok, :f :read, :value 2, :process 22, :time 42172883202, :index 6651}
{:type :ok, :f :write, :value 2, :process 40, :time 42173252045, :index 6653}
{:type :ok, :f :write, :value 1, :process 25, :time 42174180222, :index 6657}
{:type :ok, :f :read, :value 1, :process 41, :time 42174412645, :index 6658}
{:type :fail, :f :cas, :value [3 1], :process 46, :time 42175669939, :index 6661}
{:type :invoke, :f :read, :value nil, :process 40, :time 42214493319, :index 6665}
{:type :ok, :f :read, :value 1, :process 40, :time 42220329022, :index 6667}
{:type :invoke, :f :read, :value nil, :process 41, :time 42223664411, :index 6668}
{:type :ok, :f :read, :value 1, :process 41, :time 42229075550, :index 6670}
{:type :invoke, :f :read, :value nil, :process 7, :time 42274755256, :index 6673}
{:type :invoke, :f :read, :value nil, :process 22, :time 42279220182, :index 6676}
{:type :invoke, :f :read, :value nil, :process 25, :time 42283540586, :index 6677}
{:type :invoke, :f :cas, :value [3 0], :process 40, :time 42298582286, :index 6678}
{:type :invoke, :f :cas, :value [0 2], :process 46, :time 42353949367, :index 6681}
{:type :invoke, :f :read, :value nil, :process 41, :time 42416339761, :index 6683}
{:type :ok, :f :read, :value 1, :process 41, :time 45135676579, :index 6686}
{:type :ok, :f :read, :value 1, :process 48, :time 45136766629, :index 6689}
{:type :ok, :f :read, :value 1, :process 7, :time 45137465307, :index 6693}
{:type :fail, :f :cas, :value [0 0], :process 43, :time 45137489673, :index 6694}
{:type :ok, :f :read, :value 1, :process 44, :time 45137895071, :index 6695}
{:type :ok, :f :read, :value 1, :process 25, :time 45137968641, :index 6696}
{:type :ok, :f :read, :value 1, :process 22, :time 45138196947, :index 6697}
{:type :fail, :f :cas, :value [0 2], :process 46, :time 45138293820, :index 6698}
{:type :fail, :f :cas, :value [3 0], :process 40, :time 45139830026, :index 6702}
{:type :invoke, :f :read, :value nil, :process 44, :time 45182224072, :index 6714}
{:type :ok, :f :read, :value 1, :process 44, :time 45187380437, :index 6715}
{:type :invoke, :f :cas, :value [4 3], :process 7, :time 45188189848, :index 6716}
{:type :fail, :f :cas, :value [4 3], :process 7, :time 45193348457, :index 6718}
{:type :invoke, :f :read, :value nil, :process 25, :time 45209346458, :index 6728}
{:type :ok, :f :read, :value 1, :process 25, :time 45214922135, :index 6729}
{:type :invoke, :f :read, :value nil, :process 41, :time 45239350406, :index 6731}
{:type :ok, :f :read, :value 1, :process 41, :time 45244672546, :index 6732}
{:type :invoke, :f :write, :value 2, :process 7, :time 45275636373, :index 6738}
{:type :ok, :f :write, :value 2, :process 7, :time 45281253479, :index 6742}
{:type :invoke, :f :read, :value nil, :process 7, :time 45288488661, :index 6744}
{:type :ok, :f :read, :value 2, :process 7, :time 45293149476, :index 6746}
{:type :invoke, :f :cas, :value [3 2], :process 46, :time 45303563922, :index 6752}
{:type :invoke, :f :read, :value nil, :process 43, :time 45306188832, :index 6754}
{:type :fail, :f :cas, :value [3 2], :process 46, :time 45308461887, :index 6755}
{:type :ok, :f :read, :value 2, :process 43, :time 45311835976, :index 6757}
{:type :invoke, :f :cas, :value [4 0], :process 49, :time 45328630024, :index 6760}
{:type :invoke, :f :cas, :value [0 4], :process 40, :time 45329812156, :index 6761}
{:type :invoke, :f :cas, :value [4 3], :process 48, :time 45330669130, :index 6763}
{:type :invoke, :f :read, :value nil, :process 22, :time 45331796051, :index 6764}
{:type :invoke, :f :read, :value nil, :process 44, :time 45333640871, :index 6765}
{:type :fail, :f :cas, :value [4 0], :process 49, :time 45335680563, :index 6767}
{:type :fail, :f :cas, :value [4 3], :process 48, :time 45336292212, :index 6768}
{:type :ok, :f :read, :value 2, :process 22, :time 45336838614, :index 6769}
{:type :fail, :f :cas, :value [0 4], :process 40, :time 45337103932, :index 6770}
{:type :ok, :f :read, :value 2, :process 44, :time 45338243005, :index 6771}
{:type :invoke, :f :read, :value nil, :process 46, :time 45352720817, :index 6772}
{:type :ok, :f :read, :value 2, :process 46, :time 45357193354, :index 6776}
{:type :invoke, :f :cas, :value [0 4], :process 46, :time 45359435456, :index 6777}
{:type :invoke, :f :write, :value 1, :process 25, :time 45361182564, :index 6778}
{:type :invoke, :f :write, :value 2, :process 44, :time 45363481057, :index 6782}
{:type :fail, :f :cas, :value [0 4], :process 46, :time 45365450601, :index 6783}
{:type :ok, :f :write, :value 1, :process 25, :time 45367102149, :index 6784}
{:type :ok, :f :write, :value 2, :process 44, :time 45368488822, :index 6785}
{:type :invoke, :f :cas, :value [1 4], :process 49, :time 45378937386, :index 6787}
{:type :fail, :f :cas, :value [1 4], :process 49, :time 45384811362, :index 6790}
{:type :invoke, :f :write, :value 4, :process 43, :time 45405078988, :index 6796}
{:type :ok, :f :write, :value 4, :process 43, :time 45410845390, :index 6797}
{:type :invoke, :f :read, :value nil, :process 48, :time 45413532358, :index 6798}
{:type :invoke, :f :write, :value 2, :process 7, :time 45414422219, :index 6799}
{:type :ok, :f :read, :value 4, :process 48, :time 45418764956, :index 6800}
{:type :ok, :f :write, :value 2, :process 7, :time 45419482353, :index 6801}
{:type :invoke, :f :read, :value nil, :process 41, :time 45432947103, :index 6803}
{:type :invoke, :f :write, :value 1, :process 7, :time 45436740685, :index 6804}
{:type :ok, :f :read, :value 2, :process 41, :time 45437867865, :index 6806}
{:type :ok, :f :write, :value 1, :process 7, :time 45441334435, :index 6809}
{:type :invoke, :f :cas, :value [3 2], :process 40, :time 45441388923, :index 6810}
{:type :invoke, :f :write, :value 4, :process 46, :time 45447747648, :index 6814}
{:type :fail, :f :cas, :value [3 2], :process 40, :time 45450148984, :index 6816}
{:type :ok, :f :write, :value 4, :process 46, :time 45453166357, :index 6817}
{:type :invoke, :f :write, :value 1, :process 46, :time 45466419093, :index 6821}
{:type :ok, :f :write, :value 1, :process 46, :time 45471135370, :index 6824}
{:type :invoke, :f :cas, :value [1 1], :process 43, :time 45475297717, :index 6829}
{:type :ok, :f :cas, :value [1 1], :process 43, :time 45482544773, :index 6833}
{:type :invoke, :f :write, :value 0, :process 49, :time 45493088041, :index 6837}
{:type :invoke, :f :read, :value nil, :process 22, :time 45494108471, :index 6839}
{:type :ok, :f :write, :value 0, :process 49, :time 45498810419, :index 6840}
{:type :invoke, :f :cas, :value [2 4], :process 48, :time 45524028352, :index 6847}
{:type :fail, :f :cas, :value [2 4], :process 48, :time 45529557925, :index 6848}
{:type :invoke, :f :read, :value nil, :process 43, :time 45539825314, :index 6849}
{:type :invoke, :f :read, :value nil, :process 40, :time 45544408142, :index 6850}
{:type :ok, :f :read, :value 0, :process 43, :time 45545192273, :index 6851}
{:type :invoke, :f :read, :value nil, :process 44, :time 45547739029, :index 6852}
{:type :ok, :f :read, :value 0, :process 40, :time 45550088972, :index 6853}
{:type :ok, :f :read, :value 0, :process 44, :time 45552981751, :index 6854}
{:type :invoke, :f :write, :value 4, :process 49, :time 45553130039, :index 6855}
{:type :invoke, :f :read, :value nil, :process 46, :time 45556395933, :index 6856}
{:type :ok, :f :write, :value 4, :process 49, :time 45558073741, :index 6857}
{:type :ok, :f :read, :value 4, :process 46, :time 45561351588, :index 6858}
{:type :invoke, :f :read, :value nil, :process 25, :time 45566354177, :index 6859}
{:type :invoke, :f :cas, :value [4 2], :process 40, :time 45570348502, :index 6860}
{:type :ok, :f :read, :value 4, :process 25, :time 45571930436, :index 6861}
{:type :invoke, :f :cas, :value [1 4], :process 25, :time 45573217323, :index 6862}
{:type :ok, :f :cas, :value [4 2], :process 40, :time 45575684211, :index 6863}
{:type :fail, :f :cas, :value [1 4], :process 25, :time 45579547443, :index 6865}
{:type :invoke, :f :read, :value nil, :process 41, :time 45586136943, :index 6868}
{:type :invoke, :f :read, :value nil, :process 7, :time 45587721223, :index 6869}
{:type :ok, :f :read, :value 2, :process 41, :time 45590995811, :index 6872}
{:type :invoke, :f :read, :value nil, :process 41, :time 45631277464, :index 6876}
{:type :invoke, :f :write, :value 3, :process 25, :time 45631978829, :index 6878}
{:type :ok, :f :read, :value 2, :process 41, :time 45636467565, :index 6880}
{:type :ok, :f :write, :value 3, :process 25, :time 45637545534, :index 6882}
{:type :invoke, :f :cas, :value [1 2], :process 44, :time 45654250893, :index 6885}
{:type :fail, :f :cas, :value [1 2], :process 44, :time 45661351239, :index 6889}
{:type :invoke, :f :write, :value 1, :process 40, :time 45664956566, :index 6891}
{:type :invoke, :f :write, :value 2, :process 43, :time 45666452895, :index 6892}
{:type :ok, :f :write, :value 1, :process 40, :time 45671295982, :index 6894}
{:type :ok, :f :write, :value 2, :process 43, :time 45671631216, :index 6895}
{:type :invoke, :f :cas, :value [1 3], :process 49, :time 45714332145, :index 6902}
{:type :invoke, :f :read, :value nil, :process 48, :time 45715832703, :index 6903}
{:type :fail, :f :cas, :value [1 3], :process 49, :time 45719747424, :index 6906}
{:type :ok, :f :read, :value 2, :process 48, :time 45721895931, :index 6907}
{:type :invoke, :f :write, :value 0, :process 46, :time 45732606409, :index 6910}
{:type :ok, :f :write, :value 0, :process 46, :time 45737708093, :index 6913}
{:type :ok, :f :read, :value 0, :process 22, :time 45769536061, :index 6923}
{:type :ok, :f :read, :value 0, :process 7, :time 45770567010, :index 6926}
{:type :invoke, :f :cas, :value [1 2], :process 41, :time 45782791360, :index 6936}
{:type :fail, :f :cas, :value [1 2], :process 41, :time 45787349694, :index 6937}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
