{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :invoke, :f :write, :value 1, :process 37, :time 34407538271, :index 5947}
{:type :invoke, :f :cas, :value [2 4], :process 13, :time 34407913528, :index 5949}
{:type :ok, :f :write, :value 1, :process 37, :time 34413234651, :index 5950}
{:type :fail, :f :cas, :value [2 4], :process 13, :time 34414815045, :index 5952}
{:type :invoke, :f :cas, :value [4 2], :process 13, :time 34440074749, :index 5960}
{:type :fail, :f :cas, :value [4 2], :process 13, :time 34445780129, :index 5962}
{:type :invoke, :f :read, :value nil, :process 59, :time 34447111770, :index 5963}
{:type :invoke, :f :read, :value nil, :process 30, :time 34489616459, :index 5974}
{:type :ok, :f :read, :value 1, :process 30, :time 34494445145, :index 5975}
{:type :invoke, :f :write, :value 1, :process 16, :time 34513660473, :index 5978}
{:type :invoke, :f :write, :value 4, :process 32, :time 34525113888, :index 5980}
{:type :ok, :f :write, :value 4, :process 32, :time 34529947406, :index 5982}
{:type :invoke, :f :write, :value 4, :process 55, :time 34546400833, :index 5983}
{:type :ok, :f :write, :value 4, :process 55, :time 34552204356, :index 5985}
{:type :invoke, :f :write, :value 1, :process 13, :time 34583036741, :index 5990}
{:type :ok, :f :write, :value 1, :process 13, :time 34588173497, :index 5992}
{:type :invoke, :f :write, :value 3, :process 37, :time 34601493837, :index 5995}
{:type :ok, :f :write, :value 3, :process 37, :time 34607907396, :index 5996}
{:type :invoke, :f :read, :value nil, :process 30, :time 34608707717, :index 5997}
{:type :ok, :f :read, :value 3, :process 59, :time 34613121247, :index 6000}
{:type :ok, :f :read, :value 3, :process 30, :time 34614244103, :index 6003}
{:type :invoke, :f :read, :value nil, :process 13, :time 34641459767, :index 6005}
{:type :ok, :f :read, :value 3, :process 13, :time 34647645648, :index 6006}
{:type :invoke, :f :cas, :value [1 1], :process 59, :time 34651396525, :index 6007}
{:type :fail, :f :cas, :value [1 1], :process 59, :time 34656837002, :index 6009}
{:type :invoke, :f :write, :value 0, :process 13, :time 34682911461, :index 6016}
{:type :invoke, :f :read, :value nil, :process 37, :time 34685172153, :index 6017}
{:type :ok, :f :write, :value 0, :process 13, :time 34688006792, :index 6020}
{:type :ok, :f :read, :value 0, :process 37, :time 34690943937, :index 6021}
{:type :invoke, :f :write, :value 4, :process 30, :time 34699511192, :index 6026}
{:type :ok, :f :write, :value 4, :process 30, :time 34705202225, :index 6028}
{:type :invoke, :f :cas, :value [4 4], :process 55, :time 34710464378, :index 6029}
{:type :invoke, :f :write, :value 4, :process 59, :time 34711099424, :index 6030}
{:type :ok, :f :cas, :value [4 4], :process 55, :time 34715358503, :index 6032}
{:type :ok, :f :write, :value 4, :process 59, :time 34716852841, :index 6033}
{:type :invoke, :f :cas, :value [0 0], :process 32, :time 34728232834, :index 6037}
{:type :fail, :f :cas, :value [0 0], :process 32, :time 34733842787, :index 6040}
{:type :invoke, :f :read, :value nil, :process 34, :time 34787128938, :index 6047}
{:type :ok, :f :read, :value 4, :process 34, :time 34793080244, :index 6049}
{:type :invoke, :f :cas, :value [3 4], :process 32, :time 34810063921, :index 6058}
{:type :fail, :f :cas, :value [3 4], :process 32, :time 34816857243, :index 6060}
{:type :invoke, :f :read, :value nil, :process 13, :time 34827266251, :index 6063}
{:type :ok, :f :read, :value 4, :process 13, :time 34832848214, :index 6064}
{:type :invoke, :f :cas, :value [1 0], :process 30, :time 34835453420, :index 6065}
{:type :invoke, :f :write, :value 3, :process 37, :time 34836207431, :index 6066}
{:type :fail, :f :cas, :value [1 0], :process 30, :time 34842179177, :index 6067}
{:type :ok, :f :write, :value 3, :process 37, :time 34843469619, :index 6068}
{:type :invoke, :f :write, :value 0, :process 30, :time 34880443712, :index 6080}
{:type :ok, :f :write, :value 0, :process 30, :time 34885266815, :index 6081}
{:type :invoke, :f :write, :value 4, :process 55, :time 34899626654, :index 6084}
{:type :invoke, :f :read, :value nil, :process 59, :time 34902118596, :index 6086}
{:type :ok, :f :write, :value 4, :process 55, :time 34904078590, :index 6087}
{:type :ok, :f :read, :value 4, :process 59, :time 34906726920, :index 6088}
{:type :invoke, :f :cas, :value [3 3], :process 34, :time 34910341504, :index 6089}
{:type :fail, :f :cas, :value [3 3], :process 34, :time 34916916697, :index 6091}
{:type :ok, :f :write, :value 1, :process 16, :time 34919912127, :index 6095}
{:type :invoke, :f :read, :value nil, :process 55, :time 34925349604, :index 6097}
{:type :ok, :f :read, :value 1, :process 55, :time 34930271793, :index 6098}
{:type :invoke, :f :read, :value nil, :process 13, :time 34931111229, :index 6099}
{:type :ok, :f :read, :value 1, :process 13, :time 34936521850, :index 6100}
{:type :invoke, :f :read, :value nil, :process 16, :time 34941163958, :index 6101}
{:type :invoke, :f :read, :value nil, :process 55, :time 34942535987, :index 6102}
{:type :ok, :f :read, :value 1, :process 16, :time 34946782797, :index 6104}
{:type :ok, :f :read, :value 1, :process 55, :time 34947723775, :index 6105}
{:type :invoke, :f :write, :value 0, :process 55, :time 34974960092, :index 6109}
{:type :ok, :f :write, :value 0, :process 55, :time 34979928134, :index 6111}
{:type :invoke, :f :cas, :value [4 4], :process 59, :time 34989984830, :index 6113}
{:type :fail, :f :cas, :value [4 4], :process 59, :time 34995193037, :index 6114}
{:type :invoke, :f :cas, :value [0 4], :process 37, :time 34996727060, :index 6116}
{:type :ok, :f :cas, :value [0 4], :process 37, :time 35002226064, :index 6118}
{:type :invoke, :f :write, :value 3, :process 32, :time 35003118251, :index 6119}
{:type :invoke, :f :read, :value nil, :process 16, :time 35007051919, :index 6120}
{:type :ok, :f :write, :value 3, :process 32, :time 35008198388, :index 6121}
{:type :invoke, :f :write, :value 2, :process 13, :time 35011782723, :index 6122}
{:type :ok, :f :read, :value 3, :process 16, :time 35012481263, :index 6123}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 35016719222, :index 6124}
{:type :ok, :f :write, :value 2, :process 13, :time 35017602387, :index 6126}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 35022501221, :index 6127}
{:type :invoke, :f :write, :value 1, :process 59, :time 35029476785, :index 6130}
{:type :ok, :f :write, :value 1, :process 59, :time 35035944641, :index 6133}
{:type :invoke, :f :cas, :value [1 3], :process 13, :time 35041873867, :index 6137}
{:type :invoke, :f :cas, :value [1 0], :process 32, :time 35043454723, :index 6138}
{:type :ok, :f :cas, :value [1 3], :process 13, :time 35047736981, :index 6142}
{:type :fail, :f :cas, :value [1 0], :process 32, :time 35048771376, :index 6143}
{:type :invoke, :f :write, :value 4, :process 30, :time 35058527180, :index 6149}
{:type :invoke, :f :write, :value 1, :process 32, :time 35059037135, :index 6151}
{:type :ok, :f :write, :value 4, :process 30, :time 35063061998, :index 6153}
{:type :ok, :f :write, :value 1, :process 32, :time 35064862441, :index 6154}
{:type :invoke, :f :read, :value nil, :process 55, :time 35070209759, :index 6157}
{:type :ok, :f :read, :value 1, :process 55, :time 35074965238, :index 6160}
{:type :invoke, :f :write, :value 3, :process 31, :time 35094603777, :index 6161}
{:type :invoke, :f :cas, :value [4 2], :process 34, :time 35102184262, :index 6163}
{:type :ok, :f :write, :value 3, :process 31, :time 35107090886, :index 6164}
{:type :fail, :f :cas, :value [4 2], :process 34, :time 35109597975, :index 6167}
{:type :invoke, :f :read, :value nil, :process 16, :time 35134762680, :index 6171}
{:type :invoke, :f :cas, :value [4 3], :process 32, :time 35139115102, :index 6172}
{:type :ok, :f :read, :value 3, :process 16, :time 35139939946, :index 6173}
{:type :fail, :f :cas, :value [4 3], :process 32, :time 35144543798, :index 6175}
{:type :invoke, :f :cas, :value [2 3], :process 55, :time 35149266278, :index 6177}
{:type :fail, :f :cas, :value [2 3], :process 55, :time 35154503720, :index 6180}
{:type :invoke, :f :cas, :value [3 0], :process 37, :time 35154506005, :index 6181}
{:type :ok, :f :cas, :value [3 0], :process 37, :time 35159462742, :index 6185}
{:type :invoke, :f :cas, :value [3 1], :process 30, :time 35175322919, :index 6188}
{:type :fail, :f :cas, :value [3 1], :process 30, :time 35180073656, :index 6190}
{:type :invoke, :f :write, :value 4, :process 37, :time 35194719556, :index 6191}
{:type :ok, :f :write, :value 4, :process 37, :time 35200301994, :index 6193}
{:type :invoke, :f :cas, :value [1 3], :process 59, :time 35203220092, :index 6196}
{:type :fail, :f :cas, :value [1 3], :process 59, :time 35208634229, :index 6199}
{:type :invoke, :f :cas, :value [3 1], :process 59, :time 35215876911, :index 6201}
{:type :fail, :f :cas, :value [3 1], :process 59, :time 35221961901, :index 6202}
{:type :invoke, :f :read, :value nil, :process 13, :time 35236002313, :index 6205}
{:type :ok, :f :read, :value 4, :process 13, :time 35241234149, :index 6206}
{:type :invoke, :f :read, :value nil, :process 55, :time 35242804958, :index 6207}
{:type :ok, :f :read, :value 4, :process 55, :time 35247660026, :index 6208}
{:type :invoke, :f :cas, :value [0 2], :process 34, :time 35250849887, :index 6209}
{:type :fail, :f :cas, :value [0 2], :process 34, :time 35257220737, :index 6213}
{:type :invoke, :f :cas, :value [2 3], :process 31, :time 35257369222, :index 6214}
{:type :fail, :f :cas, :value [2 3], :process 31, :time 35263024033, :index 6218}
{:type :invoke, :f :cas, :value [2 4], :process 30, :time 35265333148, :index 6219}
{:type :fail, :f :cas, :value [2 4], :process 30, :time 35272280285, :index 6220}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 35279577966, :index 6222}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 35286118038, :index 6224}
{:type :invoke, :f :read, :value nil, :process 16, :time 35303197042, :index 6225}
{:type :ok, :f :read, :value 4, :process 16, :time 35308429758, :index 6226}
{:type :invoke, :f :read, :value nil, :process 32, :time 35315803653, :index 6228}
{:type :invoke, :f :cas, :value [1 1], :process 55, :time 35317933120, :index 6229}
{:type :fail, :f :cas, :value [1 1], :process 55, :time 35323646047, :index 6232}
{:type :ok, :f :read, :value 4, :process 32, :time 35324114677, :index 6233}
{:type :invoke, :f :write, :value 0, :process 13, :time 35337498876, :index 6237}
{:type :invoke, :f :read, :value nil, :process 32, :time 35340366602, :index 6238}
{:type :ok, :f :write, :value 0, :process 13, :time 35342969734, :index 6239}
{:type :invoke, :f :write, :value 3, :process 30, :time 35344537214, :index 6241}
{:type :ok, :f :read, :value 0, :process 32, :time 35345664840, :index 6242}
{:type :invoke, :f :read, :value nil, :process 16, :time 35348720428, :index 6244}
{:type :ok, :f :write, :value 3, :process 30, :time 35349851115, :index 6247}
{:type :ok, :f :read, :value 3, :process 16, :time 35353488497, :index 6250}
{:type :invoke, :f :write, :value 1, :process 34, :time 35355495534, :index 6252}
{:type :ok, :f :write, :value 1, :process 34, :time 35361362737, :index 6255}
{:type :invoke, :f :write, :value 0, :process 31, :time 35380283471, :index 6258}
{:type :invoke, :f :cas, :value [0 0], :process 59, :time 35381258799, :index 6259}
{:type :ok, :f :write, :value 0, :process 31, :time 35386414586, :index 6260}
{:type :invoke, :f :read, :value nil, :process 16, :time 35408709404, :index 6269}
{:type :ok, :f :read, :value 0, :process 16, :time 35413516268, :index 6271}
{:type :invoke, :f :cas, :value [3 3], :process 13, :time 35418256228, :index 6272}
{:type :invoke, :f :cas, :value [1 0], :process 55, :time 35439609300, :index 6275}
{:type :invoke, :f :cas, :value [1 4], :process 32, :time 35440308061, :index 6276}
{:type :fail, :f :cas, :value [3 3], :process 13, :time 35442779258, :index 6279}
{:type :fail, :f :cas, :value [1 0], :process 55, :time 35444340291, :index 6280}
{:type :fail, :f :cas, :value [1 4], :process 32, :time 35447255107, :index 6284}
{:type :invoke, :f :read, :value nil, :process 32, :time 35479494325, :index 6287}
{:type :invoke, :f :write, :value 0, :process 37, :time 35480388437, :index 6288}
{:type :ok, :f :read, :value 0, :process 32, :time 35484984506, :index 6289}
{:type :ok, :f :write, :value 0, :process 37, :time 35485386535, :index 6290}
{:type :invoke, :f :cas, :value [4 4], :process 13, :time 35489025988, :index 6291}
{:type :fail, :f :cas, :value [4 4], :process 13, :time 35494965955, :index 6292}
{:type :invoke, :f :read, :value nil, :process 16, :time 35515779191, :index 6295}
{:type :invoke, :f :read, :value nil, :process 32, :time 35519249470, :index 6296}
{:type :ok, :f :read, :value 0, :process 16, :time 35520858725, :index 6298}
{:type :ok, :f :read, :value 0, :process 32, :time 35525547360, :index 6299}
{:type :invoke, :f :cas, :value [4 3], :process 37, :time 35531620725, :index 6301}
{:type :invoke, :f :cas, :value [2 3], :process 30, :time 35532165095, :index 6302}
{:type :invoke, :f :write, :value 0, :process 34, :time 35532617029, :index 6303}
{:type :fail, :f :cas, :value [4 3], :process 37, :time 35537803691, :index 6304}
{:type :fail, :f :cas, :value [2 3], :process 30, :time 35538108931, :index 6305}
{:type :invoke, :f :write, :value 1, :process 31, :time 35561680124, :index 6311}
{:type :ok, :f :write, :value 1, :process 31, :time 35567228936, :index 6312}
{:type :invoke, :f :write, :value 2, :process 37, :time 35568106260, :index 6313}
{:type :ok, :f :write, :value 2, :process 37, :time 35573850710, :index 6316}
{:type :invoke, :f :write, :value 0, :process 37, :time 35601121158, :index 6324}
{:type :ok, :f :write, :value 0, :process 37, :time 35605742561, :index 6327}
{:type :invoke, :f :write, :value 4, :process 55, :time 35621602988, :index 6329}
{:type :ok, :f :write, :value 4, :process 55, :time 35627151274, :index 6330}
{:type :invoke, :f :read, :value nil, :process 13, :time 35630223468, :index 6331}
{:type :ok, :f :read, :value 4, :process 13, :time 35635531402, :index 6332}
{:type :invoke, :f :cas, :value [4 4], :process 31, :time 35652493909, :index 6333}
{:type :ok, :f :cas, :value [4 4], :process 31, :time 35658041082, :index 6334}
{:type :invoke, :f :write, :value 3, :process 32, :time 35661808052, :index 6335}
{:type :ok, :f :write, :value 3, :process 32, :time 35670355027, :index 6336}
{:type :invoke, :f :cas, :value [4 1], :process 16, :time 35685126071, :index 6340}
{:type :invoke, :f :cas, :value [4 1], :process 30, :time 35687347448, :index 6341}
{:type :fail, :f :cas, :value [4 1], :process 16, :time 35691766890, :index 6344}
{:type :fail, :f :cas, :value [4 1], :process 30, :time 35692008370, :index 6345}
{:type :invoke, :f :cas, :value [0 4], :process 30, :time 35710277867, :index 6347}
{:type :fail, :f :cas, :value [0 4], :process 30, :time 35715675148, :index 6348}
{:type :invoke, :f :read, :value nil, :process 55, :time 35727423572, :index 6353}
{:type :ok, :f :read, :value 3, :process 55, :time 35732238935, :index 6354}
{:type :invoke, :f :write, :value 2, :process 13, :time 35736791856, :index 6355}
{:type :ok, :f :write, :value 2, :process 13, :time 35741652457, :index 6357}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 35745050134, :index 6359}
{:type :ok, :f :cas, :value [2 0], :process 16, :time 35750515352, :index 6361}
{:type :invoke, :f :write, :value 3, :process 32, :time 35760610109, :index 6363}
{:type :ok, :f :write, :value 3, :process 32, :time 35766189596, :index 6364}
{:type :invoke, :f :read, :value nil, :process 30, :time 35772933709, :index 6366}
{:type :ok, :f :read, :value 3, :process 30, :time 35777500513, :index 6368}
{:type :invoke, :f :read, :value nil, :process 37, :time 35802986484, :index 6379}
{:type :ok, :f :read, :value 3, :process 37, :time 35808185896, :index 6380}
{:type :invoke, :f :write, :value 3, :process 31, :time 35852309225, :index 6389}
{:type :ok, :f :write, :value 3, :process 31, :time 35857621295, :index 6390}
{:type :ok, :f :cas, :value [0 0], :process 59, :time 35914309188, :index 6402}
{:type :ok, :f :write, :value 0, :process 34, :time 35918901284, :index 6403}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
