{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :invoke, :f :cas, :value [2 3], :process 22, :time 53263386534, :index 18724}
{:type :fail, :f :cas, :value [2 3], :process 22, :time 53265220191, :error :connect, :index 18725}
{:type :invoke, :f :read, :value nil, :process 3, :time 53299303177, :index 18742}
{:type :invoke, :f :cas, :value [0 2], :process 7, :time 53299534723, :index 18743}
{:type :fail, :f :read, :value nil, :process 3, :time 53301144264, :error :connect, :index 18744}
{:type :fail, :f :cas, :value [0 2], :process 7, :time 53301465718, :error :connect, :index 18745}
{:type :invoke, :f :write, :value 3, :process 21, :time 53307858164, :index 18746}
{:type :fail, :f :write, :value 3, :process 21, :time 53309666689, :error :connect, :index 18747}
{:type :invoke, :f :write, :value 4, :process 22, :time 53310489788, :index 18748}
{:type :fail, :f :write, :value 4, :process 22, :time 53312403787, :error :connect, :index 18749}
{:type :invoke, :f :read, :value nil, :process 6, :time 53318666370, :index 18752}
{:type :fail, :f :read, :value nil, :process 6, :time 53320438257, :error :connect, :index 18753}
{:type :invoke, :f :write, :value 2, :process 3, :time 53356442288, :index 18763}
{:type :fail, :f :write, :value 2, :process 3, :time 53358498569, :error :connect, :index 18765}
{:type :invoke, :f :cas, :value [4 4], :process 4, :time 53372720382, :index 18770}
{:type :fail, :f :cas, :value [4 4], :process 4, :time 53374825457, :error :connect, :index 18771}
{:type :invoke, :f :read, :value nil, :process 6, :time 53379699632, :index 18776}
{:type :fail, :f :read, :value nil, :process 6, :time 53381589875, :error :connect, :index 18778}
{:type :invoke, :f :write, :value 0, :process 29, :time 53440090703, :index 18786}
{:type :invoke, :f :write, :value 3, :process 5, :time 53441835753, :index 18788}
{:type :fail, :f :write, :value 0, :process 29, :time 53442673496, :error :connect, :index 18790}
{:type :fail, :f :write, :value 3, :process 5, :time 53443879232, :error :connect, :index 18791}
{:type :invoke, :f :read, :value nil, :process 0, :time 53453072994, :index 18792}
{:type :fail, :f :read, :value nil, :process 0, :time 53455059156, :error :connect, :index 18793}
{:type :invoke, :f :cas, :value [3 4], :process 21, :time 53456921049, :index 18794}
{:type :fail, :f :cas, :value [3 4], :process 21, :time 53458805968, :error :connect, :index 18796}
{:type :invoke, :f :cas, :value [4 1], :process 7, :time 53476721814, :index 18800}
{:type :fail, :f :cas, :value [4 1], :process 7, :time 53478367660, :error :connect, :index 18801}
{:type :invoke, :f :write, :value 2, :process 6, :time 53486830125, :index 18806}
{:type :fail, :f :write, :value 2, :process 6, :time 53488652711, :error :connect, :index 18807}
{:type :invoke, :f :cas, :value [0 3], :process 22, :time 53495665745, :index 18808}
{:type :invoke, :f :read, :value nil, :process 4, :time 53497096277, :index 18809}
{:type :fail, :f :cas, :value [0 3], :process 22, :time 53497585929, :error :connect, :index 18810}
{:type :fail, :f :read, :value nil, :process 4, :time 53499024544, :error :connect, :index 18811}
{:type :invoke, :f :write, :value 2, :process 6, :time 53501918148, :index 18813}
{:type :invoke, :f :read, :value nil, :process 5, :time 53503151951, :index 18815}
{:type :fail, :f :write, :value 2, :process 6, :time 53503586530, :error :connect, :index 18816}
{:type :fail, :f :read, :value nil, :process 5, :time 53505214291, :error :connect, :index 18817}
{:type :invoke, :f :cas, :value [0 2], :process 6, :time 53509857312, :index 18818}
{:type :fail, :f :cas, :value [0 2], :process 6, :time 53511506621, :error :connect, :index 18819}
{:type :invoke, :f :read, :value nil, :process 3, :time 53516750233, :index 18820}
{:type :invoke, :f :read, :value nil, :process 7, :time 53517633597, :index 18821}
{:type :fail, :f :read, :value nil, :process 3, :time 53518620457, :error :connect, :index 18822}
{:type :fail, :f :read, :value nil, :process 7, :time 53519286303, :error :connect, :index 18823}
{:type :invoke, :f :write, :value 1, :process 8, :time 53537636026, :index 18826}
{:type :fail, :f :write, :value 1, :process 8, :time 53539507261, :error :connect, :index 18827}
{:type :invoke, :f :read, :value nil, :process 7, :time 53542530263, :index 18829}
{:type :fail, :f :read, :value nil, :process 7, :time 53544175295, :error :connect, :index 18831}
{:type :invoke, :f :write, :value 2, :process 0, :time 53552317379, :index 18834}
{:type :fail, :f :write, :value 2, :process 0, :time 53554367690, :error :connect, :index 18835}
{:type :invoke, :f :read, :value nil, :process 4, :time 53577290770, :index 18843}
{:type :fail, :f :read, :value nil, :process 4, :time 53579245993, :error :connect, :index 18845}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 53579777907, :index 18846}
{:type :invoke, :f :write, :value 0, :process 6, :time 53580788711, :index 18847}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 53581645786, :error :connect, :index 18848}
{:type :fail, :f :write, :value 0, :process 6, :time 53582627653, :error :connect, :index 18849}
{:type :invoke, :f :read, :value nil, :process 3, :time 53584921773, :index 18852}
{:type :invoke, :f :read, :value nil, :process 29, :time 53584966584, :index 18853}
{:type :fail, :f :read, :value nil, :process 3, :time 53586673743, :error :connect, :index 18854}
{:type :fail, :f :read, :value nil, :process 29, :time 53587037161, :error :connect, :index 18855}
{:type :invoke, :f :read, :value nil, :process 29, :time 53596270269, :index 18856}
{:type :fail, :f :read, :value nil, :process 29, :time 53598225641, :error :connect, :index 18857}
{:type :invoke, :f :write, :value 3, :process 4, :time 53607497142, :index 18858}
{:type :fail, :f :write, :value 3, :process 4, :time 53609094953, :error :connect, :index 18859}
{:type :invoke, :f :read, :value nil, :process 0, :time 53614630604, :index 18861}
{:type :fail, :f :read, :value nil, :process 0, :time 53616636858, :error :connect, :index 18863}
{:type :invoke, :f :cas, :value [0 3], :process 5, :time 53625470604, :index 18864}
{:type :fail, :f :cas, :value [0 3], :process 5, :time 53627552006, :error :connect, :index 18865}
{:type :invoke, :f :write, :value 4, :process 7, :time 53628428306, :index 18866}
{:type :fail, :f :write, :value 4, :process 7, :time 53630281351, :error :connect, :index 18867}
{:type :invoke, :f :read, :value nil, :process 21, :time 53648080297, :index 18872}
{:type :fail, :f :read, :value nil, :process 21, :time 53650007955, :error :connect, :index 18873}
{:type :invoke, :f :write, :value 3, :process 6, :time 53663902600, :index 18874}
{:type :fail, :f :write, :value 3, :process 6, :time 53665788192, :error :connect, :index 18875}
{:type :invoke, :f :write, :value 0, :process 22, :time 53690880831, :index 18884}
{:type :fail, :f :write, :value 0, :process 22, :time 53692500346, :error :connect, :index 18885}
{:type :invoke, :f :read, :value nil, :process 0, :time 53700891166, :index 18889}
{:type :fail, :f :read, :value nil, :process 0, :time 53702919224, :error :connect, :index 18892}
{:type :invoke, :f :write, :value 4, :process 6, :time 53743053198, :index 18900}
{:type :fail, :f :write, :value 4, :process 6, :time 53744874026, :error :connect, :index 18901}
{:type :invoke, :f :write, :value 2, :process 8, :time 53745921481, :index 18902}
{:type :fail, :f :write, :value 2, :process 8, :time 53747823055, :error :connect, :index 18903}
{:type :invoke, :f :write, :value 0, :process 21, :time 53749271165, :index 18904}
{:type :invoke, :f :read, :value nil, :process 3, :time 53749967498, :index 18905}
{:type :fail, :f :write, :value 0, :process 21, :time 53751077044, :error :connect, :index 18906}
{:type :fail, :f :read, :value nil, :process 3, :time 53752026747, :error :connect, :index 18907}
{:type :invoke, :f :write, :value 1, :process 0, :time 53754182824, :index 18908}
{:type :fail, :f :write, :value 1, :process 0, :time 53756286181, :error :connect, :index 18910}
{:type :invoke, :f :read, :value nil, :process 5, :time 53759825577, :index 18913}
{:type :fail, :f :read, :value nil, :process 5, :time 53761585007, :error :connect, :index 18914}
{:type :invoke, :f :write, :value 1, :process 6, :time 53765144841, :index 18916}
{:type :fail, :f :write, :value 1, :process 6, :time 53766994273, :error :connect, :index 18917}
{:type :invoke, :f :write, :value 2, :process 29, :time 53774492364, :index 18924}
{:type :fail, :f :write, :value 2, :process 29, :time 53776073000, :error :connect, :index 18925}
{:type :invoke, :f :write, :value 2, :process 29, :time 53776209383, :index 18926}
{:type :fail, :f :write, :value 2, :process 29, :time 53778008147, :error :connect, :index 18929}
{:type :invoke, :f :read, :value nil, :process 7, :time 53786541229, :index 18932}
{:type :fail, :f :read, :value nil, :process 7, :time 53788585440, :error :connect, :index 18933}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 53797530082, :index 18936}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 53799530519, :error :connect, :index 18937}
{:type :invoke, :f :write, :value 3, :process 5, :time 53799856226, :index 18938}
{:type :fail, :f :write, :value 3, :process 5, :time 53801601352, :error :connect, :index 18939}
{:type :invoke, :f :write, :value 4, :process 4, :time 53805358486, :index 18940}
{:type :fail, :f :write, :value 4, :process 4, :time 53807185981, :error :connect, :index 18941}
{:type :invoke, :f :write, :value 3, :process 4, :time 53807321651, :index 18942}
{:type :fail, :f :write, :value 3, :process 4, :time 53809078431, :error :connect, :index 18943}
{:type :invoke, :f :write, :value 1, :process 3, :time 53820280305, :index 18946}
{:type :fail, :f :write, :value 1, :process 3, :time 53822140084, :error :connect, :index 18947}
{:type :invoke, :f :write, :value 0, :process 22, :time 53856774068, :index 18952}
{:type :invoke, :f :cas, :value [1 4], :process 5, :time 53856782261, :index 18953}
{:type :fail, :f :write, :value 0, :process 22, :time 53858471053, :error :connect, :index 18954}
{:type :fail, :f :cas, :value [1 4], :process 5, :time 53859098373, :error :connect, :index 18955}
{:type :invoke, :f :read, :value nil, :process 0, :time 53869797019, :index 18958}
{:type :fail, :f :read, :value nil, :process 0, :time 53871818364, :error :connect, :index 18959}
{:type :invoke, :f :cas, :value [3 3], :process 7, :time 53872851491, :index 18960}
{:type :fail, :f :cas, :value [3 3], :process 7, :time 53874933027, :error :connect, :index 18961}
{:type :invoke, :f :read, :value nil, :process 29, :time 53909285308, :index 18966}
{:type :fail, :f :read, :value nil, :process 29, :time 53911512984, :error :connect, :index 18969}
{:type :invoke, :f :cas, :value [0 1], :process 21, :time 53922647164, :index 18976}
{:type :fail, :f :cas, :value [0 1], :process 21, :time 53924680687, :error :connect, :index 18979}
{:type :invoke, :f :write, :value 0, :process 8, :time 53933108187, :index 18980}
{:type :fail, :f :write, :value 0, :process 8, :time 53934871143, :error :connect, :index 18981}
{:type :invoke, :f :write, :value 4, :process 6, :time 53935262359, :index 18982}
{:type :fail, :f :write, :value 4, :process 6, :time 53937090413, :error :connect, :index 18983}
{:type :invoke, :f :read, :value nil, :process 3, :time 53950409916, :index 18984}
{:type :fail, :f :read, :value nil, :process 3, :time 53952491677, :error :connect, :index 18985}
{:type :invoke, :f :read, :value nil, :process 5, :time 53954370484, :index 18987}
{:type :fail, :f :read, :value nil, :process 5, :time 53956597576, :error :connect, :index 18989}
{:type :invoke, :f :write, :value 0, :process 8, :time 53959133351, :index 18990}
{:type :fail, :f :write, :value 0, :process 8, :time 53961192915, :error :connect, :index 18991}
{:type :invoke, :f :write, :value 0, :process 7, :time 53966201188, :index 18992}
{:type :fail, :f :write, :value 0, :process 7, :time 53967911987, :error :connect, :index 18993}
{:type :invoke, :f :cas, :value [4 4], :process 22, :time 53992746870, :index 19000}
{:type :invoke, :f :read, :value nil, :process 8, :time 53994483650, :index 19001}
{:type :fail, :f :cas, :value [4 4], :process 22, :time 53994722811, :error :connect, :index 19002}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 53996357400, :index 19003}
{:type :fail, :f :read, :value nil, :process 8, :time 53996576240, :error :connect, :index 19004}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 53998008913, :error :connect, :index 19005}
{:type :invoke, :f :cas, :value [3 4], :process 7, :time 54004180944, :index 19006}
{:type :fail, :f :cas, :value [3 4], :process 7, :time 54006160224, :error :connect, :index 19007}
{:type :invoke, :f :write, :value 3, :process 6, :time 54015352493, :index 19008}
{:type :fail, :f :write, :value 3, :process 6, :time 54017160734, :error :connect, :index 19009}
{:type :invoke, :f :read, :value nil, :process 0, :time 54046093925, :index 19016}
{:type :fail, :f :read, :value nil, :process 0, :time 54047939303, :error :connect, :index 19017}
{:type :invoke, :f :write, :value 3, :process 4, :time 54048276939, :index 19018}
{:type :fail, :f :write, :value 3, :process 4, :time 54050208299, :error :connect, :index 19020}
{:type :invoke, :f :write, :value 1, :process 29, :time 54066798515, :index 19024}
{:type :fail, :f :write, :value 1, :process 29, :time 54068606773, :error :connect, :index 19025}
{:type :invoke, :f :cas, :value [2 4], :process 29, :time 54081866619, :index 19026}
{:type :fail, :f :cas, :value [2 4], :process 29, :time 54083908813, :error :connect, :index 19027}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 54087757846, :index 19028}
{:type :invoke, :f :read, :value nil, :process 22, :time 54088983780, :index 19029}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 54089873100, :error :connect, :index 19030}
{:type :fail, :f :read, :value nil, :process 22, :time 54090825826, :error :connect, :index 19031}
{:type :invoke, :f :cas, :value [2 1], :process 5, :time 54110886268, :index 19040}
{:type :fail, :f :cas, :value [2 1], :process 5, :time 54112513646, :error :connect, :index 19041}
{:type :invoke, :f :write, :value 2, :process 21, :time 54118951666, :index 19043}
{:type :invoke, :f :write, :value 3, :process 6, :time 54120431217, :index 19045}
{:type :fail, :f :write, :value 2, :process 21, :time 54120916315, :error :connect, :index 19046}
{:type :fail, :f :write, :value 3, :process 6, :time 54122710458, :error :connect, :index 19047}
{:type :invoke, :f :cas, :value [1 4], :process 29, :time 54127186772, :index 19048}
{:type :fail, :f :cas, :value [1 4], :process 29, :time 54128975034, :error :connect, :index 19049}
{:type :invoke, :f :write, :value 4, :process 8, :time 54138841313, :index 19050}
{:type :fail, :f :write, :value 4, :process 8, :time 54140515761, :error :connect, :index 19051}
{:type :invoke, :f :read, :value nil, :process 29, :time 54161254332, :index 19058}
{:type :fail, :f :read, :value nil, :process 29, :time 54163240603, :error :connect, :index 19059}
{:type :invoke, :f :read, :value nil, :process 7, :time 54163449046, :index 19060}
{:type :fail, :f :read, :value nil, :process 7, :time 54165351591, :error :connect, :index 19061}
{:type :invoke, :f :write, :value 2, :process 4, :time 54166482799, :index 19063}
{:type :fail, :f :write, :value 2, :process 4, :time 54168391984, :error :connect, :index 19065}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 54177083534, :index 19066}
{:type :fail, :f :cas, :value [0 2], :process 22, :time 54178928934, :error :connect, :index 19067}
{:type :invoke, :f :write, :value 2, :process 8, :time 54185199604, :index 19069}
{:type :fail, :f :write, :value 2, :process 8, :time 54186835836, :error :connect, :index 19071}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 54205208330, :index 19073}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 54207336998, :error :connect, :index 19075}
{:type :invoke, :f :write, :value 4, :process 4, :time 54221953544, :index 19081}
{:type :fail, :f :write, :value 4, :process 4, :time 54223754610, :error :connect, :index 19083}
{:type :invoke, :f :cas, :value [0 1], :process 21, :time 54228191438, :index 19084}
{:type :fail, :f :cas, :value [0 1], :process 21, :time 54230028104, :error :connect, :index 19085}
{:type :invoke, :f :read, :value nil, :process 5, :time 54265777087, :index 19098}
{:type :fail, :f :read, :value nil, :process 5, :time 54267882267, :error :connect, :index 19099}
{:type :invoke, :f :read, :value nil, :process 3, :time 54288143366, :index 19101}
{:type :fail, :f :read, :value nil, :process 3, :time 54289838711, :error :connect, :index 19103}
{:type :invoke, :f :read, :value nil, :process 4, :time 54290019880, :index 19104}
{:type :fail, :f :read, :value nil, :process 4, :time 54292012866, :error :connect, :index 19105}
{:type :invoke, :f :write, :value 0, :process 29, :time 54294523738, :index 19107}
{:type :fail, :f :write, :value 0, :process 29, :time 54296410966, :error :connect, :index 19109}
{:type :invoke, :f :cas, :value [2 3], :process 22, :time 54307196630, :index 19112}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 54308616164, :index 19113}
{:type :fail, :f :cas, :value [2 3], :process 22, :time 54308949577, :error :connect, :index 19114}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 54310566116, :error :connect, :index 19115}
{:type :invoke, :f :write, :value 0, :process 6, :time 54317974414, :index 19116}
{:type :fail, :f :write, :value 0, :process 6, :time 54319860954, :error :connect, :index 19117}
{:type :invoke, :f :read, :value nil, :process 21, :time 54344292576, :index 19128}
{:type :fail, :f :read, :value nil, :process 21, :time 54346118286, :error :connect, :index 19129}
{:type :invoke, :f :write, :value 4, :process 7, :time 54349619524, :index 19132}
{:type :fail, :f :write, :value 4, :process 7, :time 54351568261, :error :connect, :index 19135}
{:type :invoke, :f :read, :value nil, :process 8, :time 54359079668, :index 19140}
{:type :fail, :f :read, :value nil, :process 8, :time 54361101518, :error :connect, :index 19141}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
