{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :invoke, :f :write, :value 2, :process 47, :time 55182514001, :index 11652}
{:type :ok, :f :write, :value 2, :process 47, :time 55187658102, :index 11653}
{:type :invoke, :f :read, :value nil, :process 22, :time 55196260785, :index 11654}
{:type :invoke, :f :read, :value nil, :process 63, :time 55198897154, :index 11656}
{:type :ok, :f :read, :value 2, :process 22, :time 55201538823, :index 11657}
{:type :ok, :f :read, :value 2, :process 63, :time 55204454851, :index 11659}
{:type :invoke, :f :write, :value 0, :process 68, :time 55208439960, :index 11660}
{:type :ok, :f :write, :value 0, :process 68, :time 55213011378, :index 11661}
{:type :invoke, :f :cas, :value [1 2], :process 24, :time 55219617047, :index 11662}
{:type :fail, :f :cas, :value [1 2], :process 24, :time 55225599905, :index 11664}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 55246573953, :index 11670}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 55252052523, :index 11674}
{:type :invoke, :f :write, :value 3, :process 68, :time 55252275673, :index 11675}
{:type :ok, :f :write, :value 3, :process 68, :time 55257495811, :index 11678}
{:type :invoke, :f :cas, :value [0 2], :process 29, :time 55257747466, :index 11679}
{:type :fail, :f :cas, :value [0 2], :process 29, :time 55262530921, :index 11681}
{:type :invoke, :f :write, :value 4, :process 47, :time 55296914864, :index 11688}
{:type :ok, :f :write, :value 4, :process 47, :time 55301987733, :index 11691}
{:type :invoke, :f :write, :value 3, :process 63, :time 55307709135, :index 11692}
{:type :ok, :f :write, :value 3, :process 63, :time 55313488586, :index 11695}
{:type :invoke, :f :write, :value 4, :process 0, :time 55323309518, :index 11698}
{:type :invoke, :f :cas, :value [3 0], :process 22, :time 55325804752, :index 11699}
{:type :ok, :f :write, :value 4, :process 0, :time 55327731708, :index 11700}
{:type :fail, :f :cas, :value [3 0], :process 22, :time 55330910474, :index 11701}
{:type :invoke, :f :cas, :value [4 3], :process 68, :time 55331762120, :index 11702}
{:type :invoke, :f :cas, :value [3 1], :process 29, :time 55332794000, :index 11703}
{:type :ok, :f :cas, :value [4 3], :process 68, :time 55336338176, :index 11704}
{:type :ok, :f :cas, :value [3 1], :process 29, :time 55337641303, :index 11705}
{:type :invoke, :f :read, :value nil, :process 24, :time 55365862882, :index 11709}
{:type :ok, :f :read, :value 1, :process 24, :time 55370097939, :index 11711}
{:type :invoke, :f :write, :value 0, :process 22, :time 55382164273, :index 11714}
{:type :ok, :f :write, :value 0, :process 22, :time 55387795148, :index 11716}
{:type :invoke, :f :read, :value nil, :process 24, :time 55404345109, :index 11718}
{:type :ok, :f :read, :value 0, :process 24, :time 55411244255, :index 11722}
{:type :invoke, :f :read, :value nil, :process 22, :time 55422047542, :index 11731}
{:type :ok, :f :read, :value 0, :process 22, :time 55427113515, :index 11734}
{:type :invoke, :f :write, :value 3, :process 0, :time 55456985018, :index 11741}
{:type :invoke, :f :write, :value 4, :process 68, :time 55459605663, :index 11743}
{:type :ok, :f :write, :value 3, :process 0, :time 55461468681, :index 11744}
{:type :invoke, :f :read, :value nil, :process 5, :time 55464195791, :index 11745}
{:type :ok, :f :write, :value 4, :process 68, :time 55464742820, :index 11746}
{:type :invoke, :f :cas, :value [1 2], :process 22, :time 55468361980, :index 11747}
{:type :ok, :f :read, :value 4, :process 5, :time 55468867247, :index 11748}
{:type :invoke, :f :cas, :value [0 4], :process 21, :time 55470893433, :index 11749}
{:type :fail, :f :cas, :value [1 2], :process 22, :time 55473513804, :index 11751}
{:type :invoke, :f :write, :value 3, :process 63, :time 55475754776, :index 11752}
{:type :fail, :f :cas, :value [0 4], :process 21, :time 55477250451, :index 11753}
{:type :invoke, :f :read, :value nil, :process 47, :time 55477452274, :index 11755}
{:type :invoke, :f :write, :value 0, :process 24, :time 55478504588, :index 11756}
{:type :ok, :f :write, :value 3, :process 63, :time 55480710459, :index 11757}
{:type :invoke, :f :cas, :value [1 4], :process 63, :time 55481972436, :index 11758}
{:type :ok, :f :read, :value 3, :process 47, :time 55482460450, :index 11759}
{:type :ok, :f :write, :value 0, :process 24, :time 55485369230, :index 11761}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 55486802172, :index 11762}
{:type :fail, :f :cas, :value [1 4], :process 63, :time 55488018829, :index 11763}
{:type :invoke, :f :write, :value 0, :process 46, :time 55488158991, :index 11764}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 55493770018, :index 11766}
{:type :ok, :f :write, :value 0, :process 46, :time 55494153647, :index 11767}
{:type :invoke, :f :write, :value 1, :process 29, :time 55502897863, :index 11768}
{:type :ok, :f :write, :value 1, :process 29, :time 55508164889, :index 11770}
{:type :invoke, :f :write, :value 1, :process 46, :time 55519416947, :index 11774}
{:type :ok, :f :write, :value 1, :process 46, :time 55524718139, :index 11777}
{:type :invoke, :f :read, :value nil, :process 5, :time 55545115101, :index 11782}
{:type :invoke, :f :read, :value nil, :process 24, :time 55548629204, :index 11785}
{:type :ok, :f :read, :value 1, :process 5, :time 55550285693, :index 11787}
{:type :ok, :f :read, :value 1, :process 24, :time 55553196113, :index 11790}
{:type :invoke, :f :read, :value nil, :process 29, :time 55555473807, :index 11791}
{:type :ok, :f :read, :value 1, :process 29, :time 55560283887, :index 11793}
{:type :invoke, :f :cas, :value [2 3], :process 63, :time 55561279581, :index 11794}
{:type :fail, :f :cas, :value [2 3], :process 63, :time 55567029756, :index 11795}
{:type :invoke, :f :read, :value nil, :process 47, :time 55577710303, :index 11797}
{:type :ok, :f :read, :value 1, :process 47, :time 55583827735, :index 11799}
{:type :invoke, :f :cas, :value [2 4], :process 22, :time 55595045072, :index 11802}
{:type :invoke, :f :write, :value 3, :process 68, :time 55600013479, :index 11805}
{:type :invoke, :f :read, :value nil, :process 63, :time 55600827381, :index 11807}
{:type :fail, :f :cas, :value [2 4], :process 22, :time 55601367314, :index 11808}
{:type :invoke, :f :write, :value 1, :process 5, :time 55604587037, :index 11809}
{:type :ok, :f :write, :value 3, :process 68, :time 55605576938, :index 11811}
{:type :invoke, :f :read, :value nil, :process 22, :time 55605663087, :index 11812}
{:type :ok, :f :read, :value 3, :process 63, :time 55606497291, :index 11814}
{:type :ok, :f :write, :value 1, :process 5, :time 55610506385, :index 11818}
{:type :ok, :f :read, :value 1, :process 22, :time 55612881764, :index 11819}
{:type :invoke, :f :write, :value 3, :process 0, :time 55620738147, :index 11822}
{:type :invoke, :f :cas, :value [0 3], :process 21, :time 55622523311, :index 11823}
{:type :ok, :f :write, :value 3, :process 0, :time 55625385987, :index 11824}
{:type :invoke, :f :write, :value 1, :process 63, :time 55626829235, :index 11825}
{:type :fail, :f :cas, :value [0 3], :process 21, :time 55628335186, :index 11826}
{:type :ok, :f :write, :value 1, :process 63, :time 55632354025, :index 11827}
{:type :invoke, :f :write, :value 3, :process 68, :time 55632835826, :index 11828}
{:type :ok, :f :write, :value 3, :process 68, :time 55637258628, :index 11829}
{:type :invoke, :f :read, :value nil, :process 47, :time 55639038032, :index 11830}
{:type :ok, :f :read, :value 3, :process 47, :time 55644175363, :index 11831}
{:type :invoke, :f :read, :value nil, :process 63, :time 55644606304, :index 11832}
{:type :ok, :f :read, :value 3, :process 63, :time 55650354237, :index 11833}
{:type :invoke, :f :read, :value nil, :process 46, :time 55663969138, :index 11839}
{:type :ok, :f :read, :value 3, :process 46, :time 55669313976, :index 11841}
{:type :invoke, :f :write, :value 0, :process 5, :time 55683798692, :index 11847}
{:type :ok, :f :write, :value 0, :process 5, :time 55688469116, :index 11850}
{:type :invoke, :f :write, :value 4, :process 5, :time 55691736800, :index 11853}
{:type :invoke, :f :read, :value nil, :process 24, :time 55694469472, :index 11856}
{:type :ok, :f :write, :value 4, :process 5, :time 55696403066, :index 11857}
{:type :ok, :f :read, :value 4, :process 24, :time 55699602399, :index 11859}
{:type :invoke, :f :write, :value 4, :process 68, :time 55714519011, :index 11864}
{:type :ok, :f :write, :value 4, :process 68, :time 55719667289, :index 11865}
{:type :invoke, :f :read, :value nil, :process 29, :time 55750537958, :index 11868}
{:type :ok, :f :read, :value 4, :process 29, :time 55756247078, :index 11869}
{:type :invoke, :f :cas, :value [2 2], :process 0, :time 55776638391, :index 11872}
{:type :invoke, :f :cas, :value [4 3], :process 47, :time 55779459193, :index 11873}
{:type :invoke, :f :cas, :value [1 3], :process 21, :time 55780589818, :index 11874}
{:type :invoke, :f :read, :value nil, :process 63, :time 55781616104, :index 11875}
{:type :fail, :f :cas, :value [2 2], :process 0, :time 55782459213, :index 11876}
{:type :ok, :f :cas, :value [4 3], :process 47, :time 55785117627, :index 11877}
{:type :ok, :f :read, :value 3, :process 63, :time 55786726180, :index 11878}
{:type :fail, :f :cas, :value [1 3], :process 21, :time 55786808781, :index 11879}
{:type :invoke, :f :cas, :value [3 1], :process 24, :time 55787861065, :index 11880}
{:type :ok, :f :cas, :value [3 1], :process 24, :time 55792880398, :index 11882}
{:type :invoke, :f :write, :value 3, :process 22, :time 55811174929, :index 11884}
{:type :ok, :f :write, :value 3, :process 22, :time 55817415559, :index 11886}
{:type :invoke, :f :read, :value nil, :process 5, :time 55817686844, :index 11888}
{:type :ok, :f :read, :value 3, :process 5, :time 55823138718, :index 11892}
{:type :invoke, :f :read, :value nil, :process 24, :time 55827151507, :index 11895}
{:type :ok, :f :read, :value 3, :process 24, :time 55833649304, :index 11897}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 55840658022, :index 11899}
{:type :invoke, :f :cas, :value [4 2], :process 46, :time 55841572957, :index 11900}
{:type :ok, :f :cas, :value [3 4], :process 0, :time 55847759456, :index 11903}
{:type :ok, :f :cas, :value [4 2], :process 46, :time 55848095784, :index 11904}
{:type :invoke, :f :write, :value 4, :process 21, :time 55850015181, :index 11906}
{:type :invoke, :f :write, :value 0, :process 47, :time 55850437479, :index 11907}
{:type :ok, :f :write, :value 4, :process 21, :time 55855889225, :index 11910}
{:type :ok, :f :write, :value 0, :process 47, :time 55856220611, :index 11911}
{:type :invoke, :f :cas, :value [3 4], :process 29, :time 55863543638, :index 11914}
{:type :fail, :f :cas, :value [3 4], :process 29, :time 55868438460, :index 11916}
{:type :invoke, :f :write, :value 3, :process 22, :time 55881761579, :index 11921}
{:type :invoke, :f :cas, :value [1 1], :process 68, :time 55886947768, :index 11922}
{:type :ok, :f :write, :value 3, :process 22, :time 55887373258, :index 11923}
{:type :invoke, :f :read, :value nil, :process 24, :time 55890910600, :index 11926}
{:type :fail, :f :cas, :value [1 1], :process 68, :time 55893289068, :index 11927}
{:type :ok, :f :read, :value 3, :process 24, :time 55896605555, :index 11929}
{:type :invoke, :f :write, :value 0, :process 47, :time 55902494223, :index 11933}
{:type :invoke, :f :read, :value nil, :process 63, :time 55905984993, :index 11936}
{:type :ok, :f :write, :value 0, :process 47, :time 55906985480, :index 11937}
{:type :ok, :f :read, :value 0, :process 63, :time 55911433505, :index 11939}
{:type :invoke, :f :cas, :value [1 0], :process 5, :time 55913435838, :index 11941}
{:type :fail, :f :cas, :value [1 0], :process 5, :time 55918749758, :index 11945}
{:type :invoke, :f :read, :value nil, :process 68, :time 55952548784, :index 11952}
{:type :ok, :f :read, :value 0, :process 68, :time 55957954202, :index 11954}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 55959026762, :index 11956}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 55964075727, :index 11957}
{:type :invoke, :f :read, :value nil, :process 24, :time 55967861889, :index 11958}
{:type :ok, :f :read, :value 0, :process 24, :time 55972888323, :index 11960}
{:type :invoke, :f :write, :value 3, :process 29, :time 55975702329, :index 11963}
{:type :ok, :f :write, :value 3, :process 29, :time 55981404416, :index 11965}
{:type :invoke, :f :write, :value 3, :process 47, :time 55993255698, :index 11971}
{:type :ok, :f :write, :value 3, :process 47, :time 55999662815, :index 11973}
{:type :invoke, :f :read, :value nil, :process 47, :time 56005919857, :index 11974}
{:type :invoke, :f :write, :value 3, :process 63, :time 56008692763, :index 11975}
{:type :ok, :f :read, :value 3, :process 47, :time 56011126083, :index 11976}
{:type :invoke, :f :write, :value 4, :process 22, :time 56013663452, :index 11978}
{:type :ok, :f :write, :value 3, :process 63, :time 56013794250, :index 11979}
{:type :invoke, :f :write, :value 4, :process 5, :time 56015007465, :index 11980}
{:type :invoke, :f :write, :value 0, :process 46, :time 56015378866, :index 11981}
{:type :ok, :f :write, :value 4, :process 22, :time 56019623466, :index 11984}
{:type :ok, :f :write, :value 4, :process 5, :time 56019837696, :index 11985}
{:type :ok, :f :write, :value 0, :process 46, :time 56021169064, :index 11986}
{:type :invoke, :f :read, :value nil, :process 63, :time 56025069411, :index 11989}
{:type :ok, :f :read, :value 0, :process 63, :time 56029421130, :index 11991}
{:type :invoke, :f :cas, :value [1 3], :process 68, :time 56042216369, :index 11994}
{:type :invoke, :f :read, :value nil, :process 63, :time 56046672251, :index 11996}
{:type :fail, :f :cas, :value [1 3], :process 68, :time 56047641364, :index 11997}
{:type :invoke, :f :cas, :value [0 2], :process 21, :time 56049146900, :index 11999}
{:type :ok, :f :read, :value 0, :process 63, :time 56051740975, :index 12000}
{:type :invoke, :f :write, :value 3, :process 24, :time 56053148214, :index 12001}
{:type :ok, :f :cas, :value [0 2], :process 21, :time 56054276261, :index 12002}
{:type :ok, :f :write, :value 3, :process 24, :time 56058556926, :index 12003}
{:type :invoke, :f :cas, :value [4 1], :process 29, :time 56062662996, :index 12005}
{:type :fail, :f :cas, :value [4 1], :process 29, :time 56067738512, :index 12007}
{:type :invoke, :f :cas, :value [4 2], :process 5, :time 56112060550, :index 12018}
{:type :invoke, :f :read, :value nil, :process 68, :time 56116900372, :index 12021}
{:type :fail, :f :cas, :value [4 2], :process 5, :time 56121535407, :index 12023}
{:type :ok, :f :read, :value 3, :process 68, :time 56123069281, :index 12025}
{:type :invoke, :f :write, :value 3, :process 0, :time 56140353391, :index 12029}
{:type :ok, :f :write, :value 3, :process 0, :time 56144227772, :index 12032}
{:type :invoke, :f :read, :value nil, :process 63, :time 56160999778, :index 12042}
{:type :ok, :f :read, :value 3, :process 63, :time 56166140743, :index 12043}
{:type :invoke, :f :read, :value nil, :process 21, :time 56180536965, :index 12044}
{:type :invoke, :f :cas, :value [4 4], :process 46, :time 56182428712, :index 12045}
{:type :invoke, :f :read, :value nil, :process 29, :time 56184998702, :index 12046}
{:type :ok, :f :read, :value 3, :process 21, :time 56185705472, :index 12047}
{:type :fail, :f :cas, :value [4 4], :process 46, :time 56187913972, :index 12048}
{:type :ok, :f :read, :value 3, :process 29, :time 56190015503, :index 12049}
{:type :invoke, :f :write, :value 2, :process 47, :time 56196393792, :index 12051}
{:type :invoke, :f :read, :value nil, :process 24, :time 56196828730, :index 12052}
{:type :invoke, :f :cas, :value [3 3], :process 22, :time 56200953831, :index 12053}
{:type :ok, :f :write, :value 2, :process 47, :time 56202013746, :index 12055}
{:type :ok, :f :read, :value 2, :process 24, :time 56202681085, :index 12056}
{:type :fail, :f :cas, :value [3 3], :process 22, :time 56206335564, :index 12057}
{:type :invoke, :f :write, :value 2, :process 68, :time 56208230889, :index 12060}
{:type :ok, :f :write, :value 2, :process 68, :time 56213369406, :index 12064}
{:type :invoke, :f :write, :value 1, :process 5, :time 56308822164, :index 12090}
{:type :ok, :f :write, :value 1, :process 5, :time 56313950214, :index 12095}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
