{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :invoke, :f :write, :value 4, :process 22, :time 17770767194, :index 4728}
{:type :fail, :f :write, :value 4, :process 22, :time 17772730935, :error :connect, :index 4731}
{:type :invoke, :f :read, :value nil, :process 21, :time 17782403232, :index 4738}
{:type :invoke, :f :write, :value 1, :process 0, :time 17782737830, :index 4739}
{:type :fail, :f :read, :value nil, :process 21, :time 17784089353, :error :connect, :index 4740}
{:type :fail, :f :write, :value 1, :process 0, :time 17784575604, :error :connect, :index 4741}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 17791775534, :index 4745}
{:type :invoke, :f :write, :value 1, :process 8, :time 17793192714, :index 4746}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 17793435591, :error :connect, :index 4747}
{:type :fail, :f :write, :value 1, :process 8, :time 17795105683, :error :connect, :index 4750}
{:type :invoke, :f :write, :value 1, :process 0, :time 17796825446, :index 4752}
{:type :invoke, :f :read, :value nil, :process 6, :time 17797033783, :index 4753}
{:type :fail, :f :read, :value nil, :process 6, :time 17798846922, :error :connect, :index 4754}
{:type :fail, :f :write, :value 1, :process 0, :time 17798845590, :error :connect, :index 4755}
{:type :invoke, :f :read, :value nil, :process 5, :time 17807697840, :index 4758}
{:type :fail, :f :read, :value nil, :process 5, :time 17809501892, :error :connect, :index 4759}
{:type :invoke, :f :cas, :value [4 3], :process 29, :time 17822243756, :index 4760}
{:type :fail, :f :cas, :value [4 3], :process 29, :time 17823903863, :error :connect, :index 4761}
{:type :invoke, :f :write, :value 0, :process 22, :time 17834995316, :index 4762}
{:type :fail, :f :write, :value 0, :process 22, :time 17836628579, :error :connect, :index 4763}
{:type :invoke, :f :read, :value nil, :process 22, :time 17840892484, :index 4766}
{:type :fail, :f :read, :value nil, :process 22, :time 17842735130, :error :connect, :index 4767}
{:type :invoke, :f :cas, :value [0 2], :process 7, :time 17854646280, :index 4771}
{:type :fail, :f :cas, :value [0 2], :process 7, :time 17856486201, :error :connect, :index 4773}
{:type :invoke, :f :read, :value nil, :process 22, :time 17856997438, :index 4774}
{:type :fail, :f :read, :value nil, :process 22, :time 17858872915, :error :connect, :index 4777}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 17864143551, :index 4780}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 17866198228, :error :connect, :index 4781}
{:type :invoke, :f :read, :value nil, :process 0, :time 17876464314, :index 4782}
{:type :fail, :f :read, :value nil, :process 0, :time 17878491718, :error :connect, :index 4783}
{:type :invoke, :f :write, :value 4, :process 3, :time 17886883435, :index 4786}
{:type :fail, :f :write, :value 4, :process 3, :time 17888698888, :error :connect, :index 4787}
{:type :invoke, :f :read, :value nil, :process 7, :time 17899742662, :index 4788}
{:type :fail, :f :read, :value nil, :process 7, :time 17901544440, :error :connect, :index 4789}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 17903744621, :index 4790}
{:type :invoke, :f :cas, :value [1 2], :process 21, :time 17904362244, :index 4791}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 17905551623, :error :connect, :index 4792}
{:type :fail, :f :cas, :value [1 2], :process 21, :time 17906232142, :error :connect, :index 4793}
{:type :invoke, :f :cas, :value [1 4], :process 8, :time 17922357415, :index 4796}
{:type :invoke, :f :write, :value 3, :process 7, :time 17922735435, :index 4797}
{:type :fail, :f :cas, :value [1 4], :process 8, :time 17924408575, :error :connect, :index 4798}
{:type :fail, :f :write, :value 3, :process 7, :time 17924844426, :error :connect, :index 4799}
{:type :invoke, :f :cas, :value [3 3], :process 7, :time 17925018981, :index 4800}
{:type :invoke, :f :read, :value nil, :process 8, :time 17925671871, :index 4802}
{:type :fail, :f :cas, :value [3 3], :process 7, :time 17927091466, :error :connect, :index 4803}
{:type :fail, :f :read, :value nil, :process 8, :time 17927436769, :error :connect, :index 4804}
{:type :invoke, :f :write, :value 0, :process 6, :time 17927151062, :index 4806}
{:type :fail, :f :write, :value 0, :process 6, :time 17929603163, :error :connect, :index 4807}
{:type :invoke, :f :write, :value 3, :process 3, :time 17943964789, :index 4816}
{:type :invoke, :f :read, :value nil, :process 4, :time 17945987284, :index 4818}
{:type :fail, :f :write, :value 3, :process 3, :time 17946891501, :error :connect, :index 4819}
{:type :fail, :f :read, :value nil, :process 4, :time 17948037131, :error :connect, :index 4821}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 17954311746, :index 4822}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 17956303228, :error :connect, :index 4823}
{:type :invoke, :f :write, :value 3, :process 8, :time 17977780667, :index 4826}
{:type :fail, :f :write, :value 3, :process 8, :time 17979416012, :error :connect, :index 4827}
{:type :invoke, :f :read, :value nil, :process 3, :time 17993157938, :index 4834}
{:type :fail, :f :read, :value nil, :process 3, :time 17995017968, :error :connect, :index 4835}
{:type :invoke, :f :read, :value nil, :process 5, :time 17998763986, :index 4836}
{:type :fail, :f :read, :value nil, :process 5, :time 18000438469, :error :connect, :index 4837}
{:type :invoke, :f :write, :value 2, :process 29, :time 18003177464, :index 4838}
{:type :fail, :f :write, :value 2, :process 29, :time 18005043572, :error :connect, :index 4839}
{:type :invoke, :f :write, :value 2, :process 3, :time 18021277672, :index 4840}
{:type :fail, :f :write, :value 2, :process 3, :time 18023226821, :error :connect, :index 4842}
{:type :invoke, :f :cas, :value [2 4], :process 6, :time 18032878791, :index 4844}
{:type :fail, :f :cas, :value [2 4], :process 6, :time 18034844695, :error :connect, :index 4845}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 18047116600, :index 4848}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 18049192228, :error :connect, :index 4849}
{:type :invoke, :f :read, :value nil, :process 0, :time 18050826012, :index 4850}
{:type :fail, :f :read, :value nil, :process 0, :time 18052869637, :error :connect, :index 4851}
{:type :invoke, :f :read, :value nil, :process 21, :time 18054507871, :index 4853}
{:type :fail, :f :read, :value nil, :process 21, :time 18056467525, :error :connect, :index 4855}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 18093110706, :index 4866}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 18094597198, :index 4869}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 18095211052, :error :connect, :index 4870}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 18096941169, :error :connect, :index 4873}
{:type :invoke, :f :write, :value 0, :process 6, :time 18098468579, :index 4874}
{:type :fail, :f :write, :value 0, :process 6, :time 18100344869, :error :connect, :index 4875}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 18121695504, :index 4881}
{:type :invoke, :f :write, :value 2, :process 7, :time 18121768740, :index 4882}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 18124134867, :error :connect, :index 4883}
{:type :fail, :f :write, :value 2, :process 7, :time 18124501777, :error :connect, :index 4886}
{:type :invoke, :f :write, :value 3, :process 3, :time 18124649319, :index 4887}
{:type :fail, :f :write, :value 3, :process 3, :time 18126561081, :error :connect, :index 4889}
{:type :invoke, :f :write, :value 0, :process 21, :time 18155731392, :index 4892}
{:type :fail, :f :write, :value 0, :process 21, :time 18157688305, :error :connect, :index 4893}
{:type :invoke, :f :read, :value nil, :process 4, :time 18168198878, :index 4896}
{:type :fail, :f :read, :value nil, :process 4, :time 18170569575, :error :connect, :index 4898}
{:type :invoke, :f :write, :value 0, :process 7, :time 18174739750, :index 4902}
{:type :invoke, :f :read, :value nil, :process 29, :time 18176314350, :index 4903}
{:type :fail, :f :write, :value 0, :process 7, :time 18176605160, :error :connect, :index 4904}
{:type :fail, :f :read, :value nil, :process 29, :time 18178041400, :error :connect, :index 4905}
{:type :invoke, :f :read, :value nil, :process 8, :time 18178438729, :index 4906}
{:type :fail, :f :read, :value nil, :process 8, :time 18180469856, :error :connect, :index 4908}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 18194613209, :index 4918}
{:type :invoke, :f :write, :value 2, :process 5, :time 18194725153, :index 4919}
{:type :fail, :f :cas, :value [4 4], :process 6, :time 18196422225, :error :connect, :index 4920}
{:type :fail, :f :write, :value 2, :process 5, :time 18196792427, :error :connect, :index 4921}
{:type :invoke, :f :write, :value 2, :process 0, :time 18212036098, :index 4922}
{:type :fail, :f :write, :value 2, :process 0, :time 18213881242, :error :connect, :index 4923}
{:type :invoke, :f :cas, :value [1 2], :process 22, :time 18223467375, :index 4924}
{:type :fail, :f :cas, :value [1 2], :process 22, :time 18225371785, :error :connect, :index 4925}
{:type :invoke, :f :read, :value nil, :process 6, :time 18239689155, :index 4928}
{:type :fail, :f :read, :value nil, :process 6, :time 18241840544, :error :connect, :index 4929}
{:type :invoke, :f :write, :value 2, :process 21, :time 18253953407, :index 4934}
{:type :invoke, :f :write, :value 1, :process 8, :time 18254740023, :index 4935}
{:type :fail, :f :write, :value 2, :process 21, :time 18255778402, :error :connect, :index 4936}
{:type :fail, :f :write, :value 1, :process 8, :time 18256420765, :error :connect, :index 4937}
{:type :invoke, :f :write, :value 1, :process 0, :time 18293104604, :index 4942}
{:type :fail, :f :write, :value 1, :process 0, :time 18294954770, :error :connect, :index 4943}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 18297872644, :index 4944}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 18299723600, :error :connect, :index 4946}
{:type :invoke, :f :read, :value nil, :process 5, :time 18308045797, :index 4950}
{:type :fail, :f :read, :value nil, :process 5, :time 18309913570, :error :connect, :index 4952}
{:type :invoke, :f :cas, :value [0 1], :process 4, :time 18318996871, :index 4954}
{:type :fail, :f :cas, :value [0 1], :process 4, :time 18320782371, :error :connect, :index 4955}
{:type :invoke, :f :read, :value nil, :process 3, :time 18322799245, :index 4956}
{:type :invoke, :f :read, :value nil, :process 7, :time 18323863800, :index 4957}
{:type :fail, :f :read, :value nil, :process 3, :time 18324663253, :error :connect, :index 4958}
{:type :fail, :f :read, :value nil, :process 7, :time 18326015044, :error :connect, :index 4960}
{:type :invoke, :f :read, :value nil, :process 22, :time 18356639972, :index 4970}
{:type :fail, :f :read, :value nil, :process 22, :time 18358269391, :error :connect, :index 4971}
{:type :invoke, :f :cas, :value [4 4], :process 29, :time 18371311643, :index 4974}
{:type :fail, :f :cas, :value [4 4], :process 29, :time 18372965356, :error :connect, :index 4975}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 18383211131, :index 4980}
{:type :invoke, :f :write, :value 3, :process 0, :time 18383280977, :index 4981}
{:type :fail, :f :write, :value 3, :process 0, :time 18385328915, :error :connect, :index 4982}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 18385576321, :error :connect, :index 4983}
{:type :invoke, :f :write, :value 0, :process 0, :time 18387674879, :index 4984}
{:type :fail, :f :write, :value 0, :process 0, :time 18389659080, :error :connect, :index 4986}
{:type :invoke, :f :write, :value 4, :process 7, :time 18410900690, :index 4991}
{:type :invoke, :f :write, :value 0, :process 8, :time 18411666048, :index 4993}
{:type :fail, :f :write, :value 4, :process 7, :time 18412715717, :error :connect, :index 4994}
{:type :fail, :f :write, :value 0, :process 8, :time 18413354562, :error :connect, :index 4995}
{:type :invoke, :f :read, :value nil, :process 21, :time 18428042470, :index 4999}
{:type :fail, :f :read, :value nil, :process 21, :time 18429725211, :error :connect, :index 5001}
{:type :invoke, :f :read, :value nil, :process 22, :time 18432522817, :index 5002}
{:type :fail, :f :read, :value nil, :process 22, :time 18434346003, :error :connect, :index 5003}
{:type :invoke, :f :read, :value nil, :process 21, :time 18435972698, :index 5004}
{:type :invoke, :f :write, :value 0, :process 6, :time 18437111686, :index 5005}
{:type :fail, :f :read, :value nil, :process 21, :time 18437824226, :error :connect, :index 5006}
{:type :fail, :f :write, :value 0, :process 6, :time 18438764972, :error :connect, :index 5007}
{:type :invoke, :f :read, :value nil, :process 7, :time 18439977758, :index 5008}
{:type :fail, :f :read, :value nil, :process 7, :time 18441707987, :error :connect, :index 5011}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 18450025196, :index 5016}
{:type :fail, :f :cas, :value [2 2], :process 6, :time 18451670869, :error :connect, :index 5017}
{:type :invoke, :f :read, :value nil, :process 5, :time 18454174815, :index 5018}
{:type :fail, :f :read, :value nil, :process 5, :time 18455979340, :error :connect, :index 5019}
{:type :invoke, :f :read, :value nil, :process 4, :time 18484007910, :index 5022}
{:type :fail, :f :read, :value nil, :process 4, :time 18485709092, :error :connect, :index 5024}
{:type :invoke, :f :cas, :value [3 0], :process 8, :time 18494602753, :index 5026}
{:type :fail, :f :cas, :value [3 0], :process 8, :time 18496707840, :error :connect, :index 5028}
{:type :invoke, :f :write, :value 4, :process 3, :time 18506933938, :index 5034}
{:type :fail, :f :write, :value 4, :process 3, :time 18508967969, :error :connect, :index 5035}
{:type :invoke, :f :cas, :value [4 0], :process 22, :time 18520603184, :index 5036}
{:type :fail, :f :cas, :value [4 0], :process 22, :time 18522456081, :error :connect, :index 5037}
{:type :invoke, :f :read, :value nil, :process 21, :time 18530096579, :index 5040}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 18531233892, :index 5041}
{:type :fail, :f :read, :value nil, :process 21, :time 18532198850, :error :connect, :index 5042}
{:type :fail, :f :cas, :value [3 3], :process 29, :time 18533215755, :error :connect, :index 5043}
{:type :invoke, :f :read, :value nil, :process 5, :time 18549236784, :index 5044}
{:type :invoke, :f :cas, :value [1 0], :process 29, :time 18550480806, :index 5046}
{:type :fail, :f :read, :value nil, :process 5, :time 18551337741, :error :connect, :index 5047}
{:type :invoke, :f :write, :value 1, :process 8, :time 18551982923, :index 5048}
{:type :fail, :f :cas, :value [1 0], :process 29, :time 18552556564, :error :connect, :index 5050}
{:type :invoke, :f :read, :value nil, :process 0, :time 18552925151, :index 5051}
{:type :fail, :f :write, :value 1, :process 8, :time 18554220186, :error :connect, :index 5052}
{:type :fail, :f :read, :value nil, :process 0, :time 18554916836, :error :connect, :index 5053}
{:type :invoke, :f :cas, :value [2 3], :process 22, :time 18558731840, :index 5056}
{:type :fail, :f :cas, :value [2 3], :process 22, :time 18560834097, :error :connect, :index 5057}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 18609980941, :index 5076}
{:type :invoke, :f :cas, :value [1 1], :process 7, :time 18610964531, :index 5077}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 18611827000, :error :connect, :index 5078}
{:type :fail, :f :cas, :value [1 1], :process 7, :time 18613035109, :error :connect, :index 5080}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 18631243162, :index 5083}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 18633115444, :error :connect, :index 5085}
{:type :invoke, :f :write, :value 3, :process 6, :time 18657094452, :index 5092}
{:type :invoke, :f :write, :value 0, :process 5, :time 18658582742, :index 5093}
{:type :fail, :f :write, :value 3, :process 6, :time 18659062369, :error :connect, :index 5094}
{:type :fail, :f :write, :value 0, :process 5, :time 18660608458, :error :connect, :index 5095}
{:type :invoke, :f :write, :value 1, :process 4, :time 18669055507, :index 5096}
{:type :fail, :f :write, :value 1, :process 4, :time 18670652624, :error :connect, :index 5097}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 18692466474, :index 5108}
{:type :fail, :f :cas, :value [4 2], :process 21, :time 18694312381, :error :connect, :index 5109}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 18698306727, :index 5110}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 18700236750, :error :connect, :index 5111}
{:type :invoke, :f :cas, :value [4 3], :process 8, :time 18703479171, :index 5112}
{:type :fail, :f :cas, :value [4 3], :process 8, :time 18705144900, :error :connect, :index 5113}
{:type :invoke, :f :read, :value nil, :process 3, :time 18718362074, :index 5119}
{:type :fail, :f :read, :value nil, :process 3, :time 18720007903, :error :connect, :index 5121}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 18727218521, :index 5125}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 18729460294, :error :connect, :index 5129}
{:type :invoke, :f :cas, :value [0 3], :process 5, :time 18734885038, :index 5132}
{:type :fail, :f :cas, :value [0 3], :process 5, :time 18736885406, :error :connect, :index 5135}
{:type :invoke, :f :write, :value 4, :process 29, :time 18749828722, :index 5136}
{:type :fail, :f :write, :value 4, :process 29, :time 18751887291, :error :connect, :index 5137}
{:type :invoke, :f :write, :value 1, :process 22, :time 18755110098, :index 5138}
{:type :fail, :f :write, :value 1, :process 22, :time 18757168606, :error :connect, :index 5141}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 18787298013, :index 5150}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 18789362151, :error :connect, :index 5152}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
