{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :invoke, :f :cas, :value [1 3], :process 29, :time 36057021738, :index 11949}
{:type :fail, :f :cas, :value [1 3], :process 29, :time 36058927590, :error :connect, :index 11951}
{:type :invoke, :f :read, :value nil, :process 6, :time 36066462545, :index 11956}
{:type :fail, :f :read, :value nil, :process 6, :time 36068533405, :error :connect, :index 11958}
{:type :invoke, :f :read, :value nil, :process 0, :time 36121187909, :index 11980}
{:type :fail, :f :read, :value nil, :process 0, :time 36122826508, :error :connect, :index 11981}
{:type :invoke, :f :cas, :value [4 1], :process 29, :time 36124205689, :index 11983}
{:type :fail, :f :cas, :value [4 1], :process 29, :time 36125955858, :error :connect, :index 11985}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 36131096236, :index 11988}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 36133145336, :error :connect, :index 11990}
{:type :invoke, :f :write, :value 1, :process 5, :time 36141127290, :index 11996}
{:type :fail, :f :write, :value 1, :process 5, :time 36143233756, :error :connect, :index 11999}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 36160795543, :index 12005}
{:type :invoke, :f :read, :value nil, :process 21, :time 36161800323, :index 12006}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 36162662318, :error :connect, :index 12007}
{:type :fail, :f :read, :value nil, :process 21, :time 36163592454, :error :connect, :index 12008}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 36164961733, :index 12009}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 36166800742, :error :connect, :index 12010}
{:type :invoke, :f :read, :value nil, :process 8, :time 36168874332, :index 12011}
{:type :fail, :f :read, :value nil, :process 8, :time 36170766801, :error :connect, :index 12012}
{:type :invoke, :f :write, :value 0, :process 8, :time 36185057108, :index 12020}
{:type :fail, :f :write, :value 0, :process 8, :time 36186893959, :error :connect, :index 12022}
{:type :invoke, :f :cas, :value [4 1], :process 21, :time 36190848273, :index 12023}
{:type :fail, :f :cas, :value [4 1], :process 21, :time 36192484883, :error :connect, :index 12024}
{:type :invoke, :f :read, :value nil, :process 22, :time 36214328106, :index 12029}
{:type :fail, :f :read, :value nil, :process 22, :time 36216467213, :error :connect, :index 12030}
{:type :invoke, :f :read, :value nil, :process 29, :time 36224215393, :index 12033}
{:type :fail, :f :read, :value nil, :process 29, :time 36226284876, :error :connect, :index 12035}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :invoke, :f :read, :value nil, :process 5, :time 36237480310, :index 12042}
{:type :fail, :f :read, :value nil, :process 5, :time 36239262924, :error :connect, :index 12043}
{:type :invoke, :f :read, :value nil, :process 3, :time 36256460571, :index 12048}
{:type :invoke, :f :read, :value nil, :process 0, :time 36257752793, :index 12049}
{:type :fail, :f :read, :value nil, :process 3, :time 36258213941, :error :connect, :index 12050}
{:type :fail, :f :read, :value nil, :process 0, :time 36259792883, :error :connect, :index 12051}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 36283152070, :index 12052}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 36284872368, :error :connect, :index 12053}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 36311427769, :index 12065}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 36313571089, :error :connect, :index 12067}
{:type :invoke, :f :write, :value 3, :process 7, :time 36316236506, :index 12068}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 36318083476, :index 12070}
{:type :fail, :f :write, :value 3, :process 7, :time 36318207023, :error :connect, :index 12071}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 36320385536, :error :connect, :index 12074}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 36332660055, :index 12076}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 36334516028, :error :connect, :index 12077}
{:type :invoke, :f :cas, :value [2 4], :process 22, :time 36337728305, :index 12078}
{:type :invoke, :f :write, :value 2, :process 21, :time 36338758850, :index 12079}
{:type :fail, :f :cas, :value [2 4], :process 22, :time 36339777891, :error :connect, :index 12080}
{:type :fail, :f :write, :value 2, :process 21, :time 36340569288, :error :connect, :index 12081}
{:type :invoke, :f :write, :value 2, :process 5, :time 36341525764, :index 12082}
{:type :fail, :f :write, :value 2, :process 5, :time 36343341740, :error :connect, :index 12083}
{:type :invoke, :f :write, :value 2, :process 3, :time 36346469292, :index 12086}
{:type :fail, :f :write, :value 2, :process 3, :time 36348542642, :error :connect, :index 12087}
{:type :invoke, :f :read, :value nil, :process 3, :time 36358729264, :index 12090}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 36359067233, :index 12091}
{:type :fail, :f :read, :value nil, :process 3, :time 36360907475, :error :connect, :index 12092}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 36361185724, :error :connect, :index 12093}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 36380145684, :index 12098}
{:type :fail, :f :cas, :value [1 0], :process 8, :time 36381970050, :error :connect, :index 12099}
{:type :invoke, :f :read, :value nil, :process 5, :time 36383599077, :index 12100}
{:type :fail, :f :read, :value nil, :process 5, :time 36385624370, :error :connect, :index 12102}
{:type :invoke, :f :read, :value nil, :process 21, :time 36395820377, :index 12104}
{:type :fail, :f :read, :value nil, :process 21, :time 36397651735, :error :connect, :index 12106}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 36406907680, :index 12112}
{:type :invoke, :f :write, :value 1, :process 22, :time 36407068300, :index 12113}
{:type :fail, :f :write, :value 1, :process 22, :time 36408784112, :error :connect, :index 12114}
{:type :fail, :f :cas, :value [4 2], :process 21, :time 36409151405, :error :connect, :index 12115}
{:type :invoke, :f :write, :value 3, :process 29, :time 36424551397, :index 12118}
{:type :fail, :f :write, :value 3, :process 29, :time 36426328704, :error :connect, :index 12119}
{:type :invoke, :f :cas, :value [1 1], :process 7, :time 36449479316, :index 12126}
{:type :fail, :f :cas, :value [1 1], :process 7, :time 36451168736, :error :connect, :index 12127}
{:type :invoke, :f :write, :value 0, :process 0, :time 36464432872, :index 12131}
{:type :fail, :f :write, :value 0, :process 0, :time 36466780966, :error :connect, :index 12133}
{:type :invoke, :f :write, :value 2, :process 6, :time 36480783358, :index 12134}
{:type :fail, :f :write, :value 2, :process 6, :time 36482651783, :error :connect, :index 12135}
{:type :invoke, :f :cas, :value [1 4], :process 7, :time 36487435753, :index 12136}
{:type :fail, :f :cas, :value [1 4], :process 7, :time 36489297514, :error :connect, :index 12137}
{:type :invoke, :f :cas, :value [4 2], :process 5, :time 36498892633, :index 12138}
{:type :fail, :f :cas, :value [4 2], :process 5, :time 36501120260, :error :connect, :index 12140}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 36506839177, :index 12143}
{:type :invoke, :f :read, :value nil, :process 3, :time 36507563974, :index 12145}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 36508834261, :error :connect, :index 12146}
{:type :fail, :f :read, :value nil, :process 3, :time 36509717845, :error :connect, :index 12147}
{:type :invoke, :f :write, :value 2, :process 22, :time 36535046973, :index 12152}
{:type :invoke, :f :read, :value nil, :process 8, :time 36535250002, :index 12153}
{:type :fail, :f :write, :value 2, :process 22, :time 36537149134, :error :connect, :index 12154}
{:type :fail, :f :read, :value nil, :process 8, :time 36537272934, :error :connect, :index 12155}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 36570562656, :index 12160}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 36572921593, :error :connect, :index 12165}
{:type :invoke, :f :read, :value nil, :process 21, :time 36580407909, :index 12170}
{:type :fail, :f :read, :value nil, :process 21, :time 36582457334, :error :connect, :index 12171}
{:type :invoke, :f :cas, :value [2 1], :process 0, :time 36583014414, :index 12172}
{:type :fail, :f :cas, :value [2 1], :process 0, :time 36584824735, :error :connect, :index 12173}
{:type :invoke, :f :read, :value nil, :process 5, :time 36596381660, :index 12176}
{:type :fail, :f :read, :value nil, :process 5, :time 36597984484, :error :connect, :index 12177}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 36602942842, :index 12180}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 36604807339, :error :connect, :index 12181}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 36610103507, :index 12182}
{:type :fail, :f :cas, :value [1 4], :process 0, :time 36612225305, :error :connect, :index 12184}
{:type :invoke, :f :write, :value 0, :process 29, :time 36612603929, :index 12185}
{:type :fail, :f :write, :value 0, :process 29, :time 36614432400, :error :connect, :index 12187}
{:type :invoke, :f :read, :value nil, :process 29, :time 36620687701, :index 12188}
{:type :fail, :f :read, :value nil, :process 29, :time 36622457264, :error :connect, :index 12189}
{:type :invoke, :f :write, :value 0, :process 5, :time 36624240569, :index 12190}
{:type :fail, :f :write, :value 0, :process 5, :time 36626278185, :error :connect, :index 12191}
{:type :invoke, :f :read, :value nil, :process 21, :time 36628709805, :index 12192}
{:type :invoke, :f :write, :value 2, :process 22, :time 36630427077, :index 12193}
{:type :fail, :f :read, :value nil, :process 21, :time 36630639606, :error :connect, :index 12194}
{:type :fail, :f :write, :value 2, :process 22, :time 36632154914, :error :connect, :index 12195}
{:type :invoke, :f :write, :value 4, :process 8, :time 36668524303, :index 12198}
{:type :fail, :f :write, :value 4, :process 8, :time 36670175696, :error :connect, :index 12199}
{:type :invoke, :f :read, :value nil, :process 3, :time 36672975115, :index 12200}
{:type :fail, :f :read, :value nil, :process 3, :time 36674879792, :error :connect, :index 12203}
{:type :invoke, :f :read, :value nil, :process 4, :time 36691096034, :index 12210}
{:type :fail, :f :read, :value nil, :process 4, :time 36692914867, :error :connect, :index 12212}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 36697071519, :index 12214}
{:type :fail, :f :cas, :value [0 1], :process 6, :time 36699140352, :error :connect, :index 12215}
{:type :invoke, :f :read, :value nil, :process 8, :time 36711433982, :index 12218}
{:type :fail, :f :read, :value nil, :process 8, :time 36713541492, :error :connect, :index 12219}
{:type :invoke, :f :write, :value 1, :process 0, :time 36717487140, :index 12220}
{:type :fail, :f :write, :value 1, :process 0, :time 36719541577, :error :connect, :index 12221}
{:type :invoke, :f :read, :value nil, :process 22, :time 36722415664, :index 12222}
{:type :fail, :f :read, :value nil, :process 22, :time 36724310592, :error :connect, :index 12223}
{:type :invoke, :f :read, :value nil, :process 7, :time 36751489707, :index 12233}
{:type :fail, :f :read, :value nil, :process 7, :time 36753303330, :error :connect, :index 12235}
{:type :invoke, :f :cas, :value [3 1], :process 21, :time 36757928028, :index 12236}
{:type :fail, :f :cas, :value [3 1], :process 21, :time 36759606939, :error :connect, :index 12237}
{:type :invoke, :f :read, :value nil, :process 4, :time 36760175354, :index 12238}
{:type :fail, :f :read, :value nil, :process 4, :time 36761922668, :error :connect, :index 12239}
{:type :invoke, :f :write, :value 3, :process 6, :time 36767406256, :index 12242}
{:type :fail, :f :write, :value 3, :process 6, :time 36769474031, :error :connect, :index 12243}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 36776546711, :index 12244}
{:type :fail, :f :cas, :value [3 0], :process 5, :time 36778774831, :error :connect, :index 12245}
{:type :invoke, :f :cas, :value [4 2], :process 8, :time 36782728917, :index 12246}
{:type :fail, :f :cas, :value [4 2], :process 8, :time 36784397765, :error :connect, :index 12247}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 36800877964, :index 12252}
{:type :invoke, :f :cas, :value [1 1], :process 29, :time 36801725997, :index 12253}
{:type :fail, :f :cas, :value [4 2], :process 21, :time 36802711233, :error :connect, :index 12254}
{:type :fail, :f :cas, :value [1 1], :process 29, :time 36803516496, :error :connect, :index 12255}
{:type :invoke, :f :read, :value nil, :process 3, :time 36850145201, :index 12262}
{:type :fail, :f :read, :value nil, :process 3, :time 36852279628, :error :connect, :index 12263}
{:type :invoke, :f :cas, :value [2 2], :process 7, :time 36858568030, :index 12267}
{:type :fail, :f :cas, :value [2 2], :process 7, :time 36860466983, :error :connect, :index 12269}
{:type :invoke, :f :write, :value 3, :process 22, :time 36880573394, :index 12272}
{:type :fail, :f :write, :value 3, :process 22, :time 36882453117, :error :connect, :index 12273}
{:type :invoke, :f :write, :value 3, :process 0, :time 36887804836, :index 12274}
{:type :invoke, :f :read, :value nil, :process 5, :time 36889041094, :index 12275}
{:type :fail, :f :write, :value 3, :process 0, :time 36889992442, :error :connect, :index 12276}
{:type :fail, :f :read, :value nil, :process 5, :time 36891094898, :error :connect, :index 12278}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 36892750977, :index 12280}
{:type :invoke, :f :read, :value nil, :process 4, :time 36893201158, :index 12281}
{:type :invoke, :f :write, :value 1, :process 29, :time 36893788535, :index 12282}
{:type :fail, :f :cas, :value [2 2], :process 6, :time 36894666596, :error :connect, :index 12283}
{:type :fail, :f :read, :value nil, :process 4, :time 36894993548, :error :connect, :index 12284}
{:type :fail, :f :write, :value 1, :process 29, :time 36895538739, :error :connect, :index 12285}
{:type :invoke, :f :write, :value 3, :process 3, :time 36898569027, :index 12287}
{:type :fail, :f :write, :value 3, :process 3, :time 36900650296, :error :connect, :index 12290}
{:type :invoke, :f :write, :value 4, :process 5, :time 36917334671, :index 12300}
{:type :fail, :f :write, :value 4, :process 5, :time 36919190509, :error :connect, :index 12301}
{:type :invoke, :f :read, :value nil, :process 8, :time 36919657604, :index 12302}
{:type :fail, :f :read, :value nil, :process 8, :time 36921294661, :error :connect, :index 12303}
{:type :invoke, :f :read, :value nil, :process 4, :time 36939238971, :index 12304}
{:type :fail, :f :read, :value nil, :process 4, :time 36941255047, :error :connect, :index 12305}
{:type :invoke, :f :read, :value nil, :process 7, :time 36944734438, :index 12306}
{:type :fail, :f :read, :value nil, :process 7, :time 36946827386, :error :connect, :index 12307}
{:type :invoke, :f :read, :value nil, :process 6, :time 36946987884, :index 12308}
{:type :fail, :f :read, :value nil, :process 6, :time 36948805925, :error :connect, :index 12309}
{:type :invoke, :f :cas, :value [2 1], :process 21, :time 36948990229, :index 12310}
{:type :fail, :f :cas, :value [2 1], :process 21, :time 36950860981, :error :connect, :index 12311}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 36951918010, :index 12312}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 36953840530, :error :connect, :index 12313}
{:type :invoke, :f :cas, :value [2 1], :process 21, :time 36964123540, :index 12314}
{:type :fail, :f :cas, :value [2 1], :process 21, :time 36966048364, :error :connect, :index 12315}
{:type :invoke, :f :write, :value 2, :process 22, :time 37037723871, :index 12326}
{:type :fail, :f :write, :value 2, :process 22, :time 37039670785, :error :connect, :index 12327}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 37046074983, :index 12330}
{:type :invoke, :f :write, :value 0, :process 7, :time 37047087632, :index 12331}
{:type :invoke, :f :write, :value 0, :process 4, :time 37047531107, :index 12332}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 37048284796, :error :connect, :index 12333}
{:type :fail, :f :write, :value 0, :process 7, :time 37049101697, :error :connect, :index 12335}
{:type :fail, :f :write, :value 0, :process 4, :time 37049393320, :error :connect, :index 12336}
{:type :invoke, :f :cas, :value [2 4], :process 7, :time 37054381424, :index 12338}
{:type :fail, :f :cas, :value [2 4], :process 7, :time 37056058312, :error :connect, :index 12339}
{:type :invoke, :f :write, :value 1, :process 8, :time 37057567391, :index 12341}
{:type :invoke, :f :cas, :value [0 0], :process 5, :time 37059481203, :index 12343}
{:type :fail, :f :write, :value 1, :process 8, :time 37060404364, :error :connect, :index 12345}
{:type :invoke, :f :read, :value nil, :process 0, :time 37060440933, :index 12346}
{:type :fail, :f :cas, :value [0 0], :process 5, :time 37061581897, :error :connect, :index 12348}
{:type :fail, :f :read, :value nil, :process 0, :time 37062653482, :error :connect, :index 12349}
{:type :invoke, :f :write, :value 1, :process 3, :time 37064111850, :index 12351}
{:type :fail, :f :write, :value 1, :process 3, :time 37066395651, :error :connect, :index 12353}
{:type :invoke, :f :read, :value nil, :process 29, :time 37068809227, :index 12355}
{:type :fail, :f :read, :value nil, :process 29, :time 37070895896, :error :connect, :index 12360}
{:type :invoke, :f :cas, :value [0 3], :process 21, :time 37136331358, :index 12382}
{:type :fail, :f :cas, :value [0 3], :process 21, :time 37138499494, :error :connect, :index 12383}
{:type :invoke, :f :read, :value nil, :process 4, :time 37151632688, :index 12387}
{:type :fail, :f :read, :value nil, :process 4, :time 37153297136, :error :connect, :index 12389}
{:type :invoke, :f :write, :value 2, :process 6, :time 37170539210, :index 12392}
{:type :fail, :f :write, :value 2, :process 6, :time 37172545412, :error :connect, :index 12393}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 37212927959, :index 12416}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 37215568348, :error :connect, :index 12419}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
