{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :invoke, :f :write, :value 2, :process 10, :time 15176693746, :index 3234}
{:type :ok, :f :write, :value 2, :process 10, :time 15181601711, :index 3237}
{:type :invoke, :f :read, :value nil, :process 14, :time 15198456133, :index 3241}
{:type :ok, :f :read, :value 2, :process 14, :time 15203857545, :index 3243}
{:type :invoke, :f :read, :value nil, :process 10, :time 15219855566, :index 3245}
{:type :ok, :f :read, :value 2, :process 10, :time 15225058266, :index 3247}
{:type :invoke, :f :write, :value 2, :process 10, :time 15245321168, :index 3257}
{:type :ok, :f :write, :value 2, :process 10, :time 15249535224, :index 3259}
{:type :invoke, :f :cas, :value [4 4], :process 31, :time 15278919107, :index 3266}
{:type :fail, :f :cas, :value [4 4], :process 31, :time 15284724131, :index 3268}
{:type :invoke, :f :cas, :value [0 4], :process 12, :time 15287100142, :index 3269}
{:type :invoke, :f :write, :value 4, :process 14, :time 15288092048, :index 3270}
{:type :invoke, :f :cas, :value [1 1], :process 38, :time 15291511934, :index 3273}
{:type :fail, :f :cas, :value [0 4], :process 12, :time 15292610503, :index 3274}
{:type :ok, :f :write, :value 4, :process 14, :time 15294000876, :index 3275}
{:type :invoke, :f :read, :value nil, :process 10, :time 15294787123, :index 3277}
{:type :invoke, :f :write, :value 3, :process 14, :time 15295260554, :index 3278}
{:type :invoke, :f :read, :value nil, :process 16, :time 15295709977, :index 3279}
{:type :fail, :f :cas, :value [1 1], :process 38, :time 15297064539, :index 3281}
{:type :ok, :f :read, :value 4, :process 10, :time 15300425101, :index 3282}
{:type :ok, :f :read, :value 3, :process 16, :time 15300947690, :index 3283}
{:type :ok, :f :write, :value 3, :process 14, :time 15301574943, :index 3284}
{:type :invoke, :f :read, :value nil, :process 33, :time 15303886666, :index 3286}
{:type :invoke, :f :read, :value nil, :process 31, :time 15308002997, :index 3288}
{:type :ok, :f :read, :value 3, :process 31, :time 15316190694, :index 3289}
{:type :ok, :f :read, :value 3, :process 33, :time 15316820118, :index 3291}
{:type :invoke, :f :read, :value nil, :process 12, :time 15319867747, :index 3292}
{:type :ok, :f :read, :value 3, :process 12, :time 15325754294, :index 3293}
{:type :invoke, :f :write, :value 1, :process 15, :time 15326462393, :index 3294}
{:type :ok, :f :write, :value 1, :process 15, :time 15332080598, :index 3298}
{:type :invoke, :f :read, :value nil, :process 17, :time 15342112153, :index 3302}
{:type :ok, :f :read, :value 1, :process 17, :time 15347424193, :index 3304}
{:type :invoke, :f :cas, :value [2 4], :process 19, :time 15355455280, :index 3309}
{:type :fail, :f :cas, :value [2 4], :process 19, :time 15361714601, :index 3313}
{:type :invoke, :f :write, :value 0, :process 17, :time 15364841798, :index 3314}
{:type :ok, :f :write, :value 0, :process 17, :time 15369554215, :index 3315}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 15381195754, :index 3319}
{:type :fail, :f :cas, :value [3 2], :process 16, :time 15387010488, :index 3321}
{:type :invoke, :f :cas, :value [4 0], :process 38, :time 15401333945, :index 3323}
{:type :fail, :f :cas, :value [4 0], :process 38, :time 15406403570, :index 3325}
{:type :invoke, :f :write, :value 1, :process 31, :time 15429454989, :index 3326}
{:type :ok, :f :write, :value 1, :process 31, :time 15435158757, :index 3328}
{:type :invoke, :f :read, :value nil, :process 19, :time 15439966486, :index 3330}
{:type :invoke, :f :write, :value 4, :process 14, :time 15444804750, :index 3332}
{:type :ok, :f :read, :value 1, :process 19, :time 15445397741, :index 3333}
{:type :ok, :f :write, :value 4, :process 14, :time 15449821242, :index 3336}
{:type :invoke, :f :write, :value 1, :process 12, :time 15450016137, :index 3337}
{:type :ok, :f :write, :value 1, :process 12, :time 15454991406, :index 3340}
{:type :invoke, :f :write, :value 0, :process 10, :time 15472678244, :index 3345}
{:type :ok, :f :write, :value 0, :process 10, :time 15478199540, :index 3348}
{:type :invoke, :f :write, :value 3, :process 31, :time 15478430844, :index 3349}
{:type :ok, :f :write, :value 3, :process 31, :time 15483188984, :index 3351}
{:type :invoke, :f :read, :value nil, :process 10, :time 15484455681, :index 3352}
{:type :invoke, :f :read, :value nil, :process 16, :time 15486269888, :index 3353}
{:type :invoke, :f :read, :value nil, :process 12, :time 15488220851, :index 3354}
{:type :invoke, :f :read, :value nil, :process 17, :time 15488818442, :index 3355}
{:type :ok, :f :read, :value 3, :process 10, :time 15489038142, :index 3356}
{:type :invoke, :f :read, :value nil, :process 33, :time 15490068091, :index 3358}
{:type :ok, :f :read, :value 3, :process 16, :time 15490856598, :index 3359}
{:type :ok, :f :read, :value 3, :process 12, :time 15494218130, :index 3360}
{:type :ok, :f :read, :value 3, :process 17, :time 15496379189, :index 3361}
{:type :ok, :f :read, :value 3, :process 33, :time 15498087655, :index 3363}
{:type :invoke, :f :write, :value 1, :process 15, :time 15512371787, :index 3365}
{:type :ok, :f :write, :value 1, :process 15, :time 15516396852, :index 3367}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :invoke, :f :read, :value nil, :process 33, :time 15527337003, :index 3372}
{:type :invoke, :f :read, :value nil, :process 38, :time 15531660204, :index 3374}
{:type :invoke, :f :read, :value nil, :process 12, :time 15559484962, :index 3377}
{:type :invoke, :f :cas, :value [0 1], :process 14, :time 15565026421, :index 3379}
{:type :fail, :f :cas, :value [0 1], :process 14, :time 15570995523, :index 3380}
{:type :invoke, :f :read, :value nil, :process 15, :time 15615668952, :index 3389}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :ok, :f :read, :value 1, :process 15, :time 15620821277, :index 3391}
{:type :invoke, :f :write, :value 2, :process 19, :time 15627676996, :index 3393}
{:type :ok, :f :write, :value 2, :process 19, :time 15632630816, :index 3395}
{:type :invoke, :f :cas, :value [2 3], :process 15, :time 15645077699, :index 3396}
{:type :ok, :f :cas, :value [2 3], :process 15, :time 15650438181, :index 3397}
{:type :invoke, :f :read, :value nil, :process 10, :time 15652303994, :index 3398}
{:type :invoke, :f :read, :value nil, :process 31, :time 15655444384, :index 3401}
{:type :ok, :f :read, :value 3, :process 10, :time 15657708098, :index 3402}
{:type :ok, :f :read, :value 3, :process 31, :time 15660298894, :index 3406}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 15663109201, :index 3407}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 15664980814, :index 3408}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 15668431045, :index 3409}
{:type :fail, :f :cas, :value [1 1], :process 10, :time 15670338740, :index 3410}
{:type :invoke, :f :read, :value nil, :process 19, :time 15685882572, :index 3411}
{:type :ok, :f :read, :value 3, :process 19, :time 15692438258, :index 3413}
{:type :invoke, :f :read, :value nil, :process 17, :time 15693645134, :index 3415}
{:type :invoke, :f :write, :value 1, :process 31, :time 15705529655, :index 3416}
{:type :ok, :f :write, :value 1, :process 31, :time 15711511138, :index 3417}
{:type :invoke, :f :write, :value 0, :process 14, :time 15728255957, :index 3420}
{:type :invoke, :f :read, :value nil, :process 10, :time 15728599697, :index 3421}
{:type :ok, :f :read, :value 1, :process 10, :time 15733325760, :index 3423}
{:type :ok, :f :write, :value 0, :process 14, :time 15735012077, :index 3424}
{:type :invoke, :f :read, :value nil, :process 10, :time 15779580712, :index 3430}
{:type :ok, :f :read, :value 0, :process 10, :time 15784970389, :index 3433}
{:type :invoke, :f :read, :value nil, :process 15, :time 15820701562, :index 3438}
{:type :ok, :f :read, :value 0, :process 15, :time 15826899579, :index 3439}
{:type :invoke, :f :write, :value 3, :process 15, :time 15830152111, :index 3440}
{:type :invoke, :f :write, :value 1, :process 31, :time 15833770327, :index 3441}
{:type :ok, :f :write, :value 3, :process 15, :time 15834119875, :index 3442}
{:type :ok, :f :write, :value 1, :process 31, :time 15841088898, :index 3443}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 15843697511, :index 3444}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 15849519410, :index 3445}
{:type :invoke, :f :write, :value 3, :process 19, :time 15884715914, :index 3447}
{:type :ok, :f :write, :value 3, :process 19, :time 15890308294, :index 3448}
{:type :invoke, :f :cas, :value [1 3], :process 14, :time 15904263442, :index 3451}
{:type :fail, :f :cas, :value [1 3], :process 14, :time 15909987451, :index 3456}
{:type :invoke, :f :cas, :value [1 4], :process 14, :time 15947288275, :index 3459}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 15949779817, :index 3461}
{:type :ok, :f :cas, :value [3 0], :process 16, :time 15954494230, :index 3465}
{:type :fail, :f :cas, :value [1 4], :process 14, :time 15954800969, :index 3466}
{:type :invoke, :f :write, :value 3, :process 10, :time 15959241654, :index 3469}
{:type :ok, :f :write, :value 3, :process 10, :time 15964222869, :index 3471}
{:type :invoke, :f :cas, :value [0 1], :process 15, :time 16014380096, :index 3476}
{:type :fail, :f :cas, :value [0 1], :process 15, :time 16019636102, :index 3478}
{:type :invoke, :f :write, :value 0, :process 15, :time 16027888560, :index 3480}
{:type :invoke, :f :cas, :value [2 2], :process 31, :time 16030367971, :index 3481}
{:type :ok, :f :write, :value 0, :process 15, :time 16032933761, :index 3482}
{:type :fail, :f :cas, :value [2 2], :process 31, :time 16035239482, :index 3483}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 16057473902, :index 3484}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 16063215855, :index 3486}
{:type :invoke, :f :write, :value 4, :process 19, :time 16066595286, :index 3487}
{:type :ok, :f :write, :value 4, :process 19, :time 16071705997, :index 3490}
{:type :invoke, :f :write, :value 3, :process 14, :time 16078040632, :index 3492}
{:type :ok, :f :write, :value 3, :process 14, :time 16083444641, :index 3495}
{:type :invoke, :f :write, :value 0, :process 31, :time 16087492413, :index 3496}
{:type :ok, :f :write, :value 0, :process 31, :time 16092684407, :index 3497}
{:type :invoke, :f :read, :value nil, :process 15, :time 16095211892, :index 3498}
{:type :ok, :f :read, :value 0, :process 15, :time 16099947587, :index 3499}
{:type :invoke, :f :write, :value 1, :process 16, :time 16106784968, :index 3501}
{:type :ok, :f :write, :value 1, :process 16, :time 16112164016, :index 3503}
{:type :invoke, :f :read, :value nil, :process 16, :time 16121446778, :index 3505}
{:type :ok, :f :read, :value 1, :process 16, :time 16129512258, :index 3508}
{:type :invoke, :f :write, :value 2, :process 31, :time 16151947288, :index 3514}
{:type :ok, :f :write, :value 2, :process 31, :time 16157461788, :index 3515}
{:type :invoke, :f :read, :value nil, :process 14, :time 16160707084, :index 3516}
{:type :ok, :f :read, :value 2, :process 14, :time 16167779740, :index 3517}
{:type :invoke, :f :write, :value 2, :process 16, :time 16208798122, :index 3518}
{:type :ok, :f :write, :value 2, :process 16, :time 16214870150, :index 3519}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 16216477670, :index 3521}
{:type :invoke, :f :write, :value 3, :process 31, :time 16216943887, :index 3522}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 16222472683, :index 3524}
{:type :ok, :f :write, :value 3, :process 31, :time 16222656056, :index 3525}
{:type :invoke, :f :read, :value nil, :process 19, :time 16235958801, :index 3528}
{:type :ok, :f :read, :value 3, :process 19, :time 16241441789, :index 3529}
{:type :invoke, :f :read, :value nil, :process 10, :time 16262104828, :index 3532}
{:type :invoke, :f :write, :value 1, :process 15, :time 16266203127, :index 3533}
{:type :ok, :f :read, :value 3, :process 10, :time 16266994978, :index 3534}
{:type :ok, :f :write, :value 1, :process 15, :time 16270782791, :index 3535}
{:type :invoke, :f :write, :value 4, :process 14, :time 16284045915, :index 3538}
{:type :ok, :f :write, :value 4, :process 14, :time 16289613403, :index 3540}
{:type :invoke, :f :write, :value 4, :process 10, :time 16305246267, :index 3545}
{:type :invoke, :f :cas, :value [2 2], :process 19, :time 16306643617, :index 3546}
{:type :ok, :f :write, :value 4, :process 10, :time 16312275990, :index 3548}
{:type :fail, :f :cas, :value [2 2], :process 19, :time 16312442211, :index 3549}
{:type :invoke, :f :cas, :value [4 1], :process 19, :time 16329701072, :index 3551}
{:type :invoke, :f :read, :value nil, :process 14, :time 16333875667, :index 3552}
{:type :ok, :f :cas, :value [4 1], :process 19, :time 16335782676, :index 3554}
{:type :ok, :f :read, :value 1, :process 14, :time 16338832997, :index 3555}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 16345052706, :index 3556}
{:type :ok, :f :cas, :value [1 3], :process 15, :time 16351051063, :index 3559}
{:type :invoke, :f :write, :value 4, :process 16, :time 16359130336, :index 3562}
{:type :ok, :f :write, :value 4, :process 16, :time 16364463388, :index 3563}
{:type :invoke, :f :read, :value nil, :process 19, :time 16400021823, :index 3566}
{:type :ok, :f :read, :value 4, :process 19, :time 16405797432, :index 3567}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 16412540549, :index 3568}
{:type :invoke, :f :read, :value nil, :process 31, :time 16416895844, :index 3569}
{:type :ok, :f :cas, :value [4 3], :process 10, :time 16417255597, :index 3570}
{:type :ok, :f :read, :value 3, :process 31, :time 16424713603, :index 3571}
{:type :invoke, :f :read, :value nil, :process 14, :time 16437088853, :index 3573}
{:type :ok, :f :read, :value 3, :process 14, :time 16442440668, :index 3576}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 16445522988, :index 3578}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 16450464636, :index 3579}
{:type :invoke, :f :write, :value 3, :process 15, :time 16486311462, :index 3584}
{:type :invoke, :f :cas, :value [1 3], :process 16, :time 16486742407, :index 3585}
{:type :ok, :f :write, :value 3, :process 15, :time 16491585575, :index 3586}
{:type :fail, :f :cas, :value [1 3], :process 16, :time 16492502439, :index 3587}
{:type :invoke, :f :read, :value nil, :process 14, :time 16519687437, :index 3594}
{:type :invoke, :f :write, :value 1, :process 16, :time 16521779415, :index 3596}
{:type :invoke, :f :cas, :value [4 3], :process 19, :time 16524061116, :index 3597}
{:type :ok, :f :read, :value 3, :process 14, :time 16525895489, :index 3598}
{:type :ok, :f :write, :value 1, :process 16, :time 16528034841, :index 3601}
{:type :fail, :f :cas, :value [4 3], :process 19, :time 16529595727, :index 3602}
{:type :invoke, :f :cas, :value [3 4], :process 31, :time 16578973769, :index 3604}
{:type :fail, :f :cas, :value [3 4], :process 31, :time 16584510639, :index 3605}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 16609720098, :index 3608}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 16615293429, :index 3609}
{:type :invoke, :f :write, :value 0, :process 31, :time 16615776690, :index 3610}
{:type :invoke, :f :write, :value 2, :process 15, :time 16619850459, :index 3612}
{:type :ok, :f :write, :value 0, :process 31, :time 16620629400, :index 3613}
{:type :invoke, :f :write, :value 4, :process 19, :time 16624932466, :index 3616}
{:type :ok, :f :write, :value 2, :process 15, :time 16625373525, :index 3617}
{:type :ok, :f :write, :value 4, :process 19, :time 16630573038, :index 3620}
{:type :invoke, :f :cas, :value [1 3], :process 14, :time 16654182391, :index 3622}
{:type :invoke, :f :write, :value 2, :process 16, :time 16656297678, :index 3623}
{:type :fail, :f :cas, :value [1 3], :process 14, :time 16659745274, :index 3624}
{:type :ok, :f :write, :value 2, :process 16, :time 16661462399, :index 3625}
{:type :fail, :f :read, :value nil, :process 33, :time 20532589254, :error :timeout, :index 4425}
{:type :fail, :f :read, :value nil, :process 38, :time 20536440741, :error :timeout, :index 4429}
{:type :fail, :f :read, :value nil, :process 12, :time 20566303910, :error :timeout, :index 4435}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :fail, :f :read, :value nil, :process 17, :time 20700588745, :error :timeout, :index 4471}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
