{:type :invoke, :f :cas, :value [2 4], :process 13, :time 1106503055, :index 381}
{:type :fail, :f :cas, :value [2 4], :process 13, :time 1111469617, :error :not-found, :index 384}
{:type :invoke, :f :write, :value 3, :process 18, :time 1154365179, :index 390}
{:type :ok, :f :write, :value 3, :process 18, :time 1159763863, :index 393}
{:type :invoke, :f :read, :value nil, :process 14, :time 1160793090, :index 394}
{:type :ok, :f :read, :value 3, :process 14, :time 1167663815, :index 399}
{:type :invoke, :f :write, :value 0, :process 15, :time 1176940725, :index 403}
{:type :ok, :f :write, :value 0, :process 15, :time 1182669708, :index 408}
{:type :invoke, :f :read, :value nil, :process 19, :time 1204112731, :index 416}
{:type :invoke, :f :write, :value 4, :process 17, :time 1205494266, :index 417}
{:type :ok, :f :read, :value 0, :process 19, :time 1210355536, :index 418}
{:type :ok, :f :write, :value 4, :process 17, :time 1210402816, :index 419}
{:type :invoke, :f :cas, :value [3 0], :process 17, :time 1210609777, :index 420}
{:type :fail, :f :cas, :value [3 0], :process 17, :time 1216111133, :index 422}
{:type :invoke, :f :write, :value 4, :process 16, :time 1222418175, :index 424}
{:type :invoke, :f :cas, :value [0 2], :process 13, :time 1222761354, :index 425}
{:type :ok, :f :write, :value 4, :process 16, :time 1227543447, :index 426}
{:type :fail, :f :cas, :value [0 2], :process 13, :time 1228210735, :index 427}
{:type :invoke, :f :cas, :value [3 3], :process 14, :time 1234930235, :index 429}
{:type :invoke, :f :cas, :value [3 0], :process 19, :time 1239675849, :index 431}
{:type :fail, :f :cas, :value [3 3], :process 14, :time 1240804908, :index 432}
{:type :fail, :f :cas, :value [3 0], :process 19, :time 1245321939, :index 433}
{:type :invoke, :f :write, :value 2, :process 11, :time 1247910212, :index 434}
{:type :invoke, :f :cas, :value [1 2], :process 18, :time 1253066577, :index 435}
{:type :ok, :f :write, :value 2, :process 11, :time 1253330272, :index 436}
{:type :invoke, :f :read, :value nil, :process 15, :time 1258940821, :index 437}
{:type :fail, :f :cas, :value [1 2], :process 18, :time 1259566239, :index 438}
{:type :ok, :f :read, :value 2, :process 15, :time 1265540390, :index 441}
{:type :invoke, :f :read, :value nil, :process 18, :time 1276818916, :index 444}
{:type :ok, :f :read, :value 2, :process 18, :time 1281862876, :index 449}
{:type :invoke, :f :write, :value 3, :process 10, :time 1298004519, :index 456}
{:type :ok, :f :write, :value 3, :process 10, :time 1305057995, :index 457}
{:type :invoke, :f :write, :value 1, :process 18, :time 1349122524, :index 468}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 1352325702, :index 469}
{:type :ok, :f :write, :value 1, :process 18, :time 1353541949, :index 470}
{:type :invoke, :f :write, :value 1, :process 12, :time 1354757450, :index 472}
{:type :fail, :f :cas, :value [2 1], :process 10, :time 1359272972, :index 473}
{:type :ok, :f :write, :value 1, :process 12, :time 1360487470, :index 475}
{:type :invoke, :f :write, :value 2, :process 15, :time 1374773839, :index 483}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 1379855065, :index 486}
{:type :ok, :f :write, :value 2, :process 15, :time 1381222086, :index 489}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 1386035022, :index 491}
{:type :invoke, :f :cas, :value [2 3], :process 17, :time 1391386452, :index 492}
{:type :ok, :f :cas, :value [2 3], :process 17, :time 1396872949, :index 494}
{:type :invoke, :f :cas, :value [3 4], :process 10, :time 1397537591, :index 495}
{:type :ok, :f :cas, :value [3 4], :process 10, :time 1403357766, :index 498}
{:type :invoke, :f :read, :value nil, :process 19, :time 1405592082, :index 500}
{:type :ok, :f :read, :value 4, :process 19, :time 1410898796, :index 501}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 1413621880, :index 502}
{:type :invoke, :f :cas, :value [4 0], :process 19, :time 1414170824, :index 503}
{:type :invoke, :f :read, :value nil, :process 13, :time 1416469213, :index 504}
{:type :ok, :f :cas, :value [4 0], :process 19, :time 1419550291, :index 505}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 1420249789, :index 506}
{:type :ok, :f :read, :value 0, :process 13, :time 1421175357, :index 507}
{:type :invoke, :f :write, :value 0, :process 14, :time 1424096791, :index 508}
{:type :invoke, :f :write, :value 1, :process 12, :time 1426732830, :index 509}
{:type :ok, :f :write, :value 0, :process 14, :time 1429330404, :index 510}
{:type :invoke, :f :write, :value 3, :process 11, :time 1430577333, :index 511}
{:type :ok, :f :write, :value 1, :process 12, :time 1432356549, :index 512}
{:type :ok, :f :write, :value 3, :process 11, :time 1435600370, :index 514}
{:type :invoke, :f :cas, :value [3 4], :process 10, :time 1469526502, :index 519}
{:type :invoke, :f :read, :value nil, :process 11, :time 1473846722, :index 520}
{:type :ok, :f :cas, :value [3 4], :process 10, :time 1475892876, :index 522}
{:type :invoke, :f :read, :value nil, :process 18, :time 1477823096, :index 524}
{:type :ok, :f :read, :value 4, :process 11, :time 1480203267, :index 525}
{:type :ok, :f :read, :value 4, :process 18, :time 1482379957, :index 527}
{:type :invoke, :f :read, :value nil, :process 17, :time 1496140523, :index 530}
{:type :ok, :f :read, :value 4, :process 17, :time 1502369797, :index 531}
{:type :invoke, :f :read, :value nil, :process 18, :time 1504614489, :index 533}
{:type :ok, :f :read, :value 4, :process 18, :time 1509525685, :index 536}
{:type :invoke, :f :read, :value nil, :process 15, :time 1532494269, :index 543}
{:type :invoke, :f :write, :value 3, :process 17, :time 1533646555, :index 544}
{:type :invoke, :f :read, :value nil, :process 13, :time 1535435722, :index 545}
{:type :ok, :f :read, :value 4, :process 15, :time 1538377097, :index 547}
{:type :ok, :f :write, :value 3, :process 17, :time 1540125959, :index 548}
{:type :ok, :f :read, :value 3, :process 13, :time 1540395438, :index 549}
{:type :invoke, :f :write, :value 2, :process 14, :time 1543593451, :index 550}
{:type :ok, :f :write, :value 2, :process 14, :time 1548894206, :index 552}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 1561661434, :index 558}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 1567377583, :index 559}
{:type :invoke, :f :cas, :value [2 2], :process 11, :time 1570493998, :index 561}
{:type :ok, :f :cas, :value [2 2], :process 11, :time 1576321596, :index 564}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 1580305135, :index 567}
{:type :invoke, :f :cas, :value [1 0], :process 12, :time 1584631373, :index 569}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 1585886284, :index 570}
{:type :fail, :f :cas, :value [1 0], :process 12, :time 1590497746, :index 572}
{:type :invoke, :f :cas, :value [0 4], :process 15, :time 1600653390, :index 574}
{:type :invoke, :f :cas, :value [2 1], :process 19, :time 1603825791, :index 576}
{:type :fail, :f :cas, :value [0 4], :process 15, :time 1607787951, :index 579}
{:type :ok, :f :cas, :value [2 1], :process 19, :time 1608817602, :index 580}
{:type :invoke, :f :cas, :value [1 0], :process 18, :time 1612787729, :index 582}
{:type :invoke, :f :write, :value 1, :process 12, :time 1615765026, :index 584}
{:type :ok, :f :cas, :value [1 0], :process 18, :time 1618115873, :index 586}
{:type :ok, :f :write, :value 1, :process 12, :time 1621945312, :index 588}
{:type :invoke, :f :write, :value 4, :process 14, :time 1638198250, :index 590}
{:type :invoke, :f :write, :value 4, :process 10, :time 1638170977, :index 591}
{:type :ok, :f :write, :value 4, :process 14, :time 1648810944, :index 595}
{:type :ok, :f :write, :value 4, :process 10, :time 1649861982, :index 597}
{:type :invoke, :f :write, :value 3, :process 17, :time 1672400277, :index 601}
{:type :ok, :f :write, :value 3, :process 17, :time 1678078206, :index 604}
{:type :invoke, :f :cas, :value [3 2], :process 13, :time 1697626565, :index 616}
{:type :ok, :f :cas, :value [3 2], :process 13, :time 1703122213, :index 618}
{:type :invoke, :f :cas, :value [1 4], :process 11, :time 1715684570, :index 620}
{:type :fail, :f :cas, :value [1 4], :process 11, :time 1721419231, :index 622}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 1725116069, :index 624}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 1731150374, :index 626}
{:type :invoke, :f :read, :value nil, :process 19, :time 1731092977, :index 627}
{:type :ok, :f :read, :value 2, :process 19, :time 1735767953, :index 629}
{:type :invoke, :f :cas, :value [3 1], :process 14, :time 1736106709, :index 630}
{:type :invoke, :f :write, :value 0, :process 13, :time 1737298986, :index 631}
{:type :ok, :f :write, :value 0, :process 13, :time 1742262001, :index 632}
{:type :fail, :f :cas, :value [3 1], :process 14, :time 1742570749, :index 633}
{:type :invoke, :f :cas, :value [3 2], :process 12, :time 1744245135, :index 634}
{:type :fail, :f :cas, :value [3 2], :process 12, :time 1749907859, :index 635}
{:type :invoke, :f :read, :value nil, :process 11, :time 1759712029, :index 637}
{:type :invoke, :f :read, :value nil, :process 19, :time 1761021397, :index 639}
{:type :invoke, :f :write, :value 4, :process 18, :time 1761409016, :index 640}
{:type :invoke, :f :write, :value 4, :process 14, :time 1764810572, :index 641}
{:type :ok, :f :read, :value 0, :process 11, :time 1766142372, :index 642}
{:type :invoke, :f :write, :value 0, :process 16, :time 1766185680, :index 643}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 1766373269, :index 644}
{:type :ok, :f :read, :value 4, :process 19, :time 1767027140, :index 645}
{:type :invoke, :f :read, :value nil, :process 12, :time 1766913409, :index 646}
{:type :ok, :f :write, :value 4, :process 18, :time 1767628006, :index 647}
{:type :ok, :f :write, :value 0, :process 16, :time 1771982596, :index 649}
{:type :ok, :f :write, :value 4, :process 14, :time 1772540881, :index 650}
{:type :ok, :f :read, :value 0, :process 12, :time 1773245008, :index 651}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 1774416945, :index 652}
{:type :invoke, :f :write, :value 2, :process 15, :time 1797055514, :index 656}
{:type :invoke, :f :write, :value 3, :process 17, :time 1797403066, :index 657}
{:type :invoke, :f :write, :value 1, :process 11, :time 1798116098, :index 659}
{:type :ok, :f :write, :value 2, :process 15, :time 1804738532, :index 662}
{:type :ok, :f :write, :value 3, :process 17, :time 1805014646, :index 663}
{:type :ok, :f :write, :value 1, :process 11, :time 1805324601, :index 664}
{:type :invoke, :f :read, :value nil, :process 10, :time 1831680646, :index 668}
{:type :ok, :f :read, :value 1, :process 10, :time 1846498378, :index 674}
{:type :invoke, :f :cas, :value [3 2], :process 13, :time 1847434204, :index 675}
{:type :fail, :f :cas, :value [3 2], :process 13, :time 1852240895, :index 679}
{:type :invoke, :f :write, :value 4, :process 18, :time 1872893279, :index 682}
{:type :ok, :f :write, :value 4, :process 18, :time 1878080494, :index 684}
{:type :invoke, :f :read, :value nil, :process 19, :time 1908290256, :index 688}
{:type :invoke, :f :read, :value nil, :process 15, :time 1911063736, :index 690}
{:type :ok, :f :read, :value 4, :process 15, :time 1917194891, :index 691}
{:type :invoke, :f :read, :value nil, :process 18, :time 1924351607, :index 693}
{:type :invoke, :f :read, :value nil, :process 12, :time 1928503199, :index 696}
{:type :ok, :f :read, :value 4, :process 18, :time 1929427022, :index 697}
{:type :ok, :f :read, :value 4, :process 12, :time 1934182713, :index 701}
{:type :invoke, :f :write, :value 2, :process 11, :time 1939577712, :index 704}
{:type :ok, :f :write, :value 2, :process 11, :time 1944685826, :index 705}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 1952737127, :index 706}
{:type :invoke, :f :read, :value nil, :process 14, :time 1955791813, :index 707}
{:type :fail, :f :cas, :value [0 1], :process 10, :time 1958446140, :index 708}
{:type :invoke, :f :cas, :value [2 4], :process 17, :time 1965318130, :index 710}
{:type :invoke, :f :read, :value nil, :process 16, :time 1966254234, :index 712}
{:type :ok, :f :cas, :value [2 4], :process 17, :time 1970675543, :index 714}
{:type :ok, :f :read, :value 4, :process 16, :time 1971449993, :index 715}
{:type :invoke, :f :read, :value nil, :process 13, :time 1978501956, :index 717}
{:type :ok, :f :read, :value 4, :process 13, :time 1983732131, :index 718}
{:type :invoke, :f :cas, :value [2 3], :process 16, :time 1990718662, :index 720}
{:type :fail, :f :cas, :value [2 3], :process 16, :time 1997407343, :index 725}
{:type :invoke, :f :read, :value nil, :process 13, :time 1999985379, :index 727}
{:type :ok, :f :read, :value 4, :process 13, :time 2004660483, :index 730}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 2009769474, :index 733}
{:type :fail, :f :cas, :value [1 1], :process 10, :time 2016492906, :index 734}
{:type :invoke, :f :read, :value nil, :process 13, :time 2020898680, :index 737}
{:type :ok, :f :read, :value 4, :process 13, :time 2026605322, :index 741}
{:type :invoke, :f :cas, :value [0 4], :process 16, :time 2029677981, :index 742}
{:type :fail, :f :cas, :value [0 4], :process 16, :time 2035677794, :index 743}
{:type :invoke, :f :write, :value 4, :process 15, :time 2053481040, :index 744}
{:type :invoke, :f :read, :value nil, :process 10, :time 2056777276, :index 746}
{:type :ok, :f :write, :value 4, :process 15, :time 2058959236, :index 747}
{:type :ok, :f :read, :value 4, :process 10, :time 2062616495, :index 749}
{:type :invoke, :f :cas, :value [2 2], :process 11, :time 2087942946, :index 756}
{:type :fail, :f :cas, :value [2 2], :process 11, :time 2093252451, :index 759}
{:type :invoke, :f :cas, :value [1 2], :process 17, :time 2094947892, :index 760}
{:type :invoke, :f :write, :value 3, :process 12, :time 2099445967, :index 762}
{:type :invoke, :f :write, :value 2, :process 10, :time 2112849447, :index 763}
{:type :ok, :f :write, :value 2, :process 10, :time 2118537088, :index 764}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 2120694926, :index 765}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 2126059344, :index 766}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 2139228517, :index 767}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 2145165573, :index 768}
{:type :invoke, :f :read, :value nil, :process 15, :time 2149426430, :index 769}
{:type :ok, :f :read, :value 2, :process 15, :time 2155083793, :index 770}
{:type :invoke, :f :read, :value nil, :process 13, :time 2165838045, :index 775}
{:type :ok, :f :read, :value 2, :process 13, :time 2170661629, :index 776}
{:type :invoke, :f :read, :value nil, :process 15, :time 2172345470, :index 777}
{:type :ok, :f :read, :value 2, :process 15, :time 2177954961, :index 778}
{:type :invoke, :f :cas, :value [1 2], :process 16, :time 2184937419, :index 780}
{:type :invoke, :f :write, :value 4, :process 11, :time 2187533006, :index 782}
{:type :fail, :f :cas, :value [1 2], :process 16, :time 2192280394, :index 783}
{:type :ok, :f :write, :value 4, :process 11, :time 2192781574, :index 784}
{:type :invoke, :f :write, :value 4, :process 10, :time 2258809050, :index 796}
{:type :ok, :f :write, :value 4, :process 10, :time 2264967717, :index 797}
{:type :invoke, :f :write, :value 0, :process 18, :time 2269319666, :index 798}
{:type :ok, :f :write, :value 0, :process 18, :time 2273796169, :index 800}
{:type :ok, :f :write, :value 3, :process 12, :time 2567287206, :index 879}
{:type :fail, :f :cas, :value [1 2], :process 17, :time 2567816028, :index 881}
{:type :ok, :f :read, :value 0, :process 14, :time 2640741494, :index 898}
{:type :ok, :f :read, :value 0, :process 19, :time 2641444993, :index 900}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
