{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :invoke, :f :write, :value 2, :process 26, :time 45059220236, :index 9607}
{:type :ok, :f :write, :value 2, :process 26, :time 45064985233, :index 9612}
{:type :invoke, :f :read, :value nil, :process 0, :time 45101517757, :index 9625}
{:type :ok, :f :read, :value 2, :process 0, :time 45106715897, :index 9628}
{:type :invoke, :f :read, :value nil, :process 26, :time 45117249812, :index 9633}
{:type :invoke, :f :read, :value nil, :process 43, :time 45119698444, :index 9635}
{:type :ok, :f :read, :value 2, :process 26, :time 45121816572, :index 9636}
{:type :invoke, :f :cas, :value [1 3], :process 29, :time 45123558804, :index 9637}
{:type :ok, :f :read, :value 2, :process 43, :time 45124714299, :index 9638}
{:type :fail, :f :cas, :value [1 3], :process 29, :time 45128599860, :index 9639}
{:type :invoke, :f :read, :value nil, :process 48, :time 45137520798, :index 9640}
{:type :ok, :f :read, :value 2, :process 48, :time 45142751018, :index 9642}
{:type :invoke, :f :read, :value nil, :process 47, :time 45147359366, :index 9644}
{:type :ok, :f :read, :value 2, :process 47, :time 45152327473, :index 9645}
{:type :invoke, :f :read, :value nil, :process 43, :time 45168970704, :index 9646}
{:type :ok, :f :read, :value 2, :process 43, :time 45175763046, :index 9650}
{:type :invoke, :f :read, :value nil, :process 47, :time 45179634053, :index 9653}
{:type :ok, :f :read, :value 2, :process 47, :time 45184291811, :index 9655}
{:type :invoke, :f :read, :value nil, :process 5, :time 45186483289, :index 9656}
{:type :invoke, :f :cas, :value [3 1], :process 29, :time 45187905156, :index 9657}
{:type :ok, :f :read, :value 2, :process 5, :time 45191149694, :index 9658}
{:type :fail, :f :cas, :value [3 1], :process 29, :time 45193255840, :index 9659}
{:type :invoke, :f :read, :value nil, :process 22, :time 45197311378, :index 9661}
{:type :invoke, :f :write, :value 4, :process 24, :time 45199122906, :index 9662}
{:type :invoke, :f :read, :value nil, :process 29, :time 45200580365, :index 9663}
{:type :ok, :f :read, :value 2, :process 22, :time 45203842503, :index 9665}
{:type :ok, :f :write, :value 4, :process 24, :time 45203842485, :index 9666}
{:type :ok, :f :read, :value 4, :process 29, :time 45205554145, :index 9668}
{:type :invoke, :f :write, :value 1, :process 0, :time 45207971624, :index 9669}
{:type :invoke, :f :write, :value 1, :process 47, :time 45209540748, :index 9671}
{:type :ok, :f :write, :value 1, :process 0, :time 45212559875, :index 9672}
{:type :invoke, :f :read, :value nil, :process 24, :time 45213104247, :index 9673}
{:type :ok, :f :write, :value 1, :process 47, :time 45214366654, :index 9675}
{:type :invoke, :f :read, :value nil, :process 5, :time 45216406540, :index 9676}
{:type :ok, :f :read, :value 1, :process 24, :time 45219264448, :index 9677}
{:type :ok, :f :read, :value 1, :process 5, :time 45221082036, :index 9679}
{:type :invoke, :f :write, :value 2, :process 47, :time 45224615010, :index 9681}
{:type :ok, :f :write, :value 2, :process 47, :time 45230088822, :index 9684}
{:type :invoke, :f :cas, :value [2 0], :process 26, :time 45255125388, :index 9692}
{:type :ok, :f :cas, :value [2 0], :process 26, :time 45259790662, :index 9695}
{:type :invoke, :f :cas, :value [0 3], :process 1, :time 45265093847, :index 9698}
{:type :invoke, :f :read, :value nil, :process 48, :time 45267015415, :index 9699}
{:type :ok, :f :cas, :value [0 3], :process 1, :time 45270070034, :index 9700}
{:type :ok, :f :read, :value 3, :process 48, :time 45271417381, :index 9701}
{:type :invoke, :f :write, :value 4, :process 29, :time 45271843412, :index 9702}
{:type :ok, :f :write, :value 4, :process 29, :time 45278623636, :index 9705}
{:type :invoke, :f :cas, :value [2 2], :process 43, :time 45280003131, :index 9708}
{:type :fail, :f :cas, :value [2 2], :process 43, :time 45284898617, :index 9709}
{:type :invoke, :f :cas, :value [4 1], :process 5, :time 45295334357, :index 9713}
{:type :ok, :f :cas, :value [4 1], :process 5, :time 45299894117, :index 9715}
{:type :invoke, :f :write, :value 2, :process 48, :time 45352675528, :index 9728}
{:type :ok, :f :write, :value 2, :process 48, :time 45357371183, :index 9729}
{:type :invoke, :f :read, :value nil, :process 26, :time 45362062150, :index 9731}
{:type :invoke, :f :write, :value 1, :process 0, :time 45363821419, :index 9733}
{:type :ok, :f :read, :value 2, :process 26, :time 45366557548, :index 9735}
{:type :invoke, :f :read, :value nil, :process 5, :time 45368169167, :index 9737}
{:type :ok, :f :write, :value 1, :process 0, :time 45368576891, :index 9738}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 45369154802, :index 9739}
{:type :ok, :f :read, :value 1, :process 5, :time 45373027579, :index 9741}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 45374728875, :index 9743}
{:type :invoke, :f :cas, :value [0 4], :process 1, :time 45380370169, :index 9744}
{:type :invoke, :f :cas, :value [4 4], :process 24, :time 45380951387, :index 9745}
{:type :fail, :f :cas, :value [0 4], :process 1, :time 45385718536, :index 9747}
{:type :invoke, :f :write, :value 4, :process 47, :time 45386287002, :index 9748}
{:type :fail, :f :cas, :value [4 4], :process 24, :time 45387500678, :index 9750}
{:type :ok, :f :write, :value 4, :process 47, :time 45391870425, :index 9753}
{:type :invoke, :f :read, :value nil, :process 22, :time 45414982053, :index 9758}
{:type :ok, :f :read, :value 4, :process 22, :time 45419979984, :index 9762}
{:type :invoke, :f :write, :value 3, :process 24, :time 45430756714, :index 9764}
{:type :ok, :f :write, :value 3, :process 24, :time 45435355416, :index 9765}
{:type :invoke, :f :read, :value nil, :process 47, :time 45445110065, :index 9768}
{:type :invoke, :f :read, :value nil, :process 1, :time 45454983542, :index 9769}
{:type :invoke, :f :cas, :value [4 3], :process 29, :time 45457928061, :index 9770}
{:type :invoke, :f :write, :value 3, :process 5, :time 45459297930, :index 9771}
{:type :ok, :f :read, :value 3, :process 1, :time 45460050570, :index 9772}
{:type :invoke, :f :write, :value 0, :process 26, :time 45461820486, :index 9773}
{:type :fail, :f :cas, :value [4 3], :process 29, :time 45463293302, :index 9774}
{:type :ok, :f :write, :value 3, :process 5, :time 45463835588, :index 9775}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 45463848072, :index 9776}
{:type :invoke, :f :write, :value 3, :process 43, :time 45465164854, :index 9778}
{:type :ok, :f :write, :value 0, :process 26, :time 45468054020, :index 9779}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 45469514014, :index 9781}
{:type :ok, :f :write, :value 3, :process 43, :time 45471832472, :index 9783}
{:type :invoke, :f :write, :value 3, :process 5, :time 45484076054, :index 9786}
{:type :ok, :f :write, :value 3, :process 5, :time 45489411734, :index 9787}
{:type :invoke, :f :cas, :value [0 3], :process 24, :time 45496611820, :index 9788}
{:type :invoke, :f :write, :value 3, :process 26, :time 45502338457, :index 9790}
{:type :fail, :f :cas, :value [0 3], :process 24, :time 45502585496, :index 9791}
{:type :ok, :f :write, :value 3, :process 26, :time 45507829988, :index 9793}
{:type :invoke, :f :write, :value 2, :process 22, :time 45524219640, :index 9795}
{:type :invoke, :f :cas, :value [1 3], :process 5, :time 45526676286, :index 9797}
{:type :fail, :f :cas, :value [1 3], :process 5, :time 45531921554, :index 9800}
{:type :invoke, :f :write, :value 1, :process 29, :time 45538567028, :index 9802}
{:type :invoke, :f :write, :value 4, :process 48, :time 45538650874, :index 9803}
{:type :ok, :f :write, :value 4, :process 48, :time 45544151388, :index 9804}
{:type :ok, :f :write, :value 1, :process 29, :time 45544727247, :index 9805}
{:type :invoke, :f :cas, :value [3 1], :process 5, :time 45569163273, :index 9810}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 45572765349, :index 9812}
{:type :fail, :f :cas, :value [3 1], :process 5, :time 45573971311, :index 9813}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 45577112568, :index 9817}
{:type :invoke, :f :read, :value nil, :process 1, :time 45590317545, :index 9820}
{:type :ok, :f :read, :value 1, :process 1, :time 45595567622, :index 9822}
{:type :invoke, :f :read, :value nil, :process 5, :time 45602228761, :index 9824}
{:type :ok, :f :read, :value 1, :process 5, :time 45606889273, :index 9825}
{:type :ok, :f :read, :value 1, :process 47, :time 45615201304, :index 9830}
{:type :ok, :f :write, :value 2, :process 22, :time 45615450281, :index 9831}
{:type :invoke, :f :cas, :value [0 4], :process 24, :time 45617833925, :index 9834}
{:type :fail, :f :cas, :value [0 4], :process 24, :time 45622993584, :index 9835}
{:type :invoke, :f :cas, :value [2 2], :process 48, :time 45640469844, :index 9840}
{:type :invoke, :f :write, :value 3, :process 43, :time 45641095781, :index 9841}
{:type :ok, :f :cas, :value [2 2], :process 48, :time 45646246607, :index 9844}
{:type :ok, :f :write, :value 3, :process 43, :time 45646626262, :index 9845}
{:type :invoke, :f :read, :value nil, :process 29, :time 45649966180, :index 9847}
{:type :ok, :f :read, :value 3, :process 29, :time 45655431047, :index 9849}
{:type :invoke, :f :write, :value 3, :process 24, :time 45668254141, :index 9851}
{:type :ok, :f :write, :value 3, :process 24, :time 45673159281, :index 9853}
{:type :invoke, :f :write, :value 0, :process 26, :time 45681083489, :index 9855}
{:type :ok, :f :write, :value 0, :process 26, :time 45686542625, :index 9858}
{:type :invoke, :f :read, :value nil, :process 0, :time 45689376285, :index 9859}
{:type :invoke, :f :write, :value 1, :process 22, :time 45691705221, :index 9861}
{:type :invoke, :f :read, :value nil, :process 29, :time 45693686433, :index 9862}
{:type :ok, :f :read, :value 0, :process 0, :time 45694080065, :index 9863}
{:type :ok, :f :write, :value 1, :process 22, :time 45696769661, :index 9864}
{:type :ok, :f :read, :value 1, :process 29, :time 45698715257, :index 9865}
{:type :invoke, :f :write, :value 4, :process 24, :time 45704470925, :index 9867}
{:type :ok, :f :write, :value 4, :process 24, :time 45709693153, :index 9869}
{:type :invoke, :f :write, :value 4, :process 22, :time 45722018767, :index 9874}
{:type :invoke, :f :write, :value 0, :process 5, :time 45724143834, :index 9875}
{:type :invoke, :f :read, :value nil, :process 48, :time 45726483162, :index 9876}
{:type :ok, :f :write, :value 4, :process 22, :time 45726865281, :index 9877}
{:type :ok, :f :write, :value 0, :process 5, :time 45728504653, :index 9879}
{:type :ok, :f :read, :value 0, :process 48, :time 45732423280, :index 9880}
{:type :invoke, :f :cas, :value [4 1], :process 26, :time 45755777538, :index 9888}
{:type :fail, :f :cas, :value [4 1], :process 26, :time 45761794930, :index 9889}
{:type :invoke, :f :read, :value nil, :process 0, :time 45765338595, :index 9890}
{:type :invoke, :f :read, :value nil, :process 47, :time 45767480555, :index 9891}
{:type :ok, :f :read, :value 0, :process 0, :time 45769718901, :index 9892}
{:type :invoke, :f :write, :value 1, :process 1, :time 45770825615, :index 9893}
{:type :ok, :f :read, :value 0, :process 47, :time 45772035247, :index 9894}
{:type :ok, :f :write, :value 1, :process 1, :time 45775447077, :index 9897}
{:type :invoke, :f :read, :value nil, :process 48, :time 45797704208, :index 9902}
{:type :invoke, :f :read, :value nil, :process 22, :time 45802121940, :index 9904}
{:type :ok, :f :read, :value 1, :process 48, :time 45803509747, :index 9905}
{:type :ok, :f :read, :value 1, :process 22, :time 45807021090, :index 9906}
{:type :invoke, :f :write, :value 1, :process 29, :time 45817963841, :index 9908}
{:type :invoke, :f :write, :value 1, :process 26, :time 45819056023, :index 9909}
{:type :invoke, :f :read, :value nil, :process 43, :time 45821899231, :index 9910}
{:type :ok, :f :write, :value 1, :process 29, :time 45823005924, :index 9911}
{:type :ok, :f :write, :value 1, :process 26, :time 45824664488, :index 9912}
{:type :ok, :f :read, :value 1, :process 43, :time 45826850825, :index 9913}
{:type :invoke, :f :write, :value 1, :process 48, :time 45831832196, :index 9914}
{:type :ok, :f :write, :value 1, :process 48, :time 45836383211, :index 9916}
{:type :invoke, :f :write, :value 4, :process 47, :time 45854293450, :index 9924}
{:type :ok, :f :write, :value 4, :process 47, :time 45860802941, :index 9928}
{:type :invoke, :f :write, :value 4, :process 24, :time 45864968883, :index 9932}
{:type :ok, :f :write, :value 4, :process 24, :time 45870590417, :index 9935}
{:type :invoke, :f :read, :value nil, :process 1, :time 45874713886, :index 9939}
{:type :ok, :f :read, :value 4, :process 1, :time 45879615283, :index 9941}
{:type :invoke, :f :read, :value nil, :process 5, :time 45905828851, :index 9949}
{:type :ok, :f :read, :value 4, :process 5, :time 45910791777, :index 9952}
{:type :invoke, :f :write, :value 1, :process 43, :time 45923104306, :index 9959}
{:type :invoke, :f :write, :value 1, :process 29, :time 45926264170, :index 9960}
{:type :invoke, :f :write, :value 4, :process 0, :time 45927976518, :index 9961}
{:type :ok, :f :write, :value 1, :process 43, :time 45928625082, :index 9963}
{:type :invoke, :f :write, :value 2, :process 1, :time 45929868005, :index 9964}
{:type :invoke, :f :read, :value nil, :process 26, :time 45929877922, :index 9965}
{:type :ok, :f :write, :value 1, :process 29, :time 45932510602, :index 9966}
{:type :ok, :f :write, :value 4, :process 0, :time 45932643609, :index 9967}
{:type :invoke, :f :write, :value 0, :process 24, :time 45932899933, :index 9969}
{:type :ok, :f :write, :value 2, :process 1, :time 45935393599, :index 9970}
{:type :ok, :f :read, :value 2, :process 26, :time 45935800171, :index 9971}
{:type :ok, :f :write, :value 0, :process 24, :time 45938681844, :index 9973}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 45954878387, :index 9975}
{:type :invoke, :f :write, :value 3, :process 5, :time 45957035668, :index 9977}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 45959538016, :index 9978}
{:type :ok, :f :write, :value 3, :process 5, :time 45961841885, :index 9979}
{:type :invoke, :f :cas, :value [3 2], :process 22, :time 45966282136, :index 9980}
{:type :ok, :f :cas, :value [3 2], :process 22, :time 45971762989, :index 9983}
{:type :invoke, :f :write, :value 0, :process 0, :time 45983800043, :index 9984}
{:type :ok, :f :write, :value 0, :process 0, :time 45988883324, :index 9986}
{:type :invoke, :f :cas, :value [4 1], :process 47, :time 45992089513, :index 9987}
{:type :fail, :f :cas, :value [4 1], :process 47, :time 45997371469, :index 9989}
{:type :invoke, :f :write, :value 1, :process 48, :time 46012647521, :index 9993}
{:type :ok, :f :write, :value 1, :process 48, :time 46018192191, :index 9995}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 46020140550, :index 9997}
{:type :invoke, :f :read, :value nil, :process 29, :time 46023550899, :index 9998}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 46024986815, :index 9999}
{:type :ok, :f :read, :value 1, :process 29, :time 46028509117, :index 10001}
{:type :invoke, :f :read, :value nil, :process 5, :time 46036109970, :index 10004}
{:type :ok, :f :read, :value 1, :process 5, :time 46040985272, :index 10006}
{:type :invoke, :f :write, :value 2, :process 22, :time 46042079920, :index 10009}
{:type :invoke, :f :write, :value 2, :process 1, :time 46043651906, :index 10010}
{:type :ok, :f :write, :value 2, :process 1, :time 46050308558, :index 10014}
{:type :ok, :f :write, :value 2, :process 22, :time 46050539546, :index 10015}
{:type :invoke, :f :read, :value nil, :process 43, :time 46053892405, :index 10016}
{:type :ok, :f :read, :value 2, :process 43, :time 46059052513, :index 10018}
{:type :invoke, :f :cas, :value [0 4], :process 24, :time 46096927366, :index 10028}
{:type :fail, :f :cas, :value [0 4], :process 24, :time 46103024899, :index 10032}
{:type :invoke, :f :write, :value 4, :process 26, :time 46114030763, :index 10035}
{:type :ok, :f :write, :value 4, :process 26, :time 46118675608, :index 10037}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
