{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :invoke, :f :cas, :value [4 0], :process 22, :time 15772931095, :index 3926}
{:type :fail, :f :cas, :value [4 0], :process 22, :time 15774855861, :error :connect, :index 3928}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 15806049845, :index 3932}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 15808069425, :error :connect, :index 3933}
{:type :invoke, :f :write, :value 3, :process 6, :time 15840329043, :index 3942}
{:type :fail, :f :write, :value 3, :process 6, :time 15842006228, :error :connect, :index 3943}
{:type :invoke, :f :write, :value 4, :process 7, :time 15864927785, :index 3955}
{:type :fail, :f :write, :value 4, :process 7, :time 15866994411, :error :connect, :index 3957}
{:type :invoke, :f :read, :value nil, :process 4, :time 15887313261, :index 3966}
{:type :fail, :f :read, :value nil, :process 4, :time 15889336954, :error :connect, :index 3968}
{:type :invoke, :f :write, :value 0, :process 0, :time 15929029180, :index 3978}
{:type :fail, :f :write, :value 0, :process 0, :time 15931093766, :error :connect, :index 3981}
{:type :invoke, :f :write, :value 4, :process 5, :time 15937618281, :index 3986}
{:type :fail, :f :write, :value 4, :process 5, :time 15939715710, :error :connect, :index 3987}
{:type :invoke, :f :cas, :value [1 2], :process 22, :time 15973134579, :index 3994}
{:type :fail, :f :cas, :value [1 2], :process 22, :time 15975072030, :error :connect, :index 3995}
{:type :invoke, :f :write, :value 2, :process 4, :time 15978604492, :index 3996}
{:type :fail, :f :write, :value 2, :process 4, :time 15980270545, :error :connect, :index 3998}
{:type :invoke, :f :write, :value 1, :process 21, :time 15981308425, :index 4000}
{:type :invoke, :f :write, :value 4, :process 8, :time 15982737149, :index 4002}
{:type :fail, :f :write, :value 1, :process 21, :time 15983262751, :error :connect, :index 4003}
{:type :fail, :f :write, :value 4, :process 8, :time 15984964902, :error :connect, :index 4005}
{:type :invoke, :f :read, :value nil, :process 29, :time 15998556396, :index 4010}
{:type :fail, :f :read, :value nil, :process 29, :time 16000161265, :error :connect, :index 4011}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 16000982659, :index 4012}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 16003103123, :error :connect, :index 4013}
{:type :invoke, :f :write, :value 1, :process 6, :time 16012279723, :index 4016}
{:type :fail, :f :write, :value 1, :process 6, :time 16013912418, :error :connect, :index 4017}
{:type :invoke, :f :read, :value nil, :process 3, :time 16020092499, :index 4018}
{:type :fail, :f :read, :value nil, :process 3, :time 16022225421, :error :connect, :index 4019}
{:type :invoke, :f :write, :value 4, :process 3, :time 16026501890, :index 4020}
{:type :fail, :f :write, :value 4, :process 3, :time 16028389878, :error :connect, :index 4021}
{:type :invoke, :f :write, :value 0, :process 6, :time 16033170263, :index 4022}
{:type :fail, :f :write, :value 0, :process 6, :time 16035069102, :error :connect, :index 4023}
{:type :invoke, :f :read, :value nil, :process 21, :time 16039516483, :index 4025}
{:type :fail, :f :read, :value nil, :process 21, :time 16041149596, :error :connect, :index 4027}
{:type :invoke, :f :cas, :value [4 0], :process 4, :time 16047536877, :index 4029}
{:type :fail, :f :cas, :value [4 0], :process 4, :time 16049330069, :error :connect, :index 4031}
{:type :invoke, :f :write, :value 4, :process 22, :time 16061342479, :index 4033}
{:type :fail, :f :write, :value 4, :process 22, :time 16063574806, :error :connect, :index 4035}
{:type :invoke, :f :write, :value 1, :process 7, :time 16066253141, :index 4036}
{:type :fail, :f :write, :value 1, :process 7, :time 16068283447, :error :connect, :index 4037}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 16085332137, :index 4042}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 16087234739, :error :connect, :index 4043}
{:type :invoke, :f :write, :value 3, :process 3, :time 16095670003, :index 4045}
{:type :fail, :f :write, :value 3, :process 3, :time 16097417432, :error :connect, :index 4046}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 16101583568, :index 4048}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 16102364391, :index 4049}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 16103677580, :error :connect, :index 4050}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 16104482688, :error :connect, :index 4051}
{:type :invoke, :f :write, :value 3, :process 5, :time 16109372368, :index 4052}
{:type :fail, :f :write, :value 3, :process 5, :time 16111640256, :error :connect, :index 4055}
{:type :invoke, :f :read, :value nil, :process 7, :time 16120447561, :index 4062}
{:type :invoke, :f :write, :value 1, :process 4, :time 16121965179, :index 4063}
{:type :fail, :f :read, :value nil, :process 7, :time 16122355162, :error :connect, :index 4064}
{:type :fail, :f :write, :value 1, :process 4, :time 16124008792, :error :connect, :index 4066}
{:type :invoke, :f :read, :value nil, :process 8, :time 16134219188, :index 4068}
{:type :fail, :f :read, :value nil, :process 8, :time 16136169282, :error :connect, :index 4069}
{:type :invoke, :f :read, :value nil, :process 5, :time 16157899073, :index 4076}
{:type :fail, :f :read, :value nil, :process 5, :time 16159740715, :error :connect, :index 4077}
{:type :invoke, :f :cas, :value [1 1], :process 29, :time 16178439025, :index 4087}
{:type :fail, :f :cas, :value [1 1], :process 29, :time 16180381030, :error :connect, :index 4089}
{:type :invoke, :f :write, :value 0, :process 4, :time 16183252139, :index 4090}
{:type :fail, :f :write, :value 0, :process 4, :time 16185028321, :error :connect, :index 4091}
{:type :invoke, :f :cas, :value [1 2], :process 21, :time 16188389784, :index 4092}
{:type :fail, :f :cas, :value [1 2], :process 21, :time 16190335590, :error :connect, :index 4093}
{:type :invoke, :f :read, :value nil, :process 3, :time 16218696681, :index 4106}
{:type :fail, :f :read, :value nil, :process 3, :time 16220793904, :error :connect, :index 4107}
{:type :invoke, :f :read, :value nil, :process 22, :time 16229837509, :index 4110}
{:type :fail, :f :read, :value nil, :process 22, :time 16231505129, :error :connect, :index 4111}
{:type :invoke, :f :write, :value 3, :process 0, :time 16235747576, :index 4114}
{:type :fail, :f :write, :value 3, :process 0, :time 16237702841, :error :connect, :index 4117}
{:type :invoke, :f :write, :value 2, :process 29, :time 16241655661, :index 4118}
{:type :invoke, :f :write, :value 0, :process 21, :time 16242607455, :index 4119}
{:type :fail, :f :write, :value 2, :process 29, :time 16243500847, :error :connect, :index 4120}
{:type :fail, :f :write, :value 0, :process 21, :time 16244707463, :error :connect, :index 4121}
{:type :invoke, :f :read, :value nil, :process 21, :time 16246997607, :index 4122}
{:type :fail, :f :read, :value nil, :process 21, :time 16248800813, :error :connect, :index 4123}
{:type :invoke, :f :write, :value 0, :process 22, :time 16252777148, :index 4124}
{:type :fail, :f :write, :value 0, :process 22, :time 16254888403, :error :connect, :index 4125}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 16261433370, :index 4126}
{:type :invoke, :f :read, :value nil, :process 7, :time 16262619380, :index 4128}
{:type :fail, :f :read, :value nil, :process 7, :time 16264287749, :error :connect, :index 4129}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 16265486447, :error :connect, :index 4131}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 16272054440, :index 4132}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 16272306475, :index 4133}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 16274437900, :error :connect, :index 4134}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 16274445289, :error :connect, :index 4135}
{:type :invoke, :f :read, :value nil, :process 6, :time 16277516825, :index 4136}
{:type :fail, :f :read, :value nil, :process 6, :time 16279266078, :error :connect, :index 4137}
{:type :invoke, :f :cas, :value [4 1], :process 4, :time 16299723490, :index 4142}
{:type :fail, :f :cas, :value [4 1], :process 4, :time 16303101311, :error :connect, :index 4144}
{:type :invoke, :f :write, :value 0, :process 22, :time 16305154698, :index 4146}
{:type :fail, :f :write, :value 0, :process 22, :time 16306803947, :error :connect, :index 4147}
{:type :invoke, :f :write, :value 4, :process 0, :time 16330958447, :index 4148}
{:type :fail, :f :write, :value 4, :process 0, :time 16333311098, :error :connect, :index 4152}
{:type :invoke, :f :read, :value nil, :process 5, :time 16340012777, :index 4154}
{:type :fail, :f :read, :value nil, :process 5, :time 16342080255, :error :connect, :index 4156}
{:type :invoke, :f :read, :value nil, :process 29, :time 16343767824, :index 4158}
{:type :fail, :f :read, :value nil, :process 29, :time 16345650874, :error :connect, :index 4159}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 16374767486, :index 4166}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 16376477958, :error :connect, :index 4167}
{:type :invoke, :f :write, :value 4, :process 3, :time 16387735827, :index 4170}
{:type :fail, :f :write, :value 4, :process 3, :time 16389402458, :error :connect, :index 4172}
{:type :invoke, :f :write, :value 0, :process 6, :time 16391539886, :index 4175}
{:type :fail, :f :write, :value 0, :process 6, :time 16395045850, :error :connect, :index 4177}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 16401380975, :index 4178}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 16403425197, :error :connect, :index 4179}
{:type :invoke, :f :write, :value 3, :process 21, :time 16416062716, :index 4180}
{:type :fail, :f :write, :value 3, :process 21, :time 16417933108, :error :connect, :index 4181}
{:type :invoke, :f :write, :value 0, :process 0, :time 16418552983, :index 4182}
{:type :invoke, :f :cas, :value [3 4], :process 7, :time 16419567606, :index 4183}
{:type :fail, :f :write, :value 0, :process 0, :time 16420653880, :error :connect, :index 4184}
{:type :fail, :f :cas, :value [3 4], :process 7, :time 16421400582, :error :connect, :index 4185}
{:type :invoke, :f :read, :value nil, :process 3, :time 16438643226, :index 4188}
{:type :fail, :f :read, :value nil, :process 3, :time 16441238720, :error :connect, :index 4190}
{:type :invoke, :f :read, :value nil, :process 22, :time 16478060161, :index 4200}
{:type :fail, :f :read, :value nil, :process 22, :time 16480005454, :error :connect, :index 4202}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 16503767743, :index 4208}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 16505679382, :error :connect, :index 4209}
{:type :invoke, :f :read, :value nil, :process 29, :time 16506909335, :index 4210}
{:type :fail, :f :read, :value nil, :process 29, :time 16508992891, :error :connect, :index 4211}
{:type :invoke, :f :read, :value nil, :process 4, :time 16518699182, :index 4214}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 16519649159, :index 4215}
{:type :fail, :f :read, :value nil, :process 4, :time 16520468663, :error :connect, :index 4216}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 16521711691, :error :connect, :index 4217}
{:type :invoke, :f :read, :value nil, :process 5, :time 16530342633, :index 4218}
{:type :fail, :f :read, :value nil, :process 5, :time 16532545976, :error :connect, :index 4220}
{:type :invoke, :f :read, :value nil, :process 7, :time 16571969991, :index 4232}
{:type :invoke, :f :read, :value nil, :process 6, :time 16573315365, :index 4233}
{:type :fail, :f :read, :value nil, :process 7, :time 16573888682, :error :connect, :index 4234}
{:type :invoke, :f :read, :value nil, :process 7, :time 16574041621, :index 4235}
{:type :fail, :f :read, :value nil, :process 6, :time 16575307485, :error :connect, :index 4236}
{:type :invoke, :f :write, :value 1, :process 6, :time 16575445009, :index 4237}
{:type :fail, :f :read, :value nil, :process 7, :time 16576001773, :error :connect, :index 4238}
{:type :fail, :f :write, :value 1, :process 6, :time 16577300704, :error :connect, :index 4239}
{:type :invoke, :f :read, :value nil, :process 7, :time 16588272020, :index 4244}
{:type :fail, :f :read, :value nil, :process 7, :time 16590105278, :error :connect, :index 4245}
{:type :invoke, :f :cas, :value [4 1], :process 7, :time 16599372117, :index 4250}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 16600208433, :index 4252}
{:type :fail, :f :cas, :value [4 1], :process 7, :time 16601350437, :error :connect, :index 4253}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 16602092509, :error :connect, :index 4255}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 16607913657, :index 4256}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 16609715034, :error :connect, :index 4257}
{:type :invoke, :f :read, :value nil, :process 0, :time 16617971724, :index 4260}
{:type :fail, :f :read, :value nil, :process 0, :time 16619778232, :error :connect, :index 4262}
{:type :invoke, :f :read, :value nil, :process 22, :time 16620271670, :index 4263}
{:type :fail, :f :read, :value nil, :process 22, :time 16622120843, :error :connect, :index 4265}
{:type :invoke, :f :read, :value nil, :process 29, :time 16634264773, :index 4267}
{:type :fail, :f :read, :value nil, :process 29, :time 16635956824, :error :connect, :index 4270}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 16636484848, :index 4271}
{:type :invoke, :f :cas, :value [0 3], :process 29, :time 16637257822, :index 4273}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 16638448275, :error :connect, :index 4274}
{:type :fail, :f :cas, :value [0 3], :process 29, :time 16638984906, :error :connect, :index 4275}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 16640560233, :index 4276}
{:type :fail, :f :cas, :value [1 3], :process 6, :time 16642466565, :error :connect, :index 4277}
{:type :invoke, :f :write, :value 1, :process 8, :time 16644943872, :index 4278}
{:type :fail, :f :write, :value 1, :process 8, :time 16646810209, :error :connect, :index 4279}
{:type :invoke, :f :write, :value 0, :process 5, :time 16648801811, :index 4280}
{:type :fail, :f :write, :value 0, :process 5, :time 16650864842, :error :connect, :index 4281}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 16666728200, :index 4284}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 16668563386, :error :connect, :index 4285}
{:type :invoke, :f :cas, :value [2 1], :process 7, :time 16683615183, :index 4286}
{:type :invoke, :f :cas, :value [0 0], :process 29, :time 16685262928, :index 4287}
{:type :fail, :f :cas, :value [2 1], :process 7, :time 16685770120, :error :connect, :index 4288}
{:type :fail, :f :cas, :value [0 0], :process 29, :time 16687248372, :error :connect, :index 4289}
{:type :invoke, :f :write, :value 4, :process 22, :time 16693372099, :index 4290}
{:type :fail, :f :write, :value 4, :process 22, :time 16695388614, :error :connect, :index 4291}
{:type :invoke, :f :cas, :value [4 2], :process 5, :time 16708135485, :index 4292}
{:type :fail, :f :cas, :value [4 2], :process 5, :time 16710236459, :error :connect, :index 4293}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 16710651259, :index 4294}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 16712533592, :error :connect, :index 4297}
{:type :invoke, :f :cas, :value [3 1], :process 5, :time 16729500531, :index 4304}
{:type :fail, :f :cas, :value [3 1], :process 5, :time 16731529629, :error :connect, :index 4306}
{:type :invoke, :f :cas, :value [0 0], :process 29, :time 16770511356, :index 4312}
{:type :invoke, :f :write, :value 3, :process 0, :time 16772044407, :index 4313}
{:type :fail, :f :cas, :value [0 0], :process 29, :time 16772479677, :error :connect, :index 4314}
{:type :invoke, :f :cas, :value [1 1], :process 6, :time 16772759136, :index 4315}
{:type :fail, :f :write, :value 3, :process 0, :time 16774134999, :error :connect, :index 4316}
{:type :fail, :f :cas, :value [1 1], :process 6, :time 16774877303, :error :connect, :index 4317}
{:type :invoke, :f :write, :value 1, :process 21, :time 16781349761, :index 4320}
{:type :fail, :f :write, :value 1, :process 21, :time 16783202811, :error :connect, :index 4323}
{:type :invoke, :f :write, :value 1, :process 22, :time 16791810394, :index 4328}
{:type :fail, :f :write, :value 1, :process 22, :time 16793441054, :error :connect, :index 4329}
{:type :invoke, :f :write, :value 0, :process 4, :time 16800827104, :index 4330}
{:type :fail, :f :write, :value 0, :process 4, :time 16802752032, :error :connect, :index 4332}
{:type :invoke, :f :read, :value nil, :process 5, :time 16818736864, :index 4342}
{:type :fail, :f :read, :value nil, :process 5, :time 16820758089, :error :connect, :index 4343}
{:type :invoke, :f :read, :value nil, :process 3, :time 16826724261, :index 4346}
{:type :fail, :f :read, :value nil, :process 3, :time 16828612626, :error :connect, :index 4347}
{:type :invoke, :f :cas, :value [4 3], :process 8, :time 16831070486, :index 4348}
{:type :fail, :f :cas, :value [4 3], :process 8, :time 16832792975, :error :connect, :index 4350}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 16840136422, :index 4352}
{:type :fail, :f :cas, :value [1 0], :process 6, :time 16842071466, :error :connect, :index 4353}
{:type :invoke, :f :write, :value 0, :process 0, :time 16878397937, :index 4362}
{:type :fail, :f :write, :value 0, :process 0, :time 16880449071, :error :connect, :index 4364}
{:type :invoke, :f :cas, :value [0 2], :process 7, :time 16885051372, :index 4366}
{:type :fail, :f :cas, :value [0 2], :process 7, :time 16886918092, :error :connect, :index 4367}
{:type :invoke, :f :write, :value 1, :process 29, :time 16902760543, :index 4374}
{:type :fail, :f :write, :value 1, :process 29, :time 16904986934, :error :connect, :index 4377}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
