{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :invoke, :f :read, :value nil, :process 39, :time 45401489324, :index 15640}
{:type :fail, :f :read, :value nil, :process 39, :time 45403278252, :error :connect, :index 15641}
{:type :invoke, :f :write, :value 4, :process 36, :time 45427144852, :index 15656}
{:type :fail, :f :write, :value 4, :process 36, :time 45429020080, :error :connect, :index 15657}
{:type :invoke, :f :write, :value 4, :process 37, :time 45460046891, :index 15667}
{:type :fail, :f :write, :value 4, :process 37, :time 45461925086, :error :connect, :index 15669}
{:type :invoke, :f :read, :value nil, :process 36, :time 45463282772, :index 15670}
{:type :fail, :f :read, :value nil, :process 36, :time 45465150998, :error :connect, :index 15671}
{:type :invoke, :f :write, :value 2, :process 18, :time 45482749897, :index 15680}
{:type :fail, :f :write, :value 2, :process 18, :time 45485002477, :error :connect, :index 15683}
{:type :invoke, :f :cas, :value [1 2], :process 33, :time 45505753449, :index 15684}
{:type :fail, :f :cas, :value [1 2], :process 33, :time 45507899549, :error :connect, :index 15685}
{:type :invoke, :f :write, :value 1, :process 39, :time 45523540627, :index 15688}
{:type :fail, :f :write, :value 1, :process 39, :time 45525100742, :error :connect, :index 15689}
{:type :invoke, :f :cas, :value [2 3], :process 10, :time 45525596020, :index 15690}
{:type :fail, :f :cas, :value [2 3], :process 10, :time 45527462926, :error :connect, :index 15691}
{:type :invoke, :f :write, :value 0, :process 10, :time 45542761508, :index 15696}
{:type :fail, :f :write, :value 0, :process 10, :time 45544793275, :error :connect, :index 15697}
{:type :invoke, :f :read, :value nil, :process 32, :time 45570599533, :index 15704}
{:type :fail, :f :read, :value nil, :process 32, :time 45572513013, :error :connect, :index 15705}
{:type :invoke, :f :read, :value nil, :process 37, :time 45579165739, :index 15708}
{:type :fail, :f :read, :value nil, :process 37, :time 45581238638, :error :connect, :index 15710}
{:type :invoke, :f :cas, :value [2 0], :process 36, :time 45591421635, :index 15714}
{:type :fail, :f :cas, :value [2 0], :process 36, :time 45593045720, :error :connect, :index 15715}
{:type :invoke, :f :read, :value nil, :process 37, :time 45594485292, :index 15716}
{:type :fail, :f :read, :value nil, :process 37, :time 45596206679, :error :connect, :index 15718}
{:type :invoke, :f :cas, :value [1 0], :process 15, :time 45607875044, :index 15720}
{:type :invoke, :f :read, :value nil, :process 33, :time 45608179560, :index 15721}
{:type :fail, :f :cas, :value [1 0], :process 15, :time 45610161232, :error :connect, :index 15722}
{:type :fail, :f :read, :value nil, :process 33, :time 45610400417, :error :connect, :index 15723}
{:type :invoke, :f :write, :value 1, :process 39, :time 45611375706, :index 15724}
{:type :invoke, :f :write, :value 4, :process 10, :time 45612066061, :index 15725}
{:type :fail, :f :write, :value 1, :process 39, :time 45613397630, :error :connect, :index 15726}
{:type :fail, :f :write, :value 4, :process 10, :time 45614062004, :error :connect, :index 15727}
{:type :invoke, :f :read, :value nil, :process 34, :time 45630855933, :index 15730}
{:type :invoke, :f :read, :value nil, :process 11, :time 45631973289, :index 15732}
{:type :fail, :f :read, :value nil, :process 34, :time 45632810238, :error :connect, :index 15733}
{:type :fail, :f :read, :value nil, :process 11, :time 45633792779, :error :connect, :index 15735}
{:type :invoke, :f :read, :value nil, :process 15, :time 45653443711, :index 15738}
{:type :fail, :f :read, :value nil, :process 15, :time 45655494575, :error :connect, :index 15739}
{:type :invoke, :f :write, :value 3, :process 18, :time 45677265539, :index 15744}
{:type :fail, :f :write, :value 3, :process 18, :time 45679160512, :error :connect, :index 15745}
{:type :invoke, :f :read, :value nil, :process 36, :time 45711247860, :index 15752}
{:type :fail, :f :read, :value nil, :process 36, :time 45713119334, :error :connect, :index 15754}
{:type :invoke, :f :write, :value 1, :process 33, :time 45727658600, :index 15760}
{:type :fail, :f :write, :value 1, :process 33, :time 45729516079, :error :connect, :index 15761}
{:type :invoke, :f :cas, :value [4 2], :process 37, :time 45741448968, :index 15762}
{:type :fail, :f :cas, :value [4 2], :process 37, :time 45743144016, :error :connect, :index 15763}
{:type :invoke, :f :read, :value nil, :process 32, :time 45752786654, :index 15764}
{:type :invoke, :f :read, :value nil, :process 33, :time 45754810701, :index 15765}
{:type :fail, :f :read, :value nil, :process 32, :time 45755124777, :error :connect, :index 15766}
{:type :fail, :f :read, :value nil, :process 33, :time 45756852945, :error :connect, :index 15767}
{:type :invoke, :f :write, :value 1, :process 18, :time 45774436026, :index 15771}
{:type :invoke, :f :cas, :value [3 2], :process 34, :time 45775096226, :index 15772}
{:type :fail, :f :write, :value 1, :process 18, :time 45776092954, :error :connect, :index 15774}
{:type :fail, :f :cas, :value [3 2], :process 34, :time 45777001850, :error :connect, :index 15775}
{:type :invoke, :f :read, :value nil, :process 15, :time 45779766155, :index 15776}
{:type :fail, :f :read, :value nil, :process 15, :time 45781860309, :error :connect, :index 15777}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 45791313085, :index 15778}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 45793006521, :error :connect, :index 15779}
{:type :invoke, :f :cas, :value [2 1], :process 39, :time 45808661344, :index 15782}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 45809063295, :index 15783}
{:type :fail, :f :cas, :value [2 1], :process 39, :time 45810595188, :error :connect, :index 15784}
{:type :fail, :f :cas, :value [2 1], :process 11, :time 45810846225, :error :connect, :index 15785}
{:type :invoke, :f :read, :value nil, :process 11, :time 45814102412, :index 15787}
{:type :fail, :f :read, :value nil, :process 11, :time 45816141341, :error :connect, :index 15789}
{:type :invoke, :f :read, :value nil, :process 10, :time 45831299604, :index 15798}
{:type :fail, :f :read, :value nil, :process 10, :time 45833251857, :error :connect, :index 15800}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 45836518951, :index 15802}
{:type :fail, :f :cas, :value [1 2], :process 10, :time 45838336047, :error :connect, :index 15803}
{:type :invoke, :f :read, :value nil, :process 18, :time 45855362552, :index 15809}
{:type :fail, :f :read, :value nil, :process 18, :time 45857428582, :error :connect, :index 15812}
{:type :invoke, :f :read, :value nil, :process 36, :time 45874406809, :index 15814}
{:type :fail, :f :read, :value nil, :process 36, :time 45876483056, :error :connect, :index 15815}
{:type :invoke, :f :read, :value nil, :process 33, :time 45886118534, :index 15816}
{:type :fail, :f :read, :value nil, :process 33, :time 45888260001, :error :connect, :index 15818}
{:type :invoke, :f :read, :value nil, :process 32, :time 45905367509, :index 15824}
{:type :fail, :f :read, :value nil, :process 32, :time 45907275796, :error :connect, :index 15825}
{:type :invoke, :f :cas, :value [4 3], :process 36, :time 45926763380, :index 15830}
{:type :fail, :f :cas, :value [4 3], :process 36, :time 45928405916, :error :connect, :index 15831}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 45942420134, :index 15832}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 45944454705, :error :connect, :index 15833}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 45948125079, :index 15834}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 45949833380, :error :connect, :index 15835}
{:type :invoke, :f :read, :value nil, :process 11, :time 45953372640, :index 15836}
{:type :fail, :f :read, :value nil, :process 11, :time 45955397503, :error :connect, :index 15837}
{:type :invoke, :f :cas, :value [1 3], :process 39, :time 45956907529, :index 15838}
{:type :fail, :f :cas, :value [1 3], :process 39, :time 45958808269, :error :connect, :index 15839}
{:type :invoke, :f :cas, :value [4 1], :process 34, :time 45972258138, :index 15840}
{:type :fail, :f :cas, :value [4 1], :process 34, :time 45974288094, :error :connect, :index 15841}
{:type :invoke, :f :write, :value 0, :process 10, :time 45988604016, :index 15846}
{:type :fail, :f :write, :value 0, :process 10, :time 45990621448, :error :connect, :index 15847}
{:type :invoke, :f :cas, :value [1 2], :process 18, :time 46003686375, :index 15853}
{:type :fail, :f :cas, :value [1 2], :process 18, :time 46006724642, :error :connect, :index 15857}
{:type :invoke, :f :write, :value 3, :process 11, :time 46010675480, :index 15858}
{:type :fail, :f :write, :value 3, :process 11, :time 46012592380, :error :connect, :index 15859}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 46024909077, :index 15864}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 46026831765, :error :connect, :index 15865}
{:type :invoke, :f :read, :value nil, :process 36, :time 46029675426, :index 15866}
{:type :invoke, :f :cas, :value [0 1], :process 39, :time 46030272000, :index 15867}
{:type :fail, :f :read, :value nil, :process 36, :time 46031758590, :error :connect, :index 15868}
{:type :fail, :f :cas, :value [0 1], :process 39, :time 46032114179, :error :connect, :index 15869}
{:type :invoke, :f :read, :value nil, :process 36, :time 46035948326, :index 15870}
{:type :fail, :f :read, :value nil, :process 36, :time 46037848965, :error :connect, :index 15871}
{:type :invoke, :f :cas, :value [0 3], :process 36, :time 46055106209, :index 15876}
{:type :fail, :f :cas, :value [0 3], :process 36, :time 46056836989, :error :connect, :index 15877}
{:type :invoke, :f :cas, :value [0 4], :process 33, :time 46080507314, :index 15880}
{:type :invoke, :f :cas, :value [3 2], :process 34, :time 46081622654, :index 15881}
{:type :fail, :f :cas, :value [0 4], :process 33, :time 46082297683, :error :connect, :index 15882}
{:type :fail, :f :cas, :value [3 2], :process 34, :time 46083245587, :error :connect, :index 15883}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 46084166767, :index 15884}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 46086055196, :error :connect, :index 15886}
{:type :invoke, :f :write, :value 3, :process 39, :time 46089359613, :index 15888}
{:type :fail, :f :write, :value 3, :process 39, :time 46091114527, :error :connect, :index 15889}
{:type :invoke, :f :read, :value nil, :process 32, :time 46106539120, :index 15890}
{:type :fail, :f :read, :value nil, :process 32, :time 46108741436, :error :connect, :index 15891}
{:type :invoke, :f :write, :value 2, :process 15, :time 46115323813, :index 15892}
{:type :fail, :f :write, :value 2, :process 15, :time 46117381880, :error :connect, :index 15893}
{:type :invoke, :f :write, :value 3, :process 11, :time 46122853537, :index 15894}
{:type :fail, :f :write, :value 3, :process 11, :time 46124830473, :error :connect, :index 15895}
{:type :invoke, :f :write, :value 2, :process 10, :time 46126104357, :index 15896}
{:type :fail, :f :write, :value 2, :process 10, :time 46127890604, :error :connect, :index 15897}
{:type :invoke, :f :write, :value 4, :process 37, :time 46137730011, :index 15898}
{:type :fail, :f :write, :value 4, :process 37, :time 46141329899, :error :connect, :index 15899}
{:type :invoke, :f :cas, :value [2 0], :process 18, :time 46150990243, :index 15904}
{:type :fail, :f :cas, :value [2 0], :process 18, :time 46152650797, :error :connect, :index 15906}
{:type :invoke, :f :write, :value 2, :process 39, :time 46158378556, :index 15908}
{:type :fail, :f :write, :value 2, :process 39, :time 46160305363, :error :connect, :index 15910}
{:type :invoke, :f :cas, :value [1 4], :process 33, :time 46161551092, :index 15911}
{:type :fail, :f :cas, :value [1 4], :process 33, :time 46163603454, :error :connect, :index 15913}
{:type :invoke, :f :read, :value nil, :process 10, :time 46234175858, :index 15934}
{:type :fail, :f :read, :value nil, :process 10, :time 46235949896, :error :connect, :index 15935}
{:type :invoke, :f :cas, :value [4 4], :process 36, :time 46236122035, :index 15936}
{:type :fail, :f :cas, :value [4 4], :process 36, :time 46238181231, :error :connect, :index 15937}
{:type :invoke, :f :cas, :value [2 0], :process 10, :time 46246221753, :index 15940}
{:type :fail, :f :cas, :value [2 0], :process 10, :time 46248113835, :error :connect, :index 15941}
{:type :invoke, :f :read, :value nil, :process 34, :time 46248518047, :index 15942}
{:type :fail, :f :read, :value nil, :process 34, :time 46250198422, :error :connect, :index 15943}
{:type :invoke, :f :read, :value nil, :process 32, :time 46254008748, :index 15946}
{:type :invoke, :f :write, :value 2, :process 39, :time 46255574508, :index 15947}
{:type :fail, :f :read, :value nil, :process 32, :time 46255679712, :error :connect, :index 15948}
{:type :fail, :f :write, :value 2, :process 39, :time 46257657327, :error :connect, :index 15949}
{:type :invoke, :f :read, :value nil, :process 32, :time 46266927723, :index 15952}
{:type :fail, :f :read, :value nil, :process 32, :time 46268776141, :error :connect, :index 15953}
{:type :invoke, :f :write, :value 2, :process 36, :time 46273455093, :index 15955}
{:type :fail, :f :write, :value 2, :process 36, :time 46275504166, :error :connect, :index 15957}
{:type :invoke, :f :write, :value 0, :process 37, :time 46279597426, :index 15958}
{:type :fail, :f :write, :value 0, :process 37, :time 46281469985, :error :connect, :index 15960}
{:type :invoke, :f :read, :value nil, :process 15, :time 46304662210, :index 15962}
{:type :fail, :f :read, :value nil, :process 15, :time 46306578496, :error :connect, :index 15963}
{:type :invoke, :f :write, :value 3, :process 33, :time 46318876190, :index 15964}
{:type :invoke, :f :write, :value 0, :process 32, :time 46320059348, :index 15965}
{:type :invoke, :f :cas, :value [0 0], :process 11, :time 46321107574, :index 15966}
{:type :fail, :f :write, :value 0, :process 32, :time 46321809865, :error :connect, :index 15967}
{:type :fail, :f :write, :value 3, :process 33, :time 46322674411, :error :connect, :index 15968}
{:type :fail, :f :cas, :value [0 0], :process 11, :time 46323050595, :error :connect, :index 15969}
{:type :invoke, :f :cas, :value [3 1], :process 18, :time 46328919129, :index 15970}
{:type :fail, :f :cas, :value [3 1], :process 18, :time 46330810489, :error :connect, :index 15971}
{:type :invoke, :f :read, :value nil, :process 39, :time 46336919519, :index 15972}
{:type :fail, :f :read, :value nil, :process 39, :time 46340031120, :error :connect, :index 15973}
{:type :invoke, :f :cas, :value [1 0], :process 34, :time 46352909004, :index 15980}
{:type :invoke, :f :read, :value nil, :process 11, :time 46353315379, :index 15981}
{:type :fail, :f :cas, :value [1 0], :process 34, :time 46355108805, :error :connect, :index 15982}
{:type :fail, :f :read, :value nil, :process 11, :time 46355236985, :error :connect, :index 15983}
{:type :invoke, :f :read, :value nil, :process 37, :time 46367762643, :index 15991}
{:type :fail, :f :read, :value nil, :process 37, :time 46369811086, :error :connect, :index 15993}
{:type :invoke, :f :cas, :value [1 4], :process 32, :time 46371072781, :index 15995}
{:type :fail, :f :cas, :value [1 4], :process 32, :time 46372696872, :error :connect, :index 15997}
{:type :invoke, :f :write, :value 4, :process 10, :time 46373388396, :index 15998}
{:type :fail, :f :write, :value 4, :process 10, :time 46375340847, :error :connect, :index 15999}
{:type :invoke, :f :read, :value nil, :process 39, :time 46405315917, :index 16002}
{:type :fail, :f :read, :value nil, :process 39, :time 46406953214, :error :connect, :index 16003}
{:type :invoke, :f :cas, :value [0 4], :process 15, :time 46408881257, :index 16004}
{:type :fail, :f :cas, :value [0 4], :process 15, :time 46410480090, :error :connect, :index 16005}
{:type :invoke, :f :cas, :value [1 1], :process 33, :time 46420974113, :index 16008}
{:type :fail, :f :cas, :value [1 1], :process 33, :time 46422646478, :error :connect, :index 16009}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :invoke, :f :read, :value nil, :process 11, :time 46442516414, :index 16013}
{:type :invoke, :f :write, :value 0, :process 10, :time 46443602861, :index 16014}
{:type :fail, :f :write, :value 0, :process 10, :time 46445502237, :error :connect, :index 16015}
{:type :fail, :f :read, :value nil, :process 11, :time 46447212319, :error :connect, :index 16016}
{:type :invoke, :f :write, :value 2, :process 15, :time 46466754036, :index 16017}
{:type :fail, :f :write, :value 2, :process 15, :time 46468886575, :error :connect, :index 16019}
{:type :invoke, :f :cas, :value [3 4], :process 36, :time 46472773329, :index 16024}
{:type :fail, :f :cas, :value [3 4], :process 36, :time 46474647251, :error :connect, :index 16026}
{:type :invoke, :f :cas, :value [1 0], :process 18, :time 46490118468, :index 16027}
{:type :fail, :f :cas, :value [1 0], :process 18, :time 46491794981, :error :connect, :index 16028}
{:type :invoke, :f :write, :value 1, :process 37, :time 46492068464, :index 16029}
{:type :fail, :f :write, :value 1, :process 37, :time 46494148382, :error :connect, :index 16030}
{:type :invoke, :f :cas, :value [3 2], :process 34, :time 46514388353, :index 16037}
{:type :fail, :f :cas, :value [3 2], :process 34, :time 46516310421, :error :connect, :index 16039}
{:type :invoke, :f :read, :value nil, :process 33, :time 46525939986, :index 16041}
{:type :fail, :f :read, :value nil, :process 33, :time 46528024186, :error :connect, :index 16042}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :invoke, :f :cas, :value [2 0], :process 32, :time 46563958298, :index 16056}
{:type :fail, :f :cas, :value [2 0], :process 32, :time 46565827034, :error :connect, :index 16057}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 46577479573, :index 16061}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 46579285875, :error :connect, :index 16063}
{:type :invoke, :f :read, :value nil, :process 39, :time 46579258655, :index 16064}
{:type :fail, :f :read, :value nil, :process 39, :time 46581317292, :error :connect, :index 16065}
{:type :invoke, :f :read, :value nil, :process 10, :time 46624770660, :index 16072}
{:type :fail, :f :read, :value nil, :process 10, :time 46626842239, :error :connect, :index 16073}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
