{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :invoke, :f :read, :value nil, :process 20, :time 19001029830, :index 4388}
{:type :invoke, :f :read, :value nil, :process 6, :time 19002536481, :index 4389}
{:type :ok, :f :read, :value nil, :process 20, :time 19010271403, :index 4390}
{:type :ok, :f :read, :value nil, :process 6, :time 19010661722, :index 4391}
{:type :invoke, :f :read, :value nil, :process 8, :time 19032007626, :index 4396}
{:type :ok, :f :read, :value nil, :process 8, :time 19037580906, :index 4398}
{:type :invoke, :f :write, :value 0, :process 6, :time 19074895548, :index 4406}
{:type :invoke, :f :write, :value 3, :process 3, :time 19076619119, :index 4407}
{:type :ok, :f :write, :value 0, :process 6, :time 19081192482, :index 4408}
{:type :ok, :f :write, :value 3, :process 3, :time 19081629552, :index 4409}
{:type :invoke, :f :read, :value nil, :process 20, :time 19094543669, :index 4410}
{:type :invoke, :f :read, :value nil, :process 3, :time 19096861727, :index 4411}
{:type :ok, :f :read, :value 3, :process 20, :time 19101371264, :index 4412}
{:type :ok, :f :read, :value 3, :process 3, :time 19101398271, :index 4413}
{:type :invoke, :f :read, :value nil, :process 8, :time 19101130223, :index 4414}
{:type :ok, :f :read, :value 3, :process 8, :time 19105957539, :index 4415}
{:type :invoke, :f :write, :value 3, :process 1, :time 19118006565, :index 4416}
{:type :ok, :f :write, :value 3, :process 1, :time 19123506691, :index 4417}
{:type :invoke, :f :write, :value 3, :process 25, :time 19148600757, :index 4421}
{:type :ok, :f :write, :value 3, :process 25, :time 19158166217, :index 4423}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 19269246182, :index 4436}
{:type :invoke, :f :read, :value nil, :process 6, :time 19270473017, :index 4437}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 19274331058, :index 4438}
{:type :ok, :f :read, :value 3, :process 6, :time 19275519584, :index 4439}
{:type :invoke, :f :cas, :value [2 0], :process 25, :time 19277429927, :index 4440}
{:type :invoke, :f :cas, :value [4 4], :process 20, :time 19280644672, :index 4441}
{:type :fail, :f :cas, :value [2 0], :process 25, :time 19283453243, :index 4442}
{:type :fail, :f :cas, :value [4 4], :process 20, :time 19285820761, :index 4443}
{:type :invoke, :f :write, :value 3, :process 3, :time 19291644158, :index 4444}
{:type :ok, :f :write, :value 3, :process 3, :time 19296659820, :index 4445}
{:type :invoke, :f :cas, :value [3 4], :process 1, :time 19311774800, :index 4446}
{:type :ok, :f :cas, :value [3 4], :process 1, :time 19317132174, :index 4447}
{:type :invoke, :f :write, :value 4, :process 6, :time 19332779270, :index 4452}
{:type :invoke, :f :read, :value nil, :process 3, :time 19332983232, :index 4453}
{:type :ok, :f :read, :value 4, :process 3, :time 19337782472, :index 4455}
{:type :ok, :f :write, :value 4, :process 6, :time 19339559984, :index 4457}
{:type :invoke, :f :read, :value nil, :process 1, :time 19409402069, :index 4467}
{:type :ok, :f :read, :value 4, :process 1, :time 19414039231, :index 4469}
{:type :invoke, :f :write, :value 1, :process 20, :time 19424076497, :index 4471}
{:type :ok, :f :write, :value 1, :process 20, :time 19430279294, :index 4474}
{:type :invoke, :f :write, :value 1, :process 8, :time 19441594507, :index 4478}
{:type :ok, :f :write, :value 1, :process 8, :time 19446407420, :index 4479}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 19454042141, :index 4480}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 19459087617, :index 4481}
{:type :invoke, :f :read, :value nil, :process 25, :time 19470649800, :index 4484}
{:type :ok, :f :read, :value 1, :process 25, :time 19476208757, :index 4486}
{:type :invoke, :f :read, :value nil, :process 6, :time 19508812478, :index 4488}
{:type :ok, :f :read, :value 1, :process 6, :time 19514458223, :index 4489}
{:type :invoke, :f :read, :value nil, :process 1, :time 19538311876, :index 4493}
{:type :ok, :f :read, :value 1, :process 1, :time 19543823293, :index 4497}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 19563354618, :index 4502}
{:type :invoke, :f :read, :value nil, :process 20, :time 19563592693, :index 4503}
{:type :ok, :f :cas, :value [1 4], :process 3, :time 19569058339, :index 4504}
{:type :ok, :f :read, :value 4, :process 20, :time 19569347295, :index 4505}
{:type :invoke, :f :cas, :value [1 0], :process 25, :time 19573470182, :index 4507}
{:type :invoke, :f :write, :value 4, :process 3, :time 19575324498, :index 4509}
{:type :ok, :f :write, :value 4, :process 3, :time 19579937128, :index 4511}
{:type :fail, :f :cas, :value [1 0], :process 25, :time 19580975787, :index 4512}
{:type :invoke, :f :write, :value 3, :process 6, :time 19589763876, :index 4514}
{:type :ok, :f :write, :value 3, :process 6, :time 19594905672, :index 4516}
{:type :invoke, :f :write, :value 4, :process 1, :time 19600088186, :index 4518}
{:type :invoke, :f :cas, :value [2 2], :process 8, :time 19600692131, :index 4519}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 19609231242, :index 4521}
{:type :invoke, :f :write, :value 4, :process 20, :time 19702600706, :index 4523}
{:type :invoke, :f :write, :value 3, :process 6, :time 19761167362, :index 4526}
{:type :invoke, :f :cas, :value [2 4], :process 25, :time 19773251785, :index 4527}
{:type :ok, :f :write, :value 4, :process 20, :time 20059425022, :index 4532}
{:type :fail, :f :cas, :value [2 4], :process 25, :time 20060292012, :index 4535}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 20060839851, :index 4537}
{:type :ok, :f :write, :value 3, :process 6, :time 20060977441, :index 4538}
{:type :ok, :f :write, :value 4, :process 1, :time 20061193958, :index 4539}
{:type :fail, :f :cas, :value [2 2], :process 8, :time 20061896816, :index 4541}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 20064122335, :index 4542}
{:type :ok, :f :cas, :value [3 1], :process 3, :time 20068873380, :index 4543}
{:type :invoke, :f :write, :value 1, :process 25, :time 20120531417, :index 4550}
{:type :ok, :f :write, :value 1, :process 25, :time 20126352406, :index 4551}
{:type :invoke, :f :cas, :value [0 1], :process 8, :time 20137187851, :index 4553}
{:type :fail, :f :cas, :value [0 1], :process 8, :time 20142444421, :index 4554}
{:type :invoke, :f :read, :value nil, :process 1, :time 20199447922, :index 4563}
{:type :ok, :f :read, :value 1, :process 1, :time 20205384820, :index 4565}
{:type :invoke, :f :cas, :value [0 1], :process 25, :time 20208614606, :index 4567}
{:type :invoke, :f :write, :value 2, :process 6, :time 20209219537, :index 4568}
{:type :fail, :f :cas, :value [0 1], :process 25, :time 20214839811, :index 4569}
{:type :ok, :f :write, :value 2, :process 6, :time 20215130514, :index 4570}
{:type :invoke, :f :write, :value 4, :process 1, :time 20224642889, :index 4571}
{:type :invoke, :f :read, :value nil, :process 8, :time 20229709930, :index 4573}
{:type :invoke, :f :cas, :value [4 3], :process 25, :time 20233099791, :index 4574}
{:type :invoke, :f :write, :value 3, :process 20, :time 20242678663, :index 4575}
{:type :invoke, :f :read, :value nil, :process 3, :time 20247157713, :index 4576}
{:type :invoke, :f :cas, :value [4 2], :process 29, :time 20322789662, :index 4581}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 20367387163, :index 4582}
{:type :invoke, :f :cas, :value [3 3], :process 42, :time 20446058164, :index 4587}
{:type :invoke, :f :read, :value nil, :process 27, :time 20467544088, :index 4591}
{:type :invoke, :f :write, :value 4, :process 4, :time 20470783978, :index 4592}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :ok, :f :write, :value 4, :process 1, :time 20797491816, :index 4599}
{:type :ok, :f :read, :value 4, :process 8, :time 20798071753, :index 4601}
{:type :ok, :f :read, :value 3, :process 3, :time 20798498199, :index 4603}
{:type :fail, :f :cas, :value [1 3], :process 6, :time 20799142785, :index 4606}
{:type :ok, :f :cas, :value [4 3], :process 25, :time 20799188428, :index 4607}
{:type :ok, :f :write, :value 3, :process 20, :time 20799382164, :index 4608}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 20815121278, :index 4611}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 20821501858, :index 4612}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :invoke, :f :cas, :value [4 1], :process 20, :time 20829218384, :index 4615}
{:type :fail, :f :cas, :value [4 1], :process 20, :time 20834667847, :index 4617}
{:type :invoke, :f :write, :value 2, :process 25, :time 20892151769, :index 4624}
{:type :ok, :f :write, :value 2, :process 25, :time 20898908963, :index 4626}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 20921736169, :index 4629}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 20926831772, :index 4631}
{:type :invoke, :f :write, :value 3, :process 25, :time 20948178679, :index 4636}
{:type :invoke, :f :write, :value 0, :process 3, :time 20952092162, :index 4638}
{:type :ok, :f :write, :value 3, :process 25, :time 20953883021, :index 4639}
{:type :ok, :f :write, :value 0, :process 3, :time 20956182124, :index 4641}
{:type :invoke, :f :cas, :value [1 4], :process 1, :time 20962031250, :index 4642}
{:type :invoke, :f :read, :value nil, :process 8, :time 20966386717, :index 4644}
{:type :fail, :f :cas, :value [1 4], :process 1, :time 20967371275, :index 4645}
{:type :ok, :f :read, :value 0, :process 8, :time 20970479228, :index 4647}
{:type :invoke, :f :read, :value nil, :process 6, :time 21001766434, :index 4652}
{:type :invoke, :f :write, :value 4, :process 25, :time 21003166223, :index 4653}
{:type :ok, :f :read, :value 0, :process 6, :time 21006913627, :index 4654}
{:type :ok, :f :write, :value 4, :process 25, :time 21008863635, :index 4655}
{:type :invoke, :f :write, :value 1, :process 20, :time 21019923642, :index 4656}
{:type :invoke, :f :cas, :value [4 1], :process 8, :time 21021738007, :index 4657}
{:type :invoke, :f :write, :value 1, :process 6, :time 21023179435, :index 4658}
{:type :ok, :f :write, :value 1, :process 20, :time 21025256013, :index 4659}
{:type :fail, :f :cas, :value [4 1], :process 8, :time 21027687094, :index 4661}
{:type :ok, :f :write, :value 1, :process 6, :time 21027982505, :index 4662}
{:type :invoke, :f :cas, :value [1 2], :process 20, :time 21039509021, :index 4664}
{:type :ok, :f :cas, :value [1 2], :process 20, :time 21044915235, :index 4665}
{:type :invoke, :f :write, :value 2, :process 25, :time 21065119572, :index 4666}
{:type :ok, :f :write, :value 2, :process 25, :time 21071147975, :index 4667}
{:type :invoke, :f :write, :value 0, :process 3, :time 21105441137, :index 4672}
{:type :ok, :f :write, :value 0, :process 3, :time 21110170718, :index 4673}
{:type :invoke, :f :cas, :value [1 3], :process 1, :time 21125663282, :index 4677}
{:type :fail, :f :cas, :value [1 3], :process 1, :time 21130843557, :index 4679}
{:type :invoke, :f :read, :value nil, :process 6, :time 21140240231, :index 4680}
{:type :ok, :f :read, :value 0, :process 6, :time 21145248203, :index 4682}
{:type :invoke, :f :write, :value 2, :process 6, :time 21145436754, :index 4683}
{:type :invoke, :f :cas, :value [0 3], :process 20, :time 21148184731, :index 4685}
{:type :ok, :f :write, :value 2, :process 6, :time 21150565586, :index 4686}
{:type :fail, :f :cas, :value [0 3], :process 20, :time 21154271473, :index 4687}
{:type :invoke, :f :write, :value 1, :process 8, :time 21193966437, :index 4689}
{:type :invoke, :f :write, :value 4, :process 1, :time 21195119294, :index 4690}
{:type :ok, :f :write, :value 1, :process 8, :time 21198999272, :index 4692}
{:type :ok, :f :write, :value 4, :process 1, :time 21201882082, :index 4693}
{:type :invoke, :f :cas, :value [0 1], :process 25, :time 21223441241, :index 4696}
{:type :fail, :f :cas, :value [0 1], :process 25, :time 21228934960, :index 4697}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 21277131386, :index 4708}
{:type :invoke, :f :read, :value nil, :process 20, :time 21277549052, :index 4709}
{:type :ok, :f :cas, :value [4 0], :process 1, :time 21284133867, :index 4711}
{:type :ok, :f :read, :value 0, :process 20, :time 21284938259, :index 4713}
{:type :invoke, :f :read, :value nil, :process 3, :time 21289433513, :index 4715}
{:type :ok, :f :read, :value 0, :process 3, :time 21294228197, :index 4718}
{:type :invoke, :f :read, :value nil, :process 6, :time 21333863501, :index 4724}
{:type :ok, :f :read, :value 0, :process 6, :time 21338677664, :index 4725}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 21340492550, :index 4726}
{:type :fail, :f :cas, :value [1 2], :process 3, :time 21345074428, :index 4727}
{:type :invoke, :f :cas, :value [3 0], :process 8, :time 21347282902, :index 4728}
{:type :fail, :f :cas, :value [3 0], :process 8, :time 21352187490, :index 4729}
{:type :invoke, :f :write, :value 3, :process 8, :time 21380446805, :index 4730}
{:type :ok, :f :write, :value 3, :process 8, :time 21385428802, :index 4731}
{:type :invoke, :f :write, :value 4, :process 3, :time 21392330795, :index 4732}
{:type :invoke, :f :write, :value 3, :process 8, :time 21395684499, :index 4733}
{:type :ok, :f :write, :value 4, :process 3, :time 21396706355, :index 4734}
{:type :invoke, :f :write, :value 2, :process 1, :time 21397417456, :index 4735}
{:type :ok, :f :write, :value 3, :process 8, :time 21400352221, :index 4737}
{:type :ok, :f :write, :value 2, :process 1, :time 21402271927, :index 4738}
{:type :invoke, :f :cas, :value [3 1], :process 25, :time 21406200474, :index 4740}
{:type :fail, :f :cas, :value [3 1], :process 25, :time 21412311188, :index 4741}
{:type :invoke, :f :read, :value nil, :process 6, :time 21435911608, :index 4744}
{:type :ok, :f :read, :value 2, :process 6, :time 21440847288, :index 4746}
{:type :invoke, :f :read, :value nil, :process 20, :time 21478205579, :index 4757}
{:type :invoke, :f :read, :value nil, :process 25, :time 21480571427, :index 4758}
{:type :ok, :f :read, :value 2, :process 20, :time 21485308891, :index 4760}
{:type :ok, :f :read, :value 2, :process 25, :time 21485957356, :index 4762}
{:type :invoke, :f :cas, :value [0 2], :process 6, :time 21514040809, :index 4768}
{:type :fail, :f :cas, :value [0 2], :process 6, :time 21519535144, :index 4770}
{:type :invoke, :f :write, :value 2, :process 3, :time 21568968943, :index 4775}
{:type :ok, :f :write, :value 2, :process 3, :time 21573758969, :index 4778}
{:type :invoke, :f :cas, :value [1 4], :process 1, :time 21580524420, :index 4780}
{:type :fail, :f :cas, :value [1 4], :process 1, :time 21585953791, :index 4781}
{:type :invoke, :f :read, :value nil, :process 3, :time 21598021586, :index 4787}
{:type :invoke, :f :read, :value nil, :process 8, :time 21598707090, :index 4788}
{:type :ok, :f :read, :value 2, :process 3, :time 21603269899, :index 4791}
{:type :ok, :f :read, :value 2, :process 8, :time 21604609863, :index 4792}
{:type :invoke, :f :read, :value nil, :process 25, :time 21617248255, :index 4796}
{:type :ok, :f :read, :value 2, :process 25, :time 21622242407, :index 4797}
{:type :invoke, :f :cas, :value [2 2], :process 20, :time 21641557326, :index 4799}
{:type :invoke, :f :write, :value 2, :process 6, :time 21669804631, :index 4802}
{:type :invoke, :f :read, :value nil, :process 1, :time 21670260302, :index 4803}
{:type :invoke, :f :write, :value 3, :process 3, :time 21733531071, :index 4805}
{:type :invoke, :f :read, :value nil, :process 8, :time 21744860591, :index 4807}
{:type :ok, :f :read, :value 2, :process 27, :time 24238881284, :index 4811}
{:type :fail, :f :cas, :value [3 3], :process 42, :time 24239016637, :index 4812}
{:type :ok, :f :write, :value 4, :process 4, :time 24240008420, :index 4815}
{:type :fail, :f :cas, :value [4 2], :process 29, :time 24240986785, :index 4818}
{:type :ok, :f :write, :value 2, :process 6, :time 24241499910, :index 4820}
{:type :fail, :f :cas, :value [2 2], :process 20, :time 24242188648, :index 4822}
{:type :ok, :f :read, :value 3, :process 8, :time 24242681896, :index 4823}
{:type :ok, :f :write, :value 3, :process 3, :time 24243404131, :index 4827}
{:type :ok, :f :read, :value 2, :process 1, :time 24243630742, :index 4828}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
