{:type :invoke, :f :write, :value 2, :process 6, :time 74608711, :index 4}
{:type :invoke, :f :cas, :value [2 0], :process 7, :time 79566547, :index 6}
{:type :ok, :f :write, :value 2, :process 6, :time 80050673, :index 7}
{:type :ok, :f :cas, :value [2 0], :process 7, :time 84094124, :index 9}
{:type :invoke, :f :write, :value 1, :process 8, :time 87640176, :index 11}
{:type :ok, :f :write, :value 1, :process 8, :time 95425102, :index 13}
{:type :invoke, :f :read, :value nil, :process 3, :time 99979190, :index 14}
{:type :ok, :f :read, :value 1, :process 3, :time 104212054, :index 15}
{:type :invoke, :f :write, :value 0, :process 2, :time 112558212, :index 16}
{:type :ok, :f :write, :value 0, :process 2, :time 117778992, :index 18}
{:type :invoke, :f :read, :value nil, :process 0, :time 121787068, :index 21}
{:type :invoke, :f :write, :value 2, :process 7, :time 122358091, :index 22}
{:type :ok, :f :read, :value 0, :process 0, :time 127710640, :index 24}
{:type :ok, :f :write, :value 2, :process 7, :time 128031513, :index 25}
{:type :invoke, :f :read, :value nil, :process 1, :time 127992869, :index 26}
{:type :ok, :f :read, :value 2, :process 1, :time 132455152, :index 27}
{:type :invoke, :f :cas, :value [2 0], :process 9, :time 136820604, :index 28}
{:type :ok, :f :cas, :value [2 0], :process 9, :time 143804210, :index 29}
{:type :invoke, :f :write, :value 3, :process 2, :time 149061840, :index 30}
{:type :ok, :f :write, :value 3, :process 2, :time 153918396, :index 31}
{:type :invoke, :f :cas, :value [1 4], :process 2, :time 157196116, :index 34}
{:type :fail, :f :cas, :value [1 4], :process 2, :time 162956433, :index 37}
{:type :invoke, :f :cas, :value [1 4], :process 2, :time 185223426, :index 40}
{:type :invoke, :f :read, :value nil, :process 9, :time 190076538, :index 43}
{:type :fail, :f :cas, :value [1 4], :process 2, :time 190978248, :index 44}
{:type :ok, :f :read, :value 3, :process 9, :time 194474812, :index 48}
{:type :invoke, :f :cas, :value [4 3], :process 5, :time 198060924, :index 50}
{:type :fail, :f :cas, :value [4 3], :process 5, :time 203663614, :index 52}
{:type :invoke, :f :write, :value 3, :process 4, :time 205095474, :index 53}
{:type :ok, :f :write, :value 3, :process 4, :time 210062574, :index 55}
{:type :invoke, :f :read, :value nil, :process 0, :time 215961127, :index 56}
{:type :ok, :f :read, :value 3, :process 0, :time 221556443, :index 57}
{:type :invoke, :f :read, :value nil, :process 6, :time 257338482, :index 58}
{:type :ok, :f :read, :value 3, :process 6, :time 263205633, :index 61}
{:type :invoke, :f :write, :value 0, :process 8, :time 276695187, :index 65}
{:type :ok, :f :write, :value 0, :process 8, :time 281837670, :index 66}
{:type :invoke, :f :write, :value 1, :process 3, :time 287475753, :index 69}
{:type :ok, :f :write, :value 1, :process 3, :time 292997850, :index 72}
{:type :invoke, :f :read, :value nil, :process 1, :time 300710285, :index 74}
{:type :ok, :f :read, :value 1, :process 1, :time 305930825, :index 75}
{:type :invoke, :f :cas, :value [4 0], :process 7, :time 318214229, :index 79}
{:type :fail, :f :cas, :value [4 0], :process 7, :time 324425034, :index 82}
{:type :invoke, :f :write, :value 3, :process 4, :time 327314007, :index 83}
{:type :ok, :f :write, :value 3, :process 4, :time 332561669, :index 86}
{:type :invoke, :f :cas, :value [4 0], :process 9, :time 332736478, :index 87}
{:type :fail, :f :cas, :value [4 0], :process 9, :time 337490459, :index 90}
{:type :invoke, :f :read, :value nil, :process 8, :time 342110455, :index 93}
{:type :ok, :f :read, :value 3, :process 8, :time 346186100, :index 95}
{:type :invoke, :f :write, :value 0, :process 2, :time 350245776, :index 96}
{:type :invoke, :f :write, :value 0, :process 5, :time 351969740, :index 97}
{:type :ok, :f :write, :value 0, :process 2, :time 355008312, :index 98}
{:type :invoke, :f :read, :value nil, :process 3, :time 355265359, :index 99}
{:type :ok, :f :write, :value 0, :process 5, :time 357115807, :index 100}
{:type :ok, :f :read, :value 0, :process 3, :time 359687784, :index 101}
{:type :invoke, :f :read, :value nil, :process 2, :time 363269089, :index 103}
{:type :ok, :f :read, :value 0, :process 2, :time 368430126, :index 107}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 371485253, :index 109}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 377245208, :index 111}
{:type :invoke, :f :write, :value 1, :process 1, :time 384208467, :index 112}
{:type :ok, :f :write, :value 1, :process 1, :time 388832398, :index 113}
{:type :invoke, :f :write, :value 3, :process 5, :time 397385806, :index 114}
{:type :ok, :f :write, :value 3, :process 5, :time 403192683, :index 115}
{:type :invoke, :f :read, :value nil, :process 0, :time 411810861, :index 116}
{:type :ok, :f :read, :value 3, :process 0, :time 417569237, :index 118}
{:type :invoke, :f :write, :value 1, :process 6, :time 418506441, :index 119}
{:type :ok, :f :write, :value 1, :process 6, :time 423522021, :index 121}
{:type :invoke, :f :read, :value nil, :process 4, :time 463814720, :index 129}
{:type :invoke, :f :write, :value 1, :process 9, :time 465756921, :index 133}
{:type :ok, :f :read, :value 1, :process 4, :time 469196220, :index 134}
{:type :ok, :f :write, :value 1, :process 9, :time 471451690, :index 139}
{:type :invoke, :f :write, :value 1, :process 6, :time 473780107, :index 140}
{:type :ok, :f :write, :value 1, :process 6, :time 478501707, :index 143}
{:type :invoke, :f :read, :value nil, :process 7, :time 480834243, :index 144}
{:type :ok, :f :read, :value 1, :process 7, :time 486222920, :index 146}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 532441596, :index 154}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 534466666, :index 155}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 538228479, :index 157}
{:type :invoke, :f :read, :value nil, :process 7, :time 538498289, :index 158}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 541196768, :index 160}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 541841291, :index 161}
{:type :invoke, :f :write, :value 4, :process 4, :time 542451421, :index 162}
{:type :ok, :f :read, :value 1, :process 7, :time 543215582, :index 163}
{:type :invoke, :f :read, :value nil, :process 3, :time 544945604, :index 164}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 547165142, :index 166}
{:type :ok, :f :write, :value 4, :process 4, :time 548143733, :index 167}
{:type :ok, :f :read, :value 4, :process 3, :time 549480613, :index 168}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 564086387, :index 171}
{:type :fail, :f :cas, :value [1 2], :process 1, :time 569648284, :index 172}
{:type :invoke, :f :read, :value nil, :process 0, :time 579822675, :index 174}
{:type :invoke, :f :read, :value nil, :process 5, :time 580470104, :index 175}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 586755079, :index 176}
{:type :ok, :f :read, :value 4, :process 5, :time 587456678, :index 177}
{:type :ok, :f :read, :value 4, :process 0, :time 587574277, :index 178}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 591977785, :index 179}
{:type :invoke, :f :cas, :value [4 1], :process 9, :time 599691845, :index 180}
{:type :ok, :f :cas, :value [4 1], :process 9, :time 605114033, :index 181}
{:type :invoke, :f :write, :value 1, :process 0, :time 607835362, :index 182}
{:type :ok, :f :write, :value 1, :process 0, :time 613414463, :index 184}
{:type :invoke, :f :write, :value 3, :process 3, :time 634745648, :index 190}
{:type :ok, :f :write, :value 3, :process 3, :time 639508472, :index 191}
{:type :invoke, :f :cas, :value [2 2], :process 2, :time 648415795, :index 194}
{:type :fail, :f :cas, :value [2 2], :process 2, :time 653856405, :index 196}
{:type :invoke, :f :read, :value nil, :process 1, :time 654916018, :index 197}
{:type :invoke, :f :read, :value nil, :process 8, :time 656490859, :index 200}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 659676074, :index 202}
{:type :ok, :f :read, :value 3, :process 1, :time 660028187, :index 203}
{:type :ok, :f :read, :value 3, :process 8, :time 663051945, :index 205}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 665863313, :index 208}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 687404550, :index 219}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 693284552, :index 222}
{:type :invoke, :f :read, :value nil, :process 5, :time 699703905, :index 224}
{:type :ok, :f :read, :value 3, :process 5, :time 704867767, :index 225}
{:type :invoke, :f :read, :value nil, :process 7, :time 713480803, :index 227}
{:type :invoke, :f :read, :value nil, :process 2, :time 719168082, :index 230}
{:type :ok, :f :read, :value 3, :process 7, :time 719570228, :index 231}
{:type :ok, :f :read, :value 3, :process 2, :time 724471036, :index 233}
{:type :invoke, :f :read, :value nil, :process 5, :time 725123905, :index 234}
{:type :ok, :f :read, :value 3, :process 5, :time 730695657, :index 236}
{:type :invoke, :f :cas, :value [4 1], :process 4, :time 757577902, :index 244}
{:type :invoke, :f :read, :value nil, :process 1, :time 760289185, :index 245}
{:type :fail, :f :cas, :value [4 1], :process 4, :time 762965308, :index 246}
{:type :invoke, :f :read, :value nil, :process 3, :time 764767075, :index 247}
{:type :ok, :f :read, :value 3, :process 1, :time 766261172, :index 248}
{:type :ok, :f :read, :value 3, :process 3, :time 770104892, :index 250}
{:type :invoke, :f :write, :value 2, :process 6, :time 773251141, :index 251}
{:type :ok, :f :write, :value 2, :process 6, :time 778403218, :index 255}
{:type :invoke, :f :cas, :value [0 4], :process 9, :time 778389595, :index 256}
{:type :invoke, :f :write, :value 4, :process 0, :time 781122759, :index 257}
{:type :fail, :f :cas, :value [0 4], :process 9, :time 785075381, :index 261}
{:type :ok, :f :write, :value 4, :process 0, :time 786894035, :index 262}
{:type :invoke, :f :write, :value 2, :process 7, :time 795814388, :index 264}
{:type :ok, :f :write, :value 2, :process 7, :time 801549201, :index 265}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 823695809, :index 269}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 825227182, :index 270}
{:type :invoke, :f :cas, :value [3 2], :process 1, :time 827719672, :index 273}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 829044741, :index 274}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 830414021, :index 275}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 830314572, :index 276}
{:type :fail, :f :cas, :value [3 2], :process 1, :time 833226876, :index 277}
{:type :ok, :f :cas, :value [2 1], :process 8, :time 835281056, :index 279}
{:type :invoke, :f :read, :value nil, :process 9, :time 841334878, :index 281}
{:type :ok, :f :read, :value 1, :process 9, :time 846921660, :index 283}
{:type :invoke, :f :write, :value 1, :process 5, :time 850965799, :index 285}
{:type :ok, :f :write, :value 1, :process 5, :time 856939347, :index 288}
{:type :invoke, :f :write, :value 2, :process 1, :time 884486275, :index 298}
{:type :ok, :f :write, :value 2, :process 1, :time 889463082, :index 300}
{:type :invoke, :f :read, :value nil, :process 3, :time 900365894, :index 302}
{:type :invoke, :f :read, :value nil, :process 2, :time 900720927, :index 303}
{:type :ok, :f :read, :value 2, :process 2, :time 906898843, :index 304}
{:type :ok, :f :read, :value 2, :process 3, :time 907063098, :index 305}
{:type :invoke, :f :cas, :value [2 0], :process 9, :time 908207366, :index 306}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 909668989, :index 307}
{:type :ok, :f :cas, :value [2 0], :process 9, :time 913580638, :index 309}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 915350375, :index 310}
{:type :invoke, :f :read, :value nil, :process 5, :time 923200651, :index 312}
{:type :ok, :f :read, :value 0, :process 5, :time 929218311, :index 313}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 937612080, :index 314}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 946367576, :index 319}
{:type :invoke, :f :read, :value nil, :process 6, :time 965321983, :index 325}
{:type :ok, :f :read, :value 0, :process 6, :time 970239424, :index 328}
{:type :invoke, :f :read, :value nil, :process 0, :time 976151060, :index 331}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 981317160, :index 334}
{:type :ok, :f :read, :value 0, :process 0, :time 982191150, :index 335}
{:type :invoke, :f :read, :value nil, :process 7, :time 983851933, :index 337}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 986877403, :index 338}
{:type :ok, :f :read, :value 0, :process 7, :time 988942815, :index 339}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 990551475, :index 340}
{:type :ok, :f :cas, :value [0 2], :process 8, :time 995336049, :index 341}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 1004613605, :index 342}
{:type :invoke, :f :write, :value 2, :process 8, :time 1005607773, :index 343}
{:type :ok, :f :write, :value 2, :process 8, :time 1010374474, :index 344}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 1010767342, :index 345}
{:type :invoke, :f :cas, :value [1 3], :process 9, :time 1012854547, :index 346}
{:type :invoke, :f :read, :value nil, :process 1, :time 1013730765, :index 347}
{:type :fail, :f :cas, :value [1 3], :process 9, :time 1018881029, :index 349}
{:type :ok, :f :read, :value 2, :process 1, :time 1019196010, :index 350}
{:type :invoke, :f :read, :value nil, :process 0, :time 1052455287, :index 358}
{:type :ok, :f :read, :value 2, :process 0, :time 1058328751, :index 359}
{:type :invoke, :f :read, :value nil, :process 4, :time 1065040680, :index 360}
{:type :ok, :f :read, :value 2, :process 4, :time 1070245653, :index 361}
{:type :invoke, :f :write, :value 1, :process 9, :time 1070226767, :index 362}
{:type :ok, :f :write, :value 1, :process 9, :time 1075258154, :index 364}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 1095505465, :index 371}
{:type :invoke, :f :write, :value 4, :process 2, :time 1098110796, :index 373}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 1101340333, :index 375}
{:type :ok, :f :write, :value 4, :process 2, :time 1103374256, :index 376}
{:type :invoke, :f :read, :value nil, :process 1, :time 1105459665, :index 379}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 1105500400, :index 380}
{:type :ok, :f :read, :value 4, :process 1, :time 1110753484, :index 383}
{:type :fail, :f :cas, :value [1 0], :process 6, :time 1111814877, :index 385}
{:type :invoke, :f :read, :value nil, :process 7, :time 1127194641, :index 387}
{:type :ok, :f :read, :value 4, :process 7, :time 1131967409, :index 389}
{:type :invoke, :f :read, :value nil, :process 3, :time 1157147206, :index 392}
{:type :ok, :f :read, :value 4, :process 3, :time 1161712012, :index 396}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 1179588043, :index 406}
{:type :invoke, :f :write, :value 3, :process 8, :time 1181665903, :index 407}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 1185578180, :index 410}
{:type :ok, :f :write, :value 3, :process 8, :time 1186859263, :index 411}
{:type :invoke, :f :read, :value nil, :process 0, :time 1196612554, :index 413}
{:type :ok, :f :read, :value 3, :process 0, :time 1202401651, :index 415}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
