{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :invoke, :f :read, :value nil, :process 21, :time 37492594836, :index 6770}
{:type :invoke, :f :read, :value nil, :process 23, :time 37492944610, :index 6771}
{:type :ok, :f :read, :value nil, :process 21, :time 37498512963, :index 6773}
{:type :ok, :f :read, :value nil, :process 23, :time 37499949864, :index 6774}
{:type :invoke, :f :write, :value 4, :process 23, :time 37505288377, :index 6777}
{:type :ok, :f :write, :value 4, :process 23, :time 37510351924, :index 6779}
{:type :invoke, :f :cas, :value [0 2], :process 45, :time 37548851320, :index 6783}
{:type :invoke, :f :read, :value nil, :process 6, :time 37616630649, :index 6785}
{:type :invoke, :f :cas, :value [3 3], :process 40, :time 37641498634, :index 6786}
{:type :invoke, :f :cas, :value [4 1], :process 21, :time 37682771346, :index 6788}
{:type :invoke, :f :read, :value nil, :process 23, :time 37699604039, :index 6789}
{:type :ok, :f :cas, :value [4 1], :process 21, :time 37915621342, :index 6792}
{:type :ok, :f :read, :value 4, :process 6, :time 37915911213, :index 6794}
{:type :fail, :f :cas, :value [0 2], :process 45, :time 37916727797, :index 6797}
{:type :ok, :f :read, :value 1, :process 23, :time 37917209410, :index 6798}
{:type :fail, :f :cas, :value [3 3], :process 40, :time 37917385110, :index 6799}
{:type :invoke, :f :write, :value 2, :process 28, :time 37957890067, :index 6802}
{:type :ok, :f :write, :value 2, :process 28, :time 37963177941, :index 6803}
{:type :invoke, :f :cas, :value [4 4], :process 28, :time 37996453898, :index 6804}
{:type :fail, :f :cas, :value [4 4], :process 28, :time 38002439652, :index 6805}
{:type :invoke, :f :read, :value nil, :process 28, :time 38003721853, :index 6806}
{:type :invoke, :f :read, :value nil, :process 45, :time 38005255254, :index 6807}
{:type :ok, :f :read, :value 2, :process 45, :time 38010104099, :index 6808}
{:type :ok, :f :read, :value 2, :process 28, :time 38010324891, :index 6809}
{:type :invoke, :f :write, :value 0, :process 40, :time 38011618988, :index 6810}
{:type :ok, :f :write, :value 0, :process 40, :time 38016315888, :index 6811}
{:type :invoke, :f :read, :value nil, :process 23, :time 38086512255, :index 6815}
{:type :ok, :f :read, :value 0, :process 23, :time 38091720845, :index 6817}
{:type :invoke, :f :write, :value 0, :process 6, :time 38096940220, :index 6819}
{:type :ok, :f :write, :value 0, :process 6, :time 38101562844, :index 6821}
{:type :invoke, :f :write, :value 4, :process 21, :time 38108850886, :index 6825}
{:type :ok, :f :write, :value 4, :process 21, :time 38113873231, :index 6828}
{:type :invoke, :f :read, :value nil, :process 6, :time 38114816946, :index 6829}
{:type :ok, :f :read, :value 4, :process 6, :time 38119828709, :index 6831}
{:type :invoke, :f :read, :value nil, :process 28, :time 38176572616, :index 6832}
{:type :invoke, :f :write, :value 4, :process 21, :time 38178162461, :index 6833}
{:type :ok, :f :read, :value 4, :process 28, :time 38181986559, :index 6834}
{:type :ok, :f :write, :value 4, :process 21, :time 38184842939, :index 6835}
{:type :invoke, :f :read, :value nil, :process 45, :time 38188463744, :index 6836}
{:type :invoke, :f :write, :value 2, :process 40, :time 38193580872, :index 6837}
{:type :ok, :f :read, :value 4, :process 45, :time 38194471632, :index 6838}
{:type :ok, :f :write, :value 2, :process 40, :time 38198000288, :index 6839}
{:type :invoke, :f :cas, :value [0 2], :process 23, :time 38199977046, :index 6840}
{:type :fail, :f :cas, :value [0 2], :process 23, :time 38206252099, :index 6841}
{:type :invoke, :f :write, :value 3, :process 6, :time 38214044288, :index 6844}
{:type :ok, :f :write, :value 3, :process 6, :time 38219071707, :index 6845}
{:type :invoke, :f :write, :value 3, :process 28, :time 38220278255, :index 6846}
{:type :ok, :f :write, :value 3, :process 28, :time 38224862572, :index 6848}
{:type :invoke, :f :write, :value 3, :process 40, :time 38274285664, :index 6850}
{:type :invoke, :f :cas, :value [1 0], :process 45, :time 38277733437, :index 6852}
{:type :ok, :f :write, :value 3, :process 40, :time 38278922558, :index 6853}
{:type :invoke, :f :write, :value 0, :process 28, :time 38282198925, :index 6855}
{:type :fail, :f :cas, :value [1 0], :process 45, :time 38283118642, :index 6856}
{:type :invoke, :f :read, :value nil, :process 40, :time 38287196297, :index 6857}
{:type :ok, :f :write, :value 0, :process 28, :time 38288059297, :index 6858}
{:type :ok, :f :read, :value 0, :process 40, :time 38291420530, :index 6859}
{:type :invoke, :f :read, :value nil, :process 6, :time 38293330246, :index 6861}
{:type :ok, :f :read, :value 0, :process 6, :time 38298664796, :index 6864}
{:type :invoke, :f :read, :value nil, :process 21, :time 38301129698, :index 6865}
{:type :invoke, :f :read, :value nil, :process 23, :time 38305513281, :index 6867}
{:type :ok, :f :read, :value 0, :process 21, :time 38307296107, :index 6868}
{:type :ok, :f :read, :value 0, :process 23, :time 38310726198, :index 6869}
{:type :invoke, :f :cas, :value [4 4], :process 40, :time 38320672916, :index 6870}
{:type :invoke, :f :read, :value nil, :process 6, :time 38322930882, :index 6872}
{:type :invoke, :f :cas, :value [0 3], :process 28, :time 38324318694, :index 6873}
{:type :fail, :f :cas, :value [4 4], :process 40, :time 38326527921, :index 6875}
{:type :ok, :f :read, :value 0, :process 6, :time 38327953155, :index 6876}
{:type :ok, :f :cas, :value [0 3], :process 28, :time 38329962140, :index 6877}
{:type :invoke, :f :read, :value nil, :process 45, :time 38349379785, :index 6880}
{:type :ok, :f :read, :value 3, :process 45, :time 38353560582, :index 6881}
{:type :invoke, :f :cas, :value [1 2], :process 23, :time 38376983544, :index 6884}
{:type :fail, :f :cas, :value [1 2], :process 23, :time 38383722506, :index 6887}
{:type :invoke, :f :read, :value nil, :process 6, :time 38436206308, :index 6890}
{:type :invoke, :f :read, :value nil, :process 21, :time 38443618460, :index 6891}
{:type :ok, :f :read, :value 3, :process 6, :time 38451054457, :index 6892}
{:type :ok, :f :read, :value 3, :process 21, :time 38451595014, :index 6893}
{:type :invoke, :f :write, :value 1, :process 28, :time 38462278053, :index 6894}
{:type :invoke, :f :cas, :value [4 3], :process 23, :time 38463986163, :index 6895}
{:type :ok, :f :write, :value 1, :process 28, :time 38468774236, :index 6896}
{:type :fail, :f :cas, :value [4 3], :process 23, :time 38469647299, :index 6897}
{:type :invoke, :f :write, :value 0, :process 21, :time 38488901573, :index 6900}
{:type :invoke, :f :write, :value 0, :process 28, :time 38489227976, :index 6901}
{:type :ok, :f :write, :value 0, :process 21, :time 38495575762, :index 6902}
{:type :ok, :f :write, :value 0, :process 28, :time 38496108940, :index 6903}
{:type :invoke, :f :write, :value 4, :process 40, :time 38507811377, :index 6905}
{:type :ok, :f :write, :value 4, :process 40, :time 38513466127, :index 6907}
{:type :invoke, :f :write, :value 3, :process 45, :time 38516826108, :index 6910}
{:type :invoke, :f :read, :value nil, :process 21, :time 38517882156, :index 6911}
{:type :invoke, :f :cas, :value [1 2], :process 23, :time 38519907867, :index 6912}
{:type :ok, :f :write, :value 3, :process 45, :time 38522376595, :index 6913}
{:type :ok, :f :read, :value 3, :process 21, :time 38523188122, :index 6914}
{:type :fail, :f :cas, :value [1 2], :process 23, :time 38525554481, :index 6915}
{:type :invoke, :f :read, :value nil, :process 40, :time 38535728202, :index 6916}
{:type :ok, :f :read, :value 3, :process 40, :time 38540839988, :index 6917}
{:type :invoke, :f :write, :value 1, :process 40, :time 38610102534, :index 6924}
{:type :ok, :f :write, :value 1, :process 40, :time 38615054602, :index 6925}
{:type :invoke, :f :write, :value 1, :process 6, :time 38627339672, :index 6928}
{:type :ok, :f :write, :value 1, :process 6, :time 38632409904, :index 6929}
{:type :invoke, :f :read, :value nil, :process 28, :time 38648400897, :index 6931}
{:type :ok, :f :read, :value 1, :process 28, :time 38653779439, :index 6933}
{:type :invoke, :f :read, :value nil, :process 23, :time 38673852745, :index 6935}
{:type :ok, :f :read, :value 1, :process 23, :time 38679029115, :index 6937}
{:type :invoke, :f :read, :value nil, :process 45, :time 38681641935, :index 6938}
{:type :ok, :f :read, :value 1, :process 45, :time 38686537175, :index 6939}
{:type :invoke, :f :write, :value 2, :process 28, :time 38688036148, :index 6940}
{:type :ok, :f :write, :value 2, :process 28, :time 38693515491, :index 6941}
{:type :invoke, :f :write, :value 2, :process 21, :time 38712441229, :index 6942}
{:type :invoke, :f :write, :value 1, :process 6, :time 38716676001, :index 6944}
{:type :ok, :f :write, :value 2, :process 21, :time 38717830304, :index 6945}
{:type :invoke, :f :write, :value 4, :process 40, :time 38719315615, :index 6946}
{:type :ok, :f :write, :value 1, :process 6, :time 38722112999, :index 6948}
{:type :ok, :f :write, :value 4, :process 40, :time 38723551332, :index 6949}
{:type :invoke, :f :cas, :value [3 1], :process 45, :time 38747801499, :index 6955}
{:type :fail, :f :cas, :value [3 1], :process 45, :time 38752621781, :index 6957}
{:type :invoke, :f :cas, :value [1 3], :process 28, :time 38784779105, :index 6961}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 38789388503, :index 6962}
{:type :fail, :f :cas, :value [1 3], :process 28, :time 38790613282, :index 6964}
{:type :fail, :f :cas, :value [0 1], :process 6, :time 38795070461, :index 6965}
{:type :invoke, :f :write, :value 1, :process 23, :time 38813278592, :index 6968}
{:type :invoke, :f :write, :value 0, :process 40, :time 38813817039, :index 6969}
{:type :ok, :f :write, :value 1, :process 23, :time 38818417476, :index 6970}
{:type :ok, :f :write, :value 0, :process 40, :time 38818787114, :index 6971}
{:type :invoke, :f :write, :value 3, :process 21, :time 38842088408, :index 6972}
{:type :ok, :f :write, :value 3, :process 21, :time 38848585846, :index 6973}
{:type :invoke, :f :write, :value 1, :process 6, :time 38881331305, :index 6978}
{:type :invoke, :f :write, :value 1, :process 23, :time 38886688907, :index 6979}
{:type :ok, :f :write, :value 1, :process 6, :time 38886899192, :index 6980}
{:type :ok, :f :write, :value 1, :process 23, :time 38892013084, :index 6981}
{:type :invoke, :f :write, :value 4, :process 23, :time 38898271558, :index 6983}
{:type :ok, :f :write, :value 4, :process 23, :time 38903615685, :index 6985}
{:type :invoke, :f :write, :value 1, :process 28, :time 38921855359, :index 6986}
{:type :invoke, :f :write, :value 2, :process 23, :time 38925866142, :index 6987}
{:type :ok, :f :write, :value 1, :process 28, :time 38927329068, :index 6988}
{:type :ok, :f :write, :value 2, :process 23, :time 38930670537, :index 6989}
{:type :invoke, :f :read, :value nil, :process 21, :time 38941841621, :index 6991}
{:type :invoke, :f :cas, :value [2 2], :process 28, :time 38945613576, :index 6993}
{:type :ok, :f :read, :value 2, :process 21, :time 38946545410, :index 6994}
{:type :invoke, :f :write, :value 3, :process 45, :time 38947922183, :index 6995}
{:type :ok, :f :cas, :value [2 2], :process 28, :time 38950437376, :index 6996}
{:type :ok, :f :write, :value 3, :process 45, :time 38952193413, :index 6997}
{:type :invoke, :f :write, :value 2, :process 40, :time 38985040606, :index 7002}
{:type :ok, :f :write, :value 2, :process 40, :time 38989366106, :index 7003}
{:type :invoke, :f :read, :value nil, :process 6, :time 39001160290, :index 7004}
{:type :ok, :f :read, :value 2, :process 6, :time 39006401352, :index 7006}
{:type :invoke, :f :cas, :value [1 1], :process 28, :time 39025724551, :index 7008}
{:type :fail, :f :cas, :value [1 1], :process 28, :time 39032125292, :index 7009}
{:type :invoke, :f :cas, :value [1 3], :process 23, :time 39032928003, :index 7010}
{:type :fail, :f :cas, :value [1 3], :process 23, :time 39038691525, :index 7011}
{:type :invoke, :f :write, :value 2, :process 6, :time 39086670008, :index 7014}
{:type :ok, :f :write, :value 2, :process 6, :time 39091501433, :index 7015}
{:type :invoke, :f :write, :value 0, :process 45, :time 39098446449, :index 7016}
{:type :ok, :f :write, :value 0, :process 45, :time 39103465908, :index 7018}
{:type :invoke, :f :read, :value nil, :process 21, :time 39137807729, :index 7023}
{:type :ok, :f :read, :value 0, :process 21, :time 39142832319, :index 7025}
{:type :invoke, :f :read, :value nil, :process 21, :time 39154055376, :index 7029}
{:type :invoke, :f :cas, :value [2 3], :process 40, :time 39157643560, :index 7031}
{:type :ok, :f :read, :value 0, :process 21, :time 39159266581, :index 7032}
{:type :fail, :f :cas, :value [2 3], :process 40, :time 39162885066, :index 7033}
{:type :invoke, :f :read, :value nil, :process 6, :time 39177769735, :index 7035}
{:type :invoke, :f :cas, :value [0 4], :process 23, :time 39177968452, :index 7036}
{:type :invoke, :f :cas, :value [2 4], :process 40, :time 39181161882, :index 7037}
{:type :ok, :f :read, :value 0, :process 6, :time 39184148982, :index 7038}
{:type :ok, :f :cas, :value [0 4], :process 23, :time 39184710905, :index 7039}
{:type :fail, :f :cas, :value [2 4], :process 40, :time 39186444734, :index 7041}
{:type :invoke, :f :cas, :value [2 2], :process 28, :time 39206382300, :index 7043}
{:type :fail, :f :cas, :value [2 2], :process 28, :time 39213196932, :index 7044}
{:type :invoke, :f :write, :value 0, :process 28, :time 39215453154, :index 7045}
{:type :ok, :f :write, :value 0, :process 28, :time 39221878808, :index 7046}
{:type :invoke, :f :read, :value nil, :process 6, :time 39232408516, :index 7047}
{:type :ok, :f :read, :value 0, :process 6, :time 39238308719, :index 7048}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 39248546154, :index 7049}
{:type :fail, :f :cas, :value [4 2], :process 21, :time 39254124473, :index 7050}
{:type :invoke, :f :cas, :value [3 3], :process 45, :time 39275735631, :index 7051}
{:type :fail, :f :cas, :value [3 3], :process 45, :time 39280634296, :index 7052}
{:type :invoke, :f :read, :value nil, :process 45, :time 39348891019, :index 7061}
{:type :ok, :f :read, :value 0, :process 45, :time 39353359844, :index 7062}
{:type :invoke, :f :write, :value 3, :process 21, :time 39355382563, :index 7063}
{:type :ok, :f :write, :value 3, :process 21, :time 39360126004, :index 7064}
{:type :invoke, :f :read, :value nil, :process 40, :time 39380740587, :index 7069}
{:type :invoke, :f :write, :value 0, :process 23, :time 39380964982, :index 7070}
{:type :ok, :f :read, :value 3, :process 40, :time 39386132640, :index 7071}
{:type :invoke, :f :read, :value nil, :process 28, :time 39386215175, :index 7072}
{:type :ok, :f :write, :value 0, :process 23, :time 39386976398, :index 7073}
{:type :ok, :f :read, :value 0, :process 28, :time 39390964907, :index 7074}
{:type :invoke, :f :write, :value 4, :process 6, :time 39396570830, :index 7075}
{:type :invoke, :f :cas, :value [0 0], :process 28, :time 39399217714, :index 7076}
{:type :ok, :f :write, :value 4, :process 6, :time 39401143324, :index 7077}
{:type :fail, :f :cas, :value [0 0], :process 28, :time 39404656239, :index 7078}
{:type :invoke, :f :cas, :value [0 0], :process 40, :time 39411404741, :index 7079}
{:type :fail, :f :cas, :value [0 0], :process 40, :time 39416545239, :index 7080}
{:type :invoke, :f :write, :value 4, :process 45, :time 39452619268, :index 7085}
{:type :ok, :f :write, :value 4, :process 45, :time 39457214863, :index 7086}
{:type :invoke, :f :read, :value nil, :process 28, :time 39513916951, :index 7092}
{:type :ok, :f :read, :value 4, :process 28, :time 39519055432, :index 7094}
{:type :invoke, :f :cas, :value [0 0], :process 23, :time 39541241686, :index 7095}
{:type :invoke, :f :read, :value nil, :process 6, :time 39541441126, :index 7096}
{:type :fail, :f :cas, :value [0 0], :process 23, :time 39547346890, :index 7098}
{:type :ok, :f :read, :value 4, :process 6, :time 39547725071, :index 7099}
{:type :invoke, :f :write, :value 2, :process 21, :time 39552413597, :index 7103}
{:type :ok, :f :write, :value 2, :process 21, :time 39557401763, :index 7104}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
