{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :invoke, :f :read, :value nil, :process 19, :time 13583112807, :index 3172}
{:type :ok, :f :read, :value nil, :process 19, :time 13587968069, :index 3173}
{:type :invoke, :f :cas, :value [4 0], :process 19, :time 13614234574, :index 3182}
{:type :fail, :f :cas, :value [4 0], :process 19, :time 13619866583, :error :not-found, :index 3184}
{:type :invoke, :f :write, :value 0, :process 14, :time 13625936469, :index 3185}
{:type :ok, :f :write, :value 0, :process 14, :time 13630456092, :index 3187}
{:type :invoke, :f :read, :value nil, :process 13, :time 13636404488, :index 3189}
{:type :ok, :f :read, :value 0, :process 13, :time 13641865292, :index 3191}
{:type :invoke, :f :write, :value 2, :process 37, :time 13648545739, :index 3196}
{:type :ok, :f :write, :value 2, :process 37, :time 13653939541, :index 3198}
{:type :invoke, :f :cas, :value [2 2], :process 18, :time 13683748428, :index 3202}
{:type :ok, :f :cas, :value [2 2], :process 18, :time 13688360027, :index 3204}
{:type :invoke, :f :read, :value nil, :process 35, :time 13691281336, :index 3206}
{:type :ok, :f :read, :value 2, :process 35, :time 13695990062, :index 3208}
{:type :invoke, :f :write, :value 0, :process 30, :time 13705255613, :index 3214}
{:type :ok, :f :write, :value 0, :process 30, :time 13710426177, :index 3215}
{:type :invoke, :f :cas, :value [4 4], :process 12, :time 13716959959, :index 3217}
{:type :fail, :f :cas, :value [4 4], :process 12, :time 13722468392, :index 3219}
{:type :invoke, :f :write, :value 3, :process 35, :time 13723258470, :index 3220}
{:type :ok, :f :write, :value 3, :process 35, :time 13728822047, :index 3222}
{:type :invoke, :f :cas, :value [4 1], :process 14, :time 13731702718, :index 3226}
{:type :invoke, :f :read, :value nil, :process 18, :time 13733629200, :index 3228}
{:type :fail, :f :cas, :value [4 1], :process 14, :time 13737443034, :index 3231}
{:type :ok, :f :read, :value 3, :process 18, :time 13738623752, :index 3232}
{:type :invoke, :f :cas, :value [0 1], :process 19, :time 13753144447, :index 3236}
{:type :fail, :f :cas, :value [0 1], :process 19, :time 13758915520, :index 3239}
{:type :invoke, :f :read, :value nil, :process 14, :time 13770715197, :index 3243}
{:type :ok, :f :read, :value 3, :process 14, :time 13775857234, :index 3245}
{:type :invoke, :f :cas, :value [4 3], :process 18, :time 13790888737, :index 3249}
{:type :fail, :f :cas, :value [4 3], :process 18, :time 13796155288, :index 3252}
{:type :invoke, :f :cas, :value [2 0], :process 37, :time 13827261120, :index 3264}
{:type :invoke, :f :write, :value 2, :process 13, :time 13828126928, :index 3265}
{:type :ok, :f :write, :value 2, :process 13, :time 13832758793, :index 3266}
{:type :fail, :f :cas, :value [2 0], :process 37, :time 13833139930, :index 3267}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 13860059913, :index 3275}
{:type :fail, :f :cas, :value [0 4], :process 13, :time 13864999422, :index 3278}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 13868393853, :index 3280}
{:type :invoke, :f :read, :value nil, :process 12, :time 13870727067, :index 3282}
{:type :ok, :f :cas, :value [2 1], :process 11, :time 13873822662, :index 3283}
{:type :ok, :f :read, :value 1, :process 12, :time 13875607081, :index 3285}
{:type :invoke, :f :read, :value nil, :process 30, :time 13875730382, :index 3286}
{:type :ok, :f :read, :value 1, :process 30, :time 13879971958, :index 3287}
{:type :invoke, :f :read, :value nil, :process 16, :time 13885514000, :index 3288}
{:type :ok, :f :read, :value 1, :process 16, :time 13891026809, :index 3289}
{:type :invoke, :f :write, :value 4, :process 18, :time 13902417177, :index 3290}
{:type :ok, :f :write, :value 4, :process 18, :time 13906756681, :index 3291}
{:type :invoke, :f :cas, :value [1 0], :process 35, :time 13908084298, :index 3292}
{:type :fail, :f :cas, :value [1 0], :process 35, :time 13913354923, :index 3293}
{:type :invoke, :f :write, :value 2, :process 18, :time 13915014633, :index 3294}
{:type :ok, :f :write, :value 2, :process 18, :time 13919229371, :index 3296}
{:type :invoke, :f :read, :value nil, :process 19, :time 13931169257, :index 3298}
{:type :invoke, :f :write, :value 4, :process 11, :time 13932094009, :index 3299}
{:type :ok, :f :read, :value 2, :process 19, :time 13936311268, :index 3300}
{:type :ok, :f :write, :value 4, :process 11, :time 13936809983, :index 3301}
{:type :invoke, :f :write, :value 4, :process 30, :time 13937231080, :index 3302}
{:type :ok, :f :write, :value 4, :process 30, :time 13942277007, :index 3306}
{:type :invoke, :f :cas, :value [0 2], :process 37, :time 13945378785, :index 3309}
{:type :fail, :f :cas, :value [0 2], :process 37, :time 13951736145, :index 3313}
{:type :invoke, :f :write, :value 0, :process 14, :time 13955115333, :index 3315}
{:type :ok, :f :write, :value 0, :process 14, :time 13960215857, :index 3317}
{:type :invoke, :f :cas, :value [3 0], :process 13, :time 13982251937, :index 3320}
{:type :fail, :f :cas, :value [3 0], :process 13, :time 13987164675, :index 3322}
{:type :invoke, :f :read, :value nil, :process 16, :time 13992285052, :index 3324}
{:type :invoke, :f :write, :value 1, :process 11, :time 13995061341, :index 3325}
{:type :ok, :f :read, :value 0, :process 16, :time 13997120513, :index 3326}
{:type :ok, :f :write, :value 1, :process 11, :time 13999594394, :index 3327}
{:type :invoke, :f :write, :value 3, :process 11, :time 14018855034, :index 3332}
{:type :invoke, :f :cas, :value [1 3], :process 19, :time 14019574469, :index 3333}
{:type :ok, :f :write, :value 3, :process 11, :time 14024846436, :index 3335}
{:type :fail, :f :cas, :value [1 3], :process 19, :time 14025234070, :index 3336}
{:type :invoke, :f :write, :value 0, :process 19, :time 14030501074, :index 3339}
{:type :ok, :f :write, :value 0, :process 19, :time 14035820625, :index 3341}
{:type :invoke, :f :write, :value 1, :process 18, :time 14040494830, :index 3342}
{:type :invoke, :f :write, :value 4, :process 30, :time 14043568501, :index 3343}
{:type :ok, :f :write, :value 1, :process 18, :time 14045075504, :index 3344}
{:type :ok, :f :write, :value 4, :process 30, :time 14048765325, :index 3347}
{:type :invoke, :f :write, :value 0, :process 12, :time 14056844662, :index 3351}
{:type :ok, :f :write, :value 0, :process 12, :time 14062133818, :index 3353}
{:type :invoke, :f :write, :value 2, :process 37, :time 14063995355, :index 3354}
{:type :invoke, :f :write, :value 1, :process 12, :time 14068390480, :index 3355}
{:type :ok, :f :write, :value 2, :process 37, :time 14071084981, :index 3358}
{:type :invoke, :f :cas, :value [3 3], :process 19, :time 14074097548, :index 3360}
{:type :ok, :f :write, :value 1, :process 12, :time 14075585843, :index 3361}
{:type :fail, :f :cas, :value [3 3], :process 19, :time 14079826748, :index 3363}
{:type :invoke, :f :cas, :value [1 3], :process 14, :time 14107478509, :index 3367}
{:type :invoke, :f :cas, :value [4 3], :process 35, :time 14110612439, :index 3369}
{:type :invoke, :f :write, :value 1, :process 30, :time 14114027767, :index 3370}
{:type :ok, :f :cas, :value [1 3], :process 14, :time 14114366715, :index 3371}
{:type :invoke, :f :cas, :value [2 4], :process 18, :time 14115333089, :index 3372}
{:type :fail, :f :cas, :value [4 3], :process 35, :time 14116567400, :index 3374}
{:type :invoke, :f :write, :value 1, :process 16, :time 14116547229, :index 3375}
{:type :invoke, :f :cas, :value [4 4], :process 37, :time 14119412042, :index 3377}
{:type :ok, :f :write, :value 1, :process 30, :time 14120125869, :index 3378}
{:type :fail, :f :cas, :value [2 4], :process 18, :time 14120918044, :index 3379}
{:type :ok, :f :write, :value 1, :process 16, :time 14121774279, :index 3380}
{:type :fail, :f :cas, :value [4 4], :process 37, :time 14124876745, :index 3383}
{:type :invoke, :f :read, :value nil, :process 11, :time 14128117642, :index 3384}
{:type :ok, :f :read, :value 1, :process 11, :time 14134332288, :index 3386}
{:type :invoke, :f :read, :value nil, :process 37, :time 14137132458, :index 3388}
{:type :ok, :f :read, :value 1, :process 37, :time 14141602862, :index 3389}
{:type :invoke, :f :read, :value nil, :process 14, :time 14160612138, :index 3390}
{:type :invoke, :f :write, :value 0, :process 19, :time 14163083786, :index 3391}
{:type :ok, :f :read, :value 1, :process 14, :time 14165823510, :index 3394}
{:type :ok, :f :write, :value 0, :process 19, :time 14168085996, :index 3395}
{:type :invoke, :f :write, :value 3, :process 16, :time 14170038626, :index 3398}
{:type :ok, :f :write, :value 3, :process 16, :time 14174830031, :index 3400}
{:type :invoke, :f :write, :value 0, :process 13, :time 14179473204, :index 3403}
{:type :invoke, :f :write, :value 3, :process 37, :time 14179874812, :index 3404}
{:type :invoke, :f :cas, :value [4 3], :process 19, :time 14183342148, :index 3406}
{:type :ok, :f :write, :value 0, :process 13, :time 14184254491, :index 3407}
{:type :ok, :f :write, :value 3, :process 37, :time 14184944847, :index 3409}
{:type :fail, :f :cas, :value [4 3], :process 19, :time 14189360003, :index 3411}
{:type :invoke, :f :read, :value nil, :process 12, :time 14190853215, :index 3413}
{:type :ok, :f :read, :value 3, :process 12, :time 14195237066, :index 3415}
{:type :invoke, :f :read, :value nil, :process 19, :time 14205658369, :index 3417}
{:type :invoke, :f :cas, :value [1 2], :process 37, :time 14210227434, :index 3419}
{:type :ok, :f :read, :value 3, :process 19, :time 14211068451, :index 3420}
{:type :fail, :f :cas, :value [1 2], :process 37, :time 14215385498, :index 3421}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 14217085934, :index 3423}
{:type :fail, :f :cas, :value [2 0], :process 16, :time 14223096933, :index 3426}
{:type :invoke, :f :cas, :value [1 0], :process 14, :time 14228131823, :index 3428}
{:type :fail, :f :cas, :value [1 0], :process 14, :time 14232567192, :index 3429}
{:type :invoke, :f :cas, :value [4 4], :process 16, :time 14250356910, :index 3432}
{:type :fail, :f :cas, :value [4 4], :process 16, :time 14255380019, :index 3434}
{:type :invoke, :f :write, :value 1, :process 37, :time 14280650442, :index 3442}
{:type :invoke, :f :cas, :value [4 3], :process 18, :time 14282217394, :index 3444}
{:type :invoke, :f :read, :value nil, :process 30, :time 14285385125, :index 3445}
{:type :ok, :f :write, :value 1, :process 37, :time 14286622415, :index 3446}
{:type :fail, :f :cas, :value [4 3], :process 18, :time 14287231712, :index 3447}
{:type :invoke, :f :cas, :value [4 1], :process 11, :time 14288597112, :index 3449}
{:type :ok, :f :read, :value 1, :process 30, :time 14290264689, :index 3450}
{:type :fail, :f :cas, :value [4 1], :process 11, :time 14293622130, :index 3451}
{:type :invoke, :f :read, :value nil, :process 35, :time 14305807620, :index 3453}
{:type :ok, :f :read, :value 1, :process 35, :time 14311499056, :index 3455}
{:type :invoke, :f :cas, :value [2 0], :process 11, :time 14316895234, :index 3457}
{:type :fail, :f :cas, :value [2 0], :process 11, :time 14321650226, :index 3459}
{:type :invoke, :f :write, :value 0, :process 35, :time 14337748798, :index 3462}
{:type :invoke, :f :write, :value 2, :process 18, :time 14338491133, :index 3463}
{:type :ok, :f :write, :value 2, :process 18, :time 14343196196, :index 3464}
{:type :ok, :f :write, :value 0, :process 35, :time 14343614994, :index 3465}
{:type :invoke, :f :read, :value nil, :process 14, :time 14365829937, :index 3468}
{:type :ok, :f :read, :value 2, :process 14, :time 14370826355, :index 3472}
{:type :invoke, :f :cas, :value [3 0], :process 30, :time 14371538367, :index 3474}
{:type :invoke, :f :read, :value nil, :process 13, :time 14372239030, :index 3475}
{:type :ok, :f :read, :value 2, :process 13, :time 14377082474, :index 3477}
{:type :fail, :f :cas, :value [3 0], :process 30, :time 14377930350, :index 3479}
{:type :invoke, :f :cas, :value [3 3], :process 12, :time 14390493177, :index 3481}
{:type :fail, :f :cas, :value [3 3], :process 12, :time 14395694398, :index 3483}
{:type :invoke, :f :write, :value 3, :process 19, :time 14407332274, :index 3486}
{:type :invoke, :f :cas, :value [3 0], :process 12, :time 14410961739, :index 3487}
{:type :ok, :f :write, :value 3, :process 19, :time 14412340098, :index 3488}
{:type :ok, :f :cas, :value [3 0], :process 12, :time 14415869406, :index 3492}
{:type :invoke, :f :write, :value 0, :process 16, :time 14423639111, :index 3495}
{:type :ok, :f :write, :value 0, :process 16, :time 14429151717, :index 3500}
{:type :invoke, :f :write, :value 4, :process 37, :time 14462902727, :index 3510}
{:type :ok, :f :write, :value 4, :process 37, :time 14468409574, :index 3511}
{:type :invoke, :f :cas, :value [3 4], :process 14, :time 14474049101, :index 3513}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 14474910940, :index 3514}
{:type :fail, :f :cas, :value [3 4], :process 14, :time 14480877614, :index 3517}
{:type :fail, :f :cas, :value [2 3], :process 11, :time 14481395260, :index 3519}
{:type :invoke, :f :read, :value nil, :process 18, :time 14497456837, :index 3522}
{:type :ok, :f :read, :value 4, :process 18, :time 14502372306, :index 3524}
{:type :invoke, :f :cas, :value [1 4], :process 35, :time 14503861972, :index 3525}
{:type :fail, :f :cas, :value [1 4], :process 35, :time 14509215803, :index 3527}
{:type :invoke, :f :write, :value 0, :process 30, :time 14537200107, :index 3531}
{:type :ok, :f :write, :value 0, :process 30, :time 14542087326, :index 3534}
{:type :invoke, :f :write, :value 4, :process 13, :time 14554338195, :index 3536}
{:type :ok, :f :write, :value 4, :process 13, :time 14558938462, :index 3537}
{:type :invoke, :f :read, :value nil, :process 13, :time 14562158143, :index 3538}
{:type :invoke, :f :cas, :value [4 1], :process 12, :time 14562163034, :index 3539}
{:type :invoke, :f :read, :value nil, :process 18, :time 14562922766, :index 3540}
{:type :ok, :f :read, :value 1, :process 13, :time 14567596567, :index 3541}
{:type :ok, :f :cas, :value [4 1], :process 12, :time 14567656272, :index 3542}
{:type :ok, :f :read, :value 1, :process 18, :time 14567871429, :index 3543}
{:type :invoke, :f :read, :value nil, :process 19, :time 14578598372, :index 3546}
{:type :invoke, :f :write, :value 4, :process 14, :time 14580158977, :index 3547}
{:type :invoke, :f :write, :value 4, :process 13, :time 14582927236, :index 3548}
{:type :ok, :f :read, :value 1, :process 19, :time 14583599377, :index 3549}
{:type :ok, :f :write, :value 4, :process 14, :time 14585594063, :index 3550}
{:type :invoke, :f :cas, :value [2 2], :process 14, :time 14586842456, :index 3552}
{:type :ok, :f :write, :value 4, :process 13, :time 14587614003, :index 3553}
{:type :fail, :f :cas, :value [2 2], :process 14, :time 14591884487, :index 3555}
{:type :invoke, :f :cas, :value [4 4], :process 37, :time 14615676998, :index 3559}
{:type :invoke, :f :cas, :value [3 3], :process 16, :time 14618385498, :index 3561}
{:type :ok, :f :cas, :value [4 4], :process 37, :time 14620599599, :index 3563}
{:type :fail, :f :cas, :value [3 3], :process 16, :time 14630658639, :index 3569}
{:type :invoke, :f :read, :value nil, :process 35, :time 14652478366, :index 3580}
{:type :ok, :f :read, :value 4, :process 35, :time 14657720541, :index 3581}
{:type :invoke, :f :write, :value 0, :process 11, :time 14664711524, :index 3582}
{:type :ok, :f :write, :value 0, :process 11, :time 14670239515, :index 3585}
{:type :invoke, :f :write, :value 2, :process 12, :time 14685118877, :index 3592}
{:type :ok, :f :write, :value 2, :process 12, :time 14690770830, :index 3595}
{:type :invoke, :f :cas, :value [2 1], :process 19, :time 14710848413, :index 3599}
{:type :ok, :f :cas, :value [2 1], :process 19, :time 14715820756, :index 3603}
{:type :invoke, :f :read, :value nil, :process 30, :time 14735369612, :index 3608}
{:type :invoke, :f :read, :value nil, :process 18, :time 14737199297, :index 3611}
{:type :ok, :f :read, :value 1, :process 18, :time 14745324606, :index 3613}
{:type :ok, :f :read, :value 1, :process 30, :time 14746868823, :index 3614}
{:type :invoke, :f :read, :value nil, :process 13, :time 14763870192, :index 3620}
{:type :ok, :f :read, :value 1, :process 13, :time 14768627102, :index 3624}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
