{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :invoke, :f :write, :value 1, :process 11, :time 21524428788, :index 4772}
{:type :ok, :f :write, :value 1, :process 11, :time 21529381171, :index 4773}
{:type :invoke, :f :read, :value nil, :process 13, :time 21565233750, :index 4774}
{:type :ok, :f :read, :value 1, :process 13, :time 21570200998, :index 4776}
{:type :invoke, :f :cas, :value [3 3], :process 30, :time 21588153484, :index 4782}
{:type :fail, :f :cas, :value [3 3], :process 30, :time 21593660706, :index 4784}
{:type :invoke, :f :read, :value nil, :process 13, :time 21611468342, :index 4794}
{:type :ok, :f :read, :value 1, :process 13, :time 21616496957, :index 4795}
{:type :invoke, :f :cas, :value [2 0], :process 11, :time 21628646314, :index 4798}
{:type :invoke, :f :write, :value 4, :process 18, :time 21643195914, :index 4800}
{:type :invoke, :f :cas, :value [0 3], :process 30, :time 21658952864, :index 4801}
{:type :invoke, :f :cas, :value [1 4], :process 35, :time 21690841959, :index 4804}
{:type :invoke, :f :read, :value nil, :process 13, :time 21733812893, :index 4806}
{:type :invoke, :f :write, :value 4, :process 16, :time 21790662125, :index 4808}
{:type :fail, :f :cas, :value [0 3], :process 30, :time 24239733792, :index 4814}
{:type :fail, :f :cas, :value [1 4], :process 35, :time 24241187884, :index 4819}
{:type :ok, :f :read, :value 4, :process 13, :time 24242947723, :index 4824}
{:type :fail, :f :cas, :value [2 0], :process 11, :time 24242990342, :index 4825}
{:type :ok, :f :write, :value 4, :process 18, :time 24243394778, :index 4826}
{:type :ok, :f :write, :value 4, :process 16, :time 24243944365, :index 4829}
{:type :invoke, :f :write, :value 1, :process 12, :time 24248867039, :index 4830}
{:type :ok, :f :write, :value 1, :process 12, :time 24254315537, :index 4831}
{:type :invoke, :f :cas, :value [3 2], :process 14, :time 24268306840, :index 4834}
{:type :fail, :f :cas, :value [3 2], :process 14, :time 24273570767, :index 4836}
{:type :invoke, :f :cas, :value [2 0], :process 12, :time 24274574551, :index 4837}
{:type :invoke, :f :read, :value nil, :process 37, :time 24275450382, :index 4838}
{:type :invoke, :f :read, :value nil, :process 18, :time 24275816553, :index 4839}
{:type :fail, :f :cas, :value [2 0], :process 12, :time 24280293937, :index 4841}
{:type :ok, :f :read, :value 1, :process 37, :time 24280543661, :index 4842}
{:type :ok, :f :read, :value 1, :process 18, :time 24281033598, :index 4843}
{:type :invoke, :f :read, :value nil, :process 16, :time 24286250817, :index 4844}
{:type :ok, :f :read, :value 1, :process 16, :time 24292161920, :index 4846}
{:type :invoke, :f :write, :value 4, :process 30, :time 24323231011, :index 4852}
{:type :invoke, :f :cas, :value [0 3], :process 13, :time 24328409130, :index 4853}
{:type :ok, :f :write, :value 4, :process 30, :time 24328651152, :index 4854}
{:type :invoke, :f :read, :value nil, :process 14, :time 24328834543, :index 4855}
{:type :ok, :f :read, :value 4, :process 14, :time 24334061673, :index 4856}
{:type :fail, :f :cas, :value [0 3], :process 13, :time 24334831418, :index 4857}
{:type :invoke, :f :read, :value nil, :process 14, :time 24366330229, :index 4864}
{:type :invoke, :f :cas, :value [0 0], :process 11, :time 24374771158, :index 4865}
{:type :ok, :f :read, :value 4, :process 14, :time 24375279626, :index 4866}
{:type :fail, :f :cas, :value [0 0], :process 11, :time 24380532879, :index 4867}
{:type :invoke, :f :read, :value nil, :process 18, :time 24386277788, :index 4868}
{:type :ok, :f :read, :value 4, :process 18, :time 24391051058, :index 4870}
{:type :invoke, :f :write, :value 3, :process 39, :time 24398468124, :index 4876}
{:type :ok, :f :write, :value 3, :process 39, :time 24403863669, :index 4877}
{:type :invoke, :f :read, :value nil, :process 18, :time 24413308557, :index 4878}
{:type :ok, :f :read, :value 3, :process 18, :time 24418140180, :index 4880}
{:type :invoke, :f :read, :value nil, :process 35, :time 24423535954, :index 4882}
{:type :ok, :f :read, :value 3, :process 35, :time 24428962443, :index 4884}
{:type :invoke, :f :read, :value nil, :process 12, :time 24435604814, :index 4886}
{:type :ok, :f :read, :value 3, :process 12, :time 24440664289, :index 4888}
{:type :invoke, :f :write, :value 3, :process 37, :time 24441777030, :index 4889}
{:type :invoke, :f :write, :value 0, :process 16, :time 24444467388, :index 4891}
{:type :ok, :f :write, :value 3, :process 37, :time 24446938942, :index 4892}
{:type :ok, :f :write, :value 0, :process 16, :time 24449522850, :index 4894}
{:type :invoke, :f :read, :value nil, :process 12, :time 24452924213, :index 4896}
{:type :ok, :f :read, :value 0, :process 12, :time 24457655101, :index 4898}
{:type :invoke, :f :read, :value nil, :process 30, :time 24462905970, :index 4900}
{:type :ok, :f :read, :value 0, :process 30, :time 24468110020, :index 4901}
{:type :invoke, :f :write, :value 4, :process 37, :time 24470160489, :index 4902}
{:type :ok, :f :write, :value 4, :process 37, :time 24474998794, :index 4906}
{:type :invoke, :f :write, :value 0, :process 35, :time 24480229097, :index 4910}
{:type :invoke, :f :write, :value 1, :process 14, :time 24481549994, :index 4911}
{:type :ok, :f :write, :value 0, :process 35, :time 24484938921, :index 4912}
{:type :ok, :f :write, :value 1, :process 14, :time 24486985400, :index 4913}
{:type :invoke, :f :cas, :value [1 0], :process 35, :time 24501206973, :index 4916}
{:type :ok, :f :cas, :value [1 0], :process 35, :time 24506754173, :index 4917}
{:type :invoke, :f :cas, :value [4 3], :process 16, :time 24516787433, :index 4920}
{:type :invoke, :f :cas, :value [2 0], :process 13, :time 24517102108, :index 4921}
{:type :invoke, :f :cas, :value [2 2], :process 35, :time 24522053889, :index 4923}
{:type :fail, :f :cas, :value [4 3], :process 16, :time 24522643969, :index 4924}
{:type :fail, :f :cas, :value [2 0], :process 13, :time 24523349257, :index 4925}
{:type :fail, :f :cas, :value [2 2], :process 35, :time 24528288301, :index 4927}
{:type :invoke, :f :cas, :value [0 4], :process 12, :time 24528915266, :index 4928}
{:type :ok, :f :cas, :value [0 4], :process 12, :time 24533778144, :index 4929}
{:type :invoke, :f :read, :value nil, :process 11, :time 24534805149, :index 4930}
{:type :invoke, :f :read, :value nil, :process 14, :time 24536267951, :index 4932}
{:type :ok, :f :read, :value 4, :process 11, :time 24539841732, :index 4933}
{:type :ok, :f :read, :value 4, :process 14, :time 24541890413, :index 4935}
{:type :invoke, :f :write, :value 4, :process 13, :time 24553613689, :index 4938}
{:type :ok, :f :write, :value 4, :process 13, :time 24558325688, :index 4940}
{:type :invoke, :f :cas, :value [0 1], :process 30, :time 24564375937, :index 4942}
{:type :fail, :f :cas, :value [0 1], :process 30, :time 24569914221, :index 4943}
{:type :invoke, :f :read, :value nil, :process 37, :time 24589320865, :index 4946}
{:type :invoke, :f :read, :value nil, :process 39, :time 24590047770, :index 4947}
{:type :ok, :f :read, :value 4, :process 37, :time 24595850963, :index 4948}
{:type :ok, :f :read, :value 4, :process 39, :time 24596579978, :index 4949}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 24616409148, :index 4954}
{:type :ok, :f :cas, :value [4 0], :process 18, :time 24621594525, :index 4956}
{:type :invoke, :f :cas, :value [3 3], :process 13, :time 24633591534, :index 4960}
{:type :fail, :f :cas, :value [3 3], :process 13, :time 24639143762, :index 4961}
{:type :invoke, :f :cas, :value [2 3], :process 18, :time 24644865120, :index 4963}
{:type :fail, :f :cas, :value [2 3], :process 18, :time 24649554957, :index 4964}
{:type :invoke, :f :read, :value nil, :process 30, :time 24651193787, :index 4966}
{:type :ok, :f :read, :value 0, :process 30, :time 24656162218, :index 4967}
{:type :invoke, :f :write, :value 3, :process 37, :time 24664124419, :index 4971}
{:type :ok, :f :write, :value 3, :process 37, :time 24669671266, :index 4973}
{:type :invoke, :f :write, :value 0, :process 11, :time 24680101594, :index 4974}
{:type :invoke, :f :read, :value nil, :process 35, :time 24682549879, :index 4976}
{:type :ok, :f :write, :value 0, :process 11, :time 24685559659, :index 4977}
{:type :invoke, :f :cas, :value [0 4], :process 14, :time 24686187153, :index 4978}
{:type :invoke, :f :read, :value nil, :process 11, :time 24686830968, :index 4980}
{:type :ok, :f :read, :value 0, :process 35, :time 24687948652, :index 4981}
{:type :invoke, :f :cas, :value [3 3], :process 13, :time 24691414031, :index 4983}
{:type :ok, :f :read, :value 4, :process 11, :time 24691876959, :index 4984}
{:type :ok, :f :cas, :value [0 4], :process 14, :time 24691876959, :index 4985}
{:type :fail, :f :cas, :value [3 3], :process 13, :time 24696399016, :index 4988}
{:type :invoke, :f :read, :value nil, :process 16, :time 24697942792, :index 4989}
{:type :ok, :f :read, :value 4, :process 16, :time 24704500915, :index 4992}
{:type :invoke, :f :write, :value 1, :process 11, :time 24706195780, :index 4993}
{:type :ok, :f :write, :value 1, :process 11, :time 24710909573, :index 4995}
{:type :invoke, :f :cas, :value [2 3], :process 12, :time 24714048262, :index 4996}
{:type :fail, :f :cas, :value [2 3], :process 12, :time 24718900177, :index 4997}
{:type :invoke, :f :cas, :value [0 3], :process 16, :time 24736756777, :index 5002}
{:type :fail, :f :cas, :value [0 3], :process 16, :time 24741485630, :index 5003}
{:type :invoke, :f :write, :value 4, :process 16, :time 24744739578, :index 5004}
{:type :invoke, :f :write, :value 0, :process 11, :time 24746196099, :index 5006}
{:type :ok, :f :write, :value 4, :process 16, :time 24750047935, :index 5008}
{:type :ok, :f :write, :value 0, :process 11, :time 24752536702, :index 5011}
{:type :invoke, :f :write, :value 4, :process 14, :time 24758170861, :index 5012}
{:type :ok, :f :write, :value 4, :process 14, :time 24763756748, :index 5013}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 24763829695, :index 5014}
{:type :invoke, :f :read, :value nil, :process 39, :time 24765822656, :index 5015}
{:type :fail, :f :cas, :value [0 4], :process 18, :time 24768913473, :index 5017}
{:type :ok, :f :read, :value 4, :process 39, :time 24770753297, :index 5018}
{:type :invoke, :f :read, :value nil, :process 35, :time 24772243209, :index 5019}
{:type :ok, :f :read, :value 4, :process 35, :time 24777065792, :index 5021}
{:type :invoke, :f :read, :value nil, :process 39, :time 24789052386, :index 5023}
{:type :ok, :f :read, :value 4, :process 39, :time 24794518561, :index 5025}
{:type :invoke, :f :cas, :value [2 1], :process 30, :time 24797427600, :index 5026}
{:type :invoke, :f :write, :value 1, :process 14, :time 24799026841, :index 5027}
{:type :fail, :f :cas, :value [2 1], :process 30, :time 24803560261, :index 5029}
{:type :ok, :f :write, :value 1, :process 14, :time 24805147182, :index 5031}
{:type :invoke, :f :cas, :value [1 4], :process 37, :time 24805932629, :index 5032}
{:type :ok, :f :cas, :value [1 4], :process 37, :time 24810892406, :index 5034}
{:type :invoke, :f :cas, :value [3 1], :process 12, :time 24822195829, :index 5036}
{:type :invoke, :f :cas, :value [2 3], :process 13, :time 24823663095, :index 5038}
{:type :fail, :f :cas, :value [3 1], :process 12, :time 24828111242, :index 5039}
{:type :fail, :f :cas, :value [2 3], :process 13, :time 24829171809, :index 5041}
{:type :invoke, :f :read, :value nil, :process 37, :time 24862158668, :index 5046}
{:type :ok, :f :read, :value 4, :process 37, :time 24867152381, :index 5047}
{:type :invoke, :f :write, :value 3, :process 35, :time 24873316921, :index 5048}
{:type :invoke, :f :cas, :value [2 0], :process 11, :time 24873789883, :index 5049}
{:type :invoke, :f :write, :value 4, :process 16, :time 24874324063, :index 5050}
{:type :invoke, :f :read, :value nil, :process 18, :time 24878198710, :index 5051}
{:type :ok, :f :write, :value 3, :process 35, :time 24879174342, :index 5052}
{:type :fail, :f :cas, :value [2 0], :process 11, :time 24880323021, :index 5054}
{:type :ok, :f :write, :value 4, :process 16, :time 24880647192, :index 5055}
{:type :invoke, :f :read, :value nil, :process 30, :time 24882781731, :index 5056}
{:type :invoke, :f :read, :value nil, :process 39, :time 24882786076, :index 5057}
{:type :ok, :f :read, :value 4, :process 18, :time 24883770287, :index 5058}
{:type :ok, :f :read, :value 4, :process 39, :time 24888044456, :index 5061}
{:type :ok, :f :read, :value 4, :process 30, :time 24888616808, :index 5062}
{:type :invoke, :f :cas, :value [3 0], :process 39, :time 24893338491, :index 5065}
{:type :fail, :f :cas, :value [3 0], :process 39, :time 24898953837, :index 5068}
{:type :invoke, :f :write, :value 0, :process 12, :time 24904389680, :index 5073}
{:type :ok, :f :write, :value 0, :process 12, :time 24908971236, :index 5074}
{:type :invoke, :f :read, :value nil, :process 13, :time 24913421563, :index 5076}
{:type :invoke, :f :write, :value 1, :process 12, :time 24916232593, :index 5079}
{:type :ok, :f :read, :value 0, :process 13, :time 24918161035, :index 5080}
{:type :ok, :f :write, :value 1, :process 12, :time 24922390019, :index 5082}
{:type :invoke, :f :read, :value nil, :process 12, :time 24930648491, :index 5086}
{:type :ok, :f :read, :value 1, :process 12, :time 24935509188, :index 5087}
{:type :invoke, :f :read, :value nil, :process 35, :time 24956431946, :index 5092}
{:type :ok, :f :read, :value 1, :process 35, :time 24961540210, :index 5093}
{:type :invoke, :f :read, :value nil, :process 11, :time 24973651768, :index 5097}
{:type :ok, :f :read, :value 1, :process 11, :time 24980357600, :index 5100}
{:type :invoke, :f :write, :value 0, :process 14, :time 24988395271, :index 5106}
{:type :ok, :f :write, :value 0, :process 14, :time 24993038215, :index 5107}
{:type :invoke, :f :read, :value nil, :process 37, :time 25009413065, :index 5110}
{:type :ok, :f :read, :value 0, :process 37, :time 25014469994, :index 5111}
{:type :invoke, :f :write, :value 0, :process 18, :time 25016036134, :index 5112}
{:type :ok, :f :write, :value 0, :process 18, :time 25021064617, :index 5115}
{:type :invoke, :f :cas, :value [2 0], :process 12, :time 25021776366, :index 5116}
{:type :fail, :f :cas, :value [2 0], :process 12, :time 25027353989, :index 5119}
{:type :invoke, :f :read, :value nil, :process 12, :time 25046604458, :index 5120}
{:type :invoke, :f :write, :value 1, :process 30, :time 25047855553, :index 5121}
{:type :ok, :f :read, :value 0, :process 12, :time 25051820828, :index 5123}
{:type :ok, :f :write, :value 1, :process 30, :time 25053334507, :index 5124}
{:type :invoke, :f :cas, :value [3 0], :process 35, :time 25065806072, :index 5128}
{:type :invoke, :f :write, :value 0, :process 39, :time 25068218368, :index 5130}
{:type :fail, :f :cas, :value [3 0], :process 35, :time 25071525715, :index 5131}
{:type :invoke, :f :cas, :value [1 4], :process 16, :time 25071958822, :index 5133}
{:type :ok, :f :write, :value 0, :process 39, :time 25074942125, :index 5134}
{:type :fail, :f :cas, :value [1 4], :process 16, :time 25076984096, :index 5135}
{:type :invoke, :f :write, :value 3, :process 18, :time 25087351345, :index 5138}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 25089742238, :index 5139}
{:type :ok, :f :write, :value 3, :process 18, :time 25091436236, :index 5141}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 25095209966, :index 5142}
{:type :invoke, :f :cas, :value [4 2], :process 13, :time 25105422552, :index 5148}
{:type :fail, :f :cas, :value [4 2], :process 13, :time 25110635295, :index 5151}
{:type :invoke, :f :write, :value 2, :process 11, :time 25154605844, :index 5166}
{:type :invoke, :f :write, :value 2, :process 14, :time 25159311292, :index 5171}
{:type :ok, :f :write, :value 2, :process 11, :time 25159702073, :index 5172}
{:type :ok, :f :write, :value 2, :process 14, :time 25165248119, :index 5175}
{:type :invoke, :f :read, :value nil, :process 30, :time 25215588739, :index 5188}
{:type :ok, :f :read, :value 2, :process 30, :time 25220748276, :index 5191}
{:type :invoke, :f :cas, :value [4 3], :process 12, :time 25223079782, :index 5193}
{:type :fail, :f :cas, :value [4 3], :process 12, :time 25228253529, :index 5195}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
