{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :invoke, :f :read, :value nil, :process 57, :time 36586160852, :index 6061}
{:type :ok, :f :read, :value nil, :process 57, :time 36590808765, :index 6064}
{:type :invoke, :f :write, :value 2, :process 32, :time 36593326130, :index 6071}
{:type :invoke, :f :read, :value nil, :process 31, :time 36595062088, :index 6072}
{:type :ok, :f :write, :value 2, :process 32, :time 36597995461, :index 6075}
{:type :invoke, :f :write, :value 4, :process 18, :time 36630502459, :index 6078}
{:type :ok, :f :write, :value 4, :process 18, :time 36635316056, :index 6079}
{:type :invoke, :f :write, :value 1, :process 13, :time 36640683129, :index 6080}
{:type :ok, :f :write, :value 1, :process 13, :time 36645997374, :index 6081}
{:type :invoke, :f :write, :value 4, :process 32, :time 36653251240, :index 6082}
{:type :ok, :f :write, :value 4, :process 32, :time 36657990479, :index 6083}
{:type :invoke, :f :read, :value nil, :process 57, :time 36676102877, :index 6086}
{:type :invoke, :f :read, :value nil, :process 13, :time 36680274710, :index 6087}
{:type :ok, :f :read, :value 4, :process 57, :time 36681030844, :index 6088}
{:type :ok, :f :read, :value 4, :process 13, :time 36684864669, :index 6089}
{:type :invoke, :f :read, :value nil, :process 57, :time 36691295681, :index 6091}
{:type :ok, :f :read, :value 4, :process 57, :time 36695564090, :index 6094}
{:type :invoke, :f :write, :value 2, :process 18, :time 36718589782, :index 6100}
{:type :ok, :f :write, :value 2, :process 18, :time 36723629316, :index 6101}
{:type :invoke, :f :cas, :value [0 4], :process 57, :time 36734816621, :index 6102}
{:type :fail, :f :cas, :value [0 4], :process 57, :time 36740216903, :index 6104}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 36745570195, :index 6106}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 36751617099, :index 6107}
{:type :invoke, :f :read, :value nil, :process 32, :time 36770248662, :index 6108}
{:type :invoke, :f :cas, :value [0 0], :process 35, :time 36771076858, :index 6109}
{:type :ok, :f :read, :value 2, :process 32, :time 36775413974, :index 6110}
{:type :fail, :f :cas, :value [0 0], :process 35, :time 36777009977, :index 6112}
{:type :invoke, :f :write, :value 1, :process 13, :time 36815118252, :index 6120}
{:type :ok, :f :write, :value 1, :process 13, :time 36820556165, :index 6121}
{:type :invoke, :f :write, :value 0, :process 32, :time 36884673864, :index 6130}
{:type :invoke, :f :read, :value nil, :process 57, :time 36885486928, :index 6131}
{:type :ok, :f :write, :value 0, :process 32, :time 36889251333, :index 6132}
{:type :ok, :f :read, :value 0, :process 57, :time 36890137507, :index 6133}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 36899872506, :index 6134}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 36906069354, :index 6136}
{:type :invoke, :f :cas, :value [1 4], :process 13, :time 36913721916, :index 6139}
{:type :invoke, :f :write, :value 0, :process 18, :time 36914169849, :index 6140}
{:type :ok, :f :write, :value 0, :process 18, :time 36919449265, :index 6141}
{:type :fail, :f :cas, :value [1 4], :process 13, :time 36920492782, :index 6143}
{:type :invoke, :f :write, :value 3, :process 35, :time 36946271854, :index 6146}
{:type :ok, :f :write, :value 3, :process 35, :time 36954591803, :index 6147}
{:type :invoke, :f :read, :value nil, :process 32, :time 36974512166, :index 6148}
{:type :invoke, :f :read, :value nil, :process 35, :time 36978861094, :index 6149}
{:type :ok, :f :read, :value 3, :process 32, :time 36979510342, :index 6150}
{:type :ok, :f :read, :value 3, :process 35, :time 36984101962, :index 6151}
{:type :invoke, :f :cas, :value [4 0], :process 32, :time 37002783138, :index 6156}
{:type :fail, :f :cas, :value [4 0], :process 32, :time 37007320978, :index 6157}
{:type :invoke, :f :cas, :value [0 0], :process 18, :time 37041712385, :index 6158}
{:type :fail, :f :cas, :value [0 0], :process 18, :time 37047067096, :index 6160}
{:type :invoke, :f :write, :value 0, :process 57, :time 37054429732, :index 6163}
{:type :ok, :f :write, :value 0, :process 57, :time 37058727829, :index 6165}
{:type :invoke, :f :write, :value 3, :process 10, :time 37072323402, :index 6166}
{:type :ok, :f :write, :value 3, :process 10, :time 37077413491, :index 6167}
{:type :invoke, :f :cas, :value [3 0], :process 13, :time 37080744122, :index 6168}
{:type :ok, :f :cas, :value [3 0], :process 13, :time 37085631488, :index 6169}
{:type :invoke, :f :cas, :value [4 0], :process 35, :time 37122360246, :index 6180}
{:type :fail, :f :cas, :value [4 0], :process 35, :time 37128306209, :index 6181}
{:type :invoke, :f :cas, :value [0 2], :process 57, :time 37151984867, :index 6183}
{:type :ok, :f :cas, :value [0 2], :process 57, :time 37156719772, :index 6185}
{:type :invoke, :f :read, :value nil, :process 32, :time 37169628498, :index 6186}
{:type :ok, :f :read, :value 2, :process 32, :time 37174202983, :index 6187}
{:type :invoke, :f :read, :value nil, :process 18, :time 37203303510, :index 6192}
{:type :ok, :f :read, :value 2, :process 18, :time 37209370916, :index 6193}
{:type :invoke, :f :write, :value 1, :process 13, :time 37217895625, :index 6195}
{:type :ok, :f :write, :value 1, :process 13, :time 37223058319, :index 6197}
{:type :invoke, :f :write, :value 4, :process 35, :time 37224565255, :index 6198}
{:type :invoke, :f :read, :value nil, :process 13, :time 37229308694, :index 6199}
{:type :ok, :f :write, :value 4, :process 35, :time 37230642605, :index 6200}
{:type :invoke, :f :cas, :value [1 4], :process 10, :time 37230587578, :index 6201}
{:type :ok, :f :read, :value 4, :process 13, :time 37235482518, :index 6202}
{:type :fail, :f :cas, :value [1 4], :process 10, :time 37236327334, :index 6203}
{:type :invoke, :f :write, :value 0, :process 10, :time 37252581383, :index 6207}
{:type :invoke, :f :read, :value nil, :process 13, :time 37254740041, :index 6208}
{:type :ok, :f :write, :value 0, :process 10, :time 37257819775, :index 6210}
{:type :ok, :f :read, :value 0, :process 13, :time 37259379822, :index 6211}
{:type :invoke, :f :read, :value nil, :process 35, :time 37273923186, :index 6213}
{:type :ok, :f :read, :value 0, :process 35, :time 37282427735, :index 6218}
{:type :invoke, :f :read, :value nil, :process 32, :time 37290506937, :index 6220}
{:type :ok, :f :read, :value 0, :process 32, :time 37294718788, :index 6221}
{:type :invoke, :f :read, :value nil, :process 32, :time 37307012171, :index 6223}
{:type :ok, :f :read, :value 0, :process 32, :time 37311721491, :index 6225}
{:type :invoke, :f :read, :value nil, :process 35, :time 37312741294, :index 6226}
{:type :ok, :f :read, :value 0, :process 35, :time 37317808080, :index 6227}
{:type :invoke, :f :write, :value 4, :process 18, :time 37323623385, :index 6228}
{:type :ok, :f :write, :value 4, :process 18, :time 37328948832, :index 6229}
{:type :invoke, :f :cas, :value [2 1], :process 57, :time 37329977611, :index 6230}
{:type :fail, :f :cas, :value [2 1], :process 57, :time 37335090334, :index 6232}
{:type :invoke, :f :write, :value 4, :process 13, :time 37345628407, :index 6234}
{:type :ok, :f :write, :value 4, :process 13, :time 37351335981, :index 6235}
{:type :invoke, :f :cas, :value [4 1], :process 35, :time 37360065388, :index 6237}
{:type :ok, :f :cas, :value [4 1], :process 35, :time 37365966308, :index 6239}
{:type :invoke, :f :cas, :value [1 1], :process 35, :time 37381217596, :index 6242}
{:type :ok, :f :cas, :value [1 1], :process 35, :time 37387022837, :index 6244}
{:type :invoke, :f :read, :value nil, :process 13, :time 37391621188, :index 6248}
{:type :ok, :f :read, :value 1, :process 13, :time 37396832820, :index 6251}
{:type :invoke, :f :cas, :value [1 0], :process 10, :time 37397076245, :index 6252}
{:type :ok, :f :cas, :value [1 0], :process 10, :time 37403664226, :index 6253}
{:type :invoke, :f :write, :value 2, :process 18, :time 37426216239, :index 6255}
{:type :ok, :f :write, :value 2, :process 18, :time 37431269105, :index 6257}
{:type :invoke, :f :read, :value nil, :process 57, :time 37436352846, :index 6258}
{:type :invoke, :f :read, :value nil, :process 10, :time 37436930863, :index 6259}
{:type :ok, :f :read, :value 2, :process 57, :time 37440867882, :index 6260}
{:type :ok, :f :read, :value 2, :process 10, :time 37443260617, :index 6262}
{:type :invoke, :f :read, :value nil, :process 18, :time 37455497802, :index 6266}
{:type :invoke, :f :write, :value 3, :process 32, :time 37456965661, :index 6267}
{:type :invoke, :f :cas, :value [4 1], :process 57, :time 37471122951, :index 6270}
{:type :invoke, :f :cas, :value [0 0], :process 35, :time 37557299572, :index 6274}
{:type :invoke, :f :write, :value 0, :process 13, :time 37593087495, :index 6276}
{:type :invoke, :f :read, :value nil, :process 10, :time 37618528829, :index 6277}
{:type :ok, :f :read, :value 2, :process 18, :time 37823885074, :index 6278}
{:type :ok, :f :write, :value 3, :process 32, :time 37824017196, :index 6279}
{:type :invoke, :f :write, :value 3, :process 18, :time 37849266049, :index 6280}
{:type :invoke, :f :read, :value nil, :process 32, :time 37912281356, :index 6281}
{:type :fail, :f :cas, :value [4 1], :process 57, :time 38170222353, :index 6283}
{:type :ok, :f :read, :value 3, :process 10, :time 38170560442, :index 6284}
{:type :fail, :f :cas, :value [0 0], :process 35, :time 38171495125, :index 6288}
{:type :ok, :f :read, :value 3, :process 32, :time 38171844785, :index 6289}
{:type :ok, :f :write, :value 0, :process 13, :time 38173417030, :index 6290}
{:type :ok, :f :write, :value 3, :process 18, :time 38174088610, :index 6293}
{:type :invoke, :f :write, :value 4, :process 10, :time 38189836018, :index 6294}
{:type :ok, :f :write, :value 4, :process 10, :time 38196234315, :index 6295}
{:type :invoke, :f :read, :value nil, :process 10, :time 38232484596, :index 6300}
{:type :ok, :f :read, :value 4, :process 10, :time 38238096472, :index 6301}
{:type :invoke, :f :write, :value 2, :process 18, :time 38249315405, :index 6302}
{:type :ok, :f :write, :value 2, :process 18, :time 38255319325, :index 6303}
{:type :invoke, :f :cas, :value [0 1], :process 13, :time 38282750880, :index 6304}
{:type :fail, :f :cas, :value [0 1], :process 13, :time 38289442354, :index 6306}
{:type :invoke, :f :cas, :value [4 2], :process 32, :time 38291078920, :index 6308}
{:type :fail, :f :cas, :value [4 2], :process 32, :time 38296622833, :index 6309}
{:type :invoke, :f :read, :value nil, :process 18, :time 38308575009, :index 6310}
{:type :ok, :f :read, :value 2, :process 18, :time 38316196739, :index 6314}
{:type :invoke, :f :read, :value nil, :process 57, :time 38326471970, :index 6318}
{:type :invoke, :f :cas, :value [4 4], :process 35, :time 38327770018, :index 6319}
{:type :ok, :f :read, :value 2, :process 57, :time 38331412603, :index 6320}
{:type :fail, :f :cas, :value [4 4], :process 35, :time 38333934763, :index 6321}
{:type :invoke, :f :write, :value 4, :process 57, :time 38376671768, :index 6326}
{:type :ok, :f :write, :value 4, :process 57, :time 38381185670, :index 6327}
{:type :invoke, :f :write, :value 4, :process 10, :time 38390359144, :index 6329}
{:type :ok, :f :write, :value 4, :process 10, :time 38396513718, :index 6332}
{:type :invoke, :f :write, :value 2, :process 32, :time 38402876886, :index 6335}
{:type :ok, :f :write, :value 2, :process 32, :time 38408635395, :index 6338}
{:type :invoke, :f :write, :value 2, :process 18, :time 38412426343, :index 6340}
{:type :invoke, :f :write, :value 4, :process 10, :time 38415760459, :index 6342}
{:type :ok, :f :write, :value 2, :process 18, :time 38417759360, :index 6344}
{:type :ok, :f :write, :value 4, :process 10, :time 38421697202, :index 6347}
{:type :invoke, :f :read, :value nil, :process 18, :time 38438023420, :index 6349}
{:type :ok, :f :read, :value 4, :process 18, :time 38443845254, :index 6351}
{:type :invoke, :f :read, :value nil, :process 13, :time 38477704150, :index 6355}
{:type :invoke, :f :read, :value nil, :process 10, :time 38481946441, :index 6358}
{:type :ok, :f :read, :value 4, :process 13, :time 38482893484, :index 6359}
{:type :invoke, :f :cas, :value [0 4], :process 35, :time 38483192934, :index 6360}
{:type :ok, :f :read, :value 4, :process 10, :time 38488515720, :index 6362}
{:type :fail, :f :cas, :value [0 4], :process 35, :time 38489472582, :index 6363}
{:type :invoke, :f :write, :value 1, :process 13, :time 38490149886, :index 6364}
{:type :invoke, :f :read, :value nil, :process 35, :time 38491724534, :index 6365}
{:type :ok, :f :write, :value 1, :process 13, :time 38495425341, :index 6366}
{:type :ok, :f :read, :value 1, :process 35, :time 38497559778, :index 6367}
{:type :invoke, :f :write, :value 3, :process 57, :time 38507451258, :index 6370}
{:type :ok, :f :write, :value 3, :process 57, :time 38512376738, :index 6371}
{:type :invoke, :f :read, :value nil, :process 32, :time 38534911210, :index 6375}
{:type :ok, :f :read, :value 3, :process 32, :time 38540364597, :index 6377}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 38583785541, :index 6381}
{:type :ok, :f :cas, :value [3 3], :process 10, :time 38590653708, :index 6384}
{:type :invoke, :f :write, :value 4, :process 13, :time 38605679538, :index 6386}
{:type :ok, :f :write, :value 4, :process 13, :time 38611239471, :index 6387}
{:type :invoke, :f :write, :value 2, :process 57, :time 38615639506, :index 6388}
{:type :ok, :f :write, :value 2, :process 57, :time 38621181009, :index 6390}
{:type :invoke, :f :cas, :value [0 0], :process 18, :time 38635094600, :index 6396}
{:type :fail, :f :cas, :value [0 0], :process 18, :time 38640317804, :index 6397}
{:type :invoke, :f :write, :value 1, :process 35, :time 38642805140, :index 6398}
{:type :ok, :f :write, :value 1, :process 35, :time 38649216491, :index 6399}
{:type :invoke, :f :read, :value nil, :process 35, :time 38662487688, :index 6402}
{:type :ok, :f :read, :value 1, :process 35, :time 38667946258, :index 6403}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 38689574865, :index 6404}
{:type :fail, :f :cas, :value [4 0], :process 18, :time 38696732652, :index 6405}
{:type :invoke, :f :cas, :value [2 2], :process 32, :time 38712618254, :index 6408}
{:type :fail, :f :cas, :value [2 2], :process 32, :time 38718272693, :index 6409}
{:type :invoke, :f :cas, :value [3 4], :process 57, :time 38747436233, :index 6412}
{:type :fail, :f :cas, :value [3 4], :process 57, :time 38752431003, :index 6415}
{:type :invoke, :f :write, :value 4, :process 13, :time 38764490959, :index 6418}
{:type :invoke, :f :read, :value nil, :process 18, :time 38765997365, :index 6419}
{:type :ok, :f :write, :value 4, :process 13, :time 38770293867, :index 6420}
{:type :ok, :f :read, :value 4, :process 18, :time 38771157894, :index 6421}
{:type :invoke, :f :write, :value 0, :process 10, :time 38773906072, :index 6422}
{:type :ok, :f :write, :value 0, :process 10, :time 38780242765, :index 6423}
{:type :invoke, :f :read, :value nil, :process 57, :time 38780695246, :index 6424}
{:type :invoke, :f :read, :value nil, :process 35, :time 38784231495, :index 6425}
{:type :ok, :f :read, :value 0, :process 57, :time 38785968721, :index 6426}
{:type :ok, :f :read, :value 0, :process 35, :time 38791701747, :index 6428}
{:type :invoke, :f :read, :value nil, :process 13, :time 38793551173, :index 6429}
{:type :ok, :f :read, :value 0, :process 13, :time 38799071166, :index 6432}
{:type :invoke, :f :read, :value nil, :process 57, :time 38828223934, :index 6436}
{:type :ok, :f :read, :value 0, :process 57, :time 38833152005, :index 6437}
{:type :invoke, :f :write, :value 3, :process 18, :time 38842405589, :index 6438}
{:type :ok, :f :write, :value 3, :process 18, :time 38847911478, :index 6439}
{:type :invoke, :f :write, :value 0, :process 32, :time 38875528789, :index 6444}
{:type :ok, :f :write, :value 0, :process 32, :time 38880617961, :index 6447}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 38963501865, :index 6473}
{:type :ok, :f :cas, :value [0 2], :process 10, :time 38969224023, :index 6478}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :fail, :f :read, :value nil, :process 31, :time 41600593332, :error :timeout, :index 6768}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
