{:type :invoke, :f :cas, :value [4 4], :process 17, :time 3422620304, :index 1178}
{:type :fail, :f :cas, :value [4 4], :process 17, :time 3428947829, :error :not-found, :index 1179}
{:type :invoke, :f :cas, :value [0 4], :process 12, :time 3470050156, :index 1196}
{:type :fail, :f :cas, :value [0 4], :process 12, :time 3475694327, :error :not-found, :index 1202}
{:type :invoke, :f :write, :value 3, :process 13, :time 3482934588, :index 1204}
{:type :ok, :f :write, :value 3, :process 13, :time 3489010298, :index 1208}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 3525218745, :index 1218}
{:type :invoke, :f :write, :value 0, :process 13, :time 3526261427, :index 1219}
{:type :ok, :f :write, :value 0, :process 13, :time 3530841346, :index 1220}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 3531269252, :index 1221}
{:type :invoke, :f :cas, :value [4 3], :process 16, :time 3540088866, :index 1222}
{:type :invoke, :f :write, :value 1, :process 17, :time 3544209988, :index 1223}
{:type :fail, :f :cas, :value [4 3], :process 16, :time 3545712425, :index 1224}
{:type :invoke, :f :cas, :value [1 3], :process 14, :time 3547902293, :index 1225}
{:type :ok, :f :write, :value 1, :process 17, :time 3549264222, :index 1226}
{:type :ok, :f :cas, :value [1 3], :process 14, :time 3553241247, :index 1227}
{:type :invoke, :f :write, :value 0, :process 12, :time 3556939632, :index 1228}
{:type :ok, :f :write, :value 0, :process 12, :time 3561655595, :index 1230}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 3579974342, :index 1238}
{:type :ok, :f :cas, :value [0 2], :process 18, :time 3585269867, :index 1240}
{:type :invoke, :f :write, :value 4, :process 11, :time 3593858825, :index 1242}
{:type :ok, :f :write, :value 4, :process 11, :time 3598746695, :index 1243}
{:type :invoke, :f :write, :value 3, :process 19, :time 3607521349, :index 1245}
{:type :ok, :f :write, :value 3, :process 19, :time 3613118471, :index 1250}
{:type :invoke, :f :write, :value 3, :process 14, :time 3619503845, :index 1254}
{:type :ok, :f :write, :value 3, :process 14, :time 3624966360, :index 1256}
{:type :invoke, :f :write, :value 1, :process 16, :time 3643976265, :index 1264}
{:type :ok, :f :write, :value 1, :process 16, :time 3648234529, :index 1265}
{:type :invoke, :f :read, :value nil, :process 10, :time 3654570972, :index 1266}
{:type :ok, :f :read, :value 1, :process 10, :time 3660202636, :index 1268}
{:type :invoke, :f :read, :value nil, :process 10, :time 3667405998, :index 1271}
{:type :invoke, :f :cas, :value [3 3], :process 19, :time 3667409877, :index 1272}
{:type :fail, :f :cas, :value [3 3], :process 19, :time 3672616447, :index 1274}
{:type :invoke, :f :write, :value 2, :process 17, :time 3672538652, :index 1275}
{:type :ok, :f :read, :value 1, :process 10, :time 3673168402, :index 1276}
{:type :invoke, :f :write, :value 4, :process 14, :time 3677214652, :index 1278}
{:type :ok, :f :write, :value 2, :process 17, :time 3677549830, :index 1279}
{:type :invoke, :f :write, :value 3, :process 16, :time 3681494832, :index 1280}
{:type :ok, :f :write, :value 4, :process 14, :time 3683435366, :index 1281}
{:type :ok, :f :write, :value 3, :process 16, :time 3687026552, :index 1284}
{:type :invoke, :f :read, :value nil, :process 13, :time 3688113088, :index 1285}
{:type :ok, :f :read, :value 3, :process 13, :time 3692720960, :index 1287}
{:type :invoke, :f :read, :value nil, :process 18, :time 3703543225, :index 1290}
{:type :invoke, :f :read, :value nil, :process 13, :time 3705983886, :index 1292}
{:type :ok, :f :read, :value 3, :process 18, :time 3707785260, :index 1293}
{:type :ok, :f :read, :value 3, :process 13, :time 3710336924, :index 1295}
{:type :invoke, :f :write, :value 3, :process 15, :time 3716507824, :index 1296}
{:type :invoke, :f :cas, :value [1 2], :process 12, :time 3717920871, :index 1297}
{:type :ok, :f :write, :value 3, :process 15, :time 3722496704, :index 1299}
{:type :fail, :f :cas, :value [1 2], :process 12, :time 3722900088, :index 1300}
{:type :invoke, :f :read, :value nil, :process 10, :time 3740442345, :index 1306}
{:type :ok, :f :read, :value 3, :process 10, :time 3746154503, :index 1307}
{:type :invoke, :f :cas, :value [3 1], :process 11, :time 3788022707, :index 1313}
{:type :ok, :f :cas, :value [3 1], :process 11, :time 3792281180, :index 1315}
{:type :invoke, :f :write, :value 1, :process 17, :time 3796787433, :index 1316}
{:type :ok, :f :write, :value 1, :process 17, :time 3802590880, :index 1317}
{:type :invoke, :f :read, :value nil, :process 10, :time 3805414396, :index 1318}
{:type :ok, :f :read, :value 1, :process 10, :time 3811194027, :index 1319}
{:type :invoke, :f :read, :value nil, :process 13, :time 3830585663, :index 1325}
{:type :invoke, :f :read, :value nil, :process 18, :time 3833048932, :index 1326}
{:type :ok, :f :read, :value 1, :process 13, :time 3835091793, :index 1328}
{:type :ok, :f :read, :value 1, :process 18, :time 3837633432, :index 1331}
{:type :invoke, :f :cas, :value [4 0], :process 14, :time 3849723558, :index 1337}
{:type :fail, :f :cas, :value [4 0], :process 14, :time 3854983900, :index 1340}
{:type :invoke, :f :read, :value nil, :process 19, :time 3861866433, :index 1342}
{:type :ok, :f :read, :value 1, :process 19, :time 3866928795, :index 1343}
{:type :invoke, :f :read, :value nil, :process 17, :time 3868887224, :index 1344}
{:type :invoke, :f :cas, :value [3 2], :process 12, :time 3872158865, :index 1345}
{:type :ok, :f :read, :value 1, :process 17, :time 3874051713, :index 1346}
{:type :fail, :f :cas, :value [3 2], :process 12, :time 3877443231, :index 1348}
{:type :invoke, :f :write, :value 3, :process 16, :time 3879309236, :index 1349}
{:type :invoke, :f :read, :value nil, :process 15, :time 3879787738, :index 1350}
{:type :invoke, :f :cas, :value [2 2], :process 13, :time 3882351302, :index 1352}
{:type :ok, :f :read, :value 1, :process 15, :time 3885623335, :index 1353}
{:type :invoke, :f :read, :value nil, :process 11, :time 3885550203, :index 1354}
{:type :fail, :f :cas, :value [2 2], :process 13, :time 3887255049, :index 1355}
{:type :invoke, :f :write, :value 3, :process 12, :time 3906707463, :index 1358}
{:type :ok, :f :write, :value 3, :process 12, :time 3911910988, :index 1359}
{:type :invoke, :f :read, :value nil, :process 17, :time 3916319849, :index 1360}
{:type :ok, :f :read, :value 3, :process 17, :time 3923182612, :index 1363}
{:type :invoke, :f :cas, :value [1 3], :process 12, :time 3929172429, :index 1366}
{:type :fail, :f :cas, :value [1 3], :process 12, :time 3934795097, :index 1367}
{:type :invoke, :f :read, :value nil, :process 13, :time 3958515716, :index 1368}
{:type :ok, :f :read, :value 3, :process 13, :time 3963601978, :index 1370}
{:type :invoke, :f :read, :value nil, :process 14, :time 3978244087, :index 1372}
{:type :ok, :f :read, :value 3, :process 14, :time 3983513271, :index 1373}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 3990877001, :index 1375}
{:type :invoke, :f :write, :value 0, :process 19, :time 3996206654, :index 1377}
{:type :invoke, :f :write, :value 0, :process 18, :time 3996897317, :index 1378}
{:type :fail, :f :cas, :value [4 3], :process 15, :time 3997683877, :index 1379}
{:type :ok, :f :write, :value 0, :process 19, :time 4001993148, :index 1380}
{:type :ok, :f :write, :value 0, :process 18, :time 4002538847, :index 1381}
{:type :invoke, :f :read, :value nil, :process 10, :time 4004453429, :index 1382}
{:type :ok, :f :read, :value 0, :process 10, :time 4009815871, :index 1384}
{:type :invoke, :f :write, :value 4, :process 13, :time 4011861560, :index 1386}
{:type :ok, :f :write, :value 4, :process 13, :time 4017525572, :index 1389}
{:type :invoke, :f :write, :value 4, :process 12, :time 4045056267, :index 1396}
{:type :ok, :f :write, :value 4, :process 12, :time 4050034521, :index 1398}
{:type :invoke, :f :write, :value 1, :process 14, :time 4076775601, :index 1400}
{:type :invoke, :f :write, :value 3, :process 19, :time 4079274058, :index 1401}
{:type :ok, :f :write, :value 1, :process 14, :time 4081894541, :index 1402}
{:type :ok, :f :write, :value 3, :process 19, :time 4084056946, :index 1403}
{:type :invoke, :f :cas, :value [1 0], :process 17, :time 4096447422, :index 1406}
{:type :fail, :f :cas, :value [1 0], :process 17, :time 4102237775, :index 1407}
{:type :invoke, :f :cas, :value [3 1], :process 19, :time 4104311618, :index 1408}
{:type :invoke, :f :cas, :value [0 0], :process 17, :time 4105510337, :index 1410}
{:type :ok, :f :cas, :value [3 1], :process 19, :time 4109354256, :index 1411}
{:type :fail, :f :cas, :value [0 0], :process 17, :time 4110782022, :index 1412}
{:type :invoke, :f :cas, :value [4 3], :process 17, :time 4129047745, :index 1416}
{:type :fail, :f :cas, :value [4 3], :process 17, :time 4135036590, :index 1419}
{:type :invoke, :f :write, :value 0, :process 15, :time 4147998803, :index 1422}
{:type :ok, :f :write, :value 0, :process 15, :time 4153722396, :index 1424}
{:type :invoke, :f :write, :value 0, :process 10, :time 4155076519, :index 1425}
{:type :ok, :f :write, :value 0, :process 10, :time 4161925855, :index 1428}
{:type :invoke, :f :write, :value 3, :process 13, :time 4163794317, :index 1431}
{:type :ok, :f :write, :value 3, :process 13, :time 4168486600, :index 1433}
{:type :invoke, :f :write, :value 3, :process 18, :time 4179776079, :index 1434}
{:type :ok, :f :write, :value 3, :process 18, :time 4184642795, :index 1435}
{:type :invoke, :f :read, :value nil, :process 18, :time 4184791575, :index 1436}
{:type :ok, :f :read, :value 3, :process 18, :time 4189780711, :index 1437}
{:type :invoke, :f :write, :value 3, :process 12, :time 4207304012, :index 1440}
{:type :ok, :f :write, :value 3, :process 12, :time 4215408422, :index 1443}
{:type :ok, :f :write, :value 3, :process 16, :time 4239505091, :index 1446}
{:type :ok, :f :read, :value 3, :process 11, :time 4239752748, :index 1447}
{:type :invoke, :f :read, :value nil, :process 19, :time 4240622753, :index 1448}
{:type :invoke, :f :write, :value 4, :process 14, :time 4241197457, :index 1449}
{:type :ok, :f :read, :value 3, :process 19, :time 4245645186, :index 1450}
{:type :ok, :f :write, :value 4, :process 14, :time 4247050854, :index 1452}
{:type :invoke, :f :read, :value nil, :process 18, :time 4248039212, :index 1453}
{:type :ok, :f :read, :value 4, :process 18, :time 4252602612, :index 1455}
{:type :invoke, :f :cas, :value [3 3], :process 13, :time 4277744061, :index 1462}
{:type :fail, :f :cas, :value [3 3], :process 13, :time 4283134008, :index 1464}
{:type :invoke, :f :write, :value 2, :process 17, :time 4296324498, :index 1467}
{:type :invoke, :f :write, :value 3, :process 14, :time 4299306410, :index 1468}
{:type :ok, :f :write, :value 2, :process 17, :time 4301144653, :index 1470}
{:type :invoke, :f :write, :value 0, :process 10, :time 4303241748, :index 1471}
{:type :ok, :f :write, :value 3, :process 14, :time 4304620576, :index 1472}
{:type :ok, :f :write, :value 0, :process 10, :time 4308627283, :index 1473}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 4311982673, :index 1474}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 4318082574, :index 1478}
{:type :invoke, :f :read, :value nil, :process 19, :time 4331905315, :index 1483}
{:type :ok, :f :read, :value 0, :process 19, :time 4337106329, :index 1486}
{:type :invoke, :f :read, :value nil, :process 17, :time 4338457669, :index 1487}
{:type :ok, :f :read, :value 0, :process 17, :time 4344533649, :index 1489}
{:type :invoke, :f :cas, :value [0 0], :process 12, :time 4344713919, :index 1490}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 4347342674, :index 1491}
{:type :ok, :f :cas, :value [0 0], :process 12, :time 4349089879, :index 1492}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 4352892265, :index 1493}
{:type :invoke, :f :read, :value nil, :process 16, :time 4384743447, :index 1499}
{:type :ok, :f :read, :value 0, :process 16, :time 4389862129, :index 1501}
{:type :invoke, :f :read, :value nil, :process 11, :time 4398982046, :index 1503}
{:type :invoke, :f :write, :value 2, :process 18, :time 4402854383, :index 1505}
{:type :ok, :f :read, :value 0, :process 11, :time 4404384835, :index 1506}
{:type :invoke, :f :read, :value nil, :process 13, :time 4404404877, :index 1507}
{:type :ok, :f :write, :value 2, :process 18, :time 4408106256, :index 1508}
{:type :ok, :f :read, :value 2, :process 13, :time 4408538306, :index 1509}
{:type :invoke, :f :read, :value nil, :process 14, :time 4412831971, :index 1511}
{:type :ok, :f :read, :value 2, :process 14, :time 4418424662, :index 1514}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 4418376164, :index 1515}
{:type :invoke, :f :write, :value 2, :process 19, :time 4419383556, :index 1516}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 4423248176, :index 1519}
{:type :ok, :f :write, :value 2, :process 19, :time 4425600005, :index 1520}
{:type :invoke, :f :write, :value 1, :process 11, :time 4432657055, :index 1522}
{:type :ok, :f :write, :value 1, :process 11, :time 4438059588, :index 1525}
{:type :invoke, :f :write, :value 3, :process 10, :time 4438897762, :index 1526}
{:type :ok, :f :write, :value 3, :process 10, :time 4444348719, :index 1531}
{:type :invoke, :f :read, :value nil, :process 13, :time 4520773257, :index 1549}
{:type :invoke, :f :read, :value nil, :process 12, :time 4524399598, :index 1551}
{:type :ok, :f :read, :value 3, :process 13, :time 4525843830, :index 1552}
{:type :invoke, :f :write, :value 4, :process 19, :time 4527901786, :index 1553}
{:type :ok, :f :read, :value 3, :process 12, :time 4529626203, :index 1554}
{:type :invoke, :f :read, :value nil, :process 17, :time 4531794737, :index 1555}
{:type :ok, :f :write, :value 4, :process 19, :time 4532748280, :index 1556}
{:type :invoke, :f :write, :value 0, :process 11, :time 4535340688, :index 1558}
{:type :ok, :f :read, :value 4, :process 17, :time 4536918182, :index 1559}
{:type :ok, :f :write, :value 0, :process 11, :time 4540384981, :index 1560}
{:type :invoke, :f :cas, :value [1 2], :process 15, :time 4551153103, :index 1562}
{:type :invoke, :f :write, :value 0, :process 16, :time 4552124488, :index 1563}
{:type :ok, :f :write, :value 0, :process 16, :time 4557478714, :index 1564}
{:type :fail, :f :cas, :value [1 2], :process 15, :time 4557820841, :index 1565}
{:type :invoke, :f :read, :value nil, :process 14, :time 4568663609, :index 1567}
{:type :ok, :f :read, :value 0, :process 14, :time 4574105095, :index 1568}
{:type :invoke, :f :write, :value 3, :process 18, :time 4587545736, :index 1572}
{:type :ok, :f :write, :value 3, :process 18, :time 4592892811, :index 1577}
{:type :invoke, :f :read, :value nil, :process 12, :time 4604890084, :index 1578}
{:type :ok, :f :read, :value 3, :process 12, :time 4610475520, :index 1579}
{:type :invoke, :f :read, :value nil, :process 10, :time 4611651523, :index 1580}
{:type :ok, :f :read, :value 3, :process 10, :time 4617128594, :index 1583}
{:type :invoke, :f :read, :value nil, :process 11, :time 4649658122, :index 1593}
{:type :ok, :f :read, :value 3, :process 11, :time 4655192205, :index 1596}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 4696110325, :index 1604}
{:type :fail, :f :cas, :value [0 4], :process 13, :time 4700958096, :index 1605}
{:type :invoke, :f :read, :value nil, :process 15, :time 4701122932, :index 1606}
{:type :invoke, :f :read, :value nil, :process 17, :time 4705203561, :index 1608}
{:type :ok, :f :read, :value 3, :process 15, :time 4706150661, :index 1610}
{:type :ok, :f :read, :value 3, :process 17, :time 4710787201, :index 1612}
{:type :invoke, :f :read, :value nil, :process 19, :time 4714943244, :index 1617}
{:type :ok, :f :read, :value 3, :process 19, :time 4720356509, :index 1621}
{:type :invoke, :f :read, :value nil, :process 16, :time 4746746813, :index 1628}
{:type :ok, :f :read, :value 3, :process 16, :time 4752552480, :index 1630}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
