{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 10931633983, :index 2020}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 10933310374, :error :connect, :index 2021}
{:type :invoke, :f :read, :value nil, :process 10, :time 10961602893, :index 2028}
{:type :fail, :f :read, :value nil, :process 10, :time 10963625196, :error :connect, :index 2029}
{:type :invoke, :f :write, :value 0, :process 37, :time 10980741551, :index 2033}
{:type :fail, :f :write, :value 0, :process 37, :time 10982818760, :error :connect, :index 2035}
{:type :invoke, :f :cas, :value [1 0], :process 32, :time 11004245340, :index 2045}
{:type :invoke, :f :write, :value 3, :process 36, :time 11005657637, :index 2047}
{:type :fail, :f :cas, :value [1 0], :process 32, :time 11006105019, :error :connect, :index 2049}
{:type :fail, :f :write, :value 3, :process 36, :time 11008099255, :error :connect, :index 2050}
{:type :invoke, :f :read, :value nil, :process 32, :time 11010355274, :index 2052}
{:type :fail, :f :read, :value nil, :process 32, :time 11011993744, :error :connect, :index 2053}
{:type :invoke, :f :write, :value 1, :process 33, :time 11073234902, :index 2077}
{:type :invoke, :f :write, :value 1, :process 37, :time 11075083017, :index 2079}
{:type :fail, :f :write, :value 1, :process 33, :time 11075395698, :error :connect, :index 2080}
{:type :fail, :f :write, :value 1, :process 37, :time 11077019356, :error :connect, :index 2081}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 11082388374, :index 2084}
{:type :fail, :f :cas, :value [0 0], :process 36, :time 11084652073, :error :connect, :index 2086}
{:type :invoke, :f :read, :value nil, :process 11, :time 11114588319, :index 2097}
{:type :fail, :f :read, :value nil, :process 11, :time 11116300556, :error :connect, :index 2099}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 11139448968, :index 2103}
{:type :invoke, :f :read, :value nil, :process 10, :time 11140893009, :index 2105}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 11141588802, :error :connect, :index 2106}
{:type :fail, :f :read, :value nil, :process 10, :time 11142917397, :error :connect, :index 2107}
{:type :invoke, :f :write, :value 1, :process 18, :time 11156251201, :index 2112}
{:type :fail, :f :write, :value 1, :process 18, :time 11158324228, :error :connect, :index 2114}
{:type :invoke, :f :read, :value nil, :process 32, :time 11161255442, :index 2116}
{:type :fail, :f :read, :value nil, :process 32, :time 11162917545, :error :connect, :index 2117}
{:type :invoke, :f :cas, :value [4 1], :process 36, :time 11165946668, :index 2118}
{:type :fail, :f :cas, :value [4 1], :process 36, :time 11167843861, :error :connect, :index 2119}
{:type :invoke, :f :read, :value nil, :process 37, :time 11170277447, :index 2120}
{:type :fail, :f :read, :value nil, :process 37, :time 11171890094, :error :connect, :index 2121}
{:type :invoke, :f :cas, :value [0 0], :process 39, :time 11173764012, :index 2122}
{:type :invoke, :f :cas, :value [2 4], :process 32, :time 11174192125, :index 2123}
{:type :fail, :f :cas, :value [0 0], :process 39, :time 11175711201, :error :connect, :index 2124}
{:type :fail, :f :cas, :value [2 4], :process 32, :time 11176071253, :error :connect, :index 2125}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 11181529959, :index 2126}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 11183196133, :error :connect, :index 2127}
{:type :invoke, :f :write, :value 4, :process 34, :time 11187673556, :index 2128}
{:type :fail, :f :write, :value 4, :process 34, :time 11189279107, :error :connect, :index 2129}
{:type :invoke, :f :cas, :value [1 2], :process 39, :time 11195978909, :index 2130}
{:type :fail, :f :cas, :value [1 2], :process 39, :time 11197775440, :error :connect, :index 2131}
{:type :invoke, :f :read, :value nil, :process 32, :time 11211316116, :index 2136}
{:type :fail, :f :read, :value nil, :process 32, :time 11213235042, :error :connect, :index 2137}
{:type :invoke, :f :read, :value nil, :process 36, :time 11225108789, :index 2144}
{:type :fail, :f :read, :value nil, :process 36, :time 11226987026, :error :connect, :index 2146}
{:type :invoke, :f :read, :value nil, :process 33, :time 11228640948, :index 2148}
{:type :fail, :f :read, :value nil, :process 33, :time 11230311760, :error :connect, :index 2149}
{:type :invoke, :f :read, :value nil, :process 33, :time 11250609643, :index 2153}
{:type :fail, :f :read, :value nil, :process 33, :time 11252325732, :error :connect, :index 2155}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 11253176332, :index 2156}
{:type :fail, :f :cas, :value [1 1], :process 10, :time 11255127605, :error :connect, :index 2158}
{:type :invoke, :f :write, :value 2, :process 11, :time 11260861203, :index 2162}
{:type :fail, :f :write, :value 2, :process 11, :time 11262766276, :error :connect, :index 2163}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 11280457453, :index 2170}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 11282264130, :error :connect, :index 2171}
{:type :invoke, :f :write, :value 2, :process 37, :time 11287159549, :index 2174}
{:type :fail, :f :write, :value 2, :process 37, :time 11289241983, :error :connect, :index 2175}
{:type :invoke, :f :write, :value 4, :process 37, :time 11290497779, :index 2176}
{:type :fail, :f :write, :value 4, :process 37, :time 11292339665, :error :connect, :index 2177}
{:type :invoke, :f :cas, :value [4 3], :process 18, :time 11296598348, :index 2180}
{:type :fail, :f :cas, :value [4 3], :process 18, :time 11298567212, :error :connect, :index 2181}
{:type :invoke, :f :cas, :value [4 2], :process 33, :time 11298592776, :index 2182}
{:type :fail, :f :cas, :value [4 2], :process 33, :time 11300501271, :error :connect, :index 2183}
{:type :invoke, :f :write, :value 3, :process 32, :time 11328493783, :index 2188}
{:type :fail, :f :write, :value 3, :process 32, :time 11330206135, :error :connect, :index 2190}
{:type :invoke, :f :read, :value nil, :process 11, :time 11331021605, :index 2191}
{:type :fail, :f :read, :value nil, :process 11, :time 11333053351, :error :connect, :index 2193}
{:type :invoke, :f :write, :value 1, :process 15, :time 11334545285, :index 2194}
{:type :fail, :f :write, :value 1, :process 15, :time 11336632422, :error :connect, :index 2196}
{:type :invoke, :f :read, :value nil, :process 15, :time 11348892930, :index 2198}
{:type :fail, :f :read, :value nil, :process 15, :time 11350709740, :error :connect, :index 2199}
{:type :invoke, :f :read, :value nil, :process 39, :time 11365046632, :index 2202}
{:type :fail, :f :read, :value nil, :process 39, :time 11366649653, :error :connect, :index 2203}
{:type :invoke, :f :read, :value nil, :process 36, :time 11367258126, :index 2204}
{:type :fail, :f :read, :value nil, :process 36, :time 11369059243, :error :connect, :index 2205}
{:type :invoke, :f :cas, :value [3 1], :process 34, :time 11370542160, :index 2206}
{:type :fail, :f :cas, :value [3 1], :process 34, :time 11372587452, :error :connect, :index 2209}
{:type :invoke, :f :write, :value 0, :process 34, :time 11372717283, :index 2210}
{:type :fail, :f :write, :value 0, :process 34, :time 11374739310, :error :connect, :index 2213}
{:type :invoke, :f :read, :value nil, :process 34, :time 11376029348, :index 2216}
{:type :invoke, :f :write, :value 4, :process 32, :time 11376498221, :index 2218}
{:type :fail, :f :read, :value nil, :process 34, :time 11378463449, :error :connect, :index 2219}
{:type :fail, :f :write, :value 4, :process 32, :time 11378553191, :error :connect, :index 2220}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 11379604347, :index 2222}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 11381433282, :error :connect, :index 2223}
{:type :invoke, :f :read, :value nil, :process 10, :time 11388375476, :index 2226}
{:type :fail, :f :read, :value nil, :process 10, :time 11390409931, :error :connect, :index 2227}
{:type :invoke, :f :cas, :value [0 2], :process 11, :time 11408308136, :index 2229}
{:type :fail, :f :cas, :value [0 2], :process 11, :time 11410181941, :error :connect, :index 2231}
{:type :invoke, :f :read, :value nil, :process 36, :time 11418317287, :index 2232}
{:type :fail, :f :read, :value nil, :process 36, :time 11420191742, :error :connect, :index 2233}
{:type :invoke, :f :write, :value 1, :process 18, :time 11430882933, :index 2236}
{:type :invoke, :f :write, :value 1, :process 36, :time 11432451933, :index 2237}
{:type :fail, :f :write, :value 1, :process 18, :time 11432745889, :error :connect, :index 2238}
{:type :fail, :f :write, :value 1, :process 36, :time 11434625506, :error :connect, :index 2239}
{:type :invoke, :f :read, :value nil, :process 34, :time 11434727831, :index 2240}
{:type :fail, :f :read, :value nil, :process 34, :time 11436637831, :error :connect, :index 2242}
{:type :invoke, :f :write, :value 0, :process 15, :time 11478973302, :index 2250}
{:type :fail, :f :write, :value 0, :process 15, :time 11481012014, :error :connect, :index 2251}
{:type :invoke, :f :write, :value 4, :process 10, :time 11483678800, :index 2253}
{:type :fail, :f :write, :value 4, :process 10, :time 11485317030, :error :connect, :index 2255}
{:type :invoke, :f :read, :value nil, :process 33, :time 11488784292, :index 2257}
{:type :fail, :f :read, :value nil, :process 33, :time 11490481442, :error :connect, :index 2259}
{:type :invoke, :f :read, :value nil, :process 37, :time 11491701799, :index 2260}
{:type :fail, :f :read, :value nil, :process 37, :time 11493582699, :error :connect, :index 2262}
{:type :invoke, :f :read, :value nil, :process 11, :time 11509443020, :index 2271}
{:type :invoke, :f :write, :value 2, :process 10, :time 11509613985, :index 2272}
{:type :fail, :f :read, :value nil, :process 11, :time 11511185924, :error :connect, :index 2274}
{:type :fail, :f :write, :value 2, :process 10, :time 11511651635, :error :connect, :index 2275}
{:type :invoke, :f :write, :value 1, :process 15, :time 11512272765, :index 2276}
{:type :fail, :f :write, :value 1, :process 15, :time 11514025678, :error :connect, :index 2277}
{:type :invoke, :f :read, :value nil, :process 39, :time 11525939573, :index 2280}
{:type :fail, :f :read, :value nil, :process 39, :time 11529159658, :error :connect, :index 2281}
{:type :invoke, :f :write, :value 2, :process 39, :time 11531419568, :index 2282}
{:type :invoke, :f :cas, :value [2 1], :process 32, :time 11531799144, :index 2283}
{:type :fail, :f :write, :value 2, :process 39, :time 11533299655, :error :connect, :index 2285}
{:type :fail, :f :cas, :value [2 1], :process 32, :time 11533661243, :error :connect, :index 2286}
{:type :invoke, :f :write, :value 3, :process 34, :time 11558903665, :index 2292}
{:type :fail, :f :write, :value 3, :process 34, :time 11560669265, :error :connect, :index 2293}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 11568980375, :index 2298}
{:type :fail, :f :cas, :value [0 4], :process 18, :time 11570867020, :error :connect, :index 2299}
{:type :invoke, :f :cas, :value [4 2], :process 34, :time 11589919764, :index 2302}
{:type :fail, :f :cas, :value [4 2], :process 34, :time 11591958673, :error :connect, :index 2303}
{:type :invoke, :f :read, :value nil, :process 36, :time 11606495536, :index 2304}
{:type :fail, :f :read, :value nil, :process 36, :time 11608372386, :error :connect, :index 2305}
{:type :invoke, :f :cas, :value [3 0], :process 39, :time 11628543490, :index 2308}
{:type :fail, :f :cas, :value [3 0], :process 39, :time 11630560190, :error :connect, :index 2309}
{:type :invoke, :f :write, :value 3, :process 36, :time 11651629169, :index 2314}
{:type :fail, :f :write, :value 3, :process 36, :time 11653620706, :error :connect, :index 2317}
{:type :invoke, :f :read, :value nil, :process 33, :time 11656736600, :index 2320}
{:type :fail, :f :read, :value nil, :process 33, :time 11658656983, :error :connect, :index 2321}
{:type :invoke, :f :cas, :value [2 2], :process 34, :time 11663222851, :index 2324}
{:type :fail, :f :cas, :value [2 2], :process 34, :time 11665227846, :error :connect, :index 2325}
{:type :invoke, :f :cas, :value [4 0], :process 32, :time 11669916045, :index 2326}
{:type :fail, :f :cas, :value [4 0], :process 32, :time 11671856542, :error :connect, :index 2328}
{:type :invoke, :f :cas, :value [2 2], :process 11, :time 11674429773, :index 2330}
{:type :fail, :f :cas, :value [2 2], :process 11, :time 11676365732, :error :connect, :index 2332}
{:type :invoke, :f :cas, :value [1 1], :process 15, :time 11679323970, :index 2334}
{:type :invoke, :f :read, :value nil, :process 37, :time 11680847251, :index 2335}
{:type :fail, :f :cas, :value [1 1], :process 15, :time 11681213548, :error :connect, :index 2336}
{:type :fail, :f :read, :value nil, :process 37, :time 11682569118, :error :connect, :index 2337}
{:type :invoke, :f :write, :value 0, :process 10, :time 11689900097, :index 2338}
{:type :fail, :f :write, :value 0, :process 10, :time 11691705514, :error :connect, :index 2340}
{:type :invoke, :f :read, :value nil, :process 18, :time 11693138704, :index 2342}
{:type :fail, :f :read, :value nil, :process 18, :time 11695201772, :error :connect, :index 2343}
{:type :invoke, :f :read, :value nil, :process 34, :time 11734498663, :index 2350}
{:type :fail, :f :read, :value nil, :process 34, :time 11736291488, :error :connect, :index 2351}
{:type :invoke, :f :write, :value 3, :process 33, :time 11760944951, :index 2358}
{:type :fail, :f :write, :value 3, :process 33, :time 11762826607, :error :connect, :index 2359}
{:type :invoke, :f :read, :value nil, :process 39, :time 11766878912, :index 2360}
{:type :fail, :f :read, :value nil, :process 39, :time 11768775100, :error :connect, :index 2361}
{:type :invoke, :f :read, :value nil, :process 36, :time 11772910150, :index 2362}
{:type :fail, :f :read, :value nil, :process 36, :time 11774665064, :error :connect, :index 2363}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 11775615595, :index 2364}
{:type :fail, :f :cas, :value [2 1], :process 11, :time 11777471013, :error :connect, :index 2365}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 11777965646, :index 2366}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 11779633824, :error :connect, :index 2367}
{:type :invoke, :f :write, :value 2, :process 32, :time 11800105918, :index 2372}
{:type :fail, :f :write, :value 2, :process 32, :time 11802258933, :error :connect, :index 2373}
{:type :invoke, :f :cas, :value [0 1], :process 15, :time 11817464971, :index 2374}
{:type :fail, :f :cas, :value [0 1], :process 15, :time 11819525488, :error :connect, :index 2375}
{:type :invoke, :f :write, :value 0, :process 37, :time 11830847147, :index 2378}
{:type :fail, :f :write, :value 0, :process 37, :time 11832695485, :error :connect, :index 2379}
{:type :invoke, :f :read, :value nil, :process 15, :time 11839797145, :index 2381}
{:type :fail, :f :read, :value nil, :process 15, :time 11841466169, :error :connect, :index 2382}
{:type :invoke, :f :read, :value nil, :process 39, :time 11845040702, :index 2386}
{:type :fail, :f :read, :value nil, :process 39, :time 11846997133, :error :connect, :index 2389}
{:type :invoke, :f :write, :value 4, :process 34, :time 11886562012, :index 2398}
{:type :fail, :f :write, :value 4, :process 34, :time 11888563510, :error :connect, :index 2399}
{:type :invoke, :f :read, :value nil, :process 18, :time 11893466636, :index 2404}
{:type :fail, :f :read, :value nil, :process 18, :time 11895273899, :error :connect, :index 2405}
{:type :invoke, :f :read, :value nil, :process 36, :time 11905957162, :index 2410}
{:type :fail, :f :read, :value nil, :process 36, :time 11907617178, :error :connect, :index 2411}
{:type :invoke, :f :read, :value nil, :process 39, :time 11913254916, :index 2412}
{:type :fail, :f :read, :value nil, :process 39, :time 11915485988, :error :connect, :index 2413}
{:type :invoke, :f :read, :value nil, :process 11, :time 11923757099, :index 2414}
{:type :fail, :f :read, :value nil, :process 11, :time 11925414074, :error :connect, :index 2415}
{:type :invoke, :f :write, :value 1, :process 10, :time 11926905606, :index 2416}
{:type :fail, :f :write, :value 1, :process 10, :time 11928726330, :error :connect, :index 2417}
{:type :invoke, :f :read, :value nil, :process 37, :time 11930958317, :index 2418}
{:type :fail, :f :read, :value nil, :process 37, :time 11932802616, :error :connect, :index 2419}
{:type :invoke, :f :read, :value nil, :process 32, :time 11941526485, :index 2423}
{:type :fail, :f :read, :value nil, :process 32, :time 11943623803, :error :connect, :index 2426}
{:type :invoke, :f :read, :value nil, :process 33, :time 11955103026, :index 2432}
{:type :fail, :f :read, :value nil, :process 33, :time 11956723734, :error :connect, :index 2433}
{:type :invoke, :f :read, :value nil, :process 15, :time 11979746583, :index 2434}
{:type :fail, :f :read, :value nil, :process 15, :time 11981661972, :error :connect, :index 2435}
{:type :invoke, :f :write, :value 3, :process 34, :time 11987827818, :index 2436}
{:type :fail, :f :write, :value 3, :process 34, :time 11989870290, :error :connect, :index 2437}
{:type :invoke, :f :cas, :value [1 1], :process 36, :time 12007878549, :index 2442}
{:type :fail, :f :cas, :value [1 1], :process 36, :time 12009826389, :error :connect, :index 2443}
{:type :invoke, :f :write, :value 0, :process 39, :time 12034725031, :index 2453}
{:type :fail, :f :write, :value 0, :process 39, :time 12036782354, :error :connect, :index 2454}
{:type :invoke, :f :write, :value 1, :process 11, :time 12041671401, :index 2456}
{:type :fail, :f :write, :value 1, :process 11, :time 12043781398, :error :connect, :index 2457}
{:type :invoke, :f :cas, :value [1 0], :process 18, :time 12074546956, :index 2470}
{:type :fail, :f :cas, :value [1 0], :process 18, :time 12076854746, :error :connect, :index 2473}
{:type :invoke, :f :write, :value 3, :process 10, :time 12115989796, :index 2493}
{:type :fail, :f :write, :value 3, :process 10, :time 12117890252, :error :connect, :index 2496}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
