{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :invoke, :f :write, :value 4, :process 55, :time 38292085359, :index 6860}
{:type :invoke, :f :write, :value 1, :process 16, :time 38296722805, :index 6862}
{:type :ok, :f :write, :value 4, :process 55, :time 38297009215, :index 6863}
{:type :ok, :f :write, :value 1, :process 16, :time 38301677333, :index 6866}
{:type :invoke, :f :read, :value nil, :process 30, :time 38320928251, :index 6871}
{:type :ok, :f :read, :value 1, :process 30, :time 38325588772, :index 6874}
{:type :invoke, :f :read, :value nil, :process 31, :time 38335280876, :index 6878}
{:type :ok, :f :read, :value 1, :process 31, :time 38341216644, :index 6879}
{:type :invoke, :f :write, :value 4, :process 30, :time 38368852107, :index 6882}
{:type :ok, :f :write, :value 4, :process 30, :time 38373534549, :index 6883}
{:type :invoke, :f :write, :value 2, :process 55, :time 38377312103, :index 6885}
{:type :ok, :f :write, :value 2, :process 55, :time 38382457053, :index 6886}
{:type :invoke, :f :write, :value 1, :process 31, :time 38427497819, :index 6888}
{:type :ok, :f :write, :value 1, :process 31, :time 38433926935, :index 6889}
{:type :invoke, :f :write, :value 1, :process 16, :time 38479981886, :index 6898}
{:type :ok, :f :write, :value 1, :process 16, :time 38485192340, :index 6899}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 38507457328, :index 6904}
{:type :invoke, :f :write, :value 1, :process 31, :time 38508299046, :index 6906}
{:type :ok, :f :cas, :value [1 1], :process 16, :time 38516376940, :index 6908}
{:type :ok, :f :write, :value 1, :process 31, :time 38516573608, :index 6909}
{:type :invoke, :f :read, :value nil, :process 30, :time 38557803220, :index 6918}
{:type :invoke, :f :read, :value nil, :process 31, :time 38559843893, :index 6919}
{:type :ok, :f :read, :value 1, :process 30, :time 38563027730, :index 6920}
{:type :ok, :f :read, :value 1, :process 31, :time 38564820685, :index 6921}
{:type :invoke, :f :write, :value 2, :process 55, :time 38568722405, :index 6922}
{:type :ok, :f :write, :value 2, :process 55, :time 38572805276, :index 6923}
{:type :invoke, :f :write, :value 2, :process 31, :time 38617074290, :index 6926}
{:type :ok, :f :write, :value 2, :process 31, :time 38622201540, :index 6927}
{:type :invoke, :f :write, :value 3, :process 31, :time 38644454204, :index 6930}
{:type :ok, :f :write, :value 3, :process 31, :time 38649886380, :index 6932}
{:type :invoke, :f :write, :value 4, :process 55, :time 38672043089, :index 6934}
{:type :ok, :f :write, :value 4, :process 55, :time 38677160780, :index 6936}
{:type :invoke, :f :cas, :value [3 4], :process 16, :time 38715656512, :index 6943}
{:type :fail, :f :cas, :value [3 4], :process 16, :time 38721574941, :index 6947}
{:type :invoke, :f :read, :value nil, :process 31, :time 38724203536, :index 6950}
{:type :ok, :f :read, :value 4, :process 31, :time 38729301454, :index 6951}
{:type :invoke, :f :read, :value nil, :process 30, :time 38741293002, :index 6952}
{:type :ok, :f :read, :value 4, :process 30, :time 38745933022, :index 6953}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 38745860612, :index 6954}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 38751225995, :index 6956}
{:type :invoke, :f :read, :value nil, :process 31, :time 38766552825, :index 6958}
{:type :ok, :f :read, :value 4, :process 31, :time 38771914801, :index 6959}
{:type :invoke, :f :write, :value 3, :process 16, :time 38783492730, :index 6960}
{:type :ok, :f :write, :value 3, :process 16, :time 38789879252, :index 6963}
{:type :invoke, :f :cas, :value [3 4], :process 30, :time 38800182154, :index 6966}
{:type :ok, :f :cas, :value [3 4], :process 30, :time 38804629869, :index 6967}
{:type :invoke, :f :read, :value nil, :process 16, :time 38861233511, :index 6974}
{:type :ok, :f :read, :value 4, :process 16, :time 38867412764, :index 6975}
{:type :invoke, :f :write, :value 0, :process 55, :time 38874422148, :index 6976}
{:type :ok, :f :write, :value 0, :process 55, :time 38880582370, :index 6977}
{:type :invoke, :f :read, :value nil, :process 16, :time 38896670725, :index 6982}
{:type :ok, :f :read, :value 0, :process 16, :time 38901375856, :index 6984}
{:type :invoke, :f :read, :value nil, :process 31, :time 38937171214, :index 6990}
{:type :ok, :f :read, :value 0, :process 31, :time 38942589379, :index 6992}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 38972649652, :index 6998}
{:type :invoke, :f :read, :value nil, :process 30, :time 38976893185, :index 6999}
{:type :fail, :f :cas, :value [2 0], :process 16, :time 38978291742, :index 7000}
{:type :ok, :f :read, :value 0, :process 30, :time 38981283719, :index 7001}
{:type :invoke, :f :cas, :value [1 2], :process 55, :time 39001847901, :index 7005}
{:type :fail, :f :cas, :value [1 2], :process 55, :time 39007111045, :index 7007}
{:type :invoke, :f :write, :value 3, :process 55, :time 39055387920, :index 7012}
{:type :ok, :f :write, :value 3, :process 55, :time 39060083313, :index 7013}
{:type :invoke, :f :read, :value nil, :process 30, :time 39101543662, :index 7017}
{:type :ok, :f :read, :value 3, :process 30, :time 39105850265, :index 7019}
{:type :invoke, :f :write, :value 1, :process 31, :time 39117838531, :index 7020}
{:type :ok, :f :write, :value 1, :process 31, :time 39122803240, :index 7021}
{:type :invoke, :f :write, :value 0, :process 30, :time 39134108148, :index 7022}
{:type :ok, :f :write, :value 0, :process 30, :time 39139245581, :index 7024}
{:type :invoke, :f :cas, :value [2 2], :process 31, :time 39147018246, :index 7026}
{:type :invoke, :f :write, :value 0, :process 16, :time 39150566767, :index 7027}
{:type :fail, :f :cas, :value [2 2], :process 31, :time 39152976800, :index 7028}
{:type :ok, :f :write, :value 0, :process 16, :time 39155400416, :index 7030}
{:type :invoke, :f :cas, :value [2 0], :process 55, :time 39185346107, :index 7040}
{:type :fail, :f :cas, :value [2 0], :process 55, :time 39191385083, :index 7042}
{:type :invoke, :f :read, :value nil, :process 16, :time 39289673045, :index 7053}
{:type :ok, :f :read, :value 0, :process 16, :time 39295272450, :index 7054}
{:type :invoke, :f :write, :value 3, :process 31, :time 39305249838, :index 7055}
{:type :ok, :f :write, :value 3, :process 31, :time 39310500951, :index 7056}
{:type :invoke, :f :cas, :value [2 0], :process 30, :time 39310516361, :index 7057}
{:type :fail, :f :cas, :value [2 0], :process 30, :time 39315779524, :index 7058}
{:type :invoke, :f :write, :value 0, :process 58, :time 39341642874, :index 7059}
{:type :ok, :f :write, :value 0, :process 58, :time 39347044440, :index 7060}
{:type :invoke, :f :cas, :value [0 0], :process 55, :time 39360650867, :index 7065}
{:type :ok, :f :cas, :value [0 0], :process 55, :time 39364961193, :index 7066}
{:type :invoke, :f :read, :value nil, :process 31, :time 39366801076, :index 7067}
{:type :ok, :f :read, :value 0, :process 31, :time 39371257290, :index 7068}
{:type :invoke, :f :cas, :value [3 1], :process 58, :time 39426306132, :index 7081}
{:type :fail, :f :cas, :value [3 1], :process 58, :time 39431968762, :index 7082}
{:type :invoke, :f :write, :value 1, :process 30, :time 39445041934, :index 7083}
{:type :ok, :f :write, :value 1, :process 30, :time 39449903106, :index 7084}
{:type :invoke, :f :read, :value nil, :process 16, :time 39466532129, :index 7087}
{:type :ok, :f :read, :value 1, :process 16, :time 39471584777, :index 7088}
{:type :invoke, :f :write, :value 4, :process 55, :time 39498228701, :index 7089}
{:type :ok, :f :write, :value 4, :process 55, :time 39502928696, :index 7090}
{:type :invoke, :f :read, :value nil, :process 58, :time 39512254558, :index 7091}
{:type :ok, :f :read, :value 4, :process 58, :time 39518497855, :index 7093}
{:type :invoke, :f :cas, :value [2 2], :process 31, :time 39542060037, :index 7097}
{:type :fail, :f :cas, :value [2 2], :process 31, :time 39548176005, :index 7101}
{:type :invoke, :f :read, :value nil, :process 16, :time 39575866847, :index 7105}
{:type :ok, :f :read, :value 4, :process 16, :time 39580810577, :index 7106}
{:type :invoke, :f :write, :value 2, :process 58, :time 39594770480, :index 7107}
{:type :ok, :f :write, :value 2, :process 58, :time 39600402709, :index 7108}
{:type :invoke, :f :read, :value nil, :process 30, :time 39621191544, :index 7110}
{:type :invoke, :f :read, :value nil, :process 58, :time 39625675242, :index 7112}
{:type :ok, :f :read, :value 2, :process 30, :time 39627917523, :index 7113}
{:type :ok, :f :read, :value 2, :process 58, :time 39630816871, :index 7114}
{:type :invoke, :f :write, :value 4, :process 58, :time 39685087330, :index 7128}
{:type :invoke, :f :cas, :value [4 1], :process 31, :time 39697422550, :index 7130}
{:type :invoke, :f :read, :value nil, :process 55, :time 39702197919, :index 7131}
{:type :invoke, :f :write, :value 4, :process 16, :time 39728089070, :index 7136}
{:type :ok, :f :read, :value 4, :process 55, :time 39759119756, :index 7140}
{:type :ok, :f :write, :value 4, :process 58, :time 39759609730, :index 7142}
{:type :ok, :f :cas, :value [4 1], :process 31, :time 39760131784, :index 7143}
{:type :ok, :f :write, :value 4, :process 16, :time 39760789045, :index 7145}
{:type :invoke, :f :cas, :value [0 4], :process 30, :time 39803189264, :index 7151}
{:type :fail, :f :cas, :value [0 4], :process 30, :time 39808701330, :index 7152}
{:type :invoke, :f :read, :value nil, :process 55, :time 39824357657, :index 7153}
{:type :invoke, :f :read, :value nil, :process 58, :time 39825853457, :index 7154}
{:type :ok, :f :read, :value 4, :process 55, :time 39829542690, :index 7155}
{:type :invoke, :f :cas, :value [4 3], :process 31, :time 39917389438, :index 7160}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 39921048001, :index 7161}
{:type :invoke, :f :read, :value nil, :process 30, :time 39959960426, :index 7164}
{:type :invoke, :f :cas, :value [0 1], :process 55, :time 39964831575, :index 7165}
{:type :ok, :f :read, :value 4, :process 30, :time 40040205197, :index 7169}
{:type :fail, :f :cas, :value [0 1], :process 55, :time 40040769578, :index 7170}
{:type :ok, :f :cas, :value [4 3], :process 31, :time 40041189538, :index 7172}
{:type :fail, :f :cas, :value [2 4], :process 16, :time 40041990196, :index 7175}
{:type :invoke, :f :cas, :value [0 0], :process 30, :time 40068482862, :index 7180}
{:type :fail, :f :cas, :value [0 0], :process 30, :time 40073394075, :index 7181}
{:type :invoke, :f :cas, :value [1 3], :process 16, :time 40084284587, :index 7184}
{:type :fail, :f :cas, :value [1 3], :process 16, :time 40089893146, :index 7185}
{:type :invoke, :f :cas, :value [0 2], :process 30, :time 40116665399, :index 7190}
{:type :invoke, :f :cas, :value [0 4], :process 31, :time 40138429769, :index 7191}
{:type :invoke, :f :read, :value nil, :process 55, :time 40199968051, :index 7193}
{:type :invoke, :f :write, :value 3, :process 16, :time 40211173761, :index 7194}
{:type :fail, :f :cas, :value [0 2], :process 30, :time 40641514040, :index 7200}
{:type :ok, :f :read, :value 3, :process 55, :time 40641818991, :index 7201}
{:type :fail, :f :cas, :value [0 4], :process 31, :time 40643062385, :index 7204}
{:type :ok, :f :write, :value 3, :process 16, :time 40643733378, :index 7207}
{:type :invoke, :f :read, :value nil, :process 31, :time 40727061432, :index 7217}
{:type :ok, :f :read, :value 3, :process 31, :time 40732488495, :index 7219}
{:type :invoke, :f :read, :value nil, :process 55, :time 40741574555, :index 7221}
{:type :ok, :f :read, :value 3, :process 55, :time 40746324697, :index 7222}
{:type :invoke, :f :read, :value nil, :process 55, :time 40819644837, :index 7228}
{:type :ok, :f :read, :value 3, :process 55, :time 40824530731, :index 7231}
{:type :invoke, :f :cas, :value [4 0], :process 30, :time 40826092865, :index 7232}
{:type :invoke, :f :read, :value nil, :process 16, :time 40826200313, :index 7233}
{:type :fail, :f :cas, :value [4 0], :process 30, :time 40831008977, :index 7236}
{:type :ok, :f :read, :value 3, :process 16, :time 40831670848, :index 7237}
{:type :invoke, :f :read, :value nil, :process 30, :time 40846274462, :index 7238}
{:type :ok, :f :read, :value 3, :process 30, :time 40851610778, :index 7239}
{:type :invoke, :f :read, :value nil, :process 31, :time 40916741450, :index 7248}
{:type :ok, :f :read, :value 3, :process 31, :time 40921607272, :index 7249}
{:type :invoke, :f :write, :value 0, :process 31, :time 40937911291, :index 7252}
{:type :ok, :f :write, :value 0, :process 31, :time 40943075264, :index 7253}
{:type :invoke, :f :read, :value nil, :process 31, :time 40956345236, :index 7256}
{:type :invoke, :f :cas, :value [2 4], :process 55, :time 40990801783, :index 7260}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 41009909944, :index 7262}
{:type :invoke, :f :write, :value 1, :process 30, :time 41015910505, :index 7263}
{:type :invoke, :f :write, :value 1, :process 57, :time 41192561873, :index 7265}
{:type :invoke, :f :cas, :value [3 1], :process 52, :time 41228785992, :index 7269}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :ok, :f :write, :value 1, :process 30, :time 41410521146, :index 7279}
{:type :fail, :f :cas, :value [2 4], :process 55, :time 41410964728, :index 7280}
{:type :ok, :f :read, :value 1, :process 31, :time 41413462209, :index 7284}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 41414164106, :index 7287}
{:type :invoke, :f :cas, :value [2 0], :process 54, :time 41418697802, :index 7288}
{:type :invoke, :f :cas, :value [1 0], :process 30, :time 41425819708, :index 7289}
{:type :ok, :f :cas, :value [1 0], :process 30, :time 41430439887, :index 7290}
{:type :invoke, :f :cas, :value [0 3], :process 16, :time 41434619963, :index 7291}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :invoke, :f :cas, :value [2 4], :process 31, :time 41448401895, :index 7293}
{:type :invoke, :f :write, :value 4, :process 79, :time 41465754123, :index 7294}
{:type :invoke, :f :cas, :value [0 0], :process 30, :time 41494712419, :index 7297}
{:type :ok, :f :cas, :value [0 3], :process 16, :time 41565446566, :index 7304}
{:type :fail, :f :cas, :value [0 0], :process 30, :time 41567390236, :index 7307}
{:type :fail, :f :cas, :value [2 4], :process 31, :time 41568720873, :index 7311}
{:type :invoke, :f :read, :value nil, :process 55, :time 41597228266, :index 7313}
{:type :ok, :f :read, :value 3, :process 55, :time 41602453938, :index 7314}
{:type :invoke, :f :read, :value nil, :process 31, :time 41622449071, :index 7316}
{:type :ok, :f :read, :value 3, :process 31, :time 41631024053, :index 7318}
{:type :invoke, :f :read, :value nil, :process 33, :time 41635021935, :index 7319}
{:type :ok, :f :read, :value 3, :process 33, :time 41640030655, :index 7320}
{:type :invoke, :f :write, :value 1, :process 30, :time 41746653791, :index 7329}
{:type :invoke, :f :read, :value nil, :process 16, :time 41747741869, :index 7330}
{:type :ok, :f :write, :value 1, :process 30, :time 41752341542, :index 7332}
{:type :ok, :f :read, :value 1, :process 16, :time 41753397334, :index 7333}
{:type :invoke, :f :read, :value nil, :process 55, :time 41770718449, :index 7335}
{:type :ok, :f :read, :value 1, :process 55, :time 41775729649, :index 7336}
{:type :invoke, :f :write, :value 3, :process 31, :time 41780278386, :index 7337}
{:type :ok, :f :write, :value 3, :process 31, :time 41785509749, :index 7338}
{:type :invoke, :f :read, :value nil, :process 30, :time 41826603379, :index 7348}
{:type :ok, :f :read, :value 3, :process 30, :time 41831046634, :index 7350}
{:type :invoke, :f :cas, :value [1 0], :process 33, :time 41831294091, :index 7351}
{:type :fail, :f :cas, :value [1 0], :process 33, :time 41837911187, :index 7352}
{:type :invoke, :f :read, :value nil, :process 16, :time 41861677562, :index 7356}
{:type :ok, :f :read, :value 3, :process 16, :time 41868638611, :index 7361}
{:type :ok, :f :read, :value 4, :process 58, :time 46035781510, :index 7438}
{:type :fail, :f :cas, :value [2 0], :process 54, :time 46036478301, :index 7440}
{:type :ok, :f :write, :value 4, :process 79, :time 46036798299, :index 7442}
{:type :ok, :f :write, :value 1, :process 57, :time 46037082977, :index 7443}
{:type :fail, :f :cas, :value [3 1], :process 52, :time 46037319898, :index 7444}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
