{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :invoke, :f :read, :value nil, :process 40, :time 38413234731, :index 6341}
{:type :ok, :f :read, :value nil, :process 40, :time 38419082763, :index 6345}
{:type :invoke, :f :write, :value 1, :process 45, :time 38436680277, :index 6348}
{:type :ok, :f :write, :value 1, :process 45, :time 38443045994, :index 6350}
{:type :invoke, :f :write, :value 1, :process 40, :time 38479367823, :index 6356}
{:type :ok, :f :write, :value 1, :process 40, :time 38487378191, :index 6361}
{:type :invoke, :f :read, :value nil, :process 40, :time 38498635710, :index 6368}
{:type :ok, :f :read, :value 1, :process 40, :time 38504450357, :index 6369}
{:type :invoke, :f :read, :value nil, :process 40, :time 38533709305, :index 6374}
{:type :ok, :f :read, :value 1, :process 40, :time 38540001841, :index 6376}
{:type :invoke, :f :read, :value nil, :process 8, :time 38573857906, :index 6378}
{:type :ok, :f :read, :value 1, :process 8, :time 38579775477, :index 6379}
{:type :invoke, :f :read, :value nil, :process 40, :time 38580259212, :index 6380}
{:type :ok, :f :read, :value 1, :process 40, :time 38585884717, :index 6382}
{:type :invoke, :f :read, :value nil, :process 47, :time 38590514588, :index 6383}
{:type :ok, :f :read, :value 1, :process 47, :time 38596906145, :index 6385}
{:type :invoke, :f :cas, :value [4 4], :process 45, :time 38616314422, :index 6389}
{:type :invoke, :f :read, :value nil, :process 42, :time 38621892275, :index 6391}
{:type :fail, :f :cas, :value [4 4], :process 45, :time 38622875003, :index 6392}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 38625032672, :index 6393}
{:type :ok, :f :read, :value 1, :process 42, :time 38626197460, :index 6394}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 38630756589, :index 6395}
{:type :invoke, :f :read, :value nil, :process 40, :time 38650179035, :index 6400}
{:type :ok, :f :read, :value 1, :process 40, :time 38656019557, :index 6401}
{:type :invoke, :f :cas, :value [4 4], :process 40, :time 38699343482, :index 6406}
{:type :fail, :f :cas, :value [4 4], :process 40, :time 38711446487, :index 6407}
{:type :invoke, :f :write, :value 2, :process 23, :time 38722391956, :index 6410}
{:type :ok, :f :write, :value 2, :process 23, :time 38727562079, :index 6411}
{:type :invoke, :f :read, :value nil, :process 45, :time 38750138418, :index 6413}
{:type :invoke, :f :cas, :value [1 3], :process 47, :time 38752184787, :index 6414}
{:type :ok, :f :read, :value 2, :process 45, :time 38756540326, :index 6416}
{:type :fail, :f :cas, :value [1 3], :process 47, :time 38757001250, :index 6417}
{:type :invoke, :f :write, :value 4, :process 45, :time 38789820362, :index 6427}
{:type :ok, :f :write, :value 4, :process 45, :time 38795297341, :index 6430}
{:type :invoke, :f :write, :value 4, :process 42, :time 38796453412, :index 6431}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 38800009233, :index 6433}
{:type :ok, :f :write, :value 4, :process 42, :time 38801626788, :index 6434}
{:type :fail, :f :cas, :value [1 0], :process 8, :time 38805812261, :index 6435}
{:type :invoke, :f :read, :value nil, :process 40, :time 38848757904, :index 6440}
{:type :ok, :f :read, :value 4, :process 40, :time 38854028095, :index 6441}
{:type :invoke, :f :read, :value nil, :process 42, :time 38857879784, :index 6442}
{:type :ok, :f :read, :value 4, :process 42, :time 38863200856, :index 6443}
{:type :invoke, :f :read, :value nil, :process 45, :time 38877597135, :index 6445}
{:type :ok, :f :read, :value 4, :process 45, :time 38883337028, :index 6449}
{:type :invoke, :f :write, :value 0, :process 42, :time 38883503418, :index 6450}
{:type :ok, :f :write, :value 0, :process 42, :time 38888257120, :index 6452}
{:type :invoke, :f :read, :value nil, :process 8, :time 38892067422, :index 6454}
{:type :ok, :f :read, :value 0, :process 8, :time 38897886078, :index 6455}
{:type :invoke, :f :write, :value 1, :process 8, :time 38898018142, :index 6456}
{:type :ok, :f :write, :value 1, :process 8, :time 38903245755, :index 6457}
{:type :invoke, :f :write, :value 4, :process 23, :time 38908817024, :index 6458}
{:type :ok, :f :write, :value 4, :process 23, :time 38914687722, :index 6459}
{:type :invoke, :f :write, :value 1, :process 42, :time 38916538212, :index 6460}
{:type :invoke, :f :read, :value nil, :process 47, :time 38921251256, :index 6461}
{:type :ok, :f :write, :value 1, :process 42, :time 38921435387, :index 6462}
{:type :ok, :f :read, :value 1, :process 47, :time 38926202417, :index 6463}
{:type :invoke, :f :read, :value nil, :process 45, :time 38926627534, :index 6464}
{:type :invoke, :f :read, :value nil, :process 40, :time 38931320458, :index 6465}
{:type :ok, :f :read, :value 1, :process 45, :time 38932062857, :index 6466}
{:type :invoke, :f :cas, :value [3 0], :process 23, :time 38935953793, :index 6467}
{:type :ok, :f :read, :value 1, :process 40, :time 38937161794, :index 6468}
{:type :fail, :f :cas, :value [3 0], :process 23, :time 38941961275, :index 6469}
{:type :invoke, :f :write, :value 3, :process 42, :time 38943697222, :index 6470}
{:type :ok, :f :write, :value 3, :process 42, :time 38948870154, :index 6471}
{:type :invoke, :f :cas, :value [0 0], :process 8, :time 38961511925, :index 6472}
{:type :invoke, :f :read, :value nil, :process 45, :time 38967299478, :index 6475}
{:type :fail, :f :cas, :value [0 0], :process 8, :time 38968368936, :index 6476}
{:type :ok, :f :read, :value 3, :process 45, :time 38972507601, :index 6479}
{:type :invoke, :f :read, :value nil, :process 47, :time 39011466100, :index 6488}
{:type :ok, :f :read, :value 3, :process 47, :time 39015954906, :index 6489}
{:type :invoke, :f :cas, :value [3 4], :process 42, :time 39041127186, :index 6492}
{:type :invoke, :f :write, :value 4, :process 40, :time 39076457978, :index 6494}
{:type :invoke, :f :cas, :value [3 2], :process 45, :time 39079766687, :index 6495}
{:type :invoke, :f :read, :value nil, :process 23, :time 39095228992, :index 6496}
{:type :invoke, :f :cas, :value [4 3], :process 8, :time 39142634215, :index 6500}
{:type :invoke, :f :write, :value 4, :process 47, :time 39196219969, :index 6501}
{:type :ok, :f :cas, :value [3 4], :process 42, :time 39555524817, :index 6504}
{:type :ok, :f :read, :value 4, :process 23, :time 39559236953, :index 6505}
{:type :ok, :f :write, :value 4, :process 47, :time 39559984382, :index 6507}
{:type :fail, :f :cas, :value [3 2], :process 45, :time 39560824073, :index 6510}
{:type :ok, :f :write, :value 4, :process 40, :time 39561435293, :index 6514}
{:type :ok, :f :cas, :value [4 3], :process 8, :time 39561439964, :index 6515}
{:type :invoke, :f :cas, :value [2 3], :process 23, :time 39574498644, :index 6517}
{:type :fail, :f :cas, :value [2 3], :process 23, :time 39579530687, :index 6519}
{:type :invoke, :f :cas, :value [3 3], :process 45, :time 39628068900, :index 6522}
{:type :fail, :f :cas, :value [3 3], :process 45, :time 39633566862, :index 6523}
{:type :invoke, :f :write, :value 3, :process 23, :time 39636835909, :index 6525}
{:type :ok, :f :write, :value 3, :process 23, :time 39643408293, :index 6528}
{:type :invoke, :f :write, :value 3, :process 42, :time 39650865477, :index 6530}
{:type :invoke, :f :write, :value 3, :process 45, :time 39654861350, :index 6531}
{:type :ok, :f :write, :value 3, :process 42, :time 39655706764, :index 6532}
{:type :ok, :f :write, :value 3, :process 45, :time 39660414814, :index 6533}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 39660662736, :index 6534}
{:type :invoke, :f :cas, :value [0 4], :process 42, :time 39665977407, :index 6535}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 39666242669, :index 6536}
{:type :fail, :f :cas, :value [0 4], :process 42, :time 39671362400, :index 6538}
{:type :invoke, :f :write, :value 2, :process 8, :time 39690490254, :index 6541}
{:type :ok, :f :write, :value 2, :process 8, :time 39695379879, :index 6544}
{:type :invoke, :f :cas, :value [3 0], :process 40, :time 39706761504, :index 6546}
{:type :fail, :f :cas, :value [3 0], :process 40, :time 39713829563, :index 6549}
{:type :invoke, :f :write, :value 1, :process 23, :time 39722590055, :index 6551}
{:type :invoke, :f :cas, :value [2 3], :process 47, :time 39724309127, :index 6552}
{:type :ok, :f :write, :value 1, :process 23, :time 39728846053, :index 6554}
{:type :fail, :f :cas, :value [2 3], :process 47, :time 39729581212, :index 6555}
{:type :invoke, :f :read, :value nil, :process 45, :time 39755667437, :index 6558}
{:type :ok, :f :read, :value 1, :process 45, :time 39761177335, :index 6559}
{:type :invoke, :f :read, :value nil, :process 47, :time 39770846010, :index 6562}
{:type :ok, :f :read, :value 1, :process 47, :time 39775930175, :index 6563}
{:type :invoke, :f :read, :value nil, :process 40, :time 39779060778, :index 6564}
{:type :invoke, :f :read, :value nil, :process 42, :time 39781625609, :index 6565}
{:type :ok, :f :read, :value 1, :process 40, :time 39784864989, :index 6566}
{:type :ok, :f :read, :value 1, :process 42, :time 39786363436, :index 6567}
{:type :invoke, :f :cas, :value [2 4], :process 42, :time 39787610811, :index 6568}
{:type :fail, :f :cas, :value [2 4], :process 42, :time 39792922483, :index 6569}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 39831644017, :index 6572}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 39837042882, :index 6575}
{:type :invoke, :f :read, :value nil, :process 42, :time 39837182208, :index 6576}
{:type :ok, :f :read, :value 1, :process 42, :time 39841619279, :index 6579}
{:type :invoke, :f :read, :value nil, :process 23, :time 39872097598, :index 6587}
{:type :ok, :f :read, :value 1, :process 23, :time 39877052250, :index 6589}
{:type :invoke, :f :read, :value nil, :process 40, :time 39878122655, :index 6590}
{:type :ok, :f :read, :value 1, :process 40, :time 39884086272, :index 6591}
{:type :invoke, :f :read, :value nil, :process 8, :time 39884301195, :index 6592}
{:type :invoke, :f :read, :value nil, :process 42, :time 39888614720, :index 6593}
{:type :ok, :f :read, :value 1, :process 8, :time 39889152158, :index 6594}
{:type :ok, :f :read, :value 1, :process 42, :time 39893376690, :index 6595}
{:type :invoke, :f :read, :value nil, :process 47, :time 39917191777, :index 6597}
{:type :ok, :f :read, :value 1, :process 47, :time 39922499940, :index 6599}
{:type :invoke, :f :write, :value 1, :process 23, :time 39938301230, :index 6602}
{:type :invoke, :f :cas, :value [3 3], :process 45, :time 39943441411, :index 6603}
{:type :ok, :f :write, :value 1, :process 23, :time 39944182175, :index 6604}
{:type :fail, :f :cas, :value [3 3], :process 45, :time 39949098773, :index 6606}
{:type :invoke, :f :cas, :value [4 1], :process 23, :time 39950423581, :index 6607}
{:type :fail, :f :cas, :value [4 1], :process 23, :time 39955868058, :index 6609}
{:type :invoke, :f :read, :value nil, :process 42, :time 39980633352, :index 6612}
{:type :invoke, :f :read, :value nil, :process 45, :time 40009352543, :index 6615}
{:type :invoke, :f :write, :value 4, :process 40, :time 40034343923, :index 6618}
{:type :invoke, :f :read, :value nil, :process 47, :time 40059775161, :index 6620}
{:type :invoke, :f :read, :value nil, :process 23, :time 40084118954, :index 6621}
{:type :invoke, :f :write, :value 3, :process 8, :time 40087412501, :index 6622}
{:type :ok, :f :read, :value 1, :process 42, :time 40455780845, :index 6624}
{:type :ok, :f :read, :value 4, :process 47, :time 40457829791, :index 6627}
{:type :ok, :f :read, :value 1, :process 45, :time 40458752997, :index 6629}
{:type :ok, :f :write, :value 4, :process 40, :time 40459040024, :index 6631}
{:type :ok, :f :write, :value 3, :process 8, :time 40460208207, :index 6633}
{:type :ok, :f :read, :value 4, :process 23, :time 40460531168, :index 6635}
{:type :invoke, :f :write, :value 1, :process 23, :time 40518782923, :index 6640}
{:type :ok, :f :write, :value 1, :process 23, :time 40523959136, :index 6641}
{:type :invoke, :f :read, :value nil, :process 23, :time 40556215228, :index 6642}
{:type :ok, :f :read, :value 1, :process 23, :time 40561908664, :index 6643}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 40574501056, :index 6645}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 40580940270, :index 6648}
{:type :invoke, :f :write, :value 3, :process 45, :time 40610003168, :index 6652}
{:type :ok, :f :write, :value 3, :process 45, :time 40616520538, :index 6655}
{:type :invoke, :f :cas, :value [4 4], :process 40, :time 40626275051, :index 6656}
{:type :invoke, :f :cas, :value [3 4], :process 42, :time 40628128222, :index 6657}
{:type :fail, :f :cas, :value [4 4], :process 40, :time 40632501791, :index 6658}
{:type :ok, :f :cas, :value [3 4], :process 42, :time 40632846997, :index 6659}
{:type :invoke, :f :write, :value 4, :process 47, :time 40641087979, :index 6662}
{:type :ok, :f :write, :value 4, :process 47, :time 40646228434, :index 6664}
{:type :invoke, :f :write, :value 4, :process 47, :time 40665481538, :index 6668}
{:type :ok, :f :write, :value 4, :process 47, :time 40671761370, :index 6670}
{:type :invoke, :f :cas, :value [0 3], :process 40, :time 40677790510, :index 6673}
{:type :fail, :f :cas, :value [0 3], :process 40, :time 40683265353, :index 6676}
{:type :invoke, :f :read, :value nil, :process 8, :time 40717201528, :index 6681}
{:type :ok, :f :read, :value 4, :process 8, :time 40723061534, :index 6683}
{:type :invoke, :f :read, :value nil, :process 45, :time 40726783585, :index 6685}
{:type :ok, :f :read, :value 4, :process 45, :time 40732282375, :index 6686}
{:type :invoke, :f :write, :value 1, :process 23, :time 40749170135, :index 6688}
{:type :invoke, :f :write, :value 3, :process 8, :time 40754321146, :index 6690}
{:type :ok, :f :write, :value 1, :process 23, :time 40755246633, :index 6691}
{:type :ok, :f :write, :value 3, :process 8, :time 40759684955, :index 6693}
{:type :invoke, :f :cas, :value [4 0], :process 40, :time 40787520170, :index 6698}
{:type :fail, :f :cas, :value [4 0], :process 40, :time 40792737347, :index 6699}
{:type :invoke, :f :cas, :value [3 0], :process 45, :time 40806538843, :index 6700}
{:type :invoke, :f :write, :value 0, :process 47, :time 40809052614, :index 6701}
{:type :ok, :f :cas, :value [3 0], :process 45, :time 40812134087, :index 6703}
{:type :ok, :f :write, :value 0, :process 47, :time 40813624970, :index 6704}
{:type :invoke, :f :write, :value 4, :process 42, :time 40820083778, :index 6706}
{:type :ok, :f :write, :value 4, :process 42, :time 40825079598, :index 6707}
{:type :invoke, :f :write, :value 2, :process 40, :time 40857992870, :index 6710}
{:type :ok, :f :write, :value 2, :process 40, :time 40865983560, :index 6713}
{:type :invoke, :f :read, :value nil, :process 45, :time 40871381819, :index 6714}
{:type :ok, :f :read, :value 2, :process 45, :time 40877018724, :index 6716}
{:type :invoke, :f :read, :value nil, :process 8, :time 40901938039, :index 6718}
{:type :ok, :f :read, :value 2, :process 8, :time 40907516195, :index 6720}
{:type :invoke, :f :write, :value 2, :process 23, :time 40929496437, :index 6723}
{:type :invoke, :f :read, :value nil, :process 45, :time 40931333638, :index 6724}
{:type :invoke, :f :read, :value nil, :process 8, :time 40931782223, :index 6725}
{:type :invoke, :f :write, :value 3, :process 47, :time 40933905554, :index 6727}
{:type :invoke, :f :cas, :value [2 1], :process 40, :time 40997275985, :index 6731}
{:type :invoke, :f :read, :value nil, :process 42, :time 41001339393, :index 6732}
{:type :ok, :f :read, :value 3, :process 42, :time 41491851446, :index 6740}
{:type :ok, :f :write, :value 3, :process 47, :time 41492387891, :index 6741}
{:type :fail, :f :cas, :value [2 1], :process 40, :time 41493220429, :index 6743}
{:type :ok, :f :read, :value 2, :process 8, :time 41493231649, :index 6744}
{:type :ok, :f :write, :value 2, :process 23, :time 41493536181, :index 6746}
{:type :ok, :f :read, :value 2, :process 45, :time 41494061370, :index 6747}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :invoke, :f :cas, :value [0 4], :process 44, :time 41641404207, :index 6776}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :fail, :f :cas, :value [0 4], :process 44, :time 45604989957, :index 6926}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
