{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 59033573561, :index 9441}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 59039560908, :error :not-found, :index 9443}
{:type :invoke, :f :cas, :value [2 2], :process 40, :time 59045295850, :index 9444}
{:type :fail, :f :cas, :value [2 2], :process 40, :time 59052042017, :error :not-found, :index 9447}
{:type :invoke, :f :read, :value nil, :process 69, :time 59064437446, :index 9448}
{:type :invoke, :f :cas, :value [4 1], :process 21, :time 59069105194, :index 9449}
{:type :ok, :f :read, :value nil, :process 69, :time 59070234353, :index 9450}
{:type :fail, :f :cas, :value [4 1], :process 21, :time 59073503373, :error :not-found, :index 9452}
{:type :invoke, :f :read, :value nil, :process 69, :time 59081488037, :index 9455}
{:type :ok, :f :read, :value nil, :process 69, :time 59087332338, :index 9457}
{:type :invoke, :f :read, :value nil, :process 65, :time 59088281771, :index 9458}
{:type :ok, :f :read, :value nil, :process 65, :time 59095629804, :index 9459}
{:type :invoke, :f :read, :value nil, :process 6, :time 59127725845, :index 9465}
{:type :ok, :f :read, :value nil, :process 6, :time 59134087472, :index 9467}
{:type :invoke, :f :write, :value 0, :process 69, :time 59142587030, :index 9469}
{:type :ok, :f :write, :value 0, :process 69, :time 59147979616, :index 9471}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 59151339421, :index 9472}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 59155926564, :index 9473}
{:type :invoke, :f :cas, :value [0 1], :process 65, :time 59190896704, :index 9480}
{:type :invoke, :f :write, :value 1, :process 69, :time 59192246319, :index 9482}
{:type :ok, :f :cas, :value [0 1], :process 65, :time 59198379050, :index 9484}
{:type :ok, :f :write, :value 1, :process 69, :time 59199373760, :index 9485}
{:type :invoke, :f :write, :value 3, :process 4, :time 59199817653, :index 9486}
{:type :ok, :f :write, :value 3, :process 4, :time 59204890522, :index 9487}
{:type :invoke, :f :read, :value nil, :process 40, :time 59212298735, :index 9489}
{:type :invoke, :f :read, :value nil, :process 4, :time 59215150752, :index 9492}
{:type :ok, :f :read, :value 3, :process 40, :time 59217894431, :index 9493}
{:type :ok, :f :read, :value 3, :process 4, :time 59220769951, :index 9495}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 59263763563, :index 9500}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 59268751235, :index 9501}
{:type :invoke, :f :read, :value nil, :process 21, :time 59300006811, :index 9506}
{:type :invoke, :f :write, :value 3, :process 69, :time 59301627732, :index 9507}
{:type :ok, :f :read, :value 3, :process 21, :time 59304370531, :index 9508}
{:type :ok, :f :write, :value 3, :process 69, :time 59306794233, :index 9510}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 59337243673, :index 9516}
{:type :invoke, :f :cas, :value [4 1], :process 65, :time 59340655501, :index 9517}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 59342492633, :index 9518}
{:type :invoke, :f :read, :value nil, :process 40, :time 59344172289, :index 9519}
{:type :fail, :f :cas, :value [4 1], :process 65, :time 59346273539, :index 9520}
{:type :ok, :f :read, :value 3, :process 40, :time 59349312495, :index 9521}
{:type :invoke, :f :write, :value 4, :process 6, :time 59350792442, :index 9522}
{:type :ok, :f :write, :value 4, :process 6, :time 59355773499, :index 9523}
{:type :invoke, :f :write, :value 4, :process 6, :time 59398049339, :index 9530}
{:type :ok, :f :write, :value 4, :process 6, :time 59402462224, :index 9531}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 59406033576, :index 9532}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 59411894540, :index 9533}
{:type :invoke, :f :cas, :value [0 4], :process 69, :time 59420056201, :index 9534}
{:type :fail, :f :cas, :value [0 4], :process 69, :time 59426725365, :index 9535}
{:type :invoke, :f :cas, :value [0 4], :process 69, :time 59432991616, :index 9537}
{:type :fail, :f :cas, :value [0 4], :process 69, :time 59438323449, :index 9539}
{:type :invoke, :f :cas, :value [1 1], :process 40, :time 59457569089, :index 9541}
{:type :fail, :f :cas, :value [1 1], :process 40, :time 59463394479, :index 9543}
{:type :invoke, :f :write, :value 2, :process 65, :time 59465454281, :index 9545}
{:type :ok, :f :write, :value 2, :process 65, :time 59471750699, :index 9547}
{:type :invoke, :f :write, :value 3, :process 21, :time 59479651461, :index 9549}
{:type :invoke, :f :cas, :value [3 1], :process 69, :time 59481605014, :index 9551}
{:type :ok, :f :write, :value 3, :process 21, :time 59484914001, :index 9552}
{:type :ok, :f :cas, :value [3 1], :process 69, :time 59486767027, :index 9554}
{:type :invoke, :f :write, :value 3, :process 40, :time 59533689087, :index 9562}
{:type :ok, :f :write, :value 3, :process 40, :time 59540631635, :index 9563}
{:type :invoke, :f :cas, :value [0 1], :process 4, :time 59541157129, :index 9564}
{:type :fail, :f :cas, :value [0 1], :process 4, :time 59547297125, :index 9566}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 59551730313, :index 9569}
{:type :fail, :f :cas, :value [2 2], :process 6, :time 59556300595, :index 9571}
{:type :invoke, :f :read, :value nil, :process 65, :time 59589006345, :index 9577}
{:type :ok, :f :read, :value 3, :process 65, :time 59594167233, :index 9579}
{:type :invoke, :f :cas, :value [2 0], :process 65, :time 59604421929, :index 9581}
{:type :fail, :f :cas, :value [2 0], :process 65, :time 59610410182, :index 9584}
{:type :invoke, :f :read, :value nil, :process 40, :time 59647888706, :index 9589}
{:type :invoke, :f :cas, :value [4 3], :process 69, :time 59652047637, :index 9591}
{:type :ok, :f :read, :value 3, :process 40, :time 59653834194, :index 9592}
{:type :fail, :f :cas, :value [4 3], :process 69, :time 59657741284, :index 9593}
{:type :invoke, :f :read, :value nil, :process 21, :time 59661173019, :index 9594}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 59667600998, :index 9595}
{:type :ok, :f :read, :value 3, :process 21, :time 59668635327, :index 9596}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 59673624191, :index 9597}
{:type :invoke, :f :cas, :value [3 2], :process 69, :time 59680000053, :index 9598}
{:type :invoke, :f :write, :value 4, :process 40, :time 59682049702, :index 9599}
{:type :ok, :f :cas, :value [3 2], :process 69, :time 59687236406, :index 9600}
{:type :ok, :f :write, :value 4, :process 40, :time 59688752258, :index 9602}
{:type :invoke, :f :cas, :value [2 1], :process 21, :time 59688885253, :index 9603}
{:type :fail, :f :cas, :value [2 1], :process 21, :time 59695287466, :index 9606}
{:type :invoke, :f :write, :value 3, :process 4, :time 59703573178, :index 9609}
{:type :ok, :f :write, :value 3, :process 4, :time 59709321150, :index 9611}
{:type :invoke, :f :write, :value 0, :process 21, :time 59747589734, :index 9621}
{:type :ok, :f :write, :value 0, :process 21, :time 59753733338, :index 9624}
{:type :invoke, :f :write, :value 1, :process 6, :time 59756885758, :index 9626}
{:type :invoke, :f :read, :value nil, :process 65, :time 59759664616, :index 9627}
{:type :invoke, :f :cas, :value [1 4], :process 40, :time 59759669080, :index 9628}
{:type :ok, :f :write, :value 1, :process 6, :time 59761838394, :index 9630}
{:type :ok, :f :cas, :value [1 4], :process 40, :time 59767283778, :index 9631}
{:type :ok, :f :read, :value 4, :process 65, :time 59767903951, :index 9633}
{:type :invoke, :f :read, :value nil, :process 69, :time 59774506563, :index 9634}
{:type :ok, :f :read, :value 4, :process 69, :time 59780445012, :index 9635}
{:type :invoke, :f :write, :value 3, :process 4, :time 59797588764, :index 9636}
{:type :ok, :f :write, :value 3, :process 4, :time 59803497065, :index 9637}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 59833756463, :index 9641}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 59840425762, :index 9644}
{:type :invoke, :f :write, :value 2, :process 21, :time 59843966943, :index 9646}
{:type :invoke, :f :write, :value 4, :process 4, :time 59846689607, :index 9647}
{:type :ok, :f :write, :value 2, :process 21, :time 59849275420, :index 9648}
{:type :ok, :f :write, :value 4, :process 4, :time 59852313908, :index 9649}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 59854108472, :index 9650}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 59860075562, :index 9651}
{:type :invoke, :f :cas, :value [0 1], :process 40, :time 59861551668, :index 9652}
{:type :invoke, :f :read, :value nil, :process 69, :time 59866702825, :index 9653}
{:type :fail, :f :cas, :value [0 1], :process 40, :time 59868885932, :index 9654}
{:type :ok, :f :read, :value 4, :process 69, :time 59872227073, :index 9656}
{:type :invoke, :f :read, :value nil, :process 65, :time 59885147408, :index 9658}
{:type :ok, :f :read, :value 4, :process 65, :time 59890478930, :index 9660}
{:type :invoke, :f :read, :value nil, :process 21, :time 59908553196, :index 9662}
{:type :ok, :f :read, :value 4, :process 21, :time 59913926846, :index 9663}
{:type :invoke, :f :cas, :value [0 1], :process 40, :time 59931144110, :index 9664}
{:type :invoke, :f :write, :value 0, :process 65, :time 59936742903, :index 9665}
{:type :fail, :f :cas, :value [0 1], :process 40, :time 59939708559, :index 9666}
{:type :ok, :f :write, :value 0, :process 65, :time 59941875897, :index 9667}
{:type :invoke, :f :write, :value 3, :process 4, :time 59959570343, :index 9671}
{:type :ok, :f :write, :value 3, :process 4, :time 59965174167, :index 9673}
