{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :invoke, :f :cas, :value [1 2], :process 45, :time 36128287214, :index 5946}
{:type :fail, :f :cas, :value [1 2], :process 45, :time 36134052146, :error :not-found, :index 5951}
{:type :invoke, :f :cas, :value [1 2], :process 26, :time 36134586658, :index 5953}
{:type :fail, :f :cas, :value [1 2], :process 26, :time 36141060783, :error :not-found, :index 5960}
{:type :invoke, :f :write, :value 4, :process 40, :time 36146036353, :index 5963}
{:type :ok, :f :write, :value 4, :process 40, :time 36150982381, :index 5965}
{:type :invoke, :f :read, :value nil, :process 26, :time 36189291707, :index 5973}
{:type :ok, :f :read, :value 4, :process 26, :time 36195370003, :index 5976}
{:type :invoke, :f :cas, :value [3 1], :process 21, :time 36212551688, :index 5980}
{:type :invoke, :f :write, :value 0, :process 23, :time 36213056348, :index 5981}
{:type :fail, :f :cas, :value [3 1], :process 21, :time 36219096591, :index 5982}
{:type :invoke, :f :write, :value 3, :process 26, :time 36254624009, :index 5986}
{:type :invoke, :f :read, :value nil, :process 29, :time 36256228057, :index 5987}
{:type :ok, :f :write, :value 3, :process 26, :time 36260488462, :index 5988}
{:type :ok, :f :read, :value 3, :process 29, :time 36261231709, :index 5989}
{:type :invoke, :f :read, :value nil, :process 47, :time 36266212479, :index 5991}
{:type :ok, :f :read, :value 3, :process 47, :time 36271362988, :index 5993}
{:type :invoke, :f :write, :value 1, :process 45, :time 36271307317, :index 5994}
{:type :invoke, :f :write, :value 4, :process 42, :time 36272450056, :index 5995}
{:type :ok, :f :write, :value 4, :process 42, :time 36277496744, :index 5997}
{:type :invoke, :f :cas, :value [0 1], :process 42, :time 36277627803, :index 5998}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 36280856425, :index 6000}
{:type :fail, :f :cas, :value [0 1], :process 42, :time 36283649259, :index 6002}
{:type :invoke, :f :write, :value 4, :process 47, :time 36285662911, :index 6004}
{:type :ok, :f :write, :value 4, :process 47, :time 36290160757, :index 6005}
{:type :invoke, :f :read, :value nil, :process 40, :time 36295246951, :index 6007}
{:type :invoke, :f :cas, :value [0 0], :process 24, :time 36315337939, :index 6008}
{:type :fail, :f :cas, :value [0 0], :process 24, :time 36321148723, :index 6009}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 36325499929, :index 6010}
{:type :fail, :f :cas, :value [3 3], :process 29, :time 36331439013, :index 6011}
{:type :invoke, :f :read, :value nil, :process 47, :time 36334411063, :index 6012}
{:type :ok, :f :read, :value 4, :process 47, :time 36339177535, :index 6013}
{:type :invoke, :f :cas, :value [2 2], :process 42, :time 36366907200, :index 6019}
{:type :fail, :f :cas, :value [2 2], :process 42, :time 36371787838, :index 6021}
{:type :invoke, :f :cas, :value [1 1], :process 21, :time 36390348788, :index 6022}
{:type :fail, :f :cas, :value [1 1], :process 21, :time 36395523761, :index 6023}
{:type :ok, :f :write, :value 0, :process 23, :time 36407301437, :index 6025}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 36408311545, :index 6029}
{:type :invoke, :f :write, :value 4, :process 24, :time 36409409588, :index 6030}
{:type :ok, :f :write, :value 4, :process 24, :time 36414827333, :index 6032}
{:type :invoke, :f :read, :value nil, :process 23, :time 36425566686, :index 6035}
{:type :ok, :f :read, :value 4, :process 23, :time 36430753607, :index 6037}
{:type :invoke, :f :read, :value nil, :process 26, :time 36438781520, :index 6041}
{:type :invoke, :f :read, :value nil, :process 29, :time 36442739519, :index 6044}
{:type :ok, :f :read, :value 4, :process 26, :time 36444418386, :index 6046}
{:type :ok, :f :read, :value 4, :process 29, :time 36448596753, :index 6047}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :invoke, :f :cas, :value [3 2], :process 24, :time 36469124145, :index 6051}
{:type :invoke, :f :cas, :value [2 2], :process 23, :time 36509012042, :index 6053}
{:type :invoke, :f :read, :value nil, :process 47, :time 36524432710, :index 6054}
{:type :invoke, :f :read, :value nil, :process 29, :time 36532852896, :index 6055}
{:type :invoke, :f :read, :value nil, :process 8, :time 36551563182, :index 6056}
{:type :invoke, :f :cas, :value [2 2], :process 42, :time 36553051437, :index 6057}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :invoke, :f :cas, :value [2 3], :process 21, :time 36561781431, :index 6059}
{:type :ok, :f :read, :value 4, :process 47, :time 36589960141, :index 6062}
{:type :fail, :f :cas, :value [2 2], :process 42, :time 36590631298, :index 6063}
{:type :ok, :f :read, :value 4, :process 8, :time 36591064896, :index 6065}
{:type :fail, :f :cas, :value [2 2], :process 23, :time 36591504712, :index 6066}
{:type :ok, :f :read, :value 1, :process 40, :time 36592782932, :index 6068}
{:type :ok, :f :write, :value 1, :process 45, :time 36593052836, :index 6070}
{:type :invoke, :f :cas, :value [2 4], :process 23, :time 36595716310, :index 6073}
{:type :fail, :f :cas, :value [2 4], :process 23, :time 36603666504, :index 6076}
{:type :invoke, :f :write, :value 4, :process 26, :time 36613668651, :index 6077}
{:type :invoke, :f :write, :value 1, :process 8, :time 36670326662, :index 6084}
{:type :ok, :f :write, :value 1, :process 8, :time 36675703265, :index 6085}
{:type :invoke, :f :cas, :value [0 2], :process 45, :time 36687256885, :index 6090}
{:type :fail, :f :cas, :value [0 2], :process 45, :time 36692984332, :index 6092}
{:type :invoke, :f :write, :value 2, :process 45, :time 36694236749, :index 6093}
{:type :ok, :f :write, :value 2, :process 45, :time 36699434525, :index 6095}
{:type :invoke, :f :read, :value nil, :process 47, :time 36708248759, :index 6096}
{:type :invoke, :f :cas, :value [3 4], :process 42, :time 36711911205, :index 6097}
{:type :ok, :f :read, :value 2, :process 47, :time 36712923957, :index 6098}
{:type :fail, :f :cas, :value [3 4], :process 42, :time 36717366857, :index 6099}
{:type :invoke, :f :cas, :value [3 1], :process 23, :time 36737927727, :index 6103}
{:type :fail, :f :cas, :value [3 1], :process 23, :time 36743273577, :index 6105}
{:type :invoke, :f :read, :value nil, :process 40, :time 36776026666, :index 6111}
{:type :invoke, :f :write, :value 1, :process 42, :time 36779640998, :index 6113}
{:type :ok, :f :read, :value 2, :process 40, :time 36781836852, :index 6114}
{:type :ok, :f :write, :value 1, :process 42, :time 36784175309, :index 6115}
{:type :invoke, :f :cas, :value [0 4], :process 40, :time 36792084806, :index 6116}
{:type :fail, :f :cas, :value [0 4], :process 40, :time 36798179423, :index 6117}
{:type :invoke, :f :read, :value nil, :process 45, :time 36800687449, :index 6118}
{:type :ok, :f :read, :value 1, :process 45, :time 36806440392, :index 6119}
{:type :invoke, :f :read, :value nil, :process 8, :time 36860966595, :index 6122}
{:type :invoke, :f :read, :value nil, :process 42, :time 36863437724, :index 6123}
{:type :ok, :f :read, :value 1, :process 8, :time 36871185115, :index 6124}
{:type :ok, :f :read, :value 1, :process 42, :time 36871374698, :index 6125}
{:type :invoke, :f :write, :value 2, :process 47, :time 36876183187, :index 6126}
{:type :invoke, :f :write, :value 2, :process 42, :time 36877632644, :index 6127}
{:type :ok, :f :write, :value 2, :process 47, :time 36881880559, :index 6128}
{:type :ok, :f :write, :value 2, :process 42, :time 36882668059, :index 6129}
{:type :invoke, :f :cas, :value [2 2], :process 42, :time 36904883206, :index 6135}
{:type :ok, :f :cas, :value [2 2], :process 42, :time 36909185252, :index 6137}
{:type :invoke, :f :read, :value nil, :process 45, :time 36913718791, :index 6138}
{:type :ok, :f :read, :value 2, :process 45, :time 36920434577, :index 6142}
{:type :invoke, :f :write, :value 3, :process 23, :time 36924541271, :index 6144}
{:type :ok, :f :write, :value 3, :process 23, :time 36929868639, :index 6145}
{:type :invoke, :f :write, :value 1, :process 47, :time 36995154427, :index 6152}
{:type :invoke, :f :write, :value 2, :process 40, :time 36997456232, :index 6153}
{:type :ok, :f :write, :value 1, :process 47, :time 37000473066, :index 6154}
{:type :ok, :f :write, :value 2, :process 40, :time 37002636375, :index 6155}
{:type :invoke, :f :cas, :value [3 3], :process 42, :time 37046448494, :index 6159}
{:type :invoke, :f :cas, :value [1 4], :process 8, :time 37051503275, :index 6161}
{:type :fail, :f :cas, :value [3 3], :process 42, :time 37051663484, :index 6162}
{:type :fail, :f :cas, :value [1 4], :process 8, :time 37057201975, :index 6164}
{:type :invoke, :f :cas, :value [3 2], :process 42, :time 37105902396, :index 6170}
{:type :invoke, :f :cas, :value [2 2], :process 23, :time 37106142151, :index 6171}
{:type :invoke, :f :cas, :value [4 3], :process 47, :time 37106747304, :index 6172}
{:type :fail, :f :cas, :value [3 2], :process 42, :time 37111988663, :index 6173}
{:type :invoke, :f :write, :value 1, :process 45, :time 37112625157, :index 6174}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 37113467006, :index 6175}
{:type :fail, :f :cas, :value [4 3], :process 47, :time 37113795953, :index 6176}
{:type :ok, :f :cas, :value [2 2], :process 23, :time 37114362336, :index 6177}
{:type :ok, :f :write, :value 1, :process 45, :time 37118459880, :index 6178}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 37119291970, :index 6179}
{:type :invoke, :f :write, :value 1, :process 40, :time 37146895900, :index 6182}
{:type :ok, :f :write, :value 1, :process 40, :time 37152766425, :index 6184}
{:type :invoke, :f :write, :value 3, :process 47, :time 37179039291, :index 6188}
{:type :ok, :f :write, :value 3, :process 47, :time 37184129298, :index 6189}
{:type :invoke, :f :read, :value nil, :process 42, :time 37197244523, :index 6190}
{:type :ok, :f :read, :value 3, :process 42, :time 37201896245, :index 6191}
{:type :invoke, :f :write, :value 4, :process 45, :time 37213739663, :index 6194}
{:type :ok, :f :write, :value 4, :process 45, :time 37218803948, :index 6196}
{:type :invoke, :f :write, :value 2, :process 45, :time 37239058353, :index 6204}
{:type :ok, :f :write, :value 2, :process 45, :time 37244853464, :index 6205}
{:type :invoke, :f :read, :value nil, :process 45, :time 37250107113, :index 6206}
{:type :ok, :f :read, :value 2, :process 45, :time 37255888579, :index 6209}
{:type :invoke, :f :read, :value nil, :process 8, :time 37273530881, :index 6212}
{:type :invoke, :f :cas, :value [1 2], :process 47, :time 37274402044, :index 6214}
{:type :invoke, :f :cas, :value [3 4], :process 23, :time 37277653001, :index 6215}
{:type :ok, :f :read, :value 2, :process 8, :time 37279617336, :index 6216}
{:type :fail, :f :cas, :value [1 2], :process 47, :time 37282167106, :index 6217}
{:type :fail, :f :cas, :value [3 4], :process 23, :time 37283010488, :index 6219}
{:type :invoke, :f :read, :value nil, :process 23, :time 37305253847, :index 6222}
{:type :ok, :f :read, :value 2, :process 23, :time 37311342078, :index 6224}
{:type :invoke, :f :read, :value nil, :process 40, :time 37330028671, :index 6231}
{:type :ok, :f :read, :value 2, :process 40, :time 37336015594, :index 6233}
{:type :invoke, :f :write, :value 3, :process 47, :time 37359434612, :index 6236}
{:type :ok, :f :write, :value 3, :process 47, :time 37364041219, :index 6238}
{:type :invoke, :f :write, :value 1, :process 8, :time 37368888034, :index 6240}
{:type :ok, :f :write, :value 1, :process 8, :time 37374059141, :index 6241}
{:type :invoke, :f :cas, :value [0 2], :process 23, :time 37385639590, :index 6243}
{:type :invoke, :f :write, :value 1, :process 42, :time 37387187037, :index 6245}
{:type :invoke, :f :cas, :value [1 1], :process 45, :time 37389153768, :index 6246}
{:type :fail, :f :cas, :value [0 2], :process 23, :time 37391483572, :index 6247}
{:type :ok, :f :write, :value 1, :process 42, :time 37391832687, :index 6249}
{:type :ok, :f :cas, :value [1 1], :process 45, :time 37394255121, :index 6250}
{:type :invoke, :f :cas, :value [4 3], :process 40, :time 37424264544, :index 6254}
{:type :fail, :f :cas, :value [4 3], :process 40, :time 37431203763, :index 6256}
{:type :invoke, :f :read, :value nil, :process 40, :time 37441475567, :index 6261}
{:type :ok, :f :read, :value 1, :process 40, :time 37447034306, :index 6263}
{:type :invoke, :f :read, :value nil, :process 40, :time 37447186560, :index 6264}
{:type :ok, :f :read, :value 1, :process 40, :time 37452839659, :index 6265}
{:type :invoke, :f :cas, :value [0 1], :process 42, :time 37461073552, :index 6268}
{:type :invoke, :f :write, :value 2, :process 8, :time 37465321733, :index 6269}
{:type :invoke, :f :write, :value 0, :process 47, :time 37491303067, :index 6271}
{:type :invoke, :f :read, :value nil, :process 23, :time 37515799883, :index 6272}
{:type :invoke, :f :write, :value 0, :process 45, :time 37538516614, :index 6273}
{:type :invoke, :f :write, :value 4, :process 40, :time 37587097364, :index 6275}
{:type :ok, :f :write, :value 0, :process 47, :time 38169608358, :index 6282}
{:type :ok, :f :write, :value 0, :process 45, :time 38170650475, :index 6285}
{:type :fail, :f :cas, :value [0 1], :process 42, :time 38170893917, :index 6286}
{:type :ok, :f :write, :value 4, :process 40, :time 38170920776, :index 6287}
{:type :ok, :f :write, :value 2, :process 8, :time 38173417049, :index 6291}
{:type :ok, :f :read, :value 2, :process 23, :time 38173808815, :index 6292}
{:type :invoke, :f :write, :value 2, :process 8, :time 38211428181, :index 6296}
{:type :invoke, :f :cas, :value [4 1], :process 47, :time 38213979016, :index 6297}
{:type :ok, :f :write, :value 2, :process 8, :time 38220175854, :index 6298}
{:type :fail, :f :cas, :value [4 1], :process 47, :time 38221977785, :index 6299}
{:type :invoke, :f :write, :value 2, :process 23, :time 38284046857, :index 6305}
{:type :ok, :f :write, :value 2, :process 23, :time 38290110922, :index 6307}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 38309433202, :index 6311}
{:type :invoke, :f :cas, :value [4 2], :process 42, :time 38310138497, :index 6312}
{:type :fail, :f :cas, :value [4 2], :process 42, :time 38316094919, :index 6313}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 38316810374, :index 6315}
{:type :invoke, :f :cas, :value [0 3], :process 40, :time 38320143302, :index 6316}
{:type :fail, :f :cas, :value [0 3], :process 40, :time 38326065663, :index 6317}
{:type :invoke, :f :cas, :value [1 3], :process 40, :time 38359318776, :index 6322}
{:type :fail, :f :cas, :value [1 3], :process 40, :time 38365005301, :index 6323}
{:type :invoke, :f :write, :value 3, :process 45, :time 38369889150, :index 6324}
{:type :ok, :f :write, :value 3, :process 45, :time 38375467666, :index 6325}
{:type :invoke, :f :cas, :value [4 0], :process 23, :time 38388341318, :index 6328}
{:type :invoke, :f :cas, :value [0 1], :process 47, :time 38392233512, :index 6330}
{:type :fail, :f :cas, :value [4 0], :process 23, :time 38395427020, :index 6331}
{:type :fail, :f :cas, :value [0 1], :process 47, :time 38397257111, :index 6333}
{:type :invoke, :f :cas, :value [0 4], :process 45, :time 38401723884, :index 6334}
{:type :invoke, :f :read, :value nil, :process 40, :time 38405260929, :index 6336}
{:type :fail, :f :cas, :value [0 4], :process 45, :time 38408308300, :index 6337}
{:type :ok, :f :read, :value 3, :process 40, :time 38410985107, :index 6339}
{:type :invoke, :f :write, :value 3, :process 8, :time 38416075299, :index 6343}
{:type :ok, :f :write, :value 3, :process 8, :time 38420608194, :index 6346}
{:type :invoke, :f :write, :value 0, :process 42, :time 38460409674, :index 6352}
{:type :ok, :f :write, :value 0, :process 42, :time 38465630582, :index 6353}
{:type :invoke, :f :cas, :value [3 1], :process 47, :time 38475452341, :index 6354}
{:type :fail, :f :cas, :value [3 1], :process 47, :time 38481168974, :index 6357}
{:type :invoke, :f :read, :value nil, :process 23, :time 38527686042, :index 6372}
{:type :ok, :f :read, :value 0, :process 23, :time 38533127939, :index 6373}
{:type :info, :f :cas, :value [3 2], :process 24, :time 41474364097, :error :timeout, :index 6734}
{:type :fail, :f :read, :value nil, :process 29, :time 41539363852, :error :timeout, :index 6756}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :cas, :value [2 3], :process 21, :time 41565366636, :error :timeout, :index 6762}
{:type :info, :f :write, :value 4, :process 26, :time 41616534219, :error :timeout, :index 6771}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
