{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :invoke, :f :cas, :value [1 1], :process 22, :time 37909485050, :index 6076}
{:type :fail, :f :cas, :value [1 1], :process 22, :time 37916496634, :error :not-found, :index 6078}
{:type :invoke, :f :write, :value 2, :process 41, :time 37926624858, :index 6081}
{:type :ok, :f :write, :value 2, :process 41, :time 37932530617, :index 6083}
{:type :invoke, :f :cas, :value [4 1], :process 40, :time 38014668598, :index 6100}
{:type :invoke, :f :write, :value 3, :process 22, :time 38014779013, :index 6101}
{:type :fail, :f :cas, :value [4 1], :process 40, :time 38020413120, :index 6102}
{:type :ok, :f :write, :value 3, :process 22, :time 38020692665, :index 6103}
{:type :invoke, :f :cas, :value [0 1], :process 41, :time 38032785319, :index 6104}
{:type :fail, :f :cas, :value [0 1], :process 41, :time 38038649937, :index 6105}
{:type :invoke, :f :cas, :value [2 3], :process 7, :time 38039384554, :index 6106}
{:type :fail, :f :cas, :value [2 3], :process 7, :time 38044611601, :index 6107}
{:type :invoke, :f :cas, :value [0 1], :process 41, :time 38049910075, :index 6108}
{:type :invoke, :f :cas, :value [4 1], :process 46, :time 38087469874, :index 6113}
{:type :invoke, :f :read, :value nil, :process 40, :time 38131682508, :index 6115}
{:type :invoke, :f :read, :value nil, :process 7, :time 38135875238, :index 6116}
{:type :invoke, :f :read, :value nil, :process 22, :time 38170945170, :index 6118}
{:type :invoke, :f :cas, :value [3 4], :process 25, :time 38192756133, :index 6119}
{:type :fail, :f :cas, :value [0 1], :process 41, :time 38547242187, :index 6120}
{:type :ok, :f :read, :value 3, :process 7, :time 38547736826, :index 6121}
{:type :ok, :f :cas, :value [3 4], :process 25, :time 38548708782, :index 6123}
{:type :ok, :f :read, :value 3, :process 40, :time 38548933318, :index 6124}
{:type :fail, :f :cas, :value [4 1], :process 46, :time 38549727745, :index 6128}
{:type :ok, :f :read, :value 3, :process 22, :time 38549783287, :index 6129}
{:type :invoke, :f :cas, :value [1 4], :process 41, :time 38557576427, :index 6132}
{:type :fail, :f :cas, :value [1 4], :process 41, :time 38563577002, :index 6133}
{:type :invoke, :f :cas, :value [1 0], :process 7, :time 38597131147, :index 6136}
{:type :fail, :f :cas, :value [1 0], :process 7, :time 38602041670, :index 6137}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 38630277946, :index 6138}
{:type :invoke, :f :read, :value nil, :process 46, :time 38632980810, :index 6139}
{:type :ok, :f :cas, :value [4 4], :process 7, :time 38635867090, :index 6141}
{:type :ok, :f :read, :value 4, :process 46, :time 38638828247, :index 6142}
{:type :invoke, :f :read, :value nil, :process 41, :time 38641838037, :index 6144}
{:type :ok, :f :read, :value 4, :process 41, :time 38647232465, :index 6145}
{:type :invoke, :f :cas, :value [4 2], :process 40, :time 38652179278, :index 6146}
{:type :ok, :f :cas, :value [4 2], :process 40, :time 38657660981, :index 6147}
{:type :invoke, :f :cas, :value [3 4], :process 22, :time 38709009735, :index 6154}
{:type :invoke, :f :cas, :value [3 2], :process 40, :time 38711922674, :index 6155}
{:type :fail, :f :cas, :value [3 4], :process 22, :time 38713910817, :index 6156}
{:type :fail, :f :cas, :value [3 2], :process 40, :time 38718046881, :index 6157}
{:type :invoke, :f :cas, :value [4 4], :process 25, :time 38744059314, :index 6158}
{:type :fail, :f :cas, :value [4 4], :process 25, :time 38750078338, :index 6160}
{:type :invoke, :f :read, :value nil, :process 46, :time 38769002567, :index 6162}
{:type :invoke, :f :write, :value 3, :process 25, :time 38773340387, :index 6163}
{:type :ok, :f :read, :value 2, :process 46, :time 38774782185, :index 6164}
{:type :ok, :f :write, :value 3, :process 25, :time 38777999262, :index 6166}
{:type :invoke, :f :write, :value 3, :process 7, :time 38780156739, :index 6168}
{:type :ok, :f :write, :value 3, :process 7, :time 38785010623, :index 6170}
{:type :invoke, :f :cas, :value [1 4], :process 41, :time 38845409264, :index 6177}
{:type :invoke, :f :read, :value nil, :process 7, :time 38890289911, :index 6179}
{:type :invoke, :f :write, :value 2, :process 40, :time 38894308618, :index 6180}
{:type :invoke, :f :cas, :value [4 0], :process 25, :time 38902259996, :index 6181}
{:type :invoke, :f :write, :value 0, :process 22, :time 38913169641, :index 6182}
{:type :invoke, :f :read, :value nil, :process 46, :time 38948055432, :index 6183}
{:type :fail, :f :cas, :value [4 0], :process 25, :time 39383294239, :index 6188}
{:type :ok, :f :write, :value 0, :process 22, :time 39383348388, :index 6189}
{:type :ok, :f :read, :value 0, :process 46, :time 39383628100, :index 6190}
{:type :ok, :f :write, :value 2, :process 40, :time 39384125973, :index 6192}
{:type :fail, :f :cas, :value [1 4], :process 41, :time 39384408148, :index 6193}
{:type :ok, :f :read, :value 3, :process 7, :time 39384631163, :index 6195}
{:type :invoke, :f :write, :value 0, :process 25, :time 39422544689, :index 6196}
{:type :ok, :f :write, :value 0, :process 25, :time 39428365973, :index 6197}
{:type :invoke, :f :read, :value nil, :process 25, :time 39436631452, :index 6199}
{:type :ok, :f :read, :value 0, :process 25, :time 39442539327, :index 6201}
{:type :invoke, :f :read, :value nil, :process 22, :time 39495583464, :index 6205}
{:type :ok, :f :read, :value 0, :process 22, :time 39500363769, :index 6207}
{:type :invoke, :f :write, :value 2, :process 7, :time 39516988023, :index 6210}
{:type :invoke, :f :write, :value 3, :process 46, :time 39521911358, :index 6211}
{:type :ok, :f :write, :value 2, :process 7, :time 39522594632, :index 6212}
{:type :ok, :f :write, :value 3, :process 46, :time 39527523283, :index 6213}
{:type :invoke, :f :read, :value nil, :process 40, :time 39528357236, :index 6214}
{:type :ok, :f :read, :value 3, :process 40, :time 39533624783, :index 6215}
{:type :invoke, :f :write, :value 2, :process 41, :time 39569655848, :index 6218}
{:type :ok, :f :write, :value 2, :process 41, :time 39574640004, :index 6219}
{:type :invoke, :f :read, :value nil, :process 40, :time 39611900640, :index 6223}
{:type :invoke, :f :read, :value nil, :process 25, :time 39616795713, :index 6224}
{:type :invoke, :f :read, :value nil, :process 7, :time 39633909743, :index 6226}
{:type :invoke, :f :read, :value nil, :process 22, :time 39658625755, :index 6227}
{:type :invoke, :f :write, :value 2, :process 41, :time 39677442290, :index 6228}
{:type :invoke, :f :cas, :value [1 0], :process 46, :time 39716782653, :index 6231}
{:type :ok, :f :read, :value 2, :process 22, :time 39840861888, :index 6233}
{:type :ok, :f :read, :value 2, :process 7, :time 39841120734, :index 6235}
{:type :ok, :f :read, :value 2, :process 25, :time 39841961201, :index 6236}
{:type :ok, :f :read, :value 2, :process 40, :time 39842201336, :index 6237}
{:type :ok, :f :write, :value 2, :process 41, :time 39842769616, :index 6239}
{:type :fail, :f :cas, :value [1 0], :process 46, :time 39844075703, :index 6243}
{:type :invoke, :f :cas, :value [3 3], :process 40, :time 39948662679, :index 6248}
{:type :invoke, :f :cas, :value [1 3], :process 41, :time 39959817469, :index 6249}
{:type :invoke, :f :read, :value nil, :process 25, :time 39965447627, :index 6251}
{:type :invoke, :f :cas, :value [4 0], :process 7, :time 39967079912, :index 6252}
{:type :invoke, :f :cas, :value [4 3], :process 22, :time 40014134683, :index 6255}
{:type :invoke, :f :read, :value nil, :process 46, :time 40026465640, :index 6257}
{:type :fail, :f :cas, :value [4 3], :process 22, :time 40318704317, :index 6260}
{:type :fail, :f :cas, :value [3 3], :process 40, :time 40319003728, :index 6261}
{:type :fail, :f :cas, :value [4 0], :process 7, :time 40319564543, :index 6263}
{:type :ok, :f :read, :value 2, :process 25, :time 40319921951, :index 6264}
{:type :fail, :f :cas, :value [1 3], :process 41, :time 40320737607, :index 6266}
{:type :ok, :f :read, :value 2, :process 46, :time 40321526908, :index 6269}
{:type :invoke, :f :cas, :value [4 4], :process 40, :time 40348246264, :index 6273}
{:type :invoke, :f :write, :value 1, :process 46, :time 40373859380, :index 6276}
{:type :invoke, :f :read, :value nil, :process 22, :time 40410022479, :index 6278}
{:type :fail, :f :cas, :value [4 4], :process 40, :time 40427952649, :index 6279}
{:type :invoke, :f :read, :value nil, :process 7, :time 40430860288, :index 6280}
{:type :ok, :f :read, :value 1, :process 22, :time 40451741020, :index 6282}
{:type :ok, :f :write, :value 1, :process 46, :time 40452174617, :index 6283}
{:type :ok, :f :read, :value 1, :process 7, :time 40453375116, :index 6287}
{:type :invoke, :f :cas, :value [1 3], :process 22, :time 40469007145, :index 6291}
{:type :ok, :f :cas, :value [1 3], :process 22, :time 40473791443, :index 6293}
{:type :invoke, :f :cas, :value [3 3], :process 25, :time 40486155622, :index 6296}
{:type :invoke, :f :read, :value nil, :process 41, :time 40490013557, :index 6297}
{:type :ok, :f :cas, :value [3 3], :process 25, :time 40491911957, :index 6299}
{:type :ok, :f :read, :value 3, :process 41, :time 40494740376, :index 6300}
{:type :invoke, :f :read, :value nil, :process 22, :time 40511047284, :index 6304}
{:type :ok, :f :read, :value 3, :process 22, :time 40515407975, :index 6307}
{:type :invoke, :f :cas, :value [3 4], :process 41, :time 40523995101, :index 6310}
{:type :invoke, :f :write, :value 3, :process 7, :time 40526606499, :index 6311}
{:type :ok, :f :cas, :value [3 4], :process 41, :time 40529981577, :index 6312}
{:type :ok, :f :write, :value 3, :process 7, :time 40531418796, :index 6313}
{:type :invoke, :f :write, :value 4, :process 7, :time 40540683187, :index 6314}
{:type :ok, :f :write, :value 4, :process 7, :time 40546130425, :index 6315}
{:type :invoke, :f :cas, :value [3 3], :process 7, :time 40577397326, :index 6320}
{:type :invoke, :f :read, :value nil, :process 46, :time 40580287447, :index 6321}
{:type :fail, :f :cas, :value [3 3], :process 7, :time 40582522439, :index 6322}
{:type :ok, :f :read, :value 4, :process 46, :time 40586051421, :index 6324}
{:type :invoke, :f :read, :value nil, :process 40, :time 40595239540, :index 6326}
{:type :invoke, :f :write, :value 3, :process 41, :time 40599240178, :index 6327}
{:type :ok, :f :read, :value 4, :process 40, :time 40601015837, :index 6329}
{:type :invoke, :f :read, :value nil, :process 25, :time 40603161950, :index 6330}
{:type :ok, :f :write, :value 3, :process 41, :time 40605158632, :index 6331}
{:type :ok, :f :read, :value 3, :process 25, :time 40608862666, :index 6333}
{:type :invoke, :f :read, :value nil, :process 41, :time 40630427570, :index 6336}
{:type :ok, :f :read, :value 3, :process 41, :time 40635752316, :index 6338}
{:type :invoke, :f :read, :value nil, :process 46, :time 40641293946, :index 6340}
{:type :ok, :f :read, :value 3, :process 46, :time 40648380208, :index 6345}
{:type :invoke, :f :cas, :value [1 3], :process 22, :time 40672659941, :index 6348}
{:type :fail, :f :cas, :value [1 3], :process 22, :time 40677919703, :index 6349}
{:type :invoke, :f :write, :value 0, :process 46, :time 40706634399, :index 6357}
{:type :ok, :f :write, :value 0, :process 46, :time 40711635737, :index 6359}
{:type :invoke, :f :read, :value nil, :process 41, :time 40742008972, :index 6360}
{:type :invoke, :f :read, :value nil, :process 46, :time 40744904064, :index 6361}
{:type :ok, :f :read, :value 0, :process 41, :time 40747416076, :index 6362}
{:type :ok, :f :read, :value 0, :process 46, :time 40750100309, :index 6363}
{:type :invoke, :f :read, :value nil, :process 7, :time 40781787372, :index 6367}
{:type :invoke, :f :write, :value 2, :process 41, :time 40786688897, :index 6369}
{:type :ok, :f :read, :value 0, :process 7, :time 40786875594, :index 6370}
{:type :invoke, :f :write, :value 2, :process 25, :time 40790116035, :index 6371}
{:type :ok, :f :write, :value 2, :process 41, :time 40791417720, :index 6372}
{:type :ok, :f :write, :value 2, :process 25, :time 40797198303, :index 6373}
{:type :invoke, :f :write, :value 2, :process 40, :time 40798290442, :index 6374}
{:type :ok, :f :write, :value 2, :process 40, :time 40803963392, :index 6375}
{:type :invoke, :f :write, :value 4, :process 41, :time 40811670483, :index 6376}
{:type :ok, :f :write, :value 4, :process 41, :time 40816876656, :index 6378}
{:type :invoke, :f :read, :value nil, :process 25, :time 40821460868, :index 6380}
{:type :ok, :f :read, :value 4, :process 25, :time 40828209307, :index 6383}
{:type :invoke, :f :read, :value nil, :process 25, :time 40835443911, :index 6386}
{:type :invoke, :f :cas, :value [2 0], :process 41, :time 40840175032, :index 6387}
{:type :invoke, :f :cas, :value [2 3], :process 40, :time 40840241674, :index 6388}
{:type :ok, :f :read, :value 4, :process 25, :time 40841088267, :index 6389}
{:type :fail, :f :cas, :value [2 0], :process 41, :time 40845987012, :index 6391}
{:type :fail, :f :cas, :value [2 3], :process 40, :time 40846605693, :index 6392}
{:type :invoke, :f :read, :value nil, :process 22, :time 40852184258, :index 6394}
{:type :ok, :f :read, :value 4, :process 22, :time 40856384505, :index 6395}
{:type :invoke, :f :write, :value 1, :process 46, :time 40920372055, :index 6405}
{:type :invoke, :f :read, :value nil, :process 25, :time 40925294065, :index 6408}
{:type :ok, :f :write, :value 1, :process 46, :time 40926268238, :index 6410}
{:type :ok, :f :read, :value 1, :process 25, :time 40931607371, :index 6414}
{:type :invoke, :f :read, :value nil, :process 22, :time 40935643748, :index 6415}
{:type :ok, :f :read, :value 1, :process 22, :time 40940178303, :index 6418}
{:type :invoke, :f :read, :value nil, :process 7, :time 40944129549, :index 6419}
{:type :ok, :f :read, :value 1, :process 7, :time 40948817294, :index 6421}
{:type :invoke, :f :write, :value 2, :process 41, :time 40953919258, :index 6422}
{:type :ok, :f :write, :value 2, :process 41, :time 40959639151, :index 6423}
{:type :invoke, :f :read, :value nil, :process 40, :time 41009902441, :index 6433}
{:type :ok, :f :read, :value 2, :process 40, :time 41015054187, :index 6434}
{:type :invoke, :f :read, :value nil, :process 46, :time 41019537372, :index 6435}
{:type :ok, :f :read, :value 2, :process 46, :time 41024810661, :index 6436}
{:type :invoke, :f :cas, :value [3 2], :process 22, :time 41029376215, :index 6437}
{:type :invoke, :f :read, :value nil, :process 7, :time 41030085311, :index 6438}
{:type :invoke, :f :cas, :value [1 3], :process 49, :time 41031627282, :index 6440}
{:type :fail, :f :cas, :value [3 2], :process 22, :time 41034363990, :index 6441}
{:type :ok, :f :read, :value 2, :process 7, :time 41034840084, :index 6442}
{:type :invoke, :f :read, :value nil, :process 40, :time 41045311887, :index 6445}
{:type :ok, :f :read, :value 2, :process 40, :time 41052460858, :index 6448}
{:type :invoke, :f :read, :value nil, :process 41, :time 41070898342, :index 6450}
{:type :ok, :f :read, :value 2, :process 41, :time 41075847721, :index 6451}
{:type :invoke, :f :cas, :value [2 3], :process 22, :time 41096624029, :index 6454}
{:type :invoke, :f :cas, :value [4 3], :process 46, :time 41099078198, :index 6455}
{:type :ok, :f :cas, :value [2 3], :process 22, :time 41101003269, :index 6456}
{:type :invoke, :f :cas, :value [4 2], :process 25, :time 41102881739, :index 6457}
{:type :fail, :f :cas, :value [4 3], :process 46, :time 41104170058, :index 6459}
{:type :invoke, :f :cas, :value [0 3], :process 7, :time 41106111399, :index 6460}
{:type :fail, :f :cas, :value [4 2], :process 25, :time 41109318185, :index 6463}
{:type :fail, :f :cas, :value [0 3], :process 7, :time 41111438142, :index 6464}
{:type :invoke, :f :write, :value 0, :process 40, :time 41225729348, :index 6485}
{:type :invoke, :f :read, :value nil, :process 22, :time 41229278274, :index 6487}
{:type :ok, :f :write, :value 0, :process 40, :time 41230518560, :index 6488}
{:type :ok, :f :read, :value 0, :process 22, :time 41234118613, :index 6489}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :invoke, :f :write, :value 4, :process 41, :time 41273106265, :index 6504}
{:type :ok, :f :write, :value 4, :process 41, :time 41278014347, :index 6505}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :fail, :f :cas, :value [1 3], :process 49, :time 45139057990, :index 6700}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
