{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :invoke, :f :write, :value 0, :process 9, :time 23820690977, :index 4764}
{:type :ok, :f :write, :value 0, :process 9, :time 23825516609, :index 4766}
{:type :invoke, :f :write, :value 4, :process 26, :time 23845731689, :index 4775}
{:type :ok, :f :write, :value 4, :process 26, :time 23851167623, :index 4777}
{:type :invoke, :f :cas, :value [0 1], :process 27, :time 23873129190, :index 4784}
{:type :fail, :f :cas, :value [0 1], :process 27, :time 23878157061, :index 4785}
{:type :invoke, :f :write, :value 4, :process 26, :time 23882418281, :index 4786}
{:type :invoke, :f :read, :value nil, :process 4, :time 23885612218, :index 4788}
{:type :ok, :f :write, :value 4, :process 26, :time 23888712818, :index 4790}
{:type :invoke, :f :read, :value nil, :process 27, :time 23890413949, :index 4792}
{:type :ok, :f :read, :value 4, :process 4, :time 23891077008, :index 4793}
{:type :ok, :f :read, :value 4, :process 27, :time 23895916972, :index 4797}
{:type :invoke, :f :write, :value 4, :process 28, :time 23911321486, :index 4803}
{:type :ok, :f :write, :value 4, :process 28, :time 23916998071, :index 4807}
{:type :invoke, :f :write, :value 2, :process 9, :time 23924793443, :index 4810}
{:type :ok, :f :write, :value 2, :process 9, :time 23930583597, :index 4812}
{:type :invoke, :f :read, :value nil, :process 2, :time 23944435047, :index 4814}
{:type :ok, :f :read, :value 2, :process 2, :time 23949463554, :index 4816}
{:type :invoke, :f :write, :value 3, :process 26, :time 23963985723, :index 4823}
{:type :invoke, :f :read, :value nil, :process 9, :time 23964862570, :index 4824}
{:type :ok, :f :write, :value 3, :process 26, :time 23969241300, :index 4826}
{:type :ok, :f :read, :value 3, :process 9, :time 23970695450, :index 4827}
{:type :invoke, :f :write, :value 0, :process 27, :time 23974177168, :index 4829}
{:type :ok, :f :write, :value 0, :process 27, :time 23981150261, :index 4832}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 23991339830, :index 4835}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 23997658399, :index 4838}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 24019918226, :index 4848}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 24026469091, :index 4849}
{:type :invoke, :f :read, :value nil, :process 0, :time 24031100761, :index 4850}
{:type :ok, :f :read, :value 0, :process 0, :time 24035890665, :index 4852}
{:type :invoke, :f :cas, :value [0 3], :process 26, :time 24041501386, :index 4854}
{:type :ok, :f :cas, :value [0 3], :process 26, :time 24047559982, :index 4855}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 24054266393, :index 4860}
{:type :invoke, :f :cas, :value [1 1], :process 2, :time 24058726335, :index 4861}
{:type :fail, :f :cas, :value [4 0], :process 1, :time 24061960714, :index 4862}
{:type :fail, :f :cas, :value [1 1], :process 2, :time 24065604999, :index 4863}
{:type :invoke, :f :read, :value nil, :process 43, :time 24066905136, :index 4864}
{:type :ok, :f :read, :value 3, :process 43, :time 24071932473, :index 4865}
{:type :invoke, :f :write, :value 0, :process 0, :time 24076165680, :index 4866}
{:type :invoke, :f :read, :value nil, :process 1, :time 24078215709, :index 4867}
{:type :ok, :f :write, :value 0, :process 0, :time 24080643745, :index 4868}
{:type :invoke, :f :write, :value 0, :process 0, :time 24082905767, :index 4870}
{:type :ok, :f :read, :value 0, :process 1, :time 24084241373, :index 4871}
{:type :ok, :f :write, :value 0, :process 0, :time 24087774261, :index 4873}
{:type :invoke, :f :read, :value nil, :process 9, :time 24101957272, :index 4875}
{:type :invoke, :f :read, :value nil, :process 5, :time 24105565637, :index 4877}
{:type :ok, :f :read, :value 0, :process 9, :time 24107552060, :index 4878}
{:type :ok, :f :read, :value 0, :process 5, :time 24110194344, :index 4879}
{:type :invoke, :f :read, :value nil, :process 28, :time 24114293408, :index 4880}
{:type :invoke, :f :write, :value 1, :process 5, :time 24124466025, :index 4881}
{:type :ok, :f :write, :value 1, :process 5, :time 24129960256, :index 4883}
{:type :invoke, :f :write, :value 0, :process 27, :time 24134424885, :index 4885}
{:type :ok, :f :write, :value 0, :process 27, :time 24139980268, :index 4886}
{:type :invoke, :f :read, :value nil, :process 4, :time 24194731815, :index 4893}
{:type :ok, :f :read, :value 0, :process 4, :time 24200938689, :index 4895}
{:type :invoke, :f :read, :value nil, :process 27, :time 24201266448, :index 4897}
{:type :ok, :f :read, :value 0, :process 27, :time 24208293899, :index 4902}
{:type :invoke, :f :cas, :value [0 0], :process 2, :time 24219880576, :index 4908}
{:type :ok, :f :cas, :value [0 0], :process 2, :time 24224589148, :index 4910}
{:type :invoke, :f :cas, :value [4 1], :process 9, :time 24225822006, :index 4911}
{:type :fail, :f :cas, :value [4 1], :process 9, :time 24231838968, :index 4912}
{:type :invoke, :f :read, :value nil, :process 26, :time 24236868422, :index 4913}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 24239006500, :index 4914}
{:type :ok, :f :read, :value 0, :process 26, :time 24242391670, :index 4915}
{:type :ok, :f :cas, :value [0 4], :process 0, :time 24243787369, :index 4916}
{:type :invoke, :f :read, :value nil, :process 43, :time 24249211306, :index 4918}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 24253507721, :index 4920}
{:type :ok, :f :cas, :value [4 0], :process 1, :time 24261525218, :index 4922}
{:type :invoke, :f :write, :value 0, :process 4, :time 24292258427, :index 4924}
{:type :ok, :f :write, :value 0, :process 4, :time 24299107998, :index 4925}
{:type :ok, :f :read, :value 0, :process 28, :time 24314323757, :index 4927}
{:type :ok, :f :read, :value 0, :process 43, :time 24315819786, :index 4931}
{:type :invoke, :f :read, :value nil, :process 5, :time 24329243737, :index 4935}
{:type :ok, :f :read, :value 0, :process 5, :time 24335982357, :index 4937}
{:type :invoke, :f :read, :value nil, :process 4, :time 24336437837, :index 4939}
{:type :invoke, :f :read, :value nil, :process 2, :time 24338845485, :index 4940}
{:type :ok, :f :read, :value 0, :process 4, :time 24341584934, :index 4943}
{:type :ok, :f :read, :value 0, :process 2, :time 24343886013, :index 4944}
{:type :invoke, :f :cas, :value [1 2], :process 27, :time 24385573297, :index 4951}
{:type :invoke, :f :write, :value 2, :process 5, :time 24387270099, :index 4952}
{:type :ok, :f :write, :value 2, :process 5, :time 24392790590, :index 4954}
{:type :fail, :f :cas, :value [1 2], :process 27, :time 24393275708, :index 4955}
{:type :invoke, :f :read, :value nil, :process 0, :time 24412045112, :index 4960}
{:type :ok, :f :read, :value 2, :process 0, :time 24417602998, :index 4962}
{:type :invoke, :f :cas, :value [2 4], :process 9, :time 24423109068, :index 4964}
{:type :ok, :f :cas, :value [2 4], :process 9, :time 24428789773, :index 4966}
{:type :invoke, :f :read, :value nil, :process 26, :time 24429661713, :index 4967}
{:type :ok, :f :read, :value 4, :process 26, :time 24437066582, :index 4970}
{:type :invoke, :f :read, :value nil, :process 1, :time 24448904173, :index 4973}
{:type :ok, :f :read, :value 4, :process 1, :time 24453986559, :index 4975}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 24461853842, :index 4976}
{:type :invoke, :f :write, :value 4, :process 5, :time 24465069110, :index 4977}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 24468072602, :index 4979}
{:type :ok, :f :write, :value 4, :process 5, :time 24470546043, :index 4980}
{:type :invoke, :f :cas, :value [1 3], :process 9, :time 24471063758, :index 4981}
{:type :fail, :f :cas, :value [1 3], :process 9, :time 24476652931, :index 4984}
{:type :invoke, :f :cas, :value [0 3], :process 2, :time 24486165956, :index 4986}
{:type :fail, :f :cas, :value [0 3], :process 2, :time 24492058596, :index 4987}
{:type :invoke, :f :cas, :value [4 1], :process 28, :time 24499619474, :index 4989}
{:type :invoke, :f :cas, :value [0 1], :process 43, :time 24501057642, :index 4991}
{:type :ok, :f :cas, :value [4 1], :process 28, :time 24505975771, :index 4993}
{:type :invoke, :f :cas, :value [0 1], :process 1, :time 24506253974, :index 4994}
{:type :fail, :f :cas, :value [0 1], :process 43, :time 24507134558, :index 4995}
{:type :invoke, :f :write, :value 3, :process 43, :time 24511371084, :index 4998}
{:type :fail, :f :cas, :value [0 1], :process 1, :time 24512095458, :index 4999}
{:type :ok, :f :write, :value 3, :process 43, :time 24517637452, :index 5002}
{:type :invoke, :f :write, :value 2, :process 0, :time 24530885992, :index 5006}
{:type :ok, :f :write, :value 2, :process 0, :time 24536838203, :index 5008}
{:type :invoke, :f :write, :value 0, :process 27, :time 24538533458, :index 5011}
{:type :ok, :f :write, :value 0, :process 27, :time 24543417807, :index 5013}
{:type :invoke, :f :read, :value nil, :process 9, :time 24592918985, :index 5019}
{:type :invoke, :f :read, :value nil, :process 26, :time 24595338481, :index 5021}
{:type :invoke, :f :cas, :value [2 1], :process 5, :time 24598808243, :index 5022}
{:type :ok, :f :read, :value 0, :process 26, :time 24604077803, :index 5023}
{:type :fail, :f :cas, :value [2 1], :process 5, :time 24605995477, :index 5025}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 24611376446, :index 5029}
{:type :invoke, :f :write, :value 1, :process 1, :time 24615392402, :index 5032}
{:type :ok, :f :write, :value 1, :process 1, :time 24620684254, :index 5033}
{:type :invoke, :f :cas, :value [2 3], :process 43, :time 24625892778, :index 5034}
{:type :fail, :f :cas, :value [2 3], :process 43, :time 24631746973, :index 5035}
{:type :invoke, :f :read, :value nil, :process 5, :time 24653256146, :index 5036}
{:type :ok, :f :read, :value 1, :process 5, :time 24658742334, :index 5040}
{:type :invoke, :f :write, :value 3, :process 2, :time 24659367290, :index 5041}
{:type :invoke, :f :cas, :value [1 4], :process 26, :time 24664371963, :index 5044}
{:type :ok, :f :write, :value 3, :process 2, :time 24665216442, :index 5045}
{:type :invoke, :f :read, :value nil, :process 1, :time 24665945674, :index 5046}
{:type :invoke, :f :read, :value nil, :process 5, :time 24668980480, :index 5048}
{:type :fail, :f :cas, :value [1 4], :process 26, :time 24670275419, :index 5049}
{:type :ok, :f :read, :value 3, :process 1, :time 24671776329, :index 5051}
{:type :ok, :f :read, :value 3, :process 5, :time 24673404573, :index 5052}
{:type :invoke, :f :write, :value 4, :process 28, :time 24688224888, :index 5056}
{:type :ok, :f :write, :value 4, :process 28, :time 24693722687, :index 5059}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 24700111335, :index 5061}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 24706215491, :index 5065}
{:type :invoke, :f :write, :value 1, :process 27, :time 24723678944, :index 5066}
{:type :ok, :f :write, :value 1, :process 27, :time 24730259315, :index 5067}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 24765491740, :index 5076}
{:type :invoke, :f :cas, :value [1 4], :process 2, :time 24765508650, :index 5077}
{:type :invoke, :f :read, :value nil, :process 43, :time 24768011815, :index 5079}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 24770711545, :index 5082}
{:type :ok, :f :cas, :value [1 4], :process 2, :time 24771496545, :index 5083}
{:type :ok, :f :read, :value 4, :process 43, :time 24773122659, :index 5084}
{:type :invoke, :f :cas, :value [2 3], :process 26, :time 24773539144, :index 5085}
{:type :fail, :f :cas, :value [2 3], :process 26, :time 24779221226, :index 5087}
{:type :invoke, :f :read, :value nil, :process 43, :time 24780368993, :index 5088}
{:type :invoke, :f :cas, :value [1 3], :process 1, :time 24782056517, :index 5089}
{:type :ok, :f :read, :value 4, :process 43, :time 24785011555, :index 5090}
{:type :fail, :f :cas, :value [1 3], :process 1, :time 24787347141, :index 5091}
{:type :invoke, :f :cas, :value [2 1], :process 0, :time 24788962818, :index 5092}
{:type :fail, :f :cas, :value [2 1], :process 0, :time 24793737165, :index 5093}
{:type :invoke, :f :write, :value 3, :process 27, :time 24805522983, :index 5094}
{:type :invoke, :f :write, :value 3, :process 5, :time 24808657565, :index 5095}
{:type :ok, :f :write, :value 3, :process 27, :time 24811060069, :index 5096}
{:type :ok, :f :write, :value 3, :process 5, :time 24813689636, :index 5097}
{:type :invoke, :f :write, :value 3, :process 1, :time 24831602481, :index 5098}
{:type :ok, :f :write, :value 3, :process 1, :time 24837123145, :index 5099}
{:type :invoke, :f :write, :value 0, :process 0, :time 24858007310, :index 5103}
{:type :ok, :f :write, :value 0, :process 0, :time 24863534584, :index 5105}
{:type :ok, :f :read, :value 0, :process 9, :time 24886032636, :index 5111}
{:type :invoke, :f :write, :value 3, :process 28, :time 24892964172, :index 5113}
{:type :ok, :f :write, :value 3, :process 28, :time 24898162062, :index 5114}
{:type :invoke, :f :write, :value 3, :process 5, :time 24902957694, :index 5115}
{:type :ok, :f :write, :value 3, :process 5, :time 24908620410, :index 5118}
{:type :invoke, :f :write, :value 1, :process 2, :time 24919753649, :index 5119}
{:type :invoke, :f :read, :value nil, :process 43, :time 24921278973, :index 5120}
{:type :ok, :f :write, :value 1, :process 2, :time 24924857826, :index 5122}
{:type :ok, :f :read, :value 1, :process 43, :time 24926839670, :index 5123}
{:type :invoke, :f :cas, :value [0 3], :process 26, :time 24940489233, :index 5125}
{:type :fail, :f :cas, :value [0 3], :process 26, :time 24946489668, :index 5126}
{:type :invoke, :f :write, :value 0, :process 28, :time 24954422419, :index 5128}
{:type :invoke, :f :write, :value 2, :process 43, :time 24960092257, :index 5130}
{:type :ok, :f :write, :value 0, :process 28, :time 24960951634, :index 5131}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 24964823226, :index 5133}
{:type :ok, :f :write, :value 2, :process 43, :time 24965154504, :index 5134}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 24970391491, :index 5136}
{:type :invoke, :f :read, :value nil, :process 1, :time 24991430664, :index 5137}
{:type :invoke, :f :write, :value 2, :process 5, :time 24992861374, :index 5138}
{:type :ok, :f :read, :value 2, :process 1, :time 24997018701, :index 5139}
{:type :ok, :f :write, :value 2, :process 5, :time 24997287104, :index 5140}
{:type :invoke, :f :write, :value 2, :process 27, :time 25001339452, :index 5141}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 25003831473, :index 5145}
{:type :ok, :f :write, :value 2, :process 27, :time 25006961594, :index 5146}
{:type :invoke, :f :read, :value nil, :process 5, :time 25017528672, :index 5152}
{:type :invoke, :f :write, :value 4, :process 4, :time 25021075850, :index 5154}
{:type :ok, :f :read, :value 2, :process 5, :time 25022786093, :index 5156}
{:type :ok, :f :write, :value 4, :process 4, :time 25026395476, :index 5158}
{:type :invoke, :f :read, :value nil, :process 9, :time 25029301541, :index 5160}
{:type :ok, :f :read, :value 4, :process 9, :time 25034676641, :index 5163}
{:type :invoke, :f :read, :value nil, :process 28, :time 25038289399, :index 5165}
{:type :ok, :f :read, :value 4, :process 28, :time 25044663856, :index 5169}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 25047649736, :index 5170}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 25052747123, :index 5171}
{:type :invoke, :f :write, :value 1, :process 2, :time 25089152700, :index 5187}
{:type :invoke, :f :write, :value 2, :process 26, :time 25089803187, :index 5188}
{:type :invoke, :f :read, :value nil, :process 1, :time 25090301476, :index 5189}
{:type :ok, :f :write, :value 1, :process 2, :time 25095048629, :index 5193}
{:type :ok, :f :write, :value 2, :process 26, :time 25095539332, :index 5194}
{:type :ok, :f :read, :value 2, :process 1, :time 25096024854, :index 5195}
{:type :invoke, :f :cas, :value [0 2], :process 43, :time 25115419428, :index 5199}
{:type :fail, :f :cas, :value [0 2], :process 43, :time 25120637265, :index 5201}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
