{:type :invoke, :f :write, :value 3, :process 17, :time 18263395, :index 0}
{:type :ok, :f :write, :value 3, :process 17, :time 24607311, :index 1}
{:type :invoke, :f :write, :value 1, :process 19, :time 47881483, :index 2}
{:type :ok, :f :write, :value 1, :process 19, :time 56675516, :index 3}
{:type :invoke, :f :cas, :value [2 3], :process 12, :time 77946238, :index 5}
{:type :fail, :f :cas, :value [2 3], :process 12, :time 83274798, :index 8}
{:type :invoke, :f :cas, :value [0 3], :process 12, :time 84554588, :index 10}
{:type :fail, :f :cas, :value [0 3], :process 12, :time 89310126, :index 12}
{:type :invoke, :f :write, :value 1, :process 10, :time 115875609, :index 17}
{:type :invoke, :f :cas, :value [2 1], :process 19, :time 118958522, :index 19}
{:type :ok, :f :write, :value 1, :process 10, :time 121302054, :index 20}
{:type :fail, :f :cas, :value [2 1], :process 19, :time 124305663, :index 23}
{:type :invoke, :f :read, :value nil, :process 13, :time 155113382, :index 32}
{:type :invoke, :f :write, :value 1, :process 15, :time 156166530, :index 33}
{:type :ok, :f :read, :value 1, :process 13, :time 159267347, :index 35}
{:type :ok, :f :write, :value 1, :process 15, :time 161602295, :index 36}
{:type :invoke, :f :read, :value nil, :process 18, :time 164263953, :index 38}
{:type :ok, :f :read, :value 1, :process 18, :time 168608858, :index 39}
{:type :invoke, :f :write, :value 4, :process 16, :time 187073436, :index 41}
{:type :invoke, :f :cas, :value [1 1], :process 14, :time 187075988, :index 42}
{:type :ok, :f :write, :value 4, :process 16, :time 192171686, :index 45}
{:type :invoke, :f :write, :value 4, :process 17, :time 192890218, :index 46}
{:type :fail, :f :cas, :value [1 1], :process 14, :time 193434236, :index 47}
{:type :ok, :f :write, :value 4, :process 17, :time 197987557, :index 49}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 202020512, :index 51}
{:type :fail, :f :cas, :value [2 1], :process 11, :time 207403756, :index 54}
{:type :invoke, :f :write, :value 0, :process 16, :time 257369935, :index 59}
{:type :invoke, :f :cas, :value [4 0], :process 19, :time 260575216, :index 60}
{:type :ok, :f :write, :value 0, :process 16, :time 263504072, :index 62}
{:type :fail, :f :cas, :value [4 0], :process 19, :time 266299347, :index 63}
{:type :invoke, :f :read, :value nil, :process 14, :time 276691703, :index 64}
{:type :ok, :f :read, :value 0, :process 14, :time 282786928, :index 67}
{:type :invoke, :f :read, :value nil, :process 17, :time 284280332, :index 68}
{:type :invoke, :f :cas, :value [0 1], :process 12, :time 288573888, :index 70}
{:type :ok, :f :read, :value 0, :process 17, :time 289241405, :index 71}
{:type :ok, :f :cas, :value [0 1], :process 12, :time 293587113, :index 73}
{:type :invoke, :f :write, :value 0, :process 19, :time 308555327, :index 76}
{:type :ok, :f :write, :value 0, :process 19, :time 313970025, :index 77}
{:type :invoke, :f :read, :value nil, :process 10, :time 317560888, :index 78}
{:type :ok, :f :read, :value 0, :process 10, :time 323670502, :index 80}
{:type :invoke, :f :cas, :value [0 3], :process 11, :time 323672972, :index 81}
{:type :ok, :f :cas, :value [0 3], :process 11, :time 329558940, :index 84}
{:type :invoke, :f :write, :value 2, :process 13, :time 330543343, :index 85}
{:type :invoke, :f :cas, :value [3 2], :process 15, :time 333872191, :index 88}
{:type :ok, :f :write, :value 2, :process 13, :time 334767834, :index 89}
{:type :fail, :f :cas, :value [3 2], :process 15, :time 339387619, :index 91}
{:type :invoke, :f :read, :value nil, :process 18, :time 340872244, :index 92}
{:type :ok, :f :read, :value 2, :process 18, :time 344934480, :index 94}
{:type :invoke, :f :write, :value 4, :process 19, :time 360255552, :index 102}
{:type :invoke, :f :write, :value 1, :process 16, :time 363754545, :index 104}
{:type :invoke, :f :write, :value 4, :process 15, :time 366646138, :index 105}
{:type :ok, :f :write, :value 4, :process 19, :time 366808588, :index 106}
{:type :ok, :f :write, :value 1, :process 16, :time 369011039, :index 108}
{:type :ok, :f :write, :value 4, :process 15, :time 372256644, :index 110}
{:type :invoke, :f :cas, :value [4 3], :process 13, :time 417033348, :index 117}
{:type :ok, :f :cas, :value [4 3], :process 13, :time 421945787, :index 120}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 442733538, :index 122}
{:type :invoke, :f :write, :value 1, :process 18, :time 445207001, :index 123}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 449087523, :index 124}
{:type :ok, :f :write, :value 1, :process 18, :time 449849670, :index 125}
{:type :invoke, :f :read, :value nil, :process 15, :time 457514982, :index 126}
{:type :invoke, :f :read, :value nil, :process 12, :time 458824273, :index 127}
{:type :ok, :f :read, :value 1, :process 15, :time 463669614, :index 128}
{:type :ok, :f :read, :value 1, :process 12, :time 464125748, :index 130}
{:type :invoke, :f :read, :value nil, :process 17, :time 464553879, :index 131}
{:type :invoke, :f :read, :value nil, :process 14, :time 465055812, :index 132}
{:type :invoke, :f :read, :value nil, :process 11, :time 469860529, :index 135}
{:type :ok, :f :read, :value 1, :process 17, :time 470385415, :index 136}
{:type :ok, :f :read, :value 1, :process 14, :time 471105717, :index 137}
{:type :invoke, :f :cas, :value [0 4], :process 14, :time 471233342, :index 138}
{:type :ok, :f :read, :value 1, :process 11, :time 475369939, :index 141}
{:type :fail, :f :cas, :value [0 4], :process 14, :time 477180580, :index 142}
{:type :invoke, :f :write, :value 3, :process 10, :time 484351023, :index 145}
{:type :ok, :f :write, :value 3, :process 10, :time 489901496, :index 147}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 494268086, :index 148}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 499908756, :index 149}
{:type :invoke, :f :cas, :value [2 1], :process 18, :time 509128670, :index 150}
{:type :invoke, :f :write, :value 4, :process 14, :time 511438279, :index 151}
{:type :fail, :f :cas, :value [2 1], :process 18, :time 514397423, :index 152}
{:type :ok, :f :write, :value 4, :process 14, :time 516501233, :index 153}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 536663620, :index 156}
{:type :ok, :f :cas, :value [4 1], :process 18, :time 540733157, :index 159}
{:type :invoke, :f :write, :value 1, :process 14, :time 546792099, :index 165}
{:type :ok, :f :write, :value 1, :process 14, :time 551825454, :index 169}
{:type :invoke, :f :write, :value 0, :process 19, :time 564090772, :index 170}
{:type :ok, :f :write, :value 0, :process 19, :time 570344549, :index 173}
{:type :invoke, :f :cas, :value [4 2], :process 13, :time 612234954, :index 183}
{:type :fail, :f :cas, :value [4 2], :process 13, :time 617372720, :index 185}
{:type :invoke, :f :read, :value nil, :process 16, :time 626191188, :index 186}
{:type :invoke, :f :write, :value 1, :process 12, :time 628371904, :index 187}
{:type :ok, :f :read, :value 0, :process 16, :time 631428776, :index 188}
{:type :ok, :f :write, :value 1, :process 12, :time 633275734, :index 189}
{:type :invoke, :f :read, :value nil, :process 18, :time 641953145, :index 192}
{:type :ok, :f :read, :value 1, :process 18, :time 647612472, :index 193}
{:type :invoke, :f :write, :value 0, :process 10, :time 650209105, :index 195}
{:type :ok, :f :write, :value 0, :process 10, :time 655699917, :index 198}
{:type :invoke, :f :read, :value nil, :process 15, :time 655706840, :index 199}
{:type :invoke, :f :write, :value 3, :process 17, :time 658641940, :index 201}
{:type :ok, :f :read, :value 0, :process 15, :time 662333974, :index 204}
{:type :ok, :f :write, :value 3, :process 17, :time 663777301, :index 206}
{:type :invoke, :f :cas, :value [0 4], :process 14, :time 665080607, :index 207}
{:type :invoke, :f :read, :value nil, :process 13, :time 667631571, :index 209}
{:type :invoke, :f :write, :value 4, :process 11, :time 668653095, :index 210}
{:type :fail, :f :cas, :value [0 4], :process 14, :time 670576016, :index 211}
{:type :ok, :f :read, :value 3, :process 13, :time 672438893, :index 212}
{:type :ok, :f :write, :value 4, :process 11, :time 673211077, :index 213}
{:type :invoke, :f :cas, :value [4 3], :process 19, :time 679639815, :index 214}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 680878000, :index 215}
{:type :ok, :f :cas, :value [4 3], :process 19, :time 685525987, :index 216}
{:type :invoke, :f :cas, :value [0 3], :process 12, :time 685897510, :index 217}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 686109348, :index 218}
{:type :fail, :f :cas, :value [0 3], :process 12, :time 692120652, :index 220}
{:type :invoke, :f :read, :value nil, :process 16, :time 692677403, :index 221}
{:type :ok, :f :read, :value 3, :process 16, :time 698067847, :index 223}
{:type :invoke, :f :write, :value 1, :process 10, :time 712898712, :index 226}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 718331636, :index 228}
{:type :ok, :f :write, :value 1, :process 10, :time 719015072, :index 229}
{:type :fail, :f :cas, :value [3 0], :process 16, :time 724211070, :index 232}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 727379591, :index 235}
{:type :invoke, :f :write, :value 3, :process 13, :time 731692522, :index 237}
{:type :ok, :f :cas, :value [1 1], :process 12, :time 733487446, :index 238}
{:type :ok, :f :write, :value 3, :process 13, :time 736738179, :index 239}
{:type :invoke, :f :cas, :value [0 3], :process 14, :time 744838584, :index 240}
{:type :fail, :f :cas, :value [0 3], :process 14, :time 750487025, :index 241}
{:type :invoke, :f :write, :value 2, :process 12, :time 751753319, :index 242}
{:type :ok, :f :write, :value 2, :process 12, :time 756830983, :index 243}
{:type :invoke, :f :write, :value 0, :process 14, :time 769745180, :index 249}
{:type :ok, :f :write, :value 0, :process 14, :time 775182464, :index 252}
{:type :invoke, :f :write, :value 3, :process 16, :time 776516389, :index 253}
{:type :invoke, :f :cas, :value [1 2], :process 19, :time 776839314, :index 254}
{:type :invoke, :f :write, :value 2, :process 12, :time 782093309, :index 258}
{:type :fail, :f :cas, :value [1 2], :process 19, :time 783089178, :index 259}
{:type :ok, :f :write, :value 3, :process 16, :time 783241060, :index 260}
{:type :ok, :f :write, :value 2, :process 12, :time 787184749, :index 263}
{:type :invoke, :f :write, :value 0, :process 16, :time 805474127, :index 266}
{:type :ok, :f :write, :value 0, :process 16, :time 811172026, :index 267}
{:type :invoke, :f :cas, :value [1 4], :process 17, :time 822033881, :index 268}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 827304117, :index 271}
{:type :fail, :f :cas, :value [1 4], :process 17, :time 827587030, :index 272}
{:type :ok, :f :cas, :value [0 3], :process 10, :time 833602379, :index 278}
{:type :invoke, :f :read, :value nil, :process 14, :time 837444615, :index 280}
{:type :ok, :f :read, :value 3, :process 14, :time 842902290, :index 282}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 848368457, :index 284}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 851614896, :index 286}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 853684956, :index 287}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 857482833, :index 289}
{:type :invoke, :f :cas, :value [1 4], :process 19, :time 867384325, :index 290}
{:type :invoke, :f :write, :value 2, :process 11, :time 869468281, :index 291}
{:type :invoke, :f :cas, :value [1 4], :process 12, :time 870431030, :index 292}
{:type :fail, :f :cas, :value [1 4], :process 19, :time 873559440, :index 293}
{:type :ok, :f :write, :value 2, :process 11, :time 874672881, :index 294}
{:type :fail, :f :cas, :value [1 4], :process 12, :time 875577406, :index 295}
{:type :invoke, :f :read, :value nil, :process 13, :time 878002508, :index 296}
{:type :ok, :f :read, :value 2, :process 13, :time 882720358, :index 297}
{:type :invoke, :f :write, :value 1, :process 16, :time 887447388, :index 299}
{:type :ok, :f :write, :value 1, :process 16, :time 891892999, :index 301}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 912954721, :index 308}
{:type :fail, :f :cas, :value [4 0], :process 18, :time 918476277, :index 311}
{:type :invoke, :f :write, :value 3, :process 16, :time 939153451, :index 315}
{:type :invoke, :f :read, :value nil, :process 17, :time 939855405, :index 316}
{:type :ok, :f :write, :value 3, :process 16, :time 945665908, :index 317}
{:type :ok, :f :read, :value 3, :process 17, :time 946118012, :index 318}
{:type :invoke, :f :cas, :value [1 2], :process 11, :time 947927429, :index 320}
{:type :fail, :f :cas, :value [1 2], :process 11, :time 953265516, :index 321}
{:type :invoke, :f :cas, :value [2 4], :process 13, :time 959987945, :index 322}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 962861482, :index 323}
{:type :fail, :f :cas, :value [2 4], :process 13, :time 965124982, :index 324}
{:type :invoke, :f :read, :value nil, :process 13, :time 967309145, :index 326}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 969170004, :index 327}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 971881551, :index 329}
{:type :ok, :f :read, :value 3, :process 13, :time 972045234, :index 330}
{:type :fail, :f :cas, :value [1 1], :process 12, :time 977228928, :index 332}
{:type :invoke, :f :cas, :value [3 0], :process 17, :time 977385399, :index 333}
{:type :ok, :f :cas, :value [3 0], :process 17, :time 983078363, :index 336}
{:type :invoke, :f :read, :value nil, :process 19, :time 1015825848, :index 348}
{:type :ok, :f :read, :value 0, :process 19, :time 1020770093, :index 351}
{:type :invoke, :f :read, :value nil, :process 10, :time 1024430133, :index 352}
{:type :ok, :f :read, :value 0, :process 10, :time 1030132918, :index 353}
{:type :invoke, :f :write, :value 4, :process 14, :time 1033166066, :index 354}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 1037741887, :index 355}
{:type :ok, :f :write, :value 4, :process 14, :time 1039244579, :index 356}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 1043058365, :index 357}
{:type :invoke, :f :read, :value nil, :process 18, :time 1074744577, :index 363}
{:type :ok, :f :read, :value 4, :process 18, :time 1080082902, :index 365}
{:type :invoke, :f :cas, :value [4 4], :process 14, :time 1084531592, :index 366}
{:type :invoke, :f :write, :value 2, :process 13, :time 1090316415, :index 367}
{:type :ok, :f :cas, :value [4 4], :process 14, :time 1090530242, :index 368}
{:type :invoke, :f :read, :value nil, :process 19, :time 1094031278, :index 369}
{:type :ok, :f :write, :value 2, :process 13, :time 1095205810, :index 370}
{:type :invoke, :f :cas, :value [4 0], :process 16, :time 1097944794, :index 372}
{:type :ok, :f :read, :value 2, :process 19, :time 1098827532, :index 374}
{:type :invoke, :f :read, :value nil, :process 11, :time 1103524480, :index 377}
{:type :fail, :f :cas, :value [4 0], :process 16, :time 1104125990, :index 378}
{:type :ok, :f :read, :value 2, :process 11, :time 1108648651, :index 382}
{:type :invoke, :f :cas, :value [4 1], :process 17, :time 1120350758, :index 386}
{:type :fail, :f :cas, :value [4 1], :process 17, :time 1128218386, :index 388}
{:type :invoke, :f :read, :value nil, :process 12, :time 1156531955, :index 391}
{:type :ok, :f :read, :value 2, :process 12, :time 1161489714, :index 395}
{:type :invoke, :f :read, :value nil, :process 10, :time 1164403092, :index 398}
{:type :ok, :f :read, :value 2, :process 10, :time 1169726980, :index 401}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
