{:type :invoke, :f :cas, :value [0 0], :process 6, :time 2800981155, :index 781}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 2808000863, :error :not-found, :index 785}
{:type :invoke, :f :cas, :value [1 3], :process 2, :time 2856521353, :index 798}
{:type :fail, :f :cas, :value [1 3], :process 2, :time 2862742580, :error :not-found, :index 799}
{:type :invoke, :f :write, :value 4, :process 2, :time 2892056853, :index 802}
{:type :invoke, :f :read, :value nil, :process 3, :time 2896193712, :index 803}
{:type :ok, :f :write, :value 4, :process 2, :time 2898486904, :index 804}
{:type :invoke, :f :write, :value 2, :process 6, :time 2899323988, :index 806}
{:type :ok, :f :read, :value 4, :process 3, :time 2901457186, :index 807}
{:type :invoke, :f :read, :value nil, :process 3, :time 2904765520, :index 810}
{:type :ok, :f :write, :value 2, :process 6, :time 2905522747, :index 811}
{:type :ok, :f :read, :value 2, :process 3, :time 2909755918, :index 813}
{:type :invoke, :f :write, :value 2, :process 5, :time 2918561825, :index 814}
{:type :ok, :f :write, :value 2, :process 5, :time 2925334388, :index 816}
{:type :invoke, :f :cas, :value [1 1], :process 2, :time 2927823914, :index 818}
{:type :invoke, :f :read, :value nil, :process 0, :time 2928721880, :index 819}
{:type :fail, :f :cas, :value [1 1], :process 2, :time 2934027451, :index 820}
{:type :ok, :f :read, :value 2, :process 0, :time 2934404862, :index 821}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 2939665100, :index 822}
{:type :invoke, :f :write, :value 0, :process 1, :time 2942695506, :index 823}
{:type :ok, :f :cas, :value [2 0], :process 0, :time 2945111602, :index 824}
{:type :invoke, :f :write, :value 0, :process 6, :time 2946807020, :index 825}
{:type :ok, :f :write, :value 0, :process 1, :time 2947514417, :index 826}
{:type :invoke, :f :write, :value 4, :process 5, :time 2948615240, :index 827}
{:type :ok, :f :write, :value 0, :process 6, :time 2951920580, :index 828}
{:type :ok, :f :write, :value 4, :process 5, :time 2953827767, :index 829}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 2984388259, :index 837}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 2990534608, :index 839}
{:type :invoke, :f :write, :value 4, :process 3, :time 2998031790, :index 840}
{:type :ok, :f :write, :value 4, :process 3, :time 3002537833, :index 842}
{:type :invoke, :f :write, :value 1, :process 6, :time 3010191228, :index 846}
{:type :ok, :f :write, :value 1, :process 6, :time 3015564534, :index 848}
{:type :invoke, :f :write, :value 4, :process 5, :time 3030096421, :index 854}
{:type :ok, :f :write, :value 4, :process 5, :time 3035347072, :index 855}
{:type :invoke, :f :read, :value nil, :process 8, :time 3039263716, :index 857}
{:type :ok, :f :read, :value 4, :process 8, :time 3043880060, :index 860}
{:type :invoke, :f :write, :value 1, :process 3, :time 3051828734, :index 862}
{:type :ok, :f :write, :value 1, :process 3, :time 3056582109, :index 863}
{:type :invoke, :f :cas, :value [4 4], :process 2, :time 3076365997, :index 872}
{:type :fail, :f :cas, :value [4 4], :process 2, :time 3081897942, :index 874}
{:type :invoke, :f :read, :value nil, :process 1, :time 3089797935, :index 876}
{:type :ok, :f :read, :value 1, :process 1, :time 3094886601, :index 878}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 3113844474, :index 879}
{:type :invoke, :f :read, :value nil, :process 7, :time 3121846235, :index 880}
{:type :invoke, :f :read, :value nil, :process 5, :time 3162848583, :index 886}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 3163348581, :index 888}
{:type :invoke, :f :write, :value 4, :process 3, :time 3168859193, :index 889}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 3209208313, :index 894}
{:type :invoke, :f :read, :value nil, :process 4, :time 3240909622, :index 896}
{:type :invoke, :f :write, :value 1, :process 8, :time 3241169625, :index 897}
{:type :invoke, :f :write, :value 2, :process 1, :time 3249165193, :index 898}
{:type :invoke, :f :cas, :value [3 1], :process 9, :time 3332399049, :index 901}
{:type :ok, :f :read, :value 1, :process 7, :time 3401736976, :index 904}
{:type :ok, :f :write, :value 1, :process 8, :time 3402321929, :index 905}
{:type :ok, :f :write, :value 2, :process 1, :time 3403802412, :index 909}
{:type :fail, :f :cas, :value [3 1], :process 9, :time 3404120757, :index 910}
{:type :ok, :f :write, :value 4, :process 3, :time 3404352396, :index 911}
{:type :ok, :f :read, :value 4, :process 4, :time 3404558266, :index 912}
{:type :ok, :f :read, :value 1, :process 5, :time 3405979766, :index 916}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 3406698727, :index 918}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 3407719384, :index 920}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 3407998399, :index 921}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 3461973165, :index 932}
{:type :fail, :f :cas, :value [1 3], :process 6, :time 3467655728, :index 935}
{:type :invoke, :f :write, :value 4, :process 9, :time 3468395001, :index 936}
{:type :ok, :f :write, :value 4, :process 9, :time 3474164615, :index 937}
{:type :invoke, :f :read, :value nil, :process 2, :time 3500263200, :index 945}
{:type :ok, :f :read, :value 4, :process 2, :time 3505624820, :index 948}
{:type :invoke, :f :write, :value 4, :process 7, :time 3542008774, :index 956}
{:type :ok, :f :write, :value 4, :process 7, :time 3547075486, :index 958}
{:type :invoke, :f :cas, :value [1 0], :process 1, :time 3556049149, :index 960}
{:type :fail, :f :cas, :value [1 0], :process 1, :time 3561529744, :index 961}
{:type :invoke, :f :write, :value 3, :process 8, :time 3565607202, :index 962}
{:type :ok, :f :write, :value 3, :process 8, :time 3571300934, :index 963}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 3575639352, :index 964}
{:type :invoke, :f :read, :value nil, :process 5, :time 3577238355, :index 965}
{:type :invoke, :f :write, :value 4, :process 0, :time 3578020362, :index 966}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 3580946602, :index 968}
{:type :ok, :f :read, :value 3, :process 5, :time 3583341311, :index 969}
{:type :ok, :f :write, :value 4, :process 0, :time 3585752504, :index 971}
{:type :invoke, :f :write, :value 3, :process 9, :time 3597451212, :index 975}
{:type :invoke, :f :read, :value nil, :process 4, :time 3600838170, :index 978}
{:type :ok, :f :write, :value 3, :process 9, :time 3602272519, :index 979}
{:type :ok, :f :read, :value 3, :process 4, :time 3606048856, :index 982}
{:type :invoke, :f :write, :value 2, :process 9, :time 3618613820, :index 986}
{:type :invoke, :f :write, :value 4, :process 4, :time 3621298639, :index 987}
{:type :ok, :f :write, :value 2, :process 9, :time 3626937928, :index 990}
{:type :ok, :f :write, :value 4, :process 4, :time 3627516335, :index 991}
{:type :invoke, :f :read, :value nil, :process 7, :time 3635343392, :index 994}
{:type :ok, :f :read, :value 4, :process 7, :time 3640083504, :index 997}
{:type :invoke, :f :write, :value 0, :process 9, :time 3647272082, :index 999}
{:type :ok, :f :write, :value 0, :process 9, :time 3652358454, :index 1001}
{:type :invoke, :f :cas, :value [4 3], :process 2, :time 3654881923, :index 1002}
{:type :fail, :f :cas, :value [4 3], :process 2, :time 3660426553, :index 1003}
{:type :invoke, :f :read, :value nil, :process 6, :time 3660937770, :index 1004}
{:type :ok, :f :read, :value 0, :process 6, :time 3666660319, :index 1007}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 3667586599, :index 1009}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 3672951658, :index 1012}
{:type :invoke, :f :read, :value nil, :process 0, :time 3730060036, :index 1024}
{:type :invoke, :f :cas, :value [2 3], :process 5, :time 3732637304, :index 1025}
{:type :ok, :f :read, :value 0, :process 0, :time 3738644172, :index 1026}
{:type :fail, :f :cas, :value [2 3], :process 5, :time 3740605624, :index 1027}
{:type :invoke, :f :cas, :value [4 2], :process 9, :time 3746642096, :index 1028}
{:type :fail, :f :cas, :value [4 2], :process 9, :time 3754249213, :index 1030}
{:type :invoke, :f :cas, :value [4 4], :process 1, :time 3759808728, :index 1033}
{:type :invoke, :f :write, :value 2, :process 3, :time 3762229250, :index 1034}
{:type :invoke, :f :cas, :value [2 4], :process 6, :time 3763162131, :index 1035}
{:type :fail, :f :cas, :value [4 4], :process 1, :time 3765986650, :index 1037}
{:type :ok, :f :write, :value 2, :process 3, :time 3767990690, :index 1038}
{:type :invoke, :f :write, :value 2, :process 4, :time 3768918553, :index 1039}
{:type :ok, :f :cas, :value [2 4], :process 6, :time 3770463939, :index 1040}
{:type :ok, :f :write, :value 2, :process 4, :time 3774613791, :index 1041}
{:type :invoke, :f :write, :value 2, :process 7, :time 3790343473, :index 1042}
{:type :ok, :f :write, :value 2, :process 7, :time 3796328357, :index 1044}
{:type :invoke, :f :write, :value 2, :process 5, :time 3825936770, :index 1054}
{:type :ok, :f :write, :value 2, :process 5, :time 3831422756, :index 1055}
{:type :invoke, :f :read, :value nil, :process 2, :time 3839690943, :index 1058}
{:type :ok, :f :read, :value 2, :process 2, :time 3845083527, :index 1059}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 3847996402, :index 1060}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 3853984475, :index 1061}
{:type :invoke, :f :write, :value 2, :process 8, :time 3855234266, :index 1062}
{:type :ok, :f :write, :value 2, :process 8, :time 3860311986, :index 1063}
{:type :invoke, :f :write, :value 0, :process 7, :time 3864592870, :index 1065}
{:type :ok, :f :write, :value 0, :process 7, :time 3870888027, :index 1069}
{:type :invoke, :f :read, :value nil, :process 4, :time 3891889586, :index 1074}
{:type :invoke, :f :read, :value nil, :process 9, :time 3893582363, :index 1076}
{:type :invoke, :f :write, :value 2, :process 3, :time 3894276513, :index 1077}
{:type :ok, :f :read, :value 0, :process 4, :time 3896895501, :index 1079}
{:type :ok, :f :write, :value 2, :process 3, :time 3899132168, :index 1080}
{:type :ok, :f :read, :value 2, :process 9, :time 3900125356, :index 1082}
{:type :invoke, :f :read, :value nil, :process 0, :time 3905249231, :index 1084}
{:type :ok, :f :read, :value 2, :process 0, :time 3911210538, :index 1085}
{:type :invoke, :f :write, :value 4, :process 2, :time 3916343494, :index 1087}
{:type :ok, :f :write, :value 4, :process 2, :time 3921275736, :index 1089}
{:type :invoke, :f :write, :value 0, :process 6, :time 3937785554, :index 1094}
{:type :ok, :f :write, :value 0, :process 6, :time 3942801538, :index 1095}
{:type :invoke, :f :write, :value 0, :process 1, :time 3947663013, :index 1096}
{:type :ok, :f :write, :value 0, :process 1, :time 3953507415, :index 1097}
{:type :invoke, :f :write, :value 1, :process 1, :time 3954707288, :index 1099}
{:type :invoke, :f :read, :value nil, :process 5, :time 3954706058, :index 1100}
{:type :ok, :f :write, :value 1, :process 1, :time 3961668937, :index 1103}
{:type :ok, :f :read, :value 1, :process 5, :time 3962032785, :index 1104}
{:type :invoke, :f :cas, :value [0 4], :process 7, :time 3970209379, :index 1111}
{:type :fail, :f :cas, :value [0 4], :process 7, :time 3975658200, :index 1113}
{:type :invoke, :f :write, :value 4, :process 8, :time 3976574051, :index 1114}
{:type :ok, :f :write, :value 4, :process 8, :time 3981485629, :index 1117}
{:type :invoke, :f :read, :value nil, :process 1, :time 3997919164, :index 1123}
{:type :ok, :f :read, :value 4, :process 1, :time 4003593943, :index 1127}
{:type :invoke, :f :write, :value 0, :process 1, :time 4015862930, :index 1130}
{:type :invoke, :f :write, :value 0, :process 3, :time 4016410964, :index 1131}
{:type :invoke, :f :write, :value 1, :process 2, :time 4020530555, :index 1132}
{:type :ok, :f :write, :value 0, :process 3, :time 4021344601, :index 1133}
{:type :ok, :f :write, :value 0, :process 1, :time 4021560603, :index 1134}
{:type :ok, :f :write, :value 1, :process 2, :time 4025465015, :index 1135}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 4050164392, :index 1140}
{:type :invoke, :f :cas, :value [4 1], :process 1, :time 4052834430, :index 1142}
{:type :ok, :f :cas, :value [1 4], :process 4, :time 4055403736, :index 1143}
{:type :ok, :f :cas, :value [4 1], :process 1, :time 4058654283, :index 1145}
{:type :invoke, :f :read, :value nil, :process 7, :time 4059916186, :index 1146}
{:type :ok, :f :read, :value 1, :process 7, :time 4066075558, :index 1148}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 4068622663, :index 1150}
{:type :invoke, :f :read, :value nil, :process 9, :time 4070387719, :index 1151}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 4073137387, :index 1152}
{:type :ok, :f :read, :value 1, :process 9, :time 4076098418, :index 1153}
{:type :invoke, :f :read, :value nil, :process 0, :time 4081470931, :index 1154}
{:type :ok, :f :read, :value 1, :process 0, :time 4088663585, :index 1157}
{:type :invoke, :f :write, :value 4, :process 5, :time 4104277654, :index 1161}
{:type :ok, :f :write, :value 4, :process 5, :time 4109761179, :index 1165}
{:type :invoke, :f :read, :value nil, :process 8, :time 4119745768, :index 1168}
{:type :invoke, :f :read, :value nil, :process 6, :time 4121066060, :index 1169}
{:type :ok, :f :read, :value 4, :process 8, :time 4124842998, :index 1171}
{:type :invoke, :f :write, :value 3, :process 2, :time 4124733926, :index 1172}
{:type :ok, :f :read, :value 4, :process 6, :time 4126648503, :index 1173}
{:type :ok, :f :write, :value 3, :process 2, :time 4133478721, :index 1177}
{:type :invoke, :f :write, :value 4, :process 2, :time 4138738306, :index 1180}
{:type :invoke, :f :cas, :value [4 1], :process 8, :time 4142089886, :index 1181}
{:type :ok, :f :write, :value 4, :process 2, :time 4143729488, :index 1182}
{:type :ok, :f :cas, :value [4 1], :process 8, :time 4146387506, :index 1184}
{:type :invoke, :f :write, :value 4, :process 6, :time 4147916217, :index 1185}
{:type :invoke, :f :cas, :value [0 2], :process 7, :time 4148359344, :index 1186}
{:type :ok, :f :write, :value 4, :process 6, :time 4153160824, :index 1188}
{:type :fail, :f :cas, :value [0 2], :process 7, :time 4153976063, :index 1189}
{:type :invoke, :f :cas, :value [1 0], :process 2, :time 4186040437, :index 1197}
{:type :invoke, :f :read, :value nil, :process 0, :time 4186940864, :index 1198}
{:type :fail, :f :cas, :value [1 0], :process 2, :time 4192562122, :index 1200}
{:type :ok, :f :read, :value 4, :process 0, :time 4192895204, :index 1201}
{:type :invoke, :f :cas, :value [1 3], :process 9, :time 4195356444, :index 1202}
{:type :invoke, :f :read, :value nil, :process 6, :time 4198431735, :index 1203}
{:type :fail, :f :cas, :value [1 3], :process 9, :time 4200890787, :index 1204}
{:type :ok, :f :read, :value 4, :process 6, :time 4203722828, :index 1205}
{:type :invoke, :f :read, :value nil, :process 4, :time 4209667168, :index 1206}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 4209975476, :index 1207}
{:type :fail, :f :cas, :value [1 2], :process 1, :time 4216208270, :index 1209}
{:type :ok, :f :read, :value 4, :process 4, :time 4216672902, :index 1210}
{:type :invoke, :f :read, :value nil, :process 3, :time 4249412251, :index 1222}
{:type :ok, :f :read, :value 4, :process 3, :time 4254267310, :index 1227}
{:type :invoke, :f :read, :value nil, :process 5, :time 4287025957, :index 1234}
{:type :ok, :f :read, :value 4, :process 5, :time 4293665202, :index 1236}
{:type :invoke, :f :write, :value 0, :process 8, :time 4294598687, :index 1239}
{:type :ok, :f :write, :value 0, :process 8, :time 4299439506, :index 1240}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
