{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :invoke, :f :read, :value nil, :process 18, :time 19071905489, :index 5259}
{:type :fail, :f :read, :value nil, :process 18, :time 19073977431, :error :connect, :index 5261}
{:type :invoke, :f :read, :value nil, :process 18, :time 19098227522, :index 5268}
{:type :fail, :f :read, :value nil, :process 18, :time 19099942168, :error :connect, :index 5269}
{:type :invoke, :f :read, :value nil, :process 10, :time 19113572617, :index 5271}
{:type :fail, :f :read, :value nil, :process 10, :time 19115440864, :error :connect, :index 5273}
{:type :invoke, :f :read, :value nil, :process 36, :time 19121301080, :index 5277}
{:type :fail, :f :read, :value nil, :process 36, :time 19123236415, :error :connect, :index 5279}
{:type :invoke, :f :read, :value nil, :process 39, :time 19127548825, :index 5282}
{:type :fail, :f :read, :value nil, :process 39, :time 19129551512, :error :connect, :index 5283}
{:type :invoke, :f :read, :value nil, :process 39, :time 19147812681, :index 5286}
{:type :fail, :f :read, :value nil, :process 39, :time 19149873270, :error :connect, :index 5287}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 19151277810, :index 5288}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 19153147875, :error :connect, :index 5289}
{:type :invoke, :f :cas, :value [4 4], :process 32, :time 19160670309, :index 5291}
{:type :fail, :f :cas, :value [4 4], :process 32, :time 19162775977, :error :connect, :index 5293}
{:type :invoke, :f :cas, :value [0 4], :process 36, :time 19175486158, :index 5298}
{:type :fail, :f :cas, :value [0 4], :process 36, :time 19177124165, :error :connect, :index 5299}
{:type :invoke, :f :write, :value 4, :process 15, :time 19185553748, :index 5303}
{:type :fail, :f :write, :value 4, :process 15, :time 19187544284, :error :connect, :index 5305}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 19203205922, :index 5306}
{:type :fail, :f :cas, :value [0 3], :process 18, :time 19205129735, :error :connect, :index 5307}
{:type :invoke, :f :cas, :value [4 1], :process 39, :time 19209143604, :index 5308}
{:type :fail, :f :cas, :value [4 1], :process 39, :time 19211075798, :error :connect, :index 5310}
{:type :invoke, :f :cas, :value [2 0], :process 34, :time 19211756195, :index 5311}
{:type :fail, :f :cas, :value [2 0], :process 34, :time 19213612189, :error :connect, :index 5313}
{:type :invoke, :f :write, :value 4, :process 37, :time 19228952153, :index 5318}
{:type :fail, :f :write, :value 4, :process 37, :time 19230641428, :error :connect, :index 5319}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 19230699386, :index 5320}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 19232742519, :error :connect, :index 5321}
{:type :invoke, :f :read, :value nil, :process 33, :time 19235877577, :index 5322}
{:type :fail, :f :read, :value nil, :process 33, :time 19237787298, :error :connect, :index 5323}
{:type :invoke, :f :cas, :value [3 4], :process 34, :time 19238899814, :index 5324}
{:type :invoke, :f :cas, :value [0 2], :process 36, :time 19240398133, :index 5325}
{:type :fail, :f :cas, :value [3 4], :process 34, :time 19240795696, :error :connect, :index 5326}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 19241810048, :index 5327}
{:type :fail, :f :cas, :value [0 2], :process 36, :time 19242525323, :error :connect, :index 5328}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 19243865555, :error :connect, :index 5329}
{:type :invoke, :f :cas, :value [1 1], :process 39, :time 19270352107, :index 5333}
{:type :fail, :f :cas, :value [1 1], :process 39, :time 19272229037, :error :connect, :index 5335}
{:type :invoke, :f :cas, :value [3 3], :process 34, :time 19275076561, :index 5338}
{:type :fail, :f :cas, :value [3 3], :process 34, :time 19277083246, :error :connect, :index 5341}
{:type :invoke, :f :write, :value 0, :process 15, :time 19282138908, :index 5342}
{:type :fail, :f :write, :value 0, :process 15, :time 19284297184, :error :connect, :index 5343}
{:type :invoke, :f :write, :value 3, :process 36, :time 19295794135, :index 5348}
{:type :fail, :f :write, :value 3, :process 36, :time 19297644106, :error :connect, :index 5349}
{:type :invoke, :f :cas, :value [0 1], :process 18, :time 19304400399, :index 5356}
{:type :fail, :f :cas, :value [0 1], :process 18, :time 19306118797, :error :connect, :index 5357}
{:type :invoke, :f :write, :value 1, :process 34, :time 19315351037, :index 5362}
{:type :fail, :f :write, :value 1, :process 34, :time 19317189901, :error :connect, :index 5363}
{:type :invoke, :f :read, :value nil, :process 11, :time 19327410553, :index 5364}
{:type :invoke, :f :write, :value 3, :process 34, :time 19329458726, :index 5365}
{:type :fail, :f :read, :value nil, :process 11, :time 19329638726, :error :connect, :index 5366}
{:type :fail, :f :write, :value 3, :process 34, :time 19331358830, :error :connect, :index 5367}
{:type :invoke, :f :cas, :value [2 3], :process 33, :time 19334053954, :index 5368}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 19334614527, :index 5369}
{:type :fail, :f :cas, :value [2 3], :process 33, :time 19335992892, :error :connect, :index 5370}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 19336428179, :error :connect, :index 5371}
{:type :invoke, :f :read, :value nil, :process 33, :time 19342255998, :index 5373}
{:type :fail, :f :read, :value nil, :process 33, :time 19344075199, :error :connect, :index 5375}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 19351003620, :index 5376}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 19352808957, :error :connect, :index 5377}
{:type :invoke, :f :cas, :value [4 4], :process 32, :time 19362041871, :index 5380}
{:type :fail, :f :cas, :value [4 4], :process 32, :time 19363922951, :error :connect, :index 5381}
{:type :invoke, :f :write, :value 2, :process 15, :time 19388673223, :index 5388}
{:type :fail, :f :write, :value 2, :process 15, :time 19390355228, :error :connect, :index 5390}
{:type :invoke, :f :read, :value nil, :process 18, :time 19395377681, :index 5394}
{:type :fail, :f :read, :value nil, :process 18, :time 19396992742, :error :connect, :index 5395}
{:type :invoke, :f :write, :value 3, :process 10, :time 19404069662, :index 5396}
{:type :fail, :f :write, :value 3, :process 10, :time 19406149024, :error :connect, :index 5397}
{:type :invoke, :f :write, :value 3, :process 33, :time 19410314655, :index 5398}
{:type :invoke, :f :cas, :value [2 0], :process 39, :time 19411496101, :index 5399}
{:type :fail, :f :write, :value 3, :process 33, :time 19412079650, :error :connect, :index 5400}
{:type :fail, :f :cas, :value [2 0], :process 39, :time 19413267853, :error :connect, :index 5401}
{:type :invoke, :f :cas, :value [2 2], :process 33, :time 19425347212, :index 5406}
{:type :fail, :f :cas, :value [2 2], :process 33, :time 19427351369, :error :connect, :index 5407}
{:type :invoke, :f :write, :value 4, :process 32, :time 19428190307, :index 5408}
{:type :fail, :f :write, :value 4, :process 32, :time 19429797881, :error :connect, :index 5409}
{:type :invoke, :f :read, :value nil, :process 37, :time 19429937476, :index 5410}
{:type :fail, :f :read, :value nil, :process 37, :time 19431490324, :error :connect, :index 5411}
{:type :invoke, :f :read, :value nil, :process 34, :time 19444623779, :index 5416}
{:type :fail, :f :read, :value nil, :process 34, :time 19446605977, :error :connect, :index 5417}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 19449191663, :index 5418}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 19451320536, :error :connect, :index 5419}
{:type :invoke, :f :read, :value nil, :process 11, :time 19459882803, :index 5422}
{:type :fail, :f :read, :value nil, :process 11, :time 19462032281, :error :connect, :index 5423}
{:type :invoke, :f :read, :value nil, :process 36, :time 19465831255, :index 5426}
{:type :fail, :f :read, :value nil, :process 36, :time 19467398626, :error :connect, :index 5428}
{:type :invoke, :f :read, :value nil, :process 33, :time 19500604820, :index 5434}
{:type :invoke, :f :write, :value 0, :process 18, :time 19500607907, :index 5435}
{:type :fail, :f :read, :value nil, :process 33, :time 19502707639, :error :connect, :index 5436}
{:type :fail, :f :write, :value 0, :process 18, :time 19502941748, :error :connect, :index 5437}
{:type :invoke, :f :write, :value 4, :process 39, :time 19511539139, :index 5438}
{:type :fail, :f :write, :value 4, :process 39, :time 19513383801, :error :connect, :index 5439}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 19519412890, :index 5442}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 19521308374, :error :connect, :index 5443}
{:type :invoke, :f :read, :value nil, :process 37, :time 19526753934, :index 5444}
{:type :fail, :f :read, :value nil, :process 37, :time 19528759106, :error :connect, :index 5445}
{:type :invoke, :f :write, :value 2, :process 32, :time 19553059069, :index 5452}
{:type :fail, :f :write, :value 2, :process 32, :time 19554757126, :error :connect, :index 5453}
{:type :invoke, :f :read, :value nil, :process 18, :time 19558180683, :index 5454}
{:type :fail, :f :read, :value nil, :process 18, :time 19559930393, :error :connect, :index 5455}
{:type :invoke, :f :write, :value 0, :process 15, :time 19566619447, :index 5456}
{:type :fail, :f :write, :value 0, :process 15, :time 19568738677, :error :connect, :index 5457}
{:type :invoke, :f :write, :value 1, :process 36, :time 19584653306, :index 5466}
{:type :fail, :f :write, :value 1, :process 36, :time 19586725848, :error :connect, :index 5468}
{:type :invoke, :f :read, :value nil, :process 34, :time 19597900840, :index 5474}
{:type :invoke, :f :read, :value nil, :process 11, :time 19599291111, :index 5475}
{:type :fail, :f :read, :value nil, :process 34, :time 19600043364, :error :connect, :index 5477}
{:type :fail, :f :read, :value nil, :process 11, :time 19601169409, :error :connect, :index 5478}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 19620195866, :index 5484}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 19621878832, :error :connect, :index 5485}
{:type :invoke, :f :cas, :value [0 0], :process 32, :time 19631014617, :index 5488}
{:type :fail, :f :cas, :value [0 0], :process 32, :time 19632965464, :error :connect, :index 5490}
{:type :invoke, :f :read, :value nil, :process 33, :time 19655993991, :index 5496}
{:type :fail, :f :read, :value nil, :process 33, :time 19657983421, :error :connect, :index 5497}
{:type :invoke, :f :cas, :value [4 4], :process 34, :time 19658329401, :index 5498}
{:type :invoke, :f :write, :value 3, :process 15, :time 19660002129, :index 5499}
{:type :fail, :f :cas, :value [4 4], :process 34, :time 19660291984, :error :connect, :index 5500}
{:type :fail, :f :write, :value 3, :process 15, :time 19661830904, :error :connect, :index 5501}
{:type :invoke, :f :read, :value nil, :process 39, :time 19664643797, :index 5502}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 19665576823, :index 5503}
{:type :fail, :f :read, :value nil, :process 39, :time 19666652564, :error :connect, :index 5504}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 19667395756, :error :connect, :index 5505}
{:type :invoke, :f :write, :value 0, :process 36, :time 19670995484, :index 5506}
{:type :fail, :f :write, :value 0, :process 36, :time 19673082726, :error :connect, :index 5508}
{:type :invoke, :f :cas, :value [3 4], :process 34, :time 19674541373, :index 5510}
{:type :fail, :f :cas, :value [3 4], :process 34, :time 19676196602, :error :connect, :index 5511}
{:type :invoke, :f :write, :value 1, :process 11, :time 19695436005, :index 5516}
{:type :fail, :f :write, :value 1, :process 11, :time 19697110563, :error :connect, :index 5517}
{:type :invoke, :f :cas, :value [3 2], :process 37, :time 19712023519, :index 5522}
{:type :fail, :f :cas, :value [3 2], :process 37, :time 19713895598, :error :connect, :index 5523}
{:type :invoke, :f :read, :value nil, :process 39, :time 19714941987, :index 5524}
{:type :fail, :f :read, :value nil, :process 39, :time 19716886171, :error :connect, :index 5525}
{:type :invoke, :f :read, :value nil, :process 39, :time 19721151453, :index 5527}
{:type :invoke, :f :read, :value nil, :process 18, :time 19722146384, :index 5529}
{:type :fail, :f :read, :value nil, :process 39, :time 19722898075, :error :connect, :index 5530}
{:type :fail, :f :read, :value nil, :process 18, :time 19724037704, :error :connect, :index 5531}
{:type :invoke, :f :read, :value nil, :process 37, :time 19774157626, :index 5540}
{:type :invoke, :f :cas, :value [3 0], :process 32, :time 19775172409, :index 5541}
{:type :fail, :f :read, :value nil, :process 37, :time 19776341495, :error :connect, :index 5544}
{:type :fail, :f :cas, :value [3 0], :process 32, :time 19777216563, :error :connect, :index 5545}
{:type :invoke, :f :read, :value nil, :process 34, :time 19779474660, :index 5549}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 19780091556, :index 5550}
{:type :fail, :f :read, :value nil, :process 34, :time 19781301273, :error :connect, :index 5551}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 19782000986, :error :connect, :index 5553}
{:type :invoke, :f :cas, :value [0 3], :process 37, :time 19783584165, :index 5554}
{:type :fail, :f :cas, :value [0 3], :process 37, :time 19785221495, :error :connect, :index 5555}
{:type :invoke, :f :cas, :value [4 2], :process 11, :time 19795372193, :index 5560}
{:type :fail, :f :cas, :value [4 2], :process 11, :time 19797450137, :error :connect, :index 5562}
{:type :invoke, :f :cas, :value [3 4], :process 34, :time 19811558965, :index 5564}
{:type :fail, :f :cas, :value [3 4], :process 34, :time 19814339661, :error :connect, :index 5565}
{:type :invoke, :f :read, :value nil, :process 36, :time 19823379239, :index 5568}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 19825186734, :index 5569}
{:type :fail, :f :read, :value nil, :process 36, :time 19825571470, :error :connect, :index 5570}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 19826487966, :index 5571}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 19827185159, :error :connect, :index 5572}
{:type :invoke, :f :write, :value 2, :process 32, :time 19828526030, :index 5573}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 19828692571, :error :connect, :index 5574}
{:type :fail, :f :write, :value 2, :process 32, :time 19830213223, :error :connect, :index 5575}
{:type :invoke, :f :write, :value 0, :process 18, :time 19834290850, :index 5578}
{:type :fail, :f :write, :value 0, :process 18, :time 19836259646, :error :connect, :index 5579}
{:type :invoke, :f :write, :value 0, :process 33, :time 19849253039, :index 5580}
{:type :fail, :f :write, :value 0, :process 33, :time 19851410699, :error :connect, :index 5581}
{:type :invoke, :f :write, :value 2, :process 10, :time 19851652468, :index 5582}
{:type :fail, :f :write, :value 2, :process 10, :time 19853365063, :error :connect, :index 5583}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 19858892075, :index 5585}
{:type :fail, :f :cas, :value [2 1], :process 36, :time 19860763769, :error :connect, :index 5587}
{:type :invoke, :f :write, :value 0, :process 33, :time 19894691199, :index 5596}
{:type :fail, :f :write, :value 0, :process 33, :time 19896399224, :error :connect, :index 5597}
{:type :invoke, :f :write, :value 1, :process 39, :time 19924510985, :index 5607}
{:type :fail, :f :write, :value 1, :process 39, :time 19926509956, :error :connect, :index 5610}
{:type :invoke, :f :write, :value 2, :process 34, :time 19929608707, :index 5612}
{:type :fail, :f :write, :value 2, :process 34, :time 19931760484, :error :connect, :index 5614}
{:type :invoke, :f :read, :value nil, :process 15, :time 19952244025, :index 5622}
{:type :fail, :f :read, :value nil, :process 15, :time 19954250265, :error :connect, :index 5624}
{:type :invoke, :f :cas, :value [3 0], :process 32, :time 19958506683, :index 5629}
{:type :fail, :f :cas, :value [3 0], :process 32, :time 19960499561, :error :connect, :index 5631}
{:type :invoke, :f :cas, :value [2 2], :process 18, :time 19961537972, :index 5632}
{:type :invoke, :f :read, :value nil, :process 11, :time 19962732791, :index 5633}
{:type :fail, :f :cas, :value [2 2], :process 18, :time 19963456626, :error :connect, :index 5634}
{:type :fail, :f :read, :value nil, :process 11, :time 19964636279, :error :connect, :index 5635}
{:type :invoke, :f :cas, :value [0 2], :process 34, :time 19974037541, :index 5640}
{:type :fail, :f :cas, :value [0 2], :process 34, :time 19975891805, :error :connect, :index 5641}
{:type :invoke, :f :write, :value 0, :process 36, :time 19993007740, :index 5642}
{:type :fail, :f :write, :value 0, :process 36, :time 19994923476, :error :connect, :index 5643}
{:type :invoke, :f :write, :value 1, :process 37, :time 20000946491, :index 5644}
{:type :fail, :f :write, :value 1, :process 37, :time 20002853077, :error :connect, :index 5645}
{:type :invoke, :f :cas, :value [4 4], :process 39, :time 20009807090, :index 5648}
{:type :fail, :f :cas, :value [4 4], :process 39, :time 20011869106, :error :connect, :index 5649}
{:type :invoke, :f :read, :value nil, :process 10, :time 20018660404, :index 5653}
{:type :fail, :f :read, :value nil, :process 10, :time 20020816665, :error :connect, :index 5655}
{:type :invoke, :f :read, :value nil, :process 18, :time 20058725377, :index 5665}
{:type :fail, :f :read, :value nil, :process 18, :time 20060993428, :error :connect, :index 5667}
{:type :invoke, :f :cas, :value [3 3], :process 33, :time 20090658965, :index 5678}
{:type :fail, :f :cas, :value [3 3], :process 33, :time 20092629744, :error :connect, :index 5680}
{:type :invoke, :f :read, :value nil, :process 32, :time 20097681032, :index 5682}
{:type :fail, :f :read, :value nil, :process 32, :time 20099549890, :error :connect, :index 5684}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 20127514390, :index 5692}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 20129632723, :error :connect, :index 5693}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
