{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :invoke, :f :write, :value 3, :process 57, :time 24852177640, :index 4860}
{:type :ok, :f :write, :value 3, :process 57, :time 24857705680, :index 4864}
{:type :invoke, :f :cas, :value [3 0], :process 57, :time 24894965220, :index 4870}
{:type :ok, :f :cas, :value [3 0], :process 57, :time 24899926155, :index 4872}
{:type :invoke, :f :write, :value 4, :process 11, :time 24907698985, :index 4876}
{:type :ok, :f :write, :value 4, :process 11, :time 24912702165, :index 4878}
{:type :invoke, :f :cas, :value [1 1], :process 19, :time 24927557294, :index 4882}
{:type :fail, :f :cas, :value [1 1], :process 19, :time 24932739706, :index 4886}
{:type :invoke, :f :read, :value nil, :process 15, :time 24933387738, :index 4887}
{:type :ok, :f :read, :value 4, :process 15, :time 24938472354, :index 4890}
{:type :invoke, :f :cas, :value [3 4], :process 14, :time 24941923815, :index 4892}
{:type :invoke, :f :cas, :value [0 1], :process 16, :time 24942497500, :index 4893}
{:type :fail, :f :cas, :value [3 4], :process 14, :time 24947928008, :index 4894}
{:type :fail, :f :cas, :value [0 1], :process 16, :time 24948243594, :index 4895}
{:type :invoke, :f :read, :value nil, :process 57, :time 24962202835, :index 4896}
{:type :invoke, :f :write, :value 0, :process 16, :time 24964476869, :index 4897}
{:type :ok, :f :read, :value 4, :process 57, :time 24967295237, :index 4898}
{:type :ok, :f :write, :value 0, :process 16, :time 24969545834, :index 4900}
{:type :invoke, :f :cas, :value [2 0], :process 13, :time 24982215976, :index 4903}
{:type :fail, :f :cas, :value [2 0], :process 13, :time 24986832385, :index 4905}
{:type :invoke, :f :read, :value nil, :process 14, :time 24990199872, :index 4906}
{:type :ok, :f :read, :value 0, :process 14, :time 24995652569, :index 4907}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 25002759750, :index 4911}
{:type :invoke, :f :read, :value nil, :process 32, :time 25005421114, :index 4913}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 25008028243, :index 4914}
{:type :ok, :f :read, :value 0, :process 32, :time 25011871873, :index 4915}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 25014679787, :index 4917}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 25019805429, :index 4920}
{:type :invoke, :f :cas, :value [4 1], :process 57, :time 25034571781, :index 4924}
{:type :invoke, :f :write, :value 3, :process 14, :time 25036911280, :index 4926}
{:type :fail, :f :cas, :value [4 1], :process 57, :time 25040030279, :index 4928}
{:type :ok, :f :write, :value 3, :process 14, :time 25042246028, :index 4930}
{:type :invoke, :f :cas, :value [1 3], :process 57, :time 25081263595, :index 4936}
{:type :invoke, :f :read, :value nil, :process 16, :time 25085835196, :index 4940}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 25085822031, :index 4941}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 25086953031, :index 4943}
{:type :fail, :f :cas, :value [1 3], :process 57, :time 25088403262, :index 4945}
{:type :ok, :f :read, :value 3, :process 16, :time 25091552823, :index 4948}
{:type :ok, :f :cas, :value [3 2], :process 10, :time 25092080868, :index 4949}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 25093571523, :index 4950}
{:type :invoke, :f :write, :value 2, :process 16, :time 25108805839, :index 4954}
{:type :invoke, :f :read, :value nil, :process 19, :time 25109998753, :index 4955}
{:type :invoke, :f :cas, :value [4 2], :process 13, :time 25112094612, :index 4956}
{:type :ok, :f :write, :value 2, :process 16, :time 25113660624, :index 4957}
{:type :ok, :f :read, :value 2, :process 19, :time 25115189529, :index 4958}
{:type :fail, :f :cas, :value [4 2], :process 13, :time 25116685128, :index 4959}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 25131041231, :index 4960}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 25135294434, :index 4962}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 25136187537, :index 4963}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 25140771370, :index 4966}
{:type :invoke, :f :cas, :value [1 2], :process 15, :time 25175028436, :index 4976}
{:type :fail, :f :cas, :value [1 2], :process 15, :time 25180885185, :index 4979}
{:type :invoke, :f :read, :value nil, :process 32, :time 25184128655, :index 4980}
{:type :ok, :f :read, :value 2, :process 32, :time 25189375934, :index 4981}
{:type :invoke, :f :read, :value nil, :process 19, :time 25205445579, :index 4987}
{:type :ok, :f :read, :value 2, :process 19, :time 25210259394, :index 4989}
{:type :invoke, :f :read, :value nil, :process 16, :time 25211926494, :index 4991}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 25212857837, :index 4992}
{:type :ok, :f :read, :value 2, :process 16, :time 25218253963, :index 4995}
{:type :ok, :f :cas, :value [2 4], :process 11, :time 25218649315, :index 4996}
{:type :invoke, :f :cas, :value [0 3], :process 13, :time 25224953517, :index 4998}
{:type :fail, :f :cas, :value [0 3], :process 13, :time 25229323614, :index 4999}
{:type :invoke, :f :read, :value nil, :process 14, :time 25233493470, :index 5001}
{:type :ok, :f :read, :value 4, :process 14, :time 25238885306, :index 5003}
{:type :invoke, :f :write, :value 2, :process 15, :time 25240166366, :index 5004}
{:type :invoke, :f :cas, :value [3 1], :process 32, :time 25241661416, :index 5005}
{:type :ok, :f :write, :value 2, :process 15, :time 25245181972, :index 5006}
{:type :fail, :f :cas, :value [3 1], :process 32, :time 25247149137, :index 5007}
{:type :invoke, :f :read, :value nil, :process 18, :time 25272433517, :index 5010}
{:type :ok, :f :read, :value 2, :process 18, :time 25278020035, :index 5013}
{:type :invoke, :f :read, :value nil, :process 57, :time 25282587750, :index 5017}
{:type :ok, :f :read, :value 2, :process 57, :time 25287557413, :index 5021}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 25290319568, :index 5023}
{:type :invoke, :f :read, :value nil, :process 57, :time 25293813625, :index 5025}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 25296153293, :index 5026}
{:type :ok, :f :read, :value 2, :process 57, :time 25298186232, :index 5027}
{:type :invoke, :f :write, :value 0, :process 32, :time 25329431341, :index 5034}
{:type :ok, :f :write, :value 0, :process 32, :time 25334704213, :index 5037}
{:type :invoke, :f :write, :value 4, :process 14, :time 25340139836, :index 5038}
{:type :ok, :f :write, :value 4, :process 14, :time 25346193299, :index 5042}
{:type :invoke, :f :read, :value nil, :process 14, :time 25351426892, :index 5044}
{:type :ok, :f :read, :value 4, :process 14, :time 25356450930, :index 5046}
{:type :invoke, :f :read, :value nil, :process 19, :time 25356532764, :index 5047}
{:type :ok, :f :read, :value 4, :process 19, :time 25361698726, :index 5050}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 25367500036, :index 5052}
{:type :fail, :f :cas, :value [2 4], :process 16, :time 25372940206, :index 5054}
{:type :invoke, :f :read, :value nil, :process 11, :time 25398912011, :index 5063}
{:type :ok, :f :read, :value 4, :process 11, :time 25403652232, :index 5065}
{:type :invoke, :f :read, :value nil, :process 19, :time 25409966165, :index 5068}
{:type :ok, :f :read, :value 4, :process 19, :time 25415288194, :index 5069}
{:type :invoke, :f :read, :value nil, :process 32, :time 25421956484, :index 5070}
{:type :invoke, :f :cas, :value [1 1], :process 11, :time 25424940979, :index 5072}
{:type :ok, :f :read, :value 4, :process 32, :time 25427240919, :index 5073}
{:type :invoke, :f :write, :value 0, :process 13, :time 25428584056, :index 5074}
{:type :fail, :f :cas, :value [1 1], :process 11, :time 25430764914, :index 5076}
{:type :invoke, :f :write, :value 3, :process 10, :time 25431447241, :index 5077}
{:type :invoke, :f :read, :value nil, :process 15, :time 25431443267, :index 5078}
{:type :ok, :f :write, :value 0, :process 13, :time 25433658065, :index 5079}
{:type :ok, :f :write, :value 3, :process 10, :time 25437068199, :index 5080}
{:type :ok, :f :read, :value 3, :process 15, :time 25437305154, :index 5081}
{:type :invoke, :f :write, :value 0, :process 11, :time 25442026527, :index 5083}
{:type :ok, :f :write, :value 0, :process 11, :time 25447248034, :index 5085}
{:type :invoke, :f :cas, :value [1 1], :process 11, :time 25448499156, :index 5086}
{:type :fail, :f :cas, :value [1 1], :process 11, :time 25454121867, :index 5087}
{:type :invoke, :f :read, :value nil, :process 57, :time 25454458007, :index 5088}
{:type :ok, :f :read, :value 0, :process 57, :time 25459671267, :index 5090}
{:type :invoke, :f :cas, :value [0 1], :process 18, :time 25470257927, :index 5096}
{:type :invoke, :f :cas, :value [1 4], :process 16, :time 25473197926, :index 5097}
{:type :ok, :f :cas, :value [0 1], :process 18, :time 25474883866, :index 5098}
{:type :ok, :f :cas, :value [1 4], :process 16, :time 25477806081, :index 5101}
{:type :invoke, :f :write, :value 4, :process 14, :time 25479732861, :index 5102}
{:type :ok, :f :write, :value 4, :process 14, :time 25484793552, :index 5105}
{:type :invoke, :f :cas, :value [2 0], :process 11, :time 25492375770, :index 5106}
{:type :invoke, :f :cas, :value [2 3], :process 32, :time 25492492295, :index 5107}
{:type :fail, :f :cas, :value [2 0], :process 11, :time 25497342705, :index 5108}
{:type :fail, :f :cas, :value [2 3], :process 32, :time 25498136665, :index 5109}
{:type :invoke, :f :write, :value 4, :process 13, :time 25508918736, :index 5110}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 25511086659, :index 5112}
{:type :ok, :f :write, :value 4, :process 13, :time 25513721531, :index 5114}
{:type :ok, :f :cas, :value [4 2], :process 18, :time 25515304874, :index 5115}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 25525560857, :index 5120}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 25531170951, :index 5122}
{:type :invoke, :f :write, :value 4, :process 19, :time 25532545438, :index 5123}
{:type :ok, :f :write, :value 4, :process 19, :time 25537362456, :index 5125}
{:type :invoke, :f :read, :value nil, :process 15, :time 25544459908, :index 5126}
{:type :ok, :f :read, :value 4, :process 15, :time 25550943265, :index 5128}
{:type :invoke, :f :cas, :value [3 2], :process 57, :time 25560951708, :index 5131}
{:type :invoke, :f :read, :value nil, :process 13, :time 25587996808, :index 5133}
{:type :invoke, :f :cas, :value [3 0], :process 19, :time 25589619773, :index 5134}
{:type :invoke, :f :write, :value 1, :process 32, :time 25590403724, :index 5135}
{:type :ok, :f :read, :value 4, :process 13, :time 25592701943, :index 5136}
{:type :fail, :f :cas, :value [3 0], :process 19, :time 25595219924, :index 5137}
{:type :invoke, :f :write, :value 2, :process 10, :time 25602375041, :index 5139}
{:type :ok, :f :write, :value 2, :process 10, :time 25607690604, :index 5140}
{:type :invoke, :f :read, :value nil, :process 11, :time 25614610713, :index 5141}
{:type :ok, :f :read, :value 2, :process 11, :time 25619132785, :index 5142}
{:type :invoke, :f :read, :value nil, :process 15, :time 25626198824, :index 5143}
{:type :ok, :f :read, :value 2, :process 15, :time 25631908760, :index 5144}
{:type :invoke, :f :cas, :value [1 4], :process 16, :time 25637297634, :index 5146}
{:type :ok, :f :write, :value 1, :process 32, :time 25637760125, :index 5148}
{:type :fail, :f :cas, :value [3 2], :process 57, :time 25638108374, :index 5149}
{:type :invoke, :f :write, :value 3, :process 14, :time 25640043490, :index 5150}
{:type :ok, :f :cas, :value [1 4], :process 16, :time 25642866240, :index 5152}
{:type :ok, :f :write, :value 3, :process 14, :time 25644839192, :index 5153}
{:type :invoke, :f :cas, :value [1 2], :process 18, :time 25682600618, :index 5168}
{:type :fail, :f :cas, :value [1 2], :process 18, :time 25687487157, :index 5169}
{:type :invoke, :f :cas, :value [0 0], :process 13, :time 25691964532, :index 5170}
{:type :fail, :f :cas, :value [0 0], :process 13, :time 25696725044, :index 5172}
{:type :invoke, :f :read, :value nil, :process 13, :time 25704993872, :index 5178}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 25708756364, :index 5181}
{:type :ok, :f :read, :value 3, :process 13, :time 25709936762, :index 5182}
{:type :fail, :f :cas, :value [0 3], :process 18, :time 25713270877, :index 5183}
{:type :invoke, :f :read, :value nil, :process 18, :time 25716540286, :index 5185}
{:type :invoke, :f :write, :value 1, :process 16, :time 25718107453, :index 5186}
{:type :ok, :f :read, :value 3, :process 18, :time 25721995931, :index 5189}
{:type :ok, :f :write, :value 1, :process 16, :time 25722924994, :index 5190}
{:type :invoke, :f :write, :value 2, :process 57, :time 25726368525, :index 5192}
{:type :ok, :f :write, :value 2, :process 57, :time 25731491182, :index 5193}
{:type :invoke, :f :cas, :value [3 3], :process 16, :time 25747177177, :index 5195}
{:type :invoke, :f :cas, :value [1 4], :process 10, :time 25752950047, :index 5197}
{:type :fail, :f :cas, :value [3 3], :process 16, :time 25753802186, :index 5198}
{:type :fail, :f :cas, :value [1 4], :process 10, :time 25759056639, :index 5200}
{:type :invoke, :f :write, :value 4, :process 57, :time 25761748763, :index 5202}
{:type :ok, :f :write, :value 4, :process 57, :time 25767009958, :index 5204}
{:type :invoke, :f :read, :value nil, :process 16, :time 25776058701, :index 5208}
{:type :invoke, :f :read, :value nil, :process 19, :time 25777476884, :index 5209}
{:type :ok, :f :read, :value 4, :process 16, :time 25781640326, :index 5211}
{:type :ok, :f :read, :value 4, :process 19, :time 25782988045, :index 5213}
{:type :invoke, :f :read, :value nil, :process 13, :time 25793184954, :index 5216}
{:type :ok, :f :read, :value 4, :process 13, :time 25797186766, :index 5217}
{:type :invoke, :f :write, :value 1, :process 14, :time 25801090261, :index 5219}
{:type :ok, :f :write, :value 1, :process 14, :time 25808154588, :index 5221}
{:type :invoke, :f :cas, :value [0 4], :process 11, :time 25810405219, :index 5222}
{:type :invoke, :f :read, :value nil, :process 15, :time 25811170108, :index 5223}
{:type :fail, :f :cas, :value [0 4], :process 11, :time 25815180270, :index 5224}
{:type :ok, :f :read, :value 1, :process 15, :time 25816603519, :index 5225}
{:type :invoke, :f :read, :value nil, :process 32, :time 25828006586, :index 5230}
{:type :ok, :f :read, :value 1, :process 32, :time 25833202967, :index 5231}
{:type :invoke, :f :cas, :value [3 3], :process 16, :time 25847885485, :index 5235}
{:type :invoke, :f :cas, :value [2 3], :process 15, :time 25847880765, :index 5236}
{:type :invoke, :f :read, :value nil, :process 19, :time 25852251869, :index 5238}
{:type :fail, :f :cas, :value [2 3], :process 15, :time 25854136724, :index 5239}
{:type :fail, :f :cas, :value [3 3], :process 16, :time 25854254929, :index 5240}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 25855311065, :index 5241}
{:type :ok, :f :read, :value 1, :process 19, :time 25856872616, :index 5242}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 25860626981, :index 5244}
{:type :invoke, :f :cas, :value [0 1], :process 32, :time 25875468443, :index 5251}
{:type :fail, :f :cas, :value [0 1], :process 32, :time 25880792450, :index 5253}
{:type :invoke, :f :write, :value 4, :process 18, :time 25884279286, :index 5255}
{:type :invoke, :f :write, :value 4, :process 13, :time 25885923527, :index 5257}
{:type :ok, :f :write, :value 4, :process 18, :time 25888139183, :index 5260}
{:type :invoke, :f :read, :value nil, :process 57, :time 25888302445, :index 5261}
{:type :ok, :f :write, :value 4, :process 13, :time 25890860165, :index 5263}
{:type :ok, :f :read, :value 4, :process 57, :time 25894277298, :index 5265}
{:type :invoke, :f :read, :value nil, :process 15, :time 25901405413, :index 5267}
{:type :ok, :f :read, :value 4, :process 15, :time 25907706290, :index 5269}
{:type :invoke, :f :cas, :value [3 4], :process 11, :time 25919481278, :index 5270}
{:type :fail, :f :cas, :value [3 4], :process 11, :time 25925503372, :index 5272}
{:type :invoke, :f :write, :value 2, :process 14, :time 25940402297, :index 5280}
{:type :ok, :f :write, :value 2, :process 14, :time 25945798993, :index 5281}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
