{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :invoke, :f :write, :value 2, :process 39, :time 49604705785, :index 17280}
{:type :fail, :f :write, :value 2, :process 39, :time 49606789606, :error :connect, :index 17281}
{:type :invoke, :f :read, :value nil, :process 33, :time 49649550112, :index 17294}
{:type :fail, :f :read, :value nil, :process 33, :time 49651658462, :error :connect, :index 17297}
{:type :invoke, :f :read, :value nil, :process 15, :time 49669124796, :index 17300}
{:type :fail, :f :read, :value nil, :process 15, :time 49671437328, :error :connect, :index 17302}
{:type :invoke, :f :read, :value nil, :process 15, :time 49671602976, :index 17304}
{:type :fail, :f :read, :value nil, :process 15, :time 49673582312, :error :connect, :index 17306}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 49677747193, :index 17308}
{:type :fail, :f :cas, :value [0 3], :process 18, :time 49679416122, :error :connect, :index 17309}
{:type :invoke, :f :read, :value nil, :process 11, :time 49702570844, :index 17312}
{:type :fail, :f :read, :value nil, :process 11, :time 49704460876, :error :connect, :index 17313}
{:type :invoke, :f :read, :value nil, :process 10, :time 49710403647, :index 17318}
{:type :fail, :f :read, :value nil, :process 10, :time 49712523449, :error :connect, :index 17320}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 49733783844, :index 17324}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 49735821205, :error :connect, :index 17325}
{:type :invoke, :f :write, :value 2, :process 39, :time 49767048228, :index 17330}
{:type :invoke, :f :read, :value nil, :process 34, :time 49767093030, :index 17331}
{:type :fail, :f :read, :value nil, :process 34, :time 49769088222, :error :connect, :index 17332}
{:type :fail, :f :write, :value 2, :process 39, :time 49769336065, :error :connect, :index 17333}
{:type :invoke, :f :write, :value 3, :process 33, :time 49769944226, :index 17334}
{:type :fail, :f :write, :value 3, :process 33, :time 49771855459, :error :connect, :index 17335}
{:type :invoke, :f :write, :value 3, :process 15, :time 49779852930, :index 17338}
{:type :fail, :f :write, :value 3, :process 15, :time 49781753748, :error :connect, :index 17339}
{:type :invoke, :f :cas, :value [3 0], :process 37, :time 49782886947, :index 17340}
{:type :fail, :f :cas, :value [3 0], :process 37, :time 49784508123, :error :connect, :index 17341}
{:type :invoke, :f :write, :value 3, :process 11, :time 49793718103, :index 17344}
{:type :invoke, :f :read, :value nil, :process 34, :time 49795367122, :index 17345}
{:type :fail, :f :write, :value 3, :process 11, :time 49795847358, :error :connect, :index 17346}
{:type :invoke, :f :cas, :value [1 1], :process 32, :time 49796936624, :index 17347}
{:type :fail, :f :read, :value nil, :process 34, :time 49797624446, :error :connect, :index 17348}
{:type :fail, :f :cas, :value [1 1], :process 32, :time 49798866641, :error :connect, :index 17349}
{:type :invoke, :f :cas, :value [0 2], :process 33, :time 49816119380, :index 17352}
{:type :fail, :f :cas, :value [0 2], :process 33, :time 49817978845, :error :connect, :index 17353}
{:type :invoke, :f :write, :value 1, :process 37, :time 49820777723, :index 17355}
{:type :fail, :f :write, :value 1, :process 37, :time 49822663691, :error :connect, :index 17357}
{:type :invoke, :f :cas, :value [0 1], :process 11, :time 49823119874, :index 17358}
{:type :fail, :f :cas, :value [0 1], :process 11, :time 49825492142, :error :connect, :index 17359}
{:type :invoke, :f :read, :value nil, :process 34, :time 49825904322, :index 17360}
{:type :fail, :f :read, :value nil, :process 34, :time 49827706948, :error :connect, :index 17361}
{:type :invoke, :f :cas, :value [4 4], :process 37, :time 49833959240, :index 17366}
{:type :fail, :f :cas, :value [4 4], :process 37, :time 49835869343, :error :connect, :index 17368}
{:type :invoke, :f :cas, :value [0 3], :process 36, :time 49836434156, :index 17369}
{:type :fail, :f :cas, :value [0 3], :process 36, :time 49838457897, :error :connect, :index 17371}
{:type :invoke, :f :read, :value nil, :process 32, :time 49861132507, :index 17376}
{:type :fail, :f :read, :value nil, :process 32, :time 49863119524, :error :connect, :index 17378}
{:type :invoke, :f :write, :value 4, :process 36, :time 49869717769, :index 17380}
{:type :fail, :f :write, :value 4, :process 36, :time 49871587316, :error :connect, :index 17381}
{:type :invoke, :f :write, :value 3, :process 18, :time 49871749136, :index 17382}
{:type :fail, :f :write, :value 3, :process 18, :time 49873838509, :error :connect, :index 17383}
{:type :invoke, :f :cas, :value [2 4], :process 37, :time 49903120060, :index 17390}
{:type :invoke, :f :cas, :value [3 1], :process 33, :time 49904254560, :index 17391}
{:type :fail, :f :cas, :value [2 4], :process 37, :time 49905219127, :error :connect, :index 17392}
{:type :fail, :f :cas, :value [3 1], :process 33, :time 49906192724, :error :connect, :index 17393}
{:type :invoke, :f :read, :value nil, :process 39, :time 49920576029, :index 17394}
{:type :invoke, :f :read, :value nil, :process 10, :time 49922087204, :index 17395}
{:type :fail, :f :read, :value nil, :process 39, :time 49922844737, :error :connect, :index 17396}
{:type :fail, :f :read, :value nil, :process 10, :time 49924180285, :error :connect, :index 17397}
{:type :invoke, :f :read, :value nil, :process 37, :time 49950490156, :index 17399}
{:type :fail, :f :read, :value nil, :process 37, :time 49952424386, :error :connect, :index 17401}
{:type :invoke, :f :cas, :value [4 3], :process 37, :time 49953664748, :index 17402}
{:type :fail, :f :cas, :value [4 3], :process 37, :time 49955304628, :error :connect, :index 17403}
{:type :invoke, :f :write, :value 3, :process 34, :time 49964983759, :index 17407}
{:type :fail, :f :write, :value 3, :process 34, :time 49966644213, :error :connect, :index 17408}
{:type :invoke, :f :write, :value 2, :process 15, :time 49967070972, :index 17410}
{:type :fail, :f :write, :value 2, :process 15, :time 49968709894, :error :connect, :index 17411}
{:type :invoke, :f :cas, :value [3 1], :process 39, :time 49972121278, :index 17412}
{:type :fail, :f :cas, :value [3 1], :process 39, :time 49973930448, :error :connect, :index 17413}
{:type :invoke, :f :write, :value 4, :process 10, :time 49980431366, :index 17414}
{:type :fail, :f :write, :value 4, :process 10, :time 49982455258, :error :connect, :index 17415}
{:type :invoke, :f :write, :value 0, :process 39, :time 50006193650, :index 17420}
{:type :invoke, :f :cas, :value [1 4], :process 10, :time 50007715902, :index 17421}
{:type :fail, :f :write, :value 0, :process 39, :time 50008254513, :error :connect, :index 17422}
{:type :fail, :f :cas, :value [1 4], :process 10, :time 50009725517, :error :connect, :index 17423}
{:type :invoke, :f :write, :value 1, :process 11, :time 50015762740, :index 17430}
{:type :fail, :f :write, :value 1, :process 11, :time 50017615593, :error :connect, :index 17431}
{:type :invoke, :f :read, :value nil, :process 11, :time 50025873836, :index 17434}
{:type :fail, :f :read, :value nil, :process 11, :time 50027694563, :error :connect, :index 17435}
{:type :invoke, :f :cas, :value [2 1], :process 18, :time 50043098163, :index 17442}
{:type :invoke, :f :cas, :value [4 1], :process 34, :time 50044975878, :index 17444}
{:type :fail, :f :cas, :value [2 1], :process 18, :time 50045106486, :error :connect, :index 17445}
{:type :invoke, :f :read, :value nil, :process 32, :time 50045393350, :index 17446}
{:type :fail, :f :read, :value nil, :process 32, :time 50047178197, :error :connect, :index 17448}
{:type :fail, :f :cas, :value [4 1], :process 34, :time 50047202551, :error :connect, :index 17449}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 50047975860, :index 17450}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 50049976349, :error :connect, :index 17451}
{:type :invoke, :f :write, :value 2, :process 11, :time 50063958150, :index 17452}
{:type :fail, :f :write, :value 2, :process 11, :time 50065658750, :error :connect, :index 17453}
{:type :invoke, :f :read, :value nil, :process 36, :time 50065866613, :index 17454}
{:type :fail, :f :read, :value nil, :process 36, :time 50067674800, :error :connect, :index 17455}
{:type :invoke, :f :write, :value 2, :process 39, :time 50080509709, :index 17459}
{:type :fail, :f :write, :value 2, :process 39, :time 50082131013, :error :connect, :index 17463}
{:type :invoke, :f :cas, :value [2 0], :process 33, :time 50095452516, :index 17469}
{:type :fail, :f :cas, :value [2 0], :process 33, :time 50097817508, :error :connect, :index 17472}
{:type :invoke, :f :write, :value 1, :process 32, :time 50107450872, :index 17477}
{:type :fail, :f :write, :value 1, :process 32, :time 50109447629, :error :connect, :index 17479}
{:type :invoke, :f :read, :value nil, :process 37, :time 50115571989, :index 17482}
{:type :fail, :f :read, :value nil, :process 37, :time 50117408283, :error :connect, :index 17483}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 50153923696, :index 17491}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 50155756446, :error :connect, :index 17493}
{:type :invoke, :f :read, :value nil, :process 33, :time 50164088222, :index 17494}
{:type :fail, :f :read, :value nil, :process 33, :time 50166254621, :error :connect, :index 17496}
{:type :invoke, :f :write, :value 4, :process 39, :time 50179391794, :index 17501}
{:type :fail, :f :write, :value 4, :process 39, :time 50181505062, :error :connect, :index 17504}
{:type :invoke, :f :cas, :value [4 3], :process 18, :time 50185355902, :index 17506}
{:type :fail, :f :cas, :value [4 3], :process 18, :time 50187098379, :error :connect, :index 17507}
{:type :invoke, :f :cas, :value [2 0], :process 33, :time 50192512986, :index 17510}
{:type :fail, :f :cas, :value [2 0], :process 33, :time 50194614482, :error :connect, :index 17511}
{:type :invoke, :f :read, :value nil, :process 34, :time 50195477368, :index 17512}
{:type :fail, :f :read, :value nil, :process 34, :time 50197467303, :error :connect, :index 17513}
{:type :invoke, :f :write, :value 2, :process 10, :time 50200984515, :index 17514}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 50201585452, :index 17515}
{:type :fail, :f :write, :value 2, :process 10, :time 50202870067, :error :connect, :index 17516}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 50203664335, :error :connect, :index 17517}
{:type :invoke, :f :write, :value 2, :process 36, :time 50221934760, :index 17518}
{:type :fail, :f :write, :value 2, :process 36, :time 50223685197, :error :connect, :index 17519}
{:type :invoke, :f :write, :value 1, :process 36, :time 50237946962, :index 17520}
{:type :fail, :f :write, :value 1, :process 36, :time 50240013123, :error :connect, :index 17521}
{:type :invoke, :f :read, :value nil, :process 32, :time 50249722034, :index 17526}
{:type :fail, :f :read, :value nil, :process 32, :time 50251805893, :error :connect, :index 17527}
{:type :invoke, :f :write, :value 3, :process 15, :time 50252923175, :index 17528}
{:type :invoke, :f :cas, :value [3 1], :process 10, :time 50253138016, :index 17529}
{:type :fail, :f :write, :value 3, :process 15, :time 50255185380, :error :connect, :index 17530}
{:type :fail, :f :cas, :value [3 1], :process 10, :time 50255335491, :error :connect, :index 17531}
{:type :invoke, :f :write, :value 2, :process 37, :time 50257665848, :index 17532}
{:type :fail, :f :write, :value 2, :process 37, :time 50259496877, :error :connect, :index 17533}
{:type :invoke, :f :write, :value 3, :process 33, :time 50272918353, :index 17542}
{:type :fail, :f :write, :value 3, :process 33, :time 50274628356, :error :connect, :index 17544}
{:type :invoke, :f :read, :value nil, :process 15, :time 50285465225, :index 17550}
{:type :fail, :f :read, :value nil, :process 15, :time 50287336427, :error :connect, :index 17551}
{:type :invoke, :f :write, :value 0, :process 34, :time 50293724253, :index 17552}
{:type :fail, :f :write, :value 0, :process 34, :time 50295510417, :error :connect, :index 17553}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 50313586536, :index 17558}
{:type :fail, :f :cas, :value [1 2], :process 10, :time 50315435716, :error :connect, :index 17559}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 50321708386, :index 17560}
{:type :fail, :f :cas, :value [0 3], :process 10, :time 50323314488, :error :connect, :index 17561}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 50329019287, :index 17566}
{:type :fail, :f :cas, :value [2 3], :process 11, :time 50330929503, :error :connect, :index 17567}
{:type :invoke, :f :read, :value nil, :process 15, :time 50339594308, :index 17568}
{:type :fail, :f :read, :value nil, :process 15, :time 50341251393, :error :connect, :index 17569}
{:type :invoke, :f :write, :value 2, :process 32, :time 50372075363, :index 17574}
{:type :invoke, :f :write, :value 4, :process 11, :time 50373204588, :index 17575}
{:type :fail, :f :write, :value 2, :process 32, :time 50373967064, :error :connect, :index 17576}
{:type :fail, :f :write, :value 4, :process 11, :time 50374820626, :error :connect, :index 17577}
{:type :invoke, :f :read, :value nil, :process 39, :time 50379774131, :index 17578}
{:type :fail, :f :read, :value nil, :process 39, :time 50381850486, :error :connect, :index 17579}
{:type :invoke, :f :write, :value 4, :process 18, :time 50385375872, :index 17580}
{:type :fail, :f :write, :value 4, :process 18, :time 50387084875, :error :connect, :index 17581}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 50399916768, :index 17582}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 50401602212, :error :connect, :index 17583}
{:type :invoke, :f :cas, :value [4 3], :process 36, :time 50408289512, :index 17585}
{:type :fail, :f :cas, :value [4 3], :process 36, :time 50410307354, :error :connect, :index 17587}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 50415757324, :index 17588}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 50417587665, :error :connect, :index 17589}
{:type :invoke, :f :cas, :value [4 1], :process 39, :time 50428155060, :index 17593}
{:type :fail, :f :cas, :value [4 1], :process 39, :time 50429982060, :error :connect, :index 17595}
{:type :invoke, :f :write, :value 4, :process 18, :time 50436348701, :index 17600}
{:type :fail, :f :write, :value 4, :process 18, :time 50438499984, :error :connect, :index 17601}
{:type :invoke, :f :read, :value nil, :process 34, :time 50455771025, :index 17604}
{:type :invoke, :f :write, :value 4, :process 32, :time 50457245068, :index 17605}
{:type :fail, :f :read, :value nil, :process 34, :time 50457463430, :error :connect, :index 17606}
{:type :invoke, :f :read, :value nil, :process 34, :time 50458738762, :index 17607}
{:type :fail, :f :write, :value 4, :process 32, :time 50459245939, :error :connect, :index 17608}
{:type :invoke, :f :write, :value 1, :process 33, :time 50459871260, :index 17609}
{:type :fail, :f :read, :value nil, :process 34, :time 50460772084, :error :connect, :index 17610}
{:type :fail, :f :write, :value 1, :process 33, :time 50461677903, :error :connect, :index 17611}
{:type :invoke, :f :write, :value 2, :process 33, :time 50485934853, :index 17618}
{:type :fail, :f :write, :value 2, :process 33, :time 50487948940, :error :connect, :index 17619}
{:type :invoke, :f :write, :value 2, :process 10, :time 50502585113, :index 17624}
{:type :fail, :f :write, :value 2, :process 10, :time 50504268787, :error :connect, :index 17626}
{:type :invoke, :f :read, :value nil, :process 15, :time 50505580956, :index 17628}
{:type :fail, :f :read, :value nil, :process 15, :time 50507558560, :error :connect, :index 17630}
{:type :invoke, :f :read, :value nil, :process 18, :time 50515766479, :index 17633}
{:type :fail, :f :read, :value nil, :process 18, :time 50517404862, :error :connect, :index 17635}
{:type :invoke, :f :cas, :value [3 0], :process 11, :time 50526078059, :index 17642}
{:type :fail, :f :cas, :value [3 0], :process 11, :time 50527887791, :error :connect, :index 17643}
{:type :invoke, :f :read, :value nil, :process 39, :time 50531239174, :index 17644}
{:type :fail, :f :read, :value nil, :process 39, :time 50532799310, :error :connect, :index 17645}
{:type :invoke, :f :write, :value 4, :process 39, :time 50580061066, :index 17652}
{:type :fail, :f :write, :value 4, :process 39, :time 50581857801, :error :connect, :index 17653}
{:type :invoke, :f :cas, :value [1 1], :process 36, :time 50597574324, :index 17654}
{:type :invoke, :f :write, :value 1, :process 37, :time 50597864941, :index 17655}
{:type :fail, :f :cas, :value [1 1], :process 36, :time 50599435921, :error :connect, :index 17656}
{:type :fail, :f :write, :value 1, :process 37, :time 50599899047, :error :connect, :index 17657}
{:type :invoke, :f :read, :value nil, :process 34, :time 50608042885, :index 17662}
{:type :fail, :f :read, :value nil, :process 34, :time 50610077971, :error :connect, :index 17663}
{:type :invoke, :f :read, :value nil, :process 15, :time 50636879747, :index 17670}
{:type :fail, :f :read, :value nil, :process 15, :time 50638930983, :error :connect, :index 17671}
{:type :invoke, :f :cas, :value [3 0], :process 32, :time 50644497075, :index 17674}
{:type :fail, :f :cas, :value [3 0], :process 32, :time 50646422059, :error :connect, :index 17676}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 50657519649, :index 17684}
{:type :fail, :f :cas, :value [1 1], :process 10, :time 50659275122, :error :connect, :index 17685}
{:type :invoke, :f :read, :value nil, :process 39, :time 50666121559, :index 17694}
{:type :fail, :f :read, :value nil, :process 39, :time 50668067932, :error :connect, :index 17696}
{:type :invoke, :f :cas, :value [1 4], :process 18, :time 50674644190, :index 17698}
{:type :fail, :f :cas, :value [1 4], :process 18, :time 50676563540, :error :connect, :index 17699}
{:type :invoke, :f :read, :value nil, :process 33, :time 50680210430, :index 17700}
{:type :fail, :f :read, :value nil, :process 33, :time 50682271749, :error :connect, :index 17701}
{:type :invoke, :f :cas, :value [1 2], :process 11, :time 50702135802, :index 17712}
{:type :fail, :f :cas, :value [1 2], :process 11, :time 50703971532, :error :connect, :index 17713}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
