{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :invoke, :f :read, :value nil, :process 29, :time 52303110495, :index 11244}
{:type :ok, :f :read, :value nil, :process 29, :time 52308822528, :index 11245}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 52313899801, :index 11247}
{:type :invoke, :f :read, :value nil, :process 29, :time 52318141630, :index 11248}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 52319132909, :error :not-found, :index 11250}
{:type :ok, :f :read, :value nil, :process 29, :time 52323256147, :index 11251}
{:type :invoke, :f :write, :value 4, :process 5, :time 52328127203, :index 11253}
{:type :ok, :f :write, :value 4, :process 5, :time 52332856881, :index 11255}
{:type :invoke, :f :read, :value nil, :process 22, :time 52367102882, :index 11256}
{:type :ok, :f :read, :value 4, :process 22, :time 52374258282, :index 11260}
{:type :invoke, :f :read, :value nil, :process 29, :time 52376597203, :index 11262}
{:type :ok, :f :read, :value 4, :process 29, :time 52383016914, :index 11263}
{:type :invoke, :f :cas, :value [0 2], :process 47, :time 52388060272, :index 11264}
{:type :fail, :f :cas, :value [0 2], :process 47, :time 52393326989, :index 11265}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 52446387181, :index 11274}
{:type :invoke, :f :cas, :value [1 1], :process 22, :time 52449584129, :index 11275}
{:type :invoke, :f :read, :value nil, :process 24, :time 52450121270, :index 11276}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 52451338805, :index 11277}
{:type :fail, :f :cas, :value [1 1], :process 22, :time 52456224881, :index 11279}
{:type :ok, :f :read, :value 4, :process 24, :time 52456378558, :index 11280}
{:type :invoke, :f :read, :value nil, :process 22, :time 52456471892, :index 11281}
{:type :ok, :f :read, :value 4, :process 22, :time 52461773896, :index 11284}
{:type :invoke, :f :read, :value nil, :process 0, :time 52468596630, :index 11286}
{:type :ok, :f :read, :value 4, :process 0, :time 52474368671, :index 11289}
{:type :invoke, :f :cas, :value [1 2], :process 29, :time 52474295761, :index 11290}
{:type :fail, :f :cas, :value [1 2], :process 29, :time 52479789861, :index 11291}
{:type :invoke, :f :read, :value nil, :process 0, :time 52516598223, :index 11296}
{:type :invoke, :f :write, :value 0, :process 5, :time 52518115015, :index 11297}
{:type :ok, :f :read, :value 4, :process 0, :time 52521704318, :index 11298}
{:type :ok, :f :write, :value 0, :process 5, :time 52523049013, :index 11299}
{:type :invoke, :f :write, :value 3, :process 22, :time 52532057712, :index 11301}
{:type :ok, :f :write, :value 3, :process 22, :time 52538272664, :index 11303}
{:type :invoke, :f :read, :value nil, :process 22, :time 52543549819, :index 11305}
{:type :ok, :f :read, :value 3, :process 22, :time 52548894436, :index 11308}
{:type :invoke, :f :write, :value 3, :process 5, :time 52549361147, :index 11310}
{:type :ok, :f :write, :value 3, :process 5, :time 52555365310, :index 11312}
{:type :invoke, :f :write, :value 3, :process 22, :time 52558165291, :index 11314}
{:type :invoke, :f :read, :value nil, :process 47, :time 52561586412, :index 11315}
{:type :ok, :f :write, :value 3, :process 22, :time 52563334902, :index 11316}
{:type :ok, :f :read, :value 3, :process 47, :time 52566055444, :index 11317}
{:type :invoke, :f :cas, :value [3 0], :process 24, :time 52625647705, :index 11327}
{:type :invoke, :f :cas, :value [0 4], :process 47, :time 52636307933, :index 11329}
{:type :invoke, :f :read, :value nil, :process 5, :time 52665626358, :index 11333}
{:type :invoke, :f :cas, :value [3 4], :process 29, :time 52668096105, :index 11334}
{:type :invoke, :f :write, :value 4, :process 0, :time 52686963509, :index 11335}
{:type :invoke, :f :cas, :value [3 3], :process 22, :time 52695592653, :index 11336}
{:type :ok, :f :cas, :value [3 0], :process 24, :time 54138794366, :index 11340}
{:type :ok, :f :read, :value 4, :process 5, :time 54139794865, :index 11341}
{:type :ok, :f :write, :value 4, :process 0, :time 54140099570, :index 11342}
{:type :ok, :f :cas, :value [0 4], :process 47, :time 54142123705, :index 11354}
{:type :fail, :f :cas, :value [3 4], :process 29, :time 54143853513, :index 11357}
{:type :fail, :f :cas, :value [3 3], :process 22, :time 54144807326, :index 11359}
{:type :invoke, :f :read, :value nil, :process 46, :time 54150213432, :index 11360}
{:type :ok, :f :read, :value 4, :process 46, :time 54155195210, :index 11361}
{:type :invoke, :f :read, :value nil, :process 46, :time 54163452112, :index 11362}
{:type :ok, :f :read, :value 4, :process 46, :time 54168860449, :index 11365}
{:type :invoke, :f :cas, :value [1 2], :process 46, :time 54172105844, :index 11367}
{:type :fail, :f :cas, :value [1 2], :process 46, :time 54177916034, :index 11369}
{:type :invoke, :f :write, :value 0, :process 63, :time 54188862336, :index 11373}
{:type :ok, :f :write, :value 0, :process 63, :time 54193589673, :index 11375}
{:type :invoke, :f :cas, :value [4 1], :process 68, :time 54209012933, :index 11376}
{:type :invoke, :f :read, :value nil, :process 46, :time 54211176728, :index 11378}
{:type :invoke, :f :read, :value nil, :process 21, :time 54214984792, :index 11379}
{:type :invoke, :f :cas, :value [4 2], :process 29, :time 54224129112, :index 11380}
{:type :invoke, :f :read, :value nil, :process 5, :time 54229089473, :index 11382}
{:type :invoke, :f :write, :value 1, :process 47, :time 54244217817, :index 11384}
{:type :invoke, :f :read, :value nil, :process 24, :time 54264158887, :index 11386}
{:type :invoke, :f :read, :value nil, :process 0, :time 54279753923, :index 11388}
{:type :invoke, :f :write, :value 1, :process 63, :time 54317865221, :index 11392}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 54332045896, :index 11393}
{:type :fail, :f :cas, :value [4 1], :process 68, :time 54393230593, :index 11396}
{:type :ok, :f :read, :value 0, :process 5, :time 54394038468, :index 11398}
{:type :ok, :f :write, :value 1, :process 63, :time 54394068282, :index 11399}
{:type :ok, :f :read, :value 0, :process 21, :time 54394748792, :index 11402}
{:type :ok, :f :read, :value 1, :process 24, :time 54395391358, :index 11407}
{:type :ok, :f :write, :value 1, :process 47, :time 54395954467, :index 11409}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 54396151663, :index 11410}
{:type :ok, :f :read, :value 0, :process 46, :time 54396376911, :index 11411}
{:type :ok, :f :read, :value 1, :process 0, :time 54396490333, :index 11412}
{:type :fail, :f :cas, :value [4 2], :process 29, :time 54397403410, :index 11415}
{:type :invoke, :f :write, :value 2, :process 24, :time 54424603314, :index 11423}
{:type :ok, :f :write, :value 2, :process 24, :time 54429454624, :index 11425}
{:type :invoke, :f :cas, :value [0 4], :process 29, :time 54430640437, :index 11426}
{:type :fail, :f :cas, :value [0 4], :process 29, :time 54436372952, :index 11427}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 54459730127, :index 11432}
{:type :fail, :f :cas, :value [1 4], :process 0, :time 54465162495, :index 11433}
{:type :invoke, :f :write, :value 0, :process 47, :time 54487238292, :index 11437}
{:type :invoke, :f :read, :value nil, :process 22, :time 54487436964, :index 11438}
{:type :invoke, :f :cas, :value [1 0], :process 21, :time 54506980022, :index 11441}
{:type :invoke, :f :read, :value nil, :process 63, :time 54510601236, :index 11444}
{:type :invoke, :f :cas, :value [3 0], :process 68, :time 54511523276, :index 11445}
{:type :fail, :f :cas, :value [1 0], :process 21, :time 54513661591, :index 11447}
{:type :ok, :f :read, :value 0, :process 63, :time 54515903762, :index 11448}
{:type :fail, :f :cas, :value [3 0], :process 68, :time 54516638851, :index 11449}
{:type :invoke, :f :read, :value nil, :process 63, :time 54517173579, :index 11450}
{:type :ok, :f :read, :value 0, :process 63, :time 54522279390, :index 11451}
{:type :ok, :f :write, :value 0, :process 47, :time 54522704386, :index 11452}
{:type :invoke, :f :write, :value 3, :process 46, :time 54532646652, :index 11455}
{:type :ok, :f :write, :value 3, :process 46, :time 54537798186, :index 11458}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 54557422385, :index 11461}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 54562831160, :index 11463}
{:type :invoke, :f :cas, :value [1 3], :process 5, :time 54564335905, :index 11464}
{:type :fail, :f :cas, :value [1 3], :process 5, :time 54568910328, :index 11465}
{:type :invoke, :f :read, :value nil, :process 68, :time 54570895842, :index 11466}
{:type :ok, :f :read, :value 3, :process 68, :time 54576045646, :index 11467}
{:type :invoke, :f :cas, :value [2 2], :process 29, :time 54593634467, :index 11475}
{:type :fail, :f :cas, :value [2 2], :process 29, :time 54599416267, :index 11476}
{:type :invoke, :f :read, :value nil, :process 24, :time 54627715147, :index 11479}
{:type :ok, :f :read, :value 3, :process 24, :time 54632957839, :index 11480}
{:type :invoke, :f :write, :value 3, :process 47, :time 54636945740, :index 11482}
{:type :invoke, :f :write, :value 1, :process 68, :time 54639311012, :index 11483}
{:type :ok, :f :write, :value 1, :process 68, :time 54644341421, :index 11487}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 54647107792, :index 11489}
{:type :invoke, :f :cas, :value [4 4], :process 46, :time 54647128452, :index 11490}
{:type :invoke, :f :cas, :value [3 3], :process 24, :time 54653236516, :index 11492}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 54653555971, :index 11493}
{:type :fail, :f :cas, :value [4 4], :process 46, :time 54655170156, :index 11494}
{:type :fail, :f :cas, :value [3 3], :process 24, :time 54658571561, :index 11495}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 54667935114, :index 11497}
{:type :invoke, :f :cas, :value [1 4], :process 63, :time 54668554299, :index 11498}
{:type :fail, :f :cas, :value [4 2], :process 21, :time 54673965769, :index 11500}
{:type :ok, :f :cas, :value [1 4], :process 63, :time 54674196607, :index 11501}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 54674798502, :index 11502}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 54679590320, :index 11503}
{:type :invoke, :f :read, :value nil, :process 24, :time 54692833516, :index 11504}
{:type :ok, :f :read, :value 4, :process 24, :time 54697929726, :index 11505}
{:type :invoke, :f :cas, :value [3 2], :process 29, :time 54716678609, :index 11510}
{:type :fail, :f :cas, :value [3 2], :process 29, :time 54721869069, :index 11511}
{:type :invoke, :f :write, :value 1, :process 21, :time 54731256639, :index 11512}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 54737128737, :index 11515}
{:type :ok, :f :write, :value 1, :process 21, :time 54737267363, :index 11516}
{:type :ok, :f :cas, :value [1 0], :process 0, :time 54741093808, :index 11517}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 54751852299, :index 11519}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 54757057542, :index 11521}
{:type :invoke, :f :read, :value nil, :process 0, :time 54783356903, :index 11529}
{:type :ok, :f :read, :value 0, :process 0, :time 54787677715, :index 11531}
{:type :invoke, :f :read, :value nil, :process 63, :time 54788442478, :index 11532}
{:type :invoke, :f :cas, :value [2 1], :process 68, :time 54791607276, :index 11533}
{:type :ok, :f :read, :value 0, :process 63, :time 54793187649, :index 11534}
{:type :fail, :f :cas, :value [2 1], :process 68, :time 54797542389, :index 11535}
{:type :invoke, :f :write, :value 2, :process 21, :time 54799576708, :index 11536}
{:type :ok, :f :write, :value 2, :process 21, :time 54805594957, :index 11539}
{:type :invoke, :f :read, :value nil, :process 63, :time 54828441255, :index 11544}
{:type :invoke, :f :cas, :value [1 0], :process 46, :time 54832428533, :index 11546}
{:type :ok, :f :read, :value 2, :process 63, :time 54833679753, :index 11547}
{:type :fail, :f :cas, :value [1 0], :process 46, :time 54839103791, :index 11549}
{:type :invoke, :f :write, :value 1, :process 63, :time 54846932230, :index 11550}
{:type :ok, :f :write, :value 1, :process 63, :time 54852273685, :index 11552}
{:type :invoke, :f :write, :value 4, :process 0, :time 54865924485, :index 11554}
{:type :ok, :f :write, :value 4, :process 0, :time 54870790836, :index 11555}
{:type :invoke, :f :cas, :value [4 1], :process 24, :time 54880196379, :index 11558}
{:type :invoke, :f :cas, :value [3 2], :process 29, :time 54883131958, :index 11559}
{:type :invoke, :f :read, :value nil, :process 0, :time 54884054482, :index 11562}
{:type :invoke, :f :cas, :value [2 4], :process 21, :time 54885889480, :index 11564}
{:type :ok, :f :cas, :value [4 1], :process 24, :time 54886761282, :index 11565}
{:type :fail, :f :cas, :value [3 2], :process 29, :time 54889219212, :index 11566}
{:type :ok, :f :read, :value 1, :process 0, :time 54890782098, :index 11569}
{:type :fail, :f :cas, :value [2 4], :process 21, :time 54892360007, :index 11571}
{:type :invoke, :f :read, :value nil, :process 5, :time 54913322498, :index 11573}
{:type :ok, :f :read, :value 1, :process 5, :time 54918881424, :index 11575}
{:type :invoke, :f :write, :value 3, :process 29, :time 54919606819, :index 11576}
{:type :ok, :f :write, :value 3, :process 29, :time 54924550179, :index 11577}
{:type :invoke, :f :read, :value nil, :process 0, :time 54925011508, :index 11578}
{:type :ok, :f :read, :value 3, :process 0, :time 54930177201, :index 11579}
{:type :invoke, :f :cas, :value [4 4], :process 63, :time 54935550065, :index 11582}
{:type :fail, :f :cas, :value [4 4], :process 63, :time 54940785786, :index 11585}
{:type :invoke, :f :read, :value nil, :process 29, :time 54947809510, :index 11586}
{:type :ok, :f :read, :value 3, :process 29, :time 54952989985, :index 11587}
{:type :invoke, :f :read, :value nil, :process 68, :time 54960797894, :index 11588}
{:type :ok, :f :read, :value 3, :process 68, :time 54966194627, :index 11589}
{:type :invoke, :f :write, :value 2, :process 46, :time 54974359823, :index 11590}
{:type :ok, :f :write, :value 2, :process 46, :time 54979563078, :index 11592}
{:type :invoke, :f :read, :value nil, :process 21, :time 54994605757, :index 11597}
{:type :ok, :f :read, :value 2, :process 21, :time 54999657555, :index 11599}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 55002448021, :index 11600}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 55007709703, :index 11601}
{:type :invoke, :f :cas, :value [2 2], :process 24, :time 55014054719, :index 11602}
{:type :ok, :f :cas, :value [2 2], :process 24, :time 55018633236, :index 11603}
{:type :invoke, :f :write, :value 4, :process 21, :time 55040923322, :index 11606}
{:type :ok, :f :write, :value 4, :process 21, :time 55045558155, :index 11607}
{:type :invoke, :f :cas, :value [1 4], :process 5, :time 55075177956, :index 11616}
{:type :fail, :f :cas, :value [1 4], :process 5, :time 55080485030, :index 11619}
{:type :invoke, :f :write, :value 3, :process 63, :time 55087050147, :index 11621}
{:type :invoke, :f :write, :value 4, :process 29, :time 55088231614, :index 11622}
{:type :ok, :f :write, :value 3, :process 63, :time 55092542149, :index 11623}
{:type :ok, :f :write, :value 4, :process 29, :time 55093459359, :index 11624}
{:type :invoke, :f :read, :value nil, :process 46, :time 55097831477, :index 11625}
{:type :invoke, :f :write, :value 2, :process 21, :time 55119818480, :index 11632}
{:type :ok, :f :read, :value 0, :process 22, :time 55122999616, :index 11633}
{:type :ok, :f :write, :value 3, :process 47, :time 55127236603, :index 11635}
{:type :invoke, :f :write, :value 4, :process 24, :time 55138899483, :index 11640}
{:type :ok, :f :write, :value 4, :process 24, :time 55144373283, :index 11642}
{:type :invoke, :f :write, :value 0, :process 0, :time 55144971476, :index 11643}
{:type :ok, :f :write, :value 0, :process 0, :time 55149307684, :index 11644}
{:type :invoke, :f :cas, :value [0 1], :process 68, :time 55165459706, :index 11648}
{:type :ok, :f :cas, :value [0 1], :process 68, :time 55170176404, :index 11649}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 55269741698, :index 11682}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 55274902108, :index 11683}
{:type :ok, :f :read, :value 1, :process 46, :time 55415905703, :index 11727}
{:type :ok, :f :write, :value 2, :process 21, :time 55416631857, :index 11728}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
