{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :invoke, :f :cas, :value [2 2], :process 23, :time 53511091134, :index 7544}
{:type :invoke, :f :cas, :value [2 1], :process 28, :time 53573152863, :index 7552}
{:type :fail, :f :cas, :value [2 2], :process 23, :time 54146180895, :error :not-found, :index 7558}
{:type :fail, :f :cas, :value [2 1], :process 28, :time 54147710547, :error :not-found, :index 7567}
{:type :invoke, :f :cas, :value [1 0], :process 65, :time 54173544471, :index 7570}
{:type :fail, :f :cas, :value [1 0], :process 65, :time 54179976123, :error :not-found, :index 7571}
{:type :invoke, :f :read, :value nil, :process 62, :time 54184064422, :index 7572}
{:type :ok, :f :read, :value nil, :process 62, :time 54190053936, :index 7574}
{:type :invoke, :f :read, :value nil, :process 67, :time 54215789685, :index 7578}
{:type :invoke, :f :cas, :value [2 2], :process 46, :time 54228306026, :index 7579}
{:type :invoke, :f :read, :value nil, :process 23, :time 54235664358, :index 7580}
{:type :invoke, :f :cas, :value [3 0], :process 40, :time 54251374061, :index 7582}
{:type :invoke, :f :write, :value 3, :process 62, :time 54279312656, :index 7585}
{:type :invoke, :f :read, :value nil, :process 41, :time 54299271568, :index 7587}
{:type :invoke, :f :write, :value 1, :process 28, :time 54336145508, :index 7589}
{:type :invoke, :f :cas, :value [4 4], :process 65, :time 54341239257, :index 7591}
{:type :ok, :f :write, :value 1, :process 28, :time 54786886959, :index 7595}
{:type :fail, :f :cas, :value [4 4], :process 65, :time 54787799763, :index 7596}
{:type :ok, :f :read, :value nil, :process 23, :time 54787803007, :index 7597}
{:type :fail, :f :cas, :value [2 2], :process 46, :time 54788541547, :error :not-found, :index 7599}
{:type :fail, :f :cas, :value [3 0], :process 40, :time 54788737639, :error :not-found, :index 7600}
{:type :ok, :f :read, :value 3, :process 41, :time 54788809427, :index 7601}
{:type :ok, :f :read, :value nil, :process 67, :time 54789457484, :index 7602}
{:type :ok, :f :write, :value 3, :process 62, :time 54789755533, :index 7604}
{:type :invoke, :f :read, :value nil, :process 41, :time 54805993899, :index 7610}
{:type :invoke, :f :cas, :value [3 0], :process 28, :time 54807996340, :index 7611}
{:type :invoke, :f :read, :value nil, :process 40, :time 54846693511, :index 7613}
{:type :invoke, :f :read, :value nil, :process 67, :time 54853580962, :index 7614}
{:type :invoke, :f :cas, :value [4 0], :process 46, :time 54860241191, :index 7615}
{:type :invoke, :f :cas, :value [0 1], :process 65, :time 54876115957, :index 7616}
{:type :invoke, :f :cas, :value [4 1], :process 23, :time 54915076016, :index 7618}
{:type :invoke, :f :write, :value 1, :process 62, :time 54973635369, :index 7622}
{:type :ok, :f :read, :value 1, :process 41, :time 55195605034, :index 7625}
{:type :fail, :f :cas, :value [3 0], :process 28, :time 55195959032, :index 7626}
{:type :fail, :f :cas, :value [4 1], :process 23, :time 55196849424, :index 7628}
{:type :ok, :f :read, :value 1, :process 67, :time 55197113666, :index 7629}
{:type :ok, :f :read, :value 1, :process 40, :time 55197175148, :index 7630}
{:type :fail, :f :cas, :value [4 0], :process 46, :time 55197838327, :index 7632}
{:type :fail, :f :cas, :value [0 1], :process 65, :time 55198660316, :index 7635}
{:type :ok, :f :write, :value 1, :process 62, :time 55199400198, :index 7639}
{:type :invoke, :f :read, :value nil, :process 28, :time 55201206843, :index 7640}
{:type :ok, :f :read, :value 1, :process 28, :time 55206937706, :index 7641}
{:type :invoke, :f :cas, :value [0 4], :process 23, :time 55207969163, :index 7642}
{:type :invoke, :f :read, :value nil, :process 28, :time 55208279417, :index 7643}
{:type :invoke, :f :cas, :value [3 0], :process 41, :time 55211865570, :index 7644}
{:type :fail, :f :cas, :value [0 4], :process 23, :time 55212900861, :index 7645}
{:type :ok, :f :read, :value 1, :process 28, :time 55213541109, :index 7646}
{:type :fail, :f :cas, :value [3 0], :process 41, :time 55216552853, :index 7647}
{:type :invoke, :f :write, :value 4, :process 62, :time 55248655036, :index 7654}
{:type :ok, :f :write, :value 4, :process 62, :time 55256075097, :index 7655}
{:type :invoke, :f :cas, :value [0 0], :process 40, :time 55281408668, :index 7656}
{:type :fail, :f :cas, :value [0 0], :process 40, :time 55287033671, :index 7657}
{:type :invoke, :f :write, :value 2, :process 67, :time 55312373973, :index 7662}
{:type :ok, :f :write, :value 2, :process 67, :time 55319963922, :index 7664}
{:type :invoke, :f :write, :value 2, :process 28, :time 55321798899, :index 7665}
{:type :ok, :f :write, :value 2, :process 28, :time 55326085921, :index 7668}
{:type :invoke, :f :write, :value 1, :process 46, :time 55342357832, :index 7672}
{:type :ok, :f :write, :value 1, :process 46, :time 55348536131, :index 7674}
{:type :invoke, :f :read, :value nil, :process 41, :time 55367801680, :index 7682}
{:type :ok, :f :read, :value 1, :process 41, :time 55372923409, :index 7683}
{:type :invoke, :f :read, :value nil, :process 40, :time 55376317439, :index 7684}
{:type :invoke, :f :cas, :value [3 2], :process 23, :time 55377167919, :index 7685}
{:type :fail, :f :cas, :value [3 2], :process 23, :time 55381490515, :index 7688}
{:type :ok, :f :read, :value 1, :process 40, :time 55382536391, :index 7689}
{:type :invoke, :f :cas, :value [0 0], :process 28, :time 55396343723, :index 7694}
{:type :invoke, :f :cas, :value [2 3], :process 65, :time 55396942345, :index 7695}
{:type :fail, :f :cas, :value [0 0], :process 28, :time 55410843100, :index 7698}
{:type :invoke, :f :cas, :value [0 2], :process 62, :time 55412342686, :index 7699}
{:type :fail, :f :cas, :value [2 3], :process 65, :time 55412734225, :index 7700}
{:type :fail, :f :cas, :value [0 2], :process 62, :time 55417219406, :index 7703}
{:type :invoke, :f :read, :value nil, :process 67, :time 55421201364, :index 7704}
{:type :ok, :f :read, :value 1, :process 67, :time 55426077727, :index 7705}
{:type :invoke, :f :write, :value 3, :process 62, :time 55437476236, :index 7707}
{:type :ok, :f :write, :value 3, :process 62, :time 55443403131, :index 7710}
{:type :invoke, :f :cas, :value [0 1], :process 67, :time 55443341601, :index 7711}
{:type :fail, :f :cas, :value [0 1], :process 67, :time 55448610770, :index 7713}
{:type :invoke, :f :read, :value nil, :process 40, :time 55464814042, :index 7714}
{:type :ok, :f :read, :value 3, :process 40, :time 55470714061, :index 7715}
{:type :invoke, :f :cas, :value [1 0], :process 41, :time 55486180164, :index 7716}
{:type :fail, :f :cas, :value [1 0], :process 41, :time 55491790741, :index 7717}
{:type :invoke, :f :read, :value nil, :process 46, :time 55509792513, :index 7720}
{:type :ok, :f :read, :value 3, :process 46, :time 55515664771, :index 7721}
{:type :invoke, :f :write, :value 2, :process 62, :time 55533670489, :index 7726}
{:type :ok, :f :write, :value 2, :process 62, :time 55539705709, :index 7732}
{:type :invoke, :f :read, :value nil, :process 67, :time 55565860186, :index 7736}
{:type :invoke, :f :write, :value 4, :process 62, :time 55566940084, :index 7737}
{:type :ok, :f :read, :value 2, :process 67, :time 55571327826, :index 7738}
{:type :ok, :f :write, :value 4, :process 62, :time 55571890682, :index 7739}
{:type :invoke, :f :cas, :value [4 2], :process 23, :time 55573752945, :index 7740}
{:type :ok, :f :cas, :value [4 2], :process 23, :time 55578522728, :index 7741}
{:type :invoke, :f :read, :value nil, :process 28, :time 55595108050, :index 7743}
{:type :ok, :f :read, :value 2, :process 28, :time 55599676039, :index 7745}
{:type :invoke, :f :write, :value 3, :process 62, :time 55603115603, :index 7747}
{:type :invoke, :f :read, :value nil, :process 40, :time 55607988166, :index 7748}
{:type :ok, :f :write, :value 3, :process 62, :time 55608699044, :index 7750}
{:type :invoke, :f :cas, :value [0 2], :process 65, :time 55609987024, :index 7751}
{:type :ok, :f :read, :value 3, :process 40, :time 55612705983, :index 7752}
{:type :fail, :f :cas, :value [0 2], :process 65, :time 55615450014, :index 7753}
{:type :invoke, :f :cas, :value [1 3], :process 41, :time 55651045355, :index 7760}
{:type :fail, :f :cas, :value [1 3], :process 41, :time 55656421390, :index 7761}
{:type :invoke, :f :cas, :value [0 4], :process 46, :time 55659866725, :index 7762}
{:type :fail, :f :cas, :value [0 4], :process 46, :time 55665235133, :index 7765}
{:type :invoke, :f :read, :value nil, :process 67, :time 55691588782, :index 7772}
{:type :ok, :f :read, :value 3, :process 67, :time 55696807114, :index 7775}
{:type :invoke, :f :cas, :value [3 1], :process 67, :time 55709067462, :index 7782}
{:type :ok, :f :cas, :value [3 1], :process 67, :time 55713802261, :index 7783}
{:type :invoke, :f :read, :value nil, :process 28, :time 55721936297, :index 7785}
{:type :ok, :f :read, :value 1, :process 28, :time 55726719684, :index 7787}
{:type :invoke, :f :read, :value nil, :process 41, :time 55748677529, :index 7791}
{:type :ok, :f :read, :value 1, :process 41, :time 55752876158, :index 7793}
{:type :invoke, :f :write, :value 1, :process 23, :time 55768812905, :index 7796}
{:type :ok, :f :write, :value 1, :process 23, :time 55774072084, :index 7798}
{:type :invoke, :f :read, :value nil, :process 28, :time 55791976447, :index 7800}
{:type :ok, :f :read, :value 1, :process 28, :time 55796653072, :index 7802}
{:type :invoke, :f :write, :value 2, :process 62, :time 55804945983, :index 7804}
{:type :invoke, :f :write, :value 4, :process 40, :time 55805962851, :index 7805}
{:type :invoke, :f :write, :value 1, :process 65, :time 55809706277, :index 7806}
{:type :ok, :f :write, :value 2, :process 62, :time 55810409849, :index 7807}
{:type :ok, :f :write, :value 4, :process 40, :time 55812022438, :index 7808}
{:type :ok, :f :write, :value 1, :process 65, :time 55815166194, :index 7809}
{:type :invoke, :f :cas, :value [2 1], :process 62, :time 55825668862, :index 7811}
{:type :fail, :f :cas, :value [2 1], :process 62, :time 55830803057, :index 7812}
{:type :invoke, :f :cas, :value [4 1], :process 46, :time 55848492622, :index 7813}
{:type :invoke, :f :read, :value nil, :process 67, :time 55855062818, :index 7814}
{:type :ok, :f :read, :value 1, :process 67, :time 55860910031, :index 7815}
{:type :invoke, :f :read, :value nil, :process 40, :time 55873269032, :index 7818}
{:type :ok, :f :read, :value 1, :process 40, :time 55879098102, :index 7819}
{:type :invoke, :f :read, :value nil, :process 41, :time 55891123763, :index 7820}
{:type :invoke, :f :write, :value 4, :process 40, :time 55910362274, :index 7822}
{:type :ok, :f :write, :value 4, :process 40, :time 55916296190, :index 7823}
{:type :invoke, :f :read, :value nil, :process 28, :time 55933911723, :index 7826}
{:type :invoke, :f :read, :value nil, :process 62, :time 55934057589, :index 7827}
{:type :invoke, :f :write, :value 0, :process 23, :time 55937338994, :index 7829}
{:type :ok, :f :read, :value 4, :process 28, :time 55938429308, :index 7831}
{:type :ok, :f :read, :value 4, :process 62, :time 55939289604, :index 7832}
{:type :ok, :f :write, :value 0, :process 23, :time 55942185474, :index 7834}
{:type :invoke, :f :read, :value nil, :process 62, :time 55965526138, :index 7840}
{:type :ok, :f :read, :value 0, :process 62, :time 55971671404, :index 7845}
{:type :invoke, :f :cas, :value [4 2], :process 62, :time 55986930636, :index 7848}
{:type :invoke, :f :write, :value 0, :process 65, :time 55995433532, :index 7849}
{:type :invoke, :f :cas, :value [0 0], :process 67, :time 56025188488, :index 7850}
{:type :fail, :f :cas, :value [4 2], :process 62, :time 56047853144, :index 7852}
{:type :ok, :f :cas, :value [0 0], :process 67, :time 56048804970, :index 7854}
{:type :ok, :f :write, :value 0, :process 65, :time 56049151109, :index 7855}
{:type :ok, :f :read, :value 0, :process 41, :time 56049716584, :index 7858}
{:type :fail, :f :cas, :value [4 1], :process 46, :time 56049851108, :index 7859}
{:type :invoke, :f :cas, :value [4 0], :process 65, :time 56065404659, :index 7865}
{:type :invoke, :f :cas, :value [2 0], :process 67, :time 56068079090, :index 7868}
{:type :fail, :f :cas, :value [4 0], :process 65, :time 56072146905, :index 7871}
{:type :invoke, :f :write, :value 4, :process 40, :time 56072539281, :index 7872}
{:type :fail, :f :cas, :value [2 0], :process 67, :time 56073719462, :index 7873}
{:type :ok, :f :write, :value 4, :process 40, :time 56077876615, :index 7875}
{:type :invoke, :f :cas, :value [2 1], :process 23, :time 56084418365, :index 7876}
{:type :invoke, :f :read, :value nil, :process 28, :time 56084741888, :index 7877}
{:type :fail, :f :cas, :value [2 1], :process 23, :time 56089984317, :index 7878}
{:type :ok, :f :read, :value 4, :process 28, :time 56090031461, :index 7879}
{:type :invoke, :f :cas, :value [2 4], :process 46, :time 56118134424, :index 7887}
{:type :fail, :f :cas, :value [2 4], :process 46, :time 56124259806, :index 7889}
{:type :invoke, :f :cas, :value [0 0], :process 46, :time 56125516643, :index 7890}
{:type :invoke, :f :read, :value nil, :process 67, :time 56125981941, :index 7891}
{:type :fail, :f :cas, :value [0 0], :process 46, :time 56130781207, :index 7892}
{:type :ok, :f :read, :value 4, :process 67, :time 56131232239, :index 7893}
{:type :invoke, :f :read, :value nil, :process 41, :time 56133108561, :index 7894}
{:type :invoke, :f :write, :value 1, :process 46, :time 56134047998, :index 7895}
{:type :ok, :f :read, :value 4, :process 41, :time 56138688963, :index 7896}
{:type :ok, :f :write, :value 1, :process 46, :time 56139022779, :index 7897}
{:type :invoke, :f :write, :value 3, :process 65, :time 56183443329, :index 7902}
{:type :ok, :f :write, :value 3, :process 65, :time 56188699671, :index 7904}
{:type :invoke, :f :read, :value nil, :process 62, :time 56199109711, :index 7906}
{:type :ok, :f :read, :value 3, :process 62, :time 56204260301, :index 7907}
{:type :invoke, :f :read, :value nil, :process 62, :time 56207527602, :index 7908}
{:type :ok, :f :read, :value 3, :process 62, :time 56212522917, :index 7909}
{:type :invoke, :f :write, :value 1, :process 28, :time 56230300482, :index 7913}
{:type :ok, :f :write, :value 1, :process 28, :time 56235217551, :index 7915}
{:type :invoke, :f :read, :value nil, :process 40, :time 56235138611, :index 7916}
{:type :ok, :f :read, :value 1, :process 40, :time 56241905627, :index 7919}
{:type :invoke, :f :read, :value nil, :process 41, :time 56244945232, :index 7920}
{:type :ok, :f :read, :value 1, :process 41, :time 56249212945, :index 7921}
{:type :invoke, :f :cas, :value [3 1], :process 23, :time 56269296008, :index 7926}
{:type :fail, :f :cas, :value [3 1], :process 23, :time 56274067436, :index 7927}
{:type :invoke, :f :cas, :value [1 1], :process 65, :time 56289977432, :index 7933}
{:type :invoke, :f :cas, :value [1 3], :process 28, :time 56290471172, :index 7934}
{:type :ok, :f :cas, :value [1 3], :process 28, :time 56301051415, :index 7936}
{:type :ok, :f :cas, :value [1 1], :process 65, :time 56301088894, :index 7937}
{:type :invoke, :f :read, :value nil, :process 28, :time 56319330036, :index 7942}
{:type :ok, :f :read, :value 3, :process 28, :time 56323763910, :index 7943}
{:type :invoke, :f :read, :value nil, :process 67, :time 56325469201, :index 7944}
{:type :ok, :f :read, :value 3, :process 67, :time 56330685435, :index 7945}
{:type :invoke, :f :read, :value nil, :process 46, :time 56331262351, :index 7946}
{:type :invoke, :f :write, :value 1, :process 62, :time 56335789426, :index 7947}
{:type :ok, :f :read, :value 3, :process 46, :time 56336200267, :index 7948}
{:type :ok, :f :write, :value 1, :process 62, :time 56341232446, :index 7950}
{:type :invoke, :f :write, :value 1, :process 65, :time 56343344811, :index 7953}
{:type :ok, :f :write, :value 1, :process 65, :time 56348533052, :index 7955}
{:type :invoke, :f :cas, :value [0 1], :process 40, :time 56392152266, :index 7965}
{:type :fail, :f :cas, :value [0 1], :process 40, :time 56397558021, :index 7967}
{:type :invoke, :f :read, :value nil, :process 23, :time 56403332921, :index 7968}
{:type :ok, :f :read, :value 1, :process 23, :time 56408001728, :index 7969}
{:type :invoke, :f :write, :value 4, :process 41, :time 56446474960, :index 7982}
{:type :ok, :f :write, :value 4, :process 41, :time 56452130868, :index 7986}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
