{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 14819476776, :index 3546}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 14821356991, :error :connect, :index 3547}
{:type :invoke, :f :write, :value 4, :process 7, :time 14850347699, :index 3560}
{:type :fail, :f :write, :value 4, :process 7, :time 14852010865, :error :connect, :index 3561}
{:type :invoke, :f :read, :value nil, :process 3, :time 14860617640, :index 3564}
{:type :fail, :f :read, :value nil, :process 3, :time 14862200095, :error :connect, :index 3565}
{:type :invoke, :f :write, :value 0, :process 3, :time 14883463180, :index 3566}
{:type :fail, :f :write, :value 0, :process 3, :time 14885514124, :error :connect, :index 3568}
{:type :invoke, :f :cas, :value [1 1], :process 29, :time 14892111391, :index 3570}
{:type :fail, :f :cas, :value [1 1], :process 29, :time 14894114219, :error :connect, :index 3571}
{:type :invoke, :f :read, :value nil, :process 21, :time 14894630968, :index 3573}
{:type :fail, :f :read, :value nil, :process 21, :time 14896841396, :error :connect, :index 3575}
{:type :invoke, :f :write, :value 2, :process 4, :time 14900507985, :index 3576}
{:type :fail, :f :write, :value 2, :process 4, :time 14902248912, :error :connect, :index 3578}
{:type :invoke, :f :read, :value nil, :process 29, :time 14921385356, :index 3584}
{:type :fail, :f :read, :value nil, :process 29, :time 14923359584, :error :connect, :index 3585}
{:type :invoke, :f :read, :value nil, :process 0, :time 14931396969, :index 3586}
{:type :fail, :f :read, :value nil, :process 0, :time 14933281930, :error :connect, :index 3587}
{:type :invoke, :f :read, :value nil, :process 4, :time 14944492060, :index 3588}
{:type :fail, :f :read, :value nil, :process 4, :time 14946477709, :error :connect, :index 3589}
{:type :invoke, :f :read, :value nil, :process 21, :time 14973113101, :index 3596}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 14974603351, :index 3597}
{:type :fail, :f :read, :value nil, :process 21, :time 14974885246, :error :connect, :index 3598}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 14976571612, :error :connect, :index 3599}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 14981664774, :index 3600}
{:type :fail, :f :cas, :value [0 2], :process 22, :time 14983566032, :error :connect, :index 3601}
{:type :invoke, :f :write, :value 1, :process 5, :time 14984767765, :index 3602}
{:type :invoke, :f :read, :value nil, :process 4, :time 14986761527, :index 3603}
{:type :fail, :f :write, :value 1, :process 5, :time 14986985440, :error :connect, :index 3604}
{:type :fail, :f :read, :value nil, :process 4, :time 14988854206, :error :connect, :index 3605}
{:type :invoke, :f :read, :value nil, :process 8, :time 15005909900, :index 3612}
{:type :fail, :f :read, :value nil, :process 8, :time 15008008265, :error :connect, :index 3613}
{:type :invoke, :f :write, :value 4, :process 7, :time 15019275895, :index 3617}
{:type :fail, :f :write, :value 4, :process 7, :time 15021362583, :error :connect, :index 3620}
{:type :invoke, :f :cas, :value [3 0], :process 22, :time 15023836383, :index 3622}
{:type :fail, :f :cas, :value [3 0], :process 22, :time 15025723235, :error :connect, :index 3623}
{:type :invoke, :f :read, :value nil, :process 7, :time 15034645046, :index 3624}
{:type :fail, :f :read, :value nil, :process 7, :time 15036445220, :error :connect, :index 3626}
{:type :invoke, :f :write, :value 1, :process 5, :time 15038232594, :index 3628}
{:type :fail, :f :write, :value 1, :process 5, :time 15040106484, :error :connect, :index 3629}
{:type :invoke, :f :write, :value 2, :process 4, :time 15040126755, :index 3630}
{:type :fail, :f :write, :value 2, :process 4, :time 15042181279, :error :connect, :index 3631}
{:type :invoke, :f :read, :value nil, :process 5, :time 15059393171, :index 3632}
{:type :fail, :f :read, :value nil, :process 5, :time 15061788553, :error :connect, :index 3633}
{:type :invoke, :f :read, :value nil, :process 29, :time 15064630351, :index 3634}
{:type :fail, :f :read, :value nil, :process 29, :time 15066227868, :error :connect, :index 3635}
{:type :invoke, :f :read, :value nil, :process 6, :time 15076843903, :index 3636}
{:type :fail, :f :read, :value nil, :process 6, :time 15078763844, :error :connect, :index 3637}
{:type :invoke, :f :cas, :value [0 2], :process 3, :time 15084796210, :index 3640}
{:type :fail, :f :cas, :value [0 2], :process 3, :time 15086876193, :error :connect, :index 3642}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 15102449568, :index 3646}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 15104295847, :error :connect, :index 3647}
{:type :invoke, :f :write, :value 3, :process 7, :time 15106717347, :index 3648}
{:type :fail, :f :write, :value 3, :process 7, :time 15108831540, :error :connect, :index 3649}
{:type :invoke, :f :cas, :value [0 1], :process 22, :time 15115002335, :index 3655}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 15116668930, :index 3657}
{:type :fail, :f :cas, :value [0 1], :process 22, :time 15116740518, :error :connect, :index 3658}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 15118802300, :error :connect, :index 3659}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 15119274805, :index 3660}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 15121076668, :error :connect, :index 3662}
{:type :invoke, :f :read, :value nil, :process 6, :time 15134027559, :index 3667}
{:type :fail, :f :read, :value nil, :process 6, :time 15135869522, :error :connect, :index 3669}
{:type :invoke, :f :read, :value nil, :process 21, :time 15160128039, :index 3672}
{:type :invoke, :f :cas, :value [0 4], :process 5, :time 15161058801, :index 3673}
{:type :fail, :f :read, :value nil, :process 21, :time 15161992016, :error :connect, :index 3674}
{:type :fail, :f :cas, :value [0 4], :process 5, :time 15163024910, :error :connect, :index 3675}
{:type :invoke, :f :read, :value nil, :process 0, :time 15174064652, :index 3678}
{:type :fail, :f :read, :value nil, :process 0, :time 15176119849, :error :connect, :index 3679}
{:type :invoke, :f :write, :value 0, :process 5, :time 15182290985, :index 3682}
{:type :fail, :f :write, :value 0, :process 5, :time 15184227952, :error :connect, :index 3685}
{:type :invoke, :f :read, :value nil, :process 4, :time 15187500267, :index 3686}
{:type :invoke, :f :cas, :value [1 1], :process 29, :time 15187504019, :index 3687}
{:type :invoke, :f :write, :value 3, :process 3, :time 15189216140, :index 3688}
{:type :fail, :f :cas, :value [1 1], :process 29, :time 15189571855, :error :connect, :index 3689}
{:type :fail, :f :read, :value nil, :process 4, :time 15190054621, :error :connect, :index 3690}
{:type :fail, :f :write, :value 3, :process 3, :time 15191232510, :error :connect, :index 3691}
{:type :invoke, :f :read, :value nil, :process 22, :time 15214991515, :index 3696}
{:type :fail, :f :read, :value nil, :process 22, :time 15216853590, :error :connect, :index 3699}
{:type :invoke, :f :write, :value 3, :process 8, :time 15237347087, :index 3706}
{:type :fail, :f :write, :value 3, :process 8, :time 15239052111, :error :connect, :index 3707}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 15243383542, :index 3708}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 15245009394, :error :connect, :index 3709}
{:type :invoke, :f :read, :value nil, :process 29, :time 15248873637, :index 3710}
{:type :fail, :f :read, :value nil, :process 29, :time 15251011409, :error :connect, :index 3712}
{:type :invoke, :f :write, :value 4, :process 6, :time 15257129222, :index 3714}
{:type :fail, :f :write, :value 4, :process 6, :time 15259162358, :error :connect, :index 3715}
{:type :invoke, :f :write, :value 2, :process 6, :time 15279452489, :index 3716}
{:type :fail, :f :write, :value 2, :process 6, :time 15281356919, :error :connect, :index 3717}
{:type :invoke, :f :read, :value nil, :process 6, :time 15284626188, :index 3720}
{:type :fail, :f :read, :value nil, :process 6, :time 15286462049, :error :connect, :index 3721}
{:type :invoke, :f :read, :value nil, :process 7, :time 15294111552, :index 3725}
{:type :fail, :f :read, :value nil, :process 7, :time 15296260719, :error :connect, :index 3727}
{:type :invoke, :f :read, :value nil, :process 3, :time 15299517580, :index 3728}
{:type :fail, :f :read, :value nil, :process 3, :time 15301195531, :error :connect, :index 3729}
{:type :invoke, :f :read, :value nil, :process 4, :time 15305310491, :index 3731}
{:type :fail, :f :read, :value nil, :process 4, :time 15307319811, :error :connect, :index 3732}
{:type :invoke, :f :cas, :value [3 4], :process 21, :time 15343250806, :index 3740}
{:type :fail, :f :cas, :value [3 4], :process 21, :time 15345125579, :error :connect, :index 3741}
{:type :invoke, :f :read, :value nil, :process 5, :time 15346470516, :index 3742}
{:type :fail, :f :read, :value nil, :process 5, :time 15348404342, :error :connect, :index 3744}
{:type :invoke, :f :read, :value nil, :process 21, :time 15355385072, :index 3746}
{:type :fail, :f :read, :value nil, :process 21, :time 15357893404, :error :connect, :index 3747}
{:type :invoke, :f :read, :value nil, :process 29, :time 15363276112, :index 3748}
{:type :fail, :f :read, :value nil, :process 29, :time 15365330138, :error :connect, :index 3749}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 15370627556, :index 3750}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 15372700340, :error :connect, :index 3751}
{:type :invoke, :f :read, :value nil, :process 6, :time 15380730092, :index 3752}
{:type :fail, :f :read, :value nil, :process 6, :time 15382476483, :error :connect, :index 3754}
{:type :invoke, :f :write, :value 2, :process 8, :time 15409327557, :index 3761}
{:type :invoke, :f :read, :value nil, :process 22, :time 15411118758, :index 3763}
{:type :fail, :f :write, :value 2, :process 8, :time 15411399588, :error :connect, :index 3764}
{:type :fail, :f :read, :value nil, :process 22, :time 15413138931, :error :connect, :index 3765}
{:type :invoke, :f :read, :value nil, :process 0, :time 15432304495, :index 3774}
{:type :fail, :f :read, :value nil, :process 0, :time 15434300701, :error :connect, :index 3775}
{:type :invoke, :f :read, :value nil, :process 7, :time 15440533693, :index 3777}
{:type :fail, :f :read, :value nil, :process 7, :time 15442647718, :error :connect, :index 3780}
{:type :invoke, :f :write, :value 2, :process 3, :time 15447465719, :index 3782}
{:type :fail, :f :write, :value 2, :process 3, :time 15449107498, :error :connect, :index 3783}
{:type :invoke, :f :write, :value 1, :process 5, :time 15459652199, :index 3784}
{:type :fail, :f :write, :value 1, :process 5, :time 15461695845, :error :connect, :index 3785}
{:type :invoke, :f :read, :value nil, :process 21, :time 15469151867, :index 3786}
{:type :fail, :f :read, :value nil, :process 21, :time 15471095121, :error :connect, :index 3787}
{:type :invoke, :f :cas, :value [4 1], :process 8, :time 15495643950, :index 3794}
{:type :fail, :f :cas, :value [4 1], :process 8, :time 15497757598, :error :connect, :index 3795}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :invoke, :f :read, :value nil, :process 29, :time 15522561155, :index 3799}
{:type :fail, :f :read, :value nil, :process 29, :time 15524503908, :error :connect, :index 3802}
{:type :invoke, :f :read, :value nil, :process 29, :time 15529757398, :index 3804}
{:type :invoke, :f :read, :value nil, :process 4, :time 15529979135, :index 3805}
{:type :fail, :f :read, :value nil, :process 4, :time 15531963860, :error :connect, :index 3808}
{:type :fail, :f :read, :value nil, :process 29, :time 15531963860, :error :connect, :index 3809}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 15536375512, :index 3812}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 15538150162, :error :connect, :index 3814}
{:type :invoke, :f :write, :value 2, :process 21, :time 15545359628, :index 3817}
{:type :fail, :f :write, :value 2, :process 21, :time 15547214803, :error :connect, :index 3821}
{:type :invoke, :f :cas, :value [0 1], :process 21, :time 15550454589, :index 3823}
{:type :fail, :f :cas, :value [0 1], :process 21, :time 15552380059, :error :connect, :index 3825}
{:type :invoke, :f :cas, :value [0 1], :process 0, :time 15556553615, :index 3827}
{:type :invoke, :f :read, :value nil, :process 29, :time 15558240323, :index 3828}
{:type :fail, :f :cas, :value [0 1], :process 0, :time 15558630294, :error :connect, :index 3829}
{:type :fail, :f :read, :value nil, :process 29, :time 15560201073, :error :connect, :index 3830}
{:type :invoke, :f :read, :value nil, :process 22, :time 15563394566, :index 3831}
{:type :invoke, :f :cas, :value [2 1], :process 6, :time 15564739238, :index 3832}
{:type :fail, :f :read, :value nil, :process 22, :time 15565446479, :error :connect, :index 3833}
{:type :fail, :f :cas, :value [2 1], :process 6, :time 15566754286, :error :connect, :index 3834}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 15577937326, :index 3838}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 15580071509, :error :connect, :index 3840}
{:type :invoke, :f :cas, :value [2 2], :process 4, :time 15586267122, :index 3841}
{:type :fail, :f :cas, :value [2 2], :process 4, :time 15588290309, :error :connect, :index 3842}
{:type :invoke, :f :read, :value nil, :process 4, :time 15598554551, :index 3843}
{:type :invoke, :f :write, :value 0, :process 5, :time 15599979946, :index 3844}
{:type :fail, :f :read, :value nil, :process 4, :time 15600215348, :error :connect, :index 3845}
{:type :fail, :f :write, :value 0, :process 5, :time 15602000561, :error :connect, :index 3847}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :invoke, :f :cas, :value [2 4], :process 7, :time 15624310416, :index 3854}
{:type :fail, :f :cas, :value [2 4], :process 7, :time 15625988267, :error :connect, :index 3855}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 15653923287, :index 3860}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 15656039588, :error :connect, :index 3861}
{:type :invoke, :f :cas, :value [2 0], :process 21, :time 15656632770, :index 3862}
{:type :fail, :f :cas, :value [2 0], :process 21, :time 15658868418, :error :connect, :index 3865}
{:type :invoke, :f :write, :value 2, :process 8, :time 15661031182, :index 3868}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 15661434877, :index 3869}
{:type :fail, :f :write, :value 2, :process 8, :time 15663120528, :error :connect, :index 3870}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 15663480699, :error :connect, :index 3872}
{:type :invoke, :f :cas, :value [4 0], :process 29, :time 15669460691, :index 3875}
{:type :fail, :f :cas, :value [4 0], :process 29, :time 15671548062, :error :connect, :index 3877}
{:type :invoke, :f :write, :value 4, :process 29, :time 15685806921, :index 3880}
{:type :fail, :f :write, :value 4, :process 29, :time 15687443504, :error :connect, :index 3881}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 15693026628, :index 3882}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 15694726088, :error :connect, :index 3883}
{:type :invoke, :f :read, :value nil, :process 8, :time 15705399145, :index 3884}
{:type :invoke, :f :cas, :value [1 3], :process 5, :time 15707251665, :index 3885}
{:type :fail, :f :read, :value nil, :process 8, :time 15707417495, :error :connect, :index 3886}
{:type :fail, :f :cas, :value [1 3], :process 5, :time 15709181814, :error :connect, :index 3887}
{:type :invoke, :f :cas, :value [1 0], :process 21, :time 15709158710, :index 3888}
{:type :fail, :f :cas, :value [1 0], :process 21, :time 15710874067, :error :connect, :index 3889}
{:type :invoke, :f :cas, :value [0 1], :process 21, :time 15712167723, :index 3890}
{:type :fail, :f :cas, :value [0 1], :process 21, :time 15713805459, :error :connect, :index 3891}
{:type :invoke, :f :cas, :value [2 4], :process 21, :time 15732065108, :index 3898}
{:type :fail, :f :cas, :value [2 4], :process 21, :time 15734022689, :error :connect, :index 3899}
{:type :invoke, :f :write, :value 2, :process 0, :time 15743311823, :index 3913}
{:type :fail, :f :write, :value 2, :process 0, :time 15745429220, :error :connect, :index 3916}
{:type :invoke, :f :cas, :value [1 0], :process 22, :time 15749721016, :index 3918}
{:type :fail, :f :cas, :value [1 0], :process 22, :time 15751591707, :error :connect, :index 3919}
{:type :invoke, :f :write, :value 3, :process 4, :time 15756458238, :index 3920}
{:type :fail, :f :write, :value 3, :process 4, :time 15758048831, :error :connect, :index 3921}
{:type :invoke, :f :cas, :value [1 0], :process 7, :time 15760253405, :index 3922}
{:type :fail, :f :cas, :value [1 0], :process 7, :time 15762077496, :error :connect, :index 3923}
{:type :invoke, :f :write, :value 3, :process 6, :time 15800008755, :index 3930}
{:type :fail, :f :write, :value 3, :process 6, :time 15801771650, :error :connect, :index 3931}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 15821753382, :index 3936}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 15823806479, :error :connect, :index 3937}
{:type :invoke, :f :write, :value 1, :process 5, :time 15824442374, :index 3938}
{:type :fail, :f :write, :value 1, :process 5, :time 15826334027, :error :connect, :index 3939}
{:type :invoke, :f :write, :value 4, :process 29, :time 15829706167, :index 3940}
{:type :fail, :f :write, :value 4, :process 29, :time 15831293929, :error :connect, :index 3941}
{:type :invoke, :f :write, :value 0, :process 8, :time 15855663306, :index 3948}
{:type :fail, :f :write, :value 0, :process 8, :time 15857552511, :error :connect, :index 3949}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 15876645192, :index 3959}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 15878770468, :error :connect, :index 3961}
{:type :invoke, :f :cas, :value [3 4], :process 21, :time 15919305512, :index 3973}
{:type :fail, :f :cas, :value [3 4], :process 21, :time 15921039035, :error :connect, :index 3975}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
