{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :invoke, :f :read, :value nil, :process 16, :time 34108905506, :index 7232}
{:type :invoke, :f :read, :value nil, :process 37, :time 34114487125, :index 7235}
{:type :ok, :f :read, :value nil, :process 16, :time 34115463339, :index 7236}
{:type :ok, :f :read, :value nil, :process 37, :time 34120793174, :index 7239}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 34151329963, :index 7248}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 34155606359, :error :not-found, :index 7249}
{:type :invoke, :f :write, :value 4, :process 16, :time 34155715485, :index 7250}
{:type :ok, :f :write, :value 4, :process 16, :time 34161006427, :index 7252}
{:type :invoke, :f :cas, :value [1 3], :process 39, :time 34179765921, :index 7257}
{:type :fail, :f :cas, :value [1 3], :process 39, :time 34185899571, :index 7262}
{:type :invoke, :f :write, :value 0, :process 12, :time 34216390596, :index 7275}
{:type :invoke, :f :write, :value 2, :process 31, :time 34223059618, :index 7277}
{:type :ok, :f :write, :value 2, :process 31, :time 34228264582, :index 7279}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 34237007102, :index 7281}
{:type :invoke, :f :write, :value 4, :process 33, :time 34238681091, :index 7282}
{:type :fail, :f :cas, :value [0 1], :process 10, :time 34242312534, :index 7283}
{:type :ok, :f :write, :value 4, :process 33, :time 34244337396, :index 7284}
{:type :invoke, :f :read, :value nil, :process 16, :time 34250265631, :index 7285}
{:type :ok, :f :read, :value 4, :process 16, :time 34257905368, :index 7288}
{:type :invoke, :f :cas, :value [0 3], :process 39, :time 34260169345, :index 7290}
{:type :fail, :f :cas, :value [0 3], :process 39, :time 34265315454, :index 7291}
{:type :invoke, :f :write, :value 4, :process 33, :time 34279598837, :index 7295}
{:type :ok, :f :write, :value 4, :process 33, :time 34285100329, :index 7297}
{:type :invoke, :f :read, :value nil, :process 16, :time 34290188394, :index 7298}
{:type :ok, :f :read, :value 4, :process 16, :time 34295213896, :index 7299}
{:type :invoke, :f :read, :value nil, :process 16, :time 34296480428, :index 7300}
{:type :invoke, :f :read, :value nil, :process 15, :time 34299862390, :index 7301}
{:type :ok, :f :read, :value 4, :process 16, :time 34301804194, :index 7302}
{:type :ok, :f :write, :value 0, :process 12, :time 34302162407, :index 7303}
{:type :ok, :f :read, :value 0, :process 15, :time 34304276440, :index 7305}
{:type :invoke, :f :write, :value 2, :process 12, :time 34313439967, :index 7310}
{:type :invoke, :f :read, :value nil, :process 37, :time 34315029200, :index 7311}
{:type :ok, :f :write, :value 2, :process 12, :time 34318771882, :index 7313}
{:type :ok, :f :read, :value 2, :process 37, :time 34320179848, :index 7314}
{:type :invoke, :f :cas, :value [3 3], :process 31, :time 34324523323, :index 7316}
{:type :fail, :f :cas, :value [3 3], :process 31, :time 34331540355, :index 7317}
{:type :invoke, :f :write, :value 1, :process 38, :time 34352221539, :index 7324}
{:type :invoke, :f :write, :value 3, :process 37, :time 34357454409, :index 7327}
{:type :ok, :f :write, :value 1, :process 38, :time 34357603642, :index 7328}
{:type :invoke, :f :read, :value nil, :process 33, :time 34358355099, :index 7330}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 34358532205, :index 7331}
{:type :ok, :f :write, :value 3, :process 37, :time 34363144814, :index 7335}
{:type :ok, :f :cas, :value [3 1], :process 15, :time 34363923862, :index 7336}
{:type :ok, :f :read, :value 1, :process 33, :time 34366030305, :index 7339}
{:type :invoke, :f :read, :value nil, :process 12, :time 34378032145, :index 7346}
{:type :invoke, :f :cas, :value [0 2], :process 31, :time 34381800871, :index 7347}
{:type :ok, :f :read, :value 1, :process 12, :time 34382620561, :index 7348}
{:type :fail, :f :cas, :value [0 2], :process 31, :time 34386958737, :index 7349}
{:type :invoke, :f :cas, :value [0 1], :process 39, :time 34392573334, :index 7350}
{:type :invoke, :f :write, :value 3, :process 34, :time 34393197473, :index 7351}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 34395066683, :index 7352}
{:type :fail, :f :cas, :value [0 1], :process 39, :time 34398633185, :index 7353}
{:type :ok, :f :write, :value 3, :process 34, :time 34398696928, :index 7354}
{:type :ok, :f :cas, :value [3 2], :process 16, :time 34400201235, :index 7355}
{:type :invoke, :f :write, :value 0, :process 10, :time 34420490329, :index 7357}
{:type :ok, :f :write, :value 0, :process 10, :time 34425281554, :index 7358}
{:type :invoke, :f :read, :value nil, :process 15, :time 34439203901, :index 7362}
{:type :invoke, :f :cas, :value [1 2], :process 31, :time 34439207629, :index 7363}
{:type :invoke, :f :read, :value nil, :process 38, :time 34441864743, :index 7365}
{:type :ok, :f :read, :value 0, :process 15, :time 34443866398, :index 7366}
{:type :fail, :f :cas, :value [1 2], :process 31, :time 34445677812, :index 7367}
{:type :ok, :f :read, :value 0, :process 38, :time 34447310572, :index 7368}
{:type :invoke, :f :read, :value nil, :process 31, :time 34456932117, :index 7369}
{:type :invoke, :f :cas, :value [3 2], :process 38, :time 34460554512, :index 7370}
{:type :ok, :f :read, :value 0, :process 31, :time 34462028401, :index 7371}
{:type :fail, :f :cas, :value [3 2], :process 38, :time 34465889543, :index 7373}
{:type :invoke, :f :read, :value nil, :process 15, :time 34476121583, :index 7375}
{:type :invoke, :f :cas, :value [1 4], :process 16, :time 34478460166, :index 7376}
{:type :ok, :f :read, :value 0, :process 15, :time 34480613287, :index 7377}
{:type :fail, :f :cas, :value [1 4], :process 16, :time 34483313456, :index 7378}
{:type :invoke, :f :read, :value nil, :process 10, :time 34503555078, :index 7381}
{:type :invoke, :f :cas, :value [4 0], :process 31, :time 34505319728, :index 7382}
{:type :invoke, :f :read, :value nil, :process 15, :time 34505890010, :index 7383}
{:type :ok, :f :read, :value 0, :process 10, :time 34508467537, :index 7384}
{:type :ok, :f :read, :value 0, :process 15, :time 34511959689, :index 7385}
{:type :fail, :f :cas, :value [4 0], :process 31, :time 34513125944, :index 7387}
{:type :invoke, :f :cas, :value [1 1], :process 38, :time 34514132671, :index 7388}
{:type :invoke, :f :write, :value 1, :process 39, :time 34516935930, :index 7390}
{:type :fail, :f :cas, :value [1 1], :process 38, :time 34518999370, :index 7392}
{:type :ok, :f :write, :value 1, :process 39, :time 34522148196, :index 7395}
{:type :invoke, :f :cas, :value [4 3], :process 12, :time 34530873814, :index 7399}
{:type :invoke, :f :write, :value 4, :process 37, :time 34532408995, :index 7400}
{:type :invoke, :f :write, :value 4, :process 34, :time 34542927516, :index 7404}
{:type :invoke, :f :read, :value nil, :process 33, :time 34544314587, :index 7405}
{:type :ok, :f :write, :value 4, :process 34, :time 34547728782, :index 7408}
{:type :ok, :f :read, :value 4, :process 33, :time 34550040245, :index 7409}
{:type :invoke, :f :write, :value 0, :process 31, :time 34571383570, :index 7412}
{:type :ok, :f :write, :value 0, :process 31, :time 34577196556, :index 7413}
{:type :invoke, :f :cas, :value [2 4], :process 31, :time 34581450769, :index 7414}
{:type :invoke, :f :write, :value 1, :process 16, :time 34584567551, :index 7415}
{:type :fail, :f :cas, :value [2 4], :process 31, :time 34587942315, :index 7416}
{:type :ok, :f :write, :value 1, :process 16, :time 34589270307, :index 7417}
{:type :invoke, :f :write, :value 0, :process 16, :time 34603521846, :index 7422}
{:type :ok, :f :write, :value 0, :process 16, :time 34608525810, :index 7423}
{:type :invoke, :f :write, :value 4, :process 10, :time 34639724825, :index 7431}
{:type :ok, :f :write, :value 4, :process 10, :time 34643795253, :index 7433}
{:type :invoke, :f :read, :value nil, :process 15, :time 34652233849, :index 7434}
{:type :ok, :f :read, :value 4, :process 15, :time 34656583308, :index 7435}
{:type :invoke, :f :read, :value nil, :process 33, :time 34660287956, :index 7436}
{:type :ok, :f :read, :value 4, :process 33, :time 34665957714, :index 7437}
{:type :invoke, :f :cas, :value [1 0], :process 10, :time 34669047015, :index 7439}
{:type :invoke, :f :read, :value nil, :process 33, :time 34669234006, :index 7440}
{:type :invoke, :f :cas, :value [0 2], :process 39, :time 34671394132, :index 7441}
{:type :ok, :f :read, :value 4, :process 33, :time 34674632990, :index 7443}
{:type :fail, :f :cas, :value [1 0], :process 10, :time 34675088501, :index 7444}
{:type :invoke, :f :read, :value nil, :process 16, :time 34675780472, :index 7445}
{:type :invoke, :f :read, :value nil, :process 34, :time 34676023591, :index 7446}
{:type :fail, :f :cas, :value [0 2], :process 39, :time 34677175534, :index 7447}
{:type :ok, :f :read, :value 4, :process 34, :time 34680888004, :index 7448}
{:type :ok, :f :read, :value 4, :process 16, :time 34681168016, :index 7449}
{:type :invoke, :f :read, :value nil, :process 38, :time 34700224823, :index 7453}
{:type :invoke, :f :read, :value nil, :process 16, :time 34702691250, :index 7455}
{:type :invoke, :f :write, :value 1, :process 33, :time 34704923107, :index 7456}
{:type :ok, :f :read, :value 4, :process 38, :time 34705262872, :index 7457}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 34707848612, :index 7458}
{:type :ok, :f :read, :value 4, :process 16, :time 34708928916, :index 7459}
{:type :ok, :f :write, :value 1, :process 33, :time 34710426852, :index 7461}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 34712486760, :index 7463}
{:type :invoke, :f :write, :value 2, :process 38, :time 34716530939, :index 7467}
{:type :ok, :f :write, :value 2, :process 38, :time 34721409837, :index 7469}
{:type :invoke, :f :write, :value 3, :process 16, :time 34731182184, :index 7470}
{:type :ok, :f :write, :value 3, :process 16, :time 34738418670, :index 7473}
{:type :invoke, :f :cas, :value [3 3], :process 39, :time 34747485363, :index 7478}
{:type :ok, :f :cas, :value [3 3], :process 39, :time 34752293644, :index 7479}
{:type :invoke, :f :read, :value nil, :process 10, :time 34753338892, :index 7480}
{:type :ok, :f :read, :value 3, :process 10, :time 34758245091, :index 7482}
{:type :invoke, :f :read, :value nil, :process 31, :time 34761202727, :index 7483}
{:type :ok, :f :read, :value 3, :process 31, :time 34766229959, :index 7485}
{:type :invoke, :f :cas, :value [4 4], :process 33, :time 34769714244, :index 7486}
{:type :fail, :f :cas, :value [4 4], :process 33, :time 34776325372, :index 7491}
{:type :invoke, :f :write, :value 4, :process 34, :time 34787194908, :index 7492}
{:type :ok, :f :write, :value 4, :process 34, :time 34792679003, :index 7493}
{:type :invoke, :f :write, :value 3, :process 15, :time 34796744343, :index 7494}
{:type :ok, :f :write, :value 3, :process 15, :time 34801683220, :index 7495}
{:type :invoke, :f :read, :value nil, :process 16, :time 34821678199, :index 7496}
{:type :ok, :f :read, :value 3, :process 16, :time 34827247189, :index 7498}
{:type :invoke, :f :cas, :value [3 2], :process 39, :time 34853555318, :index 7504}
{:type :fail, :f :cas, :value [4 3], :process 12, :time 34856667383, :index 7507}
{:type :ok, :f :write, :value 4, :process 37, :time 34856912080, :index 7508}
{:type :invoke, :f :read, :value nil, :process 12, :time 34858154583, :index 7509}
{:type :ok, :f :read, :value 4, :process 12, :time 34863665120, :index 7510}
{:type :invoke, :f :cas, :value [3 3], :process 38, :time 34883700776, :index 7512}
{:type :invoke, :f :read, :value nil, :process 12, :time 34883934134, :index 7513}
{:type :fail, :f :cas, :value [3 3], :process 38, :time 34890889072, :index 7515}
{:type :invoke, :f :cas, :value [3 0], :process 33, :time 34913519227, :index 7517}
{:type :fail, :f :cas, :value [3 0], :process 33, :time 34919370989, :index 7518}
{:type :invoke, :f :write, :value 3, :process 15, :time 34923943234, :index 7519}
{:type :ok, :f :write, :value 3, :process 15, :time 34928939585, :index 7520}
{:type :invoke, :f :write, :value 2, :process 34, :time 34934937823, :index 7521}
{:type :invoke, :f :read, :value nil, :process 10, :time 34954531785, :index 7526}
{:type :ok, :f :read, :value 3, :process 10, :time 34960647558, :index 7529}
{:type :invoke, :f :read, :value nil, :process 31, :time 34964481485, :index 7531}
{:type :invoke, :f :cas, :value [1 3], :process 16, :time 34967506059, :index 7532}
{:type :ok, :f :read, :value 3, :process 31, :time 34969566285, :index 7534}
{:type :fail, :f :cas, :value [1 3], :process 16, :time 34972858522, :index 7535}
{:type :invoke, :f :write, :value 3, :process 37, :time 34977212173, :index 7536}
{:type :invoke, :f :cas, :value [0 4], :process 16, :time 34998113383, :index 7539}
{:type :fail, :f :cas, :value [0 4], :process 16, :time 35004222591, :index 7541}
{:type :invoke, :f :cas, :value [3 2], :process 15, :time 35076197815, :index 7548}
{:type :ok, :f :cas, :value [3 2], :process 15, :time 35081277192, :index 7550}
{:type :invoke, :f :read, :value nil, :process 38, :time 35083165001, :index 7551}
{:type :ok, :f :read, :value 2, :process 38, :time 35088568495, :index 7553}
{:type :invoke, :f :cas, :value [3 4], :process 16, :time 35091479722, :index 7554}
{:type :fail, :f :cas, :value [3 4], :process 16, :time 35097002738, :index 7556}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 35102921190, :index 7559}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 35108672396, :index 7561}
{:type :invoke, :f :cas, :value [4 3], :process 33, :time 35108672156, :index 7562}
{:type :fail, :f :cas, :value [4 3], :process 33, :time 35114681381, :index 7563}
{:type :invoke, :f :read, :value nil, :process 31, :time 35125866993, :index 7567}
{:type :ok, :f :read, :value 2, :process 31, :time 35132357548, :index 7569}
{:type :invoke, :f :write, :value 1, :process 38, :time 35133822116, :index 7570}
{:type :ok, :f :write, :value 1, :process 38, :time 35138939478, :index 7571}
{:type :invoke, :f :write, :value 2, :process 16, :time 35148263040, :index 7572}
{:type :ok, :f :write, :value 2, :process 16, :time 35153394635, :index 7573}
{:type :invoke, :f :read, :value nil, :process 38, :time 35230206687, :index 7586}
{:type :ok, :f :read, :value 2, :process 38, :time 35235902148, :index 7587}
{:type :invoke, :f :write, :value 3, :process 33, :time 35239964509, :index 7589}
{:type :ok, :f :write, :value 3, :process 33, :time 35245599989, :index 7591}
{:type :invoke, :f :cas, :value [1 2], :process 16, :time 35256663534, :index 7592}
{:type :fail, :f :cas, :value [1 2], :process 16, :time 35262052940, :index 7593}
{:type :invoke, :f :write, :value 2, :process 15, :time 35271536446, :index 7594}
{:type :ok, :f :write, :value 2, :process 15, :time 35278227466, :index 7597}
{:type :invoke, :f :write, :value 4, :process 10, :time 35286963787, :index 7598}
{:type :ok, :f :write, :value 4, :process 10, :time 35291886810, :index 7599}
{:type :invoke, :f :read, :value nil, :process 31, :time 35316611446, :index 7600}
{:type :ok, :f :read, :value 4, :process 31, :time 35323184413, :index 7601}
{:type :invoke, :f :write, :value 2, :process 16, :time 35343311978, :index 7606}
{:type :ok, :f :write, :value 2, :process 16, :time 35348235635, :index 7607}
{:type :invoke, :f :cas, :value [2 0], :process 38, :time 35359162620, :index 7610}
{:type :invoke, :f :write, :value 1, :process 15, :time 35363459689, :index 7612}
{:type :ok, :f :cas, :value [2 0], :process 38, :time 35364634480, :index 7613}
{:type :ok, :f :write, :value 1, :process 15, :time 35368232162, :index 7616}
{:type :fail, :f :cas, :value [3 2], :process 39, :time 35374854504, :index 7618}
{:type :ok, :f :write, :value 2, :process 34, :time 35375814755, :index 7620}
{:type :invoke, :f :write, :value 4, :process 10, :time 35389145432, :index 7625}
{:type :invoke, :f :write, :value 0, :process 33, :time 35391854895, :index 7626}
{:type :ok, :f :write, :value 4, :process 10, :time 35394297324, :index 7628}
{:type :ok, :f :write, :value 0, :process 33, :time 35396987845, :index 7629}
{:type :ok, :f :read, :value 0, :process 12, :time 35567271513, :index 7673}
{:type :ok, :f :write, :value 3, :process 37, :time 35567754162, :index 7674}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
