{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :invoke, :f :read, :value nil, :process 4, :time 16811018105, :index 4334}
{:type :fail, :f :read, :value nil, :process 4, :time 16813015515, :error :connect, :index 4335}
{:type :invoke, :f :write, :value 0, :process 21, :time 16851510120, :index 4354}
{:type :fail, :f :write, :value 0, :process 21, :time 16853357434, :error :connect, :index 4355}
{:type :invoke, :f :write, :value 3, :process 3, :time 16853874764, :index 4356}
{:type :fail, :f :write, :value 3, :process 3, :time 16855427090, :error :connect, :index 4357}
{:type :invoke, :f :write, :value 1, :process 5, :time 16856025608, :index 4359}
{:type :fail, :f :write, :value 1, :process 5, :time 16858106242, :error :connect, :index 4361}
{:type :invoke, :f :write, :value 1, :process 3, :time 16879688412, :index 4363}
{:type :fail, :f :write, :value 1, :process 3, :time 16881810124, :error :connect, :index 4365}
{:type :invoke, :f :read, :value nil, :process 6, :time 16888336730, :index 4368}
{:type :fail, :f :read, :value nil, :process 6, :time 16890249792, :error :connect, :index 4369}
{:type :invoke, :f :write, :value 0, :process 3, :time 16904074954, :index 4375}
{:type :fail, :f :write, :value 0, :process 3, :time 16905910897, :error :connect, :index 4378}
{:type :invoke, :f :cas, :value [1 4], :process 29, :time 16913251395, :index 4382}
{:type :fail, :f :cas, :value [1 4], :process 29, :time 16914995479, :error :connect, :index 4383}
{:type :invoke, :f :cas, :value [1 0], :process 5, :time 16933352743, :index 4384}
{:type :fail, :f :cas, :value [1 0], :process 5, :time 16935199163, :error :connect, :index 4386}
{:type :invoke, :f :write, :value 2, :process 4, :time 16936295843, :index 4387}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 16938051859, :index 4389}
{:type :fail, :f :write, :value 2, :process 4, :time 16938811966, :error :connect, :index 4390}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 16940135579, :error :connect, :index 4392}
{:type :invoke, :f :read, :value nil, :process 3, :time 16940187780, :index 4393}
{:type :fail, :f :read, :value nil, :process 3, :time 16941989176, :error :connect, :index 4395}
{:type :invoke, :f :read, :value nil, :process 7, :time 16948181332, :index 4396}
{:type :fail, :f :read, :value nil, :process 7, :time 16950048130, :error :connect, :index 4397}
{:type :invoke, :f :cas, :value [4 1], :process 7, :time 16951327874, :index 4398}
{:type :fail, :f :cas, :value [4 1], :process 7, :time 16952944399, :error :connect, :index 4399}
{:type :invoke, :f :write, :value 1, :process 8, :time 16958418976, :index 4403}
{:type :fail, :f :write, :value 1, :process 8, :time 16960266734, :error :connect, :index 4405}
{:type :invoke, :f :cas, :value [2 2], :process 22, :time 16980707376, :index 4408}
{:type :fail, :f :cas, :value [2 2], :process 22, :time 16982587331, :error :connect, :index 4409}
{:type :invoke, :f :read, :value nil, :process 0, :time 17002710033, :index 4412}
{:type :fail, :f :read, :value nil, :process 0, :time 17004346735, :error :connect, :index 4413}
{:type :invoke, :f :write, :value 1, :process 8, :time 17018524886, :index 4418}
{:type :fail, :f :write, :value 1, :process 8, :time 17020599564, :error :connect, :index 4419}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 17026089536, :index 4421}
{:type :fail, :f :cas, :value [1 4], :process 4, :time 17027876440, :error :connect, :index 4422}
{:type :invoke, :f :write, :value 3, :process 6, :time 17040512599, :index 4428}
{:type :invoke, :f :write, :value 1, :process 21, :time 17041668698, :index 4430}
{:type :fail, :f :write, :value 3, :process 6, :time 17042449640, :error :connect, :index 4431}
{:type :fail, :f :write, :value 1, :process 21, :time 17043576675, :error :connect, :index 4432}
{:type :invoke, :f :write, :value 3, :process 3, :time 17045249626, :index 4434}
{:type :fail, :f :write, :value 3, :process 3, :time 17047016780, :error :connect, :index 4435}
{:type :invoke, :f :read, :value nil, :process 4, :time 17050155952, :index 4436}
{:type :fail, :f :read, :value nil, :process 4, :time 17051923675, :error :connect, :index 4437}
{:type :invoke, :f :read, :value nil, :process 29, :time 17054264217, :index 4438}
{:type :fail, :f :read, :value nil, :process 29, :time 17056089091, :error :connect, :index 4439}
{:type :invoke, :f :write, :value 4, :process 0, :time 17062615234, :index 4440}
{:type :fail, :f :write, :value 4, :process 0, :time 17064634331, :error :connect, :index 4442}
{:type :invoke, :f :cas, :value [3 3], :process 22, :time 17084889863, :index 4448}
{:type :fail, :f :cas, :value [3 3], :process 22, :time 17086446435, :error :connect, :index 4449}
{:type :invoke, :f :cas, :value [2 3], :process 5, :time 17095472416, :index 4451}
{:type :fail, :f :cas, :value [2 3], :process 5, :time 17097313896, :error :connect, :index 4453}
{:type :invoke, :f :read, :value nil, :process 4, :time 17100196247, :index 4454}
{:type :fail, :f :read, :value nil, :process 4, :time 17102010812, :error :connect, :index 4455}
{:type :invoke, :f :write, :value 1, :process 7, :time 17106207312, :index 4456}
{:type :fail, :f :write, :value 1, :process 7, :time 17107848777, :error :connect, :index 4457}
{:type :invoke, :f :cas, :value [3 1], :process 21, :time 17111858494, :index 4458}
{:type :fail, :f :cas, :value [3 1], :process 21, :time 17113814221, :error :connect, :index 4459}
{:type :invoke, :f :cas, :value [4 3], :process 5, :time 17118587567, :index 4460}
{:type :fail, :f :cas, :value [4 3], :process 5, :time 17120628548, :error :connect, :index 4461}
{:type :invoke, :f :cas, :value [2 3], :process 22, :time 17120718361, :index 4463}
{:type :invoke, :f :read, :value nil, :process 0, :time 17121896080, :index 4464}
{:type :fail, :f :cas, :value [2 3], :process 22, :time 17123014410, :error :connect, :index 4466}
{:type :fail, :f :read, :value nil, :process 0, :time 17123679087, :error :connect, :index 4467}
{:type :invoke, :f :read, :value nil, :process 29, :time 17127350216, :index 4468}
{:type :fail, :f :read, :value nil, :process 29, :time 17129193501, :error :connect, :index 4469}
{:type :invoke, :f :write, :value 0, :process 6, :time 17130758877, :index 4470}
{:type :fail, :f :write, :value 0, :process 6, :time 17132798233, :error :connect, :index 4471}
{:type :invoke, :f :write, :value 3, :process 5, :time 17155603487, :index 4474}
{:type :fail, :f :write, :value 3, :process 5, :time 17157437088, :error :connect, :index 4475}
{:type :invoke, :f :cas, :value [2 1], :process 7, :time 17168110508, :index 4480}
{:type :invoke, :f :read, :value nil, :process 22, :time 17169252405, :index 4481}
{:type :invoke, :f :cas, :value [4 3], :process 8, :time 17169865716, :index 4482}
{:type :fail, :f :cas, :value [2 1], :process 7, :time 17170345963, :error :connect, :index 4483}
{:type :fail, :f :read, :value nil, :process 22, :time 17171043539, :error :connect, :index 4484}
{:type :fail, :f :cas, :value [4 3], :process 8, :time 17171721840, :error :connect, :index 4486}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 17175696030, :index 4488}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 17177877914, :error :connect, :index 4491}
{:type :invoke, :f :cas, :value [1 1], :process 21, :time 17184085824, :index 4492}
{:type :invoke, :f :cas, :value [2 2], :process 29, :time 17184466557, :index 4493}
{:type :fail, :f :cas, :value [1 1], :process 21, :time 17186024291, :error :connect, :index 4494}
{:type :fail, :f :cas, :value [2 2], :process 29, :time 17186596179, :error :connect, :index 4497}
{:type :invoke, :f :read, :value nil, :process 6, :time 17198055586, :index 4500}
{:type :fail, :f :read, :value nil, :process 6, :time 17199735864, :error :connect, :index 4501}
{:type :invoke, :f :read, :value nil, :process 22, :time 17208366735, :index 4504}
{:type :fail, :f :read, :value nil, :process 22, :time 17210174988, :error :connect, :index 4505}
{:type :invoke, :f :cas, :value [2 3], :process 29, :time 17218882372, :index 4509}
{:type :fail, :f :cas, :value [2 3], :process 29, :time 17220680338, :error :connect, :index 4511}
{:type :invoke, :f :read, :value nil, :process 3, :time 17238278665, :index 4512}
{:type :fail, :f :read, :value nil, :process 3, :time 17240348978, :error :connect, :index 4513}
{:type :invoke, :f :read, :value nil, :process 4, :time 17276275554, :index 4524}
{:type :invoke, :f :read, :value nil, :process 0, :time 17277944633, :index 4525}
{:type :fail, :f :read, :value nil, :process 4, :time 17278082830, :error :connect, :index 4526}
{:type :fail, :f :read, :value nil, :process 0, :time 17279896396, :error :connect, :index 4527}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 17288610443, :index 4530}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 17290457054, :error :connect, :index 4531}
{:type :invoke, :f :read, :value nil, :process 21, :time 17307295726, :index 4536}
{:type :fail, :f :read, :value nil, :process 21, :time 17308867791, :error :connect, :index 4537}
{:type :invoke, :f :read, :value nil, :process 22, :time 17309432440, :index 4538}
{:type :fail, :f :read, :value nil, :process 22, :time 17311205817, :error :connect, :index 4539}
{:type :invoke, :f :write, :value 3, :process 7, :time 17328652635, :index 4543}
{:type :fail, :f :write, :value 3, :process 7, :time 17331277505, :error :connect, :index 4546}
{:type :invoke, :f :write, :value 2, :process 5, :time 17337119025, :index 4550}
{:type :fail, :f :write, :value 2, :process 5, :time 17339093267, :error :connect, :index 4551}
{:type :invoke, :f :write, :value 3, :process 8, :time 17365000890, :index 4554}
{:type :fail, :f :write, :value 3, :process 8, :time 17367010776, :error :connect, :index 4555}
{:type :invoke, :f :cas, :value [0 1], :process 7, :time 17371633755, :index 4558}
{:type :fail, :f :cas, :value [0 1], :process 7, :time 17373613751, :error :connect, :index 4559}
{:type :invoke, :f :write, :value 2, :process 6, :time 17374001662, :index 4560}
{:type :fail, :f :write, :value 2, :process 6, :time 17375788173, :error :connect, :index 4561}
{:type :invoke, :f :read, :value nil, :process 22, :time 17376465572, :index 4562}
{:type :invoke, :f :read, :value nil, :process 21, :time 17377127918, :index 4563}
{:type :fail, :f :read, :value nil, :process 22, :time 17378527175, :error :connect, :index 4564}
{:type :fail, :f :read, :value nil, :process 21, :time 17379036785, :error :connect, :index 4565}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 17393721240, :index 4570}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 17395330182, :error :connect, :index 4571}
{:type :invoke, :f :write, :value 2, :process 0, :time 17412151340, :index 4574}
{:type :fail, :f :write, :value 2, :process 0, :time 17414139718, :error :connect, :index 4575}
{:type :invoke, :f :write, :value 2, :process 8, :time 17415274283, :index 4576}
{:type :invoke, :f :read, :value nil, :process 29, :time 17415944520, :index 4577}
{:type :fail, :f :write, :value 2, :process 8, :time 17417116114, :error :connect, :index 4578}
{:type :fail, :f :read, :value nil, :process 29, :time 17417913054, :error :connect, :index 4579}
{:type :invoke, :f :cas, :value [4 0], :process 29, :time 17444170568, :index 4586}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 17445054598, :index 4587}
{:type :fail, :f :cas, :value [4 0], :process 29, :time 17446170669, :error :connect, :index 4588}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 17446784238, :error :connect, :index 4589}
{:type :invoke, :f :read, :value nil, :process 4, :time 17447333075, :index 4590}
{:type :fail, :f :read, :value nil, :process 4, :time 17449296455, :error :connect, :index 4591}
{:type :invoke, :f :read, :value nil, :process 22, :time 17466786631, :index 4592}
{:type :fail, :f :read, :value nil, :process 22, :time 17468877175, :error :connect, :index 4593}
{:type :invoke, :f :read, :value nil, :process 5, :time 17475351058, :index 4598}
{:type :fail, :f :read, :value nil, :process 5, :time 17477419833, :error :connect, :index 4599}
{:type :invoke, :f :read, :value nil, :process 7, :time 17477828902, :index 4600}
{:type :fail, :f :read, :value nil, :process 7, :time 17479888877, :error :connect, :index 4603}
{:type :invoke, :f :read, :value nil, :process 8, :time 17512375146, :index 4610}
{:type :fail, :f :read, :value nil, :process 8, :time 17514286022, :error :connect, :index 4611}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 17526263347, :index 4614}
{:type :fail, :f :cas, :value [1 3], :process 7, :time 17528032455, :error :connect, :index 4616}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 17529280978, :index 4617}
{:type :fail, :f :cas, :value [4 2], :process 21, :time 17531292692, :error :connect, :index 4620}
{:type :invoke, :f :read, :value nil, :process 3, :time 17539600292, :index 4624}
{:type :fail, :f :read, :value nil, :process 3, :time 17541281981, :error :connect, :index 4625}
{:type :invoke, :f :read, :value nil, :process 0, :time 17554393976, :index 4628}
{:type :fail, :f :read, :value nil, :process 0, :time 17556207519, :error :connect, :index 4629}
{:type :invoke, :f :read, :value nil, :process 21, :time 17556575322, :index 4631}
{:type :invoke, :f :write, :value 4, :process 4, :time 17557563337, :index 4632}
{:type :fail, :f :read, :value nil, :process 21, :time 17558561418, :error :connect, :index 4634}
{:type :fail, :f :write, :value 4, :process 4, :time 17559347551, :error :connect, :index 4635}
{:type :invoke, :f :read, :value nil, :process 29, :time 17572438184, :index 4638}
{:type :fail, :f :read, :value nil, :process 29, :time 17574404470, :error :connect, :index 4639}
{:type :invoke, :f :cas, :value [2 4], :process 7, :time 17579291063, :index 4640}
{:type :invoke, :f :cas, :value [3 3], :process 21, :time 17580816339, :index 4641}
{:type :fail, :f :cas, :value [2 4], :process 7, :time 17581238905, :error :connect, :index 4642}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 17581563061, :index 4643}
{:type :invoke, :f :write, :value 1, :process 5, :time 17582120611, :index 4644}
{:type :fail, :f :cas, :value [3 3], :process 21, :time 17583006444, :error :connect, :index 4645}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 17583718081, :error :connect, :index 4647}
{:type :fail, :f :write, :value 1, :process 5, :time 17584161161, :error :connect, :index 4648}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 17586486313, :index 4650}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 17588320831, :error :connect, :index 4652}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 17602049167, :index 4656}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 17603660712, :error :connect, :index 4657}
{:type :invoke, :f :write, :value 3, :process 22, :time 17620137928, :index 4662}
{:type :fail, :f :write, :value 3, :process 22, :time 17622040563, :error :connect, :index 4663}
{:type :invoke, :f :cas, :value [0 3], :process 21, :time 17622281245, :index 4664}
{:type :fail, :f :cas, :value [0 3], :process 21, :time 17624142433, :error :connect, :index 4665}
{:type :invoke, :f :cas, :value [4 1], :process 29, :time 17632663339, :index 4670}
{:type :fail, :f :cas, :value [4 1], :process 29, :time 17634569906, :error :connect, :index 4671}
{:type :invoke, :f :write, :value 4, :process 7, :time 17641617266, :index 4674}
{:type :fail, :f :write, :value 4, :process 7, :time 17643205482, :error :connect, :index 4675}
{:type :invoke, :f :cas, :value [4 0], :process 22, :time 17650301929, :index 4676}
{:type :fail, :f :cas, :value [4 0], :process 22, :time 17652206197, :error :connect, :index 4677}
{:type :invoke, :f :read, :value nil, :process 22, :time 17664466593, :index 4678}
{:type :fail, :f :read, :value nil, :process 22, :time 17666105494, :error :connect, :index 4679}
{:type :invoke, :f :read, :value nil, :process 3, :time 17675567231, :index 4682}
{:type :fail, :f :read, :value nil, :process 3, :time 17677220243, :error :connect, :index 4683}
{:type :invoke, :f :cas, :value [4 1], :process 22, :time 17697367262, :index 4689}
{:type :fail, :f :cas, :value [4 1], :process 22, :time 17699340595, :error :connect, :index 4691}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 17703470178, :index 4692}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 17705272849, :error :connect, :index 4693}
{:type :invoke, :f :cas, :value [3 4], :process 5, :time 17713401834, :index 4694}
{:type :fail, :f :cas, :value [3 4], :process 5, :time 17715474973, :error :connect, :index 4696}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 17729935737, :index 4704}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 17731754543, :error :connect, :index 4705}
{:type :invoke, :f :read, :value nil, :process 8, :time 17741010552, :index 4708}
{:type :fail, :f :read, :value nil, :process 8, :time 17742915757, :error :connect, :index 4709}
{:type :invoke, :f :write, :value 2, :process 22, :time 17745628189, :index 4710}
{:type :fail, :f :write, :value 2, :process 22, :time 17747500752, :error :connect, :index 4711}
{:type :invoke, :f :read, :value nil, :process 4, :time 17748589293, :index 4712}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 17749585212, :index 4714}
{:type :fail, :f :read, :value nil, :process 4, :time 17750669236, :error :connect, :index 4715}
{:type :fail, :f :cas, :value [1 4], :process 0, :time 17751586660, :error :connect, :index 4718}
{:type :invoke, :f :cas, :value [3 0], :process 29, :time 17771860865, :index 4729}
{:type :fail, :f :cas, :value [3 0], :process 29, :time 17773949022, :error :connect, :index 4733}
{:type :invoke, :f :write, :value 2, :process 21, :time 17780412514, :index 4736}
{:type :fail, :f :write, :value 2, :process 21, :time 17782271515, :error :connect, :index 4737}
{:type :invoke, :f :read, :value nil, :process 3, :time 17838481419, :index 4764}
{:type :fail, :f :read, :value nil, :process 3, :time 17840604175, :error :connect, :index 4765}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
