{:type :invoke, :f :read, :value nil, :process 16, :time 2301548130, :index 802}
{:type :ok, :f :read, :value nil, :process 16, :time 2307743829, :index 803}
{:type :invoke, :f :read, :value nil, :process 18, :time 2313068075, :index 804}
{:type :ok, :f :read, :value nil, :process 18, :time 2318930324, :index 807}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 2319284036, :index 808}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 2321014041, :index 809}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 2327424271, :error :not-found, :index 812}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 2327774251, :error :not-found, :index 813}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 2332068845, :index 815}
{:type :invoke, :f :write, :value 3, :process 13, :time 2337025395, :index 817}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 2337608816, :error :not-found, :index 818}
{:type :ok, :f :write, :value 3, :process 13, :time 2342948309, :index 819}
{:type :invoke, :f :read, :value nil, :process 15, :time 2347698632, :index 821}
{:type :ok, :f :read, :value 3, :process 15, :time 2353350958, :index 823}
{:type :invoke, :f :read, :value nil, :process 10, :time 2355234235, :index 824}
{:type :ok, :f :read, :value 3, :process 10, :time 2360931342, :index 825}
{:type :invoke, :f :read, :value nil, :process 16, :time 2406036113, :index 830}
{:type :invoke, :f :read, :value nil, :process 18, :time 2409191623, :index 831}
{:type :ok, :f :read, :value 3, :process 16, :time 2411467654, :index 832}
{:type :ok, :f :read, :value 3, :process 18, :time 2414371161, :index 834}
{:type :invoke, :f :write, :value 1, :process 11, :time 2419867290, :index 837}
{:type :ok, :f :write, :value 1, :process 11, :time 2425101667, :index 839}
{:type :invoke, :f :read, :value nil, :process 10, :time 2434200688, :index 842}
{:type :ok, :f :read, :value 1, :process 10, :time 2439951564, :index 843}
{:type :invoke, :f :cas, :value [1 3], :process 11, :time 2442372355, :index 844}
{:type :ok, :f :cas, :value [1 3], :process 11, :time 2447629925, :index 845}
{:type :invoke, :f :write, :value 0, :process 13, :time 2452213086, :index 848}
{:type :ok, :f :write, :value 0, :process 13, :time 2457001464, :index 851}
{:type :invoke, :f :write, :value 1, :process 10, :time 2465205921, :index 852}
{:type :ok, :f :write, :value 1, :process 10, :time 2471594040, :index 855}
{:type :invoke, :f :read, :value nil, :process 16, :time 2472734350, :index 856}
{:type :invoke, :f :read, :value nil, :process 18, :time 2477616279, :index 857}
{:type :ok, :f :read, :value 1, :process 16, :time 2478246640, :index 858}
{:type :ok, :f :read, :value 1, :process 18, :time 2482185224, :index 859}
{:type :invoke, :f :write, :value 2, :process 18, :time 2485443903, :index 860}
{:type :ok, :f :write, :value 2, :process 18, :time 2489911348, :index 861}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 2490517926, :index 862}
{:type :ok, :f :cas, :value [2 4], :process 16, :time 2495201020, :index 864}
{:type :invoke, :f :write, :value 4, :process 10, :time 2495896812, :index 865}
{:type :ok, :f :write, :value 4, :process 10, :time 2500690243, :index 868}
{:type :invoke, :f :read, :value nil, :process 15, :time 2502615172, :index 869}
{:type :ok, :f :read, :value 4, :process 15, :time 2508748353, :index 871}
{:type :invoke, :f :cas, :value [0 1], :process 11, :time 2510891402, :index 872}
{:type :fail, :f :cas, :value [0 1], :process 11, :time 2515988744, :index 874}
{:type :invoke, :f :cas, :value [2 2], :process 13, :time 2568257388, :index 882}
{:type :fail, :f :cas, :value [2 2], :process 13, :time 2573231346, :index 883}
{:type :invoke, :f :cas, :value [4 2], :process 12, :time 2583530059, :index 885}
{:type :ok, :f :cas, :value [4 2], :process 12, :time 2588785009, :index 887}
{:type :invoke, :f :read, :value nil, :process 18, :time 2619196211, :index 893}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 2622058171, :index 894}
{:type :ok, :f :read, :value 2, :process 18, :time 2623906295, :index 896}
{:type :fail, :f :cas, :value [1 1], :process 12, :time 2627014683, :index 897}
{:type :invoke, :f :write, :value 2, :process 18, :time 2646204804, :index 903}
{:type :invoke, :f :cas, :value [2 0], :process 11, :time 2649156613, :index 904}
{:type :ok, :f :write, :value 2, :process 18, :time 2650302588, :index 906}
{:type :ok, :f :cas, :value [2 0], :process 11, :time 2653591073, :index 907}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 2662933256, :index 908}
{:type :fail, :f :cas, :value [4 4], :process 10, :time 2669102749, :index 909}
{:type :invoke, :f :read, :value nil, :process 18, :time 2672543106, :index 910}
{:type :invoke, :f :read, :value nil, :process 14, :time 2673026515, :index 911}
{:type :ok, :f :read, :value 0, :process 18, :time 2677012464, :index 912}
{:type :ok, :f :read, :value 0, :process 14, :time 2678770941, :index 913}
{:type :invoke, :f :write, :value 0, :process 15, :time 2681004819, :index 915}
{:type :invoke, :f :write, :value 1, :process 17, :time 2683072531, :index 916}
{:type :invoke, :f :cas, :value [1 3], :process 16, :time 2684475212, :index 917}
{:type :ok, :f :write, :value 0, :process 15, :time 2686485286, :index 919}
{:type :ok, :f :write, :value 1, :process 17, :time 2688450373, :index 921}
{:type :ok, :f :cas, :value [1 3], :process 16, :time 2690014016, :index 922}
{:type :invoke, :f :read, :value nil, :process 19, :time 2725695975, :index 928}
{:type :invoke, :f :cas, :value [1 2], :process 13, :time 2727497327, :index 931}
{:type :ok, :f :read, :value 3, :process 19, :time 2732229864, :index 935}
{:type :fail, :f :cas, :value [1 2], :process 13, :time 2732679870, :index 936}
{:type :invoke, :f :write, :value 4, :process 18, :time 2756279391, :index 943}
{:type :ok, :f :write, :value 4, :process 18, :time 2760110687, :index 945}
{:type :invoke, :f :read, :value nil, :process 18, :time 2763373096, :index 946}
{:type :invoke, :f :read, :value nil, :process 11, :time 2767849024, :index 947}
{:type :ok, :f :read, :value 4, :process 18, :time 2768506523, :index 948}
{:type :ok, :f :read, :value 4, :process 11, :time 2772948818, :index 949}
{:type :invoke, :f :read, :value nil, :process 15, :time 2774741741, :index 950}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 2777369524, :index 951}
{:type :ok, :f :read, :value 4, :process 15, :time 2779962010, :index 952}
{:type :fail, :f :cas, :value [0 3], :process 10, :time 2782790895, :index 953}
{:type :invoke, :f :read, :value nil, :process 10, :time 2785051209, :index 954}
{:type :ok, :f :read, :value 4, :process 10, :time 2790309107, :index 955}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 2805781950, :index 961}
{:type :invoke, :f :read, :value nil, :process 12, :time 2808277905, :index 962}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 2810594308, :index 964}
{:type :invoke, :f :cas, :value [0 0], :process 16, :time 2811290354, :index 965}
{:type :ok, :f :read, :value 4, :process 12, :time 2813762758, :index 966}
{:type :fail, :f :cas, :value [0 0], :process 16, :time 2816416637, :index 968}
{:type :invoke, :f :write, :value 2, :process 14, :time 2824027818, :index 970}
{:type :ok, :f :write, :value 2, :process 14, :time 2829017095, :index 971}
{:type :invoke, :f :read, :value nil, :process 10, :time 2856169316, :index 974}
{:type :invoke, :f :read, :value nil, :process 12, :time 2857027040, :index 975}
{:type :ok, :f :read, :value 2, :process 10, :time 2862286499, :index 976}
{:type :ok, :f :read, :value 2, :process 12, :time 2862419963, :index 977}
{:type :invoke, :f :write, :value 2, :process 19, :time 2870467250, :index 980}
{:type :ok, :f :write, :value 2, :process 19, :time 2876285303, :index 984}
{:type :invoke, :f :write, :value 4, :process 16, :time 2876690577, :index 985}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 2878617075, :index 987}
{:type :ok, :f :write, :value 4, :process 16, :time 2882295272, :index 991}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 2883798962, :index 992}
{:type :invoke, :f :cas, :value [1 0], :process 17, :time 2886698808, :index 994}
{:type :fail, :f :cas, :value [1 0], :process 17, :time 2891644040, :index 995}
{:type :invoke, :f :write, :value 2, :process 10, :time 2894041359, :index 996}
{:type :ok, :f :write, :value 2, :process 10, :time 2899399200, :index 998}
{:type :invoke, :f :write, :value 3, :process 14, :time 2901280120, :index 999}
{:type :ok, :f :write, :value 3, :process 14, :time 2907089871, :index 1003}
{:type :invoke, :f :read, :value nil, :process 13, :time 2915935345, :index 1006}
{:type :ok, :f :read, :value 3, :process 13, :time 2920350908, :index 1007}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 2925208184, :index 1008}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 2925842624, :index 1009}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 2930720163, :index 1010}
{:type :fail, :f :cas, :value [0 4], :process 18, :time 2931313168, :index 1011}
{:type :invoke, :f :read, :value nil, :process 15, :time 2946237630, :index 1016}
{:type :ok, :f :read, :value 3, :process 15, :time 2952434627, :index 1020}
{:type :invoke, :f :cas, :value [2 4], :process 19, :time 2976537051, :index 1022}
{:type :fail, :f :cas, :value [2 4], :process 19, :time 2988882245, :index 1025}
{:type :invoke, :f :write, :value 2, :process 11, :time 3000005328, :index 1029}
{:type :ok, :f :write, :value 2, :process 11, :time 3006085472, :index 1033}
{:type :invoke, :f :cas, :value [4 4], :process 14, :time 3006364019, :index 1034}
{:type :fail, :f :cas, :value [4 4], :process 14, :time 3014100159, :index 1039}
{:type :invoke, :f :read, :value nil, :process 16, :time 3018542115, :index 1041}
{:type :invoke, :f :read, :value nil, :process 15, :time 3020694085, :index 1042}
{:type :ok, :f :read, :value 2, :process 16, :time 3023742856, :index 1043}
{:type :ok, :f :read, :value 2, :process 15, :time 3025424726, :index 1045}
{:type :invoke, :f :write, :value 0, :process 10, :time 3035657083, :index 1047}
{:type :invoke, :f :write, :value 2, :process 12, :time 3040660940, :index 1048}
{:type :ok, :f :write, :value 0, :process 10, :time 3041455049, :index 1049}
{:type :invoke, :f :read, :value nil, :process 11, :time 3048334396, :index 1051}
{:type :ok, :f :read, :value 0, :process 11, :time 3053311349, :index 1053}
{:type :invoke, :f :read, :value nil, :process 17, :time 3060908308, :index 1054}
{:type :invoke, :f :cas, :value [4 0], :process 13, :time 3080622694, :index 1061}
{:type :fail, :f :cas, :value [4 0], :process 13, :time 3085399977, :index 1062}
{:type :invoke, :f :read, :value nil, :process 14, :time 3097358822, :index 1066}
{:type :ok, :f :read, :value 0, :process 14, :time 3102510825, :index 1067}
{:type :invoke, :f :read, :value nil, :process 18, :time 3124552104, :index 1073}
{:type :ok, :f :read, :value 0, :process 18, :time 3129682959, :index 1075}
{:type :invoke, :f :write, :value 2, :process 19, :time 3174194922, :index 1081}
{:type :ok, :f :write, :value 2, :process 19, :time 3179698112, :index 1085}
{:type :invoke, :f :cas, :value [3 4], :process 16, :time 3189002443, :index 1088}
{:type :invoke, :f :read, :value nil, :process 15, :time 3189686439, :index 1089}
{:type :fail, :f :cas, :value [3 4], :process 16, :time 3194648420, :index 1090}
{:type :ok, :f :read, :value 2, :process 15, :time 3195573594, :index 1091}
{:type :invoke, :f :write, :value 4, :process 11, :time 3199562163, :index 1092}
{:type :invoke, :f :read, :value nil, :process 10, :time 3200718964, :index 1093}
{:type :ok, :f :write, :value 4, :process 11, :time 3205263188, :index 1094}
{:type :ok, :f :read, :value 4, :process 10, :time 3206688034, :index 1095}
{:type :invoke, :f :cas, :value [1 2], :process 19, :time 3215946474, :index 1097}
{:type :invoke, :f :write, :value 0, :process 11, :time 3220534011, :index 1100}
{:type :fail, :f :cas, :value [1 2], :process 19, :time 3224930284, :index 1101}
{:type :ok, :f :write, :value 0, :process 11, :time 3226351191, :index 1103}
{:type :invoke, :f :read, :value nil, :process 13, :time 3233675603, :index 1105}
{:type :ok, :f :read, :value 0, :process 13, :time 3238340102, :index 1106}
{:type :invoke, :f :write, :value 0, :process 14, :time 3246773685, :index 1109}
{:type :ok, :f :write, :value 0, :process 14, :time 3253534145, :index 1111}
{:type :invoke, :f :write, :value 3, :process 11, :time 3269613908, :index 1115}
{:type :invoke, :f :write, :value 2, :process 14, :time 3270787654, :index 1117}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 3272921121, :index 1118}
{:type :ok, :f :write, :value 3, :process 11, :time 3275204384, :index 1119}
{:type :ok, :f :write, :value 2, :process 14, :time 3276493622, :index 1120}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 3277764931, :index 1121}
{:type :invoke, :f :write, :value 3, :process 14, :time 3281742189, :index 1122}
{:type :invoke, :f :write, :value 4, :process 11, :time 3282463242, :index 1123}
{:type :ok, :f :write, :value 3, :process 14, :time 3287530190, :index 1124}
{:type :ok, :f :write, :value 4, :process 11, :time 3288022835, :index 1125}
{:type :invoke, :f :write, :value 4, :process 15, :time 3293825401, :index 1126}
{:type :invoke, :f :read, :value nil, :process 16, :time 3297912103, :index 1127}
{:type :ok, :f :write, :value 4, :process 15, :time 3299421518, :index 1129}
{:type :ok, :f :read, :value 4, :process 16, :time 3302713503, :index 1131}
{:type :invoke, :f :write, :value 1, :process 15, :time 3318696993, :index 1137}
{:type :ok, :f :write, :value 1, :process 15, :time 3324008123, :index 1139}
{:type :invoke, :f :write, :value 1, :process 19, :time 3350196008, :index 1145}
{:type :ok, :f :write, :value 1, :process 19, :time 3355621399, :index 1147}
{:type :invoke, :f :cas, :value [1 2], :process 11, :time 3363274525, :index 1150}
{:type :ok, :f :cas, :value [1 2], :process 11, :time 3368939351, :index 1151}
{:type :invoke, :f :write, :value 3, :process 14, :time 3371800746, :index 1152}
{:type :invoke, :f :cas, :value [0 1], :process 11, :time 3378199225, :index 1156}
{:type :ok, :f :write, :value 3, :process 14, :time 3378855890, :index 1157}
{:type :fail, :f :cas, :value [0 1], :process 11, :time 3382972431, :index 1159}
{:type :invoke, :f :write, :value 4, :process 10, :time 3391942931, :index 1161}
{:type :ok, :f :write, :value 4, :process 10, :time 3398923382, :index 1166}
{:type :invoke, :f :cas, :value [4 0], :process 14, :time 3399130440, :index 1167}
{:type :ok, :f :write, :value 2, :process 12, :time 3399721935, :index 1168}
{:type :ok, :f :read, :value 2, :process 17, :time 3400390674, :index 1170}
{:type :invoke, :f :read, :value nil, :process 15, :time 3404278491, :index 1173}
{:type :fail, :f :cas, :value [4 0], :process 14, :time 3404653625, :index 1174}
{:type :ok, :f :read, :value 2, :process 15, :time 3409941051, :index 1177}
{:type :invoke, :f :write, :value 4, :process 18, :time 3430052562, :index 1180}
{:type :ok, :f :write, :value 4, :process 18, :time 3434708322, :index 1182}
{:type :invoke, :f :write, :value 1, :process 13, :time 3435636480, :index 1183}
{:type :ok, :f :write, :value 1, :process 13, :time 3440667820, :index 1185}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 3444955699, :index 1186}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 3450807377, :index 1188}
{:type :invoke, :f :write, :value 1, :process 19, :time 3469861526, :index 1195}
{:type :ok, :f :write, :value 1, :process 19, :time 3475255427, :index 1201}
{:type :invoke, :f :write, :value 0, :process 10, :time 3485168501, :index 1206}
{:type :ok, :f :write, :value 0, :process 10, :time 3491314607, :index 1209}
{:type :invoke, :f :write, :value 3, :process 11, :time 3519230409, :index 1216}
{:type :ok, :f :write, :value 3, :process 11, :time 3524600293, :index 1217}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
