{:type :invoke, :f :cas, :value [3 2], :process 0, :time 1269114044, :index 373}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 1275663875, :error :not-found, :index 375}
{:type :invoke, :f :read, :value nil, :process 8, :time 1300469418, :index 379}
{:type :ok, :f :read, :value nil, :process 8, :time 1306328272, :index 383}
{:type :invoke, :f :write, :value 1, :process 5, :time 1345102927, :index 396}
{:type :ok, :f :write, :value 1, :process 5, :time 1351130954, :index 397}
{:type :invoke, :f :write, :value 3, :process 2, :time 1379479907, :index 406}
{:type :ok, :f :write, :value 3, :process 2, :time 1384974398, :index 408}
{:type :invoke, :f :cas, :value [4 3], :process 2, :time 1389397681, :index 412}
{:type :invoke, :f :read, :value nil, :process 9, :time 1390951675, :index 415}
{:type :fail, :f :cas, :value [4 3], :process 2, :time 1395199455, :index 417}
{:type :ok, :f :read, :value 3, :process 9, :time 1396383727, :index 418}
{:type :invoke, :f :read, :value nil, :process 5, :time 1411429796, :index 420}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 1412510625, :index 421}
{:type :invoke, :f :cas, :value [2 0], :process 7, :time 1414846010, :index 422}
{:type :ok, :f :read, :value 3, :process 5, :time 1417203555, :index 424}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 1419289900, :index 425}
{:type :fail, :f :cas, :value [2 0], :process 7, :time 1421502434, :index 426}
{:type :invoke, :f :cas, :value [0 3], :process 1, :time 1434744898, :index 432}
{:type :invoke, :f :read, :value nil, :process 3, :time 1435430262, :index 433}
{:type :ok, :f :read, :value 3, :process 3, :time 1440696892, :index 437}
{:type :fail, :f :cas, :value [0 3], :process 1, :time 1441019166, :index 438}
{:type :invoke, :f :read, :value nil, :process 2, :time 1444502081, :index 441}
{:type :ok, :f :read, :value 3, :process 2, :time 1449786975, :index 443}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 1462001382, :index 444}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 1468446031, :index 445}
{:type :invoke, :f :write, :value 0, :process 0, :time 1479793056, :index 448}
{:type :invoke, :f :write, :value 4, :process 8, :time 1484680533, :index 452}
{:type :ok, :f :write, :value 0, :process 0, :time 1485852707, :index 453}
{:type :ok, :f :write, :value 4, :process 8, :time 1490941443, :index 455}
{:type :invoke, :f :cas, :value [3 2], :process 1, :time 1498296412, :index 456}
{:type :invoke, :f :read, :value nil, :process 6, :time 1499065704, :index 457}
{:type :ok, :f :read, :value 4, :process 6, :time 1505433674, :index 459}
{:type :fail, :f :cas, :value [3 2], :process 1, :time 1506365488, :index 460}
{:type :invoke, :f :write, :value 2, :process 5, :time 1529511817, :index 465}
{:type :invoke, :f :write, :value 0, :process 6, :time 1531878363, :index 467}
{:type :ok, :f :write, :value 2, :process 5, :time 1534961710, :index 468}
{:type :ok, :f :write, :value 0, :process 6, :time 1537551057, :index 469}
{:type :invoke, :f :write, :value 3, :process 7, :time 1540850873, :index 470}
{:type :ok, :f :write, :value 3, :process 7, :time 1545847271, :index 471}
{:type :invoke, :f :cas, :value [2 3], :process 9, :time 1576712098, :index 480}
{:type :fail, :f :cas, :value [2 3], :process 9, :time 1581955080, :index 481}
{:type :invoke, :f :write, :value 2, :process 4, :time 1594633193, :index 484}
{:type :ok, :f :write, :value 2, :process 4, :time 1600282485, :index 485}
{:type :invoke, :f :write, :value 4, :process 7, :time 1609262314, :index 489}
{:type :invoke, :f :cas, :value [1 1], :process 1, :time 1613661324, :index 493}
{:type :invoke, :f :write, :value 4, :process 8, :time 1614260472, :index 494}
{:type :ok, :f :write, :value 4, :process 7, :time 1614970816, :index 495}
{:type :ok, :f :write, :value 4, :process 8, :time 1619674921, :index 496}
{:type :fail, :f :cas, :value [1 1], :process 1, :time 1619759115, :index 497}
{:type :invoke, :f :read, :value nil, :process 3, :time 1623590320, :index 500}
{:type :ok, :f :read, :value 4, :process 3, :time 1629532806, :index 503}
{:type :invoke, :f :write, :value 0, :process 8, :time 1633634704, :index 506}
{:type :invoke, :f :cas, :value [4 2], :process 9, :time 1635321889, :index 507}
{:type :ok, :f :write, :value 0, :process 8, :time 1639861200, :index 510}
{:type :fail, :f :cas, :value [4 2], :process 9, :time 1642024538, :index 511}
{:type :invoke, :f :write, :value 2, :process 6, :time 1643996699, :index 512}
{:type :invoke, :f :read, :value nil, :process 2, :time 1649136084, :index 513}
{:type :invoke, :f :cas, :value [3 3], :process 1, :time 1650041425, :index 514}
{:type :ok, :f :write, :value 2, :process 6, :time 1650791753, :index 515}
{:type :invoke, :f :write, :value 2, :process 0, :time 1652167131, :index 516}
{:type :ok, :f :read, :value 2, :process 2, :time 1654952102, :index 517}
{:type :fail, :f :cas, :value [3 3], :process 1, :time 1657315879, :index 518}
{:type :ok, :f :write, :value 2, :process 0, :time 1658260123, :index 519}
{:type :invoke, :f :read, :value nil, :process 6, :time 1669126948, :index 521}
{:type :invoke, :f :read, :value nil, :process 2, :time 1674298698, :index 523}
{:type :ok, :f :read, :value 2, :process 6, :time 1674713435, :index 524}
{:type :invoke, :f :read, :value nil, :process 7, :time 1676307177, :index 527}
{:type :invoke, :f :read, :value nil, :process 5, :time 1680313904, :index 530}
{:type :ok, :f :read, :value 2, :process 2, :time 1682870647, :index 532}
{:type :ok, :f :read, :value 2, :process 7, :time 1683806868, :index 534}
{:type :ok, :f :read, :value 2, :process 5, :time 1687818822, :index 536}
{:type :invoke, :f :write, :value 3, :process 3, :time 1750817636, :index 546}
{:type :ok, :f :write, :value 3, :process 3, :time 1755163689, :index 548}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 1779997740, :index 553}
{:type :invoke, :f :read, :value nil, :process 1, :time 1784701556, :index 555}
{:type :invoke, :f :write, :value 0, :process 4, :time 1789582859, :index 556}
{:type :ok, :f :write, :value 0, :process 4, :time 1795307687, :index 557}
{:type :invoke, :f :read, :value nil, :process 8, :time 1802144826, :index 561}
{:type :invoke, :f :read, :value nil, :process 9, :time 1804337485, :index 562}
{:type :invoke, :f :cas, :value [0 1], :process 7, :time 1805445933, :index 564}
{:type :invoke, :f :write, :value 4, :process 5, :time 1806098585, :index 566}
{:type :ok, :f :read, :value 0, :process 8, :time 1807311042, :index 567}
{:type :ok, :f :read, :value 0, :process 9, :time 1812758988, :index 569}
{:type :ok, :f :cas, :value [0 1], :process 7, :time 1813135671, :index 570}
{:type :ok, :f :write, :value 4, :process 5, :time 1813920882, :index 571}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 1818545967, :index 572}
{:type :invoke, :f :write, :value 1, :process 2, :time 1823195096, :index 573}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 1824727964, :index 574}
{:type :ok, :f :write, :value 1, :process 2, :time 1828196350, :index 576}
{:type :invoke, :f :read, :value nil, :process 8, :time 1831603509, :index 577}
{:type :ok, :f :read, :value 1, :process 8, :time 1836482121, :index 580}
{:type :invoke, :f :write, :value 4, :process 8, :time 1841784616, :index 582}
{:type :ok, :f :write, :value 4, :process 8, :time 1846243044, :index 583}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 1846467098, :index 584}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 1851914156, :index 585}
{:type :invoke, :f :write, :value 0, :process 3, :time 1885195415, :index 588}
{:type :ok, :f :write, :value 0, :process 3, :time 1890524445, :index 590}
{:type :invoke, :f :write, :value 0, :process 7, :time 1924398177, :index 598}
{:type :ok, :f :write, :value 0, :process 7, :time 1929974923, :index 599}
{:type :invoke, :f :cas, :value [2 3], :process 9, :time 1962064585, :index 603}
{:type :invoke, :f :read, :value nil, :process 2, :time 1964475261, :index 604}
{:type :fail, :f :cas, :value [2 3], :process 9, :time 1968442823, :index 607}
{:type :ok, :f :read, :value 0, :process 2, :time 1969994350, :index 608}
{:type :invoke, :f :read, :value nil, :process 3, :time 1970909724, :index 609}
{:type :ok, :f :read, :value 0, :process 3, :time 1976387726, :index 611}
{:type :invoke, :f :read, :value nil, :process 2, :time 1978293261, :index 612}
{:type :ok, :f :read, :value 0, :process 2, :time 1983654404, :index 613}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 1983632123, :index 614}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 1989487801, :index 616}
{:type :invoke, :f :read, :value nil, :process 5, :time 1993194791, :index 617}
{:type :ok, :f :read, :value 0, :process 5, :time 1999387250, :index 619}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 2007008091, :index 621}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 2013402040, :index 623}
{:type :invoke, :f :cas, :value [4 0], :process 2, :time 2019952941, :index 624}
{:type :fail, :f :cas, :value [4 0], :process 2, :time 2026038298, :index 625}
{:type :invoke, :f :write, :value 4, :process 2, :time 2028318986, :index 626}
{:type :ok, :f :write, :value 4, :process 2, :time 2034223676, :index 627}
{:type :invoke, :f :read, :value nil, :process 8, :time 2039527587, :index 629}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 2042698803, :index 631}
{:type :ok, :f :read, :value 4, :process 8, :time 2044140219, :index 632}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 2048718199, :index 633}
{:type :invoke, :f :read, :value nil, :process 5, :time 2049671999, :index 634}
{:type :ok, :f :read, :value 4, :process 5, :time 2055613357, :index 635}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 2064255156, :index 636}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 2070435635, :index 638}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 2070715626, :index 639}
{:type :ok, :f :cas, :value [4 0], :process 8, :time 2075629868, :index 642}
{:type :invoke, :f :read, :value nil, :process 2, :time 2083509660, :index 643}
{:type :ok, :f :read, :value 0, :process 2, :time 2089767289, :index 644}
{:type :invoke, :f :read, :value nil, :process 9, :time 2105749810, :index 646}
{:type :invoke, :f :write, :value 4, :process 7, :time 2113998712, :index 651}
{:type :ok, :f :write, :value 4, :process 7, :time 2119730504, :index 654}
{:type :invoke, :f :write, :value 3, :process 4, :time 2127703121, :index 657}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 2136055966, :index 658}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 2142911604, :index 659}
{:type :invoke, :f :read, :value nil, :process 3, :time 2147681017, :index 660}
{:type :ok, :f :read, :value 4, :process 3, :time 2152395347, :index 661}
{:type :invoke, :f :read, :value nil, :process 7, :time 2193014309, :index 667}
{:type :ok, :f :read, :value 4, :process 7, :time 2199357027, :index 671}
{:type :invoke, :f :write, :value 2, :process 5, :time 2232906453, :index 678}
{:type :ok, :f :write, :value 2, :process 5, :time 2239063885, :index 679}
{:type :invoke, :f :read, :value nil, :process 0, :time 2258192194, :index 682}
{:type :invoke, :f :read, :value nil, :process 8, :time 2260923605, :index 683}
{:type :ok, :f :read, :value 2, :process 0, :time 2263821082, :index 684}
{:type :ok, :f :read, :value 2, :process 8, :time 2265892635, :index 685}
{:type :invoke, :f :write, :value 3, :process 2, :time 2286062151, :index 691}
{:type :ok, :f :write, :value 3, :process 2, :time 2292122261, :index 693}
{:type :invoke, :f :write, :value 2, :process 0, :time 2304141212, :index 696}
{:type :ok, :f :write, :value 2, :process 0, :time 2309923071, :index 698}
{:type :invoke, :f :write, :value 2, :process 0, :time 2320230726, :index 701}
{:type :invoke, :f :read, :value nil, :process 2, :time 2320531770, :index 702}
{:type :ok, :f :write, :value 2, :process 0, :time 2326094068, :index 704}
{:type :ok, :f :read, :value 2, :process 2, :time 2326850013, :index 705}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 2332676360, :index 706}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 2337776202, :index 707}
{:type :invoke, :f :write, :value 3, :process 7, :time 2350699384, :index 708}
{:type :invoke, :f :write, :value 4, :process 8, :time 2353179923, :index 709}
{:type :ok, :f :write, :value 3, :process 7, :time 2357349165, :index 710}
{:type :ok, :f :write, :value 4, :process 8, :time 2357726064, :index 711}
{:type :invoke, :f :cas, :value [0 2], :process 2, :time 2381132432, :index 717}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 2402394052, :index 719}
{:type :invoke, :f :read, :value nil, :process 5, :time 2415353964, :index 720}
{:type :invoke, :f :write, :value 0, :process 7, :time 2417682133, :index 721}
{:type :invoke, :f :read, :value nil, :process 3, :time 2474062726, :index 726}
{:type :invoke, :f :cas, :value [4 1], :process 8, :time 2536996333, :index 728}
{:type :ok, :f :read, :value 0, :process 3, :time 2643322690, :index 731}
{:type :ok, :f :read, :value 4, :process 5, :time 2643861124, :index 732}
{:type :ok, :f :read, :value 0, :process 1, :time 2644826310, :index 736}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 2645791902, :index 738}
{:type :ok, :f :write, :value 0, :process 7, :time 2646119888, :index 739}
{:type :fail, :f :cas, :value [4 1], :process 8, :time 2647326823, :index 742}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 2647749415, :index 743}
{:type :fail, :f :cas, :value [0 2], :process 2, :time 2648873449, :index 744}
{:type :invoke, :f :write, :value 3, :process 2, :time 2680179750, :index 749}
{:type :ok, :f :write, :value 3, :process 2, :time 2686595924, :index 750}
{:type :invoke, :f :read, :value nil, :process 0, :time 2701021299, :index 753}
{:type :ok, :f :read, :value 3, :process 0, :time 2706063721, :index 755}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 2743081942, :index 758}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 2749072978, :index 759}
{:type :invoke, :f :read, :value nil, :process 7, :time 2764411639, :index 761}
{:type :invoke, :f :write, :value 1, :process 6, :time 2768434116, :index 764}
{:type :ok, :f :read, :value 3, :process 7, :time 2769767198, :index 765}
{:type :invoke, :f :read, :value nil, :process 2, :time 2772910133, :index 768}
{:type :ok, :f :write, :value 1, :process 6, :time 2775576074, :index 770}
{:type :ok, :f :read, :value 1, :process 2, :time 2778223405, :index 771}
{:type :invoke, :f :write, :value 1, :process 3, :time 2779671500, :index 773}
{:type :ok, :f :write, :value 1, :process 3, :time 2784897390, :index 776}
{:type :invoke, :f :write, :value 4, :process 5, :time 2800163113, :index 780}
{:type :ok, :f :write, :value 4, :process 5, :time 2807263376, :index 784}
{:type :invoke, :f :read, :value nil, :process 1, :time 2831137932, :index 788}
{:type :ok, :f :read, :value 4, :process 1, :time 2836407458, :index 789}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 2844418476, :index 791}
{:type :invoke, :f :cas, :value [4 3], :process 8, :time 2846602832, :index 794}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 2850405956, :index 795}
{:type :ok, :f :cas, :value [4 3], :process 8, :time 2851963249, :index 796}
{:type :invoke, :f :write, :value 2, :process 7, :time 2921078218, :index 815}
{:type :ok, :f :write, :value 2, :process 7, :time 2926578899, :index 817}
{:type :ok, :f :read, :value 0, :process 9, :time 3162090546, :index 884}
{:type :ok, :f :write, :value 3, :process 4, :time 3162629337, :index 885}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
