{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :invoke, :f :write, :value 4, :process 34, :time 33227614053, :index 10858}
{:type :invoke, :f :write, :value 4, :process 37, :time 33228281775, :index 10859}
{:type :fail, :f :write, :value 4, :process 34, :time 33229389657, :error :connect, :index 10860}
{:type :fail, :f :write, :value 4, :process 37, :time 33230311977, :error :connect, :index 10861}
{:type :invoke, :f :write, :value 0, :process 33, :time 33268980037, :index 10872}
{:type :fail, :f :write, :value 0, :process 33, :time 33270578215, :error :connect, :index 10873}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 33275450649, :index 10875}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 33277378916, :error :connect, :index 10878}
{:type :invoke, :f :cas, :value [4 2], :process 32, :time 33305247722, :index 10886}
{:type :fail, :f :cas, :value [4 2], :process 32, :time 33307354671, :error :connect, :index 10887}
{:type :invoke, :f :cas, :value [3 2], :process 15, :time 33309295152, :index 10888}
{:type :fail, :f :cas, :value [3 2], :process 15, :time 33311404623, :error :connect, :index 10890}
{:type :invoke, :f :write, :value 4, :process 39, :time 33311982213, :index 10891}
{:type :fail, :f :write, :value 4, :process 39, :time 33313991332, :error :connect, :index 10894}
{:type :invoke, :f :cas, :value [1 1], :process 15, :time 33318652390, :index 10896}
{:type :fail, :f :cas, :value [1 1], :process 15, :time 33320549654, :error :connect, :index 10897}
{:type :invoke, :f :write, :value 2, :process 34, :time 33332649008, :index 10898}
{:type :fail, :f :write, :value 2, :process 34, :time 33334441532, :error :connect, :index 10899}
{:type :invoke, :f :cas, :value [0 2], :process 11, :time 33335709025, :index 10900}
{:type :fail, :f :cas, :value [0 2], :process 11, :time 33337600525, :error :connect, :index 10901}
{:type :invoke, :f :read, :value nil, :process 39, :time 33349258434, :index 10903}
{:type :invoke, :f :read, :value nil, :process 37, :time 33349584284, :index 10904}
{:type :fail, :f :read, :value nil, :process 39, :time 33351209418, :error :connect, :index 10906}
{:type :fail, :f :read, :value nil, :process 37, :time 33351489304, :error :connect, :index 10907}
{:type :invoke, :f :cas, :value [0 0], :process 11, :time 33355876200, :index 10908}
{:type :fail, :f :cas, :value [0 0], :process 11, :time 33357646580, :error :connect, :index 10909}
{:type :invoke, :f :read, :value nil, :process 36, :time 33360959575, :index 10910}
{:type :fail, :f :read, :value nil, :process 36, :time 33362855520, :error :connect, :index 10911}
{:type :invoke, :f :write, :value 3, :process 10, :time 33362829367, :index 10912}
{:type :fail, :f :write, :value 3, :process 10, :time 33364964462, :error :connect, :index 10913}
{:type :invoke, :f :read, :value nil, :process 15, :time 33374731087, :index 10914}
{:type :fail, :f :read, :value nil, :process 15, :time 33376817754, :error :connect, :index 10915}
{:type :invoke, :f :write, :value 2, :process 33, :time 33382885225, :index 10918}
{:type :fail, :f :write, :value 2, :process 33, :time 33391814555, :error :connect, :index 10920}
{:type :invoke, :f :read, :value nil, :process 11, :time 33439911323, :index 10930}
{:type :fail, :f :read, :value nil, :process 11, :time 33441621299, :error :connect, :index 10931}
{:type :invoke, :f :read, :value nil, :process 18, :time 33443640998, :index 10932}
{:type :fail, :f :read, :value nil, :process 18, :time 33445794040, :error :connect, :index 10934}
{:type :invoke, :f :read, :value nil, :process 37, :time 33453739138, :index 10938}
{:type :fail, :f :read, :value nil, :process 37, :time 33455576206, :error :connect, :index 10939}
{:type :invoke, :f :write, :value 1, :process 37, :time 33465840493, :index 10946}
{:type :fail, :f :write, :value 1, :process 37, :time 33467509304, :error :connect, :index 10948}
{:type :invoke, :f :read, :value nil, :process 15, :time 33491099000, :index 10960}
{:type :fail, :f :read, :value nil, :process 15, :time 33493159724, :error :connect, :index 10961}
{:type :invoke, :f :read, :value nil, :process 11, :time 33503885564, :index 10963}
{:type :fail, :f :read, :value nil, :process 11, :time 33505651483, :error :connect, :index 10964}
{:type :invoke, :f :write, :value 0, :process 32, :time 33506629998, :index 10966}
{:type :fail, :f :write, :value 0, :process 32, :time 33508213488, :error :connect, :index 10967}
{:type :invoke, :f :read, :value nil, :process 11, :time 33512914291, :index 10968}
{:type :fail, :f :read, :value nil, :process 11, :time 33514799970, :error :connect, :index 10969}
{:type :invoke, :f :write, :value 4, :process 34, :time 33517714366, :index 10971}
{:type :invoke, :f :write, :value 4, :process 39, :time 33518477663, :index 10972}
{:type :fail, :f :write, :value 4, :process 34, :time 33519669005, :error :connect, :index 10973}
{:type :fail, :f :write, :value 4, :process 39, :time 33520481724, :error :connect, :index 10975}
{:type :invoke, :f :read, :value nil, :process 10, :time 33532224767, :index 10977}
{:type :fail, :f :read, :value nil, :process 10, :time 33534390795, :error :connect, :index 10980}
{:type :invoke, :f :cas, :value [0 4], :process 39, :time 33534736599, :index 10981}
{:type :fail, :f :cas, :value [0 4], :process 39, :time 33536615891, :error :connect, :index 10983}
{:type :invoke, :f :read, :value nil, :process 39, :time 33537870549, :index 10984}
{:type :invoke, :f :cas, :value [2 2], :process 36, :time 33538597022, :index 10985}
{:type :fail, :f :read, :value nil, :process 39, :time 33539614143, :error :connect, :index 10986}
{:type :fail, :f :cas, :value [2 2], :process 36, :time 33540297099, :error :connect, :index 10987}
{:type :invoke, :f :read, :value nil, :process 33, :time 33544053854, :index 10988}
{:type :fail, :f :read, :value nil, :process 33, :time 33545630335, :error :connect, :index 10989}
{:type :invoke, :f :write, :value 0, :process 37, :time 33554775766, :index 10992}
{:type :fail, :f :write, :value 0, :process 37, :time 33556378256, :error :connect, :index 10993}
{:type :invoke, :f :read, :value nil, :process 37, :time 33562637815, :index 10996}
{:type :fail, :f :read, :value nil, :process 37, :time 33564269922, :error :connect, :index 10997}
{:type :invoke, :f :write, :value 0, :process 33, :time 33567882500, :index 10998}
{:type :fail, :f :write, :value 0, :process 33, :time 33569466839, :error :connect, :index 10999}
{:type :invoke, :f :write, :value 4, :process 18, :time 33570075175, :index 11000}
{:type :fail, :f :write, :value 4, :process 18, :time 33571817239, :error :connect, :index 11001}
{:type :invoke, :f :cas, :value [1 4], :process 37, :time 33576526198, :index 11004}
{:type :fail, :f :cas, :value [1 4], :process 37, :time 33579286667, :error :connect, :index 11009}
{:type :invoke, :f :read, :value nil, :process 10, :time 33583624540, :index 11010}
{:type :fail, :f :read, :value nil, :process 10, :time 33585441331, :error :connect, :index 11011}
{:type :invoke, :f :cas, :value [1 3], :process 34, :time 33596931007, :index 11012}
{:type :invoke, :f :read, :value nil, :process 18, :time 33598096941, :index 11013}
{:type :fail, :f :cas, :value [1 3], :process 34, :time 33598945667, :error :connect, :index 11014}
{:type :fail, :f :read, :value nil, :process 18, :time 33599694381, :error :connect, :index 11015}
{:type :invoke, :f :write, :value 0, :process 39, :time 33622881271, :index 11018}
{:type :fail, :f :write, :value 0, :process 39, :time 33624683334, :error :connect, :index 11019}
{:type :invoke, :f :read, :value nil, :process 10, :time 33641709266, :index 11022}
{:type :invoke, :f :read, :value nil, :process 18, :time 33642948319, :index 11023}
{:type :fail, :f :read, :value nil, :process 10, :time 33643395672, :error :connect, :index 11024}
{:type :fail, :f :read, :value nil, :process 18, :time 33644727340, :error :connect, :index 11025}
{:type :invoke, :f :read, :value nil, :process 34, :time 33652209509, :index 11026}
{:type :fail, :f :read, :value nil, :process 34, :time 33654257760, :error :connect, :index 11027}
{:type :invoke, :f :read, :value nil, :process 32, :time 33667469180, :index 11030}
{:type :fail, :f :read, :value nil, :process 32, :time 33669362939, :error :connect, :index 11031}
{:type :invoke, :f :write, :value 3, :process 15, :time 33676418003, :index 11034}
{:type :fail, :f :write, :value 3, :process 15, :time 33678533408, :error :connect, :index 11036}
{:type :invoke, :f :cas, :value [1 3], :process 33, :time 33688724979, :index 11042}
{:type :fail, :f :cas, :value [1 3], :process 33, :time 33690364328, :error :connect, :index 11043}
{:type :invoke, :f :cas, :value [0 1], :process 11, :time 33696057478, :index 11044}
{:type :fail, :f :cas, :value [0 1], :process 11, :time 33698125692, :error :connect, :index 11045}
{:type :invoke, :f :cas, :value [0 2], :process 36, :time 33722547414, :index 11050}
{:type :fail, :f :cas, :value [0 2], :process 36, :time 33724388281, :error :connect, :index 11051}
{:type :invoke, :f :read, :value nil, :process 33, :time 33745629600, :index 11058}
{:type :fail, :f :read, :value nil, :process 33, :time 33747693893, :error :connect, :index 11059}
{:type :invoke, :f :cas, :value [1 4], :process 32, :time 33754623361, :index 11062}
{:type :fail, :f :cas, :value [1 4], :process 32, :time 33756475356, :error :connect, :index 11063}
{:type :invoke, :f :read, :value nil, :process 15, :time 33762735212, :index 11065}
{:type :fail, :f :read, :value nil, :process 15, :time 33764921720, :error :connect, :index 11067}
{:type :invoke, :f :read, :value nil, :process 37, :time 33776523237, :index 11074}
{:type :fail, :f :read, :value nil, :process 37, :time 33778363791, :error :connect, :index 11075}
{:type :invoke, :f :write, :value 3, :process 39, :time 33786960810, :index 11076}
{:type :fail, :f :write, :value 3, :process 39, :time 33788523982, :error :connect, :index 11077}
{:type :invoke, :f :cas, :value [2 0], :process 18, :time 33799982087, :index 11078}
{:type :fail, :f :cas, :value [2 0], :process 18, :time 33801924348, :error :connect, :index 11079}
{:type :invoke, :f :write, :value 0, :process 10, :time 33803644039, :index 11080}
{:type :fail, :f :write, :value 0, :process 10, :time 33805704043, :error :connect, :index 11081}
{:type :invoke, :f :read, :value nil, :process 34, :time 33824513044, :index 11084}
{:type :fail, :f :read, :value nil, :process 34, :time 33826306908, :error :connect, :index 11085}
{:type :invoke, :f :cas, :value [3 3], :process 11, :time 33843396642, :index 11090}
{:type :fail, :f :cas, :value [3 3], :process 11, :time 33845260159, :error :connect, :index 11093}
{:type :invoke, :f :write, :value 1, :process 37, :time 33855629198, :index 11096}
{:type :invoke, :f :write, :value 2, :process 32, :time 33855769605, :index 11097}
{:type :fail, :f :write, :value 2, :process 32, :time 33857356685, :error :connect, :index 11098}
{:type :fail, :f :write, :value 1, :process 37, :time 33857924916, :error :connect, :index 11099}
{:type :invoke, :f :write, :value 4, :process 18, :time 33861243815, :index 11102}
{:type :fail, :f :write, :value 4, :process 18, :time 33863323513, :error :connect, :index 11103}
{:type :invoke, :f :write, :value 0, :process 39, :time 33866789907, :index 11107}
{:type :fail, :f :write, :value 0, :process 39, :time 33868703768, :error :connect, :index 11109}
{:type :invoke, :f :cas, :value [0 3], :process 36, :time 33891652999, :index 11112}
{:type :fail, :f :cas, :value [0 3], :process 36, :time 33893602386, :error :connect, :index 11113}
{:type :invoke, :f :read, :value nil, :process 33, :time 33901954162, :index 11114}
{:type :fail, :f :read, :value nil, :process 33, :time 33903820290, :error :connect, :index 11115}
{:type :invoke, :f :cas, :value [3 1], :process 37, :time 33913184536, :index 11120}
{:type :invoke, :f :cas, :value [1 1], :process 34, :time 33913574762, :index 11121}
{:type :fail, :f :cas, :value [3 1], :process 37, :time 33915016099, :error :connect, :index 11125}
{:type :fail, :f :cas, :value [1 1], :process 34, :time 33915689602, :error :connect, :index 11126}
{:type :invoke, :f :write, :value 2, :process 39, :time 33916963207, :index 11128}
{:type :fail, :f :write, :value 2, :process 39, :time 33918708937, :error :connect, :index 11129}
{:type :invoke, :f :write, :value 1, :process 15, :time 33920103017, :index 11130}
{:type :fail, :f :write, :value 1, :process 15, :time 33922059911, :error :connect, :index 11131}
{:type :invoke, :f :read, :value nil, :process 36, :time 33936865077, :index 11132}
{:type :fail, :f :read, :value nil, :process 36, :time 33938722438, :error :connect, :index 11133}
{:type :invoke, :f :write, :value 0, :process 32, :time 33977617575, :index 11140}
{:type :fail, :f :write, :value 0, :process 32, :time 33979698311, :error :connect, :index 11141}
{:type :invoke, :f :cas, :value [4 1], :process 36, :time 33998009335, :index 11144}
{:type :fail, :f :cas, :value [4 1], :process 36, :time 34000046915, :error :connect, :index 11145}
{:type :invoke, :f :write, :value 2, :process 10, :time 34002971742, :index 11146}
{:type :fail, :f :write, :value 2, :process 10, :time 34004751568, :error :connect, :index 11147}
{:type :invoke, :f :read, :value nil, :process 36, :time 34029319689, :index 11152}
{:type :fail, :f :read, :value nil, :process 36, :time 34031173389, :error :connect, :index 11153}
{:type :invoke, :f :cas, :value [0 0], :process 34, :time 34032954891, :index 11154}
{:type :fail, :f :cas, :value [0 0], :process 34, :time 34034775640, :error :connect, :index 11156}
{:type :invoke, :f :read, :value nil, :process 11, :time 34036499722, :index 11158}
{:type :fail, :f :read, :value nil, :process 11, :time 34038215421, :error :connect, :index 11160}
{:type :invoke, :f :write, :value 0, :process 15, :time 34052326467, :index 11162}
{:type :fail, :f :write, :value 0, :process 15, :time 34054441922, :error :connect, :index 11163}
{:type :invoke, :f :write, :value 4, :process 18, :time 34054600008, :index 11164}
{:type :fail, :f :write, :value 4, :process 18, :time 34056607035, :error :connect, :index 11165}
{:type :invoke, :f :write, :value 2, :process 39, :time 34058970078, :index 11166}
{:type :fail, :f :write, :value 2, :process 39, :time 34060959525, :error :connect, :index 11167}
{:type :invoke, :f :write, :value 0, :process 33, :time 34064087037, :index 11170}
{:type :fail, :f :write, :value 0, :process 33, :time 34065699484, :error :connect, :index 11171}
{:type :invoke, :f :read, :value nil, :process 10, :time 34105008821, :index 11180}
{:type :fail, :f :read, :value nil, :process 10, :time 34106825649, :error :connect, :index 11181}
{:type :invoke, :f :cas, :value [3 2], :process 37, :time 34109258581, :index 11183}
{:type :fail, :f :cas, :value [3 2], :process 37, :time 34110931982, :error :connect, :index 11185}
{:type :invoke, :f :cas, :value [0 2], :process 34, :time 34116038598, :index 11186}
{:type :fail, :f :cas, :value [0 2], :process 34, :time 34118059642, :error :connect, :index 11188}
{:type :invoke, :f :cas, :value [1 3], :process 36, :time 34142432495, :index 11192}
{:type :fail, :f :cas, :value [1 3], :process 36, :time 34144157619, :error :connect, :index 11193}
{:type :invoke, :f :read, :value nil, :process 32, :time 34144959853, :index 11194}
{:type :fail, :f :read, :value nil, :process 32, :time 34146856311, :error :connect, :index 11196}
{:type :invoke, :f :read, :value nil, :process 15, :time 34177712182, :index 11206}
{:type :fail, :f :read, :value nil, :process 15, :time 34179724595, :error :connect, :index 11207}
{:type :invoke, :f :write, :value 4, :process 33, :time 34192956872, :index 11208}
{:type :invoke, :f :read, :value nil, :process 11, :time 34193532137, :index 11209}
{:type :fail, :f :write, :value 4, :process 33, :time 34195018977, :error :connect, :index 11211}
{:type :fail, :f :read, :value nil, :process 11, :time 34195359331, :error :connect, :index 11212}
{:type :invoke, :f :read, :value nil, :process 33, :time 34210275483, :index 11218}
{:type :fail, :f :read, :value nil, :process 33, :time 34212346178, :error :connect, :index 11219}
{:type :invoke, :f :read, :value nil, :process 34, :time 34215326236, :index 11220}
{:type :fail, :f :read, :value nil, :process 34, :time 34217321334, :error :connect, :index 11221}
{:type :invoke, :f :write, :value 4, :process 36, :time 34218428754, :index 11222}
{:type :fail, :f :write, :value 4, :process 36, :time 34220083650, :error :connect, :index 11223}
{:type :invoke, :f :cas, :value [2 0], :process 18, :time 34234906010, :index 11226}
{:type :fail, :f :cas, :value [2 0], :process 18, :time 34236786597, :error :connect, :index 11227}
{:type :invoke, :f :write, :value 2, :process 39, :time 34238227583, :index 11229}
{:type :fail, :f :write, :value 2, :process 39, :time 34240263993, :error :connect, :index 11231}
{:type :invoke, :f :read, :value nil, :process 10, :time 34249083128, :index 11234}
{:type :fail, :f :read, :value nil, :process 10, :time 34251158778, :error :connect, :index 11235}
{:type :invoke, :f :read, :value nil, :process 34, :time 34259597209, :index 11237}
{:type :fail, :f :read, :value nil, :process 34, :time 34261496488, :error :connect, :index 11240}
{:type :invoke, :f :write, :value 4, :process 32, :time 34272131125, :index 11242}
{:type :fail, :f :write, :value 4, :process 32, :time 34274167396, :error :connect, :index 11244}
{:type :invoke, :f :read, :value nil, :process 33, :time 34280628913, :index 11246}
{:type :fail, :f :read, :value nil, :process 33, :time 34282504199, :error :connect, :index 11247}
{:type :invoke, :f :cas, :value [0 4], :process 37, :time 34307191842, :index 11254}
{:type :fail, :f :cas, :value [0 4], :process 37, :time 34309167418, :error :connect, :index 11256}
{:type :invoke, :f :cas, :value [0 4], :process 36, :time 34310352176, :index 11257}
{:type :invoke, :f :write, :value 0, :process 15, :time 34311063783, :index 11259}
{:type :fail, :f :cas, :value [0 4], :process 36, :time 34312219547, :error :connect, :index 11260}
{:type :fail, :f :write, :value 0, :process 15, :time 34312856429, :error :connect, :index 11261}
{:type :invoke, :f :write, :value 1, :process 11, :time 34315591145, :index 11262}
{:type :fail, :f :write, :value 1, :process 11, :time 34317179233, :error :connect, :index 11263}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
