{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :invoke, :f :read, :value nil, :process 5, :time 30048375061, :index 6368}
{:type :ok, :f :read, :value nil, :process 5, :time 30053884395, :index 6372}
{:type :invoke, :f :write, :value 4, :process 0, :time 30108355383, :index 6386}
{:type :ok, :f :write, :value 4, :process 0, :time 30113191640, :index 6388}
{:type :invoke, :f :cas, :value [3 3], :process 26, :time 30143345431, :index 6396}
{:type :fail, :f :cas, :value [3 3], :process 26, :time 30149209321, :index 6399}
{:type :invoke, :f :read, :value nil, :process 26, :time 30165464104, :index 6401}
{:type :ok, :f :read, :value 4, :process 26, :time 30172024390, :index 6403}
{:type :invoke, :f :cas, :value [2 3], :process 28, :time 30190443790, :index 6408}
{:type :invoke, :f :read, :value nil, :process 5, :time 30193140011, :index 6409}
{:type :fail, :f :cas, :value [2 3], :process 28, :time 30196112779, :index 6410}
{:type :ok, :f :read, :value 4, :process 5, :time 30197590124, :index 6411}
{:type :invoke, :f :cas, :value [4 3], :process 28, :time 30263390511, :index 6414}
{:type :ok, :f :cas, :value [4 3], :process 28, :time 30269536072, :index 6415}
{:type :invoke, :f :read, :value nil, :process 26, :time 30292220791, :index 6416}
{:type :invoke, :f :write, :value 2, :process 0, :time 30299451069, :index 6420}
{:type :ok, :f :read, :value 3, :process 26, :time 30300525849, :index 6422}
{:type :ok, :f :write, :value 2, :process 0, :time 30305449874, :index 6425}
{:type :invoke, :f :read, :value nil, :process 1, :time 30325639025, :index 6428}
{:type :invoke, :f :read, :value nil, :process 0, :time 30327702063, :index 6429}
{:type :ok, :f :read, :value 2, :process 1, :time 30331034696, :index 6431}
{:type :invoke, :f :read, :value nil, :process 43, :time 30331365821, :index 6432}
{:type :ok, :f :read, :value 2, :process 0, :time 30332767365, :index 6433}
{:type :ok, :f :read, :value 2, :process 43, :time 30336383528, :index 6435}
{:type :invoke, :f :write, :value 4, :process 0, :time 30340044217, :index 6437}
{:type :ok, :f :write, :value 4, :process 0, :time 30345277249, :index 6439}
{:type :invoke, :f :cas, :value [3 4], :process 5, :time 30346848853, :index 6440}
{:type :fail, :f :cas, :value [3 4], :process 5, :time 30352099371, :index 6441}
{:type :invoke, :f :cas, :value [0 0], :process 28, :time 30363801560, :index 6442}
{:type :fail, :f :cas, :value [0 0], :process 28, :time 30369192219, :index 6443}
{:type :invoke, :f :read, :value nil, :process 0, :time 30383509769, :index 6446}
{:type :invoke, :f :cas, :value [4 1], :process 26, :time 30385769681, :index 6447}
{:type :ok, :f :read, :value 4, :process 0, :time 30388884876, :index 6448}
{:type :ok, :f :cas, :value [4 1], :process 26, :time 30391004149, :index 6450}
{:type :invoke, :f :read, :value nil, :process 43, :time 30394639563, :index 6452}
{:type :ok, :f :read, :value 1, :process 43, :time 30399631463, :index 6453}
{:type :invoke, :f :read, :value nil, :process 26, :time 30425284166, :index 6458}
{:type :ok, :f :read, :value 1, :process 26, :time 30430288934, :index 6459}
{:type :invoke, :f :write, :value 0, :process 1, :time 30436228118, :index 6461}
{:type :ok, :f :write, :value 0, :process 1, :time 30443540069, :index 6464}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 30456160006, :index 6468}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 30460410198, :index 6469}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 30502369477, :index 6479}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 30507276033, :index 6481}
{:type :invoke, :f :read, :value nil, :process 28, :time 30508455846, :index 6482}
{:type :invoke, :f :cas, :value [0 1], :process 26, :time 30510845885, :index 6483}
{:type :ok, :f :read, :value 0, :process 28, :time 30513009541, :index 6484}
{:type :ok, :f :cas, :value [0 1], :process 26, :time 30517170452, :index 6485}
{:type :invoke, :f :read, :value nil, :process 1, :time 30550812170, :index 6492}
{:type :ok, :f :read, :value 1, :process 1, :time 30556225147, :index 6493}
{:type :invoke, :f :write, :value 3, :process 43, :time 30574895191, :index 6496}
{:type :ok, :f :write, :value 3, :process 43, :time 30579635982, :index 6497}
{:type :invoke, :f :write, :value 0, :process 1, :time 30584529087, :index 6498}
{:type :invoke, :f :read, :value nil, :process 0, :time 30588676014, :index 6499}
{:type :ok, :f :write, :value 0, :process 1, :time 30589605611, :index 6500}
{:type :ok, :f :read, :value 0, :process 0, :time 30594017024, :index 6501}
{:type :invoke, :f :read, :value nil, :process 5, :time 30598525281, :index 6502}
{:type :ok, :f :read, :value 0, :process 5, :time 30603223067, :index 6503}
{:type :invoke, :f :write, :value 0, :process 0, :time 30608271320, :index 6505}
{:type :ok, :f :write, :value 0, :process 0, :time 30612345517, :index 6507}
{:type :invoke, :f :write, :value 1, :process 5, :time 30621474288, :index 6508}
{:type :ok, :f :write, :value 1, :process 5, :time 30626481394, :index 6509}
{:type :invoke, :f :write, :value 0, :process 26, :time 30692440357, :index 6526}
{:type :ok, :f :write, :value 0, :process 26, :time 30698231443, :index 6527}
{:type :invoke, :f :write, :value 3, :process 28, :time 30710272927, :index 6532}
{:type :ok, :f :write, :value 3, :process 28, :time 30717193650, :index 6533}
{:type :invoke, :f :read, :value nil, :process 5, :time 30725688046, :index 6534}
{:type :ok, :f :read, :value 3, :process 5, :time 30730582441, :index 6535}
{:type :invoke, :f :write, :value 3, :process 0, :time 30730600358, :index 6536}
{:type :invoke, :f :cas, :value [0 2], :process 28, :time 30733461651, :index 6537}
{:type :ok, :f :write, :value 3, :process 0, :time 30735540846, :index 6538}
{:type :fail, :f :cas, :value [0 2], :process 28, :time 30738725033, :index 6539}
{:type :invoke, :f :write, :value 1, :process 0, :time 30743791274, :index 6540}
{:type :ok, :f :write, :value 1, :process 0, :time 30748212330, :index 6541}
{:type :invoke, :f :write, :value 2, :process 43, :time 30754893780, :index 6542}
{:type :invoke, :f :cas, :value [2 1], :process 1, :time 30756876503, :index 6543}
{:type :ok, :f :write, :value 2, :process 43, :time 30761767735, :index 6544}
{:type :ok, :f :cas, :value [2 1], :process 1, :time 30762278148, :index 6545}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 30764483731, :index 6546}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 30769622238, :index 6548}
{:type :invoke, :f :write, :value 3, :process 0, :time 30778877612, :index 6550}
{:type :ok, :f :write, :value 3, :process 0, :time 30783732678, :index 6551}
{:type :invoke, :f :write, :value 0, :process 5, :time 30789864226, :index 6552}
{:type :invoke, :f :cas, :value [1 3], :process 26, :time 30798505332, :index 6554}
{:type :ok, :f :write, :value 0, :process 5, :time 30799986953, :index 6555}
{:type :fail, :f :cas, :value [1 3], :process 26, :time 30805178427, :index 6558}
{:type :invoke, :f :cas, :value [0 0], :process 43, :time 30822036480, :index 6566}
{:type :ok, :f :cas, :value [0 0], :process 43, :time 30827630199, :index 6568}
{:type :invoke, :f :cas, :value [3 2], :process 1, :time 30856530435, :index 6572}
{:type :fail, :f :cas, :value [3 2], :process 1, :time 30862533952, :index 6574}
{:type :invoke, :f :cas, :value [1 1], :process 26, :time 30896439441, :index 6580}
{:type :fail, :f :cas, :value [1 1], :process 26, :time 30902078810, :index 6582}
{:type :invoke, :f :cas, :value [0 4], :process 5, :time 30907246947, :index 6584}
{:type :invoke, :f :read, :value nil, :process 0, :time 30910031658, :index 6586}
{:type :invoke, :f :cas, :value [3 3], :process 28, :time 30911987631, :index 6588}
{:type :ok, :f :cas, :value [0 4], :process 5, :time 30912907701, :index 6589}
{:type :ok, :f :read, :value 4, :process 0, :time 30915639324, :index 6592}
{:type :fail, :f :cas, :value [3 3], :process 28, :time 30918537482, :index 6594}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :invoke, :f :cas, :value [0 2], :process 26, :time 30934364032, :index 6600}
{:type :invoke, :f :write, :value 2, :process 43, :time 30939904195, :index 6601}
{:type :fail, :f :cas, :value [0 2], :process 26, :time 30940246891, :index 6602}
{:type :ok, :f :write, :value 2, :process 43, :time 30945509163, :index 6604}
{:type :invoke, :f :write, :value 3, :process 1, :time 30946791143, :index 6605}
{:type :invoke, :f :read, :value nil, :process 28, :time 30950817158, :index 6606}
{:type :ok, :f :write, :value 3, :process 1, :time 30952021917, :index 6607}
{:type :ok, :f :read, :value 3, :process 28, :time 30955793985, :index 6608}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 30961150363, :index 6609}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 30967630791, :index 6610}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 30980864463, :index 6615}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 30985656492, :index 6617}
{:type :invoke, :f :read, :value nil, :process 1, :time 30991274785, :index 6618}
{:type :invoke, :f :write, :value 4, :process 47, :time 30995122110, :index 6620}
{:type :ok, :f :read, :value 3, :process 1, :time 30997162877, :index 6621}
{:type :invoke, :f :write, :value 4, :process 28, :time 31014046062, :index 6625}
{:type :invoke, :f :write, :value 0, :process 1, :time 31015420654, :index 6626}
{:type :ok, :f :write, :value 4, :process 28, :time 31023489960, :index 6627}
{:type :ok, :f :write, :value 0, :process 1, :time 31024730412, :index 6628}
{:type :invoke, :f :read, :value nil, :process 5, :time 31027891506, :index 6629}
{:type :ok, :f :read, :value 0, :process 5, :time 31032401123, :index 6631}
{:type :invoke, :f :read, :value nil, :process 22, :time 31070117511, :index 6638}
{:type :invoke, :f :write, :value 4, :process 28, :time 31091749710, :index 6645}
{:type :invoke, :f :write, :value 1, :process 1, :time 31092990499, :index 6646}
{:type :ok, :f :write, :value 4, :process 28, :time 31096427186, :index 6648}
{:type :ok, :f :write, :value 1, :process 1, :time 31098833435, :index 6649}
{:type :invoke, :f :cas, :value [3 0], :process 26, :time 31101509288, :index 6651}
{:type :fail, :f :cas, :value [3 0], :process 26, :time 31108304272, :index 6652}
{:type :invoke, :f :cas, :value [0 0], :process 9, :time 31116718580, :index 6653}
{:type :invoke, :f :cas, :value [2 0], :process 43, :time 31118772995, :index 6654}
{:type :invoke, :f :read, :value nil, :process 24, :time 31119525486, :index 6655}
{:type :fail, :f :cas, :value [2 0], :process 43, :time 31124911698, :index 6656}
{:type :invoke, :f :read, :value nil, :process 43, :time 31129178573, :index 6657}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :ok, :f :read, :value 1, :process 43, :time 31135238549, :index 6659}
{:type :invoke, :f :write, :value 3, :process 1, :time 31170101989, :index 6663}
{:type :ok, :f :write, :value 3, :process 1, :time 31175298425, :index 6665}
{:type :invoke, :f :cas, :value [0 0], :process 1, :time 31183542615, :index 6666}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 31183924568, :index 6667}
{:type :fail, :f :cas, :value [0 0], :process 1, :time 31189131527, :index 6668}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 31189466533, :index 6669}
{:type :invoke, :f :cas, :value [1 4], :process 43, :time 31202520012, :index 6671}
{:type :fail, :f :cas, :value [1 4], :process 43, :time 31209988432, :index 6673}
{:type :invoke, :f :cas, :value [4 1], :process 26, :time 31225582294, :index 6674}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 31230680993, :index 6675}
{:type :fail, :f :cas, :value [4 1], :process 26, :time 31230947656, :index 6676}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 31236087683, :index 6677}
{:type :invoke, :f :cas, :value [2 4], :process 5, :time 31246367163, :index 6682}
{:type :fail, :f :cas, :value [2 4], :process 5, :time 31251680426, :index 6684}
{:type :invoke, :f :cas, :value [4 2], :process 28, :time 31286695237, :index 6690}
{:type :fail, :f :cas, :value [4 2], :process 28, :time 31291976865, :index 6691}
{:type :invoke, :f :read, :value nil, :process 1, :time 31301395200, :index 6692}
{:type :ok, :f :read, :value 3, :process 1, :time 31306319622, :index 6694}
{:type :invoke, :f :read, :value nil, :process 28, :time 31317230330, :index 6696}
{:type :ok, :f :read, :value 3, :process 28, :time 31322707622, :index 6698}
{:type :invoke, :f :write, :value 4, :process 43, :time 31328246341, :index 6700}
{:type :ok, :f :write, :value 4, :process 43, :time 31333168839, :index 6701}
{:type :invoke, :f :read, :value nil, :process 0, :time 31351738514, :index 6706}
{:type :ok, :f :read, :value 4, :process 0, :time 31356689576, :index 6707}
{:type :invoke, :f :read, :value nil, :process 26, :time 31371209895, :index 6708}
{:type :ok, :f :read, :value 4, :process 26, :time 31378033609, :index 6709}
{:type :invoke, :f :cas, :value [2 1], :process 43, :time 31381430674, :index 6711}
{:type :invoke, :f :read, :value nil, :process 0, :time 31390944233, :index 6712}
{:type :invoke, :f :write, :value 3, :process 1, :time 31439616150, :index 6715}
{:type :invoke, :f :read, :value nil, :process 5, :time 31443928972, :index 6717}
{:type :invoke, :f :read, :value nil, :process 26, :time 31455285437, :index 6718}
{:type :invoke, :f :cas, :value [1 1], :process 28, :time 31463970367, :index 6720}
{:type :fail, :f :cas, :value [2 1], :process 43, :time 31558533668, :index 6722}
{:type :ok, :f :read, :value 4, :process 0, :time 31560249029, :index 6725}
{:type :ok, :f :read, :value 3, :process 5, :time 31560329304, :index 6726}
{:type :fail, :f :cas, :value [1 1], :process 28, :time 31561101846, :index 6728}
{:type :ok, :f :read, :value 3, :process 26, :time 31561395166, :index 6729}
{:type :ok, :f :write, :value 3, :process 1, :time 31562637133, :index 6733}
{:type :invoke, :f :write, :value 3, :process 28, :time 31577330198, :index 6734}
{:type :ok, :f :write, :value 3, :process 28, :time 31582895058, :index 6735}
{:type :invoke, :f :read, :value nil, :process 43, :time 31588014051, :index 6736}
{:type :ok, :f :read, :value 3, :process 43, :time 31593404134, :index 6737}
{:type :invoke, :f :cas, :value [0 1], :process 28, :time 31595156719, :index 6738}
{:type :fail, :f :cas, :value [0 1], :process 28, :time 31600278498, :index 6739}
{:type :invoke, :f :read, :value nil, :process 43, :time 31601613769, :index 6741}
{:type :ok, :f :read, :value 3, :process 43, :time 31607439603, :index 6744}
{:type :invoke, :f :cas, :value [4 2], :process 28, :time 31610542416, :index 6746}
{:type :fail, :f :cas, :value [4 2], :process 28, :time 31615371818, :index 6747}
{:type :invoke, :f :cas, :value [0 1], :process 26, :time 31626659647, :index 6748}
{:type :fail, :f :cas, :value [0 1], :process 26, :time 31632284275, :index 6749}
{:type :invoke, :f :read, :value nil, :process 0, :time 31668542876, :index 6752}
{:type :invoke, :f :cas, :value [0 3], :process 5, :time 31671556265, :index 6753}
{:type :ok, :f :read, :value 3, :process 0, :time 31673099563, :index 6754}
{:type :fail, :f :cas, :value [0 3], :process 5, :time 31676787655, :index 6755}
{:type :invoke, :f :read, :value nil, :process 43, :time 31676732571, :index 6756}
{:type :ok, :f :read, :value 3, :process 43, :time 31682026136, :index 6758}
{:type :invoke, :f :read, :value nil, :process 28, :time 31692676696, :index 6760}
{:type :ok, :f :read, :value 3, :process 28, :time 31700218480, :index 6761}
{:type :invoke, :f :read, :value nil, :process 26, :time 31709545239, :index 6767}
{:type :ok, :f :read, :value 3, :process 26, :time 31716824832, :index 6769}
{:type :invoke, :f :write, :value 4, :process 1, :time 31735869299, :index 6776}
{:type :ok, :f :write, :value 4, :process 1, :time 31741445514, :index 6777}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 31764424543, :index 6782}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 31770671812, :index 6783}
{:type :ok, :f :read, :value 4, :process 22, :time 33138680408, :index 6861}
{:type :ok, :f :write, :value 4, :process 47, :time 33138803715, :index 6862}
{:type :ok, :f :read, :value 4, :process 24, :time 33139849009, :index 6866}
{:type :fail, :f :cas, :value [0 0], :process 9, :time 33140890082, :index 6871}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
