{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 43174365614, :index 14742}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 43176510956, :error :connect, :index 14743}
{:type :invoke, :f :read, :value nil, :process 29, :time 43215964235, :index 14762}
{:type :fail, :f :read, :value nil, :process 29, :time 43217824689, :error :connect, :index 14764}
{:type :invoke, :f :write, :value 3, :process 5, :time 43284484094, :index 14784}
{:type :fail, :f :write, :value 3, :process 5, :time 43286302273, :error :connect, :index 14785}
{:type :invoke, :f :write, :value 0, :process 4, :time 43308744673, :index 14790}
{:type :fail, :f :write, :value 0, :process 4, :time 43310534618, :error :connect, :index 14791}
{:type :invoke, :f :read, :value nil, :process 22, :time 43312509716, :index 14792}
{:type :fail, :f :read, :value nil, :process 22, :time 43314399706, :error :connect, :index 14793}
{:type :invoke, :f :write, :value 4, :process 7, :time 43320944774, :index 14794}
{:type :fail, :f :write, :value 4, :process 7, :time 43322614362, :error :connect, :index 14795}
{:type :invoke, :f :write, :value 2, :process 0, :time 43346628151, :index 14796}
{:type :fail, :f :write, :value 2, :process 0, :time 43348786931, :error :connect, :index 14797}
{:type :invoke, :f :write, :value 1, :process 8, :time 43353960105, :index 14801}
{:type :fail, :f :write, :value 1, :process 8, :time 43355770799, :error :connect, :index 14803}
{:type :invoke, :f :write, :value 0, :process 22, :time 43364663310, :index 14810}
{:type :fail, :f :write, :value 0, :process 22, :time 43366306131, :error :connect, :index 14811}
{:type :invoke, :f :cas, :value [3 4], :process 8, :time 43370015870, :index 14812}
{:type :fail, :f :cas, :value [3 4], :process 8, :time 43372187557, :error :connect, :index 14813}
{:type :invoke, :f :read, :value nil, :process 6, :time 43385689825, :index 14816}
{:type :fail, :f :read, :value nil, :process 6, :time 43387306829, :error :connect, :index 14817}
{:type :invoke, :f :cas, :value [3 2], :process 21, :time 43389684865, :index 14818}
{:type :fail, :f :cas, :value [3 2], :process 21, :time 43391593028, :error :connect, :index 14819}
{:type :invoke, :f :write, :value 3, :process 29, :time 43392093535, :index 14820}
{:type :fail, :f :write, :value 3, :process 29, :time 43394015410, :error :connect, :index 14822}
{:type :invoke, :f :write, :value 3, :process 8, :time 43398458148, :index 14825}
{:type :invoke, :f :write, :value 3, :process 3, :time 43399503367, :index 14826}
{:type :fail, :f :write, :value 3, :process 8, :time 43400342036, :error :connect, :index 14828}
{:type :fail, :f :write, :value 3, :process 3, :time 43401407961, :error :connect, :index 14829}
{:type :invoke, :f :read, :value nil, :process 8, :time 43439580282, :index 14836}
{:type :fail, :f :read, :value nil, :process 8, :time 43441498563, :error :connect, :index 14837}
{:type :invoke, :f :read, :value nil, :process 5, :time 43443576899, :index 14838}
{:type :fail, :f :read, :value nil, :process 5, :time 43445439159, :error :connect, :index 14839}
{:type :invoke, :f :read, :value nil, :process 29, :time 43453309105, :index 14842}
{:type :fail, :f :read, :value nil, :process 29, :time 43455097523, :error :connect, :index 14843}
{:type :invoke, :f :read, :value nil, :process 3, :time 43463658790, :index 14846}
{:type :invoke, :f :read, :value nil, :process 7, :time 43463908505, :index 14847}
{:type :fail, :f :read, :value nil, :process 3, :time 43465822897, :error :connect, :index 14848}
{:type :fail, :f :read, :value nil, :process 7, :time 43465884233, :error :connect, :index 14849}
{:type :invoke, :f :write, :value 2, :process 4, :time 43479797274, :index 14854}
{:type :invoke, :f :write, :value 4, :process 29, :time 43481304928, :index 14855}
{:type :fail, :f :write, :value 2, :process 4, :time 43481882440, :error :connect, :index 14856}
{:type :fail, :f :write, :value 4, :process 29, :time 43483003649, :error :connect, :index 14857}
{:type :invoke, :f :read, :value nil, :process 21, :time 43500859136, :index 14864}
{:type :fail, :f :read, :value nil, :process 21, :time 43502887311, :error :connect, :index 14865}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 43503587087, :index 14867}
{:type :fail, :f :cas, :value [0 2], :process 22, :time 43505415861, :error :connect, :index 14869}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 43539069680, :index 14877}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 43541140468, :error :connect, :index 14879}
{:type :invoke, :f :write, :value 0, :process 5, :time 43551699787, :index 14882}
{:type :fail, :f :write, :value 0, :process 5, :time 43553527436, :error :connect, :index 14883}
{:type :invoke, :f :write, :value 3, :process 6, :time 43567580846, :index 14886}
{:type :invoke, :f :cas, :value [4 3], :process 22, :time 43567584586, :index 14887}
{:type :fail, :f :write, :value 3, :process 6, :time 43569493975, :error :connect, :index 14888}
{:type :fail, :f :cas, :value [4 3], :process 22, :time 43569652696, :error :connect, :index 14889}
{:type :invoke, :f :write, :value 4, :process 21, :time 43600163763, :index 14892}
{:type :fail, :f :write, :value 4, :process 21, :time 43602322864, :error :connect, :index 14893}
{:type :invoke, :f :cas, :value [3 1], :process 8, :time 43607771715, :index 14894}
{:type :fail, :f :cas, :value [3 1], :process 8, :time 43609638692, :error :connect, :index 14896}
{:type :invoke, :f :write, :value 2, :process 5, :time 43616785063, :index 14898}
{:type :fail, :f :write, :value 2, :process 5, :time 43618579905, :error :connect, :index 14899}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 43624420859, :index 14906}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 43626387746, :error :connect, :index 14909}
{:type :invoke, :f :cas, :value [1 1], :process 8, :time 43630917868, :index 14910}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 43631771443, :index 14911}
{:type :fail, :f :cas, :value [1 1], :process 8, :time 43633028500, :error :connect, :index 14912}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 43633886807, :error :connect, :index 14913}
{:type :invoke, :f :cas, :value [0 1], :process 22, :time 43634925992, :index 14914}
{:type :fail, :f :cas, :value [0 1], :process 22, :time 43636970269, :error :connect, :index 14915}
{:type :invoke, :f :cas, :value [4 2], :process 29, :time 43641267713, :index 14918}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 43642099232, :index 14919}
{:type :fail, :f :cas, :value [4 2], :process 29, :time 43642903342, :error :connect, :index 14920}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 43643923360, :error :connect, :index 14921}
{:type :invoke, :f :read, :value nil, :process 4, :time 43653169534, :index 14922}
{:type :invoke, :f :write, :value 3, :process 7, :time 43655123424, :index 14923}
{:type :fail, :f :read, :value nil, :process 4, :time 43655424385, :error :connect, :index 14924}
{:type :fail, :f :write, :value 3, :process 7, :time 43656909783, :error :connect, :index 14926}
{:type :invoke, :f :write, :value 4, :process 5, :time 43669891468, :index 14930}
{:type :fail, :f :write, :value 4, :process 5, :time 43671973195, :error :connect, :index 14932}
{:type :invoke, :f :read, :value nil, :process 7, :time 43672184705, :index 14933}
{:type :fail, :f :read, :value nil, :process 7, :time 43674065243, :error :connect, :index 14935}
{:type :invoke, :f :cas, :value [1 2], :process 22, :time 43692236193, :index 14936}
{:type :fail, :f :cas, :value [1 2], :process 22, :time 43694335434, :error :connect, :index 14937}
{:type :invoke, :f :cas, :value [3 3], :process 21, :time 43709599260, :index 14941}
{:type :fail, :f :cas, :value [3 3], :process 21, :time 43711601492, :error :connect, :index 14942}
{:type :invoke, :f :write, :value 2, :process 7, :time 43714307255, :index 14945}
{:type :fail, :f :write, :value 2, :process 7, :time 43716222534, :error :connect, :index 14947}
{:type :invoke, :f :read, :value nil, :process 8, :time 43731292783, :index 14952}
{:type :fail, :f :read, :value nil, :process 8, :time 43732968849, :error :connect, :index 14954}
{:type :invoke, :f :write, :value 2, :process 6, :time 43737152301, :index 14956}
{:type :fail, :f :write, :value 2, :process 6, :time 43738986008, :error :connect, :index 14957}
{:type :invoke, :f :write, :value 1, :process 29, :time 43749171693, :index 14958}
{:type :fail, :f :write, :value 1, :process 29, :time 43751011934, :error :connect, :index 14959}
{:type :invoke, :f :read, :value nil, :process 21, :time 43760880061, :index 14962}
{:type :fail, :f :read, :value nil, :process 21, :time 43762713719, :error :connect, :index 14963}
{:type :invoke, :f :write, :value 0, :process 29, :time 43791274377, :index 14972}
{:type :fail, :f :write, :value 0, :process 29, :time 43793261359, :error :connect, :index 14973}
{:type :invoke, :f :write, :value 4, :process 21, :time 43793980968, :index 14974}
{:type :fail, :f :write, :value 4, :process 21, :time 43795807209, :error :connect, :index 14975}
{:type :invoke, :f :read, :value nil, :process 0, :time 43797678874, :index 14977}
{:type :invoke, :f :write, :value 1, :process 6, :time 43798264000, :index 14978}
{:type :fail, :f :read, :value nil, :process 0, :time 43799440992, :error :connect, :index 14980}
{:type :fail, :f :write, :value 1, :process 6, :time 43799950788, :error :connect, :index 14981}
{:type :invoke, :f :read, :value nil, :process 3, :time 43800206497, :index 14982}
{:type :fail, :f :read, :value nil, :process 3, :time 43801822705, :error :connect, :index 14983}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 43815740725, :index 14988}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 43817539369, :error :connect, :index 14989}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 43837278451, :index 14996}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 43839122877, :error :connect, :index 14997}
{:type :invoke, :f :cas, :value [2 1], :process 5, :time 43846231476, :index 14998}
{:type :fail, :f :cas, :value [2 1], :process 5, :time 43848079382, :error :connect, :index 14999}
{:type :invoke, :f :cas, :value [1 4], :process 22, :time 43878617579, :index 15011}
{:type :fail, :f :cas, :value [1 4], :process 22, :time 43880317122, :error :connect, :index 15013}
{:type :invoke, :f :write, :value 4, :process 21, :time 43886084876, :index 15014}
{:type :invoke, :f :write, :value 2, :process 7, :time 43887484586, :index 15016}
{:type :fail, :f :write, :value 4, :process 21, :time 43887830994, :error :connect, :index 15017}
{:type :fail, :f :write, :value 2, :process 7, :time 43889724406, :error :connect, :index 15019}
{:type :invoke, :f :write, :value 4, :process 6, :time 43890198378, :index 15020}
{:type :fail, :f :write, :value 4, :process 6, :time 43892239041, :error :connect, :index 15021}
{:type :invoke, :f :read, :value nil, :process 8, :time 43921214515, :index 15028}
{:type :fail, :f :read, :value nil, :process 8, :time 43923045065, :error :connect, :index 15029}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 43926360581, :index 15030}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 43926573540, :index 15031}
{:type :fail, :f :cas, :value [3 0], :process 5, :time 43928459842, :error :connect, :index 15032}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 43928479784, :error :connect, :index 15033}
{:type :invoke, :f :write, :value 3, :process 29, :time 43957525152, :index 15042}
{:type :fail, :f :write, :value 3, :process 29, :time 43959589098, :error :connect, :index 15043}
{:type :invoke, :f :write, :value 4, :process 7, :time 43967978966, :index 15044}
{:type :fail, :f :write, :value 4, :process 7, :time 43969860606, :error :connect, :index 15045}
{:type :invoke, :f :read, :value nil, :process 4, :time 43978387722, :index 15046}
{:type :fail, :f :read, :value nil, :process 4, :time 43980016794, :error :connect, :index 15047}
{:type :invoke, :f :write, :value 3, :process 8, :time 43985310396, :index 15048}
{:type :invoke, :f :cas, :value [3 1], :process 5, :time 43986761975, :index 15049}
{:type :fail, :f :write, :value 3, :process 8, :time 43987270595, :error :connect, :index 15050}
{:type :fail, :f :cas, :value [3 1], :process 5, :time 43988755584, :error :connect, :index 15051}
{:type :invoke, :f :write, :value 3, :process 0, :time 43988818746, :index 15052}
{:type :fail, :f :write, :value 3, :process 0, :time 43990814253, :error :connect, :index 15053}
{:type :invoke, :f :read, :value nil, :process 3, :time 44001084070, :index 15058}
{:type :fail, :f :read, :value nil, :process 3, :time 44004987855, :error :connect, :index 15059}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 44035754218, :index 15065}
{:type :invoke, :f :read, :value nil, :process 29, :time 44036867597, :index 15066}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 44037429792, :error :connect, :index 15068}
{:type :fail, :f :read, :value nil, :process 29, :time 44038843969, :error :connect, :index 15069}
{:type :invoke, :f :read, :value nil, :process 21, :time 44043070578, :index 15070}
{:type :fail, :f :read, :value nil, :process 21, :time 44044891071, :error :connect, :index 15071}
{:type :invoke, :f :read, :value nil, :process 0, :time 44056072270, :index 15074}
{:type :fail, :f :read, :value nil, :process 0, :time 44058213116, :error :connect, :index 15075}
{:type :invoke, :f :read, :value nil, :process 0, :time 44059465405, :index 15076}
{:type :fail, :f :read, :value nil, :process 0, :time 44061515847, :error :connect, :index 15077}
{:type :invoke, :f :read, :value nil, :process 22, :time 44074702976, :index 15078}
{:type :fail, :f :read, :value nil, :process 22, :time 44076395880, :error :connect, :index 15079}
{:type :invoke, :f :write, :value 0, :process 6, :time 44076553467, :index 15080}
{:type :fail, :f :write, :value 0, :process 6, :time 44078406400, :error :connect, :index 15081}
{:type :invoke, :f :write, :value 1, :process 7, :time 44101135622, :index 15089}
{:type :fail, :f :write, :value 1, :process 7, :time 44102892342, :error :connect, :index 15091}
{:type :invoke, :f :read, :value nil, :process 7, :time 44103022658, :index 15092}
{:type :invoke, :f :read, :value nil, :process 8, :time 44104528286, :index 15093}
{:type :fail, :f :read, :value nil, :process 7, :time 44104850945, :error :connect, :index 15094}
{:type :fail, :f :read, :value nil, :process 8, :time 44106482400, :error :connect, :index 15095}
{:type :invoke, :f :read, :value nil, :process 22, :time 44120847736, :index 15098}
{:type :fail, :f :read, :value nil, :process 22, :time 44122859491, :error :connect, :index 15101}
{:type :invoke, :f :write, :value 2, :process 8, :time 44131755275, :index 15104}
{:type :fail, :f :write, :value 2, :process 8, :time 44133340612, :error :connect, :index 15105}
{:type :invoke, :f :write, :value 2, :process 29, :time 44138099213, :index 15108}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 44139046997, :index 15109}
{:type :fail, :f :write, :value 2, :process 29, :time 44140015497, :error :connect, :index 15110}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 44141105585, :error :connect, :index 15111}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 44151794367, :index 15114}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 44153637195, :error :connect, :index 15115}
{:type :invoke, :f :read, :value nil, :process 5, :time 44159361042, :index 15118}
{:type :fail, :f :read, :value nil, :process 5, :time 44161332135, :error :connect, :index 15119}
{:type :invoke, :f :read, :value nil, :process 4, :time 44164319886, :index 15122}
{:type :fail, :f :read, :value nil, :process 4, :time 44166221503, :error :connect, :index 15124}
{:type :invoke, :f :cas, :value [2 4], :process 6, :time 44176668150, :index 15130}
{:type :fail, :f :cas, :value [2 4], :process 6, :time 44178558565, :error :connect, :index 15131}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 44202152011, :index 15134}
{:type :invoke, :f :cas, :value [3 3], :process 3, :time 44203256180, :index 15135}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 44204095710, :error :connect, :index 15136}
{:type :fail, :f :cas, :value [3 3], :process 3, :time 44204950746, :error :connect, :index 15137}
{:type :invoke, :f :write, :value 4, :process 29, :time 44214278718, :index 15138}
{:type :fail, :f :write, :value 4, :process 29, :time 44215974068, :error :connect, :index 15139}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 44218207155, :index 15140}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 44220211294, :error :connect, :index 15141}
{:type :invoke, :f :read, :value nil, :process 6, :time 44227853305, :index 15142}
{:type :fail, :f :read, :value nil, :process 6, :time 44229488008, :error :connect, :index 15143}
{:type :invoke, :f :write, :value 2, :process 5, :time 44246591592, :index 15152}
{:type :fail, :f :write, :value 2, :process 5, :time 44248817800, :error :connect, :index 15154}
{:type :invoke, :f :write, :value 4, :process 0, :time 44248962636, :index 15155}
{:type :fail, :f :write, :value 4, :process 0, :time 44250874173, :error :connect, :index 15157}
{:type :invoke, :f :cas, :value [2 3], :process 7, :time 44252088924, :index 15158}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 44252519242, :index 15159}
{:type :fail, :f :cas, :value [2 3], :process 7, :time 44253992150, :error :connect, :index 15160}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 44254330540, :error :connect, :index 15161}
{:type :invoke, :f :read, :value nil, :process 22, :time 44279120053, :index 15168}
{:type :fail, :f :read, :value nil, :process 22, :time 44281007126, :error :connect, :index 15169}
{:type :invoke, :f :write, :value 1, :process 8, :time 44285635237, :index 15171}
{:type :fail, :f :write, :value 1, :process 8, :time 44287852462, :error :connect, :index 15173}
{:type :invoke, :f :read, :value nil, :process 21, :time 44294366765, :index 15175}
{:type :fail, :f :read, :value nil, :process 21, :time 44296605743, :error :connect, :index 15177}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
