{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :invoke, :f :write, :value 1, :process 21, :time 41183239301, :index 13962}
{:type :fail, :f :write, :value 1, :process 21, :time 41185011253, :error :connect, :index 13963}
{:type :invoke, :f :write, :value 1, :process 3, :time 41202745766, :index 13966}
{:type :fail, :f :write, :value 1, :process 3, :time 41204706081, :error :connect, :index 13967}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :invoke, :f :read, :value nil, :process 8, :time 41249082598, :index 13981}
{:type :invoke, :f :read, :value nil, :process 5, :time 41249844988, :index 13982}
{:type :fail, :f :read, :value nil, :process 8, :time 41250904717, :error :connect, :index 13983}
{:type :fail, :f :read, :value nil, :process 5, :time 41251575594, :error :connect, :index 13984}
{:type :invoke, :f :write, :value 2, :process 8, :time 41264188242, :index 13993}
{:type :fail, :f :write, :value 2, :process 8, :time 41265772010, :error :connect, :index 13996}
{:type :invoke, :f :read, :value nil, :process 3, :time 41276982831, :index 13997}
{:type :fail, :f :read, :value nil, :process 3, :time 41278676686, :error :connect, :index 13998}
{:type :invoke, :f :read, :value nil, :process 7, :time 41290192002, :index 14005}
{:type :fail, :f :read, :value nil, :process 7, :time 41291815185, :error :connect, :index 14006}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 41297832837, :index 14011}
{:type :invoke, :f :write, :value 4, :process 21, :time 41298283493, :index 14012}
{:type :invoke, :f :cas, :value [4 4], :process 22, :time 41298407514, :index 14013}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 41299490665, :error :connect, :index 14015}
{:type :fail, :f :cas, :value [4 4], :process 22, :time 41300361945, :error :connect, :index 14016}
{:type :fail, :f :write, :value 4, :process 21, :time 41300501247, :error :connect, :index 14017}
{:type :invoke, :f :write, :value 3, :process 8, :time 41317029867, :index 14023}
{:type :fail, :f :write, :value 3, :process 8, :time 41318828792, :error :connect, :index 14024}
{:type :invoke, :f :read, :value nil, :process 6, :time 41352225776, :index 14025}
{:type :fail, :f :read, :value nil, :process 6, :time 41354129279, :error :connect, :index 14026}
{:type :invoke, :f :write, :value 1, :process 5, :time 41364773110, :index 14030}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 41366156389, :index 14032}
{:type :fail, :f :write, :value 1, :process 5, :time 41366838936, :error :connect, :index 14033}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 41367928367, :error :connect, :index 14034}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 41373543959, :index 14036}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 41375657899, :error :connect, :index 14038}
{:type :invoke, :f :read, :value nil, :process 3, :time 41387972211, :index 14039}
{:type :fail, :f :read, :value nil, :process 3, :time 41389915141, :error :connect, :index 14040}
{:type :invoke, :f :cas, :value [4 4], :process 21, :time 41397763352, :index 14041}
{:type :fail, :f :cas, :value [4 4], :process 21, :time 41399887522, :error :connect, :index 14042}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 41416191324, :index 14046}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 41418143190, :error :connect, :index 14048}
{:type :invoke, :f :write, :value 1, :process 4, :time 41432922109, :index 14053}
{:type :invoke, :f :read, :value nil, :process 5, :time 41434099649, :index 14054}
{:type :fail, :f :write, :value 1, :process 4, :time 41434959084, :error :connect, :index 14055}
{:type :fail, :f :read, :value nil, :process 5, :time 41436034743, :error :connect, :index 14056}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :invoke, :f :read, :value nil, :process 21, :time 41461159148, :index 14064}
{:type :invoke, :f :write, :value 2, :process 8, :time 41462093605, :index 14065}
{:type :fail, :f :read, :value nil, :process 21, :time 41463046042, :error :connect, :index 14066}
{:type :fail, :f :write, :value 2, :process 8, :time 41463894457, :error :connect, :index 14068}
{:type :invoke, :f :read, :value nil, :process 6, :time 41464403415, :index 14069}
{:type :fail, :f :read, :value nil, :process 6, :time 41465961308, :error :connect, :index 14071}
{:type :invoke, :f :write, :value 2, :process 22, :time 41473593166, :index 14073}
{:type :fail, :f :write, :value 2, :process 22, :time 41475463732, :error :connect, :index 14075}
{:type :invoke, :f :write, :value 4, :process 7, :time 41479078245, :index 14076}
{:type :fail, :f :write, :value 4, :process 7, :time 41480658759, :error :connect, :index 14078}
{:type :invoke, :f :write, :value 4, :process 29, :time 41504708614, :index 14089}
{:type :fail, :f :write, :value 4, :process 29, :time 41506675729, :error :connect, :index 14091}
{:type :invoke, :f :read, :value nil, :process 6, :time 41518215290, :index 14094}
{:type :fail, :f :read, :value nil, :process 6, :time 41520278419, :error :connect, :index 14095}
{:type :invoke, :f :cas, :value [4 4], :process 29, :time 41524971437, :index 14096}
{:type :fail, :f :cas, :value [4 4], :process 29, :time 41526813821, :error :connect, :index 14097}
{:type :invoke, :f :read, :value nil, :process 7, :time 41532918522, :index 14098}
{:type :fail, :f :read, :value nil, :process 7, :time 41534821463, :error :connect, :index 14099}
{:type :invoke, :f :read, :value nil, :process 4, :time 41572225451, :index 14104}
{:type :fail, :f :read, :value nil, :process 4, :time 41574295831, :error :connect, :index 14105}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 41575212576, :index 14106}
{:type :invoke, :f :read, :value nil, :process 0, :time 41576357654, :index 14107}
{:type :invoke, :f :cas, :value [4 4], :process 21, :time 41576352601, :index 14108}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 41577026152, :error :connect, :index 14109}
{:type :fail, :f :read, :value nil, :process 0, :time 41578091336, :error :connect, :index 14110}
{:type :fail, :f :cas, :value [4 4], :process 21, :time 41578913813, :error :connect, :index 14111}
{:type :invoke, :f :write, :value 0, :process 5, :time 41610294651, :index 14123}
{:type :fail, :f :write, :value 0, :process 5, :time 41612263890, :error :connect, :index 14125}
{:type :invoke, :f :read, :value nil, :process 0, :time 41616356905, :index 14128}
{:type :fail, :f :read, :value nil, :process 0, :time 41618119170, :error :connect, :index 14129}
{:type :invoke, :f :read, :value nil, :process 8, :time 41628177900, :index 14134}
{:type :fail, :f :read, :value nil, :process 8, :time 41629820747, :error :connect, :index 14135}
{:type :invoke, :f :write, :value 1, :process 21, :time 41635180232, :index 14136}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 41635318818, :index 14137}
{:type :fail, :f :write, :value 1, :process 21, :time 41636967285, :error :connect, :index 14138}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 41637376659, :error :connect, :index 14139}
{:type :invoke, :f :cas, :value [3 0], :process 22, :time 41654725414, :index 14142}
{:type :fail, :f :cas, :value [3 0], :process 22, :time 41656915882, :error :connect, :index 14143}
{:type :invoke, :f :cas, :value [4 4], :process 29, :time 41670085447, :index 14144}
{:type :fail, :f :cas, :value [4 4], :process 29, :time 41671727141, :error :connect, :index 14145}
{:type :invoke, :f :read, :value nil, :process 5, :time 41677519655, :index 14147}
{:type :invoke, :f :write, :value 4, :process 6, :time 41678545990, :index 14148}
{:type :fail, :f :read, :value nil, :process 5, :time 41679437064, :error :connect, :index 14150}
{:type :fail, :f :write, :value 4, :process 6, :time 41680292708, :error :connect, :index 14151}
{:type :invoke, :f :cas, :value [0 2], :process 29, :time 41684005942, :index 14153}
{:type :fail, :f :cas, :value [0 2], :process 29, :time 41685569491, :error :connect, :index 14155}
{:type :invoke, :f :read, :value nil, :process 5, :time 41714686650, :index 14160}
{:type :invoke, :f :write, :value 3, :process 6, :time 41716560389, :index 14161}
{:type :fail, :f :read, :value nil, :process 5, :time 41716779089, :error :connect, :index 14162}
{:type :fail, :f :write, :value 3, :process 6, :time 41718481604, :error :connect, :index 14164}
{:type :invoke, :f :cas, :value [1 4], :process 7, :time 41719100338, :index 14165}
{:type :fail, :f :cas, :value [1 4], :process 7, :time 41721141242, :error :connect, :index 14167}
{:type :invoke, :f :read, :value nil, :process 0, :time 41740378489, :index 14170}
{:type :fail, :f :read, :value nil, :process 0, :time 41742156227, :error :connect, :index 14171}
{:type :invoke, :f :read, :value nil, :process 5, :time 41746017093, :index 14173}
{:type :fail, :f :read, :value nil, :process 5, :time 41747982378, :error :connect, :index 14175}
{:type :invoke, :f :read, :value nil, :process 22, :time 41755189686, :index 14176}
{:type :invoke, :f :write, :value 0, :process 4, :time 41756569187, :index 14177}
{:type :fail, :f :read, :value nil, :process 22, :time 41757106653, :error :connect, :index 14178}
{:type :fail, :f :write, :value 0, :process 4, :time 41758514481, :error :connect, :index 14179}
{:type :invoke, :f :read, :value nil, :process 3, :time 41775621428, :index 14188}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 41775790575, :index 14189}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 41777693357, :error :connect, :index 14190}
{:type :fail, :f :read, :value nil, :process 3, :time 41777951218, :error :connect, :index 14191}
{:type :invoke, :f :read, :value nil, :process 8, :time 41781079238, :index 14192}
{:type :fail, :f :read, :value nil, :process 8, :time 41782968564, :error :connect, :index 14194}
{:type :invoke, :f :read, :value nil, :process 21, :time 41785232832, :index 14196}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 41785978322, :index 14197}
{:type :fail, :f :read, :value nil, :process 21, :time 41787278556, :error :connect, :index 14198}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 41787586012, :error :connect, :index 14199}
{:type :invoke, :f :read, :value nil, :process 5, :time 41788255721, :index 14200}
{:type :fail, :f :read, :value nil, :process 5, :time 41790247884, :error :connect, :index 14201}
{:type :invoke, :f :read, :value nil, :process 7, :time 41800415481, :index 14206}
{:type :fail, :f :read, :value nil, :process 7, :time 41802214564, :error :connect, :index 14207}
{:type :invoke, :f :cas, :value [2 2], :process 29, :time 41864835059, :index 14216}
{:type :fail, :f :cas, :value [2 2], :process 29, :time 41866898521, :error :connect, :index 14217}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 41877859492, :index 14220}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 41879973153, :error :connect, :index 14223}
{:type :invoke, :f :read, :value nil, :process 0, :time 41883423874, :index 14225}
{:type :fail, :f :read, :value nil, :process 0, :time 41885267364, :error :connect, :index 14228}
{:type :invoke, :f :write, :value 4, :process 5, :time 41893509328, :index 14230}
{:type :invoke, :f :write, :value 2, :process 22, :time 41894430266, :index 14232}
{:type :invoke, :f :cas, :value [2 3], :process 21, :time 41894758004, :index 14233}
{:type :fail, :f :write, :value 4, :process 5, :time 41895706590, :error :connect, :index 14234}
{:type :fail, :f :cas, :value [2 3], :process 21, :time 41896924700, :error :connect, :index 14235}
{:type :fail, :f :write, :value 2, :process 22, :time 41897389381, :error :connect, :index 14237}
{:type :invoke, :f :write, :value 2, :process 4, :time 41923772004, :index 14246}
{:type :fail, :f :write, :value 2, :process 4, :time 41925871814, :error :connect, :index 14247}
{:type :invoke, :f :write, :value 4, :process 29, :time 41931182208, :index 14249}
{:type :fail, :f :write, :value 4, :process 29, :time 41933623729, :error :connect, :index 14252}
{:type :invoke, :f :read, :value nil, :process 0, :time 41940432728, :index 14256}
{:type :fail, :f :read, :value nil, :process 0, :time 41942242129, :error :connect, :index 14257}
{:type :invoke, :f :read, :value nil, :process 8, :time 41943264965, :index 14258}
{:type :fail, :f :read, :value nil, :process 8, :time 41945072609, :error :connect, :index 14259}
{:type :invoke, :f :cas, :value [2 1], :process 6, :time 41948245752, :index 14261}
{:type :fail, :f :cas, :value [2 1], :process 6, :time 41950033815, :error :connect, :index 14263}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 41964187157, :index 14268}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 41966297749, :error :connect, :index 14269}
{:type :invoke, :f :write, :value 2, :process 29, :time 41968884746, :index 14270}
{:type :fail, :f :write, :value 2, :process 29, :time 41970979356, :error :connect, :index 14271}
{:type :invoke, :f :write, :value 2, :process 22, :time 41976620139, :index 14272}
{:type :fail, :f :write, :value 2, :process 22, :time 41978594596, :error :connect, :index 14274}
{:type :invoke, :f :write, :value 3, :process 8, :time 41995339369, :index 14276}
{:type :fail, :f :write, :value 3, :process 8, :time 41997189364, :error :connect, :index 14277}
{:type :invoke, :f :read, :value nil, :process 7, :time 41999480329, :index 14278}
{:type :fail, :f :read, :value nil, :process 7, :time 42001359316, :error :connect, :index 14279}
{:type :invoke, :f :read, :value nil, :process 21, :time 42044196620, :index 14286}
{:type :fail, :f :read, :value nil, :process 21, :time 42046174769, :error :connect, :index 14287}
{:type :invoke, :f :read, :value nil, :process 0, :time 42082502811, :index 14294}
{:type :fail, :f :read, :value nil, :process 0, :time 42084392585, :error :connect, :index 14295}
{:type :invoke, :f :read, :value nil, :process 22, :time 42088894943, :index 14296}
{:type :fail, :f :read, :value nil, :process 22, :time 42090965033, :error :connect, :index 14297}
{:type :invoke, :f :write, :value 1, :process 8, :time 42091456372, :index 14298}
{:type :fail, :f :write, :value 1, :process 8, :time 42093095748, :error :connect, :index 14299}
{:type :invoke, :f :read, :value nil, :process 5, :time 42093986630, :index 14301}
{:type :invoke, :f :read, :value nil, :process 21, :time 42094450894, :index 14302}
{:type :fail, :f :read, :value nil, :process 5, :time 42095993630, :error :connect, :index 14304}
{:type :fail, :f :read, :value nil, :process 21, :time 42096436649, :error :connect, :index 14305}
{:type :invoke, :f :write, :value 3, :process 29, :time 42107244764, :index 14310}
{:type :invoke, :f :write, :value 0, :process 4, :time 42108142545, :index 14311}
{:type :fail, :f :write, :value 3, :process 29, :time 42109432287, :error :connect, :index 14312}
{:type :fail, :f :write, :value 0, :process 4, :time 42109765348, :error :connect, :index 14313}
{:type :invoke, :f :read, :value nil, :process 8, :time 42127802368, :index 14318}
{:type :fail, :f :read, :value nil, :process 8, :time 42129633463, :error :connect, :index 14319}
{:type :invoke, :f :write, :value 0, :process 6, :time 42146277447, :index 14324}
{:type :fail, :f :write, :value 0, :process 6, :time 42148352353, :error :connect, :index 14325}
{:type :invoke, :f :write, :value 3, :process 3, :time 42149572609, :index 14326}
{:type :fail, :f :write, :value 3, :process 3, :time 42151665615, :error :connect, :index 14327}
{:type :invoke, :f :cas, :value [0 2], :process 21, :time 42164672993, :index 14330}
{:type :fail, :f :cas, :value [0 2], :process 21, :time 42166615706, :error :connect, :index 14332}
{:type :invoke, :f :read, :value nil, :process 5, :time 42186254242, :index 14336}
{:type :fail, :f :read, :value nil, :process 5, :time 42188288457, :error :connect, :index 14337}
{:type :invoke, :f :read, :value nil, :process 3, :time 42197930855, :index 14342}
{:type :invoke, :f :write, :value 0, :process 7, :time 42199639900, :index 14343}
{:type :fail, :f :read, :value nil, :process 3, :time 42199862007, :error :connect, :index 14344}
{:type :fail, :f :write, :value 0, :process 7, :time 42201815888, :error :connect, :index 14345}
{:type :invoke, :f :read, :value nil, :process 3, :time 42207118166, :index 14347}
{:type :invoke, :f :read, :value nil, :process 22, :time 42207279480, :index 14348}
{:type :invoke, :f :read, :value nil, :process 21, :time 42207923836, :index 14349}
{:type :fail, :f :read, :value nil, :process 3, :time 42208826298, :error :connect, :index 14351}
{:type :invoke, :f :read, :value nil, :process 4, :time 42209016229, :index 14352}
{:type :fail, :f :read, :value nil, :process 22, :time 42209438994, :error :connect, :index 14353}
{:type :fail, :f :read, :value nil, :process 21, :time 42209893363, :error :connect, :index 14354}
{:type :fail, :f :read, :value nil, :process 4, :time 42211072381, :error :connect, :index 14356}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 42214045417, :index 14358}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 42216211338, :error :connect, :index 14360}
{:type :invoke, :f :write, :value 3, :process 0, :time 42227665268, :index 14366}
{:type :fail, :f :write, :value 3, :process 0, :time 42229433520, :error :connect, :index 14367}
{:type :invoke, :f :cas, :value [3 1], :process 8, :time 42259899841, :index 14371}
{:type :fail, :f :cas, :value [3 1], :process 8, :time 42262042796, :error :connect, :index 14373}
{:type :invoke, :f :cas, :value [0 3], :process 29, :time 42266706003, :index 14376}
{:type :fail, :f :cas, :value [0 3], :process 29, :time 42268550875, :error :connect, :index 14377}
{:type :invoke, :f :read, :value nil, :process 6, :time 42316628910, :index 14392}
{:type :fail, :f :read, :value nil, :process 6, :time 42318293305, :error :connect, :index 14393}
{:type :invoke, :f :cas, :value [3 2], :process 22, :time 42324706781, :index 14394}
{:type :fail, :f :cas, :value [3 2], :process 22, :time 42326554150, :error :connect, :index 14395}
{:type :invoke, :f :write, :value 4, :process 5, :time 42361552643, :index 14415}
{:type :fail, :f :write, :value 4, :process 5, :time 42363596415, :error :connect, :index 14417}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 42405059545, :index 14433}
{:type :fail, :f :cas, :value [1 2], :process 3, :time 42407198931, :error :connect, :index 14435}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
