{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :invoke, :f :write, :value 1, :process 50, :time 54970037808, :index 8584}
{:type :ok, :f :write, :value 1, :process 50, :time 54975490181, :index 8585}
{:type :invoke, :f :cas, :value [3 1], :process 78, :time 54982418226, :index 8588}
{:type :fail, :f :cas, :value [3 1], :process 78, :time 54988163240, :index 8591}
{:type :invoke, :f :cas, :value [1 0], :process 33, :time 55030874145, :index 8605}
{:type :invoke, :f :read, :value nil, :process 52, :time 55033774010, :index 8606}
{:type :ok, :f :cas, :value [1 0], :process 33, :time 55035827918, :index 8608}
{:type :ok, :f :read, :value 0, :process 52, :time 55038450383, :index 8610}
{:type :invoke, :f :write, :value 3, :process 75, :time 55052361268, :index 8615}
{:type :invoke, :f :read, :value nil, :process 79, :time 55053041857, :index 8616}
{:type :ok, :f :write, :value 3, :process 75, :time 55057698682, :index 8619}
{:type :ok, :f :read, :value 3, :process 79, :time 55058039084, :index 8620}
{:type :invoke, :f :cas, :value [1 2], :process 57, :time 55108834863, :index 8630}
{:type :fail, :f :cas, :value [1 2], :process 57, :time 55114382359, :index 8631}
{:type :invoke, :f :cas, :value [2 1], :process 75, :time 55118937866, :index 8632}
{:type :fail, :f :cas, :value [2 1], :process 75, :time 55124608756, :index 8633}
{:type :invoke, :f :read, :value nil, :process 31, :time 55125349616, :index 8634}
{:type :ok, :f :read, :value 3, :process 31, :time 55129715249, :index 8635}
{:type :invoke, :f :read, :value nil, :process 33, :time 55143107001, :index 8641}
{:type :invoke, :f :write, :value 0, :process 50, :time 55145747958, :index 8642}
{:type :ok, :f :read, :value 3, :process 33, :time 55148733093, :index 8645}
{:type :ok, :f :write, :value 0, :process 50, :time 55150398511, :index 8646}
{:type :invoke, :f :cas, :value [2 2], :process 31, :time 55156970517, :index 8648}
{:type :fail, :f :cas, :value [2 2], :process 31, :time 55161850777, :index 8650}
{:type :invoke, :f :read, :value nil, :process 31, :time 55165113259, :index 8651}
{:type :ok, :f :read, :value 0, :process 31, :time 55169140372, :index 8653}
{:type :invoke, :f :write, :value 3, :process 78, :time 55178449569, :index 8654}
{:type :ok, :f :write, :value 3, :process 78, :time 55184252795, :index 8658}
{:type :invoke, :f :write, :value 2, :process 16, :time 55187193206, :index 8659}
{:type :ok, :f :write, :value 2, :process 16, :time 55192023428, :index 8662}
{:type :invoke, :f :write, :value 2, :process 33, :time 55200970977, :index 8664}
{:type :ok, :f :write, :value 2, :process 33, :time 55206204060, :index 8667}
{:type :invoke, :f :write, :value 4, :process 54, :time 55230881514, :index 8675}
{:type :invoke, :f :cas, :value [2 0], :process 79, :time 55231307033, :index 8676}
{:type :invoke, :f :cas, :value [0 2], :process 33, :time 55231530842, :index 8677}
{:type :invoke, :f :write, :value 3, :process 52, :time 55232786559, :index 8679}
{:type :invoke, :f :cas, :value [1 0], :process 50, :time 55233668066, :index 8680}
{:type :ok, :f :write, :value 4, :process 54, :time 55237292281, :index 8681}
{:type :fail, :f :cas, :value [2 0], :process 79, :time 55237776556, :index 8682}
{:type :fail, :f :cas, :value [0 2], :process 33, :time 55238110620, :index 8683}
{:type :ok, :f :write, :value 3, :process 52, :time 55238628234, :index 8685}
{:type :fail, :f :cas, :value [1 0], :process 50, :time 55239703998, :index 8686}
{:type :invoke, :f :write, :value 2, :process 75, :time 55239903305, :index 8687}
{:type :ok, :f :write, :value 2, :process 75, :time 55244826959, :index 8690}
{:type :invoke, :f :read, :value nil, :process 78, :time 55245489189, :index 8691}
{:type :ok, :f :read, :value 2, :process 78, :time 55250393804, :index 8693}
{:type :invoke, :f :write, :value 4, :process 54, :time 55255574625, :index 8695}
{:type :ok, :f :write, :value 4, :process 54, :time 55260553790, :index 8697}
{:type :invoke, :f :read, :value nil, :process 33, :time 55270349697, :index 8698}
{:type :invoke, :f :read, :value nil, :process 31, :time 55271392204, :index 8699}
{:type :ok, :f :read, :value 4, :process 33, :time 55275683848, :index 8700}
{:type :ok, :f :read, :value 4, :process 31, :time 55276136007, :index 8701}
{:type :invoke, :f :write, :value 4, :process 16, :time 55294279140, :index 8707}
{:type :ok, :f :write, :value 4, :process 16, :time 55299321506, :index 8710}
{:type :invoke, :f :read, :value nil, :process 54, :time 55301802304, :index 8711}
{:type :ok, :f :read, :value 4, :process 54, :time 55306441393, :index 8713}
{:type :invoke, :f :read, :value nil, :process 57, :time 55312639811, :index 8714}
{:type :ok, :f :read, :value 4, :process 57, :time 55321496108, :index 8715}
{:type :invoke, :f :read, :value nil, :process 57, :time 55329782554, :index 8720}
{:type :invoke, :f :write, :value 3, :process 33, :time 55334949926, :index 8722}
{:type :ok, :f :read, :value 4, :process 57, :time 55335562314, :index 8723}
{:type :invoke, :f :read, :value nil, :process 78, :time 55337648652, :index 8725}
{:type :invoke, :f :cas, :value [1 4], :process 79, :time 55338049597, :index 8726}
{:type :ok, :f :write, :value 3, :process 33, :time 55340520988, :index 8727}
{:type :ok, :f :read, :value 3, :process 78, :time 55342733431, :index 8728}
{:type :fail, :f :cas, :value [1 4], :process 79, :time 55344035617, :index 8729}
{:type :invoke, :f :read, :value nil, :process 54, :time 55344714828, :index 8731}
{:type :ok, :f :read, :value 3, :process 54, :time 55350894592, :index 8732}
{:type :invoke, :f :write, :value 0, :process 50, :time 55363965964, :index 8736}
{:type :ok, :f :write, :value 0, :process 50, :time 55369611343, :index 8738}
{:type :invoke, :f :cas, :value [4 1], :process 78, :time 55369989029, :index 8739}
{:type :fail, :f :cas, :value [4 1], :process 78, :time 55375732647, :index 8742}
{:type :invoke, :f :read, :value nil, :process 52, :time 55397869943, :index 8746}
{:type :ok, :f :read, :value 0, :process 52, :time 55402847603, :index 8747}
{:type :invoke, :f :read, :value nil, :process 33, :time 55410778114, :index 8748}
{:type :ok, :f :read, :value 0, :process 33, :time 55415577216, :index 8749}
{:type :invoke, :f :read, :value nil, :process 33, :time 55427834368, :index 8752}
{:type :invoke, :f :write, :value 0, :process 75, :time 55430097389, :index 8753}
{:type :ok, :f :read, :value 0, :process 33, :time 55432824654, :index 8754}
{:type :ok, :f :write, :value 0, :process 75, :time 55435094339, :index 8755}
{:type :invoke, :f :read, :value nil, :process 16, :time 55438585269, :index 8757}
{:type :invoke, :f :read, :value nil, :process 31, :time 55443407761, :index 8759}
{:type :ok, :f :read, :value 0, :process 16, :time 55443580560, :index 8760}
{:type :ok, :f :read, :value 0, :process 31, :time 55448162112, :index 8761}
{:type :invoke, :f :write, :value 1, :process 50, :time 55459867705, :index 8763}
{:type :ok, :f :write, :value 1, :process 50, :time 55465479608, :index 8767}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 55470815200, :index 8768}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 55475588389, :index 8770}
{:type :invoke, :f :read, :value nil, :process 54, :time 55490423736, :index 8774}
{:type :ok, :f :read, :value 1, :process 54, :time 55495029950, :index 8775}
{:type :invoke, :f :cas, :value [3 4], :process 78, :time 55495010661, :index 8776}
{:type :invoke, :f :read, :value nil, :process 79, :time 55499312635, :index 8778}
{:type :fail, :f :cas, :value [3 4], :process 78, :time 55500550470, :index 8779}
{:type :ok, :f :read, :value 1, :process 79, :time 55504413244, :index 8781}
{:type :invoke, :f :read, :value nil, :process 79, :time 55504537010, :index 8782}
{:type :invoke, :f :write, :value 3, :process 52, :time 55509113094, :index 8783}
{:type :ok, :f :read, :value 1, :process 79, :time 55509692307, :index 8784}
{:type :ok, :f :write, :value 3, :process 52, :time 55514010519, :index 8785}
{:type :invoke, :f :cas, :value [2 1], :process 57, :time 55524815604, :index 8788}
{:type :fail, :f :cas, :value [2 1], :process 57, :time 55530359957, :index 8790}
{:type :invoke, :f :read, :value nil, :process 79, :time 55531935086, :index 8791}
{:type :ok, :f :read, :value 3, :process 79, :time 55536312478, :index 8794}
{:type :invoke, :f :read, :value nil, :process 33, :time 55551139919, :index 8797}
{:type :ok, :f :read, :value 3, :process 33, :time 55556525636, :index 8799}
{:type :invoke, :f :write, :value 0, :process 31, :time 55572418683, :index 8800}
{:type :ok, :f :write, :value 0, :process 31, :time 55582440750, :index 8802}
{:type :invoke, :f :write, :value 0, :process 50, :time 55590784838, :index 8809}
{:type :ok, :f :write, :value 0, :process 50, :time 55595731116, :index 8813}
{:type :invoke, :f :read, :value nil, :process 75, :time 55600349683, :index 8814}
{:type :ok, :f :read, :value 0, :process 75, :time 55605693418, :index 8815}
{:type :invoke, :f :read, :value nil, :process 79, :time 55632590664, :index 8820}
{:type :ok, :f :read, :value 0, :process 79, :time 55637329572, :index 8821}
{:type :invoke, :f :cas, :value [1 3], :process 54, :time 55654332953, :index 8822}
{:type :invoke, :f :read, :value nil, :process 78, :time 55657796739, :index 8824}
{:type :fail, :f :cas, :value [1 3], :process 54, :time 55661806008, :index 8825}
{:type :ok, :f :read, :value 0, :process 78, :time 55664027969, :index 8827}
{:type :invoke, :f :write, :value 2, :process 57, :time 55668628196, :index 8830}
{:type :invoke, :f :read, :value nil, :process 52, :time 55669387616, :index 8832}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 55669470527, :index 8833}
{:type :ok, :f :read, :value 2, :process 52, :time 55674398105, :index 8836}
{:type :ok, :f :write, :value 2, :process 57, :time 55674450951, :index 8837}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 55675064526, :index 8838}
{:type :invoke, :f :write, :value 0, :process 54, :time 55675075529, :index 8839}
{:type :invoke, :f :write, :value 2, :process 78, :time 55676272642, :index 8840}
{:type :ok, :f :write, :value 0, :process 54, :time 55680335899, :index 8842}
{:type :ok, :f :write, :value 2, :process 78, :time 55681317014, :index 8843}
{:type :invoke, :f :cas, :value [3 0], :process 78, :time 55707568490, :index 8850}
{:type :fail, :f :cas, :value [3 0], :process 78, :time 55713582130, :index 8851}
{:type :invoke, :f :cas, :value [1 2], :process 75, :time 55718950443, :index 8852}
{:type :invoke, :f :read, :value nil, :process 16, :time 55721370030, :index 8853}
{:type :fail, :f :cas, :value [1 2], :process 75, :time 55724430031, :index 8854}
{:type :invoke, :f :read, :value nil, :process 54, :time 55724601535, :index 8855}
{:type :ok, :f :read, :value 2, :process 16, :time 55725800599, :index 8856}
{:type :invoke, :f :cas, :value [1 0], :process 33, :time 55727779244, :index 8857}
{:type :fail, :f :cas, :value [1 0], :process 33, :time 55734196188, :index 8860}
{:type :ok, :f :read, :value 2, :process 54, :time 55735560485, :index 8861}
{:type :invoke, :f :cas, :value [2 2], :process 16, :time 55743057300, :index 8865}
{:type :invoke, :f :read, :value nil, :process 78, :time 55746848711, :index 8867}
{:type :ok, :f :cas, :value [2 2], :process 16, :time 55748106796, :index 8868}
{:type :invoke, :f :read, :value nil, :process 31, :time 55749698849, :index 8869}
{:type :ok, :f :read, :value 2, :process 78, :time 55752471095, :index 8871}
{:type :ok, :f :read, :value 2, :process 31, :time 55754130871, :index 8872}
{:type :invoke, :f :read, :value nil, :process 33, :time 55759460523, :index 8874}
{:type :ok, :f :read, :value 2, :process 33, :time 55763671208, :index 8875}
{:type :invoke, :f :write, :value 3, :process 52, :time 55781664756, :index 8882}
{:type :ok, :f :write, :value 3, :process 52, :time 55787169767, :index 8883}
{:type :invoke, :f :cas, :value [4 3], :process 50, :time 55789982272, :index 8884}
{:type :fail, :f :cas, :value [4 3], :process 50, :time 55795468383, :index 8886}
{:type :invoke, :f :read, :value nil, :process 79, :time 55814592438, :index 8889}
{:type :ok, :f :read, :value 3, :process 79, :time 55819603920, :index 8892}
{:type :invoke, :f :read, :value nil, :process 33, :time 55823985017, :index 8894}
{:type :invoke, :f :read, :value nil, :process 75, :time 55825712153, :index 8895}
{:type :invoke, :f :read, :value nil, :process 78, :time 55827701777, :index 8896}
{:type :ok, :f :read, :value 3, :process 33, :time 55828699415, :index 8897}
{:type :ok, :f :read, :value 3, :process 75, :time 55830776161, :index 8898}
{:type :invoke, :f :read, :value nil, :process 57, :time 55830731716, :index 8899}
{:type :ok, :f :read, :value 3, :process 78, :time 55831965620, :index 8900}
{:type :invoke, :f :cas, :value [0 0], :process 54, :time 55834810672, :index 8901}
{:type :ok, :f :read, :value 3, :process 57, :time 55835926664, :index 8902}
{:type :fail, :f :cas, :value [0 0], :process 54, :time 55840050607, :index 8903}
{:type :invoke, :f :write, :value 0, :process 79, :time 55845846140, :index 8905}
{:type :ok, :f :write, :value 0, :process 79, :time 55850351889, :index 8907}
{:type :invoke, :f :read, :value nil, :process 52, :time 55882426200, :index 8916}
{:type :invoke, :f :cas, :value [0 1], :process 79, :time 55882615188, :index 8917}
{:type :ok, :f :read, :value 1, :process 52, :time 55887656259, :index 8918}
{:type :ok, :f :cas, :value [0 1], :process 79, :time 55887660092, :index 8919}
{:type :invoke, :f :write, :value 4, :process 57, :time 55928188477, :index 8928}
{:type :invoke, :f :write, :value 1, :process 31, :time 55930388096, :index 8929}
{:type :ok, :f :write, :value 4, :process 57, :time 55933283792, :index 8930}
{:type :ok, :f :write, :value 1, :process 31, :time 55934679335, :index 8931}
{:type :invoke, :f :read, :value nil, :process 79, :time 55934957335, :index 8932}
{:type :invoke, :f :write, :value 4, :process 16, :time 55935405788, :index 8933}
{:type :invoke, :f :cas, :value [3 2], :process 50, :time 55935757429, :index 8934}
{:type :ok, :f :read, :value 1, :process 79, :time 55940179601, :index 8937}
{:type :ok, :f :write, :value 4, :process 16, :time 55940748381, :index 8938}
{:type :fail, :f :cas, :value [3 2], :process 50, :time 55941127256, :index 8939}
{:type :invoke, :f :write, :value 3, :process 57, :time 55956553337, :index 8944}
{:type :ok, :f :write, :value 3, :process 57, :time 55962307894, :index 8946}
{:type :invoke, :f :write, :value 0, :process 33, :time 55963958668, :index 8948}
{:type :ok, :f :write, :value 0, :process 33, :time 55968953307, :index 8949}
{:type :invoke, :f :read, :value nil, :process 75, :time 55988028724, :index 8952}
{:type :invoke, :f :write, :value 1, :process 78, :time 55990222881, :index 8953}
{:type :ok, :f :read, :value 0, :process 75, :time 55993401129, :index 8954}
{:type :ok, :f :write, :value 1, :process 78, :time 55995331940, :index 8955}
{:type :invoke, :f :cas, :value [3 4], :process 54, :time 56006308269, :index 8956}
{:type :fail, :f :cas, :value [3 4], :process 54, :time 56012390804, :index 8958}
{:type :invoke, :f :cas, :value [1 2], :process 33, :time 56025217083, :index 8968}
{:type :invoke, :f :write, :value 1, :process 50, :time 56025373205, :index 8969}
{:type :ok, :f :cas, :value [1 2], :process 33, :time 56030714084, :index 8973}
{:type :invoke, :f :cas, :value [2 2], :process 52, :time 56030959729, :index 8974}
{:type :ok, :f :write, :value 1, :process 50, :time 56031646359, :index 8975}
{:type :invoke, :f :read, :value nil, :process 79, :time 56056446214, :index 8983}
{:type :ok, :f :read, :value 1, :process 79, :time 56061334814, :index 8985}
{:type :invoke, :f :read, :value nil, :process 31, :time 56063949525, :index 8987}
{:type :ok, :f :read, :value 1, :process 31, :time 56068057966, :index 8988}
{:type :invoke, :f :read, :value nil, :process 16, :time 56085009422, :index 8991}
{:type :ok, :f :read, :value 1, :process 16, :time 56089270940, :index 8992}
{:type :invoke, :f :read, :value nil, :process 57, :time 56117575092, :index 9003}
{:type :ok, :f :read, :value 1, :process 57, :time 56528847320, :index 9097}
{:type :fail, :f :cas, :value [2 2], :process 52, :time 56529537005, :index 9099}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
