{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :invoke, :f :cas, :value [2 1], :process 37, :time 10199675358, :index 2389}
{:type :invoke, :f :write, :value 4, :process 19, :time 10217763182, :index 2393}
{:type :invoke, :f :write, :value 3, :process 15, :time 10245750137, :index 2399}
{:type :ok, :f :write, :value 3, :process 15, :time 10251479095, :index 2401}
{:type :invoke, :f :write, :value 1, :process 11, :time 10253137406, :index 2403}
{:type :ok, :f :write, :value 1, :process 11, :time 10258113459, :index 2405}
{:type :invoke, :f :read, :value nil, :process 15, :time 10282737168, :index 2410}
{:type :invoke, :f :write, :value 2, :process 13, :time 10284610115, :index 2411}
{:type :ok, :f :read, :value 1, :process 15, :time 10289023315, :index 2412}
{:type :ok, :f :write, :value 2, :process 13, :time 10289104612, :index 2413}
{:type :invoke, :f :cas, :value [2 0], :process 32, :time 10299556105, :index 2420}
{:type :invoke, :f :cas, :value [4 3], :process 14, :time 10314739734, :index 2424}
{:type :invoke, :f :write, :value 0, :process 10, :time 10326483223, :index 2425}
{:type :invoke, :f :cas, :value [3 1], :process 13, :time 10328346206, :index 2427}
{:type :ok, :f :write, :value 0, :process 10, :time 10333089553, :index 2429}
{:type :fail, :f :cas, :value [3 1], :process 13, :time 10333755161, :index 2430}
{:type :invoke, :f :read, :value nil, :process 16, :time 10345749436, :index 2433}
{:type :ok, :f :read, :value 0, :process 16, :time 10351608254, :index 2436}
{:type :invoke, :f :read, :value nil, :process 18, :time 10369191382, :index 2441}
{:type :ok, :f :read, :value 0, :process 18, :time 10373892718, :index 2444}
{:type :invoke, :f :write, :value 2, :process 16, :time 10375873925, :index 2445}
{:type :ok, :f :write, :value 2, :process 16, :time 10382282194, :index 2446}
{:type :invoke, :f :read, :value nil, :process 11, :time 10413387160, :index 2449}
{:type :invoke, :f :write, :value 4, :process 15, :time 10417290465, :index 2450}
{:type :ok, :f :read, :value 2, :process 11, :time 10419019565, :index 2451}
{:type :invoke, :f :write, :value 3, :process 13, :time 10420013804, :index 2452}
{:type :ok, :f :write, :value 4, :process 15, :time 10422884063, :index 2453}
{:type :ok, :f :write, :value 3, :process 13, :time 10424167539, :index 2454}
{:type :invoke, :f :write, :value 3, :process 11, :time 10439309844, :index 2455}
{:type :ok, :f :write, :value 3, :process 11, :time 10445307535, :index 2456}
{:type :invoke, :f :write, :value 3, :process 11, :time 10452584578, :index 2457}
{:type :ok, :f :write, :value 3, :process 11, :time 10458294519, :index 2458}
{:type :invoke, :f :cas, :value [0 3], :process 11, :time 10459565141, :index 2459}
{:type :fail, :f :cas, :value [0 3], :process 11, :time 10465360291, :index 2461}
{:type :invoke, :f :write, :value 2, :process 10, :time 10490369968, :index 2467}
{:type :ok, :f :write, :value 2, :process 10, :time 10497317668, :index 2470}
{:type :invoke, :f :read, :value nil, :process 18, :time 10570161270, :index 2480}
{:type :invoke, :f :read, :value nil, :process 13, :time 10573420194, :index 2481}
{:type :ok, :f :read, :value 2, :process 18, :time 10575580141, :index 2482}
{:type :invoke, :f :write, :value 3, :process 16, :time 10575568543, :index 2483}
{:type :ok, :f :read, :value 2, :process 13, :time 10578065130, :index 2484}
{:type :ok, :f :write, :value 3, :process 16, :time 10580847093, :index 2485}
{:type :invoke, :f :read, :value nil, :process 11, :time 10582628113, :index 2486}
{:type :invoke, :f :cas, :value [3 0], :process 15, :time 10584148293, :index 2487}
{:type :ok, :f :read, :value 3, :process 11, :time 10588845289, :index 2488}
{:type :ok, :f :cas, :value [3 0], :process 15, :time 10589748378, :index 2489}
{:type :invoke, :f :read, :value nil, :process 10, :time 10625564483, :index 2498}
{:type :invoke, :f :read, :value nil, :process 16, :time 10628107721, :index 2499}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :ok, :f :read, :value 0, :process 10, :time 10634056120, :index 2502}
{:type :ok, :f :read, :value 0, :process 16, :time 10635389196, :index 2503}
{:type :invoke, :f :write, :value 0, :process 18, :time 10661892113, :index 2507}
{:type :invoke, :f :read, :value nil, :process 16, :time 10664650549, :index 2508}
{:type :invoke, :f :read, :value nil, :process 11, :time 10666114531, :index 2509}
{:type :ok, :f :write, :value 0, :process 18, :time 10675034494, :index 2510}
{:type :ok, :f :read, :value 0, :process 16, :time 10676531981, :index 2511}
{:type :ok, :f :read, :value 0, :process 11, :time 10677061251, :index 2512}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 10712031858, :index 2514}
{:type :fail, :f :cas, :value [4 3], :process 15, :time 10721223867, :index 2516}
{:type :invoke, :f :read, :value nil, :process 13, :time 10724334045, :index 2517}
{:type :ok, :f :read, :value 0, :process 13, :time 10729296113, :index 2518}
{:type :invoke, :f :read, :value nil, :process 10, :time 10740311585, :index 2521}
{:type :ok, :f :read, :value 0, :process 10, :time 10747203143, :index 2525}
{:type :invoke, :f :write, :value 4, :process 13, :time 10780561752, :index 2529}
{:type :ok, :f :write, :value 4, :process 13, :time 10786267275, :index 2530}
{:type :invoke, :f :write, :value 0, :process 11, :time 10801309692, :index 2533}
{:type :ok, :f :write, :value 0, :process 11, :time 10806809720, :index 2534}
{:type :invoke, :f :write, :value 3, :process 15, :time 10816494927, :index 2536}
{:type :ok, :f :write, :value 3, :process 15, :time 10822336379, :index 2538}
{:type :invoke, :f :write, :value 1, :process 11, :time 10824092215, :index 2539}
{:type :invoke, :f :read, :value nil, :process 18, :time 10824265371, :index 2540}
{:type :invoke, :f :write, :value 1, :process 10, :time 10828443687, :index 2543}
{:type :ok, :f :read, :value 3, :process 18, :time 10829671468, :index 2544}
{:type :ok, :f :write, :value 1, :process 11, :time 10830101959, :index 2545}
{:type :ok, :f :write, :value 1, :process 10, :time 10833519439, :index 2548}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :invoke, :f :read, :value nil, :process 16, :time 10872794309, :index 2552}
{:type :invoke, :f :write, :value 0, :process 13, :time 10874547236, :index 2553}
{:type :ok, :f :read, :value 1, :process 16, :time 10879493096, :index 2554}
{:type :ok, :f :write, :value 0, :process 13, :time 10879603176, :index 2555}
{:type :invoke, :f :write, :value 3, :process 15, :time 10925596884, :index 2560}
{:type :ok, :f :write, :value 3, :process 15, :time 10931783147, :index 2561}
{:type :invoke, :f :read, :value nil, :process 11, :time 10936359641, :index 2563}
{:type :ok, :f :read, :value 3, :process 11, :time 10941989288, :index 2565}
{:type :invoke, :f :read, :value nil, :process 13, :time 10981841491, :index 2568}
{:type :ok, :f :read, :value 3, :process 13, :time 10986515132, :index 2569}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 10990768781, :index 2570}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 10994934216, :index 2571}
{:type :fail, :f :cas, :value [0 0], :process 10, :time 10996989292, :index 2572}
{:type :fail, :f :cas, :value [0 4], :process 18, :time 11000053619, :index 2573}
{:type :invoke, :f :write, :value 3, :process 10, :time 11005241968, :index 2575}
{:type :ok, :f :write, :value 3, :process 10, :time 11010611067, :index 2577}
{:type :invoke, :f :cas, :value [0 1], :process 11, :time 11028247630, :index 2580}
{:type :fail, :f :cas, :value [0 1], :process 11, :time 11034488134, :index 2581}
{:type :invoke, :f :write, :value 3, :process 16, :time 11055783515, :index 2582}
{:type :ok, :f :write, :value 3, :process 16, :time 11061047974, :index 2583}
{:type :invoke, :f :write, :value 2, :process 10, :time 11085868169, :index 2588}
{:type :invoke, :f :read, :value nil, :process 18, :time 11090325207, :index 2590}
{:type :ok, :f :write, :value 2, :process 10, :time 11093065960, :index 2592}
{:type :ok, :f :read, :value 2, :process 18, :time 11096087275, :index 2594}
{:type :invoke, :f :read, :value nil, :process 15, :time 11097045344, :index 2595}
{:type :ok, :f :read, :value 2, :process 15, :time 11102106570, :index 2597}
{:type :invoke, :f :read, :value nil, :process 10, :time 11102305336, :index 2598}
{:type :ok, :f :read, :value 2, :process 10, :time 11107728500, :index 2601}
{:type :invoke, :f :read, :value nil, :process 18, :time 11151351575, :index 2606}
{:type :invoke, :f :read, :value nil, :process 13, :time 11154806999, :index 2607}
{:type :ok, :f :read, :value 2, :process 18, :time 11156609645, :index 2608}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 11158317718, :index 2609}
{:type :ok, :f :read, :value 2, :process 13, :time 11159507097, :index 2610}
{:type :ok, :f :cas, :value [2 4], :process 16, :time 11164210477, :index 2611}
{:type :invoke, :f :read, :value nil, :process 11, :time 11216775504, :index 2618}
{:type :ok, :f :read, :value 4, :process 11, :time 11222114318, :index 2619}
{:type :invoke, :f :cas, :value [0 3], :process 11, :time 11223371306, :index 2620}
{:type :invoke, :f :write, :value 4, :process 13, :time 11224769627, :index 2621}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 11245992136, :index 2622}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 11270354600, :index 2624}
{:type :invoke, :f :cas, :value [3 1], :process 18, :time 11272880790, :index 2625}
{:type :invoke, :f :read, :value nil, :process 16, :time 11351487247, :index 2630}
{:type :ok, :f :write, :value 4, :process 13, :time 14139418013, :index 2632}
{:type :fail, :f :cas, :value [3 1], :process 18, :time 14140168497, :index 2633}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 14140390210, :index 2634}
{:type :fail, :f :cas, :value [0 3], :process 11, :time 14141004531, :index 2636}
{:type :ok, :f :read, :value 3, :process 16, :time 14141759868, :index 2640}
{:type :ok, :f :cas, :value [4 3], :process 14, :time 14142239026, :index 2642}
{:type :fail, :f :cas, :value [2 1], :process 37, :time 14142809884, :index 2643}
{:type :ok, :f :write, :value 4, :process 19, :time 14143479535, :index 2647}
{:type :fail, :f :cas, :value [2 0], :process 32, :time 14143906299, :index 2649}
{:type :fail, :f :cas, :value [0 0], :process 10, :time 14144562647, :index 2650}
{:type :invoke, :f :read, :value nil, :process 13, :time 14156833834, :index 2652}
{:type :ok, :f :read, :value 3, :process 13, :time 14162935890, :index 2653}
{:type :invoke, :f :read, :value nil, :process 19, :time 14189936092, :index 2656}
{:type :invoke, :f :write, :value 4, :process 18, :time 14193422706, :index 2658}
{:type :ok, :f :write, :value 4, :process 18, :time 14197951485, :index 2660}
{:type :invoke, :f :read, :value nil, :process 11, :time 14246308019, :index 2670}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 14248141222, :index 2672}
{:type :ok, :f :read, :value 4, :process 11, :time 14250802275, :index 2673}
{:type :invoke, :f :read, :value nil, :process 11, :time 14252062877, :index 2674}
{:type :fail, :f :cas, :value [2 4], :process 16, :time 14253311668, :index 2676}
{:type :invoke, :f :write, :value 4, :process 10, :time 14257151676, :index 2679}
{:type :ok, :f :read, :value 4, :process 11, :time 14257638738, :index 2680}
{:type :ok, :f :write, :value 4, :process 10, :time 14262211154, :index 2681}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 14274233007, :index 2684}
{:type :ok, :f :cas, :value [4 2], :process 18, :time 14278559980, :index 2685}
{:type :ok, :f :read, :value 2, :process 19, :time 14291820014, :index 2690}
{:type :invoke, :f :read, :value nil, :process 15, :time 14295672998, :index 2693}
{:type :ok, :f :read, :value 2, :process 15, :time 14301074478, :index 2695}
{:type :invoke, :f :read, :value nil, :process 14, :time 14318226974, :index 2696}
{:type :ok, :f :read, :value 2, :process 14, :time 14323229817, :index 2697}
{:type :invoke, :f :read, :value nil, :process 37, :time 14326294865, :index 2698}
{:type :invoke, :f :write, :value 2, :process 32, :time 14334082714, :index 2700}
{:type :invoke, :f :read, :value nil, :process 13, :time 14345198240, :index 2705}
{:type :ok, :f :read, :value 2, :process 13, :time 14350138514, :index 2707}
{:type :invoke, :f :read, :value nil, :process 11, :time 14363911034, :index 2708}
{:type :ok, :f :read, :value 2, :process 11, :time 14368603830, :index 2709}
{:type :invoke, :f :write, :value 4, :process 10, :time 14395479773, :index 2713}
{:type :ok, :f :write, :value 4, :process 10, :time 14401015175, :index 2715}
{:type :invoke, :f :read, :value nil, :process 15, :time 14410323802, :index 2716}
{:type :ok, :f :read, :value 4, :process 15, :time 14415863055, :index 2717}
{:type :invoke, :f :write, :value 4, :process 18, :time 14418829048, :index 2719}
{:type :ok, :f :write, :value 4, :process 18, :time 14424958065, :index 2723}
{:type :invoke, :f :read, :value nil, :process 19, :time 14431105076, :index 2726}
{:type :invoke, :f :write, :value 4, :process 16, :time 14433570305, :index 2727}
{:type :ok, :f :read, :value 4, :process 19, :time 14435810605, :index 2728}
{:type :ok, :f :write, :value 4, :process 16, :time 14438287416, :index 2729}
{:type :invoke, :f :cas, :value [0 3], :process 14, :time 14472499253, :index 2734}
{:type :invoke, :f :cas, :value [0 1], :process 18, :time 14473213622, :index 2735}
{:type :fail, :f :cas, :value [0 3], :process 14, :time 14478014599, :index 2736}
{:type :fail, :f :cas, :value [0 1], :process 18, :time 14478514741, :index 2737}
{:type :invoke, :f :read, :value nil, :process 10, :time 14493263007, :index 2740}
{:type :ok, :f :read, :value 4, :process 10, :time 14498281175, :index 2741}
{:type :invoke, :f :write, :value 1, :process 13, :time 14508410208, :index 2743}
{:type :ok, :f :write, :value 1, :process 13, :time 14513244719, :index 2744}
{:type :invoke, :f :write, :value 4, :process 16, :time 14534541484, :index 2754}
{:type :ok, :f :write, :value 4, :process 16, :time 14539847947, :index 2755}
{:type :invoke, :f :write, :value 1, :process 18, :time 14547802614, :index 2756}
{:type :invoke, :f :write, :value 3, :process 10, :time 14548534052, :index 2757}
{:type :ok, :f :write, :value 1, :process 18, :time 14552838991, :index 2759}
{:type :invoke, :f :write, :value 0, :process 11, :time 14553856807, :index 2761}
{:type :ok, :f :write, :value 3, :process 10, :time 14554699240, :index 2762}
{:type :ok, :f :write, :value 0, :process 11, :time 14559248842, :index 2763}
{:type :invoke, :f :write, :value 0, :process 11, :time 14563513872, :index 2765}
{:type :ok, :f :write, :value 0, :process 11, :time 14568140496, :index 2766}
{:type :invoke, :f :cas, :value [3 4], :process 18, :time 14589101957, :index 2770}
{:type :invoke, :f :read, :value nil, :process 16, :time 14592101979, :index 2772}
{:type :invoke, :f :cas, :value [3 0], :process 15, :time 14593118677, :index 2773}
{:type :fail, :f :cas, :value [3 4], :process 18, :time 14594215254, :index 2774}
{:type :ok, :f :read, :value 0, :process 16, :time 14597375122, :index 2777}
{:type :fail, :f :cas, :value [3 0], :process 15, :time 14599051066, :index 2778}
{:type :ok, :f :write, :value 2, :process 32, :time 14605302508, :index 2782}
{:type :ok, :f :read, :value 0, :process 37, :time 14605550666, :index 2783}
{:type :invoke, :f :write, :value 0, :process 10, :time 14606949222, :index 2784}
{:type :invoke, :f :write, :value 1, :process 11, :time 14611348939, :index 2786}
{:type :ok, :f :write, :value 0, :process 10, :time 14612016374, :index 2787}
{:type :ok, :f :write, :value 1, :process 11, :time 14615618325, :index 2789}
{:type :invoke, :f :read, :value nil, :process 14, :time 14623291750, :index 2790}
{:type :ok, :f :read, :value 1, :process 14, :time 14627797608, :index 2791}
{:type :invoke, :f :cas, :value [3 1], :process 19, :time 14635062700, :index 2792}
{:type :fail, :f :cas, :value [3 1], :process 19, :time 14640026627, :index 2794}
{:type :invoke, :f :read, :value nil, :process 13, :time 14662501051, :index 2799}
{:type :ok, :f :read, :value 1, :process 13, :time 14667142853, :index 2801}
{:type :invoke, :f :write, :value 2, :process 18, :time 14780485921, :index 2844}
{:type :ok, :f :write, :value 2, :process 18, :time 14784568378, :index 2846}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
