{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :invoke, :f :cas, :value [3 0], :process 7, :time 46250327321, :index 15944}
{:type :fail, :f :cas, :value [3 0], :process 7, :time 46252206611, :error :connect, :index 15945}
{:type :invoke, :f :read, :value nil, :process 22, :time 46272019906, :index 15954}
{:type :fail, :f :read, :value nil, :process 22, :time 46273931307, :error :connect, :index 15956}
{:type :invoke, :f :write, :value 0, :process 6, :time 46343960872, :index 15976}
{:type :fail, :f :write, :value 0, :process 6, :time 46345994283, :error :connect, :index 15977}
{:type :invoke, :f :write, :value 0, :process 0, :time 46351242444, :index 15978}
{:type :fail, :f :write, :value 0, :process 0, :time 46352986165, :error :connect, :index 15979}
{:type :invoke, :f :write, :value 3, :process 22, :time 46356188758, :index 15984}
{:type :invoke, :f :write, :value 2, :process 29, :time 46356314153, :index 15985}
{:type :fail, :f :write, :value 2, :process 29, :time 46358239036, :error :connect, :index 15986}
{:type :fail, :f :write, :value 3, :process 22, :time 46358456550, :error :connect, :index 15987}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 46363631457, :index 15988}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 46365440153, :error :connect, :index 15989}
{:type :invoke, :f :read, :value nil, :process 0, :time 46367231675, :index 15990}
{:type :fail, :f :read, :value nil, :process 0, :time 46369217219, :error :connect, :index 15992}
{:type :invoke, :f :cas, :value [2 4], :process 7, :time 46417472731, :index 16006}
{:type :fail, :f :cas, :value [2 4], :process 7, :time 46419388773, :error :connect, :index 16007}
{:type :invoke, :f :read, :value nil, :process 0, :time 46434480029, :index 16010}
{:type :fail, :f :read, :value nil, :process 0, :time 46436511625, :error :connect, :index 16011}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :invoke, :f :read, :value nil, :process 21, :time 46468262157, :index 16018}
{:type :invoke, :f :read, :value nil, :process 7, :time 46469664698, :index 16020}
{:type :fail, :f :read, :value nil, :process 21, :time 46470537696, :error :connect, :index 16021}
{:type :fail, :f :read, :value nil, :process 7, :time 46471720313, :error :connect, :index 16022}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 46472142378, :index 16023}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 46474007458, :error :connect, :index 16025}
{:type :invoke, :f :cas, :value [4 1], :process 29, :time 46494522921, :index 16031}
{:type :fail, :f :cas, :value [4 1], :process 29, :time 46496359206, :error :connect, :index 16032}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 46507707072, :index 16033}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 46509812167, :error :connect, :index 16034}
{:type :invoke, :f :read, :value nil, :process 7, :time 46514983496, :index 16038}
{:type :fail, :f :read, :value nil, :process 7, :time 46516626079, :error :connect, :index 16040}
{:type :invoke, :f :write, :value 1, :process 22, :time 46537705554, :index 16043}
{:type :invoke, :f :write, :value 1, :process 6, :time 46539270800, :index 16044}
{:type :fail, :f :write, :value 1, :process 22, :time 46539401936, :error :connect, :index 16045}
{:type :fail, :f :write, :value 1, :process 6, :time 46541259083, :error :connect, :index 16046}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 46541366198, :index 16047}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 46543137498, :error :connect, :index 16049}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :invoke, :f :write, :value 2, :process 4, :time 46554280416, :index 16054}
{:type :fail, :f :write, :value 2, :process 4, :time 46555897091, :error :connect, :index 16055}
{:type :invoke, :f :write, :value 1, :process 21, :time 46568804052, :index 16058}
{:type :fail, :f :write, :value 1, :process 21, :time 46570735831, :error :connect, :index 16059}
{:type :invoke, :f :read, :value nil, :process 0, :time 46590730721, :index 16066}
{:type :fail, :f :read, :value nil, :process 0, :time 46592430026, :error :connect, :index 16068}
{:type :invoke, :f :write, :value 0, :process 3, :time 46632282763, :index 16075}
{:type :fail, :f :write, :value 0, :process 3, :time 46634334627, :error :connect, :index 16077}
{:type :invoke, :f :write, :value 3, :process 8, :time 46636398695, :index 16078}
{:type :fail, :f :write, :value 3, :process 8, :time 46638245308, :error :connect, :index 16079}
{:type :invoke, :f :cas, :value [2 1], :process 29, :time 46659634633, :index 16082}
{:type :fail, :f :cas, :value [2 1], :process 29, :time 46661230291, :error :connect, :index 16083}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 46683667995, :index 16088}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 46685721871, :error :connect, :index 16089}
{:type :invoke, :f :read, :value nil, :process 22, :time 46687666073, :index 16090}
{:type :invoke, :f :write, :value 2, :process 5, :time 46688093538, :index 16091}
{:type :fail, :f :read, :value nil, :process 22, :time 46689592970, :error :connect, :index 16092}
{:type :fail, :f :write, :value 2, :process 5, :time 46689739196, :error :connect, :index 16093}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 46690997523, :index 16094}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 46693123867, :error :connect, :index 16095}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 46698976744, :index 16098}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 46700972263, :error :connect, :index 16099}
{:type :invoke, :f :read, :value nil, :process 7, :time 46707849427, :index 16100}
{:type :fail, :f :read, :value nil, :process 7, :time 46709514846, :error :connect, :index 16101}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 46714534025, :index 16104}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 46716401659, :error :connect, :index 16105}
{:type :invoke, :f :write, :value 2, :process 4, :time 46732110354, :index 16113}
{:type :fail, :f :write, :value 2, :process 4, :time 46734359757, :error :connect, :index 16115}
{:type :invoke, :f :read, :value nil, :process 6, :time 46768687113, :index 16116}
{:type :fail, :f :read, :value nil, :process 6, :time 46770840007, :error :connect, :index 16117}
{:type :invoke, :f :write, :value 1, :process 29, :time 46774505089, :index 16118}
{:type :fail, :f :write, :value 1, :process 29, :time 46776298668, :error :connect, :index 16119}
{:type :invoke, :f :read, :value nil, :process 21, :time 46786390650, :index 16124}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 46786999107, :index 16125}
{:type :fail, :f :read, :value nil, :process 21, :time 46788199411, :error :connect, :index 16126}
{:type :fail, :f :cas, :value [1 4], :process 0, :time 46789150829, :error :connect, :index 16127}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 46793603545, :index 16130}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 46795600623, :error :connect, :index 16131}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 46808575598, :index 16134}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 46810491282, :error :connect, :index 16135}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 46810648239, :index 16136}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 46812439214, :error :connect, :index 16138}
{:type :invoke, :f :read, :value nil, :process 8, :time 46818505631, :index 16140}
{:type :fail, :f :read, :value nil, :process 8, :time 46820404113, :error :connect, :index 16141}
{:type :invoke, :f :read, :value nil, :process 8, :time 46833677257, :index 16144}
{:type :fail, :f :read, :value nil, :process 8, :time 46835565497, :error :connect, :index 16145}
{:type :invoke, :f :cas, :value [0 0], :process 5, :time 46838239163, :index 16146}
{:type :fail, :f :cas, :value [0 0], :process 5, :time 46840432611, :error :connect, :index 16147}
{:type :invoke, :f :write, :value 0, :process 22, :time 46841893522, :index 16149}
{:type :invoke, :f :write, :value 4, :process 7, :time 46843785448, :index 16151}
{:type :fail, :f :write, :value 0, :process 22, :time 46844040856, :error :connect, :index 16152}
{:type :fail, :f :write, :value 4, :process 7, :time 46845775226, :error :connect, :index 16153}
{:type :invoke, :f :cas, :value [1 3], :process 5, :time 46860697570, :index 16156}
{:type :fail, :f :cas, :value [1 3], :process 5, :time 46862622232, :error :connect, :index 16158}
{:type :invoke, :f :write, :value 0, :process 5, :time 46877874453, :index 16162}
{:type :invoke, :f :cas, :value [3 2], :process 7, :time 46879033703, :index 16163}
{:type :fail, :f :write, :value 0, :process 5, :time 46879639928, :error :connect, :index 16164}
{:type :fail, :f :cas, :value [3 2], :process 7, :time 46880860266, :error :connect, :index 16165}
{:type :invoke, :f :write, :value 1, :process 22, :time 46895282045, :index 16171}
{:type :fail, :f :write, :value 1, :process 22, :time 46897081596, :error :connect, :index 16173}
{:type :invoke, :f :write, :value 0, :process 21, :time 46932433146, :index 16180}
{:type :fail, :f :write, :value 0, :process 21, :time 46934503395, :error :connect, :index 16181}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 46942118042, :index 16184}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 46944022225, :error :connect, :index 16185}
{:type :invoke, :f :cas, :value [4 2], :process 5, :time 46943942882, :index 16186}
{:type :fail, :f :cas, :value [4 2], :process 5, :time 46945892718, :error :connect, :index 16187}
{:type :invoke, :f :cas, :value [3 1], :process 5, :time 46951157430, :index 16190}
{:type :invoke, :f :read, :value nil, :process 3, :time 46951704934, :index 16191}
{:type :fail, :f :cas, :value [3 1], :process 5, :time 46952966659, :error :connect, :index 16192}
{:type :fail, :f :read, :value nil, :process 3, :time 46953793148, :error :connect, :index 16193}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 46956422643, :index 16194}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 46958268710, :error :connect, :index 16195}
{:type :invoke, :f :write, :value 0, :process 4, :time 46959866599, :index 16196}
{:type :fail, :f :write, :value 0, :process 4, :time 46961835795, :error :connect, :index 16197}
{:type :invoke, :f :read, :value nil, :process 29, :time 46967615242, :index 16200}
{:type :fail, :f :read, :value nil, :process 29, :time 46969183017, :error :connect, :index 16201}
{:type :invoke, :f :read, :value nil, :process 5, :time 46988246230, :index 16204}
{:type :fail, :f :read, :value nil, :process 5, :time 46990274441, :error :connect, :index 16205}
{:type :invoke, :f :cas, :value [0 0], :process 29, :time 47012451465, :index 16210}
{:type :fail, :f :cas, :value [0 0], :process 29, :time 47014388364, :error :connect, :index 16212}
{:type :invoke, :f :write, :value 3, :process 0, :time 47019551600, :index 16216}
{:type :fail, :f :write, :value 3, :process 0, :time 47021394545, :error :connect, :index 16217}
{:type :invoke, :f :read, :value nil, :process 4, :time 47025095446, :index 16218}
{:type :invoke, :f :write, :value 0, :process 5, :time 47025575117, :index 16219}
{:type :invoke, :f :read, :value nil, :process 21, :time 47025772035, :index 16220}
{:type :fail, :f :read, :value nil, :process 4, :time 47026921702, :error :connect, :index 16221}
{:type :fail, :f :write, :value 0, :process 5, :time 47027529669, :error :connect, :index 16222}
{:type :fail, :f :read, :value nil, :process 21, :time 47027952841, :error :connect, :index 16223}
{:type :invoke, :f :read, :value nil, :process 8, :time 47029831275, :index 16224}
{:type :fail, :f :read, :value nil, :process 8, :time 47031900182, :error :connect, :index 16225}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 47046052451, :index 16231}
{:type :invoke, :f :write, :value 0, :process 0, :time 47047665066, :index 16234}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 47048436214, :error :connect, :index 16235}
{:type :fail, :f :write, :value 0, :process 0, :time 47049633309, :error :connect, :index 16237}
{:type :invoke, :f :write, :value 2, :process 7, :time 47073126961, :index 16242}
{:type :fail, :f :write, :value 2, :process 7, :time 47075166894, :error :connect, :index 16243}
{:type :invoke, :f :read, :value nil, :process 22, :time 47085339007, :index 16245}
{:type :invoke, :f :cas, :value [0 3], :process 7, :time 47086437567, :index 16247}
{:type :fail, :f :read, :value nil, :process 22, :time 47087158190, :error :connect, :index 16248}
{:type :fail, :f :cas, :value [0 3], :process 7, :time 47088797288, :error :connect, :index 16249}
{:type :invoke, :f :read, :value nil, :process 22, :time 47098395587, :index 16250}
{:type :fail, :f :read, :value nil, :process 22, :time 47100485327, :error :connect, :index 16251}
{:type :invoke, :f :cas, :value [4 4], :process 4, :time 47102199194, :index 16253}
{:type :fail, :f :cas, :value [4 4], :process 4, :time 47104365960, :error :connect, :index 16255}
{:type :invoke, :f :read, :value nil, :process 22, :time 47106733585, :index 16256}
{:type :fail, :f :read, :value nil, :process 22, :time 47108566576, :error :connect, :index 16258}
{:type :invoke, :f :read, :value nil, :process 0, :time 47110935749, :index 16260}
{:type :fail, :f :read, :value nil, :process 0, :time 47112692812, :error :connect, :index 16263}
{:type :invoke, :f :write, :value 0, :process 3, :time 47123721815, :index 16268}
{:type :invoke, :f :cas, :value [0 2], :process 6, :time 47125281232, :index 16270}
{:type :fail, :f :write, :value 0, :process 3, :time 47125661904, :error :connect, :index 16271}
{:type :fail, :f :cas, :value [0 2], :process 6, :time 47127296119, :error :connect, :index 16273}
{:type :invoke, :f :write, :value 3, :process 8, :time 47131167870, :index 16274}
{:type :fail, :f :write, :value 3, :process 8, :time 47132748434, :error :connect, :index 16275}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 47136070804, :index 16276}
{:type :invoke, :f :write, :value 2, :process 5, :time 47136847698, :index 16277}
{:type :invoke, :f :read, :value nil, :process 3, :time 47136932522, :index 16278}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 47138135351, :error :connect, :index 16279}
{:type :invoke, :f :read, :value nil, :process 6, :time 47138463507, :index 16280}
{:type :fail, :f :read, :value nil, :process 3, :time 47138901610, :error :connect, :index 16281}
{:type :fail, :f :write, :value 2, :process 5, :time 47139244876, :error :connect, :index 16282}
{:type :fail, :f :read, :value nil, :process 6, :time 47140553013, :error :connect, :index 16284}
{:type :invoke, :f :read, :value nil, :process 0, :time 47167897775, :index 16288}
{:type :invoke, :f :cas, :value [3 3], :process 21, :time 47169197216, :index 16289}
{:type :fail, :f :read, :value nil, :process 0, :time 47170029865, :error :connect, :index 16290}
{:type :fail, :f :cas, :value [3 3], :process 21, :time 47171082596, :error :connect, :index 16292}
{:type :invoke, :f :write, :value 3, :process 3, :time 47180162190, :index 16294}
{:type :fail, :f :write, :value 3, :process 3, :time 47182119417, :error :connect, :index 16295}
{:type :invoke, :f :write, :value 0, :process 8, :time 47192050396, :index 16296}
{:type :fail, :f :write, :value 0, :process 8, :time 47194159903, :error :connect, :index 16297}
{:type :invoke, :f :write, :value 0, :process 3, :time 47196383985, :index 16298}
{:type :fail, :f :write, :value 0, :process 3, :time 47198471694, :error :connect, :index 16300}
{:type :invoke, :f :read, :value nil, :process 29, :time 47208639374, :index 16302}
{:type :fail, :f :read, :value nil, :process 29, :time 47210804877, :error :connect, :index 16304}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 47212592878, :index 16306}
{:type :invoke, :f :write, :value 1, :process 3, :time 47213748248, :index 16307}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 47214612396, :error :connect, :index 16308}
{:type :fail, :f :write, :value 1, :process 3, :time 47215365549, :error :connect, :index 16309}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 47226614847, :index 16312}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 47228486295, :error :connect, :index 16313}
{:type :invoke, :f :write, :value 1, :process 0, :time 47239295017, :index 16316}
{:type :fail, :f :write, :value 1, :process 0, :time 47241191790, :error :connect, :index 16317}
{:type :invoke, :f :write, :value 4, :process 21, :time 47256339071, :index 16321}
{:type :fail, :f :write, :value 4, :process 21, :time 47258426122, :error :connect, :index 16323}
{:type :invoke, :f :read, :value nil, :process 6, :time 47263820624, :index 16326}
{:type :fail, :f :read, :value nil, :process 6, :time 47265479741, :error :connect, :index 16327}
{:type :invoke, :f :read, :value nil, :process 4, :time 47284897943, :index 16330}
{:type :fail, :f :read, :value nil, :process 4, :time 47286609066, :error :connect, :index 16332}
{:type :invoke, :f :write, :value 3, :process 22, :time 47290827879, :index 16334}
{:type :fail, :f :write, :value 3, :process 22, :time 47292413812, :error :connect, :index 16335}
{:type :invoke, :f :write, :value 2, :process 5, :time 47314501868, :index 16346}
{:type :fail, :f :write, :value 2, :process 5, :time 47316361809, :error :connect, :index 16347}
{:type :invoke, :f :write, :value 0, :process 7, :time 47320408600, :index 16350}
{:type :fail, :f :write, :value 0, :process 7, :time 47322055046, :error :connect, :index 16352}
{:type :invoke, :f :read, :value nil, :process 8, :time 47373422830, :index 16366}
{:type :fail, :f :read, :value nil, :process 8, :time 47375093931, :error :connect, :index 16367}
{:type :invoke, :f :cas, :value [4 2], :process 3, :time 47386734887, :index 16370}
{:type :fail, :f :cas, :value [4 2], :process 3, :time 47388872630, :error :connect, :index 16371}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 47393468371, :index 16373}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 47395584665, :error :connect, :index 16374}
{:type :invoke, :f :read, :value nil, :process 29, :time 47403069527, :index 16378}
{:type :fail, :f :read, :value nil, :process 29, :time 47405120395, :error :connect, :index 16379}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
