{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :invoke, :f :cas, :value [0 4], :process 34, :time 30099230618, :index 9630}
{:type :fail, :f :cas, :value [0 4], :process 34, :time 30101435743, :error :connect, :index 9633}
{:type :invoke, :f :read, :value nil, :process 33, :time 30127796483, :index 9648}
{:type :fail, :f :read, :value nil, :process 33, :time 30129926220, :error :connect, :index 9650}
{:type :invoke, :f :cas, :value [2 1], :process 39, :time 30131420786, :index 9652}
{:type :fail, :f :cas, :value [2 1], :process 39, :time 30132945180, :error :connect, :index 9653}
{:type :invoke, :f :cas, :value [2 3], :process 39, :time 30138208093, :index 9654}
{:type :fail, :f :cas, :value [2 3], :process 39, :time 30139813508, :error :connect, :index 9655}
{:type :invoke, :f :cas, :value [4 3], :process 32, :time 30148173759, :index 9658}
{:type :fail, :f :cas, :value [4 3], :process 32, :time 30149985693, :error :connect, :index 9659}
{:type :invoke, :f :read, :value nil, :process 15, :time 30153182244, :index 9660}
{:type :fail, :f :read, :value nil, :process 15, :time 30155245921, :error :connect, :index 9661}
{:type :invoke, :f :cas, :value [0 0], :process 18, :time 30162635377, :index 9665}
{:type :fail, :f :cas, :value [0 0], :process 18, :time 30165039108, :error :connect, :index 9669}
{:type :invoke, :f :read, :value nil, :process 36, :time 30218598007, :index 9683}
{:type :fail, :f :read, :value nil, :process 36, :time 30220443853, :error :connect, :index 9685}
{:type :invoke, :f :write, :value 0, :process 18, :time 30227307639, :index 9687}
{:type :fail, :f :write, :value 0, :process 18, :time 30228977386, :error :connect, :index 9689}
{:type :invoke, :f :write, :value 0, :process 34, :time 30238677432, :index 9694}
{:type :fail, :f :write, :value 0, :process 34, :time 30240410806, :error :connect, :index 9695}
{:type :invoke, :f :cas, :value [0 2], :process 37, :time 30245933769, :index 9696}
{:type :fail, :f :cas, :value [0 2], :process 37, :time 30247863763, :error :connect, :index 9697}
{:type :invoke, :f :cas, :value [4 4], :process 32, :time 30252272520, :index 9698}
{:type :fail, :f :cas, :value [4 4], :process 32, :time 30254087622, :error :connect, :index 9699}
{:type :invoke, :f :read, :value nil, :process 10, :time 30258329396, :index 9700}
{:type :fail, :f :read, :value nil, :process 10, :time 30260381000, :error :connect, :index 9701}
{:type :invoke, :f :read, :value nil, :process 39, :time 30272081830, :index 9704}
{:type :fail, :f :read, :value nil, :process 39, :time 30274278370, :error :connect, :index 9706}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 30280512533, :index 9712}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 30282343358, :error :connect, :index 9713}
{:type :invoke, :f :write, :value 4, :process 32, :time 30285348801, :index 9716}
{:type :fail, :f :write, :value 4, :process 32, :time 30287137645, :error :connect, :index 9717}
{:type :invoke, :f :read, :value nil, :process 32, :time 30304400154, :index 9720}
{:type :invoke, :f :cas, :value [3 1], :process 33, :time 30306192886, :index 9721}
{:type :fail, :f :read, :value nil, :process 32, :time 30306591910, :error :connect, :index 9722}
{:type :fail, :f :cas, :value [3 1], :process 33, :time 30308268753, :error :connect, :index 9723}
{:type :invoke, :f :read, :value nil, :process 11, :time 30336176724, :index 9724}
{:type :fail, :f :read, :value nil, :process 11, :time 30338119245, :error :connect, :index 9725}
{:type :invoke, :f :read, :value nil, :process 37, :time 30369204001, :index 9729}
{:type :fail, :f :read, :value nil, :process 37, :time 30371423041, :error :connect, :index 9732}
{:type :invoke, :f :cas, :value [0 1], :process 36, :time 30393712714, :index 9743}
{:type :invoke, :f :read, :value nil, :process 18, :time 30394251566, :index 9744}
{:type :fail, :f :cas, :value [0 1], :process 36, :time 30395508063, :error :connect, :index 9746}
{:type :fail, :f :read, :value nil, :process 18, :time 30396201162, :error :connect, :index 9747}
{:type :invoke, :f :write, :value 1, :process 34, :time 30397675185, :index 9748}
{:type :fail, :f :write, :value 1, :process 34, :time 30399446804, :error :connect, :index 9749}
{:type :invoke, :f :write, :value 2, :process 33, :time 30411540974, :index 9750}
{:type :fail, :f :write, :value 2, :process 33, :time 30413647848, :error :connect, :index 9751}
{:type :invoke, :f :read, :value nil, :process 36, :time 30417785027, :index 9752}
{:type :fail, :f :read, :value nil, :process 36, :time 30419664097, :error :connect, :index 9753}
{:type :invoke, :f :read, :value nil, :process 15, :time 30436616776, :index 9762}
{:type :fail, :f :read, :value nil, :process 15, :time 30438449473, :error :connect, :index 9763}
{:type :invoke, :f :read, :value nil, :process 10, :time 30449644178, :index 9767}
{:type :fail, :f :read, :value nil, :process 10, :time 30451641253, :error :connect, :index 9770}
{:type :invoke, :f :read, :value nil, :process 11, :time 30460393833, :index 9772}
{:type :invoke, :f :cas, :value [0 4], :process 39, :time 30461549757, :index 9773}
{:type :fail, :f :read, :value nil, :process 11, :time 30462233541, :error :connect, :index 9774}
{:type :invoke, :f :write, :value 1, :process 11, :time 30462349773, :index 9775}
{:type :fail, :f :cas, :value [0 4], :process 39, :time 30463625679, :error :connect, :index 9776}
{:type :fail, :f :write, :value 1, :process 11, :time 30464422987, :error :connect, :index 9777}
{:type :invoke, :f :read, :value nil, :process 10, :time 30467919095, :index 9778}
{:type :fail, :f :read, :value nil, :process 10, :time 30469804154, :error :connect, :index 9779}
{:type :invoke, :f :read, :value nil, :process 37, :time 30481664758, :index 9780}
{:type :fail, :f :read, :value nil, :process 37, :time 30483517671, :error :connect, :index 9781}
{:type :invoke, :f :write, :value 1, :process 32, :time 30505879077, :index 9786}
{:type :fail, :f :write, :value 1, :process 32, :time 30507692700, :error :connect, :index 9787}
{:type :invoke, :f :read, :value nil, :process 11, :time 30509662462, :index 9788}
{:type :fail, :f :read, :value nil, :process 11, :time 30511293829, :error :connect, :index 9789}
{:type :invoke, :f :write, :value 4, :process 18, :time 30514455235, :index 9792}
{:type :fail, :f :write, :value 4, :process 18, :time 30516344791, :error :connect, :index 9793}
{:type :invoke, :f :write, :value 0, :process 32, :time 30528953631, :index 9798}
{:type :invoke, :f :write, :value 1, :process 34, :time 30530741374, :index 9799}
{:type :fail, :f :write, :value 0, :process 32, :time 30530952580, :error :connect, :index 9800}
{:type :fail, :f :write, :value 1, :process 34, :time 30532689010, :error :connect, :index 9801}
{:type :invoke, :f :write, :value 0, :process 11, :time 30533570477, :index 9802}
{:type :fail, :f :write, :value 0, :process 11, :time 30535636188, :error :connect, :index 9803}
{:type :invoke, :f :read, :value nil, :process 33, :time 30572908874, :index 9812}
{:type :invoke, :f :write, :value 0, :process 15, :time 30574723932, :index 9814}
{:type :fail, :f :read, :value nil, :process 33, :time 30574897737, :error :connect, :index 9815}
{:type :fail, :f :write, :value 0, :process 15, :time 30576543621, :error :connect, :index 9817}
{:type :invoke, :f :read, :value nil, :process 36, :time 30595926471, :index 9826}
{:type :fail, :f :read, :value nil, :process 36, :time 30597768072, :error :connect, :index 9827}
{:type :invoke, :f :read, :value nil, :process 18, :time 30610620133, :index 9832}
{:type :fail, :f :read, :value nil, :process 18, :time 30612541973, :error :connect, :index 9833}
{:type :invoke, :f :write, :value 4, :process 37, :time 30625787939, :index 9836}
{:type :fail, :f :write, :value 4, :process 37, :time 30627607717, :error :connect, :index 9838}
{:type :invoke, :f :read, :value nil, :process 34, :time 30642948265, :index 9842}
{:type :fail, :f :read, :value nil, :process 34, :time 30644821601, :error :connect, :index 9843}
{:type :invoke, :f :write, :value 1, :process 36, :time 30645094550, :index 9844}
{:type :fail, :f :write, :value 1, :process 36, :time 30646794468, :error :connect, :index 9845}
{:type :invoke, :f :cas, :value [2 3], :process 15, :time 30646806393, :index 9846}
{:type :fail, :f :cas, :value [2 3], :process 15, :time 30648631549, :error :connect, :index 9847}
{:type :invoke, :f :cas, :value [3 1], :process 39, :time 30651900656, :index 9849}
{:type :fail, :f :cas, :value [3 1], :process 39, :time 30653922693, :error :connect, :index 9851}
{:type :invoke, :f :write, :value 4, :process 10, :time 30660066243, :index 9856}
{:type :fail, :f :write, :value 4, :process 10, :time 30662060284, :error :connect, :index 9857}
{:type :invoke, :f :read, :value nil, :process 32, :time 30668196342, :index 9860}
{:type :fail, :f :read, :value nil, :process 32, :time 30669995334, :error :connect, :index 9861}
{:type :invoke, :f :cas, :value [3 4], :process 33, :time 30675179026, :index 9862}
{:type :fail, :f :cas, :value [3 4], :process 33, :time 30677144741, :error :connect, :index 9863}
{:type :invoke, :f :write, :value 0, :process 10, :time 30677331430, :index 9864}
{:type :fail, :f :write, :value 0, :process 10, :time 30680049240, :error :connect, :index 9865}
{:type :invoke, :f :write, :value 2, :process 11, :time 30693896939, :index 9866}
{:type :invoke, :f :cas, :value [4 0], :process 36, :time 30695087513, :index 9867}
{:type :fail, :f :write, :value 2, :process 11, :time 30695767342, :error :connect, :index 9868}
{:type :invoke, :f :read, :value nil, :process 37, :time 30695921019, :index 9869}
{:type :fail, :f :cas, :value [4 0], :process 36, :time 30697019836, :error :connect, :index 9870}
{:type :invoke, :f :read, :value nil, :process 39, :time 30697179171, :index 9871}
{:type :fail, :f :read, :value nil, :process 37, :time 30697834703, :error :connect, :index 9872}
{:type :fail, :f :read, :value nil, :process 39, :time 30698843568, :error :connect, :index 9873}
{:type :invoke, :f :read, :value nil, :process 11, :time 30706033962, :index 9876}
{:type :fail, :f :read, :value nil, :process 11, :time 30707828974, :error :connect, :index 9877}
{:type :invoke, :f :write, :value 2, :process 39, :time 30717098823, :index 9878}
{:type :fail, :f :write, :value 2, :process 39, :time 30719110688, :error :connect, :index 9879}
{:type :invoke, :f :cas, :value [4 0], :process 11, :time 30733100327, :index 9882}
{:type :fail, :f :cas, :value [4 0], :process 11, :time 30734987630, :error :connect, :index 9883}
{:type :invoke, :f :cas, :value [4 1], :process 32, :time 30741270265, :index 9886}
{:type :fail, :f :cas, :value [4 1], :process 32, :time 30743032316, :error :connect, :index 9889}
{:type :invoke, :f :read, :value nil, :process 32, :time 30771274239, :index 9894}
{:type :fail, :f :read, :value nil, :process 32, :time 30773328502, :error :connect, :index 9895}
{:type :invoke, :f :read, :value nil, :process 39, :time 30797379178, :index 9905}
{:type :invoke, :f :read, :value nil, :process 33, :time 30798422163, :index 9907}
{:type :fail, :f :read, :value nil, :process 39, :time 30799310951, :error :connect, :index 9908}
{:type :fail, :f :read, :value nil, :process 33, :time 30800303841, :error :connect, :index 9909}
{:type :invoke, :f :read, :value nil, :process 18, :time 30800817349, :index 9910}
{:type :fail, :f :read, :value nil, :process 18, :time 30802610019, :error :connect, :index 9911}
{:type :invoke, :f :cas, :value [3 4], :process 32, :time 30806583885, :index 9912}
{:type :fail, :f :cas, :value [3 4], :process 32, :time 30808227746, :error :connect, :index 9913}
{:type :invoke, :f :read, :value nil, :process 15, :time 30816900119, :index 9916}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 30817325337, :index 9917}
{:type :fail, :f :read, :value nil, :process 15, :time 30819032280, :error :connect, :index 9918}
{:type :fail, :f :cas, :value [3 0], :process 10, :time 30819365183, :error :connect, :index 9919}
{:type :invoke, :f :write, :value 1, :process 34, :time 30830078530, :index 9920}
{:type :fail, :f :write, :value 1, :process 34, :time 30831881015, :error :connect, :index 9922}
{:type :invoke, :f :read, :value nil, :process 15, :time 30842294251, :index 9924}
{:type :invoke, :f :read, :value nil, :process 33, :time 30842567313, :index 9925}
{:type :fail, :f :read, :value nil, :process 15, :time 30844245824, :error :connect, :index 9926}
{:type :fail, :f :read, :value nil, :process 33, :time 30844793738, :error :connect, :index 9927}
{:type :invoke, :f :cas, :value [4 4], :process 36, :time 30861295747, :index 9930}
{:type :fail, :f :cas, :value [4 4], :process 36, :time 30863377223, :error :connect, :index 9931}
{:type :invoke, :f :cas, :value [3 2], :process 39, :time 30873572823, :index 9932}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 30875262967, :index 9933}
{:type :fail, :f :cas, :value [3 2], :process 39, :time 30875523815, :error :connect, :index 9934}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 30877114408, :error :connect, :index 9935}
{:type :invoke, :f :cas, :value [2 1], :process 37, :time 30882101840, :index 9940}
{:type :fail, :f :cas, :value [2 1], :process 37, :time 30883730315, :error :connect, :index 9941}
{:type :invoke, :f :write, :value 1, :process 36, :time 30892654344, :index 9943}
{:type :fail, :f :write, :value 1, :process 36, :time 30894593424, :error :connect, :index 9946}
{:type :invoke, :f :cas, :value [4 1], :process 34, :time 30915145664, :index 9950}
{:type :fail, :f :cas, :value [4 1], :process 34, :time 30916975905, :error :connect, :index 9951}
{:type :invoke, :f :write, :value 0, :process 39, :time 30925808719, :index 9958}
{:type :fail, :f :write, :value 0, :process 39, :time 30928090620, :error :connect, :index 9960}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :invoke, :f :read, :value nil, :process 11, :time 30940384510, :index 9968}
{:type :fail, :f :read, :value nil, :process 11, :time 30941982200, :error :connect, :index 9970}
{:type :invoke, :f :read, :value nil, :process 34, :time 30952242220, :index 9972}
{:type :invoke, :f :cas, :value [1 0], :process 18, :time 30952900862, :index 9974}
{:type :fail, :f :read, :value nil, :process 34, :time 30954003126, :error :connect, :index 9976}
{:type :fail, :f :cas, :value [1 0], :process 18, :time 30954811464, :error :connect, :index 9977}
{:type :invoke, :f :cas, :value [0 3], :process 34, :time 30973266478, :index 9981}
{:type :invoke, :f :read, :value nil, :process 37, :time 30973997275, :index 9982}
{:type :invoke, :f :read, :value nil, :process 11, :time 30975226001, :index 9984}
{:type :fail, :f :cas, :value [0 3], :process 34, :time 30975315972, :error :connect, :index 9985}
{:type :fail, :f :read, :value nil, :process 37, :time 30975912083, :error :connect, :index 9986}
{:type :fail, :f :read, :value nil, :process 11, :time 30977256053, :error :connect, :index 9989}
{:type :invoke, :f :write, :value 2, :process 10, :time 30984628169, :index 9992}
{:type :fail, :f :write, :value 2, :process 10, :time 30986589580, :error :connect, :index 9995}
{:type :invoke, :f :read, :value nil, :process 33, :time 30993044638, :index 9999}
{:type :fail, :f :read, :value nil, :process 33, :time 30994661264, :error :connect, :index 10000}
{:type :invoke, :f :cas, :value [3 0], :process 32, :time 31000493092, :index 10003}
{:type :fail, :f :cas, :value [3 0], :process 32, :time 31002325173, :error :connect, :index 10004}
{:type :invoke, :f :write, :value 0, :process 36, :time 31023880483, :index 10007}
{:type :fail, :f :write, :value 0, :process 36, :time 31025780115, :error :connect, :index 10008}
{:type :invoke, :f :write, :value 4, :process 15, :time 31035521898, :index 10013}
{:type :fail, :f :write, :value 4, :process 15, :time 31037621898, :error :connect, :index 10016}
{:type :invoke, :f :write, :value 1, :process 15, :time 31044933285, :index 10017}
{:type :fail, :f :write, :value 1, :process 15, :time 31046966395, :error :connect, :index 10019}
{:type :invoke, :f :read, :value nil, :process 34, :time 31057572150, :index 10023}
{:type :invoke, :f :cas, :value [1 4], :process 32, :time 31058501135, :index 10024}
{:type :fail, :f :read, :value nil, :process 34, :time 31059234755, :error :connect, :index 10025}
{:type :fail, :f :cas, :value [1 4], :process 32, :time 31060659934, :error :connect, :index 10026}
{:type :invoke, :f :read, :value nil, :process 32, :time 31074927978, :index 10027}
{:type :fail, :f :read, :value nil, :process 32, :time 31076632183, :error :connect, :index 10028}
{:type :invoke, :f :write, :value 4, :process 37, :time 31099200021, :index 10034}
{:type :fail, :f :write, :value 4, :process 37, :time 31101307552, :error :connect, :index 10036}
{:type :invoke, :f :cas, :value [0 4], :process 15, :time 31106249830, :index 10039}
{:type :invoke, :f :cas, :value [4 1], :process 34, :time 31107477923, :index 10040}
{:type :fail, :f :cas, :value [0 4], :process 15, :time 31108295456, :error :connect, :index 10041}
{:type :fail, :f :cas, :value [4 1], :process 34, :time 31109332145, :error :connect, :index 10042}
{:type :invoke, :f :cas, :value [4 2], :process 39, :time 31113372699, :index 10043}
{:type :fail, :f :cas, :value [4 2], :process 39, :time 31115410825, :error :connect, :index 10044}
{:type :invoke, :f :write, :value 1, :process 10, :time 31120860235, :index 10045}
{:type :fail, :f :write, :value 1, :process 10, :time 31122965818, :error :connect, :index 10046}
{:type :invoke, :f :cas, :value [0 2], :process 33, :time 31123964426, :index 10048}
{:type :fail, :f :cas, :value [0 2], :process 33, :time 31126206831, :error :connect, :index 10050}
{:type :invoke, :f :read, :value nil, :process 11, :time 31130507721, :index 10053}
{:type :fail, :f :read, :value nil, :process 11, :time 31132379771, :error :connect, :index 10054}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :invoke, :f :read, :value nil, :process 18, :time 31137088005, :index 10056}
{:type :fail, :f :read, :value nil, :process 18, :time 31139125697, :error :connect, :index 10057}
{:type :invoke, :f :write, :value 2, :process 36, :time 31220042397, :index 10076}
{:type :fail, :f :write, :value 2, :process 36, :time 31221860400, :error :connect, :index 10077}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
