{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :invoke, :f :write, :value 2, :process 36, :time 53671033113, :index 18878}
{:type :fail, :f :write, :value 2, :process 36, :time 53672621416, :error :connect, :index 18879}
{:type :invoke, :f :cas, :value [3 0], :process 34, :time 53688584502, :index 18882}
{:type :fail, :f :cas, :value [3 0], :process 34, :time 53690410132, :error :connect, :index 18883}
{:type :invoke, :f :read, :value nil, :process 36, :time 53755899917, :index 18909}
{:type :fail, :f :read, :value nil, :process 36, :time 53757957176, :error :connect, :index 18911}
{:type :invoke, :f :read, :value nil, :process 33, :time 53759603426, :index 18912}
{:type :fail, :f :read, :value nil, :process 33, :time 53761783959, :error :connect, :index 18915}
{:type :invoke, :f :write, :value 0, :process 32, :time 53767194884, :index 18918}
{:type :invoke, :f :cas, :value [4 2], :process 11, :time 53768761432, :index 18919}
{:type :fail, :f :write, :value 0, :process 32, :time 53769327228, :error :connect, :index 18920}
{:type :invoke, :f :cas, :value [2 1], :process 34, :time 53770685720, :index 18921}
{:type :fail, :f :cas, :value [4 2], :process 11, :time 53771001707, :error :connect, :index 18922}
{:type :fail, :f :cas, :value [2 1], :process 34, :time 53772626144, :error :connect, :index 18923}
{:type :invoke, :f :cas, :value [4 2], :process 39, :time 53776833537, :index 18928}
{:type :fail, :f :cas, :value [4 2], :process 39, :time 53778993623, :error :connect, :index 18931}
{:type :invoke, :f :write, :value 3, :process 10, :time 53792896727, :index 18934}
{:type :fail, :f :write, :value 3, :process 10, :time 53794924575, :error :connect, :index 18935}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 53812230363, :index 18944}
{:type :fail, :f :cas, :value [2 1], :process 36, :time 53814052211, :error :connect, :index 18945}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 53822321419, :index 18948}
{:type :fail, :f :cas, :value [0 0], :process 36, :time 53824423097, :error :connect, :index 18949}
{:type :invoke, :f :write, :value 3, :process 39, :time 53840242381, :index 18950}
{:type :fail, :f :write, :value 3, :process 39, :time 53842258491, :error :connect, :index 18951}
{:type :invoke, :f :cas, :value [2 4], :process 37, :time 53861988919, :index 18956}
{:type :fail, :f :cas, :value [2 4], :process 37, :time 53863635996, :error :connect, :index 18957}
{:type :invoke, :f :cas, :value [4 3], :process 18, :time 53883351052, :index 18962}
{:type :fail, :f :cas, :value [4 3], :process 18, :time 53885249847, :error :connect, :index 18963}
{:type :invoke, :f :read, :value nil, :process 34, :time 53890887357, :index 18964}
{:type :fail, :f :read, :value nil, :process 34, :time 53892890557, :error :connect, :index 18965}
{:type :invoke, :f :cas, :value [4 3], :process 32, :time 53909610640, :index 18967}
{:type :fail, :f :cas, :value [4 3], :process 32, :time 53911476683, :error :connect, :index 18968}
{:type :invoke, :f :write, :value 4, :process 10, :time 53920202838, :index 18970}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 53920208283, :index 18971}
{:type :invoke, :f :write, :value 3, :process 11, :time 53921256422, :index 18972}
{:type :invoke, :f :read, :value nil, :process 32, :time 53921780184, :index 18973}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 53922564064, :error :connect, :index 18974}
{:type :fail, :f :write, :value 4, :process 10, :time 53922563141, :error :connect, :index 18975}
{:type :fail, :f :write, :value 3, :process 11, :time 53923193798, :error :connect, :index 18977}
{:type :fail, :f :read, :value nil, :process 32, :time 53923633490, :error :connect, :index 18978}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 53954027392, :index 18986}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 53955973463, :error :connect, :index 18988}
{:type :invoke, :f :write, :value 1, :process 18, :time 53979516774, :index 18994}
{:type :fail, :f :write, :value 1, :process 18, :time 53981198272, :error :connect, :index 18995}
{:type :invoke, :f :cas, :value [3 2], :process 34, :time 53990158508, :index 18996}
{:type :invoke, :f :read, :value nil, :process 36, :time 53990724406, :index 18997}
{:type :fail, :f :cas, :value [3 2], :process 34, :time 53992013525, :error :connect, :index 18998}
{:type :fail, :f :read, :value nil, :process 36, :time 53992729865, :error :connect, :index 18999}
{:type :invoke, :f :read, :value nil, :process 11, :time 54027441119, :index 19010}
{:type :fail, :f :read, :value nil, :process 11, :time 54029038844, :error :connect, :index 19011}
{:type :invoke, :f :cas, :value [2 2], :process 39, :time 54037522330, :index 19012}
{:type :fail, :f :cas, :value [2 2], :process 39, :time 54039531093, :error :connect, :index 19013}
{:type :invoke, :f :read, :value nil, :process 32, :time 54039893736, :index 19014}
{:type :fail, :f :read, :value nil, :process 32, :time 54041698265, :error :connect, :index 19015}
{:type :invoke, :f :read, :value nil, :process 37, :time 54048906424, :index 19019}
{:type :fail, :f :read, :value nil, :process 37, :time 54050681107, :error :connect, :index 19021}
{:type :invoke, :f :write, :value 4, :process 10, :time 54056854179, :index 19022}
{:type :fail, :f :write, :value 4, :process 10, :time 54058891044, :error :connect, :index 19023}
{:type :invoke, :f :cas, :value [2 1], :process 18, :time 54094461275, :index 19032}
{:type :fail, :f :cas, :value [2 1], :process 18, :time 54096359973, :error :connect, :index 19033}
{:type :invoke, :f :cas, :value [1 3], :process 33, :time 54098254330, :index 19034}
{:type :fail, :f :cas, :value [1 3], :process 33, :time 54100318848, :error :connect, :index 19035}
{:type :invoke, :f :read, :value nil, :process 36, :time 54104996551, :index 19036}
{:type :invoke, :f :read, :value nil, :process 15, :time 54105926512, :index 19037}
{:type :fail, :f :read, :value nil, :process 36, :time 54106943897, :error :connect, :index 19038}
{:type :fail, :f :read, :value nil, :process 15, :time 54107737739, :error :connect, :index 19039}
{:type :invoke, :f :cas, :value [2 3], :process 37, :time 54117962793, :index 19042}
{:type :fail, :f :cas, :value [2 3], :process 37, :time 54119625380, :error :connect, :index 19044}
{:type :invoke, :f :read, :value nil, :process 11, :time 54152298489, :index 19052}
{:type :fail, :f :read, :value nil, :process 11, :time 54154404967, :error :connect, :index 19053}
{:type :invoke, :f :write, :value 3, :process 32, :time 54155979810, :index 19054}
{:type :invoke, :f :cas, :value [4 3], :process 34, :time 54156293283, :index 19055}
{:type :fail, :f :write, :value 3, :process 32, :time 54157847643, :error :connect, :index 19056}
{:type :fail, :f :cas, :value [4 3], :process 34, :time 54158339727, :error :connect, :index 19057}
{:type :invoke, :f :cas, :value [0 3], :process 32, :time 54166108542, :index 19062}
{:type :fail, :f :cas, :value [0 3], :process 32, :time 54168318922, :error :connect, :index 19064}
{:type :invoke, :f :read, :value nil, :process 18, :time 54184626132, :index 19068}
{:type :fail, :f :read, :value nil, :process 18, :time 54186509231, :error :connect, :index 19070}
{:type :invoke, :f :cas, :value [0 2], :process 37, :time 54203927392, :index 19072}
{:type :fail, :f :cas, :value [0 2], :process 37, :time 54205887165, :error :connect, :index 19074}
{:type :invoke, :f :write, :value 3, :process 37, :time 54210160472, :index 19076}
{:type :fail, :f :write, :value 3, :process 37, :time 54212021264, :error :connect, :index 19077}
{:type :invoke, :f :write, :value 1, :process 18, :time 54219769046, :index 19078}
{:type :invoke, :f :read, :value nil, :process 36, :time 54221212408, :index 19079}
{:type :fail, :f :write, :value 1, :process 18, :time 54221808398, :error :connect, :index 19080}
{:type :fail, :f :read, :value nil, :process 36, :time 54223068877, :error :connect, :index 19082}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 54231159175, :index 19086}
{:type :fail, :f :cas, :value [3 0], :process 10, :time 54233004018, :error :connect, :index 19087}
{:type :invoke, :f :read, :value nil, :process 39, :time 54236796568, :index 19088}
{:type :fail, :f :read, :value nil, :process 39, :time 54238459871, :error :connect, :index 19089}
{:type :invoke, :f :cas, :value [3 0], :process 36, :time 54245326829, :index 19090}
{:type :fail, :f :cas, :value [3 0], :process 36, :time 54247149072, :error :connect, :index 19091}
{:type :invoke, :f :write, :value 0, :process 36, :time 54247292899, :index 19092}
{:type :fail, :f :write, :value 0, :process 36, :time 54249355684, :error :connect, :index 19093}
{:type :invoke, :f :write, :value 3, :process 33, :time 54251615149, :index 19094}
{:type :fail, :f :write, :value 3, :process 33, :time 54253219452, :error :connect, :index 19095}
{:type :invoke, :f :read, :value nil, :process 34, :time 54258581866, :index 19096}
{:type :fail, :f :read, :value nil, :process 34, :time 54260397750, :error :connect, :index 19097}
{:type :invoke, :f :cas, :value [3 2], :process 15, :time 54286992610, :index 19100}
{:type :fail, :f :cas, :value [3 2], :process 15, :time 54288877325, :error :connect, :index 19102}
{:type :invoke, :f :read, :value nil, :process 32, :time 54298603694, :index 19110}
{:type :fail, :f :read, :value nil, :process 32, :time 54300514311, :error :connect, :index 19111}
{:type :invoke, :f :write, :value 4, :process 34, :time 54322660440, :index 19118}
{:type :fail, :f :write, :value 4, :process 34, :time 54324647615, :error :connect, :index 19119}
{:type :invoke, :f :write, :value 2, :process 11, :time 54332666599, :index 19122}
{:type :fail, :f :write, :value 2, :process 11, :time 54334786871, :error :connect, :index 19123}
{:type :invoke, :f :write, :value 3, :process 11, :time 54334919508, :index 19124}
{:type :invoke, :f :read, :value nil, :process 32, :time 54335705683, :index 19125}
{:type :fail, :f :write, :value 3, :process 11, :time 54336504666, :error :connect, :index 19126}
{:type :fail, :f :read, :value nil, :process 32, :time 54337598022, :error :connect, :index 19127}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 54350096720, :index 19133}
{:type :invoke, :f :read, :value nil, :process 37, :time 54351287847, :index 19134}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 54352161805, :error :connect, :index 19136}
{:type :invoke, :f :write, :value 4, :process 39, :time 54352728235, :index 19137}
{:type :fail, :f :read, :value nil, :process 37, :time 54353100519, :error :connect, :index 19138}
{:type :fail, :f :write, :value 4, :process 39, :time 54354635035, :error :connect, :index 19139}
{:type :invoke, :f :read, :value nil, :process 32, :time 54364846568, :index 19142}
{:type :fail, :f :read, :value nil, :process 32, :time 54366749206, :error :connect, :index 19144}
{:type :invoke, :f :write, :value 1, :process 18, :time 54376409155, :index 19146}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 54376777016, :index 19147}
{:type :fail, :f :write, :value 1, :process 18, :time 54378564319, :error :connect, :index 19149}
{:type :fail, :f :cas, :value [2 1], :process 11, :time 54378874315, :error :connect, :index 19150}
{:type :invoke, :f :write, :value 3, :process 36, :time 54393633573, :index 19158}
{:type :fail, :f :write, :value 3, :process 36, :time 54395426837, :error :connect, :index 19159}
{:type :invoke, :f :read, :value nil, :process 33, :time 54395490944, :index 19160}
{:type :fail, :f :read, :value nil, :process 33, :time 54397340604, :error :connect, :index 19161}
{:type :invoke, :f :write, :value 4, :process 33, :time 54401603001, :index 19164}
{:type :fail, :f :write, :value 4, :process 33, :time 54403420906, :error :connect, :index 19165}
{:type :invoke, :f :read, :value nil, :process 34, :time 54407905700, :index 19166}
{:type :fail, :f :read, :value nil, :process 34, :time 54409711540, :error :connect, :index 19167}
{:type :invoke, :f :cas, :value [2 0], :process 34, :time 54413964907, :index 19168}
{:type :fail, :f :cas, :value [2 0], :process 34, :time 54415727268, :error :connect, :index 19169}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 54421150963, :index 19171}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 54423165545, :error :connect, :index 19173}
{:type :invoke, :f :cas, :value [2 3], :process 32, :time 54425026752, :index 19174}
{:type :fail, :f :cas, :value [2 3], :process 32, :time 54427117742, :error :connect, :index 19175}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 54427268939, :index 19176}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 54429248817, :error :connect, :index 19178}
{:type :invoke, :f :cas, :value [3 1], :process 32, :time 54436400571, :index 19183}
{:type :fail, :f :cas, :value [3 1], :process 32, :time 54438279040, :error :connect, :index 19184}
{:type :invoke, :f :cas, :value [3 4], :process 36, :time 54440715739, :index 19186}
{:type :fail, :f :cas, :value [3 4], :process 36, :time 54442564815, :error :connect, :index 19187}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 54448516718, :index 19189}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 54450366054, :error :connect, :index 19191}
{:type :invoke, :f :read, :value nil, :process 11, :time 54453091263, :index 19192}
{:type :fail, :f :read, :value nil, :process 11, :time 54455133149, :error :connect, :index 19193}
{:type :invoke, :f :write, :value 1, :process 37, :time 54467351366, :index 19198}
{:type :fail, :f :write, :value 1, :process 37, :time 54469446865, :error :connect, :index 19199}
{:type :invoke, :f :write, :value 3, :process 18, :time 54470882764, :index 19200}
{:type :invoke, :f :read, :value nil, :process 37, :time 54471706528, :index 19201}
{:type :fail, :f :write, :value 3, :process 18, :time 54472688749, :error :connect, :index 19202}
{:type :fail, :f :read, :value nil, :process 37, :time 54473324355, :error :connect, :index 19203}
{:type :invoke, :f :cas, :value [2 3], :process 18, :time 54479950502, :index 19206}
{:type :fail, :f :cas, :value [2 3], :process 18, :time 54481835618, :error :connect, :index 19207}
{:type :invoke, :f :write, :value 2, :process 39, :time 54505877872, :index 19215}
{:type :invoke, :f :write, :value 1, :process 37, :time 54506557590, :index 19216}
{:type :invoke, :f :read, :value nil, :process 34, :time 54507143386, :index 19217}
{:type :invoke, :f :write, :value 1, :process 18, :time 54507278286, :index 19218}
{:type :fail, :f :write, :value 2, :process 39, :time 54508616234, :error :connect, :index 19221}
{:type :fail, :f :write, :value 1, :process 37, :time 54509090435, :error :connect, :index 19222}
{:type :fail, :f :write, :value 1, :process 18, :time 54509336138, :error :connect, :index 19223}
{:type :fail, :f :read, :value nil, :process 34, :time 54509484882, :error :connect, :index 19224}
{:type :invoke, :f :read, :value nil, :process 10, :time 54519618975, :index 19226}
{:type :fail, :f :read, :value nil, :process 10, :time 54521373245, :error :connect, :index 19227}
{:type :invoke, :f :cas, :value [4 0], :process 11, :time 54543390320, :index 19236}
{:type :fail, :f :cas, :value [4 0], :process 11, :time 54545298526, :error :connect, :index 19238}
{:type :invoke, :f :read, :value nil, :process 15, :time 54545455467, :index 19239}
{:type :invoke, :f :read, :value nil, :process 33, :time 54545707041, :index 19240}
{:type :fail, :f :read, :value nil, :process 15, :time 54547399502, :error :connect, :index 19242}
{:type :fail, :f :read, :value nil, :process 33, :time 54547651568, :error :connect, :index 19243}
{:type :invoke, :f :read, :value nil, :process 33, :time 54549923029, :index 19247}
{:type :fail, :f :read, :value nil, :process 33, :time 54552141440, :error :connect, :index 19249}
{:type :invoke, :f :cas, :value [2 0], :process 32, :time 54586544993, :index 19254}
{:type :fail, :f :cas, :value [2 0], :process 32, :time 54588450989, :error :connect, :index 19255}
{:type :invoke, :f :write, :value 4, :process 36, :time 54610887787, :index 19263}
{:type :fail, :f :write, :value 4, :process 36, :time 54612492925, :error :connect, :index 19265}
{:type :invoke, :f :cas, :value [3 4], :process 18, :time 54617577324, :index 19268}
{:type :fail, :f :cas, :value [3 4], :process 18, :time 54619664413, :error :connect, :index 19270}
{:type :invoke, :f :write, :value 3, :process 10, :time 54645632448, :index 19276}
{:type :fail, :f :write, :value 3, :process 10, :time 54647660100, :error :connect, :index 19277}
{:type :invoke, :f :write, :value 0, :process 11, :time 54672569341, :index 19280}
{:type :fail, :f :write, :value 0, :process 11, :time 54674470947, :error :connect, :index 19282}
{:type :invoke, :f :read, :value nil, :process 34, :time 54674721687, :index 19283}
{:type :fail, :f :read, :value nil, :process 34, :time 54676289712, :error :connect, :index 19285}
{:type :invoke, :f :read, :value nil, :process 32, :time 54678730612, :index 19287}
{:type :fail, :f :read, :value nil, :process 32, :time 54680571658, :error :connect, :index 19289}
{:type :invoke, :f :read, :value nil, :process 37, :time 54685365065, :index 19291}
{:type :fail, :f :read, :value nil, :process 37, :time 54687315254, :error :connect, :index 19293}
{:type :invoke, :f :write, :value 0, :process 39, :time 54687892755, :index 19294}
{:type :fail, :f :write, :value 0, :process 39, :time 54689645362, :error :connect, :index 19295}
{:type :invoke, :f :write, :value 2, :process 33, :time 54734389887, :index 19312}
{:type :fail, :f :write, :value 2, :process 33, :time 54736036304, :error :connect, :index 19313}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 54737645330, :index 19314}
{:type :invoke, :f :cas, :value [4 4], :process 36, :time 54738742823, :index 19317}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 54740038939, :error :connect, :index 19319}
{:type :fail, :f :cas, :value [4 4], :process 36, :time 54741354528, :error :connect, :index 19321}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 54786951705, :index 19334}
{:type :fail, :f :cas, :value [4 0], :process 18, :time 54788697750, :error :connect, :index 19337}
{:type :invoke, :f :write, :value 2, :process 10, :time 54825924595, :index 19356}
{:type :fail, :f :write, :value 2, :process 10, :time 54827690886, :error :connect, :index 19357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
