{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :invoke, :f :read, :value nil, :process 34, :time 12021141002, :index 2446}
{:type :fail, :f :read, :value nil, :process 34, :time 12023265916, :error :connect, :index 2447}
{:type :invoke, :f :read, :value nil, :process 36, :time 12029681329, :index 2450}
{:type :fail, :f :read, :value nil, :process 36, :time 12031850725, :error :connect, :index 2451}
{:type :invoke, :f :write, :value 1, :process 34, :time 12034530691, :index 2452}
{:type :fail, :f :write, :value 1, :process 34, :time 12036864921, :error :connect, :index 2455}
{:type :invoke, :f :cas, :value [1 0], :process 36, :time 12051128498, :index 2460}
{:type :fail, :f :cas, :value [1 0], :process 36, :time 12053043267, :error :connect, :index 2461}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 12075937609, :index 2472}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 12078222993, :error :connect, :index 2475}
{:type :invoke, :f :cas, :value [3 4], :process 18, :time 12096135284, :index 2480}
{:type :fail, :f :cas, :value [3 4], :process 18, :time 12098018635, :error :connect, :index 2481}
{:type :invoke, :f :write, :value 0, :process 33, :time 12110983741, :index 2486}
{:type :fail, :f :write, :value 0, :process 33, :time 12112857580, :error :connect, :index 2488}
{:type :invoke, :f :cas, :value [0 3], :process 32, :time 12112884219, :index 2489}
{:type :invoke, :f :write, :value 2, :process 33, :time 12114155372, :index 2491}
{:type :fail, :f :cas, :value [0 3], :process 32, :time 12114815405, :error :connect, :index 2492}
{:type :fail, :f :write, :value 2, :process 33, :time 12116397981, :error :connect, :index 2494}
{:type :invoke, :f :read, :value nil, :process 36, :time 12117310839, :index 2495}
{:type :fail, :f :read, :value nil, :process 36, :time 12119479619, :error :connect, :index 2497}
{:type :invoke, :f :write, :value 1, :process 37, :time 12131129885, :index 2502}
{:type :fail, :f :write, :value 1, :process 37, :time 12132736457, :error :connect, :index 2503}
{:type :invoke, :f :write, :value 2, :process 34, :time 12134165551, :index 2504}
{:type :fail, :f :write, :value 2, :process 34, :time 12135721535, :error :connect, :index 2505}
{:type :invoke, :f :read, :value nil, :process 18, :time 12178302957, :index 2516}
{:type :fail, :f :read, :value nil, :process 18, :time 12180431770, :error :connect, :index 2517}
{:type :invoke, :f :write, :value 3, :process 10, :time 12182189579, :index 2518}
{:type :fail, :f :write, :value 3, :process 10, :time 12184017137, :error :connect, :index 2519}
{:type :invoke, :f :read, :value nil, :process 33, :time 12200644836, :index 2522}
{:type :fail, :f :read, :value nil, :process 33, :time 12202479891, :error :connect, :index 2523}
{:type :invoke, :f :write, :value 1, :process 10, :time 12210278636, :index 2526}
{:type :fail, :f :write, :value 1, :process 10, :time 12212370597, :error :connect, :index 2527}
{:type :invoke, :f :cas, :value [3 4], :process 36, :time 12216738127, :index 2532}
{:type :fail, :f :cas, :value [3 4], :process 36, :time 12218555113, :error :connect, :index 2533}
{:type :invoke, :f :write, :value 4, :process 15, :time 12221468745, :index 2534}
{:type :fail, :f :write, :value 4, :process 15, :time 12223312264, :error :connect, :index 2535}
{:type :invoke, :f :read, :value nil, :process 10, :time 12229632141, :index 2538}
{:type :invoke, :f :write, :value 2, :process 34, :time 12230988127, :index 2539}
{:type :invoke, :f :cas, :value [3 0], :process 39, :time 12231061353, :index 2540}
{:type :fail, :f :read, :value nil, :process 10, :time 12231670056, :error :connect, :index 2541}
{:type :fail, :f :write, :value 2, :process 34, :time 12233076129, :error :connect, :index 2542}
{:type :fail, :f :cas, :value [3 0], :process 39, :time 12233230112, :error :connect, :index 2543}
{:type :invoke, :f :write, :value 1, :process 11, :time 12237041691, :index 2544}
{:type :fail, :f :write, :value 1, :process 11, :time 12238899606, :error :connect, :index 2545}
{:type :invoke, :f :write, :value 4, :process 32, :time 12256093489, :index 2554}
{:type :fail, :f :write, :value 4, :process 32, :time 12257882755, :error :connect, :index 2555}
{:type :invoke, :f :cas, :value [4 4], :process 39, :time 12264486870, :index 2556}
{:type :fail, :f :cas, :value [4 4], :process 39, :time 12266249469, :error :connect, :index 2557}
{:type :invoke, :f :write, :value 3, :process 37, :time 12289997813, :index 2560}
{:type :fail, :f :write, :value 3, :process 37, :time 12292056382, :error :connect, :index 2561}
{:type :invoke, :f :write, :value 3, :process 18, :time 12334715403, :index 2573}
{:type :fail, :f :write, :value 3, :process 18, :time 12336662429, :error :connect, :index 2575}
{:type :invoke, :f :write, :value 4, :process 37, :time 12353315521, :index 2576}
{:type :fail, :f :write, :value 4, :process 37, :time 12355209431, :error :connect, :index 2577}
{:type :invoke, :f :read, :value nil, :process 15, :time 12359587947, :index 2578}
{:type :fail, :f :read, :value nil, :process 15, :time 12361619891, :error :connect, :index 2579}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 12368491661, :index 2580}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 12370360334, :error :connect, :index 2581}
{:type :invoke, :f :cas, :value [1 1], :process 33, :time 12376745565, :index 2582}
{:type :fail, :f :cas, :value [1 1], :process 33, :time 12378478653, :error :connect, :index 2583}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 12385703297, :index 2588}
{:type :fail, :f :cas, :value [0 3], :process 33, :time 12387696763, :error :connect, :index 2589}
{:type :invoke, :f :write, :value 1, :process 11, :time 12389160793, :index 2590}
{:type :fail, :f :write, :value 1, :process 11, :time 12391007031, :error :connect, :index 2591}
{:type :invoke, :f :write, :value 4, :process 34, :time 12391348116, :index 2592}
{:type :invoke, :f :cas, :value [0 3], :process 15, :time 12391893108, :index 2593}
{:type :fail, :f :write, :value 4, :process 34, :time 12393205437, :error :connect, :index 2595}
{:type :fail, :f :cas, :value [0 3], :process 15, :time 12393721341, :error :connect, :index 2596}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 12397264869, :index 2598}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 12399373019, :error :connect, :index 2600}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 12400961630, :index 2602}
{:type :fail, :f :cas, :value [0 1], :process 10, :time 12402992864, :error :connect, :index 2603}
{:type :invoke, :f :cas, :value [3 4], :process 32, :time 12405147954, :index 2604}
{:type :fail, :f :cas, :value [3 4], :process 32, :time 12407015834, :error :connect, :index 2605}
{:type :invoke, :f :write, :value 2, :process 36, :time 12411841691, :index 2606}
{:type :invoke, :f :write, :value 4, :process 10, :time 12412280046, :index 2607}
{:type :fail, :f :write, :value 2, :process 36, :time 12413988813, :error :connect, :index 2608}
{:type :fail, :f :write, :value 4, :process 10, :time 12414108156, :error :connect, :index 2609}
{:type :invoke, :f :write, :value 1, :process 39, :time 12428529322, :index 2616}
{:type :fail, :f :write, :value 1, :process 39, :time 12430297945, :error :connect, :index 2617}
{:type :invoke, :f :write, :value 4, :process 11, :time 12433626296, :index 2619}
{:type :fail, :f :write, :value 4, :process 11, :time 12435488885, :error :connect, :index 2621}
{:type :invoke, :f :read, :value nil, :process 10, :time 12446349662, :index 2624}
{:type :fail, :f :read, :value nil, :process 10, :time 12448175623, :error :connect, :index 2625}
{:type :invoke, :f :read, :value nil, :process 15, :time 12477983374, :index 2626}
{:type :invoke, :f :write, :value 0, :process 10, :time 12478456781, :index 2627}
{:type :fail, :f :read, :value nil, :process 15, :time 12480168588, :error :connect, :index 2628}
{:type :fail, :f :write, :value 0, :process 10, :time 12480344957, :error :connect, :index 2629}
{:type :invoke, :f :write, :value 4, :process 18, :time 12483933012, :index 2630}
{:type :invoke, :f :write, :value 0, :process 37, :time 12484635055, :index 2631}
{:type :fail, :f :write, :value 4, :process 18, :time 12485820925, :error :connect, :index 2632}
{:type :fail, :f :write, :value 0, :process 37, :time 12486525236, :error :connect, :index 2633}
{:type :invoke, :f :cas, :value [0 1], :process 15, :time 12486455568, :index 2634}
{:type :invoke, :f :cas, :value [1 0], :process 39, :time 12487559455, :index 2635}
{:type :fail, :f :cas, :value [0 1], :process 15, :time 12488591868, :error :connect, :index 2636}
{:type :fail, :f :cas, :value [1 0], :process 39, :time 12489460045, :error :connect, :index 2637}
{:type :invoke, :f :read, :value nil, :process 11, :time 12509745697, :index 2646}
{:type :fail, :f :read, :value nil, :process 11, :time 12511636861, :error :connect, :index 2647}
{:type :invoke, :f :read, :value nil, :process 34, :time 12512452584, :index 2648}
{:type :fail, :f :read, :value nil, :process 34, :time 12514239763, :error :connect, :index 2649}
{:type :invoke, :f :write, :value 2, :process 37, :time 12521762472, :index 2650}
{:type :fail, :f :write, :value 2, :process 37, :time 12523580047, :error :connect, :index 2651}
{:type :invoke, :f :write, :value 3, :process 33, :time 12526006332, :index 2653}
{:type :fail, :f :write, :value 3, :process 33, :time 12528037091, :error :connect, :index 2655}
{:type :invoke, :f :read, :value nil, :process 36, :time 12565259853, :index 2660}
{:type :invoke, :f :write, :value 2, :process 37, :time 12566846181, :index 2661}
{:type :invoke, :f :cas, :value [2 4], :process 32, :time 12567283404, :index 2662}
{:type :fail, :f :read, :value nil, :process 36, :time 12567978636, :error :connect, :index 2664}
{:type :fail, :f :write, :value 2, :process 37, :time 12568969600, :error :connect, :index 2665}
{:type :fail, :f :cas, :value [2 4], :process 32, :time 12569049956, :error :connect, :index 2666}
{:type :invoke, :f :write, :value 3, :process 10, :time 12575602165, :index 2672}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 12576281783, :index 2673}
{:type :fail, :f :cas, :value [0 3], :process 33, :time 12584436592, :error :connect, :index 2674}
{:type :fail, :f :write, :value 3, :process 10, :time 12584536107, :error :connect, :index 2675}
{:type :invoke, :f :read, :value nil, :process 33, :time 12591709875, :index 2678}
{:type :fail, :f :read, :value nil, :process 33, :time 12593276358, :error :connect, :index 2679}
{:type :invoke, :f :read, :value nil, :process 34, :time 12604504976, :index 2680}
{:type :fail, :f :read, :value nil, :process 34, :time 12606288732, :error :connect, :index 2682}
{:type :invoke, :f :write, :value 4, :process 37, :time 12616268546, :index 2685}
{:type :fail, :f :write, :value 4, :process 37, :time 12618232412, :error :connect, :index 2688}
{:type :invoke, :f :read, :value nil, :process 39, :time 12646726919, :index 2695}
{:type :fail, :f :read, :value nil, :process 39, :time 12648640518, :error :connect, :index 2697}
{:type :invoke, :f :cas, :value [1 3], :process 11, :time 12659898398, :index 2698}
{:type :fail, :f :cas, :value [1 3], :process 11, :time 12661738125, :error :connect, :index 2699}
{:type :invoke, :f :read, :value nil, :process 18, :time 12674082446, :index 2702}
{:type :fail, :f :read, :value nil, :process 18, :time 12676044020, :error :connect, :index 2703}
{:type :invoke, :f :cas, :value [3 3], :process 32, :time 12684244377, :index 2704}
{:type :fail, :f :cas, :value [3 3], :process 32, :time 12686190658, :error :connect, :index 2705}
{:type :invoke, :f :read, :value nil, :process 15, :time 12686886274, :index 2706}
{:type :fail, :f :read, :value nil, :process 15, :time 12688707776, :error :connect, :index 2707}
{:type :invoke, :f :read, :value nil, :process 33, :time 12701533907, :index 2708}
{:type :fail, :f :read, :value nil, :process 33, :time 12703166984, :error :connect, :index 2710}
{:type :invoke, :f :read, :value nil, :process 36, :time 12710227500, :index 2713}
{:type :fail, :f :read, :value nil, :process 36, :time 12712005849, :error :connect, :index 2715}
{:type :invoke, :f :read, :value nil, :process 10, :time 12733771710, :index 2718}
{:type :fail, :f :read, :value nil, :process 10, :time 12735596760, :error :connect, :index 2719}
{:type :invoke, :f :cas, :value [1 1], :process 32, :time 12752451291, :index 2724}
{:type :fail, :f :cas, :value [1 1], :process 32, :time 12754269049, :error :connect, :index 2725}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 12758966011, :index 2726}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 12760829795, :error :connect, :index 2727}
{:type :invoke, :f :read, :value nil, :process 10, :time 12776783880, :index 2734}
{:type :fail, :f :read, :value nil, :process 10, :time 12778520723, :error :connect, :index 2735}
{:type :invoke, :f :cas, :value [4 3], :process 18, :time 12784303174, :index 2736}
{:type :fail, :f :cas, :value [4 3], :process 18, :time 12786153916, :error :connect, :index 2737}
{:type :invoke, :f :write, :value 4, :process 33, :time 12786414753, :index 2739}
{:type :invoke, :f :read, :value nil, :process 34, :time 12786924892, :index 2740}
{:type :invoke, :f :read, :value nil, :process 37, :time 12787060987, :index 2741}
{:type :fail, :f :write, :value 4, :process 33, :time 12788347480, :error :connect, :index 2743}
{:type :fail, :f :read, :value nil, :process 34, :time 12788848971, :error :connect, :index 2744}
{:type :fail, :f :read, :value nil, :process 37, :time 12788997574, :error :connect, :index 2745}
{:type :invoke, :f :read, :value nil, :process 11, :time 12820998610, :index 2750}
{:type :fail, :f :read, :value nil, :process 11, :time 12823116761, :error :connect, :index 2753}
{:type :invoke, :f :read, :value nil, :process 33, :time 12825563019, :index 2756}
{:type :invoke, :f :cas, :value [1 1], :process 32, :time 12826539037, :index 2757}
{:type :invoke, :f :cas, :value [0 2], :process 39, :time 12826902137, :index 2758}
{:type :fail, :f :read, :value nil, :process 33, :time 12827448299, :error :connect, :index 2759}
{:type :fail, :f :cas, :value [1 1], :process 32, :time 12828304391, :error :connect, :index 2760}
{:type :fail, :f :cas, :value [0 2], :process 39, :time 12828594486, :error :connect, :index 2761}
{:type :invoke, :f :cas, :value [1 2], :process 34, :time 12836106607, :index 2762}
{:type :fail, :f :cas, :value [1 2], :process 34, :time 12837945416, :error :connect, :index 2764}
{:type :invoke, :f :write, :value 2, :process 36, :time 12841261343, :index 2766}
{:type :fail, :f :write, :value 2, :process 36, :time 12843112320, :error :connect, :index 2767}
{:type :invoke, :f :write, :value 3, :process 18, :time 12873454137, :index 2772}
{:type :fail, :f :write, :value 3, :process 18, :time 12875529654, :error :connect, :index 2773}
{:type :invoke, :f :write, :value 2, :process 15, :time 12879092302, :index 2774}
{:type :fail, :f :write, :value 2, :process 15, :time 12880861980, :error :connect, :index 2775}
{:type :invoke, :f :read, :value nil, :process 36, :time 12883370816, :index 2776}
{:type :fail, :f :read, :value nil, :process 36, :time 12885156408, :error :connect, :index 2778}
{:type :invoke, :f :write, :value 2, :process 34, :time 12906208273, :index 2784}
{:type :fail, :f :write, :value 2, :process 34, :time 12908010089, :error :connect, :index 2785}
{:type :invoke, :f :write, :value 0, :process 11, :time 12920378833, :index 2786}
{:type :fail, :f :write, :value 0, :process 11, :time 12922305974, :error :connect, :index 2787}
{:type :invoke, :f :cas, :value [0 2], :process 37, :time 12922255637, :index 2788}
{:type :fail, :f :cas, :value [0 2], :process 37, :time 12923964831, :error :connect, :index 2789}
{:type :invoke, :f :read, :value nil, :process 32, :time 12926594985, :index 2790}
{:type :fail, :f :read, :value nil, :process 32, :time 12928426801, :error :connect, :index 2791}
{:type :invoke, :f :read, :value nil, :process 10, :time 12929777229, :index 2792}
{:type :fail, :f :read, :value nil, :process 10, :time 12931839576, :error :connect, :index 2793}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 12937095771, :index 2794}
{:type :fail, :f :cas, :value [0 0], :process 10, :time 12938922422, :error :connect, :index 2795}
{:type :invoke, :f :read, :value nil, :process 32, :time 12940683264, :index 2796}
{:type :fail, :f :read, :value nil, :process 32, :time 12942669454, :error :connect, :index 2797}
{:type :invoke, :f :write, :value 4, :process 39, :time 12954826266, :index 2799}
{:type :fail, :f :write, :value 4, :process 39, :time 12956955274, :error :connect, :index 2801}
{:type :invoke, :f :cas, :value [4 1], :process 11, :time 12958572662, :index 2802}
{:type :fail, :f :cas, :value [4 1], :process 11, :time 12960436382, :error :connect, :index 2803}
{:type :invoke, :f :cas, :value [4 4], :process 36, :time 12973424806, :index 2812}
{:type :fail, :f :cas, :value [4 4], :process 36, :time 12975252538, :error :connect, :index 2814}
{:type :invoke, :f :cas, :value [4 4], :process 33, :time 12978745721, :index 2817}
{:type :fail, :f :cas, :value [4 4], :process 33, :time 12980464764, :error :connect, :index 2819}
{:type :invoke, :f :cas, :value [3 3], :process 34, :time 13001288001, :index 2824}
{:type :fail, :f :cas, :value [3 3], :process 34, :time 13003101154, :error :connect, :index 2825}
{:type :invoke, :f :write, :value 1, :process 37, :time 13020233241, :index 2838}
{:type :fail, :f :write, :value 1, :process 37, :time 13022156311, :error :connect, :index 2840}
{:type :invoke, :f :cas, :value [3 2], :process 15, :time 13065119974, :index 2854}
{:type :fail, :f :cas, :value [3 2], :process 15, :time 13067153328, :error :connect, :index 2855}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 13072811440, :index 2858}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 13074706343, :error :connect, :index 2859}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 13125264325, :index 2874}
{:type :fail, :f :cas, :value [4 4], :process 10, :time 13126941227, :error :connect, :index 2875}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
