{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :invoke, :f :write, :value 3, :process 1, :time 10228081014, :index 2396}
{:type :ok, :f :write, :value 3, :process 1, :time 10234452955, :index 2398}
{:type :invoke, :f :read, :value nil, :process 9, :time 10261751152, :index 2406}
{:type :invoke, :f :write, :value 2, :process 1, :time 10271721882, :index 2407}
{:type :ok, :f :write, :value 2, :process 1, :time 10276995671, :index 2409}
{:type :invoke, :f :read, :value nil, :process 3, :time 10290812503, :index 2414}
{:type :invoke, :f :write, :value 4, :process 1, :time 10293243777, :index 2415}
{:type :ok, :f :read, :value 2, :process 3, :time 10295701612, :index 2417}
{:type :invoke, :f :cas, :value [0 3], :process 7, :time 10298889263, :index 2418}
{:type :ok, :f :write, :value 4, :process 1, :time 10299222394, :index 2419}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 10307750525, :index 2422}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 10313544656, :index 2423}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 10326773307, :index 2426}
{:type :ok, :f :cas, :value [4 4], :process 8, :time 10332221897, :index 2428}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 10338826400, :index 2432}
{:type :ok, :f :cas, :value [4 1], :process 0, :time 10346382865, :index 2434}
{:type :invoke, :f :read, :value nil, :process 4, :time 10351252605, :index 2435}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 10358587266, :index 2437}
{:type :invoke, :f :read, :value nil, :process 0, :time 10363647942, :index 2438}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 10364631114, :index 2439}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 10364773084, :index 2440}
{:type :ok, :f :read, :value 1, :process 0, :time 10370321920, :index 2442}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 10370878957, :index 2443}
{:type :invoke, :f :read, :value nil, :process 5, :time 10390929313, :index 2447}
{:type :ok, :f :read, :value 1, :process 5, :time 10398491353, :index 2448}
{:type :invoke, :f :read, :value nil, :process 22, :time 10462602011, :index 2460}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 10468503797, :index 2462}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 10474055701, :index 2463}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 10479979310, :index 2464}
{:type :ok, :f :cas, :value [1 0], :process 3, :time 10484556285, :index 2465}
{:type :invoke, :f :write, :value 2, :process 0, :time 10488668349, :index 2466}
{:type :invoke, :f :write, :value 3, :process 3, :time 10494816642, :index 2468}
{:type :ok, :f :write, :value 2, :process 0, :time 10496685107, :index 2469}
{:type :invoke, :f :write, :value 4, :process 1, :time 10497530172, :index 2471}
{:type :ok, :f :write, :value 3, :process 3, :time 10499967150, :index 2472}
{:type :ok, :f :write, :value 4, :process 1, :time 10502874894, :index 2473}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 10505155772, :index 2474}
{:type :ok, :f :cas, :value [4 0], :process 6, :time 10510867233, :index 2475}
{:type :invoke, :f :read, :value nil, :process 8, :time 10518321808, :index 2476}
{:type :ok, :f :read, :value 0, :process 8, :time 10523609120, :index 2477}
{:type :invoke, :f :write, :value 3, :process 5, :time 10529829734, :index 2478}
{:type :ok, :f :write, :value 3, :process 5, :time 10537515964, :index 2479}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 10598134297, :index 2490}
{:type :invoke, :f :write, :value 3, :process 0, :time 10599969933, :index 2491}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 10605076403, :index 2492}
{:type :ok, :f :write, :value 3, :process 0, :time 10605362915, :index 2493}
{:type :invoke, :f :cas, :value [4 3], :process 1, :time 10609130751, :index 2494}
{:type :fail, :f :cas, :value [4 3], :process 1, :time 10614952468, :index 2495}
{:type :invoke, :f :read, :value nil, :process 8, :time 10615902290, :index 2496}
{:type :ok, :f :read, :value 3, :process 8, :time 10621197879, :index 2497}
{:type :invoke, :f :read, :value nil, :process 5, :time 10629795461, :index 2500}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :ok, :f :read, :value 3, :process 5, :time 10636556303, :index 2504}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 10641225586, :index 2505}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 10647829778, :index 2506}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 10706668432, :index 2513}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 10713766631, :index 2515}
{:type :invoke, :f :read, :value nil, :process 8, :time 10736461222, :index 2519}
{:type :invoke, :f :cas, :value [1 1], :process 1, :time 10737245886, :index 2520}
{:type :ok, :f :read, :value 3, :process 8, :time 10744500058, :index 2522}
{:type :invoke, :f :read, :value nil, :process 6, :time 10746424449, :index 2523}
{:type :fail, :f :cas, :value [1 1], :process 1, :time 10746674052, :index 2524}
{:type :invoke, :f :write, :value 0, :process 5, :time 10750814085, :index 2526}
{:type :ok, :f :read, :value 3, :process 6, :time 10751937194, :index 2527}
{:type :ok, :f :write, :value 0, :process 5, :time 10755963704, :index 2528}
{:type :invoke, :f :read, :value nil, :process 1, :time 10786920723, :index 2531}
{:type :ok, :f :read, :value 0, :process 1, :time 10792728441, :index 2532}
{:type :invoke, :f :cas, :value [3 0], :process 3, :time 10811102269, :index 2535}
{:type :fail, :f :cas, :value [3 0], :process 3, :time 10816869755, :index 2537}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 10824770904, :index 2541}
{:type :invoke, :f :read, :value nil, :process 1, :time 10825991892, :index 2542}
{:type :ok, :f :read, :value 0, :process 1, :time 10831780978, :index 2546}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 10832006201, :index 2547}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :invoke, :f :write, :value 3, :process 6, :time 10855200936, :index 2550}
{:type :ok, :f :write, :value 3, :process 6, :time 10861548217, :index 2551}
{:type :invoke, :f :read, :value nil, :process 8, :time 10899785998, :index 2556}
{:type :ok, :f :read, :value 3, :process 8, :time 10905264679, :index 2557}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 10909976348, :index 2558}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 10916381877, :index 2559}
{:type :invoke, :f :write, :value 0, :process 3, :time 10935128662, :index 2562}
{:type :ok, :f :write, :value 0, :process 3, :time 10939533361, :index 2564}
{:type :invoke, :f :cas, :value [1 1], :process 1, :time 10960059221, :index 2566}
{:type :fail, :f :cas, :value [1 1], :process 1, :time 10966503664, :index 2567}
{:type :invoke, :f :read, :value nil, :process 5, :time 11001274723, :index 2574}
{:type :ok, :f :read, :value 0, :process 5, :time 11007593484, :index 2576}
{:type :invoke, :f :read, :value nil, :process 6, :time 11012816518, :index 2578}
{:type :ok, :f :read, :value 0, :process 6, :time 11017995255, :index 2579}
{:type :invoke, :f :write, :value 1, :process 8, :time 11061552857, :index 2584}
{:type :ok, :f :write, :value 1, :process 8, :time 11066192922, :index 2585}
{:type :invoke, :f :cas, :value [3 0], :process 1, :time 11081793514, :index 2586}
{:type :invoke, :f :read, :value nil, :process 5, :time 11084857229, :index 2587}
{:type :fail, :f :cas, :value [3 0], :process 1, :time 11087680990, :index 2589}
{:type :ok, :f :read, :value 1, :process 5, :time 11092498721, :index 2591}
{:type :invoke, :f :cas, :value [0 1], :process 0, :time 11094654873, :index 2593}
{:type :fail, :f :cas, :value [0 1], :process 0, :time 11100831193, :index 2596}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 11103796454, :index 2599}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 11106760397, :index 2600}
{:type :fail, :f :cas, :value [4 4], :process 3, :time 11109465179, :index 2602}
{:type :ok, :f :cas, :value [1 2], :process 5, :time 11112376380, :index 2603}
{:type :invoke, :f :write, :value 2, :process 8, :time 11121455064, :index 2604}
{:type :ok, :f :write, :value 2, :process 8, :time 11126925673, :index 2605}
{:type :invoke, :f :read, :value nil, :process 5, :time 11165632920, :index 2612}
{:type :invoke, :f :write, :value 4, :process 6, :time 11169256833, :index 2613}
{:type :ok, :f :read, :value 2, :process 5, :time 11170533520, :index 2614}
{:type :ok, :f :write, :value 4, :process 6, :time 11174384901, :index 2615}
{:type :invoke, :f :write, :value 0, :process 1, :time 11206864631, :index 2616}
{:type :ok, :f :write, :value 0, :process 1, :time 11213293625, :index 2617}
{:type :invoke, :f :write, :value 3, :process 6, :time 11251644989, :index 2623}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 11279728927, :index 2626}
{:type :invoke, :f :read, :value nil, :process 0, :time 11296086350, :index 2627}
{:type :invoke, :f :cas, :value [0 1], :process 8, :time 11298190321, :index 2628}
{:type :invoke, :f :read, :value nil, :process 1, :time 11307612454, :index 2629}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 11359828274, :index 2631}
{:type :ok, :f :cas, :value [0 1], :process 8, :time 14140830420, :index 2635}
{:type :ok, :f :write, :value 3, :process 6, :time 14141129414, :index 2637}
{:type :ok, :f :read, :value 3, :process 1, :time 14141354230, :index 2638}
{:type :ok, :f :read, :value 0, :process 0, :time 14141400046, :index 2639}
{:type :ok, :f :read, :value 3, :process 22, :time 14141940752, :index 2641}
{:type :fail, :f :cas, :value [0 3], :process 7, :time 14142928152, :index 2644}
{:type :ok, :f :read, :value 1, :process 4, :time 14143199134, :index 2645}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 14143236728, :index 2646}
{:type :ok, :f :read, :value 1, :process 9, :time 14143699114, :index 2648}
{:type :fail, :f :cas, :value [3 0], :process 5, :time 14145218534, :index 2651}
{:type :invoke, :f :write, :value 0, :process 1, :time 14166583455, :index 2654}
{:type :ok, :f :write, :value 0, :process 1, :time 14172357632, :index 2655}
{:type :invoke, :f :write, :value 0, :process 6, :time 14190381344, :index 2657}
{:type :ok, :f :write, :value 0, :process 6, :time 14196075203, :index 2659}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 14210193900, :index 2661}
{:type :fail, :f :cas, :value [4 4], :process 3, :time 14215106401, :index 2662}
{:type :invoke, :f :read, :value nil, :process 5, :time 14217460984, :index 2663}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 14218120680, :index 2664}
{:type :ok, :f :read, :value 0, :process 5, :time 14224733994, :index 2665}
{:type :ok, :f :cas, :value [0 2], :process 22, :time 14224981789, :index 2666}
{:type :invoke, :f :cas, :value [0 1], :process 3, :time 14229356413, :index 2667}
{:type :fail, :f :cas, :value [0 1], :process 3, :time 14234602486, :index 2668}
{:type :invoke, :f :write, :value 4, :process 22, :time 14241258343, :index 2669}
{:type :ok, :f :write, :value 4, :process 22, :time 14247193166, :index 2671}
{:type :invoke, :f :read, :value nil, :process 6, :time 14252351512, :index 2675}
{:type :invoke, :f :write, :value 3, :process 22, :time 14254430445, :index 2677}
{:type :ok, :f :read, :value 4, :process 6, :time 14256863901, :index 2678}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 14264342964, :index 2682}
{:type :invoke, :f :read, :value nil, :process 9, :time 14270027330, :index 2683}
{:type :invoke, :f :write, :value 4, :process 1, :time 14279615587, :index 2686}
{:type :invoke, :f :cas, :value [3 3], :process 3, :time 14281873958, :index 2687}
{:type :ok, :f :write, :value 4, :process 1, :time 14284326501, :index 2688}
{:type :fail, :f :cas, :value [3 3], :process 3, :time 14286757200, :index 2689}
{:type :ok, :f :read, :value 4, :process 9, :time 14291820049, :index 2691}
{:type :invoke, :f :read, :value nil, :process 8, :time 14294084209, :index 2692}
{:type :ok, :f :read, :value 4, :process 8, :time 14298694760, :index 2694}
{:type :invoke, :f :write, :value 0, :process 0, :time 14331616355, :index 2699}
{:type :ok, :f :write, :value 0, :process 0, :time 14336601726, :index 2701}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 14336605540, :index 2702}
{:type :invoke, :f :write, :value 0, :process 4, :time 14341463597, :index 2703}
{:type :fail, :f :cas, :value [1 2], :process 1, :time 14342273495, :index 2704}
{:type :ok, :f :write, :value 0, :process 4, :time 14346599680, :index 2706}
{:type :invoke, :f :read, :value nil, :process 4, :time 14388852261, :index 2710}
{:type :ok, :f :read, :value 0, :process 4, :time 14394171364, :index 2711}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 14394022116, :index 2712}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 14398688755, :index 2714}
{:type :invoke, :f :write, :value 1, :process 5, :time 14417281510, :index 2718}
{:type :invoke, :f :cas, :value [2 0], :process 9, :time 14420110715, :index 2720}
{:type :invoke, :f :read, :value nil, :process 6, :time 14422124760, :index 2721}
{:type :ok, :f :write, :value 1, :process 5, :time 14423771358, :index 2722}
{:type :fail, :f :cas, :value [2 0], :process 9, :time 14425746487, :index 2724}
{:type :ok, :f :read, :value 1, :process 6, :time 14426993961, :index 2725}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 14447901847, :index 2730}
{:type :ok, :f :cas, :value [1 4], :process 0, :time 14454770485, :index 2731}
{:type :invoke, :f :read, :value nil, :process 3, :time 14464977265, :index 2732}
{:type :ok, :f :read, :value 4, :process 3, :time 14470187585, :index 2733}
{:type :invoke, :f :read, :value nil, :process 8, :time 14478976899, :index 2738}
{:type :ok, :f :read, :value 4, :process 8, :time 14483614024, :index 2739}
{:type :invoke, :f :read, :value nil, :process 6, :time 14508237440, :index 2742}
{:type :ok, :f :read, :value 4, :process 6, :time 14514098657, :index 2745}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 14514447231, :index 2746}
{:type :invoke, :f :cas, :value [1 4], :process 9, :time 14517000561, :index 2747}
{:type :ok, :f :cas, :value [4 3], :process 3, :time 14519445074, :index 2748}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 14521414265, :index 2749}
{:type :invoke, :f :cas, :value [1 3], :process 1, :time 14521701835, :index 2750}
{:type :fail, :f :cas, :value [1 4], :process 9, :time 14522789278, :index 2751}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 14526511208, :index 2752}
{:type :fail, :f :cas, :value [1 3], :process 1, :time 14527180397, :index 2753}
{:type :invoke, :f :cas, :value [2 2], :process 8, :time 14548880421, :index 2758}
{:type :fail, :f :cas, :value [2 2], :process 8, :time 14553739948, :index 2760}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 14563060238, :index 2764}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 14569239116, :index 2767}
{:type :invoke, :f :cas, :value [0 0], :process 9, :time 14590077089, :index 2771}
{:type :fail, :f :cas, :value [0 0], :process 9, :time 14595115628, :index 2775}
{:type :invoke, :f :read, :value nil, :process 1, :time 14596451574, :index 2776}
{:type :ok, :f :read, :value 3, :process 1, :time 14600688394, :index 2779}
{:type :ok, :f :write, :value 3, :process 22, :time 14604732134, :index 2780}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 14605222734, :index 2781}
{:type :invoke, :f :read, :value nil, :process 0, :time 14641026537, :index 2795}
{:type :ok, :f :read, :value 3, :process 0, :time 14646044234, :index 2797}
{:type :invoke, :f :write, :value 3, :process 3, :time 14707748706, :index 2809}
{:type :invoke, :f :write, :value 1, :process 4, :time 14709799648, :index 2812}
{:type :invoke, :f :cas, :value [1 1], :process 8, :time 14710552428, :index 2813}
{:type :ok, :f :write, :value 3, :process 3, :time 14712288294, :index 2814}
{:type :invoke, :f :cas, :value [3 0], :process 6, :time 14713352620, :index 2815}
{:type :ok, :f :write, :value 1, :process 4, :time 14715084307, :index 2817}
{:type :ok, :f :cas, :value [1 1], :process 8, :time 14715274338, :index 2818}
{:type :fail, :f :cas, :value [3 0], :process 6, :time 14717839089, :index 2819}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
