{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :invoke, :f :read, :value nil, :process 25, :time 45671887504, :index 6896}
{:type :ok, :f :read, :value nil, :process 25, :time 45676934608, :index 6897}
{:type :invoke, :f :read, :value nil, :process 43, :time 45680873663, :index 6898}
{:type :ok, :f :read, :value nil, :process 43, :time 45687553071, :index 6899}
{:type :invoke, :f :cas, :value [1 3], :process 43, :time 45735843941, :index 6911}
{:type :fail, :f :cas, :value [1 3], :process 43, :time 45742062933, :error :not-found, :index 6914}
{:type :invoke, :f :write, :value 1, :process 40, :time 45753543102, :index 6916}
{:type :ok, :f :write, :value 1, :process 40, :time 45758725600, :index 6917}
{:type :invoke, :f :cas, :value [2 4], :process 44, :time 45766587114, :index 6918}
{:type :invoke, :f :read, :value nil, :process 49, :time 45767022793, :index 6919}
{:type :invoke, :f :cas, :value [2 0], :process 46, :time 45769036456, :index 6922}
{:type :ok, :f :read, :value 1, :process 49, :time 45774736234, :index 6928}
{:type :fail, :f :cas, :value [2 4], :process 44, :time 45774752021, :index 6929}
{:type :fail, :f :cas, :value [2 0], :process 46, :time 45775571219, :index 6931}
{:type :invoke, :f :cas, :value [2 0], :process 40, :time 45806012485, :index 6941}
{:type :invoke, :f :read, :value nil, :process 22, :time 45808806018, :index 6942}
{:type :fail, :f :cas, :value [2 0], :process 40, :time 45811787524, :index 6944}
{:type :ok, :f :read, :value 1, :process 22, :time 45815430480, :index 6945}
{:type :invoke, :f :read, :value nil, :process 43, :time 45845321526, :index 6946}
{:type :ok, :f :read, :value 1, :process 43, :time 45850268633, :index 6947}
{:type :invoke, :f :cas, :value [4 1], :process 40, :time 45854092640, :index 6948}
{:type :fail, :f :cas, :value [4 1], :process 40, :time 45859836690, :index 6950}
{:type :invoke, :f :write, :value 1, :process 41, :time 45861609725, :index 6951}
{:type :invoke, :f :write, :value 0, :process 25, :time 45862201285, :index 6952}
{:type :ok, :f :write, :value 1, :process 41, :time 45866655407, :index 6955}
{:type :ok, :f :write, :value 0, :process 25, :time 45869720717, :index 6956}
{:type :invoke, :f :write, :value 4, :process 48, :time 45908153467, :index 6968}
{:type :ok, :f :write, :value 4, :process 48, :time 45913294238, :index 6971}
{:type :invoke, :f :cas, :value [0 2], :process 43, :time 45913530963, :index 6972}
{:type :invoke, :f :cas, :value [3 4], :process 7, :time 45914948779, :index 6973}
{:type :fail, :f :cas, :value [0 2], :process 43, :time 45918638210, :index 6976}
{:type :invoke, :f :cas, :value [0 4], :process 44, :time 45919059513, :index 6977}
{:type :invoke, :f :read, :value nil, :process 46, :time 45919860354, :index 6978}
{:type :fail, :f :cas, :value [3 4], :process 7, :time 45920728815, :index 6979}
{:type :ok, :f :read, :value 4, :process 46, :time 45925307929, :index 6982}
{:type :fail, :f :cas, :value [0 4], :process 44, :time 45925520104, :index 6983}
{:type :invoke, :f :cas, :value [4 4], :process 43, :time 45931915583, :index 6986}
{:type :invoke, :f :cas, :value [1 4], :process 41, :time 45934940255, :index 6987}
{:type :ok, :f :cas, :value [4 4], :process 43, :time 45937095432, :index 6988}
{:type :fail, :f :cas, :value [1 4], :process 41, :time 45940168667, :index 6989}
{:type :invoke, :f :write, :value 0, :process 46, :time 45941612990, :index 6990}
{:type :ok, :f :write, :value 0, :process 46, :time 45945962865, :index 6991}
{:type :invoke, :f :write, :value 3, :process 49, :time 45950018966, :index 6992}
{:type :ok, :f :write, :value 3, :process 49, :time 45955077086, :index 6994}
{:type :invoke, :f :cas, :value [2 2], :process 7, :time 45973050751, :index 6999}
{:type :fail, :f :cas, :value [2 2], :process 7, :time 45978639479, :index 7003}
{:type :invoke, :f :read, :value nil, :process 48, :time 45992549002, :index 7009}
{:type :invoke, :f :cas, :value [1 3], :process 40, :time 45997152981, :index 7012}
{:type :ok, :f :read, :value 3, :process 48, :time 45998667139, :index 7013}
{:type :fail, :f :cas, :value [1 3], :process 40, :time 46003487677, :index 7016}
{:type :invoke, :f :read, :value nil, :process 22, :time 46009682537, :index 7018}
{:type :ok, :f :read, :value 3, :process 22, :time 46014753290, :index 7021}
{:type :invoke, :f :cas, :value [1 4], :process 48, :time 46014961354, :index 7022}
{:type :fail, :f :cas, :value [1 4], :process 48, :time 46020502093, :index 7025}
{:type :invoke, :f :cas, :value [3 0], :process 7, :time 46022917477, :index 7026}
{:type :ok, :f :cas, :value [3 0], :process 7, :time 46027893614, :index 7027}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 46028032583, :index 7028}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 46032804653, :index 7029}
{:type :invoke, :f :read, :value nil, :process 44, :time 46048804101, :index 7032}
{:type :invoke, :f :write, :value 1, :process 25, :time 46048979830, :index 7033}
{:type :ok, :f :read, :value 0, :process 44, :time 46053956588, :index 7036}
{:type :ok, :f :write, :value 1, :process 25, :time 46054820237, :index 7037}
{:type :invoke, :f :read, :value nil, :process 7, :time 46072064784, :index 7043}
{:type :invoke, :f :write, :value 2, :process 22, :time 46073017303, :index 7044}
{:type :ok, :f :read, :value 1, :process 7, :time 46077832137, :index 7047}
{:type :ok, :f :write, :value 2, :process 22, :time 46078415845, :index 7048}
{:type :invoke, :f :cas, :value [1 3], :process 43, :time 46089352353, :index 7052}
{:type :invoke, :f :write, :value 2, :process 46, :time 46089269966, :index 7053}
{:type :ok, :f :write, :value 2, :process 46, :time 46095842045, :index 7055}
{:type :fail, :f :cas, :value [1 3], :process 43, :time 46095883644, :index 7056}
{:type :invoke, :f :write, :value 0, :process 41, :time 46131427986, :index 7062}
{:type :ok, :f :write, :value 0, :process 41, :time 46135651202, :index 7063}
{:type :invoke, :f :cas, :value [3 1], :process 49, :time 46141370254, :index 7065}
{:type :invoke, :f :read, :value nil, :process 22, :time 46141924211, :index 7066}
{:type :fail, :f :cas, :value [3 1], :process 49, :time 46148285438, :index 7070}
{:type :ok, :f :read, :value 0, :process 22, :time 46148400396, :index 7071}
{:type :invoke, :f :write, :value 0, :process 41, :time 46159909827, :index 7073}
{:type :ok, :f :write, :value 0, :process 41, :time 46164932446, :index 7076}
{:type :invoke, :f :write, :value 4, :process 40, :time 46171787515, :index 7078}
{:type :ok, :f :write, :value 4, :process 40, :time 46177245187, :index 7079}
{:type :invoke, :f :cas, :value [1 2], :process 25, :time 46178078253, :index 7080}
{:type :invoke, :f :read, :value nil, :process 49, :time 46179546181, :index 7081}
{:type :fail, :f :cas, :value [1 2], :process 25, :time 46183635607, :index 7082}
{:type :ok, :f :read, :value 4, :process 49, :time 46184576071, :index 7083}
{:type :invoke, :f :write, :value 0, :process 48, :time 46184760515, :index 7084}
{:type :ok, :f :write, :value 0, :process 48, :time 46190189172, :index 7086}
{:type :invoke, :f :read, :value nil, :process 44, :time 46221224919, :index 7090}
{:type :invoke, :f :read, :value nil, :process 25, :time 46221905418, :index 7091}
{:type :invoke, :f :read, :value nil, :process 7, :time 46222702339, :index 7093}
{:type :ok, :f :read, :value 0, :process 44, :time 46229129063, :index 7094}
{:type :ok, :f :read, :value 0, :process 25, :time 46229129064, :index 7095}
{:type :ok, :f :read, :value 0, :process 7, :time 46230040621, :index 7097}
{:type :invoke, :f :write, :value 0, :process 48, :time 46231462927, :index 7098}
{:type :invoke, :f :read, :value nil, :process 46, :time 46233116365, :index 7100}
{:type :ok, :f :read, :value 0, :process 46, :time 46237773608, :index 7103}
{:type :ok, :f :write, :value 0, :process 48, :time 46238053333, :index 7104}
{:type :invoke, :f :cas, :value [1 2], :process 43, :time 46242144921, :index 7106}
{:type :fail, :f :cas, :value [1 2], :process 43, :time 46247571205, :index 7107}
{:type :invoke, :f :read, :value nil, :process 7, :time 46263306653, :index 7108}
{:type :ok, :f :read, :value 0, :process 7, :time 46268825151, :index 7110}
{:type :invoke, :f :cas, :value [1 2], :process 22, :time 46273670131, :index 7112}
{:type :invoke, :f :read, :value nil, :process 7, :time 46274080237, :index 7113}
{:type :invoke, :f :write, :value 0, :process 40, :time 46275546483, :index 7114}
{:type :invoke, :f :read, :value nil, :process 48, :time 46278289649, :index 7115}
{:type :fail, :f :cas, :value [1 2], :process 22, :time 46279393208, :index 7116}
{:type :ok, :f :read, :value 0, :process 7, :time 46279687761, :index 7117}
{:type :ok, :f :write, :value 0, :process 40, :time 46280954019, :index 7118}
{:type :invoke, :f :write, :value 2, :process 7, :time 46282008096, :index 7119}
{:type :ok, :f :read, :value 0, :process 48, :time 46282787742, :index 7120}
{:type :ok, :f :write, :value 2, :process 7, :time 46287165102, :index 7122}
{:type :invoke, :f :read, :value nil, :process 49, :time 46289845579, :index 7124}
{:type :ok, :f :read, :value 2, :process 49, :time 46294455393, :index 7127}
{:type :invoke, :f :read, :value nil, :process 7, :time 46304426572, :index 7132}
{:type :invoke, :f :write, :value 4, :process 46, :time 46308013629, :index 7134}
{:type :invoke, :f :write, :value 2, :process 25, :time 46309631085, :index 7135}
{:type :invoke, :f :read, :value nil, :process 48, :time 46310058379, :index 7136}
{:type :ok, :f :read, :value 2, :process 7, :time 46310775679, :index 7137}
{:type :ok, :f :write, :value 4, :process 46, :time 46316002955, :index 7141}
{:type :ok, :f :write, :value 2, :process 25, :time 46318528066, :index 7142}
{:type :ok, :f :read, :value 2, :process 48, :time 46318622043, :index 7143}
{:type :invoke, :f :write, :value 1, :process 44, :time 46338422821, :index 7147}
{:type :ok, :f :write, :value 1, :process 44, :time 46343360160, :index 7149}
{:type :invoke, :f :read, :value nil, :process 41, :time 46353189498, :index 7150}
{:type :invoke, :f :read, :value nil, :process 43, :time 46353841839, :index 7151}
{:type :ok, :f :read, :value 1, :process 41, :time 46358100540, :index 7152}
{:type :ok, :f :read, :value 1, :process 43, :time 46358975173, :index 7153}
{:type :invoke, :f :cas, :value [2 2], :process 49, :time 46366717767, :index 7154}
{:type :invoke, :f :read, :value nil, :process 41, :time 46371365004, :index 7156}
{:type :fail, :f :cas, :value [2 2], :process 49, :time 46371932982, :index 7157}
{:type :invoke, :f :write, :value 1, :process 49, :time 46375225041, :index 7160}
{:type :ok, :f :read, :value 1, :process 41, :time 46375677829, :index 7161}
{:type :ok, :f :write, :value 1, :process 49, :time 46380910999, :index 7163}
{:type :invoke, :f :cas, :value [2 0], :process 41, :time 46401940151, :index 7170}
{:type :fail, :f :cas, :value [2 0], :process 41, :time 46407345937, :index 7171}
{:type :invoke, :f :read, :value nil, :process 25, :time 46410182805, :index 7174}
{:type :ok, :f :read, :value 1, :process 25, :time 46415903790, :index 7177}
{:type :invoke, :f :cas, :value [2 4], :process 46, :time 46438268445, :index 7181}
{:type :fail, :f :cas, :value [2 4], :process 46, :time 46443318859, :index 7183}
{:type :invoke, :f :read, :value nil, :process 22, :time 46445677633, :index 7184}
{:type :ok, :f :read, :value 1, :process 22, :time 46450752009, :index 7185}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :invoke, :f :read, :value nil, :process 40, :time 46453112690, :index 7187}
{:type :ok, :f :read, :value 1, :process 40, :time 46458816952, :index 7188}
{:type :invoke, :f :write, :value 0, :process 41, :time 46477619277, :index 7192}
{:type :invoke, :f :cas, :value [4 4], :process 48, :time 46480880678, :index 7194}
{:type :ok, :f :write, :value 0, :process 41, :time 46481887105, :index 7195}
{:type :invoke, :f :cas, :value [3 2], :process 40, :time 46486075285, :index 7196}
{:type :fail, :f :cas, :value [3 2], :process 40, :time 46492354228, :index 7199}
{:type :invoke, :f :read, :value nil, :process 7, :time 46508044395, :index 7204}
{:type :invoke, :f :cas, :value [1 1], :process 44, :time 46512619020, :index 7205}
{:type :ok, :f :read, :value 0, :process 7, :time 46513863543, :index 7206}
{:type :invoke, :f :read, :value nil, :process 49, :time 46529109242, :index 7210}
{:type :invoke, :f :cas, :value [3 3], :process 22, :time 46530014610, :index 7211}
{:type :fail, :f :cas, :value [3 3], :process 22, :time 46535906062, :index 7213}
{:type :invoke, :f :cas, :value [4 4], :process 43, :time 46538230847, :index 7214}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :invoke, :f :write, :value 0, :process 46, :time 46588586758, :index 7220}
{:type :ok, :f :write, :value 0, :process 46, :time 46594049015, :index 7222}
{:type :invoke, :f :read, :value nil, :process 25, :time 46607160280, :index 7223}
{:type :invoke, :f :cas, :value [1 2], :process 41, :time 46607163869, :index 7224}
{:type :fail, :f :cas, :value [1 2], :process 41, :time 46612341333, :index 7225}
{:type :ok, :f :read, :value 0, :process 25, :time 46613345835, :index 7226}
{:type :invoke, :f :cas, :value [4 1], :process 25, :time 46625597942, :index 7229}
{:type :fail, :f :cas, :value [4 1], :process 25, :time 46631820304, :index 7232}
{:type :invoke, :f :read, :value nil, :process 40, :time 46661612673, :index 7234}
{:type :ok, :f :read, :value 0, :process 40, :time 46667953513, :index 7237}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 46669146082, :index 7238}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 46676432527, :index 7242}
{:type :invoke, :f :read, :value nil, :process 46, :time 46683304258, :index 7245}
{:type :ok, :f :read, :value 0, :process 46, :time 46688334083, :index 7247}
{:type :invoke, :f :cas, :value [3 3], :process 25, :time 46690386492, :index 7250}
{:type :fail, :f :cas, :value [3 3], :process 25, :time 46697589102, :index 7253}
{:type :invoke, :f :read, :value nil, :process 22, :time 46730170818, :index 7262}
{:type :ok, :f :read, :value 0, :process 22, :time 46735844088, :index 7264}
{:type :invoke, :f :cas, :value [1 4], :process 25, :time 46735856817, :index 7265}
{:type :fail, :f :cas, :value [1 4], :process 25, :time 46742289840, :index 7267}
{:type :invoke, :f :cas, :value [2 3], :process 41, :time 46755599827, :index 7268}
{:type :fail, :f :cas, :value [2 3], :process 41, :time 46761267155, :index 7269}
{:type :invoke, :f :cas, :value [3 3], :process 7, :time 46767674114, :index 7271}
{:type :fail, :f :cas, :value [3 3], :process 7, :time 46775021106, :index 7273}
{:type :invoke, :f :read, :value nil, :process 41, :time 46797526437, :index 7281}
{:type :invoke, :f :read, :value nil, :process 22, :time 46798135067, :index 7282}
{:type :ok, :f :read, :value 0, :process 41, :time 46802670590, :index 7284}
{:type :ok, :f :read, :value 0, :process 22, :time 46803985585, :index 7285}
{:type :invoke, :f :write, :value 0, :process 46, :time 46832600433, :index 7293}
{:type :invoke, :f :write, :value 0, :process 25, :time 46833550675, :index 7294}
{:type :ok, :f :write, :value 0, :process 46, :time 46837935269, :index 7296}
{:type :ok, :f :write, :value 0, :process 25, :time 46839731332, :index 7297}
{:type :invoke, :f :read, :value nil, :process 40, :time 46849233480, :index 7298}
{:type :ok, :f :read, :value 0, :process 40, :time 46854930643, :index 7299}
{:type :invoke, :f :read, :value nil, :process 46, :time 46858192020, :index 7300}
{:type :ok, :f :read, :value 0, :process 46, :time 46863152800, :index 7301}
{:type :invoke, :f :read, :value nil, :process 41, :time 46877936631, :index 7304}
{:type :ok, :f :read, :value 0, :process 41, :time 46882793622, :index 7305}
{:type :invoke, :f :write, :value 3, :process 7, :time 46926279701, :index 7316}
{:type :ok, :f :write, :value 3, :process 7, :time 46932639793, :index 7317}
{:type :invoke, :f :read, :value nil, :process 22, :time 46959236823, :index 7321}
{:type :ok, :f :read, :value 3, :process 22, :time 46965049717, :index 7323}
{:type :info, :f :cas, :value [4 4], :process 48, :time 51486962764, :error :timeout, :index 7894}
{:type :info, :f :cas, :value [1 1], :process 44, :time 51514773187, :error :timeout, :index 7895}
{:type :fail, :f :read, :value nil, :process 49, :time 51538074189, :error :timeout, :index 7896}
{:type :info, :f :cas, :value [4 4], :process 43, :time 51545123674, :error :timeout, :index 7897}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
