{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 34236988455, :index 11228}
{:type :fail, :f :cas, :value [0 3], :process 18, :time 34239003948, :error :connect, :index 11230}
{:type :invoke, :f :read, :value nil, :process 34, :time 34308758013, :index 11255}
{:type :fail, :f :read, :value nil, :process 34, :time 34310816280, :error :connect, :index 11258}
{:type :invoke, :f :write, :value 1, :process 15, :time 34330124384, :index 11268}
{:type :fail, :f :write, :value 1, :process 15, :time 34331905829, :error :connect, :index 11269}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 34352485110, :index 11270}
{:type :fail, :f :cas, :value [2 1], :process 36, :time 34354600830, :error :connect, :index 11271}
{:type :invoke, :f :write, :value 2, :process 39, :time 34365556704, :index 11274}
{:type :fail, :f :write, :value 2, :process 39, :time 34367413356, :error :connect, :index 11275}
{:type :invoke, :f :read, :value nil, :process 33, :time 34375692786, :index 11276}
{:type :fail, :f :read, :value nil, :process 33, :time 34377334562, :error :connect, :index 11277}
{:type :invoke, :f :cas, :value [0 1], :process 32, :time 34379471743, :index 11278}
{:type :fail, :f :cas, :value [0 1], :process 32, :time 34381418463, :error :connect, :index 11280}
{:type :invoke, :f :write, :value 3, :process 10, :time 34385420127, :index 11282}
{:type :fail, :f :write, :value 3, :process 10, :time 34387259544, :error :connect, :index 11283}
{:type :invoke, :f :write, :value 0, :process 33, :time 34392600821, :index 11285}
{:type :fail, :f :write, :value 0, :process 33, :time 34394590633, :error :connect, :index 11286}
{:type :invoke, :f :write, :value 3, :process 18, :time 34400284441, :index 11288}
{:type :fail, :f :write, :value 3, :process 18, :time 34402115259, :error :connect, :index 11289}
{:type :invoke, :f :read, :value nil, :process 37, :time 34413420915, :index 11292}
{:type :fail, :f :read, :value nil, :process 37, :time 34415322749, :error :connect, :index 11293}
{:type :invoke, :f :cas, :value [0 2], :process 32, :time 34429678607, :index 11300}
{:type :fail, :f :cas, :value [0 2], :process 32, :time 34431566371, :error :connect, :index 11301}
{:type :invoke, :f :read, :value nil, :process 36, :time 34447883781, :index 11304}
{:type :fail, :f :read, :value nil, :process 36, :time 34449854769, :error :connect, :index 11306}
{:type :invoke, :f :cas, :value [4 3], :process 37, :time 34459583976, :index 11310}
{:type :invoke, :f :read, :value nil, :process 11, :time 34460441033, :index 11311}
{:type :fail, :f :cas, :value [4 3], :process 37, :time 34461278525, :error :connect, :index 11312}
{:type :fail, :f :read, :value nil, :process 11, :time 34462077829, :error :connect, :index 11313}
{:type :invoke, :f :read, :value nil, :process 15, :time 34462183815, :index 11314}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 34462699318, :index 11315}
{:type :fail, :f :read, :value nil, :process 15, :time 34463973037, :error :connect, :index 11316}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 34464758707, :error :connect, :index 11317}
{:type :invoke, :f :read, :value nil, :process 33, :time 34473921240, :index 11318}
{:type :fail, :f :read, :value nil, :process 33, :time 34476088452, :error :connect, :index 11319}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 34480377120, :index 11321}
{:type :fail, :f :cas, :value [0 3], :process 18, :time 34482135693, :error :connect, :index 11323}
{:type :invoke, :f :cas, :value [0 4], :process 34, :time 34492175109, :index 11324}
{:type :fail, :f :cas, :value [0 4], :process 34, :time 34494040565, :error :connect, :index 11325}
{:type :invoke, :f :write, :value 0, :process 39, :time 34501020282, :index 11328}
{:type :fail, :f :write, :value 0, :process 39, :time 34502864495, :error :connect, :index 11329}
{:type :invoke, :f :write, :value 2, :process 37, :time 34510544181, :index 11330}
{:type :fail, :f :write, :value 2, :process 37, :time 34512416885, :error :connect, :index 11331}
{:type :invoke, :f :read, :value nil, :process 11, :time 34517329545, :index 11332}
{:type :fail, :f :read, :value nil, :process 11, :time 34519197270, :error :connect, :index 11333}
{:type :invoke, :f :read, :value nil, :process 10, :time 34533529767, :index 11341}
{:type :fail, :f :read, :value nil, :process 10, :time 34535493870, :error :connect, :index 11343}
{:type :invoke, :f :read, :value nil, :process 33, :time 34557348842, :index 11344}
{:type :fail, :f :read, :value nil, :process 33, :time 34559717022, :error :connect, :index 11347}
{:type :invoke, :f :write, :value 3, :process 10, :time 34582762623, :index 11348}
{:type :fail, :f :write, :value 3, :process 10, :time 34584968346, :error :connect, :index 11351}
{:type :invoke, :f :write, :value 3, :process 36, :time 34588118029, :index 11352}
{:type :fail, :f :write, :value 3, :process 36, :time 34590010904, :error :connect, :index 11354}
{:type :invoke, :f :write, :value 2, :process 32, :time 34606277539, :index 11363}
{:type :fail, :f :write, :value 2, :process 32, :time 34608273648, :error :connect, :index 11366}
{:type :invoke, :f :write, :value 1, :process 15, :time 34618270873, :index 11368}
{:type :fail, :f :write, :value 1, :process 15, :time 34620551159, :error :connect, :index 11369}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 34620471195, :index 11370}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 34622199346, :error :connect, :index 11371}
{:type :invoke, :f :read, :value nil, :process 39, :time 34636126392, :index 11378}
{:type :fail, :f :read, :value nil, :process 39, :time 34638184034, :error :connect, :index 11380}
{:type :invoke, :f :read, :value nil, :process 32, :time 34646511730, :index 11382}
{:type :fail, :f :read, :value nil, :process 32, :time 34648295989, :error :connect, :index 11384}
{:type :invoke, :f :write, :value 2, :process 18, :time 34675379886, :index 11388}
{:type :fail, :f :write, :value 2, :process 18, :time 34677278813, :error :connect, :index 11389}
{:type :invoke, :f :read, :value nil, :process 34, :time 34682304293, :index 11390}
{:type :fail, :f :read, :value nil, :process 34, :time 34684451380, :error :connect, :index 11391}
{:type :invoke, :f :write, :value 4, :process 37, :time 34700678897, :index 11396}
{:type :fail, :f :write, :value 4, :process 37, :time 34702794348, :error :connect, :index 11397}
{:type :invoke, :f :cas, :value [3 3], :process 34, :time 34705687946, :index 11398}
{:type :fail, :f :cas, :value [3 3], :process 34, :time 34707578763, :error :connect, :index 11400}
{:type :invoke, :f :cas, :value [1 4], :process 33, :time 34728054568, :index 11408}
{:type :invoke, :f :read, :value nil, :process 10, :time 34729194719, :index 11409}
{:type :fail, :f :cas, :value [1 4], :process 33, :time 34729854286, :error :connect, :index 11410}
{:type :fail, :f :read, :value nil, :process 10, :time 34731359827, :error :connect, :index 11411}
{:type :invoke, :f :read, :value nil, :process 32, :time 34742551319, :index 11414}
{:type :fail, :f :read, :value nil, :process 32, :time 34744418407, :error :connect, :index 11415}
{:type :invoke, :f :write, :value 1, :process 36, :time 34745278632, :index 11416}
{:type :fail, :f :write, :value 1, :process 36, :time 34747174434, :error :connect, :index 11417}
{:type :invoke, :f :read, :value nil, :process 37, :time 34760064802, :index 11424}
{:type :fail, :f :read, :value nil, :process 37, :time 34761917489, :error :connect, :index 11425}
{:type :invoke, :f :read, :value nil, :process 15, :time 34763788926, :index 11426}
{:type :fail, :f :read, :value nil, :process 15, :time 34765803921, :error :connect, :index 11427}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 34780602967, :index 11430}
{:type :fail, :f :cas, :value [0 3], :process 10, :time 34782457605, :error :connect, :index 11431}
{:type :invoke, :f :read, :value nil, :process 10, :time 34785722947, :index 11434}
{:type :fail, :f :read, :value nil, :process 10, :time 34787536955, :error :connect, :index 11435}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 34795460628, :index 11436}
{:type :fail, :f :cas, :value [2 1], :process 11, :time 34797303667, :error :connect, :index 11437}
{:type :invoke, :f :cas, :value [1 0], :process 15, :time 34806091718, :index 11438}
{:type :fail, :f :cas, :value [1 0], :process 15, :time 34808015378, :error :connect, :index 11439}
{:type :invoke, :f :write, :value 1, :process 39, :time 34818430871, :index 11440}
{:type :invoke, :f :cas, :value [2 2], :process 18, :time 34819545252, :index 11441}
{:type :fail, :f :write, :value 1, :process 39, :time 34820524816, :error :connect, :index 11442}
{:type :fail, :f :cas, :value [2 2], :process 18, :time 34821766139, :error :connect, :index 11444}
{:type :invoke, :f :write, :value 1, :process 18, :time 34829043707, :index 11446}
{:type :fail, :f :write, :value 1, :process 18, :time 34831088010, :error :connect, :index 11447}
{:type :invoke, :f :cas, :value [0 1], :process 34, :time 34840850484, :index 11450}
{:type :fail, :f :cas, :value [0 1], :process 34, :time 34842523850, :error :connect, :index 11452}
{:type :invoke, :f :cas, :value [0 2], :process 36, :time 34844440135, :index 11454}
{:type :fail, :f :cas, :value [0 2], :process 36, :time 34846099821, :error :connect, :index 11455}
{:type :invoke, :f :cas, :value [2 1], :process 33, :time 34858126296, :index 11458}
{:type :fail, :f :cas, :value [2 1], :process 33, :time 34860093427, :error :connect, :index 11459}
{:type :invoke, :f :read, :value nil, :process 37, :time 34872174067, :index 11462}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 34872793800, :index 11463}
{:type :fail, :f :read, :value nil, :process 37, :time 34874074624, :error :connect, :index 11465}
{:type :fail, :f :cas, :value [4 4], :process 10, :time 34874827038, :error :connect, :index 11466}
{:type :invoke, :f :read, :value nil, :process 10, :time 34896094349, :index 11476}
{:type :fail, :f :read, :value nil, :process 10, :time 34898130763, :error :connect, :index 11478}
{:type :invoke, :f :read, :value nil, :process 34, :time 34908797934, :index 11484}
{:type :fail, :f :read, :value nil, :process 34, :time 34910635207, :error :connect, :index 11485}
{:type :invoke, :f :cas, :value [4 0], :process 11, :time 34918576138, :index 11488}
{:type :fail, :f :cas, :value [4 0], :process 11, :time 34920417553, :error :connect, :index 11489}
{:type :invoke, :f :cas, :value [1 0], :process 18, :time 34920366214, :index 11490}
{:type :fail, :f :cas, :value [1 0], :process 18, :time 34922245909, :error :connect, :index 11491}
{:type :invoke, :f :write, :value 3, :process 32, :time 34924678042, :index 11492}
{:type :fail, :f :write, :value 3, :process 32, :time 34926772696, :error :connect, :index 11493}
{:type :invoke, :f :cas, :value [2 2], :process 34, :time 34934910296, :index 11494}
{:type :fail, :f :cas, :value [2 2], :process 34, :time 34936713302, :error :connect, :index 11495}
{:type :invoke, :f :cas, :value [0 3], :process 34, :time 34936853180, :index 11496}
{:type :fail, :f :cas, :value [0 3], :process 34, :time 34938607964, :error :connect, :index 11497}
{:type :invoke, :f :cas, :value [2 1], :process 39, :time 34978732101, :index 11506}
{:type :fail, :f :cas, :value [2 1], :process 39, :time 34980734352, :error :connect, :index 11507}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 34997661398, :index 11512}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 34999332215, :error :connect, :index 11513}
{:type :invoke, :f :write, :value 0, :process 18, :time 35003508763, :index 11517}
{:type :fail, :f :write, :value 0, :process 18, :time 35005551391, :error :connect, :index 11519}
{:type :invoke, :f :read, :value nil, :process 15, :time 35006309677, :index 11520}
{:type :fail, :f :read, :value nil, :process 15, :time 35008166148, :error :connect, :index 11521}
{:type :invoke, :f :read, :value nil, :process 15, :time 35031443807, :index 11530}
{:type :invoke, :f :cas, :value [1 4], :process 34, :time 35031910672, :index 11531}
{:type :fail, :f :read, :value nil, :process 15, :time 35033254226, :error :connect, :index 11532}
{:type :fail, :f :cas, :value [1 4], :process 34, :time 35033652916, :error :connect, :index 11533}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 35036387120, :index 11534}
{:type :fail, :f :cas, :value [0 0], :process 36, :time 35038290472, :error :connect, :index 11535}
{:type :invoke, :f :cas, :value [4 2], :process 37, :time 35045355443, :index 11537}
{:type :fail, :f :cas, :value [4 2], :process 37, :time 35047251573, :error :connect, :index 11539}
{:type :invoke, :f :read, :value nil, :process 10, :time 35048407645, :index 11540}
{:type :fail, :f :read, :value nil, :process 10, :time 35050032278, :error :connect, :index 11541}
{:type :invoke, :f :read, :value nil, :process 33, :time 35059357218, :index 11542}
{:type :invoke, :f :write, :value 0, :process 34, :time 35059920471, :index 11543}
{:type :fail, :f :read, :value nil, :process 33, :time 35061261511, :error :connect, :index 11544}
{:type :fail, :f :write, :value 0, :process 34, :time 35061715075, :error :connect, :index 11545}
{:type :invoke, :f :read, :value nil, :process 10, :time 35065267223, :index 11548}
{:type :fail, :f :read, :value nil, :process 10, :time 35066821889, :error :connect, :index 11549}
{:type :invoke, :f :read, :value nil, :process 36, :time 35075550302, :index 11552}
{:type :fail, :f :read, :value nil, :process 36, :time 35077640367, :error :connect, :index 11553}
{:type :invoke, :f :write, :value 0, :process 10, :time 35079081387, :index 11554}
{:type :fail, :f :write, :value 0, :process 10, :time 35081101277, :error :connect, :index 11557}
{:type :invoke, :f :cas, :value [0 3], :process 39, :time 35093996262, :index 11558}
{:type :fail, :f :cas, :value [0 3], :process 39, :time 35095647397, :error :connect, :index 11559}
{:type :invoke, :f :write, :value 2, :process 10, :time 35101348032, :index 11560}
{:type :fail, :f :write, :value 2, :process 10, :time 35103612361, :error :connect, :index 11562}
{:type :invoke, :f :read, :value nil, :process 37, :time 35117465771, :index 11568}
{:type :fail, :f :read, :value nil, :process 37, :time 35119084849, :error :connect, :index 11569}
{:type :invoke, :f :read, :value nil, :process 11, :time 35120597686, :index 11570}
{:type :fail, :f :read, :value nil, :process 11, :time 35122902478, :error :connect, :index 11572}
{:type :invoke, :f :write, :value 3, :process 32, :time 35126036471, :index 11574}
{:type :fail, :f :write, :value 3, :process 32, :time 35128119152, :error :connect, :index 11575}
{:type :invoke, :f :read, :value nil, :process 18, :time 35145816683, :index 11580}
{:type :fail, :f :read, :value nil, :process 18, :time 35147662027, :error :connect, :index 11581}
{:type :invoke, :f :cas, :value [3 0], :process 33, :time 35158519608, :index 11584}
{:type :fail, :f :cas, :value [3 0], :process 33, :time 35160368395, :error :connect, :index 11586}
{:type :invoke, :f :write, :value 3, :process 15, :time 35164521162, :index 11589}
{:type :fail, :f :write, :value 3, :process 15, :time 35166624410, :error :connect, :index 11591}
{:type :invoke, :f :read, :value nil, :process 37, :time 35189349130, :index 11601}
{:type :fail, :f :read, :value nil, :process 37, :time 35191347925, :error :connect, :index 11603}
{:type :invoke, :f :write, :value 1, :process 39, :time 35193920631, :index 11604}
{:type :fail, :f :write, :value 1, :process 39, :time 35195752027, :error :connect, :index 11606}
{:type :invoke, :f :read, :value nil, :process 37, :time 35196580812, :index 11607}
{:type :invoke, :f :write, :value 4, :process 36, :time 35196918371, :index 11608}
{:type :fail, :f :read, :value nil, :process 37, :time 35198526050, :error :connect, :index 11610}
{:type :fail, :f :write, :value 4, :process 36, :time 35199185039, :error :connect, :index 11611}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 35207878791, :index 11616}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 35209926781, :error :connect, :index 11617}
{:type :invoke, :f :write, :value 4, :process 11, :time 35223190252, :index 11622}
{:type :fail, :f :write, :value 4, :process 11, :time 35225020048, :error :connect, :index 11623}
{:type :invoke, :f :cas, :value [4 2], :process 34, :time 35236977288, :index 11628}
{:type :fail, :f :cas, :value [4 2], :process 34, :time 35238943698, :error :connect, :index 11629}
{:type :invoke, :f :write, :value 1, :process 15, :time 35243893565, :index 11632}
{:type :fail, :f :write, :value 1, :process 15, :time 35245946223, :error :connect, :index 11633}
{:type :invoke, :f :read, :value nil, :process 37, :time 35247707408, :index 11634}
{:type :invoke, :f :write, :value 2, :process 18, :time 35247935099, :index 11635}
{:type :fail, :f :read, :value nil, :process 37, :time 35249782067, :error :connect, :index 11636}
{:type :fail, :f :write, :value 2, :process 18, :time 35249933330, :error :connect, :index 11637}
{:type :invoke, :f :cas, :value [4 1], :process 33, :time 35255632213, :index 11638}
{:type :fail, :f :cas, :value [4 1], :process 33, :time 35257346081, :error :connect, :index 11639}
{:type :invoke, :f :read, :value nil, :process 10, :time 35269194206, :index 11646}
{:type :invoke, :f :cas, :value [0 1], :process 39, :time 35270029210, :index 11647}
{:type :invoke, :f :read, :value nil, :process 11, :time 35270294586, :index 11648}
{:type :fail, :f :read, :value nil, :process 10, :time 35271100741, :error :connect, :index 11649}
{:type :invoke, :f :read, :value nil, :process 32, :time 35271383172, :index 11650}
{:type :fail, :f :cas, :value [0 1], :process 39, :time 35272273294, :error :connect, :index 11651}
{:type :fail, :f :read, :value nil, :process 11, :time 35272372014, :error :connect, :index 11652}
{:type :fail, :f :read, :value nil, :process 32, :time 35272964735, :error :connect, :index 11653}
{:type :invoke, :f :read, :value nil, :process 34, :time 35360214798, :index 11676}
{:type :fail, :f :read, :value nil, :process 34, :time 35362208883, :error :connect, :index 11677}
{:type :invoke, :f :cas, :value [0 2], :process 36, :time 35370423525, :index 11682}
{:type :fail, :f :cas, :value [0 2], :process 36, :time 35372447159, :error :connect, :index 11683}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
