{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :invoke, :f :read, :value nil, :process 16, :time 13962291646, :index 2737}
{:type :ok, :f :read, :value nil, :process 16, :time 13967732582, :index 2740}
{:type :invoke, :f :read, :value nil, :process 33, :time 13969148110, :index 2741}
{:type :ok, :f :read, :value nil, :process 33, :time 13974491440, :index 2746}
{:type :invoke, :f :write, :value 1, :process 38, :time 13997745248, :index 2753}
{:type :ok, :f :write, :value 1, :process 38, :time 14002458076, :index 2756}
{:type :invoke, :f :write, :value 4, :process 12, :time 14003435055, :index 2757}
{:type :ok, :f :write, :value 4, :process 12, :time 14007384737, :index 2759}
{:type :invoke, :f :read, :value nil, :process 38, :time 14021719331, :index 2762}
{:type :ok, :f :read, :value 4, :process 38, :time 14026792551, :index 2763}
{:type :invoke, :f :read, :value nil, :process 12, :time 14107625369, :index 2782}
{:type :invoke, :f :write, :value 1, :process 31, :time 14108422481, :index 2783}
{:type :ok, :f :read, :value 4, :process 12, :time 14112955884, :index 2784}
{:type :invoke, :f :read, :value nil, :process 16, :time 14114984275, :index 2785}
{:type :invoke, :f :read, :value nil, :process 15, :time 14119532241, :index 2787}
{:type :ok, :f :read, :value 4, :process 15, :time 14124525784, :index 2790}
{:type :invoke, :f :write, :value 0, :process 17, :time 14126365979, :index 2791}
{:type :ok, :f :write, :value 0, :process 17, :time 14130857572, :index 2793}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 14136549542, :index 2795}
{:type :invoke, :f :write, :value 2, :process 38, :time 14139075124, :index 2797}
{:type :fail, :f :cas, :value [3 0], :process 10, :time 14142105142, :index 2799}
{:type :ok, :f :write, :value 2, :process 38, :time 14144780742, :index 2802}
{:type :invoke, :f :write, :value 0, :process 33, :time 14172812504, :index 2810}
{:type :invoke, :f :read, :value nil, :process 38, :time 14177042936, :index 2811}
{:type :ok, :f :write, :value 0, :process 33, :time 14177731112, :index 2812}
{:type :ok, :f :read, :value 0, :process 38, :time 14181929603, :index 2813}
{:type :invoke, :f :read, :value nil, :process 10, :time 14200298533, :index 2814}
{:type :ok, :f :read, :value 0, :process 10, :time 14205537427, :index 2816}
{:type :invoke, :f :write, :value 1, :process 19, :time 14209737028, :index 2818}
{:type :invoke, :f :cas, :value [0 4], :process 38, :time 14215204694, :index 2820}
{:type :ok, :f :write, :value 1, :process 19, :time 14223331145, :index 2821}
{:type :fail, :f :cas, :value [0 4], :process 38, :time 14224048458, :index 2823}
{:type :invoke, :f :write, :value 2, :process 14, :time 14228839196, :index 2826}
{:type :invoke, :f :write, :value 3, :process 10, :time 14233969909, :index 2831}
{:type :ok, :f :write, :value 2, :process 14, :time 14234520199, :index 2832}
{:type :invoke, :f :write, :value 2, :process 12, :time 14236217371, :index 2833}
{:type :invoke, :f :read, :value nil, :process 17, :time 14237141264, :index 2834}
{:type :ok, :f :write, :value 2, :process 12, :time 14241267354, :index 2838}
{:type :ok, :f :write, :value 3, :process 10, :time 14241715693, :index 2839}
{:type :ok, :f :read, :value 2, :process 17, :time 14241769509, :index 2840}
{:type :invoke, :f :cas, :value [4 3], :process 12, :time 14242516965, :index 2841}
{:type :fail, :f :cas, :value [4 3], :process 12, :time 14247366339, :index 2843}
{:type :invoke, :f :write, :value 4, :process 15, :time 14247788681, :index 2844}
{:type :invoke, :f :write, :value 1, :process 19, :time 14249611704, :index 2845}
{:type :ok, :f :write, :value 4, :process 15, :time 14252761387, :index 2846}
{:type :ok, :f :write, :value 1, :process 19, :time 14254664608, :index 2847}
{:type :invoke, :f :write, :value 1, :process 38, :time 14258282932, :index 2848}
{:type :ok, :f :write, :value 1, :process 38, :time 14264737915, :index 2850}
{:type :invoke, :f :cas, :value [3 2], :process 33, :time 14269992884, :index 2853}
{:type :fail, :f :cas, :value [3 2], :process 33, :time 14275420895, :index 2855}
{:type :invoke, :f :cas, :value [2 0], :process 17, :time 14297007834, :index 2860}
{:type :ok, :f :read, :value 1, :process 16, :time 14302546514, :index 2863}
{:type :ok, :f :write, :value 1, :process 31, :time 14302853694, :index 2865}
{:type :fail, :f :cas, :value [2 0], :process 17, :time 14303959014, :index 2867}
{:type :invoke, :f :write, :value 2, :process 19, :time 14320945070, :index 2870}
{:type :ok, :f :write, :value 2, :process 19, :time 14326598930, :index 2871}
{:type :invoke, :f :read, :value nil, :process 12, :time 14335646264, :index 2874}
{:type :ok, :f :read, :value 2, :process 12, :time 14340713606, :index 2876}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 14343940260, :index 2880}
{:type :invoke, :f :read, :value nil, :process 38, :time 14346025744, :index 2882}
{:type :fail, :f :cas, :value [1 2], :process 10, :time 14350481670, :index 2885}
{:type :ok, :f :read, :value 2, :process 38, :time 14351419392, :index 2887}
{:type :invoke, :f :read, :value nil, :process 19, :time 14392886885, :index 2892}
{:type :invoke, :f :write, :value 3, :process 17, :time 14394219960, :index 2893}
{:type :invoke, :f :read, :value nil, :process 10, :time 14394933270, :index 2894}
{:type :ok, :f :read, :value 2, :process 19, :time 14398328629, :index 2895}
{:type :ok, :f :write, :value 3, :process 17, :time 14398897106, :index 2896}
{:type :ok, :f :read, :value 3, :process 10, :time 14400936698, :index 2897}
{:type :invoke, :f :cas, :value [4 3], :process 14, :time 14413788037, :index 2898}
{:type :fail, :f :cas, :value [4 3], :process 14, :time 14419724573, :index 2900}
{:type :invoke, :f :read, :value nil, :process 15, :time 14420028413, :index 2901}
{:type :ok, :f :read, :value 3, :process 15, :time 14425119946, :index 2903}
{:type :invoke, :f :cas, :value [2 3], :process 10, :time 14441187100, :index 2907}
{:type :invoke, :f :write, :value 3, :process 16, :time 14443769697, :index 2908}
{:type :fail, :f :cas, :value [2 3], :process 10, :time 14446615104, :index 2911}
{:type :invoke, :f :read, :value nil, :process 31, :time 14447088452, :index 2912}
{:type :ok, :f :write, :value 3, :process 16, :time 14448664173, :index 2913}
{:type :ok, :f :read, :value 3, :process 31, :time 14452034369, :index 2915}
{:type :invoke, :f :read, :value nil, :process 38, :time 14456671434, :index 2918}
{:type :ok, :f :read, :value 3, :process 38, :time 14462100737, :index 2920}
{:type :invoke, :f :cas, :value [1 4], :process 33, :time 14463734590, :index 2923}
{:type :fail, :f :cas, :value [1 4], :process 33, :time 14469245759, :index 2925}
{:type :invoke, :f :write, :value 4, :process 10, :time 14490916125, :index 2932}
{:type :ok, :f :write, :value 4, :process 10, :time 14496528668, :index 2935}
{:type :invoke, :f :read, :value nil, :process 14, :time 14513005009, :index 2940}
{:type :ok, :f :read, :value 4, :process 14, :time 14519190208, :index 2943}
{:type :invoke, :f :write, :value 4, :process 33, :time 14526498991, :index 2946}
{:type :invoke, :f :write, :value 4, :process 10, :time 14527792675, :index 2947}
{:type :ok, :f :write, :value 4, :process 33, :time 14531286372, :index 2948}
{:type :ok, :f :write, :value 4, :process 10, :time 14532687957, :index 2949}
{:type :invoke, :f :read, :value nil, :process 38, :time 14533402710, :index 2950}
{:type :invoke, :f :write, :value 2, :process 19, :time 14533587595, :index 2952}
{:type :invoke, :f :write, :value 3, :process 12, :time 14534979138, :index 2953}
{:type :ok, :f :write, :value 3, :process 12, :time 14539588946, :index 2954}
{:type :ok, :f :read, :value 2, :process 38, :time 14539679510, :index 2955}
{:type :ok, :f :write, :value 2, :process 19, :time 14540498566, :index 2957}
{:type :invoke, :f :write, :value 3, :process 33, :time 14554562184, :index 2962}
{:type :ok, :f :write, :value 3, :process 33, :time 14559916434, :index 2963}
{:type :invoke, :f :cas, :value [3 0], :process 12, :time 14574882936, :index 2965}
{:type :ok, :f :cas, :value [3 0], :process 12, :time 14579479173, :index 2967}
{:type :invoke, :f :read, :value nil, :process 14, :time 14586393854, :index 2968}
{:type :invoke, :f :write, :value 2, :process 31, :time 14590288127, :index 2969}
{:type :invoke, :f :cas, :value [0 3], :process 17, :time 14591163421, :index 2970}
{:type :ok, :f :read, :value 0, :process 14, :time 14591406779, :index 2971}
{:type :ok, :f :write, :value 2, :process 31, :time 14595630726, :index 2972}
{:type :fail, :f :cas, :value [0 3], :process 17, :time 14596195049, :index 2973}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 14596382339, :index 2974}
{:type :invoke, :f :write, :value 1, :process 33, :time 14602185320, :index 2975}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 14602348871, :index 2976}
{:type :ok, :f :write, :value 1, :process 33, :time 14609233602, :index 2980}
{:type :invoke, :f :read, :value nil, :process 38, :time 14611927904, :index 2984}
{:type :ok, :f :read, :value 1, :process 38, :time 14616827489, :index 2988}
{:type :invoke, :f :cas, :value [3 1], :process 16, :time 14620926488, :index 2991}
{:type :fail, :f :cas, :value [3 1], :process 16, :time 14625880833, :index 2993}
{:type :invoke, :f :cas, :value [3 1], :process 16, :time 14632147087, :index 2994}
{:type :fail, :f :cas, :value [3 1], :process 16, :time 14637323463, :index 2995}
{:type :invoke, :f :write, :value 1, :process 38, :time 14639093909, :index 2996}
{:type :invoke, :f :cas, :value [2 3], :process 17, :time 14640436817, :index 2997}
{:type :ok, :f :write, :value 1, :process 38, :time 14644711758, :index 2998}
{:type :fail, :f :cas, :value [2 3], :process 17, :time 14645227600, :index 2999}
{:type :invoke, :f :read, :value nil, :process 14, :time 14645647627, :index 3000}
{:type :invoke, :f :write, :value 1, :process 10, :time 14646003490, :index 3001}
{:type :ok, :f :read, :value 1, :process 14, :time 14650494679, :index 3003}
{:type :ok, :f :write, :value 1, :process 10, :time 14652477138, :index 3005}
{:type :invoke, :f :write, :value 1, :process 16, :time 14660584064, :index 3008}
{:type :ok, :f :write, :value 1, :process 16, :time 14665532191, :index 3010}
{:type :invoke, :f :cas, :value [3 0], :process 19, :time 14682748474, :index 3012}
{:type :fail, :f :cas, :value [3 0], :process 19, :time 14689125585, :index 3013}
{:type :invoke, :f :read, :value nil, :process 19, :time 14720380835, :index 3019}
{:type :invoke, :f :write, :value 4, :process 31, :time 14720956729, :index 3020}
{:type :ok, :f :read, :value 1, :process 19, :time 14725809711, :index 3022}
{:type :ok, :f :write, :value 4, :process 31, :time 14725942069, :index 3023}
{:type :invoke, :f :write, :value 3, :process 14, :time 14750759221, :index 3027}
{:type :ok, :f :write, :value 3, :process 14, :time 14756650604, :index 3031}
{:type :invoke, :f :cas, :value [4 3], :process 33, :time 14766476209, :index 3034}
{:type :invoke, :f :read, :value nil, :process 16, :time 14769774575, :index 3035}
{:type :invoke, :f :read, :value nil, :process 12, :time 14770743907, :index 3036}
{:type :fail, :f :cas, :value [4 3], :process 33, :time 14772204694, :index 3037}
{:type :ok, :f :read, :value 3, :process 12, :time 14775115792, :index 3038}
{:type :ok, :f :read, :value 3, :process 16, :time 14775285877, :index 3039}
{:type :invoke, :f :write, :value 4, :process 19, :time 14778099202, :index 3040}
{:type :invoke, :f :write, :value 1, :process 16, :time 14781532535, :index 3043}
{:type :ok, :f :write, :value 4, :process 19, :time 14783164178, :index 3044}
{:type :ok, :f :write, :value 1, :process 16, :time 14787361482, :index 3047}
{:type :invoke, :f :write, :value 3, :process 15, :time 14799600203, :index 3052}
{:type :ok, :f :write, :value 3, :process 15, :time 14805281077, :index 3057}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 14812736716, :index 3061}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 14818232912, :index 3063}
{:type :invoke, :f :cas, :value [1 0], :process 38, :time 14820015360, :index 3066}
{:type :fail, :f :cas, :value [1 0], :process 38, :time 14826920887, :index 3069}
{:type :invoke, :f :write, :value 3, :process 16, :time 14833902706, :index 3071}
{:type :invoke, :f :cas, :value [0 3], :process 17, :time 14836469862, :index 3073}
{:type :ok, :f :write, :value 3, :process 16, :time 14839144163, :index 3074}
{:type :fail, :f :cas, :value [0 3], :process 17, :time 14841158713, :index 3075}
{:type :invoke, :f :write, :value 4, :process 33, :time 14841466974, :index 3076}
{:type :invoke, :f :cas, :value [4 4], :process 31, :time 14843199240, :index 3077}
{:type :ok, :f :write, :value 4, :process 33, :time 14847012517, :index 3078}
{:type :ok, :f :cas, :value [4 4], :process 31, :time 14848157921, :index 3080}
{:type :invoke, :f :read, :value nil, :process 19, :time 14852440627, :index 3081}
{:type :invoke, :f :cas, :value [3 2], :process 14, :time 14853943032, :index 3083}
{:type :ok, :f :read, :value 4, :process 19, :time 14859680909, :index 3084}
{:type :fail, :f :cas, :value [3 2], :process 14, :time 14860011523, :index 3085}
{:type :invoke, :f :cas, :value [4 2], :process 33, :time 14897381268, :index 3087}
{:type :ok, :f :cas, :value [4 2], :process 33, :time 14903559605, :index 3089}
{:type :invoke, :f :write, :value 4, :process 12, :time 14911404692, :index 3093}
{:type :invoke, :f :cas, :value [1 4], :process 16, :time 14914406389, :index 3095}
{:type :ok, :f :write, :value 4, :process 12, :time 14915950289, :index 3096}
{:type :invoke, :f :write, :value 3, :process 19, :time 14916950229, :index 3097}
{:type :fail, :f :cas, :value [1 4], :process 16, :time 14919936001, :index 3098}
{:type :ok, :f :write, :value 3, :process 19, :time 14922196816, :index 3100}
{:type :invoke, :f :read, :value nil, :process 31, :time 14930411455, :index 3104}
{:type :invoke, :f :read, :value nil, :process 15, :time 14930518049, :index 3105}
{:type :ok, :f :read, :value 3, :process 31, :time 14935888511, :index 3106}
{:type :ok, :f :read, :value 3, :process 15, :time 14937533802, :index 3107}
{:type :invoke, :f :cas, :value [2 1], :process 16, :time 14941193392, :index 3108}
{:type :invoke, :f :write, :value 1, :process 19, :time 14943440288, :index 3109}
{:type :fail, :f :cas, :value [2 1], :process 16, :time 14946396609, :index 3110}
{:type :invoke, :f :cas, :value [3 4], :process 10, :time 14947499519, :index 3111}
{:type :ok, :f :write, :value 1, :process 19, :time 14948748531, :index 3112}
{:type :invoke, :f :write, :value 4, :process 38, :time 14952252616, :index 3114}
{:type :fail, :f :cas, :value [3 4], :process 10, :time 14953201603, :index 3115}
{:type :ok, :f :write, :value 4, :process 38, :time 14957731202, :index 3117}
{:type :invoke, :f :read, :value nil, :process 19, :time 14997003780, :index 3126}
{:type :invoke, :f :cas, :value [0 3], :process 12, :time 15000212707, :index 3129}
{:type :ok, :f :read, :value 4, :process 19, :time 15003086570, :index 3131}
{:type :fail, :f :cas, :value [0 3], :process 12, :time 15005070841, :index 3133}
{:type :invoke, :f :read, :value nil, :process 17, :time 15015467235, :index 3135}
{:type :ok, :f :read, :value 4, :process 17, :time 15020369430, :index 3136}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 15021801007, :index 3138}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 15027128697, :index 3140}
{:type :invoke, :f :write, :value 0, :process 16, :time 15028661418, :index 3141}
{:type :ok, :f :write, :value 0, :process 16, :time 15034135022, :index 3143}
{:type :invoke, :f :cas, :value [1 3], :process 14, :time 15047264471, :index 3145}
{:type :invoke, :f :write, :value 1, :process 10, :time 15049465258, :index 3147}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 15052797973, :index 3150}
{:type :fail, :f :cas, :value [1 3], :process 14, :time 15053839620, :index 3151}
{:type :ok, :f :write, :value 1, :process 10, :time 15054972745, :index 3154}
{:type :ok, :f :cas, :value [1 3], :process 15, :time 15058613321, :index 3157}
{:type :invoke, :f :cas, :value [3 1], :process 31, :time 15095153577, :index 3169}
{:type :ok, :f :cas, :value [3 1], :process 31, :time 15100233033, :index 3174}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
