{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :invoke, :f :read, :value nil, :process 1, :time 19461348909, :index 3968}
{:type :ok, :f :read, :value nil, :process 1, :time 19466951895, :index 3969}
{:type :invoke, :f :read, :value nil, :process 6, :time 19474183614, :index 3971}
{:type :ok, :f :read, :value nil, :process 6, :time 19480875526, :index 3973}
{:type :invoke, :f :write, :value 1, :process 4, :time 19489457379, :index 3976}
{:type :ok, :f :write, :value 1, :process 4, :time 19494307526, :index 3977}
{:type :invoke, :f :write, :value 3, :process 9, :time 19503236466, :index 3978}
{:type :ok, :f :write, :value 3, :process 9, :time 19508713692, :index 3979}
{:type :invoke, :f :write, :value 4, :process 3, :time 19520409876, :index 3980}
{:type :ok, :f :write, :value 4, :process 3, :time 19525256612, :index 3982}
{:type :invoke, :f :write, :value 4, :process 4, :time 19541564381, :index 3984}
{:type :ok, :f :write, :value 4, :process 4, :time 19546757879, :index 3985}
{:type :invoke, :f :read, :value nil, :process 4, :time 19575021191, :index 3988}
{:type :ok, :f :read, :value 4, :process 4, :time 19580953334, :index 3989}
{:type :invoke, :f :cas, :value [1 4], :process 1, :time 19590203876, :index 3990}
{:type :fail, :f :cas, :value [1 4], :process 1, :time 19595903855, :index 3991}
{:type :invoke, :f :read, :value nil, :process 8, :time 19609735616, :index 3995}
{:type :ok, :f :read, :value 4, :process 8, :time 19614014373, :index 3998}
{:type :invoke, :f :read, :value nil, :process 3, :time 19646512736, :index 4002}
{:type :ok, :f :read, :value 4, :process 3, :time 19651827853, :index 4003}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 19656162694, :index 4004}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 19661662237, :index 4005}
{:type :invoke, :f :read, :value nil, :process 9, :time 19704987624, :index 4010}
{:type :ok, :f :read, :value 4, :process 9, :time 19710687531, :index 4012}
{:type :invoke, :f :read, :value nil, :process 8, :time 19717274060, :index 4016}
{:type :invoke, :f :read, :value nil, :process 6, :time 19719950945, :index 4017}
{:type :ok, :f :read, :value 4, :process 8, :time 19722584201, :index 4018}
{:type :ok, :f :read, :value 4, :process 6, :time 19724916559, :index 4019}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 19724851518, :index 4020}
{:type :invoke, :f :write, :value 0, :process 6, :time 19726149908, :index 4021}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 19730380659, :index 4023}
{:type :ok, :f :write, :value 0, :process 6, :time 19730981035, :index 4024}
{:type :invoke, :f :read, :value nil, :process 9, :time 19739595190, :index 4026}
{:type :invoke, :f :write, :value 1, :process 3, :time 19742089812, :index 4027}
{:type :ok, :f :read, :value 0, :process 9, :time 19744904507, :index 4029}
{:type :ok, :f :write, :value 1, :process 3, :time 19747013558, :index 4030}
{:type :invoke, :f :write, :value 3, :process 4, :time 19747217466, :index 4031}
{:type :ok, :f :write, :value 3, :process 4, :time 19752545654, :index 4033}
{:type :invoke, :f :write, :value 0, :process 1, :time 19767162189, :index 4034}
{:type :ok, :f :write, :value 0, :process 1, :time 19773190980, :index 4035}
{:type :invoke, :f :cas, :value [3 1], :process 9, :time 19808162997, :index 4042}
{:type :fail, :f :cas, :value [3 1], :process 9, :time 19813568012, :index 4043}
{:type :invoke, :f :write, :value 1, :process 8, :time 19817647697, :index 4045}
{:type :invoke, :f :write, :value 1, :process 9, :time 19818837985, :index 4046}
{:type :ok, :f :write, :value 1, :process 8, :time 19821826604, :index 4048}
{:type :ok, :f :write, :value 1, :process 9, :time 19824063937, :index 4050}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 19825269747, :index 4051}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 19831098635, :index 4053}
{:type :invoke, :f :write, :value 0, :process 6, :time 19874224281, :index 4062}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 19928825708, :index 4063}
{:type :invoke, :f :write, :value 2, :process 1, :time 19932456697, :index 4064}
{:type :invoke, :f :write, :value 4, :process 8, :time 19949081140, :index 4066}
{:type :invoke, :f :cas, :value [1 2], :process 9, :time 19968335533, :index 4070}
{:type :invoke, :f :read, :value nil, :process 3, :time 19981361366, :index 4071}
{:type :ok, :f :write, :value 0, :process 6, :time 20185407422, :index 4074}
{:type :invoke, :f :write, :value 3, :process 6, :time 20247776162, :index 4075}
{:type :ok, :f :read, :value 4, :process 3, :time 20443798637, :index 4077}
{:type :ok, :f :write, :value 4, :process 8, :time 20444077183, :index 4079}
{:type :ok, :f :write, :value 2, :process 1, :time 20444385636, :index 4080}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 20445343806, :index 4082}
{:type :ok, :f :write, :value 3, :process 6, :time 20446665670, :index 4086}
{:type :invoke, :f :write, :value 0, :process 8, :time 20446744341, :index 4087}
{:type :fail, :f :cas, :value [1 2], :process 9, :time 20447757957, :index 4088}
{:type :ok, :f :write, :value 0, :process 8, :time 20451891436, :index 4089}
{:type :invoke, :f :read, :value nil, :process 9, :time 20561035892, :index 4094}
{:type :ok, :f :read, :value 0, :process 9, :time 20568317478, :index 4097}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 20578896703, :index 4100}
{:type :ok, :f :cas, :value [0 4], :process 6, :time 20583871434, :index 4101}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 20585645844, :index 4102}
{:type :ok, :f :cas, :value [4 3], :process 4, :time 20590944741, :index 4103}
{:type :invoke, :f :read, :value nil, :process 8, :time 20591143976, :index 4104}
{:type :ok, :f :read, :value 3, :process 8, :time 20596203616, :index 4105}
{:type :invoke, :f :cas, :value [3 1], :process 1, :time 20597637901, :index 4106}
{:type :invoke, :f :read, :value nil, :process 3, :time 20600033568, :index 4107}
{:type :ok, :f :cas, :value [3 1], :process 1, :time 20602678095, :index 4109}
{:type :ok, :f :read, :value 1, :process 3, :time 20604513721, :index 4110}
{:type :invoke, :f :write, :value 4, :process 3, :time 20606770872, :index 4112}
{:type :ok, :f :write, :value 4, :process 3, :time 20611073714, :index 4113}
{:type :invoke, :f :read, :value nil, :process 3, :time 20629339251, :index 4116}
{:type :ok, :f :read, :value 4, :process 3, :time 20633972321, :index 4117}
{:type :invoke, :f :cas, :value [2 2], :process 1, :time 20656955186, :index 4121}
{:type :invoke, :f :write, :value 3, :process 9, :time 20657569406, :index 4122}
{:type :fail, :f :cas, :value [2 2], :process 1, :time 20662592841, :index 4124}
{:type :ok, :f :write, :value 3, :process 9, :time 20663002255, :index 4125}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 20700231393, :index 4128}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 20705819519, :index 4130}
{:type :invoke, :f :read, :value nil, :process 4, :time 20740213861, :index 4134}
{:type :ok, :f :read, :value 3, :process 4, :time 20745558613, :index 4135}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 20752072759, :index 4136}
{:type :invoke, :f :write, :value 0, :process 6, :time 20757136459, :index 4137}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 20758010936, :index 4138}
{:type :invoke, :f :read, :value nil, :process 8, :time 20758469496, :index 4139}
{:type :ok, :f :write, :value 0, :process 6, :time 20762723692, :index 4141}
{:type :ok, :f :read, :value 0, :process 8, :time 20763075851, :index 4142}
{:type :invoke, :f :write, :value 2, :process 1, :time 20776842787, :index 4144}
{:type :ok, :f :write, :value 2, :process 1, :time 20782605244, :index 4145}
{:type :invoke, :f :read, :value nil, :process 9, :time 20788274707, :index 4146}
{:type :ok, :f :read, :value 2, :process 9, :time 20793896274, :index 4149}
{:type :invoke, :f :read, :value nil, :process 3, :time 20800268622, :index 4153}
{:type :ok, :f :read, :value 2, :process 3, :time 20805284162, :index 4155}
{:type :invoke, :f :cas, :value [3 2], :process 1, :time 20819865006, :index 4156}
{:type :fail, :f :cas, :value [3 2], :process 1, :time 20825292262, :index 4157}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 20870534770, :index 4164}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 20875011991, :index 4167}
{:type :invoke, :f :write, :value 3, :process 4, :time 20875818265, :index 4168}
{:type :ok, :f :write, :value 3, :process 4, :time 20880775756, :index 4170}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 20889554445, :index 4173}
{:type :invoke, :f :cas, :value [1 4], :process 9, :time 20891197591, :index 4174}
{:type :fail, :f :cas, :value [1 2], :process 1, :time 20894844148, :index 4176}
{:type :invoke, :f :write, :value 1, :process 8, :time 20896323019, :index 4177}
{:type :fail, :f :cas, :value [1 4], :process 9, :time 20899171477, :index 4180}
{:type :ok, :f :write, :value 1, :process 8, :time 20901040455, :index 4181}
{:type :invoke, :f :write, :value 0, :process 20, :time 20905189947, :index 4183}
{:type :invoke, :f :write, :value 0, :process 8, :time 20910289953, :index 4184}
{:type :ok, :f :write, :value 0, :process 8, :time 20915521648, :index 4186}
{:type :invoke, :f :write, :value 1, :process 6, :time 20919993180, :index 4189}
{:type :ok, :f :write, :value 1, :process 6, :time 20925122392, :index 4190}
{:type :invoke, :f :write, :value 2, :process 9, :time 20932433766, :index 4193}
{:type :invoke, :f :cas, :value [1 4], :process 8, :time 20932796773, :index 4194}
{:type :ok, :f :write, :value 2, :process 9, :time 20938066917, :index 4197}
{:type :fail, :f :cas, :value [1 4], :process 8, :time 20938428759, :index 4198}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :invoke, :f :cas, :value [0 1], :process 8, :time 20946716234, :index 4200}
{:type :fail, :f :cas, :value [0 1], :process 8, :time 20951830522, :index 4203}
{:type :invoke, :f :cas, :value [4 1], :process 27, :time 20975810832, :index 4207}
{:type :invoke, :f :read, :value nil, :process 25, :time 20992940892, :index 4209}
{:type :invoke, :f :write, :value 4, :process 4, :time 21004050334, :index 4213}
{:type :invoke, :f :read, :value nil, :process 8, :time 21005104954, :index 4214}
{:type :ok, :f :write, :value 4, :process 4, :time 21009137459, :index 4217}
{:type :ok, :f :read, :value 4, :process 8, :time 21009752320, :index 4218}
{:type :invoke, :f :write, :value 3, :process 3, :time 21017272257, :index 4221}
{:type :ok, :f :write, :value 3, :process 3, :time 21021709499, :index 4223}
{:type :invoke, :f :write, :value 4, :process 9, :time 21040328415, :index 4227}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 21042385274, :index 4228}
{:type :ok, :f :write, :value 4, :process 9, :time 21045797062, :index 4229}
{:type :fail, :f :cas, :value [2 2], :process 6, :time 21047769648, :index 4230}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 21050030664, :index 4231}
{:type :ok, :f :cas, :value [4 4], :process 6, :time 21054964701, :index 4232}
{:type :invoke, :f :read, :value nil, :process 1, :time 21055101275, :index 4233}
{:type :invoke, :f :read, :value nil, :process 8, :time 21060257832, :index 4235}
{:type :ok, :f :read, :value 4, :process 1, :time 21060389219, :index 4236}
{:type :ok, :f :read, :value 4, :process 8, :time 21065250221, :index 4238}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 21075396898, :index 4239}
{:type :invoke, :f :read, :value nil, :process 42, :time 21079948980, :index 4240}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 21081387099, :index 4242}
{:type :invoke, :f :cas, :value [0 2], :process 3, :time 21092965786, :index 4245}
{:type :fail, :f :cas, :value [0 2], :process 3, :time 21097607828, :index 4246}
{:type :invoke, :f :read, :value nil, :process 3, :time 21103859117, :index 4247}
{:type :ok, :f :read, :value 4, :process 3, :time 21108657580, :index 4249}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 21132654489, :index 4255}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 21138725041, :index 4256}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :invoke, :f :read, :value nil, :process 3, :time 21170927472, :index 4261}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 21175506061, :index 4263}
{:type :ok, :f :read, :value 4, :process 3, :time 21176030516, :index 4264}
{:type :invoke, :f :cas, :value [1 4], :process 9, :time 21176171505, :index 4265}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 21180931578, :index 4266}
{:type :fail, :f :cas, :value [1 4], :process 9, :time 21181677411, :index 4267}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 21183273149, :index 4268}
{:type :fail, :f :cas, :value [1 2], :process 3, :time 21188153538, :index 4269}
{:type :invoke, :f :read, :value nil, :process 1, :time 21200648729, :index 4275}
{:type :invoke, :f :write, :value 0, :process 6, :time 21201323090, :index 4276}
{:type :ok, :f :read, :value 4, :process 1, :time 21205944047, :index 4278}
{:type :ok, :f :write, :value 0, :process 6, :time 21206680515, :index 4279}
{:type :invoke, :f :cas, :value [0 2], :process 6, :time 21213930729, :index 4280}
{:type :ok, :f :cas, :value [0 2], :process 6, :time 21220793242, :index 4281}
{:type :invoke, :f :cas, :value [0 2], :process 6, :time 21224064398, :index 4282}
{:type :fail, :f :cas, :value [0 2], :process 6, :time 21229791098, :index 4283}
{:type :invoke, :f :write, :value 1, :process 4, :time 21241993878, :index 4284}
{:type :ok, :f :write, :value 1, :process 4, :time 21247632074, :index 4287}
{:type :invoke, :f :write, :value 2, :process 1, :time 21260196201, :index 4292}
{:type :ok, :f :write, :value 2, :process 1, :time 21265642865, :index 4293}
{:type :invoke, :f :write, :value 3, :process 9, :time 21288928804, :index 4299}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 21291894256, :index 4301}
{:type :ok, :f :write, :value 3, :process 9, :time 21293257277, :index 4302}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 21297113791, :index 4303}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 21306187497, :index 4304}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 21310924359, :index 4305}
{:type :invoke, :f :read, :value nil, :process 1, :time 21319920569, :index 4306}
{:type :ok, :f :read, :value 3, :process 1, :time 21324791095, :index 4308}
{:type :invoke, :f :cas, :value [4 2], :process 8, :time 21342180987, :index 4310}
{:type :fail, :f :cas, :value [4 2], :process 8, :time 21347515076, :index 4311}
{:type :invoke, :f :read, :value nil, :process 4, :time 21358368235, :index 4315}
{:type :ok, :f :read, :value 3, :process 4, :time 21363032370, :index 4318}
{:type :invoke, :f :write, :value 2, :process 4, :time 21382273743, :index 4321}
{:type :invoke, :f :write, :value 4, :process 3, :time 21382429797, :index 4322}
{:type :invoke, :f :write, :value 2, :process 9, :time 21386571144, :index 4323}
{:type :ok, :f :write, :value 4, :process 3, :time 21387374715, :index 4325}
{:type :ok, :f :write, :value 2, :process 4, :time 21388190453, :index 4326}
{:type :ok, :f :write, :value 2, :process 9, :time 21392307441, :index 4327}
{:type :invoke, :f :write, :value 3, :process 1, :time 21404052546, :index 4330}
{:type :ok, :f :write, :value 3, :process 1, :time 21408699250, :index 4331}
{:type :invoke, :f :write, :value 2, :process 6, :time 21420044759, :index 4332}
{:type :ok, :f :write, :value 2, :process 6, :time 21425510987, :index 4333}
{:type :invoke, :f :cas, :value [0 3], :process 8, :time 21426787477, :index 4335}
{:type :fail, :f :cas, :value [0 3], :process 8, :time 21432418153, :index 4337}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 21540609953, :index 4352}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 21545084383, :index 4356}
{:type :ok, :f :read, :value 2, :process 42, :time 23142535331, :index 4477}
{:type :ok, :f :write, :value 0, :process 20, :time 23143284560, :index 4479}
{:type :fail, :f :cas, :value [4 1], :process 27, :time 23143363627, :index 4480}
{:type :ok, :f :read, :value 0, :process 25, :time 23144170753, :index 4484}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
