{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :invoke, :f :cas, :value [1 1], :process 6, :time 51258917269, :index 17941}
{:type :fail, :f :cas, :value [1 1], :process 6, :time 51260763541, :error :connect, :index 17943}
{:type :invoke, :f :write, :value 4, :process 4, :time 51266364215, :index 17944}
{:type :fail, :f :write, :value 4, :process 4, :time 51268166597, :error :connect, :index 17945}
{:type :invoke, :f :cas, :value [1 0], :process 5, :time 51271495488, :index 17947}
{:type :fail, :f :cas, :value [1 0], :process 5, :time 51273408359, :error :connect, :index 17949}
{:type :invoke, :f :write, :value 3, :process 3, :time 51282039627, :index 17952}
{:type :fail, :f :write, :value 3, :process 3, :time 51283638663, :error :connect, :index 17953}
{:type :invoke, :f :read, :value nil, :process 3, :time 51302917454, :index 17962}
{:type :fail, :f :read, :value nil, :process 3, :time 51304909101, :error :connect, :index 17964}
{:type :invoke, :f :read, :value nil, :process 5, :time 51334648023, :index 17972}
{:type :fail, :f :read, :value nil, :process 5, :time 51336450356, :error :connect, :index 17973}
{:type :invoke, :f :write, :value 1, :process 0, :time 51414459960, :index 18000}
{:type :fail, :f :write, :value 1, :process 0, :time 51416653084, :error :connect, :index 18002}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 51437041237, :index 18008}
{:type :invoke, :f :cas, :value [1 3], :process 5, :time 51437713231, :index 18009}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 51438899544, :error :connect, :index 18010}
{:type :invoke, :f :read, :value nil, :process 6, :time 51439034416, :index 18011}
{:type :fail, :f :cas, :value [1 3], :process 5, :time 51439371776, :error :connect, :index 18012}
{:type :fail, :f :read, :value nil, :process 6, :time 51441027724, :error :connect, :index 18013}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 51447424065, :index 18014}
{:type :invoke, :f :write, :value 1, :process 21, :time 51448861362, :index 18016}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 51449309650, :error :connect, :index 18017}
{:type :fail, :f :write, :value 1, :process 21, :time 51451013550, :error :connect, :index 18019}
{:type :invoke, :f :cas, :value [4 0], :process 7, :time 51475913085, :index 18024}
{:type :fail, :f :cas, :value [4 0], :process 7, :time 51477601401, :error :connect, :index 18025}
{:type :invoke, :f :read, :value nil, :process 5, :time 51487620137, :index 18026}
{:type :invoke, :f :write, :value 1, :process 3, :time 51488196515, :index 18027}
{:type :invoke, :f :read, :value nil, :process 8, :time 51488412367, :index 18028}
{:type :fail, :f :read, :value nil, :process 5, :time 51489274622, :error :connect, :index 18029}
{:type :fail, :f :write, :value 1, :process 3, :time 51490038574, :error :connect, :index 18030}
{:type :fail, :f :read, :value nil, :process 8, :time 51490309467, :error :connect, :index 18031}
{:type :invoke, :f :read, :value nil, :process 5, :time 51509539046, :index 18044}
{:type :fail, :f :read, :value nil, :process 5, :time 51511541507, :error :connect, :index 18045}
{:type :invoke, :f :cas, :value [4 2], :process 29, :time 51521255067, :index 18048}
{:type :fail, :f :cas, :value [4 2], :process 29, :time 51523466768, :error :connect, :index 18050}
{:type :invoke, :f :read, :value nil, :process 21, :time 51534261944, :index 18052}
{:type :fail, :f :read, :value nil, :process 21, :time 51536167753, :error :connect, :index 18053}
{:type :invoke, :f :cas, :value [4 2], :process 22, :time 51542175805, :index 18055}
{:type :fail, :f :cas, :value [4 2], :process 22, :time 51544264434, :error :connect, :index 18057}
{:type :invoke, :f :read, :value nil, :process 21, :time 51544419631, :index 18058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :fail, :f :read, :value nil, :process 21, :time 51546214621, :error :connect, :index 18060}
{:type :invoke, :f :read, :value nil, :process 8, :time 51559543212, :index 18061}
{:type :fail, :f :read, :value nil, :process 8, :time 51561412333, :error :connect, :index 18062}
{:type :invoke, :f :read, :value nil, :process 5, :time 51566808828, :index 18063}
{:type :fail, :f :read, :value nil, :process 5, :time 51568636778, :error :connect, :index 18064}
{:type :invoke, :f :read, :value nil, :process 3, :time 51581294299, :index 18069}
{:type :fail, :f :read, :value nil, :process 3, :time 51583207882, :error :connect, :index 18070}
{:type :invoke, :f :read, :value nil, :process 0, :time 51586927687, :index 18072}
{:type :fail, :f :read, :value nil, :process 0, :time 51588813247, :error :connect, :index 18074}
{:type :invoke, :f :write, :value 3, :process 6, :time 51590290895, :index 18075}
{:type :fail, :f :write, :value 3, :process 6, :time 51592415738, :error :connect, :index 18076}
{:type :invoke, :f :write, :value 4, :process 7, :time 51607865360, :index 18079}
{:type :fail, :f :write, :value 4, :process 7, :time 51609670483, :error :connect, :index 18080}
{:type :invoke, :f :read, :value nil, :process 4, :time 51621569772, :index 18085}
{:type :invoke, :f :read, :value nil, :process 8, :time 51622685177, :index 18086}
{:type :fail, :f :read, :value nil, :process 4, :time 51623376136, :error :connect, :index 18087}
{:type :fail, :f :read, :value nil, :process 8, :time 51624783059, :error :connect, :index 18088}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 51643063980, :index 18090}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 51644898168, :error :connect, :index 18093}
{:type :invoke, :f :read, :value nil, :process 4, :time 51660228792, :index 18095}
{:type :invoke, :f :read, :value nil, :process 29, :time 51661061359, :index 18098}
{:type :fail, :f :read, :value nil, :process 4, :time 51662503310, :error :connect, :index 18099}
{:type :fail, :f :read, :value nil, :process 29, :time 51662803765, :error :connect, :index 18101}
{:type :invoke, :f :read, :value nil, :process 22, :time 51673071363, :index 18103}
{:type :fail, :f :read, :value nil, :process 22, :time 51674875448, :error :connect, :index 18104}
{:type :invoke, :f :read, :value nil, :process 5, :time 51688913782, :index 18107}
{:type :invoke, :f :write, :value 3, :process 0, :time 51690164835, :index 18108}
{:type :fail, :f :read, :value nil, :process 5, :time 51690842915, :error :connect, :index 18109}
{:type :fail, :f :write, :value 3, :process 0, :time 51692051571, :error :connect, :index 18111}
{:type :invoke, :f :write, :value 4, :process 7, :time 51717931397, :index 18121}
{:type :fail, :f :write, :value 4, :process 7, :time 51719781200, :error :connect, :index 18123}
{:type :invoke, :f :write, :value 0, :process 21, :time 51723503703, :index 18125}
{:type :fail, :f :write, :value 0, :process 21, :time 51725326539, :error :connect, :index 18126}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 51732470592, :index 18127}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 51734538745, :error :connect, :index 18128}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 51750735483, :index 18135}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 51752489380, :error :connect, :index 18136}
{:type :invoke, :f :read, :value nil, :process 5, :time 51756100660, :index 18137}
{:type :fail, :f :read, :value nil, :process 5, :time 51757916881, :error :connect, :index 18138}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :invoke, :f :read, :value nil, :process 7, :time 51770044637, :index 18140}
{:type :fail, :f :read, :value nil, :process 7, :time 51772188934, :error :connect, :index 18142}
{:type :invoke, :f :read, :value nil, :process 6, :time 51772682160, :index 18143}
{:type :fail, :f :read, :value nil, :process 6, :time 51774479513, :error :connect, :index 18145}
{:type :invoke, :f :write, :value 3, :process 4, :time 51782764427, :index 18146}
{:type :fail, :f :write, :value 3, :process 4, :time 51784867778, :error :connect, :index 18147}
{:type :invoke, :f :cas, :value [1 4], :process 22, :time 51792194402, :index 18149}
{:type :fail, :f :cas, :value [1 4], :process 22, :time 51794077172, :error :connect, :index 18152}
{:type :invoke, :f :write, :value 4, :process 3, :time 51803807005, :index 18156}
{:type :fail, :f :write, :value 4, :process 3, :time 51805479974, :error :connect, :index 18157}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 51812122718, :index 18158}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 51814119604, :error :connect, :index 18160}
{:type :invoke, :f :read, :value nil, :process 8, :time 51816040552, :index 18163}
{:type :fail, :f :read, :value nil, :process 8, :time 51818143939, :error :connect, :index 18166}
{:type :invoke, :f :cas, :value [0 3], :process 21, :time 51822598905, :index 18168}
{:type :fail, :f :cas, :value [0 3], :process 21, :time 51824399238, :error :connect, :index 18169}
{:type :invoke, :f :read, :value nil, :process 4, :time 51831391638, :index 18170}
{:type :fail, :f :read, :value nil, :process 4, :time 51833358049, :error :connect, :index 18171}
{:type :invoke, :f :read, :value nil, :process 0, :time 51834289761, :index 18172}
{:type :fail, :f :read, :value nil, :process 0, :time 51836319837, :error :connect, :index 18173}
{:type :invoke, :f :read, :value nil, :process 29, :time 51854113397, :index 18182}
{:type :fail, :f :read, :value nil, :process 29, :time 51855870689, :error :connect, :index 18183}
{:type :invoke, :f :read, :value nil, :process 4, :time 51889616286, :index 18188}
{:type :fail, :f :read, :value nil, :process 4, :time 51891146360, :error :connect, :index 18189}
{:type :invoke, :f :read, :value nil, :process 5, :time 51901182971, :index 18193}
{:type :fail, :f :read, :value nil, :process 5, :time 51903249824, :error :connect, :index 18195}
{:type :invoke, :f :write, :value 0, :process 5, :time 51908506671, :index 18201}
{:type :fail, :f :write, :value 0, :process 5, :time 51910053257, :error :connect, :index 18203}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 51917456414, :index 18205}
{:type :fail, :f :cas, :value [1 3], :process 7, :time 51919445055, :error :connect, :index 18207}
{:type :invoke, :f :write, :value 4, :process 7, :time 51930704755, :index 18210}
{:type :fail, :f :write, :value 4, :process 7, :time 51932462235, :error :connect, :index 18211}
{:type :invoke, :f :cas, :value [4 0], :process 21, :time 51936672520, :index 18212}
{:type :invoke, :f :read, :value nil, :process 3, :time 51936746561, :index 18213}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 51937737823, :index 18214}
{:type :fail, :f :cas, :value [4 0], :process 21, :time 51938828834, :error :connect, :index 18216}
{:type :fail, :f :read, :value nil, :process 3, :time 51938872558, :error :connect, :index 18217}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 51939751124, :error :connect, :index 18218}
{:type :invoke, :f :cas, :value [4 1], :process 22, :time 51942350146, :index 18222}
{:type :fail, :f :cas, :value [4 1], :process 22, :time 51944242662, :error :connect, :index 18223}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 51964136695, :index 18224}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 51965862560, :error :connect, :index 18225}
{:type :invoke, :f :read, :value nil, :process 6, :time 51986039212, :index 18228}
{:type :fail, :f :read, :value nil, :process 6, :time 51987961221, :error :connect, :index 18229}
{:type :invoke, :f :write, :value 2, :process 8, :time 51995389109, :index 18231}
{:type :fail, :f :write, :value 2, :process 8, :time 51997408389, :error :connect, :index 18233}
{:type :invoke, :f :read, :value nil, :process 22, :time 52017523044, :index 18239}
{:type :fail, :f :read, :value nil, :process 22, :time 52019465585, :error :connect, :index 18241}
{:type :invoke, :f :write, :value 0, :process 0, :time 52024580202, :index 18242}
{:type :fail, :f :write, :value 0, :process 0, :time 52026409379, :error :connect, :index 18243}
{:type :invoke, :f :cas, :value [2 0], :process 29, :time 52028171543, :index 18244}
{:type :fail, :f :cas, :value [2 0], :process 29, :time 52030187750, :error :connect, :index 18245}
{:type :invoke, :f :cas, :value [4 1], :process 5, :time 52031287283, :index 18246}
{:type :fail, :f :cas, :value [4 1], :process 5, :time 52033275895, :error :connect, :index 18247}
{:type :invoke, :f :cas, :value [2 3], :process 22, :time 52036717449, :index 18248}
{:type :fail, :f :cas, :value [2 3], :process 22, :time 52038538797, :error :connect, :index 18249}
{:type :invoke, :f :cas, :value [4 4], :process 4, :time 52052409286, :index 18252}
{:type :fail, :f :cas, :value [4 4], :process 4, :time 52054377091, :error :connect, :index 18255}
{:type :invoke, :f :read, :value nil, :process 3, :time 52059136556, :index 18256}
{:type :fail, :f :read, :value nil, :process 3, :time 52061037357, :error :connect, :index 18257}
{:type :invoke, :f :cas, :value [2 0], :process 22, :time 52082810175, :index 18259}
{:type :fail, :f :cas, :value [2 0], :process 22, :time 52084897584, :error :connect, :index 18261}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 52086312414, :index 18264}
{:type :fail, :f :cas, :value [4 4], :process 3, :time 52088450086, :error :connect, :index 18266}
{:type :invoke, :f :write, :value 0, :process 21, :time 52103110833, :index 18270}
{:type :fail, :f :write, :value 0, :process 21, :time 52105018903, :error :connect, :index 18272}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 52109728815, :index 18274}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 52111812123, :error :connect, :index 18275}
{:type :invoke, :f :cas, :value [0 0], :process 8, :time 52118666374, :index 18278}
{:type :fail, :f :cas, :value [0 0], :process 8, :time 52120508479, :error :connect, :index 18279}
{:type :invoke, :f :cas, :value [0 3], :process 7, :time 52130732673, :index 18286}
{:type :fail, :f :cas, :value [0 3], :process 7, :time 52132607131, :error :connect, :index 18287}
{:type :invoke, :f :write, :value 4, :process 5, :time 52134547903, :index 18288}
{:type :fail, :f :write, :value 4, :process 5, :time 52136550206, :error :connect, :index 18289}
{:type :invoke, :f :write, :value 1, :process 21, :time 52139284187, :index 18291}
{:type :fail, :f :write, :value 1, :process 21, :time 52141415914, :error :connect, :index 18293}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 52152669520, :index 18294}
{:type :invoke, :f :cas, :value [3 4], :process 22, :time 52153195360, :index 18295}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 52154512637, :error :connect, :index 18296}
{:type :fail, :f :cas, :value [3 4], :process 22, :time 52155037361, :error :connect, :index 18297}
{:type :invoke, :f :cas, :value [3 2], :process 22, :time 52155156024, :index 18298}
{:type :invoke, :f :cas, :value [1 0], :process 5, :time 52156896597, :index 18299}
{:type :fail, :f :cas, :value [3 2], :process 22, :time 52157029322, :error :connect, :index 18300}
{:type :fail, :f :cas, :value [1 0], :process 5, :time 52159041289, :error :connect, :index 18301}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 52173226929, :index 18306}
{:type :invoke, :f :read, :value nil, :process 0, :time 52173805468, :index 18307}
{:type :fail, :f :cas, :value [1 3], :process 6, :time 52174873917, :error :connect, :index 18308}
{:type :fail, :f :read, :value nil, :process 0, :time 52175733427, :error :connect, :index 18310}
{:type :invoke, :f :write, :value 2, :process 22, :time 52184282405, :index 18314}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 52185172541, :index 18315}
{:type :fail, :f :write, :value 2, :process 22, :time 52186131311, :error :connect, :index 18316}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 52187016464, :error :connect, :index 18317}
{:type :invoke, :f :write, :value 1, :process 0, :time 52191976618, :index 18320}
{:type :fail, :f :write, :value 1, :process 0, :time 52193786299, :error :connect, :index 18321}
{:type :invoke, :f :read, :value nil, :process 3, :time 52205088443, :index 18322}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 52206313031, :index 18323}
{:type :invoke, :f :cas, :value [0 4], :process 4, :time 52206652160, :index 18324}
{:type :fail, :f :read, :value nil, :process 3, :time 52207042621, :error :connect, :index 18325}
{:type :fail, :f :cas, :value [0 4], :process 4, :time 52208680779, :error :connect, :index 18326}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 52208923298, :error :connect, :index 18327}
{:type :invoke, :f :read, :value nil, :process 7, :time 52217867931, :index 18330}
{:type :invoke, :f :read, :value nil, :process 22, :time 52218415795, :index 18331}
{:type :fail, :f :read, :value nil, :process 7, :time 52219941501, :error :connect, :index 18332}
{:type :fail, :f :read, :value nil, :process 22, :time 52220253487, :error :connect, :index 18333}
{:type :invoke, :f :write, :value 1, :process 29, :time 52220462851, :index 18334}
{:type :fail, :f :write, :value 1, :process 29, :time 52222404259, :error :connect, :index 18335}
{:type :invoke, :f :read, :value nil, :process 8, :time 52229771683, :index 18336}
{:type :fail, :f :read, :value nil, :process 8, :time 52231437759, :error :connect, :index 18337}
{:type :invoke, :f :write, :value 2, :process 6, :time 52233284851, :index 18338}
{:type :fail, :f :write, :value 2, :process 6, :time 52235087868, :error :connect, :index 18339}
{:type :invoke, :f :read, :value nil, :process 21, :time 52261672281, :index 18350}
{:type :fail, :f :read, :value nil, :process 21, :time 52263370324, :error :connect, :index 18351}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 52274960665, :index 18354}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 52276772012, :error :connect, :index 18355}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 52294051422, :index 18360}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 52295863911, :error :connect, :index 18361}
{:type :invoke, :f :read, :value nil, :process 3, :time 52352469058, :index 18384}
{:type :fail, :f :read, :value nil, :process 3, :time 52354293114, :error :connect, :index 18385}
{:type :invoke, :f :read, :value nil, :process 5, :time 52371165855, :index 18388}
{:type :fail, :f :read, :value nil, :process 5, :time 52373255940, :error :connect, :index 18389}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
