{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :invoke, :f :write, :value 4, :process 40, :time 34738332491, :index 6042}
{:type :ok, :f :write, :value 4, :process 40, :time 34743586174, :index 6043}
{:type :invoke, :f :cas, :value [3 2], :process 49, :time 34744258143, :index 6044}
{:type :fail, :f :cas, :value [3 2], :process 49, :time 34750205103, :index 6046}
{:type :invoke, :f :read, :value nil, :process 47, :time 34799153067, :index 6051}
{:type :invoke, :f :write, :value 3, :process 28, :time 34800163212, :index 6052}
{:type :invoke, :f :write, :value 0, :process 62, :time 34803014565, :index 6053}
{:type :ok, :f :read, :value 4, :process 47, :time 34804315731, :index 6054}
{:type :ok, :f :write, :value 3, :process 28, :time 34805502564, :index 6055}
{:type :ok, :f :write, :value 0, :process 62, :time 34808139871, :index 6056}
{:type :invoke, :f :read, :value nil, :process 49, :time 34808497463, :index 6057}
{:type :ok, :f :read, :value 0, :process 49, :time 34813567229, :index 6059}
{:type :invoke, :f :cas, :value [1 0], :process 47, :time 34819574056, :index 6061}
{:type :fail, :f :cas, :value [1 0], :process 47, :time 34826544086, :index 6062}
{:type :invoke, :f :read, :value nil, :process 23, :time 34853838637, :index 6069}
{:type :invoke, :f :cas, :value [0 2], :process 45, :time 34858806501, :index 6070}
{:type :invoke, :f :write, :value 2, :process 4, :time 34859381493, :index 6071}
{:type :ok, :f :read, :value 0, :process 23, :time 34859864461, :index 6072}
{:type :ok, :f :cas, :value [0 2], :process 45, :time 34863646445, :index 6073}
{:type :invoke, :f :cas, :value [1 0], :process 40, :time 34863859005, :index 6074}
{:type :ok, :f :write, :value 2, :process 4, :time 34865358327, :index 6075}
{:type :fail, :f :cas, :value [1 0], :process 40, :time 34868892630, :index 6076}
{:type :invoke, :f :cas, :value [4 2], :process 45, :time 34870931682, :index 6077}
{:type :fail, :f :cas, :value [4 2], :process 45, :time 34875471077, :index 6078}
{:type :invoke, :f :read, :value nil, :process 62, :time 34880386683, :index 6079}
{:type :ok, :f :read, :value 2, :process 62, :time 34886033735, :index 6082}
{:type :invoke, :f :read, :value nil, :process 45, :time 34896728585, :index 6083}
{:type :ok, :f :read, :value 2, :process 45, :time 34901271259, :index 6085}
{:type :invoke, :f :write, :value 1, :process 62, :time 34913284369, :index 6090}
{:type :ok, :f :write, :value 1, :process 62, :time 34918718663, :index 6092}
{:type :invoke, :f :write, :value 0, :process 40, :time 34943161501, :index 6103}
{:type :ok, :f :write, :value 0, :process 40, :time 34948049913, :index 6106}
{:type :invoke, :f :read, :value nil, :process 49, :time 34953827810, :index 6107}
{:type :ok, :f :read, :value 0, :process 49, :time 34958831667, :index 6108}
{:type :invoke, :f :read, :value nil, :process 62, :time 34975977840, :index 6110}
{:type :ok, :f :read, :value 0, :process 62, :time 34981596322, :index 6112}
{:type :invoke, :f :cas, :value [1 2], :process 28, :time 34995762114, :index 6115}
{:type :fail, :f :cas, :value [1 2], :process 28, :time 35000766522, :index 6117}
{:type :invoke, :f :cas, :value [2 4], :process 47, :time 35016820699, :index 6125}
{:type :fail, :f :cas, :value [2 4], :process 47, :time 35023135163, :index 6128}
{:type :invoke, :f :write, :value 1, :process 45, :time 35024559827, :index 6129}
{:type :ok, :f :write, :value 1, :process 45, :time 35029645099, :index 6131}
{:type :invoke, :f :cas, :value [0 0], :process 23, :time 35031134541, :index 6132}
{:type :fail, :f :cas, :value [0 0], :process 23, :time 35037235320, :index 6134}
{:type :invoke, :f :write, :value 4, :process 4, :time 35039615582, :index 6135}
{:type :invoke, :f :write, :value 0, :process 6, :time 35039889759, :index 6136}
{:type :ok, :f :write, :value 0, :process 6, :time 35044887679, :index 6139}
{:type :invoke, :f :write, :value 2, :process 40, :time 35045297963, :index 6140}
{:type :ok, :f :write, :value 4, :process 4, :time 35045712227, :index 6141}
{:type :ok, :f :write, :value 2, :process 40, :time 35050189547, :index 6144}
{:type :invoke, :f :read, :value nil, :process 62, :time 35050850991, :index 6145}
{:type :invoke, :f :write, :value 1, :process 45, :time 35053886820, :index 6146}
{:type :invoke, :f :cas, :value [2 2], :process 28, :time 35054097194, :index 6147}
{:type :ok, :f :read, :value 2, :process 62, :time 35056027395, :index 6148}
{:type :ok, :f :write, :value 1, :process 45, :time 35058806193, :index 6150}
{:type :fail, :f :cas, :value [2 2], :process 28, :time 35059987338, :index 6152}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 35067883333, :index 6155}
{:type :invoke, :f :cas, :value [0 4], :process 23, :time 35068497516, :index 6156}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 35072850209, :index 6158}
{:type :fail, :f :cas, :value [0 4], :process 23, :time 35074320230, :index 6159}
{:type :invoke, :f :write, :value 0, :process 21, :time 35099111021, :index 6162}
{:type :ok, :f :write, :value 0, :process 21, :time 35107404178, :index 6165}
{:type :invoke, :f :read, :value nil, :process 47, :time 35109407124, :index 6166}
{:type :ok, :f :read, :value 0, :process 47, :time 35114704639, :index 6168}
{:type :invoke, :f :cas, :value [4 1], :process 23, :time 35125525000, :index 6169}
{:type :fail, :f :cas, :value [4 1], :process 23, :time 35131360945, :index 6170}
{:type :invoke, :f :write, :value 4, :process 49, :time 35143092587, :index 6174}
{:type :ok, :f :write, :value 4, :process 49, :time 35148194340, :index 6176}
{:type :invoke, :f :cas, :value [2 4], :process 45, :time 35152068768, :index 6178}
{:type :invoke, :f :cas, :value [3 1], :process 62, :time 35152331947, :index 6179}
{:type :invoke, :f :write, :value 0, :process 47, :time 35156984668, :index 6182}
{:type :fail, :f :cas, :value [2 4], :process 45, :time 35157415557, :index 6183}
{:type :fail, :f :cas, :value [3 1], :process 62, :time 35158106577, :index 6184}
{:type :ok, :f :write, :value 0, :process 47, :time 35161771844, :index 6186}
{:type :invoke, :f :read, :value nil, :process 4, :time 35172957346, :index 6187}
{:type :ok, :f :read, :value 0, :process 4, :time 35177769670, :index 6189}
{:type :invoke, :f :read, :value nil, :process 40, :time 35195443611, :index 6192}
{:type :ok, :f :read, :value 0, :process 40, :time 35200838700, :index 6194}
{:type :invoke, :f :read, :value nil, :process 6, :time 35203148992, :index 6195}
{:type :invoke, :f :cas, :value [1 2], :process 23, :time 35206575750, :index 6197}
{:type :ok, :f :read, :value 0, :process 6, :time 35208527569, :index 6198}
{:type :fail, :f :cas, :value [1 2], :process 23, :time 35214144599, :index 6200}
{:type :invoke, :f :read, :value nil, :process 47, :time 35226028618, :index 6203}
{:type :ok, :f :read, :value 0, :process 47, :time 35231750337, :index 6204}
{:type :invoke, :f :cas, :value [2 0], :process 45, :time 35252671540, :index 6210}
{:type :invoke, :f :write, :value 3, :process 28, :time 35255253558, :index 6211}
{:type :invoke, :f :write, :value 4, :process 4, :time 35256031936, :index 6212}
{:type :fail, :f :cas, :value [2 0], :process 45, :time 35258327264, :index 6215}
{:type :ok, :f :write, :value 3, :process 28, :time 35261156263, :index 6216}
{:type :ok, :f :write, :value 4, :process 4, :time 35261701431, :index 6217}
{:type :invoke, :f :read, :value nil, :process 21, :time 35278633587, :index 6221}
{:type :ok, :f :read, :value 4, :process 21, :time 35285551279, :index 6223}
{:type :invoke, :f :write, :value 3, :process 49, :time 35312461747, :index 6227}
{:type :ok, :f :write, :value 3, :process 49, :time 35318259009, :index 6230}
{:type :invoke, :f :read, :value nil, :process 21, :time 35321813596, :index 6231}
{:type :ok, :f :read, :value 3, :process 21, :time 35327359272, :index 6234}
{:type :invoke, :f :write, :value 4, :process 4, :time 35330930829, :index 6235}
{:type :ok, :f :write, :value 4, :process 4, :time 35336108253, :index 6236}
{:type :invoke, :f :cas, :value [0 2], :process 28, :time 35343411882, :index 6240}
{:type :invoke, :f :write, :value 3, :process 45, :time 35345595990, :index 6243}
{:type :fail, :f :cas, :value [0 2], :process 28, :time 35349094728, :index 6245}
{:type :invoke, :f :write, :value 0, :process 49, :time 35349505035, :index 6246}
{:type :ok, :f :write, :value 3, :process 45, :time 35350343955, :index 6248}
{:type :invoke, :f :write, :value 2, :process 62, :time 35352369153, :index 6249}
{:type :ok, :f :write, :value 0, :process 49, :time 35355255354, :index 6251}
{:type :ok, :f :write, :value 2, :process 62, :time 35358073843, :index 6253}
{:type :invoke, :f :write, :value 4, :process 47, :time 35361010888, :index 6254}
{:type :ok, :f :write, :value 4, :process 47, :time 35366138689, :index 6256}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 35379363850, :index 6257}
{:type :invoke, :f :read, :value nil, :process 40, :time 35387095201, :index 6261}
{:type :ok, :f :read, :value 4, :process 40, :time 35391573589, :index 6262}
{:type :invoke, :f :write, :value 0, :process 6, :time 35394807894, :index 6263}
{:type :invoke, :f :write, :value 3, :process 21, :time 35395613640, :index 6264}
{:type :invoke, :f :read, :value nil, :process 45, :time 35396608895, :index 6265}
{:type :ok, :f :write, :value 0, :process 6, :time 35399927791, :index 6266}
{:type :ok, :f :write, :value 3, :process 21, :time 35402870886, :index 6267}
{:type :ok, :f :read, :value 3, :process 45, :time 35403403950, :index 6268}
{:type :invoke, :f :cas, :value [0 2], :process 23, :time 35412409458, :index 6270}
{:type :fail, :f :cas, :value [0 2], :process 23, :time 35418431329, :index 6273}
{:type :invoke, :f :read, :value nil, :process 47, :time 35439406000, :index 6274}
{:type :invoke, :f :read, :value nil, :process 40, :time 35418861661, :index 6277}
{:type :invoke, :f :read, :value nil, :process 45, :time 35441330411, :index 6278}
{:type :ok, :f :read, :value 3, :process 40, :time 35445837474, :index 6281}
{:type :ok, :f :read, :value 3, :process 47, :time 35446212500, :index 6282}
{:type :ok, :f :read, :value 3, :process 45, :time 35447208867, :index 6283}
{:type :invoke, :f :write, :value 3, :process 62, :time 35455339075, :index 6285}
{:type :ok, :f :write, :value 3, :process 62, :time 35460647239, :index 6286}
{:type :invoke, :f :write, :value 2, :process 28, :time 35509363861, :index 6293}
{:type :ok, :f :write, :value 2, :process 28, :time 35514496611, :index 6294}
{:type :invoke, :f :read, :value nil, :process 23, :time 35520701356, :index 6297}
{:type :ok, :f :read, :value 2, :process 23, :time 35526096029, :index 6300}
{:type :invoke, :f :write, :value 1, :process 45, :time 35538471611, :index 6306}
{:type :invoke, :f :write, :value 0, :process 47, :time 35542444556, :index 6307}
{:type :ok, :f :write, :value 1, :process 45, :time 35543710514, :index 6308}
{:type :invoke, :f :cas, :value [0 0], :process 49, :time 35545515775, :index 6309}
{:type :ok, :f :write, :value 0, :process 47, :time 35547041036, :index 6310}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 35569195656, :index 6314}
{:type :invoke, :f :cas, :value [0 0], :process 47, :time 35572332601, :index 6315}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 35574617762, :index 6317}
{:type :ok, :f :cas, :value [0 0], :process 47, :time 35577379395, :index 6318}
{:type :invoke, :f :read, :value nil, :process 45, :time 35584966381, :index 6319}
{:type :invoke, :f :write, :value 2, :process 40, :time 35585092274, :index 6320}
{:type :ok, :f :read, :value 0, :process 45, :time 35590256360, :index 6321}
{:type :ok, :f :write, :value 2, :process 40, :time 35590727862, :index 6322}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 35598042921, :index 6323}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 35603843209, :index 6325}
{:type :invoke, :f :read, :value nil, :process 62, :time 35604928703, :index 6326}
{:type :ok, :f :read, :value 2, :process 62, :time 35610314447, :index 6328}
{:type :invoke, :f :cas, :value [4 1], :process 47, :time 35670657141, :index 6337}
{:type :fail, :f :cas, :value [4 1], :process 47, :time 35676678988, :index 6338}
{:type :invoke, :f :write, :value 1, :process 23, :time 35684352101, :index 6339}
{:type :invoke, :f :cas, :value [1 2], :process 28, :time 35689775071, :index 6342}
{:type :ok, :f :write, :value 1, :process 23, :time 35690279019, :index 6343}
{:type :ok, :f :cas, :value [1 2], :process 28, :time 35696044228, :index 6346}
{:type :invoke, :f :read, :value nil, :process 47, :time 35716940683, :index 6349}
{:type :invoke, :f :read, :value nil, :process 45, :time 35720519490, :index 6350}
{:type :ok, :f :read, :value 2, :process 47, :time 35722181185, :index 6351}
{:type :ok, :f :read, :value 2, :process 45, :time 35724479635, :index 6352}
{:type :invoke, :f :cas, :value [3 2], :process 62, :time 35739571158, :index 6356}
{:type :fail, :f :cas, :value [3 2], :process 62, :time 35745088695, :index 6358}
{:type :invoke, :f :write, :value 0, :process 6, :time 35747859869, :index 6360}
{:type :ok, :f :write, :value 0, :process 6, :time 35752885215, :index 6362}
{:type :invoke, :f :cas, :value [2 2], :process 40, :time 35768967201, :index 6365}
{:type :fail, :f :cas, :value [2 2], :process 40, :time 35774108962, :index 6367}
{:type :invoke, :f :read, :value nil, :process 28, :time 35780302117, :index 6369}
{:type :ok, :f :read, :value 0, :process 28, :time 35785396343, :index 6370}
{:type :invoke, :f :cas, :value [0 3], :process 62, :time 35786362498, :index 6371}
{:type :invoke, :f :write, :value 2, :process 6, :time 35787134020, :index 6372}
{:type :ok, :f :cas, :value [0 3], :process 62, :time 35791899471, :index 6373}
{:type :ok, :f :write, :value 2, :process 6, :time 35792591578, :index 6375}
{:type :invoke, :f :read, :value nil, :process 21, :time 35797100165, :index 6376}
{:type :ok, :f :read, :value 2, :process 21, :time 35802203792, :index 6378}
{:type :invoke, :f :cas, :value [2 4], :process 45, :time 35809733348, :index 6381}
{:type :ok, :f :cas, :value [2 4], :process 45, :time 35814768492, :index 6382}
{:type :invoke, :f :write, :value 4, :process 47, :time 35818438189, :index 6383}
{:type :ok, :f :write, :value 4, :process 47, :time 35823245511, :index 6384}
{:type :invoke, :f :write, :value 2, :process 45, :time 35837040799, :index 6386}
{:type :ok, :f :write, :value 2, :process 45, :time 35842338009, :index 6388}
{:type :invoke, :f :cas, :value [4 1], :process 23, :time 35886504865, :index 6394}
{:type :invoke, :f :cas, :value [1 0], :process 21, :time 35887462321, :index 6395}
{:type :fail, :f :cas, :value [4 1], :process 23, :time 35892472105, :index 6397}
{:type :fail, :f :cas, :value [1 0], :process 21, :time 35893243033, :index 6398}
{:type :invoke, :f :write, :value 1, :process 6, :time 35894830872, :index 6399}
{:type :ok, :f :write, :value 1, :process 6, :time 35900362289, :index 6400}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 35914304993, :index 6401}
{:type :invoke, :f :read, :value nil, :process 23, :time 35919046392, :index 6404}
{:type :fail, :f :cas, :value [0 0], :process 49, :time 35919340431, :index 6405}
{:type :invoke, :f :read, :value nil, :process 62, :time 35922198179, :index 6408}
{:type :ok, :f :read, :value 1, :process 23, :time 35926317571, :index 6409}
{:type :ok, :f :read, :value 1, :process 62, :time 35928190782, :index 6413}
{:type :invoke, :f :cas, :value [2 3], :process 28, :time 35936672605, :index 6417}
{:type :fail, :f :cas, :value [2 3], :process 28, :time 35941708312, :index 6419}
{:type :invoke, :f :write, :value 4, :process 40, :time 35957377907, :index 6427}
{:type :ok, :f :write, :value 4, :process 40, :time 35961756497, :index 6429}
{:type :invoke, :f :cas, :value [4 4], :process 21, :time 35984500130, :index 6435}
{:type :invoke, :f :write, :value 4, :process 47, :time 35988506326, :index 6436}
{:type :ok, :f :cas, :value [4 4], :process 21, :time 35989453131, :index 6437}
{:type :ok, :f :write, :value 4, :process 47, :time 35993293851, :index 6438}
{:type :invoke, :f :read, :value nil, :process 45, :time 35999355780, :index 6439}
{:type :ok, :f :read, :value 4, :process 45, :time 36004435094, :index 6440}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
