{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :invoke, :f :cas, :value [0 1], :process 17, :time 36851979026, :index 5907}
{:type :fail, :f :cas, :value [0 1], :process 17, :time 37191072226, :error :not-found, :index 5930}
{:type :invoke, :f :cas, :value [0 3], :process 35, :time 37212181435, :index 5932}
{:type :fail, :f :cas, :value [0 3], :process 35, :time 37218413805, :error :not-found, :index 5933}
{:type :invoke, :f :cas, :value [0 3], :process 35, :time 37220669699, :index 5934}
{:type :fail, :f :cas, :value [0 3], :process 35, :time 37226495476, :error :not-found, :index 5935}
{:type :invoke, :f :read, :value nil, :process 52, :time 37231705681, :index 5936}
{:type :ok, :f :read, :value nil, :process 52, :time 37237598882, :index 5937}
{:type :invoke, :f :cas, :value [0 3], :process 51, :time 37247528328, :index 5938}
{:type :fail, :f :cas, :value [0 3], :process 51, :time 37255819972, :error :not-found, :index 5939}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 37265394924, :index 5940}
{:type :fail, :f :cas, :value [0 0], :process 36, :time 37271164178, :error :not-found, :index 5941}
{:type :invoke, :f :cas, :value [1 3], :process 35, :time 37286758902, :index 5945}
{:type :fail, :f :cas, :value [1 3], :process 35, :time 37292966504, :error :not-found, :index 5947}
{:type :invoke, :f :write, :value 0, :process 50, :time 37316156121, :index 5952}
{:type :ok, :f :write, :value 0, :process 50, :time 37322057400, :index 5953}
{:type :invoke, :f :write, :value 1, :process 36, :time 37324430922, :index 5954}
{:type :ok, :f :write, :value 1, :process 36, :time 37329662892, :index 5955}
{:type :invoke, :f :read, :value nil, :process 51, :time 37335081962, :index 5956}
{:type :ok, :f :read, :value 1, :process 51, :time 37340917906, :index 5957}
{:type :invoke, :f :write, :value 2, :process 17, :time 37341318018, :index 5958}
{:type :ok, :f :write, :value 2, :process 17, :time 37345705666, :index 5959}
{:type :invoke, :f :read, :value nil, :process 50, :time 37364328777, :index 5961}
{:type :ok, :f :read, :value 2, :process 50, :time 37370620503, :index 5964}
{:type :invoke, :f :cas, :value [4 3], :process 52, :time 37419861876, :index 5970}
{:type :fail, :f :cas, :value [4 3], :process 52, :time 37424856983, :index 5971}
{:type :invoke, :f :write, :value 3, :process 35, :time 37434274887, :index 5973}
{:type :ok, :f :write, :value 3, :process 35, :time 37439363961, :index 5975}
{:type :invoke, :f :write, :value 1, :process 52, :time 37444121728, :index 5976}
{:type :ok, :f :write, :value 1, :process 52, :time 37448944751, :index 5977}
{:type :invoke, :f :write, :value 3, :process 17, :time 37462965305, :index 5981}
{:type :ok, :f :write, :value 3, :process 17, :time 37468537820, :index 5983}
{:type :invoke, :f :read, :value nil, :process 52, :time 37470207293, :index 5984}
{:type :ok, :f :read, :value 3, :process 52, :time 37475156668, :index 5986}
{:type :invoke, :f :write, :value 3, :process 50, :time 37503923389, :index 5990}
{:type :ok, :f :write, :value 3, :process 50, :time 37509750839, :index 5991}
{:type :invoke, :f :write, :value 0, :process 51, :time 37518187812, :index 5992}
{:type :invoke, :f :cas, :value [1 1], :process 36, :time 37518926445, :index 5993}
{:type :ok, :f :write, :value 0, :process 51, :time 37523643458, :index 5994}
{:type :fail, :f :cas, :value [1 1], :process 36, :time 37524651107, :index 5996}
{:type :invoke, :f :read, :value nil, :process 50, :time 37553014020, :index 6001}
{:type :ok, :f :read, :value 0, :process 50, :time 37558120053, :index 6003}
{:type :invoke, :f :cas, :value [1 1], :process 36, :time 37562914218, :index 6005}
{:type :fail, :f :cas, :value [1 1], :process 36, :time 37570008569, :index 6007}
{:type :invoke, :f :read, :value nil, :process 36, :time 37606274596, :index 6008}
{:type :invoke, :f :read, :value nil, :process 35, :time 37609622369, :index 6009}
{:type :ok, :f :read, :value 0, :process 36, :time 37611929104, :index 6010}
{:type :ok, :f :read, :value 0, :process 35, :time 37614643239, :index 6011}
{:type :invoke, :f :cas, :value [2 1], :process 51, :time 37614921818, :index 6012}
{:type :fail, :f :cas, :value [2 1], :process 51, :time 37622853210, :index 6016}
{:type :invoke, :f :cas, :value [0 4], :process 36, :time 37636192390, :index 6020}
{:type :invoke, :f :read, :value nil, :process 17, :time 37640806294, :index 6023}
{:type :ok, :f :cas, :value [0 4], :process 36, :time 37641499868, :index 6024}
{:type :ok, :f :read, :value 4, :process 17, :time 37645915590, :index 6025}
{:type :invoke, :f :write, :value 2, :process 52, :time 37653429324, :index 6026}
{:type :ok, :f :write, :value 2, :process 52, :time 37658382987, :index 6027}
{:type :invoke, :f :read, :value nil, :process 51, :time 37710144591, :index 6034}
{:type :ok, :f :read, :value 2, :process 51, :time 37715726463, :index 6035}
{:type :invoke, :f :write, :value 1, :process 50, :time 37716374335, :index 6036}
{:type :ok, :f :write, :value 1, :process 50, :time 37721120518, :index 6037}
{:type :invoke, :f :read, :value nil, :process 17, :time 37768192800, :index 6043}
{:type :ok, :f :read, :value 1, :process 17, :time 37774117798, :index 6047}
{:type :invoke, :f :cas, :value [0 3], :process 35, :time 37784925480, :index 6048}
{:type :invoke, :f :cas, :value [1 4], :process 52, :time 37785653775, :index 6049}
{:type :invoke, :f :read, :value nil, :process 51, :time 37788984103, :index 6050}
{:type :ok, :f :cas, :value [1 4], :process 52, :time 37790998262, :index 6051}
{:type :fail, :f :cas, :value [0 3], :process 35, :time 37791321773, :index 6052}
{:type :ok, :f :read, :value 4, :process 51, :time 37793886055, :index 6053}
{:type :invoke, :f :cas, :value [2 0], :process 36, :time 37813766657, :index 6060}
{:type :invoke, :f :cas, :value [3 2], :process 17, :time 37814384840, :index 6061}
{:type :fail, :f :cas, :value [2 0], :process 36, :time 37819099143, :index 6062}
{:type :fail, :f :cas, :value [3 2], :process 17, :time 37819671461, :index 6063}
{:type :invoke, :f :cas, :value [1 2], :process 51, :time 37865138622, :index 6066}
{:type :fail, :f :cas, :value [1 2], :process 51, :time 37871473138, :index 6067}
{:type :invoke, :f :write, :value 3, :process 50, :time 37871403744, :index 6068}
{:type :ok, :f :write, :value 3, :process 50, :time 37876899492, :index 6069}
{:type :invoke, :f :write, :value 0, :process 17, :time 37900919620, :index 6072}
{:type :invoke, :f :read, :value nil, :process 52, :time 37902273147, :index 6073}
{:type :ok, :f :write, :value 0, :process 17, :time 37906187259, :index 6074}
{:type :ok, :f :read, :value 0, :process 52, :time 37906987735, :index 6075}
{:type :invoke, :f :read, :value nil, :process 35, :time 37953558937, :index 6084}
{:type :ok, :f :read, :value 0, :process 35, :time 37958518302, :index 6085}
{:type :invoke, :f :write, :value 4, :process 36, :time 37959375915, :index 6086}
{:type :ok, :f :write, :value 4, :process 36, :time 37965229180, :index 6087}
{:type :invoke, :f :cas, :value [4 4], :process 51, :time 37977744419, :index 6091}
{:type :ok, :f :cas, :value [4 4], :process 51, :time 37982820866, :index 6093}
{:type :invoke, :f :write, :value 4, :process 36, :time 37990486367, :index 6094}
{:type :ok, :f :write, :value 4, :process 36, :time 37995805197, :index 6095}
{:type :invoke, :f :cas, :value [1 2], :process 17, :time 37997447346, :index 6096}
{:type :fail, :f :cas, :value [1 2], :process 17, :time 38002139092, :index 6097}
{:type :invoke, :f :write, :value 2, :process 35, :time 38056779750, :index 6109}
{:type :invoke, :f :cas, :value [0 0], :process 52, :time 38060245716, :index 6110}
{:type :invoke, :f :read, :value nil, :process 50, :time 38061161483, :index 6111}
{:type :invoke, :f :cas, :value [1 4], :process 51, :time 38064079926, :index 6112}
{:type :invoke, :f :read, :value nil, :process 17, :time 38097398508, :index 6114}
{:type :invoke, :f :write, :value 0, :process 36, :time 38143065812, :index 6117}
{:type :fail, :f :cas, :value [1 4], :process 51, :time 38548652721, :index 6122}
{:type :ok, :f :read, :value 2, :process 50, :time 38549089401, :index 6125}
{:type :ok, :f :write, :value 0, :process 36, :time 38549352325, :index 6126}
{:type :ok, :f :read, :value 2, :process 17, :time 38549483635, :index 6127}
{:type :ok, :f :write, :value 2, :process 35, :time 38550061175, :index 6130}
{:type :fail, :f :cas, :value [0 0], :process 52, :time 38550371159, :index 6131}
{:type :invoke, :f :cas, :value [1 2], :process 35, :time 38581321337, :index 6134}
{:type :fail, :f :cas, :value [1 2], :process 35, :time 38587368584, :index 6135}
{:type :invoke, :f :cas, :value [3 2], :process 51, :time 38633971705, :index 6140}
{:type :fail, :f :cas, :value [3 2], :process 51, :time 38639825982, :index 6143}
{:type :invoke, :f :read, :value nil, :process 36, :time 38681582979, :index 6148}
{:type :ok, :f :read, :value 0, :process 36, :time 38688799128, :index 6149}
{:type :invoke, :f :cas, :value [3 4], :process 17, :time 38698738997, :index 6150}
{:type :invoke, :f :cas, :value [4 3], :process 50, :time 38699329548, :index 6151}
{:type :fail, :f :cas, :value [3 4], :process 17, :time 38704265571, :index 6152}
{:type :fail, :f :cas, :value [4 3], :process 50, :time 38705406621, :index 6153}
{:type :invoke, :f :write, :value 4, :process 52, :time 38747648931, :index 6159}
{:type :ok, :f :write, :value 4, :process 52, :time 38752545851, :index 6161}
{:type :invoke, :f :cas, :value [4 0], :process 17, :time 38775531307, :index 6165}
{:type :ok, :f :cas, :value [4 0], :process 17, :time 38780108751, :index 6167}
{:type :invoke, :f :write, :value 0, :process 35, :time 38780653740, :index 6169}
{:type :ok, :f :write, :value 0, :process 35, :time 38786227887, :index 6171}
{:type :invoke, :f :write, :value 0, :process 36, :time 38793069019, :index 6172}
{:type :invoke, :f :write, :value 0, :process 51, :time 38797082774, :index 6173}
{:type :invoke, :f :cas, :value [2 1], :process 52, :time 38806799318, :index 6174}
{:type :invoke, :f :read, :value nil, :process 17, :time 38824381087, :index 6175}
{:type :invoke, :f :read, :value nil, :process 50, :time 38824677835, :index 6176}
{:type :invoke, :f :read, :value nil, :process 35, :time 38852477016, :index 6178}
{:type :ok, :f :write, :value 0, :process 36, :time 39381301525, :index 6184}
{:type :ok, :f :read, :value 0, :process 17, :time 39382221800, :index 6185}
{:type :ok, :f :write, :value 0, :process 51, :time 39382719726, :index 6186}
{:type :ok, :f :read, :value 0, :process 50, :time 39383064034, :index 6187}
{:type :fail, :f :cas, :value [2 1], :process 52, :time 39383923118, :index 6191}
{:type :ok, :f :read, :value 0, :process 35, :time 39384421406, :index 6194}
{:type :invoke, :f :write, :value 3, :process 52, :time 39436170257, :index 6198}
{:type :ok, :f :write, :value 3, :process 52, :time 39440796532, :index 6200}
{:type :invoke, :f :read, :value nil, :process 50, :time 39450293584, :index 6202}
{:type :ok, :f :read, :value 3, :process 50, :time 39456069076, :index 6203}
{:type :invoke, :f :cas, :value [1 1], :process 51, :time 39490020462, :index 6204}
{:type :fail, :f :cas, :value [1 1], :process 51, :time 39496199632, :index 6206}
{:type :invoke, :f :write, :value 3, :process 17, :time 39505516150, :index 6208}
{:type :ok, :f :write, :value 3, :process 17, :time 39510509120, :index 6209}
{:type :invoke, :f :read, :value nil, :process 35, :time 39546891928, :index 6216}
{:type :ok, :f :read, :value 3, :process 35, :time 39552897292, :index 6217}
{:type :invoke, :f :read, :value nil, :process 36, :time 39574658308, :index 6220}
{:type :invoke, :f :cas, :value [1 4], :process 35, :time 39605166492, :index 6221}
{:type :invoke, :f :write, :value 4, :process 52, :time 39608061181, :index 6222}
{:type :invoke, :f :cas, :value [1 0], :process 50, :time 39618346192, :index 6225}
{:type :invoke, :f :cas, :value [3 1], :process 51, :time 39691455444, :index 6229}
{:type :invoke, :f :cas, :value [0 0], :process 17, :time 39700781774, :index 6230}
{:type :ok, :f :read, :value 3, :process 36, :time 39839802991, :index 6232}
{:type :ok, :f :write, :value 4, :process 52, :time 39840893435, :index 6234}
{:type :fail, :f :cas, :value [1 0], :process 50, :time 39842439109, :index 6238}
{:type :fail, :f :cas, :value [0 0], :process 17, :time 39843165371, :index 6240}
{:type :fail, :f :cas, :value [3 1], :process 51, :time 39843460428, :index 6241}
{:type :fail, :f :cas, :value [1 4], :process 35, :time 39843792469, :index 6242}
{:type :invoke, :f :write, :value 2, :process 17, :time 39892336122, :index 6244}
{:type :invoke, :f :cas, :value [0 1], :process 35, :time 39919450331, :index 6245}
{:type :invoke, :f :read, :value nil, :process 52, :time 39945362173, :index 6246}
{:type :invoke, :f :write, :value 3, :process 50, :time 39947776960, :index 6247}
{:type :ok, :f :write, :value 2, :process 17, :time 39962584320, :index 6250}
{:type :invoke, :f :cas, :value [2 4], :process 51, :time 40002357186, :index 6253}
{:type :invoke, :f :write, :value 4, :process 17, :time 40012884583, :index 6254}
{:type :invoke, :f :cas, :value [1 0], :process 36, :time 40016157510, :index 6256}
{:type :ok, :f :read, :value 2, :process 52, :time 40317577154, :index 6258}
{:type :ok, :f :write, :value 3, :process 50, :time 40318311082, :index 6259}
{:type :ok, :f :write, :value 4, :process 17, :time 40319410366, :index 6262}
{:type :fail, :f :cas, :value [2 4], :process 51, :time 40320224115, :index 6265}
{:type :fail, :f :cas, :value [1 0], :process 36, :time 40321274329, :index 6267}
{:type :fail, :f :cas, :value [0 1], :process 35, :time 40321510174, :index 6268}
{:type :invoke, :f :write, :value 4, :process 52, :time 40324943545, :index 6270}
{:type :ok, :f :write, :value 4, :process 52, :time 40329914827, :index 6271}
{:type :invoke, :f :cas, :value [2 1], :process 50, :time 40343581739, :index 6272}
{:type :fail, :f :cas, :value [2 1], :process 50, :time 40349544323, :index 6274}
{:type :invoke, :f :cas, :value [3 0], :process 51, :time 40368471791, :index 6275}
{:type :invoke, :f :write, :value 3, :process 35, :time 40386820888, :index 6277}
{:type :invoke, :f :write, :value 4, :process 17, :time 40449653201, :index 6281}
{:type :invoke, :f :write, :value 1, :process 52, :time 40452201285, :index 6284}
{:type :fail, :f :cas, :value [3 0], :process 51, :time 40452936542, :index 6285}
{:type :ok, :f :write, :value 3, :process 35, :time 40453120668, :index 6286}
{:type :ok, :f :write, :value 4, :process 17, :time 40454191571, :index 6288}
{:type :ok, :f :write, :value 1, :process 52, :time 40457036416, :index 6289}
{:type :invoke, :f :write, :value 4, :process 52, :time 40466280862, :index 6290}
{:type :ok, :f :write, :value 4, :process 52, :time 40470949712, :index 6292}
{:type :invoke, :f :read, :value nil, :process 17, :time 40478458318, :index 6294}
{:type :ok, :f :read, :value 4, :process 17, :time 40483313763, :index 6295}
{:type :invoke, :f :write, :value 4, :process 36, :time 40491529474, :index 6298}
{:type :ok, :f :write, :value 4, :process 36, :time 40497180398, :index 6301}
{:type :invoke, :f :cas, :value [4 0], :process 35, :time 40505419982, :index 6302}
{:type :invoke, :f :write, :value 4, :process 50, :time 40505858274, :index 6303}
{:type :ok, :f :cas, :value [4 0], :process 35, :time 40512354560, :index 6305}
{:type :ok, :f :write, :value 4, :process 50, :time 40513179488, :index 6306}
{:type :invoke, :f :cas, :value [2 2], :process 17, :time 40517576273, :index 6308}
{:type :fail, :f :cas, :value [2 2], :process 17, :time 40522176479, :index 6309}
{:type :invoke, :f :read, :value nil, :process 50, :time 40565450481, :index 6318}
{:type :ok, :f :read, :value 4, :process 50, :time 40571145485, :index 6319}
{:type :invoke, :f :write, :value 1, :process 35, :time 40585622337, :index 6323}
{:type :ok, :f :write, :value 1, :process 35, :time 40590937141, :index 6325}
{:type :invoke, :f :cas, :value [3 4], :process 52, :time 40633212451, :index 6337}
{:type :fail, :f :cas, :value [3 4], :process 52, :time 40638500162, :index 6339}
{:type :invoke, :f :write, :value 1, :process 51, :time 40644211199, :index 6342}
{:type :ok, :f :write, :value 1, :process 51, :time 40649098820, :index 6346}
{:type :invoke, :f :read, :value nil, :process 36, :time 40680441594, :index 6350}
{:type :ok, :f :read, :value 1, :process 36, :time 40686038331, :index 6352}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
