{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :invoke, :f :read, :value nil, :process 8, :time 45165783395, :index 15550}
{:type :fail, :f :read, :value nil, :process 8, :time 45167771174, :error :connect, :index 15551}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 45169917747, :index 15552}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 45172050643, :error :connect, :index 15554}
{:type :invoke, :f :write, :value 0, :process 8, :time 45194029969, :index 15560}
{:type :fail, :f :write, :value 0, :process 8, :time 45195878737, :error :connect, :index 15561}
{:type :invoke, :f :read, :value nil, :process 3, :time 45197186481, :index 15562}
{:type :fail, :f :read, :value nil, :process 3, :time 45199155104, :error :connect, :index 15564}
{:type :invoke, :f :write, :value 0, :process 29, :time 45206684658, :index 15567}
{:type :fail, :f :write, :value 0, :process 29, :time 45208302613, :error :connect, :index 15569}
{:type :invoke, :f :read, :value nil, :process 8, :time 45243142192, :index 15578}
{:type :fail, :f :read, :value nil, :process 8, :time 45245344724, :error :connect, :index 15579}
{:type :invoke, :f :read, :value nil, :process 3, :time 45252416464, :index 15582}
{:type :fail, :f :read, :value nil, :process 3, :time 45254574770, :error :connect, :index 15584}
{:type :invoke, :f :write, :value 1, :process 21, :time 45286282506, :index 15594}
{:type :fail, :f :write, :value 1, :process 21, :time 45288390652, :error :connect, :index 15596}
{:type :invoke, :f :cas, :value [1 0], :process 5, :time 45305622278, :index 15602}
{:type :fail, :f :cas, :value [1 0], :process 5, :time 45307498165, :error :connect, :index 15603}
{:type :invoke, :f :write, :value 1, :process 6, :time 45338300615, :index 15612}
{:type :fail, :f :write, :value 1, :process 6, :time 45340198040, :error :connect, :index 15613}
{:type :invoke, :f :read, :value nil, :process 22, :time 45353404103, :index 15614}
{:type :fail, :f :read, :value nil, :process 22, :time 45355521732, :error :connect, :index 15617}
{:type :invoke, :f :write, :value 1, :process 7, :time 45361420579, :index 15618}
{:type :invoke, :f :read, :value nil, :process 8, :time 45362659471, :index 15619}
{:type :fail, :f :write, :value 1, :process 7, :time 45363318093, :error :connect, :index 15620}
{:type :fail, :f :read, :value nil, :process 8, :time 45364647477, :error :connect, :index 15621}
{:type :invoke, :f :cas, :value [1 4], :process 7, :time 45364578741, :index 15622}
{:type :fail, :f :cas, :value [1 4], :process 7, :time 45366553993, :error :connect, :index 15623}
{:type :invoke, :f :read, :value nil, :process 5, :time 45373766068, :index 15626}
{:type :fail, :f :read, :value nil, :process 5, :time 45375653685, :error :connect, :index 15627}
{:type :invoke, :f :write, :value 1, :process 21, :time 45380656233, :index 15628}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 45381824343, :index 15630}
{:type :fail, :f :write, :value 1, :process 21, :time 45382643215, :error :connect, :index 15631}
{:type :invoke, :f :read, :value nil, :process 29, :time 45382555901, :index 15632}
{:type :fail, :f :cas, :value [1 3], :process 7, :time 45383555549, :error :connect, :index 15634}
{:type :fail, :f :read, :value nil, :process 29, :time 45384717568, :error :connect, :index 15635}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 45398487834, :index 15638}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 45400369250, :error :connect, :index 15639}
{:type :invoke, :f :write, :value 0, :process 7, :time 45415819596, :index 15648}
{:type :fail, :f :write, :value 0, :process 7, :time 45417589341, :error :connect, :index 15649}
{:type :invoke, :f :read, :value nil, :process 3, :time 45417880889, :index 15650}
{:type :fail, :f :read, :value nil, :process 3, :time 45419946344, :error :connect, :index 15651}
{:type :invoke, :f :write, :value 0, :process 0, :time 45422637064, :index 15653}
{:type :fail, :f :write, :value 0, :process 0, :time 45424746135, :error :connect, :index 15655}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 45445349954, :index 15660}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 45447565895, :error :connect, :index 15663}
{:type :invoke, :f :read, :value nil, :process 5, :time 45455922407, :index 15664}
{:type :fail, :f :read, :value nil, :process 5, :time 45458031677, :error :connect, :index 15665}
{:type :invoke, :f :read, :value nil, :process 8, :time 45468886582, :index 15672}
{:type :invoke, :f :cas, :value [4 0], :process 4, :time 45470882045, :index 15673}
{:type :fail, :f :read, :value nil, :process 8, :time 45471002371, :error :connect, :index 15674}
{:type :fail, :f :cas, :value [4 0], :process 4, :time 45472750294, :error :connect, :index 15675}
{:type :invoke, :f :cas, :value [2 1], :process 21, :time 45479907667, :index 15676}
{:type :invoke, :f :write, :value 1, :process 29, :time 45479979978, :index 15677}
{:type :fail, :f :cas, :value [2 1], :process 21, :time 45481727838, :error :connect, :index 15678}
{:type :fail, :f :write, :value 1, :process 29, :time 45482017875, :error :connect, :index 15679}
{:type :invoke, :f :read, :value nil, :process 7, :time 45482879223, :index 15681}
{:type :fail, :f :read, :value nil, :process 7, :time 45484816526, :error :connect, :index 15682}
{:type :invoke, :f :write, :value 4, :process 3, :time 45511218158, :index 15686}
{:type :fail, :f :write, :value 4, :process 3, :time 45513253179, :error :connect, :index 15687}
{:type :invoke, :f :write, :value 4, :process 6, :time 45530463371, :index 15692}
{:type :fail, :f :write, :value 4, :process 6, :time 45532176341, :error :connect, :index 15693}
{:type :invoke, :f :read, :value nil, :process 22, :time 45539821450, :index 15694}
{:type :fail, :f :read, :value nil, :process 22, :time 45541646389, :error :connect, :index 15695}
{:type :invoke, :f :read, :value nil, :process 21, :time 45552994560, :index 15698}
{:type :fail, :f :read, :value nil, :process 21, :time 45554832241, :error :connect, :index 15699}
{:type :invoke, :f :write, :value 0, :process 0, :time 45557021949, :index 15700}
{:type :fail, :f :write, :value 0, :process 0, :time 45559018639, :error :connect, :index 15701}
{:type :invoke, :f :read, :value nil, :process 8, :time 45563252992, :index 15702}
{:type :fail, :f :read, :value nil, :process 8, :time 45565292520, :error :connect, :index 15703}
{:type :invoke, :f :write, :value 4, :process 7, :time 45577089031, :index 15706}
{:type :fail, :f :write, :value 4, :process 7, :time 45578944823, :error :connect, :index 15707}
{:type :invoke, :f :read, :value nil, :process 4, :time 45581022744, :index 15709}
{:type :fail, :f :read, :value nil, :process 4, :time 45582894397, :error :connect, :index 15711}
{:type :invoke, :f :write, :value 4, :process 22, :time 45588906143, :index 15712}
{:type :fail, :f :write, :value 4, :process 22, :time 45590965616, :error :connect, :index 15713}
{:type :invoke, :f :read, :value nil, :process 21, :time 45596106014, :index 15717}
{:type :fail, :f :read, :value nil, :process 21, :time 45597973454, :error :connect, :index 15719}
{:type :invoke, :f :write, :value 4, :process 4, :time 45616171204, :index 15728}
{:type :fail, :f :write, :value 4, :process 4, :time 45618003219, :error :connect, :index 15729}
{:type :invoke, :f :read, :value nil, :process 22, :time 45631244026, :index 15731}
{:type :fail, :f :read, :value nil, :process 22, :time 45633118637, :error :connect, :index 15734}
{:type :invoke, :f :read, :value nil, :process 5, :time 45641297375, :index 15736}
{:type :fail, :f :read, :value nil, :process 5, :time 45643181099, :error :connect, :index 15737}
{:type :invoke, :f :read, :value nil, :process 8, :time 45655573003, :index 15740}
{:type :fail, :f :read, :value nil, :process 8, :time 45657451245, :error :connect, :index 15741}
{:type :invoke, :f :read, :value nil, :process 29, :time 45662230989, :index 15742}
{:type :fail, :f :read, :value nil, :process 29, :time 45664246192, :error :connect, :index 15743}
{:type :invoke, :f :write, :value 0, :process 3, :time 45681514469, :index 15746}
{:type :fail, :f :write, :value 0, :process 3, :time 45683394568, :error :connect, :index 15747}
{:type :invoke, :f :write, :value 4, :process 6, :time 45696442016, :index 15748}
{:type :fail, :f :write, :value 4, :process 6, :time 45698176200, :error :connect, :index 15749}
{:type :invoke, :f :write, :value 4, :process 6, :time 45708437025, :index 15750}
{:type :fail, :f :write, :value 4, :process 6, :time 45710157108, :error :connect, :index 15751}
{:type :invoke, :f :cas, :value [0 3], :process 21, :time 45711250685, :index 15753}
{:type :fail, :f :cas, :value [0 3], :process 21, :time 45713366379, :error :connect, :index 15755}
{:type :invoke, :f :write, :value 0, :process 0, :time 45715282411, :index 15756}
{:type :fail, :f :write, :value 0, :process 0, :time 45717140594, :error :connect, :index 15757}
{:type :invoke, :f :write, :value 2, :process 7, :time 45723207371, :index 15758}
{:type :fail, :f :write, :value 2, :process 7, :time 45725063957, :error :connect, :index 15759}
{:type :invoke, :f :write, :value 3, :process 22, :time 45760368614, :index 15768}
{:type :fail, :f :write, :value 3, :process 22, :time 45762158404, :error :connect, :index 15769}
{:type :invoke, :f :read, :value nil, :process 7, :time 45773325374, :index 15770}
{:type :fail, :f :read, :value nil, :process 7, :time 45775236688, :error :connect, :index 15773}
{:type :invoke, :f :read, :value nil, :process 4, :time 45802268383, :index 15780}
{:type :fail, :f :read, :value nil, :process 4, :time 45804112662, :error :connect, :index 15781}
{:type :invoke, :f :read, :value nil, :process 8, :time 45813709731, :index 15786}
{:type :fail, :f :read, :value nil, :process 8, :time 45815856962, :error :connect, :index 15788}
{:type :invoke, :f :cas, :value [3 3], :process 21, :time 45819624727, :index 15790}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 45820409810, :index 15791}
{:type :fail, :f :cas, :value [3 3], :process 21, :time 45821728709, :error :connect, :index 15792}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 45822212355, :error :connect, :index 15793}
{:type :invoke, :f :write, :value 2, :process 3, :time 45822663002, :index 15794}
{:type :fail, :f :write, :value 2, :process 3, :time 45824243558, :error :connect, :index 15795}
{:type :invoke, :f :read, :value nil, :process 5, :time 45828443468, :index 15796}
{:type :fail, :f :read, :value nil, :process 5, :time 45830211402, :error :connect, :index 15797}
{:type :invoke, :f :write, :value 1, :process 6, :time 45831459133, :index 15799}
{:type :fail, :f :write, :value 1, :process 6, :time 45833508381, :error :connect, :index 15801}
{:type :invoke, :f :cas, :value [4 1], :process 5, :time 45848472106, :index 15804}
{:type :fail, :f :cas, :value [4 1], :process 5, :time 45850290753, :error :connect, :index 15805}
{:type :invoke, :f :write, :value 1, :process 29, :time 45852517748, :index 15806}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 45854023546, :index 15807}
{:type :fail, :f :write, :value 1, :process 29, :time 45854638371, :error :connect, :index 15808}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 45856230170, :error :connect, :index 15810}
{:type :invoke, :f :write, :value 3, :process 7, :time 45856488742, :index 15811}
{:type :fail, :f :write, :value 3, :process 7, :time 45858518664, :error :connect, :index 15813}
{:type :invoke, :f :read, :value nil, :process 5, :time 45887560668, :index 15817}
{:type :fail, :f :read, :value nil, :process 5, :time 45889475343, :error :connect, :index 15819}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 45895506745, :index 15820}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 45897405306, :error :connect, :index 15821}
{:type :invoke, :f :cas, :value [2 2], :process 7, :time 45898777380, :index 15822}
{:type :fail, :f :cas, :value [2 2], :process 7, :time 45900437511, :error :connect, :index 15823}
{:type :invoke, :f :read, :value nil, :process 22, :time 45920417492, :index 15826}
{:type :invoke, :f :write, :value 2, :process 0, :time 45921475444, :index 15827}
{:type :fail, :f :read, :value nil, :process 22, :time 45922292779, :error :connect, :index 15828}
{:type :fail, :f :write, :value 2, :process 0, :time 45923502135, :error :connect, :index 15829}
{:type :invoke, :f :read, :value nil, :process 4, :time 45982377049, :index 15842}
{:type :fail, :f :read, :value nil, :process 4, :time 45984221113, :error :connect, :index 15843}
{:type :invoke, :f :cas, :value [0 4], :process 5, :time 45985731821, :index 15844}
{:type :fail, :f :cas, :value [0 4], :process 5, :time 45987828548, :error :connect, :index 15845}
{:type :invoke, :f :read, :value nil, :process 0, :time 45995754609, :index 15848}
{:type :fail, :f :read, :value nil, :process 0, :time 45997777985, :error :connect, :index 15849}
{:type :invoke, :f :write, :value 3, :process 29, :time 46001952218, :index 15850}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 46003491339, :index 15851}
{:type :fail, :f :write, :value 3, :process 29, :time 46004024725, :error :connect, :index 15852}
{:type :invoke, :f :read, :value nil, :process 8, :time 46004160064, :index 15854}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 46005740704, :error :connect, :index 15855}
{:type :fail, :f :read, :value nil, :process 8, :time 46006108849, :error :connect, :index 15856}
{:type :invoke, :f :write, :value 0, :process 7, :time 46020714987, :index 15860}
{:type :invoke, :f :read, :value nil, :process 6, :time 46021799987, :index 15861}
{:type :fail, :f :write, :value 0, :process 7, :time 46022926858, :error :connect, :index 15862}
{:type :fail, :f :read, :value nil, :process 6, :time 46023697815, :error :connect, :index 15863}
{:type :invoke, :f :write, :value 2, :process 21, :time 46038495905, :index 15872}
{:type :fail, :f :write, :value 2, :process 21, :time 46040399805, :error :connect, :index 15873}
{:type :invoke, :f :write, :value 4, :process 22, :time 46050535891, :index 15874}
{:type :fail, :f :write, :value 4, :process 22, :time 46052429324, :error :connect, :index 15875}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 46072044315, :index 15878}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 46076656194, :error :connect, :index 15879}
{:type :invoke, :f :read, :value nil, :process 3, :time 46084693125, :index 15885}
{:type :fail, :f :read, :value nil, :process 3, :time 46086548677, :error :connect, :index 15887}
{:type :invoke, :f :write, :value 0, :process 7, :time 46142205049, :index 15900}
{:type :fail, :f :write, :value 0, :process 7, :time 46144250039, :error :connect, :index 15901}
{:type :invoke, :f :cas, :value [4 1], :process 21, :time 46145666361, :index 15902}
{:type :fail, :f :cas, :value [4 1], :process 21, :time 46147644179, :error :connect, :index 15903}
{:type :invoke, :f :write, :value 2, :process 7, :time 46151530329, :index 15905}
{:type :fail, :f :write, :value 2, :process 7, :time 46153199695, :error :connect, :index 15907}
{:type :invoke, :f :cas, :value [4 1], :process 5, :time 46160108884, :index 15909}
{:type :fail, :f :cas, :value [4 1], :process 5, :time 46162235062, :error :connect, :index 15912}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 46170880256, :index 15914}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 46172742314, :error :connect, :index 15915}
{:type :invoke, :f :write, :value 4, :process 8, :time 46179346641, :index 15916}
{:type :fail, :f :write, :value 4, :process 8, :time 46180962233, :error :connect, :index 15917}
{:type :invoke, :f :read, :value nil, :process 4, :time 46182091841, :index 15918}
{:type :invoke, :f :cas, :value [2 0], :process 21, :time 46182912162, :index 15919}
{:type :fail, :f :read, :value nil, :process 4, :time 46183897520, :error :connect, :index 15920}
{:type :fail, :f :cas, :value [2 0], :process 21, :time 46184945013, :error :connect, :index 15921}
{:type :invoke, :f :write, :value 2, :process 6, :time 46195962528, :index 15922}
{:type :fail, :f :write, :value 2, :process 6, :time 46197578656, :error :connect, :index 15923}
{:type :invoke, :f :write, :value 2, :process 4, :time 46199171885, :index 15924}
{:type :fail, :f :write, :value 2, :process 4, :time 46200759861, :error :connect, :index 15925}
{:type :invoke, :f :write, :value 0, :process 29, :time 46203428567, :index 15926}
{:type :fail, :f :write, :value 0, :process 29, :time 46204986901, :error :connect, :index 15927}
{:type :invoke, :f :cas, :value [0 4], :process 5, :time 46225488750, :index 15928}
{:type :fail, :f :cas, :value [0 4], :process 5, :time 46227366372, :error :connect, :index 15929}
{:type :invoke, :f :read, :value nil, :process 6, :time 46229841409, :index 15930}
{:type :fail, :f :read, :value nil, :process 6, :time 46231677555, :error :connect, :index 15931}
{:type :invoke, :f :write, :value 0, :process 7, :time 46232440448, :index 15932}
{:type :fail, :f :write, :value 0, :process 7, :time 46234071781, :error :connect, :index 15933}
{:type :invoke, :f :read, :value nil, :process 22, :time 46238704781, :index 15938}
{:type :fail, :f :read, :value nil, :process 22, :time 46240759710, :error :connect, :index 15939}
{:type :invoke, :f :read, :value nil, :process 0, :time 46258934799, :index 15950}
{:type :fail, :f :read, :value nil, :process 0, :time 46260982530, :error :connect, :index 15951}
{:type :invoke, :f :write, :value 3, :process 21, :time 46280198474, :index 15959}
{:type :fail, :f :write, :value 3, :process 21, :time 46282021687, :error :connect, :index 15961}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 46341230432, :index 15974}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 46343082064, :error :connect, :index 15975}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 46370012813, :index 15994}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 46371940265, :error :connect, :index 15996}
{:type :invoke, :f :write, :value 2, :process 4, :time 46384016204, :index 16000}
{:type :fail, :f :write, :value 2, :process 4, :time 46386018044, :error :connect, :index 16001}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
