{:type :invoke, :f :cas, :value [0 0], :process 3, :time 2490426655, :index 817}
{:type :invoke, :f :read, :value nil, :process 4, :time 2490880973, :index 818}
{:type :invoke, :f :write, :value 2, :process 6, :time 2494388811, :index 820}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 2495733566, :error :not-found, :index 821}
{:type :ok, :f :read, :value nil, :process 4, :time 2496506764, :index 822}
{:type :ok, :f :write, :value 2, :process 6, :time 2499505773, :index 823}
{:type :invoke, :f :read, :value nil, :process 4, :time 2536766702, :index 828}
{:type :invoke, :f :read, :value nil, :process 7, :time 2539024776, :index 829}
{:type :ok, :f :read, :value 2, :process 4, :time 2542069928, :index 830}
{:type :ok, :f :read, :value 2, :process 7, :time 2544639929, :index 832}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 2561353465, :index 835}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 2567045282, :index 838}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 2573873905, :index 841}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 2579629362, :index 844}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 2579830606, :index 845}
{:type :invoke, :f :read, :value nil, :process 8, :time 2582127614, :index 846}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 2584889817, :index 848}
{:type :invoke, :f :cas, :value [1 0], :process 7, :time 2585900217, :index 849}
{:type :ok, :f :read, :value 2, :process 8, :time 2587204071, :index 850}
{:type :invoke, :f :read, :value nil, :process 6, :time 2590765636, :index 852}
{:type :fail, :f :cas, :value [1 0], :process 7, :time 2591381647, :index 853}
{:type :invoke, :f :write, :value 2, :process 8, :time 2595463215, :index 856}
{:type :ok, :f :read, :value 2, :process 6, :time 2596516546, :index 857}
{:type :invoke, :f :write, :value 2, :process 0, :time 2596596509, :index 858}
{:type :ok, :f :write, :value 2, :process 8, :time 2601022400, :index 861}
{:type :ok, :f :write, :value 2, :process 0, :time 2601090070, :index 862}
{:type :invoke, :f :write, :value 1, :process 5, :time 2602131359, :index 864}
{:type :ok, :f :write, :value 1, :process 5, :time 2606871418, :index 867}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 2607792484, :index 868}
{:type :invoke, :f :write, :value 1, :process 0, :time 2608337807, :index 869}
{:type :ok, :f :cas, :value [1 2], :process 6, :time 2614375043, :index 870}
{:type :ok, :f :write, :value 1, :process 0, :time 2615362185, :index 871}
{:type :invoke, :f :write, :value 3, :process 3, :time 2619991224, :index 873}
{:type :ok, :f :write, :value 3, :process 3, :time 2625306708, :index 876}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 2627652898, :index 877}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 2633020508, :index 880}
{:type :invoke, :f :read, :value nil, :process 9, :time 2634061295, :index 881}
{:type :ok, :f :read, :value 3, :process 9, :time 2638922520, :index 883}
{:type :invoke, :f :write, :value 1, :process 0, :time 2674619899, :index 890}
{:type :invoke, :f :cas, :value [2 0], :process 1, :time 2678181890, :index 891}
{:type :ok, :f :write, :value 1, :process 0, :time 2678993667, :index 892}
{:type :fail, :f :cas, :value [2 0], :process 1, :time 2683617738, :index 894}
{:type :invoke, :f :read, :value nil, :process 4, :time 2690319941, :index 897}
{:type :ok, :f :read, :value 1, :process 4, :time 2695902271, :index 899}
{:type :invoke, :f :read, :value nil, :process 0, :time 2696224491, :index 900}
{:type :ok, :f :read, :value 1, :process 0, :time 2700528634, :index 901}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 2701886668, :index 902}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 2707429930, :index 904}
{:type :invoke, :f :read, :value nil, :process 8, :time 2725299607, :index 907}
{:type :invoke, :f :write, :value 1, :process 2, :time 2726712612, :index 908}
{:type :invoke, :f :write, :value 0, :process 9, :time 2731196308, :index 909}
{:type :ok, :f :read, :value 1, :process 8, :time 2732351072, :index 910}
{:type :ok, :f :write, :value 1, :process 2, :time 2732968261, :index 911}
{:type :ok, :f :write, :value 0, :process 9, :time 2736549939, :index 913}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 2750283180, :index 915}
{:type :fail, :f :cas, :value [1 3], :process 7, :time 2755263832, :index 917}
{:type :invoke, :f :read, :value nil, :process 1, :time 2762886337, :index 919}
{:type :ok, :f :read, :value 0, :process 1, :time 2768847020, :index 923}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 2771782889, :index 924}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 2777018866, :index 926}
{:type :invoke, :f :read, :value nil, :process 3, :time 2779566690, :index 928}
{:type :invoke, :f :read, :value nil, :process 7, :time 2780521261, :index 929}
{:type :invoke, :f :read, :value nil, :process 1, :time 2781086967, :index 930}
{:type :invoke, :f :write, :value 3, :process 2, :time 2783345751, :index 933}
{:type :ok, :f :read, :value 0, :process 3, :time 2785864086, :index 934}
{:type :ok, :f :read, :value 0, :process 1, :time 2786215278, :index 935}
{:type :ok, :f :read, :value 0, :process 7, :time 2786896463, :index 936}
{:type :ok, :f :write, :value 3, :process 2, :time 2789567963, :index 937}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 2800650850, :index 940}
{:type :invoke, :f :write, :value 4, :process 1, :time 2803460917, :index 941}
{:type :invoke, :f :write, :value 4, :process 5, :time 2806106412, :index 942}
{:type :ok, :f :cas, :value [3 1], :process 6, :time 2806765858, :index 943}
{:type :ok, :f :write, :value 4, :process 1, :time 2808373161, :index 944}
{:type :ok, :f :write, :value 4, :process 5, :time 2810046163, :index 945}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 2834645785, :index 950}
{:type :fail, :f :cas, :value [1 0], :process 8, :time 2841107016, :index 953}
{:type :invoke, :f :cas, :value [1 2], :process 2, :time 2849823616, :index 954}
{:type :invoke, :f :read, :value nil, :process 0, :time 2855299248, :index 955}
{:type :fail, :f :cas, :value [1 2], :process 2, :time 2855496940, :index 956}
{:type :ok, :f :read, :value 4, :process 0, :time 2860555586, :index 960}
{:type :invoke, :f :read, :value nil, :process 4, :time 2875145310, :index 966}
{:type :invoke, :f :write, :value 2, :process 3, :time 2880128028, :index 968}
{:type :ok, :f :write, :value 2, :process 3, :time 2885329007, :index 970}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 2900634029, :index 972}
{:type :fail, :f :cas, :value [1 2], :process 1, :time 2906046843, :index 973}
{:type :invoke, :f :write, :value 1, :process 7, :time 2916126051, :index 974}
{:type :invoke, :f :cas, :value [1 1], :process 9, :time 2919807852, :index 976}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 2963375519, :index 985}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 2967010823, :index 987}
{:type :fail, :f :cas, :value [1 0], :process 8, :time 2969080579, :index 988}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 2972672008, :index 990}
{:type :invoke, :f :write, :value 3, :process 3, :time 2984617627, :index 991}
{:type :ok, :f :write, :value 3, :process 3, :time 2989976482, :index 992}
{:type :invoke, :f :cas, :value [3 0], :process 1, :time 2990312394, :index 993}
{:type :ok, :f :cas, :value [3 0], :process 1, :time 2995507994, :index 994}
{:type :invoke, :f :cas, :value [0 3], :process 5, :time 3006308369, :index 997}
{:type :invoke, :f :write, :value 1, :process 2, :time 3008747799, :index 998}
{:type :ok, :f :cas, :value [0 3], :process 5, :time 3011304306, :index 999}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 3017250668, :index 1000}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 3022542907, :index 1001}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 3049347093, :index 1006}
{:type :invoke, :f :write, :value 2, :process 6, :time 3052911686, :index 1008}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 3055792176, :index 1010}
{:type :ok, :f :write, :value 2, :process 6, :time 3058231947, :index 1011}
{:type :invoke, :f :read, :value nil, :process 0, :time 3059800038, :index 1012}
{:type :ok, :f :read, :value 2, :process 0, :time 3065292560, :index 1013}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 3071802537, :index 1014}
{:type :invoke, :f :cas, :value [2 2], :process 1, :time 3076797854, :index 1016}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 3077490032, :index 1017}
{:type :ok, :f :cas, :value [2 2], :process 1, :time 3082193780, :index 1019}
{:type :invoke, :f :cas, :value [1 4], :process 1, :time 3082321163, :index 1020}
{:type :invoke, :f :write, :value 1, :process 6, :time 3085532942, :index 1021}
{:type :fail, :f :cas, :value [1 4], :process 1, :time 3088201077, :index 1022}
{:type :ok, :f :write, :value 1, :process 6, :time 3091104048, :index 1024}
{:type :invoke, :f :read, :value nil, :process 1, :time 3122457810, :index 1028}
{:type :invoke, :f :read, :value nil, :process 3, :time 3126759625, :index 1029}
{:type :ok, :f :read, :value 1, :process 1, :time 3127353583, :index 1030}
{:type :ok, :f :read, :value 1, :process 3, :time 3132116882, :index 1031}
{:type :invoke, :f :read, :value nil, :process 1, :time 3137629223, :index 1032}
{:type :ok, :f :read, :value 1, :process 1, :time 3142403955, :index 1033}
{:type :invoke, :f :cas, :value [4 4], :process 1, :time 3161661385, :index 1034}
{:type :fail, :f :cas, :value [4 4], :process 1, :time 3167181044, :index 1035}
{:type :invoke, :f :write, :value 3, :process 6, :time 3174367889, :index 1037}
{:type :ok, :f :write, :value 3, :process 6, :time 3179656943, :index 1039}
{:type :invoke, :f :read, :value nil, :process 6, :time 3185907903, :index 1040}
{:type :ok, :f :read, :value 3, :process 6, :time 3191313772, :index 1041}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 3192573386, :index 1042}
{:type :ok, :f :cas, :value [3 0], :process 5, :time 3197412244, :index 1043}
{:type :ok, :f :write, :value 1, :process 7, :time 3201723513, :index 1047}
{:type :ok, :f :write, :value 1, :process 2, :time 3202042343, :index 1048}
{:type :invoke, :f :read, :value nil, :process 8, :time 3224077214, :index 1056}
{:type :ok, :f :read, :value 1, :process 8, :time 3228699855, :index 1057}
{:type :invoke, :f :write, :value 2, :process 0, :time 3231555575, :index 1058}
{:type :ok, :f :write, :value 2, :process 0, :time 3236435739, :index 1060}
{:type :invoke, :f :write, :value 4, :process 1, :time 3238443278, :index 1062}
{:type :ok, :f :write, :value 4, :process 1, :time 3243729987, :index 1063}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 3251693418, :index 1064}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 3256912032, :index 1067}
{:type :invoke, :f :write, :value 0, :process 0, :time 3283182949, :index 1076}
{:type :ok, :f :write, :value 0, :process 0, :time 3287613238, :index 1079}
{:type :invoke, :f :write, :value 4, :process 1, :time 3295997110, :index 1082}
{:type :invoke, :f :read, :value nil, :process 3, :time 3305412113, :index 1083}
{:type :ok, :f :write, :value 4, :process 1, :time 3309176018, :index 1084}
{:type :ok, :f :read, :value 4, :process 3, :time 3313586798, :index 1085}
{:type :invoke, :f :cas, :value [3 3], :process 7, :time 3326970621, :index 1088}
{:type :fail, :f :cas, :value [3 3], :process 7, :time 3332155522, :index 1089}
{:type :invoke, :f :write, :value 1, :process 3, :time 3340864061, :index 1090}
{:type :ok, :f :write, :value 1, :process 3, :time 3346094093, :index 1091}
{:type :ok, :f :read, :value 1, :process 4, :time 3358834124, :index 1093}
{:type :ok, :f :cas, :value [1 1], :process 9, :time 3358993880, :index 1094}
{:type :invoke, :f :write, :value 4, :process 6, :time 3366578657, :index 1097}
{:type :invoke, :f :write, :value 2, :process 3, :time 3367356050, :index 1099}
{:type :ok, :f :write, :value 4, :process 6, :time 3371671491, :index 1101}
{:type :ok, :f :write, :value 2, :process 3, :time 3372196471, :index 1102}
{:type :invoke, :f :read, :value nil, :process 2, :time 3379303259, :index 1104}
{:type :invoke, :f :write, :value 4, :process 8, :time 3379989363, :index 1106}
{:type :ok, :f :read, :value 2, :process 2, :time 3385253684, :index 1107}
{:type :ok, :f :write, :value 4, :process 8, :time 3385557664, :index 1109}
{:type :invoke, :f :cas, :value [4 4], :process 5, :time 3395679506, :index 1111}
{:type :ok, :f :cas, :value [4 4], :process 5, :time 3400476501, :index 1113}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 3403929962, :index 1114}
{:type :invoke, :f :read, :value nil, :process 5, :time 3405732953, :index 1115}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 3409608672, :index 1118}
{:type :ok, :f :read, :value 4, :process 5, :time 3410091353, :index 1119}
{:type :invoke, :f :write, :value 3, :process 8, :time 3413789500, :index 1122}
{:type :ok, :f :write, :value 3, :process 8, :time 3418884114, :index 1125}
{:type :invoke, :f :write, :value 4, :process 0, :time 3443870948, :index 1130}
{:type :invoke, :f :write, :value 3, :process 6, :time 3446868811, :index 1131}
{:type :ok, :f :write, :value 4, :process 0, :time 3448475751, :index 1132}
{:type :ok, :f :write, :value 3, :process 6, :time 3451711713, :index 1133}
{:type :invoke, :f :write, :value 2, :process 9, :time 3466293767, :index 1137}
{:type :invoke, :f :write, :value 0, :process 7, :time 3470440692, :index 1138}
{:type :ok, :f :write, :value 2, :process 9, :time 3471690871, :index 1139}
{:type :ok, :f :write, :value 0, :process 7, :time 3475572358, :index 1141}
{:type :invoke, :f :cas, :value [4 2], :process 1, :time 3495450412, :index 1147}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 3496120474, :index 1149}
{:type :fail, :f :cas, :value [4 2], :process 1, :time 3501466577, :index 1150}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 3502163959, :index 1151}
{:type :invoke, :f :write, :value 3, :process 0, :time 3505741517, :index 1152}
{:type :ok, :f :write, :value 3, :process 0, :time 3510448137, :index 1154}
{:type :invoke, :f :write, :value 1, :process 2, :time 3520541685, :index 1157}
{:type :ok, :f :write, :value 1, :process 2, :time 3526236639, :index 1159}
{:type :invoke, :f :cas, :value [1 3], :process 9, :time 3533956311, :index 1160}
{:type :ok, :f :cas, :value [1 3], :process 9, :time 3539323714, :index 1161}
{:type :invoke, :f :write, :value 0, :process 1, :time 3550722693, :index 1166}
{:type :ok, :f :write, :value 0, :process 1, :time 3556316143, :index 1167}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 3560466513, :index 1169}
{:type :invoke, :f :read, :value nil, :process 8, :time 3563145708, :index 1170}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 3566265651, :index 1172}
{:type :ok, :f :read, :value 0, :process 8, :time 3568555180, :index 1174}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 3591823803, :index 1180}
{:type :invoke, :f :read, :value nil, :process 5, :time 3593350210, :index 1183}
{:type :ok, :f :read, :value 0, :process 5, :time 3598356242, :index 1185}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 3601828807, :index 1187}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 3608963461, :index 1188}
{:type :fail, :f :cas, :value [4 4], :process 6, :time 3614511853, :index 1190}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 3698442840, :index 1206}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 3698762368, :index 1207}
{:type :ok, :f :cas, :value [0 3], :process 4, :time 3704162031, :index 1210}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 3704778637, :index 1211}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
