{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :invoke, :f :write, :value 3, :process 10, :time 51541072786, :index 18054}
{:type :fail, :f :write, :value 3, :process 10, :time 51543134346, :error :connect, :index 18056}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :invoke, :f :write, :value 2, :process 10, :time 51571396646, :index 18067}
{:type :fail, :f :write, :value 2, :process 10, :time 51573367066, :error :connect, :index 18068}
{:type :invoke, :f :write, :value 1, :process 32, :time 51585805213, :index 18071}
{:type :fail, :f :write, :value 1, :process 32, :time 51587619624, :error :connect, :index 18073}
{:type :invoke, :f :cas, :value [2 2], :process 10, :time 51603624491, :index 18077}
{:type :fail, :f :cas, :value [2 2], :process 10, :time 51605477512, :error :connect, :index 18078}
{:type :invoke, :f :write, :value 2, :process 15, :time 51610319636, :index 18081}
{:type :fail, :f :write, :value 2, :process 15, :time 51612374530, :error :connect, :index 18082}
{:type :invoke, :f :read, :value nil, :process 37, :time 51619615145, :index 18083}
{:type :fail, :f :read, :value nil, :process 37, :time 51621228243, :error :connect, :index 18084}
{:type :invoke, :f :read, :value nil, :process 36, :time 51641526286, :index 18089}
{:type :fail, :f :read, :value nil, :process 36, :time 51643472970, :error :connect, :index 18091}
{:type :invoke, :f :write, :value 3, :process 18, :time 51643833610, :index 18092}
{:type :fail, :f :write, :value 3, :process 18, :time 51645482484, :error :connect, :index 18094}
{:type :invoke, :f :write, :value 1, :process 39, :time 51660282957, :index 18096}
{:type :invoke, :f :write, :value 3, :process 15, :time 51660923042, :index 18097}
{:type :fail, :f :write, :value 1, :process 39, :time 51662523165, :error :connect, :index 18100}
{:type :fail, :f :write, :value 3, :process 15, :time 51663219580, :error :connect, :index 18102}
{:type :invoke, :f :read, :value nil, :process 34, :time 51676153892, :index 18105}
{:type :fail, :f :read, :value nil, :process 34, :time 51677664586, :error :connect, :index 18106}
{:type :invoke, :f :cas, :value [4 0], :process 34, :time 51691932791, :index 18110}
{:type :fail, :f :cas, :value [4 0], :process 34, :time 51693973337, :error :connect, :index 18112}
{:type :invoke, :f :read, :value nil, :process 11, :time 51699675958, :index 18113}
{:type :fail, :f :read, :value nil, :process 11, :time 51701545171, :error :connect, :index 18114}
{:type :invoke, :f :cas, :value [1 0], :process 36, :time 51701741823, :index 18115}
{:type :invoke, :f :write, :value 1, :process 33, :time 51702262065, :index 18116}
{:type :fail, :f :cas, :value [1 0], :process 36, :time 51703470335, :error :connect, :index 18117}
{:type :fail, :f :write, :value 1, :process 33, :time 51704364896, :error :connect, :index 18118}
{:type :invoke, :f :write, :value 3, :process 33, :time 51704474978, :index 18119}
{:type :fail, :f :write, :value 3, :process 33, :time 51706250962, :error :connect, :index 18120}
{:type :invoke, :f :read, :value nil, :process 33, :time 51718511212, :index 18122}
{:type :fail, :f :read, :value nil, :process 33, :time 51720312842, :error :connect, :index 18124}
{:type :invoke, :f :write, :value 4, :process 36, :time 51744735244, :index 18129}
{:type :invoke, :f :cas, :value [3 0], :process 39, :time 51745069154, :index 18130}
{:type :fail, :f :write, :value 4, :process 36, :time 51746599214, :error :connect, :index 18131}
{:type :fail, :f :cas, :value [3 0], :process 39, :time 51746911539, :error :connect, :index 18132}
{:type :invoke, :f :read, :value nil, :process 32, :time 51747883301, :index 18133}
{:type :fail, :f :read, :value nil, :process 32, :time 51749756084, :error :connect, :index 18134}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 51771754512, :index 18141}
{:type :fail, :f :cas, :value [0 3], :process 10, :time 51773714561, :error :connect, :index 18144}
{:type :invoke, :f :read, :value nil, :process 32, :time 51791011877, :index 18148}
{:type :fail, :f :read, :value nil, :process 32, :time 51792727948, :error :connect, :index 18150}
{:type :invoke, :f :read, :value nil, :process 39, :time 51793156033, :index 18151}
{:type :fail, :f :read, :value nil, :process 39, :time 51794890070, :error :connect, :index 18153}
{:type :invoke, :f :read, :value nil, :process 36, :time 51798884877, :index 18154}
{:type :fail, :f :read, :value nil, :process 36, :time 51800651967, :error :connect, :index 18155}
{:type :invoke, :f :read, :value nil, :process 18, :time 51812743944, :index 18159}
{:type :fail, :f :read, :value nil, :process 18, :time 51814562192, :error :connect, :index 18161}
{:type :invoke, :f :cas, :value [1 0], :process 37, :time 51814503793, :index 18162}
{:type :fail, :f :cas, :value [1 0], :process 37, :time 51816643723, :error :connect, :index 18164}
{:type :invoke, :f :cas, :value [0 3], :process 36, :time 51817931397, :index 18165}
{:type :fail, :f :cas, :value [0 3], :process 36, :time 51820031595, :error :connect, :index 18167}
{:type :invoke, :f :cas, :value [0 3], :process 34, :time 51842239438, :index 18174}
{:type :fail, :f :cas, :value [0 3], :process 34, :time 51844061487, :error :connect, :index 18175}
{:type :invoke, :f :write, :value 1, :process 15, :time 51848461335, :index 18176}
{:type :fail, :f :write, :value 1, :process 15, :time 51850242115, :error :connect, :index 18177}
{:type :invoke, :f :read, :value nil, :process 11, :time 51850806223, :index 18178}
{:type :invoke, :f :cas, :value [0 2], :process 33, :time 51851528871, :index 18179}
{:type :fail, :f :read, :value nil, :process 11, :time 51852432781, :error :connect, :index 18180}
{:type :fail, :f :cas, :value [0 2], :process 33, :time 51853163803, :error :connect, :index 18181}
{:type :invoke, :f :read, :value nil, :process 39, :time 51856179004, :index 18184}
{:type :fail, :f :read, :value nil, :process 39, :time 51857913146, :error :connect, :index 18185}
{:type :invoke, :f :cas, :value [4 0], :process 11, :time 51879672444, :index 18186}
{:type :fail, :f :cas, :value [4 0], :process 11, :time 51881501417, :error :connect, :index 18187}
{:type :invoke, :f :write, :value 1, :process 37, :time 51893929559, :index 18190}
{:type :fail, :f :write, :value 1, :process 37, :time 51895745620, :error :connect, :index 18191}
{:type :invoke, :f :write, :value 3, :process 39, :time 51900170836, :index 18192}
{:type :fail, :f :write, :value 3, :process 39, :time 51902088548, :error :connect, :index 18194}
{:type :invoke, :f :write, :value 2, :process 18, :time 51904795282, :index 18196}
{:type :invoke, :f :cas, :value [4 3], :process 34, :time 51905324620, :index 18197}
{:type :fail, :f :write, :value 2, :process 18, :time 51906427623, :error :connect, :index 18198}
{:type :invoke, :f :write, :value 1, :process 15, :time 51906515916, :index 18199}
{:type :fail, :f :write, :value 1, :process 15, :time 51908265585, :error :connect, :index 18200}
{:type :fail, :f :cas, :value [4 3], :process 34, :time 51909896960, :error :connect, :index 18202}
{:type :invoke, :f :cas, :value [1 2], :process 32, :time 51916999255, :index 18204}
{:type :fail, :f :cas, :value [1 2], :process 32, :time 51918905759, :error :connect, :index 18206}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 51920351898, :index 18208}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 51922060691, :error :connect, :index 18209}
{:type :invoke, :f :write, :value 1, :process 10, :time 51937995801, :index 18215}
{:type :fail, :f :write, :value 1, :process 10, :time 51939749865, :error :connect, :index 18219}
{:type :invoke, :f :read, :value nil, :process 34, :time 51940175470, :index 18220}
{:type :fail, :f :read, :value nil, :process 34, :time 51942095416, :error :connect, :index 18221}
{:type :invoke, :f :read, :value nil, :process 11, :time 51983761791, :index 18226}
{:type :fail, :f :read, :value nil, :process 11, :time 51985744202, :error :connect, :index 18227}
{:type :invoke, :f :write, :value 0, :process 10, :time 51994037991, :index 18230}
{:type :fail, :f :write, :value 0, :process 10, :time 51995983310, :error :connect, :index 18232}
{:type :invoke, :f :write, :value 1, :process 33, :time 52007420096, :index 18234}
{:type :invoke, :f :read, :value nil, :process 36, :time 52008299580, :index 18235}
{:type :fail, :f :write, :value 1, :process 33, :time 52009484847, :error :connect, :index 18236}
{:type :fail, :f :read, :value nil, :process 36, :time 52009881181, :error :connect, :index 18237}
{:type :invoke, :f :write, :value 2, :process 10, :time 52017255599, :index 18238}
{:type :fail, :f :write, :value 2, :process 10, :time 52019199196, :error :connect, :index 18240}
{:type :invoke, :f :cas, :value [2 3], :process 36, :time 52051014896, :index 18250}
{:type :invoke, :f :cas, :value [3 1], :process 37, :time 52051018247, :index 18251}
{:type :fail, :f :cas, :value [2 3], :process 36, :time 52053202440, :error :connect, :index 18253}
{:type :fail, :f :cas, :value [3 1], :process 37, :time 52053202456, :error :connect, :index 18254}
{:type :invoke, :f :cas, :value [0 4], :process 33, :time 52082752773, :index 18258}
{:type :invoke, :f :cas, :value [0 0], :process 39, :time 52084331991, :index 18260}
{:type :fail, :f :cas, :value [0 4], :process 33, :time 52085258436, :error :connect, :index 18262}
{:type :fail, :f :cas, :value [0 0], :process 39, :time 52086331254, :error :connect, :index 18263}
{:type :invoke, :f :write, :value 4, :process 18, :time 52087704427, :index 18265}
{:type :fail, :f :write, :value 4, :process 18, :time 52089535741, :error :connect, :index 18267}
{:type :invoke, :f :write, :value 4, :process 15, :time 52100529635, :index 18268}
{:type :fail, :f :write, :value 4, :process 15, :time 52102202508, :error :connect, :index 18269}
{:type :invoke, :f :write, :value 0, :process 33, :time 52103512557, :index 18271}
{:type :fail, :f :write, :value 0, :process 33, :time 52105370733, :error :connect, :index 18273}
{:type :invoke, :f :read, :value nil, :process 32, :time 52112178465, :index 18276}
{:type :fail, :f :read, :value nil, :process 32, :time 52114176827, :error :connect, :index 18277}
{:type :invoke, :f :cas, :value [2 2], :process 34, :time 52122356286, :index 18280}
{:type :invoke, :f :cas, :value [0 1], :process 11, :time 52123009121, :index 18281}
{:type :fail, :f :cas, :value [2 2], :process 34, :time 52124149677, :error :connect, :index 18282}
{:type :fail, :f :cas, :value [0 1], :process 11, :time 52124832053, :error :connect, :index 18283}
{:type :invoke, :f :write, :value 4, :process 10, :time 52127496605, :index 18284}
{:type :fail, :f :write, :value 4, :process 10, :time 52129228432, :error :connect, :index 18285}
{:type :invoke, :f :cas, :value [3 1], :process 39, :time 52137637260, :index 18290}
{:type :fail, :f :cas, :value [3 1], :process 39, :time 52139501505, :error :connect, :index 18292}
{:type :invoke, :f :write, :value 3, :process 11, :time 52164083643, :index 18302}
{:type :fail, :f :write, :value 3, :process 11, :time 52166162407, :error :connect, :index 18303}
{:type :invoke, :f :write, :value 3, :process 33, :time 52170604969, :index 18304}
{:type :fail, :f :write, :value 3, :process 33, :time 52172690682, :error :connect, :index 18305}
{:type :invoke, :f :write, :value 2, :process 10, :time 52175492403, :index 18309}
{:type :fail, :f :write, :value 2, :process 10, :time 52177193416, :error :connect, :index 18311}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 52180948174, :index 18312}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 52182823434, :error :connect, :index 18313}
{:type :invoke, :f :read, :value nil, :process 36, :time 52189494810, :index 18318}
{:type :fail, :f :read, :value nil, :process 36, :time 52191331740, :error :connect, :index 18319}
{:type :invoke, :f :cas, :value [0 2], :process 34, :time 52212427769, :index 18328}
{:type :fail, :f :cas, :value [0 2], :process 34, :time 52214155202, :error :connect, :index 18329}
{:type :invoke, :f :cas, :value [1 1], :process 32, :time 52243480997, :index 18341}
{:type :invoke, :f :read, :value nil, :process 18, :time 52244793796, :index 18342}
{:type :fail, :f :cas, :value [1 1], :process 32, :time 52245706935, :error :connect, :index 18344}
{:type :invoke, :f :write, :value 4, :process 10, :time 52245696796, :index 18345}
{:type :invoke, :f :write, :value 2, :process 37, :time 52246497836, :index 18346}
{:type :fail, :f :read, :value nil, :process 18, :time 52246896946, :error :connect, :index 18347}
{:type :fail, :f :write, :value 4, :process 10, :time 52247733892, :error :connect, :index 18348}
{:type :fail, :f :write, :value 2, :process 37, :time 52248273705, :error :connect, :index 18349}
{:type :invoke, :f :write, :value 3, :process 11, :time 52288429853, :index 18356}
{:type :invoke, :f :cas, :value [2 3], :process 15, :time 52289471605, :index 18357}
{:type :fail, :f :write, :value 3, :process 11, :time 52290325632, :error :connect, :index 18358}
{:type :fail, :f :cas, :value [2 3], :process 15, :time 52291539294, :error :connect, :index 18359}
{:type :invoke, :f :read, :value nil, :process 36, :time 52299596303, :index 18362}
{:type :fail, :f :read, :value nil, :process 36, :time 52301230196, :error :connect, :index 18363}
{:type :invoke, :f :cas, :value [0 3], :process 39, :time 52311772021, :index 18364}
{:type :fail, :f :cas, :value [0 3], :process 39, :time 52313444866, :error :connect, :index 18365}
{:type :invoke, :f :write, :value 2, :process 32, :time 52317956552, :index 18366}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 52318811999, :index 18367}
{:type :fail, :f :write, :value 2, :process 32, :time 52320089915, :error :connect, :index 18369}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 52320706007, :error :connect, :index 18370}
{:type :invoke, :f :read, :value nil, :process 34, :time 52343432160, :index 18373}
{:type :fail, :f :read, :value nil, :process 34, :time 52345628006, :error :connect, :index 18376}
{:type :invoke, :f :read, :value nil, :process 33, :time 52350089381, :index 18380}
{:type :invoke, :f :read, :value nil, :process 11, :time 52350587069, :index 18381}
{:type :fail, :f :read, :value nil, :process 33, :time 52352211719, :error :connect, :index 18382}
{:type :fail, :f :read, :value nil, :process 11, :time 52352518446, :error :connect, :index 18383}
{:type :invoke, :f :read, :value nil, :process 15, :time 52382980298, :index 18392}
{:type :fail, :f :read, :value nil, :process 15, :time 52385032571, :error :connect, :index 18393}
{:type :invoke, :f :read, :value nil, :process 18, :time 52386149286, :index 18394}
{:type :fail, :f :read, :value nil, :process 18, :time 52387943032, :error :connect, :index 18395}
{:type :invoke, :f :cas, :value [2 4], :process 39, :time 52397710128, :index 18400}
{:type :fail, :f :cas, :value [2 4], :process 39, :time 52399555640, :error :connect, :index 18401}
{:type :invoke, :f :read, :value nil, :process 10, :time 52404997077, :index 18404}
{:type :fail, :f :read, :value nil, :process 10, :time 52407032726, :error :connect, :index 18405}
{:type :invoke, :f :cas, :value [2 4], :process 18, :time 52409219690, :index 18407}
{:type :invoke, :f :write, :value 3, :process 32, :time 52410353193, :index 18409}
{:type :fail, :f :cas, :value [2 4], :process 18, :time 52411170726, :error :connect, :index 18410}
{:type :fail, :f :write, :value 3, :process 32, :time 52412228001, :error :connect, :index 18411}
{:type :invoke, :f :cas, :value [0 4], :process 32, :time 52412353905, :index 18412}
{:type :fail, :f :cas, :value [0 4], :process 32, :time 52413933625, :error :connect, :index 18413}
{:type :invoke, :f :read, :value nil, :process 11, :time 52425754472, :index 18421}
{:type :fail, :f :read, :value nil, :process 11, :time 52427359302, :error :connect, :index 18423}
{:type :invoke, :f :cas, :value [3 4], :process 37, :time 52433513762, :index 18426}
{:type :invoke, :f :write, :value 0, :process 32, :time 52435212482, :index 18427}
{:type :fail, :f :cas, :value [3 4], :process 37, :time 52435351525, :error :connect, :index 18428}
{:type :fail, :f :write, :value 0, :process 32, :time 52437112828, :error :connect, :index 18429}
{:type :invoke, :f :write, :value 0, :process 39, :time 52438736070, :index 18430}
{:type :fail, :f :write, :value 0, :process 39, :time 52440756890, :error :connect, :index 18431}
{:type :invoke, :f :read, :value nil, :process 36, :time 52482489644, :index 18436}
{:type :fail, :f :read, :value nil, :process 36, :time 52484180874, :error :connect, :index 18437}
{:type :invoke, :f :write, :value 1, :process 15, :time 52486296301, :index 18438}
{:type :fail, :f :write, :value 1, :process 15, :time 52488106524, :error :connect, :index 18439}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 52492293281, :index 18440}
{:type :fail, :f :cas, :value [1 2], :process 10, :time 52494132629, :error :connect, :index 18441}
{:type :invoke, :f :cas, :value [1 4], :process 36, :time 52509438220, :index 18442}
{:type :fail, :f :cas, :value [1 4], :process 36, :time 52511228413, :error :connect, :index 18443}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 52515601588, :index 18444}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 52517458483, :error :connect, :index 18445}
{:type :invoke, :f :write, :value 2, :process 34, :time 52534887253, :index 18454}
{:type :invoke, :f :read, :value nil, :process 33, :time 52535527543, :index 18456}
{:type :fail, :f :write, :value 2, :process 34, :time 52536756553, :error :connect, :index 18458}
{:type :fail, :f :read, :value nil, :process 33, :time 52537599151, :error :connect, :index 18459}
{:type :invoke, :f :read, :value nil, :process 37, :time 52541600293, :index 18460}
{:type :fail, :f :read, :value nil, :process 37, :time 52543556496, :error :connect, :index 18461}
{:type :invoke, :f :read, :value nil, :process 18, :time 52550448980, :index 18462}
{:type :fail, :f :read, :value nil, :process 18, :time 52552164507, :error :connect, :index 18463}
{:type :invoke, :f :cas, :value [2 0], :process 39, :time 52586032535, :index 18479}
{:type :fail, :f :cas, :value [2 0], :process 39, :time 52588096492, :error :connect, :index 18481}
{:type :invoke, :f :cas, :value [3 0], :process 32, :time 52635379607, :index 18498}
{:type :fail, :f :cas, :value [3 0], :process 32, :time 52637106991, :error :connect, :index 18499}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
