{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :invoke, :f :read, :value nil, :process 32, :time 35792484752, :index 6374}
{:type :ok, :f :read, :value nil, :process 32, :time 35798526728, :index 6377}
{:type :invoke, :f :write, :value 1, :process 16, :time 35836795264, :index 6385}
{:type :ok, :f :write, :value 1, :process 16, :time 35841991453, :index 6387}
{:type :invoke, :f :cas, :value [0 0], :process 32, :time 35869784355, :index 6391}
{:type :fail, :f :cas, :value [0 0], :process 32, :time 35875746970, :index 6392}
{:type :invoke, :f :write, :value 1, :process 55, :time 35885597590, :index 6393}
{:type :ok, :f :write, :value 1, :process 55, :time 35891595307, :index 6396}
{:type :invoke, :f :cas, :value [0 2], :process 31, :time 35919470296, :index 6406}
{:type :invoke, :f :write, :value 2, :process 13, :time 35920921815, :index 6407}
{:type :invoke, :f :cas, :value [3 2], :process 37, :time 35926445966, :index 6410}
{:type :ok, :f :write, :value 2, :process 13, :time 35927621055, :index 6411}
{:type :fail, :f :cas, :value [0 2], :process 31, :time 35927819711, :index 6412}
{:type :fail, :f :cas, :value [3 2], :process 37, :time 35931933849, :index 6414}
{:type :invoke, :f :read, :value nil, :process 32, :time 35932025864, :index 6415}
{:type :ok, :f :read, :value 2, :process 32, :time 35936649319, :index 6416}
{:type :invoke, :f :cas, :value [1 2], :process 31, :time 35939072877, :index 6418}
{:type :fail, :f :cas, :value [1 2], :process 31, :time 35944304612, :index 6420}
{:type :invoke, :f :write, :value 4, :process 30, :time 35950751491, :index 6422}
{:type :ok, :f :write, :value 4, :process 30, :time 35955744489, :index 6426}
{:type :invoke, :f :cas, :value [4 0], :process 59, :time 35976593748, :index 6433}
{:type :ok, :f :cas, :value [4 0], :process 59, :time 35982298456, :index 6434}
{:type :invoke, :f :read, :value nil, :process 16, :time 36011353148, :index 6443}
{:type :invoke, :f :read, :value nil, :process 31, :time 36013563751, :index 6445}
{:type :invoke, :f :read, :value nil, :process 30, :time 36014985987, :index 6446}
{:type :ok, :f :read, :value 0, :process 16, :time 36016160787, :index 6448}
{:type :ok, :f :read, :value 0, :process 31, :time 36018512131, :index 6449}
{:type :ok, :f :read, :value 0, :process 30, :time 36019523902, :index 6450}
{:type :invoke, :f :cas, :value [3 0], :process 59, :time 36058597870, :index 6460}
{:type :fail, :f :cas, :value [3 0], :process 59, :time 36063889089, :index 6462}
{:type :invoke, :f :cas, :value [2 3], :process 37, :time 36065192592, :index 6463}
{:type :invoke, :f :cas, :value [2 1], :process 31, :time 36066802541, :index 6464}
{:type :fail, :f :cas, :value [2 3], :process 37, :time 36070541682, :index 6465}
{:type :invoke, :f :cas, :value [2 3], :process 13, :time 36070893175, :index 6466}
{:type :fail, :f :cas, :value [2 1], :process 31, :time 36072219569, :index 6467}
{:type :fail, :f :cas, :value [2 3], :process 13, :time 36076165439, :index 6468}
{:type :invoke, :f :write, :value 1, :process 55, :time 36082851347, :index 6469}
{:type :invoke, :f :write, :value 3, :process 13, :time 36084415538, :index 6470}
{:type :ok, :f :write, :value 1, :process 55, :time 36087499342, :index 6472}
{:type :ok, :f :write, :value 3, :process 13, :time 36089767635, :index 6473}
{:type :invoke, :f :read, :value nil, :process 34, :time 36099186809, :index 6477}
{:type :ok, :f :read, :value 3, :process 34, :time 36104665477, :index 6481}
{:type :invoke, :f :cas, :value [0 4], :process 55, :time 36111762792, :index 6483}
{:type :fail, :f :cas, :value [0 4], :process 55, :time 36116104002, :index 6484}
{:type :invoke, :f :read, :value nil, :process 32, :time 36117927308, :index 6485}
{:type :ok, :f :read, :value 3, :process 32, :time 36123422115, :index 6487}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :invoke, :f :write, :value 0, :process 30, :time 36134781381, :index 6495}
{:type :ok, :f :write, :value 0, :process 30, :time 36139306716, :index 6497}
{:type :invoke, :f :write, :value 2, :process 31, :time 36139452558, :index 6498}
{:type :invoke, :f :cas, :value [4 2], :process 37, :time 36143799481, :index 6499}
{:type :ok, :f :write, :value 2, :process 31, :time 36144525149, :index 6500}
{:type :invoke, :f :write, :value 4, :process 16, :time 36198443869, :index 6515}
{:type :ok, :f :write, :value 4, :process 16, :time 36203338130, :index 6517}
{:type :invoke, :f :cas, :value [2 4], :process 32, :time 36216693921, :index 6518}
{:type :invoke, :f :read, :value nil, :process 13, :time 36220020216, :index 6519}
{:type :ok, :f :read, :value 4, :process 13, :time 36224817840, :index 6521}
{:type :invoke, :f :read, :value nil, :process 31, :time 36231767116, :index 6524}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :ok, :f :read, :value 4, :process 31, :time 36237007055, :index 6526}
{:type :invoke, :f :cas, :value [3 2], :process 31, :time 36253260563, :index 6530}
{:type :invoke, :f :write, :value 3, :process 59, :time 36259166109, :index 6531}
{:type :fail, :f :cas, :value [3 2], :process 31, :time 36259435564, :index 6532}
{:type :invoke, :f :write, :value 4, :process 34, :time 36273885359, :index 6533}
{:type :invoke, :f :cas, :value [1 2], :process 55, :time 36300365044, :index 6538}
{:type :fail, :f :cas, :value [1 2], :process 55, :time 36305803472, :index 6540}
{:type :invoke, :f :cas, :value [4 4], :process 30, :time 36334579737, :index 6545}
{:type :invoke, :f :write, :value 0, :process 13, :time 36338116848, :index 6546}
{:type :ok, :f :cas, :value [4 4], :process 30, :time 36339902851, :index 6547}
{:type :ok, :f :write, :value 0, :process 13, :time 36343325249, :index 6548}
{:type :invoke, :f :read, :value nil, :process 31, :time 36365678868, :index 6553}
{:type :ok, :f :read, :value 0, :process 31, :time 36370559854, :index 6554}
{:type :invoke, :f :cas, :value [3 0], :process 30, :time 36396190418, :index 6561}
{:type :invoke, :f :read, :value nil, :process 55, :time 36399066363, :index 6562}
{:type :invoke, :f :cas, :value [0 4], :process 16, :time 36400599193, :index 6563}
{:type :fail, :f :cas, :value [3 0], :process 30, :time 36401597338, :index 6564}
{:type :ok, :f :read, :value 0, :process 55, :time 36403447817, :index 6565}
{:type :ok, :f :cas, :value [0 4], :process 16, :time 36405346128, :index 6566}
{:type :invoke, :f :read, :value nil, :process 31, :time 36405821196, :index 6567}
{:type :invoke, :f :write, :value 0, :process 16, :time 36409633053, :index 6568}
{:type :ok, :f :read, :value 4, :process 31, :time 36410268436, :index 6569}
{:type :ok, :f :write, :value 0, :process 16, :time 36414713750, :index 6571}
{:type :invoke, :f :cas, :value [1 1], :process 31, :time 36436562136, :index 6577}
{:type :fail, :f :cas, :value [1 1], :process 31, :time 36442190905, :index 6578}
{:type :invoke, :f :cas, :value [0 0], :process 30, :time 36457857267, :index 6583}
{:type :ok, :f :cas, :value [0 0], :process 30, :time 36462819642, :index 6584}
{:type :invoke, :f :cas, :value [3 1], :process 30, :time 36482095560, :index 6587}
{:type :invoke, :f :write, :value 2, :process 13, :time 36484576645, :index 6588}
{:type :fail, :f :cas, :value [3 1], :process 30, :time 36487091681, :index 6589}
{:type :invoke, :f :write, :value 4, :process 30, :time 36489350507, :index 6590}
{:type :ok, :f :write, :value 2, :process 13, :time 36490047750, :index 6591}
{:type :ok, :f :write, :value 4, :process 30, :time 36493760157, :index 6592}
{:type :invoke, :f :write, :value 4, :process 13, :time 36500305151, :index 6595}
{:type :invoke, :f :read, :value nil, :process 31, :time 36505465423, :index 6596}
{:type :ok, :f :read, :value 4, :process 31, :time 36510700086, :index 6597}
{:type :invoke, :f :write, :value 2, :process 16, :time 36529955257, :index 6600}
{:type :ok, :f :write, :value 2, :process 16, :time 36534847554, :index 6602}
{:type :invoke, :f :read, :value nil, :process 55, :time 36598708043, :index 6612}
{:type :ok, :f :read, :value 2, :process 55, :time 36604404288, :index 6614}
{:type :invoke, :f :write, :value 2, :process 31, :time 36654983231, :index 6620}
{:type :ok, :f :write, :value 2, :process 31, :time 36661891687, :index 6621}
{:type :invoke, :f :cas, :value [4 4], :process 30, :time 36671053311, :index 6623}
{:type :invoke, :f :write, :value 0, :process 31, :time 36671205340, :index 6624}
{:type :fail, :f :cas, :value [4 4], :process 30, :time 36676259279, :index 6626}
{:type :ok, :f :write, :value 0, :process 31, :time 36677076899, :index 6627}
{:type :invoke, :f :read, :value nil, :process 55, :time 36710666750, :index 6631}
{:type :ok, :f :read, :value 0, :process 55, :time 36715574191, :index 6633}
{:type :invoke, :f :cas, :value [1 3], :process 16, :time 36717112563, :index 6635}
{:type :fail, :f :cas, :value [1 3], :process 16, :time 36723290079, :index 6637}
{:type :invoke, :f :read, :value nil, :process 55, :time 36796810975, :index 6646}
{:type :ok, :f :read, :value 0, :process 55, :time 36802162362, :index 6647}
{:type :invoke, :f :read, :value nil, :process 16, :time 36817555778, :index 6649}
{:type :ok, :f :read, :value 0, :process 16, :time 36822385757, :index 6651}
{:type :invoke, :f :read, :value nil, :process 30, :time 36830530530, :index 6653}
{:type :ok, :f :read, :value 0, :process 30, :time 36835284314, :index 6655}
{:type :invoke, :f :read, :value nil, :process 31, :time 36839340767, :index 6656}
{:type :ok, :f :read, :value 0, :process 31, :time 36844435687, :index 6657}
{:type :invoke, :f :write, :value 4, :process 55, :time 36849337679, :index 6658}
{:type :invoke, :f :read, :value nil, :process 31, :time 36850690932, :index 6659}
{:type :ok, :f :write, :value 4, :process 55, :time 36853895868, :index 6661}
{:type :ok, :f :read, :value 4, :process 31, :time 36856685154, :index 6662}
{:type :invoke, :f :read, :value nil, :process 30, :time 36876542591, :index 6667}
{:type :ok, :f :read, :value 4, :process 30, :time 36880571286, :index 6669}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 36899703284, :index 6670}
{:type :fail, :f :cas, :value [2 0], :process 16, :time 36905722204, :index 6671}
{:type :invoke, :f :write, :value 4, :process 31, :time 36906941566, :index 6672}
{:type :ok, :f :write, :value 4, :process 31, :time 36912764275, :index 6674}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 36915981247, :index 6675}
{:type :fail, :f :cas, :value [3 2], :process 16, :time 36921183877, :index 6677}
{:type :invoke, :f :write, :value 4, :process 30, :time 36930825104, :index 6678}
{:type :ok, :f :write, :value 4, :process 30, :time 36935600260, :index 6679}
{:type :invoke, :f :write, :value 0, :process 55, :time 36986203906, :index 6690}
{:type :ok, :f :write, :value 0, :process 55, :time 36991914554, :index 6692}
{:type :invoke, :f :cas, :value [4 0], :process 55, :time 37024197785, :index 6694}
{:type :fail, :f :cas, :value [4 0], :process 55, :time 37029400182, :index 6695}
{:type :invoke, :f :write, :value 1, :process 16, :time 37030457358, :index 6696}
{:type :invoke, :f :write, :value 3, :process 31, :time 37036029216, :index 6697}
{:type :ok, :f :write, :value 1, :process 16, :time 37047939786, :index 6699}
{:type :ok, :f :write, :value 3, :process 31, :time 37048348558, :index 6700}
{:type :invoke, :f :read, :value nil, :process 30, :time 37076856120, :index 6704}
{:type :invoke, :f :read, :value nil, :process 31, :time 37079586156, :index 6705}
{:type :ok, :f :read, :value 3, :process 30, :time 37081686664, :index 6706}
{:type :ok, :f :read, :value 3, :process 31, :time 37085062166, :index 6708}
{:type :invoke, :f :read, :value nil, :process 16, :time 37137242637, :index 6714}
{:type :ok, :f :read, :value 3, :process 16, :time 37142655483, :index 6715}
{:type :invoke, :f :read, :value nil, :process 30, :time 37142966898, :index 6716}
{:type :ok, :f :read, :value 3, :process 30, :time 37147268422, :index 6717}
{:type :invoke, :f :cas, :value [3 1], :process 31, :time 37177318732, :index 6720}
{:type :ok, :f :cas, :value [3 1], :process 31, :time 37183569388, :index 6723}
{:type :invoke, :f :cas, :value [1 0], :process 55, :time 37190677323, :index 6724}
{:type :ok, :f :cas, :value [1 0], :process 55, :time 37195012217, :index 6725}
{:type :invoke, :f :cas, :value [0 2], :process 30, :time 37204528154, :index 6727}
{:type :ok, :f :cas, :value [0 2], :process 30, :time 37209312853, :index 6729}
{:type :invoke, :f :write, :value 1, :process 16, :time 37254922133, :index 6735}
{:type :invoke, :f :cas, :value [4 3], :process 55, :time 37278277791, :index 6737}
{:type :invoke, :f :write, :value 0, :process 31, :time 37312810337, :index 6740}
{:type :fail, :f :cas, :value [4 3], :process 55, :time 37344178877, :index 6744}
{:type :ok, :f :write, :value 1, :process 16, :time 37344926230, :index 6747}
{:type :ok, :f :write, :value 0, :process 31, :time 37345368275, :index 6748}
{:type :invoke, :f :read, :value nil, :process 30, :time 37380575937, :index 6751}
{:type :ok, :f :read, :value 0, :process 30, :time 37386312739, :index 6753}
{:type :invoke, :f :cas, :value [2 4], :process 31, :time 37434595342, :index 6762}
{:type :invoke, :f :write, :value 3, :process 55, :time 37437432119, :index 6763}
{:type :fail, :f :cas, :value [2 4], :process 31, :time 37442211456, :index 6764}
{:type :ok, :f :write, :value 3, :process 55, :time 37442621934, :index 6765}
{:type :invoke, :f :write, :value 4, :process 31, :time 37461473667, :index 6766}
{:type :ok, :f :write, :value 4, :process 31, :time 37467452108, :index 6767}
{:type :invoke, :f :read, :value nil, :process 16, :time 37481183936, :index 6768}
{:type :ok, :f :read, :value 4, :process 16, :time 37486117429, :index 6769}
{:type :invoke, :f :cas, :value [2 2], :process 30, :time 37516580093, :index 6781}
{:type :invoke, :f :write, :value 2, :process 16, :time 37519382108, :index 6782}
{:type :invoke, :f :read, :value nil, :process 55, :time 37578865923, :index 6784}
{:type :invoke, :f :cas, :value [4 4], :process 31, :time 37661717020, :index 6787}
{:type :fail, :f :cas, :value [2 2], :process 30, :time 37914188547, :index 6790}
{:type :ok, :f :write, :value 2, :process 16, :time 37915860550, :index 6793}
{:type :ok, :f :read, :value 2, :process 55, :time 37916143416, :index 6795}
{:type :fail, :f :cas, :value [4 4], :process 31, :time 37916526713, :index 6796}
{:type :invoke, :f :read, :value nil, :process 55, :time 37941981047, :index 6800}
{:type :ok, :f :read, :value 2, :process 55, :time 37947317036, :index 6801}
{:type :invoke, :f :write, :value 2, :process 31, :time 38018045958, :index 6812}
{:type :ok, :f :write, :value 2, :process 31, :time 38023155159, :index 6813}
{:type :invoke, :f :cas, :value [3 1], :process 31, :time 38083417404, :index 6814}
{:type :fail, :f :cas, :value [3 1], :process 31, :time 38089619996, :index 6816}
{:type :invoke, :f :cas, :value [3 4], :process 30, :time 38094514150, :index 6818}
{:type :fail, :f :cas, :value [3 4], :process 30, :time 38099514971, :index 6820}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 38102932439, :index 6822}
{:type :invoke, :f :cas, :value [1 0], :process 55, :time 38104587083, :index 6823}
{:type :fail, :f :cas, :value [3 2], :process 16, :time 38108183174, :index 6824}
{:type :fail, :f :cas, :value [1 0], :process 55, :time 38109628218, :index 6826}
{:type :invoke, :f :cas, :value [4 3], :process 55, :time 38112867602, :index 6827}
{:type :fail, :f :cas, :value [4 3], :process 55, :time 38117753391, :index 6830}
{:type :invoke, :f :read, :value nil, :process 30, :time 38208775475, :index 6842}
{:type :ok, :f :read, :value 2, :process 30, :time 38212672085, :index 6843}
{:type :invoke, :f :write, :value 4, :process 16, :time 38224443667, :index 6847}
{:type :ok, :f :write, :value 4, :process 16, :time 38229465385, :index 6849}
{:type :invoke, :f :read, :value nil, :process 31, :time 38275931746, :index 6851}
{:type :ok, :f :read, :value 4, :process 31, :time 38281019673, :index 6854}
{:type :info, :f :cas, :value [4 2], :process 37, :time 41150792427, :error :timeout, :index 7264}
{:type :info, :f :cas, :value [2 4], :process 32, :time 41221971046, :error :timeout, :index 7267}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :write, :value 3, :process 59, :time 41266151335, :error :timeout, :index 7274}
{:type :info, :f :write, :value 4, :process 34, :time 41276089855, :error :timeout, :index 7275}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :write, :value 4, :process 13, :time 41513723719, :error "indeterminate: Connect to ec2-107-23-238-236.compute-1.amazonaws.com:2379 timed out", :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
