{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :invoke, :f :write, :value 4, :process 11, :time 54691824837, :index 19296}
{:type :fail, :f :write, :value 4, :process 11, :time 54693642227, :error :connect, :index 19297}
{:type :invoke, :f :read, :value nil, :process 32, :time 54737830001, :index 19315}
{:type :fail, :f :read, :value nil, :process 32, :time 54739908155, :error :connect, :index 19318}
{:type :invoke, :f :read, :value nil, :process 34, :time 54785519477, :index 19332}
{:type :fail, :f :read, :value nil, :process 34, :time 54787625827, :error :connect, :index 19335}
{:type :invoke, :f :cas, :value [4 3], :process 36, :time 54801590420, :index 19340}
{:type :fail, :f :cas, :value [4 3], :process 36, :time 54803301216, :error :connect, :index 19342}
{:type :invoke, :f :write, :value 2, :process 37, :time 54807582174, :index 19348}
{:type :fail, :f :write, :value 2, :process 37, :time 54809589472, :error :connect, :index 19349}
{:type :invoke, :f :read, :value nil, :process 37, :time 54810856259, :index 19350}
{:type :fail, :f :read, :value nil, :process 37, :time 54812405283, :error :connect, :index 19351}
{:type :invoke, :f :read, :value nil, :process 36, :time 54844567572, :index 19361}
{:type :fail, :f :read, :value nil, :process 36, :time 54846496862, :error :connect, :index 19363}
{:type :invoke, :f :read, :value nil, :process 11, :time 54866915670, :index 19367}
{:type :fail, :f :read, :value nil, :process 11, :time 54868905543, :error :connect, :index 19371}
{:type :invoke, :f :cas, :value [4 2], :process 33, :time 54872299733, :index 19373}
{:type :fail, :f :cas, :value [4 2], :process 33, :time 54874561415, :error :connect, :index 19375}
{:type :invoke, :f :read, :value nil, :process 32, :time 54877177317, :index 19376}
{:type :fail, :f :read, :value nil, :process 32, :time 54879233136, :error :connect, :index 19379}
{:type :invoke, :f :cas, :value [4 4], :process 39, :time 54880918358, :index 19382}
{:type :invoke, :f :cas, :value [1 3], :process 11, :time 54882158865, :index 19383}
{:type :fail, :f :cas, :value [4 4], :process 39, :time 54882905113, :error :connect, :index 19384}
{:type :fail, :f :cas, :value [1 3], :process 11, :time 54884010769, :error :connect, :index 19385}
{:type :invoke, :f :read, :value nil, :process 33, :time 54901818377, :index 19392}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 54902278599, :index 19393}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 54904009520, :error :connect, :index 19394}
{:type :fail, :f :read, :value nil, :process 33, :time 54904009520, :error :connect, :index 19395}
{:type :invoke, :f :read, :value nil, :process 34, :time 54904093506, :index 19396}
{:type :fail, :f :read, :value nil, :process 34, :time 54906196531, :error :connect, :index 19397}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 54913306224, :index 19398}
{:type :fail, :f :cas, :value [0 0], :process 15, :time 54915017592, :error :connect, :index 19399}
{:type :invoke, :f :write, :value 2, :process 15, :time 54919279559, :index 19400}
{:type :fail, :f :write, :value 2, :process 15, :time 54921110079, :error :connect, :index 19401}
{:type :invoke, :f :write, :value 4, :process 34, :time 54946449644, :index 19404}
{:type :fail, :f :write, :value 4, :process 34, :time 54948029837, :error :connect, :index 19405}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 54964972134, :index 19409}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 54966873402, :error :connect, :index 19411}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 54974761961, :index 19412}
{:type :fail, :f :cas, :value [0 0], :process 36, :time 54976607883, :error :connect, :index 19413}
{:type :invoke, :f :write, :value 0, :process 10, :time 54979952027, :index 19414}
{:type :fail, :f :write, :value 0, :process 10, :time 54982075326, :error :connect, :index 19415}
{:type :invoke, :f :write, :value 0, :process 33, :time 54997298212, :index 19422}
{:type :fail, :f :write, :value 0, :process 33, :time 54999199713, :error :connect, :index 19423}
{:type :invoke, :f :read, :value nil, :process 34, :time 55000295338, :index 19424}
{:type :invoke, :f :cas, :value [1 1], :process 37, :time 55009939884, :index 19427}
{:type :fail, :f :read, :value nil, :process 34, :time 55012066107, :error :connect, :index 19428}
{:type :invoke, :f :write, :value 4, :process 15, :time 55011712290, :index 19430}
{:type :fail, :f :cas, :value [1 1], :process 37, :time 55014054397, :error :connect, :index 19432}
{:type :fail, :f :write, :value 4, :process 15, :time 55014512276, :error :connect, :index 19433}
{:type :invoke, :f :write, :value 1, :process 11, :time 55020762850, :index 19434}
{:type :invoke, :f :write, :value 0, :process 15, :time 55020767246, :index 19435}
{:type :fail, :f :write, :value 1, :process 11, :time 55023013216, :error :connect, :index 19436}
{:type :fail, :f :write, :value 0, :process 15, :time 55023013216, :error :connect, :index 19437}
{:type :invoke, :f :cas, :value [2 0], :process 32, :time 55037503011, :index 19438}
{:type :fail, :f :cas, :value [2 0], :process 32, :time 55039642019, :error :connect, :index 19439}
{:type :invoke, :f :cas, :value [3 4], :process 36, :time 55051887873, :index 19443}
{:type :fail, :f :cas, :value [3 4], :process 36, :time 55053847486, :error :connect, :index 19446}
{:type :invoke, :f :read, :value nil, :process 18, :time 55057136526, :index 19448}
{:type :invoke, :f :write, :value 0, :process 34, :time 55058245560, :index 19449}
{:type :fail, :f :read, :value nil, :process 18, :time 55059000083, :error :connect, :index 19450}
{:type :fail, :f :write, :value 0, :process 34, :time 55060022309, :error :connect, :index 19451}
{:type :invoke, :f :cas, :value [2 4], :process 39, :time 55062119727, :index 19452}
{:type :invoke, :f :write, :value 2, :process 10, :time 55062346988, :index 19453}
{:type :fail, :f :cas, :value [2 4], :process 39, :time 55064060488, :error :connect, :index 19454}
{:type :invoke, :f :write, :value 2, :process 39, :time 55064286001, :index 19455}
{:type :fail, :f :write, :value 2, :process 10, :time 55064357831, :error :connect, :index 19456}
{:type :fail, :f :write, :value 2, :process 39, :time 55066199302, :error :connect, :index 19457}
{:type :invoke, :f :write, :value 4, :process 32, :time 55066916013, :index 19458}
{:type :fail, :f :write, :value 4, :process 32, :time 55068546529, :error :connect, :index 19459}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 55068612423, :index 19460}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 55070595510, :error :connect, :index 19462}
{:type :invoke, :f :write, :value 1, :process 37, :time 55073323024, :index 19464}
{:type :fail, :f :write, :value 1, :process 37, :time 55075126315, :error :connect, :index 19465}
{:type :invoke, :f :read, :value nil, :process 39, :time 55078461655, :index 19467}
{:type :fail, :f :read, :value nil, :process 39, :time 55080239307, :error :connect, :index 19469}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 55080877938, :index 19470}
{:type :fail, :f :cas, :value [0 2], :process 10, :time 55082722328, :error :connect, :index 19471}
{:type :invoke, :f :write, :value 2, :process 11, :time 55087288816, :index 19472}
{:type :fail, :f :write, :value 2, :process 11, :time 55089123600, :error :connect, :index 19473}
{:type :invoke, :f :cas, :value [1 4], :process 33, :time 55099460354, :index 19474}
{:type :fail, :f :cas, :value [1 4], :process 33, :time 55101335156, :error :connect, :index 19475}
{:type :invoke, :f :write, :value 2, :process 37, :time 55105385192, :index 19476}
{:type :fail, :f :write, :value 2, :process 37, :time 55107472135, :error :connect, :index 19477}
{:type :invoke, :f :write, :value 4, :process 32, :time 55120824721, :index 19484}
{:type :fail, :f :write, :value 4, :process 32, :time 55122673491, :error :connect, :index 19485}
{:type :invoke, :f :read, :value nil, :process 37, :time 55129731848, :index 19488}
{:type :fail, :f :read, :value nil, :process 37, :time 55131501848, :error :connect, :index 19489}
{:type :invoke, :f :write, :value 4, :process 36, :time 55154109265, :index 19490}
{:type :fail, :f :write, :value 4, :process 36, :time 55155961718, :error :connect, :index 19491}
{:type :invoke, :f :read, :value nil, :process 11, :time 55164384191, :index 19492}
{:type :fail, :f :read, :value nil, :process 11, :time 55166196261, :error :connect, :index 19493}
{:type :invoke, :f :write, :value 3, :process 34, :time 55173272405, :index 19496}
{:type :fail, :f :write, :value 3, :process 34, :time 55174858213, :error :connect, :index 19497}
{:type :invoke, :f :read, :value nil, :process 32, :time 55175008596, :index 19498}
{:type :invoke, :f :read, :value nil, :process 11, :time 55175469547, :index 19499}
{:type :fail, :f :read, :value nil, :process 32, :time 55176882955, :error :connect, :index 19500}
{:type :fail, :f :read, :value nil, :process 11, :time 55177249372, :error :connect, :index 19501}
{:type :invoke, :f :write, :value 0, :process 15, :time 55192291739, :index 19504}
{:type :fail, :f :write, :value 0, :process 15, :time 55193913213, :error :connect, :index 19505}
{:type :invoke, :f :cas, :value [2 4], :process 33, :time 55204602674, :index 19509}
{:type :fail, :f :cas, :value [2 4], :process 33, :time 55206316317, :error :connect, :index 19511}
{:type :invoke, :f :read, :value nil, :process 18, :time 55225273092, :index 19520}
{:type :fail, :f :read, :value nil, :process 18, :time 55226883808, :error :connect, :index 19521}
{:type :invoke, :f :read, :value nil, :process 11, :time 55231498709, :index 19523}
{:type :fail, :f :read, :value nil, :process 11, :time 55233344582, :error :connect, :index 19525}
{:type :invoke, :f :write, :value 0, :process 10, :time 55234995490, :index 19526}
{:type :fail, :f :write, :value 0, :process 10, :time 55236620219, :error :connect, :index 19527}
{:type :invoke, :f :write, :value 3, :process 11, :time 55253574849, :index 19530}
{:type :fail, :f :write, :value 3, :process 11, :time 55255609146, :error :connect, :index 19531}
{:type :invoke, :f :cas, :value [1 4], :process 18, :time 55259155435, :index 19534}
{:type :invoke, :f :cas, :value [4 2], :process 37, :time 55260769528, :index 19535}
{:type :fail, :f :cas, :value [1 4], :process 18, :time 55261079556, :error :connect, :index 19536}
{:type :fail, :f :cas, :value [4 2], :process 37, :time 55262542165, :error :connect, :index 19537}
{:type :invoke, :f :read, :value nil, :process 36, :time 55264233183, :index 19539}
{:type :fail, :f :read, :value nil, :process 36, :time 55266129878, :error :connect, :index 19541}
{:type :invoke, :f :cas, :value [3 3], :process 39, :time 55271497275, :index 19542}
{:type :fail, :f :cas, :value [3 3], :process 39, :time 55273087151, :error :connect, :index 19543}
{:type :invoke, :f :cas, :value [1 0], :process 36, :time 55321368497, :index 19550}
{:type :fail, :f :cas, :value [1 0], :process 36, :time 55323254040, :error :connect, :index 19552}
{:type :invoke, :f :write, :value 4, :process 32, :time 55331147852, :index 19554}
{:type :invoke, :f :read, :value nil, :process 18, :time 55331340834, :index 19555}
{:type :fail, :f :read, :value nil, :process 18, :time 55333113690, :error :connect, :index 19556}
{:type :fail, :f :write, :value 4, :process 32, :time 55333421165, :error :connect, :index 19557}
{:type :invoke, :f :write, :value 4, :process 34, :time 55337116716, :index 19558}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 55337182818, :index 19559}
{:type :fail, :f :write, :value 4, :process 34, :time 55339050597, :error :connect, :index 19560}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 55339362873, :error :connect, :index 19561}
{:type :invoke, :f :write, :value 3, :process 39, :time 55343350018, :index 19562}
{:type :fail, :f :write, :value 3, :process 39, :time 55345136449, :error :connect, :index 19563}
{:type :invoke, :f :cas, :value [3 1], :process 33, :time 55354578882, :index 19565}
{:type :fail, :f :cas, :value [3 1], :process 33, :time 55356282563, :error :connect, :index 19567}
{:type :invoke, :f :read, :value nil, :process 10, :time 55372889465, :index 19574}
{:type :fail, :f :read, :value nil, :process 10, :time 55374799180, :error :connect, :index 19576}
{:type :invoke, :f :write, :value 4, :process 37, :time 55376812238, :index 19578}
{:type :fail, :f :write, :value 4, :process 37, :time 55378891330, :error :connect, :index 19580}
{:type :invoke, :f :write, :value 3, :process 39, :time 55380413410, :index 19582}
{:type :fail, :f :write, :value 3, :process 39, :time 55382428279, :error :connect, :index 19583}
{:type :invoke, :f :write, :value 2, :process 39, :time 55392691024, :index 19588}
{:type :fail, :f :write, :value 2, :process 39, :time 55394717276, :error :connect, :index 19589}
{:type :invoke, :f :write, :value 4, :process 11, :time 55395883034, :index 19590}
{:type :fail, :f :write, :value 4, :process 11, :time 55397471452, :error :connect, :index 19591}
{:type :invoke, :f :cas, :value [0 4], :process 32, :time 55412664374, :index 19594}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 55414415069, :index 19595}
{:type :fail, :f :cas, :value [0 4], :process 32, :time 55414568036, :error :connect, :index 19596}
{:type :fail, :f :cas, :value [3 2], :process 18, :time 55416218049, :error :connect, :index 19598}
{:type :invoke, :f :read, :value nil, :process 15, :time 55430544057, :index 19600}
{:type :fail, :f :read, :value nil, :process 15, :time 55432417300, :error :connect, :index 19601}
{:type :invoke, :f :write, :value 2, :process 32, :time 55437858415, :index 19602}
{:type :fail, :f :write, :value 2, :process 32, :time 55439940292, :error :connect, :index 19603}
{:type :invoke, :f :read, :value nil, :process 34, :time 55459336896, :index 19608}
{:type :fail, :f :read, :value nil, :process 34, :time 55461102026, :error :connect, :index 19609}
{:type :invoke, :f :cas, :value [1 0], :process 34, :time 55467356369, :index 19610}
{:type :fail, :f :cas, :value [1 0], :process 34, :time 55469169859, :error :connect, :index 19612}
{:type :invoke, :f :write, :value 2, :process 33, :time 55497561592, :index 19620}
{:type :fail, :f :write, :value 2, :process 33, :time 55499251788, :error :connect, :index 19621}
{:type :invoke, :f :read, :value nil, :process 36, :time 55506541335, :index 19624}
{:type :fail, :f :read, :value nil, :process 36, :time 55508391743, :error :connect, :index 19625}
{:type :invoke, :f :write, :value 4, :process 32, :time 55511201128, :index 19626}
{:type :fail, :f :write, :value 4, :process 32, :time 55512816215, :error :connect, :index 19627}
{:type :invoke, :f :cas, :value [2 4], :process 37, :time 55517162051, :index 19628}
{:type :fail, :f :cas, :value [2 4], :process 37, :time 55519279991, :error :connect, :index 19631}
{:type :invoke, :f :write, :value 3, :process 39, :time 55520995221, :index 19632}
{:type :fail, :f :write, :value 3, :process 39, :time 55523015242, :error :connect, :index 19635}
{:type :invoke, :f :read, :value nil, :process 11, :time 55528729326, :index 19640}
{:type :fail, :f :read, :value nil, :process 11, :time 55530570702, :error :connect, :index 19641}
{:type :invoke, :f :write, :value 4, :process 10, :time 55550055062, :index 19644}
{:type :fail, :f :write, :value 4, :process 10, :time 55551969350, :error :connect, :index 19645}
{:type :invoke, :f :write, :value 2, :process 33, :time 55555516227, :index 19647}
{:type :fail, :f :write, :value 2, :process 33, :time 55557717987, :error :connect, :index 19649}
{:type :invoke, :f :read, :value nil, :process 15, :time 55561678441, :index 19650}
{:type :fail, :f :read, :value nil, :process 15, :time 55563553108, :error :connect, :index 19652}
{:type :invoke, :f :cas, :value [4 2], :process 10, :time 55580243470, :index 19656}
{:type :fail, :f :cas, :value [4 2], :process 10, :time 55582152345, :error :connect, :index 19657}
{:type :invoke, :f :read, :value nil, :process 36, :time 55589657425, :index 19658}
{:type :fail, :f :read, :value nil, :process 36, :time 55591749050, :error :connect, :index 19660}
{:type :invoke, :f :cas, :value [3 1], :process 39, :time 55595258740, :index 19663}
{:type :fail, :f :cas, :value [3 1], :process 39, :time 55597208436, :error :connect, :index 19665}
{:type :invoke, :f :write, :value 0, :process 18, :time 55606515846, :index 19672}
{:type :fail, :f :write, :value 0, :process 18, :time 55608546597, :error :connect, :index 19673}
{:type :invoke, :f :read, :value nil, :process 32, :time 55646074409, :index 19678}
{:type :invoke, :f :read, :value nil, :process 34, :time 55646450845, :index 19679}
{:type :invoke, :f :cas, :value [1 3], :process 39, :time 55647470447, :index 19680}
{:type :fail, :f :read, :value nil, :process 32, :time 55648234907, :error :connect, :index 19681}
{:type :fail, :f :read, :value nil, :process 34, :time 55648359280, :error :connect, :index 19682}
{:type :fail, :f :cas, :value [1 3], :process 39, :time 55649250862, :error :connect, :index 19683}
{:type :invoke, :f :read, :value nil, :process 36, :time 55653989173, :index 19684}
{:type :fail, :f :read, :value nil, :process 36, :time 55656035630, :error :connect, :index 19685}
{:type :invoke, :f :read, :value nil, :process 15, :time 55660811427, :index 19686}
{:type :fail, :f :read, :value nil, :process 15, :time 55662915200, :error :connect, :index 19687}
{:type :invoke, :f :cas, :value [0 4], :process 11, :time 55665853083, :index 19688}
{:type :fail, :f :cas, :value [0 4], :process 11, :time 55667491840, :error :connect, :index 19689}
{:type :invoke, :f :read, :value nil, :process 33, :time 55669972337, :index 19690}
{:type :fail, :f :read, :value nil, :process 33, :time 55671854798, :error :connect, :index 19691}
{:type :invoke, :f :write, :value 1, :process 37, :time 55688524872, :index 19695}
{:type :fail, :f :write, :value 1, :process 37, :time 55690529252, :error :connect, :index 19697}
{:type :invoke, :f :read, :value nil, :process 10, :time 55728413740, :index 19716}
{:type :fail, :f :read, :value nil, :process 10, :time 55730138604, :error :connect, :index 19718}
{:type :invoke, :f :read, :value nil, :process 18, :time 55743807106, :index 19724}
{:type :fail, :f :read, :value nil, :process 18, :time 55745411841, :error :connect, :index 19725}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
