{:type :invoke, :f :write, :value 1, :process 1, :time 4221971341, :index 1212}
{:type :ok, :f :write, :value 1, :process 1, :time 4226985409, :index 1213}
{:type :invoke, :f :read, :value nil, :process 2, :time 4229830095, :index 1214}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 4232136969, :index 1215}
{:type :ok, :f :read, :value 1, :process 2, :time 4234906673, :index 1216}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 4239581713, :index 1217}
{:type :invoke, :f :read, :value nil, :process 2, :time 4247169141, :index 1220}
{:type :ok, :f :read, :value 1, :process 2, :time 4251999854, :index 1224}
{:type :invoke, :f :cas, :value [4 0], :process 2, :time 4293279116, :index 1237}
{:type :fail, :f :cas, :value [4 0], :process 2, :time 4299527539, :index 1241}
{:type :invoke, :f :write, :value 1, :process 4, :time 4301953239, :index 1242}
{:type :ok, :f :write, :value 1, :process 4, :time 4308558689, :index 1248}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 4322000411, :index 1252}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 4328018373, :index 1253}
{:type :invoke, :f :read, :value nil, :process 5, :time 4337305748, :index 1254}
{:type :invoke, :f :cas, :value [2 0], :process 2, :time 4340782137, :index 1255}
{:type :ok, :f :read, :value 1, :process 5, :time 4343352719, :index 1256}
{:type :fail, :f :cas, :value [2 0], :process 2, :time 4346364384, :index 1257}
{:type :invoke, :f :write, :value 1, :process 7, :time 4351317352, :index 1258}
{:type :invoke, :f :write, :value 4, :process 5, :time 4351620004, :index 1259}
{:type :ok, :f :write, :value 1, :process 7, :time 4356377052, :index 1260}
{:type :ok, :f :write, :value 4, :process 5, :time 4357165742, :index 1261}
{:type :invoke, :f :write, :value 2, :process 6, :time 4363008205, :index 1264}
{:type :invoke, :f :read, :value nil, :process 3, :time 4364504411, :index 1265}
{:type :ok, :f :write, :value 2, :process 6, :time 4369159547, :index 1267}
{:type :ok, :f :read, :value 2, :process 3, :time 4369646623, :index 1268}
{:type :invoke, :f :read, :value nil, :process 9, :time 4370172225, :index 1270}
{:type :ok, :f :read, :value 2, :process 9, :time 4375199549, :index 1271}
{:type :invoke, :f :write, :value 3, :process 3, :time 4378855061, :index 1272}
{:type :ok, :f :write, :value 3, :process 3, :time 4383520882, :index 1273}
{:type :invoke, :f :read, :value nil, :process 1, :time 4392269826, :index 1277}
{:type :ok, :f :read, :value 3, :process 1, :time 4397722714, :index 1279}
{:type :invoke, :f :write, :value 2, :process 5, :time 4412427259, :index 1280}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 4415861500, :index 1282}
{:type :ok, :f :write, :value 2, :process 5, :time 4419040742, :index 1284}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 4422963572, :index 1285}
{:type :invoke, :f :write, :value 1, :process 0, :time 4423197944, :index 1286}
{:type :invoke, :f :read, :value nil, :process 1, :time 4424337304, :index 1288}
{:type :invoke, :f :write, :value 0, :process 8, :time 4427757175, :index 1290}
{:type :ok, :f :write, :value 0, :process 8, :time 4433854113, :index 1294}
{:type :ok, :f :write, :value 1, :process 0, :time 4434256761, :index 1295}
{:type :ok, :f :read, :value 1, :process 1, :time 4434824428, :index 1296}
{:type :invoke, :f :read, :value nil, :process 7, :time 4437662423, :index 1298}
{:type :invoke, :f :write, :value 0, :process 9, :time 4441474389, :index 1301}
{:type :ok, :f :read, :value 0, :process 7, :time 4442684227, :index 1303}
{:type :ok, :f :write, :value 0, :process 9, :time 4447610348, :index 1305}
{:type :invoke, :f :write, :value 1, :process 7, :time 4451947380, :index 1306}
{:type :ok, :f :write, :value 1, :process 7, :time 4457578331, :index 1307}
{:type :invoke, :f :cas, :value [0 4], :process 5, :time 4458299846, :index 1308}
{:type :fail, :f :cas, :value [0 4], :process 5, :time 4464366499, :index 1309}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 4483513528, :index 1312}
{:type :ok, :f :cas, :value [1 2], :process 0, :time 4488673333, :index 1313}
{:type :invoke, :f :read, :value nil, :process 4, :time 4491891763, :index 1315}
{:type :ok, :f :read, :value 2, :process 4, :time 4497389502, :index 1319}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 4510421076, :index 1320}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 4515572772, :index 1321}
{:type :invoke, :f :write, :value 2, :process 2, :time 4518651925, :index 1322}
{:type :invoke, :f :read, :value nil, :process 3, :time 4522785752, :index 1324}
{:type :ok, :f :write, :value 2, :process 2, :time 4523847936, :index 1325}
{:type :ok, :f :read, :value 2, :process 3, :time 4527935401, :index 1327}
{:type :invoke, :f :read, :value nil, :process 8, :time 4532144516, :index 1328}
{:type :ok, :f :read, :value 2, :process 8, :time 4537083792, :index 1330}
{:type :invoke, :f :write, :value 1, :process 3, :time 4554182598, :index 1335}
{:type :ok, :f :write, :value 1, :process 3, :time 4558750174, :index 1337}
{:type :invoke, :f :cas, :value [4 2], :process 9, :time 4566872821, :index 1340}
{:type :fail, :f :cas, :value [4 2], :process 9, :time 4573072099, :index 1343}
{:type :invoke, :f :read, :value nil, :process 7, :time 4584852974, :index 1348}
{:type :ok, :f :read, :value 1, :process 7, :time 4589979339, :index 1351}
{:type :invoke, :f :write, :value 1, :process 5, :time 4599641657, :index 1354}
{:type :ok, :f :write, :value 1, :process 5, :time 4604280081, :index 1356}
{:type :invoke, :f :write, :value 2, :process 1, :time 4609205026, :index 1358}
{:type :ok, :f :write, :value 2, :process 1, :time 4614526191, :index 1359}
{:type :invoke, :f :write, :value 0, :process 1, :time 4623822150, :index 1361}
{:type :ok, :f :write, :value 0, :process 1, :time 4629783506, :index 1364}
{:type :invoke, :f :write, :value 1, :process 9, :time 4634329859, :index 1366}
{:type :ok, :f :write, :value 1, :process 9, :time 4638889653, :index 1367}
{:type :invoke, :f :write, :value 4, :process 6, :time 4671845947, :index 1380}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 4675972522, :index 1382}
{:type :ok, :f :write, :value 4, :process 6, :time 4677103754, :index 1383}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 4681671588, :index 1385}
{:type :fail, :f :cas, :value [1 4], :process 0, :time 4681811265, :index 1386}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 4687443325, :index 1388}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 4705705219, :index 1392}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 4711941033, :index 1394}
{:type :invoke, :f :read, :value nil, :process 3, :time 4712017043, :index 1395}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 4714352668, :index 1397}
{:type :ok, :f :read, :value 4, :process 3, :time 4716409143, :index 1398}
{:type :ok, :f :cas, :value [4 4], :process 8, :time 4718882856, :index 1400}
{:type :invoke, :f :read, :value nil, :process 2, :time 4720125506, :index 1401}
{:type :ok, :f :read, :value 4, :process 2, :time 4724760466, :index 1403}
{:type :invoke, :f :cas, :value [1 4], :process 1, :time 4737046906, :index 1405}
{:type :fail, :f :cas, :value [1 4], :process 1, :time 4742136285, :index 1407}
{:type :invoke, :f :cas, :value [1 4], :process 5, :time 4770557358, :index 1414}
{:type :fail, :f :cas, :value [1 4], :process 5, :time 4776613881, :index 1418}
{:type :invoke, :f :write, :value 2, :process 2, :time 4782021949, :index 1420}
{:type :invoke, :f :read, :value nil, :process 0, :time 4785057427, :index 1421}
{:type :ok, :f :write, :value 2, :process 2, :time 4787231879, :index 1422}
{:type :invoke, :f :read, :value nil, :process 7, :time 4788242584, :index 1423}
{:type :ok, :f :read, :value 2, :process 0, :time 4790774285, :index 1424}
{:type :ok, :f :read, :value 2, :process 7, :time 4793394364, :index 1425}
{:type :invoke, :f :write, :value 4, :process 9, :time 4813154900, :index 1432}
{:type :invoke, :f :read, :value nil, :process 6, :time 4816376139, :index 1433}
{:type :ok, :f :write, :value 4, :process 9, :time 4818774715, :index 1434}
{:type :invoke, :f :cas, :value [2 3], :process 7, :time 4820654776, :index 1435}
{:type :ok, :f :read, :value 4, :process 6, :time 4821100283, :index 1436}
{:type :fail, :f :cas, :value [2 3], :process 7, :time 4826399213, :index 1438}
{:type :invoke, :f :write, :value 1, :process 8, :time 4836157032, :index 1440}
{:type :ok, :f :write, :value 1, :process 8, :time 4841043416, :index 1441}
{:type :invoke, :f :write, :value 4, :process 1, :time 4857394364, :index 1445}
{:type :ok, :f :write, :value 4, :process 1, :time 4863554441, :index 1447}
{:type :invoke, :f :read, :value nil, :process 4, :time 4880232220, :index 1450}
{:type :invoke, :f :cas, :value [4 3], :process 7, :time 4882708688, :index 1452}
{:type :invoke, :f :cas, :value [4 2], :process 3, :time 4886590967, :index 1453}
{:type :ok, :f :cas, :value [4 3], :process 7, :time 4887495835, :index 1454}
{:type :fail, :f :cas, :value [4 2], :process 3, :time 4891971657, :index 1455}
{:type :invoke, :f :cas, :value [3 0], :process 9, :time 4901041317, :index 1457}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 4902247554, :index 1458}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 4907388203, :index 1460}
{:type :invoke, :f :read, :value nil, :process 7, :time 4927760238, :index 1464}
{:type :invoke, :f :write, :value 3, :process 3, :time 4928650863, :index 1465}
{:type :invoke, :f :write, :value 3, :process 5, :time 4932891053, :index 1467}
{:type :ok, :f :read, :value 3, :process 7, :time 4933082155, :index 1468}
{:type :ok, :f :write, :value 3, :process 3, :time 4933406546, :index 1469}
{:type :ok, :f :write, :value 3, :process 5, :time 4938754016, :index 1470}
{:type :invoke, :f :write, :value 4, :process 0, :time 4939040510, :index 1471}
{:type :invoke, :f :read, :value nil, :process 2, :time 4940506192, :index 1472}
{:type :ok, :f :write, :value 4, :process 0, :time 4943896020, :index 1473}
{:type :ok, :f :read, :value 4, :process 2, :time 4945267185, :index 1475}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 4959350864, :index 1478}
{:type :ok, :f :cas, :value [4 2], :process 6, :time 4964716284, :index 1481}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 5006006097, :index 1488}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 5012475573, :index 1491}
{:type :invoke, :f :write, :value 0, :process 5, :time 5016033424, :index 1493}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 5017676857, :index 1494}
{:type :ok, :f :write, :value 0, :process 5, :time 5021834466, :index 1496}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 5023368761, :index 1497}
{:type :invoke, :f :write, :value 1, :process 5, :time 5029089405, :index 1498}
{:type :invoke, :f :write, :value 2, :process 7, :time 5029351798, :index 1499}
{:type :invoke, :f :write, :value 4, :process 0, :time 5034211762, :index 1501}
{:type :ok, :f :write, :value 2, :process 7, :time 5035006117, :index 1502}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 5035328150, :index 1503}
{:type :ok, :f :write, :value 1, :process 5, :time 5035476470, :index 1504}
{:type :ok, :f :write, :value 4, :process 0, :time 5040652296, :index 1506}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 5041069057, :index 1507}
{:type :invoke, :f :read, :value nil, :process 6, :time 5042737914, :index 1508}
{:type :invoke, :f :read, :value nil, :process 1, :time 5046831464, :index 1511}
{:type :ok, :f :read, :value 4, :process 6, :time 5049037137, :index 1513}
{:type :ok, :f :read, :value 4, :process 1, :time 5052755852, :index 1515}
{:type :invoke, :f :write, :value 0, :process 2, :time 5055526509, :index 1516}
{:type :ok, :f :write, :value 0, :process 2, :time 5061245896, :index 1517}
{:type :ok, :f :read, :value 0, :process 4, :time 5097973072, :index 1530}
{:type :fail, :f :cas, :value [3 0], :process 9, :time 5098148812, :index 1531}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 5098353250, :index 1533}
{:type :ok, :f :cas, :value [0 0], :process 7, :time 5104139393, :index 1535}
{:type :invoke, :f :read, :value nil, :process 2, :time 5104521193, :index 1536}
{:type :invoke, :f :read, :value nil, :process 3, :time 5106597199, :index 1537}
{:type :invoke, :f :read, :value nil, :process 6, :time 5120352041, :index 1538}
{:type :invoke, :f :read, :value nil, :process 9, :time 5137426022, :index 1541}
{:type :invoke, :f :read, :value nil, :process 4, :time 5154226079, :index 1544}
{:type :invoke, :f :read, :value nil, :process 0, :time 5163917439, :index 1545}
{:type :invoke, :f :read, :value nil, :process 5, :time 5169726221, :index 1546}
{:type :invoke, :f :cas, :value [2 3], :process 1, :time 5180960766, :index 1547}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :invoke, :f :write, :value 0, :process 8, :time 5230314659, :index 1551}
{:type :ok, :f :read, :value 0, :process 2, :time 5234847151, :index 1553}
{:type :invoke, :f :read, :value nil, :process 7, :time 5246845760, :index 1554}
{:type :invoke, :f :write, :value 2, :process 2, :time 5330102699, :index 1558}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :ok, :f :read, :value 0, :process 6, :time 5842388647, :index 1561}
{:type :ok, :f :read, :value 0, :process 5, :time 5842890416, :index 1562}
{:type :ok, :f :write, :value 0, :process 8, :time 5843667128, :index 1564}
{:type :ok, :f :read, :value 0, :process 0, :time 5845084027, :index 1568}
{:type :fail, :f :cas, :value [2 3], :process 1, :time 5845870422, :index 1569}
{:type :ok, :f :read, :value 0, :process 3, :time 5846211396, :index 1571}
{:type :invoke, :f :read, :value nil, :process 3, :time 5864459315, :index 1572}
{:type :invoke, :f :write, :value 3, :process 8, :time 5869992033, :index 1573}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 5878681059, :index 1574}
{:type :ok, :f :read, :value 2, :process 3, :time 5917923990, :index 1575}
{:type :invoke, :f :write, :value 4, :process 5, :time 5960137754, :index 1577}
{:type :invoke, :f :write, :value 4, :process 3, :time 6001190366, :index 1581}
{:type :invoke, :f :cas, :value [3 3], :process 1, :time 6020150149, :index 1582}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 6022386991, :index 1583}
{:type :ok, :f :write, :value 3, :process 8, :time 6320212447, :index 1586}
{:type :ok, :f :write, :value 4, :process 3, :time 6323454330, :index 1587}
{:type :fail, :f :cas, :value [3 3], :process 1, :time 6325597689, :index 1593}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 6325597689, :index 1594}
{:type :ok, :f :write, :value 4, :process 5, :time 6325947373, :index 1595}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 6326592277, :index 1596}
{:type :invoke, :f :write, :value 3, :process 5, :time 6348159590, :index 1599}
{:type :invoke, :f :write, :value 1, :process 1, :time 6351944226, :index 1602}
{:type :ok, :f :write, :value 3, :process 5, :time 6356203303, :index 1603}
{:type :ok, :f :write, :value 1, :process 1, :time 6357344721, :index 1605}
{:type :invoke, :f :read, :value nil, :process 3, :time 6402786860, :index 1610}
{:type :ok, :f :read, :value 1, :process 3, :time 6407811119, :index 1611}
{:type :invoke, :f :write, :value 1, :process 8, :time 6505555566, :index 1626}
{:type :ok, :f :write, :value 1, :process 8, :time 6510514387, :index 1630}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 6515895224, :index 1632}
{:type :fail, :f :cas, :value [4 4], :process 6, :time 6521639360, :index 1633}
{:type :fail, :f :read, :value nil, :process 9, :time 10144475217, :error :timeout, :index 2375}
{:type :fail, :f :read, :value nil, :process 4, :time 10158963951, :error :timeout, :index 2378}
{:type :fail, :f :read, :value nil, :process 7, :time 10253615586, :error :timeout, :index 2404}
{:type :info, :f :write, :value 2, :process 2, :time 10335654148, :error :timeout, :index 2431}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
