{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :invoke, :f :cas, :value [4 4], :process 37, :time 37169597604, :index 8018}
{:type :fail, :f :cas, :value [4 4], :process 37, :time 37176491282, :error :not-found, :index 8020}
{:type :invoke, :f :read, :value nil, :process 15, :time 37176660423, :index 8021}
{:type :ok, :f :read, :value nil, :process 15, :time 37182459793, :index 8024}
{:type :invoke, :f :cas, :value [1 1], :process 31, :time 37184206286, :index 8025}
{:type :fail, :f :cas, :value [1 1], :process 31, :time 37190597066, :error :not-found, :index 8027}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 37201532104, :index 8028}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 37206902450, :error :not-found, :index 8029}
{:type :invoke, :f :read, :value nil, :process 15, :time 37242365401, :index 8034}
{:type :ok, :f :read, :value nil, :process 15, :time 37248570793, :index 8037}
{:type :invoke, :f :read, :value nil, :process 15, :time 37257883311, :index 8038}
{:type :ok, :f :read, :value nil, :process 15, :time 37262864706, :index 8039}
{:type :invoke, :f :read, :value nil, :process 10, :time 37272205071, :index 8042}
{:type :ok, :f :read, :value nil, :process 10, :time 37277434009, :index 8043}
{:type :invoke, :f :read, :value nil, :process 12, :time 37288095628, :index 8045}
{:type :invoke, :f :cas, :value [4 0], :process 37, :time 37292783843, :index 8047}
{:type :ok, :f :read, :value nil, :process 12, :time 37295112844, :index 8048}
{:type :fail, :f :cas, :value [4 0], :process 37, :time 37299266802, :error :not-found, :index 8049}
{:type :invoke, :f :read, :value nil, :process 37, :time 37302573815, :index 8050}
{:type :invoke, :f :write, :value 1, :process 16, :time 37303407743, :index 8051}
{:type :ok, :f :read, :value nil, :process 37, :time 37309568955, :index 8054}
{:type :ok, :f :write, :value 1, :process 16, :time 37309926781, :index 8055}
{:type :invoke, :f :write, :value 3, :process 31, :time 37334881730, :index 8057}
{:type :ok, :f :write, :value 3, :process 31, :time 37340739992, :index 8059}
{:type :invoke, :f :write, :value 4, :process 15, :time 37372154823, :index 8066}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 37374708242, :index 8067}
{:type :invoke, :f :read, :value nil, :process 12, :time 37375447997, :index 8069}
{:type :ok, :f :write, :value 4, :process 15, :time 37377031268, :index 8071}
{:type :ok, :f :cas, :value [4 3], :process 10, :time 37380327998, :index 8072}
{:type :ok, :f :read, :value 3, :process 12, :time 37380986031, :index 8073}
{:type :invoke, :f :read, :value nil, :process 15, :time 37382324129, :index 8074}
{:type :invoke, :f :write, :value 1, :process 31, :time 37385046224, :index 8075}
{:type :ok, :f :read, :value 3, :process 15, :time 37387013440, :index 8076}
{:type :ok, :f :write, :value 1, :process 31, :time 37392357583, :index 8077}
{:type :invoke, :f :write, :value 1, :process 31, :time 37407648155, :index 8080}
{:type :ok, :f :write, :value 1, :process 31, :time 37413340012, :index 8081}
{:type :invoke, :f :write, :value 2, :process 12, :time 37452218342, :index 8090}
{:type :ok, :f :write, :value 2, :process 12, :time 37457315493, :index 8091}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 37457856611, :index 8092}
{:type :ok, :f :cas, :value [2 2], :process 37, :time 37464429569, :index 8093}
{:type :invoke, :f :cas, :value [0 4], :process 31, :time 37476629231, :index 8094}
{:type :invoke, :f :write, :value 4, :process 16, :time 37479232229, :index 8095}
{:type :fail, :f :cas, :value [0 4], :process 31, :time 37482714438, :index 8096}
{:type :ok, :f :write, :value 4, :process 16, :time 37484114693, :index 8097}
{:type :invoke, :f :cas, :value [2 0], :process 31, :time 37527007158, :index 8102}
{:type :fail, :f :cas, :value [2 0], :process 31, :time 37533401056, :index 8103}
{:type :invoke, :f :cas, :value [4 1], :process 12, :time 37543608222, :index 8104}
{:type :invoke, :f :read, :value nil, :process 10, :time 37546600962, :index 8106}
{:type :ok, :f :cas, :value [4 1], :process 12, :time 37548903227, :index 8107}
{:type :ok, :f :read, :value 1, :process 10, :time 37551900443, :index 8108}
{:type :invoke, :f :read, :value nil, :process 37, :time 37567734348, :index 8112}
{:type :ok, :f :read, :value 1, :process 37, :time 37573627398, :index 8113}
{:type :invoke, :f :write, :value 2, :process 15, :time 37575317587, :index 8114}
{:type :ok, :f :write, :value 2, :process 15, :time 37581451818, :index 8116}
{:type :invoke, :f :read, :value nil, :process 15, :time 37585746289, :index 8118}
{:type :ok, :f :read, :value 2, :process 15, :time 37590317603, :index 8120}
{:type :invoke, :f :read, :value nil, :process 15, :time 37597615433, :index 8122}
{:type :ok, :f :read, :value 2, :process 15, :time 37603053579, :index 8123}
{:type :invoke, :f :write, :value 3, :process 16, :time 37605457051, :index 8124}
{:type :ok, :f :write, :value 3, :process 16, :time 37611219605, :index 8125}
{:type :invoke, :f :cas, :value [3 0], :process 12, :time 37611385628, :index 8126}
{:type :ok, :f :cas, :value [3 0], :process 12, :time 37617460834, :index 8129}
{:type :invoke, :f :write, :value 2, :process 15, :time 37627349037, :index 8132}
{:type :ok, :f :write, :value 2, :process 15, :time 37632418560, :index 8133}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 37634519710, :index 8134}
{:type :invoke, :f :read, :value nil, :process 15, :time 37637705782, :index 8135}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 37640221466, :index 8136}
{:type :ok, :f :read, :value 2, :process 15, :time 37643647187, :index 8137}
{:type :invoke, :f :cas, :value [2 2], :process 12, :time 37693751074, :index 8142}
{:type :ok, :f :cas, :value [2 2], :process 12, :time 37699285512, :index 8143}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 37701184783, :index 8144}
{:type :invoke, :f :write, :value 4, :process 31, :time 37704687174, :index 8145}
{:type :ok, :f :cas, :value [2 1], :process 10, :time 37707127268, :index 8146}
{:type :ok, :f :write, :value 4, :process 31, :time 37710030691, :index 8147}
{:type :invoke, :f :write, :value 3, :process 10, :time 37715413547, :index 8148}
{:type :ok, :f :write, :value 3, :process 10, :time 37720409658, :index 8149}
{:type :invoke, :f :cas, :value [0 4], :process 37, :time 37738926285, :index 8150}
{:type :fail, :f :cas, :value [0 4], :process 37, :time 37745376111, :index 8152}
{:type :invoke, :f :cas, :value [1 2], :process 37, :time 37750666809, :index 8154}
{:type :fail, :f :cas, :value [1 2], :process 37, :time 37756456150, :index 8156}
{:type :invoke, :f :read, :value nil, :process 31, :time 37772220463, :index 8158}
{:type :ok, :f :read, :value 3, :process 31, :time 37778174501, :index 8159}
{:type :invoke, :f :read, :value nil, :process 15, :time 37783935890, :index 8161}
{:type :ok, :f :read, :value 3, :process 15, :time 37790879060, :index 8163}
{:type :invoke, :f :write, :value 4, :process 16, :time 37791518652, :index 8164}
{:type :ok, :f :write, :value 4, :process 16, :time 37797050879, :index 8165}
{:type :invoke, :f :read, :value nil, :process 31, :time 37841489402, :index 8168}
{:type :invoke, :f :read, :value nil, :process 12, :time 37844163519, :index 8170}
{:type :ok, :f :read, :value 4, :process 31, :time 37849213430, :index 8171}
{:type :ok, :f :read, :value 4, :process 12, :time 37849980509, :index 8173}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 37876690401, :index 8178}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 37880753837, :index 8180}
{:type :ok, :f :cas, :value [4 4], :process 10, :time 37883531817, :index 8181}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 37886920754, :index 8183}
{:type :invoke, :f :write, :value 2, :process 12, :time 37909649658, :index 8187}
{:type :ok, :f :write, :value 2, :process 12, :time 37915653538, :index 8190}
{:type :invoke, :f :read, :value nil, :process 15, :time 37938147549, :index 8194}
{:type :ok, :f :read, :value 2, :process 15, :time 37943228836, :index 8196}
{:type :invoke, :f :cas, :value [2 1], :process 16, :time 37954355611, :index 8198}
{:type :ok, :f :cas, :value [2 1], :process 16, :time 37959632322, :index 8199}
{:type :invoke, :f :cas, :value [0 2], :process 31, :time 37973535112, :index 8201}
{:type :fail, :f :cas, :value [0 2], :process 31, :time 37979827924, :index 8203}
{:type :invoke, :f :read, :value nil, :process 31, :time 37994114531, :index 8204}
{:type :ok, :f :read, :value 1, :process 31, :time 38000353711, :index 8205}
{:type :invoke, :f :cas, :value [0 1], :process 16, :time 38018934048, :index 8206}
{:type :invoke, :f :cas, :value [3 0], :process 12, :time 38019955120, :index 8207}
{:type :fail, :f :cas, :value [0 1], :process 16, :time 38025732045, :index 8208}
{:type :invoke, :f :write, :value 4, :process 15, :time 38025903353, :index 8209}
{:type :fail, :f :cas, :value [3 0], :process 12, :time 38027385368, :index 8210}
{:type :invoke, :f :read, :value nil, :process 31, :time 38030653724, :index 8212}
{:type :ok, :f :write, :value 4, :process 15, :time 38031714252, :index 8213}
{:type :ok, :f :read, :value 4, :process 31, :time 38036776299, :index 8215}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 38046837441, :index 8216}
{:type :fail, :f :cas, :value [0 3], :process 10, :time 38052484883, :index 8217}
{:type :invoke, :f :read, :value nil, :process 37, :time 38054301927, :index 8219}
{:type :ok, :f :read, :value 4, :process 37, :time 38060341708, :index 8222}
{:type :invoke, :f :read, :value nil, :process 37, :time 38101611198, :index 8235}
{:type :invoke, :f :cas, :value [2 3], :process 31, :time 38105075978, :index 8236}
{:type :ok, :f :read, :value 4, :process 37, :time 38107058290, :index 8238}
{:type :fail, :f :cas, :value [2 3], :process 31, :time 38111520650, :index 8239}
{:type :invoke, :f :read, :value nil, :process 10, :time 38120785801, :index 8241}
{:type :ok, :f :read, :value 4, :process 10, :time 38130381324, :index 8243}
{:type :invoke, :f :write, :value 4, :process 16, :time 38155029232, :index 8247}
{:type :ok, :f :write, :value 4, :process 16, :time 38160470578, :index 8249}
{:type :invoke, :f :write, :value 2, :process 37, :time 38187373550, :index 8251}
{:type :invoke, :f :read, :value nil, :process 12, :time 38188237402, :index 8252}
{:type :invoke, :f :read, :value nil, :process 15, :time 38224015717, :index 8256}
{:type :invoke, :f :read, :value nil, :process 10, :time 38243669564, :index 8257}
{:type :invoke, :f :read, :value nil, :process 31, :time 38245852521, :index 8258}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 38280755449, :index 8261}
{:type :ok, :f :read, :value 4, :process 10, :time 38623403016, :index 8263}
{:type :ok, :f :read, :value 4, :process 15, :time 38623978127, :index 8265}
{:type :fail, :f :cas, :value [2 4], :process 16, :time 38624638310, :index 8267}
{:type :ok, :f :read, :value 4, :process 31, :time 38624922416, :index 8269}
{:type :ok, :f :write, :value 2, :process 37, :time 38625427371, :index 8270}
{:type :ok, :f :read, :value 2, :process 12, :time 38625675717, :index 8271}
{:type :invoke, :f :read, :value nil, :process 10, :time 38633747602, :index 8274}
{:type :ok, :f :read, :value 2, :process 10, :time 38639297313, :index 8275}
{:type :invoke, :f :cas, :value [0 0], :process 37, :time 38671691247, :index 8280}
{:type :fail, :f :cas, :value [0 0], :process 37, :time 38678077181, :index 8281}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 38678580953, :index 8282}
{:type :fail, :f :cas, :value [0 3], :process 10, :time 38683808404, :index 8283}
{:type :invoke, :f :write, :value 3, :process 15, :time 38717052000, :index 8289}
{:type :ok, :f :write, :value 3, :process 15, :time 38721669956, :index 8291}
{:type :invoke, :f :write, :value 4, :process 12, :time 38730779181, :index 8292}
{:type :invoke, :f :cas, :value [2 3], :process 31, :time 38734553012, :index 8293}
{:type :ok, :f :write, :value 4, :process 12, :time 38736286250, :index 8294}
{:type :fail, :f :cas, :value [2 3], :process 31, :time 38740617547, :index 8295}
{:type :invoke, :f :cas, :value [1 1], :process 15, :time 38764026909, :index 8299}
{:type :invoke, :f :read, :value nil, :process 10, :time 38782089812, :index 8300}
{:type :invoke, :f :read, :value nil, :process 16, :time 38819489708, :index 8302}
{:type :invoke, :f :cas, :value [3 2], :process 37, :time 38853375632, :index 8304}
{:type :invoke, :f :cas, :value [0 3], :process 31, :time 38902905663, :index 8306}
{:type :invoke, :f :cas, :value [2 2], :process 12, :time 38909630674, :index 8307}
{:type :fail, :f :cas, :value [1 1], :process 15, :time 39149149011, :index 8310}
{:type :ok, :f :read, :value 4, :process 10, :time 39149544424, :index 8311}
{:type :fail, :f :cas, :value [0 3], :process 31, :time 39150885094, :index 8313}
{:type :ok, :f :read, :value 4, :process 16, :time 39151560943, :index 8315}
{:type :fail, :f :cas, :value [3 2], :process 37, :time 39152640621, :index 8317}
{:type :fail, :f :cas, :value [2 2], :process 12, :time 39153461368, :index 8318}
{:type :invoke, :f :cas, :value [4 0], :process 37, :time 39159936182, :index 8320}
{:type :ok, :f :cas, :value [4 0], :process 37, :time 39165899563, :index 8321}
{:type :invoke, :f :cas, :value [4 1], :process 15, :time 39187868348, :index 8325}
{:type :fail, :f :cas, :value [4 1], :process 15, :time 39193570527, :index 8327}
{:type :invoke, :f :write, :value 0, :process 31, :time 39203194423, :index 8328}
{:type :ok, :f :write, :value 0, :process 31, :time 39212084199, :index 8329}
{:type :invoke, :f :write, :value 2, :process 37, :time 39239224662, :index 8330}
{:type :invoke, :f :read, :value nil, :process 10, :time 39252868747, :index 8332}
{:type :invoke, :f :read, :value nil, :process 31, :time 39281400078, :index 8335}
{:type :invoke, :f :cas, :value [3 1], :process 12, :time 39293757392, :index 8338}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 39324811283, :index 8340}
{:type :invoke, :f :read, :value nil, :process 15, :time 39338977702, :index 8341}
{:type :ok, :f :write, :value 2, :process 37, :time 39370745744, :index 8342}
{:type :ok, :f :read, :value 2, :process 10, :time 39373709502, :index 8344}
{:type :ok, :f :read, :value 2, :process 15, :time 39374120694, :index 8345}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 39376160821, :index 8348}
{:type :fail, :f :cas, :value [3 1], :process 12, :time 39377324747, :index 8350}
{:type :ok, :f :read, :value 2, :process 31, :time 39378326833, :index 8353}
{:type :invoke, :f :read, :value nil, :process 16, :time 39385482520, :index 8354}
{:type :ok, :f :read, :value 2, :process 16, :time 39391284719, :index 8355}
{:type :invoke, :f :read, :value nil, :process 16, :time 39403580517, :index 8356}
{:type :ok, :f :read, :value 2, :process 16, :time 39409042397, :index 8357}
{:type :invoke, :f :read, :value nil, :process 10, :time 39429060544, :index 8360}
{:type :ok, :f :read, :value 2, :process 10, :time 39433696069, :index 8362}
{:type :invoke, :f :read, :value nil, :process 31, :time 39451585438, :index 8366}
{:type :ok, :f :read, :value 2, :process 31, :time 39458668746, :index 8367}
{:type :invoke, :f :read, :value nil, :process 12, :time 39487621657, :index 8373}
{:type :ok, :f :read, :value 2, :process 12, :time 39493667160, :index 8376}
{:type :invoke, :f :read, :value nil, :process 31, :time 39494194466, :index 8378}
{:type :ok, :f :read, :value 2, :process 31, :time 39499272173, :index 8379}
{:type :invoke, :f :read, :value nil, :process 15, :time 39534408696, :index 8387}
{:type :ok, :f :read, :value 2, :process 15, :time 39539316842, :index 8389}
{:type :invoke, :f :write, :value 1, :process 37, :time 39541072255, :index 8390}
{:type :ok, :f :write, :value 1, :process 37, :time 39545964487, :index 8391}
{:type :invoke, :f :cas, :value [3 2], :process 12, :time 39562105626, :index 8396}
{:type :fail, :f :cas, :value [3 2], :process 12, :time 39568235023, :index 8397}
{:type :invoke, :f :read, :value nil, :process 16, :time 39579428341, :index 8399}
{:type :ok, :f :read, :value 1, :process 16, :time 39584510519, :index 8401}
{:type :invoke, :f :read, :value nil, :process 10, :time 39616266730, :index 8404}
{:type :ok, :f :read, :value 1, :process 10, :time 39620839727, :index 8405}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
