{:type :invoke, :f :read, :value nil, :process 13, :time 2839858267, :index 790}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 2845454635, :index 792}
{:type :ok, :f :read, :value nil, :process 13, :time 2845792363, :index 793}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 2852482973, :error :not-found, :index 797}
{:type :invoke, :f :read, :value nil, :process 15, :time 2898757141, :index 805}
{:type :invoke, :f :cas, :value [4 2], :process 13, :time 2903051532, :index 808}
{:type :ok, :f :read, :value nil, :process 15, :time 2904706475, :index 809}
{:type :fail, :f :cas, :value [4 2], :process 13, :time 2908851069, :error :not-found, :index 812}
{:type :invoke, :f :read, :value nil, :process 16, :time 2970092688, :index 830}
{:type :invoke, :f :read, :value nil, :process 17, :time 2971652748, :index 831}
{:type :ok, :f :read, :value nil, :process 16, :time 2976481954, :index 832}
{:type :ok, :f :read, :value nil, :process 17, :time 2976992355, :index 833}
{:type :invoke, :f :read, :value nil, :process 10, :time 2977086371, :index 834}
{:type :invoke, :f :read, :value nil, :process 12, :time 2981762862, :index 835}
{:type :ok, :f :read, :value nil, :process 10, :time 2982238948, :index 836}
{:type :ok, :f :read, :value nil, :process 12, :time 2987387081, :index 838}
{:type :invoke, :f :cas, :value [2 4], :process 13, :time 2999129476, :index 841}
{:type :invoke, :f :write, :value 2, :process 11, :time 3004062630, :index 843}
{:type :fail, :f :cas, :value [2 4], :process 13, :time 3004487466, :error :not-found, :index 844}
{:type :ok, :f :write, :value 2, :process 11, :time 3009243957, :index 845}
{:type :invoke, :f :read, :value nil, :process 10, :time 3012487062, :index 847}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 3016068433, :index 849}
{:type :ok, :f :read, :value 2, :process 10, :time 3017729971, :index 850}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 3021561901, :index 851}
{:type :invoke, :f :write, :value 1, :process 18, :time 3024027045, :index 852}
{:type :ok, :f :write, :value 1, :process 18, :time 3029324789, :index 853}
{:type :invoke, :f :read, :value nil, :process 17, :time 3036231876, :index 856}
{:type :ok, :f :read, :value 1, :process 17, :time 3041920684, :index 858}
{:type :invoke, :f :read, :value nil, :process 12, :time 3042669539, :index 859}
{:type :ok, :f :read, :value 1, :process 12, :time 3048028833, :index 861}
{:type :invoke, :f :write, :value 4, :process 15, :time 3059827860, :index 864}
{:type :invoke, :f :write, :value 0, :process 17, :time 3062192090, :index 865}
{:type :invoke, :f :read, :value nil, :process 12, :time 3063297478, :index 866}
{:type :ok, :f :write, :value 4, :process 15, :time 3065758208, :index 867}
{:type :ok, :f :write, :value 0, :process 17, :time 3067869558, :index 868}
{:type :ok, :f :read, :value 0, :process 12, :time 3068249232, :index 869}
{:type :invoke, :f :write, :value 0, :process 11, :time 3068516237, :index 870}
{:type :ok, :f :write, :value 0, :process 11, :time 3074177761, :index 871}
{:type :invoke, :f :write, :value 2, :process 10, :time 3079009696, :index 873}
{:type :ok, :f :write, :value 2, :process 10, :time 3084731636, :index 875}
{:type :invoke, :f :write, :value 3, :process 12, :time 3093537526, :index 877}
{:type :invoke, :f :cas, :value [2 0], :process 15, :time 3146078799, :index 881}
{:type :invoke, :f :write, :value 0, :process 13, :time 3153766577, :index 882}
{:type :invoke, :f :read, :value nil, :process 16, :time 3172770715, :index 890}
{:type :invoke, :f :read, :value nil, :process 17, :time 3182222307, :index 891}
{:type :invoke, :f :write, :value 2, :process 11, :time 3184454459, :index 892}
{:type :invoke, :f :write, :value 4, :process 10, :time 3185021898, :index 893}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 3219600659, :index 895}
{:type :invoke, :f :write, :value 2, :process 14, :time 3256399855, :index 899}
{:type :invoke, :f :write, :value 4, :process 19, :time 3313479987, :index 900}
{:type :ok, :f :write, :value 3, :process 12, :time 3400641745, :index 902}
{:type :ok, :f :write, :value 0, :process 13, :time 3401303832, :index 903}
{:type :ok, :f :read, :value 0, :process 16, :time 3402828055, :index 906}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 3403089508, :index 907}
{:type :ok, :f :write, :value 2, :process 14, :time 3403417548, :index 908}
{:type :ok, :f :write, :value 4, :process 19, :time 3405021275, :index 913}
{:type :ok, :f :write, :value 4, :process 10, :time 3405509330, :index 914}
{:type :fail, :f :cas, :value [2 0], :process 15, :time 3405717061, :index 915}
{:type :ok, :f :write, :value 2, :process 11, :time 3406298578, :index 917}
{:type :ok, :f :read, :value 0, :process 17, :time 3407026625, :index 919}
{:type :invoke, :f :cas, :value [1 4], :process 17, :time 3411317834, :index 922}
{:type :fail, :f :cas, :value [1 4], :process 17, :time 3417090377, :index 923}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 3426583006, :index 924}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 3432619921, :index 925}
{:type :invoke, :f :cas, :value [2 4], :process 14, :time 3442734848, :index 926}
{:type :fail, :f :cas, :value [2 4], :process 14, :time 3448336894, :index 927}
{:type :invoke, :f :read, :value nil, :process 18, :time 3454422954, :index 928}
{:type :invoke, :f :read, :value nil, :process 13, :time 3459602333, :index 929}
{:type :ok, :f :read, :value 4, :process 18, :time 3459809806, :index 930}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 3460892974, :index 931}
{:type :ok, :f :read, :value 4, :process 13, :time 3464271097, :index 933}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 3466029984, :index 934}
{:type :invoke, :f :write, :value 0, :process 16, :time 3482083283, :index 938}
{:type :ok, :f :write, :value 0, :process 16, :time 3487557800, :index 939}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 3488016086, :index 940}
{:type :invoke, :f :cas, :value [1 0], :process 13, :time 3491556679, :index 941}
{:type :fail, :f :cas, :value [1 1], :process 12, :time 3494065057, :index 942}
{:type :invoke, :f :cas, :value [0 3], :process 14, :time 3495604900, :index 943}
{:type :fail, :f :cas, :value [1 0], :process 13, :time 3496849848, :index 944}
{:type :ok, :f :cas, :value [0 3], :process 14, :time 3500876738, :index 946}
{:type :invoke, :f :cas, :value [2 0], :process 12, :time 3505353650, :index 947}
{:type :fail, :f :cas, :value [2 0], :process 12, :time 3510853329, :index 949}
{:type :invoke, :f :read, :value nil, :process 11, :time 3516297965, :index 950}
{:type :ok, :f :read, :value 3, :process 11, :time 3521499854, :index 951}
{:type :invoke, :f :read, :value nil, :process 15, :time 3525002668, :index 952}
{:type :invoke, :f :read, :value nil, :process 18, :time 3527066822, :index 953}
{:type :ok, :f :read, :value 3, :process 15, :time 3530245907, :index 954}
{:type :ok, :f :read, :value 3, :process 18, :time 3531795425, :index 955}
{:type :invoke, :f :read, :value nil, :process 16, :time 3543829013, :index 957}
{:type :ok, :f :read, :value 3, :process 16, :time 3549208254, :index 959}
{:type :invoke, :f :read, :value nil, :process 17, :time 3580385866, :index 967}
{:type :ok, :f :read, :value 3, :process 17, :time 3585752673, :index 970}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 3590781190, :index 972}
{:type :invoke, :f :cas, :value [2 2], :process 12, :time 3594127793, :index 973}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 3596500815, :index 974}
{:type :fail, :f :cas, :value [2 2], :process 12, :time 3599581801, :index 976}
{:type :invoke, :f :write, :value 3, :process 19, :time 3600343516, :index 977}
{:type :invoke, :f :write, :value 0, :process 18, :time 3604064391, :index 980}
{:type :ok, :f :write, :value 3, :process 19, :time 3605890360, :index 981}
{:type :ok, :f :write, :value 0, :process 18, :time 3608955562, :index 983}
{:type :invoke, :f :read, :value nil, :process 12, :time 3616849051, :index 984}
{:type :invoke, :f :write, :value 4, :process 18, :time 3618220789, :index 985}
{:type :ok, :f :read, :value 0, :process 12, :time 3622919465, :index 988}
{:type :ok, :f :write, :value 4, :process 18, :time 3623095021, :index 989}
{:type :invoke, :f :cas, :value [3 1], :process 11, :time 3631772930, :index 992}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 3632492491, :index 993}
{:type :fail, :f :cas, :value [3 1], :process 11, :time 3637661310, :index 995}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 3637865186, :index 996}
{:type :invoke, :f :cas, :value [4 1], :process 13, :time 3644130138, :index 998}
{:type :ok, :f :cas, :value [4 1], :process 13, :time 3648885881, :index 1000}
{:type :invoke, :f :write, :value 1, :process 14, :time 3662178190, :index 1005}
{:type :invoke, :f :read, :value nil, :process 17, :time 3664041775, :index 1006}
{:type :ok, :f :write, :value 1, :process 14, :time 3667324212, :index 1008}
{:type :ok, :f :read, :value 1, :process 17, :time 3669245870, :index 1010}
{:type :invoke, :f :write, :value 0, :process 12, :time 3672263844, :index 1011}
{:type :ok, :f :write, :value 0, :process 12, :time 3677959644, :index 1013}
{:type :invoke, :f :read, :value nil, :process 18, :time 3681419134, :index 1014}
{:type :invoke, :f :read, :value nil, :process 17, :time 3683526355, :index 1015}
{:type :invoke, :f :write, :value 3, :process 11, :time 3685951261, :index 1016}
{:type :ok, :f :read, :value 0, :process 18, :time 3686207491, :index 1017}
{:type :ok, :f :read, :value 0, :process 17, :time 3689155363, :index 1018}
{:type :ok, :f :write, :value 3, :process 11, :time 3691281117, :index 1019}
{:type :invoke, :f :read, :value nil, :process 15, :time 3694518859, :index 1020}
{:type :ok, :f :read, :value 3, :process 15, :time 3699867856, :index 1021}
{:type :invoke, :f :read, :value nil, :process 18, :time 3722456495, :index 1022}
{:type :ok, :f :read, :value 3, :process 18, :time 3729293885, :index 1023}
{:type :invoke, :f :write, :value 0, :process 16, :time 3753172177, :index 1029}
{:type :invoke, :f :write, :value 1, :process 10, :time 3756786819, :index 1031}
{:type :ok, :f :write, :value 0, :process 16, :time 3759696539, :index 1032}
{:type :ok, :f :write, :value 1, :process 10, :time 3764754963, :index 1036}
{:type :invoke, :f :cas, :value [3 0], :process 12, :time 3794227795, :index 1043}
{:type :invoke, :f :read, :value nil, :process 17, :time 3796439408, :index 1045}
{:type :fail, :f :cas, :value [3 0], :process 12, :time 3799618801, :index 1046}
{:type :ok, :f :read, :value 1, :process 17, :time 3800895825, :index 1047}
{:type :invoke, :f :read, :value nil, :process 15, :time 3802132923, :index 1048}
{:type :invoke, :f :write, :value 0, :process 13, :time 3802195125, :index 1049}
{:type :invoke, :f :read, :value nil, :process 19, :time 3803198806, :index 1050}
{:type :ok, :f :write, :value 0, :process 13, :time 3806661867, :index 1051}
{:type :ok, :f :read, :value 0, :process 15, :time 3809040496, :index 1052}
{:type :ok, :f :read, :value 0, :process 19, :time 3809361704, :index 1053}
{:type :invoke, :f :read, :value nil, :process 11, :time 3831587165, :index 1056}
{:type :ok, :f :read, :value 0, :process 11, :time 3836325953, :index 1057}
{:type :invoke, :f :write, :value 1, :process 14, :time 3861577689, :index 1064}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 3864981750, :index 1066}
{:type :ok, :f :write, :value 1, :process 14, :time 3867175828, :index 1067}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 3870886770, :index 1068}
{:type :invoke, :f :cas, :value [2 0], :process 10, :time 3882420080, :index 1070}
{:type :invoke, :f :read, :value nil, :process 14, :time 3887438710, :index 1071}
{:type :fail, :f :cas, :value [2 0], :process 10, :time 3888652901, :index 1072}
{:type :invoke, :f :read, :value nil, :process 16, :time 3889190927, :index 1073}
{:type :ok, :f :read, :value 1, :process 14, :time 3892776274, :index 1075}
{:type :ok, :f :read, :value 1, :process 16, :time 3894396598, :index 1078}
{:type :invoke, :f :write, :value 3, :process 15, :time 3899310041, :index 1081}
{:type :ok, :f :write, :value 3, :process 15, :time 3904552483, :index 1083}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 3913624527, :index 1086}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 3919015602, :index 1088}
{:type :invoke, :f :read, :value nil, :process 16, :time 3924655209, :index 1090}
{:type :ok, :f :read, :value 3, :process 16, :time 3929446073, :index 1091}
{:type :invoke, :f :read, :value nil, :process 16, :time 3931699836, :index 1092}
{:type :ok, :f :read, :value 3, :process 16, :time 3937675463, :index 1093}
{:type :invoke, :f :read, :value nil, :process 10, :time 3953912049, :index 1098}
{:type :invoke, :f :cas, :value [0 2], :process 11, :time 3960587959, :index 1101}
{:type :ok, :f :read, :value 3, :process 10, :time 3961294571, :index 1102}
{:type :invoke, :f :write, :value 0, :process 17, :time 3962158488, :index 1105}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 3962595124, :index 1106}
{:type :fail, :f :cas, :value [0 2], :process 11, :time 3967094468, :index 1107}
{:type :ok, :f :write, :value 0, :process 17, :time 3968063240, :index 1108}
{:type :ok, :f :cas, :value [0 3], :process 18, :time 3968624800, :index 1109}
{:type :invoke, :f :read, :value nil, :process 19, :time 3969609044, :index 1110}
{:type :ok, :f :read, :value 3, :process 19, :time 3975009399, :index 1112}
{:type :invoke, :f :write, :value 1, :process 10, :time 3978575016, :index 1115}
{:type :invoke, :f :cas, :value [3 4], :process 14, :time 3979050318, :index 1116}
{:type :invoke, :f :read, :value nil, :process 18, :time 3982829277, :index 1118}
{:type :ok, :f :write, :value 1, :process 10, :time 3984770816, :index 1119}
{:type :fail, :f :cas, :value [3 4], :process 14, :time 3985444075, :index 1120}
{:type :ok, :f :read, :value 1, :process 18, :time 3987631013, :index 1121}
{:type :invoke, :f :write, :value 2, :process 12, :time 3995884148, :index 1122}
{:type :invoke, :f :read, :value nil, :process 13, :time 3997923267, :index 1124}
{:type :ok, :f :write, :value 2, :process 12, :time 4002560333, :index 1125}
{:type :ok, :f :read, :value 2, :process 13, :time 4002564364, :index 1126}
{:type :invoke, :f :read, :value nil, :process 14, :time 4003703126, :index 1128}
{:type :ok, :f :read, :value 2, :process 14, :time 4008668657, :index 1129}
{:type :invoke, :f :read, :value nil, :process 16, :time 4033931345, :index 1136}
{:type :invoke, :f :cas, :value [2 1], :process 18, :time 4036895209, :index 1137}
{:type :ok, :f :read, :value 2, :process 16, :time 4038952405, :index 1138}
{:type :ok, :f :cas, :value [2 1], :process 18, :time 4041900258, :index 1139}
{:type :invoke, :f :write, :value 3, :process 19, :time 4052262716, :index 1141}
{:type :ok, :f :write, :value 3, :process 19, :time 4057840926, :index 1144}
{:type :invoke, :f :cas, :value [0 1], :process 15, :time 4081831868, :index 1155}
{:type :fail, :f :cas, :value [0 1], :process 15, :time 4089135903, :index 1158}
{:type :invoke, :f :read, :value nil, :process 13, :time 4103852046, :index 1160}
{:type :invoke, :f :cas, :value [0 3], :process 17, :time 4108325082, :index 1162}
{:type :ok, :f :read, :value 3, :process 13, :time 4108626874, :index 1163}
{:type :invoke, :f :read, :value nil, :process 11, :time 4109370037, :index 1164}
{:type :ok, :f :read, :value 3, :process 11, :time 4115142508, :index 1166}
{:type :fail, :f :cas, :value [0 3], :process 17, :time 4115349079, :index 1167}
{:type :invoke, :f :cas, :value [2 0], :process 10, :time 4122063795, :index 1170}
{:type :fail, :f :cas, :value [2 0], :process 10, :time 4128027799, :index 1174}
{:type :invoke, :f :write, :value 1, :process 12, :time 4165931100, :index 1190}
{:type :ok, :f :write, :value 1, :process 12, :time 4171975470, :index 1192}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
