{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :invoke, :f :read, :value nil, :process 38, :time 14997083330, :index 3127}
{:type :ok, :f :read, :value nil, :process 38, :time 15003489639, :index 3132}
{:type :invoke, :f :write, :value 1, :process 12, :time 15050332550, :index 3148}
{:type :invoke, :f :read, :value nil, :process 14, :time 15053977253, :index 3152}
{:type :ok, :f :write, :value 1, :process 12, :time 15054851156, :index 3153}
{:type :ok, :f :read, :value 1, :process 14, :time 15060622655, :index 3159}
{:type :invoke, :f :write, :value 2, :process 12, :time 15066125046, :index 3162}
{:type :ok, :f :write, :value 2, :process 12, :time 15070804083, :index 3165}
{:type :invoke, :f :read, :value nil, :process 38, :time 15116746807, :index 3183}
{:type :ok, :f :read, :value 2, :process 38, :time 15122534085, :index 3188}
{:type :invoke, :f :write, :value 2, :process 19, :time 15133355879, :index 3192}
{:type :ok, :f :write, :value 2, :process 19, :time 15139112223, :index 3195}
{:type :invoke, :f :write, :value 4, :process 12, :time 15148056497, :index 3198}
{:type :invoke, :f :write, :value 2, :process 16, :time 15149397535, :index 3199}
{:type :invoke, :f :write, :value 3, :process 31, :time 15150491433, :index 3200}
{:type :ok, :f :write, :value 4, :process 12, :time 15153040881, :index 3201}
{:type :ok, :f :write, :value 2, :process 16, :time 15155067682, :index 3202}
{:type :ok, :f :write, :value 3, :process 31, :time 15155632279, :index 3203}
{:type :invoke, :f :cas, :value [1 3], :process 12, :time 15165299271, :index 3204}
{:type :fail, :f :cas, :value [1 3], :process 12, :time 15170353314, :index 3205}
{:type :invoke, :f :write, :value 3, :process 17, :time 15173650522, :index 3206}
{:type :ok, :f :write, :value 3, :process 17, :time 15178577428, :index 3208}
{:type :invoke, :f :read, :value nil, :process 31, :time 15181335610, :index 3212}
{:type :invoke, :f :cas, :value [1 4], :process 14, :time 15181880426, :index 3213}
{:type :ok, :f :read, :value 3, :process 31, :time 15187339050, :index 3216}
{:type :fail, :f :cas, :value [1 4], :process 14, :time 15188300579, :index 3217}
{:type :invoke, :f :read, :value nil, :process 19, :time 15190361314, :index 3219}
{:type :ok, :f :read, :value 3, :process 19, :time 15197268219, :index 3221}
{:type :invoke, :f :cas, :value [3 2], :process 12, :time 15203641261, :index 3222}
{:type :ok, :f :cas, :value [3 2], :process 12, :time 15208396029, :index 3223}
{:type :invoke, :f :read, :value nil, :process 33, :time 15220339157, :index 3225}
{:type :ok, :f :read, :value 2, :process 33, :time 15225798806, :index 3228}
{:type :invoke, :f :write, :value 2, :process 14, :time 15230582510, :index 3230}
{:type :ok, :f :write, :value 2, :process 14, :time 15235519011, :index 3231}
{:type :invoke, :f :write, :value 1, :process 10, :time 15239215021, :index 3232}
{:type :invoke, :f :write, :value 1, :process 15, :time 15241889408, :index 3233}
{:type :ok, :f :write, :value 1, :process 10, :time 15244579051, :index 3234}
{:type :ok, :f :write, :value 1, :process 15, :time 15246928017, :index 3236}
{:type :invoke, :f :write, :value 3, :process 17, :time 15253859135, :index 3238}
{:type :invoke, :f :read, :value nil, :process 12, :time 15255671857, :index 3239}
{:type :ok, :f :write, :value 3, :process 17, :time 15258107587, :index 3241}
{:type :ok, :f :read, :value 3, :process 12, :time 15259686972, :index 3242}
{:type :invoke, :f :cas, :value [3 1], :process 12, :time 15263941761, :index 3244}
{:type :ok, :f :cas, :value [3 1], :process 12, :time 15268494875, :index 3248}
{:type :invoke, :f :cas, :value [0 4], :process 14, :time 15279773270, :index 3252}
{:type :fail, :f :cas, :value [0 4], :process 14, :time 15284990693, :index 3253}
{:type :invoke, :f :write, :value 2, :process 31, :time 15286589953, :index 3254}
{:type :invoke, :f :write, :value 4, :process 38, :time 15288805701, :index 3256}
{:type :ok, :f :write, :value 2, :process 31, :time 15291178720, :index 3257}
{:type :ok, :f :write, :value 4, :process 38, :time 15294141069, :index 3259}
{:type :invoke, :f :write, :value 4, :process 14, :time 15303259418, :index 3262}
{:type :ok, :f :write, :value 4, :process 14, :time 15307900049, :index 3265}
{:type :invoke, :f :read, :value nil, :process 38, :time 15313383723, :index 3267}
{:type :invoke, :f :cas, :value [4 3], :process 17, :time 15314374794, :index 3269}
{:type :invoke, :f :write, :value 0, :process 33, :time 15317014660, :index 3270}
{:type :invoke, :f :cas, :value [2 1], :process 16, :time 15317347282, :index 3271}
{:type :ok, :f :cas, :value [4 3], :process 17, :time 15319399667, :index 3272}
{:type :ok, :f :read, :value 4, :process 38, :time 15319802157, :index 3273}
{:type :ok, :f :write, :value 0, :process 33, :time 15321921945, :index 3274}
{:type :fail, :f :cas, :value [2 1], :process 16, :time 15322713419, :index 3275}
{:type :invoke, :f :cas, :value [4 0], :process 17, :time 15345681835, :index 3279}
{:type :fail, :f :cas, :value [4 0], :process 17, :time 15351422770, :index 3280}
{:type :invoke, :f :write, :value 3, :process 16, :time 15354979657, :index 3282}
{:type :ok, :f :write, :value 3, :process 16, :time 15360911699, :index 3284}
{:type :invoke, :f :cas, :value [2 0], :process 38, :time 15362076948, :index 3285}
{:type :invoke, :f :cas, :value [3 2], :process 19, :time 15366524462, :index 3287}
{:type :invoke, :f :read, :value nil, :process 17, :time 15366701006, :index 3288}
{:type :fail, :f :cas, :value [2 0], :process 38, :time 15367815463, :index 3289}
{:type :ok, :f :read, :value 3, :process 17, :time 15371683391, :index 3290}
{:type :ok, :f :cas, :value [3 2], :process 19, :time 15372732273, :index 3291}
{:type :invoke, :f :write, :value 3, :process 15, :time 15404195475, :index 3298}
{:type :invoke, :f :write, :value 4, :process 12, :time 15406765147, :index 3300}
{:type :invoke, :f :read, :value nil, :process 10, :time 15408855667, :index 3301}
{:type :ok, :f :write, :value 3, :process 15, :time 15411533158, :index 3303}
{:type :ok, :f :write, :value 4, :process 12, :time 15411713542, :index 3304}
{:type :ok, :f :read, :value 4, :process 10, :time 15413954044, :index 3305}
{:type :invoke, :f :write, :value 2, :process 31, :time 15445443388, :index 3316}
{:type :ok, :f :write, :value 2, :process 31, :time 15449904221, :index 3317}
{:type :invoke, :f :write, :value 1, :process 15, :time 15451846657, :index 3319}
{:type :ok, :f :write, :value 1, :process 15, :time 15457357162, :index 3322}
{:type :invoke, :f :write, :value 1, :process 17, :time 15459937290, :index 3323}
{:type :ok, :f :write, :value 1, :process 17, :time 15463898633, :index 3326}
{:type :invoke, :f :read, :value nil, :process 14, :time 15476147945, :index 3331}
{:type :ok, :f :read, :value 1, :process 14, :time 15481567942, :index 3333}
{:type :invoke, :f :cas, :value [1 2], :process 33, :time 15501188968, :index 3338}
{:type :ok, :f :cas, :value [1 2], :process 33, :time 15507383501, :index 3341}
{:type :invoke, :f :write, :value 3, :process 38, :time 15508080015, :index 3342}
{:type :ok, :f :write, :value 3, :process 38, :time 15513497235, :index 3343}
{:type :invoke, :f :write, :value 2, :process 12, :time 15514947708, :index 3344}
{:type :ok, :f :write, :value 2, :process 12, :time 15519663056, :index 3345}
{:type :invoke, :f :cas, :value [3 2], :process 19, :time 15521991819, :index 3346}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :invoke, :f :cas, :value [3 3], :process 16, :time 15524360594, :index 3348}
{:type :fail, :f :cas, :value [3 2], :process 19, :time 15528104513, :index 3349}
{:type :fail, :f :cas, :value [3 3], :process 16, :time 15530119867, :index 3350}
{:type :invoke, :f :read, :value nil, :process 15, :time 15545628104, :index 3352}
{:type :invoke, :f :write, :value 1, :process 10, :time 15558204090, :index 3355}
{:type :invoke, :f :cas, :value [3 4], :process 38, :time 15590753638, :index 3356}
{:type :invoke, :f :read, :value nil, :process 16, :time 15601380511, :index 3357}
{:type :invoke, :f :write, :value 4, :process 19, :time 15604383456, :index 3359}
{:type :invoke, :f :write, :value 3, :process 31, :time 15620162444, :index 3362}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :invoke, :f :read, :value nil, :process 17, :time 15628159072, :index 3364}
{:type :invoke, :f :write, :value 4, :process 12, :time 15630941902, :index 3365}
{:type :invoke, :f :cas, :value [3 1], :process 14, :time 15638830338, :index 3368}
{:type :invoke, :f :read, :value nil, :process 33, :time 15650620393, :index 3371}
{:type :fail, :f :read, :value nil, :process 15, :time 20552290984, :error :timeout, :index 3373}
{:type :info, :f :write, :value 1, :process 10, :time 20562607651, :error :timeout, :index 3376}
{:type :info, :f :cas, :value [3 4], :process 38, :time 20592965241, :error :timeout, :index 3378}
{:type :fail, :f :read, :value nil, :process 16, :time 20607254591, :error :timeout, :index 3379}
{:type :info, :f :write, :value 4, :process 19, :time 20607632088, :error :timeout, :index 3380}
{:type :invoke, :f :write, :value 3, :process 30, :time 20614238191, :index 3382}
{:type :ok, :f :write, :value 3, :process 30, :time 20626618053, :index 3385}
{:type :info, :f :write, :value 3, :process 31, :time 20626924864, :error :timeout, :index 3386}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :write, :value 4, :process 12, :time 20633511161, :error :timeout, :index 3388}
{:type :fail, :f :read, :value nil, :process 17, :time 20635038010, :error :timeout, :index 3389}
{:type :info, :f :cas, :value [3 1], :process 14, :time 20643739576, :error :timeout, :index 3394}
{:type :fail, :f :read, :value nil, :process 33, :time 20657389838, :error :timeout, :index 3398}
{:type :invoke, :f :write, :value 2, :process 16, :time 20660520889, :index 3399}
{:type :invoke, :f :write, :value 4, :process 58, :time 20660616281, :index 3400}
{:type :ok, :f :write, :value 4, :process 58, :time 20665699720, :index 3401}
{:type :ok, :f :write, :value 2, :process 16, :time 20670737242, :index 3402}
{:type :invoke, :f :write, :value 3, :process 51, :time 20679420788, :index 3403}
{:type :ok, :f :write, :value 3, :process 51, :time 20684603438, :index 3405}
{:type :invoke, :f :cas, :value [2 1], :process 34, :time 20710123926, :index 3410}
{:type :invoke, :f :cas, :value [0 4], :process 32, :time 20720348701, :index 3412}
{:type :invoke, :f :cas, :value [0 4], :process 15, :time 20724579258, :index 3414}
{:type :fail, :f :cas, :value [0 4], :process 15, :time 20730701843, :index 3417}
{:type :invoke, :f :cas, :value [3 0], :process 51, :time 20732901715, :index 3418}
{:type :ok, :f :cas, :value [3 0], :process 51, :time 20738200855, :index 3419}
{:type :invoke, :f :read, :value nil, :process 17, :time 20754309920, :index 3420}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 20756977199, :index 3422}
{:type :invoke, :f :cas, :value [3 1], :process 39, :time 20761512983, :index 3423}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 20763493936, :index 3424}
{:type :invoke, :f :cas, :value [2 3], :process 16, :time 20773993222, :index 3425}
{:type :invoke, :f :write, :value 4, :process 30, :time 20775202086, :index 3426}
{:type :invoke, :f :read, :value nil, :process 33, :time 20777660592, :index 3427}
{:type :fail, :f :cas, :value [2 3], :process 16, :time 20779419857, :index 3428}
{:type :ok, :f :write, :value 4, :process 30, :time 20781664141, :index 3429}
{:type :ok, :f :read, :value 4, :process 33, :time 20781745741, :index 3430}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :invoke, :f :cas, :value [4 3], :process 58, :time 20860997617, :index 3444}
{:type :ok, :f :cas, :value [4 3], :process 58, :time 20866752890, :index 3446}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 20871681981, :index 3448}
{:type :invoke, :f :write, :value 0, :process 30, :time 20876937812, :index 3449}
{:type :ok, :f :cas, :value [3 0], :process 16, :time 20877269413, :index 3450}
{:type :ok, :f :write, :value 0, :process 30, :time 20882849851, :index 3452}
{:type :invoke, :f :cas, :value [1 0], :process 30, :time 20895113868, :index 3454}
{:type :fail, :f :cas, :value [1 0], :process 30, :time 20900499594, :index 3456}
{:type :invoke, :f :read, :value nil, :process 58, :time 20904013406, :index 3457}
{:type :invoke, :f :read, :value nil, :process 51, :time 20905468214, :index 3459}
{:type :ok, :f :read, :value 0, :process 58, :time 20909355939, :index 3461}
{:type :ok, :f :read, :value 0, :process 51, :time 20912093558, :index 3462}
{:type :invoke, :f :cas, :value [2 4], :process 33, :time 20936972226, :index 3464}
{:type :fail, :f :cas, :value [2 4], :process 33, :time 20942187140, :index 3466}
{:type :invoke, :f :write, :value 4, :process 30, :time 20957757361, :index 3470}
{:type :invoke, :f :read, :value nil, :process 15, :time 20958775140, :index 3471}
{:type :ok, :f :write, :value 4, :process 30, :time 20964272915, :index 3472}
{:type :ok, :f :read, :value 4, :process 15, :time 20964777347, :index 3473}
{:type :invoke, :f :write, :value 0, :process 30, :time 20971535776, :index 3476}
{:type :ok, :f :write, :value 0, :process 30, :time 20976866773, :index 3477}
{:type :invoke, :f :cas, :value [4 2], :process 33, :time 21003448375, :index 3480}
{:type :fail, :f :cas, :value [4 2], :process 33, :time 21008478983, :index 3481}
{:type :invoke, :f :read, :value nil, :process 16, :time 21050523270, :index 3484}
{:type :invoke, :f :write, :value 3, :process 15, :time 21055034917, :index 3485}
{:type :ok, :f :read, :value 0, :process 16, :time 21056330165, :index 3486}
{:type :invoke, :f :write, :value 0, :process 51, :time 21059351422, :index 3487}
{:type :ok, :f :write, :value 3, :process 15, :time 21060199058, :index 3488}
{:type :ok, :f :write, :value 0, :process 51, :time 21064565762, :index 3489}
{:type :invoke, :f :cas, :value [2 4], :process 58, :time 21076615786, :index 3492}
{:type :fail, :f :cas, :value [2 4], :process 58, :time 21082383204, :index 3493}
{:type :invoke, :f :write, :value 4, :process 33, :time 21087740056, :index 3494}
{:type :ok, :f :write, :value 4, :process 33, :time 21092801501, :index 3496}
{:type :invoke, :f :read, :value nil, :process 33, :time 21111054996, :index 3498}
{:type :invoke, :f :read, :value nil, :process 30, :time 21114125540, :index 3499}
{:type :ok, :f :read, :value 4, :process 33, :time 21115985021, :index 3500}
{:type :invoke, :f :write, :value 2, :process 58, :time 21120654367, :index 3503}
{:type :ok, :f :read, :value 4, :process 30, :time 21121990414, :index 3504}
{:type :ok, :f :write, :value 2, :process 58, :time 21125349117, :index 3507}
{:type :invoke, :f :cas, :value [4 3], :process 16, :time 21126596436, :index 3508}
{:type :fail, :f :cas, :value [4 3], :process 16, :time 21132667276, :index 3509}
{:type :invoke, :f :write, :value 3, :process 16, :time 21133956117, :index 3510}
{:type :ok, :f :write, :value 3, :process 16, :time 21139117828, :index 3512}
{:type :invoke, :f :read, :value nil, :process 51, :time 21200832156, :index 3522}
{:type :ok, :f :read, :value 3, :process 51, :time 21206799702, :index 3523}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 21211466830, :index 3525}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 21217394234, :index 3527}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 21224427709, :index 3530}
{:type :invoke, :f :write, :value 3, :process 33, :time 21228248417, :index 3531}
{:type :ok, :f :cas, :value [3 0], :process 16, :time 21229422365, :index 3532}
{:type :ok, :f :write, :value 3, :process 33, :time 21233113659, :index 3533}
{:type :invoke, :f :read, :value nil, :process 51, :time 21235058585, :index 3534}
{:type :invoke, :f :cas, :value [3 3], :process 58, :time 21236634709, :index 3535}
{:type :ok, :f :read, :value 3, :process 51, :time 21241220859, :index 3536}
{:type :ok, :f :cas, :value [3 3], :process 58, :time 21241975731, :index 3537}
{:type :invoke, :f :write, :value 1, :process 15, :time 21275651558, :index 3544}
{:type :ok, :f :write, :value 1, :process 15, :time 21281093547, :index 3545}
{:type :invoke, :f :read, :value nil, :process 30, :time 21285248251, :index 3547}
{:type :ok, :f :read, :value 1, :process 30, :time 21290385918, :index 3549}
{:type :ok, :f :read, :value 1, :process 17, :time 22842620937, :index 3608}
{:type :fail, :f :cas, :value [0 4], :process 32, :time 22843397370, :index 3611}
{:type :fail, :f :cas, :value [2 1], :process 34, :time 22845716824, :index 3612}
{:type :fail, :f :cas, :value [3 1], :process 39, :time 22845783876, :index 3613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
