{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :invoke, :f :read, :value nil, :process 20, :time 24547680811, :index 4074}
{:type :invoke, :f :cas, :value [2 0], :process 29, :time 24551708639, :index 4076}
{:type :ok, :f :read, :value nil, :process 20, :time 24553505016, :index 4077}
{:type :fail, :f :cas, :value [2 0], :process 29, :time 24556954069, :error :not-found, :index 4078}
{:type :invoke, :f :read, :value nil, :process 22, :time 24596529684, :index 4086}
{:type :invoke, :f :read, :value nil, :process 41, :time 24600306512, :index 4087}
{:type :ok, :f :read, :value nil, :process 22, :time 24602533299, :index 4088}
{:type :ok, :f :read, :value nil, :process 41, :time 24605634121, :index 4090}
{:type :invoke, :f :read, :value nil, :process 23, :time 24613562316, :index 4092}
{:type :ok, :f :read, :value nil, :process 23, :time 24619058455, :index 4094}
{:type :invoke, :f :write, :value 4, :process 24, :time 24628040502, :index 4096}
{:type :ok, :f :write, :value 4, :process 24, :time 24632920769, :index 4098}
{:type :invoke, :f :cas, :value [3 2], :process 23, :time 24652312243, :index 4101}
{:type :fail, :f :cas, :value [3 2], :process 23, :time 24657320767, :index 4103}
{:type :invoke, :f :cas, :value [2 1], :process 7, :time 24661027420, :index 4104}
{:type :invoke, :f :cas, :value [3 0], :process 25, :time 24666830905, :index 4106}
{:type :fail, :f :cas, :value [2 1], :process 7, :time 24667410988, :index 4107}
{:type :fail, :f :cas, :value [3 0], :process 25, :time 24673371884, :index 4111}
{:type :invoke, :f :read, :value nil, :process 26, :time 24684000376, :index 4115}
{:type :invoke, :f :cas, :value [4 3], :process 8, :time 24687665223, :index 4117}
{:type :ok, :f :read, :value 4, :process 26, :time 24688526218, :index 4118}
{:type :invoke, :f :write, :value 2, :process 7, :time 24690666811, :index 4120}
{:type :ok, :f :cas, :value [4 3], :process 8, :time 24692795531, :index 4121}
{:type :ok, :f :write, :value 2, :process 7, :time 24695462591, :index 4124}
{:type :invoke, :f :cas, :value [0 1], :process 23, :time 24713579440, :index 4132}
{:type :fail, :f :cas, :value [0 1], :process 23, :time 24718003655, :index 4133}
{:type :invoke, :f :read, :value nil, :process 23, :time 24724264111, :index 4137}
{:type :invoke, :f :write, :value 3, :process 8, :time 24729076662, :index 4139}
{:type :ok, :f :read, :value 2, :process 23, :time 24729300743, :index 4140}
{:type :invoke, :f :read, :value nil, :process 29, :time 24730221528, :index 4141}
{:type :ok, :f :write, :value 3, :process 8, :time 24733681916, :index 4142}
{:type :invoke, :f :write, :value 1, :process 25, :time 24736635364, :index 4143}
{:type :ok, :f :read, :value 3, :process 29, :time 24742644298, :index 4144}
{:type :ok, :f :write, :value 1, :process 25, :time 24742954135, :index 4145}
{:type :invoke, :f :cas, :value [4 1], :process 20, :time 24747761580, :index 4146}
{:type :fail, :f :cas, :value [4 1], :process 20, :time 24753256330, :index 4147}
{:type :invoke, :f :read, :value nil, :process 22, :time 24760785316, :index 4148}
{:type :ok, :f :read, :value 1, :process 22, :time 24766089294, :index 4149}
{:type :invoke, :f :write, :value 1, :process 29, :time 24783993201, :index 4152}
{:type :invoke, :f :cas, :value [1 1], :process 7, :time 24789721540, :index 4153}
{:type :ok, :f :write, :value 1, :process 29, :time 24791002700, :index 4154}
{:type :invoke, :f :write, :value 2, :process 41, :time 24790901499, :index 4155}
{:type :ok, :f :cas, :value [1 1], :process 7, :time 24795779855, :index 4159}
{:type :ok, :f :write, :value 2, :process 41, :time 24796594801, :index 4161}
{:type :invoke, :f :cas, :value [4 3], :process 24, :time 24826184329, :index 4170}
{:type :fail, :f :cas, :value [4 3], :process 24, :time 24831408667, :index 4171}
{:type :invoke, :f :write, :value 0, :process 22, :time 24841347789, :index 4172}
{:type :invoke, :f :read, :value nil, :process 20, :time 24845512831, :index 4173}
{:type :ok, :f :write, :value 0, :process 22, :time 24847046813, :index 4174}
{:type :ok, :f :read, :value 0, :process 20, :time 24850630963, :index 4176}
{:type :invoke, :f :cas, :value [1 0], :process 25, :time 24853188583, :index 4177}
{:type :invoke, :f :read, :value nil, :process 41, :time 24854884490, :index 4180}
{:type :fail, :f :cas, :value [1 0], :process 25, :time 24860225807, :index 4183}
{:type :ok, :f :read, :value 0, :process 41, :time 24860381710, :index 4184}
{:type :invoke, :f :write, :value 2, :process 25, :time 24864510680, :index 4188}
{:type :invoke, :f :read, :value nil, :process 8, :time 24865945486, :index 4189}
{:type :invoke, :f :read, :value nil, :process 23, :time 24867538547, :index 4190}
{:type :ok, :f :write, :value 2, :process 25, :time 24870510592, :index 4191}
{:type :ok, :f :read, :value 2, :process 8, :time 24870641770, :index 4192}
{:type :ok, :f :read, :value 2, :process 23, :time 24872431965, :index 4193}
{:type :invoke, :f :write, :value 4, :process 26, :time 24887801316, :index 4196}
{:type :ok, :f :write, :value 4, :process 26, :time 24892552877, :index 4197}
{:type :invoke, :f :read, :value nil, :process 8, :time 24907922683, :index 4205}
{:type :ok, :f :read, :value 4, :process 8, :time 24912185122, :index 4207}
{:type :invoke, :f :write, :value 4, :process 20, :time 24928929373, :index 4210}
{:type :invoke, :f :read, :value nil, :process 22, :time 24933316612, :index 4211}
{:type :ok, :f :write, :value 4, :process 20, :time 24933699960, :index 4212}
{:type :ok, :f :read, :value 4, :process 22, :time 24938725644, :index 4213}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 24954094515, :index 4218}
{:type :invoke, :f :read, :value nil, :process 29, :time 24955244232, :index 4219}
{:type :ok, :f :cas, :value [4 4], :process 7, :time 24959312458, :index 4220}
{:type :ok, :f :read, :value 4, :process 29, :time 24960851517, :index 4221}
{:type :invoke, :f :cas, :value [2 4], :process 23, :time 24967691322, :index 4222}
{:type :fail, :f :cas, :value [2 4], :process 23, :time 24973000921, :index 4223}
{:type :invoke, :f :read, :value nil, :process 24, :time 24994672525, :index 4230}
{:type :ok, :f :read, :value 4, :process 24, :time 25000245704, :index 4235}
{:type :invoke, :f :write, :value 2, :process 20, :time 25001973087, :index 4237}
{:type :invoke, :f :cas, :value [2 4], :process 41, :time 25004629144, :index 4238}
{:type :invoke, :f :read, :value nil, :process 8, :time 25006444732, :index 4239}
{:type :ok, :f :write, :value 2, :process 20, :time 25007571901, :index 4240}
{:type :ok, :f :cas, :value [2 4], :process 41, :time 25011769680, :index 4242}
{:type :ok, :f :read, :value 4, :process 8, :time 25012021620, :index 4243}
{:type :invoke, :f :read, :value nil, :process 20, :time 25020834527, :index 4246}
{:type :invoke, :f :cas, :value [0 4], :process 29, :time 25021117541, :index 4247}
{:type :invoke, :f :cas, :value [1 2], :process 26, :time 25022836556, :index 4248}
{:type :ok, :f :read, :value 4, :process 20, :time 25026866847, :index 4251}
{:type :fail, :f :cas, :value [0 4], :process 29, :time 25027366039, :index 4252}
{:type :fail, :f :cas, :value [1 2], :process 26, :time 25028574023, :index 4253}
{:type :invoke, :f :read, :value nil, :process 25, :time 25028784206, :index 4254}
{:type :invoke, :f :write, :value 2, :process 7, :time 25029593187, :index 4255}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 25033994818, :index 4256}
{:type :ok, :f :read, :value 4, :process 25, :time 25034416418, :index 4257}
{:type :ok, :f :write, :value 2, :process 7, :time 25034785818, :index 4258}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 25039317721, :index 4259}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 25047278767, :index 4261}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 25051792169, :index 4263}
{:type :invoke, :f :write, :value 4, :process 26, :time 25074825168, :index 4270}
{:type :invoke, :f :cas, :value [3 0], :process 7, :time 25078051323, :index 4271}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 25079619025, :index 4272}
{:type :ok, :f :write, :value 4, :process 26, :time 25080237053, :index 4273}
{:type :fail, :f :cas, :value [3 0], :process 7, :time 25083069241, :index 4274}
{:type :fail, :f :cas, :value [3 3], :process 29, :time 25084504498, :index 4275}
{:type :invoke, :f :cas, :value [3 1], :process 20, :time 25097118512, :index 4277}
{:type :fail, :f :cas, :value [3 1], :process 20, :time 25102917029, :index 4279}
{:type :invoke, :f :read, :value nil, :process 25, :time 25124655973, :index 4280}
{:type :ok, :f :read, :value 4, :process 25, :time 25130079345, :index 4282}
{:type :invoke, :f :read, :value nil, :process 22, :time 25140574810, :index 4286}
{:type :invoke, :f :write, :value 0, :process 29, :time 25144764223, :index 4288}
{:type :ok, :f :read, :value 4, :process 22, :time 25145549388, :index 4289}
{:type :ok, :f :write, :value 0, :process 29, :time 25149767471, :index 4291}
{:type :invoke, :f :cas, :value [4 1], :process 24, :time 25150491574, :index 4292}
{:type :invoke, :f :read, :value nil, :process 23, :time 25151285777, :index 4293}
{:type :invoke, :f :cas, :value [1 3], :process 26, :time 25154486142, :index 4294}
{:type :ok, :f :read, :value 0, :process 23, :time 25155851116, :index 4295}
{:type :fail, :f :cas, :value [4 1], :process 24, :time 25156300310, :index 4296}
{:type :fail, :f :cas, :value [1 3], :process 26, :time 25160693059, :index 4297}
{:type :invoke, :f :cas, :value [1 4], :process 26, :time 25160825126, :index 4298}
{:type :fail, :f :cas, :value [1 4], :process 26, :time 25165841550, :index 4300}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 25180046508, :index 4305}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 25184732205, :index 4308}
{:type :invoke, :f :read, :value nil, :process 22, :time 25198838635, :index 4311}
{:type :invoke, :f :write, :value 4, :process 41, :time 25204035071, :index 4312}
{:type :ok, :f :write, :value 4, :process 41, :time 25209740938, :index 4314}
{:type :invoke, :f :write, :value 4, :process 20, :time 25246173709, :index 4326}
{:type :ok, :f :write, :value 4, :process 20, :time 25251763520, :index 4327}
{:type :invoke, :f :read, :value nil, :process 29, :time 25264017545, :index 4328}
{:type :ok, :f :read, :value 4, :process 29, :time 25269639031, :index 4329}
{:type :invoke, :f :read, :value nil, :process 7, :time 25273331049, :index 4330}
{:type :invoke, :f :read, :value nil, :process 8, :time 25292994893, :index 4332}
{:type :ok, :f :read, :value 4, :process 8, :time 25297771162, :index 4334}
{:type :invoke, :f :read, :value nil, :process 25, :time 25317339220, :index 4344}
{:type :invoke, :f :read, :value nil, :process 8, :time 25322029755, :index 4345}
{:type :ok, :f :read, :value 4, :process 25, :time 25322515342, :index 4346}
{:type :invoke, :f :write, :value 2, :process 24, :time 25324539707, :index 4347}
{:type :invoke, :f :cas, :value [0 0], :process 26, :time 25326118240, :index 4348}
{:type :ok, :f :read, :value 4, :process 8, :time 25327358434, :index 4349}
{:type :ok, :f :write, :value 2, :process 24, :time 25329603530, :index 4350}
{:type :fail, :f :cas, :value [0 0], :process 26, :time 25331458318, :index 4351}
{:type :invoke, :f :write, :value 4, :process 23, :time 25345125641, :index 4353}
{:type :ok, :f :write, :value 4, :process 23, :time 25349597251, :index 4355}
{:type :invoke, :f :write, :value 4, :process 41, :time 25349987408, :index 4356}
{:type :ok, :f :write, :value 4, :process 41, :time 25355115501, :index 4357}
{:type :invoke, :f :cas, :value [0 4], :process 20, :time 25390028858, :index 4362}
{:type :invoke, :f :cas, :value [1 4], :process 24, :time 25391862003, :index 4363}
{:type :invoke, :f :write, :value 1, :process 23, :time 25394891076, :index 4364}
{:type :fail, :f :cas, :value [0 4], :process 20, :time 25395255753, :index 4365}
{:type :invoke, :f :write, :value 0, :process 8, :time 25395632863, :index 4366}
{:type :fail, :f :cas, :value [1 4], :process 24, :time 25396917872, :index 4367}
{:type :ok, :f :write, :value 1, :process 23, :time 25399998169, :index 4369}
{:type :ok, :f :write, :value 0, :process 8, :time 25400637237, :index 4370}
{:type :invoke, :f :read, :value nil, :process 20, :time 25440497982, :index 4381}
{:type :ok, :f :read, :value 0, :process 20, :time 25445955201, :index 4383}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 25446892589, :index 4384}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 25451585250, :index 4386}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 25452902751, :index 4387}
{:type :invoke, :f :cas, :value [1 2], :process 25, :time 25455788179, :index 4389}
{:type :fail, :f :cas, :value [3 3], :process 29, :time 25458639757, :index 4391}
{:type :invoke, :f :write, :value 4, :process 24, :time 25459198299, :index 4392}
{:type :fail, :f :cas, :value [1 2], :process 25, :time 25461714446, :index 4394}
{:type :ok, :f :write, :value 4, :process 24, :time 25464580235, :index 4396}
{:type :invoke, :f :cas, :value [4 3], :process 24, :time 25480843220, :index 4398}
{:type :ok, :f :cas, :value [4 3], :process 24, :time 25485796758, :index 4399}
{:type :invoke, :f :cas, :value [3 4], :process 25, :time 25487992068, :index 4400}
{:type :ok, :f :cas, :value [3 4], :process 25, :time 25493687902, :index 4401}
{:type :invoke, :f :write, :value 4, :process 20, :time 25519210863, :index 4402}
{:type :invoke, :f :cas, :value [0 0], :process 26, :time 25524724179, :index 4403}
{:type :ok, :f :write, :value 4, :process 20, :time 25524859251, :index 4404}
{:type :fail, :f :cas, :value [0 0], :process 26, :time 25530230328, :index 4407}
{:type :invoke, :f :read, :value nil, :process 20, :time 25534107344, :index 4408}
{:type :invoke, :f :cas, :value [1 4], :process 41, :time 25535408055, :index 4411}
{:type :invoke, :f :read, :value nil, :process 8, :time 25538903567, :index 4412}
{:type :ok, :f :read, :value 4, :process 20, :time 25540322346, :index 4413}
{:type :fail, :f :cas, :value [1 4], :process 41, :time 25540650296, :index 4414}
{:type :ok, :f :read, :value 4, :process 8, :time 25543131007, :index 4415}
{:type :invoke, :f :read, :value nil, :process 25, :time 25548953573, :index 4417}
{:type :ok, :f :read, :value 4, :process 25, :time 25553597213, :index 4419}
{:type :invoke, :f :write, :value 0, :process 23, :time 25557254356, :index 4420}
{:type :invoke, :f :write, :value 4, :process 41, :time 25558933849, :index 4421}
{:type :ok, :f :write, :value 0, :process 23, :time 25561905734, :index 4422}
{:type :ok, :f :write, :value 4, :process 41, :time 25564331674, :index 4423}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 25578385304, :index 4425}
{:type :fail, :f :cas, :value [3 3], :process 8, :time 25584169695, :index 4428}
{:type :invoke, :f :write, :value 3, :process 24, :time 25606062390, :index 4435}
{:type :invoke, :f :read, :value nil, :process 23, :time 25610165619, :index 4437}
{:type :ok, :f :write, :value 3, :process 24, :time 25610597828, :index 4438}
{:type :ok, :f :read, :value 3, :process 23, :time 25614669716, :index 4439}
{:type :invoke, :f :cas, :value [1 4], :process 29, :time 25621922703, :index 4440}
{:type :fail, :f :cas, :value [1 4], :process 29, :time 25627196877, :index 4441}
{:type :invoke, :f :cas, :value [1 1], :process 8, :time 25678455729, :index 4450}
{:type :fail, :f :cas, :value [1 1], :process 8, :time 25683081882, :index 4451}
{:type :invoke, :f :cas, :value [1 3], :process 41, :time 25695584347, :index 4452}
{:type :invoke, :f :read, :value nil, :process 25, :time 25695862603, :index 4453}
{:type :fail, :f :cas, :value [1 3], :process 41, :time 25701541671, :index 4454}
{:type :ok, :f :read, :value 3, :process 25, :time 25702297925, :index 4455}
{:type :invoke, :f :read, :value nil, :process 20, :time 25716587412, :index 4459}
{:type :ok, :f :read, :value 3, :process 20, :time 25721496013, :index 4461}
{:type :invoke, :f :write, :value 3, :process 26, :time 25721493744, :index 4462}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :fail, :f :read, :value nil, :process 22, :time 30201186124, :error :timeout, :index 4493}
{:type :fail, :f :read, :value nil, :process 7, :time 30280128719, :error :timeout, :index 4494}
{:type :info, :f :write, :value 3, :process 26, :time 30728357279, :error :timeout, :index 4500}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
