{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 12871932259, :index 2426}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 12876662627, :error :not-found, :index 2427}
{:type :invoke, :f :write, :value 2, :process 15, :time 12921813963, :index 2434}
{:type :ok, :f :write, :value 2, :process 15, :time 12925672472, :index 2437}
{:type :invoke, :f :read, :value nil, :process 15, :time 13001923156, :index 2458}
{:type :ok, :f :read, :value 2, :process 15, :time 13007042653, :index 2460}
{:type :invoke, :f :read, :value nil, :process 17, :time 13009894553, :index 2463}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 13011926520, :index 2465}
{:type :invoke, :f :read, :value nil, :process 15, :time 13016222730, :index 2471}
{:type :ok, :f :read, :value 2, :process 17, :time 13019584213, :index 2473}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 13019944116, :index 2474}
{:type :ok, :f :read, :value 2, :process 15, :time 13021410585, :index 2477}
{:type :invoke, :f :cas, :value [1 0], :process 15, :time 13041649740, :index 2481}
{:type :fail, :f :cas, :value [1 0], :process 15, :time 13047180853, :index 2483}
{:type :invoke, :f :read, :value nil, :process 12, :time 13049809995, :index 2484}
{:type :ok, :f :read, :value 2, :process 12, :time 13055090887, :index 2485}
{:type :invoke, :f :read, :value nil, :process 15, :time 13072435992, :index 2486}
{:type :ok, :f :read, :value 2, :process 15, :time 13077225296, :index 2487}
{:type :invoke, :f :write, :value 0, :process 16, :time 13102219445, :index 2498}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 13102495082, :index 2499}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 13108769771, :index 2500}
{:type :ok, :f :write, :value 0, :process 16, :time 13108818628, :index 2501}
{:type :invoke, :f :read, :value nil, :process 33, :time 13117545919, :index 2506}
{:type :ok, :f :read, :value 0, :process 33, :time 13122390740, :index 2507}
{:type :invoke, :f :cas, :value [1 0], :process 17, :time 13125824803, :index 2508}
{:type :fail, :f :cas, :value [1 0], :process 17, :time 13131557896, :index 2509}
{:type :invoke, :f :write, :value 0, :process 16, :time 13136044982, :index 2510}
{:type :ok, :f :write, :value 0, :process 16, :time 13142007315, :index 2512}
{:type :invoke, :f :write, :value 1, :process 31, :time 13149677436, :index 2514}
{:type :invoke, :f :write, :value 1, :process 17, :time 13149848982, :index 2515}
{:type :invoke, :f :write, :value 1, :process 38, :time 13151256402, :index 2517}
{:type :invoke, :f :write, :value 4, :process 10, :time 13153047392, :index 2518}
{:type :ok, :f :write, :value 1, :process 31, :time 13155258031, :index 2519}
{:type :ok, :f :write, :value 1, :process 17, :time 13156811932, :index 2520}
{:type :ok, :f :write, :value 1, :process 38, :time 13157633438, :index 2521}
{:type :ok, :f :write, :value 4, :process 10, :time 13158354790, :index 2523}
{:type :invoke, :f :write, :value 0, :process 16, :time 13166289065, :index 2527}
{:type :ok, :f :write, :value 0, :process 16, :time 13171743510, :index 2530}
{:type :invoke, :f :cas, :value [2 3], :process 33, :time 13181644961, :index 2532}
{:type :invoke, :f :cas, :value [2 4], :process 12, :time 13183350172, :index 2533}
{:type :fail, :f :cas, :value [2 3], :process 33, :time 13186654489, :index 2534}
{:type :fail, :f :cas, :value [2 4], :process 12, :time 13188211019, :index 2535}
{:type :invoke, :f :cas, :value [2 0], :process 33, :time 13231915758, :index 2542}
{:type :fail, :f :cas, :value [2 0], :process 33, :time 13237438242, :index 2543}
{:type :invoke, :f :write, :value 4, :process 15, :time 13261517393, :index 2547}
{:type :ok, :f :write, :value 4, :process 15, :time 13266350946, :index 2551}
{:type :invoke, :f :cas, :value [4 0], :process 17, :time 13279080714, :index 2556}
{:type :ok, :f :cas, :value [4 0], :process 17, :time 13284678135, :index 2557}
{:type :invoke, :f :write, :value 2, :process 10, :time 13313582065, :index 2562}
{:type :ok, :f :write, :value 2, :process 10, :time 13318469445, :index 2563}
{:type :invoke, :f :cas, :value [2 4], :process 31, :time 13325516019, :index 2564}
{:type :ok, :f :cas, :value [2 4], :process 31, :time 13331187691, :index 2566}
{:type :invoke, :f :write, :value 3, :process 12, :time 13334467873, :index 2568}
{:type :invoke, :f :write, :value 0, :process 16, :time 13335156712, :index 2570}
{:type :invoke, :f :cas, :value [3 0], :process 33, :time 13336703324, :index 2571}
{:type :invoke, :f :write, :value 4, :process 10, :time 13338731803, :index 2572}
{:type :ok, :f :write, :value 0, :process 16, :time 13340310275, :index 2574}
{:type :ok, :f :write, :value 3, :process 12, :time 13340892719, :index 2575}
{:type :fail, :f :cas, :value [3 0], :process 33, :time 13342555679, :index 2577}
{:type :ok, :f :write, :value 4, :process 10, :time 13343116112, :index 2578}
{:type :invoke, :f :read, :value nil, :process 38, :time 13351880078, :index 2580}
{:type :ok, :f :read, :value 4, :process 38, :time 13357137505, :index 2581}
{:type :invoke, :f :cas, :value [2 4], :process 17, :time 13378973815, :index 2582}
{:type :fail, :f :cas, :value [2 4], :process 17, :time 13384833657, :index 2583}
{:type :invoke, :f :read, :value nil, :process 31, :time 13389459403, :index 2584}
{:type :ok, :f :read, :value 4, :process 31, :time 13394832734, :index 2585}
{:type :invoke, :f :read, :value nil, :process 33, :time 13396842190, :index 2587}
{:type :ok, :f :read, :value 4, :process 33, :time 13402457313, :index 2589}
{:type :invoke, :f :cas, :value [4 3], :process 33, :time 13412706478, :index 2593}
{:type :ok, :f :cas, :value [4 3], :process 33, :time 13418281411, :index 2595}
{:type :invoke, :f :write, :value 2, :process 38, :time 13420393726, :index 2596}
{:type :invoke, :f :cas, :value [2 3], :process 31, :time 13424127670, :index 2597}
{:type :ok, :f :write, :value 2, :process 38, :time 13424992520, :index 2598}
{:type :invoke, :f :write, :value 2, :process 17, :time 13427109567, :index 2600}
{:type :ok, :f :cas, :value [2 3], :process 31, :time 13430372165, :index 2601}
{:type :ok, :f :write, :value 2, :process 17, :time 13432385790, :index 2604}
{:type :invoke, :f :cas, :value [3 2], :process 15, :time 13432613670, :index 2605}
{:type :fail, :f :cas, :value [3 2], :process 15, :time 13437909190, :index 2608}
{:type :invoke, :f :cas, :value [0 4], :process 12, :time 13438128458, :index 2609}
{:type :fail, :f :cas, :value [0 4], :process 12, :time 13444180635, :index 2612}
{:type :invoke, :f :read, :value nil, :process 10, :time 13446364450, :index 2614}
{:type :ok, :f :read, :value 2, :process 10, :time 13451861045, :index 2618}
{:type :invoke, :f :read, :value nil, :process 31, :time 13505635324, :index 2626}
{:type :ok, :f :read, :value 2, :process 31, :time 13511637654, :index 2627}
{:type :invoke, :f :write, :value 0, :process 15, :time 13514151671, :index 2628}
{:type :ok, :f :write, :value 0, :process 15, :time 13519124904, :index 2629}
{:type :invoke, :f :cas, :value [0 0], :process 38, :time 13521254489, :index 2630}
{:type :invoke, :f :write, :value 0, :process 16, :time 13521590324, :index 2631}
{:type :invoke, :f :read, :value nil, :process 10, :time 13523096358, :index 2632}
{:type :ok, :f :cas, :value [0 0], :process 38, :time 13526840246, :index 2633}
{:type :ok, :f :write, :value 0, :process 16, :time 13527977003, :index 2634}
{:type :ok, :f :read, :value 0, :process 10, :time 13527977003, :index 2635}
{:type :invoke, :f :read, :value nil, :process 33, :time 13535540270, :index 2636}
{:type :ok, :f :read, :value 0, :process 33, :time 13540733409, :index 2637}
{:type :invoke, :f :read, :value nil, :process 14, :time 13545279113, :index 2638}
{:type :ok, :f :read, :value 0, :process 14, :time 13550310264, :index 2641}
{:type :invoke, :f :cas, :value [2 4], :process 38, :time 13560115146, :index 2645}
{:type :fail, :f :cas, :value [2 4], :process 38, :time 13566109224, :index 2647}
{:type :invoke, :f :read, :value nil, :process 17, :time 13566643980, :index 2648}
{:type :ok, :f :read, :value 0, :process 17, :time 13571474505, :index 2649}
{:type :invoke, :f :read, :value nil, :process 15, :time 13572383575, :index 2650}
{:type :ok, :f :read, :value 0, :process 15, :time 13578829006, :index 2654}
{:type :invoke, :f :cas, :value [4 2], :process 12, :time 13587480267, :index 2656}
{:type :fail, :f :cas, :value [4 2], :process 12, :time 13593853991, :index 2659}
{:type :invoke, :f :write, :value 0, :process 17, :time 13599645580, :index 2662}
{:type :invoke, :f :cas, :value [0 4], :process 38, :time 13603356579, :index 2663}
{:type :ok, :f :write, :value 0, :process 17, :time 13604663416, :index 2664}
{:type :ok, :f :cas, :value [0 4], :process 38, :time 13608149124, :index 2667}
{:type :invoke, :f :write, :value 0, :process 10, :time 13623251900, :index 2674}
{:type :ok, :f :write, :value 0, :process 10, :time 13627478996, :index 2678}
{:type :invoke, :f :read, :value nil, :process 19, :time 13630807385, :index 2680}
{:type :ok, :f :read, :value 0, :process 19, :time 13635537355, :index 2681}
{:type :invoke, :f :write, :value 1, :process 17, :time 13666928867, :index 2685}
{:type :invoke, :f :write, :value 1, :process 12, :time 13668107187, :index 2686}
{:type :invoke, :f :write, :value 1, :process 33, :time 13693995915, :index 2691}
{:type :ok, :f :write, :value 1, :process 33, :time 13699749269, :index 2692}
{:type :invoke, :f :read, :value nil, :process 10, :time 13701727533, :index 2693}
{:type :ok, :f :read, :value 1, :process 10, :time 13706187909, :index 2695}
{:type :invoke, :f :cas, :value [4 1], :process 15, :time 13708079277, :index 2696}
{:type :invoke, :f :cas, :value [2 1], :process 31, :time 13708899616, :index 2697}
{:type :fail, :f :cas, :value [4 1], :process 15, :time 13712492985, :index 2700}
{:type :fail, :f :cas, :value [2 1], :process 31, :time 13714102536, :index 2701}
{:type :invoke, :f :write, :value 1, :process 16, :time 13724255749, :index 2703}
{:type :ok, :f :write, :value 1, :process 16, :time 13728941762, :index 2706}
{:type :invoke, :f :read, :value nil, :process 14, :time 13741471968, :index 2712}
{:type :ok, :f :write, :value 1, :process 17, :time 13742330518, :index 2714}
{:type :ok, :f :write, :value 1, :process 12, :time 13742796833, :index 2716}
{:type :invoke, :f :read, :value nil, :process 38, :time 13743443884, :index 2717}
{:type :ok, :f :read, :value 1, :process 14, :time 13746522461, :index 2718}
{:type :ok, :f :read, :value 1, :process 38, :time 13748613126, :index 2719}
{:type :invoke, :f :cas, :value [4 2], :process 10, :time 13766443401, :index 2724}
{:type :invoke, :f :read, :value nil, :process 17, :time 13770577663, :index 2726}
{:type :fail, :f :cas, :value [4 2], :process 10, :time 13771543428, :index 2727}
{:type :ok, :f :read, :value 1, :process 17, :time 13776231739, :index 2729}
{:type :invoke, :f :cas, :value [3 3], :process 31, :time 13776380301, :index 2730}
{:type :fail, :f :cas, :value [3 3], :process 31, :time 13781420680, :index 2731}
{:type :invoke, :f :read, :value nil, :process 19, :time 13784828991, :index 2732}
{:type :invoke, :f :write, :value 0, :process 16, :time 13789207920, :index 2733}
{:type :ok, :f :read, :value 1, :process 19, :time 13789862047, :index 2734}
{:type :ok, :f :write, :value 0, :process 16, :time 13794383202, :index 2736}
{:type :invoke, :f :write, :value 3, :process 14, :time 13835779193, :index 2740}
{:type :invoke, :f :cas, :value [4 0], :process 16, :time 13841644562, :index 2741}
{:type :ok, :f :write, :value 3, :process 14, :time 13842488620, :index 2742}
{:type :fail, :f :cas, :value [4 0], :process 16, :time 13847110392, :index 2743}
{:type :invoke, :f :write, :value 0, :process 17, :time 13861502788, :index 2746}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 13865012415, :index 2747}
{:type :ok, :f :write, :value 0, :process 17, :time 13867299436, :index 2748}
{:type :invoke, :f :read, :value nil, :process 12, :time 13869029769, :index 2750}
{:type :ok, :f :cas, :value [0 3], :process 33, :time 13870236758, :index 2751}
{:type :ok, :f :read, :value 3, :process 12, :time 13874220349, :index 2754}
{:type :invoke, :f :write, :value 0, :process 33, :time 13887497143, :index 2758}
{:type :invoke, :f :write, :value 1, :process 12, :time 13888482390, :index 2759}
{:type :invoke, :f :cas, :value [4 1], :process 15, :time 13892751274, :index 2760}
{:type :ok, :f :write, :value 0, :process 33, :time 13893639077, :index 2761}
{:type :ok, :f :write, :value 1, :process 12, :time 13894021558, :index 2762}
{:type :fail, :f :cas, :value [4 1], :process 15, :time 13897443540, :index 2763}
{:type :invoke, :f :write, :value 0, :process 38, :time 13904867408, :index 2765}
{:type :invoke, :f :read, :value nil, :process 10, :time 13908808911, :index 2767}
{:type :ok, :f :write, :value 0, :process 38, :time 13910519308, :index 2768}
{:type :ok, :f :read, :value 0, :process 10, :time 13913495297, :index 2769}
{:type :invoke, :f :write, :value 3, :process 14, :time 13916745088, :index 2770}
{:type :ok, :f :write, :value 3, :process 14, :time 13922189140, :index 2771}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 13933752348, :index 2778}
{:type :invoke, :f :write, :value 0, :process 19, :time 13934119576, :index 2779}
{:type :fail, :f :cas, :value [0 2], :process 10, :time 13938789868, :index 2780}
{:type :ok, :f :write, :value 0, :process 19, :time 13939084294, :index 2781}
{:type :invoke, :f :write, :value 4, :process 14, :time 13939448487, :index 2782}
{:type :ok, :f :write, :value 4, :process 14, :time 13944225650, :index 2784}
{:type :invoke, :f :write, :value 1, :process 31, :time 13953680394, :index 2788}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 13956717220, :index 2789}
{:type :ok, :f :write, :value 1, :process 31, :time 13958625882, :index 2790}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 13961291821, :index 2791}
{:type :invoke, :f :cas, :value [4 2], :process 14, :time 13975484821, :index 2792}
{:type :fail, :f :cas, :value [4 2], :process 14, :time 13981020334, :index 2793}
{:type :invoke, :f :cas, :value [3 1], :process 19, :time 13984322368, :index 2794}
{:type :fail, :f :cas, :value [3 1], :process 19, :time 13989929048, :index 2796}
{:type :invoke, :f :read, :value nil, :process 12, :time 13993295650, :index 2798}
{:type :ok, :f :read, :value 1, :process 12, :time 13998328420, :index 2799}
{:type :invoke, :f :cas, :value [3 1], :process 33, :time 14011893876, :index 2800}
{:type :invoke, :f :read, :value nil, :process 16, :time 14017492719, :index 2802}
{:type :fail, :f :cas, :value [3 1], :process 33, :time 14017949336, :index 2803}
{:type :ok, :f :read, :value 1, :process 16, :time 14022881063, :index 2805}
{:type :invoke, :f :read, :value nil, :process 19, :time 14024194907, :index 2806}
{:type :ok, :f :read, :value 1, :process 19, :time 14029524225, :index 2807}
{:type :invoke, :f :read, :value nil, :process 38, :time 14045777600, :index 2820}
{:type :invoke, :f :read, :value nil, :process 17, :time 14048556138, :index 2824}
{:type :ok, :f :read, :value 1, :process 38, :time 14051593197, :index 2825}
{:type :ok, :f :read, :value 1, :process 17, :time 14054228803, :index 2826}
{:type :invoke, :f :read, :value nil, :process 15, :time 14092545209, :index 2842}
{:type :invoke, :f :read, :value nil, :process 31, :time 14095880862, :index 2844}
{:type :ok, :f :read, :value 1, :process 15, :time 14097659088, :index 2845}
{:type :ok, :f :read, :value 1, :process 31, :time 14100624622, :index 2849}
{:type :invoke, :f :write, :value 3, :process 10, :time 14132053518, :index 2855}
{:type :ok, :f :write, :value 3, :process 10, :time 14137338813, :index 2859}
{:type :invoke, :f :write, :value 2, :process 33, :time 14157240580, :index 2865}
{:type :ok, :f :write, :value 2, :process 33, :time 14163032943, :index 2867}
{:type :invoke, :f :read, :value nil, :process 14, :time 14171276031, :index 2868}
{:type :ok, :f :read, :value 2, :process 14, :time 14176806661, :index 2870}
{:type :invoke, :f :cas, :value [2 4], :process 12, :time 14183591670, :index 2873}
{:type :ok, :f :cas, :value [2 4], :process 12, :time 14189404450, :index 2878}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
