{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :invoke, :f :write, :value 3, :process 9, :time 21426564703, :index 4334}
{:type :ok, :f :write, :value 3, :process 9, :time 21431951428, :index 4336}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 21471590569, :index 4344}
{:type :ok, :f :cas, :value [3 0], :process 4, :time 21477722059, :index 4345}
{:type :invoke, :f :cas, :value [3 4], :process 8, :time 21505673545, :index 4346}
{:type :fail, :f :cas, :value [3 4], :process 8, :time 21511493986, :index 4347}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 21539778856, :index 4351}
{:type :fail, :f :cas, :value [1 0], :process 8, :time 21544480522, :index 4355}
{:type :invoke, :f :read, :value nil, :process 6, :time 21546768431, :index 4357}
{:type :ok, :f :read, :value 0, :process 6, :time 21553202864, :index 4359}
{:type :invoke, :f :write, :value 2, :process 9, :time 21575213015, :index 4364}
{:type :invoke, :f :cas, :value [1 3], :process 1, :time 21577959024, :index 4365}
{:type :ok, :f :write, :value 2, :process 9, :time 21580896914, :index 4366}
{:type :fail, :f :cas, :value [1 3], :process 1, :time 21583516193, :index 4367}
{:type :invoke, :f :write, :value 3, :process 3, :time 21593356806, :index 4368}
{:type :ok, :f :write, :value 3, :process 3, :time 21597971816, :index 4369}
{:type :invoke, :f :read, :value nil, :process 4, :time 21622957313, :index 4372}
{:type :ok, :f :read, :value 3, :process 4, :time 21628381201, :index 4373}
{:type :invoke, :f :read, :value nil, :process 6, :time 21659454495, :index 4375}
{:type :ok, :f :read, :value 3, :process 6, :time 21664416499, :index 4377}
{:type :invoke, :f :write, :value 2, :process 3, :time 21674282138, :index 4379}
{:type :ok, :f :write, :value 2, :process 3, :time 21679246988, :index 4382}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 21704677896, :index 4384}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 21710891870, :index 4386}
{:type :invoke, :f :read, :value nil, :process 8, :time 21711736253, :index 4388}
{:type :invoke, :f :read, :value nil, :process 9, :time 21714116715, :index 4390}
{:type :ok, :f :read, :value 2, :process 8, :time 21717727858, :index 4391}
{:type :ok, :f :read, :value 2, :process 9, :time 21719509041, :index 4393}
{:type :invoke, :f :write, :value 0, :process 8, :time 21724982009, :index 4394}
{:type :ok, :f :write, :value 0, :process 8, :time 21729728379, :index 4395}
{:type :invoke, :f :write, :value 3, :process 1, :time 21734767134, :index 4396}
{:type :invoke, :f :write, :value 1, :process 4, :time 21739293779, :index 4397}
{:type :ok, :f :write, :value 3, :process 1, :time 21739808898, :index 4398}
{:type :ok, :f :write, :value 1, :process 4, :time 21744652661, :index 4399}
{:type :invoke, :f :read, :value nil, :process 6, :time 21757668450, :index 4401}
{:type :ok, :f :read, :value 1, :process 6, :time 21762673696, :index 4404}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 21772957200, :index 4409}
{:type :ok, :f :cas, :value [1 0], :process 4, :time 21779491904, :index 4412}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 21812504461, :index 4416}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 21819799521, :index 4418}
{:type :invoke, :f :read, :value nil, :process 8, :time 21841991007, :index 4420}
{:type :ok, :f :read, :value 0, :process 8, :time 21846983621, :index 4421}
{:type :invoke, :f :cas, :value [1 0], :process 1, :time 21876102265, :index 4423}
{:type :invoke, :f :read, :value nil, :process 9, :time 21880763032, :index 4426}
{:type :fail, :f :cas, :value [1 0], :process 1, :time 21882104446, :index 4427}
{:type :ok, :f :read, :value 0, :process 9, :time 21885403179, :index 4429}
{:type :invoke, :f :write, :value 1, :process 6, :time 21915973537, :index 4433}
{:type :ok, :f :write, :value 1, :process 6, :time 21920982446, :index 4435}
{:type :invoke, :f :read, :value nil, :process 4, :time 21947784115, :index 4440}
{:type :ok, :f :read, :value 1, :process 4, :time 21953470182, :index 4441}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 21959793983, :index 4443}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 21964854402, :index 4445}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 21965113366, :index 4446}
{:type :ok, :f :cas, :value [1 3], :process 3, :time 21970360901, :index 4448}
{:type :invoke, :f :write, :value 2, :process 6, :time 21983247467, :index 4450}
{:type :ok, :f :write, :value 2, :process 6, :time 21987979139, :index 4451}
{:type :invoke, :f :read, :value nil, :process 8, :time 22003248179, :index 4452}
{:type :ok, :f :read, :value 2, :process 8, :time 22008091694, :index 4453}
{:type :invoke, :f :read, :value nil, :process 9, :time 22040657413, :index 4461}
{:type :invoke, :f :write, :value 2, :process 1, :time 22056392499, :index 4462}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 22056682003, :index 4463}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 22100152807, :index 4465}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 22118352444, :index 4467}
{:type :invoke, :f :write, :value 2, :process 6, :time 22151285056, :index 4468}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 23141426388, :index 4472}
{:type :ok, :f :write, :value 2, :process 1, :time 23141805129, :index 4475}
{:type :ok, :f :read, :value 2, :process 9, :time 23142061452, :index 4476}
{:type :ok, :f :cas, :value [2 4], :process 4, :time 23144940411, :index 4486}
{:type :ok, :f :cas, :value [2 2], :process 3, :time 23145311080, :index 4487}
{:type :ok, :f :write, :value 2, :process 6, :time 23145562493, :index 4489}
{:type :invoke, :f :read, :value nil, :process 25, :time 23153403973, :index 4490}
{:type :ok, :f :read, :value 2, :process 25, :time 23158834643, :index 4491}
{:type :invoke, :f :write, :value 2, :process 42, :time 23173819042, :index 4495}
{:type :invoke, :f :write, :value 3, :process 8, :time 23177739229, :index 4497}
{:type :ok, :f :write, :value 2, :process 42, :time 23178560126, :index 4498}
{:type :ok, :f :write, :value 3, :process 8, :time 23182679056, :index 4499}
{:type :invoke, :f :write, :value 3, :process 6, :time 23185818486, :index 4500}
{:type :invoke, :f :cas, :value [2 3], :process 9, :time 23187325551, :index 4501}
{:type :ok, :f :write, :value 3, :process 6, :time 23190326783, :index 4502}
{:type :fail, :f :cas, :value [2 3], :process 9, :time 23193042730, :index 4503}
{:type :invoke, :f :write, :value 3, :process 8, :time 23215942607, :index 4508}
{:type :ok, :f :write, :value 3, :process 8, :time 23219977725, :index 4509}
{:type :invoke, :f :read, :value nil, :process 6, :time 23234637215, :index 4511}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 23240578207, :index 4512}
{:type :invoke, :f :read, :value nil, :process 1, :time 23242060732, :index 4513}
{:type :invoke, :f :read, :value nil, :process 4, :time 23258205421, :index 4515}
{:type :invoke, :f :write, :value 0, :process 27, :time 23261609704, :index 4516}
{:type :invoke, :f :cas, :value [1 4], :process 42, :time 23261844975, :index 4517}
{:type :invoke, :f :write, :value 4, :process 9, :time 23306299163, :index 4520}
{:type :invoke, :f :read, :value nil, :process 25, :time 23325094343, :index 4522}
{:type :invoke, :f :cas, :value [4 2], :process 20, :time 23340576847, :index 4526}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 23345235433, :index 4527}
{:type :ok, :f :read, :value 4, :process 25, :time 23561859293, :index 4532}
{:type :ok, :f :write, :value 0, :process 27, :time 23562217256, :index 4533}
{:type :ok, :f :cas, :value [4 2], :process 20, :time 23562957211, :index 4538}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 23563573589, :index 4539}
{:type :fail, :f :cas, :value [1 4], :process 42, :time 23563613924, :index 4540}
{:type :ok, :f :write, :value 4, :process 9, :time 23563898582, :index 4541}
{:type :ok, :f :read, :value 3, :process 1, :time 23564409472, :index 4543}
{:type :ok, :f :cas, :value [2 0], :process 8, :time 23565432722, :index 4546}
{:type :ok, :f :read, :value 3, :process 4, :time 23566005315, :index 4548}
{:type :ok, :f :read, :value 3, :process 6, :time 23566152390, :index 4549}
{:type :invoke, :f :read, :value nil, :process 27, :time 23572451073, :index 4551}
{:type :ok, :f :read, :value 0, :process 27, :time 23578564540, :index 4553}
{:type :invoke, :f :write, :value 3, :process 25, :time 23589160367, :index 4556}
{:type :ok, :f :write, :value 3, :process 25, :time 23594818366, :index 4558}
{:type :invoke, :f :read, :value nil, :process 3, :time 23598865212, :index 4560}
{:type :ok, :f :read, :value 3, :process 3, :time 23603510569, :index 4561}
{:type :invoke, :f :write, :value 3, :process 42, :time 23625906831, :index 4563}
{:type :invoke, :f :write, :value 4, :process 27, :time 23628829631, :index 4564}
{:type :ok, :f :write, :value 3, :process 42, :time 23631223492, :index 4566}
{:type :ok, :f :write, :value 4, :process 27, :time 23633006890, :index 4567}
{:type :invoke, :f :write, :value 4, :process 27, :time 23656249397, :index 4569}
{:type :ok, :f :write, :value 4, :process 27, :time 23661506107, :index 4570}
{:type :invoke, :f :write, :value 4, :process 4, :time 23664257507, :index 4572}
{:type :invoke, :f :write, :value 4, :process 1, :time 23666082242, :index 4573}
{:type :invoke, :f :write, :value 4, :process 20, :time 23668192920, :index 4574}
{:type :ok, :f :write, :value 4, :process 1, :time 23670532244, :index 4576}
{:type :ok, :f :write, :value 4, :process 20, :time 23673459877, :index 4577}
{:type :invoke, :f :read, :value nil, :process 9, :time 23712975284, :index 4582}
{:type :invoke, :f :read, :value nil, :process 25, :time 23714080372, :index 4583}
{:type :invoke, :f :read, :value nil, :process 8, :time 23725687184, :index 4584}
{:type :invoke, :f :read, :value nil, :process 6, :time 23728377540, :index 4585}
{:type :invoke, :f :write, :value 0, :process 42, :time 23733475247, :index 4586}
{:type :invoke, :f :write, :value 3, :process 20, :time 23734707544, :index 4587}
{:type :invoke, :f :write, :value 3, :process 1, :time 23780809878, :index 4595}
{:type :invoke, :f :read, :value nil, :process 27, :time 23781762664, :index 4596}
{:type :invoke, :f :write, :value 2, :process 3, :time 23799813242, :index 4597}
{:type :ok, :f :write, :value 2, :process 3, :time 24061515025, :index 4600}
{:type :ok, :f :read, :value 4, :process 8, :time 24061978220, :index 4602}
{:type :ok, :f :write, :value 3, :process 20, :time 24062171355, :index 4603}
{:type :ok, :f :read, :value 3, :process 27, :time 24063254484, :index 4607}
{:type :ok, :f :write, :value 3, :process 1, :time 24063473667, :index 4608}
{:type :ok, :f :write, :value 0, :process 42, :time 24063585713, :index 4609}
{:type :ok, :f :read, :value 4, :process 6, :time 24063801884, :index 4610}
{:type :ok, :f :read, :value 4, :process 25, :time 24063860553, :index 4611}
{:type :ok, :f :read, :value 4, :process 9, :time 24100004056, :index 4618}
{:type :invoke, :f :cas, :value [3 2], :process 27, :time 24100092039, :index 4620}
{:type :ok, :f :write, :value 4, :process 4, :time 24100783610, :index 4621}
{:type :fail, :f :cas, :value [3 2], :process 27, :time 24106461848, :index 4625}
{:type :invoke, :f :read, :value nil, :process 20, :time 24123431678, :index 4629}
{:type :ok, :f :read, :value 4, :process 20, :time 24128705487, :index 4631}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 24134037157, :index 4633}
{:type :fail, :f :cas, :value [2 2], :process 6, :time 24139959593, :index 4635}
{:type :invoke, :f :write, :value 2, :process 9, :time 24152276922, :index 4636}
{:type :ok, :f :write, :value 2, :process 9, :time 24158067443, :index 4638}
{:type :invoke, :f :write, :value 0, :process 27, :time 24160743065, :index 4639}
{:type :ok, :f :write, :value 0, :process 27, :time 24165181390, :index 4641}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 24179765058, :index 4642}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 24185248117, :index 4643}
{:type :invoke, :f :read, :value nil, :process 4, :time 24198068647, :index 4648}
{:type :invoke, :f :write, :value 3, :process 25, :time 24204093672, :index 4650}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 24208214779, :index 4651}
{:type :invoke, :f :write, :value 0, :process 42, :time 24220820808, :index 4654}
{:type :invoke, :f :write, :value 3, :process 6, :time 24228220038, :index 4655}
{:type :invoke, :f :write, :value 4, :process 1, :time 24230740705, :index 4656}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 24247510848, :index 4657}
{:type :invoke, :f :cas, :value [0 0], :process 27, :time 24255468991, :index 4658}
{:type :invoke, :f :read, :value nil, :process 20, :time 24256961518, :index 4659}
{:type :invoke, :f :write, :value 1, :process 9, :time 24310329001, :index 4666}
{:type :ok, :f :write, :value 3, :process 25, :time 24335544183, :index 4668}
{:type :fail, :f :cas, :value [1 0], :process 8, :time 24336230120, :index 4670}
{:type :ok, :f :read, :value 0, :process 4, :time 24336472085, :index 4672}
{:type :ok, :f :write, :value 0, :process 42, :time 24337303805, :index 4675}
{:type :ok, :f :write, :value 4, :process 1, :time 24337635537, :index 4676}
{:type :ok, :f :write, :value 1, :process 9, :time 24337898696, :index 4677}
{:type :ok, :f :read, :value 4, :process 20, :time 24338178576, :index 4679}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 24338491440, :index 4682}
{:type :fail, :f :cas, :value [0 0], :process 27, :time 24339250803, :index 4683}
{:type :ok, :f :write, :value 3, :process 6, :time 24339620894, :index 4685}
{:type :invoke, :f :read, :value nil, :process 1, :time 24406870948, :index 4695}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 24409853751, :index 4696}
{:type :invoke, :f :read, :value nil, :process 27, :time 24410611658, :index 4697}
{:type :ok, :f :read, :value 1, :process 1, :time 24412309859, :index 4699}
{:type :ok, :f :read, :value 1, :process 27, :time 24415260384, :index 4700}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 24415389058, :index 4701}
{:type :invoke, :f :write, :value 1, :process 8, :time 24451497377, :index 4708}
{:type :ok, :f :write, :value 1, :process 8, :time 24456326307, :index 4710}
{:type :invoke, :f :write, :value 2, :process 1, :time 24457565245, :index 4712}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 24458661391, :index 4713}
{:type :invoke, :f :read, :value nil, :process 8, :time 24459601325, :index 4714}
{:type :invoke, :f :write, :value 1, :process 3, :time 24461708965, :index 4715}
{:type :ok, :f :write, :value 2, :process 1, :time 24463164874, :index 4716}
{:type :ok, :f :read, :value 2, :process 8, :time 24464715469, :index 4717}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 24465681370, :index 4718}
{:type :ok, :f :write, :value 1, :process 3, :time 24465962526, :index 4719}
{:type :invoke, :f :read, :value nil, :process 25, :time 24472843628, :index 4720}
{:type :invoke, :f :cas, :value [2 4], :process 1, :time 24477422793, :index 4721}
{:type :ok, :f :read, :value 1, :process 25, :time 24478412954, :index 4722}
{:type :fail, :f :cas, :value [2 4], :process 1, :time 24483433362, :index 4724}
{:type :invoke, :f :write, :value 3, :process 4, :time 24483835782, :index 4726}
{:type :ok, :f :write, :value 3, :process 4, :time 24489732114, :index 4728}
{:type :invoke, :f :cas, :value [1 3], :process 20, :time 24492416097, :index 4730}
{:type :fail, :f :cas, :value [1 3], :process 20, :time 24498202439, :index 4733}
{:type :invoke, :f :write, :value 4, :process 42, :time 24499568638, :index 4734}
{:type :invoke, :f :write, :value 4, :process 9, :time 24503134870, :index 4736}
{:type :ok, :f :write, :value 4, :process 42, :time 24505073994, :index 4737}
{:type :ok, :f :write, :value 4, :process 9, :time 24508933743, :index 4741}
{:type :invoke, :f :write, :value 1, :process 27, :time 24573524101, :index 4758}
{:type :ok, :f :write, :value 1, :process 27, :time 24578445133, :index 4760}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
