{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :invoke, :f :read, :value nil, :process 18, :time 19729486433, :index 4022}
{:type :ok, :f :read, :value nil, :process 18, :time 19734386196, :index 4025}
{:type :invoke, :f :write, :value 3, :process 19, :time 19744231774, :index 4028}
{:type :ok, :f :write, :value 3, :process 19, :time 19749613698, :index 4032}
{:type :invoke, :f :write, :value 4, :process 18, :time 19792650208, :index 4039}
{:type :ok, :f :write, :value 4, :process 18, :time 19800650143, :index 4041}
{:type :invoke, :f :cas, :value [0 2], :process 14, :time 19815531569, :index 4044}
{:type :fail, :f :cas, :value [0 2], :process 14, :time 19820563716, :index 4047}
{:type :invoke, :f :cas, :value [3 3], :process 16, :time 19822242642, :index 4049}
{:type :fail, :f :cas, :value [3 3], :process 16, :time 19830229426, :index 4052}
{:type :invoke, :f :write, :value 0, :process 16, :time 19835487825, :index 4054}
{:type :ok, :f :write, :value 0, :process 16, :time 19840941757, :index 4056}
{:type :invoke, :f :read, :value nil, :process 19, :time 19844870932, :index 4058}
{:type :ok, :f :read, :value 0, :process 19, :time 19849708018, :index 4059}
{:type :invoke, :f :write, :value 2, :process 13, :time 19858219744, :index 4060}
{:type :ok, :f :write, :value 2, :process 13, :time 19862844166, :index 4061}
{:type :invoke, :f :read, :value nil, :process 18, :time 19943915111, :index 4065}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 19950209478, :index 4067}
{:type :invoke, :f :cas, :value [3 4], :process 11, :time 19954244423, :index 4068}
{:type :invoke, :f :cas, :value [1 0], :process 14, :time 19962859042, :index 4069}
{:type :invoke, :f :write, :value 4, :process 19, :time 20010982801, :index 4072}
{:type :invoke, :f :cas, :value [1 2], :process 13, :time 20025116308, :index 4073}
{:type :ok, :f :read, :value 2, :process 18, :time 20443398785, :index 4076}
{:type :fail, :f :cas, :value [1 2], :process 13, :time 20443897505, :index 4078}
{:type :fail, :f :cas, :value [3 4], :process 11, :time 20445110998, :index 4081}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 20445860753, :index 4083}
{:type :fail, :f :cas, :value [1 0], :process 14, :time 20446186629, :index 4084}
{:type :ok, :f :write, :value 4, :process 19, :time 20446533515, :index 4085}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 20536768246, :index 4090}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 20542473493, :index 4091}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 20559383145, :index 4092}
{:type :invoke, :f :read, :value nil, :process 19, :time 20559871266, :index 4093}
{:type :fail, :f :cas, :value [2 1], :process 11, :time 20565878485, :index 4095}
{:type :ok, :f :read, :value 4, :process 19, :time 20567815295, :index 4096}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 20570128370, :index 4098}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 20575715834, :index 4099}
{:type :invoke, :f :read, :value nil, :process 13, :time 20602138983, :index 4108}
{:type :ok, :f :read, :value 4, :process 13, :time 20606384299, :index 4111}
{:type :invoke, :f :read, :value nil, :process 14, :time 20617490860, :index 4114}
{:type :ok, :f :read, :value 4, :process 14, :time 20624210132, :index 4115}
{:type :invoke, :f :read, :value nil, :process 13, :time 20636631117, :index 4118}
{:type :ok, :f :read, :value 4, :process 13, :time 20641288531, :index 4119}
{:type :invoke, :f :write, :value 2, :process 19, :time 20656062852, :index 4120}
{:type :ok, :f :write, :value 2, :process 19, :time 20662073088, :index 4123}
{:type :invoke, :f :cas, :value [0 4], :process 11, :time 20678134068, :index 4126}
{:type :fail, :f :cas, :value [0 4], :process 11, :time 20685072259, :index 4127}
{:type :invoke, :f :read, :value nil, :process 13, :time 20702549037, :index 4129}
{:type :ok, :f :read, :value 2, :process 13, :time 20707398139, :index 4131}
{:type :invoke, :f :write, :value 2, :process 18, :time 20725755376, :index 4132}
{:type :ok, :f :write, :value 2, :process 18, :time 20731202489, :index 4133}
{:type :invoke, :f :cas, :value [0 0], :process 16, :time 20760984068, :index 4140}
{:type :fail, :f :cas, :value [0 0], :process 16, :time 20766201442, :index 4143}
{:type :invoke, :f :cas, :value [4 4], :process 19, :time 20788352992, :index 4147}
{:type :invoke, :f :read, :value nil, :process 13, :time 20792666255, :index 4148}
{:type :fail, :f :cas, :value [4 4], :process 19, :time 20794998667, :index 4150}
{:type :ok, :f :read, :value 2, :process 13, :time 20797653213, :index 4151}
{:type :invoke, :f :read, :value nil, :process 14, :time 20798471757, :index 4152}
{:type :ok, :f :read, :value 2, :process 14, :time 20803276828, :index 4154}
{:type :invoke, :f :write, :value 4, :process 13, :time 20850914003, :index 4159}
{:type :ok, :f :write, :value 4, :process 13, :time 20855660338, :index 4161}
{:type :invoke, :f :cas, :value [3 2], :process 19, :time 20866254930, :index 4163}
{:type :fail, :f :cas, :value [3 2], :process 19, :time 20872323838, :index 4165}
{:type :invoke, :f :cas, :value [2 3], :process 32, :time 20872525251, :index 4166}
{:type :invoke, :f :cas, :value [0 4], :process 11, :time 20883339274, :index 4171}
{:type :fail, :f :cas, :value [0 4], :process 11, :time 20888682256, :index 4172}
{:type :invoke, :f :write, :value 2, :process 16, :time 20891454885, :index 4175}
{:type :ok, :f :write, :value 2, :process 16, :time 20897265381, :index 4179}
{:type :invoke, :f :write, :value 4, :process 18, :time 20910457480, :index 4185}
{:type :ok, :f :write, :value 4, :process 18, :time 20915983936, :index 4187}
{:type :invoke, :f :write, :value 4, :process 11, :time 20926943896, :index 4191}
{:type :invoke, :f :cas, :value [0 1], :process 13, :time 20928916997, :index 4192}
{:type :ok, :f :write, :value 4, :process 11, :time 20934245474, :index 4195}
{:type :fail, :f :cas, :value [0 1], :process 13, :time 20934661551, :index 4196}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :invoke, :f :write, :value 0, :process 18, :time 20950230634, :index 4201}
{:type :invoke, :f :read, :value nil, :process 11, :time 20950516849, :index 4202}
{:type :ok, :f :write, :value 0, :process 18, :time 20954739816, :index 4204}
{:type :ok, :f :read, :value 0, :process 11, :time 20957321716, :index 4205}
{:type :invoke, :f :write, :value 1, :process 15, :time 20970491230, :index 4206}
{:type :invoke, :f :cas, :value [3 4], :process 13, :time 20997946422, :index 4210}
{:type :invoke, :f :write, :value 4, :process 14, :time 21001538485, :index 4211}
{:type :fail, :f :cas, :value [3 4], :process 13, :time 21003475885, :index 4212}
{:type :invoke, :f :write, :value 0, :process 19, :time 21005665095, :index 4215}
{:type :ok, :f :write, :value 4, :process 14, :time 21006827659, :index 4216}
{:type :invoke, :f :read, :value nil, :process 10, :time 21010375275, :index 4219}
{:type :ok, :f :write, :value 0, :process 19, :time 21011153668, :index 4220}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 21019511166, :index 4222}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 21024674170, :index 4224}
{:type :invoke, :f :read, :value nil, :process 13, :time 21029731996, :index 4225}
{:type :ok, :f :read, :value 0, :process 13, :time 21034333667, :index 4226}
{:type :invoke, :f :write, :value 2, :process 14, :time 21056094867, :index 4234}
{:type :ok, :f :write, :value 2, :process 14, :time 21061482160, :index 4237}
{:type :invoke, :f :write, :value 1, :process 11, :time 21080572981, :index 4241}
{:type :invoke, :f :read, :value nil, :process 57, :time 21081647044, :index 4243}
{:type :ok, :f :write, :value 1, :process 11, :time 21085721920, :index 4244}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 21105930432, :index 4248}
{:type :ok, :f :cas, :value [1 0], :process 16, :time 21110597744, :index 4250}
{:type :invoke, :f :write, :value 4, :process 11, :time 21117981071, :index 4251}
{:type :invoke, :f :write, :value 4, :process 19, :time 21119405091, :index 4252}
{:type :ok, :f :write, :value 4, :process 11, :time 21123464615, :index 4253}
{:type :ok, :f :write, :value 4, :process 19, :time 21124574958, :index 4254}
{:type :invoke, :f :write, :value 3, :process 18, :time 21144004354, :index 4257}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :ok, :f :write, :value 3, :process 18, :time 21149157464, :index 4259}
{:type :invoke, :f :read, :value nil, :process 13, :time 21168588995, :index 4260}
{:type :ok, :f :read, :value 3, :process 13, :time 21174056249, :index 4262}
{:type :invoke, :f :cas, :value [3 1], :process 16, :time 21190857546, :index 4270}
{:type :invoke, :f :write, :value 0, :process 14, :time 21193739837, :index 4271}
{:type :invoke, :f :cas, :value [1 4], :process 18, :time 21195412298, :index 4272}
{:type :ok, :f :cas, :value [3 1], :process 16, :time 21197112108, :index 4273}
{:type :ok, :f :write, :value 0, :process 14, :time 21200128338, :index 4274}
{:type :fail, :f :cas, :value [1 4], :process 18, :time 21201428874, :index 4277}
{:type :invoke, :f :write, :value 2, :process 11, :time 21243725247, :index 4285}
{:type :invoke, :f :read, :value nil, :process 16, :time 21246370497, :index 4286}
{:type :ok, :f :write, :value 2, :process 11, :time 21249044633, :index 4288}
{:type :invoke, :f :write, :value 0, :process 14, :time 21250379013, :index 4289}
{:type :ok, :f :read, :value 2, :process 16, :time 21251403024, :index 4290}
{:type :ok, :f :write, :value 0, :process 14, :time 21257949335, :index 4291}
{:type :invoke, :f :write, :value 1, :process 18, :time 21279666747, :index 4294}
{:type :invoke, :f :read, :value nil, :process 13, :time 21282317942, :index 4295}
{:type :ok, :f :write, :value 1, :process 18, :time 21284639479, :index 4296}
{:type :invoke, :f :cas, :value [1 3], :process 19, :time 21285829783, :index 4297}
{:type :ok, :f :read, :value 1, :process 13, :time 21286874015, :index 4298}
{:type :ok, :f :cas, :value [1 3], :process 19, :time 21290552862, :index 4300}
{:type :invoke, :f :write, :value 0, :process 14, :time 21323202285, :index 4307}
{:type :ok, :f :write, :value 0, :process 14, :time 21328855099, :index 4309}
{:type :invoke, :f :read, :value nil, :process 16, :time 21352667142, :index 4312}
{:type :invoke, :f :write, :value 1, :process 11, :time 21355298437, :index 4313}
{:type :ok, :f :read, :value 0, :process 16, :time 21357307897, :index 4314}
{:type :ok, :f :write, :value 1, :process 11, :time 21360110061, :index 4316}
{:type :invoke, :f :read, :value nil, :process 19, :time 21362838830, :index 4317}
{:type :ok, :f :read, :value 1, :process 19, :time 21368038375, :index 4319}
{:type :invoke, :f :read, :value nil, :process 11, :time 21381363790, :index 4320}
{:type :ok, :f :read, :value 1, :process 11, :time 21387301110, :index 4324}
{:type :invoke, :f :write, :value 2, :process 13, :time 21394135263, :index 4328}
{:type :ok, :f :write, :value 2, :process 13, :time 21399004169, :index 4329}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 21442581039, :index 4338}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 21449354400, :index 4339}
{:type :invoke, :f :cas, :value [1 4], :process 14, :time 21453105368, :index 4340}
{:type :invoke, :f :write, :value 1, :process 18, :time 21453903717, :index 4341}
{:type :ok, :f :write, :value 1, :process 18, :time 21458228493, :index 4342}
{:type :ok, :f :cas, :value [1 4], :process 14, :time 21460093946, :index 4343}
{:type :invoke, :f :cas, :value [4 4], :process 16, :time 21529659904, :index 4348}
{:type :ok, :f :cas, :value [4 4], :process 16, :time 21536921675, :index 4349}
{:type :invoke, :f :read, :value nil, :process 13, :time 21538259961, :index 4350}
{:type :invoke, :f :write, :value 3, :process 19, :time 21542289887, :index 4353}
{:type :ok, :f :read, :value 4, :process 13, :time 21543006594, :index 4354}
{:type :ok, :f :write, :value 3, :process 19, :time 21547463177, :index 4358}
{:type :invoke, :f :write, :value 3, :process 14, :time 21557376495, :index 4360}
{:type :invoke, :f :write, :value 0, :process 11, :time 21558575199, :index 4361}
{:type :ok, :f :write, :value 3, :process 14, :time 21563186023, :index 4362}
{:type :ok, :f :write, :value 0, :process 11, :time 21563755335, :index 4363}
{:type :invoke, :f :cas, :value [4 3], :process 18, :time 21611487346, :index 4370}
{:type :fail, :f :cas, :value [4 3], :process 18, :time 21616355055, :index 4371}
{:type :invoke, :f :cas, :value [1 2], :process 13, :time 21655276591, :index 4374}
{:type :fail, :f :cas, :value [1 2], :process 13, :time 21660987001, :index 4376}
{:type :invoke, :f :write, :value 4, :process 19, :time 21672723823, :index 4378}
{:type :invoke, :f :read, :value nil, :process 14, :time 21677447593, :index 4380}
{:type :ok, :f :write, :value 4, :process 19, :time 21677792137, :index 4381}
{:type :ok, :f :read, :value 4, :process 14, :time 21682992723, :index 4383}
{:type :invoke, :f :write, :value 2, :process 16, :time 21705211293, :index 4385}
{:type :ok, :f :write, :value 2, :process 16, :time 21710898510, :index 4387}
{:type :invoke, :f :cas, :value [1 0], :process 19, :time 21713037690, :index 4389}
{:type :fail, :f :cas, :value [1 0], :process 19, :time 21719031631, :index 4392}
{:type :invoke, :f :cas, :value [4 2], :process 11, :time 21754018614, :index 4400}
{:type :fail, :f :cas, :value [4 2], :process 11, :time 21759385094, :index 4402}
{:type :invoke, :f :read, :value nil, :process 11, :time 21760657907, :index 4403}
{:type :invoke, :f :write, :value 4, :process 13, :time 21763248980, :index 4405}
{:type :ok, :f :read, :value 2, :process 11, :time 21765634449, :index 4406}
{:type :ok, :f :write, :value 4, :process 13, :time 21769646086, :index 4407}
{:type :invoke, :f :cas, :value [3 3], :process 19, :time 21772284505, :index 4408}
{:type :invoke, :f :write, :value 2, :process 18, :time 21776610885, :index 4410}
{:type :fail, :f :cas, :value [3 3], :process 19, :time 21779190774, :index 4411}
{:type :ok, :f :write, :value 2, :process 18, :time 21782629805, :index 4413}
{:type :invoke, :f :cas, :value [4 3], :process 14, :time 21801241699, :index 4414}
{:type :fail, :f :cas, :value [4 3], :process 14, :time 21807299816, :index 4415}
{:type :invoke, :f :cas, :value [3 4], :process 13, :time 21816910636, :index 4417}
{:type :fail, :f :cas, :value [3 4], :process 13, :time 21821422056, :index 4419}
{:type :invoke, :f :read, :value nil, :process 11, :time 21873893630, :index 4422}
{:type :ok, :f :read, :value 2, :process 11, :time 21878991305, :index 4424}
{:type :invoke, :f :write, :value 0, :process 16, :time 21879206806, :index 4425}
{:type :ok, :f :write, :value 0, :process 16, :time 21884630529, :index 4428}
{:type :invoke, :f :read, :value nil, :process 19, :time 21896537135, :index 4430}
{:type :ok, :f :read, :value 0, :process 19, :time 21901728656, :index 4431}
{:type :invoke, :f :cas, :value [0 1], :process 16, :time 21911875565, :index 4432}
{:type :ok, :f :cas, :value [0 1], :process 16, :time 21917084172, :index 4434}
{:type :invoke, :f :write, :value 0, :process 13, :time 21926588836, :index 4436}
{:type :invoke, :f :read, :value nil, :process 14, :time 21927558965, :index 4437}
{:type :ok, :f :write, :value 0, :process 13, :time 21931720681, :index 4438}
{:type :ok, :f :read, :value 0, :process 14, :time 21933539997, :index 4439}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 21955886854, :index 4442}
{:type :fail, :f :cas, :value [1 3], :process 18, :time 21960753902, :index 4444}
{:type :invoke, :f :read, :value nil, :process 11, :time 22015253401, :index 4454}
{:type :invoke, :f :write, :value 3, :process 19, :time 22015991368, :index 4455}
{:type :ok, :f :read, :value 0, :process 11, :time 22020470003, :index 4456}
{:type :ok, :f :write, :value 3, :process 19, :time 22021190732, :index 4457}
{:type :invoke, :f :cas, :value [3 1], :process 16, :time 22068382498, :index 4464}
{:type :fail, :f :cas, :value [2 3], :process 32, :time 23142887927, :index 4478}
{:type :ok, :f :write, :value 1, :process 15, :time 23143604690, :index 4481}
{:type :ok, :f :read, :value 3, :process 57, :time 23143665748, :index 4482}
{:type :ok, :f :read, :value 1, :process 10, :time 23143920844, :index 4483}
{:type :fail, :f :cas, :value [3 1], :process 16, :time 23145371238, :index 4488}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
