{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 25100241332, :index 5145}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 25105459320, :error :not-found, :index 5147}
{:type :invoke, :f :cas, :value [3 3], :process 39, :time 25145217019, :index 5162}
{:type :invoke, :f :write, :value 0, :process 13, :time 25150923578, :index 5163}
{:type :fail, :f :cas, :value [3 3], :process 39, :time 25151326244, :error :not-found, :index 5164}
{:type :invoke, :f :write, :value 2, :process 16, :time 25155215904, :index 5167}
{:type :ok, :f :write, :value 0, :process 13, :time 25155782938, :index 5168}
{:type :invoke, :f :write, :value 2, :process 37, :time 25158489470, :index 5170}
{:type :ok, :f :write, :value 2, :process 16, :time 25160492430, :index 5173}
{:type :ok, :f :write, :value 2, :process 37, :time 25163916987, :index 5174}
{:type :invoke, :f :cas, :value [4 4], :process 13, :time 25190045247, :index 5182}
{:type :fail, :f :cas, :value [4 4], :process 13, :time 25195140476, :index 5185}
{:type :invoke, :f :read, :value nil, :process 35, :time 25206916622, :index 5186}
{:type :ok, :f :read, :value 2, :process 35, :time 25211971448, :index 5187}
{:type :invoke, :f :read, :value nil, :process 39, :time 25220597290, :index 5190}
{:type :ok, :f :read, :value 2, :process 39, :time 25225700969, :index 5194}
{:type :invoke, :f :cas, :value [2 1], :process 12, :time 25241507842, :index 5200}
{:type :ok, :f :cas, :value [2 1], :process 12, :time 25246034126, :index 5201}
{:type :invoke, :f :cas, :value [3 2], :process 14, :time 25268507838, :index 5202}
{:type :invoke, :f :read, :value nil, :process 30, :time 25272993225, :index 5203}
{:type :fail, :f :cas, :value [3 2], :process 14, :time 25274792724, :index 5204}
{:type :ok, :f :read, :value 1, :process 30, :time 25278335397, :index 5205}
{:type :invoke, :f :read, :value nil, :process 18, :time 25288723948, :index 5207}
{:type :ok, :f :read, :value 1, :process 18, :time 25293367650, :index 5210}
{:type :invoke, :f :write, :value 1, :process 18, :time 25295661035, :index 5212}
{:type :ok, :f :write, :value 1, :process 18, :time 25300276632, :index 5215}
{:type :invoke, :f :write, :value 1, :process 11, :time 25305948561, :index 5217}
{:type :invoke, :f :cas, :value [4 4], :process 37, :time 25306272775, :index 5218}
{:type :ok, :f :write, :value 1, :process 11, :time 25312022568, :index 5221}
{:type :fail, :f :cas, :value [4 4], :process 37, :time 25312393466, :index 5222}
{:type :invoke, :f :read, :value nil, :process 37, :time 25321635736, :index 5229}
{:type :ok, :f :read, :value 1, :process 37, :time 25326511488, :index 5231}
{:type :invoke, :f :write, :value 0, :process 16, :time 25334791740, :index 5233}
{:type :invoke, :f :cas, :value [3 2], :process 13, :time 25337401842, :index 5236}
{:type :ok, :f :write, :value 0, :process 16, :time 25339169830, :index 5238}
{:type :fail, :f :cas, :value [3 2], :process 13, :time 25343013072, :index 5240}
{:type :invoke, :f :cas, :value [3 3], :process 35, :time 25350249881, :index 5244}
{:type :invoke, :f :read, :value nil, :process 13, :time 25352269916, :index 5246}
{:type :ok, :f :read, :value 0, :process 13, :time 25356386329, :index 5248}
{:type :fail, :f :cas, :value [3 3], :process 35, :time 25356743865, :index 5249}
{:type :invoke, :f :cas, :value [2 0], :process 12, :time 25361302726, :index 5251}
{:type :invoke, :f :write, :value 2, :process 39, :time 25363975941, :index 5253}
{:type :fail, :f :cas, :value [2 0], :process 12, :time 25366871579, :index 5254}
{:type :ok, :f :write, :value 2, :process 39, :time 25369197178, :index 5255}
{:type :invoke, :f :cas, :value [4 2], :process 37, :time 25369773674, :index 5256}
{:type :fail, :f :cas, :value [4 2], :process 37, :time 25375570610, :index 5257}
{:type :invoke, :f :read, :value nil, :process 16, :time 25384440296, :index 5258}
{:type :ok, :f :read, :value 2, :process 16, :time 25389474561, :index 5259}
{:type :invoke, :f :read, :value nil, :process 14, :time 25414109631, :index 5264}
{:type :ok, :f :read, :value 2, :process 14, :time 25419273303, :index 5266}
{:type :invoke, :f :cas, :value [2 2], :process 18, :time 25432567812, :index 5269}
{:type :ok, :f :cas, :value [2 2], :process 18, :time 25436951546, :index 5271}
{:type :invoke, :f :cas, :value [0 3], :process 14, :time 25450541517, :index 5272}
{:type :invoke, :f :write, :value 3, :process 12, :time 25454134102, :index 5274}
{:type :fail, :f :cas, :value [0 3], :process 14, :time 25455703388, :index 5275}
{:type :ok, :f :write, :value 3, :process 12, :time 25458934820, :index 5278}
{:type :invoke, :f :read, :value nil, :process 16, :time 25463736312, :index 5280}
{:type :invoke, :f :cas, :value [2 0], :process 30, :time 25466594099, :index 5281}
{:type :ok, :f :read, :value 3, :process 16, :time 25468012439, :index 5282}
{:type :fail, :f :cas, :value [2 0], :process 30, :time 25472164682, :index 5283}
{:type :invoke, :f :write, :value 2, :process 13, :time 25486635806, :index 5288}
{:type :ok, :f :write, :value 2, :process 13, :time 25491175528, :index 5291}
{:type :invoke, :f :write, :value 4, :process 11, :time 25505306978, :index 5295}
{:type :invoke, :f :write, :value 0, :process 30, :time 25510468323, :index 5299}
{:type :ok, :f :write, :value 4, :process 11, :time 25510937624, :index 5300}
{:type :invoke, :f :read, :value nil, :process 35, :time 25511232516, :index 5301}
{:type :ok, :f :write, :value 0, :process 30, :time 25516468643, :index 5303}
{:type :ok, :f :read, :value 0, :process 35, :time 25517623186, :index 5305}
{:type :invoke, :f :read, :value nil, :process 11, :time 25522207104, :index 5306}
{:type :ok, :f :read, :value 0, :process 11, :time 25527902511, :index 5308}
{:type :invoke, :f :write, :value 3, :process 11, :time 25534202977, :index 5311}
{:type :ok, :f :write, :value 3, :process 11, :time 25539128116, :index 5313}
{:type :invoke, :f :cas, :value [4 2], :process 39, :time 25547453051, :index 5314}
{:type :fail, :f :cas, :value [4 2], :process 39, :time 25553048675, :index 5316}
{:type :invoke, :f :write, :value 4, :process 37, :time 25554845279, :index 5318}
{:type :invoke, :f :cas, :value [1 0], :process 12, :time 25560231581, :index 5319}
{:type :ok, :f :write, :value 4, :process 37, :time 25560420738, :index 5320}
{:type :invoke, :f :write, :value 2, :process 35, :time 25560902142, :index 5321}
{:type :fail, :f :cas, :value [1 0], :process 12, :time 25565844204, :index 5323}
{:type :ok, :f :write, :value 2, :process 35, :time 25567102759, :index 5325}
{:type :invoke, :f :read, :value nil, :process 13, :time 25573428593, :index 5330}
{:type :ok, :f :read, :value 2, :process 13, :time 25578800798, :index 5333}
{:type :invoke, :f :read, :value nil, :process 18, :time 25580217405, :index 5334}
{:type :ok, :f :read, :value 2, :process 18, :time 25584179095, :index 5336}
{:type :invoke, :f :read, :value nil, :process 16, :time 25602273146, :index 5338}
{:type :ok, :f :read, :value 2, :process 16, :time 25606975244, :index 5339}
{:type :invoke, :f :write, :value 4, :process 16, :time 25626231938, :index 5340}
{:type :ok, :f :write, :value 4, :process 16, :time 25631682520, :index 5341}
{:type :invoke, :f :cas, :value [1 2], :process 13, :time 25637064123, :index 5342}
{:type :invoke, :f :cas, :value [2 0], :process 14, :time 25639041470, :index 5343}
{:type :fail, :f :cas, :value [1 2], :process 13, :time 25642333949, :index 5344}
{:type :fail, :f :cas, :value [2 0], :process 14, :time 25643939053, :index 5345}
{:type :invoke, :f :read, :value nil, :process 11, :time 25663384596, :index 5346}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 25665670580, :index 5348}
{:type :ok, :f :read, :value 4, :process 11, :time 25670359445, :index 5351}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 25670934126, :index 5352}
{:type :invoke, :f :write, :value 2, :process 35, :time 25678378384, :index 5355}
{:type :ok, :f :write, :value 2, :process 35, :time 25683776023, :index 5358}
{:type :invoke, :f :write, :value 3, :process 14, :time 25688208345, :index 5360}
{:type :ok, :f :write, :value 3, :process 14, :time 25692871962, :index 5362}
{:type :invoke, :f :cas, :value [0 3], :process 30, :time 25695753635, :index 5364}
{:type :invoke, :f :write, :value 4, :process 12, :time 25697124502, :index 5365}
{:type :fail, :f :cas, :value [0 3], :process 30, :time 25701406682, :index 5368}
{:type :ok, :f :write, :value 4, :process 12, :time 25702411688, :index 5370}
{:type :invoke, :f :cas, :value [4 4], :process 39, :time 25719320538, :index 5376}
{:type :ok, :f :cas, :value [4 4], :process 39, :time 25729058361, :index 5380}
{:type :invoke, :f :write, :value 4, :process 30, :time 25731660510, :index 5382}
{:type :ok, :f :write, :value 4, :process 30, :time 25736646133, :index 5383}
{:type :invoke, :f :read, :value nil, :process 35, :time 25738042447, :index 5385}
{:type :ok, :f :read, :value 4, :process 35, :time 25743297845, :index 5386}
{:type :invoke, :f :write, :value 2, :process 18, :time 25774444482, :index 5395}
{:type :ok, :f :write, :value 2, :process 18, :time 25779135543, :index 5397}
{:type :invoke, :f :cas, :value [1 2], :process 37, :time 25779197948, :index 5398}
{:type :invoke, :f :cas, :value [0 2], :process 30, :time 25779909546, :index 5399}
{:type :fail, :f :cas, :value [1 2], :process 37, :time 25786067697, :index 5400}
{:type :fail, :f :cas, :value [0 2], :process 30, :time 25786067687, :index 5401}
{:type :invoke, :f :read, :value nil, :process 11, :time 25786149511, :index 5402}
{:type :invoke, :f :read, :value nil, :process 14, :time 25791153323, :index 5403}
{:type :ok, :f :read, :value 2, :process 11, :time 25791384802, :index 5404}
{:type :invoke, :f :cas, :value [3 1], :process 13, :time 25796610838, :index 5406}
{:type :ok, :f :read, :value 2, :process 14, :time 25796935218, :index 5407}
{:type :fail, :f :cas, :value [3 1], :process 13, :time 25802276965, :index 5410}
{:type :invoke, :f :read, :value nil, :process 18, :time 25815412939, :index 5412}
{:type :ok, :f :read, :value 2, :process 18, :time 25819645526, :index 5413}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :invoke, :f :write, :value 2, :process 35, :time 25825578707, :index 5415}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 25828944967, :index 5416}
{:type :ok, :f :write, :value 2, :process 35, :time 25831229963, :index 5417}
{:type :fail, :f :cas, :value [1 0], :process 16, :time 25834138950, :index 5418}
{:type :invoke, :f :cas, :value [1 4], :process 39, :time 25846333384, :index 5423}
{:type :invoke, :f :write, :value 0, :process 35, :time 25862492544, :index 5424}
{:type :invoke, :f :write, :value 3, :process 12, :time 25882659228, :index 5427}
{:type :invoke, :f :read, :value nil, :process 37, :time 25918396794, :index 5429}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :invoke, :f :cas, :value [0 1], :process 14, :time 25934235614, :index 5433}
{:type :invoke, :f :read, :value nil, :process 13, :time 25938544387, :index 5434}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 25958922374, :index 5436}
{:type :invoke, :f :read, :value nil, :process 16, :time 25962434242, :index 5437}
{:type :invoke, :f :write, :value 2, :process 11, :time 25962639455, :index 5438}
{:type :invoke, :f :read, :value nil, :process 30, :time 25981343809, :index 5439}
{:type :info, :f :cas, :value [1 4], :process 39, :time 30850267562, :error :timeout, :index 5443}
{:type :info, :f :write, :value 0, :process 35, :time 30869320819, :error :timeout, :index 5445}
{:type :info, :f :write, :value 3, :process 12, :time 30889701358, :error :timeout, :index 5447}
{:type :invoke, :f :write, :value 0, :process 55, :time 30909001650, :index 5451}
{:type :ok, :f :write, :value 0, :process 55, :time 30913605325, :index 5453}
{:type :invoke, :f :read, :value nil, :process 55, :time 30922870825, :index 5454}
{:type :invoke, :f :cas, :value [2 4], :process 32, :time 30923501135, :index 5455}
{:type :fail, :f :read, :value nil, :process 37, :time 30923798684, :error :timeout, :index 5456}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :ok, :f :read, :value 0, :process 55, :time 30928695865, :index 5458}
{:type :fail, :f :cas, :value [2 4], :process 32, :time 30929387093, :index 5459}
{:type :info, :f :cas, :value [0 1], :process 14, :time 30941480770, :error :timeout, :index 5462}
{:type :fail, :f :read, :value nil, :process 13, :time 30943746131, :error :timeout, :index 5463}
{:type :info, :f :cas, :value [1 3], :process 18, :time 30964037475, :error :timeout, :index 5468}
{:type :fail, :f :read, :value nil, :process 16, :time 30969693339, :error :timeout, :index 5469}
{:type :info, :f :write, :value 2, :process 11, :time 30969803789, :error :timeout, :index 5470}
{:type :fail, :f :read, :value nil, :process 30, :time 30984247765, :error :timeout, :index 5471}
{:type :invoke, :f :cas, :value [3 1], :process 13, :time 31000016099, :index 5473}
{:type :invoke, :f :cas, :value [1 4], :process 59, :time 31004468830, :index 5474}
{:type :fail, :f :cas, :value [1 4], :process 59, :time 31010552451, :index 5475}
{:type :invoke, :f :cas, :value [0 3], :process 37, :time 31017067896, :index 5478}
{:type :ok, :f :cas, :value [0 3], :process 37, :time 31022868711, :index 5479}
{:type :invoke, :f :read, :value nil, :process 32, :time 31046622513, :index 5482}
{:type :ok, :f :read, :value 3, :process 32, :time 31052472139, :index 5483}
{:type :invoke, :f :read, :value nil, :process 59, :time 31072820816, :index 5486}
{:type :ok, :f :read, :value 3, :process 59, :time 31077674238, :index 5487}
{:type :invoke, :f :write, :value 0, :process 38, :time 31089646448, :index 5490}
{:type :invoke, :f :cas, :value [4 3], :process 55, :time 31096080014, :index 5493}
{:type :fail, :f :cas, :value [4 3], :process 55, :time 31101521300, :index 5494}
{:type :invoke, :f :write, :value 1, :process 31, :time 31128918697, :index 5499}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :invoke, :f :write, :value 3, :process 37, :time 31135141029, :index 5503}
{:type :invoke, :f :read, :value nil, :process 34, :time 31136148259, :index 5504}
{:type :ok, :f :write, :value 3, :process 37, :time 31140961069, :index 5507}
{:type :ok, :f :read, :value 3, :process 34, :time 31141488518, :index 5509}
{:type :invoke, :f :cas, :value [4 1], :process 16, :time 31150972173, :index 5511}
{:type :invoke, :f :cas, :value [2 0], :process 34, :time 31159718963, :index 5513}
{:type :invoke, :f :cas, :value [1 1], :process 59, :time 31159943983, :index 5514}
{:type :invoke, :f :cas, :value [0 1], :process 32, :time 31171735440, :index 5515}
{:type :invoke, :f :cas, :value [1 2], :process 30, :time 31173536658, :index 5517}
{:type :invoke, :f :read, :value nil, :process 55, :time 31182783863, :index 5519}
{:type :invoke, :f :write, :value 3, :process 37, :time 31291237243, :index 5523}
{:type :ok, :f :read, :value 3, :process 55, :time 31429318566, :index 5526}
{:type :fail, :f :cas, :value [1 2], :process 30, :time 31430317300, :index 5528}
{:type :fail, :f :cas, :value [0 1], :process 32, :time 31430732647, :index 5530}
{:type :ok, :f :write, :value 3, :process 37, :time 31430953717, :index 5531}
{:type :invoke, :f :write, :value 1, :process 55, :time 31431699534, :index 5534}
{:type :fail, :f :cas, :value [1 1], :process 59, :time 31433194786, :index 5535}
{:type :fail, :f :cas, :value [2 0], :process 34, :time 31433194799, :index 5536}
{:type :ok, :f :write, :value 1, :process 55, :time 31437401278, :index 5539}
{:type :invoke, :f :write, :value 1, :process 59, :time 31539469503, :index 5550}
{:type :ok, :f :write, :value 1, :process 59, :time 31544398934, :index 5551}
{:type :invoke, :f :write, :value 4, :process 37, :time 31558778596, :index 5553}
{:type :ok, :f :write, :value 4, :process 37, :time 31565074499, :index 5556}
{:type :invoke, :f :read, :value nil, :process 32, :time 31570698485, :index 5559}
{:type :ok, :f :read, :value 4, :process 32, :time 31576269387, :index 5562}
{:type :invoke, :f :cas, :value [3 1], :process 30, :time 31600497998, :index 5572}
{:type :fail, :f :cas, :value [3 1], :process 30, :time 31605489145, :index 5573}
{:type :invoke, :f :read, :value nil, :process 34, :time 31619229093, :index 5577}
{:type :ok, :f :read, :value 4, :process 34, :time 32257560641, :index 5590}
{:type :fail, :f :cas, :value [4 1], :process 16, :time 33441423924, :index 5609}
{:type :ok, :f :write, :value 1, :process 31, :time 33441778177, :index 5610}
{:type :ok, :f :write, :value 0, :process 38, :time 33441778143, :index 5611}
{:type :fail, :f :cas, :value [3 1], :process 13, :time 33442772842, :index 5615}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
