{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :invoke, :f :write, :value 2, :process 37, :time 24979741166, :index 7638}
{:type :fail, :f :write, :value 2, :process 37, :time 24981862681, :error :connect, :index 7639}
{:type :invoke, :f :read, :value nil, :process 33, :time 24986305008, :index 7640}
{:type :fail, :f :read, :value nil, :process 33, :time 24988245524, :error :connect, :index 7641}
{:type :invoke, :f :read, :value nil, :process 10, :time 24995038211, :index 7644}
{:type :fail, :f :read, :value nil, :process 10, :time 24997096817, :error :connect, :index 7645}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 25021257056, :index 7660}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 25023345237, :error :connect, :index 7662}
{:type :invoke, :f :write, :value 0, :process 11, :time 25024183542, :index 7663}
{:type :fail, :f :write, :value 0, :process 11, :time 25025750977, :error :connect, :index 7665}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 25036361935, :index 7666}
{:type :fail, :f :cas, :value [4 3], :process 10, :time 25038264753, :error :connect, :index 7667}
{:type :invoke, :f :read, :value nil, :process 36, :time 25094065479, :index 7674}
{:type :fail, :f :read, :value nil, :process 36, :time 25096302538, :error :connect, :index 7675}
{:type :invoke, :f :write, :value 3, :process 37, :time 25100122802, :index 7676}
{:type :fail, :f :write, :value 3, :process 37, :time 25101955043, :error :connect, :index 7677}
{:type :invoke, :f :read, :value nil, :process 18, :time 25104755005, :index 7678}
{:type :fail, :f :read, :value nil, :process 18, :time 25106432127, :error :connect, :index 7679}
{:type :invoke, :f :write, :value 2, :process 32, :time 25126537784, :index 7688}
{:type :invoke, :f :read, :value nil, :process 36, :time 25126540369, :index 7689}
{:type :fail, :f :write, :value 2, :process 32, :time 25128403324, :error :connect, :index 7690}
{:type :fail, :f :read, :value nil, :process 36, :time 25128535700, :error :connect, :index 7691}
{:type :invoke, :f :write, :value 3, :process 37, :time 25129243689, :index 7692}
{:type :fail, :f :write, :value 3, :process 37, :time 25130906919, :error :connect, :index 7693}
{:type :invoke, :f :read, :value nil, :process 33, :time 25133509119, :index 7694}
{:type :fail, :f :read, :value nil, :process 33, :time 25135631225, :error :connect, :index 7695}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 25141610112, :index 7699}
{:type :fail, :f :cas, :value [4 3], :process 15, :time 25143752168, :error :connect, :index 7701}
{:type :invoke, :f :write, :value 1, :process 11, :time 25161010594, :index 7706}
{:type :fail, :f :write, :value 1, :process 11, :time 25163108764, :error :connect, :index 7707}
{:type :invoke, :f :cas, :value [2 2], :process 39, :time 25167961198, :index 7708}
{:type :fail, :f :cas, :value [2 2], :process 39, :time 25169591946, :error :connect, :index 7709}
{:type :invoke, :f :read, :value nil, :process 10, :time 25181527779, :index 7714}
{:type :fail, :f :read, :value nil, :process 10, :time 25183360100, :error :connect, :index 7715}
{:type :invoke, :f :cas, :value [1 0], :process 34, :time 25213230292, :index 7718}
{:type :fail, :f :cas, :value [1 0], :process 34, :time 25215503704, :error :connect, :index 7720}
{:type :invoke, :f :read, :value nil, :process 15, :time 25218031341, :index 7722}
{:type :fail, :f :read, :value nil, :process 15, :time 25220186864, :error :connect, :index 7724}
{:type :invoke, :f :cas, :value [3 0], :process 36, :time 25223796954, :index 7726}
{:type :fail, :f :cas, :value [3 0], :process 36, :time 25225424614, :error :connect, :index 7727}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 25236490352, :index 7730}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 25238252346, :error :connect, :index 7731}
{:type :invoke, :f :read, :value nil, :process 33, :time 25255904098, :index 7734}
{:type :fail, :f :read, :value nil, :process 33, :time 25257842257, :error :connect, :index 7735}
{:type :invoke, :f :cas, :value [2 1], :process 32, :time 25260683550, :index 7736}
{:type :fail, :f :cas, :value [2 1], :process 32, :time 25262629403, :error :connect, :index 7737}
{:type :invoke, :f :read, :value nil, :process 11, :time 25285370560, :index 7742}
{:type :fail, :f :read, :value nil, :process 11, :time 25287323364, :error :connect, :index 7743}
{:type :invoke, :f :read, :value nil, :process 18, :time 25290627925, :index 7744}
{:type :fail, :f :read, :value nil, :process 18, :time 25292769757, :error :connect, :index 7745}
{:type :invoke, :f :write, :value 2, :process 32, :time 25296919286, :index 7746}
{:type :fail, :f :write, :value 2, :process 32, :time 25298592189, :error :connect, :index 7747}
{:type :invoke, :f :write, :value 3, :process 39, :time 25299861985, :index 7748}
{:type :fail, :f :write, :value 3, :process 39, :time 25301671982, :error :connect, :index 7749}
{:type :invoke, :f :read, :value nil, :process 37, :time 25304175193, :index 7751}
{:type :fail, :f :read, :value nil, :process 37, :time 25305813943, :error :connect, :index 7753}
{:type :invoke, :f :write, :value 1, :process 39, :time 25325930906, :index 7756}
{:type :invoke, :f :cas, :value [4 4], :process 37, :time 25326093515, :index 7757}
{:type :fail, :f :write, :value 1, :process 39, :time 25327992910, :error :connect, :index 7759}
{:type :fail, :f :cas, :value [4 4], :process 37, :time 25328362033, :error :connect, :index 7760}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 25340964875, :index 7768}
{:type :fail, :f :cas, :value [2 1], :process 10, :time 25342929478, :error :connect, :index 7771}
{:type :invoke, :f :write, :value 4, :process 32, :time 25356872633, :index 7772}
{:type :fail, :f :write, :value 4, :process 32, :time 25358767021, :error :connect, :index 7774}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 25369622355, :index 7776}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 25371431669, :error :connect, :index 7777}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 25371541188, :index 7778}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 25373514834, :error :connect, :index 7779}
{:type :invoke, :f :cas, :value [3 2], :process 33, :time 25374104984, :index 7780}
{:type :fail, :f :cas, :value [3 2], :process 33, :time 25375942593, :error :connect, :index 7781}
{:type :invoke, :f :cas, :value [3 0], :process 36, :time 25406746160, :index 7787}
{:type :invoke, :f :cas, :value [3 3], :process 34, :time 25406743044, :index 7788}
{:type :fail, :f :cas, :value [3 0], :process 36, :time 25408682330, :error :connect, :index 7790}
{:type :fail, :f :cas, :value [3 3], :process 34, :time 25408753278, :error :connect, :index 7791}
{:type :invoke, :f :write, :value 0, :process 10, :time 25418223106, :index 7793}
{:type :fail, :f :write, :value 0, :process 10, :time 25420112210, :error :connect, :index 7795}
{:type :invoke, :f :read, :value nil, :process 39, :time 25421248090, :index 7796}
{:type :fail, :f :read, :value nil, :process 39, :time 25423275178, :error :connect, :index 7797}
{:type :invoke, :f :write, :value 3, :process 11, :time 25430584639, :index 7798}
{:type :fail, :f :write, :value 3, :process 11, :time 25432462849, :error :connect, :index 7799}
{:type :invoke, :f :read, :value nil, :process 15, :time 25446734236, :index 7802}
{:type :fail, :f :read, :value nil, :process 15, :time 25448774345, :error :connect, :index 7804}
{:type :invoke, :f :cas, :value [1 2], :process 34, :time 25477992254, :index 7810}
{:type :fail, :f :cas, :value [1 2], :process 34, :time 25480014232, :error :connect, :index 7811}
{:type :invoke, :f :cas, :value [3 4], :process 18, :time 25482070892, :index 7812}
{:type :fail, :f :cas, :value [3 4], :process 18, :time 25483936785, :error :connect, :index 7814}
{:type :invoke, :f :write, :value 0, :process 34, :time 25501276541, :index 7818}
{:type :fail, :f :write, :value 0, :process 34, :time 25503019351, :error :connect, :index 7819}
{:type :invoke, :f :write, :value 1, :process 32, :time 25531034252, :index 7826}
{:type :fail, :f :write, :value 1, :process 32, :time 25532947736, :error :connect, :index 7827}
{:type :invoke, :f :cas, :value [0 2], :process 34, :time 25544277772, :index 7832}
{:type :fail, :f :cas, :value [0 2], :process 34, :time 25546137684, :error :connect, :index 7833}
{:type :invoke, :f :read, :value nil, :process 11, :time 25549731118, :index 7834}
{:type :invoke, :f :read, :value nil, :process 33, :time 25551207771, :index 7835}
{:type :fail, :f :read, :value nil, :process 11, :time 25551866929, :error :connect, :index 7836}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 25552030192, :index 7837}
{:type :fail, :f :read, :value nil, :process 33, :time 25553042625, :error :connect, :index 7838}
{:type :invoke, :f :write, :value 3, :process 33, :time 25553177065, :index 7839}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 25553837174, :error :connect, :index 7840}
{:type :fail, :f :write, :value 3, :process 33, :time 25554842213, :error :connect, :index 7841}
{:type :invoke, :f :cas, :value [2 4], :process 37, :time 25559706397, :index 7845}
{:type :fail, :f :cas, :value [2 4], :process 37, :time 25561523646, :error :connect, :index 7847}
{:type :invoke, :f :cas, :value [4 3], :process 36, :time 25578954392, :index 7850}
{:type :fail, :f :cas, :value [4 3], :process 36, :time 25580708629, :error :connect, :index 7851}
{:type :invoke, :f :cas, :value [2 2], :process 39, :time 25587534296, :index 7852}
{:type :fail, :f :cas, :value [2 2], :process 39, :time 25589168408, :error :connect, :index 7853}
{:type :invoke, :f :cas, :value [0 1], :process 34, :time 25591399075, :index 7854}
{:type :fail, :f :cas, :value [0 1], :process 34, :time 25592981819, :error :connect, :index 7855}
{:type :invoke, :f :read, :value nil, :process 33, :time 25593139789, :index 7856}
{:type :fail, :f :read, :value nil, :process 33, :time 25594923940, :error :connect, :index 7857}
{:type :invoke, :f :cas, :value [2 0], :process 39, :time 25607450944, :index 7866}
{:type :invoke, :f :write, :value 3, :process 10, :time 25608386269, :index 7868}
{:type :fail, :f :cas, :value [2 0], :process 39, :time 25609296227, :error :connect, :index 7869}
{:type :fail, :f :write, :value 3, :process 10, :time 25610009125, :error :connect, :index 7871}
{:type :invoke, :f :write, :value 0, :process 10, :time 25612259952, :index 7872}
{:type :fail, :f :write, :value 0, :process 10, :time 25613995050, :error :connect, :index 7873}
{:type :invoke, :f :read, :value nil, :process 18, :time 25640228981, :index 7880}
{:type :invoke, :f :cas, :value [4 4], :process 39, :time 25641566450, :index 7881}
{:type :fail, :f :read, :value nil, :process 18, :time 25642177427, :error :connect, :index 7882}
{:type :fail, :f :cas, :value [4 4], :process 39, :time 25643288613, :error :connect, :index 7883}
{:type :invoke, :f :read, :value nil, :process 39, :time 25643423772, :index 7884}
{:type :fail, :f :read, :value nil, :process 39, :time 25645126729, :error :connect, :index 7886}
{:type :invoke, :f :cas, :value [0 1], :process 18, :time 25655424878, :index 7888}
{:type :fail, :f :cas, :value [0 1], :process 18, :time 25657054894, :error :connect, :index 7889}
{:type :invoke, :f :read, :value nil, :process 10, :time 25669249494, :index 7890}
{:type :fail, :f :read, :value nil, :process 10, :time 25671269061, :error :connect, :index 7891}
{:type :invoke, :f :write, :value 1, :process 15, :time 25683112284, :index 7892}
{:type :fail, :f :write, :value 1, :process 15, :time 25685115976, :error :connect, :index 7893}
{:type :invoke, :f :cas, :value [3 0], :process 11, :time 25685164798, :index 7894}
{:type :fail, :f :cas, :value [3 0], :process 11, :time 25687098866, :error :connect, :index 7895}
{:type :invoke, :f :cas, :value [2 0], :process 37, :time 25692781987, :index 7898}
{:type :fail, :f :cas, :value [2 0], :process 37, :time 25694615368, :error :connect, :index 7899}
{:type :invoke, :f :write, :value 0, :process 15, :time 25704390622, :index 7906}
{:type :fail, :f :write, :value 0, :process 15, :time 25706358529, :error :connect, :index 7907}
{:type :invoke, :f :cas, :value [0 4], :process 32, :time 25711204536, :index 7908}
{:type :fail, :f :cas, :value [0 4], :process 32, :time 25713021918, :error :connect, :index 7909}
{:type :invoke, :f :read, :value nil, :process 39, :time 25720378968, :index 7910}
{:type :invoke, :f :read, :value nil, :process 32, :time 25721288304, :index 7911}
{:type :fail, :f :read, :value nil, :process 39, :time 25722382375, :error :connect, :index 7912}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 25722381204, :index 7913}
{:type :fail, :f :read, :value nil, :process 32, :time 25723141719, :error :connect, :index 7914}
{:type :invoke, :f :cas, :value [3 1], :process 37, :time 25723908266, :index 7915}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 25724289528, :error :connect, :index 7916}
{:type :fail, :f :cas, :value [3 1], :process 37, :time 25725864125, :error :connect, :index 7917}
{:type :invoke, :f :cas, :value [3 4], :process 36, :time 25727987463, :index 7920}
{:type :fail, :f :cas, :value [3 4], :process 36, :time 25729795651, :error :connect, :index 7921}
{:type :invoke, :f :read, :value nil, :process 15, :time 25735622556, :index 7922}
{:type :fail, :f :read, :value nil, :process 15, :time 25737468202, :error :connect, :index 7923}
{:type :invoke, :f :read, :value nil, :process 39, :time 25745652422, :index 7924}
{:type :fail, :f :read, :value nil, :process 39, :time 25747753184, :error :connect, :index 7926}
{:type :invoke, :f :cas, :value [4 1], :process 34, :time 25762261218, :index 7930}
{:type :fail, :f :cas, :value [4 1], :process 34, :time 25764119571, :error :connect, :index 7931}
{:type :invoke, :f :read, :value nil, :process 33, :time 25780187698, :index 7936}
{:type :fail, :f :read, :value nil, :process 33, :time 25781740939, :error :connect, :index 7937}
{:type :invoke, :f :read, :value nil, :process 18, :time 25798316580, :index 7948}
{:type :fail, :f :read, :value nil, :process 18, :time 25800341039, :error :connect, :index 7949}
{:type :invoke, :f :write, :value 2, :process 34, :time 25801385574, :index 7950}
{:type :fail, :f :write, :value 2, :process 34, :time 25803380533, :error :connect, :index 7952}
{:type :invoke, :f :write, :value 1, :process 11, :time 25815550354, :index 7955}
{:type :fail, :f :write, :value 1, :process 11, :time 25817761097, :error :connect, :index 7957}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :invoke, :f :read, :value nil, :process 15, :time 25835730073, :index 7959}
{:type :fail, :f :read, :value nil, :process 15, :time 25837839507, :error :connect, :index 7961}
{:type :invoke, :f :write, :value 0, :process 36, :time 25842068609, :index 7964}
{:type :fail, :f :write, :value 0, :process 36, :time 25843904929, :error :connect, :index 7966}
{:type :invoke, :f :write, :value 0, :process 33, :time 25850005548, :index 7970}
{:type :invoke, :f :write, :value 0, :process 39, :time 25852044963, :index 7972}
{:type :fail, :f :write, :value 0, :process 33, :time 25852214887, :error :connect, :index 7973}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 25853532363, :index 7974}
{:type :fail, :f :write, :value 0, :process 39, :time 25854183475, :error :connect, :index 7975}
{:type :fail, :f :cas, :value [0 1], :process 10, :time 25855467459, :error :connect, :index 7976}
{:type :invoke, :f :read, :value nil, :process 15, :time 25864102968, :index 7977}
{:type :fail, :f :read, :value nil, :process 15, :time 25865941414, :error :connect, :index 7978}
{:type :invoke, :f :read, :value nil, :process 37, :time 25891144287, :index 7983}
{:type :fail, :f :read, :value nil, :process 37, :time 25893036811, :error :connect, :index 7984}
{:type :invoke, :f :read, :value nil, :process 34, :time 25909644546, :index 7985}
{:type :fail, :f :read, :value nil, :process 34, :time 25911682191, :error :connect, :index 7986}
{:type :invoke, :f :read, :value nil, :process 11, :time 25913019542, :index 7987}
{:type :fail, :f :read, :value nil, :process 11, :time 25914675446, :error :connect, :index 7988}
{:type :invoke, :f :read, :value nil, :process 32, :time 25915408238, :index 7989}
{:type :fail, :f :read, :value nil, :process 32, :time 25917010206, :error :connect, :index 7990}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :invoke, :f :write, :value 3, :process 33, :time 25928456870, :index 7994}
{:type :fail, :f :write, :value 3, :process 33, :time 25930337218, :error :connect, :index 7995}
{:type :invoke, :f :write, :value 2, :process 37, :time 25937300856, :index 8000}
{:type :fail, :f :write, :value 2, :process 37, :time 25939162851, :error :connect, :index 8002}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 25960600751, :index 8008}
{:type :invoke, :f :read, :value nil, :process 15, :time 25962214861, :index 8009}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 25962347145, :error :connect, :index 8010}
{:type :fail, :f :read, :value nil, :process 15, :time 25964286626, :error :connect, :index 8011}
{:type :invoke, :f :write, :value 2, :process 11, :time 25986973086, :index 8020}
{:type :fail, :f :write, :value 2, :process 11, :time 25988901107, :error :connect, :index 8022}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 25996742057, :index 8026}
{:type :fail, :f :cas, :value [0 1], :process 10, :time 25998620769, :error :connect, :index 8028}
{:type :invoke, :f :cas, :value [4 1], :process 32, :time 26011271775, :index 8032}
{:type :fail, :f :cas, :value [4 1], :process 32, :time 26013468917, :error :connect, :index 8034}
{:type :invoke, :f :write, :value 1, :process 36, :time 26016157749, :index 8036}
{:type :fail, :f :write, :value 1, :process 36, :time 26018043090, :error :connect, :index 8037}
{:type :invoke, :f :cas, :value [3 0], :process 39, :time 26042435444, :index 8042}
{:type :fail, :f :cas, :value [3 0], :process 39, :time 26044374377, :error :connect, :index 8043}
{:type :invoke, :f :cas, :value [1 4], :process 34, :time 26099946531, :index 8066}
{:type :fail, :f :cas, :value [1 4], :process 34, :time 26102013260, :error :connect, :index 8068}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
