{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :invoke, :f :write, :value 1, :process 28, :time 31750489216, :index 6780}
{:type :ok, :f :write, :value 1, :process 28, :time 31755236099, :index 6781}
{:type :invoke, :f :cas, :value [3 0], :process 28, :time 31774499177, :index 6784}
{:type :invoke, :f :cas, :value [4 0], :process 26, :time 31778088459, :index 6785}
{:type :fail, :f :cas, :value [3 0], :process 28, :time 31780445164, :index 6786}
{:type :fail, :f :cas, :value [4 0], :process 26, :time 31783900837, :index 6788}
{:type :invoke, :f :read, :value nil, :process 43, :time 31823285349, :index 6794}
{:type :ok, :f :read, :value 1, :process 43, :time 31828964860, :index 6796}
{:type :invoke, :f :cas, :value [4 1], :process 5, :time 31847122076, :index 6800}
{:type :fail, :f :cas, :value [4 1], :process 5, :time 31851941047, :index 6801}
{:type :invoke, :f :cas, :value [3 0], :process 28, :time 31863707475, :index 6808}
{:type :fail, :f :cas, :value [3 0], :process 28, :time 31869602872, :index 6809}
{:type :invoke, :f :cas, :value [0 2], :process 1, :time 31871702440, :index 6810}
{:type :invoke, :f :write, :value 2, :process 26, :time 31872195270, :index 6811}
{:type :fail, :f :cas, :value [0 2], :process 1, :time 31877795656, :index 6812}
{:type :ok, :f :write, :value 2, :process 26, :time 31878114272, :index 6813}
{:type :invoke, :f :write, :value 2, :process 5, :time 31895204798, :index 6816}
{:type :ok, :f :write, :value 2, :process 5, :time 31899618676, :index 6818}
{:type :invoke, :f :read, :value nil, :process 0, :time 31937876121, :index 6825}
{:type :ok, :f :read, :value 2, :process 0, :time 31943085264, :index 6826}
{:type :invoke, :f :read, :value nil, :process 1, :time 31950053315, :index 6828}
{:type :ok, :f :read, :value 2, :process 1, :time 31956828939, :index 6829}
{:type :invoke, :f :read, :value nil, :process 0, :time 31966347560, :index 6830}
{:type :invoke, :f :cas, :value [2 4], :process 1, :time 31967086112, :index 6831}
{:type :ok, :f :read, :value 2, :process 0, :time 31971486334, :index 6832}
{:type :ok, :f :cas, :value [2 4], :process 1, :time 31972419241, :index 6833}
{:type :invoke, :f :write, :value 0, :process 0, :time 31976752371, :index 6834}
{:type :ok, :f :write, :value 0, :process 0, :time 31981294852, :index 6837}
{:type :invoke, :f :read, :value nil, :process 28, :time 32003866874, :index 6840}
{:type :invoke, :f :read, :value nil, :process 43, :time 32010182991, :index 6843}
{:type :ok, :f :read, :value 0, :process 28, :time 32010518514, :index 6844}
{:type :ok, :f :read, :value 0, :process 43, :time 32015121924, :index 6846}
{:type :invoke, :f :write, :value 4, :process 26, :time 32031367984, :index 6849}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 32040564194, :index 6850}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 32043885108, :index 6851}
{:type :invoke, :f :read, :value nil, :process 28, :time 32047768018, :index 6854}
{:type :invoke, :f :write, :value 2, :process 1, :time 32072685176, :index 6855}
{:type :invoke, :f :cas, :value [2 0], :process 43, :time 32157378382, :index 6858}
{:type :ok, :f :write, :value 4, :process 26, :time 33138121780, :index 6860}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 33140109290, :index 6867}
{:type :ok, :f :write, :value 2, :process 1, :time 33140377310, :index 6869}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 33141774290, :index 6875}
{:type :ok, :f :cas, :value [2 0], :process 43, :time 33141999128, :index 6876}
{:type :ok, :f :read, :value 4, :process 28, :time 33142068260, :index 6877}
{:type :invoke, :f :write, :value 1, :process 0, :time 33147008198, :index 6882}
{:type :ok, :f :write, :value 1, :process 0, :time 33151453766, :index 6883}
{:type :invoke, :f :write, :value 0, :process 0, :time 33152730421, :index 6884}
{:type :ok, :f :write, :value 0, :process 0, :time 33157042477, :index 6885}
{:type :invoke, :f :write, :value 1, :process 9, :time 33202700721, :index 6894}
{:type :ok, :f :write, :value 1, :process 9, :time 33207525981, :index 6896}
{:type :invoke, :f :write, :value 0, :process 1, :time 33209683748, :index 6898}
{:type :ok, :f :write, :value 0, :process 1, :time 33216604833, :index 6902}
{:type :invoke, :f :write, :value 4, :process 43, :time 33232217753, :index 6908}
{:type :ok, :f :write, :value 4, :process 43, :time 33236982613, :index 6909}
{:type :invoke, :f :read, :value nil, :process 47, :time 33271109215, :index 6916}
{:type :ok, :f :read, :value 4, :process 47, :time 33276001913, :index 6918}
{:type :invoke, :f :read, :value nil, :process 5, :time 33279618351, :index 6920}
{:type :ok, :f :read, :value 4, :process 5, :time 33284293025, :index 6921}
{:type :invoke, :f :cas, :value [2 3], :process 47, :time 33284220858, :index 6922}
{:type :fail, :f :cas, :value [2 3], :process 47, :time 33289231370, :index 6923}
{:type :invoke, :f :cas, :value [0 0], :process 28, :time 33292565715, :index 6925}
{:type :invoke, :f :cas, :value [3 0], :process 22, :time 33295964815, :index 6926}
{:type :fail, :f :cas, :value [0 0], :process 28, :time 33298531952, :index 6928}
{:type :fail, :f :cas, :value [3 0], :process 22, :time 33301979922, :index 6929}
{:type :invoke, :f :write, :value 4, :process 26, :time 33311484922, :index 6930}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 33315317485, :index 6931}
{:type :invoke, :f :read, :value nil, :process 24, :time 33316082633, :index 6932}
{:type :ok, :f :write, :value 4, :process 26, :time 33316782968, :index 6933}
{:type :invoke, :f :read, :value nil, :process 47, :time 33317506341, :index 6934}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 33320719949, :index 6935}
{:type :ok, :f :read, :value 4, :process 24, :time 33321877109, :index 6936}
{:type :invoke, :f :cas, :value [2 2], :process 26, :time 33322021083, :index 6937}
{:type :ok, :f :read, :value 4, :process 47, :time 33322246702, :index 6938}
{:type :invoke, :f :cas, :value [2 4], :process 28, :time 33324786090, :index 6939}
{:type :fail, :f :cas, :value [2 2], :process 26, :time 33327171991, :index 6940}
{:type :invoke, :f :read, :value nil, :process 1, :time 33328954433, :index 6941}
{:type :fail, :f :cas, :value [2 4], :process 28, :time 33330871184, :index 6943}
{:type :ok, :f :read, :value 4, :process 1, :time 33333888784, :index 6944}
{:type :invoke, :f :cas, :value [4 4], :process 28, :time 33344115252, :index 6947}
{:type :invoke, :f :read, :value nil, :process 1, :time 33349147129, :index 6950}
{:type :ok, :f :cas, :value [4 4], :process 28, :time 33349299161, :index 6951}
{:type :invoke, :f :cas, :value [1 0], :process 22, :time 33351240377, :index 6953}
{:type :invoke, :f :cas, :value [4 1], :process 26, :time 33353434661, :index 6955}
{:type :ok, :f :read, :value 4, :process 1, :time 33354697028, :index 6957}
{:type :fail, :f :cas, :value [1 0], :process 22, :time 33356392711, :index 6958}
{:type :invoke, :f :write, :value 2, :process 5, :time 33357544384, :index 6959}
{:type :ok, :f :cas, :value [4 1], :process 26, :time 33358622069, :index 6961}
{:type :invoke, :f :write, :value 0, :process 9, :time 33361791514, :index 6963}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 33361986479, :index 6964}
{:type :ok, :f :write, :value 2, :process 5, :time 33362675099, :index 6965}
{:type :ok, :f :write, :value 0, :process 9, :time 33367211681, :index 6966}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 33367737147, :index 6967}
{:type :invoke, :f :cas, :value [0 4], :process 43, :time 33390242941, :index 6972}
{:type :ok, :f :cas, :value [0 4], :process 43, :time 33395540391, :index 6973}
{:type :invoke, :f :write, :value 2, :process 24, :time 33430127658, :index 6980}
{:type :ok, :f :write, :value 2, :process 24, :time 33435700412, :index 6982}
{:type :invoke, :f :cas, :value [0 2], :process 26, :time 33441869414, :index 6985}
{:type :invoke, :f :write, :value 4, :process 22, :time 33443659931, :index 6986}
{:type :invoke, :f :read, :value nil, :process 28, :time 33444547916, :index 6987}
{:type :fail, :f :cas, :value [0 2], :process 26, :time 33448379570, :index 6990}
{:type :ok, :f :write, :value 4, :process 22, :time 33448656388, :index 6991}
{:type :invoke, :f :read, :value nil, :process 5, :time 33450934670, :index 6992}
{:type :ok, :f :read, :value 4, :process 5, :time 33455102767, :index 6994}
{:type :invoke, :f :cas, :value [0 1], :process 43, :time 33455811008, :index 6995}
{:type :invoke, :f :write, :value 1, :process 9, :time 33456540781, :index 6996}
{:type :fail, :f :cas, :value [0 1], :process 43, :time 33461352649, :index 6999}
{:type :ok, :f :read, :value 4, :process 28, :time 33461924309, :index 7000}
{:type :ok, :f :write, :value 1, :process 9, :time 33462355776, :index 7001}
{:type :invoke, :f :read, :value nil, :process 43, :time 33470611238, :index 7003}
{:type :invoke, :f :write, :value 3, :process 28, :time 33473158021, :index 7005}
{:type :ok, :f :read, :value 1, :process 43, :time 33475671246, :index 7007}
{:type :ok, :f :write, :value 3, :process 28, :time 33478679762, :index 7008}
{:type :invoke, :f :read, :value nil, :process 47, :time 33485448477, :index 7010}
{:type :ok, :f :read, :value 3, :process 47, :time 33491823479, :index 7013}
{:type :invoke, :f :write, :value 1, :process 24, :time 33506962580, :index 7015}
{:type :invoke, :f :cas, :value [0 2], :process 47, :time 33510057147, :index 7017}
{:type :ok, :f :write, :value 1, :process 24, :time 33512200555, :index 7018}
{:type :fail, :f :cas, :value [0 2], :process 47, :time 33515369158, :index 7019}
{:type :invoke, :f :write, :value 0, :process 0, :time 33525971597, :index 7020}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 33527375565, :index 7021}
{:type :ok, :f :write, :value 0, :process 0, :time 33531408305, :index 7022}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 33532049511, :index 7023}
{:type :invoke, :f :write, :value 4, :process 1, :time 33549962690, :index 7032}
{:type :invoke, :f :cas, :value [3 1], :process 5, :time 33552224632, :index 7033}
{:type :ok, :f :write, :value 4, :process 1, :time 33555655778, :index 7034}
{:type :fail, :f :cas, :value [3 1], :process 5, :time 33557342131, :index 7035}
{:type :invoke, :f :read, :value nil, :process 22, :time 33560884456, :index 7036}
{:type :ok, :f :read, :value 4, :process 22, :time 33567163516, :index 7037}
{:type :invoke, :f :write, :value 4, :process 28, :time 33570931730, :index 7038}
{:type :ok, :f :write, :value 4, :process 28, :time 33575588667, :index 7039}
{:type :invoke, :f :write, :value 1, :process 5, :time 33593601424, :index 7044}
{:type :ok, :f :write, :value 1, :process 5, :time 33598135092, :index 7045}
{:type :invoke, :f :read, :value nil, :process 0, :time 33600674943, :index 7046}
{:type :ok, :f :read, :value 1, :process 0, :time 33605071886, :index 7047}
{:type :invoke, :f :write, :value 0, :process 28, :time 33611887168, :index 7050}
{:type :ok, :f :write, :value 0, :process 28, :time 33617515515, :index 7051}
{:type :invoke, :f :cas, :value [2 3], :process 22, :time 33621428359, :index 7052}
{:type :fail, :f :cas, :value [2 3], :process 22, :time 33626927356, :index 7053}
{:type :invoke, :f :read, :value nil, :process 9, :time 33639611455, :index 7055}
{:type :ok, :f :read, :value 0, :process 9, :time 33644197651, :index 7059}
{:type :invoke, :f :cas, :value [4 0], :process 26, :time 33647648792, :index 7061}
{:type :fail, :f :cas, :value [4 0], :process 26, :time 33653033138, :index 7064}
{:type :invoke, :f :read, :value nil, :process 47, :time 33658622804, :index 7066}
{:type :invoke, :f :write, :value 4, :process 43, :time 33660945430, :index 7068}
{:type :invoke, :f :write, :value 2, :process 24, :time 33662494313, :index 7070}
{:type :ok, :f :read, :value 0, :process 47, :time 33663475280, :index 7071}
{:type :ok, :f :write, :value 4, :process 43, :time 33667067254, :index 7073}
{:type :ok, :f :write, :value 2, :process 24, :time 33668450310, :index 7075}
{:type :invoke, :f :write, :value 2, :process 5, :time 33671389617, :index 7076}
{:type :ok, :f :write, :value 2, :process 5, :time 33675855687, :index 7078}
{:type :invoke, :f :cas, :value [3 3], :process 28, :time 33678772188, :index 7079}
{:type :fail, :f :cas, :value [3 3], :process 28, :time 33683862491, :index 7081}
{:type :invoke, :f :write, :value 0, :process 47, :time 33702778305, :index 7083}
{:type :ok, :f :write, :value 0, :process 47, :time 33708135790, :index 7085}
{:type :invoke, :f :cas, :value [2 3], :process 47, :time 33719425363, :index 7091}
{:type :invoke, :f :write, :value 3, :process 0, :time 33724382096, :index 7093}
{:type :fail, :f :cas, :value [2 3], :process 47, :time 33724605662, :index 7094}
{:type :invoke, :f :cas, :value [3 1], :process 24, :time 33724711825, :index 7095}
{:type :invoke, :f :cas, :value [0 1], :process 1, :time 33728914860, :index 7097}
{:type :ok, :f :write, :value 3, :process 0, :time 33730306614, :index 7098}
{:type :ok, :f :cas, :value [3 1], :process 24, :time 33731561317, :index 7099}
{:type :fail, :f :cas, :value [0 1], :process 1, :time 33734239492, :index 7101}
{:type :invoke, :f :cas, :value [4 4], :process 22, :time 33773188925, :index 7112}
{:type :fail, :f :cas, :value [4 4], :process 22, :time 33779330804, :index 7113}
{:type :invoke, :f :write, :value 2, :process 28, :time 33786118782, :index 7114}
{:type :ok, :f :write, :value 2, :process 28, :time 33793300294, :index 7115}
{:type :invoke, :f :read, :value nil, :process 9, :time 33796460542, :index 7116}
{:type :invoke, :f :read, :value nil, :process 1, :time 33797494149, :index 7117}
{:type :ok, :f :read, :value 2, :process 9, :time 33801456735, :index 7118}
{:type :ok, :f :read, :value 2, :process 1, :time 33803447573, :index 7119}
{:type :invoke, :f :read, :value nil, :process 43, :time 33809330350, :index 7121}
{:type :invoke, :f :read, :value nil, :process 9, :time 33812738954, :index 7122}
{:type :ok, :f :read, :value 2, :process 43, :time 33814464536, :index 7123}
{:type :ok, :f :read, :value 2, :process 9, :time 33817012308, :index 7125}
{:type :invoke, :f :cas, :value [0 3], :process 22, :time 33837605696, :index 7129}
{:type :invoke, :f :write, :value 3, :process 47, :time 33837865990, :index 7130}
{:type :invoke, :f :write, :value 1, :process 5, :time 33838354425, :index 7131}
{:type :invoke, :f :cas, :value [2 3], :process 26, :time 33839314401, :index 7132}
{:type :ok, :f :write, :value 1, :process 5, :time 33843935306, :index 7136}
{:type :ok, :f :write, :value 3, :process 47, :time 33844344145, :index 7137}
{:type :fail, :f :cas, :value [0 3], :process 22, :time 33844727982, :index 7138}
{:type :fail, :f :cas, :value [2 3], :process 26, :time 33846638542, :index 7141}
{:type :invoke, :f :write, :value 0, :process 5, :time 33846823697, :index 7142}
{:type :ok, :f :write, :value 0, :process 5, :time 33851028206, :index 7144}
{:type :invoke, :f :cas, :value [2 0], :process 9, :time 33856217264, :index 7145}
{:type :invoke, :f :cas, :value [3 2], :process 24, :time 33866842503, :index 7149}
{:type :fail, :f :cas, :value [3 2], :process 24, :time 33889436831, :index 7151}
{:type :fail, :f :cas, :value [2 0], :process 9, :time 33890012032, :index 7153}
{:type :invoke, :f :cas, :value [1 0], :process 22, :time 33891964691, :index 7154}
{:type :invoke, :f :write, :value 4, :process 0, :time 33892578280, :index 7155}
{:type :ok, :f :write, :value 4, :process 0, :time 33897665945, :index 7157}
{:type :fail, :f :cas, :value [1 0], :process 22, :time 33897801324, :index 7158}
{:type :invoke, :f :write, :value 3, :process 1, :time 33897928718, :index 7159}
{:type :ok, :f :write, :value 3, :process 1, :time 33903430911, :index 7161}
{:type :invoke, :f :read, :value nil, :process 28, :time 33944544984, :index 7180}
{:type :invoke, :f :read, :value nil, :process 43, :time 33944719759, :index 7182}
{:type :ok, :f :read, :value 3, :process 28, :time 33950679377, :index 7185}
{:type :ok, :f :read, :value 3, :process 43, :time 33951690658, :index 7186}
{:type :invoke, :f :read, :value nil, :process 47, :time 34019612152, :index 7205}
{:type :ok, :f :read, :value 3, :process 47, :time 34085337774, :index 7227}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
