{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :invoke, :f :read, :value nil, :process 8, :time 30890733275, :index 9942}
{:type :fail, :f :read, :value nil, :process 8, :time 30892859545, :error :connect, :index 9944}
{:type :invoke, :f :write, :value 4, :process 0, :time 30921775595, :index 9954}
{:type :fail, :f :write, :value 4, :process 0, :time 30923829375, :error :connect, :index 9955}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :invoke, :f :read, :value nil, :process 8, :time 30932099745, :index 9963}
{:type :fail, :f :read, :value nil, :process 8, :time 30934191317, :error :connect, :index 9964}
{:type :invoke, :f :cas, :value [0 4], :process 29, :time 30939810388, :index 9967}
{:type :fail, :f :cas, :value [0 4], :process 29, :time 30941892642, :error :connect, :index 9969}
{:type :invoke, :f :cas, :value [1 0], :process 22, :time 30951286922, :index 9971}
{:type :fail, :f :cas, :value [1 0], :process 22, :time 30952996519, :error :connect, :index 9973}
{:type :invoke, :f :write, :value 3, :process 6, :time 30968169568, :index 9979}
{:type :fail, :f :write, :value 3, :process 6, :time 30969979578, :error :connect, :index 9980}
{:type :invoke, :f :read, :value nil, :process 21, :time 30974100381, :index 9983}
{:type :fail, :f :read, :value nil, :process 21, :time 30976225882, :error :connect, :index 9987}
{:type :invoke, :f :read, :value nil, :process 5, :time 30976718243, :index 9988}
{:type :fail, :f :read, :value nil, :process 5, :time 30978803439, :error :connect, :index 9990}
{:type :invoke, :f :read, :value nil, :process 8, :time 30984451497, :index 9991}
{:type :invoke, :f :read, :value nil, :process 7, :time 30985159542, :index 9993}
{:type :fail, :f :read, :value nil, :process 8, :time 30986238297, :error :connect, :index 9994}
{:type :fail, :f :read, :value nil, :process 7, :time 30987276055, :error :connect, :index 9996}
{:type :invoke, :f :write, :value 0, :process 6, :time 30987246319, :index 9997}
{:type :fail, :f :write, :value 0, :process 6, :time 30989105325, :error :connect, :index 9998}
{:type :invoke, :f :read, :value nil, :process 22, :time 30996255151, :index 10001}
{:type :fail, :f :read, :value nil, :process 22, :time 30997889040, :error :connect, :index 10002}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 31017434785, :index 10005}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 31019538090, :error :connect, :index 10006}
{:type :invoke, :f :write, :value 3, :process 21, :time 31031468635, :index 10009}
{:type :fail, :f :write, :value 3, :process 21, :time 31033472038, :error :connect, :index 10010}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 31034095839, :index 10011}
{:type :invoke, :f :read, :value nil, :process 7, :time 31035517908, :index 10012}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 31036502344, :error :connect, :index 10014}
{:type :fail, :f :read, :value nil, :process 7, :time 31037623907, :error :connect, :index 10015}
{:type :invoke, :f :cas, :value [3 0], :process 8, :time 31045513753, :index 10018}
{:type :fail, :f :cas, :value [3 0], :process 8, :time 31047191356, :error :connect, :index 10020}
{:type :invoke, :f :write, :value 3, :process 0, :time 31053090616, :index 10021}
{:type :fail, :f :write, :value 3, :process 0, :time 31054886071, :error :connect, :index 10022}
{:type :invoke, :f :write, :value 0, :process 29, :time 31078170955, :index 10029}
{:type :invoke, :f :write, :value 0, :process 21, :time 31079761209, :index 10030}
{:type :fail, :f :write, :value 0, :process 29, :time 31080267869, :error :connect, :index 10031}
{:type :fail, :f :write, :value 0, :process 21, :time 31081960607, :error :connect, :index 10032}
{:type :invoke, :f :read, :value nil, :process 7, :time 31097904992, :index 10033}
{:type :fail, :f :read, :value nil, :process 7, :time 31099811576, :error :connect, :index 10035}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 31103830789, :index 10037}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 31105895599, :error :connect, :index 10038}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 31128062978, :index 10051}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 31130189136, :error :connect, :index 10052}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :invoke, :f :cas, :value [3 2], :process 29, :time 31141520196, :index 10058}
{:type :fail, :f :cas, :value [3 2], :process 29, :time 31143298507, :error :connect, :index 10059}
{:type :invoke, :f :read, :value nil, :process 22, :time 31150148889, :index 10060}
{:type :fail, :f :read, :value nil, :process 22, :time 31152059657, :error :connect, :index 10061}
{:type :invoke, :f :write, :value 1, :process 6, :time 31158381964, :index 10062}
{:type :fail, :f :write, :value 1, :process 6, :time 31160527564, :error :connect, :index 10063}
{:type :invoke, :f :read, :value nil, :process 4, :time 31166770083, :index 10064}
{:type :fail, :f :read, :value nil, :process 4, :time 31168541204, :error :connect, :index 10066}
{:type :invoke, :f :read, :value nil, :process 4, :time 31171801241, :index 10068}
{:type :fail, :f :read, :value nil, :process 4, :time 31173547950, :error :connect, :index 10069}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 31197436782, :index 10070}
{:type :fail, :f :cas, :value [3 3], :process 8, :time 31199496287, :error :connect, :index 10071}
{:type :invoke, :f :read, :value nil, :process 29, :time 31208564798, :index 10074}
{:type :fail, :f :read, :value nil, :process 29, :time 31210333109, :error :connect, :index 10075}
{:type :invoke, :f :cas, :value [1 3], :process 22, :time 31224320879, :index 10078}
{:type :fail, :f :cas, :value [1 3], :process 22, :time 31226281189, :error :connect, :index 10079}
{:type :invoke, :f :write, :value 3, :process 0, :time 31228154316, :index 10081}
{:type :fail, :f :write, :value 3, :process 0, :time 31230201120, :error :connect, :index 10083}
{:type :invoke, :f :cas, :value [4 1], :process 4, :time 31233823037, :index 10086}
{:type :fail, :f :cas, :value [4 1], :process 4, :time 31235648479, :error :connect, :index 10087}
{:type :invoke, :f :read, :value nil, :process 21, :time 31253216545, :index 10090}
{:type :fail, :f :read, :value nil, :process 21, :time 31254872023, :error :connect, :index 10091}
{:type :invoke, :f :cas, :value [3 2], :process 7, :time 31255101434, :index 10092}
{:type :fail, :f :cas, :value [3 2], :process 7, :time 31257211710, :error :connect, :index 10093}
{:type :invoke, :f :read, :value nil, :process 8, :time 31264761692, :index 10094}
{:type :fail, :f :read, :value nil, :process 8, :time 31266682756, :error :connect, :index 10096}
{:type :invoke, :f :write, :value 2, :process 3, :time 31276161865, :index 10098}
{:type :invoke, :f :cas, :value [2 4], :process 6, :time 31276795136, :index 10099}
{:type :fail, :f :write, :value 2, :process 3, :time 31277998609, :error :connect, :index 10100}
{:type :fail, :f :cas, :value [2 4], :process 6, :time 31278649452, :error :connect, :index 10101}
{:type :invoke, :f :write, :value 2, :process 4, :time 31288925172, :index 10102}
{:type :fail, :f :write, :value 2, :process 4, :time 31290714879, :error :connect, :index 10103}
{:type :invoke, :f :write, :value 3, :process 6, :time 31295955265, :index 10107}
{:type :fail, :f :write, :value 3, :process 6, :time 31297630831, :error :connect, :index 10109}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 31314471559, :index 10114}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 31316564936, :error :connect, :index 10117}
{:type :invoke, :f :read, :value nil, :process 21, :time 31332086276, :index 10124}
{:type :fail, :f :read, :value nil, :process 21, :time 31333894982, :error :connect, :index 10125}
{:type :invoke, :f :cas, :value [4 4], :process 21, :time 31372155103, :index 10136}
{:type :fail, :f :cas, :value [4 4], :process 21, :time 31374128531, :error :connect, :index 10137}
{:type :invoke, :f :read, :value nil, :process 0, :time 31388458445, :index 10139}
{:type :fail, :f :read, :value nil, :process 0, :time 31390029617, :error :connect, :index 10141}
{:type :invoke, :f :read, :value nil, :process 22, :time 31391555422, :index 10142}
{:type :fail, :f :read, :value nil, :process 22, :time 31393229138, :error :connect, :index 10143}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 31396981135, :index 10144}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 31398871655, :error :connect, :index 10145}
{:type :invoke, :f :cas, :value [1 1], :process 29, :time 31404631283, :index 10148}
{:type :fail, :f :cas, :value [1 1], :process 29, :time 31406493544, :error :connect, :index 10149}
{:type :invoke, :f :read, :value nil, :process 7, :time 31411480835, :index 10153}
{:type :fail, :f :read, :value nil, :process 7, :time 31413583148, :error :connect, :index 10155}
{:type :invoke, :f :write, :value 1, :process 21, :time 31419405988, :index 10156}
{:type :fail, :f :write, :value 1, :process 21, :time 31421209350, :error :connect, :index 10157}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 31436974189, :index 10160}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 31439161917, :error :connect, :index 10162}
{:type :invoke, :f :read, :value nil, :process 8, :time 31447422681, :index 10168}
{:type :fail, :f :read, :value nil, :process 8, :time 31449319265, :error :connect, :index 10169}
{:type :invoke, :f :write, :value 2, :process 21, :time 31450472854, :index 10170}
{:type :fail, :f :write, :value 2, :process 21, :time 31452185073, :error :connect, :index 10172}
{:type :invoke, :f :write, :value 4, :process 7, :time 31461837385, :index 10174}
{:type :invoke, :f :read, :value nil, :process 3, :time 31462274356, :index 10175}
{:type :fail, :f :write, :value 4, :process 7, :time 31463750272, :error :connect, :index 10176}
{:type :fail, :f :read, :value nil, :process 3, :time 31464398235, :error :connect, :index 10177}
{:type :invoke, :f :cas, :value [2 4], :process 5, :time 31469795181, :index 10180}
{:type :fail, :f :cas, :value [2 4], :process 5, :time 31471839904, :error :connect, :index 10181}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 31472855010, :index 10182}
{:type :fail, :f :cas, :value [1 3], :process 6, :time 31474640560, :error :connect, :index 10183}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 31483268265, :index 10186}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 31485061861, :error :connect, :index 10187}
{:type :invoke, :f :write, :value 4, :process 29, :time 31502764229, :index 10190}
{:type :fail, :f :write, :value 4, :process 29, :time 31504588836, :error :connect, :index 10191}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 31536142357, :index 10204}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 31538140348, :error :connect, :index 10205}
{:type :invoke, :f :read, :value nil, :process 0, :time 31552323082, :index 10212}
{:type :fail, :f :read, :value nil, :process 0, :time 31554337678, :error :connect, :index 10216}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 31565388371, :index 10218}
{:type :invoke, :f :read, :value nil, :process 3, :time 31565648048, :index 10219}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 31567231798, :error :connect, :index 10220}
{:type :fail, :f :read, :value nil, :process 3, :time 31567598203, :error :connect, :index 10221}
{:type :invoke, :f :cas, :value [2 2], :process 22, :time 31581486073, :index 10224}
{:type :fail, :f :cas, :value [2 2], :process 22, :time 31583352370, :error :connect, :index 10225}
{:type :invoke, :f :cas, :value [1 4], :process 8, :time 31611587788, :index 10232}
{:type :fail, :f :cas, :value [1 4], :process 8, :time 31613290380, :error :connect, :index 10236}
{:type :invoke, :f :write, :value 3, :process 5, :time 31627108473, :index 10238}
{:type :fail, :f :write, :value 3, :process 5, :time 31628964586, :error :connect, :index 10239}
{:type :invoke, :f :cas, :value [2 1], :process 29, :time 31630862335, :index 10240}
{:type :fail, :f :cas, :value [2 1], :process 29, :time 31632914960, :error :connect, :index 10241}
{:type :invoke, :f :read, :value nil, :process 7, :time 31648075266, :index 10242}
{:type :fail, :f :read, :value nil, :process 7, :time 31649779448, :error :connect, :index 10243}
{:type :invoke, :f :write, :value 4, :process 6, :time 31650940349, :index 10244}
{:type :fail, :f :write, :value 4, :process 6, :time 31653023397, :error :connect, :index 10245}
{:type :invoke, :f :cas, :value [1 0], :process 5, :time 31654227961, :index 10246}
{:type :fail, :f :cas, :value [1 0], :process 5, :time 31656364968, :error :connect, :index 10247}
{:type :invoke, :f :write, :value 4, :process 3, :time 31672862340, :index 10248}
{:type :fail, :f :write, :value 4, :process 3, :time 31674792256, :error :connect, :index 10249}
{:type :invoke, :f :write, :value 3, :process 0, :time 31675569316, :index 10250}
{:type :fail, :f :write, :value 3, :process 0, :time 31677453141, :error :connect, :index 10253}
{:type :invoke, :f :cas, :value [1 1], :process 21, :time 31700501297, :index 10262}
{:type :invoke, :f :read, :value nil, :process 29, :time 31702189933, :index 10263}
{:type :fail, :f :cas, :value [1 1], :process 21, :time 31702484186, :error :connect, :index 10264}
{:type :fail, :f :read, :value nil, :process 29, :time 31704257311, :error :connect, :index 10265}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 31705042191, :index 10266}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 31706861762, :error :connect, :index 10267}
{:type :invoke, :f :write, :value 4, :process 5, :time 31707644403, :index 10268}
{:type :invoke, :f :read, :value nil, :process 4, :time 31708408603, :index 10269}
{:type :fail, :f :write, :value 4, :process 5, :time 31709180355, :error :connect, :index 10270}
{:type :fail, :f :read, :value nil, :process 4, :time 31710375701, :error :connect, :index 10271}
{:type :invoke, :f :read, :value nil, :process 3, :time 31731051559, :index 10278}
{:type :fail, :f :read, :value nil, :process 3, :time 31732896920, :error :connect, :index 10279}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 31733542529, :index 10280}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 31735312799, :error :connect, :index 10281}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 31736443190, :index 10282}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 31738620495, :error :connect, :index 10284}
{:type :invoke, :f :write, :value 0, :process 22, :time 31743632139, :index 10286}
{:type :fail, :f :write, :value 0, :process 22, :time 31745218654, :error :connect, :index 10287}
{:type :invoke, :f :write, :value 0, :process 21, :time 31750726559, :index 10288}
{:type :fail, :f :write, :value 0, :process 21, :time 31752331370, :error :connect, :index 10289}
{:type :invoke, :f :write, :value 1, :process 5, :time 31783912010, :index 10294}
{:type :fail, :f :write, :value 1, :process 5, :time 31785789196, :error :connect, :index 10295}
{:type :invoke, :f :write, :value 2, :process 0, :time 31789712762, :index 10297}
{:type :fail, :f :write, :value 2, :process 0, :time 31791712154, :error :connect, :index 10299}
{:type :invoke, :f :read, :value nil, :process 5, :time 31801051155, :index 10304}
{:type :fail, :f :read, :value nil, :process 5, :time 31803073236, :error :connect, :index 10306}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 31828641903, :index 10314}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 31830480486, :error :connect, :index 10316}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 31838285534, :index 10318}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 31840364728, :error :connect, :index 10319}
{:type :invoke, :f :write, :value 4, :process 8, :time 31843577871, :index 10320}
{:type :fail, :f :write, :value 4, :process 8, :time 31845641898, :error :connect, :index 10321}
{:type :invoke, :f :read, :value nil, :process 6, :time 31853627385, :index 10324}
{:type :fail, :f :read, :value nil, :process 6, :time 31855536993, :error :connect, :index 10327}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 31856178174, :index 10329}
{:type :invoke, :f :read, :value nil, :process 3, :time 31857173038, :index 10331}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 31857864625, :error :connect, :index 10332}
{:type :fail, :f :read, :value nil, :process 3, :time 31859065328, :error :connect, :index 10333}
{:type :invoke, :f :read, :value nil, :process 22, :time 31871472648, :index 10334}
{:type :fail, :f :read, :value nil, :process 22, :time 31873480158, :error :connect, :index 10335}
{:type :invoke, :f :read, :value nil, :process 6, :time 31884835381, :index 10338}
{:type :fail, :f :read, :value nil, :process 6, :time 31886662179, :error :connect, :index 10339}
{:type :invoke, :f :write, :value 3, :process 29, :time 31887557271, :index 10340}
{:type :fail, :f :write, :value 3, :process 29, :time 31889349678, :error :connect, :index 10341}
{:type :invoke, :f :write, :value 4, :process 8, :time 31924904852, :index 10352}
{:type :invoke, :f :write, :value 1, :process 7, :time 31926150821, :index 10353}
{:type :fail, :f :write, :value 4, :process 8, :time 31926841957, :error :connect, :index 10354}
{:type :fail, :f :write, :value 1, :process 7, :time 31927842597, :error :connect, :index 10355}
{:type :invoke, :f :cas, :value [3 4], :process 21, :time 31931588725, :index 10356}
{:type :fail, :f :cas, :value [3 4], :process 21, :time 31933676501, :error :connect, :index 10359}
{:type :invoke, :f :read, :value nil, :process 5, :time 31940343723, :index 10362}
{:type :fail, :f :read, :value nil, :process 5, :time 31942395399, :error :connect, :index 10365}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 31942965777, :index 10366}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 31944858440, :error :connect, :index 10367}
{:type :invoke, :f :read, :value nil, :process 3, :time 31993314391, :index 10382}
{:type :fail, :f :read, :value nil, :process 3, :time 31995012835, :error :connect, :index 10383}
{:type :invoke, :f :write, :value 3, :process 4, :time 32014743024, :index 10391}
{:type :fail, :f :write, :value 3, :process 4, :time 32016926158, :error :connect, :index 10393}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
