{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :invoke, :f :write, :value 4, :process 39, :time 23993663560, :index 7238}
{:type :fail, :f :write, :value 4, :process 39, :time 23995560603, :error :connect, :index 7240}
{:type :invoke, :f :read, :value nil, :process 18, :time 24000272566, :index 7244}
{:type :fail, :f :read, :value nil, :process 18, :time 24001895318, :error :connect, :index 7246}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 24045340516, :index 7252}
{:type :fail, :f :cas, :value [2 1], :process 10, :time 24047471304, :error :connect, :index 7254}
{:type :invoke, :f :write, :value 4, :process 39, :time 24057837684, :index 7259}
{:type :fail, :f :write, :value 4, :process 39, :time 24059666394, :error :connect, :index 7261}
{:type :invoke, :f :write, :value 3, :process 10, :time 24091767603, :index 7272}
{:type :fail, :f :write, :value 3, :process 10, :time 24093814963, :error :connect, :index 7273}
{:type :invoke, :f :read, :value nil, :process 32, :time 24097783168, :index 7276}
{:type :fail, :f :read, :value nil, :process 32, :time 24099413200, :error :connect, :index 7277}
{:type :invoke, :f :write, :value 0, :process 15, :time 24101788231, :index 7279}
{:type :fail, :f :write, :value 0, :process 15, :time 24103486683, :error :connect, :index 7281}
{:type :invoke, :f :write, :value 4, :process 11, :time 24106447681, :index 7282}
{:type :fail, :f :write, :value 4, :process 11, :time 24108138194, :error :connect, :index 7284}
{:type :invoke, :f :read, :value nil, :process 10, :time 24135076295, :index 7290}
{:type :fail, :f :read, :value nil, :process 10, :time 24137014079, :error :connect, :index 7291}
{:type :invoke, :f :read, :value nil, :process 34, :time 24137955200, :index 7292}
{:type :fail, :f :read, :value nil, :process 34, :time 24139762731, :error :connect, :index 7293}
{:type :invoke, :f :cas, :value [3 3], :process 37, :time 24156256200, :index 7298}
{:type :fail, :f :cas, :value [3 3], :process 37, :time 24158036789, :error :connect, :index 7299}
{:type :invoke, :f :read, :value nil, :process 34, :time 24159025929, :index 7300}
{:type :fail, :f :read, :value nil, :process 34, :time 24160818178, :error :connect, :index 7301}
{:type :invoke, :f :read, :value nil, :process 33, :time 24171037012, :index 7306}
{:type :invoke, :f :write, :value 0, :process 10, :time 24171289198, :index 7307}
{:type :fail, :f :read, :value nil, :process 33, :time 24172780018, :error :connect, :index 7308}
{:type :fail, :f :write, :value 0, :process 10, :time 24173439907, :error :connect, :index 7309}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 24188168318, :index 7316}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 24190247579, :error :connect, :index 7317}
{:type :invoke, :f :cas, :value [0 3], :process 15, :time 24194751739, :index 7318}
{:type :fail, :f :cas, :value [0 3], :process 15, :time 24196388719, :error :connect, :index 7319}
{:type :invoke, :f :cas, :value [1 4], :process 39, :time 24219926552, :index 7328}
{:type :fail, :f :cas, :value [1 4], :process 39, :time 24221484727, :error :connect, :index 7329}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 24229174443, :index 7334}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 24231089615, :error :connect, :index 7335}
{:type :invoke, :f :read, :value nil, :process 11, :time 24241399129, :index 7336}
{:type :fail, :f :read, :value nil, :process 11, :time 24243259390, :error :connect, :index 7338}
{:type :invoke, :f :cas, :value [1 3], :process 11, :time 24247517525, :index 7340}
{:type :fail, :f :cas, :value [1 3], :process 11, :time 24249575380, :error :connect, :index 7341}
{:type :invoke, :f :write, :value 2, :process 32, :time 24250685070, :index 7342}
{:type :fail, :f :write, :value 2, :process 32, :time 24252752989, :error :connect, :index 7343}
{:type :invoke, :f :read, :value nil, :process 18, :time 24271520641, :index 7348}
{:type :invoke, :f :read, :value nil, :process 34, :time 24272106016, :index 7349}
{:type :fail, :f :read, :value nil, :process 18, :time 24273370618, :error :connect, :index 7350}
{:type :fail, :f :read, :value nil, :process 34, :time 24273926457, :error :connect, :index 7351}
{:type :invoke, :f :read, :value nil, :process 18, :time 24281629054, :index 7352}
{:type :fail, :f :read, :value nil, :process 18, :time 24283461054, :error :connect, :index 7353}
{:type :invoke, :f :cas, :value [4 2], :process 39, :time 24299744932, :index 7358}
{:type :fail, :f :cas, :value [4 2], :process 39, :time 24301590015, :error :connect, :index 7359}
{:type :invoke, :f :write, :value 4, :process 15, :time 24307710935, :index 7361}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 24307811250, :index 7362}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 24309506644, :error :connect, :index 7364}
{:type :fail, :f :write, :value 4, :process 15, :time 24309813969, :error :connect, :index 7365}
{:type :invoke, :f :read, :value nil, :process 36, :time 24313368650, :index 7367}
{:type :fail, :f :read, :value nil, :process 36, :time 24315526020, :error :connect, :index 7369}
{:type :invoke, :f :cas, :value [2 1], :process 11, :time 24321832765, :index 7370}
{:type :invoke, :f :read, :value nil, :process 33, :time 24323045877, :index 7371}
{:type :fail, :f :cas, :value [2 1], :process 11, :time 24323721503, :error :connect, :index 7372}
{:type :invoke, :f :cas, :value [3 4], :process 36, :time 24323800264, :index 7373}
{:type :fail, :f :read, :value nil, :process 33, :time 24324731728, :error :connect, :index 7374}
{:type :fail, :f :cas, :value [3 4], :process 36, :time 24325651769, :error :connect, :index 7375}
{:type :invoke, :f :write, :value 0, :process 10, :time 24335782520, :index 7378}
{:type :fail, :f :write, :value 0, :process 10, :time 24337850110, :error :connect, :index 7379}
{:type :invoke, :f :read, :value nil, :process 37, :time 24357303833, :index 7382}
{:type :invoke, :f :read, :value nil, :process 32, :time 24358017284, :index 7383}
{:type :fail, :f :read, :value nil, :process 37, :time 24359276181, :error :connect, :index 7384}
{:type :fail, :f :read, :value nil, :process 32, :time 24360098704, :error :connect, :index 7385}
{:type :invoke, :f :write, :value 4, :process 34, :time 24380177032, :index 7392}
{:type :fail, :f :write, :value 4, :process 34, :time 24381983002, :error :connect, :index 7393}
{:type :invoke, :f :write, :value 3, :process 39, :time 24391860427, :index 7394}
{:type :fail, :f :write, :value 3, :process 39, :time 24393642120, :error :connect, :index 7395}
{:type :invoke, :f :write, :value 4, :process 32, :time 24397367327, :index 7398}
{:type :fail, :f :write, :value 4, :process 32, :time 24399227753, :error :connect, :index 7399}
{:type :invoke, :f :write, :value 2, :process 11, :time 24412007409, :index 7406}
{:type :fail, :f :write, :value 2, :process 11, :time 24413714939, :error :connect, :index 7407}
{:type :invoke, :f :read, :value nil, :process 18, :time 24421751434, :index 7410}
{:type :fail, :f :read, :value nil, :process 18, :time 24423362257, :error :connect, :index 7411}
{:type :invoke, :f :write, :value 2, :process 37, :time 24429478507, :index 7414}
{:type :fail, :f :write, :value 2, :process 37, :time 24431302516, :error :connect, :index 7415}
{:type :invoke, :f :read, :value nil, :process 37, :time 24431438689, :index 7416}
{:type :invoke, :f :cas, :value [1 3], :process 33, :time 24432060117, :index 7418}
{:type :fail, :f :read, :value nil, :process 37, :time 24433559119, :error :connect, :index 7419}
{:type :fail, :f :cas, :value [1 3], :process 33, :time 24433866446, :error :connect, :index 7420}
{:type :invoke, :f :write, :value 3, :process 34, :time 24449247482, :index 7424}
{:type :fail, :f :write, :value 3, :process 34, :time 24451111136, :error :connect, :index 7425}
{:type :invoke, :f :cas, :value [3 0], :process 37, :time 24472841752, :index 7432}
{:type :invoke, :f :read, :value nil, :process 39, :time 24473917091, :index 7434}
{:type :fail, :f :cas, :value [3 0], :process 37, :time 24474761507, :error :connect, :index 7435}
{:type :fail, :f :read, :value nil, :process 39, :time 24475707568, :error :connect, :index 7437}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 24477977973, :index 7438}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 24480028311, :error :connect, :index 7439}
{:type :invoke, :f :cas, :value [3 3], :process 36, :time 24483922088, :index 7440}
{:type :fail, :f :cas, :value [3 3], :process 36, :time 24485595089, :error :connect, :index 7441}
{:type :invoke, :f :read, :value nil, :process 11, :time 24488305258, :index 7442}
{:type :invoke, :f :cas, :value [0 1], :process 39, :time 24488960480, :index 7443}
{:type :fail, :f :read, :value nil, :process 11, :time 24490153403, :error :connect, :index 7444}
{:type :fail, :f :cas, :value [0 1], :process 39, :time 24490986586, :error :connect, :index 7445}
{:type :invoke, :f :write, :value 1, :process 32, :time 24491490140, :index 7446}
{:type :fail, :f :write, :value 1, :process 32, :time 24493379471, :error :connect, :index 7447}
{:type :invoke, :f :read, :value nil, :process 36, :time 24494882864, :index 7448}
{:type :fail, :f :read, :value nil, :process 36, :time 24497044736, :error :connect, :index 7451}
{:type :invoke, :f :read, :value nil, :process 15, :time 24506044961, :index 7454}
{:type :fail, :f :read, :value nil, :process 15, :time 24508016297, :error :connect, :index 7456}
{:type :invoke, :f :write, :value 3, :process 10, :time 24528108333, :index 7460}
{:type :invoke, :f :write, :value 3, :process 11, :time 24528423563, :index 7461}
{:type :fail, :f :write, :value 3, :process 10, :time 24530147667, :error :connect, :index 7462}
{:type :fail, :f :write, :value 3, :process 11, :time 24530277418, :error :connect, :index 7463}
{:type :invoke, :f :write, :value 1, :process 32, :time 24552634149, :index 7466}
{:type :fail, :f :write, :value 1, :process 32, :time 24554478874, :error :connect, :index 7467}
{:type :invoke, :f :cas, :value [1 4], :process 11, :time 24554529610, :index 7468}
{:type :fail, :f :cas, :value [1 4], :process 11, :time 24556660644, :error :connect, :index 7469}
{:type :invoke, :f :write, :value 4, :process 10, :time 24591424031, :index 7483}
{:type :invoke, :f :write, :value 3, :process 18, :time 24592634919, :index 7485}
{:type :fail, :f :write, :value 4, :process 10, :time 24593589834, :error :connect, :index 7486}
{:type :fail, :f :write, :value 3, :process 18, :time 24594661614, :error :connect, :index 7487}
{:type :invoke, :f :read, :value nil, :process 34, :time 24597377172, :index 7488}
{:type :fail, :f :read, :value nil, :process 34, :time 24599151392, :error :connect, :index 7489}
{:type :invoke, :f :write, :value 2, :process 33, :time 24601117332, :index 7490}
{:type :fail, :f :write, :value 2, :process 33, :time 24603279912, :error :connect, :index 7491}
{:type :invoke, :f :read, :value nil, :process 36, :time 24619333811, :index 7498}
{:type :fail, :f :read, :value nil, :process 36, :time 24620994357, :error :connect, :index 7499}
{:type :invoke, :f :read, :value nil, :process 11, :time 24622922224, :index 7500}
{:type :fail, :f :read, :value nil, :process 11, :time 24624797744, :error :connect, :index 7501}
{:type :invoke, :f :cas, :value [3 2], :process 36, :time 24640257518, :index 7506}
{:type :fail, :f :cas, :value [3 2], :process 36, :time 24642177125, :error :connect, :index 7507}
{:type :invoke, :f :read, :value nil, :process 32, :time 24645790825, :index 7510}
{:type :fail, :f :read, :value nil, :process 32, :time 24647795220, :error :connect, :index 7511}
{:type :invoke, :f :write, :value 0, :process 15, :time 24652259816, :index 7514}
{:type :invoke, :f :read, :value nil, :process 37, :time 24653037088, :index 7515}
{:type :fail, :f :write, :value 0, :process 15, :time 24654166132, :error :connect, :index 7516}
{:type :fail, :f :read, :value nil, :process 37, :time 24654860726, :error :connect, :index 7517}
{:type :invoke, :f :read, :value nil, :process 11, :time 24664056618, :index 7520}
{:type :fail, :f :read, :value nil, :process 11, :time 24665790133, :error :connect, :index 7521}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 24685283594, :index 7524}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 24687172369, :error :connect, :index 7525}
{:type :invoke, :f :read, :value nil, :process 36, :time 24700438465, :index 7528}
{:type :fail, :f :read, :value nil, :process 36, :time 24702343895, :error :connect, :index 7529}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 24728554025, :index 7534}
{:type :fail, :f :cas, :value [0 3], :process 33, :time 24730389487, :error :connect, :index 7535}
{:type :invoke, :f :read, :value nil, :process 15, :time 24730484653, :index 7536}
{:type :fail, :f :read, :value nil, :process 15, :time 24732371379, :error :connect, :index 7537}
{:type :invoke, :f :write, :value 0, :process 10, :time 24735852171, :index 7539}
{:type :fail, :f :write, :value 0, :process 10, :time 24737789399, :error :connect, :index 7541}
{:type :invoke, :f :read, :value nil, :process 10, :time 24748040591, :index 7542}
{:type :invoke, :f :write, :value 4, :process 33, :time 24749675302, :index 7543}
{:type :fail, :f :read, :value nil, :process 10, :time 24749934493, :error :connect, :index 7544}
{:type :invoke, :f :cas, :value [1 2], :process 18, :time 24750080112, :index 7545}
{:type :fail, :f :write, :value 4, :process 33, :time 24751809459, :error :connect, :index 7547}
{:type :fail, :f :cas, :value [1 2], :process 18, :time 24751811018, :error :connect, :index 7548}
{:type :invoke, :f :cas, :value [4 4], :process 32, :time 24775091885, :index 7554}
{:type :fail, :f :cas, :value [4 4], :process 32, :time 24776985204, :error :connect, :index 7555}
{:type :invoke, :f :read, :value nil, :process 36, :time 24794603819, :index 7558}
{:type :invoke, :f :cas, :value [3 4], :process 34, :time 24795420261, :index 7559}
{:type :fail, :f :read, :value nil, :process 36, :time 24796450364, :error :connect, :index 7560}
{:type :fail, :f :cas, :value [3 4], :process 34, :time 24797458736, :error :connect, :index 7561}
{:type :invoke, :f :write, :value 4, :process 15, :time 24818637666, :index 7572}
{:type :fail, :f :write, :value 4, :process 15, :time 24820633976, :error :connect, :index 7573}
{:type :invoke, :f :cas, :value [3 0], :process 11, :time 24823062863, :index 7574}
{:type :fail, :f :cas, :value [3 0], :process 11, :time 24825285235, :error :connect, :index 7575}
{:type :invoke, :f :cas, :value [0 2], :process 36, :time 24832708192, :index 7576}
{:type :fail, :f :cas, :value [0 2], :process 36, :time 24834804967, :error :connect, :index 7577}
{:type :invoke, :f :read, :value nil, :process 11, :time 24843560871, :index 7580}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 24844445708, :index 7581}
{:type :fail, :f :read, :value nil, :process 11, :time 24845743516, :error :connect, :index 7582}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 24846110483, :error :connect, :index 7583}
{:type :invoke, :f :read, :value nil, :process 37, :time 24847115939, :index 7584}
{:type :invoke, :f :read, :value nil, :process 39, :time 24847347397, :index 7585}
{:type :fail, :f :read, :value nil, :process 39, :time 24849224775, :error :connect, :index 7586}
{:type :fail, :f :read, :value nil, :process 37, :time 24849359769, :error :connect, :index 7587}
{:type :invoke, :f :read, :value nil, :process 34, :time 24854724657, :index 7588}
{:type :fail, :f :read, :value nil, :process 34, :time 24856519763, :error :connect, :index 7589}
{:type :invoke, :f :read, :value nil, :process 18, :time 24865120600, :index 7590}
{:type :fail, :f :read, :value nil, :process 18, :time 24867227034, :error :connect, :index 7591}
{:type :invoke, :f :read, :value nil, :process 18, :time 24915489112, :index 7602}
{:type :fail, :f :read, :value nil, :process 18, :time 24917413948, :error :connect, :index 7603}
{:type :invoke, :f :write, :value 3, :process 37, :time 24920611327, :index 7604}
{:type :fail, :f :write, :value 3, :process 37, :time 24922420988, :error :connect, :index 7605}
{:type :invoke, :f :read, :value nil, :process 10, :time 24946099233, :index 7610}
{:type :fail, :f :read, :value nil, :process 10, :time 24948285328, :error :connect, :index 7611}
{:type :invoke, :f :write, :value 0, :process 32, :time 24950281048, :index 7612}
{:type :invoke, :f :write, :value 4, :process 33, :time 24951114323, :index 7613}
{:type :fail, :f :write, :value 0, :process 32, :time 24952186446, :error :connect, :index 7614}
{:type :fail, :f :write, :value 4, :process 33, :time 24953053555, :error :connect, :index 7615}
{:type :invoke, :f :write, :value 0, :process 37, :time 24964719477, :index 7623}
{:type :fail, :f :write, :value 0, :process 37, :time 24966450650, :error :connect, :index 7624}
{:type :invoke, :f :write, :value 0, :process 10, :time 24966635235, :index 7625}
{:type :fail, :f :write, :value 0, :process 10, :time 24968802557, :error :connect, :index 7627}
{:type :invoke, :f :write, :value 0, :process 18, :time 24972694742, :index 7632}
{:type :fail, :f :write, :value 0, :process 18, :time 24974451583, :error :connect, :index 7634}
{:type :invoke, :f :read, :value nil, :process 15, :time 24974906851, :index 7636}
{:type :fail, :f :read, :value nil, :process 15, :time 24976997068, :error :connect, :index 7637}
{:type :invoke, :f :write, :value 4, :process 36, :time 24998092026, :index 7646}
{:type :invoke, :f :cas, :value [3 1], :process 39, :time 24999510190, :index 7647}
{:type :fail, :f :write, :value 4, :process 36, :time 24999818617, :error :connect, :index 7648}
{:type :fail, :f :cas, :value [3 1], :process 39, :time 25001693867, :error :connect, :index 7649}
{:type :invoke, :f :read, :value nil, :process 11, :time 25005005762, :index 7651}
{:type :fail, :f :read, :value nil, :process 11, :time 25006887808, :error :connect, :index 7653}
{:type :invoke, :f :cas, :value [2 4], :process 34, :time 25022786413, :index 7661}
{:type :fail, :f :cas, :value [2 4], :process 34, :time 25024953486, :error :connect, :index 7664}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
