{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :invoke, :f :write, :value 4, :process 19, :time 18763675227, :index 4013}
{:type :ok, :f :write, :value 4, :process 19, :time 18771150288, :index 4018}
{:type :invoke, :f :cas, :value [3 4], :process 31, :time 18815862426, :index 4028}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 18819892769, :index 4029}
{:type :fail, :f :cas, :value [3 4], :process 31, :time 18822284483, :index 4031}
{:type :ok, :f :cas, :value [4 2], :process 16, :time 18825314860, :index 4032}
{:type :invoke, :f :write, :value 0, :process 16, :time 18832568924, :index 4035}
{:type :ok, :f :write, :value 0, :process 16, :time 18837660390, :index 4037}
{:type :invoke, :f :write, :value 1, :process 14, :time 18890840577, :index 4048}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 18893071399, :index 4049}
{:type :ok, :f :write, :value 1, :process 14, :time 18896597366, :index 4051}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 18898160107, :index 4052}
{:type :invoke, :f :cas, :value [3 3], :process 14, :time 18911842121, :index 4056}
{:type :invoke, :f :read, :value nil, :process 16, :time 18912918499, :index 4057}
{:type :fail, :f :cas, :value [3 3], :process 14, :time 18917257006, :index 4058}
{:type :ok, :f :read, :value 1, :process 16, :time 18918188031, :index 4059}
{:type :invoke, :f :read, :value nil, :process 19, :time 18933421281, :index 4060}
{:type :ok, :f :read, :value 1, :process 19, :time 18938644502, :index 4062}
{:type :invoke, :f :write, :value 4, :process 31, :time 18978543446, :index 4067}
{:type :ok, :f :write, :value 4, :process 31, :time 18983276637, :index 4070}
{:type :invoke, :f :cas, :value [2 2], :process 14, :time 19008521214, :index 4075}
{:type :invoke, :f :cas, :value [2 3], :process 16, :time 19009441425, :index 4076}
{:type :fail, :f :cas, :value [2 3], :process 16, :time 19015297462, :index 4078}
{:type :fail, :f :cas, :value [2 2], :process 14, :time 19015696580, :index 4079}
{:type :invoke, :f :read, :value nil, :process 19, :time 19022925322, :index 4081}
{:type :ok, :f :read, :value 4, :process 19, :time 19028617920, :index 4083}
{:type :invoke, :f :read, :value nil, :process 16, :time 19032572120, :index 4084}
{:type :ok, :f :read, :value 4, :process 16, :time 19037562250, :index 4086}
{:type :invoke, :f :write, :value 2, :process 15, :time 19044100803, :index 4088}
{:type :ok, :f :write, :value 2, :process 15, :time 19048488926, :index 4090}
{:type :invoke, :f :read, :value nil, :process 14, :time 19053926951, :index 4092}
{:type :ok, :f :read, :value 2, :process 14, :time 19058636577, :index 4093}
{:type :invoke, :f :read, :value nil, :process 10, :time 19062410458, :index 4094}
{:type :ok, :f :read, :value 2, :process 10, :time 19066897078, :index 4095}
{:type :invoke, :f :cas, :value [2 1], :process 19, :time 19099890241, :index 4099}
{:type :ok, :f :cas, :value [2 1], :process 19, :time 19105940064, :index 4101}
{:type :invoke, :f :read, :value nil, :process 16, :time 19106838754, :index 4102}
{:type :ok, :f :read, :value 1, :process 16, :time 19111517127, :index 4103}
{:type :invoke, :f :cas, :value [3 2], :process 14, :time 19123893702, :index 4104}
{:type :fail, :f :cas, :value [3 2], :process 14, :time 19129448124, :index 4105}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 19149788803, :index 4111}
{:type :fail, :f :cas, :value [2 0], :process 16, :time 19155031993, :index 4113}
{:type :invoke, :f :read, :value nil, :process 31, :time 19174528887, :index 4116}
{:type :invoke, :f :read, :value nil, :process 15, :time 19178748832, :index 4119}
{:type :ok, :f :read, :value 1, :process 31, :time 19179627307, :index 4120}
{:type :ok, :f :read, :value 1, :process 15, :time 19183753664, :index 4122}
{:type :invoke, :f :write, :value 2, :process 31, :time 19219882850, :index 4126}
{:type :ok, :f :write, :value 2, :process 31, :time 19225701370, :index 4127}
{:type :invoke, :f :cas, :value [3 3], :process 19, :time 19245252946, :index 4132}
{:type :invoke, :f :write, :value 2, :process 16, :time 19250302514, :index 4134}
{:type :fail, :f :cas, :value [3 3], :process 19, :time 19250877025, :index 4135}
{:type :invoke, :f :write, :value 1, :process 19, :time 19253125657, :index 4137}
{:type :ok, :f :write, :value 2, :process 16, :time 19255991599, :index 4139}
{:type :ok, :f :write, :value 1, :process 19, :time 19259636883, :index 4142}
{:type :invoke, :f :read, :value nil, :process 10, :time 19264198867, :index 4145}
{:type :ok, :f :read, :value 1, :process 10, :time 19269157876, :index 4147}
{:type :invoke, :f :write, :value 0, :process 14, :time 19299717091, :index 4149}
{:type :ok, :f :write, :value 0, :process 14, :time 19305719929, :index 4151}
{:type :invoke, :f :cas, :value [1 1], :process 15, :time 19313022742, :index 4152}
{:type :invoke, :f :write, :value 1, :process 10, :time 19313417183, :index 4153}
{:type :fail, :f :cas, :value [1 1], :process 15, :time 19318268904, :index 4154}
{:type :ok, :f :write, :value 1, :process 10, :time 19319062089, :index 4155}
{:type :invoke, :f :read, :value nil, :process 16, :time 19354246173, :index 4156}
{:type :ok, :f :read, :value 1, :process 16, :time 19362370981, :index 4158}
{:type :invoke, :f :cas, :value [2 1], :process 19, :time 19362884562, :index 4159}
{:type :fail, :f :cas, :value [2 1], :process 19, :time 19368717696, :index 4161}
{:type :invoke, :f :cas, :value [2 4], :process 19, :time 19381980666, :index 4162}
{:type :fail, :f :cas, :value [2 4], :process 19, :time 19387817829, :index 4164}
{:type :invoke, :f :read, :value nil, :process 31, :time 19408963583, :index 4171}
{:type :ok, :f :read, :value 1, :process 31, :time 19413777928, :index 4173}
{:type :invoke, :f :read, :value nil, :process 19, :time 19414064346, :index 4174}
{:type :ok, :f :read, :value 1, :process 19, :time 19419461992, :index 4175}
{:type :invoke, :f :cas, :value [4 3], :process 14, :time 19424962004, :index 4176}
{:type :fail, :f :cas, :value [4 3], :process 14, :time 19431087052, :index 4177}
{:type :invoke, :f :write, :value 3, :process 19, :time 19472725494, :index 4183}
{:type :ok, :f :write, :value 3, :process 19, :time 19477505388, :index 4185}
{:type :invoke, :f :read, :value nil, :process 15, :time 19493531593, :index 4188}
{:type :ok, :f :read, :value 3, :process 15, :time 19497843552, :index 4189}
{:type :invoke, :f :read, :value nil, :process 10, :time 19503310056, :index 4190}
{:type :invoke, :f :write, :value 1, :process 14, :time 19506345005, :index 4191}
{:type :ok, :f :read, :value 3, :process 10, :time 19507273557, :index 4192}
{:type :ok, :f :write, :value 1, :process 14, :time 19511224612, :index 4193}
{:type :invoke, :f :cas, :value [3 4], :process 31, :time 19516029091, :index 4194}
{:type :fail, :f :cas, :value [3 4], :process 31, :time 19521367386, :index 4195}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 19526615008, :index 4196}
{:type :fail, :f :cas, :value [3 2], :process 16, :time 19531705501, :index 4197}
{:type :invoke, :f :cas, :value [4 3], :process 16, :time 19567969484, :index 4202}
{:type :fail, :f :cas, :value [4 3], :process 16, :time 19573426777, :index 4204}
{:type :invoke, :f :write, :value 3, :process 19, :time 19609757835, :index 4208}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 19613100734, :index 4209}
{:type :ok, :f :write, :value 3, :process 19, :time 19615740368, :index 4210}
{:type :ok, :f :cas, :value [3 4], :process 15, :time 19618159614, :index 4211}
{:type :invoke, :f :write, :value 1, :process 10, :time 19631528453, :index 4212}
{:type :invoke, :f :cas, :value [0 4], :process 31, :time 19636622794, :index 4215}
{:type :ok, :f :write, :value 1, :process 10, :time 19637606052, :index 4216}
{:type :invoke, :f :cas, :value [2 4], :process 14, :time 19640491189, :index 4220}
{:type :fail, :f :cas, :value [0 4], :process 31, :time 19643763237, :index 4222}
{:type :fail, :f :cas, :value [2 4], :process 14, :time 19646407305, :index 4225}
{:type :invoke, :f :write, :value 3, :process 14, :time 19661663280, :index 4228}
{:type :ok, :f :write, :value 3, :process 14, :time 19667039837, :index 4229}
{:type :invoke, :f :write, :value 4, :process 10, :time 19681856869, :index 4232}
{:type :ok, :f :write, :value 4, :process 10, :time 19686253487, :index 4233}
{:type :invoke, :f :read, :value nil, :process 16, :time 19730704772, :index 4235}
{:type :invoke, :f :read, :value nil, :process 31, :time 19734999971, :index 4236}
{:type :ok, :f :read, :value 4, :process 16, :time 19737372343, :index 4238}
{:type :ok, :f :read, :value 4, :process 31, :time 19739937503, :index 4239}
{:type :invoke, :f :write, :value 3, :process 10, :time 19779506813, :index 4246}
{:type :ok, :f :write, :value 3, :process 10, :time 19784891687, :index 4247}
{:type :invoke, :f :write, :value 0, :process 15, :time 19796423153, :index 4250}
{:type :invoke, :f :write, :value 0, :process 14, :time 19800223522, :index 4253}
{:type :invoke, :f :read, :value nil, :process 16, :time 19800640241, :index 4254}
{:type :ok, :f :write, :value 0, :process 15, :time 19800933638, :index 4255}
{:type :ok, :f :write, :value 0, :process 14, :time 19806809805, :index 4256}
{:type :ok, :f :read, :value 0, :process 16, :time 19807333743, :index 4257}
{:type :invoke, :f :read, :value nil, :process 19, :time 19810002066, :index 4258}
{:type :ok, :f :read, :value 0, :process 19, :time 19815993405, :index 4261}
{:type :invoke, :f :write, :value 1, :process 31, :time 19825212065, :index 4262}
{:type :ok, :f :write, :value 1, :process 31, :time 19830842799, :index 4263}
{:type :invoke, :f :read, :value nil, :process 16, :time 19876581120, :index 4264}
{:type :ok, :f :read, :value 1, :process 16, :time 19882788271, :index 4266}
{:type :invoke, :f :read, :value nil, :process 14, :time 19934066953, :index 4272}
{:type :ok, :f :read, :value 1, :process 14, :time 19939285436, :index 4273}
{:type :invoke, :f :write, :value 3, :process 15, :time 19940211360, :index 4274}
{:type :ok, :f :write, :value 3, :process 15, :time 19947250400, :index 4278}
{:type :invoke, :f :write, :value 1, :process 10, :time 19981169830, :index 4285}
{:type :invoke, :f :cas, :value [1 3], :process 31, :time 19982108318, :index 4287}
{:type :invoke, :f :read, :value nil, :process 19, :time 19986252579, :index 4289}
{:type :ok, :f :write, :value 1, :process 10, :time 19986884534, :index 4290}
{:type :ok, :f :cas, :value [1 3], :process 31, :time 19987602559, :index 4291}
{:type :ok, :f :read, :value 3, :process 19, :time 19992088679, :index 4293}
{:type :invoke, :f :write, :value 3, :process 16, :time 20001053180, :index 4294}
{:type :ok, :f :write, :value 3, :process 16, :time 20006280973, :index 4296}
{:type :invoke, :f :read, :value nil, :process 10, :time 20035118980, :index 4304}
{:type :invoke, :f :cas, :value [2 1], :process 15, :time 20039502487, :index 4305}
{:type :ok, :f :read, :value 3, :process 10, :time 20039882496, :index 4306}
{:type :fail, :f :cas, :value [2 1], :process 15, :time 20044676937, :index 4307}
{:type :invoke, :f :write, :value 4, :process 14, :time 20052537146, :index 4308}
{:type :ok, :f :write, :value 4, :process 14, :time 20058067141, :index 4310}
{:type :invoke, :f :write, :value 2, :process 31, :time 20098867954, :index 4312}
{:type :ok, :f :write, :value 2, :process 31, :time 20104752116, :index 4313}
{:type :invoke, :f :cas, :value [3 2], :process 19, :time 20139360031, :index 4316}
{:type :fail, :f :cas, :value [3 2], :process 19, :time 20145621643, :index 4319}
{:type :invoke, :f :read, :value nil, :process 10, :time 20160121896, :index 4324}
{:type :ok, :f :read, :value 2, :process 10, :time 20164265717, :index 4325}
{:type :invoke, :f :cas, :value [3 4], :process 16, :time 20169541794, :index 4326}
{:type :fail, :f :cas, :value [3 4], :process 16, :time 20175125437, :index 4328}
{:type :invoke, :f :read, :value nil, :process 31, :time 20176054098, :index 4329}
{:type :ok, :f :read, :value 2, :process 31, :time 20181147876, :index 4331}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 20200933321, :index 4336}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 20206405036, :index 4337}
{:type :invoke, :f :write, :value 0, :process 19, :time 20206917513, :index 4338}
{:type :ok, :f :write, :value 0, :process 19, :time 20212532370, :index 4339}
{:type :invoke, :f :cas, :value [0 3], :process 16, :time 20232383208, :index 4343}
{:type :ok, :f :cas, :value [0 3], :process 16, :time 20238700069, :index 4345}
{:type :invoke, :f :cas, :value [1 4], :process 14, :time 20251385123, :index 4348}
{:type :fail, :f :cas, :value [1 4], :process 14, :time 20256860119, :index 4350}
{:type :invoke, :f :read, :value nil, :process 10, :time 20271529459, :index 4354}
{:type :ok, :f :read, :value 3, :process 10, :time 20275633901, :index 4355}
{:type :invoke, :f :read, :value nil, :process 14, :time 20279115778, :index 4356}
{:type :ok, :f :read, :value 3, :process 14, :time 20284809657, :index 4357}
{:type :invoke, :f :write, :value 2, :process 31, :time 20301405574, :index 4362}
{:type :ok, :f :write, :value 2, :process 31, :time 20308727300, :index 4363}
{:type :invoke, :f :write, :value 1, :process 10, :time 20366888625, :index 4373}
{:type :ok, :f :write, :value 1, :process 10, :time 20371997447, :index 4375}
{:type :invoke, :f :read, :value nil, :process 16, :time 20379961512, :index 4376}
{:type :invoke, :f :cas, :value [1 2], :process 15, :time 20380665604, :index 4377}
{:type :ok, :f :read, :value 1, :process 16, :time 20385335955, :index 4379}
{:type :ok, :f :cas, :value [1 2], :process 15, :time 20385976161, :index 4380}
{:type :invoke, :f :write, :value 0, :process 16, :time 20395591765, :index 4382}
{:type :invoke, :f :read, :value nil, :process 19, :time 20396794223, :index 4383}
{:type :ok, :f :write, :value 0, :process 16, :time 20402008241, :index 4384}
{:type :ok, :f :read, :value 0, :process 19, :time 20402630568, :index 4385}
{:type :invoke, :f :read, :value nil, :process 31, :time 20412982221, :index 4386}
{:type :invoke, :f :cas, :value [0 4], :process 15, :time 20415233452, :index 4387}
{:type :ok, :f :read, :value 0, :process 31, :time 20417956355, :index 4388}
{:type :ok, :f :cas, :value [0 4], :process 15, :time 20420272893, :index 4390}
{:type :invoke, :f :cas, :value [2 4], :process 31, :time 20420248653, :index 4391}
{:type :fail, :f :cas, :value [2 4], :process 31, :time 20426193413, :index 4393}
{:type :invoke, :f :cas, :value [3 0], :process 31, :time 20432457221, :index 4394}
{:type :fail, :f :cas, :value [3 0], :process 31, :time 20437951243, :index 4395}
{:type :invoke, :f :write, :value 1, :process 10, :time 20445249375, :index 4396}
{:type :ok, :f :write, :value 1, :process 10, :time 20449778645, :index 4397}
{:type :invoke, :f :write, :value 2, :process 19, :time 20468862767, :index 4401}
{:type :ok, :f :write, :value 2, :process 19, :time 20474273918, :index 4404}
{:type :invoke, :f :cas, :value [4 3], :process 14, :time 20476081845, :index 4407}
{:type :fail, :f :cas, :value [4 3], :process 14, :time 20482062370, :index 4409}
{:type :invoke, :f :cas, :value [1 2], :process 15, :time 20511732816, :index 4410}
{:type :fail, :f :cas, :value [1 2], :process 15, :time 20517253526, :index 4412}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 20519284875, :index 4414}
{:type :invoke, :f :read, :value nil, :process 15, :time 20521511241, :index 4416}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 20526625773, :index 4418}
{:type :invoke, :f :cas, :value [4 3], :process 19, :time 20527546227, :index 4420}
{:type :ok, :f :read, :value 2, :process 15, :time 20528140807, :index 4421}
{:type :fail, :f :cas, :value [4 3], :process 19, :time 20534823563, :index 4426}
{:type :invoke, :f :cas, :value [4 2], :process 14, :time 20537336144, :index 4430}
{:type :fail, :f :cas, :value [4 2], :process 14, :time 20543083887, :index 4431}
{:type :invoke, :f :write, :value 2, :process 10, :time 20592053018, :index 4444}
{:type :ok, :f :write, :value 2, :process 10, :time 20597488324, :index 4446}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :invoke, :f :read, :value nil, :process 31, :time 20633282594, :index 4458}
{:type :ok, :f :read, :value 2, :process 31, :time 20638996036, :index 4460}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
