{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :invoke, :f :read, :value nil, :process 49, :time 35947579862, :index 6421}
{:type :ok, :f :read, :value nil, :process 49, :time 35952464246, :index 6423}
{:type :invoke, :f :write, :value 2, :process 49, :time 35954758327, :index 6424}
{:type :invoke, :f :read, :value nil, :process 23, :time 35955596537, :index 6425}
{:type :ok, :f :read, :value nil, :process 23, :time 35961040503, :index 6428}
{:type :invoke, :f :write, :value 4, :process 4, :time 35963647069, :index 6430}
{:type :ok, :f :write, :value 2, :process 49, :time 35971897869, :index 6431}
{:type :ok, :f :write, :value 4, :process 4, :time 35972032377, :index 6432}
{:type :invoke, :f :read, :value nil, :process 47, :time 36008548108, :index 6441}
{:type :invoke, :f :read, :value nil, :process 62, :time 36010423955, :index 6442}
{:type :ok, :f :read, :value 4, :process 47, :time 36013236541, :index 6444}
{:type :ok, :f :read, :value 4, :process 62, :time 36015697463, :index 6447}
{:type :invoke, :f :write, :value 0, :process 40, :time 36022025870, :index 6451}
{:type :ok, :f :write, :value 0, :process 40, :time 36026755465, :index 6452}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 36043291392, :index 6453}
{:type :invoke, :f :read, :value nil, :process 23, :time 36046296009, :index 6454}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 36049183974, :index 6455}
{:type :invoke, :f :read, :value nil, :process 40, :time 36051010695, :index 6456}
{:type :ok, :f :read, :value 0, :process 23, :time 36051791291, :index 6457}
{:type :ok, :f :read, :value 0, :process 40, :time 36055423231, :index 6458}
{:type :invoke, :f :read, :value nil, :process 28, :time 36056012097, :index 6459}
{:type :ok, :f :read, :value 0, :process 28, :time 36061472819, :index 6461}
{:type :invoke, :f :write, :value 2, :process 49, :time 36085176620, :index 6471}
{:type :ok, :f :write, :value 2, :process 49, :time 36090246839, :index 6474}
{:type :invoke, :f :read, :value nil, :process 62, :time 36094945330, :index 6475}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 36097707316, :index 6476}
{:type :ok, :f :read, :value 2, :process 62, :time 36100990912, :index 6478}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 36103039792, :index 6479}
{:type :invoke, :f :write, :value 4, :process 23, :time 36104046008, :index 6480}
{:type :ok, :f :write, :value 4, :process 23, :time 36110127396, :index 6482}
{:type :invoke, :f :cas, :value [1 4], :process 28, :time 36118732610, :index 6486}
{:type :fail, :f :cas, :value [1 4], :process 28, :time 36123968157, :index 6488}
{:type :invoke, :f :write, :value 2, :process 47, :time 36126495449, :index 6489}
{:type :invoke, :f :read, :value nil, :process 49, :time 36129496899, :index 6490}
{:type :invoke, :f :read, :value nil, :process 4, :time 36130457495, :index 6491}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :ok, :f :write, :value 2, :process 47, :time 36132386519, :index 6493}
{:type :ok, :f :read, :value 2, :process 49, :time 36134127263, :index 6494}
{:type :ok, :f :read, :value 2, :process 4, :time 36135604521, :index 6496}
{:type :invoke, :f :cas, :value [0 3], :process 21, :time 36158713388, :index 6501}
{:type :fail, :f :cas, :value [0 3], :process 21, :time 36164101669, :index 6502}
{:type :invoke, :f :cas, :value [0 4], :process 23, :time 36165380773, :index 6503}
{:type :invoke, :f :read, :value nil, :process 6, :time 36166306171, :index 6504}
{:type :fail, :f :cas, :value [0 4], :process 23, :time 36171565411, :index 6505}
{:type :ok, :f :read, :value 2, :process 6, :time 36171715785, :index 6506}
{:type :invoke, :f :write, :value 0, :process 6, :time 36174991479, :index 6507}
{:type :ok, :f :write, :value 0, :process 6, :time 36179596602, :index 6508}
{:type :invoke, :f :cas, :value [4 0], :process 21, :time 36190296982, :index 6509}
{:type :invoke, :f :read, :value nil, :process 40, :time 36190682976, :index 6510}
{:type :invoke, :f :write, :value 4, :process 47, :time 36191666882, :index 6511}
{:type :invoke, :f :write, :value 0, :process 45, :time 36195695526, :index 6512}
{:type :ok, :f :read, :value 0, :process 40, :time 36196544288, :index 6513}
{:type :fail, :f :cas, :value [4 0], :process 21, :time 36196623045, :index 6514}
{:type :ok, :f :write, :value 0, :process 45, :time 36200092705, :index 6516}
{:type :invoke, :f :write, :value 3, :process 49, :time 36224389749, :index 6520}
{:type :invoke, :f :read, :value nil, :process 45, :time 36226352726, :index 6522}
{:type :ok, :f :read, :value 0, :process 45, :time 36231101451, :index 6523}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :invoke, :f :write, :value 3, :process 62, :time 36244265532, :index 6527}
{:type :invoke, :f :cas, :value [3 0], :process 6, :time 36245891419, :index 6528}
{:type :fail, :f :cas, :value [3 0], :process 6, :time 36252134806, :index 6529}
{:type :invoke, :f :cas, :value [2 0], :process 21, :time 36273880857, :index 6534}
{:type :fail, :f :cas, :value [2 0], :process 21, :time 36279872020, :index 6535}
{:type :invoke, :f :read, :value nil, :process 40, :time 36286813798, :index 6536}
{:type :ok, :f :read, :value 0, :process 40, :time 36291950474, :index 6537}
{:type :invoke, :f :read, :value nil, :process 23, :time 36301888167, :index 6539}
{:type :ok, :f :read, :value 0, :process 23, :time 36307421494, :index 6541}
{:type :invoke, :f :cas, :value [1 0], :process 28, :time 36308228226, :index 6542}
{:type :fail, :f :cas, :value [1 0], :process 28, :time 36313052746, :index 6543}
{:type :invoke, :f :read, :value nil, :process 4, :time 36325891888, :index 6544}
{:type :invoke, :f :write, :value 2, :process 28, :time 36346307445, :index 6549}
{:type :ok, :f :write, :value 2, :process 28, :time 36351813814, :index 6550}
{:type :invoke, :f :write, :value 3, :process 23, :time 36352669758, :index 6551}
{:type :ok, :f :write, :value 3, :process 23, :time 36359587935, :index 6552}
{:type :invoke, :f :read, :value nil, :process 40, :time 36374215713, :index 6555}
{:type :invoke, :f :write, :value 3, :process 21, :time 36377138390, :index 6556}
{:type :ok, :f :read, :value 3, :process 40, :time 36379124255, :index 6557}
{:type :ok, :f :write, :value 3, :process 21, :time 36381776572, :index 6558}
{:type :invoke, :f :write, :value 3, :process 40, :time 36382383993, :index 6559}
{:type :ok, :f :write, :value 3, :process 40, :time 36388230224, :index 6560}
{:type :invoke, :f :write, :value 2, :process 21, :time 36414036334, :index 6570}
{:type :invoke, :f :cas, :value [1 3], :process 45, :time 36418364504, :index 6572}
{:type :ok, :f :write, :value 2, :process 21, :time 36418584713, :index 6573}
{:type :fail, :f :cas, :value [1 3], :process 45, :time 36423610069, :index 6574}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 36426396309, :index 6575}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 36431617118, :index 6576}
{:type :invoke, :f :write, :value 1, :process 21, :time 36442830060, :index 6579}
{:type :invoke, :f :read, :value nil, :process 40, :time 36445489524, :index 6580}
{:type :ok, :f :write, :value 1, :process 21, :time 36448873984, :index 6581}
{:type :ok, :f :read, :value 1, :process 40, :time 36450144889, :index 6582}
{:type :invoke, :f :cas, :value [1 3], :process 28, :time 36469074660, :index 6585}
{:type :ok, :f :cas, :value [1 3], :process 28, :time 36474499380, :index 6586}
{:type :invoke, :f :read, :value nil, :process 40, :time 36494459224, :index 6593}
{:type :ok, :f :read, :value 3, :process 40, :time 36498855660, :index 6594}
{:type :invoke, :f :read, :value nil, :process 23, :time 36513855420, :index 6598}
{:type :ok, :f :read, :value 3, :process 23, :time 36519940174, :index 6599}
{:type :invoke, :f :read, :value nil, :process 45, :time 36532874529, :index 6601}
{:type :ok, :f :read, :value 3, :process 45, :time 36537685789, :index 6603}
{:type :invoke, :f :write, :value 1, :process 6, :time 36537880159, :index 6604}
{:type :ok, :f :write, :value 1, :process 6, :time 36543236230, :index 6605}
{:type :invoke, :f :write, :value 1, :process 45, :time 36559915218, :index 6606}
{:type :ok, :f :write, :value 1, :process 45, :time 36564935125, :index 6607}
{:type :invoke, :f :write, :value 1, :process 6, :time 36574496942, :index 6608}
{:type :ok, :f :write, :value 1, :process 6, :time 36580600394, :index 6609}
{:type :invoke, :f :read, :value nil, :process 21, :time 36593134985, :index 6610}
{:type :ok, :f :read, :value 1, :process 21, :time 36598421404, :index 6611}
{:type :invoke, :f :read, :value nil, :process 21, :time 36603694028, :index 6613}
{:type :ok, :f :read, :value 1, :process 21, :time 36608703109, :index 6615}
{:type :invoke, :f :write, :value 0, :process 45, :time 36612198137, :index 6616}
{:type :ok, :f :write, :value 0, :process 45, :time 36616560242, :index 6617}
{:type :invoke, :f :cas, :value [1 0], :process 40, :time 36628116625, :index 6618}
{:type :fail, :f :cas, :value [1 0], :process 40, :time 36632936867, :index 6619}
{:type :invoke, :f :cas, :value [3 0], :process 28, :time 36664768827, :index 6622}
{:type :fail, :f :cas, :value [3 0], :process 28, :time 36672046808, :index 6625}
{:type :invoke, :f :write, :value 2, :process 21, :time 36684962216, :index 6628}
{:type :ok, :f :write, :value 2, :process 21, :time 36690881860, :index 6629}
{:type :invoke, :f :read, :value nil, :process 23, :time 36709205576, :index 6630}
{:type :ok, :f :read, :value 2, :process 23, :time 36715243586, :index 6632}
{:type :invoke, :f :read, :value nil, :process 45, :time 36716839390, :index 6634}
{:type :ok, :f :read, :value 2, :process 45, :time 36722102031, :index 6636}
{:type :invoke, :f :write, :value 1, :process 6, :time 36741874076, :index 6638}
{:type :ok, :f :write, :value 1, :process 6, :time 36746870277, :index 6639}
{:type :invoke, :f :read, :value nil, :process 28, :time 36748318438, :index 6640}
{:type :invoke, :f :read, :value nil, :process 40, :time 36749209419, :index 6641}
{:type :ok, :f :read, :value 1, :process 28, :time 36753592675, :index 6642}
{:type :ok, :f :read, :value 1, :process 40, :time 36754162155, :index 6643}
{:type :invoke, :f :write, :value 2, :process 23, :time 36780519484, :index 6644}
{:type :ok, :f :write, :value 2, :process 23, :time 36786432071, :index 6645}
{:type :invoke, :f :read, :value nil, :process 6, :time 36814155112, :index 6648}
{:type :ok, :f :read, :value 2, :process 6, :time 36819560101, :index 6650}
{:type :invoke, :f :cas, :value [3 4], :process 28, :time 36824859990, :index 6652}
{:type :fail, :f :cas, :value [3 4], :process 28, :time 36830785555, :index 6654}
{:type :invoke, :f :read, :value nil, :process 21, :time 36852145778, :index 6660}
{:type :ok, :f :read, :value 2, :process 21, :time 36857225291, :index 6663}
{:type :invoke, :f :read, :value nil, :process 40, :time 36868416001, :index 6664}
{:type :invoke, :f :read, :value nil, :process 45, :time 36872365408, :index 6665}
{:type :ok, :f :read, :value 2, :process 40, :time 36873530963, :index 6666}
{:type :ok, :f :read, :value 2, :process 45, :time 36877344836, :index 6668}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 36910826294, :index 6673}
{:type :fail, :f :cas, :value [1 0], :process 6, :time 36917793142, :index 6676}
{:type :invoke, :f :read, :value nil, :process 23, :time 36953715716, :index 6680}
{:type :invoke, :f :read, :value nil, :process 40, :time 36954790597, :index 6681}
{:type :invoke, :f :cas, :value [1 4], :process 45, :time 36957615859, :index 6682}
{:type :ok, :f :read, :value 2, :process 23, :time 36959677655, :index 6683}
{:type :ok, :f :read, :value 2, :process 40, :time 36960058818, :index 6684}
{:type :fail, :f :cas, :value [1 4], :process 45, :time 36962888102, :index 6685}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 36972486880, :index 6686}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 36979230832, :index 6687}
{:type :invoke, :f :read, :value nil, :process 21, :time 36980498150, :index 6688}
{:type :ok, :f :read, :value 2, :process 21, :time 36985911684, :index 6689}
{:type :invoke, :f :cas, :value [1 4], :process 28, :time 36990064467, :index 6691}
{:type :fail, :f :cas, :value [1 4], :process 28, :time 36995302387, :index 6693}
{:type :invoke, :f :cas, :value [0 1], :process 40, :time 37037312400, :index 6698}
{:type :fail, :f :cas, :value [0 1], :process 40, :time 37048650389, :index 6701}
{:type :invoke, :f :write, :value 3, :process 6, :time 37064069467, :index 6702}
{:type :ok, :f :write, :value 3, :process 6, :time 37069393959, :index 6703}
{:type :invoke, :f :read, :value nil, :process 21, :time 37082203123, :index 6707}
{:type :ok, :f :read, :value 3, :process 21, :time 37087387013, :index 6709}
{:type :invoke, :f :cas, :value [3 3], :process 45, :time 37088151583, :index 6710}
{:type :ok, :f :cas, :value [3 3], :process 45, :time 37093185670, :index 6711}
{:type :invoke, :f :write, :value 3, :process 28, :time 37097595698, :index 6712}
{:type :ok, :f :write, :value 3, :process 28, :time 37103100130, :index 6713}
{:type :invoke, :f :cas, :value [3 0], :process 23, :time 37153939573, :index 6718}
{:type :ok, :f :cas, :value [3 0], :process 23, :time 37159574129, :index 6719}
{:type :invoke, :f :write, :value 4, :process 21, :time 37177657913, :index 6721}
{:type :ok, :f :write, :value 4, :process 21, :time 37183050137, :index 6722}
{:type :invoke, :f :read, :value nil, :process 40, :time 37201901336, :index 6726}
{:type :ok, :f :read, :value 4, :process 40, :time 37206572780, :index 6728}
{:type :invoke, :f :write, :value 0, :process 6, :time 37237659164, :index 6730}
{:type :invoke, :f :write, :value 4, :process 21, :time 37239358450, :index 6731}
{:type :ok, :f :write, :value 0, :process 6, :time 37243268900, :index 6732}
{:type :invoke, :f :read, :value nil, :process 45, :time 37247460189, :index 6733}
{:type :ok, :f :write, :value 4, :process 21, :time 37251156880, :index 6734}
{:type :invoke, :f :read, :value nil, :process 21, :time 37270411629, :index 6736}
{:type :invoke, :f :write, :value 4, :process 23, :time 37279827902, :index 6738}
{:type :invoke, :f :write, :value 3, :process 28, :time 37291363917, :index 6739}
{:type :ok, :f :read, :value 4, :process 45, :time 37341823116, :index 6741}
{:type :invoke, :f :cas, :value [0 1], :process 40, :time 37342833541, :index 6742}
{:type :ok, :f :write, :value 3, :process 28, :time 37343940098, :index 6743}
{:type :ok, :f :write, :value 4, :process 23, :time 37344353551, :index 6745}
{:type :ok, :f :read, :value 3, :process 21, :time 37344753457, :index 6746}
{:type :fail, :f :cas, :value [0 1], :process 40, :time 37347680146, :index 6749}
{:type :invoke, :f :cas, :value [3 4], :process 23, :time 37379598855, :index 6750}
{:type :ok, :f :cas, :value [3 4], :process 23, :time 37386083453, :index 6752}
{:type :invoke, :f :write, :value 3, :process 45, :time 37400116565, :index 6754}
{:type :ok, :f :write, :value 3, :process 45, :time 37404486644, :index 6755}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 37415534272, :index 6756}
{:type :invoke, :f :read, :value nil, :process 23, :time 37416391704, :index 6757}
{:type :ok, :f :cas, :value [3 3], :process 6, :time 37421258740, :index 6758}
{:type :ok, :f :read, :value 3, :process 23, :time 37421765181, :index 6759}
{:type :invoke, :f :cas, :value [4 3], :process 21, :time 37423039920, :index 6760}
{:type :fail, :f :cas, :value [4 3], :process 21, :time 37429330684, :index 6761}
{:type :invoke, :f :cas, :value [1 4], :process 40, :time 37494940986, :index 6772}
{:type :fail, :f :cas, :value [1 4], :process 40, :time 37500260337, :index 6775}
{:type :invoke, :f :write, :value 2, :process 45, :time 37501750830, :index 6776}
{:type :ok, :f :write, :value 2, :process 45, :time 37506578362, :index 6778}
{:type :invoke, :f :read, :value nil, :process 28, :time 37516256648, :index 6780}
{:type :ok, :f :read, :value 2, :process 28, :time 37915621577, :index 6791}
{:type :info, :f :write, :value 4, :process 47, :time 41196765926, :error :timeout, :index 7266}
{:type :info, :f :write, :value 3, :process 49, :time 41231589075, :error :timeout, :index 7270}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :write, :value 3, :process 62, :time 41250307384, :error :timeout, :index 7273}
{:type :fail, :f :read, :value nil, :process 4, :time 41332772500, :error :timeout, :index 7276}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
