{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :invoke, :f :cas, :value [2 3], :process 65, :time 56371795365, :index 7958}
{:type :fail, :f :cas, :value [2 3], :process 65, :time 56377654658, :error :not-found, :index 7959}
{:type :invoke, :f :cas, :value [2 1], :process 46, :time 56420443894, :index 7972}
{:type :fail, :f :cas, :value [2 1], :process 46, :time 56425326844, :error :not-found, :index 7973}
{:type :invoke, :f :cas, :value [2 1], :process 65, :time 56425921011, :index 7974}
{:type :fail, :f :cas, :value [2 1], :process 65, :time 56431613674, :error :not-found, :index 7975}
{:type :invoke, :f :write, :value 4, :process 28, :time 56475115827, :index 7989}
{:type :invoke, :f :read, :value nil, :process 23, :time 56494264359, :index 7990}
{:type :invoke, :f :write, :value 2, :process 62, :time 56507489813, :index 7991}
{:type :invoke, :f :read, :value nil, :process 40, :time 56514819564, :index 7992}
{:type :invoke, :f :cas, :value [2 1], :process 67, :time 56517952151, :index 7993}
{:type :invoke, :f :read, :value nil, :process 41, :time 56524380876, :index 7994}
{:type :invoke, :f :read, :value nil, :process 65, :time 56562871374, :index 7997}
{:type :invoke, :f :cas, :value [2 0], :process 46, :time 56563593521, :index 7998}
{:type :invoke, :f :write, :value 4, :process 69, :time 56853818256, :index 8005}
{:type :ok, :f :write, :value 4, :process 28, :time 56938901765, :index 8009}
{:type :ok, :f :read, :value 4, :process 23, :time 56939276740, :index 8011}
{:type :ok, :f :cas, :value [2 1], :process 67, :time 56939774553, :index 8013}
{:type :ok, :f :read, :value 1, :process 41, :time 56940117808, :index 8015}
{:type :ok, :f :write, :value 4, :process 69, :time 56940428581, :index 8016}
{:type :ok, :f :read, :value 1, :process 65, :time 56941401188, :index 8019}
{:type :ok, :f :read, :value 2, :process 40, :time 56941834617, :index 8020}
{:type :fail, :f :cas, :value [2 0], :process 46, :time 56941861640, :index 8021}
{:type :ok, :f :write, :value 2, :process 62, :time 56942866310, :index 8024}
{:type :invoke, :f :write, :value 2, :process 23, :time 56972507490, :index 8029}
{:type :invoke, :f :write, :value 0, :process 28, :time 56973239777, :index 8030}
{:type :invoke, :f :read, :value nil, :process 62, :time 56975115062, :index 8032}
{:type :invoke, :f :write, :value 1, :process 67, :time 56976051997, :index 8033}
{:type :ok, :f :write, :value 2, :process 23, :time 56979709257, :index 8034}
{:type :ok, :f :write, :value 0, :process 28, :time 56981374929, :index 8036}
{:type :ok, :f :read, :value 0, :process 62, :time 56981983103, :index 8037}
{:type :ok, :f :write, :value 1, :process 67, :time 56982184825, :index 8038}
{:type :invoke, :f :read, :value nil, :process 67, :time 56982303224, :index 8039}
{:type :ok, :f :read, :value 1, :process 67, :time 56986857113, :index 8040}
{:type :invoke, :f :cas, :value [2 2], :process 65, :time 57019678641, :index 8043}
{:type :invoke, :f :read, :value nil, :process 40, :time 57021079346, :index 8044}
{:type :fail, :f :cas, :value [2 2], :process 65, :time 57025586103, :index 8045}
{:type :invoke, :f :read, :value nil, :process 41, :time 57043377724, :index 8051}
{:type :ok, :f :read, :value 1, :process 41, :time 57048457171, :index 8054}
{:type :invoke, :f :cas, :value [0 3], :process 67, :time 57055114526, :index 8057}
{:type :fail, :f :cas, :value [0 3], :process 67, :time 57061388909, :index 8061}
{:type :invoke, :f :write, :value 2, :process 62, :time 57062237299, :index 8062}
{:type :ok, :f :write, :value 2, :process 62, :time 57066798757, :index 8064}
{:type :invoke, :f :cas, :value [3 4], :process 62, :time 57068059519, :index 8065}
{:type :fail, :f :cas, :value [3 4], :process 62, :time 57074027591, :index 8066}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :invoke, :f :read, :value nil, :process 46, :time 57078126044, :index 8069}
{:type :ok, :f :read, :value 2, :process 46, :time 57084257169, :index 8071}
{:type :invoke, :f :read, :value nil, :process 69, :time 57106747677, :index 8073}
{:type :invoke, :f :write, :value 0, :process 23, :time 57120982619, :index 8076}
{:type :invoke, :f :read, :value nil, :process 28, :time 57165624159, :index 8080}
{:type :invoke, :f :write, :value 0, :process 41, :time 57178714768, :index 8082}
{:type :invoke, :f :cas, :value [0 1], :process 46, :time 57179523696, :index 8083}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
{:type :invoke, :f :read, :value nil, :process 64, :time 57183562591, :index 8085}
{:type :invoke, :f :write, :value 2, :process 65, :time 57189847086, :index 8086}
{:type :ok, :f :read, :value 1, :process 40, :time 57212470714, :index 8088}
{:type :invoke, :f :read, :value nil, :process 62, :time 57220284646, :index 8090}
{:type :invoke, :f :read, :value nil, :process 67, :time 57231640313, :index 8091}
{:type :invoke, :f :read, :value nil, :process 40, :time 57243741844, :index 8093}
{:type :ok, :f :read, :value 2, :process 64, :time 61014753102, :index 8096}
{:type :ok, :f :read, :value 2, :process 69, :time 61014753140, :index 8097}
{:type :ok, :f :read, :value 2, :process 67, :time 61014987009, :index 8098}
{:type :ok, :f :read, :value 2, :process 62, :time 61015442533, :index 8100}
{:type :ok, :f :read, :value 2, :process 40, :time 61015793777, :index 8102}
{:type :ok, :f :write, :value 2, :process 65, :time 61016703635, :index 8105}
{:type :info, :f :write, :value 0, :process 23, :time 62126903430, :error :timeout, :index 8107}
{:type :fail, :f :read, :value nil, :process 28, :time 62172443664, :error :timeout, :index 8109}
{:type :info, :f :cas, :value [0 1], :process 46, :time 62185996723, :error :timeout, :index 8111}
{:type :info, :f :write, :value 0, :process 41, :time 62186814468, :error :timeout, :index 8112}
