{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :invoke, :f :write, :value 2, :process 40, :time 56169832589, :index 9023}
{:type :ok, :f :write, :value 2, :process 40, :time 56174786240, :index 9026}
{:type :invoke, :f :write, :value 3, :process 40, :time 56230072122, :index 9034}
{:type :ok, :f :write, :value 3, :process 40, :time 56235853168, :index 9035}
{:type :invoke, :f :write, :value 2, :process 6, :time 56239641337, :index 9037}
{:type :ok, :f :write, :value 2, :process 6, :time 56244291102, :index 9039}
{:type :invoke, :f :cas, :value [1 3], :process 23, :time 56262030886, :index 9044}
{:type :invoke, :f :write, :value 1, :process 69, :time 56281629315, :index 9050}
{:type :invoke, :f :write, :value 0, :process 40, :time 56283114122, :index 9051}
{:type :fail, :f :cas, :value [1 3], :process 23, :time 56297004755, :index 9053}
{:type :invoke, :f :write, :value 1, :process 6, :time 56318565210, :index 9057}
{:type :invoke, :f :write, :value 2, :process 65, :time 56336387164, :index 9058}
{:type :invoke, :f :cas, :value [2 3], :process 21, :time 56379272056, :index 9061}
{:type :invoke, :f :write, :value 4, :process 4, :time 56397349492, :index 9062}
{:type :invoke, :f :cas, :value [0 4], :process 23, :time 56414265491, :index 9063}
{:type :ok, :f :write, :value 1, :process 69, :time 56454990011, :index 9067}
{:type :ok, :f :write, :value 0, :process 40, :time 56455291011, :index 9069}
{:type :ok, :f :cas, :value [2 3], :process 21, :time 56456670738, :index 9070}
{:type :ok, :f :write, :value 1, :process 6, :time 56456926442, :index 9072}
{:type :ok, :f :write, :value 4, :process 4, :time 56457334927, :index 9075}
{:type :fail, :f :cas, :value [0 4], :process 23, :time 56458166752, :index 9077}
{:type :ok, :f :write, :value 2, :process 65, :time 56458426003, :index 9079}
{:type :invoke, :f :write, :value 2, :process 40, :time 56474531231, :index 9080}
{:type :ok, :f :write, :value 2, :process 40, :time 56480259087, :index 9081}
{:type :invoke, :f :write, :value 3, :process 48, :time 56482533854, :index 9082}
{:type :ok, :f :write, :value 3, :process 48, :time 56488330547, :index 9083}
{:type :invoke, :f :write, :value 3, :process 4, :time 56498550101, :index 9084}
{:type :ok, :f :write, :value 3, :process 4, :time 56503602661, :index 9085}
{:type :invoke, :f :write, :value 0, :process 21, :time 56505945599, :index 9086}
{:type :ok, :f :write, :value 0, :process 21, :time 56511001588, :index 9088}
{:type :invoke, :f :read, :value nil, :process 69, :time 56542589465, :index 9103}
{:type :invoke, :f :cas, :value [2 0], :process 65, :time 56542771716, :index 9104}
{:type :invoke, :f :cas, :value [0 0], :process 48, :time 56545611215, :index 9105}
{:type :invoke, :f :read, :value nil, :process 6, :time 56546317301, :index 9106}
{:type :ok, :f :read, :value 0, :process 69, :time 56549130654, :index 9108}
{:type :fail, :f :cas, :value [2 0], :process 65, :time 56549383503, :index 9109}
{:type :ok, :f :cas, :value [0 0], :process 48, :time 56550868171, :index 9110}
{:type :ok, :f :read, :value 0, :process 6, :time 56551317685, :index 9111}
{:type :invoke, :f :write, :value 2, :process 4, :time 56554858948, :index 9112}
{:type :invoke, :f :cas, :value [1 0], :process 23, :time 56555415857, :index 9113}
{:type :ok, :f :write, :value 2, :process 4, :time 56560381271, :index 9115}
{:type :fail, :f :cas, :value [1 0], :process 23, :time 56561170146, :index 9116}
{:type :invoke, :f :write, :value 4, :process 67, :time 56582444295, :index 9120}
{:type :invoke, :f :read, :value nil, :process 48, :time 56588121984, :index 9121}
{:type :ok, :f :write, :value 4, :process 67, :time 56588456556, :index 9122}
{:type :invoke, :f :cas, :value [4 0], :process 82, :time 56591298722, :index 9123}
{:type :ok, :f :read, :value 4, :process 48, :time 56593543782, :index 9124}
{:type :ok, :f :cas, :value [4 0], :process 82, :time 56596262562, :index 9126}
{:type :invoke, :f :cas, :value [0 2], :process 65, :time 56603624738, :index 9130}
{:type :ok, :f :cas, :value [0 2], :process 65, :time 56608735083, :index 9131}
{:type :invoke, :f :write, :value 0, :process 21, :time 56613269640, :index 9132}
{:type :ok, :f :write, :value 0, :process 21, :time 56617505268, :index 9134}
{:type :invoke, :f :read, :value nil, :process 40, :time 56639513369, :index 9140}
{:type :ok, :f :read, :value 0, :process 40, :time 56644739365, :index 9141}
{:type :invoke, :f :read, :value nil, :process 48, :time 56656804732, :index 9143}
{:type :ok, :f :read, :value 0, :process 48, :time 56661818390, :index 9146}
{:type :invoke, :f :cas, :value [4 1], :process 69, :time 56663396444, :index 9148}
{:type :invoke, :f :cas, :value [4 2], :process 67, :time 56667698666, :index 9151}
{:type :invoke, :f :cas, :value [4 3], :process 23, :time 56668444073, :index 9152}
{:type :fail, :f :cas, :value [4 1], :process 69, :time 56669062317, :index 9153}
{:type :fail, :f :cas, :value [4 2], :process 67, :time 56673745184, :index 9155}
{:type :fail, :f :cas, :value [4 3], :process 23, :time 56674172616, :index 9156}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 56705664828, :index 9164}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 56710839968, :index 9166}
{:type :invoke, :f :read, :value nil, :process 21, :time 56718759837, :index 9168}
{:type :ok, :f :read, :value 0, :process 21, :time 56723455790, :index 9169}
{:type :invoke, :f :read, :value nil, :process 6, :time 56727556284, :index 9172}
{:type :ok, :f :read, :value 0, :process 6, :time 56733178340, :index 9174}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :invoke, :f :read, :value nil, :process 82, :time 56764563258, :index 9179}
{:type :invoke, :f :read, :value nil, :process 65, :time 56770970036, :index 9180}
{:type :invoke, :f :read, :value nil, :process 4, :time 56774043870, :index 9181}
{:type :ok, :f :read, :value 0, :process 65, :time 56776624111, :index 9182}
{:type :ok, :f :read, :value 0, :process 4, :time 56779291516, :index 9184}
{:type :invoke, :f :read, :value nil, :process 48, :time 56793096447, :index 9186}
{:type :invoke, :f :read, :value nil, :process 40, :time 56835010070, :index 9195}
{:type :ok, :f :read, :value 0, :process 40, :time 56840780445, :index 9196}
{:type :invoke, :f :cas, :value [4 0], :process 23, :time 56842454609, :index 9197}
{:type :invoke, :f :write, :value 2, :process 69, :time 56845336111, :index 9198}
{:type :invoke, :f :write, :value 4, :process 4, :time 56849548890, :index 9199}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
{:type :ok, :f :write, :value 2, :process 69, :time 56850675202, :index 9201}
{:type :ok, :f :write, :value 4, :process 4, :time 56854090504, :index 9202}
{:type :invoke, :f :read, :value nil, :process 67, :time 56855019421, :index 9203}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 56880718730, :index 9213}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 56886023436, :index 9216}
{:type :invoke, :f :write, :value 1, :process 40, :time 56902035536, :index 9218}
{:type :ok, :f :write, :value 1, :process 40, :time 56907395752, :index 9219}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 56910446938, :index 9220}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 56917321597, :index 9221}
{:type :invoke, :f :cas, :value [0 0], :process 69, :time 56937968321, :index 9224}
{:type :invoke, :f :write, :value 3, :process 65, :time 56939887841, :index 9225}
{:type :fail, :f :cas, :value [0 0], :process 69, :time 56945429752, :index 9226}
{:type :ok, :f :write, :value 3, :process 65, :time 56945880650, :index 9227}
{:type :invoke, :f :read, :value nil, :process 4, :time 56969340238, :index 9228}
{:type :ok, :f :read, :value 3, :process 4, :time 56975773794, :index 9231}
{:type :invoke, :f :read, :value nil, :process 21, :time 57003287578, :index 9234}
{:type :ok, :f :read, :value 3, :process 21, :time 57008157453, :index 9235}
{:type :invoke, :f :cas, :value [2 3], :process 65, :time 57038054562, :index 9237}
{:type :fail, :f :cas, :value [2 3], :process 65, :time 57043803628, :index 9239}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 57057586938, :index 9242}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 57062138609, :index 9245}
{:type :invoke, :f :write, :value 0, :process 21, :time 57064419798, :index 9246}
{:type :ok, :f :write, :value 0, :process 21, :time 57068961032, :index 9247}
{:type :invoke, :f :read, :value nil, :process 40, :time 57070655629, :index 9248}
{:type :ok, :f :read, :value 0, :process 40, :time 57076361803, :index 9249}
{:type :invoke, :f :read, :value nil, :process 69, :time 57081708573, :index 9251}
{:type :ok, :f :read, :value 0, :process 69, :time 57086825366, :index 9253}
{:type :invoke, :f :write, :value 0, :process 4, :time 57091025781, :index 9254}
{:type :ok, :f :write, :value 0, :process 4, :time 57097086810, :index 9256}
{:type :invoke, :f :cas, :value [3 0], :process 65, :time 57121083469, :index 9258}
{:type :fail, :f :cas, :value [3 0], :process 65, :time 57126766745, :index 9259}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 57167402628, :index 9264}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 57173821362, :index 9265}
{:type :invoke, :f :read, :value nil, :process 65, :time 57178030754, :index 9267}
{:type :invoke, :f :write, :value 0, :process 69, :time 57181115697, :index 9268}
{:type :ok, :f :read, :value 0, :process 65, :time 57184335148, :index 9270}
{:type :ok, :f :write, :value 0, :process 69, :time 57186318388, :index 9271}
{:type :invoke, :f :read, :value nil, :process 21, :time 57187221214, :index 9272}
{:type :ok, :f :read, :value 0, :process 21, :time 57192014218, :index 9273}
{:type :invoke, :f :write, :value 4, :process 40, :time 57211618169, :index 9274}
{:type :ok, :f :write, :value 4, :process 40, :time 57216805004, :index 9276}
{:type :invoke, :f :read, :value nil, :process 65, :time 57217612815, :index 9277}
{:type :invoke, :f :write, :value 1, :process 69, :time 57221571376, :index 9280}
{:type :ok, :f :read, :value 4, :process 65, :time 57222712065, :index 9282}
{:type :ok, :f :write, :value 1, :process 69, :time 57226180765, :index 9284}
{:type :invoke, :f :write, :value 3, :process 65, :time 57247946566, :index 9288}
{:type :ok, :f :write, :value 3, :process 65, :time 57253852962, :index 9289}
{:type :invoke, :f :cas, :value [2 1], :process 65, :time 57258135919, :index 9290}
{:type :fail, :f :cas, :value [2 1], :process 65, :time 57265098301, :index 9294}
{:type :invoke, :f :write, :value 4, :process 6, :time 57267086848, :index 9295}
{:type :ok, :f :write, :value 4, :process 6, :time 57272131153, :index 9297}
{:type :invoke, :f :read, :value nil, :process 6, :time 57272257243, :index 9298}
{:type :ok, :f :read, :value 4, :process 6, :time 57276497910, :index 9299}
{:type :invoke, :f :read, :value nil, :process 4, :time 57289394349, :index 9302}
{:type :ok, :f :read, :value 4, :process 4, :time 57294069428, :index 9303}
{:type :invoke, :f :cas, :value [1 3], :process 40, :time 57307053594, :index 9306}
{:type :fail, :f :cas, :value [1 3], :process 40, :time 57314474476, :index 9309}
{:type :invoke, :f :write, :value 1, :process 65, :time 57369382627, :index 9312}
{:type :invoke, :f :cas, :value [1 2], :process 21, :time 57374278117, :index 9314}
{:type :ok, :f :write, :value 1, :process 65, :time 57375452081, :index 9315}
{:type :ok, :f :cas, :value [1 2], :process 21, :time 57378571634, :index 9317}
{:type :invoke, :f :write, :value 4, :process 69, :time 57399465080, :index 9318}
{:type :ok, :f :write, :value 4, :process 69, :time 57404768375, :index 9321}
{:type :invoke, :f :write, :value 3, :process 6, :time 57415794664, :index 9324}
{:type :invoke, :f :read, :value nil, :process 65, :time 57425012273, :index 9327}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 57448326884, :index 9328}
{:type :invoke, :f :read, :value nil, :process 21, :time 57451834076, :index 9329}
{:type :invoke, :f :read, :value nil, :process 40, :time 57508768645, :index 9331}
{:type :invoke, :f :cas, :value [4 2], :process 69, :time 57543031587, :index 9333}
{:type :ok, :f :write, :value 3, :process 6, :time 57930701260, :index 9335}
{:type :ok, :f :read, :value 3, :process 21, :time 57930700212, :index 9336}
{:type :ok, :f :read, :value 3, :process 40, :time 57931012693, :index 9338}
{:type :ok, :f :read, :value 3, :process 65, :time 57932077336, :index 9342}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 57933529852, :index 9344}
{:type :fail, :f :cas, :value [4 2], :process 69, :time 57933727195, :index 9345}
{:type :invoke, :f :read, :value nil, :process 4, :time 57943832955, :index 9346}
{:type :ok, :f :read, :value 3, :process 4, :time 57949276467, :index 9347}
{:type :invoke, :f :cas, :value [3 3], :process 65, :time 57961304940, :index 9348}
{:type :invoke, :f :read, :value nil, :process 6, :time 57964261669, :index 9349}
{:type :ok, :f :cas, :value [3 3], :process 65, :time 57967029534, :index 9350}
{:type :ok, :f :read, :value 3, :process 6, :time 57969060274, :index 9351}
{:type :invoke, :f :read, :value nil, :process 21, :time 58021958329, :index 9360}
{:type :ok, :f :read, :value 3, :process 21, :time 58026766781, :index 9361}
{:type :invoke, :f :read, :value nil, :process 4, :time 58028554345, :index 9362}
{:type :ok, :f :read, :value 3, :process 4, :time 58033782502, :index 9363}
{:type :invoke, :f :read, :value nil, :process 6, :time 58040306490, :index 9364}
{:type :ok, :f :read, :value 3, :process 6, :time 58044975880, :index 9365}
{:type :invoke, :f :write, :value 2, :process 6, :time 58091238991, :index 9372}
{:type :ok, :f :write, :value 2, :process 6, :time 58096066758, :index 9373}
{:type :invoke, :f :read, :value nil, :process 69, :time 58118004613, :index 9382}
{:type :invoke, :f :read, :value nil, :process 40, :time 58121399967, :index 9383}
{:type :ok, :f :read, :value 2, :process 69, :time 58124661920, :index 9384}
{:type :ok, :f :read, :value 2, :process 40, :time 58126762595, :index 9385}
{:type :invoke, :f :read, :value nil, :process 4, :time 58135037744, :index 9387}
{:type :ok, :f :read, :value 2, :process 4, :time 58140501297, :index 9389}
{:type :invoke, :f :cas, :value [1 4], :process 65, :time 58143319510, :index 9391}
{:type :fail, :f :cas, :value [1 4], :process 65, :time 58148460644, :index 9393}
{:type :invoke, :f :cas, :value [3 1], :process 65, :time 58152761744, :index 9394}
{:type :invoke, :f :write, :value 0, :process 21, :time 58154036940, :index 9395}
{:type :ok, :f :write, :value 0, :process 21, :time 58158690760, :index 9396}
{:type :fail, :f :cas, :value [3 1], :process 65, :time 58158717454, :index 9397}
{:type :invoke, :f :cas, :value [1 1], :process 40, :time 58166032546, :index 9398}
{:type :fail, :f :cas, :value [1 1], :process 40, :time 58172370774, :index 9399}
{:type :invoke, :f :cas, :value [0 4], :process 40, :time 58238638206, :index 9408}
{:type :invoke, :f :read, :value nil, :process 6, :time 58240329351, :index 9409}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 58247962833, :index 9410}
{:type :invoke, :f :write, :value 3, :process 4, :time 58267756142, :index 9411}
{:type :invoke, :f :read, :value nil, :process 69, :time 58285928363, :index 9413}
{:type :invoke, :f :write, :value 0, :process 65, :time 58339988052, :index 9415}
{:type :ok, :f :read, :value 4, :process 6, :time 58897318494, :index 9420}
{:type :ok, :f :cas, :value [0 4], :process 40, :time 58897884424, :index 9421}
{:type :ok, :f :write, :value 3, :process 4, :time 58898333295, :index 9423}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 58898774729, :index 9425}
{:type :ok, :f :read, :value 3, :process 69, :time 58899180336, :index 9426}
{:type :ok, :f :write, :value 0, :process 65, :time 58900051220, :index 9431}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 59031757338, :index 9439}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 59037464570, :index 9442}
{:type :fail, :f :read, :value nil, :process 82, :time 61768482311, :error :timeout, :index 9678}
{:type :fail, :f :read, :value nil, :process 48, :time 61800570215, :error :timeout, :index 9681}
{:type :info, :f :cas, :value [4 0], :process 23, :time 61849385769, :error :timeout, :index 9684}
{:type :fail, :f :read, :value nil, :process 67, :time 61859334107, :error :timeout, :index 9685}
