{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :invoke, :f :read, :value nil, :process 17, :time 48488791186, :index 7494}
{:type :ok, :f :read, :value nil, :process 17, :time 48494260098, :index 7495}
{:type :invoke, :f :cas, :value [0 3], :process 36, :time 48578372728, :index 7508}
{:type :fail, :f :cas, :value [0 3], :process 36, :time 48583375865, :error :not-found, :index 7509}
{:type :invoke, :f :read, :value nil, :process 17, :time 48591510023, :index 7510}
{:type :invoke, :f :write, :value 4, :process 52, :time 48592949209, :index 7511}
{:type :invoke, :f :cas, :value [2 4], :process 35, :time 48596645251, :index 7512}
{:type :ok, :f :read, :value nil, :process 17, :time 48598058010, :index 7513}
{:type :ok, :f :write, :value 4, :process 52, :time 48598605951, :index 7514}
{:type :fail, :f :cas, :value [2 4], :process 35, :time 48602411055, :index 7516}
{:type :invoke, :f :write, :value 0, :process 51, :time 48608011226, :index 7518}
{:type :ok, :f :write, :value 0, :process 51, :time 48612735046, :index 7519}
{:type :invoke, :f :write, :value 2, :process 35, :time 48673682626, :index 7532}
{:type :invoke, :f :read, :value nil, :process 52, :time 48674880583, :index 7533}
{:type :ok, :f :write, :value 2, :process 35, :time 48679674001, :index 7534}
{:type :ok, :f :read, :value 2, :process 52, :time 48680024355, :index 7535}
{:type :invoke, :f :read, :value nil, :process 36, :time 48701632408, :index 7538}
{:type :invoke, :f :read, :value nil, :process 35, :time 48703931956, :index 7539}
{:type :ok, :f :read, :value 2, :process 36, :time 48705979068, :index 7540}
{:type :ok, :f :read, :value 2, :process 35, :time 48709360747, :index 7541}
{:type :invoke, :f :write, :value 0, :process 17, :time 48728320446, :index 7544}
{:type :invoke, :f :read, :value nil, :process 50, :time 48730672627, :index 7545}
{:type :ok, :f :write, :value 0, :process 17, :time 48734094582, :index 7546}
{:type :invoke, :f :write, :value 4, :process 35, :time 48734619222, :index 7547}
{:type :ok, :f :read, :value 0, :process 50, :time 48735832358, :index 7548}
{:type :ok, :f :write, :value 4, :process 35, :time 48740088544, :index 7549}
{:type :invoke, :f :read, :value nil, :process 51, :time 48797996653, :index 7560}
{:type :invoke, :f :write, :value 1, :process 50, :time 48798144815, :index 7561}
{:type :invoke, :f :write, :value 0, :process 52, :time 48801262806, :index 7562}
{:type :ok, :f :read, :value 4, :process 51, :time 48803226150, :index 7563}
{:type :ok, :f :write, :value 1, :process 50, :time 48804444782, :index 7564}
{:type :invoke, :f :read, :value nil, :process 17, :time 48805357397, :index 7565}
{:type :ok, :f :write, :value 0, :process 52, :time 48805954444, :index 7566}
{:type :ok, :f :read, :value 0, :process 17, :time 48811128023, :index 7568}
{:type :invoke, :f :cas, :value [1 1], :process 52, :time 48824235304, :index 7573}
{:type :fail, :f :cas, :value [1 1], :process 52, :time 48829956170, :index 7575}
{:type :invoke, :f :read, :value nil, :process 35, :time 48833351681, :index 7576}
{:type :invoke, :f :write, :value 0, :process 36, :time 48835242275, :index 7577}
{:type :ok, :f :write, :value 0, :process 36, :time 48839655969, :index 7578}
{:type :ok, :f :read, :value 0, :process 35, :time 48839823790, :index 7579}
{:type :invoke, :f :read, :value nil, :process 17, :time 48897393517, :index 7590}
{:type :ok, :f :read, :value 0, :process 17, :time 48905857065, :index 7592}
{:type :invoke, :f :write, :value 4, :process 51, :time 48912487383, :index 7594}
{:type :ok, :f :write, :value 4, :process 51, :time 48918341323, :index 7595}
{:type :invoke, :f :cas, :value [4 0], :process 50, :time 48918711197, :index 7596}
{:type :invoke, :f :write, :value 2, :process 35, :time 48924063129, :index 7597}
{:type :ok, :f :cas, :value [4 0], :process 50, :time 48925704475, :index 7598}
{:type :ok, :f :write, :value 2, :process 35, :time 48929416868, :index 7600}
{:type :invoke, :f :cas, :value [2 0], :process 35, :time 48935671880, :index 7602}
{:type :ok, :f :cas, :value [2 0], :process 35, :time 48942935523, :index 7604}
{:type :invoke, :f :read, :value nil, :process 17, :time 48943130066, :index 7605}
{:type :invoke, :f :read, :value nil, :process 52, :time 48947214751, :index 7607}
{:type :ok, :f :read, :value 0, :process 17, :time 48947976605, :index 7608}
{:type :ok, :f :read, :value 0, :process 52, :time 48952520405, :index 7609}
{:type :invoke, :f :write, :value 2, :process 52, :time 48973770254, :index 7613}
{:type :ok, :f :write, :value 2, :process 52, :time 48978905753, :index 7615}
{:type :invoke, :f :read, :value nil, :process 36, :time 48979930653, :index 7616}
{:type :ok, :f :read, :value 2, :process 36, :time 48984681769, :index 7617}
{:type :invoke, :f :cas, :value [3 2], :process 51, :time 48992599929, :index 7618}
{:type :fail, :f :cas, :value [3 2], :process 51, :time 48997802433, :index 7621}
{:type :invoke, :f :cas, :value [1 1], :process 36, :time 49007951128, :index 7625}
{:type :fail, :f :cas, :value [1 1], :process 36, :time 49012686939, :index 7627}
{:type :invoke, :f :cas, :value [3 4], :process 17, :time 49028230778, :index 7630}
{:type :fail, :f :cas, :value [3 4], :process 17, :time 49033413811, :index 7632}
{:type :invoke, :f :write, :value 2, :process 35, :time 49042134334, :index 7634}
{:type :ok, :f :write, :value 2, :process 35, :time 49047972273, :index 7635}
{:type :invoke, :f :cas, :value [4 4], :process 50, :time 49058022175, :index 7638}
{:type :invoke, :f :write, :value 0, :process 36, :time 49059947997, :index 7639}
{:type :invoke, :f :write, :value 0, :process 51, :time 49060059137, :index 7640}
{:type :fail, :f :cas, :value [4 4], :process 50, :time 49063573816, :index 7641}
{:type :ok, :f :write, :value 0, :process 51, :time 49065068884, :index 7642}
{:type :ok, :f :write, :value 0, :process 36, :time 49065603921, :index 7643}
{:type :invoke, :f :cas, :value [3 3], :process 36, :time 49091848278, :index 7648}
{:type :fail, :f :cas, :value [3 3], :process 36, :time 49096439285, :index 7649}
{:type :invoke, :f :cas, :value [2 1], :process 35, :time 49146231206, :index 7654}
{:type :fail, :f :cas, :value [2 1], :process 35, :time 49153247447, :index 7657}
{:type :invoke, :f :write, :value 4, :process 52, :time 49162169897, :index 7660}
{:type :ok, :f :write, :value 4, :process 52, :time 49167281229, :index 7661}
{:type :invoke, :f :read, :value nil, :process 35, :time 49188633000, :index 7664}
{:type :invoke, :f :write, :value 0, :process 17, :time 49193676895, :index 7665}
{:type :ok, :f :read, :value 4, :process 35, :time 49194513809, :index 7666}
{:type :ok, :f :write, :value 0, :process 17, :time 49201262100, :index 7667}
{:type :invoke, :f :read, :value nil, :process 50, :time 49204828558, :index 7668}
{:type :invoke, :f :read, :value nil, :process 51, :time 49206360370, :index 7669}
{:type :ok, :f :read, :value 0, :process 50, :time 49211064421, :index 7670}
{:type :ok, :f :read, :value 0, :process 51, :time 49211218707, :index 7671}
{:type :invoke, :f :write, :value 1, :process 51, :time 49252474884, :index 7676}
{:type :invoke, :f :read, :value nil, :process 36, :time 49254712855, :index 7677}
{:type :ok, :f :write, :value 1, :process 51, :time 49257725616, :index 7679}
{:type :ok, :f :read, :value 1, :process 36, :time 49259437224, :index 7680}
{:type :invoke, :f :read, :value nil, :process 51, :time 49267980575, :index 7682}
{:type :invoke, :f :read, :value nil, :process 52, :time 49272487201, :index 7683}
{:type :ok, :f :read, :value 1, :process 51, :time 49272719079, :index 7684}
{:type :ok, :f :read, :value 1, :process 52, :time 49278253291, :index 7685}
{:type :invoke, :f :read, :value nil, :process 17, :time 49303521582, :index 7688}
{:type :ok, :f :read, :value 1, :process 17, :time 49308875553, :index 7689}
{:type :invoke, :f :write, :value 0, :process 36, :time 49317693377, :index 7690}
{:type :ok, :f :write, :value 0, :process 36, :time 49322027279, :index 7691}
{:type :invoke, :f :cas, :value [2 1], :process 17, :time 49327132165, :index 7693}
{:type :fail, :f :cas, :value [2 1], :process 17, :time 49332173482, :index 7695}
{:type :invoke, :f :cas, :value [4 2], :process 51, :time 49386965542, :index 7700}
{:type :invoke, :f :write, :value 1, :process 35, :time 49390777942, :index 7702}
{:type :fail, :f :cas, :value [4 2], :process 51, :time 49392797334, :index 7704}
{:type :ok, :f :write, :value 1, :process 35, :time 49397064144, :index 7707}
{:type :invoke, :f :read, :value nil, :process 50, :time 49398335828, :index 7708}
{:type :ok, :f :read, :value 1, :process 50, :time 49404021409, :index 7709}
{:type :invoke, :f :read, :value nil, :process 35, :time 49406411518, :index 7710}
{:type :ok, :f :read, :value 1, :process 35, :time 49411887175, :index 7711}
{:type :invoke, :f :write, :value 0, :process 52, :time 49432512381, :index 7712}
{:type :ok, :f :write, :value 0, :process 52, :time 49438391143, :index 7713}
{:type :invoke, :f :cas, :value [2 1], :process 17, :time 49440435749, :index 7714}
{:type :fail, :f :cas, :value [2 1], :process 17, :time 49445596273, :index 7715}
{:type :invoke, :f :cas, :value [3 3], :process 52, :time 49515653484, :index 7725}
{:type :invoke, :f :read, :value nil, :process 36, :time 49518286904, :index 7726}
{:type :fail, :f :cas, :value [3 3], :process 52, :time 49522518619, :index 7728}
{:type :ok, :f :read, :value 0, :process 36, :time 49523036743, :index 7729}
{:type :invoke, :f :write, :value 3, :process 35, :time 49538142342, :index 7732}
{:type :invoke, :f :read, :value nil, :process 50, :time 49539276484, :index 7733}
{:type :ok, :f :write, :value 3, :process 35, :time 49545445108, :index 7734}
{:type :ok, :f :read, :value 3, :process 50, :time 49546028066, :index 7735}
{:type :invoke, :f :read, :value nil, :process 51, :time 49551069463, :index 7736}
{:type :invoke, :f :write, :value 2, :process 36, :time 49553305242, :index 7737}
{:type :ok, :f :read, :value 3, :process 51, :time 49555636785, :index 7738}
{:type :ok, :f :write, :value 2, :process 36, :time 49557378307, :index 7739}
{:type :invoke, :f :read, :value nil, :process 50, :time 49559258486, :index 7740}
{:type :invoke, :f :read, :value nil, :process 35, :time 49572703285, :index 7742}
{:type :invoke, :f :read, :value nil, :process 17, :time 49577856301, :index 7744}
{:type :invoke, :f :cas, :value [1 2], :process 51, :time 49651894080, :index 7748}
{:type :invoke, :f :cas, :value [1 3], :process 36, :time 49664629701, :index 7749}
{:type :invoke, :f :write, :value 1, :process 52, :time 49703775957, :index 7751}
{:type :ok, :f :read, :value 2, :process 50, :time 49965350706, :index 7752}
{:type :fail, :f :cas, :value [1 3], :process 36, :time 50030420750, :index 7754}
{:type :fail, :f :cas, :value [1 2], :process 51, :time 50031375855, :index 7758}
{:type :ok, :f :read, :value 2, :process 35, :time 50031697144, :index 7759}
{:type :ok, :f :write, :value 1, :process 52, :time 50032149445, :index 7760}
{:type :ok, :f :read, :value 2, :process 17, :time 50032986185, :index 7763}
{:type :invoke, :f :cas, :value [3 3], :process 51, :time 50040704380, :index 7764}
{:type :fail, :f :cas, :value [3 3], :process 51, :time 50046046515, :index 7765}
{:type :invoke, :f :cas, :value [4 2], :process 52, :time 50074443170, :index 7767}
{:type :invoke, :f :write, :value 3, :process 51, :time 50093303122, :index 7768}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 50122785062, :index 7769}
{:type :invoke, :f :write, :value 0, :process 50, :time 50124701754, :index 7770}
{:type :invoke, :f :write, :value 1, :process 35, :time 50222941450, :index 7775}
{:type :invoke, :f :read, :value nil, :process 17, :time 50223235773, :index 7777}
{:type :ok, :f :write, :value 0, :process 50, :time 50389559090, :index 7783}
{:type :ok, :f :read, :value 1, :process 17, :time 50390715561, :index 7785}
{:type :fail, :f :cas, :value [4 2], :process 52, :time 50390830063, :index 7786}
{:type :ok, :f :write, :value 1, :process 35, :time 50391319334, :index 7788}
{:type :ok, :f :write, :value 3, :process 51, :time 50391675298, :index 7789}
{:type :fail, :f :cas, :value [2 1], :process 36, :time 50391829235, :index 7790}
{:type :invoke, :f :write, :value 2, :process 51, :time 50404985154, :index 7792}
{:type :ok, :f :write, :value 2, :process 51, :time 50409743399, :index 7793}
{:type :invoke, :f :cas, :value [4 2], :process 17, :time 50423007960, :index 7794}
{:type :fail, :f :cas, :value [4 2], :process 17, :time 50429645563, :index 7796}
{:type :invoke, :f :read, :value nil, :process 50, :time 50441849836, :index 7798}
{:type :ok, :f :read, :value 2, :process 50, :time 50447787118, :index 7799}
{:type :invoke, :f :cas, :value [4 4], :process 50, :time 50470053228, :index 7800}
{:type :fail, :f :cas, :value [4 4], :process 50, :time 50476456423, :index 7802}
{:type :invoke, :f :write, :value 0, :process 17, :time 50493547994, :index 7807}
{:type :ok, :f :write, :value 0, :process 17, :time 50498789806, :index 7809}
{:type :invoke, :f :read, :value nil, :process 36, :time 50510127248, :index 7810}
{:type :invoke, :f :read, :value nil, :process 51, :time 50510908582, :index 7811}
{:type :ok, :f :read, :value 0, :process 36, :time 50515968073, :index 7812}
{:type :ok, :f :read, :value 0, :process 51, :time 50516696726, :index 7813}
{:type :invoke, :f :cas, :value [1 3], :process 35, :time 50524643630, :index 7816}
{:type :fail, :f :cas, :value [1 3], :process 35, :time 50531346300, :index 7819}
{:type :invoke, :f :read, :value nil, :process 52, :time 50552072363, :index 7822}
{:type :ok, :f :read, :value 0, :process 52, :time 50557623008, :index 7823}
{:type :invoke, :f :cas, :value [2 3], :process 50, :time 50564748570, :index 7824}
{:type :fail, :f :cas, :value [2 3], :process 50, :time 50571323275, :index 7826}
{:type :invoke, :f :read, :value nil, :process 17, :time 50577042554, :index 7828}
{:type :ok, :f :read, :value 0, :process 17, :time 50581846135, :index 7829}
{:type :invoke, :f :write, :value 3, :process 51, :time 50593949143, :index 7830}
{:type :ok, :f :write, :value 3, :process 51, :time 50599155631, :index 7831}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 50609230966, :index 7832}
{:type :fail, :f :cas, :value [0 0], :process 36, :time 50614967313, :index 7833}
{:type :invoke, :f :cas, :value [0 4], :process 36, :time 50643222845, :index 7836}
{:type :fail, :f :cas, :value [0 4], :process 36, :time 50648346446, :index 7837}
{:type :invoke, :f :write, :value 1, :process 51, :time 50648482758, :index 7838}
{:type :ok, :f :write, :value 1, :process 51, :time 50653536925, :index 7840}
{:type :invoke, :f :write, :value 4, :process 50, :time 50661586482, :index 7844}
{:type :ok, :f :write, :value 4, :process 50, :time 50667915634, :index 7845}
{:type :invoke, :f :read, :value nil, :process 50, :time 50668046874, :index 7846}
{:type :invoke, :f :write, :value 0, :process 35, :time 50671615114, :index 7847}
{:type :ok, :f :read, :value 4, :process 50, :time 50673401862, :index 7848}
{:type :ok, :f :write, :value 0, :process 35, :time 50676740894, :index 7849}
{:type :invoke, :f :write, :value 3, :process 52, :time 50721886329, :index 7855}
{:type :invoke, :f :cas, :value [0 4], :process 17, :time 50771106842, :index 7858}
{:type :invoke, :f :cas, :value [3 3], :process 51, :time 50800848642, :index 7859}
{:type :invoke, :f :read, :value nil, :process 36, :time 50814608024, :index 7861}
{:type :invoke, :f :cas, :value [3 2], :process 35, :time 50858999305, :index 7862}
{:type :invoke, :f :write, :value 1, :process 50, :time 50867678475, :index 7865}
{:type :ok, :f :write, :value 1, :process 50, :time 51186577626, :index 7869}
{:type :ok, :f :read, :value 0, :process 36, :time 51186832796, :index 7870}
{:type :fail, :f :cas, :value [3 2], :process 35, :time 51187564920, :index 7872}
{:type :fail, :f :cas, :value [3 3], :process 51, :time 51187564932, :index 7873}
{:type :ok, :f :write, :value 3, :process 52, :time 51188024109, :index 7874}
{:type :fail, :f :cas, :value [0 4], :process 17, :time 51189437424, :index 7876}
{:type :invoke, :f :write, :value 4, :process 36, :time 51371882461, :index 7892}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :ok, :f :write, :value 4, :process 36, :time 51752774425, :index 7913}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
