{:type :invoke, :f :write, :value 4, :process 8, :time 1456838546, :index 405}
{:type :ok, :f :write, :value 4, :process 8, :time 1461224200, :index 407}
{:type :invoke, :f :write, :value 4, :process 8, :time 1461353749, :index 408}
{:type :ok, :f :write, :value 4, :process 8, :time 1466353253, :index 410}
{:type :invoke, :f :write, :value 2, :process 6, :time 1551507039, :index 434}
{:type :ok, :f :write, :value 2, :process 6, :time 1556639736, :index 435}
{:type :invoke, :f :write, :value 2, :process 5, :time 1563319484, :index 438}
{:type :ok, :f :write, :value 2, :process 5, :time 1569749169, :index 443}
{:type :invoke, :f :read, :value nil, :process 6, :time 1581906043, :index 448}
{:type :invoke, :f :write, :value 4, :process 4, :time 1583254271, :index 450}
{:type :ok, :f :read, :value 2, :process 6, :time 1587096854, :index 455}
{:type :ok, :f :write, :value 4, :process 4, :time 1590636229, :index 456}
{:type :invoke, :f :cas, :value [4 4], :process 2, :time 1593200031, :index 460}
{:type :invoke, :f :write, :value 4, :process 3, :time 1593384570, :index 461}
{:type :invoke, :f :write, :value 4, :process 7, :time 1597204172, :index 462}
{:type :ok, :f :write, :value 4, :process 3, :time 1597907182, :index 463}
{:type :ok, :f :cas, :value [4 4], :process 2, :time 1598281371, :index 464}
{:type :ok, :f :write, :value 4, :process 7, :time 1601150747, :index 465}
{:type :invoke, :f :cas, :value [4 0], :process 9, :time 1621559236, :index 470}
{:type :invoke, :f :write, :value 0, :process 1, :time 1623031858, :index 472}
{:type :ok, :f :cas, :value [4 0], :process 9, :time 1627938538, :index 473}
{:type :ok, :f :write, :value 0, :process 1, :time 1628182886, :index 474}
{:type :invoke, :f :read, :value nil, :process 0, :time 1633370952, :index 476}
{:type :invoke, :f :write, :value 2, :process 5, :time 1635898098, :index 478}
{:type :invoke, :f :read, :value nil, :process 8, :time 1637645525, :index 479}
{:type :ok, :f :read, :value 0, :process 0, :time 1638805805, :index 480}
{:type :ok, :f :write, :value 2, :process 5, :time 1647202162, :index 483}
{:type :ok, :f :read, :value 2, :process 8, :time 1648086387, :index 484}
{:type :invoke, :f :cas, :value [3 0], :process 2, :time 1655521708, :index 487}
{:type :fail, :f :cas, :value [3 0], :process 2, :time 1659766527, :index 489}
{:type :invoke, :f :write, :value 0, :process 3, :time 1663164796, :index 490}
{:type :ok, :f :write, :value 0, :process 3, :time 1667878679, :index 492}
{:type :invoke, :f :read, :value nil, :process 2, :time 1677022927, :index 494}
{:type :ok, :f :read, :value 0, :process 2, :time 1681230768, :index 495}
{:type :invoke, :f :cas, :value [1 4], :process 9, :time 1707224520, :index 503}
{:type :fail, :f :cas, :value [1 4], :process 9, :time 1712606655, :index 505}
{:type :invoke, :f :read, :value nil, :process 4, :time 1721900995, :index 507}
{:type :ok, :f :read, :value 0, :process 4, :time 1726645205, :index 509}
{:type :invoke, :f :read, :value nil, :process 6, :time 1727358302, :index 511}
{:type :ok, :f :read, :value 0, :process 6, :time 1732753204, :index 513}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 1733477434, :index 515}
{:type :invoke, :f :read, :value nil, :process 1, :time 1738430681, :index 517}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 1739271975, :index 518}
{:type :ok, :f :read, :value 0, :process 1, :time 1744216942, :index 520}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 1756069022, :index 524}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 1761125864, :index 526}
{:type :invoke, :f :write, :value 0, :process 0, :time 1778386295, :index 528}
{:type :ok, :f :write, :value 0, :process 0, :time 1783949005, :index 529}
{:type :invoke, :f :cas, :value [2 3], :process 5, :time 1785504485, :index 531}
{:type :fail, :f :cas, :value [2 3], :process 5, :time 1793515864, :index 533}
{:type :invoke, :f :write, :value 1, :process 2, :time 1794513301, :index 534}
{:type :invoke, :f :write, :value 2, :process 8, :time 1797337915, :index 536}
{:type :invoke, :f :write, :value 4, :process 7, :time 1798415095, :index 537}
{:type :ok, :f :write, :value 1, :process 2, :time 1799167301, :index 538}
{:type :ok, :f :write, :value 2, :process 8, :time 1801829710, :index 540}
{:type :ok, :f :write, :value 4, :process 7, :time 1802964708, :index 541}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 1832144089, :index 550}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 1837470177, :index 554}
{:type :invoke, :f :write, :value 4, :process 9, :time 1865873097, :index 562}
{:type :ok, :f :write, :value 4, :process 9, :time 1870871478, :index 563}
{:type :invoke, :f :write, :value 4, :process 1, :time 1879471164, :index 564}
{:type :ok, :f :write, :value 4, :process 1, :time 1883978514, :index 565}
{:type :invoke, :f :cas, :value [4 4], :process 9, :time 1886106420, :index 566}
{:type :invoke, :f :read, :value nil, :process 6, :time 1887996808, :index 567}
{:type :invoke, :f :read, :value nil, :process 4, :time 1890940111, :index 568}
{:type :ok, :f :cas, :value [4 4], :process 9, :time 1891110462, :index 569}
{:type :ok, :f :read, :value 4, :process 6, :time 1893190730, :index 570}
{:type :ok, :f :read, :value 4, :process 4, :time 1895925159, :index 572}
{:type :invoke, :f :write, :value 0, :process 7, :time 1897224234, :index 573}
{:type :ok, :f :write, :value 0, :process 7, :time 1901907022, :index 576}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 1911198420, :index 578}
{:type :ok, :f :cas, :value [0 0], :process 4, :time 1916191118, :index 579}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 1919732443, :index 581}
{:type :ok, :f :cas, :value [0 4], :process 3, :time 1924733942, :index 583}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 1925211178, :index 584}
{:type :invoke, :f :write, :value 1, :process 6, :time 1927447249, :index 585}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 1931987397, :index 588}
{:type :ok, :f :write, :value 1, :process 6, :time 1932368391, :index 589}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 1934162987, :index 590}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 1938646977, :index 592}
{:type :invoke, :f :write, :value 0, :process 1, :time 1946242238, :index 594}
{:type :ok, :f :write, :value 0, :process 1, :time 1950884652, :index 596}
{:type :invoke, :f :write, :value 2, :process 5, :time 1958779863, :index 599}
{:type :invoke, :f :read, :value nil, :process 2, :time 1959430334, :index 600}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 1960143531, :index 601}
{:type :ok, :f :read, :value 2, :process 2, :time 1964963458, :index 602}
{:type :ok, :f :write, :value 2, :process 5, :time 1966192345, :index 603}
{:type :fail, :f :cas, :value [1 2], :process 1, :time 1966305450, :index 604}
{:type :invoke, :f :write, :value 4, :process 8, :time 1974065326, :index 606}
{:type :ok, :f :write, :value 4, :process 8, :time 1979383919, :index 607}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 1987453777, :index 610}
{:type :invoke, :f :read, :value nil, :process 6, :time 1999604501, :index 617}
{:type :invoke, :f :read, :value nil, :process 1, :time 2005549965, :index 621}
{:type :ok, :f :read, :value 4, :process 6, :time 2005928214, :index 622}
{:type :ok, :f :read, :value 4, :process 1, :time 2010049942, :index 624}
{:type :invoke, :f :read, :value nil, :process 3, :time 2020993809, :index 625}
{:type :ok, :f :read, :value 4, :process 3, :time 2026413412, :index 626}
{:type :invoke, :f :read, :value nil, :process 0, :time 2042243021, :index 627}
{:type :invoke, :f :read, :value nil, :process 9, :time 2042733625, :index 628}
{:type :ok, :f :read, :value 4, :process 0, :time 2047417193, :index 631}
{:type :ok, :f :read, :value 4, :process 9, :time 2051574224, :index 633}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 2052071907, :index 635}
{:type :invoke, :f :write, :value 1, :process 1, :time 2063301421, :index 636}
{:type :ok, :f :write, :value 1, :process 1, :time 2068654788, :index 637}
{:type :invoke, :f :read, :value nil, :process 6, :time 2071167220, :index 638}
{:type :ok, :f :read, :value 1, :process 6, :time 2076723919, :index 639}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 2077648306, :index 640}
{:type :invoke, :f :write, :value 1, :process 4, :time 2080364552, :index 642}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 2083379235, :index 645}
{:type :ok, :f :write, :value 1, :process 4, :time 2086125935, :index 647}
{:type :invoke, :f :write, :value 1, :process 9, :time 2089318165, :index 648}
{:type :ok, :f :write, :value 1, :process 9, :time 2094659606, :index 650}
{:type :invoke, :f :read, :value nil, :process 7, :time 2113930101, :index 652}
{:type :ok, :f :read, :value 1, :process 7, :time 2118506393, :index 653}
{:type :invoke, :f :read, :value nil, :process 5, :time 2133467666, :index 660}
{:type :invoke, :f :write, :value 3, :process 9, :time 2134962207, :index 661}
{:type :ok, :f :read, :value 1, :process 5, :time 2138732462, :index 662}
{:type :ok, :f :write, :value 3, :process 9, :time 2140509218, :index 663}
{:type :invoke, :f :read, :value nil, :process 2, :time 2147236371, :index 664}
{:type :ok, :f :read, :value 3, :process 2, :time 2151655496, :index 665}
{:type :invoke, :f :write, :value 3, :process 2, :time 2184914277, :index 674}
{:type :invoke, :f :read, :value nil, :process 4, :time 2185369221, :index 675}
{:type :ok, :f :write, :value 3, :process 2, :time 2189184946, :index 676}
{:type :ok, :f :read, :value 3, :process 4, :time 2190751999, :index 677}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 2200669805, :index 679}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 2205981180, :index 682}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 2206705108, :index 683}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 2211914454, :index 685}
{:type :invoke, :f :read, :value nil, :process 6, :time 2228992857, :index 691}
{:type :invoke, :f :write, :value 1, :process 8, :time 2230623125, :index 693}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 2231020294, :index 694}
{:type :ok, :f :read, :value 3, :process 6, :time 2233606359, :index 695}
{:type :ok, :f :write, :value 1, :process 8, :time 2236097008, :index 696}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 2236480432, :index 697}
{:type :invoke, :f :write, :value 3, :process 1, :time 2239976564, :index 699}
{:type :ok, :f :write, :value 3, :process 1, :time 2245464673, :index 702}
{:type :invoke, :f :read, :value nil, :process 1, :time 2248716410, :index 704}
{:type :ok, :f :read, :value 3, :process 1, :time 2253518328, :index 706}
{:type :invoke, :f :write, :value 4, :process 9, :time 2277768980, :index 712}
{:type :ok, :f :write, :value 4, :process 9, :time 2283357408, :index 713}
{:type :invoke, :f :cas, :value [4 2], :process 5, :time 2301993328, :index 720}
{:type :invoke, :f :cas, :value [1 1], :process 7, :time 2305772785, :index 721}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 2307241110, :index 722}
{:type :ok, :f :cas, :value [4 2], :process 5, :time 2307373855, :index 723}
{:type :invoke, :f :read, :value nil, :process 2, :time 2307640728, :index 724}
{:type :fail, :f :cas, :value [1 1], :process 7, :time 2311441129, :index 725}
{:type :ok, :f :read, :value 3, :process 2, :time 2312509288, :index 726}
{:type :ok, :f :cas, :value [2 3], :process 3, :time 2313328770, :index 727}
{:type :invoke, :f :write, :value 1, :process 9, :time 2313622977, :index 728}
{:type :ok, :f :write, :value 1, :process 9, :time 2318533569, :index 729}
{:type :invoke, :f :read, :value nil, :process 6, :time 2325876051, :index 730}
{:type :invoke, :f :read, :value nil, :process 3, :time 2327578886, :index 731}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 2328176973, :index 732}
{:type :ok, :f :read, :value 1, :process 6, :time 2330568685, :index 733}
{:type :ok, :f :read, :value 1, :process 3, :time 2332996866, :index 734}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 2333840293, :index 735}
{:type :invoke, :f :read, :value nil, :process 1, :time 2346900474, :index 738}
{:type :ok, :f :read, :value 1, :process 1, :time 2351420129, :index 739}
{:type :invoke, :f :write, :value 3, :process 6, :time 2351868431, :index 740}
{:type :ok, :f :write, :value 3, :process 6, :time 2356714553, :index 741}
{:type :invoke, :f :cas, :value [4 3], :process 9, :time 2372797470, :index 748}
{:type :fail, :f :cas, :value [4 3], :process 9, :time 2378345399, :index 749}
{:type :invoke, :f :write, :value 0, :process 4, :time 2385761934, :index 750}
{:type :invoke, :f :read, :value nil, :process 8, :time 2390369192, :index 752}
{:type :ok, :f :write, :value 0, :process 4, :time 2392755358, :index 753}
{:type :ok, :f :read, :value 0, :process 8, :time 2395548094, :index 756}
{:type :invoke, :f :cas, :value [0 1], :process 2, :time 2397763628, :index 757}
{:type :invoke, :f :write, :value 0, :process 6, :time 2401998389, :index 760}
{:type :ok, :f :cas, :value [0 1], :process 2, :time 2402802519, :index 761}
{:type :ok, :f :write, :value 0, :process 6, :time 2407130963, :index 764}
{:type :invoke, :f :cas, :value [3 1], :process 1, :time 2416688504, :index 766}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 2419712375, :index 767}
{:type :fail, :f :cas, :value [3 1], :process 1, :time 2422183607, :index 769}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 2424956704, :index 770}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 2438658063, :index 773}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 2444361100, :index 775}
{:type :invoke, :f :read, :value nil, :process 5, :time 2450622867, :index 777}
{:type :ok, :f :read, :value 0, :process 5, :time 2455546976, :index 779}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 2484083393, :index 786}
{:type :invoke, :f :read, :value nil, :process 7, :time 2488217655, :index 787}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 2490308520, :index 788}
{:type :ok, :f :read, :value 0, :process 7, :time 2492670717, :index 789}
{:type :invoke, :f :read, :value nil, :process 3, :time 2516251551, :index 790}
{:type :invoke, :f :cas, :value [0 3], :process 5, :time 2517823639, :index 791}
{:type :invoke, :f :read, :value nil, :process 6, :time 2519393149, :index 792}
{:type :ok, :f :cas, :value [0 3], :process 5, :time 2525006742, :index 793}
{:type :invoke, :f :write, :value 1, :process 1, :time 2528421186, :index 795}
{:type :invoke, :f :read, :value nil, :process 0, :time 2542568421, :index 798}
{:type :invoke, :f :write, :value 1, :process 4, :time 2555005068, :index 799}
{:type :invoke, :f :read, :value nil, :process 9, :time 2575618960, :index 803}
{:type :invoke, :f :cas, :value [0 2], :process 2, :time 2593077464, :index 805}
{:type :invoke, :f :read, :value nil, :process 8, :time 2594835469, :index 806}
{:type :ok, :f :read, :value 3, :process 6, :time 3141706147, :index 812}
{:type :ok, :f :read, :value 1, :process 3, :time 3145578720, :index 818}
{:type :ok, :f :write, :value 1, :process 4, :time 3146033132, :index 821}
{:type :ok, :f :read, :value 1, :process 8, :time 3146357069, :index 823}
{:type :ok, :f :read, :value 1, :process 9, :time 3146603976, :index 824}
{:type :ok, :f :read, :value 1, :process 0, :time 3146955602, :index 825}
{:type :fail, :f :cas, :value [0 2], :process 2, :time 3148508331, :index 829}
{:type :ok, :f :write, :value 1, :process 1, :time 3149329006, :index 831}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
