{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
{:type :invoke, :f :write, :value 1, :process 39, :time 59410107916, :index 12752}
{:type :ok, :f :write, :value 1, :process 39, :time 59415499488, :index 12753}
{:type :invoke, :f :cas, :value [1 0], :process 10, :time 59460143613, :index 12756}
{:type :ok, :f :cas, :value [1 0], :process 10, :time 59465710776, :index 12758}
{:type :invoke, :f :read, :value nil, :process 39, :time 59500754249, :index 12764}
{:type :ok, :f :read, :value 0, :process 39, :time 59506088307, :index 12766}
{:type :invoke, :f :write, :value 1, :process 15, :time 59519202064, :index 12771}
{:type :ok, :f :write, :value 1, :process 15, :time 59523506277, :index 12773}
{:type :invoke, :f :write, :value 0, :process 15, :time 59528769373, :index 12774}
{:type :ok, :f :write, :value 0, :process 15, :time 59533334373, :index 12775}
{:type :invoke, :f :read, :value nil, :process 51, :time 59534337139, :index 12776}
{:type :ok, :f :read, :value 0, :process 51, :time 59539693781, :index 12777}
{:type :invoke, :f :read, :value nil, :process 36, :time 59583177194, :index 12782}
{:type :invoke, :f :read, :value nil, :process 39, :time 59585390105, :index 12783}
{:type :ok, :f :read, :value 0, :process 36, :time 59588663684, :index 12785}
{:type :ok, :f :read, :value 0, :process 39, :time 59590793604, :index 12786}
{:type :invoke, :f :cas, :value [3 1], :process 39, :time 59608046843, :index 12788}
{:type :fail, :f :cas, :value [3 1], :process 39, :time 59613943549, :index 12790}
{:type :invoke, :f :read, :value nil, :process 54, :time 59622908860, :index 12792}
{:type :ok, :f :read, :value 0, :process 54, :time 59628317902, :index 12793}
{:type :invoke, :f :read, :value nil, :process 51, :time 59636981605, :index 12794}
{:type :invoke, :f :write, :value 2, :process 10, :time 59640981912, :index 12795}
{:type :ok, :f :read, :value 0, :process 51, :time 59641965377, :index 12796}
{:type :ok, :f :write, :value 2, :process 10, :time 59645862686, :index 12797}
{:type :invoke, :f :read, :value nil, :process 15, :time 59673603269, :index 12803}
{:type :invoke, :f :cas, :value [3 3], :process 36, :time 59674927782, :index 12804}
{:type :ok, :f :read, :value 2, :process 15, :time 59678304186, :index 12805}
{:type :fail, :f :cas, :value [3 3], :process 36, :time 59681675974, :index 12807}
{:type :invoke, :f :read, :value nil, :process 10, :time 59711119368, :index 12809}
{:type :ok, :f :read, :value 2, :process 10, :time 59715363369, :index 12811}
{:type :invoke, :f :write, :value 1, :process 15, :time 59727575843, :index 12813}
{:type :ok, :f :write, :value 1, :process 15, :time 59732300905, :index 12815}
{:type :invoke, :f :cas, :value [1 0], :process 36, :time 59742932459, :index 12818}
{:type :invoke, :f :write, :value 2, :process 39, :time 59746265185, :index 12821}
{:type :ok, :f :cas, :value [1 0], :process 36, :time 59747837108, :index 12822}
{:type :ok, :f :write, :value 2, :process 39, :time 59751265763, :index 12823}
{:type :invoke, :f :cas, :value [4 3], :process 54, :time 59766578098, :index 12827}
{:type :fail, :f :cas, :value [4 3], :process 54, :time 59772009221, :index 12829}
{:type :invoke, :f :read, :value nil, :process 15, :time 59784560745, :index 12832}
{:type :ok, :f :read, :value 2, :process 15, :time 59789640776, :index 12833}
{:type :invoke, :f :cas, :value [1 3], :process 39, :time 59805483479, :index 12837}
{:type :fail, :f :cas, :value [1 3], :process 39, :time 59810938967, :index 12839}
{:type :invoke, :f :write, :value 1, :process 51, :time 59811228047, :index 12840}
{:type :ok, :f :write, :value 1, :process 51, :time 59816344553, :index 12841}
{:type :invoke, :f :cas, :value [0 0], :process 51, :time 59826601673, :index 12842}
{:type :fail, :f :cas, :value [0 0], :process 51, :time 59831611885, :index 12843}
{:type :invoke, :f :read, :value nil, :process 10, :time 59857615601, :index 12847}
{:type :ok, :f :read, :value 1, :process 10, :time 59862503778, :index 12850}
{:type :invoke, :f :read, :value nil, :process 36, :time 59897125984, :index 12860}
{:type :invoke, :f :read, :value nil, :process 39, :time 59897129229, :index 12861}
{:type :ok, :f :read, :value 1, :process 39, :time 59903638818, :index 12862}
{:type :ok, :f :read, :value 1, :process 36, :time 59904231723, :index 12863}
{:type :invoke, :f :read, :value nil, :process 51, :time 59920870448, :index 12865}
{:type :ok, :f :read, :value 1, :process 51, :time 59925792737, :index 12867}
{:type :invoke, :f :write, :value 2, :process 54, :time 59934266987, :index 12868}
{:type :ok, :f :write, :value 2, :process 54, :time 59939902945, :index 12869}
{:type :invoke, :f :read, :value nil, :process 15, :time 59944909606, :index 12871}
{:type :ok, :f :read, :value 2, :process 15, :time 59950073985, :index 12874}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 59986763354, :index 12878}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 59991750004, :index 12879}
