{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :invoke, :f :cas, :value [2 2], :process 21, :time 48331114652, :index 16740}
{:type :fail, :f :cas, :value [2 2], :process 21, :time 48333524457, :error :connect, :index 16743}
{:type :invoke, :f :read, :value nil, :process 5, :time 48359528721, :index 16760}
{:type :fail, :f :read, :value nil, :process 5, :time 48361551165, :error :connect, :index 16761}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 48367690507, :index 16767}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 48369603711, :error :connect, :index 16769}
{:type :invoke, :f :read, :value nil, :process 22, :time 48371314537, :index 16770}
{:type :fail, :f :read, :value nil, :process 22, :time 48373157064, :error :connect, :index 16771}
{:type :invoke, :f :write, :value 4, :process 29, :time 48375923294, :index 16772}
{:type :fail, :f :write, :value 4, :process 29, :time 48377693539, :error :connect, :index 16773}
{:type :invoke, :f :cas, :value [4 1], :process 21, :time 48419790782, :index 16786}
{:type :fail, :f :cas, :value [4 1], :process 21, :time 48421787257, :error :connect, :index 16787}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 48423755740, :index 16788}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 48425592013, :error :connect, :index 16789}
{:type :invoke, :f :read, :value nil, :process 22, :time 48433425219, :index 16791}
{:type :fail, :f :read, :value nil, :process 22, :time 48435370326, :error :connect, :index 16793}
{:type :invoke, :f :write, :value 0, :process 0, :time 48443559252, :index 16798}
{:type :fail, :f :write, :value 0, :process 0, :time 48445573936, :error :connect, :index 16799}
{:type :invoke, :f :write, :value 4, :process 29, :time 48445954051, :index 16800}
{:type :fail, :f :write, :value 4, :process 29, :time 48447478199, :error :connect, :index 16801}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 48447490967, :index 16802}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 48449256017, :error :connect, :index 16803}
{:type :invoke, :f :read, :value nil, :process 7, :time 48456905486, :index 16804}
{:type :fail, :f :read, :value nil, :process 7, :time 48458733414, :error :connect, :index 16805}
{:type :invoke, :f :read, :value nil, :process 3, :time 48482866117, :index 16810}
{:type :fail, :f :read, :value nil, :process 3, :time 48484766276, :error :connect, :index 16811}
{:type :invoke, :f :read, :value nil, :process 21, :time 48498067038, :index 16815}
{:type :fail, :f :read, :value nil, :process 21, :time 48499805679, :error :connect, :index 16817}
{:type :invoke, :f :write, :value 1, :process 8, :time 48508940362, :index 16818}
{:type :fail, :f :write, :value 1, :process 8, :time 48510635938, :error :connect, :index 16820}
{:type :invoke, :f :write, :value 2, :process 5, :time 48523814486, :index 16822}
{:type :fail, :f :write, :value 2, :process 5, :time 48525606675, :error :connect, :index 16823}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 48527634371, :index 16825}
{:type :fail, :f :cas, :value [0 4], :process 22, :time 48530335713, :error :connect, :index 16830}
{:type :invoke, :f :read, :value nil, :process 4, :time 48538523226, :index 16834}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 48538699891, :index 16836}
{:type :invoke, :f :read, :value nil, :process 0, :time 48539848429, :index 16837}
{:type :fail, :f :read, :value nil, :process 4, :time 48540631422, :error :connect, :index 16838}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 48541182137, :error :connect, :index 16840}
{:type :fail, :f :read, :value nil, :process 0, :time 48541567566, :error :connect, :index 16841}
{:type :invoke, :f :read, :value nil, :process 29, :time 48562695657, :index 16842}
{:type :fail, :f :read, :value nil, :process 29, :time 48564857661, :error :connect, :index 16845}
{:type :invoke, :f :read, :value nil, :process 7, :time 48572008349, :index 16848}
{:type :fail, :f :read, :value nil, :process 7, :time 48573775951, :error :connect, :index 16849}
{:type :invoke, :f :write, :value 2, :process 0, :time 48584812108, :index 16850}
{:type :fail, :f :write, :value 2, :process 0, :time 48586857411, :error :connect, :index 16851}
{:type :invoke, :f :read, :value nil, :process 7, :time 48589037396, :index 16852}
{:type :fail, :f :read, :value nil, :process 7, :time 48590847318, :error :connect, :index 16853}
{:type :invoke, :f :cas, :value [2 2], :process 0, :time 48594115457, :index 16854}
{:type :fail, :f :cas, :value [2 2], :process 0, :time 48595981035, :error :connect, :index 16856}
{:type :invoke, :f :write, :value 3, :process 6, :time 48597862678, :index 16858}
{:type :fail, :f :write, :value 3, :process 6, :time 48599850300, :error :connect, :index 16859}
{:type :invoke, :f :read, :value nil, :process 8, :time 48620930920, :index 16860}
{:type :fail, :f :read, :value nil, :process 8, :time 48623340277, :error :connect, :index 16861}
{:type :invoke, :f :write, :value 4, :process 21, :time 48627063078, :index 16862}
{:type :invoke, :f :cas, :value [1 0], :process 29, :time 48628096075, :index 16863}
{:type :fail, :f :write, :value 4, :process 21, :time 48628890544, :error :connect, :index 16864}
{:type :fail, :f :cas, :value [1 0], :process 29, :time 48629974206, :error :connect, :index 16865}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 48630248868, :index 16866}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 48632280288, :error :connect, :index 16867}
{:type :invoke, :f :read, :value nil, :process 5, :time 48640179086, :index 16873}
{:type :fail, :f :read, :value nil, :process 5, :time 48641936307, :error :connect, :index 16875}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 48649026228, :index 16876}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 48650856116, :error :connect, :index 16877}
{:type :invoke, :f :read, :value nil, :process 0, :time 48663542650, :index 16878}
{:type :fail, :f :read, :value nil, :process 0, :time 48665540642, :error :connect, :index 16879}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 48674167471, :index 16882}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 48676010541, :error :connect, :index 16884}
{:type :invoke, :f :read, :value nil, :process 21, :time 48677156470, :index 16885}
{:type :invoke, :f :write, :value 2, :process 22, :time 48677786289, :index 16887}
{:type :fail, :f :read, :value nil, :process 21, :time 48678902168, :error :connect, :index 16888}
{:type :fail, :f :write, :value 2, :process 22, :time 48679560619, :error :connect, :index 16889}
{:type :invoke, :f :write, :value 0, :process 8, :time 48680617773, :index 16890}
{:type :fail, :f :write, :value 0, :process 8, :time 48682674054, :error :connect, :index 16892}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 48683124324, :index 16894}
{:type :invoke, :f :write, :value 0, :process 7, :time 48683157342, :index 16895}
{:type :fail, :f :write, :value 0, :process 7, :time 48684913714, :error :connect, :index 16896}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 48685174026, :error :connect, :index 16897}
{:type :invoke, :f :read, :value nil, :process 7, :time 48686187024, :index 16898}
{:type :fail, :f :read, :value nil, :process 7, :time 48688026428, :error :connect, :index 16899}
{:type :invoke, :f :write, :value 0, :process 8, :time 48692987745, :index 16900}
{:type :fail, :f :write, :value 0, :process 8, :time 48694857105, :error :connect, :index 16901}
{:type :invoke, :f :cas, :value [0 4], :process 4, :time 48695002381, :index 16903}
{:type :fail, :f :cas, :value [0 4], :process 4, :time 48697103773, :error :connect, :index 16905}
{:type :invoke, :f :write, :value 4, :process 0, :time 48708810127, :index 16910}
{:type :fail, :f :write, :value 4, :process 0, :time 48710620216, :error :connect, :index 16911}
{:type :invoke, :f :cas, :value [1 4], :process 8, :time 48713118976, :index 16912}
{:type :fail, :f :cas, :value [1 4], :process 8, :time 48714767062, :error :connect, :index 16913}
{:type :invoke, :f :read, :value nil, :process 21, :time 48721168763, :index 16914}
{:type :fail, :f :read, :value nil, :process 21, :time 48723330355, :error :connect, :index 16915}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 48727284057, :index 16917}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 48729135857, :error :connect, :index 16919}
{:type :invoke, :f :write, :value 0, :process 3, :time 48761137963, :index 16932}
{:type :fail, :f :write, :value 0, :process 3, :time 48763314534, :error :connect, :index 16935}
{:type :invoke, :f :write, :value 2, :process 22, :time 48785828009, :index 16942}
{:type :fail, :f :write, :value 2, :process 22, :time 48787659989, :error :connect, :index 16943}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 48789404778, :index 16944}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 48791229181, :error :connect, :index 16945}
{:type :invoke, :f :write, :value 3, :process 22, :time 48792922336, :index 16946}
{:type :fail, :f :write, :value 3, :process 22, :time 48794715338, :error :connect, :index 16947}
{:type :invoke, :f :cas, :value [0 3], :process 8, :time 48800045983, :index 16950}
{:type :fail, :f :cas, :value [0 3], :process 8, :time 48801899216, :error :connect, :index 16951}
{:type :invoke, :f :write, :value 1, :process 5, :time 48802316591, :index 16952}
{:type :fail, :f :write, :value 1, :process 5, :time 48804179959, :error :connect, :index 16953}
{:type :invoke, :f :write, :value 0, :process 21, :time 48805619209, :index 16954}
{:type :fail, :f :write, :value 0, :process 21, :time 48807604479, :error :connect, :index 16955}
{:type :invoke, :f :write, :value 4, :process 29, :time 48812243202, :index 16957}
{:type :fail, :f :write, :value 4, :process 29, :time 48814372436, :error :connect, :index 16959}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 48852170590, :index 16964}
{:type :fail, :f :cas, :value [3 3], :process 8, :time 48854288303, :error :connect, :index 16965}
{:type :invoke, :f :read, :value nil, :process 4, :time 48855347175, :index 16966}
{:type :fail, :f :read, :value nil, :process 4, :time 48856945273, :error :connect, :index 16967}
{:type :invoke, :f :read, :value nil, :process 7, :time 48859501740, :index 16969}
{:type :fail, :f :read, :value nil, :process 7, :time 48861239078, :error :connect, :index 16971}
{:type :invoke, :f :read, :value nil, :process 3, :time 48866550292, :index 16972}
{:type :fail, :f :read, :value nil, :process 3, :time 48868399174, :error :connect, :index 16973}
{:type :invoke, :f :write, :value 3, :process 8, :time 48869585103, :index 16974}
{:type :invoke, :f :write, :value 0, :process 6, :time 48871451379, :index 16975}
{:type :fail, :f :write, :value 3, :process 8, :time 48871672764, :error :connect, :index 16976}
{:type :fail, :f :write, :value 0, :process 6, :time 48873205766, :error :connect, :index 16977}
{:type :invoke, :f :read, :value nil, :process 21, :time 48891871622, :index 16981}
{:type :fail, :f :read, :value nil, :process 21, :time 48893486397, :error :connect, :index 16983}
{:type :invoke, :f :read, :value nil, :process 0, :time 48900906432, :index 16986}
{:type :fail, :f :read, :value nil, :process 0, :time 48902570799, :error :connect, :index 16987}
{:type :invoke, :f :read, :value nil, :process 3, :time 48905659300, :index 16989}
{:type :fail, :f :read, :value nil, :process 3, :time 48908112354, :error :connect, :index 16992}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 48914215468, :index 16994}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 48916055389, :error :connect, :index 16995}
{:type :invoke, :f :cas, :value [2 2], :process 7, :time 48939519224, :index 17005}
{:type :fail, :f :cas, :value [2 2], :process 7, :time 48941441617, :error :connect, :index 17007}
{:type :invoke, :f :cas, :value [4 2], :process 22, :time 48942977905, :index 17008}
{:type :fail, :f :cas, :value [4 2], :process 22, :time 48945011919, :error :connect, :index 17009}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 48948452609, :index 17010}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 48950319440, :error :connect, :index 17011}
{:type :invoke, :f :write, :value 2, :process 8, :time 48963926979, :index 17012}
{:type :fail, :f :write, :value 2, :process 8, :time 48965940693, :error :connect, :index 17014}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 48975318675, :index 17016}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 48977342809, :error :connect, :index 17017}
{:type :invoke, :f :write, :value 4, :process 29, :time 48983641465, :index 17018}
{:type :fail, :f :write, :value 4, :process 29, :time 48985698656, :error :connect, :index 17020}
{:type :invoke, :f :cas, :value [2 0], :process 7, :time 49004743826, :index 17025}
{:type :fail, :f :cas, :value [2 0], :process 7, :time 49006894033, :error :connect, :index 17027}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 49014204571, :index 17032}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 49015865722, :error :connect, :index 17033}
{:type :invoke, :f :cas, :value [2 0], :process 22, :time 49020277230, :index 17034}
{:type :fail, :f :cas, :value [2 0], :process 22, :time 49022360562, :error :connect, :index 17035}
{:type :invoke, :f :read, :value nil, :process 29, :time 49031965723, :index 17036}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 49033472336, :index 17037}
{:type :fail, :f :read, :value nil, :process 29, :time 49034077026, :error :connect, :index 17038}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 49035447811, :error :connect, :index 17040}
{:type :invoke, :f :write, :value 3, :process 29, :time 49037337759, :index 17042}
{:type :fail, :f :write, :value 3, :process 29, :time 49039122661, :error :connect, :index 17043}
{:type :invoke, :f :write, :value 0, :process 8, :time 49043125704, :index 17044}
{:type :invoke, :f :read, :value nil, :process 21, :time 49043806973, :index 17046}
{:type :fail, :f :write, :value 0, :process 8, :time 49045030998, :error :connect, :index 17047}
{:type :fail, :f :read, :value nil, :process 21, :time 49045918423, :error :connect, :index 17048}
{:type :invoke, :f :cas, :value [0 2], :process 29, :time 49050351314, :index 17050}
{:type :fail, :f :cas, :value [0 2], :process 29, :time 49052419875, :error :connect, :index 17051}
{:type :invoke, :f :read, :value nil, :process 22, :time 49056625558, :index 17052}
{:type :fail, :f :read, :value nil, :process 22, :time 49058646944, :error :connect, :index 17053}
{:type :invoke, :f :write, :value 1, :process 0, :time 49063848319, :index 17056}
{:type :fail, :f :write, :value 1, :process 0, :time 49065947943, :error :connect, :index 17058}
{:type :invoke, :f :read, :value nil, :process 8, :time 49068294368, :index 17060}
{:type :fail, :f :read, :value nil, :process 8, :time 49070137793, :error :connect, :index 17061}
{:type :invoke, :f :read, :value nil, :process 5, :time 49071582451, :index 17062}
{:type :fail, :f :read, :value nil, :process 5, :time 49073578545, :error :connect, :index 17063}
{:type :invoke, :f :cas, :value [0 1], :process 3, :time 49074378713, :index 17064}
{:type :fail, :f :cas, :value [0 1], :process 3, :time 49076626196, :error :connect, :index 17067}
{:type :invoke, :f :read, :value nil, :process 3, :time 49077878923, :index 17068}
{:type :fail, :f :read, :value nil, :process 3, :time 49079866523, :error :connect, :index 17069}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 49084716693, :index 17070}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 49086680598, :error :connect, :index 17072}
{:type :invoke, :f :write, :value 4, :process 22, :time 49104941098, :index 17078}
{:type :fail, :f :write, :value 4, :process 22, :time 49106789864, :error :connect, :index 17079}
{:type :invoke, :f :read, :value nil, :process 0, :time 49138215704, :index 17085}
{:type :fail, :f :read, :value nil, :process 0, :time 49140296255, :error :connect, :index 17087}
{:type :invoke, :f :read, :value nil, :process 22, :time 49145044402, :index 17088}
{:type :fail, :f :read, :value nil, :process 22, :time 49146958590, :error :connect, :index 17090}
{:type :invoke, :f :read, :value nil, :process 3, :time 49152126809, :index 17092}
{:type :fail, :f :read, :value nil, :process 3, :time 49154268337, :error :connect, :index 17093}
{:type :invoke, :f :write, :value 1, :process 4, :time 49156612364, :index 17095}
{:type :fail, :f :write, :value 1, :process 4, :time 49158240819, :error :connect, :index 17097}
{:type :invoke, :f :read, :value nil, :process 7, :time 49167174061, :index 17102}
{:type :invoke, :f :read, :value nil, :process 5, :time 49168838971, :index 17103}
{:type :fail, :f :read, :value nil, :process 7, :time 49169053833, :error :connect, :index 17104}
{:type :fail, :f :read, :value nil, :process 5, :time 49170948128, :error :connect, :index 17105}
{:type :invoke, :f :write, :value 2, :process 21, :time 49176188588, :index 17111}
{:type :fail, :f :write, :value 2, :process 21, :time 49177738860, :error :connect, :index 17113}
{:type :invoke, :f :read, :value nil, :process 8, :time 49191393179, :index 17114}
{:type :fail, :f :read, :value nil, :process 8, :time 49193577409, :error :connect, :index 17116}
{:type :invoke, :f :read, :value nil, :process 22, :time 49215215885, :index 17122}
{:type :fail, :f :read, :value nil, :process 22, :time 49217351309, :error :connect, :index 17123}
{:type :invoke, :f :write, :value 2, :process 6, :time 49244033872, :index 17135}
{:type :fail, :f :write, :value 2, :process 6, :time 49245869265, :error :connect, :index 17137}
{:type :invoke, :f :read, :value nil, :process 29, :time 49249683781, :index 17138}
{:type :fail, :f :read, :value nil, :process 29, :time 49251398361, :error :connect, :index 17139}
{:type :invoke, :f :write, :value 4, :process 3, :time 49254524667, :index 17140}
{:type :fail, :f :write, :value 4, :process 3, :time 49256633532, :error :connect, :index 17141}
{:type :invoke, :f :read, :value nil, :process 0, :time 49281554020, :index 17156}
{:type :fail, :f :read, :value nil, :process 0, :time 49283437993, :error :connect, :index 17157}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
