{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :invoke, :f :read, :value nil, :process 18, :time 18094293347, :index 4868}
{:type :fail, :f :read, :value nil, :process 18, :time 18096212454, :error :connect, :index 4872}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 18110903039, :index 4877}
{:type :fail, :f :cas, :value [4 3], :process 15, :time 18112922798, :error :connect, :index 4879}
{:type :invoke, :f :read, :value nil, :process 15, :time 18124309195, :index 4885}
{:type :fail, :f :read, :value nil, :process 15, :time 18126258379, :error :connect, :index 4888}
{:type :invoke, :f :cas, :value [3 3], :process 39, :time 18168519450, :index 4897}
{:type :fail, :f :cas, :value [3 3], :process 39, :time 18170654069, :error :connect, :index 4899}
{:type :invoke, :f :read, :value nil, :process 33, :time 18172162609, :index 4900}
{:type :fail, :f :read, :value nil, :process 33, :time 18174272514, :error :connect, :index 4901}
{:type :invoke, :f :cas, :value [2 2], :process 10, :time 18178741872, :index 4907}
{:type :fail, :f :cas, :value [2 2], :process 10, :time 18180729823, :error :connect, :index 4909}
{:type :invoke, :f :write, :value 0, :process 18, :time 18182447312, :index 4910}
{:type :fail, :f :write, :value 0, :process 18, :time 18184285672, :error :connect, :index 4911}
{:type :invoke, :f :read, :value nil, :process 18, :time 18187558140, :index 4912}
{:type :invoke, :f :read, :value nil, :process 32, :time 18188961754, :index 4913}
{:type :fail, :f :read, :value nil, :process 18, :time 18189659866, :error :connect, :index 4914}
{:type :invoke, :f :write, :value 4, :process 37, :time 18190367691, :index 4915}
{:type :fail, :f :read, :value nil, :process 32, :time 18191008250, :error :connect, :index 4916}
{:type :fail, :f :write, :value 4, :process 37, :time 18192221765, :error :connect, :index 4917}
{:type :invoke, :f :read, :value nil, :process 36, :time 18248425548, :index 4930}
{:type :fail, :f :read, :value nil, :process 36, :time 18250224110, :error :connect, :index 4931}
{:type :invoke, :f :write, :value 1, :process 15, :time 18250524500, :index 4932}
{:type :fail, :f :write, :value 1, :process 15, :time 18252622199, :error :connect, :index 4933}
{:type :invoke, :f :write, :value 1, :process 36, :time 18258483209, :index 4938}
{:type :fail, :f :write, :value 1, :process 36, :time 18260542592, :error :connect, :index 4939}
{:type :invoke, :f :cas, :value [4 0], :process 37, :time 18286481514, :index 4940}
{:type :fail, :f :cas, :value [4 0], :process 37, :time 18288213026, :error :connect, :index 4941}
{:type :invoke, :f :write, :value 4, :process 15, :time 18297905836, :index 4945}
{:type :fail, :f :write, :value 4, :process 15, :time 18300111787, :error :connect, :index 4947}
{:type :invoke, :f :read, :value nil, :process 34, :time 18301548840, :index 4948}
{:type :fail, :f :read, :value nil, :process 34, :time 18303358987, :error :connect, :index 4949}
{:type :invoke, :f :read, :value nil, :process 18, :time 18308928950, :index 4951}
{:type :fail, :f :read, :value nil, :process 18, :time 18310845325, :error :connect, :index 4953}
{:type :invoke, :f :write, :value 4, :process 32, :time 18325276298, :index 4959}
{:type :fail, :f :write, :value 4, :process 32, :time 18327127398, :error :connect, :index 4961}
{:type :invoke, :f :cas, :value [0 0], :process 33, :time 18332531575, :index 4962}
{:type :fail, :f :cas, :value [0 0], :process 33, :time 18334618653, :error :connect, :index 4963}
{:type :invoke, :f :cas, :value [2 0], :process 39, :time 18342921627, :index 4964}
{:type :fail, :f :cas, :value [2 0], :process 39, :time 18344976230, :error :connect, :index 4965}
{:type :invoke, :f :cas, :value [2 3], :process 18, :time 18348101736, :index 4966}
{:type :fail, :f :cas, :value [2 3], :process 18, :time 18349989176, :error :connect, :index 4967}
{:type :invoke, :f :read, :value nil, :process 10, :time 18352969122, :index 4968}
{:type :fail, :f :read, :value nil, :process 10, :time 18354597138, :error :connect, :index 4969}
{:type :invoke, :f :write, :value 2, :process 33, :time 18360903407, :index 4972}
{:type :fail, :f :write, :value 2, :process 33, :time 18362779447, :error :connect, :index 4973}
{:type :invoke, :f :read, :value nil, :process 32, :time 18378376508, :index 4976}
{:type :fail, :f :read, :value nil, :process 32, :time 18380522680, :error :connect, :index 4977}
{:type :invoke, :f :write, :value 1, :process 18, :time 18381256218, :index 4978}
{:type :fail, :f :write, :value 1, :process 18, :time 18383104672, :error :connect, :index 4979}
{:type :invoke, :f :write, :value 1, :process 36, :time 18388806262, :index 4985}
{:type :fail, :f :write, :value 1, :process 36, :time 18390866207, :error :connect, :index 4987}
{:type :invoke, :f :read, :value nil, :process 39, :time 18401250638, :index 4988}
{:type :fail, :f :read, :value nil, :process 39, :time 18403049717, :error :connect, :index 4989}
{:type :invoke, :f :read, :value nil, :process 32, :time 18409776718, :index 4990}
{:type :fail, :f :read, :value nil, :process 32, :time 18411674077, :error :connect, :index 4992}
{:type :invoke, :f :write, :value 3, :process 36, :time 18424122738, :index 4996}
{:type :fail, :f :write, :value 3, :process 36, :time 18425952038, :error :connect, :index 4997}
{:type :invoke, :f :cas, :value [3 3], :process 11, :time 18427115431, :index 4998}
{:type :fail, :f :cas, :value [3 3], :process 11, :time 18428910187, :error :connect, :index 5000}
{:type :invoke, :f :cas, :value [1 1], :process 15, :time 18440367697, :index 5009}
{:type :invoke, :f :read, :value nil, :process 37, :time 18441496237, :index 5010}
{:type :fail, :f :cas, :value [1 1], :process 15, :time 18442435593, :error :connect, :index 5012}
{:type :fail, :f :read, :value nil, :process 37, :time 18443377311, :error :connect, :index 5013}
{:type :invoke, :f :write, :value 2, :process 18, :time 18447168183, :index 5014}
{:type :fail, :f :write, :value 2, :process 18, :time 18448808676, :error :connect, :index 5015}
{:type :invoke, :f :read, :value nil, :process 10, :time 18465871894, :index 5020}
{:type :fail, :f :read, :value nil, :process 10, :time 18467698218, :error :connect, :index 5021}
{:type :invoke, :f :write, :value 0, :process 33, :time 18485039686, :index 5023}
{:type :fail, :f :write, :value 0, :process 33, :time 18486790588, :error :connect, :index 5025}
{:type :invoke, :f :write, :value 1, :process 34, :time 18495639076, :index 5027}
{:type :invoke, :f :write, :value 2, :process 18, :time 18497071187, :index 5029}
{:type :fail, :f :write, :value 1, :process 34, :time 18497724707, :error :connect, :index 5030}
{:type :invoke, :f :write, :value 1, :process 34, :time 18498987665, :index 5031}
{:type :fail, :f :write, :value 2, :process 18, :time 18499199623, :error :connect, :index 5032}
{:type :fail, :f :write, :value 1, :process 34, :time 18501088620, :error :connect, :index 5033}
{:type :invoke, :f :read, :value nil, :process 39, :time 18523323576, :index 5038}
{:type :fail, :f :read, :value nil, :process 39, :time 18524852638, :error :connect, :index 5039}
{:type :invoke, :f :cas, :value [3 1], :process 34, :time 18550354208, :index 5045}
{:type :fail, :f :cas, :value [3 1], :process 34, :time 18552208012, :error :connect, :index 5049}
{:type :invoke, :f :write, :value 4, :process 15, :time 18556631925, :index 5054}
{:type :fail, :f :write, :value 4, :process 15, :time 18558424641, :error :connect, :index 5055}
{:type :invoke, :f :cas, :value [1 2], :process 39, :time 18561118896, :index 5058}
{:type :fail, :f :cas, :value [1 2], :process 39, :time 18562876116, :error :connect, :index 5059}
{:type :invoke, :f :read, :value nil, :process 15, :time 18564683392, :index 5060}
{:type :fail, :f :read, :value nil, :process 15, :time 18566639641, :error :connect, :index 5061}
{:type :invoke, :f :write, :value 2, :process 34, :time 18567463449, :index 5062}
{:type :invoke, :f :cas, :value [3 3], :process 18, :time 18567453812, :index 5063}
{:type :fail, :f :cas, :value [3 3], :process 18, :time 18569591346, :error :connect, :index 5064}
{:type :fail, :f :write, :value 2, :process 34, :time 18569619326, :error :connect, :index 5065}
{:type :invoke, :f :write, :value 2, :process 32, :time 18577972901, :index 5066}
{:type :fail, :f :write, :value 2, :process 32, :time 18579804553, :error :connect, :index 5067}
{:type :invoke, :f :read, :value nil, :process 10, :time 18593957436, :index 5068}
{:type :invoke, :f :write, :value 3, :process 32, :time 18594062634, :index 5069}
{:type :fail, :f :write, :value 3, :process 32, :time 18595763936, :error :connect, :index 5070}
{:type :fail, :f :read, :value nil, :process 10, :time 18596148571, :error :connect, :index 5071}
{:type :invoke, :f :read, :value nil, :process 36, :time 18599220069, :index 5072}
{:type :invoke, :f :write, :value 0, :process 18, :time 18600904232, :index 5073}
{:type :fail, :f :read, :value nil, :process 36, :time 18601128227, :error :connect, :index 5074}
{:type :fail, :f :write, :value 0, :process 18, :time 18602625353, :error :connect, :index 5075}
{:type :invoke, :f :write, :value 3, :process 11, :time 18612178667, :index 5079}
{:type :fail, :f :write, :value 3, :process 11, :time 18614026385, :error :connect, :index 5081}
{:type :invoke, :f :cas, :value [2 4], :process 37, :time 18630633579, :index 5082}
{:type :fail, :f :cas, :value [2 4], :process 37, :time 18632500517, :error :connect, :index 5084}
{:type :invoke, :f :write, :value 0, :process 33, :time 18639054726, :index 5086}
{:type :fail, :f :write, :value 0, :process 33, :time 18640662631, :error :connect, :index 5087}
{:type :invoke, :f :write, :value 1, :process 18, :time 18645899735, :index 5088}
{:type :fail, :f :write, :value 1, :process 18, :time 18647747930, :error :connect, :index 5089}
{:type :invoke, :f :write, :value 3, :process 34, :time 18653896732, :index 5090}
{:type :fail, :f :write, :value 3, :process 34, :time 18655721398, :error :connect, :index 5091}
{:type :invoke, :f :write, :value 2, :process 39, :time 18674146146, :index 5098}
{:type :fail, :f :write, :value 2, :process 39, :time 18675911871, :error :connect, :index 5099}
{:type :invoke, :f :cas, :value [1 4], :process 18, :time 18683029428, :index 5100}
{:type :invoke, :f :write, :value 2, :process 11, :time 18684304994, :index 5101}
{:type :fail, :f :cas, :value [1 4], :process 18, :time 18685024075, :error :connect, :index 5102}
{:type :fail, :f :write, :value 2, :process 11, :time 18686226462, :error :connect, :index 5103}
{:type :invoke, :f :read, :value nil, :process 11, :time 18686351701, :index 5104}
{:type :fail, :f :read, :value nil, :process 11, :time 18688054463, :error :connect, :index 5105}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 18690369221, :index 5106}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 18692244445, :error :connect, :index 5107}
{:type :invoke, :f :read, :value nil, :process 34, :time 18714978313, :index 5116}
{:type :fail, :f :read, :value nil, :process 34, :time 18716793985, :error :connect, :index 5117}
{:type :invoke, :f :write, :value 1, :process 32, :time 18720034438, :index 5122}
{:type :fail, :f :write, :value 1, :process 32, :time 18722133091, :error :connect, :index 5123}
{:type :invoke, :f :write, :value 0, :process 37, :time 18726729263, :index 5124}
{:type :invoke, :f :cas, :value [3 3], :process 39, :time 18727345622, :index 5126}
{:type :fail, :f :write, :value 0, :process 37, :time 18728612822, :error :connect, :index 5127}
{:type :fail, :f :cas, :value [3 3], :process 39, :time 18729067411, :error :connect, :index 5128}
{:type :invoke, :f :write, :value 4, :process 15, :time 18733927430, :index 5130}
{:type :fail, :f :write, :value 4, :process 15, :time 18735765418, :error :connect, :index 5133}
{:type :invoke, :f :read, :value nil, :process 10, :time 18755397706, :index 5139}
{:type :fail, :f :read, :value nil, :process 10, :time 18757520001, :error :connect, :index 5142}
{:type :invoke, :f :write, :value 3, :process 33, :time 18761923012, :index 5144}
{:type :fail, :f :write, :value 3, :process 33, :time 18763605134, :error :connect, :index 5145}
{:type :invoke, :f :cas, :value [2 3], :process 37, :time 18773871911, :index 5146}
{:type :fail, :f :cas, :value [2 3], :process 37, :time 18775729632, :error :connect, :index 5147}
{:type :invoke, :f :write, :value 0, :process 18, :time 18785289323, :index 5148}
{:type :fail, :f :write, :value 0, :process 18, :time 18787101922, :error :connect, :index 5149}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 18789029635, :index 5151}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 18791079174, :error :connect, :index 5153}
{:type :invoke, :f :read, :value nil, :process 39, :time 18799352270, :index 5154}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 18800318823, :index 5155}
{:type :fail, :f :read, :value nil, :process 39, :time 18801126437, :error :connect, :index 5156}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 18802028195, :error :connect, :index 5157}
{:type :invoke, :f :read, :value nil, :process 10, :time 18826748153, :index 5158}
{:type :fail, :f :read, :value nil, :process 10, :time 18828408752, :error :connect, :index 5160}
{:type :invoke, :f :read, :value nil, :process 36, :time 18856513304, :index 5166}
{:type :fail, :f :read, :value nil, :process 36, :time 18858143263, :error :connect, :index 5167}
{:type :invoke, :f :read, :value nil, :process 10, :time 18864662228, :index 5168}
{:type :fail, :f :read, :value nil, :process 10, :time 18866513498, :error :connect, :index 5169}
{:type :invoke, :f :write, :value 2, :process 36, :time 18867401990, :index 5170}
{:type :fail, :f :write, :value 2, :process 36, :time 18869038951, :error :connect, :index 5171}
{:type :invoke, :f :cas, :value [1 0], :process 36, :time 18869174962, :index 5172}
{:type :fail, :f :cas, :value [1 0], :process 36, :time 18870842764, :error :connect, :index 5173}
{:type :invoke, :f :write, :value 3, :process 32, :time 18891398928, :index 5178}
{:type :invoke, :f :read, :value nil, :process 37, :time 18892002231, :index 5179}
{:type :fail, :f :write, :value 3, :process 32, :time 18893215031, :error :connect, :index 5180}
{:type :fail, :f :read, :value nil, :process 37, :time 18893798017, :error :connect, :index 5181}
{:type :invoke, :f :cas, :value [3 1], :process 33, :time 18900869840, :index 5183}
{:type :invoke, :f :cas, :value [3 3], :process 34, :time 18901071561, :index 5184}
{:type :fail, :f :cas, :value [3 3], :process 34, :time 18903098291, :error :connect, :index 5186}
{:type :fail, :f :cas, :value [3 1], :process 33, :time 18903303564, :error :connect, :index 5187}
{:type :invoke, :f :read, :value nil, :process 11, :time 18908285819, :index 5192}
{:type :fail, :f :read, :value nil, :process 11, :time 18909917648, :error :connect, :index 5193}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 18923366862, :index 5202}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 18925041791, :error :connect, :index 5203}
{:type :invoke, :f :read, :value nil, :process 10, :time 18934727234, :index 5204}
{:type :fail, :f :read, :value nil, :process 10, :time 18936810072, :error :connect, :index 5205}
{:type :invoke, :f :read, :value nil, :process 11, :time 18954177747, :index 5210}
{:type :fail, :f :read, :value nil, :process 11, :time 18956031848, :error :connect, :index 5211}
{:type :invoke, :f :read, :value nil, :process 39, :time 18959397577, :index 5212}
{:type :fail, :f :read, :value nil, :process 39, :time 18961191923, :error :connect, :index 5213}
{:type :invoke, :f :write, :value 4, :process 15, :time 18965354559, :index 5214}
{:type :fail, :f :write, :value 4, :process 15, :time 18967222686, :error :connect, :index 5215}
{:type :invoke, :f :read, :value nil, :process 10, :time 18985066038, :index 5220}
{:type :fail, :f :read, :value nil, :process 10, :time 18987104256, :error :connect, :index 5221}
{:type :invoke, :f :read, :value nil, :process 18, :time 18992265439, :index 5222}
{:type :fail, :f :read, :value nil, :process 18, :time 18994209406, :error :connect, :index 5223}
{:type :invoke, :f :cas, :value [1 2], :process 33, :time 19012565912, :index 5228}
{:type :fail, :f :cas, :value [1 2], :process 33, :time 19014472968, :error :connect, :index 5230}
{:type :invoke, :f :read, :value nil, :process 11, :time 19020297156, :index 5232}
{:type :invoke, :f :read, :value nil, :process 36, :time 19021107436, :index 5233}
{:type :fail, :f :read, :value nil, :process 11, :time 19021941374, :error :connect, :index 5234}
{:type :invoke, :f :write, :value 4, :process 10, :time 19022367800, :index 5235}
{:type :fail, :f :read, :value nil, :process 36, :time 19023018901, :error :connect, :index 5236}
{:type :invoke, :f :read, :value nil, :process 39, :time 19023451928, :index 5237}
{:type :fail, :f :write, :value 4, :process 10, :time 19024308766, :error :connect, :index 5238}
{:type :fail, :f :read, :value nil, :process 39, :time 19025297655, :error :connect, :index 5239}
{:type :invoke, :f :read, :value nil, :process 18, :time 19060491648, :index 5248}
{:type :fail, :f :read, :value nil, :process 18, :time 19062114203, :error :connect, :index 5250}
{:type :invoke, :f :write, :value 3, :process 34, :time 19068377440, :index 5253}
{:type :invoke, :f :write, :value 4, :process 32, :time 19069479642, :index 5254}
{:type :fail, :f :write, :value 3, :process 34, :time 19070494985, :error :connect, :index 5256}
{:type :fail, :f :write, :value 4, :process 32, :time 19071423763, :error :connect, :index 5258}
{:type :invoke, :f :cas, :value [4 1], :process 37, :time 19075050250, :index 5262}
{:type :fail, :f :cas, :value [4 1], :process 37, :time 19076678977, :error :connect, :index 5263}
{:type :invoke, :f :read, :value nil, :process 15, :time 19117486223, :index 5274}
{:type :fail, :f :read, :value nil, :process 15, :time 19119290921, :error :connect, :index 5275}
{:type :invoke, :f :cas, :value [2 1], :process 33, :time 19178755322, :index 5300}
{:type :fail, :f :cas, :value [2 1], :process 33, :time 19180613098, :error :connect, :index 5301}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
