{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :invoke, :f :read, :value nil, :process 7, :time 7759445421, :index 1957}
{:type :invoke, :f :read, :value nil, :process 4, :time 7778457816, :index 1959}
{:type :invoke, :f :read, :value nil, :process 9, :time 7787339420, :index 1960}
{:type :invoke, :f :read, :value nil, :process 5, :time 7793209449, :index 1961}
{:type :invoke, :f :cas, :value [2 1], :process 0, :time 7804313097, :index 1962}
{:type :ok, :f :read, :value nil, :process 7, :time 8000881952, :index 1969}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 8055132602, :index 1970}
{:type :invoke, :f :write, :value 0, :process 2, :time 8112810088, :index 1971}
{:type :ok, :f :read, :value nil, :process 5, :time 8287169639, :index 1973}
{:type :fail, :f :cas, :value [2 1], :process 0, :time 8287932901, :error :not-found, :index 1976}
{:type :ok, :f :read, :value nil, :process 4, :time 8288616120, :index 1978}
{:type :ok, :f :write, :value 0, :process 2, :time 8288902745, :index 1979}
{:type :ok, :f :read, :value nil, :process 9, :time 8289393260, :index 1980}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 8290295876, :error :not-found, :index 1983}
{:type :invoke, :f :read, :value nil, :process 9, :time 8313656950, :index 1984}
{:type :invoke, :f :read, :value nil, :process 4, :time 8329846967, :index 1986}
{:type :invoke, :f :write, :value 1, :process 0, :time 8338655643, :index 1988}
{:type :invoke, :f :cas, :value [0 0], :process 2, :time 8416142223, :index 1991}
{:type :invoke, :f :cas, :value [0 4], :process 5, :time 8449478937, :index 1993}
{:type :invoke, :f :read, :value nil, :process 7, :time 8487587345, :index 1995}
{:type :ok, :f :read, :value 0, :process 9, :time 8799736935, :index 1996}
{:type :ok, :f :write, :value 1, :process 0, :time 8801668332, :index 1998}
{:type :fail, :f :cas, :value [0 4], :process 5, :time 8802084868, :index 2000}
{:type :fail, :f :cas, :value [0 0], :process 2, :time 8802835696, :index 2003}
{:type :ok, :f :read, :value 1, :process 7, :time 8803098215, :index 2004}
{:type :ok, :f :read, :value 1, :process 4, :time 8803921228, :index 2005}
{:type :invoke, :f :write, :value 3, :process 5, :time 8808374722, :index 2008}
{:type :ok, :f :write, :value 3, :process 5, :time 8814499086, :index 2009}
{:type :invoke, :f :read, :value nil, :process 4, :time 8846216265, :index 2011}
{:type :invoke, :f :read, :value nil, :process 5, :time 8866754629, :index 2012}
{:type :invoke, :f :cas, :value [0 3], :process 7, :time 8889343841, :index 2014}
{:type :invoke, :f :cas, :value [3 4], :process 2, :time 8925077926, :index 2017}
{:type :invoke, :f :cas, :value [2 2], :process 9, :time 8938088731, :index 2018}
{:type :invoke, :f :write, :value 2, :process 0, :time 8951929612, :index 2019}
{:type :ok, :f :write, :value 2, :process 0, :time 9665949618, :index 2023}
{:type :ok, :f :read, :value 3, :process 5, :time 9665979521, :index 2024}
{:type :fail, :f :cas, :value [3 4], :process 2, :time 9667181766, :index 2028}
{:type :fail, :f :cas, :value [0 3], :process 7, :time 9667425016, :index 2029}
{:type :ok, :f :read, :value 2, :process 4, :time 9667462110, :index 2030}
{:type :ok, :f :cas, :value [2 2], :process 9, :time 9667960464, :index 2032}
{:type :invoke, :f :write, :value 2, :process 4, :time 9668405188, :index 2033}
{:type :ok, :f :write, :value 2, :process 4, :time 9673916379, :index 2035}
{:type :invoke, :f :write, :value 0, :process 7, :time 9685297998, :index 2036}
{:type :ok, :f :write, :value 0, :process 7, :time 9690433608, :index 2037}
{:type :invoke, :f :read, :value nil, :process 4, :time 9704188411, :index 2039}
{:type :invoke, :f :write, :value 4, :process 7, :time 9707713767, :index 2041}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 9708218621, :index 2042}
{:type :ok, :f :read, :value 0, :process 4, :time 9713649136, :index 2045}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 9714037933, :index 2046}
{:type :ok, :f :write, :value 4, :process 7, :time 9714946229, :index 2047}
{:type :invoke, :f :cas, :value [4 1], :process 4, :time 9718817988, :index 2048}
{:type :ok, :f :cas, :value [4 1], :process 4, :time 9723220437, :index 2049}
{:type :invoke, :f :write, :value 4, :process 9, :time 9749453413, :index 2050}
{:type :ok, :f :write, :value 4, :process 9, :time 9755295226, :index 2052}
{:type :invoke, :f :write, :value 1, :process 7, :time 9774200203, :index 2056}
{:type :ok, :f :write, :value 1, :process 7, :time 9779750658, :index 2057}
{:type :invoke, :f :read, :value nil, :process 2, :time 9784908870, :index 2058}
{:type :ok, :f :read, :value 1, :process 2, :time 9790076793, :index 2059}
{:type :invoke, :f :read, :value nil, :process 9, :time 9830558840, :index 2064}
{:type :invoke, :f :write, :value 2, :process 0, :time 9833299167, :index 2065}
{:type :ok, :f :read, :value 1, :process 9, :time 9836122329, :index 2066}
{:type :ok, :f :write, :value 2, :process 0, :time 9837915586, :index 2067}
{:type :invoke, :f :read, :value nil, :process 5, :time 9858828630, :index 2068}
{:type :ok, :f :read, :value 2, :process 5, :time 9863459740, :index 2070}
{:type :invoke, :f :cas, :value [4 0], :process 4, :time 9906486528, :index 2080}
{:type :invoke, :f :write, :value 2, :process 0, :time 9911165359, :index 2081}
{:type :fail, :f :cas, :value [4 0], :process 4, :time 9913801755, :index 2082}
{:type :ok, :f :write, :value 2, :process 0, :time 9916100015, :index 2084}
{:type :invoke, :f :cas, :value [4 3], :process 7, :time 9952013844, :index 2086}
{:type :fail, :f :cas, :value [4 3], :process 7, :time 9957800456, :index 2087}
{:type :invoke, :f :cas, :value [2 3], :process 5, :time 9980722569, :index 2090}
{:type :ok, :f :cas, :value [2 3], :process 5, :time 9985737151, :index 2093}
{:type :invoke, :f :write, :value 0, :process 2, :time 9988343642, :index 2094}
{:type :ok, :f :write, :value 0, :process 2, :time 9993814150, :index 2095}
{:type :invoke, :f :read, :value nil, :process 9, :time 10009407846, :index 2097}
{:type :invoke, :f :cas, :value [1 1], :process 7, :time 10014061306, :index 2099}
{:type :ok, :f :read, :value 0, :process 9, :time 10014711291, :index 2100}
{:type :invoke, :f :write, :value 2, :process 5, :time 10014979551, :index 2101}
{:type :ok, :f :write, :value 2, :process 5, :time 10020126872, :index 2103}
{:type :fail, :f :cas, :value [1 1], :process 7, :time 10020737610, :index 2104}
{:type :invoke, :f :write, :value 2, :process 4, :time 10056071428, :index 2106}
{:type :invoke, :f :cas, :value [0 1], :process 0, :time 10057377817, :index 2107}
{:type :invoke, :f :read, :value nil, :process 5, :time 10061445005, :index 2109}
{:type :ok, :f :write, :value 2, :process 4, :time 10061702690, :index 2110}
{:type :fail, :f :cas, :value [0 1], :process 0, :time 10062540951, :index 2111}
{:type :ok, :f :read, :value 2, :process 5, :time 10066970038, :index 2113}
{:type :invoke, :f :write, :value 2, :process 9, :time 10070956548, :index 2114}
{:type :invoke, :f :cas, :value [2 4], :process 2, :time 10072074895, :index 2115}
{:type :ok, :f :write, :value 2, :process 9, :time 10075855931, :index 2116}
{:type :ok, :f :cas, :value [2 4], :process 2, :time 10077375614, :index 2117}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 10102057195, :index 2122}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 10108119248, :index 2123}
{:type :invoke, :f :write, :value 2, :process 4, :time 10130955503, :index 2124}
{:type :ok, :f :write, :value 2, :process 4, :time 10136296043, :index 2125}
{:type :invoke, :f :write, :value 1, :process 7, :time 10139400819, :index 2126}
{:type :invoke, :f :write, :value 2, :process 2, :time 10139646994, :index 2127}
{:type :ok, :f :write, :value 1, :process 7, :time 10144949003, :index 2128}
{:type :ok, :f :write, :value 2, :process 2, :time 10145491800, :index 2129}
{:type :invoke, :f :cas, :value [2 2], :process 4, :time 10155559687, :index 2132}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 10175812650, :index 2136}
{:type :invoke, :f :cas, :value [0 4], :process 7, :time 10190214530, :index 2137}
{:type :invoke, :f :write, :value 3, :process 2, :time 10234732635, :index 2140}
{:type :invoke, :f :read, :value nil, :process 9, :time 10238120645, :index 2141}
{:type :invoke, :f :write, :value 4, :process 5, :time 10266235448, :index 2144}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :invoke, :f :read, :value nil, :process 26, :time 10348625058, :index 2153}
{:type :invoke, :f :write, :value 3, :process 23, :time 10373941631, :index 2154}
{:type :invoke, :f :write, :value 4, :process 8, :time 10409028870, :index 2158}
{:type :ok, :f :cas, :value [2 0], :process 0, :time 10417463077, :index 2160}
{:type :ok, :f :write, :value 4, :process 5, :time 10417853192, :index 2163}
{:type :ok, :f :cas, :value [2 2], :process 4, :time 10419246681, :index 2165}
{:type :ok, :f :read, :value 0, :process 9, :time 10419486151, :index 2166}
{:type :fail, :f :cas, :value [0 4], :process 7, :time 10420546935, :index 2167}
{:type :ok, :f :write, :value 3, :process 2, :time 10421020444, :index 2170}
{:type :invoke, :f :read, :value nil, :process 7, :time 10440815751, :index 2173}
{:type :ok, :f :read, :value 3, :process 7, :time 10445944107, :index 2175}
{:type :invoke, :f :cas, :value [3 1], :process 9, :time 10453773512, :index 2176}
{:type :ok, :f :cas, :value [3 1], :process 9, :time 10458305002, :index 2178}
{:type :invoke, :f :read, :value nil, :process 0, :time 10462747763, :index 2180}
{:type :invoke, :f :read, :value nil, :process 4, :time 10462757925, :index 2181}
{:type :ok, :f :read, :value 1, :process 4, :time 10468135399, :index 2182}
{:type :ok, :f :read, :value 1, :process 0, :time 10468399409, :index 2183}
{:type :invoke, :f :read, :value nil, :process 4, :time 10489424256, :index 2184}
{:type :ok, :f :read, :value 1, :process 4, :time 10494987112, :index 2185}
{:type :invoke, :f :write, :value 2, :process 1, :time 10515641579, :index 2188}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :invoke, :f :write, :value 3, :process 2, :time 10520220608, :index 2190}
{:type :ok, :f :write, :value 3, :process 2, :time 10525347707, :index 2191}
{:type :invoke, :f :cas, :value [3 0], :process 2, :time 10556610431, :index 2194}
{:type :invoke, :f :read, :value nil, :process 5, :time 10559119988, :index 2195}
{:type :ok, :f :cas, :value [3 0], :process 2, :time 10562290018, :index 2196}
{:type :invoke, :f :read, :value nil, :process 9, :time 10563584186, :index 2197}
{:type :ok, :f :read, :value 0, :process 5, :time 10564052209, :index 2198}
{:type :ok, :f :read, :value 0, :process 9, :time 10569726256, :index 2199}
{:type :invoke, :f :write, :value 4, :process 9, :time 10571984218, :index 2200}
{:type :ok, :f :write, :value 4, :process 9, :time 10576821051, :index 2201}
{:type :invoke, :f :write, :value 3, :process 0, :time 10577634893, :index 2202}
{:type :invoke, :f :write, :value 2, :process 4, :time 10582165101, :index 2204}
{:type :ok, :f :write, :value 3, :process 0, :time 10583525706, :index 2206}
{:type :invoke, :f :write, :value 4, :process 7, :time 10597224710, :index 2210}
{:type :invoke, :f :write, :value 1, :process 9, :time 10609079189, :index 2212}
{:type :invoke, :f :write, :value 3, :process 5, :time 10624335701, :index 2213}
{:type :invoke, :f :read, :value nil, :process 2, :time 10722557172, :index 2215}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 10745791043, :index 2216}
{:type :ok, :f :write, :value 3, :process 5, :time 10855158823, :index 2221}
{:type :ok, :f :read, :value 3, :process 2, :time 10855474465, :index 2222}
{:type :ok, :f :write, :value 4, :process 7, :time 10855577311, :index 2223}
{:type :ok, :f :write, :value 1, :process 9, :time 10856818147, :index 2227}
{:type :ok, :f :write, :value 2, :process 4, :time 10857114865, :index 2228}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 10857308701, :index 2229}
{:type :invoke, :f :write, :value 4, :process 9, :time 10952683257, :index 2236}
{:type :ok, :f :write, :value 4, :process 9, :time 10959191366, :index 2239}
{:type :invoke, :f :cas, :value [2 1], :process 7, :time 10977842778, :index 2243}
{:type :fail, :f :cas, :value [2 1], :process 7, :time 10984545032, :index 2245}
{:type :invoke, :f :cas, :value [4 3], :process 2, :time 10995823134, :index 2248}
{:type :ok, :f :cas, :value [4 3], :process 2, :time 11003528251, :index 2250}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 11010730661, :index 2254}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 11015904040, :index 2257}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 11019885376, :index 2258}
{:type :invoke, :f :write, :value 0, :process 5, :time 11024399791, :index 2259}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 11025447007, :index 2261}
{:type :ok, :f :write, :value 0, :process 5, :time 11029737706, :index 2262}
{:type :invoke, :f :write, :value 2, :process 7, :time 11040801181, :index 2265}
{:type :ok, :f :write, :value 2, :process 7, :time 11046256540, :index 2267}
{:type :invoke, :f :cas, :value [3 0], :process 7, :time 11075510108, :index 2270}
{:type :fail, :f :cas, :value [3 0], :process 7, :time 11081604637, :index 2274}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 11082756171, :index 2275}
{:type :invoke, :f :read, :value nil, :process 9, :time 11085376645, :index 2277}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 11087897352, :index 2279}
{:type :invoke, :f :read, :value nil, :process 0, :time 11089127960, :index 2280}
{:type :ok, :f :read, :value 2, :process 9, :time 11090841208, :index 2282}
{:type :ok, :f :read, :value 2, :process 0, :time 11094400470, :index 2283}
{:type :invoke, :f :cas, :value [3 2], :process 9, :time 11106120928, :index 2284}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 11109653205, :index 2285}
{:type :fail, :f :cas, :value [3 2], :process 9, :time 11111752958, :index 2286}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 11114567390, :index 2287}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 11132177860, :index 2288}
{:type :invoke, :f :read, :value nil, :process 9, :time 11135026445, :index 2289}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 11137823986, :index 2290}
{:type :ok, :f :read, :value 2, :process 9, :time 11139527835, :index 2291}
{:type :invoke, :f :cas, :value [2 1], :process 7, :time 11151853274, :index 2293}
{:type :ok, :f :cas, :value [2 1], :process 7, :time 11158645991, :index 2297}
{:type :invoke, :f :read, :value nil, :process 2, :time 11192801725, :index 2305}
{:type :ok, :f :read, :value 1, :process 2, :time 11198279293, :index 2307}
{:type :invoke, :f :write, :value 0, :process 0, :time 11211840114, :index 2310}
{:type :invoke, :f :read, :value nil, :process 5, :time 11213996319, :index 2311}
{:type :ok, :f :write, :value 0, :process 0, :time 11219505514, :index 2313}
{:type :ok, :f :read, :value 0, :process 5, :time 11219976099, :index 2314}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 11270090046, :index 2327}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 11275426833, :index 2329}
{:type :invoke, :f :write, :value 4, :process 7, :time 11285895650, :index 2330}
{:type :invoke, :f :read, :value nil, :process 9, :time 11286784792, :index 2331}
{:type :ok, :f :write, :value 4, :process 7, :time 11291742569, :index 2332}
{:type :ok, :f :read, :value 4, :process 9, :time 11292674298, :index 2333}
{:type :invoke, :f :write, :value 4, :process 2, :time 11334554373, :index 2341}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 11338771285, :index 2342}
{:type :ok, :f :read, :value 4, :process 26, :time 12239166478, :index 2350}
{:type :ok, :f :write, :value 2, :process 1, :time 12240289343, :index 2355}
{:type :ok, :f :write, :value 3, :process 23, :time 12240642403, :index 2358}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 12241296761, :index 2359}
{:type :ok, :f :write, :value 4, :process 8, :time 12241616731, :index 2361}
{:type :ok, :f :write, :value 4, :process 2, :time 12719108049, :index 2391}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
