{:type :invoke, :f :write, :value 1, :process 18, :time 1274714209, :index 404}
{:type :ok, :f :write, :value 1, :process 18, :time 1280215038, :index 405}
{:type :invoke, :f :read, :value nil, :process 16, :time 1330233327, :index 413}
{:type :ok, :f :read, :value 1, :process 16, :time 1335776161, :index 415}
{:type :invoke, :f :read, :value nil, :process 16, :time 1369024795, :index 430}
{:type :ok, :f :read, :value 1, :process 16, :time 1373803017, :index 431}
{:type :invoke, :f :write, :value 2, :process 12, :time 1385960342, :index 432}
{:type :invoke, :f :read, :value nil, :process 15, :time 1390953893, :index 434}
{:type :ok, :f :write, :value 2, :process 12, :time 1391607597, :index 435}
{:type :invoke, :f :read, :value nil, :process 17, :time 1393950585, :index 438}
{:type :ok, :f :read, :value 2, :process 15, :time 1395841661, :index 439}
{:type :ok, :f :read, :value 2, :process 17, :time 1399303704, :index 440}
{:type :invoke, :f :read, :value nil, :process 13, :time 1400642121, :index 442}
{:type :ok, :f :read, :value 2, :process 13, :time 1405848125, :index 443}
{:type :invoke, :f :cas, :value [0 3], :process 12, :time 1419862781, :index 446}
{:type :fail, :f :cas, :value [0 3], :process 12, :time 1425494702, :index 448}
{:type :invoke, :f :write, :value 3, :process 10, :time 1434012278, :index 451}
{:type :ok, :f :write, :value 3, :process 10, :time 1439405567, :index 453}
{:type :invoke, :f :write, :value 4, :process 12, :time 1463749794, :index 454}
{:type :ok, :f :write, :value 4, :process 12, :time 1468731686, :index 456}
{:type :invoke, :f :write, :value 3, :process 18, :time 1469476816, :index 457}
{:type :ok, :f :write, :value 3, :process 18, :time 1474174159, :index 459}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 1475679809, :index 460}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 1480458727, :index 461}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 1493095384, :index 462}
{:type :ok, :f :cas, :value [3 3], :process 15, :time 1498241355, :index 463}
{:type :invoke, :f :cas, :value [0 1], :process 11, :time 1498410050, :index 464}
{:type :fail, :f :cas, :value [0 1], :process 11, :time 1504048014, :index 465}
{:type :invoke, :f :read, :value nil, :process 16, :time 1510072642, :index 469}
{:type :ok, :f :read, :value 3, :process 16, :time 1515796982, :index 474}
{:type :invoke, :f :cas, :value [4 0], :process 17, :time 1516578286, :index 475}
{:type :fail, :f :cas, :value [4 0], :process 17, :time 1521979365, :index 477}
{:type :invoke, :f :write, :value 3, :process 12, :time 1528993309, :index 478}
{:type :ok, :f :write, :value 3, :process 12, :time 1535451424, :index 483}
{:type :invoke, :f :read, :value nil, :process 12, :time 1537712979, :index 484}
{:type :ok, :f :read, :value 3, :process 12, :time 1542652630, :index 487}
{:type :invoke, :f :read, :value nil, :process 18, :time 1561423820, :index 494}
{:type :invoke, :f :write, :value 4, :process 19, :time 1564113511, :index 495}
{:type :ok, :f :read, :value 3, :process 18, :time 1566831566, :index 496}
{:type :ok, :f :write, :value 4, :process 19, :time 1568980506, :index 497}
{:type :invoke, :f :read, :value nil, :process 11, :time 1583306133, :index 499}
{:type :invoke, :f :cas, :value [4 1], :process 13, :time 1585106005, :index 500}
{:type :ok, :f :read, :value 4, :process 11, :time 1588048226, :index 502}
{:type :ok, :f :cas, :value [4 1], :process 13, :time 1589948166, :index 503}
{:type :invoke, :f :read, :value nil, :process 13, :time 1612236889, :index 512}
{:type :ok, :f :read, :value 1, :process 13, :time 1617427584, :index 515}
{:type :invoke, :f :write, :value 3, :process 11, :time 1635315124, :index 517}
{:type :invoke, :f :read, :value nil, :process 16, :time 1640056412, :index 519}
{:type :ok, :f :write, :value 3, :process 11, :time 1640540339, :index 520}
{:type :invoke, :f :read, :value nil, :process 13, :time 1641676287, :index 521}
{:type :ok, :f :read, :value 3, :process 16, :time 1645253140, :index 522}
{:type :invoke, :f :cas, :value [0 0], :process 11, :time 1646727959, :index 523}
{:type :ok, :f :read, :value 3, :process 13, :time 1647263606, :index 524}
{:type :invoke, :f :cas, :value [3 1], :process 19, :time 1647266914, :index 525}
{:type :invoke, :f :cas, :value [2 2], :process 17, :time 1650263356, :index 527}
{:type :invoke, :f :write, :value 4, :process 12, :time 1651991881, :index 528}
{:type :fail, :f :cas, :value [0 0], :process 11, :time 1652523624, :index 529}
{:type :invoke, :f :write, :value 3, :process 15, :time 1652689692, :index 530}
{:type :ok, :f :cas, :value [3 1], :process 19, :time 1652839705, :index 531}
{:type :fail, :f :cas, :value [2 2], :process 17, :time 1657434660, :index 534}
{:type :ok, :f :write, :value 4, :process 12, :time 1657537862, :index 535}
{:type :ok, :f :write, :value 3, :process 15, :time 1657770363, :index 536}
{:type :invoke, :f :read, :value nil, :process 14, :time 1677414655, :index 544}
{:type :invoke, :f :read, :value nil, :process 10, :time 1677725397, :index 545}
{:type :ok, :f :read, :value 3, :process 10, :time 1683315770, :index 548}
{:type :ok, :f :read, :value 3, :process 14, :time 1683573147, :index 549}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 1686511196, :index 551}
{:type :fail, :f :cas, :value [1 0], :process 16, :time 1691853447, :index 554}
{:type :invoke, :f :cas, :value [4 2], :process 12, :time 1705799076, :index 558}
{:type :fail, :f :cas, :value [4 2], :process 12, :time 1711681777, :index 559}
{:type :invoke, :f :write, :value 0, :process 13, :time 1716520488, :index 560}
{:type :invoke, :f :write, :value 0, :process 18, :time 1723084932, :index 563}
{:type :ok, :f :write, :value 0, :process 13, :time 1723851302, :index 564}
{:type :ok, :f :write, :value 0, :process 18, :time 1728192912, :index 565}
{:type :invoke, :f :read, :value nil, :process 16, :time 1730108304, :index 566}
{:type :invoke, :f :read, :value nil, :process 17, :time 1731729329, :index 567}
{:type :invoke, :f :write, :value 2, :process 12, :time 1732937211, :index 568}
{:type :ok, :f :read, :value 0, :process 16, :time 1734808327, :index 569}
{:type :ok, :f :read, :value 0, :process 17, :time 1736970334, :index 570}
{:type :ok, :f :write, :value 2, :process 12, :time 1738111534, :index 571}
{:type :invoke, :f :cas, :value [0 4], :process 16, :time 1739072989, :index 573}
{:type :fail, :f :cas, :value [0 4], :process 16, :time 1744210301, :index 574}
{:type :invoke, :f :write, :value 2, :process 11, :time 1779788421, :index 583}
{:type :ok, :f :write, :value 2, :process 11, :time 1785446326, :index 585}
{:type :invoke, :f :write, :value 0, :process 19, :time 1795083210, :index 587}
{:type :ok, :f :write, :value 0, :process 19, :time 1799844901, :index 589}
{:type :invoke, :f :cas, :value [2 2], :process 10, :time 1814576647, :index 594}
{:type :fail, :f :cas, :value [2 2], :process 10, :time 1820693202, :index 597}
{:type :invoke, :f :cas, :value [0 1], :process 14, :time 1855827752, :index 601}
{:type :invoke, :f :cas, :value [1 2], :process 15, :time 1856044968, :index 602}
{:type :fail, :f :cas, :value [1 2], :process 15, :time 1861050456, :index 605}
{:type :ok, :f :cas, :value [0 1], :process 14, :time 1863267753, :index 606}
{:type :invoke, :f :read, :value nil, :process 19, :time 1876131559, :index 609}
{:type :ok, :f :read, :value 1, :process 19, :time 1881347372, :index 613}
{:type :invoke, :f :write, :value 4, :process 15, :time 1882326485, :index 614}
{:type :ok, :f :write, :value 4, :process 15, :time 1886621306, :index 618}
{:type :invoke, :f :read, :value nil, :process 16, :time 1899469239, :index 623}
{:type :ok, :f :read, :value 4, :process 16, :time 1907360981, :index 627}
{:type :invoke, :f :cas, :value [4 3], :process 17, :time 1911245371, :index 630}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 1913455885, :index 631}
{:type :invoke, :f :read, :value nil, :process 12, :time 1915363943, :index 633}
{:type :ok, :f :cas, :value [4 3], :process 17, :time 1916848430, :index 635}
{:type :invoke, :f :cas, :value [1 4], :process 13, :time 1917133690, :index 636}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 1919077464, :index 637}
{:type :ok, :f :read, :value 3, :process 12, :time 1920824670, :index 638}
{:type :fail, :f :cas, :value [1 4], :process 13, :time 1922376024, :index 641}
{:type :invoke, :f :read, :value nil, :process 15, :time 1929888071, :index 642}
{:type :invoke, :f :cas, :value [3 4], :process 18, :time 1930372892, :index 643}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 1933954421, :index 644}
{:type :ok, :f :read, :value 3, :process 15, :time 1935021668, :index 645}
{:type :ok, :f :cas, :value [3 4], :process 18, :time 1935949750, :index 646}
{:type :ok, :f :cas, :value [4 1], :process 10, :time 1938904846, :index 648}
{:type :invoke, :f :cas, :value [0 3], :process 11, :time 1959740873, :index 654}
{:type :fail, :f :cas, :value [0 3], :process 11, :time 1966297581, :index 657}
{:type :invoke, :f :read, :value nil, :process 18, :time 1974221289, :index 659}
{:type :ok, :f :read, :value 1, :process 18, :time 1979693573, :index 661}
{:type :invoke, :f :read, :value nil, :process 11, :time 1988548253, :index 665}
{:type :ok, :f :read, :value 1, :process 11, :time 1994483416, :index 669}
{:type :invoke, :f :read, :value nil, :process 12, :time 1996113224, :index 670}
{:type :ok, :f :read, :value 1, :process 12, :time 2001155512, :index 672}
{:type :invoke, :f :cas, :value [2 3], :process 19, :time 2008768575, :index 673}
{:type :fail, :f :cas, :value [2 3], :process 19, :time 2013870909, :index 674}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 2018621024, :index 676}
{:type :ok, :f :cas, :value [1 0], :process 16, :time 2023854482, :index 678}
{:type :invoke, :f :write, :value 3, :process 17, :time 2026114771, :index 679}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 2029280890, :index 680}
{:type :ok, :f :write, :value 3, :process 17, :time 2031407386, :index 681}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 2034020987, :index 682}
{:type :invoke, :f :cas, :value [1 2], :process 14, :time 2046523806, :index 683}
{:type :fail, :f :cas, :value [1 2], :process 14, :time 2052027660, :index 685}
{:type :invoke, :f :write, :value 0, :process 15, :time 2053272939, :index 686}
{:type :invoke, :f :write, :value 2, :process 17, :time 2056666046, :index 688}
{:type :ok, :f :write, :value 0, :process 15, :time 2057388690, :index 689}
{:type :ok, :f :write, :value 2, :process 17, :time 2062040178, :index 692}
{:type :invoke, :f :write, :value 0, :process 13, :time 2077614943, :index 696}
{:type :ok, :f :write, :value 0, :process 13, :time 2082531479, :index 698}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 2111112757, :index 701}
{:type :invoke, :f :read, :value nil, :process 10, :time 2112176668, :index 702}
{:type :invoke, :f :cas, :value [4 4], :process 14, :time 2112283725, :index 703}
{:type :invoke, :f :cas, :value [3 1], :process 11, :time 2112870911, :index 704}
{:type :fail, :f :cas, :value [2 4], :process 16, :time 2117768731, :index 705}
{:type :ok, :f :read, :value 0, :process 10, :time 2117768965, :index 706}
{:type :fail, :f :cas, :value [4 4], :process 14, :time 2118511166, :index 707}
{:type :fail, :f :cas, :value [3 1], :process 11, :time 2118917502, :index 708}
{:type :invoke, :f :cas, :value [3 0], :process 19, :time 2129141346, :index 712}
{:type :fail, :f :cas, :value [3 0], :process 19, :time 2135216188, :index 714}
{:type :invoke, :f :write, :value 1, :process 18, :time 2148957394, :index 715}
{:type :ok, :f :write, :value 1, :process 18, :time 2154392999, :index 716}
{:type :invoke, :f :read, :value nil, :process 15, :time 2155634065, :index 717}
{:type :invoke, :f :cas, :value [2 3], :process 16, :time 2160046062, :index 719}
{:type :ok, :f :read, :value 1, :process 15, :time 2160419577, :index 720}
{:type :fail, :f :cas, :value [2 3], :process 16, :time 2165730118, :index 723}
{:type :invoke, :f :cas, :value [3 1], :process 17, :time 2170330633, :index 726}
{:type :fail, :f :cas, :value [3 1], :process 17, :time 2175340619, :index 728}
{:type :invoke, :f :write, :value 0, :process 14, :time 2181776869, :index 731}
{:type :ok, :f :write, :value 0, :process 14, :time 2186732424, :index 734}
{:type :invoke, :f :write, :value 0, :process 12, :time 2189418030, :index 735}
{:type :ok, :f :write, :value 0, :process 12, :time 2194936715, :index 736}
{:type :invoke, :f :write, :value 0, :process 10, :time 2196044862, :index 737}
{:type :ok, :f :write, :value 0, :process 10, :time 2200612201, :index 738}
{:type :invoke, :f :write, :value 4, :process 17, :time 2224613515, :index 742}
{:type :ok, :f :write, :value 4, :process 17, :time 2230238264, :index 743}
{:type :invoke, :f :cas, :value [2 3], :process 13, :time 2236782110, :index 744}
{:type :invoke, :f :cas, :value [1 1], :process 14, :time 2238981564, :index 745}
{:type :fail, :f :cas, :value [2 3], :process 13, :time 2242544400, :index 746}
{:type :invoke, :f :write, :value 3, :process 11, :time 2246165676, :index 747}
{:type :ok, :f :write, :value 3, :process 11, :time 2252065137, :index 750}
{:type :invoke, :f :read, :value nil, :process 17, :time 2270495147, :index 753}
{:type :invoke, :f :read, :value nil, :process 18, :time 2275655375, :index 757}
{:type :ok, :f :read, :value 3, :process 17, :time 2276494794, :index 758}
{:type :ok, :f :read, :value 3, :process 18, :time 2281104222, :index 761}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 2281866647, :index 762}
{:type :invoke, :f :cas, :value [0 3], :process 19, :time 2286457674, :index 764}
{:type :invoke, :f :cas, :value [1 4], :process 17, :time 2286736712, :index 765}
{:type :ok, :f :cas, :value [3 2], :process 10, :time 2288551802, :index 766}
{:type :invoke, :f :cas, :value [1 2], :process 16, :time 2296982908, :index 768}
{:type :fail, :f :cas, :value [1 2], :process 16, :time 2303052463, :index 770}
{:type :invoke, :f :write, :value 0, :process 12, :time 2307196225, :index 773}
{:type :invoke, :f :write, :value 4, :process 11, :time 2308299419, :index 774}
{:type :invoke, :f :read, :value nil, :process 10, :time 2308856593, :index 775}
{:type :ok, :f :write, :value 4, :process 11, :time 2315199888, :index 777}
{:type :ok, :f :read, :value 4, :process 10, :time 2315715918, :index 778}
{:type :invoke, :f :read, :value nil, :process 15, :time 2320658795, :index 779}
{:type :ok, :f :read, :value 4, :process 15, :time 2324864703, :index 780}
{:type :invoke, :f :read, :value nil, :process 13, :time 2355803326, :index 783}
{:type :ok, :f :read, :value 4, :process 13, :time 2361513710, :index 784}
{:type :invoke, :f :write, :value 4, :process 18, :time 2430355492, :index 792}
{:type :ok, :f :write, :value 4, :process 18, :time 2435421563, :index 793}
{:type :invoke, :f :write, :value 0, :process 16, :time 2441310441, :index 795}
{:type :ok, :f :write, :value 0, :process 16, :time 2447042923, :index 796}
{:type :invoke, :f :write, :value 0, :process 11, :time 2467436604, :index 803}
{:type :ok, :f :write, :value 0, :process 11, :time 2472716239, :index 804}
{:type :invoke, :f :write, :value 4, :process 10, :time 2480977261, :index 809}
{:type :ok, :f :write, :value 4, :process 10, :time 2486997420, :index 811}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 2523128632, :index 820}
{:type :ok, :f :cas, :value [4 0], :process 15, :time 2527597605, :index 822}
{:type :ok, :f :write, :value 0, :process 12, :time 2843150380, :index 904}
{:type :fail, :f :cas, :value [1 4], :process 17, :time 2843669217, :index 905}
{:type :ok, :f :cas, :value [0 3], :process 19, :time 3042995082, :index 959}
{:type :fail, :f :cas, :value [1 1], :process 14, :time 3043031097, :index 960}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
