{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :invoke, :f :write, :value 1, :process 5, :time 22834610125, :index 6752}
{:type :fail, :f :write, :value 1, :process 5, :time 22836482224, :error :connect, :index 6753}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 22840665554, :index 6758}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 22842256287, :error :connect, :index 6759}
{:type :invoke, :f :write, :value 3, :process 6, :time 22858752324, :index 6766}
{:type :fail, :f :write, :value 3, :process 6, :time 22860630641, :error :connect, :index 6767}
{:type :invoke, :f :write, :value 1, :process 22, :time 22884325743, :index 6770}
{:type :fail, :f :write, :value 1, :process 22, :time 22885957937, :error :connect, :index 6771}
{:type :invoke, :f :write, :value 2, :process 6, :time 22885904250, :index 6772}
{:type :fail, :f :write, :value 2, :process 6, :time 22887568041, :error :connect, :index 6773}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 22915833888, :index 6782}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 22917712891, :error :connect, :index 6783}
{:type :invoke, :f :write, :value 2, :process 29, :time 22926191960, :index 6788}
{:type :invoke, :f :read, :value nil, :process 22, :time 22927208916, :index 6790}
{:type :fail, :f :write, :value 2, :process 29, :time 22928121686, :error :connect, :index 6791}
{:type :fail, :f :read, :value nil, :process 22, :time 22929286926, :error :connect, :index 6793}
{:type :invoke, :f :write, :value 0, :process 0, :time 22934163801, :index 6795}
{:type :fail, :f :write, :value 0, :process 0, :time 22935965577, :error :connect, :index 6797}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 22942343096, :index 6800}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 22944252175, :error :connect, :index 6801}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 22944391954, :index 6802}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 22946251340, :error :connect, :index 6803}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 22947230863, :index 6804}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 22949229214, :error :connect, :index 6805}
{:type :invoke, :f :cas, :value [0 0], :process 5, :time 22949675693, :index 6806}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 22949902852, :index 6807}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 22951948613, :error :connect, :index 6809}
{:type :fail, :f :cas, :value [0 0], :process 5, :time 22952108900, :error :connect, :index 6810}
{:type :invoke, :f :write, :value 4, :process 3, :time 22959234043, :index 6812}
{:type :invoke, :f :cas, :value [4 3], :process 21, :time 22960523364, :index 6813}
{:type :fail, :f :write, :value 4, :process 3, :time 22960981681, :error :connect, :index 6814}
{:type :fail, :f :cas, :value [4 3], :process 21, :time 22962779001, :error :connect, :index 6815}
{:type :invoke, :f :write, :value 2, :process 22, :time 22969518567, :index 6816}
{:type :fail, :f :write, :value 2, :process 22, :time 22971421230, :error :connect, :index 6817}
{:type :invoke, :f :read, :value nil, :process 5, :time 22975345473, :index 6818}
{:type :fail, :f :read, :value nil, :process 5, :time 22977421736, :error :connect, :index 6820}
{:type :invoke, :f :write, :value 1, :process 21, :time 22981039137, :index 6822}
{:type :fail, :f :write, :value 1, :process 21, :time 22983016053, :error :connect, :index 6824}
{:type :invoke, :f :read, :value nil, :process 7, :time 22992479766, :index 6831}
{:type :fail, :f :read, :value nil, :process 7, :time 22994540130, :error :connect, :index 6833}
{:type :invoke, :f :read, :value nil, :process 0, :time 23006494263, :index 6834}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 23006994782, :index 6835}
{:type :fail, :f :read, :value nil, :process 0, :time 23008660608, :error :connect, :index 6836}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 23008932022, :error :connect, :index 6837}
{:type :invoke, :f :cas, :value [3 3], :process 7, :time 23025803635, :index 6840}
{:type :fail, :f :cas, :value [3 3], :process 7, :time 23027448493, :error :connect, :index 6841}
{:type :invoke, :f :read, :value nil, :process 22, :time 23056680524, :index 6854}
{:type :fail, :f :read, :value nil, :process 22, :time 23058494524, :error :connect, :index 6855}
{:type :invoke, :f :cas, :value [2 1], :process 21, :time 23061308279, :index 6857}
{:type :fail, :f :cas, :value [2 1], :process 21, :time 23063493042, :error :connect, :index 6859}
{:type :invoke, :f :read, :value nil, :process 22, :time 23065766372, :index 6860}
{:type :fail, :f :read, :value nil, :process 22, :time 23067815856, :error :connect, :index 6861}
{:type :invoke, :f :read, :value nil, :process 8, :time 23071518779, :index 6864}
{:type :fail, :f :read, :value nil, :process 8, :time 23073399249, :error :connect, :index 6865}
{:type :invoke, :f :read, :value nil, :process 7, :time 23074729670, :index 6866}
{:type :fail, :f :read, :value nil, :process 7, :time 23076588710, :error :connect, :index 6867}
{:type :invoke, :f :read, :value nil, :process 4, :time 23088510198, :index 6869}
{:type :invoke, :f :read, :value nil, :process 7, :time 23088881522, :index 6871}
{:type :invoke, :f :write, :value 0, :process 21, :time 23089754848, :index 6872}
{:type :fail, :f :read, :value nil, :process 4, :time 23090515883, :error :connect, :index 6873}
{:type :fail, :f :read, :value nil, :process 7, :time 23090819157, :error :connect, :index 6874}
{:type :fail, :f :write, :value 0, :process 21, :time 23091651432, :error :connect, :index 6875}
{:type :invoke, :f :cas, :value [0 2], :process 29, :time 23108399032, :index 6878}
{:type :fail, :f :cas, :value [0 2], :process 29, :time 23110228503, :error :connect, :index 6879}
{:type :invoke, :f :read, :value nil, :process 3, :time 23125226347, :index 6882}
{:type :fail, :f :read, :value nil, :process 3, :time 23127169295, :error :connect, :index 6883}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 23140940125, :index 6888}
{:type :invoke, :f :read, :value nil, :process 7, :time 23141127255, :index 6889}
{:type :fail, :f :read, :value nil, :process 7, :time 23142914224, :error :connect, :index 6890}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 23143219330, :error :connect, :index 6891}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 23149174668, :index 6892}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 23150985438, :error :connect, :index 6893}
{:type :invoke, :f :write, :value 1, :process 21, :time 23159907501, :index 6896}
{:type :fail, :f :write, :value 1, :process 21, :time 23161544757, :error :connect, :index 6897}
{:type :invoke, :f :write, :value 1, :process 3, :time 23162430275, :index 6898}
{:type :fail, :f :write, :value 1, :process 3, :time 23164319581, :error :connect, :index 6899}
{:type :invoke, :f :write, :value 4, :process 5, :time 23164722640, :index 6900}
{:type :fail, :f :write, :value 4, :process 5, :time 23166556392, :error :connect, :index 6901}
{:type :invoke, :f :read, :value nil, :process 6, :time 23170176963, :index 6903}
{:type :fail, :f :read, :value nil, :process 6, :time 23172175215, :error :connect, :index 6905}
{:type :invoke, :f :cas, :value [1 1], :process 22, :time 23180075511, :index 6906}
{:type :fail, :f :cas, :value [1 1], :process 22, :time 23182113660, :error :connect, :index 6908}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 23191458486, :index 6910}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 23193536630, :error :connect, :index 6911}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 23203254241, :index 6912}
{:type :fail, :f :cas, :value [1 3], :process 7, :time 23205373511, :error :connect, :index 6913}
{:type :invoke, :f :read, :value nil, :process 22, :time 23232380025, :index 6932}
{:type :fail, :f :read, :value nil, :process 22, :time 23234059826, :error :connect, :index 6933}
{:type :invoke, :f :write, :value 1, :process 29, :time 23242505184, :index 6935}
{:type :fail, :f :write, :value 1, :process 29, :time 23244531264, :error :connect, :index 6937}
{:type :invoke, :f :cas, :value [0 3], :process 8, :time 23267660333, :index 6942}
{:type :fail, :f :cas, :value [0 3], :process 8, :time 23269298542, :error :connect, :index 6943}
{:type :invoke, :f :read, :value nil, :process 4, :time 23280787075, :index 6946}
{:type :fail, :f :read, :value nil, :process 4, :time 23282382727, :error :connect, :index 6947}
{:type :invoke, :f :read, :value nil, :process 21, :time 23287805551, :index 6948}
{:type :fail, :f :read, :value nil, :process 21, :time 23289867602, :error :connect, :index 6949}
{:type :invoke, :f :read, :value nil, :process 7, :time 23313642254, :index 6957}
{:type :fail, :f :read, :value nil, :process 7, :time 23315518941, :error :connect, :index 6959}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 23322586674, :index 6963}
{:type :fail, :f :cas, :value [4 4], :process 3, :time 23324664950, :error :connect, :index 6965}
{:type :invoke, :f :write, :value 2, :process 29, :time 23325786593, :index 6966}
{:type :fail, :f :write, :value 2, :process 29, :time 23327590328, :error :connect, :index 6967}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 23349808024, :index 6976}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 23351904886, :error :connect, :index 6977}
{:type :invoke, :f :write, :value 2, :process 5, :time 23362830593, :index 6978}
{:type :invoke, :f :write, :value 3, :process 6, :time 23364436856, :index 6979}
{:type :fail, :f :write, :value 2, :process 5, :time 23364969352, :error :connect, :index 6980}
{:type :fail, :f :write, :value 3, :process 6, :time 23366550528, :error :connect, :index 6981}
{:type :invoke, :f :cas, :value [1 1], :process 22, :time 23370317719, :index 6982}
{:type :fail, :f :cas, :value [1 1], :process 22, :time 23372267488, :error :connect, :index 6983}
{:type :invoke, :f :write, :value 0, :process 21, :time 23379124342, :index 6984}
{:type :fail, :f :write, :value 0, :process 21, :time 23381240515, :error :connect, :index 6985}
{:type :invoke, :f :read, :value nil, :process 8, :time 23386571028, :index 6989}
{:type :fail, :f :read, :value nil, :process 8, :time 23388363673, :error :connect, :index 6991}
{:type :invoke, :f :write, :value 2, :process 8, :time 23392647795, :index 6994}
{:type :invoke, :f :write, :value 3, :process 7, :time 23393783132, :index 6995}
{:type :fail, :f :write, :value 2, :process 8, :time 23394334855, :error :connect, :index 6996}
{:type :fail, :f :write, :value 3, :process 7, :time 23395579479, :error :connect, :index 6997}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 23396251733, :index 6998}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 23397866376, :error :connect, :index 6999}
{:type :invoke, :f :read, :value nil, :process 4, :time 23405652464, :index 7002}
{:type :fail, :f :read, :value nil, :process 4, :time 23407351071, :error :connect, :index 7003}
{:type :invoke, :f :write, :value 4, :process 5, :time 23409132352, :index 7004}
{:type :fail, :f :write, :value 4, :process 5, :time 23411084617, :error :connect, :index 7005}
{:type :invoke, :f :read, :value nil, :process 8, :time 23411583293, :index 7006}
{:type :fail, :f :read, :value nil, :process 8, :time 23413631078, :error :connect, :index 7007}
{:type :invoke, :f :write, :value 2, :process 4, :time 23414613994, :index 7008}
{:type :fail, :f :write, :value 2, :process 4, :time 23416401667, :error :connect, :index 7009}
{:type :invoke, :f :write, :value 2, :process 6, :time 23425805399, :index 7010}
{:type :fail, :f :write, :value 2, :process 6, :time 23427784617, :error :connect, :index 7012}
{:type :invoke, :f :read, :value nil, :process 0, :time 23432169108, :index 7014}
{:type :fail, :f :read, :value nil, :process 0, :time 23434219907, :error :connect, :index 7015}
{:type :invoke, :f :cas, :value [1 1], :process 22, :time 23444539488, :index 7020}
{:type :fail, :f :cas, :value [1 1], :process 22, :time 23446409590, :error :connect, :index 7021}
{:type :invoke, :f :read, :value nil, :process 3, :time 23447920587, :index 7022}
{:type :fail, :f :read, :value nil, :process 3, :time 23449840813, :error :connect, :index 7024}
{:type :invoke, :f :write, :value 0, :process 29, :time 23461864049, :index 7029}
{:type :fail, :f :write, :value 0, :process 29, :time 23463546260, :error :connect, :index 7031}
{:type :invoke, :f :read, :value nil, :process 21, :time 23505505417, :index 7034}
{:type :fail, :f :read, :value nil, :process 21, :time 23507440067, :error :connect, :index 7035}
{:type :invoke, :f :read, :value nil, :process 6, :time 23511025216, :index 7036}
{:type :fail, :f :read, :value nil, :process 6, :time 23512877565, :error :connect, :index 7037}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 23537105195, :index 7044}
{:type :invoke, :f :read, :value nil, :process 0, :time 23537471530, :index 7045}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 23539223609, :error :connect, :index 7047}
{:type :fail, :f :read, :value nil, :process 0, :time 23539518295, :error :connect, :index 7048}
{:type :invoke, :f :read, :value nil, :process 3, :time 23558481185, :index 7056}
{:type :fail, :f :read, :value nil, :process 3, :time 23560347734, :error :connect, :index 7057}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 23570673900, :index 7058}
{:type :fail, :f :cas, :value [0 4], :process 22, :time 23572552312, :error :connect, :index 7059}
{:type :invoke, :f :write, :value 0, :process 7, :time 23573845217, :index 7060}
{:type :fail, :f :write, :value 0, :process 7, :time 23575467394, :error :connect, :index 7061}
{:type :invoke, :f :read, :value nil, :process 5, :time 23576354646, :index 7062}
{:type :fail, :f :read, :value nil, :process 5, :time 23578022632, :error :connect, :index 7063}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 23578663741, :index 7064}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 23580717025, :error :connect, :index 7065}
{:type :invoke, :f :write, :value 0, :process 8, :time 23585914454, :index 7067}
{:type :fail, :f :write, :value 0, :process 8, :time 23587670027, :error :connect, :index 7069}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 23617703691, :index 7081}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 23619440498, :error :connect, :index 7083}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 23640607466, :index 7086}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 23642787782, :error :connect, :index 7087}
{:type :invoke, :f :read, :value nil, :process 3, :time 23652058702, :index 7090}
{:type :invoke, :f :read, :value nil, :process 29, :time 23653820500, :index 7091}
{:type :fail, :f :read, :value nil, :process 3, :time 23653994184, :error :connect, :index 7092}
{:type :fail, :f :read, :value nil, :process 29, :time 23655488125, :error :connect, :index 7093}
{:type :invoke, :f :read, :value nil, :process 0, :time 23671764598, :index 7094}
{:type :fail, :f :read, :value nil, :process 0, :time 23673612980, :error :connect, :index 7095}
{:type :invoke, :f :read, :value nil, :process 6, :time 23676144030, :index 7096}
{:type :fail, :f :read, :value nil, :process 6, :time 23677867384, :error :connect, :index 7097}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 23680279058, :index 7098}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 23682326370, :error :connect, :index 7099}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 23684835855, :index 7100}
{:type :fail, :f :cas, :value [0 4], :process 22, :time 23686754915, :error :connect, :index 7101}
{:type :invoke, :f :write, :value 3, :process 4, :time 23692977611, :index 7102}
{:type :fail, :f :write, :value 3, :process 4, :time 23694943752, :error :connect, :index 7103}
{:type :invoke, :f :read, :value nil, :process 3, :time 23709232342, :index 7108}
{:type :fail, :f :read, :value nil, :process 3, :time 23711369576, :error :connect, :index 7109}
{:type :invoke, :f :read, :value nil, :process 0, :time 23732874270, :index 7118}
{:type :fail, :f :read, :value nil, :process 0, :time 23734907466, :error :connect, :index 7119}
{:type :invoke, :f :cas, :value [4 3], :process 29, :time 23736753840, :index 7120}
{:type :fail, :f :cas, :value [4 3], :process 29, :time 23738301837, :error :connect, :index 7121}
{:type :invoke, :f :read, :value nil, :process 22, :time 23761021291, :index 7130}
{:type :invoke, :f :write, :value 4, :process 8, :time 23761923130, :index 7131}
{:type :invoke, :f :write, :value 0, :process 4, :time 23762216191, :index 7132}
{:type :fail, :f :read, :value nil, :process 22, :time 23763205446, :error :connect, :index 7134}
{:type :fail, :f :write, :value 0, :process 4, :time 23764244853, :error :connect, :index 7135}
{:type :fail, :f :write, :value 4, :process 8, :time 23764244837, :error :connect, :index 7136}
{:type :invoke, :f :read, :value nil, :process 7, :time 23767737795, :index 7138}
{:type :fail, :f :read, :value nil, :process 7, :time 23769567084, :error :connect, :index 7139}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 23773128148, :index 7140}
{:type :fail, :f :cas, :value [1 0], :process 6, :time 23774826373, :error :connect, :index 7141}
{:type :invoke, :f :read, :value nil, :process 21, :time 23783710082, :index 7142}
{:type :fail, :f :read, :value nil, :process 21, :time 23785803688, :error :connect, :index 7143}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 23789627438, :index 7144}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 23791729518, :error :connect, :index 7145}
{:type :invoke, :f :read, :value nil, :process 0, :time 23812161185, :index 7156}
{:type :fail, :f :read, :value nil, :process 0, :time 23813975578, :error :connect, :index 7157}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 23830599899, :index 7162}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 23832662207, :error :connect, :index 7165}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
