{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :invoke, :f :read, :value nil, :process 51, :time 32573027832, :index 4733}
{:type :ok, :f :read, :value nil, :process 51, :time 32578304480, :index 4736}
{:type :invoke, :f :write, :value 0, :process 51, :time 32584541649, :index 4738}
{:type :ok, :f :write, :value 0, :process 51, :time 32589806551, :index 4739}
{:type :invoke, :f :write, :value 1, :process 17, :time 32616971866, :index 4749}
{:type :ok, :f :write, :value 1, :process 17, :time 32621391849, :index 4751}
{:type :invoke, :f :cas, :value [3 0], :process 59, :time 32630869926, :index 4752}
{:type :invoke, :f :write, :value 0, :process 53, :time 32632654525, :index 4753}
{:type :ok, :f :write, :value 0, :process 53, :time 32638342572, :index 4755}
{:type :fail, :f :cas, :value [3 0], :process 59, :time 32638546369, :index 4756}
{:type :invoke, :f :write, :value 4, :process 52, :time 32652904727, :index 4760}
{:type :invoke, :f :write, :value 0, :process 50, :time 32655315357, :index 4761}
{:type :ok, :f :write, :value 4, :process 52, :time 32657668709, :index 4762}
{:type :ok, :f :write, :value 0, :process 50, :time 32660523165, :index 4765}
{:type :invoke, :f :read, :value nil, :process 36, :time 32673098349, :index 4770}
{:type :invoke, :f :cas, :value [1 4], :process 52, :time 32677928139, :index 4773}
{:type :ok, :f :read, :value 0, :process 36, :time 32679174079, :index 4775}
{:type :fail, :f :cas, :value [1 4], :process 52, :time 32682636985, :index 4777}
{:type :invoke, :f :write, :value 1, :process 50, :time 32688772084, :index 4779}
{:type :invoke, :f :read, :value nil, :process 36, :time 32691412546, :index 4780}
{:type :ok, :f :write, :value 1, :process 50, :time 32693723227, :index 4782}
{:type :invoke, :f :cas, :value [3 0], :process 35, :time 32695190174, :index 4784}
{:type :ok, :f :read, :value 1, :process 36, :time 32696620896, :index 4785}
{:type :invoke, :f :cas, :value [2 3], :process 36, :time 32696752884, :index 4786}
{:type :fail, :f :cas, :value [3 0], :process 35, :time 32701059506, :index 4788}
{:type :invoke, :f :cas, :value [3 4], :process 78, :time 32704011701, :index 4789}
{:type :invoke, :f :read, :value nil, :process 59, :time 32708996766, :index 4790}
{:type :fail, :f :cas, :value [2 3], :process 36, :time 32709138105, :index 4791}
{:type :fail, :f :cas, :value [3 4], :process 78, :time 32709934232, :index 4792}
{:type :ok, :f :read, :value 1, :process 59, :time 32714066708, :index 4793}
{:type :invoke, :f :write, :value 2, :process 51, :time 32725062240, :index 4794}
{:type :ok, :f :write, :value 2, :process 51, :time 32729639418, :index 4795}
{:type :invoke, :f :cas, :value [0 2], :process 50, :time 32737986975, :index 4796}
{:type :invoke, :f :read, :value nil, :process 59, :time 32741246765, :index 4797}
{:type :fail, :f :cas, :value [0 2], :process 50, :time 32743813102, :index 4801}
{:type :invoke, :f :write, :value 3, :process 50, :time 32745132878, :index 4802}
{:type :ok, :f :read, :value 2, :process 59, :time 32746514851, :index 4803}
{:type :ok, :f :write, :value 3, :process 50, :time 32750399932, :index 4808}
{:type :invoke, :f :cas, :value [4 3], :process 78, :time 32774190945, :index 4810}
{:type :invoke, :f :read, :value nil, :process 51, :time 32777911192, :index 4811}
{:type :fail, :f :cas, :value [4 3], :process 78, :time 32779942665, :index 4812}
{:type :invoke, :f :read, :value nil, :process 34, :time 32781990231, :index 4814}
{:type :ok, :f :read, :value 3, :process 51, :time 32782709830, :index 4815}
{:type :ok, :f :read, :value 3, :process 34, :time 32787360508, :index 4817}
{:type :invoke, :f :write, :value 0, :process 17, :time 32792656473, :index 4819}
{:type :ok, :f :write, :value 0, :process 17, :time 32797525982, :index 4820}
{:type :invoke, :f :cas, :value [0 4], :process 35, :time 32801313867, :index 4822}
{:type :invoke, :f :cas, :value [1 2], :process 78, :time 32806220281, :index 4825}
{:type :ok, :f :cas, :value [0 4], :process 35, :time 32807770143, :index 4826}
{:type :invoke, :f :write, :value 1, :process 34, :time 32808621442, :index 4828}
{:type :fail, :f :cas, :value [1 2], :process 78, :time 32810877176, :index 4830}
{:type :ok, :f :write, :value 1, :process 34, :time 32813639418, :index 4831}
{:type :invoke, :f :read, :value nil, :process 35, :time 32817045591, :index 4832}
{:type :invoke, :f :write, :value 0, :process 36, :time 32821386438, :index 4834}
{:type :ok, :f :read, :value 1, :process 35, :time 32822054546, :index 4835}
{:type :ok, :f :write, :value 0, :process 36, :time 32825854701, :index 4838}
{:type :invoke, :f :write, :value 1, :process 53, :time 32826948901, :index 4839}
{:type :ok, :f :write, :value 1, :process 53, :time 32831398634, :index 4842}
{:type :invoke, :f :read, :value nil, :process 34, :time 32855886613, :index 4847}
{:type :invoke, :f :write, :value 2, :process 78, :time 32856145921, :index 4848}
{:type :invoke, :f :write, :value 1, :process 50, :time 32857638977, :index 4850}
{:type :ok, :f :write, :value 2, :process 78, :time 32861507107, :index 4851}
{:type :ok, :f :read, :value 1, :process 34, :time 32861507107, :index 4852}
{:type :invoke, :f :cas, :value [2 1], :process 52, :time 32861913491, :index 4853}
{:type :ok, :f :write, :value 1, :process 50, :time 32863385786, :index 4854}
{:type :fail, :f :cas, :value [2 1], :process 52, :time 32866788273, :index 4855}
{:type :invoke, :f :write, :value 1, :process 59, :time 32874728361, :index 4858}
{:type :ok, :f :write, :value 1, :process 59, :time 32879849995, :index 4861}
{:type :invoke, :f :cas, :value [0 1], :process 36, :time 32904109367, :index 4865}
{:type :fail, :f :cas, :value [0 1], :process 36, :time 32909255787, :index 4867}
{:type :invoke, :f :cas, :value [2 0], :process 52, :time 32929044230, :index 4872}
{:type :fail, :f :cas, :value [2 0], :process 52, :time 32934133406, :index 4875}
{:type :invoke, :f :write, :value 1, :process 17, :time 32942730727, :index 4878}
{:type :ok, :f :write, :value 1, :process 17, :time 32947091624, :index 4880}
{:type :invoke, :f :write, :value 3, :process 35, :time 32955309960, :index 4883}
{:type :invoke, :f :cas, :value [1 4], :process 51, :time 32960966217, :index 4886}
{:type :ok, :f :write, :value 3, :process 35, :time 32961508238, :index 4887}
{:type :invoke, :f :write, :value 4, :process 36, :time 32964510789, :index 4889}
{:type :fail, :f :cas, :value [1 4], :process 51, :time 32966072035, :index 4890}
{:type :ok, :f :write, :value 4, :process 36, :time 32969669426, :index 4891}
{:type :invoke, :f :read, :value nil, :process 34, :time 32978717094, :index 4892}
{:type :invoke, :f :cas, :value [0 3], :process 59, :time 32980103814, :index 4893}
{:type :ok, :f :read, :value 4, :process 34, :time 32984335070, :index 4894}
{:type :fail, :f :cas, :value [0 3], :process 59, :time 32986020321, :index 4895}
{:type :invoke, :f :write, :value 3, :process 35, :time 32987777590, :index 4897}
{:type :ok, :f :write, :value 3, :process 35, :time 32992879153, :index 4899}
{:type :invoke, :f :write, :value 2, :process 53, :time 32998670413, :index 4902}
{:type :invoke, :f :write, :value 1, :process 34, :time 33002593540, :index 4903}
{:type :ok, :f :write, :value 2, :process 53, :time 33003103665, :index 4904}
{:type :ok, :f :write, :value 1, :process 34, :time 33007683144, :index 4906}
{:type :invoke, :f :read, :value nil, :process 53, :time 33010350424, :index 4908}
{:type :invoke, :f :read, :value nil, :process 35, :time 33015110985, :index 4910}
{:type :ok, :f :read, :value 1, :process 53, :time 33015775633, :index 4911}
{:type :ok, :f :read, :value 1, :process 35, :time 33020557966, :index 4915}
{:type :invoke, :f :write, :value 1, :process 50, :time 33024646104, :index 4918}
{:type :ok, :f :write, :value 1, :process 50, :time 33030123803, :index 4919}
{:type :invoke, :f :read, :value nil, :process 78, :time 33045796235, :index 4922}
{:type :ok, :f :read, :value 1, :process 78, :time 33050535056, :index 4923}
{:type :invoke, :f :write, :value 4, :process 17, :time 33051337229, :index 4924}
{:type :invoke, :f :write, :value 0, :process 50, :time 33053377650, :index 4925}
{:type :ok, :f :write, :value 4, :process 17, :time 33055473887, :index 4926}
{:type :invoke, :f :write, :value 4, :process 36, :time 33055927831, :index 4927}
{:type :ok, :f :write, :value 0, :process 50, :time 33058588566, :index 4928}
{:type :invoke, :f :cas, :value [2 2], :process 34, :time 33059926489, :index 4930}
{:type :ok, :f :write, :value 4, :process 36, :time 33060724054, :index 4931}
{:type :fail, :f :cas, :value [2 2], :process 34, :time 33065517228, :index 4933}
{:type :invoke, :f :cas, :value [4 1], :process 35, :time 33080825912, :index 4941}
{:type :ok, :f :cas, :value [4 1], :process 35, :time 33085787555, :index 4943}
{:type :invoke, :f :write, :value 1, :process 52, :time 33096384398, :index 4944}
{:type :invoke, :f :cas, :value [4 2], :process 17, :time 33098736655, :index 4946}
{:type :ok, :f :write, :value 1, :process 52, :time 33100435944, :index 4947}
{:type :fail, :f :cas, :value [4 2], :process 17, :time 33102858054, :index 4949}
{:type :invoke, :f :cas, :value [3 4], :process 52, :time 33130701276, :index 4956}
{:type :invoke, :f :cas, :value [3 0], :process 53, :time 33135044702, :index 4958}
{:type :fail, :f :cas, :value [3 4], :process 52, :time 33135642078, :index 4959}
{:type :fail, :f :cas, :value [3 0], :process 53, :time 33140180907, :index 4961}
{:type :invoke, :f :cas, :value [1 2], :process 50, :time 33146881956, :index 4963}
{:type :ok, :f :cas, :value [1 2], :process 50, :time 33152311616, :index 4965}
{:type :invoke, :f :read, :value nil, :process 51, :time 33159327877, :index 4969}
{:type :ok, :f :read, :value 2, :process 51, :time 33164299303, :index 4973}
{:type :invoke, :f :read, :value nil, :process 59, :time 33174277843, :index 4974}
{:type :ok, :f :read, :value 2, :process 59, :time 33178890636, :index 4975}
{:type :invoke, :f :read, :value nil, :process 36, :time 33179983315, :index 4976}
{:type :ok, :f :read, :value 2, :process 36, :time 33184324231, :index 4978}
{:type :invoke, :f :read, :value nil, :process 52, :time 33188908650, :index 4980}
{:type :ok, :f :read, :value 2, :process 52, :time 33193584692, :index 4981}
{:type :invoke, :f :read, :value nil, :process 51, :time 33197556653, :index 4983}
{:type :ok, :f :read, :value 2, :process 51, :time 33202164539, :index 4985}
{:type :invoke, :f :cas, :value [3 1], :process 50, :time 33218569712, :index 4990}
{:type :fail, :f :cas, :value [3 1], :process 50, :time 33223753921, :index 4991}
{:type :invoke, :f :read, :value nil, :process 35, :time 33226048656, :index 4992}
{:type :ok, :f :read, :value 2, :process 35, :time 33231488553, :index 4994}
{:type :invoke, :f :read, :value nil, :process 17, :time 33243112380, :index 4998}
{:type :invoke, :f :write, :value 0, :process 78, :time 33246798623, :index 4999}
{:type :ok, :f :read, :value 2, :process 17, :time 33247508134, :index 5000}
{:type :invoke, :f :write, :value 2, :process 52, :time 33249840135, :index 5002}
{:type :ok, :f :write, :value 0, :process 78, :time 33251782813, :index 5003}
{:type :ok, :f :write, :value 2, :process 52, :time 33254268130, :index 5008}
{:type :invoke, :f :write, :value 3, :process 50, :time 33259208394, :index 5013}
{:type :invoke, :f :cas, :value [3 0], :process 34, :time 33261774441, :index 5014}
{:type :ok, :f :write, :value 3, :process 50, :time 33265868327, :index 5015}
{:type :invoke, :f :read, :value nil, :process 36, :time 33266584977, :index 5017}
{:type :ok, :f :cas, :value [3 0], :process 34, :time 33267199297, :index 5018}
{:type :ok, :f :read, :value 0, :process 36, :time 33272251271, :index 5021}
{:type :invoke, :f :write, :value 0, :process 78, :time 33282040962, :index 5026}
{:type :ok, :f :write, :value 0, :process 78, :time 33287283993, :index 5027}
{:type :invoke, :f :write, :value 1, :process 50, :time 33294141936, :index 5028}
{:type :ok, :f :write, :value 1, :process 50, :time 33299218609, :index 5030}
{:type :invoke, :f :cas, :value [4 1], :process 59, :time 33306158829, :index 5032}
{:type :fail, :f :cas, :value [4 1], :process 59, :time 33311508617, :index 5034}
{:type :invoke, :f :write, :value 2, :process 51, :time 33311430926, :index 5035}
{:type :invoke, :f :write, :value 2, :process 17, :time 33313792083, :index 5037}
{:type :ok, :f :write, :value 2, :process 51, :time 33316528773, :index 5038}
{:type :ok, :f :write, :value 2, :process 17, :time 33318632866, :index 5039}
{:type :invoke, :f :read, :value nil, :process 53, :time 33331441734, :index 5042}
{:type :invoke, :f :read, :value nil, :process 34, :time 33332474548, :index 5043}
{:type :ok, :f :read, :value 2, :process 53, :time 33335976053, :index 5044}
{:type :ok, :f :read, :value 2, :process 34, :time 33337180440, :index 5045}
{:type :invoke, :f :read, :value nil, :process 17, :time 33356896932, :index 5050}
{:type :ok, :f :read, :value 2, :process 17, :time 33361088828, :index 5053}
{:type :invoke, :f :write, :value 2, :process 34, :time 33382433388, :index 5056}
{:type :ok, :f :write, :value 2, :process 34, :time 33389213982, :index 5059}
{:type :invoke, :f :read, :value nil, :process 35, :time 33396748580, :index 5060}
{:type :ok, :f :read, :value 2, :process 35, :time 33402132472, :index 5063}
{:type :invoke, :f :write, :value 1, :process 17, :time 33409356895, :index 5068}
{:type :invoke, :f :write, :value 0, :process 50, :time 33411505474, :index 5069}
{:type :ok, :f :write, :value 1, :process 17, :time 33414194590, :index 5070}
{:type :invoke, :f :write, :value 4, :process 52, :time 33415558533, :index 5071}
{:type :ok, :f :write, :value 0, :process 50, :time 33416459590, :index 5072}
{:type :ok, :f :write, :value 4, :process 52, :time 33419925901, :index 5074}
{:type :invoke, :f :write, :value 0, :process 59, :time 33439754054, :index 5078}
{:type :ok, :f :write, :value 0, :process 59, :time 33446279836, :index 5080}
{:type :invoke, :f :write, :value 2, :process 78, :time 33459549865, :index 5083}
{:type :ok, :f :write, :value 2, :process 78, :time 33464757886, :index 5085}
{:type :invoke, :f :write, :value 4, :process 36, :time 33465517099, :index 5086}
{:type :invoke, :f :write, :value 1, :process 35, :time 33466398114, :index 5087}
{:type :ok, :f :write, :value 4, :process 36, :time 33471208529, :index 5089}
{:type :ok, :f :write, :value 1, :process 35, :time 33472582854, :index 5091}
{:type :invoke, :f :cas, :value [0 4], :process 34, :time 33480466164, :index 5094}
{:type :fail, :f :cas, :value [0 4], :process 34, :time 33486181987, :index 5095}
{:type :invoke, :f :cas, :value [4 0], :process 51, :time 33486731580, :index 5096}
{:type :fail, :f :cas, :value [4 0], :process 51, :time 33491544298, :index 5097}
{:type :invoke, :f :read, :value nil, :process 50, :time 33510735343, :index 5106}
{:type :ok, :f :read, :value 1, :process 50, :time 33515485204, :index 5107}
{:type :invoke, :f :cas, :value [1 0], :process 17, :time 33520471929, :index 5108}
{:type :invoke, :f :write, :value 1, :process 53, :time 33523240419, :index 5109}
{:type :ok, :f :cas, :value [1 0], :process 17, :time 33525865297, :index 5110}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 33541459981, :index 5117}
{:type :ok, :f :cas, :value [0 0], :process 36, :time 33546963101, :index 5119}
{:type :invoke, :f :cas, :value [4 0], :process 52, :time 33547196966, :index 5121}
{:type :fail, :f :cas, :value [4 0], :process 52, :time 33553114874, :index 5126}
{:type :invoke, :f :write, :value 3, :process 35, :time 33560869687, :index 5129}
{:type :ok, :f :write, :value 3, :process 35, :time 33566434591, :index 5130}
{:type :invoke, :f :write, :value 2, :process 34, :time 33580438771, :index 5135}
{:type :ok, :f :write, :value 2, :process 34, :time 33585571784, :index 5136}
{:type :invoke, :f :cas, :value [2 0], :process 78, :time 33602011187, :index 5142}
{:type :invoke, :f :cas, :value [4 2], :process 59, :time 33625560245, :index 5148}
{:type :fail, :f :cas, :value [4 2], :process 59, :time 33636644103, :index 5152}
{:type :ok, :f :write, :value 1, :process 53, :time 34099042630, :index 5304}
{:type :fail, :f :cas, :value [2 0], :process 78, :time 34099830346, :index 5307}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
