{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :invoke, :f :write, :value 4, :process 16, :time 35361491248, :index 7611}
{:type :ok, :f :write, :value 4, :process 16, :time 35366497958, :index 7614}
{:type :invoke, :f :write, :value 2, :process 38, :time 35416898749, :index 7630}
{:type :ok, :f :write, :value 2, :process 38, :time 35421852759, :index 7631}
{:type :invoke, :f :read, :value nil, :process 34, :time 35495056136, :index 7640}
{:type :ok, :f :read, :value 2, :process 34, :time 35500157023, :index 7643}
{:type :invoke, :f :write, :value 3, :process 31, :time 35501538978, :index 7644}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 35501542019, :index 7645}
{:type :fail, :f :cas, :value [0 0], :process 10, :time 35506816283, :index 7646}
{:type :ok, :f :write, :value 3, :process 31, :time 35507332989, :index 7647}
{:type :invoke, :f :write, :value 0, :process 38, :time 35528109573, :index 7654}
{:type :ok, :f :write, :value 0, :process 38, :time 35532991085, :index 7656}
{:type :invoke, :f :write, :value 1, :process 31, :time 35542586485, :index 7658}
{:type :invoke, :f :read, :value nil, :process 15, :time 35545491085, :index 7659}
{:type :ok, :f :write, :value 1, :process 31, :time 35547650143, :index 7661}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 35548223147, :index 7662}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 35549120102, :index 7663}
{:type :ok, :f :read, :value 1, :process 15, :time 35549723037, :index 7664}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 35553513765, :index 7666}
{:type :invoke, :f :write, :value 1, :process 15, :time 35553991932, :index 7667}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 35556772589, :index 7668}
{:type :ok, :f :write, :value 1, :process 15, :time 35558852080, :index 7669}
{:type :invoke, :f :read, :value nil, :process 16, :time 35560762135, :index 7670}
{:type :ok, :f :read, :value 1, :process 16, :time 35566770603, :index 7672}
{:type :invoke, :f :read, :value nil, :process 39, :time 35579030693, :index 7678}
{:type :ok, :f :read, :value 1, :process 39, :time 35584060914, :index 7679}
{:type :invoke, :f :write, :value 2, :process 10, :time 35598087153, :index 7680}
{:type :invoke, :f :cas, :value [3 2], :process 37, :time 35600110821, :index 7681}
{:type :ok, :f :write, :value 2, :process 10, :time 35603310034, :index 7682}
{:type :invoke, :f :read, :value nil, :process 39, :time 35603368221, :index 7684}
{:type :fail, :f :cas, :value [3 2], :process 37, :time 35605499888, :index 7685}
{:type :ok, :f :read, :value 2, :process 39, :time 35608515559, :index 7687}
{:type :invoke, :f :cas, :value [1 0], :process 39, :time 35638794758, :index 7690}
{:type :invoke, :f :cas, :value [3 3], :process 33, :time 35640772965, :index 7691}
{:type :invoke, :f :read, :value nil, :process 12, :time 35641561564, :index 7692}
{:type :fail, :f :cas, :value [1 0], :process 39, :time 35644669191, :index 7694}
{:type :ok, :f :read, :value 2, :process 12, :time 35646262387, :index 7695}
{:type :fail, :f :cas, :value [3 3], :process 33, :time 35646299593, :index 7696}
{:type :invoke, :f :cas, :value [0 2], :process 33, :time 35653524148, :index 7700}
{:type :fail, :f :cas, :value [0 2], :process 33, :time 35659288168, :index 7702}
{:type :invoke, :f :cas, :value [2 4], :process 31, :time 35660919727, :index 7703}
{:type :ok, :f :cas, :value [2 4], :process 31, :time 35666084095, :index 7706}
{:type :invoke, :f :cas, :value [4 3], :process 37, :time 35682766059, :index 7708}
{:type :ok, :f :cas, :value [4 3], :process 37, :time 35687783646, :index 7709}
{:type :invoke, :f :write, :value 4, :process 38, :time 35696282756, :index 7710}
{:type :invoke, :f :cas, :value [0 4], :process 34, :time 35698440285, :index 7711}
{:type :ok, :f :write, :value 4, :process 38, :time 35701556410, :index 7712}
{:type :fail, :f :cas, :value [0 4], :process 34, :time 35703705719, :index 7713}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 35704013190, :index 7714}
{:type :fail, :f :cas, :value [3 2], :process 16, :time 35708994204, :index 7716}
{:type :invoke, :f :cas, :value [0 0], :process 39, :time 35709946453, :index 7717}
{:type :fail, :f :cas, :value [0 0], :process 39, :time 35715119947, :index 7719}
{:type :invoke, :f :cas, :value [2 3], :process 15, :time 35730099875, :index 7722}
{:type :fail, :f :cas, :value [2 3], :process 15, :time 35735231407, :index 7723}
{:type :invoke, :f :read, :value nil, :process 12, :time 35753530980, :index 7732}
{:type :invoke, :f :read, :value nil, :process 10, :time 35758610188, :index 7734}
{:type :ok, :f :read, :value 4, :process 12, :time 35759469658, :index 7735}
{:type :ok, :f :read, :value 4, :process 10, :time 35763495170, :index 7739}
{:type :invoke, :f :cas, :value [0 0], :process 34, :time 35780961300, :index 7744}
{:type :fail, :f :cas, :value [0 0], :process 34, :time 35786835708, :index 7745}
{:type :invoke, :f :cas, :value [0 2], :process 37, :time 35791049888, :index 7746}
{:type :invoke, :f :write, :value 3, :process 38, :time 35794837053, :index 7747}
{:type :fail, :f :cas, :value [0 2], :process 37, :time 35796946739, :index 7748}
{:type :ok, :f :write, :value 3, :process 38, :time 35800296018, :index 7749}
{:type :invoke, :f :cas, :value [0 4], :process 16, :time 35804224772, :index 7750}
{:type :fail, :f :cas, :value [0 4], :process 16, :time 35810013413, :index 7753}
{:type :invoke, :f :cas, :value [4 0], :process 31, :time 35811357553, :index 7754}
{:type :invoke, :f :read, :value nil, :process 12, :time 35814748110, :index 7755}
{:type :fail, :f :cas, :value [4 0], :process 31, :time 35816307390, :index 7756}
{:type :ok, :f :read, :value 3, :process 12, :time 35819925685, :index 7757}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 35826742015, :index 7758}
{:type :invoke, :f :write, :value 0, :process 39, :time 35827398709, :index 7759}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 35832009576, :index 7761}
{:type :ok, :f :write, :value 0, :process 39, :time 35833477062, :index 7763}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 35834495064, :index 7764}
{:type :ok, :f :cas, :value [0 2], :process 15, :time 35839130678, :index 7767}
{:type :invoke, :f :cas, :value [3 0], :process 33, :time 35846567688, :index 7772}
{:type :fail, :f :cas, :value [3 0], :process 33, :time 35851834359, :index 7774}
{:type :invoke, :f :write, :value 2, :process 34, :time 35857094287, :index 7776}
{:type :ok, :f :write, :value 2, :process 34, :time 35862555635, :index 7777}
{:type :invoke, :f :write, :value 3, :process 34, :time 35870813296, :index 7778}
{:type :invoke, :f :cas, :value [0 0], :process 16, :time 35871293263, :index 7779}
{:type :invoke, :f :write, :value 0, :process 31, :time 35873639940, :index 7780}
{:type :ok, :f :write, :value 3, :process 34, :time 35876288987, :index 7783}
{:type :fail, :f :cas, :value [0 0], :process 16, :time 35877327551, :index 7784}
{:type :ok, :f :write, :value 0, :process 31, :time 35879643984, :index 7786}
{:type :invoke, :f :read, :value nil, :process 38, :time 35891553381, :index 7790}
{:type :ok, :f :read, :value 0, :process 38, :time 35897107469, :index 7793}
{:type :invoke, :f :read, :value nil, :process 10, :time 35903289486, :index 7794}
{:type :ok, :f :read, :value 0, :process 10, :time 35907729550, :index 7795}
{:type :invoke, :f :write, :value 0, :process 34, :time 35911552593, :index 7796}
{:type :ok, :f :write, :value 0, :process 34, :time 35916097734, :index 7797}
{:type :invoke, :f :write, :value 3, :process 34, :time 35916252698, :index 7798}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 35917394520, :index 7800}
{:type :ok, :f :write, :value 3, :process 34, :time 35922084051, :index 7802}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 35924628280, :index 7805}
{:type :invoke, :f :write, :value 3, :process 12, :time 35927181423, :index 7806}
{:type :ok, :f :write, :value 3, :process 12, :time 35933021851, :index 7810}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 35948989099, :index 7815}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 35953749337, :index 7817}
{:type :invoke, :f :cas, :value [2 4], :process 12, :time 35958280040, :index 7818}
{:type :invoke, :f :read, :value nil, :process 38, :time 35960375046, :index 7819}
{:type :fail, :f :cas, :value [2 4], :process 12, :time 35963965917, :index 7820}
{:type :ok, :f :read, :value 3, :process 38, :time 35965147987, :index 7821}
{:type :invoke, :f :cas, :value [0 4], :process 39, :time 35980707080, :index 7826}
{:type :invoke, :f :cas, :value [4 2], :process 37, :time 35983225709, :index 7829}
{:type :fail, :f :cas, :value [0 4], :process 39, :time 35986287004, :index 7830}
{:type :fail, :f :cas, :value [4 2], :process 37, :time 35988436392, :index 7831}
{:type :invoke, :f :read, :value nil, :process 33, :time 36022091589, :index 7842}
{:type :ok, :f :read, :value 3, :process 33, :time 36027190604, :index 7844}
{:type :invoke, :f :cas, :value [0 0], :process 16, :time 36035597339, :index 7846}
{:type :fail, :f :cas, :value [0 0], :process 16, :time 36041033350, :index 7847}
{:type :invoke, :f :cas, :value [1 1], :process 39, :time 36053547600, :index 7851}
{:type :invoke, :f :write, :value 3, :process 34, :time 36054360989, :index 7852}
{:type :fail, :f :cas, :value [1 1], :process 39, :time 36058683934, :index 7854}
{:type :ok, :f :write, :value 3, :process 34, :time 36059608565, :index 7855}
{:type :invoke, :f :write, :value 3, :process 37, :time 36059705087, :index 7856}
{:type :invoke, :f :read, :value nil, :process 31, :time 36064880610, :index 7857}
{:type :ok, :f :write, :value 3, :process 37, :time 36065745355, :index 7858}
{:type :ok, :f :read, :value 3, :process 31, :time 36069730287, :index 7860}
{:type :invoke, :f :write, :value 1, :process 12, :time 36079221633, :index 7864}
{:type :invoke, :f :read, :value nil, :process 38, :time 36083398002, :index 7865}
{:type :ok, :f :write, :value 1, :process 12, :time 36084070063, :index 7866}
{:type :invoke, :f :read, :value nil, :process 10, :time 36086035343, :index 7867}
{:type :ok, :f :read, :value 1, :process 38, :time 36088918621, :index 7868}
{:type :ok, :f :read, :value 1, :process 10, :time 36090827412, :index 7869}
{:type :invoke, :f :write, :value 3, :process 15, :time 36096874088, :index 7872}
{:type :ok, :f :write, :value 3, :process 15, :time 36101742671, :index 7876}
{:type :invoke, :f :read, :value nil, :process 16, :time 36102272169, :index 7877}
{:type :invoke, :f :read, :value nil, :process 33, :time 36102480536, :index 7878}
{:type :ok, :f :read, :value 3, :process 33, :time 36108110060, :index 7879}
{:type :ok, :f :read, :value 3, :process 16, :time 36108817931, :index 7881}
{:type :invoke, :f :read, :value nil, :process 15, :time 36108985725, :index 7882}
{:type :ok, :f :read, :value 3, :process 15, :time 36113805409, :index 7883}
{:type :invoke, :f :read, :value nil, :process 33, :time 36121405355, :index 7884}
{:type :ok, :f :read, :value 3, :process 33, :time 36126573314, :index 7886}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :invoke, :f :cas, :value [2 3], :process 37, :time 36146003527, :index 7891}
{:type :invoke, :f :cas, :value [0 0], :process 33, :time 36149839264, :index 7892}
{:type :invoke, :f :write, :value 0, :process 12, :time 36183306447, :index 7895}
{:type :invoke, :f :read, :value nil, :process 39, :time 36190946583, :index 7897}
{:type :invoke, :f :cas, :value [1 3], :process 34, :time 36194862622, :index 7898}
{:type :invoke, :f :read, :value nil, :process 15, :time 36231062362, :index 7901}
{:type :invoke, :f :cas, :value [3 4], :process 38, :time 36235185443, :index 7902}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :invoke, :f :read, :value nil, :process 31, :time 36264987431, :index 7906}
{:type :invoke, :f :write, :value 3, :process 16, :time 36277054826, :index 7909}
{:type :invoke, :f :read, :value nil, :process 10, :time 36284071978, :index 7910}
{:type :ok, :f :read, :value 3, :process 10, :time 36676918923, :index 7913}
{:type :ok, :f :read, :value 3, :process 15, :time 36677450093, :index 7915}
{:type :fail, :f :cas, :value [2 3], :process 37, :time 36678339311, :index 7918}
{:type :ok, :f :write, :value 3, :process 16, :time 36678421894, :index 7919}
{:type :ok, :f :read, :value 3, :process 31, :time 36678675534, :index 7920}
{:type :ok, :f :write, :value 0, :process 12, :time 36678694339, :index 7921}
{:type :invoke, :f :write, :value 1, :process 10, :time 36721179840, :index 7925}
{:type :ok, :f :write, :value 1, :process 10, :time 36725554415, :index 7927}
{:type :invoke, :f :write, :value 2, :process 37, :time 36744581986, :index 7930}
{:type :invoke, :f :read, :value nil, :process 12, :time 36747923621, :index 7932}
{:type :ok, :f :write, :value 2, :process 37, :time 36751897243, :index 7933}
{:type :ok, :f :read, :value 2, :process 12, :time 36753368965, :index 7935}
{:type :invoke, :f :write, :value 2, :process 31, :time 36808928889, :index 7942}
{:type :invoke, :f :read, :value nil, :process 16, :time 36812672032, :index 7943}
{:type :ok, :f :write, :value 2, :process 31, :time 36814614310, :index 7944}
{:type :ok, :f :read, :value 2, :process 16, :time 36819497142, :index 7945}
{:type :invoke, :f :write, :value 1, :process 15, :time 36825731991, :index 7947}
{:type :ok, :f :write, :value 1, :process 15, :time 36830229828, :index 7949}
{:type :invoke, :f :cas, :value [2 0], :process 12, :time 36864650265, :index 7955}
{:type :fail, :f :cas, :value [2 0], :process 12, :time 36872190743, :index 7957}
{:type :invoke, :f :read, :value nil, :process 10, :time 36874854139, :index 7958}
{:type :ok, :f :read, :value 1, :process 10, :time 36879691863, :index 7959}
{:type :invoke, :f :read, :value nil, :process 37, :time 36900211982, :index 7966}
{:type :ok, :f :read, :value 1, :process 37, :time 36905563487, :index 7967}
{:type :invoke, :f :write, :value 4, :process 15, :time 36928516964, :index 7969}
{:type :ok, :f :write, :value 4, :process 15, :time 36933785894, :index 7971}
{:type :invoke, :f :write, :value 2, :process 12, :time 36940506534, :index 7972}
{:type :ok, :f :write, :value 2, :process 12, :time 36945898020, :index 7973}
{:type :invoke, :f :read, :value nil, :process 31, :time 36957916519, :index 7976}
{:type :ok, :f :read, :value 2, :process 31, :time 36963723437, :index 7977}
{:type :invoke, :f :cas, :value [2 3], :process 37, :time 36979863342, :index 7979}
{:type :invoke, :f :read, :value nil, :process 31, :time 36985014361, :index 7981}
{:type :ok, :f :cas, :value [2 3], :process 37, :time 36986015123, :index 7982}
{:type :invoke, :f :read, :value nil, :process 16, :time 36988816968, :index 7983}
{:type :ok, :f :read, :value 3, :process 31, :time 36990375774, :index 7984}
{:type :ok, :f :read, :value 3, :process 16, :time 36994064623, :index 7985}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 37032364743, :index 7990}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 37038233914, :index 7991}
{:type :invoke, :f :write, :value 0, :process 15, :time 37049100846, :index 7993}
{:type :ok, :f :write, :value 0, :process 15, :time 37054725142, :index 7996}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 37057202823, :index 7998}
{:type :ok, :f :cas, :value [0 3], :process 10, :time 37062226732, :index 7999}
{:type :invoke, :f :read, :value nil, :process 31, :time 37063671524, :index 8000}
{:type :ok, :f :read, :value 3, :process 31, :time 37069904015, :index 8003}
{:type :invoke, :f :write, :value 0, :process 12, :time 37107204378, :index 8007}
{:type :ok, :f :write, :value 0, :process 12, :time 37113828644, :index 8009}
{:type :invoke, :f :write, :value 3, :process 37, :time 37116236543, :index 8010}
{:type :ok, :f :write, :value 3, :process 37, :time 37123319027, :index 8011}
{:type :invoke, :f :cas, :value [2 2], :process 16, :time 37179539065, :index 8023}
{:type :fail, :f :cas, :value [2 2], :process 16, :time 37186495313, :index 8026}
{:type :info, :f :cas, :value [0 0], :process 33, :time 41156643335, :error :timeout, :index 8721}
{:type :fail, :f :read, :value nil, :process 39, :time 41197063731, :error :timeout, :index 8734}
{:type :info, :f :cas, :value [1 3], :process 34, :time 41200467157, :error :timeout, :index 8736}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :cas, :value [3 4], :process 38, :time 41240565064, :error :timeout, :index 8748}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
