{:type :invoke, :f :cas, :value [0 1], :process 3, :time 2180690528, :index 779}
{:type :fail, :f :cas, :value [0 1], :process 3, :time 2185868536, :error :not-found, :index 781}
{:type :invoke, :f :read, :value nil, :process 0, :time 2201487697, :index 786}
{:type :ok, :f :read, :value nil, :process 0, :time 2207523218, :index 788}
{:type :invoke, :f :cas, :value [3 0], :process 8, :time 2226028424, :index 790}
{:type :fail, :f :cas, :value [3 0], :process 8, :time 2232652096, :error :not-found, :index 791}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 2250772935, :index 794}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 2256963282, :error :not-found, :index 795}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 2271139504, :index 799}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 2275782969, :error :not-found, :index 801}
{:type :invoke, :f :read, :value nil, :process 0, :time 2317227823, :index 805}
{:type :invoke, :f :read, :value nil, :process 5, :time 2318487523, :index 806}
{:type :ok, :f :read, :value nil, :process 0, :time 2323032795, :index 810}
{:type :ok, :f :read, :value nil, :process 5, :time 2325648505, :index 811}
{:type :invoke, :f :cas, :value [0 4], :process 1, :time 2328349087, :index 814}
{:type :fail, :f :cas, :value [0 4], :process 1, :time 2336411276, :error :not-found, :index 816}
{:type :invoke, :f :read, :value nil, :process 8, :time 2344922591, :index 820}
{:type :ok, :f :read, :value nil, :process 8, :time 2350744878, :index 822}
{:type :invoke, :f :cas, :value [3 4], :process 5, :time 2392913652, :index 826}
{:type :invoke, :f :write, :value 4, :process 6, :time 2395424043, :index 827}
{:type :fail, :f :cas, :value [3 4], :process 5, :time 2399264700, :error :not-found, :index 828}
{:type :ok, :f :write, :value 4, :process 6, :time 2400809372, :index 829}
{:type :invoke, :f :read, :value nil, :process 6, :time 2414070041, :index 833}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 2415533577, :index 835}
{:type :ok, :f :read, :value 4, :process 6, :time 2419875736, :index 836}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 2421940079, :index 838}
{:type :invoke, :f :cas, :value [2 2], :process 0, :time 2425306957, :index 840}
{:type :fail, :f :cas, :value [2 2], :process 0, :time 2431105047, :index 841}
{:type :invoke, :f :read, :value nil, :process 0, :time 2449361920, :index 846}
{:type :invoke, :f :read, :value nil, :process 1, :time 2449689209, :index 847}
{:type :ok, :f :read, :value 4, :process 0, :time 2455278581, :index 849}
{:type :ok, :f :read, :value 4, :process 1, :time 2455879515, :index 850}
{:type :invoke, :f :read, :value nil, :process 3, :time 2466048567, :index 853}
{:type :ok, :f :read, :value 4, :process 3, :time 2471593763, :index 854}
{:type :invoke, :f :read, :value nil, :process 8, :time 2493004493, :index 863}
{:type :ok, :f :read, :value 4, :process 8, :time 2498192598, :index 866}
{:type :invoke, :f :read, :value nil, :process 6, :time 2500155020, :index 867}
{:type :ok, :f :read, :value 4, :process 6, :time 2505088270, :index 870}
{:type :invoke, :f :cas, :value [0 3], :process 5, :time 2513225436, :index 873}
{:type :fail, :f :cas, :value [0 3], :process 5, :time 2519262673, :index 875}
{:type :invoke, :f :write, :value 3, :process 0, :time 2548538764, :index 876}
{:type :ok, :f :write, :value 3, :process 0, :time 2556346885, :index 877}
{:type :invoke, :f :cas, :value [0 4], :process 1, :time 2580129545, :index 884}
{:type :fail, :f :cas, :value [0 4], :process 1, :time 2584939597, :index 886}
{:type :invoke, :f :write, :value 3, :process 6, :time 2605362901, :index 888}
{:type :invoke, :f :read, :value nil, :process 2, :time 2610157373, :index 889}
{:type :ok, :f :write, :value 3, :process 6, :time 2610812275, :index 890}
{:type :ok, :f :read, :value 3, :process 2, :time 2615511967, :index 891}
{:type :invoke, :f :read, :value nil, :process 3, :time 2617896017, :index 892}
{:type :ok, :f :read, :value 3, :process 3, :time 2622589241, :index 895}
{:type :invoke, :f :read, :value nil, :process 8, :time 2645504674, :index 902}
{:type :ok, :f :read, :value 3, :process 8, :time 2649825499, :index 905}
{:type :invoke, :f :write, :value 2, :process 5, :time 2679530053, :index 914}
{:type :ok, :f :write, :value 2, :process 5, :time 2685098035, :index 918}
{:type :invoke, :f :read, :value nil, :process 3, :time 2687839692, :index 920}
{:type :ok, :f :read, :value 2, :process 3, :time 2692369623, :index 923}
{:type :invoke, :f :read, :value nil, :process 8, :time 2706042997, :index 924}
{:type :ok, :f :read, :value 2, :process 8, :time 2711282901, :index 925}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 2720610920, :index 926}
{:type :invoke, :f :read, :value nil, :process 9, :time 2722720093, :index 927}
{:type :invoke, :f :write, :value 0, :process 1, :time 2726485927, :index 929}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 2726666798, :index 930}
{:type :ok, :f :read, :value 2, :process 9, :time 2728100944, :index 932}
{:type :invoke, :f :read, :value nil, :process 2, :time 2729773633, :index 933}
{:type :ok, :f :write, :value 0, :process 1, :time 2731873580, :index 934}
{:type :ok, :f :read, :value 0, :process 2, :time 2734828288, :index 937}
{:type :invoke, :f :read, :value nil, :process 7, :time 2736840077, :index 938}
{:type :ok, :f :read, :value 0, :process 7, :time 2742150723, :index 939}
{:type :invoke, :f :cas, :value [0 0], :process 1, :time 2746191001, :index 940}
{:type :ok, :f :cas, :value [0 0], :process 1, :time 2750877688, :index 941}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 2753621634, :index 942}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 2759015362, :index 944}
{:type :invoke, :f :read, :value nil, :process 4, :time 2790405661, :index 956}
{:type :ok, :f :read, :value 0, :process 4, :time 2795539009, :index 957}
{:type :invoke, :f :write, :value 3, :process 8, :time 2798543736, :index 958}
{:type :ok, :f :write, :value 3, :process 8, :time 2803308111, :index 959}
{:type :invoke, :f :read, :value nil, :process 6, :time 2804081053, :index 960}
{:type :ok, :f :read, :value 3, :process 6, :time 2809914363, :index 963}
{:type :invoke, :f :read, :value nil, :process 6, :time 2814201919, :index 967}
{:type :ok, :f :read, :value 3, :process 6, :time 2819225123, :index 969}
{:type :invoke, :f :read, :value nil, :process 2, :time 2843080728, :index 972}
{:type :ok, :f :read, :value 3, :process 2, :time 2848622033, :index 973}
{:type :invoke, :f :cas, :value [1 1], :process 1, :time 2864145800, :index 978}
{:type :fail, :f :cas, :value [1 1], :process 1, :time 2869541073, :index 979}
{:type :invoke, :f :write, :value 1, :process 7, :time 2872416733, :index 981}
{:type :invoke, :f :cas, :value [2 1], :process 5, :time 2874374008, :index 982}
{:type :invoke, :f :write, :value 4, :process 0, :time 2875916839, :index 983}
{:type :ok, :f :write, :value 1, :process 7, :time 2878383538, :index 986}
{:type :fail, :f :cas, :value [2 1], :process 5, :time 2880447049, :index 988}
{:type :invoke, :f :read, :value nil, :process 9, :time 2880385871, :index 989}
{:type :ok, :f :write, :value 4, :process 0, :time 2882146108, :index 990}
{:type :ok, :f :read, :value 4, :process 9, :time 2885248370, :index 993}
{:type :invoke, :f :write, :value 1, :process 7, :time 2898691017, :index 997}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 2901483580, :index 1000}
{:type :ok, :f :write, :value 1, :process 7, :time 2903896098, :index 1001}
{:type :invoke, :f :write, :value 0, :process 2, :time 2904883056, :index 1002}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 2907651550, :index 1004}
{:type :ok, :f :write, :value 0, :process 2, :time 2910263591, :index 1005}
{:type :invoke, :f :cas, :value [1 1], :process 9, :time 2933502900, :index 1012}
{:type :fail, :f :cas, :value [1 1], :process 9, :time 2939646871, :index 1013}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 2942275878, :index 1014}
{:type :invoke, :f :write, :value 1, :process 4, :time 2945798090, :index 1015}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 2947264860, :index 1017}
{:type :invoke, :f :write, :value 2, :process 7, :time 2949161912, :index 1018}
{:type :ok, :f :write, :value 1, :process 4, :time 2950669735, :index 1019}
{:type :invoke, :f :read, :value nil, :process 8, :time 2970573492, :index 1021}
{:type :ok, :f :read, :value 1, :process 8, :time 2978940994, :index 1023}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 2981550517, :index 1024}
{:type :ok, :f :cas, :value [1 2], :process 3, :time 2989126057, :index 1026}
{:type :invoke, :f :read, :value nil, :process 0, :time 2993436759, :index 1027}
{:type :ok, :f :read, :value 2, :process 0, :time 2998840633, :index 1028}
{:type :invoke, :f :read, :value nil, :process 8, :time 3001212120, :index 1030}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 3002116256, :index 1031}
{:type :invoke, :f :cas, :value [0 3], :process 1, :time 3005799364, :index 1032}
{:type :ok, :f :read, :value 2, :process 8, :time 3006781832, :index 1035}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 3009426827, :index 1036}
{:type :invoke, :f :cas, :value [1 2], :process 9, :time 3010912706, :index 1037}
{:type :fail, :f :cas, :value [0 3], :process 1, :time 3011765681, :index 1038}
{:type :fail, :f :cas, :value [1 2], :process 9, :time 3016497052, :index 1040}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 3024701607, :index 1044}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 3030256466, :index 1046}
{:type :invoke, :f :write, :value 1, :process 3, :time 3045376344, :index 1050}
{:type :ok, :f :write, :value 1, :process 3, :time 3050751436, :index 1052}
{:type :invoke, :f :write, :value 2, :process 0, :time 3062688163, :index 1055}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 3062880819, :index 1056}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 3068230673, :index 1057}
{:type :ok, :f :write, :value 2, :process 0, :time 3068792025, :index 1058}
{:type :invoke, :f :read, :value nil, :process 3, :time 3071023748, :index 1059}
{:type :ok, :f :read, :value 2, :process 3, :time 3075472846, :index 1060}
{:type :invoke, :f :write, :value 3, :process 5, :time 3089517261, :index 1063}
{:type :invoke, :f :write, :value 0, :process 2, :time 3090517036, :index 1064}
{:type :ok, :f :write, :value 3, :process 5, :time 3094833597, :index 1065}
{:type :invoke, :f :read, :value nil, :process 1, :time 3105025336, :index 1068}
{:type :invoke, :f :cas, :value [0 1], :process 9, :time 3107757557, :index 1069}
{:type :ok, :f :read, :value 3, :process 1, :time 3110252583, :index 1070}
{:type :fail, :f :cas, :value [0 1], :process 9, :time 3112861371, :index 1071}
{:type :invoke, :f :write, :value 4, :process 0, :time 3123064381, :index 1072}
{:type :ok, :f :write, :value 4, :process 0, :time 3129375817, :index 1074}
{:type :invoke, :f :read, :value nil, :process 4, :time 3148974620, :index 1076}
{:type :ok, :f :read, :value 4, :process 4, :time 3154788093, :index 1077}
{:type :invoke, :f :read, :value nil, :process 8, :time 3156092321, :index 1078}
{:type :ok, :f :read, :value 4, :process 8, :time 3162489176, :index 1079}
{:type :invoke, :f :cas, :value [0 3], :process 5, :time 3172110191, :index 1080}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 3176741297, :index 1082}
{:type :invoke, :f :cas, :value [2 1], :process 9, :time 3178126376, :index 1083}
{:type :fail, :f :cas, :value [0 3], :process 5, :time 3179137242, :index 1084}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 3181924020, :index 1086}
{:type :fail, :f :cas, :value [2 1], :process 9, :time 3185088244, :index 1087}
{:type :invoke, :f :read, :value nil, :process 6, :time 3214503277, :index 1096}
{:type :invoke, :f :read, :value nil, :process 4, :time 3216087426, :index 1098}
{:type :ok, :f :read, :value 4, :process 6, :time 3220513935, :index 1099}
{:type :ok, :f :read, :value 4, :process 4, :time 3226192181, :index 1102}
{:type :invoke, :f :cas, :value [2 1], :process 5, :time 3233403001, :index 1104}
{:type :fail, :f :cas, :value [2 1], :process 5, :time 3238832083, :index 1107}
{:type :invoke, :f :write, :value 2, :process 4, :time 3245471227, :index 1108}
{:type :ok, :f :write, :value 2, :process 4, :time 3251188678, :index 1110}
{:type :invoke, :f :write, :value 1, :process 3, :time 3256200108, :index 1112}
{:type :ok, :f :write, :value 1, :process 3, :time 3261013238, :index 1113}
{:type :invoke, :f :read, :value nil, :process 5, :time 3265088299, :index 1114}
{:type :ok, :f :read, :value 1, :process 5, :time 3270487250, :index 1116}
{:type :invoke, :f :cas, :value [2 3], :process 8, :time 3298666478, :index 1128}
{:type :invoke, :f :read, :value nil, :process 1, :time 3302521733, :index 1130}
{:type :fail, :f :cas, :value [2 3], :process 8, :time 3303547038, :index 1132}
{:type :ok, :f :read, :value 1, :process 1, :time 3307255369, :index 1133}
{:type :invoke, :f :read, :value nil, :process 0, :time 3309637949, :index 1134}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 3314781075, :index 1135}
{:type :ok, :f :read, :value 1, :process 0, :time 3315192930, :index 1136}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 3321458441, :index 1138}
{:type :invoke, :f :write, :value 4, :process 9, :time 3328347378, :index 1140}
{:type :ok, :f :write, :value 4, :process 9, :time 3333047161, :index 1141}
{:type :invoke, :f :write, :value 1, :process 1, :time 3333509249, :index 1142}
{:type :ok, :f :write, :value 1, :process 1, :time 3338314335, :index 1143}
{:type :invoke, :f :read, :value nil, :process 6, :time 3348801613, :index 1144}
{:type :ok, :f :read, :value 1, :process 6, :time 3354963287, :index 1146}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 3356286699, :index 1148}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 3361316419, :index 1149}
{:type :invoke, :f :write, :value 1, :process 8, :time 3371804286, :index 1153}
{:type :invoke, :f :cas, :value [2 2], :process 1, :time 3374585533, :index 1154}
{:type :ok, :f :write, :value 1, :process 8, :time 3377106736, :index 1155}
{:type :fail, :f :cas, :value [2 2], :process 1, :time 3380213023, :index 1158}
{:type :invoke, :f :read, :value nil, :process 4, :time 3388449455, :index 1160}
{:type :invoke, :f :read, :value nil, :process 9, :time 3392324416, :index 1162}
{:type :ok, :f :read, :value 1, :process 4, :time 3393458506, :index 1163}
{:type :ok, :f :write, :value 2, :process 7, :time 3397288698, :index 1164}
{:type :ok, :f :read, :value 2, :process 9, :time 3398784684, :index 1165}
{:type :ok, :f :write, :value 0, :process 2, :time 3400148329, :index 1169}
{:type :invoke, :f :write, :value 0, :process 0, :time 3401440852, :index 1171}
{:type :ok, :f :write, :value 0, :process 0, :time 3405807065, :index 1175}
{:type :invoke, :f :read, :value nil, :process 3, :time 3432579263, :index 1181}
{:type :ok, :f :read, :value 0, :process 3, :time 3437572870, :index 1184}
{:type :invoke, :f :read, :value nil, :process 5, :time 3464723081, :index 1192}
{:type :ok, :f :read, :value 0, :process 5, :time 3470887301, :index 1197}
{:type :invoke, :f :write, :value 1, :process 6, :time 3483237949, :index 1205}
{:type :ok, :f :write, :value 1, :process 6, :time 3488334166, :index 1207}
{:type :invoke, :f :read, :value nil, :process 4, :time 3494714291, :index 1210}
{:type :ok, :f :read, :value 1, :process 4, :time 3500206136, :index 1211}
{:type :invoke, :f :cas, :value [3 4], :process 8, :time 3560371321, :index 1229}
{:type :invoke, :f :write, :value 2, :process 1, :time 3564490175, :index 1232}
{:type :fail, :f :cas, :value [3 4], :process 8, :time 3565370991, :index 1233}
{:type :ok, :f :write, :value 2, :process 1, :time 3569971869, :index 1234}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
