{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :invoke, :f :read, :value nil, :process 38, :time 55319823201, :index 7663}
{:type :ok, :f :read, :value nil, :process 38, :time 55324402632, :index 7666}
{:type :invoke, :f :cas, :value [4 2], :process 30, :time 55346227990, :index 7673}
{:type :invoke, :f :read, :value nil, :process 31, :time 55349414996, :index 7675}
{:type :fail, :f :cas, :value [4 2], :process 30, :time 55351892699, :error :not-found, :index 7676}
{:type :ok, :f :read, :value nil, :process 31, :time 55353937261, :index 7677}
{:type :invoke, :f :read, :value nil, :process 30, :time 55354150781, :index 7678}
{:type :ok, :f :read, :value nil, :process 30, :time 55359590418, :index 7679}
{:type :invoke, :f :cas, :value [3 4], :process 30, :time 55359715211, :index 7680}
{:type :fail, :f :cas, :value [3 4], :process 30, :time 55365365591, :error :not-found, :index 7681}
{:type :invoke, :f :write, :value 3, :process 36, :time 55378904909, :index 7686}
{:type :invoke, :f :write, :value 1, :process 33, :time 55380250510, :index 7687}
{:type :ok, :f :write, :value 3, :process 36, :time 55383762193, :index 7690}
{:type :ok, :f :write, :value 1, :process 33, :time 55385232287, :index 7691}
{:type :invoke, :f :cas, :value [3 3], :process 31, :time 55403182230, :index 7696}
{:type :invoke, :f :cas, :value [3 4], :process 52, :time 55407658769, :index 7697}
{:type :fail, :f :cas, :value [3 3], :process 31, :time 55413389283, :index 7701}
{:type :fail, :f :cas, :value [3 4], :process 52, :time 55414021694, :index 7702}
{:type :invoke, :f :read, :value nil, :process 30, :time 55433618354, :index 7706}
{:type :invoke, :f :read, :value nil, :process 77, :time 55439000963, :index 7708}
{:type :ok, :f :read, :value 1, :process 30, :time 55439178244, :index 7709}
{:type :ok, :f :read, :value 1, :process 77, :time 55444294575, :index 7712}
{:type :invoke, :f :read, :value nil, :process 38, :time 55492660559, :index 7718}
{:type :ok, :f :read, :value 1, :process 38, :time 55497587188, :index 7719}
{:type :invoke, :f :read, :value nil, :process 35, :time 55523046421, :index 7722}
{:type :invoke, :f :write, :value 1, :process 52, :time 55528307930, :index 7723}
{:type :ok, :f :read, :value 1, :process 35, :time 55528476922, :index 7724}
{:type :invoke, :f :cas, :value [4 2], :process 31, :time 55531298320, :index 7725}
{:type :ok, :f :write, :value 1, :process 52, :time 55534069518, :index 7727}
{:type :invoke, :f :read, :value nil, :process 36, :time 55534012501, :index 7728}
{:type :fail, :f :cas, :value [4 2], :process 31, :time 55536937122, :index 7729}
{:type :invoke, :f :read, :value nil, :process 33, :time 55537483353, :index 7730}
{:type :ok, :f :read, :value 1, :process 36, :time 55539418283, :index 7731}
{:type :ok, :f :read, :value 1, :process 33, :time 55542333259, :index 7733}
{:type :invoke, :f :write, :value 3, :process 77, :time 55560546435, :index 7734}
{:type :ok, :f :write, :value 3, :process 77, :time 55565689386, :index 7735}
{:type :invoke, :f :write, :value 1, :process 30, :time 55591415312, :index 7742}
{:type :ok, :f :write, :value 1, :process 30, :time 55597275231, :index 7744}
{:type :invoke, :f :cas, :value [2 3], :process 35, :time 55601722850, :index 7746}
{:type :fail, :f :cas, :value [2 3], :process 35, :time 55608405307, :index 7749}
{:type :invoke, :f :cas, :value [4 0], :process 38, :time 55626859904, :index 7754}
{:type :invoke, :f :read, :value nil, :process 30, :time 55629464007, :index 7755}
{:type :fail, :f :cas, :value [4 0], :process 38, :time 55631341224, :index 7756}
{:type :ok, :f :read, :value 1, :process 30, :time 55634492752, :index 7757}
{:type :invoke, :f :write, :value 1, :process 77, :time 55639950334, :index 7758}
{:type :ok, :f :write, :value 1, :process 77, :time 55646137354, :index 7759}
{:type :invoke, :f :cas, :value [2 4], :process 33, :time 55662589026, :index 7763}
{:type :invoke, :f :cas, :value [0 3], :process 30, :time 55664764233, :index 7764}
{:type :fail, :f :cas, :value [2 4], :process 33, :time 55667140278, :index 7766}
{:type :fail, :f :cas, :value [0 3], :process 30, :time 55670338725, :index 7767}
{:type :invoke, :f :write, :value 3, :process 77, :time 55671400577, :index 7768}
{:type :ok, :f :write, :value 3, :process 77, :time 55675958373, :index 7769}
{:type :invoke, :f :write, :value 2, :process 52, :time 55686308115, :index 7770}
{:type :ok, :f :write, :value 2, :process 52, :time 55691383628, :index 7771}
{:type :invoke, :f :write, :value 4, :process 31, :time 55693216952, :index 7773}
{:type :invoke, :f :cas, :value [4 3], :process 36, :time 55695719219, :index 7774}
{:type :ok, :f :write, :value 4, :process 31, :time 55697873735, :index 7776}
{:type :invoke, :f :write, :value 0, :process 77, :time 55698218185, :index 7777}
{:type :ok, :f :cas, :value [4 3], :process 36, :time 55701111003, :index 7778}
{:type :invoke, :f :write, :value 4, :process 52, :time 55702645135, :index 7779}
{:type :ok, :f :write, :value 0, :process 77, :time 55703061599, :index 7780}
{:type :ok, :f :write, :value 4, :process 52, :time 55707927416, :index 7781}
{:type :invoke, :f :cas, :value [4 1], :process 38, :time 55716597836, :index 7784}
{:type :ok, :f :cas, :value [4 1], :process 38, :time 55722217766, :index 7786}
{:type :invoke, :f :read, :value nil, :process 31, :time 55735120981, :index 7788}
{:type :ok, :f :read, :value 1, :process 31, :time 55740108614, :index 7789}
{:type :invoke, :f :read, :value nil, :process 35, :time 55743678230, :index 7790}
{:type :ok, :f :read, :value 1, :process 35, :time 55749361590, :index 7792}
{:type :invoke, :f :read, :value nil, :process 30, :time 55754676158, :index 7794}
{:type :ok, :f :read, :value 1, :process 30, :time 55760102888, :index 7795}
{:type :invoke, :f :cas, :value [0 0], :process 77, :time 55770300666, :index 7797}
{:type :fail, :f :cas, :value [0 0], :process 77, :time 55776202891, :index 7799}
{:type :invoke, :f :write, :value 2, :process 52, :time 55796205642, :index 7801}
{:type :ok, :f :write, :value 2, :process 52, :time 55802003475, :index 7803}
{:type :invoke, :f :read, :value nil, :process 36, :time 55821366799, :index 7810}
{:type :invoke, :f :cas, :value [1 4], :process 33, :time 55862423505, :index 7816}
{:type :fail, :f :cas, :value [1 4], :process 33, :time 55867078996, :index 7817}
{:type :invoke, :f :read, :value nil, :process 31, :time 55909361006, :index 7821}
{:type :invoke, :f :read, :value nil, :process 38, :time 55918469113, :index 7824}
{:type :ok, :f :read, :value 2, :process 38, :time 55923401391, :index 7825}
{:type :invoke, :f :read, :value nil, :process 35, :time 55934638965, :index 7828}
{:type :invoke, :f :read, :value nil, :process 30, :time 55937335559, :index 7830}
{:type :ok, :f :read, :value 2, :process 35, :time 55941546109, :index 7833}
{:type :ok, :f :read, :value 2, :process 30, :time 55943395464, :index 7835}
{:type :invoke, :f :cas, :value [2 2], :process 35, :time 55949794866, :index 7836}
{:type :ok, :f :cas, :value [2 2], :process 35, :time 55954524232, :index 7837}
{:type :invoke, :f :read, :value nil, :process 52, :time 55962279505, :index 7838}
{:type :invoke, :f :read, :value nil, :process 33, :time 55962274316, :index 7839}
{:type :ok, :f :read, :value 2, :process 33, :time 55966823704, :index 7841}
{:type :invoke, :f :read, :value nil, :process 35, :time 55966811591, :index 7842}
{:type :ok, :f :read, :value 2, :process 52, :time 55967743388, :index 7843}
{:type :invoke, :f :cas, :value [3 2], :process 77, :time 55970460408, :index 7844}
{:type :ok, :f :read, :value 2, :process 35, :time 55972292562, :index 7846}
{:type :fail, :f :cas, :value [3 2], :process 77, :time 55976748319, :index 7847}
{:type :invoke, :f :write, :value 2, :process 33, :time 56030095393, :index 7851}
{:type :ok, :f :write, :value 2, :process 33, :time 56048457692, :index 7853}
{:type :ok, :f :read, :value 2, :process 36, :time 56049153369, :index 7856}
{:type :ok, :f :read, :value 2, :process 31, :time 56049502269, :index 7857}
{:type :invoke, :f :cas, :value [2 2], :process 35, :time 56051585395, :index 7860}
{:type :ok, :f :cas, :value [2 2], :process 35, :time 56056678749, :index 7861}
{:type :invoke, :f :cas, :value [0 3], :process 77, :time 56058003629, :index 7862}
{:type :fail, :f :cas, :value [0 3], :process 77, :time 56063488559, :index 7863}
{:type :invoke, :f :cas, :value [3 3], :process 33, :time 56064707952, :index 7864}
{:type :invoke, :f :read, :value nil, :process 30, :time 56066591072, :index 7866}
{:type :invoke, :f :cas, :value [1 2], :process 52, :time 56067012235, :index 7867}
{:type :fail, :f :cas, :value [3 3], :process 33, :time 56070285809, :index 7869}
{:type :fail, :f :cas, :value [1 2], :process 52, :time 56072146896, :index 7870}
{:type :ok, :f :read, :value 2, :process 30, :time 56074972826, :index 7874}
{:type :invoke, :f :write, :value 4, :process 30, :time 56103223134, :index 7880}
{:type :invoke, :f :write, :value 2, :process 35, :time 56106944508, :index 7881}
{:type :invoke, :f :read, :value nil, :process 38, :time 56108665999, :index 7882}
{:type :ok, :f :write, :value 4, :process 30, :time 56109086319, :index 7883}
{:type :ok, :f :write, :value 2, :process 35, :time 56112462494, :index 7884}
{:type :ok, :f :read, :value 2, :process 38, :time 56113442109, :index 7885}
{:type :invoke, :f :write, :value 4, :process 33, :time 56114544276, :index 7886}
{:type :ok, :f :write, :value 4, :process 33, :time 56118604581, :index 7888}
{:type :invoke, :f :cas, :value [4 0], :process 36, :time 56157980475, :index 7898}
{:type :ok, :f :cas, :value [4 0], :process 36, :time 56163733032, :index 7899}
{:type :invoke, :f :cas, :value [4 4], :process 38, :time 56174733244, :index 7900}
{:type :fail, :f :cas, :value [4 4], :process 38, :time 56179787218, :index 7901}
{:type :invoke, :f :cas, :value [1 2], :process 31, :time 56188055014, :index 7903}
{:type :fail, :f :cas, :value [1 2], :process 31, :time 56193164112, :index 7905}
{:type :invoke, :f :cas, :value [2 2], :process 36, :time 56215998994, :index 7910}
{:type :fail, :f :cas, :value [2 2], :process 36, :time 56220858811, :index 7911}
{:type :invoke, :f :cas, :value [2 4], :process 77, :time 56225744056, :index 7912}
{:type :fail, :f :cas, :value [2 4], :process 77, :time 56231124647, :index 7914}
{:type :invoke, :f :cas, :value [1 0], :process 38, :time 56236064066, :index 7917}
{:type :fail, :f :cas, :value [1 0], :process 38, :time 56241745841, :index 7918}
{:type :invoke, :f :write, :value 4, :process 31, :time 56261415214, :index 7922}
{:type :invoke, :f :read, :value nil, :process 52, :time 56263432494, :index 7923}
{:type :ok, :f :write, :value 4, :process 31, :time 56266225734, :index 7924}
{:type :ok, :f :read, :value 4, :process 52, :time 56268118284, :index 7925}
{:type :invoke, :f :read, :value nil, :process 33, :time 56276873293, :index 7928}
{:type :invoke, :f :read, :value nil, :process 36, :time 56281114861, :index 7929}
{:type :ok, :f :read, :value 4, :process 33, :time 56281465155, :index 7930}
{:type :ok, :f :read, :value 4, :process 36, :time 56286162776, :index 7931}
{:type :invoke, :f :read, :value nil, :process 30, :time 56288324778, :index 7932}
{:type :ok, :f :read, :value 4, :process 30, :time 56299092551, :index 7935}
{:type :invoke, :f :write, :value 4, :process 35, :time 56302727185, :index 7938}
{:type :ok, :f :write, :value 4, :process 35, :time 56307992606, :index 7939}
{:type :invoke, :f :cas, :value [1 4], :process 35, :time 56309246721, :index 7940}
{:type :fail, :f :cas, :value [1 4], :process 35, :time 56316159364, :index 7941}
{:type :invoke, :f :write, :value 0, :process 77, :time 56338373311, :index 7949}
{:type :invoke, :f :write, :value 3, :process 31, :time 56341502140, :index 7951}
{:type :ok, :f :write, :value 0, :process 77, :time 56343226515, :index 7952}
{:type :ok, :f :write, :value 3, :process 31, :time 56346374271, :index 7954}
{:type :invoke, :f :read, :value nil, :process 33, :time 56357721297, :index 7956}
{:type :ok, :f :read, :value 3, :process 33, :time 56362505271, :index 7957}
{:type :invoke, :f :read, :value nil, :process 38, :time 56382027695, :index 7960}
{:type :invoke, :f :write, :value 4, :process 30, :time 56385352067, :index 7961}
{:type :ok, :f :read, :value 3, :process 38, :time 56387641186, :index 7962}
{:type :invoke, :f :read, :value nil, :process 36, :time 56388416557, :index 7963}
{:type :ok, :f :write, :value 4, :process 30, :time 56390689053, :index 7964}
{:type :ok, :f :read, :value 4, :process 36, :time 56393409587, :index 7966}
{:type :invoke, :f :write, :value 2, :process 31, :time 56408654605, :index 7970}
{:type :ok, :f :write, :value 2, :process 31, :time 56413726734, :index 7971}
{:type :invoke, :f :write, :value 2, :process 35, :time 56432422433, :index 7976}
{:type :invoke, :f :write, :value 0, :process 31, :time 56437984106, :index 7977}
{:type :ok, :f :write, :value 2, :process 35, :time 56439201898, :index 7978}
{:type :ok, :f :write, :value 0, :process 31, :time 56442784602, :index 7979}
{:type :invoke, :f :write, :value 0, :process 52, :time 56444368115, :index 7980}
{:type :invoke, :f :read, :value nil, :process 31, :time 56444984718, :index 7981}
{:type :invoke, :f :write, :value 0, :process 33, :time 56447796091, :index 7983}
{:type :ok, :f :write, :value 0, :process 52, :time 56449629145, :index 7984}
{:type :ok, :f :read, :value 0, :process 31, :time 56451283061, :index 7985}
{:type :ok, :f :write, :value 0, :process 33, :time 56452415076, :index 7987}
{:type :invoke, :f :cas, :value [2 1], :process 77, :time 56455483959, :index 7988}
{:type :invoke, :f :read, :value nil, :process 38, :time 56526906197, :index 7995}
{:type :invoke, :f :read, :value nil, :process 30, :time 56553946484, :index 7996}
{:type :invoke, :f :cas, :value [1 1], :process 36, :time 56570670504, :index 7999}
{:type :invoke, :f :write, :value 3, :process 33, :time 56581665933, :index 8000}
{:type :invoke, :f :cas, :value [4 2], :process 35, :time 56609464884, :index 8001}
{:type :invoke, :f :cas, :value [1 0], :process 52, :time 56617886711, :index 8002}
{:type :invoke, :f :read, :value nil, :process 31, :time 56637583541, :index 8003}
{:type :fail, :f :cas, :value [2 1], :process 77, :time 56938764601, :index 8008}
{:type :ok, :f :write, :value 3, :process 33, :time 56939239946, :index 8010}
{:type :ok, :f :read, :value 0, :process 38, :time 56939661830, :index 8012}
{:type :ok, :f :read, :value 3, :process 31, :time 56939982471, :index 8014}
{:type :ok, :f :read, :value 0, :process 30, :time 56941123943, :index 8017}
{:type :fail, :f :cas, :value [1 1], :process 36, :time 56941126927, :index 8018}
{:type :invoke, :f :write, :value 1, :process 30, :time 56942365134, :index 8022}
{:type :fail, :f :cas, :value [1 0], :process 52, :time 56942560047, :index 8023}
{:type :fail, :f :cas, :value [4 2], :process 35, :time 56943508745, :index 8025}
{:type :ok, :f :write, :value 1, :process 30, :time 56947990807, :index 8026}
{:type :invoke, :f :cas, :value [4 0], :process 31, :time 56961246218, :index 8027}
{:type :fail, :f :cas, :value [4 0], :process 31, :time 56966364164, :index 8028}
{:type :invoke, :f :cas, :value [1 4], :process 33, :time 56973536572, :index 8031}
{:type :ok, :f :cas, :value [1 4], :process 33, :time 56981084553, :index 8035}
{:type :invoke, :f :write, :value 3, :process 39, :time 56998132922, :index 8041}
{:type :ok, :f :write, :value 3, :process 39, :time 57003678220, :index 8042}
{:type :invoke, :f :read, :value nil, :process 52, :time 57030816145, :index 8046}
{:type :ok, :f :read, :value 3, :process 52, :time 57035778821, :index 8048}
{:type :invoke, :f :cas, :value [4 3], :process 38, :time 57040960700, :index 8050}
{:type :fail, :f :cas, :value [4 3], :process 38, :time 57045733690, :index 8053}
{:type :invoke, :f :read, :value nil, :process 77, :time 57052064535, :index 8056}
{:type :invoke, :f :cas, :value [0 1], :process 36, :time 57055378262, :index 8058}
{:type :ok, :f :read, :value 3, :process 77, :time 57056305615, :index 8059}
{:type :fail, :f :cas, :value [0 1], :process 36, :time 57060921657, :index 8060}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :invoke, :f :read, :value nil, :process 74, :time 57138041884, :index 8078}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
{:type :ok, :f :read, :value 3, :process 74, :time 61011801390, :index 8094}
