{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :invoke, :f :write, :value 2, :process 37, :time 25974430164, :index 8016}
{:type :fail, :f :write, :value 2, :process 37, :time 25976085435, :error :connect, :index 8017}
{:type :invoke, :f :read, :value nil, :process 18, :time 25984595402, :index 8018}
{:type :fail, :f :read, :value nil, :process 18, :time 25986218076, :error :connect, :index 8019}
{:type :invoke, :f :read, :value nil, :process 18, :time 25988477853, :index 8021}
{:type :fail, :f :read, :value nil, :process 18, :time 25990635643, :error :connect, :index 8024}
{:type :invoke, :f :read, :value nil, :process 10, :time 26030913352, :index 8040}
{:type :fail, :f :read, :value nil, :process 10, :time 26032706956, :error :connect, :index 8041}
{:type :invoke, :f :read, :value nil, :process 32, :time 26066746041, :index 8046}
{:type :fail, :f :read, :value nil, :process 32, :time 26068722229, :error :connect, :index 8048}
{:type :invoke, :f :read, :value nil, :process 33, :time 26079692885, :index 8052}
{:type :fail, :f :read, :value nil, :process 33, :time 26081646747, :error :connect, :index 8053}
{:type :invoke, :f :read, :value nil, :process 15, :time 26090550875, :index 8058}
{:type :invoke, :f :cas, :value [0 0], :process 18, :time 26091919288, :index 8059}
{:type :fail, :f :read, :value nil, :process 15, :time 26092668642, :error :connect, :index 8060}
{:type :fail, :f :cas, :value [0 0], :process 18, :time 26093848412, :error :connect, :index 8062}
{:type :invoke, :f :write, :value 0, :process 18, :time 26094097168, :index 8063}
{:type :fail, :f :write, :value 0, :process 18, :time 26095676870, :error :connect, :index 8065}
{:type :invoke, :f :cas, :value [4 2], :process 10, :time 26119974479, :index 8071}
{:type :fail, :f :cas, :value [4 2], :process 10, :time 26121616973, :error :connect, :index 8073}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 26131940010, :index 8076}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 26134003731, :error :connect, :index 8077}
{:type :invoke, :f :read, :value nil, :process 15, :time 26143264772, :index 8078}
{:type :fail, :f :read, :value nil, :process 15, :time 26145505051, :error :connect, :index 8080}
{:type :invoke, :f :write, :value 4, :process 18, :time 26145912512, :index 8082}
{:type :fail, :f :write, :value 4, :process 18, :time 26147732015, :error :connect, :index 8083}
{:type :invoke, :f :write, :value 1, :process 18, :time 26151991802, :index 8084}
{:type :invoke, :f :read, :value nil, :process 11, :time 26152150534, :index 8085}
{:type :fail, :f :write, :value 1, :process 18, :time 26153794662, :error :connect, :index 8086}
{:type :fail, :f :read, :value nil, :process 11, :time 26154405365, :error :connect, :index 8087}
{:type :invoke, :f :write, :value 4, :process 37, :time 26158358400, :index 8088}
{:type :invoke, :f :read, :value nil, :process 36, :time 26159309896, :index 8089}
{:type :fail, :f :write, :value 4, :process 37, :time 26160253677, :error :connect, :index 8090}
{:type :fail, :f :read, :value nil, :process 36, :time 26161478976, :error :connect, :index 8092}
{:type :invoke, :f :write, :value 0, :process 36, :time 26173789919, :index 8098}
{:type :fail, :f :write, :value 0, :process 36, :time 26175670707, :error :connect, :index 8099}
{:type :invoke, :f :write, :value 3, :process 33, :time 26199929776, :index 8102}
{:type :fail, :f :write, :value 3, :process 33, :time 26202243691, :error :connect, :index 8105}
{:type :invoke, :f :write, :value 4, :process 39, :time 26202646219, :index 8108}
{:type :fail, :f :write, :value 4, :process 39, :time 26204813496, :error :connect, :index 8111}
{:type :invoke, :f :write, :value 2, :process 33, :time 26205569885, :index 8112}
{:type :fail, :f :write, :value 2, :process 33, :time 26207329740, :error :connect, :index 8113}
{:type :invoke, :f :read, :value nil, :process 10, :time 26215878475, :index 8114}
{:type :fail, :f :read, :value nil, :process 10, :time 26217700980, :error :connect, :index 8116}
{:type :invoke, :f :read, :value nil, :process 36, :time 26237938607, :index 8120}
{:type :invoke, :f :cas, :value [2 2], :process 32, :time 26237940954, :index 8121}
{:type :invoke, :f :write, :value 3, :process 37, :time 26239531405, :index 8122}
{:type :fail, :f :read, :value nil, :process 36, :time 26239888224, :error :connect, :index 8123}
{:type :fail, :f :cas, :value [2 2], :process 32, :time 26240250604, :error :connect, :index 8124}
{:type :fail, :f :write, :value 3, :process 37, :time 26241558423, :error :connect, :index 8127}
{:type :invoke, :f :write, :value 3, :process 34, :time 26261268713, :index 8137}
{:type :fail, :f :write, :value 3, :process 34, :time 26263101779, :error :connect, :index 8140}
{:type :invoke, :f :cas, :value [1 1], :process 15, :time 26286776177, :index 8150}
{:type :invoke, :f :cas, :value [0 3], :process 11, :time 26287646153, :index 8151}
{:type :fail, :f :cas, :value [1 1], :process 15, :time 26288795910, :error :connect, :index 8152}
{:type :fail, :f :cas, :value [0 3], :process 11, :time 26289519971, :error :connect, :index 8153}
{:type :invoke, :f :read, :value nil, :process 39, :time 26327096418, :index 8159}
{:type :invoke, :f :read, :value nil, :process 18, :time 26327093004, :index 8161}
{:type :invoke, :f :read, :value nil, :process 33, :time 26327832820, :index 8162}
{:type :fail, :f :read, :value nil, :process 39, :time 26329350717, :error :connect, :index 8163}
{:type :fail, :f :read, :value nil, :process 18, :time 26329547923, :error :connect, :index 8164}
{:type :fail, :f :read, :value nil, :process 33, :time 26330083907, :error :connect, :index 8165}
{:type :invoke, :f :read, :value nil, :process 10, :time 26330957107, :index 8166}
{:type :fail, :f :read, :value nil, :process 10, :time 26332984198, :error :connect, :index 8167}
{:type :invoke, :f :cas, :value [4 2], :process 37, :time 26343828025, :index 8172}
{:type :fail, :f :cas, :value [4 2], :process 37, :time 26345617875, :error :connect, :index 8174}
{:type :invoke, :f :cas, :value [0 0], :process 32, :time 26347502687, :index 8176}
{:type :fail, :f :cas, :value [0 0], :process 32, :time 26349649330, :error :connect, :index 8178}
{:type :invoke, :f :write, :value 4, :process 18, :time 26362728361, :index 8182}
{:type :fail, :f :write, :value 4, :process 18, :time 26364760952, :error :connect, :index 8184}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 26380131170, :index 8186}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 26382314321, :error :connect, :index 8188}
{:type :invoke, :f :read, :value nil, :process 34, :time 26404358621, :index 8194}
{:type :fail, :f :read, :value nil, :process 34, :time 26406513413, :error :connect, :index 8195}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 26411238146, :index 8196}
{:type :fail, :f :cas, :value [1 1], :process 10, :time 26413161189, :error :connect, :index 8197}
{:type :invoke, :f :read, :value nil, :process 39, :time 26433620816, :index 8200}
{:type :fail, :f :read, :value nil, :process 39, :time 26435699187, :error :connect, :index 8201}
{:type :invoke, :f :cas, :value [3 4], :process 34, :time 26437768705, :index 8202}
{:type :fail, :f :cas, :value [3 4], :process 34, :time 26439408637, :error :connect, :index 8204}
{:type :invoke, :f :write, :value 2, :process 15, :time 26456062175, :index 8212}
{:type :fail, :f :write, :value 2, :process 15, :time 26458120939, :error :connect, :index 8213}
{:type :invoke, :f :read, :value nil, :process 11, :time 26476768223, :index 8219}
{:type :fail, :f :read, :value nil, :process 11, :time 26478941637, :error :connect, :index 8221}
{:type :invoke, :f :read, :value nil, :process 34, :time 26484654050, :index 8222}
{:type :fail, :f :read, :value nil, :process 34, :time 26486385964, :error :connect, :index 8224}
{:type :invoke, :f :read, :value nil, :process 32, :time 26489898486, :index 8228}
{:type :fail, :f :read, :value nil, :process 32, :time 26491516326, :error :connect, :index 8229}
{:type :invoke, :f :read, :value nil, :process 33, :time 26500319545, :index 8231}
{:type :invoke, :f :read, :value nil, :process 36, :time 26500589365, :index 8232}
{:type :invoke, :f :read, :value nil, :process 37, :time 26501898455, :index 8234}
{:type :fail, :f :read, :value nil, :process 33, :time 26502581397, :error :connect, :index 8235}
{:type :fail, :f :read, :value nil, :process 36, :time 26502748563, :error :connect, :index 8236}
{:type :fail, :f :read, :value nil, :process 37, :time 26503754690, :error :connect, :index 8237}
{:type :invoke, :f :read, :value nil, :process 36, :time 26527003673, :index 8240}
{:type :fail, :f :read, :value nil, :process 36, :time 26528742908, :error :connect, :index 8242}
{:type :invoke, :f :read, :value nil, :process 18, :time 26533028963, :index 8244}
{:type :fail, :f :read, :value nil, :process 18, :time 26534880325, :error :connect, :index 8245}
{:type :invoke, :f :write, :value 2, :process 32, :time 26540785566, :index 8246}
{:type :fail, :f :write, :value 2, :process 32, :time 26542371388, :error :connect, :index 8248}
{:type :invoke, :f :write, :value 4, :process 11, :time 26548204368, :index 8252}
{:type :fail, :f :write, :value 4, :process 11, :time 26550014555, :error :connect, :index 8253}
{:type :invoke, :f :read, :value nil, :process 10, :time 26560418757, :index 8256}
{:type :fail, :f :read, :value nil, :process 10, :time 26562174781, :error :connect, :index 8257}
{:type :invoke, :f :write, :value 4, :process 39, :time 26566959625, :index 8258}
{:type :fail, :f :write, :value 4, :process 39, :time 26568805760, :error :connect, :index 8259}
{:type :invoke, :f :cas, :value [3 1], :process 33, :time 26572870781, :index 8260}
{:type :invoke, :f :read, :value nil, :process 15, :time 26573395580, :index 8261}
{:type :invoke, :f :read, :value nil, :process 37, :time 26574012609, :index 8262}
{:type :fail, :f :cas, :value [3 1], :process 33, :time 26574770858, :error :connect, :index 8263}
{:type :fail, :f :read, :value nil, :process 15, :time 26575369546, :error :connect, :index 8264}
{:type :fail, :f :read, :value nil, :process 37, :time 26576059782, :error :connect, :index 8265}
{:type :invoke, :f :write, :value 3, :process 34, :time 26624634998, :index 8280}
{:type :invoke, :f :write, :value 0, :process 18, :time 26625154955, :index 8281}
{:type :invoke, :f :write, :value 4, :process 36, :time 26626023240, :index 8283}
{:type :fail, :f :write, :value 3, :process 34, :time 26626635903, :error :connect, :index 8284}
{:type :fail, :f :write, :value 0, :process 18, :time 26626978020, :error :connect, :index 8285}
{:type :fail, :f :write, :value 4, :process 36, :time 26628070324, :error :connect, :index 8287}
{:type :invoke, :f :read, :value nil, :process 36, :time 26654307378, :index 8292}
{:type :fail, :f :read, :value nil, :process 36, :time 26656058626, :error :connect, :index 8294}
{:type :invoke, :f :read, :value nil, :process 33, :time 26657041120, :index 8295}
{:type :fail, :f :read, :value nil, :process 33, :time 26659052066, :error :connect, :index 8298}
{:type :invoke, :f :read, :value nil, :process 18, :time 26665211254, :index 8300}
{:type :fail, :f :read, :value nil, :process 18, :time 26667013106, :error :connect, :index 8301}
{:type :invoke, :f :write, :value 0, :process 33, :time 26667321900, :index 8302}
{:type :fail, :f :write, :value 0, :process 33, :time 26669070086, :error :connect, :index 8303}
{:type :invoke, :f :cas, :value [2 0], :process 39, :time 26680015317, :index 8306}
{:type :fail, :f :cas, :value [2 0], :process 39, :time 26681673270, :error :connect, :index 8308}
{:type :invoke, :f :write, :value 0, :process 18, :time 26683275601, :index 8310}
{:type :fail, :f :write, :value 0, :process 18, :time 26685283040, :error :connect, :index 8312}
{:type :invoke, :f :cas, :value [3 3], :process 36, :time 26692301720, :index 8314}
{:type :fail, :f :cas, :value [3 3], :process 36, :time 26694420573, :error :connect, :index 8315}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 26705273023, :index 8320}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 26707176639, :error :connect, :index 8321}
{:type :invoke, :f :write, :value 1, :process 37, :time 26709317526, :index 8323}
{:type :invoke, :f :read, :value nil, :process 32, :time 26709645935, :index 8324}
{:type :fail, :f :write, :value 1, :process 37, :time 26711568754, :error :connect, :index 8327}
{:type :fail, :f :read, :value nil, :process 32, :time 26711659216, :error :connect, :index 8328}
{:type :invoke, :f :write, :value 3, :process 34, :time 26717956426, :index 8330}
{:type :fail, :f :write, :value 3, :process 34, :time 26719527774, :error :connect, :index 8331}
{:type :invoke, :f :write, :value 4, :process 36, :time 26720682950, :index 8332}
{:type :invoke, :f :cas, :value [0 1], :process 37, :time 26721840234, :index 8333}
{:type :fail, :f :write, :value 4, :process 36, :time 26722547890, :error :connect, :index 8334}
{:type :fail, :f :cas, :value [0 1], :process 37, :time 26723482749, :error :connect, :index 8335}
{:type :invoke, :f :write, :value 0, :process 10, :time 26724438053, :index 8336}
{:type :fail, :f :write, :value 0, :process 10, :time 26726416337, :error :connect, :index 8337}
{:type :invoke, :f :write, :value 2, :process 33, :time 26728341758, :index 8340}
{:type :fail, :f :write, :value 2, :process 33, :time 26729967445, :error :connect, :index 8341}
{:type :invoke, :f :cas, :value [0 2], :process 33, :time 26748224787, :index 8348}
{:type :fail, :f :cas, :value [0 2], :process 33, :time 26750015971, :error :connect, :index 8349}
{:type :invoke, :f :write, :value 1, :process 15, :time 26751608896, :index 8350}
{:type :fail, :f :write, :value 1, :process 15, :time 26753392436, :error :connect, :index 8351}
{:type :invoke, :f :cas, :value [3 3], :process 36, :time 26777810432, :index 8354}
{:type :fail, :f :cas, :value [3 3], :process 36, :time 26779778398, :error :connect, :index 8356}
{:type :invoke, :f :write, :value 2, :process 15, :time 26780658041, :index 8358}
{:type :fail, :f :write, :value 2, :process 15, :time 26782468046, :error :connect, :index 8359}
{:type :invoke, :f :write, :value 3, :process 15, :time 26805724031, :index 8364}
{:type :invoke, :f :read, :value nil, :process 33, :time 26807284946, :index 8365}
{:type :fail, :f :write, :value 3, :process 15, :time 26807816565, :error :connect, :index 8366}
{:type :invoke, :f :cas, :value [1 4], :process 39, :time 26808945534, :index 8367}
{:type :fail, :f :read, :value nil, :process 33, :time 26809381932, :error :connect, :index 8368}
{:type :fail, :f :cas, :value [1 4], :process 39, :time 26810682118, :error :connect, :index 8369}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 26844460430, :index 8375}
{:type :fail, :f :cas, :value [2 3], :process 11, :time 26846438753, :error :connect, :index 8377}
{:type :invoke, :f :read, :value nil, :process 36, :time 26859089720, :index 8378}
{:type :fail, :f :read, :value nil, :process 36, :time 26861058415, :error :connect, :index 8380}
{:type :invoke, :f :write, :value 1, :process 18, :time 26861576692, :index 8381}
{:type :fail, :f :write, :value 1, :process 18, :time 26863439922, :error :connect, :index 8383}
{:type :invoke, :f :read, :value nil, :process 34, :time 26881792701, :index 8387}
{:type :fail, :f :read, :value nil, :process 34, :time 26883629891, :error :connect, :index 8389}
{:type :invoke, :f :cas, :value [1 4], :process 37, :time 26888748508, :index 8390}
{:type :fail, :f :cas, :value [1 4], :process 37, :time 26890823881, :error :connect, :index 8391}
{:type :invoke, :f :write, :value 0, :process 32, :time 26891899546, :index 8392}
{:type :fail, :f :write, :value 0, :process 32, :time 26893966470, :error :connect, :index 8393}
{:type :invoke, :f :cas, :value [4 4], :process 34, :time 26893894395, :index 8394}
{:type :fail, :f :cas, :value [4 4], :process 34, :time 26895777606, :error :connect, :index 8395}
{:type :invoke, :f :write, :value 4, :process 32, :time 26919213247, :index 8400}
{:type :fail, :f :write, :value 4, :process 32, :time 26920851879, :error :connect, :index 8402}
{:type :invoke, :f :cas, :value [3 2], :process 39, :time 26920997794, :index 8403}
{:type :fail, :f :cas, :value [3 2], :process 39, :time 26923078907, :error :connect, :index 8406}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 26924677635, :index 8408}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 26926552104, :error :connect, :index 8410}
{:type :invoke, :f :read, :value nil, :process 33, :time 26970630060, :index 8420}
{:type :fail, :f :read, :value nil, :process 33, :time 26972750105, :error :connect, :index 8421}
{:type :invoke, :f :write, :value 3, :process 18, :time 26973661738, :index 8422}
{:type :fail, :f :write, :value 3, :process 18, :time 26975545444, :error :connect, :index 8424}
{:type :invoke, :f :read, :value nil, :process 39, :time 26987353169, :index 8428}
{:type :fail, :f :read, :value nil, :process 39, :time 26989168756, :error :connect, :index 8429}
{:type :invoke, :f :write, :value 3, :process 15, :time 27002092292, :index 8432}
{:type :fail, :f :write, :value 3, :process 15, :time 27004118315, :error :connect, :index 8433}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 27006714400, :index 8434}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 27008681897, :error :connect, :index 8435}
{:type :invoke, :f :write, :value 2, :process 36, :time 27009313130, :index 8436}
{:type :fail, :f :write, :value 2, :process 36, :time 27011190154, :error :connect, :index 8438}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 27035093335, :index 8447}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 27036922225, :error :connect, :index 8449}
{:type :invoke, :f :cas, :value [4 0], :process 32, :time 27048127616, :index 8452}
{:type :fail, :f :cas, :value [4 0], :process 32, :time 27050227171, :error :connect, :index 8453}
{:type :invoke, :f :write, :value 3, :process 34, :time 27058052040, :index 8456}
{:type :fail, :f :write, :value 3, :process 34, :time 27059645585, :error :connect, :index 8457}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
