{:type :invoke, :f :write, :value 0, :process 5, :time 29211826, :index 0}
{:type :ok, :f :write, :value 0, :process 5, :time 34504312, :index 1}
{:type :invoke, :f :read, :value nil, :process 5, :time 44777273, :index 2}
{:type :ok, :f :read, :value 0, :process 5, :time 50027422, :index 3}
{:type :invoke, :f :read, :value nil, :process 8, :time 54398499, :index 6}
{:type :ok, :f :read, :value 0, :process 8, :time 59685149, :index 9}
{:type :invoke, :f :read, :value nil, :process 5, :time 92301489, :index 11}
{:type :ok, :f :read, :value 0, :process 5, :time 97658924, :index 14}
{:type :invoke, :f :read, :value nil, :process 6, :time 100940329, :index 16}
{:type :ok, :f :read, :value 0, :process 6, :time 105751440, :index 18}
{:type :invoke, :f :write, :value 0, :process 2, :time 115349556, :index 22}
{:type :ok, :f :write, :value 0, :process 2, :time 119518506, :index 23}
{:type :invoke, :f :cas, :value [4 1], :process 1, :time 147705015, :index 31}
{:type :fail, :f :cas, :value [4 1], :process 1, :time 153588185, :index 34}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 155298398, :index 36}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 160997921, :index 38}
{:type :invoke, :f :write, :value 2, :process 5, :time 169918418, :index 39}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 180515716, :index 40}
{:type :invoke, :f :write, :value 2, :process 8, :time 180958267, :index 41}
{:type :ok, :f :write, :value 2, :process 8, :time 186419145, :index 43}
{:type :invoke, :f :cas, :value [1 4], :process 9, :time 187599261, :index 47}
{:type :invoke, :f :cas, :value [2 0], :process 7, :time 191579031, :index 50}
{:type :fail, :f :cas, :value [1 4], :process 9, :time 193556279, :index 52}
{:type :ok, :f :cas, :value [2 0], :process 7, :time 196578483, :index 54}
{:type :invoke, :f :write, :value 3, :process 3, :time 203860309, :index 55}
{:type :ok, :f :write, :value 3, :process 3, :time 208773224, :index 56}
{:type :invoke, :f :read, :value nil, :process 4, :time 236256693, :index 61}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 237015801, :index 62}
{:type :ok, :f :read, :value 3, :process 4, :time 241552251, :index 63}
{:type :ok, :f :write, :value 2, :process 5, :time 242737790, :index 67}
{:type :ok, :f :cas, :value [2 0], :process 0, :time 242968263, :index 68}
{:type :invoke, :f :read, :value nil, :process 5, :time 276964034, :index 72}
{:type :invoke, :f :read, :value nil, :process 9, :time 279845492, :index 73}
{:type :ok, :f :read, :value 0, :process 5, :time 282629128, :index 75}
{:type :ok, :f :read, :value 0, :process 9, :time 285296982, :index 77}
{:type :invoke, :f :cas, :value [2 2], :process 9, :time 291553088, :index 81}
{:type :fail, :f :cas, :value [2 2], :process 9, :time 296763779, :index 83}
{:type :invoke, :f :cas, :value [2 2], :process 8, :time 297710668, :index 84}
{:type :fail, :f :cas, :value [2 2], :process 8, :time 303070061, :index 87}
{:type :invoke, :f :read, :value nil, :process 2, :time 303783967, :index 88}
{:type :invoke, :f :cas, :value [0 3], :process 9, :time 308053388, :index 90}
{:type :ok, :f :read, :value 0, :process 2, :time 308429907, :index 91}
{:type :ok, :f :cas, :value [0 3], :process 9, :time 313524321, :index 93}
{:type :invoke, :f :cas, :value [2 0], :process 1, :time 316853403, :index 95}
{:type :invoke, :f :read, :value nil, :process 3, :time 325038903, :index 99}
{:type :invoke, :f :write, :value 3, :process 0, :time 328219887, :index 101}
{:type :ok, :f :read, :value 3, :process 3, :time 330177584, :index 103}
{:type :ok, :f :write, :value 3, :process 0, :time 333468258, :index 105}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 383360816, :index 111}
{:type :invoke, :f :read, :value nil, :process 4, :time 386824454, :index 114}
{:type :invoke, :f :read, :value nil, :process 0, :time 387736033, :index 115}
{:type :invoke, :f :write, :value 0, :process 7, :time 387741522, :index 116}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 389122718, :index 117}
{:type :ok, :f :read, :value 3, :process 4, :time 392394591, :index 119}
{:type :ok, :f :write, :value 0, :process 7, :time 393943472, :index 121}
{:type :ok, :f :read, :value 0, :process 0, :time 394836321, :index 122}
{:type :invoke, :f :write, :value 3, :process 8, :time 409379901, :index 126}
{:type :ok, :f :write, :value 3, :process 8, :time 414533121, :index 127}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 418096545, :index 128}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 422989264, :index 129}
{:type :invoke, :f :cas, :value [4 3], :process 8, :time 444817302, :index 134}
{:type :fail, :f :cas, :value [4 3], :process 8, :time 450844062, :index 137}
{:type :invoke, :f :write, :value 1, :process 5, :time 470924948, :index 139}
{:type :invoke, :f :read, :value nil, :process 2, :time 475680204, :index 141}
{:type :ok, :f :write, :value 1, :process 5, :time 476857138, :index 142}
{:type :ok, :f :read, :value 1, :process 2, :time 479928942, :index 143}
{:type :invoke, :f :write, :value 2, :process 3, :time 489439509, :index 145}
{:type :ok, :f :write, :value 2, :process 3, :time 494288601, :index 147}
{:type :invoke, :f :write, :value 0, :process 9, :time 504794739, :index 151}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 505267085, :index 152}
{:type :ok, :f :write, :value 0, :process 9, :time 510363632, :index 153}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 511658322, :index 155}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 515684396, :index 157}
{:type :invoke, :f :read, :value nil, :process 2, :time 518181358, :index 160}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 521682585, :index 162}
{:type :invoke, :f :read, :value nil, :process 8, :time 522100920, :index 164}
{:type :ok, :f :read, :value 0, :process 2, :time 522779178, :index 165}
{:type :ok, :f :read, :value 0, :process 8, :time 527820329, :index 168}
{:type :invoke, :f :read, :value nil, :process 5, :time 555116860, :index 173}
{:type :invoke, :f :write, :value 3, :process 0, :time 557947449, :index 176}
{:type :ok, :f :read, :value 0, :process 5, :time 561491250, :index 178}
{:type :ok, :f :write, :value 3, :process 0, :time 563568619, :index 179}
{:type :invoke, :f :read, :value nil, :process 3, :time 573522325, :index 182}
{:type :ok, :f :read, :value 3, :process 3, :time 578611583, :index 183}
{:type :invoke, :f :write, :value 4, :process 7, :time 585195728, :index 184}
{:type :ok, :f :write, :value 4, :process 7, :time 589591098, :index 185}
{:type :invoke, :f :read, :value nil, :process 8, :time 620061400, :index 194}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 620988529, :index 195}
{:type :ok, :f :read, :value 4, :process 8, :time 626032522, :index 196}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 627389645, :index 198}
{:type :invoke, :f :cas, :value [3 2], :process 2, :time 655046036, :index 200}
{:type :fail, :f :cas, :value [3 2], :process 2, :time 660288290, :index 201}
{:type :invoke, :f :write, :value 3, :process 9, :time 684643307, :index 206}
{:type :ok, :f :write, :value 3, :process 9, :time 691704397, :index 212}
{:type :invoke, :f :cas, :value [4 2], :process 3, :time 698895941, :index 213}
{:type :invoke, :f :cas, :value [3 4], :process 8, :time 726300648, :index 216}
{:type :invoke, :f :read, :value nil, :process 5, :time 727751259, :index 217}
{:type :invoke, :f :read, :value nil, :process 9, :time 748961443, :index 221}
{:type :invoke, :f :cas, :value [1 4], :process 2, :time 758552435, :index 222}
{:type :invoke, :f :write, :value 1, :process 0, :time 761825740, :index 223}
{:type :invoke, :f :read, :value nil, :process 7, :time 787857004, :index 224}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 788668507, :index 225}
{:type :fail, :f :cas, :value [4 2], :process 3, :time 1037559295, :index 231}
{:type :ok, :f :cas, :value [1 0], :process 6, :time 1037637119, :index 232}
{:type :fail, :f :cas, :value [2 0], :process 1, :time 1038435666, :index 234}
{:type :ok, :f :read, :value 4, :process 5, :time 1039104594, :index 238}
{:type :ok, :f :read, :value 1, :process 7, :time 1039604865, :index 241}
{:type :fail, :f :cas, :value [1 4], :process 2, :time 1040304896, :index 242}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 1041369337, :index 244}
{:type :ok, :f :write, :value 1, :process 0, :time 1042314716, :index 246}
{:type :ok, :f :cas, :value [3 4], :process 8, :time 1042502576, :index 247}
{:type :ok, :f :read, :value 4, :process 9, :time 1042642011, :index 248}
{:type :invoke, :f :write, :value 0, :process 2, :time 1050527180, :index 250}
{:type :ok, :f :write, :value 0, :process 2, :time 1055735298, :index 252}
{:type :invoke, :f :write, :value 1, :process 1, :time 1074723281, :index 254}
{:type :ok, :f :write, :value 1, :process 1, :time 1080301374, :index 256}
{:type :invoke, :f :cas, :value [0 2], :process 2, :time 1088014571, :index 260}
{:type :fail, :f :cas, :value [0 2], :process 2, :time 1093180846, :index 261}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 1095565940, :index 262}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 1100861361, :index 263}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 1108591901, :index 265}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 1113965794, :index 267}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 1122332079, :index 269}
{:type :fail, :f :cas, :value [3 0], :process 5, :time 1128431468, :index 271}
{:type :invoke, :f :write, :value 3, :process 1, :time 1143567263, :index 273}
{:type :ok, :f :write, :value 3, :process 1, :time 1148666341, :index 275}
{:type :invoke, :f :write, :value 2, :process 5, :time 1169688505, :index 279}
{:type :invoke, :f :read, :value nil, :process 9, :time 1171972870, :index 280}
{:type :invoke, :f :read, :value nil, :process 8, :time 1175857366, :index 284}
{:type :ok, :f :read, :value 2, :process 9, :time 1176571511, :index 285}
{:type :ok, :f :write, :value 2, :process 5, :time 1176811991, :index 286}
{:type :invoke, :f :read, :value nil, :process 4, :time 1177225741, :index 287}
{:type :ok, :f :read, :value 2, :process 8, :time 1181155696, :index 288}
{:type :ok, :f :read, :value 2, :process 4, :time 1182496832, :index 290}
{:type :invoke, :f :write, :value 2, :process 8, :time 1194418445, :index 298}
{:type :invoke, :f :write, :value 3, :process 6, :time 1194927729, :index 299}
{:type :invoke, :f :cas, :value [0 4], :process 2, :time 1196494816, :index 302}
{:type :ok, :f :write, :value 2, :process 8, :time 1199393033, :index 303}
{:type :ok, :f :write, :value 3, :process 6, :time 1200391270, :index 304}
{:type :fail, :f :cas, :value [0 4], :process 2, :time 1201030963, :index 305}
{:type :invoke, :f :read, :value nil, :process 2, :time 1214289736, :index 309}
{:type :ok, :f :read, :value 3, :process 2, :time 1218395572, :index 312}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 1224863321, :index 316}
{:type :invoke, :f :cas, :value [1 0], :process 1, :time 1224963658, :index 317}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 1230908303, :index 322}
{:type :invoke, :f :write, :value 3, :process 7, :time 1230854230, :index 323}
{:type :fail, :f :cas, :value [1 0], :process 1, :time 1231609230, :index 324}
{:type :invoke, :f :write, :value 4, :process 4, :time 1231757167, :index 325}
{:type :ok, :f :write, :value 3, :process 7, :time 1234999025, :index 328}
{:type :ok, :f :write, :value 4, :process 4, :time 1236864203, :index 329}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 1238656538, :index 330}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 1243172420, :index 331}
{:type :invoke, :f :write, :value 3, :process 7, :time 1249250622, :index 332}
{:type :ok, :f :write, :value 3, :process 7, :time 1253414340, :index 334}
{:type :invoke, :f :write, :value 0, :process 9, :time 1259877076, :index 336}
{:type :ok, :f :write, :value 0, :process 9, :time 1264561408, :index 337}
{:type :invoke, :f :read, :value nil, :process 0, :time 1277123572, :index 340}
{:type :ok, :f :read, :value 0, :process 0, :time 1281928271, :index 342}
{:type :invoke, :f :cas, :value [4 2], :process 2, :time 1299651054, :index 346}
{:type :fail, :f :cas, :value [4 2], :process 2, :time 1305743914, :index 349}
{:type :invoke, :f :read, :value nil, :process 6, :time 1308645586, :index 350}
{:type :ok, :f :read, :value 0, :process 6, :time 1313836493, :index 352}
{:type :invoke, :f :read, :value nil, :process 3, :time 1339152800, :index 359}
{:type :ok, :f :read, :value 0, :process 3, :time 1343473878, :index 361}
{:type :invoke, :f :write, :value 2, :process 5, :time 1351059968, :index 362}
{:type :ok, :f :write, :value 2, :process 5, :time 1356095901, :index 364}
{:type :invoke, :f :cas, :value [0 4], :process 7, :time 1366659738, :index 366}
{:type :fail, :f :cas, :value [0 4], :process 7, :time 1370995354, :index 368}
{:type :invoke, :f :write, :value 1, :process 2, :time 1385013918, :index 372}
{:type :invoke, :f :write, :value 4, :process 1, :time 1387916669, :index 373}
{:type :ok, :f :write, :value 1, :process 2, :time 1390097965, :index 375}
{:type :ok, :f :write, :value 4, :process 1, :time 1392881467, :index 376}
{:type :invoke, :f :write, :value 2, :process 2, :time 1395356915, :index 378}
{:type :ok, :f :write, :value 2, :process 2, :time 1399357030, :index 379}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 1402434735, :index 380}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 1408649867, :index 382}
{:type :invoke, :f :cas, :value [4 2], :process 3, :time 1415734321, :index 385}
{:type :fail, :f :cas, :value [4 2], :process 3, :time 1421330371, :index 387}
{:type :invoke, :f :write, :value 3, :process 8, :time 1422925042, :index 388}
{:type :invoke, :f :read, :value nil, :process 5, :time 1423356187, :index 390}
{:type :invoke, :f :cas, :value [2 4], :process 6, :time 1423625216, :index 391}
{:type :invoke, :f :read, :value nil, :process 4, :time 1427115222, :index 392}
{:type :ok, :f :cas, :value [2 4], :process 6, :time 1428795574, :index 393}
{:type :ok, :f :write, :value 3, :process 8, :time 1429478955, :index 396}
{:type :ok, :f :read, :value 3, :process 5, :time 1431055041, :index 397}
{:type :ok, :f :read, :value 3, :process 4, :time 1431994375, :index 398}
{:type :invoke, :f :write, :value 3, :process 9, :time 1461845223, :index 409}
{:type :ok, :f :write, :value 3, :process 9, :time 1467301703, :index 411}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 1473204369, :index 413}
{:type :ok, :f :cas, :value [3 4], :process 0, :time 1478132919, :index 416}
{:type :invoke, :f :read, :value nil, :process 2, :time 1487648416, :index 421}
{:type :ok, :f :read, :value 4, :process 2, :time 1491922357, :index 424}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 1532169009, :index 427}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 1537332538, :index 429}
{:type :invoke, :f :read, :value nil, :process 7, :time 1545257985, :index 432}
{:type :ok, :f :read, :value 4, :process 7, :time 1549943643, :index 433}
{:type :invoke, :f :read, :value nil, :process 1, :time 1585148638, :index 452}
{:type :invoke, :f :read, :value nil, :process 3, :time 1586589873, :index 454}
{:type :ok, :f :read, :value 4, :process 1, :time 1591759114, :index 458}
{:type :ok, :f :read, :value 4, :process 3, :time 1592154662, :index 459}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
