{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :invoke, :f :read, :value nil, :process 22, :time 27930949272, :index 8778}
{:type :fail, :f :read, :value nil, :process 22, :time 27932995557, :error :connect, :index 8779}
{:type :invoke, :f :cas, :value [1 4], :process 22, :time 27947262513, :index 8781}
{:type :fail, :f :cas, :value [1 4], :process 22, :time 27948886494, :error :connect, :index 8783}
{:type :invoke, :f :write, :value 4, :process 29, :time 27964248892, :index 8791}
{:type :fail, :f :write, :value 4, :process 29, :time 27966292304, :error :connect, :index 8794}
{:type :invoke, :f :cas, :value [2 1], :process 21, :time 27967338252, :index 8796}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 27968453356, :index 8797}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 27969275198, :index 8799}
{:type :fail, :f :cas, :value [2 1], :process 21, :time 27969396313, :error :connect, :index 8800}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 27970460327, :error :connect, :index 8801}
{:type :fail, :f :cas, :value [0 4], :process 22, :time 27971161473, :error :connect, :index 8803}
{:type :invoke, :f :read, :value nil, :process 4, :time 27983139395, :index 8806}
{:type :fail, :f :read, :value nil, :process 4, :time 27985136951, :error :connect, :index 8807}
{:type :invoke, :f :write, :value 4, :process 8, :time 27995458096, :index 8810}
{:type :fail, :f :write, :value 4, :process 8, :time 27997280948, :error :connect, :index 8811}
{:type :invoke, :f :read, :value nil, :process 8, :time 28004535076, :index 8812}
{:type :invoke, :f :read, :value nil, :process 6, :time 28005926059, :index 8813}
{:type :fail, :f :read, :value nil, :process 8, :time 28006673207, :error :connect, :index 8814}
{:type :invoke, :f :write, :value 2, :process 3, :time 28007163753, :index 8815}
{:type :fail, :f :read, :value nil, :process 6, :time 28007874926, :error :connect, :index 8816}
{:type :fail, :f :write, :value 2, :process 3, :time 28008930548, :error :connect, :index 8817}
{:type :invoke, :f :write, :value 2, :process 7, :time 28014454122, :index 8818}
{:type :fail, :f :write, :value 2, :process 7, :time 28016308412, :error :connect, :index 8819}
{:type :invoke, :f :cas, :value [2 4], :process 21, :time 28022671332, :index 8820}
{:type :invoke, :f :read, :value nil, :process 5, :time 28022657650, :index 8821}
{:type :fail, :f :read, :value nil, :process 5, :time 28024805332, :error :connect, :index 8822}
{:type :fail, :f :cas, :value [2 4], :process 21, :time 28024805304, :error :connect, :index 8823}
{:type :invoke, :f :read, :value nil, :process 3, :time 28032186022, :index 8824}
{:type :fail, :f :read, :value nil, :process 3, :time 28034050370, :error :connect, :index 8825}
{:type :invoke, :f :write, :value 4, :process 8, :time 28041961865, :index 8826}
{:type :fail, :f :write, :value 4, :process 8, :time 28043763456, :error :connect, :index 8827}
{:type :invoke, :f :read, :value nil, :process 29, :time 28057571023, :index 8828}
{:type :invoke, :f :read, :value nil, :process 22, :time 28058418853, :index 8829}
{:type :fail, :f :read, :value nil, :process 29, :time 28059625834, :error :connect, :index 8830}
{:type :fail, :f :read, :value nil, :process 22, :time 28060063584, :error :connect, :index 8831}
{:type :invoke, :f :write, :value 1, :process 4, :time 28080399284, :index 8842}
{:type :fail, :f :write, :value 1, :process 4, :time 28082341700, :error :connect, :index 8843}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 28084601106, :index 8845}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 28086765399, :error :connect, :index 8847}
{:type :invoke, :f :write, :value 3, :process 6, :time 28094158479, :index 8849}
{:type :invoke, :f :read, :value nil, :process 21, :time 28095087116, :index 8851}
{:type :fail, :f :write, :value 3, :process 6, :time 28096976393, :error :connect, :index 8852}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 28096916582, :index 8853}
{:type :fail, :f :read, :value nil, :process 21, :time 28097632364, :error :connect, :index 8854}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 28099056850, :error :connect, :index 8855}
{:type :invoke, :f :read, :value nil, :process 7, :time 28124571941, :index 8864}
{:type :fail, :f :read, :value nil, :process 7, :time 28126434542, :error :connect, :index 8866}
{:type :invoke, :f :write, :value 0, :process 3, :time 28149307031, :index 8874}
{:type :fail, :f :write, :value 0, :process 3, :time 28151424403, :error :connect, :index 8875}
{:type :invoke, :f :cas, :value [4 2], :process 22, :time 28176302417, :index 8883}
{:type :fail, :f :cas, :value [4 2], :process 22, :time 28178367417, :error :connect, :index 8887}
{:type :invoke, :f :read, :value nil, :process 6, :time 28188280149, :index 8888}
{:type :fail, :f :read, :value nil, :process 6, :time 28190465056, :error :connect, :index 8889}
{:type :invoke, :f :read, :value nil, :process 0, :time 28191325613, :index 8890}
{:type :fail, :f :read, :value nil, :process 0, :time 28193477491, :error :connect, :index 8892}
{:type :invoke, :f :write, :value 2, :process 5, :time 28197087247, :index 8894}
{:type :fail, :f :write, :value 2, :process 5, :time 28199158513, :error :connect, :index 8895}
{:type :invoke, :f :write, :value 2, :process 21, :time 28200891257, :index 8896}
{:type :fail, :f :write, :value 2, :process 21, :time 28202808746, :error :connect, :index 8897}
{:type :invoke, :f :cas, :value [3 1], :process 29, :time 28215902097, :index 8900}
{:type :fail, :f :cas, :value [3 1], :process 29, :time 28217745581, :error :connect, :index 8901}
{:type :invoke, :f :write, :value 3, :process 4, :time 28226032516, :index 8904}
{:type :fail, :f :write, :value 3, :process 4, :time 28227831731, :error :connect, :index 8905}
{:type :invoke, :f :write, :value 1, :process 8, :time 28229029475, :index 8906}
{:type :invoke, :f :cas, :value [2 3], :process 29, :time 28230006233, :index 8907}
{:type :fail, :f :write, :value 1, :process 8, :time 28230871054, :error :connect, :index 8908}
{:type :fail, :f :cas, :value [2 3], :process 29, :time 28231868146, :error :connect, :index 8909}
{:type :invoke, :f :read, :value nil, :process 3, :time 28233682309, :index 8910}
{:type :fail, :f :read, :value nil, :process 3, :time 28235283132, :error :connect, :index 8911}
{:type :invoke, :f :write, :value 4, :process 22, :time 28245602914, :index 8912}
{:type :fail, :f :write, :value 4, :process 22, :time 28247396097, :error :connect, :index 8914}
{:type :invoke, :f :write, :value 1, :process 0, :time 28263736878, :index 8920}
{:type :fail, :f :write, :value 1, :process 0, :time 28265544914, :error :connect, :index 8921}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 28272419954, :index 8924}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 28274447734, :error :connect, :index 8925}
{:type :invoke, :f :write, :value 0, :process 7, :time 28283675443, :index 8926}
{:type :fail, :f :write, :value 0, :process 7, :time 28285719257, :error :connect, :index 8928}
{:type :invoke, :f :write, :value 2, :process 8, :time 28302141783, :index 8933}
{:type :fail, :f :write, :value 2, :process 8, :time 28303811355, :error :connect, :index 8935}
{:type :invoke, :f :read, :value nil, :process 0, :time 28323798515, :index 8938}
{:type :fail, :f :read, :value nil, :process 0, :time 28325851118, :error :connect, :index 8939}
{:type :invoke, :f :read, :value nil, :process 5, :time 28328718295, :index 8940}
{:type :fail, :f :read, :value nil, :process 5, :time 28330461857, :error :connect, :index 8941}
{:type :invoke, :f :write, :value 2, :process 7, :time 28348978480, :index 8946}
{:type :fail, :f :write, :value 2, :process 7, :time 28350609075, :error :connect, :index 8947}
{:type :invoke, :f :cas, :value [1 0], :process 22, :time 28354637233, :index 8948}
{:type :fail, :f :cas, :value [1 0], :process 22, :time 28356491462, :error :connect, :index 8950}
{:type :invoke, :f :read, :value nil, :process 6, :time 28364725888, :index 8954}
{:type :fail, :f :read, :value nil, :process 6, :time 28366650724, :error :connect, :index 8955}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 28368129500, :index 8956}
{:type :fail, :f :cas, :value [3 3], :process 29, :time 28370142278, :error :connect, :index 8957}
{:type :invoke, :f :read, :value nil, :process 4, :time 28372092527, :index 8958}
{:type :fail, :f :read, :value nil, :process 4, :time 28373937498, :error :connect, :index 8959}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 28385110486, :index 8962}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 28386976956, :error :connect, :index 8964}
{:type :invoke, :f :cas, :value [1 0], :process 21, :time 28387126354, :index 8965}
{:type :fail, :f :cas, :value [1 0], :process 21, :time 28389050581, :error :connect, :index 8967}
{:type :invoke, :f :read, :value nil, :process 22, :time 28397754104, :index 8968}
{:type :invoke, :f :write, :value 4, :process 4, :time 28399192376, :index 8969}
{:type :fail, :f :read, :value nil, :process 22, :time 28399653022, :error :connect, :index 8970}
{:type :invoke, :f :write, :value 1, :process 22, :time 28399792884, :index 8971}
{:type :fail, :f :write, :value 4, :process 4, :time 28401204850, :error :connect, :index 8972}
{:type :fail, :f :write, :value 1, :process 22, :time 28401551447, :error :connect, :index 8973}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 28414896760, :index 8978}
{:type :invoke, :f :cas, :value [4 2], :process 3, :time 28415547453, :index 8979}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 28416722624, :error :connect, :index 8980}
{:type :fail, :f :cas, :value [4 2], :process 3, :time 28417606920, :error :connect, :index 8981}
{:type :invoke, :f :read, :value nil, :process 0, :time 28442239845, :index 8982}
{:type :fail, :f :read, :value nil, :process 0, :time 28443978450, :error :connect, :index 8983}
{:type :invoke, :f :write, :value 3, :process 22, :time 28444806360, :index 8984}
{:type :invoke, :f :read, :value nil, :process 8, :time 28445077302, :index 8985}
{:type :invoke, :f :write, :value 1, :process 5, :time 28445733027, :index 8986}
{:type :fail, :f :write, :value 3, :process 22, :time 28446633270, :error :connect, :index 8987}
{:type :fail, :f :read, :value nil, :process 8, :time 28446827562, :error :connect, :index 8988}
{:type :fail, :f :write, :value 1, :process 5, :time 28447511688, :error :connect, :index 8989}
{:type :invoke, :f :cas, :value [3 0], :process 3, :time 28452882409, :index 8990}
{:type :fail, :f :cas, :value [3 0], :process 3, :time 28454561553, :error :connect, :index 8991}
{:type :invoke, :f :write, :value 0, :process 21, :time 28493311850, :index 9010}
{:type :fail, :f :write, :value 0, :process 21, :time 28495206167, :error :connect, :index 9011}
{:type :invoke, :f :write, :value 0, :process 6, :time 28517934133, :index 9014}
{:type :fail, :f :write, :value 0, :process 6, :time 28520004352, :error :connect, :index 9015}
{:type :invoke, :f :read, :value nil, :process 8, :time 28523074886, :index 9016}
{:type :fail, :f :read, :value nil, :process 8, :time 28524873522, :error :connect, :index 9017}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 28530275907, :index 9018}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 28532357375, :error :connect, :index 9019}
{:type :invoke, :f :write, :value 1, :process 7, :time 28543997713, :index 9022}
{:type :fail, :f :write, :value 1, :process 7, :time 28545892921, :error :connect, :index 9023}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 28547633895, :index 9024}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 28549687164, :error :connect, :index 9026}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 28552464101, :index 9028}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 28554278128, :error :connect, :index 9029}
{:type :invoke, :f :cas, :value [2 1], :process 29, :time 28567409896, :index 9032}
{:type :fail, :f :cas, :value [2 1], :process 29, :time 28569289404, :error :connect, :index 9033}
{:type :invoke, :f :write, :value 1, :process 0, :time 28579960373, :index 9036}
{:type :fail, :f :write, :value 1, :process 0, :time 28581861253, :error :connect, :index 9038}
{:type :invoke, :f :read, :value nil, :process 3, :time 28597892393, :index 9048}
{:type :fail, :f :read, :value nil, :process 3, :time 28599526002, :error :connect, :index 9049}
{:type :invoke, :f :cas, :value [2 2], :process 8, :time 28612141703, :index 9054}
{:type :fail, :f :cas, :value [2 2], :process 8, :time 28614220573, :error :connect, :index 9055}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 28616540548, :index 9056}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 28618346134, :error :connect, :index 9057}
{:type :invoke, :f :read, :value nil, :process 21, :time 28637464521, :index 9062}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 28638926832, :index 9063}
{:type :fail, :f :read, :value nil, :process 21, :time 28639632906, :error :connect, :index 9064}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 28640874153, :error :connect, :index 9065}
{:type :invoke, :f :read, :value nil, :process 5, :time 28642733649, :index 9066}
{:type :fail, :f :read, :value nil, :process 5, :time 28644756050, :error :connect, :index 9067}
{:type :invoke, :f :write, :value 1, :process 7, :time 28652160429, :index 9068}
{:type :fail, :f :write, :value 1, :process 7, :time 28653990501, :error :connect, :index 9069}
{:type :invoke, :f :write, :value 2, :process 8, :time 28661492174, :index 9070}
{:type :fail, :f :write, :value 2, :process 8, :time 28663359638, :error :connect, :index 9071}
{:type :invoke, :f :read, :value nil, :process 6, :time 28666263578, :index 9072}
{:type :fail, :f :read, :value nil, :process 6, :time 28667964787, :error :connect, :index 9073}
{:type :invoke, :f :read, :value nil, :process 8, :time 28682621168, :index 9074}
{:type :fail, :f :read, :value nil, :process 8, :time 28684615284, :error :connect, :index 9076}
{:type :invoke, :f :read, :value nil, :process 5, :time 28703012586, :index 9085}
{:type :invoke, :f :read, :value nil, :process 21, :time 28704901740, :index 9087}
{:type :fail, :f :read, :value nil, :process 5, :time 28705093464, :error :connect, :index 9088}
{:type :fail, :f :read, :value nil, :process 21, :time 28706972872, :error :connect, :index 9089}
{:type :invoke, :f :write, :value 0, :process 5, :time 28724333006, :index 9094}
{:type :fail, :f :write, :value 0, :process 5, :time 28725956963, :error :connect, :index 9095}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 28726122559, :index 9096}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 28727981262, :error :connect, :index 9097}
{:type :invoke, :f :read, :value nil, :process 0, :time 28736252142, :index 9100}
{:type :invoke, :f :write, :value 4, :process 5, :time 28737221421, :index 9101}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 28737229474, :index 9102}
{:type :fail, :f :read, :value nil, :process 0, :time 28738316833, :error :connect, :index 9103}
{:type :fail, :f :write, :value 4, :process 5, :time 28739038555, :error :connect, :index 9104}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 28739218931, :error :connect, :index 9105}
{:type :invoke, :f :cas, :value [4 1], :process 29, :time 28744554229, :index 9106}
{:type :fail, :f :cas, :value [4 1], :process 29, :time 28746413618, :error :connect, :index 9107}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 28749884636, :index 9108}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 28751756995, :error :connect, :index 9109}
{:type :invoke, :f :write, :value 2, :process 3, :time 28770732681, :index 9117}
{:type :fail, :f :write, :value 2, :process 3, :time 28772361472, :error :connect, :index 9119}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 28788610106, :index 9122}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 28790230470, :error :connect, :index 9123}
{:type :invoke, :f :write, :value 1, :process 7, :time 28813251162, :index 9128}
{:type :fail, :f :write, :value 1, :process 7, :time 28814877897, :error :connect, :index 9129}
{:type :invoke, :f :write, :value 2, :process 21, :time 28824239744, :index 9130}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 28824476122, :index 9131}
{:type :invoke, :f :write, :value 2, :process 22, :time 28825160251, :index 9132}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 28826303779, :error :connect, :index 9134}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 28826518561, :index 9135}
{:type :fail, :f :write, :value 2, :process 22, :time 28827049690, :error :connect, :index 9136}
{:type :fail, :f :write, :value 2, :process 21, :time 28827298962, :error :connect, :index 9137}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 28828599498, :error :connect, :index 9139}
{:type :invoke, :f :write, :value 1, :process 4, :time 28834512132, :index 9140}
{:type :fail, :f :write, :value 1, :process 4, :time 28836114569, :error :connect, :index 9141}
{:type :invoke, :f :cas, :value [4 2], :process 8, :time 28842034666, :index 9142}
{:type :fail, :f :cas, :value [4 2], :process 8, :time 28843867224, :error :connect, :index 9143}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 28845578045, :index 9144}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 28847361668, :error :connect, :index 9145}
{:type :invoke, :f :write, :value 3, :process 29, :time 28867690265, :index 9149}
{:type :fail, :f :write, :value 3, :process 29, :time 28869308361, :error :connect, :index 9151}
{:type :invoke, :f :read, :value nil, :process 7, :time 28899138011, :index 9167}
{:type :fail, :f :read, :value nil, :process 7, :time 28901003246, :error :connect, :index 9168}
{:type :invoke, :f :read, :value nil, :process 3, :time 28955604195, :index 9186}
{:type :fail, :f :read, :value nil, :process 3, :time 28957709549, :error :connect, :index 9189}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
