{:type :invoke, :f :read, :value nil, :process 7, :time 1137728733, :index 355}
{:type :ok, :f :read, :value 3, :process 7, :time 1144328673, :index 358}
{:type :invoke, :f :read, :value nil, :process 5, :time 1200862491, :index 376}
{:type :ok, :f :read, :value 3, :process 5, :time 1206613572, :index 378}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 1208891204, :index 380}
{:type :invoke, :f :write, :value 4, :process 3, :time 1213351983, :index 381}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 1214121346, :index 382}
{:type :ok, :f :write, :value 4, :process 3, :time 1218251159, :index 383}
{:type :invoke, :f :write, :value 3, :process 0, :time 1239726496, :index 389}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 1243399616, :index 391}
{:type :ok, :f :write, :value 3, :process 0, :time 1244122753, :index 392}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 1248785300, :index 395}
{:type :invoke, :f :read, :value nil, :process 5, :time 1260372135, :index 399}
{:type :ok, :f :read, :value 3, :process 5, :time 1265195885, :index 403}
{:type :invoke, :f :cas, :value [1 3], :process 5, :time 1281425606, :index 406}
{:type :fail, :f :cas, :value [1 3], :process 5, :time 1285933484, :index 407}
{:type :invoke, :f :read, :value nil, :process 1, :time 1328628825, :index 411}
{:type :ok, :f :read, :value 3, :process 1, :time 1333101367, :index 414}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 1339037850, :index 416}
{:type :invoke, :f :cas, :value [3 4], :process 7, :time 1342585012, :index 417}
{:type :ok, :f :cas, :value [3 3], :process 6, :time 1344541802, :index 418}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 1346057608, :index 419}
{:type :ok, :f :cas, :value [3 4], :process 7, :time 1348228953, :index 420}
{:type :invoke, :f :read, :value nil, :process 0, :time 1350377284, :index 421}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 1352371142, :index 422}
{:type :ok, :f :read, :value 4, :process 0, :time 1355022372, :index 423}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 1359268229, :index 424}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 1360359731, :index 425}
{:type :invoke, :f :write, :value 0, :process 0, :time 1361270063, :index 426}
{:type :ok, :f :cas, :value [4 0], :process 8, :time 1365823548, :index 427}
{:type :ok, :f :write, :value 0, :process 0, :time 1365916398, :index 428}
{:type :fail, :f :cas, :value [4 0], :process 1, :time 1367654265, :index 429}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 1393506241, :index 437}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 1399490468, :index 441}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 1407764197, :index 444}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 1413107245, :index 445}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 1422367759, :index 447}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 1427857540, :index 449}
{:type :invoke, :f :read, :value nil, :process 3, :time 1432105647, :index 450}
{:type :ok, :f :read, :value 0, :process 3, :time 1438213897, :index 452}
{:type :invoke, :f :write, :value 0, :process 5, :time 1466208024, :index 455}
{:type :ok, :f :write, :value 0, :process 5, :time 1470514247, :index 458}
{:type :invoke, :f :write, :value 1, :process 0, :time 1506148769, :index 466}
{:type :invoke, :f :cas, :value [1 1], :process 7, :time 1508497506, :index 467}
{:type :invoke, :f :write, :value 1, :process 8, :time 1509101827, :index 468}
{:type :ok, :f :write, :value 1, :process 0, :time 1511158303, :index 470}
{:type :ok, :f :cas, :value [1 1], :process 7, :time 1513852984, :index 471}
{:type :ok, :f :write, :value 1, :process 8, :time 1514147216, :index 472}
{:type :invoke, :f :cas, :value [4 4], :process 1, :time 1514919947, :index 473}
{:type :fail, :f :cas, :value [4 4], :process 1, :time 1520439874, :index 476}
{:type :invoke, :f :cas, :value [2 1], :process 6, :time 1539817603, :index 485}
{:type :invoke, :f :write, :value 3, :process 4, :time 1540743985, :index 486}
{:type :invoke, :f :write, :value 1, :process 5, :time 1543772382, :index 488}
{:type :invoke, :f :write, :value 1, :process 2, :time 1545636785, :index 489}
{:type :fail, :f :cas, :value [2 1], :process 6, :time 1546492833, :index 490}
{:type :ok, :f :write, :value 3, :process 4, :time 1547198208, :index 491}
{:type :ok, :f :write, :value 1, :process 5, :time 1548627176, :index 492}
{:type :ok, :f :write, :value 1, :process 2, :time 1551015564, :index 493}
{:type :invoke, :f :read, :value nil, :process 7, :time 1581157629, :index 498}
{:type :ok, :f :read, :value 1, :process 7, :time 1586082964, :index 501}
{:type :invoke, :f :write, :value 1, :process 1, :time 1599691882, :index 504}
{:type :invoke, :f :read, :value nil, :process 3, :time 1600475744, :index 505}
{:type :invoke, :f :read, :value nil, :process 0, :time 1602415546, :index 506}
{:type :ok, :f :write, :value 1, :process 1, :time 1604317078, :index 507}
{:type :ok, :f :read, :value 1, :process 3, :time 1605682591, :index 508}
{:type :ok, :f :read, :value 1, :process 0, :time 1606997346, :index 509}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 1609377135, :index 510}
{:type :invoke, :f :write, :value 0, :process 2, :time 1610270246, :index 511}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 1614362439, :index 513}
{:type :ok, :f :write, :value 0, :process 2, :time 1615566390, :index 514}
{:type :invoke, :f :write, :value 0, :process 5, :time 1630893445, :index 516}
{:type :ok, :f :write, :value 0, :process 5, :time 1635928466, :index 518}
{:type :invoke, :f :write, :value 0, :process 6, :time 1649753705, :index 526}
{:type :ok, :f :write, :value 0, :process 6, :time 1655117862, :index 532}
{:type :invoke, :f :cas, :value [2 0], :process 1, :time 1656573784, :index 533}
{:type :invoke, :f :read, :value nil, :process 9, :time 1658412668, :index 537}
{:type :fail, :f :cas, :value [2 0], :process 1, :time 1661986798, :index 538}
{:type :ok, :f :read, :value 0, :process 9, :time 1663593880, :index 539}
{:type :invoke, :f :write, :value 0, :process 0, :time 1666245313, :index 540}
{:type :invoke, :f :read, :value nil, :process 5, :time 1668182117, :index 541}
{:type :ok, :f :write, :value 0, :process 0, :time 1671175099, :index 542}
{:type :ok, :f :read, :value 0, :process 5, :time 1672818012, :index 543}
{:type :invoke, :f :write, :value 0, :process 4, :time 1681431293, :index 546}
{:type :invoke, :f :cas, :value [1 1], :process 2, :time 1682841029, :index 547}
{:type :ok, :f :write, :value 0, :process 4, :time 1685564270, :index 550}
{:type :fail, :f :cas, :value [1 1], :process 2, :time 1688897347, :index 552}
{:type :invoke, :f :cas, :value [0 1], :process 2, :time 1690168580, :index 553}
{:type :ok, :f :cas, :value [0 1], :process 2, :time 1694793084, :index 555}
{:type :invoke, :f :write, :value 3, :process 0, :time 1697432087, :index 556}
{:type :ok, :f :write, :value 3, :process 0, :time 1703040501, :index 557}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 1718073102, :index 561}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 1722938956, :index 562}
{:type :invoke, :f :write, :value 1, :process 3, :time 1738893289, :index 572}
{:type :ok, :f :write, :value 1, :process 3, :time 1744617654, :index 575}
{:type :invoke, :f :read, :value nil, :process 8, :time 1753615019, :index 576}
{:type :ok, :f :read, :value 1, :process 8, :time 1758941286, :index 577}
{:type :invoke, :f :write, :value 0, :process 4, :time 1763824601, :index 578}
{:type :invoke, :f :write, :value 1, :process 7, :time 1766339061, :index 579}
{:type :ok, :f :write, :value 0, :process 4, :time 1768840626, :index 580}
{:type :ok, :f :write, :value 1, :process 7, :time 1771392040, :index 581}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 1777375645, :index 582}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 1783736006, :index 584}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 1791989315, :index 586}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 1797831183, :index 588}
{:type :invoke, :f :read, :value nil, :process 9, :time 1799853185, :index 590}
{:type :ok, :f :read, :value 1, :process 9, :time 1805253242, :index 591}
{:type :invoke, :f :cas, :value [3 3], :process 3, :time 1813888618, :index 592}
{:type :invoke, :f :cas, :value [3 1], :process 2, :time 1814068116, :index 593}
{:type :invoke, :f :cas, :value [2 2], :process 0, :time 1819294035, :index 595}
{:type :fail, :f :cas, :value [3 3], :process 3, :time 1820438409, :index 596}
{:type :fail, :f :cas, :value [3 1], :process 2, :time 1821160374, :index 598}
{:type :fail, :f :cas, :value [2 2], :process 0, :time 1824408521, :index 599}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 1854705399, :index 600}
{:type :invoke, :f :read, :value nil, :process 1, :time 1858250023, :index 603}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 1860692675, :index 604}
{:type :ok, :f :read, :value 1, :process 1, :time 1863594251, :index 607}
{:type :invoke, :f :read, :value nil, :process 1, :time 1875833381, :index 608}
{:type :invoke, :f :read, :value nil, :process 8, :time 1879202971, :index 610}
{:type :invoke, :f :write, :value 0, :process 7, :time 1879660186, :index 611}
{:type :ok, :f :read, :value 1, :process 1, :time 1881347349, :index 612}
{:type :ok, :f :read, :value 1, :process 8, :time 1884744655, :index 615}
{:type :ok, :f :write, :value 0, :process 7, :time 1885545049, :index 616}
{:type :invoke, :f :write, :value 2, :process 1, :time 1885675757, :index 617}
{:type :ok, :f :write, :value 2, :process 1, :time 1890333110, :index 619}
{:type :invoke, :f :read, :value nil, :process 9, :time 1892508379, :index 620}
{:type :ok, :f :read, :value 2, :process 9, :time 1897899615, :index 621}
{:type :invoke, :f :cas, :value [4 0], :process 9, :time 1898032634, :index 622}
{:type :invoke, :f :cas, :value [2 2], :process 8, :time 1900017052, :index 624}
{:type :fail, :f :cas, :value [4 0], :process 9, :time 1904825574, :index 625}
{:type :invoke, :f :write, :value 0, :process 3, :time 1905967604, :index 626}
{:type :ok, :f :cas, :value [2 2], :process 8, :time 1908074146, :index 628}
{:type :ok, :f :write, :value 0, :process 3, :time 1910887182, :index 629}
{:type :invoke, :f :write, :value 0, :process 8, :time 1915332512, :index 632}
{:type :invoke, :f :read, :value nil, :process 5, :time 1916206680, :index 634}
{:type :ok, :f :read, :value 0, :process 5, :time 1921123064, :index 639}
{:type :ok, :f :write, :value 0, :process 8, :time 1921551356, :index 640}
{:type :invoke, :f :write, :value 4, :process 4, :time 1936104171, :index 647}
{:type :ok, :f :write, :value 4, :process 4, :time 1940864018, :index 649}
{:type :invoke, :f :cas, :value [2 4], :process 9, :time 1943081883, :index 650}
{:type :fail, :f :cas, :value [2 4], :process 9, :time 1948537324, :index 651}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 1951119232, :index 652}
{:type :invoke, :f :read, :value nil, :process 6, :time 1958097671, :index 653}
{:type :invoke, :f :write, :value 0, :process 1, :time 1961593787, :index 655}
{:type :ok, :f :read, :value 4, :process 6, :time 1963854783, :index 656}
{:type :ok, :f :write, :value 0, :process 1, :time 1966572898, :index 658}
{:type :invoke, :f :cas, :value [3 1], :process 9, :time 1978730496, :index 660}
{:type :invoke, :f :read, :value nil, :process 7, :time 1980796580, :index 662}
{:type :fail, :f :cas, :value [3 1], :process 9, :time 1983871120, :index 663}
{:type :ok, :f :read, :value 0, :process 7, :time 1985654112, :index 664}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 1988721753, :index 666}
{:type :fail, :f :cas, :value [2 0], :process 0, :time 1994047822, :index 667}
{:type :invoke, :f :read, :value nil, :process 0, :time 1994178235, :index 668}
{:type :ok, :f :read, :value 0, :process 0, :time 2000452104, :index 671}
{:type :invoke, :f :write, :value 3, :process 2, :time 2017419790, :index 675}
{:type :ok, :f :write, :value 3, :process 2, :time 2022735705, :index 677}
{:type :invoke, :f :write, :value 3, :process 6, :time 2048127251, :index 684}
{:type :ok, :f :write, :value 3, :process 6, :time 2053824476, :index 687}
{:type :invoke, :f :read, :value nil, :process 5, :time 2060390051, :index 690}
{:type :invoke, :f :read, :value nil, :process 3, :time 2061195223, :index 691}
{:type :ok, :f :read, :value 3, :process 5, :time 2064799489, :index 693}
{:type :ok, :f :read, :value 3, :process 3, :time 2067414647, :index 694}
{:type :invoke, :f :write, :value 0, :process 8, :time 2075813395, :index 695}
{:type :ok, :f :write, :value 0, :process 8, :time 2080944230, :index 697}
{:type :invoke, :f :write, :value 2, :process 1, :time 2096868347, :index 699}
{:type :ok, :f :write, :value 2, :process 1, :time 2101904710, :index 700}
{:type :invoke, :f :write, :value 3, :process 2, :time 2119024771, :index 709}
{:type :ok, :f :write, :value 3, :process 2, :time 2124118259, :index 710}
{:type :invoke, :f :cas, :value [1 4], :process 7, :time 2128902890, :index 711}
{:type :fail, :f :cas, :value [1 4], :process 7, :time 2134862858, :index 713}
{:type :invoke, :f :cas, :value [0 2], :process 6, :time 2158147367, :index 718}
{:type :invoke, :f :read, :value nil, :process 9, :time 2162138224, :index 721}
{:type :fail, :f :cas, :value [0 2], :process 6, :time 2163335371, :index 722}
{:type :ok, :f :read, :value 3, :process 9, :time 2166349023, :index 724}
{:type :invoke, :f :read, :value nil, :process 1, :time 2167172100, :index 725}
{:type :ok, :f :read, :value 3, :process 1, :time 2172597688, :index 727}
{:type :invoke, :f :read, :value nil, :process 9, :time 2178579483, :index 729}
{:type :invoke, :f :write, :value 4, :process 0, :time 2180715228, :index 730}
{:type :ok, :f :read, :value 3, :process 9, :time 2184987552, :index 732}
{:type :ok, :f :write, :value 4, :process 0, :time 2185274459, :index 733}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 2203665080, :index 739}
{:type :ok, :f :cas, :value [4 0], :process 3, :time 2209033349, :index 740}
{:type :invoke, :f :write, :value 1, :process 9, :time 2219239823, :index 741}
{:type :invoke, :f :write, :value 0, :process 2, :time 2246378872, :index 748}
{:type :ok, :f :write, :value 0, :process 2, :time 2251496467, :index 749}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 2258052881, :index 751}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 2263083715, :index 752}
{:type :invoke, :f :read, :value nil, :process 7, :time 2271142377, :index 754}
{:type :invoke, :f :read, :value nil, :process 8, :time 2271218791, :index 755}
{:type :invoke, :f :cas, :value [0 1], :process 1, :time 2271860135, :index 756}
{:type :ok, :f :read, :value 0, :process 8, :time 2277465823, :index 759}
{:type :ok, :f :cas, :value [0 1], :process 1, :time 2277598715, :index 760}
{:type :invoke, :f :write, :value 3, :process 3, :time 2282307638, :index 763}
{:type :ok, :f :write, :value 3, :process 3, :time 2290131326, :index 767}
{:type :invoke, :f :write, :value 2, :process 6, :time 2300608739, :index 769}
{:type :invoke, :f :read, :value nil, :process 0, :time 2304517192, :index 771}
{:type :ok, :f :write, :value 2, :process 6, :time 2305708392, :index 772}
{:type :ok, :f :read, :value 2, :process 0, :time 2309554581, :index 776}
{:type :ok, :f :write, :value 1, :process 9, :time 2439651085, :index 794}
{:type :ok, :f :read, :value 1, :process 7, :time 2837224307, :index 901}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 3045323440, :index 962}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
