{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :invoke, :f :write, :value 4, :process 4, :time 34018834415, :index 11148}
{:type :fail, :f :write, :value 4, :process 4, :time 34020578763, :error :connect, :index 11149}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 34038102971, :index 11159}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 34040036496, :error :connect, :index 11161}
{:type :invoke, :f :write, :value 4, :process 7, :time 34068054564, :index 11172}
{:type :fail, :f :write, :value 4, :process 7, :time 34069901130, :error :connect, :index 11173}
{:type :invoke, :f :cas, :value [3 4], :process 21, :time 34075898691, :index 11174}
{:type :fail, :f :cas, :value [3 4], :process 21, :time 34077547058, :error :connect, :index 11175}
{:type :invoke, :f :write, :value 1, :process 4, :time 34100835862, :index 11176}
{:type :invoke, :f :read, :value nil, :process 29, :time 34101835527, :index 11177}
{:type :fail, :f :write, :value 1, :process 4, :time 34102504056, :error :connect, :index 11178}
{:type :fail, :f :read, :value nil, :process 29, :time 34103564624, :error :connect, :index 11179}
{:type :invoke, :f :read, :value nil, :process 22, :time 34116796448, :index 11187}
{:type :fail, :f :read, :value nil, :process 22, :time 34118591181, :error :connect, :index 11189}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 34122683298, :index 11190}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 34124472958, :error :connect, :index 11191}
{:type :invoke, :f :write, :value 4, :process 7, :time 34146167714, :index 11195}
{:type :fail, :f :write, :value 4, :process 7, :time 34148063048, :error :connect, :index 11197}
{:type :invoke, :f :write, :value 2, :process 21, :time 34150728567, :index 11198}
{:type :fail, :f :write, :value 2, :process 21, :time 34152820355, :error :connect, :index 11199}
{:type :invoke, :f :read, :value nil, :process 0, :time 34153736197, :index 11200}
{:type :fail, :f :read, :value nil, :process 0, :time 34155541539, :error :connect, :index 11201}
{:type :invoke, :f :read, :value nil, :process 6, :time 34159321788, :index 11202}
{:type :fail, :f :read, :value nil, :process 6, :time 34160888814, :error :connect, :index 11203}
{:type :invoke, :f :write, :value 4, :process 5, :time 34164161368, :index 11204}
{:type :fail, :f :write, :value 4, :process 5, :time 34167064272, :error :connect, :index 11205}
{:type :invoke, :f :write, :value 4, :process 3, :time 34193708556, :index 11210}
{:type :fail, :f :write, :value 4, :process 3, :time 34195906256, :error :connect, :index 11213}
{:type :invoke, :f :read, :value nil, :process 22, :time 34195873356, :index 11214}
{:type :fail, :f :read, :value nil, :process 22, :time 34197931668, :error :connect, :index 11215}
{:type :invoke, :f :write, :value 2, :process 29, :time 34206732867, :index 11216}
{:type :fail, :f :write, :value 2, :process 29, :time 34208516353, :error :connect, :index 11217}
{:type :invoke, :f :write, :value 2, :process 7, :time 34230318670, :index 11224}
{:type :fail, :f :write, :value 2, :process 7, :time 34232252137, :error :connect, :index 11225}
{:type :invoke, :f :write, :value 3, :process 5, :time 34240335020, :index 11232}
{:type :fail, :f :write, :value 3, :process 5, :time 34242161341, :error :connect, :index 11233}
{:type :invoke, :f :cas, :value [3 0], :process 21, :time 34259090952, :index 11236}
{:type :fail, :f :cas, :value [3 0], :process 21, :time 34260976120, :error :connect, :index 11238}
{:type :invoke, :f :write, :value 2, :process 6, :time 34261161208, :index 11239}
{:type :fail, :f :write, :value 2, :process 6, :time 34263048487, :error :connect, :index 11241}
{:type :invoke, :f :write, :value 0, :process 22, :time 34272128422, :index 11243}
{:type :fail, :f :write, :value 0, :process 22, :time 34274481856, :error :connect, :index 11245}
{:type :invoke, :f :write, :value 4, :process 4, :time 34287800589, :index 11248}
{:type :fail, :f :write, :value 4, :process 4, :time 34289653796, :error :connect, :index 11249}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 34294716471, :index 11250}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 34296752710, :error :connect, :index 11251}
{:type :invoke, :f :read, :value nil, :process 8, :time 34302164505, :index 11252}
{:type :fail, :f :read, :value nil, :process 8, :time 34304056686, :error :connect, :index 11253}
{:type :invoke, :f :read, :value nil, :process 3, :time 34320230843, :index 11264}
{:type :fail, :f :read, :value nil, :process 3, :time 34322125261, :error :connect, :index 11265}
{:type :invoke, :f :read, :value nil, :process 22, :time 34326726471, :index 11266}
{:type :fail, :f :read, :value nil, :process 22, :time 34328755432, :error :connect, :index 11267}
{:type :invoke, :f :write, :value 0, :process 0, :time 34363015362, :index 11272}
{:type :fail, :f :write, :value 0, :process 0, :time 34365065721, :error :connect, :index 11273}
{:type :invoke, :f :cas, :value [2 3], :process 29, :time 34380780002, :index 11279}
{:type :fail, :f :cas, :value [2 3], :process 29, :time 34382886280, :error :connect, :index 11281}
{:type :invoke, :f :write, :value 3, :process 5, :time 34392420401, :index 11284}
{:type :fail, :f :write, :value 3, :process 5, :time 34394671979, :error :connect, :index 11287}
{:type :invoke, :f :write, :value 0, :process 8, :time 34406320039, :index 11290}
{:type :fail, :f :write, :value 0, :process 8, :time 34408313120, :error :connect, :index 11291}
{:type :invoke, :f :read, :value nil, :process 4, :time 34421923259, :index 11294}
{:type :fail, :f :read, :value nil, :process 4, :time 34423961369, :error :connect, :index 11295}
{:type :invoke, :f :read, :value nil, :process 21, :time 34426242094, :index 11296}
{:type :invoke, :f :read, :value nil, :process 6, :time 34426327929, :index 11297}
{:type :fail, :f :read, :value nil, :process 6, :time 34428317782, :error :connect, :index 11298}
{:type :fail, :f :read, :value nil, :process 21, :time 34428504120, :error :connect, :index 11299}
{:type :invoke, :f :write, :value 0, :process 7, :time 34431534294, :index 11302}
{:type :fail, :f :write, :value 0, :process 7, :time 34433397139, :error :connect, :index 11303}
{:type :invoke, :f :read, :value nil, :process 22, :time 34448018078, :index 11305}
{:type :fail, :f :read, :value nil, :process 22, :time 34450206729, :error :connect, :index 11307}
{:type :invoke, :f :read, :value nil, :process 3, :time 34456397165, :index 11308}
{:type :fail, :f :read, :value nil, :process 3, :time 34458070441, :error :connect, :index 11309}
{:type :invoke, :f :cas, :value [3 4], :process 21, :time 34479756180, :index 11320}
{:type :fail, :f :cas, :value [3 4], :process 21, :time 34481656728, :error :connect, :index 11322}
{:type :invoke, :f :cas, :value [2 2], :process 0, :time 34495367725, :index 11326}
{:type :fail, :f :cas, :value [2 2], :process 0, :time 34497176962, :error :connect, :index 11327}
{:type :invoke, :f :write, :value 4, :process 4, :time 34521228368, :index 11334}
{:type :fail, :f :write, :value 4, :process 4, :time 34523019694, :error :connect, :index 11335}
{:type :invoke, :f :write, :value 3, :process 3, :time 34525327890, :index 11336}
{:type :invoke, :f :read, :value nil, :process 5, :time 34526955175, :index 11337}
{:type :fail, :f :write, :value 3, :process 3, :time 34527456961, :error :connect, :index 11338}
{:type :fail, :f :read, :value nil, :process 5, :time 34529038809, :error :connect, :index 11339}
{:type :invoke, :f :cas, :value [2 3], :process 29, :time 34533163358, :index 11340}
{:type :fail, :f :cas, :value [2 3], :process 29, :time 34535186764, :error :connect, :index 11342}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 34557602802, :index 11345}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 34559598108, :error :connect, :index 11346}
{:type :invoke, :f :write, :value 1, :process 4, :time 34583302253, :index 11349}
{:type :fail, :f :write, :value 1, :process 4, :time 34584918698, :error :connect, :index 11350}
{:type :invoke, :f :read, :value nil, :process 21, :time 34588934460, :index 11353}
{:type :fail, :f :read, :value nil, :process 21, :time 34591047762, :error :connect, :index 11355}
{:type :invoke, :f :write, :value 1, :process 22, :time 34592454779, :index 11356}
{:type :fail, :f :write, :value 1, :process 22, :time 34594333339, :error :connect, :index 11357}
{:type :invoke, :f :write, :value 3, :process 3, :time 34597725609, :index 11358}
{:type :fail, :f :write, :value 3, :process 3, :time 34599409560, :error :connect, :index 11359}
{:type :invoke, :f :write, :value 3, :process 4, :time 34600195434, :index 11360}
{:type :fail, :f :write, :value 3, :process 4, :time 34601793194, :error :connect, :index 11361}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 34605876053, :index 11362}
{:type :invoke, :f :write, :value 2, :process 8, :time 34607579506, :index 11364}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 34607915711, :error :connect, :index 11365}
{:type :fail, :f :write, :value 2, :process 8, :time 34609688800, :error :connect, :index 11367}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 34625169468, :index 11372}
{:type :invoke, :f :cas, :value [3 4], :process 22, :time 34626600987, :index 11373}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 34627264224, :error :connect, :index 11374}
{:type :fail, :f :cas, :value [3 4], :process 22, :time 34628324463, :error :connect, :index 11375}
{:type :invoke, :f :read, :value nil, :process 7, :time 34632653368, :index 11376}
{:type :fail, :f :read, :value nil, :process 7, :time 34634496201, :error :connect, :index 11377}
{:type :invoke, :f :read, :value nil, :process 29, :time 34637471764, :index 11379}
{:type :fail, :f :read, :value nil, :process 29, :time 34639078771, :error :connect, :index 11381}
{:type :invoke, :f :read, :value nil, :process 3, :time 34646804613, :index 11383}
{:type :fail, :f :read, :value nil, :process 3, :time 34648716555, :error :connect, :index 11385}
{:type :invoke, :f :read, :value nil, :process 6, :time 34653513100, :index 11386}
{:type :fail, :f :read, :value nil, :process 6, :time 34655416724, :error :connect, :index 11387}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 34693297578, :index 11392}
{:type :invoke, :f :write, :value 4, :process 0, :time 34694447139, :index 11393}
{:type :fail, :f :cas, :value [3 0], :process 5, :time 34695230316, :error :connect, :index 11394}
{:type :fail, :f :write, :value 4, :process 0, :time 34696371586, :error :connect, :index 11395}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 34706945323, :index 11399}
{:type :invoke, :f :read, :value nil, :process 4, :time 34708055068, :index 11401}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 34708871706, :error :connect, :index 11402}
{:type :fail, :f :read, :value nil, :process 4, :time 34709819739, :error :connect, :index 11403}
{:type :invoke, :f :read, :value nil, :process 0, :time 34714620661, :index 11404}
{:type :fail, :f :read, :value nil, :process 0, :time 34716284050, :error :connect, :index 11405}
{:type :invoke, :f :write, :value 0, :process 22, :time 34717588450, :index 11406}
{:type :fail, :f :write, :value 0, :process 22, :time 34719641510, :error :connect, :index 11407}
{:type :invoke, :f :read, :value nil, :process 7, :time 34732762565, :index 11412}
{:type :fail, :f :read, :value nil, :process 7, :time 34734415410, :error :connect, :index 11413}
{:type :invoke, :f :write, :value 0, :process 8, :time 34750180936, :index 11418}
{:type :fail, :f :write, :value 0, :process 8, :time 34752366262, :error :connect, :index 11419}
{:type :invoke, :f :write, :value 4, :process 29, :time 34752345868, :index 11420}
{:type :fail, :f :write, :value 4, :process 29, :time 34754373266, :error :connect, :index 11421}
{:type :invoke, :f :write, :value 0, :process 6, :time 34754688504, :index 11422}
{:type :fail, :f :write, :value 0, :process 6, :time 34756550384, :error :connect, :index 11423}
{:type :invoke, :f :cas, :value [4 0], :process 21, :time 34769302114, :index 11428}
{:type :fail, :f :cas, :value [4 0], :process 21, :time 34770905453, :error :connect, :index 11429}
{:type :invoke, :f :write, :value 3, :process 3, :time 34782977844, :index 11432}
{:type :fail, :f :write, :value 3, :process 3, :time 34784819720, :error :connect, :index 11433}
{:type :invoke, :f :read, :value nil, :process 0, :time 34820577645, :index 11443}
{:type :fail, :f :read, :value nil, :process 0, :time 34822506264, :error :connect, :index 11445}
{:type :invoke, :f :read, :value nil, :process 8, :time 34833647538, :index 11448}
{:type :fail, :f :read, :value nil, :process 8, :time 34835528025, :error :connect, :index 11449}
{:type :invoke, :f :read, :value nil, :process 0, :time 34841760225, :index 11451}
{:type :fail, :f :read, :value nil, :process 0, :time 34843644107, :error :connect, :index 11453}
{:type :invoke, :f :read, :value nil, :process 21, :time 34846183108, :index 11456}
{:type :fail, :f :read, :value nil, :process 21, :time 34847743169, :error :connect, :index 11457}
{:type :invoke, :f :write, :value 3, :process 5, :time 34862385197, :index 11460}
{:type :fail, :f :write, :value 3, :process 5, :time 34864533397, :error :connect, :index 11461}
{:type :invoke, :f :read, :value nil, :process 4, :time 34873083633, :index 11464}
{:type :fail, :f :read, :value nil, :process 4, :time 34874968628, :error :connect, :index 11467}
{:type :invoke, :f :write, :value 1, :process 7, :time 34877678567, :index 11468}
{:type :fail, :f :write, :value 1, :process 7, :time 34879678090, :error :connect, :index 11469}
{:type :invoke, :f :write, :value 0, :process 3, :time 34886074414, :index 11470}
{:type :fail, :f :write, :value 0, :process 3, :time 34887950005, :error :connect, :index 11471}
{:type :invoke, :f :write, :value 3, :process 22, :time 34887917520, :index 11472}
{:type :fail, :f :write, :value 3, :process 22, :time 34889998138, :error :connect, :index 11473}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 34890740334, :index 11474}
{:type :fail, :f :cas, :value [1 0], :process 8, :time 34892394146, :error :connect, :index 11475}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 34897205508, :index 11477}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 34898804676, :error :connect, :index 11479}
{:type :invoke, :f :read, :value nil, :process 29, :time 34900631903, :index 11480}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 34900685622, :index 11481}
{:type :fail, :f :read, :value nil, :process 29, :time 34902751896, :error :connect, :index 11482}
{:type :fail, :f :cas, :value [3 3], :process 8, :time 34902751980, :error :connect, :index 11483}
{:type :invoke, :f :write, :value 2, :process 6, :time 34914732106, :index 11486}
{:type :fail, :f :write, :value 2, :process 6, :time 34916560969, :error :connect, :index 11487}
{:type :invoke, :f :write, :value 2, :process 6, :time 34942730892, :index 11498}
{:type :fail, :f :write, :value 2, :process 6, :time 34944394357, :error :connect, :index 11499}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 34964105225, :index 11500}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 34965777078, :error :connect, :index 11501}
{:type :invoke, :f :read, :value nil, :process 4, :time 34969067516, :index 11502}
{:type :fail, :f :read, :value nil, :process 4, :time 34971088061, :error :connect, :index 11503}
{:type :invoke, :f :read, :value nil, :process 4, :time 34971223423, :index 11504}
{:type :fail, :f :read, :value nil, :process 4, :time 34972985437, :error :connect, :index 11505}
{:type :invoke, :f :write, :value 1, :process 3, :time 34986677577, :index 11508}
{:type :invoke, :f :read, :value nil, :process 0, :time 34987899173, :index 11509}
{:type :fail, :f :write, :value 1, :process 3, :time 34988599453, :error :connect, :index 11510}
{:type :fail, :f :read, :value nil, :process 0, :time 34989627362, :error :connect, :index 11511}
{:type :invoke, :f :write, :value 0, :process 21, :time 35001007613, :index 11514}
{:type :invoke, :f :write, :value 3, :process 5, :time 35001799096, :index 11515}
{:type :fail, :f :write, :value 0, :process 21, :time 35002812244, :error :connect, :index 11516}
{:type :fail, :f :write, :value 3, :process 5, :time 35003962159, :error :connect, :index 11518}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 35015270394, :index 11522}
{:type :invoke, :f :read, :value nil, :process 29, :time 35017095229, :index 11523}
{:type :fail, :f :cas, :value [1 4], :process 4, :time 35017326170, :error :connect, :index 11524}
{:type :invoke, :f :cas, :value [1 0], :process 7, :time 35017948054, :index 11525}
{:type :fail, :f :read, :value nil, :process 29, :time 35018959335, :error :connect, :index 11526}
{:type :fail, :f :cas, :value [1 0], :process 7, :time 35020036158, :error :connect, :index 11527}
{:type :invoke, :f :write, :value 2, :process 22, :time 35027252400, :index 11528}
{:type :fail, :f :write, :value 2, :process 22, :time 35029267496, :error :connect, :index 11529}
{:type :invoke, :f :write, :value 4, :process 8, :time 35044988018, :index 11536}
{:type :fail, :f :write, :value 4, :process 8, :time 35046935771, :error :connect, :index 11538}
{:type :invoke, :f :write, :value 2, :process 21, :time 35109069483, :index 11564}
{:type :fail, :f :write, :value 2, :process 21, :time 35111193428, :error :connect, :index 11567}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 35120895395, :index 11571}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 35122902478, :error :connect, :index 11573}
{:type :invoke, :f :write, :value 1, :process 6, :time 35140653817, :index 11576}
{:type :fail, :f :write, :value 1, :process 6, :time 35142485676, :error :connect, :index 11577}
{:type :invoke, :f :write, :value 3, :process 5, :time 35176210657, :index 11592}
{:type :invoke, :f :write, :value 3, :process 3, :time 35177863548, :index 11593}
{:type :fail, :f :write, :value 3, :process 5, :time 35178320813, :error :connect, :index 11594}
{:type :fail, :f :write, :value 3, :process 3, :time 35179926445, :error :connect, :index 11596}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
