{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :invoke, :f :read, :value nil, :process 22, :time 32925095042, :index 4870}
{:type :ok, :f :read, :value nil, :process 22, :time 32930435804, :index 4874}
{:type :invoke, :f :cas, :value [2 0], :process 28, :time 32986798533, :index 4896}
{:type :fail, :f :cas, :value [2 0], :process 28, :time 32992553766, :error :not-found, :index 4898}
{:type :invoke, :f :write, :value 1, :process 43, :time 32993318614, :index 4900}
{:type :ok, :f :write, :value 1, :process 43, :time 32998338316, :index 4901}
{:type :invoke, :f :cas, :value [3 1], :process 49, :time 33013708200, :index 4909}
{:type :invoke, :f :read, :value nil, :process 25, :time 33017104904, :index 4912}
{:type :invoke, :f :write, :value 3, :process 40, :time 33018664295, :index 4913}
{:type :fail, :f :cas, :value [3 1], :process 49, :time 33019344009, :index 4914}
{:type :ok, :f :read, :value 1, :process 25, :time 33022959624, :index 4916}
{:type :ok, :f :write, :value 3, :process 40, :time 33024245918, :index 4917}
{:type :invoke, :f :cas, :value [1 3], :process 43, :time 33039592931, :index 4920}
{:type :fail, :f :cas, :value [1 3], :process 43, :time 33045397267, :index 4921}
{:type :invoke, :f :read, :value nil, :process 44, :time 33059027077, :index 4929}
{:type :ok, :f :read, :value 3, :process 44, :time 33063696942, :index 4932}
{:type :invoke, :f :write, :value 2, :process 41, :time 33067623388, :index 4934}
{:type :invoke, :f :read, :value nil, :process 7, :time 33067627825, :index 4935}
{:type :ok, :f :write, :value 2, :process 41, :time 33072595284, :index 4936}
{:type :ok, :f :read, :value 2, :process 7, :time 33072983458, :index 4937}
{:type :invoke, :f :cas, :value [4 2], :process 49, :time 33074615841, :index 4938}
{:type :invoke, :f :read, :value nil, :process 44, :time 33075953798, :index 4939}
{:type :fail, :f :cas, :value [4 2], :process 49, :time 33079849032, :index 4940}
{:type :ok, :f :read, :value 2, :process 44, :time 33081242287, :index 4942}
{:type :invoke, :f :write, :value 4, :process 22, :time 33097703294, :index 4945}
{:type :ok, :f :write, :value 4, :process 22, :time 33102034673, :index 4948}
{:type :invoke, :f :write, :value 0, :process 40, :time 33106497654, :index 4950}
{:type :invoke, :f :cas, :value [1 4], :process 7, :time 33110216198, :index 4951}
{:type :ok, :f :write, :value 0, :process 40, :time 33112016782, :index 4952}
{:type :fail, :f :cas, :value [1 4], :process 7, :time 33115383468, :index 4953}
{:type :invoke, :f :cas, :value [0 2], :process 28, :time 33121816876, :index 4954}
{:type :ok, :f :cas, :value [0 2], :process 28, :time 33127123924, :index 4955}
{:type :invoke, :f :write, :value 2, :process 28, :time 33132392648, :index 4957}
{:type :ok, :f :write, :value 2, :process 28, :time 33137130924, :index 4960}
{:type :invoke, :f :write, :value 0, :process 25, :time 33142216620, :index 4962}
{:type :ok, :f :write, :value 0, :process 25, :time 33147143552, :index 4964}
{:type :invoke, :f :read, :value nil, :process 22, :time 33153286151, :index 4966}
{:type :invoke, :f :cas, :value [2 1], :process 43, :time 33154669717, :index 4967}
{:type :invoke, :f :write, :value 1, :process 49, :time 33156121177, :index 4968}
{:type :fail, :f :cas, :value [2 1], :process 43, :time 33161044710, :index 4970}
{:type :ok, :f :write, :value 1, :process 49, :time 33162143954, :index 4971}
{:type :ok, :f :read, :value 1, :process 22, :time 33162282599, :index 4972}
{:type :invoke, :f :read, :value nil, :process 41, :time 33181859645, :index 4977}
{:type :ok, :f :read, :value 1, :process 41, :time 33186252495, :index 4979}
{:type :invoke, :f :cas, :value [2 1], :process 46, :time 33194614297, :index 4982}
{:type :fail, :f :cas, :value [2 1], :process 46, :time 33199243209, :index 4984}
{:type :invoke, :f :write, :value 4, :process 44, :time 33207492832, :index 4986}
{:type :ok, :f :write, :value 4, :process 44, :time 33212861483, :index 4987}
{:type :invoke, :f :write, :value 3, :process 25, :time 33213388665, :index 4988}
{:type :ok, :f :write, :value 3, :process 25, :time 33218420878, :index 4989}
{:type :invoke, :f :read, :value nil, :process 49, :time 33229425372, :index 4993}
{:type :ok, :f :read, :value 3, :process 49, :time 33234268965, :index 4995}
{:type :invoke, :f :write, :value 4, :process 28, :time 33235386047, :index 4996}
{:type :ok, :f :write, :value 4, :process 28, :time 33240294543, :index 4997}
{:type :invoke, :f :cas, :value [4 2], :process 22, :time 33247527728, :index 5001}
{:type :ok, :f :cas, :value [4 2], :process 22, :time 33252245926, :index 5004}
{:type :invoke, :f :read, :value nil, :process 49, :time 33252521641, :index 5005}
{:type :invoke, :f :read, :value nil, :process 44, :time 33253128691, :index 5006}
{:type :invoke, :f :write, :value 1, :process 25, :time 33253688579, :index 5007}
{:type :ok, :f :read, :value 2, :process 49, :time 33257132298, :index 5009}
{:type :ok, :f :read, :value 1, :process 44, :time 33258937414, :index 5010}
{:type :ok, :f :write, :value 1, :process 25, :time 33259141148, :index 5011}
{:type :invoke, :f :cas, :value [1 4], :process 40, :time 33259271792, :index 5012}
{:type :ok, :f :cas, :value [1 4], :process 40, :time 33265894255, :index 5016}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 33267650064, :index 5019}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 33268483077, :index 5020}
{:type :invoke, :f :write, :value 4, :process 28, :time 33272556233, :index 5022}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 33273835276, :index 5023}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 33273953142, :index 5024}
{:type :ok, :f :write, :value 4, :process 28, :time 33277887138, :index 5025}
{:type :invoke, :f :write, :value 2, :process 46, :time 33297539078, :index 5029}
{:type :ok, :f :write, :value 2, :process 46, :time 33302217300, :index 5031}
{:type :invoke, :f :cas, :value [3 4], :process 25, :time 33307383436, :index 5033}
{:type :fail, :f :cas, :value [3 4], :process 25, :time 33312893941, :index 5036}
{:type :invoke, :f :read, :value nil, :process 40, :time 33324168262, :index 5040}
{:type :ok, :f :read, :value 2, :process 40, :time 33329037652, :index 5041}
{:type :invoke, :f :read, :value nil, :process 43, :time 33345318008, :index 5046}
{:type :invoke, :f :write, :value 0, :process 44, :time 33349218046, :index 5047}
{:type :ok, :f :read, :value 2, :process 43, :time 33350735943, :index 5048}
{:type :ok, :f :write, :value 0, :process 44, :time 33354557474, :index 5049}
{:type :invoke, :f :cas, :value [0 4], :process 25, :time 33360154477, :index 5051}
{:type :invoke, :f :read, :value nil, :process 41, :time 33360515174, :index 5052}
{:type :ok, :f :read, :value 4, :process 41, :time 33365956122, :index 5054}
{:type :ok, :f :cas, :value [0 4], :process 25, :time 33366069027, :index 5055}
{:type :invoke, :f :write, :value 0, :process 7, :time 33383114135, :index 5057}
{:type :ok, :f :write, :value 0, :process 7, :time 33388172068, :index 5058}
{:type :invoke, :f :cas, :value [0 0], :process 43, :time 33400000060, :index 5061}
{:type :invoke, :f :cas, :value [4 0], :process 46, :time 33400494462, :index 5062}
{:type :invoke, :f :cas, :value [3 4], :process 28, :time 33403142903, :index 5064}
{:type :ok, :f :cas, :value [0 0], :process 43, :time 33405783303, :index 5065}
{:type :fail, :f :cas, :value [4 0], :process 46, :time 33406836377, :index 5066}
{:type :fail, :f :cas, :value [3 4], :process 28, :time 33407596805, :index 5067}
{:type :invoke, :f :read, :value nil, :process 41, :time 33417254283, :index 5073}
{:type :ok, :f :read, :value 0, :process 41, :time 33422270951, :index 5075}
{:type :invoke, :f :read, :value nil, :process 49, :time 33426392182, :index 5076}
{:type :ok, :f :read, :value 0, :process 49, :time 33431442751, :index 5077}
{:type :invoke, :f :cas, :value [0 0], :process 25, :time 33441321257, :index 5079}
{:type :ok, :f :cas, :value [0 0], :process 25, :time 33446763594, :index 5081}
{:type :invoke, :f :cas, :value [4 3], :process 40, :time 33458296581, :index 5082}
{:type :fail, :f :cas, :value [4 3], :process 40, :time 33464540590, :index 5084}
{:type :invoke, :f :cas, :value [4 0], :process 44, :time 33470727921, :index 5088}
{:type :invoke, :f :read, :value nil, :process 22, :time 33471414672, :index 5090}
{:type :fail, :f :cas, :value [4 0], :process 44, :time 33477177689, :index 5092}
{:type :ok, :f :read, :value 0, :process 22, :time 33477591483, :index 5093}
{:type :invoke, :f :cas, :value [4 3], :process 40, :time 33491833514, :index 5098}
{:type :fail, :f :cas, :value [4 3], :process 40, :time 33497960805, :index 5100}
{:type :invoke, :f :cas, :value [0 2], :process 41, :time 33504522609, :index 5102}
{:type :invoke, :f :write, :value 0, :process 46, :time 33506106977, :index 5103}
{:type :ok, :f :cas, :value [0 2], :process 41, :time 33510245234, :index 5104}
{:type :ok, :f :write, :value 0, :process 46, :time 33510815584, :index 5105}
{:type :invoke, :f :write, :value 3, :process 7, :time 33528432848, :index 5111}
{:type :invoke, :f :cas, :value [1 2], :process 25, :time 33530075098, :index 5112}
{:type :ok, :f :write, :value 3, :process 7, :time 33533048259, :index 5113}
{:type :invoke, :f :cas, :value [3 1], :process 41, :time 33534514586, :index 5114}
{:type :fail, :f :cas, :value [1 2], :process 25, :time 33535556930, :index 5115}
{:type :ok, :f :cas, :value [3 1], :process 41, :time 33539641820, :index 5116}
{:type :invoke, :f :write, :value 1, :process 43, :time 33542058603, :index 5118}
{:type :invoke, :f :read, :value nil, :process 22, :time 33546888570, :index 5120}
{:type :invoke, :f :cas, :value [4 2], :process 40, :time 33550223610, :index 5122}
{:type :invoke, :f :read, :value nil, :process 28, :time 33551855931, :index 5123}
{:type :ok, :f :read, :value 1, :process 22, :time 33552019566, :index 5124}
{:type :fail, :f :cas, :value [4 2], :process 40, :time 33556239989, :index 5127}
{:type :invoke, :f :cas, :value [3 2], :process 44, :time 33566455044, :index 5131}
{:type :invoke, :f :read, :value nil, :process 49, :time 33567708333, :index 5132}
{:type :fail, :f :cas, :value [3 2], :process 44, :time 33571428805, :index 5133}
{:type :ok, :f :read, :value 1, :process 49, :time 33572919337, :index 5134}
{:type :invoke, :f :cas, :value [0 2], :process 49, :time 33589097810, :index 5137}
{:type :fail, :f :cas, :value [0 2], :process 49, :time 33595252283, :index 5139}
{:type :invoke, :f :read, :value nil, :process 44, :time 33626699993, :index 5149}
{:type :invoke, :f :cas, :value [2 0], :process 40, :time 33635497037, :index 5151}
{:type :ok, :f :read, :value 1, :process 44, :time 33637312595, :index 5153}
{:type :fail, :f :cas, :value [2 0], :process 40, :time 33641495302, :index 5154}
{:type :invoke, :f :write, :value 4, :process 25, :time 33646723110, :index 5156}
{:type :invoke, :f :write, :value 2, :process 49, :time 33651521106, :index 5157}
{:type :ok, :f :write, :value 4, :process 25, :time 33652123764, :index 5158}
{:type :ok, :f :write, :value 2, :process 49, :time 33657140170, :index 5159}
{:type :invoke, :f :write, :value 2, :process 7, :time 33666318572, :index 5160}
{:type :ok, :f :write, :value 2, :process 7, :time 33671198426, :index 5161}
{:type :invoke, :f :cas, :value [3 1], :process 41, :time 33698960243, :index 5167}
{:type :invoke, :f :write, :value 2, :process 49, :time 33703398290, :index 5169}
{:type :fail, :f :cas, :value [3 1], :process 41, :time 33704401601, :index 5171}
{:type :invoke, :f :cas, :value [4 2], :process 46, :time 33708060836, :index 5174}
{:type :invoke, :f :read, :value nil, :process 22, :time 33712258973, :index 5176}
{:type :fail, :f :cas, :value [4 2], :process 46, :time 33713253110, :index 5177}
{:type :ok, :f :write, :value 2, :process 49, :time 33717609948, :index 5180}
{:type :ok, :f :read, :value 2, :process 22, :time 33717612639, :index 5181}
{:type :invoke, :f :cas, :value [0 0], :process 40, :time 33721758504, :index 5182}
{:type :fail, :f :cas, :value [0 0], :process 40, :time 33727772485, :index 5183}
{:type :invoke, :f :cas, :value [2 1], :process 25, :time 33743363644, :index 5186}
{:type :ok, :f :cas, :value [2 1], :process 25, :time 33748637663, :index 5187}
{:type :invoke, :f :read, :value nil, :process 46, :time 33756513267, :index 5189}
{:type :ok, :f :read, :value 1, :process 46, :time 33762225372, :index 5191}
{:type :invoke, :f :write, :value 1, :process 44, :time 33781578364, :index 5194}
{:type :ok, :f :write, :value 1, :process 44, :time 33786878668, :index 5195}
{:type :invoke, :f :cas, :value [2 1], :process 40, :time 33797029398, :index 5196}
{:type :fail, :f :cas, :value [2 1], :process 40, :time 33803154195, :index 5199}
{:type :invoke, :f :cas, :value [0 3], :process 46, :time 33823494326, :index 5205}
{:type :invoke, :f :cas, :value [1 0], :process 49, :time 33825881687, :index 5206}
{:type :fail, :f :cas, :value [0 3], :process 46, :time 33829459772, :index 5208}
{:type :ok, :f :cas, :value [1 0], :process 49, :time 33831085604, :index 5209}
{:type :invoke, :f :cas, :value [2 0], :process 41, :time 33832638154, :index 5210}
{:type :invoke, :f :write, :value 3, :process 49, :time 33835342010, :index 5211}
{:type :invoke, :f :write, :value 1, :process 7, :time 33836460586, :index 5212}
{:type :fail, :f :cas, :value [2 0], :process 41, :time 33838063473, :index 5213}
{:type :ok, :f :write, :value 3, :process 49, :time 33841220328, :index 5214}
{:type :ok, :f :write, :value 1, :process 7, :time 33841346018, :index 5215}
{:type :invoke, :f :cas, :value [0 3], :process 41, :time 33869384076, :index 5222}
{:type :fail, :f :cas, :value [0 3], :process 41, :time 33875200218, :index 5224}
{:type :invoke, :f :read, :value nil, :process 44, :time 33877135845, :index 5226}
{:type :ok, :f :read, :value 1, :process 44, :time 33881724236, :index 5228}
{:type :invoke, :f :cas, :value [0 2], :process 44, :time 33881857737, :index 5229}
{:type :invoke, :f :read, :value nil, :process 25, :time 33882912503, :index 5230}
{:type :fail, :f :cas, :value [0 2], :process 44, :time 33887789344, :index 5232}
{:type :ok, :f :read, :value 1, :process 25, :time 33888755305, :index 5233}
{:type :invoke, :f :read, :value nil, :process 22, :time 33891884844, :index 5234}
{:type :ok, :f :read, :value 1, :process 22, :time 33897107357, :index 5235}
{:type :invoke, :f :read, :value nil, :process 49, :time 33903488676, :index 5236}
{:type :ok, :f :read, :value 1, :process 49, :time 33916832065, :index 5240}
{:type :invoke, :f :write, :value 4, :process 44, :time 33922056475, :index 5242}
{:type :ok, :f :write, :value 4, :process 44, :time 33927206718, :index 5243}
{:type :invoke, :f :read, :value nil, :process 22, :time 33938365099, :index 5245}
{:type :ok, :f :read, :value 4, :process 22, :time 33942979604, :index 5247}
{:type :invoke, :f :cas, :value [0 1], :process 44, :time 33943462043, :index 5248}
{:type :fail, :f :cas, :value [0 1], :process 44, :time 33948820269, :index 5250}
{:type :invoke, :f :write, :value 0, :process 40, :time 33955482812, :index 5252}
{:type :ok, :f :write, :value 0, :process 40, :time 33960185628, :index 5253}
{:type :invoke, :f :cas, :value [0 1], :process 41, :time 33969454925, :index 5256}
{:type :ok, :f :cas, :value [0 1], :process 41, :time 33975163407, :index 5258}
{:type :invoke, :f :cas, :value [1 1], :process 49, :time 34021084122, :index 5275}
{:type :invoke, :f :write, :value 0, :process 7, :time 34024536044, :index 5278}
{:type :invoke, :f :write, :value 0, :process 46, :time 34025108940, :index 5279}
{:type :ok, :f :cas, :value [1 1], :process 49, :time 34025653505, :index 5280}
{:type :invoke, :f :write, :value 2, :process 22, :time 34029233632, :index 5282}
{:type :ok, :f :write, :value 0, :process 7, :time 34029856989, :index 5283}
{:type :ok, :f :write, :value 0, :process 46, :time 34030922727, :index 5284}
{:type :invoke, :f :write, :value 0, :process 25, :time 34032002905, :index 5285}
{:type :ok, :f :write, :value 2, :process 22, :time 34033263621, :index 5286}
{:type :ok, :f :write, :value 0, :process 25, :time 34036837651, :index 5287}
{:type :ok, :f :write, :value 1, :process 43, :time 34099040972, :index 5305}
{:type :ok, :f :read, :value 1, :process 28, :time 34099684776, :index 5306}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
