{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :invoke, :f :write, :value 2, :process 11, :time 16079640586, :index 4040}
{:type :fail, :f :write, :value 2, :process 11, :time 16082180659, :error :connect, :index 4041}
{:type :invoke, :f :write, :value 4, :process 11, :time 16109448630, :index 4053}
{:type :fail, :f :write, :value 4, :process 11, :time 16111488064, :error :connect, :index 4054}
{:type :invoke, :f :read, :value nil, :process 32, :time 16115919318, :index 4058}
{:type :invoke, :f :write, :value 4, :process 39, :time 16117289976, :index 4059}
{:type :fail, :f :write, :value 4, :process 39, :time 16119060028, :error :connect, :index 4060}
{:type :fail, :f :read, :value nil, :process 32, :time 16119755863, :error :connect, :index 4061}
{:type :invoke, :f :write, :value 0, :process 34, :time 16141808137, :index 4070}
{:type :fail, :f :write, :value 0, :process 34, :time 16143418012, :error :connect, :index 4071}
{:type :invoke, :f :read, :value nil, :process 37, :time 16149889804, :index 4074}
{:type :fail, :f :read, :value nil, :process 37, :time 16151783244, :error :connect, :index 4075}
{:type :invoke, :f :cas, :value [2 2], :process 10, :time 16168982320, :index 4078}
{:type :fail, :f :cas, :value [2 2], :process 10, :time 16171078706, :error :connect, :index 4079}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 16171184448, :index 4080}
{:type :invoke, :f :read, :value nil, :process 15, :time 16172301270, :index 4081}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 16173147302, :error :connect, :index 4082}
{:type :fail, :f :read, :value nil, :process 15, :time 16174112453, :error :connect, :index 4083}
{:type :invoke, :f :write, :value 0, :process 18, :time 16174420561, :index 4084}
{:type :fail, :f :write, :value 0, :process 18, :time 16176008009, :error :connect, :index 4085}
{:type :invoke, :f :write, :value 1, :process 33, :time 16176978105, :index 4086}
{:type :fail, :f :write, :value 1, :process 33, :time 16178665887, :error :connect, :index 4088}
{:type :invoke, :f :read, :value nil, :process 15, :time 16193362735, :index 4094}
{:type :fail, :f :read, :value nil, :process 15, :time 16194990494, :error :connect, :index 4095}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 16195273492, :index 4096}
{:type :fail, :f :cas, :value [3 2], :process 18, :time 16197109570, :error :connect, :index 4097}
{:type :invoke, :f :read, :value nil, :process 32, :time 16199021067, :index 4098}
{:type :fail, :f :read, :value nil, :process 32, :time 16200869484, :error :connect, :index 4099}
{:type :invoke, :f :read, :value nil, :process 37, :time 16203040780, :index 4100}
{:type :fail, :f :read, :value nil, :process 37, :time 16204896460, :error :connect, :index 4101}
{:type :invoke, :f :write, :value 2, :process 34, :time 16205687160, :index 4102}
{:type :invoke, :f :read, :value nil, :process 33, :time 16206934033, :index 4103}
{:type :fail, :f :write, :value 2, :process 34, :time 16207348681, :error :connect, :index 4104}
{:type :fail, :f :read, :value nil, :process 33, :time 16208909135, :error :connect, :index 4105}
{:type :invoke, :f :write, :value 3, :process 34, :time 16226603134, :index 4108}
{:type :fail, :f :write, :value 3, :process 34, :time 16228673233, :error :connect, :index 4109}
{:type :invoke, :f :read, :value nil, :process 36, :time 16234297219, :index 4112}
{:type :invoke, :f :read, :value nil, :process 34, :time 16234937209, :index 4113}
{:type :fail, :f :read, :value nil, :process 36, :time 16236335558, :error :connect, :index 4115}
{:type :fail, :f :read, :value nil, :process 34, :time 16236724527, :error :connect, :index 4116}
{:type :invoke, :f :write, :value 2, :process 33, :time 16262191271, :index 4127}
{:type :fail, :f :write, :value 2, :process 33, :time 16265483278, :error :connect, :index 4130}
{:type :invoke, :f :cas, :value [0 4], :process 39, :time 16286329546, :index 4138}
{:type :invoke, :f :read, :value nil, :process 11, :time 16286740125, :index 4139}
{:type :fail, :f :cas, :value [0 4], :process 39, :time 16288044559, :error :connect, :index 4140}
{:type :fail, :f :read, :value nil, :process 11, :time 16288406939, :error :connect, :index 4141}
{:type :invoke, :f :read, :value nil, :process 10, :time 16302354178, :index 4143}
{:type :fail, :f :read, :value nil, :process 10, :time 16304318947, :error :connect, :index 4145}
{:type :invoke, :f :read, :value nil, :process 34, :time 16330990400, :index 4149}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 16332384250, :index 4150}
{:type :fail, :f :read, :value nil, :process 34, :time 16332908200, :error :connect, :index 4151}
{:type :fail, :f :cas, :value [0 3], :process 18, :time 16334467960, :error :connect, :index 4153}
{:type :invoke, :f :write, :value 2, :process 10, :time 16340584231, :index 4155}
{:type :fail, :f :write, :value 2, :process 10, :time 16342541642, :error :connect, :index 4157}
{:type :invoke, :f :read, :value nil, :process 36, :time 16354602049, :index 4160}
{:type :invoke, :f :cas, :value [3 3], :process 39, :time 16356321144, :index 4161}
{:type :fail, :f :read, :value nil, :process 36, :time 16356587328, :error :connect, :index 4162}
{:type :fail, :f :cas, :value [3 3], :process 39, :time 16358277283, :error :connect, :index 4163}
{:type :invoke, :f :cas, :value [2 0], :process 32, :time 16362133299, :index 4164}
{:type :fail, :f :cas, :value [2 0], :process 32, :time 16364222191, :error :connect, :index 4165}
{:type :invoke, :f :cas, :value [0 1], :process 15, :time 16384251246, :index 4168}
{:type :fail, :f :cas, :value [0 1], :process 15, :time 16386336704, :error :connect, :index 4169}
{:type :invoke, :f :cas, :value [1 1], :process 37, :time 16389188670, :index 4171}
{:type :fail, :f :cas, :value [1 1], :process 37, :time 16390925801, :error :connect, :index 4173}
{:type :invoke, :f :write, :value 0, :process 32, :time 16391489489, :index 4174}
{:type :fail, :f :write, :value 0, :process 32, :time 16393261869, :error :connect, :index 4176}
{:type :invoke, :f :write, :value 2, :process 11, :time 16427644050, :index 4186}
{:type :fail, :f :write, :value 2, :process 11, :time 16429511945, :error :connect, :index 4187}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 16440799025, :index 4189}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 16442834533, :error :connect, :index 4191}
{:type :invoke, :f :read, :value nil, :process 33, :time 16453771375, :index 4192}
{:type :fail, :f :read, :value nil, :process 33, :time 16455654559, :error :connect, :index 4193}
{:type :invoke, :f :write, :value 4, :process 34, :time 16461209041, :index 4194}
{:type :fail, :f :write, :value 4, :process 34, :time 16463044533, :error :connect, :index 4195}
{:type :invoke, :f :read, :value nil, :process 15, :time 16465602944, :index 4196}
{:type :fail, :f :read, :value nil, :process 15, :time 16467641628, :error :connect, :index 4197}
{:type :invoke, :f :read, :value nil, :process 36, :time 16472844509, :index 4198}
{:type :fail, :f :read, :value nil, :process 36, :time 16474868553, :error :connect, :index 4199}
{:type :invoke, :f :read, :value nil, :process 39, :time 16478550268, :index 4201}
{:type :fail, :f :read, :value nil, :process 39, :time 16480452440, :error :connect, :index 4203}
{:type :invoke, :f :read, :value nil, :process 10, :time 16486091248, :index 4204}
{:type :fail, :f :read, :value nil, :process 10, :time 16488082768, :error :connect, :index 4205}
{:type :invoke, :f :read, :value nil, :process 15, :time 16494885586, :index 4206}
{:type :fail, :f :read, :value nil, :process 15, :time 16496697119, :error :connect, :index 4207}
{:type :invoke, :f :read, :value nil, :process 18, :time 16511734452, :index 4212}
{:type :fail, :f :read, :value nil, :process 18, :time 16513603844, :error :connect, :index 4213}
{:type :invoke, :f :read, :value nil, :process 37, :time 16532204392, :index 4219}
{:type :fail, :f :read, :value nil, :process 37, :time 16534116335, :error :connect, :index 4221}
{:type :invoke, :f :read, :value nil, :process 18, :time 16549875864, :index 4222}
{:type :invoke, :f :read, :value nil, :process 33, :time 16549889117, :index 4223}
{:type :invoke, :f :write, :value 3, :process 37, :time 16551379330, :index 4224}
{:type :fail, :f :read, :value nil, :process 18, :time 16551883549, :error :connect, :index 4225}
{:type :fail, :f :read, :value nil, :process 33, :time 16552261832, :error :connect, :index 4226}
{:type :fail, :f :write, :value 3, :process 37, :time 16553390735, :error :connect, :index 4227}
{:type :invoke, :f :read, :value nil, :process 11, :time 16565775087, :index 4228}
{:type :invoke, :f :write, :value 4, :process 33, :time 16566502748, :index 4229}
{:type :fail, :f :read, :value nil, :process 11, :time 16567697660, :error :connect, :index 4230}
{:type :fail, :f :write, :value 4, :process 33, :time 16568405402, :error :connect, :index 4231}
{:type :invoke, :f :write, :value 0, :process 39, :time 16581704745, :index 4240}
{:type :fail, :f :write, :value 0, :process 39, :time 16583707079, :error :connect, :index 4241}
{:type :invoke, :f :read, :value nil, :process 32, :time 16584520295, :index 4242}
{:type :fail, :f :read, :value nil, :process 32, :time 16586401679, :error :connect, :index 4243}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 16591134059, :index 4246}
{:type :fail, :f :cas, :value [2 1], :process 36, :time 16592776439, :error :connect, :index 4247}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 16593346240, :index 4248}
{:type :fail, :f :cas, :value [3 0], :process 10, :time 16595183283, :error :connect, :index 4249}
{:type :invoke, :f :cas, :value [4 2], :process 32, :time 16599672932, :index 4251}
{:type :fail, :f :cas, :value [4 2], :process 32, :time 16601819955, :error :connect, :index 4254}
{:type :invoke, :f :read, :value nil, :process 15, :time 16609954470, :index 4258}
{:type :fail, :f :read, :value nil, :process 15, :time 16611498581, :error :connect, :index 4259}
{:type :invoke, :f :write, :value 2, :process 39, :time 16618973495, :index 4261}
{:type :fail, :f :write, :value 2, :process 39, :time 16620983535, :error :connect, :index 4264}
{:type :invoke, :f :cas, :value [3 1], :process 34, :time 16633305330, :index 4266}
{:type :fail, :f :cas, :value [3 1], :process 34, :time 16634982334, :error :connect, :index 4268}
{:type :invoke, :f :write, :value 2, :process 39, :time 16635251619, :index 4269}
{:type :fail, :f :write, :value 2, :process 39, :time 16637111480, :error :connect, :index 4272}
{:type :invoke, :f :cas, :value [4 4], :process 18, :time 16660197496, :index 4282}
{:type :fail, :f :cas, :value [4 4], :process 18, :time 16662096984, :error :connect, :index 4283}
{:type :invoke, :f :read, :value nil, :process 11, :time 16710984975, :index 4295}
{:type :invoke, :f :read, :value nil, :process 32, :time 16712085329, :index 4296}
{:type :fail, :f :read, :value nil, :process 11, :time 16713004511, :error :connect, :index 4298}
{:type :fail, :f :read, :value nil, :process 32, :time 16713811591, :error :connect, :index 4299}
{:type :invoke, :f :read, :value nil, :process 37, :time 16717652537, :index 4300}
{:type :fail, :f :read, :value nil, :process 37, :time 16719337976, :error :connect, :index 4301}
{:type :invoke, :f :cas, :value [3 1], :process 10, :time 16721452998, :index 4302}
{:type :fail, :f :cas, :value [3 1], :process 10, :time 16723313023, :error :connect, :index 4303}
{:type :invoke, :f :write, :value 0, :process 37, :time 16730600861, :index 4305}
{:type :invoke, :f :cas, :value [3 4], :process 33, :time 16731693959, :index 4307}
{:type :fail, :f :write, :value 0, :process 37, :time 16732423595, :error :connect, :index 4308}
{:type :invoke, :f :write, :value 0, :process 34, :time 16733251416, :index 4309}
{:type :fail, :f :cas, :value [3 4], :process 33, :time 16733904005, :error :connect, :index 4310}
{:type :fail, :f :write, :value 0, :process 34, :time 16735103832, :error :connect, :index 4311}
{:type :invoke, :f :cas, :value [1 1], :process 34, :time 16780357394, :index 4318}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 16780781377, :index 4319}
{:type :fail, :f :cas, :value [1 1], :process 34, :time 16782419345, :error :connect, :index 4321}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 16782874069, :error :connect, :index 4322}
{:type :invoke, :f :read, :value nil, :process 36, :time 16784041811, :index 4324}
{:type :fail, :f :read, :value nil, :process 36, :time 16785882065, :error :connect, :index 4325}
{:type :invoke, :f :write, :value 0, :process 18, :time 16786371001, :index 4326}
{:type :fail, :f :write, :value 0, :process 18, :time 16788099006, :error :connect, :index 4327}
{:type :invoke, :f :write, :value 0, :process 36, :time 16801160205, :index 4331}
{:type :fail, :f :write, :value 0, :process 36, :time 16802907403, :error :connect, :index 4333}
{:type :invoke, :f :read, :value nil, :process 15, :time 16813167362, :index 4336}
{:type :fail, :f :read, :value nil, :process 15, :time 16814982555, :error :connect, :index 4337}
{:type :invoke, :f :cas, :value [1 4], :process 39, :time 16815383452, :index 4338}
{:type :invoke, :f :cas, :value [0 4], :process 11, :time 16816246726, :index 4339}
{:type :fail, :f :cas, :value [1 4], :process 39, :time 16817150889, :error :connect, :index 4340}
{:type :fail, :f :cas, :value [0 4], :process 11, :time 16818360788, :error :connect, :index 4341}
{:type :invoke, :f :read, :value nil, :process 37, :time 16823679113, :index 4344}
{:type :fail, :f :read, :value nil, :process 37, :time 16825701867, :error :connect, :index 4345}
{:type :invoke, :f :write, :value 1, :process 10, :time 16832596375, :index 4349}
{:type :fail, :f :write, :value 1, :process 10, :time 16834546680, :error :connect, :index 4351}
{:type :invoke, :f :read, :value nil, :process 37, :time 16855980242, :index 4358}
{:type :fail, :f :read, :value nil, :process 37, :time 16857923687, :error :connect, :index 4360}
{:type :invoke, :f :write, :value 3, :process 18, :time 16894365700, :index 4370}
{:type :invoke, :f :read, :value nil, :process 39, :time 16895418481, :index 4371}
{:type :fail, :f :write, :value 3, :process 18, :time 16896074643, :error :connect, :index 4372}
{:type :fail, :f :read, :value nil, :process 39, :time 16897488004, :error :connect, :index 4373}
{:type :invoke, :f :read, :value nil, :process 33, :time 16904094255, :index 4376}
{:type :fail, :f :read, :value nil, :process 33, :time 16906125186, :error :connect, :index 4379}
{:type :invoke, :f :cas, :value [0 1], :process 32, :time 16909063296, :index 4380}
{:type :fail, :f :cas, :value [0 1], :process 32, :time 16911095123, :error :connect, :index 4381}
{:type :invoke, :f :write, :value 2, :process 18, :time 16934342784, :index 4385}
{:type :fail, :f :write, :value 2, :process 18, :time 16936478884, :error :connect, :index 4388}
{:type :invoke, :f :read, :value nil, :process 15, :time 16939244547, :index 4391}
{:type :fail, :f :read, :value nil, :process 15, :time 16941243689, :error :connect, :index 4394}
{:type :invoke, :f :write, :value 3, :process 36, :time 16955161649, :index 4400}
{:type :fail, :f :write, :value 3, :process 36, :time 16956865688, :error :connect, :index 4401}
{:type :invoke, :f :write, :value 2, :process 34, :time 16957691531, :index 4402}
{:type :fail, :f :write, :value 2, :process 34, :time 16959243740, :error :connect, :index 4404}
{:type :invoke, :f :read, :value nil, :process 37, :time 16967205105, :index 4406}
{:type :fail, :f :read, :value nil, :process 37, :time 16969087391, :error :connect, :index 4407}
{:type :invoke, :f :cas, :value [1 0], :process 39, :time 16983747910, :index 4410}
{:type :fail, :f :cas, :value [1 0], :process 39, :time 16985573575, :error :connect, :index 4411}
{:type :invoke, :f :cas, :value [4 1], :process 11, :time 17008620836, :index 4414}
{:type :invoke, :f :read, :value nil, :process 39, :time 17015682868, :index 4415}
{:type :fail, :f :cas, :value [4 1], :process 11, :time 17017501968, :error :connect, :index 4416}
{:type :fail, :f :read, :value nil, :process 39, :time 17017882170, :error :connect, :index 4417}
{:type :invoke, :f :cas, :value [1 0], :process 10, :time 17025809379, :index 4420}
{:type :fail, :f :cas, :value [1 0], :process 10, :time 17027988305, :error :connect, :index 4423}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 17035366065, :index 4424}
{:type :fail, :f :cas, :value [0 3], :process 33, :time 17036953121, :error :connect, :index 4425}
{:type :invoke, :f :write, :value 0, :process 34, :time 17041511533, :index 4429}
{:type :fail, :f :write, :value 0, :process 34, :time 17043599760, :error :connect, :index 4433}
{:type :invoke, :f :write, :value 2, :process 15, :time 17063508366, :index 4441}
{:type :fail, :f :write, :value 2, :process 15, :time 17065283626, :error :connect, :index 4443}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 17072115441, :index 4444}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 17074078129, :error :connect, :index 4445}
{:type :invoke, :f :cas, :value [2 0], :process 37, :time 17082347707, :index 4446}
{:type :fail, :f :cas, :value [2 0], :process 37, :time 17084240885, :error :connect, :index 4447}
{:type :invoke, :f :read, :value nil, :process 32, :time 17094381158, :index 4450}
{:type :fail, :f :read, :value nil, :process 32, :time 17096196844, :error :connect, :index 4452}
{:type :invoke, :f :cas, :value [0 0], :process 18, :time 17120722778, :index 4462}
{:type :fail, :f :cas, :value [0 0], :process 18, :time 17122754343, :error :connect, :index 4465}
{:type :invoke, :f :read, :value nil, :process 36, :time 17144129416, :index 4472}
{:type :fail, :f :read, :value nil, :process 36, :time 17146034249, :error :connect, :index 4473}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 17157786068, :index 4476}
{:type :fail, :f :cas, :value [2 3], :process 11, :time 17159806293, :error :connect, :index 4478}
{:type :invoke, :f :write, :value 4, :process 10, :time 17186238501, :index 4495}
{:type :fail, :f :write, :value 4, :process 10, :time 17188650905, :error :connect, :index 4499}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
