{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :invoke, :f :read, :value nil, :process 1, :time 18472862642, :index 3946}
{:type :ok, :f :read, :value nil, :process 1, :time 18479148523, :index 3949}
{:type :invoke, :f :write, :value 0, :process 4, :time 18507124726, :index 3958}
{:type :ok, :f :write, :value 0, :process 4, :time 18511691446, :index 3961}
{:type :invoke, :f :read, :value nil, :process 0, :time 18553011550, :index 3974}
{:type :ok, :f :read, :value 0, :process 0, :time 18557567809, :index 3975}
{:type :invoke, :f :write, :value 2, :process 4, :time 18573944452, :index 3977}
{:type :ok, :f :write, :value 2, :process 4, :time 18579032815, :index 3980}
{:type :invoke, :f :read, :value nil, :process 1, :time 18595410988, :index 3984}
{:type :ok, :f :read, :value 2, :process 1, :time 18600094054, :index 3986}
{:type :invoke, :f :cas, :value [0 0], :process 5, :time 18606741130, :index 3988}
{:type :fail, :f :cas, :value [0 0], :process 5, :time 18611988301, :index 3989}
{:type :invoke, :f :read, :value nil, :process 1, :time 18671478620, :index 3994}
{:type :ok, :f :read, :value 2, :process 1, :time 18677777165, :index 3995}
{:type :invoke, :f :cas, :value [3 1], :process 1, :time 18717032767, :index 4002}
{:type :fail, :f :cas, :value [3 1], :process 1, :time 18724495289, :index 4004}
{:type :invoke, :f :read, :value nil, :process 4, :time 18734279213, :index 4008}
{:type :ok, :f :read, :value 2, :process 4, :time 18740138341, :index 4011}
{:type :invoke, :f :cas, :value [4 3], :process 0, :time 18754825359, :index 4012}
{:type :fail, :f :cas, :value [4 3], :process 0, :time 18764294426, :index 4014}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 18764410426, :index 4015}
{:type :invoke, :f :cas, :value [0 3], :process 9, :time 18768487659, :index 4016}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 18770624723, :index 4017}
{:type :fail, :f :cas, :value [0 3], :process 9, :time 18774971302, :index 4019}
{:type :invoke, :f :cas, :value [4 1], :process 9, :time 18789226425, :index 4021}
{:type :invoke, :f :write, :value 1, :process 5, :time 18790252274, :index 4022}
{:type :ok, :f :write, :value 1, :process 5, :time 18795071078, :index 4024}
{:type :fail, :f :cas, :value [4 1], :process 9, :time 18795501734, :index 4025}
{:type :invoke, :f :write, :value 1, :process 26, :time 18798541297, :index 4026}
{:type :ok, :f :write, :value 1, :process 26, :time 18803649461, :index 4027}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 18819895838, :index 4030}
{:type :ok, :f :cas, :value [1 0], :process 4, :time 18825977172, :index 4033}
{:type :invoke, :f :write, :value 1, :process 1, :time 18829767393, :index 4034}
{:type :ok, :f :write, :value 1, :process 1, :time 18835042574, :index 4036}
{:type :invoke, :f :cas, :value [1 1], :process 9, :time 18838737772, :index 4038}
{:type :ok, :f :cas, :value [1 1], :process 9, :time 18843596282, :index 4039}
{:type :invoke, :f :write, :value 2, :process 1, :time 18863296240, :index 4040}
{:type :ok, :f :write, :value 2, :process 1, :time 18868418618, :index 4041}
{:type :invoke, :f :read, :value nil, :process 5, :time 18868345840, :index 4042}
{:type :invoke, :f :read, :value nil, :process 26, :time 18872902514, :index 4044}
{:type :ok, :f :read, :value 2, :process 5, :time 18873493236, :index 4045}
{:type :ok, :f :read, :value 2, :process 26, :time 18877886793, :index 4046}
{:type :invoke, :f :write, :value 4, :process 4, :time 18896233109, :index 4050}
{:type :ok, :f :write, :value 4, :process 4, :time 18901442156, :index 4053}
{:type :invoke, :f :write, :value 2, :process 0, :time 18905576274, :index 4054}
{:type :ok, :f :write, :value 2, :process 0, :time 18910384335, :index 4055}
{:type :invoke, :f :write, :value 4, :process 26, :time 18937147756, :index 4061}
{:type :ok, :f :write, :value 4, :process 26, :time 18942683767, :index 4063}
{:type :invoke, :f :cas, :value [3 0], :process 26, :time 18963931673, :index 4064}
{:type :fail, :f :cas, :value [3 0], :process 26, :time 18969466610, :index 4065}
{:type :invoke, :f :read, :value nil, :process 1, :time 18976684664, :index 4066}
{:type :invoke, :f :write, :value 3, :process 5, :time 18980755772, :index 4068}
{:type :ok, :f :read, :value 4, :process 1, :time 18982782364, :index 4069}
{:type :ok, :f :write, :value 3, :process 5, :time 18986645492, :index 4071}
{:type :invoke, :f :read, :value nil, :process 9, :time 18994859194, :index 4072}
{:type :ok, :f :read, :value 3, :process 9, :time 19000633435, :index 4073}
{:type :invoke, :f :write, :value 3, :process 26, :time 19006725632, :index 4074}
{:type :ok, :f :write, :value 3, :process 26, :time 19014063764, :index 4077}
{:type :invoke, :f :write, :value 3, :process 0, :time 19018643015, :index 4080}
{:type :ok, :f :write, :value 3, :process 0, :time 19023594757, :index 4082}
{:type :invoke, :f :cas, :value [4 0], :process 9, :time 19034893663, :index 4085}
{:type :fail, :f :cas, :value [4 0], :process 9, :time 19041015707, :index 4087}
{:type :invoke, :f :read, :value nil, :process 4, :time 19046699716, :index 4089}
{:type :ok, :f :read, :value 3, :process 4, :time 19051058100, :index 4091}
{:type :invoke, :f :cas, :value [0 4], :process 1, :time 19077038138, :index 4096}
{:type :fail, :f :cas, :value [0 4], :process 1, :time 19082517499, :index 4097}
{:type :invoke, :f :read, :value nil, :process 26, :time 19099321288, :index 4098}
{:type :ok, :f :read, :value 3, :process 26, :time 19105324554, :index 4100}
{:type :invoke, :f :cas, :value [2 2], :process 9, :time 19131277431, :index 4106}
{:type :fail, :f :cas, :value [2 2], :process 9, :time 19136237451, :index 4107}
{:type :invoke, :f :write, :value 0, :process 0, :time 19136852844, :index 4108}
{:type :ok, :f :write, :value 0, :process 0, :time 19142012378, :index 4109}
{:type :invoke, :f :read, :value nil, :process 9, :time 19146504749, :index 4110}
{:type :ok, :f :read, :value 0, :process 9, :time 19151804565, :index 4112}
{:type :invoke, :f :read, :value nil, :process 5, :time 19169895812, :index 4114}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 19171312426, :index 4115}
{:type :ok, :f :read, :value 0, :process 5, :time 19175434003, :index 4117}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 19177507377, :index 4118}
{:type :invoke, :f :write, :value 4, :process 1, :time 19182795378, :index 4121}
{:type :ok, :f :write, :value 4, :process 1, :time 19189274769, :index 4123}
{:type :invoke, :f :read, :value nil, :process 1, :time 19191523015, :index 4124}
{:type :ok, :f :read, :value 4, :process 1, :time 19196675516, :index 4125}
{:type :invoke, :f :read, :value nil, :process 5, :time 19235689067, :index 4128}
{:type :ok, :f :read, :value 4, :process 5, :time 19240364107, :index 4129}
{:type :invoke, :f :write, :value 4, :process 5, :time 19240510123, :index 4130}
{:type :ok, :f :write, :value 4, :process 5, :time 19245282614, :index 4131}
{:type :invoke, :f :write, :value 1, :process 9, :time 19248070126, :index 4133}
{:type :ok, :f :write, :value 1, :process 9, :time 19252728385, :index 4136}
{:type :invoke, :f :write, :value 2, :process 0, :time 19255271616, :index 4138}
{:type :invoke, :f :cas, :value [1 1], :process 26, :time 19256584340, :index 4140}
{:type :invoke, :f :read, :value nil, :process 1, :time 19258936150, :index 4141}
{:type :ok, :f :write, :value 2, :process 0, :time 19261480169, :index 4143}
{:type :fail, :f :cas, :value [1 1], :process 26, :time 19263002839, :index 4144}
{:type :ok, :f :read, :value 2, :process 1, :time 19265509688, :index 4146}
{:type :invoke, :f :read, :value nil, :process 4, :time 19298766456, :index 4148}
{:type :ok, :f :read, :value 2, :process 4, :time 19305209807, :index 4150}
{:type :invoke, :f :write, :value 2, :process 9, :time 19361988794, :index 4157}
{:type :ok, :f :write, :value 2, :process 9, :time 19367523130, :index 4160}
{:type :invoke, :f :read, :value nil, :process 5, :time 19387601533, :index 4163}
{:type :invoke, :f :write, :value 2, :process 1, :time 19387946773, :index 4165}
{:type :ok, :f :read, :value 2, :process 5, :time 19392472098, :index 4166}
{:type :invoke, :f :write, :value 0, :process 4, :time 19392481805, :index 4167}
{:type :ok, :f :write, :value 2, :process 1, :time 19393248916, :index 4168}
{:type :ok, :f :write, :value 0, :process 4, :time 19397624989, :index 4169}
{:type :invoke, :f :write, :value 1, :process 0, :time 19406729144, :index 4170}
{:type :ok, :f :write, :value 1, :process 0, :time 19411894889, :index 4172}
{:type :invoke, :f :read, :value nil, :process 26, :time 19448258649, :index 4178}
{:type :ok, :f :read, :value 1, :process 26, :time 19453833186, :index 4179}
{:type :invoke, :f :write, :value 4, :process 5, :time 19457752327, :index 4180}
{:type :ok, :f :write, :value 4, :process 5, :time 19465681389, :index 4181}
{:type :invoke, :f :write, :value 3, :process 1, :time 19470499852, :index 4182}
{:type :ok, :f :write, :value 3, :process 1, :time 19476566177, :index 4184}
{:type :invoke, :f :write, :value 0, :process 4, :time 19486877805, :index 4186}
{:type :ok, :f :write, :value 0, :process 4, :time 19491968517, :index 4187}
{:type :invoke, :f :read, :value nil, :process 9, :time 19532786058, :index 4198}
{:type :ok, :f :read, :value 0, :process 9, :time 19537739890, :index 4199}
{:type :invoke, :f :cas, :value [1 4], :process 1, :time 19543821813, :index 4200}
{:type :fail, :f :cas, :value [1 4], :process 1, :time 19550114536, :index 4201}
{:type :invoke, :f :write, :value 1, :process 9, :time 19572005090, :index 4203}
{:type :ok, :f :write, :value 1, :process 9, :time 19577326923, :index 4205}
{:type :invoke, :f :write, :value 0, :process 0, :time 19588178734, :index 4206}
{:type :ok, :f :write, :value 0, :process 0, :time 19593416180, :index 4207}
{:type :invoke, :f :write, :value 3, :process 4, :time 19632274586, :index 4213}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 19632689260, :index 4214}
{:type :invoke, :f :cas, :value [2 4], :process 26, :time 19638094506, :index 4217}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 19638872308, :index 4218}
{:type :ok, :f :write, :value 3, :process 4, :time 19639873446, :index 4219}
{:type :invoke, :f :read, :value nil, :process 5, :time 19642945289, :index 4221}
{:type :invoke, :f :read, :value nil, :process 4, :time 19644247431, :index 4223}
{:type :fail, :f :cas, :value [2 4], :process 26, :time 19644857565, :index 4224}
{:type :ok, :f :read, :value 3, :process 5, :time 19648869507, :index 4226}
{:type :ok, :f :read, :value 3, :process 4, :time 19649776972, :index 4227}
{:type :invoke, :f :write, :value 3, :process 1, :time 19673367447, :index 4230}
{:type :ok, :f :write, :value 3, :process 1, :time 19678219051, :index 4231}
{:type :invoke, :f :write, :value 0, :process 0, :time 19730144488, :index 4234}
{:type :ok, :f :write, :value 0, :process 0, :time 19735652342, :index 4237}
{:type :invoke, :f :read, :value nil, :process 1, :time 19747472114, :index 4240}
{:type :invoke, :f :write, :value 3, :process 9, :time 19748586860, :index 4241}
{:type :invoke, :f :write, :value 1, :process 4, :time 19749021156, :index 4242}
{:type :ok, :f :write, :value 3, :process 9, :time 19754137069, :index 4243}
{:type :ok, :f :read, :value 0, :process 1, :time 19754227906, :index 4244}
{:type :ok, :f :write, :value 1, :process 4, :time 19754974119, :index 4245}
{:type :invoke, :f :read, :value nil, :process 5, :time 19792119062, :index 4248}
{:type :invoke, :f :read, :value nil, :process 4, :time 19793232376, :index 4249}
{:type :ok, :f :read, :value 1, :process 5, :time 19798281598, :index 4251}
{:type :ok, :f :read, :value 1, :process 4, :time 19799321408, :index 4252}
{:type :invoke, :f :cas, :value [0 3], :process 26, :time 19810123183, :index 4259}
{:type :fail, :f :cas, :value [0 3], :process 26, :time 19815624145, :index 4260}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 19878900496, :index 4265}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 19884077651, :index 4267}
{:type :invoke, :f :read, :value nil, :process 26, :time 19913892279, :index 4268}
{:type :invoke, :f :read, :value nil, :process 9, :time 19916427218, :index 4269}
{:type :ok, :f :read, :value 1, :process 26, :time 19919718518, :index 4270}
{:type :ok, :f :read, :value 1, :process 9, :time 19922131761, :index 4271}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 19940552808, :index 4275}
{:type :invoke, :f :cas, :value [0 2], :process 9, :time 19946392355, :index 4276}
{:type :ok, :f :cas, :value [1 2], :process 5, :time 19947119076, :index 4277}
{:type :invoke, :f :cas, :value [0 1], :process 1, :time 19947469780, :index 4279}
{:type :fail, :f :cas, :value [0 2], :process 9, :time 19951674007, :index 4280}
{:type :invoke, :f :write, :value 4, :process 26, :time 19951991950, :index 4281}
{:type :fail, :f :cas, :value [0 1], :process 1, :time 19954687776, :index 4282}
{:type :ok, :f :write, :value 4, :process 26, :time 19956907834, :index 4283}
{:type :invoke, :f :read, :value nil, :process 5, :time 19976393419, :index 4284}
{:type :ok, :f :read, :value 4, :process 5, :time 19981331450, :index 4286}
{:type :invoke, :f :read, :value nil, :process 4, :time 19983612710, :index 4288}
{:type :ok, :f :read, :value 4, :process 4, :time 19989519878, :index 4292}
{:type :invoke, :f :write, :value 3, :process 26, :time 20003161823, :index 4295}
{:type :ok, :f :write, :value 3, :process 26, :time 20008032133, :index 4297}
{:type :invoke, :f :read, :value nil, :process 26, :time 20015281806, :index 4298}
{:type :ok, :f :read, :value 3, :process 26, :time 20020508330, :index 4299}
{:type :invoke, :f :read, :value nil, :process 0, :time 20022354802, :index 4300}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 20024955488, :index 4301}
{:type :ok, :f :read, :value 3, :process 0, :time 20027456206, :index 4302}
{:type :fail, :f :cas, :value [1 2], :process 1, :time 20030677211, :index 4303}
{:type :invoke, :f :cas, :value [1 3], :process 5, :time 20057571675, :index 4309}
{:type :fail, :f :cas, :value [1 3], :process 5, :time 20062999476, :index 4311}
{:type :invoke, :f :cas, :value [4 4], :process 9, :time 20131937910, :index 4314}
{:type :fail, :f :cas, :value [4 4], :process 9, :time 20137409508, :index 4315}
{:type :invoke, :f :write, :value 4, :process 9, :time 20142673240, :index 4317}
{:type :invoke, :f :read, :value nil, :process 4, :time 20143773708, :index 4318}
{:type :invoke, :f :read, :value nil, :process 26, :time 20145788874, :index 4320}
{:type :ok, :f :write, :value 4, :process 9, :time 20148782554, :index 4321}
{:type :ok, :f :read, :value 4, :process 4, :time 20149031671, :index 4322}
{:type :ok, :f :read, :value 4, :process 26, :time 20150898244, :index 4323}
{:type :invoke, :f :cas, :value [1 4], :process 26, :time 20174137130, :index 4327}
{:type :fail, :f :cas, :value [1 4], :process 26, :time 20179361742, :index 4330}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 20188709044, :index 4332}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 20193307762, :index 4333}
{:type :invoke, :f :read, :value nil, :process 1, :time 20193932906, :index 4334}
{:type :ok, :f :read, :value 4, :process 1, :time 20199769694, :index 4335}
{:type :invoke, :f :read, :value nil, :process 5, :time 20215257178, :index 4340}
{:type :ok, :f :read, :value 4, :process 5, :time 20220633450, :index 4341}
{:type :invoke, :f :read, :value nil, :process 26, :time 20241618645, :index 4346}
{:type :ok, :f :read, :value 4, :process 26, :time 20246912634, :index 4347}
{:type :invoke, :f :write, :value 1, :process 0, :time 20260568215, :index 4352}
{:type :ok, :f :write, :value 1, :process 0, :time 20264932887, :index 4353}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 20286281613, :index 4358}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 20292113295, :index 4359}
{:type :invoke, :f :read, :value nil, :process 9, :time 20346306953, :index 4366}
{:type :ok, :f :read, :value 1, :process 9, :time 20354029683, :index 4367}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
