{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :invoke, :f :read, :value nil, :process 39, :time 55936380767, :index 11948}
{:type :ok, :f :read, :value nil, :process 39, :time 55941605091, :index 11949}
{:type :invoke, :f :write, :value 2, :process 37, :time 55970380795, :index 11959}
{:type :ok, :f :write, :value 2, :process 37, :time 55975226621, :index 11962}
{:type :invoke, :f :cas, :value [1 1], :process 78, :time 56012318985, :index 11977}
{:type :fail, :f :cas, :value [1 1], :process 78, :time 56017452467, :index 11982}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 56017691775, :index 11983}
{:type :invoke, :f :read, :value nil, :process 53, :time 56022361957, :index 11987}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 56023013617, :index 11988}
{:type :ok, :f :read, :value 2, :process 53, :time 56027849757, :index 11990}
{:type :invoke, :f :write, :value 1, :process 53, :time 56031107788, :index 11992}
{:type :ok, :f :write, :value 1, :process 53, :time 56036253628, :index 11993}
{:type :invoke, :f :write, :value 3, :process 53, :time 56072506632, :index 12008}
{:type :ok, :f :write, :value 3, :process 53, :time 56077658687, :index 12009}
{:type :invoke, :f :cas, :value [1 1], :process 78, :time 56077729640, :index 12010}
{:type :fail, :f :cas, :value [1 1], :process 78, :time 56083030746, :index 12011}
{:type :invoke, :f :cas, :value [0 1], :process 53, :time 56088917415, :index 12012}
{:type :fail, :f :cas, :value [0 1], :process 53, :time 56093844751, :index 12013}
{:type :invoke, :f :cas, :value [0 2], :process 36, :time 56104187383, :index 12014}
{:type :invoke, :f :read, :value nil, :process 78, :time 56104320627, :index 12015}
{:type :fail, :f :cas, :value [0 2], :process 36, :time 56110347949, :index 12016}
{:type :ok, :f :read, :value 3, :process 78, :time 56110661689, :index 12017}
{:type :invoke, :f :cas, :value [4 1], :process 53, :time 56112101855, :index 12019}
{:type :invoke, :f :write, :value 4, :process 10, :time 56116221197, :index 12020}
{:type :fail, :f :cas, :value [4 1], :process 53, :time 56121535401, :index 12022}
{:type :ok, :f :write, :value 4, :process 10, :time 56122204110, :index 12024}
{:type :invoke, :f :write, :value 2, :process 39, :time 56132860292, :index 12026}
{:type :invoke, :f :write, :value 2, :process 51, :time 56136805745, :index 12027}
{:type :ok, :f :write, :value 2, :process 39, :time 56137989394, :index 12028}
{:type :ok, :f :write, :value 2, :process 51, :time 56141429007, :index 12030}
{:type :invoke, :f :read, :value nil, :process 51, :time 56142704173, :index 12031}
{:type :ok, :f :read, :value 2, :process 51, :time 56148124733, :index 12033}
{:type :invoke, :f :read, :value nil, :process 37, :time 56148487864, :index 12034}
{:type :invoke, :f :write, :value 2, :process 54, :time 56149277510, :index 12035}
{:type :invoke, :f :read, :value nil, :process 39, :time 56151249863, :index 12036}
{:type :invoke, :f :cas, :value [1 4], :process 15, :time 56151953841, :index 12037}
{:type :ok, :f :read, :value 2, :process 37, :time 56153764666, :index 12038}
{:type :ok, :f :write, :value 2, :process 54, :time 56154511748, :index 12039}
{:type :fail, :f :cas, :value [1 4], :process 15, :time 56157757129, :index 12040}
{:type :ok, :f :read, :value 2, :process 39, :time 56158046735, :index 12041}
{:type :invoke, :f :read, :value nil, :process 39, :time 56195299049, :index 12050}
{:type :ok, :f :read, :value 2, :process 39, :time 56202000107, :index 12054}
{:type :invoke, :f :cas, :value [2 1], :process 39, :time 56206254731, :index 12058}
{:type :invoke, :f :read, :value nil, :process 10, :time 56207455348, :index 12059}
{:type :invoke, :f :write, :value 3, :process 54, :time 56208777863, :index 12061}
{:type :ok, :f :cas, :value [2 1], :process 39, :time 56210706076, :index 12062}
{:type :ok, :f :read, :value 1, :process 10, :time 56212818212, :index 12063}
{:type :invoke, :f :read, :value nil, :process 78, :time 56214913196, :index 12065}
{:type :ok, :f :write, :value 3, :process 54, :time 56215054177, :index 12066}
{:type :ok, :f :read, :value 3, :process 78, :time 56220324483, :index 12067}
{:type :invoke, :f :read, :value nil, :process 36, :time 56222608165, :index 12068}
{:type :ok, :f :read, :value 3, :process 36, :time 56227663716, :index 12069}
{:type :invoke, :f :read, :value nil, :process 12, :time 56238037968, :index 12070}
{:type :invoke, :f :write, :value 1, :process 53, :time 56240842616, :index 12071}
{:type :ok, :f :read, :value 3, :process 12, :time 56243073761, :index 12072}
{:type :ok, :f :write, :value 1, :process 53, :time 56246242150, :index 12073}
{:type :invoke, :f :cas, :value [0 2], :process 54, :time 56253311577, :index 12075}
{:type :fail, :f :cas, :value [0 2], :process 54, :time 56258420227, :index 12077}
{:type :invoke, :f :write, :value 1, :process 37, :time 56275027435, :index 12078}
{:type :ok, :f :write, :value 1, :process 37, :time 56280572321, :index 12081}
{:type :invoke, :f :read, :value nil, :process 12, :time 56292337762, :index 12084}
{:type :ok, :f :read, :value 1, :process 12, :time 56297889614, :index 12086}
{:type :invoke, :f :write, :value 4, :process 78, :time 56306592574, :index 12089}
{:type :ok, :f :write, :value 4, :process 78, :time 56311792334, :index 12092}
{:type :invoke, :f :cas, :value [2 3], :process 37, :time 56322834711, :index 12098}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 56325061062, :index 12099}
{:type :fail, :f :cas, :value [2 3], :process 37, :time 56328362609, :index 12100}
{:type :fail, :f :cas, :value [0 0], :process 15, :time 56338774666, :index 12102}
{:type :invoke, :f :write, :value 2, :process 51, :time 56341403234, :index 12105}
{:type :invoke, :f :write, :value 3, :process 10, :time 56353071431, :index 12108}
{:type :ok, :f :write, :value 3, :process 10, :time 56357855051, :index 12109}
{:type :invoke, :f :read, :value nil, :process 36, :time 56358918800, :index 12110}
{:type :invoke, :f :write, :value 0, :process 12, :time 56378151492, :index 12115}
{:type :ok, :f :write, :value 0, :process 12, :time 56383825853, :index 12116}
{:type :invoke, :f :read, :value nil, :process 39, :time 56406977172, :index 12121}
{:type :ok, :f :read, :value 0, :process 39, :time 56411399029, :index 12122}
{:type :invoke, :f :cas, :value [2 2], :process 10, :time 56416120473, :index 12124}
{:type :invoke, :f :write, :value 1, :process 54, :time 56420682880, :index 12125}
{:type :fail, :f :cas, :value [2 2], :process 10, :time 56421196142, :index 12126}
{:type :invoke, :f :read, :value nil, :process 78, :time 56425060470, :index 12128}
{:type :ok, :f :write, :value 1, :process 54, :time 56425798580, :index 12129}
{:type :ok, :f :read, :value 1, :process 78, :time 56429674199, :index 12130}
{:type :invoke, :f :read, :value nil, :process 53, :time 56434491212, :index 12131}
{:type :ok, :f :read, :value 1, :process 53, :time 56438967184, :index 12133}
{:type :invoke, :f :cas, :value [1 1], :process 78, :time 56447967694, :index 12136}
{:type :ok, :f :cas, :value [1 1], :process 78, :time 56453220656, :index 12138}
{:type :invoke, :f :write, :value 3, :process 37, :time 56467629919, :index 12142}
{:type :ok, :f :write, :value 3, :process 37, :time 56472860499, :index 12144}
{:type :invoke, :f :read, :value nil, :process 15, :time 56481042716, :index 12146}
{:type :ok, :f :read, :value 3, :process 15, :time 56485011979, :index 12147}
{:type :invoke, :f :write, :value 4, :process 12, :time 56515095664, :index 12153}
{:type :invoke, :f :cas, :value [2 2], :process 39, :time 56519662736, :index 12154}
{:type :ok, :f :write, :value 4, :process 12, :time 56520810107, :index 12155}
{:type :fail, :f :cas, :value [2 2], :process 39, :time 56525011497, :index 12158}
{:type :invoke, :f :read, :value nil, :process 53, :time 56527224934, :index 12159}
{:type :ok, :f :read, :value 4, :process 53, :time 56531718742, :index 12162}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 56532463116, :index 12163}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 56537021155, :index 12165}
{:type :invoke, :f :cas, :value [3 0], :process 12, :time 56538068673, :index 12166}
{:type :fail, :f :cas, :value [3 0], :process 12, :time 56543470953, :index 12168}
{:type :invoke, :f :write, :value 1, :process 54, :time 56548056504, :index 12170}
{:type :ok, :f :write, :value 1, :process 54, :time 56553747887, :index 12173}
{:type :ok, :f :read, :value 2, :process 36, :time 56585248484, :index 12178}
{:type :ok, :f :write, :value 2, :process 51, :time 56585488416, :index 12180}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 56598274924, :index 12184}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 56603990950, :index 12187}
{:type :invoke, :f :read, :value nil, :process 37, :time 56617126109, :index 12188}
{:type :invoke, :f :write, :value 2, :process 54, :time 56619002640, :index 12189}
{:type :ok, :f :read, :value 2, :process 37, :time 56621729305, :index 12190}
{:type :ok, :f :write, :value 2, :process 54, :time 56623768242, :index 12192}
{:type :invoke, :f :write, :value 4, :process 78, :time 56634486822, :index 12194}
{:type :ok, :f :write, :value 4, :process 78, :time 56640120813, :index 12195}
{:type :invoke, :f :write, :value 2, :process 39, :time 56650281329, :index 12199}
{:type :ok, :f :write, :value 2, :process 39, :time 56655522726, :index 12202}
{:type :invoke, :f :cas, :value [2 1], :process 39, :time 56661771827, :index 12204}
{:type :ok, :f :cas, :value [2 1], :process 39, :time 56666600215, :index 12205}
{:type :invoke, :f :cas, :value [0 2], :process 12, :time 56670730799, :index 12207}
{:type :invoke, :f :read, :value nil, :process 51, :time 56675791592, :index 12209}
{:type :fail, :f :cas, :value [0 2], :process 12, :time 56676643526, :index 12210}
{:type :ok, :f :read, :value 1, :process 51, :time 56680794448, :index 12211}
{:type :invoke, :f :read, :value nil, :process 37, :time 56689991725, :index 12213}
{:type :ok, :f :read, :value 1, :process 37, :time 56694906228, :index 12215}
{:type :invoke, :f :cas, :value [1 1], :process 39, :time 56702311287, :index 12216}
{:type :invoke, :f :cas, :value [0 0], :process 53, :time 56704954492, :index 12217}
{:type :invoke, :f :read, :value nil, :process 36, :time 56706519903, :index 12218}
{:type :ok, :f :cas, :value [1 1], :process 39, :time 56707656882, :index 12219}
{:type :fail, :f :cas, :value [0 0], :process 53, :time 56710829303, :index 12220}
{:type :ok, :f :read, :value 1, :process 36, :time 56712256338, :index 12221}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 56716252181, :index 12223}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 56721411738, :index 12225}
{:type :invoke, :f :cas, :value [4 3], :process 51, :time 56723060214, :index 12226}
{:type :invoke, :f :write, :value 0, :process 10, :time 56723288029, :index 12227}
{:type :invoke, :f :write, :value 1, :process 53, :time 56725085580, :index 12229}
{:type :ok, :f :write, :value 0, :process 10, :time 56728051288, :index 12230}
{:type :fail, :f :cas, :value [4 3], :process 51, :time 56729636114, :index 12231}
{:type :ok, :f :write, :value 1, :process 53, :time 56730347033, :index 12232}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :invoke, :f :cas, :value [4 0], :process 37, :time 56788153400, :index 12245}
{:type :invoke, :f :read, :value nil, :process 12, :time 56789905436, :index 12246}
{:type :invoke, :f :read, :value nil, :process 39, :time 56807927554, :index 12248}
{:type :ok, :f :read, :value 1, :process 39, :time 56813361980, :index 12250}
{:type :invoke, :f :read, :value nil, :process 54, :time 56814013227, :index 12251}
{:type :invoke, :f :read, :value nil, :process 39, :time 56814575081, :index 12252}
{:type :invoke, :f :write, :value 1, :process 78, :time 56816393290, :index 12253}
{:type :ok, :f :read, :value 1, :process 54, :time 56819589008, :index 12254}
{:type :ok, :f :read, :value 1, :process 39, :time 56820255279, :index 12255}
{:type :invoke, :f :read, :value nil, :process 53, :time 56843656091, :index 12258}
{:type :invoke, :f :cas, :value [0 3], :process 36, :time 56849522440, :index 12260}
{:type :fail, :f :cas, :value [0 3], :process 36, :time 56855427158, :index 12262}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
{:type :invoke, :f :read, :value nil, :process 51, :time 56884891068, :index 12272}
{:type :ok, :f :read, :value 1, :process 51, :time 56890388583, :index 12273}
{:type :invoke, :f :read, :value nil, :process 15, :time 56898668139, :index 12274}
{:type :ok, :f :read, :value 1, :process 15, :time 56904029406, :index 12275}
{:type :invoke, :f :write, :value 3, :process 10, :time 56904376356, :index 12276}
{:type :ok, :f :write, :value 3, :process 10, :time 56909641400, :index 12277}
{:type :invoke, :f :read, :value nil, :process 39, :time 56947529547, :index 12284}
{:type :ok, :f :read, :value 3, :process 39, :time 56953195406, :index 12285}
{:type :invoke, :f :read, :value nil, :process 10, :time 56984902231, :index 12288}
{:type :ok, :f :read, :value 3, :process 10, :time 56989513260, :index 12289}
{:type :invoke, :f :read, :value nil, :process 15, :time 57000292509, :index 12292}
{:type :ok, :f :read, :value 3, :process 15, :time 57004738928, :index 12293}
{:type :invoke, :f :write, :value 3, :process 54, :time 57018860243, :index 12296}
{:type :ok, :f :write, :value 3, :process 54, :time 57024353736, :index 12298}
{:type :invoke, :f :write, :value 3, :process 36, :time 57051672059, :index 12306}
{:type :ok, :f :write, :value 3, :process 36, :time 57056425057, :index 12307}
{:type :invoke, :f :write, :value 2, :process 51, :time 57061646008, :index 12308}
{:type :invoke, :f :cas, :value [2 1], :process 15, :time 57064998211, :index 12309}
{:type :ok, :f :write, :value 2, :process 51, :time 57067173194, :index 12310}
{:type :ok, :f :cas, :value [2 1], :process 15, :time 57069527761, :index 12312}
{:type :invoke, :f :read, :value nil, :process 51, :time 57069441942, :index 12313}
{:type :ok, :f :read, :value 1, :process 51, :time 57074371453, :index 12315}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 57076767052, :index 12317}
{:type :invoke, :f :read, :value nil, :process 39, :time 57080454598, :index 12319}
{:type :ok, :f :cas, :value [1 1], :process 10, :time 57082298510, :index 12320}
{:type :ok, :f :read, :value 1, :process 39, :time 57087449337, :index 12321}
{:type :invoke, :f :cas, :value [1 2], :process 51, :time 57097622972, :index 12322}
{:type :ok, :f :cas, :value [1 2], :process 51, :time 57102890004, :index 12324}
{:type :invoke, :f :write, :value 1, :process 51, :time 57129148853, :index 12328}
{:type :ok, :f :write, :value 1, :process 51, :time 57136024917, :index 12329}
{:type :invoke, :f :read, :value nil, :process 15, :time 57138777910, :index 12331}
{:type :ok, :f :read, :value 1, :process 15, :time 57143298464, :index 12333}
{:type :invoke, :f :read, :value nil, :process 54, :time 57181542905, :index 12339}
{:type :invoke, :f :write, :value 4, :process 15, :time 57182570115, :index 12340}
{:type :ok, :f :write, :value 4, :process 15, :time 57187243406, :index 12343}
{:type :ok, :f :read, :value 1, :process 54, :time 57187243373, :index 12344}
{:type :invoke, :f :cas, :value [4 1], :process 36, :time 57190690055, :index 12346}
{:type :ok, :f :cas, :value [4 1], :process 36, :time 57195894783, :index 12347}
{:type :invoke, :f :cas, :value [3 2], :process 15, :time 57201585936, :index 12349}
{:type :fail, :f :cas, :value [3 2], :process 15, :time 57206367616, :index 12351}
{:type :invoke, :f :write, :value 3, :process 10, :time 57238577136, :index 12353}
{:type :invoke, :f :write, :value 1, :process 51, :time 57243283145, :index 12355}
{:type :ok, :f :write, :value 3, :process 10, :time 57243606994, :index 12356}
{:type :invoke, :f :read, :value nil, :process 39, :time 57246705323, :index 12357}
{:type :ok, :f :write, :value 1, :process 51, :time 57249288601, :index 12358}
{:type :ok, :f :read, :value 1, :process 39, :time 57251744036, :index 12359}
{:type :invoke, :f :write, :value 2, :process 54, :time 57272497022, :index 12367}
{:type :ok, :f :write, :value 2, :process 54, :time 57277380119, :index 12369}
{:type :info, :f :cas, :value [4 0], :process 37, :time 61792406508, :error :timeout, :index 12882}
{:type :fail, :f :read, :value nil, :process 12, :time 61796854559, :error :timeout, :index 12883}
{:type :info, :f :write, :value 1, :process 78, :time 61820405241, :error :timeout, :index 12884}
{:type :fail, :f :read, :value nil, :process 53, :time 61847261172, :error :timeout, :index 12886}
