{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :invoke, :f :read, :value nil, :process 4, :time 8585037342, :index 2391}
{:type :ok, :f :read, :value nil, :process 4, :time 8590673663, :index 2393}
{:type :invoke, :f :read, :value nil, :process 1, :time 8611249045, :index 2397}
{:type :ok, :f :read, :value nil, :process 1, :time 8617216323, :index 2398}
{:type :invoke, :f :write, :value 4, :process 1, :time 8617343458, :index 2399}
{:type :invoke, :f :write, :value 3, :process 9, :time 8620686211, :index 2400}
{:type :invoke, :f :read, :value nil, :process 6, :time 8637045454, :index 2401}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 8648961659, :index 2403}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 8674468977, :index 2406}
{:type :ok, :f :write, :value 4, :process 1, :time 9187209984, :index 2410}
{:type :fail, :f :cas, :value [1 2], :process 8, :time 9188513756, :index 2412}
{:type :ok, :f :read, :value 4, :process 6, :time 9189606470, :index 2415}
{:type :ok, :f :write, :value 3, :process 9, :time 9189894850, :index 2416}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 9190740554, :index 2419}
{:type :invoke, :f :write, :value 3, :process 4, :time 9245028286, :index 2423}
{:type :ok, :f :write, :value 3, :process 4, :time 9250559386, :index 2424}
{:type :invoke, :f :read, :value nil, :process 6, :time 9269848769, :index 2428}
{:type :ok, :f :read, :value 3, :process 6, :time 9274805817, :index 2430}
{:type :invoke, :f :cas, :value [0 4], :process 9, :time 9279232036, :index 2431}
{:type :fail, :f :cas, :value [0 4], :process 9, :time 9284740793, :index 2432}
{:type :invoke, :f :write, :value 0, :process 9, :time 9287999421, :index 2433}
{:type :ok, :f :write, :value 0, :process 9, :time 9294193645, :index 2434}
{:type :invoke, :f :write, :value 1, :process 8, :time 9305752659, :index 2435}
{:type :ok, :f :write, :value 1, :process 8, :time 9310355385, :index 2436}
{:type :invoke, :f :read, :value nil, :process 9, :time 9330464757, :index 2437}
{:type :ok, :f :read, :value 1, :process 9, :time 9336163759, :index 2438}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 9336075449, :index 2439}
{:type :ok, :f :cas, :value [1 2], :process 6, :time 9340547870, :index 2440}
{:type :invoke, :f :read, :value nil, :process 1, :time 9380569554, :index 2451}
{:type :ok, :f :read, :value 2, :process 1, :time 9385593733, :index 2452}
{:type :invoke, :f :read, :value nil, :process 6, :time 9404846690, :index 2453}
{:type :ok, :f :read, :value 2, :process 6, :time 9410109885, :index 2454}
{:type :invoke, :f :cas, :value [3 0], :process 8, :time 9413616279, :index 2455}
{:type :fail, :f :cas, :value [3 0], :process 8, :time 9418713408, :index 2456}
{:type :invoke, :f :write, :value 4, :process 4, :time 9440831939, :index 2459}
{:type :ok, :f :write, :value 4, :process 4, :time 9446610921, :index 2462}
{:type :invoke, :f :read, :value nil, :process 8, :time 9490974894, :index 2469}
{:type :invoke, :f :cas, :value [4 1], :process 1, :time 9494862455, :index 2470}
{:type :ok, :f :read, :value 4, :process 8, :time 9494991501, :index 2471}
{:type :ok, :f :cas, :value [4 1], :process 1, :time 9499793266, :index 2472}
{:type :invoke, :f :read, :value nil, :process 9, :time 9520434888, :index 2477}
{:type :ok, :f :read, :value 1, :process 9, :time 9525686927, :index 2478}
{:type :invoke, :f :read, :value nil, :process 6, :time 9544379594, :index 2480}
{:type :invoke, :f :read, :value nil, :process 4, :time 9548926753, :index 2482}
{:type :ok, :f :read, :value 1, :process 4, :time 9554909659, :index 2483}
{:type :ok, :f :read, :value 1, :process 6, :time 9555211975, :index 2484}
{:type :invoke, :f :write, :value 1, :process 9, :time 9571001786, :index 2485}
{:type :ok, :f :write, :value 1, :process 9, :time 9576607404, :index 2487}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 9584242583, :index 2491}
{:type :invoke, :f :cas, :value [1 3], :process 9, :time 9584900126, :index 2493}
{:type :invoke, :f :cas, :value [4 3], :process 1, :time 9589058877, :index 2494}
{:type :ok, :f :cas, :value [1 2], :process 8, :time 9589692480, :index 2495}
{:type :fail, :f :cas, :value [1 3], :process 9, :time 9591809333, :index 2497}
{:type :fail, :f :cas, :value [4 3], :process 1, :time 9594241855, :index 2498}
{:type :invoke, :f :read, :value nil, :process 4, :time 9650218045, :index 2502}
{:type :invoke, :f :read, :value nil, :process 8, :time 9651909543, :index 2503}
{:type :ok, :f :read, :value 2, :process 4, :time 9654843818, :index 2506}
{:type :ok, :f :read, :value 2, :process 8, :time 9656314544, :index 2507}
{:type :invoke, :f :read, :value nil, :process 1, :time 9669501142, :index 2509}
{:type :ok, :f :read, :value 2, :process 1, :time 9674264203, :index 2511}
{:type :invoke, :f :write, :value 0, :process 6, :time 9683458228, :index 2515}
{:type :ok, :f :write, :value 0, :process 6, :time 9688999448, :index 2517}
{:type :invoke, :f :read, :value nil, :process 1, :time 9690504783, :index 2518}
{:type :ok, :f :read, :value 0, :process 1, :time 9695048324, :index 2520}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 9732130754, :index 2526}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 9737902220, :index 2528}
{:type :invoke, :f :read, :value nil, :process 9, :time 9758108201, :index 2531}
{:type :invoke, :f :cas, :value [4 3], :process 1, :time 9760305753, :index 2532}
{:type :ok, :f :read, :value 0, :process 9, :time 9763845880, :index 2533}
{:type :fail, :f :cas, :value [4 3], :process 1, :time 9766409493, :index 2534}
{:type :invoke, :f :read, :value nil, :process 1, :time 9777674953, :index 2536}
{:type :ok, :f :read, :value 0, :process 1, :time 9782409045, :index 2538}
{:type :invoke, :f :cas, :value [3 0], :process 9, :time 9810105847, :index 2541}
{:type :fail, :f :cas, :value [3 0], :process 9, :time 9816739243, :index 2542}
{:type :invoke, :f :read, :value nil, :process 4, :time 9838179327, :index 2543}
{:type :invoke, :f :cas, :value [3 4], :process 8, :time 9842625128, :index 2544}
{:type :ok, :f :read, :value 0, :process 4, :time 9843364049, :index 2545}
{:type :invoke, :f :cas, :value [3 0], :process 1, :time 9846669594, :index 2546}
{:type :fail, :f :cas, :value [3 4], :process 8, :time 9847765118, :index 2547}
{:type :fail, :f :cas, :value [3 0], :process 1, :time 9851636840, :index 2548}
{:type :invoke, :f :read, :value nil, :process 6, :time 9856256504, :index 2549}
{:type :ok, :f :read, :value 0, :process 6, :time 9861902721, :index 2552}
{:type :invoke, :f :cas, :value [4 2], :process 8, :time 9932026793, :index 2559}
{:type :fail, :f :cas, :value [4 2], :process 8, :time 9937322091, :index 2560}
{:type :invoke, :f :read, :value nil, :process 1, :time 9958449912, :index 2567}
{:type :ok, :f :read, :value 0, :process 1, :time 9963654740, :index 2568}
{:type :invoke, :f :cas, :value [3 1], :process 8, :time 9972586315, :index 2569}
{:type :fail, :f :cas, :value [3 1], :process 8, :time 9978497940, :index 2571}
{:type :invoke, :f :write, :value 3, :process 4, :time 9985628388, :index 2572}
{:type :invoke, :f :read, :value nil, :process 6, :time 9987188955, :index 2573}
{:type :ok, :f :write, :value 3, :process 4, :time 9990480432, :index 2575}
{:type :invoke, :f :write, :value 2, :process 4, :time 9991740512, :index 2577}
{:type :ok, :f :read, :value 3, :process 6, :time 9993796425, :index 2579}
{:type :ok, :f :write, :value 2, :process 4, :time 9997845162, :index 2584}
{:type :invoke, :f :read, :value nil, :process 27, :time 10003561757, :index 2587}
{:type :invoke, :f :cas, :value [3 2], :process 9, :time 10014012695, :index 2589}
{:type :fail, :f :cas, :value [3 2], :process 9, :time 10019338393, :index 2591}
{:type :invoke, :f :read, :value nil, :process 9, :time 10079598962, :index 2603}
{:type :ok, :f :read, :value 2, :process 9, :time 10084855490, :index 2605}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 10084757450, :index 2606}
{:type :ok, :f :cas, :value [2 4], :process 8, :time 10089475072, :index 2607}
{:type :invoke, :f :cas, :value [3 3], :process 20, :time 10096243650, :index 2608}
{:type :invoke, :f :read, :value nil, :process 9, :time 10124094458, :index 2613}
{:type :invoke, :f :write, :value 3, :process 1, :time 10127915721, :index 2614}
{:type :ok, :f :read, :value 4, :process 9, :time 10128884386, :index 2615}
{:type :ok, :f :write, :value 3, :process 1, :time 10133074507, :index 2617}
{:type :invoke, :f :read, :value nil, :process 25, :time 10152978756, :index 2621}
{:type :invoke, :f :read, :value nil, :process 4, :time 10164106577, :index 2623}
{:type :ok, :f :read, :value 3, :process 4, :time 10169110517, :index 2624}
{:type :invoke, :f :read, :value nil, :process 4, :time 10169253682, :index 2625}
{:type :invoke, :f :write, :value 1, :process 6, :time 10171061117, :index 2626}
{:type :ok, :f :read, :value 3, :process 4, :time 10174256863, :index 2627}
{:type :ok, :f :write, :value 1, :process 6, :time 10175825757, :index 2628}
{:type :invoke, :f :cas, :value [2 3], :process 22, :time 10213720017, :index 2636}
{:type :invoke, :f :write, :value 1, :process 6, :time 10252081410, :index 2638}
{:type :ok, :f :write, :value 1, :process 6, :time 10257122477, :index 2640}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 10269387236, :index 2641}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 10274945739, :index 2642}
{:type :invoke, :f :write, :value 3, :process 8, :time 10280739390, :index 2643}
{:type :invoke, :f :read, :value nil, :process 6, :time 10282219012, :index 2644}
{:type :ok, :f :write, :value 3, :process 8, :time 10285620654, :index 2645}
{:type :ok, :f :read, :value 3, :process 6, :time 10287835711, :index 2646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :invoke, :f :cas, :value [2 1], :process 9, :time 10315145318, :index 2650}
{:type :invoke, :f :read, :value nil, :process 1, :time 10318330934, :index 2651}
{:type :fail, :f :cas, :value [2 1], :process 9, :time 10320231340, :index 2652}
{:type :ok, :f :read, :value 3, :process 1, :time 10323272475, :index 2653}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 10328525712, :index 2655}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 10337664016, :index 2658}
{:type :invoke, :f :write, :value 0, :process 8, :time 10358883112, :index 2661}
{:type :ok, :f :write, :value 0, :process 8, :time 10363325900, :index 2663}
{:type :invoke, :f :write, :value 2, :process 1, :time 10394527872, :index 2670}
{:type :ok, :f :write, :value 2, :process 1, :time 10399624066, :index 2671}
{:type :invoke, :f :write, :value 1, :process 4, :time 10444927074, :index 2675}
{:type :ok, :f :write, :value 1, :process 4, :time 10449872189, :index 2678}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 10460088572, :index 2680}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 10465910186, :index 2682}
{:type :invoke, :f :cas, :value [4 2], :process 9, :time 10475509209, :index 2685}
{:type :invoke, :f :write, :value 0, :process 6, :time 10486223537, :index 2687}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 10512123381, :index 2689}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :invoke, :f :read, :value nil, :process 8, :time 10550580804, :index 2694}
{:type :invoke, :f :read, :value nil, :process 1, :time 10554881179, :index 2695}
{:type :fail, :f :cas, :value [4 2], :process 9, :time 10662895825, :index 2698}
{:type :ok, :f :read, :value 1, :process 8, :time 10663080561, :index 2699}
{:type :ok, :f :write, :value 0, :process 6, :time 10664288777, :index 2702}
{:type :ok, :f :cas, :value [1 1], :process 4, :time 10664626828, :index 2703}
{:type :ok, :f :read, :value 0, :process 1, :time 10665888462, :index 2708}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 10685318662, :index 2711}
{:type :ok, :f :cas, :value [0 4], :process 8, :time 10690380409, :index 2712}
{:type :invoke, :f :write, :value 1, :process 9, :time 10693224829, :index 2713}
{:type :ok, :f :write, :value 1, :process 9, :time 10707586553, :index 2714}
{:type :invoke, :f :write, :value 0, :process 4, :time 10729869676, :index 2717}
{:type :ok, :f :write, :value 0, :process 4, :time 10734966493, :index 2720}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 10740526969, :index 2723}
{:type :invoke, :f :write, :value 2, :process 9, :time 10741878107, :index 2724}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 10745789271, :index 2725}
{:type :ok, :f :write, :value 2, :process 9, :time 10747370986, :index 2726}
{:type :invoke, :f :write, :value 1, :process 9, :time 10752626141, :index 2727}
{:type :ok, :f :write, :value 1, :process 9, :time 10758045015, :index 2728}
{:type :invoke, :f :cas, :value [0 3], :process 9, :time 10812311691, :index 2736}
{:type :fail, :f :cas, :value [0 3], :process 9, :time 10817612512, :index 2738}
{:type :invoke, :f :cas, :value [0 0], :process 1, :time 10847207710, :index 2744}
{:type :fail, :f :cas, :value [0 0], :process 1, :time 10853170661, :index 2746}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 10873718699, :index 2752}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 10878365723, :index 2754}
{:type :invoke, :f :write, :value 3, :process 6, :time 10899063434, :index 2756}
{:type :ok, :f :write, :value 3, :process 6, :time 10904971386, :index 2758}
{:type :invoke, :f :read, :value nil, :process 9, :time 10906908831, :index 2759}
{:type :ok, :f :read, :value 3, :process 9, :time 10912335472, :index 2760}
{:type :invoke, :f :write, :value 1, :process 9, :time 10913662616, :index 2761}
{:type :ok, :f :write, :value 1, :process 9, :time 10918728427, :index 2762}
{:type :invoke, :f :write, :value 3, :process 4, :time 10922215012, :index 2764}
{:type :invoke, :f :write, :value 3, :process 9, :time 10924029621, :index 2766}
{:type :ok, :f :write, :value 3, :process 4, :time 10927382972, :index 2767}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 10929181491, :index 2768}
{:type :ok, :f :write, :value 3, :process 9, :time 10931109972, :index 2770}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 10933926198, :index 2772}
{:type :invoke, :f :read, :value nil, :process 6, :time 10952222518, :index 2776}
{:type :ok, :f :read, :value 3, :process 6, :time 10957240977, :index 2777}
{:type :invoke, :f :write, :value 1, :process 1, :time 10957434906, :index 2778}
{:type :ok, :f :write, :value 1, :process 1, :time 10963054493, :index 2780}
{:type :invoke, :f :read, :value nil, :process 3, :time 10994196359, :index 2784}
{:type :ok, :f :read, :value 1, :process 3, :time 10999300305, :index 2787}
{:type :invoke, :f :cas, :value [4 4], :process 3, :time 11041563202, :index 2798}
{:type :invoke, :f :write, :value 2, :process 8, :time 11046630133, :index 2800}
{:type :fail, :f :cas, :value [4 4], :process 3, :time 11047421839, :index 2801}
{:type :ok, :f :write, :value 2, :process 8, :time 11051829182, :index 2803}
{:type :invoke, :f :write, :value 4, :process 1, :time 11056311074, :index 2804}
{:type :ok, :f :write, :value 4, :process 1, :time 11061021289, :index 2806}
{:type :invoke, :f :write, :value 0, :process 6, :time 11071500321, :index 2808}
{:type :ok, :f :write, :value 0, :process 6, :time 11076925057, :index 2809}
{:type :invoke, :f :read, :value nil, :process 3, :time 11084725527, :index 2812}
{:type :ok, :f :read, :value 0, :process 3, :time 11089228716, :index 2813}
{:type :invoke, :f :read, :value nil, :process 4, :time 11106641211, :index 2814}
{:type :invoke, :f :cas, :value [3 2], :process 9, :time 11109369751, :index 2815}
{:type :ok, :f :read, :value 0, :process 4, :time 11112304190, :index 2816}
{:type :fail, :f :cas, :value [3 2], :process 9, :time 11114948199, :index 2817}
{:type :fail, :f :cas, :value [2 3], :process 22, :time 12538358870, :index 2859}
{:type :ok, :f :read, :value 0, :process 27, :time 12538651714, :index 2860}
{:type :fail, :f :cas, :value [3 3], :process 20, :time 12540413263, :index 2866}
{:type :ok, :f :read, :value 0, :process 25, :time 12540705273, :index 2868}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
