{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 14639874772, :index 2793}
{:type :fail, :f :cas, :value [2 3], :process 11, :time 14645773545, :error :not-found, :index 2796}
{:type :invoke, :f :write, :value 3, :process 16, :time 14658580208, :index 2798}
{:type :ok, :f :write, :value 3, :process 16, :time 14663345051, :index 2800}
{:type :invoke, :f :cas, :value [0 1], :process 32, :time 14671561051, :index 2802}
{:type :fail, :f :cas, :value [0 1], :process 32, :time 14676960228, :index 2803}
{:type :invoke, :f :write, :value 0, :process 37, :time 14687779551, :index 2804}
{:type :ok, :f :write, :value 0, :process 37, :time 14692854056, :index 2805}
{:type :invoke, :f :read, :value nil, :process 13, :time 14704394315, :index 2808}
{:type :ok, :f :read, :value 0, :process 13, :time 14708486416, :index 2810}
{:type :invoke, :f :read, :value nil, :process 37, :time 14709124094, :index 2811}
{:type :ok, :f :read, :value 0, :process 37, :time 14714967304, :index 2816}
{:type :invoke, :f :write, :value 3, :process 19, :time 14741284853, :index 2823}
{:type :ok, :f :write, :value 3, :process 19, :time 14746674852, :index 2826}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 14749321406, :index 2828}
{:type :invoke, :f :read, :value nil, :process 14, :time 14751053351, :index 2829}
{:type :fail, :f :cas, :value [0 0], :process 15, :time 14754123259, :index 2830}
{:type :ok, :f :read, :value 3, :process 14, :time 14755752247, :index 2832}
{:type :invoke, :f :write, :value 3, :process 11, :time 14766063021, :index 2834}
{:type :ok, :f :write, :value 3, :process 11, :time 14771044509, :index 2837}
{:type :invoke, :f :read, :value nil, :process 32, :time 14773215805, :index 2840}
{:type :ok, :f :read, :value 3, :process 32, :time 14778104948, :index 2841}
{:type :invoke, :f :read, :value nil, :process 13, :time 14790736219, :index 2849}
{:type :invoke, :f :write, :value 0, :process 37, :time 14791362356, :index 2850}
{:type :ok, :f :read, :value 3, :process 13, :time 14794743498, :index 2852}
{:type :ok, :f :write, :value 0, :process 37, :time 14796492892, :index 2853}
{:type :invoke, :f :write, :value 3, :process 16, :time 14798579986, :index 2856}
{:type :invoke, :f :read, :value nil, :process 11, :time 14799374078, :index 2858}
{:type :invoke, :f :write, :value 2, :process 10, :time 14801256277, :index 2859}
{:type :ok, :f :write, :value 3, :process 16, :time 14804257949, :index 2860}
{:type :ok, :f :read, :value 3, :process 11, :time 14804866927, :index 2862}
{:type :ok, :f :write, :value 2, :process 10, :time 14806726570, :index 2865}
{:type :invoke, :f :cas, :value [4 1], :process 11, :time 14813740079, :index 2867}
{:type :fail, :f :cas, :value [4 1], :process 11, :time 14819235610, :index 2869}
{:type :invoke, :f :cas, :value [2 2], :process 16, :time 14823518227, :index 2870}
{:type :invoke, :f :read, :value nil, :process 14, :time 14826008946, :index 2871}
{:type :ok, :f :cas, :value [2 2], :process 16, :time 14828720271, :index 2874}
{:type :invoke, :f :write, :value 2, :process 15, :time 14829387192, :index 2875}
{:type :ok, :f :read, :value 2, :process 14, :time 14831928574, :index 2878}
{:type :ok, :f :write, :value 2, :process 15, :time 14835572152, :index 2880}
{:type :invoke, :f :write, :value 1, :process 15, :time 14870837456, :index 2886}
{:type :ok, :f :write, :value 1, :process 15, :time 14875966812, :index 2887}
{:type :invoke, :f :read, :value nil, :process 32, :time 14876347714, :index 2888}
{:type :ok, :f :read, :value 1, :process 32, :time 14881358594, :index 2889}
{:type :invoke, :f :write, :value 1, :process 13, :time 14899005621, :index 2893}
{:type :invoke, :f :read, :value nil, :process 10, :time 14901980420, :index 2894}
{:type :ok, :f :write, :value 1, :process 13, :time 14903436470, :index 2896}
{:type :ok, :f :read, :value 1, :process 10, :time 14907284470, :index 2897}
{:type :invoke, :f :cas, :value [2 2], :process 18, :time 14913823334, :index 2899}
{:type :fail, :f :cas, :value [2 2], :process 18, :time 14918357112, :index 2901}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 14924611994, :index 2902}
{:type :fail, :f :cas, :value [4 0], :process 18, :time 14929755581, :index 2903}
{:type :invoke, :f :read, :value nil, :process 19, :time 14933941015, :index 2904}
{:type :ok, :f :read, :value 1, :process 19, :time 14938358696, :index 2906}
{:type :invoke, :f :write, :value 3, :process 37, :time 14959744210, :index 2907}
{:type :invoke, :f :write, :value 2, :process 11, :time 14963473951, :index 2908}
{:type :ok, :f :write, :value 2, :process 11, :time 14968509559, :index 2911}
{:type :invoke, :f :cas, :value [2 2], :process 16, :time 14969014578, :index 2912}
{:type :ok, :f :cas, :value [2 2], :process 16, :time 14973858174, :index 2915}
{:type :invoke, :f :cas, :value [1 2], :process 14, :time 15023233129, :index 2926}
{:type :fail, :f :cas, :value [1 2], :process 14, :time 15029519023, :index 2928}
{:type :invoke, :f :write, :value 3, :process 32, :time 15031627517, :index 2929}
{:type :invoke, :f :read, :value nil, :process 15, :time 15042227194, :index 2931}
{:type :ok, :f :read, :value 2, :process 15, :time 15047270818, :index 2933}
{:type :invoke, :f :write, :value 3, :process 10, :time 15060532904, :index 2934}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 15063023731, :index 2935}
{:type :invoke, :f :write, :value 2, :process 16, :time 15063123297, :index 2936}
{:type :ok, :f :write, :value 3, :process 10, :time 15065674129, :index 2937}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 15067873261, :index 2938}
{:type :ok, :f :write, :value 2, :process 16, :time 15070103490, :index 2941}
{:type :invoke, :f :read, :value nil, :process 19, :time 15075617146, :index 2945}
{:type :ok, :f :read, :value 2, :process 19, :time 15080981125, :index 2947}
{:type :invoke, :f :write, :value 0, :process 13, :time 15081684271, :index 2948}
{:type :invoke, :f :read, :value nil, :process 15, :time 15091594024, :index 2952}
{:type :ok, :f :write, :value 0, :process 13, :time 15091738327, :index 2953}
{:type :ok, :f :read, :value 0, :process 15, :time 15097172317, :index 2957}
{:type :invoke, :f :read, :value nil, :process 13, :time 15111971859, :index 2962}
{:type :ok, :f :read, :value 0, :process 13, :time 15117202277, :index 2964}
{:type :invoke, :f :cas, :value [0 0], :process 11, :time 15155778437, :index 2972}
{:type :ok, :f :cas, :value [0 0], :process 11, :time 15160856440, :index 2974}
{:type :invoke, :f :read, :value nil, :process 10, :time 15183933268, :index 2978}
{:type :invoke, :f :cas, :value [2 3], :process 19, :time 15187216829, :index 2979}
{:type :ok, :f :read, :value 0, :process 10, :time 15188714622, :index 2981}
{:type :invoke, :f :read, :value nil, :process 14, :time 15190767698, :index 2982}
{:type :invoke, :f :read, :value nil, :process 16, :time 15191344983, :index 2983}
{:type :fail, :f :cas, :value [2 3], :process 19, :time 15193169135, :index 2984}
{:type :ok, :f :read, :value 0, :process 14, :time 15195900471, :index 2985}
{:type :ok, :f :read, :value 0, :process 16, :time 15196412684, :index 2986}
{:type :invoke, :f :read, :value nil, :process 11, :time 15197116372, :index 2987}
{:type :ok, :f :read, :value 0, :process 11, :time 15201990218, :index 2988}
{:type :invoke, :f :write, :value 4, :process 13, :time 15253411655, :index 2998}
{:type :ok, :f :write, :value 4, :process 13, :time 15259401978, :index 3000}
{:type :invoke, :f :write, :value 2, :process 18, :time 15267138382, :index 3002}
{:type :ok, :f :write, :value 2, :process 18, :time 15271720495, :index 3003}
{:type :invoke, :f :read, :value nil, :process 10, :time 15275968458, :index 3006}
{:type :ok, :f :read, :value 2, :process 10, :time 15281423714, :index 3009}
{:type :invoke, :f :read, :value nil, :process 15, :time 15286417949, :index 3010}
{:type :ok, :f :read, :value 2, :process 15, :time 15293095978, :index 3014}
{:type :invoke, :f :write, :value 2, :process 14, :time 15320152672, :index 3022}
{:type :ok, :f :write, :value 2, :process 14, :time 15324735989, :index 3023}
{:type :invoke, :f :read, :value nil, :process 11, :time 15354250636, :index 3027}
{:type :ok, :f :read, :value 2, :process 11, :time 15359288575, :index 3029}
{:type :invoke, :f :write, :value 3, :process 10, :time 15359673620, :index 3030}
{:type :ok, :f :write, :value 3, :process 10, :time 15364870638, :index 3031}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 15376690915, :index 3034}
{:type :fail, :f :cas, :value [0 4], :process 13, :time 15382226972, :index 3036}
{:type :invoke, :f :read, :value nil, :process 19, :time 15389426877, :index 3038}
{:type :invoke, :f :cas, :value [0 0], :process 16, :time 15394668360, :index 3039}
{:type :ok, :f :read, :value 3, :process 19, :time 15395030180, :index 3040}
{:type :fail, :f :cas, :value [0 0], :process 16, :time 15399950698, :index 3041}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 15435001991, :index 3047}
{:type :fail, :f :cas, :value [1 3], :process 18, :time 15439975561, :index 3051}
{:type :invoke, :f :write, :value 3, :process 19, :time 15479275442, :index 3059}
{:type :invoke, :f :write, :value 3, :process 11, :time 15483546354, :index 3061}
{:type :ok, :f :write, :value 3, :process 19, :time 15484896994, :index 3063}
{:type :invoke, :f :write, :value 0, :process 15, :time 15485360952, :index 3064}
{:type :ok, :f :write, :value 3, :process 11, :time 15489309146, :index 3067}
{:type :ok, :f :write, :value 0, :process 15, :time 15490716504, :index 3068}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 15492215623, :index 3070}
{:type :fail, :f :cas, :value [2 0], :process 16, :time 15497501498, :index 3073}
{:type :invoke, :f :read, :value nil, :process 14, :time 15499992276, :index 3074}
{:type :invoke, :f :write, :value 2, :process 13, :time 15502502533, :index 3075}
{:type :ok, :f :read, :value 0, :process 14, :time 15504777616, :index 3076}
{:type :invoke, :f :read, :value nil, :process 19, :time 15505124328, :index 3077}
{:type :ok, :f :write, :value 2, :process 13, :time 15507189352, :index 3078}
{:type :ok, :f :read, :value 2, :process 19, :time 15510328674, :index 3079}
{:type :invoke, :f :write, :value 3, :process 15, :time 15519972065, :index 3080}
{:type :invoke, :f :read, :value nil, :process 18, :time 15523216010, :index 3081}
{:type :ok, :f :write, :value 3, :process 15, :time 15526366130, :index 3082}
{:type :ok, :f :read, :value 3, :process 18, :time 15527670977, :index 3083}
{:type :invoke, :f :cas, :value [0 1], :process 18, :time 15533916794, :index 3084}
{:type :fail, :f :cas, :value [0 1], :process 18, :time 15538668561, :index 3085}
{:type :invoke, :f :write, :value 4, :process 10, :time 15559132413, :index 3088}
{:type :ok, :f :write, :value 4, :process 10, :time 15564848648, :index 3090}
{:type :invoke, :f :cas, :value [0 2], :process 11, :time 15571566262, :index 3092}
{:type :invoke, :f :cas, :value [1 4], :process 13, :time 15573488114, :index 3093}
{:type :fail, :f :cas, :value [0 2], :process 11, :time 15577944427, :index 3094}
{:type :fail, :f :cas, :value [1 4], :process 13, :time 15578088195, :index 3095}
{:type :invoke, :f :cas, :value [1 4], :process 19, :time 15586580901, :index 3096}
{:type :fail, :f :cas, :value [1 4], :process 19, :time 15592532841, :index 3097}
{:type :invoke, :f :read, :value nil, :process 14, :time 15606028849, :index 3101}
{:type :ok, :f :read, :value 4, :process 14, :time 15611113985, :index 3104}
{:type :invoke, :f :read, :value nil, :process 13, :time 15613332058, :index 3106}
{:type :ok, :f :read, :value 4, :process 13, :time 15617623272, :index 3107}
{:type :invoke, :f :write, :value 1, :process 15, :time 15627630343, :index 3108}
{:type :ok, :f :write, :value 1, :process 15, :time 15633202043, :index 3109}
{:type :invoke, :f :cas, :value [0 3], :process 15, :time 15662463600, :index 3113}
{:type :fail, :f :cas, :value [0 3], :process 15, :time 15668360631, :index 3116}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 15669214616, :index 3117}
{:type :fail, :f :cas, :value [2 3], :process 11, :time 15675026414, :index 3119}
{:type :invoke, :f :write, :value 1, :process 16, :time 15685754288, :index 3120}
{:type :ok, :f :write, :value 3, :process 37, :time 15691466803, :index 3121}
{:type :ok, :f :write, :value 3, :process 32, :time 15691946195, :index 3123}
{:type :ok, :f :write, :value 1, :process 16, :time 15692203390, :index 3124}
{:type :invoke, :f :cas, :value [3 4], :process 37, :time 15693741061, :index 3126}
{:type :ok, :f :cas, :value [3 4], :process 37, :time 15698663543, :index 3127}
{:type :invoke, :f :write, :value 1, :process 37, :time 15699926774, :index 3128}
{:type :invoke, :f :read, :value nil, :process 10, :time 15700112503, :index 3129}
{:type :ok, :f :write, :value 1, :process 37, :time 15705209063, :index 3130}
{:type :invoke, :f :cas, :value [1 3], :process 11, :time 15705290085, :index 3131}
{:type :ok, :f :read, :value 1, :process 10, :time 15706241361, :index 3132}
{:type :ok, :f :cas, :value [1 3], :process 11, :time 15710182346, :index 3133}
{:type :invoke, :f :cas, :value [1 4], :process 18, :time 15711931333, :index 3134}
{:type :invoke, :f :cas, :value [0 3], :process 37, :time 15715463194, :index 3136}
{:type :invoke, :f :read, :value nil, :process 10, :time 15716481491, :index 3137}
{:type :fail, :f :cas, :value [1 4], :process 18, :time 15717387666, :index 3138}
{:type :fail, :f :cas, :value [0 3], :process 37, :time 15720639135, :index 3140}
{:type :ok, :f :read, :value 3, :process 10, :time 15721932052, :index 3141}
{:type :invoke, :f :read, :value nil, :process 14, :time 15740400507, :index 3149}
{:type :invoke, :f :read, :value nil, :process 10, :time 15741204018, :index 3151}
{:type :invoke, :f :write, :value 3, :process 19, :time 15741789880, :index 3152}
{:type :ok, :f :read, :value 3, :process 14, :time 15745920376, :index 3154}
{:type :ok, :f :write, :value 3, :process 19, :time 15746183844, :index 3155}
{:type :ok, :f :read, :value 3, :process 10, :time 15748888258, :index 3158}
{:type :invoke, :f :write, :value 3, :process 13, :time 15763875095, :index 3162}
{:type :ok, :f :write, :value 3, :process 13, :time 15768775015, :index 3165}
{:type :invoke, :f :write, :value 4, :process 37, :time 15784890709, :index 3168}
{:type :invoke, :f :cas, :value [3 2], :process 32, :time 15789221901, :index 3170}
{:type :invoke, :f :cas, :value [0 2], :process 19, :time 15789429585, :index 3171}
{:type :ok, :f :write, :value 4, :process 37, :time 15791239398, :index 3173}
{:type :fail, :f :cas, :value [0 2], :process 19, :time 15795105926, :index 3174}
{:type :fail, :f :cas, :value [3 2], :process 32, :time 15795253369, :index 3175}
{:type :invoke, :f :write, :value 4, :process 11, :time 15810489684, :index 3182}
{:type :ok, :f :write, :value 4, :process 11, :time 15816134688, :index 3185}
{:type :invoke, :f :write, :value 3, :process 18, :time 15823654341, :index 3190}
{:type :ok, :f :write, :value 3, :process 18, :time 15828361044, :index 3192}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :invoke, :f :read, :value nil, :process 13, :time 15842053420, :index 3199}
{:type :invoke, :f :read, :value nil, :process 16, :time 15844452882, :index 3201}
{:type :ok, :f :read, :value 3, :process 13, :time 15846417732, :index 3202}
{:type :invoke, :f :read, :value nil, :process 15, :time 15846576794, :index 3203}
{:type :ok, :f :read, :value 3, :process 16, :time 15851809001, :index 3204}
{:type :invoke, :f :read, :value nil, :process 10, :time 15909198585, :index 3223}
{:type :invoke, :f :write, :value 1, :process 19, :time 15909394995, :index 3224}
{:type :invoke, :f :read, :value nil, :process 14, :time 15913193694, :index 3225}
{:type :ok, :f :write, :value 1, :process 19, :time 15914286136, :index 3226}
{:type :ok, :f :read, :value 1, :process 14, :time 15918021242, :index 3227}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :invoke, :f :cas, :value [0 0], :process 37, :time 15973484567, :index 3243}
{:type :fail, :f :read, :value nil, :process 15, :time 20853223277, :error :timeout, :index 4160}
{:type :fail, :f :read, :value nil, :process 10, :time 20916123168, :error :timeout, :index 4188}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :cas, :value [0 0], :process 37, :time 20980852385, :error :timeout, :index 4208}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
