{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :invoke, :f :write, :value 2, :process 58, :time 45034806164, :index 9598}
{:type :ok, :f :write, :value 2, :process 58, :time 45039388853, :index 9600}
{:type :invoke, :f :read, :value nil, :process 58, :time 45044648759, :index 9603}
{:type :ok, :f :read, :value 2, :process 58, :time 45049184985, :index 9605}
{:type :invoke, :f :cas, :value [3 4], :process 10, :time 45062637864, :index 9610}
{:type :fail, :f :cas, :value [3 4], :process 10, :time 45067200746, :index 9613}
{:type :invoke, :f :cas, :value [3 1], :process 54, :time 45068225644, :index 9614}
{:type :fail, :f :cas, :value [3 1], :process 54, :time 45073258631, :index 9616}
{:type :invoke, :f :read, :value nil, :process 39, :time 45076371604, :index 9617}
{:type :invoke, :f :write, :value 3, :process 16, :time 45081440942, :index 9619}
{:type :ok, :f :read, :value 2, :process 39, :time 45081780294, :index 9620}
{:type :ok, :f :write, :value 3, :process 16, :time 45086913559, :index 9621}
{:type :invoke, :f :read, :value nil, :process 53, :time 45101078114, :index 9624}
{:type :ok, :f :read, :value 3, :process 53, :time 45107620697, :index 9629}
{:type :invoke, :f :read, :value nil, :process 58, :time 45140451572, :index 9641}
{:type :ok, :f :read, :value 3, :process 58, :time 45146675489, :index 9643}
{:type :invoke, :f :read, :value nil, :process 31, :time 45169552130, :index 9647}
{:type :invoke, :f :cas, :value [4 4], :process 37, :time 45173555961, :index 9648}
{:type :ok, :f :read, :value 3, :process 31, :time 45175323532, :index 9649}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 45178878673, :index 9651}
{:type :fail, :f :cas, :value [4 4], :process 37, :time 45179451258, :index 9652}
{:type :ok, :f :cas, :value [3 3], :process 15, :time 45183727085, :index 9654}
{:type :invoke, :f :write, :value 2, :process 12, :time 45196433034, :index 9660}
{:type :ok, :f :write, :value 2, :process 12, :time 45202568075, :index 9664}
{:type :invoke, :f :write, :value 0, :process 37, :time 45203910979, :index 9667}
{:type :ok, :f :write, :value 0, :process 37, :time 45209352187, :index 9670}
{:type :invoke, :f :cas, :value [1 4], :process 58, :time 45213973842, :index 9674}
{:type :fail, :f :cas, :value [1 4], :process 58, :time 45219613124, :index 9678}
{:type :invoke, :f :write, :value 4, :process 10, :time 45221455279, :index 9680}
{:type :invoke, :f :read, :value nil, :process 39, :time 45225928539, :index 9682}
{:type :ok, :f :write, :value 4, :process 10, :time 45226379067, :index 9683}
{:type :ok, :f :read, :value 4, :process 39, :time 45231255596, :index 9685}
{:type :invoke, :f :read, :value nil, :process 37, :time 45232602665, :index 9686}
{:type :ok, :f :read, :value 4, :process 37, :time 45237328370, :index 9687}
{:type :invoke, :f :write, :value 2, :process 54, :time 45238521854, :index 9688}
{:type :ok, :f :write, :value 2, :process 54, :time 45243410262, :index 9689}
{:type :invoke, :f :read, :value nil, :process 37, :time 45248589706, :index 9690}
{:type :ok, :f :read, :value 2, :process 37, :time 45254038215, :index 9691}
{:type :invoke, :f :read, :value nil, :process 58, :time 45255852315, :index 9693}
{:type :invoke, :f :cas, :value [0 1], :process 53, :time 45258872644, :index 9694}
{:type :ok, :f :read, :value 2, :process 58, :time 45261477544, :index 9696}
{:type :fail, :f :cas, :value [0 1], :process 53, :time 45264052913, :index 9697}
{:type :invoke, :f :write, :value 0, :process 16, :time 45273174644, :index 9703}
{:type :invoke, :f :cas, :value [3 1], :process 37, :time 45273294002, :index 9704}
{:type :ok, :f :write, :value 0, :process 16, :time 45279068668, :index 9706}
{:type :fail, :f :cas, :value [3 1], :process 37, :time 45279566521, :index 9707}
{:type :invoke, :f :cas, :value [2 2], :process 53, :time 45286309125, :index 9710}
{:type :fail, :f :cas, :value [2 2], :process 53, :time 45292722596, :index 9711}
{:type :invoke, :f :cas, :value [2 3], :process 12, :time 45292828802, :index 9712}
{:type :fail, :f :cas, :value [2 3], :process 12, :time 45298278782, :index 9714}
{:type :invoke, :f :cas, :value [4 1], :process 37, :time 45312829442, :index 9716}
{:type :fail, :f :cas, :value [4 1], :process 37, :time 45318122878, :index 9717}
{:type :invoke, :f :cas, :value [3 4], :process 54, :time 45320677412, :index 9718}
{:type :fail, :f :cas, :value [3 4], :process 54, :time 45326183695, :index 9719}
{:type :invoke, :f :write, :value 4, :process 12, :time 45327538701, :index 9720}
{:type :invoke, :f :cas, :value [2 0], :process 58, :time 45330734618, :index 9721}
{:type :ok, :f :write, :value 4, :process 12, :time 45332317763, :index 9722}
{:type :fail, :f :cas, :value [2 0], :process 58, :time 45336641856, :index 9723}
{:type :invoke, :f :read, :value nil, :process 58, :time 45338897613, :index 9724}
{:type :ok, :f :read, :value 4, :process 58, :time 45343963848, :index 9725}
{:type :invoke, :f :read, :value nil, :process 15, :time 45345994527, :index 9726}
{:type :ok, :f :read, :value 4, :process 15, :time 45350006931, :index 9727}
{:type :invoke, :f :read, :value nil, :process 31, :time 45357667213, :index 9730}
{:type :ok, :f :read, :value 4, :process 31, :time 45363002800, :index 9732}
{:type :invoke, :f :write, :value 2, :process 58, :time 45365221306, :index 9734}
{:type :invoke, :f :cas, :value [0 0], :process 53, :time 45367622708, :index 9736}
{:type :ok, :f :write, :value 2, :process 58, :time 45370326377, :index 9740}
{:type :fail, :f :cas, :value [0 0], :process 53, :time 45374555561, :index 9742}
{:type :invoke, :f :read, :value nil, :process 37, :time 45384397536, :index 9746}
{:type :invoke, :f :write, :value 2, :process 15, :time 45386288571, :index 9749}
{:type :ok, :f :write, :value 2, :process 15, :time 45391272310, :index 9751}
{:type :ok, :f :read, :value 2, :process 37, :time 45391402264, :index 9752}
{:type :invoke, :f :cas, :value [1 3], :process 54, :time 45392469521, :index 9754}
{:type :fail, :f :cas, :value [1 3], :process 54, :time 45397176645, :index 9755}
{:type :invoke, :f :read, :value nil, :process 39, :time 45411508530, :index 9756}
{:type :invoke, :f :cas, :value [4 1], :process 54, :time 45413438296, :index 9757}
{:type :ok, :f :read, :value 2, :process 39, :time 45416334478, :index 9759}
{:type :invoke, :f :read, :value nil, :process 10, :time 45416660682, :index 9760}
{:type :fail, :f :cas, :value [4 1], :process 54, :time 45418711238, :index 9761}
{:type :ok, :f :read, :value 2, :process 10, :time 45420904259, :index 9763}
{:type :invoke, :f :cas, :value [3 2], :process 58, :time 45435593696, :index 9766}
{:type :fail, :f :cas, :value [3 2], :process 58, :time 45440867195, :index 9767}
{:type :invoke, :f :write, :value 0, :process 16, :time 45464395957, :index 9777}
{:type :invoke, :f :cas, :value [3 2], :process 58, :time 45469065829, :index 9780}
{:type :invoke, :f :read, :value nil, :process 12, :time 45471587215, :index 9782}
{:type :ok, :f :write, :value 0, :process 16, :time 45472100283, :index 9784}
{:type :fail, :f :cas, :value [3 2], :process 58, :time 45473969120, :index 9785}
{:type :invoke, :f :write, :value 1, :process 54, :time 45500966820, :index 9789}
{:type :ok, :f :write, :value 1, :process 54, :time 45506367465, :index 9792}
{:type :invoke, :f :cas, :value [4 0], :process 37, :time 45510678458, :index 9794}
{:type :invoke, :f :read, :value nil, :process 39, :time 45525601717, :index 9796}
{:type :invoke, :f :read, :value nil, :process 53, :time 45530782319, :index 9798}
{:type :ok, :f :read, :value 1, :process 39, :time 45531509691, :index 9799}
{:type :ok, :f :read, :value 1, :process 53, :time 45535390540, :index 9801}
{:type :invoke, :f :read, :value nil, :process 31, :time 45545267537, :index 9806}
{:type :invoke, :f :cas, :value [2 2], :process 16, :time 45547388134, :index 9807}
{:type :ok, :f :read, :value 1, :process 31, :time 45550472107, :index 9808}
{:type :fail, :f :cas, :value [2 2], :process 16, :time 45552851341, :index 9809}
{:type :invoke, :f :read, :value nil, :process 15, :time 45571541990, :index 9811}
{:type :invoke, :f :read, :value nil, :process 10, :time 45574165494, :index 9814}
{:type :ok, :f :read, :value 1, :process 15, :time 45576519737, :index 9815}
{:type :invoke, :f :read, :value nil, :process 31, :time 45576746152, :index 9816}
{:type :ok, :f :read, :value 1, :process 10, :time 45578897498, :index 9818}
{:type :ok, :f :read, :value 1, :process 31, :time 45581365476, :index 9819}
{:type :invoke, :f :read, :value nil, :process 15, :time 45592703871, :index 9821}
{:type :ok, :f :read, :value 1, :process 15, :time 45597147451, :index 9823}
{:type :invoke, :f :read, :value nil, :process 31, :time 45607645490, :index 9826}
{:type :invoke, :f :cas, :value [2 3], :process 54, :time 45607649266, :index 9827}
{:type :fail, :f :cas, :value [2 3], :process 54, :time 45613840742, :index 9828}
{:type :ok, :f :read, :value 1, :process 31, :time 45614455575, :index 9829}
{:type :ok, :f :read, :value 1, :process 12, :time 45615628663, :index 9832}
{:type :fail, :f :cas, :value [4 0], :process 37, :time 45616096501, :index 9833}
{:type :invoke, :f :cas, :value [0 0], :process 58, :time 45628221770, :index 9836}
{:type :fail, :f :cas, :value [0 0], :process 58, :time 45633556533, :index 9837}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 45639146516, :index 9838}
{:type :invoke, :f :write, :value 4, :process 37, :time 45639408785, :index 9839}
{:type :ok, :f :cas, :value [1 1], :process 10, :time 45643998074, :index 9842}
{:type :ok, :f :write, :value 4, :process 37, :time 45645987002, :index 9843}
{:type :invoke, :f :write, :value 0, :process 31, :time 45646737243, :index 9846}
{:type :ok, :f :write, :value 0, :process 31, :time 45651753402, :index 9848}
{:type :invoke, :f :write, :value 2, :process 58, :time 45666812655, :index 9850}
{:type :ok, :f :write, :value 2, :process 58, :time 45673150424, :index 9852}
{:type :invoke, :f :read, :value nil, :process 53, :time 45679656122, :index 9854}
{:type :ok, :f :read, :value 2, :process 53, :time 45685675013, :index 9856}
{:type :invoke, :f :write, :value 2, :process 15, :time 45686400800, :index 9857}
{:type :ok, :f :write, :value 2, :process 15, :time 45690508566, :index 9860}
{:type :invoke, :f :read, :value nil, :process 16, :time 45704106149, :index 9866}
{:type :invoke, :f :cas, :value [0 0], :process 39, :time 45707798920, :index 9868}
{:type :ok, :f :read, :value 2, :process 16, :time 45710295622, :index 9870}
{:type :invoke, :f :write, :value 4, :process 31, :time 45711013890, :index 9871}
{:type :fail, :f :cas, :value [0 0], :process 39, :time 45712439375, :index 9872}
{:type :ok, :f :write, :value 4, :process 31, :time 45715997660, :index 9873}
{:type :invoke, :f :read, :value nil, :process 12, :time 45727081970, :index 9878}
{:type :ok, :f :read, :value 4, :process 12, :time 45732883250, :index 9881}
{:type :invoke, :f :cas, :value [2 3], :process 53, :time 45732941124, :index 9882}
{:type :invoke, :f :write, :value 3, :process 54, :time 45735104120, :index 9883}
{:type :fail, :f :cas, :value [2 3], :process 53, :time 45739087578, :index 9884}
{:type :ok, :f :write, :value 3, :process 54, :time 45739424806, :index 9885}
{:type :invoke, :f :write, :value 1, :process 53, :time 45740352888, :index 9886}
{:type :ok, :f :write, :value 1, :process 53, :time 45745397559, :index 9887}
{:type :invoke, :f :write, :value 0, :process 58, :time 45772433881, :index 9895}
{:type :invoke, :f :write, :value 4, :process 37, :time 45774280953, :index 9896}
{:type :ok, :f :write, :value 0, :process 58, :time 45777488799, :index 9898}
{:type :ok, :f :write, :value 4, :process 37, :time 45779400875, :index 9899}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 45787268034, :index 9900}
{:type :fail, :f :cas, :value [0 1], :process 10, :time 45792473905, :index 9901}
{:type :invoke, :f :cas, :value [4 0], :process 58, :time 45801739124, :index 9903}
{:type :ok, :f :cas, :value [4 0], :process 58, :time 45807709511, :index 9907}
{:type :invoke, :f :write, :value 2, :process 10, :time 45835724966, :index 9915}
{:type :invoke, :f :read, :value nil, :process 54, :time 45838656287, :index 9917}
{:type :ok, :f :write, :value 2, :process 10, :time 45840684507, :index 9918}
{:type :invoke, :f :read, :value nil, :process 37, :time 45843643338, :index 9919}
{:type :ok, :f :read, :value 2, :process 54, :time 45844500003, :index 9920}
{:type :ok, :f :read, :value 2, :process 37, :time 45848682512, :index 9921}
{:type :invoke, :f :cas, :value [0 2], :process 53, :time 45849659246, :index 9922}
{:type :invoke, :f :read, :value nil, :process 16, :time 45853544320, :index 9923}
{:type :fail, :f :cas, :value [0 2], :process 53, :time 45855507043, :index 9925}
{:type :invoke, :f :write, :value 1, :process 10, :time 45855961858, :index 9926}
{:type :ok, :f :read, :value 2, :process 16, :time 45858505146, :index 9927}
{:type :ok, :f :write, :value 1, :process 10, :time 45860956908, :index 9929}
{:type :invoke, :f :cas, :value [4 1], :process 39, :time 45862702779, :index 9930}
{:type :invoke, :f :read, :value nil, :process 58, :time 45864956353, :index 9931}
{:type :fail, :f :cas, :value [4 1], :process 39, :time 45868088838, :index 9933}
{:type :invoke, :f :cas, :value [1 2], :process 39, :time 45868243537, :index 9934}
{:type :ok, :f :read, :value 1, :process 58, :time 45870615937, :index 9936}
{:type :invoke, :f :cas, :value [3 3], :process 37, :time 45872935298, :index 9937}
{:type :ok, :f :cas, :value [1 2], :process 39, :time 45873540837, :index 9938}
{:type :fail, :f :cas, :value [3 3], :process 37, :time 45877982941, :index 9940}
{:type :invoke, :f :read, :value nil, :process 15, :time 45881769740, :index 9942}
{:type :ok, :f :read, :value 2, :process 15, :time 45886782694, :index 9943}
{:type :invoke, :f :cas, :value [0 4], :process 37, :time 45887244927, :index 9944}
{:type :fail, :f :cas, :value [0 4], :process 37, :time 45892721957, :index 9945}
{:type :invoke, :f :write, :value 2, :process 31, :time 45894251078, :index 9946}
{:type :ok, :f :write, :value 2, :process 31, :time 45898844697, :index 9947}
{:type :invoke, :f :write, :value 1, :process 10, :time 45904218366, :index 9948}
{:type :ok, :f :write, :value 1, :process 10, :time 45908451397, :index 9950}
{:type :invoke, :f :read, :value nil, :process 12, :time 45910140745, :index 9951}
{:type :invoke, :f :write, :value 4, :process 53, :time 45912760966, :index 9953}
{:type :invoke, :f :cas, :value [3 0], :process 15, :time 45914039681, :index 9954}
{:type :ok, :f :read, :value 1, :process 12, :time 45915598629, :index 9955}
{:type :fail, :f :cas, :value [3 0], :process 15, :time 45919332245, :index 9956}
{:type :invoke, :f :read, :value nil, :process 58, :time 45919901178, :index 9957}
{:type :ok, :f :write, :value 4, :process 53, :time 45921556175, :index 9958}
{:type :ok, :f :read, :value 4, :process 58, :time 45928077849, :index 9962}
{:type :invoke, :f :write, :value 2, :process 15, :time 45932582667, :index 9968}
{:type :ok, :f :write, :value 2, :process 15, :time 45937271974, :index 9972}
{:type :invoke, :f :write, :value 0, :process 16, :time 45987763582, :index 9985}
{:type :ok, :f :write, :value 0, :process 16, :time 45994203860, :index 9988}
{:type :invoke, :f :read, :value nil, :process 39, :time 46010835152, :index 9992}
{:type :ok, :f :read, :value 0, :process 39, :time 46015659246, :index 9994}
{:type :invoke, :f :read, :value nil, :process 37, :time 46019985155, :index 9996}
{:type :ok, :f :read, :value 0, :process 37, :time 46025266663, :index 10000}
{:type :invoke, :f :write, :value 0, :process 31, :time 46033101078, :index 10002}
{:type :ok, :f :write, :value 0, :process 31, :time 46038681108, :index 10005}
{:type :invoke, :f :cas, :value [2 0], :process 54, :time 46041767294, :index 10008}
{:type :invoke, :f :read, :value nil, :process 12, :time 46043861499, :index 10011}
{:type :fail, :f :cas, :value [2 0], :process 54, :time 46049964150, :index 10012}
{:type :ok, :f :read, :value 0, :process 12, :time 46050090212, :index 10013}
{:type :invoke, :f :write, :value 3, :process 10, :time 46074693119, :index 10024}
{:type :ok, :f :write, :value 3, :process 10, :time 46079751722, :index 10025}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
