{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :invoke, :f :write, :value 3, :process 10, :time 37270848776, :index 12435}
{:type :fail, :f :write, :value 3, :process 10, :time 37273057269, :error :connect, :index 12437}
{:type :invoke, :f :cas, :value [4 1], :process 11, :time 37312081742, :index 12446}
{:type :fail, :f :cas, :value [4 1], :process 11, :time 37313844525, :error :connect, :index 12447}
{:type :invoke, :f :write, :value 1, :process 32, :time 37315616765, :index 12448}
{:type :fail, :f :write, :value 1, :process 32, :time 37317380440, :error :connect, :index 12450}
{:type :invoke, :f :cas, :value [1 3], :process 36, :time 37331076567, :index 12456}
{:type :fail, :f :cas, :value [1 3], :process 36, :time 37332718457, :error :connect, :index 12457}
{:type :invoke, :f :read, :value nil, :process 34, :time 37367245616, :index 12470}
{:type :invoke, :f :read, :value nil, :process 11, :time 37368119780, :index 12471}
{:type :fail, :f :read, :value nil, :process 34, :time 37369236450, :error :connect, :index 12472}
{:type :fail, :f :read, :value nil, :process 11, :time 37370123841, :error :connect, :index 12473}
{:type :invoke, :f :read, :value nil, :process 34, :time 37388489354, :index 12480}
{:type :fail, :f :read, :value nil, :process 34, :time 37390223629, :error :connect, :index 12481}
{:type :invoke, :f :read, :value nil, :process 33, :time 37394594821, :index 12482}
{:type :invoke, :f :read, :value nil, :process 10, :time 37396314597, :index 12483}
{:type :fail, :f :read, :value nil, :process 33, :time 37396536500, :error :connect, :index 12484}
{:type :fail, :f :read, :value nil, :process 10, :time 37398488748, :error :connect, :index 12485}
{:type :invoke, :f :write, :value 3, :process 18, :time 37398843034, :index 12486}
{:type :fail, :f :write, :value 3, :process 18, :time 37400727884, :error :connect, :index 12487}
{:type :invoke, :f :read, :value nil, :process 37, :time 37420444944, :index 12494}
{:type :fail, :f :read, :value nil, :process 37, :time 37422264776, :error :connect, :index 12495}
{:type :invoke, :f :read, :value nil, :process 15, :time 37442025809, :index 12496}
{:type :fail, :f :read, :value nil, :process 15, :time 37443888249, :error :connect, :index 12497}
{:type :invoke, :f :write, :value 4, :process 11, :time 37451374440, :index 12498}
{:type :fail, :f :write, :value 4, :process 11, :time 37453452287, :error :connect, :index 12499}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 37478988404, :index 12510}
{:type :invoke, :f :cas, :value [0 4], :process 32, :time 37479677832, :index 12511}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 37481024500, :error :connect, :index 12512}
{:type :fail, :f :cas, :value [0 4], :process 32, :time 37481511306, :error :connect, :index 12513}
{:type :invoke, :f :cas, :value [0 3], :process 36, :time 37487982431, :index 12514}
{:type :fail, :f :cas, :value [0 3], :process 36, :time 37489895017, :error :connect, :index 12516}
{:type :invoke, :f :cas, :value [3 4], :process 10, :time 37507746673, :index 12520}
{:type :invoke, :f :write, :value 0, :process 34, :time 37508487681, :index 12521}
{:type :fail, :f :cas, :value [3 4], :process 10, :time 37509617470, :error :connect, :index 12523}
{:type :fail, :f :write, :value 0, :process 34, :time 37510238701, :error :connect, :index 12524}
{:type :invoke, :f :cas, :value [0 0], :process 37, :time 37513536399, :index 12526}
{:type :fail, :f :cas, :value [0 0], :process 37, :time 37515650820, :error :connect, :index 12527}
{:type :invoke, :f :cas, :value [1 4], :process 37, :time 37525935289, :index 12530}
{:type :fail, :f :cas, :value [1 4], :process 37, :time 37527522637, :error :connect, :index 12531}
{:type :invoke, :f :read, :value nil, :process 33, :time 37538730636, :index 12532}
{:type :fail, :f :read, :value nil, :process 33, :time 37540597425, :error :connect, :index 12533}
{:type :invoke, :f :cas, :value [1 1], :process 11, :time 37540712568, :index 12534}
{:type :fail, :f :cas, :value [1 1], :process 11, :time 37542522452, :error :connect, :index 12535}
{:type :invoke, :f :write, :value 1, :process 39, :time 37565357059, :index 12538}
{:type :fail, :f :write, :value 1, :process 39, :time 37567164107, :error :connect, :index 12539}
{:type :invoke, :f :read, :value nil, :process 37, :time 37579792138, :index 12542}
{:type :invoke, :f :write, :value 0, :process 10, :time 37580891223, :index 12543}
{:type :fail, :f :read, :value nil, :process 37, :time 37581813819, :error :connect, :index 12544}
{:type :fail, :f :write, :value 0, :process 10, :time 37582742726, :error :connect, :index 12545}
{:type :invoke, :f :read, :value nil, :process 18, :time 37593301163, :index 12548}
{:type :fail, :f :read, :value nil, :process 18, :time 37595127458, :error :connect, :index 12549}
{:type :invoke, :f :cas, :value [0 2], :process 36, :time 37603170665, :index 12550}
{:type :fail, :f :cas, :value [0 2], :process 36, :time 37605212411, :error :connect, :index 12551}
{:type :invoke, :f :write, :value 1, :process 15, :time 37615159526, :index 12554}
{:type :invoke, :f :cas, :value [3 0], :process 36, :time 37615504897, :index 12555}
{:type :fail, :f :write, :value 1, :process 15, :time 37617037064, :error :connect, :index 12556}
{:type :fail, :f :cas, :value [3 0], :process 36, :time 37617364299, :error :connect, :index 12557}
{:type :invoke, :f :cas, :value [1 0], :process 32, :time 37619761355, :index 12558}
{:type :invoke, :f :read, :value nil, :process 33, :time 37620859264, :index 12559}
{:type :fail, :f :cas, :value [1 0], :process 32, :time 37621581814, :error :connect, :index 12560}
{:type :fail, :f :read, :value nil, :process 33, :time 37622463957, :error :connect, :index 12561}
{:type :invoke, :f :cas, :value [1 2], :process 39, :time 37635437126, :index 12563}
{:type :fail, :f :cas, :value [1 2], :process 39, :time 37637270761, :error :connect, :index 12565}
{:type :invoke, :f :write, :value 1, :process 34, :time 37642483840, :index 12566}
{:type :fail, :f :write, :value 1, :process 34, :time 37644434623, :error :connect, :index 12567}
{:type :invoke, :f :write, :value 3, :process 36, :time 37647640638, :index 12568}
{:type :fail, :f :write, :value 3, :process 36, :time 37649498656, :error :connect, :index 12569}
{:type :invoke, :f :cas, :value [4 4], :process 18, :time 37651393895, :index 12570}
{:type :fail, :f :cas, :value [4 4], :process 18, :time 37653399682, :error :connect, :index 12572}
{:type :invoke, :f :write, :value 2, :process 11, :time 37657790060, :index 12574}
{:type :fail, :f :write, :value 2, :process 11, :time 37659587331, :error :connect, :index 12575}
{:type :invoke, :f :write, :value 3, :process 36, :time 37664753646, :index 12578}
{:type :fail, :f :write, :value 3, :process 36, :time 37666803617, :error :connect, :index 12579}
{:type :invoke, :f :cas, :value [1 3], :process 32, :time 37667846002, :index 12581}
{:type :fail, :f :cas, :value [1 3], :process 32, :time 37669831729, :error :connect, :index 12584}
{:type :invoke, :f :read, :value nil, :process 32, :time 37687070843, :index 12592}
{:type :fail, :f :read, :value nil, :process 32, :time 37688655666, :error :connect, :index 12593}
{:type :invoke, :f :read, :value nil, :process 11, :time 37700842360, :index 12596}
{:type :invoke, :f :read, :value nil, :process 10, :time 37700994123, :index 12597}
{:type :fail, :f :read, :value nil, :process 10, :time 37702937909, :error :connect, :index 12598}
{:type :fail, :f :read, :value nil, :process 11, :time 37703117953, :error :connect, :index 12599}
{:type :invoke, :f :write, :value 0, :process 15, :time 37727311005, :index 12604}
{:type :fail, :f :write, :value 0, :process 15, :time 37729352759, :error :connect, :index 12605}
{:type :invoke, :f :cas, :value [3 2], :process 39, :time 37740521138, :index 12612}
{:type :fail, :f :cas, :value [3 2], :process 39, :time 37742129187, :error :connect, :index 12613}
{:type :invoke, :f :write, :value 1, :process 37, :time 37748092067, :index 12615}
{:type :fail, :f :write, :value 1, :process 37, :time 37749925384, :error :connect, :index 12617}
{:type :invoke, :f :read, :value nil, :process 34, :time 37769702580, :index 12622}
{:type :invoke, :f :read, :value nil, :process 18, :time 37770692554, :index 12623}
{:type :fail, :f :read, :value nil, :process 34, :time 37771517014, :error :connect, :index 12624}
{:type :fail, :f :read, :value nil, :process 18, :time 37772793906, :error :connect, :index 12625}
{:type :invoke, :f :write, :value 1, :process 33, :time 37785719655, :index 12628}
{:type :fail, :f :write, :value 1, :process 33, :time 37787744644, :error :connect, :index 12629}
{:type :invoke, :f :write, :value 0, :process 39, :time 37799394188, :index 12630}
{:type :fail, :f :write, :value 0, :process 39, :time 37801188828, :error :connect, :index 12631}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 37816217686, :index 12632}
{:type :fail, :f :cas, :value [0 3], :process 10, :time 37818369856, :error :connect, :index 12634}
{:type :invoke, :f :write, :value 3, :process 39, :time 37823456116, :index 12637}
{:type :invoke, :f :read, :value nil, :process 15, :time 37823636823, :index 12638}
{:type :fail, :f :read, :value nil, :process 15, :time 37825611773, :error :connect, :index 12640}
{:type :fail, :f :write, :value 3, :process 39, :time 37825610468, :error :connect, :index 12641}
{:type :invoke, :f :write, :value 2, :process 37, :time 37833169220, :index 12645}
{:type :fail, :f :write, :value 2, :process 37, :time 37835434448, :error :connect, :index 12649}
{:type :invoke, :f :read, :value nil, :process 36, :time 37842060836, :index 12652}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 37843365424, :index 12653}
{:type :fail, :f :read, :value nil, :process 36, :time 37843780920, :error :connect, :index 12654}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 37845535858, :error :connect, :index 12655}
{:type :invoke, :f :read, :value nil, :process 32, :time 37870927631, :index 12662}
{:type :fail, :f :read, :value nil, :process 32, :time 37872568606, :error :connect, :index 12663}
{:type :invoke, :f :cas, :value [2 0], :process 39, :time 37876887750, :index 12664}
{:type :fail, :f :cas, :value [2 0], :process 39, :time 37878682802, :error :connect, :index 12665}
{:type :invoke, :f :write, :value 4, :process 15, :time 37886884298, :index 12666}
{:type :fail, :f :write, :value 4, :process 15, :time 37888909788, :error :connect, :index 12668}
{:type :invoke, :f :write, :value 3, :process 34, :time 37895774301, :index 12670}
{:type :fail, :f :write, :value 3, :process 34, :time 37897587504, :error :connect, :index 12672}
{:type :invoke, :f :read, :value nil, :process 39, :time 37907969196, :index 12674}
{:type :fail, :f :read, :value nil, :process 39, :time 37909978592, :error :connect, :index 12675}
{:type :invoke, :f :write, :value 0, :process 33, :time 37918007947, :index 12680}
{:type :fail, :f :write, :value 0, :process 33, :time 37919652079, :error :connect, :index 12681}
{:type :invoke, :f :read, :value nil, :process 33, :time 37922927877, :index 12682}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 37924048292, :index 12683}
{:type :fail, :f :read, :value nil, :process 33, :time 37924773205, :error :connect, :index 12684}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 37925904722, :error :connect, :index 12685}
{:type :invoke, :f :cas, :value [4 1], :process 32, :time 37956834343, :index 12688}
{:type :fail, :f :cas, :value [4 1], :process 32, :time 37958674763, :error :connect, :index 12689}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 37967623853, :index 12693}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 37969482531, :error :connect, :index 12695}
{:type :invoke, :f :cas, :value [3 1], :process 34, :time 37986872781, :index 12704}
{:type :fail, :f :cas, :value [3 1], :process 34, :time 37988868850, :error :connect, :index 12705}
{:type :invoke, :f :read, :value nil, :process 15, :time 37993191239, :index 12707}
{:type :fail, :f :read, :value nil, :process 15, :time 37995172806, :error :connect, :index 12709}
{:type :invoke, :f :read, :value nil, :process 36, :time 37996049764, :index 12710}
{:type :fail, :f :read, :value nil, :process 36, :time 37997636367, :error :connect, :index 12711}
{:type :invoke, :f :read, :value nil, :process 11, :time 37997794143, :index 12712}
{:type :fail, :f :read, :value nil, :process 11, :time 37999736310, :error :connect, :index 12714}
{:type :invoke, :f :cas, :value [4 1], :process 33, :time 38009042532, :index 12716}
{:type :fail, :f :cas, :value [4 1], :process 33, :time 38010956505, :error :connect, :index 12718}
{:type :invoke, :f :cas, :value [2 0], :process 34, :time 38011151968, :index 12719}
{:type :fail, :f :cas, :value [2 0], :process 34, :time 38012883386, :error :connect, :index 12721}
{:type :invoke, :f :write, :value 0, :process 10, :time 38023749303, :index 12723}
{:type :fail, :f :write, :value 0, :process 10, :time 38025542433, :error :connect, :index 12726}
{:type :invoke, :f :cas, :value [3 2], :process 37, :time 38032669725, :index 12728}
{:type :fail, :f :cas, :value [3 2], :process 37, :time 38034543601, :error :connect, :index 12729}
{:type :invoke, :f :cas, :value [2 0], :process 18, :time 38058183328, :index 12734}
{:type :fail, :f :cas, :value [2 0], :process 18, :time 38060725245, :error :connect, :index 12737}
{:type :invoke, :f :write, :value 1, :process 18, :time 38074006359, :index 12744}
{:type :fail, :f :write, :value 1, :process 18, :time 38076053918, :error :connect, :index 12745}
{:type :invoke, :f :read, :value nil, :process 34, :time 38083222932, :index 12746}
{:type :invoke, :f :cas, :value [1 2], :process 32, :time 38083979033, :index 12747}
{:type :invoke, :f :write, :value 3, :process 39, :time 38084164742, :index 12748}
{:type :fail, :f :read, :value nil, :process 34, :time 38085018378, :error :connect, :index 12749}
{:type :fail, :f :write, :value 3, :process 39, :time 38086079952, :error :connect, :index 12750}
{:type :fail, :f :cas, :value [1 2], :process 32, :time 38086081415, :error :connect, :index 12751}
{:type :invoke, :f :cas, :value [3 1], :process 11, :time 38113005712, :index 12757}
{:type :fail, :f :cas, :value [3 1], :process 11, :time 38114855886, :error :connect, :index 12759}
{:type :invoke, :f :read, :value nil, :process 10, :time 38115802285, :index 12760}
{:type :fail, :f :read, :value nil, :process 10, :time 38117789474, :error :connect, :index 12761}
{:type :invoke, :f :read, :value nil, :process 15, :time 38126436748, :index 12764}
{:type :fail, :f :read, :value nil, :process 15, :time 38129293742, :error :connect, :index 12765}
{:type :invoke, :f :write, :value 2, :process 33, :time 38136266334, :index 12766}
{:type :fail, :f :write, :value 2, :process 33, :time 38137907494, :error :connect, :index 12767}
{:type :invoke, :f :write, :value 0, :process 37, :time 38141846545, :index 12771}
{:type :fail, :f :write, :value 0, :process 37, :time 38143918274, :error :connect, :index 12773}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 38148900086, :index 12776}
{:type :fail, :f :cas, :value [2 1], :process 36, :time 38150730775, :error :connect, :index 12777}
{:type :invoke, :f :read, :value nil, :process 37, :time 38190169118, :index 12784}
{:type :fail, :f :read, :value nil, :process 37, :time 38191751992, :error :connect, :index 12785}
{:type :invoke, :f :cas, :value [2 3], :process 33, :time 38196179133, :index 12786}
{:type :fail, :f :cas, :value [2 3], :process 33, :time 38198059648, :error :connect, :index 12788}
{:type :invoke, :f :cas, :value [1 2], :process 39, :time 38207343698, :index 12790}
{:type :fail, :f :cas, :value [1 2], :process 39, :time 38208995670, :error :connect, :index 12791}
{:type :invoke, :f :cas, :value [4 1], :process 37, :time 38228011495, :index 12797}
{:type :invoke, :f :read, :value nil, :process 11, :time 38228174260, :index 12798}
{:type :fail, :f :read, :value nil, :process 11, :time 38230152164, :error :connect, :index 12800}
{:type :fail, :f :cas, :value [4 1], :process 37, :time 38230310753, :error :connect, :index 12801}
{:type :invoke, :f :read, :value nil, :process 37, :time 38239583572, :index 12803}
{:type :fail, :f :read, :value nil, :process 37, :time 38241328690, :error :connect, :index 12805}
{:type :invoke, :f :read, :value nil, :process 36, :time 38243994047, :index 12806}
{:type :fail, :f :read, :value nil, :process 36, :time 38246098791, :error :connect, :index 12807}
{:type :invoke, :f :write, :value 1, :process 18, :time 38254325260, :index 12808}
{:type :fail, :f :write, :value 1, :process 18, :time 38256283109, :error :connect, :index 12809}
{:type :invoke, :f :cas, :value [1 0], :process 32, :time 38278370545, :index 12816}
{:type :fail, :f :cas, :value [1 0], :process 32, :time 38280503160, :error :connect, :index 12817}
{:type :invoke, :f :read, :value nil, :process 34, :time 38283281753, :index 12818}
{:type :fail, :f :read, :value nil, :process 34, :time 38285113654, :error :connect, :index 12819}
{:type :invoke, :f :read, :value nil, :process 10, :time 38300046461, :index 12826}
{:type :invoke, :f :cas, :value [1 1], :process 39, :time 38301359192, :index 12828}
{:type :fail, :f :read, :value nil, :process 10, :time 38302576407, :error :connect, :index 12830}
{:type :fail, :f :cas, :value [1 1], :process 39, :time 38303431161, :error :connect, :index 12832}
{:type :invoke, :f :read, :value nil, :process 15, :time 38306559446, :index 12834}
{:type :fail, :f :read, :value nil, :process 15, :time 38308619792, :error :connect, :index 12835}
{:type :invoke, :f :write, :value 2, :process 33, :time 38344341101, :index 12844}
{:type :fail, :f :write, :value 2, :process 33, :time 38346454149, :error :connect, :index 12846}
{:type :invoke, :f :cas, :value [4 0], :process 36, :time 38364367794, :index 12852}
{:type :invoke, :f :read, :value nil, :process 11, :time 38364420058, :index 12853}
{:type :fail, :f :read, :value nil, :process 11, :time 38366779132, :error :connect, :index 12854}
{:type :fail, :f :cas, :value [4 0], :process 36, :time 38366779170, :error :connect, :index 12855}
{:type :invoke, :f :cas, :value [0 0], :process 37, :time 38404600374, :index 12870}
{:type :fail, :f :cas, :value [0 0], :process 37, :time 38406529568, :error :connect, :index 12872}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
