{:type :invoke, :f :read, :value nil, :process 12, :time 51180073, :index 4}
{:type :invoke, :f :cas, :value [2 3], :process 10, :time 53349155, :index 5}
{:type :ok, :f :read, :value nil, :process 12, :time 56179887, :index 7}
{:type :fail, :f :cas, :value [2 3], :process 10, :time 58909920, :error :not-found, :index 8}
{:type :invoke, :f :write, :value 3, :process 17, :time 89041159, :index 10}
{:type :ok, :f :write, :value 3, :process 17, :time 93387891, :index 12}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 94980605, :index 13}
{:type :fail, :f :cas, :value [1 0], :process 16, :time 100315476, :index 15}
{:type :invoke, :f :write, :value 4, :process 11, :time 104818618, :index 17}
{:type :invoke, :f :read, :value nil, :process 17, :time 107647748, :index 19}
{:type :ok, :f :write, :value 4, :process 11, :time 109991171, :index 20}
{:type :ok, :f :read, :value 4, :process 17, :time 112068469, :index 21}
{:type :invoke, :f :read, :value nil, :process 13, :time 124726274, :index 24}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 130573348, :index 25}
{:type :ok, :f :read, :value 4, :process 13, :time 131409638, :index 26}
{:type :invoke, :f :read, :value nil, :process 15, :time 132862136, :index 27}
{:type :fail, :f :cas, :value [1 0], :process 16, :time 135476354, :index 28}
{:type :ok, :f :read, :value 4, :process 15, :time 139625295, :index 29}
{:type :invoke, :f :read, :value nil, :process 11, :time 147246402, :index 30}
{:type :invoke, :f :write, :value 0, :process 16, :time 148776273, :index 32}
{:type :ok, :f :read, :value 4, :process 11, :time 152415162, :index 33}
{:type :ok, :f :write, :value 0, :process 16, :time 153928589, :index 35}
{:type :invoke, :f :read, :value nil, :process 10, :time 158174655, :index 37}
{:type :invoke, :f :write, :value 4, :process 17, :time 182333899, :index 42}
{:type :invoke, :f :write, :value 4, :process 12, :time 186444762, :index 44}
{:type :ok, :f :write, :value 4, :process 17, :time 187165973, :index 45}
{:type :invoke, :f :read, :value nil, :process 19, :time 187105748, :index 46}
{:type :ok, :f :write, :value 4, :process 12, :time 190669249, :index 48}
{:type :invoke, :f :read, :value nil, :process 18, :time 191058646, :index 49}
{:type :ok, :f :read, :value 4, :process 19, :time 192904317, :index 51}
{:type :ok, :f :read, :value 4, :process 18, :time 196292541, :index 53}
{:type :invoke, :f :write, :value 4, :process 14, :time 210880208, :index 57}
{:type :invoke, :f :read, :value nil, :process 11, :time 213678184, :index 58}
{:type :ok, :f :write, :value 4, :process 14, :time 215589618, :index 59}
{:type :invoke, :f :read, :value nil, :process 15, :time 223880113, :index 60}
{:type :invoke, :f :write, :value 2, :process 14, :time 241847320, :index 64}
{:type :ok, :f :read, :value 4, :process 15, :time 242396087, :index 65}
{:type :ok, :f :read, :value 4, :process 10, :time 242655858, :index 66}
{:type :ok, :f :write, :value 2, :process 14, :time 246707985, :index 69}
{:type :invoke, :f :write, :value 1, :process 14, :time 258957543, :index 70}
{:type :ok, :f :write, :value 1, :process 14, :time 263642204, :index 71}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 279840398, :index 74}
{:type :invoke, :f :write, :value 3, :process 17, :time 284410317, :index 76}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 286420957, :index 78}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 287212451, :index 79}
{:type :ok, :f :write, :value 3, :process 17, :time 289040439, :index 80}
{:type :invoke, :f :cas, :value [2 1], :process 19, :time 296193653, :index 82}
{:type :invoke, :f :cas, :value [1 4], :process 13, :time 300657100, :index 85}
{:type :fail, :f :cas, :value [2 1], :process 19, :time 301706772, :index 86}
{:type :fail, :f :cas, :value [1 4], :process 13, :time 306278171, :index 89}
{:type :invoke, :f :cas, :value [2 3], :process 10, :time 312685384, :index 92}
{:type :invoke, :f :read, :value nil, :process 15, :time 313668128, :index 94}
{:type :fail, :f :cas, :value [2 3], :process 10, :time 318119276, :index 96}
{:type :ok, :f :read, :value 3, :process 15, :time 319482350, :index 97}
{:type :invoke, :f :cas, :value [2 4], :process 13, :time 322543358, :index 98}
{:type :invoke, :f :write, :value 2, :process 18, :time 326547899, :index 100}
{:type :fail, :f :cas, :value [2 4], :process 13, :time 328358503, :index 102}
{:type :ok, :f :write, :value 2, :process 18, :time 331793074, :index 104}
{:type :invoke, :f :write, :value 2, :process 19, :time 356968223, :index 106}
{:type :ok, :f :write, :value 2, :process 19, :time 362462831, :index 107}
{:type :invoke, :f :cas, :value [1 3], :process 12, :time 369957053, :index 108}
{:type :fail, :f :cas, :value [1 3], :process 12, :time 375377499, :index 109}
{:type :invoke, :f :read, :value nil, :process 19, :time 380716272, :index 110}
{:type :ok, :f :read, :value 2, :process 19, :time 386175250, :index 112}
{:type :invoke, :f :write, :value 1, :process 13, :time 386610864, :index 113}
{:type :invoke, :f :cas, :value [0 1], :process 12, :time 389645497, :index 118}
{:type :ok, :f :write, :value 1, :process 13, :time 393367060, :index 120}
{:type :fail, :f :cas, :value [0 1], :process 12, :time 394879147, :index 123}
{:type :invoke, :f :read, :value nil, :process 13, :time 398626140, :index 124}
{:type :ok, :f :read, :value 1, :process 13, :time 403683995, :index 125}
{:type :invoke, :f :read, :value nil, :process 15, :time 423739692, :index 130}
{:type :ok, :f :read, :value 1, :process 15, :time 428732152, :index 131}
{:type :invoke, :f :cas, :value [2 0], :process 19, :time 442460210, :index 132}
{:type :invoke, :f :write, :value 2, :process 14, :time 444821998, :index 133}
{:type :fail, :f :cas, :value [2 0], :process 19, :time 448437202, :index 135}
{:type :ok, :f :write, :value 2, :process 14, :time 450036318, :index 136}
{:type :invoke, :f :read, :value nil, :process 17, :time 468297993, :index 138}
{:type :ok, :f :read, :value 2, :process 17, :time 472789073, :index 140}
{:type :invoke, :f :write, :value 1, :process 10, :time 487374926, :index 144}
{:type :ok, :f :write, :value 1, :process 10, :time 493925329, :index 146}
{:type :invoke, :f :write, :value 0, :process 15, :time 498987679, :index 148}
{:type :invoke, :f :cas, :value [4 2], :process 19, :time 500708427, :index 149}
{:type :ok, :f :write, :value 0, :process 15, :time 504226626, :index 150}
{:type :invoke, :f :cas, :value [2 1], :process 18, :time 510993012, :index 154}
{:type :fail, :f :cas, :value [4 2], :process 19, :time 511837649, :index 156}
{:type :fail, :f :cas, :value [2 1], :process 18, :time 516226679, :index 158}
{:type :invoke, :f :write, :value 3, :process 19, :time 516359819, :index 159}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 519475599, :index 161}
{:type :ok, :f :write, :value 3, :process 19, :time 521978152, :index 163}
{:type :fail, :f :cas, :value [0 4], :process 18, :time 524929418, :index 166}
{:type :invoke, :f :cas, :value [3 0], :process 15, :time 527489022, :index 167}
{:type :ok, :f :cas, :value [3 0], :process 15, :time 532805586, :index 169}
{:type :invoke, :f :write, :value 2, :process 13, :time 551942839, :index 170}
{:type :invoke, :f :read, :value nil, :process 15, :time 552124212, :index 171}
{:type :invoke, :f :cas, :value [4 3], :process 17, :time 553068057, :index 172}
{:type :ok, :f :write, :value 2, :process 13, :time 556926208, :index 174}
{:type :fail, :f :cas, :value [4 3], :process 17, :time 557453785, :index 175}
{:type :ok, :f :read, :value 2, :process 15, :time 558529283, :index 177}
{:type :invoke, :f :cas, :value [1 0], :process 12, :time 565128353, :index 180}
{:type :fail, :f :cas, :value [1 0], :process 12, :time 569876078, :index 181}
{:type :invoke, :f :write, :value 3, :process 10, :time 590192582, :index 186}
{:type :invoke, :f :read, :value nil, :process 12, :time 591134972, :index 187}
{:type :ok, :f :write, :value 3, :process 10, :time 595893067, :index 188}
{:type :ok, :f :read, :value 3, :process 12, :time 596175137, :index 189}
{:type :invoke, :f :cas, :value [1 1], :process 14, :time 602292901, :index 190}
{:type :fail, :f :cas, :value [1 1], :process 14, :time 607722070, :index 191}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 615192986, :index 192}
{:type :fail, :f :cas, :value [1 2], :process 10, :time 620594030, :index 193}
{:type :invoke, :f :write, :value 0, :process 17, :time 626774871, :index 197}
{:type :ok, :f :write, :value 0, :process 17, :time 631140898, :index 199}
{:type :invoke, :f :read, :value nil, :process 15, :time 661809588, :index 202}
{:type :ok, :f :read, :value 0, :process 15, :time 667391924, :index 203}
{:type :invoke, :f :read, :value nil, :process 12, :time 680417848, :index 204}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 681931660, :index 205}
{:type :ok, :f :read, :value 0, :process 12, :time 684982905, :index 207}
{:type :invoke, :f :read, :value nil, :process 19, :time 685218630, :index 208}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 686650070, :index 209}
{:type :fail, :f :cas, :value [1 2], :process 10, :time 687263146, :index 210}
{:type :ok, :f :read, :value 0, :process 19, :time 690909775, :index 211}
{:type :invoke, :f :read, :value nil, :process 18, :time 700212034, :index 214}
{:type :invoke, :f :read, :value nil, :process 13, :time 717216681, :index 215}
{:type :invoke, :f :write, :value 2, :process 19, :time 728184776, :index 218}
{:type :invoke, :f :write, :value 4, :process 17, :time 731421278, :index 219}
{:type :invoke, :f :read, :value nil, :process 14, :time 745983739, :index 220}
{:type :invoke, :f :write, :value 3, :process 12, :time 818273690, :index 226}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 829539336, :index 227}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 1035856404, :index 228}
{:type :ok, :f :write, :value 3, :process 12, :time 1036975195, :index 229}
{:type :ok, :f :write, :value 4, :process 17, :time 1037241838, :index 230}
{:type :ok, :f :read, :value 0, :process 18, :time 1038072106, :index 233}
{:type :ok, :f :read, :value 0, :process 13, :time 1038580571, :index 235}
{:type :ok, :f :read, :value 3, :process 11, :time 1038775300, :index 236}
{:type :ok, :f :write, :value 2, :process 19, :time 1038909904, :index 237}
{:type :invoke, :f :cas, :value [3 1], :process 13, :time 1039085005, :index 239}
{:type :ok, :f :read, :value 4, :process 14, :time 1039353361, :index 240}
{:type :fail, :f :cas, :value [2 0], :process 16, :time 1040864855, :index 243}
{:type :fail, :f :cas, :value [2 1], :process 10, :time 1041948239, :index 245}
{:type :ok, :f :cas, :value [3 1], :process 13, :time 1044940323, :index 249}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 1055329612, :index 251}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 1060839818, :index 253}
{:type :invoke, :f :write, :value 4, :process 15, :time 1077190963, :index 255}
{:type :ok, :f :write, :value 4, :process 15, :time 1082272207, :index 257}
{:type :invoke, :f :read, :value nil, :process 16, :time 1083108880, :index 258}
{:type :ok, :f :read, :value 4, :process 16, :time 1088080375, :index 259}
{:type :invoke, :f :read, :value nil, :process 18, :time 1106098392, :index 264}
{:type :ok, :f :read, :value 4, :process 18, :time 1111097680, :index 266}
{:type :invoke, :f :write, :value 2, :process 11, :time 1120030717, :index 268}
{:type :ok, :f :write, :value 2, :process 11, :time 1124954535, :index 270}
{:type :invoke, :f :write, :value 4, :process 11, :time 1142218724, :index 272}
{:type :ok, :f :write, :value 4, :process 11, :time 1148025018, :index 274}
{:type :invoke, :f :read, :value nil, :process 11, :time 1168299447, :index 276}
{:type :invoke, :f :read, :value nil, :process 15, :time 1168535432, :index 277}
{:type :invoke, :f :read, :value nil, :process 17, :time 1168992899, :index 278}
{:type :ok, :f :read, :value 4, :process 17, :time 1174329624, :index 281}
{:type :ok, :f :read, :value 4, :process 11, :time 1174591891, :index 282}
{:type :ok, :f :read, :value 4, :process 15, :time 1175271427, :index 283}
{:type :invoke, :f :write, :value 2, :process 19, :time 1182153769, :index 289}
{:type :invoke, :f :read, :value nil, :process 13, :time 1185218393, :index 291}
{:type :invoke, :f :read, :value nil, :process 12, :time 1185555613, :index 292}
{:type :ok, :f :write, :value 2, :process 19, :time 1187118425, :index 293}
{:type :ok, :f :read, :value 2, :process 13, :time 1190239091, :index 294}
{:type :invoke, :f :read, :value nil, :process 10, :time 1190186906, :index 295}
{:type :invoke, :f :read, :value nil, :process 16, :time 1190357812, :index 296}
{:type :ok, :f :read, :value 2, :process 12, :time 1191188340, :index 297}
{:type :ok, :f :read, :value 2, :process 10, :time 1195313169, :index 300}
{:type :ok, :f :read, :value 2, :process 16, :time 1196279727, :index 301}
{:type :invoke, :f :read, :value nil, :process 19, :time 1202398327, :index 306}
{:type :ok, :f :read, :value 2, :process 19, :time 1207722151, :index 307}
{:type :invoke, :f :write, :value 4, :process 15, :time 1209507409, :index 308}
{:type :ok, :f :write, :value 4, :process 15, :time 1214639663, :index 310}
{:type :invoke, :f :read, :value nil, :process 15, :time 1214842987, :index 311}
{:type :ok, :f :read, :value 4, :process 15, :time 1220925988, :index 313}
{:type :invoke, :f :cas, :value [1 4], :process 17, :time 1221595939, :index 314}
{:type :invoke, :f :cas, :value [1 0], :process 18, :time 1224377669, :index 315}
{:type :invoke, :f :write, :value 2, :process 13, :time 1225624968, :index 318}
{:type :fail, :f :cas, :value [1 4], :process 17, :time 1226551964, :index 319}
{:type :invoke, :f :read, :value nil, :process 14, :time 1227589563, :index 320}
{:type :fail, :f :cas, :value [1 0], :process 18, :time 1229705046, :index 321}
{:type :ok, :f :write, :value 2, :process 13, :time 1232294892, :index 326}
{:type :ok, :f :read, :value 2, :process 14, :time 1232688337, :index 327}
{:type :invoke, :f :write, :value 1, :process 18, :time 1252968660, :index 333}
{:type :ok, :f :write, :value 1, :process 18, :time 1258197438, :index 335}
{:type :invoke, :f :write, :value 3, :process 16, :time 1268530971, :index 338}
{:type :ok, :f :write, :value 3, :process 16, :time 1273551647, :index 339}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 1280560217, :index 341}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 1285766020, :index 343}
{:type :invoke, :f :read, :value nil, :process 12, :time 1292475167, :index 344}
{:type :ok, :f :read, :value 3, :process 12, :time 1296900729, :index 345}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 1299877602, :index 347}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 1305525182, :index 348}
{:type :invoke, :f :write, :value 1, :process 19, :time 1308996969, :index 351}
{:type :ok, :f :write, :value 1, :process 19, :time 1314352594, :index 353}
{:type :invoke, :f :write, :value 1, :process 13, :time 1330537629, :index 356}
{:type :ok, :f :write, :value 1, :process 13, :time 1335299828, :index 357}
{:type :invoke, :f :read, :value nil, :process 14, :time 1336967264, :index 358}
{:type :ok, :f :read, :value 1, :process 14, :time 1342171707, :index 360}
{:type :invoke, :f :write, :value 0, :process 17, :time 1354852579, :index 363}
{:type :ok, :f :write, :value 0, :process 17, :time 1359373729, :index 365}
{:type :invoke, :f :cas, :value [0 4], :process 15, :time 1373196329, :index 369}
{:type :ok, :f :cas, :value [0 4], :process 15, :time 1378070604, :index 371}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
