{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :invoke, :f :read, :value nil, :process 3, :time 37070652885, :index 12359}
{:type :fail, :f :read, :value nil, :process 3, :time 37072842689, :error :connect, :index 12363}
{:type :invoke, :f :write, :value 4, :process 5, :time 37073814695, :index 12364}
{:type :fail, :f :write, :value 4, :process 5, :time 37075796315, :error :connect, :index 12365}
{:type :invoke, :f :cas, :value [4 4], :process 5, :time 37082056966, :index 12368}
{:type :fail, :f :cas, :value [4 4], :process 5, :time 37083640464, :error :connect, :index 12369}
{:type :invoke, :f :read, :value nil, :process 0, :time 37117398704, :index 12374}
{:type :fail, :f :read, :value nil, :process 0, :time 37119486752, :error :connect, :index 12377}
{:type :invoke, :f :read, :value nil, :process 29, :time 37122147202, :index 12379}
{:type :fail, :f :read, :value nil, :process 29, :time 37124063992, :error :connect, :index 12381}
{:type :invoke, :f :cas, :value [1 0], :process 7, :time 37138484254, :index 12384}
{:type :fail, :f :cas, :value [1 0], :process 7, :time 37140397084, :error :connect, :index 12385}
{:type :invoke, :f :write, :value 3, :process 29, :time 37150331683, :index 12386}
{:type :fail, :f :write, :value 3, :process 29, :time 37152373853, :error :connect, :index 12388}
{:type :invoke, :f :read, :value nil, :process 8, :time 37173644485, :index 12394}
{:type :invoke, :f :read, :value nil, :process 21, :time 37174731766, :index 12395}
{:type :fail, :f :read, :value nil, :process 8, :time 37175545440, :error :connect, :index 12396}
{:type :fail, :f :read, :value nil, :process 21, :time 37176562424, :error :connect, :index 12397}
{:type :invoke, :f :write, :value 2, :process 3, :time 37177097981, :index 12398}
{:type :fail, :f :write, :value 2, :process 3, :time 37178849431, :error :connect, :index 12400}
{:type :invoke, :f :read, :value nil, :process 5, :time 37187914138, :index 12403}
{:type :fail, :f :read, :value nil, :process 5, :time 37189992315, :error :connect, :index 12405}
{:type :invoke, :f :read, :value nil, :process 21, :time 37201818716, :index 12410}
{:type :fail, :f :read, :value nil, :process 21, :time 37203528601, :error :connect, :index 12412}
{:type :invoke, :f :write, :value 4, :process 7, :time 37227666167, :index 12424}
{:type :fail, :f :write, :value 4, :process 7, :time 37229704468, :error :connect, :index 12425}
{:type :invoke, :f :read, :value nil, :process 29, :time 37260632538, :index 12432}
{:type :invoke, :f :write, :value 0, :process 0, :time 37261740351, :index 12433}
{:type :fail, :f :read, :value nil, :process 29, :time 37262634578, :error :connect, :index 12434}
{:type :fail, :f :write, :value 0, :process 0, :time 37273359020, :error :connect, :index 12438}
{:type :invoke, :f :read, :value nil, :process 6, :time 37278736054, :index 12440}
{:type :fail, :f :read, :value nil, :process 6, :time 37280398410, :error :connect, :index 12441}
{:type :invoke, :f :write, :value 1, :process 8, :time 37285805400, :index 12442}
{:type :fail, :f :write, :value 1, :process 8, :time 37287657095, :error :connect, :index 12443}
{:type :invoke, :f :read, :value nil, :process 4, :time 37291553293, :index 12444}
{:type :fail, :f :read, :value nil, :process 4, :time 37293288717, :error :connect, :index 12445}
{:type :invoke, :f :cas, :value [4 1], :process 21, :time 37315817000, :index 12449}
{:type :fail, :f :cas, :value [4 1], :process 21, :time 37317688342, :error :connect, :index 12451}
{:type :invoke, :f :write, :value 4, :process 5, :time 37322244910, :index 12454}
{:type :fail, :f :write, :value 4, :process 5, :time 37324125121, :error :connect, :index 12455}
{:type :invoke, :f :read, :value nil, :process 21, :time 37335953187, :index 12458}
{:type :invoke, :f :read, :value nil, :process 29, :time 37337932394, :index 12459}
{:type :fail, :f :read, :value nil, :process 21, :time 37338056547, :error :connect, :index 12460}
{:type :fail, :f :read, :value nil, :process 29, :time 37339557370, :error :connect, :index 12461}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 37353111447, :index 12462}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 37355204780, :error :connect, :index 12463}
{:type :invoke, :f :cas, :value [4 1], :process 8, :time 37358930337, :index 12464}
{:type :fail, :f :cas, :value [4 1], :process 8, :time 37360531327, :error :connect, :index 12465}
{:type :invoke, :f :cas, :value [2 0], :process 22, :time 37360834862, :index 12466}
{:type :invoke, :f :read, :value nil, :process 7, :time 37361001089, :index 12467}
{:type :fail, :f :cas, :value [2 0], :process 22, :time 37362733694, :error :connect, :index 12468}
{:type :fail, :f :read, :value nil, :process 7, :time 37362970559, :error :connect, :index 12469}
{:type :invoke, :f :write, :value 3, :process 6, :time 37382656186, :index 12476}
{:type :fail, :f :write, :value 3, :process 6, :time 37384445326, :error :connect, :index 12477}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 37411214615, :index 12488}
{:type :fail, :f :cas, :value [0 0], :process 7, :time 37413040356, :error :connect, :index 12489}
{:type :invoke, :f :read, :value nil, :process 21, :time 37415302381, :index 12490}
{:type :invoke, :f :write, :value 4, :process 0, :time 37416603120, :index 12491}
{:type :fail, :f :read, :value nil, :process 21, :time 37417223267, :error :connect, :index 12492}
{:type :fail, :f :write, :value 4, :process 0, :time 37418400284, :error :connect, :index 12493}
{:type :invoke, :f :read, :value nil, :process 22, :time 37460012928, :index 12500}
{:type :fail, :f :read, :value nil, :process 22, :time 37462009996, :error :connect, :index 12501}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 37462553420, :index 12502}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 37462705721, :index 12503}
{:type :fail, :f :cas, :value [2 2], :process 6, :time 37464736175, :error :connect, :index 12504}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 37464826889, :error :connect, :index 12505}
{:type :invoke, :f :read, :value nil, :process 5, :time 37474397216, :index 12506}
{:type :fail, :f :read, :value nil, :process 5, :time 37476422421, :error :connect, :index 12507}
{:type :invoke, :f :write, :value 1, :process 3, :time 37476483330, :index 12508}
{:type :fail, :f :write, :value 1, :process 3, :time 37478363864, :error :connect, :index 12509}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 37488816982, :index 12515}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 37490621293, :error :connect, :index 12517}
{:type :invoke, :f :read, :value nil, :process 29, :time 37504817906, :index 12518}
{:type :fail, :f :read, :value nil, :process 29, :time 37506617751, :error :connect, :index 12519}
{:type :invoke, :f :cas, :value [0 2], :process 6, :time 37509013009, :index 12522}
{:type :fail, :f :cas, :value [0 2], :process 6, :time 37510760820, :error :connect, :index 12525}
{:type :invoke, :f :cas, :value [0 2], :process 7, :time 37523305040, :index 12528}
{:type :fail, :f :cas, :value [0 2], :process 7, :time 37525139295, :error :connect, :index 12529}
{:type :invoke, :f :read, :value nil, :process 22, :time 37549265519, :index 12536}
{:type :fail, :f :read, :value nil, :process 22, :time 37551104298, :error :connect, :index 12537}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 37577069882, :index 12540}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 37579090419, :error :connect, :index 12541}
{:type :invoke, :f :read, :value nil, :process 21, :time 37588464188, :index 12546}
{:type :fail, :f :read, :value nil, :process 21, :time 37590398461, :error :connect, :index 12547}
{:type :invoke, :f :write, :value 4, :process 0, :time 37609653264, :index 12552}
{:type :fail, :f :write, :value 4, :process 0, :time 37611662936, :error :connect, :index 12553}
{:type :invoke, :f :cas, :value [4 3], :process 21, :time 37634672464, :index 12562}
{:type :fail, :f :cas, :value [4 3], :process 21, :time 37636506275, :error :connect, :index 12564}
{:type :invoke, :f :write, :value 2, :process 3, :time 37651633008, :index 12571}
{:type :fail, :f :write, :value 2, :process 3, :time 37653712460, :error :connect, :index 12573}
{:type :invoke, :f :write, :value 3, :process 4, :time 37661357548, :index 12576}
{:type :fail, :f :write, :value 3, :process 4, :time 37663431883, :error :connect, :index 12577}
{:type :invoke, :f :cas, :value [0 0], :process 5, :time 37667686381, :index 12580}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 37668902592, :index 12582}
{:type :fail, :f :cas, :value [0 0], :process 5, :time 37669755179, :error :connect, :index 12583}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 37670567467, :error :connect, :index 12585}
{:type :invoke, :f :write, :value 4, :process 6, :time 37675014655, :index 12586}
{:type :invoke, :f :write, :value 4, :process 22, :time 37676368228, :index 12587}
{:type :fail, :f :write, :value 4, :process 6, :time 37676874043, :error :connect, :index 12588}
{:type :fail, :f :write, :value 4, :process 22, :time 37678230714, :error :connect, :index 12589}
{:type :invoke, :f :read, :value nil, :process 3, :time 37683962453, :index 12590}
{:type :fail, :f :read, :value nil, :process 3, :time 37686030262, :error :connect, :index 12591}
{:type :invoke, :f :read, :value nil, :process 29, :time 37688917731, :index 12594}
{:type :fail, :f :read, :value nil, :process 29, :time 37690896286, :error :connect, :index 12595}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 37718414531, :index 12600}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 37720487964, :error :connect, :index 12601}
{:type :invoke, :f :read, :value nil, :process 8, :time 37720845042, :index 12602}
{:type :fail, :f :read, :value nil, :process 8, :time 37722902335, :error :connect, :index 12603}
{:type :invoke, :f :read, :value nil, :process 0, :time 37730931772, :index 12606}
{:type :fail, :f :read, :value nil, :process 0, :time 37732719893, :error :connect, :index 12607}
{:type :invoke, :f :write, :value 4, :process 6, :time 37736141441, :index 12608}
{:type :fail, :f :write, :value 4, :process 6, :time 37737842899, :error :connect, :index 12609}
{:type :invoke, :f :read, :value nil, :process 6, :time 37737978462, :index 12610}
{:type :fail, :f :read, :value nil, :process 6, :time 37739544663, :error :connect, :index 12611}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 37747752489, :index 12614}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 37749725913, :error :connect, :index 12616}
{:type :invoke, :f :write, :value 3, :process 7, :time 37758998101, :index 12618}
{:type :fail, :f :write, :value 3, :process 7, :time 37760821469, :error :connect, :index 12619}
{:type :invoke, :f :cas, :value [3 0], :process 22, :time 37761492199, :index 12620}
{:type :fail, :f :cas, :value [3 0], :process 22, :time 37763271298, :error :connect, :index 12621}
{:type :invoke, :f :read, :value nil, :process 21, :time 37773784017, :index 12626}
{:type :fail, :f :read, :value nil, :process 21, :time 37775823116, :error :connect, :index 12627}
{:type :invoke, :f :read, :value nil, :process 5, :time 37818035637, :index 12633}
{:type :fail, :f :read, :value nil, :process 5, :time 37820167460, :error :connect, :index 12635}
{:type :invoke, :f :read, :value nil, :process 0, :time 37821978259, :index 12636}
{:type :fail, :f :read, :value nil, :process 0, :time 37824348345, :error :connect, :index 12639}
{:type :invoke, :f :cas, :value [0 3], :process 8, :time 37827163072, :index 12642}
{:type :fail, :f :cas, :value [0 3], :process 8, :time 37828824158, :error :connect, :index 12643}
{:type :invoke, :f :write, :value 2, :process 8, :time 37832085546, :index 12644}
{:type :invoke, :f :read, :value nil, :process 3, :time 37833307346, :index 12646}
{:type :fail, :f :write, :value 2, :process 8, :time 37834054026, :error :connect, :index 12647}
{:type :fail, :f :read, :value nil, :process 3, :time 37835159905, :error :connect, :index 12648}
{:type :invoke, :f :read, :value nil, :process 4, :time 37838700850, :index 12650}
{:type :fail, :f :read, :value nil, :process 4, :time 37840442987, :error :connect, :index 12651}
{:type :invoke, :f :read, :value nil, :process 0, :time 37847609396, :index 12656}
{:type :fail, :f :read, :value nil, :process 0, :time 37849631815, :error :connect, :index 12657}
{:type :invoke, :f :write, :value 2, :process 22, :time 37859537376, :index 12658}
{:type :fail, :f :write, :value 2, :process 22, :time 37861191567, :error :connect, :index 12659}
{:type :invoke, :f :read, :value nil, :process 3, :time 37868430642, :index 12660}
{:type :fail, :f :read, :value nil, :process 3, :time 37870292602, :error :connect, :index 12661}
{:type :invoke, :f :read, :value nil, :process 29, :time 37888160702, :index 12667}
{:type :fail, :f :read, :value nil, :process 29, :time 37890107403, :error :connect, :index 12669}
{:type :invoke, :f :write, :value 0, :process 6, :time 37895832031, :index 12671}
{:type :fail, :f :write, :value 0, :process 6, :time 37897611218, :error :connect, :index 12673}
{:type :invoke, :f :read, :value nil, :process 7, :time 37913080008, :index 12676}
{:type :invoke, :f :read, :value nil, :process 5, :time 37913438775, :index 12677}
{:type :fail, :f :read, :value nil, :process 7, :time 37915222783, :error :connect, :index 12678}
{:type :fail, :f :read, :value nil, :process 5, :time 37915556258, :error :connect, :index 12679}
{:type :invoke, :f :write, :value 3, :process 5, :time 37934806780, :index 12686}
{:type :fail, :f :write, :value 3, :process 5, :time 37936469610, :error :connect, :index 12687}
{:type :invoke, :f :read, :value nil, :process 21, :time 37959087349, :index 12690}
{:type :fail, :f :read, :value nil, :process 21, :time 37960890623, :error :connect, :index 12691}
{:type :invoke, :f :write, :value 1, :process 0, :time 37965886960, :index 12692}
{:type :fail, :f :write, :value 1, :process 0, :time 37968045722, :error :connect, :index 12694}
{:type :invoke, :f :cas, :value [1 2], :process 21, :time 37970143842, :index 12696}
{:type :fail, :f :cas, :value [1 2], :process 21, :time 37971940769, :error :connect, :index 12697}
{:type :invoke, :f :read, :value nil, :process 3, :time 37974547599, :index 12698}
{:type :fail, :f :read, :value nil, :process 3, :time 37976413392, :error :connect, :index 12699}
{:type :invoke, :f :read, :value nil, :process 8, :time 37980313702, :index 12700}
{:type :fail, :f :read, :value nil, :process 8, :time 37982354029, :error :connect, :index 12701}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 37984881751, :index 12702}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 37986720590, :error :connect, :index 12703}
{:type :invoke, :f :cas, :value [1 4], :process 22, :time 37991451854, :index 12706}
{:type :fail, :f :cas, :value [1 4], :process 22, :time 37993436636, :error :connect, :index 12708}
{:type :invoke, :f :write, :value 0, :process 8, :time 37998641894, :index 12713}
{:type :fail, :f :write, :value 0, :process 8, :time 38000533854, :error :connect, :index 12715}
{:type :invoke, :f :read, :value nil, :process 29, :time 38010371357, :index 12717}
{:type :fail, :f :read, :value nil, :process 29, :time 38012310808, :error :connect, :index 12720}
{:type :invoke, :f :cas, :value [2 0], :process 7, :time 38022513926, :index 12722}
{:type :fail, :f :cas, :value [2 0], :process 7, :time 38024221335, :error :connect, :index 12724}
{:type :invoke, :f :read, :value nil, :process 0, :time 38024400819, :index 12725}
{:type :fail, :f :read, :value nil, :process 0, :time 38026145021, :error :connect, :index 12727}
{:type :invoke, :f :write, :value 0, :process 4, :time 38034725819, :index 12730}
{:type :fail, :f :write, :value 0, :process 4, :time 38036291788, :error :connect, :index 12731}
{:type :invoke, :f :read, :value nil, :process 29, :time 38056573011, :index 12732}
{:type :fail, :f :read, :value nil, :process 29, :time 38058243552, :error :connect, :index 12733}
{:type :invoke, :f :read, :value nil, :process 21, :time 38058448096, :index 12735}
{:type :fail, :f :read, :value nil, :process 21, :time 38060698487, :error :connect, :index 12736}
{:type :invoke, :f :read, :value nil, :process 3, :time 38061681741, :index 12738}
{:type :invoke, :f :write, :value 0, :process 22, :time 38061710396, :index 12739}
{:type :fail, :f :write, :value 0, :process 22, :time 38063441761, :error :connect, :index 12740}
{:type :fail, :f :read, :value nil, :process 3, :time 38063904064, :error :connect, :index 12741}
{:type :invoke, :f :write, :value 1, :process 8, :time 38071789223, :index 12742}
{:type :fail, :f :write, :value 1, :process 8, :time 38073669423, :error :connect, :index 12743}
{:type :invoke, :f :read, :value nil, :process 5, :time 38100728406, :index 12754}
{:type :fail, :f :read, :value nil, :process 5, :time 38102806253, :error :connect, :index 12755}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 38111388155, :index 12756}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 38113339865, :error :connect, :index 12758}
{:type :invoke, :f :write, :value 0, :process 29, :time 38123478717, :index 12762}
{:type :fail, :f :write, :value 0, :process 29, :time 38125331803, :error :connect, :index 12763}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 38138557144, :index 12768}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 38140638154, :error :connect, :index 12769}
{:type :invoke, :f :cas, :value [2 2], :process 21, :time 38145980110, :index 12774}
{:type :fail, :f :cas, :value [2 2], :process 21, :time 38147859528, :error :connect, :index 12775}
{:type :invoke, :f :read, :value nil, :process 6, :time 38175988622, :index 12778}
{:type :invoke, :f :read, :value nil, :process 7, :time 38176530080, :index 12779}
{:type :fail, :f :read, :value nil, :process 6, :time 38177793430, :error :connect, :index 12780}
{:type :fail, :f :read, :value nil, :process 7, :time 38178600535, :error :connect, :index 12781}
{:type :invoke, :f :read, :value nil, :process 22, :time 38262722937, :index 12810}
{:type :fail, :f :read, :value nil, :process 22, :time 38264673473, :error :connect, :index 12812}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
