{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :invoke, :f :write, :value 4, :process 0, :time 32914623648, :index 10744}
{:type :fail, :f :write, :value 4, :process 0, :time 32916718841, :error :connect, :index 10747}
{:type :invoke, :f :read, :value nil, :process 3, :time 32930184318, :index 10752}
{:type :fail, :f :read, :value nil, :process 3, :time 32932039616, :error :connect, :index 10753}
{:type :invoke, :f :write, :value 1, :process 22, :time 32941664094, :index 10754}
{:type :fail, :f :write, :value 1, :process 22, :time 32943675551, :error :connect, :index 10755}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 33001301881, :index 10775}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 33003317581, :error :connect, :index 10777}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 33008974102, :index 10778}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 33011052754, :error :connect, :index 10779}
{:type :invoke, :f :write, :value 4, :process 22, :time 33013939696, :index 10781}
{:type :fail, :f :write, :value 4, :process 22, :time 33015788485, :error :connect, :index 10783}
{:type :invoke, :f :cas, :value [0 1], :process 7, :time 33017803447, :index 10784}
{:type :fail, :f :cas, :value [0 1], :process 7, :time 33019645167, :error :connect, :index 10785}
{:type :invoke, :f :write, :value 0, :process 5, :time 33032596448, :index 10791}
{:type :invoke, :f :cas, :value [4 3], :process 3, :time 33032593736, :index 10792}
{:type :fail, :f :write, :value 0, :process 5, :time 33034613458, :error :connect, :index 10794}
{:type :fail, :f :cas, :value [4 3], :process 3, :time 33034731010, :error :connect, :index 10795}
{:type :invoke, :f :write, :value 0, :process 6, :time 33034999738, :index 10796}
{:type :invoke, :f :write, :value 2, :process 4, :time 33036746612, :index 10798}
{:type :fail, :f :write, :value 0, :process 6, :time 33036957831, :error :connect, :index 10799}
{:type :fail, :f :write, :value 2, :process 4, :time 33038606040, :error :connect, :index 10801}
{:type :invoke, :f :read, :value nil, :process 4, :time 33060880625, :index 10805}
{:type :fail, :f :read, :value nil, :process 4, :time 33063009303, :error :connect, :index 10806}
{:type :invoke, :f :write, :value 1, :process 4, :time 33080369247, :index 10808}
{:type :fail, :f :write, :value 1, :process 4, :time 33082382426, :error :connect, :index 10809}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 33085638445, :index 10810}
{:type :invoke, :f :write, :value 2, :process 29, :time 33085784166, :index 10811}
{:type :fail, :f :write, :value 2, :process 29, :time 33087494760, :error :connect, :index 10812}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 33087495337, :error :connect, :index 10813}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 33124895617, :index 10818}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 33127023427, :error :connect, :index 10819}
{:type :invoke, :f :cas, :value [0 2], :process 7, :time 33138915972, :index 10822}
{:type :fail, :f :cas, :value [0 2], :process 7, :time 33140765098, :error :connect, :index 10823}
{:type :invoke, :f :cas, :value [3 3], :process 21, :time 33147406124, :index 10824}
{:type :fail, :f :cas, :value [3 3], :process 21, :time 33149250841, :error :connect, :index 10825}
{:type :invoke, :f :cas, :value [0 1], :process 22, :time 33169059968, :index 10833}
{:type :invoke, :f :read, :value nil, :process 5, :time 33170289673, :index 10835}
{:type :fail, :f :cas, :value [0 1], :process 22, :time 33171619597, :error :connect, :index 10837}
{:type :fail, :f :read, :value nil, :process 5, :time 33172203500, :error :connect, :index 10838}
{:type :invoke, :f :write, :value 4, :process 6, :time 33178205667, :index 10844}
{:type :fail, :f :write, :value 4, :process 6, :time 33180232574, :error :connect, :index 10845}
{:type :invoke, :f :write, :value 0, :process 8, :time 33196679600, :index 10850}
{:type :fail, :f :write, :value 0, :process 8, :time 33198517611, :error :connect, :index 10851}
{:type :invoke, :f :read, :value nil, :process 22, :time 33200885456, :index 10852}
{:type :fail, :f :read, :value nil, :process 22, :time 33202977029, :error :connect, :index 10853}
{:type :invoke, :f :write, :value 0, :process 4, :time 33202913162, :index 10854}
{:type :fail, :f :write, :value 0, :process 4, :time 33204760993, :error :connect, :index 10855}
{:type :invoke, :f :read, :value nil, :process 0, :time 33210317699, :index 10856}
{:type :fail, :f :read, :value nil, :process 0, :time 33212172178, :error :connect, :index 10857}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 33230987529, :index 10862}
{:type :invoke, :f :write, :value 1, :process 4, :time 33231021353, :index 10863}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 33233174136, :error :connect, :index 10864}
{:type :fail, :f :write, :value 1, :process 4, :time 33233272830, :error :connect, :index 10865}
{:type :invoke, :f :write, :value 3, :process 7, :time 33259030102, :index 10870}
{:type :fail, :f :write, :value 3, :process 7, :time 33260686635, :error :connect, :index 10871}
{:type :invoke, :f :write, :value 2, :process 21, :time 33275434977, :index 10874}
{:type :invoke, :f :write, :value 1, :process 29, :time 33276162618, :index 10876}
{:type :fail, :f :write, :value 2, :process 21, :time 33277377722, :error :connect, :index 10877}
{:type :fail, :f :write, :value 1, :process 29, :time 33277759880, :error :connect, :index 10879}
{:type :invoke, :f :read, :value nil, :process 8, :time 33278776926, :index 10880}
{:type :fail, :f :read, :value nil, :process 8, :time 33280628125, :error :connect, :index 10881}
{:type :invoke, :f :read, :value nil, :process 5, :time 33292440558, :index 10882}
{:type :fail, :f :read, :value nil, :process 5, :time 33294318595, :error :connect, :index 10883}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 33299438328, :index 10884}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 33301361626, :error :connect, :index 10885}
{:type :invoke, :f :cas, :value [1 0], :process 6, :time 33310498339, :index 10889}
{:type :invoke, :f :read, :value nil, :process 22, :time 33312226608, :index 10892}
{:type :fail, :f :cas, :value [1 0], :process 6, :time 33312957804, :error :connect, :index 10893}
{:type :fail, :f :read, :value nil, :process 22, :time 33314219954, :error :connect, :index 10895}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 33347601835, :index 10902}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 33350184570, :error :connect, :index 10905}
{:type :invoke, :f :write, :value 1, :process 7, :time 33379960686, :index 10916}
{:type :fail, :f :write, :value 1, :process 7, :time 33381897188, :error :connect, :index 10917}
{:type :invoke, :f :write, :value 3, :process 3, :time 33391713797, :index 10919}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 33392551235, :index 10921}
{:type :invoke, :f :read, :value nil, :process 22, :time 33393467780, :index 10922}
{:type :fail, :f :write, :value 3, :process 3, :time 33394427020, :error :connect, :index 10923}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 33394639521, :error :connect, :index 10924}
{:type :fail, :f :read, :value nil, :process 22, :time 33395556452, :error :connect, :index 10925}
{:type :invoke, :f :cas, :value [2 2], :process 22, :time 33400801576, :index 10926}
{:type :fail, :f :cas, :value [2 2], :process 22, :time 33402358991, :error :connect, :index 10927}
{:type :invoke, :f :read, :value nil, :process 4, :time 33428511812, :index 10928}
{:type :fail, :f :read, :value nil, :process 4, :time 33430372164, :error :connect, :index 10929}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 33443643737, :index 10933}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 33446193709, :error :connect, :index 10935}
{:type :invoke, :f :write, :value 3, :process 22, :time 33447637088, :index 10936}
{:type :fail, :f :write, :value 3, :process 22, :time 33449495847, :error :connect, :index 10937}
{:type :invoke, :f :write, :value 0, :process 21, :time 33460673386, :index 10940}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 33460955982, :index 10941}
{:type :fail, :f :write, :value 0, :process 21, :time 33462510797, :error :connect, :index 10942}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 33463035639, :error :connect, :index 10943}
{:type :invoke, :f :read, :value nil, :process 0, :time 33463625981, :index 10944}
{:type :fail, :f :read, :value nil, :process 0, :time 33465730759, :error :connect, :index 10945}
{:type :invoke, :f :cas, :value [0 1], :process 8, :time 33466903456, :index 10947}
{:type :invoke, :f :write, :value 4, :process 29, :time 33468031171, :index 10949}
{:type :fail, :f :cas, :value [0 1], :process 8, :time 33468828097, :error :connect, :index 10950}
{:type :fail, :f :write, :value 4, :process 29, :time 33469790194, :error :connect, :index 10951}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 33479438085, :index 10952}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 33481484568, :error :connect, :index 10953}
{:type :invoke, :f :write, :value 0, :process 21, :time 33481789841, :index 10954}
{:type :invoke, :f :cas, :value [3 0], :process 29, :time 33482057675, :index 10955}
{:type :invoke, :f :read, :value nil, :process 6, :time 33482379315, :index 10956}
{:type :fail, :f :write, :value 0, :process 21, :time 33483491712, :error :connect, :index 10957}
{:type :fail, :f :cas, :value [3 0], :process 29, :time 33484028388, :error :connect, :index 10958}
{:type :fail, :f :read, :value nil, :process 6, :time 33484539380, :error :connect, :index 10959}
{:type :invoke, :f :write, :value 0, :process 3, :time 33503681745, :index 10962}
{:type :fail, :f :write, :value 0, :process 3, :time 33505970667, :error :connect, :index 10965}
{:type :invoke, :f :read, :value nil, :process 6, :time 33517717332, :index 10970}
{:type :fail, :f :read, :value nil, :process 6, :time 33519956549, :error :connect, :index 10974}
{:type :invoke, :f :cas, :value [0 1], :process 4, :time 33531435385, :index 10976}
{:type :fail, :f :cas, :value [0 1], :process 4, :time 33533487539, :error :connect, :index 10978}
{:type :invoke, :f :read, :value nil, :process 7, :time 33534171865, :index 10979}
{:type :fail, :f :read, :value nil, :process 7, :time 33536432420, :error :connect, :index 10982}
{:type :invoke, :f :write, :value 1, :process 8, :time 33547094544, :index 10990}
{:type :fail, :f :write, :value 1, :process 8, :time 33548936049, :error :connect, :index 10991}
{:type :invoke, :f :read, :value nil, :process 3, :time 33559221546, :index 10994}
{:type :fail, :f :read, :value nil, :process 3, :time 33561031634, :error :connect, :index 10995}
{:type :invoke, :f :read, :value nil, :process 5, :time 33572750997, :index 11002}
{:type :fail, :f :read, :value nil, :process 5, :time 33574651031, :error :connect, :index 11003}
{:type :invoke, :f :read, :value nil, :process 21, :time 33576748607, :index 11005}
{:type :invoke, :f :cas, :value [1 3], :process 22, :time 33576751704, :index 11006}
{:type :fail, :f :read, :value nil, :process 21, :time 33578527525, :error :connect, :index 11007}
{:type :fail, :f :cas, :value [1 3], :process 22, :time 33578952319, :error :connect, :index 11008}
{:type :invoke, :f :write, :value 4, :process 29, :time 33610287369, :index 11016}
{:type :fail, :f :write, :value 4, :process 29, :time 33612221062, :error :connect, :index 11017}
{:type :invoke, :f :write, :value 1, :process 5, :time 33630941767, :index 11020}
{:type :fail, :f :write, :value 1, :process 5, :time 33632804431, :error :connect, :index 11021}
{:type :invoke, :f :cas, :value [0 2], :process 0, :time 33663987117, :index 11028}
{:type :fail, :f :cas, :value [0 2], :process 0, :time 33666074050, :error :connect, :index 11029}
{:type :invoke, :f :write, :value 3, :process 7, :time 33669705511, :index 11032}
{:type :fail, :f :write, :value 3, :process 7, :time 33671323100, :error :connect, :index 11033}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 33678344108, :index 11035}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 33680458073, :error :connect, :index 11037}
{:type :invoke, :f :write, :value 2, :process 21, :time 33680794787, :index 11038}
{:type :fail, :f :write, :value 2, :process 21, :time 33682633876, :error :connect, :index 11039}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 33685769802, :index 11040}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 33687790755, :error :connect, :index 11041}
{:type :invoke, :f :read, :value nil, :process 8, :time 33713199558, :index 11046}
{:type :fail, :f :read, :value nil, :process 8, :time 33714838845, :error :connect, :index 11047}
{:type :invoke, :f :write, :value 4, :process 6, :time 33716193526, :index 11048}
{:type :fail, :f :write, :value 4, :process 6, :time 33718278310, :error :connect, :index 11049}
{:type :invoke, :f :write, :value 1, :process 8, :time 33726111941, :index 11052}
{:type :fail, :f :write, :value 1, :process 8, :time 33727960160, :error :connect, :index 11053}
{:type :invoke, :f :write, :value 2, :process 3, :time 33729292905, :index 11054}
{:type :invoke, :f :read, :value nil, :process 22, :time 33730205193, :index 11055}
{:type :fail, :f :write, :value 2, :process 3, :time 33731296643, :error :connect, :index 11056}
{:type :fail, :f :read, :value nil, :process 22, :time 33731855094, :error :connect, :index 11057}
{:type :invoke, :f :write, :value 1, :process 5, :time 33748065702, :index 11060}
{:type :fail, :f :write, :value 1, :process 5, :time 33749679049, :error :connect, :index 11061}
{:type :invoke, :f :read, :value nil, :process 22, :time 33761098986, :index 11064}
{:type :fail, :f :read, :value nil, :process 22, :time 33763211950, :error :connect, :index 11066}
{:type :invoke, :f :write, :value 1, :process 21, :time 33768904954, :index 11068}
{:type :invoke, :f :read, :value nil, :process 29, :time 33770512904, :index 11069}
{:type :fail, :f :write, :value 1, :process 21, :time 33770753617, :error :connect, :index 11070}
{:type :invoke, :f :cas, :value [2 1], :process 7, :time 33771583587, :index 11071}
{:type :fail, :f :read, :value nil, :process 29, :time 33772439212, :error :connect, :index 11072}
{:type :fail, :f :cas, :value [2 1], :process 7, :time 33773211180, :error :connect, :index 11073}
{:type :invoke, :f :cas, :value [0 1], :process 0, :time 33811716274, :index 11082}
{:type :fail, :f :cas, :value [0 1], :process 0, :time 33813734019, :error :connect, :index 11083}
{:type :invoke, :f :cas, :value [0 1], :process 8, :time 33832231772, :index 11086}
{:type :fail, :f :cas, :value [0 1], :process 8, :time 33834400337, :error :connect, :index 11087}
{:type :invoke, :f :read, :value nil, :process 4, :time 33842051915, :index 11088}
{:type :invoke, :f :write, :value 1, :process 6, :time 33842551663, :index 11089}
{:type :fail, :f :read, :value nil, :process 4, :time 33843962779, :error :connect, :index 11091}
{:type :fail, :f :write, :value 1, :process 6, :time 33844701543, :error :connect, :index 11092}
{:type :invoke, :f :read, :value nil, :process 5, :time 33849938710, :index 11094}
{:type :fail, :f :read, :value nil, :process 5, :time 33851977744, :error :connect, :index 11095}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 33859007263, :index 11100}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 33861083288, :error :connect, :index 11101}
{:type :invoke, :f :read, :value nil, :process 4, :time 33863273567, :index 11104}
{:type :fail, :f :read, :value nil, :process 4, :time 33865291584, :error :connect, :index 11105}
{:type :invoke, :f :write, :value 4, :process 3, :time 33865559970, :index 11106}
{:type :fail, :f :write, :value 4, :process 3, :time 33867173835, :error :connect, :index 11108}
{:type :invoke, :f :read, :value nil, :process 3, :time 33875412765, :index 11110}
{:type :fail, :f :read, :value nil, :process 3, :time 33877476483, :error :connect, :index 11111}
{:type :invoke, :f :read, :value nil, :process 8, :time 33910670443, :index 11116}
{:type :invoke, :f :cas, :value [2 3], :process 5, :time 33912238683, :index 11117}
{:type :fail, :f :read, :value nil, :process 8, :time 33912529712, :error :connect, :index 11118}
{:type :invoke, :f :cas, :value [0 2], :process 7, :time 33912678533, :index 11119}
{:type :fail, :f :cas, :value [2 3], :process 5, :time 33914571786, :error :connect, :index 11122}
{:type :fail, :f :cas, :value [0 2], :process 7, :time 33914731236, :error :connect, :index 11123}
{:type :invoke, :f :read, :value nil, :process 29, :time 33914937445, :index 11124}
{:type :fail, :f :read, :value nil, :process 29, :time 33916578810, :error :connect, :index 11127}
{:type :invoke, :f :write, :value 4, :process 21, :time 33942999223, :index 11134}
{:type :fail, :f :write, :value 4, :process 21, :time 33944630777, :error :connect, :index 11135}
{:type :invoke, :f :read, :value nil, :process 22, :time 33949457821, :index 11136}
{:type :fail, :f :read, :value nil, :process 22, :time 33951535317, :error :connect, :index 11137}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 33963549930, :index 11138}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 33965572385, :error :connect, :index 11139}
{:type :invoke, :f :write, :value 3, :process 0, :time 33991359819, :index 11142}
{:type :fail, :f :write, :value 3, :process 0, :time 33993423680, :error :connect, :index 11143}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 34023954007, :index 11150}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 34025828926, :error :connect, :index 11151}
{:type :invoke, :f :read, :value nil, :process 3, :time 34033745038, :index 11155}
{:type :fail, :f :read, :value nil, :process 3, :time 34035410808, :error :connect, :index 11157}
{:type :invoke, :f :read, :value nil, :process 5, :time 34061875902, :index 11168}
{:type :fail, :f :read, :value nil, :process 5, :time 34063902016, :error :connect, :index 11169}
{:type :invoke, :f :write, :value 4, :process 8, :time 34107791469, :index 11182}
{:type :fail, :f :write, :value 4, :process 8, :time 34109899438, :error :connect, :index 11184}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
