{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :invoke, :f :read, :value nil, :process 0, :time 36999285486, :index 7986}
{:type :ok, :f :read, :value nil, :process 0, :time 37005083388, :index 7987}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 37051408299, :index 7994}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 37057039695, :error :not-found, :index 7997}
{:type :invoke, :f :cas, :value [2 1], :process 26, :time 37066497946, :index 8002}
{:type :fail, :f :cas, :value [2 1], :process 26, :time 37072729831, :error :not-found, :index 8005}
{:type :invoke, :f :read, :value nil, :process 1, :time 37105593936, :index 8006}
{:type :ok, :f :read, :value nil, :process 1, :time 37113012226, :index 8008}
{:type :invoke, :f :write, :value 4, :process 5, :time 37139334662, :index 8012}
{:type :ok, :f :write, :value 4, :process 5, :time 37144651006, :index 8013}
{:type :invoke, :f :cas, :value [2 0], :process 22, :time 37146099209, :index 8014}
{:type :invoke, :f :cas, :value [0 4], :process 26, :time 37151028459, :index 8015}
{:type :fail, :f :cas, :value [2 0], :process 22, :time 37152643066, :index 8016}
{:type :fail, :f :cas, :value [0 4], :process 26, :time 37156836737, :index 8017}
{:type :invoke, :f :cas, :value [2 2], :process 47, :time 37170591719, :index 8019}
{:type :fail, :f :cas, :value [2 2], :process 47, :time 37178215950, :index 8022}
{:type :invoke, :f :read, :value nil, :process 0, :time 37229339920, :index 8030}
{:type :ok, :f :read, :value 4, :process 0, :time 37234676467, :index 8031}
{:type :invoke, :f :cas, :value [4 4], :process 1, :time 37237312842, :index 8032}
{:type :invoke, :f :write, :value 1, :process 47, :time 37241532795, :index 8033}
{:type :ok, :f :cas, :value [4 4], :process 1, :time 37243448313, :index 8035}
{:type :ok, :f :write, :value 1, :process 47, :time 37247516007, :index 8036}
{:type :invoke, :f :read, :value nil, :process 22, :time 37265984545, :index 8040}
{:type :ok, :f :read, :value 1, :process 22, :time 37271712720, :index 8041}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 37283969224, :index 8044}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 37289886659, :index 8046}
{:type :invoke, :f :read, :value nil, :process 5, :time 37304169313, :index 8052}
{:type :ok, :f :read, :value 1, :process 5, :time 37308734395, :index 8053}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 37330201907, :index 8056}
{:type :ok, :f :cas, :value [1 2], :process 0, :time 37335839589, :index 8058}
{:type :invoke, :f :write, :value 3, :process 26, :time 37352134515, :index 8060}
{:type :ok, :f :write, :value 3, :process 26, :time 37357530457, :index 8061}
{:type :invoke, :f :write, :value 4, :process 0, :time 37364126940, :index 8062}
{:type :invoke, :f :write, :value 4, :process 47, :time 37368830563, :index 8063}
{:type :ok, :f :write, :value 4, :process 0, :time 37369873252, :index 8064}
{:type :invoke, :f :read, :value nil, :process 22, :time 37370054173, :index 8065}
{:type :ok, :f :write, :value 4, :process 47, :time 37375368534, :index 8068}
{:type :ok, :f :read, :value 4, :process 22, :time 37376439360, :index 8070}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 37397023428, :index 8078}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 37402598269, :index 8079}
{:type :invoke, :f :cas, :value [3 2], :process 1, :time 37434744587, :index 8082}
{:type :invoke, :f :write, :value 0, :process 22, :time 37435762965, :index 8083}
{:type :invoke, :f :cas, :value [1 4], :process 47, :time 37439668824, :index 8084}
{:type :fail, :f :cas, :value [3 2], :process 1, :time 37441171312, :index 8085}
{:type :ok, :f :write, :value 0, :process 22, :time 37441654235, :index 8086}
{:type :invoke, :f :read, :value nil, :process 22, :time 37441920149, :index 8087}
{:type :fail, :f :cas, :value [1 4], :process 47, :time 37445158732, :index 8088}
{:type :ok, :f :read, :value 0, :process 22, :time 37447210614, :index 8089}
{:type :invoke, :f :write, :value 4, :process 47, :time 37512431146, :index 8098}
{:type :invoke, :f :cas, :value [3 0], :process 26, :time 37514831425, :index 8099}
{:type :ok, :f :write, :value 4, :process 47, :time 37518223266, :index 8100}
{:type :fail, :f :cas, :value [3 0], :process 26, :time 37520607361, :index 8101}
{:type :invoke, :f :read, :value nil, :process 22, :time 37546508316, :index 8105}
{:type :ok, :f :read, :value 4, :process 22, :time 37552603696, :index 8109}
{:type :invoke, :f :write, :value 1, :process 0, :time 37553182789, :index 8110}
{:type :ok, :f :write, :value 1, :process 0, :time 37558483499, :index 8111}
{:type :invoke, :f :write, :value 4, :process 5, :time 37576888375, :index 8115}
{:type :ok, :f :write, :value 4, :process 5, :time 37583461026, :index 8117}
{:type :invoke, :f :cas, :value [4 4], :process 26, :time 37587890204, :index 8119}
{:type :ok, :f :cas, :value [4 4], :process 26, :time 37593391774, :index 8121}
{:type :invoke, :f :write, :value 2, :process 22, :time 37612886219, :index 8127}
{:type :invoke, :f :read, :value nil, :process 1, :time 37614547465, :index 8128}
{:type :ok, :f :write, :value 2, :process 22, :time 37619512358, :index 8130}
{:type :ok, :f :read, :value 2, :process 1, :time 37620233968, :index 8131}
{:type :invoke, :f :read, :value nil, :process 0, :time 37651769586, :index 8138}
{:type :ok, :f :read, :value 2, :process 0, :time 37657222822, :index 8139}
{:type :invoke, :f :cas, :value [1 3], :process 47, :time 37662513600, :index 8140}
{:type :fail, :f :cas, :value [1 3], :process 47, :time 37668838764, :index 8141}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 37742764574, :index 8151}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 37748920450, :index 8153}
{:type :invoke, :f :write, :value 1, :process 26, :time 37751693194, :index 8155}
{:type :ok, :f :write, :value 1, :process 26, :time 37757650858, :index 8157}
{:type :invoke, :f :write, :value 4, :process 1, :time 37782536467, :index 8160}
{:type :ok, :f :write, :value 4, :process 1, :time 37790538399, :index 8162}
{:type :invoke, :f :cas, :value [0 1], :process 22, :time 37813748368, :index 8166}
{:type :fail, :f :cas, :value [0 1], :process 22, :time 37820512259, :index 8167}
{:type :invoke, :f :read, :value nil, :process 5, :time 37843211653, :index 8169}
{:type :ok, :f :read, :value 4, :process 5, :time 37849658084, :index 8172}
{:type :invoke, :f :write, :value 1, :process 0, :time 37851534035, :index 8174}
{:type :ok, :f :write, :value 1, :process 0, :time 37856130289, :index 8175}
{:type :invoke, :f :read, :value nil, :process 47, :time 37860146001, :index 8176}
{:type :ok, :f :read, :value 1, :process 47, :time 37865399748, :index 8177}
{:type :invoke, :f :read, :value nil, :process 47, :time 37878684868, :index 8179}
{:type :ok, :f :read, :value 1, :process 47, :time 37884124473, :index 8182}
{:type :invoke, :f :write, :value 3, :process 5, :time 37887915960, :index 8184}
{:type :ok, :f :write, :value 3, :process 5, :time 37894365125, :index 8185}
{:type :invoke, :f :write, :value 4, :process 1, :time 37908842872, :index 8186}
{:type :invoke, :f :write, :value 2, :process 26, :time 37912950549, :index 8188}
{:type :ok, :f :write, :value 4, :process 1, :time 37915183136, :index 8189}
{:type :ok, :f :write, :value 2, :process 26, :time 37919087741, :index 8191}
{:type :invoke, :f :read, :value nil, :process 47, :time 37921439295, :index 8192}
{:type :ok, :f :read, :value 2, :process 47, :time 37927020215, :index 8193}
{:type :invoke, :f :cas, :value [2 3], :process 5, :time 37938964726, :index 8195}
{:type :ok, :f :cas, :value [2 3], :process 5, :time 37943744069, :index 8197}
{:type :invoke, :f :read, :value nil, :process 22, :time 37969805520, :index 8200}
{:type :ok, :f :read, :value 3, :process 22, :time 37975332594, :index 8202}
{:type :invoke, :f :write, :value 4, :process 47, :time 38028229874, :index 8211}
{:type :ok, :f :write, :value 4, :process 47, :time 38033070233, :index 8214}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 38053440957, :index 8218}
{:type :invoke, :f :write, :value 3, :process 5, :time 38058039449, :index 8220}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 38059901611, :index 8221}
{:type :ok, :f :write, :value 3, :process 5, :time 38063627744, :index 8223}
{:type :invoke, :f :write, :value 4, :process 22, :time 38063787899, :index 8224}
{:type :ok, :f :write, :value 4, :process 22, :time 38069153043, :index 8225}
{:type :invoke, :f :read, :value nil, :process 1, :time 38074481510, :index 8226}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 38075489465, :index 8227}
{:type :ok, :f :read, :value 4, :process 1, :time 38080594538, :index 8228}
{:type :fail, :f :cas, :value [0 2], :process 22, :time 38082169013, :index 8229}
{:type :invoke, :f :write, :value 2, :process 1, :time 38082583138, :index 8230}
{:type :invoke, :f :cas, :value [2 2], :process 47, :time 38085366960, :index 8231}
{:type :ok, :f :write, :value 2, :process 1, :time 38089584104, :index 8232}
{:type :ok, :f :cas, :value [2 2], :process 47, :time 38091198856, :index 8233}
{:type :invoke, :f :cas, :value [1 0], :process 26, :time 38099385855, :index 8234}
{:type :fail, :f :cas, :value [1 0], :process 26, :time 38106628962, :index 8237}
{:type :invoke, :f :cas, :value [1 1], :process 26, :time 38117926810, :index 8240}
{:type :fail, :f :cas, :value [1 1], :process 26, :time 38124235346, :index 8242}
{:type :invoke, :f :read, :value nil, :process 47, :time 38132494730, :index 8244}
{:type :ok, :f :read, :value 2, :process 47, :time 38138057869, :index 8245}
{:type :invoke, :f :read, :value nil, :process 1, :time 38152881168, :index 8246}
{:type :ok, :f :read, :value 2, :process 1, :time 38158533254, :index 8248}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 38167922423, :index 8250}
{:type :invoke, :f :read, :value nil, :process 0, :time 38199211536, :index 8253}
{:type :invoke, :f :read, :value nil, :process 47, :time 38216374948, :index 8254}
{:type :invoke, :f :write, :value 1, :process 1, :time 38216810302, :index 8255}
{:type :invoke, :f :read, :value nil, :process 22, :time 38263454905, :index 8259}
{:type :invoke, :f :cas, :value [0 4], :process 26, :time 38272639477, :index 8260}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 38623362183, :index 8262}
{:type :ok, :f :read, :value 2, :process 0, :time 38623684357, :index 8264}
{:type :fail, :f :cas, :value [0 4], :process 26, :time 38624474933, :index 8266}
{:type :ok, :f :write, :value 1, :process 1, :time 38624843346, :index 8268}
{:type :ok, :f :read, :value 1, :process 22, :time 38626183978, :index 8272}
{:type :ok, :f :read, :value 1, :process 47, :time 38626185570, :index 8273}
{:type :invoke, :f :write, :value 3, :process 47, :time 38647928667, :index 8276}
{:type :ok, :f :write, :value 3, :process 47, :time 38654044046, :index 8277}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 38654520225, :index 8278}
{:type :fail, :f :cas, :value [1 2], :process 1, :time 38660337929, :index 8279}
{:type :invoke, :f :read, :value nil, :process 5, :time 38695318408, :index 8284}
{:type :invoke, :f :cas, :value [2 2], :process 22, :time 38696939478, :index 8285}
{:type :ok, :f :read, :value 3, :process 5, :time 38700718696, :index 8286}
{:type :fail, :f :cas, :value [2 2], :process 22, :time 38704240087, :index 8287}
{:type :invoke, :f :read, :value nil, :process 0, :time 38713937287, :index 8288}
{:type :ok, :f :read, :value 3, :process 0, :time 38719212690, :index 8290}
{:type :invoke, :f :write, :value 4, :process 5, :time 38746002185, :index 8296}
{:type :invoke, :f :read, :value nil, :process 0, :time 38751492712, :index 8297}
{:type :invoke, :f :write, :value 2, :process 26, :time 38762258402, :index 8298}
{:type :invoke, :f :read, :value nil, :process 47, :time 38814354539, :index 8301}
{:type :invoke, :f :write, :value 0, :process 1, :time 38830630515, :index 8303}
{:type :invoke, :f :read, :value nil, :process 22, :time 38867527158, :index 8305}
{:type :ok, :f :write, :value 4, :process 5, :time 39137275658, :index 8308}
{:type :ok, :f :read, :value 4, :process 0, :time 39148584403, :index 8309}
{:type :ok, :f :read, :value 0, :process 47, :time 39150010994, :index 8312}
{:type :ok, :f :write, :value 2, :process 26, :time 39151243492, :index 8314}
{:type :ok, :f :write, :value 0, :process 1, :time 39151833896, :index 8316}
{:type :ok, :f :read, :value 0, :process 22, :time 39153794251, :index 8319}
{:type :invoke, :f :cas, :value [3 1], :process 26, :time 39180534728, :index 8322}
{:type :fail, :f :cas, :value [3 1], :process 26, :time 39186844227, :index 8323}
{:type :invoke, :f :write, :value 0, :process 26, :time 39187080814, :index 8324}
{:type :ok, :f :write, :value 0, :process 26, :time 39192756774, :index 8326}
{:type :invoke, :f :write, :value 3, :process 22, :time 39245065542, :index 8331}
{:type :invoke, :f :read, :value nil, :process 26, :time 39267848020, :index 8333}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 39271662762, :index 8334}
{:type :invoke, :f :read, :value nil, :process 0, :time 39281909924, :index 8336}
{:type :invoke, :f :write, :value 0, :process 1, :time 39288088439, :index 8337}
{:type :invoke, :f :write, :value 0, :process 47, :time 39307324762, :index 8339}
{:type :ok, :f :write, :value 3, :process 22, :time 39373247434, :index 8343}
{:type :ok, :f :read, :value 3, :process 0, :time 39374426957, :index 8346}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 39375384070, :index 8347}
{:type :ok, :f :write, :value 0, :process 47, :time 39376527843, :index 8349}
{:type :ok, :f :write, :value 0, :process 1, :time 39377680529, :index 8351}
{:type :ok, :f :read, :value 3, :process 26, :time 39378018500, :index 8352}
{:type :invoke, :f :cas, :value [3 0], :process 22, :time 39419553428, :index 8358}
{:type :fail, :f :cas, :value [3 0], :process 22, :time 39425243791, :index 8359}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 39432675725, :index 8361}
{:type :invoke, :f :cas, :value [1 1], :process 47, :time 39436792188, :index 8363}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 39438469233, :index 8364}
{:type :fail, :f :cas, :value [1 1], :process 47, :time 39442504444, :index 8365}
{:type :invoke, :f :write, :value 4, :process 47, :time 39471788808, :index 8368}
{:type :ok, :f :write, :value 4, :process 47, :time 39477084516, :index 8369}
{:type :invoke, :f :read, :value nil, :process 22, :time 39478532684, :index 8370}
{:type :ok, :f :read, :value 4, :process 22, :time 39483753057, :index 8371}
{:type :invoke, :f :read, :value nil, :process 26, :time 39485307206, :index 8372}
{:type :invoke, :f :read, :value nil, :process 0, :time 39488721174, :index 8374}
{:type :ok, :f :read, :value 4, :process 26, :time 39490667141, :index 8375}
{:type :ok, :f :read, :value 4, :process 0, :time 39494046562, :index 8377}
{:type :invoke, :f :read, :value nil, :process 5, :time 39507770372, :index 8381}
{:type :ok, :f :read, :value 4, :process 5, :time 39514043813, :index 8383}
{:type :invoke, :f :write, :value 0, :process 5, :time 39514284463, :index 8384}
{:type :ok, :f :write, :value 0, :process 5, :time 39518893607, :index 8385}
{:type :invoke, :f :read, :value nil, :process 1, :time 39530955263, :index 8386}
{:type :ok, :f :read, :value 0, :process 1, :time 39535991669, :index 8388}
{:type :invoke, :f :read, :value nil, :process 0, :time 39554328100, :index 8392}
{:type :invoke, :f :write, :value 1, :process 47, :time 39556408549, :index 8393}
{:type :ok, :f :read, :value 0, :process 0, :time 39560561905, :index 8394}
{:type :ok, :f :write, :value 1, :process 47, :time 39561946242, :index 8395}
{:type :invoke, :f :cas, :value [1 3], :process 5, :time 39575258565, :index 8398}
{:type :ok, :f :cas, :value [1 3], :process 5, :time 39580525715, :index 8400}
{:type :invoke, :f :cas, :value [1 1], :process 26, :time 39624052895, :index 8407}
{:type :fail, :f :cas, :value [1 1], :process 26, :time 39632277239, :index 8411}
{:type :invoke, :f :write, :value 3, :process 22, :time 39680055293, :index 8424}
{:type :ok, :f :write, :value 3, :process 22, :time 39685633992, :index 8425}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
