{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :invoke, :f :read, :value nil, :process 36, :time 34633119260, :index 5653}
{:type :ok, :f :read, :value nil, :process 36, :time 34638770990, :index 5655}
{:type :invoke, :f :read, :value nil, :process 31, :time 34648234282, :index 5661}
{:type :ok, :f :read, :value nil, :process 31, :time 34655771792, :index 5666}
{:type :invoke, :f :read, :value nil, :process 57, :time 34657075587, :index 5668}
{:type :ok, :f :read, :value nil, :process 57, :time 34662426104, :index 5671}
{:type :invoke, :f :read, :value nil, :process 35, :time 34664612905, :index 5672}
{:type :ok, :f :read, :value nil, :process 35, :time 34670419554, :index 5674}
{:type :invoke, :f :read, :value nil, :process 34, :time 34690200145, :index 5681}
{:type :ok, :f :read, :value nil, :process 34, :time 34696234562, :index 5685}
{:type :invoke, :f :read, :value nil, :process 31, :time 34732020046, :index 5687}
{:type :invoke, :f :read, :value nil, :process 19, :time 34737068435, :index 5688}
{:type :ok, :f :read, :value nil, :process 31, :time 34737811316, :index 5689}
{:type :ok, :f :read, :value nil, :process 19, :time 34744134925, :index 5691}
{:type :invoke, :f :cas, :value [1 0], :process 57, :time 34751695973, :index 5693}
{:type :fail, :f :cas, :value [1 0], :process 57, :time 34756506963, :error :not-found, :index 5694}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 34759412009, :index 5695}
{:type :invoke, :f :write, :value 2, :process 10, :time 34760812031, :index 5696}
{:type :fail, :f :cas, :value [0 3], :process 18, :time 34765515187, :error :not-found, :index 5698}
{:type :invoke, :f :cas, :value [0 4], :process 36, :time 34793035403, :index 5706}
{:type :invoke, :f :cas, :value [0 4], :process 35, :time 34793769276, :index 5707}
{:type :invoke, :f :read, :value nil, :process 34, :time 34796463557, :index 5709}
{:type :fail, :f :cas, :value [0 4], :process 36, :time 34799355469, :error :not-found, :index 5711}
{:type :ok, :f :read, :value nil, :process 34, :time 34801243676, :index 5712}
{:type :invoke, :f :read, :value nil, :process 31, :time 34808037085, :index 5716}
{:type :ok, :f :read, :value nil, :process 31, :time 34813743411, :index 5720}
{:type :invoke, :f :read, :value nil, :process 19, :time 34825370261, :index 5722}
{:type :ok, :f :read, :value nil, :process 19, :time 34831672671, :index 5725}
{:type :invoke, :f :read, :value nil, :process 34, :time 34839495550, :index 5730}
{:type :invoke, :f :read, :value nil, :process 13, :time 34842083622, :index 5731}
{:type :ok, :f :read, :value nil, :process 34, :time 34845046518, :index 5732}
{:type :ok, :f :read, :value nil, :process 13, :time 34848001356, :index 5733}
{:type :invoke, :f :read, :value nil, :process 31, :time 34870976340, :index 5734}
{:type :ok, :f :read, :value nil, :process 31, :time 34876373080, :index 5735}
{:type :invoke, :f :read, :value nil, :process 32, :time 34879254051, :index 5736}
{:type :ok, :f :read, :value nil, :process 32, :time 34884549326, :index 5738}
{:type :invoke, :f :cas, :value [3 3], :process 19, :time 34908940638, :index 5740}
{:type :fail, :f :cas, :value [3 3], :process 19, :time 34914599087, :error :not-found, :index 5741}
{:type :invoke, :f :write, :value 2, :process 18, :time 34924780778, :index 5742}
{:type :ok, :f :write, :value 2, :process 18, :time 34930035647, :index 5744}
{:type :invoke, :f :read, :value nil, :process 36, :time 34932609136, :index 5745}
{:type :ok, :f :read, :value 2, :process 36, :time 34937793250, :index 5747}
{:type :invoke, :f :write, :value 1, :process 34, :time 34939307897, :index 5748}
{:type :invoke, :f :cas, :value [4 1], :process 57, :time 34942774084, :index 5749}
{:type :ok, :f :write, :value 1, :process 34, :time 34944415074, :index 5750}
{:type :fail, :f :cas, :value [4 1], :process 57, :time 34947582050, :index 5751}
{:type :invoke, :f :write, :value 3, :process 18, :time 34952296745, :index 5753}
{:type :ok, :f :write, :value 3, :process 18, :time 34957758204, :index 5757}
{:type :invoke, :f :read, :value nil, :process 19, :time 34974858652, :index 5763}
{:type :ok, :f :read, :value 3, :process 19, :time 34980116012, :index 5766}
{:type :invoke, :f :write, :value 4, :process 19, :time 34981379434, :index 5767}
{:type :ok, :f :write, :value 4, :process 19, :time 34986019584, :index 5769}
{:type :invoke, :f :cas, :value [0 1], :process 34, :time 35016667957, :index 5772}
{:type :fail, :f :cas, :value [0 1], :process 34, :time 35022587763, :index 5773}
{:type :invoke, :f :cas, :value [4 0], :process 57, :time 35022835199, :index 5774}
{:type :ok, :f :cas, :value [4 0], :process 57, :time 35027897006, :index 5775}
{:type :invoke, :f :cas, :value [3 3], :process 13, :time 35035250184, :index 5776}
{:type :invoke, :f :write, :value 2, :process 32, :time 35046801861, :index 5777}
{:type :invoke, :f :cas, :value [3 2], :process 34, :time 35058857480, :index 5778}
{:type :invoke, :f :read, :value nil, :process 18, :time 35064000121, :index 5780}
{:type :invoke, :f :read, :value nil, :process 31, :time 35071625731, :index 5781}
{:type :invoke, :f :write, :value 2, :process 36, :time 35078047567, :index 5782}
{:type :invoke, :f :write, :value 1, :process 57, :time 35082214860, :index 5784}
{:type :invoke, :f :read, :value nil, :process 19, :time 35115271055, :index 5787}
{:type :fail, :f :cas, :value [3 3], :process 13, :time 35405090636, :index 5792}
{:type :invoke, :f :cas, :value [1 4], :process 13, :time 35536407961, :index 5793}
{:type :ok, :f :write, :value 2, :process 32, :time 35662091128, :index 5794}
{:type :ok, :f :read, :value 2, :process 18, :time 35662738776, :index 5796}
{:type :ok, :f :write, :value 2, :process 10, :time 35664584756, :index 5801}
{:type :fail, :f :cas, :value [0 4], :process 35, :time 35665099309, :index 5802}
{:type :fail, :f :cas, :value [1 4], :process 13, :time 35665291927, :index 5803}
{:type :ok, :f :read, :value 1, :process 19, :time 35665805544, :index 5807}
{:type :fail, :f :cas, :value [3 2], :process 34, :time 35666355670, :index 5809}
{:type :ok, :f :write, :value 2, :process 36, :time 35666671182, :index 5810}
{:type :ok, :f :write, :value 1, :process 57, :time 35666962771, :index 5811}
{:type :ok, :f :read, :value 2, :process 31, :time 35667243881, :index 5812}
{:type :invoke, :f :cas, :value [4 2], :process 36, :time 35691907398, :index 5820}
{:type :invoke, :f :cas, :value [3 1], :process 10, :time 35692835129, :index 5821}
{:type :fail, :f :cas, :value [4 2], :process 36, :time 35697557257, :index 5823}
{:type :fail, :f :cas, :value [3 1], :process 10, :time 35698098538, :index 5824}
{:type :invoke, :f :read, :value nil, :process 32, :time 35740422742, :index 5828}
{:type :ok, :f :read, :value 2, :process 32, :time 35758573890, :index 5832}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 35761865511, :index 5833}
{:type :invoke, :f :cas, :value [3 2], :process 35, :time 35765343609, :index 5835}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 35770093713, :index 5836}
{:type :fail, :f :cas, :value [3 2], :process 35, :time 35771366757, :index 5837}
{:type :fail, :f :cas, :value [3 2], :process 18, :time 35775511489, :index 5839}
{:type :invoke, :f :write, :value 0, :process 18, :time 35790771149, :index 5843}
{:type :ok, :f :write, :value 0, :process 18, :time 35795790448, :index 5846}
{:type :invoke, :f :read, :value nil, :process 57, :time 35798203349, :index 5848}
{:type :invoke, :f :cas, :value [1 4], :process 13, :time 35798589093, :index 5849}
{:type :invoke, :f :read, :value nil, :process 34, :time 35800615574, :index 5851}
{:type :ok, :f :read, :value 0, :process 57, :time 35803227295, :index 5852}
{:type :fail, :f :cas, :value [1 4], :process 13, :time 35804993939, :index 5853}
{:type :ok, :f :read, :value 0, :process 34, :time 35805530553, :index 5854}
{:type :invoke, :f :read, :value nil, :process 31, :time 35847473033, :index 5860}
{:type :invoke, :f :write, :value 2, :process 19, :time 35849089104, :index 5861}
{:type :ok, :f :write, :value 2, :process 19, :time 35854092780, :index 5863}
{:type :invoke, :f :write, :value 3, :process 57, :time 35861488255, :index 5866}
{:type :ok, :f :write, :value 3, :process 57, :time 35866329091, :index 5867}
{:type :invoke, :f :cas, :value [2 1], :process 34, :time 35868772562, :index 5868}
{:type :invoke, :f :write, :value 3, :process 10, :time 35870332108, :index 5869}
{:type :fail, :f :cas, :value [2 1], :process 34, :time 35874168158, :index 5871}
{:type :invoke, :f :cas, :value [2 3], :process 18, :time 35875048726, :index 5872}
{:type :ok, :f :write, :value 3, :process 10, :time 35875556028, :index 5873}
{:type :invoke, :f :read, :value nil, :process 34, :time 35875699145, :index 5874}
{:type :fail, :f :cas, :value [2 3], :process 18, :time 35881001772, :index 5876}
{:type :ok, :f :read, :value 3, :process 34, :time 35881487521, :index 5877}
{:type :invoke, :f :write, :value 2, :process 35, :time 35881658638, :index 5878}
{:type :ok, :f :write, :value 2, :process 35, :time 35886647127, :index 5879}
{:type :invoke, :f :write, :value 3, :process 13, :time 35899243778, :index 5880}
{:type :ok, :f :write, :value 3, :process 13, :time 35904412833, :index 5881}
{:type :invoke, :f :cas, :value [3 3], :process 34, :time 35930747367, :index 5888}
{:type :ok, :f :cas, :value [3 3], :process 34, :time 35936535879, :index 5889}
{:type :invoke, :f :cas, :value [3 2], :process 32, :time 35946848680, :index 5890}
{:type :ok, :f :cas, :value [3 2], :process 32, :time 35951942199, :index 5892}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 35959830094, :index 5896}
{:type :invoke, :f :cas, :value [2 0], :process 57, :time 35960586878, :index 5897}
{:type :ok, :f :cas, :value [2 0], :process 57, :time 35965337797, :index 5898}
{:type :fail, :f :cas, :value [4 4], :process 10, :time 35965614890, :index 5899}
{:type :invoke, :f :cas, :value [0 2], :process 32, :time 35973213539, :index 5900}
{:type :ok, :f :cas, :value [0 2], :process 32, :time 35977718657, :index 5901}
{:type :invoke, :f :write, :value 0, :process 19, :time 35994356164, :index 5904}
{:type :ok, :f :write, :value 0, :process 19, :time 35999644766, :index 5905}
{:type :invoke, :f :read, :value nil, :process 10, :time 36016863247, :index 5909}
{:type :invoke, :f :cas, :value [4 3], :process 35, :time 36016860299, :index 5910}
{:type :fail, :f :cas, :value [4 3], :process 35, :time 36022891793, :index 5912}
{:type :ok, :f :read, :value 0, :process 10, :time 36022964936, :index 5913}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 36033963291, :index 5914}
{:type :ok, :f :read, :value 0, :process 31, :time 36034562178, :index 5916}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 36041253295, :index 5918}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 36044195827, :index 5919}
{:type :ok, :f :cas, :value [0 3], :process 18, :time 36046909797, :index 5921}
{:type :ok, :f :cas, :value [3 2], :process 10, :time 36049656733, :index 5922}
{:type :invoke, :f :read, :value nil, :process 19, :time 36071895951, :index 5924}
{:type :invoke, :f :read, :value nil, :process 13, :time 36074669553, :index 5925}
{:type :ok, :f :read, :value 2, :process 19, :time 36077597681, :index 5926}
{:type :ok, :f :read, :value 2, :process 13, :time 36079983828, :index 5928}
{:type :invoke, :f :write, :value 3, :process 57, :time 36084608654, :index 5930}
{:type :ok, :f :write, :value 3, :process 57, :time 36089293873, :index 5932}
{:type :invoke, :f :cas, :value [2 2], :process 34, :time 36089801028, :index 5933}
{:type :fail, :f :cas, :value [2 2], :process 34, :time 36096291880, :index 5937}
{:type :invoke, :f :write, :value 4, :process 35, :time 36126163077, :index 5943}
{:type :invoke, :f :read, :value nil, :process 19, :time 36129857766, :index 5947}
{:type :ok, :f :write, :value 4, :process 35, :time 36132038250, :index 5948}
{:type :invoke, :f :write, :value 4, :process 10, :time 36133990302, :index 5952}
{:type :ok, :f :read, :value 4, :process 19, :time 36135822854, :index 5955}
{:type :ok, :f :write, :value 4, :process 10, :time 36139556363, :index 5957}
{:type :invoke, :f :read, :value nil, :process 13, :time 36140238496, :index 5958}
{:type :invoke, :f :write, :value 2, :process 32, :time 36141990514, :index 5961}
{:type :ok, :f :read, :value 4, :process 13, :time 36144586022, :index 5962}
{:type :ok, :f :write, :value 2, :process 32, :time 36146233584, :index 5964}
{:type :invoke, :f :cas, :value [0 3], :process 57, :time 36160555138, :index 5966}
{:type :invoke, :f :write, :value 1, :process 10, :time 36160844217, :index 5967}
{:type :fail, :f :cas, :value [0 3], :process 57, :time 36165923951, :index 5968}
{:type :ok, :f :write, :value 1, :process 10, :time 36166895896, :index 5969}
{:type :invoke, :f :cas, :value [2 1], :process 18, :time 36170181180, :index 5970}
{:type :invoke, :f :read, :value nil, :process 13, :time 36189858390, :index 5974}
{:type :invoke, :f :write, :value 3, :process 31, :time 36195873101, :index 5977}
{:type :ok, :f :write, :value 3, :process 31, :time 36201172402, :index 5979}
{:type :invoke, :f :write, :value 1, :process 36, :time 36227278147, :index 5983}
{:type :ok, :f :write, :value 1, :process 36, :time 36232679558, :index 5984}
{:type :invoke, :f :cas, :value [1 4], :process 10, :time 36241146220, :index 5985}
{:type :invoke, :f :read, :value nil, :process 31, :time 36265427476, :index 5990}
{:type :ok, :f :read, :value 1, :process 31, :time 36270389680, :index 5992}
{:type :invoke, :f :read, :value nil, :process 34, :time 36275532434, :index 5996}
{:type :invoke, :f :write, :value 0, :process 19, :time 36278097303, :index 5999}
{:type :ok, :f :read, :value 1, :process 34, :time 36282510828, :index 6001}
{:type :ok, :f :write, :value 0, :process 19, :time 36284331103, :index 6003}
{:type :invoke, :f :write, :value 0, :process 35, :time 36292329521, :index 6006}
{:type :invoke, :f :read, :value nil, :process 32, :time 36344468423, :index 6014}
{:type :invoke, :f :read, :value nil, :process 57, :time 36345181704, :index 6015}
{:type :ok, :f :read, :value 0, :process 32, :time 36349650808, :index 6016}
{:type :ok, :f :read, :value 0, :process 57, :time 36350137472, :index 6017}
{:type :invoke, :f :cas, :value [4 3], :process 19, :time 36364581197, :index 6018}
{:type :fail, :f :cas, :value [4 3], :process 19, :time 36370086884, :index 6020}
{:type :invoke, :f :write, :value 1, :process 36, :time 36399938110, :index 6024}
{:type :ok, :f :write, :value 1, :process 36, :time 36407523808, :index 6026}
{:type :ok, :f :read, :value 1, :process 13, :time 36407621341, :index 6027}
{:type :fail, :f :cas, :value [2 1], :process 18, :time 36407851769, :index 6028}
{:type :invoke, :f :cas, :value [3 0], :process 34, :time 36409826100, :index 6031}
{:type :fail, :f :cas, :value [3 0], :process 34, :time 36415347921, :index 6033}
{:type :invoke, :f :read, :value nil, :process 57, :time 36421378913, :index 6034}
{:type :ok, :f :read, :value 1, :process 57, :time 36425792336, :index 6036}
{:type :invoke, :f :read, :value nil, :process 32, :time 36434904115, :index 6038}
{:type :invoke, :f :cas, :value [3 0], :process 31, :time 36437646910, :index 6039}
{:type :invoke, :f :write, :value 0, :process 18, :time 36438116467, :index 6040}
{:type :ok, :f :read, :value 1, :process 32, :time 36439078259, :index 6042}
{:type :fail, :f :cas, :value [3 0], :process 31, :time 36442806701, :index 6043}
{:type :ok, :f :write, :value 0, :process 18, :time 36443247420, :index 6045}
{:type :invoke, :f :write, :value 0, :process 13, :time 36450858007, :index 6048}
{:type :ok, :f :write, :value 0, :process 13, :time 36456424075, :index 6049}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :invoke, :f :read, :value nil, :process 19, :time 36478342674, :index 6052}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :invoke, :f :read, :value nil, :process 34, :time 36569601479, :index 6060}
{:type :fail, :f :cas, :value [1 4], :process 10, :time 36592314008, :index 6067}
{:type :ok, :f :write, :value 0, :process 35, :time 36592837467, :index 6069}
{:type :invoke, :f :read, :value nil, :process 36, :time 36596768031, :index 6074}
{:type :fail, :f :read, :value nil, :process 19, :time 41484290823, :error :timeout, :index 6735}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :fail, :f :read, :value nil, :process 34, :time 41575353919, :error :timeout, :index 6763}
{:type :fail, :f :read, :value nil, :process 36, :time 41603748409, :error :timeout, :index 6769}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
