{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 34361207775, :index 5550}
{:type :invoke, :f :cas, :value [3 4], :process 26, :time 34366153290, :index 5554}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 34366717124, :error :not-found, :index 5555}
{:type :invoke, :f :cas, :value [0 3], :process 40, :time 34369667960, :index 5556}
{:type :fail, :f :cas, :value [3 4], :process 26, :time 34371451701, :error :not-found, :index 5558}
{:type :fail, :f :cas, :value [0 3], :process 40, :time 34374873817, :error :not-found, :index 5559}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 34376004721, :index 5560}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 34382651784, :error :not-found, :index 5564}
{:type :invoke, :f :cas, :value [1 3], :process 23, :time 34393506888, :index 5569}
{:type :fail, :f :cas, :value [1 3], :process 23, :time 34399391235, :error :not-found, :index 5573}
{:type :invoke, :f :cas, :value [0 0], :process 40, :time 34424130438, :index 5582}
{:type :invoke, :f :read, :value nil, :process 21, :time 34425434356, :index 5583}
{:type :ok, :f :read, :value nil, :process 21, :time 34430977946, :index 5586}
{:type :fail, :f :cas, :value [0 0], :process 40, :time 34431889121, :error :not-found, :index 5587}
{:type :invoke, :f :read, :value nil, :process 29, :time 34451834742, :index 5592}
{:type :invoke, :f :write, :value 0, :process 21, :time 34457229912, :index 5594}
{:type :ok, :f :read, :value nil, :process 29, :time 34458736070, :index 5596}
{:type :ok, :f :write, :value 0, :process 21, :time 34462677572, :index 5598}
{:type :invoke, :f :write, :value 4, :process 45, :time 34467836580, :index 5600}
{:type :ok, :f :write, :value 4, :process 45, :time 34472863866, :index 5601}
{:type :invoke, :f :write, :value 3, :process 26, :time 34492708915, :index 5604}
{:type :ok, :f :write, :value 3, :process 26, :time 34497444653, :index 5605}
{:type :invoke, :f :write, :value 2, :process 24, :time 34504261785, :index 5607}
{:type :ok, :f :write, :value 2, :process 24, :time 34509578552, :index 5609}
{:type :invoke, :f :read, :value nil, :process 45, :time 34510137496, :index 5611}
{:type :ok, :f :read, :value 2, :process 45, :time 34515912049, :index 5612}
{:type :invoke, :f :write, :value 3, :process 40, :time 34533150573, :index 5618}
{:type :ok, :f :write, :value 3, :process 40, :time 34538863113, :index 5619}
{:type :invoke, :f :read, :value nil, :process 26, :time 34540704723, :index 5620}
{:type :invoke, :f :write, :value 4, :process 24, :time 34543861240, :index 5621}
{:type :ok, :f :read, :value 3, :process 26, :time 34545588733, :index 5622}
{:type :ok, :f :write, :value 4, :process 24, :time 34548928516, :index 5624}
{:type :invoke, :f :read, :value nil, :process 21, :time 34553925735, :index 5626}
{:type :ok, :f :read, :value 4, :process 21, :time 34559029228, :index 5628}
{:type :invoke, :f :write, :value 1, :process 8, :time 34562924557, :index 5630}
{:type :invoke, :f :read, :value nil, :process 47, :time 34567452215, :index 5631}
{:type :ok, :f :write, :value 1, :process 8, :time 34568295564, :index 5633}
{:type :ok, :f :read, :value 1, :process 47, :time 34572147783, :index 5634}
{:type :invoke, :f :read, :value nil, :process 40, :time 34577116354, :index 5637}
{:type :invoke, :f :cas, :value [1 4], :process 23, :time 34578588816, :index 5638}
{:type :invoke, :f :write, :value 0, :process 29, :time 34580997850, :index 5640}
{:type :ok, :f :read, :value 1, :process 40, :time 34583377938, :index 5641}
{:type :ok, :f :cas, :value [1 4], :process 23, :time 34583381327, :index 5642}
{:type :ok, :f :write, :value 0, :process 29, :time 34585310461, :index 5643}
{:type :invoke, :f :write, :value 4, :process 47, :time 34597417805, :index 5646}
{:type :ok, :f :write, :value 4, :process 47, :time 34601939479, :index 5647}
{:type :invoke, :f :write, :value 4, :process 42, :time 34626644551, :index 5651}
{:type :ok, :f :write, :value 4, :process 42, :time 34631518119, :index 5652}
{:type :invoke, :f :write, :value 1, :process 23, :time 34639703440, :index 5656}
{:type :invoke, :f :cas, :value [4 4], :process 21, :time 34644295383, :index 5657}
{:type :ok, :f :write, :value 1, :process 23, :time 34644429650, :index 5658}
{:type :invoke, :f :cas, :value [2 0], :process 23, :time 34647677659, :index 5660}
{:type :fail, :f :cas, :value [4 4], :process 21, :time 34649220729, :index 5662}
{:type :fail, :f :cas, :value [2 0], :process 23, :time 34653728398, :index 5665}
{:type :invoke, :f :cas, :value [1 0], :process 26, :time 34656844968, :index 5667}
{:type :ok, :f :cas, :value [1 0], :process 26, :time 34661791386, :index 5670}
{:type :invoke, :f :write, :value 1, :process 45, :time 34670103920, :index 5673}
{:type :invoke, :f :write, :value 4, :process 23, :time 34674978109, :index 5675}
{:type :ok, :f :write, :value 1, :process 45, :time 34675260774, :index 5676}
{:type :invoke, :f :write, :value 0, :process 47, :time 34680223599, :index 5677}
{:type :ok, :f :write, :value 4, :process 23, :time 34680466489, :index 5678}
{:type :ok, :f :write, :value 0, :process 47, :time 34684956752, :index 5679}
{:type :invoke, :f :read, :value nil, :process 24, :time 34690198094, :index 5682}
{:type :ok, :f :read, :value 0, :process 24, :time 34695849407, :index 5684}
{:type :invoke, :f :write, :value 1, :process 40, :time 34725651168, :index 5686}
{:type :invoke, :f :read, :value nil, :process 8, :time 34743571833, :index 5690}
{:type :ok, :f :read, :value 0, :process 8, :time 34749516572, :index 5692}
{:type :invoke, :f :read, :value nil, :process 26, :time 34765138184, :index 5697}
{:type :ok, :f :read, :value 0, :process 26, :time 34770076003, :index 5699}
{:type :invoke, :f :write, :value 2, :process 29, :time 34778574322, :index 5700}
{:type :ok, :f :write, :value 2, :process 29, :time 34784371262, :index 5701}
{:type :invoke, :f :cas, :value [3 2], :process 29, :time 34785647432, :index 5702}
{:type :invoke, :f :cas, :value [0 1], :process 24, :time 34788116824, :index 5703}
{:type :fail, :f :cas, :value [3 2], :process 29, :time 34790892784, :index 5704}
{:type :invoke, :f :write, :value 0, :process 23, :time 34792721722, :index 5705}
{:type :fail, :f :cas, :value [0 1], :process 24, :time 34793864400, :index 5708}
{:type :ok, :f :write, :value 0, :process 23, :time 34799143379, :index 5710}
{:type :invoke, :f :cas, :value [4 2], :process 45, :time 34801501940, :index 5713}
{:type :invoke, :f :write, :value 2, :process 24, :time 34804105901, :index 5714}
{:type :invoke, :f :read, :value nil, :process 47, :time 34807213324, :index 5715}
{:type :ok, :f :write, :value 2, :process 24, :time 34809219417, :index 5717}
{:type :ok, :f :read, :value 2, :process 47, :time 34812104590, :index 5718}
{:type :invoke, :f :read, :value nil, :process 21, :time 34813527580, :index 5719}
{:type :ok, :f :read, :value 2, :process 21, :time 34817868560, :index 5721}
{:type :invoke, :f :read, :value nil, :process 42, :time 34826781052, :index 5723}
{:type :ok, :f :read, :value 2, :process 42, :time 34831163532, :index 5724}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 34831775347, :index 5726}
{:type :invoke, :f :cas, :value [3 2], :process 24, :time 34832481266, :index 5727}
{:type :ok, :f :cas, :value [2 0], :process 8, :time 34836942464, :index 5728}
{:type :fail, :f :cas, :value [3 2], :process 24, :time 34837711480, :index 5729}
{:type :invoke, :f :write, :value 1, :process 42, :time 34883361765, :index 5737}
{:type :ok, :f :write, :value 1, :process 42, :time 34887571599, :index 5739}
{:type :invoke, :f :cas, :value [3 0], :process 42, :time 34928833204, :index 5743}
{:type :fail, :f :cas, :value [3 0], :process 42, :time 34933862875, :index 5746}
{:type :invoke, :f :cas, :value [3 3], :process 21, :time 34951136953, :index 5752}
{:type :invoke, :f :read, :value nil, :process 47, :time 34955358408, :index 5754}
{:type :fail, :f :cas, :value [3 3], :process 21, :time 34957288248, :index 5755}
{:type :invoke, :f :write, :value 0, :process 26, :time 34957344726, :index 5756}
{:type :invoke, :f :read, :value nil, :process 23, :time 34958084261, :index 5758}
{:type :ok, :f :read, :value 1, :process 47, :time 34959189088, :index 5759}
{:type :ok, :f :write, :value 0, :process 26, :time 34963134101, :index 5760}
{:type :ok, :f :read, :value 0, :process 23, :time 34963367288, :index 5761}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 34974210744, :index 5762}
{:type :ok, :f :cas, :value [0 2], :process 8, :time 34978906895, :index 5764}
{:type :invoke, :f :cas, :value [2 4], :process 29, :time 34979155909, :index 5765}
{:type :ok, :f :cas, :value [2 4], :process 29, :time 34984379018, :index 5768}
{:type :invoke, :f :read, :value nil, :process 24, :time 34991969042, :index 5770}
{:type :ok, :f :read, :value 4, :process 24, :time 34996757664, :index 5771}
{:type :invoke, :f :cas, :value [2 2], :process 29, :time 35061642123, :index 5779}
{:type :invoke, :f :read, :value nil, :process 24, :time 35082027956, :index 5783}
{:type :invoke, :f :read, :value nil, :process 8, :time 35097168734, :index 5785}
{:type :invoke, :f :cas, :value [3 0], :process 26, :time 35114426078, :index 5786}
{:type :invoke, :f :cas, :value [0 4], :process 21, :time 35126564803, :index 5788}
{:type :invoke, :f :cas, :value [0 1], :process 42, :time 35132177498, :index 5789}
{:type :invoke, :f :cas, :value [0 0], :process 47, :time 35135474536, :index 5790}
{:type :invoke, :f :read, :value nil, :process 23, :time 35141620659, :index 5791}
{:type :fail, :f :cas, :value [0 0], :process 47, :time 35662717295, :index 5795}
{:type :ok, :f :write, :value 1, :process 40, :time 35663416147, :index 5797}
{:type :fail, :f :cas, :value [2 2], :process 29, :time 35663654486, :index 5798}
{:type :fail, :f :cas, :value [3 0], :process 26, :time 35664256504, :index 5799}
{:type :fail, :f :cas, :value [4 2], :process 45, :time 35664367125, :index 5800}
{:type :ok, :f :read, :value 1, :process 23, :time 35665379079, :index 5804}
{:type :ok, :f :read, :value 4, :process 24, :time 35665529845, :index 5805}
{:type :ok, :f :read, :value 4, :process 8, :time 35665688366, :index 5806}
{:type :fail, :f :cas, :value [0 1], :process 42, :time 35666321179, :index 5808}
{:type :fail, :f :cas, :value [0 4], :process 21, :time 35667801962, :index 5813}
{:type :invoke, :f :read, :value nil, :process 42, :time 35678606321, :index 5814}
{:type :invoke, :f :read, :value nil, :process 26, :time 35683501151, :index 5815}
{:type :ok, :f :read, :value 1, :process 42, :time 35683745257, :index 5816}
{:type :invoke, :f :write, :value 1, :process 47, :time 35687143045, :index 5817}
{:type :ok, :f :read, :value 1, :process 26, :time 35688633276, :index 5818}
{:type :ok, :f :write, :value 1, :process 47, :time 35691595055, :index 5819}
{:type :invoke, :f :write, :value 0, :process 26, :time 35694891162, :index 5822}
{:type :ok, :f :write, :value 0, :process 26, :time 35699026215, :index 5825}
{:type :invoke, :f :read, :value nil, :process 45, :time 35727621202, :index 5826}
{:type :ok, :f :read, :value 0, :process 45, :time 35733013113, :index 5827}
{:type :invoke, :f :write, :value 1, :process 23, :time 35745609078, :index 5829}
{:type :invoke, :f :read, :value nil, :process 40, :time 35756685384, :index 5830}
{:type :ok, :f :write, :value 1, :process 23, :time 35758233616, :index 5831}
{:type :ok, :f :read, :value 1, :process 40, :time 35763498243, :index 5834}
{:type :invoke, :f :write, :value 2, :process 40, :time 35772754890, :index 5838}
{:type :ok, :f :write, :value 2, :process 40, :time 35778079346, :index 5840}
{:type :invoke, :f :write, :value 2, :process 26, :time 35781277647, :index 5841}
{:type :invoke, :f :write, :value 1, :process 21, :time 35784060548, :index 5842}
{:type :invoke, :f :cas, :value [2 1], :process 40, :time 35791329177, :index 5844}
{:type :invoke, :f :write, :value 4, :process 47, :time 35794846928, :index 5845}
{:type :ok, :f :cas, :value [2 1], :process 40, :time 35796851367, :index 5847}
{:type :ok, :f :write, :value 4, :process 47, :time 35799421615, :index 5850}
{:type :invoke, :f :read, :value nil, :process 24, :time 35807756868, :index 5855}
{:type :ok, :f :read, :value 4, :process 24, :time 35812881302, :index 5856}
{:type :invoke, :f :write, :value 3, :process 8, :time 35828921736, :index 5857}
{:type :ok, :f :write, :value 3, :process 8, :time 35834721379, :index 5858}
{:type :invoke, :f :read, :value nil, :process 45, :time 35846268264, :index 5859}
{:type :ok, :f :read, :value 3, :process 45, :time 35851663786, :index 5862}
{:type :invoke, :f :cas, :value [2 1], :process 29, :time 35854922302, :index 5864}
{:type :fail, :f :cas, :value [2 1], :process 29, :time 35860251875, :index 5865}
{:type :invoke, :f :read, :value nil, :process 42, :time 35874027253, :index 5870}
{:type :ok, :f :read, :value 3, :process 42, :time 35879390263, :index 5875}
{:type :invoke, :f :cas, :value [4 4], :process 29, :time 35908506930, :index 5882}
{:type :invoke, :f :write, :value 3, :process 8, :time 35909981570, :index 5883}
{:type :ok, :f :write, :value 3, :process 8, :time 35915270374, :index 5884}
{:type :fail, :f :cas, :value [4 4], :process 29, :time 35915667136, :index 5885}
{:type :invoke, :f :cas, :value [1 4], :process 23, :time 35916491893, :index 5886}
{:type :fail, :f :cas, :value [1 4], :process 23, :time 35921428608, :index 5887}
{:type :invoke, :f :read, :value nil, :process 8, :time 35949542530, :index 5891}
{:type :invoke, :f :cas, :value [3 3], :process 40, :time 35952115391, :index 5893}
{:type :ok, :f :read, :value 3, :process 8, :time 35953966043, :index 5894}
{:type :ok, :f :cas, :value [3 3], :process 40, :time 35957683585, :index 5895}
{:type :invoke, :f :write, :value 3, :process 47, :time 35981631130, :index 5902}
{:type :ok, :f :write, :value 3, :process 47, :time 35986712695, :index 5903}
{:type :invoke, :f :read, :value nil, :process 24, :time 36009133908, :index 5906}
{:type :ok, :f :read, :value 3, :process 24, :time 36014901984, :index 5907}
{:type :invoke, :f :read, :value nil, :process 45, :time 36015944053, :index 5908}
{:type :ok, :f :read, :value 3, :process 45, :time 36022422603, :index 5911}
{:type :ok, :f :write, :value 2, :process 26, :time 36034269542, :index 5915}
{:type :ok, :f :write, :value 1, :process 21, :time 36034865506, :index 5917}
{:type :invoke, :f :cas, :value [4 2], :process 42, :time 36044685353, :index 5920}
{:type :fail, :f :cas, :value [4 2], :process 42, :time 36050034922, :index 5923}
{:type :invoke, :f :write, :value 4, :process 47, :time 36078981389, :index 5927}
{:type :ok, :f :write, :value 4, :process 47, :time 36083775682, :index 5929}
{:type :invoke, :f :cas, :value [1 3], :process 45, :time 36088709045, :index 5931}
{:type :invoke, :f :cas, :value [3 3], :process 23, :time 36090698946, :index 5934}
{:type :fail, :f :cas, :value [1 3], :process 45, :time 36094942934, :index 5935}
{:type :fail, :f :cas, :value [3 3], :process 23, :time 36095783766, :index 5936}
{:type :invoke, :f :read, :value nil, :process 47, :time 36105023812, :index 5938}
{:type :ok, :f :read, :value 4, :process 47, :time 36109953360, :index 5939}
{:type :invoke, :f :read, :value nil, :process 29, :time 36114917386, :index 5940}
{:type :ok, :f :read, :value 4, :process 29, :time 36119964872, :index 5941}
{:type :invoke, :f :cas, :value [4 3], :process 26, :time 36121506406, :index 5942}
{:type :ok, :f :cas, :value [4 3], :process 26, :time 36126287299, :index 5944}
{:type :invoke, :f :read, :value nil, :process 24, :time 36127160852, :index 5945}
{:type :ok, :f :read, :value 3, :process 24, :time 36132039407, :index 5949}
{:type :invoke, :f :read, :value nil, :process 8, :time 36133268337, :index 5950}
{:type :invoke, :f :write, :value 1, :process 40, :time 36134951850, :index 5954}
{:type :ok, :f :read, :value 3, :process 8, :time 36139553076, :index 5956}
{:type :ok, :f :write, :value 1, :process 40, :time 36140769853, :index 5959}
{:type :invoke, :f :cas, :value [3 1], :process 42, :time 36174269574, :index 5971}
{:type :fail, :f :cas, :value [3 1], :process 42, :time 36180167611, :index 5972}
{:type :invoke, :f :write, :value 0, :process 21, :time 36195095759, :index 5975}
{:type :ok, :f :write, :value 0, :process 21, :time 36200301548, :index 5978}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
