{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :invoke, :f :read, :value nil, :process 33, :time 28425147921, :index 6004}
{:type :ok, :f :read, :value nil, :process 33, :time 28431605404, :index 6005}
{:type :invoke, :f :cas, :value [1 1], :process 38, :time 28537757932, :index 6029}
{:type :fail, :f :cas, :value [1 1], :process 38, :time 28543544053, :error :not-found, :index 6031}
{:type :invoke, :f :cas, :value [0 0], :process 16, :time 28557329513, :index 6034}
{:type :invoke, :f :write, :value 2, :process 33, :time 28558863250, :index 6035}
{:type :fail, :f :cas, :value [0 0], :process 16, :time 28562891090, :error :not-found, :index 6038}
{:type :ok, :f :write, :value 2, :process 33, :time 28564492490, :index 6039}
{:type :invoke, :f :cas, :value [0 4], :process 38, :time 28597801858, :index 6042}
{:type :fail, :f :cas, :value [0 4], :process 38, :time 28604487157, :index 6044}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 28609744703, :index 6046}
{:type :fail, :f :cas, :value [0 3], :process 33, :time 28615314952, :index 6047}
{:type :invoke, :f :cas, :value [2 3], :process 31, :time 28632669884, :index 6050}
{:type :ok, :f :cas, :value [2 3], :process 31, :time 28638757051, :index 6051}
{:type :invoke, :f :cas, :value [2 2], :process 38, :time 28638751679, :index 6052}
{:type :fail, :f :cas, :value [2 2], :process 38, :time 28645531841, :index 6053}
{:type :invoke, :f :cas, :value [3 0], :process 31, :time 28655041620, :index 6054}
{:type :ok, :f :cas, :value [3 0], :process 31, :time 28664072140, :index 6055}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 28679147440, :index 6058}
{:type :fail, :f :cas, :value [3 0], :process 16, :time 28684969973, :index 6059}
{:type :invoke, :f :read, :value nil, :process 15, :time 28698315374, :index 6067}
{:type :invoke, :f :cas, :value [1 3], :process 38, :time 28698796576, :index 6068}
{:type :ok, :f :read, :value 0, :process 15, :time 28703696871, :index 6070}
{:type :fail, :f :cas, :value [1 3], :process 38, :time 28704931564, :index 6071}
{:type :invoke, :f :read, :value nil, :process 10, :time 28759582030, :index 6074}
{:type :invoke, :f :cas, :value [1 3], :process 33, :time 28760582402, :index 6075}
{:type :ok, :f :read, :value 0, :process 10, :time 28765143487, :index 6076}
{:type :fail, :f :cas, :value [1 3], :process 33, :time 28766461434, :index 6077}
{:type :invoke, :f :read, :value nil, :process 16, :time 28792240648, :index 6085}
{:type :ok, :f :read, :value 0, :process 16, :time 28796849358, :index 6088}
{:type :invoke, :f :read, :value nil, :process 31, :time 28803360337, :index 6090}
{:type :ok, :f :read, :value 0, :process 31, :time 28808203078, :index 6091}
{:type :invoke, :f :write, :value 1, :process 38, :time 28810237900, :index 6093}
{:type :ok, :f :write, :value 1, :process 38, :time 28815386411, :index 6096}
{:type :invoke, :f :cas, :value [1 0], :process 10, :time 28854401599, :index 6102}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 28855965792, :index 6103}
{:type :ok, :f :cas, :value [1 0], :process 10, :time 28859969337, :index 6104}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 28860943420, :index 6105}
{:type :invoke, :f :read, :value nil, :process 10, :time 28894229395, :index 6106}
{:type :ok, :f :read, :value 0, :process 10, :time 28899211853, :index 6107}
{:type :invoke, :f :read, :value nil, :process 33, :time 28912713254, :index 6111}
{:type :ok, :f :read, :value 0, :process 33, :time 28917420788, :index 6113}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 28932100109, :index 6114}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 28937767659, :index 6115}
{:type :invoke, :f :write, :value 3, :process 31, :time 28967516138, :index 6120}
{:type :ok, :f :write, :value 3, :process 31, :time 28972489018, :index 6121}
{:type :invoke, :f :write, :value 3, :process 15, :time 28991198519, :index 6122}
{:type :invoke, :f :cas, :value [4 0], :process 31, :time 28994751071, :index 6123}
{:type :ok, :f :write, :value 3, :process 15, :time 28996561379, :index 6124}
{:type :fail, :f :cas, :value [4 0], :process 31, :time 29000216601, :index 6126}
{:type :invoke, :f :read, :value nil, :process 38, :time 29002608527, :index 6127}
{:type :ok, :f :read, :value 3, :process 38, :time 29007395204, :index 6129}
{:type :invoke, :f :write, :value 4, :process 31, :time 29007483404, :index 6130}
{:type :ok, :f :write, :value 4, :process 31, :time 29012478301, :index 6131}
{:type :invoke, :f :cas, :value [4 2], :process 31, :time 29019732478, :index 6132}
{:type :ok, :f :cas, :value [4 2], :process 31, :time 29025587416, :index 6133}
{:type :invoke, :f :read, :value nil, :process 10, :time 29043470041, :index 6138}
{:type :ok, :f :read, :value 2, :process 10, :time 29048147128, :index 6140}
{:type :invoke, :f :write, :value 3, :process 15, :time 29060839033, :index 6142}
{:type :ok, :f :write, :value 3, :process 15, :time 29065447791, :index 6143}
{:type :invoke, :f :write, :value 2, :process 33, :time 29071671759, :index 6144}
{:type :ok, :f :write, :value 2, :process 33, :time 29077503074, :index 6145}
{:type :invoke, :f :cas, :value [2 3], :process 31, :time 29082850294, :index 6146}
{:type :ok, :f :cas, :value [2 3], :process 31, :time 29088692195, :index 6149}
{:type :invoke, :f :read, :value nil, :process 16, :time 29115026142, :index 6154}
{:type :ok, :f :read, :value 3, :process 16, :time 29120920625, :index 6155}
{:type :invoke, :f :read, :value nil, :process 33, :time 29126761345, :index 6156}
{:type :ok, :f :read, :value 3, :process 33, :time 29133536255, :index 6157}
{:type :invoke, :f :write, :value 3, :process 38, :time 29145659360, :index 6159}
{:type :invoke, :f :read, :value nil, :process 16, :time 29148176927, :index 6160}
{:type :ok, :f :write, :value 3, :process 38, :time 29151409279, :index 6163}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 29151445704, :index 6164}
{:type :ok, :f :read, :value 3, :process 16, :time 29153557663, :index 6165}
{:type :ok, :f :cas, :value [3 3], :process 10, :time 29156318943, :index 6168}
{:type :invoke, :f :read, :value nil, :process 16, :time 29173818980, :index 6171}
{:type :ok, :f :read, :value 3, :process 16, :time 29179441630, :index 6174}
{:type :invoke, :f :write, :value 2, :process 15, :time 29189705084, :index 6176}
{:type :ok, :f :write, :value 2, :process 15, :time 29194664350, :index 6177}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 29226579714, :index 6184}
{:type :fail, :f :cas, :value [0 0], :process 10, :time 29231694181, :index 6185}
{:type :invoke, :f :read, :value nil, :process 31, :time 29258956193, :index 6188}
{:type :ok, :f :read, :value 2, :process 31, :time 29265309060, :index 6189}
{:type :invoke, :f :cas, :value [0 4], :process 16, :time 29266704321, :index 6190}
{:type :invoke, :f :read, :value nil, :process 15, :time 29270925983, :index 6191}
{:type :fail, :f :cas, :value [0 4], :process 16, :time 29272262300, :index 6192}
{:type :ok, :f :read, :value 2, :process 15, :time 29275640677, :index 6194}
{:type :invoke, :f :write, :value 0, :process 16, :time 29299522765, :index 6196}
{:type :ok, :f :write, :value 0, :process 16, :time 29304646572, :index 6197}
{:type :invoke, :f :cas, :value [4 0], :process 33, :time 29312796735, :index 6200}
{:type :fail, :f :cas, :value [4 0], :process 33, :time 29319346574, :index 6203}
{:type :invoke, :f :write, :value 0, :process 38, :time 29347710601, :index 6206}
{:type :ok, :f :write, :value 0, :process 38, :time 29353314854, :index 6207}
{:type :invoke, :f :cas, :value [1 3], :process 33, :time 29354602673, :index 6208}
{:type :fail, :f :cas, :value [1 3], :process 33, :time 29361265665, :index 6209}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 29362975588, :index 6210}
{:type :ok, :f :cas, :value [0 0], :process 10, :time 29369365470, :index 6211}
{:type :invoke, :f :write, :value 3, :process 33, :time 29369512766, :index 6212}
{:type :ok, :f :write, :value 3, :process 33, :time 29374735232, :index 6213}
{:type :invoke, :f :write, :value 3, :process 15, :time 29388899826, :index 6218}
{:type :invoke, :f :write, :value 3, :process 10, :time 29392629008, :index 6219}
{:type :ok, :f :write, :value 3, :process 15, :time 29393497906, :index 6220}
{:type :ok, :f :write, :value 3, :process 10, :time 29397496488, :index 6221}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 29399544141, :index 6222}
{:type :invoke, :f :read, :value nil, :process 31, :time 29404576533, :index 6223}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 29405061644, :index 6224}
{:type :ok, :f :read, :value 3, :process 31, :time 29411314614, :index 6225}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 29435327029, :index 6229}
{:type :fail, :f :cas, :value [0 3], :process 33, :time 29440845182, :index 6231}
{:type :invoke, :f :write, :value 0, :process 15, :time 29441755036, :index 6232}
{:type :ok, :f :write, :value 0, :process 15, :time 29446414067, :index 6235}
{:type :invoke, :f :write, :value 2, :process 38, :time 29462571682, :index 6240}
{:type :invoke, :f :read, :value nil, :process 16, :time 29466910431, :index 6241}
{:type :ok, :f :write, :value 2, :process 38, :time 29467572746, :index 6242}
{:type :ok, :f :read, :value 2, :process 16, :time 29471700201, :index 6243}
{:type :invoke, :f :write, :value 0, :process 31, :time 29535570752, :index 6256}
{:type :ok, :f :write, :value 0, :process 31, :time 29542476304, :index 6258}
{:type :invoke, :f :read, :value nil, :process 38, :time 29544848076, :index 6259}
{:type :invoke, :f :cas, :value [3 4], :process 10, :time 29549759635, :index 6261}
{:type :ok, :f :read, :value 0, :process 38, :time 29550052619, :index 6262}
{:type :invoke, :f :write, :value 2, :process 15, :time 29553690575, :index 6263}
{:type :fail, :f :cas, :value [3 4], :process 10, :time 29554719117, :index 6264}
{:type :ok, :f :write, :value 2, :process 15, :time 29558293779, :index 6265}
{:type :invoke, :f :cas, :value [2 4], :process 38, :time 29560319592, :index 6266}
{:type :ok, :f :cas, :value [2 4], :process 38, :time 29565235305, :index 6267}
{:type :invoke, :f :write, :value 1, :process 16, :time 29573957883, :index 6269}
{:type :ok, :f :write, :value 1, :process 16, :time 29578559750, :index 6271}
{:type :invoke, :f :read, :value nil, :process 33, :time 29586098966, :index 6272}
{:type :ok, :f :read, :value 1, :process 33, :time 29591890314, :index 6273}
{:type :invoke, :f :read, :value nil, :process 10, :time 29694972961, :index 6286}
{:type :ok, :f :read, :value 1, :process 10, :time 29699548592, :index 6287}
{:type :invoke, :f :write, :value 2, :process 15, :time 29699566812, :index 6288}
{:type :ok, :f :write, :value 2, :process 15, :time 29704465193, :index 6289}
{:type :invoke, :f :cas, :value [3 1], :process 31, :time 29709745906, :index 6290}
{:type :fail, :f :cas, :value [3 1], :process 31, :time 29715435557, :index 6292}
{:type :invoke, :f :read, :value nil, :process 38, :time 29734501416, :index 6294}
{:type :ok, :f :read, :value 2, :process 38, :time 29741023221, :index 6295}
{:type :invoke, :f :cas, :value [3 2], :process 31, :time 29744701776, :index 6296}
{:type :fail, :f :cas, :value [3 2], :process 31, :time 29750336148, :index 6297}
{:type :invoke, :f :write, :value 1, :process 10, :time 29767829324, :index 6300}
{:type :invoke, :f :write, :value 2, :process 16, :time 29769815995, :index 6303}
{:type :ok, :f :write, :value 1, :process 10, :time 29774087770, :index 6304}
{:type :ok, :f :write, :value 2, :process 16, :time 29775922636, :index 6306}
{:type :invoke, :f :cas, :value [1 1], :process 33, :time 29777150718, :index 6308}
{:type :invoke, :f :read, :value nil, :process 10, :time 29778348442, :index 6309}
{:type :invoke, :f :cas, :value [1 3], :process 31, :time 29779602882, :index 6310}
{:type :fail, :f :cas, :value [1 1], :process 33, :time 29782980205, :index 6312}
{:type :ok, :f :read, :value 2, :process 10, :time 29783918088, :index 6314}
{:type :fail, :f :cas, :value [1 3], :process 31, :time 29786229099, :index 6315}
{:type :invoke, :f :cas, :value [2 0], :process 33, :time 29804252665, :index 6320}
{:type :ok, :f :cas, :value [2 0], :process 33, :time 29810441070, :index 6321}
{:type :invoke, :f :read, :value nil, :process 15, :time 29817731873, :index 6323}
{:type :ok, :f :read, :value 0, :process 15, :time 29823096123, :index 6325}
{:type :invoke, :f :write, :value 2, :process 31, :time 29828499958, :index 6326}
{:type :ok, :f :write, :value 2, :process 31, :time 29834766688, :index 6327}
{:type :invoke, :f :read, :value nil, :process 15, :time 29835346370, :index 6328}
{:type :ok, :f :read, :value 2, :process 15, :time 29840539925, :index 6329}
{:type :invoke, :f :write, :value 1, :process 31, :time 29857036633, :index 6330}
{:type :invoke, :f :cas, :value [1 2], :process 38, :time 29858287695, :index 6331}
{:type :ok, :f :write, :value 1, :process 31, :time 29864073341, :index 6332}
{:type :ok, :f :cas, :value [1 2], :process 38, :time 29864853932, :index 6333}
{:type :invoke, :f :write, :value 2, :process 10, :time 29895159004, :index 6336}
{:type :ok, :f :write, :value 2, :process 10, :time 29902016784, :index 6337}
{:type :invoke, :f :write, :value 0, :process 16, :time 29911129963, :index 6338}
{:type :ok, :f :write, :value 0, :process 16, :time 29916353667, :index 6339}
{:type :invoke, :f :write, :value 2, :process 16, :time 29939625688, :index 6344}
{:type :ok, :f :write, :value 2, :process 16, :time 29945741223, :index 6345}
{:type :invoke, :f :read, :value nil, :process 15, :time 29976794366, :index 6349}
{:type :ok, :f :read, :value 2, :process 15, :time 29981929338, :index 6352}
{:type :invoke, :f :cas, :value [2 2], :process 33, :time 29998701030, :index 6356}
{:type :ok, :f :cas, :value [2 2], :process 33, :time 30004164966, :index 6357}
{:type :invoke, :f :read, :value nil, :process 16, :time 30014009773, :index 6359}
{:type :ok, :f :read, :value 2, :process 16, :time 30019082868, :index 6362}
{:type :invoke, :f :cas, :value [1 1], :process 31, :time 30025352702, :index 6364}
{:type :fail, :f :cas, :value [1 1], :process 31, :time 30030761973, :index 6365}
{:type :invoke, :f :read, :value nil, :process 33, :time 30044413190, :index 6366}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 30045274166, :index 6367}
{:type :ok, :f :read, :value 2, :process 33, :time 30049920088, :index 6369}
{:type :invoke, :f :read, :value nil, :process 38, :time 30050079909, :index 6370}
{:type :fail, :f :cas, :value [1 1], :process 10, :time 30050876853, :index 6371}
{:type :ok, :f :read, :value 2, :process 38, :time 30055317679, :index 6373}
{:type :invoke, :f :read, :value nil, :process 33, :time 30070191859, :index 6374}
{:type :ok, :f :read, :value 2, :process 33, :time 30075899085, :index 6375}
{:type :invoke, :f :write, :value 3, :process 10, :time 30085096056, :index 6377}
{:type :ok, :f :write, :value 3, :process 10, :time 30089263153, :index 6380}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 30101163634, :index 6383}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 30106013755, :index 6385}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 30110345081, :index 6387}
{:type :fail, :f :cas, :value [1 0], :process 16, :time 30115857905, :index 6389}
{:type :invoke, :f :read, :value nil, :process 33, :time 30134160957, :index 6391}
{:type :invoke, :f :read, :value nil, :process 31, :time 30138035081, :index 6393}
{:type :ok, :f :read, :value 3, :process 33, :time 30139988457, :index 6394}
{:type :invoke, :f :write, :value 0, :process 16, :time 30143120575, :index 6395}
{:type :ok, :f :read, :value 3, :process 31, :time 30144833116, :index 6397}
{:type :ok, :f :write, :value 0, :process 16, :time 30148226408, :index 6398}
{:type :invoke, :f :cas, :value [3 1], :process 38, :time 30161583470, :index 6400}
{:type :fail, :f :cas, :value [3 1], :process 38, :time 30167774985, :index 6402}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 30209501906, :index 6412}
{:type :ok, :f :cas, :value [0 1], :process 10, :time 30214107500, :index 6413}
{:type :invoke, :f :read, :value nil, :process 15, :time 30295271678, :index 6419}
{:type :ok, :f :read, :value 1, :process 15, :time 30301124400, :index 6423}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
