{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :invoke, :f :read, :value nil, :process 13, :time 38878333583, :index 6446}
{:type :invoke, :f :write, :value 0, :process 32, :time 38881874640, :index 6448}
{:type :ok, :f :read, :value nil, :process 13, :time 38884472808, :index 6451}
{:type :ok, :f :write, :value 0, :process 32, :time 38888398907, :index 6453}
{:type :invoke, :f :read, :value nil, :process 57, :time 38964409598, :index 6474}
{:type :ok, :f :read, :value 0, :process 57, :time 38969224003, :index 6477}
{:type :invoke, :f :write, :value 0, :process 32, :time 38976647932, :index 6480}
{:type :invoke, :f :read, :value nil, :process 35, :time 38978046455, :index 6481}
{:type :ok, :f :write, :value 0, :process 32, :time 38982538255, :index 6482}
{:type :ok, :f :read, :value 0, :process 35, :time 38983523270, :index 6483}
{:type :invoke, :f :read, :value nil, :process 13, :time 39001725466, :index 6484}
{:type :invoke, :f :cas, :value [3 1], :process 18, :time 39004176116, :index 6485}
{:type :ok, :f :read, :value 0, :process 13, :time 39007012822, :index 6486}
{:type :fail, :f :cas, :value [3 1], :process 18, :time 39009503708, :index 6487}
{:type :invoke, :f :read, :value nil, :process 13, :time 39018274424, :index 6490}
{:type :ok, :f :read, :value 0, :process 13, :time 39023397663, :index 6491}
{:type :invoke, :f :write, :value 3, :process 10, :time 39061485216, :index 6493}
{:type :invoke, :f :read, :value nil, :process 35, :time 39108772514, :index 6497}
{:type :invoke, :f :read, :value nil, :process 57, :time 39109486460, :index 6498}
{:type :invoke, :f :read, :value nil, :process 32, :time 39139816082, :index 6499}
{:type :invoke, :f :cas, :value [3 4], :process 13, :time 39199658020, :index 6502}
{:type :invoke, :f :cas, :value [3 4], :process 18, :time 39208761048, :index 6503}
{:type :ok, :f :write, :value 3, :process 10, :time 39559637824, :index 6506}
{:type :ok, :f :read, :value 3, :process 57, :time 39560078305, :index 6508}
{:type :ok, :f :read, :value 3, :process 35, :time 39560350166, :index 6509}
{:type :fail, :f :cas, :value [3 4], :process 18, :time 39560864025, :index 6511}
{:type :ok, :f :read, :value 3, :process 32, :time 39561121232, :index 6512}
{:type :ok, :f :cas, :value [3 4], :process 13, :time 39561138364, :index 6513}
{:type :invoke, :f :read, :value nil, :process 32, :time 39571372687, :index 6516}
{:type :ok, :f :read, :value 4, :process 32, :time 39576079537, :index 6518}
{:type :invoke, :f :cas, :value [1 0], :process 10, :time 39587937615, :index 6520}
{:type :fail, :f :cas, :value [1 0], :process 10, :time 39594227731, :index 6521}
{:type :invoke, :f :cas, :value [2 1], :process 32, :time 39636337032, :index 6524}
{:type :invoke, :f :write, :value 3, :process 18, :time 39638112166, :index 6526}
{:type :fail, :f :cas, :value [2 1], :process 32, :time 39643086163, :index 6527}
{:type :ok, :f :write, :value 3, :process 18, :time 39644457774, :index 6529}
{:type :invoke, :f :write, :value 1, :process 10, :time 39668484633, :index 6537}
{:type :ok, :f :write, :value 1, :process 10, :time 39674009232, :index 6539}
{:type :invoke, :f :write, :value 1, :process 35, :time 39686599661, :index 6540}
{:type :ok, :f :write, :value 1, :process 35, :time 39692628696, :index 6542}
{:type :invoke, :f :read, :value nil, :process 13, :time 39693400958, :index 6543}
{:type :ok, :f :read, :value 1, :process 13, :time 39698432375, :index 6545}
{:type :invoke, :f :cas, :value [4 3], :process 35, :time 39706916153, :index 6547}
{:type :fail, :f :cas, :value [4 3], :process 35, :time 39713773680, :index 6548}
{:type :invoke, :f :read, :value nil, :process 35, :time 39720035211, :index 6550}
{:type :ok, :f :read, :value 1, :process 35, :time 39726180332, :index 6553}
{:type :invoke, :f :cas, :value [4 0], :process 57, :time 39740320071, :index 6556}
{:type :fail, :f :cas, :value [4 0], :process 57, :time 39745966518, :index 6557}
{:type :invoke, :f :cas, :value [0 1], :process 57, :time 39765224920, :index 6560}
{:type :fail, :f :cas, :value [0 1], :process 57, :time 39770931006, :index 6561}
{:type :invoke, :f :read, :value nil, :process 10, :time 39826279178, :index 6570}
{:type :invoke, :f :cas, :value [3 4], :process 13, :time 39827708682, :index 6571}
{:type :ok, :f :read, :value 1, :process 10, :time 39833562272, :index 6573}
{:type :fail, :f :cas, :value [3 4], :process 13, :time 39834389668, :index 6574}
{:type :invoke, :f :read, :value nil, :process 10, :time 39839827470, :index 6577}
{:type :invoke, :f :write, :value 1, :process 57, :time 39841179417, :index 6578}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 39841707107, :index 6580}
{:type :invoke, :f :cas, :value [1 2], :process 32, :time 39842376328, :index 6581}
{:type :ok, :f :read, :value 1, :process 10, :time 39845496913, :index 6582}
{:type :ok, :f :write, :value 1, :process 57, :time 39846432525, :index 6583}
{:type :ok, :f :cas, :value [1 2], :process 32, :time 39846756313, :index 6584}
{:type :fail, :f :cas, :value [0 3], :process 18, :time 39848171978, :index 6585}
{:type :invoke, :f :read, :value nil, :process 18, :time 39867426983, :index 6586}
{:type :ok, :f :read, :value 2, :process 18, :time 39873792649, :index 6588}
{:type :invoke, :f :cas, :value [2 1], :process 35, :time 39910439316, :index 6596}
{:type :ok, :f :cas, :value [2 1], :process 35, :time 39918127425, :index 6598}
{:type :invoke, :f :cas, :value [2 2], :process 18, :time 39924053140, :index 6600}
{:type :fail, :f :cas, :value [2 2], :process 18, :time 39929393409, :index 6601}
{:type :invoke, :f :cas, :value [3 4], :process 57, :time 39947704483, :index 6605}
{:type :fail, :f :cas, :value [3 4], :process 57, :time 39952645242, :index 6608}
{:type :invoke, :f :write, :value 3, :process 18, :time 39973650279, :index 6610}
{:type :ok, :f :write, :value 3, :process 18, :time 39979232124, :index 6611}
{:type :invoke, :f :read, :value nil, :process 32, :time 39987992194, :index 6613}
{:type :invoke, :f :read, :value nil, :process 35, :time 40006388534, :index 6614}
{:type :invoke, :f :write, :value 1, :process 18, :time 40010527265, :index 6616}
{:type :invoke, :f :write, :value 0, :process 13, :time 40018664414, :index 6617}
{:type :invoke, :f :read, :value nil, :process 10, :time 40034764629, :index 6619}
{:type :invoke, :f :cas, :value [3 3], :process 57, :time 40091903309, :index 6623}
{:type :ok, :f :cas, :value [3 3], :process 57, :time 40457478083, :index 6625}
{:type :ok, :f :read, :value 3, :process 32, :time 40457826179, :index 6626}
{:type :ok, :f :read, :value 3, :process 10, :time 40458685418, :index 6628}
{:type :ok, :f :read, :value 3, :process 35, :time 40458918926, :index 6630}
{:type :ok, :f :write, :value 1, :process 18, :time 40459472139, :index 6632}
{:type :ok, :f :write, :value 0, :process 13, :time 40460288533, :index 6634}
{:type :invoke, :f :cas, :value [0 0], :process 13, :time 40465570246, :index 6636}
{:type :ok, :f :cas, :value [0 0], :process 13, :time 40470975819, :index 6637}
{:type :invoke, :f :read, :value nil, :process 32, :time 40511061481, :index 6638}
{:type :ok, :f :read, :value 0, :process 32, :time 40516765761, :index 6639}
{:type :invoke, :f :read, :value nil, :process 35, :time 40572146854, :index 6644}
{:type :invoke, :f :cas, :value [1 4], :process 18, :time 40579735913, :index 6646}
{:type :ok, :f :read, :value 0, :process 35, :time 40580050098, :index 6647}
{:type :fail, :f :cas, :value [1 4], :process 18, :time 40585217381, :index 6649}
{:type :invoke, :f :write, :value 0, :process 10, :time 40605947610, :index 6650}
{:type :invoke, :f :read, :value nil, :process 57, :time 40609744214, :index 6651}
{:type :ok, :f :write, :value 0, :process 10, :time 40611335939, :index 6653}
{:type :ok, :f :read, :value 0, :process 57, :time 40614805416, :index 6654}
{:type :invoke, :f :read, :value nil, :process 57, :time 40634061826, :index 6660}
{:type :ok, :f :read, :value 0, :process 57, :time 40638524872, :index 6661}
{:type :invoke, :f :read, :value nil, :process 13, :time 40644246680, :index 6663}
{:type :ok, :f :read, :value 0, :process 13, :time 40649063127, :index 6665}
{:type :invoke, :f :write, :value 3, :process 13, :time 40652322494, :index 6666}
{:type :ok, :f :write, :value 3, :process 13, :time 40657128094, :index 6667}
{:type :invoke, :f :write, :value 4, :process 18, :time 40666475840, :index 6669}
{:type :ok, :f :write, :value 4, :process 18, :time 40671910017, :index 6671}
{:type :invoke, :f :write, :value 1, :process 32, :time 40674028283, :index 6672}
{:type :ok, :f :write, :value 1, :process 32, :time 40678714221, :index 6674}
{:type :invoke, :f :read, :value nil, :process 35, :time 40680291135, :index 6675}
{:type :ok, :f :read, :value 1, :process 35, :time 40685031140, :index 6677}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 40700595906, :index 6678}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 40707137076, :index 6679}
{:type :invoke, :f :write, :value 2, :process 57, :time 40712814176, :index 6680}
{:type :ok, :f :write, :value 2, :process 57, :time 40718203661, :index 6682}
{:type :invoke, :f :cas, :value [3 2], :process 13, :time 40726385334, :index 6684}
{:type :fail, :f :cas, :value [3 2], :process 13, :time 40733141672, :index 6687}
{:type :invoke, :f :write, :value 2, :process 32, :time 40751974159, :index 6689}
{:type :ok, :f :write, :value 2, :process 32, :time 40758227212, :index 6692}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 40766159669, :index 6694}
{:type :fail, :f :cas, :value [3 2], :process 18, :time 40771725521, :index 6695}
{:type :invoke, :f :write, :value 3, :process 57, :time 40780461063, :index 6696}
{:type :ok, :f :write, :value 3, :process 57, :time 40785733130, :index 6697}
{:type :invoke, :f :read, :value nil, :process 18, :time 40811990629, :index 6702}
{:type :ok, :f :read, :value 3, :process 18, :time 40817575231, :index 6705}
{:type :invoke, :f :read, :value nil, :process 35, :time 40829282722, :index 6708}
{:type :ok, :f :read, :value 3, :process 35, :time 40835018976, :index 6709}
{:type :invoke, :f :write, :value 4, :process 10, :time 40858412787, :index 6711}
{:type :ok, :f :write, :value 4, :process 10, :time 40865187032, :index 6712}
{:type :invoke, :f :write, :value 4, :process 32, :time 40876482621, :index 6715}
{:type :ok, :f :write, :value 4, :process 32, :time 40881298016, :index 6717}
{:type :invoke, :f :write, :value 0, :process 10, :time 40905442964, :index 6719}
{:type :ok, :f :write, :value 0, :process 10, :time 40911065083, :index 6721}
{:type :invoke, :f :write, :value 3, :process 13, :time 40914400607, :index 6722}
{:type :invoke, :f :write, :value 4, :process 10, :time 40933363291, :index 6726}
{:type :invoke, :f :write, :value 3, :process 35, :time 40936272075, :index 6728}
{:type :invoke, :f :read, :value nil, :process 18, :time 40942827882, :index 6729}
{:type :invoke, :f :cas, :value [0 3], :process 57, :time 40944998512, :index 6730}
{:type :invoke, :f :cas, :value [0 4], :process 32, :time 41072565308, :index 6733}
{:type :ok, :f :write, :value 3, :process 13, :time 41490036955, :index 6736}
{:type :fail, :f :cas, :value [0 4], :process 32, :time 41491488345, :index 6737}
{:type :fail, :f :cas, :value [0 3], :process 57, :time 41491531425, :index 6738}
{:type :invoke, :f :write, :value 1, :process 32, :time 41491704516, :index 6739}
{:type :ok, :f :write, :value 4, :process 10, :time 41492873271, :index 6742}
{:type :ok, :f :read, :value 3, :process 18, :time 41493512672, :index 6745}
{:type :ok, :f :write, :value 3, :process 35, :time 41494165752, :index 6748}
{:type :ok, :f :write, :value 1, :process 32, :time 41496807101, :index 6750}
{:type :invoke, :f :cas, :value [3 3], :process 13, :time 41520287626, :index 6752}
{:type :fail, :f :cas, :value [3 3], :process 13, :time 41525650632, :index 6753}
{:type :invoke, :f :cas, :value [2 0], :process 35, :time 41533471775, :index 6754}
{:type :invoke, :f :read, :value nil, :process 32, :time 41539068905, :index 6755}
{:type :fail, :f :cas, :value [2 0], :process 35, :time 41540273627, :index 6758}
{:type :ok, :f :read, :value 1, :process 32, :time 41544449834, :index 6759}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :invoke, :f :read, :value nil, :process 57, :time 41589778913, :index 6764}
{:type :invoke, :f :write, :value 2, :process 34, :time 41597666729, :index 6766}
{:type :invoke, :f :read, :value nil, :process 18, :time 41597776935, :index 6767}
{:type :invoke, :f :read, :value nil, :process 32, :time 41620654595, :index 6772}
{:type :invoke, :f :read, :value nil, :process 19, :time 41630559376, :index 6773}
{:type :invoke, :f :write, :value 2, :process 36, :time 41639019600, :index 6775}
{:type :invoke, :f :read, :value nil, :process 13, :time 41652907886, :index 6779}
{:type :invoke, :f :write, :value 1, :process 35, :time 41682716752, :index 6781}
{:type :invoke, :f :cas, :value [1 4], :process 10, :time 41683172959, :index 6782}
{:type :invoke, :f :read, :value nil, :process 31, :time 41697866556, :index 6783}
{:type :ok, :f :read, :value 1, :process 32, :time 41761571983, :index 6785}
{:type :ok, :f :read, :value 1, :process 13, :time 41762504590, :index 6789}
{:type :ok, :f :read, :value 1, :process 57, :time 41762744461, :index 6790}
{:type :ok, :f :read, :value 1, :process 18, :time 41763058275, :index 6792}
{:type :ok, :f :write, :value 1, :process 35, :time 41763735240, :index 6795}
{:type :ok, :f :cas, :value [1 4], :process 10, :time 41763831006, :index 6796}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :invoke, :f :read, :value nil, :process 10, :time 41823064556, :index 6804}
{:type :ok, :f :read, :value 4, :process 10, :time 41830564315, :index 6805}
{:type :invoke, :f :read, :value nil, :process 57, :time 41830981222, :index 6806}
{:type :ok, :f :read, :value 4, :process 57, :time 41835177262, :index 6807}
{:type :invoke, :f :write, :value 3, :process 57, :time 41839436119, :index 6809}
{:type :ok, :f :write, :value 3, :process 57, :time 41846495555, :index 6811}
{:type :invoke, :f :read, :value nil, :process 13, :time 41867739083, :index 6812}
{:type :ok, :f :read, :value 3, :process 13, :time 41873701673, :index 6814}
{:type :invoke, :f :read, :value nil, :process 18, :time 41885290781, :index 6817}
{:type :ok, :f :read, :value 3, :process 18, :time 41890846660, :index 6819}
{:type :invoke, :f :read, :value nil, :process 32, :time 41903865170, :index 6821}
{:type :invoke, :f :read, :value nil, :process 35, :time 41904033476, :index 6822}
{:type :ok, :f :read, :value 3, :process 32, :time 41909799791, :index 6824}
{:type :ok, :f :read, :value 3, :process 35, :time 41909811071, :index 6825}
{:type :invoke, :f :read, :value nil, :process 57, :time 41918758552, :index 6827}
{:type :ok, :f :read, :value 3, :process 57, :time 41923331238, :index 6829}
{:type :invoke, :f :read, :value nil, :process 35, :time 41925067363, :index 6831}
{:type :ok, :f :read, :value 3, :process 35, :time 41930653623, :index 6833}
{:type :invoke, :f :read, :value nil, :process 35, :time 41938914291, :index 6835}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 41939846033, :index 6836}
{:type :invoke, :f :read, :value nil, :process 18, :time 41948098280, :index 6838}
{:type :invoke, :f :write, :value 3, :process 32, :time 41997153566, :index 6839}
{:type :invoke, :f :cas, :value [3 2], :process 13, :time 41997983070, :index 6840}
{:type :invoke, :f :cas, :value [4 0], :process 57, :time 42024584225, :index 6845}
{:type :ok, :f :read, :value 3, :process 35, :time 42294222314, :index 6848}
{:type :fail, :f :cas, :value [0 0], :process 10, :time 42295587281, :index 6850}
{:type :ok, :f :cas, :value [3 2], :process 13, :time 42295662827, :index 6851}
{:type :ok, :f :read, :value 3, :process 18, :time 42295922027, :index 6853}
{:type :ok, :f :write, :value 3, :process 32, :time 42297120460, :index 6857}
{:type :fail, :f :cas, :value [4 0], :process 57, :time 42297759127, :index 6859}
{:type :ok, :f :read, :value 2, :process 31, :time 45602858792, :index 6916}
{:type :ok, :f :write, :value 2, :process 36, :time 45603217446, :index 6917}
{:type :ok, :f :read, :value 2, :process 19, :time 45603511255, :index 6919}
{:type :ok, :f :write, :value 2, :process 34, :time 45604003860, :index 6922}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
