{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :invoke, :f :read, :value nil, :process 11, :time 12966705616, :index 2806}
{:type :fail, :f :read, :value nil, :process 11, :time 12968680204, :error :connect, :index 2807}
{:type :invoke, :f :cas, :value [4 0], :process 32, :time 13009040848, :index 2832}
{:type :fail, :f :cas, :value [4 0], :process 32, :time 13010914123, :error :connect, :index 2833}
{:type :invoke, :f :read, :value nil, :process 32, :time 13015153950, :index 2834}
{:type :fail, :f :read, :value nil, :process 32, :time 13017176081, :error :connect, :index 2837}
{:type :invoke, :f :write, :value 2, :process 36, :time 13021505485, :index 2839}
{:type :fail, :f :write, :value 2, :process 36, :time 13023419612, :error :connect, :index 2841}
{:type :invoke, :f :write, :value 1, :process 39, :time 13048211436, :index 2846}
{:type :fail, :f :write, :value 1, :process 39, :time 13050171800, :error :connect, :index 2847}
{:type :invoke, :f :write, :value 1, :process 11, :time 13052940378, :index 2848}
{:type :fail, :f :write, :value 1, :process 11, :time 13054996329, :error :connect, :index 2849}
{:type :invoke, :f :write, :value 2, :process 39, :time 13056433882, :index 2850}
{:type :invoke, :f :write, :value 0, :process 34, :time 13057399950, :index 2851}
{:type :fail, :f :write, :value 2, :process 39, :time 13058407178, :error :connect, :index 2852}
{:type :fail, :f :write, :value 0, :process 34, :time 13059338893, :error :connect, :index 2853}
{:type :invoke, :f :write, :value 1, :process 15, :time 13100427451, :index 2863}
{:type :fail, :f :write, :value 1, :process 15, :time 13102399699, :error :connect, :index 2865}
{:type :invoke, :f :cas, :value [2 2], :process 11, :time 13114256405, :index 2868}
{:type :fail, :f :cas, :value [2 2], :process 11, :time 13116124423, :error :connect, :index 2869}
{:type :invoke, :f :write, :value 0, :process 34, :time 13127596267, :index 2876}
{:type :fail, :f :write, :value 0, :process 34, :time 13129409788, :error :connect, :index 2877}
{:type :invoke, :f :read, :value nil, :process 36, :time 13129679510, :index 2878}
{:type :fail, :f :read, :value nil, :process 36, :time 13131771506, :error :connect, :index 2879}
{:type :invoke, :f :cas, :value [2 2], :process 33, :time 13131739974, :index 2880}
{:type :fail, :f :cas, :value [2 2], :process 33, :time 13133933796, :error :connect, :index 2881}
{:type :invoke, :f :write, :value 0, :process 36, :time 13156174800, :index 2890}
{:type :invoke, :f :write, :value 1, :process 32, :time 13156478638, :index 2891}
{:type :fail, :f :write, :value 0, :process 36, :time 13158097230, :error :connect, :index 2892}
{:type :fail, :f :write, :value 1, :process 32, :time 13158377218, :error :connect, :index 2893}
{:type :invoke, :f :read, :value nil, :process 37, :time 13162397759, :index 2896}
{:type :fail, :f :read, :value nil, :process 37, :time 13164223173, :error :connect, :index 2897}
{:type :invoke, :f :read, :value nil, :process 18, :time 13179989604, :index 2898}
{:type :fail, :f :read, :value nil, :process 18, :time 13182482950, :error :connect, :index 2901}
{:type :invoke, :f :read, :value nil, :process 11, :time 13189395674, :index 2904}
{:type :fail, :f :read, :value nil, :process 11, :time 13191070923, :error :connect, :index 2905}
{:type :invoke, :f :cas, :value [1 2], :process 37, :time 13193482099, :index 2906}
{:type :fail, :f :cas, :value [1 2], :process 37, :time 13195653043, :error :connect, :index 2907}
{:type :invoke, :f :write, :value 1, :process 10, :time 13196212138, :index 2908}
{:type :invoke, :f :read, :value nil, :process 18, :time 13197773778, :index 2909}
{:type :fail, :f :write, :value 1, :process 10, :time 13198272808, :error :connect, :index 2910}
{:type :fail, :f :read, :value nil, :process 18, :time 13199970802, :error :connect, :index 2911}
{:type :invoke, :f :read, :value nil, :process 10, :time 13209526992, :index 2914}
{:type :fail, :f :read, :value nil, :process 10, :time 13211334167, :error :connect, :index 2915}
{:type :invoke, :f :cas, :value [2 0], :process 15, :time 13221658640, :index 2919}
{:type :invoke, :f :write, :value 3, :process 33, :time 13222287497, :index 2920}
{:type :fail, :f :cas, :value [2 0], :process 15, :time 13223561618, :error :connect, :index 2922}
{:type :fail, :f :write, :value 3, :process 33, :time 13223945182, :error :connect, :index 2923}
{:type :invoke, :f :write, :value 3, :process 39, :time 13236666112, :index 2930}
{:type :fail, :f :write, :value 3, :process 39, :time 13238404941, :error :connect, :index 2931}
{:type :invoke, :f :cas, :value [1 1], :process 36, :time 13274359634, :index 2940}
{:type :invoke, :f :write, :value 3, :process 10, :time 13274597348, :index 2941}
{:type :fail, :f :cas, :value [1 1], :process 36, :time 13276546782, :error :connect, :index 2943}
{:type :fail, :f :write, :value 3, :process 10, :time 13276544856, :error :connect, :index 2944}
{:type :invoke, :f :cas, :value [3 0], :process 34, :time 13289667579, :index 2948}
{:type :fail, :f :cas, :value [3 0], :process 34, :time 13291434579, :error :connect, :index 2949}
{:type :invoke, :f :write, :value 2, :process 37, :time 13307916486, :index 2954}
{:type :fail, :f :write, :value 2, :process 37, :time 13309529817, :error :connect, :index 2955}
{:type :invoke, :f :write, :value 0, :process 32, :time 13320555065, :index 2962}
{:type :fail, :f :write, :value 0, :process 32, :time 13322395435, :error :connect, :index 2963}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 13340331096, :index 2966}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 13342247054, :error :connect, :index 2967}
{:type :invoke, :f :cas, :value [0 3], :process 39, :time 13358682371, :index 2972}
{:type :invoke, :f :read, :value nil, :process 15, :time 13358846930, :index 2973}
{:type :fail, :f :read, :value nil, :process 15, :time 13360542426, :error :connect, :index 2974}
{:type :fail, :f :cas, :value [0 3], :process 39, :time 13360969248, :error :connect, :index 2976}
{:type :invoke, :f :write, :value 0, :process 39, :time 13363228154, :index 2978}
{:type :fail, :f :write, :value 0, :process 39, :time 13365204536, :error :connect, :index 2979}
{:type :invoke, :f :write, :value 1, :process 33, :time 13367182917, :index 2980}
{:type :fail, :f :write, :value 1, :process 33, :time 13369092054, :error :connect, :index 2982}
{:type :invoke, :f :write, :value 2, :process 18, :time 13378229375, :index 2988}
{:type :fail, :f :write, :value 2, :process 18, :time 13380271709, :error :connect, :index 2989}
{:type :invoke, :f :write, :value 3, :process 36, :time 13397844761, :index 2992}
{:type :fail, :f :write, :value 3, :process 36, :time 13399678597, :error :connect, :index 2993}
{:type :invoke, :f :read, :value nil, :process 10, :time 13434829472, :index 2994}
{:type :invoke, :f :write, :value 0, :process 37, :time 13436797673, :index 2995}
{:type :fail, :f :read, :value nil, :process 10, :time 13437005958, :error :connect, :index 2996}
{:type :fail, :f :write, :value 0, :process 37, :time 13438817490, :error :connect, :index 2997}
{:type :invoke, :f :write, :value 1, :process 15, :time 13446729381, :index 3000}
{:type :fail, :f :write, :value 1, :process 15, :time 13448322626, :error :connect, :index 3001}
{:type :invoke, :f :write, :value 4, :process 18, :time 13455533780, :index 3006}
{:type :invoke, :f :write, :value 0, :process 34, :time 13456708863, :index 3007}
{:type :fail, :f :write, :value 4, :process 18, :time 13457306670, :error :connect, :index 3008}
{:type :fail, :f :write, :value 0, :process 34, :time 13458656381, :error :connect, :index 3009}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 13458596722, :index 3010}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 13460734039, :error :connect, :index 3011}
{:type :invoke, :f :read, :value nil, :process 11, :time 13475509572, :index 3012}
{:type :fail, :f :read, :value nil, :process 11, :time 13477481478, :error :connect, :index 3013}
{:type :invoke, :f :read, :value nil, :process 37, :time 13484073310, :index 3018}
{:type :fail, :f :read, :value nil, :process 37, :time 13486098820, :error :connect, :index 3019}
{:type :invoke, :f :read, :value nil, :process 34, :time 13496924546, :index 3021}
{:type :fail, :f :read, :value nil, :process 34, :time 13498824150, :error :connect, :index 3023}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 13516966748, :index 3028}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 13518905944, :error :connect, :index 3029}
{:type :invoke, :f :read, :value nil, :process 32, :time 13520654789, :index 3030}
{:type :fail, :f :read, :value nil, :process 32, :time 13522808759, :error :connect, :index 3031}
{:type :invoke, :f :read, :value nil, :process 32, :time 13530073109, :index 3036}
{:type :invoke, :f :write, :value 3, :process 39, :time 13531480867, :index 3037}
{:type :fail, :f :read, :value nil, :process 32, :time 13531973223, :error :connect, :index 3038}
{:type :fail, :f :write, :value 3, :process 39, :time 13533609434, :error :connect, :index 3039}
{:type :invoke, :f :write, :value 4, :process 33, :time 13556352535, :index 3040}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 13557019189, :index 3041}
{:type :fail, :f :write, :value 4, :process 33, :time 13558108775, :error :connect, :index 3042}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 13558772393, :error :connect, :index 3044}
{:type :invoke, :f :read, :value nil, :process 15, :time 13569040026, :index 3046}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 13570250727, :index 3047}
{:type :fail, :f :read, :value nil, :process 15, :time 13570921915, :error :connect, :index 3048}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 13572360370, :error :connect, :index 3049}
{:type :invoke, :f :write, :value 0, :process 15, :time 13577185681, :index 3050}
{:type :fail, :f :write, :value 0, :process 15, :time 13579091997, :error :connect, :index 3052}
{:type :invoke, :f :write, :value 0, :process 37, :time 13600359562, :index 3059}
{:type :invoke, :f :cas, :value [4 2], :process 36, :time 13601180671, :index 3060}
{:type :fail, :f :write, :value 0, :process 37, :time 13602159848, :error :connect, :index 3062}
{:type :fail, :f :cas, :value [4 2], :process 36, :time 13603172231, :error :connect, :index 3063}
{:type :invoke, :f :write, :value 4, :process 39, :time 13635875416, :index 3070}
{:type :fail, :f :write, :value 4, :process 39, :time 13637422887, :error :connect, :index 3073}
{:type :invoke, :f :read, :value nil, :process 18, :time 13637499848, :index 3074}
{:type :fail, :f :read, :value nil, :process 18, :time 13639377843, :error :connect, :index 3076}
{:type :invoke, :f :write, :value 3, :process 10, :time 13643638865, :index 3081}
{:type :fail, :f :write, :value 3, :process 10, :time 13645693200, :error :connect, :index 3083}
{:type :invoke, :f :write, :value 0, :process 18, :time 13656639292, :index 3088}
{:type :fail, :f :write, :value 0, :process 18, :time 13658270283, :error :connect, :index 3089}
{:type :invoke, :f :cas, :value [0 1], :process 11, :time 13658743143, :index 3090}
{:type :fail, :f :cas, :value [0 1], :process 11, :time 13660952251, :error :connect, :index 3092}
{:type :invoke, :f :cas, :value [0 0], :process 33, :time 13670929180, :index 3098}
{:type :fail, :f :cas, :value [0 0], :process 33, :time 13673006467, :error :connect, :index 3099}
{:type :invoke, :f :read, :value nil, :process 34, :time 13682087295, :index 3100}
{:type :fail, :f :read, :value nil, :process 34, :time 13684121612, :error :connect, :index 3102}
{:type :invoke, :f :read, :value nil, :process 37, :time 13701398580, :index 3106}
{:type :fail, :f :read, :value nil, :process 37, :time 13703256138, :error :connect, :index 3107}
{:type :invoke, :f :write, :value 2, :process 33, :time 13711225178, :index 3110}
{:type :fail, :f :write, :value 2, :process 33, :time 13713318349, :error :connect, :index 3112}
{:type :invoke, :f :write, :value 2, :process 36, :time 13725438909, :index 3114}
{:type :fail, :f :write, :value 2, :process 36, :time 13727620610, :error :connect, :index 3115}
{:type :invoke, :f :read, :value nil, :process 32, :time 13729264022, :index 3117}
{:type :fail, :f :read, :value nil, :process 32, :time 13731078365, :error :connect, :index 3119}
{:type :invoke, :f :read, :value nil, :process 18, :time 13732551036, :index 3120}
{:type :fail, :f :read, :value nil, :process 18, :time 13734484320, :error :connect, :index 3121}
{:type :invoke, :f :cas, :value [3 1], :process 32, :time 13749315235, :index 3126}
{:type :fail, :f :cas, :value [3 1], :process 32, :time 13751121714, :error :connect, :index 3127}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 13762339166, :index 3130}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 13764041833, :error :connect, :index 3131}
{:type :invoke, :f :cas, :value [4 2], :process 11, :time 13764204638, :index 3132}
{:type :fail, :f :cas, :value [4 2], :process 11, :time 13766295044, :error :connect, :index 3133}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 13768943495, :index 3134}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 13771000145, :error :connect, :index 3135}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 13785604413, :index 3138}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 13787521505, :error :connect, :index 3139}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 13788263591, :index 3140}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 13790348563, :error :connect, :index 3141}
{:type :invoke, :f :read, :value nil, :process 18, :time 13796749828, :index 3146}
{:type :fail, :f :read, :value nil, :process 18, :time 13798400699, :error :connect, :index 3147}
{:type :invoke, :f :write, :value 4, :process 32, :time 13799391288, :index 3149}
{:type :fail, :f :write, :value 4, :process 32, :time 13801174766, :error :connect, :index 3151}
{:type :invoke, :f :read, :value nil, :process 39, :time 13804664484, :index 3153}
{:type :fail, :f :read, :value nil, :process 39, :time 13806573201, :error :connect, :index 3155}
{:type :invoke, :f :read, :value nil, :process 37, :time 13806724166, :index 3156}
{:type :fail, :f :read, :value nil, :process 37, :time 13808737571, :error :connect, :index 3159}
{:type :invoke, :f :write, :value 3, :process 11, :time 13820556819, :index 3162}
{:type :fail, :f :write, :value 3, :process 11, :time 13822740653, :error :connect, :index 3163}
{:type :invoke, :f :write, :value 2, :process 18, :time 13858672571, :index 3172}
{:type :fail, :f :write, :value 2, :process 18, :time 13860303338, :error :connect, :index 3173}
{:type :invoke, :f :cas, :value [2 3], :process 34, :time 13871382253, :index 3174}
{:type :fail, :f :cas, :value [2 3], :process 34, :time 13873208606, :error :connect, :index 3175}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 13879892612, :index 3176}
{:type :fail, :f :cas, :value [2 1], :process 36, :time 13881572410, :error :connect, :index 3177}
{:type :invoke, :f :write, :value 4, :process 32, :time 13885418965, :index 3178}
{:type :fail, :f :write, :value 4, :process 32, :time 13887476879, :error :connect, :index 3180}
{:type :invoke, :f :write, :value 4, :process 39, :time 13894855330, :index 3182}
{:type :fail, :f :write, :value 4, :process 39, :time 13897012364, :error :connect, :index 3184}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 13916328283, :index 3187}
{:type :invoke, :f :cas, :value [3 0], :process 37, :time 13918024905, :index 3189}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 13918452021, :error :connect, :index 3190}
{:type :fail, :f :cas, :value [3 0], :process 37, :time 13920232549, :error :connect, :index 3191}
{:type :invoke, :f :write, :value 4, :process 33, :time 13932785855, :index 3194}
{:type :fail, :f :write, :value 4, :process 33, :time 13934429092, :error :connect, :index 3195}
{:type :invoke, :f :read, :value nil, :process 32, :time 13958725287, :index 3202}
{:type :fail, :f :read, :value nil, :process 32, :time 13960557970, :error :connect, :index 3203}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 13964628413, :index 3207}
{:type :invoke, :f :write, :value 3, :process 18, :time 13966569619, :index 3209}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 13966888016, :error :connect, :index 3210}
{:type :fail, :f :write, :value 3, :process 18, :time 13968789079, :error :connect, :index 3211}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 13969726239, :index 3212}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 13971326326, :error :connect, :index 3213}
{:type :invoke, :f :write, :value 2, :process 11, :time 13988996488, :index 3216}
{:type :fail, :f :write, :value 2, :process 11, :time 13991088236, :error :connect, :index 3217}
{:type :invoke, :f :read, :value nil, :process 34, :time 13999469950, :index 3218}
{:type :fail, :f :read, :value nil, :process 34, :time 14001510631, :error :connect, :index 3220}
{:type :invoke, :f :write, :value 1, :process 33, :time 14003685041, :index 3222}
{:type :fail, :f :write, :value 1, :process 33, :time 14005629405, :error :connect, :index 3224}
{:type :invoke, :f :read, :value nil, :process 36, :time 14012837991, :index 3228}
{:type :fail, :f :read, :value nil, :process 36, :time 14014805567, :error :connect, :index 3229}
{:type :invoke, :f :write, :value 3, :process 39, :time 14021260706, :index 3230}
{:type :fail, :f :write, :value 3, :process 39, :time 14023095880, :error :connect, :index 3232}
{:type :invoke, :f :write, :value 3, :process 37, :time 14045503315, :index 3234}
{:type :fail, :f :write, :value 3, :process 37, :time 14047760029, :error :connect, :index 3236}
{:type :invoke, :f :cas, :value [4 4], :process 32, :time 14093829991, :index 3250}
{:type :fail, :f :cas, :value [4 4], :process 32, :time 14095748889, :error :connect, :index 3252}
{:type :invoke, :f :write, :value 1, :process 10, :time 14145141816, :index 3274}
{:type :fail, :f :write, :value 1, :process 10, :time 14148136722, :error :connect, :index 3277}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
