{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :invoke, :f :read, :value nil, :process 18, :time 15098440606, :index 3644}
{:type :fail, :f :read, :value nil, :process 18, :time 15100610345, :error :connect, :index 3645}
{:type :invoke, :f :read, :value nil, :process 10, :time 15111578812, :index 3652}
{:type :fail, :f :read, :value nil, :process 10, :time 15113619265, :error :connect, :index 3653}
{:type :invoke, :f :cas, :value [0 3], :process 37, :time 15122647382, :index 3664}
{:type :fail, :f :cas, :value [0 3], :process 37, :time 15124519292, :error :connect, :index 3665}
{:type :invoke, :f :write, :value 0, :process 18, :time 15132871233, :index 3666}
{:type :fail, :f :write, :value 0, :process 18, :time 15134962211, :error :connect, :index 3668}
{:type :invoke, :f :read, :value nil, :process 36, :time 15140633340, :index 3670}
{:type :fail, :f :read, :value nil, :process 36, :time 15142506450, :error :connect, :index 3671}
{:type :invoke, :f :read, :value nil, :process 15, :time 15180665885, :index 3680}
{:type :fail, :f :read, :value nil, :process 15, :time 15182776285, :error :connect, :index 3683}
{:type :invoke, :f :read, :value nil, :process 37, :time 15198786299, :index 3692}
{:type :fail, :f :read, :value nil, :process 37, :time 15200677610, :error :connect, :index 3693}
{:type :invoke, :f :write, :value 3, :process 11, :time 15211743799, :index 3694}
{:type :fail, :f :write, :value 3, :process 11, :time 15213780217, :error :connect, :index 3695}
{:type :invoke, :f :read, :value nil, :process 34, :time 15215001547, :index 3697}
{:type :invoke, :f :read, :value nil, :process 32, :time 15216609332, :index 3698}
{:type :fail, :f :read, :value nil, :process 34, :time 15217213163, :error :connect, :index 3700}
{:type :fail, :f :read, :value nil, :process 32, :time 15218840410, :error :connect, :index 3701}
{:type :invoke, :f :cas, :value [3 2], :process 15, :time 15229045828, :index 3702}
{:type :fail, :f :cas, :value [3 2], :process 15, :time 15231169883, :error :connect, :index 3703}
{:type :invoke, :f :write, :value 4, :process 33, :time 15232790577, :index 3704}
{:type :fail, :f :write, :value 4, :process 33, :time 15234634227, :error :connect, :index 3705}
{:type :invoke, :f :read, :value nil, :process 37, :time 15249941160, :index 3711}
{:type :fail, :f :read, :value nil, :process 37, :time 15251802281, :error :connect, :index 3713}
{:type :invoke, :f :write, :value 0, :process 36, :time 15281770810, :index 3718}
{:type :fail, :f :write, :value 0, :process 36, :time 15283663599, :error :connect, :index 3719}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 15291891602, :index 3722}
{:type :invoke, :f :write, :value 1, :process 34, :time 15292474007, :index 3723}
{:type :fail, :f :cas, :value [1 1], :process 10, :time 15294029760, :error :connect, :index 3724}
{:type :fail, :f :write, :value 1, :process 34, :time 15294557218, :error :connect, :index 3726}
{:type :invoke, :f :write, :value 1, :process 11, :time 15305039083, :index 3730}
{:type :fail, :f :write, :value 1, :process 11, :time 15307318626, :error :connect, :index 3733}
{:type :invoke, :f :cas, :value [0 2], :process 39, :time 15316261660, :index 3734}
{:type :fail, :f :cas, :value [0 2], :process 39, :time 15317953403, :error :connect, :index 3735}
{:type :invoke, :f :read, :value nil, :process 18, :time 15321226932, :index 3736}
{:type :fail, :f :read, :value nil, :process 18, :time 15323094374, :error :connect, :index 3737}
{:type :invoke, :f :read, :value nil, :process 11, :time 15337603256, :index 3738}
{:type :fail, :f :read, :value nil, :process 11, :time 15339524817, :error :connect, :index 3739}
{:type :invoke, :f :read, :value nil, :process 32, :time 15348102594, :index 3743}
{:type :fail, :f :read, :value nil, :process 32, :time 15350134683, :error :connect, :index 3745}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 15382316789, :index 3753}
{:type :fail, :f :cas, :value [0 2], :process 10, :time 15384268515, :error :connect, :index 3755}
{:type :invoke, :f :write, :value 3, :process 34, :time 15399843706, :index 3756}
{:type :fail, :f :write, :value 3, :process 34, :time 15401756109, :error :connect, :index 3757}
{:type :invoke, :f :read, :value nil, :process 15, :time 15404443876, :index 3758}
{:type :fail, :f :read, :value nil, :process 15, :time 15406552189, :error :connect, :index 3759}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 15407357475, :index 3760}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 15409515308, :error :connect, :index 3762}
{:type :invoke, :f :read, :value nil, :process 10, :time 15415527094, :index 3766}
{:type :invoke, :f :write, :value 0, :process 33, :time 15416929103, :index 3767}
{:type :fail, :f :read, :value nil, :process 10, :time 15417614367, :error :connect, :index 3768}
{:type :fail, :f :write, :value 0, :process 33, :time 15418853724, :error :connect, :index 3769}
{:type :invoke, :f :write, :value 1, :process 10, :time 15426876768, :index 3770}
{:type :fail, :f :write, :value 1, :process 10, :time 15428558017, :error :connect, :index 3771}
{:type :invoke, :f :cas, :value [4 1], :process 39, :time 15430227918, :index 3772}
{:type :fail, :f :cas, :value [4 1], :process 39, :time 15432138171, :error :connect, :index 3773}
{:type :invoke, :f :cas, :value [1 0], :process 37, :time 15440057766, :index 3776}
{:type :invoke, :f :read, :value nil, :process 11, :time 15441785947, :index 3778}
{:type :fail, :f :cas, :value [1 0], :process 37, :time 15442289807, :error :connect, :index 3779}
{:type :fail, :f :read, :value nil, :process 11, :time 15443874522, :error :connect, :index 3781}
{:type :invoke, :f :write, :value 0, :process 15, :time 15477806223, :index 3788}
{:type :invoke, :f :write, :value 4, :process 36, :time 15477928912, :index 3789}
{:type :fail, :f :write, :value 0, :process 15, :time 15479806314, :error :connect, :index 3790}
{:type :fail, :f :write, :value 4, :process 36, :time 15479967740, :error :connect, :index 3791}
{:type :invoke, :f :write, :value 4, :process 10, :time 15492814542, :index 3792}
{:type :fail, :f :write, :value 4, :process 10, :time 15494843079, :error :connect, :index 3793}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :invoke, :f :write, :value 1, :process 36, :time 15521269323, :index 3797}
{:type :invoke, :f :read, :value nil, :process 33, :time 15522111176, :index 3798}
{:type :fail, :f :write, :value 1, :process 36, :time 15523286736, :error :connect, :index 3800}
{:type :fail, :f :read, :value nil, :process 33, :time 15524022387, :error :connect, :index 3801}
{:type :invoke, :f :read, :value nil, :process 11, :time 15529122937, :index 3803}
{:type :invoke, :f :write, :value 1, :process 39, :time 15530444938, :index 3806}
{:type :fail, :f :read, :value nil, :process 11, :time 15531187187, :error :connect, :index 3807}
{:type :fail, :f :write, :value 1, :process 39, :time 15532444674, :error :connect, :index 3810}
{:type :invoke, :f :read, :value nil, :process 15, :time 15535083037, :index 3811}
{:type :fail, :f :read, :value nil, :process 15, :time 15536944997, :error :connect, :index 3813}
{:type :invoke, :f :write, :value 0, :process 34, :time 15544012842, :index 3815}
{:type :invoke, :f :read, :value nil, :process 18, :time 15544792075, :index 3816}
{:type :fail, :f :write, :value 0, :process 34, :time 15545890298, :error :connect, :index 3818}
{:type :invoke, :f :cas, :value [1 1], :process 32, :time 15546397221, :index 3819}
{:type :fail, :f :read, :value nil, :process 18, :time 15546680474, :error :connect, :index 3820}
{:type :fail, :f :cas, :value [1 1], :process 32, :time 15548625811, :error :connect, :index 3822}
{:type :invoke, :f :write, :value 4, :process 39, :time 15551682589, :index 3824}
{:type :fail, :f :write, :value 4, :process 39, :time 15553431723, :error :connect, :index 3826}
{:type :invoke, :f :read, :value nil, :process 36, :time 15568526397, :index 3835}
{:type :fail, :f :read, :value nil, :process 36, :time 15570362730, :error :connect, :index 3836}
{:type :invoke, :f :read, :value nil, :process 36, :time 15577618152, :index 3837}
{:type :fail, :f :read, :value nil, :process 36, :time 15579597585, :error :connect, :index 3839}
{:type :invoke, :f :read, :value nil, :process 32, :time 15601893127, :index 3846}
{:type :fail, :f :read, :value nil, :process 32, :time 15603751926, :error :connect, :index 3848}
{:type :invoke, :f :read, :value nil, :process 10, :time 15614095547, :index 3849}
{:type :invoke, :f :write, :value 1, :process 36, :time 15615867448, :index 3850}
{:type :fail, :f :read, :value nil, :process 10, :time 15616192596, :error :connect, :index 3851}
{:type :fail, :f :write, :value 1, :process 36, :time 15617829316, :error :connect, :index 3852}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :invoke, :f :read, :value nil, :process 37, :time 15638572284, :index 3856}
{:type :fail, :f :read, :value nil, :process 37, :time 15640454626, :error :connect, :index 3857}
{:type :invoke, :f :read, :value nil, :process 34, :time 15643168304, :index 3858}
{:type :fail, :f :read, :value nil, :process 34, :time 15645249558, :error :connect, :index 3859}
{:type :invoke, :f :read, :value nil, :process 11, :time 15657439012, :index 3863}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 15658432669, :index 3864}
{:type :fail, :f :read, :value nil, :process 11, :time 15659303500, :error :connect, :index 3866}
{:type :fail, :f :cas, :value [0 1], :process 10, :time 15660496441, :error :connect, :index 3867}
{:type :invoke, :f :read, :value nil, :process 33, :time 15663288250, :index 3871}
{:type :fail, :f :read, :value nil, :process 33, :time 15665486167, :error :connect, :index 3873}
{:type :invoke, :f :cas, :value [2 0], :process 37, :time 15668727204, :index 3874}
{:type :fail, :f :cas, :value [2 0], :process 37, :time 15670592125, :error :connect, :index 3876}
{:type :invoke, :f :read, :value nil, :process 34, :time 15673510896, :index 3878}
{:type :fail, :f :read, :value nil, :process 34, :time 15675547406, :error :connect, :index 3879}
{:type :invoke, :f :cas, :value [1 4], :process 11, :time 15716516729, :index 3892}
{:type :fail, :f :cas, :value [1 4], :process 11, :time 15718362444, :error :connect, :index 3893}
{:type :invoke, :f :read, :value nil, :process 37, :time 15719892822, :index 3894}
{:type :invoke, :f :write, :value 4, :process 33, :time 15720747016, :index 3895}
{:type :fail, :f :read, :value nil, :process 37, :time 15721754706, :error :connect, :index 3896}
{:type :fail, :f :write, :value 4, :process 33, :time 15722800036, :error :connect, :index 3897}
{:type :invoke, :f :write, :value 2, :process 18, :time 15734970028, :index 3900}
{:type :invoke, :f :write, :value 2, :process 15, :time 15736221376, :index 3901}
{:type :fail, :f :write, :value 2, :process 18, :time 15737095062, :error :connect, :index 3902}
{:type :invoke, :f :read, :value nil, :process 32, :time 15737020037, :index 3903}
{:type :invoke, :f :read, :value nil, :process 36, :time 15737323788, :index 3904}
{:type :fail, :f :write, :value 2, :process 15, :time 15738133335, :error :connect, :index 3905}
{:type :invoke, :f :read, :value nil, :process 39, :time 15738698814, :index 3906}
{:type :fail, :f :read, :value nil, :process 32, :time 15738938484, :error :connect, :index 3907}
{:type :fail, :f :read, :value nil, :process 36, :time 15739283587, :error :connect, :index 3908}
{:type :invoke, :f :write, :value 1, :process 33, :time 15740054691, :index 3909}
{:type :fail, :f :read, :value nil, :process 39, :time 15740726317, :error :connect, :index 3910}
{:type :fail, :f :write, :value 1, :process 33, :time 15741894274, :error :connect, :index 3911}
{:type :invoke, :f :read, :value nil, :process 34, :time 15742730334, :index 3912}
{:type :fail, :f :read, :value nil, :process 34, :time 15744477565, :error :connect, :index 3914}
{:type :invoke, :f :write, :value 3, :process 10, :time 15744757914, :index 3915}
{:type :fail, :f :write, :value 3, :process 10, :time 15746525156, :error :connect, :index 3917}
{:type :invoke, :f :write, :value 4, :process 10, :time 15765775811, :index 3924}
{:type :fail, :f :write, :value 4, :process 10, :time 15767563458, :error :connect, :index 3925}
{:type :invoke, :f :write, :value 0, :process 15, :time 15773406653, :index 3927}
{:type :fail, :f :write, :value 0, :process 15, :time 15775426700, :error :connect, :index 3929}
{:type :invoke, :f :read, :value nil, :process 36, :time 15816522153, :index 3934}
{:type :fail, :f :read, :value nil, :process 36, :time 15818187268, :error :connect, :index 3935}
{:type :invoke, :f :read, :value nil, :process 39, :time 15847985535, :index 3944}
{:type :invoke, :f :cas, :value [2 4], :process 37, :time 15848023263, :index 3945}
{:type :fail, :f :cas, :value [2 4], :process 37, :time 15849824711, :error :connect, :index 3946}
{:type :fail, :f :read, :value nil, :process 39, :time 15850003205, :error :connect, :index 3947}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 15861336980, :index 3950}
{:type :invoke, :f :cas, :value [0 2], :process 36, :time 15862447297, :index 3951}
{:type :fail, :f :cas, :value [3 2], :process 18, :time 15863016603, :error :connect, :index 3952}
{:type :invoke, :f :cas, :value [3 4], :process 32, :time 15864186758, :index 3953}
{:type :fail, :f :cas, :value [0 2], :process 36, :time 15864597129, :error :connect, :index 3954}
{:type :fail, :f :cas, :value [3 4], :process 32, :time 15866203870, :error :connect, :index 3956}
{:type :invoke, :f :write, :value 1, :process 15, :time 15875676669, :index 3958}
{:type :fail, :f :write, :value 1, :process 15, :time 15877745869, :error :connect, :index 3960}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 15882274395, :index 3962}
{:type :invoke, :f :write, :value 0, :process 11, :time 15883634349, :index 3963}
{:type :fail, :f :cas, :value [1 3], :process 18, :time 15885014894, :error :connect, :index 3964}
{:type :fail, :f :write, :value 0, :process 11, :time 15885503267, :error :connect, :index 3965}
{:type :invoke, :f :cas, :value [2 0], :process 36, :time 15887882753, :index 3967}
{:type :fail, :f :cas, :value [2 0], :process 36, :time 15889711160, :error :connect, :index 3969}
{:type :invoke, :f :write, :value 2, :process 32, :time 15906487143, :index 3970}
{:type :fail, :f :write, :value 2, :process 32, :time 15908412746, :error :connect, :index 3971}
{:type :invoke, :f :read, :value nil, :process 39, :time 15917261185, :index 3972}
{:type :fail, :f :read, :value nil, :process 39, :time 15919435490, :error :connect, :index 3974}
{:type :invoke, :f :write, :value 3, :process 34, :time 15923754092, :index 3976}
{:type :fail, :f :write, :value 3, :process 34, :time 15925567925, :error :connect, :index 3977}
{:type :invoke, :f :write, :value 1, :process 10, :time 15929827879, :index 3979}
{:type :invoke, :f :write, :value 0, :process 33, :time 15930167106, :index 3980}
{:type :fail, :f :write, :value 1, :process 10, :time 15931898082, :error :connect, :index 3982}
{:type :fail, :f :write, :value 0, :process 33, :time 15932166363, :error :connect, :index 3983}
{:type :invoke, :f :read, :value nil, :process 36, :time 15934981394, :index 3984}
{:type :fail, :f :read, :value nil, :process 36, :time 15936876369, :error :connect, :index 3985}
{:type :invoke, :f :write, :value 0, :process 39, :time 15942684097, :index 3988}
{:type :fail, :f :write, :value 0, :process 39, :time 15944719913, :error :connect, :index 3989}
{:type :invoke, :f :cas, :value [4 4], :process 10, :time 15950153235, :index 3990}
{:type :fail, :f :cas, :value [4 4], :process 10, :time 15952241292, :error :connect, :index 3991}
{:type :invoke, :f :write, :value 3, :process 34, :time 15956829682, :index 3992}
{:type :fail, :f :write, :value 3, :process 34, :time 15958473006, :error :connect, :index 3993}
{:type :invoke, :f :cas, :value [2 4], :process 37, :time 15979123653, :index 3997}
{:type :fail, :f :cas, :value [2 4], :process 37, :time 15980793601, :error :connect, :index 3999}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 15982016781, :index 4001}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 15983894722, :error :connect, :index 4004}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 15993283681, :index 4006}
{:type :fail, :f :cas, :value [0 3], :process 18, :time 15995428416, :error :connect, :index 4007}
{:type :invoke, :f :write, :value 2, :process 39, :time 15995984314, :index 4008}
{:type :fail, :f :write, :value 2, :process 39, :time 15997952699, :error :connect, :index 4009}
{:type :invoke, :f :write, :value 0, :process 34, :time 16007732754, :index 4014}
{:type :fail, :f :write, :value 0, :process 34, :time 16009544983, :error :connect, :index 4015}
{:type :invoke, :f :read, :value nil, :process 32, :time 16038708299, :index 4024}
{:type :fail, :f :read, :value nil, :process 32, :time 16040652440, :error :connect, :index 4026}
{:type :invoke, :f :read, :value nil, :process 18, :time 16046702548, :index 4028}
{:type :fail, :f :read, :value nil, :process 18, :time 16048911588, :error :connect, :index 4030}
{:type :invoke, :f :read, :value nil, :process 15, :time 16058153288, :index 4032}
{:type :fail, :f :read, :value nil, :process 15, :time 16062001771, :error :connect, :index 4034}
{:type :invoke, :f :read, :value nil, :process 11, :time 16073753004, :index 4038}
{:type :fail, :f :read, :value nil, :process 11, :time 16075381581, :error :connect, :index 4039}
{:type :invoke, :f :read, :value nil, :process 33, :time 16095397108, :index 4044}
{:type :fail, :f :read, :value nil, :process 33, :time 16097693626, :error :connect, :index 4047}
{:type :invoke, :f :cas, :value [3 1], :process 36, :time 16113135300, :index 4056}
{:type :fail, :f :cas, :value [3 1], :process 36, :time 16115023068, :error :connect, :index 4057}
{:type :invoke, :f :read, :value nil, :process 10, :time 16123508892, :index 4065}
{:type :fail, :f :read, :value nil, :process 10, :time 16125727682, :error :connect, :index 4067}
{:type :invoke, :f :cas, :value [0 1], :process 37, :time 16148074453, :index 4072}
{:type :fail, :f :cas, :value [0 1], :process 37, :time 16149749753, :error :connect, :index 4073}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
