{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :invoke, :f :cas, :value [3 4], :process 21, :time 18706582370, :index 5114}
{:type :fail, :f :cas, :value [3 4], :process 21, :time 18708728419, :error :connect, :index 5115}
{:type :invoke, :f :read, :value nil, :process 6, :time 18717506209, :index 5118}
{:type :fail, :f :read, :value nil, :process 6, :time 18719429412, :error :connect, :index 5120}
{:type :invoke, :f :read, :value nil, :process 4, :time 18734496651, :index 5131}
{:type :fail, :f :read, :value nil, :process 4, :time 18736336315, :error :connect, :index 5134}
{:type :invoke, :f :read, :value nil, :process 6, :time 18756690939, :index 5140}
{:type :fail, :f :read, :value nil, :process 6, :time 18758940352, :error :connect, :index 5143}
{:type :invoke, :f :read, :value nil, :process 22, :time 18827417164, :index 5159}
{:type :fail, :f :read, :value nil, :process 22, :time 18829479254, :error :connect, :index 5161}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 18834738137, :index 5162}
{:type :fail, :f :cas, :value [0 2], :process 22, :time 18836588858, :error :connect, :index 5163}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 18847996200, :index 5164}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 18849873574, :error :connect, :index 5165}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 18878608879, :index 5174}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 18880541928, :error :connect, :index 5175}
{:type :invoke, :f :read, :value nil, :process 8, :time 18881413726, :index 5176}
{:type :fail, :f :read, :value nil, :process 8, :time 18883303653, :error :connect, :index 5177}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 18899291634, :index 5182}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 18901923746, :error :connect, :index 5185}
{:type :invoke, :f :read, :value nil, :process 4, :time 18903575353, :index 5188}
{:type :fail, :f :read, :value nil, :process 4, :time 18905334085, :error :connect, :index 5189}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 18906146739, :index 5190}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 18908028596, :error :connect, :index 5191}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 18910724019, :index 5194}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 18912759472, :error :connect, :index 5195}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 18917561007, :index 5196}
{:type :invoke, :f :cas, :value [1 2], :process 29, :time 18919159229, :index 5197}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 18919914912, :error :connect, :index 5198}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 18920206302, :index 5199}
{:type :fail, :f :cas, :value [1 2], :process 29, :time 18921015322, :error :connect, :index 5200}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 18922023823, :error :connect, :index 5201}
{:type :invoke, :f :write, :value 1, :process 0, :time 18945021189, :index 5206}
{:type :fail, :f :write, :value 1, :process 0, :time 18947007157, :error :connect, :index 5207}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 18951273560, :index 5208}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 18953098110, :error :connect, :index 5209}
{:type :invoke, :f :cas, :value [2 3], :process 22, :time 18978880272, :index 5216}
{:type :invoke, :f :write, :value 3, :process 4, :time 18979596254, :index 5217}
{:type :fail, :f :cas, :value [2 3], :process 22, :time 18980794062, :error :connect, :index 5218}
{:type :fail, :f :write, :value 3, :process 4, :time 18981402308, :error :connect, :index 5219}
{:type :invoke, :f :cas, :value [2 0], :process 7, :time 19002728581, :index 5224}
{:type :fail, :f :cas, :value [2 0], :process 7, :time 19004670824, :error :connect, :index 5225}
{:type :invoke, :f :read, :value nil, :process 22, :time 19010056280, :index 5226}
{:type :fail, :f :read, :value nil, :process 22, :time 19011647292, :error :connect, :index 5227}
{:type :invoke, :f :read, :value nil, :process 21, :time 19013169932, :index 5229}
{:type :fail, :f :read, :value nil, :process 21, :time 19014986146, :error :connect, :index 5231}
{:type :invoke, :f :read, :value nil, :process 0, :time 19028355762, :index 5240}
{:type :fail, :f :read, :value nil, :process 0, :time 19030347196, :error :connect, :index 5241}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 19034636281, :index 5242}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 19036446781, :error :connect, :index 5243}
{:type :invoke, :f :write, :value 0, :process 3, :time 19051188146, :index 5244}
{:type :fail, :f :write, :value 0, :process 3, :time 19053028913, :error :connect, :index 5245}
{:type :invoke, :f :write, :value 0, :process 21, :time 19053233363, :index 5246}
{:type :fail, :f :write, :value 0, :process 21, :time 19055184236, :error :connect, :index 5247}
{:type :invoke, :f :write, :value 4, :process 3, :time 19061310526, :index 5249}
{:type :fail, :f :write, :value 4, :process 3, :time 19063128835, :error :connect, :index 5251}
{:type :invoke, :f :read, :value nil, :process 29, :time 19068289495, :index 5252}
{:type :fail, :f :read, :value nil, :process 29, :time 19070224210, :error :connect, :index 5255}
{:type :invoke, :f :read, :value nil, :process 5, :time 19071302694, :index 5257}
{:type :fail, :f :read, :value nil, :process 5, :time 19073438598, :error :connect, :index 5260}
{:type :invoke, :f :write, :value 2, :process 8, :time 19087180200, :index 5264}
{:type :fail, :f :write, :value 2, :process 8, :time 19088821535, :error :connect, :index 5265}
{:type :invoke, :f :write, :value 1, :process 6, :time 19090287661, :index 5266}
{:type :fail, :f :write, :value 1, :process 6, :time 19092417966, :error :connect, :index 5267}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 19112721838, :index 5270}
{:type :fail, :f :cas, :value [1 4], :process 4, :time 19114590919, :error :connect, :index 5272}
{:type :invoke, :f :cas, :value [3 0], :process 22, :time 19120911108, :index 5276}
{:type :fail, :f :cas, :value [3 0], :process 22, :time 19123034136, :error :connect, :index 5278}
{:type :invoke, :f :read, :value nil, :process 5, :time 19124649716, :index 5280}
{:type :fail, :f :read, :value nil, :process 5, :time 19126455585, :error :connect, :index 5281}
{:type :invoke, :f :write, :value 1, :process 7, :time 19144878554, :index 5284}
{:type :fail, :f :write, :value 1, :process 7, :time 19146789887, :error :connect, :index 5285}
{:type :invoke, :f :write, :value 1, :process 29, :time 19159492272, :index 5290}
{:type :fail, :f :write, :value 1, :process 29, :time 19161254352, :error :connect, :index 5292}
{:type :invoke, :f :read, :value nil, :process 21, :time 19168447585, :index 5294}
{:type :fail, :f :read, :value nil, :process 21, :time 19170144749, :error :connect, :index 5295}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 19170409981, :index 5296}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 19172291079, :error :connect, :index 5297}
{:type :invoke, :f :read, :value nil, :process 5, :time 19184727338, :index 5302}
{:type :fail, :f :read, :value nil, :process 5, :time 19186830971, :error :connect, :index 5304}
{:type :invoke, :f :read, :value nil, :process 29, :time 19210514630, :index 5309}
{:type :fail, :f :read, :value nil, :process 29, :time 19212493758, :error :connect, :index 5312}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 19213615821, :index 5314}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 19215533430, :error :connect, :index 5315}
{:type :invoke, :f :cas, :value [1 4], :process 8, :time 19227087772, :index 5316}
{:type :fail, :f :cas, :value [1 4], :process 8, :time 19228775559, :error :connect, :index 5317}
{:type :invoke, :f :read, :value nil, :process 3, :time 19259577430, :index 5330}
{:type :fail, :f :read, :value nil, :process 3, :time 19261453835, :error :connect, :index 5331}
{:type :invoke, :f :cas, :value [1 0], :process 21, :time 19269433059, :index 5332}
{:type :fail, :f :cas, :value [1 0], :process 21, :time 19271410038, :error :connect, :index 5334}
{:type :invoke, :f :write, :value 1, :process 3, :time 19273714724, :index 5336}
{:type :invoke, :f :read, :value nil, :process 4, :time 19273875117, :index 5337}
{:type :fail, :f :read, :value nil, :process 4, :time 19275789755, :error :connect, :index 5339}
{:type :fail, :f :write, :value 1, :process 3, :time 19276106711, :error :connect, :index 5340}
{:type :invoke, :f :cas, :value [3 4], :process 22, :time 19284327591, :index 5344}
{:type :fail, :f :cas, :value [3 4], :process 22, :time 19286051378, :error :connect, :index 5345}
{:type :invoke, :f :read, :value nil, :process 6, :time 19291689105, :index 5346}
{:type :fail, :f :read, :value nil, :process 6, :time 19293600021, :error :connect, :index 5347}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 19298739750, :index 5350}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 19300374869, :error :connect, :index 5351}
{:type :invoke, :f :read, :value nil, :process 29, :time 19301761737, :index 5352}
{:type :invoke, :f :write, :value 3, :process 7, :time 19302063661, :index 5353}
{:type :fail, :f :read, :value nil, :process 29, :time 19303735398, :error :connect, :index 5354}
{:type :fail, :f :write, :value 3, :process 7, :time 19304028548, :error :connect, :index 5355}
{:type :invoke, :f :read, :value nil, :process 8, :time 19306049853, :index 5358}
{:type :fail, :f :read, :value nil, :process 8, :time 19307921037, :error :connect, :index 5359}
{:type :invoke, :f :read, :value nil, :process 4, :time 19311079000, :index 5360}
{:type :fail, :f :read, :value nil, :process 4, :time 19313091420, :error :connect, :index 5361}
{:type :invoke, :f :cas, :value [4 3], :process 5, :time 19342099185, :index 5372}
{:type :fail, :f :cas, :value [4 3], :process 5, :time 19343927186, :error :connect, :index 5374}
{:type :invoke, :f :read, :value nil, :process 29, :time 19358999875, :index 5378}
{:type :fail, :f :read, :value nil, :process 29, :time 19360998112, :error :connect, :index 5379}
{:type :invoke, :f :cas, :value [4 4], :process 22, :time 19368317332, :index 5382}
{:type :invoke, :f :write, :value 0, :process 4, :time 19369355354, :index 5383}
{:type :fail, :f :cas, :value [4 4], :process 22, :time 19370016060, :error :connect, :index 5384}
{:type :fail, :f :write, :value 0, :process 4, :time 19371237492, :error :connect, :index 5385}
{:type :invoke, :f :write, :value 3, :process 21, :time 19371685945, :index 5386}
{:type :fail, :f :write, :value 3, :process 21, :time 19373329093, :error :connect, :index 5387}
{:type :invoke, :f :read, :value nil, :process 8, :time 19389205628, :index 5389}
{:type :fail, :f :read, :value nil, :process 8, :time 19391106602, :error :connect, :index 5391}
{:type :invoke, :f :read, :value nil, :process 5, :time 19392212980, :index 5392}
{:type :fail, :f :read, :value nil, :process 5, :time 19394237991, :error :connect, :index 5393}
{:type :invoke, :f :read, :value nil, :process 7, :time 19418266203, :index 5402}
{:type :invoke, :f :read, :value nil, :process 3, :time 19418345850, :index 5403}
{:type :fail, :f :read, :value nil, :process 3, :time 19420347611, :error :connect, :index 5404}
{:type :fail, :f :read, :value nil, :process 7, :time 19420373232, :error :connect, :index 5405}
{:type :invoke, :f :write, :value 4, :process 29, :time 19432268324, :index 5412}
{:type :fail, :f :write, :value 4, :process 29, :time 19434297160, :error :connect, :index 5413}
{:type :invoke, :f :cas, :value [3 0], :process 21, :time 19441603889, :index 5414}
{:type :fail, :f :cas, :value [3 0], :process 21, :time 19443691206, :error :connect, :index 5415}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 19456638487, :index 5420}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 19458773552, :error :connect, :index 5421}
{:type :invoke, :f :cas, :value [2 4], :process 6, :time 19463868184, :index 5424}
{:type :fail, :f :cas, :value [2 4], :process 6, :time 19465509253, :error :connect, :index 5425}
{:type :invoke, :f :read, :value nil, :process 4, :time 19466497618, :index 5427}
{:type :fail, :f :read, :value nil, :process 4, :time 19468125348, :error :connect, :index 5429}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 19472501372, :index 5430}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 19474647392, :error :connect, :index 5431}
{:type :invoke, :f :read, :value nil, :process 5, :time 19480935098, :index 5432}
{:type :fail, :f :read, :value nil, :process 5, :time 19483043976, :error :connect, :index 5433}
{:type :invoke, :f :write, :value 2, :process 22, :time 19517287935, :index 5440}
{:type :fail, :f :write, :value 2, :process 22, :time 19518966008, :error :connect, :index 5441}
{:type :invoke, :f :write, :value 2, :process 6, :time 19534795426, :index 5446}
{:type :fail, :f :write, :value 2, :process 6, :time 19536674334, :error :connect, :index 5447}
{:type :invoke, :f :write, :value 3, :process 21, :time 19536963625, :index 5448}
{:type :invoke, :f :read, :value nil, :process 4, :time 19537396475, :index 5449}
{:type :fail, :f :write, :value 3, :process 21, :time 19538845312, :error :connect, :index 5450}
{:type :fail, :f :read, :value nil, :process 4, :time 19539216203, :error :connect, :index 5451}
{:type :invoke, :f :read, :value nil, :process 4, :time 19569465750, :index 5458}
{:type :fail, :f :read, :value nil, :process 4, :time 19571295734, :error :connect, :index 5459}
{:type :invoke, :f :read, :value nil, :process 5, :time 19572309330, :index 5460}
{:type :fail, :f :read, :value nil, :process 5, :time 19574125589, :error :connect, :index 5461}
{:type :invoke, :f :cas, :value [0 3], :process 22, :time 19576223267, :index 5462}
{:type :fail, :f :cas, :value [0 3], :process 22, :time 19578108225, :error :connect, :index 5463}
{:type :invoke, :f :read, :value nil, :process 8, :time 19582363453, :index 5464}
{:type :fail, :f :read, :value nil, :process 8, :time 19584273428, :error :connect, :index 5465}
{:type :invoke, :f :read, :value nil, :process 7, :time 19585649500, :index 5467}
{:type :fail, :f :read, :value nil, :process 7, :time 19587690296, :error :connect, :index 5469}
{:type :invoke, :f :cas, :value [2 4], :process 3, :time 19590642942, :index 5470}
{:type :invoke, :f :cas, :value [3 1], :process 29, :time 19591564951, :index 5471}
{:type :fail, :f :cas, :value [2 4], :process 3, :time 19592592976, :error :connect, :index 5472}
{:type :fail, :f :cas, :value [3 1], :process 29, :time 19593607757, :error :connect, :index 5473}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 19599875515, :index 5476}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 19601622916, :error :connect, :index 5479}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 19603932862, :index 5480}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 19605557989, :error :connect, :index 5481}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 19618038197, :index 5482}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 19619984257, :error :connect, :index 5483}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 19624571407, :index 5486}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 19626615060, :error :connect, :index 5487}
{:type :invoke, :f :cas, :value [4 0], :process 5, :time 19631423078, :index 5489}
{:type :fail, :f :cas, :value [4 0], :process 5, :time 19633374542, :error :connect, :index 5491}
{:type :invoke, :f :write, :value 4, :process 5, :time 19640613383, :index 5492}
{:type :invoke, :f :read, :value nil, :process 22, :time 19642369574, :index 5493}
{:type :fail, :f :write, :value 4, :process 5, :time 19642750530, :error :connect, :index 5494}
{:type :fail, :f :read, :value nil, :process 22, :time 19644568648, :error :connect, :index 5495}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 19671018071, :index 5507}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 19673359327, :error :connect, :index 5509}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 19678533786, :index 5512}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 19680447530, :error :connect, :index 5513}
{:type :invoke, :f :write, :value 4, :process 29, :time 19690871002, :index 5514}
{:type :fail, :f :write, :value 4, :process 29, :time 19692725253, :error :connect, :index 5515}
{:type :invoke, :f :read, :value nil, :process 4, :time 19698913161, :index 5518}
{:type :fail, :f :read, :value nil, :process 4, :time 19700973140, :error :connect, :index 5519}
{:type :invoke, :f :cas, :value [3 2], :process 7, :time 19706954937, :index 5520}
{:type :fail, :f :cas, :value [3 2], :process 7, :time 19708893293, :error :connect, :index 5521}
{:type :invoke, :f :read, :value nil, :process 0, :time 19719248176, :index 5526}
{:type :fail, :f :read, :value nil, :process 0, :time 19721378811, :error :connect, :index 5528}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 19724126744, :index 5532}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 19726021358, :error :connect, :index 5533}
{:type :invoke, :f :write, :value 3, :process 3, :time 19750883246, :index 5534}
{:type :fail, :f :write, :value 3, :process 3, :time 19752599041, :error :connect, :index 5535}
{:type :invoke, :f :write, :value 4, :process 6, :time 19768825012, :index 5538}
{:type :fail, :f :write, :value 4, :process 6, :time 19770498039, :error :connect, :index 5539}
{:type :invoke, :f :read, :value nil, :process 5, :time 19786605758, :index 5556}
{:type :fail, :f :read, :value nil, :process 5, :time 19788660263, :error :connect, :index 5557}
{:type :invoke, :f :write, :value 1, :process 22, :time 19819824989, :index 5566}
{:type :fail, :f :write, :value 1, :process 22, :time 19821841694, :error :connect, :index 5567}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 19872729280, :index 5592}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 19874658652, :error :connect, :index 5593}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
