{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :invoke, :f :cas, :value [1 1], :process 79, :time 51523105702, :index 8192}
{:type :invoke, :f :read, :value nil, :process 50, :time 51542567969, :index 8197}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :invoke, :f :write, :value 2, :process 75, :time 51558363942, :index 8199}
{:type :invoke, :f :cas, :value [0 1], :process 78, :time 51568991971, :index 8201}
{:type :invoke, :f :write, :value 4, :process 33, :time 51710857895, :index 8204}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :fail, :f :cas, :value [1 1], :process 79, :time 52076352856, :error :not-found, :index 8216}
{:type :invoke, :f :cas, :value [2 1], :process 54, :time 52089135871, :index 8218}
{:type :fail, :f :cas, :value [2 1], :process 54, :time 52094771651, :error :not-found, :index 8219}
{:type :invoke, :f :read, :value nil, :process 31, :time 52094935808, :index 8220}
{:type :ok, :f :read, :value nil, :process 31, :time 52099896854, :index 8221}
{:type :invoke, :f :read, :value nil, :process 52, :time 52103139581, :index 8223}
{:type :ok, :f :read, :value nil, :process 52, :time 52108388698, :index 8225}
{:type :invoke, :f :write, :value 2, :process 31, :time 52129160747, :index 8228}
{:type :ok, :f :write, :value 2, :process 31, :time 52133288498, :index 8230}
{:type :invoke, :f :cas, :value [2 2], :process 57, :time 52139223627, :index 8231}
{:type :invoke, :f :write, :value 0, :process 52, :time 52140672532, :index 8233}
{:type :ok, :f :cas, :value [2 2], :process 57, :time 52145519785, :index 8234}
{:type :ok, :f :write, :value 0, :process 52, :time 52146175174, :index 8235}
{:type :invoke, :f :read, :value nil, :process 16, :time 52222802957, :index 8237}
{:type :invoke, :f :read, :value nil, :process 52, :time 52235430610, :index 8239}
{:type :invoke, :f :read, :value nil, :process 57, :time 52247785715, :index 8240}
{:type :invoke, :f :cas, :value [1 0], :process 79, :time 52257107176, :index 8243}
{:type :invoke, :f :cas, :value [0 1], :process 54, :time 52263065788, :index 8244}
{:type :invoke, :f :cas, :value [1 2], :process 31, :time 52290530622, :index 8247}
{:type :ok, :f :read, :value 0, :process 16, :time 52461502752, :index 8249}
{:type :ok, :f :cas, :value [1 2], :process 31, :time 52461828029, :index 8250}
{:type :ok, :f :cas, :value [0 1], :process 54, :time 52462277022, :index 8251}
{:type :fail, :f :cas, :value [1 0], :process 79, :time 52462973066, :index 8254}
{:type :ok, :f :read, :value 2, :process 57, :time 52463913302, :index 8257}
{:type :ok, :f :read, :value 2, :process 52, :time 52464182389, :index 8258}
{:type :invoke, :f :write, :value 0, :process 57, :time 52466201571, :index 8260}
{:type :invoke, :f :cas, :value [1 1], :process 31, :time 52468248871, :index 8261}
{:type :ok, :f :write, :value 0, :process 57, :time 52472038269, :index 8262}
{:type :fail, :f :cas, :value [1 1], :process 31, :time 52472867887, :index 8263}
{:type :invoke, :f :read, :value nil, :process 31, :time 52497141444, :index 8266}
{:type :ok, :f :read, :value 0, :process 31, :time 52503707652, :index 8267}
{:type :invoke, :f :write, :value 3, :process 16, :time 52511762510, :index 8268}
{:type :ok, :f :write, :value 3, :process 16, :time 52517135160, :index 8269}
{:type :invoke, :f :cas, :value [1 3], :process 52, :time 52525441452, :index 8271}
{:type :fail, :f :cas, :value [1 3], :process 52, :time 52531292747, :index 8274}
{:type :invoke, :f :write, :value 1, :process 79, :time 52550751495, :index 8276}
{:type :invoke, :f :write, :value 4, :process 54, :time 52572316416, :index 8278}
{:type :invoke, :f :write, :value 3, :process 31, :time 52601003383, :index 8282}
{:type :invoke, :f :cas, :value [2 4], :process 52, :time 52624679578, :index 8285}
{:type :invoke, :f :cas, :value [3 2], :process 57, :time 52643321696, :index 8286}
{:type :invoke, :f :read, :value nil, :process 16, :time 52695394701, :index 8287}
{:type :ok, :f :write, :value 1, :process 79, :time 53632352127, :index 8288}
{:type :ok, :f :read, :value 2, :process 16, :time 53634159959, :index 8289}
{:type :ok, :f :read, :value 1, :process 50, :time 53636229848, :index 8295}
{:type :ok, :f :write, :value 2, :process 75, :time 53636508366, :index 8296}
{:type :fail, :f :cas, :value [0 1], :process 78, :time 53636622893, :index 8297}
{:type :ok, :f :write, :value 4, :process 33, :time 53637090263, :index 8300}
{:type :ok, :f :write, :value 4, :process 54, :time 53637492690, :index 8302}
{:type :fail, :f :cas, :value [2 4], :process 52, :time 53638593949, :index 8304}
{:type :ok, :f :cas, :value [3 2], :process 57, :time 53638960330, :index 8306}
{:type :ok, :f :write, :value 3, :process 31, :time 53639143750, :index 8307}
{:type :invoke, :f :cas, :value [2 3], :process 31, :time 53697459538, :index 8314}
{:type :invoke, :f :read, :value nil, :process 78, :time 53701867116, :index 8315}
{:type :ok, :f :cas, :value [2 3], :process 31, :time 53702373289, :index 8316}
{:type :ok, :f :read, :value 3, :process 78, :time 53707618286, :index 8317}
{:type :invoke, :f :write, :value 4, :process 52, :time 53714861303, :index 8318}
{:type :ok, :f :write, :value 4, :process 52, :time 53720424020, :index 8320}
{:type :invoke, :f :cas, :value [3 2], :process 57, :time 53732418807, :index 8322}
{:type :fail, :f :cas, :value [3 2], :process 57, :time 53737332542, :index 8323}
{:type :invoke, :f :write, :value 2, :process 16, :time 53766454383, :index 8332}
{:type :invoke, :f :cas, :value [0 4], :process 79, :time 53766728060, :index 8333}
{:type :ok, :f :write, :value 2, :process 16, :time 53771363695, :index 8335}
{:type :fail, :f :cas, :value [0 4], :process 79, :time 53772646668, :index 8337}
{:type :invoke, :f :read, :value nil, :process 75, :time 53783743790, :index 8340}
{:type :ok, :f :read, :value 2, :process 75, :time 53790290288, :index 8343}
{:type :invoke, :f :read, :value nil, :process 33, :time 53792339731, :index 8344}
{:type :ok, :f :read, :value 2, :process 33, :time 53797165794, :index 8348}
{:type :invoke, :f :cas, :value [2 4], :process 50, :time 53809471441, :index 8351}
{:type :ok, :f :cas, :value [2 4], :process 50, :time 53815057353, :index 8353}
{:type :invoke, :f :read, :value nil, :process 31, :time 53816854023, :index 8354}
{:type :ok, :f :read, :value 4, :process 31, :time 53821654611, :index 8356}
{:type :invoke, :f :cas, :value [3 4], :process 31, :time 53821766247, :index 8357}
{:type :fail, :f :cas, :value [3 4], :process 31, :time 53827273486, :index 8360}
{:type :invoke, :f :write, :value 0, :process 54, :time 53835727556, :index 8362}
{:type :invoke, :f :cas, :value [2 3], :process 33, :time 53839417326, :index 8363}
{:type :ok, :f :write, :value 0, :process 54, :time 53840846467, :index 8365}
{:type :invoke, :f :read, :value nil, :process 52, :time 53843755116, :index 8366}
{:type :invoke, :f :read, :value nil, :process 79, :time 53847916148, :index 8370}
{:type :ok, :f :read, :value 0, :process 52, :time 53849217919, :index 8371}
{:type :ok, :f :read, :value 0, :process 79, :time 53853604795, :index 8374}
{:type :invoke, :f :read, :value nil, :process 16, :time 53874625058, :index 8377}
{:type :ok, :f :read, :value 0, :process 16, :time 53879562480, :index 8378}
{:type :invoke, :f :cas, :value [2 0], :process 75, :time 53884573592, :index 8381}
{:type :invoke, :f :write, :value 2, :process 79, :time 53885838402, :index 8382}
{:type :invoke, :f :read, :value nil, :process 78, :time 53888883934, :index 8384}
{:type :fail, :f :cas, :value [2 0], :process 75, :time 53889893483, :index 8385}
{:type :invoke, :f :cas, :value [1 2], :process 57, :time 53894596810, :index 8386}
{:type :invoke, :f :read, :value nil, :process 75, :time 53940171333, :index 8391}
{:type :invoke, :f :read, :value nil, :process 50, :time 53954312696, :index 8394}
{:type :invoke, :f :write, :value 3, :process 16, :time 53957825445, :index 8395}
{:type :invoke, :f :read, :value nil, :process 52, :time 53977539936, :index 8397}
{:type :invoke, :f :read, :value nil, :process 31, :time 54000545247, :index 8400}
{:type :invoke, :f :write, :value 1, :process 54, :time 54016122475, :index 8401}
{:type :ok, :f :write, :value 2, :process 79, :time 54405241055, :index 8402}
{:type :ok, :f :write, :value 3, :process 16, :time 54406225804, :index 8403}
{:type :ok, :f :read, :value 1, :process 78, :time 54406920474, :index 8406}
{:type :ok, :f :read, :value 2, :process 50, :time 54407741691, :index 8408}
{:type :fail, :f :cas, :value [2 3], :process 33, :time 54407781489, :index 8409}
{:type :ok, :f :read, :value 2, :process 75, :time 54408008498, :index 8410}
{:type :invoke, :f :read, :value nil, :process 78, :time 54409012132, :index 8415}
{:type :ok, :f :write, :value 1, :process 54, :time 54409279392, :index 8416}
{:type :fail, :f :cas, :value [1 2], :process 57, :time 54411040749, :index 8420}
{:type :ok, :f :read, :value 3, :process 52, :time 54411152470, :index 8421}
{:type :ok, :f :read, :value 3, :process 31, :time 54411602767, :index 8422}
{:type :ok, :f :read, :value 1, :process 78, :time 54414913221, :index 8423}
{:type :invoke, :f :read, :value nil, :process 79, :time 54446592496, :index 8424}
{:type :invoke, :f :write, :value 4, :process 75, :time 54449221365, :index 8425}
{:type :ok, :f :read, :value 1, :process 79, :time 54452370135, :index 8426}
{:type :ok, :f :write, :value 4, :process 75, :time 54454839967, :index 8427}
{:type :invoke, :f :read, :value nil, :process 50, :time 54485987322, :index 8431}
{:type :ok, :f :read, :value 4, :process 50, :time 54490960085, :index 8433}
{:type :invoke, :f :read, :value nil, :process 78, :time 54503161691, :index 8437}
{:type :invoke, :f :read, :value nil, :process 33, :time 54504044855, :index 8438}
{:type :ok, :f :read, :value 4, :process 78, :time 54508698731, :index 8440}
{:type :ok, :f :read, :value 4, :process 33, :time 54509344353, :index 8441}
{:type :invoke, :f :write, :value 2, :process 50, :time 54518195928, :index 8444}
{:type :invoke, :f :read, :value nil, :process 31, :time 54529833102, :index 8445}
{:type :ok, :f :read, :value 4, :process 31, :time 54534574493, :index 8447}
{:type :invoke, :f :write, :value 0, :process 78, :time 54562955718, :index 8452}
{:type :ok, :f :write, :value 0, :process 78, :time 54567977495, :index 8455}
{:type :invoke, :f :read, :value nil, :process 54, :time 54570307295, :index 8458}
{:type :invoke, :f :read, :value nil, :process 52, :time 54570776449, :index 8459}
{:type :ok, :f :read, :value 0, :process 54, :time 54575522777, :index 8462}
{:type :ok, :f :read, :value 0, :process 52, :time 54575779295, :index 8463}
{:type :invoke, :f :write, :value 0, :process 75, :time 54580110038, :index 8465}
{:type :invoke, :f :read, :value nil, :process 57, :time 54595710820, :index 8466}
{:type :invoke, :f :write, :value 0, :process 54, :time 54596810147, :index 8467}
{:type :invoke, :f :cas, :value [4 1], :process 16, :time 54597624841, :index 8468}
{:type :ok, :f :read, :value 0, :process 57, :time 54601912305, :index 8470}
{:type :fail, :f :cas, :value [4 1], :process 16, :time 54602835834, :index 8471}
{:type :ok, :f :write, :value 0, :process 54, :time 54603159897, :index 8472}
{:type :invoke, :f :cas, :value [2 1], :process 54, :time 54605399575, :index 8473}
{:type :invoke, :f :write, :value 3, :process 33, :time 54607592384, :index 8475}
{:type :fail, :f :cas, :value [2 1], :process 54, :time 54610869105, :index 8478}
{:type :ok, :f :write, :value 3, :process 33, :time 54612393358, :index 8479}
{:type :invoke, :f :read, :value nil, :process 31, :time 54613847231, :index 8480}
{:type :ok, :f :read, :value 3, :process 31, :time 54618552390, :index 8482}
{:type :invoke, :f :read, :value nil, :process 78, :time 54627243756, :index 8484}
{:type :ok, :f :read, :value 3, :process 78, :time 54631745612, :index 8487}
{:type :invoke, :f :read, :value nil, :process 79, :time 54635636511, :index 8489}
{:type :ok, :f :read, :value 3, :process 79, :time 54640787788, :index 8491}
{:type :invoke, :f :cas, :value [1 3], :process 54, :time 54642127665, :index 8492}
{:type :fail, :f :cas, :value [1 3], :process 54, :time 54649200174, :index 8494}
{:type :invoke, :f :read, :value nil, :process 78, :time 54655997672, :index 8495}
{:type :ok, :f :read, :value 3, :process 78, :time 54661409909, :index 8497}
{:type :invoke, :f :read, :value nil, :process 16, :time 54666189713, :index 8498}
{:type :ok, :f :read, :value 3, :process 16, :time 54671093237, :index 8499}
{:type :invoke, :f :read, :value nil, :process 57, :time 54683192546, :index 8500}
{:type :ok, :f :read, :value 3, :process 57, :time 54688748690, :index 8502}
{:type :invoke, :f :cas, :value [2 1], :process 33, :time 54690646935, :index 8503}
{:type :fail, :f :cas, :value [2 1], :process 33, :time 54695584336, :index 8505}
{:type :invoke, :f :read, :value nil, :process 78, :time 54695677316, :index 8506}
{:type :ok, :f :read, :value 3, :process 78, :time 54700061807, :index 8508}
{:type :invoke, :f :write, :value 4, :process 31, :time 54716810249, :index 8512}
{:type :ok, :f :write, :value 4, :process 31, :time 54721195895, :index 8513}
{:type :invoke, :f :write, :value 4, :process 52, :time 54736028203, :index 8514}
{:type :ok, :f :write, :value 4, :process 52, :time 54741061316, :index 8515}
{:type :invoke, :f :cas, :value [4 3], :process 79, :time 54756069537, :index 8516}
{:type :ok, :f :cas, :value [4 3], :process 79, :time 54761340751, :index 8517}
{:type :invoke, :f :read, :value nil, :process 54, :time 54763496348, :index 8518}
{:type :invoke, :f :cas, :value [2 0], :process 57, :time 54765079401, :index 8519}
{:type :ok, :f :read, :value 3, :process 54, :time 54769175746, :index 8520}
{:type :fail, :f :cas, :value [2 0], :process 57, :time 54770092383, :index 8521}
{:type :ok, :f :write, :value 2, :process 50, :time 54794592533, :index 8531}
{:type :ok, :f :write, :value 0, :process 75, :time 54795423397, :index 8533}
{:type :invoke, :f :write, :value 3, :process 31, :time 54813458325, :index 8537}
{:type :ok, :f :write, :value 3, :process 31, :time 54817974633, :index 8538}
{:type :invoke, :f :read, :value nil, :process 57, :time 54825395681, :index 8540}
{:type :ok, :f :read, :value 3, :process 57, :time 54830297108, :index 8541}
{:type :invoke, :f :read, :value nil, :process 16, :time 54849353709, :index 8544}
{:type :ok, :f :read, :value 3, :process 16, :time 54854148403, :index 8546}
{:type :invoke, :f :read, :value nil, :process 52, :time 54867322196, :index 8549}
{:type :ok, :f :read, :value 3, :process 52, :time 54872176173, :index 8552}
{:type :invoke, :f :read, :value nil, :process 54, :time 54875434598, :index 8553}
{:type :ok, :f :read, :value 3, :process 54, :time 54879807953, :index 8555}
{:type :invoke, :f :cas, :value [2 0], :process 33, :time 54883850249, :index 8556}
{:type :invoke, :f :read, :value nil, :process 78, :time 54886301975, :index 8558}
{:type :fail, :f :cas, :value [2 0], :process 33, :time 54889535753, :index 8560}
{:type :ok, :f :read, :value 3, :process 78, :time 54891167690, :index 8562}
{:type :invoke, :f :write, :value 0, :process 75, :time 54910681066, :index 8566}
{:type :ok, :f :write, :value 0, :process 75, :time 54916097748, :index 8567}
{:type :invoke, :f :write, :value 2, :process 31, :time 54951261360, :index 8572}
{:type :invoke, :f :write, :value 0, :process 79, :time 54955614176, :index 8574}
{:type :ok, :f :write, :value 2, :process 31, :time 54956068542, :index 8575}
{:type :ok, :f :write, :value 0, :process 79, :time 54961723219, :index 8578}
{:type :invoke, :f :cas, :value [2 2], :process 50, :time 54961890284, :index 8579}
{:type :invoke, :f :read, :value nil, :process 52, :time 54963435109, :index 8581}
{:type :ok, :f :read, :value 0, :process 52, :time 54968500224, :index 8582}
{:type :fail, :f :cas, :value [2 2], :process 50, :time 54968779461, :index 8583}
{:type :invoke, :f :write, :value 0, :process 16, :time 55012425324, :index 8597}
{:type :invoke, :f :read, :value nil, :process 57, :time 55013560341, :index 8598}
{:type :ok, :f :write, :value 0, :process 16, :time 55016913501, :index 8601}
{:type :ok, :f :read, :value 0, :process 57, :time 55018577779, :index 8602}
{:type :invoke, :f :cas, :value [0 1], :process 54, :time 55038041277, :index 8609}
{:type :ok, :f :cas, :value [0 1], :process 54, :time 55043615533, :index 8612}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
