{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :invoke, :f :write, :value 0, :process 17, :time 51194679109, :index 7878}
{:type :ok, :f :write, :value 0, :process 17, :time 51199737295, :index 7879}
{:type :invoke, :f :read, :value nil, :process 35, :time 51322325584, :index 7886}
{:type :invoke, :f :read, :value nil, :process 17, :time 51350999976, :index 7888}
{:type :invoke, :f :cas, :value [1 1], :process 51, :time 51367090928, :index 7889}
{:type :invoke, :f :cas, :value [1 0], :process 50, :time 51369520227, :index 7891}
{:type :invoke, :f :cas, :value [1 4], :process 52, :time 51378447427, :index 7893}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :invoke, :f :read, :value nil, :process 118, :time 51602259843, :index 7904}
{:type :invoke, :f :cas, :value [3 2], :process 99, :time 51631942638, :index 7905}
{:type :invoke, :f :cas, :value [1 0], :process 73, :time 51648644599, :index 7907}
{:type :invoke, :f :cas, :value [1 4], :process 74, :time 51733740046, :index 7910}
{:type :fail, :f :cas, :value [1 1], :process 51, :time 51753605606, :index 7916}
{:type :ok, :f :read, :value 0, :process 17, :time 51753924907, :index 7917}
{:type :fail, :f :cas, :value [1 4], :process 52, :time 51753989204, :index 7918}
{:type :ok, :f :read, :value 0, :process 35, :time 51754589478, :index 7920}
{:type :fail, :f :cas, :value [1 0], :process 50, :time 51754702923, :index 7921}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :invoke, :f :read, :value nil, :process 36, :time 51767037237, :index 7924}
{:type :ok, :f :read, :value 0, :process 36, :time 51771380209, :index 7925}
{:type :invoke, :f :write, :value 3, :process 52, :time 51832241952, :index 7930}
{:type :ok, :f :write, :value 3, :process 52, :time 51838667735, :index 7931}
{:type :invoke, :f :cas, :value [1 2], :process 17, :time 51887160833, :index 7938}
{:type :invoke, :f :read, :value nil, :process 51, :time 51891890741, :index 7940}
{:type :fail, :f :cas, :value [1 2], :process 17, :time 51893204436, :index 7941}
{:type :ok, :f :read, :value 3, :process 51, :time 51897003118, :index 7943}
{:type :invoke, :f :read, :value nil, :process 17, :time 51908468285, :index 7948}
{:type :invoke, :f :read, :value nil, :process 35, :time 51908886199, :index 7949}
{:type :invoke, :f :read, :value nil, :process 52, :time 51910973195, :index 7951}
{:type :ok, :f :read, :value 3, :process 17, :time 51913454067, :index 7953}
{:type :ok, :f :read, :value 3, :process 35, :time 51915243186, :index 7955}
{:type :ok, :f :read, :value 3, :process 52, :time 51915561497, :index 7956}
{:type :invoke, :f :read, :value nil, :process 50, :time 51942956392, :index 7962}
{:type :ok, :f :read, :value 3, :process 50, :time 51948888227, :index 7963}
{:type :invoke, :f :cas, :value [2 2], :process 36, :time 51961640624, :index 7964}
{:type :fail, :f :cas, :value [2 2], :process 36, :time 51966356646, :index 7965}
{:type :invoke, :f :cas, :value [4 3], :process 51, :time 51972245358, :index 7967}
{:type :fail, :f :cas, :value [4 3], :process 51, :time 51976987308, :index 7969}
{:type :invoke, :f :read, :value nil, :process 17, :time 52024709190, :index 7975}
{:type :ok, :f :read, :value 3, :process 17, :time 52029449830, :index 7977}
{:type :invoke, :f :cas, :value [4 1], :process 52, :time 52035807337, :index 7978}
{:type :fail, :f :cas, :value [4 1], :process 52, :time 52042977913, :index 7980}
{:type :invoke, :f :cas, :value [4 0], :process 51, :time 52057257254, :index 7984}
{:type :invoke, :f :write, :value 2, :process 17, :time 52057718269, :index 7985}
{:type :fail, :f :cas, :value [4 0], :process 51, :time 52062613735, :index 7986}
{:type :ok, :f :write, :value 2, :process 17, :time 52063259640, :index 7987}
{:type :invoke, :f :read, :value nil, :process 35, :time 52083490059, :index 7990}
{:type :invoke, :f :write, :value 1, :process 36, :time 52086615231, :index 7991}
{:type :ok, :f :read, :value 2, :process 35, :time 52090976745, :index 7992}
{:type :ok, :f :write, :value 1, :process 36, :time 52091895010, :index 7993}
{:type :invoke, :f :cas, :value [4 1], :process 50, :time 52115158007, :index 7994}
{:type :invoke, :f :read, :value nil, :process 52, :time 52117247120, :index 7996}
{:type :ok, :f :read, :value 1, :process 52, :time 52122415161, :index 7997}
{:type :fail, :f :cas, :value [4 1], :process 50, :time 52122471471, :index 7998}
{:type :invoke, :f :read, :value nil, :process 50, :time 52126726548, :index 8000}
{:type :ok, :f :read, :value 1, :process 50, :time 52132268572, :index 8001}
{:type :invoke, :f :cas, :value [2 1], :process 50, :time 52149541525, :index 8004}
{:type :fail, :f :cas, :value [2 1], :process 50, :time 52155258326, :index 8005}
{:type :invoke, :f :read, :value nil, :process 51, :time 52165919141, :index 8008}
{:type :ok, :f :read, :value 1, :process 51, :time 52171559401, :index 8009}
{:type :invoke, :f :read, :value nil, :process 36, :time 52175198437, :index 8010}
{:type :invoke, :f :cas, :value [0 4], :process 17, :time 52175530133, :index 8011}
{:type :invoke, :f :read, :value nil, :process 52, :time 52177717170, :index 8012}
{:type :ok, :f :read, :value 1, :process 36, :time 52180127451, :index 8013}
{:type :invoke, :f :read, :value nil, :process 50, :time 52181518627, :index 8014}
{:type :ok, :f :read, :value 1, :process 52, :time 52182492927, :index 8016}
{:type :fail, :f :cas, :value [0 4], :process 17, :time 52182947636, :index 8017}
{:type :invoke, :f :read, :value nil, :process 17, :time 52183065322, :index 8018}
{:type :ok, :f :read, :value 1, :process 50, :time 52188449228, :index 8020}
{:type :ok, :f :read, :value 1, :process 17, :time 52188697139, :index 8021}
{:type :invoke, :f :write, :value 0, :process 51, :time 52190722487, :index 8022}
{:type :ok, :f :write, :value 0, :process 51, :time 52195487325, :index 8023}
{:type :invoke, :f :cas, :value [3 0], :process 50, :time 52200969886, :index 8024}
{:type :invoke, :f :read, :value nil, :process 35, :time 52202273524, :index 8025}
{:type :fail, :f :cas, :value [3 0], :process 50, :time 52206607481, :index 8026}
{:type :ok, :f :read, :value 0, :process 35, :time 52208129848, :index 8027}
{:type :invoke, :f :read, :value nil, :process 51, :time 52213749189, :index 8028}
{:type :ok, :f :read, :value 0, :process 51, :time 52221945730, :index 8032}
{:type :invoke, :f :read, :value nil, :process 35, :time 52245373543, :index 8036}
{:type :invoke, :f :read, :value nil, :process 17, :time 52246013541, :index 8037}
{:type :invoke, :f :cas, :value [1 3], :process 51, :time 52250430035, :index 8038}
{:type :ok, :f :read, :value 0, :process 35, :time 52250812367, :index 8039}
{:type :ok, :f :read, :value 0, :process 17, :time 52251345578, :index 8040}
{:type :fail, :f :cas, :value [1 3], :process 51, :time 52255789073, :index 8042}
{:type :invoke, :f :write, :value 1, :process 50, :time 52258930473, :index 8044}
{:type :ok, :f :write, :value 1, :process 50, :time 52264300613, :index 8045}
{:type :invoke, :f :write, :value 4, :process 51, :time 52292047936, :index 8050}
{:type :ok, :f :write, :value 4, :process 51, :time 52296834138, :index 8051}
{:type :invoke, :f :read, :value nil, :process 52, :time 52296820925, :index 8052}
{:type :ok, :f :read, :value 4, :process 52, :time 52302553729, :index 8053}
{:type :invoke, :f :write, :value 0, :process 35, :time 52303133038, :index 8054}
{:type :ok, :f :write, :value 0, :process 35, :time 52308657169, :index 8055}
{:type :invoke, :f :write, :value 4, :process 50, :time 52312557798, :index 8056}
{:type :ok, :f :write, :value 4, :process 50, :time 52318172695, :index 8057}
{:type :invoke, :f :write, :value 4, :process 51, :time 52320103732, :index 8058}
{:type :ok, :f :write, :value 4, :process 51, :time 52325461611, :index 8060}
{:type :invoke, :f :read, :value nil, :process 36, :time 52347411913, :index 8063}
{:type :ok, :f :read, :value 4, :process 36, :time 52352321661, :index 8064}
{:type :invoke, :f :write, :value 4, :process 50, :time 52383433508, :index 8071}
{:type :ok, :f :write, :value 4, :process 50, :time 52389497211, :index 8073}
{:type :invoke, :f :read, :value nil, :process 50, :time 52424748824, :index 8082}
{:type :invoke, :f :write, :value 2, :process 17, :time 52425152858, :index 8083}
{:type :invoke, :f :cas, :value [1 3], :process 36, :time 52427586927, :index 8084}
{:type :ok, :f :write, :value 2, :process 17, :time 52430495345, :index 8085}
{:type :ok, :f :read, :value 2, :process 50, :time 52432034946, :index 8086}
{:type :fail, :f :cas, :value [1 3], :process 36, :time 52432700806, :index 8087}
{:type :invoke, :f :write, :value 2, :process 35, :time 52440960353, :index 8088}
{:type :ok, :f :write, :value 2, :process 35, :time 52447405949, :index 8089}
{:type :invoke, :f :cas, :value [2 0], :process 50, :time 52450290642, :index 8090}
{:type :ok, :f :cas, :value [2 0], :process 50, :time 52456337631, :index 8091}
{:type :invoke, :f :write, :value 4, :process 52, :time 52470879168, :index 8093}
{:type :invoke, :f :write, :value 2, :process 51, :time 52477797116, :index 8095}
{:type :invoke, :f :read, :value nil, :process 50, :time 52480537506, :index 8097}
{:type :invoke, :f :cas, :value [0 4], :process 35, :time 52495665536, :index 8098}
{:type :invoke, :f :write, :value 2, :process 36, :time 52518958417, :index 8100}
{:type :invoke, :f :write, :value 3, :process 17, :time 52533771415, :index 8101}
{:type :ok, :f :write, :value 4, :process 52, :time 52664771561, :index 8106}
{:type :invoke, :f :read, :value nil, :process 52, :time 52818070567, :index 8107}
{:type :ok, :f :read, :value 2, :process 50, :time 55143200784, :index 8109}
{:type :ok, :f :write, :value 2, :process 36, :time 55144055414, :index 8113}
{:type :ok, :f :read, :value 2, :process 52, :time 55144677881, :index 8115}
{:type :fail, :f :cas, :value [1 4], :process 74, :time 55145455912, :index 8117}
{:type :ok, :f :cas, :value [3 2], :process 99, :time 55145715847, :index 8119}
{:type :fail, :f :cas, :value [1 0], :process 73, :time 55146624384, :index 8121}
{:type :ok, :f :read, :value 2, :process 118, :time 55147394384, :index 8123}
{:type :ok, :f :write, :value 2, :process 51, :time 55147886719, :index 8124}
{:type :fail, :f :cas, :value [0 4], :process 35, :time 55148127974, :index 8125}
{:type :ok, :f :write, :value 3, :process 17, :time 55148248749, :index 8126}
{:type :invoke, :f :read, :value nil, :process 52, :time 55183145656, :index 8128}
{:type :ok, :f :read, :value 2, :process 52, :time 55188519460, :index 8129}
{:type :invoke, :f :write, :value 0, :process 17, :time 55191483714, :index 8132}
{:type :ok, :f :write, :value 0, :process 17, :time 55196877048, :index 8135}
{:type :invoke, :f :write, :value 0, :process 35, :time 55201419912, :index 8137}
{:type :ok, :f :write, :value 0, :process 35, :time 55206043847, :index 8139}
{:type :invoke, :f :cas, :value [2 4], :process 35, :time 55219295995, :index 8141}
{:type :fail, :f :cas, :value [2 4], :process 35, :time 55223488417, :index 8143}
{:type :invoke, :f :read, :value nil, :process 36, :time 55231323193, :index 8146}
{:type :invoke, :f :cas, :value [4 0], :process 51, :time 55232161480, :index 8147}
{:type :ok, :f :read, :value 0, :process 36, :time 55235900595, :index 8150}
{:type :fail, :f :cas, :value [4 0], :process 51, :time 55237622245, :index 8151}
{:type :invoke, :f :read, :value nil, :process 17, :time 55239123706, :index 8152}
{:type :ok, :f :read, :value 0, :process 17, :time 55243768202, :index 8153}
{:type :invoke, :f :write, :value 1, :process 50, :time 55266949895, :index 8157}
{:type :ok, :f :write, :value 1, :process 50, :time 55271201917, :index 8158}
{:type :invoke, :f :read, :value nil, :process 52, :time 55289777604, :index 8160}
{:type :invoke, :f :read, :value nil, :process 36, :time 55291165451, :index 8161}
{:type :invoke, :f :read, :value nil, :process 118, :time 55292633824, :index 8162}
{:type :ok, :f :read, :value 1, :process 52, :time 55295274926, :index 8163}
{:type :ok, :f :read, :value 1, :process 36, :time 55297534854, :index 8165}
{:type :ok, :f :read, :value 1, :process 118, :time 55298222019, :index 8166}
{:type :invoke, :f :write, :value 3, :process 35, :time 55298755376, :index 8167}
{:type :ok, :f :write, :value 3, :process 35, :time 55303328415, :index 8169}
{:type :invoke, :f :write, :value 4, :process 99, :time 55323122094, :index 8174}
{:type :ok, :f :write, :value 4, :process 99, :time 55328117538, :index 8175}
{:type :invoke, :f :cas, :value [0 0], :process 73, :time 55328937542, :index 8176}
{:type :fail, :f :cas, :value [0 0], :process 73, :time 55334750823, :index 8178}
{:type :invoke, :f :write, :value 1, :process 74, :time 55336012742, :index 8179}
{:type :ok, :f :write, :value 1, :process 74, :time 55340379094, :index 8181}
{:type :invoke, :f :write, :value 3, :process 50, :time 55352458646, :index 8184}
{:type :invoke, :f :read, :value nil, :process 35, :time 55355612833, :index 8185}
{:type :ok, :f :write, :value 3, :process 50, :time 55356501202, :index 8186}
{:type :invoke, :f :write, :value 0, :process 99, :time 55360377268, :index 8188}
{:type :ok, :f :read, :value 3, :process 35, :time 55361387636, :index 8189}
{:type :ok, :f :write, :value 0, :process 99, :time 55365428383, :index 8191}
{:type :invoke, :f :read, :value nil, :process 74, :time 55372637443, :index 8195}
{:type :ok, :f :read, :value 0, :process 74, :time 55377577133, :index 8198}
{:type :invoke, :f :write, :value 2, :process 51, :time 55378878350, :index 8199}
{:type :ok, :f :write, :value 2, :process 51, :time 55384415333, :index 8203}
{:type :invoke, :f :read, :value nil, :process 17, :time 55404025773, :index 8210}
{:type :invoke, :f :read, :value nil, :process 118, :time 55404479437, :index 8211}
{:type :invoke, :f :write, :value 1, :process 35, :time 55406651170, :index 8212}
{:type :ok, :f :read, :value 2, :process 17, :time 55409488091, :index 8213}
{:type :ok, :f :read, :value 2, :process 118, :time 55410785242, :index 8214}
{:type :ok, :f :write, :value 1, :process 35, :time 55410839616, :index 8215}
{:type :invoke, :f :read, :value nil, :process 36, :time 55412790896, :index 8216}
{:type :ok, :f :read, :value 1, :process 36, :time 55417931892, :index 8217}
{:type :invoke, :f :read, :value nil, :process 36, :time 55430193154, :index 8220}
{:type :invoke, :f :read, :value nil, :process 99, :time 55431683870, :index 8221}
{:type :ok, :f :read, :value 1, :process 36, :time 55437345680, :index 8222}
{:type :ok, :f :read, :value 1, :process 99, :time 55437345649, :index 8223}
{:type :invoke, :f :cas, :value [3 2], :process 51, :time 55442670471, :index 8226}
{:type :invoke, :f :write, :value 0, :process 50, :time 55444766718, :index 8229}
{:type :fail, :f :cas, :value [3 2], :process 51, :time 55447850224, :index 8231}
{:type :ok, :f :write, :value 0, :process 50, :time 55449420053, :index 8232}
{:type :invoke, :f :cas, :value [0 4], :process 52, :time 55461543559, :index 8239}
{:type :ok, :f :cas, :value [0 4], :process 52, :time 55468887716, :index 8242}
{:type :invoke, :f :cas, :value [4 3], :process 118, :time 55482059769, :index 8245}
{:type :ok, :f :cas, :value [4 3], :process 118, :time 55487132992, :index 8247}
{:type :invoke, :f :read, :value nil, :process 73, :time 55492016200, :index 8249}
{:type :invoke, :f :read, :value nil, :process 74, :time 55493892535, :index 8251}
{:type :ok, :f :read, :value 3, :process 73, :time 55497062125, :index 8254}
{:type :ok, :f :read, :value 3, :process 74, :time 55501748354, :index 8256}
{:type :invoke, :f :read, :value nil, :process 35, :time 55507068540, :index 8260}
{:type :invoke, :f :write, :value 4, :process 36, :time 55508637776, :index 8263}
{:type :ok, :f :read, :value 3, :process 35, :time 55511874600, :index 8264}
{:type :ok, :f :write, :value 4, :process 36, :time 55513312071, :index 8265}
{:type :invoke, :f :read, :value nil, :process 17, :time 55568753044, :index 8282}
{:type :ok, :f :read, :value 4, :process 17, :time 55573393274, :index 8283}
{:type :invoke, :f :write, :value 1, :process 99, :time 55616645633, :index 8293}
{:type :invoke, :f :write, :value 4, :process 51, :time 55620112502, :index 8298}
{:type :ok, :f :write, :value 1, :process 99, :time 55621722307, :index 8299}
{:type :ok, :f :write, :value 4, :process 51, :time 55625836883, :index 8305}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
