{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :invoke, :f :read, :value nil, :process 39, :time 42355215071, :index 14410}
{:type :fail, :f :read, :value nil, :process 39, :time 42356813340, :error :connect, :index 14411}
{:type :invoke, :f :cas, :value [1 1], :process 36, :time 42360566505, :index 14413}
{:type :fail, :f :cas, :value [1 1], :process 36, :time 42362521742, :error :connect, :index 14416}
{:type :invoke, :f :read, :value nil, :process 39, :time 42394071130, :index 14426}
{:type :fail, :f :read, :value nil, :process 39, :time 42396160858, :error :connect, :index 14428}
{:type :invoke, :f :write, :value 2, :process 15, :time 42401057129, :index 14430}
{:type :fail, :f :write, :value 2, :process 15, :time 42403098808, :error :connect, :index 14431}
{:type :invoke, :f :read, :value nil, :process 15, :time 42411368395, :index 14437}
{:type :fail, :f :read, :value nil, :process 15, :time 42413372518, :error :connect, :index 14440}
{:type :invoke, :f :cas, :value [3 3], :process 39, :time 42418425133, :index 14443}
{:type :fail, :f :cas, :value [3 3], :process 39, :time 42420316720, :error :connect, :index 14445}
{:type :invoke, :f :write, :value 0, :process 32, :time 42446452542, :index 14456}
{:type :fail, :f :write, :value 0, :process 32, :time 42448341237, :error :connect, :index 14457}
{:type :invoke, :f :read, :value nil, :process 37, :time 42448519553, :index 14458}
{:type :fail, :f :read, :value nil, :process 37, :time 42450093238, :error :connect, :index 14459}
{:type :invoke, :f :write, :value 3, :process 39, :time 42466562721, :index 14462}
{:type :fail, :f :write, :value 3, :process 39, :time 42468320936, :error :connect, :index 14463}
{:type :invoke, :f :read, :value nil, :process 34, :time 42499932021, :index 14474}
{:type :fail, :f :read, :value nil, :process 34, :time 42502046899, :error :connect, :index 14475}
{:type :invoke, :f :read, :value nil, :process 32, :time 42504616418, :index 14477}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 42505798051, :index 14478}
{:type :fail, :f :read, :value nil, :process 32, :time 42506761438, :error :connect, :index 14480}
{:type :fail, :f :cas, :value [0 0], :process 36, :time 42507741344, :error :connect, :index 14481}
{:type :invoke, :f :write, :value 2, :process 32, :time 42521995982, :index 14482}
{:type :fail, :f :write, :value 2, :process 32, :time 42523823544, :error :connect, :index 14483}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 42524947444, :index 14484}
{:type :fail, :f :cas, :value [1 1], :process 10, :time 42526609879, :error :connect, :index 14485}
{:type :invoke, :f :write, :value 1, :process 18, :time 42529148866, :index 14486}
{:type :invoke, :f :write, :value 2, :process 11, :time 42530476608, :index 14487}
{:type :invoke, :f :read, :value nil, :process 15, :time 42530648283, :index 14488}
{:type :fail, :f :write, :value 1, :process 18, :time 42531090542, :error :connect, :index 14490}
{:type :invoke, :f :write, :value 1, :process 33, :time 42531885514, :index 14491}
{:type :fail, :f :write, :value 2, :process 11, :time 42533028924, :error :connect, :index 14493}
{:type :fail, :f :read, :value nil, :process 15, :time 42533206867, :error :connect, :index 14494}
{:type :fail, :f :write, :value 1, :process 33, :time 42533654629, :error :connect, :index 14495}
{:type :invoke, :f :write, :value 0, :process 36, :time 42535042919, :index 14496}
{:type :invoke, :f :read, :value nil, :process 34, :time 42536314065, :index 14497}
{:type :fail, :f :write, :value 0, :process 36, :time 42536950716, :error :connect, :index 14498}
{:type :fail, :f :read, :value nil, :process 34, :time 42538482187, :error :connect, :index 14500}
{:type :invoke, :f :write, :value 3, :process 10, :time 42625899289, :index 14522}
{:type :fail, :f :write, :value 3, :process 10, :time 42627507971, :error :connect, :index 14523}
{:type :invoke, :f :write, :value 0, :process 34, :time 42635752652, :index 14526}
{:type :fail, :f :write, :value 0, :process 34, :time 42637730180, :error :connect, :index 14527}
{:type :invoke, :f :write, :value 3, :process 37, :time 42638359414, :index 14528}
{:type :fail, :f :write, :value 3, :process 37, :time 42640193207, :error :connect, :index 14529}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 42653581764, :index 14532}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 42655443881, :error :connect, :index 14533}
{:type :invoke, :f :write, :value 4, :process 18, :time 42657336477, :index 14534}
{:type :fail, :f :write, :value 4, :process 18, :time 42659314173, :error :connect, :index 14535}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 42664463421, :index 14537}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 42666482123, :error :connect, :index 14539}
{:type :invoke, :f :write, :value 1, :process 32, :time 42667089023, :index 14540}
{:type :fail, :f :write, :value 1, :process 32, :time 42668921502, :error :connect, :index 14541}
{:type :invoke, :f :cas, :value [1 4], :process 11, :time 42690224796, :index 14550}
{:type :fail, :f :cas, :value [1 4], :process 11, :time 42692482825, :error :connect, :index 14553}
{:type :invoke, :f :read, :value nil, :process 34, :time 42712991087, :index 14562}
{:type :invoke, :f :cas, :value [1 4], :process 36, :time 42713244127, :index 14563}
{:type :fail, :f :read, :value nil, :process 34, :time 42715058923, :error :connect, :index 14564}
{:type :fail, :f :cas, :value [1 4], :process 36, :time 42715168803, :error :connect, :index 14565}
{:type :invoke, :f :read, :value nil, :process 33, :time 42722904985, :index 14568}
{:type :fail, :f :read, :value nil, :process 33, :time 42724569029, :error :connect, :index 14569}
{:type :invoke, :f :cas, :value [2 0], :process 32, :time 42742196332, :index 14570}
{:type :fail, :f :cas, :value [2 0], :process 32, :time 42744370170, :error :connect, :index 14571}
{:type :invoke, :f :read, :value nil, :process 18, :time 42750580453, :index 14572}
{:type :fail, :f :read, :value nil, :process 18, :time 42752857603, :error :connect, :index 14573}
{:type :invoke, :f :read, :value nil, :process 33, :time 42758739787, :index 14577}
{:type :fail, :f :read, :value nil, :process 33, :time 42760551211, :error :connect, :index 14579}
{:type :invoke, :f :write, :value 4, :process 10, :time 42761772837, :index 14580}
{:type :fail, :f :write, :value 4, :process 10, :time 42763845229, :error :connect, :index 14581}
{:type :invoke, :f :read, :value nil, :process 39, :time 42785683776, :index 14584}
{:type :invoke, :f :write, :value 1, :process 18, :time 42786154888, :index 14586}
{:type :fail, :f :write, :value 1, :process 18, :time 42788090250, :error :connect, :index 14588}
{:type :fail, :f :read, :value nil, :process 39, :time 42788390878, :error :connect, :index 14589}
{:type :invoke, :f :cas, :value [3 4], :process 11, :time 42816796892, :index 14598}
{:type :fail, :f :cas, :value [3 4], :process 11, :time 42818624788, :error :connect, :index 14599}
{:type :invoke, :f :read, :value nil, :process 37, :time 42820460751, :index 14600}
{:type :invoke, :f :read, :value nil, :process 33, :time 42821823001, :index 14601}
{:type :fail, :f :read, :value nil, :process 37, :time 42822359926, :error :connect, :index 14602}
{:type :fail, :f :read, :value nil, :process 33, :time 42823880729, :error :connect, :index 14604}
{:type :invoke, :f :write, :value 4, :process 36, :time 42831424552, :index 14606}
{:type :fail, :f :write, :value 4, :process 36, :time 42833495360, :error :connect, :index 14607}
{:type :invoke, :f :read, :value nil, :process 15, :time 42845758536, :index 14610}
{:type :fail, :f :read, :value nil, :process 15, :time 42847616071, :error :connect, :index 14611}
{:type :invoke, :f :write, :value 1, :process 10, :time 42861103819, :index 14620}
{:type :fail, :f :write, :value 1, :process 10, :time 42862746988, :error :connect, :index 14621}
{:type :invoke, :f :cas, :value [3 2], :process 37, :time 42882606229, :index 14630}
{:type :fail, :f :cas, :value [3 2], :process 37, :time 42884253181, :error :connect, :index 14631}
{:type :invoke, :f :write, :value 2, :process 34, :time 42885332650, :index 14632}
{:type :fail, :f :write, :value 2, :process 34, :time 42887335929, :error :connect, :index 14634}
{:type :invoke, :f :cas, :value [3 0], :process 32, :time 42891649205, :index 14636}
{:type :fail, :f :cas, :value [3 0], :process 32, :time 42893492655, :error :connect, :index 14637}
{:type :invoke, :f :write, :value 4, :process 34, :time 42932531483, :index 14642}
{:type :fail, :f :write, :value 4, :process 34, :time 42934294228, :error :connect, :index 14644}
{:type :invoke, :f :cas, :value [0 4], :process 37, :time 42945522407, :index 14646}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 42945895995, :index 14647}
{:type :fail, :f :cas, :value [0 4], :process 37, :time 42947390969, :error :connect, :index 14648}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 42947763466, :error :connect, :index 14649}
{:type :invoke, :f :read, :value nil, :process 36, :time 42950774147, :index 14651}
{:type :fail, :f :read, :value nil, :process 36, :time 42952758941, :error :connect, :index 14653}
{:type :invoke, :f :read, :value nil, :process 18, :time 42959319414, :index 14656}
{:type :invoke, :f :write, :value 2, :process 11, :time 42959911988, :index 14657}
{:type :invoke, :f :cas, :value [2 2], :process 33, :time 42961154213, :index 14658}
{:type :fail, :f :read, :value nil, :process 18, :time 42961485612, :error :connect, :index 14659}
{:type :fail, :f :write, :value 2, :process 11, :time 42961853694, :error :connect, :index 14660}
{:type :fail, :f :cas, :value [2 2], :process 33, :time 42963174094, :error :connect, :index 14661}
{:type :invoke, :f :write, :value 4, :process 32, :time 42968755175, :index 14662}
{:type :fail, :f :write, :value 4, :process 32, :time 42970386585, :error :connect, :index 14663}
{:type :invoke, :f :write, :value 3, :process 39, :time 42972627171, :index 14665}
{:type :fail, :f :write, :value 3, :process 39, :time 42974414543, :error :connect, :index 14667}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 42976008082, :index 14668}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 42978190855, :error :connect, :index 14670}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 43008751291, :index 14680}
{:type :fail, :f :cas, :value [1 3], :process 18, :time 43010770122, :error :connect, :index 14682}
{:type :invoke, :f :cas, :value [2 1], :process 37, :time 43019671989, :index 14685}
{:type :fail, :f :cas, :value [2 1], :process 37, :time 43021378007, :error :connect, :index 14686}
{:type :invoke, :f :write, :value 1, :process 11, :time 43022131624, :index 14688}
{:type :fail, :f :write, :value 1, :process 11, :time 43023906928, :error :connect, :index 14689}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 43024471364, :index 14690}
{:type :fail, :f :cas, :value [2 1], :process 10, :time 43026527184, :error :connect, :index 14691}
{:type :invoke, :f :write, :value 0, :process 10, :time 43040791468, :index 14694}
{:type :fail, :f :write, :value 0, :process 10, :time 43042667949, :error :connect, :index 14696}
{:type :invoke, :f :write, :value 3, :process 36, :time 43073013127, :index 14708}
{:type :fail, :f :write, :value 3, :process 36, :time 43075082389, :error :connect, :index 14709}
{:type :invoke, :f :write, :value 0, :process 15, :time 43075041383, :index 14710}
{:type :fail, :f :write, :value 0, :process 15, :time 43077114687, :error :connect, :index 14711}
{:type :invoke, :f :cas, :value [0 0], :process 33, :time 43096438178, :index 14714}
{:type :fail, :f :cas, :value [0 0], :process 33, :time 43098244653, :error :connect, :index 14715}
{:type :invoke, :f :cas, :value [4 2], :process 32, :time 43100657698, :index 14716}
{:type :invoke, :f :cas, :value [1 4], :process 33, :time 43101538814, :index 14717}
{:type :fail, :f :cas, :value [4 2], :process 32, :time 43102284677, :error :connect, :index 14718}
{:type :fail, :f :cas, :value [1 4], :process 33, :time 43103254830, :error :connect, :index 14719}
{:type :invoke, :f :read, :value nil, :process 34, :time 43106555641, :index 14720}
{:type :fail, :f :read, :value nil, :process 34, :time 43108406649, :error :connect, :index 14721}
{:type :invoke, :f :write, :value 2, :process 39, :time 43121681485, :index 14724}
{:type :fail, :f :write, :value 2, :process 39, :time 43123310939, :error :connect, :index 14725}
{:type :invoke, :f :write, :value 1, :process 18, :time 43137041605, :index 14727}
{:type :fail, :f :write, :value 1, :process 18, :time 43138909438, :error :connect, :index 14729}
{:type :invoke, :f :write, :value 0, :process 36, :time 43163323196, :index 14737}
{:type :invoke, :f :read, :value nil, :process 37, :time 43164679006, :index 14738}
{:type :fail, :f :write, :value 0, :process 36, :time 43165539370, :error :connect, :index 14740}
{:type :fail, :f :read, :value nil, :process 37, :time 43166617929, :error :connect, :index 14741}
{:type :invoke, :f :write, :value 4, :process 11, :time 43196174445, :index 14749}
{:type :fail, :f :write, :value 4, :process 11, :time 43198004083, :error :connect, :index 14751}
{:type :invoke, :f :write, :value 4, :process 39, :time 43210579283, :index 14758}
{:type :invoke, :f :write, :value 2, :process 37, :time 43211890147, :index 14759}
{:type :fail, :f :write, :value 4, :process 39, :time 43212715362, :error :connect, :index 14760}
{:type :fail, :f :write, :value 2, :process 37, :time 43213498803, :error :connect, :index 14761}
{:type :invoke, :f :read, :value nil, :process 10, :time 43216958548, :index 14763}
{:type :fail, :f :read, :value nil, :process 10, :time 43218839296, :error :connect, :index 14765}
{:type :invoke, :f :write, :value 4, :process 33, :time 43220516073, :index 14766}
{:type :fail, :f :write, :value 4, :process 33, :time 43222161168, :error :connect, :index 14767}
{:type :invoke, :f :write, :value 0, :process 18, :time 43233169086, :index 14768}
{:type :fail, :f :write, :value 0, :process 18, :time 43234833591, :error :connect, :index 14769}
{:type :invoke, :f :cas, :value [1 2], :process 18, :time 43246093353, :index 14770}
{:type :invoke, :f :read, :value nil, :process 34, :time 43246682251, :index 14771}
{:type :fail, :f :cas, :value [1 2], :process 18, :time 43248033440, :error :connect, :index 14772}
{:type :fail, :f :read, :value nil, :process 34, :time 43248322754, :error :connect, :index 14773}
{:type :invoke, :f :read, :value nil, :process 11, :time 43257263999, :index 14776}
{:type :invoke, :f :write, :value 0, :process 15, :time 43258378711, :index 14777}
{:type :fail, :f :read, :value nil, :process 11, :time 43259139589, :error :connect, :index 14778}
{:type :fail, :f :write, :value 0, :process 15, :time 43260377469, :error :connect, :index 14779}
{:type :invoke, :f :read, :value nil, :process 37, :time 43262734485, :index 14780}
{:type :fail, :f :read, :value nil, :process 37, :time 43264587937, :error :connect, :index 14781}
{:type :invoke, :f :write, :value 4, :process 32, :time 43277538654, :index 14782}
{:type :fail, :f :write, :value 4, :process 32, :time 43279414314, :error :connect, :index 14783}
{:type :invoke, :f :write, :value 1, :process 11, :time 43292401905, :index 14788}
{:type :fail, :f :write, :value 1, :process 11, :time 43294108346, :error :connect, :index 14789}
{:type :invoke, :f :cas, :value [0 4], :process 36, :time 43350801661, :index 14798}
{:type :fail, :f :cas, :value [0 4], :process 36, :time 43352687134, :error :connect, :index 14799}
{:type :invoke, :f :write, :value 0, :process 18, :time 43353312884, :index 14800}
{:type :fail, :f :write, :value 0, :process 18, :time 43355362855, :error :connect, :index 14802}
{:type :invoke, :f :write, :value 2, :process 39, :time 43358981969, :index 14804}
{:type :invoke, :f :write, :value 3, :process 10, :time 43359074053, :index 14805}
{:type :fail, :f :write, :value 3, :process 10, :time 43361032461, :error :connect, :index 14806}
{:type :fail, :f :write, :value 2, :process 39, :time 43361135739, :error :connect, :index 14807}
{:type :invoke, :f :read, :value nil, :process 34, :time 43361542445, :index 14808}
{:type :fail, :f :read, :value nil, :process 34, :time 43363335354, :error :connect, :index 14809}
{:type :invoke, :f :read, :value nil, :process 11, :time 43373374387, :index 14814}
{:type :fail, :f :read, :value nil, :process 11, :time 43375347633, :error :connect, :index 14815}
{:type :invoke, :f :read, :value nil, :process 33, :time 43393423925, :index 14821}
{:type :fail, :f :read, :value nil, :process 33, :time 43395668831, :error :connect, :index 14823}
{:type :invoke, :f :write, :value 3, :process 34, :time 43397600948, :index 14824}
{:type :fail, :f :write, :value 3, :process 34, :time 43399675593, :error :connect, :index 14827}
{:type :invoke, :f :read, :value nil, :process 15, :time 43404624904, :index 14830}
{:type :fail, :f :read, :value nil, :process 15, :time 43406669283, :error :connect, :index 14831}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 43407852727, :index 14832}
{:type :invoke, :f :read, :value nil, :process 11, :time 43409642015, :index 14833}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 43409806846, :error :connect, :index 14834}
{:type :fail, :f :read, :value nil, :process 11, :time 43411577039, :error :connect, :index 14835}
{:type :invoke, :f :read, :value nil, :process 32, :time 43446687888, :index 14840}
{:type :fail, :f :read, :value nil, :process 32, :time 43448546353, :error :connect, :index 14841}
{:type :invoke, :f :cas, :value [3 3], :process 39, :time 43457379581, :index 14844}
{:type :fail, :f :cas, :value [3 3], :process 39, :time 43459439601, :error :connect, :index 14845}
{:type :invoke, :f :write, :value 4, :process 10, :time 43470298849, :index 14850}
{:type :fail, :f :write, :value 4, :process 10, :time 43472016182, :error :connect, :index 14851}
{:type :invoke, :f :cas, :value [1 2], :process 36, :time 43483947217, :index 14858}
{:type :fail, :f :cas, :value [1 2], :process 36, :time 43485831973, :error :connect, :index 14859}
{:type :invoke, :f :cas, :value [2 0], :process 18, :time 43492646652, :index 14862}
{:type :fail, :f :cas, :value [2 0], :process 18, :time 43494316907, :error :connect, :index 14863}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
