{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :invoke, :f :write, :value 3, :process 7, :time 25802038654, :index 7951}
{:type :fail, :f :write, :value 3, :process 7, :time 25803666887, :error :connect, :index 7953}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :invoke, :f :read, :value nil, :process 22, :time 25841203731, :index 7963}
{:type :fail, :f :read, :value nil, :process 22, :time 25843064866, :error :connect, :index 7965}
{:type :invoke, :f :write, :value 3, :process 29, :time 25845976091, :index 7967}
{:type :fail, :f :write, :value 3, :process 29, :time 25847696175, :error :connect, :index 7968}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :invoke, :f :read, :value nil, :process 22, :time 25933342347, :index 7997}
{:type :fail, :f :read, :value nil, :process 22, :time 25935287578, :error :connect, :index 7999}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 25938033731, :index 8001}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 25940080100, :error :connect, :index 8003}
{:type :invoke, :f :cas, :value [2 3], :process 29, :time 25942963942, :index 8004}
{:type :fail, :f :cas, :value [2 3], :process 29, :time 25944789823, :error :connect, :index 8005}
{:type :invoke, :f :cas, :value [2 1], :process 0, :time 25945437717, :index 8006}
{:type :fail, :f :cas, :value [2 1], :process 0, :time 25947236326, :error :connect, :index 8007}
{:type :invoke, :f :cas, :value [4 0], :process 0, :time 25967498424, :index 8012}
{:type :fail, :f :cas, :value [4 0], :process 0, :time 25969524604, :error :connect, :index 8013}
{:type :invoke, :f :read, :value nil, :process 7, :time 25971933663, :index 8014}
{:type :fail, :f :read, :value nil, :process 7, :time 25973640927, :error :connect, :index 8015}
{:type :invoke, :f :read, :value nil, :process 4, :time 25990291981, :index 8023}
{:type :fail, :f :read, :value nil, :process 4, :time 25992306861, :error :connect, :index 8025}
{:type :invoke, :f :read, :value nil, :process 22, :time 25997528806, :index 8027}
{:type :fail, :f :read, :value nil, :process 22, :time 25999383641, :error :connect, :index 8029}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 26003336754, :index 8030}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 26005047066, :error :connect, :index 8031}
{:type :invoke, :f :read, :value nil, :process 8, :time 26012443711, :index 8033}
{:type :fail, :f :read, :value nil, :process 8, :time 26014293168, :error :connect, :index 8035}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 26021763993, :index 8038}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 26023594021, :error :connect, :index 8039}
{:type :invoke, :f :read, :value nil, :process 4, :time 26060575806, :index 8044}
{:type :fail, :f :read, :value nil, :process 4, :time 26062710421, :error :connect, :index 8045}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 26067999129, :index 8047}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 26070128583, :error :connect, :index 8049}
{:type :invoke, :f :read, :value nil, :process 29, :time 26072059435, :index 8050}
{:type :fail, :f :read, :value nil, :process 29, :time 26074118008, :error :connect, :index 8051}
{:type :invoke, :f :read, :value nil, :process 22, :time 26083623502, :index 8054}
{:type :fail, :f :read, :value nil, :process 22, :time 26085659376, :error :connect, :index 8055}
{:type :invoke, :f :cas, :value [1 3], :process 6, :time 26087316262, :index 8056}
{:type :fail, :f :cas, :value [1 3], :process 6, :time 26089511554, :error :connect, :index 8057}
{:type :invoke, :f :cas, :value [0 0], :process 29, :time 26093384602, :index 8061}
{:type :fail, :f :cas, :value [0 0], :process 29, :time 26095369064, :error :connect, :index 8064}
{:type :invoke, :f :write, :value 2, :process 29, :time 26101644618, :index 8067}
{:type :fail, :f :write, :value 2, :process 29, :time 26103634750, :error :connect, :index 8069}
{:type :invoke, :f :cas, :value [2 0], :process 21, :time 26119282124, :index 8070}
{:type :fail, :f :cas, :value [2 0], :process 21, :time 26121188267, :error :connect, :index 8072}
{:type :invoke, :f :write, :value 1, :process 3, :time 26128858077, :index 8074}
{:type :fail, :f :write, :value 1, :process 3, :time 26130764747, :error :connect, :index 8075}
{:type :invoke, :f :read, :value nil, :process 8, :time 26143540487, :index 8079}
{:type :fail, :f :read, :value nil, :process 8, :time 26145715537, :error :connect, :index 8081}
{:type :invoke, :f :cas, :value [0 2], :process 3, :time 26161027764, :index 8091}
{:type :fail, :f :cas, :value [0 2], :process 3, :time 26163029533, :error :connect, :index 8093}
{:type :invoke, :f :write, :value 0, :process 0, :time 26163792051, :index 8094}
{:type :fail, :f :write, :value 0, :process 0, :time 26165643136, :error :connect, :index 8095}
{:type :invoke, :f :cas, :value [4 3], :process 7, :time 26166918215, :index 8096}
{:type :fail, :f :cas, :value [4 3], :process 7, :time 26168593021, :error :connect, :index 8097}
{:type :invoke, :f :write, :value 2, :process 0, :time 26191895455, :index 8100}
{:type :fail, :f :write, :value 2, :process 0, :time 26193704795, :error :connect, :index 8101}
{:type :invoke, :f :write, :value 0, :process 4, :time 26199925828, :index 8103}
{:type :invoke, :f :cas, :value [1 0], :process 8, :time 26199996867, :index 8104}
{:type :fail, :f :write, :value 0, :process 4, :time 26202243732, :error :connect, :index 8106}
{:type :invoke, :f :read, :value nil, :process 4, :time 26202405882, :index 8107}
{:type :fail, :f :cas, :value [1 0], :process 8, :time 26202893075, :error :connect, :index 8109}
{:type :fail, :f :read, :value nil, :process 4, :time 26204771782, :error :connect, :index 8110}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 26216979747, :index 8115}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 26218817039, :error :connect, :index 8117}
{:type :invoke, :f :read, :value nil, :process 22, :time 26224917929, :index 8118}
{:type :fail, :f :read, :value nil, :process 22, :time 26226600490, :error :connect, :index 8119}
{:type :invoke, :f :cas, :value [3 0], :process 7, :time 26240278493, :index 8125}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 26240381270, :index 8126}
{:type :fail, :f :cas, :value [3 0], :process 7, :time 26242290086, :error :connect, :index 8128}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 26242323784, :error :connect, :index 8129}
{:type :invoke, :f :read, :value nil, :process 21, :time 26250452401, :index 8130}
{:type :fail, :f :read, :value nil, :process 21, :time 26252459302, :error :connect, :index 8131}
{:type :invoke, :f :read, :value nil, :process 0, :time 26254586177, :index 8132}
{:type :invoke, :f :read, :value nil, :process 22, :time 26254890891, :index 8133}
{:type :fail, :f :read, :value nil, :process 0, :time 26256551183, :error :connect, :index 8134}
{:type :fail, :f :read, :value nil, :process 22, :time 26257029463, :error :connect, :index 8135}
{:type :invoke, :f :write, :value 4, :process 5, :time 26260388874, :index 8136}
{:type :invoke, :f :cas, :value [2 3], :process 21, :time 26261739206, :index 8138}
{:type :fail, :f :write, :value 4, :process 5, :time 26262257055, :error :connect, :index 8139}
{:type :fail, :f :cas, :value [2 3], :process 21, :time 26263813973, :error :connect, :index 8141}
{:type :invoke, :f :read, :value nil, :process 29, :time 26267906832, :index 8142}
{:type :fail, :f :read, :value nil, :process 29, :time 26269684956, :error :connect, :index 8143}
{:type :invoke, :f :write, :value 1, :process 5, :time 26276510160, :index 8144}
{:type :invoke, :f :write, :value 4, :process 6, :time 26277782649, :index 8145}
{:type :invoke, :f :read, :value nil, :process 4, :time 26278065091, :index 8146}
{:type :fail, :f :write, :value 1, :process 5, :time 26278755634, :error :connect, :index 8147}
{:type :fail, :f :write, :value 4, :process 6, :time 26279836972, :error :connect, :index 8148}
{:type :fail, :f :read, :value nil, :process 4, :time 26280277785, :error :connect, :index 8149}
{:type :invoke, :f :cas, :value [2 3], :process 7, :time 26296543266, :index 8154}
{:type :fail, :f :cas, :value [2 3], :process 7, :time 26298390221, :error :connect, :index 8155}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 26320294147, :index 8156}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 26322181412, :error :connect, :index 8157}
{:type :invoke, :f :cas, :value [4 4], :process 5, :time 26325055926, :index 8158}
{:type :fail, :f :cas, :value [4 4], :process 5, :time 26327392916, :error :connect, :index 8160}
{:type :invoke, :f :cas, :value [2 3], :process 6, :time 26334097236, :index 8168}
{:type :invoke, :f :read, :value nil, :process 3, :time 26334456750, :index 8169}
{:type :fail, :f :cas, :value [2 3], :process 6, :time 26336244906, :error :connect, :index 8170}
{:type :fail, :f :read, :value nil, :process 3, :time 26336244906, :error :connect, :index 8171}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 26344812457, :index 8173}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 26347014535, :error :connect, :index 8175}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 26349529264, :index 8177}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 26351339772, :error :connect, :index 8179}
{:type :invoke, :f :cas, :value [2 1], :process 22, :time 26356265391, :index 8180}
{:type :fail, :f :cas, :value [2 1], :process 22, :time 26358061561, :error :connect, :index 8181}
{:type :invoke, :f :read, :value nil, :process 29, :time 26363002573, :index 8183}
{:type :fail, :f :read, :value nil, :process 29, :time 26364928827, :error :connect, :index 8185}
{:type :invoke, :f :cas, :value [2 2], :process 21, :time 26381109870, :index 8187}
{:type :fail, :f :cas, :value [2 2], :process 21, :time 26383122126, :error :connect, :index 8189}
{:type :invoke, :f :cas, :value [2 2], :process 4, :time 26397606153, :index 8190}
{:type :invoke, :f :write, :value 3, :process 8, :time 26398163968, :index 8191}
{:type :fail, :f :cas, :value [2 2], :process 4, :time 26399479265, :error :connect, :index 8192}
{:type :fail, :f :write, :value 3, :process 8, :time 26399856617, :error :connect, :index 8193}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 26415305178, :index 8198}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 26417091830, :error :connect, :index 8199}
{:type :invoke, :f :read, :value nil, :process 6, :time 26438549966, :index 8203}
{:type :fail, :f :read, :value nil, :process 6, :time 26440484784, :error :connect, :index 8205}
{:type :invoke, :f :read, :value nil, :process 7, :time 26445684937, :index 8206}
{:type :fail, :f :read, :value nil, :process 7, :time 26447365819, :error :connect, :index 8207}
{:type :invoke, :f :read, :value nil, :process 6, :time 26450732268, :index 8208}
{:type :fail, :f :read, :value nil, :process 6, :time 26452370609, :error :connect, :index 8209}
{:type :invoke, :f :cas, :value [0 2], :process 21, :time 26452393215, :index 8210}
{:type :fail, :f :cas, :value [0 2], :process 21, :time 26454262863, :error :connect, :index 8211}
{:type :invoke, :f :write, :value 1, :process 5, :time 26461365888, :index 8214}
{:type :invoke, :f :write, :value 4, :process 21, :time 26462546255, :index 8215}
{:type :fail, :f :write, :value 1, :process 5, :time 26463373215, :error :connect, :index 8216}
{:type :fail, :f :write, :value 4, :process 21, :time 26464589981, :error :connect, :index 8217}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 26475530881, :index 8218}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 26477345496, :error :connect, :index 8220}
{:type :invoke, :f :cas, :value [0 3], :process 29, :time 26486174895, :index 8223}
{:type :invoke, :f :read, :value nil, :process 3, :time 26486628852, :index 8225}
{:type :fail, :f :cas, :value [0 3], :process 29, :time 26487902272, :error :connect, :index 8226}
{:type :fail, :f :read, :value nil, :process 3, :time 26488285779, :error :connect, :index 8227}
{:type :invoke, :f :cas, :value [2 1], :process 7, :time 26499631573, :index 8230}
{:type :fail, :f :cas, :value [2 1], :process 7, :time 26501445542, :error :connect, :index 8233}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 26521615492, :index 8238}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 26523754547, :error :connect, :index 8239}
{:type :invoke, :f :read, :value nil, :process 0, :time 26528272093, :index 8241}
{:type :fail, :f :read, :value nil, :process 0, :time 26530301932, :error :connect, :index 8243}
{:type :invoke, :f :read, :value nil, :process 22, :time 26541331377, :index 8247}
{:type :fail, :f :read, :value nil, :process 22, :time 26543137836, :error :connect, :index 8249}
{:type :invoke, :f :write, :value 2, :process 8, :time 26546097271, :index 8250}
{:type :fail, :f :write, :value 2, :process 8, :time 26547923733, :error :connect, :index 8251}
{:type :invoke, :f :read, :value nil, :process 5, :time 26554020085, :index 8254}
{:type :fail, :f :read, :value nil, :process 5, :time 26556017578, :error :connect, :index 8255}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 26580519872, :index 8266}
{:type :fail, :f :cas, :value [3 1], :process 3, :time 26582388523, :error :connect, :index 8267}
{:type :invoke, :f :write, :value 3, :process 5, :time 26584284660, :index 8268}
{:type :fail, :f :write, :value 3, :process 5, :time 26586266161, :error :connect, :index 8269}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 26592743589, :index 8270}
{:type :fail, :f :cas, :value [1 4], :process 4, :time 26594545911, :error :connect, :index 8271}
{:type :invoke, :f :cas, :value [1 1], :process 21, :time 26604844133, :index 8272}
{:type :fail, :f :cas, :value [1 1], :process 21, :time 26607004739, :error :connect, :index 8273}
{:type :invoke, :f :read, :value nil, :process 0, :time 26615554563, :index 8274}
{:type :fail, :f :read, :value nil, :process 0, :time 26617271975, :error :connect, :index 8275}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 26618671052, :index 8276}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 26620298609, :error :connect, :index 8277}
{:type :invoke, :f :write, :value 0, :process 29, :time 26622177733, :index 8278}
{:type :fail, :f :write, :value 0, :process 29, :time 26623725297, :error :connect, :index 8279}
{:type :invoke, :f :cas, :value [3 0], :process 7, :time 26625719271, :index 8282}
{:type :fail, :f :cas, :value [3 0], :process 7, :time 26627646933, :error :connect, :index 8286}
{:type :invoke, :f :read, :value nil, :process 6, :time 26630659379, :index 8288}
{:type :fail, :f :read, :value nil, :process 6, :time 26632332916, :error :connect, :index 8289}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 26639525870, :index 8290}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 26641626086, :error :connect, :index 8291}
{:type :invoke, :f :read, :value nil, :process 6, :time 26655591250, :index 8293}
{:type :fail, :f :read, :value nil, :process 6, :time 26657712707, :error :connect, :index 8296}
{:type :invoke, :f :read, :value nil, :process 22, :time 26658396670, :index 8297}
{:type :fail, :f :read, :value nil, :process 22, :time 26660326340, :error :connect, :index 8299}
{:type :invoke, :f :write, :value 4, :process 5, :time 26671521438, :index 8304}
{:type :fail, :f :write, :value 4, :process 5, :time 26673291903, :error :connect, :index 8305}
{:type :invoke, :f :read, :value nil, :process 4, :time 26680807561, :index 8307}
{:type :fail, :f :read, :value nil, :process 4, :time 26682822002, :error :connect, :index 8309}
{:type :invoke, :f :write, :value 0, :process 3, :time 26683573323, :index 8311}
{:type :fail, :f :write, :value 0, :process 3, :time 26685283040, :error :connect, :index 8313}
{:type :invoke, :f :read, :value nil, :process 6, :time 26695969892, :index 8316}
{:type :fail, :f :read, :value nil, :process 6, :time 26697942979, :error :connect, :index 8317}
{:type :invoke, :f :write, :value 1, :process 29, :time 26698001756, :index 8318}
{:type :fail, :f :write, :value 1, :process 29, :time 26699792094, :error :connect, :index 8319}
{:type :invoke, :f :read, :value nil, :process 29, :time 26708058005, :index 8322}
{:type :fail, :f :read, :value nil, :process 29, :time 26710261705, :error :connect, :index 8325}
{:type :invoke, :f :read, :value nil, :process 0, :time 26710888271, :index 8326}
{:type :fail, :f :read, :value nil, :process 0, :time 26713390613, :error :connect, :index 8329}
{:type :invoke, :f :cas, :value [4 0], :process 22, :time 26726577642, :index 8338}
{:type :fail, :f :cas, :value [4 0], :process 22, :time 26728252442, :error :connect, :index 8339}
{:type :invoke, :f :cas, :value [3 3], :process 3, :time 26732579523, :index 8342}
{:type :fail, :f :cas, :value [3 3], :process 3, :time 26734224865, :error :connect, :index 8343}
{:type :invoke, :f :cas, :value [2 2], :process 29, :time 26739560655, :index 8344}
{:type :invoke, :f :write, :value 0, :process 8, :time 26741134551, :index 8345}
{:type :fail, :f :cas, :value [2 2], :process 29, :time 26741685851, :error :connect, :index 8346}
{:type :fail, :f :write, :value 0, :process 8, :time 26742869028, :error :connect, :index 8347}
{:type :invoke, :f :read, :value nil, :process 6, :time 26759257079, :index 8352}
{:type :fail, :f :read, :value nil, :process 6, :time 26761200736, :error :connect, :index 8353}
{:type :invoke, :f :read, :value nil, :process 21, :time 26778290815, :index 8355}
{:type :fail, :f :read, :value nil, :process 21, :time 26780098080, :error :connect, :index 8357}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 26799910040, :index 8362}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 26802035940, :error :connect, :index 8363}
{:type :invoke, :f :write, :value 1, :process 4, :time 26815077289, :index 8370}
{:type :fail, :f :write, :value 1, :process 4, :time 26816859382, :error :connect, :index 8371}
{:type :invoke, :f :write, :value 3, :process 5, :time 26860556402, :index 8379}
{:type :fail, :f :write, :value 3, :process 5, :time 26862827146, :error :connect, :index 8382}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
