{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
{:type :invoke, :f :write, :value 1, :process 33, :time 59741451773, :index 21306}
{:type :fail, :f :write, :value 1, :process 33, :time 59743358523, :error :connect, :index 21307}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 59764067114, :index 21310}
{:type :fail, :f :cas, :value [0 4], :process 18, :time 59766133774, :error :connect, :index 21311}
{:type :invoke, :f :read, :value nil, :process 15, :time 59775333689, :index 21313}
{:type :fail, :f :read, :value nil, :process 15, :time 59777135757, :error :connect, :index 21316}
{:type :invoke, :f :cas, :value [1 2], :process 33, :time 59777623436, :index 21317}
{:type :fail, :f :cas, :value [1 2], :process 33, :time 59779661706, :error :connect, :index 21319}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 59792393027, :index 21323}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 59794466646, :error :connect, :index 21325}
{:type :invoke, :f :write, :value 1, :process 36, :time 59795708541, :index 21326}
{:type :fail, :f :write, :value 1, :process 36, :time 59797573581, :error :connect, :index 21327}
{:type :invoke, :f :read, :value nil, :process 37, :time 59798778736, :index 21328}
{:type :invoke, :f :read, :value nil, :process 39, :time 59799611257, :index 21329}
{:type :fail, :f :read, :value nil, :process 37, :time 59800471691, :error :connect, :index 21331}
{:type :fail, :f :read, :value nil, :process 39, :time 59802019972, :error :connect, :index 21333}
{:type :invoke, :f :read, :value nil, :process 34, :time 59839198595, :index 21346}
{:type :fail, :f :read, :value nil, :process 34, :time 59841079562, :error :connect, :index 21347}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 59850838979, :index 21350}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 59852846265, :error :connect, :index 21351}
{:type :invoke, :f :read, :value nil, :process 32, :time 59854337427, :index 21352}
{:type :fail, :f :read, :value nil, :process 32, :time 59856023191, :error :connect, :index 21353}
{:type :invoke, :f :cas, :value [3 2], :process 11, :time 59862549014, :index 21354}
{:type :fail, :f :cas, :value [3 2], :process 11, :time 59864646457, :error :connect, :index 21355}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 59887130030, :index 21359}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 59888947742, :error :connect, :index 21361}
{:type :invoke, :f :cas, :value [4 1], :process 32, :time 59898307115, :index 21364}
{:type :invoke, :f :cas, :value [2 1], :process 33, :time 59899924383, :index 21365}
{:type :fail, :f :cas, :value [4 1], :process 32, :time 59900341587, :error :connect, :index 21366}
{:type :fail, :f :cas, :value [2 1], :process 33, :time 59902231803, :error :connect, :index 21368}
{:type :invoke, :f :write, :value 4, :process 11, :time 59904915309, :index 21372}
{:type :fail, :f :write, :value 4, :process 11, :time 59906700822, :error :connect, :index 21373}
{:type :invoke, :f :cas, :value [1 0], :process 33, :time 59914500153, :index 21374}
{:type :fail, :f :cas, :value [1 0], :process 33, :time 59916141651, :error :connect, :index 21375}
{:type :invoke, :f :read, :value nil, :process 36, :time 59932831687, :index 21380}
{:type :fail, :f :read, :value nil, :process 36, :time 59934472146, :error :connect, :index 21382}
{:type :invoke, :f :write, :value 0, :process 18, :time 59949402300, :index 21388}
{:type :fail, :f :write, :value 0, :process 18, :time 59951298947, :error :connect, :index 21389}
{:type :invoke, :f :cas, :value [0 0], :process 18, :time 59951436635, :index 21390}
{:type :fail, :f :cas, :value [0 0], :process 18, :time 59953057697, :error :connect, :index 21391}
{:type :invoke, :f :cas, :value [3 1], :process 34, :time 59964353186, :index 21393}
{:type :fail, :f :cas, :value [3 1], :process 34, :time 59966585208, :error :connect, :index 21397}
{:type :invoke, :f :read, :value nil, :process 34, :time 59972889243, :index 21400}
{:type :fail, :f :read, :value nil, :process 34, :time 59974682315, :error :connect, :index 21401}
{:type :invoke, :f :read, :value nil, :process 39, :time 59978306420, :index 21402}
{:type :fail, :f :read, :value nil, :process 39, :time 59980131496, :error :connect, :index 21403}
{:type :invoke, :f :read, :value nil, :process 15, :time 59984728854, :index 21406}
{:type :fail, :f :read, :value nil, :process 15, :time 59986487258, :error :connect, :index 21408}
{:type :invoke, :f :cas, :value [3 4], :process 18, :time 59993373229, :index 21413}
{:type :fail, :f :cas, :value [3 4], :process 18, :time 59995303964, :error :connect, :index 21416}
{:type :invoke, :f :read, :value nil, :process 33, :time 59996413848, :index 21419}
{:type :fail, :f :read, :value nil, :process 33, :time 59998234732, :error :connect, :index 21421}
{:type :invoke, :f :cas, :value [0 3], :process 37, :time 59998738359, :index 21422}
{:type :fail, :f :cas, :value [0 3], :process 37, :time 60000449045, :error :connect, :index 21423}
