{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :invoke, :f :cas, :value [3 2], :process 7, :time 52243293228, :index 18340}
{:type :fail, :f :cas, :value [3 2], :process 7, :time 52245421266, :error :connect, :index 18343}
{:type :invoke, :f :cas, :value [0 1], :process 8, :time 52263706368, :index 18352}
{:type :fail, :f :cas, :value [0 1], :process 8, :time 52265586052, :error :connect, :index 18353}
{:type :invoke, :f :cas, :value [0 4], :process 22, :time 52319476188, :index 18368}
{:type :fail, :f :cas, :value [0 4], :process 22, :time 52321204484, :error :connect, :index 18371}
{:type :invoke, :f :cas, :value [1 1], :process 6, :time 52343353225, :index 18372}
{:type :invoke, :f :cas, :value [4 1], :process 22, :time 52344441228, :index 18374}
{:type :fail, :f :cas, :value [1 1], :process 6, :time 52345438951, :error :connect, :index 18375}
{:type :invoke, :f :cas, :value [1 1], :process 0, :time 52346157044, :index 18377}
{:type :fail, :f :cas, :value [4 1], :process 22, :time 52346388167, :error :connect, :index 18378}
{:type :fail, :f :cas, :value [1 1], :process 0, :time 52348168584, :error :connect, :index 18379}
{:type :invoke, :f :read, :value nil, :process 29, :time 52355675882, :index 18386}
{:type :fail, :f :read, :value nil, :process 29, :time 52357658831, :error :connect, :index 18387}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 52379555170, :index 18390}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 52381710521, :error :connect, :index 18391}
{:type :invoke, :f :cas, :value [2 0], :process 22, :time 52388640251, :index 18396}
{:type :fail, :f :cas, :value [2 0], :process 22, :time 52390517495, :error :connect, :index 18397}
{:type :invoke, :f :read, :value nil, :process 7, :time 52391733159, :index 18398}
{:type :fail, :f :read, :value nil, :process 7, :time 52393513791, :error :connect, :index 18399}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 52402725650, :index 18402}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 52404604488, :error :connect, :index 18403}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 52407512122, :index 18406}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 52409369639, :error :connect, :index 18408}
{:type :invoke, :f :write, :value 2, :process 4, :time 52417045115, :index 18414}
{:type :fail, :f :write, :value 2, :process 4, :time 52418883208, :error :connect, :index 18415}
{:type :invoke, :f :write, :value 3, :process 7, :time 52420770794, :index 18416}
{:type :fail, :f :write, :value 3, :process 7, :time 52422557369, :error :connect, :index 18417}
{:type :invoke, :f :write, :value 2, :process 21, :time 52422658334, :index 18418}
{:type :fail, :f :write, :value 2, :process 21, :time 52424513352, :error :connect, :index 18419}
{:type :invoke, :f :read, :value nil, :process 8, :time 52424860258, :index 18420}
{:type :fail, :f :read, :value nil, :process 8, :time 52426680598, :error :connect, :index 18422}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 52430974237, :index 18424}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 52432809382, :error :connect, :index 18425}
{:type :invoke, :f :write, :value 2, :process 3, :time 52468975383, :index 18432}
{:type :fail, :f :write, :value 2, :process 3, :time 52470898492, :error :connect, :index 18433}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 52472432828, :index 18434}
{:type :fail, :f :cas, :value [4 4], :process 0, :time 52474572566, :error :connect, :index 18435}
{:type :invoke, :f :write, :value 1, :process 7, :time 52521828566, :index 18446}
{:type :fail, :f :write, :value 1, :process 7, :time 52523903879, :error :connect, :index 18447}
{:type :invoke, :f :cas, :value [0 1], :process 5, :time 52526623863, :index 18448}
{:type :fail, :f :cas, :value [0 1], :process 5, :time 52528673988, :error :connect, :index 18449}
{:type :invoke, :f :write, :value 0, :process 29, :time 52528926719, :index 18450}
{:type :fail, :f :write, :value 0, :process 29, :time 52530873636, :error :connect, :index 18451}
{:type :invoke, :f :write, :value 0, :process 4, :time 52534150281, :index 18453}
{:type :fail, :f :write, :value 0, :process 4, :time 52535977030, :error :connect, :index 18457}
{:type :invoke, :f :cas, :value [1 3], :process 8, :time 52553078450, :index 18464}
{:type :fail, :f :cas, :value [1 3], :process 8, :time 52554703429, :error :connect, :index 18465}
{:type :invoke, :f :cas, :value [4 2], :process 22, :time 52562730726, :index 18468}
{:type :fail, :f :cas, :value [4 2], :process 22, :time 52564575852, :error :connect, :index 18469}
{:type :invoke, :f :write, :value 3, :process 3, :time 52571192796, :index 18472}
{:type :invoke, :f :write, :value 4, :process 0, :time 52571855375, :index 18473}
{:type :fail, :f :write, :value 3, :process 3, :time 52573094050, :error :connect, :index 18474}
{:type :fail, :f :write, :value 4, :process 0, :time 52573634514, :error :connect, :index 18475}
{:type :invoke, :f :read, :value nil, :process 6, :time 52582878591, :index 18476}
{:type :fail, :f :read, :value nil, :process 6, :time 52584700051, :error :connect, :index 18477}
{:type :invoke, :f :write, :value 4, :process 21, :time 52585775003, :index 18478}
{:type :fail, :f :write, :value 4, :process 21, :time 52587735243, :error :connect, :index 18480}
{:type :invoke, :f :write, :value 4, :process 21, :time 52603992124, :index 18486}
{:type :fail, :f :write, :value 4, :process 21, :time 52605812773, :error :connect, :index 18487}
{:type :invoke, :f :write, :value 4, :process 4, :time 52608218530, :index 18488}
{:type :fail, :f :write, :value 4, :process 4, :time 52609965226, :error :connect, :index 18489}
{:type :invoke, :f :read, :value nil, :process 5, :time 52619937555, :index 18494}
{:type :fail, :f :read, :value nil, :process 5, :time 52621738378, :error :connect, :index 18495}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 52626885655, :index 18496}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 52628748034, :error :connect, :index 18497}
{:type :invoke, :f :write, :value 4, :process 7, :time 52644163561, :index 18500}
{:type :fail, :f :write, :value 4, :process 7, :time 52645978692, :error :connect, :index 18501}
{:type :invoke, :f :write, :value 2, :process 8, :time 52656971124, :index 18502}
{:type :fail, :f :write, :value 2, :process 8, :time 52659073608, :error :connect, :index 18503}
{:type :invoke, :f :cas, :value [0 3], :process 22, :time 52672841992, :index 18508}
{:type :fail, :f :cas, :value [0 3], :process 22, :time 52674739099, :error :connect, :index 18509}
{:type :invoke, :f :read, :value nil, :process 29, :time 52678142316, :index 18514}
{:type :fail, :f :read, :value nil, :process 29, :time 52680103999, :error :connect, :index 18515}
{:type :invoke, :f :cas, :value [3 0], :process 21, :time 52693066611, :index 18516}
{:type :fail, :f :cas, :value [3 0], :process 21, :time 52694912616, :error :connect, :index 18517}
{:type :invoke, :f :read, :value nil, :process 5, :time 52700071446, :index 18518}
{:type :fail, :f :read, :value nil, :process 5, :time 52702140944, :error :connect, :index 18519}
{:type :invoke, :f :read, :value nil, :process 5, :time 52713403542, :index 18520}
{:type :invoke, :f :write, :value 1, :process 4, :time 52714233967, :index 18521}
{:type :fail, :f :read, :value nil, :process 5, :time 52715531116, :error :connect, :index 18522}
{:type :fail, :f :write, :value 1, :process 4, :time 52716062811, :error :connect, :index 18523}
{:type :invoke, :f :cas, :value [1 1], :process 8, :time 52729336674, :index 18528}
{:type :fail, :f :cas, :value [1 1], :process 8, :time 52731469925, :error :connect, :index 18529}
{:type :invoke, :f :read, :value nil, :process 21, :time 52737182752, :index 18530}
{:type :invoke, :f :cas, :value [3 1], :process 22, :time 52738006383, :index 18531}
{:type :fail, :f :read, :value nil, :process 21, :time 52739020613, :error :connect, :index 18532}
{:type :fail, :f :cas, :value [3 1], :process 22, :time 52740116049, :error :connect, :index 18533}
{:type :invoke, :f :write, :value 4, :process 3, :time 52747350782, :index 18536}
{:type :fail, :f :write, :value 4, :process 3, :time 52749225884, :error :connect, :index 18537}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 52753915898, :index 18539}
{:type :invoke, :f :read, :value nil, :process 21, :time 52754294240, :index 18540}
{:type :invoke, :f :write, :value 3, :process 7, :time 52755246434, :index 18542}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 52755931774, :error :connect, :index 18543}
{:type :fail, :f :read, :value nil, :process 21, :time 52756270940, :error :connect, :index 18544}
{:type :fail, :f :write, :value 3, :process 7, :time 52757131753, :error :connect, :index 18545}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 52764224111, :index 18546}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 52765884108, :error :connect, :index 18548}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 52768739922, :index 18550}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 52770810489, :error :connect, :index 18551}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 52774877546, :index 18553}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 52777478429, :error :connect, :index 18555}
{:type :invoke, :f :write, :value 2, :process 22, :time 52804372128, :index 18560}
{:type :fail, :f :write, :value 2, :process 22, :time 52806209200, :error :connect, :index 18561}
{:type :invoke, :f :read, :value nil, :process 3, :time 52817149573, :index 18562}
{:type :invoke, :f :read, :value nil, :process 29, :time 52817389698, :index 18563}
{:type :fail, :f :read, :value nil, :process 3, :time 52819429185, :error :connect, :index 18564}
{:type :fail, :f :read, :value nil, :process 29, :time 52819589464, :error :connect, :index 18565}
{:type :invoke, :f :read, :value nil, :process 0, :time 52823020626, :index 18567}
{:type :fail, :f :read, :value nil, :process 0, :time 52824929998, :error :connect, :index 18569}
{:type :invoke, :f :read, :value nil, :process 4, :time 52843309105, :index 18574}
{:type :fail, :f :read, :value nil, :process 4, :time 52845297527, :error :connect, :index 18575}
{:type :invoke, :f :read, :value nil, :process 8, :time 52877073751, :index 18581}
{:type :fail, :f :read, :value nil, :process 8, :time 52878797497, :error :connect, :index 18583}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 52889793534, :index 18584}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 52891930378, :error :connect, :index 18586}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 52894747792, :index 18588}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 52896671423, :error :connect, :index 18589}
{:type :invoke, :f :cas, :value [0 3], :process 8, :time 52900051275, :index 18590}
{:type :fail, :f :cas, :value [0 3], :process 8, :time 52901724024, :error :connect, :index 18591}
{:type :invoke, :f :write, :value 0, :process 21, :time 52905504745, :index 18592}
{:type :fail, :f :write, :value 0, :process 21, :time 52907571176, :error :connect, :index 18593}
{:type :invoke, :f :write, :value 0, :process 7, :time 52929397665, :index 18600}
{:type :fail, :f :write, :value 0, :process 7, :time 52931177902, :error :connect, :index 18603}
{:type :invoke, :f :read, :value nil, :process 22, :time 52937476623, :index 18605}
{:type :fail, :f :read, :value nil, :process 22, :time 52939455382, :error :connect, :index 18608}
{:type :invoke, :f :cas, :value [4 3], :process 7, :time 52942413439, :index 18610}
{:type :fail, :f :cas, :value [4 3], :process 7, :time 52944309065, :error :connect, :index 18611}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 52961144153, :index 18614}
{:type :invoke, :f :cas, :value [0 3], :process 22, :time 52961728245, :index 18615}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 52963009579, :error :connect, :index 18616}
{:type :fail, :f :cas, :value [0 3], :process 22, :time 52963533262, :error :connect, :index 18617}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 52975858275, :index 18620}
{:type :fail, :f :cas, :value [3 3], :process 29, :time 52977458385, :error :connect, :index 18621}
{:type :invoke, :f :cas, :value [3 3], :process 5, :time 52978202641, :index 18622}
{:type :fail, :f :cas, :value [3 3], :process 5, :time 52980000878, :error :connect, :index 18623}
{:type :invoke, :f :read, :value nil, :process 4, :time 52983566908, :index 18625}
{:type :fail, :f :read, :value nil, :process 4, :time 52985557408, :error :connect, :index 18627}
{:type :invoke, :f :read, :value nil, :process 21, :time 52993831221, :index 18628}
{:type :fail, :f :read, :value nil, :process 21, :time 52995720983, :error :connect, :index 18629}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 53015704066, :index 18634}
{:type :invoke, :f :read, :value nil, :process 4, :time 53016796044, :index 18635}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 53017822277, :error :connect, :index 18636}
{:type :fail, :f :read, :value nil, :process 4, :time 53018410066, :error :connect, :index 18637}
{:type :invoke, :f :read, :value nil, :process 6, :time 53027936389, :index 18640}
{:type :fail, :f :read, :value nil, :process 6, :time 53029841997, :error :connect, :index 18641}
{:type :invoke, :f :write, :value 2, :process 0, :time 53057274772, :index 18646}
{:type :fail, :f :write, :value 2, :process 0, :time 53059316894, :error :connect, :index 18647}
{:type :invoke, :f :read, :value nil, :process 22, :time 53068791529, :index 18650}
{:type :fail, :f :read, :value nil, :process 22, :time 53070770450, :error :connect, :index 18651}
{:type :invoke, :f :write, :value 1, :process 7, :time 53072577617, :index 18652}
{:type :fail, :f :write, :value 1, :process 7, :time 53074428241, :error :connect, :index 18653}
{:type :invoke, :f :read, :value nil, :process 8, :time 53099992015, :index 18660}
{:type :fail, :f :read, :value nil, :process 8, :time 53102064512, :error :connect, :index 18661}
{:type :invoke, :f :write, :value 2, :process 0, :time 53108582320, :index 18664}
{:type :invoke, :f :write, :value 3, :process 5, :time 53109271101, :index 18665}
{:type :fail, :f :write, :value 2, :process 0, :time 53110628872, :error :connect, :index 18666}
{:type :fail, :f :write, :value 3, :process 5, :time 53111353419, :error :connect, :index 18668}
{:type :invoke, :f :write, :value 0, :process 29, :time 53134729344, :index 18674}
{:type :fail, :f :write, :value 0, :process 29, :time 53136713454, :error :connect, :index 18675}
{:type :invoke, :f :write, :value 4, :process 22, :time 53137032993, :index 18676}
{:type :fail, :f :write, :value 4, :process 22, :time 53138907393, :error :connect, :index 18678}
{:type :invoke, :f :write, :value 2, :process 3, :time 53143087355, :index 18680}
{:type :fail, :f :write, :value 2, :process 3, :time 53144947454, :error :connect, :index 18681}
{:type :invoke, :f :write, :value 3, :process 8, :time 53164324135, :index 18684}
{:type :fail, :f :write, :value 3, :process 8, :time 53166232725, :error :connect, :index 18686}
{:type :invoke, :f :cas, :value [3 2], :process 21, :time 53188981051, :index 18694}
{:type :invoke, :f :read, :value nil, :process 4, :time 53189649713, :index 18695}
{:type :fail, :f :cas, :value [3 2], :process 21, :time 53190649698, :error :connect, :index 18696}
{:type :fail, :f :read, :value nil, :process 4, :time 53191280310, :error :connect, :index 18697}
{:type :invoke, :f :read, :value nil, :process 3, :time 53193214616, :index 18698}
{:type :fail, :f :read, :value nil, :process 3, :time 53195064549, :error :connect, :index 18699}
{:type :invoke, :f :write, :value 3, :process 4, :time 53216517837, :index 18706}
{:type :fail, :f :write, :value 3, :process 4, :time 53218491766, :error :connect, :index 18707}
{:type :invoke, :f :write, :value 3, :process 6, :time 53225108465, :index 18708}
{:type :invoke, :f :write, :value 0, :process 5, :time 53225609912, :index 18709}
{:type :fail, :f :write, :value 3, :process 6, :time 53227276633, :error :connect, :index 18711}
{:type :fail, :f :write, :value 0, :process 5, :time 53227719562, :error :connect, :index 18712}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 53247530003, :index 18718}
{:type :fail, :f :cas, :value [4 4], :process 6, :time 53249613137, :error :connect, :index 18719}
{:type :invoke, :f :write, :value 1, :process 22, :time 53253169916, :index 18720}
{:type :fail, :f :write, :value 1, :process 22, :time 53255034674, :error :connect, :index 18721}
{:type :invoke, :f :read, :value nil, :process 0, :time 53260916452, :index 18722}
{:type :fail, :f :read, :value nil, :process 0, :time 53262815947, :error :connect, :index 18723}
{:type :invoke, :f :read, :value nil, :process 7, :time 53268672969, :index 18728}
{:type :fail, :f :read, :value nil, :process 7, :time 53270263906, :error :connect, :index 18729}
{:type :invoke, :f :read, :value nil, :process 21, :time 53286957740, :index 18734}
{:type :fail, :f :read, :value nil, :process 21, :time 53288591378, :error :connect, :index 18735}
{:type :invoke, :f :write, :value 1, :process 3, :time 53292331199, :index 18737}
{:type :fail, :f :write, :value 1, :process 3, :time 53294072370, :error :connect, :index 18740}
{:type :invoke, :f :read, :value nil, :process 6, :time 53316874495, :index 18750}
{:type :fail, :f :read, :value nil, :process 6, :time 53318530482, :error :connect, :index 18751}
{:type :invoke, :f :cas, :value [3 4], :process 29, :time 53328985813, :index 18754}
{:type :fail, :f :cas, :value [3 4], :process 29, :time 53330827992, :error :connect, :index 18755}
{:type :invoke, :f :cas, :value [1 3], :process 5, :time 53339977448, :index 18757}
{:type :fail, :f :cas, :value [1 3], :process 5, :time 53341575755, :error :connect, :index 18759}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 53365475234, :index 18766}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 53367354249, :error :connect, :index 18767}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 53370762014, :index 18768}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 53372580913, :error :connect, :index 18769}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
