{:type :invoke, :f :read, :value nil, :process 19, :time 1314515236, :index 354}
{:type :ok, :f :read, :value nil, :process 19, :time 1320162812, :index 355}
{:type :invoke, :f :write, :value 4, :process 14, :time 1368444099, :index 367}
{:type :ok, :f :write, :value 4, :process 14, :time 1373538942, :index 370}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 1387997024, :index 374}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 1393812304, :index 377}
{:type :invoke, :f :write, :value 0, :process 13, :time 1407561174, :index 381}
{:type :ok, :f :write, :value 0, :process 13, :time 1412511536, :index 383}
{:type :invoke, :f :write, :value 2, :process 11, :time 1414800226, :index 384}
{:type :ok, :f :write, :value 2, :process 11, :time 1420404913, :index 386}
{:type :invoke, :f :write, :value 4, :process 10, :time 1422921924, :index 389}
{:type :ok, :f :write, :value 4, :process 10, :time 1428809051, :index 394}
{:type :invoke, :f :read, :value nil, :process 12, :time 1429165251, :index 395}
{:type :ok, :f :read, :value 4, :process 12, :time 1433142958, :index 399}
{:type :invoke, :f :cas, :value [1 4], :process 15, :time 1434339467, :index 400}
{:type :fail, :f :cas, :value [1 4], :process 15, :time 1439903247, :index 401}
{:type :invoke, :f :read, :value nil, :process 13, :time 1449763310, :index 402}
{:type :invoke, :f :read, :value nil, :process 16, :time 1454820096, :index 403}
{:type :ok, :f :read, :value 4, :process 13, :time 1454949587, :index 404}
{:type :ok, :f :read, :value 4, :process 16, :time 1459572334, :index 406}
{:type :invoke, :f :read, :value nil, :process 14, :time 1472806541, :index 412}
{:type :invoke, :f :cas, :value [2 1], :process 18, :time 1477098881, :index 414}
{:type :ok, :f :read, :value 4, :process 14, :time 1477804890, :index 415}
{:type :invoke, :f :cas, :value [4 3], :process 15, :time 1480180699, :index 417}
{:type :fail, :f :cas, :value [2 1], :process 18, :time 1481854063, :index 418}
{:type :ok, :f :cas, :value [4 3], :process 15, :time 1485125107, :index 419}
{:type :invoke, :f :read, :value nil, :process 19, :time 1485425951, :index 420}
{:type :invoke, :f :read, :value nil, :process 11, :time 1488667481, :index 422}
{:type :ok, :f :read, :value 3, :process 19, :time 1490137714, :index 423}
{:type :ok, :f :read, :value 3, :process 11, :time 1493820411, :index 425}
{:type :invoke, :f :read, :value nil, :process 17, :time 1531631507, :index 426}
{:type :ok, :f :read, :value 3, :process 17, :time 1536550145, :index 428}
{:type :invoke, :f :read, :value nil, :process 19, :time 1537415978, :index 430}
{:type :ok, :f :read, :value 3, :process 19, :time 1542208991, :index 431}
{:type :invoke, :f :cas, :value [1 2], :process 11, :time 1559082926, :index 436}
{:type :invoke, :f :cas, :value [0 4], :process 13, :time 1561193609, :index 437}
{:type :fail, :f :cas, :value [1 2], :process 11, :time 1564098349, :index 439}
{:type :invoke, :f :read, :value nil, :process 14, :time 1564979799, :index 440}
{:type :fail, :f :cas, :value [0 4], :process 13, :time 1566382987, :index 441}
{:type :ok, :f :read, :value 3, :process 14, :time 1569697867, :index 442}
{:type :invoke, :f :read, :value nil, :process 10, :time 1571069813, :index 444}
{:type :ok, :f :read, :value 3, :process 10, :time 1576455657, :index 445}
{:type :invoke, :f :read, :value nil, :process 12, :time 1578400915, :index 446}
{:type :invoke, :f :cas, :value [2 0], :process 15, :time 1578407313, :index 447}
{:type :ok, :f :read, :value 3, :process 12, :time 1582922118, :index 449}
{:type :invoke, :f :write, :value 3, :process 19, :time 1583481844, :index 451}
{:type :fail, :f :cas, :value [2 0], :process 15, :time 1585911617, :index 453}
{:type :ok, :f :write, :value 3, :process 19, :time 1591759116, :index 457}
{:type :invoke, :f :cas, :value [3 4], :process 11, :time 1605361270, :index 466}
{:type :ok, :f :cas, :value [3 4], :process 11, :time 1610097273, :index 467}
{:type :invoke, :f :cas, :value [0 4], :process 12, :time 1613185144, :index 468}
{:type :fail, :f :cas, :value [0 4], :process 12, :time 1618360190, :index 469}
{:type :invoke, :f :cas, :value [4 1], :process 16, :time 1622801222, :index 471}
{:type :ok, :f :cas, :value [4 1], :process 16, :time 1628362962, :index 475}
{:type :invoke, :f :write, :value 0, :process 14, :time 1633970985, :index 477}
{:type :ok, :f :write, :value 0, :process 14, :time 1639161922, :index 481}
{:type :invoke, :f :read, :value nil, :process 14, :time 1641422089, :index 482}
{:type :ok, :f :read, :value 0, :process 14, :time 1648749297, :index 485}
{:type :invoke, :f :read, :value nil, :process 18, :time 1654132350, :index 486}
{:type :ok, :f :read, :value 0, :process 18, :time 1659228471, :index 488}
{:type :invoke, :f :cas, :value [1 0], :process 13, :time 1666644587, :index 491}
{:type :fail, :f :cas, :value [1 0], :process 13, :time 1671582724, :index 493}
{:type :invoke, :f :cas, :value [4 2], :process 12, :time 1687622307, :index 496}
{:type :fail, :f :cas, :value [4 2], :process 12, :time 1692755878, :index 497}
{:type :invoke, :f :cas, :value [4 2], :process 17, :time 1693817182, :index 498}
{:type :fail, :f :cas, :value [4 2], :process 17, :time 1698861494, :index 499}
{:type :invoke, :f :cas, :value [2 4], :process 12, :time 1701014398, :index 500}
{:type :invoke, :f :write, :value 2, :process 10, :time 1702729829, :index 501}
{:type :fail, :f :cas, :value [2 4], :process 12, :time 1706114550, :index 502}
{:type :ok, :f :write, :value 2, :process 10, :time 1707902701, :index 504}
{:type :invoke, :f :read, :value nil, :process 13, :time 1718839745, :index 506}
{:type :ok, :f :read, :value 2, :process 13, :time 1724538882, :index 508}
{:type :invoke, :f :write, :value 3, :process 19, :time 1727066160, :index 510}
{:type :ok, :f :write, :value 3, :process 19, :time 1732613319, :index 512}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 1733213124, :index 514}
{:type :invoke, :f :write, :value 3, :process 14, :time 1737001835, :index 516}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 1739777560, :index 519}
{:type :invoke, :f :write, :value 3, :process 17, :time 1744148680, :index 521}
{:type :ok, :f :write, :value 3, :process 14, :time 1745379386, :index 522}
{:type :ok, :f :write, :value 3, :process 17, :time 1748201539, :index 523}
{:type :invoke, :f :write, :value 2, :process 11, :time 1759364773, :index 525}
{:type :ok, :f :write, :value 2, :process 11, :time 1764155084, :index 527}
{:type :invoke, :f :write, :value 1, :process 18, :time 1785508700, :index 530}
{:type :ok, :f :write, :value 1, :process 18, :time 1790786232, :index 532}
{:type :invoke, :f :write, :value 3, :process 16, :time 1795597311, :index 535}
{:type :ok, :f :write, :value 3, :process 16, :time 1801588735, :index 539}
{:type :invoke, :f :write, :value 3, :process 10, :time 1804166410, :index 542}
{:type :invoke, :f :write, :value 2, :process 16, :time 1807846457, :index 543}
{:type :ok, :f :write, :value 3, :process 10, :time 1809029250, :index 544}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 1812043813, :index 545}
{:type :ok, :f :write, :value 2, :process 16, :time 1812742617, :index 546}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 1817259759, :index 547}
{:type :invoke, :f :read, :value nil, :process 14, :time 1828636912, :index 548}
{:type :invoke, :f :write, :value 2, :process 17, :time 1831464049, :index 549}
{:type :ok, :f :read, :value 2, :process 14, :time 1833368362, :index 551}
{:type :invoke, :f :cas, :value [3 4], :process 18, :time 1834054613, :index 552}
{:type :ok, :f :write, :value 2, :process 17, :time 1836231831, :index 553}
{:type :fail, :f :cas, :value [3 4], :process 18, :time 1839088967, :index 555}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 1849008983, :index 556}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 1850287881, :index 557}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 1854158436, :index 558}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 1855902595, :index 559}
{:type :invoke, :f :cas, :value [2 2], :process 13, :time 1860798789, :index 560}
{:type :ok, :f :cas, :value [2 2], :process 13, :time 1865976883, :index 561}
{:type :invoke, :f :write, :value 2, :process 16, :time 1895425996, :index 571}
{:type :invoke, :f :write, :value 4, :process 12, :time 1899382295, :index 574}
{:type :ok, :f :write, :value 2, :process 16, :time 1900678831, :index 575}
{:type :ok, :f :write, :value 4, :process 12, :time 1903667216, :index 577}
{:type :invoke, :f :read, :value nil, :process 17, :time 1919478814, :index 580}
{:type :ok, :f :read, :value 4, :process 17, :time 1923574896, :index 582}
{:type :invoke, :f :read, :value nil, :process 19, :time 1927908719, :index 586}
{:type :invoke, :f :read, :value nil, :process 11, :time 1928423900, :index 587}
{:type :ok, :f :read, :value 4, :process 11, :time 1935264965, :index 591}
{:type :invoke, :f :read, :value nil, :process 17, :time 1943833714, :index 593}
{:type :ok, :f :read, :value 4, :process 17, :time 1948252882, :index 595}
{:type :invoke, :f :read, :value nil, :process 17, :time 1951514375, :index 597}
{:type :ok, :f :read, :value 4, :process 17, :time 1955899720, :index 598}
{:type :invoke, :f :read, :value nil, :process 14, :time 1971623770, :index 605}
{:type :invoke, :f :read, :value nil, :process 15, :time 1983518093, :index 608}
{:type :invoke, :f :write, :value 0, :process 13, :time 1987228201, :index 609}
{:type :ok, :f :read, :value 4, :process 15, :time 1988721812, :index 611}
{:type :ok, :f :write, :value 0, :process 13, :time 1992258034, :index 612}
{:type :invoke, :f :write, :value 3, :process 18, :time 1992351384, :index 613}
{:type :invoke, :f :write, :value 3, :process 10, :time 1995160496, :index 614}
{:type :ok, :f :write, :value 3, :process 18, :time 1997165089, :index 615}
{:type :invoke, :f :read, :value nil, :process 12, :time 1998914181, :index 616}
{:type :ok, :f :write, :value 3, :process 10, :time 2000109595, :index 618}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 2001427650, :index 619}
{:type :ok, :f :read, :value 3, :process 12, :time 2003197073, :index 620}
{:type :ok, :f :cas, :value [3 2], :process 18, :time 2006373585, :index 623}
{:type :invoke, :f :write, :value 1, :process 16, :time 2045935937, :index 629}
{:type :ok, :f :read, :value 4, :process 19, :time 2046714781, :index 630}
{:type :ok, :f :read, :value 2, :process 14, :time 2051198810, :index 632}
{:type :ok, :f :write, :value 1, :process 16, :time 2051583541, :index 634}
{:type :invoke, :f :read, :value nil, :process 12, :time 2078456259, :index 641}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 2080633290, :index 643}
{:type :ok, :f :read, :value 1, :process 12, :time 2083269778, :index 644}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 2085690679, :index 646}
{:type :invoke, :f :write, :value 4, :process 12, :time 2092536553, :index 649}
{:type :ok, :f :write, :value 4, :process 12, :time 2096565961, :index 651}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 2121526767, :index 654}
{:type :invoke, :f :cas, :value [0 1], :process 15, :time 2126993687, :index 655}
{:type :fail, :f :cas, :value [2 3], :process 11, :time 2127498235, :index 656}
{:type :invoke, :f :write, :value 2, :process 17, :time 2128166010, :index 657}
{:type :ok, :f :write, :value 2, :process 17, :time 2132891123, :index 658}
{:type :fail, :f :cas, :value [0 1], :process 15, :time 2133280928, :index 659}
{:type :invoke, :f :read, :value nil, :process 15, :time 2159524844, :index 666}
{:type :ok, :f :read, :value 2, :process 15, :time 2164960153, :index 667}
{:type :invoke, :f :cas, :value [3 0], :process 16, :time 2168841552, :index 668}
{:type :invoke, :f :read, :value nil, :process 19, :time 2172977453, :index 669}
{:type :invoke, :f :read, :value nil, :process 13, :time 2174093475, :index 670}
{:type :fail, :f :cas, :value [3 0], :process 16, :time 2174621607, :index 671}
{:type :ok, :f :read, :value 2, :process 19, :time 2178185218, :index 672}
{:type :ok, :f :read, :value 2, :process 13, :time 2179101670, :index 673}
{:type :invoke, :f :read, :value nil, :process 10, :time 2199358236, :index 678}
{:type :invoke, :f :read, :value nil, :process 11, :time 2202770618, :index 680}
{:type :ok, :f :read, :value 2, :process 10, :time 2204613647, :index 681}
{:type :ok, :f :read, :value 2, :process 11, :time 2207324865, :index 684}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 2215229528, :index 686}
{:type :invoke, :f :cas, :value [1 4], :process 14, :time 2217458902, :index 687}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 2220937032, :index 688}
{:type :fail, :f :cas, :value [1 4], :process 14, :time 2222255643, :index 689}
{:type :invoke, :f :read, :value nil, :process 11, :time 2225580683, :index 690}
{:type :ok, :f :read, :value 2, :process 11, :time 2230560818, :index 692}
{:type :invoke, :f :cas, :value [3 1], :process 13, :time 2239352110, :index 698}
{:type :invoke, :f :write, :value 0, :process 18, :time 2240932929, :index 700}
{:type :fail, :f :cas, :value [3 1], :process 13, :time 2244703245, :index 701}
{:type :ok, :f :write, :value 0, :process 18, :time 2246046269, :index 703}
{:type :invoke, :f :cas, :value [1 3], :process 13, :time 2251966051, :index 705}
{:type :fail, :f :cas, :value [1 3], :process 13, :time 2257371016, :index 707}
{:type :invoke, :f :read, :value nil, :process 12, :time 2258728340, :index 708}
{:type :ok, :f :read, :value 0, :process 12, :time 2262619378, :index 709}
{:type :invoke, :f :read, :value nil, :process 17, :time 2266161428, :index 710}
{:type :ok, :f :read, :value 0, :process 17, :time 2270929153, :index 711}
{:type :invoke, :f :write, :value 4, :process 16, :time 2283918724, :index 714}
{:type :ok, :f :write, :value 4, :process 16, :time 2288723710, :index 715}
{:type :invoke, :f :read, :value nil, :process 10, :time 2292872747, :index 716}
{:type :invoke, :f :write, :value 3, :process 19, :time 2294447068, :index 717}
{:type :ok, :f :read, :value 4, :process 10, :time 2298177074, :index 718}
{:type :ok, :f :write, :value 3, :process 19, :time 2299439659, :index 719}
{:type :invoke, :f :read, :value nil, :process 19, :time 2334707678, :index 736}
{:type :ok, :f :read, :value 3, :process 19, :time 2340106410, :index 737}
{:type :invoke, :f :write, :value 0, :process 13, :time 2361631361, :index 742}
{:type :invoke, :f :write, :value 4, :process 15, :time 2362214859, :index 743}
{:type :invoke, :f :read, :value nil, :process 11, :time 2364856557, :index 744}
{:type :ok, :f :write, :value 0, :process 13, :time 2366212443, :index 745}
{:type :ok, :f :write, :value 4, :process 15, :time 2367135684, :index 746}
{:type :ok, :f :read, :value 4, :process 11, :time 2369177052, :index 747}
{:type :invoke, :f :write, :value 4, :process 10, :time 2387435596, :index 751}
{:type :ok, :f :write, :value 4, :process 10, :time 2393007079, :index 754}
{:type :invoke, :f :cas, :value [2 1], :process 14, :time 2394518476, :index 755}
{:type :invoke, :f :cas, :value [1 2], :process 16, :time 2399994891, :index 758}
{:type :fail, :f :cas, :value [2 1], :process 14, :time 2400169215, :index 759}
{:type :fail, :f :cas, :value [1 2], :process 16, :time 2405564947, :index 763}
{:type :invoke, :f :write, :value 0, :process 18, :time 2421292519, :index 768}
{:type :ok, :f :write, :value 0, :process 18, :time 2426150105, :index 771}
{:type :invoke, :f :read, :value nil, :process 12, :time 2459893162, :index 780}
{:type :invoke, :f :read, :value nil, :process 17, :time 2460206548, :index 781}
{:type :ok, :f :read, :value 0, :process 12, :time 2464397711, :index 782}
{:type :ok, :f :read, :value 0, :process 17, :time 2465270613, :index 783}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
