{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :invoke, :f :cas, :value [2 1], :process 37, :time 46510414987, :index 16035}
{:type :fail, :f :cas, :value [2 1], :process 37, :time 46512058358, :error :connect, :index 16036}
{:type :invoke, :f :cas, :value [4 0], :process 34, :time 46542603948, :index 16048}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :fail, :f :cas, :value [4 0], :process 34, :time 46544895650, :error :connect, :index 16051}
{:type :invoke, :f :read, :value nil, :process 15, :time 46547249097, :index 16052}
{:type :fail, :f :read, :value nil, :process 15, :time 46549287523, :error :connect, :index 16053}
{:type :invoke, :f :write, :value 0, :process 15, :time 46576545938, :index 16060}
{:type :fail, :f :write, :value 0, :process 15, :time 46578379282, :error :connect, :index 16062}
{:type :invoke, :f :read, :value nil, :process 33, :time 46592337538, :index 16067}
{:type :fail, :f :read, :value nil, :process 33, :time 46594508598, :error :connect, :index 16069}
{:type :invoke, :f :cas, :value [3 2], :process 39, :time 46617587181, :index 16070}
{:type :fail, :f :cas, :value [3 2], :process 39, :time 46619850012, :error :connect, :index 16071}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 46632064210, :index 16074}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 46634047372, :error :connect, :index 16076}
{:type :invoke, :f :read, :value nil, :process 34, :time 46657140086, :index 16080}
{:type :fail, :f :read, :value nil, :process 34, :time 46659145597, :error :connect, :index 16081}
{:type :invoke, :f :read, :value nil, :process 36, :time 46673946785, :index 16084}
{:type :fail, :f :read, :value nil, :process 36, :time 46675790882, :error :connect, :index 16085}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 46680354387, :index 16086}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 46682217633, :error :connect, :index 16087}
{:type :invoke, :f :read, :value nil, :process 10, :time 46695110843, :index 16096}
{:type :fail, :f :read, :value nil, :process 10, :time 46696982890, :error :connect, :index 16097}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 46710629899, :index 16102}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 46712744859, :error :connect, :index 16103}
{:type :invoke, :f :cas, :value [3 1], :process 39, :time 46723125890, :index 16106}
{:type :fail, :f :cas, :value [3 1], :process 39, :time 46724930044, :error :connect, :index 16107}
{:type :invoke, :f :read, :value nil, :process 11, :time 46725993568, :index 16108}
{:type :invoke, :f :cas, :value [0 1], :process 39, :time 46726207233, :index 16109}
{:type :fail, :f :read, :value nil, :process 11, :time 46727948045, :error :connect, :index 16110}
{:type :fail, :f :cas, :value [0 1], :process 39, :time 46728328831, :error :connect, :index 16111}
{:type :invoke, :f :write, :value 1, :process 32, :time 46732106381, :index 16112}
{:type :fail, :f :write, :value 1, :process 32, :time 46733953752, :error :connect, :index 16114}
{:type :invoke, :f :write, :value 3, :process 33, :time 46777774119, :index 16120}
{:type :fail, :f :write, :value 3, :process 33, :time 46779639756, :error :connect, :index 16121}
{:type :invoke, :f :write, :value 2, :process 18, :time 46783337741, :index 16122}
{:type :fail, :f :write, :value 2, :process 18, :time 46784962010, :error :connect, :index 16123}
{:type :invoke, :f :read, :value nil, :process 11, :time 46791218566, :index 16128}
{:type :fail, :f :read, :value nil, :process 11, :time 46793003712, :error :connect, :index 16129}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 46803242119, :index 16132}
{:type :fail, :f :cas, :value [0 3], :process 10, :time 46804967867, :error :connect, :index 16133}
{:type :invoke, :f :write, :value 2, :process 37, :time 46811486642, :index 16137}
{:type :fail, :f :write, :value 2, :process 37, :time 46813538674, :error :connect, :index 16139}
{:type :invoke, :f :read, :value nil, :process 36, :time 46826058868, :index 16142}
{:type :fail, :f :read, :value nil, :process 36, :time 46827930508, :error :connect, :index 16143}
{:type :invoke, :f :cas, :value [1 4], :process 34, :time 46841409632, :index 16148}
{:type :fail, :f :cas, :value [1 4], :process 34, :time 46843354383, :error :connect, :index 16150}
{:type :invoke, :f :read, :value nil, :process 15, :time 46855011041, :index 16154}
{:type :fail, :f :read, :value nil, :process 15, :time 46856709820, :error :connect, :index 16155}
{:type :invoke, :f :write, :value 3, :process 10, :time 46861270855, :index 16157}
{:type :fail, :f :write, :value 3, :process 10, :time 46863045139, :error :connect, :index 16159}
{:type :invoke, :f :write, :value 3, :process 33, :time 46870900598, :index 16160}
{:type :fail, :f :write, :value 3, :process 33, :time 46872586832, :error :connect, :index 16161}
{:type :invoke, :f :cas, :value [1 1], :process 37, :time 46882801562, :index 16166}
{:type :fail, :f :cas, :value [1 1], :process 37, :time 46884648357, :error :connect, :index 16167}
{:type :invoke, :f :cas, :value [4 4], :process 34, :time 46889622094, :index 16168}
{:type :fail, :f :cas, :value [4 4], :process 34, :time 46891432000, :error :connect, :index 16169}
{:type :invoke, :f :cas, :value [2 3], :process 39, :time 46893576189, :index 16170}
{:type :fail, :f :cas, :value [2 3], :process 39, :time 46895759894, :error :connect, :index 16172}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 46900234361, :index 16174}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 46901903363, :error :connect, :index 16175}
{:type :invoke, :f :read, :value nil, :process 32, :time 46905213482, :index 16176}
{:type :fail, :f :read, :value nil, :process 32, :time 46907036555, :error :connect, :index 16177}
{:type :invoke, :f :read, :value nil, :process 32, :time 46917294810, :index 16178}
{:type :fail, :f :read, :value nil, :process 32, :time 46919199183, :error :connect, :index 16179}
{:type :invoke, :f :write, :value 1, :process 39, :time 46940036851, :index 16182}
{:type :fail, :f :write, :value 1, :process 39, :time 46941667374, :error :connect, :index 16183}
{:type :invoke, :f :cas, :value [1 4], :process 36, :time 46949198289, :index 16188}
{:type :fail, :f :cas, :value [1 4], :process 36, :time 46950991099, :error :connect, :index 16189}
{:type :invoke, :f :write, :value 3, :process 11, :time 46965268337, :index 16198}
{:type :fail, :f :write, :value 3, :process 11, :time 46967071080, :error :connect, :index 16199}
{:type :invoke, :f :read, :value nil, :process 15, :time 46972978107, :index 16202}
{:type :fail, :f :read, :value nil, :process 15, :time 46974961933, :error :connect, :index 16203}
{:type :invoke, :f :read, :value nil, :process 11, :time 47002334392, :index 16206}
{:type :fail, :f :read, :value nil, :process 11, :time 47004012110, :error :connect, :index 16207}
{:type :invoke, :f :write, :value 3, :process 39, :time 47009930249, :index 16208}
{:type :fail, :f :write, :value 3, :process 39, :time 47011583048, :error :connect, :index 16209}
{:type :invoke, :f :cas, :value [0 1], :process 34, :time 47013704030, :index 16211}
{:type :invoke, :f :write, :value 1, :process 36, :time 47015272496, :index 16213}
{:type :fail, :f :cas, :value [0 1], :process 34, :time 47015684721, :error :connect, :index 16214}
{:type :fail, :f :write, :value 1, :process 36, :time 47017061923, :error :connect, :index 16215}
{:type :invoke, :f :write, :value 2, :process 33, :time 47032856837, :index 16226}
{:type :fail, :f :write, :value 2, :process 33, :time 47034518333, :error :connect, :index 16227}
{:type :invoke, :f :cas, :value [2 0], :process 10, :time 47038199939, :index 16228}
{:type :fail, :f :cas, :value [2 0], :process 10, :time 47040311836, :error :connect, :index 16229}
{:type :invoke, :f :read, :value nil, :process 18, :time 47045167653, :index 16230}
{:type :fail, :f :read, :value nil, :process 18, :time 47046861801, :error :connect, :index 16232}
{:type :invoke, :f :write, :value 3, :process 32, :time 47047496232, :index 16233}
{:type :fail, :f :write, :value 3, :process 32, :time 47049326657, :error :connect, :index 16236}
{:type :invoke, :f :read, :value nil, :process 18, :time 47060077414, :index 16238}
{:type :fail, :f :read, :value nil, :process 18, :time 47061726482, :error :connect, :index 16239}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 47070922645, :index 16240}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 47072773119, :error :connect, :index 16241}
{:type :invoke, :f :cas, :value [2 1], :process 32, :time 47084560038, :index 16244}
{:type :fail, :f :cas, :value [2 1], :process 32, :time 47086495814, :error :connect, :index 16246}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 47101985198, :index 16252}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 47104017819, :error :connect, :index 16254}
{:type :invoke, :f :read, :value nil, :process 10, :time 47107580323, :index 16257}
{:type :fail, :f :read, :value nil, :process 10, :time 47109452893, :error :connect, :index 16259}
{:type :invoke, :f :write, :value 3, :process 15, :time 47111234346, :index 16261}
{:type :invoke, :f :write, :value 3, :process 32, :time 47111754984, :index 16262}
{:type :fail, :f :write, :value 3, :process 15, :time 47113316264, :error :connect, :index 16264}
{:type :fail, :f :write, :value 3, :process 32, :time 47113662244, :error :connect, :index 16265}
{:type :invoke, :f :write, :value 3, :process 36, :time 47119330162, :index 16266}
{:type :fail, :f :write, :value 3, :process 36, :time 47121049288, :error :connect, :index 16267}
{:type :invoke, :f :read, :value nil, :process 10, :time 47124703905, :index 16269}
{:type :fail, :f :read, :value nil, :process 10, :time 47126533745, :error :connect, :index 16272}
{:type :invoke, :f :cas, :value [3 2], :process 39, :time 47139230393, :index 16283}
{:type :fail, :f :cas, :value [3 2], :process 39, :time 47141322470, :error :connect, :index 16285}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 47152273603, :index 16286}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 47154267452, :error :connect, :index 16287}
{:type :invoke, :f :write, :value 3, :process 34, :time 47170974145, :index 16291}
{:type :fail, :f :write, :value 3, :process 34, :time 47172618045, :error :connect, :index 16293}
{:type :invoke, :f :write, :value 3, :process 32, :time 47197933091, :index 16299}
{:type :fail, :f :write, :value 3, :process 32, :time 47199995001, :error :connect, :index 16301}
{:type :invoke, :f :cas, :value [3 3], :process 37, :time 47210044844, :index 16303}
{:type :fail, :f :cas, :value [3 3], :process 37, :time 47212012848, :error :connect, :index 16305}
{:type :invoke, :f :cas, :value [2 1], :process 33, :time 47215786359, :index 16310}
{:type :fail, :f :cas, :value [2 1], :process 33, :time 47217411812, :error :connect, :index 16311}
{:type :invoke, :f :read, :value nil, :process 39, :time 47230570413, :index 16314}
{:type :fail, :f :read, :value nil, :process 39, :time 47232171683, :error :connect, :index 16315}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 47243286747, :index 16318}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 47245029429, :error :connect, :index 16319}
{:type :invoke, :f :cas, :value [3 2], :process 39, :time 47255427889, :index 16320}
{:type :fail, :f :cas, :value [3 2], :process 39, :time 47257466553, :error :connect, :index 16322}
{:type :invoke, :f :write, :value 3, :process 10, :time 47270807775, :index 16328}
{:type :fail, :f :write, :value 3, :process 10, :time 47272913920, :error :connect, :index 16329}
{:type :invoke, :f :write, :value 3, :process 37, :time 47286296146, :index 16331}
{:type :fail, :f :write, :value 3, :process 37, :time 47288357194, :error :connect, :index 16333}
{:type :invoke, :f :cas, :value [3 2], :process 11, :time 47292533320, :index 16336}
{:type :fail, :f :cas, :value [3 2], :process 11, :time 47294166794, :error :connect, :index 16337}
{:type :invoke, :f :write, :value 2, :process 10, :time 47298170713, :index 16338}
{:type :fail, :f :write, :value 2, :process 10, :time 47300195763, :error :connect, :index 16339}
{:type :invoke, :f :read, :value nil, :process 15, :time 47301556891, :index 16340}
{:type :fail, :f :read, :value nil, :process 15, :time 47303585260, :error :connect, :index 16341}
{:type :invoke, :f :read, :value nil, :process 39, :time 47304739232, :index 16342}
{:type :fail, :f :read, :value nil, :process 39, :time 47306562152, :error :connect, :index 16343}
{:type :invoke, :f :read, :value nil, :process 34, :time 47307880328, :index 16344}
{:type :fail, :f :read, :value nil, :process 34, :time 47309657050, :error :connect, :index 16345}
{:type :invoke, :f :write, :value 4, :process 36, :time 47318312183, :index 16348}
{:type :fail, :f :write, :value 4, :process 36, :time 47320122843, :error :connect, :index 16349}
{:type :invoke, :f :read, :value nil, :process 32, :time 47321262942, :index 16351}
{:type :fail, :f :read, :value nil, :process 32, :time 47323269360, :error :connect, :index 16353}
{:type :invoke, :f :cas, :value [0 1], :process 18, :time 47324300080, :index 16354}
{:type :fail, :f :cas, :value [0 1], :process 18, :time 47325996455, :error :connect, :index 16355}
{:type :invoke, :f :write, :value 2, :process 32, :time 47329537482, :index 16357}
{:type :fail, :f :write, :value 2, :process 32, :time 47331358801, :error :connect, :index 16359}
{:type :invoke, :f :read, :value nil, :process 36, :time 47334389900, :index 16362}
{:type :fail, :f :read, :value nil, :process 36, :time 47336429519, :error :connect, :index 16363}
{:type :invoke, :f :write, :value 3, :process 39, :time 47340844487, :index 16364}
{:type :fail, :f :write, :value 3, :process 39, :time 47342815039, :error :connect, :index 16365}
{:type :invoke, :f :cas, :value [4 2], :process 32, :time 47382596048, :index 16368}
{:type :fail, :f :cas, :value [4 2], :process 32, :time 47384523170, :error :connect, :index 16369}
{:type :invoke, :f :write, :value 1, :process 10, :time 47393464333, :index 16372}
{:type :fail, :f :write, :value 1, :process 10, :time 47395583928, :error :connect, :index 16375}
{:type :invoke, :f :read, :value nil, :process 37, :time 47415634412, :index 16382}
{:type :invoke, :f :write, :value 4, :process 33, :time 47415720737, :index 16384}
{:type :fail, :f :read, :value nil, :process 37, :time 47417725384, :error :connect, :index 16386}
{:type :fail, :f :write, :value 4, :process 33, :time 47417988059, :error :connect, :index 16387}
{:type :invoke, :f :write, :value 4, :process 36, :time 47439688468, :index 16394}
{:type :fail, :f :write, :value 4, :process 36, :time 47441340560, :error :connect, :index 16395}
{:type :invoke, :f :write, :value 0, :process 11, :time 47458466642, :index 16400}
{:type :fail, :f :write, :value 0, :process 11, :time 47460375442, :error :connect, :index 16401}
{:type :invoke, :f :cas, :value [1 4], :process 36, :time 47460617623, :index 16402}
{:type :fail, :f :cas, :value [1 4], :process 36, :time 47462680456, :error :connect, :index 16403}
{:type :invoke, :f :read, :value nil, :process 15, :time 47466880055, :index 16404}
{:type :invoke, :f :write, :value 1, :process 18, :time 47468265270, :index 16405}
{:type :fail, :f :read, :value nil, :process 15, :time 47468987076, :error :connect, :index 16406}
{:type :fail, :f :write, :value 1, :process 18, :time 47470158893, :error :connect, :index 16407}
{:type :invoke, :f :write, :value 4, :process 34, :time 47478930495, :index 16410}
{:type :invoke, :f :cas, :value [3 2], :process 37, :time 47479987321, :index 16411}
{:type :fail, :f :write, :value 4, :process 34, :time 47480939590, :error :connect, :index 16412}
{:type :fail, :f :cas, :value [3 2], :process 37, :time 47482035052, :error :connect, :index 16413}
{:type :invoke, :f :cas, :value [2 3], :process 39, :time 47494084660, :index 16414}
{:type :invoke, :f :read, :value nil, :process 15, :time 47495248327, :index 16415}
{:type :fail, :f :cas, :value [2 3], :process 39, :time 47495986875, :error :connect, :index 16416}
{:type :fail, :f :read, :value nil, :process 15, :time 47497301617, :error :connect, :index 16417}
{:type :invoke, :f :write, :value 2, :process 10, :time 47505890659, :index 16418}
{:type :fail, :f :write, :value 2, :process 10, :time 47507491358, :error :connect, :index 16419}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 47529249418, :index 16424}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 47531252486, :error :connect, :index 16425}
{:type :invoke, :f :write, :value 2, :process 15, :time 47531554682, :index 16426}
{:type :fail, :f :write, :value 2, :process 15, :time 47533163516, :error :connect, :index 16427}
{:type :invoke, :f :write, :value 4, :process 32, :time 47537787771, :index 16430}
{:type :fail, :f :write, :value 4, :process 32, :time 47539643895, :error :connect, :index 16431}
{:type :invoke, :f :read, :value nil, :process 33, :time 47559216875, :index 16444}
{:type :fail, :f :read, :value nil, :process 33, :time 47561283869, :error :connect, :index 16445}
{:type :invoke, :f :write, :value 2, :process 10, :time 47565805096, :index 16447}
{:type :fail, :f :write, :value 2, :process 10, :time 47567501973, :error :connect, :index 16449}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 47571420575, :index 16452}
{:type :fail, :f :cas, :value [3 2], :process 18, :time 47573583818, :error :connect, :index 16454}
{:type :invoke, :f :write, :value 4, :process 37, :time 47586298342, :index 16460}
{:type :fail, :f :write, :value 4, :process 37, :time 47588190358, :error :connect, :index 16462}
{:type :invoke, :f :read, :value nil, :process 11, :time 47600635825, :index 16468}
{:type :fail, :f :read, :value nil, :process 11, :time 47602512013, :error :connect, :index 16469}
{:type :invoke, :f :write, :value 4, :process 36, :time 47607979759, :index 16470}
{:type :fail, :f :write, :value 4, :process 36, :time 47609652742, :error :connect, :index 16471}
{:type :invoke, :f :write, :value 4, :process 34, :time 47625205970, :index 16478}
{:type :fail, :f :write, :value 4, :process 34, :time 47627020337, :error :connect, :index 16479}
{:type :invoke, :f :cas, :value [3 4], :process 39, :time 47703526647, :index 16499}
{:type :fail, :f :cas, :value [3 4], :process 39, :time 47705314913, :error :connect, :index 16502}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
