{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :invoke, :f :read, :value nil, :process 6, :time 16718339941, :index 3982}
{:type :ok, :f :read, :value nil, :process 6, :time 16724304878, :index 3984}
{:type :invoke, :f :read, :value nil, :process 25, :time 16775384810, :index 3992}
{:type :ok, :f :read, :value nil, :process 25, :time 16780741298, :index 3995}
{:type :invoke, :f :write, :value 4, :process 8, :time 16783418135, :index 3996}
{:type :invoke, :f :cas, :value [1 4], :process 1, :time 16785672516, :index 3998}
{:type :ok, :f :write, :value 4, :process 8, :time 16788621108, :index 4001}
{:type :invoke, :f :write, :value 1, :process 8, :time 16790872721, :index 4003}
{:type :fail, :f :cas, :value [1 4], :process 1, :time 16791937808, :index 4004}
{:type :ok, :f :write, :value 1, :process 8, :time 16795661766, :index 4007}
{:type :invoke, :f :write, :value 1, :process 1, :time 16799187710, :index 4008}
{:type :ok, :f :write, :value 1, :process 1, :time 16804779985, :index 4010}
{:type :invoke, :f :read, :value nil, :process 20, :time 16805127636, :index 4011}
{:type :ok, :f :read, :value 1, :process 20, :time 16809568747, :index 4013}
{:type :invoke, :f :write, :value 2, :process 6, :time 16827606136, :index 4016}
{:type :ok, :f :write, :value 2, :process 6, :time 16832298968, :index 4017}
{:type :invoke, :f :read, :value nil, :process 20, :time 16859812664, :index 4022}
{:type :ok, :f :read, :value 2, :process 20, :time 16865132395, :index 4023}
{:type :invoke, :f :read, :value nil, :process 3, :time 16880382072, :index 4024}
{:type :ok, :f :read, :value 2, :process 3, :time 16885968878, :index 4026}
{:type :invoke, :f :read, :value nil, :process 20, :time 16898384611, :index 4028}
{:type :ok, :f :read, :value 2, :process 20, :time 16904112262, :index 4029}
{:type :invoke, :f :write, :value 4, :process 8, :time 16907913489, :index 4030}
{:type :invoke, :f :write, :value 1, :process 1, :time 16908110396, :index 4031}
{:type :ok, :f :write, :value 4, :process 8, :time 16913218663, :index 4032}
{:type :ok, :f :write, :value 1, :process 1, :time 16913657962, :index 4033}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 16936558749, :index 4036}
{:type :fail, :f :cas, :value [0 1], :process 6, :time 16942243776, :index 4038}
{:type :invoke, :f :write, :value 3, :process 25, :time 16972001278, :index 4041}
{:type :ok, :f :write, :value 3, :process 25, :time 16977850481, :index 4045}
{:type :invoke, :f :cas, :value [0 3], :process 8, :time 16999486572, :index 4048}
{:type :fail, :f :cas, :value [0 3], :process 8, :time 17004688759, :index 4049}
{:type :invoke, :f :write, :value 1, :process 3, :time 17015268494, :index 4052}
{:type :ok, :f :write, :value 1, :process 3, :time 17019752698, :index 4053}
{:type :invoke, :f :read, :value nil, :process 20, :time 17035370133, :index 4056}
{:type :ok, :f :read, :value 1, :process 20, :time 17040315528, :index 4058}
{:type :invoke, :f :read, :value nil, :process 6, :time 17075500777, :index 4063}
{:type :invoke, :f :read, :value nil, :process 25, :time 17079107825, :index 4065}
{:type :ok, :f :read, :value 1, :process 6, :time 17080443936, :index 4066}
{:type :ok, :f :read, :value 1, :process 25, :time 17084958565, :index 4068}
{:type :invoke, :f :cas, :value [1 4], :process 1, :time 17112893844, :index 4074}
{:type :ok, :f :cas, :value [1 4], :process 1, :time 17117562342, :index 4075}
{:type :invoke, :f :read, :value nil, :process 6, :time 17147709099, :index 4078}
{:type :invoke, :f :write, :value 2, :process 3, :time 17149019968, :index 4079}
{:type :ok, :f :read, :value 4, :process 6, :time 17152588883, :index 4082}
{:type :ok, :f :write, :value 2, :process 3, :time 17154004166, :index 4083}
{:type :invoke, :f :write, :value 4, :process 1, :time 17159822489, :index 4086}
{:type :ok, :f :write, :value 4, :process 1, :time 17164182783, :index 4088}
{:type :invoke, :f :read, :value nil, :process 3, :time 17170296525, :index 4090}
{:type :ok, :f :read, :value 4, :process 3, :time 17175036271, :index 4091}
{:type :invoke, :f :cas, :value [2 2], :process 20, :time 17181583750, :index 4093}
{:type :invoke, :f :write, :value 3, :process 8, :time 17184992325, :index 4094}
{:type :fail, :f :cas, :value [2 2], :process 20, :time 17187467914, :index 4096}
{:type :ok, :f :write, :value 3, :process 8, :time 17189603581, :index 4097}
{:type :invoke, :f :read, :value nil, :process 6, :time 17193873162, :index 4098}
{:type :ok, :f :read, :value 3, :process 6, :time 17199424387, :index 4099}
{:type :invoke, :f :cas, :value [1 0], :process 25, :time 17255262964, :index 4104}
{:type :fail, :f :cas, :value [1 0], :process 25, :time 17263544373, :index 4107}
{:type :invoke, :f :read, :value nil, :process 1, :time 17263560620, :index 4108}
{:type :ok, :f :read, :value 3, :process 1, :time 17269694942, :index 4109}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 17274295838, :index 4110}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 17278901347, :index 4111}
{:type :invoke, :f :read, :value nil, :process 6, :time 17315684182, :index 4114}
{:type :ok, :f :read, :value 3, :process 6, :time 17321034856, :index 4116}
{:type :invoke, :f :write, :value 1, :process 3, :time 17324162889, :index 4118}
{:type :ok, :f :write, :value 1, :process 3, :time 17328930162, :index 4120}
{:type :invoke, :f :read, :value nil, :process 1, :time 17329119537, :index 4121}
{:type :ok, :f :read, :value 1, :process 1, :time 17335501383, :index 4125}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 17351853520, :index 4128}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 17356609121, :index 4129}
{:type :invoke, :f :cas, :value [2 0], :process 20, :time 17359741171, :index 4130}
{:type :fail, :f :cas, :value [2 0], :process 20, :time 17365671261, :index 4131}
{:type :invoke, :f :write, :value 1, :process 6, :time 17378309462, :index 4134}
{:type :ok, :f :write, :value 1, :process 6, :time 17383372846, :index 4136}
{:type :invoke, :f :write, :value 4, :process 25, :time 17403788756, :index 4138}
{:type :ok, :f :write, :value 4, :process 25, :time 17409286144, :index 4139}
{:type :invoke, :f :write, :value 1, :process 3, :time 17409210182, :index 4140}
{:type :ok, :f :write, :value 1, :process 3, :time 17414496327, :index 4141}
{:type :invoke, :f :write, :value 4, :process 25, :time 17429525683, :index 4145}
{:type :invoke, :f :cas, :value [4 2], :process 8, :time 17431886769, :index 4146}
{:type :ok, :f :write, :value 4, :process 25, :time 17435237638, :index 4148}
{:type :ok, :f :cas, :value [4 2], :process 8, :time 17437064649, :index 4149}
{:type :invoke, :f :read, :value nil, :process 25, :time 17480496578, :index 4154}
{:type :ok, :f :read, :value 2, :process 25, :time 17486104856, :index 4155}
{:type :invoke, :f :write, :value 1, :process 1, :time 17520765597, :index 4160}
{:type :ok, :f :write, :value 1, :process 1, :time 17526145120, :index 4163}
{:type :invoke, :f :read, :value nil, :process 3, :time 17527757728, :index 4164}
{:type :ok, :f :read, :value 1, :process 3, :time 17532189296, :index 4165}
{:type :invoke, :f :write, :value 2, :process 8, :time 17541326999, :index 4166}
{:type :ok, :f :write, :value 2, :process 8, :time 17546365506, :index 4168}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 17557665569, :index 4170}
{:type :invoke, :f :cas, :value [4 0], :process 20, :time 17558931561, :index 4171}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 17563929518, :index 4172}
{:type :fail, :f :cas, :value [4 0], :process 20, :time 17566199514, :index 4173}
{:type :invoke, :f :cas, :value [4 0], :process 25, :time 17642372553, :index 4182}
{:type :fail, :f :cas, :value [4 0], :process 25, :time 17648956836, :index 4185}
{:type :invoke, :f :read, :value nil, :process 3, :time 17649450340, :index 4186}
{:type :ok, :f :read, :value 2, :process 3, :time 17653911301, :index 4188}
{:type :invoke, :f :read, :value nil, :process 1, :time 17695395490, :index 4194}
{:type :ok, :f :read, :value 2, :process 1, :time 17700750185, :index 4195}
{:type :invoke, :f :write, :value 4, :process 25, :time 17715216713, :index 4197}
{:type :ok, :f :write, :value 4, :process 25, :time 17720335913, :index 4199}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 17723613502, :index 4200}
{:type :invoke, :f :write, :value 2, :process 20, :time 17727454379, :index 4201}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 17728867357, :index 4202}
{:type :ok, :f :write, :value 2, :process 20, :time 17732428026, :index 4203}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 17740207813, :index 4204}
{:type :invoke, :f :read, :value nil, :process 8, :time 17744121938, :index 4205}
{:type :fail, :f :cas, :value [0 4], :process 3, :time 17745021568, :index 4206}
{:type :ok, :f :read, :value 2, :process 8, :time 17748801215, :index 4207}
{:type :invoke, :f :cas, :value [1 0], :process 3, :time 17749281853, :index 4208}
{:type :fail, :f :cas, :value [1 0], :process 3, :time 17754471636, :index 4209}
{:type :invoke, :f :cas, :value [2 2], :process 6, :time 17757196942, :index 4210}
{:type :ok, :f :cas, :value [2 2], :process 6, :time 17761967716, :index 4212}
{:type :invoke, :f :read, :value nil, :process 1, :time 17777006986, :index 4214}
{:type :ok, :f :read, :value 2, :process 1, :time 17782005488, :index 4215}
{:type :invoke, :f :read, :value nil, :process 8, :time 17802047295, :index 4222}
{:type :ok, :f :read, :value 2, :process 8, :time 17807088934, :index 4224}
{:type :invoke, :f :write, :value 3, :process 1, :time 17818298110, :index 4228}
{:type :ok, :f :write, :value 3, :process 1, :time 17824039646, :index 4229}
{:type :invoke, :f :cas, :value [0 1], :process 25, :time 17886607004, :index 4238}
{:type :invoke, :f :read, :value nil, :process 6, :time 17889262542, :index 4239}
{:type :fail, :f :cas, :value [0 1], :process 25, :time 17892691681, :index 4240}
{:type :ok, :f :read, :value 3, :process 6, :time 17894570900, :index 4241}
{:type :invoke, :f :write, :value 2, :process 25, :time 17894951756, :index 4242}
{:type :invoke, :f :read, :value nil, :process 8, :time 17900328708, :index 4243}
{:type :ok, :f :write, :value 2, :process 25, :time 17901796173, :index 4244}
{:type :ok, :f :read, :value 2, :process 8, :time 17905495924, :index 4245}
{:type :invoke, :f :write, :value 3, :process 20, :time 17925686851, :index 4246}
{:type :ok, :f :write, :value 3, :process 20, :time 17931794817, :index 4247}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 17945737188, :index 4250}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 17951044106, :index 4251}
{:type :invoke, :f :write, :value 3, :process 8, :time 17951753995, :index 4252}
{:type :ok, :f :write, :value 3, :process 8, :time 17957503501, :index 4253}
{:type :invoke, :f :write, :value 0, :process 6, :time 18001840876, :index 4256}
{:type :ok, :f :write, :value 0, :process 6, :time 18007193115, :index 4258}
{:type :invoke, :f :read, :value nil, :process 1, :time 18023296225, :index 4261}
{:type :invoke, :f :read, :value nil, :process 8, :time 18024767472, :index 4263}
{:type :invoke, :f :write, :value 3, :process 20, :time 18028056214, :index 4264}
{:type :ok, :f :read, :value 0, :process 1, :time 18028434989, :index 4265}
{:type :ok, :f :read, :value 0, :process 8, :time 18029399558, :index 4266}
{:type :ok, :f :write, :value 3, :process 20, :time 18032907796, :index 4269}
{:type :invoke, :f :cas, :value [2 0], :process 25, :time 18060087282, :index 4276}
{:type :fail, :f :cas, :value [2 0], :process 25, :time 18065816593, :index 4277}
{:type :invoke, :f :cas, :value [0 1], :process 6, :time 18075469345, :index 4278}
{:type :fail, :f :cas, :value [0 1], :process 6, :time 18081584383, :index 4279}
{:type :invoke, :f :write, :value 1, :process 3, :time 18136250759, :index 4285}
{:type :invoke, :f :cas, :value [1 0], :process 1, :time 18139678201, :index 4287}
{:type :ok, :f :write, :value 1, :process 3, :time 18141128189, :index 4288}
{:type :ok, :f :cas, :value [1 0], :process 1, :time 18144740908, :index 4289}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 18167665914, :index 4292}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 18172803929, :index 4294}
{:type :invoke, :f :cas, :value [1 4], :process 20, :time 18173169684, :index 4295}
{:type :fail, :f :cas, :value [1 4], :process 20, :time 18178465984, :index 4297}
{:type :invoke, :f :write, :value 0, :process 25, :time 18243078045, :index 4305}
{:type :ok, :f :write, :value 0, :process 25, :time 18248584532, :index 4307}
{:type :invoke, :f :write, :value 1, :process 1, :time 18265008263, :index 4310}
{:type :ok, :f :write, :value 1, :process 1, :time 18271950262, :index 4312}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 18276845631, :index 4314}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 18283145235, :index 4315}
{:type :invoke, :f :read, :value nil, :process 8, :time 18307066364, :index 4321}
{:type :ok, :f :read, :value 1, :process 8, :time 18311970272, :index 4324}
{:type :invoke, :f :cas, :value [1 0], :process 25, :time 18316849508, :index 4326}
{:type :ok, :f :cas, :value [1 0], :process 25, :time 18321482037, :index 4327}
{:type :invoke, :f :read, :value nil, :process 20, :time 18325731256, :index 4328}
{:type :ok, :f :read, :value 0, :process 20, :time 18330924213, :index 4329}
{:type :invoke, :f :read, :value nil, :process 3, :time 18337400023, :index 4331}
{:type :ok, :f :read, :value 0, :process 3, :time 18342430884, :index 4333}
{:type :invoke, :f :cas, :value [0 2], :process 1, :time 18353205146, :index 4334}
{:type :ok, :f :cas, :value [0 2], :process 1, :time 18358816358, :index 4335}
{:type :invoke, :f :cas, :value [1 0], :process 25, :time 18360755891, :index 4337}
{:type :fail, :f :cas, :value [1 0], :process 25, :time 18366774164, :index 4338}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 18416691127, :index 4341}
{:type :invoke, :f :read, :value nil, :process 8, :time 18440240975, :index 4343}
{:type :invoke, :f :write, :value 0, :process 1, :time 18464080331, :index 4345}
{:type :invoke, :f :cas, :value [4 3], :process 6, :time 18467411587, :index 4346}
{:type :invoke, :f :read, :value nil, :process 25, :time 18477036619, :index 4347}
{:type :invoke, :f :write, :value 2, :process 20, :time 18477203274, :index 4348}
{:type :ok, :f :cas, :value [2 2], :process 3, :time 18853109162, :index 4351}
{:type :ok, :f :read, :value 2, :process 8, :time 18853178000, :index 4353}
{:type :ok, :f :write, :value 2, :process 20, :time 18854067935, :index 4356}
{:type :ok, :f :read, :value 2, :process 25, :time 18854436945, :index 4358}
{:type :ok, :f :write, :value 0, :process 1, :time 18854806154, :index 4360}
{:type :fail, :f :cas, :value [4 3], :process 6, :time 18855787020, :index 4361}
{:type :invoke, :f :write, :value 0, :process 25, :time 18891693244, :index 4363}
{:type :ok, :f :write, :value 0, :process 25, :time 18897498895, :index 4365}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 18915012693, :index 4370}
{:type :invoke, :f :write, :value 0, :process 8, :time 18918469736, :index 4371}
{:type :fail, :f :cas, :value [4 0], :process 1, :time 18920838453, :index 4372}
{:type :ok, :f :write, :value 0, :process 8, :time 18922680288, :index 4373}
{:type :invoke, :f :read, :value nil, :process 6, :time 18943042000, :index 4374}
{:type :ok, :f :read, :value 0, :process 6, :time 18948271022, :index 4375}
{:type :invoke, :f :write, :value 1, :process 3, :time 18952399024, :index 4376}
{:type :ok, :f :write, :value 1, :process 3, :time 18957359564, :index 4377}
{:type :invoke, :f :cas, :value [4 2], :process 25, :time 18983764322, :index 4381}
{:type :invoke, :f :cas, :value [2 0], :process 20, :time 18986402565, :index 4383}
{:type :fail, :f :cas, :value [4 2], :process 25, :time 18989340724, :index 4385}
{:type :fail, :f :cas, :value [2 0], :process 20, :time 18994770808, :index 4387}
{:type :invoke, :f :write, :value 1, :process 1, :time 19012098184, :index 4392}
{:type :ok, :f :write, :value 1, :process 1, :time 19016741343, :index 4393}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
