{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :invoke, :f :write, :value 2, :process 54, :time 50392370325, :index 10780}
{:type :ok, :f :write, :value 2, :process 54, :time 50397065607, :index 10781}
{:type :invoke, :f :read, :value nil, :process 15, :time 50431293188, :index 10786}
{:type :ok, :f :read, :value 2, :process 15, :time 50436163266, :index 10789}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 50456132966, :index 10792}
{:type :ok, :f :cas, :value [2 1], :process 10, :time 50460298949, :index 10793}
{:type :invoke, :f :write, :value 2, :process 54, :time 50461325873, :index 10794}
{:type :ok, :f :write, :value 2, :process 54, :time 50466183433, :index 10795}
{:type :invoke, :f :read, :value nil, :process 39, :time 50477767603, :index 10796}
{:type :invoke, :f :read, :value nil, :process 12, :time 50477763636, :index 10797}
{:type :ok, :f :read, :value 2, :process 12, :time 50484706414, :index 10798}
{:type :ok, :f :read, :value 2, :process 39, :time 50485159065, :index 10799}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 50490446761, :index 10800}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 50496080380, :index 10801}
{:type :invoke, :f :write, :value 3, :process 15, :time 50501377633, :index 10802}
{:type :ok, :f :write, :value 3, :process 15, :time 50506265305, :index 10803}
{:type :invoke, :f :cas, :value [0 3], :process 15, :time 50507527130, :index 10804}
{:type :fail, :f :cas, :value [0 3], :process 15, :time 50512627343, :index 10805}
{:type :invoke, :f :write, :value 1, :process 37, :time 50542295581, :index 10810}
{:type :ok, :f :write, :value 1, :process 37, :time 50547823225, :index 10811}
{:type :invoke, :f :read, :value nil, :process 39, :time 50559413533, :index 10812}
{:type :invoke, :f :read, :value nil, :process 15, :time 50563887238, :index 10814}
{:type :ok, :f :read, :value 1, :process 39, :time 50564348000, :index 10815}
{:type :ok, :f :read, :value 1, :process 15, :time 50568902960, :index 10818}
{:type :invoke, :f :read, :value nil, :process 15, :time 50617156224, :index 10824}
{:type :ok, :f :read, :value 1, :process 15, :time 50621972814, :index 10825}
{:type :invoke, :f :read, :value nil, :process 39, :time 50630612614, :index 10826}
{:type :invoke, :f :read, :value nil, :process 54, :time 50631444536, :index 10827}
{:type :ok, :f :read, :value 1, :process 39, :time 50636176462, :index 10828}
{:type :ok, :f :read, :value 1, :process 54, :time 50636749922, :index 10829}
{:type :invoke, :f :write, :value 0, :process 10, :time 50645560887, :index 10830}
{:type :ok, :f :write, :value 0, :process 10, :time 50650722427, :index 10831}
{:type :invoke, :f :cas, :value [4 0], :process 12, :time 50671977279, :index 10836}
{:type :fail, :f :cas, :value [4 0], :process 12, :time 50677622491, :index 10838}
{:type :invoke, :f :read, :value nil, :process 12, :time 50678879519, :index 10839}
{:type :invoke, :f :read, :value nil, :process 15, :time 50685191154, :index 10841}
{:type :ok, :f :read, :value 0, :process 12, :time 50686408289, :index 10842}
{:type :ok, :f :read, :value 0, :process 15, :time 50691421014, :index 10843}
{:type :invoke, :f :read, :value nil, :process 37, :time 50694091295, :index 10844}
{:type :ok, :f :read, :value 0, :process 37, :time 50699714286, :index 10845}
{:type :invoke, :f :cas, :value [0 1], :process 39, :time 50700468201, :index 10846}
{:type :ok, :f :cas, :value [0 1], :process 39, :time 50705333117, :index 10847}
{:type :invoke, :f :write, :value 1, :process 39, :time 50720657097, :index 10848}
{:type :ok, :f :write, :value 1, :process 39, :time 50725798812, :index 10850}
{:type :invoke, :f :cas, :value [2 3], :process 12, :time 50735662673, :index 10853}
{:type :fail, :f :cas, :value [2 3], :process 12, :time 50741213742, :index 10855}
{:type :invoke, :f :read, :value nil, :process 10, :time 50748976824, :index 10856}
{:type :ok, :f :read, :value 1, :process 10, :time 50753540764, :index 10857}
{:type :invoke, :f :write, :value 4, :process 15, :time 50772673023, :index 10864}
{:type :ok, :f :write, :value 4, :process 15, :time 50777856621, :index 10865}
{:type :invoke, :f :write, :value 1, :process 54, :time 50815986042, :index 10866}
{:type :ok, :f :write, :value 1, :process 54, :time 50821245934, :index 10868}
{:type :invoke, :f :write, :value 2, :process 12, :time 50851468763, :index 10874}
{:type :invoke, :f :read, :value nil, :process 39, :time 50855068005, :index 10876}
{:type :ok, :f :write, :value 2, :process 12, :time 50856972323, :index 10877}
{:type :ok, :f :read, :value 2, :process 39, :time 50860432383, :index 10879}
{:type :invoke, :f :cas, :value [4 3], :process 12, :time 50866227701, :index 10880}
{:type :invoke, :f :read, :value nil, :process 37, :time 50870970759, :index 10881}
{:type :fail, :f :cas, :value [4 3], :process 12, :time 50871809965, :index 10882}
{:type :invoke, :f :read, :value nil, :process 54, :time 50873504448, :index 10883}
{:type :ok, :f :read, :value 2, :process 37, :time 50876237293, :index 10885}
{:type :ok, :f :read, :value 2, :process 54, :time 50878102093, :index 10886}
{:type :invoke, :f :cas, :value [2 4], :process 39, :time 50892682022, :index 10890}
{:type :ok, :f :cas, :value [2 4], :process 39, :time 50898341476, :index 10892}
{:type :invoke, :f :write, :value 2, :process 15, :time 50899130860, :index 10893}
{:type :ok, :f :write, :value 2, :process 15, :time 50903621100, :index 10895}
{:type :invoke, :f :read, :value nil, :process 10, :time 50913806724, :index 10896}
{:type :ok, :f :read, :value 2, :process 10, :time 50917933121, :index 10897}
{:type :invoke, :f :cas, :value [2 1], :process 54, :time 50950363303, :index 10901}
{:type :ok, :f :cas, :value [2 1], :process 54, :time 50957079646, :index 10903}
{:type :invoke, :f :write, :value 0, :process 15, :time 50968889874, :index 10904}
{:type :invoke, :f :write, :value 3, :process 10, :time 50973188399, :index 10905}
{:type :ok, :f :write, :value 0, :process 15, :time 50974205728, :index 10906}
{:type :ok, :f :write, :value 3, :process 10, :time 50977605502, :index 10907}
{:type :invoke, :f :read, :value nil, :process 54, :time 51004364658, :index 10912}
{:type :ok, :f :read, :value 3, :process 54, :time 51009867606, :index 10913}
{:type :invoke, :f :cas, :value [2 4], :process 37, :time 51024522780, :index 10916}
{:type :fail, :f :cas, :value [2 4], :process 37, :time 51030550973, :index 10917}
{:type :invoke, :f :write, :value 1, :process 12, :time 51049056304, :index 10920}
{:type :ok, :f :write, :value 1, :process 12, :time 51054359999, :index 10923}
{:type :invoke, :f :write, :value 4, :process 10, :time 51058854560, :index 10924}
{:type :ok, :f :write, :value 4, :process 10, :time 51063823095, :index 10926}
{:type :invoke, :f :cas, :value [0 1], :process 12, :time 51073603262, :index 10930}
{:type :fail, :f :cas, :value [0 1], :process 12, :time 51079375990, :index 10931}
{:type :invoke, :f :read, :value nil, :process 15, :time 51088459434, :index 10933}
{:type :invoke, :f :cas, :value [4 1], :process 39, :time 51089157175, :index 10934}
{:type :ok, :f :read, :value 4, :process 15, :time 51094065318, :index 10935}
{:type :ok, :f :cas, :value [4 1], :process 39, :time 51095848336, :index 10937}
{:type :invoke, :f :write, :value 2, :process 37, :time 51151811054, :index 10941}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 51155635819, :index 10943}
{:type :ok, :f :write, :value 2, :process 37, :time 51157087851, :index 10944}
{:type :invoke, :f :read, :value nil, :process 54, :time 51158196949, :index 10946}
{:type :fail, :f :cas, :value [1 1], :process 12, :time 51161021370, :index 10948}
{:type :ok, :f :read, :value 2, :process 54, :time 51164458166, :index 10950}
{:type :invoke, :f :cas, :value [0 3], :process 39, :time 51176090682, :index 10954}
{:type :fail, :f :cas, :value [0 3], :process 39, :time 51182626316, :index 10957}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 51204329677, :index 10959}
{:type :invoke, :f :write, :value 3, :process 54, :time 51204727445, :index 10960}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 51209614653, :index 10962}
{:type :ok, :f :write, :value 3, :process 54, :time 51210087876, :index 10963}
{:type :invoke, :f :cas, :value [2 0], :process 10, :time 51241076563, :index 10966}
{:type :fail, :f :cas, :value [2 0], :process 10, :time 51246239509, :index 10967}
{:type :invoke, :f :read, :value nil, :process 37, :time 51257345121, :index 10968}
{:type :ok, :f :read, :value 3, :process 37, :time 51264675733, :index 10969}
{:type :invoke, :f :read, :value nil, :process 39, :time 51296867809, :index 10972}
{:type :ok, :f :read, :value 3, :process 39, :time 51303239012, :index 10974}
{:type :invoke, :f :read, :value nil, :process 39, :time 51323425565, :index 10976}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 51327877808, :index 10977}
{:type :ok, :f :read, :value 3, :process 39, :time 51331442909, :index 10978}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 51333265011, :index 10979}
{:type :invoke, :f :read, :value nil, :process 12, :time 51353301864, :index 10990}
{:type :ok, :f :read, :value 3, :process 12, :time 51358118770, :index 10992}
{:type :invoke, :f :read, :value nil, :process 10, :time 51366492937, :index 10996}
{:type :ok, :f :read, :value 3, :process 10, :time 51371315107, :index 10997}
{:type :invoke, :f :cas, :value [3 4], :process 54, :time 51373355206, :index 10998}
{:type :ok, :f :cas, :value [3 4], :process 54, :time 51378677660, :index 10999}
{:type :invoke, :f :cas, :value [3 4], :process 37, :time 51440935848, :index 11010}
{:type :fail, :f :cas, :value [3 4], :process 37, :time 51446132253, :index 11012}
{:type :invoke, :f :write, :value 2, :process 54, :time 51465942575, :index 11016}
{:type :ok, :f :write, :value 2, :process 54, :time 51471382591, :index 11018}
{:type :invoke, :f :write, :value 0, :process 12, :time 51488373033, :index 11024}
{:type :invoke, :f :read, :value nil, :process 15, :time 51493535372, :index 11025}
{:type :ok, :f :write, :value 0, :process 12, :time 51494266298, :index 11026}
{:type :ok, :f :read, :value 0, :process 15, :time 51498126387, :index 11027}
{:type :invoke, :f :read, :value nil, :process 36, :time 51500228683, :index 11029}
{:type :invoke, :f :write, :value 3, :process 37, :time 51502384861, :index 11030}
{:type :ok, :f :write, :value 3, :process 37, :time 51506789041, :index 11032}
{:type :invoke, :f :write, :value 2, :process 39, :time 51509717935, :index 11034}
{:type :ok, :f :write, :value 2, :process 39, :time 51515204948, :index 11035}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 51516534942, :index 11036}
{:type :invoke, :f :write, :value 4, :process 10, :time 51519467545, :index 11038}
{:type :fail, :f :cas, :value [1 1], :process 12, :time 51524257960, :index 11040}
{:type :ok, :f :write, :value 4, :process 10, :time 51524681813, :index 11041}
{:type :invoke, :f :read, :value nil, :process 12, :time 51528514323, :index 11042}
{:type :invoke, :f :read, :value nil, :process 15, :time 51529387884, :index 11043}
{:type :ok, :f :read, :value 4, :process 12, :time 51540113346, :index 11044}
{:type :ok, :f :read, :value 4, :process 15, :time 51540686168, :index 11045}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :invoke, :f :write, :value 3, :process 78, :time 51553070050, :index 11049}
{:type :invoke, :f :write, :value 3, :process 54, :time 51560641340, :index 11051}
{:type :ok, :f :write, :value 3, :process 54, :time 51566042387, :index 11053}
{:type :invoke, :f :read, :value nil, :process 37, :time 51570318314, :index 11058}
{:type :ok, :f :read, :value 3, :process 37, :time 51578462142, :index 11061}
{:type :invoke, :f :read, :value nil, :process 15, :time 51584915983, :index 11065}
{:type :ok, :f :read, :value 3, :process 15, :time 51589181077, :index 11067}
{:type :invoke, :f :write, :value 1, :process 51, :time 51610767399, :index 11072}
{:type :invoke, :f :write, :value 3, :process 53, :time 51615656420, :index 11073}
{:type :invoke, :f :write, :value 4, :process 37, :time 51622745886, :index 11074}
{:type :ok, :f :write, :value 4, :process 37, :time 51628274340, :index 11076}
{:type :invoke, :f :read, :value nil, :process 15, :time 51660429718, :index 11079}
{:type :ok, :f :read, :value 4, :process 15, :time 51665369343, :index 11080}
{:type :invoke, :f :cas, :value [4 2], :process 39, :time 51670467961, :index 11082}
{:type :ok, :f :cas, :value [4 2], :process 39, :time 51675916002, :index 11086}
{:type :invoke, :f :write, :value 4, :process 37, :time 51689557875, :index 11091}
{:type :ok, :f :write, :value 4, :process 37, :time 51694620601, :index 11093}
{:type :invoke, :f :cas, :value [0 0], :process 10, :time 51702914894, :index 11094}
{:type :fail, :f :cas, :value [0 0], :process 10, :time 51707880964, :index 11095}
{:type :invoke, :f :cas, :value [3 1], :process 12, :time 51721400495, :index 11099}
{:type :fail, :f :cas, :value [3 1], :process 12, :time 51727091060, :index 11103}
{:type :invoke, :f :read, :value nil, :process 54, :time 51742310490, :index 11105}
{:type :ok, :f :read, :value 4, :process 54, :time 51747375008, :index 11106}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :invoke, :f :cas, :value [3 0], :process 37, :time 51804879696, :index 11118}
{:type :fail, :f :cas, :value [3 0], :process 37, :time 51810314294, :index 11119}
{:type :invoke, :f :write, :value 1, :process 39, :time 51817225263, :index 11120}
{:type :ok, :f :write, :value 1, :process 39, :time 51822404750, :index 11122}
{:type :invoke, :f :write, :value 1, :process 54, :time 51826629381, :index 11124}
{:type :ok, :f :write, :value 1, :process 54, :time 51833520858, :index 11125}
{:type :invoke, :f :read, :value nil, :process 10, :time 51843133090, :index 11126}
{:type :invoke, :f :cas, :value [1 3], :process 12, :time 51847353632, :index 11127}
{:type :invoke, :f :write, :value 2, :process 37, :time 51847586317, :index 11128}
{:type :ok, :f :read, :value 1, :process 10, :time 51848326711, :index 11129}
{:type :ok, :f :cas, :value [1 3], :process 12, :time 51855112740, :index 11130}
{:type :ok, :f :write, :value 2, :process 37, :time 51856170167, :index 11131}
{:type :invoke, :f :read, :value nil, :process 15, :time 51858629027, :index 11132}
{:type :ok, :f :read, :value 2, :process 15, :time 51864747748, :index 11133}
{:type :invoke, :f :read, :value nil, :process 15, :time 51867008461, :index 11134}
{:type :invoke, :f :read, :value nil, :process 10, :time 51868585188, :index 11136}
{:type :invoke, :f :read, :value nil, :process 54, :time 51868819294, :index 11137}
{:type :ok, :f :read, :value 2, :process 15, :time 51873544156, :index 11138}
{:type :ok, :f :read, :value 2, :process 10, :time 51873937230, :index 11139}
{:type :ok, :f :read, :value 2, :process 54, :time 51874804229, :index 11141}
{:type :invoke, :f :cas, :value [3 2], :process 12, :time 51879376669, :index 11142}
{:type :fail, :f :cas, :value [3 2], :process 12, :time 51885213671, :index 11143}
{:type :invoke, :f :read, :value nil, :process 39, :time 51888665924, :index 11145}
{:type :ok, :f :read, :value 2, :process 39, :time 51894202495, :index 11148}
{:type :invoke, :f :read, :value nil, :process 10, :time 51934172579, :index 11150}
{:type :ok, :f :read, :value 2, :process 10, :time 51939012677, :index 11151}
{:type :invoke, :f :read, :value nil, :process 12, :time 51981470756, :index 11154}
{:type :ok, :f :read, :value 2, :process 12, :time 51986771377, :index 11156}
{:type :invoke, :f :write, :value 4, :process 37, :time 51989454493, :index 11159}
{:type :invoke, :f :read, :value nil, :process 54, :time 51990052691, :index 11160}
{:type :ok, :f :write, :value 4, :process 37, :time 51994900014, :index 11162}
{:type :ok, :f :read, :value 4, :process 54, :time 51995581196, :index 11163}
{:type :invoke, :f :read, :value nil, :process 15, :time 52049830126, :index 11172}
{:type :ok, :f :read, :value 4, :process 15, :time 52054735095, :index 11173}
{:type :invoke, :f :read, :value nil, :process 39, :time 52085475607, :index 11184}
{:type :ok, :f :read, :value 4, :process 39, :time 52089844945, :index 11186}
{:type :ok, :f :write, :value 3, :process 53, :time 54140496833, :index 11345}
{:type :ok, :f :write, :value 3, :process 78, :time 54140787857, :index 11346}
{:type :ok, :f :read, :value 3, :process 36, :time 54141262776, :index 11349}
{:type :ok, :f :write, :value 1, :process 51, :time 54141485878, :index 11351}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
