{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :invoke, :f :read, :value nil, :process 19, :time 14029656044, :index 2808}
{:type :ok, :f :read, :value nil, :process 19, :time 14036043814, :index 2810}
{:type :invoke, :f :cas, :value [2 3], :process 19, :time 14047282506, :index 2822}
{:type :fail, :f :cas, :value [2 3], :process 19, :time 14055166684, :error :not-found, :index 2827}
{:type :invoke, :f :read, :value nil, :process 16, :time 14070214824, :index 2832}
{:type :invoke, :f :read, :value nil, :process 38, :time 14073847411, :index 2835}
{:type :ok, :f :read, :value nil, :process 16, :time 14075969113, :index 2836}
{:type :ok, :f :read, :value nil, :process 38, :time 14079048123, :index 2837}
{:type :invoke, :f :read, :value nil, :process 19, :time 14084440478, :index 2838}
{:type :ok, :f :read, :value nil, :process 19, :time 14091108999, :index 2840}
{:type :invoke, :f :cas, :value [1 0], :process 38, :time 14098306344, :index 2847}
{:type :fail, :f :cas, :value [1 0], :process 38, :time 14104156788, :error :not-found, :index 2850}
{:type :invoke, :f :read, :value nil, :process 16, :time 14186223048, :index 2874}
{:type :invoke, :f :cas, :value [2 2], :process 38, :time 14188442047, :index 2876}
{:type :invoke, :f :cas, :value [1 0], :process 17, :time 14188491641, :index 2877}
{:type :ok, :f :read, :value nil, :process 16, :time 14192675679, :index 2879}
{:type :fail, :f :cas, :value [2 2], :process 38, :time 14194385965, :error :not-found, :index 2880}
{:type :fail, :f :cas, :value [1 0], :process 17, :time 14194609307, :error :not-found, :index 2881}
{:type :invoke, :f :cas, :value [2 2], :process 33, :time 14194641182, :index 2882}
{:type :fail, :f :cas, :value [2 2], :process 33, :time 14199939883, :error :not-found, :index 2884}
{:type :invoke, :f :cas, :value [4 4], :process 38, :time 14224695656, :index 2894}
{:type :fail, :f :cas, :value [4 4], :process 38, :time 14231261108, :error :not-found, :index 2896}
{:type :invoke, :f :read, :value nil, :process 33, :time 14231197755, :index 2897}
{:type :invoke, :f :cas, :value [4 4], :process 31, :time 14234901717, :index 2899}
{:type :ok, :f :read, :value nil, :process 33, :time 14236562517, :index 2900}
{:type :fail, :f :cas, :value [4 4], :process 31, :time 14239907484, :error :not-found, :index 2901}
{:type :invoke, :f :write, :value 1, :process 10, :time 14256651378, :index 2904}
{:type :ok, :f :write, :value 1, :process 10, :time 14261125995, :index 2905}
{:type :invoke, :f :read, :value nil, :process 16, :time 14272930161, :index 2906}
{:type :ok, :f :read, :value 1, :process 16, :time 14278628282, :index 2908}
{:type :invoke, :f :cas, :value [1 2], :process 15, :time 14279925749, :index 2911}
{:type :invoke, :f :write, :value 0, :process 19, :time 14282379065, :index 2912}
{:type :ok, :f :cas, :value [1 2], :process 15, :time 14285252671, :index 2914}
{:type :ok, :f :write, :value 0, :process 19, :time 14287240311, :index 2916}
{:type :invoke, :f :read, :value nil, :process 16, :time 14303884730, :index 2922}
{:type :ok, :f :read, :value 0, :process 16, :time 14309227317, :index 2923}
{:type :invoke, :f :cas, :value [3 1], :process 17, :time 14312865400, :index 2924}
{:type :invoke, :f :read, :value nil, :process 10, :time 14317385454, :index 2925}
{:type :fail, :f :cas, :value [3 1], :process 17, :time 14318440080, :index 2926}
{:type :ok, :f :read, :value 0, :process 10, :time 14321561130, :index 2928}
{:type :invoke, :f :cas, :value [2 1], :process 12, :time 14323672552, :index 2930}
{:type :fail, :f :cas, :value [2 1], :process 12, :time 14329488494, :index 2933}
{:type :invoke, :f :read, :value nil, :process 12, :time 14329618448, :index 2934}
{:type :ok, :f :read, :value 0, :process 12, :time 14334272091, :index 2935}
{:type :invoke, :f :write, :value 1, :process 19, :time 14336488680, :index 2936}
{:type :invoke, :f :write, :value 3, :process 12, :time 14337533551, :index 2937}
{:type :ok, :f :write, :value 1, :process 19, :time 14341849442, :index 2938}
{:type :ok, :f :write, :value 3, :process 12, :time 14343367107, :index 2940}
{:type :invoke, :f :read, :value nil, :process 10, :time 14346793815, :index 2943}
{:type :ok, :f :read, :value 3, :process 10, :time 14352411881, :index 2947}
{:type :invoke, :f :cas, :value [4 0], :process 38, :time 14357515751, :index 2950}
{:type :invoke, :f :write, :value 3, :process 14, :time 14361065786, :index 2951}
{:type :ok, :f :write, :value 3, :process 14, :time 14366889331, :index 2953}
{:type :invoke, :f :write, :value 4, :process 15, :time 14374551046, :index 2957}
{:type :ok, :f :write, :value 4, :process 15, :time 14379458394, :index 2960}
{:type :invoke, :f :read, :value nil, :process 15, :time 14390708140, :index 2961}
{:type :invoke, :f :read, :value nil, :process 33, :time 14392832991, :index 2962}
{:type :invoke, :f :write, :value 3, :process 17, :time 14393705282, :index 2963}
{:type :ok, :f :read, :value 4, :process 15, :time 14395572865, :index 2964}
{:type :ok, :f :write, :value 3, :process 17, :time 14399414971, :index 2966}
{:type :invoke, :f :write, :value 4, :process 14, :time 14405150717, :index 2968}
{:type :invoke, :f :cas, :value [3 1], :process 31, :time 14407170107, :index 2969}
{:type :ok, :f :write, :value 4, :process 14, :time 14411096807, :index 2970}
{:type :fail, :f :cas, :value [3 1], :process 31, :time 14412689975, :index 2972}
{:type :invoke, :f :write, :value 3, :process 14, :time 14429354056, :index 2976}
{:type :ok, :f :write, :value 3, :process 14, :time 14434094541, :index 2977}
{:type :invoke, :f :write, :value 1, :process 17, :time 14456675427, :index 2978}
{:type :ok, :f :write, :value 1, :process 17, :time 14462897307, :index 2981}
{:type :invoke, :f :read, :value nil, :process 15, :time 14469852013, :index 2984}
{:type :ok, :f :read, :value 1, :process 15, :time 14474561930, :index 2985}
{:type :invoke, :f :cas, :value [4 4], :process 17, :time 14482223519, :index 2986}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 14484487260, :index 2987}
{:type :fail, :f :cas, :value [4 4], :process 17, :time 14487479309, :index 2988}
{:type :invoke, :f :read, :value nil, :process 31, :time 14487970843, :index 2989}
{:type :fail, :f :cas, :value [2 0], :process 16, :time 14490175945, :index 2990}
{:type :ok, :f :read, :value 1, :process 31, :time 14493478933, :index 2991}
{:type :invoke, :f :read, :value nil, :process 12, :time 14518604884, :index 2996}
{:type :invoke, :f :write, :value 0, :process 10, :time 14522649698, :index 2997}
{:type :ok, :f :read, :value 1, :process 12, :time 14523915993, :index 2998}
{:type :ok, :f :write, :value 0, :process 10, :time 14527454532, :index 2999}
{:type :invoke, :f :read, :value nil, :process 19, :time 14535110720, :index 3003}
{:type :ok, :f :read, :value 0, :process 19, :time 14540136174, :index 3005}
{:type :invoke, :f :cas, :value [3 2], :process 14, :time 14549357204, :index 3009}
{:type :invoke, :f :cas, :value [3 0], :process 31, :time 14553727690, :index 3011}
{:type :fail, :f :cas, :value [3 2], :process 14, :time 14554610346, :index 3012}
{:type :fail, :f :cas, :value [3 0], :process 31, :time 14559226075, :index 3013}
{:type :invoke, :f :cas, :value [3 3], :process 17, :time 14560735396, :index 3014}
{:type :fail, :f :cas, :value [3 3], :process 17, :time 14566142002, :index 3016}
{:type :invoke, :f :cas, :value [4 2], :process 10, :time 14600729299, :index 3024}
{:type :fail, :f :cas, :value [4 2], :process 10, :time 14605997953, :index 3025}
{:type :invoke, :f :read, :value nil, :process 16, :time 14611358426, :index 3027}
{:type :ok, :f :read, :value 0, :process 16, :time 14616367696, :index 3029}
{:type :invoke, :f :write, :value 4, :process 19, :time 14624411956, :index 3030}
{:type :invoke, :f :cas, :value [2 4], :process 15, :time 14625821450, :index 3031}
{:type :fail, :f :cas, :value [2 4], :process 15, :time 14630819382, :index 3032}
{:type :ok, :f :write, :value 4, :process 19, :time 14631124568, :index 3033}
{:type :invoke, :f :cas, :value [0 1], :process 19, :time 14631248021, :index 3034}
{:type :fail, :f :cas, :value [0 1], :process 19, :time 14637314121, :index 3037}
{:type :ok, :f :read, :value 0, :process 33, :time 14656715626, :index 3044}
{:type :ok, :f :cas, :value [4 0], :process 38, :time 14656754724, :index 3045}
{:type :invoke, :f :read, :value nil, :process 16, :time 14656835528, :index 3046}
{:type :invoke, :f :read, :value nil, :process 17, :time 14661397926, :index 3047}
{:type :ok, :f :read, :value 0, :process 16, :time 14661755098, :index 3048}
{:type :ok, :f :read, :value 0, :process 17, :time 14667023182, :index 3049}
{:type :invoke, :f :write, :value 2, :process 10, :time 14668265847, :index 3051}
{:type :ok, :f :write, :value 2, :process 10, :time 14672919634, :index 3053}
{:type :invoke, :f :cas, :value [2 4], :process 12, :time 14680182083, :index 3054}
{:type :ok, :f :cas, :value [2 4], :process 12, :time 14685015870, :index 3056}
{:type :invoke, :f :read, :value nil, :process 12, :time 14692284722, :index 3060}
{:type :ok, :f :read, :value 4, :process 12, :time 14698074129, :index 3061}
{:type :invoke, :f :read, :value nil, :process 14, :time 14710873457, :index 3062}
{:type :ok, :f :read, :value 4, :process 14, :time 14716469468, :index 3063}
{:type :invoke, :f :write, :value 2, :process 31, :time 14736995604, :index 3068}
{:type :invoke, :f :read, :value nil, :process 19, :time 14739602449, :index 3071}
{:type :ok, :f :write, :value 2, :process 31, :time 14742132968, :index 3073}
{:type :ok, :f :read, :value 2, :process 19, :time 14744345643, :index 3075}
{:type :invoke, :f :read, :value nil, :process 31, :time 14745381625, :index 3076}
{:type :ok, :f :read, :value 2, :process 31, :time 14751153768, :index 3080}
{:type :invoke, :f :cas, :value [1 0], :process 19, :time 14764504481, :index 3084}
{:type :fail, :f :cas, :value [1 0], :process 19, :time 14772054601, :index 3085}
{:type :invoke, :f :write, :value 3, :process 12, :time 14783336203, :index 3088}
{:type :ok, :f :write, :value 3, :process 12, :time 14788550549, :index 3089}
{:type :invoke, :f :cas, :value [3 2], :process 14, :time 14792726871, :index 3090}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 14796986105, :index 3091}
{:type :ok, :f :cas, :value [3 2], :process 14, :time 14797163390, :index 3092}
{:type :invoke, :f :write, :value 2, :process 15, :time 14798097693, :index 3094}
{:type :fail, :f :cas, :value [0 3], :process 33, :time 14802951827, :index 3096}
{:type :ok, :f :write, :value 2, :process 15, :time 14803104896, :index 3097}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 14807997075, :index 3098}
{:type :fail, :f :cas, :value [1 0], :process 16, :time 14814882297, :index 3101}
{:type :invoke, :f :write, :value 0, :process 19, :time 14814877462, :index 3102}
{:type :ok, :f :write, :value 0, :process 19, :time 14820089646, :index 3106}
{:type :invoke, :f :read, :value nil, :process 17, :time 14820215019, :index 3107}
{:type :ok, :f :read, :value 0, :process 17, :time 14825821810, :index 3109}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 14828781631, :index 3110}
{:type :invoke, :f :cas, :value [0 0], :process 38, :time 14829022893, :index 3111}
{:type :invoke, :f :read, :value nil, :process 17, :time 14831082708, :index 3112}
{:type :fail, :f :cas, :value [1 0], :process 16, :time 14834959763, :index 3113}
{:type :ok, :f :cas, :value [0 0], :process 38, :time 14835234187, :index 3114}
{:type :ok, :f :read, :value 0, :process 17, :time 14836720373, :index 3115}
{:type :invoke, :f :write, :value 3, :process 10, :time 14843153500, :index 3116}
{:type :ok, :f :write, :value 3, :process 10, :time 14847869288, :index 3117}
{:type :invoke, :f :cas, :value [0 2], :process 12, :time 14857754365, :index 3118}
{:type :invoke, :f :cas, :value [3 0], :process 14, :time 14859434730, :index 3120}
{:type :fail, :f :cas, :value [0 2], :process 12, :time 14863954305, :index 3123}
{:type :ok, :f :cas, :value [3 0], :process 14, :time 14864514011, :index 3124}
{:type :invoke, :f :write, :value 2, :process 12, :time 14876243149, :index 3128}
{:type :ok, :f :write, :value 2, :process 12, :time 14881871403, :index 3130}
{:type :invoke, :f :cas, :value [1 2], :process 16, :time 14908555497, :index 3138}
{:type :fail, :f :cas, :value [1 2], :process 16, :time 14913807058, :index 3139}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 14914133705, :index 3140}
{:type :fail, :f :cas, :value [0 2], :process 10, :time 14919553921, :index 3143}
{:type :invoke, :f :cas, :value [2 4], :process 33, :time 14920223104, :index 3144}
{:type :invoke, :f :cas, :value [1 1], :process 31, :time 14920448810, :index 3145}
{:type :ok, :f :cas, :value [2 4], :process 33, :time 14925767182, :index 3149}
{:type :fail, :f :cas, :value [1 1], :process 31, :time 14926885522, :index 3150}
{:type :invoke, :f :read, :value nil, :process 14, :time 14933765800, :index 3152}
{:type :invoke, :f :write, :value 1, :process 15, :time 14938344703, :index 3153}
{:type :ok, :f :read, :value 4, :process 14, :time 14939773218, :index 3154}
{:type :invoke, :f :write, :value 2, :process 38, :time 14941568592, :index 3155}
{:type :ok, :f :write, :value 1, :process 15, :time 14942484271, :index 3156}
{:type :ok, :f :write, :value 2, :process 38, :time 14946192337, :index 3157}
{:type :invoke, :f :read, :value nil, :process 14, :time 14954074689, :index 3159}
{:type :ok, :f :read, :value 2, :process 14, :time 14959146224, :index 3161}
{:type :invoke, :f :cas, :value [4 4], :process 19, :time 14983344671, :index 3168}
{:type :fail, :f :cas, :value [4 4], :process 19, :time 14990109606, :index 3173}
{:type :invoke, :f :write, :value 2, :process 10, :time 14995815177, :index 3176}
{:type :ok, :f :write, :value 2, :process 10, :time 15000008015, :index 3178}
{:type :invoke, :f :cas, :value [0 1], :process 16, :time 15020065292, :index 3180}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 15022140163, :index 3183}
{:type :fail, :f :cas, :value [0 1], :process 16, :time 15026384621, :index 3186}
{:type :fail, :f :cas, :value [1 1], :process 12, :time 15027783875, :index 3187}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 15031268150, :index 3189}
{:type :invoke, :f :cas, :value [2 3], :process 17, :time 15035987442, :index 3191}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 15036365360, :index 3192}
{:type :ok, :f :cas, :value [2 3], :process 17, :time 15041278253, :index 3193}
{:type :invoke, :f :write, :value 1, :process 12, :time 15063032514, :index 3194}
{:type :ok, :f :write, :value 1, :process 12, :time 15068501222, :index 3196}
{:type :invoke, :f :write, :value 3, :process 15, :time 15077746353, :index 3198}
{:type :ok, :f :write, :value 3, :process 15, :time 15082393045, :index 3199}
{:type :invoke, :f :cas, :value [2 3], :process 38, :time 15104454880, :index 3210}
{:type :invoke, :f :write, :value 1, :process 33, :time 15109043472, :index 3211}
{:type :fail, :f :cas, :value [2 3], :process 38, :time 15110240746, :index 3212}
{:type :ok, :f :write, :value 1, :process 33, :time 15114632717, :index 3213}
{:type :invoke, :f :cas, :value [1 2], :process 31, :time 15119161804, :index 3214}
{:type :ok, :f :cas, :value [1 2], :process 31, :time 15124645504, :index 3215}
{:type :invoke, :f :cas, :value [0 3], :process 14, :time 15135395603, :index 3218}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 15135619736, :index 3219}
{:type :fail, :f :cas, :value [0 3], :process 14, :time 15141169945, :index 3221}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 15141463225, :index 3222}
{:type :invoke, :f :write, :value 0, :process 19, :time 15157361810, :index 3225}
{:type :ok, :f :write, :value 0, :process 19, :time 15162173765, :index 3228}
{:type :invoke, :f :write, :value 2, :process 17, :time 15184547213, :index 3238}
{:type :ok, :f :write, :value 2, :process 17, :time 15189868729, :index 3239}
{:type :invoke, :f :read, :value nil, :process 16, :time 15197615655, :index 3240}
{:type :ok, :f :read, :value 2, :process 16, :time 15203434238, :index 3242}
{:type :invoke, :f :cas, :value [1 0], :process 12, :time 15218761022, :index 3244}
{:type :fail, :f :cas, :value [1 0], :process 12, :time 15225857227, :index 3248}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 15231654603, :index 3252}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 15237199772, :index 3254}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
