{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :invoke, :f :write, :value 2, :process 36, :time 55675302069, :index 19692}
{:type :fail, :f :write, :value 2, :process 36, :time 55677143475, :error :connect, :index 19693}
{:type :invoke, :f :write, :value 3, :process 36, :time 55687405067, :index 19694}
{:type :fail, :f :write, :value 3, :process 36, :time 55689227778, :error :connect, :index 19696}
{:type :invoke, :f :write, :value 3, :process 33, :time 55691125498, :index 19699}
{:type :fail, :f :write, :value 3, :process 33, :time 55693158551, :error :connect, :index 19702}
{:type :invoke, :f :read, :value nil, :process 34, :time 55698594604, :index 19704}
{:type :fail, :f :read, :value nil, :process 34, :time 55700391847, :error :connect, :index 19705}
{:type :invoke, :f :cas, :value [0 0], :process 32, :time 55714545241, :index 19710}
{:type :fail, :f :cas, :value [0 0], :process 32, :time 55716420856, :error :connect, :index 19711}
{:type :invoke, :f :read, :value nil, :process 32, :time 55735708777, :index 19720}
{:type :fail, :f :read, :value nil, :process 32, :time 55737351023, :error :connect, :index 19721}
{:type :invoke, :f :read, :value nil, :process 34, :time 55741646624, :index 19722}
{:type :fail, :f :read, :value nil, :process 34, :time 55743423855, :error :connect, :index 19723}
{:type :invoke, :f :cas, :value [1 3], :process 39, :time 55755508060, :index 19728}
{:type :fail, :f :cas, :value [1 3], :process 39, :time 55757724628, :error :connect, :index 19733}
{:type :invoke, :f :cas, :value [0 4], :process 15, :time 55775210289, :index 19741}
{:type :fail, :f :cas, :value [0 4], :process 15, :time 55777039105, :error :connect, :index 19743}
{:type :invoke, :f :write, :value 2, :process 15, :time 55789296321, :index 19744}
{:type :fail, :f :write, :value 2, :process 15, :time 55791078243, :error :connect, :index 19745}
{:type :invoke, :f :write, :value 3, :process 39, :time 55816002803, :index 19748}
{:type :fail, :f :write, :value 3, :process 39, :time 55818079117, :error :connect, :index 19750}
{:type :invoke, :f :write, :value 1, :process 32, :time 55820615570, :index 19752}
{:type :fail, :f :write, :value 1, :process 32, :time 55822462397, :error :connect, :index 19753}
{:type :invoke, :f :read, :value nil, :process 18, :time 55828669244, :index 19754}
{:type :fail, :f :read, :value nil, :process 18, :time 55830756104, :error :connect, :index 19755}
{:type :invoke, :f :cas, :value [4 2], :process 34, :time 55845686626, :index 19756}
{:type :fail, :f :cas, :value [4 2], :process 34, :time 55847675338, :error :connect, :index 19757}
{:type :invoke, :f :write, :value 4, :process 11, :time 55864772748, :index 19762}
{:type :fail, :f :write, :value 4, :process 11, :time 55866803710, :error :connect, :index 19763}
{:type :invoke, :f :write, :value 2, :process 36, :time 55869477059, :index 19764}
{:type :fail, :f :write, :value 2, :process 36, :time 55871375713, :error :connect, :index 19765}
{:type :invoke, :f :read, :value nil, :process 36, :time 55873631261, :index 19766}
{:type :fail, :f :read, :value nil, :process 36, :time 55875585427, :error :connect, :index 19768}
{:type :invoke, :f :cas, :value [2 0], :process 33, :time 55879395334, :index 19770}
{:type :fail, :f :cas, :value [2 0], :process 33, :time 55881315389, :error :connect, :index 19771}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 55884852894, :index 19773}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 55885788884, :index 19774}
{:type :fail, :f :cas, :value [0 0], :process 36, :time 55886648366, :error :connect, :index 19776}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 55887534776, :error :connect, :index 19777}
{:type :invoke, :f :read, :value nil, :process 10, :time 55902420528, :index 19778}
{:type :fail, :f :read, :value nil, :process 10, :time 55904134212, :error :connect, :index 19779}
{:type :invoke, :f :read, :value nil, :process 10, :time 55907393707, :index 19782}
{:type :fail, :f :read, :value nil, :process 10, :time 55909173418, :error :connect, :index 19783}
{:type :invoke, :f :read, :value nil, :process 39, :time 55919339644, :index 19784}
{:type :fail, :f :read, :value nil, :process 39, :time 55921043332, :error :connect, :index 19786}
{:type :invoke, :f :read, :value nil, :process 37, :time 55922730317, :index 19788}
{:type :fail, :f :read, :value nil, :process 37, :time 55924630014, :error :connect, :index 19789}
{:type :invoke, :f :write, :value 2, :process 11, :time 55935079333, :index 19790}
{:type :fail, :f :write, :value 2, :process 11, :time 55936919776, :error :connect, :index 19791}
{:type :invoke, :f :write, :value 3, :process 18, :time 55939017845, :index 19792}
{:type :fail, :f :write, :value 3, :process 18, :time 55940933014, :error :connect, :index 19793}
{:type :invoke, :f :write, :value 2, :process 39, :time 55951307627, :index 19797}
{:type :fail, :f :write, :value 2, :process 39, :time 55953492469, :error :connect, :index 19800}
{:type :invoke, :f :read, :value nil, :process 32, :time 55953728547, :index 19801}
{:type :fail, :f :read, :value nil, :process 32, :time 55955606922, :error :connect, :index 19804}
{:type :invoke, :f :read, :value nil, :process 37, :time 55958900989, :index 19806}
{:type :fail, :f :read, :value nil, :process 37, :time 55960935765, :error :connect, :index 19807}
{:type :invoke, :f :read, :value nil, :process 32, :time 55962863251, :index 19808}
{:type :fail, :f :read, :value nil, :process 32, :time 55964485748, :error :connect, :index 19809}
{:type :invoke, :f :read, :value nil, :process 36, :time 55971953078, :index 19810}
{:type :fail, :f :read, :value nil, :process 36, :time 55974083396, :error :connect, :index 19811}
{:type :invoke, :f :cas, :value [4 0], :process 11, :time 55981181061, :index 19812}
{:type :fail, :f :cas, :value [4 0], :process 11, :time 55983389136, :error :connect, :index 19813}
{:type :invoke, :f :read, :value nil, :process 32, :time 55986778365, :index 19814}
{:type :fail, :f :read, :value nil, :process 32, :time 55988420172, :error :connect, :index 19815}
{:type :invoke, :f :read, :value nil, :process 15, :time 55990352277, :index 19817}
{:type :fail, :f :read, :value nil, :process 15, :time 55992351171, :error :connect, :index 19819}
{:type :invoke, :f :cas, :value [0 2], :process 32, :time 56021696629, :index 19824}
{:type :fail, :f :cas, :value [0 2], :process 32, :time 56023918561, :error :connect, :index 19825}
{:type :invoke, :f :write, :value 1, :process 34, :time 56026965815, :index 19826}
{:type :fail, :f :write, :value 1, :process 34, :time 56028930908, :error :connect, :index 19828}
{:type :invoke, :f :read, :value nil, :process 34, :time 56048200572, :index 19836}
{:type :fail, :f :read, :value nil, :process 34, :time 56050207266, :error :connect, :index 19837}
{:type :invoke, :f :write, :value 3, :process 33, :time 56073641607, :index 19848}
{:type :invoke, :f :cas, :value [2 3], :process 39, :time 56074865115, :index 19850}
{:type :fail, :f :write, :value 3, :process 33, :time 56075829369, :error :connect, :index 19852}
{:type :fail, :f :cas, :value [2 3], :process 39, :time 56076604895, :error :connect, :index 19854}
{:type :invoke, :f :cas, :value [3 4], :process 10, :time 56078431548, :index 19856}
{:type :fail, :f :cas, :value [3 4], :process 10, :time 56080300005, :error :connect, :index 19857}
{:type :invoke, :f :write, :value 3, :process 18, :time 56095204160, :index 19859}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 56095208134, :index 19860}
{:type :fail, :f :write, :value 3, :process 18, :time 56096880315, :error :connect, :index 19862}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 56097924634, :error :connect, :index 19863}
{:type :invoke, :f :cas, :value [4 3], :process 18, :time 56116154660, :index 19866}
{:type :fail, :f :cas, :value [4 3], :process 18, :time 56118076106, :error :connect, :index 19867}
{:type :invoke, :f :read, :value nil, :process 36, :time 56148343163, :index 19872}
{:type :fail, :f :read, :value nil, :process 36, :time 56150195840, :error :connect, :index 19873}
{:type :invoke, :f :read, :value nil, :process 11, :time 56151661893, :index 19874}
{:type :fail, :f :read, :value nil, :process 11, :time 56153470317, :error :connect, :index 19875}
{:type :invoke, :f :write, :value 0, :process 15, :time 56159591002, :index 19878}
{:type :fail, :f :write, :value 0, :process 15, :time 56161378826, :error :connect, :index 19879}
{:type :invoke, :f :write, :value 2, :process 10, :time 56168564646, :index 19882}
{:type :fail, :f :write, :value 2, :process 10, :time 56170590682, :error :connect, :index 19883}
{:type :invoke, :f :cas, :value [4 1], :process 37, :time 56171183479, :index 19884}
{:type :fail, :f :cas, :value [4 1], :process 37, :time 56173066978, :error :connect, :index 19885}
{:type :invoke, :f :cas, :value [2 2], :process 32, :time 56207231978, :index 19894}
{:type :fail, :f :cas, :value [2 2], :process 32, :time 56209033637, :error :connect, :index 19895}
{:type :invoke, :f :cas, :value [0 0], :process 34, :time 56230470897, :index 19900}
{:type :fail, :f :cas, :value [0 0], :process 34, :time 56232316254, :error :connect, :index 19901}
{:type :invoke, :f :write, :value 0, :process 15, :time 56248635431, :index 19904}
{:type :fail, :f :write, :value 0, :process 15, :time 56250480903, :error :connect, :index 19905}
{:type :invoke, :f :write, :value 1, :process 39, :time 56251867379, :index 19906}
{:type :invoke, :f :cas, :value [2 3], :process 18, :time 56252360007, :index 19907}
{:type :fail, :f :write, :value 1, :process 39, :time 56253920978, :error :connect, :index 19908}
{:type :fail, :f :cas, :value [2 3], :process 18, :time 56254459490, :error :connect, :index 19909}
{:type :invoke, :f :cas, :value [0 3], :process 33, :time 56261103043, :index 19911}
{:type :fail, :f :cas, :value [0 3], :process 33, :time 56263358697, :error :connect, :index 19913}
{:type :invoke, :f :read, :value nil, :process 11, :time 56270730373, :index 19914}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 56271334039, :index 19915}
{:type :fail, :f :read, :value nil, :process 11, :time 56272619196, :error :connect, :index 19916}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 56273203779, :error :connect, :index 19917}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 56286721622, :index 19920}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 56288546415, :error :connect, :index 19921}
{:type :invoke, :f :cas, :value [4 4], :process 36, :time 56320456227, :index 19930}
{:type :fail, :f :cas, :value [4 4], :process 36, :time 56322334282, :error :connect, :index 19931}
{:type :invoke, :f :cas, :value [1 4], :process 10, :time 56325868127, :index 19933}
{:type :fail, :f :cas, :value [1 4], :process 10, :time 56327807895, :error :connect, :index 19935}
{:type :invoke, :f :read, :value nil, :process 34, :time 56329655032, :index 19937}
{:type :fail, :f :read, :value nil, :process 34, :time 56331682686, :error :connect, :index 19940}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 56333622652, :index 19942}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 56335509063, :error :connect, :index 19943}
{:type :invoke, :f :read, :value nil, :process 34, :time 56358940506, :index 19950}
{:type :fail, :f :read, :value nil, :process 34, :time 56360919216, :error :connect, :index 19951}
{:type :invoke, :f :cas, :value [1 2], :process 34, :time 56364187281, :index 19952}
{:type :fail, :f :cas, :value [1 2], :process 34, :time 56365749557, :error :connect, :index 19953}
{:type :invoke, :f :write, :value 2, :process 10, :time 56373073169, :index 19955}
{:type :fail, :f :write, :value 2, :process 10, :time 56374922199, :error :connect, :index 19958}
{:type :invoke, :f :write, :value 0, :process 10, :time 56392161866, :index 19963}
{:type :fail, :f :write, :value 0, :process 10, :time 56394147276, :error :connect, :index 19965}
{:type :invoke, :f :cas, :value [0 3], :process 32, :time 56397301247, :index 19966}
{:type :fail, :f :cas, :value [0 3], :process 32, :time 56398949467, :error :connect, :index 19967}
{:type :invoke, :f :read, :value nil, :process 10, :time 56401395882, :index 19968}
{:type :fail, :f :read, :value nil, :process 10, :time 56403395030, :error :connect, :index 19969}
{:type :invoke, :f :read, :value nil, :process 39, :time 56430188614, :index 19975}
{:type :fail, :f :read, :value nil, :process 39, :time 56432115937, :error :connect, :index 19977}
{:type :invoke, :f :read, :value nil, :process 37, :time 56445443992, :index 19980}
{:type :invoke, :f :cas, :value [0 0], :process 39, :time 56446374664, :index 19981}
{:type :fail, :f :read, :value nil, :process 37, :time 56447538747, :error :connect, :index 19982}
{:type :fail, :f :cas, :value [0 0], :process 39, :time 56448396350, :error :connect, :index 19983}
{:type :invoke, :f :cas, :value [2 1], :process 15, :time 56449743583, :index 19984}
{:type :fail, :f :cas, :value [2 1], :process 15, :time 56451611880, :error :connect, :index 19986}
{:type :invoke, :f :read, :value nil, :process 36, :time 56458538542, :index 19988}
{:type :fail, :f :read, :value nil, :process 36, :time 56460431186, :error :connect, :index 19990}
{:type :invoke, :f :write, :value 2, :process 18, :time 56465834779, :index 19994}
{:type :fail, :f :write, :value 2, :process 18, :time 56467667575, :error :connect, :index 19996}
{:type :invoke, :f :read, :value nil, :process 11, :time 56467885196, :index 19997}
{:type :fail, :f :read, :value nil, :process 11, :time 56469720522, :error :connect, :index 19999}
{:type :invoke, :f :write, :value 4, :process 34, :time 56473018512, :index 20000}
{:type :fail, :f :write, :value 4, :process 34, :time 56474821007, :error :connect, :index 20001}
{:type :invoke, :f :read, :value nil, :process 11, :time 56502979853, :index 20007}
{:type :fail, :f :read, :value nil, :process 11, :time 56504763564, :error :connect, :index 20010}
{:type :invoke, :f :write, :value 4, :process 15, :time 56515882551, :index 20013}
{:type :fail, :f :write, :value 4, :process 15, :time 56517551382, :error :connect, :index 20015}
{:type :invoke, :f :read, :value nil, :process 33, :time 56522775669, :index 20019}
{:type :invoke, :f :write, :value 2, :process 10, :time 56523598593, :index 20021}
{:type :fail, :f :read, :value nil, :process 33, :time 56524511525, :error :connect, :index 20023}
{:type :fail, :f :write, :value 2, :process 10, :time 56525772926, :error :connect, :index 20025}
{:type :invoke, :f :cas, :value [0 3], :process 11, :time 56535016251, :index 20026}
{:type :fail, :f :cas, :value [0 3], :process 11, :time 56536911493, :error :connect, :index 20027}
{:type :invoke, :f :read, :value nil, :process 32, :time 56543218746, :index 20028}
{:type :fail, :f :read, :value nil, :process 32, :time 56545059309, :error :connect, :index 20029}
{:type :invoke, :f :write, :value 1, :process 37, :time 56549804440, :index 20034}
{:type :invoke, :f :read, :value nil, :process 39, :time 56550642685, :index 20035}
{:type :fail, :f :write, :value 1, :process 37, :time 56551430717, :error :connect, :index 20036}
{:type :fail, :f :read, :value nil, :process 39, :time 56552662868, :error :connect, :index 20037}
{:type :invoke, :f :write, :value 3, :process 34, :time 56553083232, :index 20038}
{:type :fail, :f :write, :value 3, :process 34, :time 56555053479, :error :connect, :index 20039}
{:type :invoke, :f :write, :value 1, :process 36, :time 56568670594, :index 20040}
{:type :fail, :f :write, :value 1, :process 36, :time 56570565639, :error :connect, :index 20042}
{:type :invoke, :f :write, :value 4, :process 33, :time 56593761506, :index 20047}
{:type :fail, :f :write, :value 4, :process 33, :time 56595605936, :error :connect, :index 20049}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 56604019281, :index 20052}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 56606289537, :error :connect, :index 20055}
{:type :invoke, :f :read, :value nil, :process 15, :time 56616803123, :index 20058}
{:type :fail, :f :read, :value nil, :process 15, :time 56618892142, :error :connect, :index 20059}
{:type :invoke, :f :write, :value 3, :process 36, :time 56638865394, :index 20064}
{:type :fail, :f :write, :value 3, :process 36, :time 56640468196, :error :connect, :index 20065}
{:type :invoke, :f :write, :value 1, :process 34, :time 56645315819, :index 20066}
{:type :invoke, :f :cas, :value [2 1], :process 37, :time 56645690152, :index 20067}
{:type :fail, :f :write, :value 1, :process 34, :time 56647339551, :error :connect, :index 20068}
{:type :fail, :f :cas, :value [2 1], :process 37, :time 56647781297, :error :connect, :index 20069}
{:type :invoke, :f :read, :value nil, :process 18, :time 56653941048, :index 20070}
{:type :fail, :f :read, :value nil, :process 18, :time 56655638683, :error :connect, :index 20071}
{:type :invoke, :f :write, :value 1, :process 32, :time 56662320187, :index 20072}
{:type :fail, :f :write, :value 1, :process 32, :time 56663958129, :error :connect, :index 20074}
{:type :invoke, :f :read, :value nil, :process 36, :time 56679730668, :index 20078}
{:type :invoke, :f :cas, :value [3 3], :process 11, :time 56681184842, :index 20079}
{:type :fail, :f :read, :value nil, :process 36, :time 56681650828, :error :connect, :index 20080}
{:type :fail, :f :cas, :value [3 3], :process 11, :time 56683295679, :error :connect, :index 20082}
{:type :invoke, :f :cas, :value [3 4], :process 39, :time 56708929993, :index 20086}
{:type :fail, :f :cas, :value [3 4], :process 39, :time 56710813460, :error :connect, :index 20087}
{:type :invoke, :f :cas, :value [4 0], :process 33, :time 56713861155, :index 20088}
{:type :fail, :f :cas, :value [4 0], :process 33, :time 56715770594, :error :connect, :index 20091}
{:type :invoke, :f :cas, :value [4 2], :process 10, :time 56731538561, :index 20098}
{:type :fail, :f :cas, :value [4 2], :process 10, :time 56733606283, :error :connect, :index 20099}
{:type :invoke, :f :cas, :value [2 1], :process 15, :time 56741162526, :index 20101}
{:type :fail, :f :cas, :value [2 1], :process 15, :time 56742972794, :error :connect, :index 20103}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :invoke, :f :cas, :value [2 2], :process 34, :time 56787609929, :index 20121}
{:type :fail, :f :cas, :value [2 2], :process 34, :time 56789537445, :error :connect, :index 20122}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
