{:type :invoke, :f :write, :value 3, :process 16, :time 41602116, :index 1}
{:type :invoke, :f :read, :value nil, :process 15, :time 49257569, :index 4}
{:type :invoke, :f :read, :value nil, :process 17, :time 57672923, :index 5}
{:type :invoke, :f :read, :value nil, :process 13, :time 61178388, :index 6}
{:type :invoke, :f :cas, :value [3 0], :process 12, :time 95598200, :index 9}
{:type :invoke, :f :read, :value nil, :process 18, :time 131536996, :index 10}
{:type :invoke, :f :cas, :value [4 4], :process 19, :time 148347401, :index 12}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 178463943, :index 13}
{:type :invoke, :f :cas, :value [4 0], :process 11, :time 187779723, :index 14}
{:type :invoke, :f :cas, :value [2 1], :process 14, :time 206064820, :index 15}
{:type :ok, :f :write, :value 3, :process 16, :time 240650693, :index 22}
{:type :fail, :f :cas, :value [4 4], :process 19, :time 262448542, :error :not-found, :index 30}
{:type :fail, :f :cas, :value [1 2], :process 10, :time 263774320, :index 31}
{:type :ok, :f :read, :value nil, :process 15, :time 264259386, :index 32}
{:type :ok, :f :read, :value nil, :process 17, :time 265830987, :index 35}
{:type :fail, :f :cas, :value [3 0], :process 12, :time 266757799, :error :not-found, :index 37}
{:type :fail, :f :cas, :value [4 0], :process 11, :time 266930012, :index 38}
{:type :ok, :f :read, :value nil, :process 18, :time 267788157, :index 39}
{:type :ok, :f :read, :value nil, :process 13, :time 267788185, :index 40}
{:type :fail, :f :cas, :value [2 1], :process 14, :time 269811599, :index 41}
{:type :invoke, :f :read, :value nil, :process 16, :time 315070116, :index 48}
{:type :ok, :f :read, :value 3, :process 16, :time 321736031, :index 49}
{:type :invoke, :f :read, :value nil, :process 14, :time 322127103, :index 50}
{:type :ok, :f :read, :value 3, :process 14, :time 329505226, :index 52}
{:type :invoke, :f :write, :value 2, :process 15, :time 356794581, :index 54}
{:type :invoke, :f :write, :value 2, :process 11, :time 359934454, :index 55}
{:type :ok, :f :write, :value 2, :process 15, :time 364822727, :index 56}
{:type :ok, :f :write, :value 2, :process 11, :time 366346014, :index 57}
{:type :invoke, :f :write, :value 0, :process 10, :time 368355229, :index 58}
{:type :ok, :f :write, :value 0, :process 10, :time 374557469, :index 60}
{:type :invoke, :f :write, :value 4, :process 14, :time 374846816, :index 61}
{:type :ok, :f :write, :value 4, :process 14, :time 381310089, :index 63}
{:type :invoke, :f :cas, :value [0 2], :process 10, :time 381362891, :index 64}
{:type :fail, :f :cas, :value [0 2], :process 10, :time 388137968, :index 67}
{:type :invoke, :f :read, :value nil, :process 14, :time 397975530, :index 72}
{:type :invoke, :f :write, :value 2, :process 13, :time 401783568, :index 73}
{:type :ok, :f :read, :value 4, :process 14, :time 404742661, :index 75}
{:type :ok, :f :write, :value 2, :process 13, :time 407428409, :index 76}
{:type :invoke, :f :read, :value nil, :process 12, :time 416453413, :index 79}
{:type :ok, :f :read, :value 2, :process 12, :time 422623597, :index 80}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 426067162, :index 85}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 427184410, :index 86}
{:type :fail, :f :cas, :value [0 4], :process 18, :time 435535263, :index 88}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 437188022, :index 90}
{:type :invoke, :f :read, :value nil, :process 16, :time 436247208, :index 92}
{:type :invoke, :f :cas, :value [4 0], :process 13, :time 443947235, :index 93}
{:type :ok, :f :read, :value 2, :process 16, :time 444235106, :index 94}
{:type :invoke, :f :cas, :value [3 2], :process 19, :time 445081435, :index 95}
{:type :invoke, :f :read, :value nil, :process 16, :time 446595539, :index 96}
{:type :invoke, :f :cas, :value [4 2], :process 10, :time 447447546, :index 97}
{:type :fail, :f :cas, :value [4 0], :process 13, :time 450075922, :index 98}
{:type :invoke, :f :write, :value 2, :process 17, :time 452620811, :index 99}
{:type :fail, :f :cas, :value [3 2], :process 19, :time 453226074, :index 100}
{:type :ok, :f :read, :value 2, :process 16, :time 454425122, :index 101}
{:type :fail, :f :cas, :value [4 2], :process 10, :time 455271822, :index 102}
{:type :invoke, :f :read, :value nil, :process 14, :time 457236549, :index 104}
{:type :ok, :f :write, :value 2, :process 17, :time 458671581, :index 105}
{:type :ok, :f :read, :value 2, :process 14, :time 463730405, :index 107}
{:type :invoke, :f :cas, :value [3 1], :process 17, :time 473418503, :index 113}
{:type :fail, :f :cas, :value [3 1], :process 17, :time 484812888, :index 122}
{:type :invoke, :f :read, :value nil, :process 13, :time 486561696, :index 123}
{:type :ok, :f :read, :value 2, :process 13, :time 491648900, :index 125}
{:type :invoke, :f :write, :value 0, :process 11, :time 495013683, :index 126}
{:type :invoke, :f :read, :value nil, :process 12, :time 495007096, :index 127}
{:type :ok, :f :read, :value 2, :process 12, :time 501676244, :index 128}
{:type :ok, :f :write, :value 0, :process 11, :time 502355983, :index 129}
{:type :invoke, :f :write, :value 2, :process 13, :time 519063338, :index 131}
{:type :invoke, :f :cas, :value [2 3], :process 11, :time 523811812, :index 135}
{:type :ok, :f :write, :value 2, :process 13, :time 524555375, :index 136}
{:type :ok, :f :cas, :value [2 3], :process 11, :time 530582181, :index 139}
{:type :invoke, :f :read, :value nil, :process 15, :time 532474060, :index 140}
{:type :invoke, :f :write, :value 3, :process 19, :time 534641734, :index 141}
{:type :ok, :f :read, :value 3, :process 15, :time 538174664, :index 142}
{:type :ok, :f :write, :value 3, :process 19, :time 540698488, :index 143}
{:type :invoke, :f :cas, :value [0 1], :process 17, :time 542459052, :index 144}
{:type :fail, :f :cas, :value [0 1], :process 17, :time 549176101, :index 146}
{:type :invoke, :f :write, :value 1, :process 12, :time 558138932, :index 150}
{:type :invoke, :f :write, :value 2, :process 16, :time 561967960, :index 151}
{:type :ok, :f :write, :value 1, :process 12, :time 565075395, :index 154}
{:type :ok, :f :write, :value 2, :process 16, :time 569195450, :index 157}
{:type :invoke, :f :cas, :value [3 3], :process 12, :time 594058979, :index 162}
{:type :fail, :f :cas, :value [3 3], :process 12, :time 600826494, :index 165}
{:type :invoke, :f :cas, :value [3 4], :process 11, :time 609989955, :index 168}
{:type :invoke, :f :write, :value 3, :process 14, :time 610659633, :index 169}
{:type :fail, :f :cas, :value [3 4], :process 11, :time 617041549, :index 171}
{:type :ok, :f :write, :value 3, :process 14, :time 617815907, :index 172}
{:type :invoke, :f :write, :value 2, :process 17, :time 621697731, :index 174}
{:type :ok, :f :write, :value 2, :process 17, :time 627627168, :index 175}
{:type :invoke, :f :read, :value nil, :process 18, :time 636359524, :index 176}
{:type :invoke, :f :read, :value nil, :process 16, :time 639573819, :index 178}
{:type :ok, :f :read, :value 2, :process 18, :time 642288074, :index 179}
{:type :ok, :f :read, :value 2, :process 16, :time 645893783, :index 181}
{:type :invoke, :f :write, :value 0, :process 10, :time 649863243, :index 182}
{:type :ok, :f :write, :value 0, :process 10, :time 656956288, :index 183}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 660360164, :index 184}
{:type :invoke, :f :write, :value 2, :process 16, :time 662349597, :index 185}
{:type :ok, :f :write, :value 2, :process 16, :time 671107201, :index 189}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 672803997, :index 190}
{:type :invoke, :f :write, :value 1, :process 12, :time 674381646, :index 191}
{:type :ok, :f :write, :value 1, :process 12, :time 680403270, :index 193}
{:type :invoke, :f :write, :value 2, :process 12, :time 685876723, :index 194}
{:type :ok, :f :write, :value 2, :process 12, :time 691513395, :index 196}
{:type :invoke, :f :write, :value 1, :process 15, :time 693590236, :index 198}
{:type :invoke, :f :write, :value 3, :process 19, :time 696085382, :index 200}
{:type :invoke, :f :write, :value 0, :process 17, :time 698590874, :index 201}
{:type :ok, :f :write, :value 1, :process 15, :time 699828367, :index 202}
{:type :ok, :f :write, :value 3, :process 19, :time 701719934, :index 206}
{:type :ok, :f :write, :value 0, :process 17, :time 704401572, :index 207}
{:type :invoke, :f :cas, :value [0 3], :process 13, :time 707997461, :index 209}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 710908324, :index 211}
{:type :ok, :f :cas, :value [0 3], :process 13, :time 713116050, :index 213}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 717730707, :index 215}
{:type :invoke, :f :read, :value nil, :process 14, :time 739228615, :index 217}
{:type :ok, :f :read, :value 3, :process 14, :time 745140695, :index 219}
{:type :invoke, :f :write, :value 2, :process 18, :time 748910870, :index 221}
{:type :ok, :f :write, :value 2, :process 18, :time 755683968, :index 225}
{:type :invoke, :f :read, :value nil, :process 12, :time 756906210, :index 227}
{:type :invoke, :f :read, :value nil, :process 11, :time 760510191, :index 229}
{:type :ok, :f :read, :value 2, :process 12, :time 762668386, :index 230}
{:type :ok, :f :read, :value 2, :process 11, :time 765572695, :index 231}
{:type :invoke, :f :read, :value nil, :process 16, :time 799132036, :index 234}
{:type :invoke, :f :read, :value nil, :process 15, :time 801224086, :index 235}
{:type :ok, :f :read, :value 2, :process 16, :time 805082846, :index 236}
{:type :ok, :f :read, :value 2, :process 15, :time 807478533, :index 238}
{:type :invoke, :f :write, :value 2, :process 10, :time 821332230, :index 241}
{:type :invoke, :f :cas, :value [3 4], :process 11, :time 825909575, :index 242}
{:type :ok, :f :write, :value 2, :process 10, :time 827440306, :index 244}
{:type :fail, :f :cas, :value [3 4], :process 11, :time 832718712, :index 245}
{:type :invoke, :f :read, :value nil, :process 14, :time 868498255, :index 254}
{:type :invoke, :f :write, :value 3, :process 18, :time 872078308, :index 255}
{:type :invoke, :f :write, :value 4, :process 19, :time 876065279, :index 256}
{:type :ok, :f :write, :value 3, :process 18, :time 880465363, :index 258}
{:type :invoke, :f :write, :value 4, :process 17, :time 889804475, :index 262}
{:type :ok, :f :write, :value 4, :process 17, :time 896078084, :index 264}
{:type :invoke, :f :read, :value nil, :process 12, :time 896433589, :index 265}
{:type :invoke, :f :cas, :value [3 3], :process 18, :time 899997590, :index 266}
{:type :ok, :f :read, :value 4, :process 12, :time 902593128, :index 268}
{:type :invoke, :f :cas, :value [3 4], :process 13, :time 903482398, :index 269}
{:type :fail, :f :cas, :value [3 3], :process 18, :time 906675341, :index 271}
{:type :invoke, :f :cas, :value [3 3], :process 11, :time 907149929, :index 272}
{:type :fail, :f :cas, :value [3 4], :process 13, :time 909513209, :index 273}
{:type :fail, :f :cas, :value [3 3], :process 11, :time 913939091, :index 277}
{:type :invoke, :f :write, :value 3, :process 10, :time 915762572, :index 278}
{:type :ok, :f :write, :value 3, :process 10, :time 922497463, :index 280}
{:type :invoke, :f :write, :value 1, :process 18, :time 925027172, :index 282}
{:type :ok, :f :write, :value 1, :process 18, :time 929714658, :index 284}
{:type :invoke, :f :write, :value 4, :process 13, :time 951720726, :index 288}
{:type :invoke, :f :cas, :value [2 0], :process 11, :time 955265366, :index 289}
{:type :ok, :f :write, :value 4, :process 13, :time 957484578, :index 290}
{:type :fail, :f :cas, :value [2 0], :process 11, :time 961835062, :index 291}
{:type :invoke, :f :read, :value nil, :process 16, :time 988468888, :index 296}
{:type :ok, :f :read, :value 4, :process 16, :time 994735459, :index 299}
{:type :invoke, :f :cas, :value [2 0], :process 15, :time 995915322, :index 300}
{:type :fail, :f :cas, :value [2 0], :process 15, :time 1002302202, :index 301}
{:type :invoke, :f :write, :value 3, :process 13, :time 1026838079, :index 304}
{:type :ok, :f :write, :value 3, :process 13, :time 1031992962, :index 305}
{:type :invoke, :f :write, :value 4, :process 17, :time 1073551229, :index 310}
{:type :invoke, :f :write, :value 1, :process 18, :time 1075131480, :index 311}
{:type :ok, :f :write, :value 4, :process 17, :time 1080631905, :index 314}
{:type :ok, :f :write, :value 1, :process 18, :time 1081485685, :index 315}
{:type :invoke, :f :cas, :value [3 0], :process 12, :time 1084026090, :index 318}
{:type :invoke, :f :read, :value nil, :process 11, :time 1085159908, :index 320}
{:type :fail, :f :cas, :value [3 0], :process 12, :time 1090926733, :index 322}
{:type :ok, :f :read, :value 1, :process 11, :time 1091394142, :index 323}
{:type :invoke, :f :cas, :value [0 4], :process 16, :time 1115103718, :index 327}
{:type :invoke, :f :write, :value 3, :process 10, :time 1117871287, :index 329}
{:type :fail, :f :cas, :value [0 4], :process 16, :time 1120896232, :index 330}
{:type :ok, :f :write, :value 3, :process 10, :time 1123696882, :index 331}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 1141827256, :index 332}
{:type :invoke, :f :write, :value 0, :process 15, :time 1146761920, :index 333}
{:type :fail, :f :cas, :value [0 4], :process 18, :time 1147260297, :index 334}
{:type :ok, :f :write, :value 0, :process 15, :time 1152534920, :index 335}
{:type :invoke, :f :write, :value 4, :process 13, :time 1176343850, :index 342}
{:type :ok, :f :write, :value 4, :process 13, :time 1180839677, :index 346}
{:type :invoke, :f :write, :value 0, :process 13, :time 1185139675, :index 348}
{:type :ok, :f :write, :value 0, :process 13, :time 1190296159, :index 349}
{:type :invoke, :f :write, :value 2, :process 10, :time 1198011563, :index 351}
{:type :invoke, :f :read, :value nil, :process 13, :time 1200606942, :index 354}
{:type :ok, :f :write, :value 2, :process 10, :time 1203689940, :index 355}
{:type :ok, :f :read, :value 2, :process 13, :time 1205328792, :index 356}
{:type :invoke, :f :write, :value 0, :process 17, :time 1212989950, :index 359}
{:type :ok, :f :write, :value 0, :process 17, :time 1218575737, :index 361}
{:type :invoke, :f :cas, :value [1 3], :process 12, :time 1248286670, :index 368}
{:type :fail, :f :cas, :value [1 3], :process 12, :time 1253929680, :index 369}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 1262551021, :index 370}
{:type :fail, :f :cas, :value [4 0], :process 18, :time 1267872861, :index 372}
{:type :invoke, :f :cas, :value [2 0], :process 11, :time 1289702445, :index 376}
{:type :fail, :f :cas, :value [2 0], :process 11, :time 1295981761, :index 377}
{:type :invoke, :f :write, :value 1, :process 15, :time 1295913457, :index 378}
{:type :ok, :f :write, :value 1, :process 15, :time 1302269044, :index 380}
{:type :invoke, :f :write, :value 1, :process 10, :time 1310990445, :index 386}
{:type :ok, :f :write, :value 1, :process 10, :time 1317121747, :index 387}
{:type :invoke, :f :write, :value 1, :process 16, :time 1317361613, :index 388}
{:type :invoke, :f :read, :value nil, :process 17, :time 1319895251, :index 389}
{:type :ok, :f :write, :value 1, :process 16, :time 1322910016, :index 390}
{:type :ok, :f :read, :value 1, :process 17, :time 1325151882, :index 392}
{:type :invoke, :f :write, :value 2, :process 13, :time 1355639695, :index 399}
{:type :ok, :f :write, :value 2, :process 13, :time 1360419069, :index 402}
{:type :ok, :f :read, :value 2, :process 14, :time 1387302001, :index 409}
{:type :ok, :f :write, :value 4, :process 19, :time 1388335431, :index 410}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
