{:type :invoke, :f :read, :value nil, :process 16, :time 1161902354, :index 347}
{:type :ok, :f :read, :value nil, :process 16, :time 1167306519, :index 349}
{:type :invoke, :f :cas, :value [0 1], :process 17, :time 1171638824, :index 350}
{:type :invoke, :f :write, :value 1, :process 18, :time 1172647401, :index 352}
{:type :ok, :f :write, :value 1, :process 18, :time 1177995770, :index 354}
{:type :fail, :f :cas, :value [0 1], :process 17, :time 1178415062, :error :not-found, :index 355}
{:type :invoke, :f :read, :value nil, :process 18, :time 1201256288, :index 367}
{:type :ok, :f :read, :value 1, :process 18, :time 1205974896, :index 369}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 1231231524, :index 376}
{:type :fail, :f :cas, :value [4 0], :process 18, :time 1236504876, :index 377}
{:type :invoke, :f :cas, :value [0 0], :process 16, :time 1240564971, :index 378}
{:type :fail, :f :cas, :value [0 0], :process 16, :time 1245849902, :index 379}
{:type :invoke, :f :cas, :value [1 3], :process 13, :time 1246460607, :index 380}
{:type :invoke, :f :cas, :value [2 4], :process 12, :time 1246861402, :index 381}
{:type :fail, :f :cas, :value [2 4], :process 12, :time 1252255899, :index 382}
{:type :ok, :f :cas, :value [1 3], :process 13, :time 1252521557, :index 383}
{:type :invoke, :f :write, :value 4, :process 11, :time 1263885088, :index 386}
{:type :ok, :f :write, :value 4, :process 11, :time 1269713139, :index 389}
{:type :invoke, :f :write, :value 4, :process 16, :time 1274016148, :index 391}
{:type :ok, :f :write, :value 4, :process 16, :time 1278840991, :index 394}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 1295958418, :index 399}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 1300768318, :index 401}
{:type :invoke, :f :read, :value nil, :process 13, :time 1324795066, :index 407}
{:type :ok, :f :read, :value 4, :process 13, :time 1330450279, :index 409}
{:type :invoke, :f :write, :value 1, :process 17, :time 1347711049, :index 411}
{:type :ok, :f :write, :value 1, :process 17, :time 1352967598, :index 414}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 1365321433, :index 416}
{:type :ok, :f :cas, :value [1 3], :process 10, :time 1369766406, :index 417}
{:type :invoke, :f :read, :value nil, :process 18, :time 1384765803, :index 419}
{:type :ok, :f :read, :value 3, :process 18, :time 1389492201, :index 422}
{:type :invoke, :f :write, :value 2, :process 15, :time 1398950208, :index 424}
{:type :ok, :f :write, :value 2, :process 15, :time 1403808771, :index 426}
{:type :invoke, :f :read, :value nil, :process 18, :time 1407770179, :index 428}
{:type :ok, :f :read, :value 2, :process 18, :time 1412381019, :index 429}
{:type :invoke, :f :write, :value 2, :process 16, :time 1423102426, :index 430}
{:type :ok, :f :write, :value 2, :process 16, :time 1428322918, :index 431}
{:type :invoke, :f :cas, :value [3 4], :process 12, :time 1432562212, :index 432}
{:type :invoke, :f :cas, :value [4 0], :process 13, :time 1435684120, :index 433}
{:type :fail, :f :cas, :value [3 4], :process 12, :time 1438050525, :index 434}
{:type :fail, :f :cas, :value [4 0], :process 13, :time 1441479678, :index 435}
{:type :invoke, :f :write, :value 4, :process 12, :time 1455311641, :index 440}
{:type :ok, :f :write, :value 4, :process 12, :time 1460406691, :index 442}
{:type :invoke, :f :write, :value 1, :process 11, :time 1490032867, :index 450}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 1495649075, :index 453}
{:type :ok, :f :write, :value 1, :process 11, :time 1495814698, :index 454}
{:type :invoke, :f :write, :value 0, :process 13, :time 1497741270, :index 456}
{:type :ok, :f :write, :value 0, :process 13, :time 1503907813, :index 458}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 1504632604, :index 459}
{:type :invoke, :f :cas, :value [1 2], :process 10, :time 1512033758, :index 461}
{:type :fail, :f :cas, :value [1 2], :process 10, :time 1517164640, :index 463}
{:type :invoke, :f :write, :value 2, :process 18, :time 1522936581, :index 465}
{:type :ok, :f :write, :value 2, :process 18, :time 1527511259, :index 467}
{:type :invoke, :f :write, :value 4, :process 15, :time 1531069253, :index 468}
{:type :ok, :f :write, :value 4, :process 15, :time 1536294278, :index 469}
{:type :invoke, :f :cas, :value [1 4], :process 17, :time 1538245303, :index 470}
{:type :invoke, :f :read, :value nil, :process 15, :time 1558548790, :index 473}
{:type :ok, :f :read, :value 4, :process 15, :time 1563095593, :index 475}
{:type :invoke, :f :read, :value nil, :process 11, :time 1579055872, :index 478}
{:type :fail, :f :cas, :value [1 4], :process 17, :time 1579840936, :index 479}
{:type :ok, :f :read, :value 4, :process 11, :time 1584078149, :index 481}
{:type :invoke, :f :cas, :value [3 2], :process 16, :time 1610590129, :index 491}
{:type :fail, :f :cas, :value [3 2], :process 16, :time 1616487879, :index 493}
{:type :invoke, :f :cas, :value [1 1], :process 13, :time 1617169280, :index 494}
{:type :invoke, :f :cas, :value [3 1], :process 18, :time 1617764666, :index 495}
{:type :fail, :f :cas, :value [1 1], :process 13, :time 1623206529, :index 496}
{:type :fail, :f :cas, :value [3 1], :process 18, :time 1623499118, :index 497}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 1638424354, :index 504}
{:type :fail, :f :cas, :value [0 1], :process 10, :time 1643518518, :index 506}
{:type :invoke, :f :cas, :value [4 3], :process 12, :time 1643712182, :index 507}
{:type :ok, :f :cas, :value [4 3], :process 12, :time 1649011895, :index 509}
{:type :invoke, :f :read, :value nil, :process 16, :time 1664750974, :index 514}
{:type :ok, :f :read, :value 3, :process 16, :time 1669693119, :index 516}
{:type :invoke, :f :cas, :value [2 1], :process 17, :time 1679087083, :index 518}
{:type :fail, :f :cas, :value [2 1], :process 17, :time 1684785161, :index 519}
{:type :invoke, :f :read, :value nil, :process 11, :time 1693343659, :index 522}
{:type :ok, :f :read, :value 3, :process 11, :time 1698003262, :index 523}
{:type :invoke, :f :read, :value nil, :process 18, :time 1708764636, :index 528}
{:type :invoke, :f :read, :value nil, :process 10, :time 1711827680, :index 529}
{:type :ok, :f :read, :value 3, :process 18, :time 1713998925, :index 530}
{:type :ok, :f :read, :value 3, :process 10, :time 1716286682, :index 531}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 1719256921, :index 532}
{:type :ok, :f :cas, :value [3 2], :process 18, :time 1724963233, :index 533}
{:type :invoke, :f :write, :value 3, :process 13, :time 1742485893, :index 536}
{:type :invoke, :f :write, :value 0, :process 15, :time 1743365910, :index 537}
{:type :ok, :f :write, :value 3, :process 13, :time 1748107695, :index 538}
{:type :ok, :f :write, :value 0, :process 15, :time 1748373954, :index 539}
{:type :invoke, :f :write, :value 3, :process 12, :time 1763270948, :index 540}
{:type :ok, :f :write, :value 3, :process 12, :time 1768615435, :index 541}
{:type :invoke, :f :read, :value nil, :process 13, :time 1769417432, :index 542}
{:type :ok, :f :read, :value 3, :process 13, :time 1774999342, :index 543}
{:type :invoke, :f :cas, :value [2 4], :process 19, :time 1778718136, :index 544}
{:type :fail, :f :cas, :value [2 4], :process 19, :time 1784278648, :index 546}
{:type :invoke, :f :read, :value nil, :process 14, :time 1789669370, :index 549}
{:type :ok, :f :read, :value 3, :process 14, :time 1794862188, :index 552}
{:type :invoke, :f :write, :value 1, :process 17, :time 1795050263, :index 553}
{:type :invoke, :f :cas, :value [2 1], :process 10, :time 1796536361, :index 555}
{:type :ok, :f :write, :value 1, :process 17, :time 1801171376, :index 557}
{:type :fail, :f :cas, :value [2 1], :process 10, :time 1802273758, :index 558}
{:type :invoke, :f :read, :value nil, :process 18, :time 1808222397, :index 561}
{:type :ok, :f :read, :value 1, :process 18, :time 1812789390, :index 563}
{:type :invoke, :f :read, :value nil, :process 11, :time 1815259214, :index 564}
{:type :ok, :f :read, :value 1, :process 11, :time 1820345837, :index 565}
{:type :invoke, :f :write, :value 3, :process 15, :time 1847569576, :index 570}
{:type :invoke, :f :write, :value 3, :process 19, :time 1847575173, :index 571}
{:type :invoke, :f :write, :value 4, :process 16, :time 1851955079, :index 572}
{:type :ok, :f :write, :value 3, :process 15, :time 1852435071, :index 573}
{:type :ok, :f :write, :value 3, :process 19, :time 1853240546, :index 574}
{:type :ok, :f :write, :value 4, :process 16, :time 1856767242, :index 575}
{:type :invoke, :f :cas, :value [4 3], :process 12, :time 1868876238, :index 578}
{:type :ok, :f :cas, :value [4 3], :process 12, :time 1874050176, :index 582}
{:type :invoke, :f :read, :value nil, :process 10, :time 1875572093, :index 584}
{:type :ok, :f :read, :value 3, :process 10, :time 1879877366, :index 585}
{:type :invoke, :f :write, :value 2, :process 18, :time 1894050753, :index 594}
{:type :invoke, :f :cas, :value [3 0], :process 17, :time 1897439824, :index 597}
{:type :ok, :f :write, :value 2, :process 18, :time 1899020661, :index 598}
{:type :invoke, :f :cas, :value [2 1], :process 12, :time 1899311385, :index 599}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 1901288591, :index 601}
{:type :fail, :f :cas, :value [3 0], :process 17, :time 1902894639, :index 602}
{:type :ok, :f :cas, :value [2 1], :process 12, :time 1905525815, :index 603}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 1905681292, :index 604}
{:type :ok, :f :cas, :value [1 1], :process 18, :time 1906476783, :index 606}
{:type :ok, :f :cas, :value [1 3], :process 15, :time 1910110502, :index 608}
{:type :invoke, :f :read, :value nil, :process 19, :time 1929499545, :index 611}
{:type :invoke, :f :read, :value nil, :process 16, :time 1933028706, :index 613}
{:type :ok, :f :read, :value 3, :process 19, :time 1934254060, :index 614}
{:type :ok, :f :read, :value 3, :process 16, :time 1937953834, :index 615}
{:type :invoke, :f :read, :value nil, :process 13, :time 1957263811, :index 616}
{:type :ok, :f :read, :value 3, :process 13, :time 1962949440, :index 617}
{:type :invoke, :f :read, :value nil, :process 13, :time 1965224765, :index 620}
{:type :invoke, :f :read, :value nil, :process 15, :time 1969390497, :index 624}
{:type :ok, :f :read, :value 3, :process 13, :time 1971154009, :index 625}
{:type :ok, :f :read, :value 3, :process 15, :time 1973268004, :index 627}
{:type :invoke, :f :cas, :value [1 3], :process 19, :time 1977513571, :index 628}
{:type :fail, :f :cas, :value [1 3], :process 19, :time 1982900639, :index 629}
{:type :invoke, :f :read, :value nil, :process 14, :time 1994123139, :index 632}
{:type :ok, :f :read, :value 3, :process 14, :time 1999118276, :index 633}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 2002607760, :index 634}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 2008659148, :index 636}
{:type :invoke, :f :read, :value nil, :process 12, :time 2042788053, :index 640}
{:type :invoke, :f :cas, :value [2 0], :process 10, :time 2045177693, :index 641}
{:type :ok, :f :read, :value 3, :process 12, :time 2047923441, :index 642}
{:type :fail, :f :cas, :value [2 0], :process 10, :time 2050021085, :index 644}
{:type :invoke, :f :write, :value 2, :process 13, :time 2061412794, :index 649}
{:type :invoke, :f :cas, :value [2 4], :process 17, :time 2064125859, :index 652}
{:type :ok, :f :write, :value 2, :process 13, :time 2067094607, :index 654}
{:type :ok, :f :cas, :value [2 4], :process 17, :time 2070001616, :index 657}
{:type :invoke, :f :cas, :value [4 4], :process 14, :time 2079379804, :index 659}
{:type :ok, :f :cas, :value [4 4], :process 14, :time 2085965730, :index 662}
{:type :invoke, :f :read, :value nil, :process 18, :time 2099845869, :index 665}
{:type :ok, :f :read, :value 4, :process 18, :time 2105223111, :index 669}
{:type :invoke, :f :cas, :value [1 1], :process 14, :time 2105239803, :index 670}
{:type :fail, :f :cas, :value [1 1], :process 14, :time 2110531023, :index 674}
{:type :invoke, :f :read, :value nil, :process 16, :time 2117209697, :index 676}
{:type :ok, :f :read, :value 4, :process 16, :time 2122930611, :index 677}
{:type :invoke, :f :write, :value 2, :process 11, :time 2124913331, :index 678}
{:type :invoke, :f :read, :value nil, :process 17, :time 2125216700, :index 679}
{:type :ok, :f :write, :value 2, :process 11, :time 2130590950, :index 680}
{:type :ok, :f :read, :value 2, :process 17, :time 2130787494, :index 681}
{:type :invoke, :f :cas, :value [4 1], :process 12, :time 2134211773, :index 684}
{:type :fail, :f :cas, :value [4 1], :process 12, :time 2139139927, :index 687}
{:type :invoke, :f :cas, :value [3 1], :process 19, :time 2147164427, :index 690}
{:type :fail, :f :cas, :value [3 1], :process 19, :time 2152983795, :index 692}
{:type :invoke, :f :cas, :value [0 3], :process 15, :time 2168520673, :index 695}
{:type :fail, :f :cas, :value [0 3], :process 15, :time 2173745544, :index 698}
{:type :invoke, :f :cas, :value [1 2], :process 16, :time 2192205247, :index 704}
{:type :fail, :f :cas, :value [1 2], :process 16, :time 2198168015, :index 708}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 2220504825, :index 716}
{:type :invoke, :f :write, :value 0, :process 11, :time 2223875445, :index 717}
{:type :fail, :f :cas, :value [3 2], :process 18, :time 2226249669, :index 718}
{:type :invoke, :f :read, :value nil, :process 13, :time 2226416383, :index 719}
{:type :ok, :f :write, :value 0, :process 11, :time 2228492873, :index 720}
{:type :ok, :f :read, :value 0, :process 13, :time 2231541466, :index 722}
{:type :invoke, :f :write, :value 4, :process 18, :time 2236535438, :index 725}
{:type :invoke, :f :cas, :value [4 3], :process 10, :time 2239284160, :index 727}
{:type :ok, :f :write, :value 4, :process 18, :time 2241494858, :index 728}
{:type :ok, :f :cas, :value [4 3], :process 10, :time 2245179550, :index 730}
{:type :invoke, :f :cas, :value [3 3], :process 11, :time 2255749789, :index 732}
{:type :ok, :f :cas, :value [3 3], :process 11, :time 2261321128, :index 733}
{:type :invoke, :f :cas, :value [4 2], :process 14, :time 2274804440, :index 734}
{:type :invoke, :f :cas, :value [2 3], :process 15, :time 2275992117, :index 735}
{:type :invoke, :f :write, :value 4, :process 17, :time 2277036822, :index 736}
{:type :fail, :f :cas, :value [4 2], :process 14, :time 2280601255, :index 737}
{:type :fail, :f :cas, :value [2 3], :process 15, :time 2280888373, :index 738}
{:type :ok, :f :write, :value 4, :process 17, :time 2283251752, :index 739}
{:type :invoke, :f :cas, :value [2 0], :process 19, :time 2286249109, :index 741}
{:type :fail, :f :cas, :value [2 0], :process 19, :time 2292565359, :index 745}
{:type :invoke, :f :cas, :value [1 0], :process 12, :time 2332397948, :index 756}
{:type :invoke, :f :read, :value nil, :process 10, :time 2333445611, :index 757}
{:type :ok, :f :read, :value 4, :process 10, :time 2338896466, :index 760}
{:type :invoke, :f :cas, :value [2 3], :process 13, :time 2339019883, :index 761}
{:type :fail, :f :cas, :value [1 0], :process 12, :time 2339129717, :index 762}
{:type :fail, :f :cas, :value [2 3], :process 13, :time 2344519654, :index 763}
{:type :invoke, :f :write, :value 1, :process 11, :time 2350590634, :index 764}
{:type :ok, :f :write, :value 1, :process 11, :time 2356029162, :index 765}
{:type :invoke, :f :write, :value 0, :process 16, :time 2366484543, :index 768}
{:type :ok, :f :write, :value 0, :process 16, :time 2373389794, :index 771}
{:type :invoke, :f :write, :value 4, :process 14, :time 2378923263, :index 772}
{:type :ok, :f :write, :value 4, :process 14, :time 2384406353, :index 773}
{:type :invoke, :f :write, :value 3, :process 18, :time 2440757759, :index 798}
{:type :ok, :f :write, :value 3, :process 18, :time 2448042746, :index 801}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
