{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :invoke, :f :read, :value nil, :process 50, :time 55455774757, :index 8235}
{:type :ok, :f :read, :value nil, :process 50, :time 55461352418, :index 8238}
{:type :invoke, :f :cas, :value [2 1], :process 52, :time 55477146489, :index 8244}
{:type :fail, :f :cas, :value [2 1], :process 52, :time 55483232192, :error :not-found, :index 8246}
{:type :invoke, :f :write, :value 4, :process 50, :time 55502607502, :index 8258}
{:type :ok, :f :write, :value 4, :process 50, :time 55507830312, :index 8261}
{:type :invoke, :f :read, :value nil, :process 35, :time 55528127178, :index 8268}
{:type :invoke, :f :read, :value nil, :process 74, :time 55532996828, :index 8269}
{:type :ok, :f :read, :value 4, :process 35, :time 55534163795, :index 8271}
{:type :ok, :f :read, :value 4, :process 74, :time 55539187031, :index 8273}
{:type :invoke, :f :write, :value 4, :process 36, :time 55548559057, :index 8276}
{:type :ok, :f :write, :value 4, :process 36, :time 55553926617, :index 8278}
{:type :invoke, :f :write, :value 4, :process 50, :time 55575070770, :index 8284}
{:type :ok, :f :write, :value 4, :process 50, :time 55580100588, :index 8285}
{:type :invoke, :f :cas, :value [1 3], :process 50, :time 55592354942, :index 8288}
{:type :fail, :f :cas, :value [1 3], :process 50, :time 55597122646, :index 8289}
{:type :invoke, :f :read, :value nil, :process 74, :time 55614465469, :index 8292}
{:type :invoke, :f :write, :value 3, :process 35, :time 55618447159, :index 8296}
{:type :ok, :f :read, :value 4, :process 74, :time 55619473825, :index 8297}
{:type :invoke, :f :cas, :value [0 4], :process 74, :time 55621739850, :index 8300}
{:type :invoke, :f :cas, :value [2 3], :process 118, :time 55623462384, :index 8301}
{:type :ok, :f :write, :value 3, :process 35, :time 55623719987, :index 8302}
{:type :invoke, :f :cas, :value [2 1], :process 52, :time 55625499919, :index 8304}
{:type :fail, :f :cas, :value [0 4], :process 74, :time 55627399062, :index 8306}
{:type :invoke, :f :cas, :value [3 1], :process 50, :time 55628392723, :index 8307}
{:type :fail, :f :cas, :value [2 3], :process 118, :time 55628551708, :index 8308}
{:type :fail, :f :cas, :value [2 1], :process 52, :time 55631440016, :index 8311}
{:type :invoke, :f :write, :value 2, :process 118, :time 55631821619, :index 8312}
{:type :ok, :f :cas, :value [3 1], :process 50, :time 55632990565, :index 8313}
{:type :invoke, :f :read, :value nil, :process 52, :time 55636697075, :index 8314}
{:type :ok, :f :write, :value 2, :process 118, :time 55637291868, :index 8315}
{:type :ok, :f :read, :value 2, :process 52, :time 55642122394, :index 8317}
{:type :invoke, :f :cas, :value [3 0], :process 73, :time 55642326746, :index 8318}
{:type :fail, :f :cas, :value [3 0], :process 73, :time 55647839614, :index 8319}
{:type :invoke, :f :read, :value nil, :process 51, :time 55649127668, :index 8320}
{:type :ok, :f :read, :value 2, :process 51, :time 55654473632, :index 8322}
{:type :invoke, :f :read, :value nil, :process 17, :time 55658648975, :index 8323}
{:type :invoke, :f :cas, :value [3 3], :process 51, :time 55659432379, :index 8325}
{:type :ok, :f :read, :value 2, :process 17, :time 55666380336, :index 8326}
{:type :fail, :f :cas, :value [3 3], :process 51, :time 55667160593, :index 8327}
{:type :invoke, :f :cas, :value [2 0], :process 52, :time 55677286433, :index 8333}
{:type :invoke, :f :read, :value nil, :process 73, :time 55678105352, :index 8334}
{:type :ok, :f :cas, :value [2 0], :process 52, :time 55683393008, :index 8336}
{:type :ok, :f :read, :value 0, :process 73, :time 55683524590, :index 8337}
{:type :invoke, :f :cas, :value [3 4], :process 51, :time 55697413995, :index 8341}
{:type :fail, :f :cas, :value [3 4], :process 51, :time 55702939258, :index 8343}
{:type :invoke, :f :write, :value 0, :process 35, :time 55736978940, :index 8351}
{:type :ok, :f :write, :value 0, :process 35, :time 55741761131, :index 8353}
{:type :invoke, :f :read, :value nil, :process 51, :time 55749200541, :index 8354}
{:type :invoke, :f :read, :value nil, :process 36, :time 55751197168, :index 8355}
{:type :invoke, :f :write, :value 2, :process 118, :time 55751562990, :index 8356}
{:type :ok, :f :read, :value 0, :process 51, :time 55755860976, :index 8358}
{:type :ok, :f :read, :value 0, :process 36, :time 55757107898, :index 8359}
{:type :ok, :f :write, :value 2, :process 118, :time 55757841278, :index 8361}
{:type :invoke, :f :write, :value 2, :process 99, :time 55767014843, :index 8366}
{:type :ok, :f :write, :value 2, :process 99, :time 55772066961, :index 8367}
{:type :invoke, :f :read, :value nil, :process 118, :time 55773059972, :index 8368}
{:type :ok, :f :read, :value 2, :process 118, :time 55778724975, :index 8369}
{:type :invoke, :f :read, :value nil, :process 52, :time 55785674726, :index 8370}
{:type :ok, :f :read, :value 2, :process 52, :time 55790886371, :index 8372}
{:type :invoke, :f :write, :value 0, :process 74, :time 55808688565, :index 8379}
{:type :invoke, :f :read, :value nil, :process 51, :time 55813128227, :index 8382}
{:type :ok, :f :write, :value 0, :process 74, :time 55814154479, :index 8383}
{:type :invoke, :f :read, :value nil, :process 50, :time 55816256388, :index 8384}
{:type :invoke, :f :read, :value nil, :process 73, :time 55816829905, :index 8385}
{:type :ok, :f :read, :value 0, :process 51, :time 55818262678, :index 8386}
{:type :ok, :f :read, :value 0, :process 50, :time 55821339227, :index 8388}
{:type :ok, :f :read, :value 0, :process 73, :time 55822052101, :index 8389}
{:type :invoke, :f :cas, :value [2 2], :process 73, :time 55822172584, :index 8390}
{:type :fail, :f :cas, :value [2 2], :process 73, :time 55829613141, :index 8393}
{:type :invoke, :f :write, :value 3, :process 52, :time 55834154634, :index 8394}
{:type :invoke, :f :read, :value nil, :process 17, :time 55836658397, :index 8395}
{:type :ok, :f :write, :value 3, :process 52, :time 55839359988, :index 8396}
{:type :ok, :f :read, :value 3, :process 17, :time 55842118095, :index 8397}
{:type :invoke, :f :read, :value nil, :process 36, :time 55855366484, :index 8404}
{:type :ok, :f :read, :value 3, :process 36, :time 55860267973, :index 8407}
{:type :invoke, :f :write, :value 2, :process 50, :time 55877623219, :index 8414}
{:type :ok, :f :write, :value 2, :process 50, :time 55881973107, :index 8415}
{:type :invoke, :f :write, :value 0, :process 36, :time 55894525684, :index 8418}
{:type :ok, :f :write, :value 0, :process 36, :time 55899890550, :index 8419}
{:type :invoke, :f :cas, :value [3 1], :process 74, :time 55907416076, :index 8422}
{:type :invoke, :f :read, :value nil, :process 17, :time 55912382653, :index 8423}
{:type :fail, :f :cas, :value [3 1], :process 74, :time 55912703131, :index 8424}
{:type :ok, :f :read, :value 0, :process 17, :time 55917697903, :index 8425}
{:type :invoke, :f :read, :value nil, :process 35, :time 55920018942, :index 8426}
{:type :ok, :f :read, :value 0, :process 35, :time 55924749802, :index 8428}
{:type :invoke, :f :read, :value nil, :process 118, :time 55929008794, :index 8430}
{:type :ok, :f :read, :value 0, :process 118, :time 55933736747, :index 8432}
{:type :invoke, :f :write, :value 2, :process 99, :time 55946324904, :index 8436}
{:type :ok, :f :write, :value 2, :process 99, :time 55951606499, :index 8438}
{:type :invoke, :f :read, :value nil, :process 50, :time 55956230763, :index 8442}
{:type :ok, :f :read, :value 2, :process 50, :time 55961116892, :index 8445}
{:type :invoke, :f :read, :value nil, :process 74, :time 55962959029, :index 8446}
{:type :invoke, :f :write, :value 0, :process 35, :time 55965007610, :index 8447}
{:type :ok, :f :read, :value 2, :process 74, :time 55968363282, :index 8448}
{:type :ok, :f :write, :value 0, :process 35, :time 55969433620, :index 8449}
{:type :invoke, :f :cas, :value [1 3], :process 52, :time 55969648069, :index 8450}
{:type :invoke, :f :cas, :value [1 4], :process 73, :time 55971841180, :index 8451}
{:type :fail, :f :cas, :value [1 3], :process 52, :time 55974603482, :index 8453}
{:type :fail, :f :cas, :value [1 4], :process 73, :time 55978523837, :index 8454}
{:type :invoke, :f :read, :value nil, :process 51, :time 55987536855, :index 8457}
{:type :ok, :f :read, :value 0, :process 51, :time 55993789432, :index 8459}
{:type :invoke, :f :cas, :value [1 3], :process 36, :time 56013147405, :index 8460}
{:type :fail, :f :cas, :value [1 3], :process 36, :time 56018983377, :index 8461}
{:type :invoke, :f :write, :value 2, :process 118, :time 56032995288, :index 8466}
{:type :ok, :f :write, :value 2, :process 118, :time 56038256544, :index 8469}
{:type :invoke, :f :read, :value nil, :process 51, :time 56058038063, :index 8478}
{:type :invoke, :f :cas, :value [0 3], :process 74, :time 56060626070, :index 8480}
{:type :ok, :f :read, :value 2, :process 51, :time 56063675016, :index 8481}
{:type :fail, :f :cas, :value [0 3], :process 74, :time 56066297666, :index 8483}
{:type :invoke, :f :read, :value nil, :process 17, :time 56081969174, :index 8484}
{:type :invoke, :f :write, :value 0, :process 73, :time 56083805447, :index 8485}
{:type :ok, :f :read, :value 2, :process 17, :time 56087608962, :index 8486}
{:type :ok, :f :write, :value 0, :process 73, :time 56088852265, :index 8487}
{:type :invoke, :f :write, :value 1, :process 99, :time 56092869267, :index 8488}
{:type :ok, :f :write, :value 1, :process 99, :time 56098551481, :index 8491}
{:type :invoke, :f :write, :value 2, :process 99, :time 56109807355, :index 8494}
{:type :invoke, :f :cas, :value [3 0], :process 73, :time 56111103903, :index 8495}
{:type :invoke, :f :write, :value 1, :process 52, :time 56112878510, :index 8496}
{:type :invoke, :f :read, :value nil, :process 36, :time 56113257721, :index 8497}
{:type :ok, :f :write, :value 2, :process 99, :time 56115387980, :index 8498}
{:type :invoke, :f :read, :value nil, :process 74, :time 56115542800, :index 8499}
{:type :fail, :f :cas, :value [3 0], :process 73, :time 56117577635, :index 8500}
{:type :ok, :f :read, :value 2, :process 36, :time 56118853332, :index 8501}
{:type :ok, :f :write, :value 1, :process 52, :time 56119373696, :index 8502}
{:type :ok, :f :read, :value 1, :process 74, :time 56120676823, :index 8503}
{:type :invoke, :f :cas, :value [4 1], :process 35, :time 56130727278, :index 8508}
{:type :fail, :f :cas, :value [4 1], :process 35, :time 56135675326, :index 8510}
{:type :invoke, :f :write, :value 1, :process 50, :time 56142368279, :index 8514}
{:type :ok, :f :write, :value 1, :process 50, :time 56147435835, :index 8518}
{:type :invoke, :f :cas, :value [3 2], :process 118, :time 56147510106, :index 8519}
{:type :invoke, :f :read, :value nil, :process 51, :time 56149933951, :index 8520}
{:type :fail, :f :cas, :value [3 2], :process 118, :time 56153092264, :index 8522}
{:type :ok, :f :read, :value 1, :process 51, :time 56154856109, :index 8523}
{:type :invoke, :f :cas, :value [3 4], :process 36, :time 56161165785, :index 8526}
{:type :fail, :f :cas, :value [3 4], :process 36, :time 56167720759, :index 8530}
{:type :invoke, :f :write, :value 2, :process 35, :time 56181941516, :index 8537}
{:type :ok, :f :write, :value 2, :process 35, :time 56187425261, :index 8540}
{:type :invoke, :f :read, :value nil, :process 52, :time 56210608017, :index 8543}
{:type :invoke, :f :read, :value nil, :process 74, :time 56212928285, :index 8544}
{:type :ok, :f :read, :value 2, :process 52, :time 56216042923, :index 8546}
{:type :ok, :f :read, :value 2, :process 74, :time 56217817504, :index 8547}
{:type :invoke, :f :read, :value nil, :process 51, :time 56233147111, :index 8549}
{:type :invoke, :f :read, :value nil, :process 118, :time 56233343967, :index 8550}
{:type :ok, :f :read, :value 2, :process 118, :time 56238957727, :index 8553}
{:type :ok, :f :read, :value 2, :process 51, :time 56239319758, :index 8554}
{:type :invoke, :f :write, :value 3, :process 73, :time 56252836976, :index 8559}
{:type :invoke, :f :read, :value nil, :process 17, :time 56253871649, :index 8561}
{:type :invoke, :f :write, :value 3, :process 36, :time 56255979500, :index 8562}
{:type :ok, :f :write, :value 3, :process 73, :time 56258423491, :index 8563}
{:type :ok, :f :read, :value 3, :process 17, :time 56258957263, :index 8564}
{:type :invoke, :f :write, :value 0, :process 99, :time 56272644890, :index 8566}
{:type :invoke, :f :cas, :value [2 0], :process 118, :time 56273213444, :index 8567}
{:type :ok, :f :write, :value 0, :process 99, :time 56278474628, :index 8568}
{:type :fail, :f :cas, :value [2 0], :process 118, :time 56278938937, :index 8569}
{:type :invoke, :f :cas, :value [0 0], :process 73, :time 56289684747, :index 8573}
{:type :ok, :f :cas, :value [0 0], :process 73, :time 56295339199, :index 8575}
{:type :invoke, :f :read, :value nil, :process 118, :time 56323174383, :index 8577}
{:type :invoke, :f :cas, :value [4 4], :process 74, :time 56325067489, :index 8578}
{:type :ok, :f :read, :value 0, :process 118, :time 56328819296, :index 8579}
{:type :invoke, :f :read, :value nil, :process 50, :time 56329283362, :index 8580}
{:type :fail, :f :cas, :value [4 4], :process 74, :time 56330483572, :index 8581}
{:type :ok, :f :read, :value 0, :process 50, :time 56333729308, :index 8582}
{:type :invoke, :f :write, :value 0, :process 73, :time 56338599497, :index 8583}
{:type :ok, :f :write, :value 0, :process 73, :time 56343568614, :index 8586}
{:type :invoke, :f :read, :value nil, :process 35, :time 56350689142, :index 8589}
{:type :ok, :f :read, :value 0, :process 35, :time 56355346103, :index 8590}
{:type :invoke, :f :read, :value nil, :process 51, :time 56361551203, :index 8592}
{:type :invoke, :f :write, :value 0, :process 118, :time 56363081056, :index 8593}
{:type :ok, :f :write, :value 0, :process 118, :time 56368697823, :index 8596}
{:type :invoke, :f :cas, :value [4 2], :process 99, :time 56369752049, :index 8597}
{:type :invoke, :f :read, :value nil, :process 17, :time 56376215998, :index 8600}
{:type :fail, :f :cas, :value [4 2], :process 99, :time 56376395855, :index 8601}
{:type :ok, :f :read, :value 0, :process 17, :time 56382762384, :index 8603}
{:type :invoke, :f :read, :value nil, :process 52, :time 56383297721, :index 8604}
{:type :ok, :f :read, :value 0, :process 52, :time 56388419884, :index 8605}
{:type :invoke, :f :cas, :value [0 3], :process 17, :time 56405040785, :index 8606}
{:type :ok, :f :cas, :value [0 3], :process 17, :time 56410511547, :index 8607}
{:type :invoke, :f :read, :value nil, :process 99, :time 56416643040, :index 8610}
{:type :ok, :f :read, :value 3, :process 99, :time 56421084892, :index 8611}
{:type :invoke, :f :read, :value nil, :process 17, :time 56424773188, :index 8612}
{:type :ok, :f :read, :value 3, :process 17, :time 56430402165, :index 8613}
{:type :invoke, :f :read, :value nil, :process 35, :time 56447606893, :index 8620}
{:type :ok, :f :read, :value 3, :process 35, :time 56451808994, :index 8621}
{:type :invoke, :f :cas, :value [0 3], :process 118, :time 56484960858, :index 8629}
{:type :fail, :f :cas, :value [0 3], :process 118, :time 56492701472, :index 8631}
{:type :invoke, :f :write, :value 0, :process 17, :time 56498671474, :index 8633}
{:type :invoke, :f :read, :value nil, :process 52, :time 56513679797, :index 8636}
{:type :invoke, :f :write, :value 0, :process 50, :time 56518987028, :index 8638}
{:type :invoke, :f :cas, :value [0 1], :process 74, :time 56523745631, :index 8640}
{:type :ok, :f :write, :value 0, :process 50, :time 56524064905, :index 8641}
{:type :invoke, :f :write, :value 3, :process 99, :time 56528344969, :index 8644}
{:type :ok, :f :write, :value 3, :process 36, :time 56529330197, :index 8645}
{:type :ok, :f :read, :value 3, :process 51, :time 56530260817, :index 8648}
{:type :fail, :f :cas, :value [0 1], :process 74, :time 56530568024, :index 8649}
{:type :invoke, :f :write, :value 1, :process 73, :time 56531849218, :index 8651}
{:type :ok, :f :write, :value 3, :process 99, :time 56533899182, :index 8654}
{:type :ok, :f :write, :value 1, :process 73, :time 56536455300, :index 8655}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
{:type :info, :f :write, :value 0, :process 17, :time 61503817518, :error :timeout, :index 8755}
{:type :fail, :f :read, :value nil, :process 52, :time 61519362280, :error :timeout, :index 8756}
