{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :invoke, :f :write, :value 2, :process 34, :time 39377405432, :index 13234}
{:type :fail, :f :write, :value 2, :process 34, :time 39379425536, :error :connect, :index 13236}
{:type :invoke, :f :read, :value nil, :process 11, :time 39382983331, :index 13238}
{:type :fail, :f :read, :value nil, :process 11, :time 39384610101, :error :connect, :index 13239}
{:type :invoke, :f :write, :value 0, :process 39, :time 39399538758, :index 13250}
{:type :fail, :f :write, :value 0, :process 39, :time 39401173688, :error :connect, :index 13252}
{:type :invoke, :f :read, :value nil, :process 18, :time 39401106659, :index 13253}
{:type :fail, :f :read, :value nil, :process 18, :time 39403187478, :error :connect, :index 13255}
{:type :invoke, :f :write, :value 4, :process 32, :time 39416268735, :index 13258}
{:type :fail, :f :write, :value 4, :process 32, :time 39418150918, :error :connect, :index 13259}
{:type :invoke, :f :cas, :value [0 0], :process 32, :time 39436443766, :index 13267}
{:type :fail, :f :cas, :value [0 0], :process 32, :time 39438305741, :error :connect, :index 13270}
{:type :invoke, :f :write, :value 2, :process 36, :time 39462921598, :index 13277}
{:type :fail, :f :write, :value 2, :process 36, :time 39464851655, :error :connect, :index 13279}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 39467019799, :index 13280}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 39469028349, :error :connect, :index 13281}
{:type :invoke, :f :cas, :value [0 2], :process 33, :time 39504809679, :index 13288}
{:type :fail, :f :cas, :value [0 2], :process 33, :time 39506678533, :error :connect, :index 13289}
{:type :invoke, :f :write, :value 4, :process 11, :time 39513874585, :index 13294}
{:type :fail, :f :write, :value 4, :process 11, :time 39515497782, :error :connect, :index 13295}
{:type :invoke, :f :read, :value nil, :process 37, :time 39536222443, :index 13298}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 39536775708, :index 13299}
{:type :invoke, :f :cas, :value [3 1], :process 10, :time 39536832644, :index 13300}
{:type :fail, :f :read, :value nil, :process 37, :time 39537943668, :error :connect, :index 13301}
{:type :fail, :f :cas, :value [3 1], :process 10, :time 39538899805, :error :connect, :index 13303}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 39539265122, :error :connect, :index 13304}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 39539446250, :index 13305}
{:type :invoke, :f :write, :value 3, :process 34, :time 39539701042, :index 13306}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 39541539138, :error :connect, :index 13308}
{:type :fail, :f :write, :value 3, :process 34, :time 39541879032, :error :connect, :index 13309}
{:type :invoke, :f :read, :value nil, :process 18, :time 39542804974, :index 13310}
{:type :fail, :f :read, :value nil, :process 18, :time 39544637009, :error :connect, :index 13311}
{:type :invoke, :f :cas, :value [2 2], :process 32, :time 39552565194, :index 13314}
{:type :invoke, :f :cas, :value [3 1], :process 39, :time 39553424972, :index 13315}
{:type :fail, :f :cas, :value [2 2], :process 32, :time 39554726114, :error :connect, :index 13316}
{:type :fail, :f :cas, :value [3 1], :process 39, :time 39555174834, :error :connect, :index 13317}
{:type :invoke, :f :read, :value nil, :process 37, :time 39566205421, :index 13318}
{:type :fail, :f :read, :value nil, :process 37, :time 39568241700, :error :connect, :index 13319}
{:type :invoke, :f :cas, :value [3 0], :process 32, :time 39585995143, :index 13324}
{:type :fail, :f :cas, :value [3 0], :process 32, :time 39587874479, :error :connect, :index 13326}
{:type :invoke, :f :read, :value nil, :process 10, :time 39600178858, :index 13334}
{:type :fail, :f :read, :value nil, :process 10, :time 39601846158, :error :connect, :index 13335}
{:type :invoke, :f :read, :value nil, :process 34, :time 39604121755, :index 13336}
{:type :fail, :f :read, :value nil, :process 34, :time 39605993165, :error :connect, :index 13337}
{:type :invoke, :f :write, :value 4, :process 34, :time 39607248185, :index 13338}
{:type :fail, :f :write, :value 4, :process 34, :time 39609021213, :error :connect, :index 13339}
{:type :invoke, :f :write, :value 3, :process 36, :time 39622106897, :index 13346}
{:type :fail, :f :write, :value 3, :process 36, :time 39624295635, :error :connect, :index 13347}
{:type :invoke, :f :read, :value nil, :process 39, :time 39625421107, :index 13348}
{:type :fail, :f :read, :value nil, :process 39, :time 39627415510, :error :connect, :index 13349}
{:type :invoke, :f :read, :value nil, :process 33, :time 39641972639, :index 13350}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 39643517701, :index 13351}
{:type :fail, :f :read, :value nil, :process 33, :time 39643713422, :error :connect, :index 13352}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 39645776579, :error :connect, :index 13353}
{:type :invoke, :f :write, :value 2, :process 37, :time 39647518965, :index 13354}
{:type :fail, :f :write, :value 2, :process 37, :time 39649399103, :error :connect, :index 13355}
{:type :invoke, :f :read, :value nil, :process 15, :time 39656299041, :index 13358}
{:type :invoke, :f :cas, :value [3 0], :process 34, :time 39657288846, :index 13359}
{:type :fail, :f :read, :value nil, :process 15, :time 39658179137, :error :connect, :index 13360}
{:type :fail, :f :cas, :value [3 0], :process 34, :time 39659112014, :error :connect, :index 13361}
{:type :invoke, :f :write, :value 2, :process 10, :time 39673108466, :index 13367}
{:type :fail, :f :write, :value 2, :process 10, :time 39674951129, :error :connect, :index 13369}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 39721898458, :index 13376}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 39723817280, :error :connect, :index 13377}
{:type :invoke, :f :read, :value nil, :process 39, :time 39744675151, :index 13384}
{:type :fail, :f :read, :value nil, :process 39, :time 39746546712, :error :connect, :index 13385}
{:type :invoke, :f :read, :value nil, :process 15, :time 39747440657, :index 13386}
{:type :fail, :f :read, :value nil, :process 15, :time 39749463804, :error :connect, :index 13388}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 39750089989, :index 13390}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 39752201560, :error :connect, :index 13391}
{:type :invoke, :f :read, :value nil, :process 36, :time 39757559497, :index 13394}
{:type :fail, :f :read, :value nil, :process 36, :time 39759636173, :error :connect, :index 13395}
{:type :invoke, :f :read, :value nil, :process 11, :time 39776036094, :index 13400}
{:type :fail, :f :read, :value nil, :process 11, :time 39777886686, :error :connect, :index 13401}
{:type :invoke, :f :read, :value nil, :process 32, :time 39778159407, :index 13402}
{:type :fail, :f :read, :value nil, :process 32, :time 39779736405, :error :connect, :index 13403}
{:type :invoke, :f :read, :value nil, :process 39, :time 39794815622, :index 13404}
{:type :invoke, :f :cas, :value [2 2], :process 33, :time 39794976550, :index 13405}
{:type :fail, :f :read, :value nil, :process 39, :time 39796874931, :error :connect, :index 13406}
{:type :fail, :f :cas, :value [2 2], :process 33, :time 39796874885, :error :connect, :index 13407}
{:type :invoke, :f :cas, :value [3 4], :process 34, :time 39816370413, :index 13414}
{:type :fail, :f :cas, :value [3 4], :process 34, :time 39818366768, :error :connect, :index 13415}
{:type :invoke, :f :read, :value nil, :process 39, :time 39822185078, :index 13416}
{:type :fail, :f :read, :value nil, :process 39, :time 39825076237, :error :connect, :index 13418}
{:type :invoke, :f :read, :value nil, :process 18, :time 39826471309, :index 13420}
{:type :fail, :f :read, :value nil, :process 18, :time 39828195885, :error :connect, :index 13421}
{:type :invoke, :f :cas, :value [4 3], :process 37, :time 39828661512, :index 13422}
{:type :fail, :f :cas, :value [4 3], :process 37, :time 39830571770, :error :connect, :index 13423}
{:type :invoke, :f :cas, :value [2 2], :process 37, :time 39835853251, :index 13424}
{:type :fail, :f :cas, :value [2 2], :process 37, :time 39837513800, :error :connect, :index 13425}
{:type :invoke, :f :write, :value 1, :process 33, :time 39868155154, :index 13428}
{:type :fail, :f :write, :value 1, :process 33, :time 39870139658, :error :connect, :index 13430}
{:type :invoke, :f :read, :value nil, :process 10, :time 39871188990, :index 13431}
{:type :fail, :f :read, :value nil, :process 10, :time 39873009936, :error :connect, :index 13434}
{:type :invoke, :f :cas, :value [4 3], :process 36, :time 39884894709, :index 13436}
{:type :fail, :f :cas, :value [4 3], :process 36, :time 39886854074, :error :connect, :index 13438}
{:type :invoke, :f :read, :value nil, :process 10, :time 39900249207, :index 13440}
{:type :fail, :f :read, :value nil, :process 10, :time 39902332833, :error :connect, :index 13443}
{:type :invoke, :f :cas, :value [2 3], :process 36, :time 39909127422, :index 13446}
{:type :fail, :f :cas, :value [2 3], :process 36, :time 39911032951, :error :connect, :index 13447}
{:type :invoke, :f :read, :value nil, :process 34, :time 39913642866, :index 13448}
{:type :fail, :f :read, :value nil, :process 34, :time 39915493123, :error :connect, :index 13449}
{:type :invoke, :f :read, :value nil, :process 15, :time 39918749258, :index 13452}
{:type :fail, :f :read, :value nil, :process 15, :time 39920616900, :error :connect, :index 13453}
{:type :invoke, :f :write, :value 0, :process 32, :time 39939002631, :index 13459}
{:type :fail, :f :write, :value 0, :process 32, :time 39941295490, :error :connect, :index 13461}
{:type :invoke, :f :cas, :value [2 4], :process 34, :time 39946728440, :index 13462}
{:type :fail, :f :cas, :value [2 4], :process 34, :time 39948753758, :error :connect, :index 13463}
{:type :invoke, :f :read, :value nil, :process 11, :time 39956148348, :index 13466}
{:type :invoke, :f :read, :value nil, :process 39, :time 39957341084, :index 13467}
{:type :fail, :f :read, :value nil, :process 11, :time 39958135084, :error :connect, :index 13468}
{:type :fail, :f :read, :value nil, :process 39, :time 39959221462, :error :connect, :index 13469}
{:type :invoke, :f :write, :value 3, :process 37, :time 39961801564, :index 13470}
{:type :fail, :f :write, :value 3, :process 37, :time 39963629563, :error :connect, :index 13471}
{:type :invoke, :f :read, :value nil, :process 36, :time 39985300839, :index 13480}
{:type :fail, :f :read, :value nil, :process 36, :time 39986981589, :error :connect, :index 13481}
{:type :invoke, :f :read, :value nil, :process 34, :time 39991031631, :index 13483}
{:type :fail, :f :read, :value nil, :process 34, :time 39992715851, :error :connect, :index 13485}
{:type :invoke, :f :read, :value nil, :process 10, :time 39996592972, :index 13487}
{:type :fail, :f :read, :value nil, :process 10, :time 39998543859, :error :connect, :index 13489}
{:type :invoke, :f :cas, :value [4 0], :process 18, :time 40009459055, :index 13490}
{:type :fail, :f :cas, :value [4 0], :process 18, :time 40011574812, :error :connect, :index 13491}
{:type :invoke, :f :cas, :value [2 2], :process 33, :time 40017318891, :index 13494}
{:type :fail, :f :cas, :value [2 2], :process 33, :time 40019423322, :error :connect, :index 13496}
{:type :invoke, :f :cas, :value [0 0], :process 32, :time 40023531011, :index 13498}
{:type :invoke, :f :cas, :value [2 3], :process 34, :time 40023987659, :index 13499}
{:type :fail, :f :cas, :value [0 0], :process 32, :time 40025496836, :error :connect, :index 13500}
{:type :fail, :f :cas, :value [2 3], :process 34, :time 40025827601, :error :connect, :index 13501}
{:type :invoke, :f :read, :value nil, :process 15, :time 40029876149, :index 13502}
{:type :invoke, :f :cas, :value [3 0], :process 34, :time 40030105509, :index 13503}
{:type :invoke, :f :cas, :value [2 1], :process 37, :time 40030897715, :index 13504}
{:type :fail, :f :cas, :value [3 0], :process 34, :time 40032078958, :error :connect, :index 13505}
{:type :fail, :f :read, :value nil, :process 15, :time 40032318273, :error :connect, :index 13506}
{:type :fail, :f :cas, :value [2 1], :process 37, :time 40032801801, :error :connect, :index 13507}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 40058806059, :index 13508}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 40061142994, :error :connect, :index 13510}
{:type :invoke, :f :read, :value nil, :process 34, :time 40067390506, :index 13514}
{:type :fail, :f :read, :value nil, :process 34, :time 40069187520, :error :connect, :index 13516}
{:type :invoke, :f :read, :value nil, :process 39, :time 40099497442, :index 13520}
{:type :fail, :f :read, :value nil, :process 39, :time 40102432161, :error :connect, :index 13523}
{:type :invoke, :f :read, :value nil, :process 36, :time 40115240487, :index 13528}
{:type :fail, :f :read, :value nil, :process 36, :time 40117049927, :error :connect, :index 13529}
{:type :invoke, :f :read, :value nil, :process 11, :time 40138403787, :index 13534}
{:type :invoke, :f :read, :value nil, :process 33, :time 40138685558, :index 13535}
{:type :fail, :f :read, :value nil, :process 33, :time 40140502250, :error :connect, :index 13536}
{:type :fail, :f :read, :value nil, :process 11, :time 40140502242, :error :connect, :index 13537}
{:type :invoke, :f :cas, :value [2 1], :process 39, :time 40142720130, :index 13539}
{:type :fail, :f :cas, :value [2 1], :process 39, :time 40144345954, :error :connect, :index 13541}
{:type :invoke, :f :write, :value 3, :process 32, :time 40150738589, :index 13545}
{:type :fail, :f :write, :value 3, :process 32, :time 40152548604, :error :connect, :index 13547}
{:type :invoke, :f :cas, :value [2 2], :process 10, :time 40159403097, :index 13548}
{:type :invoke, :f :write, :value 2, :process 36, :time 40160318013, :index 13549}
{:type :fail, :f :cas, :value [2 2], :process 10, :time 40161293328, :error :connect, :index 13550}
{:type :fail, :f :write, :value 2, :process 36, :time 40162367920, :error :connect, :index 13551}
{:type :invoke, :f :cas, :value [0 4], :process 11, :time 40166784727, :index 13552}
{:type :fail, :f :cas, :value [0 4], :process 11, :time 40168380126, :error :connect, :index 13553}
{:type :invoke, :f :write, :value 2, :process 32, :time 40170808235, :index 13554}
{:type :fail, :f :write, :value 2, :process 32, :time 40172472167, :error :connect, :index 13555}
{:type :invoke, :f :read, :value nil, :process 10, :time 40186575798, :index 13561}
{:type :fail, :f :read, :value nil, :process 10, :time 40188774529, :error :connect, :index 13563}
{:type :invoke, :f :write, :value 4, :process 11, :time 40190649527, :index 13564}
{:type :fail, :f :write, :value 4, :process 11, :time 40192495605, :error :connect, :index 13565}
{:type :invoke, :f :write, :value 0, :process 37, :time 40194058692, :index 13566}
{:type :fail, :f :write, :value 0, :process 37, :time 40196106926, :error :connect, :index 13567}
{:type :invoke, :f :write, :value 1, :process 15, :time 40199558270, :index 13570}
{:type :fail, :f :write, :value 1, :process 15, :time 40201396502, :error :connect, :index 13571}
{:type :invoke, :f :cas, :value [1 3], :process 15, :time 40203685094, :index 13572}
{:type :fail, :f :cas, :value [1 3], :process 15, :time 40205496533, :error :connect, :index 13573}
{:type :invoke, :f :read, :value nil, :process 18, :time 40206885814, :index 13574}
{:type :fail, :f :read, :value nil, :process 18, :time 40208548996, :error :connect, :index 13575}
{:type :invoke, :f :read, :value nil, :process 11, :time 40213762647, :index 13576}
{:type :fail, :f :read, :value nil, :process 11, :time 40215885739, :error :connect, :index 13577}
{:type :invoke, :f :write, :value 0, :process 36, :time 40218626369, :index 13578}
{:type :fail, :f :write, :value 0, :process 36, :time 40220520331, :error :connect, :index 13579}
{:type :invoke, :f :cas, :value [0 1], :process 34, :time 40221451572, :index 13580}
{:type :fail, :f :cas, :value [0 1], :process 34, :time 40223393002, :error :connect, :index 13581}
{:type :invoke, :f :read, :value nil, :process 39, :time 40233591440, :index 13586}
{:type :fail, :f :read, :value nil, :process 39, :time 40235553717, :error :connect, :index 13588}
{:type :invoke, :f :write, :value 2, :process 10, :time 40251033908, :index 13590}
{:type :fail, :f :write, :value 2, :process 10, :time 40252946186, :error :connect, :index 13591}
{:type :invoke, :f :cas, :value [4 1], :process 15, :time 40254767314, :index 13592}
{:type :fail, :f :cas, :value [4 1], :process 15, :time 40256955490, :error :connect, :index 13595}
{:type :invoke, :f :write, :value 2, :process 36, :time 40260784629, :index 13598}
{:type :fail, :f :write, :value 2, :process 36, :time 40262670389, :error :connect, :index 13600}
{:type :invoke, :f :cas, :value [4 3], :process 39, :time 40269833459, :index 13602}
{:type :fail, :f :cas, :value [4 3], :process 39, :time 40271922397, :error :connect, :index 13603}
{:type :invoke, :f :read, :value nil, :process 37, :time 40273371263, :index 13604}
{:type :fail, :f :read, :value nil, :process 37, :time 40275321960, :error :connect, :index 13605}
{:type :invoke, :f :read, :value nil, :process 11, :time 40290152601, :index 13608}
{:type :fail, :f :read, :value nil, :process 11, :time 40292147186, :error :connect, :index 13609}
{:type :invoke, :f :read, :value nil, :process 32, :time 40305736040, :index 13612}
{:type :fail, :f :read, :value nil, :process 32, :time 40307855312, :error :connect, :index 13613}
{:type :invoke, :f :write, :value 2, :process 33, :time 40315795763, :index 13614}
{:type :fail, :f :write, :value 2, :process 33, :time 40317582636, :error :connect, :index 13615}
{:type :invoke, :f :read, :value nil, :process 34, :time 40352660422, :index 13628}
{:type :fail, :f :read, :value nil, :process 34, :time 40354473007, :error :connect, :index 13629}
{:type :invoke, :f :write, :value 0, :process 18, :time 40358744993, :index 13631}
{:type :fail, :f :write, :value 0, :process 18, :time 40360748382, :error :connect, :index 13634}
{:type :invoke, :f :write, :value 3, :process 10, :time 40397221938, :index 13644}
{:type :fail, :f :write, :value 3, :process 10, :time 40398901348, :error :connect, :index 13645}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
