{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :invoke, :f :read, :value nil, :process 38, :time 30180044974, :index 6404}
{:type :ok, :f :read, :value nil, :process 38, :time 30187535319, :index 6406}
{:type :invoke, :f :cas, :value [0 0], :process 33, :time 30292381650, :index 6417}
{:type :invoke, :f :read, :value nil, :process 31, :time 30295104722, :index 6418}
{:type :fail, :f :cas, :value [0 0], :process 33, :time 30299963694, :error :not-found, :index 6421}
{:type :ok, :f :read, :value nil, :process 31, :time 30302112697, :index 6424}
{:type :invoke, :f :cas, :value [4 2], :process 38, :time 30317889238, :index 6426}
{:type :fail, :f :cas, :value [4 2], :process 38, :time 30323939711, :error :not-found, :index 6427}
{:type :invoke, :f :read, :value nil, :process 38, :time 30328206381, :index 6430}
{:type :ok, :f :read, :value nil, :process 38, :time 30334849582, :index 6434}
{:type :invoke, :f :cas, :value [0 1], :process 16, :time 30339484691, :index 6436}
{:type :fail, :f :cas, :value [0 1], :process 16, :time 30345149992, :error :not-found, :index 6438}
{:type :invoke, :f :read, :value nil, :process 31, :time 30373360085, :index 6444}
{:type :ok, :f :read, :value nil, :process 31, :time 30378984576, :index 6445}
{:type :invoke, :f :cas, :value [4 0], :process 38, :time 30389102250, :index 6449}
{:type :fail, :f :cas, :value [4 0], :process 38, :time 30394404622, :error :not-found, :index 6451}
{:type :invoke, :f :read, :value nil, :process 10, :time 30402368786, :index 6454}
{:type :ok, :f :read, :value nil, :process 10, :time 30407631441, :index 6455}
{:type :invoke, :f :cas, :value [2 3], :process 10, :time 30408881389, :index 6456}
{:type :fail, :f :cas, :value [2 3], :process 10, :time 30413607984, :error :not-found, :index 6457}
{:type :invoke, :f :read, :value nil, :process 33, :time 30430243852, :index 6460}
{:type :ok, :f :read, :value nil, :process 33, :time 30436504743, :index 6462}
{:type :invoke, :f :cas, :value [3 0], :process 15, :time 30437423327, :index 6463}
{:type :fail, :f :cas, :value [3 0], :process 15, :time 30444536939, :error :not-found, :index 6465}
{:type :invoke, :f :cas, :value [4 3], :process 38, :time 30447664838, :index 6466}
{:type :fail, :f :cas, :value [4 3], :process 38, :time 30452852409, :error :not-found, :index 6467}
{:type :invoke, :f :write, :value 0, :process 31, :time 30461236981, :index 6470}
{:type :ok, :f :write, :value 0, :process 31, :time 30466121980, :index 6471}
{:type :invoke, :f :write, :value 1, :process 31, :time 30469380074, :index 6472}
{:type :ok, :f :write, :value 1, :process 31, :time 30474045071, :index 6473}
{:type :invoke, :f :cas, :value [2 0], :process 10, :time 30484862221, :index 6474}
{:type :invoke, :f :read, :value nil, :process 38, :time 30487109931, :index 6475}
{:type :fail, :f :cas, :value [2 0], :process 10, :time 30490198600, :index 6476}
{:type :ok, :f :read, :value 1, :process 38, :time 30492282039, :index 6477}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 30499436429, :index 6478}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 30504947077, :index 6480}
{:type :invoke, :f :read, :value nil, :process 16, :time 30535204241, :index 6486}
{:type :invoke, :f :read, :value nil, :process 33, :time 30537743888, :index 6487}
{:type :ok, :f :read, :value 1, :process 16, :time 30540610092, :index 6488}
{:type :ok, :f :read, :value 1, :process 33, :time 30542470703, :index 6489}
{:type :invoke, :f :cas, :value [2 0], :process 38, :time 30544528137, :index 6490}
{:type :fail, :f :cas, :value [2 0], :process 38, :time 30549696956, :index 6491}
{:type :invoke, :f :read, :value nil, :process 33, :time 30568715496, :index 6494}
{:type :ok, :f :read, :value 1, :process 33, :time 30573578035, :index 6495}
{:type :invoke, :f :read, :value nil, :process 15, :time 30606821584, :index 6504}
{:type :ok, :f :read, :value 1, :process 15, :time 30611995169, :index 6506}
{:type :invoke, :f :write, :value 4, :process 16, :time 30630868846, :index 6510}
{:type :invoke, :f :read, :value nil, :process 38, :time 30634956332, :index 6511}
{:type :ok, :f :write, :value 4, :process 16, :time 30637345580, :index 6512}
{:type :ok, :f :read, :value 4, :process 38, :time 30639772371, :index 6513}
{:type :invoke, :f :write, :value 4, :process 31, :time 30652313055, :index 6514}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 30653477071, :index 6515}
{:type :invoke, :f :write, :value 4, :process 16, :time 30656607696, :index 6516}
{:type :ok, :f :write, :value 4, :process 31, :time 30658391991, :index 6517}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 30658721707, :index 6518}
{:type :ok, :f :write, :value 4, :process 16, :time 30661582505, :index 6519}
{:type :invoke, :f :write, :value 2, :process 15, :time 30662254970, :index 6520}
{:type :invoke, :f :cas, :value [2 4], :process 31, :time 30663658684, :index 6521}
{:type :ok, :f :write, :value 2, :process 15, :time 30666717766, :index 6522}
{:type :ok, :f :cas, :value [2 4], :process 31, :time 30668925866, :index 6523}
{:type :invoke, :f :cas, :value [2 4], :process 16, :time 30686836676, :index 6524}
{:type :fail, :f :cas, :value [2 4], :process 16, :time 30692342215, :index 6525}
{:type :invoke, :f :read, :value nil, :process 31, :time 30701181304, :index 6528}
{:type :invoke, :f :read, :value nil, :process 10, :time 30702957872, :index 6529}
{:type :ok, :f :read, :value 4, :process 31, :time 30707647778, :index 6530}
{:type :ok, :f :read, :value 4, :process 10, :time 30707694728, :index 6531}
{:type :invoke, :f :write, :value 1, :process 33, :time 30767873204, :index 6547}
{:type :ok, :f :write, :value 1, :process 33, :time 30773486534, :index 6549}
{:type :invoke, :f :read, :value nil, :process 15, :time 30797976069, :index 6553}
{:type :invoke, :f :write, :value 3, :process 31, :time 30801916355, :index 6556}
{:type :ok, :f :read, :value 1, :process 15, :time 30803008594, :index 6557}
{:type :invoke, :f :read, :value nil, :process 15, :time 30806267147, :index 6559}
{:type :invoke, :f :cas, :value [4 4], :process 38, :time 30807066472, :index 6560}
{:type :ok, :f :write, :value 3, :process 31, :time 30807208602, :index 6561}
{:type :invoke, :f :read, :value nil, :process 33, :time 30807737807, :index 6562}
{:type :ok, :f :read, :value 3, :process 15, :time 30810900769, :index 6563}
{:type :fail, :f :cas, :value [4 4], :process 38, :time 30812855500, :index 6564}
{:type :ok, :f :read, :value 3, :process 33, :time 30813143371, :index 6565}
{:type :invoke, :f :read, :value nil, :process 10, :time 30825914372, :index 6567}
{:type :ok, :f :read, :value 3, :process 10, :time 30831920761, :index 6569}
{:type :invoke, :f :write, :value 2, :process 16, :time 30872751788, :index 6575}
{:type :invoke, :f :read, :value nil, :process 10, :time 30873187917, :index 6576}
{:type :ok, :f :write, :value 2, :process 16, :time 30878439666, :index 6577}
{:type :ok, :f :read, :value 2, :process 10, :time 30878714045, :index 6578}
{:type :invoke, :f :read, :value nil, :process 16, :time 30893723186, :index 6579}
{:type :ok, :f :read, :value 2, :process 16, :time 30899461686, :index 6581}
{:type :invoke, :f :write, :value 2, :process 39, :time 30902056751, :index 6583}
{:type :invoke, :f :read, :value nil, :process 31, :time 30909485667, :index 6585}
{:type :invoke, :f :read, :value nil, :process 10, :time 30911968336, :index 6587}
{:type :invoke, :f :write, :value 2, :process 33, :time 30914407183, :index 6590}
{:type :ok, :f :read, :value 2, :process 31, :time 30915325316, :index 6591}
{:type :ok, :f :read, :value 2, :process 10, :time 30917379391, :index 6593}
{:type :ok, :f :write, :value 2, :process 33, :time 30919472620, :index 6595}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :invoke, :f :write, :value 1, :process 34, :time 30944393902, :index 6603}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 30971166770, :index 6612}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 30976193539, :index 6613}
{:type :invoke, :f :cas, :value [2 0], :process 12, :time 30982688448, :index 6616}
{:type :invoke, :f :cas, :value [3 1], :process 38, :time 30992122874, :index 6619}
{:type :fail, :f :cas, :value [3 1], :process 38, :time 30997925830, :index 6622}
{:type :invoke, :f :cas, :value [1 4], :process 15, :time 31002462472, :index 6623}
{:type :fail, :f :cas, :value [1 4], :process 15, :time 31007366562, :index 6624}
{:type :invoke, :f :read, :value nil, :process 33, :time 31029722929, :index 6630}
{:type :invoke, :f :read, :value nil, :process 31, :time 31033639634, :index 6632}
{:type :ok, :f :read, :value 2, :process 33, :time 31034991711, :index 6633}
{:type :invoke, :f :write, :value 0, :process 37, :time 31038036480, :index 6634}
{:type :ok, :f :read, :value 2, :process 31, :time 31040463879, :index 6635}
{:type :invoke, :f :write, :value 0, :process 10, :time 31050626907, :index 6636}
{:type :ok, :f :write, :value 0, :process 10, :time 31058522173, :index 6637}
{:type :invoke, :f :read, :value nil, :process 33, :time 31078259687, :index 6639}
{:type :ok, :f :read, :value 0, :process 33, :time 31083428158, :index 6640}
{:type :invoke, :f :cas, :value [1 2], :process 33, :time 31083576091, :index 6641}
{:type :invoke, :f :cas, :value [2 3], :process 10, :time 31083791805, :index 6642}
{:type :fail, :f :cas, :value [1 2], :process 33, :time 31088987236, :index 6643}
{:type :fail, :f :cas, :value [2 3], :process 10, :time 31089585171, :index 6644}
{:type :invoke, :f :read, :value nil, :process 16, :time 31093723015, :index 6647}
{:type :ok, :f :read, :value 0, :process 16, :time 31099490227, :index 6650}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :invoke, :f :read, :value nil, :process 31, :time 31156743633, :index 6660}
{:type :ok, :f :read, :value 0, :process 31, :time 31162701079, :index 6661}
{:type :invoke, :f :write, :value 3, :process 38, :time 31168165914, :index 6662}
{:type :ok, :f :write, :value 3, :process 38, :time 31174267150, :index 6664}
{:type :invoke, :f :write, :value 3, :process 15, :time 31201626190, :index 6670}
{:type :ok, :f :write, :value 3, :process 15, :time 31206048984, :index 6672}
{:type :invoke, :f :read, :value nil, :process 38, :time 31239527645, :index 6678}
{:type :invoke, :f :cas, :value [4 0], :process 16, :time 31240736641, :index 6679}
{:type :ok, :f :read, :value 3, :process 38, :time 31245171216, :index 6680}
{:type :fail, :f :cas, :value [4 0], :process 16, :time 31245785547, :index 6681}
{:type :invoke, :f :cas, :value [1 3], :process 33, :time 31251302751, :index 6683}
{:type :fail, :f :cas, :value [1 3], :process 33, :time 31257452875, :index 6685}
{:type :invoke, :f :write, :value 2, :process 10, :time 31259825164, :index 6686}
{:type :ok, :f :write, :value 2, :process 10, :time 31265031261, :index 6687}
{:type :invoke, :f :read, :value nil, :process 15, :time 31270311062, :index 6688}
{:type :ok, :f :read, :value 2, :process 15, :time 31278628108, :index 6689}
{:type :invoke, :f :read, :value nil, :process 31, :time 31302967256, :index 6693}
{:type :ok, :f :read, :value 2, :process 31, :time 31308194992, :index 6695}
{:type :invoke, :f :write, :value 3, :process 15, :time 31319888131, :index 6697}
{:type :ok, :f :write, :value 3, :process 15, :time 31324846446, :index 6699}
{:type :invoke, :f :write, :value 1, :process 16, :time 31334033795, :index 6702}
{:type :ok, :f :write, :value 1, :process 16, :time 31339333441, :index 6703}
{:type :invoke, :f :cas, :value [3 3], :process 31, :time 31340449297, :index 6704}
{:type :fail, :f :cas, :value [3 3], :process 31, :time 31346007541, :index 6705}
{:type :invoke, :f :write, :value 0, :process 31, :time 31380263845, :index 6710}
{:type :invoke, :f :cas, :value [1 3], :process 38, :time 31398435212, :index 6713}
{:type :invoke, :f :cas, :value [3 2], :process 33, :time 31398726073, :index 6714}
{:type :invoke, :f :write, :value 0, :process 10, :time 31440351906, :index 6716}
{:type :invoke, :f :write, :value 3, :process 15, :time 31461101594, :index 6719}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 31490592269, :index 6721}
{:type :ok, :f :write, :value 0, :process 31, :time 31558552759, :index 6723}
{:type :ok, :f :write, :value 3, :process 15, :time 31559899299, :index 6724}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 31561061427, :index 6727}
{:type :fail, :f :cas, :value [1 3], :process 38, :time 31561843610, :index 6730}
{:type :fail, :f :cas, :value [3 2], :process 33, :time 31562226015, :index 6731}
{:type :ok, :f :write, :value 0, :process 10, :time 31562351898, :index 6732}
{:type :invoke, :f :write, :value 3, :process 10, :time 31601615551, :index 6740}
{:type :invoke, :f :write, :value 1, :process 15, :time 31605208598, :index 6742}
{:type :ok, :f :write, :value 3, :process 10, :time 31606448798, :index 6743}
{:type :ok, :f :write, :value 1, :process 15, :time 31610072954, :index 6745}
{:type :invoke, :f :write, :value 3, :process 10, :time 31653700279, :index 6750}
{:type :ok, :f :write, :value 3, :process 10, :time 31657834319, :index 6751}
{:type :invoke, :f :cas, :value [1 1], :process 33, :time 31679534269, :index 6757}
{:type :fail, :f :cas, :value [1 1], :process 33, :time 31684735380, :index 6759}
{:type :invoke, :f :write, :value 3, :process 16, :time 31701331342, :index 6762}
{:type :invoke, :f :read, :value nil, :process 15, :time 31704373133, :index 6763}
{:type :ok, :f :write, :value 3, :process 16, :time 31706137638, :index 6764}
{:type :invoke, :f :read, :value nil, :process 38, :time 31707086139, :index 6765}
{:type :ok, :f :read, :value 3, :process 15, :time 31709185081, :index 6766}
{:type :invoke, :f :write, :value 0, :process 16, :time 31713464356, :index 6768}
{:type :ok, :f :read, :value 3, :process 38, :time 31718308345, :index 6770}
{:type :ok, :f :write, :value 0, :process 16, :time 31719208011, :index 6771}
{:type :invoke, :f :read, :value nil, :process 31, :time 31720836454, :index 6772}
{:type :invoke, :f :read, :value nil, :process 15, :time 31723450511, :index 6773}
{:type :ok, :f :read, :value 0, :process 31, :time 31726007593, :index 6774}
{:type :ok, :f :read, :value 0, :process 15, :time 31728210410, :index 6775}
{:type :invoke, :f :write, :value 4, :process 10, :time 31744094064, :index 6778}
{:type :ok, :f :write, :value 4, :process 10, :time 31748680386, :index 6779}
{:type :invoke, :f :cas, :value [2 4], :process 33, :time 31780998518, :index 6787}
{:type :invoke, :f :write, :value 0, :process 31, :time 31786263664, :index 6789}
{:type :fail, :f :cas, :value [2 4], :process 33, :time 31787008962, :index 6790}
{:type :ok, :f :write, :value 0, :process 31, :time 31791277697, :index 6791}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 31802237616, :index 6792}
{:type :ok, :f :cas, :value [0 1], :process 33, :time 31807583490, :index 6793}
{:type :invoke, :f :read, :value nil, :process 33, :time 31823877754, :index 6795}
{:type :ok, :f :read, :value 1, :process 33, :time 31829776538, :index 6797}
{:type :invoke, :f :cas, :value [4 4], :process 33, :time 31839012485, :index 6798}
{:type :fail, :f :cas, :value [4 4], :process 33, :time 31845552395, :index 6799}
{:type :invoke, :f :write, :value 2, :process 31, :time 31852534119, :index 6802}
{:type :invoke, :f :write, :value 0, :process 33, :time 31853828568, :index 6803}
{:type :invoke, :f :write, :value 1, :process 10, :time 31854941604, :index 6804}
{:type :ok, :f :write, :value 2, :process 31, :time 31858296123, :index 6805}
{:type :ok, :f :write, :value 0, :process 33, :time 31859608086, :index 6806}
{:type :ok, :f :write, :value 1, :process 10, :time 31859965194, :index 6807}
{:type :invoke, :f :cas, :value [3 2], :process 38, :time 31888559493, :index 6814}
{:type :fail, :f :cas, :value [3 2], :process 38, :time 31894370379, :index 6815}
{:type :invoke, :f :cas, :value [3 2], :process 15, :time 31896483349, :index 6817}
{:type :fail, :f :cas, :value [3 2], :process 15, :time 31901717976, :index 6819}
{:type :invoke, :f :read, :value nil, :process 16, :time 31913468910, :index 6820}
{:type :ok, :f :read, :value 1, :process 16, :time 31918373673, :index 6821}
{:type :ok, :f :write, :value 0, :process 37, :time 33139189564, :index 6863}
{:type :ok, :f :write, :value 2, :process 39, :time 33139496338, :index 6864}
{:type :fail, :f :cas, :value [2 0], :process 12, :time 33139578887, :index 6865}
{:type :ok, :f :write, :value 1, :process 34, :time 33140113241, :index 6868}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
