{:type :invoke, :f :write, :value 2, :process 4, :time 113594259, :index 7}
{:type :ok, :f :write, :value 2, :process 4, :time 119184213, :index 9}
{:type :invoke, :f :read, :value nil, :process 8, :time 128049373, :index 10}
{:type :invoke, :f :cas, :value [1 4], :process 9, :time 136959952, :index 12}
{:type :fail, :f :cas, :value [1 4], :process 9, :time 142379455, :index 15}
{:type :invoke, :f :write, :value 1, :process 5, :time 143355464, :index 16}
{:type :ok, :f :write, :value 1, :process 5, :time 147669811, :index 17}
{:type :invoke, :f :write, :value 0, :process 0, :time 166549653, :index 19}
{:type :invoke, :f :read, :value nil, :process 2, :time 167704635, :index 20}
{:type :invoke, :f :read, :value nil, :process 6, :time 168592905, :index 22}
{:type :ok, :f :write, :value 0, :process 0, :time 171513817, :index 25}
{:type :ok, :f :read, :value 0, :process 2, :time 173691761, :index 26}
{:type :ok, :f :read, :value 0, :process 6, :time 173902237, :index 27}
{:type :invoke, :f :cas, :value [2 2], :process 7, :time 176893941, :index 32}
{:type :fail, :f :cas, :value [2 2], :process 7, :time 183069797, :index 36}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 188350498, :index 37}
{:type :invoke, :f :cas, :value [3 4], :process 1, :time 192128385, :index 39}
{:type :fail, :f :cas, :value [3 4], :process 1, :time 197909586, :index 41}
{:type :invoke, :f :write, :value 2, :process 4, :time 205443255, :index 42}
{:type :invoke, :f :read, :value nil, :process 6, :time 208146094, :index 43}
{:type :ok, :f :write, :value 2, :process 4, :time 210516172, :index 45}
{:type :ok, :f :read, :value 2, :process 6, :time 213641912, :index 47}
{:type :invoke, :f :read, :value nil, :process 7, :time 220368175, :index 50}
{:type :invoke, :f :cas, :value [2 1], :process 9, :time 221641406, :index 51}
{:type :ok, :f :read, :value 2, :process 7, :time 226241377, :index 54}
{:type :ok, :f :cas, :value [2 1], :process 9, :time 226764709, :index 56}
{:type :invoke, :f :read, :value nil, :process 5, :time 229944029, :index 60}
{:type :ok, :f :read, :value 1, :process 5, :time 235364993, :index 63}
{:type :invoke, :f :write, :value 3, :process 2, :time 280028911, :index 76}
{:type :ok, :f :write, :value 3, :process 2, :time 285533110, :index 78}
{:type :invoke, :f :write, :value 4, :process 0, :time 315751160, :index 87}
{:type :ok, :f :write, :value 4, :process 0, :time 320614295, :index 89}
{:type :invoke, :f :cas, :value [0 1], :process 7, :time 331497068, :index 92}
{:type :fail, :f :cas, :value [0 1], :process 7, :time 338376633, :index 95}
{:type :invoke, :f :cas, :value [3 1], :process 1, :time 343144300, :index 96}
{:type :invoke, :f :read, :value nil, :process 9, :time 346026328, :index 98}
{:type :fail, :f :cas, :value [3 1], :process 1, :time 348708887, :index 99}
{:type :ok, :f :read, :value 4, :process 9, :time 350898023, :index 101}
{:type :invoke, :f :read, :value nil, :process 6, :time 355934487, :index 104}
{:type :ok, :f :read, :value 4, :process 6, :time 360996243, :index 105}
{:type :invoke, :f :read, :value nil, :process 0, :time 368858055, :index 106}
{:type :ok, :f :read, :value 4, :process 0, :time 375261348, :index 108}
{:type :invoke, :f :cas, :value [0 0], :process 1, :time 389952200, :index 114}
{:type :invoke, :f :cas, :value [2 2], :process 4, :time 391787141, :index 115}
{:type :invoke, :f :write, :value 1, :process 5, :time 393621804, :index 116}
{:type :fail, :f :cas, :value [0 0], :process 1, :time 395839562, :index 117}
{:type :fail, :f :cas, :value [2 2], :process 4, :time 397118788, :index 118}
{:type :ok, :f :write, :value 1, :process 5, :time 398387650, :index 119}
{:type :invoke, :f :write, :value 4, :process 9, :time 401156598, :index 120}
{:type :ok, :f :write, :value 4, :process 9, :time 405645410, :index 121}
{:type :invoke, :f :read, :value nil, :process 0, :time 412516746, :index 124}
{:type :ok, :f :read, :value 4, :process 0, :time 417105120, :index 125}
{:type :invoke, :f :cas, :value [2 4], :process 9, :time 436905413, :index 130}
{:type :fail, :f :cas, :value [2 4], :process 9, :time 442540240, :index 132}
{:type :invoke, :f :read, :value nil, :process 7, :time 445636395, :index 135}
{:type :ok, :f :read, :value 4, :process 7, :time 450634608, :index 137}
{:type :invoke, :f :write, :value 3, :process 2, :time 459790857, :index 140}
{:type :ok, :f :write, :value 3, :process 2, :time 464737712, :index 141}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 472634787, :index 142}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 477399617, :index 143}
{:type :invoke, :f :read, :value nil, :process 0, :time 477375750, :index 144}
{:type :ok, :f :read, :value 3, :process 0, :time 481744098, :index 146}
{:type :invoke, :f :write, :value 1, :process 6, :time 488223783, :index 149}
{:type :ok, :f :write, :value 1, :process 6, :time 493091622, :index 151}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 504381087, :index 152}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 506013362, :index 153}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 511871436, :index 155}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 512156226, :index 156}
{:type :invoke, :f :write, :value 2, :process 1, :time 554099188, :index 162}
{:type :ok, :f :write, :value 2, :process 1, :time 559357850, :index 163}
{:type :invoke, :f :read, :value nil, :process 2, :time 571029969, :index 164}
{:type :invoke, :f :cas, :value [3 2], :process 9, :time 575845902, :index 165}
{:type :ok, :f :read, :value 2, :process 2, :time 576227146, :index 166}
{:type :fail, :f :cas, :value [3 2], :process 9, :time 581015304, :index 168}
{:type :invoke, :f :write, :value 4, :process 2, :time 599507555, :index 171}
{:type :invoke, :f :cas, :value [3 4], :process 7, :time 599900723, :index 172}
{:type :ok, :f :write, :value 4, :process 2, :time 606028125, :index 177}
{:type :fail, :f :cas, :value [3 4], :process 7, :time 606446247, :index 179}
{:type :invoke, :f :write, :value 2, :process 6, :time 625339702, :index 185}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 628489644, :index 186}
{:type :ok, :f :write, :value 2, :process 6, :time 630767729, :index 187}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 633841252, :index 189}
{:type :invoke, :f :write, :value 0, :process 5, :time 635665991, :index 190}
{:type :ok, :f :write, :value 0, :process 5, :time 640725596, :index 191}
{:type :invoke, :f :read, :value nil, :process 1, :time 655617014, :index 193}
{:type :ok, :f :read, :value 0, :process 1, :time 660654374, :index 196}
{:type :invoke, :f :cas, :value [2 4], :process 9, :time 690277456, :index 202}
{:type :fail, :f :cas, :value [2 4], :process 9, :time 696542866, :index 204}
{:type :invoke, :f :write, :value 0, :process 9, :time 698831467, :index 206}
{:type :invoke, :f :write, :value 4, :process 4, :time 699151496, :index 207}
{:type :ok, :f :write, :value 0, :process 9, :time 704950785, :index 210}
{:type :ok, :f :write, :value 4, :process 4, :time 705282565, :index 211}
{:type :invoke, :f :write, :value 3, :process 7, :time 741693611, :index 214}
{:type :invoke, :f :write, :value 0, :process 6, :time 745041147, :index 215}
{:type :ok, :f :write, :value 3, :process 7, :time 747294632, :index 216}
{:type :ok, :f :write, :value 0, :process 6, :time 750298072, :index 218}
{:type :invoke, :f :write, :value 4, :process 2, :time 757339250, :index 220}
{:type :invoke, :f :read, :value nil, :process 6, :time 757554065, :index 221}
{:type :ok, :f :write, :value 4, :process 2, :time 762805984, :index 222}
{:type :ok, :f :read, :value 4, :process 6, :time 763364889, :index 223}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 795627943, :index 228}
{:type :invoke, :f :read, :value nil, :process 9, :time 804209651, :index 233}
{:type :ok, :f :read, :value 4, :process 9, :time 809721283, :index 235}
{:type :invoke, :f :write, :value 1, :process 4, :time 812511933, :index 236}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 814101105, :index 237}
{:type :ok, :f :write, :value 1, :process 4, :time 818859855, :index 238}
{:type :ok, :f :cas, :value [1 4], :process 0, :time 819196750, :index 239}
{:type :invoke, :f :read, :value nil, :process 5, :time 833981983, :index 243}
{:type :invoke, :f :read, :value nil, :process 1, :time 842915633, :index 245}
{:type :invoke, :f :read, :value nil, :process 0, :time 854450854, :index 247}
{:type :ok, :f :read, :value 4, :process 5, :time 857443754, :index 250}
{:type :ok, :f :read, :value 4, :process 0, :time 858944771, :index 251}
{:type :invoke, :f :read, :value nil, :process 5, :time 869669687, :index 253}
{:type :ok, :f :read, :value 4, :process 8, :time 871840551, :index 255}
{:type :ok, :f :cas, :value [4 0], :process 3, :time 872390625, :index 257}
{:type :ok, :f :read, :value 0, :process 5, :time 873644388, :index 259}
{:type :invoke, :f :read, :value nil, :process 5, :time 874887422, :index 260}
{:type :invoke, :f :read, :value nil, :process 9, :time 876042644, :index 261}
{:type :ok, :f :read, :value 0, :process 5, :time 879219697, :index 262}
{:type :ok, :f :read, :value 0, :process 9, :time 881363011, :index 263}
{:type :invoke, :f :read, :value nil, :process 0, :time 882188280, :index 264}
{:type :invoke, :f :cas, :value [0 0], :process 7, :time 886517515, :index 266}
{:type :ok, :f :read, :value 0, :process 0, :time 887189097, :index 267}
{:type :ok, :f :cas, :value [0 0], :process 7, :time 891309941, :index 269}
{:type :invoke, :f :cas, :value [0 1], :process 7, :time 911566569, :index 272}
{:type :ok, :f :cas, :value [0 1], :process 7, :time 917658277, :index 276}
{:type :invoke, :f :write, :value 2, :process 2, :time 939069393, :index 280}
{:type :ok, :f :write, :value 2, :process 2, :time 944464466, :index 282}
{:type :invoke, :f :cas, :value [1 4], :process 7, :time 946965436, :index 283}
{:type :fail, :f :cas, :value [1 4], :process 7, :time 953496164, :index 287}
{:type :invoke, :f :read, :value nil, :process 4, :time 958116594, :index 288}
{:type :ok, :f :read, :value 2, :process 4, :time 963674605, :index 290}
{:type :invoke, :f :read, :value nil, :process 5, :time 973503479, :index 292}
{:type :ok, :f :read, :value 2, :process 5, :time 978320401, :index 293}
{:type :invoke, :f :write, :value 1, :process 9, :time 980659150, :index 294}
{:type :ok, :f :write, :value 1, :process 9, :time 985542242, :index 295}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 991097141, :index 296}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 996639429, :index 297}
{:type :invoke, :f :write, :value 3, :process 0, :time 1010479868, :index 300}
{:type :invoke, :f :write, :value 2, :process 3, :time 1011634448, :index 303}
{:type :ok, :f :write, :value 3, :process 0, :time 1016223406, :index 305}
{:type :ok, :f :write, :value 2, :process 3, :time 1017554459, :index 306}
{:type :invoke, :f :write, :value 1, :process 2, :time 1039730758, :index 312}
{:type :invoke, :f :write, :value 2, :process 4, :time 1041932672, :index 313}
{:type :ok, :f :write, :value 1, :process 2, :time 1045432560, :index 314}
{:type :ok, :f :write, :value 2, :process 4, :time 1047185671, :index 315}
{:type :invoke, :f :read, :value nil, :process 8, :time 1056908473, :index 316}
{:type :ok, :f :read, :value 2, :process 8, :time 1062437698, :index 318}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 1063962833, :index 319}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 1067595080, :index 321}
{:type :ok, :f :read, :value 2, :process 1, :time 1069954748, :index 324}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 1072574465, :index 325}
{:type :invoke, :f :read, :value nil, :process 7, :time 1116751906, :index 332}
{:type :ok, :f :read, :value 2, :process 7, :time 1122482630, :index 333}
{:type :invoke, :f :read, :value nil, :process 5, :time 1122867127, :index 334}
{:type :ok, :f :read, :value 2, :process 5, :time 1127810792, :index 335}
{:type :invoke, :f :write, :value 0, :process 9, :time 1143806362, :index 340}
{:type :invoke, :f :read, :value nil, :process 6, :time 1166220780, :index 348}
{:type :ok, :f :read, :value 2, :process 6, :time 1172139619, :index 351}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 1187700116, :index 357}
{:type :invoke, :f :cas, :value [2 3], :process 4, :time 1190448290, :index 358}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 1192491420, :index 359}
{:type :fail, :f :cas, :value [1 2], :process 8, :time 1192888646, :index 360}
{:type :invoke, :f :read, :value nil, :process 3, :time 1193811230, :index 361}
{:type :invoke, :f :write, :value 2, :process 5, :time 1196138869, :index 362}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 1197339109, :index 363}
{:type :ok, :f :read, :value 2, :process 3, :time 1199325086, :index 365}
{:type :ok, :f :write, :value 2, :process 5, :time 1200983055, :index 366}
{:type :invoke, :f :cas, :value [1 3], :process 2, :time 1209704784, :index 370}
{:type :fail, :f :cas, :value [1 3], :process 2, :time 1215400075, :index 372}
{:type :invoke, :f :cas, :value [4 4], :process 2, :time 1218656896, :index 374}
{:type :fail, :f :cas, :value [4 4], :process 2, :time 1224061665, :index 375}
{:type :invoke, :f :cas, :value [1 3], :process 2, :time 1258334753, :index 384}
{:type :fail, :f :cas, :value [1 3], :process 2, :time 1263623328, :index 385}
{:type :invoke, :f :cas, :value [4 2], :process 1, :time 1264221463, :index 387}
{:type :fail, :f :cas, :value [4 2], :process 1, :time 1270428805, :index 390}
{:type :invoke, :f :cas, :value [0 3], :process 7, :time 1274754185, :index 393}
{:type :fail, :f :cas, :value [0 3], :process 7, :time 1282682036, :index 395}
{:type :invoke, :f :write, :value 4, :process 6, :time 1283443938, :index 396}
{:type :ok, :f :write, :value 4, :process 6, :time 1289071078, :index 397}
{:type :invoke, :f :write, :value 4, :process 8, :time 1294245104, :index 398}
{:type :ok, :f :write, :value 4, :process 8, :time 1299408400, :index 400}
{:type :invoke, :f :read, :value nil, :process 3, :time 1312582277, :index 402}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 1316223962, :index 403}
{:type :ok, :f :read, :value 4, :process 3, :time 1318238758, :index 404}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 1321382071, :index 405}
{:type :invoke, :f :read, :value nil, :process 7, :time 1323935642, :index 406}
{:type :ok, :f :read, :value 4, :process 7, :time 1330080601, :index 408}
{:type :invoke, :f :cas, :value [4 3], :process 2, :time 1343881089, :index 410}
{:type :ok, :f :cas, :value [4 3], :process 2, :time 1349016737, :index 412}
{:type :invoke, :f :write, :value 0, :process 0, :time 1351613136, :index 413}
{:type :ok, :f :write, :value 0, :process 0, :time 1355517370, :index 415}
{:type :invoke, :f :write, :value 0, :process 8, :time 1379680355, :index 418}
{:type :ok, :f :write, :value 0, :process 8, :time 1385339370, :index 420}
{:type :invoke, :f :read, :value nil, :process 1, :time 1449684596, :index 438}
{:type :ok, :f :read, :value 0, :process 1, :time 1454640819, :index 439}
{:type :invoke, :f :write, :value 0, :process 6, :time 1468360385, :index 446}
{:type :ok, :f :write, :value 0, :process 6, :time 1472916692, :index 448}
{:type :fail, :f :cas, :value [2 3], :process 4, :time 1591994951, :index 485}
{:type :ok, :f :write, :value 0, :process 9, :time 1592326933, :index 486}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
