{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :invoke, :f :write, :value 0, :process 4, :time 13158913245, :index 2448}
{:type :ok, :f :write, :value 0, :process 4, :time 13164950896, :index 2449}
{:type :invoke, :f :write, :value 0, :process 0, :time 13180967882, :index 2450}
{:type :ok, :f :write, :value 0, :process 0, :time 13186898072, :index 2451}
{:type :invoke, :f :cas, :value [0 2], :process 23, :time 13188996813, :index 2452}
{:type :invoke, :f :read, :value nil, :process 26, :time 13189070933, :index 2453}
{:type :ok, :f :read, :value 0, :process 26, :time 13194613437, :index 2456}
{:type :ok, :f :cas, :value [0 2], :process 23, :time 13195123043, :index 2457}
{:type :invoke, :f :read, :value nil, :process 2, :time 13207705257, :index 2461}
{:type :invoke, :f :cas, :value [4 1], :process 21, :time 13210987318, :index 2463}
{:type :ok, :f :read, :value 2, :process 2, :time 13212208996, :index 2464}
{:type :fail, :f :cas, :value [4 1], :process 21, :time 13216052564, :index 2465}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 13226158655, :index 2467}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 13231608926, :index 2469}
{:type :invoke, :f :read, :value nil, :process 5, :time 13253229981, :index 2470}
{:type :invoke, :f :write, :value 2, :process 2, :time 13255480733, :index 2472}
{:type :ok, :f :read, :value 2, :process 5, :time 13258615397, :index 2473}
{:type :ok, :f :write, :value 2, :process 2, :time 13260773244, :index 2475}
{:type :invoke, :f :write, :value 1, :process 4, :time 13263207838, :index 2476}
{:type :invoke, :f :write, :value 2, :process 26, :time 13263894719, :index 2477}
{:type :ok, :f :write, :value 2, :process 26, :time 13268720167, :index 2478}
{:type :ok, :f :write, :value 1, :process 4, :time 13269636251, :index 2480}
{:type :invoke, :f :write, :value 2, :process 9, :time 13270108898, :index 2481}
{:type :ok, :f :write, :value 2, :process 9, :time 13275901723, :index 2484}
{:type :invoke, :f :write, :value 0, :process 21, :time 13317303917, :index 2498}
{:type :ok, :f :write, :value 0, :process 21, :time 13322274878, :index 2499}
{:type :invoke, :f :write, :value 1, :process 8, :time 13327044094, :index 2500}
{:type :invoke, :f :cas, :value [4 4], :process 5, :time 13330898518, :index 2502}
{:type :ok, :f :write, :value 1, :process 8, :time 13332163674, :index 2503}
{:type :invoke, :f :cas, :value [0 1], :process 23, :time 13333369903, :index 2504}
{:type :fail, :f :cas, :value [4 4], :process 5, :time 13336568273, :index 2507}
{:type :fail, :f :cas, :value [0 1], :process 23, :time 13338491177, :index 2508}
{:type :invoke, :f :cas, :value [4 1], :process 7, :time 13344849475, :index 2510}
{:type :invoke, :f :write, :value 3, :process 8, :time 13349447044, :index 2511}
{:type :fail, :f :cas, :value [4 1], :process 7, :time 13349551591, :index 2512}
{:type :ok, :f :write, :value 3, :process 8, :time 13353916049, :index 2513}
{:type :invoke, :f :read, :value nil, :process 23, :time 13357747995, :index 2514}
{:type :ok, :f :read, :value 3, :process 23, :time 13362733602, :index 2515}
{:type :invoke, :f :read, :value nil, :process 0, :time 13365907686, :index 2516}
{:type :ok, :f :read, :value 3, :process 0, :time 13370656901, :index 2518}
{:type :invoke, :f :read, :value nil, :process 0, :time 13371950208, :index 2519}
{:type :ok, :f :read, :value 3, :process 0, :time 13377071659, :index 2521}
{:type :invoke, :f :cas, :value [3 4], :process 21, :time 13387569448, :index 2526}
{:type :ok, :f :cas, :value [3 4], :process 21, :time 13393314735, :index 2530}
{:type :invoke, :f :read, :value nil, :process 9, :time 13400163238, :index 2533}
{:type :ok, :f :read, :value 4, :process 9, :time 13405307470, :index 2535}
{:type :invoke, :f :read, :value nil, :process 8, :time 13409179578, :index 2537}
{:type :ok, :f :read, :value 4, :process 8, :time 13414112968, :index 2540}
{:type :invoke, :f :read, :value nil, :process 4, :time 13417898203, :index 2541}
{:type :ok, :f :read, :value 4, :process 4, :time 13423288004, :index 2544}
{:type :invoke, :f :read, :value nil, :process 26, :time 13427991860, :index 2546}
{:type :ok, :f :read, :value 4, :process 26, :time 13432526771, :index 2547}
{:type :invoke, :f :read, :value nil, :process 23, :time 13440998158, :index 2550}
{:type :invoke, :f :cas, :value [1 2], :process 2, :time 13441001604, :index 2551}
{:type :invoke, :f :read, :value nil, :process 9, :time 13445571072, :index 2552}
{:type :fail, :f :cas, :value [1 2], :process 2, :time 13445778945, :index 2553}
{:type :ok, :f :read, :value 4, :process 23, :time 13447035594, :index 2554}
{:type :ok, :f :read, :value 4, :process 9, :time 13450288972, :index 2555}
{:type :invoke, :f :read, :value nil, :process 9, :time 13450417025, :index 2556}
{:type :ok, :f :read, :value 4, :process 9, :time 13455171094, :index 2557}
{:type :invoke, :f :write, :value 3, :process 5, :time 13456843335, :index 2558}
{:type :ok, :f :write, :value 3, :process 5, :time 13462514142, :index 2559}
{:type :invoke, :f :read, :value nil, :process 4, :time 13494554476, :index 2564}
{:type :ok, :f :read, :value 3, :process 4, :time 13500109954, :index 2566}
{:type :invoke, :f :write, :value 3, :process 21, :time 13503574520, :index 2569}
{:type :ok, :f :write, :value 3, :process 21, :time 13507862531, :index 2571}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 13510367733, :index 2572}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 13515620410, :index 2574}
{:type :invoke, :f :read, :value nil, :process 2, :time 13524023566, :index 2576}
{:type :ok, :f :read, :value 3, :process 2, :time 13528584573, :index 2577}
{:type :invoke, :f :read, :value nil, :process 21, :time 13534111724, :index 2578}
{:type :ok, :f :read, :value 3, :process 21, :time 13539396200, :index 2579}
{:type :invoke, :f :write, :value 4, :process 7, :time 13540801522, :index 2580}
{:type :ok, :f :write, :value 4, :process 7, :time 13545377743, :index 2581}
{:type :invoke, :f :cas, :value [4 4], :process 0, :time 13548328600, :index 2584}
{:type :ok, :f :cas, :value [4 4], :process 0, :time 13554397767, :index 2587}
{:type :invoke, :f :write, :value 1, :process 21, :time 13562677400, :index 2590}
{:type :ok, :f :write, :value 1, :process 21, :time 13578299728, :index 2594}
{:type :invoke, :f :write, :value 0, :process 23, :time 13578304670, :index 2596}
{:type :invoke, :f :write, :value 3, :process 9, :time 13584447400, :index 2598}
{:type :ok, :f :write, :value 0, :process 23, :time 13584783721, :index 2599}
{:type :invoke, :f :write, :value 1, :process 5, :time 13587770804, :index 2600}
{:type :ok, :f :write, :value 3, :process 9, :time 13590130823, :index 2602}
{:type :ok, :f :write, :value 1, :process 5, :time 13592337710, :index 2603}
{:type :invoke, :f :write, :value 0, :process 8, :time 13606373886, :index 2607}
{:type :ok, :f :write, :value 0, :process 8, :time 13611445740, :index 2610}
{:type :invoke, :f :read, :value nil, :process 2, :time 13615842376, :index 2612}
{:type :invoke, :f :read, :value nil, :process 4, :time 13620882014, :index 2613}
{:type :ok, :f :read, :value 0, :process 2, :time 13621351300, :index 2614}
{:type :invoke, :f :read, :value nil, :process 26, :time 13623783372, :index 2615}
{:type :ok, :f :read, :value 0, :process 4, :time 13626040838, :index 2616}
{:type :ok, :f :read, :value 0, :process 26, :time 13628245957, :index 2617}
{:type :invoke, :f :write, :value 2, :process 0, :time 13657658373, :index 2623}
{:type :ok, :f :write, :value 2, :process 0, :time 13663277769, :index 2625}
{:type :invoke, :f :read, :value nil, :process 7, :time 13668637779, :index 2626}
{:type :ok, :f :read, :value 2, :process 7, :time 13673548203, :index 2627}
{:type :invoke, :f :cas, :value [0 0], :process 0, :time 13692530365, :index 2634}
{:type :fail, :f :cas, :value [0 0], :process 0, :time 13697682009, :index 2637}
{:type :invoke, :f :write, :value 2, :process 26, :time 13705507516, :index 2640}
{:type :invoke, :f :cas, :value [4 0], :process 2, :time 13707597662, :index 2642}
{:type :ok, :f :write, :value 2, :process 26, :time 13711383868, :index 2645}
{:type :fail, :f :cas, :value [4 0], :process 2, :time 13712974125, :index 2647}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 13727709775, :index 2655}
{:type :fail, :f :cas, :value [1 2], :process 8, :time 13732910865, :index 2657}
{:type :invoke, :f :read, :value nil, :process 26, :time 13742621892, :index 2658}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 13743595035, :index 2659}
{:type :ok, :f :read, :value 2, :process 26, :time 13748082554, :index 2660}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 13750147515, :index 2661}
{:type :invoke, :f :read, :value nil, :process 21, :time 13759604488, :index 2662}
{:type :ok, :f :read, :value 2, :process 21, :time 13765239658, :index 2663}
{:type :invoke, :f :write, :value 0, :process 4, :time 13770324378, :index 2664}
{:type :ok, :f :write, :value 0, :process 4, :time 13775834607, :index 2665}
{:type :invoke, :f :read, :value nil, :process 23, :time 13777034878, :index 2666}
{:type :invoke, :f :cas, :value [1 0], :process 0, :time 13777947790, :index 2667}
{:type :ok, :f :read, :value 0, :process 23, :time 13782501941, :index 2669}
{:type :fail, :f :cas, :value [1 0], :process 0, :time 13783319991, :index 2670}
{:type :invoke, :f :read, :value nil, :process 0, :time 13783460688, :index 2671}
{:type :invoke, :f :read, :value nil, :process 9, :time 13788366804, :index 2674}
{:type :ok, :f :read, :value 0, :process 0, :time 13788940890, :index 2675}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 13794411599, :index 2679}
{:type :ok, :f :read, :value 0, :process 9, :time 13795528124, :index 2680}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 13800011961, :index 2684}
{:type :invoke, :f :cas, :value [4 1], :process 7, :time 13812813136, :index 2687}
{:type :fail, :f :cas, :value [4 1], :process 7, :time 13817598450, :index 2690}
{:type :invoke, :f :cas, :value [1 0], :process 5, :time 13818273187, :index 2691}
{:type :fail, :f :cas, :value [1 0], :process 5, :time 13824507606, :index 2693}
{:type :invoke, :f :read, :value nil, :process 0, :time 13859773443, :index 2702}
{:type :invoke, :f :write, :value 2, :process 8, :time 13862175828, :index 2703}
{:type :ok, :f :read, :value 0, :process 0, :time 13865513394, :index 2704}
{:type :ok, :f :write, :value 2, :process 8, :time 13867647557, :index 2705}
{:type :invoke, :f :write, :value 3, :process 5, :time 13874774458, :index 2706}
{:type :invoke, :f :cas, :value [4 1], :process 7, :time 13874771415, :index 2707}
{:type :fail, :f :cas, :value [4 1], :process 7, :time 13879564624, :index 2708}
{:type :ok, :f :write, :value 3, :process 5, :time 13880403895, :index 2709}
{:type :invoke, :f :write, :value 4, :process 23, :time 13903762412, :index 2716}
{:type :invoke, :f :read, :value nil, :process 2, :time 13905260854, :index 2717}
{:type :invoke, :f :cas, :value [1 1], :process 26, :time 13909344470, :index 2718}
{:type :ok, :f :read, :value 4, :process 2, :time 13910765109, :index 2719}
{:type :ok, :f :write, :value 4, :process 23, :time 13910830615, :index 2720}
{:type :fail, :f :cas, :value [1 1], :process 26, :time 13914339102, :index 2722}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 13915094562, :index 2723}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 13920088668, :index 2725}
{:type :invoke, :f :write, :value 0, :process 9, :time 13953802806, :index 2734}
{:type :invoke, :f :write, :value 2, :process 21, :time 13957505169, :index 2735}
{:type :ok, :f :write, :value 0, :process 9, :time 13958312117, :index 2736}
{:type :ok, :f :write, :value 2, :process 21, :time 13963129226, :index 2738}
{:type :invoke, :f :read, :value nil, :process 9, :time 13975556110, :index 2748}
{:type :invoke, :f :cas, :value [4 3], :process 4, :time 13983350398, :index 2749}
{:type :invoke, :f :write, :value 3, :process 5, :time 13987643229, :index 2750}
{:type :ok, :f :write, :value 3, :process 5, :time 13992578356, :index 2751}
{:type :invoke, :f :write, :value 2, :process 23, :time 14002067461, :index 2755}
{:type :ok, :f :write, :value 2, :process 23, :time 14009088417, :index 2760}
{:type :invoke, :f :read, :value nil, :process 0, :time 14029796968, :index 2764}
{:type :ok, :f :read, :value 2, :process 0, :time 14037262894, :index 2765}
{:type :invoke, :f :read, :value nil, :process 2, :time 14051035942, :index 2766}
{:type :ok, :f :read, :value 2, :process 2, :time 14055894071, :index 2767}
{:type :invoke, :f :read, :value nil, :process 8, :time 14056911146, :index 2768}
{:type :ok, :f :read, :value 2, :process 8, :time 14061773703, :index 2769}
{:type :invoke, :f :cas, :value [0 3], :process 7, :time 14071823022, :index 2770}
{:type :fail, :f :cas, :value [0 3], :process 7, :time 14077158332, :index 2771}
{:type :invoke, :f :write, :value 3, :process 0, :time 14077522239, :index 2772}
{:type :ok, :f :write, :value 3, :process 0, :time 14083052714, :index 2773}
{:type :invoke, :f :write, :value 3, :process 26, :time 14092691296, :index 2775}
{:type :fail, :f :cas, :value [4 3], :process 4, :time 14093456876, :index 2776}
{:type :ok, :f :read, :value 3, :process 9, :time 14093862817, :index 2778}
{:type :invoke, :f :read, :value nil, :process 21, :time 14094390516, :index 2779}
{:type :invoke, :f :read, :value nil, :process 5, :time 14098873670, :index 2780}
{:type :ok, :f :read, :value 3, :process 5, :time 14104613371, :index 2781}
{:type :invoke, :f :write, :value 0, :process 9, :time 14116116555, :index 2786}
{:type :invoke, :f :cas, :value [0 1], :process 0, :time 14121311011, :index 2788}
{:type :ok, :f :write, :value 0, :process 9, :time 14121591251, :index 2789}
{:type :ok, :f :cas, :value [0 1], :process 0, :time 14126832725, :index 2792}
{:type :invoke, :f :read, :value nil, :process 8, :time 14134032548, :index 2794}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 14137726639, :index 2796}
{:type :ok, :f :read, :value 1, :process 8, :time 14139803889, :index 2798}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 14144366627, :index 2800}
{:type :invoke, :f :read, :value nil, :process 23, :time 14144372140, :index 2801}
{:type :ok, :f :read, :value 1, :process 23, :time 14149997042, :index 2803}
{:type :invoke, :f :read, :value nil, :process 8, :time 14156056838, :index 2804}
{:type :ok, :f :read, :value 1, :process 8, :time 14161962757, :index 2805}
{:type :invoke, :f :write, :value 4, :process 23, :time 14164256827, :index 2806}
{:type :invoke, :f :cas, :value [3 4], :process 5, :time 14166873413, :index 2807}
{:type :ok, :f :write, :value 4, :process 23, :time 14170029750, :index 2808}
{:type :fail, :f :cas, :value [3 4], :process 5, :time 14172638332, :index 2809}
{:type :invoke, :f :cas, :value [3 2], :process 23, :time 14200302396, :index 2815}
{:type :fail, :f :cas, :value [3 2], :process 23, :time 14206340275, :index 2817}
{:type :invoke, :f :read, :value nil, :process 0, :time 14224170242, :index 2824}
{:type :ok, :f :read, :value 4, :process 0, :time 14229230524, :index 2827}
{:type :invoke, :f :cas, :value [4 3], :process 8, :time 14233201058, :index 2829}
{:type :invoke, :f :cas, :value [3 3], :process 2, :time 14233191682, :index 2830}
{:type :fail, :f :cas, :value [3 3], :process 2, :time 14238147425, :index 2835}
{:type :ok, :f :cas, :value [4 3], :process 8, :time 14238531903, :index 2836}
{:type :invoke, :f :cas, :value [4 4], :process 4, :time 14258667509, :index 2849}
{:type :fail, :f :cas, :value [4 4], :process 4, :time 14264746368, :index 2851}
{:type :invoke, :f :cas, :value [2 2], :process 7, :time 14268418061, :index 2852}
{:type :fail, :f :cas, :value [2 2], :process 7, :time 14273394526, :index 2854}
{:type :ok, :f :write, :value 3, :process 26, :time 14302340177, :index 2862}
{:type :ok, :f :read, :value 3, :process 21, :time 14302778788, :index 2864}
{:type :invoke, :f :read, :value nil, :process 9, :time 14302931033, :index 2866}
{:type :ok, :f :read, :value 3, :process 9, :time 14308419404, :index 2869}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
