{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :invoke, :f :cas, :value [4 0], :process 16, :time 23927814834, :index 4811}
{:type :fail, :f :cas, :value [4 0], :process 16, :time 23933839148, :error :not-found, :index 4813}
{:type :invoke, :f :read, :value nil, :process 19, :time 23948204205, :index 4815}
{:type :ok, :f :read, :value nil, :process 19, :time 23953555563, :index 4819}
{:type :invoke, :f :read, :value nil, :process 15, :time 23971067631, :index 4828}
{:type :invoke, :f :write, :value 2, :process 17, :time 23975637918, :index 4830}
{:type :ok, :f :read, :value nil, :process 15, :time 23976343763, :index 4831}
{:type :ok, :f :write, :value 2, :process 17, :time 23981219094, :index 4833}
{:type :invoke, :f :write, :value 3, :process 17, :time 23986448704, :index 4834}
{:type :ok, :f :write, :value 3, :process 17, :time 23991554524, :index 4836}
{:type :invoke, :f :cas, :value [0 0], :process 12, :time 24000370407, :index 4840}
{:type :fail, :f :cas, :value [0 0], :process 12, :time 24005673267, :index 4841}
{:type :invoke, :f :cas, :value [0 2], :process 14, :time 24005817872, :index 4842}
{:type :fail, :f :cas, :value [0 2], :process 14, :time 24011488357, :index 4845}
{:type :invoke, :f :cas, :value [4 0], :process 33, :time 24034155033, :index 4851}
{:type :fail, :f :cas, :value [4 0], :process 33, :time 24039611451, :index 4853}
{:type :invoke, :f :cas, :value [0 4], :process 17, :time 24047798747, :index 4856}
{:type :invoke, :f :write, :value 3, :process 31, :time 24049384951, :index 4857}
{:type :fail, :f :cas, :value [0 4], :process 17, :time 24053072371, :index 4858}
{:type :ok, :f :write, :value 3, :process 31, :time 24053981402, :index 4859}
{:type :invoke, :f :write, :value 0, :process 19, :time 24081848167, :index 4869}
{:type :ok, :f :write, :value 0, :process 19, :time 24087719152, :index 4872}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 24099141803, :index 4874}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 24105608233, :index 4876}
{:type :invoke, :f :cas, :value [3 4], :process 17, :time 24125377100, :index 4882}
{:type :fail, :f :cas, :value [3 4], :process 17, :time 24131055349, :index 4884}
{:type :invoke, :f :cas, :value [0 4], :process 19, :time 24161021005, :index 4887}
{:type :ok, :f :cas, :value [0 4], :process 19, :time 24166989767, :index 4888}
{:type :invoke, :f :read, :value nil, :process 15, :time 24174638953, :index 4889}
{:type :ok, :f :read, :value 4, :process 15, :time 24180246823, :index 4890}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 24187906426, :index 4891}
{:type :fail, :f :cas, :value [3 0], :process 10, :time 24193982400, :index 4892}
{:type :invoke, :f :write, :value 3, :process 19, :time 24196334017, :index 4894}
{:type :invoke, :f :read, :value nil, :process 12, :time 24200940898, :index 4896}
{:type :ok, :f :write, :value 3, :process 19, :time 24202083026, :index 4898}
{:type :invoke, :f :read, :value nil, :process 14, :time 24202753750, :index 4899}
{:type :invoke, :f :write, :value 2, :process 33, :time 24202870979, :index 4900}
{:type :ok, :f :read, :value 3, :process 12, :time 24207757625, :index 4901}
{:type :ok, :f :read, :value 3, :process 14, :time 24209591093, :index 4903}
{:type :invoke, :f :read, :value nil, :process 38, :time 24210229754, :index 4904}
{:type :invoke, :f :write, :value 4, :process 12, :time 24214021942, :index 4905}
{:type :invoke, :f :write, :value 1, :process 31, :time 24217235469, :index 4906}
{:type :ok, :f :write, :value 4, :process 12, :time 24219149266, :index 4907}
{:type :ok, :f :write, :value 1, :process 31, :time 24223000467, :index 4909}
{:type :invoke, :f :write, :value 3, :process 15, :time 24246557432, :index 4917}
{:type :ok, :f :write, :value 3, :process 15, :time 24251878788, :index 4919}
{:type :invoke, :f :read, :value nil, :process 16, :time 24254870180, :index 4921}
{:type :ok, :f :read, :value 3, :process 16, :time 24261525194, :index 4923}
{:type :invoke, :f :read, :value nil, :process 10, :time 24309271096, :index 4926}
{:type :ok, :f :read, :value 2, :process 38, :time 24314947682, :index 4928}
{:type :ok, :f :write, :value 2, :process 33, :time 24315275508, :index 4929}
{:type :ok, :f :read, :value 2, :process 10, :time 24315565900, :index 4930}
{:type :invoke, :f :cas, :value [0 1], :process 17, :time 24316350665, :index 4932}
{:type :fail, :f :cas, :value [0 1], :process 17, :time 24322062364, :index 4933}
{:type :invoke, :f :write, :value 2, :process 16, :time 24328819241, :index 4934}
{:type :invoke, :f :read, :value nil, :process 14, :time 24334841233, :index 4936}
{:type :ok, :f :write, :value 2, :process 16, :time 24335982357, :index 4938}
{:type :invoke, :f :read, :value nil, :process 31, :time 24339293092, :index 4941}
{:type :ok, :f :read, :value 2, :process 14, :time 24339741350, :index 4942}
{:type :ok, :f :read, :value 2, :process 31, :time 24344541854, :index 4945}
{:type :invoke, :f :write, :value 1, :process 19, :time 24355343287, :index 4946}
{:type :ok, :f :write, :value 1, :process 19, :time 24360467870, :index 4947}
{:type :invoke, :f :cas, :value [3 4], :process 17, :time 24372376262, :index 4948}
{:type :fail, :f :cas, :value [3 4], :process 17, :time 24378962487, :index 4949}
{:type :invoke, :f :cas, :value [3 4], :process 31, :time 24384796785, :index 4950}
{:type :fail, :f :cas, :value [3 4], :process 31, :time 24391321780, :index 4953}
{:type :invoke, :f :read, :value nil, :process 15, :time 24399149559, :index 4956}
{:type :invoke, :f :cas, :value [0 2], :process 12, :time 24399423571, :index 4957}
{:type :ok, :f :read, :value 1, :process 15, :time 24405193420, :index 4958}
{:type :fail, :f :cas, :value [0 2], :process 12, :time 24406486651, :index 4959}
{:type :invoke, :f :read, :value nil, :process 12, :time 24412765679, :index 4961}
{:type :ok, :f :read, :value 1, :process 12, :time 24418377476, :index 4963}
{:type :invoke, :f :read, :value nil, :process 38, :time 24426204444, :index 4965}
{:type :ok, :f :read, :value 1, :process 38, :time 24431520051, :index 4968}
{:type :invoke, :f :write, :value 1, :process 16, :time 24432227070, :index 4969}
{:type :ok, :f :write, :value 1, :process 16, :time 24437364912, :index 4971}
{:type :invoke, :f :write, :value 4, :process 31, :time 24444605502, :index 4972}
{:type :ok, :f :write, :value 4, :process 31, :time 24451042264, :index 4974}
{:type :invoke, :f :cas, :value [1 3], :process 31, :time 24465341226, :index 4978}
{:type :fail, :f :cas, :value [1 3], :process 31, :time 24472503617, :index 4982}
{:type :invoke, :f :write, :value 3, :process 17, :time 24475234022, :index 4983}
{:type :ok, :f :write, :value 3, :process 17, :time 24480504776, :index 4985}
{:type :invoke, :f :write, :value 0, :process 10, :time 24493830446, :index 4988}
{:type :ok, :f :write, :value 0, :process 10, :time 24500139643, :index 4990}
{:type :invoke, :f :read, :value nil, :process 14, :time 24503988574, :index 4992}
{:type :invoke, :f :write, :value 4, :process 33, :time 24508567162, :index 4996}
{:type :ok, :f :read, :value 0, :process 14, :time 24510251588, :index 4997}
{:type :invoke, :f :cas, :value [3 1], :process 12, :time 24512633570, :index 5000}
{:type :ok, :f :write, :value 4, :process 33, :time 24513972161, :index 5001}
{:type :fail, :f :cas, :value [3 1], :process 12, :time 24518354349, :index 5003}
{:type :invoke, :f :read, :value nil, :process 33, :time 24522229467, :index 5004}
{:type :invoke, :f :write, :value 2, :process 38, :time 24530213094, :index 5005}
{:type :invoke, :f :cas, :value [3 4], :process 15, :time 24533209881, :index 5007}
{:type :ok, :f :write, :value 2, :process 38, :time 24538099332, :index 5009}
{:type :ok, :f :read, :value 4, :process 33, :time 24538400702, :index 5010}
{:type :fail, :f :cas, :value [3 4], :process 15, :time 24538647394, :index 5012}
{:type :invoke, :f :read, :value nil, :process 19, :time 24545731555, :index 5014}
{:type :ok, :f :read, :value 2, :process 19, :time 24552679221, :index 5015}
{:type :invoke, :f :cas, :value [3 4], :process 14, :time 24565537779, :index 5016}
{:type :fail, :f :cas, :value [3 4], :process 14, :time 24571676346, :index 5017}
{:type :invoke, :f :write, :value 2, :process 14, :time 24586971743, :index 5018}
{:type :ok, :f :write, :value 2, :process 14, :time 24593262949, :index 5020}
{:type :invoke, :f :read, :value nil, :process 15, :time 24605900353, :index 5024}
{:type :invoke, :f :write, :value 1, :process 12, :time 24607656681, :index 5026}
{:type :invoke, :f :write, :value 2, :process 16, :time 24609602744, :index 5027}
{:type :ok, :f :read, :value 2, :process 15, :time 24610471267, :index 5028}
{:type :ok, :f :write, :value 1, :process 12, :time 24613719921, :index 5030}
{:type :ok, :f :write, :value 2, :process 16, :time 24615403302, :index 5031}
{:type :invoke, :f :cas, :value [3 1], :process 31, :time 24654764819, :index 5037}
{:type :invoke, :f :read, :value nil, :process 10, :time 24655466818, :index 5038}
{:type :invoke, :f :cas, :value [1 0], :process 14, :time 24658557338, :index 5039}
{:type :ok, :f :read, :value 2, :process 10, :time 24660930727, :index 5042}
{:type :fail, :f :cas, :value [3 1], :process 31, :time 24661345071, :index 5043}
{:type :invoke, :f :read, :value nil, :process 17, :time 24666767775, :index 5047}
{:type :ok, :f :read, :value 2, :process 17, :time 24671776329, :index 5050}
{:type :invoke, :f :read, :value nil, :process 33, :time 24673648858, :index 5053}
{:type :ok, :f :read, :value 2, :process 33, :time 24678886835, :index 5054}
{:type :invoke, :f :read, :value nil, :process 38, :time 24687356298, :index 5055}
{:type :invoke, :f :read, :value nil, :process 10, :time 24691192900, :index 5057}
{:type :ok, :f :read, :value 2, :process 38, :time 24693020182, :index 5058}
{:type :ok, :f :read, :value 2, :process 10, :time 24697157952, :index 5060}
{:type :invoke, :f :write, :value 4, :process 38, :time 24700311219, :index 5062}
{:type :invoke, :f :write, :value 2, :process 19, :time 24700948238, :index 5063}
{:type :ok, :f :write, :value 4, :process 38, :time 24705464354, :index 5064}
{:type :invoke, :f :read, :value nil, :process 33, :time 24746146161, :index 5068}
{:type :invoke, :f :cas, :value [4 4], :process 38, :time 24748727590, :index 5069}
{:type :invoke, :f :write, :value 0, :process 12, :time 24748995804, :index 5070}
{:type :ok, :f :read, :value 4, :process 33, :time 24751195089, :index 5071}
{:type :ok, :f :cas, :value [4 4], :process 38, :time 24754244081, :index 5072}
{:type :ok, :f :write, :value 0, :process 12, :time 24754749806, :index 5073}
{:type :invoke, :f :read, :value nil, :process 15, :time 24762684229, :index 5074}
{:type :invoke, :f :cas, :value [2 0], :process 16, :time 24762680962, :index 5075}
{:type :ok, :f :read, :value 0, :process 15, :time 24767765967, :index 5078}
{:type :fail, :f :cas, :value [2 0], :process 16, :time 24769084018, :index 5080}
{:type :invoke, :f :cas, :value [4 4], :process 31, :time 24769588503, :index 5081}
{:type :fail, :f :cas, :value [4 4], :process 31, :time 24775257414, :index 5086}
{:type :invoke, :f :cas, :value [3 3], :process 38, :time 24845501678, :index 5100}
{:type :fail, :f :cas, :value [3 3], :process 38, :time 24853019618, :index 5101}
{:type :invoke, :f :write, :value 1, :process 17, :time 24858004993, :index 5102}
{:type :invoke, :f :read, :value nil, :process 38, :time 24859287279, :index 5104}
{:type :ok, :f :write, :value 1, :process 17, :time 24864631625, :index 5106}
{:type :ok, :f :read, :value 1, :process 38, :time 24864863576, :index 5107}
{:type :invoke, :f :write, :value 1, :process 10, :time 24878410318, :index 5108}
{:type :ok, :f :write, :value 1, :process 10, :time 24883455336, :index 5109}
{:type :invoke, :f :cas, :value [0 0], :process 31, :time 24885555196, :index 5110}
{:type :fail, :f :cas, :value [0 0], :process 31, :time 24891913636, :index 5112}
{:type :invoke, :f :cas, :value [4 1], :process 15, :time 24903035977, :index 5116}
{:type :fail, :f :cas, :value [4 1], :process 15, :time 24908048969, :index 5117}
{:type :invoke, :f :cas, :value [2 4], :process 12, :time 24922985464, :index 5121}
{:type :fail, :f :cas, :value [2 4], :process 12, :time 24928490230, :index 5124}
{:type :invoke, :f :cas, :value [1 2], :process 33, :time 24949455716, :index 5127}
{:type :ok, :f :cas, :value [1 2], :process 33, :time 24955298271, :index 5129}
{:type :invoke, :f :cas, :value [0 2], :process 16, :time 24963349626, :index 5132}
{:type :fail, :f :cas, :value [0 2], :process 16, :time 24968456350, :index 5135}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 25002348250, :index 5142}
{:type :ok, :f :write, :value 2, :process 19, :time 25002795494, :index 5143}
{:type :fail, :f :cas, :value [1 0], :process 14, :time 25003638656, :index 5144}
{:type :invoke, :f :cas, :value [1 4], :process 14, :time 25006933795, :index 5147}
{:type :invoke, :f :read, :value nil, :process 16, :time 25007716190, :index 5148}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 25007897422, :index 5149}
{:type :fail, :f :cas, :value [1 4], :process 14, :time 25012828732, :index 5150}
{:type :ok, :f :read, :value 2, :process 16, :time 25013702032, :index 5151}
{:type :invoke, :f :cas, :value [1 4], :process 17, :time 25017948193, :index 5153}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 25021716805, :index 5155}
{:type :fail, :f :cas, :value [1 4], :process 17, :time 25023830968, :index 5157}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 25026751835, :index 5159}
{:type :invoke, :f :cas, :value [3 2], :process 12, :time 25033751720, :index 5162}
{:type :invoke, :f :read, :value nil, :process 14, :time 25038093206, :index 5164}
{:type :fail, :f :cas, :value [3 2], :process 12, :time 25039438195, :index 5167}
{:type :ok, :f :read, :value 2, :process 14, :time 25043554624, :index 5168}
{:type :invoke, :f :write, :value 2, :process 38, :time 25055109234, :index 5172}
{:type :invoke, :f :read, :value nil, :process 33, :time 25058562368, :index 5173}
{:type :ok, :f :write, :value 2, :process 38, :time 25059839117, :index 5174}
{:type :ok, :f :read, :value 2, :process 33, :time 25063630501, :index 5176}
{:type :invoke, :f :cas, :value [0 4], :process 31, :time 25084177588, :index 5182}
{:type :invoke, :f :read, :value nil, :process 12, :time 25084686958, :index 5183}
{:type :invoke, :f :read, :value nil, :process 19, :time 25085092498, :index 5184}
{:type :ok, :f :read, :value 2, :process 12, :time 25090708506, :index 5190}
{:type :fail, :f :cas, :value [0 4], :process 31, :time 25091180664, :index 5191}
{:type :ok, :f :read, :value 2, :process 19, :time 25091777164, :index 5192}
{:type :invoke, :f :write, :value 2, :process 10, :time 25110028264, :index 5197}
{:type :ok, :f :write, :value 2, :process 10, :time 25115754784, :index 5200}
{:type :invoke, :f :write, :value 3, :process 16, :time 25146958122, :index 5206}
{:type :invoke, :f :read, :value nil, :process 15, :time 25148145007, :index 5207}
{:type :ok, :f :write, :value 3, :process 16, :time 25152552866, :index 5208}
{:type :ok, :f :read, :value 3, :process 15, :time 25152839285, :index 5209}
{:type :invoke, :f :write, :value 2, :process 33, :time 25154919483, :index 5212}
{:type :invoke, :f :cas, :value [4 4], :process 17, :time 25157103053, :index 5213}
{:type :ok, :f :write, :value 2, :process 33, :time 25160013737, :index 5216}
{:type :invoke, :f :write, :value 2, :process 19, :time 25161018262, :index 5217}
{:type :fail, :f :cas, :value [4 4], :process 17, :time 25162758302, :index 5218}
{:type :ok, :f :write, :value 2, :process 19, :time 25166461243, :index 5219}
{:type :invoke, :f :read, :value nil, :process 14, :time 25174814150, :index 5222}
{:type :ok, :f :read, :value 2, :process 14, :time 25179860305, :index 5225}
{:type :invoke, :f :write, :value 4, :process 38, :time 25187103619, :index 5228}
{:type :ok, :f :write, :value 4, :process 38, :time 25192387682, :index 5230}
{:type :invoke, :f :write, :value 3, :process 12, :time 25196947394, :index 5232}
{:type :ok, :f :write, :value 3, :process 12, :time 25203102777, :index 5233}
{:type :invoke, :f :read, :value nil, :process 31, :time 25235442557, :index 5243}
{:type :ok, :f :read, :value 3, :process 31, :time 25241246967, :index 5247}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
