{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :invoke, :f :write, :value 0, :process 42, :time 46561218619, :index 7149}
{:type :ok, :f :write, :value 0, :process 42, :time 46566230297, :index 7152}
{:type :invoke, :f :read, :value nil, :process 45, :time 46608841310, :index 7169}
{:type :ok, :f :read, :value 0, :process 45, :time 46614170430, :index 7171}
{:type :invoke, :f :cas, :value [0 1], :process 47, :time 46624413864, :index 7172}
{:type :ok, :f :cas, :value [0 1], :process 47, :time 46628691511, :index 7173}
{:type :invoke, :f :write, :value 2, :process 23, :time 46666736486, :index 7183}
{:type :ok, :f :write, :value 2, :process 23, :time 46671887288, :index 7185}
{:type :invoke, :f :cas, :value [2 4], :process 29, :time 46682169946, :index 7186}
{:type :ok, :f :cas, :value [2 4], :process 29, :time 46687465261, :index 7187}
{:type :invoke, :f :cas, :value [4 1], :process 42, :time 46688496613, :index 7188}
{:type :invoke, :f :cas, :value [3 2], :process 40, :time 46689238223, :index 7189}
{:type :ok, :f :cas, :value [4 1], :process 42, :time 46693525373, :index 7190}
{:type :fail, :f :cas, :value [3 2], :process 40, :time 46694651385, :index 7191}
{:type :invoke, :f :cas, :value [1 0], :process 44, :time 46697973410, :index 7193}
{:type :invoke, :f :write, :value 3, :process 46, :time 46701701306, :index 7196}
{:type :ok, :f :cas, :value [1 0], :process 44, :time 46704225231, :index 7199}
{:type :invoke, :f :read, :value nil, :process 8, :time 46707842672, :index 7203}
{:type :ok, :f :write, :value 3, :process 46, :time 46708011576, :index 7204}
{:type :ok, :f :read, :value 3, :process 8, :time 46713287894, :index 7208}
{:type :invoke, :f :read, :value nil, :process 23, :time 46717142981, :index 7209}
{:type :invoke, :f :read, :value nil, :process 41, :time 46718336738, :index 7211}
{:type :ok, :f :read, :value 3, :process 23, :time 46723007508, :index 7213}
{:type :ok, :f :read, :value 3, :process 41, :time 46724033482, :index 7214}
{:type :invoke, :f :read, :value nil, :process 47, :time 46746949318, :index 7220}
{:type :ok, :f :read, :value 3, :process 47, :time 46751535895, :index 7221}
{:type :invoke, :f :cas, :value [0 0], :process 23, :time 46762261751, :index 7222}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :fail, :f :cas, :value [0 0], :process 23, :time 46768838021, :index 7225}
{:type :invoke, :f :write, :value 1, :process 45, :time 46769494510, :index 7226}
{:type :ok, :f :write, :value 1, :process 45, :time 46774751250, :index 7228}
{:type :invoke, :f :read, :value nil, :process 23, :time 46791090804, :index 7230}
{:type :invoke, :f :write, :value 2, :process 42, :time 46794790460, :index 7231}
{:type :invoke, :f :cas, :value [0 4], :process 29, :time 46812739617, :index 7235}
{:type :invoke, :f :write, :value 3, :process 47, :time 46829793116, :index 7238}
{:type :invoke, :f :read, :value nil, :process 40, :time 46856906990, :index 7240}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :invoke, :f :read, :value nil, :process 41, :time 46877289901, :index 7244}
{:type :invoke, :f :read, :value nil, :process 44, :time 46891472023, :index 7245}
{:type :invoke, :f :cas, :value [3 0], :process 8, :time 46894574916, :index 7246}
{:type :invoke, :f :read, :value nil, :process 46, :time 46902200443, :index 7247}
{:type :invoke, :f :cas, :value [0 2], :process 45, :time 46939010183, :index 7248}
{:type :fail, :f :read, :value nil, :process 23, :time 51795448123, :error :timeout, :index 7251}
{:type :info, :f :write, :value 2, :process 42, :time 51801884574, :error :timeout, :index 7253}
{:type :info, :f :cas, :value [0 4], :process 29, :time 51819909019, :error :timeout, :index 7257}
{:type :invoke, :f :write, :value 0, :process 49, :time 51835883138, :index 7261}
{:type :info, :f :write, :value 3, :process 47, :time 51836496682, :error :timeout, :index 7262}
{:type :invoke, :f :read, :value nil, :process 62, :time 51854612195, :index 7264}
{:type :fail, :f :read, :value nil, :process 40, :time 51861378800, :error :timeout, :index 7266}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :invoke, :f :cas, :value [4 4], :process 67, :time 51881120464, :index 7271}
{:type :fail, :f :read, :value nil, :process 41, :time 51882793795, :error :timeout, :index 7273}
{:type :invoke, :f :cas, :value [0 0], :process 40, :time 51884648657, :index 7274}
{:type :fail, :f :cas, :value [0 0], :process 40, :time 51890685160, :index 7275}
{:type :fail, :f :read, :value nil, :process 44, :time 51895053984, :error :timeout, :index 7276}
{:type :info, :f :cas, :value [3 0], :process 8, :time 51898776597, :error :timeout, :index 7277}
{:type :invoke, :f :write, :value 4, :process 23, :time 51902738852, :index 7278}
{:type :fail, :f :read, :value nil, :process 46, :time 51905201987, :error :timeout, :index 7279}
{:type :ok, :f :write, :value 4, :process 23, :time 51907064925, :index 7280}
{:type :info, :f :cas, :value [0 2], :process 45, :time 51942361125, :error :timeout, :index 7283}
{:type :invoke, :f :read, :value nil, :process 40, :time 51955948376, :index 7285}
{:type :invoke, :f :write, :value 0, :process 46, :time 51981474083, :index 7290}
{:type :invoke, :f :cas, :value [1 1], :process 28, :time 52008440216, :index 7291}
{:type :invoke, :f :cas, :value [1 4], :process 44, :time 52056324216, :index 7295}
{:type :invoke, :f :cas, :value [0 1], :process 65, :time 52065005280, :index 7296}
{:type :invoke, :f :write, :value 1, :process 41, :time 52075077101, :index 7298}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :invoke, :f :write, :value 0, :process 23, :time 52085321161, :index 7300}
{:type :ok, :f :read, :value 4, :process 40, :time 52580984138, :index 7304}
{:type :ok, :f :write, :value 0, :process 23, :time 52581506935, :index 7305}
{:type :ok, :f :write, :value 0, :process 46, :time 52581847459, :index 7306}
{:type :fail, :f :cas, :value [1 1], :process 28, :time 52582042924, :index 7307}
{:type :ok, :f :write, :value 1, :process 41, :time 52582119614, :index 7308}
{:type :ok, :f :cas, :value [0 1], :process 65, :time 52582450570, :index 7310}
{:type :invoke, :f :cas, :value [0 3], :process 40, :time 52582936701, :index 7312}
{:type :ok, :f :cas, :value [0 3], :process 40, :time 52589131272, :index 7315}
{:type :invoke, :f :cas, :value [3 4], :process 23, :time 52591800278, :index 7316}
{:type :ok, :f :cas, :value [3 4], :process 23, :time 52596026493, :index 7317}
{:type :invoke, :f :cas, :value [2 4], :process 23, :time 52611285888, :index 7320}
{:type :fail, :f :cas, :value [2 4], :process 23, :time 52615826387, :index 7321}
{:type :invoke, :f :write, :value 4, :process 46, :time 52621081134, :index 7322}
{:type :ok, :f :write, :value 4, :process 46, :time 52626216807, :index 7323}
{:type :invoke, :f :write, :value 0, :process 41, :time 52651337268, :index 7326}
{:type :ok, :f :write, :value 0, :process 41, :time 52656699591, :index 7327}
{:type :invoke, :f :write, :value 4, :process 65, :time 52722736868, :index 7335}
{:type :ok, :f :write, :value 4, :process 65, :time 52727910081, :index 7337}
{:type :invoke, :f :cas, :value [4 3], :process 41, :time 52728958653, :index 7338}
{:type :ok, :f :cas, :value [4 3], :process 41, :time 52734447173, :index 7339}
{:type :invoke, :f :cas, :value [4 0], :process 23, :time 52740095104, :index 7342}
{:type :invoke, :f :read, :value nil, :process 28, :time 52741332514, :index 7343}
{:type :fail, :f :cas, :value [4 0], :process 23, :time 52746323053, :index 7346}
{:type :ok, :f :read, :value 3, :process 28, :time 52747543005, :index 7347}
{:type :invoke, :f :read, :value nil, :process 40, :time 52782386789, :index 7352}
{:type :ok, :f :read, :value 3, :process 40, :time 52788410612, :index 7353}
{:type :invoke, :f :cas, :value [3 2], :process 46, :time 52816487715, :index 7356}
{:type :ok, :f :cas, :value [3 2], :process 46, :time 52823627901, :index 7358}
{:type :invoke, :f :read, :value nil, :process 28, :time 52838798848, :index 7361}
{:type :invoke, :f :cas, :value [3 1], :process 46, :time 52841891330, :index 7362}
{:type :ok, :f :read, :value 2, :process 28, :time 52843610185, :index 7364}
{:type :fail, :f :cas, :value [3 1], :process 46, :time 52849332382, :index 7365}
{:type :invoke, :f :read, :value nil, :process 41, :time 52858735243, :index 7366}
{:type :ok, :f :read, :value 2, :process 41, :time 52864612073, :index 7367}
{:type :invoke, :f :write, :value 1, :process 41, :time 52876861869, :index 7368}
{:type :ok, :f :write, :value 1, :process 41, :time 52881836187, :index 7369}
{:type :invoke, :f :read, :value nil, :process 23, :time 52893594865, :index 7370}
{:type :ok, :f :read, :value 1, :process 23, :time 52898140063, :index 7371}
{:type :invoke, :f :cas, :value [3 3], :process 65, :time 52910160725, :index 7376}
{:type :invoke, :f :cas, :value [1 2], :process 46, :time 52912594318, :index 7378}
{:type :invoke, :f :write, :value 3, :process 40, :time 52912676493, :index 7379}
{:type :fail, :f :cas, :value [3 3], :process 65, :time 52915921142, :index 7381}
{:type :ok, :f :cas, :value [1 2], :process 46, :time 52917292512, :index 7382}
{:type :ok, :f :write, :value 3, :process 40, :time 52918315484, :index 7383}
{:type :fail, :f :cas, :value [4 4], :process 67, :time 52938281643, :index 7385}
{:type :ok, :f :read, :value 3, :process 62, :time 52938529984, :index 7386}
{:type :invoke, :f :cas, :value [2 2], :process 67, :time 52944553066, :index 7389}
{:type :fail, :f :cas, :value [2 2], :process 67, :time 52950262943, :index 7391}
{:type :invoke, :f :cas, :value [0 0], :process 46, :time 52979550102, :index 7398}
{:type :invoke, :f :read, :value nil, :process 23, :time 52983412280, :index 7399}
{:type :fail, :f :cas, :value [0 0], :process 46, :time 52984497628, :index 7400}
{:type :ok, :f :read, :value 3, :process 23, :time 52987999594, :index 7402}
{:type :invoke, :f :write, :value 0, :process 46, :time 52998752671, :index 7404}
{:type :ok, :f :write, :value 0, :process 46, :time 53003926799, :index 7406}
{:type :invoke, :f :write, :value 1, :process 28, :time 53016871587, :index 7409}
{:type :ok, :f :write, :value 1, :process 28, :time 53021499926, :index 7410}
{:type :invoke, :f :write, :value 4, :process 62, :time 53058923839, :index 7414}
{:type :ok, :f :write, :value 4, :process 62, :time 53065489279, :index 7416}
{:type :invoke, :f :cas, :value [0 0], :process 41, :time 53080103020, :index 7418}
{:type :fail, :f :cas, :value [0 0], :process 41, :time 53085676066, :index 7419}
{:type :invoke, :f :read, :value nil, :process 23, :time 53096247668, :index 7421}
{:type :ok, :f :read, :value 4, :process 23, :time 53100784722, :index 7423}
{:type :invoke, :f :write, :value 3, :process 40, :time 53108564241, :index 7424}
{:type :invoke, :f :read, :value nil, :process 65, :time 53113181058, :index 7425}
{:type :ok, :f :write, :value 3, :process 40, :time 53114367169, :index 7426}
{:type :ok, :f :read, :value 3, :process 65, :time 53118740768, :index 7427}
{:type :invoke, :f :read, :value nil, :process 41, :time 53123976991, :index 7428}
{:type :ok, :f :read, :value 3, :process 41, :time 53130917709, :index 7429}
{:type :invoke, :f :read, :value nil, :process 65, :time 53138001132, :index 7433}
{:type :invoke, :f :read, :value nil, :process 28, :time 53138992053, :index 7437}
{:type :invoke, :f :read, :value nil, :process 67, :time 53141525081, :index 7438}
{:type :ok, :f :read, :value 3, :process 28, :time 53143959561, :index 7439}
{:type :ok, :f :read, :value 3, :process 65, :time 53143959561, :index 7440}
{:type :invoke, :f :write, :value 2, :process 65, :time 53145241029, :index 7441}
{:type :ok, :f :read, :value 3, :process 67, :time 53146385478, :index 7442}
{:type :ok, :f :write, :value 2, :process 65, :time 53150658207, :index 7443}
{:type :invoke, :f :write, :value 2, :process 40, :time 53179620788, :index 7450}
{:type :ok, :f :write, :value 2, :process 40, :time 53185199745, :index 7451}
{:type :invoke, :f :read, :value nil, :process 62, :time 53185751259, :index 7452}
{:type :invoke, :f :write, :value 3, :process 41, :time 53187193419, :index 7453}
{:type :invoke, :f :cas, :value [0 4], :process 46, :time 53190192202, :index 7455}
{:type :ok, :f :read, :value 2, :process 62, :time 53191307805, :index 7456}
{:type :ok, :f :write, :value 3, :process 41, :time 53192076850, :index 7457}
{:type :fail, :f :cas, :value [0 4], :process 46, :time 53195546100, :index 7459}
{:type :invoke, :f :write, :value 1, :process 65, :time 53203910147, :index 7460}
{:type :ok, :f :write, :value 1, :process 65, :time 53209219677, :index 7461}
{:type :invoke, :f :write, :value 4, :process 67, :time 53221648105, :index 7466}
{:type :ok, :f :write, :value 4, :process 67, :time 53227768007, :index 7468}
{:type :invoke, :f :write, :value 2, :process 28, :time 53233261741, :index 7470}
{:type :ok, :f :write, :value 2, :process 28, :time 53237932172, :index 7471}
{:type :invoke, :f :write, :value 2, :process 67, :time 53243020638, :index 7473}
{:type :ok, :f :write, :value 2, :process 67, :time 53248615945, :index 7475}
{:type :invoke, :f :read, :value nil, :process 65, :time 53255478334, :index 7477}
{:type :ok, :f :read, :value 2, :process 65, :time 53260157526, :index 7479}
{:type :invoke, :f :cas, :value [0 2], :process 23, :time 53266040085, :index 7480}
{:type :fail, :f :cas, :value [0 2], :process 23, :time 53271252705, :index 7482}
{:type :invoke, :f :cas, :value [4 1], :process 40, :time 53274459320, :index 7484}
{:type :fail, :f :cas, :value [4 1], :process 40, :time 53280237056, :index 7485}
{:type :invoke, :f :write, :value 2, :process 41, :time 53305331553, :index 7486}
{:type :invoke, :f :read, :value nil, :process 28, :time 53308192775, :index 7487}
{:type :ok, :f :write, :value 2, :process 41, :time 53311085400, :index 7488}
{:type :ok, :f :read, :value 2, :process 28, :time 53313158395, :index 7489}
{:type :invoke, :f :cas, :value [4 1], :process 67, :time 53345865730, :index 7496}
{:type :fail, :f :cas, :value [4 1], :process 67, :time 53351428222, :index 7498}
{:type :invoke, :f :cas, :value [0 4], :process 46, :time 53378808798, :index 7500}
{:type :fail, :f :cas, :value [0 4], :process 46, :time 53384367036, :index 7502}
{:type :invoke, :f :write, :value 4, :process 62, :time 53384582432, :index 7503}
{:type :invoke, :f :cas, :value [2 0], :process 41, :time 53386350153, :index 7505}
{:type :ok, :f :cas, :value [2 0], :process 41, :time 53391472488, :index 7507}
{:type :ok, :f :write, :value 4, :process 62, :time 53392424510, :index 7508}
{:type :invoke, :f :write, :value 3, :process 28, :time 53398444041, :index 7510}
{:type :invoke, :f :cas, :value [1 1], :process 67, :time 53401687336, :index 7512}
{:type :ok, :f :write, :value 3, :process 28, :time 53403117123, :index 7513}
{:type :fail, :f :cas, :value [1 1], :process 67, :time 53407039599, :index 7516}
{:type :invoke, :f :cas, :value [4 4], :process 65, :time 53409868633, :index 7520}
{:type :fail, :f :cas, :value [4 4], :process 65, :time 53417835862, :index 7523}
{:type :invoke, :f :read, :value nil, :process 40, :time 53423490696, :index 7524}
{:type :ok, :f :read, :value 3, :process 40, :time 53429143566, :index 7525}
{:type :invoke, :f :write, :value 2, :process 28, :time 53445434273, :index 7529}
{:type :ok, :f :write, :value 2, :process 28, :time 53449810788, :index 7533}
{:type :invoke, :f :cas, :value [4 0], :process 23, :time 53452523933, :index 7534}
{:type :fail, :f :cas, :value [4 0], :process 23, :time 53456835329, :index 7537}
{:type :invoke, :f :read, :value nil, :process 67, :time 53478293862, :index 7539}
{:type :invoke, :f :write, :value 2, :process 40, :time 53503408201, :index 7543}
{:type :invoke, :f :cas, :value [3 3], :process 41, :time 53532770120, :index 7545}
{:type :invoke, :f :write, :value 2, :process 65, :time 53544086948, :index 7547}
{:type :invoke, :f :write, :value 1, :process 62, :time 53557682293, :index 7549}
{:type :invoke, :f :read, :value nil, :process 46, :time 53567650285, :index 7551}
{:type :ok, :f :read, :value 2, :process 67, :time 54146416421, :index 7559}
{:type :ok, :f :write, :value 1, :process 62, :time 54146752378, :index 7561}
{:type :ok, :f :read, :value 1, :process 46, :time 54146835466, :index 7562}
{:type :ok, :f :write, :value 2, :process 40, :time 54147046971, :index 7563}
{:type :ok, :f :write, :value 2, :process 65, :time 54147398065, :index 7565}
{:type :fail, :f :cas, :value [3 3], :process 41, :time 54149022582, :index 7569}
{:type :info, :f :write, :value 0, :process 49, :time 56844909252, :error :timeout, :index 8004}
{:type :info, :f :cas, :value [1 4], :process 44, :time 57062614857, :error :timeout, :index 8063}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
