{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :invoke, :f :write, :value 1, :process 32, :time 28060427395, :index 8832}
{:type :fail, :f :write, :value 1, :process 32, :time 28062485092, :error :connect, :index 8834}
{:type :invoke, :f :write, :value 4, :process 34, :time 28071894222, :index 8837}
{:type :fail, :f :write, :value 4, :process 34, :time 28073772318, :error :connect, :index 8839}
{:type :invoke, :f :cas, :value [0 3], :process 10, :time 28083055008, :index 8844}
{:type :fail, :f :cas, :value [0 3], :process 10, :time 28084909234, :error :connect, :index 8846}
{:type :invoke, :f :read, :value nil, :process 34, :time 28116045349, :index 8860}
{:type :fail, :f :read, :value nil, :process 34, :time 28117871108, :error :connect, :index 8861}
{:type :invoke, :f :cas, :value [3 1], :process 11, :time 28125772852, :index 8865}
{:type :invoke, :f :read, :value nil, :process 18, :time 28127393860, :index 8867}
{:type :fail, :f :cas, :value [3 1], :process 11, :time 28127953875, :error :connect, :index 8868}
{:type :fail, :f :read, :value nil, :process 18, :time 28129351873, :error :connect, :index 8869}
{:type :invoke, :f :write, :value 4, :process 39, :time 28139302467, :index 8870}
{:type :fail, :f :write, :value 4, :process 39, :time 28140907895, :error :connect, :index 8871}
{:type :invoke, :f :cas, :value [2 3], :process 36, :time 28142644736, :index 8872}
{:type :fail, :f :cas, :value [2 3], :process 36, :time 28144573099, :error :connect, :index 8873}
{:type :invoke, :f :write, :value 2, :process 37, :time 28156862902, :index 8876}
{:type :fail, :f :write, :value 2, :process 37, :time 28158762015, :error :connect, :index 8877}
{:type :invoke, :f :cas, :value [1 0], :process 34, :time 28166124730, :index 8878}
{:type :fail, :f :cas, :value [1 0], :process 34, :time 28168159315, :error :connect, :index 8879}
{:type :invoke, :f :write, :value 1, :process 39, :time 28168177747, :index 8880}
{:type :fail, :f :write, :value 1, :process 39, :time 28170180433, :error :connect, :index 8881}
{:type :invoke, :f :cas, :value [2 0], :process 15, :time 28175650643, :index 8882}
{:type :invoke, :f :read, :value nil, :process 39, :time 28176439081, :index 8884}
{:type :fail, :f :cas, :value [2 0], :process 15, :time 28177697013, :error :connect, :index 8885}
{:type :fail, :f :read, :value nil, :process 39, :time 28178104317, :error :connect, :index 8886}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 28192838346, :index 8891}
{:type :fail, :f :cas, :value [2 1], :process 36, :time 28194543326, :error :connect, :index 8893}
{:type :invoke, :f :write, :value 2, :process 32, :time 28208748874, :index 8898}
{:type :fail, :f :write, :value 2, :process 32, :time 28210582128, :error :connect, :index 8899}
{:type :invoke, :f :cas, :value [4 2], :process 33, :time 28221947676, :index 8902}
{:type :fail, :f :cas, :value [4 2], :process 33, :time 28224098110, :error :connect, :index 8903}
{:type :invoke, :f :write, :value 2, :process 11, :time 28247239735, :index 8913}
{:type :fail, :f :write, :value 2, :process 11, :time 28249197033, :error :connect, :index 8915}
{:type :invoke, :f :read, :value nil, :process 18, :time 28255613166, :index 8916}
{:type :invoke, :f :write, :value 2, :process 10, :time 28257158731, :index 8917}
{:type :fail, :f :read, :value nil, :process 18, :time 28257611583, :error :connect, :index 8918}
{:type :fail, :f :write, :value 2, :process 10, :time 28258989728, :error :connect, :index 8919}
{:type :invoke, :f :read, :value nil, :process 34, :time 28266453606, :index 8922}
{:type :fail, :f :read, :value nil, :process 34, :time 28268555570, :error :connect, :index 8923}
{:type :invoke, :f :read, :value nil, :process 10, :time 28284250829, :index 8927}
{:type :fail, :f :read, :value nil, :process 10, :time 28286086796, :error :connect, :index 8929}
{:type :invoke, :f :read, :value nil, :process 32, :time 28298876329, :index 8930}
{:type :fail, :f :read, :value nil, :process 32, :time 28300690785, :error :connect, :index 8931}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 28301373631, :index 8932}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 28303347886, :error :connect, :index 8934}
{:type :invoke, :f :read, :value nil, :process 33, :time 28313364116, :index 8936}
{:type :fail, :f :read, :value nil, :process 33, :time 28315242647, :error :connect, :index 8937}
{:type :invoke, :f :read, :value nil, :process 18, :time 28333874777, :index 8942}
{:type :fail, :f :read, :value nil, :process 18, :time 28335727710, :error :connect, :index 8943}
{:type :invoke, :f :write, :value 1, :process 37, :time 28336025294, :index 8944}
{:type :fail, :f :write, :value 1, :process 37, :time 28337880603, :error :connect, :index 8945}
{:type :invoke, :f :read, :value nil, :process 34, :time 28355198952, :index 8949}
{:type :fail, :f :read, :value nil, :process 34, :time 28357243018, :error :connect, :index 8951}
{:type :invoke, :f :write, :value 2, :process 15, :time 28360962094, :index 8952}
{:type :fail, :f :write, :value 2, :process 15, :time 28362827787, :error :connect, :index 8953}
{:type :invoke, :f :write, :value 0, :process 32, :time 28374960514, :index 8960}
{:type :fail, :f :write, :value 0, :process 32, :time 28376977221, :error :connect, :index 8961}
{:type :invoke, :f :write, :value 3, :process 36, :time 28386744758, :index 8963}
{:type :fail, :f :write, :value 3, :process 36, :time 28388828091, :error :connect, :index 8966}
{:type :invoke, :f :write, :value 2, :process 11, :time 28409453833, :index 8974}
{:type :fail, :f :write, :value 2, :process 11, :time 28411156999, :error :connect, :index 8975}
{:type :invoke, :f :read, :value nil, :process 34, :time 28412493789, :index 8976}
{:type :fail, :f :read, :value nil, :process 34, :time 28414317934, :error :connect, :index 8977}
{:type :invoke, :f :write, :value 3, :process 37, :time 28458140665, :index 8992}
{:type :invoke, :f :write, :value 0, :process 33, :time 28458517902, :index 8993}
{:type :invoke, :f :cas, :value [1 2], :process 32, :time 28459241140, :index 8994}
{:type :invoke, :f :cas, :value [4 2], :process 11, :time 28459388139, :index 8995}
{:type :fail, :f :write, :value 3, :process 37, :time 28460198324, :error :connect, :index 8996}
{:type :fail, :f :write, :value 0, :process 33, :time 28460428836, :error :connect, :index 8997}
{:type :invoke, :f :read, :value nil, :process 39, :time 28460619467, :index 8998}
{:type :fail, :f :cas, :value [1 2], :process 32, :time 28461238134, :error :connect, :index 8999}
{:type :fail, :f :cas, :value [4 2], :process 11, :time 28461469586, :error :connect, :index 9000}
{:type :fail, :f :read, :value nil, :process 39, :time 28462590275, :error :connect, :index 9001}
{:type :invoke, :f :read, :value nil, :process 10, :time 28469317745, :index 9002}
{:type :fail, :f :read, :value nil, :process 10, :time 28471179631, :error :connect, :index 9003}
{:type :invoke, :f :write, :value 1, :process 34, :time 28476575087, :index 9004}
{:type :fail, :f :write, :value 1, :process 34, :time 28478636193, :error :connect, :index 9005}
{:type :invoke, :f :read, :value nil, :process 18, :time 28479990539, :index 9006}
{:type :fail, :f :read, :value nil, :process 18, :time 28482025471, :error :connect, :index 9007}
{:type :invoke, :f :cas, :value [4 2], :process 39, :time 28484863062, :index 9008}
{:type :fail, :f :cas, :value [4 2], :process 39, :time 28486894162, :error :connect, :index 9009}
{:type :invoke, :f :write, :value 0, :process 15, :time 28510083650, :index 9012}
{:type :fail, :f :write, :value 0, :process 15, :time 28512152758, :error :connect, :index 9013}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 28536098181, :index 9020}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 28537741761, :error :connect, :index 9021}
{:type :invoke, :f :write, :value 4, :process 18, :time 28548287926, :index 9025}
{:type :fail, :f :write, :value 4, :process 18, :time 28550280339, :error :connect, :index 9027}
{:type :invoke, :f :cas, :value [4 0], :process 11, :time 28555720909, :index 9030}
{:type :fail, :f :cas, :value [4 0], :process 11, :time 28557591968, :error :connect, :index 9031}
{:type :invoke, :f :write, :value 4, :process 37, :time 28573471393, :index 9034}
{:type :fail, :f :write, :value 4, :process 37, :time 28575103475, :error :connect, :index 9035}
{:type :invoke, :f :read, :value nil, :process 39, :time 28581164899, :index 9037}
{:type :fail, :f :read, :value nil, :process 39, :time 28582925122, :error :connect, :index 9039}
{:type :invoke, :f :cas, :value [3 3], :process 34, :time 28585911073, :index 9040}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 28587428851, :index 9041}
{:type :fail, :f :cas, :value [3 3], :process 34, :time 28587584635, :error :connect, :index 9042}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 28589513013, :error :connect, :index 9043}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 28591451604, :index 9044}
{:type :fail, :f :cas, :value [3 0], :process 10, :time 28593499398, :error :connect, :index 9045}
{:type :invoke, :f :cas, :value [3 4], :process 33, :time 28595660906, :index 9046}
{:type :fail, :f :cas, :value [3 4], :process 33, :time 28597733401, :error :connect, :index 9047}
{:type :invoke, :f :write, :value 2, :process 15, :time 28600783294, :index 9050}
{:type :fail, :f :write, :value 2, :process 15, :time 28602826984, :error :connect, :index 9051}
{:type :invoke, :f :read, :value nil, :process 32, :time 28604495277, :index 9052}
{:type :fail, :f :read, :value nil, :process 32, :time 28606369454, :error :connect, :index 9053}
{:type :invoke, :f :cas, :value [4 0], :process 15, :time 28632086283, :index 9058}
{:type :invoke, :f :write, :value 2, :process 10, :time 28632787406, :index 9059}
{:type :fail, :f :cas, :value [4 0], :process 15, :time 28634180841, :error :connect, :index 9060}
{:type :fail, :f :write, :value 2, :process 10, :time 28634579578, :error :connect, :index 9061}
{:type :invoke, :f :write, :value 4, :process 10, :time 28682863718, :index 9075}
{:type :fail, :f :write, :value 4, :process 10, :time 28684840282, :error :connect, :index 9077}
{:type :invoke, :f :read, :value nil, :process 33, :time 28686049103, :index 9078}
{:type :fail, :f :read, :value nil, :process 33, :time 28687623298, :error :connect, :index 9079}
{:type :invoke, :f :read, :value nil, :process 15, :time 28690448277, :index 9080}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 28690888523, :index 9081}
{:type :fail, :f :read, :value nil, :process 15, :time 28692410160, :error :connect, :index 9082}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 28692838236, :error :connect, :index 9083}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 28702004011, :index 9084}
{:type :fail, :f :cas, :value [0 0], :process 36, :time 28703894742, :error :connect, :index 9086}
{:type :invoke, :f :read, :value nil, :process 11, :time 28717091098, :index 9090}
{:type :invoke, :f :write, :value 3, :process 33, :time 28717887017, :index 9091}
{:type :fail, :f :read, :value nil, :process 11, :time 28718964155, :error :connect, :index 9092}
{:type :fail, :f :write, :value 3, :process 33, :time 28719752009, :error :connect, :index 9093}
{:type :invoke, :f :read, :value nil, :process 18, :time 28730519716, :index 9098}
{:type :fail, :f :read, :value nil, :process 18, :time 28732376732, :error :connect, :index 9099}
{:type :invoke, :f :cas, :value [2 1], :process 37, :time 28754370614, :index 9110}
{:type :fail, :f :cas, :value [2 1], :process 37, :time 28756042203, :error :connect, :index 9111}
{:type :invoke, :f :cas, :value [0 1], :process 10, :time 28760114809, :index 9112}
{:type :fail, :f :cas, :value [0 1], :process 10, :time 28761743694, :error :connect, :index 9113}
{:type :invoke, :f :read, :value nil, :process 39, :time 28763183160, :index 9114}
{:type :fail, :f :read, :value nil, :process 39, :time 28765194458, :error :connect, :index 9115}
{:type :invoke, :f :cas, :value [2 4], :process 34, :time 28769834739, :index 9116}
{:type :fail, :f :cas, :value [2 4], :process 34, :time 28771655956, :error :connect, :index 9118}
{:type :invoke, :f :read, :value nil, :process 18, :time 28774642867, :index 9120}
{:type :fail, :f :read, :value nil, :process 18, :time 28776259756, :error :connect, :index 9121}
{:type :invoke, :f :read, :value nil, :process 37, :time 28791311337, :index 9124}
{:type :fail, :f :read, :value nil, :process 37, :time 28793168531, :error :connect, :index 9125}
{:type :invoke, :f :cas, :value [1 1], :process 32, :time 28802634708, :index 9126}
{:type :fail, :f :cas, :value [1 1], :process 32, :time 28804699918, :error :connect, :index 9127}
{:type :invoke, :f :read, :value nil, :process 33, :time 28826013609, :index 9133}
{:type :fail, :f :read, :value nil, :process 33, :time 28828301545, :error :connect, :index 9138}
{:type :invoke, :f :read, :value nil, :process 36, :time 28857156381, :index 9146}
{:type :fail, :f :read, :value nil, :process 36, :time 28858836129, :error :connect, :index 9147}
{:type :invoke, :f :write, :value 2, :process 33, :time 28868595270, :index 9150}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 28870683753, :index 9153}
{:type :fail, :f :write, :value 2, :process 33, :time 28870873869, :error :connect, :index 9154}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 28872874544, :error :connect, :index 9155}
{:type :invoke, :f :read, :value nil, :process 34, :time 28876933797, :index 9156}
{:type :fail, :f :read, :value nil, :process 34, :time 28878753565, :error :connect, :index 9157}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 28888548755, :index 9160}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 28890655105, :error :connect, :index 9161}
{:type :invoke, :f :cas, :value [0 4], :process 11, :time 28891233764, :index 9162}
{:type :fail, :f :cas, :value [0 4], :process 11, :time 28893322143, :error :connect, :index 9163}
{:type :invoke, :f :write, :value 4, :process 10, :time 28899008864, :index 9166}
{:type :fail, :f :write, :value 4, :process 10, :time 28901095036, :error :connect, :index 9169}
{:type :invoke, :f :write, :value 2, :process 37, :time 28928427855, :index 9176}
{:type :fail, :f :write, :value 2, :process 37, :time 28930291624, :error :connect, :index 9177}
{:type :invoke, :f :cas, :value [0 3], :process 37, :time 28934562667, :index 9178}
{:type :invoke, :f :read, :value nil, :process 10, :time 28935332146, :index 9179}
{:type :fail, :f :cas, :value [0 3], :process 37, :time 28936609284, :error :connect, :index 9180}
{:type :fail, :f :read, :value nil, :process 10, :time 28937361126, :error :connect, :index 9181}
{:type :invoke, :f :read, :value nil, :process 39, :time 28937450393, :index 9182}
{:type :fail, :f :read, :value nil, :process 39, :time 28939315276, :error :connect, :index 9183}
{:type :invoke, :f :cas, :value [1 0], :process 18, :time 28955968639, :index 9187}
{:type :invoke, :f :write, :value 1, :process 10, :time 28956705320, :index 9188}
{:type :fail, :f :cas, :value [1 0], :process 18, :time 28957841882, :error :connect, :index 9190}
{:type :fail, :f :write, :value 1, :process 10, :time 28958517732, :error :connect, :index 9191}
{:type :invoke, :f :cas, :value [3 3], :process 36, :time 28965098640, :index 9196}
{:type :fail, :f :cas, :value [3 3], :process 36, :time 28966998549, :error :connect, :index 9197}
{:type :invoke, :f :cas, :value [2 1], :process 32, :time 28968969618, :index 9198}
{:type :fail, :f :cas, :value [2 1], :process 32, :time 28970616819, :error :connect, :index 9199}
{:type :invoke, :f :read, :value nil, :process 32, :time 28975897118, :index 9200}
{:type :fail, :f :read, :value nil, :process 32, :time 28977773083, :error :connect, :index 9201}
{:type :invoke, :f :write, :value 2, :process 34, :time 28982018024, :index 9202}
{:type :fail, :f :write, :value 2, :process 34, :time 28983822371, :error :connect, :index 9203}
{:type :invoke, :f :write, :value 2, :process 37, :time 28986882599, :index 9204}
{:type :fail, :f :write, :value 2, :process 37, :time 28988731375, :error :connect, :index 9205}
{:type :invoke, :f :read, :value nil, :process 36, :time 28992263361, :index 9206}
{:type :fail, :f :read, :value nil, :process 36, :time 28994156445, :error :connect, :index 9207}
{:type :invoke, :f :cas, :value [4 1], :process 10, :time 29013796951, :index 9211}
{:type :fail, :f :cas, :value [4 1], :process 10, :time 29015762181, :error :connect, :index 9213}
{:type :invoke, :f :read, :value nil, :process 39, :time 29019601302, :index 9214}
{:type :fail, :f :read, :value nil, :process 39, :time 29021408112, :error :connect, :index 9216}
{:type :invoke, :f :cas, :value [4 1], :process 11, :time 29046591949, :index 9222}
{:type :fail, :f :cas, :value [4 1], :process 11, :time 29048547005, :error :connect, :index 9224}
{:type :invoke, :f :read, :value nil, :process 33, :time 29052115744, :index 9226}
{:type :fail, :f :read, :value nil, :process 33, :time 29054119075, :error :connect, :index 9229}
{:type :invoke, :f :read, :value nil, :process 15, :time 29069149636, :index 9232}
{:type :fail, :f :read, :value nil, :process 15, :time 29070808915, :error :connect, :index 9233}
{:type :invoke, :f :read, :value nil, :process 36, :time 29078421516, :index 9236}
{:type :fail, :f :read, :value nil, :process 36, :time 29080310494, :error :connect, :index 9237}
{:type :invoke, :f :read, :value nil, :process 18, :time 29093094174, :index 9238}
{:type :fail, :f :read, :value nil, :process 18, :time 29095166366, :error :connect, :index 9239}
{:type :invoke, :f :read, :value nil, :process 34, :time 29100089324, :index 9242}
{:type :fail, :f :read, :value nil, :process 34, :time 29102092355, :error :connect, :index 9243}
{:type :invoke, :f :write, :value 3, :process 37, :time 29132993259, :index 9256}
{:type :fail, :f :write, :value 3, :process 37, :time 29134651458, :error :connect, :index 9257}
{:type :invoke, :f :read, :value nil, :process 32, :time 29164031838, :index 9262}
{:type :fail, :f :read, :value nil, :process 32, :time 29165910030, :error :connect, :index 9264}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
