{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :invoke, :f :read, :value nil, :process 48, :time 43913638246, :index 9202}
{:type :ok, :f :read, :value nil, :process 48, :time 43919099992, :index 9204}
{:type :invoke, :f :cas, :value [1 2], :process 48, :time 43940369367, :index 9215}
{:type :fail, :f :cas, :value [1 2], :process 48, :time 43945080336, :error :not-found, :index 9218}
{:type :invoke, :f :cas, :value [2 2], :process 47, :time 44001995167, :index 9231}
{:type :fail, :f :cas, :value [2 2], :process 47, :time 44008428380, :error :not-found, :index 9233}
{:type :invoke, :f :cas, :value [2 4], :process 47, :time 44055569637, :index 9246}
{:type :fail, :f :cas, :value [2 4], :process 47, :time 44061433411, :error :not-found, :index 9247}
{:type :invoke, :f :write, :value 0, :process 43, :time 44069807189, :index 9253}
{:type :invoke, :f :read, :value nil, :process 5, :time 44074768049, :index 9256}
{:type :ok, :f :write, :value 0, :process 43, :time 44075129818, :index 9257}
{:type :ok, :f :read, :value 0, :process 5, :time 44079486082, :index 9259}
{:type :invoke, :f :cas, :value [2 0], :process 24, :time 44083298424, :index 9260}
{:type :fail, :f :cas, :value [2 0], :process 24, :time 44089069297, :index 9263}
{:type :invoke, :f :cas, :value [1 4], :process 48, :time 44090391490, :index 9265}
{:type :invoke, :f :read, :value nil, :process 29, :time 44092901985, :index 9267}
{:type :fail, :f :cas, :value [1 4], :process 48, :time 44095801810, :index 9270}
{:type :ok, :f :read, :value 0, :process 29, :time 44097715705, :index 9271}
{:type :invoke, :f :write, :value 4, :process 1, :time 44100115372, :index 9272}
{:type :ok, :f :write, :value 4, :process 1, :time 44107242692, :index 9274}
{:type :invoke, :f :read, :value nil, :process 29, :time 44113006641, :index 9276}
{:type :ok, :f :read, :value 4, :process 29, :time 44118552709, :index 9277}
{:type :invoke, :f :read, :value nil, :process 0, :time 44149975281, :index 9280}
{:type :ok, :f :read, :value 4, :process 0, :time 44155101680, :index 9282}
{:type :invoke, :f :read, :value nil, :process 1, :time 44166521601, :index 9284}
{:type :invoke, :f :read, :value nil, :process 24, :time 44169359552, :index 9285}
{:type :ok, :f :read, :value 4, :process 1, :time 44171589112, :index 9286}
{:type :ok, :f :read, :value 4, :process 24, :time 44174202639, :index 9287}
{:type :invoke, :f :cas, :value [3 0], :process 26, :time 44176621206, :index 9288}
{:type :invoke, :f :write, :value 3, :process 22, :time 44177998077, :index 9289}
{:type :fail, :f :cas, :value [3 0], :process 26, :time 44181644754, :index 9290}
{:type :ok, :f :write, :value 3, :process 22, :time 44183260321, :index 9291}
{:type :invoke, :f :write, :value 4, :process 43, :time 44193412389, :index 9292}
{:type :invoke, :f :cas, :value [0 1], :process 24, :time 44194464363, :index 9293}
{:type :ok, :f :write, :value 4, :process 43, :time 44198959358, :index 9295}
{:type :invoke, :f :cas, :value [3 4], :process 47, :time 44199318133, :index 9296}
{:type :fail, :f :cas, :value [0 1], :process 24, :time 44200707195, :index 9297}
{:type :fail, :f :cas, :value [3 4], :process 47, :time 44205982069, :index 9299}
{:type :invoke, :f :cas, :value [3 2], :process 0, :time 44210375090, :index 9300}
{:type :fail, :f :cas, :value [3 2], :process 0, :time 44215103065, :index 9302}
{:type :invoke, :f :read, :value nil, :process 0, :time 44215233339, :index 9303}
{:type :invoke, :f :write, :value 0, :process 24, :time 44218967713, :index 9304}
{:type :ok, :f :read, :value 4, :process 0, :time 44220094258, :index 9306}
{:type :invoke, :f :cas, :value [1 2], :process 26, :time 44220917742, :index 9309}
{:type :ok, :f :write, :value 0, :process 24, :time 44226527681, :index 9312}
{:type :fail, :f :cas, :value [1 2], :process 26, :time 44227140591, :index 9313}
{:type :invoke, :f :write, :value 4, :process 29, :time 44255838172, :index 9323}
{:type :invoke, :f :read, :value nil, :process 5, :time 44260761731, :index 9326}
{:type :ok, :f :write, :value 4, :process 29, :time 44261695639, :index 9329}
{:type :ok, :f :read, :value 4, :process 5, :time 44265179807, :index 9331}
{:type :invoke, :f :read, :value nil, :process 1, :time 44276845342, :index 9335}
{:type :ok, :f :read, :value 4, :process 1, :time 44282035061, :index 9337}
{:type :invoke, :f :cas, :value [1 2], :process 48, :time 44292059033, :index 9339}
{:type :fail, :f :cas, :value [1 2], :process 48, :time 44298572505, :index 9341}
{:type :invoke, :f :write, :value 0, :process 48, :time 44302867996, :index 9344}
{:type :ok, :f :write, :value 0, :process 48, :time 44307388063, :index 9346}
{:type :invoke, :f :cas, :value [1 2], :process 48, :time 44307521159, :index 9347}
{:type :fail, :f :cas, :value [1 2], :process 48, :time 44312873650, :index 9349}
{:type :invoke, :f :read, :value nil, :process 1, :time 44318284047, :index 9350}
{:type :ok, :f :read, :value 0, :process 1, :time 44323466016, :index 9351}
{:type :invoke, :f :read, :value nil, :process 0, :time 44339451979, :index 9352}
{:type :ok, :f :read, :value 0, :process 0, :time 44343874514, :index 9353}
{:type :invoke, :f :read, :value nil, :process 26, :time 44352407561, :index 9355}
{:type :invoke, :f :read, :value nil, :process 22, :time 44354523820, :index 9357}
{:type :ok, :f :read, :value 0, :process 26, :time 44357242233, :index 9358}
{:type :ok, :f :read, :value 0, :process 22, :time 44359597602, :index 9359}
{:type :invoke, :f :read, :value nil, :process 26, :time 44376532081, :index 9364}
{:type :ok, :f :read, :value 0, :process 26, :time 44382065922, :index 9368}
{:type :invoke, :f :read, :value nil, :process 43, :time 44390235018, :index 9372}
{:type :invoke, :f :read, :value nil, :process 5, :time 44392451490, :index 9373}
{:type :invoke, :f :write, :value 2, :process 24, :time 44393755364, :index 9374}
{:type :ok, :f :read, :value 0, :process 43, :time 44395311535, :index 9376}
{:type :ok, :f :read, :value 0, :process 5, :time 44396894708, :index 9377}
{:type :invoke, :f :read, :value nil, :process 47, :time 44398253809, :index 9378}
{:type :ok, :f :write, :value 2, :process 24, :time 44398384782, :index 9379}
{:type :invoke, :f :write, :value 2, :process 48, :time 44400154275, :index 9381}
{:type :invoke, :f :write, :value 0, :process 0, :time 44401153639, :index 9382}
{:type :ok, :f :read, :value 2, :process 47, :time 44403124866, :index 9383}
{:type :ok, :f :write, :value 2, :process 48, :time 44405570721, :index 9385}
{:type :ok, :f :write, :value 0, :process 0, :time 44405938351, :index 9386}
{:type :invoke, :f :cas, :value [2 3], :process 47, :time 44422384876, :index 9389}
{:type :fail, :f :cas, :value [2 3], :process 47, :time 44428276513, :index 9392}
{:type :invoke, :f :write, :value 4, :process 43, :time 44432571941, :index 9395}
{:type :ok, :f :write, :value 4, :process 43, :time 44437327331, :index 9398}
{:type :invoke, :f :write, :value 4, :process 29, :time 44454936272, :index 9404}
{:type :ok, :f :write, :value 4, :process 29, :time 44460333223, :index 9405}
{:type :invoke, :f :read, :value nil, :process 22, :time 44460850900, :index 9406}
{:type :invoke, :f :read, :value nil, :process 24, :time 44461624469, :index 9407}
{:type :ok, :f :read, :value 4, :process 22, :time 44466202025, :index 9408}
{:type :ok, :f :read, :value 4, :process 24, :time 44466736102, :index 9409}
{:type :invoke, :f :cas, :value [2 2], :process 47, :time 44469542994, :index 9410}
{:type :fail, :f :cas, :value [2 2], :process 47, :time 44475217976, :index 9412}
{:type :invoke, :f :cas, :value [3 2], :process 48, :time 44488815741, :index 9414}
{:type :fail, :f :cas, :value [3 2], :process 48, :time 44494062536, :index 9415}
{:type :invoke, :f :cas, :value [4 3], :process 26, :time 44495329537, :index 9416}
{:type :ok, :f :cas, :value [4 3], :process 26, :time 44499779883, :index 9417}
{:type :invoke, :f :read, :value nil, :process 1, :time 44500726646, :index 9419}
{:type :ok, :f :read, :value 3, :process 1, :time 44505510132, :index 9420}
{:type :invoke, :f :write, :value 3, :process 29, :time 44527597435, :index 9428}
{:type :ok, :f :write, :value 3, :process 29, :time 44533290002, :index 9431}
{:type :invoke, :f :write, :value 4, :process 5, :time 44535151639, :index 9432}
{:type :ok, :f :write, :value 4, :process 5, :time 44539040782, :index 9433}
{:type :invoke, :f :write, :value 4, :process 24, :time 44542961399, :index 9434}
{:type :ok, :f :write, :value 4, :process 24, :time 44548261853, :index 9435}
{:type :invoke, :f :cas, :value [4 3], :process 1, :time 44552781737, :index 9436}
{:type :invoke, :f :write, :value 0, :process 26, :time 44558044266, :index 9437}
{:type :ok, :f :cas, :value [4 3], :process 1, :time 44558463306, :index 9438}
{:type :invoke, :f :cas, :value [2 2], :process 47, :time 44558597457, :index 9439}
{:type :ok, :f :write, :value 0, :process 26, :time 44563834675, :index 9441}
{:type :fail, :f :cas, :value [2 2], :process 47, :time 44565060243, :index 9442}
{:type :invoke, :f :write, :value 2, :process 43, :time 44572586645, :index 9445}
{:type :ok, :f :write, :value 2, :process 43, :time 44577659040, :index 9447}
{:type :invoke, :f :cas, :value [1 2], :process 48, :time 44595353501, :index 9453}
{:type :fail, :f :cas, :value [1 2], :process 48, :time 44600604720, :index 9457}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 44601176045, :index 9458}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 44605572979, :index 9461}
{:type :invoke, :f :cas, :value [0 1], :process 48, :time 44652878563, :index 9468}
{:type :invoke, :f :read, :value nil, :process 22, :time 44657458825, :index 9469}
{:type :fail, :f :cas, :value [0 1], :process 48, :time 44658443083, :index 9470}
{:type :invoke, :f :write, :value 0, :process 29, :time 44658589322, :index 9471}
{:type :invoke, :f :read, :value nil, :process 0, :time 44659782395, :index 9472}
{:type :ok, :f :read, :value 2, :process 22, :time 44662659903, :index 9473}
{:type :invoke, :f :cas, :value [1 3], :process 26, :time 44664096379, :index 9474}
{:type :ok, :f :write, :value 0, :process 29, :time 44664438792, :index 9475}
{:type :ok, :f :read, :value 0, :process 0, :time 44664554083, :index 9476}
{:type :invoke, :f :read, :value nil, :process 0, :time 44665794010, :index 9477}
{:type :invoke, :f :cas, :value [2 0], :process 22, :time 44667915488, :index 9478}
{:type :ok, :f :read, :value 0, :process 0, :time 44670015971, :index 9479}
{:type :fail, :f :cas, :value [1 3], :process 26, :time 44670947189, :index 9480}
{:type :fail, :f :cas, :value [2 0], :process 22, :time 44673056835, :index 9482}
{:type :invoke, :f :cas, :value [1 1], :process 5, :time 44687324202, :index 9484}
{:type :invoke, :f :write, :value 2, :process 29, :time 44697687014, :index 9487}
{:type :fail, :f :cas, :value [1 1], :process 5, :time 44700553165, :index 9490}
{:type :ok, :f :write, :value 2, :process 29, :time 44702853335, :index 9491}
{:type :invoke, :f :read, :value nil, :process 48, :time 44718706197, :index 9492}
{:type :ok, :f :read, :value 2, :process 48, :time 44724508337, :index 9493}
{:type :invoke, :f :read, :value nil, :process 47, :time 44731352185, :index 9494}
{:type :invoke, :f :write, :value 2, :process 24, :time 44735528893, :index 9495}
{:type :ok, :f :read, :value 2, :process 47, :time 44736585821, :index 9496}
{:type :ok, :f :write, :value 2, :process 24, :time 44740182759, :index 9497}
{:type :invoke, :f :read, :value nil, :process 48, :time 44740907699, :index 9499}
{:type :ok, :f :read, :value 2, :process 48, :time 44746523002, :index 9501}
{:type :invoke, :f :read, :value nil, :process 1, :time 44752707732, :index 9502}
{:type :ok, :f :read, :value 2, :process 1, :time 44757253243, :index 9503}
{:type :invoke, :f :cas, :value [2 1], :process 29, :time 44767111300, :index 9507}
{:type :ok, :f :cas, :value [2 1], :process 29, :time 44771831321, :index 9510}
{:type :invoke, :f :cas, :value [1 3], :process 43, :time 44772954726, :index 9512}
{:type :ok, :f :cas, :value [1 3], :process 43, :time 44778707919, :index 9515}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 44783272635, :index 9518}
{:type :invoke, :f :write, :value 1, :process 5, :time 44783784467, :index 9519}
{:type :invoke, :f :read, :value nil, :process 29, :time 44788105581, :index 9521}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 44788606077, :index 9522}
{:type :ok, :f :write, :value 1, :process 5, :time 44789021145, :index 9523}
{:type :ok, :f :read, :value 1, :process 29, :time 44793105501, :index 9526}
{:type :invoke, :f :read, :value nil, :process 24, :time 44820518563, :index 9531}
{:type :ok, :f :read, :value 1, :process 24, :time 44826354909, :index 9533}
{:type :invoke, :f :cas, :value [0 2], :process 26, :time 44853274920, :index 9543}
{:type :fail, :f :cas, :value [0 2], :process 26, :time 44859691610, :index 9547}
{:type :invoke, :f :read, :value nil, :process 22, :time 44860225608, :index 9548}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 44861295208, :index 9549}
{:type :invoke, :f :cas, :value [4 3], :process 48, :time 44864771045, :index 9550}
{:type :ok, :f :read, :value 1, :process 22, :time 44865246810, :index 9551}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 44866427781, :index 9552}
{:type :fail, :f :cas, :value [4 3], :process 48, :time 44870091980, :index 9553}
{:type :invoke, :f :cas, :value [4 1], :process 1, :time 44879509863, :index 9554}
{:type :invoke, :f :cas, :value [2 3], :process 24, :time 44882593283, :index 9557}
{:type :fail, :f :cas, :value [4 1], :process 1, :time 44885129365, :index 9558}
{:type :fail, :f :cas, :value [2 3], :process 24, :time 44889005040, :index 9561}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 44893854967, :index 9562}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 44898506579, :index 9563}
{:type :invoke, :f :read, :value nil, :process 47, :time 44899888293, :index 9565}
{:type :ok, :f :read, :value 1, :process 47, :time 44906117616, :index 9567}
{:type :invoke, :f :cas, :value [1 4], :process 48, :time 44925366114, :index 9570}
{:type :ok, :f :cas, :value [1 4], :process 48, :time 44930394557, :index 9573}
{:type :invoke, :f :write, :value 4, :process 1, :time 44947394594, :index 9576}
{:type :ok, :f :write, :value 4, :process 1, :time 44952655323, :index 9577}
{:type :invoke, :f :cas, :value [3 1], :process 29, :time 44953392075, :index 9578}
{:type :fail, :f :cas, :value [3 1], :process 29, :time 44959106502, :index 9580}
{:type :invoke, :f :write, :value 3, :process 43, :time 44970972862, :index 9585}
{:type :ok, :f :write, :value 3, :process 43, :time 44975426059, :index 9587}
{:type :invoke, :f :read, :value nil, :process 47, :time 45006382091, :index 9591}
{:type :invoke, :f :cas, :value [0 3], :process 43, :time 45010677255, :index 9593}
{:type :ok, :f :read, :value 3, :process 47, :time 45011015667, :index 9594}
{:type :fail, :f :cas, :value [0 3], :process 43, :time 45016436164, :index 9596}
{:type :invoke, :f :write, :value 1, :process 26, :time 45037959202, :index 9599}
{:type :invoke, :f :read, :value nil, :process 5, :time 45041682438, :index 9601}
{:type :ok, :f :write, :value 1, :process 26, :time 45043962980, :index 9602}
{:type :ok, :f :read, :value 1, :process 5, :time 45046228666, :index 9604}
{:type :invoke, :f :cas, :value [0 1], :process 22, :time 45056512330, :index 9606}
{:type :invoke, :f :cas, :value [3 1], :process 24, :time 45059276422, :index 9608}
{:type :fail, :f :cas, :value [0 1], :process 22, :time 45062045348, :index 9609}
{:type :fail, :f :cas, :value [3 1], :process 24, :time 45064824335, :index 9611}
{:type :invoke, :f :cas, :value [3 4], :process 48, :time 45071662904, :index 9615}
{:type :fail, :f :cas, :value [3 4], :process 48, :time 45077259553, :index 9618}
{:type :invoke, :f :write, :value 2, :process 0, :time 45089766951, :index 9622}
{:type :ok, :f :write, :value 2, :process 0, :time 45094250873, :index 9623}
{:type :invoke, :f :read, :value nil, :process 29, :time 45102378072, :index 9626}
{:type :ok, :f :read, :value 2, :process 29, :time 45109020747, :index 9630}
{:type :invoke, :f :cas, :value [1 2], :process 1, :time 45113912320, :index 9632}
{:type :fail, :f :cas, :value [1 2], :process 1, :time 45118833415, :index 9634}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
