{:type :invoke, :f :write, :value 4, :process 14, :time 4276680866, :index 1157}
{:type :ok, :f :write, :value 4, :process 14, :time 4282664927, :index 1159}
{:type :invoke, :f :cas, :value [1 3], :process 17, :time 4311152685, :index 1172}
{:type :fail, :f :cas, :value [1 3], :process 17, :time 4316285287, :index 1174}
{:type :invoke, :f :write, :value 2, :process 10, :time 4336410366, :index 1176}
{:type :ok, :f :write, :value 2, :process 10, :time 4341704223, :index 1177}
{:type :invoke, :f :read, :value nil, :process 18, :time 4358350709, :index 1182}
{:type :ok, :f :read, :value 2, :process 18, :time 4363961971, :index 1185}
{:type :invoke, :f :write, :value 4, :process 18, :time 4372248380, :index 1188}
{:type :ok, :f :write, :value 4, :process 18, :time 4377565865, :index 1190}
{:type :invoke, :f :cas, :value [3 2], :process 17, :time 4392546219, :index 1194}
{:type :fail, :f :cas, :value [3 2], :process 17, :time 4397402866, :index 1196}
{:type :invoke, :f :cas, :value [3 4], :process 13, :time 4415917584, :index 1203}
{:type :invoke, :f :write, :value 0, :process 14, :time 4416950179, :index 1204}
{:type :fail, :f :cas, :value [3 4], :process 13, :time 4421486377, :index 1205}
{:type :ok, :f :write, :value 0, :process 14, :time 4421837556, :index 1207}
{:type :invoke, :f :cas, :value [4 2], :process 17, :time 4425661796, :index 1208}
{:type :invoke, :f :write, :value 3, :process 15, :time 4429611436, :index 1209}
{:type :fail, :f :cas, :value [4 2], :process 17, :time 4430473947, :index 1210}
{:type :ok, :f :write, :value 3, :process 15, :time 4435225562, :index 1211}
{:type :invoke, :f :read, :value nil, :process 18, :time 4437826735, :index 1212}
{:type :ok, :f :read, :value 3, :process 18, :time 4442169368, :index 1214}
{:type :invoke, :f :read, :value nil, :process 12, :time 4485454957, :index 1222}
{:type :ok, :f :read, :value 3, :process 12, :time 4490099656, :index 1223}
{:type :invoke, :f :read, :value nil, :process 13, :time 4510723249, :index 1226}
{:type :ok, :f :read, :value 3, :process 13, :time 4515494784, :index 1228}
{:type :invoke, :f :write, :value 2, :process 11, :time 4515891620, :index 1229}
{:type :invoke, :f :write, :value 3, :process 10, :time 4516011090, :index 1230}
{:type :invoke, :f :write, :value 4, :process 16, :time 4516742373, :index 1231}
{:type :ok, :f :write, :value 2, :process 11, :time 4521484310, :index 1233}
{:type :ok, :f :write, :value 3, :process 10, :time 4521549798, :index 1234}
{:type :ok, :f :write, :value 4, :process 16, :time 4522129654, :index 1235}
{:type :invoke, :f :write, :value 0, :process 19, :time 4526083177, :index 1237}
{:type :invoke, :f :cas, :value [4 0], :process 14, :time 4526080166, :index 1238}
{:type :invoke, :f :cas, :value [1 2], :process 11, :time 4530726186, :index 1240}
{:type :ok, :f :write, :value 0, :process 19, :time 4532435172, :index 1241}
{:type :fail, :f :cas, :value [4 0], :process 14, :time 4532995289, :index 1242}
{:type :fail, :f :cas, :value [1 2], :process 11, :time 4535785829, :index 1243}
{:type :invoke, :f :read, :value nil, :process 16, :time 4579375145, :index 1256}
{:type :ok, :f :read, :value 0, :process 16, :time 4584278876, :index 1262}
{:type :invoke, :f :write, :value 2, :process 15, :time 4591494657, :index 1269}
{:type :invoke, :f :read, :value nil, :process 17, :time 4596736541, :index 1274}
{:type :ok, :f :write, :value 2, :process 15, :time 4597040850, :index 1275}
{:type :ok, :f :read, :value 2, :process 17, :time 4601299318, :index 1277}
{:type :invoke, :f :write, :value 1, :process 14, :time 4610236710, :index 1278}
{:type :ok, :f :write, :value 1, :process 14, :time 4615582120, :index 1279}
{:type :invoke, :f :read, :value nil, :process 11, :time 4635041507, :index 1282}
{:type :invoke, :f :read, :value nil, :process 13, :time 4638756896, :index 1285}
{:type :invoke, :f :write, :value 2, :process 18, :time 4640456385, :index 1286}
{:type :ok, :f :read, :value 1, :process 11, :time 4640613498, :index 1287}
{:type :ok, :f :read, :value 1, :process 13, :time 4643785899, :index 1288}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 4643861738, :index 1289}
{:type :ok, :f :write, :value 2, :process 18, :time 4645732416, :index 1290}
{:type :invoke, :f :cas, :value [1 0], :process 19, :time 4645745284, :index 1291}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 4649908434, :index 1292}
{:type :fail, :f :cas, :value [1 0], :process 19, :time 4651289845, :index 1293}
{:type :invoke, :f :cas, :value [2 3], :process 19, :time 4657565559, :index 1297}
{:type :ok, :f :cas, :value [2 3], :process 19, :time 4663853970, :index 1299}
{:type :invoke, :f :cas, :value [2 2], :process 17, :time 4677534502, :index 1300}
{:type :fail, :f :cas, :value [2 2], :process 17, :time 4682619556, :index 1301}
{:type :invoke, :f :write, :value 0, :process 12, :time 4685361135, :index 1302}
{:type :invoke, :f :write, :value 0, :process 10, :time 4685792878, :index 1303}
{:type :invoke, :f :cas, :value [1 2], :process 15, :time 4687279536, :index 1304}
{:type :invoke, :f :write, :value 1, :process 16, :time 4687555400, :index 1305}
{:type :ok, :f :write, :value 0, :process 12, :time 4690006519, :index 1306}
{:type :ok, :f :write, :value 0, :process 10, :time 4692443756, :index 1307}
{:type :fail, :f :cas, :value [1 2], :process 15, :time 4693039261, :index 1308}
{:type :ok, :f :write, :value 1, :process 16, :time 4693527779, :index 1309}
{:type :invoke, :f :cas, :value [3 3], :process 19, :time 4705109706, :index 1313}
{:type :fail, :f :cas, :value [3 3], :process 19, :time 4716830233, :index 1317}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 4726021610, :index 1322}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 4731362111, :index 1323}
{:type :invoke, :f :write, :value 4, :process 17, :time 4739908825, :index 1324}
{:type :ok, :f :write, :value 4, :process 17, :time 4745163644, :index 1327}
{:type :invoke, :f :write, :value 4, :process 16, :time 4750814349, :index 1330}
{:type :ok, :f :write, :value 4, :process 16, :time 4755353632, :index 1332}
{:type :invoke, :f :cas, :value [2 2], :process 11, :time 4760181756, :index 1334}
{:type :invoke, :f :cas, :value [4 2], :process 13, :time 4761074501, :index 1335}
{:type :fail, :f :cas, :value [2 2], :process 11, :time 4765658325, :index 1337}
{:type :ok, :f :cas, :value [4 2], :process 13, :time 4766687187, :index 1338}
{:type :invoke, :f :write, :value 4, :process 14, :time 4774879185, :index 1342}
{:type :invoke, :f :write, :value 4, :process 13, :time 4775944624, :index 1343}
{:type :ok, :f :write, :value 4, :process 13, :time 4780722665, :index 1346}
{:type :ok, :f :write, :value 4, :process 14, :time 4780722665, :index 1347}
{:type :invoke, :f :read, :value nil, :process 17, :time 4784437863, :index 1348}
{:type :ok, :f :read, :value 4, :process 17, :time 4789546782, :index 1350}
{:type :invoke, :f :read, :value nil, :process 19, :time 4799096750, :index 1354}
{:type :invoke, :f :read, :value nil, :process 15, :time 4802285214, :index 1356}
{:type :ok, :f :read, :value 4, :process 19, :time 4804683725, :index 1358}
{:type :ok, :f :read, :value 4, :process 15, :time 4808503709, :index 1361}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 4812711045, :index 1362}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 4815750397, :index 1363}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 4818233850, :index 1364}
{:type :ok, :f :cas, :value [4 2], :process 15, :time 4821094123, :index 1366}
{:type :invoke, :f :read, :value nil, :process 10, :time 4828494137, :index 1368}
{:type :invoke, :f :cas, :value [1 2], :process 12, :time 4829271972, :index 1369}
{:type :ok, :f :read, :value 2, :process 10, :time 4834009152, :index 1371}
{:type :fail, :f :cas, :value [1 2], :process 12, :time 4834043023, :index 1372}
{:type :invoke, :f :read, :value nil, :process 16, :time 4848614962, :index 1376}
{:type :ok, :f :read, :value 2, :process 16, :time 4853223140, :index 1377}
{:type :invoke, :f :cas, :value [0 1], :process 14, :time 4863993661, :index 1378}
{:type :fail, :f :cas, :value [0 1], :process 14, :time 4870018774, :index 1379}
{:type :invoke, :f :cas, :value [1 1], :process 19, :time 4884951079, :index 1381}
{:type :invoke, :f :cas, :value [2 3], :process 15, :time 4885376973, :index 1382}
{:type :fail, :f :cas, :value [1 1], :process 19, :time 4889895372, :index 1384}
{:type :ok, :f :cas, :value [2 3], :process 15, :time 4891559479, :index 1385}
{:type :invoke, :f :write, :value 4, :process 11, :time 4894938407, :index 1386}
{:type :ok, :f :write, :value 4, :process 11, :time 4899686056, :index 1387}
{:type :invoke, :f :write, :value 4, :process 18, :time 4903628417, :index 1390}
{:type :ok, :f :write, :value 4, :process 18, :time 4909087251, :index 1393}
{:type :invoke, :f :cas, :value [3 0], :process 13, :time 4912995406, :index 1394}
{:type :invoke, :f :write, :value 4, :process 18, :time 4913352653, :index 1395}
{:type :invoke, :f :read, :value nil, :process 17, :time 4916922570, :index 1400}
{:type :fail, :f :cas, :value [3 0], :process 13, :time 4919202663, :index 1401}
{:type :ok, :f :write, :value 4, :process 18, :time 4919737265, :index 1402}
{:type :ok, :f :read, :value 4, :process 17, :time 4922254097, :index 1404}
{:type :invoke, :f :read, :value nil, :process 12, :time 4934306503, :index 1410}
{:type :invoke, :f :write, :value 4, :process 15, :time 4935836961, :index 1411}
{:type :invoke, :f :cas, :value [0 4], :process 10, :time 4936316818, :index 1412}
{:type :ok, :f :read, :value 4, :process 12, :time 4938964605, :index 1413}
{:type :ok, :f :write, :value 4, :process 15, :time 4941782870, :index 1415}
{:type :fail, :f :cas, :value [0 4], :process 10, :time 4942248880, :index 1416}
{:type :invoke, :f :read, :value nil, :process 16, :time 4976488687, :index 1420}
{:type :ok, :f :read, :value 4, :process 16, :time 4980981334, :index 1422}
{:type :invoke, :f :write, :value 4, :process 12, :time 4993232733, :index 1425}
{:type :invoke, :f :cas, :value [0 2], :process 17, :time 4996516747, :index 1426}
{:type :ok, :f :write, :value 4, :process 12, :time 4997785881, :index 1428}
{:type :invoke, :f :read, :value nil, :process 11, :time 4999952259, :index 1429}
{:type :fail, :f :cas, :value [0 2], :process 17, :time 5001602262, :index 1430}
{:type :ok, :f :read, :value 4, :process 11, :time 5004460283, :index 1431}
{:type :invoke, :f :write, :value 3, :process 15, :time 5005059932, :index 1432}
{:type :invoke, :f :read, :value nil, :process 12, :time 5007037105, :index 1433}
{:type :invoke, :f :write, :value 1, :process 14, :time 5008324935, :index 1434}
{:type :ok, :f :write, :value 3, :process 15, :time 5010513646, :index 1435}
{:type :ok, :f :read, :value 3, :process 12, :time 5011410684, :index 1436}
{:type :ok, :f :write, :value 1, :process 14, :time 5014386990, :index 1437}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 5021994787, :index 1439}
{:type :fail, :f :cas, :value [3 2], :process 18, :time 5027196865, :index 1441}
{:type :invoke, :f :write, :value 3, :process 13, :time 5053470022, :index 1449}
{:type :ok, :f :write, :value 3, :process 13, :time 5057970868, :index 1451}
{:type :invoke, :f :cas, :value [1 0], :process 15, :time 5062795600, :index 1454}
{:type :fail, :f :cas, :value [1 0], :process 15, :time 5069462700, :index 1457}
{:type :invoke, :f :write, :value 0, :process 17, :time 5071862472, :index 1458}
{:type :ok, :f :write, :value 0, :process 17, :time 5075652408, :index 1459}
{:type :invoke, :f :write, :value 3, :process 14, :time 5080644188, :index 1460}
{:type :invoke, :f :write, :value 3, :process 19, :time 5085154785, :index 1461}
{:type :ok, :f :write, :value 3, :process 14, :time 5085624499, :index 1462}
{:type :ok, :f :write, :value 3, :process 19, :time 5090224565, :index 1463}
{:type :invoke, :f :read, :value nil, :process 11, :time 5095723350, :index 1466}
{:type :ok, :f :read, :value 3, :process 11, :time 5100602878, :index 1470}
{:type :invoke, :f :read, :value nil, :process 13, :time 5106229973, :index 1473}
{:type :ok, :f :read, :value 3, :process 13, :time 5110767183, :index 1475}
{:type :invoke, :f :read, :value nil, :process 10, :time 5116499870, :index 1477}
{:type :invoke, :f :write, :value 0, :process 16, :time 5119246846, :index 1478}
{:type :ok, :f :read, :value 3, :process 10, :time 5122079424, :index 1481}
{:type :ok, :f :write, :value 0, :process 16, :time 5124648408, :index 1483}
{:type :invoke, :f :cas, :value [2 0], :process 17, :time 5127911107, :index 1486}
{:type :fail, :f :cas, :value [2 0], :process 17, :time 5132864663, :index 1487}
{:type :invoke, :f :write, :value 0, :process 19, :time 5148460649, :index 1490}
{:type :ok, :f :write, :value 0, :process 19, :time 5154779620, :index 1493}
{:type :invoke, :f :cas, :value [2 3], :process 13, :time 5163037529, :index 1495}
{:type :invoke, :f :write, :value 0, :process 18, :time 5163469654, :index 1496}
{:type :invoke, :f :write, :value 0, :process 15, :time 5163734579, :index 1497}
{:type :ok, :f :write, :value 0, :process 18, :time 5169395167, :index 1499}
{:type :fail, :f :cas, :value [2 3], :process 13, :time 5169595199, :index 1500}
{:type :ok, :f :write, :value 0, :process 15, :time 5170134547, :index 1501}
{:type :invoke, :f :read, :value nil, :process 12, :time 5176663660, :index 1503}
{:type :invoke, :f :read, :value nil, :process 15, :time 5178362607, :index 1504}
{:type :invoke, :f :cas, :value [3 2], :process 17, :time 5179140560, :index 1506}
{:type :ok, :f :read, :value 0, :process 12, :time 5180646430, :index 1507}
{:type :fail, :f :cas, :value [3 2], :process 17, :time 5183627097, :index 1508}
{:type :ok, :f :read, :value 0, :process 15, :time 5185300406, :index 1509}
{:type :invoke, :f :write, :value 3, :process 16, :time 5194906819, :index 1510}
{:type :ok, :f :write, :value 3, :process 16, :time 5200509063, :index 1511}
{:type :invoke, :f :cas, :value [2 3], :process 18, :time 5200691658, :index 1512}
{:type :fail, :f :cas, :value [2 3], :process 18, :time 5205935893, :index 1513}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 5209193212, :index 1514}
{:type :invoke, :f :write, :value 3, :process 14, :time 5214900388, :index 1515}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 5215013148, :index 1516}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :invoke, :f :write, :value 2, :process 18, :time 5219281073, :index 1520}
{:type :ok, :f :write, :value 2, :process 18, :time 5224698951, :index 1522}
{:type :invoke, :f :cas, :value [3 0], :process 13, :time 5224873683, :index 1523}
{:type :invoke, :f :cas, :value [3 3], :process 15, :time 5228551257, :index 1524}
{:type :invoke, :f :cas, :value [0 1], :process 11, :time 5248865681, :index 1526}
{:type :invoke, :f :read, :value nil, :process 16, :time 5270765352, :index 1527}
{:type :invoke, :f :read, :value nil, :process 17, :time 5296888316, :index 1530}
{:type :invoke, :f :read, :value nil, :process 19, :time 5298068403, :index 1531}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 5300959922, :index 1534}
{:type :invoke, :f :write, :value 3, :process 10, :time 5308353279, :index 1536}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :invoke, :f :read, :value nil, :process 12, :time 5341895624, :index 1540}
{:type :ok, :f :read, :value 3, :process 12, :time 5495226764, :index 1542}
{:type :ok, :f :read, :value 2, :process 17, :time 5495477022, :index 1544}
{:type :ok, :f :write, :value 3, :process 14, :time 5496475413, :index 1548}
{:type :ok, :f :write, :value 3, :process 10, :time 5496546803, :index 1549}
{:type :fail, :f :cas, :value [3 3], :process 15, :time 5497424881, :index 1551}
{:type :ok, :f :read, :value 3, :process 19, :time 5497699811, :index 1552}
{:type :info, :f :cas, :value [3 0], :process 13, :time 10227651338, :error :timeout, :index 2304}
{:type :info, :f :cas, :value [0 1], :process 11, :time 10254951897, :error :timeout, :index 2306}
{:type :fail, :f :read, :value nil, :process 16, :time 10276963338, :error :timeout, :index 2311}
{:type :info, :f :cas, :value [4 1], :process 18, :time 10307351797, :error :timeout, :index 2315}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
