{:type :invoke, :f :write, :value 0, :process 13, :time 54264217, :index 0}
{:type :ok, :f :write, :value 0, :process 13, :time 59947538, :index 1}
{:type :invoke, :f :read, :value nil, :process 18, :time 88833573, :index 2}
{:type :invoke, :f :write, :value 0, :process 10, :time 94007992, :index 3}
{:type :ok, :f :read, :value 0, :process 18, :time 94716001, :index 4}
{:type :ok, :f :write, :value 0, :process 10, :time 98602903, :index 5}
{:type :invoke, :f :cas, :value [0 3], :process 15, :time 109314167, :index 6}
{:type :ok, :f :cas, :value [0 3], :process 15, :time 113904080, :index 8}
{:type :invoke, :f :write, :value 1, :process 11, :time 136184032, :index 11}
{:type :invoke, :f :write, :value 1, :process 18, :time 140968322, :index 13}
{:type :ok, :f :write, :value 1, :process 11, :time 141814457, :index 14}
{:type :invoke, :f :cas, :value [3 4], :process 11, :time 163063233, :index 18}
{:type :invoke, :f :read, :value nil, :process 19, :time 168489419, :index 21}
{:type :fail, :f :cas, :value [3 4], :process 11, :time 169312493, :index 23}
{:type :invoke, :f :cas, :value [1 0], :process 16, :time 171349768, :index 24}
{:type :ok, :f :read, :value 1, :process 19, :time 174106208, :index 28}
{:type :invoke, :f :read, :value nil, :process 17, :time 174297455, :index 29}
{:type :invoke, :f :cas, :value [1 0], :process 14, :time 174267925, :index 30}
{:type :ok, :f :cas, :value [1 0], :process 16, :time 176448099, :index 31}
{:type :invoke, :f :write, :value 2, :process 13, :time 180219277, :index 33}
{:type :fail, :f :cas, :value [1 0], :process 14, :time 181788134, :index 34}
{:type :ok, :f :read, :value 0, :process 17, :time 182343147, :index 35}
{:type :invoke, :f :read, :value nil, :process 17, :time 191625685, :index 38}
{:type :ok, :f :read, :value 0, :process 17, :time 197089077, :index 40}
{:type :invoke, :f :read, :value nil, :process 12, :time 208231754, :index 44}
{:type :invoke, :f :write, :value 3, :process 15, :time 212165972, :index 46}
{:type :ok, :f :read, :value 0, :process 12, :time 214214757, :index 48}
{:type :ok, :f :write, :value 3, :process 15, :time 216574088, :index 49}
{:type :invoke, :f :read, :value nil, :process 14, :time 223048864, :index 52}
{:type :invoke, :f :write, :value 0, :process 10, :time 223861003, :index 53}
{:type :invoke, :f :read, :value nil, :process 12, :time 226465529, :index 55}
{:type :ok, :f :write, :value 0, :process 10, :time 228652626, :index 57}
{:type :ok, :f :read, :value 3, :process 14, :time 228726324, :index 58}
{:type :invoke, :f :write, :value 3, :process 15, :time 229824389, :index 59}
{:type :ok, :f :read, :value 0, :process 12, :time 232028907, :index 61}
{:type :ok, :f :write, :value 3, :process 15, :time 234712470, :index 62}
{:type :invoke, :f :read, :value nil, :process 11, :time 236587117, :index 64}
{:type :ok, :f :read, :value 3, :process 11, :time 241801191, :index 65}
{:type :invoke, :f :cas, :value [3 4], :process 17, :time 250349750, :index 66}
{:type :invoke, :f :cas, :value [1 4], :process 16, :time 250727796, :index 67}
{:type :invoke, :f :read, :value nil, :process 14, :time 252959199, :index 68}
{:type :ok, :f :cas, :value [3 4], :process 17, :time 255557798, :index 69}
{:type :fail, :f :cas, :value [1 4], :process 16, :time 256477147, :index 70}
{:type :ok, :f :read, :value 4, :process 14, :time 257890369, :index 71}
{:type :invoke, :f :write, :value 3, :process 12, :time 271284740, :index 72}
{:type :ok, :f :write, :value 3, :process 12, :time 276613105, :index 73}
{:type :invoke, :f :read, :value nil, :process 10, :time 277917913, :index 74}
{:type :invoke, :f :cas, :value [4 3], :process 12, :time 279894081, :index 75}
{:type :ok, :f :read, :value 3, :process 10, :time 283019021, :index 77}
{:type :invoke, :f :write, :value 2, :process 14, :time 286150379, :index 79}
{:type :fail, :f :cas, :value [4 3], :process 12, :time 286746429, :index 80}
{:type :ok, :f :write, :value 2, :process 14, :time 291786734, :index 81}
{:type :invoke, :f :read, :value nil, :process 16, :time 298739020, :index 82}
{:type :ok, :f :read, :value 2, :process 16, :time 303891063, :index 83}
{:type :invoke, :f :cas, :value [2 1], :process 15, :time 304032174, :index 84}
{:type :ok, :f :cas, :value [2 1], :process 15, :time 308510883, :index 85}
{:type :invoke, :f :cas, :value [0 4], :process 11, :time 313058255, :index 86}
{:type :fail, :f :cas, :value [0 4], :process 11, :time 318792565, :index 88}
{:type :invoke, :f :read, :value nil, :process 19, :time 321337451, :index 90}
{:type :ok, :f :read, :value 1, :process 19, :time 326419452, :index 91}
{:type :invoke, :f :write, :value 2, :process 10, :time 333296130, :index 93}
{:type :ok, :f :write, :value 2, :process 10, :time 337574023, :index 94}
{:type :invoke, :f :read, :value nil, :process 19, :time 345680258, :index 97}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 349771743, :index 100}
{:type :ok, :f :read, :value 2, :process 19, :time 351415137, :index 102}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 354128852, :index 103}
{:type :invoke, :f :cas, :value [4 0], :process 19, :time 369696875, :index 107}
{:type :invoke, :f :write, :value 4, :process 14, :time 376063082, :index 109}
{:type :fail, :f :cas, :value [4 0], :process 19, :time 377003724, :index 110}
{:type :invoke, :f :read, :value nil, :process 16, :time 380142769, :index 111}
{:type :ok, :f :write, :value 4, :process 14, :time 381767940, :index 112}
{:type :ok, :f :read, :value 4, :process 16, :time 385763169, :index 113}
{:type :invoke, :f :write, :value 1, :process 11, :time 406055105, :index 122}
{:type :ok, :f :write, :value 1, :process 11, :time 410991699, :index 123}
{:type :invoke, :f :write, :value 0, :process 17, :time 419861688, :index 126}
{:type :ok, :f :write, :value 0, :process 17, :time 424675941, :index 127}
{:type :invoke, :f :write, :value 3, :process 12, :time 425064515, :index 128}
{:type :ok, :f :write, :value 3, :process 12, :time 430109181, :index 129}
{:type :invoke, :f :read, :value nil, :process 17, :time 437972300, :index 131}
{:type :invoke, :f :write, :value 1, :process 14, :time 443027863, :index 133}
{:type :ok, :f :read, :value 3, :process 17, :time 443718455, :index 134}
{:type :ok, :f :write, :value 1, :process 14, :time 448535590, :index 136}
{:type :invoke, :f :write, :value 4, :process 10, :time 453830231, :index 138}
{:type :ok, :f :write, :value 4, :process 10, :time 458922761, :index 139}
{:type :invoke, :f :write, :value 4, :process 11, :time 479263392, :index 145}
{:type :ok, :f :write, :value 4, :process 11, :time 483935296, :index 147}
{:type :invoke, :f :write, :value 2, :process 19, :time 486266124, :index 148}
{:type :ok, :f :write, :value 2, :process 19, :time 491262703, :index 150}
{:type :invoke, :f :cas, :value [2 2], :process 16, :time 506066342, :index 154}
{:type :ok, :f :cas, :value [2 2], :process 16, :time 512492709, :index 157}
{:type :invoke, :f :read, :value nil, :process 17, :time 520968715, :index 158}
{:type :ok, :f :read, :value 2, :process 17, :time 525729053, :index 159}
{:type :invoke, :f :read, :value nil, :process 15, :time 542383843, :index 160}
{:type :ok, :f :read, :value 2, :process 15, :time 546944352, :index 161}
{:type :invoke, :f :cas, :value [3 3], :process 16, :time 577732301, :index 167}
{:type :fail, :f :cas, :value [3 3], :process 16, :time 583078154, :index 169}
{:type :invoke, :f :read, :value nil, :process 19, :time 596547088, :index 170}
{:type :invoke, :f :read, :value nil, :process 10, :time 600224004, :index 173}
{:type :ok, :f :read, :value 2, :process 19, :time 601877771, :index 174}
{:type :invoke, :f :read, :value nil, :process 12, :time 604373236, :index 175}
{:type :invoke, :f :write, :value 4, :process 16, :time 605348779, :index 176}
{:type :ok, :f :read, :value 2, :process 10, :time 606381353, :index 178}
{:type :ok, :f :read, :value 2, :process 12, :time 613043667, :index 180}
{:type :ok, :f :write, :value 4, :process 16, :time 613652276, :index 181}
{:type :invoke, :f :cas, :value [0 1], :process 14, :time 619799848, :index 182}
{:type :invoke, :f :write, :value 3, :process 11, :time 625196027, :index 183}
{:type :fail, :f :cas, :value [0 1], :process 14, :time 625352830, :index 184}
{:type :ok, :f :write, :value 3, :process 11, :time 631080126, :index 188}
{:type :invoke, :f :write, :value 1, :process 16, :time 651884571, :index 192}
{:type :ok, :f :write, :value 1, :process 16, :time 657142414, :index 194}
{:type :invoke, :f :cas, :value [0 1], :process 17, :time 657993864, :index 195}
{:type :fail, :f :cas, :value [0 1], :process 17, :time 663356576, :index 197}
{:type :invoke, :f :cas, :value [3 0], :process 19, :time 675167215, :index 198}
{:type :invoke, :f :read, :value nil, :process 17, :time 680625928, :index 199}
{:type :fail, :f :cas, :value [3 0], :process 19, :time 680728905, :index 200}
{:type :ok, :f :read, :value 1, :process 17, :time 685791556, :index 201}
{:type :invoke, :f :write, :value 4, :process 15, :time 695202804, :index 203}
{:type :invoke, :f :write, :value 4, :process 12, :time 697299554, :index 205}
{:type :ok, :f :write, :value 4, :process 15, :time 700290673, :index 208}
{:type :ok, :f :write, :value 4, :process 12, :time 702296102, :index 209}
{:type :invoke, :f :read, :value nil, :process 12, :time 732550345, :index 212}
{:type :ok, :f :read, :value 4, :process 12, :time 738132279, :index 213}
{:type :invoke, :f :write, :value 3, :process 10, :time 749615706, :index 217}
{:type :ok, :f :write, :value 3, :process 10, :time 754216632, :index 219}
{:type :invoke, :f :cas, :value [0 3], :process 14, :time 780589602, :index 224}
{:type :fail, :f :cas, :value [0 3], :process 14, :time 786129066, :index 225}
{:type :invoke, :f :cas, :value [0 2], :process 15, :time 790550786, :index 226}
{:type :invoke, :f :read, :value nil, :process 11, :time 794352219, :index 227}
{:type :fail, :f :cas, :value [0 2], :process 15, :time 795998411, :index 229}
{:type :invoke, :f :read, :value nil, :process 14, :time 797385140, :index 230}
{:type :ok, :f :read, :value 3, :process 11, :time 799638587, :index 231}
{:type :ok, :f :read, :value 3, :process 14, :time 802661642, :index 232}
{:type :invoke, :f :read, :value nil, :process 16, :time 807524143, :index 234}
{:type :invoke, :f :write, :value 1, :process 19, :time 820978381, :index 240}
{:type :ok, :f :write, :value 1, :process 19, :time 826597090, :index 241}
{:type :invoke, :f :write, :value 0, :process 19, :time 833852943, :index 242}
{:type :invoke, :f :read, :value nil, :process 11, :time 837902775, :index 244}
{:type :invoke, :f :read, :value nil, :process 17, :time 851058167, :index 246}
{:type :ok, :f :write, :value 0, :process 19, :time 856918835, :index 248}
{:type :ok, :f :read, :value 0, :process 17, :time 857151239, :index 249}
{:type :invoke, :f :read, :value nil, :process 12, :time 862406193, :index 252}
{:type :ok, :f :read, :value 0, :process 12, :time 871249196, :index 254}
{:type :ok, :f :write, :value 1, :process 18, :time 872040611, :index 256}
{:type :ok, :f :write, :value 2, :process 13, :time 872666737, :index 258}
{:type :invoke, :f :write, :value 0, :process 10, :time 884469904, :index 265}
{:type :ok, :f :write, :value 0, :process 10, :time 889301397, :index 268}
{:type :invoke, :f :write, :value 2, :process 19, :time 895205432, :index 270}
{:type :ok, :f :write, :value 2, :process 19, :time 900017578, :index 271}
{:type :invoke, :f :write, :value 0, :process 12, :time 912513622, :index 273}
{:type :invoke, :f :cas, :value [2 1], :process 19, :time 913283994, :index 274}
{:type :invoke, :f :cas, :value [2 4], :process 14, :time 916912057, :index 275}
{:type :ok, :f :write, :value 0, :process 12, :time 917658277, :index 277}
{:type :fail, :f :cas, :value [2 1], :process 19, :time 919345211, :index 278}
{:type :fail, :f :cas, :value [2 4], :process 14, :time 921866578, :index 279}
{:type :invoke, :f :read, :value nil, :process 18, :time 942310093, :index 281}
{:type :invoke, :f :read, :value nil, :process 10, :time 947578321, :index 284}
{:type :ok, :f :read, :value 0, :process 18, :time 948135002, :index 285}
{:type :ok, :f :read, :value 0, :process 10, :time 952326083, :index 286}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 961284922, :index 289}
{:type :ok, :f :cas, :value [0 0], :process 15, :time 965616008, :index 291}
{:type :invoke, :f :read, :value nil, :process 19, :time 1001625153, :index 298}
{:type :ok, :f :read, :value 0, :process 19, :time 1006789770, :index 299}
{:type :invoke, :f :cas, :value [2 3], :process 17, :time 1010477791, :index 301}
{:type :invoke, :f :read, :value nil, :process 12, :time 1010943869, :index 302}
{:type :invoke, :f :read, :value nil, :process 15, :time 1014870911, :index 304}
{:type :fail, :f :cas, :value [2 3], :process 17, :time 1018168175, :index 307}
{:type :ok, :f :read, :value 0, :process 12, :time 1019205205, :index 308}
{:type :ok, :f :read, :value 0, :process 15, :time 1019278537, :index 309}
{:type :invoke, :f :write, :value 0, :process 13, :time 1029892273, :index 310}
{:type :ok, :f :write, :value 0, :process 13, :time 1035217825, :index 311}
{:type :invoke, :f :read, :value nil, :process 10, :time 1061582910, :index 317}
{:type :ok, :f :read, :value 0, :process 10, :time 1067673762, :index 320}
{:type :ok, :f :read, :value 0, :process 16, :time 1069373096, :index 322}
{:type :ok, :f :read, :value 0, :process 11, :time 1069880442, :index 323}
{:type :invoke, :f :cas, :value [0 2], :process 17, :time 1076467517, :index 326}
{:type :ok, :f :cas, :value [0 2], :process 17, :time 1081234228, :index 327}
{:type :invoke, :f :read, :value nil, :process 14, :time 1084126444, :index 328}
{:type :invoke, :f :cas, :value [4 2], :process 15, :time 1084524732, :index 329}
{:type :fail, :f :cas, :value [4 2], :process 15, :time 1088788750, :index 330}
{:type :invoke, :f :read, :value nil, :process 19, :time 1090050197, :index 331}
{:type :invoke, :f :write, :value 4, :process 10, :time 1134900383, :index 336}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 1138451735, :index 337}
{:type :invoke, :f :write, :value 0, :process 17, :time 1138507693, :index 338}
{:type :ok, :f :write, :value 4, :process 10, :time 1139418370, :index 339}
{:type :ok, :f :write, :value 0, :process 17, :time 1144737441, :index 341}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 1144770412, :index 342}
{:type :invoke, :f :write, :value 2, :process 11, :time 1148138063, :index 343}
{:type :ok, :f :write, :value 2, :process 11, :time 1153658539, :index 344}
{:type :invoke, :f :write, :value 3, :process 16, :time 1154671282, :index 345}
{:type :ok, :f :write, :value 3, :process 16, :time 1159640982, :index 346}
{:type :invoke, :f :read, :value nil, :process 10, :time 1177685659, :index 353}
{:type :ok, :f :read, :value 3, :process 10, :time 1182030425, :index 356}
{:type :invoke, :f :read, :value nil, :process 12, :time 1197491451, :index 364}
{:type :ok, :f :read, :value 3, :process 12, :time 1202584223, :index 368}
{:type :invoke, :f :cas, :value [3 4], :process 13, :time 1213476824, :index 371}
{:type :ok, :f :cas, :value [3 4], :process 13, :time 1218202778, :index 373}
{:type :invoke, :f :write, :value 1, :process 15, :time 1269058769, :index 388}
{:type :ok, :f :write, :value 1, :process 15, :time 1274694284, :index 392}
{:type :ok, :f :read, :value 1, :process 14, :time 1591367479, :index 483}
{:type :ok, :f :read, :value 1, :process 19, :time 1591484351, :index 484}
{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
