{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :invoke, :f :read, :value nil, :process 1, :time 20229090864, :index 4342}
{:type :ok, :f :read, :value nil, :process 1, :time 20234654369, :index 4344}
{:type :invoke, :f :read, :value nil, :process 5, :time 20252886061, :index 4349}
{:type :ok, :f :read, :value nil, :process 5, :time 20259233187, :index 4351}
{:type :invoke, :f :write, :value 0, :process 0, :time 20292211883, :index 4360}
{:type :ok, :f :write, :value 0, :process 0, :time 20297250340, :index 4361}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 20338513761, :index 4364}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 20344573163, :index 4365}
{:type :invoke, :f :write, :value 0, :process 4, :time 20354387278, :index 4368}
{:type :invoke, :f :cas, :value [1 4], :process 26, :time 20355174287, :index 4369}
{:type :ok, :f :write, :value 0, :process 4, :time 20360299667, :index 4370}
{:type :fail, :f :cas, :value [1 4], :process 26, :time 20360944472, :index 4371}
{:type :invoke, :f :read, :value nil, :process 5, :time 20362484675, :index 4372}
{:type :ok, :f :read, :value 0, :process 5, :time 20367338653, :index 4374}
{:type :invoke, :f :read, :value nil, :process 1, :time 20383907838, :index 4378}
{:type :ok, :f :read, :value 0, :process 1, :time 20389521037, :index 4381}
{:type :invoke, :f :read, :value nil, :process 9, :time 20418289514, :index 4389}
{:type :ok, :f :read, :value 0, :process 9, :time 20423219949, :index 4392}
{:type :invoke, :f :write, :value 4, :process 1, :time 20452772830, :index 4398}
{:type :ok, :f :write, :value 4, :process 1, :time 20457992587, :index 4399}
{:type :invoke, :f :write, :value 3, :process 9, :time 20463513863, :index 4400}
{:type :invoke, :f :read, :value nil, :process 26, :time 20469210306, :index 4402}
{:type :ok, :f :write, :value 3, :process 9, :time 20470869843, :index 4403}
{:type :invoke, :f :read, :value nil, :process 5, :time 20474724046, :index 4405}
{:type :ok, :f :read, :value 3, :process 26, :time 20474880646, :index 4406}
{:type :ok, :f :read, :value 3, :process 5, :time 20479435112, :index 4408}
{:type :invoke, :f :read, :value nil, :process 9, :time 20514146254, :index 4411}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 20518747393, :index 4413}
{:type :ok, :f :read, :value 3, :process 9, :time 20520283258, :index 4415}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 20525576253, :index 4417}
{:type :invoke, :f :cas, :value [3 3], :process 26, :time 20527122425, :index 4419}
{:type :invoke, :f :write, :value 0, :process 4, :time 20528563403, :index 4422}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 20529832717, :index 4423}
{:type :ok, :f :cas, :value [3 3], :process 26, :time 20532299909, :index 4424}
{:type :ok, :f :write, :value 0, :process 4, :time 20535110992, :index 4427}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 20535710098, :index 4428}
{:type :invoke, :f :write, :value 4, :process 1, :time 20555244662, :index 4433}
{:type :ok, :f :write, :value 4, :process 1, :time 20561730869, :index 4434}
{:type :invoke, :f :read, :value nil, :process 27, :time 20574121677, :index 4437}
{:type :invoke, :f :read, :value nil, :process 26, :time 20589576758, :index 4442}
{:type :ok, :f :read, :value 4, :process 26, :time 20597037802, :index 4445}
{:type :invoke, :f :cas, :value [4 1], :process 43, :time 20602139260, :index 4447}
{:type :invoke, :f :cas, :value [1 3], :process 9, :time 20605609988, :index 4448}
{:type :fail, :f :cas, :value [1 3], :process 9, :time 20610852578, :index 4449}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :invoke, :f :write, :value 3, :process 4, :time 20627372560, :index 4455}
{:type :ok, :f :write, :value 3, :process 4, :time 20632729777, :index 4457}
{:type :invoke, :f :read, :value nil, :process 1, :time 20643985126, :index 4462}
{:type :ok, :f :read, :value 3, :process 1, :time 20649374659, :index 4463}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 20659945679, :index 4465}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 20665449265, :index 4467}
{:type :invoke, :f :read, :value nil, :process 5, :time 20672892151, :index 4468}
{:type :ok, :f :read, :value 3, :process 5, :time 20678481002, :index 4469}
{:type :invoke, :f :write, :value 3, :process 28, :time 20699030429, :index 4470}
{:type :invoke, :f :write, :value 3, :process 0, :time 20706710717, :index 4472}
{:type :invoke, :f :write, :value 4, :process 2, :time 20710796636, :index 4474}
{:type :ok, :f :write, :value 3, :process 0, :time 20711944049, :index 4475}
{:type :invoke, :f :read, :value nil, :process 26, :time 20736217882, :index 4480}
{:type :ok, :f :read, :value 3, :process 26, :time 20741005845, :index 4481}
{:type :invoke, :f :cas, :value [2 4], :process 26, :time 20754262491, :index 4485}
{:type :fail, :f :cas, :value [2 4], :process 26, :time 20759404895, :index 4487}
{:type :invoke, :f :read, :value nil, :process 9, :time 20774148964, :index 4491}
{:type :invoke, :f :read, :value nil, :process 1, :time 20778632824, :index 4492}
{:type :ok, :f :read, :value 3, :process 9, :time 20779349747, :index 4493}
{:type :ok, :f :read, :value 3, :process 1, :time 20783345712, :index 4494}
{:type :invoke, :f :write, :value 4, :process 5, :time 20804746334, :index 4498}
{:type :invoke, :f :write, :value 3, :process 4, :time 20808979983, :index 4499}
{:type :ok, :f :write, :value 4, :process 5, :time 20811873451, :index 4502}
{:type :ok, :f :write, :value 3, :process 4, :time 20816590008, :index 4503}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :invoke, :f :write, :value 0, :process 4, :time 20830846803, :index 4507}
{:type :ok, :f :write, :value 0, :process 4, :time 20835721827, :index 4509}
{:type :invoke, :f :read, :value nil, :process 1, :time 20867597011, :index 4513}
{:type :invoke, :f :read, :value nil, :process 26, :time 20867668247, :index 4514}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 20876134303, :index 4516}
{:type :invoke, :f :cas, :value [3 0], :process 0, :time 20891203037, :index 4517}
{:type :invoke, :f :read, :value nil, :process 9, :time 20912625460, :index 4519}
{:type :invoke, :f :cas, :value [1 4], :process 4, :time 20998972092, :index 4524}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 21459933414, :index 4528}
{:type :ok, :f :read, :value 0, :process 1, :time 21460671848, :index 4530}
{:type :fail, :f :cas, :value [3 0], :process 0, :time 21460846226, :index 4531}
{:type :ok, :f :read, :value 0, :process 9, :time 21461169879, :index 4533}
{:type :ok, :f :read, :value 0, :process 26, :time 21461344615, :index 4534}
{:type :fail, :f :cas, :value [1 4], :process 4, :time 21462026993, :index 4536}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 21483091029, :index 4540}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 21488557042, :index 4541}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 21531901882, :index 4548}
{:type :fail, :f :cas, :value [4 0], :process 1, :time 21537079138, :index 4549}
{:type :invoke, :f :write, :value 1, :process 9, :time 21622428029, :index 4562}
{:type :ok, :f :write, :value 1, :process 9, :time 21629524174, :index 4565}
{:type :invoke, :f :write, :value 1, :process 5, :time 21631197996, :index 4566}
{:type :invoke, :f :read, :value nil, :process 4, :time 21638301660, :index 4567}
{:type :invoke, :f :write, :value 3, :process 26, :time 21642664259, :index 4568}
{:type :invoke, :f :write, :value 0, :process 1, :time 21644346714, :index 4569}
{:type :invoke, :f :read, :value nil, :process 9, :time 21657773958, :index 4570}
{:type :invoke, :f :read, :value nil, :process 0, :time 21664821145, :index 4571}
{:type :ok, :f :read, :value 1, :process 27, :time 23338791378, :index 4579}
{:type :ok, :f :write, :value 4, :process 2, :time 23339197922, :index 4581}
{:type :ok, :f :write, :value 1, :process 5, :time 23340066944, :index 4583}
{:type :ok, :f :read, :value 0, :process 0, :time 23340088953, :index 4584}
{:type :ok, :f :write, :value 3, :process 28, :time 23340498456, :index 4586}
{:type :ok, :f :read, :value 1, :process 4, :time 23340728415, :index 4588}
{:type :ok, :f :write, :value 3, :process 26, :time 23340791565, :index 4589}
{:type :ok, :f :cas, :value [4 1], :process 43, :time 23340967498, :index 4590}
{:type :ok, :f :read, :value 0, :process 9, :time 23341202222, :index 4591}
{:type :ok, :f :write, :value 0, :process 1, :time 23341995621, :index 4596}
{:type :invoke, :f :read, :value nil, :process 5, :time 23358268539, :index 4598}
{:type :ok, :f :read, :value 0, :process 5, :time 23363589114, :index 4600}
{:type :invoke, :f :read, :value nil, :process 43, :time 23402606683, :index 4605}
{:type :invoke, :f :write, :value 1, :process 1, :time 23407874432, :index 4607}
{:type :ok, :f :read, :value 0, :process 43, :time 23408064314, :index 4608}
{:type :invoke, :f :write, :value 4, :process 9, :time 23408591975, :index 4609}
{:type :ok, :f :write, :value 1, :process 1, :time 23413607539, :index 4610}
{:type :ok, :f :write, :value 4, :process 9, :time 23414121106, :index 4611}
{:type :invoke, :f :write, :value 0, :process 4, :time 23427486077, :index 4618}
{:type :invoke, :f :write, :value 0, :process 0, :time 23430502732, :index 4621}
{:type :ok, :f :write, :value 0, :process 4, :time 23432893319, :index 4622}
{:type :ok, :f :write, :value 0, :process 0, :time 23435762653, :index 4625}
{:type :invoke, :f :write, :value 3, :process 5, :time 23447845425, :index 4628}
{:type :invoke, :f :write, :value 1, :process 9, :time 23451372102, :index 4629}
{:type :ok, :f :write, :value 3, :process 5, :time 23452157926, :index 4630}
{:type :ok, :f :write, :value 1, :process 9, :time 23456441160, :index 4631}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 23462456028, :index 4632}
{:type :invoke, :f :read, :value nil, :process 1, :time 23462880435, :index 4633}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 23467950227, :index 4634}
{:type :ok, :f :read, :value 1, :process 1, :time 23468325851, :index 4635}
{:type :invoke, :f :read, :value nil, :process 28, :time 23480438192, :index 4636}
{:type :invoke, :f :write, :value 3, :process 27, :time 23483488226, :index 4637}
{:type :invoke, :f :write, :value 0, :process 0, :time 23484005621, :index 4638}
{:type :ok, :f :read, :value 1, :process 28, :time 23486218316, :index 4639}
{:type :ok, :f :write, :value 0, :process 0, :time 23489128943, :index 4641}
{:type :ok, :f :write, :value 3, :process 27, :time 23489128943, :index 4642}
{:type :invoke, :f :cas, :value [1 2], :process 43, :time 23504351957, :index 4644}
{:type :invoke, :f :write, :value 0, :process 2, :time 23506698098, :index 4645}
{:type :invoke, :f :cas, :value [2 4], :process 5, :time 23507170959, :index 4646}
{:type :fail, :f :cas, :value [1 2], :process 43, :time 23510274249, :index 4648}
{:type :fail, :f :cas, :value [2 4], :process 5, :time 23513053780, :index 4649}
{:type :ok, :f :write, :value 0, :process 2, :time 23513637799, :index 4650}
{:type :invoke, :f :read, :value nil, :process 26, :time 23533508667, :index 4657}
{:type :ok, :f :read, :value 0, :process 26, :time 23538622857, :index 4659}
{:type :invoke, :f :cas, :value [1 4], :process 0, :time 23539440430, :index 4661}
{:type :fail, :f :cas, :value [1 4], :process 0, :time 23544549153, :index 4664}
{:type :invoke, :f :read, :value nil, :process 27, :time 23555407072, :index 4666}
{:type :invoke, :f :write, :value 1, :process 4, :time 23557163969, :index 4667}
{:type :ok, :f :read, :value 0, :process 27, :time 23560742423, :index 4669}
{:type :ok, :f :write, :value 1, :process 4, :time 23562184707, :index 4670}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 23588232089, :index 4676}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 23593462423, :index 4678}
{:type :invoke, :f :write, :value 1, :process 1, :time 23611589319, :index 4681}
{:type :invoke, :f :write, :value 1, :process 9, :time 23615730028, :index 4682}
{:type :ok, :f :write, :value 1, :process 1, :time 23617583511, :index 4685}
{:type :ok, :f :write, :value 1, :process 9, :time 23620696534, :index 4688}
{:type :invoke, :f :read, :value nil, :process 43, :time 23629536889, :index 4693}
{:type :ok, :f :read, :value 1, :process 43, :time 23635222022, :index 4696}
{:type :invoke, :f :write, :value 1, :process 28, :time 23657479549, :index 4698}
{:type :invoke, :f :read, :value nil, :process 27, :time 23659006051, :index 4699}
{:type :invoke, :f :write, :value 1, :process 4, :time 23662474739, :index 4700}
{:type :ok, :f :write, :value 1, :process 28, :time 23662661215, :index 4701}
{:type :ok, :f :read, :value 1, :process 27, :time 23664591875, :index 4702}
{:type :ok, :f :write, :value 1, :process 4, :time 23667353246, :index 4703}
{:type :invoke, :f :cas, :value [1 3], :process 2, :time 23682866423, :index 4708}
{:type :ok, :f :cas, :value [1 3], :process 2, :time 23688629938, :index 4710}
{:type :invoke, :f :read, :value nil, :process 28, :time 23708898075, :index 4716}
{:type :ok, :f :read, :value 3, :process 28, :time 23714735999, :index 4718}
{:type :invoke, :f :cas, :value [4 3], :process 43, :time 23723470439, :index 4721}
{:type :invoke, :f :write, :value 4, :process 26, :time 23723923434, :index 4722}
{:type :invoke, :f :write, :value 2, :process 0, :time 23728804916, :index 4725}
{:type :fail, :f :cas, :value [4 3], :process 43, :time 23729692588, :index 4726}
{:type :ok, :f :write, :value 4, :process 26, :time 23729755658, :index 4727}
{:type :invoke, :f :read, :value nil, :process 2, :time 23731890245, :index 4730}
{:type :ok, :f :write, :value 2, :process 0, :time 23733654917, :index 4731}
{:type :ok, :f :read, :value 2, :process 2, :time 23737048366, :index 4733}
{:type :invoke, :f :write, :value 0, :process 0, :time 23741957477, :index 4735}
{:type :invoke, :f :write, :value 1, :process 9, :time 23742965041, :index 4736}
{:type :ok, :f :write, :value 0, :process 0, :time 23746977320, :index 4738}
{:type :ok, :f :write, :value 1, :process 9, :time 23748383620, :index 4739}
{:type :invoke, :f :read, :value nil, :process 26, :time 23775981846, :index 4742}
{:type :ok, :f :read, :value 1, :process 26, :time 23781044814, :index 4744}
{:type :invoke, :f :write, :value 0, :process 5, :time 23785725992, :index 4746}
{:type :invoke, :f :read, :value nil, :process 1, :time 23786832129, :index 4747}
{:type :ok, :f :read, :value 1, :process 1, :time 23794933671, :index 4749}
{:type :ok, :f :write, :value 0, :process 5, :time 23796278476, :index 4750}
{:type :invoke, :f :read, :value nil, :process 9, :time 23796634397, :index 4751}
{:type :invoke, :f :cas, :value [1 2], :process 27, :time 23799852999, :index 4754}
{:type :ok, :f :read, :value 0, :process 9, :time 23801290645, :index 4756}
{:type :invoke, :f :read, :value nil, :process 26, :time 23804366325, :index 4757}
{:type :fail, :f :cas, :value [1 2], :process 27, :time 23805888067, :index 4760}
{:type :ok, :f :read, :value 0, :process 26, :time 23809459987, :index 4761}
{:type :invoke, :f :read, :value nil, :process 4, :time 23822612452, :index 4765}
{:type :ok, :f :read, :value 0, :process 4, :time 23827361427, :index 4767}
{:type :invoke, :f :write, :value 0, :process 28, :time 23858008386, :index 4778}
{:type :invoke, :f :read, :value nil, :process 43, :time 23860973200, :index 4779}
{:type :ok, :f :write, :value 0, :process 28, :time 23863060075, :index 4781}
{:type :ok, :f :read, :value 0, :process 43, :time 23868648004, :index 4783}
{:type :invoke, :f :read, :value nil, :process 0, :time 23905224461, :index 4800}
{:type :ok, :f :read, :value 0, :process 0, :time 23909830416, :index 4802}
{:type :invoke, :f :read, :value nil, :process 2, :time 23915306750, :index 4806}
{:type :ok, :f :read, :value 0, :process 2, :time 23921180570, :index 4809}
{:type :invoke, :f :cas, :value [4 4], :process 1, :time 23960202609, :index 4822}
{:type :fail, :f :cas, :value [4 4], :process 1, :time 23966080046, :index 4825}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 23993536827, :index 4837}
{:type :fail, :f :cas, :value [3 0], :process 5, :time 23998293268, :index 4839}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
