{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :invoke, :f :write, :value 1, :process 37, :time 32170393122, :index 10446}
{:type :invoke, :f :write, :value 3, :process 36, :time 32170435224, :index 10447}
{:type :fail, :f :write, :value 3, :process 36, :time 32172441501, :error :connect, :index 10449}
{:type :fail, :f :write, :value 1, :process 37, :time 32172678458, :error :connect, :index 10450}
{:type :invoke, :f :cas, :value [2 3], :process 34, :time 32185057075, :index 10454}
{:type :fail, :f :cas, :value [2 3], :process 34, :time 32186635990, :error :connect, :index 10455}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 32201776085, :index 10460}
{:type :invoke, :f :write, :value 1, :process 33, :time 32202777121, :index 10461}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 32203606155, :error :connect, :index 10462}
{:type :fail, :f :write, :value 1, :process 33, :time 32204393649, :error :connect, :index 10463}
{:type :invoke, :f :read, :value nil, :process 32, :time 32210912075, :index 10466}
{:type :fail, :f :read, :value nil, :process 32, :time 32213068285, :error :connect, :index 10468}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 32227737219, :index 10470}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 32229630181, :error :connect, :index 10471}
{:type :invoke, :f :write, :value 2, :process 33, :time 32232639577, :index 10472}
{:type :fail, :f :write, :value 2, :process 33, :time 32234465580, :error :connect, :index 10473}
{:type :invoke, :f :write, :value 4, :process 18, :time 32235134365, :index 10474}
{:type :fail, :f :write, :value 4, :process 18, :time 32236720860, :error :connect, :index 10475}
{:type :invoke, :f :cas, :value [4 2], :process 39, :time 32241631992, :index 10476}
{:type :fail, :f :cas, :value [4 2], :process 39, :time 32243635519, :error :connect, :index 10477}
{:type :invoke, :f :write, :value 0, :process 37, :time 32243929225, :index 10478}
{:type :fail, :f :write, :value 0, :process 37, :time 32245563290, :error :connect, :index 10479}
{:type :invoke, :f :cas, :value [1 0], :process 32, :time 32275317709, :index 10488}
{:type :fail, :f :cas, :value [1 0], :process 32, :time 32277156221, :error :connect, :index 10489}
{:type :invoke, :f :write, :value 1, :process 34, :time 32279920711, :index 10490}
{:type :fail, :f :write, :value 1, :process 34, :time 32282012391, :error :connect, :index 10491}
{:type :invoke, :f :write, :value 1, :process 15, :time 32284918896, :index 10492}
{:type :fail, :f :write, :value 1, :process 15, :time 32286818315, :error :connect, :index 10493}
{:type :invoke, :f :write, :value 2, :process 18, :time 32296992598, :index 10499}
{:type :fail, :f :write, :value 2, :process 18, :time 32298680020, :error :connect, :index 10501}
{:type :invoke, :f :read, :value nil, :process 37, :time 32303827007, :index 10504}
{:type :fail, :f :read, :value nil, :process 37, :time 32305610518, :error :connect, :index 10505}
{:type :invoke, :f :read, :value nil, :process 10, :time 32307917028, :index 10506}
{:type :fail, :f :read, :value nil, :process 10, :time 32309508391, :error :connect, :index 10507}
{:type :invoke, :f :write, :value 4, :process 18, :time 32314968718, :index 10510}
{:type :fail, :f :write, :value 4, :process 18, :time 32316733988, :error :connect, :index 10514}
{:type :invoke, :f :write, :value 3, :process 37, :time 32331866551, :index 10518}
{:type :fail, :f :write, :value 3, :process 37, :time 32333658402, :error :connect, :index 10519}
{:type :invoke, :f :read, :value nil, :process 10, :time 32339768707, :index 10521}
{:type :fail, :f :read, :value nil, :process 10, :time 32341438724, :error :connect, :index 10523}
{:type :invoke, :f :cas, :value [3 3], :process 36, :time 32342896365, :index 10524}
{:type :fail, :f :cas, :value [3 3], :process 36, :time 32344731188, :error :connect, :index 10525}
{:type :invoke, :f :write, :value 4, :process 15, :time 32358078442, :index 10528}
{:type :fail, :f :write, :value 4, :process 15, :time 32359908407, :error :connect, :index 10529}
{:type :invoke, :f :write, :value 1, :process 32, :time 32363420649, :index 10530}
{:type :fail, :f :write, :value 1, :process 32, :time 32365259394, :error :connect, :index 10531}
{:type :invoke, :f :read, :value nil, :process 33, :time 32384728211, :index 10538}
{:type :fail, :f :read, :value nil, :process 33, :time 32386775550, :error :connect, :index 10539}
{:type :invoke, :f :write, :value 1, :process 15, :time 32398169336, :index 10540}
{:type :fail, :f :write, :value 1, :process 15, :time 32400048242, :error :connect, :index 10541}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 32416998975, :index 10550}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 32419067833, :error :connect, :index 10551}
{:type :invoke, :f :write, :value 3, :process 11, :time 32419702376, :index 10552}
{:type :fail, :f :write, :value 3, :process 11, :time 32421405075, :error :connect, :index 10554}
{:type :invoke, :f :read, :value nil, :process 34, :time 32433281605, :index 10557}
{:type :fail, :f :read, :value nil, :process 34, :time 32435685478, :error :connect, :index 10560}
{:type :invoke, :f :write, :value 1, :process 39, :time 32437902166, :index 10562}
{:type :fail, :f :write, :value 1, :process 39, :time 32439666588, :error :connect, :index 10563}
{:type :invoke, :f :read, :value nil, :process 10, :time 32445689166, :index 10564}
{:type :fail, :f :read, :value nil, :process 10, :time 32447776920, :error :connect, :index 10565}
{:type :invoke, :f :read, :value nil, :process 11, :time 32489643914, :index 10574}
{:type :fail, :f :read, :value nil, :process 11, :time 32491737244, :error :connect, :index 10575}
{:type :invoke, :f :cas, :value [0 4], :process 18, :time 32497342326, :index 10576}
{:type :fail, :f :cas, :value [0 4], :process 18, :time 32499595119, :error :connect, :index 10578}
{:type :invoke, :f :write, :value 0, :process 39, :time 32503932192, :index 10580}
{:type :fail, :f :write, :value 0, :process 39, :time 32505493811, :error :connect, :index 10581}
{:type :invoke, :f :cas, :value [1 3], :process 36, :time 32510007701, :index 10582}
{:type :fail, :f :cas, :value [1 3], :process 36, :time 32512054903, :error :connect, :index 10585}
{:type :invoke, :f :read, :value nil, :process 37, :time 32527926189, :index 10588}
{:type :invoke, :f :write, :value 0, :process 32, :time 32529533302, :index 10589}
{:type :fail, :f :read, :value nil, :process 37, :time 32529775558, :error :connect, :index 10590}
{:type :fail, :f :write, :value 0, :process 32, :time 32531461125, :error :connect, :index 10591}
{:type :invoke, :f :cas, :value [0 1], :process 33, :time 32534039520, :index 10592}
{:type :fail, :f :cas, :value [0 1], :process 33, :time 32535689612, :error :connect, :index 10593}
{:type :invoke, :f :cas, :value [1 1], :process 18, :time 32536870644, :index 10594}
{:type :fail, :f :cas, :value [1 1], :process 18, :time 32538711990, :error :connect, :index 10595}
{:type :invoke, :f :write, :value 3, :process 15, :time 32580332376, :index 10606}
{:type :invoke, :f :write, :value 4, :process 36, :time 32580340041, :index 10607}
{:type :fail, :f :write, :value 4, :process 36, :time 32582725252, :error :connect, :index 10609}
{:type :fail, :f :write, :value 3, :process 15, :time 32582725299, :error :connect, :index 10610}
{:type :invoke, :f :read, :value nil, :process 11, :time 32586002545, :index 10614}
{:type :invoke, :f :cas, :value [3 2], :process 32, :time 32586775521, :index 10616}
{:type :fail, :f :read, :value nil, :process 11, :time 32587842606, :error :connect, :index 10618}
{:type :fail, :f :cas, :value [3 2], :process 32, :time 32588724805, :error :connect, :index 10619}
{:type :invoke, :f :write, :value 0, :process 34, :time 32609949050, :index 10627}
{:type :fail, :f :write, :value 0, :process 34, :time 32611763928, :error :connect, :index 10629}
{:type :invoke, :f :cas, :value [3 0], :process 11, :time 32625103657, :index 10632}
{:type :fail, :f :cas, :value [3 0], :process 11, :time 32627015069, :error :connect, :index 10633}
{:type :invoke, :f :write, :value 0, :process 18, :time 32630987541, :index 10634}
{:type :fail, :f :write, :value 0, :process 18, :time 32632825486, :error :connect, :index 10635}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 32635051795, :index 10636}
{:type :fail, :f :cas, :value [3 0], :process 10, :time 32636767556, :error :connect, :index 10637}
{:type :invoke, :f :write, :value 0, :process 33, :time 32664969627, :index 10650}
{:type :invoke, :f :read, :value nil, :process 10, :time 32665251004, :index 10652}
{:type :fail, :f :write, :value 0, :process 33, :time 32667224450, :error :connect, :index 10654}
{:type :fail, :f :read, :value nil, :process 10, :time 32667450459, :error :connect, :index 10655}
{:type :invoke, :f :read, :value nil, :process 39, :time 32671757542, :index 10656}
{:type :fail, :f :read, :value nil, :process 39, :time 32673573304, :error :connect, :index 10657}
{:type :invoke, :f :read, :value nil, :process 10, :time 32675708284, :index 10658}
{:type :fail, :f :read, :value nil, :process 10, :time 32677515242, :error :connect, :index 10659}
{:type :invoke, :f :cas, :value [2 0], :process 32, :time 32692982002, :index 10660}
{:type :invoke, :f :read, :value nil, :process 15, :time 32693022645, :index 10661}
{:type :fail, :f :cas, :value [2 0], :process 32, :time 32695258256, :error :connect, :index 10662}
{:type :fail, :f :read, :value nil, :process 15, :time 32695258254, :error :connect, :index 10663}
{:type :invoke, :f :cas, :value [0 3], :process 11, :time 32704282270, :index 10667}
{:type :fail, :f :cas, :value [0 3], :process 11, :time 32706207583, :error :connect, :index 10669}
{:type :invoke, :f :write, :value 3, :process 37, :time 32727016047, :index 10676}
{:type :fail, :f :write, :value 3, :process 37, :time 32729100557, :error :connect, :index 10677}
{:type :invoke, :f :read, :value nil, :process 32, :time 32734573515, :index 10678}
{:type :fail, :f :read, :value nil, :process 32, :time 32736408611, :error :connect, :index 10679}
{:type :invoke, :f :write, :value 1, :process 34, :time 32739019868, :index 10680}
{:type :invoke, :f :write, :value 4, :process 33, :time 32740500171, :index 10681}
{:type :fail, :f :write, :value 1, :process 34, :time 32740697332, :error :connect, :index 10682}
{:type :fail, :f :write, :value 4, :process 33, :time 32742488737, :error :connect, :index 10683}
{:type :invoke, :f :read, :value nil, :process 33, :time 32773744470, :index 10690}
{:type :invoke, :f :read, :value nil, :process 36, :time 32775022405, :index 10691}
{:type :fail, :f :read, :value nil, :process 33, :time 32775704521, :error :connect, :index 10692}
{:type :fail, :f :read, :value nil, :process 36, :time 32776979890, :error :connect, :index 10694}
{:type :invoke, :f :write, :value 0, :process 32, :time 32777678054, :index 10695}
{:type :fail, :f :write, :value 0, :process 32, :time 32779617025, :error :connect, :index 10697}
{:type :invoke, :f :cas, :value [2 2], :process 15, :time 32780547227, :index 10698}
{:type :fail, :f :cas, :value [2 2], :process 15, :time 32782439027, :error :connect, :index 10699}
{:type :invoke, :f :read, :value nil, :process 15, :time 32793699096, :index 10702}
{:type :fail, :f :read, :value nil, :process 15, :time 32795503733, :error :connect, :index 10703}
{:type :invoke, :f :cas, :value [3 1], :process 10, :time 32805726513, :index 10704}
{:type :fail, :f :cas, :value [3 1], :process 10, :time 32807777389, :error :connect, :index 10705}
{:type :invoke, :f :write, :value 2, :process 11, :time 32813469419, :index 10706}
{:type :fail, :f :write, :value 2, :process 11, :time 32815419947, :error :connect, :index 10708}
{:type :invoke, :f :cas, :value [2 1], :process 37, :time 32817364980, :index 10710}
{:type :fail, :f :cas, :value [2 1], :process 37, :time 32819234743, :error :connect, :index 10711}
{:type :invoke, :f :write, :value 4, :process 18, :time 32830098300, :index 10714}
{:type :fail, :f :write, :value 4, :process 18, :time 32832264036, :error :connect, :index 10715}
{:type :invoke, :f :write, :value 2, :process 36, :time 32836241056, :index 10718}
{:type :fail, :f :write, :value 2, :process 36, :time 32838199607, :error :connect, :index 10720}
{:type :invoke, :f :cas, :value [2 3], :process 39, :time 32848837534, :index 10728}
{:type :fail, :f :cas, :value [2 3], :process 39, :time 32850656396, :error :connect, :index 10729}
{:type :invoke, :f :read, :value nil, :process 10, :time 32872041930, :index 10730}
{:type :fail, :f :read, :value nil, :process 10, :time 32874007557, :error :connect, :index 10731}
{:type :invoke, :f :read, :value nil, :process 34, :time 32893939335, :index 10734}
{:type :fail, :f :read, :value nil, :process 34, :time 32895756325, :error :connect, :index 10735}
{:type :invoke, :f :read, :value nil, :process 18, :time 32899509042, :index 10736}
{:type :fail, :f :read, :value nil, :process 18, :time 32901319295, :error :connect, :index 10737}
{:type :invoke, :f :read, :value nil, :process 18, :time 32923575074, :index 10750}
{:type :fail, :f :read, :value nil, :process 18, :time 32925432186, :error :connect, :index 10751}
{:type :invoke, :f :read, :value nil, :process 15, :time 32944767234, :index 10756}
{:type :fail, :f :read, :value nil, :process 15, :time 32946763705, :error :connect, :index 10757}
{:type :invoke, :f :write, :value 2, :process 37, :time 32958502309, :index 10758}
{:type :fail, :f :write, :value 2, :process 37, :time 32960636583, :error :connect, :index 10759}
{:type :invoke, :f :write, :value 2, :process 33, :time 32961968911, :index 10760}
{:type :fail, :f :write, :value 2, :process 33, :time 32963901299, :error :connect, :index 10761}
{:type :invoke, :f :read, :value nil, :process 32, :time 32976874123, :index 10762}
{:type :invoke, :f :read, :value nil, :process 36, :time 32978446790, :index 10763}
{:type :fail, :f :read, :value nil, :process 32, :time 32978882608, :error :connect, :index 10764}
{:type :fail, :f :read, :value nil, :process 36, :time 32980519296, :error :connect, :index 10765}
{:type :invoke, :f :cas, :value [2 3], :process 34, :time 32983020463, :index 10767}
{:type :fail, :f :cas, :value [2 3], :process 34, :time 32984987775, :error :connect, :index 10769}
{:type :invoke, :f :cas, :value [1 3], :process 11, :time 32991682234, :index 10770}
{:type :fail, :f :cas, :value [1 3], :process 11, :time 32993605125, :error :connect, :index 10771}
{:type :invoke, :f :read, :value nil, :process 39, :time 32999956433, :index 10774}
{:type :fail, :f :read, :value nil, :process 39, :time 33001616974, :error :connect, :index 10776}
{:type :invoke, :f :cas, :value [1 2], :process 34, :time 33012247633, :index 10780}
{:type :fail, :f :cas, :value [1 2], :process 34, :time 33014329605, :error :connect, :index 10782}
{:type :invoke, :f :read, :value nil, :process 10, :time 33023264009, :index 10787}
{:type :fail, :f :read, :value nil, :process 10, :time 33025289824, :error :connect, :index 10789}
{:type :invoke, :f :write, :value 2, :process 15, :time 33032019880, :index 10790}
{:type :fail, :f :write, :value 2, :process 15, :time 33034039425, :error :connect, :index 10793}
{:type :invoke, :f :read, :value nil, :process 33, :time 33036168687, :index 10797}
{:type :fail, :f :read, :value nil, :process 33, :time 33037783563, :error :connect, :index 10800}
{:type :invoke, :f :read, :value nil, :process 37, :time 33057896836, :index 10802}
{:type :fail, :f :read, :value nil, :process 37, :time 33059746929, :error :connect, :index 10803}
{:type :invoke, :f :write, :value 4, :process 18, :time 33060695941, :index 10804}
{:type :fail, :f :write, :value 4, :process 18, :time 33063008125, :error :connect, :index 10807}
{:type :invoke, :f :read, :value nil, :process 37, :time 33088008259, :index 10814}
{:type :fail, :f :read, :value nil, :process 37, :time 33089664752, :error :connect, :index 10815}
{:type :invoke, :f :write, :value 2, :process 36, :time 33090790201, :index 10816}
{:type :fail, :f :write, :value 2, :process 36, :time 33092537110, :error :connect, :index 10817}
{:type :invoke, :f :cas, :value [1 4], :process 32, :time 33127157589, :index 10820}
{:type :fail, :f :cas, :value [1 4], :process 32, :time 33129033447, :error :connect, :index 10821}
{:type :invoke, :f :write, :value 4, :process 18, :time 33158288164, :index 10826}
{:type :fail, :f :write, :value 4, :process 18, :time 33160193737, :error :connect, :index 10827}
{:type :invoke, :f :cas, :value [4 2], :process 10, :time 33161549602, :index 10828}
{:type :fail, :f :cas, :value [4 2], :process 10, :time 33163549519, :error :connect, :index 10829}
{:type :invoke, :f :read, :value nil, :process 37, :time 33164922823, :index 10830}
{:type :invoke, :f :write, :value 4, :process 11, :time 33166899156, :index 10831}
{:type :fail, :f :read, :value nil, :process 37, :time 33167033239, :error :connect, :index 10832}
{:type :fail, :f :write, :value 4, :process 11, :time 33169177879, :error :connect, :index 10834}
{:type :invoke, :f :write, :value 1, :process 39, :time 33170888708, :index 10836}
{:type :fail, :f :write, :value 1, :process 39, :time 33172724719, :error :connect, :index 10839}
{:type :invoke, :f :write, :value 2, :process 34, :time 33175605586, :index 10840}
{:type :invoke, :f :read, :value nil, :process 36, :time 33175827153, :index 10841}
{:type :fail, :f :write, :value 2, :process 34, :time 33177348459, :error :connect, :index 10842}
{:type :fail, :f :read, :value nil, :process 36, :time 33177708776, :error :connect, :index 10843}
{:type :invoke, :f :cas, :value [2 3], :process 15, :time 33186315475, :index 10846}
{:type :fail, :f :cas, :value [2 3], :process 15, :time 33188027421, :error :connect, :index 10847}
{:type :invoke, :f :read, :value nil, :process 33, :time 33195040710, :index 10848}
{:type :fail, :f :read, :value nil, :process 33, :time 33196708258, :error :connect, :index 10849}
{:type :invoke, :f :read, :value nil, :process 32, :time 33237318092, :index 10866}
{:type :fail, :f :read, :value nil, :process 32, :time 33238978980, :error :connect, :index 10867}
{:type :invoke, :f :cas, :value [3 4], :process 18, :time 33246470706, :index 10868}
{:type :fail, :f :cas, :value [3 4], :process 18, :time 33248350951, :error :connect, :index 10869}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
