{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :invoke, :f :write, :value 2, :process 18, :time 56739899501, :index 20100}
{:type :fail, :f :write, :value 2, :process 18, :time 56741829315, :error :connect, :index 20102}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :invoke, :f :read, :value nil, :process 36, :time 56761919163, :index 20109}
{:type :fail, :f :read, :value nil, :process 36, :time 56763603766, :error :connect, :index 20110}
{:type :invoke, :f :read, :value nil, :process 32, :time 56765241151, :index 20111}
{:type :fail, :f :read, :value nil, :process 32, :time 56767289192, :error :connect, :index 20112}
{:type :invoke, :f :read, :value nil, :process 10, :time 56781881721, :index 20117}
{:type :fail, :f :read, :value nil, :process 10, :time 56783912768, :error :connect, :index 20119}
{:type :invoke, :f :write, :value 1, :process 37, :time 56793101973, :index 20123}
{:type :fail, :f :write, :value 1, :process 37, :time 56795219823, :error :connect, :index 20125}
{:type :invoke, :f :cas, :value [4 0], :process 10, :time 56810161433, :index 20127}
{:type :fail, :f :cas, :value [4 0], :process 10, :time 56812430717, :error :connect, :index 20129}
{:type :invoke, :f :write, :value 3, :process 39, :time 56815085966, :index 20131}
{:type :invoke, :f :write, :value 0, :process 10, :time 56816741535, :index 20132}
{:type :fail, :f :write, :value 3, :process 39, :time 56817287138, :error :connect, :index 20133}
{:type :fail, :f :write, :value 0, :process 10, :time 56819467579, :error :connect, :index 20134}
{:type :invoke, :f :cas, :value [2 0], :process 33, :time 56824049276, :index 20136}
{:type :fail, :f :cas, :value [2 0], :process 33, :time 56826042007, :error :connect, :index 20138}
{:type :invoke, :f :read, :value nil, :process 37, :time 56832496658, :index 20141}
{:type :invoke, :f :write, :value 0, :process 10, :time 56833809077, :index 20142}
{:type :fail, :f :read, :value nil, :process 37, :time 56834829734, :error :connect, :index 20143}
{:type :fail, :f :write, :value 0, :process 10, :time 56835709074, :error :connect, :index 20144}
{:type :invoke, :f :read, :value nil, :process 10, :time 56842037659, :index 20145}
{:type :invoke, :f :cas, :value [4 4], :process 18, :time 56844133682, :index 20146}
{:type :fail, :f :read, :value nil, :process 10, :time 56845065014, :error :connect, :index 20147}
{:type :fail, :f :cas, :value [4 4], :process 18, :time 56845960905, :error :connect, :index 20148}
{:type :invoke, :f :read, :value nil, :process 11, :time 56850560127, :index 20149}
{:type :fail, :f :read, :value nil, :process 11, :time 56852632710, :error :connect, :index 20150}
{:type :invoke, :f :read, :value nil, :process 34, :time 56854739981, :index 20151}
{:type :fail, :f :read, :value nil, :process 34, :time 56856719004, :error :connect, :index 20152}
{:type :invoke, :f :cas, :value [2 2], :process 34, :time 56901076692, :index 20161}
{:type :fail, :f :cas, :value [2 2], :process 34, :time 56903305477, :error :connect, :index 20162}
{:type :invoke, :f :cas, :value [3 3], :process 39, :time 56910547830, :index 20163}
{:type :invoke, :f :write, :value 1, :process 32, :time 56911260523, :index 20164}
{:type :fail, :f :cas, :value [3 3], :process 39, :time 56912750240, :error :connect, :index 20166}
{:type :fail, :f :write, :value 1, :process 32, :time 56913501020, :error :connect, :index 20168}
{:type :invoke, :f :write, :value 1, :process 33, :time 56914353074, :index 20169}
{:type :fail, :f :write, :value 1, :process 33, :time 56916549928, :error :connect, :index 20170}
{:type :invoke, :f :read, :value nil, :process 33, :time 56918727383, :index 20171}
{:type :fail, :f :read, :value nil, :process 33, :time 56920689773, :error :connect, :index 20172}
{:type :invoke, :f :write, :value 0, :process 15, :time 56932240613, :index 20174}
{:type :invoke, :f :write, :value 2, :process 11, :time 56932914092, :index 20175}
{:type :fail, :f :write, :value 0, :process 15, :time 56934268373, :error :connect, :index 20177}
{:type :invoke, :f :read, :value nil, :process 32, :time 56934721706, :index 20178}
{:type :fail, :f :write, :value 2, :process 11, :time 56934856525, :error :connect, :index 20179}
{:type :fail, :f :read, :value nil, :process 32, :time 56936705241, :error :connect, :index 20180}
{:type :invoke, :f :read, :value nil, :process 39, :time 56938024014, :index 20182}
{:type :fail, :f :read, :value nil, :process 39, :time 56939943999, :error :connect, :index 20184}
{:type :invoke, :f :cas, :value [4 4], :process 36, :time 56944880121, :index 20187}
{:type :invoke, :f :write, :value 1, :process 37, :time 56946154890, :index 20189}
{:type :fail, :f :cas, :value [4 4], :process 36, :time 56947061355, :error :connect, :index 20190}
{:type :fail, :f :write, :value 1, :process 37, :time 56947929961, :error :connect, :index 20192}
{:type :invoke, :f :write, :value 3, :process 18, :time 56952231248, :index 20193}
{:type :fail, :f :write, :value 3, :process 18, :time 56954444227, :error :connect, :index 20194}
{:type :invoke, :f :write, :value 0, :process 10, :time 56959490235, :index 20197}
{:type :fail, :f :write, :value 0, :process 10, :time 56961598626, :error :connect, :index 20198}
{:type :invoke, :f :read, :value nil, :process 39, :time 56997219624, :index 20199}
{:type :invoke, :f :read, :value nil, :process 34, :time 56998592919, :index 20200}
{:type :fail, :f :read, :value nil, :process 39, :time 56999647890, :error :connect, :index 20201}
{:type :fail, :f :read, :value nil, :process 34, :time 57000592196, :error :connect, :index 20202}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 57009891107, :index 20203}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 57011967898, :error :connect, :index 20204}
{:type :invoke, :f :cas, :value [2 0], :process 34, :time 57020853824, :index 20210}
{:type :fail, :f :cas, :value [2 0], :process 34, :time 57022775888, :error :connect, :index 20213}
{:type :invoke, :f :cas, :value [3 2], :process 33, :time 57026953232, :index 20217}
{:type :fail, :f :cas, :value [3 2], :process 33, :time 57028888459, :error :connect, :index 20218}
{:type :invoke, :f :write, :value 0, :process 11, :time 57033109478, :index 20219}
{:type :fail, :f :write, :value 0, :process 11, :time 57034741766, :error :connect, :index 20220}
{:type :invoke, :f :cas, :value [4 0], :process 32, :time 57044079820, :index 20225}
{:type :fail, :f :cas, :value [4 0], :process 32, :time 57045914021, :error :connect, :index 20226}
{:type :invoke, :f :cas, :value [0 4], :process 39, :time 57068921699, :index 20231}
{:type :fail, :f :cas, :value [0 4], :process 39, :time 57071175753, :error :connect, :index 20234}
{:type :invoke, :f :read, :value nil, :process 15, :time 57072517676, :index 20235}
{:type :fail, :f :read, :value nil, :process 15, :time 57074542959, :error :connect, :index 20236}
{:type :invoke, :f :write, :value 0, :process 36, :time 57097338357, :index 20241}
{:type :invoke, :f :read, :value nil, :process 15, :time 57098733370, :index 20244}
{:type :fail, :f :write, :value 0, :process 36, :time 57099654538, :error :connect, :index 20245}
{:type :fail, :f :read, :value nil, :process 15, :time 57100632005, :error :connect, :index 20246}
{:type :invoke, :f :read, :value nil, :process 33, :time 57106157520, :index 20249}
{:type :fail, :f :read, :value nil, :process 33, :time 57107760762, :error :connect, :index 20250}
{:type :invoke, :f :cas, :value [1 3], :process 37, :time 57113167130, :index 20251}
{:type :fail, :f :cas, :value [1 3], :process 37, :time 57115007501, :error :connect, :index 20252}
{:type :invoke, :f :cas, :value [0 0], :process 11, :time 57118022278, :index 20253}
{:type :fail, :f :cas, :value [0 0], :process 11, :time 57119938369, :error :connect, :index 20254}
{:type :invoke, :f :read, :value nil, :process 10, :time 57139249229, :index 20259}
{:type :fail, :f :read, :value nil, :process 10, :time 57141034549, :error :connect, :index 20260}
{:type :invoke, :f :cas, :value [1 3], :process 18, :time 57142715145, :index 20261}
{:type :fail, :f :cas, :value [1 3], :process 18, :time 57144568550, :error :connect, :index 20262}
{:type :invoke, :f :write, :value 1, :process 11, :time 57146207584, :index 20263}
{:type :fail, :f :write, :value 1, :process 11, :time 57147998907, :error :connect, :index 20264}
{:type :invoke, :f :write, :value 2, :process 15, :time 57161903936, :index 20267}
{:type :fail, :f :write, :value 2, :process 15, :time 57163861327, :error :connect, :index 20268}
{:type :invoke, :f :read, :value nil, :process 34, :time 57189052770, :index 20272}
{:type :invoke, :f :cas, :value [4 1], :process 11, :time 57190270954, :index 20274}
{:type :fail, :f :read, :value nil, :process 34, :time 57190985184, :error :connect, :index 20275}
{:type :fail, :f :cas, :value [4 1], :process 11, :time 57192071872, :error :connect, :index 20276}
{:type :invoke, :f :cas, :value [3 4], :process 34, :time 57216240351, :index 20283}
{:type :invoke, :f :write, :value 1, :process 10, :time 57217296551, :index 20284}
{:type :fail, :f :cas, :value [3 4], :process 34, :time 57218054859, :error :connect, :index 20285}
{:type :fail, :f :write, :value 1, :process 10, :time 57219043364, :error :connect, :index 20286}
{:type :invoke, :f :read, :value nil, :process 18, :time 57230841449, :index 20289}
{:type :fail, :f :read, :value nil, :process 18, :time 57233665201, :error :connect, :index 20290}
{:type :invoke, :f :cas, :value [4 3], :process 33, :time 57235033338, :index 20292}
{:type :fail, :f :cas, :value [4 3], :process 33, :time 57237196399, :error :connect, :index 20295}
{:type :invoke, :f :cas, :value [4 2], :process 32, :time 57237334570, :index 20296}
{:type :fail, :f :cas, :value [4 2], :process 32, :time 57239213095, :error :connect, :index 20298}
{:type :invoke, :f :write, :value 2, :process 39, :time 57243431351, :index 20299}
{:type :fail, :f :write, :value 2, :process 39, :time 57245377735, :error :connect, :index 20300}
{:type :invoke, :f :write, :value 1, :process 36, :time 57245923306, :index 20301}
{:type :fail, :f :write, :value 1, :process 36, :time 57247688681, :error :connect, :index 20302}
{:type :invoke, :f :cas, :value [4 2], :process 34, :time 57252318511, :index 20309}
{:type :fail, :f :cas, :value [4 2], :process 34, :time 57254129106, :error :connect, :index 20310}
{:type :invoke, :f :cas, :value [2 3], :process 15, :time 57254135192, :index 20311}
{:type :fail, :f :cas, :value [2 3], :process 15, :time 57255986342, :error :connect, :index 20313}
{:type :invoke, :f :read, :value nil, :process 39, :time 57263635481, :index 20315}
{:type :fail, :f :read, :value nil, :process 39, :time 57265369273, :error :connect, :index 20316}
{:type :invoke, :f :cas, :value [1 0], :process 37, :time 57270280198, :index 20317}
{:type :fail, :f :cas, :value [1 0], :process 37, :time 57271965956, :error :connect, :index 20318}
{:type :invoke, :f :write, :value 2, :process 34, :time 57281457277, :index 20319}
{:type :fail, :f :write, :value 2, :process 34, :time 57283437290, :error :connect, :index 20320}
{:type :invoke, :f :write, :value 3, :process 36, :time 57302949541, :index 20323}
{:type :fail, :f :write, :value 3, :process 36, :time 57304587748, :error :connect, :index 20324}
{:type :invoke, :f :write, :value 3, :process 15, :time 57307656106, :index 20326}
{:type :fail, :f :write, :value 3, :process 15, :time 57309655588, :error :connect, :index 20328}
{:type :invoke, :f :write, :value 1, :process 33, :time 57329455667, :index 20336}
{:type :fail, :f :write, :value 1, :process 33, :time 57331587798, :error :connect, :index 20338}
{:type :invoke, :f :read, :value nil, :process 10, :time 57354297877, :index 20341}
{:type :fail, :f :read, :value nil, :process 10, :time 57356376709, :error :connect, :index 20342}
{:type :invoke, :f :cas, :value [2 4], :process 39, :time 57357629461, :index 20343}
{:type :fail, :f :cas, :value [2 4], :process 39, :time 57359705026, :error :connect, :index 20345}
{:type :invoke, :f :write, :value 3, :process 39, :time 57370959368, :index 20351}
{:type :fail, :f :write, :value 3, :process 39, :time 57372991175, :error :connect, :index 20353}
{:type :invoke, :f :write, :value 4, :process 33, :time 57374877427, :index 20355}
{:type :fail, :f :write, :value 4, :process 33, :time 57376484727, :error :connect, :index 20357}
{:type :invoke, :f :read, :value nil, :process 37, :time 57377235959, :index 20359}
{:type :invoke, :f :cas, :value [4 1], :process 18, :time 57377930309, :index 20360}
{:type :fail, :f :cas, :value [4 1], :process 18, :time 57379467219, :error :connect, :index 20362}
{:type :fail, :f :read, :value nil, :process 37, :time 57380557167, :error :connect, :index 20364}
{:type :invoke, :f :read, :value nil, :process 15, :time 57382916555, :index 20365}
{:type :fail, :f :read, :value nil, :process 15, :time 57384711442, :error :connect, :index 20366}
{:type :invoke, :f :read, :value nil, :process 11, :time 57390345123, :index 20367}
{:type :fail, :f :read, :value nil, :process 11, :time 57392406933, :error :connect, :index 20368}
{:type :invoke, :f :read, :value nil, :process 33, :time 57394751870, :index 20369}
{:type :fail, :f :read, :value nil, :process 33, :time 57396393900, :error :connect, :index 20370}
{:type :invoke, :f :read, :value nil, :process 37, :time 57405784344, :index 20374}
{:type :fail, :f :read, :value nil, :process 37, :time 57407678135, :error :connect, :index 20377}
{:type :invoke, :f :read, :value nil, :process 11, :time 57413666809, :index 20379}
{:type :fail, :f :read, :value nil, :process 11, :time 57415476007, :error :connect, :index 20380}
{:type :invoke, :f :read, :value nil, :process 32, :time 57425399520, :index 20385}
{:type :fail, :f :read, :value nil, :process 32, :time 57427325388, :error :connect, :index 20387}
{:type :invoke, :f :write, :value 2, :process 37, :time 57427921975, :index 20388}
{:type :fail, :f :write, :value 2, :process 37, :time 57429653478, :error :connect, :index 20390}
{:type :invoke, :f :write, :value 1, :process 10, :time 57435675964, :index 20396}
{:type :fail, :f :write, :value 1, :process 10, :time 57437727496, :error :connect, :index 20398}
{:type :invoke, :f :cas, :value [0 2], :process 34, :time 57442780322, :index 20401}
{:type :fail, :f :cas, :value [0 2], :process 34, :time 57444539194, :error :connect, :index 20402}
{:type :invoke, :f :cas, :value [2 3], :process 18, :time 57446732918, :index 20403}
{:type :fail, :f :cas, :value [2 3], :process 18, :time 57448345535, :error :connect, :index 20404}
{:type :invoke, :f :cas, :value [2 4], :process 32, :time 57448573878, :index 20405}
{:type :fail, :f :cas, :value [2 4], :process 32, :time 57450406889, :error :connect, :index 20406}
{:type :invoke, :f :write, :value 0, :process 37, :time 57467903736, :index 20409}
{:type :fail, :f :write, :value 0, :process 37, :time 57469874966, :error :connect, :index 20410}
{:type :invoke, :f :write, :value 4, :process 39, :time 57494274852, :index 20415}
{:type :fail, :f :write, :value 4, :process 39, :time 57496386159, :error :connect, :index 20416}
{:type :invoke, :f :write, :value 0, :process 36, :time 57499846657, :index 20419}
{:type :fail, :f :write, :value 0, :process 36, :time 57501882096, :error :connect, :index 20420}
{:type :invoke, :f :read, :value nil, :process 39, :time 57509644338, :index 20422}
{:type :invoke, :f :write, :value 4, :process 37, :time 57510247116, :index 20424}
{:type :fail, :f :read, :value nil, :process 39, :time 57511379408, :error :connect, :index 20426}
{:type :fail, :f :write, :value 4, :process 37, :time 57512117366, :error :connect, :index 20427}
{:type :invoke, :f :read, :value nil, :process 33, :time 57540670960, :index 20436}
{:type :invoke, :f :read, :value nil, :process 34, :time 57540813501, :index 20437}
{:type :fail, :f :read, :value nil, :process 34, :time 57542676637, :error :connect, :index 20439}
{:type :fail, :f :read, :value nil, :process 33, :time 57542875006, :error :connect, :index 20440}
{:type :invoke, :f :write, :value 1, :process 15, :time 57554000035, :index 20443}
{:type :fail, :f :write, :value 1, :process 15, :time 57555741016, :error :connect, :index 20444}
{:type :invoke, :f :write, :value 4, :process 36, :time 57559136433, :index 20445}
{:type :fail, :f :write, :value 4, :process 36, :time 57560970610, :error :connect, :index 20446}
{:type :invoke, :f :read, :value nil, :process 18, :time 57568607134, :index 20447}
{:type :fail, :f :read, :value nil, :process 18, :time 57570682196, :error :connect, :index 20448}
{:type :invoke, :f :write, :value 3, :process 10, :time 57601980548, :index 20451}
{:type :fail, :f :write, :value 3, :process 10, :time 57603987156, :error :connect, :index 20452}
{:type :invoke, :f :read, :value nil, :process 32, :time 57604675629, :index 20453}
{:type :fail, :f :read, :value nil, :process 32, :time 57606249195, :error :connect, :index 20454}
{:type :invoke, :f :write, :value 4, :process 11, :time 57612739105, :index 20456}
{:type :invoke, :f :cas, :value [1 4], :process 33, :time 57613146763, :index 20457}
{:type :fail, :f :write, :value 4, :process 11, :time 57614645662, :error :connect, :index 20459}
{:type :fail, :f :cas, :value [1 4], :process 33, :time 57614945591, :error :connect, :index 20460}
{:type :invoke, :f :write, :value 0, :process 39, :time 57623641353, :index 20462}
{:type :fail, :f :write, :value 0, :process 39, :time 57625604145, :error :connect, :index 20465}
{:type :invoke, :f :cas, :value [4 4], :process 37, :time 57642377557, :index 20469}
{:type :fail, :f :cas, :value [4 4], :process 37, :time 57644206269, :error :connect, :index 20470}
{:type :invoke, :f :cas, :value [3 3], :process 36, :time 57654232143, :index 20476}
{:type :fail, :f :cas, :value [3 3], :process 36, :time 57655837009, :error :connect, :index 20478}
{:type :invoke, :f :write, :value 3, :process 34, :time 57658972042, :index 20479}
{:type :fail, :f :write, :value 3, :process 34, :time 57660878305, :error :connect, :index 20480}
{:type :invoke, :f :cas, :value [0 2], :process 18, :time 57693991654, :index 20496}
{:type :fail, :f :cas, :value [0 2], :process 18, :time 57695553882, :error :connect, :index 20498}
{:type :invoke, :f :read, :value nil, :process 15, :time 57699014766, :index 20504}
{:type :fail, :f :read, :value nil, :process 15, :time 57700822298, :error :connect, :index 20506}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
