{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :invoke, :f :read, :value nil, :process 11, :time 15818398282, :index 3187}
{:type :invoke, :f :cas, :value [3 3], :process 32, :time 15822576983, :index 3189}
{:type :ok, :f :read, :value nil, :process 11, :time 15824556549, :index 3191}
{:type :fail, :f :cas, :value [3 3], :process 32, :time 15828990382, :error :not-found, :index 3193}
{:type :invoke, :f :cas, :value [1 0], :process 11, :time 15836825544, :index 3195}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :fail, :f :cas, :value [1 0], :process 11, :time 15841976871, :error :not-found, :index 3198}
{:type :invoke, :f :read, :value nil, :process 32, :time 15843225642, :index 3200}
{:type :invoke, :f :cas, :value [1 4], :process 11, :time 15875270054, :index 3209}
{:type :invoke, :f :read, :value nil, :process 18, :time 15877676735, :index 3211}
{:type :fail, :f :cas, :value [1 4], :process 11, :time 15880494739, :error :not-found, :index 3213}
{:type :invoke, :f :read, :value nil, :process 13, :time 15880686145, :index 3214}
{:type :ok, :f :read, :value nil, :process 18, :time 15882603229, :index 3215}
{:type :ok, :f :read, :value nil, :process 13, :time 15887825823, :index 3216}
{:type :invoke, :f :cas, :value [0 1], :process 11, :time 15891751714, :index 3218}
{:type :fail, :f :cas, :value [0 1], :process 11, :time 15897622586, :error :not-found, :index 3220}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 15921067920, :index 3229}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 15926483226, :error :not-found, :index 3231}
{:type :invoke, :f :write, :value 2, :process 18, :time 15934871451, :index 3232}
{:type :ok, :f :write, :value 2, :process 18, :time 15938793574, :index 3233}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :invoke, :f :read, :value nil, :process 13, :time 15968095395, :index 3241}
{:type :ok, :f :read, :value 2, :process 13, :time 15973084972, :index 3242}
{:type :invoke, :f :read, :value nil, :process 19, :time 15990546104, :index 3246}
{:type :ok, :f :read, :value 2, :process 19, :time 15995568472, :index 3248}
{:type :invoke, :f :cas, :value [1 3], :process 11, :time 16063160679, :index 3252}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 16067077472, :index 3253}
{:type :invoke, :f :write, :value 1, :process 14, :time 16069272236, :index 3254}
{:type :invoke, :f :read, :value nil, :process 16, :time 16085754705, :index 3257}
{:type :invoke, :f :write, :value 3, :process 13, :time 16124340329, :index 3259}
{:type :invoke, :f :write, :value 2, :process 19, :time 16132830723, :index 3260}
{:type :ok, :f :write, :value 3, :process 13, :time 16290964886, :index 3263}
{:type :ok, :f :write, :value 1, :process 14, :time 16291550796, :index 3265}
{:type :ok, :f :write, :value 2, :process 19, :time 16291887422, :index 3267}
{:type :ok, :f :read, :value 2, :process 16, :time 16292856214, :index 3271}
{:type :fail, :f :cas, :value [0 3], :process 18, :time 16293213401, :index 3272}
{:type :fail, :f :cas, :value [1 3], :process 11, :time 16293790757, :index 3273}
{:type :invoke, :f :read, :value nil, :process 13, :time 16325284043, :index 3276}
{:type :ok, :f :read, :value 2, :process 13, :time 16330037091, :index 3277}
{:type :invoke, :f :read, :value nil, :process 19, :time 16412112752, :index 3290}
{:type :ok, :f :read, :value 2, :process 19, :time 16417821138, :index 3291}
{:type :invoke, :f :write, :value 3, :process 16, :time 16424090897, :index 3292}
{:type :ok, :f :write, :value 3, :process 16, :time 16429153241, :index 3294}
{:type :invoke, :f :write, :value 4, :process 18, :time 16433452888, :index 3296}
{:type :ok, :f :write, :value 4, :process 18, :time 16438061142, :index 3297}
{:type :invoke, :f :read, :value nil, :process 11, :time 16463050728, :index 3300}
{:type :ok, :f :read, :value 4, :process 11, :time 16467609705, :index 3301}
{:type :invoke, :f :write, :value 0, :process 14, :time 16471791708, :index 3302}
{:type :ok, :f :write, :value 0, :process 14, :time 16476226449, :index 3303}
{:type :invoke, :f :cas, :value [2 2], :process 11, :time 16480873148, :index 3304}
{:type :invoke, :f :write, :value 2, :process 13, :time 16481305608, :index 3305}
{:type :fail, :f :cas, :value [2 2], :process 11, :time 16486262429, :index 3307}
{:type :ok, :f :write, :value 2, :process 13, :time 16486675396, :index 3308}
{:type :invoke, :f :cas, :value [1 3], :process 14, :time 16492485459, :index 3310}
{:type :fail, :f :cas, :value [1 3], :process 14, :time 16497754859, :index 3311}
{:type :invoke, :f :cas, :value [3 1], :process 14, :time 16526015408, :index 3317}
{:type :invoke, :f :read, :value nil, :process 13, :time 16529169478, :index 3318}
{:type :fail, :f :cas, :value [3 1], :process 14, :time 16532057493, :index 3320}
{:type :ok, :f :read, :value 2, :process 13, :time 16532978767, :index 3321}
{:type :invoke, :f :cas, :value [1 1], :process 16, :time 16549413586, :index 3327}
{:type :fail, :f :cas, :value [1 1], :process 16, :time 16554609407, :index 3329}
{:type :invoke, :f :cas, :value [0 3], :process 13, :time 16557233194, :index 3331}
{:type :fail, :f :cas, :value [0 3], :process 13, :time 16561635663, :index 3333}
{:type :invoke, :f :read, :value nil, :process 19, :time 16565072710, :index 3334}
{:type :ok, :f :read, :value 2, :process 19, :time 16569767989, :index 3335}
{:type :invoke, :f :write, :value 0, :process 19, :time 16578019208, :index 3336}
{:type :ok, :f :write, :value 0, :process 19, :time 16583207869, :index 3337}
{:type :invoke, :f :cas, :value [0 3], :process 18, :time 16600317152, :index 3338}
{:type :ok, :f :cas, :value [0 3], :process 18, :time 16605019313, :index 3340}
{:type :invoke, :f :write, :value 1, :process 16, :time 16650864140, :index 3348}
{:type :ok, :f :write, :value 1, :process 16, :time 16655953503, :index 3349}
{:type :invoke, :f :read, :value nil, :process 11, :time 16678521869, :index 3354}
{:type :ok, :f :read, :value 1, :process 11, :time 16683605780, :index 3355}
{:type :invoke, :f :read, :value nil, :process 13, :time 16704886715, :index 3358}
{:type :ok, :f :read, :value 1, :process 13, :time 16710075739, :index 3360}
{:type :invoke, :f :write, :value 2, :process 14, :time 16712297117, :index 3361}
{:type :ok, :f :write, :value 2, :process 14, :time 16718907172, :index 3364}
{:type :invoke, :f :write, :value 2, :process 11, :time 16732861244, :index 3366}
{:type :ok, :f :write, :value 2, :process 11, :time 16737704845, :index 3367}
{:type :invoke, :f :read, :value nil, :process 13, :time 16751343514, :index 3371}
{:type :ok, :f :read, :value 2, :process 13, :time 16756252814, :index 3372}
{:type :invoke, :f :write, :value 0, :process 16, :time 16765225748, :index 3376}
{:type :ok, :f :write, :value 0, :process 16, :time 16770180963, :index 3377}
{:type :invoke, :f :read, :value nil, :process 19, :time 16776461840, :index 3378}
{:type :ok, :f :read, :value 0, :process 19, :time 16782189481, :index 3380}
{:type :invoke, :f :read, :value nil, :process 18, :time 16804291021, :index 3382}
{:type :ok, :f :read, :value 0, :process 18, :time 16809161966, :index 3383}
{:type :invoke, :f :write, :value 2, :process 11, :time 16854962891, :index 3391}
{:type :ok, :f :write, :value 2, :process 11, :time 16859822108, :index 3393}
{:type :invoke, :f :cas, :value [4 2], :process 19, :time 16898441621, :index 3396}
{:type :fail, :f :cas, :value [4 2], :process 19, :time 16904073372, :index 3398}
{:type :invoke, :f :cas, :value [3 4], :process 14, :time 16907182417, :index 3400}
{:type :fail, :f :cas, :value [3 4], :process 14, :time 16911763394, :index 3403}
{:type :invoke, :f :read, :value nil, :process 18, :time 16926416414, :index 3404}
{:type :invoke, :f :write, :value 2, :process 14, :time 16930014199, :index 3405}
{:type :ok, :f :read, :value 2, :process 18, :time 16931744363, :index 3406}
{:type :ok, :f :write, :value 2, :process 14, :time 16934434852, :index 3407}
{:type :invoke, :f :write, :value 2, :process 14, :time 16934588666, :index 3408}
{:type :ok, :f :write, :value 2, :process 14, :time 16939436427, :index 3409}
{:type :invoke, :f :write, :value 1, :process 16, :time 16941437312, :index 3410}
{:type :invoke, :f :read, :value nil, :process 13, :time 16943511689, :index 3411}
{:type :ok, :f :write, :value 1, :process 16, :time 16946397951, :index 3412}
{:type :ok, :f :read, :value 1, :process 13, :time 16948417655, :index 3413}
{:type :invoke, :f :read, :value nil, :process 16, :time 16963649828, :index 3415}
{:type :ok, :f :read, :value 1, :process 16, :time 16969065194, :index 3417}
{:type :invoke, :f :read, :value nil, :process 19, :time 17011314361, :index 3424}
{:type :invoke, :f :write, :value 0, :process 13, :time 17013668702, :index 3425}
{:type :ok, :f :read, :value 1, :process 19, :time 17016456019, :index 3426}
{:type :ok, :f :write, :value 0, :process 13, :time 17018574737, :index 3427}
{:type :invoke, :f :write, :value 4, :process 11, :time 17029076971, :index 3430}
{:type :ok, :f :write, :value 4, :process 11, :time 17033796871, :index 3433}
{:type :invoke, :f :read, :value nil, :process 18, :time 17034016979, :index 3434}
{:type :ok, :f :read, :value 4, :process 18, :time 17038090494, :index 3436}
{:type :invoke, :f :write, :value 4, :process 14, :time 17069693419, :index 3443}
{:type :ok, :f :write, :value 4, :process 14, :time 17074447076, :index 3445}
{:type :invoke, :f :write, :value 0, :process 11, :time 17078095439, :index 3446}
{:type :ok, :f :write, :value 0, :process 11, :time 17083117964, :index 3447}
{:type :invoke, :f :write, :value 1, :process 18, :time 17096358893, :index 3448}
{:type :ok, :f :write, :value 1, :process 18, :time 17101180030, :index 3449}
{:type :invoke, :f :read, :value nil, :process 16, :time 17112305280, :index 3450}
{:type :ok, :f :read, :value 1, :process 16, :time 17117333575, :index 3451}
{:type :invoke, :f :cas, :value [2 3], :process 14, :time 17126711864, :index 3452}
{:type :fail, :f :cas, :value [2 3], :process 14, :time 17132019806, :index 3453}
{:type :invoke, :f :cas, :value [0 3], :process 13, :time 17136861916, :index 3455}
{:type :fail, :f :cas, :value [0 3], :process 13, :time 17142210124, :index 3459}
{:type :invoke, :f :cas, :value [3 0], :process 19, :time 17206721277, :index 3466}
{:type :invoke, :f :read, :value nil, :process 18, :time 17210437485, :index 3467}
{:type :fail, :f :cas, :value [3 0], :process 19, :time 17211952829, :index 3468}
{:type :invoke, :f :write, :value 1, :process 13, :time 17213406295, :index 3470}
{:type :ok, :f :read, :value 1, :process 18, :time 17215432216, :index 3471}
{:type :ok, :f :write, :value 1, :process 13, :time 17217566982, :index 3473}
{:type :invoke, :f :cas, :value [3 3], :process 13, :time 17230837192, :index 3478}
{:type :fail, :f :cas, :value [3 3], :process 13, :time 17235748864, :index 3480}
{:type :invoke, :f :read, :value nil, :process 14, :time 17254276705, :index 3486}
{:type :ok, :f :read, :value 1, :process 14, :time 17259867408, :index 3487}
{:type :invoke, :f :cas, :value [3 4], :process 11, :time 17270383994, :index 3488}
{:type :fail, :f :cas, :value [3 4], :process 11, :time 17276789770, :index 3489}
{:type :invoke, :f :write, :value 3, :process 13, :time 17289054006, :index 3490}
{:type :ok, :f :write, :value 3, :process 13, :time 17294632937, :index 3491}
{:type :invoke, :f :cas, :value [3 4], :process 16, :time 17309590404, :index 3494}
{:type :ok, :f :cas, :value [3 4], :process 16, :time 17314692051, :index 3495}
{:type :invoke, :f :cas, :value [0 3], :process 11, :time 17332044349, :index 3498}
{:type :invoke, :f :cas, :value [4 2], :process 19, :time 17337188185, :index 3499}
{:type :fail, :f :cas, :value [0 3], :process 11, :time 17338006497, :index 3500}
{:type :ok, :f :cas, :value [4 2], :process 19, :time 17343672535, :index 3501}
{:type :invoke, :f :write, :value 0, :process 18, :time 17366692363, :index 3506}
{:type :invoke, :f :write, :value 3, :process 19, :time 17370304303, :index 3508}
{:type :ok, :f :write, :value 0, :process 18, :time 17371726221, :index 3509}
{:type :ok, :f :write, :value 3, :process 19, :time 17376129776, :index 3511}
{:type :invoke, :f :read, :value nil, :process 13, :time 17388888566, :index 3512}
{:type :invoke, :f :cas, :value [1 1], :process 14, :time 17392148149, :index 3513}
{:type :ok, :f :read, :value 3, :process 13, :time 17394065850, :index 3514}
{:type :fail, :f :cas, :value [1 1], :process 14, :time 17397277045, :index 3515}
{:type :invoke, :f :read, :value nil, :process 16, :time 17426954876, :index 3518}
{:type :ok, :f :read, :value 3, :process 16, :time 17431574936, :index 3519}
{:type :invoke, :f :cas, :value [4 2], :process 16, :time 17439848280, :index 3522}
{:type :fail, :f :cas, :value [4 2], :process 16, :time 17445106367, :index 3523}
{:type :invoke, :f :read, :value nil, :process 18, :time 17457981475, :index 3524}
{:type :invoke, :f :write, :value 0, :process 19, :time 17458394402, :index 3525}
{:type :ok, :f :read, :value 3, :process 18, :time 17462772644, :index 3527}
{:type :ok, :f :write, :value 0, :process 19, :time 17463916170, :index 3528}
{:type :invoke, :f :cas, :value [4 4], :process 13, :time 17464325296, :index 3529}
{:type :fail, :f :cas, :value [4 4], :process 13, :time 17469174363, :index 3531}
{:type :invoke, :f :write, :value 0, :process 11, :time 17471235632, :index 3532}
{:type :ok, :f :write, :value 0, :process 11, :time 17476081644, :index 3533}
{:type :invoke, :f :read, :value nil, :process 11, :time 17480349413, :index 3535}
{:type :ok, :f :read, :value 0, :process 11, :time 17485472342, :index 3537}
{:type :invoke, :f :write, :value 1, :process 16, :time 17501380079, :index 3538}
{:type :ok, :f :write, :value 1, :process 16, :time 17506358597, :index 3540}
{:type :invoke, :f :cas, :value [3 0], :process 11, :time 17542730724, :index 3544}
{:type :fail, :f :cas, :value [3 0], :process 11, :time 17548855763, :index 3547}
{:type :invoke, :f :cas, :value [2 3], :process 14, :time 17573571089, :index 3550}
{:type :fail, :f :cas, :value [2 3], :process 14, :time 17578422364, :index 3551}
{:type :invoke, :f :cas, :value [4 1], :process 13, :time 17601452307, :index 3553}
{:type :fail, :f :cas, :value [4 1], :process 13, :time 17606011002, :index 3555}
{:type :invoke, :f :read, :value nil, :process 16, :time 17608627037, :index 3557}
{:type :ok, :f :read, :value 1, :process 16, :time 17615914752, :index 3560}
{:type :invoke, :f :read, :value nil, :process 14, :time 17616710592, :index 3561}
{:type :ok, :f :read, :value 1, :process 14, :time 17621603530, :index 3564}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 17628062536, :index 3568}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 17634302905, :index 3571}
{:type :invoke, :f :read, :value nil, :process 19, :time 17661164496, :index 3574}
{:type :ok, :f :read, :value 1, :process 19, :time 17667023810, :index 3575}
{:type :invoke, :f :write, :value 0, :process 16, :time 17674172041, :index 3576}
{:type :ok, :f :write, :value 0, :process 16, :time 17679094932, :index 3578}
{:type :invoke, :f :read, :value nil, :process 13, :time 17698273702, :index 3581}
{:type :ok, :f :read, :value 0, :process 13, :time 17702565186, :index 3583}
{:type :invoke, :f :cas, :value [2 2], :process 14, :time 17730883124, :index 3585}
{:type :fail, :f :cas, :value [2 2], :process 14, :time 17736581769, :index 3587}
{:type :invoke, :f :read, :value nil, :process 11, :time 17738102903, :index 3588}
{:type :ok, :f :read, :value 0, :process 11, :time 17743211148, :index 3589}
{:type :invoke, :f :write, :value 0, :process 14, :time 17749832617, :index 3590}
{:type :ok, :f :write, :value 0, :process 14, :time 17754981895, :index 3591}
{:type :invoke, :f :cas, :value [0 0], :process 18, :time 17766565582, :index 3592}
{:type :ok, :f :cas, :value [0 0], :process 18, :time 17772441128, :index 3595}
{:type :invoke, :f :cas, :value [0 1], :process 19, :time 17791283099, :index 3602}
{:type :ok, :f :cas, :value [0 1], :process 19, :time 17796466033, :index 3603}
{:type :invoke, :f :write, :value 1, :process 16, :time 17816420993, :index 3604}
{:type :ok, :f :write, :value 1, :process 16, :time 17821593295, :index 3605}
{:type :invoke, :f :read, :value nil, :process 13, :time 17849822763, :index 3612}
{:type :ok, :f :read, :value 1, :process 13, :time 17854842991, :index 3613}
{:type :fail, :f :read, :value nil, :process 32, :time 20850259951, :error :timeout, :index 4158}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
