{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :invoke, :f :write, :value 3, :process 5, :time 54294207031, :index 19106}
{:type :fail, :f :write, :value 3, :process 5, :time 54296140201, :error :connect, :index 19108}
{:type :invoke, :f :write, :value 1, :process 29, :time 54325571224, :index 19120}
{:type :fail, :f :write, :value 1, :process 29, :time 54327497950, :error :connect, :index 19121}
{:type :invoke, :f :write, :value 0, :process 22, :time 54347209666, :index 19130}
{:type :fail, :f :write, :value 0, :process 22, :time 54349041021, :error :connect, :index 19131}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 54365402815, :index 19143}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 54367365642, :error :connect, :index 19145}
{:type :invoke, :f :read, :value nil, :process 8, :time 54377378345, :index 19148}
{:type :fail, :f :read, :value nil, :process 8, :time 54379167907, :error :connect, :index 19151}
{:type :invoke, :f :cas, :value [3 3], :process 4, :time 54384285135, :index 19152}
{:type :invoke, :f :write, :value 2, :process 6, :time 54385129130, :index 19153}
{:type :fail, :f :cas, :value [3 3], :process 4, :time 54386118262, :error :connect, :index 19154}
{:type :fail, :f :write, :value 2, :process 6, :time 54386902531, :error :connect, :index 19155}
{:type :invoke, :f :write, :value 1, :process 29, :time 54387026677, :index 19156}
{:type :fail, :f :write, :value 1, :process 29, :time 54388728474, :error :connect, :index 19157}
{:type :invoke, :f :cas, :value [4 2], :process 5, :time 54398608321, :index 19162}
{:type :fail, :f :cas, :value [4 2], :process 5, :time 54400677167, :error :connect, :index 19163}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 54420397739, :index 19170}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 54422269583, :error :connect, :index 19172}
{:type :invoke, :f :write, :value 0, :process 6, :time 54428168422, :index 19177}
{:type :fail, :f :write, :value 0, :process 6, :time 54429805974, :error :connect, :index 19179}
{:type :invoke, :f :read, :value nil, :process 3, :time 54430092855, :index 19180}
{:type :fail, :f :read, :value nil, :process 3, :time 54431948600, :error :connect, :index 19181}
{:type :invoke, :f :write, :value 0, :process 4, :time 54436416408, :index 19182}
{:type :fail, :f :write, :value 0, :process 4, :time 54438662998, :error :connect, :index 19185}
{:type :invoke, :f :cas, :value [3 2], :process 22, :time 54447331627, :index 19188}
{:type :fail, :f :cas, :value [3 2], :process 22, :time 54449256311, :error :connect, :index 19190}
{:type :invoke, :f :write, :value 3, :process 8, :time 54456536118, :index 19194}
{:type :fail, :f :write, :value 3, :process 8, :time 54458370057, :error :connect, :index 19195}
{:type :invoke, :f :read, :value nil, :process 21, :time 54462419043, :index 19196}
{:type :fail, :f :read, :value nil, :process 21, :time 54464105198, :error :connect, :index 19197}
{:type :invoke, :f :write, :value 3, :process 22, :time 54477487138, :index 19204}
{:type :fail, :f :write, :value 3, :process 22, :time 54479326245, :error :connect, :index 19205}
{:type :invoke, :f :read, :value nil, :process 4, :time 54488943433, :index 19208}
{:type :invoke, :f :write, :value 4, :process 29, :time 54489998248, :index 19209}
{:type :fail, :f :read, :value nil, :process 4, :time 54490630345, :error :connect, :index 19210}
{:type :fail, :f :write, :value 4, :process 29, :time 54491798973, :error :connect, :index 19211}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 54494912227, :index 19212}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 54496693474, :error :connect, :index 19213}
{:type :invoke, :f :write, :value 2, :process 0, :time 54505865988, :index 19214}
{:type :fail, :f :write, :value 2, :process 0, :time 54508120255, :error :connect, :index 19219}
{:type :invoke, :f :cas, :value [2 0], :process 3, :time 54508316113, :index 19220}
{:type :fail, :f :cas, :value [2 0], :process 3, :time 54510133828, :error :connect, :index 19225}
{:type :invoke, :f :write, :value 1, :process 4, :time 54521957976, :index 19228}
{:type :fail, :f :write, :value 1, :process 4, :time 54523666564, :error :connect, :index 19229}
{:type :invoke, :f :write, :value 4, :process 21, :time 54532364258, :index 19230}
{:type :invoke, :f :write, :value 4, :process 22, :time 54532596985, :index 19231}
{:type :fail, :f :write, :value 4, :process 22, :time 54534595587, :error :connect, :index 19232}
{:type :fail, :f :write, :value 4, :process 21, :time 54534708985, :error :connect, :index 19233}
{:type :invoke, :f :write, :value 2, :process 3, :time 54540367151, :index 19234}
{:type :fail, :f :write, :value 2, :process 3, :time 54542263071, :error :connect, :index 19235}
{:type :invoke, :f :read, :value nil, :process 7, :time 54544838418, :index 19237}
{:type :fail, :f :read, :value nil, :process 7, :time 54546866448, :error :connect, :index 19241}
{:type :invoke, :f :read, :value nil, :process 22, :time 54547888598, :index 19244}
{:type :fail, :f :read, :value nil, :process 22, :time 54549523092, :error :connect, :index 19245}
{:type :invoke, :f :read, :value nil, :process 21, :time 54549909650, :index 19246}
{:type :fail, :f :read, :value nil, :process 21, :time 54551716395, :error :connect, :index 19248}
{:type :invoke, :f :write, :value 4, :process 21, :time 54559978148, :index 19250}
{:type :fail, :f :write, :value 4, :process 21, :time 54561540983, :error :connect, :index 19251}
{:type :invoke, :f :read, :value nil, :process 29, :time 54567049611, :index 19252}
{:type :fail, :f :read, :value nil, :process 29, :time 54568852227, :error :connect, :index 19253}
{:type :invoke, :f :cas, :value [1 4], :process 5, :time 54593950971, :index 19256}
{:type :fail, :f :cas, :value [1 4], :process 5, :time 54595779537, :error :connect, :index 19257}
{:type :invoke, :f :write, :value 0, :process 3, :time 54602518736, :index 19258}
{:type :invoke, :f :write, :value 0, :process 6, :time 54604061598, :index 19259}
{:type :fail, :f :write, :value 0, :process 3, :time 54604476709, :error :connect, :index 19260}
{:type :fail, :f :write, :value 0, :process 6, :time 54605849258, :error :connect, :index 19261}
{:type :invoke, :f :read, :value nil, :process 7, :time 54610124872, :index 19262}
{:type :fail, :f :read, :value nil, :process 7, :time 54612152681, :error :connect, :index 19264}
{:type :invoke, :f :read, :value nil, :process 4, :time 54612932192, :index 19266}
{:type :fail, :f :read, :value nil, :process 4, :time 54614747366, :error :connect, :index 19267}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 54618473272, :index 19269}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 54620350382, :error :connect, :index 19271}
{:type :invoke, :f :read, :value nil, :process 3, :time 54635738244, :index 19272}
{:type :fail, :f :read, :value nil, :process 3, :time 54637885063, :error :connect, :index 19273}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 54640784190, :index 19274}
{:type :fail, :f :cas, :value [4 2], :process 21, :time 54642824284, :error :connect, :index 19275}
{:type :invoke, :f :write, :value 4, :process 8, :time 54649633946, :index 19278}
{:type :fail, :f :write, :value 4, :process 8, :time 54651541668, :error :connect, :index 19279}
{:type :invoke, :f :write, :value 4, :process 4, :time 54674010024, :index 19281}
{:type :fail, :f :write, :value 4, :process 4, :time 54675963441, :error :connect, :index 19284}
{:type :invoke, :f :write, :value 4, :process 5, :time 54678047578, :index 19286}
{:type :fail, :f :write, :value 4, :process 5, :time 54680042421, :error :connect, :index 19288}
{:type :invoke, :f :cas, :value [4 3], :process 21, :time 54684090790, :index 19290}
{:type :fail, :f :cas, :value [4 3], :process 21, :time 54686081826, :error :connect, :index 19292}
{:type :invoke, :f :write, :value 2, :process 7, :time 54695410951, :index 19298}
{:type :invoke, :f :read, :value nil, :process 29, :time 54696123060, :index 19299}
{:type :fail, :f :write, :value 2, :process 7, :time 54697006497, :error :connect, :index 19300}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 54697592525, :index 19301}
{:type :fail, :f :read, :value nil, :process 29, :time 54698142900, :error :connect, :index 19302}
{:type :invoke, :f :write, :value 3, :process 7, :time 54699266084, :index 19303}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 54699775193, :error :connect, :index 19304}
{:type :fail, :f :write, :value 3, :process 7, :time 54701014854, :error :connect, :index 19305}
{:type :invoke, :f :write, :value 4, :process 3, :time 54712139037, :index 19306}
{:type :fail, :f :write, :value 4, :process 3, :time 54713743202, :error :connect, :index 19307}
{:type :invoke, :f :cas, :value [3 1], :process 0, :time 54722046253, :index 19308}
{:type :fail, :f :cas, :value [3 1], :process 0, :time 54724065953, :error :connect, :index 19309}
{:type :invoke, :f :cas, :value [4 2], :process 3, :time 54729010245, :index 19310}
{:type :fail, :f :cas, :value [4 2], :process 3, :time 54731126235, :error :connect, :index 19311}
{:type :invoke, :f :read, :value nil, :process 22, :time 54738738314, :index 19316}
{:type :fail, :f :read, :value nil, :process 22, :time 54740761068, :error :connect, :index 19320}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 54750728797, :index 19322}
{:type :invoke, :f :write, :value 4, :process 4, :time 54751256060, :index 19323}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 54752643650, :error :connect, :index 19324}
{:type :fail, :f :write, :value 4, :process 4, :time 54753205057, :error :connect, :index 19325}
{:type :invoke, :f :read, :value nil, :process 0, :time 54757326444, :index 19326}
{:type :fail, :f :read, :value nil, :process 0, :time 54759372792, :error :connect, :index 19327}
{:type :invoke, :f :cas, :value [3 1], :process 7, :time 54761267165, :index 19328}
{:type :fail, :f :cas, :value [3 1], :process 7, :time 54763138095, :error :connect, :index 19329}
{:type :invoke, :f :cas, :value [3 0], :process 6, :time 54767108594, :index 19330}
{:type :fail, :f :cas, :value [3 0], :process 6, :time 54768850472, :error :connect, :index 19331}
{:type :invoke, :f :cas, :value [4 0], :process 6, :time 54786123932, :index 19333}
{:type :fail, :f :cas, :value [4 0], :process 6, :time 54787801994, :error :connect, :index 19336}
{:type :invoke, :f :read, :value nil, :process 8, :time 54788924379, :index 19338}
{:type :fail, :f :read, :value nil, :process 8, :time 54790769204, :error :connect, :index 19339}
{:type :invoke, :f :write, :value 0, :process 22, :time 54802050901, :index 19341}
{:type :invoke, :f :write, :value 0, :process 7, :time 54803416908, :index 19343}
{:type :fail, :f :write, :value 0, :process 22, :time 54804126573, :error :connect, :index 19344}
{:type :invoke, :f :cas, :value [2 1], :process 0, :time 54804637514, :index 19345}
{:type :fail, :f :write, :value 0, :process 7, :time 54805421868, :error :connect, :index 19346}
{:type :fail, :f :cas, :value [2 1], :process 0, :time 54806455909, :error :connect, :index 19347}
{:type :invoke, :f :cas, :value [2 1], :process 7, :time 54820670520, :index 19352}
{:type :invoke, :f :write, :value 0, :process 4, :time 54822444394, :index 19353}
{:type :fail, :f :cas, :value [2 1], :process 7, :time 54822797395, :error :connect, :index 19354}
{:type :fail, :f :write, :value 0, :process 4, :time 54824462307, :error :connect, :index 19355}
{:type :invoke, :f :read, :value nil, :process 3, :time 54830392255, :index 19358}
{:type :fail, :f :read, :value nil, :process 3, :time 54832137683, :error :connect, :index 19359}
{:type :invoke, :f :read, :value nil, :process 21, :time 54843353735, :index 19360}
{:type :fail, :f :read, :value nil, :process 21, :time 54845239144, :error :connect, :index 19362}
{:type :invoke, :f :write, :value 0, :process 3, :time 54865428418, :index 19364}
{:type :invoke, :f :write, :value 4, :process 21, :time 54865444242, :index 19365}
{:type :invoke, :f :write, :value 1, :process 29, :time 54866432144, :index 19366}
{:type :fail, :f :write, :value 0, :process 3, :time 54867307465, :error :connect, :index 19368}
{:type :fail, :f :write, :value 4, :process 21, :time 54867698295, :error :connect, :index 19369}
{:type :fail, :f :write, :value 1, :process 29, :time 54868332597, :error :connect, :index 19370}
{:type :invoke, :f :read, :value nil, :process 7, :time 54871066470, :index 19372}
{:type :fail, :f :read, :value nil, :process 7, :time 54872845493, :error :connect, :index 19374}
{:type :invoke, :f :write, :value 0, :process 5, :time 54878312369, :index 19377}
{:type :invoke, :f :cas, :value [4 4], :process 22, :time 54878395461, :index 19378}
{:type :fail, :f :cas, :value [4 4], :process 22, :time 54880425240, :error :connect, :index 19380}
{:type :fail, :f :write, :value 0, :process 5, :time 54880600632, :error :connect, :index 19381}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 54885584772, :index 19386}
{:type :fail, :f :cas, :value [1 1], :process 3, :time 54887227037, :error :connect, :index 19387}
{:type :invoke, :f :write, :value 1, :process 8, :time 54893037718, :index 19388}
{:type :invoke, :f :write, :value 1, :process 5, :time 54893862360, :index 19389}
{:type :fail, :f :write, :value 1, :process 8, :time 54894936898, :error :connect, :index 19390}
{:type :fail, :f :write, :value 1, :process 5, :time 54895728811, :error :connect, :index 19391}
{:type :invoke, :f :write, :value 0, :process 0, :time 54924714436, :index 19402}
{:type :fail, :f :write, :value 0, :process 0, :time 54926582497, :error :connect, :index 19403}
{:type :invoke, :f :cas, :value [3 4], :process 29, :time 54948571691, :index 19406}
{:type :fail, :f :cas, :value [3 4], :process 29, :time 54950085075, :error :connect, :index 19407}
{:type :invoke, :f :write, :value 1, :process 21, :time 54963917142, :index 19408}
{:type :fail, :f :write, :value 1, :process 21, :time 54965846903, :error :connect, :index 19410}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 54983063287, :index 19416}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 54983503405, :index 19417}
{:type :fail, :f :cas, :value [4 4], :process 6, :time 54984961545, :error :connect, :index 19418}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 54985405519, :error :connect, :index 19419}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 54986732698, :index 19420}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 54988543790, :error :connect, :index 19421}
{:type :invoke, :f :write, :value 4, :process 8, :time 55001202865, :index 19425}
{:type :invoke, :f :read, :value nil, :process 7, :time 55009936755, :index 19426}
{:type :fail, :f :write, :value 4, :process 8, :time 55012368586, :error :connect, :index 19429}
{:type :fail, :f :read, :value nil, :process 7, :time 55012831550, :error :connect, :index 19431}
{:type :invoke, :f :cas, :value [4 3], :process 5, :time 55043981137, :index 19440}
{:type :fail, :f :cas, :value [4 3], :process 5, :time 55045628242, :error :connect, :index 19441}
{:type :invoke, :f :cas, :value [3 2], :process 29, :time 55050350315, :index 19442}
{:type :fail, :f :cas, :value [3 2], :process 29, :time 55052432829, :error :connect, :index 19444}
{:type :invoke, :f :write, :value 1, :process 0, :time 55052858677, :index 19445}
{:type :fail, :f :write, :value 1, :process 0, :time 55054870606, :error :connect, :index 19447}
{:type :invoke, :f :cas, :value [3 0], :process 29, :time 55069716563, :index 19461}
{:type :fail, :f :cas, :value [3 0], :process 29, :time 55071733427, :error :connect, :index 19463}
{:type :invoke, :f :write, :value 3, :process 22, :time 55077690913, :index 19466}
{:type :fail, :f :write, :value 3, :process 22, :time 55079287742, :error :connect, :index 19468}
{:type :invoke, :f :read, :value nil, :process 6, :time 55111230307, :index 19478}
{:type :invoke, :f :cas, :value [1 4], :process 21, :time 55113132803, :index 19479}
{:type :fail, :f :read, :value nil, :process 6, :time 55113353791, :error :connect, :index 19480}
{:type :fail, :f :cas, :value [1 4], :process 21, :time 55115052847, :error :connect, :index 19481}
{:type :invoke, :f :read, :value nil, :process 3, :time 55115695243, :index 19482}
{:type :fail, :f :read, :value nil, :process 3, :time 55117540365, :error :connect, :index 19483}
{:type :invoke, :f :read, :value nil, :process 4, :time 55122735448, :index 19486}
{:type :fail, :f :read, :value nil, :process 4, :time 55124579112, :error :connect, :index 19487}
{:type :invoke, :f :write, :value 2, :process 8, :time 55166306703, :index 19494}
{:type :fail, :f :write, :value 2, :process 8, :time 55167941257, :error :connect, :index 19495}
{:type :invoke, :f :read, :value nil, :process 21, :time 55183321261, :index 19502}
{:type :fail, :f :read, :value nil, :process 21, :time 55185088945, :error :connect, :index 19503}
{:type :invoke, :f :write, :value 1, :process 6, :time 55201599875, :index 19506}
{:type :invoke, :f :read, :value nil, :process 7, :time 55203335637, :index 19507}
{:type :fail, :f :write, :value 1, :process 6, :time 55203742387, :error :connect, :index 19508}
{:type :fail, :f :read, :value nil, :process 7, :time 55205379369, :error :connect, :index 19510}
{:type :invoke, :f :cas, :value [2 1], :process 22, :time 55206533216, :index 19512}
{:type :fail, :f :cas, :value [2 1], :process 22, :time 55208331841, :error :connect, :index 19513}
{:type :invoke, :f :write, :value 1, :process 0, :time 55219147295, :index 19516}
{:type :fail, :f :write, :value 1, :process 0, :time 55221007899, :error :connect, :index 19517}
{:type :invoke, :f :write, :value 4, :process 3, :time 55221800933, :index 19518}
{:type :fail, :f :write, :value 4, :process 3, :time 55223828469, :error :connect, :index 19519}
{:type :invoke, :f :write, :value 2, :process 29, :time 55230992871, :index 19522}
{:type :fail, :f :write, :value 2, :process 29, :time 55232839540, :error :connect, :index 19524}
{:type :invoke, :f :write, :value 4, :process 5, :time 55241904940, :index 19528}
{:type :fail, :f :write, :value 4, :process 5, :time 55243716309, :error :connect, :index 19529}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
