{:type :info, :f :start, :value nil, :process :nemesis, :time 5220109309, :index 1550}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 5631826476, :index 1559}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10632502435, :index 2501}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10838161946, :index 2549}
{:type :invoke, :f :cas, :value [0 2], :process 5, :time 15809650408, :index 3181}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 15813940679, :index 3184}
{:type :fail, :f :cas, :value [0 2], :process 5, :time 15816285048, :error :not-found, :index 3186}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 15819010950, :error :not-found, :index 3188}
{:type :invoke, :f :cas, :value [0 0], :process 5, :time 15834557909, :index 3194}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15838423672, :index 3196}
{:type :fail, :f :cas, :value [0 0], :process 5, :time 15840056146, :error :not-found, :index 3197}
{:type :invoke, :f :cas, :value [2 0], :process 0, :time 15854047009, :index 3205}
{:type :invoke, :f :write, :value 3, :process 6, :time 15872162334, :index 3206}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 15872740272, :index 3207}
{:type :ok, :f :write, :value 3, :process 6, :time 15877525182, :index 3210}
{:type :ok, :f :cas, :value [3 3], :process 8, :time 15877839994, :index 3212}
{:type :invoke, :f :write, :value 1, :process 5, :time 15890349075, :index 3217}
{:type :invoke, :f :cas, :value [0 2], :process 7, :time 15898630497, :index 3222}
{:type :invoke, :f :write, :value 3, :process 8, :time 15920090573, :index 3228}
{:type :ok, :f :write, :value 3, :process 8, :time 15924873889, :index 3230}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 15941405914, :index 3234}
{:type :invoke, :f :write, :value 2, :process 9, :time 15943150171, :index 3235}
{:type :ok, :f :write, :value 2, :process 9, :time 15948635661, :index 3236}
{:type :invoke, :f :write, :value 0, :process 3, :time 15958148595, :index 3237}
{:type :invoke, :f :cas, :value [0 3], :process 1, :time 15963063241, :index 3238}
{:type :ok, :f :write, :value 0, :process 3, :time 15963291599, :index 3239}
{:type :ok, :f :cas, :value [0 3], :process 1, :time 15967961076, :index 3240}
{:type :invoke, :f :cas, :value [2 1], :process 6, :time 15977796923, :index 3244}
{:type :fail, :f :cas, :value [2 1], :process 6, :time 15983239321, :index 3245}
{:type :invoke, :f :cas, :value [0 0], :process 8, :time 15995133023, :index 3247}
{:type :invoke, :f :write, :value 2, :process 4, :time 16007245778, :index 3249}
{:type :invoke, :f :read, :value nil, :process 1, :time 16030245248, :index 3250}
{:type :invoke, :f :read, :value nil, :process 6, :time 16046497676, :index 3251}
{:type :invoke, :f :cas, :value [3 3], :process 3, :time 16070548838, :index 3255}
{:type :invoke, :f :write, :value 3, :process 9, :time 16074896293, :index 3256}
{:type :fail, :f :cas, :value [0 0], :process 8, :time 16105419112, :index 3258}
{:type :invoke, :f :read, :value nil, :process 8, :time 16172674973, :index 3261}
{:type :ok, :f :read, :value 3, :process 8, :time 16290534990, :index 3262}
{:type :fail, :f :cas, :value [3 3], :process 3, :time 16291430551, :index 3264}
{:type :ok, :f :write, :value 2, :process 4, :time 16291837876, :index 3266}
{:type :ok, :f :read, :value 3, :process 1, :time 16292187379, :index 3268}
{:type :ok, :f :write, :value 3, :process 9, :time 16292193422, :index 3269}
{:type :ok, :f :read, :value 3, :process 6, :time 16292409045, :index 3270}
{:type :invoke, :f :read, :value nil, :process 6, :time 16316762713, :index 3274}
{:type :ok, :f :read, :value 3, :process 6, :time 16322964760, :index 3275}
{:type :invoke, :f :read, :value nil, :process 3, :time 16333762721, :index 3278}
{:type :ok, :f :read, :value 3, :process 3, :time 16339518488, :index 3279}
{:type :invoke, :f :read, :value nil, :process 8, :time 16341947132, :index 3280}
{:type :ok, :f :read, :value 3, :process 8, :time 16345973706, :index 3281}
{:type :invoke, :f :write, :value 4, :process 3, :time 16355771038, :index 3282}
{:type :ok, :f :write, :value 4, :process 3, :time 16361004638, :index 3283}
{:type :invoke, :f :read, :value nil, :process 1, :time 16366650031, :index 3284}
{:type :ok, :f :read, :value 4, :process 1, :time 16371582678, :index 3285}
{:type :invoke, :f :read, :value nil, :process 4, :time 16374067538, :index 3286}
{:type :ok, :f :read, :value 4, :process 4, :time 16379969010, :index 3287}
{:type :invoke, :f :read, :value nil, :process 8, :time 16396228063, :index 3288}
{:type :ok, :f :read, :value 4, :process 8, :time 16401071152, :index 3289}
{:type :invoke, :f :write, :value 1, :process 3, :time 16427263175, :index 3293}
{:type :ok, :f :write, :value 1, :process 3, :time 16432984702, :index 3295}
{:type :invoke, :f :write, :value 1, :process 6, :time 16455231991, :index 3298}
{:type :ok, :f :write, :value 1, :process 6, :time 16459869738, :index 3299}
{:type :invoke, :f :cas, :value [2 3], :process 9, :time 16481528561, :index 3306}
{:type :fail, :f :cas, :value [2 3], :process 9, :time 16487092972, :index 3309}
{:type :invoke, :f :write, :value 2, :process 8, :time 16514325998, :index 3312}
{:type :invoke, :f :read, :value nil, :process 3, :time 16518237149, :index 3313}
{:type :ok, :f :write, :value 2, :process 8, :time 16519150634, :index 3314}
{:type :ok, :f :read, :value 2, :process 3, :time 16523178217, :index 3315}
{:type :invoke, :f :cas, :value [4 4], :process 1, :time 16524834714, :index 3316}
{:type :fail, :f :cas, :value [4 4], :process 1, :time 16531317320, :index 3319}
{:type :invoke, :f :write, :value 1, :process 4, :time 16538222117, :index 3322}
{:type :invoke, :f :read, :value nil, :process 1, :time 16538593513, :index 3323}
{:type :ok, :f :write, :value 1, :process 4, :time 16543669128, :index 3324}
{:type :ok, :f :read, :value 1, :process 1, :time 16544165440, :index 3325}
{:type :invoke, :f :read, :value nil, :process 6, :time 16545126632, :index 3326}
{:type :ok, :f :read, :value 1, :process 6, :time 16550417696, :index 3328}
{:type :invoke, :f :write, :value 0, :process 3, :time 16555468334, :index 3330}
{:type :ok, :f :write, :value 0, :process 3, :time 16560484035, :index 3332}
{:type :invoke, :f :write, :value 4, :process 1, :time 16603394857, :index 3339}
{:type :ok, :f :write, :value 4, :process 1, :time 16608212639, :index 3341}
{:type :invoke, :f :cas, :value [1 4], :process 9, :time 16633327501, :index 3342}
{:type :invoke, :f :write, :value 1, :process 6, :time 16634696873, :index 3343}
{:type :invoke, :f :read, :value nil, :process 4, :time 16638927281, :index 3344}
{:type :fail, :f :cas, :value [1 4], :process 9, :time 16639795367, :index 3345}
{:type :ok, :f :write, :value 1, :process 6, :time 16640039575, :index 3346}
{:type :ok, :f :read, :value 1, :process 4, :time 16644040561, :index 3347}
{:type :invoke, :f :write, :value 1, :process 8, :time 16656406448, :index 3350}
{:type :invoke, :f :cas, :value [0 0], :process 3, :time 16658745543, :index 3351}
{:type :ok, :f :write, :value 1, :process 8, :time 16660528104, :index 3352}
{:type :fail, :f :cas, :value [0 0], :process 3, :time 16664383519, :index 3353}
{:type :invoke, :f :read, :value nil, :process 3, :time 16694633299, :index 3356}
{:type :ok, :f :read, :value 1, :process 3, :time 16699408430, :index 3357}
{:type :invoke, :f :write, :value 2, :process 4, :time 16709289987, :index 3359}
{:type :ok, :f :write, :value 2, :process 4, :time 16713825636, :index 3362}
{:type :invoke, :f :read, :value nil, :process 6, :time 16716276059, :index 3363}
{:type :ok, :f :read, :value 2, :process 6, :time 16720883740, :index 3365}
{:type :invoke, :f :cas, :value [3 2], :process 1, :time 16738469019, :index 3368}
{:type :fail, :f :cas, :value [3 2], :process 1, :time 16744394363, :index 3369}
{:type :invoke, :f :read, :value nil, :process 6, :time 16751142407, :index 3370}
{:type :ok, :f :read, :value 2, :process 6, :time 16757262193, :index 3373}
{:type :invoke, :f :read, :value nil, :process 6, :time 16757388413, :index 3374}
{:type :ok, :f :read, :value 2, :process 6, :time 16762087001, :index 3375}
{:type :invoke, :f :write, :value 4, :process 6, :time 16779385683, :index 3379}
{:type :ok, :f :write, :value 4, :process 6, :time 16784118042, :index 3381}
{:type :invoke, :f :cas, :value [2 4], :process 9, :time 16818103036, :index 3384}
{:type :fail, :f :cas, :value [2 4], :process 9, :time 16823234377, :index 3385}
{:type :invoke, :f :cas, :value [3 1], :process 8, :time 16842782225, :index 3386}
{:type :invoke, :f :read, :value nil, :process 3, :time 16843670050, :index 3387}
{:type :fail, :f :cas, :value [3 1], :process 8, :time 16847863033, :index 3388}
{:type :ok, :f :read, :value 4, :process 3, :time 16848645399, :index 3389}
{:type :invoke, :f :read, :value nil, :process 1, :time 16853649955, :index 3390}
{:type :ok, :f :read, :value 4, :process 1, :time 16858372198, :index 3392}
{:type :invoke, :f :write, :value 0, :process 6, :time 16880375913, :index 3394}
{:type :ok, :f :write, :value 0, :process 6, :time 16885607097, :index 3395}
{:type :invoke, :f :read, :value nil, :process 1, :time 16903641138, :index 3397}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 16904211623, :index 3399}
{:type :ok, :f :cas, :value [0 0], :process 4, :time 16909176542, :index 3401}
{:type :ok, :f :read, :value 0, :process 1, :time 16909805063, :index 3402}
{:type :invoke, :f :write, :value 0, :process 4, :time 16957435048, :index 3414}
{:type :ok, :f :write, :value 0, :process 4, :time 16967077890, :index 3416}
{:type :invoke, :f :read, :value nil, :process 8, :time 16976124028, :index 3418}
{:type :ok, :f :read, :value 0, :process 8, :time 16981027172, :index 3419}
{:type :invoke, :f :read, :value nil, :process 6, :time 16990872884, :index 3420}
{:type :invoke, :f :write, :value 0, :process 3, :time 16995897377, :index 3421}
{:type :ok, :f :read, :value 0, :process 6, :time 16997254469, :index 3422}
{:type :ok, :f :write, :value 0, :process 3, :time 17000768197, :index 3423}
{:type :invoke, :f :read, :value nil, :process 9, :time 17022498888, :index 3428}
{:type :ok, :f :read, :value 0, :process 9, :time 17027502491, :index 3429}
{:type :invoke, :f :read, :value nil, :process 4, :time 17029340126, :index 3431}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 17033259032, :index 3432}
{:type :ok, :f :read, :value 0, :process 4, :time 17035969110, :index 3435}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 17038112038, :index 3437}
{:type :invoke, :f :read, :value nil, :process 1, :time 17042053504, :index 3438}
{:type :ok, :f :read, :value 0, :process 1, :time 17047253616, :index 3439}
{:type :invoke, :f :read, :value nil, :process 1, :time 17062504993, :index 3440}
{:type :invoke, :f :read, :value nil, :process 3, :time 17067017489, :index 3441}
{:type :ok, :f :read, :value 0, :process 1, :time 17067799187, :index 3442}
{:type :ok, :f :read, :value 0, :process 3, :time 17071596836, :index 3444}
{:type :invoke, :f :write, :value 3, :process 6, :time 17135516442, :index 3454}
{:type :invoke, :f :read, :value nil, :process 1, :time 17137060990, :index 3456}
{:type :ok, :f :write, :value 3, :process 6, :time 17141747812, :index 3457}
{:type :invoke, :f :read, :value nil, :process 9, :time 17142096064, :index 3458}
{:type :ok, :f :read, :value 3, :process 1, :time 17142802421, :index 3460}
{:type :invoke, :f :write, :value 4, :process 8, :time 17144422052, :index 3461}
{:type :ok, :f :read, :value 3, :process 9, :time 17146648343, :index 3462}
{:type :ok, :f :write, :value 4, :process 8, :time 17149142571, :index 3463}
{:type :invoke, :f :read, :value nil, :process 4, :time 17199222538, :index 3464}
{:type :ok, :f :read, :value 4, :process 4, :time 17204766180, :index 3465}
{:type :invoke, :f :write, :value 4, :process 8, :time 17213409017, :index 3469}
{:type :invoke, :f :cas, :value [3 0], :process 6, :time 17217211669, :index 3472}
{:type :invoke, :f :read, :value nil, :process 1, :time 17218082478, :index 3474}
{:type :ok, :f :write, :value 4, :process 8, :time 17218346731, :index 3475}
{:type :fail, :f :cas, :value [3 0], :process 6, :time 17222994561, :index 3476}
{:type :ok, :f :read, :value 4, :process 1, :time 17223340076, :index 3477}
{:type :invoke, :f :write, :value 4, :process 9, :time 17234907062, :index 3479}
{:type :ok, :f :write, :value 4, :process 9, :time 17239628117, :index 3481}
{:type :invoke, :f :write, :value 0, :process 3, :time 17239856256, :index 3482}
{:type :invoke, :f :cas, :value [3 4], :process 9, :time 17243881220, :index 3483}
{:type :ok, :f :write, :value 0, :process 3, :time 17244409733, :index 3484}
{:type :fail, :f :cas, :value [3 4], :process 9, :time 17249318164, :index 3485}
{:type :invoke, :f :cas, :value [3 0], :process 1, :time 17297587107, :index 3492}
{:type :fail, :f :cas, :value [3 0], :process 1, :time 17303068079, :index 3493}
{:type :invoke, :f :read, :value nil, :process 6, :time 17316255171, :index 3496}
{:type :ok, :f :read, :value 0, :process 6, :time 17321569491, :index 3497}
{:type :invoke, :f :write, :value 3, :process 4, :time 17354025796, :index 3502}
{:type :ok, :f :write, :value 3, :process 4, :time 17359080889, :index 3503}
{:type :invoke, :f :cas, :value [1 4], :process 8, :time 17361608864, :index 3504}
{:type :fail, :f :cas, :value [1 4], :process 8, :time 17366498175, :index 3505}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 17369695468, :index 3507}
{:type :ok, :f :cas, :value [3 4], :process 3, :time 17374298450, :index 3510}
{:type :invoke, :f :cas, :value [4 0], :process 1, :time 17418243300, :index 3516}
{:type :ok, :f :cas, :value [4 0], :process 1, :time 17423244849, :index 3517}
{:type :invoke, :f :cas, :value [2 4], :process 9, :time 17431586309, :index 3520}
{:type :fail, :f :cas, :value [2 4], :process 9, :time 17437309271, :index 3521}
{:type :invoke, :f :write, :value 1, :process 1, :time 17461511324, :index 3526}
{:type :ok, :f :write, :value 1, :process 1, :time 17466035320, :index 3530}
{:type :invoke, :f :write, :value 1, :process 4, :time 17476338773, :index 3534}
{:type :ok, :f :write, :value 1, :process 4, :time 17480841538, :index 3536}
{:type :invoke, :f :cas, :value [0 3], :process 8, :time 17504781601, :index 3539}
{:type :invoke, :f :read, :value nil, :process 6, :time 17507864849, :index 3541}
{:type :fail, :f :cas, :value [0 3], :process 8, :time 17510150638, :index 3542}
{:type :ok, :f :read, :value 1, :process 6, :time 17513236910, :index 3543}
{:type :invoke, :f :write, :value 3, :process 1, :time 17545307310, :index 3545}
{:type :invoke, :f :write, :value 1, :process 3, :time 17548569034, :index 3546}
{:type :ok, :f :write, :value 3, :process 1, :time 17549907222, :index 3548}
{:type :ok, :f :write, :value 1, :process 3, :time 17552630313, :index 3549}
{:type :invoke, :f :read, :value nil, :process 8, :time 17599408841, :index 3552}
{:type :ok, :f :read, :value 1, :process 8, :time 17604682615, :index 3554}
{:type :invoke, :f :write, :value 3, :process 1, :time 17606315511, :index 3556}
{:type :ok, :f :write, :value 3, :process 1, :time 17610886978, :index 3558}
{:type :invoke, :f :write, :value 0, :process 8, :time 17612943912, :index 3559}
{:type :ok, :f :write, :value 0, :process 8, :time 17617806882, :index 3562}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 17618886234, :index 3563}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 17623036643, :index 3565}
{:type :invoke, :f :read, :value nil, :process 4, :time 17624107784, :index 3566}
{:type :invoke, :f :read, :value nil, :process 9, :time 17624583476, :index 3567}
{:type :ok, :f :read, :value 0, :process 4, :time 17629099717, :index 3569}
{:type :ok, :f :read, :value 0, :process 9, :time 17629573958, :index 3570}
{:type :invoke, :f :write, :value 2, :process 1, :time 17637165519, :index 3572}
{:type :ok, :f :write, :value 2, :process 1, :time 17642669899, :index 3573}
{:type :invoke, :f :cas, :value [3 3], :process 6, :time 17695495838, :index 3580}
{:type :fail, :f :cas, :value [3 3], :process 6, :time 17701573201, :index 3582}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 17728062697, :index 3584}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 17733124994, :index 3586}
{:type :info, :f :cas, :value [2 0], :process 0, :time 20859689633, :error :timeout, :index 4162}
{:type :info, :f :write, :value 1, :process 5, :time 20896606435, :error :timeout, :index 4178}
{:type :info, :f :cas, :value [0 2], :process 7, :time 20903852129, :error :timeout, :index 4182}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20941837962, :index 4199}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 21146846765, :index 4258}
{:type :info, :f :start, :value nil, :process :nemesis, :time 26147112872, :index 5350}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 26250028447, :index 5364}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 31250522233, :index 5384}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31457842926, :index 5447}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36458096095, :index 6050}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36560967224, :index 6058}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41561424650, :index 6761}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41767052885, :index 6797}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46767327914, :index 7224}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 46870755306, :index 7242}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51871224525, :index 7270}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 52076041462, :index 7299}
{:type :info, :f :start, :value nil, :process :nemesis, :time 57076317806, :index 8068}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 57180153745, :index 8084}
