{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :invoke, :f :read, :value nil, :process 3, :time 57325420868, :index 20333}
{:type :fail, :f :read, :value nil, :process 3, :time 57326991542, :error :connect, :index 20334}
{:type :invoke, :f :write, :value 4, :process 8, :time 57360044932, :index 20346}
{:type :fail, :f :write, :value 4, :process 8, :time 57361857406, :error :connect, :index 20348}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 57365112195, :index 20349}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 57367169183, :error :connect, :index 20350}
{:type :invoke, :f :write, :value 0, :process 6, :time 57372467952, :index 20352}
{:type :fail, :f :write, :value 0, :process 6, :time 57374131349, :error :connect, :index 20354}
{:type :invoke, :f :write, :value 3, :process 21, :time 57378478545, :index 20361}
{:type :fail, :f :write, :value 3, :process 21, :time 57380281325, :error :connect, :index 20363}
{:type :invoke, :f :read, :value nil, :process 0, :time 57400244580, :index 20371}
{:type :fail, :f :read, :value nil, :process 0, :time 57402227774, :error :connect, :index 20372}
{:type :invoke, :f :cas, :value [4 0], :process 8, :time 57407460337, :index 20376}
{:type :fail, :f :cas, :value [4 0], :process 8, :time 57409204817, :error :connect, :index 20378}
{:type :invoke, :f :read, :value nil, :process 21, :time 57421517506, :index 20382}
{:type :fail, :f :read, :value nil, :process 21, :time 57423275903, :error :connect, :index 20384}
{:type :invoke, :f :read, :value nil, :process 4, :time 57426881957, :index 20386}
{:type :fail, :f :read, :value nil, :process 4, :time 57428782571, :error :connect, :index 20389}
{:type :invoke, :f :read, :value nil, :process 3, :time 57430255742, :index 20391}
{:type :invoke, :f :read, :value nil, :process 22, :time 57431160039, :index 20392}
{:type :fail, :f :read, :value nil, :process 3, :time 57432271315, :error :connect, :index 20393}
{:type :fail, :f :read, :value nil, :process 22, :time 57432997041, :error :connect, :index 20394}
{:type :invoke, :f :cas, :value [2 2], :process 29, :time 57434597334, :index 20395}
{:type :fail, :f :cas, :value [2 2], :process 29, :time 57436583734, :error :connect, :index 20397}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 57438422600, :index 20399}
{:type :fail, :f :cas, :value [4 4], :process 6, :time 57440270375, :error :connect, :index 20400}
{:type :invoke, :f :read, :value nil, :process 21, :time 57459516852, :index 20407}
{:type :fail, :f :read, :value nil, :process 21, :time 57461158388, :error :connect, :index 20408}
{:type :invoke, :f :read, :value nil, :process 6, :time 57484533413, :index 20411}
{:type :fail, :f :read, :value nil, :process 6, :time 57486214113, :error :connect, :index 20412}
{:type :invoke, :f :read, :value nil, :process 5, :time 57492451328, :index 20413}
{:type :fail, :f :read, :value nil, :process 5, :time 57494297115, :error :connect, :index 20414}
{:type :invoke, :f :read, :value nil, :process 8, :time 57496475429, :index 20417}
{:type :fail, :f :read, :value nil, :process 8, :time 57498525756, :error :connect, :index 20418}
{:type :invoke, :f :cas, :value [2 1], :process 22, :time 57508275407, :index 20421}
{:type :fail, :f :cas, :value [2 1], :process 22, :time 57510270590, :error :connect, :index 20423}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 57510797902, :index 20425}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 57512655981, :error :connect, :index 20428}
{:type :invoke, :f :write, :value 1, :process 29, :time 57514892113, :index 20429}
{:type :fail, :f :write, :value 1, :process 29, :time 57516641803, :error :connect, :index 20430}
{:type :invoke, :f :cas, :value [0 1], :process 4, :time 57517043928, :index 20431}
{:type :fail, :f :cas, :value [0 1], :process 4, :time 57518604517, :error :connect, :index 20432}
{:type :invoke, :f :read, :value nil, :process 22, :time 57529507226, :index 20433}
{:type :fail, :f :read, :value nil, :process 22, :time 57531329089, :error :connect, :index 20434}
{:type :invoke, :f :cas, :value [1 3], :process 7, :time 57540214465, :index 20435}
{:type :fail, :f :cas, :value [1 3], :process 7, :time 57542079891, :error :connect, :index 20438}
{:type :invoke, :f :read, :value nil, :process 0, :time 57545481444, :index 20441}
{:type :fail, :f :read, :value nil, :process 0, :time 57547145702, :error :connect, :index 20442}
{:type :invoke, :f :read, :value nil, :process 5, :time 57577571108, :index 20449}
{:type :fail, :f :read, :value nil, :process 5, :time 57579605169, :error :connect, :index 20450}
{:type :invoke, :f :read, :value nil, :process 21, :time 57611411779, :index 20455}
{:type :fail, :f :read, :value nil, :process 21, :time 57613535402, :error :connect, :index 20458}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 57622530847, :index 20461}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 57624404866, :error :connect, :index 20463}
{:type :invoke, :f :write, :value 2, :process 0, :time 57624412751, :index 20464}
{:type :fail, :f :write, :value 2, :process 0, :time 57626149205, :error :connect, :index 20466}
{:type :invoke, :f :cas, :value [4 3], :process 7, :time 57636355350, :index 20467}
{:type :fail, :f :cas, :value [4 3], :process 7, :time 57638204825, :error :connect, :index 20468}
{:type :invoke, :f :read, :value nil, :process 3, :time 57646654271, :index 20471}
{:type :fail, :f :read, :value nil, :process 3, :time 57648323114, :error :connect, :index 20472}
{:type :invoke, :f :write, :value 4, :process 8, :time 57652919276, :index 20474}
{:type :fail, :f :write, :value 4, :process 8, :time 57654919659, :error :connect, :index 20477}
{:type :invoke, :f :write, :value 4, :process 6, :time 57664496524, :index 20481}
{:type :invoke, :f :read, :value nil, :process 4, :time 57665904766, :index 20482}
{:type :fail, :f :write, :value 4, :process 6, :time 57666096184, :error :connect, :index 20483}
{:type :fail, :f :read, :value nil, :process 4, :time 57667721802, :error :connect, :index 20484}
{:type :invoke, :f :read, :value nil, :process 29, :time 57670900768, :index 20487}
{:type :fail, :f :read, :value nil, :process 29, :time 57672922277, :error :connect, :index 20488}
{:type :invoke, :f :read, :value nil, :process 0, :time 57687381263, :index 20491}
{:type :fail, :f :read, :value nil, :process 0, :time 57689311782, :error :connect, :index 20492}
{:type :invoke, :f :read, :value nil, :process 7, :time 57693468628, :index 20495}
{:type :fail, :f :read, :value nil, :process 7, :time 57695243123, :error :connect, :index 20497}
{:type :invoke, :f :read, :value nil, :process 22, :time 57695607162, :index 20499}
{:type :fail, :f :read, :value nil, :process 22, :time 57697846353, :error :connect, :index 20502}
{:type :invoke, :f :write, :value 2, :process 4, :time 57703990547, :index 20507}
{:type :invoke, :f :write, :value 1, :process 6, :time 57704354925, :index 20508}
{:type :fail, :f :write, :value 2, :process 4, :time 57706112267, :error :connect, :index 20509}
{:type :fail, :f :write, :value 1, :process 6, :time 57707009376, :error :connect, :index 20510}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 57734878333, :index 20515}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 57736527404, :error :connect, :index 20516}
{:type :invoke, :f :read, :value nil, :process 7, :time 57738538143, :index 20517}
{:type :invoke, :f :write, :value 3, :process 21, :time 57739802330, :index 20518}
{:type :fail, :f :read, :value nil, :process 7, :time 57740447096, :error :connect, :index 20519}
{:type :fail, :f :write, :value 3, :process 21, :time 57741749583, :error :connect, :index 20520}
{:type :invoke, :f :write, :value 1, :process 3, :time 57748582530, :index 20523}
{:type :fail, :f :write, :value 1, :process 3, :time 57750768516, :error :connect, :index 20525}
{:type :invoke, :f :write, :value 1, :process 7, :time 57771705872, :index 20531}
{:type :fail, :f :write, :value 1, :process 7, :time 57773507423, :error :connect, :index 20532}
{:type :invoke, :f :read, :value nil, :process 29, :time 57774185050, :index 20533}
{:type :fail, :f :read, :value nil, :process 29, :time 57775804706, :error :connect, :index 20534}
{:type :invoke, :f :read, :value nil, :process 0, :time 57781583163, :index 20538}
{:type :fail, :f :read, :value nil, :process 0, :time 57783762857, :error :connect, :index 20541}
{:type :invoke, :f :read, :value nil, :process 0, :time 57789011927, :index 20543}
{:type :fail, :f :read, :value nil, :process 0, :time 57790787924, :error :connect, :index 20544}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 57792378165, :index 20545}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 57794396854, :error :connect, :index 20546}
{:type :invoke, :f :read, :value nil, :process 6, :time 57804281848, :index 20550}
{:type :fail, :f :read, :value nil, :process 6, :time 57806513819, :error :connect, :index 20553}
{:type :invoke, :f :write, :value 4, :process 8, :time 57837191399, :index 20563}
{:type :fail, :f :write, :value 4, :process 8, :time 57839013210, :error :connect, :index 20564}
{:type :invoke, :f :cas, :value [3 4], :process 29, :time 57844070487, :index 20565}
{:type :fail, :f :cas, :value [3 4], :process 29, :time 57845944685, :error :connect, :index 20567}
{:type :invoke, :f :read, :value nil, :process 3, :time 57864067931, :index 20569}
{:type :fail, :f :read, :value nil, :process 3, :time 57866238449, :error :connect, :index 20570}
{:type :invoke, :f :write, :value 3, :process 6, :time 57871748035, :index 20571}
{:type :fail, :f :write, :value 3, :process 6, :time 57873478827, :error :connect, :index 20572}
{:type :invoke, :f :read, :value nil, :process 21, :time 57884002550, :index 20577}
{:type :fail, :f :read, :value nil, :process 21, :time 57886135080, :error :connect, :index 20578}
{:type :invoke, :f :cas, :value [3 2], :process 5, :time 57889822613, :index 20579}
{:type :fail, :f :cas, :value [3 2], :process 5, :time 57891850095, :error :connect, :index 20580}
{:type :invoke, :f :write, :value 0, :process 22, :time 57895082088, :index 20581}
{:type :fail, :f :write, :value 0, :process 22, :time 57896975018, :error :connect, :index 20582}
{:type :invoke, :f :cas, :value [2 1], :process 29, :time 57912215635, :index 20587}
{:type :fail, :f :cas, :value [2 1], :process 29, :time 57914289950, :error :connect, :index 20588}
{:type :invoke, :f :read, :value nil, :process 3, :time 57928501705, :index 20594}
{:type :fail, :f :read, :value nil, :process 3, :time 57930406795, :error :connect, :index 20596}
{:type :invoke, :f :read, :value nil, :process 7, :time 57934770632, :index 20597}
{:type :fail, :f :read, :value nil, :process 7, :time 57936562228, :error :connect, :index 20598}
{:type :invoke, :f :write, :value 1, :process 4, :time 57947662692, :index 20601}
{:type :fail, :f :write, :value 1, :process 4, :time 57949705577, :error :connect, :index 20602}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 57957643926, :index 20605}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 57959713148, :error :connect, :index 20606}
{:type :invoke, :f :read, :value nil, :process 21, :time 57961391507, :index 20607}
{:type :fail, :f :read, :value nil, :process 21, :time 57963006899, :error :connect, :index 20608}
{:type :invoke, :f :cas, :value [0 3], :process 0, :time 57972047472, :index 20617}
{:type :fail, :f :cas, :value [0 3], :process 0, :time 57973936757, :error :connect, :index 20618}
{:type :invoke, :f :write, :value 1, :process 0, :time 57985196767, :index 20619}
{:type :fail, :f :write, :value 1, :process 0, :time 57987280920, :error :connect, :index 20621}
{:type :invoke, :f :read, :value nil, :process 22, :time 57988239902, :index 20622}
{:type :invoke, :f :cas, :value [2 0], :process 29, :time 57989563914, :index 20624}
{:type :fail, :f :read, :value nil, :process 22, :time 57990454627, :error :connect, :index 20625}
{:type :fail, :f :cas, :value [2 0], :process 29, :time 57991399157, :error :connect, :index 20626}
{:type :invoke, :f :write, :value 1, :process 29, :time 58012585328, :index 20629}
{:type :fail, :f :write, :value 1, :process 29, :time 58014449304, :error :connect, :index 20630}
{:type :invoke, :f :write, :value 4, :process 5, :time 58024117719, :index 20631}
{:type :fail, :f :write, :value 4, :process 5, :time 58025982971, :error :connect, :index 20632}
{:type :invoke, :f :write, :value 3, :process 8, :time 58028280493, :index 20633}
{:type :fail, :f :write, :value 3, :process 8, :time 58029958395, :error :connect, :index 20634}
{:type :invoke, :f :read, :value nil, :process 0, :time 58042529989, :index 20637}
{:type :invoke, :f :cas, :value [3 1], :process 21, :time 58044276114, :index 20638}
{:type :fail, :f :read, :value nil, :process 0, :time 58044441963, :error :connect, :index 20639}
{:type :fail, :f :cas, :value [3 1], :process 21, :time 58046181171, :error :connect, :index 20641}
{:type :invoke, :f :write, :value 0, :process 6, :time 58068738355, :index 20645}
{:type :fail, :f :write, :value 0, :process 6, :time 58070604916, :error :connect, :index 20646}
{:type :invoke, :f :write, :value 0, :process 7, :time 58070771010, :index 20647}
{:type :fail, :f :write, :value 0, :process 7, :time 58072418989, :error :connect, :index 20648}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 58081975144, :index 20651}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 58083914464, :error :connect, :index 20652}
{:type :invoke, :f :read, :value nil, :process 8, :time 58084222750, :index 20653}
{:type :fail, :f :read, :value nil, :process 8, :time 58085812686, :error :connect, :index 20654}
{:type :invoke, :f :read, :value nil, :process 29, :time 58102631082, :index 20659}
{:type :fail, :f :read, :value nil, :process 29, :time 58104488250, :error :connect, :index 20660}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 58108966656, :index 20661}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 58110563173, :error :connect, :index 20662}
{:type :invoke, :f :cas, :value [3 0], :process 4, :time 58142855169, :index 20665}
{:type :fail, :f :cas, :value [3 0], :process 4, :time 58144837915, :error :connect, :index 20667}
{:type :invoke, :f :cas, :value [1 4], :process 22, :time 58156712703, :index 20669}
{:type :fail, :f :cas, :value [1 4], :process 22, :time 58158468943, :error :connect, :index 20671}
{:type :invoke, :f :write, :value 3, :process 21, :time 58160448755, :index 20673}
{:type :invoke, :f :read, :value nil, :process 7, :time 58161688916, :index 20674}
{:type :invoke, :f :cas, :value [3 4], :process 0, :time 58161703765, :index 20675}
{:type :fail, :f :write, :value 3, :process 21, :time 58162570169, :error :connect, :index 20676}
{:type :fail, :f :cas, :value [3 4], :process 0, :time 58163768991, :error :connect, :index 20678}
{:type :fail, :f :read, :value nil, :process 7, :time 58164372947, :error :connect, :index 20679}
{:type :invoke, :f :write, :value 3, :process 5, :time 58182242430, :index 20683}
{:type :invoke, :f :write, :value 1, :process 8, :time 58184075433, :index 20684}
{:type :fail, :f :write, :value 3, :process 5, :time 58184373305, :error :connect, :index 20685}
{:type :fail, :f :write, :value 1, :process 8, :time 58186028836, :error :connect, :index 20686}
{:type :invoke, :f :write, :value 2, :process 6, :time 58191883036, :index 20687}
{:type :fail, :f :write, :value 2, :process 6, :time 58193707991, :error :connect, :index 20688}
{:type :invoke, :f :cas, :value [4 2], :process 4, :time 58235111612, :index 20691}
{:type :fail, :f :cas, :value [4 2], :process 4, :time 58236747892, :error :connect, :index 20692}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 58254371074, :index 20695}
{:type :invoke, :f :cas, :value [4 1], :process 3, :time 58254468316, :index 20697}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 58257926505, :error :connect, :index 20699}
{:type :fail, :f :cas, :value [4 1], :process 3, :time 58259064547, :error :connect, :index 20700}
{:type :invoke, :f :write, :value 0, :process 22, :time 58259745351, :index 20702}
{:type :fail, :f :write, :value 0, :process 22, :time 58261340826, :error :connect, :index 20704}
{:type :invoke, :f :read, :value nil, :process 0, :time 58265014025, :index 20705}
{:type :invoke, :f :read, :value nil, :process 21, :time 58266891715, :index 20706}
{:type :fail, :f :read, :value nil, :process 0, :time 58267113804, :error :connect, :index 20707}
{:type :fail, :f :read, :value nil, :process 21, :time 58269079214, :error :connect, :index 20708}
{:type :invoke, :f :read, :value nil, :process 7, :time 58281591242, :index 20713}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 58282337134, :index 20714}
{:type :fail, :f :read, :value nil, :process 7, :time 58283132185, :error :connect, :index 20715}
{:type :invoke, :f :write, :value 2, :process 29, :time 58283754942, :index 20716}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 58284525210, :error :connect, :index 20717}
{:type :fail, :f :write, :value 2, :process 29, :time 58285700715, :error :connect, :index 20718}
{:type :invoke, :f :write, :value 4, :process 6, :time 58324178038, :index 20727}
{:type :fail, :f :write, :value 4, :process 6, :time 58326272319, :error :connect, :index 20728}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 58331290223, :index 20729}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 58333285145, :error :connect, :index 20731}
{:type :invoke, :f :read, :value nil, :process 4, :time 58356011205, :index 20739}
{:type :fail, :f :read, :value nil, :process 4, :time 58358101859, :error :connect, :index 20740}
{:type :invoke, :f :cas, :value [2 2], :process 5, :time 58364659338, :index 20742}
{:type :fail, :f :cas, :value [2 2], :process 5, :time 58366434207, :error :connect, :index 20744}
{:type :invoke, :f :write, :value 1, :process 0, :time 58379392498, :index 20746}
{:type :fail, :f :write, :value 1, :process 0, :time 58381208847, :error :connect, :index 20748}
{:type :invoke, :f :cas, :value [0 2], :process 22, :time 58443607736, :index 20771}
{:type :fail, :f :cas, :value [0 2], :process 22, :time 58445471524, :error :connect, :index 20772}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
