{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :invoke, :f :read, :value nil, :process 40, :time 33995439872, :index 5267}
{:type :ok, :f :read, :value nil, :process 40, :time 34000458141, :index 5270}
{:type :invoke, :f :cas, :value [0 3], :process 40, :time 34009716080, :index 5272}
{:type :fail, :f :cas, :value [0 3], :process 40, :time 34015546713, :error :not-found, :index 5273}
{:type :invoke, :f :write, :value 3, :process 40, :time 34017807070, :index 5274}
{:type :ok, :f :write, :value 3, :process 40, :time 34022812968, :index 5277}
{:type :invoke, :f :cas, :value [4 0], :process 7, :time 34037117394, :index 5288}
{:type :fail, :f :cas, :value [4 0], :process 7, :time 34042096367, :index 5289}
{:type :invoke, :f :write, :value 1, :process 44, :time 34049174907, :index 5290}
{:type :ok, :f :write, :value 1, :process 44, :time 34054667322, :index 5292}
{:type :invoke, :f :write, :value 3, :process 44, :time 34069952794, :index 5296}
{:type :ok, :f :write, :value 3, :process 44, :time 34074661683, :index 5298}
{:type :invoke, :f :write, :value 1, :process 46, :time 34078204779, :index 5300}
{:type :ok, :f :write, :value 1, :process 46, :time 34082655078, :index 5301}
{:type :invoke, :f :write, :value 4, :process 43, :time 34108380729, :index 5309}
{:type :ok, :f :write, :value 4, :process 43, :time 34113405165, :index 5311}
{:type :invoke, :f :write, :value 4, :process 44, :time 34116945747, :index 5312}
{:type :invoke, :f :cas, :value [4 4], :process 46, :time 34117945834, :index 5313}
{:type :ok, :f :write, :value 4, :process 44, :time 34122643909, :index 5314}
{:type :ok, :f :cas, :value [4 4], :process 46, :time 34123154757, :index 5315}
{:type :invoke, :f :cas, :value [1 0], :process 44, :time 34126931093, :index 5317}
{:type :fail, :f :cas, :value [1 0], :process 44, :time 34132613591, :index 5322}
{:type :invoke, :f :read, :value nil, :process 25, :time 34144087273, :index 5324}
{:type :ok, :f :read, :value 4, :process 25, :time 34149159297, :index 5325}
{:type :invoke, :f :read, :value nil, :process 46, :time 34153391451, :index 5327}
{:type :invoke, :f :write, :value 1, :process 40, :time 34156058764, :index 5330}
{:type :ok, :f :read, :value 4, :process 46, :time 34158339349, :index 5331}
{:type :ok, :f :write, :value 1, :process 40, :time 34161512618, :index 5333}
{:type :invoke, :f :cas, :value [1 3], :process 41, :time 34170430733, :index 5337}
{:type :ok, :f :cas, :value [1 3], :process 41, :time 34175394211, :index 5339}
{:type :invoke, :f :write, :value 1, :process 40, :time 34184758313, :index 5340}
{:type :invoke, :f :write, :value 1, :process 43, :time 34187650931, :index 5343}
{:type :ok, :f :write, :value 1, :process 40, :time 34190696791, :index 5344}
{:type :ok, :f :write, :value 1, :process 43, :time 34193086451, :index 5347}
{:type :invoke, :f :read, :value nil, :process 49, :time 34199937719, :index 5348}
{:type :invoke, :f :cas, :value [2 3], :process 7, :time 34200376647, :index 5349}
{:type :invoke, :f :read, :value nil, :process 22, :time 34203520939, :index 5350}
{:type :fail, :f :cas, :value [2 3], :process 7, :time 34205366036, :index 5351}
{:type :ok, :f :read, :value 1, :process 49, :time 34205949179, :index 5352}
{:type :ok, :f :read, :value 1, :process 22, :time 34208771175, :index 5353}
{:type :invoke, :f :write, :value 3, :process 49, :time 34216201636, :index 5355}
{:type :invoke, :f :cas, :value [2 1], :process 7, :time 34219629002, :index 5356}
{:type :invoke, :f :write, :value 4, :process 44, :time 34223904906, :index 5357}
{:type :fail, :f :cas, :value [2 1], :process 7, :time 34224751486, :index 5358}
{:type :invoke, :f :read, :value nil, :process 25, :time 34240985468, :index 5363}
{:type :ok, :f :read, :value 1, :process 25, :time 34246467069, :index 5364}
{:type :invoke, :f :cas, :value [1 4], :process 28, :time 34263948027, :index 5369}
{:type :ok, :f :cas, :value [1 4], :process 28, :time 34269761760, :index 5371}
{:type :invoke, :f :cas, :value [4 2], :process 28, :time 34272027671, :index 5373}
{:type :invoke, :f :cas, :value [4 0], :process 7, :time 34272023936, :index 5374}
{:type :ok, :f :cas, :value [4 0], :process 7, :time 34277132574, :index 5378}
{:type :fail, :f :cas, :value [4 2], :process 28, :time 34278331097, :index 5380}
{:type :invoke, :f :write, :value 3, :process 46, :time 34289596548, :index 5385}
{:type :ok, :f :write, :value 3, :process 46, :time 34294254824, :index 5386}
{:type :invoke, :f :read, :value nil, :process 41, :time 34310667385, :index 5391}
{:type :ok, :f :read, :value 3, :process 41, :time 34315946079, :index 5394}
{:type :invoke, :f :read, :value nil, :process 41, :time 34320229377, :index 5396}
{:type :ok, :f :read, :value 3, :process 41, :time 34324923489, :index 5397}
{:type :invoke, :f :cas, :value [1 1], :process 28, :time 34332580518, :index 5398}
{:type :fail, :f :cas, :value [1 1], :process 28, :time 34337925584, :index 5399}
{:type :invoke, :f :write, :value 3, :process 43, :time 34347321948, :index 5401}
{:type :ok, :f :write, :value 3, :process 43, :time 34352250086, :index 5403}
{:type :invoke, :f :write, :value 1, :process 46, :time 34356521373, :index 5406}
{:type :invoke, :f :write, :value 2, :process 22, :time 34360029699, :index 5408}
{:type :ok, :f :write, :value 1, :process 46, :time 34361801293, :index 5409}
{:type :ok, :f :write, :value 2, :process 22, :time 34364513094, :index 5411}
{:type :invoke, :f :read, :value nil, :process 41, :time 34367181644, :index 5412}
{:type :ok, :f :read, :value 2, :process 41, :time 34372133359, :index 5413}
{:type :invoke, :f :read, :value nil, :process 7, :time 34373403223, :index 5414}
{:type :ok, :f :read, :value 2, :process 7, :time 34377284648, :index 5416}
{:type :invoke, :f :read, :value nil, :process 43, :time 34380513238, :index 5417}
{:type :invoke, :f :cas, :value [1 1], :process 40, :time 34381994528, :index 5418}
{:type :ok, :f :read, :value 2, :process 43, :time 34385936481, :index 5420}
{:type :fail, :f :cas, :value [1 1], :process 40, :time 34387365141, :index 5421}
{:type :invoke, :f :cas, :value [2 3], :process 40, :time 34412629898, :index 5426}
{:type :invoke, :f :read, :value nil, :process 25, :time 34414731477, :index 5427}
{:type :ok, :f :cas, :value [2 3], :process 40, :time 34418123555, :index 5428}
{:type :ok, :f :read, :value 3, :process 25, :time 34419896046, :index 5429}
{:type :invoke, :f :read, :value nil, :process 25, :time 34423167844, :index 5430}
{:type :ok, :f :read, :value 3, :process 25, :time 34428315390, :index 5432}
{:type :invoke, :f :write, :value 0, :process 25, :time 34451560617, :index 5434}
{:type :ok, :f :write, :value 0, :process 25, :time 34457485734, :index 5435}
{:type :invoke, :f :read, :value nil, :process 43, :time 34481239684, :index 5442}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 34482539687, :index 5443}
{:type :ok, :f :read, :value 0, :process 43, :time 34486413614, :index 5444}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 34487531070, :index 5445}
{:type :invoke, :f :read, :value nil, :process 22, :time 34502792938, :index 5448}
{:type :ok, :f :read, :value 0, :process 22, :time 34507406862, :index 5450}
{:type :invoke, :f :read, :value nil, :process 46, :time 34517093584, :index 5454}
{:type :invoke, :f :write, :value 1, :process 28, :time 34518210349, :index 5455}
{:type :ok, :f :read, :value 0, :process 46, :time 34522670934, :index 5456}
{:type :ok, :f :write, :value 1, :process 28, :time 34523373372, :index 5457}
{:type :invoke, :f :write, :value 1, :process 41, :time 34547396701, :index 5461}
{:type :ok, :f :write, :value 1, :process 41, :time 34552132691, :index 5463}
{:type :invoke, :f :cas, :value [0 0], :process 43, :time 34570682547, :index 5466}
{:type :fail, :f :cas, :value [0 0], :process 43, :time 34575894977, :index 5469}
{:type :invoke, :f :write, :value 4, :process 40, :time 34583390051, :index 5473}
{:type :ok, :f :write, :value 4, :process 40, :time 34588544888, :index 5476}
{:type :invoke, :f :read, :value nil, :process 46, :time 34592985410, :index 5478}
{:type :ok, :f :read, :value 4, :process 46, :time 34597604059, :index 5479}
{:type :invoke, :f :cas, :value [3 3], :process 22, :time 34610654319, :index 5483}
{:type :fail, :f :cas, :value [3 3], :process 22, :time 34615021273, :index 5485}
{:type :invoke, :f :read, :value nil, :process 25, :time 34638751227, :index 5487}
{:type :ok, :f :read, :value 4, :process 25, :time 34643210841, :index 5489}
{:type :invoke, :f :cas, :value [4 4], :process 43, :time 34647154073, :index 5491}
{:type :invoke, :f :write, :value 0, :process 28, :time 34647629377, :index 5492}
{:type :ok, :f :cas, :value [4 4], :process 43, :time 34652292293, :index 5495}
{:type :ok, :f :write, :value 0, :process 28, :time 34653859102, :index 5496}
{:type :invoke, :f :read, :value nil, :process 22, :time 34663323196, :index 5498}
{:type :ok, :f :read, :value 0, :process 22, :time 34668518964, :index 5499}
{:type :invoke, :f :cas, :value [4 2], :process 7, :time 34674814911, :index 5500}
{:type :invoke, :f :cas, :value [4 2], :process 41, :time 34678387425, :index 5501}
{:type :fail, :f :cas, :value [4 2], :process 7, :time 34679602047, :index 5502}
{:type :fail, :f :cas, :value [4 2], :process 41, :time 34684066715, :index 5504}
{:type :invoke, :f :cas, :value [0 1], :process 25, :time 34704464733, :index 5506}
{:type :invoke, :f :read, :value nil, :process 40, :time 34706806146, :index 5507}
{:type :ok, :f :cas, :value [0 1], :process 25, :time 34710630459, :index 5508}
{:type :ok, :f :write, :value 3, :process 49, :time 34711752927, :index 5510}
{:type :ok, :f :write, :value 4, :process 44, :time 34712283748, :index 5512}
{:type :ok, :f :read, :value 4, :process 40, :time 34712561706, :index 5513}
{:type :invoke, :f :cas, :value [1 0], :process 46, :time 34713811872, :index 5514}
{:type :fail, :f :cas, :value [1 0], :process 46, :time 34719169230, :index 5516}
{:type :invoke, :f :cas, :value [3 1], :process 43, :time 34740536889, :index 5518}
{:type :fail, :f :cas, :value [3 1], :process 43, :time 34746098233, :index 5519}
{:type :invoke, :f :cas, :value [2 4], :process 22, :time 34755776159, :index 5522}
{:type :invoke, :f :cas, :value [4 2], :process 28, :time 34757119386, :index 5524}
{:type :fail, :f :cas, :value [2 4], :process 22, :time 34761035141, :index 5527}
{:type :ok, :f :cas, :value [4 2], :process 28, :time 34762762085, :index 5528}
{:type :invoke, :f :write, :value 0, :process 43, :time 34777358416, :index 5532}
{:type :ok, :f :write, :value 0, :process 43, :time 34781847753, :index 5536}
{:type :invoke, :f :read, :value nil, :process 7, :time 34789865703, :index 5540}
{:type :ok, :f :read, :value 0, :process 7, :time 34794191221, :index 5541}
{:type :invoke, :f :write, :value 0, :process 22, :time 34798308514, :index 5543}
{:type :ok, :f :write, :value 0, :process 22, :time 34802856933, :index 5545}
{:type :invoke, :f :read, :value nil, :process 41, :time 34817347714, :index 5548}
{:type :ok, :f :read, :value 0, :process 41, :time 34821955216, :index 5549}
{:type :invoke, :f :write, :value 3, :process 41, :time 34825224958, :index 5551}
{:type :ok, :f :write, :value 3, :process 41, :time 34830715205, :index 5555}
{:type :invoke, :f :read, :value nil, :process 44, :time 34860521280, :index 5561}
{:type :invoke, :f :read, :value nil, :process 25, :time 34866929683, :index 5565}
{:type :ok, :f :read, :value 3, :process 44, :time 34867020879, :index 5566}
{:type :invoke, :f :cas, :value [0 1], :process 22, :time 34870118245, :index 5567}
{:type :ok, :f :read, :value 3, :process 25, :time 34872155715, :index 5568}
{:type :invoke, :f :cas, :value [3 0], :process 7, :time 34874466688, :index 5569}
{:type :fail, :f :cas, :value [0 1], :process 22, :time 34875079039, :index 5570}
{:type :ok, :f :cas, :value [3 0], :process 7, :time 34879587060, :index 5571}
{:type :invoke, :f :write, :value 1, :process 7, :time 34886851208, :index 5574}
{:type :invoke, :f :write, :value 0, :process 49, :time 34888223729, :index 5575}
{:type :invoke, :f :read, :value nil, :process 28, :time 34890021439, :index 5576}
{:type :ok, :f :write, :value 1, :process 7, :time 34891375457, :index 5577}
{:type :ok, :f :write, :value 0, :process 49, :time 34893302715, :index 5578}
{:type :ok, :f :read, :value 0, :process 28, :time 34894835983, :index 5579}
{:type :invoke, :f :cas, :value [4 3], :process 46, :time 34904456342, :index 5584}
{:type :invoke, :f :write, :value 0, :process 43, :time 34906118588, :index 5586}
{:type :invoke, :f :write, :value 1, :process 40, :time 34906732876, :index 5587}
{:type :fail, :f :cas, :value [4 3], :process 46, :time 34910321060, :index 5589}
{:type :ok, :f :write, :value 0, :process 43, :time 34910588491, :index 5590}
{:type :ok, :f :write, :value 1, :process 40, :time 34912223249, :index 5591}
{:type :invoke, :f :cas, :value [2 4], :process 41, :time 34915977165, :index 5592}
{:type :fail, :f :cas, :value [2 4], :process 41, :time 34920928494, :index 5593}
{:type :invoke, :f :write, :value 2, :process 44, :time 34950257776, :index 5596}
{:type :ok, :f :write, :value 2, :process 44, :time 34955059410, :index 5598}
{:type :invoke, :f :read, :value nil, :process 22, :time 34972349298, :index 5601}
{:type :invoke, :f :write, :value 1, :process 7, :time 34973638266, :index 5602}
{:type :invoke, :f :write, :value 3, :process 44, :time 34985259172, :index 5604}
{:type :invoke, :f :read, :value nil, :process 25, :time 34986414408, :index 5605}
{:type :invoke, :f :write, :value 0, :process 43, :time 35003856069, :index 5607}
{:type :invoke, :f :write, :value 1, :process 46, :time 35028882991, :index 5609}
{:type :invoke, :f :write, :value 2, :process 49, :time 35030554238, :index 5610}
{:type :invoke, :f :write, :value 3, :process 40, :time 35045470001, :index 5612}
{:type :invoke, :f :write, :value 4, :process 41, :time 35049187067, :index 5613}
{:type :invoke, :f :cas, :value [0 0], :process 28, :time 35057094785, :index 5614}
{:type :ok, :f :read, :value 2, :process 22, :time 35377533444, :index 5622}
{:type :ok, :f :write, :value 2, :process 49, :time 35378060168, :index 5623}
{:type :ok, :f :write, :value 4, :process 41, :time 35378946530, :index 5627}
{:type :fail, :f :cas, :value [0 0], :process 28, :time 35379034196, :index 5628}
{:type :ok, :f :read, :value 3, :process 25, :time 35379354131, :index 5630}
{:type :ok, :f :write, :value 0, :process 43, :time 35379653112, :index 5632}
{:type :ok, :f :write, :value 3, :process 44, :time 35379870564, :index 5633}
{:type :ok, :f :write, :value 1, :process 7, :time 35380328118, :index 5635}
{:type :ok, :f :write, :value 3, :process 40, :time 35380583979, :index 5636}
{:type :ok, :f :write, :value 1, :process 46, :time 35381065681, :index 5638}
{:type :invoke, :f :read, :value nil, :process 25, :time 35394582999, :index 5640}
{:type :ok, :f :read, :value 4, :process 25, :time 35401716726, :index 5641}
{:type :invoke, :f :cas, :value [4 4], :process 49, :time 35470322696, :index 5653}
{:type :ok, :f :cas, :value [4 4], :process 49, :time 35475930463, :index 5655}
{:type :invoke, :f :write, :value 2, :process 44, :time 35508107033, :index 5659}
{:type :ok, :f :write, :value 2, :process 44, :time 35513084069, :index 5661}
{:type :invoke, :f :write, :value 0, :process 43, :time 35514892409, :index 5662}
{:type :invoke, :f :write, :value 2, :process 28, :time 35517283368, :index 5664}
{:type :invoke, :f :cas, :value [3 0], :process 22, :time 35518835115, :index 5665}
{:type :ok, :f :write, :value 0, :process 43, :time 35519796510, :index 5666}
{:type :ok, :f :write, :value 2, :process 28, :time 35523002752, :index 5667}
{:type :fail, :f :cas, :value [3 0], :process 22, :time 35523642794, :index 5669}
{:type :invoke, :f :write, :value 0, :process 41, :time 35528196443, :index 5671}
{:type :invoke, :f :write, :value 0, :process 7, :time 35532569235, :index 5672}
{:type :ok, :f :write, :value 0, :process 41, :time 35534354044, :index 5674}
{:type :ok, :f :write, :value 0, :process 7, :time 35536622501, :index 5676}
{:type :invoke, :f :read, :value nil, :process 40, :time 35574950284, :index 5688}
{:type :ok, :f :read, :value 0, :process 40, :time 35580904467, :index 5691}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
