{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :invoke, :f :cas, :value [0 1], :process 1, :time 11143297459, :index 2820}
{:type :fail, :f :cas, :value [0 1], :process 1, :time 11149557404, :error :not-found, :index 2821}
{:type :invoke, :f :cas, :value [2 4], :process 4, :time 11151565666, :index 2822}
{:type :fail, :f :cas, :value [2 4], :process 4, :time 11157633076, :error :not-found, :index 2824}
{:type :invoke, :f :read, :value nil, :process 3, :time 11196529279, :index 2828}
{:type :ok, :f :read, :value nil, :process 3, :time 11202510531, :index 2830}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 11215165621, :index 2836}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 11221378478, :error :not-found, :index 2837}
{:type :invoke, :f :write, :value 2, :process 9, :time 11223259427, :index 2838}
{:type :invoke, :f :write, :value 4, :process 6, :time 11227188259, :index 2839}
{:type :ok, :f :write, :value 2, :process 9, :time 11228679416, :index 2840}
{:type :invoke, :f :read, :value nil, :process 1, :time 11242740527, :index 2842}
{:type :invoke, :f :write, :value 4, :process 3, :time 11269890443, :index 2843}
{:type :invoke, :f :write, :value 1, :process 4, :time 11317908643, :index 2847}
{:type :invoke, :f :cas, :value [4 2], :process 8, :time 11341642049, :index 2849}
{:type :invoke, :f :read, :value nil, :process 9, :time 11398988064, :index 2851}
{:type :ok, :f :write, :value 4, :process 6, :time 12535083136, :index 2852}
{:type :ok, :f :read, :value 4, :process 1, :time 12538083449, :index 2857}
{:type :invoke, :f :read, :value nil, :process 1, :time 12538191387, :index 2858}
{:type :ok, :f :write, :value 1, :process 4, :time 12539886002, :index 2865}
{:type :fail, :f :cas, :value [4 2], :process 8, :time 12540684861, :index 2867}
{:type :ok, :f :read, :value 1, :process 9, :time 12541029709, :index 2869}
{:type :ok, :f :write, :value 4, :process 3, :time 12541981440, :index 2872}
{:type :ok, :f :read, :value 1, :process 1, :time 12545615069, :index 2874}
{:type :invoke, :f :cas, :value [4 0], :process 22, :time 12590609587, :index 2878}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 12590950120, :index 2879}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 12596213501, :index 2880}
{:type :invoke, :f :cas, :value [3 4], :process 25, :time 12599950001, :index 2881}
{:type :invoke, :f :cas, :value [1 1], :process 3, :time 12605422369, :index 2882}
{:type :fail, :f :cas, :value [3 4], :process 25, :time 12606014539, :index 2883}
{:type :ok, :f :cas, :value [1 1], :process 3, :time 12610156356, :index 2886}
{:type :invoke, :f :cas, :value [1 1], :process 20, :time 12617651508, :index 2887}
{:type :ok, :f :cas, :value [1 1], :process 20, :time 12622454232, :index 2889}
{:type :invoke, :f :cas, :value [3 3], :process 8, :time 12626471539, :index 2891}
{:type :fail, :f :cas, :value [3 3], :process 8, :time 12631363082, :index 2892}
{:type :invoke, :f :cas, :value [0 2], :process 8, :time 12631495185, :index 2893}
{:type :invoke, :f :read, :value nil, :process 4, :time 12632195866, :index 2894}
{:type :fail, :f :cas, :value [0 2], :process 8, :time 12636782933, :index 2895}
{:type :ok, :f :read, :value 1, :process 4, :time 12637450966, :index 2896}
{:type :invoke, :f :read, :value nil, :process 6, :time 12640438014, :index 2898}
{:type :ok, :f :read, :value 1, :process 6, :time 12645267126, :index 2901}
{:type :invoke, :f :read, :value nil, :process 27, :time 12649926403, :index 2903}
{:type :invoke, :f :write, :value 4, :process 1, :time 12650871341, :index 2904}
{:type :ok, :f :write, :value 4, :process 1, :time 12656868213, :index 2905}
{:type :invoke, :f :read, :value nil, :process 1, :time 12706126582, :index 2914}
{:type :ok, :f :read, :value 4, :process 1, :time 12711052235, :index 2917}
{:type :invoke, :f :read, :value nil, :process 8, :time 12714060470, :index 2919}
{:type :ok, :f :read, :value 4, :process 8, :time 12718395506, :index 2921}
{:type :invoke, :f :cas, :value [3 1], :process 9, :time 12725318897, :index 2925}
{:type :fail, :f :cas, :value [3 1], :process 9, :time 12731073900, :index 2927}
{:type :invoke, :f :write, :value 4, :process 25, :time 12737304315, :index 2928}
{:type :ok, :f :write, :value 4, :process 25, :time 12742526677, :index 2930}
{:type :invoke, :f :write, :value 1, :process 3, :time 12748432934, :index 2932}
{:type :invoke, :f :write, :value 2, :process 25, :time 12750785599, :index 2933}
{:type :ok, :f :write, :value 1, :process 3, :time 12753106993, :index 2934}
{:type :ok, :f :write, :value 2, :process 25, :time 12755705965, :index 2935}
{:type :invoke, :f :read, :value nil, :process 20, :time 12758716152, :index 2936}
{:type :ok, :f :read, :value 2, :process 20, :time 12764449094, :index 2938}
{:type :invoke, :f :read, :value nil, :process 4, :time 12778702715, :index 2941}
{:type :ok, :f :read, :value 2, :process 4, :time 12784137622, :index 2944}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 12790551666, :index 2946}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 12795953138, :index 2947}
{:type :fail, :f :cas, :value [4 0], :process 22, :time 12837481880, :index 2948}
{:type :ok, :f :read, :value 2, :process 27, :time 12838199986, :index 2951}
{:type :invoke, :f :write, :value 4, :process 4, :time 12843392365, :index 2952}
{:type :ok, :f :write, :value 4, :process 4, :time 12848396063, :index 2953}
{:type :invoke, :f :read, :value nil, :process 1, :time 12855302913, :index 2956}
{:type :ok, :f :read, :value 4, :process 1, :time 12860634755, :index 2957}
{:type :invoke, :f :write, :value 2, :process 20, :time 12870704263, :index 2958}
{:type :ok, :f :write, :value 2, :process 20, :time 12876085226, :index 2960}
{:type :invoke, :f :write, :value 4, :process 4, :time 12876656473, :index 2961}
{:type :invoke, :f :read, :value nil, :process 22, :time 12881763101, :index 2965}
{:type :ok, :f :read, :value 4, :process 22, :time 12887049510, :index 2967}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 12895405748, :index 2970}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 12899978391, :index 2973}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 12900115002, :index 2974}
{:type :ok, :f :cas, :value [4 4], :process 8, :time 12904482482, :index 2976}
{:type :invoke, :f :read, :value nil, :process 9, :time 12908338381, :index 2979}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 12916212993, :index 2981}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 12922187791, :index 2982}
{:type :ok, :f :write, :value 4, :process 4, :time 12925643972, :index 2984}
{:type :invoke, :f :write, :value 4, :process 25, :time 12931961560, :index 2986}
{:type :ok, :f :write, :value 4, :process 25, :time 12937525555, :index 2987}
{:type :invoke, :f :read, :value nil, :process 27, :time 12979459756, :index 2994}
{:type :invoke, :f :read, :value nil, :process 1, :time 12981894237, :index 2995}
{:type :ok, :f :read, :value 4, :process 27, :time 12984424781, :index 2996}
{:type :ok, :f :read, :value 4, :process 1, :time 12986715410, :index 2997}
{:type :invoke, :f :read, :value nil, :process 1, :time 13000995156, :index 3000}
{:type :ok, :f :read, :value 4, :process 1, :time 13005842263, :index 3002}
{:type :invoke, :f :cas, :value [3 2], :process 4, :time 13023893490, :index 3004}
{:type :invoke, :f :write, :value 3, :process 20, :time 13033373995, :index 3005}
{:type :invoke, :f :write, :value 2, :process 22, :time 13037323333, :index 3006}
{:type :ok, :f :write, :value 3, :process 20, :time 13038853162, :index 3008}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 13039455093, :index 3009}
{:type :ok, :f :write, :value 2, :process 22, :time 13042687237, :index 3010}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 13045395689, :index 3011}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 13047371090, :index 3012}
{:type :invoke, :f :read, :value nil, :process 20, :time 13052121219, :index 3013}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 13052256005, :index 3014}
{:type :ok, :f :read, :value 2, :process 20, :time 13056846356, :index 3017}
{:type :invoke, :f :cas, :value [3 2], :process 25, :time 13076787235, :index 3028}
{:type :fail, :f :cas, :value [3 2], :process 25, :time 13082376108, :index 3029}
{:type :invoke, :f :read, :value nil, :process 8, :time 13097753116, :index 3032}
{:type :ok, :f :read, :value 2, :process 8, :time 13101881458, :index 3033}
{:type :invoke, :f :write, :value 3, :process 27, :time 13157689954, :index 3042}
{:type :invoke, :f :write, :value 0, :process 8, :time 13160162187, :index 3043}
{:type :ok, :f :write, :value 3, :process 27, :time 13162644305, :index 3046}
{:type :ok, :f :write, :value 0, :process 8, :time 13164604992, :index 3047}
{:type :invoke, :f :cas, :value [0 4], :process 3, :time 13174505067, :index 3048}
{:type :invoke, :f :cas, :value [3 2], :process 20, :time 13175127446, :index 3049}
{:type :invoke, :f :write, :value 1, :process 1, :time 13179106333, :index 3051}
{:type :ok, :f :cas, :value [0 4], :process 3, :time 13179727164, :index 3052}
{:type :fail, :f :cas, :value [3 2], :process 20, :time 13181050099, :index 3053}
{:type :invoke, :f :cas, :value [4 3], :process 22, :time 13199951915, :index 3057}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 13204036726, :index 3059}
{:type :ok, :f :cas, :value [4 3], :process 22, :time 13205075759, :index 3060}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 13210692078, :index 3061}
{:type :invoke, :f :cas, :value [2 2], :process 8, :time 13217870555, :index 3063}
{:type :invoke, :f :write, :value 1, :process 25, :time 13221640530, :index 3065}
{:type :invoke, :f :write, :value 3, :process 3, :time 13222371908, :index 3066}
{:type :fail, :f :cas, :value [2 2], :process 8, :time 13222476703, :index 3067}
{:type :invoke, :f :write, :value 1, :process 6, :time 13225652940, :index 3068}
{:type :ok, :f :write, :value 3, :process 3, :time 13226812961, :index 3069}
{:type :ok, :f :write, :value 1, :process 25, :time 13227776431, :index 3070}
{:type :invoke, :f :read, :value nil, :process 8, :time 13247722704, :index 3075}
{:type :ok, :f :read, :value 1, :process 8, :time 13251797639, :index 3077}
{:type :invoke, :f :write, :value 4, :process 3, :time 13275083807, :index 3078}
{:type :invoke, :f :write, :value 1, :process 20, :time 13278312188, :index 3079}
{:type :ok, :f :write, :value 4, :process 3, :time 13279754966, :index 3080}
{:type :ok, :f :write, :value 1, :process 20, :time 13283355785, :index 3081}
{:type :ok, :f :read, :value 1, :process 9, :time 13332909248, :index 3089}
{:type :fail, :f :cas, :value [3 2], :process 4, :time 13336277143, :index 3090}
{:type :invoke, :f :write, :value 0, :process 27, :time 13346890311, :index 3092}
{:type :ok, :f :write, :value 0, :process 27, :time 13351900344, :index 3093}
{:type :invoke, :f :read, :value nil, :process 20, :time 13370636090, :index 3098}
{:type :ok, :f :read, :value 0, :process 20, :time 13375996986, :index 3100}
{:type :invoke, :f :write, :value 4, :process 22, :time 13386336092, :index 3102}
{:type :ok, :f :write, :value 4, :process 22, :time 13391444371, :index 3104}
{:type :invoke, :f :read, :value nil, :process 25, :time 13398047463, :index 3108}
{:type :ok, :f :read, :value 4, :process 25, :time 13403532816, :index 3111}
{:type :invoke, :f :read, :value nil, :process 8, :time 13413054279, :index 3114}
{:type :invoke, :f :read, :value nil, :process 3, :time 13415023107, :index 3115}
{:type :ok, :f :read, :value 4, :process 8, :time 13417285472, :index 3116}
{:type :ok, :f :read, :value 4, :process 3, :time 13419591086, :index 3117}
{:type :invoke, :f :read, :value nil, :process 9, :time 13430228665, :index 3118}
{:type :ok, :f :read, :value 4, :process 9, :time 13435250683, :index 3119}
{:type :invoke, :f :write, :value 0, :process 22, :time 13436721958, :index 3120}
{:type :invoke, :f :cas, :value [2 2], :process 3, :time 13436836449, :index 3121}
{:type :fail, :f :cas, :value [2 2], :process 3, :time 13441387760, :index 3122}
{:type :ok, :f :write, :value 0, :process 22, :time 13442075912, :index 3123}
{:type :invoke, :f :cas, :value [1 2], :process 20, :time 13444251387, :index 3124}
{:type :fail, :f :cas, :value [1 2], :process 20, :time 13449660389, :index 3125}
{:type :invoke, :f :read, :value nil, :process 8, :time 13458537746, :index 3128}
{:type :ok, :f :read, :value 0, :process 8, :time 13463443922, :index 3129}
{:type :invoke, :f :cas, :value [1 1], :process 4, :time 13465560037, :index 3130}
{:type :fail, :f :cas, :value [1 1], :process 4, :time 13470926351, :index 3131}
{:type :ok, :f :write, :value 1, :process 1, :time 13489350123, :index 3135}
{:type :ok, :f :write, :value 1, :process 6, :time 13489943550, :index 3136}
{:type :invoke, :f :write, :value 4, :process 25, :time 13494784697, :index 3140}
{:type :ok, :f :write, :value 4, :process 25, :time 13500431376, :index 3141}
{:type :invoke, :f :cas, :value [1 4], :process 27, :time 13513165163, :index 3144}
{:type :fail, :f :cas, :value [1 4], :process 27, :time 13518718131, :index 3146}
{:type :invoke, :f :cas, :value [2 3], :process 9, :time 13525509269, :index 3147}
{:type :invoke, :f :write, :value 3, :process 3, :time 13526663569, :index 3149}
{:type :invoke, :f :write, :value 2, :process 27, :time 13527971361, :index 3150}
{:type :fail, :f :cas, :value [2 3], :process 9, :time 13531793591, :index 3152}
{:type :ok, :f :write, :value 3, :process 3, :time 13532309670, :index 3153}
{:type :ok, :f :write, :value 2, :process 27, :time 13533208741, :index 3154}
{:type :invoke, :f :write, :value 4, :process 8, :time 13538711774, :index 3155}
{:type :ok, :f :write, :value 4, :process 8, :time 13544903573, :index 3157}
{:type :invoke, :f :read, :value nil, :process 25, :time 13554688615, :index 3161}
{:type :ok, :f :read, :value 4, :process 25, :time 13560301812, :index 3164}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 13578193623, :index 3169}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 13583011809, :index 3171}
{:type :invoke, :f :cas, :value [1 0], :process 22, :time 13589330352, :index 3174}
{:type :invoke, :f :write, :value 3, :process 6, :time 13594270778, :index 3175}
{:type :fail, :f :cas, :value [1 0], :process 22, :time 13594394539, :index 3176}
{:type :invoke, :f :read, :value nil, :process 3, :time 13610551155, :index 3181}
{:type :ok, :f :read, :value 4, :process 3, :time 13615125376, :index 3183}
{:type :invoke, :f :write, :value 1, :process 4, :time 13630296530, :index 3186}
{:type :ok, :f :write, :value 1, :process 4, :time 13634750211, :index 3188}
{:type :invoke, :f :read, :value nil, :process 9, :time 13637051191, :index 3190}
{:type :ok, :f :read, :value 1, :process 9, :time 13642805244, :index 3192}
{:type :invoke, :f :read, :value nil, :process 20, :time 13642984268, :index 3193}
{:type :invoke, :f :read, :value nil, :process 1, :time 13647607984, :index 3194}
{:type :ok, :f :read, :value 1, :process 20, :time 13647765852, :index 3195}
{:type :invoke, :f :cas, :value [3 1], :process 27, :time 13652459098, :index 3197}
{:type :fail, :f :cas, :value [3 1], :process 27, :time 13657634196, :index 3199}
{:type :invoke, :f :write, :value 3, :process 3, :time 13686388840, :index 3203}
{:type :ok, :f :write, :value 3, :process 3, :time 13690983705, :index 3205}
{:type :ok, :f :read, :value 3, :process 1, :time 13698531108, :index 3211}
{:type :ok, :f :write, :value 3, :process 6, :time 13698787703, :index 3212}
{:type :invoke, :f :cas, :value [2 3], :process 25, :time 13713559769, :index 3216}
{:type :fail, :f :cas, :value [2 3], :process 25, :time 13721805226, :index 3218}
{:type :invoke, :f :read, :value nil, :process 8, :time 13731215387, :index 3225}
{:type :invoke, :f :cas, :value [0 0], :process 22, :time 13732653086, :index 3227}
{:type :ok, :f :read, :value 3, :process 8, :time 13735346205, :index 3229}
{:type :fail, :f :cas, :value [0 0], :process 22, :time 13738781784, :index 3233}
{:type :invoke, :f :read, :value nil, :process 4, :time 13748002977, :index 3234}
{:type :ok, :f :read, :value 3, :process 4, :time 13753050843, :index 3235}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
