{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :invoke, :f :write, :value 0, :process 6, :time 14677115189, :index 3586}
{:type :invoke, :f :cas, :value [0 4], :process 20, :time 14679326903, :index 3587}
{:type :ok, :f :write, :value 0, :process 6, :time 14681841865, :index 3588}
{:type :ok, :f :cas, :value [0 4], :process 20, :time 14684836794, :index 3591}
{:type :invoke, :f :cas, :value [1 3], :process 22, :time 14705562899, :index 3598}
{:type :fail, :f :cas, :value [1 3], :process 22, :time 14711594926, :index 3600}
{:type :invoke, :f :read, :value nil, :process 25, :time 14711699186, :index 3601}
{:type :ok, :f :read, :value 4, :process 25, :time 14718238543, :index 3605}
{:type :invoke, :f :write, :value 0, :process 8, :time 14735802125, :index 3609}
{:type :invoke, :f :cas, :value [3 3], :process 20, :time 14737107463, :index 3610}
{:type :ok, :f :write, :value 0, :process 8, :time 14743729946, :index 3612}
{:type :fail, :f :cas, :value [3 3], :process 20, :time 14747236511, :index 3615}
{:type :invoke, :f :read, :value nil, :process 4, :time 14757013545, :index 3616}
{:type :ok, :f :read, :value 0, :process 4, :time 14762403069, :index 3619}
{:type :invoke, :f :cas, :value [4 1], :process 6, :time 14780120318, :index 3626}
{:type :fail, :f :cas, :value [4 1], :process 6, :time 14785240619, :index 3627}
{:type :invoke, :f :cas, :value [1 0], :process 20, :time 14803472401, :index 3628}
{:type :fail, :f :cas, :value [1 0], :process 20, :time 14809550105, :index 3629}
{:type :invoke, :f :write, :value 3, :process 4, :time 14843684668, :index 3635}
{:type :invoke, :f :cas, :value [0 4], :process 1, :time 14845996085, :index 3636}
{:type :ok, :f :write, :value 3, :process 4, :time 14848751733, :index 3639}
{:type :fail, :f :cas, :value [0 4], :process 1, :time 14851203034, :index 3640}
{:type :invoke, :f :write, :value 4, :process 3, :time 14853978084, :index 3642}
{:type :ok, :f :write, :value 4, :process 3, :time 14858925145, :index 3644}
{:type :invoke, :f :read, :value nil, :process 9, :time 14862266887, :index 3646}
{:type :invoke, :f :cas, :value [1 0], :process 27, :time 14871556731, :index 3648}
{:type :invoke, :f :read, :value nil, :process 20, :time 14872262916, :index 3650}
{:type :invoke, :f :read, :value nil, :process 22, :time 14878852352, :index 3651}
{:type :invoke, :f :write, :value 3, :process 25, :time 14902491867, :index 3653}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 14932992355, :index 3656}
{:type :invoke, :f :write, :value 4, :process 6, :time 14943500578, :index 3658}
{:type :invoke, :f :write, :value 2, :process 3, :time 14952197459, :index 3660}
{:type :invoke, :f :read, :value nil, :process 4, :time 14986025697, :index 3662}
{:type :ok, :f :read, :value 4, :process 9, :time 14995159409, :index 3663}
{:type :invoke, :f :write, :value 0, :process 1, :time 15040462275, :index 3666}
{:type :invoke, :f :write, :value 3, :process 9, :time 15125457428, :index 3667}
{:type :ok, :f :write, :value 2, :process 3, :time 15400979957, :index 3668}
{:type :ok, :f :write, :value 4, :process 6, :time 15401359195, :index 3669}
{:type :ok, :f :read, :value 4, :process 22, :time 15402181490, :index 3672}
{:type :ok, :f :write, :value 3, :process 25, :time 15402447167, :index 3673}
{:type :fail, :f :cas, :value [1 0], :process 27, :time 15403382039, :index 3676}
{:type :ok, :f :read, :value 2, :process 4, :time 15403673285, :index 3678}
{:type :ok, :f :read, :value 4, :process 20, :time 15405004558, :index 3682}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 15405419694, :index 3683}
{:type :invoke, :f :write, :value 0, :process 22, :time 15426413753, :index 3687}
{:type :invoke, :f :read, :value nil, :process 3, :time 15439364709, :index 3688}
{:type :invoke, :f :read, :value nil, :process 27, :time 15444664617, :index 3690}
{:type :invoke, :f :read, :value nil, :process 4, :time 15446922989, :index 3691}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 15514657403, :index 3694}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :invoke, :f :cas, :value [4 2], :process 20, :time 15525255929, :index 3697}
{:type :ok, :f :write, :value 0, :process 1, :time 15562766634, :index 3700}
{:type :ok, :f :read, :value 0, :process 3, :time 15566074632, :index 3702}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 15567057608, :index 3704}
{:type :fail, :f :cas, :value [4 2], :process 20, :time 15568134904, :index 3708}
{:type :invoke, :f :write, :value 2, :process 25, :time 15580676719, :index 3709}
{:type :invoke, :f :read, :value nil, :process 6, :time 15584309854, :index 3710}
{:type :ok, :f :write, :value 2, :process 25, :time 15586370003, :index 3711}
{:type :ok, :f :read, :value 2, :process 6, :time 15589334224, :index 3712}
{:type :invoke, :f :write, :value 2, :process 8, :time 15592654971, :index 3713}
{:type :ok, :f :write, :value 2, :process 8, :time 15597356796, :index 3714}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 15603425007, :index 3715}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 15608599100, :index 3716}
{:type :invoke, :f :write, :value 4, :process 8, :time 15608628659, :index 3717}
{:type :ok, :f :write, :value 4, :process 8, :time 15612857460, :index 3718}
{:type :invoke, :f :write, :value 2, :process 20, :time 15616398339, :index 3719}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :ok, :f :write, :value 2, :process 20, :time 15621902999, :index 3721}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 15647584309, :index 3724}
{:type :fail, :f :cas, :value [4 4], :process 6, :time 15653711861, :index 3727}
{:type :invoke, :f :write, :value 3, :process 25, :time 15660630930, :index 3730}
{:type :ok, :f :write, :value 3, :process 25, :time 15665795138, :index 3733}
{:type :invoke, :f :write, :value 3, :process 25, :time 15703061361, :index 3736}
{:type :ok, :f :write, :value 3, :process 25, :time 15712507881, :index 3738}
{:type :invoke, :f :write, :value 0, :process 20, :time 15734199172, :index 3740}
{:type :ok, :f :write, :value 0, :process 20, :time 15739501973, :index 3741}
{:type :invoke, :f :cas, :value [4 3], :process 1, :time 15750044124, :index 3742}
{:type :fail, :f :cas, :value [4 3], :process 1, :time 15755651390, :index 3744}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 15756962761, :index 3745}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 15762396451, :index 3747}
{:type :invoke, :f :write, :value 0, :process 20, :time 15797761842, :index 3752}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 15803890284, :index 3753}
{:type :ok, :f :write, :value 0, :process 20, :time 15804427684, :index 3754}
{:type :invoke, :f :write, :value 2, :process 8, :time 15809120488, :index 3756}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 15809970189, :index 3757}
{:type :ok, :f :write, :value 2, :process 8, :time 15814319475, :index 3759}
{:type :invoke, :f :read, :value nil, :process 1, :time 15834913707, :index 3764}
{:type :ok, :f :read, :value 2, :process 1, :time 15841751997, :index 3765}
{:type :invoke, :f :read, :value nil, :process 6, :time 15856672074, :index 3768}
{:type :invoke, :f :write, :value 2, :process 3, :time 15860257001, :index 3770}
{:type :ok, :f :read, :value 2, :process 6, :time 15862157117, :index 3771}
{:type :ok, :f :write, :value 2, :process 3, :time 15864975864, :index 3772}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 15865113666, :index 3773}
{:type :invoke, :f :read, :value nil, :process 25, :time 15865791195, :index 3775}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 15876214109, :index 3776}
{:type :ok, :f :read, :value 2, :process 25, :time 15877074783, :index 3777}
{:type :invoke, :f :read, :value nil, :process 25, :time 15907328111, :index 3782}
{:type :ok, :f :read, :value 2, :process 25, :time 15912349828, :index 3783}
{:type :invoke, :f :write, :value 4, :process 6, :time 15941420781, :index 3790}
{:type :ok, :f :write, :value 4, :process 6, :time 15946170688, :index 3791}
{:type :invoke, :f :write, :value 4, :process 20, :time 15957672199, :index 3792}
{:type :invoke, :f :cas, :value [0 4], :process 8, :time 15959590531, :index 3793}
{:type :ok, :f :write, :value 4, :process 20, :time 15963213523, :index 3794}
{:type :fail, :f :cas, :value [0 4], :process 8, :time 15964602083, :index 3795}
{:type :invoke, :f :cas, :value [0 3], :process 3, :time 15973479797, :index 3796}
{:type :fail, :f :cas, :value [0 3], :process 3, :time 15979114416, :index 3799}
{:type :invoke, :f :cas, :value [1 3], :process 1, :time 15983015768, :index 3802}
{:type :fail, :f :cas, :value [1 3], :process 1, :time 15988252783, :index 3807}
{:type :invoke, :f :write, :value 0, :process 20, :time 15996475727, :index 3811}
{:type :ok, :f :write, :value 0, :process 20, :time 16001480396, :index 3814}
{:type :invoke, :f :cas, :value [3 2], :process 3, :time 16009353026, :index 3816}
{:type :invoke, :f :read, :value nil, :process 8, :time 16012862194, :index 3817}
{:type :fail, :f :cas, :value [3 2], :process 3, :time 16014344453, :index 3818}
{:type :ok, :f :read, :value 0, :process 8, :time 16017382850, :index 3821}
{:type :invoke, :f :cas, :value [0 0], :process 20, :time 16021737235, :index 3824}
{:type :ok, :f :cas, :value [0 0], :process 20, :time 16027245540, :index 3825}
{:type :invoke, :f :cas, :value [3 4], :process 8, :time 16037722614, :index 3826}
{:type :fail, :f :cas, :value [3 4], :process 8, :time 16043354038, :index 3827}
{:type :invoke, :f :read, :value nil, :process 20, :time 16049505665, :index 3828}
{:type :invoke, :f :read, :value nil, :process 1, :time 16055501713, :index 3830}
{:type :ok, :f :read, :value 0, :process 20, :time 16055968064, :index 3831}
{:type :invoke, :f :write, :value 1, :process 25, :time 16060611152, :index 3833}
{:type :ok, :f :read, :value 0, :process 1, :time 16062173481, :index 3834}
{:type :ok, :f :write, :value 1, :process 25, :time 16067224510, :index 3835}
{:type :invoke, :f :write, :value 0, :process 3, :time 16068607010, :index 3836}
{:type :ok, :f :write, :value 0, :process 3, :time 16073319326, :index 3837}
{:type :invoke, :f :cas, :value [3 1], :process 6, :time 16097428127, :index 3844}
{:type :fail, :f :cas, :value [3 1], :process 6, :time 16103265918, :index 3845}
{:type :invoke, :f :write, :value 3, :process 3, :time 16109576513, :index 3846}
{:type :ok, :f :write, :value 3, :process 3, :time 16113840653, :index 3848}
{:type :invoke, :f :read, :value nil, :process 3, :time 16160106296, :index 3855}
{:type :ok, :f :read, :value 3, :process 3, :time 16164083778, :index 3857}
{:type :invoke, :f :cas, :value [2 0], :process 25, :time 16167489921, :index 3858}
{:type :fail, :f :cas, :value [2 0], :process 25, :time 16172349154, :index 3859}
{:type :invoke, :f :cas, :value [4 4], :process 20, :time 16208235646, :index 3865}
{:type :fail, :f :cas, :value [4 4], :process 20, :time 16214512558, :index 3866}
{:type :invoke, :f :write, :value 3, :process 1, :time 16214445376, :index 3867}
{:type :ok, :f :write, :value 3, :process 1, :time 16219556231, :index 3870}
{:type :invoke, :f :write, :value 2, :process 8, :time 16231620900, :index 3872}
{:type :ok, :f :write, :value 2, :process 8, :time 16236519805, :index 3873}
{:type :invoke, :f :write, :value 0, :process 1, :time 16253841197, :index 3876}
{:type :ok, :f :write, :value 0, :process 1, :time 16258919045, :index 3878}
{:type :invoke, :f :read, :value nil, :process 6, :time 16264528700, :index 3880}
{:type :ok, :f :read, :value 0, :process 6, :time 16269660829, :index 3881}
{:type :invoke, :f :cas, :value [0 2], :process 1, :time 16281214010, :index 3882}
{:type :ok, :f :cas, :value [0 2], :process 1, :time 16286267672, :index 3883}
{:type :invoke, :f :read, :value nil, :process 25, :time 16298608703, :index 3884}
{:type :ok, :f :read, :value 2, :process 25, :time 16303805261, :index 3886}
{:type :invoke, :f :cas, :value [3 3], :process 3, :time 16323338453, :index 3890}
{:type :fail, :f :cas, :value [3 3], :process 3, :time 16328772389, :index 3891}
{:type :invoke, :f :write, :value 1, :process 25, :time 16329066520, :index 3892}
{:type :ok, :f :write, :value 1, :process 25, :time 16334149318, :index 3893}
{:type :invoke, :f :cas, :value [0 1], :process 20, :time 16346757962, :index 3896}
{:type :fail, :f :cas, :value [0 1], :process 20, :time 16352088245, :index 3899}
{:type :invoke, :f :write, :value 1, :process 1, :time 16392458656, :index 3908}
{:type :ok, :f :write, :value 1, :process 1, :time 16398128932, :index 3909}
{:type :invoke, :f :read, :value nil, :process 3, :time 16407038430, :index 3910}
{:type :ok, :f :read, :value 1, :process 3, :time 16412013346, :index 3912}
{:type :invoke, :f :read, :value nil, :process 8, :time 16415784395, :index 3914}
{:type :ok, :f :read, :value 1, :process 8, :time 16420852939, :index 3915}
{:type :invoke, :f :cas, :value [1 1], :process 6, :time 16433923395, :index 3916}
{:type :ok, :f :cas, :value [1 1], :process 6, :time 16439095303, :index 3917}
{:type :invoke, :f :cas, :value [1 2], :process 3, :time 16475283055, :index 3920}
{:type :invoke, :f :write, :value 2, :process 20, :time 16478365676, :index 3921}
{:type :ok, :f :cas, :value [1 2], :process 3, :time 16480711510, :index 3922}
{:type :ok, :f :write, :value 2, :process 20, :time 16482867200, :index 3924}
{:type :invoke, :f :read, :value nil, :process 25, :time 16485409046, :index 3925}
{:type :ok, :f :read, :value 2, :process 25, :time 16490727404, :index 3927}
{:type :invoke, :f :cas, :value [3 4], :process 20, :time 16535128452, :index 3938}
{:type :fail, :f :cas, :value [3 4], :process 20, :time 16540726995, :index 3939}
{:type :invoke, :f :write, :value 4, :process 6, :time 16541363675, :index 3940}
{:type :invoke, :f :cas, :value [3 4], :process 1, :time 16545403359, :index 3941}
{:type :ok, :f :write, :value 4, :process 6, :time 16546037382, :index 3942}
{:type :fail, :f :cas, :value [3 4], :process 1, :time 16551246820, :index 3943}
{:type :invoke, :f :cas, :value [0 4], :process 6, :time 16552322509, :index 3944}
{:type :invoke, :f :read, :value nil, :process 20, :time 16555981603, :index 3945}
{:type :invoke, :f :write, :value 2, :process 3, :time 16556979503, :index 3946}
{:type :fail, :f :cas, :value [0 4], :process 6, :time 16558020666, :index 3947}
{:type :ok, :f :read, :value 4, :process 20, :time 16561594362, :index 3948}
{:type :ok, :f :write, :value 2, :process 3, :time 16561879918, :index 3949}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 16568279704, :index 3950}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 16573515843, :index 3951}
{:type :invoke, :f :read, :value nil, :process 25, :time 16583980466, :index 3952}
{:type :ok, :f :read, :value 2, :process 25, :time 16589991905, :index 3954}
{:type :invoke, :f :write, :value 4, :process 8, :time 16593113221, :index 3956}
{:type :ok, :f :write, :value 4, :process 8, :time 16597559054, :index 3958}
{:type :invoke, :f :read, :value nil, :process 6, :time 16615773465, :index 3962}
{:type :invoke, :f :cas, :value [2 2], :process 20, :time 16620870050, :index 3963}
{:type :ok, :f :read, :value 4, :process 6, :time 16621003399, :index 3964}
{:type :invoke, :f :write, :value 3, :process 1, :time 16623506690, :index 3965}
{:type :fail, :f :cas, :value [2 2], :process 20, :time 16626861169, :index 3966}
{:type :ok, :f :write, :value 3, :process 1, :time 16628406584, :index 3967}
{:type :invoke, :f :read, :value nil, :process 8, :time 16638816529, :index 3969}
{:type :ok, :f :read, :value 3, :process 8, :time 16645165567, :index 3971}
{:type :invoke, :f :cas, :value [1 1], :process 25, :time 16671290269, :index 3974}
{:type :fail, :f :cas, :value [1 1], :process 25, :time 16677123493, :index 3975}
{:type :invoke, :f :cas, :value [1 3], :process 3, :time 16693133728, :index 3978}
{:type :fail, :f :cas, :value [1 3], :process 3, :time 16698123214, :index 3980}
{:type :info, :f :write, :value 3, :process 9, :time 20132651301, :error :timeout, :index 4552}
{:type :info, :f :write, :value 0, :process 22, :time 20430323698, :error :timeout, :index 4586}
{:type :fail, :f :read, :value nil, :process 27, :time 20450283519, :error :timeout, :index 4589}
{:type :fail, :f :read, :value nil, :process 4, :time 20453521447, :error :timeout, :index 4590}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
