{:type :info, :f :start, :value nil, :process :nemesis, :time 5215750235, :index 1518}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5318575786, :index 1539}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10319060437, :index 2318}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10523514389, :index 2357}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15523783648, :index 3347}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15626862148, :index 3363}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20627338830, :index 3387}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20832430421, :index 3441}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25832711810, :index 4478}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25935314003, :index 4491}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30935775923, :index 4524}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31140073867, :index 4533}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36140344410, :index 5873}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36244208057, :index 5886}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41244685446, :index 6494}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41451783088, :index 6562}
{:type :invoke, :f :write, :value 0, :process 50, :time 45147862218, :index 6706}
{:type :ok, :f :write, :value 0, :process 50, :time 45153376298, :index 6709}
{:type :invoke, :f :write, :value 3, :process 50, :time 45170510928, :index 6710}
{:type :invoke, :f :cas, :value [4 1], :process 36, :time 45174467248, :index 6711}
{:type :ok, :f :write, :value 3, :process 50, :time 45175911326, :index 6712}
{:type :fail, :f :cas, :value [4 1], :process 36, :time 45178852404, :index 6713}
{:type :invoke, :f :read, :value nil, :process 50, :time 45190197981, :index 6717}
{:type :ok, :f :read, :value 3, :process 50, :time 45195137913, :index 6720}
{:type :invoke, :f :read, :value nil, :process 50, :time 45197391645, :index 6721}
{:type :invoke, :f :write, :value 4, :process 54, :time 45197669278, :index 6722}
{:type :ok, :f :write, :value 4, :process 54, :time 45203991630, :index 6725}
{:type :ok, :f :read, :value 4, :process 50, :time 45204179763, :index 6726}
{:type :invoke, :f :read, :value nil, :process 50, :time 45239346599, :index 6730}
{:type :ok, :f :read, :value 4, :process 50, :time 45245384866, :index 6733}
{:type :invoke, :f :write, :value 3, :process 50, :time 45270619200, :index 6736}
{:type :invoke, :f :cas, :value [0 1], :process 98, :time 45275332526, :index 6737}
{:type :ok, :f :write, :value 3, :process 50, :time 45276423072, :index 6739}
{:type :fail, :f :cas, :value [0 1], :process 98, :time 45280921688, :index 6740}
{:type :invoke, :f :cas, :value [4 2], :process 98, :time 45281105326, :index 6741}
{:type :fail, :f :cas, :value [4 2], :process 98, :time 45285929382, :index 6743}
{:type :invoke, :f :write, :value 1, :process 54, :time 45290269793, :index 6745}
{:type :ok, :f :write, :value 1, :process 54, :time 45296228630, :index 6747}
{:type :invoke, :f :write, :value 4, :process 79, :time 45297680823, :index 6748}
{:type :invoke, :f :read, :value nil, :process 35, :time 45298107920, :index 6749}
{:type :ok, :f :write, :value 4, :process 79, :time 45303482736, :index 6750}
{:type :ok, :f :read, :value 4, :process 35, :time 45303482736, :index 6751}
{:type :invoke, :f :write, :value 1, :process 36, :time 45330128768, :index 6762}
{:type :ok, :f :write, :value 1, :process 36, :time 45335136744, :index 6766}
{:type :invoke, :f :read, :value nil, :process 53, :time 45355731099, :index 6773}
{:type :invoke, :f :cas, :value [0 0], :process 98, :time 45356209381, :index 6774}
{:type :invoke, :f :cas, :value [3 0], :process 51, :time 45356767803, :index 6775}
{:type :ok, :f :read, :value 1, :process 53, :time 45361699354, :index 6779}
{:type :fail, :f :cas, :value [3 0], :process 51, :time 45362151470, :index 6780}
{:type :fail, :f :cas, :value [0 0], :process 98, :time 45362422737, :index 6781}
{:type :invoke, :f :cas, :value [0 0], :process 51, :time 45377427950, :index 6786}
{:type :invoke, :f :read, :value nil, :process 53, :time 45381959976, :index 6788}
{:type :fail, :f :cas, :value [0 0], :process 51, :time 45382995366, :index 6789}
{:type :ok, :f :read, :value 1, :process 53, :time 45387002577, :index 6791}
{:type :invoke, :f :cas, :value [1 0], :process 79, :time 45388774142, :index 6792}
{:type :invoke, :f :read, :value nil, :process 51, :time 45391256178, :index 6793}
{:type :ok, :f :cas, :value [1 0], :process 79, :time 45394694956, :index 6794}
{:type :ok, :f :read, :value 0, :process 51, :time 45395684732, :index 6795}
{:type :invoke, :f :cas, :value [0 0], :process 36, :time 45432566710, :index 6802}
{:type :ok, :f :cas, :value [0 0], :process 36, :time 45437121904, :index 6805}
{:type :invoke, :f :write, :value 1, :process 52, :time 45439865603, :index 6807}
{:type :invoke, :f :cas, :value [0 3], :process 79, :time 45439967962, :index 6808}
{:type :invoke, :f :read, :value nil, :process 53, :time 45443287971, :index 6811}
{:type :ok, :f :write, :value 1, :process 52, :time 45445193756, :index 6812}
{:type :fail, :f :cas, :value [0 3], :process 79, :time 45446125633, :index 6813}
{:type :ok, :f :read, :value 1, :process 53, :time 45448730569, :index 6815}
{:type :invoke, :f :cas, :value [0 4], :process 50, :time 45456670933, :index 6818}
{:type :fail, :f :cas, :value [0 4], :process 50, :time 45463693007, :index 6819}
{:type :invoke, :f :write, :value 1, :process 53, :time 45463988079, :index 6820}
{:type :ok, :f :write, :value 1, :process 53, :time 45469133300, :index 6822}
{:type :invoke, :f :cas, :value [2 1], :process 53, :time 45469290318, :index 6823}
{:type :invoke, :f :cas, :value [1 0], :process 17, :time 45471284576, :index 6825}
{:type :fail, :f :cas, :value [2 1], :process 53, :time 45474351055, :index 6826}
{:type :invoke, :f :cas, :value [4 4], :process 54, :time 45474482502, :index 6827}
{:type :invoke, :f :read, :value nil, :process 35, :time 45474736577, :index 6828}
{:type :invoke, :f :write, :value 2, :process 53, :time 45479416121, :index 6830}
{:type :fail, :f :cas, :value [4 4], :process 54, :time 45480339469, :index 6831}
{:type :ok, :f :read, :value 1, :process 35, :time 45480632611, :index 6832}
{:type :invoke, :f :cas, :value [1 0], :process 54, :time 45482603291, :index 6834}
{:type :ok, :f :write, :value 2, :process 53, :time 45484419407, :index 6835}
{:type :fail, :f :cas, :value [1 0], :process 54, :time 45488404857, :index 6836}
{:type :invoke, :f :read, :value nil, :process 53, :time 45493708947, :index 6838}
{:type :ok, :f :read, :value 2, :process 53, :time 45499250389, :index 6841}
{:type :invoke, :f :cas, :value [1 0], :process 51, :time 45506953756, :index 6842}
{:type :fail, :f :cas, :value [1 0], :process 51, :time 45511858173, :index 6843}
{:type :invoke, :f :write, :value 0, :process 52, :time 45513460211, :index 6844}
{:type :invoke, :f :cas, :value [0 1], :process 98, :time 45514731051, :index 6845}
{:type :fail, :f :cas, :value [0 1], :process 98, :time 45520132400, :index 6846}
{:type :invoke, :f :write, :value 4, :process 54, :time 45576665365, :index 6864}
{:type :ok, :f :write, :value 4, :process 54, :time 45581773870, :index 6866}
{:type :invoke, :f :write, :value 3, :process 35, :time 45584889946, :index 6867}
{:type :invoke, :f :write, :value 3, :process 50, :time 45588962867, :index 6870}
{:type :ok, :f :write, :value 3, :process 35, :time 45590994194, :index 6871}
{:type :ok, :f :write, :value 3, :process 50, :time 45594149043, :index 6873}
{:type :invoke, :f :read, :value nil, :process 79, :time 45625408076, :index 6874}
{:type :ok, :f :read, :value 3, :process 79, :time 45630748995, :index 6875}
{:type :invoke, :f :cas, :value [3 2], :process 36, :time 45631453189, :index 6877}
{:type :invoke, :f :cas, :value [0 1], :process 53, :time 45635483387, :index 6879}
{:type :ok, :f :cas, :value [3 2], :process 36, :time 45636777560, :index 6881}
{:type :fail, :f :cas, :value [0 1], :process 53, :time 45641534954, :index 6883}
{:type :invoke, :f :write, :value 4, :process 50, :time 45649434694, :index 6884}
{:type :ok, :f :write, :value 4, :process 50, :time 45654861102, :index 6886}
{:type :invoke, :f :write, :value 0, :process 98, :time 45654952539, :index 6887}
{:type :ok, :f :write, :value 0, :process 98, :time 45660836516, :index 6888}
{:type :invoke, :f :read, :value nil, :process 51, :time 45664183542, :index 6890}
{:type :ok, :f :read, :value 0, :process 51, :time 45668871881, :index 6893}
{:type :invoke, :f :write, :value 2, :process 53, :time 45696792601, :index 6900}
{:type :ok, :f :write, :value 2, :process 53, :time 45701790077, :index 6901}
{:type :invoke, :f :read, :value nil, :process 98, :time 45717139394, :index 6904}
{:type :invoke, :f :cas, :value [1 2], :process 54, :time 45718028971, :index 6905}
{:type :ok, :f :read, :value 2, :process 98, :time 45723204891, :index 6908}
{:type :fail, :f :cas, :value [1 2], :process 54, :time 45724383686, :index 6909}
{:type :invoke, :f :write, :value 2, :process 79, :time 45737017354, :index 6912}
{:type :ok, :f :write, :value 2, :process 79, :time 45742694937, :index 6915}
{:type :invoke, :f :write, :value 0, :process 50, :time 45767204130, :index 6920}
{:type :invoke, :f :cas, :value [4 4], :process 35, :time 45768299236, :index 6921}
{:type :ok, :f :write, :value 0, :process 52, :time 45769871403, :index 6924}
{:type :fail, :f :cas, :value [1 0], :process 17, :time 45770030821, :index 6925}
{:type :invoke, :f :read, :value nil, :process 54, :time 45770665123, :index 6927}
{:type :ok, :f :write, :value 0, :process 50, :time 45775179468, :index 6930}
{:type :fail, :f :cas, :value [4 4], :process 35, :time 45776339106, :index 6932}
{:type :ok, :f :read, :value 0, :process 54, :time 45777410108, :index 6933}
{:type :invoke, :f :read, :value nil, :process 51, :time 45778142173, :index 6934}
{:type :ok, :f :read, :value 0, :process 51, :time 45782164039, :index 6935}
{:type :invoke, :f :cas, :value [2 0], :process 36, :time 45791014188, :index 6938}
{:type :fail, :f :cas, :value [2 0], :process 36, :time 45795822572, :index 6939}
{:type :invoke, :f :cas, :value [0 3], :process 51, :time 45803412177, :index 6940}
{:type :ok, :f :cas, :value [0 3], :process 51, :time 45809169777, :index 6943}
{:type :invoke, :f :read, :value nil, :process 79, :time 45859022356, :index 6949}
{:type :ok, :f :read, :value 3, :process 79, :time 45863818915, :index 6953}
{:type :invoke, :f :read, :value nil, :process 50, :time 45864416434, :index 6954}
{:type :ok, :f :read, :value 3, :process 50, :time 45873841785, :index 6957}
{:type :invoke, :f :read, :value nil, :process 50, :time 45875089768, :index 6958}
{:type :invoke, :f :cas, :value [4 2], :process 17, :time 45875367096, :index 6959}
{:type :invoke, :f :write, :value 0, :process 53, :time 45877076401, :index 6960}
{:type :ok, :f :read, :value 3, :process 50, :time 45880788654, :index 6961}
{:type :invoke, :f :write, :value 0, :process 36, :time 45881081496, :index 6962}
{:type :fail, :f :cas, :value [4 2], :process 17, :time 45881846070, :index 6963}
{:type :ok, :f :write, :value 0, :process 53, :time 45882280594, :index 6964}
{:type :ok, :f :write, :value 0, :process 36, :time 45885754472, :index 6965}
{:type :invoke, :f :read, :value nil, :process 79, :time 45890156476, :index 6966}
{:type :ok, :f :read, :value 0, :process 79, :time 45894785906, :index 6967}
{:type :invoke, :f :write, :value 1, :process 54, :time 45909670835, :index 6969}
{:type :invoke, :f :write, :value 3, :process 98, :time 45911459967, :index 6970}
{:type :ok, :f :write, :value 1, :process 54, :time 45915113030, :index 6974}
{:type :ok, :f :write, :value 3, :process 98, :time 45916370940, :index 6975}
{:type :invoke, :f :read, :value nil, :process 52, :time 45921147407, :index 6980}
{:type :invoke, :f :cas, :value [0 4], :process 17, :time 45924106181, :index 6981}
{:type :ok, :f :read, :value 3, :process 52, :time 45926363975, :index 6984}
{:type :fail, :f :cas, :value [0 4], :process 17, :time 45929098540, :index 6985}
{:type :invoke, :f :cas, :value [0 4], :process 79, :time 45954040570, :index 6993}
{:type :invoke, :f :cas, :value [2 2], :process 50, :time 45955059955, :index 6995}
{:type :fail, :f :cas, :value [0 4], :process 79, :time 45958889867, :index 6996}
{:type :fail, :f :cas, :value [2 2], :process 50, :time 45960678237, :index 6997}
{:type :invoke, :f :read, :value nil, :process 35, :time 45971624217, :index 6998}
{:type :invoke, :f :read, :value nil, :process 98, :time 45975641896, :index 7000}
{:type :invoke, :f :read, :value nil, :process 53, :time 45977517099, :index 7001}
{:type :ok, :f :read, :value 3, :process 35, :time 45978186501, :index 7002}
{:type :ok, :f :read, :value 3, :process 98, :time 45980310558, :index 7004}
{:type :ok, :f :read, :value 3, :process 53, :time 45981954654, :index 7005}
{:type :invoke, :f :read, :value nil, :process 36, :time 45986006047, :index 7006}
{:type :invoke, :f :read, :value nil, :process 98, :time 45989584695, :index 7007}
{:type :ok, :f :read, :value 3, :process 36, :time 45991059271, :index 7008}
{:type :ok, :f :read, :value 3, :process 98, :time 45995808930, :index 7010}
{:type :invoke, :f :cas, :value [2 0], :process 35, :time 45996436366, :index 7011}
{:type :invoke, :f :read, :value nil, :process 51, :time 46001525601, :index 7014}
{:type :fail, :f :cas, :value [2 0], :process 35, :time 46001860646, :index 7015}
{:type :ok, :f :read, :value 3, :process 51, :time 46006570909, :index 7017}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 46012344654, :index 7019}
{:type :invoke, :f :cas, :value [0 0], :process 51, :time 46013839331, :index 7020}
{:type :fail, :f :cas, :value [2 1], :process 36, :time 46016916959, :index 7023}
{:type :fail, :f :cas, :value [0 0], :process 51, :time 46019384195, :index 7024}
{:type :invoke, :f :read, :value nil, :process 50, :time 46039929144, :index 7030}
{:type :ok, :f :read, :value 3, :process 50, :time 46045686507, :index 7031}
{:type :invoke, :f :write, :value 3, :process 79, :time 46051155439, :index 7034}
{:type :invoke, :f :write, :value 1, :process 50, :time 46052938570, :index 7035}
{:type :ok, :f :write, :value 3, :process 79, :time 46056297781, :index 7038}
{:type :ok, :f :write, :value 1, :process 50, :time 46057873270, :index 7039}
{:type :invoke, :f :write, :value 3, :process 98, :time 46060074636, :index 7040}
{:type :ok, :f :write, :value 3, :process 98, :time 46065321226, :index 7041}
{:type :invoke, :f :cas, :value [2 4], :process 54, :time 46068363398, :index 7042}
{:type :fail, :f :cas, :value [2 4], :process 54, :time 46073850570, :index 7045}
{:type :invoke, :f :write, :value 2, :process 98, :time 46077581698, :index 7046}
{:type :ok, :f :write, :value 2, :process 98, :time 46082424185, :index 7049}
{:type :invoke, :f :write, :value 0, :process 17, :time 46084363812, :index 7050}
{:type :ok, :f :write, :value 0, :process 17, :time 46089335143, :index 7051}
{:type :invoke, :f :read, :value nil, :process 52, :time 46091597615, :index 7054}
{:type :ok, :f :read, :value 0, :process 52, :time 46097678589, :index 7057}
{:type :invoke, :f :read, :value nil, :process 35, :time 46115103942, :index 7058}
{:type :ok, :f :read, :value 0, :process 35, :time 46121085198, :index 7059}
{:type :invoke, :f :read, :value nil, :process 50, :time 46124162633, :index 7060}
{:type :ok, :f :read, :value 0, :process 50, :time 46129196342, :index 7061}
{:type :invoke, :f :read, :value nil, :process 53, :time 46141204064, :index 7064}
{:type :invoke, :f :write, :value 1, :process 51, :time 46142109558, :index 7067}
{:type :ok, :f :read, :value 0, :process 53, :time 46147705741, :index 7068}
{:type :ok, :f :write, :value 1, :process 51, :time 46148067828, :index 7069}
{:type :invoke, :f :write, :value 4, :process 36, :time 46156176935, :index 7072}
{:type :ok, :f :write, :value 4, :process 36, :time 46160322292, :index 7074}
{:type :invoke, :f :read, :value nil, :process 79, :time 46162559138, :index 7075}
{:type :ok, :f :read, :value 4, :process 79, :time 46166941713, :index 7077}
{:type :invoke, :f :cas, :value [0 3], :process 53, :time 46201989570, :index 7088}
{:type :fail, :f :cas, :value [0 3], :process 53, :time 46207751078, :index 7089}
{:type :invoke, :f :write, :value 1, :process 52, :time 46221908826, :index 7092}
{:type :ok, :f :write, :value 1, :process 52, :time 46229376869, :index 7096}
{:type :invoke, :f :cas, :value [2 2], :process 17, :time 46231631458, :index 7099}
{:type :invoke, :f :write, :value 2, :process 54, :time 46237154050, :index 7101}
{:type :fail, :f :cas, :value [2 2], :process 17, :time 46237416382, :index 7102}
{:type :ok, :f :write, :value 2, :process 54, :time 46241794263, :index 7105}
{:type :invoke, :f :read, :value nil, :process 98, :time 46268682464, :index 7109}
{:type :ok, :f :read, :value 2, :process 98, :time 46273469566, :index 7111}
{:type :invoke, :f :cas, :value [4 3], :process 35, :time 46284401932, :index 7121}
{:type :fail, :f :cas, :value [4 3], :process 35, :time 46289665562, :index 7123}
{:type :invoke, :f :cas, :value [2 1], :process 50, :time 46312497753, :index 7139}
{:type :ok, :f :cas, :value [2 1], :process 50, :time 46319833496, :index 7144}
{:type :invoke, :f :cas, :value [0 4], :process 51, :time 46334335684, :index 7146}
{:type :fail, :f :cas, :value [0 4], :process 51, :time 46339949566, :index 7148}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46452057233, :index 7186}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 46554722163, :index 7216}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51555223056, :index 7898}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51759893554, :index 7923}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760161430, :index 8734}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 56862883763, :index 8751}
