{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :invoke, :f :cas, :value [1 4], :process 8, :time 58349545773, :index 20735}
{:type :fail, :f :cas, :value [1 4], :process 8, :time 58351426812, :error :connect, :index 20736}
{:type :invoke, :f :read, :value nil, :process 8, :time 58378694008, :index 20745}
{:type :fail, :f :read, :value nil, :process 8, :time 58380546210, :error :connect, :index 20747}
{:type :invoke, :f :cas, :value [0 3], :process 4, :time 58383369587, :index 20750}
{:type :fail, :f :cas, :value [0 3], :process 4, :time 58385125833, :error :connect, :index 20752}
{:type :invoke, :f :cas, :value [3 4], :process 4, :time 58393360017, :index 20761}
{:type :fail, :f :cas, :value [3 4], :process 4, :time 58395198091, :error :connect, :index 20762}
{:type :invoke, :f :cas, :value [2 3], :process 3, :time 58400788423, :index 20763}
{:type :fail, :f :cas, :value [2 3], :process 3, :time 58402747511, :error :connect, :index 20764}
{:type :invoke, :f :read, :value nil, :process 29, :time 58435953169, :index 20765}
{:type :invoke, :f :read, :value nil, :process 21, :time 58437395387, :index 20766}
{:type :fail, :f :read, :value nil, :process 29, :time 58437900202, :error :connect, :index 20767}
{:type :fail, :f :read, :value nil, :process 21, :time 58439779708, :error :connect, :index 20769}
{:type :invoke, :f :read, :value nil, :process 3, :time 58447035040, :index 20774}
{:type :fail, :f :read, :value nil, :process 3, :time 58448889011, :error :connect, :index 20776}
{:type :invoke, :f :read, :value nil, :process 8, :time 58457804804, :index 20779}
{:type :fail, :f :read, :value nil, :process 8, :time 58459806352, :error :connect, :index 20781}
{:type :invoke, :f :cas, :value [4 4], :process 29, :time 58463166643, :index 20785}
{:type :fail, :f :cas, :value [4 4], :process 29, :time 58465906989, :error :connect, :index 20786}
{:type :invoke, :f :cas, :value [4 4], :process 7, :time 58473397998, :index 20791}
{:type :invoke, :f :write, :value 0, :process 6, :time 58474549580, :index 20793}
{:type :fail, :f :cas, :value [4 4], :process 7, :time 58475326492, :error :connect, :index 20794}
{:type :fail, :f :write, :value 0, :process 6, :time 58476359458, :error :connect, :index 20797}
{:type :invoke, :f :write, :value 4, :process 8, :time 58490071588, :index 20801}
{:type :fail, :f :write, :value 4, :process 8, :time 58492100595, :error :connect, :index 20802}
{:type :invoke, :f :write, :value 2, :process 5, :time 58504699622, :index 20805}
{:type :fail, :f :write, :value 2, :process 5, :time 58506485589, :error :connect, :index 20806}
{:type :invoke, :f :read, :value nil, :process 5, :time 58509751200, :index 20808}
{:type :fail, :f :read, :value nil, :process 5, :time 58511851623, :error :connect, :index 20810}
{:type :invoke, :f :read, :value nil, :process 8, :time 58516362350, :index 20811}
{:type :fail, :f :read, :value nil, :process 8, :time 58518321533, :error :connect, :index 20813}
{:type :invoke, :f :cas, :value [0 3], :process 22, :time 58546733824, :index 20819}
{:type :fail, :f :cas, :value [0 3], :process 22, :time 58548413143, :error :connect, :index 20820}
{:type :invoke, :f :cas, :value [3 4], :process 29, :time 58562179082, :index 20824}
{:type :invoke, :f :write, :value 1, :process 0, :time 58563449168, :index 20826}
{:type :fail, :f :cas, :value [3 4], :process 29, :time 58564145493, :error :connect, :index 20827}
{:type :fail, :f :write, :value 1, :process 0, :time 58565156716, :error :connect, :index 20828}
{:type :invoke, :f :cas, :value [0 2], :process 4, :time 58565470427, :index 20829}
{:type :fail, :f :cas, :value [0 2], :process 4, :time 58567342376, :error :connect, :index 20830}
{:type :invoke, :f :read, :value nil, :process 0, :time 58580403004, :index 20833}
{:type :fail, :f :read, :value nil, :process 0, :time 58582434706, :error :connect, :index 20835}
{:type :invoke, :f :cas, :value [4 1], :process 4, :time 58584610948, :index 20837}
{:type :fail, :f :cas, :value [4 1], :process 4, :time 58586442206, :error :connect, :index 20838}
{:type :invoke, :f :write, :value 0, :process 3, :time 58610163536, :index 20849}
{:type :fail, :f :write, :value 0, :process 3, :time 58611808812, :error :connect, :index 20850}
{:type :invoke, :f :cas, :value [4 2], :process 5, :time 58612112969, :index 20851}
{:type :invoke, :f :read, :value nil, :process 8, :time 58612578859, :index 20852}
{:type :fail, :f :cas, :value [4 2], :process 5, :time 58614103907, :error :connect, :index 20853}
{:type :fail, :f :read, :value nil, :process 8, :time 58614857152, :error :connect, :index 20855}
{:type :invoke, :f :read, :value nil, :process 21, :time 58631038320, :index 20861}
{:type :fail, :f :read, :value nil, :process 21, :time 58632775135, :error :connect, :index 20862}
{:type :invoke, :f :read, :value nil, :process 7, :time 58641576669, :index 20865}
{:type :fail, :f :read, :value nil, :process 7, :time 58643236693, :error :connect, :index 20866}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 58648675935, :index 20867}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 58650522079, :error :connect, :index 20869}
{:type :invoke, :f :cas, :value [3 3], :process 29, :time 58652414530, :index 20871}
{:type :invoke, :f :read, :value nil, :process 0, :time 58653792900, :index 20872}
{:type :fail, :f :cas, :value [3 3], :process 29, :time 58654372365, :error :connect, :index 20873}
{:type :fail, :f :read, :value nil, :process 0, :time 58655946831, :error :connect, :index 20874}
{:type :invoke, :f :write, :value 0, :process 6, :time 58661620973, :index 20879}
{:type :fail, :f :write, :value 0, :process 6, :time 58663416910, :error :connect, :index 20880}
{:type :invoke, :f :read, :value nil, :process 8, :time 58698100562, :index 20895}
{:type :fail, :f :read, :value nil, :process 8, :time 58699769038, :error :connect, :index 20896}
{:type :invoke, :f :write, :value 0, :process 5, :time 58707378042, :index 20899}
{:type :invoke, :f :read, :value nil, :process 4, :time 58708706896, :index 20900}
{:type :fail, :f :write, :value 0, :process 5, :time 58709408252, :error :connect, :index 20901}
{:type :fail, :f :read, :value nil, :process 4, :time 58710304882, :error :connect, :index 20902}
{:type :invoke, :f :write, :value 2, :process 22, :time 58719675893, :index 20903}
{:type :invoke, :f :cas, :value [2 4], :process 5, :time 58719673291, :index 20904}
{:type :fail, :f :write, :value 2, :process 22, :time 58721306978, :error :connect, :index 20905}
{:type :fail, :f :cas, :value [2 4], :process 5, :time 58722141571, :error :connect, :index 20906}
{:type :invoke, :f :read, :value nil, :process 5, :time 58746411644, :index 20911}
{:type :fail, :f :read, :value nil, :process 5, :time 58748449269, :error :connect, :index 20912}
{:type :invoke, :f :write, :value 0, :process 7, :time 58750504269, :index 20915}
{:type :fail, :f :write, :value 0, :process 7, :time 58752411870, :error :connect, :index 20916}
{:type :invoke, :f :read, :value nil, :process 6, :time 58754692275, :index 20917}
{:type :fail, :f :read, :value nil, :process 6, :time 58756537841, :error :connect, :index 20918}
{:type :invoke, :f :read, :value nil, :process 7, :time 58762678557, :index 20919}
{:type :fail, :f :read, :value nil, :process 7, :time 58764511149, :error :connect, :index 20920}
{:type :invoke, :f :cas, :value [0 1], :process 7, :time 58769781791, :index 20921}
{:type :fail, :f :cas, :value [0 1], :process 7, :time 58771628283, :error :connect, :index 20922}
{:type :invoke, :f :read, :value nil, :process 22, :time 58789578926, :index 20924}
{:type :fail, :f :read, :value nil, :process 22, :time 58791687288, :error :connect, :index 20927}
{:type :invoke, :f :read, :value nil, :process 4, :time 58792631923, :index 20929}
{:type :fail, :f :read, :value nil, :process 4, :time 58794642776, :error :connect, :index 20930}
{:type :invoke, :f :cas, :value [0 1], :process 3, :time 58797074655, :index 20931}
{:type :fail, :f :cas, :value [0 1], :process 3, :time 58799109043, :error :connect, :index 20932}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 58804904594, :index 20939}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 58806716095, :error :connect, :index 20940}
{:type :invoke, :f :write, :value 1, :process 3, :time 58811371210, :index 20943}
{:type :fail, :f :write, :value 1, :process 3, :time 58813214728, :error :connect, :index 20944}
{:type :invoke, :f :read, :value nil, :process 21, :time 58815037337, :index 20945}
{:type :invoke, :f :cas, :value [0 4], :process 0, :time 58816211592, :index 20946}
{:type :fail, :f :read, :value nil, :process 21, :time 58816879272, :error :connect, :index 20947}
{:type :fail, :f :cas, :value [0 4], :process 0, :time 58818308093, :error :connect, :index 20948}
{:type :invoke, :f :cas, :value [1 2], :process 6, :time 58845803037, :index 20951}
{:type :fail, :f :cas, :value [1 2], :process 6, :time 58847516493, :error :connect, :index 20952}
{:type :invoke, :f :write, :value 1, :process 29, :time 58850641565, :index 20953}
{:type :fail, :f :write, :value 1, :process 29, :time 58852460470, :error :connect, :index 20954}
{:type :invoke, :f :write, :value 2, :process 22, :time 58865960923, :index 20957}
{:type :fail, :f :write, :value 2, :process 22, :time 58867840641, :error :connect, :index 20958}
{:type :invoke, :f :write, :value 3, :process 7, :time 58878000270, :index 20961}
{:type :fail, :f :write, :value 3, :process 7, :time 58880036011, :error :connect, :index 20964}
{:type :invoke, :f :cas, :value [3 0], :process 8, :time 58882033797, :index 20965}
{:type :fail, :f :cas, :value [3 0], :process 8, :time 58883709881, :error :connect, :index 20967}
{:type :invoke, :f :write, :value 4, :process 22, :time 58894105341, :index 20969}
{:type :fail, :f :write, :value 4, :process 22, :time 58895748743, :error :connect, :index 20970}
{:type :invoke, :f :write, :value 4, :process 0, :time 58899571844, :index 20971}
{:type :invoke, :f :write, :value 4, :process 6, :time 58899795515, :index 20972}
{:type :fail, :f :write, :value 4, :process 6, :time 58901775352, :error :connect, :index 20973}
{:type :invoke, :f :write, :value 2, :process 5, :time 58901739508, :index 20974}
{:type :fail, :f :write, :value 4, :process 0, :time 58902477530, :error :connect, :index 20975}
{:type :fail, :f :write, :value 2, :process 5, :time 58903605537, :error :connect, :index 20976}
{:type :invoke, :f :read, :value nil, :process 29, :time 58927756478, :index 20979}
{:type :fail, :f :read, :value nil, :process 29, :time 58929648003, :error :connect, :index 20980}
{:type :invoke, :f :read, :value nil, :process 4, :time 58936932588, :index 20981}
{:type :fail, :f :read, :value nil, :process 4, :time 58938749406, :error :connect, :index 20982}
{:type :invoke, :f :write, :value 3, :process 8, :time 58948989371, :index 20987}
{:type :fail, :f :write, :value 3, :process 8, :time 58950707649, :error :connect, :index 20988}
{:type :invoke, :f :cas, :value [1 4], :process 6, :time 58955060697, :index 20990}
{:type :fail, :f :cas, :value [1 4], :process 6, :time 58957292039, :error :connect, :index 20992}
{:type :invoke, :f :read, :value nil, :process 21, :time 58958143540, :index 20993}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
{:type :fail, :f :read, :value nil, :process 21, :time 58959752753, :error :connect, :index 20995}
{:type :invoke, :f :write, :value 1, :process 4, :time 58963008948, :index 20996}
{:type :fail, :f :write, :value 1, :process 4, :time 58964956240, :error :connect, :index 20997}
{:type :invoke, :f :cas, :value [2 4], :process 22, :time 58966021208, :index 20998}
{:type :fail, :f :cas, :value [2 4], :process 22, :time 58967961444, :error :connect, :index 20999}
{:type :invoke, :f :write, :value 3, :process 29, :time 58973919667, :index 21002}
{:type :fail, :f :write, :value 3, :process 29, :time 58975824474, :error :connect, :index 21003}
{:type :invoke, :f :read, :value nil, :process 3, :time 58982477480, :index 21004}
{:type :fail, :f :read, :value nil, :process 3, :time 58984220636, :error :connect, :index 21006}
{:type :invoke, :f :cas, :value [2 0], :process 22, :time 59012232412, :index 21014}
{:type :invoke, :f :read, :value nil, :process 4, :time 59013223414, :index 21015}
{:type :fail, :f :cas, :value [2 0], :process 22, :time 59014328248, :error :connect, :index 21016}
{:type :fail, :f :read, :value nil, :process 4, :time 59015193545, :error :connect, :index 21018}
{:type :invoke, :f :write, :value 4, :process 0, :time 59028736917, :index 21020}
{:type :invoke, :f :write, :value 2, :process 29, :time 59030113900, :index 21021}
{:type :fail, :f :write, :value 4, :process 0, :time 59030748422, :error :connect, :index 21022}
{:type :fail, :f :write, :value 2, :process 29, :time 59032275556, :error :connect, :index 21024}
{:type :invoke, :f :cas, :value [1 2], :process 8, :time 59033992926, :index 21026}
{:type :fail, :f :cas, :value [1 2], :process 8, :time 59035757786, :error :connect, :index 21027}
{:type :invoke, :f :read, :value nil, :process 29, :time 59048526475, :index 21028}
{:type :invoke, :f :read, :value nil, :process 5, :time 59049869287, :index 21030}
{:type :fail, :f :read, :value nil, :process 29, :time 59050763597, :error :connect, :index 21032}
{:type :invoke, :f :read, :value nil, :process 22, :time 59051611821, :index 21033}
{:type :fail, :f :read, :value nil, :process 5, :time 59051840983, :error :connect, :index 21034}
{:type :fail, :f :read, :value nil, :process 22, :time 59053406392, :error :connect, :index 21035}
{:type :invoke, :f :write, :value 3, :process 7, :time 59064281240, :index 21038}
{:type :invoke, :f :cas, :value [4 3], :process 21, :time 59065012631, :index 21039}
{:type :fail, :f :write, :value 3, :process 7, :time 59065881894, :error :connect, :index 21040}
{:type :fail, :f :cas, :value [4 3], :process 21, :time 59067118255, :error :connect, :index 21041}
{:type :invoke, :f :read, :value nil, :process 0, :time 59083078875, :index 21048}
{:type :fail, :f :read, :value nil, :process 0, :time 59084934712, :error :connect, :index 21049}
{:type :invoke, :f :write, :value 4, :process 0, :time 59099206424, :index 21056}
{:type :fail, :f :write, :value 4, :process 0, :time 59101075895, :error :connect, :index 21057}
{:type :invoke, :f :cas, :value [2 3], :process 29, :time 59106011879, :index 21060}
{:type :fail, :f :cas, :value [2 3], :process 29, :time 59108364040, :error :connect, :index 21062}
{:type :invoke, :f :write, :value 3, :process 4, :time 59127446298, :index 21066}
{:type :fail, :f :write, :value 3, :process 4, :time 59129011872, :error :connect, :index 21067}
{:type :invoke, :f :write, :value 3, :process 6, :time 59133610385, :index 21069}
{:type :fail, :f :write, :value 3, :process 6, :time 59135621675, :error :connect, :index 21070}
{:type :invoke, :f :cas, :value [2 1], :process 3, :time 59149084858, :index 21074}
{:type :fail, :f :cas, :value [2 1], :process 3, :time 59151164378, :error :connect, :index 21075}
{:type :invoke, :f :read, :value nil, :process 22, :time 59165733352, :index 21080}
{:type :fail, :f :read, :value nil, :process 22, :time 59167601931, :error :connect, :index 21081}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 59184378598, :index 21084}
{:type :invoke, :f :write, :value 2, :process 6, :time 59185938887, :index 21085}
{:type :invoke, :f :read, :value nil, :process 5, :time 59186105749, :index 21086}
{:type :fail, :f :cas, :value [4 2], :process 21, :time 59186880099, :error :connect, :index 21087}
{:type :fail, :f :write, :value 2, :process 6, :time 59187698313, :error :connect, :index 21088}
{:type :fail, :f :read, :value nil, :process 5, :time 59188070419, :error :connect, :index 21089}
{:type :invoke, :f :write, :value 1, :process 7, :time 59191147809, :index 21090}
{:type :fail, :f :write, :value 1, :process 7, :time 59193180420, :error :connect, :index 21091}
{:type :invoke, :f :read, :value nil, :process 8, :time 59208027235, :index 21096}
{:type :fail, :f :read, :value nil, :process 8, :time 59209739131, :error :connect, :index 21097}
{:type :invoke, :f :write, :value 0, :process 0, :time 59221399446, :index 21100}
{:type :fail, :f :write, :value 0, :process 0, :time 59223475080, :error :connect, :index 21102}
{:type :invoke, :f :cas, :value [2 3], :process 0, :time 59254769488, :index 21111}
{:type :invoke, :f :read, :value nil, :process 5, :time 59255340300, :index 21112}
{:type :fail, :f :cas, :value [2 3], :process 0, :time 59256568305, :error :connect, :index 21114}
{:type :fail, :f :read, :value nil, :process 5, :time 59257462572, :error :connect, :index 21115}
{:type :invoke, :f :write, :value 2, :process 29, :time 59270624534, :index 21116}
{:type :fail, :f :write, :value 2, :process 29, :time 59272690333, :error :connect, :index 21117}
{:type :invoke, :f :write, :value 4, :process 21, :time 59291157524, :index 21124}
{:type :fail, :f :write, :value 4, :process 21, :time 59292783145, :error :connect, :index 21126}
{:type :invoke, :f :write, :value 3, :process 22, :time 59295859987, :index 21128}
{:type :fail, :f :write, :value 3, :process 22, :time 59297471022, :error :connect, :index 21129}
{:type :invoke, :f :read, :value nil, :process 7, :time 59301441926, :index 21130}
{:type :fail, :f :read, :value nil, :process 7, :time 59303252204, :error :connect, :index 21133}
{:type :invoke, :f :write, :value 0, :process 4, :time 59303291828, :index 21134}
{:type :fail, :f :write, :value 0, :process 4, :time 59305407280, :error :connect, :index 21138}
{:type :invoke, :f :read, :value nil, :process 3, :time 59321434766, :index 21144}
{:type :fail, :f :read, :value nil, :process 3, :time 59323414799, :error :connect, :index 21145}
{:type :invoke, :f :read, :value nil, :process 0, :time 59360825873, :index 21156}
{:type :fail, :f :read, :value nil, :process 0, :time 59362944123, :error :connect, :index 21157}
{:type :invoke, :f :read, :value nil, :process 6, :time 59373963499, :index 21160}
{:type :fail, :f :read, :value nil, :process 6, :time 59375902516, :error :connect, :index 21162}
{:type :invoke, :f :read, :value nil, :process 8, :time 59389944148, :index 21168}
{:type :fail, :f :read, :value nil, :process 8, :time 59391662066, :error :connect, :index 21171}
