{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :invoke, :f :write, :value 4, :process 5, :time 11256225083, :index 2323}
{:type :ok, :f :write, :value 4, :process 5, :time 11261137259, :index 2325}
{:type :invoke, :f :write, :value 0, :process 4, :time 11300678355, :index 2335}
{:type :ok, :f :write, :value 0, :process 4, :time 11305586315, :index 2337}
{:type :invoke, :f :read, :value nil, :process 5, :time 11319390173, :index 2339}
{:type :invoke, :f :read, :value nil, :process 9, :time 11320929737, :index 2340}
{:type :invoke, :f :read, :value nil, :process 4, :time 11439830450, :index 2346}
{:type :invoke, :f :cas, :value [1 1], :process 7, :time 11480005501, :index 2349}
{:type :ok, :f :read, :value 0, :process 5, :time 12239982144, :index 2354}
{:type :ok, :f :read, :value 0, :process 9, :time 12241675215, :index 2362}
{:type :ok, :f :read, :value 0, :process 4, :time 12242449647, :index 2364}
{:type :invoke, :f :write, :value 0, :process 8, :time 12336930203, :index 2374}
{:type :invoke, :f :write, :value 2, :process 26, :time 12337518728, :index 2375}
{:type :invoke, :f :read, :value nil, :process 4, :time 12356690742, :index 2377}
{:type :invoke, :f :write, :value 1, :process 0, :time 12359597279, :index 2378}
{:type :invoke, :f :write, :value 2, :process 23, :time 12375878806, :index 2381}
{:type :invoke, :f :write, :value 0, :process 5, :time 12395302988, :index 2383}
{:type :invoke, :f :write, :value 1, :process 1, :time 12398527725, :index 2384}
{:type :invoke, :f :write, :value 2, :process 9, :time 12423055058, :index 2388}
{:type :fail, :f :cas, :value [1 1], :process 7, :time 12719797265, :index 2392}
{:type :invoke, :f :write, :value 2, :process 7, :time 12736025699, :index 2395}
{:type :invoke, :f :cas, :value [3 4], :process 2, :time 12749383182, :index 2396}
{:type :ok, :f :write, :value 0, :process 8, :time 12834840485, :index 2397}
{:type :ok, :f :write, :value 1, :process 0, :time 12836329898, :index 2399}
{:type :ok, :f :write, :value 0, :process 5, :time 12836721905, :index 2400}
{:type :ok, :f :write, :value 2, :process 23, :time 12836794911, :index 2401}
{:type :ok, :f :write, :value 2, :process 26, :time 12837006660, :index 2402}
{:type :ok, :f :write, :value 1, :process 1, :time 12837341408, :index 2404}
{:type :fail, :f :cas, :value [3 4], :process 2, :time 12838458800, :index 2407}
{:type :ok, :f :read, :value 2, :process 4, :time 12838751303, :index 2408}
{:type :ok, :f :write, :value 2, :process 7, :time 12839044146, :index 2410}
{:type :ok, :f :write, :value 2, :process 9, :time 12841896014, :index 2415}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 12847127239, :index 2417}
{:type :invoke, :f :cas, :value [3 1], :process 4, :time 12851995743, :index 2420}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 12852951430, :index 2422}
{:type :invoke, :f :cas, :value [3 1], :process 2, :time 12856722043, :index 2424}
{:type :fail, :f :cas, :value [3 1], :process 2, :time 12862121737, :index 2425}
{:type :invoke, :f :read, :value nil, :process 8, :time 12884221234, :index 2429}
{:type :ok, :f :read, :value 2, :process 8, :time 12889923299, :index 2430}
{:type :invoke, :f :cas, :value [0 3], :process 26, :time 12916273131, :index 2431}
{:type :invoke, :f :cas, :value [4 4], :process 23, :time 12918073455, :index 2432}
{:type :fail, :f :cas, :value [0 3], :process 26, :time 12923935686, :index 2435}
{:type :fail, :f :cas, :value [4 4], :process 23, :time 12924724955, :index 2436}
{:type :invoke, :f :write, :value 2, :process 8, :time 12928198641, :index 2438}
{:type :invoke, :f :write, :value 2, :process 0, :time 12929238903, :index 2439}
{:type :invoke, :f :cas, :value [3 3], :process 9, :time 12931175610, :index 2440}
{:type :ok, :f :write, :value 2, :process 8, :time 12934297697, :index 2442}
{:type :ok, :f :write, :value 2, :process 0, :time 12934641084, :index 2443}
{:type :invoke, :f :read, :value nil, :process 23, :time 12949980824, :index 2444}
{:type :ok, :f :read, :value 2, :process 23, :time 12955631971, :index 2445}
{:type :invoke, :f :write, :value 4, :process 5, :time 12981963504, :index 2452}
{:type :ok, :f :write, :value 4, :process 5, :time 12987099894, :index 2453}
{:type :invoke, :f :write, :value 4, :process 7, :time 12991315324, :index 2454}
{:type :invoke, :f :write, :value 0, :process 5, :time 12993360386, :index 2455}
{:type :ok, :f :write, :value 4, :process 7, :time 12996790502, :index 2456}
{:type :ok, :f :write, :value 0, :process 5, :time 12998310526, :index 2457}
{:type :invoke, :f :cas, :value [4 1], :process 2, :time 13006383055, :index 2459}
{:type :invoke, :f :write, :value 1, :process 26, :time 13010214560, :index 2464}
{:type :invoke, :f :cas, :value [4 1], :process 7, :time 13012112398, :index 2466}
{:type :invoke, :f :write, :value 3, :process 1, :time 13012585226, :index 2467}
{:type :fail, :f :cas, :value [4 1], :process 2, :time 13013932235, :index 2469}
{:type :ok, :f :write, :value 1, :process 26, :time 13019267644, :index 2472}
{:type :ok, :f :write, :value 3, :process 1, :time 13021056247, :index 2475}
{:type :fail, :f :cas, :value [4 1], :process 7, :time 13021408748, :index 2476}
{:type :invoke, :f :read, :value nil, :process 7, :time 13031640780, :index 2478}
{:type :ok, :f :read, :value 3, :process 7, :time 13037469344, :index 2479}
{:type :invoke, :f :write, :value 2, :process 23, :time 13037898716, :index 2480}
{:type :ok, :f :write, :value 2, :process 23, :time 13042671812, :index 2482}
{:type :invoke, :f :cas, :value [0 2], :process 26, :time 13077585558, :index 2488}
{:type :invoke, :f :cas, :value [4 4], :process 23, :time 13081929326, :index 2489}
{:type :fail, :f :cas, :value [0 2], :process 26, :time 13083051088, :index 2490}
{:type :fail, :f :cas, :value [4 4], :process 23, :time 13086882000, :index 2491}
{:type :invoke, :f :read, :value nil, :process 8, :time 13088543873, :index 2492}
{:type :ok, :f :read, :value 2, :process 8, :time 13093666839, :index 2493}
{:type :invoke, :f :cas, :value [3 1], :process 26, :time 13095308089, :index 2494}
{:type :fail, :f :cas, :value [3 1], :process 26, :time 13099974580, :index 2495}
{:type :invoke, :f :write, :value 0, :process 7, :time 13101727895, :index 2496}
{:type :invoke, :f :write, :value 1, :process 8, :time 13101930209, :index 2497}
{:type :invoke, :f :read, :value nil, :process 0, :time 13108942793, :index 2502}
{:type :ok, :f :write, :value 0, :process 7, :time 13109697110, :index 2503}
{:type :ok, :f :write, :value 1, :process 8, :time 13109697181, :index 2504}
{:type :ok, :f :read, :value 1, :process 0, :time 13112912767, :index 2505}
{:type :invoke, :f :cas, :value [4 2], :process 5, :time 13137568810, :index 2511}
{:type :fail, :f :cas, :value [4 2], :process 5, :time 13142558444, :index 2513}
{:type :invoke, :f :read, :value nil, :process 2, :time 13151235255, :index 2516}
{:type :ok, :f :read, :value 1, :process 2, :time 13158125144, :index 2522}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 13160793885, :index 2524}
{:type :invoke, :f :write, :value 2, :process 23, :time 13162148066, :index 2525}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 13165472991, :index 2526}
{:type :ok, :f :write, :value 2, :process 23, :time 13166676272, :index 2528}
{:type :invoke, :f :read, :value nil, :process 1, :time 13167320949, :index 2529}
{:type :ok, :f :read, :value 2, :process 1, :time 13173501350, :index 2531}
{:type :invoke, :f :read, :value nil, :process 1, :time 13195748779, :index 2536}
{:type :ok, :f :read, :value 2, :process 1, :time 13201577325, :index 2537}
{:type :invoke, :f :cas, :value [2 1], :process 7, :time 13205048610, :index 2538}
{:type :ok, :f :cas, :value [2 1], :process 7, :time 13209861949, :index 2539}
{:type :invoke, :f :write, :value 2, :process 23, :time 13217930227, :index 2540}
{:type :ok, :f :write, :value 2, :process 23, :time 13223738944, :index 2541}
{:type :invoke, :f :write, :value 2, :process 26, :time 13254234921, :index 2544}
{:type :invoke, :f :cas, :value [4 1], :process 0, :time 13260166738, :index 2545}
{:type :ok, :f :write, :value 2, :process 26, :time 13260404848, :index 2546}
{:type :invoke, :f :cas, :value [2 0], :process 26, :time 13264655460, :index 2548}
{:type :invoke, :f :cas, :value [1 1], :process 8, :time 13264979390, :index 2549}
{:type :fail, :f :cas, :value [4 1], :process 0, :time 13265911288, :index 2550}
{:type :invoke, :f :read, :value nil, :process 7, :time 13269165365, :index 2552}
{:type :fail, :f :cas, :value [1 1], :process 8, :time 13271126909, :index 2553}
{:type :ok, :f :cas, :value [2 0], :process 26, :time 13271428661, :index 2554}
{:type :ok, :f :read, :value 0, :process 7, :time 13274077437, :index 2555}
{:type :invoke, :f :read, :value nil, :process 2, :time 13285385028, :index 2558}
{:type :invoke, :f :read, :value nil, :process 23, :time 13288013367, :index 2559}
{:type :ok, :f :read, :value 0, :process 2, :time 13290024972, :index 2560}
{:type :ok, :f :read, :value 0, :process 23, :time 13293529301, :index 2561}
{:type :invoke, :f :read, :value nil, :process 0, :time 13328178044, :index 2565}
{:type :ok, :f :read, :value 0, :process 0, :time 13332316268, :index 2567}
{:type :invoke, :f :write, :value 2, :process 5, :time 13334749483, :index 2569}
{:type :ok, :f :write, :value 2, :process 5, :time 13339630612, :index 2573}
{:type :invoke, :f :read, :value nil, :process 1, :time 13341840247, :index 2576}
{:type :ok, :f :read, :value 2, :process 1, :time 13346459117, :index 2579}
{:type :invoke, :f :write, :value 3, :process 0, :time 13394566669, :index 2586}
{:type :ok, :f :write, :value 3, :process 0, :time 13399938617, :index 2588}
{:type :invoke, :f :write, :value 3, :process 26, :time 13403660821, :index 2590}
{:type :ok, :f :write, :value 3, :process 26, :time 13408600886, :index 2591}
{:type :invoke, :f :read, :value nil, :process 23, :time 13409785930, :index 2592}
{:type :ok, :f :read, :value 3, :process 23, :time 13414939463, :index 2594}
{:type :invoke, :f :cas, :value [1 1], :process 2, :time 13425288373, :index 2599}
{:type :invoke, :f :write, :value 0, :process 8, :time 13431432121, :index 2602}
{:type :fail, :f :cas, :value [1 1], :process 2, :time 13432211727, :index 2603}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 13434900635, :index 2606}
{:type :ok, :f :write, :value 0, :process 8, :time 13437389629, :index 2607}
{:type :invoke, :f :write, :value 0, :process 2, :time 13438510189, :index 2610}
{:type :fail, :f :cas, :value [3 0], :process 5, :time 13439401136, :index 2611}
{:type :ok, :f :write, :value 0, :process 2, :time 13444483520, :index 2613}
{:type :fail, :f :cas, :value [3 3], :process 9, :time 13451226654, :index 2615}
{:type :fail, :f :cas, :value [3 1], :process 4, :time 13451258855, :index 2616}
{:type :invoke, :f :cas, :value [2 2], :process 2, :time 13453715431, :index 2620}
{:type :fail, :f :cas, :value [2 2], :process 2, :time 13459198158, :index 2621}
{:type :invoke, :f :write, :value 3, :process 1, :time 13465724117, :index 2622}
{:type :invoke, :f :read, :value nil, :process 7, :time 13468371319, :index 2623}
{:type :ok, :f :write, :value 3, :process 1, :time 13470949084, :index 2624}
{:type :ok, :f :read, :value 3, :process 7, :time 13474019878, :index 2625}
{:type :invoke, :f :read, :value nil, :process 23, :time 13546203901, :index 2639}
{:type :invoke, :f :write, :value 0, :process 7, :time 13549335048, :index 2640}
{:type :ok, :f :read, :value 3, :process 23, :time 13551778629, :index 2642}
{:type :ok, :f :write, :value 0, :process 7, :time 13554777976, :index 2643}
{:type :invoke, :f :write, :value 4, :process 4, :time 13559762034, :index 2644}
{:type :ok, :f :write, :value 4, :process 4, :time 13565965139, :index 2646}
{:type :invoke, :f :write, :value 4, :process 9, :time 13572543764, :index 2651}
{:type :invoke, :f :write, :value 4, :process 1, :time 13574223199, :index 2652}
{:type :ok, :f :write, :value 4, :process 9, :time 13577774824, :index 2653}
{:type :ok, :f :write, :value 4, :process 1, :time 13579802613, :index 2655}
{:type :invoke, :f :cas, :value [2 0], :process 5, :time 13589661823, :index 2657}
{:type :invoke, :f :read, :value nil, :process 0, :time 13593275075, :index 2658}
{:type :fail, :f :cas, :value [2 0], :process 5, :time 13594370864, :index 2660}
{:type :ok, :f :read, :value 4, :process 0, :time 13598078154, :index 2661}
{:type :invoke, :f :read, :value nil, :process 26, :time 13604902834, :index 2665}
{:type :invoke, :f :read, :value nil, :process 8, :time 13605737332, :index 2666}
{:type :ok, :f :read, :value 4, :process 26, :time 13610236353, :index 2668}
{:type :ok, :f :read, :value 4, :process 8, :time 13610989143, :index 2669}
{:type :invoke, :f :cas, :value [4 1], :process 23, :time 13612048745, :index 2670}
{:type :ok, :f :cas, :value [4 1], :process 23, :time 13618567453, :index 2671}
{:type :invoke, :f :read, :value nil, :process 2, :time 13618452905, :index 2672}
{:type :invoke, :f :write, :value 1, :process 5, :time 13618702316, :index 2673}
{:type :invoke, :f :cas, :value [4 1], :process 4, :time 13623248340, :index 2675}
{:type :ok, :f :write, :value 1, :process 5, :time 13624362117, :index 2676}
{:type :ok, :f :read, :value 1, :process 2, :time 13624362148, :index 2677}
{:type :fail, :f :cas, :value [4 1], :process 4, :time 13629808728, :index 2679}
{:type :invoke, :f :write, :value 0, :process 26, :time 13635513083, :index 2682}
{:type :ok, :f :write, :value 0, :process 26, :time 13640906124, :index 2683}
{:type :invoke, :f :write, :value 1, :process 9, :time 13666038549, :index 2684}
{:type :ok, :f :write, :value 1, :process 9, :time 13671365501, :index 2687}
{:type :invoke, :f :read, :value nil, :process 0, :time 13684333190, :index 2688}
{:type :ok, :f :read, :value 1, :process 0, :time 13689285647, :index 2689}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 13689942153, :index 2690}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 13705247024, :index 2694}
{:type :invoke, :f :cas, :value [0 0], :process 4, :time 13711090087, :index 2698}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 13711519595, :index 2699}
{:type :fail, :f :cas, :value [0 0], :process 4, :time 13716534472, :index 2702}
{:type :invoke, :f :write, :value 0, :process 1, :time 13725056068, :index 2704}
{:type :invoke, :f :cas, :value [3 3], :process 26, :time 13727168510, :index 2705}
{:type :ok, :f :write, :value 0, :process 1, :time 13730579473, :index 2707}
{:type :fail, :f :cas, :value [3 3], :process 26, :time 13732140026, :index 2708}
{:type :invoke, :f :write, :value 1, :process 1, :time 13734827974, :index 2709}
{:type :invoke, :f :read, :value nil, :process 8, :time 13735766006, :index 2710}
{:type :ok, :f :write, :value 1, :process 1, :time 13739396843, :index 2711}
{:type :ok, :f :read, :value 1, :process 8, :time 13742048282, :index 2713}
{:type :ok, :f :cas, :value [1 2], :process 7, :time 13742739862, :index 2715}
{:type :invoke, :f :write, :value 2, :process 5, :time 13752655380, :index 2720}
{:type :invoke, :f :write, :value 2, :process 2, :time 13754646069, :index 2721}
{:type :ok, :f :write, :value 2, :process 5, :time 13757744918, :index 2722}
{:type :ok, :f :write, :value 2, :process 2, :time 13760879099, :index 2723}
{:type :invoke, :f :write, :value 2, :process 23, :time 13766831733, :index 2725}
{:type :ok, :f :write, :value 2, :process 23, :time 13772478622, :index 2728}
{:type :invoke, :f :read, :value nil, :process 9, :time 13791631547, :index 2735}
{:type :ok, :f :read, :value 2, :process 9, :time 13796545635, :index 2737}
{:type :invoke, :f :read, :value nil, :process 0, :time 13816541701, :index 2738}
{:type :ok, :f :read, :value 2, :process 0, :time 13821735552, :index 2739}
{:type :invoke, :f :write, :value 1, :process 26, :time 13867449071, :index 2749}
{:type :ok, :f :write, :value 1, :process 26, :time 13872683613, :index 2752}
{:type :invoke, :f :cas, :value [0 4], :process 4, :time 13873794255, :index 2753}
{:type :fail, :f :cas, :value [0 4], :process 4, :time 13879747389, :index 2756}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
