{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :invoke, :f :read, :value nil, :process 33, :time 48595337550, :index 16855}
{:type :fail, :f :read, :value nil, :process 33, :time 48597550966, :error :connect, :index 16857}
{:type :invoke, :f :read, :value nil, :process 34, :time 48668864253, :index 16880}
{:type :fail, :f :read, :value nil, :process 34, :time 48670650606, :error :connect, :index 16881}
{:type :invoke, :f :read, :value nil, :process 15, :time 48700950370, :index 16906}
{:type :invoke, :f :cas, :value [2 2], :process 33, :time 48702844570, :index 16907}
{:type :fail, :f :read, :value nil, :process 15, :time 48703062061, :error :connect, :index 16908}
{:type :fail, :f :cas, :value [2 2], :process 33, :time 48704856368, :error :connect, :index 16909}
{:type :invoke, :f :write, :value 1, :process 36, :time 48725941951, :index 16916}
{:type :fail, :f :write, :value 1, :process 36, :time 48727979874, :error :connect, :index 16918}
{:type :invoke, :f :read, :value nil, :process 10, :time 48733149088, :index 16920}
{:type :invoke, :f :read, :value nil, :process 18, :time 48733318905, :index 16921}
{:type :fail, :f :read, :value nil, :process 18, :time 48735115408, :error :connect, :index 16922}
{:type :fail, :f :read, :value nil, :process 10, :time 48735177247, :error :connect, :index 16923}
{:type :invoke, :f :write, :value 0, :process 11, :time 48745791561, :index 16924}
{:type :fail, :f :write, :value 0, :process 11, :time 48747662002, :error :connect, :index 16925}
{:type :invoke, :f :read, :value nil, :process 33, :time 48748121746, :index 16926}
{:type :fail, :f :read, :value nil, :process 33, :time 48749784412, :error :connect, :index 16927}
{:type :invoke, :f :read, :value nil, :process 39, :time 48752235750, :index 16928}
{:type :fail, :f :read, :value nil, :process 39, :time 48754209269, :error :connect, :index 16929}
{:type :invoke, :f :cas, :value [0 0], :process 34, :time 48759935882, :index 16930}
{:type :invoke, :f :cas, :value [2 2], :process 32, :time 48760796253, :index 16931}
{:type :fail, :f :cas, :value [0 0], :process 34, :time 48761730593, :error :connect, :index 16933}
{:type :fail, :f :cas, :value [2 2], :process 32, :time 48762819587, :error :connect, :index 16934}
{:type :invoke, :f :read, :value nil, :process 34, :time 48772015384, :index 16936}
{:type :fail, :f :read, :value nil, :process 34, :time 48773991429, :error :connect, :index 16937}
{:type :invoke, :f :write, :value 2, :process 15, :time 48783305048, :index 16938}
{:type :invoke, :f :write, :value 0, :process 37, :time 48784022145, :index 16939}
{:type :fail, :f :write, :value 2, :process 15, :time 48784916390, :error :connect, :index 16940}
{:type :fail, :f :write, :value 0, :process 37, :time 48785914072, :error :connect, :index 16941}
{:type :invoke, :f :read, :value nil, :process 18, :time 48796393763, :index 16948}
{:type :fail, :f :read, :value nil, :process 18, :time 48798283072, :error :connect, :index 16949}
{:type :invoke, :f :write, :value 0, :process 18, :time 48810548671, :index 16956}
{:type :fail, :f :write, :value 0, :process 18, :time 48812652756, :error :connect, :index 16958}
{:type :invoke, :f :write, :value 1, :process 34, :time 48826261400, :index 16960}
{:type :fail, :f :write, :value 1, :process 34, :time 48828292156, :error :connect, :index 16961}
{:type :invoke, :f :write, :value 1, :process 15, :time 48837179412, :index 16962}
{:type :fail, :f :write, :value 1, :process 15, :time 48839094056, :error :connect, :index 16963}
{:type :invoke, :f :read, :value nil, :process 39, :time 48858472524, :index 16968}
{:type :fail, :f :read, :value nil, :process 39, :time 48860123221, :error :connect, :index 16970}
{:type :invoke, :f :write, :value 3, :process 11, :time 48886953883, :index 16978}
{:type :fail, :f :write, :value 3, :process 11, :time 48888825159, :error :connect, :index 16979}
{:type :invoke, :f :cas, :value [4 0], :process 32, :time 48891092625, :index 16980}
{:type :fail, :f :cas, :value [4 0], :process 32, :time 48892980945, :error :connect, :index 16982}
{:type :invoke, :f :write, :value 1, :process 34, :time 48893565731, :index 16984}
{:type :fail, :f :write, :value 1, :process 34, :time 48895298136, :error :connect, :index 16985}
{:type :invoke, :f :read, :value nil, :process 18, :time 48904944372, :index 16988}
{:type :fail, :f :read, :value nil, :process 18, :time 48906834057, :error :connect, :index 16990}
{:type :invoke, :f :cas, :value [1 3], :process 10, :time 48907413318, :index 16991}
{:type :fail, :f :cas, :value [1 3], :process 10, :time 48909291217, :error :connect, :index 16993}
{:type :invoke, :f :cas, :value [3 0], :process 15, :time 48916361745, :index 16996}
{:type :fail, :f :cas, :value [3 0], :process 15, :time 48918483880, :error :connect, :index 16997}
{:type :invoke, :f :read, :value nil, :process 36, :time 48922243228, :index 16998}
{:type :fail, :f :read, :value nil, :process 36, :time 48924140139, :error :connect, :index 16999}
{:type :invoke, :f :read, :value nil, :process 11, :time 48924099971, :index 17000}
{:type :fail, :f :read, :value nil, :process 11, :time 48926155784, :error :connect, :index 17001}
{:type :invoke, :f :write, :value 4, :process 37, :time 48929151281, :index 17002}
{:type :fail, :f :write, :value 4, :process 37, :time 48931005198, :error :connect, :index 17003}
{:type :invoke, :f :write, :value 1, :process 33, :time 48939075211, :index 17004}
{:type :fail, :f :write, :value 1, :process 33, :time 48940895637, :error :connect, :index 17006}
{:type :invoke, :f :write, :value 3, :process 10, :time 48964554958, :index 17013}
{:type :fail, :f :write, :value 3, :process 10, :time 48966540004, :error :connect, :index 17015}
{:type :invoke, :f :write, :value 4, :process 18, :time 48984117199, :index 17019}
{:type :fail, :f :write, :value 4, :process 18, :time 48986222514, :error :connect, :index 17021}
{:type :invoke, :f :cas, :value [4 0], :process 39, :time 48991374878, :index 17022}
{:type :fail, :f :cas, :value [4 0], :process 39, :time 48993368559, :error :connect, :index 17023}
{:type :invoke, :f :read, :value nil, :process 11, :time 49004465545, :index 17024}
{:type :fail, :f :read, :value nil, :process 11, :time 49006572346, :error :connect, :index 17026}
{:type :invoke, :f :write, :value 4, :process 33, :time 49007184347, :index 17028}
{:type :invoke, :f :write, :value 4, :process 32, :time 49007186387, :index 17029}
{:type :fail, :f :write, :value 4, :process 32, :time 49009287051, :error :connect, :index 17030}
{:type :fail, :f :write, :value 4, :process 33, :time 49009287019, :error :connect, :index 17031}
{:type :invoke, :f :cas, :value [1 0], :process 32, :time 49034670810, :index 17039}
{:type :fail, :f :cas, :value [1 0], :process 32, :time 49036324155, :error :connect, :index 17041}
{:type :invoke, :f :write, :value 1, :process 10, :time 49043817319, :index 17045}
{:type :fail, :f :write, :value 1, :process 10, :time 49045950372, :error :connect, :index 17049}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 49059768529, :index 17054}
{:type :fail, :f :cas, :value [0 0], :process 15, :time 49061595629, :error :connect, :index 17055}
{:type :invoke, :f :write, :value 4, :process 37, :time 49065273223, :index 17057}
{:type :fail, :f :write, :value 4, :process 37, :time 49066960856, :error :connect, :index 17059}
{:type :invoke, :f :write, :value 3, :process 36, :time 49074435317, :index 17065}
{:type :fail, :f :write, :value 3, :process 36, :time 49076234323, :error :connect, :index 17066}
{:type :invoke, :f :read, :value nil, :process 34, :time 49086573246, :index 17071}
{:type :invoke, :f :write, :value 4, :process 37, :time 49087230758, :index 17073}
{:type :fail, :f :read, :value nil, :process 34, :time 49088443227, :error :connect, :index 17074}
{:type :fail, :f :write, :value 4, :process 37, :time 49089069302, :error :connect, :index 17075}
{:type :invoke, :f :read, :value nil, :process 32, :time 49097569566, :index 17076}
{:type :fail, :f :read, :value nil, :process 32, :time 49099338643, :error :connect, :index 17077}
{:type :invoke, :f :read, :value nil, :process 18, :time 49108462723, :index 17080}
{:type :fail, :f :read, :value nil, :process 18, :time 49110359625, :error :connect, :index 17081}
{:type :invoke, :f :cas, :value [2 2], :process 36, :time 49131417959, :index 17082}
{:type :fail, :f :cas, :value [2 2], :process 36, :time 49133407796, :error :connect, :index 17083}
{:type :invoke, :f :write, :value 1, :process 32, :time 49136599280, :index 17084}
{:type :fail, :f :write, :value 1, :process 32, :time 49138419447, :error :connect, :index 17086}
{:type :invoke, :f :cas, :value [4 1], :process 32, :time 49146737633, :index 17089}
{:type :fail, :f :cas, :value [4 1], :process 32, :time 49148685907, :error :connect, :index 17091}
{:type :invoke, :f :cas, :value [0 0], :process 15, :time 49155859550, :index 17094}
{:type :fail, :f :cas, :value [0 0], :process 15, :time 49157685638, :error :connect, :index 17096}
{:type :invoke, :f :read, :value nil, :process 33, :time 49159575401, :index 17098}
{:type :invoke, :f :write, :value 4, :process 36, :time 49160672403, :index 17099}
{:type :fail, :f :read, :value nil, :process 33, :time 49161383344, :error :connect, :index 17100}
{:type :fail, :f :write, :value 4, :process 36, :time 49162807591, :error :connect, :index 17101}
{:type :invoke, :f :write, :value 0, :process 11, :time 49171931408, :index 17106}
{:type :fail, :f :write, :value 0, :process 11, :time 49173561919, :error :connect, :index 17107}
{:type :invoke, :f :cas, :value [3 0], :process 39, :time 49173650392, :index 17108}
{:type :invoke, :f :write, :value 0, :process 10, :time 49175240698, :index 17109}
{:type :fail, :f :cas, :value [3 0], :process 39, :time 49175490390, :error :connect, :index 17110}
{:type :fail, :f :write, :value 0, :process 10, :time 49177364103, :error :connect, :index 17112}
{:type :invoke, :f :write, :value 2, :process 33, :time 49192620674, :index 17115}
{:type :fail, :f :write, :value 2, :process 33, :time 49194734504, :error :connect, :index 17117}
{:type :invoke, :f :read, :value nil, :process 36, :time 49200059121, :index 17118}
{:type :fail, :f :read, :value nil, :process 36, :time 49202182775, :error :connect, :index 17119}
{:type :invoke, :f :write, :value 1, :process 10, :time 49205622817, :index 17120}
{:type :fail, :f :write, :value 1, :process 10, :time 49207712688, :error :connect, :index 17121}
{:type :invoke, :f :read, :value nil, :process 18, :time 49228631637, :index 17125}
{:type :fail, :f :read, :value nil, :process 18, :time 49230395225, :error :connect, :index 17127}
{:type :invoke, :f :write, :value 0, :process 10, :time 49230983785, :index 17128}
{:type :invoke, :f :read, :value nil, :process 33, :time 49231991176, :index 17129}
{:type :fail, :f :write, :value 0, :process 10, :time 49233055498, :error :connect, :index 17130}
{:type :fail, :f :read, :value nil, :process 33, :time 49234094565, :error :connect, :index 17131}
{:type :invoke, :f :write, :value 0, :process 39, :time 49241770019, :index 17132}
{:type :invoke, :f :read, :value nil, :process 11, :time 49241784382, :index 17133}
{:type :fail, :f :read, :value nil, :process 11, :time 49243807862, :error :connect, :index 17134}
{:type :fail, :f :write, :value 0, :process 39, :time 49244118838, :error :connect, :index 17136}
{:type :invoke, :f :read, :value nil, :process 34, :time 49268700662, :index 17144}
{:type :invoke, :f :write, :value 2, :process 37, :time 49269326583, :index 17145}
{:type :invoke, :f :cas, :value [1 0], :process 10, :time 49270315923, :index 17146}
{:type :fail, :f :read, :value nil, :process 34, :time 49270633724, :error :connect, :index 17147}
{:type :fail, :f :write, :value 2, :process 37, :time 49271246025, :error :connect, :index 17148}
{:type :fail, :f :cas, :value [1 0], :process 10, :time 49272881085, :error :connect, :index 17149}
{:type :invoke, :f :write, :value 2, :process 15, :time 49276963117, :index 17151}
{:type :invoke, :f :write, :value 2, :process 32, :time 49276985546, :index 17152}
{:type :fail, :f :write, :value 2, :process 32, :time 49279224847, :error :connect, :index 17154}
{:type :fail, :f :write, :value 2, :process 15, :time 49279224847, :error :connect, :index 17155}
{:type :invoke, :f :read, :value nil, :process 11, :time 49294069067, :index 17162}
{:type :fail, :f :read, :value nil, :process 11, :time 49295918612, :error :connect, :index 17163}
{:type :invoke, :f :write, :value 2, :process 11, :time 49301175154, :index 17164}
{:type :fail, :f :write, :value 2, :process 11, :time 49302834928, :error :connect, :index 17165}
{:type :invoke, :f :cas, :value [0 1], :process 15, :time 49308504133, :index 17170}
{:type :fail, :f :cas, :value [0 1], :process 15, :time 49310374864, :error :connect, :index 17171}
{:type :invoke, :f :cas, :value [3 2], :process 11, :time 49324111995, :index 17172}
{:type :fail, :f :cas, :value [3 2], :process 11, :time 49326226857, :error :connect, :index 17173}
{:type :invoke, :f :cas, :value [0 2], :process 32, :time 49341548265, :index 17180}
{:type :fail, :f :cas, :value [0 2], :process 32, :time 49343398542, :error :connect, :index 17181}
{:type :invoke, :f :write, :value 2, :process 36, :time 49351469739, :index 17182}
{:type :fail, :f :write, :value 2, :process 36, :time 49353367737, :error :connect, :index 17183}
{:type :invoke, :f :write, :value 2, :process 15, :time 49359653135, :index 17185}
{:type :fail, :f :write, :value 2, :process 15, :time 49361740394, :error :connect, :index 17187}
{:type :invoke, :f :write, :value 4, :process 33, :time 49363373175, :index 17189}
{:type :invoke, :f :write, :value 2, :process 36, :time 49363639183, :index 17190}
{:type :fail, :f :write, :value 4, :process 33, :time 49365389860, :error :connect, :index 17193}
{:type :fail, :f :write, :value 2, :process 36, :time 49365641126, :error :connect, :index 17194}
{:type :invoke, :f :write, :value 1, :process 36, :time 49373864738, :index 17196}
{:type :fail, :f :write, :value 1, :process 36, :time 49375707028, :error :connect, :index 17197}
{:type :invoke, :f :cas, :value [2 0], :process 33, :time 49386647222, :index 17204}
{:type :invoke, :f :cas, :value [0 0], :process 18, :time 49386635947, :index 17205}
{:type :fail, :f :cas, :value [0 0], :process 18, :time 49388694002, :error :connect, :index 17207}
{:type :fail, :f :cas, :value [2 0], :process 33, :time 49388741172, :error :connect, :index 17208}
{:type :invoke, :f :cas, :value [3 4], :process 39, :time 49397362797, :index 17210}
{:type :fail, :f :cas, :value [3 4], :process 39, :time 49398995632, :error :connect, :index 17211}
{:type :invoke, :f :read, :value nil, :process 11, :time 49405492274, :index 17214}
{:type :fail, :f :read, :value nil, :process 11, :time 49407166755, :error :connect, :index 17215}
{:type :invoke, :f :cas, :value [0 1], :process 37, :time 49411484380, :index 17216}
{:type :fail, :f :cas, :value [0 1], :process 37, :time 49413330655, :error :connect, :index 17217}
{:type :invoke, :f :cas, :value [4 1], :process 34, :time 49427917280, :index 17220}
{:type :fail, :f :cas, :value [4 1], :process 34, :time 49429933823, :error :connect, :index 17221}
{:type :invoke, :f :cas, :value [1 4], :process 10, :time 49437150025, :index 17226}
{:type :fail, :f :cas, :value [1 4], :process 10, :time 49438972420, :error :connect, :index 17228}
{:type :invoke, :f :write, :value 3, :process 18, :time 49462002797, :index 17232}
{:type :fail, :f :write, :value 3, :process 18, :time 49464141194, :error :connect, :index 17233}
{:type :invoke, :f :write, :value 2, :process 36, :time 49490981150, :index 17238}
{:type :fail, :f :write, :value 2, :process 36, :time 49492719241, :error :connect, :index 17240}
{:type :invoke, :f :write, :value 1, :process 36, :time 49513984704, :index 17244}
{:type :invoke, :f :write, :value 0, :process 37, :time 49514605119, :index 17245}
{:type :fail, :f :write, :value 1, :process 36, :time 49516242269, :error :connect, :index 17246}
{:type :fail, :f :write, :value 0, :process 37, :time 49516358992, :error :connect, :index 17247}
{:type :invoke, :f :read, :value nil, :process 32, :time 49523677083, :index 17250}
{:type :fail, :f :read, :value nil, :process 32, :time 49525685616, :error :connect, :index 17251}
{:type :invoke, :f :read, :value nil, :process 39, :time 49533282280, :index 17255}
{:type :fail, :f :read, :value nil, :process 39, :time 49535060027, :error :connect, :index 17257}
{:type :invoke, :f :write, :value 1, :process 11, :time 49535439087, :index 17258}
{:type :fail, :f :write, :value 1, :process 11, :time 49537247110, :error :connect, :index 17259}
{:type :invoke, :f :read, :value nil, :process 15, :time 49540000768, :index 17260}
{:type :fail, :f :read, :value nil, :process 15, :time 49541853763, :error :connect, :index 17261}
{:type :invoke, :f :cas, :value [3 2], :process 10, :time 49561254170, :index 17266}
{:type :fail, :f :cas, :value [3 2], :process 10, :time 49563128877, :error :connect, :index 17267}
{:type :invoke, :f :write, :value 0, :process 33, :time 49563311328, :index 17268}
{:type :fail, :f :write, :value 0, :process 33, :time 49565292697, :error :connect, :index 17269}
{:type :invoke, :f :cas, :value [1 4], :process 39, :time 49590302879, :index 17274}
{:type :fail, :f :cas, :value [1 4], :process 39, :time 49592428844, :error :connect, :index 17275}
{:type :invoke, :f :cas, :value [3 2], :process 18, :time 49595416788, :index 17276}
{:type :fail, :f :cas, :value [3 2], :process 18, :time 49597464929, :error :connect, :index 17277}
{:type :invoke, :f :read, :value nil, :process 34, :time 49612197096, :index 17282}
{:type :fail, :f :read, :value nil, :process 34, :time 49613824619, :error :connect, :index 17283}
{:type :invoke, :f :write, :value 2, :process 37, :time 49625595574, :index 17284}
{:type :fail, :f :write, :value 2, :process 37, :time 49627572249, :error :connect, :index 17286}
{:type :invoke, :f :write, :value 3, :process 32, :time 49650951257, :index 17296}
{:type :fail, :f :write, :value 3, :process 32, :time 49652680412, :error :connect, :index 17299}
{:type :invoke, :f :read, :value nil, :process 36, :time 49704544405, :index 17314}
{:type :fail, :f :read, :value nil, :process 36, :time 49706185129, :error :connect, :index 17316}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
