{:type :info, :f :start, :value nil, :process :nemesis, :time 5208219091, :index 1640}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310860812, :index 1653}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311362892, :index 2148}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10516249933, :index 2189}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15516527677, :index 3368}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15619217272, :index 3390}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20619679427, :index 4452}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824131819, :index 4505}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25824416038, :index 5473}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927489592, :index 5504}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928076310, :index 6598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132829264, :index 6658}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36133095984, :index 7888}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235855659, :index 7903}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236227542, :index 8747}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41445930967, :index 8803}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46446221386, :index 10155}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 46549078656, :index 10184}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51549527610, :index 11048}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51754054449, :index 11109}
{:type :invoke, :f :cas, :value [0 0], :process 51, :time 54883859498, :index 11560}
{:type :fail, :f :cas, :value [0 0], :process 51, :time 54889949422, :error :not-found, :index 11568}
{:type :invoke, :f :cas, :value [3 0], :process 39, :time 54978528548, :index 11591}
{:type :invoke, :f :write, :value 4, :process 54, :time 54981463083, :index 11593}
{:type :fail, :f :cas, :value [3 0], :process 39, :time 54984262639, :error :not-found, :index 11594}
{:type :ok, :f :write, :value 4, :process 54, :time 54986815618, :index 11595}
{:type :invoke, :f :read, :value nil, :process 53, :time 54990565938, :index 11596}
{:type :ok, :f :read, :value 4, :process 53, :time 54995678192, :index 11598}
{:type :invoke, :f :cas, :value [0 4], :process 54, :time 55035067453, :index 11604}
{:type :fail, :f :cas, :value [0 4], :process 54, :time 55040369697, :index 11605}
{:type :invoke, :f :write, :value 0, :process 78, :time 55053018919, :index 11608}
{:type :ok, :f :write, :value 0, :process 78, :time 55058438954, :index 11609}
{:type :invoke, :f :write, :value 2, :process 36, :time 55065038355, :index 11610}
{:type :invoke, :f :read, :value nil, :process 78, :time 55065708350, :index 11611}
{:type :ok, :f :write, :value 2, :process 36, :time 55070647540, :index 11612}
{:type :ok, :f :read, :value 2, :process 78, :time 55071315850, :index 11613}
{:type :invoke, :f :write, :value 0, :process 51, :time 55073205625, :index 11614}
{:type :invoke, :f :read, :value nil, :process 10, :time 55074423928, :index 11615}
{:type :invoke, :f :cas, :value [1 4], :process 15, :time 55077503730, :index 11617}
{:type :ok, :f :read, :value 0, :process 10, :time 55079376271, :index 11618}
{:type :fail, :f :cas, :value [1 4], :process 15, :time 55084648976, :index 11620}
{:type :invoke, :f :cas, :value [2 1], :process 53, :time 55103940381, :index 11626}
{:type :invoke, :f :read, :value nil, :process 54, :time 55105633557, :index 11627}
{:type :fail, :f :cas, :value [2 1], :process 53, :time 55109034083, :index 11628}
{:type :invoke, :f :write, :value 0, :process 10, :time 55109643762, :index 11629}
{:type :ok, :f :read, :value 0, :process 54, :time 55111957518, :index 11630}
{:type :ok, :f :write, :value 0, :process 10, :time 55116090145, :index 11631}
{:type :invoke, :f :read, :value nil, :process 36, :time 55129921619, :index 11637}
{:type :invoke, :f :cas, :value [0 2], :process 39, :time 55132573359, :index 11638}
{:type :ok, :f :cas, :value [0 2], :process 39, :time 55137564401, :index 11639}
{:type :invoke, :f :cas, :value [3 2], :process 53, :time 55144218011, :index 11641}
{:type :fail, :f :cas, :value [3 2], :process 53, :time 55150683307, :index 11645}
{:type :invoke, :f :write, :value 1, :process 78, :time 55157564755, :index 11646}
{:type :ok, :f :write, :value 1, :process 78, :time 55162747033, :index 11647}
{:type :invoke, :f :read, :value nil, :process 15, :time 55174916292, :index 11650}
{:type :ok, :f :read, :value 1, :process 15, :time 55179649736, :index 11651}
{:type :invoke, :f :read, :value nil, :process 10, :time 55198360030, :index 11655}
{:type :ok, :f :read, :value 1, :process 10, :time 55203720392, :index 11658}
{:type :invoke, :f :cas, :value [0 4], :process 15, :time 55224843588, :index 11663}
{:type :fail, :f :cas, :value [0 4], :process 15, :time 55229584863, :index 11665}
{:type :invoke, :f :read, :value nil, :process 39, :time 55229836782, :index 11666}
{:type :ok, :f :read, :value 1, :process 39, :time 55235044401, :index 11667}
{:type :invoke, :f :read, :value nil, :process 54, :time 55241216041, :index 11668}
{:type :invoke, :f :read, :value nil, :process 12, :time 55241803662, :index 11669}
{:type :ok, :f :read, :value 1, :process 54, :time 55247008237, :index 11671}
{:type :ok, :f :read, :value 1, :process 12, :time 55247279697, :index 11672}
{:type :invoke, :f :read, :value nil, :process 39, :time 55249310392, :index 11673}
{:type :invoke, :f :write, :value 2, :process 10, :time 55252903349, :index 11676}
{:type :ok, :f :read, :value 1, :process 39, :time 55254041173, :index 11677}
{:type :ok, :f :write, :value 2, :process 10, :time 55257841198, :index 11680}
{:type :invoke, :f :write, :value 2, :process 37, :time 55284940443, :index 11684}
{:type :ok, :f :write, :value 2, :process 37, :time 55290231553, :index 11685}
{:type :invoke, :f :read, :value nil, :process 53, :time 55291940634, :index 11686}
{:type :invoke, :f :read, :value nil, :process 10, :time 55292160293, :index 11687}
{:type :ok, :f :read, :value 2, :process 10, :time 55297435650, :index 11689}
{:type :ok, :f :read, :value 2, :process 53, :time 55298241615, :index 11690}
{:type :invoke, :f :write, :value 0, :process 78, :time 55310012256, :index 11693}
{:type :invoke, :f :write, :value 3, :process 53, :time 55312487041, :index 11694}
{:type :ok, :f :write, :value 0, :process 78, :time 55315070110, :index 11696}
{:type :ok, :f :write, :value 3, :process 53, :time 55318986739, :index 11697}
{:type :invoke, :f :cas, :value [2 4], :process 39, :time 55349298434, :index 11706}
{:type :fail, :f :cas, :value [2 4], :process 39, :time 55354862138, :index 11707}
{:type :invoke, :f :cas, :value [0 4], :process 15, :time 55362841013, :index 11708}
{:type :fail, :f :cas, :value [0 4], :process 15, :time 55367359503, :index 11710}
{:type :invoke, :f :write, :value 0, :process 39, :time 55372123904, :index 11712}
{:type :ok, :f :write, :value 0, :process 39, :time 55376902191, :index 11713}
{:type :invoke, :f :write, :value 3, :process 39, :time 55387162185, :index 11715}
{:type :ok, :f :write, :value 3, :process 39, :time 55391998040, :index 11717}
{:type :invoke, :f :cas, :value [0 2], :process 54, :time 55405285890, :index 11719}
{:type :invoke, :f :cas, :value [2 0], :process 37, :time 55405499990, :index 11720}
{:type :invoke, :f :write, :value 4, :process 78, :time 55409326502, :index 11721}
{:type :ok, :f :write, :value 0, :process 51, :time 55411898365, :index 11723}
{:type :fail, :f :cas, :value [0 2], :process 54, :time 55412138621, :index 11724}
{:type :fail, :f :cas, :value [2 0], :process 37, :time 55412569667, :index 11725}
{:type :ok, :f :write, :value 4, :process 78, :time 55414488846, :index 11726}
{:type :ok, :f :read, :value 4, :process 36, :time 55416788411, :index 11729}
{:type :invoke, :f :read, :value nil, :process 10, :time 55419713024, :index 11730}
{:type :ok, :f :read, :value 4, :process 10, :time 55424663367, :index 11732}
{:type :invoke, :f :read, :value nil, :process 10, :time 55426954006, :index 11733}
{:type :ok, :f :read, :value 4, :process 10, :time 55431282159, :index 11735}
{:type :invoke, :f :cas, :value [1 1], :process 12, :time 55432514266, :index 11736}
{:type :invoke, :f :write, :value 0, :process 10, :time 55436557589, :index 11737}
{:type :fail, :f :cas, :value [1 1], :process 12, :time 55437894417, :index 11738}
{:type :ok, :f :write, :value 0, :process 10, :time 55440611060, :index 11739}
{:type :invoke, :f :write, :value 4, :process 10, :time 55452867454, :index 11740}
{:type :ok, :f :write, :value 4, :process 10, :time 55457870858, :index 11742}
{:type :invoke, :f :cas, :value [3 3], :process 78, :time 55471744709, :index 11750}
{:type :fail, :f :cas, :value [3 3], :process 78, :time 55477294706, :index 11754}
{:type :invoke, :f :read, :value nil, :process 53, :time 55483238869, :index 11760}
{:type :ok, :f :read, :value 4, :process 53, :time 55488420831, :index 11765}
{:type :invoke, :f :cas, :value [1 3], :process 78, :time 55505520771, :index 11769}
{:type :fail, :f :cas, :value [1 3], :process 78, :time 55511232942, :index 11771}
{:type :invoke, :f :cas, :value [3 0], :process 10, :time 55514116617, :index 11772}
{:type :fail, :f :cas, :value [3 0], :process 10, :time 55519504173, :index 11773}
{:type :invoke, :f :read, :value nil, :process 51, :time 55522152991, :index 11775}
{:type :invoke, :f :read, :value nil, :process 39, :time 55524258376, :index 11776}
{:type :ok, :f :read, :value 4, :process 51, :time 55527200997, :index 11778}
{:type :ok, :f :read, :value 4, :process 39, :time 55529166052, :index 11779}
{:type :invoke, :f :read, :value nil, :process 37, :time 55540823875, :index 11780}
{:type :invoke, :f :read, :value nil, :process 12, :time 55544229359, :index 11781}
{:type :invoke, :f :write, :value 4, :process 15, :time 55545641033, :index 11783}
{:type :ok, :f :read, :value 4, :process 37, :time 55546414839, :index 11784}
{:type :ok, :f :read, :value 4, :process 12, :time 55549973631, :index 11786}
{:type :ok, :f :write, :value 4, :process 15, :time 55550550782, :index 11788}
{:type :invoke, :f :cas, :value [2 4], :process 78, :time 55552489462, :index 11789}
{:type :fail, :f :cas, :value [2 4], :process 78, :time 55557287509, :index 11792}
{:type :invoke, :f :cas, :value [0 3], :process 53, :time 55576657647, :index 11796}
{:type :fail, :f :cas, :value [0 3], :process 53, :time 55583528381, :index 11798}
{:type :invoke, :f :cas, :value [0 0], :process 37, :time 55591672045, :index 11800}
{:type :invoke, :f :read, :value nil, :process 36, :time 55592054204, :index 11801}
{:type :ok, :f :read, :value 4, :process 36, :time 55597575626, :index 11803}
{:type :fail, :f :cas, :value [0 0], :process 37, :time 55598168439, :index 11804}
{:type :invoke, :f :write, :value 3, :process 54, :time 55600371437, :index 11806}
{:type :invoke, :f :write, :value 4, :process 53, :time 55604789582, :index 11810}
{:type :ok, :f :write, :value 3, :process 54, :time 55606191519, :index 11813}
{:type :invoke, :f :write, :value 3, :process 12, :time 55609256132, :index 11815}
{:type :invoke, :f :write, :value 2, :process 54, :time 55609525229, :index 11816}
{:type :ok, :f :write, :value 4, :process 53, :time 55610506694, :index 11817}
{:type :ok, :f :write, :value 3, :process 12, :time 55614638602, :index 11820}
{:type :ok, :f :write, :value 2, :process 54, :time 55615081938, :index 11821}
{:type :invoke, :f :write, :value 3, :process 51, :time 55656450363, :index 11834}
{:type :invoke, :f :read, :value nil, :process 15, :time 55656792537, :index 11835}
{:type :invoke, :f :cas, :value [0 1], :process 39, :time 55657435537, :index 11836}
{:type :ok, :f :write, :value 3, :process 51, :time 55662093614, :index 11837}
{:type :ok, :f :read, :value 3, :process 15, :time 55662376397, :index 11838}
{:type :fail, :f :cas, :value [0 1], :process 39, :time 55664656989, :index 11840}
{:type :invoke, :f :read, :value nil, :process 15, :time 55669585061, :index 11842}
{:type :ok, :f :read, :value 3, :process 15, :time 55674048945, :index 11843}
{:type :invoke, :f :cas, :value [0 0], :process 51, :time 55674356082, :index 11844}
{:type :invoke, :f :write, :value 1, :process 53, :time 55678786360, :index 11845}
{:type :fail, :f :cas, :value [0 0], :process 51, :time 55679683057, :index 11846}
{:type :ok, :f :write, :value 1, :process 53, :time 55684138608, :index 11848}
{:type :invoke, :f :write, :value 1, :process 54, :time 55686335343, :index 11849}
{:type :invoke, :f :write, :value 3, :process 12, :time 55688886724, :index 11851}
{:type :ok, :f :write, :value 1, :process 54, :time 55691209927, :index 11852}
{:type :invoke, :f :cas, :value [0 4], :process 78, :time 55692551903, :index 11854}
{:type :ok, :f :write, :value 3, :process 12, :time 55694157538, :index 11855}
{:type :fail, :f :cas, :value [0 4], :process 78, :time 55698202976, :index 11858}
{:type :invoke, :f :cas, :value [2 3], :process 78, :time 55706464284, :index 11860}
{:type :invoke, :f :read, :value nil, :process 10, :time 55709746477, :index 11861}
{:type :fail, :f :cas, :value [2 3], :process 78, :time 55712087558, :index 11862}
{:type :ok, :f :read, :value 3, :process 10, :time 55714241510, :index 11863}
{:type :invoke, :f :cas, :value [1 2], :process 51, :time 55722940450, :index 11866}
{:type :fail, :f :cas, :value [1 2], :process 51, :time 55728148828, :index 11867}
{:type :invoke, :f :cas, :value [3 2], :process 36, :time 55757876633, :index 11870}
{:type :ok, :f :cas, :value [3 2], :process 36, :time 55762778380, :index 11871}
{:type :invoke, :f :read, :value nil, :process 37, :time 55790423845, :index 11881}
{:type :ok, :f :read, :value 2, :process 37, :time 55795222556, :index 11883}
{:type :invoke, :f :cas, :value [2 2], :process 78, :time 55812373316, :index 11885}
{:type :invoke, :f :read, :value nil, :process 51, :time 55817440383, :index 11887}
{:type :ok, :f :cas, :value [2 2], :process 78, :time 55818319306, :index 11889}
{:type :invoke, :f :read, :value nil, :process 10, :time 55822486750, :index 11890}
{:type :ok, :f :read, :value 2, :process 51, :time 55822829232, :index 11891}
{:type :invoke, :f :read, :value nil, :process 39, :time 55825914750, :index 11893}
{:type :ok, :f :read, :value 2, :process 10, :time 55827168532, :index 11894}
{:type :ok, :f :read, :value 2, :process 39, :time 55831807575, :index 11896}
{:type :invoke, :f :read, :value nil, :process 37, :time 55839472144, :index 11898}
{:type :ok, :f :read, :value 2, :process 37, :time 55844359741, :index 11901}
{:type :invoke, :f :read, :value nil, :process 12, :time 55844423578, :index 11902}
{:type :ok, :f :read, :value 2, :process 12, :time 55849474753, :index 11905}
{:type :invoke, :f :read, :value nil, :process 15, :time 55853307492, :index 11908}
{:type :invoke, :f :read, :value nil, :process 53, :time 55853468283, :index 11909}
{:type :ok, :f :read, :value 2, :process 15, :time 55858416404, :index 11912}
{:type :ok, :f :read, :value 2, :process 53, :time 55859024513, :index 11913}
{:type :invoke, :f :read, :value nil, :process 37, :time 55864627443, :index 11915}
{:type :invoke, :f :read, :value nil, :process 54, :time 55869491925, :index 11917}
{:type :ok, :f :read, :value 2, :process 37, :time 55869961171, :index 11918}
{:type :ok, :f :read, :value 2, :process 54, :time 55874423684, :index 11919}
{:type :invoke, :f :read, :value nil, :process 51, :time 55881117637, :index 11920}
{:type :ok, :f :read, :value 2, :process 51, :time 55888272241, :index 11924}
{:type :invoke, :f :write, :value 0, :process 12, :time 55890724881, :index 11925}
{:type :invoke, :f :read, :value nil, :process 54, :time 55893679611, :index 11928}
{:type :ok, :f :write, :value 0, :process 12, :time 55897053331, :index 11930}
{:type :ok, :f :read, :value 0, :process 54, :time 55898267327, :index 11931}
{:type :invoke, :f :cas, :value [3 2], :process 37, :time 55900148228, :index 11932}
{:type :invoke, :f :write, :value 2, :process 12, :time 55904227226, :index 11934}
{:type :fail, :f :cas, :value [3 2], :process 37, :time 55905616630, :index 11935}
{:type :ok, :f :write, :value 2, :process 12, :time 55909056988, :index 11938}
{:type :invoke, :f :write, :value 4, :process 36, :time 55912040232, :index 11940}
{:type :invoke, :f :write, :value 1, :process 37, :time 55913887024, :index 11942}
{:type :invoke, :f :read, :value nil, :process 39, :time 55914082143, :index 11943}
{:type :ok, :f :write, :value 4, :process 36, :time 55916763598, :index 11944}
{:type :ok, :f :write, :value 1, :process 37, :time 55919997008, :index 11946}
{:type :ok, :f :read, :value 1, :process 39, :time 55919997401, :index 11947}
{:type :invoke, :f :write, :value 1, :process 36, :time 55942037919, :index 11950}
{:type :ok, :f :write, :value 1, :process 36, :time 55946912662, :index 11951}
{:type :invoke, :f :write, :value 4, :process 10, :time 55953546907, :index 11953}
{:type :ok, :f :write, :value 4, :process 10, :time 55958457605, :index 11955}
{:type :invoke, :f :cas, :value [3 1], :process 15, :time 55973669262, :index 11961}
{:type :fail, :f :cas, :value [3 1], :process 15, :time 55978686971, :index 11964}
{:type :invoke, :f :read, :value nil, :process 53, :time 55985278913, :index 11966}
{:type :invoke, :f :cas, :value [2 0], :process 78, :time 55987599868, :index 11967}
{:type :ok, :f :read, :value 4, :process 53, :time 55990099899, :index 11968}
{:type :invoke, :f :read, :value nil, :process 54, :time 55992547427, :index 11969}
{:type :fail, :f :cas, :value [2 0], :process 78, :time 55993048070, :index 11970}
{:type :ok, :f :read, :value 4, :process 54, :time 55997012751, :index 11972}
{:type :invoke, :f :read, :value nil, :process 51, :time 56043528135, :index 11995}
{:type :ok, :f :read, :value 4, :process 51, :time 56048549711, :index 11998}
{:type :invoke, :f :write, :value 4, :process 12, :time 56060224973, :index 12004}
{:type :ok, :f :write, :value 4, :process 12, :time 56064780129, :index 12006}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56754300244, :index 12238}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56857099206, :index 12263}
