{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :invoke, :f :cas, :value [4 4], :process 29, :time 44238311307, :index 15145}
{:type :fail, :f :cas, :value [4 4], :process 29, :time 44240436471, :error :connect, :index 15149}
{:type :invoke, :f :write, :value 3, :process 4, :time 44320572171, :index 15184}
{:type :fail, :f :write, :value 3, :process 4, :time 44322378255, :error :connect, :index 15185}
{:type :invoke, :f :cas, :value [2 1], :process 6, :time 44333749228, :index 15188}
{:type :fail, :f :cas, :value [2 1], :process 6, :time 44335373444, :error :connect, :index 15189}
{:type :invoke, :f :cas, :value [0 4], :process 29, :time 44335759731, :index 15190}
{:type :fail, :f :cas, :value [0 4], :process 29, :time 44337577074, :error :connect, :index 15191}
{:type :invoke, :f :write, :value 2, :process 6, :time 44353644995, :index 15195}
{:type :fail, :f :write, :value 2, :process 6, :time 44355687070, :error :connect, :index 15197}
{:type :invoke, :f :write, :value 4, :process 8, :time 44359118191, :index 15198}
{:type :fail, :f :write, :value 4, :process 8, :time 44361194378, :error :connect, :index 15199}
{:type :invoke, :f :read, :value nil, :process 21, :time 44370880490, :index 15202}
{:type :invoke, :f :read, :value nil, :process 0, :time 44371144810, :index 15203}
{:type :fail, :f :read, :value nil, :process 21, :time 44372857093, :error :connect, :index 15204}
{:type :fail, :f :read, :value nil, :process 0, :time 44373226468, :error :connect, :index 15205}
{:type :invoke, :f :write, :value 4, :process 3, :time 44385494273, :index 15207}
{:type :fail, :f :write, :value 4, :process 3, :time 44387634116, :error :connect, :index 15209}
{:type :invoke, :f :write, :value 2, :process 7, :time 44393266635, :index 15210}
{:type :fail, :f :write, :value 2, :process 7, :time 44395129789, :error :connect, :index 15211}
{:type :invoke, :f :read, :value nil, :process 29, :time 44405850802, :index 15214}
{:type :invoke, :f :read, :value nil, :process 8, :time 44406462042, :index 15215}
{:type :fail, :f :read, :value nil, :process 29, :time 44407702737, :error :connect, :index 15216}
{:type :invoke, :f :write, :value 3, :process 22, :time 44408274808, :index 15217}
{:type :fail, :f :read, :value nil, :process 8, :time 44408664000, :error :connect, :index 15218}
{:type :fail, :f :write, :value 3, :process 22, :time 44410242009, :error :connect, :index 15219}
{:type :invoke, :f :read, :value nil, :process 3, :time 44412897342, :index 15220}
{:type :fail, :f :read, :value nil, :process 3, :time 44414990380, :error :connect, :index 15222}
{:type :invoke, :f :write, :value 0, :process 5, :time 44424068538, :index 15226}
{:type :fail, :f :write, :value 0, :process 5, :time 44426114512, :error :connect, :index 15227}
{:type :invoke, :f :read, :value nil, :process 21, :time 44427129317, :index 15228}
{:type :fail, :f :read, :value nil, :process 21, :time 44429049203, :error :connect, :index 15229}
{:type :invoke, :f :cas, :value [3 2], :process 6, :time 44434942111, :index 15230}
{:type :fail, :f :cas, :value [3 2], :process 6, :time 44436800999, :error :connect, :index 15231}
{:type :invoke, :f :read, :value nil, :process 8, :time 44439942137, :index 15234}
{:type :fail, :f :read, :value nil, :process 8, :time 44441654722, :error :connect, :index 15235}
{:type :invoke, :f :cas, :value [0 3], :process 29, :time 44461972801, :index 15238}
{:type :fail, :f :cas, :value [0 3], :process 29, :time 44464091392, :error :connect, :index 15239}
{:type :invoke, :f :write, :value 2, :process 4, :time 44476636239, :index 15243}
{:type :fail, :f :write, :value 2, :process 4, :time 44478904711, :error :connect, :index 15245}
{:type :invoke, :f :read, :value nil, :process 29, :time 44495375683, :index 15251}
{:type :fail, :f :read, :value nil, :process 29, :time 44497277150, :error :connect, :index 15253}
{:type :invoke, :f :read, :value nil, :process 0, :time 44502459986, :index 15256}
{:type :fail, :f :read, :value nil, :process 0, :time 44504576722, :error :connect, :index 15259}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 44511070149, :index 15260}
{:type :invoke, :f :cas, :value [3 4], :process 21, :time 44512310962, :index 15261}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 44512982796, :error :connect, :index 15262}
{:type :fail, :f :cas, :value [3 4], :process 21, :time 44514207559, :error :connect, :index 15263}
{:type :invoke, :f :cas, :value [3 1], :process 3, :time 44535217717, :index 15264}
{:type :fail, :f :cas, :value [3 1], :process 3, :time 44536966767, :error :connect, :index 15266}
{:type :invoke, :f :cas, :value [2 4], :process 8, :time 44539935114, :index 15268}
{:type :fail, :f :cas, :value [2 4], :process 8, :time 44541781369, :error :connect, :index 15269}
{:type :invoke, :f :read, :value nil, :process 5, :time 44545350565, :index 15270}
{:type :fail, :f :read, :value nil, :process 5, :time 44547497276, :error :connect, :index 15271}
{:type :invoke, :f :cas, :value [3 4], :process 3, :time 44551236424, :index 15273}
{:type :fail, :f :cas, :value [3 4], :process 3, :time 44553215710, :error :connect, :index 15276}
{:type :invoke, :f :cas, :value [2 4], :process 7, :time 44557665581, :index 15282}
{:type :fail, :f :cas, :value [2 4], :process 7, :time 44559501325, :error :connect, :index 15283}
{:type :invoke, :f :write, :value 1, :process 22, :time 44572509051, :index 15289}
{:type :fail, :f :write, :value 1, :process 22, :time 44574106480, :error :connect, :index 15291}
{:type :invoke, :f :write, :value 1, :process 7, :time 44585763079, :index 15294}
{:type :invoke, :f :read, :value nil, :process 21, :time 44586476953, :index 15295}
{:type :fail, :f :write, :value 1, :process 7, :time 44587559297, :error :connect, :index 15296}
{:type :fail, :f :read, :value nil, :process 21, :time 44588502340, :error :connect, :index 15297}
{:type :invoke, :f :cas, :value [1 0], :process 4, :time 44605170382, :index 15302}
{:type :invoke, :f :read, :value nil, :process 6, :time 44606250116, :index 15303}
{:type :fail, :f :cas, :value [1 0], :process 4, :time 44606876515, :error :connect, :index 15304}
{:type :fail, :f :read, :value nil, :process 6, :time 44608573934, :error :connect, :index 15305}
{:type :invoke, :f :write, :value 2, :process 7, :time 44611819781, :index 15306}
{:type :fail, :f :write, :value 2, :process 7, :time 44613590774, :error :connect, :index 15307}
{:type :invoke, :f :cas, :value [3 3], :process 21, :time 44623765515, :index 15310}
{:type :invoke, :f :write, :value 2, :process 3, :time 44624467277, :index 15311}
{:type :fail, :f :cas, :value [3 3], :process 21, :time 44625472903, :error :connect, :index 15312}
{:type :fail, :f :write, :value 2, :process 3, :time 44626407895, :error :connect, :index 15313}
{:type :invoke, :f :cas, :value [2 4], :process 0, :time 44635745539, :index 15318}
{:type :fail, :f :cas, :value [2 4], :process 0, :time 44637561821, :error :connect, :index 15320}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 44648826753, :index 15322}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 44650716484, :error :connect, :index 15324}
{:type :invoke, :f :cas, :value [4 2], :process 8, :time 44674053387, :index 15332}
{:type :fail, :f :cas, :value [4 2], :process 8, :time 44675881252, :error :connect, :index 15333}
{:type :invoke, :f :read, :value nil, :process 5, :time 44687687500, :index 15339}
{:type :fail, :f :read, :value nil, :process 5, :time 44689752753, :error :connect, :index 15341}
{:type :invoke, :f :write, :value 0, :process 29, :time 44691518848, :index 15342}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 44692745093, :index 15343}
{:type :fail, :f :write, :value 0, :process 29, :time 44693447502, :error :connect, :index 15344}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 44694863080, :error :connect, :index 15345}
{:type :invoke, :f :write, :value 1, :process 7, :time 44696865022, :index 15346}
{:type :fail, :f :write, :value 1, :process 7, :time 44698651151, :error :connect, :index 15347}
{:type :invoke, :f :write, :value 1, :process 4, :time 44699176072, :index 15348}
{:type :invoke, :f :read, :value nil, :process 22, :time 44708822137, :index 15349}
{:type :fail, :f :write, :value 1, :process 4, :time 44709136926, :error :connect, :index 15350}
{:type :invoke, :f :read, :value nil, :process 4, :time 44709253445, :index 15351}
{:type :invoke, :f :read, :value nil, :process 29, :time 44710222060, :index 15353}
{:type :fail, :f :read, :value nil, :process 22, :time 44711297484, :error :connect, :index 15354}
{:type :fail, :f :read, :value nil, :process 4, :time 44711374222, :error :connect, :index 15355}
{:type :fail, :f :read, :value nil, :process 29, :time 44712144977, :error :connect, :index 15358}
{:type :invoke, :f :read, :value nil, :process 3, :time 44728643824, :index 15360}
{:type :fail, :f :read, :value nil, :process 3, :time 44730344825, :error :connect, :index 15361}
{:type :invoke, :f :read, :value nil, :process 8, :time 44731150683, :index 15362}
{:type :fail, :f :read, :value nil, :process 8, :time 44732962588, :error :connect, :index 15363}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 44735221644, :index 15364}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 44737012907, :error :connect, :index 15365}
{:type :invoke, :f :write, :value 4, :process 6, :time 44743833865, :index 15368}
{:type :fail, :f :write, :value 4, :process 6, :time 44745418268, :error :connect, :index 15369}
{:type :invoke, :f :read, :value nil, :process 8, :time 44777290982, :index 15384}
{:type :fail, :f :read, :value nil, :process 8, :time 44778862961, :error :connect, :index 15385}
{:type :invoke, :f :cas, :value [2 0], :process 21, :time 44786126665, :index 15386}
{:type :fail, :f :cas, :value [2 0], :process 21, :time 44787961135, :error :connect, :index 15387}
{:type :invoke, :f :read, :value nil, :process 21, :time 44792223956, :index 15390}
{:type :fail, :f :read, :value nil, :process 21, :time 44793952820, :error :connect, :index 15391}
{:type :invoke, :f :write, :value 2, :process 7, :time 44805939474, :index 15392}
{:type :fail, :f :write, :value 2, :process 7, :time 44807546555, :error :connect, :index 15393}
{:type :invoke, :f :write, :value 1, :process 21, :time 44811208999, :index 15394}
{:type :invoke, :f :write, :value 2, :process 4, :time 44811622948, :index 15395}
{:type :fail, :f :write, :value 1, :process 21, :time 44813126407, :error :connect, :index 15396}
{:type :fail, :f :write, :value 2, :process 4, :time 44813416149, :error :connect, :index 15397}
{:type :invoke, :f :write, :value 2, :process 0, :time 44823986305, :index 15400}
{:type :fail, :f :write, :value 2, :process 0, :time 44825585297, :error :connect, :index 15401}
{:type :invoke, :f :write, :value 2, :process 3, :time 44844607311, :index 15402}
{:type :fail, :f :write, :value 2, :process 3, :time 44846246504, :error :connect, :index 15403}
{:type :invoke, :f :cas, :value [4 2], :process 0, :time 44848844594, :index 15404}
{:type :fail, :f :cas, :value [4 2], :process 0, :time 44850928552, :error :connect, :index 15405}
{:type :invoke, :f :cas, :value [0 2], :process 21, :time 44852466361, :index 15406}
{:type :fail, :f :cas, :value [0 2], :process 21, :time 44854535503, :error :connect, :index 15407}
{:type :invoke, :f :cas, :value [4 2], :process 22, :time 44872576629, :index 15411}
{:type :invoke, :f :read, :value nil, :process 0, :time 44873192854, :index 15412}
{:type :invoke, :f :read, :value nil, :process 5, :time 44874013731, :index 15414}
{:type :fail, :f :cas, :value [4 2], :process 22, :time 44874456685, :error :connect, :index 15415}
{:type :fail, :f :read, :value nil, :process 0, :time 44875112001, :error :connect, :index 15416}
{:type :fail, :f :read, :value nil, :process 5, :time 44875908071, :error :connect, :index 15417}
{:type :invoke, :f :cas, :value [1 2], :process 0, :time 44884347234, :index 15420}
{:type :invoke, :f :read, :value nil, :process 8, :time 44885131555, :index 15421}
{:type :fail, :f :cas, :value [1 2], :process 0, :time 44886080058, :error :connect, :index 15422}
{:type :fail, :f :read, :value nil, :process 8, :time 44887142544, :error :connect, :index 15423}
{:type :invoke, :f :read, :value nil, :process 3, :time 44894507860, :index 15426}
{:type :fail, :f :read, :value nil, :process 3, :time 44896619396, :error :connect, :index 15427}
{:type :invoke, :f :write, :value 1, :process 29, :time 44901344334, :index 15429}
{:type :fail, :f :write, :value 1, :process 29, :time 44902973434, :error :connect, :index 15431}
{:type :invoke, :f :write, :value 0, :process 5, :time 44909162632, :index 15434}
{:type :invoke, :f :write, :value 2, :process 6, :time 44909689544, :index 15435}
{:type :fail, :f :write, :value 0, :process 5, :time 44910933399, :error :connect, :index 15436}
{:type :fail, :f :write, :value 2, :process 6, :time 44911269557, :error :connect, :index 15437}
{:type :invoke, :f :cas, :value [1 2], :process 7, :time 44919808847, :index 15438}
{:type :fail, :f :cas, :value [1 2], :process 7, :time 44921720404, :error :connect, :index 15440}
{:type :invoke, :f :cas, :value [2 0], :process 8, :time 44926413347, :index 15443}
{:type :fail, :f :cas, :value [2 0], :process 8, :time 44928446695, :error :connect, :index 15445}
{:type :invoke, :f :write, :value 4, :process 21, :time 44954865198, :index 15456}
{:type :fail, :f :write, :value 4, :process 21, :time 44956391226, :error :connect, :index 15457}
{:type :invoke, :f :read, :value nil, :process 29, :time 44963227423, :index 15458}
{:type :fail, :f :read, :value nil, :process 29, :time 44964799228, :error :connect, :index 15459}
{:type :invoke, :f :write, :value 4, :process 0, :time 44981349370, :index 15466}
{:type :fail, :f :write, :value 4, :process 0, :time 44983115102, :error :connect, :index 15467}
{:type :invoke, :f :cas, :value [1 3], :process 0, :time 44993374609, :index 15470}
{:type :fail, :f :cas, :value [1 3], :process 0, :time 44995391043, :error :connect, :index 15471}
{:type :invoke, :f :write, :value 1, :process 3, :time 45004878617, :index 15474}
{:type :invoke, :f :cas, :value [1 2], :process 4, :time 45005657174, :index 15475}
{:type :fail, :f :write, :value 1, :process 3, :time 45006702309, :error :connect, :index 15476}
{:type :fail, :f :cas, :value [1 2], :process 4, :time 45007456527, :error :connect, :index 15477}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 45011801552, :index 15478}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 45013329178, :error :connect, :index 15479}
{:type :invoke, :f :read, :value nil, :process 6, :time 45017513778, :index 15480}
{:type :fail, :f :read, :value nil, :process 6, :time 45019555546, :error :connect, :index 15481}
{:type :invoke, :f :write, :value 2, :process 3, :time 45023975785, :index 15484}
{:type :fail, :f :write, :value 2, :process 3, :time 45025771797, :error :connect, :index 15485}
{:type :invoke, :f :cas, :value [4 2], :process 8, :time 45045598755, :index 15492}
{:type :fail, :f :cas, :value [4 2], :process 8, :time 45047421797, :error :connect, :index 15493}
{:type :invoke, :f :write, :value 3, :process 22, :time 45054731591, :index 15494}
{:type :fail, :f :write, :value 3, :process 22, :time 45056793509, :error :connect, :index 15495}
{:type :invoke, :f :write, :value 2, :process 0, :time 45060657527, :index 15496}
{:type :fail, :f :write, :value 2, :process 0, :time 45062653866, :error :connect, :index 15498}
{:type :invoke, :f :write, :value 2, :process 4, :time 45067709031, :index 15500}
{:type :fail, :f :write, :value 2, :process 4, :time 45069684432, :error :connect, :index 15501}
{:type :invoke, :f :write, :value 0, :process 7, :time 45088988089, :index 15512}
{:type :invoke, :f :cas, :value [0 3], :process 29, :time 45090066512, :index 15513}
{:type :fail, :f :write, :value 0, :process 7, :time 45090857106, :error :connect, :index 15514}
{:type :invoke, :f :read, :value nil, :process 0, :time 45091248289, :index 15515}
{:type :invoke, :f :read, :value nil, :process 21, :time 45091663656, :index 15516}
{:type :fail, :f :cas, :value [0 3], :process 29, :time 45092052432, :error :connect, :index 15517}
{:type :fail, :f :read, :value nil, :process 0, :time 45093121656, :error :connect, :index 15518}
{:type :fail, :f :read, :value nil, :process 21, :time 45093869340, :error :connect, :index 15519}
{:type :invoke, :f :write, :value 1, :process 3, :time 45100046426, :index 15522}
{:type :fail, :f :write, :value 1, :process 3, :time 45101858539, :error :connect, :index 15523}
{:type :invoke, :f :read, :value nil, :process 5, :time 45107204690, :index 15525}
{:type :invoke, :f :read, :value nil, :process 21, :time 45109106446, :index 15527}
{:type :fail, :f :read, :value nil, :process 5, :time 45109387860, :error :connect, :index 15528}
{:type :fail, :f :read, :value nil, :process 21, :time 45111001057, :error :connect, :index 15529}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 45121823185, :index 15531}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 45123654429, :error :connect, :index 15534}
{:type :invoke, :f :write, :value 0, :process 8, :time 45133688940, :index 15540}
{:type :fail, :f :write, :value 0, :process 8, :time 45135525419, :error :connect, :index 15541}
{:type :invoke, :f :cas, :value [3 1], :process 29, :time 45178299362, :index 15556}
{:type :fail, :f :cas, :value [3 1], :process 29, :time 45180402195, :error :connect, :index 15558}
{:type :invoke, :f :write, :value 4, :process 22, :time 45226074628, :index 15573}
{:type :fail, :f :write, :value 4, :process 22, :time 45228162261, :error :connect, :index 15575}
{:type :invoke, :f :write, :value 3, :process 4, :time 45253950161, :index 15583}
{:type :fail, :f :write, :value 3, :process 4, :time 45256088924, :error :connect, :index 15586}
{:type :invoke, :f :cas, :value [0 1], :process 7, :time 45287126330, :index 15595}
{:type :fail, :f :cas, :value [0 1], :process 7, :time 45289149192, :error :connect, :index 15597}
{:type :invoke, :f :read, :value nil, :process 0, :time 45292400647, :index 15599}
{:type :fail, :f :read, :value nil, :process 0, :time 45294249361, :error :connect, :index 15601}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
