{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :invoke, :f :write, :value 4, :process 22, :time 10780061836, :index 1953}
{:type :fail, :f :write, :value 4, :process 22, :time 10782265899, :error :connect, :index 1955}
{:type :invoke, :f :write, :value 1, :process 7, :time 10798294136, :index 1962}
{:type :fail, :f :write, :value 1, :process 7, :time 10799925053, :error :connect, :index 1963}
{:type :invoke, :f :write, :value 1, :process 22, :time 10806542320, :index 1964}
{:type :fail, :f :write, :value 1, :process 22, :time 10808418767, :error :connect, :index 1966}
{:type :invoke, :f :write, :value 4, :process 5, :time 10819339947, :index 1968}
{:type :fail, :f :write, :value 4, :process 5, :time 10821365521, :error :connect, :index 1970}
{:type :invoke, :f :cas, :value [1 3], :process 4, :time 10841426181, :index 1978}
{:type :fail, :f :cas, :value [1 3], :process 4, :time 10843291047, :error :connect, :index 1979}
{:type :invoke, :f :read, :value nil, :process 8, :time 10848259058, :index 1982}
{:type :fail, :f :read, :value nil, :process 8, :time 10850343448, :error :connect, :index 1983}
{:type :invoke, :f :cas, :value [1 1], :process 29, :time 10854402315, :index 1984}
{:type :invoke, :f :read, :value nil, :process 0, :time 10856207140, :index 1985}
{:type :fail, :f :cas, :value [1 1], :process 29, :time 10856548093, :error :connect, :index 1986}
{:type :fail, :f :read, :value nil, :process 0, :time 10858248372, :error :connect, :index 1987}
{:type :invoke, :f :read, :value nil, :process 0, :time 10876517496, :index 1988}
{:type :fail, :f :read, :value nil, :process 0, :time 10878925638, :error :connect, :index 1989}
{:type :invoke, :f :cas, :value [4 4], :process 29, :time 10889821027, :index 1992}
{:type :fail, :f :cas, :value [4 4], :process 29, :time 10891670354, :error :connect, :index 1994}
{:type :invoke, :f :write, :value 1, :process 4, :time 10894563393, :index 1996}
{:type :fail, :f :write, :value 1, :process 4, :time 10896566073, :error :connect, :index 1997}
{:type :invoke, :f :write, :value 0, :process 7, :time 10901184817, :index 1998}
{:type :invoke, :f :write, :value 2, :process 5, :time 10901648567, :index 1999}
{:type :fail, :f :write, :value 0, :process 7, :time 10903130760, :error :connect, :index 2000}
{:type :fail, :f :write, :value 2, :process 5, :time 10903736672, :error :connect, :index 2001}
{:type :invoke, :f :read, :value nil, :process 3, :time 10904096672, :index 2002}
{:type :invoke, :f :read, :value nil, :process 4, :time 10905829170, :index 2003}
{:type :fail, :f :read, :value nil, :process 3, :time 10906057682, :error :connect, :index 2004}
{:type :fail, :f :read, :value nil, :process 4, :time 10907917866, :error :connect, :index 2006}
{:type :invoke, :f :cas, :value [4 2], :process 6, :time 10919346559, :index 2015}
{:type :fail, :f :cas, :value [4 2], :process 6, :time 10921224534, :error :connect, :index 2017}
{:type :invoke, :f :write, :value 4, :process 21, :time 10979802623, :index 2032}
{:type :fail, :f :write, :value 4, :process 21, :time 10981671385, :error :connect, :index 2034}
{:type :invoke, :f :cas, :value [4 3], :process 22, :time 10989679256, :index 2039}
{:type :fail, :f :cas, :value [4 3], :process 22, :time 10991701316, :error :connect, :index 2041}
{:type :invoke, :f :write, :value 3, :process 22, :time 10997964411, :index 2042}
{:type :fail, :f :write, :value 3, :process 22, :time 10999771333, :error :connect, :index 2043}
{:type :invoke, :f :cas, :value [0 3], :process 6, :time 11003481128, :index 2044}
{:type :fail, :f :cas, :value [0 3], :process 6, :time 11005315747, :error :connect, :index 2046}
{:type :invoke, :f :write, :value 2, :process 29, :time 11005941157, :index 2048}
{:type :fail, :f :write, :value 2, :process 29, :time 11008366236, :error :connect, :index 2051}
{:type :invoke, :f :write, :value 4, :process 7, :time 11029403412, :index 2058}
{:type :fail, :f :write, :value 4, :process 7, :time 11031200184, :error :connect, :index 2059}
{:type :invoke, :f :read, :value nil, :process 0, :time 11034202055, :index 2060}
{:type :fail, :f :read, :value nil, :process 0, :time 11036291650, :error :connect, :index 2061}
{:type :invoke, :f :write, :value 4, :process 7, :time 11038474351, :index 2062}
{:type :invoke, :f :write, :value 3, :process 29, :time 11038570718, :index 2063}
{:type :invoke, :f :read, :value nil, :process 8, :time 11039609015, :index 2064}
{:type :fail, :f :write, :value 4, :process 7, :time 11040505265, :error :connect, :index 2065}
{:type :fail, :f :write, :value 3, :process 29, :time 11040505160, :error :connect, :index 2066}
{:type :fail, :f :read, :value nil, :process 8, :time 11041217593, :error :connect, :index 2067}
{:type :invoke, :f :write, :value 2, :process 8, :time 11041327039, :index 2068}
{:type :fail, :f :write, :value 2, :process 8, :time 11042932540, :error :connect, :index 2069}
{:type :invoke, :f :write, :value 2, :process 4, :time 11055172993, :index 2070}
{:type :fail, :f :write, :value 2, :process 4, :time 11056741770, :error :connect, :index 2071}
{:type :invoke, :f :read, :value nil, :process 4, :time 11061999448, :index 2072}
{:type :fail, :f :read, :value nil, :process 4, :time 11063542646, :error :connect, :index 2073}
{:type :invoke, :f :write, :value 4, :process 7, :time 11068810551, :index 2074}
{:type :fail, :f :write, :value 4, :process 7, :time 11070838191, :error :connect, :index 2075}
{:type :invoke, :f :read, :value nil, :process 21, :time 11071932003, :index 2076}
{:type :fail, :f :read, :value nil, :process 21, :time 11073880389, :error :connect, :index 2078}
{:type :invoke, :f :write, :value 4, :process 3, :time 11080316138, :index 2082}
{:type :fail, :f :write, :value 4, :process 3, :time 11082393053, :error :connect, :index 2083}
{:type :invoke, :f :cas, :value [3 0], :process 22, :time 11084040218, :index 2085}
{:type :fail, :f :cas, :value [3 0], :process 22, :time 11085967613, :error :connect, :index 2087}
{:type :invoke, :f :cas, :value [1 2], :process 5, :time 11087989038, :index 2088}
{:type :fail, :f :cas, :value [1 2], :process 5, :time 11089862824, :error :connect, :index 2089}
{:type :invoke, :f :write, :value 4, :process 6, :time 11092582915, :index 2090}
{:type :fail, :f :write, :value 4, :process 6, :time 11094209757, :error :connect, :index 2091}
{:type :invoke, :f :read, :value nil, :process 4, :time 11096815510, :index 2092}
{:type :fail, :f :read, :value nil, :process 4, :time 11098547754, :error :connect, :index 2093}
{:type :invoke, :f :read, :value nil, :process 6, :time 11104465075, :index 2094}
{:type :fail, :f :read, :value nil, :process 6, :time 11106081050, :error :connect, :index 2095}
{:type :invoke, :f :read, :value nil, :process 5, :time 11114129491, :index 2096}
{:type :fail, :f :read, :value nil, :process 5, :time 11116008071, :error :connect, :index 2098}
{:type :invoke, :f :write, :value 1, :process 8, :time 11128201762, :index 2100}
{:type :fail, :f :write, :value 1, :process 8, :time 11130098191, :error :connect, :index 2101}
{:type :invoke, :f :read, :value nil, :process 29, :time 11137802794, :index 2102}
{:type :fail, :f :read, :value nil, :process 29, :time 11139674294, :error :connect, :index 2104}
{:type :invoke, :f :read, :value nil, :process 0, :time 11145554102, :index 2108}
{:type :fail, :f :read, :value nil, :process 0, :time 11147366166, :error :connect, :index 2109}
{:type :invoke, :f :cas, :value [4 0], :process 3, :time 11147669283, :index 2110}
{:type :fail, :f :cas, :value [4 0], :process 3, :time 11149634201, :error :connect, :index 2111}
{:type :invoke, :f :read, :value nil, :process 3, :time 11156898790, :index 2113}
{:type :fail, :f :read, :value nil, :process 3, :time 11158601290, :error :connect, :index 2115}
{:type :invoke, :f :write, :value 1, :process 7, :time 11200072510, :index 2132}
{:type :fail, :f :write, :value 1, :process 7, :time 11201925207, :error :connect, :index 2133}
{:type :invoke, :f :cas, :value [3 0], :process 29, :time 11207921231, :index 2134}
{:type :fail, :f :cas, :value [3 0], :process 29, :time 11209693615, :error :connect, :index 2135}
{:type :invoke, :f :cas, :value [3 0], :process 5, :time 11214297124, :index 2138}
{:type :fail, :f :cas, :value [3 0], :process 5, :time 11216403947, :error :connect, :index 2139}
{:type :invoke, :f :cas, :value [2 0], :process 4, :time 11218820165, :index 2140}
{:type :invoke, :f :cas, :value [4 4], :process 8, :time 11220335400, :index 2141}
{:type :fail, :f :cas, :value [2 0], :process 4, :time 11221176635, :error :connect, :index 2142}
{:type :fail, :f :cas, :value [4 4], :process 8, :time 11222759302, :error :connect, :index 2143}
{:type :invoke, :f :read, :value nil, :process 29, :time 11225962690, :index 2145}
{:type :fail, :f :read, :value nil, :process 29, :time 11227916742, :error :connect, :index 2147}
{:type :invoke, :f :read, :value nil, :process 22, :time 11231222200, :index 2150}
{:type :fail, :f :read, :value nil, :process 22, :time 11232873012, :error :connect, :index 2151}
{:type :invoke, :f :cas, :value [1 1], :process 21, :time 11250141033, :index 2152}
{:type :fail, :f :cas, :value [1 1], :process 21, :time 11251901633, :error :connect, :index 2154}
{:type :invoke, :f :write, :value 1, :process 8, :time 11255027840, :index 2157}
{:type :fail, :f :write, :value 1, :process 8, :time 11256983520, :error :connect, :index 2159}
{:type :invoke, :f :read, :value nil, :process 0, :time 11258628927, :index 2160}
{:type :fail, :f :read, :value nil, :process 0, :time 11260438893, :error :connect, :index 2161}
{:type :invoke, :f :read, :value nil, :process 0, :time 11265692140, :index 2164}
{:type :fail, :f :read, :value nil, :process 0, :time 11267468837, :error :connect, :index 2165}
{:type :invoke, :f :write, :value 4, :process 6, :time 11268348475, :index 2166}
{:type :fail, :f :write, :value 4, :process 6, :time 11270361744, :error :connect, :index 2167}
{:type :invoke, :f :read, :value nil, :process 8, :time 11273239129, :index 2168}
{:type :fail, :f :read, :value nil, :process 8, :time 11275086937, :error :connect, :index 2169}
{:type :invoke, :f :write, :value 2, :process 4, :time 11282441293, :index 2172}
{:type :fail, :f :write, :value 2, :process 4, :time 11284476743, :error :connect, :index 2173}
{:type :invoke, :f :read, :value nil, :process 3, :time 11292862412, :index 2178}
{:type :fail, :f :read, :value nil, :process 3, :time 11294503416, :error :connect, :index 2179}
{:type :invoke, :f :write, :value 1, :process 8, :time 11318346912, :index 2184}
{:type :fail, :f :write, :value 1, :process 8, :time 11320410044, :error :connect, :index 2185}
{:type :invoke, :f :read, :value nil, :process 21, :time 11324169238, :index 2186}
{:type :fail, :f :read, :value nil, :process 21, :time 11325926161, :error :connect, :index 2187}
{:type :invoke, :f :read, :value nil, :process 0, :time 11329732243, :index 2189}
{:type :fail, :f :read, :value nil, :process 0, :time 11331941931, :error :connect, :index 2192}
{:type :invoke, :f :read, :value nil, :process 22, :time 11336135976, :index 2195}
{:type :fail, :f :read, :value nil, :process 22, :time 11338064012, :error :connect, :index 2197}
{:type :invoke, :f :cas, :value [4 4], :process 5, :time 11354679883, :index 2200}
{:type :fail, :f :cas, :value [4 4], :process 5, :time 11356528500, :error :connect, :index 2201}
{:type :invoke, :f :read, :value nil, :process 6, :time 11370637152, :index 2207}
{:type :fail, :f :read, :value nil, :process 6, :time 11372432519, :error :connect, :index 2208}
{:type :invoke, :f :read, :value nil, :process 4, :time 11373739855, :index 2211}
{:type :invoke, :f :cas, :value [2 0], :process 29, :time 11374185182, :index 2212}
{:type :invoke, :f :write, :value 4, :process 8, :time 11375676861, :index 2214}
{:type :fail, :f :read, :value nil, :process 4, :time 11375852717, :error :connect, :index 2215}
{:type :fail, :f :cas, :value [2 0], :process 29, :time 11376350915, :error :connect, :index 2217}
{:type :fail, :f :write, :value 4, :process 8, :time 11378843508, :error :connect, :index 2221}
{:type :invoke, :f :write, :value 3, :process 7, :time 11386196616, :index 2224}
{:type :fail, :f :write, :value 3, :process 7, :time 11387875545, :error :connect, :index 2225}
{:type :invoke, :f :cas, :value [2 4], :process 21, :time 11407190822, :index 2228}
{:type :fail, :f :cas, :value [2 4], :process 21, :time 11408923287, :error :connect, :index 2230}
{:type :invoke, :f :cas, :value [3 2], :process 8, :time 11426077117, :index 2234}
{:type :fail, :f :cas, :value [3 2], :process 8, :time 11428117327, :error :connect, :index 2235}
{:type :invoke, :f :read, :value nil, :process 0, :time 11435215182, :index 2241}
{:type :fail, :f :read, :value nil, :process 0, :time 11437228069, :error :connect, :index 2243}
{:type :invoke, :f :write, :value 0, :process 4, :time 11445090676, :index 2244}
{:type :fail, :f :write, :value 0, :process 4, :time 11446959706, :error :connect, :index 2245}
{:type :invoke, :f :read, :value nil, :process 3, :time 11448762544, :index 2246}
{:type :fail, :f :read, :value nil, :process 3, :time 11450454986, :error :connect, :index 2247}
{:type :invoke, :f :cas, :value [3 1], :process 21, :time 11451199411, :index 2248}
{:type :fail, :f :cas, :value [3 1], :process 21, :time 11453057576, :error :connect, :index 2249}
{:type :invoke, :f :cas, :value [1 0], :process 5, :time 11482795882, :index 2252}
{:type :fail, :f :cas, :value [1 0], :process 5, :time 11484809921, :error :connect, :index 2254}
{:type :invoke, :f :read, :value nil, :process 22, :time 11488314488, :index 2256}
{:type :fail, :f :read, :value nil, :process 22, :time 11490202597, :error :connect, :index 2258}
{:type :invoke, :f :read, :value nil, :process 7, :time 11492150856, :index 2261}
{:type :fail, :f :read, :value nil, :process 7, :time 11494151047, :error :connect, :index 2263}
{:type :invoke, :f :write, :value 0, :process 7, :time 11500389816, :index 2264}
{:type :fail, :f :write, :value 0, :process 7, :time 11502190960, :error :connect, :index 2265}
{:type :invoke, :f :write, :value 2, :process 22, :time 11502467190, :index 2266}
{:type :invoke, :f :read, :value nil, :process 5, :time 11504109919, :index 2267}
{:type :fail, :f :write, :value 2, :process 22, :time 11504314052, :error :connect, :index 2268}
{:type :fail, :f :read, :value nil, :process 5, :time 11506109232, :error :connect, :index 2269}
{:type :invoke, :f :write, :value 2, :process 0, :time 11508459776, :index 2270}
{:type :fail, :f :write, :value 2, :process 0, :time 11510448541, :error :connect, :index 2273}
{:type :invoke, :f :cas, :value [2 1], :process 4, :time 11521228624, :index 2278}
{:type :fail, :f :cas, :value [2 1], :process 4, :time 11522834845, :error :connect, :index 2279}
{:type :invoke, :f :read, :value nil, :process 29, :time 11532620914, :index 2284}
{:type :fail, :f :read, :value nil, :process 29, :time 11534186232, :error :connect, :index 2287}
{:type :invoke, :f :cas, :value [3 3], :process 0, :time 11537700879, :index 2288}
{:type :fail, :f :cas, :value [3 3], :process 0, :time 11539618101, :error :connect, :index 2289}
{:type :invoke, :f :write, :value 4, :process 21, :time 11546316996, :index 2290}
{:type :fail, :f :write, :value 4, :process 21, :time 11549193228, :error :connect, :index 2291}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 11562720886, :index 2294}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 11563707038, :index 2295}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 11564385078, :error :connect, :index 2296}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 11565768070, :error :connect, :index 2297}
{:type :invoke, :f :write, :value 2, :process 8, :time 11578383664, :index 2300}
{:type :fail, :f :write, :value 2, :process 8, :time 11580343022, :error :connect, :index 2301}
{:type :invoke, :f :read, :value nil, :process 7, :time 11624457066, :index 2306}
{:type :fail, :f :read, :value nil, :process 7, :time 11626533228, :error :connect, :index 2307}
{:type :invoke, :f :write, :value 0, :process 29, :time 11641421012, :index 2310}
{:type :fail, :f :write, :value 0, :process 29, :time 11643028031, :error :connect, :index 2311}
{:type :invoke, :f :write, :value 2, :process 29, :time 11644290834, :index 2312}
{:type :fail, :f :write, :value 2, :process 29, :time 11646036343, :error :connect, :index 2313}
{:type :invoke, :f :write, :value 0, :process 7, :time 11652800175, :index 2315}
{:type :invoke, :f :write, :value 0, :process 5, :time 11653411573, :index 2316}
{:type :fail, :f :write, :value 0, :process 7, :time 11654653906, :error :connect, :index 2318}
{:type :fail, :f :write, :value 0, :process 5, :time 11655054450, :error :connect, :index 2319}
{:type :invoke, :f :read, :value nil, :process 4, :time 11660105273, :index 2322}
{:type :fail, :f :read, :value nil, :process 4, :time 11661881330, :error :connect, :index 2323}
{:type :invoke, :f :cas, :value [2 1], :process 8, :time 11671618279, :index 2327}
{:type :fail, :f :cas, :value [2 1], :process 8, :time 11673519477, :error :connect, :index 2329}
{:type :invoke, :f :write, :value 4, :process 22, :time 11675564128, :index 2331}
{:type :fail, :f :write, :value 4, :process 22, :time 11677341170, :error :connect, :index 2333}
{:type :invoke, :f :read, :value nil, :process 0, :time 11690893711, :index 2339}
{:type :fail, :f :read, :value nil, :process 0, :time 11692450570, :error :connect, :index 2341}
{:type :invoke, :f :write, :value 3, :process 6, :time 11724042522, :index 2346}
{:type :invoke, :f :cas, :value [2 4], :process 21, :time 11724474035, :index 2347}
{:type :fail, :f :write, :value 3, :process 6, :time 11725892883, :error :connect, :index 2348}
{:type :fail, :f :cas, :value [2 4], :process 21, :time 11726181321, :error :connect, :index 2349}
{:type :invoke, :f :cas, :value [1 4], :process 3, :time 11739648912, :index 2352}
{:type :fail, :f :cas, :value [1 4], :process 3, :time 11741603353, :error :connect, :index 2353}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
