{:type :info, :f :start, :value nil, :process :nemesis, :time 5207513883, :index 1720}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5310382849, :index 1723}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10310806038, :index 2649}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10514950497, :index 2690}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15515236143, :index 3695}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15618059878, :index 3720}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20618527275, :index 4598}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20822920761, :index 4613}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25823233409, :index 5414}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 25925887603, :index 5430}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30926383893, :index 5457}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31130692714, :index 5500}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36130989611, :index 6492}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 36234221418, :index 6525}
{:type :invoke, :f :write, :value 0, :process 40, :time 39548104101, :index 7100}
{:type :ok, :f :write, :value 0, :process 40, :time 39552435524, :index 7102}
{:type :invoke, :f :read, :value nil, :process 21, :time 39616677705, :index 7109}
{:type :ok, :f :read, :value 0, :process 21, :time 39623616002, :index 7111}
{:type :invoke, :f :read, :value nil, :process 45, :time 39633479774, :index 7115}
{:type :ok, :f :read, :value 0, :process 45, :time 39638248371, :index 7116}
{:type :invoke, :f :cas, :value [2 2], :process 28, :time 39638324403, :index 7117}
{:type :fail, :f :cas, :value [2 2], :process 28, :time 39643396183, :index 7118}
{:type :invoke, :f :read, :value nil, :process 23, :time 39647660617, :index 7119}
{:type :invoke, :f :write, :value 2, :process 6, :time 39651030035, :index 7120}
{:type :ok, :f :read, :value 0, :process 23, :time 39652548738, :index 7121}
{:type :invoke, :f :read, :value nil, :process 45, :time 39653512292, :index 7122}
{:type :ok, :f :write, :value 2, :process 6, :time 39655723909, :index 7123}
{:type :ok, :f :read, :value 2, :process 45, :time 39658491017, :index 7124}
{:type :invoke, :f :cas, :value [2 4], :process 23, :time 39671817677, :index 7125}
{:type :invoke, :f :write, :value 1, :process 28, :time 39674670686, :index 7126}
{:type :ok, :f :cas, :value [2 4], :process 23, :time 39677076619, :index 7127}
{:type :invoke, :f :read, :value nil, :process 23, :time 39692340351, :index 7129}
{:type :invoke, :f :read, :value nil, :process 45, :time 39707781484, :index 7132}
{:type :invoke, :f :write, :value 3, :process 6, :time 39713985828, :index 7133}
{:type :invoke, :f :read, :value nil, :process 21, :time 39716884370, :index 7134}
{:type :invoke, :f :read, :value nil, :process 40, :time 39726152811, :index 7135}
{:type :ok, :f :write, :value 1, :process 28, :time 39739761725, :index 7137}
{:type :ok, :f :read, :value 1, :process 45, :time 39758643165, :index 7138}
{:type :ok, :f :read, :value 1, :process 40, :time 39758760726, :index 7139}
{:type :ok, :f :read, :value 1, :process 23, :time 39759385588, :index 7141}
{:type :ok, :f :write, :value 3, :process 6, :time 39760640483, :index 7144}
{:type :ok, :f :read, :value 3, :process 21, :time 39760956697, :index 7146}
{:type :invoke, :f :cas, :value [2 2], :process 28, :time 39775049608, :index 7147}
{:type :fail, :f :cas, :value [2 2], :process 28, :time 39781320227, :index 7148}
{:type :invoke, :f :cas, :value [2 4], :process 28, :time 39794584394, :index 7149}
{:type :fail, :f :cas, :value [2 4], :process 28, :time 39800977607, :index 7150}
{:type :invoke, :f :read, :value nil, :process 45, :time 39842934548, :index 7156}
{:type :ok, :f :read, :value 3, :process 45, :time 39847916807, :index 7157}
{:type :invoke, :f :read, :value nil, :process 6, :time 39890936268, :index 7158}
{:type :invoke, :f :read, :value nil, :process 23, :time 39892661429, :index 7159}
{:type :invoke, :f :read, :value nil, :process 21, :time 39936188344, :index 7162}
{:type :invoke, :f :write, :value 0, :process 40, :time 39939022791, :index 7163}
{:type :invoke, :f :cas, :value [3 2], :process 28, :time 39998244678, :index 7166}
{:type :ok, :f :read, :value 3, :process 6, :time 40038208873, :index 7167}
{:type :ok, :f :write, :value 0, :process 40, :time 40039281796, :index 7168}
{:type :ok, :f :read, :value 3, :process 23, :time 40040839590, :index 7171}
{:type :fail, :f :cas, :value [3 2], :process 28, :time 40041679435, :index 7173}
{:type :ok, :f :read, :value 0, :process 21, :time 40041978064, :index 7174}
{:type :invoke, :f :write, :value 3, :process 45, :time 40042178956, :index 7176}
{:type :ok, :f :write, :value 3, :process 45, :time 40047369924, :index 7177}
{:type :invoke, :f :write, :value 2, :process 28, :time 40054919192, :index 7178}
{:type :ok, :f :write, :value 2, :process 28, :time 40059790377, :index 7179}
{:type :invoke, :f :read, :value nil, :process 45, :time 40076626862, :index 7182}
{:type :ok, :f :read, :value 2, :process 45, :time 40081535962, :index 7183}
{:type :invoke, :f :read, :value nil, :process 6, :time 40091531085, :index 7186}
{:type :ok, :f :read, :value 2, :process 6, :time 40097725089, :index 7187}
{:type :invoke, :f :read, :value nil, :process 40, :time 40113550676, :index 7188}
{:type :invoke, :f :write, :value 0, :process 23, :time 40115131593, :index 7189}
{:type :invoke, :f :cas, :value [4 4], :process 6, :time 40176981655, :index 7192}
{:type :invoke, :f :write, :value 4, :process 21, :time 40230285801, :index 7195}
{:type :invoke, :f :read, :value nil, :process 45, :time 40240796234, :index 7196}
{:type :invoke, :f :read, :value nil, :process 28, :time 40252082922, :index 7197}
{:type :ok, :f :read, :value 2, :process 40, :time 40639127357, :index 7198}
{:type :ok, :f :read, :value 0, :process 45, :time 40640862802, :index 7199}
{:type :ok, :f :read, :value 0, :process 28, :time 40642195415, :index 7202}
{:type :ok, :f :write, :value 0, :process 23, :time 40642260222, :index 7203}
{:type :ok, :f :write, :value 4, :process 21, :time 40643421990, :index 7205}
{:type :fail, :f :cas, :value [4 4], :process 6, :time 40643432511, :index 7206}
{:type :invoke, :f :write, :value 1, :process 23, :time 40694039938, :index 7208}
{:type :ok, :f :write, :value 1, :process 23, :time 40700343912, :index 7209}
{:type :invoke, :f :cas, :value [0 0], :process 40, :time 40703475752, :index 7210}
{:type :invoke, :f :read, :value nil, :process 28, :time 40706961579, :index 7211}
{:type :fail, :f :cas, :value [0 0], :process 40, :time 40709016655, :index 7212}
{:type :ok, :f :read, :value 1, :process 28, :time 40712242202, :index 7213}
{:type :invoke, :f :cas, :value [1 1], :process 28, :time 40721493799, :index 7214}
{:type :invoke, :f :read, :value nil, :process 6, :time 40724162864, :index 7215}
{:type :ok, :f :cas, :value [1 1], :process 28, :time 40726357730, :index 7216}
{:type :ok, :f :read, :value 1, :process 6, :time 40729631261, :index 7218}
{:type :invoke, :f :cas, :value [2 0], :process 6, :time 40739887707, :index 7220}
{:type :fail, :f :cas, :value [2 0], :process 6, :time 40746924426, :index 7223}
{:type :invoke, :f :write, :value 1, :process 40, :time 40774292307, :index 7224}
{:type :ok, :f :write, :value 1, :process 40, :time 40779368233, :index 7225}
{:type :invoke, :f :read, :value nil, :process 45, :time 40801600431, :index 7226}
{:type :ok, :f :read, :value 1, :process 45, :time 40806723457, :index 7227}
{:type :invoke, :f :cas, :value [4 2], :process 21, :time 40822114859, :index 7229}
{:type :invoke, :f :write, :value 2, :process 23, :time 40823623925, :index 7230}
{:type :fail, :f :cas, :value [4 2], :process 21, :time 40827576946, :index 7234}
{:type :ok, :f :write, :value 2, :process 23, :time 40829036829, :index 7235}
{:type :invoke, :f :write, :value 3, :process 6, :time 40860190273, :index 7240}
{:type :ok, :f :write, :value 3, :process 6, :time 40865389084, :index 7241}
{:type :invoke, :f :read, :value nil, :process 23, :time 40891314860, :index 7242}
{:type :ok, :f :read, :value 3, :process 23, :time 40896961275, :index 7243}
{:type :invoke, :f :cas, :value [3 3], :process 28, :time 40903629540, :index 7244}
{:type :invoke, :f :cas, :value [1 0], :process 21, :time 40906840982, :index 7245}
{:type :ok, :f :cas, :value [3 3], :process 28, :time 40908744331, :index 7246}
{:type :fail, :f :cas, :value [1 0], :process 21, :time 40912612342, :index 7247}
{:type :invoke, :f :write, :value 0, :process 45, :time 40929009923, :index 7250}
{:type :ok, :f :write, :value 0, :process 45, :time 40934106978, :index 7251}
{:type :invoke, :f :read, :value nil, :process 40, :time 40943643925, :index 7254}
{:type :invoke, :f :cas, :value [3 0], :process 28, :time 40956026378, :index 7255}
{:type :invoke, :f :read, :value nil, :process 6, :time 40965650598, :index 7257}
{:type :invoke, :f :read, :value nil, :process 45, :time 40974368425, :index 7258}
{:type :invoke, :f :write, :value 0, :process 21, :time 40983877248, :index 7259}
{:type :invoke, :f :cas, :value [3 3], :process 23, :time 41001232383, :index 7261}
{:type :invoke, :f :write, :value 4, :process 67, :time 41228613504, :index 7268}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41234709799, :index 7271}
{:type :invoke, :f :cas, :value [4 3], :process 69, :time 41240301015, :index 7272}
{:type :invoke, :f :cas, :value [1 0], :process 82, :time 41397972074, :index 7277}
{:type :ok, :f :read, :value 0, :process 40, :time 41408105309, :index 7278}
{:type :ok, :f :read, :value 0, :process 45, :time 41411239659, :index 7281}
{:type :fail, :f :cas, :value [3 0], :process 28, :time 41413224141, :index 7282}
{:type :fail, :f :cas, :value [3 3], :process 23, :time 41413230523, :index 7283}
{:type :ok, :f :read, :value 0, :process 6, :time 41413827171, :index 7285}
{:type :ok, :f :write, :value 0, :process 21, :time 41414115772, :index 7286}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41438901859, :index 7292}
{:type :invoke, :f :write, :value 1, :process 6, :time 41470516053, :index 7295}
{:type :invoke, :f :read, :value nil, :process 40, :time 41486408229, :index 7296}
{:type :invoke, :f :read, :value nil, :process 4, :time 41512089550, :index 7298}
{:type :invoke, :f :write, :value 4, :process 28, :time 41536505723, :index 7300}
{:type :invoke, :f :cas, :value [0 0], :process 21, :time 41554599643, :index 7301}
{:type :invoke, :f :read, :value nil, :process 23, :time 41555781190, :index 7302}
{:type :invoke, :f :cas, :value [0 3], :process 45, :time 41562472535, :index 7303}
{:type :ok, :f :read, :value 0, :process 40, :time 41566900330, :index 7305}
{:type :ok, :f :write, :value 4, :process 28, :time 41567238693, :index 7306}
{:type :ok, :f :read, :value 4, :process 23, :time 41567579178, :index 7308}
{:type :ok, :f :write, :value 1, :process 6, :time 41567828064, :index 7309}
{:type :fail, :f :cas, :value [0 3], :process 45, :time 41568720932, :index 7310}
{:type :fail, :f :cas, :value [0 0], :process 21, :time 41569206672, :index 7312}
{:type :invoke, :f :write, :value 1, :process 45, :time 41619976955, :index 7315}
{:type :ok, :f :write, :value 1, :process 45, :time 41629891313, :index 7317}
{:type :invoke, :f :cas, :value [4 2], :process 23, :time 41667826326, :index 7321}
{:type :fail, :f :cas, :value [4 2], :process 23, :time 41675995684, :index 7322}
{:type :invoke, :f :write, :value 4, :process 21, :time 41696576370, :index 7323}
{:type :ok, :f :write, :value 4, :process 21, :time 41702261425, :index 7324}
{:type :invoke, :f :read, :value nil, :process 40, :time 41719164461, :index 7325}
{:type :ok, :f :read, :value 4, :process 40, :time 41724192065, :index 7326}
{:type :invoke, :f :cas, :value [0 0], :process 6, :time 41728087763, :index 7327}
{:type :fail, :f :cas, :value [0 0], :process 6, :time 41733489379, :index 7328}
{:type :invoke, :f :cas, :value [1 1], :process 28, :time 41748484209, :index 7331}
{:type :fail, :f :cas, :value [1 1], :process 28, :time 41754330390, :index 7334}
{:type :invoke, :f :cas, :value [4 3], :process 45, :time 41804135613, :index 7339}
{:type :invoke, :f :read, :value nil, :process 28, :time 41808591208, :index 7340}
{:type :ok, :f :cas, :value [4 3], :process 45, :time 41809199359, :index 7341}
{:type :ok, :f :read, :value 3, :process 28, :time 41813900514, :index 7343}
{:type :invoke, :f :read, :value nil, :process 6, :time 41822759652, :index 7346}
{:type :ok, :f :read, :value 3, :process 6, :time 41827651985, :index 7349}
{:type :invoke, :f :write, :value 1, :process 23, :time 41859262866, :index 7354}
{:type :invoke, :f :cas, :value [0 1], :process 28, :time 41861174724, :index 7355}
{:type :invoke, :f :write, :value 2, :process 40, :time 41864469170, :index 7357}
{:type :ok, :f :write, :value 1, :process 23, :time 41867222208, :index 7359}
{:type :ok, :f :write, :value 2, :process 40, :time 41868962768, :index 7362}
{:type :fail, :f :cas, :value [0 1], :process 28, :time 41869446224, :index 7363}
{:type :invoke, :f :cas, :value [4 1], :process 23, :time 41876483661, :index 7365}
{:type :fail, :f :cas, :value [4 1], :process 23, :time 41882353749, :index 7367}
{:type :invoke, :f :cas, :value [3 2], :process 21, :time 41890517521, :index 7369}
{:type :invoke, :f :cas, :value [4 1], :process 23, :time 41891623274, :index 7370}
{:type :invoke, :f :cas, :value [3 4], :process 6, :time 41895910610, :index 7371}
{:type :fail, :f :cas, :value [3 2], :process 21, :time 41896925685, :index 7372}
{:type :fail, :f :cas, :value [4 1], :process 23, :time 41897073194, :index 7373}
{:type :fail, :f :cas, :value [3 4], :process 6, :time 41901616233, :index 7374}
{:type :invoke, :f :read, :value nil, :process 23, :time 41910327722, :index 7375}
{:type :ok, :f :read, :value 2, :process 23, :time 41915502706, :index 7376}
{:type :invoke, :f :cas, :value [4 4], :process 40, :time 41936235415, :index 7381}
{:type :fail, :f :cas, :value [4 4], :process 40, :time 41941042355, :index 7382}
{:type :invoke, :f :write, :value 1, :process 21, :time 41968196889, :index 7383}
{:type :ok, :f :write, :value 1, :process 21, :time 41973590164, :index 7384}
{:type :invoke, :f :write, :value 1, :process 23, :time 41980764447, :index 7388}
{:type :ok, :f :write, :value 1, :process 23, :time 41986163373, :index 7391}
{:type :invoke, :f :cas, :value [0 4], :process 45, :time 41986471572, :index 7392}
{:type :fail, :f :cas, :value [0 4], :process 45, :time 41991139367, :index 7394}
{:type :invoke, :f :cas, :value [0 4], :process 28, :time 42018716499, :index 7399}
{:type :invoke, :f :write, :value 3, :process 21, :time 42022855205, :index 7400}
{:type :fail, :f :cas, :value [0 4], :process 28, :time 42024633675, :index 7401}
{:type :invoke, :f :write, :value 1, :process 23, :time 42024450025, :index 7402}
{:type :ok, :f :write, :value 3, :process 21, :time 42027613471, :index 7404}
{:type :ok, :f :write, :value 1, :process 23, :time 42030971748, :index 7406}
{:type :invoke, :f :read, :value nil, :process 40, :time 42054300311, :index 7409}
{:type :ok, :f :read, :value 1, :process 40, :time 42059279205, :index 7410}
{:type :invoke, :f :write, :value 0, :process 21, :time 42064870851, :index 7411}
{:type :ok, :f :write, :value 0, :process 21, :time 42069469026, :index 7412}
{:type :invoke, :f :read, :value nil, :process 6, :time 42077879970, :index 7413}
{:type :invoke, :f :write, :value 1, :process 28, :time 42081888946, :index 7415}
{:type :ok, :f :read, :value 0, :process 6, :time 42083969594, :index 7416}
{:type :ok, :f :write, :value 1, :process 28, :time 42087290250, :index 7418}
{:type :invoke, :f :write, :value 4, :process 23, :time 42135217196, :index 7422}
{:type :invoke, :f :write, :value 3, :process 45, :time 42160404524, :index 7424}
{:type :invoke, :f :write, :value 4, :process 40, :time 42178535450, :index 7425}
{:type :invoke, :f :read, :value nil, :process 28, :time 42224541066, :index 7426}
{:type :invoke, :f :cas, :value [2 1], :process 21, :time 42227733767, :index 7428}
{:type :invoke, :f :read, :value nil, :process 6, :time 42273231280, :index 7431}
{:type :ok, :f :write, :value 3, :process 45, :time 46034166848, :index 7434}
{:type :ok, :f :read, :value 4, :process 28, :time 46034522505, :index 7435}
{:type :ok, :f :cas, :value [4 3], :process 69, :time 46035605166, :index 7437}
{:type :ok, :f :read, :value 3, :process 4, :time 46036189413, :index 7439}
{:type :ok, :f :write, :value 4, :process 67, :time 46036558811, :index 7441}
{:type :fail, :f :cas, :value [1 0], :process 82, :time 46037812399, :index 7445}
{:type :ok, :f :read, :value 3, :process 6, :time 46038213253, :index 7446}
{:type :ok, :f :write, :value 4, :process 40, :time 46038268023, :index 7447}
{:type :fail, :f :cas, :value [2 1], :process 21, :time 46038473872, :index 7448}
{:type :ok, :f :write, :value 4, :process 23, :time 46038707244, :index 7450}
{:type :invoke, :f :read, :value nil, :process 45, :time 46042414824, :index 7453}
{:type :ok, :f :read, :value 4, :process 45, :time 46048513482, :index 7458}
{:type :invoke, :f :write, :value 0, :process 28, :time 46066554088, :index 7460}
{:type :ok, :f :write, :value 0, :process 28, :time 46072417717, :index 7461}
{:type :invoke, :f :cas, :value [1 3], :process 69, :time 46105917444, :index 7471}
{:type :fail, :f :cas, :value [1 3], :process 69, :time 46112118063, :index 7475}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46439172028, :index 7585}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46542583352, :index 7605}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51543113513, :index 8198}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51747507206, :index 8205}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56747834131, :index 9176}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 56850623516, :index 9200}
