{:type :info, :f :start, :value nil, :process :nemesis, :time 5208610546, :index 1631}
{:type :info, :f :start, :value [:isolated {"ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 5311263235, :index 1646}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 10311747787, :index 1770}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 10517075417, :index 1849}
{:type :info, :f :start, :value nil, :process :nemesis, :time 15517355469, :index 3796}
{:type :info, :f :start, :value [:isolated {"ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com"}}], :process :nemesis, :time 15620053108, :index 3853}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 20620485912, :index 5862}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 20824690822, :index 5951}
{:type :info, :f :start, :value nil, :process :nemesis, :time 25825013199, :index 7958}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 25927631750, :index 7993}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 30928072821, :index 9961}
{:type :invoke, :f :write, :value 3, :process 32, :time 31123960578, :index 10047}
{:type :fail, :f :write, :value 3, :process 32, :time 31125728857, :error :connect, :index 10049}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 31132573573, :index 10055}
{:type :invoke, :f :read, :value nil, :process 15, :time 31167554025, :index 10065}
{:type :fail, :f :read, :value nil, :process 15, :time 31169426280, :error :connect, :index 10067}
{:type :invoke, :f :read, :value nil, :process 11, :time 31202686246, :index 10072}
{:type :fail, :f :read, :value nil, :process 11, :time 31204635050, :error :connect, :index 10073}
{:type :invoke, :f :write, :value 0, :process 33, :time 31227452311, :index 10080}
{:type :fail, :f :write, :value 0, :process 33, :time 31229082425, :error :connect, :index 10082}
{:type :invoke, :f :write, :value 2, :process 18, :time 31230392079, :index 10084}
{:type :fail, :f :write, :value 2, :process 18, :time 31232521783, :error :connect, :index 10085}
{:type :invoke, :f :write, :value 1, :process 15, :time 31246659074, :index 10088}
{:type :fail, :f :write, :value 1, :process 15, :time 31248754967, :error :connect, :index 10089}
{:type :invoke, :f :write, :value 0, :process 39, :time 31265683844, :index 10095}
{:type :fail, :f :write, :value 0, :process 39, :time 31267647914, :error :connect, :index 10097}
{:type :invoke, :f :write, :value 3, :process 34, :time 31292618942, :index 10104}
{:type :fail, :f :write, :value 3, :process 34, :time 31294410666, :error :connect, :index 10105}
{:type :invoke, :f :read, :value nil, :process 37, :time 31295577290, :index 10106}
{:type :fail, :f :read, :value nil, :process 37, :time 31297581278, :error :connect, :index 10108}
{:type :invoke, :f :read, :value nil, :process 32, :time 31301001732, :index 10110}
{:type :fail, :f :read, :value nil, :process 32, :time 31303100174, :error :connect, :index 10111}
{:type :invoke, :f :read, :value nil, :process 34, :time 31313667080, :index 10112}
{:type :invoke, :f :read, :value nil, :process 10, :time 31314237756, :index 10113}
{:type :fail, :f :read, :value nil, :process 34, :time 31315699399, :error :connect, :index 10115}
{:type :fail, :f :read, :value nil, :process 10, :time 31316276994, :error :connect, :index 10116}
{:type :invoke, :f :write, :value 0, :process 32, :time 31317365879, :index 10118}
{:type :invoke, :f :cas, :value [2 4], :process 11, :time 31318905407, :index 10119}
{:type :fail, :f :write, :value 0, :process 32, :time 31319455019, :error :connect, :index 10120}
{:type :fail, :f :cas, :value [2 4], :process 11, :time 31320950218, :error :connect, :index 10121}
{:type :invoke, :f :cas, :value [2 4], :process 33, :time 31327353711, :index 10122}
{:type :fail, :f :cas, :value [2 4], :process 33, :time 31329268203, :error :connect, :index 10123}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 31344121802, :index 10126}
{:type :fail, :f :cas, :value [2 1], :process 36, :time 31345964816, :error :connect, :index 10127}
{:type :invoke, :f :cas, :value [0 2], :process 37, :time 31353855504, :index 10128}
{:type :invoke, :f :read, :value nil, :process 32, :time 31355737046, :index 10129}
{:type :fail, :f :cas, :value [0 2], :process 37, :time 31355978301, :error :connect, :index 10130}
{:type :fail, :f :read, :value nil, :process 32, :time 31357728490, :error :connect, :index 10131}
{:type :invoke, :f :read, :value nil, :process 39, :time 31361911685, :index 10132}
{:type :fail, :f :read, :value nil, :process 39, :time 31363587826, :error :connect, :index 10133}
{:type :invoke, :f :cas, :value [2 3], :process 32, :time 31364988266, :index 10134}
{:type :fail, :f :cas, :value [2 3], :process 32, :time 31366618694, :error :connect, :index 10135}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 31387528137, :index 10138}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 31389685404, :error :connect, :index 10140}
{:type :invoke, :f :read, :value nil, :process 18, :time 31401789038, :index 10146}
{:type :fail, :f :read, :value nil, :process 18, :time 31403527422, :error :connect, :index 10147}
{:type :invoke, :f :write, :value 0, :process 11, :time 31409216107, :index 10150}
{:type :invoke, :f :write, :value 2, :process 36, :time 31410239053, :index 10151}
{:type :fail, :f :write, :value 0, :process 11, :time 31411255610, :error :connect, :index 10152}
{:type :fail, :f :write, :value 2, :process 36, :time 31412154447, :error :connect, :index 10154}
{:type :invoke, :f :read, :value nil, :process 39, :time 31433855268, :index 10158}
{:type :fail, :f :read, :value nil, :process 39, :time 31435689866, :error :connect, :index 10159}
{:type :invoke, :f :write, :value 0, :process 15, :time 31439031038, :index 10161}
{:type :invoke, :f :read, :value nil, :process 10, :time 31442963675, :index 10163}
{:type :fail, :f :write, :value 0, :process 15, :time 31443923461, :error :connect, :index 10164}
{:type :fail, :f :read, :value nil, :process 10, :time 31444737846, :error :connect, :index 10165}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 31444860862, :index 10166}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 31446699836, :error :connect, :index 10167}
{:type :invoke, :f :read, :value nil, :process 34, :time 31450974204, :index 10171}
{:type :fail, :f :read, :value nil, :process 34, :time 31452835274, :error :connect, :index 10173}
{:type :invoke, :f :cas, :value [1 1], :process 39, :time 31464976240, :index 10178}
{:type :fail, :f :cas, :value [1 1], :process 39, :time 31466565866, :error :connect, :index 10179}
{:type :invoke, :f :read, :value nil, :process 33, :time 31476536578, :index 10184}
{:type :fail, :f :read, :value nil, :process 33, :time 31478370201, :error :connect, :index 10185}
{:type :invoke, :f :write, :value 0, :process 34, :time 31497093583, :index 10188}
{:type :fail, :f :write, :value 0, :process 34, :time 31498892968, :error :connect, :index 10189}
{:type :invoke, :f :write, :value 2, :process 11, :time 31506523236, :index 10192}
{:type :fail, :f :write, :value 2, :process 11, :time 31508607261, :error :connect, :index 10193}
{:type :invoke, :f :write, :value 4, :process 18, :time 31515790693, :index 10194}
{:type :invoke, :f :cas, :value [3 3], :process 32, :time 31516351591, :index 10195}
{:type :fail, :f :write, :value 4, :process 18, :time 31517451900, :error :connect, :index 10196}
{:type :fail, :f :cas, :value [3 3], :process 32, :time 31518024998, :error :connect, :index 10197}
{:type :invoke, :f :read, :value nil, :process 11, :time 31521863421, :index 10198}
{:type :fail, :f :read, :value nil, :process 11, :time 31523734765, :error :connect, :index 10199}
{:type :invoke, :f :write, :value 4, :process 10, :time 31523969905, :index 10200}
{:type :invoke, :f :read, :value nil, :process 11, :time 31524992263, :index 10201}
{:type :fail, :f :write, :value 4, :process 10, :time 31525993603, :error :connect, :index 10202}
{:type :fail, :f :read, :value nil, :process 11, :time 31527024242, :error :connect, :index 10203}
{:type :invoke, :f :cas, :value [3 0], :process 36, :time 31540402306, :index 10206}
{:type :invoke, :f :cas, :value [4 2], :process 39, :time 31541911494, :index 10207}
{:type :fail, :f :cas, :value [3 0], :process 36, :time 31542321098, :error :connect, :index 10208}
{:type :fail, :f :cas, :value [4 2], :process 39, :time 31543622397, :error :connect, :index 10209}
{:type :invoke, :f :cas, :value [0 0], :process 11, :time 31551274205, :index 10210}
{:type :invoke, :f :cas, :value [2 0], :process 34, :time 31552161364, :index 10211}
{:type :fail, :f :cas, :value [0 0], :process 11, :time 31553112940, :error :connect, :index 10213}
{:type :invoke, :f :read, :value nil, :process 37, :time 31553232496, :index 10214}
{:type :fail, :f :cas, :value [2 0], :process 34, :time 31554215253, :error :connect, :index 10215}
{:type :fail, :f :read, :value nil, :process 37, :time 31555104194, :error :connect, :index 10217}
{:type :invoke, :f :read, :value nil, :process 18, :time 31569717948, :index 10222}
{:type :fail, :f :read, :value nil, :process 18, :time 31571869533, :error :connect, :index 10223}
{:type :invoke, :f :cas, :value [0 1], :process 15, :time 31587181563, :index 10226}
{:type :fail, :f :cas, :value [0 1], :process 15, :time 31589009639, :error :connect, :index 10227}
{:type :invoke, :f :cas, :value [1 1], :process 10, :time 31601253461, :index 10228}
{:type :fail, :f :cas, :value [1 1], :process 10, :time 31603119201, :error :connect, :index 10229}
{:type :invoke, :f :write, :value 1, :process 18, :time 31610145079, :index 10230}
{:type :invoke, :f :read, :value nil, :process 32, :time 31610326197, :index 10231}
{:type :fail, :f :write, :value 1, :process 18, :time 31612354522, :error :connect, :index 10233}
{:type :fail, :f :read, :value nil, :process 32, :time 31612416460, :error :connect, :index 10234}
{:type :invoke, :f :write, :value 1, :process 15, :time 31612553966, :index 10235}
{:type :fail, :f :write, :value 1, :process 15, :time 31614547419, :error :connect, :index 10237}
{:type :invoke, :f :write, :value 3, :process 11, :time 31676386460, :index 10251}
{:type :invoke, :f :cas, :value [4 4], :process 33, :time 31676653950, :index 10252}
{:type :fail, :f :write, :value 3, :process 11, :time 31678397165, :error :connect, :index 10254}
{:type :fail, :f :cas, :value [4 4], :process 33, :time 31678669344, :error :connect, :index 10255}
{:type :invoke, :f :read, :value nil, :process 34, :time 31681559811, :index 10256}
{:type :fail, :f :read, :value nil, :process 34, :time 31683354297, :error :connect, :index 10257}
{:type :invoke, :f :read, :value nil, :process 37, :time 31692366392, :index 10258}
{:type :fail, :f :read, :value nil, :process 37, :time 31694221781, :error :connect, :index 10259}
{:type :invoke, :f :write, :value 1, :process 10, :time 31694393999, :index 10260}
{:type :fail, :f :write, :value 1, :process 10, :time 31696068882, :error :connect, :index 10261}
{:type :invoke, :f :cas, :value [3 1], :process 18, :time 31710608847, :index 10272}
{:type :fail, :f :cas, :value [3 1], :process 18, :time 31712272958, :error :connect, :index 10273}
{:type :invoke, :f :cas, :value [2 4], :process 36, :time 31713583101, :index 10274}
{:type :fail, :f :cas, :value [2 4], :process 36, :time 31715579728, :error :connect, :index 10275}
{:type :invoke, :f :cas, :value [3 0], :process 18, :time 31725540321, :index 10276}
{:type :fail, :f :cas, :value [3 0], :process 18, :time 31727173743, :error :connect, :index 10277}
{:type :invoke, :f :read, :value nil, :process 39, :time 31737892374, :index 10283}
{:type :fail, :f :read, :value nil, :process 39, :time 31739712042, :error :connect, :index 10285}
{:type :invoke, :f :cas, :value [4 4], :process 15, :time 31753805770, :index 10290}
{:type :fail, :f :cas, :value [4 4], :process 15, :time 31755424312, :error :connect, :index 10291}
{:type :invoke, :f :cas, :value [0 4], :process 39, :time 31773965345, :index 10292}
{:type :fail, :f :cas, :value [0 4], :process 39, :time 31775998259, :error :connect, :index 10293}
{:type :invoke, :f :write, :value 4, :process 33, :time 31788958536, :index 10296}
{:type :fail, :f :write, :value 4, :process 33, :time 31790873890, :error :connect, :index 10298}
{:type :invoke, :f :read, :value nil, :process 32, :time 31796648826, :index 10300}
{:type :fail, :f :read, :value nil, :process 32, :time 31798322449, :error :connect, :index 10301}
{:type :invoke, :f :write, :value 4, :process 15, :time 31798694443, :index 10302}
{:type :fail, :f :write, :value 4, :process 15, :time 31800562012, :error :connect, :index 10303}
{:type :invoke, :f :cas, :value [3 3], :process 10, :time 31802333329, :index 10305}
{:type :fail, :f :cas, :value [3 3], :process 10, :time 31804382046, :error :connect, :index 10307}
{:type :invoke, :f :read, :value nil, :process 33, :time 31817132031, :index 10308}
{:type :invoke, :f :cas, :value [2 2], :process 32, :time 31817619821, :index 10309}
{:type :fail, :f :read, :value nil, :process 33, :time 31819063640, :error :connect, :index 10310}
{:type :fail, :f :cas, :value [2 2], :process 32, :time 31819481798, :error :connect, :index 10311}
{:type :invoke, :f :read, :value nil, :process 10, :time 31824651504, :index 10312}
{:type :fail, :f :read, :value nil, :process 10, :time 31826616532, :error :connect, :index 10313}
{:type :invoke, :f :cas, :value [4 3], :process 11, :time 31829638084, :index 10315}
{:type :fail, :f :cas, :value [4 3], :process 11, :time 31831533537, :error :connect, :index 10317}
{:type :invoke, :f :cas, :value [4 3], :process 37, :time 31850485652, :index 10322}
{:type :fail, :f :cas, :value [4 3], :process 37, :time 31852577779, :error :connect, :index 10323}
{:type :invoke, :f :write, :value 4, :process 11, :time 31853786754, :index 10325}
{:type :invoke, :f :cas, :value [2 4], :process 10, :time 31854901931, :index 10326}
{:type :fail, :f :write, :value 4, :process 11, :time 31855772687, :error :connect, :index 10328}
{:type :fail, :f :cas, :value [2 4], :process 10, :time 31857221354, :error :connect, :index 10330}
{:type :invoke, :f :cas, :value [2 2], :process 34, :time 31879622975, :index 10336}
{:type :fail, :f :cas, :value [2 2], :process 34, :time 31881242834, :error :connect, :index 10337}
{:type :invoke, :f :read, :value nil, :process 39, :time 31899294482, :index 10342}
{:type :fail, :f :read, :value nil, :process 39, :time 31901125225, :error :connect, :index 10343}
{:type :invoke, :f :cas, :value [4 2], :process 18, :time 31901457136, :index 10344}
{:type :fail, :f :cas, :value [4 2], :process 18, :time 31903331128, :error :connect, :index 10345}
{:type :invoke, :f :cas, :value [2 1], :process 36, :time 31909847757, :index 10346}
{:type :fail, :f :cas, :value [2 1], :process 36, :time 31911580365, :error :connect, :index 10347}
{:type :invoke, :f :write, :value 3, :process 36, :time 31917842900, :index 10348}
{:type :fail, :f :write, :value 3, :process 36, :time 31919896737, :error :connect, :index 10349}
{:type :invoke, :f :read, :value nil, :process 15, :time 31921824167, :index 10350}
{:type :fail, :f :read, :value nil, :process 15, :time 31923831673, :error :connect, :index 10351}
{:type :invoke, :f :write, :value 2, :process 32, :time 31931816035, :index 10357}
{:type :fail, :f :write, :value 2, :process 32, :time 31933519891, :error :connect, :index 10358}
{:type :invoke, :f :write, :value 2, :process 11, :time 31939014357, :index 10361}
{:type :fail, :f :write, :value 2, :process 11, :time 31941208994, :error :connect, :index 10364}
{:type :invoke, :f :read, :value nil, :process 32, :time 31944805624, :index 10368}
{:type :fail, :f :read, :value nil, :process 32, :time 31946473391, :error :connect, :index 10369}
{:type :invoke, :f :write, :value 1, :process 10, :time 31951542224, :index 10370}
{:type :fail, :f :write, :value 1, :process 10, :time 31953545087, :error :connect, :index 10371}
{:type :invoke, :f :write, :value 0, :process 15, :time 31959105089, :index 10372}
{:type :fail, :f :write, :value 0, :process 15, :time 31961179299, :error :connect, :index 10373}
{:type :invoke, :f :write, :value 3, :process 34, :time 31976507324, :index 10374}
{:type :fail, :f :write, :value 3, :process 34, :time 31978356966, :error :connect, :index 10376}
{:type :invoke, :f :read, :value nil, :process 37, :time 31989852199, :index 10380}
{:type :fail, :f :read, :value nil, :process 37, :time 31991906250, :error :connect, :index 10381}
{:type :invoke, :f :read, :value nil, :process 33, :time 32002322845, :index 10384}
{:type :invoke, :f :read, :value nil, :process 18, :time 32002605737, :index 10385}
{:type :fail, :f :read, :value nil, :process 33, :time 32004151634, :error :connect, :index 10386}
{:type :fail, :f :read, :value nil, :process 18, :time 32004538163, :error :connect, :index 10387}
{:type :invoke, :f :write, :value 2, :process 36, :time 32022157364, :index 10394}
{:type :fail, :f :write, :value 2, :process 36, :time 32024026344, :error :connect, :index 10395}
{:type :invoke, :f :write, :value 2, :process 32, :time 32035734719, :index 10398}
{:type :fail, :f :write, :value 2, :process 32, :time 32037548714, :error :connect, :index 10399}
{:type :invoke, :f :read, :value nil, :process 10, :time 32037809060, :index 10400}
{:type :fail, :f :read, :value nil, :process 10, :time 32039644478, :error :connect, :index 10401}
{:type :invoke, :f :cas, :value [4 4], :process 11, :time 32067446290, :index 10406}
{:type :fail, :f :cas, :value [4 4], :process 11, :time 32069283280, :error :connect, :index 10407}
{:type :invoke, :f :cas, :value [3 0], :process 39, :time 32097387075, :index 10410}
{:type :fail, :f :cas, :value [3 0], :process 39, :time 32099237147, :error :connect, :index 10411}
{:type :invoke, :f :write, :value 0, :process 18, :time 32105798039, :index 10414}
{:type :invoke, :f :read, :value nil, :process 34, :time 32107604976, :index 10415}
{:type :fail, :f :write, :value 0, :process 18, :time 32107890407, :error :connect, :index 10416}
{:type :fail, :f :read, :value nil, :process 34, :time 32109801710, :error :connect, :index 10417}
{:type :invoke, :f :write, :value 3, :process 37, :time 32116174457, :index 10419}
{:type :invoke, :f :read, :value nil, :process 15, :time 32117438449, :index 10421}
{:type :fail, :f :write, :value 3, :process 37, :time 32118122773, :error :connect, :index 10422}
{:type :fail, :f :read, :value nil, :process 15, :time 32119506619, :error :connect, :index 10424}
{:type :invoke, :f :read, :value nil, :process 32, :time 32133806408, :index 10428}
{:type :fail, :f :read, :value nil, :process 32, :time 32135649022, :error :connect, :index 10430}
{:type :invoke, :f :write, :value 3, :process 36, :time 32148315027, :index 10438}
{:type :fail, :f :write, :value 3, :process 36, :time 32150172957, :error :connect, :index 10439}
{:type :invoke, :f :write, :value 2, :process 33, :time 32159453835, :index 10440}
{:type :fail, :f :write, :value 2, :process 33, :time 32161511591, :error :connect, :index 10442}
{:type :invoke, :f :write, :value 0, :process 10, :time 32198914578, :index 10458}
{:type :fail, :f :write, :value 0, :process 10, :time 32200640628, :error :connect, :index 10459}
{:type :invoke, :f :write, :value 3, :process 11, :time 32248545556, :index 10480}
{:type :fail, :f :write, :value 3, :process 11, :time 32250428104, :error :connect, :index 10481}
{:type :info, :f :start, :value nil, :process :nemesis, :time 36132843800, :index 11989}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 36235899365, :index 12040}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 41236328243, :index 13978}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 41440651412, :index 14057}
{:type :info, :f :start, :value nil, :process :nemesis, :time 46440911413, :index 16012}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}}], :process :nemesis, :time 46544435320, :index 16050}
{:type :info, :f :stop, :value nil, :process :nemesis, :time 51544957696, :index 18059}
{:type :info, :f :stop, :value :network-healed, :process :nemesis, :time 51760377786, :index 18139}
{:type :info, :f :start, :value nil, :process :nemesis, :time 56760639309, :index 20108}
{:type :info, :f :start, :value [:isolated {"ec2-107-23-238-236.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-212-141-207.compute-1.amazonaws.com" #{"ec2-18-234-71-213.compute-1.amazonaws.com" "ec2-18-232-141-137.compute-1.amazonaws.com" "ec2-35-174-16-155.compute-1.amazonaws.com"}, "ec2-18-234-71-213.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-18-232-141-137.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}, "ec2-35-174-16-155.compute-1.amazonaws.com" #{"ec2-107-23-238-236.compute-1.amazonaws.com" "ec2-18-212-141-207.compute-1.amazonaws.com"}}], :process :nemesis, :time 58959059891, :index 20994}
